[2020-02-04 13:34] arantespp commented on #2184
This configuration works for me:
[code]

[2020-02-04 14:52] tomrum commented on #4602
Take a look at your amplify generated dynamo db tables. In mine there are no columns e.g. _version or _deleted in there that this error message is referencing so maybe this is the reason the sync query is not working?

[2020-02-04 14:54] tomrum commented on #4602
Tried all the above fixes and they don't work for me - can't get datastore to sync with appsync and dynamodb! Need help please.

[2020-02-04 15:15] askdesigners commented on #4075
@manueliglesias  @CinnyCao I would say the reason for not using Amplify is that it add a _lot_ of build size, and if auth is the only thing you want it's pretty major overkill. I too would like an answer on how to use federated logins without the whole amplify package. I like keeping my build sizes down, as should any frontend developer. That said, the `amazon-cognito-identity-js` is pretty shite.

[2020-02-04 15:37] davidbiller opened #4840 "Q: Cognito anonymous accounts? => AppSync owner rights => Transformation"
Auth, Cognito, AppSync, DynamoDB

I want to make it easier for my users to use my app.
I would like to remove the regestrieren.

However, since it is sensitive data, it still needs a permissions system. Additionally, it should still be possible to view the data on another device.
So I can't avoid a regestration.

Currently:
The user can log in via oAuth (Facebook, Google). Or directly via Cognito,

[2020-02-04 15:48] askdesigners commented on #2456
I just wanted to pop in and say that I've found cognito to be an overall disappointment. Everything about it is either extremely limiting, or extremely confusing. There are so many concepts that are mentioned by never explained well, and all documentation assumes that you don't mind using 400kb frontend libraries just for freaking user authentication. Amplify seems cool if you are doing 100% stand

[2020-02-04 15:54] davidbiller commented on #2089
Any update here?

[2020-02-04 15:55] PunkHaz4rd commented on #2456
This is definitely the place to rant about Cognito, instead of private emailing the support of AWS for an issue concerning the features available in Cognito.

[2020-02-04 16:04] SebSchwartz opened #4841 "Allow external AppSync API to use DataStore"
**Is your feature request related to a problem? Please describe.**
We are using an external appsync api and want to use it with Datastore (since appsync offline mode doesn't seems to be updated any day soon with the new Apollo client version -> https://github.com/awslabs/aws-mobile-appsync-sdk-js/issues/448). But it's right now not possible to do it with this configuration. I cannot generate the c

[2020-02-04 16:24] askdesigners commented on #1143
How is it possible that such a standard thing is so poorly supported... For all the problems cognito solves it easily creates just as many if not more. Really shitty tool.

[2020-02-04 16:55] Audace commented on #2605
We're having the same issue intermittently with a react-native app. I checked the lambda metrics and it doesn't seem that we're anywhere close to our timeout limit there. This happens across Android and iOS devices. The error is the following:
[code]

[2020-02-04 17:25] ashika01 commented on #4838
There is already an issue open for this and we are investigating on this. #4815

[2020-02-04 18:17] ashika01 commented on #4838
Closing this issue as Duplicate of #4815 . Please monitor updates on the issue mentioned. We are currently investigating this and will pool in this information to our investigastion. Thank you for reporting this.

[2020-02-04 18:17] #4838 closed

[2020-02-04 18:25] ashika01 commented on #4833
@ericclemmons I think this should be with the CLI.

[2020-02-04 18:45] dantasfiles commented on #4836
You're using the old `@connection(name:...)` style. If you rewrite it with the new `@key`/`@connection(keyName:...)` style, it may be easier to think about. For instance, you probably can get rid of the `Listing.favoritedBy` connection because you'll never do a query on a listing and want to then see the users that favorited it.

[2020-02-04 18:59] siddharthsharma94 commented on #4836
hmm so how would that look like?

[code]

does that seem right, im not really understanding how linking a key name will like an array of favorites to the listings.

[2020-02-04 19:15] bijanmmarkes commented on #399
Any updates on this issue?

[2020-02-04 19:36] #4834 closed

[2020-02-04 20:22] jitendra-koodo commented on #4832
Found the problem/solution with the help of AWS support engineer. In case someone needs help...

Subscription only works in app if returned fields in corresponding mutation match with corresponding returned fields in subscription definition. If this is not the case, subscription would only work on console but not in APIs.

[2020-02-04 20:22] #4832 closed

[2020-02-04 20:45] visusnet commented on #4813
The update changes the behavior of subscriptions. The new behavior is described here: https://aws.amazon.com/de/blogs/mobile/appsync-realtime/

The legacy AWS AppSync PubSub provider created MQTT connections via websockets. The new real-time AWS AppSync PubSub provider uses pure websockets. The legacy API was able to work with multiple root fields in subscriptions which are prohibited by GraphQL's

[2020-02-04 20:48] undefobj commented on #4808
@mlecoq would a solution where we emitted events to Hub work for you? https://aws-amplify.github.io/docs/js/hub

[2020-02-04 20:54] xai1983kbu commented on #1852
+1

[2020-02-04 20:56] ericclemmons commented on #4832
@jitendra-koodo I'm glad you got this resolved!

Oddly enough, I've been testing with a local app and had trouble reproducing, for other reasons:

1. `updateAlbum` and `onUpdateAlbum` originally had the same fields returned.
1. Removing fields from `onUpdateAlbum` (in `src/graphql/subscriptions.js` still returned the full payload:

[code]

[code]

[code]

From the looks of it, because the `schema.

[2020-02-04 21:00] jitendra-koodo commented on #4832
@ericclemmons Try removing any non-nullable field.

[2020-02-04 21:00] mlecoq commented on #4808
@undefobj sure, I’ve never used Hub but after reading the docs it looks to be a good fit

[2020-02-04 21:24] undefobj commented on #4808
Ok great we're still looking at some designs here but this is good feedback. Thanks.

[2020-02-04 21:29] ericclemmons commented on #4832
I had `version` (as I'm using `@versioned`) removed in the above test. This is tricky... 🤔

[2020-02-04 21:52] #4604 closed

[2020-02-04 22:34] ashika01 commented on #4815
@mariotsi @EugeneDraitsev : are you using react-native? There was a recent fix some issue with cache. Could you try 2.2.3-unstable.18 ?

[2020-02-04 23:13] magjack opened #4843 "Graphql Subscriptions Auth not working as expected."
** Which Category is your question related to? **
API graphql

** What AWS Services are you utilizing? **
AWS AppSync

** Provide additional details e.g. code snippets **
Using amplify.js 2.2.2 and cli  @aws-amplify/cli@4.13.1

I have a graphql scheme that includes the following:
![image](https://user-images.githubusercontent.com/40371034/73794307-0dcb7b00-47a0-11ea-9a87-642e6688ff8e.png)

Orders

[2020-02-04 23:18] EugeneDraitsev commented on #4815
@ashika01 2.2.3-unstable.18 is still unavailable, but I checked 2.2.3-unstable.17 and it work fine with this version. Thanks for super fast fix!

[2020-02-05 01:13] 1f47a opened #4846 "ng build Error TS2709: Cannot use namespace 'AmplifyUI' as a type."
**Describe the bug**
Building my app with the command
`ng build --prod --aot --vendor-chunk --common-chunk --delete-output-path --buildOptimizer --configuration=test --outputPath=dist/test`
fails with the error
[code]

**Expected behavior**
Build is successful

**Screenshots**
![image](https://user-images.githubusercontent.com/6573710/73801917-0fcd2280-4810-11ea-935c-199743680f01.png)

<details>

[2020-02-05 05:37] dudenamedjune opened #4847 "S3Image component aws-amplify-react not able to distinguish a successful upload"
**Describe the bug**
I'm not sure this is a bug or if this is the expected behavior. If it is the latter I can open a feature request.

**To Reproduce**
Refresh the page and you can see that onLoad has been called due to the image being loaded.

Steps to reproduce the behavior:

1. Consume <S3Image />
2. pass the prop onLoad
3. notice on component mount onLoad is called

**Expected behavior**
I wo

[2020-02-05 07:00] juuyan commented on #4837
go with graphql-cli

[2020-02-05 07:00] #4837 closed

[2020-02-05 07:10] SimonChow9527 commented on #2648
Hi, I faced the same problem today, and I somehow managed to figured out a solution:

`API.del("items", "/items/object/id/sortkey", myInit)`, and this works for me.

[2020-02-05 09:54] mariotsi commented on #4815
Hey,
I don’t use react-native, just react.

Which version can I try to use?

Thanks!
On 4 Feb 2020, 23:18 +0000, Eugene Draitsev <notifications@github.com>, wrote:

[2020-02-05 10:26] miteshgodhani commented on #4602
Facing same issue. below is error message showing in browser  console.

I have followed steps provided at https://aws-amplify.github.io/docs/js/datastore with Angular application. it seems it is not generating model properly for default fields like _version etc.

`[WARN] 50:42.80 DataStore - Sync error subscription failed Connection failed: {"errors":[{"message":"Validation error of type FieldUnde

[2020-02-05 12:24] davidbiller opened #4849 "Convert an oAuth/cognito account to a cognito/oAuth account"
If a user has already registered with a mail address, but then uses Login with Facebook, cognito will create a separate account.
This means that the data will be lost.

Is it possible to change this?
Like this:
https://firebase.google.com/docs/auth/web/anonymous-auth?hl=de#convert-an-anonymous-account-to-a-permanent-account

[2020-02-05 12:30] luisgregson commented on #4754
**Could not find a declaration file for module 'zen-observable'**

`aws-amplify` has a dependency of `@amplify/api` which has a dependency on `zen-observable`, however the types (`@types/zen-observable`) are only listed as a dev dependency, when they should be a full dependency.

The workaround is to install `@types/zen-observable` `^0.8.6` locally.

**Could not find a declaration file for module

[2020-02-05 13:53] m5r commented on #4644
Amplify is all about enhancing the developer experience to let the developers focus on business requirements & deliver apps with great user experience and having to forego SSR, one of the key features to deliver better user experience, to use DataStore is kind of off putting.

[2020-02-05 14:26] sebastianpicklum commented on #1852
+1

[2020-02-05 14:58] escar opened #4850 "Credentials are not refreshed once expired"
`(...) Amplify automatically signs requests with short term credentials from a Cognito Identity Pool which automatically expire, rotate, and refresh by the Amplify client libraries.(...)` - [amplify js docs](https://aws-amplify.github.io/docs/js/authentication)

After 1 hour, the default AWS credentials duration, we start getting 403's.
This is a single page app.. once we refresh the browser and A

[2020-02-05 17:03] ashika01 commented on #4815
@mariotsi : try the unstable one, but if its react I dont think that would work. I just opened a PR for the root cause of this tho.

[2020-02-05 17:33] andrestone commented on #4831
@ericclemmons, I'm curious if you meant to say this is an existing feature or a a good feature request.

In the latter case, I thought of maybe adding a new functionTemplate bundling the `graphql/` definitions and adding the required `aws-amplify` to the package dependencies.

If this use case is already covered somewhere I can't find, please let me know :)

Thanks.

[2020-02-05 18:32] jordanranz commented on #4821
Moving to the Amplify CLI issue queue for better exposure.

[2020-02-05 18:42] rmclaughlin-nelnet commented on #3224
What I would really like is to use Amplify but instead of going directly to Cognito, it hits my webserver instead and I can then route the relevant calls to Cognito. This would allow me to use this great package, but still get the extra security of httpOnly cookies.

[2020-02-05 18:44] visusnet commented on #3912
@stdmn I have posted the component that we are currently using here: https://github.com/aws-amplify/amplify-js/issues/4813#issuecomment-582106596

[2020-02-05 19:25] jordanranz commented on #4839
Hey @alexladerman, this particular question would be better suited for the Amplify CLI. I'll transfer this issue there for better exposure.

[2020-02-05 19:37] Amplifiyer commented on #4602
@miteshgodhani and @tomrum The issue mentioned here has been fixed, what you are experiencing seems like a different issue. Can you please create a new issue in amplify-js repository?

[2020-02-05 19:50] blazestudios23 commented on #3405
I've updated Amplify and upgraded my app to Typescript and now get this issue, but nothing changed in the code I wrote, it worked fine before doing these to actions.

[2020-02-05 20:08] Rjgoolsby commented on #4704
@gabehollombe-aws I spent the last 3 days trying to get Datastore to sync online and the only way I could get this to work was to start a new project
[code]

I still can't get it to work in a existing project by using `amplify update api`. The datastore saves to the IndexDb but it won't sync with DynamoDb. At a loss right now. So basically it seems like if you already have an AppSync project your

[2020-02-05 20:25] marcelo-gondim opened #4851 "Quasar Framework SSR Support"
Amplify CLI and Quasar Framework projects should support Server Side Rendering. For SEO purposes we need SSR. I would prefer to use the Amplify tooling so I do not have to mix and match various tool chains.

[https://github.com/quasarframework/quasar](https://github.com/quasarframework/quasar)

Thanks

[2020-02-05 20:30] #4793 closed

[2020-02-05 20:30] #4415 closed

[2020-02-05 20:41] jordanranz commented on #4801
Hey @Andrei94, can you elaborate a bit more on the usage of Amplify or `aws-amplify-angular` in your Angular code?

Are you using the `<amplify-authenticator>` tag or a different tag?

I attempted to reproduce with an app using  `<amplify-authenticator></amplify-authenticator>` and see the following when trying to sign in with a nonexistent user:

<img width="524" alt="Screen Shot 2020-02-05 at 12

[2020-02-05 20:48] jordanranz commented on #4836
Seems like you are referring to the Amplify CLI from the `Amplify Version 4.12.0` line. I am going to transfer this issue to the Amplify CLI issue queue for better exposure on GraphQL transform in the CLI.

[2020-02-05 21:33] dave-moser opened #4852 "Subscription Web Sockets closing prematurely."
**Describe the bug**
I have a React web application utilizing AppSync subscriptions.  Intermittently, when the route/page containing the subscription loads, the subscriptions initiate and then the web socket is immediately closed.  I can see this by turning on DEBUG level logging for the Amplify client.  It seems like the issue happens when page loads are handled via react-router-dom using history

[2020-02-05 22:08] jordanranz commented on #4831
`Functions` is an Amplify CLI paradigm. @ericclemmons @andrestone this issue may have better exposure if transferred to the Amplify CLI issue queue. Do you guys have any concern me transferring it there?

[2020-02-05 22:39] JordanSkousen commented on #987
Just started using Cognito and ran into this problem. It's crazy that this problem has gone unfixed for nearly 2 years. I ended up having to prevent users from changing their emails to avoid security holes.

[2020-02-06 06:16] miteshgodhani opened #4853 "AWS Amplify with Angular - Appsync, API, Datastore error "DataStore - Sync error subscription failed Connection failed, Validation error of type FieldUndefined: Field '_version' in type""
**Describe the bug**
I have followed https://aws-amplify.github.io/docs/js/datastore to create demo angular application for offline syncup with API and datastore. but it is showing below error.

`ConsoleLogger.js:94 [WARN] 26:09.704 DataStore - Sync error subscription failed Connection failed:
{"errors":[
{"message":"Validation error of type FieldUndefined: Field '_version' in type 'Post' is undef

[2020-02-06 06:16] danielcai1987 commented on #4670
Hi @michaelbrant , glad to know you have solved the CORS problem. How do you "change the API Gateway to use Lambda Proxy integration"?

Could you explain some detail steps on how do you add a REST API and lambda function?
I once solved the CORS issue. But now I forgot how to do it again. Thank you

[2020-02-06 07:06] ChinchillaReactor commented on #2437
I set it as VS Code... and I have the same

[2020-02-06 07:28] qmau94 opened #4854 "Authentication Federated SignIn stuck at parsing call back URL"
**Describe the bug**
When using the Hosted UI to perform the federated sign in, the authenticate code stuck in parsing call back URL when redirecting to the App. This only happens to the iOS platform.

**To Reproduce**
Steps to reproduce the behavior:

1. Call Auth.federatedSignIn({ provider });
2. Sign in to social account
3. Redirect back to the mobile app
4. App stuck at "parsingCallbackUrl"

*

[2020-02-06 07:33] miteshgodhani commented on #4602
@Amplifiyer  Created new issue at  https://github.com/aws-amplify/amplify-js/issues/4853

[2020-02-06 07:41] LpmRaven opened #4855 "AppSync GraphQL Resolvers using Cloudformation"
Is it possible to generate the graphql resolvers for appsync using cloudformation rather than the amplify CLI?

I wish to reproduce my Appsync and DynamoDB stack in cloudformation as the rest of our services use that.

[2020-02-06 09:22] andrestone commented on #4831
It's ok!

[2020-02-06 11:42] waqas-syed opened #4856 "Separate configuration for multiple AWS accounts"
**Is your feature request related to a problem? Please describe.**
Me and my team have different AWS accounts that are totally independent of each other and cannot see each other's resources. I am aware of the environment workflow where we can have different environments, but for a single environment, say dev, all of us work in our own accounts and will like to use the dev environment in our own a

[2020-02-06 12:15] avronyc opened #4857 "Subscriptions on REAL device stop working after network/connection is lost for a few seconds"
**Describe the bug**
This happens ONLY on a REAL device, not in browser

Once subscribed to receive subscription notifications (graphql) the subscriptions stop receiving updates after connection is lost for a few seconds only.

**To Reproduce**
Steps to reproduce the behavior:

1. Subscribe to a graphql subscription
2. Updates/notifications arrive properly
3. In your device activate airplane mode

[2020-02-06 12:25] bitcrumb commented on #4708
@ericclemmons I replaced the implementation of the `browserOrNode` method in my React Native project with the implementation from the PR & the warning was not shown anymore. So indeed, it seems to address this issue.

[2020-02-06 12:31] waqaramjad commented on #153
Using npm instead of yarn is not working for me.

[2020-02-06 14:42] arabold commented on #3963
Unfortunately this is still an issue 😢

The only way I could work around the problem after hours of trial and error was through using `metro-minify-terser` and a custom `metro.config.js` at described in the following comment: https://github.com/facebook/metro/issues/154#issuecomment-476145653

[2020-02-06 14:57] stdmn commented on #3912
Thanks, @visusnet. I'll take a look

[2020-02-06 18:54] ericclemmons commented on #4708
@bitcrumb Awesome!  We'll get this released!

(Closing since #4803 resolves this)

[2020-02-06 18:54] #4708 closed

[2020-02-06 19:05] #3567 closed

[2020-02-06 19:06] ericclemmons commented on #4831
I'll transfer this over!

[2020-02-06 21:30] jordanranz commented on #4856
Moving to the Amplify CLI issue queue for better exposure as this is related to CLI cloud environments

[2020-02-06 22:04] ashika01 commented on #4841
@SebSchwartz : Thanks for opening this FR and understand your use case. Right now, Datastore relies on having DynamoDB as backend datasource as well as on presence of some specific queries, mutation, subscriptions generated by amplify cli codegen/modelgen.

It is not possible to use aurora at this point because of the delatsync we do for Datastore. Some work need to be done from internal sister te

[2020-02-06 22:04] #4841 closed

[2020-02-06 22:14] almpertis commented on #4025
any news regarding this issue?

[2020-02-06 22:23] almpertis opened #4859 "Object prototype may only be an Object or null"
After upgrading aws-amplify on a react native expo project i got the following error:
"TypeError: Prototype value can only be an object or null"

[2020-02-06 22:35] sammartinez commented on #4849
@davidbiller Amplify acts as a pass through to Amazon Cognito when we do registration (Sign In, Sign Up, etc.) or Hosted UI logins. Please look to ask this question to Amazon Cognito via their [AWS Forums](https://forums.aws.amazon.com/forum.jspa?forumID=173) as this seems to be directly related to Amazon Cognito.

[2020-02-06 22:35] #4849 closed

[2020-02-06 22:41] sammartinez commented on #4775
Resolving based on the link that @iartemiev provided and since we don't have support for this within Amplify

[2020-02-06 22:44] sammartinez commented on #4556
Resolving as above fix is in unstable and looking to do a release shortly

[2020-02-07 00:24] ashika01 commented on #4859
@almpertis Could you provide us with more information. What's your use case, what part of amplify are you using and some sample code if possible?

[2020-02-07 00:43] elorzafe commented on #4853
@miteshgodhani which amplify cli version do you have?
(run `amplify -v` on your terminal)

[2020-02-07 00:55] mpgo13 commented on #4681
Upgraded to angular 9, opting out of Ivy works for me, but would love to see Ivy support soon!

[code]

[2020-02-07 00:56] kaaaren opened #4860 "Web app integrates with IoT got websocket connection error and 'AMQJS0007E Socket error:undefined'"
**Describe the bug**
I am working on a web demo app to create connection with AWS IoT using Amplify. I had simply added auth config and subscribed to topic. I basically followed the [PubSub instruction](https://aws-amplify.github.io/docs/js/pubsub) and instrucion of a [sample app](https://medium.com/serverlessguru/serverless-real-time-reactjs-app-aws-iot-mqtt-17d023954045) to set up aws services:

[2020-02-07 01:26] elorzafe commented on #4860
@kaaaren thanks for your feedback, I haven't tried that guide you mention, can you try the [following](https://aws-amplify.github.io/docs/js/pubsub)

 I think the problem is that PubSub is not configured on Amplify

[2020-02-07 03:39] gentleShark commented on #717
+2

[2020-02-07 05:15] miteshgodhani commented on #4853
@elorzafe  amplify version: **4.13.1**

[2020-02-07 05:18] wywarren commented on #1429
Any updates on this? Is there anyway we can host it on our own static page and port the links over to the cognito arn?

[2020-02-07 06:08] uc-apa opened #4861 "Need to insert bulk data"
I am using data store in my react native app. But I did not find any solution for inserting multiple records in one go which I am receiving from an ajax request. I do not want to write code to insert each record individually as they are always 8000+ in number.
[code]
Please provide a solution. Thank you.

[2020-02-07 08:41] LukasKnuthImagineOn commented on #1429
@wywarren We tried it but there is no way to get it working for certain scenarios. For example, if you want to use the UI to implement OAuth for a mobile App. There is no way to get the Code for the next step in the OAuth Code Grant flow.

We just went with another hosted Service that offers more customization.

[2020-02-07 09:00] qmau94 commented on #4854
https://facebook.github.io/react-native/docs/linking
I forgot to config the React Native Linking part and after fixing it, it worked like a charm. Sorry for the

[2020-02-07 09:00] #4854 closed

[2020-02-07 10:21] chetankumar01 commented on #4689
@rmaroun, did you figure this out?

[2020-02-07 10:46] rmaroun commented on #4689
@chetankumar01 nope, do you have any idea  why is this happening?

[2020-02-07 11:14] ddotx commented on #4681
ERROR TypeError: Cannot read property 'viewContainerRef' of undefined
    at PhotoPickerComponent.push../node_modules/aws-amplify-angular/dist/src/components/storage/photo-picker-component/photo-picker.factory.js.PhotoPickerComponent.loadComponent (photo-picker.factory.js:45)
    at PhotoPickerComponent.push../node_modules/aws-amplify-angular/dist/src/components/storage/photo-picker-component/phot

[2020-02-07 11:38] chetankumar01 commented on #4689
@rmaroun @iartemiev could this issue occur because the app id is different than the service id created for cognito during setup?

[2020-02-07 12:48] anselpeters commented on #2777
same problem.. does not work in the AWS Console

[2020-02-07 13:48] henrymoulton commented on #4089
Is there an update on this issue? We're considering adding using Amplify for push notifications but seeing unclosed issues such as these doesn't inspire confidence/

[2020-02-07 14:18] yangga commented on #4025
same here

[2020-02-07 16:04] njdullea commented on #4089
@henrymoulton There were some challenges with getting the proper installation for 0.6+ (docs are slowly being modified), but I have been successful in setting up PNs for both IOS and Android with Amplify.

[2020-02-07 16:30] sammartinez commented on #4734
@jayalog This is something that we would need to implement on our side as @sw-yx has called out. I am marking this as a feature request and will discuss this internally to verify if this is a use case we are looking to support within the library. Thanks!

[2020-02-07 16:33] pabloFuente commented on #4744
Same exact error here. I've updated to Angular 9, deactivated Ivy and component will fail here because `componentHost` is undefined
![Selection_344](https://user-images.githubusercontent.com/15049534/74046976-da6f3300-49cf-11ea-9fc7-40a3a0952881.png)

[2020-02-07 16:37] foxinni commented on #2951
This helped me https://github.com/aws-amplify/amplify-js/issues/1949#issuecomment-577889484

[2020-02-07 18:09] kaaaren commented on #4860
Thanks elorzafe for helping out! There is a mis-config in my code- since I have host as 'xxxxxx.iot.us-east-1.amazonaws.com', aws_pubsub_endpoint can just be wss://${AWS_CONFIGS.host}/mqtt

[2020-02-07 18:09] #4860 closed

[2020-02-07 18:20] sammartinez commented on #4366
Resolving this issue as it seems the above workaround provided what you were looking for @gauravchaddha

[2020-02-07 18:20] #4366 closed

[2020-02-07 19:01] KingDarBoja commented on #4681
Updating to Angular 9 trigger these warning and error logs:

[code]

Waiting for some release in the meantime.

[2020-02-07 19:25] ericclemmons commented on #2014
I was able to reproduce this within a sample application:

1. Update my Date/Time to 2 hours ahead.
1. Refresh my app (being logged in wasn't necessary)
1. My `AlbumList` component makes this query:

[code]

1. I get a `403` error:

[code]

Note that setting `AWS.config.correctClockSkew = true` didn't fix it:

[code]

[2020-02-07 19:40] brianarpie opened #4863 "How do I fork the package aws-amplify-react?"
I want to fork the aws-amplify-react package to modify some of the components.

How do I fork just that package and include it in my project? I'm confused

[2020-02-07 19:48] almpertis commented on #4859
This is my package.json
[code]
This is the error I am seeing:
![IMG-0005](https://user-images.githubusercontent.com/24302551/74060538-e1f40380-49f2-11ea-9d06-d8682ff8de83.PNG)

Problem was fixed after downgrading to:
[code]
There seems to be a problem with predictions and these packages do not have the predictions build in yet.

I do not know if it is random or not but I first saw the error when I

[2020-02-07 19:55] gaohongwei commented on #4556
We have found out the problem. We use  axios and amply both.  And we have added some global setting to axios, and it polluted amply call. Once we clean up global setting on axios. it works well. Thanks.

[2020-02-07 19:55] #4556 closed

[2020-02-07 19:58] ericclemmons commented on #4556
@gaohongwei May I ask what specific clean up resolved this for you? Thanks!

[2020-02-07 20:02] gaohongwei commented on #4556
We have used some signed  axios request. and set accessKey etc on axios global level. It polluted the Amply API call. So We have cleaned up all global setting on axios.

[2020-02-07 20:10] scolestock commented on #2498
It's worth using the regular expression in the docs: https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html

It includes "map", which will make sure your source maps are loading if needed.

[2020-02-07 20:37] ericclemmons commented on #4740
We'll have to look into it more with input from security, but I can say that apps from companies like Starbucks _do_ use certificate pinning as an additional layer of security to their gateway.

Since you're using React Native, there's a great article on the subject here that you can try out:

[2020-02-07 21:09] rodydavis commented on #1852
With more and more apps adopting PWA, Flutter makes a great first class citizen for making great experiences on Web and mobile. With PWAs coming to desktop this increases the potential even more: https://developers.google.com/web/progressive-web-apps/desktop

There are many flutter apps that use AWS for the backend and would be an awesome fit to make the web even faster for flutter web. The latest

[2020-02-07 21:47] #4274 closed

[2020-02-07 21:47] #4601 closed

[2020-02-07 21:48] bernhardt1 commented on #4089
@henrymoulton
I've been successful using this library twice in the past. But they don't maintain it well so RN updates lead to breaking changes.

It's been a bit of a nightmare:
- 0.6+ breaking changes.
- doesn't play well with RN firebase modules
- difficult to debug
- very poor library maintenance (installation docs are not updated. Poor upgrade documentation. etc.)

I would suggest trying a dif

[2020-02-07 21:55] dantasfiles commented on #4089
I wrote up [my experiences setting up Android push notification with AWS Amplify and React Native 0.61.5](https://medium.com/@dantasfiles/setting-up-android-push-notifications-with-aws-amplify-e6334c6356d8)

[2020-02-07 22:04] njdullea commented on #4089
@bernhardt1 Unfortunately, I do not have a list. Thanks to @dantasfiles for making the android process description...

For IOS, a big difference is using the community version of PushNotificationIOS instead of the react-native version.

[2020-02-07 22:36] sebastianpicklum commented on #1852
Except that Flutter isn't PWA.

[2020-02-07 22:38] rodydavis commented on #1852
Flutter does support PWA though https://flutter.dev/web

[2020-02-07 22:43] danrivett commented on #4684
I had the same question. I was surprised when following this tutorial that the user got booted out into a browser window for authentication on a native React Native application:

https://dev.to/aws/the-complete-react-native-guide-to-user-authentication-with-the-amplify-framework-ib2

I'm using Expo and it supports native authentication with Google, Facebook, and Apple among others, but I don't kno

[2020-02-07 22:45] esuarezz commented on #4684
Lets see if we get answer...

El El vie, 7 feb 2020 a las 22:43, Dan Rivett <notifications@github.com>
escribió:

[2020-02-07 23:06] sebastianpicklum commented on #1852
Yep, I know the Flutter developments for web as well as their desktop shells for Mac/Win/Linux.

Flutter is mainly a native cross platform framework that compiles to native code. It supports PWA as target, but it isn't PWA. And almost 100% of all Flutter production apps are either native Android or iOS apps.

For Flutter, we need a Dart implementation that works native and in the web. If you are j

[2020-02-08 00:17] manueliglesias commented on #4861
Hi @uc-apa

Thanks for trying Amplify and the DataStore

Can you elaborate a little on your use case? I am thinking that if the 8k+ records come from an ajax call, they already are in some sort of backend, would it make sense for your use case to have  your existing backend trigger graphql mutations directly to your appsync api? And then, your clients using DataStore automatically sync

[2020-02-08 00:47] almpertis commented on #4025
Downgrading to the versions @Arjanvanmaren recommended fixed the issue for me but this is not a permanent solution.

[2020-02-08 09:51] Andrei94 commented on #4801
Sure.
I am using the amplify `<amplify-authenticator>` tag with the signUp config from the docs.
I tried with Chrome Version 80.0.3987.87 (Official Build) (64-bit) and Firefox 72.0.2 (64-bit) on Windows 10.

This is my sign in page
![signIn](https://user-images.githubusercontent.com/8221614/74083110-1bffec80-4a69-11ea-9454-36ea7476ceed.jpg)

This is what happens when I try to sign in when I change

[2020-02-08 10:23] pbenipal61 opened #4866 "Amplify custom url worked for a while then it stopped"
So i setup a react app on amplify with a custom domain that's registered with namecheap.com .
I setup a route 53 hosted zone and linked it to my app in the amplify console. The new custom domain worked for a while. It showed my app when i visited the domain but now i just see a random page probably provided by namecheap by default.

[2020-02-08 10:26] pbenipal61 opened #4867 "Amplify custom domain worked for a while and then it stopped"
So i setup a react app on amplify with a custom domain that's registered with namecheap.com .
I setup a route 53 hosted zone and linked it to my app in the amplify console. The new custom domain worked for a while. It showed my app when i visited the domain but now i just see a random page probably provided by namecheap by default.

[2020-02-08 15:14] docduo opened #4868 "Stripe recurrent payment integration in Amplify"
Dear Amplify contributors,

Is it planned to have a feature to add payment to Amplify Auth form or it is out of scope and we should consider to implement this ourselves ?

<img width="754" alt="Capture d’écran 2020-02-08 à 16 15 19" src="https://user-images.githubusercontent.com/56165819/74087601-3bf5d700-4a8e-11ea-9a20-3580ecd6c9ed.png">

Best, A.

[2020-02-08 16:34] picsil commented on #1852
+1

[2020-02-08 17:36] #4868 closed

[2020-02-08 17:36] docduo commented on #4868
I found a solution 👍 no need for that feature request. A.

[2020-02-08 18:17] jordanranz commented on #4866
This seems to be a duplicate of https://github.com/aws-amplify/amplify-console/issues/419

[2020-02-08 18:17] #4866 closed

[2020-02-08 18:40] dantasfiles commented on #4649
The [timeline on this is that Facebook plans ](https://reactjs.org/blog/2019/08/08/react-v16.9.0.html#renaming-unsafe-lifecycle-methods) to kill the `componentWillReceiveProps` lifecycle method in React 17 (hence the warning we see), but will keep the equivalent `UNSAFE_componentWillReceiveProps` indefinitely.

So if the AWS team doesn't have resources at the moment to rewrite the `ConfirmSignup`

[2020-02-08 20:57] dantasfiles opened #4869 "In aws-amplify-react-native, ConfirmPassword doesn't match the look and feel of SignIn and ForgotPassword for email and phone authentication"
**Describe the bug**
In aws-amplify-react-native, `ConfirmPassword` doesn't match the user interface of `SignIn` and `ForgotPassword` for email and for phone authentication

**To Reproduce**
- Set up Amplify for a React Native app with email or with phone authentication. We'll use phone in this example because the differences are more striking, but the issue exists for email as well.
[code]
- Use

[2020-02-08 22:21] dantasfiles opened #4870 "In aws-amplify-react-native, "Sign In," "Sign Up," and "Resend code" all red-screen instead of disabling the submit button if required elements are missing"
**Describe the bug**
In aws-amplify-react-native, `Sign In`, `Sign Up`, and `Resend code` all RedBox error instead of disabling the submit button if required elements are missing

**To Reproduce**
- Setup Amplify for React Native with default authentication
- Use `withAuthenticator` HOC in `App.js`
[code]
1) Click `Sign In` button without entering anything
2) Click `Sign Up` link, then `Sign Up` b

[2020-02-08 23:27] laygir commented on #4824
I'm having a similar problem with following packages;

[2020-02-08 23:40] WinstonN commented on #4824
@ashika01

Steps to reproduce

1. npm install aws-amplify aws-amplify-react
2. Create IAM user with policy https://aws-amplify.github.io/docs/cli-toolchain/usage#iam-policy-for-the-cli
3. amplify configure
4. amplify init
5. amplify auth add
6. amplify push
7. add amplify
[code]
8. use code here for signIn https://aws-amplify.github.io/docs/js/authentication#sign-in

Console error will be produced

[2020-02-09 08:35] jayalog commented on #4734
Thank u @sammartinez.

[2020-02-09 10:32] idanlo commented on #4815
Any updates on this?

[2020-02-09 11:18] vitali-yablonski opened #4871 "Socket closed (subscription)"
**Describe the bug**

I have created a react & redux application with aws-amplify version 1.1.29 and graphql version 0.13.0. I am using subscription, and  It keeps breaking after 25-30 mins when user does not act with application.

[code]

Can I somehow reconnect? If yes, then how do it properly?

[2020-02-09 14:06] addingama commented on #4815
I'm using `2.2.4` and still have this error

[2020-02-09 15:38] rodrigorellana commented on #4681
![image](https://user-images.githubusercontent.com/6011475/74105022-05c16180-4b39-11ea-96fe-faf01415d355.png)

hi guys! I have the same error
so, we have to wait for a new amplify release ??

[2020-02-09 18:28] ashika01 commented on #4815
@idanlo @addingama we have a PR open up for this! Should be merged soon!

[2020-02-09 19:01] idanlo commented on #4815
@ashika01 can you link the PR? I can't find it. This is a critical issue that needs to be fixed ASAP, endpoints cannot be created in our application therefore we cannot send notifications to users.

[2020-02-09 23:36] #4021 closed

[2020-02-09 23:45] ispcs000 commented on #1852
+1

[2020-02-10 01:03] annjawn commented on #2115
Hey @powerful23 can you explain a bit on how this is fixed? I am using `OAuth` with Google federation. Everything works ok except the `signOut` part which launches/redirects the user to the browser again, which from a user experience is confusing especially for a mobile app.

I use `withOAuth` at the root

[code]

[code]
The above always redirects the user to the browser.

Config is like this-

[c

[2020-02-10 03:39] uc-apa commented on #4861
Hello,

Thanks for your quick response. The problem we are facing with our architecture is that we are not able to sync our mobile data properly with web. The autosync api will help us a lot in our case as it will automatically manage all the sync operations. We actually have millions of records already in our database and want to provide only a subset of it for user's offline use and sync them au

[2020-02-10 08:48] lambda0xff commented on #4409
@Amplifiyer : Hello, I just noticed that the latest version of aws-amplify (2.2.4) is still using graphql version 14.0.0 which is the root cause of this issue.  Any reason why ?  Should we expect amplify-api to move on to the latest stable Graphql soon (maybe when v15 is released)?

[2020-02-10 09:00] damogallagher commented on #4681
I am experiencing the same issue after upgrading to Angular 9. Wondering if anyone is aware of an ETA on the fix for this?

[2020-02-10 09:07] Temkit commented on #4681
Experiencing the same issue here after upgrading to Angular 9 !
I disabled the IVY compiler to successfully build !

**in tsconfig.app.json :**

`  "angularCompilerOptions": {
    "enableIvy": false
  }`

[2020-02-10 09:55] kuklinm commented on #4779
I think federatedSignIn has  no relation with Auth.currentSession so it will return 'No current user'.

[2020-02-10 12:04] SebSchwartz commented on #4841
And is this possible to use it with a lambda resolver? Or only with simple dynamo resolver?

If I want to change almost all resolvers and datasource to dynamo but I still want to have some lambda function for some resolvers as they are more advanced, will Datastore be compatible with it? Or it will only work with other simple dynamo datasource and ignore those?

Thanks,
Sebastien

[2020-02-10 13:41] alexladerman opened #4874 "RootUrl of another API gateway lambda function as environment variable"
** Which Category is your question related to? **
api & function
** What AWS Services are you utilizing? **
Amplify, Lambda, API Gateway
** Provide additional details e.g. code snippets **
I have two lambda functions each with their own API gateway. One requires authentication, the other is public. The authenticated endpoint will send a purchase order to a 3rd party payment processor.  The order m

[2020-02-10 13:43] rodrigorellana commented on #4681
it works but I guess using Ivy is the main feature of angular new change/release

[2020-02-10 14:10] rodrigorellana commented on #4681
![image](https://user-images.githubusercontent.com/6011475/74156790-d0c71480-4bf5-11ea-92e6-f05cb6531d60.png)

I tried that Temkit says, but now I have this lol

[2020-02-10 16:24] philmerrell opened #4875 "Is it possible to use 'authMode' in a multi-auth Angular project"
I'm trying to get a multi-auth, public / private scenario working using Angular. I would like the update/delete/create of my models to be allowed only by a group in my user pool named 'Admins'. I would like to grant public read access to guests and unauthenticated users. This pain point has been fairly well documented and I believe I understand my options.

I have established a Cognito User Pool a

[2020-02-10 16:30] Ownmarc commented on #991
Not sure if that on Amplify's end or AWS Cognito's end, but this has to be implemented. I hate it as a user when I have to re-enter username and password after confirming my account and I do not think storing the password in the state of the app is a good idea.

[2020-02-10 18:27] davekiss commented on #4486
Also running into this on my end, seems like it'd be an easy implementation for the AppSync team no?

[2020-02-10 19:06] Ownmarc opened #4876 "RFC: 3 step flow for forgotten password ?"
## Summary

Would it be possible to validate the code of the forgotten password before having to send the new password ? Maybe its on Cognito's end ?

## Motivation

I didn't find anyway of doing that with amplify. I would not even show the fields to set a new password if I can't validate the user's code for the forgotten password.

Actually there is only 2 function to request a new password :
- f

[2020-02-10 19:16] cmaycumber opened #4877 "Is it possible to key off of sign up events when using a federated sign in?"
** Which Category is your question related to? **

Auth, Hub

** What AWS Services are you utilizing? **

Cognito, Federated Identities

** Provide additional details e.g. code snippets **

We need to call a function that aliases the user to an anonymous id only a single time. This would ideally be called right after a sign-up but are having trouble determining the best way to handle this when usi

[2020-02-10 19:25] danieloi commented on #403
started getting a 'fetch is not a function' error and this solved it for me:

`global.fetch = require('node-fetch').default;`

[2020-02-10 20:53] ProdigySim commented on #3279
We used amplify-react, then amplify-react-native, and then built a custom UI for the next project.

There are so few AmplifyJS API calls needed for each auth component that I'd rather see good documentation on how to set up an "Authenticator" yourself. Handling auth state changes + specific API calls to do Signin, forgot password, etc.

Building a signin form is not hard. Handling Amplify's auth f

[2020-02-10 21:04] seang96 opened #4878 "DataStore TypeScript Typing Issue"
**Describe the bug**
DataStoreConfig type is incorrect due to it missing the information from aws-exports. Since the type is missing this information it will not sync to the backend. The code segment can be found below

https://github.com/aws-amplify/amplify-js/blob/a047ce73abe98c3bf82e888c3afb4d2f911805f3/packages/datastore/src/types.ts#L356-L367

**To Reproduce**
Load any TypeScript project with

[2020-02-10 21:06] ashika01 commented on #4815
@idanlo The PR is referenced above. Its PR #4845 and we are prioritizing this :)

[2020-02-10 21:07] idanlo commented on #4815
Thanks, didn’t notice

[2020-02-10 21:28] apanagos opened #4880 "nextToken not accepted and gives error "Invalid pagination token given""
**Describe the bug**
Query is working in development and build environments but when deployed in the Test environment the nextToken is never accepted.

The same error occurs in the code as well as the AppSync console where we do a query with a limit and get a nextToken. Then we do a query straight away with the same token and it gives the following error:
com.amazonaws.deepdish.common.pagination.I

[2020-02-10 23:44] mjkelley354 commented on #4681
I'm having the same issue.  Disabling Ivy does get the build to succeed but i still can't get the  <amplify-authenticator></amplify-authenticator> ui component to work.

Throws the following in the browser:
auth.component.html:1 ERROR TypeError: Cannot read property 'viewContainerRef' of undefined
    at AuthenticatorComponent.push../node_modules/aws-amplify-angular/dist/src/components/authenticat

[2020-02-11 01:50] michaelcuneo opened #4882 "Can create account but cannot sign in."
I have just recently updated to the latest amplify client and amplify js...
My auth has now broken, I can sign up, but not sign in.

I get a challenge name, challenge parameters, looks all normal.

But then it returns

[code]

But the username and password are correct.

I didn't change any settings at all, but after updating to the new Amplify, it did do an update to 'Auth' in my next amplify serv

[2020-02-11 01:58] michaelcuneo commented on #4882
It appears as though, I can successfully login locally, if I run amplify serve and use my local environment with master settings. But if I login online using the published build which is identical in every way to the local environment... it fails. I'm not sure what to do, because it's an important live production project.

[2020-02-11 02:24] michaelcuneo commented on #4882
It appears as though my update has enabled SRP Auth Flow and I cannot find how to get it back to Username_Password?

[2020-02-11 02:33] michaelcuneo commented on #4882
I've tried manually adding     "authenticationFlowType": "USER_PASSWORD_AUTH", to the aws-exports.js
but this doesn't solve the issue.

[2020-02-11 02:39] michaelcuneo commented on #4882
I removed USER_SRP_AUTH, and now I get USER_SRP_AUTH is not enabled for the client.

[2020-02-11 02:51] cjnoname opened #4884 "Got error for some reason"
Hi,

I got some werid errors in caucial and cannot find why.

The error looks like:

webpack-internal:///./node_modules/@aws-amplify/core/lib-esm/Logger/ConsoleLogger.js:96 [ERROR] 42:26.249 OAuth - Error handling auth response. TypeError: Cannot read property 'substr' of null
    at OAuth.eval (webpack-internal:///./node_modules/@aws-amplify/auth/lib-esm/OAuth/OAuth.js:175)
    at step (webpack-i

[2020-02-11 03:11] michaelcuneo commented on #4882
Just tested forgot password, and it works fine. I can sign up, I can go through the forgot password system, and create a new password, but I cannot sign in.

Tried running through `amplify auth update`, to see if any settings in there broke SRP/USERNAME_PASSWORD Auth, but it all looks fine to me.

[2020-02-11 04:38] mtraynham opened #4885 "Social IDP Auth seems to skip CUSTOM_CHALLENGE"
**Describe the bug**
I was testing out [reCaptcha](https://developers.google.com/recaptcha/intro) as an additional challenge step to the `SRP_A` authentication flow that I already have, and thereby created lambdas for the 3 various triggers (`DefineAuthChallenge`, `CreateAuthChallenge`, `VerifyAuthChallengeResponse`) and setting `authenticationFlowType: 'CUSTOM_AUTH'`.  This is all documented [her

[2020-02-11 04:40] vichoconejeros opened #4886 "Auth: Native crypto module could not be used to get secure random number."
I'm getting
Native crypto module could not be used to get secure random number.

call
Auth.signIn

sample code
let user = await Auth.signIn({username:email, password:password})

Expected behavior
cognitoUser should be returned

Callstack
Native crypto module could not be used to get secure random number.
- node_modules\crypto-js\core.js:45:25 in secureRandom
- node_modules\crypto-js\core.js:337:41

[2020-02-11 04:42] Mitchell-Stone opened #4887 "Unable to list bucket contents using Storage.list(), getting 403 Access Denied"
**Describe the bug**
Unable to list the contents of a file in S3 using Storage.list()

**To Reproduce**
`
Storage.list('images/').then(result => log.debug(result)).catch(err => log.error(err));
`

The error i get is:
xhr.js:83 GET https://my-bucket.s3.ap-southeast-2.amazonaws.com/?prefix=public%images%2F 403 (Forbidden)

AWSS3Provider - list error AccessDenied: Access Denied

**Expected behavior**

[2020-02-11 04:54] mtraynham opened #4888 "NullPointer in CognitoUser.sendMFACode when using CUSTOM_AUTH flow"
**Describe the bug**
I'm using `authenticationFlowType: 'CUSTOM_AUTH'` and have the 3 lambda triggers set up.  I guess the important lambda would be the `DefineAuthChallenge`, which I've included the code below.

When the user enables MFA via phone number, it seems that there is a null pointer being thrown at [CognitoUser.js#L890](https://github.com/aws-amplify/amplify-js/blob/master/packages/amaz

[2020-02-11 05:15] tommy-dev commented on #4886
Also getting this error when calling signIn api inside jest:

[code]

[2020-02-11 05:19] pouchyRT10 commented on #4886
Getting same error

[2020-02-11 05:42] miteshgodhani commented on #4853
@elorzafe I am stuck with this error. can some please help me here? I have tried with multiple fresh new project to fix this but getting same error every time.

[2020-02-11 05:49] addingama commented on #4815
Really need this to be fixed

[2020-02-11 05:51] vichoconejeros commented on #4886
this is due to crypto-js/core.js doing this
30:var crypto = global.crypto;
33:return Number('0.' + crypto.randomBytes(3).readUIntBE(0, 3));
y replaced 33 for
return 0.4
and it works. it seems global.crypto is not defined

@tommy-dev
which aws-amplify version you are using? or you are just using auth and core modules?

[2020-02-11 05:53] tommy-dev commented on #4886
@vichoconejeros should be the latest auth and core modules, since I installed them in a fresh project today

[code]

[2020-02-11 07:21] michaelcuneo commented on #4882
I literally just deleted my entire master cloud formation, recreated it from scratch, added a brand new auth, restore every other area from backups to storage, and api, pushed the hosting back up with a brand new build...

I can still only login locally. As soon as I push it up online, I cannot login.

[2020-02-11 07:34] keith1024 commented on #4886
I am getting this same error using the `CognitoUser.authenticateUser` method in the `amazon-cognito-identity-js` package (v3.2.4).

[2020-02-11 07:48] gyl9196 commented on #4886
Same error, suddenly happend..

[2020-02-11 08:01] h-hub commented on #1980
I removed the **OPTIONAL - Hosted UI configuration**  from the aws-exports.js and it worked.

[2020-02-11 09:37] yashutanna opened #4889 "stuck after adding custom attribute on existing userpool created with nodejs8.x lambdas"
**Describe the bug**
PLEASE HELP!!! I have a bit of a pickle Im stuck in :cucumber:

I recently needed to add a custom attribute to my cognito user pool. Our project uses amplify and we have made this change on the cloudformation template before, so i added the snipped that will add a custom attribute to the user pool. while on that file, i noticed that the lambda function that amplify used in the

[2020-02-11 09:39] alexladerman commented on #4874
same issue? https://github.com/aws-amplify/amplify-cli/issues/3386

[2020-02-11 09:53] yvescoinpass commented on #951
Any update on this?

[2020-02-11 10:08] CodeforChao commented on #4886
Get the same error when use `CognitoUser.authenticateUser` method in the amazon-cognito-identity-js package (v3.2.4)

And I cannot signin and get cognito token any more, is there any work around?

Error: Native crypto module could not be used to get secure random number.
at secureRandom (/srv/node_modules/crypto-js/core.js:45:16)
at Object.random (/srv/node_modules/crypto-js/core.js:337:30)
at ran

[2020-02-11 11:26] karam94 commented on #4667
Was following the AWS Amplify React Native tutorial and ran in to this same issue as soon as we reached step 4 (adding the subscription). Please resolve it.

https://aws-amplify.github.io/docs/js/start?ref=amplify-rn-btn&platform=react-native

[2020-02-11 11:46] keith1024 commented on #4886
So as @vichoconejeros pointed out. This is a `crypto-js@3.2.0` issue. A simple workaround for now is to go into your `node_modules/amazon-cognito-identity-js/` and `yarn add` or `npm install` the fixed version of `crypto-js@3.1.9-1`

[2020-02-11 12:09] Luckygirlllll commented on #1981
@josoroma Will it update username (if I use email as username)? or it will only update value in attributes?

[2020-02-11 14:47] leosoaivan commented on #4720
Apparently fixed by upgrading `aws-amplify-react` to 3.1.5.

Logging out of Google accounts now lead to a re-authentication request with Google's servers when attempting to sign in with a Google account from my app.

[2020-02-11 15:28] martinlytics commented on #4829
@ericclemmons What's the target release date for the "Standalone Bundles" milestone?

[2020-02-11 16:35] Polarisation commented on #4089
@Ashish-Nanda Seems this switch to use `@react-native-community/push-notification-ios` [happened in the `v2.1.1` patch release](https://github.com/aws-amplify/amplify-js/compare/@aws-amplify/pushnotification@2.1.0...@aws-amplify/pushnotification@2.1.1). The [CHANGELOG](https://github.com/aws-amplify/amplify-js/blob/master/packages/pushnotification/CHANGELOG.md) currently says "Version bump only" f

[2020-02-11 16:40] LBPlayer opened #4890 "PasswordResetRequiredException not handled in the amplify-authenticator component"
**Describe the bug**

PasswordResetRequiredException is thrown and not handled if a user is required to rest their password (account status - RESET_REQUIRED), causing multiple verification emails to be sent.

**To Reproduce**

1. Click the 'Reset password' for a Cognito user via the Cognito section of the AWS Console. This will send the user a verification pin via email
2. Use the amplify-authenti

[2020-02-11 17:13] ericclemmons commented on #4829
@martinlytics We don't have a target release date yet, but have begun looking into what that solution would mean.

What did your `<script src="...">` look like in your situation?  (I'm interested if you were trying with a CDN, local `node_modules`, etc.)

[2020-02-11 17:20] martinlytics commented on #4829
Sure, Eric. I built the auth module under amplify-js\packages\auth. Then I created a sample html under amplify-js\packages\auth\dist that includes the aws-amplify-auth.js bundle:

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sample App</title>
  </head>
  <body>
  <script type="text/javascript" src="aws-amplify-auth.js"></script></body>
</html>

Finally, I open the html in

[2020-02-11 17:53] divinealpine commented on #4681
Tried this but still getting a different error:
[code]

[2020-02-11 17:58] CharanRoot commented on #4886
Another easy solution is Add resolution in your package.json remove `node module `and run `npm install`

[code]

[2020-02-11 18:19] alisherakb commented on #4689
@rmaroun I'm facing the same amplify issue on react-native-cli project. Did you manage to solve it?

[2020-02-11 18:22] kylegwalsh commented on #4877
Federated sign-in's through amplify do not seem to provide any distinction between a sign-up (which creates a user in the userpool) and a sign-in.

Is there any way to detect a sign-up event using federated sign in, or is this information currently obscured?

[2020-02-11 18:28] sammartinez commented on #4863
@brianarpie There is currently not a way just to fork the `aws-amplify-react` package, you'll will need to fork the entire repo and make the changes needed inside of the `aws-amplify-react` package. However, I am curious on what changes you are looking for. Could you provide some insights into what you are looking to change? Im curious of [UI Component Refactor](https://github.com/aws-amplify/ampl

[2020-02-11 18:31] ericclemmons commented on #4829
My mistake! I misunderstood that the build step your using is our package-specific `build` command.

Unfortunately, that command won't fit your needs, as it builds the Amplify project for use by app bundlers (e.g. `webpack`, `parcel`, Vue/Angular CLI, Next.js, Create React App, React Native, etc.).

Until we can get a true stand-alone build working, here's something I was able to do based on the g

[2020-02-11 19:22] almpertis commented on #4859
@ashika01 is there any documentation where I can find instructionson how to fork aws-amplify and import it locally on my project in order to debug it myself?

[2020-02-11 20:26] ashika01 commented on #4859
@almpertis I am not sure if this is coming from amplify. But I can help you with local development. There is docs for local development [here](https://github.com/aws-amplify/amplify-js/wiki/Local-Development).

But just [fork](https://help.github.com/en/github/getting-started-with-github/fork-a-repo) amplify-js repo then make sure you have yarn. You could then just do some yarn linking on the cate

[2020-02-11 20:28] almpertis commented on #4859
@ashika01 Thank you very much for your quick response :)

[2020-02-11 20:31] mwa3aan commented on #4527
is there any update on the availability of these components? We have projects depending on it and it would really help to know if we should wait for this or use google firebase.

[2020-02-11 20:40] almpertis commented on #4859
@ashika01 I think so too. I believe that there is a conflict somehow between expo's and amplify's dependencies but the error is not that descriptive (at least for me to understand) :/

[2020-02-11 21:03] martinlytics commented on #4829
Awesome, @ericclemmons ! This appears exactly what we need. I'll give it a shot and let you know how it goes.

[2020-02-11 21:45] thom-nguyen commented on #4846
I'm also experiencing the same build error. Also not using Sumerian

[2020-02-11 23:30] rodrigorellana commented on #4681
we are f*cked guys lol
let's wait for angular 10

[2020-02-11 23:42] ashika01 commented on #4859
@almpertis Yeah. It quit difficult :/ Could you check if its coming from error.ts if you have local development setup?

[2020-02-11 23:53] almpertis commented on #4859
@ashika01  does this error remind you of anything?
[code]
happened by removing  @aws-amplify/api & @aws-amplify/pubsub

[2020-02-11 23:55] sammartinez commented on #4885
@mtraynham Under the environment, I am only seeing `@aws-amplify/ci` as the dependency. Are you using another package within our mono repo?

[2020-02-11 23:58] sammartinez commented on #4882
@michaelcuneo Can you provide the `aws-amplify` versions you are using?

Please run this command: npx envinfo --system --binaries --browsers --npmPackages --npmGlobalPackages

This will help us understand what has changed and where the disconnect is and causing where sign in is only working locally

[2020-02-11 23:59] sammartinez commented on #4884
@cjnoname can you run `npx envinfo --system --binaries --browsers --npmPackages --npmGlobalPackages` in order for us to understand your dependencies?

[2020-02-12 00:31] gyl9196 commented on #4886
Just a reminder. A new crypto-js version 3.2.1. has been released just 2 hours ago. All working on my side.

[2020-02-12 00:37] mtraynham commented on #4885
@sammartinez sorry, must have missed the actual dependencies in the project.  I am only using `"@aws-amplify/auth": "^2.1.3" for this project.

[2020-02-12 00:42] sammartinez commented on #4880
@apanagos could you by chance provide a code snippet of the React code you are using? Also want to verify, have you gone through the steps in order to connect AppSync to your Amplify app? Please see this link: https://aws-amplify.github.io/docs/js/api

[2020-02-12 01:01] sampsonjoliver commented on #4527
Again from [the twitter link](https://twitter.com/undef_obj/status/1221099288354119681), it looks like work is nearing completion bar for a few issues, and will be communicated here shortly.

Very excited for this, and thanks to everyone working on it :)

[2020-02-12 01:20] ericclemmons commented on #4681
We're getting some underlying changes out the door, then we'll get back to checking out the latest v9 stuff, thanks to #4883!

[2020-02-12 01:36] weysler commented on #3089
Hi @codermeisje @vdiaza,

I had the same issue and after investigating I've found the missing variable <code>aws_appsync_authenticationType</code> on aws_exports file. The default fallback authMode is AWS_IAM which explains the Authorization header without <code>jwtToken</code>

Please check out the solution from @swaminator on the issue [1770](https://github.com/aws-amplify/amplify-cli/issues/177

[2020-02-12 01:36] mikedizon commented on #4886
You may need to clear your cache before running install again!

[2020-02-12 03:07] mdshaner commented on #4886
Just for others who chance across this, it does appear that the fix with 3.2.1 makes it so that crypto-js isn't usage with ReactNative, however the resolutions solution appear to work at this time.

[2020-02-12 03:14] vichoconejeros commented on #4886
it works!

[2020-02-12 03:21] jonperryxlm opened #4892 "@connection with multiple fields specified"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
AWS AppSync, DynamoDB

** Provide additional details e.g. code snippets **
Hi, I'm trying to create  a connection between two types as follows:

[code]
[code]

When I query parent which includes the child configs, I receive a DynamoDB exception:

**path:** ["parent", "configs"]
**errorType:** DynamoDB

[2020-02-12 03:42] apanagos commented on #4880
Hi @sammartinez let me explain my environment, that may help you understand the context.
We have our code in git with 4 different branches, dev, build, test, master.
We have Amplify environments for build, test and master that refresh from GIT branches.
We also have two development environments for the two developers keyed off our branches off dev.
So for the last 5 months we develop in dev and th

[2020-02-12 04:11] chantlong opened #4893 "How to query by a type column + userId + createdAt"
** Which Category is your question related to? **

AWS Amplify + GraphQL Queries

** What AWS Services are you utilizing? **
Cognito + AWS AppSync,
** Provide additional details e.g. code snippets **

[code]

The schema type can be "A" or "B".

I query by

[code]
The query will automatically query by the logged in userId.
Amplify has a default limit of 10.

If my data is on the 20th row, The first

[2020-02-12 05:44] elorzafe commented on #4871
@vitali-yablonski what are you using? Can you share your `aws-exports.js` file (feel free to mask the endpoints)?

[2020-02-12 05:45] elorzafe commented on #4892
@jonperryxlm I will transfer this issue to CLI repo, they can answer this question more appropriately

[2020-02-12 05:47] 24jr opened #4894 "Storage.get for protected failing on retrieving other user"
I've got a protected storage setup for users to add and get photos. I have had a user be able to add and get their own photo successfully using
[code]
but when I login as a different user and use the suggested

[code]
I get the URL back which just says

[code]
Im using the other users Cognito sub Id there which is definitely what its asking for there or at least idk any other id it would want ther

[2020-02-12 05:48] elorzafe commented on #4893
@chantlong I will transfer this issue to Amplify CLI repo, they will answer this better than me.

[2020-02-12 05:54] #4894 closed

[2020-02-12 05:58] elorzafe commented on #4894
@24jr that sub is from federated identities not user pools. Is the same identity id that is part of AWS  Credentials.

[2020-02-12 06:46] ptrobert commented on #4886
@mdshaner you are right,"resolutions": {
    "crypto-js": "3.1.9-1"
  }, is causing

The package at "node_modules/crypto-js/core.js" attempted to import the Node standard library module "crypto". It failed because React Native does not include the Node standard library. Read more at https://docs.expo.io/versions/latest/introduction/faq/#can-i-use-nodejs-packages-with-expo

whats is the solution

[2020-02-12 06:49] 24jr commented on #4894
You're right. I realized many other people had this problem too...and don't really have a solution #1847 and #2203 didn't mean to post duplicate

[2020-02-12 07:15] michaelcuneo commented on #4882
I managed to get everything back up but now I've lost access to graphql api.

Yesterday USER_SRP_AUTH wouldn't work... today USER_PASSWORD_AUTH doesn't work, it's starting to become comedy. Are things changing in the back end while I write all of this? Because I literally had a working fully stable app about 6 hours ago... I just opened it to show my boss, and USER_PASSWORD_AUTH was broken, and gr

[2020-02-12 07:16] michaelcuneo commented on #4882
This is the response I get now from trying to log in...

npm.aws-amplify.7cfb25a46443e4d7f051.chunk.js:1 Uncaught (in promise) Error: User is not authenticated
    at e.getUserAttributes (npm.aws-amplify.7cfb25a46443e4d7f051.chunk.js:1)
    at npm.aws-amplify.7cfb25a46443e4d7f051.chunk.js:1
e.getUserAttributes @ npm.aws-amplify.7cfb25a46443e4d7f051.chunk.js:1
(anonymous) @ npm.aws-amplify.7cfb25a4

[2020-02-12 07:18] michaelcuneo commented on #4882
First error being the User Auth issues, second error is just the other end of my saga, running a graphql command that is broken. Then saga dumps the error.

[2020-02-12 07:39] vitali-yablonski commented on #4871
Hi @elorzafe,
I am not using aws-amplify/cli. App has configuration like this

import Amplify from 'aws-amplify';

Amplify.configure({

    Auth: {
        identityPoolId: 'my_identityPoolId',
        region: 'us-west-2',
        userPoolId: 'my_userPoolId',
        userPoolWebClientId: 'my_userPoolWebClientId',
        mandatorySignIn: true,
        oauth: cognitoHostedoauth,
    },

    Api: {

[2020-02-12 08:58] mightiesthero commented on #4880
i also experience this error.

use this query on aws console
query list {
  listUsers {
    items {
      id
    }
    nextToken
  }
}

console return
{
  "data": {
    "listUsers": {
      "items": [
        {
          "id": "692d47ae-ee2e-4e64-90f1-5a9984382f14"
        },
        {
          "id": "9d096d0f-c057-4d29-b30f-de24254a6cf9"
        },
        {
          "id": "a6c937e6-06b3-47be-8

[2020-02-12 09:27] sebsto commented on #4268
See https://github.com/aws-amplify/amplify-js/issues/4268

[2020-02-12 11:10] akkisagiraju commented on #4886
@ptrobert I'm getting the exact same error. Because of it, I'm unable to use Amplify in my expo project.

[2020-02-12 13:35] zeritte commented on #4886
crypto-js released 3.3.0 which solves `Native crypto module could not be used to get secure random number.` and `node_modules/crypto-js/core.js" attempted to import the Node standard library module "crypto-js"`. Please delete node_modules and run npm install again to fix related issues

[2020-02-12 15:40] getbehindthmule opened #4898 "Amplify Console - Build Failing"
**Describe the bug**
The build stage is failing when using Amplify Console.

Note that the same application version builds successfully via **npm run build** when run locally on the development mac).

The error occurs in the Frontend stage, but the error is not very informative  :-

2020-02-12T15:11:25.956Z [WARNING]: npm WARN
2020-02-12T15:11:25.958Z [WARNING]: deprecated bower@1.8.8: We don't re

[2020-02-12 18:14] artemkv commented on #3849
Hi,
while testing the localization, I discovered extra strings that were not present in AmplifyI18n.tsx (https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-react/src/AmplifyI18n.tsx):

[code]

I added them to my app dictionary, however I feel very uncomfortable about the process:
- I needed to test EVERY step in the registration and password recovery flow to detect those mi

[2020-02-12 18:16] bodokaiser opened #4900 "Cannot signIn using USER_SRP_AUTH, documentation/defaults are misleading"
**Describe the bug**
The [documentation](https://aws-amplify.github.io/docs/js/authentication#manual-setup) states that the default `authenticationFlowType` is `USER_SRP_AUTH`, however, it is not possible to sign-in using `USER_SRP_AUTH` as this will raise a `NotAuthorizedException` regardless if the email and password combination is correct or not.

**To Reproduce**
Steps to reproduce the behavio

[2020-02-12 18:18] bodokaiser commented on #4882
I created a related [issue](https://github.com/aws-amplify/amplify-js/issues/4900). It appears to me that currently only `USER_PASSWORD_AUTH` is supported for sign-in in amplify.

[2020-02-12 18:30] AaronHarris commented on #4880
Thanks for reporting the issue to us. We don't need the React code as much, but we could help debug this better if you can send us the VTL mapping templates for this resolver. If I'm understanding this correctly, youre saying it works in test but not in live? In that case it would be helpful to see both the mapping templates of an API that does work and another that does not.

[2020-02-12 19:13] rmaroun commented on #4689
Yes this was the issue the client Ids were not matching.

[2020-02-12 19:13] #4689 closed

[2020-02-12 19:42] elorzafe commented on #4035
@24jr from today new User Pools can be created with case insensitivity for username input
More info here [https://aws.amazon.com/about-aws/whats-new/2020/02/amazon-cognito-user-pools-service-now-supports-case-insensitivity-for-user-aliases]

[2020-02-12 19:51] chanan opened #4901 "Can't signin to an AD (SAML) provider"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **
We created a user pool and App in Cognito and connected it to our AD via SAML. The config works, as we can login via the hosted UI. I can then see the user record if I go to Users and Groups in Cognito.

If I then try to login via Amplify SDK

[2020-02-12 19:58] jfo8000 commented on #4825
Thanks I had to learn the codebase because we took the project on before everything was totally working out of Amplify...  so I have a lot of the stuff actually replaced in our version.

I am using
[code]

I believe the HOC has an includeGreetings property which might be the easiest way to repro this.

JFo

[2020-02-12 20:11] elorzafe commented on #2189
@hemanth-sp from today new User Pools can be created with case insensitivity for username input
More info [here](https://aws.amazon.com/about-aws/whats-new/2020/02/amazon-cognito-user-pools-service-now-supports-case-insensitivity-for-user-aliases)

[2020-02-12 20:12] elorzafe commented on #1565
@mrcoles from today new User Pools can be created with case insensitivity for username input
More info [here] (https://aws.amazon.com/about-aws/whats-new/2020/02/amazon-cognito-user-pools-service-now-supports-case-insensitivity-for-user-aliases)

[2020-02-12 20:13] elorzafe commented on #3631
@ajhool from today new User Pools can be created with case insensitivity for username input
More info [here] (https://aws.amazon.com/about-aws/whats-new/2020/02/amazon-cognito-user-pools-service-now-supports-case-insensitivity-for-user-aliases)

[2020-02-12 20:14] elorzafe commented on #3949
@JupiterSymphony @gakinson from today new User Pools can be created with case insensitivity for username input
More info [here](https://aws.amazon.com/about-aws/whats-new/2020/02/amazon-cognito-user-pools-service-now-supports-case-insensitivity-for-user-aliases)

[2020-02-12 20:18] elorzafe commented on #610
@DocCaliban @chiragpurohit71085 @l3wy @genio @rampageservices @shlomiken @EssyTech @valonhaliti @bhao-speedline @joaoricardo000  from today new User Pools can be created with case insensitivity for username input
More info [here](https://aws.amazon.com/about-aws/whats-new/2020/02/amazon-cognito-user-pools-service-now-supports-case-insensitivity-for-user-aliases)

[2020-02-12 20:23] elorzafe commented on #2160
@kennu @mrcoles from today new User Pools can be created with case insensitivity for username input
More info [here](https://aws.amazon.com/about-aws/whats-new/2020/02/amazon-cognito-user-pools-service-now-supports-case-insensitivity-for-user-aliases)

[2020-02-12 20:45] genio commented on #610
Any effort being made to update existing pools to be case insensitive?

[2020-02-12 21:29] cshouts-tasc opened #4902 "Automatically Authenticate with Web Application from Mobile App"
Category: Auth
Service: Cognito

We would like to add a WebView to our iOS and Android apps that will open our web application and automatically authenticate without prompting the user for any credentials. All of the applications are using the same Cognito User Pool and the Amplify library for authentication.

Our initial idea was to pass the AccessToken, IdToken, RefreshToken, Username, Device Ke

[2020-02-12 22:20] dbhagen commented on #4853
I'm having a similar issue:
[code]
Besides using Vue instead of Angular, it's pretty much the same configuration. Same Amplify-CLI version, 4.13.1

[2020-02-12 23:08] ahnliu commented on #610
Bump on Genios comment.  We are in a live environment, and users are complaining that they can't login, because they didn't realize that their email addresses were case sensitive.  (So they try to login with bobsmith@test.com, when they registered originally with bobSmith@test.com).

Great to see that 4 hours ago, Amazon came out with a fix for this.  But is there a migration path?  If not, it's a

[2020-02-12 23:28] paalex commented on #2781
@jordanranz I tried on `"aws-amplify-react": "^3.1.5"` and `2.6.3` as well and there's no Auth in the dist folder of the project.
Importing from `lib` folder leads to the following error `Can't resolve '@aws-amplify/ui'`.
Any ideas? Thanks

[2020-02-12 23:35] ngnathan opened #4906 "API Owner Authorization from another Table"
** Which Category is your question related to? **
API, Auth

** What AWS Services are you utilizing? **
Cognito, AppSync

** Context **
- We're building a multi-organization platform where users (i.e. profiles in the example below) can be a part of multiple organizations (many to many relationship between Organizations and Profiles).
- (GraphQL Schema provided below)
- Users are authenticated via

[2020-02-13 00:03] dantasfiles commented on #2286
I'm using these: https://github.com/dantasfiles/AmplifyReactNativeTypes

[2020-02-13 02:31] elorzafe commented on #610
I think that could be more problematic in case you have collisions, maybe in that case is better to migrate the user to a new User Pool

[2020-02-13 02:47] michaelcuneo commented on #4882
@bodokaiser ... I ended up resolving the issue by using
`Auth.configure({
  authenticationFlowType: 'USER_PASSWORD_AUTH',
});`

But this was not a solution that worked alone. I also had to go into Cognito and tick
`Enable username password based authentication (ALLOW_USER_PASSWORD_AUTH)`

I have always added groups to my Cognito users, then programmatically assigned them to these after account cre

[2020-02-13 02:47] #4882 closed

[2020-02-13 02:54] Ashish-Nanda commented on #4527
# Amplify DataStore React Native Pre-Release
Hi All,

Today we published a pre-release of Amplify DataStore on React Native with a storage adapter that uses AsyncStorage underneath.
Please follow the instructions below to set up and test your App.

## Setup the App

**Create the app:**
[code]
**Install and link dependencies:**
[code]
If using React Native > 0.60, run the following for iOS.
[code]

[2020-02-13 03:01] danrivett commented on #4527
Great news!

One quick question: Do the instructions work with a non-ejected Expo app, or is that currently not supported? If not, could you confirm if that use case is intended to be supported in the final release?

[2020-02-13 03:05] Ashish-Nanda commented on #4527
@danrivett While we have not yet tested on Expo apps, in theory it should work since all the dependencies like AsyncStorage and NetInfo are a part of Expo and wont require you to eject.

Do give it a try and let us know if you face any issues. I will be trying it out as well this week.

[2020-02-13 07:23] ptrobert commented on #4886
use this resolution for react native, expo

  "resolutions": {
    "crypto-js": "3.1.9-1",
    "**/crypto-js": "3.1.9-1"
  },

[2020-02-13 07:57] davidbiller commented on #4527
I guess you use asyncStorage from community?
So we have to use asyncStorage from „react-native“ with Expo.

[2020-02-13 08:01] mhoshdev commented on #4846
I had the same error message today. I was able to fix it by updating `aws-amplify` and `aws-amplify-angular` to the latest released version.

aws-amplify@^2.2.4
https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify/CHANGELOG.md

aws-amplify-angular@^4.1.5
https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-angular/CHANGELOG.md

[2020-02-13 10:33] Luckygirlllll opened #4908 "How to resend verification code while verifying/updating email/phone attribute in aws-amplify/ aws-cognito?"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **
How to resend verification code while verifying/updating email/phone attribute in aws-amplify/ aws-cognito, I'm using this code, to verify email/phone:

`const responce = await Auth.verifyCurrentUserAttributeSubmit("email", confirmationCode)`

[2020-02-13 12:32] mlabieniec commented on #4827
@mlecoq which typescript version are you using?

[2020-02-13 14:31] axelra82 commented on #2714
+1

[2020-02-13 15:15] brianarpie commented on #4863
@sammartinez thanks for the reply! Right now I have "aws-amplify" and "aws-amplify-react" entries in my package.json. If I fork "aws-amplify" and replace the package.json to point to my forked git repo, how do I correct the "aws-amplify-react" entry so that I can still import components, e.g. `import { SignIn } from 'aws-amplify-react';`?

I just want to modify the link in the SignIn component tha

[2020-02-13 15:53] promobulls commented on #4744
Same error, can anyone help?

[2020-02-13 16:02] steevegldev commented on #4744
I tried to investigate. I did not found why componentHost do not get the DynamicComponentDirective value.

I think it's because Angular 9 change the way Views work and that make Amplify Authenticate incompatible.

For my side, I will rollback to Angular 8 for now.

[2020-02-13 16:12] thom-nguyen commented on #4846
Yup, that fixed it for me. I initially only updated `aws-amplify` to `"^2.2.4"` but updating `aws-amplify-angular` to `"^4.1.5"` as well solved the issue.

I was able to remove `"skipLibCheck: true"` as well.

Thanks!

[2020-02-13 16:27] CarlitosBeto commented on #4527
I try in my app in expo but i have the issue [Unhandled promise rejection: Error: Node is not supported]

[2020-02-13 16:42] cyrfer commented on #2045
Since this was closed by @mlabieniec maybe those interested will upvote over here:
https://github.com/aws-amplify/docs/issues/1096

[2020-02-13 16:51] cyrfer opened #4909 "generate graphql schema portion from data source like Elastic Search Mappings"
How can I populate my GraphQL schema from another data source? Since ElasticSearch Mappings define what I want my client to use, can I hook into the code generation lifecycle?

Ideally I would be able to mix hand-written schema types with generated schema types, from a variety of sources (at least ES Mappings).

** Which Category is your question related to? **
Api, GraphQL, Plugins

** What AWS S

[2020-02-13 16:54] cyrfer commented on #4909
Maybe I could leverage a library in the plugin lifecycle, like this one:
https://github.com/graphql-compose/graphql-compose-elasticsearch

[2020-02-13 17:21] hendrixroa commented on #4886
This is the solution. you can close this issue

[2020-02-13 17:38] grant-d commented on #4527
Thanks all. iOS seems to work fine (except for subscriptions which per above seems to be expected)
Android does not work - I get a runtime error `Cannot use t "__Schema" from another module or realm`
I have tried recreating it a couple of times but can't get around this

[2020-02-13 19:10] edvinasbartkus commented on #4527
I have a project using the web and react-native with the shared codebase. I tried to upgrade everything to `rn-datastore.3` version and play with it. However, the web is working fine and is syncing data with the AppSync, but the iOS side can't retrieve objects. I constantly get an empty array `[]`.
Is it supposed to be working with `"authenticationType": "AMAZON_COGNITO_USER_POOLS"`?

[2020-02-13 19:26] raelmiu commented on #4853
I'm getting the same error, react + typescript here.

[code]

amplify-cli 4.13.0
@aws-amplify/core 2.2.4
@aws-amplify/datastore 1.0.6
@aws-amplify/pubsub 2.1.5

[2020-02-13 21:21] giulioambrogi commented on #2560
@mzohaibqc  Hi quick question, is there a reason why you don't extract the `currentSession` directly from the `cognitoUser` object?
So my simplified version looks like this, any thought?

[code]

[2020-02-13 21:36] dabit3 opened #4910 "React native subscriptions not working"
**Describe the bug**
When trying to initialize a subscription on React Native, error is thrown

![Screen Shot 2020-02-13 at 1 32 17 PM](https://user-images.githubusercontent.com/1857282/74480166-471d7e00-4e65-11ea-95b3-f59b7af3d944.png)

**To Reproduce**
1. create a new React Native project and install amplify
[code]

2. Initialize a new Amplify project
[code]

3. Add an API with a basic schema
[c

[2020-02-13 21:39] callaars commented on #4910
This also fails on an Android device. By simply following the documentation, it occurs immediately.

[2020-02-13 21:58] callaars commented on #4910
What I am seeing is that it fails on [this line](https://github.com/aws-amplify/amplify-js/blob/master/packages/pubsub/src/Providers/AWSAppSyncRealTimeProvider.ts#L571) with the error `Buffer is not defined`. I resolved this by adding the following at the start of my react-native app:

[code]

[2020-02-13 22:01] dabit3 commented on #4910
Nice find @callaars, thanks for the heads up and update. We're looking at a native fix for this now.

[2020-02-13 22:01] callaars commented on #4910
My pleasure, you're doing great work here!

[2020-02-13 22:33] sammartinez commented on #4910
Starting to dig into this with the team

[2020-02-13 23:10] arkhedr commented on #4681
Hello, guys any update on that. I am still stuck :)

[2020-02-13 23:15] elorzafe commented on #4910
Thanks @dabit3, the issue is confirmed and I am working on a fix right now

[2020-02-13 23:40] paulorsbrito commented on #4667
The same here. A fresh new amplify project and booom.

[2020-02-13 23:52] rush86999 commented on #1252
I tried using multi-auth with amplify js. I also followed https://github.com/aws-amplify/amplify-cli/issues/2373 but did not work.

here are the things I tried:
1. amplify update api and added iam for pubic auth
2. followed the docs and passed an object with authMode:

[code]
any help? should I switch to API_KEY?

[2020-02-13 23:57] rudyhadoux commented on #1252
The solution I have found is to use only Cognito Groups with a "public" group.
And @auth rules for different groups.

[2020-02-14 00:02] rush86999 opened #4911 ""No Current User" for AWS_IAM unauthenticated role"
**Describe the bug**
A clear and concise description of what the bug is.

I am getting 'no authenticated user' for an unauthenticated AWS_IAM role with cognito groups following the docs.

**To Reproduce**
Steps to reproduce the behavior:

I tried using multi-auth with amplify js. I also followed https://github.com/aws-amplify/amplify-cli/issues/2373 but did not work.

here are the things I tried:

[2020-02-14 00:17] #4910 closed

[2020-02-14 00:28] rush86999 commented on #1252
how do you add "public" group for unauthenticated users?

[2020-02-14 00:34] elorzafe commented on #4910
Fix published into `unstable` tag tomorrow it will be published into `latest` tag

[2020-02-14 00:35] rudyhadoux commented on #1252
I log in and use a "public" user.

[2020-02-14 00:37] dabit3 commented on #4910
Thanks @elorzafe @sammartinez !!

[2020-02-14 00:37] meketadev opened #4913 "Predictions Textract does not support PDF Documents"
**Describe the bug**
After installing the predictions plugin to identify text for documents, and uploading a PDF, an error occurs: "Error: Unsupported document format".

**To Reproduce**
With a new ionic project
ionic start blank (add main and polyfill code)
amplify init
amplify add auth (defaults)
amplify add predictions -> identify -> Identify Text -> "Would you also like to identify documents?"

[2020-02-14 01:32] michaelcuneo commented on #4900
I have the same issue, I have had to force the User Pool devices to use USER_PASSWORD_AUTH for now, my entire production project was broken after an update and it took me a few days to realise that it wasn't just me.

[2020-02-14 01:38] michaelcuneo commented on #4521
Depth in my current project has me stumped... i.e. in your case, User has a Job, which is an assignment, which is connected to a Job.

If I traversed that in my GraphQL Schema mutation call as I intend to use it... I get errors because Users would come back with Jobs with Assignments with Jobs inside. Assignments does not technically have a field matching 'Job' ... because it's a connection so it

[2020-02-14 07:04] Mefodys commented on #3985
Hi!
According to my information the issue should be fixed in the current patch H for 2020 version.
As the patch H is completely released, so it is necessary to make sure that it is installed, then retest the issue.

[2020-02-14 07:35] raelmiu commented on #4853
I was asked to add my sample code for debugging:

[code]

[code]

[2020-02-14 07:47] gHashTag commented on #4527
@Ashish-Nanda
 What about the fact that Async Storage has a limit of 6MB.
https://github.com/facebook/react-native/issues/7869
Is it planned to be replaced, and if so, for what?

[2020-02-14 09:00] edvinasbartkus commented on #4527
The size limitation for AsyncStorage is only on Android that can also be address with some configuration: https://github.com/react-native-community/async-storage/blob/LEGACY/docs/advanced/IncreaseDbSize.md

Moreover, AFAIK it's being worked on AsyncStorage v2 that would allow to create custom solutions how AsyncStorage persists the data. I guess one of the option would be writing to files (as iOS

[2020-02-14 11:27] mlecoq commented on #4827
@mlabieniec typescript 3.7.5

[2020-02-14 12:08] dimonchik-com commented on #4527
I try to save data and got next error
[code]
[InvalidStateError: Failed to execute 'objectStore' on 'IDBTransaction': The transaction has finished.]

[2020-02-14 13:25] KingDarBoja commented on #4681
Just found out the issue regarding `aws-amplify-angular`:

The library does use the spread syntax (operator `...`) on ngModule declarations like as [amplify-ionic-module.ts](https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-angular/src/aws-amplify-ionic-module.ts), but looks like the new Angular version broke it.

There is a Angular issue about that, in this case: [ngcc: l

[2020-02-14 13:30] LosD commented on #4681
@KingDarBoja That issue seems to have been fixed, and included as far back as rc.11?

Rebroken, maybe?

[2020-02-14 13:34] KingDarBoja commented on #4681
@LosD Good catch! If that's the case, someone should submit a ticket on the Angular repository.

[2020-02-14 14:07] lsale commented on #4580
@sarahcec @iartemiev as this is an issue impacting many of us, we would appreciate a date or a date for a date at least. It's blocking app submissions and we need to plan accordingly.

[2020-02-14 15:08] iartemiev commented on #4580
@camin-mccluskey @markmckim @lsale - I've gotten confirmation that the Cognito team has deployed their change. Will update this issue when the change has been propagated and enabled in all regions

[2020-02-14 16:15] igoralves1 commented on #1852
I need something out of the box to work with AWS and flutter. My big issue now is that I cant go on with flutter in my company because my system was created on AWS witch has no support to dart. I can't connect with cognito, I can't use SignatureVersion4 (tho one in flutter is broken). Guys, in this point Azure is one step ahead ! Don't wast time. If we dont have a road map I am going to start to t

[2020-02-14 16:35] genio commented on #610
"better to migrate"... That's not really doable, so it's not a viable work-around.

You can't backup/restore pools and you can't migrate pools. (yes, I know you can setup a lambda function to get users in a one-by-one method, but that's not exactly the same thing)

[2020-02-14 16:45] elorzafe commented on #4909
@cyrfer I will transfer this issue to CLI repo, they will answer this better than me.

[2020-02-14 16:46] giulioambrogi opened #4914 "How to test expired session scenarios proeperly? (Suggestions/recommendations)"
Hi there,

My app uses  `@aws-amplify/auth`  to talk to `Cognito` to authenticate users.
I would like to **replicate/test** the scenario **when the session expires**, example:
1. User logs in
2. User leaves browser open for > 7 days (current expiration for jwt tokens)
3. User comes back to the page

# Question
How would you suggest to reproduce this scenario?

# What I've tried so far
* changing t

[2020-02-14 16:47] elorzafe commented on #4906
@ngnathan I will transfer your question to CLI team, they will answer this better than me.

[2020-02-14 16:49] elorzafe commented on #4874
@alexladerman I will transfer this issue to CLI repo, they will answer this better than me.

[2020-02-14 16:51] elorzafe commented on #4890
@LBPlayer which framework are you using?

[2020-02-14 17:19] LBPlayer commented on #4890
Hi @elorzafe I am using Angular

[2020-02-14 17:33] LuizThiago commented on #1852
+1

[2020-02-14 17:39] sammartinez commented on #4667
We did find a bug with this and put a fix out for this yesterday afternoon. We are looking to do a release today in order to get it to our stable branch. @geoseong Can you please verify this resolves your issue?

[2020-02-14 17:57] rfakoya opened #4915 "CUSTOM_AUTH error when using USER_SRP_AUTH"
**aws-amplify  / auth with cognito user pool**
I using a aws-amplify manual config (without using cli) and withAuthenticator HOC in a react web app for authentication. In my user pool app client settings, I have _Enable SRP (secure remote password) protocol based authentication (ALLOW_USER_SRP_AUTH)_ checked.

However, when I attempt to sign in providing a username but not providing a password (le

[2020-02-14 19:06] agkairos commented on #1852
salve us!

[2020-02-14 19:19] thiagomerib commented on #1852
+1

[2020-02-14 19:22] Batthez commented on #1852
+1

[2020-02-14 20:13] midimurphdesigns opened #4916 "What's the best way to account for pagination, robust search/filter/sort, and instant updates with react?"
** Which Category is your question related to? **
gql queries and subscriptions

** What AWS Services are you utilizing? **
AppSync, DynamoDB, ElasticSearch

** Provide additional details e.g. code snippets **
Given that dynamo queries don't return total results, don't have the same querying capabilities as elasticsearch, and there are no subscriptions created for elasticsearch, how does the devel

[2020-02-14 20:34] bullapse commented on #4667
@sammartinez I can confirm the `@unstable` branch fixes
[code]

subscriptions seem to be working as intended

[2020-02-14 20:45] mzohaibqc commented on #2560
@giulioambrogi I can't test this but seems like a good point and will save one refresh session api call if your session is expired at the time of execution.

[2020-02-14 21:21] sarahcec commented on #610
Hi all, I'm the product manager for Cognito. We weren't able to implement case insensitivity on existing user pools because there are so many ways to solve the collision problem. If I have two usernames in my pool that differ only in case, I might want to delete one, or ask the user to reregister, or prompt them to log into the other one. Depending on what logic you want to use, you can craft a mi

[2020-02-14 21:28] sammartinez commented on #4667
Release will be happening shortly.

[2020-02-14 21:34] ericclemmons commented on #4049
@ricardoribas Can you share a snippet of your component code?  I'm unsure if you're using `aws-amplify-react`'s `<Authenticator>`, `withAuthenticator`, or another library.

[2020-02-14 22:01] anarerdene opened #4918 "Query: Nested List Items Return Empty"
** Which Category is your question related to? **
@key with @connection.
** What AWS Services are you utilizing? **
AWS AppSync
** Provide additional details e.g. code snippets **
Im Using @key but nested list return empty ?

this is my schema:

![image](https://user-images.githubusercontent.com/2210568/74571199-755fa280-4fb8-11ea-88c4-79ba09d18fe5.png)

and this is result:

![image](https://user-

[2020-02-14 22:30] anarerdene opened #4919 "Query: Nested List Items Return Empty"
** Which Category is your question related to? **
@key with @connection.
** What AWS Services are you utilizing? **
AWS AppSync
** Provide additional details e.g. code snippets **
Im Using @key but nested list return empty ?

this is my schema:

![image](https://user-images.githubusercontent.com/2210568/74571199-755fa280-4fb8-11ea-88c4-79ba09d18fe5.png)

and this is result:

![image](https://user-

[2020-02-14 23:14] manueliglesias commented on #4853
@miteshgodhani @raelmiu

Looks like the provisioned APIs are not sync-enabled (meaning that they will not work with DataStore). I come to this conclusion because the missing fields mentioned in your logs (`_version`, `_deleted` and `_lastChangedAt`) are part of sync-enabled apis provisioned by the amplify cli / npx scripts

Did you get a question like this when doing the `amplify add api` step?

[

[2020-02-15 00:12] fireflysemantics opened #4920 "When importing Angular AmplifyService it introduces ERROR in Cannot read property 'length' of undefined"
**Describe the bug**
When importing Angular AmplifyService it introduces ERROR in Cannot read property 'length' of undefined

If I comment out:

[code]

The project runs fine.

**To Reproduce**
Steps to reproduce the behavior:

[code]

![Screenshot from 2020-02-14 18-10-27](https://user-images.githubusercontent.com/25155787/74577582-8d520a80-4f55-11ea-80c0-29aca79bb74f.png)
![Screenshot from 2020-

[2020-02-15 00:49] Ashish-Nanda commented on #4527
@dimonchik-com @CarlitosBeto Its seems like your app is not picking up the React Native specific files and instead using web specific code.  @dimonchik-com I will try out the test app you linked to and report back. In the meantime could you try to run the app again after deleting node modules, and resetting the packager cache?

[2020-02-15 01:24] fireflysemantics commented on #4920
Using `Hub` instead works:

[code]

[2020-02-15 05:08] elorzafe commented on #4918
Duplicate of #4919

[2020-02-15 05:08] #4918 closed

[2020-02-15 05:09] elorzafe commented on #4919
@anarerdene thanks for your feedback, I will transfer this issue to CLI repo, they will answer this issue better than me.

[2020-02-15 05:23] elorzafe commented on #4913
@meketadev `Predictions` category currently supports synchronous operations for Amazon Textract.

That question from Amplify CLI you mentioned `Would you also like to identify documents?`is basically for enabling Amazon Textract that allows detecting document like images (picture from a document that contains multiple words) rather than a street sign or images that contains a small number of words

[2020-02-15 06:32] elorzafe commented on #4916
@midimurphdesigns
Why subscribing to changes like create/update/delete doesnt work for you? Have you tried Amplify DataStore?, that deals with those kinds of problems because is internally syncing everything (and also is offline first)

[2020-02-15 06:47] DocCaliban commented on #610
I gotta say it was a long time coming, but I am glad it was finally fixed and that you are creating some documentation around it as well, even if' it's just a blog post.

[2020-02-15 08:18] GGonryun commented on #4824
@WinstonN  did you find a way around this?

I'm getting the same console error when trying to follow the instructions under Analytics for the Amplify docs.

[2020-02-15 11:11] geoseong commented on #4667
@sammartinez oh, finally solved that issue! thank you.
I've tried what you suggested and seems to work well.

What I've tried this like
1. $ rm -rf node_modules
2. $ yarn add aws-amplify@unstable
3. status of package.json
[code]

4. uncomment Buffer code in `App.js`
[code]

5. $ yarn ios
6. subscription working well

Seeing [PR](https://github.com/aws-amplify/amplify-js/pull/4912) related this iss

[2020-02-15 11:57] muchrm commented on #4744
i try to add ` {static: true}` in complied code in node_module it work, but it's should to migrate this library to angular > 8?

[2020-02-15 14:25] mavenik commented on #2621
I'm also looking to retrieve roles for a signed in user (and then grant/manage roles for other users via this user). Is there any documentation that I'm missing, that I could refer?

[2020-02-15 14:50] dimonchik-com commented on #4527
I try to remove node_modules how you said and then run
npm install
yarn
and then got next error
Error: Node is not supported

[2020-02-15 14:51] Philani commented on #1852
Any update on this? We really need SDK support for Flutter on AWS

[2020-02-15 15:49] sammartinez commented on #4667
@geoseong thanks for testing this. We did do a release yesterday so this change is now in our latest tag. Thanks again for verifying and I’m glad it’s working as expected. Resolving issue.

[2020-02-15 15:49] #4667 closed

[2020-02-15 17:17] midimurphdesigns commented on #4916
Amplify sets up subscriptions for dynamo queries but not elasticsearch queries. I need to use elasticsearch queries b/c it returns total results, a next token, and has decent filter and sort capabilities. I'll look into datastore, I remember hearing about it at reinvent.

[2020-02-15 17:25] almpertis commented on #4859
I figured it out. Turns out that some packages that come preinstalled with expo can be used without needing to install them first with npm (or yarn). In my case I used one of these packages and the linter would not throw an error. However the app was unable to run when I published my app. So check your imports and your packages. Big thanks to @ashika01 for the great help!

[2020-02-15 17:25] #4859 closed

[2020-02-15 17:50] idanlo opened #4922 "Analytics.updateEndpoint fails - no address"
**Describe the bug**
When calling `Analytics.updateEndpoint` I get an error saying `Missing Address`. I have a `PushNotification.onRegister` event listener and I can see that I do have a notification token. I saw some guides mentioning that I should not set do
[code]
when receiving the notification token because Amplify does that automatically. But it doesn't work for me.

**To Reproduce**
Try to

[2020-02-15 19:07] CarlitosBeto commented on #4527
@Ashish-Nanda please can you share any steps to configure correctly the project. I try removed the files and continue with the same error Node is not supported

[2020-02-15 19:53] julianljk commented on #4859
what did you manage to do to fix this? Were the issues coming from expo libraries?

[2020-02-15 20:20] madebythose commented on #4064
@elorzafe - I just noticed this was pushed into the Amplify master. Its great you've made some changes to fix these issues.

One thing I'm still not sure about is how to handle network disconnect/reconnects.  Does this now reconnect automatically if the app goes into the background or network is lost?

[2020-02-15 23:05] undefobj commented on #4527
@CarlitosBeto "Node not supported" sounds like you might be using the adapter in `@latest` which doesn't yet support React Native rather than `@rn-datastore` npm tag. It also could be that the React Native bundler still has a cached copy so you might have to try clearing your dependency tree or a new project. This is what should be used:

[code]

[2020-02-16 00:13] edgarjs opened #4923 "`confirmSignUp` callback is passed different `authData` after signUp than after signIn"
**Describe the bug**

When signing up the [`SignUp` component is calling `this.changeState('confirmSignUp', data.user.username)`](https://github.com/aws-amplify/amplify-js/blob/a047ce73ab/packages/aws-amplify-react/src/Auth/SignUp.tsx#L271). However when signing in and getting a `UserNotConfirmedException`, the [`SignIn` component is calling `his.changeState('confirmSignUp', { username })`](https:

[2020-02-16 00:18] Ashish-Nanda commented on #4527
Hi @CarlitosBeto the steps to install and configure are detailed in this [comment](https://github.com/aws-amplify/amplify-js/issues/4527#issuecomment-585524466) above.

Please check that you have installed dependencies with the @rn-datastore tag as @undefobj commented above.
Your package.json should have something like:
[code]
If the above is true but you are still facing the issue then try the fo

[2020-02-16 02:29] jarkin13 opened #4924 "Use owner as the primary key for settings table"
** Which Category is your question related to? **
Appsync + Backend files
** What AWS Services are you utilizing? **
Cognito, AWS AppSync, Api, Auth
** Provide additional details e.g. code snippets **
I would like to make the `owner` the primary key, here is the code for my `@model`

[code]

If I go into my Appsync api, I can update

[code]
to:
[code]

and go into the resolver and comment out the

[2020-02-16 03:17] Ashish-Nanda commented on #4527
@dimonchik-com I think I resolved the issue you were facing.
I checked out your project code locally, and faced the same issues initially. After looking in the node_modules I found that the wrong version of `@aws-amplify/datastore` was being installed.

I think the issue is with your `yarn.lock` file. You can [see from these lines](https://github.com/dimonchik-com/TestDataStore/blob/18ad23b5569def

[2020-02-16 04:51] raygerrard opened #4925 "how to get cognitoIdentityId to be populated"
** Which Category is your question related to? **
API
** What AWS Services are you utilizing? **
Cognito, Lambda, ApiGateway
** Provide additional details e.g. code snippets **
After adding a userprofile api via the command line, I have set userIdPresent=true.

The cognitoIdentityId is always null even though the user is authenticated. Is there any steps that need to be taken to enable this to be

[2020-02-16 05:23] ashika01 commented on #4922
@idanlo : could you provide us with what version of aws-amplify and analytics you are using?

[2020-02-16 09:14] idanlo commented on #4922
@ashika01
[code]

[2020-02-16 10:14] raelmiu commented on #4853
@manueliglesias Yes, that's the flow I went through. I have also run amplify-modelgen.

As you can see from the included screenshot the meta fields ("_deleted" etc) are there, just undefined. But I have no idea **why** it's undefined. Since this is handled by DataStore.

<img width="840" alt="Screenshot 2020-02-16 at 11 12 42" src="https://user-images.githubusercontent.com/186083/74602850-6575ba80

[2020-02-16 11:11] severi opened #4926 "Logged in user not included in Api request on the first API call"
**Describe the bug**
Logged in user (Cookie) not passed to API call on first try

**To Reproduce**
1. Use cookie based authentication
2. Authenticate the user
3. Create  a new Tab in the browser
4. Call a lambda function that requires user to be authenticated (on the ApiGateway level)
5. The first call will fail with an 403, ApiGateway logs show that no user has been set for the request
6. Call th

[2020-02-16 14:31] cipriancaba commented on #4527
Managed to get this working with my react-native app but for some reason there is no sync happening with the actual backend.. If I save the data locally, it will appear in the queries, but won't fetch pre-existing data (I added datastore to existing project).. Wondering if it's related to https://github.com/react-native-community/react-native-netinfo/issues/7  ? Is there a way to manually trigger

[2020-02-16 15:13] camin-mccluskey commented on #4580
hi @iartemiev thanks for the update! We're still seeing the same failure on our production app, I assume the change had to be rolled back? Any further update on this would be appreciated

[2020-02-16 15:21] iartemiev commented on #4580
@camin-mccluskey you are correct. The Cognito team had to roll back the change due to an unrelated issue. They're currently shooting for the end of next week for the fix to be rolled out to all regions

[2020-02-16 17:16] idanlo opened #4927 "TypeScript types are incorrect"
**Describe the bug**
I am calling `Auth.currentAuthenticatedUser()` to get the current users data, attributes, and sub. The function states that it returns a `CognitoUser`, which I import like this `import { CognitoUser } from '@aws-amplify/auth'`. And it says that `CognitoUser` does not have an `attributes` property, but if I `console.log` the result from `Auth.currentAuthenticatedUser()` I can c

[2020-02-16 17:34] edvinasbartkus commented on #4527
@cipriancaba same issue for me, can't get to sync with actual backend. Tried on the simulator and on an actual device, and the result is the same - it saves and persists locally but does not sync with AppSync backend.

[2020-02-16 21:57] raygerrard commented on #4925
I have also added custom request header. I don't want to have to add this to every request but it didn't work when adding this to Amplify.configure.

[code]

I have also added a custom cognito pool Authoriser and added that to ANY request methods and no success.

Can anyone advise on this? I thought this would be an out of the box feature to be able to limit the api to cognito users and be able to

[2020-02-16 23:23] SebSchwartz opened #4928 "Datastore with custom claims seems not ok"
**Describe the bug**
I configured amplify with custom authorization header to pass idToken with datastore. I configured my schema to work with it but i'm receiving the same error with all models:
0: {errorType: "Unauthorized", message: "Not Authorized to access onUpdateAddress on type Subscription"}.
When I create a new address, i can see it in my indexDB but it's not sent to dynamodb...

**To Rep

[2020-02-17 04:58] CarlitosBeto commented on #4527
@Ashish-Nanda first many thanks, i try with your instructions but i have 2 issues:
1) I install the correct packages and result the following error:
AuthError -
            Error: Amplify has not been configured correctly.
            This error is typically caused by one of the following scenarios:

            1. Make sure you're passing the awsconfig object to Amplify.configure() in your app's

[2020-02-17 05:03] julianljk commented on #4025
same issue here

[2020-02-17 05:37] undefobj commented on #4527
@cipriancaba @edvinasbartkus If you are using a pre-existing Amplify project you'll need to ensure that you've created a sync-enabled Data Source ("Enable Data Source versioning" is selected in the AppSync console) and the resolver is configured with conflict resolution as well as a "sync" operation. This can be done if you modify your API using the CLI when it asks the "Advanced Configuration" op

[2020-02-17 07:00] chunyenHuang commented on #4244
In case anyone still needs help for expo+amplify+social logins

#### app.json
[code]

#### App.js
[code]

Make sure you add the following redirect urls to amplify `amplify auth update`

[code]

[2020-02-17 07:31] miteshgodhani commented on #4853
@manueliglesias  Unfortunately i am not able to find  sync-enabled (datastore) configuration while selection `? Do you want to configure advanced settings for the GraphQL`  please refer below screenshot. can you please guide me bit more to fix this ?
![amplify-sync](https://user-images.githubusercontent.com/3829073/74632538-975a5000-5185-11ea-9e0c-2d8558e3acf4.png)

[2020-02-17 08:44] SebSchwartz commented on #4928
Here is the message sent for the subscription:
[code]

[2020-02-17 09:07] SebSchwartz commented on #4928
I also tried with `ownerField: "clientId"`in the auth config and adding the field in the schema but got the same error :/

[2020-02-17 09:37] SebSchwartz commented on #4928
I also updated some package version to:
[code]
But error is still there with those versions.

[2020-02-17 09:51] uc-apa commented on #4861
I am also stuck at below point:-

1. I have created 4 records in my ios device at the time when my android device was off.
2. Later I opened my app in android and want all data of dynamoDb to be automatically updated/sync in local Datastore. I do not want to run
`API.graphql(graphqlOperation(queries.listTodos));`
if possible, rather use only `DataStore.query(Todo, Predicates.ALL)`. So that all my

[2020-02-17 09:57] almpertis commented on #4025
If you are using expo make sure that you have installed all your exports. I had the exact same issue. Problem was that I was using an expo import that I had not installed with yarn or npm. The linter would not throw an error and everything seemed to work (apart from the big red error)

[2020-02-17 10:08] miteshgodhani commented on #4853
@manueliglesias  Yes, you are right. it worked with `? Do you want to configure advanced settings for the GraphQL ` .
thanks for help and update.
As you mentioned above, please update document as soon as possible.

[2020-02-17 10:09] raelmiu commented on #4853
@miteshgodhani So you just re-rean the API configuration and it started working?

[2020-02-17 10:14] miteshgodhani commented on #4853
@raelmiu  yes, and while re-run and select option `? Do you want to configure advanced settings for the GraphQL `  for merge conflict configuration.

[2020-02-17 11:35] Ashish-Nanda commented on #4527
@edvinasbartkus reading your comment it seems you have a webapp already setup and working with Amplify Datastore and not just the API category, correct?

Could you elaborate more/provide some repro steps regarding your setup and how you are sharing the backends between the platforms so I can try to replicate and test it? I assume your exports file has the same resource ids, etc.

Also we discovere

[2020-02-17 11:50] edvinasbartkus commented on #4527
@Ashish-Nanda that is correct, I am reusing the codebase for the webapp and react native project, it has AppSync, DataStore, and Auth in place. Web version works well, it is calling DataStore methods to query and save. Mobile uses the same code, it persists locally but does not sync.

I will try to put querying first (`DataStore.query`, right?), just to check but I am pretty sure I am already doin

[2020-02-17 12:29] Ashish-Nanda commented on #4527
Got it! Yes, do execute DataStore.query(...) first, similar to how its done [here](https://gist.github.com/Ashish-Nanda/aa8c0aa2614f59d8fd4eb1d95b0919e4#file-app-js):

It would be great if you could share the project on Github. It would help us test and debug further, so do drop a link to the repo if the above suggestion does not work.

Also let us know any additional details regarding the configu

[2020-02-17 14:11] SebSchwartz commented on #4928
It is working with simple key-value header but it's not waiting the result when calling it with async method -> https://github.com/aws-amplify/amplify-js/blob/e03dd517e09280349f2fb3501f43b90fec741895/packages/pubsub/src/Providers/AWSAppSyncRealTimeProvider.ts#L244

In the API packages, it's awaited and called after the basic one so we can override it: https://github.com/aws-amplify/amplify-js/blob

[2020-02-17 15:58] lissau commented on #4089
I followed the (outdated) docs at [https://aws-amplify.github.io/docs/js/push-notifications](https://aws-amplify.github.io/docs/js/push-notifications) and ended up with the same error description as @MaffooBristol posted - "Invariant Violation: Native module cannot be null."

What solved it for me was to update to amplify-js@2.1.5, add dependency @react-native-community/push-notification-ios and d

[2020-02-17 16:20] edvinasbartkus commented on #4527
@Ashish-Nanda yes, I am using `"authenticationType": "AMAZON_COGNITO_USER_POOLS"`

Good news, I have managed to recreate a sample project sharing web & mobile codebase. Sync works on mobile and on the web!

In this version, I have added `@versioned` markup in GraphQL schema and used `API_KEY` for `aws_appsync_authenticationType`. I will try to add `@versioned` markup to my original project where I

[2020-02-17 17:07] dimonchik-com commented on #4527
Hi @Ashish-Nanda  Do you public all latest changes and I can start try testing DataStore?

[2020-02-17 19:19] hectomg opened #4932 "Why "unsubscribe" observer method is unsubscribing all observers for a topic and inclusive disconnecting the client in PubSub?"
** Which Category is your question related to? **
PubSub
** What AWS Services are you utilizing? **
Cognito, IoT Core
** Provide additional details e.g. code snippets **
As you can see in the code below in your library when you unsubscribe an observer the library unsubscribe ALL observers related to the topics including observers tha are subscribed to other topics (including target topics) and inc

[2020-02-17 19:39] jaimeburnap-fts commented on #3494
Any updates on this?

[2020-02-17 19:44] ggriffin opened #4935 "Support OIDC address claim per the spec"
**Describe the bug**
The OIDC specification for Address Claim defines it to be a JSON object that contains either a `formatted` value, all other address sub values, or both. The cognito `signUp` and `admin-update-user-attributes` APIs define the address input as a string. This string is then used to populate the OIDC address "formatted" claim.

**To Reproduce**
Steps to reproduce the behavior:

1.

[2020-02-17 20:07] Ashish-Nanda commented on #4527
@dimonchik-com Did you try out the steps I mentioned in this [comment]()

I tried out your App, and was able to get it working. The issue is related to your yarn.lock file and dependencies. I've detailed the steps in the linked [comment](https://github.com/aws-amplify/amplify-js/issues/4527#issuecomment-586664149) which should resolve your issue. Please let us know if it works for you.

We will be

[2020-02-17 21:04] efdornbush commented on #351
@jackwellsxyz @jfo8000 for many of the use cases you've mentioned, it seems like you should be using the Authenticator component directly rather than forcing withAuthenticator to work. With that approach you still wrap the App root component and can then pass the authState to all your sub-components. Then you decide whether or not each sub-component displays its content and what to display instead

[2020-02-17 21:16] elorzafe commented on #4900
@bodokaiser `USER_SRP_AUTH` is supported on `eu-central-1` I created a UserPool with the same configuration as you mentioned. Can you give more details? Did you enable case insensitivity?

[2020-02-17 21:49] ashika01 commented on #4815
@idanlo @mariotsi @addingama This issue is fixed and should be available with latest version.
aws-amplify - 2.2.5.

Could you check it and close this issue? @mariotsi

[2020-02-17 21:51] ashika01 commented on #4922
@idanlo : could you gimme some sample code ? also, are you using push notification and update endpoint? whats the use case for update endpoint here?

[2020-02-17 23:38] dbhagen commented on #4853
It worked for me as well, to go through `amplify update api` and do no changes. The tables are back to updating.

[2020-02-17 23:39] jkeys-ecg-nmsu commented on #3923
@sammartinez is there a simple way of forcing a newer version of the SDK?

[2020-02-17 23:48] sammartinez commented on #4066
@y-yeah Does the above solution work for you? Please let us know.

[2020-02-18 00:02] sammartinez commented on #3923
@jkeys-ecg-nmsu are you looking for an SDK version higher than [2.518.0](https://github.com/aws-amplify/amplify-js/blob/master/packages/core/package.json#L44)? We do pin it based on breaking changes that can cause issues to Amplify. But Im going to cut an issue to see about updating the aws-sdk version in our core package.

[2020-02-18 00:04] sammartinez opened #4936 "Upgrade aws-sdk version in core"
**Which Category is your question related to?**
Core

Customers are asking in regards to updating our `aws-sdk` version, currently `2.518.0`, within our core package in Amplify. We need to see if having our package take the latest will cause any issues to Amplify.

#### Related Issues
Helps #3923

[2020-02-18 03:55] justinjoyn commented on #2692
Any update on this? I always get this error when trying to subscribe to a topic after internet is restored.
[code]

[2020-02-18 03:59] justinjoyn commented on #3212
Any update on this? I always get this error when trying to subscribe to a topic after internet is restored.
[code]

[2020-02-18 04:01] justinjoyn commented on #2610
Any update on this? I always get this error when trying to subscribe to a topic after internet is restored.
[code]

[2020-02-18 04:06] justinjoyn commented on #4860
Any update on this? I always get this error when trying to subscribe to a topic after internet is restored.
[code]

[2020-02-18 06:56] fireflysemantics opened #4940 "Sending a post request with AWS Amplify blocked by browser CORS policy?"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
API Express Server
** Provide additional details e.g. code snippets **
I'm attempting to test out the example from the documentation.

[code]

However when I attempt to hit this endpoint with:

[code]

The browser produces the following error:

Thoughts?

Also asked this question on Stackoverflow:

ht

[2020-02-18 08:36] bodokaiser commented on #4900
@elorzafe Where do I enable case-insensitivity? Which details would be of help to you? I could send you my cognito user pool id's on a private channel.

[2020-02-18 11:18] Zilvinaskli commented on #3954
I'm wondering if there's a simple way to restrict some endpoints for some user groups when users are already authenticated through Cognito.

[2020-02-18 12:25] escar commented on #2692
Same here, I'm on latest version 2.2.5

[2020-02-18 13:59] dahersoftware opened #4941 "Can't access pre-token generated claims after updating Auth API."
I am facing issue about pre-token claim being missing from graphql console APIs as well as from within my react app code.

I raised a similar issue earlier [https://github.com/aws-amplify/amplify-cli/issues/2192](url) and it was solved by including graphql header into the code.

**Pretoken lambda code response:**
event.response = {
      claimsOverrideDetails: {
        claimsToAddOrOverride: {

[2020-02-18 14:25] dimonchik-com opened #4942 "Invalid pagination token given."
I have next shema
[code]
when I try get data using **selectByOwnerCollectionWord** and limit i got next error
com.amazonaws.deepdish.common.pagination.InvalidPaginationTokenException: Invalid pagination token given.

[2020-02-18 14:27] chanan commented on #4901
Does anyone have insight into this issue?

[2020-02-18 14:57] dimonchik-com commented on #4527
@Ashish-Nanda at the current moment I can't check DataStore problem because when I start check problem with DataStore i unexpectedly encounter with another problem https://github.com/aws-amplify/amplify-js/issues/4942

[2020-02-18 15:34] genio commented on #610
Again, this version of the term "migrating" isn't really a valid work-around or a real migration. Repeating the documentation you guys already have out there for this type of migration path won't change the fact that you can't really migrate a pool.

[2020-02-18 15:44] idanlo commented on #4922
@ashika01 I don't have the `updateEndpoint` for updating the address using the notification token anymore, as I said I read somewhere that it is already done automatically by Amplify.
I use the `updateEndpoint` to set the user data in the endpoint - user id, and other attributes, so that I can later target the user and send a notification to the user's endpoint

[2020-02-18 16:52] mariotsi commented on #4815
I’ll deploy 2.2.5 later this week and let you know. Thanks!
On 17 Feb 2020, 21:49 +0000, Ashika <notifications@github.com>, wrote:

[2020-02-18 17:22] elorzafe commented on #4900
@bodokaiser for new Userpools you can enable case-insensitivity when creating a new one on Cognito console, but that setting is not allowed to be changed after its creation.

Can you try creating the userpool with amplify cli?

[2020-02-18 17:23] kwoxford commented on #4704
Same here

[2020-02-18 17:35] sammartinez commented on #4827
@mlecoq We do have our Typescript version set to [3.6.4](https://github.com/aws-amplify/amplify-js/blob/master/package.json#L74). Can you verify if using this Typescript version will resolve your issue?

[2020-02-18 17:36] sammartinez commented on #4878
@seang96 What version of Typescript are you using? We do have our current TypeScript support at [3.6.4](https://github.com/aws-amplify/amplify-js/blob/master/package.json#L74). Can you verify if this version of TypeScript works for you?

[2020-02-18 17:39] sammartinez commented on #4809
@mlecoq I do see that you have an [issue open](https://github.com/aws-amplify/amplify-js/issues/4827) for another TypeScript callout. Do you want to merge these two issues together? I believe it'll be the same callout as in the other issue that are current TypeScript support is [3.6.4](https://github.com/aws-amplify/amplify-js/blob/master/package.json#L74)

[2020-02-18 17:40] dahersoftware commented on #4941
closing this ticket as I solved this problem. I created a custom modules in pre-token generation lambda function which was overriding my claims.

[2020-02-18 17:40] #4941 closed

[2020-02-18 17:51] Temkit commented on #4681
still having look alike problem using the package from build artifacts !!!

[2020-02-18 17:54] seang96 commented on #4878
@sammartinez I've been doing 3.7.5. I still get the error:
"TS2559: Type '{ "aws_project_region": string; "aws_cognito_identity_pool_id": string; "aws_cognito_region": string; "aws_user_pools_id": string; "aws_user_pools_web_client_id": string; "oauth": {}; "aws_appsync_graphqlEndpoint": string; "aws_appsync_region": string; "aws_appsync_authenticationType": string; "aws_cloud_logic_custo...' has

[2020-02-18 18:37] manueliglesias commented on #4908
Hi @Luckygirlllll

I've been digging around and found this related issue #1614 and feature request #2010

Looks like at the moment the way to have the code sent again is to try the `updateUserAttribute` operation again.

Please let us know if this works for you

[2020-02-18 18:44] Luckygirlllll commented on #4908
@manueliglesias I have already found a solution I used `verifyCurrentUserAttribute()` method to resend a code.

`updateUserAttributes` doesn't resend code to the same email/phone number.

[2020-02-18 18:44] #4908 closed

[2020-02-18 18:59] jkeys-ecg-nmsu commented on #3923
@sammartinez yes, we would like to use the Kinesis Video Streams WebRTC integration, which requires at least 2.585.0.

Thank you for tagging the request.

[2020-02-18 19:07] bodokaiser commented on #4900
@elorzafe Signing-in using the amplify-created userpool indeed uses `USER_SRP_AUTH`.

It's a good insight of yours, to compare the settings of the amplify userpool and app client and the one I created in the web console (see attachments).

I will do some more experiments tomorrow. Let me know if you have any further remarks.

<img width="1440" alt="Screen Shot 2020-02-18 at 20 00 41" src="https://

[2020-02-18 19:11] manueliglesias commented on #4913
@meketadev

We'll be flagging this as a feature request, at the moment, Amplify's predictions support for text recognition only works with the synchronous operations as you pointed out.

[2020-02-18 19:28] manueliglesias commented on #4914
Hi @giulioambrogi

One thing that comes to my mind is to change the expiration of the jwt tokens only:

https://github.com/aws-amplify/amplify-js/blob/832c0ea73d03acc63bb7300d7bb56eecf56030be/packages/amazon-cognito-identity-js/src/CognitoUserSession.js#L85-L93

For this you can try to replace the items in localStorage, these are the keys:

https://github.com/aws-amplify/amplify-js/blob/832c0ea73d

[2020-02-18 19:28] #4914 closed

[2020-02-18 19:31] danketrotzdem opened #4943 "React PWA receive Push Notifications over Service Workers"
Hello,
I am thinking to realize a project with a react (CRA) PWA. One important use case is to receive push notifications via service workers.
Is this possible in general with aws amplify js toolset?
If yes, is there a documentation how to send messages from a aws service (not sure which one this could be) to a device?
Thanks in advance,
Patrick

[2020-02-18 20:48] philmerrell commented on #4875
If anyone can give some guidance here, it would be much appreciated. Should I try and write a custom angular service that structures the GraphQL operations in a more vanilla way (i.e., sans generated Angular service)?

Is this a feature request for the Angular Amplify library? Would a pull request be accepted if I decided to dig in and create one?

[2020-02-18 21:35] toddb commented on #4754
An even poorer (but immediate workaround) is to skip checks in `tsconfig.json`. Sorry reference lost.

[code]

[2020-02-18 22:08] filipjelic commented on #618
Is this still a thing? I was just activating MFA for a specific user, and it still requires that the user has to have a phone number....

[2020-02-18 22:48] rush86999 commented on #3157
same problem any workaround? should we just remove social provider sign in and keep regular sign in?

[2020-02-18 23:33] jkeys-ecg-nmsu commented on #4936
@sammartinez presumably this will not be an issue when v3 of the JS SDK goes live -- one of my first attempts at circumventing this problem was to install the relevant V3 package, but it has not been published recently and doesn't expose the recent APIs that we need.

[2020-02-19 00:27] #4884 closed

[2020-02-19 00:48] ddisqq commented on #3495
Also struggling with an Amplify/Cognito login/signup solution here before rolling my own.

I think another big point to note is that the complexity increases even further when using a custom domain with or without the hosted UI configuration. Seeing many issues with CNAME, redirect and region configuration, 400's etc.

The documentation would be better well served with a simple happy path with a c

[2020-02-19 01:42] Ashish-Nanda commented on #4527
@davidbiller @danrivett @CarlitosBeto

I tested React Native DataStore on an Expo managed app for both iOS and Android, and it works as expected.

The only difference in instructions is the NetInfo installation and linking step. I have updated the instructions in the original [comment](https://github.com/aws-amplify/amplify-js/issues/4527#issuecomment-585524466) to include the steps specific to Ex

[2020-02-19 02:13] aprilmintacpineda opened #4946 "Removing named connections graphql API"
**Describe the bug**

Removing named connections of models throws `Cannot perform more than one GSI creation or deletion in a single update`. Someone who hasn't experienced this would think that he/she needs to remove those one by one, but doing so will throw `Found one half of connection "<ModelName>" at <ModelName>.<field> but no related field on type <ModelName>`.

**To Reproduce**
Steps to rep

[2020-02-19 02:17] fireflysemantics commented on #4940
Also enabled CORS via the console, but I'm still getting blocked.  Described it further here:

https://stackoverflow.com/questions/60291606/blocked-by-cors-policy-in-chrome-after-enabling-cors-for-lambda-function

[2020-02-19 05:32] waltermvp commented on #4695
I'm getting this issue using 1.0.7 and without a referencing type.

[2020-02-19 05:49] hilalbaig commented on #1852
It should be top priority.

[2020-02-19 06:33] oliverandersencox opened #4950 "IOS rejection due to app redirect with Ionic"
I have commented on this before and had no useful answers, and this is really frustrating.

Amplify is supposed to support ionic however the social integration is not properly integrated.

My login code:

[code]

This takes the user off the app and opens in safari, the redirect then works, however as apple point out it is a horrible use experience as apposed to popping up an in app browser.

Apple

[2020-02-19 06:33] syed-haroon commented on #1852
@mlabieniec, since 6 Oct 2018 we did not hear any update from you or the team and people above literally begging (including me) :) Can you please share any insight/hint like is there even anything happening or nothing at this moment?

[2020-02-19 07:13] waltermvp opened #4948 "How to to update value for @key field"
I am unable to update the `status` field on my `Item` model.

The schema is as follows:

[code]
When I attempt to update the item with the following parameters (this error does not occur if i am NOT updating a @key value):

[code]

DynamoDB throws the following error :

[code]

The VTL is pretty complicated to debug. Can anyone point out if I'm using something incorrectly?

** Which Category is yo

[2020-02-19 07:24] luchoman08 commented on #488
In our case (we only use the `auth` sub package)  using
[code]
reduced the build size `~2.3MB`

Before:
![image](https://user-images.githubusercontent.com/11391497/74811081-bf010380-52be-11ea-8fa7-f294c8caedbc.png)

After:
![image](https://user-images.githubusercontent.com/11391497/74811137-e5bf3a00-52be-11ea-9282-7c05d1e4a5d8.png)

[2020-02-19 07:51] dabit3 commented on #4527
@Ashish-Nanda Have set this up on Expo as well and it does not seem to be actually saving the dat to the back end, only locally.

When I save a new post, it saves and will query locally without throwing any error. I can't seem to get it to sync with the database at all though when creating new posts. Not sure if I am doing something wrong.

Here are my dependency versions for Amplify:
[code]

Here

[2020-02-19 07:55] edvinasbartkus commented on #4527
@dabit3 make sure you add `@versioned` annotation to models. If I remember correctly that was an important bit for me using API token to auth in AppSync. For Cognito User Pool, I had to add @auth annotation too.

[2020-02-19 08:31] mlecoq commented on #4827
@sammartinez I have tried with 3.6.4, and unfortunately I have the same error

[2020-02-19 08:36] mlecoq commented on #4809
With 3.6.4, I have still this issue (like in #4827)

[2020-02-19 09:35] bodokaiser commented on #4900
@elorzafe I created a new user pool from the aws console and am not able to reproduce to the issues. That said I am still not able to use `USER_SRP_AUTH` with the user pool I initially created. There might be some internal state in that user pool that breaks the use of `USER_SRP_AUTH`.

Maybe someone from the AWS Cognito backend team would like to check the internal state of said user pool? Otherw

[2020-02-19 11:27] #4687 closed

[2020-02-19 13:17] miteshgodhani commented on #4853
advance configuration for graphql resolved this issue. need to update documentation.

[2020-02-19 14:19] fireflysemantics opened #4949 "Adding an additional endpoint to the AWS Amplify Express Server?"
** Which Category is your question related to? **
API
** What AWS Services are you utilizing? **
Gateway/Lambda/Express
** Provide additional details e.g. code snippets **

I added the following two endpoints to the express server generated by Amplify API:

[code]

After running amplify push I don't see these endpoints in the console, and I can't make requests to them via amplify.

What is the cor

[2020-02-19 14:30] fireflysemantics commented on #4940
I think this was caused by me "Thinking" that `/myendpoint` had been deployed, but it actually never was.  I created an additional issue with the related question here:

https://github.com/aws-amplify/amplify-js/issues/4949

[2020-02-19 16:05] fireflysemantics commented on #4940
So IIUC the steps to adding a new endpoint using the same lambda function are:

1 ) Run `amplify update api`
2) Add a new endpoint - for example `/customers`
3) Add the `/customers` REST methods to the express server

And that's it.  I think that's how it's done.  I'm still testing it out.  I'll put a final comment in assuming it works.

[2020-02-19 16:20] elorzafe commented on #4900
@bodokaiser I agree that this is something related to the service, I will close this issue but feel free to open a new one if you experience this again.

Meanwhile you can cut a ticket on [AWS Support](https://console.aws.amazon.com/support/home?#/)

[2020-02-19 16:20] #4900 closed

[2020-02-19 17:24] bostondevin commented on #4744
Broken for me as well with Angular 9

[2020-02-19 17:31] elorzafe commented on #1411
I usually see this problem when using the `username` as first argument instead of the user that is returned from `Auth.signIn`

[code]

[2020-02-19 19:25] raelmiu commented on #4853
Just tried this:

1. `amplify update api`
2. chose to `configure advanced settings`
3. updated the `merge conflict settings`
4. pushed the changes.
5. Then ran `npm run amplify codegen`.

No change. Still all undefined. Any other things you tried? Updated versions?

[2020-02-19 19:37] raelmiu commented on #4853
Turns out I was wrong. It DOES work now. I just also had to delete **all existing objects** both locally and in the dynamoDb.

[2020-02-19 19:51] benjamin79 opened #4957 "How to i tell Datastore to query appsync with a customerId? The Datastore.query only queries the local database."
How to i tell Datastore to query appsync with a customerId? The Datastore.query only queries the local database. I don´t want the whole Database on the client.

**Which Category is your question related to?**
Datastore

**Amplify CLI Version**
4.13.4
**What AWS Services are you utilizing?**
AppSync

**Provide additional details e.g. code snippets**
[code]

[code]

[code]
Anything wrong here? Where

[2020-02-19 20:06] Ashish-Nanda commented on #4527
@dabit3 Thanks for testing. I'll try out your code and will report back.

[2020-02-19 20:20] undefobj commented on #4527
@edvinasbartkus the `@versioned` directive should not be used with DataStore. AppSync does this automatically behind the scenes now and in a more comprehensive manner.

[2020-02-19 20:42] pashka4281 commented on #3009
I can think of a usecase for this:
using a free https-enabled development domain provided by cloudfront for your app (some client side libraries won't work when served from a non-encrypted endpoint. Example: `crypto`)

[2020-02-19 21:03] mrmaiko commented on #4035
It appears that we cannot make existing User Pools case insensitive though?

[2020-02-20 00:11] sammartinez commented on #4943
@danketrotzdem Currently, PWAs are not supported within Amplify JS. I am marking this as a feature request. Thanks for bringing this up!

[2020-02-20 02:08] cc-bojan opened #4952 "GraphQLError request failed with status code 401"
**Which Category is your question related to?**
Auth / GraphQL

**What AWS Services are you utilizing?**
AWS AppSync

**Provide additional details e.g. code snippets**

In our ```schema.graphql```, we added ```@function``` directive to the field inside the ```Query``` type, in order to invoke our ```recoverUsername``` lambda function:

[code]
It works when I execute this query in the AWS AppSync c

[2020-02-20 03:32] birken92 opened #4953 "Missing configuration in React-native for Analytics and S3 bucket."
**Describe the bug**
Auth.currentAuthenticatedUser() works fine and returns the objects.

However, when trying to implement pinpoint and S3 there are credentials issue. Where the credentials are not set in React-native.

The debug form is like this:
[DEBUG] 18:19.748 AuthClass - getting session success {some session object}
[DEBUG] 18:19.749 Credentials - set credentials from session
[DEBUG] 18:20

[2020-02-20 04:29] whimzyLive commented on #1585
@powerful23 can please provide more info on how to setup self hosted ui with cognito oauth2 server? All the docs that I have come across only describe, how to use cognito oauth2 using cognito hosted UI.

[2020-02-20 09:03] TLaue commented on #4841
@ashika01 I would really appretiate if the Amplify Data Store could be used with an external AppSync Api even if the supported backend data sources would be limited to DynamoDB (we are using no other datasource in our project).

+ 100

[2020-02-20 09:12] danketrotzdem commented on #4943
Hi, some aspects are possible, right? Like offline support and a "app like" installation on mobile devices.
https://aws.amazon.com/blogs/mobile/building-progressive-web-apps-with-the-amplify-framework-and-aws-appsync/

[2020-02-20 11:01] dimonchik-com opened #4954 "Can't get data from database: Possible Unhandled Promise Rejection Object"
Hi, all! Each day I try use amplify-js and each day I encounter with diff problem. Today I try run next ease code

[code]

and got next error Possible Unhandled Promise Rejection Object {} https://prnt.sc/r531vq
Code https://github.com/dimonchik-com/newbugamplify
Maybe someone can tell me where error?

[2020-02-20 12:33] trmaphi commented on #3495
From my experience over 6 months working with Cognito on a daily basis, I must say Cognito User Pool is really a pain if you start customizing your solution.

Every migration on Cognito User Pool is a process of creating a new pool. It's frustrating that you have to keep your old pool, even it only has 1 user. 😓

[2020-02-20 15:47] Antoine-C commented on #3841
Hi @ericclemmons, do you have any update on this issue ?

[2020-02-20 16:31] slatemates commented on #4832
Facing the same issue in a react web app . @jitendra-koodo  had pointed that we need to have the same structure for subscriptions and respective mutations . However it still returns null .

[2020-02-20 17:06] r301 opened #4955 "Auth.federatedSignIn does not emit signIn event and Promise resolves instantly with undefined credentials"
**Describe the bug**
In an Electron app (without React), `Auth.default.federatedSignIn({provider: 'Google'})` does not emit the `signIn `event on the `auth `channel even though authentication is successful. Furthermore, the Promise returned is resolved instantly (while the Google login page is still loading) and credentials are undefined (rightfully as the user hasn't logged in yet).
This behavior

[2020-02-20 17:10] ericclemmons commented on #4832
@slatemates Can you share your schema, the query for your subscription, and the code that you're using for making the call (e.g. `API.graphql(...)`)?

I was unable to reproduce this (https://github.com/aws-amplify/amplify-js/issues/4832#issuecomment-582111032) and was still getting the full response back rather than `null` (even with required fields removed).

[2020-02-20 17:14] ericclemmons commented on #3841
We're still working on it.  Auth is both critical & complex, so eliminating this race-condition is more than a simple PR, unfortunately.

Thanks for the check-ins here on progress @Antoine-C!  These comments bubble up into our planning & metrics, so it helps us focus on the most meaningful issues (like this one).

[2020-02-20 17:28] slatemates commented on #4832
This is the code that we are using on the client App.

import React, { useState, useEffect } from "react";
import {listTeachers} from './graphql/queries'
import {onCreateTeacher} from './graphql/subscriptions'
import {onCreateWallet} from  './graphql/subscriptions'
import {mutations, updateTeacher} from './graphql/mutations'
import {subscriptions} from './graphql/subscriptions'
import awsconfig fr

[2020-02-20 17:39] elorzafe commented on #4852
@dave-moser thanks for your feedback, I confirmed the problem and I will send a PR with the fix now.

[2020-02-20 18:23] slatemates commented on #4832
We have tested by pushing an entirely new api with the above schema . Amplify CLI Version (4.13.4)
and aws-amplify(2.2.5) . We are getting null for the "teacherSubscription" whereas we are getting just the "id" for the "wallet subscription ".

Output :

null

{"amount":null,"createdAt":null,"id":"41689a23-2318-4df0-b06d-39372c4f6451","updatedAt":null}

[2020-02-20 18:28] manueliglesias commented on #4954
Hi @dimonchik-com

Is the *warning* you see related to the `API.graphql` call? (e.g., if you comment it out, does it go away?)

If it is related, can you try going to the AppSync console and run your `listWords` query from there and see if you get data back?

Also, can you copy/paste and anonymize your `aws-exports.js`?

[2020-02-20 18:34] #4852 closed

[2020-02-20 18:41] slatemates commented on #4832
Also I forgot to mention, that we dont have any @auth transformers mentioned on the graphql schema . The subscription seems to work on appsync console, where "id" and "_type" are returned

[2020-02-20 18:46] sammartinez commented on #4920
@fireflysemantics I apologize that we haven't had a chance to dig into this on your behalf. For [dependency injections](https://aws-amplify.github.io/docs/js/angular#using-dependency-injection) we do call out that you should inject this into your constructor of your top level App component. Are you following the guide on this? Also, did you follow the [getting started guide](https://aws-amplify.gi

[2020-02-20 19:22] sammartinez commented on #4955
@r301 Currently, Amplify does not support Electron within our project. I am marking this as a feature request so we can evaluate supporting this in the future. Im also marking this as a good first issue/help wanted to see if the community of Amplify have use cases similar to yours.

[2020-02-20 19:36] sammartinez commented on #4935
@ggriffin This seems to be specific to Amazon Cognito and not Amplify, are you using Amplify? If not, I believe this can be better suited to ask Amazon Cognito via [AWS Forums](https://forums.aws.amazon.com/forum.jspa?forumID=173).

[2020-02-20 19:37] bneigher commented on #4593
I am having this issue since upgrading @aws-amplify/pushnotification to 2.x.x

In particular, before it was autolinked, the only way to get around the duplicates symbols error was by having this:

[code]

After the upgrade, I can no longer reference the project here, thus I can no longer specify the exclude group.

[2020-02-20 19:38] digthewells commented on #4681
The above solution using the newer compiler does work to get past the first error.  Now stuck on...

ERROR in node_modules/aws-amplify-angular/dist/src/aws-amplify-angular.module.d.ts:1:22 - error NG6002: Appears in the NgModule.imports of AppModule, but could not be resolved to an NgModule class

I don't know what else to try.

[2020-02-20 19:41] sammartinez commented on #4927
@idanlo Can you provide the TypeScript error you are receiving? Also, can you provide a code snippet of your code along with the `package.json`, this helps us with understanding what is currently being used.

[2020-02-20 19:59] idanlo commented on #4927
@sammartinez The error I'm getting - `Property 'attributes' does not exist on type 'CognitoUser'.ts(2339)`.
The code snippet exists in the reproduction I gave, as simple as that. version - `aws-amplify: "^2.2.5"`

[2020-02-20 20:02] rush86999 commented on #3157
Will amplify stop parsing url if we deactivate federated signin from amplify-cli? Anyone who could reply to this answer would be great as I m stuck right now

[2020-02-20 20:52] manueliglesias commented on #4908
@Luckygirlllll Thank you for posting your solution for other users to see!

[2020-02-20 23:17] KingDarBoja commented on #4681
@digthewells Which version of aws-amplify-angular do you have on your package.json?

[2020-02-21 00:12] guanzo opened #4958 "CookieStorage should handle the "SameSite" attribute."
**Is your feature request related to a problem? Please describe.**
Cookies are going to be `samesite=lax` by default in Chrome 80. aws-amplify should allow users to set the samesite value.

**Describe the solution you'd like**
The [CookieStorage class](https://github.com/aws-amplify/amplify-js/blob/c28851a6379f3ba05c4fef529bb5be7f18ebe316/packages/amazon-cognito-identity-js/src/CookieStorage.js) s

[2020-02-21 00:36] dmoskovtsov opened #4959 "S3Image isn't customisable enough"
**Is your feature request related to a problem? Please describe.**

Currently, it's hard to customise react implementation of S3Image. I faced these 3 problems so far:

1. There is no way to pass 'alt' to the image. This is important for SEO.
2. It's not obvious how to style img dom element using css styles. (theme={{photoImg: {}}}) is an answer)
3. There is no way to style div wrapper around that

[2020-02-21 02:51] bneigher commented on #4728
I'm seeing the following error after upgrading from 1.x.x to 2.x.x @aws-amplify/pushnotification

[code]

Due to the changes with the 2.x.x version of @aws-amplify/pushnotification, it seems autolinking is working so our build.gradle files no longer accept:

[code]

which is a bummer because in the past I needed to have:

[code]

in order to have the duplicate symbols issue not complain. I've chec

[2020-02-21 03:00] bneigher commented on #4360
I've been having to do this manually for the past 4 months every time I update my node_modules.  Why isn't aws testing against the current RN version?

[2020-02-21 05:04] wickstargazer commented on #4681
@KingDarBoja  what version are you using? I am stuck with the same error as @Temkit

[2020-02-21 05:42] Temkit commented on #4681
@KingDarBoja

[code]

[2020-02-21 06:20] slatemates commented on #4832
The problem seems to be resolved presently. We are able to get the data on the client web app. There was no change in front end code, schema .
However, now on the app console the subscription is returning the complete data instead of just the "id" and the "_type" fields as reported earlier

[2020-02-21 06:43] rakesh0r opened #4960 "Userpool Signup clientMetadata Type is missing"
Signup method clientMetadata parameter type is missing in `index.d.ts`.

<img width="1624" alt="Screen Shot 2020-02-21 at 2 12 15 PM" src="https://user-images.githubusercontent.com/3204611/75018029-3f3c8a00-54b4-11ea-9e7c-6354b4895e42.png">

[2020-02-21 06:46] olivierto commented on #4681
The solution for me was to disable Ivy and to set importHelpers:true in my tsconfig.

I hope amplify-js will be ivy compatible soon!

[2020-02-21 06:59] devDeejay commented on #1852
Devs need AWS AppSync! Please work on it!

[2020-02-21 08:23] cantwelc commented on #4609
Is there any update on this?

[2020-02-21 09:07] onursahindur commented on #2014
1 year passed and still no fix?

[2020-02-21 09:45] slatemates commented on #4832
The appsync/amplify  subscription appears to be inconsistent . Sometimes we are able to get data on the frontend , at other times we simply get a null object.

[2020-02-21 10:05] slatemates commented on #4832
It seems to working though in case the mutation returns the same structure as is expected in the subscription else the fields are returned null

[2020-02-21 10:29] chufgard commented on #4535
You could also add this you the transform.conf.json directly:
`{
    "Version": 5,
    "ResolverConfig": {
        "project": {
            "ConflictHandler": "AUTOMERGE",
            "ConflictDetection": "VERSION"
        }
    }
}`

This information must be included to the documentation! It's pretty hard to guess... Or "@versioned" should generate it.

[2020-02-21 11:01] wickstargazer commented on #4681
@olivierto i did all the above, the ngcc builds fine now but it comes back to this error when trying to serve the web

[code]

[2020-02-21 11:41] devDeejay commented on #1852
I have come across these two links which might be helpful to someone.

**Flutter AWS AppSync Sample.**
https://github.com/ineat/flutter-aws-appsync-sample

**Flutter Cognito Dark SDK**
https://pub.dev/packages/amazon_cognito_identity_dart

[2020-02-21 11:47] dimonchik-com opened #4962 "Possible Unhandled Promise Rejection (id: 0): Object {}"
Guys i really don't know what happen but at the current moment i event can't run simple example from you documentation. I upload my all code on github https://github.com/dimonchik-com/TestAmplify with open aws-exports.js I hope this helps somehow resolve the problem

First step I create a blank project
npx react-native init TestAmplify --template react-native-template-typescript
Then install all d

[2020-02-21 12:00] Steinliiippp commented on #825
Is there any progress?

[2020-02-21 12:13] dimonchik-com commented on #4954
@manueliglesias thx for you answer I try create new project from scratch https://github.com/aws-amplify/amplify-js/issues/4962 and anonymise my aws-exports.js

[2020-02-21 14:27] raelmiu commented on #4853
I've just run into this problem again. With many-to-many relationships the middle model cannot be saved. Debugging as we speak. But I'm surprised these similar issues keep appearing.

[2020-02-21 14:43] khizarbajwa007 commented on #3040
{"1 validation error detected: Value null at 'streamingDistributionConfig.s3Origin.originAccessIdentity' failed to satisfy constraint: Member must not be null"}
Here I'm also getting same thing

[2020-02-21 15:26] digthewells commented on #4681
@KingDarBoja I was able to get past all errors and build successfully.  Here are the steps I took...

1.  Install latest of everything...npm and all dependencies.
2.  Updated package.json to this as stated above and did an install...

"@angular/compiler-cli": "https://621158-24195339-gh.circle-artifacts.com/0/angular/compiler-cli-pr35191-b93c5372e9.tgz",

this did get past the error but got the er

[2020-02-21 15:39] KingDarBoja commented on #4681
I have these version on my package json file:

[code]

And this is my tsconfig file on root folder:

[code]

[2020-02-21 16:13] wickstargazer commented on #4681
Ok guys, Thankz a ton for the heads up on `@angular/compiler-cli` .. That has gotten me to the right path.

Also to be able to get pass the `ngcc` error i had to add `importHelpers:true` in the **tsconfig.json** file.

However I was still getting the `ViewContainerRef` error. It seems like the **container is undefined when trying to load the dynamic view!**

So I have gone through some digging and

[2020-02-21 17:06] fireflysemantics opened #4964 "Normalize the Import Structure for API, Auth, etc."
**Is your feature request related to a problem? Please describe.**
IIUC Amplify uses default exports for `Auth`, etc.  Ideally we would import `Auth` the same way we import `API`.  Current:

[code]
Ideal:

[code]
## Update

Just noticed that `@angular/material` makes us import each module from it's specific path.  So for the button module we need to import `@angular/material/button`.  IIUC this is

[2020-02-21 17:46] manueliglesias commented on #4957
Hi @benjamin79

Thanks for trying the DataStore.

As of today, the DataStore syncs *the whole DataBase* (in practice and by default, only the first 10000 records per model). It is not possible to tweak filters or define a selection set that doesn't get all the available fields on a model.

We'll be tracking this as a feature request:

*Ability to specify base and sync queries filters/selection set

[2020-02-21 17:48] manueliglesias commented on #4954
Closing in favor of #4962

[2020-02-21 17:48] #4954 closed

[2020-02-21 17:48] manueliglesias commented on #4962
Thank you for the steps to reproduce! 😃
I am taking a look at it

[2020-02-21 17:59] timoteialbu commented on #2635
@jordanranz Yep decided to ban IE11 on our app, so users accessing it with that get a message to switch to Chrome.

[2020-02-21 18:02] fireflysemantics commented on #4920
Hello @sammartinez ,
I just noticed that Angular 9 is not supported and I'm using :

[code]

I think that's the problem.  I'll just stick with Hub for now until Angular 9 is supported.

[2020-02-21 18:02] #4920 closed

[2020-02-21 18:09] claym commented on #610
@elorzafe @sarahcec How do you enable case insensitivity in an amplify project?

I created a new environment with amplify 4.13.4, and the case insensitivity was disabled and I was not able to change it.

[2020-02-21 18:21] IVB107 commented on #3435
@sammartinez Any updates on this issue?

[2020-02-21 18:23] ericclemmons commented on #4681
Thanks everyone for your tenacity & research on this!  We're actively working on Angular 9 (Ivy) support, so your help in "unblocking" development is incredibly helpful and welcomed. 🙏

[2020-02-21 18:26] elorzafe commented on #4733
@houmark can you try @unstable version published on npm of Amplify?

You can see the messages on Chrome dev tools on network tab look for `graphql?header=...` request, there you will be able to WebSocket messages sent to AppSync

[2020-02-21 19:09] houmark commented on #4733
Yeah, I will try it out.

If a subscription fails, there seems to be no real way of detecting that, even on errors. That means it's hard on the UI side to detect a problem and attempt a reconnection.

[2020-02-21 19:17] manueliglesias commented on #4853
@raelmiu Can you share your schema?

Also, just to verify, are you doing amplify push after doing local changes to the schema/models ?

[2020-02-21 19:34] elorzafe commented on #4733
@houmark  can you also try this version on your app as well? We are adding a new mechanism for error notifications there.
`npm i -E aws-amplify@2.2.5-rn-datastore.4`

[2020-02-21 19:36] houmark commented on #4733
I can if you can tell me more about how I detect errors in my code and if you would merge back unstable fix into that branch?

[2020-02-21 19:37] houmark commented on #4733
Also, that looks to be React Native related? I am running a normal React web app.

[2020-02-21 19:37] elorzafe commented on #4733
When subscribing it should notify the error on the `error` callback on the observer

[2020-02-21 19:38] elorzafe commented on #4733
Yes we are working on DataStore support for react-native, but that also has changes related to the problem you mention

[2020-02-21 19:39] houmark commented on #4733
So that means something like this should work?

[code]

[2020-02-21 19:40] houmark commented on #4733
I see master is already merged back, so I will test this out.

[2020-02-21 21:05] oliverandersencox commented on #3537
@jordanranz or any of the team, Ionic is still broken and no one has gotten back to any of my messages in months about Ionic federated login on native devices. The angular approach works for broswers but not on the actual device as amplify doesnt pick up the redirect back to the app.

I have managed to get so far and get it working with ionic however it is hacky and unpleasant as it does not use t

[2020-02-21 21:36] sammartinez commented on #3537
@oliverandersencox I apologize on behalf of the team that we haven't been able to response as there are projects in flight that would help this use case. We have been working on a newer implementation for our [UI components](https://github.com/aws-amplify/amplify-js/issues/3279) since this use case for Angular and Ionic, Federation Social Providers, is still in a [Feature Request](https://github.c

[2020-02-21 21:36] sammartinez commented on #4950
#3537

@oliverandersencox I made a comment in issue #3537 about the updates and having oncall dig into your issue

[2020-02-22 00:01] johnmesotech opened #4966 "How to get Auth.SignOut() to work in airplane mode or when driving through tunnels."
Ionic app running on android. Everything works generally but for a recent hiccup.

Auth.SignOut() doesn't clear local cache if internet isn't available when called. currentSession(), currentAuthenticatedUser(), etc. all still affirm an active user/session post SignOut(). Affects app page guards, routing.

Can I force-clean the cache in some other way?

This function can be called repeatedly in air

[2020-02-22 01:23] jordanranz commented on #4847
Closing this issue as the PR for this was merged :) Please open a new issue if there are any related questions or concerns.

[2020-02-22 01:23] #4847 closed

[2020-02-22 02:21] kimfucious commented on #4649
I've found if you move away from withAuthenticator and just use Authenticator, this warning goes away.  For what that's worth, I'm not sure. ;)

[2020-02-22 02:51] jordanranz commented on #3279
# Amplify UI Component (Preview)

Hello all,

Wanted to provide an update on the status for this project and give an overview of the phases we are planning on releasing in the near future. As mentioned above in [this RFC](https://github.com/aws-amplify/amplify-js/issues/3279#issue-444158769) the problems we wanted to solve for this project included:

* Lack of feature-parity across frameworks
* Du

[2020-02-22 08:36] raelmiu commented on #4853
@manueliglesias it's the same one as above. But I'm not sure this is the same error but here's what I've discovered while debugging:

When I try to save a new Ting and a new TingRef (relationship between two Tings)
[code]
I get the following debug log:
[code]
and this DataStore warning:
`"Variable 'input' has coerced Null value for NonNull type 'TingInput!'"`
<img width="1178" alt="Screenshot 2020

[2020-02-22 09:53] annjawn commented on #2880
Also, just to add - In order to grab the `access_info` from the Amplify `Auth`

[code]

`essentialCred` will contain the guest credentials like below -

[code]

[2020-02-22 16:36] alisherakb commented on #4689
What did solve your issue? I'm stuck.

[2020-02-22 20:22] aravindkaws opened #4967 "How can I force a click on the Microphone button without the user having to click it"
** Which Category is your question related to? **
Interactions
** What AWS Services are you utilizing? **
Cognito, Lex

I'd like to be able to do a face auth and if a valid user is found, I'd like to simulate a click of the Microphone button without the user having to do so. How can this be done with the existing Chatbot component ?

[2020-02-22 22:53] DiegoArrieta commented on #2498
Thanks! this worked for me!

[2020-02-23 07:05] matamicen commented on #2702
@MCVNick Thanks!!! it works for us!!! ... We had that problem just in iOS (May be because iOS operating system upgrade? because it was working before)

@manueliglesias @elorzafe May be this solution & info is useful for future amplify upgrades ?

we are using:

react-native:  "0.60.4"
"aws-amplify": "2.2.5"
"amazon-cognito-identity-js": "3.2.4"

Again, We had to apply the @MCVNick fix.

Thanks eve

[2020-02-23 14:50] martinlytics commented on #4829
@ericclemmons Just want to let you know that the solution you suggested above worked well for our project. Thanks again!

[2020-02-23 17:04] KhalidBhyan opened #4968 "Changing language and adding more target languages in amplify predictions"
I'm using aws-amplify predictions with NodeJS for my back-end i18n, everything is working fine but I faced two problems:
- How to change the target language in runtime?
- How to add more target languages?

**Edit:**
solved using this implementation:
[code]

[2020-02-23 17:43] #4968 closed

[2020-02-23 17:59] yvescoinpass opened #4969 "How to add existing amplify back end to the amplify front end?"
** Which Category is your question related to? **
Auth, Storage, API
** What AWS Services are you utilizing? **
Cognito, AWS AppSync,
** Provide additional details e.g. code snippets **
I accidentally deleted my amplify frontend and I create a new one. How do I add again the existing amplify back end to the newly created amplify app?

"aws-amplify": "^2.1.0",

[2020-02-23 20:28] JSDevelopment17 commented on #4800
Can anyone help on this?

[2020-02-23 21:05] Tyfoods commented on #1145
That'll do it! This should be "fixed" though. I was definitely surprised that I didn't get an error when the key wasn't found.

[2020-02-23 21:36] VicFrolov opened #4970 "When using a custom resolver with lambda, how to preserve directives (e.g. @connection, @searchable, @auth, etc)"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
I am using AmplifyJS API with the graphql option, and have used the api to create various `@models`, `@connections`, used `@auth`, and have various models `@searchable`. For simplicity, here are two models:

[code]

I wanted to add a few operations when `createNote` runs, so I made a custom resolver w

[2020-02-23 23:00] undefobj commented on #4704
@kwoxford @Rjgoolsby @gabehollombe @wilcoschoneveld @lukevandekieft
For existing Amplify projects you will indeed need to make them a "sync-enabled" API so that the proper fields come back from the AppSync endpoint and also so that it properly uses the [sync operation](https://docs.aws.amazon.com/appsync/latest/devguide/resolver-mapping-template-reference-dynamodb.html#aws-appsync-resolver-mapping

[2020-02-23 23:36] Rjgoolsby commented on #4704
@undefobj OK. That makes sense. I would've never figured that out. Thanks for the help!

[2020-02-23 23:38] aprilmintacpineda opened #4971 "wildcard query for searchable acting weird with spaces"
**Describe the bug**

Sample data:

[code]

The query below works fine and returns all the fields data with "auto" in them,

[code]

But when you start adding spaces:

[code]

I'm expecting this to return:

[code]

but it returned:

[code]

as it's the only one with `auto` and `focus` on the title. I tried adding asterisk all over the place, `*auto focus`, `auto focus*`, `*auto focus*`, `auto*focu

[2020-02-24 00:22] mayteio opened #5729 "Storage.put, Storage.get with protected images give 403 error out of the box on localhost"
**Describe the bug**
**When developing locally**, `Storage.put` throws a 403 error out of the box with minimal setup from auth, api and storage categories. If you set the bucket permissions to public read/write access, Storage.put works as expected (though I shouldn't have to do this and is unsafe). When trying to retrieve that same file, even with public read/write access, it returns 403 and I am

[2020-02-24 01:21] cjardine commented on #4744
@sammartinez Any progress on Angular support, both for v. 9 and Ivy?

[2020-02-24 03:23] ericclemmons commented on #4829
@martinlytics That's really awesome news!

I'll keep this issue open because we should address the standalone issues problem formally:

- [unpkg.com](https://unpkg.com/)-friendly standalone bundles that work with `<script>` tags.
- Documentation for standalone builds (like in this thread).

[2020-02-24 05:53] hemmachat commented on #3495
I am evaluating different identity providers for our company as we need to use single and social sign-on with multiple websites for our customers to be easily use their existing accounts. With ASP.NET Core, Auth0 has a very good documentation and samples for .NET world. I could use their samples with some customisations and be able to see some proof-of-concept within a day.

With Cognito, however

[2020-02-24 07:11] goemon07 commented on #3435
+1 waiting for some news as well

[2020-02-24 08:32] yvescoinpass opened #4972 "Aws - Amplify - SEO friendly approach"
*Which Category is your question related to?**
API

**Amplify CLI Version**
4.13.4

**What AWS Services are you utilizing?**
AWS Appsync

**Provide additional details e.g. code snippets**

I am creating a blogging application using using Aws Amplify. I am concern how will the SEO be handle on this type of application because the result will be a SPA. I read so many articles that SPA is not good in

[2020-02-24 11:35] r301 commented on #4955
Sounds good, thanks a lot. I've had a look at the implementation of the auth events. It looks like the implementation of the urlListener doesn't really suit the Electron architecture right now. In the meantime, I've found a workaround. I simply manually call `Auth.handleAuthResponse(authResponseUri);` when the login process is complete (whether it's a success or a failure). How you handle the redi

[2020-02-24 11:39] markmckim commented on #4580
@iartemiev @sarahcec Any update here? I really can't hold off much longer on this. Thanks!

[2020-02-24 15:12] saadtazi commented on #4044
semi-related: for those like me who spent a lot of time figuring how to force account selection: I am using `withGoogle` amplify-react component (so it think it is not using `federatedSignin`: it opens in a popup...), and I am able to overwrite the prompt param using the following:
[code]
Note that `gapi` is loaded by amplify automatically in my case (by `withGoogle` maybe?)

[2020-02-24 16:06] sammartinez commented on #4744
@cjardine We have been working on a newer implementation of our UI Components as based on this [RFC](https://github.com/aws-amplify/amplify-js/issues/3279#issuecomment-589909938). This is currently in Preview and we are looking for feedback from the community on this. Please let us know what you think! I did test Angular 9 with this preview and it does work but was unable to test Ivy due to time c

[2020-02-24 17:12] adibas03 commented on #3682
Leaving this here for anyone who it might help.
Following the instruction on the `amazon-cognito-identity-js` package readme is sufficient.
https://github.com/aws-amplify/amplify-js/tree/master/packages/amazon-cognito-identity-js
I was battling this for 3 days, full disclosure, it was my error.
The `react-native link` command did not work, because I changed the package name, and did not update the

[2020-02-24 17:28] JxDarkAngel commented on #4430
I solved it by chasing the mail in lowercase letters and using a trim. and in the same way when reading the email that the user enters when they log in. It caused me the error if the user wrote it, it was case sensitive

[2020-02-24 18:11] manueliglesias commented on #4926
Hi @severi

Can you provide more details to help us troubleshoot? (e.g. amplify packages versions used, Amplify APIs you are calling / components you are using)

[2020-02-24 19:08] lexwebb commented on #4708
@ericclemmons Has this been released? I'm still experiencing the issue on @aws-amplify/api@2.1.5

It looks in the commit/release tree that 2.1.5 was released later then this was merged

[2020-02-24 19:32] Ashish-Nanda commented on #4527
Hi All,

We published a new version of React Native DataStore to the `@rn-datastore` tag that has fixes for some of the known issues.
Go ahead and install the new version as follows to test out the fixes:
[code]
Here are some more details of the fixes that went into this release:
1) We have fixed the dependency issues with buffer and you can now remove the following line from your app:
[code]
2) W

[2020-02-24 19:53] elorzafe commented on #4733
@houmark you are correct, how did it go?

[2020-02-24 20:21] oliverandersencox commented on #4950
@sammartinez I managed to set it up to use the in app browser with this:

const result = await this.utils.openBrowser('https://cultureappauth.auth.eu-west-1.amazoncognito.com/oauth2/authorize?redirect_uri=com.app.myapp://welcome/&response_type=code&client_id=myid&identity_provider=Facebook')

And everything works fine, however there is no state returned once the auth completes, and so when i try a

[2020-02-24 20:21] oliverandersencox commented on #3537
@sammartinez thanks. Any estimate as to when they can get some feedback to us?

[2020-02-24 21:54] ericclemmons commented on #4708
@lexwebb Hmm, this seems to be released.

And the new code appears here:

Within your project, you can confirm what version of `@aws-amplify/core` you're running via:

[code]

[2020-02-24 22:55] christensen143 commented on #3495
I agree wholeheartedly. I had to create an entire API for user management because you cannot manage your users inside of Cognito. I was on the phone with a support person from Cognito on Friday. He said that this was not a feature that was requested by enough people. I asked him if he had been paying attention to the GitHub issues for Cognito, Amplify, and the Javascript SDK as well as StackOverfl

[2020-02-24 23:53] elorzafe commented on #610
As mentioned [here](https://github.com/aws-amplify/amplify-cli/issues/3494#issuecomment-590016486)

[2020-02-25 00:35] cassioseffrin commented on #1852
Any news on this? AWS will loose a lot of opportunities if they ignore flutter!

[2020-02-25 00:41] #4066 closed

[2020-02-25 01:20] megulo25 commented on #1852
Darn... that's really a shame. I wanted to go serverless with aws, but I'm going to have to use firebase for my app now.

I'll switch as soon as there's support for flutter!

[2020-02-25 08:37] anija commented on #4708
Using v2.2.5 the problem seems to be solved.

[2020-02-25 09:43] mariotsi commented on #4815
@ashika01 any occurrence of that issue is disappeared from our logs as soon as we deployed version 2.2.5. Thanks!

[2020-02-25 09:43] #4815 closed

[2020-02-25 10:00] lexwebb commented on #4708
Just incase it helps anyone else it turns out I had another dependency relying on the core package I forgot to update and webpack was rationalising down to the lower version without the fix.

[2020-02-25 10:44] raoulsigne commented on #1870
Hi @jordanranz

I have been able to integrate correctly the css as you suggested into your response but I'm still wondering how to solve the country flag which is not apprearing into the form

[2020-02-25 12:45] brainstorm commented on #3495
Here's my "favourite" issue with Cognito, @dabit3 : https://github.com/igvteam/igv/pull/691, detail here: https://github.com/igvteam/igv/pull/691/files#diff-4eb026bcdcbd11039fe8e138f6614363R146

After **months** of cloudtrail logging, we "discover" that the "enhanced flow" recommended in the official docs, does not support proper audit trails for federated users, thus reverting to the "Classic/Bas

[2020-02-25 12:48] mmatouk commented on #3495
Hi @christensen143 - I'm a solutions architect with Cognito team.
Can you share some more details about the features or use-case you meant by "user management"? happy to chat if you prefer a quick call.

[2020-02-25 13:08] apoorvmote opened #4975 "Data aggregation with datastore"
** Which Category is your question related to? **
Datastore
** What AWS Services are you utilizing? **
Cognito, AWS AppSync, Dynamodb
** Provide additional details e.g. code snippets **
I store transactions on dynamodb with amplify and appsync.
After every transaction I just want to create total sold productwise.
Transaction example is
Product A sold 3 qty
Product B sold 10 qty
Product A sold 5qty

[2020-02-25 13:47] oliverandersencox commented on #4950
@sammartinez is there a specific string i need to use for status? Apple rejected it again because of the redirect and I have got it so close to working using the in app browser. I simply need answers to manual authentication using a URL

[2020-02-25 13:51] oliverandersencox commented on #3537
@sammartinez anyword back... the error:

[ERROR] 54:31.433 OAuth - Error handling auth response.
[error] - Unhandled Promise rejection: undefined is not an object (evaluating '_a.accessToken')

is literally the only thing standing between me being able to submit to the app store

[2020-02-25 15:29] jkeys-ecg-nmsu commented on #4936
Any update on this, or steps on how to manually pin and test a version of the SDK?

[2020-02-25 15:52] vinhtnguyen commented on #3458
Thank you so much! Documentation from AWS contains no helpful example at all. I wasn't aware of how to use AWS SDK. Thanks for your help!

Btw, you can use async await by adding .promise() to the API calls.

[2020-02-25 16:07] edvinasbartkus commented on #4527
@Ashish-Nanda thanks for the new version!

I tried to update, but now I do get the following warning on react-native and on the web:
[code]
Do I need to do any other updates?

[2020-02-25 18:41] ashika01 commented on #4922
@idanlo Could you provide me with some sample code ? Would help me debug this faster.. Also, even without PushNotification just using Analytics do u still get this error?

[2020-02-25 20:35] rilian commented on #4430
getting this error when trying to authenticate using email of user that does not exist in user pool

[2020-02-25 20:40] adam-casey-devetry opened #4978 "Facebook authentication with Auth.federatedSignIn() in React.js doesn't create Identity Pool entry on first try"
[Link to sample code in repo](https://github.com/adam-casey-devetry/me3_cognito)

**Expected behavior**
I have a Facebook login button configured like the one in the [Amplify docs](https://aws-amplify.github.io/docs/js/authentication) to create a user identity in my AWS Cognito Identity Pool using Auth.federatedSignIn() but it takes 2 login attempts to actually create the user identity.

On the fi

[2020-02-25 21:00] raelmiu commented on #4853
I just added two new fields to my Ting model to try to work around this relationship issue. And now nothing is syncing, not up OR down.
(I added them in schema.graphql, ran the amplify push, the codegen)

Which is interesting.
Could it be that any changes to an API  breaks the API? That doesn't sound likely, but something strange is clearly happening here.

[2020-02-25 21:17] elorzafe commented on #4527
@edvinasbartkus did you make any change on the schema? Can you share your schema so we can reproduce? Thanks!

[2020-02-25 21:23] elorzafe commented on #4527
@edvinasbartkus is your user logged in?

[2020-02-25 22:14] idanlo commented on #4922
@ashika01 you mean I should give it a static address? Because the address should be set automatically by the PushNotification package, the code I'm using is what exists in the issue. I'm calling `Analytics.updateEndpoint` but not passing the `address` (as I said it should be automatically passed).
So for example -
[code]

[2020-02-25 23:19] undefobj commented on #4853
@raelmiu did you push your updates with `amplify push` and also re-run model-gen locally?

[2020-02-25 23:31] StevenHessing opened #4980 "sample app ionic does not support Ionic 5"
Following the steps in [Building Ionic 4 apps with AWS Amplify](https://aws-amplify.github.io/docs/js/tutorials/building-ionic-4-apps/#part-1-create-an-ionic-4-app) results in failures when
running 'ionic serve' as the steps now actually install Ionic 5 instead of Ionic 4, for which the tutorial was written.

This leads to many errors but the most prominent is swapping out Evens for [Observables /

[2020-02-26 00:23] chintanvyas360 commented on #54
Surprised to see that this issue is open since Dec 2017 and AWS hasn't provided any fix nor documentation to hep customers. Based on a cursory read and the no. of hacks listed on this issue, it seems obvious that it should not be left to customers and should be a P0 priority in terms of features.

Ours is a SaaS application using AWS Amplify and we need a link between the Cognito Identity ID and t

[2020-02-26 00:32] keithdmoore commented on #54
Due to this issue, I will never use AWS Cognito again.  Likewise, I will not be using or recommending Amplify as well due to this issue being completely disregarded.

[2020-02-26 00:55] undefobj commented on #4975
@apoorvmote Since you have an aggregate calculation one option would be to have a Lambda function attached to the DynamoDB table which does your calculations, then have it write back to the table by doing a mutation against the AppSync API (don't write direct to DynamoDB otherwise the delta sync and versioning wouldn't work). If you create a specific model or type in your GraphQL schema then it wo

[2020-02-26 01:52] jensbodal opened #4981 "additionalHeaders param is never passed to underlying function -- How do I access the current request headers or set them per request?"
**Which Category is your question related to?**

`API`

**What AWS Services are you utilizing?**

`graphql` via AWS AppSync

**Provide additional details e.g. code snippets**

Foremost, I'd like to ask if this was intentional to include the `additionalHeaders` param in the private `_graphql` function but never use it in any calling function (https://github.com/aws-amplify/amplify-js/blob/master/pa

[2020-02-26 02:41] jensbodal commented on #4981
For now I am patching the original method until I know how to better proceed.

[code]

[2020-02-26 02:45] iartemiev commented on #3537
@oliverandersencox I've updated https://github.com/aws-amplify/amplify-js/pull/2900 and have been testing it to see if it solves this issue. Will keep you updated on the progress

[2020-02-26 03:03] CarlitosBeto commented on #4853
I have the same issue, i ran coden and amplify push and not refresh, i read about amplify update api, and this not fix the issue, maybe is a update error in schema in the cloud.

[2020-02-26 03:14] undefobj commented on #4853
@CarlitosBeto can you post your schema, app code, and the workflow you followed? For instance:

- Starting schema
- model gen
- Initial app code
- pushed
- Updated schema to look like XYZ
- model gen
- pushed
- Updated app code

[2020-02-26 03:19] CarlitosBeto commented on #4527
thank you @Ashish-Nanda i review the installation and now the project compile, but i force the installation of package with command --save-exact i don´t know the reason but this fix the error.
And now i have other issue:
 DataStore - Sync error, subscription failed Connection failed: {"errors":[{"message":"Validation error of type FieldUndefined: Field '_version'
And I couldn't query

[2020-02-26 03:26] CarlitosBeto commented on #4853
Sure this is my schema:
type Employee
  @model @versioned
  @key(name: "ByEmail", fields: ["email"], queryField: "employeesByEmail") {
  id: ID!
  createdAt: AWSDateTime
  UpdatedAt: AWSDateTime
  firstName: String!
  lastName: String
  fullName: String
  dateOfBirth: AWSDateTime
  identification: String
  email: AWSEmail!
  tramite: [Tramite]
    @connection(name: "EmployeeTramite", keyField: "in

[2020-02-26 03:28] undefobj commented on #4853
@CarlitosBeto I see the issue. The `@versioned` directive cannot be used with DataStore. That is an older directive that predates this new functionality when all the optimistic locking was done in a resolver. With the new release this is all done in AppSync for you. Can you remove those directives and try from scratch in a new app?

[2020-02-26 03:35] apoorvmote commented on #4975
@undefobj This is exactly my point the documentation is confusing as hell.
Let's do simple walkthrough. I have following graphql schema.
[code]
Step 1. ProductQty is added by 3 different users **offline**. The **offline** is keyword here. Because you cannot call lambda function when you are **offline**.  Then synced with cloud when online.

Step 2. Lambda (or datastore) fetches current total for t

[2020-02-26 03:53] undefobj commented on #4975
@apoorvmote The link above was for a sample function. It sounds like you're looking to attach a Lambda function onto a table created by `@model` which makes sense for this use case, instead of creating one from scratch. Currently the [supported Triggers](https://aws-amplify.github.io/docs/cli-toolchain/quickstart#storage-examples) do not cover the DynamoDB tables created by `@model` however there

[2020-02-26 05:16] apoorvmote commented on #4827
I am also facing the same problem. I am using Typescript 3.7.5 and don't want to downgrade

@mlecoq thanks for workaround solution

[2020-02-26 05:26] nara opened #4982 "Storage.put causing A header you provided implies functionality that is not implemented error"
**Describe the bug**
I am using amplify as part react native project. Storage.put call returns an error
A header you provided implies functionality that is not implemented.

This happens only on iOS, not on android. After looking at request/response, this call on iOS adding If-None-Match header.

How can i change code to avoid sending this header?

Request Headers:
PUT /public/path/menu.json HTTP/

[2020-02-26 06:58] raelmiu commented on #4853
Yes I did. The models/schema.js look fine.

[2020-02-26 08:46] Albert-Gao commented on #2597
This means the README.MD is out of date?

[2020-02-26 13:48] ReyRod commented on #4966
On React Native you can just clear the storage and saved credentials/sessions on Auth will go away because internally it relies on storage to save these. @johnmesotech

[2020-02-26 13:55] Mighty683 opened #4983 "Make HubCallback type to return any"
I want attach `async function` to `Hub.listen` in Typescript

But because `HubCallback` type is returning void it's preventing from using  async functions.
`export declare type HubCallback = (capsule: HubCapsule) => void;`

Proposition to change type of hub callback to return `any`:
`export declare type HubCallback = (capsule: HubCapsule) => any;`

[2020-02-26 14:00] warrioru commented on #4689
@rmaroun Could you please explain how you solved it? which ids did not match?

[2020-02-26 14:05] rmaroun commented on #4689
The client Id in the Amplify config file on my react native client was not matching the client id in cognito therefore the error. @warrioru and @alisherakb does this help?

[2020-02-26 14:05] askdesigners commented on #2456
I want it to be public, so that other people know while doing research that there are many pitfalls. So many things vanish into private email, and it creates a giant blackhole around solutions and weaknesses in these products.

[2020-02-26 14:56] fireflysemantics commented on #4949
I was thinking that new endpoints would be picked up by amplify as they are added to the express server.  This would be a neat feature, but currently we need to add the paths explicitly with `amplify update api`.  Perhaps the GraphQL API implementation supports more dynamic route configurations.  I'll look at that next.

[2020-02-26 14:56] #4949 closed

[2020-02-26 14:57] #4940 closed

[2020-02-26 15:07] claym commented on #3872
Can we revisit this?

My app requires only the email and name. I create the account, they get the invite, and once they login, they are prompted for their name and a new password.

Unfortunately, most users see a prompt for a new password and expect to it to be combined with a confirmation, meaning their password is set as their password.

This is a huge problem.

Yes, the user should be more care

[2020-02-26 15:08] raelmiu commented on #4853
Updated amplify-CLI from 4.13.3 to 4.13.4 and tried again:
`amplify push`
`npm run amplify-modelgen`

Nothing happened, remembered an earlier problem where I had to remove the local DB. So I cleared the entire local cache, logged in again and then:

Things are being synced down. But DataStore cannot populate:
[code]
`refs` is a new attribute as I'm avoiding relationships right now, so they are alw

[2020-02-26 15:48] dtelaroli commented on #2640
The API doesn't have override anymore.
I want change the form with email confirmation field, but after 3 days loosing time, I need help:

https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-react/src/Auth/SignUp.tsx

The button disappears if I hide SignUp with configuration.

[2020-02-26 16:02] rdsedmundo commented on #54
I think we should make a template and send a support inquiry to AWS with the same content pointing to this issue, demanding an answer. We're paid customers, and it's been 2 years and counting that we had no conclusive response other than someone coming and adding a few labels to the issue saying that it's on a backlog.

[2020-02-26 16:29] ajhool commented on #3495
@mmatouk there are a lot of issues in this amplify repository where Cognito is the real culprit. Would the cognito team consider opening up an indpendent github repo for the cognito service to solicit community feedback?

[2020-02-26 16:48] dtelaroli commented on #2640
@jordanranz this option does not exists

I want to add a email and password confirmation fields, but I can't override component:

<img width="1038" alt="Screen Shot 2020-02-26 at 13 20 27" src="https://user-images.githubusercontent.com/536500/75367088-80f77700-589e-11ea-99fc-ce075f8c97c3.png">

[2020-02-26 17:30] manueliglesias commented on #4981
That would be great! 😄

The axios interceptor option is also a good one since we are not planning on replacing it with another library, and if we ever do, it is going to be considered a breaking change and a new major version would be released.

[2020-02-26 18:08] daajack opened #4984 "Cannot initialize my amplify project anymore after creating and pushing a symbolic link in lambda function"
**Describe the bug**
Hi, I cannot initialize my environnment anymore, after pushing a symbolic link, the pushed was ok, but after pushing a second time, it ended with an error "Error: EEXIST: file already exists, symlink '../../../../../src/graphql' -> '/web/amplify/.temp/#current-cloud-backend/function/importPI/src/graphql"
I cannot pull, status or anything on my repo.

I tried from a clean clone

[2020-02-26 18:17] bowersz commented on #2588
We're facing this exact issue as well @geddawi

[2020-02-26 18:31] daajack commented on #4984
That's not the right project, i should add this to amplify/cli, as i think i cannot move it, i will recreate it there.

[2020-02-26 18:31] #4984 closed

[2020-02-26 18:33] daajack opened #4985 "Cannot initialize my amplify project anymore after creating and pushing a symbolic link in lambda function"
**Describe the bug**
Hi,
I cannot initialize my environnment anymore, after pushing a symbolic link, the pushed was ok, but after pushing a second time, it ended with an error "Error: EEXIST: file already exists, symlink '../../../../../src/graphql' -> '/web/amplify/.temp/#current-cloud-backend/function/importPI/src/graphql"
I cannot pull, status or anything on my repo.

I tried from a clean clone

[2020-02-26 18:36] daajack commented on #4985
Woups, wrong project again xD, sorry for that

[2020-02-26 18:36] #4985 closed

[2020-02-26 19:09] edvinasbartkus commented on #4527
@elorzafe no changes for the schema, it was working well with `*-rn-datastore.3`
I use amazon cognito user identities.

Here is the schema:
[code]

[2020-02-26 19:32] Ashish-Nanda commented on #4527
@CarlitosBeto can you share your app on Github, or your schema with us?

[2020-02-26 19:59] camin-mccluskey commented on #4580
@iartemiev @sarahcec Could we get an update? Some of us have been blocked for over 2 months with this issue.

[2020-02-26 20:02] nancyk25 commented on #4822
This also happened to me as well - can someone get around to this issue ASAP?

[2020-02-26 20:02] CarlitosBeto commented on #4527
@Ashish-Nanda sure, this is my schema:

type Employee
  @model
  @key(name: "ByEmail", fields: ["email"], queryField: "employeesByEmail") {
  id: ID!
  createdAt: AWSDateTime
  UpdatedAt: AWSDateTime
  firstName: String!
  lastName: String
  fullName: String
  dateOfBirth: AWSDateTime
  identification: String
  email: AWSEmail!
  tramite: [Tramite]
    @connection(name: "EmployeeTramite", keyField

[2020-02-26 20:09] Ashish-Nanda commented on #4527
@edvinasbartkus if you switch back to `@rn-datastore.3` does it work again? It does not seem like the error you are getting is related to the changes in the datastore client, but we can use that to test if it's a regression.

[2020-02-26 20:14] mmatouk commented on #3495
Hi @ajhool - you can utilize [cognito forum](https://forums.aws.amazon.com/forum.jspa?forumID=173) for feedback or questions. you need to be logged into your AWS account.

[2020-02-26 20:14] rafaeh1 commented on #4580
I had to create a new "User Pool" with no email required because "Sign In With Apple" doesn't send name or email or both in some cases, I had to migrate all of my environments, now Apple approved my app.

![Screen Shot 2020-02-26 at 14 00 08](https://user-images.githubusercontent.com/16301372/75383565-35df6300-58a2-11ea-9676-4f5dc95800c2.png)

[2020-02-26 20:17] camin-mccluskey commented on #4580
@rafaeh1 That is certainly an option but we do want the user's email if they choose to provide it and also we dont want to migrate all our users into a new user pool if we don't have to. Cognito should (and did in the past) deal with this situation so I'm hopeful they can figure out a solution without this workaround.

[2020-02-26 20:20] Ashish-Nanda commented on #4527
@CarlitosBeto its possible you have not pushed up your schema changes to AppSync since it is different from your comment [here](https://github.com/aws-amplify/amplify-js/issues/4853#issuecomment-591219586) where you had `@versioned` in your schema.

Can you run the following:
1) Run codegen:
[code]
2) Push your changes to the backend:
[code]
3) Refresh your app

[2020-02-26 20:47] CarlitosBeto commented on #4527
@Ashish-Nanda, I remove @versioned and refresh but I have the same issue, the change is not work for me.
I though the version is failed but the version of diferents package is ok.
I saw the API file generate in app and the API have fields:
              _version
              _deleted
              _lastChangedAt
              version
And remove this fields and app running, therefore i supposed th

[2020-02-26 21:00] #4901 closed

[2020-02-26 21:10] Ashish-Nanda commented on #4527
@CarlitosBeto you should not be manually removing _version, _deleted, _lastChangedAt from any files.
I suggest we try the following. You are using 'Expo' correct?
I can put up a simple expo app with a basic schema and instructions for you to test if queries, mutations and subscriptions work. You can try that and after confirming it works, you can modify it to see if you can get it working with you

[2020-02-26 21:20] davidgatti commented on #3495
@mmatouk love the excuse not to bother about what people voice in other places. If not on Cognito Forum, then the problem dose not exists?

[2020-02-26 21:25] davidgatti commented on #3495
![Screen Shot 2020-02-26 at 10 24 00 PM](https://user-images.githubusercontent.com/411114/75389385-b3c55d80-58e6-11ea-8212-dda2a2b11403.png)

![external-content duckduckgo](https://user-images.githubusercontent.com/411114/75389461-d35c8600-58e6-11ea-8c2a-b42d80375de0.jpg)

[2020-02-26 21:42] iartemiev commented on #3537
@oliverandersencox it doesn't seem like that PR actually solves this issue. It appears to only enable fed sign in through Identity Pools, not User Pools like what you're working on.

Could you please provide the source code you're using? E.g. main.ts, module, and component code, so that I can make sure I'm doing the same things you are when I'm reproducing this and working on a solution.

[2020-02-26 21:55] johnmesotech commented on #4966
I didn't find any good documentation on what, precisely, to clear prior to posting this. I don't want to erase all the library or app cache. So, that is essentially my question. I prefer seeing a resource/reference to an inline bit of code, something I can run with.

I wrote a quick wrapper that hides the housekeeping errors in Amplify but it would be nice to sanitize the environment as expected.

[2020-02-27 00:30] manueliglesias commented on #4853
@raelmiu

Look like the problem is in the way the transformer generates de mutation when both an id and the connected types are defined like this:

[code]

As a quick fix, I got your schema working when I made this change to the `TingRef` type:

[code]

Other minor things I changed:
- Explicitly add `owner` field to the `Ting` model: `owner: String`
- Change the type of the `user` field in the  `U

[2020-02-27 01:06] manueliglesias commented on #4527
HI @CarlitosBeto can you DM me on twitter?
https://twitter.com/menyao

[2020-02-27 01:14] CarlitosBeto commented on #4527
Sure I sent a DM from CarlosBetoQ

[2020-02-27 01:19] ajhool commented on #3495
@mmatouk Ah, the aws forums, I had been wondering where the cognito dev team was! Being that there are currently 1835 unanswered questions on the Cognito forum, I will hold off on overloading it with my own

[2020-02-27 02:17] fireflysemantics opened #4988 "Auth.currentAuthenticatedUser() throws after signing in with Google post redirect"
**Describe the bug**
A clear and concise description of what the bug is.
Auth.currentAuthenticatedUser() throws after signing in with Google post redirect

**To Reproduce**
Steps to reproduce the behavior:

1. Create an App that signs in with Google
2. Sign in with Google
3. In the application constructor call Auth.currentAuthenticatedUser()
4. In the first call it will throw because it can't get

[2020-02-27 03:29] apoorvmote commented on #4827
React has new update 16.13 that comes with Typescript 3.8.2

So eventually will require support for Typescript 3.8.2

[2020-02-27 05:53] patran commented on #4681
Angular 9.0.3 has been released. Does this issue still exist?

[2020-02-27 07:12] mpgo13 commented on #4681
@patran my issues disappeared with Angular 9.0.3 :)

[2020-02-27 08:13] ShahoG commented on #4681
I can confirm the same, all the issues was resolved with this new update and I can also use Ivy :)

[2020-02-27 08:20] damogallagher commented on #4681
I am getting the following errors after updating to version 9.0.3 of Angular
[code]

[2020-02-27 08:25] ShahoG commented on #4681
@damogallagher Here is what I did:

1. Upgraded Angular to 9.0.3
2. Removed the node_modules
3. npm i
4. Changed all targets in tsconfigs to _es6_

Then it required me to update another unrelated package, which I did and BAM it worked, Ivy and all

[2020-02-27 08:44] damogallagher commented on #4681
That is interesting. I performed the same steps, my target in tsconfig.json was es2015 and I am still getting the error

[2020-02-27 09:01] dimonchik-com commented on #4962
Hi @manueliglesias !
Any news about this problem. Can I remove the aws-exports.js because if I right understand it not security for my account?

[2020-02-27 10:05] #4743 closed

[2020-02-27 12:14] mdegrees opened #4990 "Make Amplify datastore Nextjs friendly"
**Is your feature request related to a problem? Please describe.**
Making an SSR page using Nextjs implies getting the initial state server side using `getInitialProps` helper function. With Amplify dataStore there seems to be no way to get the initial app state server side.

**Describe the solution you'd like**
Ideally being able to call datastore.query inside `getInitialProps` (server side).

**

[2020-02-27 14:21] eriksoderstrom opened #4991 "Calls to multiple endpoints in different regions fails"
Hello,

In our project we have multiple API's in different regions.
These API's are using AWS_IAM as auth.
When sending requests to these API's simultaneously, sometimes all, but always one fails with the error:

`{"message":"Credential should be scoped to a valid region, not 'eu-north-1'. "}`

I found that the Authorization token is wrong for the request that fails.
`Authorization: AWS4-HMAC-SHA2

[2020-02-27 15:38] fireflysemantics opened #4992 "What authentication check should we perform in our Angular Authentication Guards?"
** Which Category is your question related to? **
E.g. Auth, Predictions, Storage, etc.
Auth

** What AWS Services are you utilizing? **
Cognito

E.g. Sample code, versions of Amplify you are using

[In this article](https://itnext.io/part-2-adding-authentication-to-your-angular-material-aws-amplify-powered-pwa-2a9d0fbd305a) the author uses `Auth.currentAuthenticationUser()` in the `AuthGuard` lik

[2020-02-27 16:22] dibell opened #4993 "Federated SignOut immediately signs back in and fails"
**Describe the bug**
Federated auth calls cognito /logout  successfully but then the app immediately calls /login which then fails with the error:
   Required String parameter 'redirect_uri' is not present

**To Reproduce**
I'm just using the 'Full React Sample' code from https://aws-amplify.github.io/docs/js/authentication
with the following oauth config (which matches the Callback URLs and Sign

[2020-02-27 18:34] Ashish-Nanda commented on #4527
@paddlefish thanks for your detailed example. Glad you were able to get it working.

[2020-02-27 19:07] raelmiu commented on #4853
Hi again,
It's possible that this work around could work. But like I wrote in the comment above (https://github.com/aws-amplify/amplify-js/issues/4853#issuecomment-591473816) I can no longer sync any data from dynamoDb, so any API changes are unknowable.

Are datastore APIs extremely fragile to update or have I found some edge case here?

[2020-02-27 19:56] manueliglesias commented on #4853
hey @raelmiu

Would it be possible that you clear all items in your DynamoDB tables **AND** the device storage (IndexedDB if browser, AsyncStorage in React Native)?

You can find them in the AppSync console under the *Data Sources* section: (clicking the resource name will take you to the DynamoDB console where you can delete the items)

**Please make sure to clear also the table with the _Amplify

[2020-02-27 20:05] #4935 closed

[2020-02-27 21:25] fireflysemantics commented on #4992
It seems in general we probably not assume that the authenticated user will be available immediately after the Cognito redirect.

Since we can't do that we also cannot redirect to a protected resource, since the guard deny access.

Therefore we have to redirect to a non guarded page, and then wait for Amplify to tell us that authentication has taken place.

We can then use a Subject to notify othe

[2020-02-27 22:09] sarahcec commented on #4580
Hi all,

Product manager for Cognito checking in here. We've fixed the unexpected sign in errors.

For those who are curious what happened:
Apple was expecting percent URL encoding in scopes, and we were using “+” per the [w3c standard](https://www.w3.org/TR/html4/interact/forms.html#h-17.13.4.1). We've switched our input to percent URL encoding, and that has resolved the issue.

Thanks for your p

[2020-02-27 22:41] ataravati commented on #4649
@jordanranz Any updates on this? This is still not working.

[2020-02-27 23:02] photodialectic commented on #4580
💅

[2020-02-28 07:22] raelmiu commented on #4853
Thanks for the response, while it is possible at this state. It worries me more than a little bit that API changes could kill my database. Simply better error messages could help here, since I could manually handle issues if I knew what they were.

For debugging purposes these are the API changes that lead to this problem:
[code]

[2020-02-28 08:28] lorentzca opened #4998 "Some IdPs have a limit on the length of the state parameter."
**Is your feature request related to a problem? Please describe.**
Some IdPs have a limit on the length of the state parameter.
For example, the following error was returned from the federated IdP when accessing the Cognito authorization endpoint:

- `error_description=state+value+is+too+long.`

**Describe the solution you'd like**
Adjust the length of the state parameter generated by Cognito.

**

[2020-02-28 09:06] camin-mccluskey commented on #4580
@sarahcec Thanks for the update. Unfortunately we're still seeing the some of the same issues. The scopes do now seem to be correctly requested but the app name is still null and the redirect to a logged in url is not happening. Please see the screenshot attached.

![WhatsApp Image 2020-02-27 at 22 42 18](https://user-images.githubusercontent.com/18604525/75526335-802f2400-5a09-11ea-9b60-cc71f6280

[2020-02-28 09:53] ShahoG opened #4999 "Angular package deep import warning"
**Describe the bug**
aws-amplify-angular 4.1.7 throws Warning on build that may cause pipelines to fail when build is attempted with ivy enabled on angular 9

`WARNING in Entry point 'aws-amplify-angular' contains deep imports into '/opt/atlassian/pipelines/agent/build/node_modules/rxjs/Subject',`

**Expected behavior**
Build should pass

**Additional context**
Build passes on version 4.1.6 withou