[2020-05-11 20:35] ericclemmons opened #5744 "Support global sign-out"
**Is your feature request related to a problem? Please describe.**

https://docs.amplify.aws/lib/auth/emailpassword/q/platform/js#global-sign-out

**Describe the solution you'd like**

Similar to https://github.com/aws-amplify/amplify-js/pull/4185, something like:

[code]

**Describe alternatives you've considered**

Calling `Auth.signOut({ global: true })`, but it's not declarative.

**Additional

[2020-05-11 20:37] jordanranz commented on #5720
@rnadeera, I think the crux of what @sanyashvets is mentioning is the fact that `IdentityPoolId` does not use a lowercase 'i' in your config. Can you try using:
[code]

[2020-05-11 20:41] cedvdb opened #5745 "Update documentation about the buildSync helper"
For running the sync the documentation says to use this:

[code]

The documentation even provide an aws cloud formation that one can use. However the buildSync base query must return an array and the calls from that cloud formation returns `{ items: [] }` which makes it unusable.

It's the same for the default project generated by `amplify add api`.

It makes it hard to get started..

[2020-05-11 20:53] ericclemmons commented on #2638
This appears to be a duplicate of https://github.com/aws-amplify/amplify-js/issues/3435#issuecomment-597851340, where we're awaiting support for revoking unexpired tokens from Cognito.

If so, I can mark this as a duplicate and we can track/update in #3435...

[2020-05-11 20:58] akshbhu commented on #5729
Hi @mayteio  and @amuresia

I think the issue is tied to the access policies for the users in a admin group. You are assuming that the group will inherit all the policies tied to an auth IAM role by default? That's not the case actually.

I think you have to do ```amplify update storage``` and select the operations you want a certain group to have access to and that's when the IAM role associated

[2020-05-11 21:06] danrivett commented on #5729
@Amplifiyer If you look at the debug logging I copied in an earlier commit above you'll see I am logged in and the `AWSS3Provider` has picked those up and logged them out, so I think we're good there.

I'm currently working on getting more debug info from the serverside via CloudTrail, but if you have any other ideas to get better diagnostics, please let me know.

My current theory is it's trying

[2020-05-11 21:14] Amplifiyer commented on #5729
@danrivett thanks for conforming. Can you post the response from S3 service that you see in network requests in browser devtools and your minimal reproducible code that generates this error?

[2020-05-11 21:44] danrivett commented on #5729
@Amplifiyer if there's any way I can send you the CloudTrail logs securely? Sending via email isn't secure enough for credential info really.

I just tried both a protected and public PUT and neither work, I do believe based on the following CloudTrail log that _it may be because the Amplify JS library is attempting to authorize the request through role based authentication through a Group the use

[2020-05-11 21:44] drixta commented on #5729
@Amplifiyer  Here is the example request header of the failed PUT request to S3

[2020-05-11 22:00] amhinson commented on #5738
This does seem related to the Clock Drift issue.

As far as the error showing to a user:
A production build of a React Native doesn't contain any of the dev tools, so this `console.error` would just be disregarded and nothing would show to the user. You can test out a production build locally by running the `Release` Scheme rather than `Debug`: https://reactnative.dev/docs/running-on-device.html#b

[2020-05-11 22:04] #5211 closed

[2020-05-11 22:05] brene commented on #5211
This seems to be fixed with @jhockett 's PR. @AvneeshD - please reopen this ticket if you can still reproduce.

[2020-05-11 22:06] chai86 commented on #5738
@amhinson @Ashish-Nanda According to the error, either way, the Analytics.record() function that i'm calling fails. Apparently because a token expires. This is functionality is needed, so a resolution would be appreciated. Thanks

[2020-05-11 22:07] ericclemmons commented on #5442
Closed via #5443

[2020-05-11 22:07] #5442 closed

[2020-05-11 22:09] ericclemmons commented on #5738
@chai86 We understand. I just wanted to confirm that, in production builds, users wouldn't experience a breaking user-experience.

`Analytics.record` should work when foregrounding an app, so we have some work to do here to reproduce & resolve.

[2020-05-11 22:19] ericclemmons commented on #5662
@jordanranz This issue may be better in the docs repo to improve:

@ashishlata Do you have questions or suggestions on how we can improve these pages?

- https://docs.amplify.aws/lib/push-notifications/overview/q/platform/js
- https://docs.amplify.aws/lib/utilities/serviceworker/q/platform/js#handling-a-push-notification

[2020-05-11 22:22] ivenxu commented on #5733
@ericclemmons Thanks for the quick response!

Css variable is a new feature and is easy to use. However, there're still cases the old way provides more flexibility. For example, styling crossing two elements. This comes to my eyes because I find the signin and signup components are not center to the screen. Then I try to use `theme`. I use flex layout to fix the problem. With the old way, I can

[

[2020-05-11 22:28] Amplifiyer commented on #5729
@danrivett, there currently isn't a way to securely upload your secrets and we shouldn't even need to. Can you put together a minimal reproducible steps with code that I can recreate on my end with my own AWS credentials to be able to debug this?

@drixta, thanks for this. Even more helpful would be the S3 response that resulted in 403 to see whether it's a AccessDenied error, SignatureMismatch or

[2020-05-11 22:29] ericclemmons commented on #3092
#4979 addresses this, which adds `Translations` as key/value pairs using typed keys:

[code]

See: https://github.com/aws-amplify/amplify-js/blob/master/packages/amplify-ui-components/src/common/Translations.ts

We haven't ported over prior translations yet, but the foundation is there to support it now, thanks to your input @ChristopheBougere!

[2020-05-11 22:29] #3092 closed

[2020-05-11 22:30] ericclemmons commented on #5733
@ivenxu Great timing! @jordanranz just fixed the centering problem in https://github.com/aws-amplify/amplify-js/pull/5727. (This was a regression from the previous `aws-amplify-react` implementation).

You have a good point on escape hatches: `amplify-sign-in`, for example, is exposed, but part of the Shadow DOM, otherwise you would be able to target those components _directly_.

Can you open a ne

[2020-05-11 22:40] drixta commented on #5729
Response
[code]

Response header

[code]

[2020-05-11 22:45] Amplifiyer commented on #5729
Thanks @drixta, this helps in narrow down the problem. Can you also provide the below

[2020-05-11 22:57] danrivett commented on #5729
@Amplifiyer I have confirmed my issue is related to Cognito User Groups since I tried the same `PUT` request with a user that has no Group memberships and it succeeded. So the question is why is the fact a user is a member of a Group getting in the way here?

Here's my CloudTrail redacted log with no error reported this time:

[code]

Notice that the `userName` now ends in `authRole`?

Regarding r

[2020-05-11 22:57] drixta commented on #5729
@Amplifiyer sure thing

Client side here is my upload code
[code]

The file here is just the image file
Here is the Protected Policy of the AuthRole for this bucket
[code]

[2020-05-11 23:07] Amplifiyer commented on #5729
Thanks @danrivett  and @drixta, this helps a lot. Pinging @akshbhu here again as it does seem to be related to CLI provisioning of the resources. I'll also try to recreate it on my end.

Last but not least, can you folks try to downgrade amplify to V2 (and corresponding aws-amplify-react and aws-amplify-react-native to V3) and see if it helps?

[2020-05-11 23:24] brandon-twitty commented on #3193
This is garbage two times I have followed this to the T https://docs.amplify.aws/start/q/integration/angular and it doesnt work . Ive tried every single one of these suggestions too.. This is Amazon this seems simple but apparently not my errors

 node_modules/@aws-amplify/datastore/lib-esm/types.d.ts:73:38 - error TS2304: Cannot find name 'Omit'.

73     function getJSType(scalar: keyof Omit<type

[2020-05-11 23:38] ericclemmons commented on #2466
Finally closed via https://github.com/aws-amplify/amplify-js/pull/4206.  Thanks everone!

[2020-05-11 23:38] #2466 closed

[2020-05-11 23:53] ivenxu opened #5750 "Styling enhancement for amplify-ui-react"
**Is your feature request related to a problem? Please describe.**

The new way to custom theme/styling of amplify-ui-react is using predefined CSS variables. See https://docs.amplify.aws/ui/customization/theming/q/framework/react.

This is almost enough for customization of font and color of the components. However, there are always cases we need to style individual components. See discussion in

[2020-05-11 23:54] ivenxu commented on #5733
@ericclemmons  Thanks for the communication! https://github.com/aws-amplify/amplify-js/issues/5750 has added as feature request.

[2020-05-12 00:08] ericclemmons commented on #5733
@ivenxu This is looking good! I've updated the labels on #5720 and categorized it so it gets the right 👀 .

[2020-05-12 00:11] drixta commented on #5729
This issue didn't occur until 2 days ago, and I've only been using V3 of `aws-amplify` so far, so downgrading to V2 wouldn't solve this issue considering the amount of refactoring required for our project.

[2020-05-12 01:09] amerida63 commented on #3395
Anything new with the login functionality with apple at the User Pool level, I'm trying to implement it with Swift, (Mobile only). I have configured the entire environment but it does not work.

I really don't know if I have to update the awsconfiguration.json (but every time I generate it, it doesn't update it for me) I don't know what apple keys should I put it, if anyone can help me it would be

[2020-05-12 01:23] scionwest commented on #1368
I too see a need for this. In my case I have an API Gateway fronting a NodeJS Lambda. My API acts as a proxy for Cognito - abstracting it away so clients only interact with my API surface area.

Because of this, my Lambda handles the signUp and auth calls to Cognito on behalf of the user. The client devices POST their credentials to my API and I forward them along to Cognito. In this use-case a Cl

[2020-05-12 01:40] alexanderMontague commented on #5273
I seem to be getting this error when I simply try to `put(name, file)`
Any ideas?
![image](https://user-images.githubusercontent.com/29992628/81628939-0683c100-93d0-11ea-8729-14738dc42c76.png)

[2020-05-12 01:51] waltermvp commented on #5161
Not sure what the latest version was when I posted, but if it’s happening again try creating a fresh project then copy paste the schema and see if it works

[2020-05-12 04:31] TanviVartak commented on #5723
@amhinson  we are using react native framework. below is the version details
"aws-amplify": "^1.1.26",
 "react-native": "0.60.0-rc.0"

[2020-05-12 04:56] scionwest commented on #1368
I suppose I should clarify... My use-case is the aws-sdk and not Amplify-js... I 100% agree Amplify itself should not support this as client-side deployments should not include secrets. Secrets are typically used for server to server authorization. I believe aws-sdk provides this when I look [at the docs]( https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/CognitoIdentityServiceProvider.html#

[2020-05-12 05:11] xon52 opened #5752 "No SignIn Section in API Reference Docs"
**Describe the bug**
There are no `SignIn` section found in the [API Reference Docs](https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_Operations.html).

**To Reproduce**
[https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_Operations.html](https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_Operations.html)

**E

[2020-05-12 06:13] tarasowski commented on #4430
I'm receiving the same error message: "Only radix 2, 4, 8, 16, 32 are supported". It gets shown for usernames (emails) that are not registered / not in cognito user pool. `"@aws-amplify/auth": "^2.1.6"`.  The interesting thing is that I have two different apps and only in one of them the error gets shown! Both apps have the same version of aws-amplify. The first app shows the error: "Incorrect use

[2020-05-12 07:34] xon52 opened #5754 "Separate registration code and forgot password code email"
**Is your feature request related to a problem? Please describe.**
I have just noticed that I receive the **exact** same confirmation code email whether I register or forget password. The problem is with the exact same link there is no way to know which is being requested, so handling them is really a trial and error scenario which is just crazy.

**Describe the solution you'd like**
Separate defa

[2020-05-12 08:48] TimNZ commented on #5397
@elorzafe
Can you please look at this post - I'm getting 8 Cognito calls triggered by Auth.signIn()

https://github.com/aws-amplify/amplify-js/discussions/5755

[2020-05-12 09:15] TimNZ commented on #5435
@ericclemmons just a final follow on from my comment.

I agree with the frustration of the OP
https://github.com/aws-amplify/amplify-js/issues/3495

I'm already considering moving away from Cognito after 3 days of pain.

[2020-05-12 09:30] jliebrand commented on #5714
@ericclemmons - but are you using '@aws-amplify/api-rest' ? I've just run the build again, and separated out aws in to it's own bundle/chunk.

[code]

Then in my redux actions:
[code]

This results in the following bundle code:
[code]

And the actual size of the bundle:
[code]

And the source-map of the bundle:
![image](https://user-images.githubusercontent.com/23407884/81667685-7b401500-943b-11ea

[2020-05-12 10:52] idanlo opened #5756 "Amplify.configure() doesn't configure all modules, need to manually configure modules"
**Describe the bug**
On our web React application, we do
[code]
But in a production build some modules are not working (for example API, Storage) and when manually configuring them using this code works fine -
[code]

**To Reproduce**
1. Create app, make sure you have the aws-exports file
2. use Amplify.configure to configure your app
3. run your build script to build the app
4. run your productio

[2020-05-12 11:28] pnm563 opened #5758 "'immerable' is not exported from 'immer' during compilation"
Since adding an additional backend environment, I see the following compilation error when running `npm start`: -

./node_modules/@aws-amplify/datastore/lib-esm/datastore/datastore.js
Attempted import error: 'immerable' is not exported from 'immer'.

This is on a Windows 10 machine running from command prompt, both regular and with admin rights. It has worked fine in the past, running the developm

[2020-05-12 12:26] Bampho commented on #4681
Also upgraded from Angular 8.3 to Angular 9 I gives me a compilation error: failed to find expected name of node (MatIconModule = /** @class */ (function () {
}

I recently moved from 1.x so I can't figure a lot of things as yet

[2020-05-12 12:46] andriworld commented on #5298
It works!  I updated to @aws-amplify/ui-vue@0.2.5-unstable.25  and the "Reset Password" link is back on my customized login form.
Many thanks @ashika01  !

[2020-05-12 13:02] amcdnl commented on #4235
I'd curious why not just use apollo hooks? I setup my project using apollo and appysync client and it works great (except for the tremendous amount of effort it took to figure it out).

Here is my appsync setup:

[code]

I had to hack the rehydrate like this:

[code]

but now that is all working I can do my queries just like apollo and take advantage of the middlewares like error link:

[code]

[2020-05-12 13:15] jasper72 opened #5759 "Safari highlights reset password + create account in Authenticator screen"
**Describe the bug**

Using the new Authenticator components, the login screen highlights text on Safari on desktop but displays correctly in Chrome.

**To Reproduce**
Steps to reproduce the behavior:

Open any login screen in Safari on Mac using the new Amplify Authenticator UI framework.

**Expected behavior**
No highlighting of the text

**Code Snippet**

import React from "react";
import { wit

[2020-05-12 13:55] TanviVartak commented on #5543
@mezalejandro welcome! I didn't get the error but I followed these links to setup
https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-social-idp.html
https://dev.to/dabit3/the-complete-react-native-guide-to-user-authentication-with-the-amplify-framework-ib2

[2020-05-12 14:16] alexvdvalk commented on #4681
AWS has released a new Amplify angular module for v9 and up, so I believe this current issue will not be resolved. I migrated to the new version and updated my app to v9 and it's quite different to this one, and the current documentation is limited.

[This](https://docs.amplify.aws/ui/auth/authenticator/q/framework/angular#migration) is the extent of the migration documentation so far.

[2020-05-12 14:20] mezalejandro commented on #5543
Hi @amhinson now I get undefined when doing console.log of Auth.federatedSignIn

[2020-05-12 14:20] amhinson commented on #5543
Can you provide a code snippet?

[2020-05-12 14:31] amhinson commented on #5723
@TanviVartak Thanks for the info! Could you try listening to the `Hub` events like in [this example from the docs](https://docs.amplify.aws/lib/auth/social/q/platform/js#setup-frontend) instead of using `.then()`?

Based on some other issues, there might be a bit of a race condition going on between the federated sign in and calling `currentAuthenticatedUser()` (which we are already looking into):

[2020-05-12 14:31] mezalejandro commented on #5543
`Amplify.configure({
    Auth: {
        mandatorySignIn: true,
        region: 'us-east-1',
        userPoolId: 'us-east-1_xxx',
        identityPoolId: 'us-east-1:xxxx-xxx-xxx-',
        userPoolWebClientId: 'xxx',
        oauth : {
            domain : '',
            scope : ['phone', 'email', 'profile', 'openid','aws.cognito.signin.user.admin'],
            redirectSignIn: '',
            red

[2020-05-12 14:33] amhinson commented on #5543
Ok, thanks for the info!

Could you try listening to the `Hub` events like in [this example from the docs](https://docs.amplify.aws/lib/auth/social/q/platform/js#setup-frontend) instead of using `async/await`?

[2020-05-12 14:36] cjsedwards commented on #3435
A related issue (see the closed issue above, I was referred here), if I remove a user from a user group, the JWT they have is still valid and showing that they are a member of that group.  As a result, Amplify/AppSync continue to give them access to data and operations that they should not.  I need some way to invalidate the JWT server side.

[2020-05-12 14:44] TanviVartak commented on #5723
@amhinson I already tried listening to Hub events, in that case also I'm not getting identity id because there is no entry exists in federated identity pool.

[2020-05-12 14:53] amhinson commented on #5723
Ah ok. When you use federation through User Pools (i.e. `Auth.federatedSignIn({ provider: "SignInWithApple" })`), this is separate from using Identity Pools directly, so there will be no identity id for the user since Cognito handles everything behind the scenes.

From the docs:
https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-social-idp.html

[2020-05-12 14:56] mezalejandro commented on #5543
Ok I'm going to try it, a query is opening the browser with this link:
https://oauth2/authorize?redirect_uri=&response_type=code&client_id=6kesnacc8bdk569jij9gri0lq1&identity_provider=SignInWithApple&scopes=phone%2Cemail%2Cprofile%2Copenid%2Caws.cognito.signin.user.admin&state=k4DQohbWa45dkMFTuQeTdSIlJt7iSmPU&code_challenge=rZ1GkHj_-YQZKAzn5Ea0xMrTWJppI7fJOjMyde3iafc&code_challenge_method=S256

[2020-05-12 15:30] charanack commented on #3524
do you have any update on this? its been year.

[2020-05-12 15:34] TanviVartak commented on #5723
@amhinson Ohk, thanks for the explaination! I have one doubt though. WhenI use normal signup flow by passing username and password to auth.signup, this creates a user in cognito user pool and return identity id as well. The whole authentication and authorization is managed by cognito. I just take identity id, save in my db and proceed with app. But when user signup using apple, it just creates a u

[2020-05-12 15:37] CharanRoot commented on #3524
do we have any update this feature ?

[2020-05-12 16:23] amhinson commented on #5723
In my testing, I'm not seeing an "identity id" in the `CognitoUser` returned from `Auth.currentAuthenticatedUser()` with a normal signup. Could you elaborate a bit more on where you are seeing this key?

[2020-05-12 16:40] Amplifiyer commented on #5756
@idanlo I believe this will be fixed by this PR https://github.com/aws-amplify/amplify-js/pull/5681. It's currently on unstable release. Can you give it a shot and let us know if using unstable version fixed this problem for you?

This fix will be released in stable version in just a few days.

[2020-05-12 16:52] Amplifiyer commented on #5708
@bdpaul99, we are working with aws-sdk for a coordinated release. Should be out in next few days.

[2020-05-12 17:02] jordanranz commented on #5759
Hey @jasper72, this should be fixed by this PR: https://github.com/aws-amplify/amplify-js/pull/5725

Can you try installing @aws-amplify/ui-react@unstable and confirm the fix?

[2020-05-12 17:42] TanviVartak commented on #5723
Sorry, I should have mentioned this properly .Auth.currentAuthenticatedUser() does not return 'identity id'.  I am using serverless framework and writing lambda functions using node.js
In my server APIs I use identity id as unique id for each user, which I get like this
`function main(event, context) {
const userId=event.requestContext.identity.cognitoIdentityId
}`
I have followed this architectur

[2020-05-12 18:08] alertme-edwin commented on #5254
@satishmolletipipra You may be interested in another workaround I've come up with, which seems to prevent the "Username cannot be empty" error even if the user doesn't press any keys in the username/password input fields.

The details of the solution will obviously depend on which framework or libraries you use, but in Vue it involved a method like this:
[code]
This method has to be called when th

[2020-05-12 18:38] ashika01 commented on #1436
Hi, we have introduced new UI components for authenticator. For more information check [these docs](https://docs.amplify.aws/ui/auth/authenticator/q/framework/react). These components bring in parity among all frameworks we support.

Also, we have introduced completely customizable UI components using a functionality called `slots` which could address this feature request - https://docs.amplify.aw

[2020-05-12 18:38] #1436 closed

[2020-05-12 18:39] rpostulart commented on #5119
Is there an outline if multitenant support is taking weeks or months? This makes my decision for my next app easier :)

[2020-05-12 18:41] ashika01 commented on #2311
@mrcoles This should now be part of the new UI components introduced recently. For more information - https://docs.amplify.aws/ui/auth/authenticator/q/framework/react

For any issues or suggestion for enhancements, feel free to open up a new issue.

[2020-05-12 18:41] #2311 closed

[2020-05-12 18:45] ashika01 commented on #5118
@nihp are you using react components or react native? I am unsure on react native, however for the others, removing greetings component would remove the signout button. If you want signout, then you will have to add signout to your flow.

[2020-05-12 18:47] ericclemmons commented on #4235
This RFC focused on simplifying existing usage patterns for the [Amplify's GraphQL API](https://docs.amplify.aws/lib/graphqlapi/getting-started/q/platform/js) within the React community, while preventing common bugs (forgetting to `unsubscribe` to subscriptions, setting state  after unmounting, etc.).

Not all apps use `react-apollo`, but for those that do can re-use Apollo Client's hooks as you'v

[2020-05-12 18:55] ericclemmons commented on #5714
@jliebrand Thanks for sharing, this is really helpful!  It looks like tree-shaking is working correctly (only dependencies for `Auth`, `API`, and `@aws-amplify/core` are showing)

How does this compare with the previous version of the library?  If the numbers are roughly the same, then there's something amiss here.  If they're favorable, then the opportunity may be in continuing to improve our bun

[2020-05-12 18:55] amcdnl commented on #4235
@ericclemmons - It would be awesome if we could improve the docs to talk about this and maybe show how to do it easier.

[2020-05-12 18:58] ltaljaard commented on #5119
Yes please, this feature should be at the very top of the feature request list in my opinion as the lack of selective syncing to the device makes the entire solution pretty much unusable for anything other than a demo app.

[2020-05-12 19:10] akshbhu commented on #5729
Hi @drixta and @danrivett

Can you check S3 cloudformation for group policy for created user group. It should in form of ```<group-name>-group-policy```. This policy enables users in that group to upload files to S3.

For that you have to do amplify update storage and select the operations you want a certain group to have access to and that's when the IAM role associated with the user pool group w

[2020-05-12 19:16] ericclemmons commented on #4681
@alexvdvalk Can you click the feedback link on https://docs.amplify.aws/ui/auth/authenticator/q/framework/angular#migration to open an issue in our https://github.com/aws-amplify/docs/ project so we can improve the migration flow?

Angular 9 became the `latest` release while `@aws-amplify/ui-angular` was in progress, so it got support by default.

Ideally, https://docs.amplify.aws/ui/auth/authenti

[2020-05-12 20:25] ericclemmons commented on #5741
Making a note here: we'll need to update our `lint` and `test` scripts accordingly to test for this error, then correcting the type.

See an example here: 84286be109d7f50eac83a9694e75b61500cc8a83

[2020-05-12 20:50] jasper72 commented on #5759
Yes, fixed thanks.

On Tue, May 12, 2020 at 6:02 PM Jordan Ranz <notifications@github.com>
wrote:

[2020-05-12 21:51] ivandimov commented on #2588
Hey there, we are facing the same issue. We want to autoconfirm the ACCOUNT, but still want to  send the email confirmation code. So the user will be able to login, but he will have to confirm his email at some point. When I try to trigger that ResendConfirmationCodeAsync in one of the triggers, it fails, saying that the account is already confirmed. How to confirm the email then?

[2020-05-12 22:49] SebSchwartz opened #5764 "DataStore Feedback"
**Describe the bug**
As requested in the discord, for more readability, here is our feedback of DataStore:

Two months ago, we were advised to replace our whole backend architecture which was lying on a combination of appsync and apollo to DataStore. The reason? The appsync js library team seems to no longer work on the service and even less on the compatibility between apollo and appsync (issue w

[2020-05-12 22:59] SebSchwartz commented on #5764
I should maybe add that we have 2 frontends: React and React Native (with expo)

(And it's not easy to use datastore on both with only the `amplify pull` if we only want to allow edition inside one of them (to have the codegen and models). Both frontend are in the same monorepo. But this can be work around easily with a script that copy from one to another)

[2020-05-13 00:34] #4458 closed

[2020-05-13 00:34] #1538 closed

[2020-05-13 00:51] ThuAbLKA commented on #1852
+1

[2020-05-13 02:57] manueliglesias commented on #5764
Hi @SebSchwartz

Thank you for sharing this feedback, it is definitely very useful.

For the issues you've listed I believe we have solutions coming out soon (we're aiming for the next few weeks assuming no issues come up).

**Limit of 50 subscriptions**
There is an in-progress rollout that ups this limit to 100 subscriptions. While some customers might still need more than  33 models, we hope tha

[2020-05-13 03:12] manueliglesias commented on #5119
Hi everyone, wanted to give a bit of an update.

This is the highest issue on our backlog as @undefobj noted which we’re working towards. We did some initial design work which should address the requirements, including dynamically filtering the sync by what the user does in the app. There were a few other things that we uncovered while looking at this design that we had to do internally to the Dat

[2020-05-13 03:18] mousedownmike opened #5766 "NOMFA fails to disable TOTP when no phone verified"
**Describe the bug**
I had a user with MFA set to a TOTP software token.  Making a request to disable MFA i.e `Auth.setPreferredMFA('NOMFA')` resulted in the following 400 error:
[code]

The request to Cognito appears to have been:
[code]
**To Reproduce**
I have a pretty basic Angular application that uses `"@aws-amplify/auth": "^2.1.3"`  The steps to reproduce the behavior are:

1. Create a user

[2020-05-13 05:09] nihp commented on #5118
Already I have added the Signout in my apps flow. But the Greetings also showing the username and signout default Authenticator component of **react-native.**

Note: So I have customized the screens  now for my requirement.  So it will not show in my UI, because I not using the greetings component inside the react-native app.

[2020-05-13 06:20] ashika01 commented on #5118
@nihp: gotcha.. I am curious about this case, if you could post a sample code for me to reproduce this. it would be great.

[2020-05-13 06:27] ashika01 commented on #5410
@nihp I will check this one out with team. In meanwhile, to make sure I understand this right, you was to send you username from, lets say customSignIn, to another component ? I guess if you could explain what you are trying to achieve as end goal, we may be able to help

[2020-05-13 06:46] tomyitav commented on #2498
Hi, how can I change Rewrites and Redirects in amplify console?

[2020-05-13 07:10] lambda0xff opened #5767 "[DataStore]: serialization issue with type AWSJSON"
**Describe the bug**
With a schema containing a type with an `AWSJSON` property:
[code]

After `amplify codegen models`, the resulting type for `someProp` is `string` (shouldn't it be `Record<string, any>` ?).

When I save a model, my app fails because at some point, I'm trying to do 'JSON.parse(someProp)' and for some reason, the local indexDB database records the property as: `""{\"key\":1}""` (

[2020-05-13 07:52] jliebrand commented on #5714
It's definitely less than original, since graphql is no longer included. I guess I'm just surprised to have to pull down 250kb just to get auth and api... You can build full on apps for less than that, but I guess it is what it is

(yeah gzipped it'll be less, but i'm just looking at total weight here)

[2020-05-13 08:11] rpostulart commented on #5119
This is exactly what we need. This would be great!
Really appreciated what you and the team are doing.  I don't want to pressure it, but it is good to understand that this is coming soon, that makes the architectural decisions easier.

[2020-05-13 08:32] mghamsar commented on #5758
same

[2020-05-13 08:44] ltaljaard commented on #5119
@manueliglesias I think our use case would be quite common. We have a hierarchical data structure (top to bottom, widening at the bottom) where each device need to receive a certain part of the tree. There are multiple object types (models/tables) that need to be synced down that are all related to each other through foreign keys (there are 1 to many and many to many relationships). Example: Org u

[2020-05-13 09:36] capitan-ariete opened #5768 "Hugo Error: Base Directory not specified for artifacts"
**Describe the bug**
I am trying to build my Hugo (version 0.69.2) static website (based on Airspace https://themes.gohugo.io/airspace-hugo/ ) . But after the `build is completed succesfully` and before to finish the Build step the following error is raised:

`[ERROR]: !!! Error: Base Directory not specified for artifacts, unable to create build artifact.`

I have tried changing `baseDirectory` to

[2020-05-13 10:06] chernando commented on #5119
I've been trying to get through this issue and the resolver for `sync${pluralTypeName}` is the real stopper.

You can see the test project I've made here https://github.com/chernando/broken-amplify-datastore

A simple model like:

[code]
generates a `Query.listPrivateNotes.req.vtl` that always uses **Scan** on the PrivateNote Table.

You cannot change primary index, DataStore needs `id: ID!`. But

[2020-05-13 10:12] kwoxford commented on #5119
This is very much what I need, but I have a worry.

My use case is a multi-event app for conferences. The (anonymous) user is shown a list of events and chooses one which is then loaded into the app; they can subsequently switch to another event if they wish. Every table has an eventID which can be used in the sync queries.

I envisage the list of eventIDs being pulled in by a call to a REST API w

[2020-05-13 10:15] DuhamelPhilippe opened #5769 "MISSING_AUTHENTICATION_TOKEN with browsers Edge and former Chrome"
Hello,
I'm trying to make a call to my Lambda functions, configured with "Authorization: AWS_IAM". The call works well from Chrome (v81), Firefox (v76) and also from IOS and Iphone browsers. But when I do the call from Microsoft Edge or previous Chrome (v49 for example) I receive a 403 error. I've enabled Cloud Watch logs and realized that, when I receive this error, I have the following api gatew

[2020-05-13 10:15] LuXDAmore commented on #5405
Thank You @slavco86 , but unfortunately i can't touch my `babel.config` file 😆

[2020-05-13 11:23] capitan-ariete commented on #5768
Well solved. Sorry, my fault. I publish what happened in case this happen to anyone else.

The thing was I was using tab for spacing and for .yml you need to use spaces (tabs do not work properly). Then also it is important to consider that you have to introduce baseDirectory full path.

Thus, my amplify.yml looks like:

[code]

[2020-05-13 11:24] #5768 closed

[2020-05-13 11:51] ancellink commented on #3435
Waiting this issue to be resolved.
AWS API needs to be have a single token revoked instead of forcing the global sign out for all the tokens.

[2020-05-13 11:57] nihp commented on #5410
Yes exactly, need to send param from SignIn to confirmSignUp. Also I have found one solution too.

This is from SignIn
`this.props.onStateChange('confirmSignUp',{email}) // here it may be email or phone number`

Then it will be used as below in confirm signUp
[code]

Now I can able to pass the params from one screen to another screen (with override component in Authenticator)

[2020-05-13 11:58] tslocke commented on #5119
@manueliglesias you mentioned the proposed solution allows for "dynamically filtering the sync by what the user does in the app", but the example code you posted doesn't show that.

Can you post some code that shows how you would express a filter for the situation where there are millions of records a given user could potentially view, and they only get synced to the client as the user browses aro

[2020-05-13 13:22] nihp commented on #5118
I have used all screens from Authenticator with loading

[code]

[2020-05-13 14:01] danrivett commented on #5729
@akshbhu I think the first bug I'm seeing here is that cognito group membership should not even be considered by the Storage component when I do not configure the Storage component on the CLI to use Group authentication but instead just allow 'authorized' (non-guest) users:

[code]

I did not choose 'Both' or Group access, so it should not care that the user happens to be part of a Cognito Group.

[2020-05-13 14:09] danrivett commented on #5729
@akshbhu Secondly, after fixing the first bug we would actually like to configure Storage with the 'Both' option to allow administrators CRUD access to all the storage, viewers read-only access to all storage, and any other user not part of those groups only access to their own storage using the standard 'private', 'protected', and 'public' access levels the Storage component provides.

Maybe that

[2020-05-13 14:59] alexvdvalk commented on #4681
Thanks for sharing this. I've got it rendering on Angular 9 and Ivy, but the [hide] property on amplify-authenticator component the has stopped working for. I'm trying to hide the signup link. any ideas or suggestions?

[2020-05-13 15:16] hello2all commented on #5729
I second to @danrivett 's recommendation on user groups shall not be a deciding factor for accessing storage. I'd propose an additional step in `amplify storage update`:

After selecting `Restrict access by? Auth/Guest Users`, there should be a question of `Do you wish to use the same kind access for all user groups?` with default `Yes`. In the `Yes` case all user groups access permissions copies

[2020-05-13 15:54] hello2all commented on #5729
For those who wishes to use an Admin user group which has access to all other users' uploads, I found out a temporary solution by manually modifying storage config files.

We'd modify in total 3 files to grant proper permissions to the `Admin` user group:

- **backend-config.json**, under `./amplify/backend`
- **s3-cloudformation-template.json**, under `./amplify/backend/storage/YourStorageResourc

[2020-05-13 16:22] undefobj commented on #5119
@chernando Delta Sync uses a DynamoDB Query and the Base Sync uses a Scan. The Base is a periodic global catch-up process and doesn't run all the time (it's also configurable). We're working with the AppSync team to add an optimization for using a Query in the service but this would be transparent to the client API since it happens in the GraphQL resolver in the service.

[2020-05-13 17:09] kimfucious opened #5774 "OAuth Error handling auth response., Error: invalid_grant using Expo AuthSession and Cognito federated auth"
**Describe the bug**
Developing locally, returning to an Expo React Native App (built with Amplify, using federated/social enabled auth) after using [AuthSession](https://docs.expo.io/versions/latest/sdk/auth-session/) to perform Spotify authorization, the following errors are thrown in Hub:

[code]
[code]
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Build a React Native app using

[2020-05-13 17:14] ericclemmons opened #5775 "Center amplify-authenticator by default"
**Is your feature request related to a problem? Please describe.**

The new `@aws-amplify/ui-react`'s `<AmplifyAuthenticator>` isn't center on the page by default, so it appears in the top-left corner.

#5727 fixes this for `withAuthenticator(App)` usage, but using `<AmplifyAuthenticator>` is inconsistent.

**Describe the solution you'd like**

Hoist `amplify-container` styles to `amplify-authenti

[2020-05-13 17:23] chernando commented on #5119
@undefobj I really appreciate your quick response.

Yeah, Delta Sync works as expected.

But just one run from time to time can ruin everything if table is big enough. The only way I see to keep it scalable is disabling entirely and that makes DataStore dull.

I have no doubt you're working hard on this and other important issues and don't get me wrong Amplify & DataStore have great potential. And

[2020-05-13 17:32] ericclemmons commented on #5714
Raw numbers do have some sticker shock. The good news is we're trending in the right direction with tree-shaking:
- https://bundlephobia.com/result?p=@aws-amplify/core (32kB gzipped)
- https://bundlephobia.com/result?p=@aws-amplify/auth (49kB gzipped)

A quick glance at the bundle output points to cross-browser `Buffer` support and the Auth libraries (e.g. `amazon-cognito-identity-js`) as the main

[2020-05-13 17:32] #5714 closed

[2020-05-13 18:03] ZachMurray commented on #1403
This is still the first one that returns on search.

[2020-05-13 18:08] ericclemmons commented on #3940
@gsans We've pulled this fix into `@aws-amplify/ui-vue`.  Can you give that a go and let us know if you're still experiencing issues?

[2020-05-13 18:20] #3553 closed

[2020-05-13 18:27] ericclemmons commented on #4269
@YahngSungho @haruharuharuby Can you adjust your code to use `Auth.federatedSignIn`, according to:

That should work out-of-the-box with the least amount of custom code to validate that federated sign-in works & is configured correctly. (I want to confirm that @YahngSungho & @haruharuharuby are experiencing the same thing)

You're doing the correct thing by signing in with Hosted UI first to valid

[2020-05-13 18:30] ericclemmons commented on #4374
We've update our Vue implementation here:

Would you be able to try this in your app & confirm it fixes your issue?

[2020-05-13 18:32] ericclemmons commented on #4376
I agree, throwing should pass `instanceof Error` checks.

[2020-05-13 18:33] Rolando-Barbella commented on #4420
Anyone knows who to solve this?

[2020-05-13 18:37] ericclemmons commented on #4420
#4351 should resolve the "refresh" problem with AsyncStorage, so be sure to update your dependencies and give it another go.

You can also monitor the `signIn` events for getting access to `user`, as seen here:

If you're still experiencing problems, feel free to open up a new issue with your specifics so we can investigate 🙏

[2020-05-13 18:40] Rolando-Barbella commented on #5167
Same for me, can't bring the user data, the error message it's probably wrong as well

"aws-amplify": "^3.0.5",
 "aws-amplify-react": "^4.1.4",
 "aws-appsync": "^3.0.2",

[2020-05-13 18:49] ericclemmons commented on #4740
Sorry for not following up sooner. There's a great deal of internal documentation that I went through, but it ultimately points to, at AWS' scale, customers pinning certificates has unintentionally broken users' apps when underlying certificates were renewed.

It's better to not run a CA, but https://aws.amazon.com/certificate-manager/private-certificate-authority/ can handle it if you so choose.

[2020-05-13 18:49] #4740 closed

[2020-05-13 18:50] ericclemmons commented on #4748
Can you share your experience with using https://docs.amplify.aws/ui/q/framework/vue?

We've pulled forward fixes for this (and others) into our `@aws-amplify/ui-components` project and want to confirm it's resolved. 🤞

[2020-05-13 19:05] ericclemmons commented on #4764
For that single user, you should be able to do a global sign-out:

The caveat is that the tokens are still valid until they expire, usually an hour, but won't refresh like usual:

Things are a little tricky when you're effectively syncing state between two apps (`sub1.example.com` and `sub2.example.com`), but your different domains can call `Auth.currentAuthenticatedUser({ bypassCache: true })` an

[2020-05-13 19:05] #4764 closed

[2020-05-13 19:06] ericclemmons commented on #4812
We've moved our UI efforts into `@aws-amplify/ui-angular`:

Can you give that a shot & let us know if you're still experiencing issues?

[2020-05-13 19:08] ericclemmons commented on #4825
We've resolved this bug (among others) in `@aws-amplify/ui-react`.

Can you give it a shot and let us know if you're still experiencing issues?

[2020-05-13 19:12] #989 closed

[2020-05-13 19:13] ericclemmons commented on #4877
Rather than doing this in the UI, it sounds like you're looking for a custom Cognito Lambda trigger:

This would allow your lambda to get access to the newly-created user and associate the anonymous id when first registered, similar to this trigger:

I would need to know more about your specific use-case (and your proposed alternatives of keying off of dates) to help further.

[2020-05-13 19:15] manueliglesias commented on #5741
Unfortunately we can't solve this via TypeScript, since the return type depends on a runtime inspection of the GraphQL operation type.

We could explore the option of having two methods instead of one, e.g.:

[code]

[code]

[2020-05-13 19:18] ericclemmons commented on #4886
There have been several issues with `crypto-js` introducing regressions. In fact, `3.3.0` is the same as `3.1.9-1` because of bugs with `3.2.0`:

`3.4.0` is out, but we're only upgrading as required because of stability issues such as these.

Closing since upgrading to the latest versions of Amplify or specifying `resolutions` unblocks the original bug:

[2020-05-13 19:18] #4886 closed

[2020-05-13 19:33] joebernard commented on #3929
Solved with a `fetch` to read the content as a `blob` then uploading that blob with `Storage`.

[code]

[2020-05-13 19:33] #3929 closed

[2020-05-13 19:39] ericclemmons commented on #5096
@annjawn Your experience is correct: Amplify auto-refreshes tokens for you when using Cognito Hosted UI.

Our docs have been relaunched at https://docs.amplify.aws/, as we're working to clarify use-cases.

Feel free to check out https://docs.amplify.aws/start/getting-started/auth/q/integration/react-native#authentication-with-amplify and click the "Feedback" button to let us know what can be impro

[2020-05-13 19:39] #5096 closed

[2020-05-13 19:45] quorth0n commented on #2190
This is a must-have for anyone doing file uploads with this library.

[2020-05-13 19:49] kylegwalsh commented on #4877
Mixpanel recently rolled out a new feature the removed the need to alias users. Therefore, we were able to remove the need to key off the signup event.

However, before the change, we had to create a DynamoDB that tracked whether a user had already been aliased. Then, we would query that property during the "Sign In" to determine whether the user was actually "Signing Up" so that we could alias th

[2020-05-13 19:54] ericclemmons commented on #5098
Based off of https://docs.amplify.aws/lib/datastore/data-access/q/platform/js#query-with-predicates, I tested the following successfully:

[code]

[code]

The trick here is that `c.id('eq', id1).id('eq', id2)` has an implicit _and_, so wrapping it in `c.or(c => ...)` resolves it.  (That's why I used `.reduce` to chain the predicates, whereas `.map` won't work)

Note that, if `ids` is empty (`[]`),

[2020-05-13 19:54] #5098 closed

[2020-05-13 19:56] chrismillah commented on #3732
+1 also experiencing this issue

[2020-05-13 20:10] ericclemmons commented on #5213
@rathoregee Can you share how this project was configured with `amplify add auth`, or your anonymized `aws-exports.js`?

Here's an example of a working `aws-exports.js` using Cognito User Pools:

[code]

[2020-05-13 20:14] ericclemmons commented on #5218
What a great explanation!

This looks like a bug with how `customState` is expected to be a `string` and serialization isn't symmetrical between step 3. and step 4.

[2020-05-13 20:42] ericclemmons commented on #5302
@mkaschke I've run into the same situation!  When you run `amplify push`, it asks about "maximum depth" (defaults to 2) of queries.

As @RossWilliams has mentioned, you will likely need to use these auto-generated queries as a starting point and update to meet your UI's needs.  (Especially if it means making multiple round-trips for a collection!)

If you want to re-generate with deeper queries, c

[2020-05-13 20:42] #5302 closed

[2020-05-13 21:04] ericclemmons commented on #4877
This is great feedback! I used to use MixPanel, so your example hits home :)

I was looking into our current list of events, and you're right: federated behaves misses the `signUp` event:

During the federation flow, Cognito Hosted UI is implicitly handling the sign-up event, so the app is only aware that the user has signed-in (via the `signIn` event).

At least for now, the best recommendation i

[2020-05-13 21:04] #4877 closed

[2020-05-13 21:27] Chewbee commented on #5318
On my side, impossible to have preAuth Working
It prevents the logging leaving no trace in cognito, no log log for the Lambda like if it was never called
I enable preAuthTrigger through CloudFormation the code now is the sample from the doc :

`
exports.handler = async (event, context, callback) => {
    if (event.callerContext.clientId === "user-pool-app-client-id-to-be-blocked") {
        var er

[2020-05-13 23:59] jordanranz commented on #5775
Yes, we probably don't want to apply a default centering to the authenticator but rather allow the user to style it without affecting the contained app. Additionally, the user can wrap it in `amplify-container` which will do the `100vh` vertical and horizontal centering for them.

Both solutions above can be done today if you **do not** wrap your app inside of the authenticator component but you w

[2020-05-14 00:52] rnadeera commented on #5720
Yes. That was the issue. It's working now. Silly mistake by me. Thanks all for your help

[2020-05-14 00:52] #5720 closed

[2020-05-14 02:03] tammomueller commented on #5094
@karrettgelley did you resolve this issue?

[2020-05-14 04:10] dbhagen opened #5781 "Auth.federatedSignIn({ provider }) broken?"
**Describe the bug**
Trying to impliment Federated SSO in a new app. Auth configured through the Amplify CLI. Actually works if I use the hosted SSO. Trying to write my own UI and handle SSO calls, so I'm running:
[code]

**To Reproduce**
I haven't tried a from scratch app, but again, works with hosted UI.
The error given on invokation is:
`Auth.js?bf82:1639 Uncaught (in promise) TypeError: Cannot

[2020-05-14 08:00] Spy-Seth commented on #5318
After contacting the AWS support it a know bug: the pre-authentification hook is not called on custom auth flow

[2020-05-14 09:36] dazweeja opened #5800 "DataStore @connection directive on optional field"
**Describe the bug**
Optional fields with @connection directive appear to be incompatible with DataStore. Valid instances can't be saved/synced. My apologies if I'm making a basic error as I'm new to DataStore, AppSync and GraphQL.

**Amplify CLI Version**
4.19.0

**To Reproduce**
Consider this simple schema:
[code]
It seems quite straightforward and similar to other schemas given in the docs. How

[2020-05-14 09:49] jhw commented on #755
@mrichman - did you manage to resolve this ?

[2020-05-14 09:52] Purii opened #5782 "(React) UI Components don't support password managers"
**Describe the bug**
Browsers don't recognize the input elements as Auth related.

-> No "password suggestion" on during account creation
-> No autofill during sign in
-> No prompt "save password?" during sign in

I'm not sure what details are necessary for this to work, but I tried setting the `name` attribute and others through `formFields`. But that didn't help solve this issue. (https://www.ch

[2020-05-14 10:03] mdegrees commented on #4235
@amcdnl, to @ericclemmons point, I went, for e.g,  the route of react-apollo but hit a wall with multi authentications. My app have guests and users. Switching between Cognito pool and API key was cumbersome + subscriptions didn't work:
https://github.com/awslabs/aws-mobile-appsync-sdk-js/issues/562

[2020-05-14 10:36] csdal commented on #755
@mrichman @jhw
How about this?
https://github.com/csdal/public-junk/issues/2

[2020-05-14 10:54] mlescaudron opened #5783 "amazon-cognito-identity-js can reset password of users outside of the pool"
**Describe the bug**
I have a user pool with 4 users
![image](https://user-images.githubusercontent.com/9129639/81925400-d2084300-9623-11ea-83d8-76b53d9dc457.png)

When I want to reset the password of any of my users, I properly receive an email with a token.
But when I type a username that I don't have, I was expecting the same error as AWS CLI but I actually receive a success response like:

[co

[2020-05-14 10:58] mrichman commented on #755
@jhw I don't recall my specific issue, but to open the Cognito hosted UI from within Vue.js, I just call `Auth.federatedSignIn();` on button click. My `aws-exports.js` is configured as follows:

[code]

[2020-05-14 13:08] shouze commented on #5318
Would be nice to see it fixed though

[2020-05-14 13:40] PeterBurner opened #5784 "Typescript Enums are not exported properly"
**Describe the bug**
In a typescript based vue app, when using the AmplifyAuthenticator, i'd like to change the usernameAlias parameter, described here https://docs.amplify.aws/ui/auth/authenticator/q/framework/vue#prop-username-alias. However, all the enums from ui-components (except `AuthState` --> see #5416) are not exported properly so vue-cli fails with an error similar to: This dependency wa

[2020-05-14 14:34] BeagleTechno commented on #4748
Hi, I have aws s3 provisioned to my app. I can upload and delete files to my bucket, but I cannot see them on the app (method GET returns an error?). Ideas?

[2020-05-14 17:08] Tom-RulesCube commented on #5433
Just hitting this myself ... so basically, a custom index means you can't use an update mutation? Hmmm.

[2020-05-14 17:28] Steinliiippp commented on #2711
Is there any update on this?

[2020-05-14 17:39] Steinliiippp opened #5788 "Page does not load if multiple user data is stored in cookie storage"
**Describe the bug**
If multiple users a logged in with the cookie storage (i did not try the localstorage) then the pages is not loading. I think is has something to do with the selecton of the LastAuthUser. If i remove alle cookies, which belong to one user and keep the other users cookies the page is loading.

**To Reproduce**
1. Activate the cookie storage of amplify
2. Login into AWS Cognito

[2020-05-14 18:02] #5088 closed

[2020-05-14 18:10] sammartinez commented on #4784
@michaelcuneo Are you still experiencing this issue? Please let us know.

[2020-05-14 18:14] sammartinez commented on #4809
This issue was resolved with the above Pull Request being merged in. Resolving issue

[2020-05-14 18:14] #4809 closed

[2020-05-14 18:18] amhinson commented on #5723
Oh ok, thanks for the update! I don't have a working example of the architecture you're describing, but I'm wondering if there is some other value in the `requestContext` that could be used as a unique user id instead of `identity.cognitoIdentityId`?

[2020-05-14 18:25] sammartinez commented on #4765
@sw-yx @manueliglesias Im curious if its an issue with Svelte and Amplify playing nicely together as we haven't done a deep dive into support for Svelte.

[2020-05-14 18:29] #5397 closed

[2020-05-14 18:31] danluszcz-pariveda commented on #5657
Using the authenticator without slots has its own issues as I detailed in the original post.

We are building custom UI components to get around this bug and others.

[2020-05-14 18:36] ericclemmons commented on #5788
@Steinliiippp Can you complete the bug report template so that we can reproduce "page does not load if multiple user data is stored in cookie storage"?

[2020-05-14 18:43] StephenHartfield commented on #1886
Having the same issue. @powerful23 not sure how the mention issue, #1890, helps, as this is a problem with the signUp and confirmSignUp.

In my application, the user signs up and is given the confirmation code and is routed to page where they can enter confirmation code. However, if they accidentally refresh the page, the username becomes empty and they cannot proceed, even with the confirmation c

[2020-05-14 18:48] #5636 closed

[2020-05-14 18:50] lenarmazitov opened #5789 "DataStore - Sync engine error on start TypeError: Symbol.asyncIterator is not defined."
**Describe the bug**
I have error message:
```DataStore - Sync engine error on start TypeError: Symbol.asyncIterator is not defined.```
![image](https://user-images.githubusercontent.com/600133/81973664-19470180-962d-11ea-87c3-75844a9bf67d.png)

**To Reproduce**
1. Compliled graphql transfrom
2. Push changes (choose FlowType)
3. Saved data with DataStore
[code]

**packages**
- amplify cli verion:

[2020-05-14 19:05] matteofigus opened #5790 "Hide Create Account section inside SignIn components"
**Is your feature request related to a problem? Please describe.**
In cognito it is possible to prevent users to autonomously create accounts: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-cognito-userpool-admincreateuserconfig.html#cfn-cognito-userpool-admincreateuserconfig-allowadmincreateuseronly

When rendering my SignIn component, there is a link that I can't r

[2020-05-14 19:21] ericclemmons commented on #4748
@BeagleTechno Your question sounds unrelated to OP's. Would you mind creating a new issue?

[2020-05-14 19:27] jordanranz commented on #5790
This is possible using slots: https://github.com/aws-amplify/amplify-js/issues/5594

We are working on providing the component more context of the user pool configuration to populate the forms appropriately.

[2020-05-14 19:52] sammartinez commented on #4846
Based on the above comment, I am closing this issue. Please let us know if you are still experiencing this issue after upgrading.

[2020-05-14 19:52] #4846 closed

[2020-05-14 20:24] matteofigus commented on #5790
Fantastic! I just tested and it works great. I'm happy for you to close both the issue and PR, but if you think I can help to remodel the PR to make it context sensitive rather than param driven, happy to try having a go?

[2020-05-14 20:33] jordanranz commented on #5790
Glad that worked! I will definitely make a note to add this to our documentation as this seems like a relatively common use case.

I'd say we can probably close both this issue and the PR for now. I will also create a new feature request so we can track the feature of providing the authenticator component with better user pool context, then link this issue there.

Thank you for spinning up that PR

[2020-05-14 20:33] #5790 closed

[2020-05-14 20:35] sammartinez commented on #4819
@aschimmel To @ericclemmons above callout on this issue being related to issue [#4825](https://github.com/aws-amplify/amplify-js/issues/4825#issuecomment-628188140), we have resolved issues with federated sign in within our new UI Components. Can you try with the newer implementations and verify if this works for you? Thanks ahead of time

[2020-05-14 20:38] matteofigus commented on #5790
no problem, always happy to help.

[2020-05-14 20:41] jordanranz commented on #5784
Hey @PeterBurner, thanks for reporting. Added a PR to export the proper types.

[2020-05-14 21:44] jordanranz commented on #5759
The fix for this was released to latest. Please feel free to open a new issue if there are any related questions or concerns.

[2020-05-14 21:44] #5759 closed

[2020-05-14 22:16] danrivett opened #5793 "Support for Unit Testing RN Components with DataStore"
**Is your feature request related to a problem? Please describe.**
I am attempting to write unit tests in Jest for React Native components that interact with Amplify DataStore.

Typically I would mock out external dependencies such as DataStore, but as it doesn't make network calls (if not wired to AppSync) and is hard to mock in a way that avoids false positives from making incorrect assumptions

[2020-05-14 22:17] danrivett commented on #5793
/cc @undefobj as discussed

[2020-05-14 22:51] lenarmazitov commented on #5789
I've tried to add babel plugin: @babel/plugin-proposal-async-generator-functions
But it did't help.

[2020-05-14 23:13] Ashish-Nanda commented on #5793
Hi @danrivett , have you considered using a mock of Async Storage itself. You can use something like: https://www.npmjs.com/package/mock-async-storage

Also you could create your own Mock of it since the API surface is quite small, and just use a in memory Map to store the key value pairs.

We are adding some unit tests to DataStore React Native soon, and can share that with you once the PR is out

[2020-05-14 23:26] danrivett commented on #5793
Interesting @Ashish-Nanda. I did consider that package actually, but I have no experience with it so was a bit unsure whether it would be suitable.

I will check it out, but I would also appreciate if you could share any findings you have with your unit tests as that definitely would be helpful for me. Thanks.

[2020-05-14 23:33] danrivett commented on #5793
For other's benefit, I looked further into this after @Ashish-Nanda's suggestion and it appears tha the DataStore `AsyncStorage` interaction is limited to just the [`AsyncStorageDatabase`](https://github.com/aws-amplify/amplify-js/blob/master/packages/datastore/src/storage/adapter/AsyncStorageDatabase.ts) class, and so that should make it easier to mock out `AsyncStorage` as suggested.

We will gi

[2020-05-15 01:01] elorzafe commented on #5318
I can confirm this is not an issue with Amplify library, is a restriction by Cognito User Pools.

Why do you need validation data and custom challenge, those seems to be similar to me. Maybe I am missing another use case.

Thanks

[2020-05-15 02:26] cemozerr commented on #54
How is this issue still not solved? Is there some technical debt in the background that makes this impossible to solve? Makes Amplify useless for me (because I will need to duplicate information elsewhere) and surely many others.

[2020-05-15 03:29] joebernard opened #5794 "PushNotifications requestIOSPermissions not working in @latest (^3.0.11)"
This bug has returned: https://github.com/aws-amplify/amplify-js/issues/4574

**Describe the bug**
The push notifications configuration [`requestIOSPermissions`](https://aws-amplify.github.io/docs/js/push-notifications) seems to have stopped working. The app prompts for push notification permissions on app load even if this config is `false`.  If I switch to the `@unstable` release (^3.0.11-unstab

[2020-05-15 04:19] kennethesguerra commented on #3501
@charleswduk same situation also. Have you already found the workaround on this? This has been an issue a year ago though in amplify https://github.com/aws-amplify/amplify-js/issues/3435

[2020-05-15 04:49] #4368 closed

[2020-05-15 04:49] #3836 closed

[2020-05-15 07:10] ShahoG commented on #4999
I have now moved on to use the new UI components instead and they work fine

[2020-05-15 08:23] ivandimov commented on #5314
Hey there, we have simillar issue. We are autoConfirming the users, but still want to send them an email with code, to verify their email address. When we pass the autoConfirm flag to true, it does not send them an email. We want to actually verify the email by sending them the code, because we can't just "trust" them and autoverify the emails too. I tried to use resendConfirmationCodeAsync, but i

[2020-05-15 08:51] thomaswr commented on #1545
This is a major issue for us.

Cognito amounts to almost 5K of cookies with the cookieStorage implementation, while many webservers define 8K as the default maximum.

Are there any alternative Implementations besides cookieStorage and localStorage?
Why are the cookie names alone that long? Can it be renamed?
Are all cookies required?
What's the official stance towards this issue?

Thank you

[2020-05-15 09:34] charleswduk commented on #3501
@kennethesguerra Didn't find a solution. I'm thinking about integrating with Cognito directly, but haven't investigated whether this will help yet... If anyone finds a solution that works with Amplify, please let me know, as I would much rather stick with it!

[2020-05-15 11:58] chai86 commented on #5738
@amhinson @ericclemmons @Ashish-Nanda Hi guys, any resolution to why this error appears? Thanks 🙂

[2020-05-15 12:03] lenarmazitov commented on #5789
I added polyfill @azure/core-asynciterator-polyfill and error have gone
But it still not syncing anything on DynamoDb.

[2020-05-15 12:28] haruharuharuby commented on #4269
@ericclemmons (CC: @YahngSungho )

I could resolve it myself in my case.
My problem resulted from a shortage of Cognito Identity Provider.
I needed to add UserPoolId and ClientId to IdentityProvider.
Because I configured the aws-exports.js to specify existed UserPool and Identity Provider and I added a new Client on only UserPool configuration.

I compared UserPool and Cognito Idp configuration be

[2020-05-15 12:29] jhw commented on #755
@mrichman many thanks. Wondering if you have any Cloudformation at hand for creating a user pool + app client + hosted UI ? Am working from this base -

https://gist.github.com/singledigit/2c4d7232fa96d9e98a3de89cf6ebe7a5

but the UserPoolClient defined there is extremely simple and doesn't seem to include the Hosted UI stuff. Reading around a bit I find that Cloudformation Cognito UI support was

[2020-05-15 13:26] mrichman commented on #755
Try these:

[code]

[2020-05-15 14:33] joebernard commented on #5794
I've tried setting `requestIOSPermissions` in both `Amplify.configure` and `PushNotification.configure`. Neither works. I'm prompted to allow notifications when the app starts.

[code]

[code]

[2020-05-15 15:16] RicardoBarroso commented on #3124
Despite my last answer which did work for a previous app now I've seen that on a new one the solution was to check **`Automatically Manage Signing`**.

Be aware that if your build scheme is using `Debug` or `Release` the corresponding provisioning profile on `Build Settings` also must be set to **`Automatic`**.

[2020-05-15 15:21] jdchmiel opened #5799 "[vue] [ui] Unable to change background color of @aws-amplify/ui-vue authenticator component"
The shadow dom makes styling the \<amplify-authenticator> component very difficult for anything other than the font and the colors listed in the docs.  The docs notably omit background color, and it seems to be hard coded white.
This brings up a larger question as to if any way to inject styling in vue is coming soon / or that is just not covered in the docs yet?

**To Reproduce**
add an \<amplify

[2020-05-15 15:42] chad-codeworkshop commented on #5729
I seem to be experiencing the same thing with aws-amplify: 3.0.11, except I am using google federated logins and only experience a 403 when using a google account

I've had a look at the logs and it seems that identityId: undefined

[2020-05-15 17:09] ericclemmons commented on #5738
@chai86 I've added it to the our [Auth Clockdrift](https://github.com/aws-amplify/amplify-js/milestone/17) milestone because I suspect that, when foregrounded, we're using in incorrect timestamp reference and the request fails.

[2020-05-15 18:31] sigitp-git commented on #4315
I tried above solution:

[code]

The same issue still happens, error:

[code]

version:

"aws-amplify": "^3.0.11"

[2020-05-15 18:32] OmarZeidan commented on #992
@JoePassanante Are you sure you managed to get that from the SSR?

https://github.com/aws-amplify/amplify-js/issues/992#issuecomment-464602007

[2020-05-15 18:45] akshbhu commented on #5729
Hi @chad-codeworkshop

I think your issue is a bit different from the one above , you can open an issue [here](https://github.com/aws-amplify/amplify-cli/issues) so that we can easily track the progress.

[2020-05-15 19:06] ericclemmons commented on #5799
I was able to create a story and validate that this value is being hard-coded to `--amplify-white`:

[code]

[2020-05-15 19:09] ericclemmons commented on #4999
I highly recommend upgrading to `@aws-amplify/ui-angular` (per @jordanranz's response above).

Additionally, https://github.com/aws-amplify/amplify-js/pull/4862 fixes this in `aws-amplify-angular` (https://www.npmjs.com/package/aws-amplify-angular), which should unblock you while you migrate to `@aws-amplify/ui-angular`.

[2020-05-15 19:09] #4999 closed

[2020-05-15 19:43] mauerbac commented on #5565
Hi @karrettgelley / @VTSingle - sorry for the delay here. I was able to replicate this issue. I then did some digging and found this [issue](https://github.com/aws-amplify/amplify-js/issues/5127). It looks like when it's hosted with a custom domain via Amplify Console `Amplify.configure(config);` doesn't have the redirect variables, so in the proposed solution the dev manually overrides them. This

[2020-05-15 19:45] mauerbac commented on #5127
For folks on this thread -- I recently experienced this issue myself and used the fix listed above. It works but I agree that our docs need to be updated and this should be fixed in the way the Amplify config state is created. This is now marked as a bug and will be addressed soon. https://github.com/aws-amplify/amplify-js/issues/5565.

[2020-05-15 20:13] jfazzini commented on #4015
Hello @elorzafe,
Can you please let us know if this feature is in the Cognito roadmap? Sadly I'm in the same boat. Having a trigger similar to `pre-token-generation` and use it to implement a lambda function for adding claims to the access token will solve this issue.

[2020-05-16 00:10] dazweeja commented on #5800
I don't believe this is an issue with the JS library. You can't use this schema with Android either. As far as I can tell it's impossible to create a Lecture without a presenter attribute because DataStore requires a value for every attribute, regardless of whether they are optional or not, and for an attribute with a @connection directive, null is an invalid value.

In Android, it gives the error

[2020-05-16 01:34] undefobj commented on #5702
@GeorgeBellTMH can you take a look at the [latest docs for Relational modeling](https://docs.amplify.aws/lib/datastore/relational/q/platform/js) with DataStore and use the latest library version? We made some improvements to the CLI, the library on how it handles this internally, and tried to be explicit about schemas in the documentation including how to use `@key`.

[2020-05-16 01:37] undefobj commented on #5800
Can you take a look at the [latest docs for Relational modeling](https://docs.amplify.aws/lib/datastore/relational/q/platform/js) with DataStore and use the latest library version? We made some improvements to the CLI, the library on how it handles this internally, and tried to be explicit about schemas in the documentation including how to use `@key`.

[2020-05-16 01:38] undefobj commented on #4552
Can you take a look at the [latest docs for Relational modeling](https://docs.amplify.aws/lib/datastore/relational/q/platform/js) with DataStore and use the latest library version? We made some improvements to the CLI, the library on how it handles this internally, and tried to be explicit about schemas in the documentation including how to use `@key`.

[2020-05-16 01:40] undefobj commented on #5088
Following up for future reference: We updated the [docs for Relational modeling](https://docs.amplify.aws/lib/datastore/relational/q/platform/js). We made some improvements to the CLI, the library on how it handles this internally, and tried to be explicit about schemas in the documentation including how to use `@key`.

[2020-05-16 01:42] karrettgelley commented on #5565
@mauerbac Can you confirm that this is a custom domain bug and not merely a multi-env issue? I've ran across #5127 before when I was trying to set up multi-env auth, but that is _not_ my problem at the moment. Surely I'm missing something trivial like a configuration step unless everyone is just using the amplify default url (i.e. xxx-amplifymaster.com) for social federation

[2020-05-16 01:49] undefobj commented on #5433
The error "Updating _version field can not be set from the client" will happen if you submit a version higher than is currently committed to the backend DynamoDB table because the conflict detection protocol requires a single owner of updating versions for consistency, which is the service. DataStore will do this automatically (it sends it's last version of the world, which is the current version

[2020-05-16 02:32] binarydud commented on #4552
I will try to take a look this weekend.

[2020-05-16 04:15] dazweeja commented on #5800
@undefobj Thanks so much Richard. I've followed the updated docs and this schema works with DataStore and Amplify CLI 4.20.0:

[code]
I believe this has solved my issue.

[2020-05-16 04:19] undefobj commented on #5800
Great to hear! Have a nice weekend.

[2020-05-16 04:19] #5800 closed

[2020-05-16 04:42] GeorgeBellTMH commented on #5314
@jordanranz can you let us know what the built-in workaround is?

[2020-05-16 05:19] chadfaurie opened #5801 "Storage.put 403 with federated identities"
**Describe the bug**
Uploading a file using Storage.put to private S3 from using aws-amplify: 3.0.11 I get a 403, using google federated logins, normal cognito users work fine

The Amplify logs report that that that identityId: undefined and the url generated to upload contains undefined where the identityId should be
https://XXX.XXX.s3.eu-west-1.amazonaws.com/private/undefined/file.csv

**To Repr

[2020-05-16 05:39] chad-codeworkshop commented on #5801
Duplicate of #5440?

[2020-05-16 05:46] chad-codeworkshop commented on #5723
I am experiencing something similar with #5801

if I run with a google account it returns undefined for my identityId, but with a cognito account it is fine
Auth.currentCredentials().then((u) => {
    console.log("Creds", u)
  })

The impact is that I cannot upload to private S3 locations as the url path returns undefined for the identityId

[2020-05-16 05:47] chad-codeworkshop commented on #5801
I am using the Authenticator like this:

[code]

[2020-05-16 06:47] jhw commented on #755
@mrichman thank you so much.

Now this compiles (== no Cloudformation errors) but weird thing is I can't find the hosted UI endpoint. I was expecting it to be at -

`https://#{my_user_pool_client_name}.auth.#{my_region}.amazoncognito.com`

but `This site can’t be reached` :(

Could I missing a attribute to expose the hosted UI endpoint somehow ? Full stack here -

https://gist.githubusercontent.co

[2020-05-16 09:56] GeorgeBellTMH commented on #5702
Updated to:
    "aws-amplify": "^3.0.12-unstable.3",
    "aws-amplify-react-native": "^4.1.3-unstable.3",
amplify-cli: 4.20.1-alpha.0

My schema is as follows:

type ResourceRoot @model
 @auth(rules: [{ allow: groups, groups: ["verifiedUsers"] }])
 {
  id: ID!
  type: String
  groupId: String
  resources: [Resource] @connection(keyName: "byResource", fields: ["id"])
}
type Resource @model
@auth(ru

[2020-05-16 09:58] GeorgeBellTMH commented on #5702
When I look at resource, I can see the resourceRoot...but when looking from resourceRoot I do not see resources (which I would expect to have one resource in an array)

[2020-05-16 10:34] nicolaei opened #5803 "Improve error message for missmatched connection types"
## Is your feature request related to a problem? Please describe

As a new user I found it rather confusing when I was met with the following error when compiling my GraphQL.

[code]

My GraphQL looked something like this

[code]

Seeing that I'm a new user I didn't quite know what to look for, nor how to resolve it. So I started to look in the wrong places.  After a while I realised that I had a

[2020-05-16 10:56] ASchwad commented on #5010
Kind suggestion: Is it possible to add this as a project dependency? I ran into the same issue and in my opinion, the package should have downloaded this additional dependency automatically

[2020-05-16 11:02] Johnniexson commented on #5579
@dorontal were you able to fix this?

[2020-05-16 11:10] mrichman commented on #755
@jhw Try creating a user pool domain:

[code]

See here: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-cognito-userpooldomain.html

[2020-05-16 14:15] GeorgeBellTMH opened #5806 "Make ModelStringFilterInput support NOT_NULL | NULL"
It would be useful to be able to filter lists using filter:{column:NOT_NULL|NULL} L.... ModelStringFilterInput could implement it or a new ModelNullableStringFilterInput could be used on columns that allow nulls.

https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/LegacyConditionalParameters.QueryFilter.html

[2020-05-16 15:02] dorontal commented on #5579
@Johnniexson we did not try to fix this because it seems like a serious and deep bug that the experts at Amazon would be able to fix much more quickly than us, also because there is a workaround (using `API.graphql` directly, see comment above). Instead, we've shifted attention to work on other parts of the project until this is fixed.

[2020-05-16 15:19] Johnniexson commented on #5579
@dorontal Okay, but how do u import queries.createTodo in your component?

Because when i run amplify codegen the files created in the graphql folder are mutations.graphql, queries.graphql, subscriptions.graphql and schema.json

From these files there are no exported data that i can import in my components and i can't be writings the statements for each queries from scratch if I'm to use API.graph

[2020-05-16 15:33] jhw commented on #755
Super, many thanks. Still broken but I think I just have to fix callback and logout URLs. At least I can see the hosted UI now.

[2020-05-16 16:25] raffibag commented on #1094
I think the call for better documentation is coming from those of us who assumed this configuration would be done automatically under the Automated Setup heading. It would seem there are additional steps required even if setting it up "automatically," the steps for which are documented under Manual Setup. Would be helpful to have this clarified, as the docs clearly state - as of this posting - "If

[2020-05-16 19:38] manusharian commented on #4580
We hit the same problem. After configuring the apple service and cognito user pool we face the same null problem when trying to sign in (there is also no icon). This happens in an expo project (standalone app). After entering the passkey or password (we did not test on face/touch id yet) we got redirected to our app but receive the following error: `RedirectUri is not registered with the client`,

[2020-05-17 03:13] bantak commented on #4315
I 'm having the same issue in `"aws-amplify": "^3.0.11"`

I found out `Auth` module didn't load configs of `aws-exports`,
so my solution for this issue is:

[code]

Auth module can load awsconfig directly by `Auth.configure(awsconfig)`

I don't understand why `Auth` module didn't load `aws-export` from `Amplify.configure`, but I resolve this issue by this solution for now.

[2020-05-17 03:32] dorontal commented on #5579
@Johnniexson I do not understand your last question very well. The GraphQL code I post in a comment above which comes from the graphql folder is just the workaround solution, not the one we are after. In this issue, I am not referring to the code that gets created in the graphql folder at all, it is shown only to point other people who have that issue that there is a workaround. Instead, in this i

[2020-05-17 08:51] chad-codeworkshop commented on #5801
Having a look at the oAuth flow without the Hosted UI, it seems that identity_id is not returned from the google auth button and that's what is causing my issues

[2020-05-17 09:37] Johnniexson commented on #5579
@dorontal what i meant is that i can't import the generated statements for mutation from the graphql folder(the file generated have  ***.graphql file extension and not  .ts like the API.service.ts) to my component in other to use API.graphql directly (the part where one will specify in query: mutation.**).

Are u on the amplify discord channel? I will be glad if you can reach me via `johnniexson#3

[2020-05-17 13:03] ADCrouch opened #5808 "currentSession and currentAuthenticatedUser are throwing errors after an app update"
Hi there,

I'm using `const session = await Auth.currentSession()` to get the idToken from the session.
This works fine but then when I released an app update I noticed that whenever I call this I get an error of `No current user`.

I can see that the session is still stored in my AsyncStorage but I have no idea how to get a new idToken from the refresh token.

I tried calling this to refresh my i

[2020-05-17 14:18] Bulatbik opened #5809 "Amplify push fails printing EISDIR: illegal operation on a directory"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Code Snippet**
Please provide a code snippet or a link to sample code of the issue you are experiencing to help u

[2020-05-17 14:18] #5809 closed

[2020-05-17 14:51] Bulatbik opened #5810 "Amplify push fails printing EISDIR: illegal operation on a directory"
After making any minor changes in any Amplify category, amplify push fails and message "EISDIR: illegal operation on a directory" being printed.

The output:
amplify push
✔ Successfully pulled backend environment macos from the cloud.

Current Environment: macos

| Category | Resource name   | Operation | Provider plugin   |
| -------- | -------------- | --------- | ----------------- |
| Api

[2020-05-17 15:14] HamzaLJ opened #5811 "BUG - CREATE_FAILED Resource is not in the state stackUpdateComplete"
**Describe the bug**

I'm trying to run `amplify push` however, I get the following:

CREATE_FAILED amplify-appbackend-prod-42222-apiAppBackendApi-RX30SCWXXXX1-Outlet-JNS0XXXXUBJ9 AWS::CloudFormation::Stack Sun May 17 2020 15:00:15 GMT+0000 (GMT) Export with name pgd43evqgvdgfkkfjdsffspsna:GetAtt:OutletDataSource:Name is already exported by stack amplify-appbackend-prod-42222-apiAppBackendApi-RX30

[2020-05-17 18:54] mrichman commented on #5565
I am experiencing the same behavior, and had to implement the hack in [this issue](https://github.com/aws-amplify/amplify-js/issues/5127).

[2020-05-18 04:01] pseudyx opened #5812 "Create User in Admin API"
**Is your feature request related to a problem? Please describe.**
I have a few customer apps where new users have to be created in Cognito.
This is not a public app, allowing "sign-up" and Administrators of the app do not have AWS console access.

**Describe the solution you'd like**
Add create user to the Admin API quries.
Admin API already allows to restrict access to specific group ("admin" in

[2020-05-18 04:13] brataaaan commented on #4704
@ericclemmons
Unfortunately still not working for me. Getting error "DataStore - Sync error, subscription failed Subscribe only available for AWS AppSync endpoint".

It is configured in the Amplify.Confirgure({}). Do I have to configure the endpoint also for DataStore.configure(awsconfig) separately? If true, how?

Thank you

[2020-05-18 07:43] nikhil-shrestha opened #5813 "Amplify auth signIn runs Pre-token generation trigger twice. Unable to override idToken"
**Describe the bug**
Cognito Trigger: Pre Token Generation is being trigger twice with `Auth.signIn`
 `2020-05-18T05:42:11.915Z	6dccf05e-d970-4fb5-9b4a-a2bb59c92a44	INFO	TokenGeneration_Authentication`
`2020-05-18T05:42:14.529Z	cd24f3fe-0d40-4c27-838d-3f3d14d077fa	INFO	TokenGeneration_RefreshTokens`

Amplify `Auth.signIn(email, password, { domain })` trigger twice one for  `Authentication` and ano

[2020-05-18 08:10] EmploiCloud commented on #5717
Issued Resolved --
reinstall node_modules in the directory and again run
`amplify pull`

and configure your project ..

[2020-05-18 08:10] #5717 closed

[2020-05-18 08:26] SebSchwartz opened #5814 "Error when upgrading to 3.0.11 version with AWSAppSyncRealTimeProvider and cognito identity pool"
**Describe the bug**
Hi guys,
We updated aws-amplify lib from 2.2.7 to 3.0.11 and since, we cannot make any graphql request (from datastore or graphql api).
Here is the error we are receiving now:
[WARN] 57:00.206 AWSAppSyncRealTimeProvider - ensure credentials error No Cognito Identity pool provided for unauthenticated access.
Uncaught (in promise) Error: No credentials
    at AWSAppSyncRealTimeP

[2020-05-18 09:46] blasco commented on #2906
Same problem here, I cannot disable email verification:

[2020-05-18 10:15] zsid opened #5815 "Cannot find documentation for previous versions of amplify-js and aws-amplify-react"
**Describe the bug**
I have joined a legacy project which is using ` "aws-amplify": "^1.1.8"` and ` "aws-amplify-react": "^2.1.2"` and it is not possible to migrate at the moment to the newer versions. I find it very difficult to navigate the documentation and find out the different versions - it seems impossible task to me.

**To Reproduce**
Try to find the documentation for previous versions esp

[2020-05-18 10:46] bernardnongpoh commented on #2605
Any Solutions?

[2020-05-18 10:53] gsans commented on #3940
Great. It's working now. Thanks!

[2020-05-18 10:53] #3940 closed

[2020-05-18 11:11] bernardnongpoh commented on #5273
I am facing this problem with latest amplify unstable version.

[2020-05-18 12:47] sonphnt opened #5816 "AWS Pinpoint Analytics Events resource not found"
**Describe the bug**
I am using AWS Amplify analytics and Pinpoint for tracking user behaviours. Everything works well with Events such as pageView, custom events. But regarding to Custom attributes and User attributes, I can not see it in Console, get an error "Resource not found: attribute not found" when selecting on it.

**Expected behavior**
Should work without red error notification with "Re

[2020-05-18 13:13] secretshardul commented on #5775
Using ```@aws-amplify/ui-react``` here. I need help to bring the authentication box in center. I've tried both of these approaches:
1. Using ```AmplifyAuthenticator```: Using CSS properties is affecting the contained app. I do not want this
[code]
2. Using ```withAuthenticator```: [Documentation](https://docs.amplify.aws/lib/auth/customui/q/platform/js#customize-withauthenticator-hoc) shows how to

[2020-05-18 14:06] lenarmazitov commented on #5789
@manueliglesias This error could be seen only with React Native Debugger in debug mode.

[2020-05-18 14:29] mauerbac commented on #5565
hi @karrettgelley - The issue seems to be a multiple URL problem - not necessarily an issue with custom domains itself. Amplify initially gives you a pre-generated URL, so adding the custom domain causes you to have two URLs, which triggers this. The SDK doesn't support multiple URLs today. When I used the "hack" it essentially overrides which URL i want to use in the Config allowing redirects to

[2020-05-18 14:49] devth opened #5819 ""Continue with Facebook" button does not show up on hosted UI"
**Describe the bug**
I configured Cognito via Amplify CLI and setup all oauth providers: Google, Facebook, and Amazon. I followed the [setup docs](https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-social-idp.html)

I can successfully log in with Facebook if I create my own button, like:

[code]

but if I send the user to the Cognito Hosted UI, like:

[code]

Then only Am

[2020-05-18 15:18] jordanranz opened #5820 "Add breaking changes to README and/or docs for migrating from Amplify 1 to 2"
There is no centralized place for breaking changes. We should change that!

[2020-05-18 15:22] jordanranz commented on #5815
Hey @zsid, can you provide any details on the reasons for not being able to migrate to the newer versions? amplify 3 is mostly backwards compatible with 1 and 2. Breaking changes from 1 to 2 were very minor and slightly affect behavior on `API.graphql`. Breaking changes from 2 to 3 are listed [here](https://github.com/aws-amplify/amplify-js#notice)

I added a [feature request](https://github.com/a

[2020-05-18 15:23] lenarmazitov opened #5821 "DataStore forces autogenerated partition key"
**Describe the bug**
When I try to save model with defined partition key
[code]
I've get new document in DynamoDb with autogenerated partition key

**Expected behavior**
New document in DynamoDb with given partition key.

[2020-05-18 15:35] zsid commented on #5815
Hey @jordanranz, due to time constraints cannot spend time updating packages as there are dependancies between different projects.

Apart from breaking changes, what I will really like is similar to https://material-ui.com/versions/ where you can open the documentations for the previous versions and navigate there. People are still encouraged to migrate to newer versions but if they cannot do it a

[2020-05-18 15:37] zsid commented on #5820
What about having something like `https://material-ui.com/versions/` where you can also browse the docs of previous versions?

[2020-05-18 16:07] slewis77 commented on #5687
Hi @ericclemmons, any more info I can give to help recreate this?

Many thanks,
Steve

[2020-05-18 17:10] undefobj commented on #5702
This is Lazy Evaluation which isn't supported yet. You can track that feature here: https://github.com/aws-amplify/amplify-js/issues/5054

For now you'll need to do child queries like this: https://docs.amplify.aws/lib/datastore/relational/q/platform/js#querying-relations

[2020-05-18 17:11] amhinson commented on #5543
Is this what you're looking for?
https://docs.amplify.aws/lib/auth/social/q/platform/js#sign-in-redirect-uris

[2020-05-18 17:18] mauerbac commented on #5820
+1 to a formal change log

[2020-05-18 17:27] mezalejandro commented on #5543
I think the problem is that I don't have the provider enabled:
![Screen Shot 2020-05-18 at 14 25 42](https://user-images.githubusercontent.com/568141/82242106-adf27d80-9913-11ea-8954-36f9d85885ea.png)

[2020-05-18 17:28] amhinson commented on #5543
Oh yes, that will need to be enabled. Does that resolve your issue?

[2020-05-18 17:47] mauerbac commented on #5819
Hi @devth - I wasn't able to reproduce this issue.

Can you try:
1) `amplify update auth` and select Update OAuth social providers. Ensure all three are selected.
2) In the AWS console, choose your Cognito user pool and select Identify Providers under Federation on the left hand side. You should see Google, Facebook and Amazon selected?

Let me know

[2020-05-18 17:57] ericclemmons commented on #4704
@brataaaan No, you shouldn't have to configure DataStore separately. Are you using `aws-exports.js` that's generated from the CLI?

[code]

If you're still having trouble, feel free to open a new issue with steps to reproduce your exact situation so we can continue there!

[2020-05-18 18:18] mezalejandro commented on #5543
@amhinson  This enabled generates this url:
https://example.auth.us-east-1.amazoncognito.com/oauth2/authorize?redirect_uri=myapp%3A%2F%2Foauth%2F&response_type=code&client_id=6kesnacc8bdk569jij9gri0lq1&identity_provider=SignInWithApple&scopes=phone%2Cemail%2Cprofile%2Copenid%2Caws.cognito.signin.user.admin&state=VwKiZMCnLliddcaAP2e51eRHCyWNjAkT&code_challenge=FXmfp6ze7hnpdR5XeRoCKZc-JbF_2tXpLTeS6q

[2020-05-18 18:21] brataaaan commented on #4704
@ericclemmons thanks only configuring Amplify.configure({}) made the message disappear. Thank you. :-)

[2020-05-18 18:23] jordanranz commented on #2461
This is now supported in the new UI component library: https://docs.amplify.aws/ui/auth/authenticator/q/framework/angular

per: https://github.com/aws-amplify/amplify-js/pull/5765. required attribute form inputs for `amplify-require-new-password` are automatically populated now.

Please feel free to open a new issue if you are running into any related problems.

[2020-05-18 18:23] #2461 closed

[2020-05-18 18:45] amhinson commented on #5543
Have you added a URL scheme to your app in Xcode?

See "Configuring iOS" section near the bottom of this [blog post](https://medium.com/react-native-training/deep-linking-your-react-native-app-d87c39a1ad5e).

[2020-05-18 18:56] kirrg001 commented on #1582
The RFC was already closed, but it doesn't look like it covered the original request from this issue?

[2020-05-18 18:58] mezalejandro commented on #5543
if I have it added, but it redirects me to this link:
error?error=invalid_request&client_id=6kesnacc8bdk569jij9gri0lq1

Never open the app

[2020-05-18 19:46] bezreyhan commented on #1792
Is there any progress on this feature or a recommended workaround?

We need to be able to synchronously check if there is a cached user. It is causing significant issues for us. Thank you for the help.

[2020-05-18 20:16] SebSchwartz commented on #5820
Yes it is really missing a clear changelog :)

[2020-05-18 20:33] phillipsnick commented on #54
Just come back to an older Cognito project, hit this problem over a year ago. Can't believe there isn't any official way of resolving this still.

[2020-05-18 22:49] ccoffman-ebsco opened #5825 "Amplify SignIn component handleAuthStateChange issue"
**Describe the bug**
When setting handleAuthStateChange on the AmplifySignIn component, the login works, but the sign in screen does not disappear. Instead it stays and none of the interior components load.

**To Reproduce**
Check out the code snippet.

**Expected behavior**
I expect that once my code in the custom handleAuthStateChange function is complete, the signin component will no longer be

[2020-05-18 23:34] lamarrh commented on #3818
Was really hoping that I found a full working example using Authenticator and federated login.

If someone has a fully working solution a gist would be very helpful. I was loving Amplify but I'm on the _third_ page of google results right now looking for answers...

[2020-05-19 00:45] jordanranz commented on #5825
`handleAuthStateChange` will override the default behavior to dispatch an event to the `AmplifyAuthenticator` telling it which underlying component to render. In your case, since the Authenticator doesn't receive this event it will continue to display the state you were previously in.

We are working on a better guide for customizing the auth UI state management. In the meantime, instead of passin

[2020-05-19 01:41] yirako commented on #5767
I've encountered this issue, too. What I do is `JSON.parse()` once and check the `typeof` of the returned value, if it is a string (which will be, when double double-quotes are used), then we apply `JSON.parse()` again to that value and it works fine on both cases.

[2020-05-19 02:06] dbhagen commented on #5781
Well, this one is self-inflected for sure. Just poked in at the Auth object produced for the call and I've successfully "modified" the oauth.redirectSignIn and oauth.redirectSignOut to be `undefined`. Whoops. The code was pulled from another project that was SPA based, versus this NUXT project. I focus on fixing it and come back with my changes for the next person hitting something like this.

[2020-05-19 02:39] michaelcuneo commented on #4784
Same with @VincentDevelopment a few days later it just started working. I think an update somewhere fixed it.

[2020-05-19 02:40] #4784 closed

[2020-05-19 02:50] michaelcuneo opened #5827 "Cyclic Dependency issue when using new Authenticator"
**Describe the bug**
Old aws-amplify-react 4.1.10 no longer has styling for Authenticator Component. So I have transitioned to @aws-amplify/react-ui, but this gives me a cyclic dependency error.

**To Reproduce**
Steps to reproduce the behavior:

Installed aws-amplify and aws-amplify-react.
Realised that aws-amplify-react no longer has any styling or supports styling at all.
Removed aws-amplify-re

[2020-05-19 02:54] dbhagen commented on #5781
Ok, mashing up a few things here, and spoiler, hardcoded for my production environment (Zeit/Now/Vercel, whatever they're calling it today). My Nuxt AWS Amplify plugin script now looks like this:
[code]

Now, all of this is to handle when you have multiple authorized redirect URIs in your Amplify Auth config, as I have. Hope that helps someone.

[2020-05-19 02:54] #5781 closed

[2020-05-19 03:59] karrettgelley commented on #5411
Am I the only one that wants this feature? Surely there are others out there who are tired of manually transforming the auto-generated graphql queries into queries with pagination.

[2020-05-19 04:07] #5715 closed

[2020-05-19 04:16] hasanbaloch commented on #3732
This issue is not just limited to Amplify. Amazon is forcing us to use to the Hosted UI.

No matter which cognito-app-client-id do we sign in with using SDKs, the resulting access token always contain the admin scope (aws.cognito.signin.user.admin). This is not a feature request but a **bug report** (if not a security loophole). What is the significance of cognito-app-client when its assigned scop

[2020-05-19 04:41] karrettgelley commented on #5565
@mauerbac Makes sense. I'll see if the hack works for me. Like I said I've used to hack before to get around multiple environments, but I haven't tried to use it for a custom domain. I never would have thought that using a custom domain would trigger the same issue. I'll report back on the update

[2020-05-19 09:36] marykatenawalaniec opened #5828 "Confirm New Password or View Password"
**Is your feature request related to a problem? Please describe.**
After entering the temporary password, a user is prompted to enter a new, permanent password. However, there is no way for the user to view what they're typing or confirm the password by typing it twice.

**Describe the solution you'd like**
Follow typical new password workflow:
- allow user the ability to toggle viewing actual tex

[2020-05-19 10:16] D0berm4n opened #5829 "OAuth - Error handling auth response. Error: invalid_grant"
**Describe the bug**
Sign in fails from time to time after redirect from hosted ui using vue-components

**To Reproduce**
Steps to reproduce the behavior:

1. Click on sign in with aws
2. Go to hosted ui
3. Sign in with hosted ui

**Expected behavior**
User is signed in

**Code Snippet**
Here is my Authenticator component

[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/

[2020-05-19 10:50] chernando commented on #4257
@michalmikolajczyk @selipso as you know using `any` disables type checking.

Until #5208 or #3748 gets through, try something like this:

[code]

[2020-05-19 11:07] nihp opened #5830 "Unable to resolve module `aws-sdk/dist/aws-sdk-react-native` while updating the aws-amplify and aws-amplify-react-native version"
I am updating aws-amplify and aws-amplify-react-nativeto latest version. But I am getting the error as

error: bundling failed: Error: Unable to resolve module `aws-sdk/dist/aws-sdk-react-native` from `/Users/name/work/projects/HelloWorld/hello.js`: Module `aws-sdk/dist/aws-sdk-react-native` does not exist in the Haste module map

Note: I not need this package in my package.json.

[code]

[2020-05-19 11:26] santuvytla commented on #4390
maybe we have to also set password to be mandatory..so system knows passwordless login is not permitted

[2020-05-19 11:35] santuvytla commented on #5623
one simple hack to it is telling the cognito that passwordless login is not permitted..we do it by going to aws cognito console's app client and  Enable username password based authentication (ALLOW_USER_PASSWORD_AUTH) which by default is not enabled....also we can set it in amplify.configure

[2020-05-19 13:26] nihp opened #5831 "Clarification: How can I know if the user received code while doing Auth.signUp in aws-amplify-react-native"
How can I know if the user received code while doing Auth.signUp in aws-amplify-react-native.

I need to track the user received code or not while registration as a new user. Does aws-amplify-react-native has any methods to track or show any message for the user in UI?

Note: I have registered as a new user i received code, but another one user tried to register but that one not received the confi

[2020-05-19 13:41] ajitgoel opened #5832 "Rolled back code throws error when publishing to AWS"
I tried to add a .Net rest api(hello world) to my amplify project but could never get it working. I rolled back all the code. Now, when I try to push my code to aws, aws amplify publish is detecting that several new API, functions, storage and an update to an existing api. I am also getting an "Command failed with ENOENT: dotnet publish -c Release -o <LongPath>". How can i ensure that I have rolle

[2020-05-19 14:00] nihp commented on #4174
I am using Auth.signUp to register in my app (aws-amplify-react-native).

Here I not received code, so i have checked the cognito it shows the need to enable MFA. How can I enable this MFA if the user not received code and how can I handle this while Auth.signUp?

[2020-05-19 14:03] #5832 closed

[2020-05-19 14:03] ajitgoel commented on #5832
there are some (aws amplify) files that are not source controlled and that have been changed but not rolled back. I will investigate this issue a bit more.

[2020-05-19 14:22] nihp opened #5833 "How can I enable SMA MFA while signUp in aws-amplify-react-native (Some users not receiving the confirmation code)"
How can I enable SMS MFA for the user who is registering for the first time.

Here some users can receive the code and some users not able to receive the code.

How can I trigger this if the MFA is not enabled while Auth.signUp in aws-amplify-react-native.

[2020-05-19 14:24] stephannagel opened #5834 "Invalid challenge code of sendCustomChallengeAnswer results in session not longer valid"
**Describe the bug**
I'm using the custom auth flow to login a user. This works perfectly with sign-in and then a successful sendCustomChallengeAnswer. When the user is entering an invalid challenge code - amplify provides me with the right feedback: "Incorrect username or password".

However when I enter the right challenge code on the second attempt, amplify won't accept it anymore as it comes b

[2020-05-19 14:27] nihp commented on #5137
Verification code (SMS) not received for the user while Auth.signUp in aws-amplify-react-native.

How can I check the user received code or not and need to enable MFA for that particular user.

[2020-05-19 14:36] #5831 closed

[2020-05-19 14:37] #5833 closed

[2020-05-19 14:40] sammartinez commented on #5830
@nihp Can you please provide us a code snippet and your environment information?

Please run the following command in order to get the environment information:
```npx envinfo --system --binaries --browsers --npmPackages --npmGlobalPackages```

This will helps us in understanding the issue you are experiencing. Thanks ahead of time

[2020-05-19 15:33] hyprstack opened #5836 "React.js AuthError - Error: Amplify has not been configured correctly."
**Describe the bug**
Have tried to manually integrate amplify in an existing react-app. I have succeeded in similar projects before, but have now migrated to the @aws-amplify/auth module and keep getting an annoying, and very un-helpful, error in the console:

`[ERROR] 00:42.548 AuthError -
            Error: Amplify has not been configured correctly.
            The configuration object is missin

[2020-05-19 15:45] Fanner487 commented on #5836
I'm getting the exact same issue too. I just rolled back my package version to use the last version from `^3.2.7` to `3.2.6` and it worked fine

[2020-05-19 17:14] Ashish-Nanda commented on #5830
@nihp can you
1) Quit the react native packager
2) Delete node modules: `rm -rf node_modules/`
3) Install dependencies: `npm install`
4) start packager after clearing cache: `yarn start --reset-cache` (from the root directory of your app)
5) In a different terminal window, run your app again: `npx react-native run-ios` (or however you run your app)

[2020-05-19 17:23] Ashish-Nanda commented on #5808
@ADCrouch does the issue happen when you refresh your app (eg. with Cmd +R on iOS) when developing as well? Or only when you update the app.
Is installing the app again the right way to simulate this?

Any more steps you can give to make reproduction of the issue more clear will be helpful

[2020-05-19 18:07] #5756 closed

[2020-05-19 18:16] blasco opened #5841 "Amplify Storage remove folder"
I can see many files for a given folder in s3, I can list the files with:
[code]
and I can download the files with:
[code]

The remove method doesn't through any error when I try to delete the folder, but it doesn't seem to work either.Is there a way to remove a folder and all files under it?

[2020-05-19 19:07] #5383 closed

[2020-05-19 20:15] manueliglesias commented on #5434
Hi @rpostulart

I am working on some performance improvements on the DataStore, if we don't encounter issues or problems, we are targeting next to release them.

I just tested a DataStore app with an API returning 100k items and it worked fine on Safari, so hopefully these fixes will make the issue go away for you.

Thank you for the patience

[2020-05-19 20:16] manueliglesias commented on #5592
Hi @PatrickLambert1101

Were you able to try @Ashish-Nanda 's suggestions?

[2020-05-19 20:20] mw-felker commented on #2498
@tomyitav I used the above rule that @DiegoArrieta shared on 2/22 on a react app that I just created today with `create-react-app`. Here is my Amplify rule set:

<img width="936" alt="Screen Shot 2020-05-19 at 4 17 55 PM" src="https://user-images.githubusercontent.com/851978/82373991-6f7cc180-99ec-11ea-8a4b-7ec53d89cdd1.png">

I added xml to the pattern to support serving public sitemap.xml files.

[2020-05-19 20:30] amhinson commented on #5252
@alexkaduk Sorry for the delay! Could you provide a code snippet of your `Analytics`/`PushNotification` usage?

[2020-05-19 20:55] mauerbac opened #5842 "VS Code snippets are outdated"
https://marketplace.visualstudio.com/items?itemName=aws-amplify.aws-amplify-vscode

https://github.com/aws-amplify/amplify-js/tree/master/vscode/snippets

[2020-05-19 22:23] manueliglesias commented on #5789
Hi @lenarmazitov

Which react native version are you using? If not on the latest, can you try on the latest?

regarding:

Do you see any network request in the debugger?

[2020-05-19 22:45] ADCrouch commented on #5808
@Ashish-Nanda This is not happening when refreshing the app or when closing and opening.
The current implementation using `Auth.currentSession()` is live and used by many users without any issues.

The way to reproduce it:

1. Installed the latest production app
2. Merged the release branch which does not include any Amplify changes
3. Run `npm install && cd ios && pod install && cd .. && react-na

[2020-05-20 00:19] naticaceres commented on #3933
I am getting the same behavior as @rafaeltc
I am using angular and storing in memory the auth cookies, following this guideline

https://docs.amplify.aws/lib/auth/manageusers/q/platform/js#managing-security-tokens

So far it has been a bumpy road.
I can't get plenty of Auth methods to work, Auth.signOut() doesn't seem to return anything ever, it doesn't fail, but it doesn't successfully complete e

[2020-05-20 01:30] yirako opened #5843 "DataStore blocking cloud sync in any model after a save call without subscription"
**Describe the bug**
Just like the title says, DataStore just blocks any type of sync op with the cloud if a `DataStore.save()` is called without any subscription. Any consecutive `.observe(Model).subscribe()` calls are not taken in count for updating nor it does reply to the cloud (both ways).

All data updates locally without any warning, so there's no way of knowing the model has been correctly

[2020-05-20 01:51] manueliglesias commented on #5687
Hi @slewis77

Can you try your schema with `@auth` **plus** explicitly adding an `owner` field to your type?

[code]

You need to re-run modelgen and do a push first.

[2020-05-20 02:17] ADCrouch commented on #5808
@Ashish-Nanda I found the culprit!
We accidentally changed the userPoolWebClientId, reverting it back solved the issue.

Thank you for looking into it.

[2020-05-20 02:17] #5808 closed

[2020-05-20 04:36] #5147 closed

[2020-05-20 04:40] rpostulart commented on #5434
Hi good to hear, but were you also able to reproduce the issue / did you noticed the performance issue?

[2020-05-20 04:49] nihp commented on #5830
@sammartinez

[code]

[2020-05-20 04:50] nihp commented on #5830
@Ashish-Nanda I already done. But it not worked

[2020-05-20 05:05] hectomg commented on #1335
Im getting this error but I noticed when i send the current password it request the code for reset password but if i send wrong current password it is showing "incorrect username or password" jajaja this is werid since when you reset your password you dont remember the password xD

[2020-05-20 05:24] nihp commented on #461
I have set MFA to optional. Because if this for some users MFA is disabled and for some users MFA is enabled while With.SignUp

How can I trigger or Enable MFA for this users from my code?

[2020-05-20 06:35] slewis77 commented on #5687
Hi @manueliglesias - tried as you suggested and it works now :)

Thanks for the workaround!!
Steve

[2020-05-20 06:38] nihp commented on #3268
I am also facing this issue any update on this

[2020-05-20 07:30] nihp commented on #1343
I have set the MFA as optional, so some users not receiving code and their MFA is in disable state. Need to manually enable the MFA.

How can I enable via aws-amplify-react-native while signUp for this case

[2020-05-20 07:58] nihp opened #5845 "How to enable mfa for a new user while Auth.signUp with userpool setting as optional"
I need to enable MFA for a user while Auth.signUp(). Here some users can able to get code while  registering and some are not able to register because they failed to receive code.

**I have set MFA setting as optional**.

Here i have checked in user pool, for that user the MFA is not enabled. How can I know this in UI or how can I enable MFA for these users while signup using aws-amplify-react-nat

[2020-05-20 08:25] timello commented on #2777
Hi @alexandrzavalii, did you manage to fix the problem? What cli option is it? I would be glad to see what you have done. Thank you.

[2020-05-20 09:03] hyprstack commented on #5836
@Fanner487 This didn't resolve my issue unfortunately, but I rolled back so that my package.json looked like

[code]

This has worked to resolve my immediate issue.

However I am hoping that the Amplify team can get back to me with an answer to this issue.

[2020-05-20 09:37] dazweeja commented on #5119
After reading these comments, I can't say that I'm clear on the use case for DataStore. I couldn't find a doc listing the motivation behind it, so I naively thought it was intended as a convenient wrapper around AppSync that abstracted away dealing with queries, mutations and subscriptions, and incorporated a persistent cache. But it seems like it might be something else where basically the databa

[2020-05-20 11:07] dsoegijono commented on #3620
@jordanranz Does that mean Amplify supports Angular 9 as well, or just Amplify Angular UI? [This page](https://docs.amplify.aws/start/getting-started/setup/q/integration/angular) still says Angular 9 is not supported.

[2020-05-20 14:15] ccoffman-ebsco commented on #5825
I was unable to import onAuthUIStateChange to my project. I got an error that it does not exist. I was also unsure how you meant for me to use it? Would I call it from my handlAuthStateChange method?

[2020-05-20 14:25] lenarmazitov commented on #5789
@manueliglesias
I use expo sdk version 36 with react-native 0.61.4

I'm fixed syncing.
The problem was because I installed package @aws-amplify/datastore manually along with "aws-amplify": "^3.0.11".

When I removed package problem dissapear. I still can use @aws-amplify/datastore because I have installed  "aws-amplify": "^3.0.11", but I do not have autocomplete.

I don't know may be there was som

[2020-05-20 14:38] #5845 closed

[2020-05-20 14:46] TomBrouwer opened #5846 "Valid authorization header not provided with additional Cognito setup"
**Describe the bug**
When I set authorization to Cognito for a custom mutation. And I do a request to the mutation, I get a 401 "Valid authorization header not provided." error.

**To Reproduce**
Steps to reproduce the behavior:

1. Set up Amplify project with `AWS_IAM` as default auth mode.
2. Add `AMAZON_COGNITO_USER_POOLS` as additional auth mode.
3. Create a function to add `no_user` group to

[2020-05-20 15:37] SebSchwartz commented on #5764
@manueliglesias Also, we want to upgrade  our library version to have the latests features but we are blocked with this issue: https://github.com/aws-amplify/amplify-js/issues/5814

As already said in https://github.com/aws-amplify/amplify-js/issues/5820 it would be great to have a changelog so we can check if issue can be related to changes or if it's something else and so we can try doing more d

[2020-05-20 16:09] govindat415 opened #5848 "aws-amplify not working in react-native 0.62.2"
A clear and concise description of what the bug is.

Error: Unable to resolve module `aws-amplify` from `index.js`: aws-amplify could not be found within the project or in these directories: node_modules

aws-amplify WAS installed with npm and the pods were installed.

**To Reproduce**

[code]

added UIAppFonts in application's info.plist. (THIS MIGHT BE PART OF THE ISSUE BUT RNAmpIntr WAS NOT IN

[2020-05-20 16:29] edreinoso commented on #5376
Any updates on the fix for this issue? I'm having the same trouble when trying to upload a file using Storage.put()

[2020-05-20 16:37] jordanranz commented on #5827
Can you provide a repo for us to reproduce this? Not able to reproduce this with any of our test applications.

This error looks similar: https://github.com/marcelklehr/toposort/issues/20

[2020-05-20 16:40] Amplifiyer commented on #5376
@edreinoso  are you facing this issue even with latest Amplify version? (Make sure to delete your lock files and node_modules )

[2020-05-20 16:51] edreinoso commented on #5376
@Amplifiyer thanks for the quick response.

I'm using this version of Amplify

├── aws-amplify@3.0.8
├── aws-amplify-vue@2.1.1

Based on the thread and your previous message, I'm assuming that I would have to update to a newer version.

[2020-05-20 17:24] jordanranz commented on #5827
Seems related to how RB4 uses HtmlWebpackPlugin.

You should be either able to add chunksSortMode like this: https://github.com/keystonejs/keystone/pull/1909

or update `html-webpack-plugin` to version 4+ per the CHANGELOG bug fix:
https://github.com/jantimon/html-webpack-plugin/blob/master/CHANGELOG.md#400-2020-03-23

[2020-05-20 17:24] #5827 closed

[2020-05-20 17:35] stephanrotolante commented on #5848
We had an issue with apmlify version on our RN project. Did you recently update amplify on your project?

[2020-05-20 18:16] govindat415 commented on #5848
I am creating a new project and installing amplify as the guides direct me to, so i believe it is using the latest ampify.

How did you end up solving the issue? (What combination of versions worked for your RN project)

[2020-05-20 18:17] edreinoso commented on #5376
Just tried updating to a newer version
aws-amplify@3.0.11

It worked when putting objects into a bucket.

Thanks @Amplifiyer

[2020-05-20 18:17] govindat415 commented on #5848
@stephanrotolante

I am creating a new project and installing amplify as the guides direct me to, so i believe it is using the latest ampify.

How did you end up solving the issue? (What combination of versions worked for your RN project)

[2020-05-20 18:20] stephanrotolante commented on #5848
It was peer dependency issue with aws-amplify and aws-amplify-react-native. Try downgrading the aws-amplify-react-native vserion

[2020-05-20 18:24] govindat415 commented on #5848
@stephanrotolante what version did you use?

[2020-05-20 18:25] govindat415 commented on #5848
@stephanrotolante for aws-amplify and aws-amplify-react-native

[2020-05-20 19:27] pixelsailor commented on #5814
Experiencing similar issues. I've tried every combination of api+auth that I can think of but get either "[WARN] 15:02.260 GraphQLAPI - ensure credentials error No Cognito Identity pool provided for unauthenticated access" which then results in a "No credentials" error OR I get an error of "undefined" when accessing my API with an authenticated Cognito user. These errors are despite that I have un

[2020-05-20 19:40] #4812 closed

[2020-05-20 20:20] santuvytla commented on #4473
Still same error!!! After refractoring also..plzz help

[2020-05-20 20:39] krimple commented on #4744
Note - we ended up switching to the new official library
[code]
We also decided NOT to use the Angular modules for now - just the core amplify Auth library and our own screens. No current problems with Angular 9 and this set above.  I was not aware of the new library until someone else mentioned it. But there is a migration guide here: https://docs.amplify.aws/ui/q/framework/angular (the old one w

[2020-05-20 20:53] dymyll opened #5851 "Forgot Username option? only seems to be Auth.forgotPassword"
**Is your feature request related to a problem? Please describe.**
I'm interested in helping the user resolve their forgotten credential sign-in issues. There doesn't seem to be a way to help the user if they forgot their USERNAME only password. This is a common issue and can be really useful.
**Describe the solution you'd like**
A feature to allow the user to enter their email in order to receive

[2020-05-20 21:01] manueliglesias commented on #5814
Hi @SebSchwartz , @pixelsailor

Could you first try removing your `node_modules` directory, your `yarn.lock` or `package-lock.json` and re-running `yarn install` or `npm install`?

[2020-05-20 21:11] bmilesp commented on #2104
Is there a way to maybe capture the errors via eventbus?

If so you could maybe use I18n.get() the incoming message to translate.

[2020-05-20 21:19] manueliglesias commented on #5789
Cool! happy to hear that it worked for you. I'll be closing the issue.

[2020-05-20 21:19] #5789 closed

[2020-05-20 21:22] #5687 closed

[2020-05-20 21:40] #5289 closed

[2020-05-20 22:13] matteofigus commented on #5825
That would be nice

[2020-05-20 22:22] jordanranz commented on #5825
@ccoffman-ebsco which version of `@aws-amplify/ui-react` are you using? Also note the import:
[code]
rather than:
[code]

Sorry, I could have posted a snippet for you. You can use a React Hook hook similar to the code snippet I posted like:
[code]

[2020-05-20 22:33] matteofigus commented on #5825
Thanks for your help @jordanranz your snippet worked fine for a very similar scenario I was trying to fix.

I have to say that we may want to improve the docs for the `handleAuthStateChange` because it's not very clear that you need to handle that! In my case, I had an `<AmplifySignIn>` working fine, and only today I realised that the app was broken when creating new users (because they need to re

[2020-05-20 22:54] ryanhinojosa commented on #5836
I'm getting this exact same error while moving from Amplify 2.x to 3. Any guidance here would be enormously helpful!

[2020-05-20 23:12] undefobj commented on #5119
@dazweeja DataStore architecture and motivation is here: https://docs.amplify.aws/lib/datastore/how-it-works/q/platform/js

As noted earlier we have outlined a design for filtering on the sync operations more dynamically which should account for your use cases, as well as more optimizations on the backend (independent of the client changes). You should be able to pass your filters in different lif

[2020-05-21 00:15] dazweeja commented on #5119
@undefobj that sounds amazing. By motivation, I meant the decision to create an eagerly-fetched datastore rather than a lazy-fetched cache and the practicalities of each approach for a non-trivial app.

I'm sorry for the noob question but I'm still unclear about sync filtering vs queries. Say I have a Twitter app with millions of tweets. First I want to see the the 50 most recent tweets, then the

[2020-05-21 03:19] EragonTheDark commented on #2719
This is a year later. Is there any answer to this?

[2020-05-21 03:32] kmbro commented on #5547
Any update on the AmplifyAuthenticator version of this? I am seeing this issue, and seems to be a very strange behavior.

v2, which I use in different projects does not render the app, but here I have the following:

[code]

Where `AuthenticationComponents` are my custom SignIn/SIgnUp components as a list. I can view everything below `<Provider>` if I am signed in or not.

Could you advise on how

[2020-05-21 05:14] ryanhinojosa commented on #5836
I was able to get past this error by:
- Removing all Amplify dependencies in package.json
- Deleting package.json
- Deleting node_modules
- npm install aws-amplify @aws-amplify/ui-react
- Going to this page ([](https://docs.amplify.aws/lib/auth/start/q/platform/js#configure-your-application)) and starting with the section "Re-use existing authentication resource" since I already had a Cognito back

[2020-05-21 05:25] apoorvmote commented on #4828
I guess TOTP is not priority for cognito. But same is applied if we change our phone number and no longer have access to old phone number.

[2020-05-21 06:11] nihp commented on #3484
Above solutions not worked for me

I am using aws-amplify and aws-amplify-react-native

[2020-05-21 07:00] rogerheykoop commented on #5846
I am experiencing exactly the same error. I have a project that has both API_KEY and AWS_COGNITO_USERPOOLS methods. Even when authenticated I am not able to update a record using cognito.

[2020-05-21 07:01] jaewwwon commented on #5814
I have a similar problem, but it's not a way to solve it this way.

[2020-05-21 07:19] michaelcuneo commented on #5827
@jordanranz thanks. Looks like chunksSortMode: none solved it for now. Works fine after that.

[2020-05-21 07:31] Lionel1232 commented on #610
So is the official response on this issue from Amazon that we need to implement a custom auth lambda trigger?

As @Albert-Gao has mentioned, this is just too much for such a simple requirement. It also looks like this ticket has been closed multiple times without resolution, which doesn't give me much hope that this will be addressed anytime soon.

[2020-05-21 08:05] aethernet commented on #3591
+1

[2020-05-21 08:21] kernowjoe commented on #3620
@jordanranz surely you could approve this pr https://github.com/aws-amplify/amplify-js/pull/4883 rather than leaving the code broken?

[2020-05-21 08:54] fboudra commented on #2540
based on my question https://github.com/aws-amplify/amplify-js/discussions/5824, I would rather see a clear message to deprecate AmplifyEventBus and better migration documentation for Vue framework users. Some examples with Vuex will be appreciated. At the moment, Vue is still a 2nd class citizen, even Hub documentation is toward React and Redux/Mobx. I suggest to split Hub state management to the

[2020-05-21 09:38] nihp commented on #1241
After changing to this import I can't able to upload image to s3. Failed to upload the image

I am using aws-amplify and aws-amplify-react-native latest versions
`
undefined is not an object (evaluating '_core.AWS.config')]`

[2020-05-21 10:30] MattM31 commented on #925
This is probably completely wrong but I've just done this and it seems to work. In Amplify.configure I've set it as 'storage: sessionStorage,' this makes it store it is localStorage and sessionStorage though. Then in my App function, I've added localStorage.clear(); this wipes local storage. It stays logged in when you refresh but logs the user out when you close the browser or tab. Is this a real

[2020-05-21 10:31] MattM31 commented on #2552
This is probably completely wrong but I've just done this and it seems to work. In Amplify.configure I've set it as 'storage: sessionStorage,' this makes it store it is localStorage and sessionStorage though. Then in my App function, I've added localStorage.clear(); this wipes local storage. It stays logged in when you refresh but logs the user out when you close the browser or tab. Is this a real

[2020-05-21 11:41] nihp commented on #5830
I found solution for this. In the latest amplify version they have removed aws-sdk and if we need we want to import it separately.

https://github.com/aws-amplify/amplify-js/blob/master/README.md

After adding it separately it works fine. I have added v2 aws-sdk
[code]

[2020-05-21 11:42] #5830 closed

[2020-05-21 12:09] dexster commented on #5696
The problem that was occurring was that when doing a federated signin in, it would update the CognitoIdentityId in localstorage with a new identity. This should not happen. If I then signed out I got the issue above.

I noticed I was missing "aws_cognito_identity_pool_id" in the amplify awsconfig. I have added this and it seems to be working now.

[2020-05-21 12:30] pixelsailor commented on #5814
Already tried when I initially reverted to an earlier version than back to 3.0.11

[2020-05-21 12:30] ivenxu commented on #390
Do you have any sample which gets cognito user information in lambda function implemented by [amplify function](https://docs.amplify.aws/cli/function)?

[2020-05-21 14:19] FilipPyrek commented on #5846
I have probably experienced similar issue. Can you please try importing `API` and `Auth` and using it somewhere (for example `console.log`)?

For example like this:

[code]

<hr/>

Because [`Amplify.configure`](https://github.com/aws-amplify/amplify-js/blob/master/packages/core/src/Amplify.ts#L46-L56) passes the configuration object only to "[registered](https://github.com/aws-amplify/amplify-js/b

[2020-05-21 14:52] FilipPyrek commented on #5846
But the issue I mentioned seems to be fixed by https://github.com/aws-amplify/amplify-js/pull/5681

[2020-05-21 14:58] ambriglia opened #5855 "AppSync error reporting issue"
**Describe the bug**
AWS AppSync does not report an error when request is incorrect.

**To Reproduce**
We are using the `@aws-amplify/api` npm package to make AppSync mutations. Accidentally, one of our mutation requests did not contain an ID.

**Expected behavior**
I expected the AppSync logging, within the appropriate CloudWatch LogGroup, to report some kind of error. However, after inspecting t

[2020-05-21 15:45] Mighty683 opened #5856 "Update providers list in cognito typescript definition"
**Is your feature request related to a problem? Please describe.**
Current definition of federated login providers:
[code]

**Describe the solution you'd like**
There is also option to federated login with apple id and it's under key: `SignInWithApple`.
It's not provided in typescript definitions
[code]

[2020-05-21 15:58] Mighty683 commented on #5856
https://github.com/Mighty683/amplify-js/pull/1

I created PR with fix

[2020-05-21 16:41] undefobj commented on #5050
Hello we have worked with the AppSync team and the limit has been doubled and fully deployed to all regions now. If you're still experiencing issues please do let us know.

[2020-05-21 16:41] #5050 closed

[2020-05-21 17:08] pixelsailor commented on #5814
I seem to have a working app again for my use case. I created a new test app using IAM for API auth and noticed the error handler was returning errors for null keys. Used a create migration to create an entry with the API to create the missing, autogenerated underscore fields and got back clean results with no errors. Then went back to my dynamodb tables for my original app and added those fields

[2020-05-21 17:13] amhinson commented on #5856
There is already a PR out for this. I've requested a small change, but it hasn't been implemented yet. Feel free to make the change yourself and submit a PR. Thanks!
https://github.com/aws-amplify/amplify-js/pull/5402

[2020-05-21 17:35] manueliglesias commented on #5813
Hi @nikhil-shrestha

Which versions of amplify are you using?

[2020-05-21 17:44] manueliglesias commented on #5836
Hi @hyprstack

I noticed you have this in your `package.json`:

[code]
I think you don't need both `aws-amplify-react` and `aws-amplify-react-native` in your project, typically you use one or the other depending on your platform. Also, can you try using the latest versions and make sure you remove your `node_modules` and lock files (`yarn.lock` and `package-lock.json`)?

Basically, @ryanhinojosa '

[2020-05-21 18:42] ericclemmons commented on #2014
@jayair @tommedema Can you share scenarios affected by clock skew?

We're now using https://github.com/aws/aws-sdk-js-v3, which automatically handles clock skew for several of our API calls: https://github.com/aws/aws-sdk-js-v3/pull/459

When reproducing https://github.com/aws-amplify/amplify-js/issues/2014#issuecomment-606802386 with `aws-amplify@latest`, `Storage.put` and `GraphQLAPI.graphql` bo

[2020-05-21 18:50] ericclemmons commented on #3719
With the latest release of Amplify, we leverage https://github.com/aws/aws-sdk-js-v3 which automatically accounts for clock drift by default: https://github.com/aws/aws-sdk-js-v3/pull/459

Can you share if you're still experiencing issues and, if so, steps to reproduce?

[2020-05-21 19:33] elorzafe commented on #5846
@TomBrouwer @FilipPyrek @rogerheykoop

`API.graphql` sends the access token for authorization. That token contains the  cognito groups where that user is member. In that scenario the user should be part of the group before signing in (for the jwt to contain that information). Amplify CLI provides mechanisms to automatically or programmatically add users to groups, for more info you can check [here

[2020-05-21 20:12] manueliglesias commented on #5407
Hi @sim1camporeale

Looks like you were able to find a solution to your problem. I am going to close this issue, please feel free to open a new one if new issues come up

[2020-05-21 20:12] #5407 closed

[2020-05-21 20:17] manueliglesias commented on #5814
Thanks @pixelsailor

Looks like two different issues got mixed in this one, correct me if I am wrong, but your issue is not related to the error message `AWSAppSyncRealTimeProvider - ensure credentials error`, but to the fields Sync-enabled (DataStore enabled) apis require (`_version`, `_deleted`, `_lastChangedAt`)

Thank you for the suggestion, we'll look into making mention of this in the docs

[2020-05-21 20:20] manueliglesias commented on #5814
@SebSchwartz

We've seen similar issues on v2 -> v3 upgrades, and sometimes it had to do with lockfiles. Can you remove your node_modules and lockfiles and try with the latest versions?

[2020-05-21 20:31] hak24 commented on #1852
+1

[2020-05-21 21:41] sim1camporeale commented on #5407
@manueliglesias issue isn’t solved. I had to downgrade both amplify and data store to be let things work. I’ll retry with latest cli and data store and I’ll let you know if issue persists

[2020-05-21 21:43] sim1camporeale commented on #5407
. I think that the issues are two:

* amplify-cli doesn't allow to use keyName but it is supported
* amplify codegen model doesn't create correct model if we use @connection without keyName

[2020-05-21 22:00] undefobj commented on #5407
@sim1camporeale can you download the latest CLI and walk through the docs for relational modeling with DataStore? We released an updated CLI relaxing the keyName restriction and updated docs a week ago.

[2020-05-21 22:19] brandold opened #5858 "InvalidSignatureException received when using multiple API endpoints with mixed service types"
**Describe the bug**

I have 3 API endpoints declared in my awsconfig. 2 of them are API Gateway REST APIs with the service parameter defined as 'execute-api'. The remaining endpoint is an Elasticsearch REST API with the service parameter defined as 'es'.

The behavior I'm seeing is that there seems to be a top level service value in the API client object that is overriding the service value defin

[2020-05-21 22:21] sammartinez opened #5859 "Support for Infer within the Predictions"
**Is your feature request related to a problem? Please describe.**
We currently don't have support for Predictions.Infer within the JS repo.

**Additional context**
* https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_runtime_InvokeEndpoint.html

[2020-05-21 22:43] manueliglesias commented on #5858
Hi @brandold

Thank you for the report, I've identified the root cause, the RestClient is storing the service name and the region in instance variables:

https://github.com/aws-amplify/amplify-js/blob/3b2ec1b5704dde718649991aec42ffa25efe27cd/packages/api-rest/src/RestClient.ts#L302-L306

And later reading them:

https://github.com/aws-amplify/amplify-js/blob/3b2ec1b5704dde718649991aec42ffa25efe27c

[2020-05-21 23:17] mdegrees commented on #4535
Fixed the issue with:
. Amplify update API
. Enable Datastore for the whole API

[2020-05-21 23:46] houmark commented on #4459
It's really starting to become a problem for us, that we cannot in any way check the current connection status and reconnect in any reliable way.

The simplest use case is a browser tab staying open while the user putting her computer to sleep, then resumes work without refreshing the UI/tab. The UI will stop providing realtime updates, and there's no way we have found, where we can even request a

[2020-05-22 00:06] qtagtech commented on #5836
I found out that by mistake I had both @aws-amplify/core@3.2.7(latest) and aws-amplify@3.0.10 (one before the latest). I updated to just have aws-amplify 3.0.11 and it worked again. I say again because before in a different branch the project was with @aws-amplify/core@^3.2.7 and aws-amplify@^3.0.10. Probably it was installing both the latest versions and not having the conflict? It might just giv

[2020-05-22 00:13] brandold commented on #5858
Hi @manueliglesias, thanks for the quick reply and confirmation of the bug! I'll keep an eye out for a bugfix.

[2020-05-22 00:19] manueliglesias commented on #5855
Hi @ambriglia

Depending on how your AppSync api was provisioned, you could have a request mapping template that is auto generating a uuid for you if one is not present in the input arguments.

But, if `@aws-amplify/api` is reporting an error but got a 200 response back, this means that it got back a GraphQL error (not a general http error) with potentially partial data (see e.g. https://spec.grap

[2020-05-22 00:27] djerraballi opened #5860 "FederatedSignIn custom provider & custom state"
**Describe the bug**
If a custom provider and a custom state are used in conjunction, amplify incorrectly removes the custom provider and sets the provider to 'COGNITO' in the federated sign in flow.

https://github.com/aws-amplify/amplify-js/blob/b4b40aa62644ea3688068e4e64f4573c568677a0/packages/auth/src/Auth.ts#L1733-L1736

**To Reproduce**
Use a custom provider and a custom state together, see

[2020-05-22 00:28] djerraballi commented on #5860
My work around is in the cases where i need to use customProvider and customState, i change the input param of customProvider to provider.

if customState is however present, i need to change customProvider back to provider.

workaround does work, but seems unintentional?

[2020-05-22 01:32] ykbryan commented on #4535
Do you have a link to your repo/source code that does this?

[2020-05-22 02:53] khalilchris opened #5862 "How to create user in Local database after cognito Sign up"
Is There a way to get user ID and attributes upon cognito sign up so I can create the user profile in my local database before the user attempt to sign in ?

[2020-05-22 03:43] nikhil-shrestha commented on #5813
@manueliglesias i'm using amplify 3.0.8

[2020-05-22 04:05] beevekmgr commented on #612
Can some one help me with these.. I have been stuck in this work around .....

[2020-05-22 05:04] yansokalau commented on #2014
@jayair @tommedema @ericclemmons hi guys, just wanted to share how I've dealt with the issue with the help of https://github.com/aws-amplify/amplify-js/pull/4844

1. Updated Amplify till 2.2.7
2. Apply correctClockSkew after configure: `Amplify.configure(environment.amplify);
AWS.config.correctClockSkew = true;`
3. Before app initialization executing the `currentUserCredentials().then((cred) => {

[2020-05-22 05:26] GeorgeBellTMH commented on #518
https://github.com/aws-amplify/amplify-js/issues/960

This is now possible - just use {acl:"public-read"} - change your parameters.json file to include s3:PutObjectAcl on the appropriate permissions, and in s3-cloudformation-template.json as necessary...then when you do Storage.get you can just remove everything after the ? and the url should work...

[2020-05-22 05:28] GeorgeBellTMH commented on #960
I believe you will still need to add s3:PutObjectAcl permissions through the parameters.json and s3-cloudformation-template.json...would be nice if this was done automatically, or was configurable from amplify storage add/update

[2020-05-22 05:41] wongcyrus commented on #5472
I upgraded the dependencies to
"dependencies": {
    "@aws-amplify/api": "^3.1.10",
    "@testing-library/jest-dom": "^5.8.0",
    "@testing-library/react": "^10.0.4",
    "@testing-library/user-event": "^10.3.4",
    "aws-amplify": "^3.0.11",
    "aws-amplify-react": "^4.1.10",
    "aws-sdk": "^2.682.0",
    "es6-promise": "^4.2.8",
    "face-api.js": "^0.22.2",
    "isomorphic-fetch": "^2.2.1",

[2020-05-22 05:43] wadahiro commented on #5026
@apoorvmote The generated code with boilerplates has the problem. Please refer to the following issues:

* https://github.com/aws-amplify/amplify-js/issues/4805
* https://github.com/aws-amplify/amplify-cli/issues/3212

[2020-05-22 06:24] #4819 closed

[2020-05-22 06:24] #4748 closed

[2020-05-22 06:24] #4765 closed

[2020-05-22 06:43] AdamiHamza commented on #987
Zombie Team,

Here is a simple solution to this issue, introduce `UpdateAfterVerification` parameter to `update_user_attributes(...)` with `"False"` as default value for backward compatibility.

And when set to `"True"` you should just send the email with verification code. and during `verify_user_attribute(...)` you can update the attribute if verification succeeded.

[code]

[2020-05-22 06:58] alexandrzavalii commented on #2777
@timello when you run `amplify update auth` one of the options is custom email link.

[2020-05-22 08:30] TomBrouwer commented on #5846
All thanks for your comments.

@elorzafe
About the ID token, I know, it is the most common search result for problems with auth. I tried that but it didn't change anything.

Because I really wanted to continue with the project, I did the following:
I removed everything and started a new Amplify project. As standard method Cognito. As additional IAM.

It is working fine now. I am new in Amplify JS/

[2020-05-22 09:06] sw-yx commented on #4765
im pretty sure its not svelte related, but dont have time to repro right now. will redo in react to see if can repro.

[2020-05-22 09:31] bkniffler opened #5863 "Use existing cognito userPool with amplify graphql / datastore"
**Is your feature request related to a problem? Please describe.**
Currently it seems impossible to use an existing userPool (deployed via cdk) with an amplify graphql API, at least there is no option with the CLI.

**Describe the solution you'd like**
Introduce the ability to add an existing userPoolId/clientId/etc with the CLI.

[2020-05-22 09:40] bkniffler opened #5864 "DataStore nodeJS"
**Is your feature request related to a problem? Please describe.**
I know that amplify is supposed to be used on frontend and that there is limited sense of using the offline-first datastore from backend systems. But the type-safe interface would make working with the databases really neat from within my lambda functions. Would love to have a way to disable caching and use `DataStore.save`/`DataSt

[2020-05-22 09:41] ikakara opened #5865 "Expo-Amplify project: aws-amplify-react-native broken using latest react-native-web 0.12.x"
When using react-native-web 0.12.x (expo) with aws-amplify-react-native, the following error occurs:
Module not found: Can't resolve 'react-native-web/dist/exports/ViewPropTypes'

See reason: https://github.com/necolas/react-native-web/releases/tag/0.12.0
Short answer: 0.12.x removed use of the prop types exports which have been deprecated in React Native.

Please update aws-amplify-react-native b

[2020-05-22 10:55] jgcoding commented on #4015
Ditto here. I convinced my product owner to allow me to migrate their auth from Auth0 to Cognito. I have lost a day scouring for a solution. I started with what should be the easiest and most seamless transition, migrating the Auth0 machine-to-machine solution.

Auth0 not only returns all 3 token types, it provides easy to implement "Rules" and "Hooks" to enrich tokens as fully as one dares.

Do a

[2020-05-22 11:21] apoorvmote commented on #5026
@wadahiro I though I was the only one which issue. Thank you for letting me know that this issue is faced by others and its on track to being fixed in the future.

[2020-05-22 12:08] ambriglia commented on #5855
@manueliglesias Here is the error... `failed to save animal: {"data":null,"errors":[{"path":null,"locations":[{"line":1,"column":24,"sourceName":null}],"message":"Variable 'input' has coerced Null value for NonNull type 'ID!'"}]}
 `

That first link you provided above seems like it might be what we are experiencing.

The odd thing is that in the cloudwatch logs, appsync does not log out the actual

[2020-05-22 14:11] ajenkins-cargometrics commented on #4015
@jgcoding Cognito only lets you modify identity tokens in triggers, not access tokens.  If you really need to enrich access tokens in a trigger you should probably stick with Auth0.  That said, for machine-to-machine authentication I'm not sure why modifying the access token in a trigger would be necessary.  Usually when I've seen this need come up it's with user authentication, when you might wan

[2020-05-22 15:39] SebSchwartz commented on #5814
@manueliglesias It's ok with the delete of node_modules and lockfiles ;)

Thanks for help

[2020-05-22 15:39] #5814 closed

[2020-05-22 15:43] webdevog commented on #2714
+1

[2020-05-22 15:46] hyprstack commented on #5836
@manueliglesias I had deleted my node modules and lock file as describe above.
@qtagtech thanks I will give this a try and let you know.

thanks

[2020-05-22 15:54] lenarmazitov opened #5866 "DataStore auth delay."
**Describe the bug**
Hello. I have bug with DataStore.query in the next moment after user have authorized.
When I try to query through DataStore in the next moment after user have authorized then I get undefined, but if I wait a few seconds after auth then I successfully get data.

**To Reproduce**
Requirements: Amplify Auth, Graphql Schema with @auth directive, Data Store.
1. Perform authorizatio

[2020-05-22 16:50] ericclemmons commented on #5864
Thanks for bringing this up @bkniffler. I totally agree.

I've added this request to our SSR milestone (https://github.com/aws-amplify/amplify-js/milestone/26), since support in Node is solved as part of that initiative.

You can subscribe to this umbrella issue (https://github.com/aws-amplify/amplify-js/issues/5435) as well.

[2020-05-22 18:01] sorodrigo commented on #5359
`yarn add @redux-offline/redux-offline@expo`

![expo](https://media.giphy.com/media/15BuyagtKucHm/giphy.gif)

[2020-05-22 18:10] dysan1257 opened #5868 "Error when providing _version attribute on updates when key attribute is defined in schema"
On a table that's backed by a versioned DynamoDB table (to be used with datastore) when we run GraphQL mutations via the appsync console we can't seem to make any updates.
* If we supply the _version attribute we get a "Updating _version field can not be set from the client" error.
* If we run a mutation without providing the _version attribute the _version attribute on the record increments but n

[2020-05-22 19:18] elorzafe commented on #5846
@TomBrouwer what I would do on the case you mention on the description of the issue is adding a  user to a group as is mention on the [add user to a group docs](https://docs.amplify.aws/cli/usage/lambda-triggers#add-user-to-group). That will allow you to use the API with Cognito Authorization for signed in users.

In case you want to enable unauthenticated access to the API you will need to use IA

[2020-05-22 20:33] sammartinez commented on #5865
Thank you for your feedback @ikakara. I am marking this as a feature request as we don't have a use case around react-native-web and the above ask on removing ViewPropTypes. We will evaluate this further internally. Thank you

[2020-05-22 21:04] shubham234 commented on #5393
I recently upgraded to @aws-amplify/storage@3.1.9 from @aws-amplify@2.1.0. I was downloading a JSON file with download: true in the request and was able to parse the response as JSON.parse(result.Body) but now I see return type of JSON file set as Blob. How can I convert that Blob to JSON? I'm on react-native.

[2020-05-22 21:43] ikakara commented on #5865
Sure.   Keep in mind that react-native-web is the underling mechanism of the Expo (React Native) framework for cross platform support across iOS, Android and Web.  And Expo is used a lot ,,, imho.

[2020-05-22 22:07] amhinson commented on #5865
@ikakara What version of `aws-amplify-react-native` are you using? I don't see any use of `propTypes` in the Amplify code currently. Could you also post more of the error you're seeing? Perhaps this error is coming from another library.

[2020-05-22 22:09] manueliglesias commented on #5866
Hi @lenarmazitov

This will be addressed soon when DataStore notifies of its sync status. I'll be closing this issue in favor of https://github.com/aws-amplify/amplify-js/issues/4808, you can follow progress there

[2020-05-22 22:09] #5866 closed

[2020-05-22 22:14] manueliglesias commented on #5860
Hi @djerraballi

This is a bug, I am labeling the issue as such, thanks for the report!

And also a big thank you for sharing a workaround for other people that might encounter it.

[2020-05-22 22:14] mauerbac commented on #5359
haha, thanks for the PR @sorodrigo . @Ashish-Nanda are you able to take a look?

[2020-05-22 22:26] Ashish-Nanda commented on #5865
@ikakara looking at your example repo, the issue seems related to react-native-elements, which we depend on. You can create an issue on their library repo.
Also we plan to remove this in the near future.

[2020-05-22 22:27] ikakara commented on #5865
I put (most) everything in the sample code: https://github.com/ikakara/expo-amplify-bug

Using "aws-amplify-react-native": "^4.1.2"

The complete error:
Failed to compile D:/dev0/amplify-experiment/expo-amplify/node_modules/react-native-elements/src/config/ViewPropTypes.js Module not found: Can't resolve 'react-native-web/dist/exports/ViewPropTypes' in 'D:\dev0\amplify-experiment\expo-amplify\node

[2020-05-22 22:28] bkniffler commented on #5864
Thanks for linking that issue. Funny thing that solving SSR might bring this feature as a side effect :)

I've subscribed and will close for now, may very well work if SSR works.

[2020-05-22 22:28] #5864 closed

[2020-05-22 22:43] ikakara commented on #5865
Github is having some issues.  Anyway, I filed a bug with the react-native-elements repo: https://github.com/react-native-elements/react-native-elements/issues/2368

[2020-05-22 22:48] 24jr commented on #2605
Everything was working fine for me in vue js and then I had to install react native stuff for work and also updated my aws stuff and went back to create a vue project and got the Network Error issue for GraphQL. So Idk if it was something with that react native stuff I installed cause I see other people mention react-native or an aws amplify update or what

[2020-05-22 23:06] lucasMobee commented on #5825
Just ran into exactly this, thanks for posting!

[2020-05-23 01:23] #4374 closed

[2020-05-23 01:47] danrivett commented on #5729
@akshbhu could we get an update on this, as I spent a lot of time identifying at least one if not 2 bugs about 10 days ago and written up above, and I would really appreciate if yourself or someone on your team could at least validate the first bug I mentioned (that if a user happens to be a member of a Cognito Group then even if Group permissions aren't configured for Storage access it still fail

[2020-05-23 01:49] julioxavierr commented on #5775
@secretshardul did you figure out how to fix this?

[2020-05-23 01:51] danrivett commented on #5729
PS - I didn't attempt what you suggested since the first bug scenario I mentioned does not use Groups to configure permissions for Storage, and in the second bug I mentioned after that, I expect that Group permissions would work similarly to API group permissions where owner permissions would still be available even if the user is not part of a group with additional permissions, or those additiona

[2020-05-23 03:05] jeyashankher opened #5871 "usernameAttributes not read in correctly in withAuthenticator Hook"
**Describe the bug**
While trying to implement custom SignIn UI using withAuthenticator HOC with email as username, the module still expects username instead of email.

**To Reproduce**
See Code samples below

**Expected behavior**
Sign In should go through with email and password. Instead, an error is shown that username is missing.

**Code Snippet**

[code]

**Screenshots**

**What is Configured

[2020-05-23 03:26] jeyashankher commented on #5871
I understand that a workaround exists. So, not a critical issue.

[code]

[2020-05-23 04:44] sergiorodriguez82 opened #5873 "Problems uploading Video to s3 in angular app using Storage Library"
**Describe the bug**
Im trying to upload a video (7MB) in angular app. The following errors show in console.

ConsoleLogger.js:107 [ERROR] 34:31.861 AWSS3ProviderManagedUpload - error happened while uploading a part. Cancelling the multipart upload RangeError: Offset is outside the bounds of the DataView
    at DataView.setUint8 (<anonymous>)
    at Object.fromBase64 (index.js:64)
    at stream-co

[2020-05-23 06:27] secretshardul commented on #5775
@julioxavierr you can use [slots to customize your UI](https://docs.amplify.aws/ui/auth/authenticator/q/framework/react#slots).
[code]
 This way can add styling to the entire signin/signup page without affecting your main app.

[2020-05-23 11:17] nubpro commented on #5764
May I know whats the `fullSyncInterval` for?

[2020-05-23 13:26] twkiiim commented on #5873
+1
I've just encountered this same problem using "aws-amplify": "^3.0.12"

[2020-05-23 13:27] thekrol01 opened #5874 "Native ios crash when uploading blob with aws amplify"
**Describe the bug**
This is already a known bug at React native
https://github.com/facebook/react-native/issues/27857

The bug only happens on IOS not on Android.
For me the crash appeared on IOS after an upgrade from React Native 0.61.4 to 0.61.5.

Because the bug is not fixed yet, Perhaps there is a workaround possible?

**To Reproduce**
Steps to reproduce the behavior:
1. Upload a blob with th

[2020-05-23 14:17] shubham234 commented on #5393
Parsed the blob response using `const text = await (new Response(blob)).text();` as per https://developer.mozilla.org/en-US/docs/Web/API/Blob.

[2020-05-23 14:25] twkiiim commented on #5873
I've tested with the following versions:
- "aws-amplify": "^3.0.11"
- "aws-amplify": "^3.0.10"
- "aws-amplify": "^3.0.9"

and neither of them worked at all.
@sergiorodriguez82 said uploads of png images work, but I haven't had no luck.

This is definitely a super blocker for considering Amplify Storage.
Please get this issue prioritized.

[2020-05-23 15:08] neilime opened #5875 "Unable to filter query on 0 to Many self referencing field"
**Describe the bug**

I have declared a GraphQL model "SampleGroup"  that is a multi level group organization (A SampleGroup can have 0 to many SampleGroup as children)

I can query SampleGroups having a given parent ID but **I cannot query SampleGroups having no parent ID.**

I don't if I'm doing something wrong but I have read many docs and examples I've found, without success.

----

**Context*

[2020-05-23 15:15] thomasklein-winemaker commented on #4315
so my solution for this issue is:

Still didn't fix the error display for me (the actual authentication process works). I'm including only the `aws-exports` file following the instructions on [`Multiple frontends`](https://docs.amplify.aws/cli/teams/multi-frontend).

[2020-05-23 17:21] elchinillo commented on #5320
Any update on this issue? Same behavior over here:

Amplify CLI: 4.20.0
aws-amplify@3.0.12

[2020-05-23 18:57] ccoffman-ebsco commented on #5825
@jordanranz Thank you for the code snippet it did help! But, I am getting this erorr:
![image](https://user-images.githubusercontent.com/46684526/82738385-c213f180-9cfc-11ea-9623-70d1b8dd06e4.png)

These are from my package json:

Do you know what this might be?

[2020-05-23 19:41] ccoffman-ebsco commented on #5825
Nevermind, I added this to my dependencies and was able to make it work!

Thanks for all of your help!

[2020-05-23 19:41] #5825 closed

[2020-05-23 20:05] amirfarrahi commented on #5873
same here. I did not have this issue but in the new version I am getting
01:05.773 AWSS3Provider - error uploading RangeError: Offset is outside the bounds of the DataView
    at DataView.setUint8 (<anonymous>)
    at Object.fromBase64 (index.ts:75)
    at stream-collector.ts:17
    at step (tslib.es6.js:100)
    at Object.next (tslib.es6.js:81)
    at fulfilled (tslib.es6.js:71)

here is my code.

[2020-05-23 20:09] amirfarrahi opened #5876 "can not upload file to s3 with storage in react"
**Describe the bug**
01:05.773 AWSS3Provider - error uploading RangeError: Offset is outside the bounds of the DataView
    at DataView.setUint8 (<anonymous>)
    at Object.fromBase64 (index.ts:75)
    at stream-collector.ts:17
    at step (tslib.es6.js:100)
    at Object.next (tslib.es6.js:81)
    at fulfilled (tslib.es6.js:71)
**To Reproduce**
Steps to reproduce the behavior:

try to use storage

[2020-05-23 21:39] dexster commented on #5696
Re-opened. Issue still occurs.

Steps to reproduce as follows:
**AWS setup**

Create an OpenId provider in a cognito userpool. Custom, not Google or other social.
Create an app client using the implicit flow.
Create an Identity Pool with unauth and auth roles pointing to the userpool and provider created above.

**Frontend setup**
Default Angular CLI site.

amplify config:
[code]
[code]
and some h

[2020-05-24 00:29] Dawidpol commented on #5458
For me I also had to do the register of the services i use:
[code]

[2020-05-24 00:42] carlhaynes commented on #5876
Can confirm, updated to latest amplify yesterday and can no longer upload files in react. All was working fine before the update.

Am just uploading an image to a s3 bucket and get the same error

[2020-05-24 01:01] carlhaynes commented on #5873
Having the same issue after updating amplify to latest yesterday (was previously on a 1.x release!)

[2020-05-24 01:34] danaugrs commented on #4117
Also very interested in this.

[2020-05-24 04:36] mararrdeveloper commented on #4015
I will reply to that.
In my use case, I need to encode the aws gateway api key into the M2M access token.
The idea is that each (third party) application has specific grants to access resources and that's obtained through the custom scopes. However, each application has also a quota limit that is tracked with the gateway api key.
Without trigger on access token creation I am not able to include th

[2020-05-24 07:05] arckdash commented on #4704
I recently ran into the same issue, but I managed to solve it by simply going to the AWS amplify console, clicking on my application's name, going to Backend Environment tab, when expanding the label: **Edit Backend** you get a command like

`$ amplify pull --appId XXXXXXX --envName XXXX`

Note this command must be run in a project that hasn't been initialised with amplify yet, if already did so a

[2020-05-24 10:17] amuresia commented on #2777
I have got as far as creating the custom resource to send out the link. I receive the email and the link looks of (as far as I can tell) but when I click on it nothing happens.
![image](https://user-images.githubusercontent.com/16068752/82751562-5beca480-9db8-11ea-9434-6c8c4338acf6.png)
The spinner never stops and the user remains `UNCONFIRMED` in the Cognito user pool

[2020-05-24 10:36] dogsonacid opened #5879 "Communication error while executing a request to Elasticsearch."
**Describe the bug**
We are getting intermittent errors from elasticsearch - query works most of the time and sometimes it returns:

[code]

I'm confident this is not a code or config issue as it is intermittent. Mostly the query works fine. Probably 1 out of 10 times it fails.

It seems it has started happening to us and others since the

[code]

This may or may not be the wrong place to post thi

[2020-05-24 15:18] richardtks opened #5881 "Pubsub subscribe return error on low end device model"
**Describe the bug**
- Error occurred when trying to use PubSub on the low-end mobile device. For etc, Vivo phone
- It is working well on Samsung phone and iPhone but somehow it does not work on Vivo phone.

**To Reproduce**
Steps to reproduce the behavior:

1. Enter your email and password to login.
2. Click `Login` -> `Initialize pubsub` -> `Subscribe` -> `Publish`
3. Notice that following error

[2020-05-24 15:40] HamzaLJ commented on #4911
Same issue, any solutions?

[2020-05-24 16:04] juuyan commented on #5873
same here. Update the package to get rid of #5376 and now facing with this new issue....... : (

[2020-05-24 17:44] 24jr commented on #5876
Ahh thought I was going crazy. Yeah same for me. I'm using vue but same thing. Glad to know it is prob just amplify update and will be fixed hopefully pretty quickly

[2020-05-24 17:51] scfox commented on #4751
+1 for at least making this consistent.  Wasted many hours diagnosing why same exact user query in would work in app sync console but fail in actual client.  The reason is console uses id token and Amplify client uses access token, which does NOT include custom attributes like the id token does.  Above fix resolved for me, but feels like a hack.  If it is supposed to be access token for better sec

[2020-05-24 18:13] mariomerlano commented on #5873
Still having the same error in react.
- "aws-amplify": "^3.0.12"

Please get this issue prioritized.

[2020-05-24 18:14] mariomerlano commented on #5376
Still having the same error in react.

- "aws-amplify": "^3.0.12"

Please get this issue prioritized.

[2020-05-24 18:26] titiloxx commented on #5873
I am having the same issue with version ^3.0.12.
Would be awesome if anyone have a solution for this

[2020-05-24 20:32] ARChatco opened #5884 "When using social federation login (Custom UI) calling the social federations with Expo"
**Describe the bug**
It is always going ahead with the user you introduced.
I signOut with global true, but always getting the user I introduced at first time, never can introduce again a different user

[2020-05-24 20:59] francoisauger commented on #5687
I had the same problem, this solves it 👍

[2020-05-25 00:01] joebernard opened #5885 "Federated Facebook login does not call Cognito Lambda triggers"
**Describe the bug**
When logging in with Facebook federated logins, Cognito Lambda triggers are not called depending on the state of the user.

**To Reproduce**
Steps to reproduce the behavior:

I start with a fresh Cognito with no users. I have a Pre Sign-up trigger and a Post Authentication trigger. When using a custom auth flow, both of these triggers are called properly. However when using a

[2020-05-25 03:00] akshbhu commented on #5729
Hi @danrivett

Thank you for your  patience and apologies for the delay. We are on top of this and will circle back to you with updates.

[2020-05-25 03:47] #4269 closed

[2020-05-25 05:08] Amplifiyer commented on #5876
Can someone confirm that they seeing this issue only in Chrome but works fine in firefox and edge/IE? The issue seems to be how browsers implement `FileReader.readAsDataURL()`. On firefox, for an empty blob (case for a successful S3 PUT request) I'm seeing `FileReader.readAsDataURL()` returns `data:application/octet-stream;base64,` while on chrome it returns `data:`. This causes issues with parsin

[2020-05-25 09:29] masbaehr commented on #5873
Same. To be honest a lot of problems with amplify recently :/ To be honest the whole amplify lib should be marked as alpha or beta, as it is no where near production ready state. I'm considering to just use the aws sdk and move away from amplify. Especially moving to the internal use of sdk v3 which is BETA was a bad choice imho. ( See:  https://github.com/aws/aws-sdk-js-v3 )

[2020-05-25 09:32] nihp opened #5888 "Clarification about the MFA code in Auth.signUp"
Can anyone clarify these? It could be great helpful for me. Thanks in advance.

My questions are related to MFA.

1. I have set the MFA settings as optional. Here some users received code while signUp and some users not received code while signUp.
(Note: If I set the optional does it behaves like this as [1] point. Any documentation for this) (I have enabled MFA manually for those users who not re

[2020-05-25 09:40] HySoaKa commented on #5876
I confirm ! It works fine in firefox.

[2020-05-25 09:41] HySoaKa commented on #5873
I have the same issues in chrome. But it works fine in Firefox.

[2020-05-25 09:58] masbaehr commented on #5873
I don't understand why rolling back to 3.0.11 still keeps the bugged aws-sdk gamma version in the node_repo even if i delete the node_modules and reinstall :/

[2020-05-25 10:02] juuyan commented on #5873
@masbaehr Facing with the same issue... I ve tried to roll back to 3.0.8, which I believe I made the update from... Yet the issue is kept....... Wondering why and whether I have missed something..

[2020-05-25 10:03] masbaehr commented on #5873
It was still working in 3.0.11 for sure, so no need to go back that far. But the strange thing is @aws-sdk in node_modules should be 1.0.0.beta5 and not 1.0.0.gamma.1

[2020-05-25 10:21] masbaehr commented on #5873
As a quick and dirty solution i found that manually editing package-lock.json with the old versions of the aws-sdk will work (if you had a git repo it should be easy to rollback:

![image](https://user-images.githubusercontent.com/38694044/82804266-42179400-9e82-11ea-8e2b-d81d80a2a9a9.png)

[2020-05-25 10:33] HySoaKa commented on #5873
@masbaehr A quicker solution maybe to just rollback fetch-http-handler to 1.0.0-beta.2

[2020-05-25 12:27] balajee commented on #5873
i suspect this could be related to recent upgrade of aws-sdk as well.

[2020-05-25 12:32] masbaehr commented on #5873
Yes as i said it is related. Rolling back to beta5 instead of gamma1 will solve the issue. I think Amplify should decide to test the aws-sdk more often and have some unit testing before just updating blindly :P Also as i said before - the inclusion of a beta dependency is not a good choice. I think they should have sticked with stable v2 or at least make amplify v3 beta , and continue to maintain

[2020-05-25 12:58] leokishan commented on #2480
I have Auth.configure in App.js file.

Login from root path and after login i am redirecting to another page but i cannot get Auth.user in another page.

[2020-05-25 14:07] mtakac commented on #4808
Would be especially great to be able to know if the initial sync finished.

[2020-05-25 14:12] kannieWeesNie opened #5889 "api.put() overwrites item and does not update single attribute"
using amplify rest api
trying to update an existing item attribute
partition key is "phone", using following code as per documentation:

`const apiName = "myrestapi";
      const path = "/items";
      const myInit = {
         body: {
          phone: 3,
          email: "hello@here.com"//only want to update email and not overwrite all attributes
        }
      };

      return await API.put(api

[2020-05-25 14:18] pbasista commented on #1171
Yes, the behavior when no `Hub` event is emitted on "auth" channel when the user details are already available in the local cache (either local storage or cookies) and the page is reloaded is still present with `@aws-amplify/auth@3.2.8`.

[2020-05-25 14:25] PeterBurner commented on #5784
works
thanks

[2020-05-25 14:25] #5784 closed

[2020-05-25 14:38] ToddHoff commented on #1557
Ironically on a new project I found myself right back here with the same error. This time the error was generated when logging in for a user that doesn't exist. The other problem was a while ago. I think i got rid of it by using self as in:

async login(email, password) {

      this.authenticate_data = {
         Username : email,
         Password : password
      };

      this.authentication_d

[2020-05-25 17:06] amirfarrahi commented on #5876
same issue in firefox

[2020-05-25 17:10] amirfarrahi commented on #5873
not sure why they push these updates. I am reconsidering amplify as this is not acceptable

[2020-05-25 17:21] danrivett commented on #4808
Yeah I definitely think it's important to be able to inform the user if data is still loading etc and the results are incomplete or not yet available.

@manueliglesias  I would love to hear if this is still on the immediate roadmap as I see there are _a lot_ of competing demands at the moment for the DataStore team, so it would be good to have realistic expectations here.

[2020-05-25 17:24] JLWalsh commented on #3141
I'm leaving this comment for people who absolutely need to support IE10 like me. The sign in fails because the second request Amplify sends (`RespondToAuthChallenge`) doesn't work as it should. I think that the problem is crypto-related, as said by @logabstract. So my workaround is fairly simple: instead of using the `USER_SRP_AUTH`, I used the `USER_PASSWORD_AUTH`, which doesn't involve the `Resp

[2020-05-25 17:29] undefobj commented on #4808
We're very close to releasing this, possibly in the next week or so.

[2020-05-25 17:32] Ricool06 opened #5893 "undefined error when trying to send mutation to graphql API"
**Describe the bug**
When trying to call `API.graphql(...)` with a mutation query, an undefined error is thrown.
The error itself appears to originate from a `parseUrl` function inside of the amplify library here: https://github.com/aws-amplify/amplify-js/blob/b4b40aa62644ea3688068e4e64f4573c568677a0/packages/analytics/src/vendor/dom-utils/parse-url.ts.
The API client does not even make a request

[2020-05-25 17:32] danrivett commented on #4808
That is awesome. Thanks for the update @undefobj.

[2020-05-25 18:18] balajee commented on #5873
@masbaehr could you please explain more about package-lock.json override... because when i change and re-run it will override... so not sure what you are referring to package-lock.json fix... it will be very very helpful for everyone if you explain more until AWS fix it.

[2020-05-25 18:34] rahul-nath commented on #192
I'm having an issue with this. I am autoconfirming my user on sign up and immediately logging them in, with auto verification and MFA enabled. I save the user returned from the sign up in localstorage in case of page refresh and then retrieving it and passing it, along with the user provided code, to auth.confirmSignIn. Anyone find a solution for this one?

[2020-05-25 18:58] masbaehr commented on #5873
first make sure in package.json you have   "aws-amplify": "^3.0.11",
then make sure your package-lock.json file does NOT contain any entry with "1.0.0-gamma" if it does replace it with the previous version. If you did not commit your lock file it means manual work because not every previous version has the same beta tag number.

It may also work if you delete the package-lock.json file and node_mo

[2020-05-25 19:25] kevin-mitchell commented on #4459
Also interested in tracking this!

[2020-05-25 20:00] rahul-nath commented on #192
my issue turned out to be that saving the session user in local storage does not work unless you stringify the json and unstringify it when you fetch it (I think). I kept seeing [Object object] stored as the value in application storage when I tried to cache the session User.

[2020-05-25 20:10] aleckzts commented on #5433
I am still getting the error "Updating _version field can not be set from the client."
versions:
[code]

Query, create and delete are ok, update gives the error "BadRequest", with that message.

the code:

[code]

[2020-05-25 20:42] undefobj commented on #5433
Can you try deleting the records from your DynamoDB tables using the console? Alternatively, try clearing your local IndexedDB store using the browser dev tools to force a full sync. It sounds like you might have gotten something out of sync between client and backend.

[2020-05-25 21:21] 24jr commented on #5873
I on the other hand am thankful aws amplify exists and realize that with new technology will come issues and I'd rather they continue to improve rather than stay stagnant. I mean they can't know every detail I'm sure they tried to test everything. I'll take the occasional error in exchange for the ease of use and great features they continue to provide

[2020-05-25 21:23] aleckzts commented on #5433
Started with a empty table and removed IndexedDB from Chrome.
Create data, Ok. Update the data, same error.

Screenshot
![error](https://user-images.githubusercontent.com/63109594/82843797-b408d100-9eb4-11ea-9dc5-97d5e713a51b.png)

[2020-05-25 21:27] 24jr opened #5894 "Vue authentication module show loading during pre signup lambda"
When using the vue aws amplify authentication module I have a post sign up lambda function that adds a user to an "everyone" group. The thing is after the verification code is sent the screen just sits there for like 10 seconds with no indication of anything and the button is still enabled to keep clicking "confirm" so its pretty confusing.

Ideally it doesn't take 10 seconds or so to add the user

[2020-05-25 21:58] undefobj commented on #5433
Can you give your complete code and schema?

[2020-05-25 22:11] omar-dulaimi commented on #5876
It doesn't work in Firefox either, complains about "Region is missing"

[2020-05-25 22:43] aleckzts commented on #5433
Thats not the best code you have seen, but ok.
https://github.com/aleckzts/bpc-console

I have started with API and graphqlOperation, and started moving to Datastore now.

[2020-05-26 00:53] ffxsam opened #5896 "CloudFront signed cookie support is needed"
**Is your feature request related to a problem? Please describe.**
There's no way to access files on S3 via signed cookies (as opposed to a signed URL).

**Describe the solution you'd like**
The use case is MPEG HLS format, where video files are split into tiny chunks. A playlist URL is supplied to the browser, and then the browser will fetch successive `.ts` files from the file server. The proble

[2020-05-26 01:17] haleyngonadi commented on #5876
It's working in Firefox for me but doesn't work in Chrome or Safari. So weird!

[2020-05-26 02:13] miguelocarvajal commented on #3070
@powerful23 What would be the way to implement this directly?

[2020-05-26 02:17] darshannahar opened #5897 "withOAuth cannot SSO using facebook App in react-native"
**Describe the bug**
withOAuth opens  web browser with hosted  UI. Hence, it  cannot  SSO with facebook app installed on the same mobile. This is a  problem for native apps and react-native apps. Despite of  having an authentication session in facebook app, customer have to enter their credentials again.
On the other hand if we  use facebook sdk, SSO works fine. But then we cannot integrate with U

[2020-05-26 04:43] undefobj commented on #5433
I think that [on this line](https://github.com/aleckzts/bpc-console/blob/master/src/pages/Loja/Add.js#L113) your `Object.assign(updated, values)` is stripping  `_version` from the response of the `(updated) => {}` function which means that it doesn't match what is at the server. Can you try just updating the fields like the documentation shows: https://docs.amplify.aws/lib/datastore/data-access/q/

[2020-05-26 09:34] aleckzts commented on #5433
Sure, have tried both ways with no success.
Started over with empty table, deleted local db and discrete values on update. Same error.

The `_version` field are returned in the `localModel` field of the error

[2020-05-26 11:36] jonasduever commented on #5582
Still an issue, I think. :/

[code]

![image](https://user-images.githubusercontent.com/5775325/82896209-d999e700-9f55-11ea-9e15-1ec6f1c84e2d.png)

[2020-05-26 11:48] MrHertal opened #5898 "Datastore not working properly with owner @auth rule on React Native"
**Describe the bug**
I am not able to use Datastore in my Expo app because of a problem with the owner @auth rule in my schema. When my app is starting, Datastore is initializing and I get the following warning in the console:

[code]

It looks like Datastore does not pass required owner attribute when it subscribes to changes.

**To Reproduce**
1. In an Expo app, add an owner rule in your schema:

[2020-05-26 11:53] tombaumg opened #5899 "Pinpoint users endpoints disappearing occasionally"
**Hey all,**

I'm updating an endpoint in aws Analytics and successfully getting the emails notifications from Pinpoint.sendUsersMessages.

**But something between 30-60 minutes after the subscription (the updateEndpoint) - this stops working and I get a response says that this user does not have any endpoints, like the endpoint was just removed somehow.**

While investigating this, I even tried t

[2020-05-26 12:39] amhinson commented on #5874
@thekrol01 Could you try using the latest version of `aws-amplify@latest` and see if your problem still persists? The latest release included some updates related to blobs in React Native. Also, since you are coming from Ampify V2, you can check out the [migration guide to V3](https://github.com/aws-amplify/amplify-js#amplify3xx-has-breaking-changes-please-see-the-breaking-changes-below) as well.

[2020-05-26 12:42] amhinson commented on #5884
Hey @ARChatco, would you be able to provide a code sample as well a what version(s) of Amplify libraries you are using? Also, what JS framework is your app?

[2020-05-26 12:52] amhinson commented on #5871
Hey @jeyashankher, have you considered using the latest [`@aws-amplify/ui-react` library](https://docs.amplify.aws/ui/auth/authenticator/q/framework/react)? It makes these kinds of customizations a bit simpler.

[2020-05-26 13:09] davidbiller opened #6683 "Different answers mutation/subscription"
i get two different answers after a mutation and a subscription

**Amplify CLI Version**
4.18.0

**Screenshots**
<img width="593" alt="Bildschirmfoto 2020-05-26 um 14 56 39" src="https://user-images.githubusercontent.com/7137361/82904269-7febe980-9f62-11ea-8206-4eff54e3716c.png">
<img width="581" alt="Bildschirmfoto 2020-05-26 um 14 56 50" src="https://user-images.githubusercontent.com/7137361/829

[2020-05-26 13:54] lukeramsden commented on #5320
Also getting this issue, CLI version 4.20.0, `@aws-amplify/storage@3.1.9`, `aws-amplify@3.0.10`, `aws-sdk@2.675.0`.

[2020-05-26 13:58] mauerbac commented on #5815
Thanks for the feedback @zsid. Going to close this issue as Jordan opened up the change log FR.

[2020-05-26 13:58] #5815 closed

[2020-05-26 14:22] mauerbac opened #5901 "Public Roadmap"
Display a roadmap that allows the community to view what the Amplify team is currently working on and planning

[2020-05-26 14:32] lukeramsden commented on #5873
While I agree with the previous commenter, I think #5854 should be reversed for now, as it's breaking core functionality in the most popular browser - not exactly a niche and obscure issue.

[2020-05-26 14:51] FilipPyrek opened #5902 "Utilize generic type feature of GraphQLResult in api-graphql pacakge"
**Is your feature request related to a problem? Please describe.**
If I call GraphQL API for example this way:
[code]
`response` is always of type [`GraphQLResult<object>`](https://github.com/aws-amplify/amplify-js/blob/master/packages/api/src/API.ts#L176). And then I need to either force the type myself
[code]
or create a [User-Defined Type Guard](https://www.typescriptlang.org/docs/handbook/adva

[2020-05-26 14:56] mynameisguy commented on #1085
for future users:

Despite what written in the documentation, using channelType: 'EMAIL' does work. At least in `Analytics.updateEndpoint`

[2020-05-26 15:08] aleckzts commented on #5433
Maybe its a problem with the @key directive on my models.
Removed all of then and now the update finish without errors, DynamoDB tables shows the updated data.

[2020-05-26 15:37] thekrol01 opened #5903 "Axios error when uploading blob file to s3 with aws amplify react native v3.0.12"
**Describe the bug**

When I upload a file from react native app with PUT S3 I get an Axios error with statuscode 403.
I use version: "aws-amplify": "^3.0.12",

The same AWS configuration is running in a production environment with aws-amplify 2.7.0 and works.
**To Reproduce**
Steps to reproduce the behavior:

I use an identity pool to access the bucket:

import Amplify, { Auth, Storage, API } fro

[2020-05-26 15:44] lenarmazitov opened #5904 "AppSync resolver TransactWriteItems have no permissions to access other than current table."
**Describe the bug**
Assume we have 2 different tables (models) in amplify project.
Now we try to modify resolver for one table and replace operation PutItem with TransactWriteItems. In TransactWriteItems we try to modify second one table and we have error something like this:
[code]

**Expected behavior**
It would be great to have permissions to operate with multiple tables in one resolver via Tr

[2020-05-26 16:10] sammartinez commented on #5873
All,

Wanted to provide an update on this, we are currently working with AWS SDK JS team to get this resolved and get a release out. Will provide an update later on today once we have one. Thanks for your patience.

[2020-05-26 16:31] undefobj commented on #5433
That's possible as well. There was an update to both the JS library and CLI to better support `@key` a couple of weeks ago, along with updated documentation: https://docs.amplify.aws/lib/datastore/relational/q/platform/js

Ensure that you have the latest library and CLI versions and see if the guidance on that page helps.

[2020-05-26 16:44] ARChatco opened #5905 "React native HOC - username empty is being accepted an...BOOM"
Version 4.1.2 aws amplify react native.

you enter empty username and getting error

[2020-05-26 16:49] Amplifiyer commented on #5320
Hi please try with the latest version of amplify (try removing the node_modules and lock files if required.) There is currently another bug with Storage.Put which we are working on priority right now #5876

[2020-05-26 16:57] amhinson commented on #5905
@ARChatco Could you provide a code snippet of your usage as well as more detailed steps to reproduce the issue?

[2020-05-26 17:13] #5842 closed

[2020-05-26 17:22] aleckzts commented on #5433
Updated CLI and libraries, removed all `@key(fields: ["id"])` from schema and updates are working now.
The others @keys seems to be not interfering.

[2020-05-26 17:25] seankovacs commented on #4346
I had similar CORS issues that prevented the authentication routines from working. After I updated to the latest amplify library they went away; works now.

[2020-05-26 18:03] BruceWheaton commented on #4346
Updated with npm and then amplify auth update? That’s good news.

[2020-05-26 18:13] Ashish-Nanda commented on #5865
Thanks @ikakara
Closing this issue as the bug was related to react-native-elements

[2020-05-26 18:13] #5865 closed

[2020-05-26 18:39] TomBrouwer opened #5907 "DataStore give warning when not authorized, and is not synchronizing"
**Describe the bug**
DataStore give warning when not authorized, and is not synchronizing.

DataStore is warning me:
[code]

**So nice to see the user is not authorized to do that, thats how I build it.** If I look to the websocket messages, DataStore is trying to subscribe to everything. And it gives me a error back for every subscription where the user is not authorized. Can I prevent DataStore

[2020-05-26 18:52] thekrol01 commented on #5903
the Sentry breadcrumbs:

xhr | POST https://cognito-identity.eu-west-1.amazonaws.com/ [200]

xhr |PUT https://XXXXXX.s3.eu-west-1.amazonaws.com/public/posts/1590506382416kCLQ5RxMHDgwkJ6YFYfqprgSgu72.jpg?x-id=PutObject [403]

[ERROR] 19:43.363 axios-http-handler Error: Request failed with status code 403

[2020-05-26 19:42] TomBrouwer commented on #5907
Ok, in the generated schema for models, there is a property syncable. If i set this to false for the unauthorized models. The warning is not showed up anymore. It is not a solution, I have different roles and permissions so I cannot change the schema for each user. But it tells me that synchonizing stops if error apeared.

Is there maybe a callback configuration method to tell datastore to sync or

[2020-05-26 19:54] seankovacs commented on #4346
Yeah I was on version 3.1.9 - updasted to 3.1.11 and my CORS issues went away on Edge.

[2020-05-26 20:25] sbe-arg commented on #2906
@ tmaiaroto can you open a new issue as per https://github.com/aws-amplify/amplify-js/issues/2906#issuecomment-504684147 ?

[2020-05-26 20:53] ranganapeiris commented on #3401
Hi, I am also on a very similar situation. Any answer on this please?

[2020-05-26 20:59] kjetilge opened #5908 "PreSignup error custom response text in amplify-authenticator not working."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

1. With amplify-cli add auth with a PreSignup trigger
2. In the function/myPreSignup/src/index.js file:
[code]
3. Change function/myPreSignup/src/custom.js to:
[code]
4. See error:
When I run: ```mock function myPreSignup```

Output is:

[code]

**Expected behavior**
The error text should be a string

Howev

[2020-05-26 21:09] damianrr opened #5914 "AppSync subscription not working becaouse of timeout disconnect"
Hello,

I've a GraphQL subscription, in AppSync, which has worked perfectly for almost a year, however, now it has starting to fail due to "Timeout Disconnect" errors, it doesn't happen all the time, but when it times out then live update don't work until I refresh the browser, which is unacceptable for the business domain. In terms of debugging down it feels like a dead end for me.
Does anyone kn

[2020-05-26 21:39] YoshiDatoutou commented on #4744
confirm. I had to downgrade to angular 8 to make amplify authentication ui component to work. this will block us from upgrading to angular 9, hopefully it resolve soon.

[2020-05-26 22:04] cgardens opened #5910 "User Attributes are coerced to boolean"
**Describe the bug**
Amplify coerces user attribute strings to booleans in an opaque manner.

**To Reproduce**
Steps to reproduce the behavior:

1. Add a custom attribute in Cognito with type string.
2. Set the value of that attribute to "true" or "false"
3. `Auth.signin(<your user>)`
4. Inspect the returned user attributes. The value returned for the custom attribute with be `true` not `"true"`.

[2020-05-26 22:21] bramsvs commented on #5218
Same (stale/closed) issue: https://github.com/aws-amplify/amplify-js/issues/4550

[2020-05-26 23:14] iartemiev commented on #5873
We just released a fix for this in aws-amplify@3.0.13.
Please give that a try and let us know if it's solved the issue for you.

[2020-05-26 23:14] iartemiev commented on #5903
We just released a fix for this in aws-amplify@3.0.13.
Please give that a try and let us know if it's solved the issue for you.

[2020-05-26 23:49] kjetilge opened #5911 "How to customize PreSignup error response text in amplify-authenticator"
**Category**

Auth

**Amplify CLI Version**

[code]

This is a Vuejs app.

My PreSignup handler ends with the following:

[code]

When I run: ```mock function myPreSignup```

Output is:

[code]

However in the browser the following is displayed in the amplify-toast:

How do I remove or change (or preferably translate using i18) the text: "myPreSignup failed with the following error:" ?

I have als

[2020-05-27 01:20] tmaiaroto commented on #2906
I'm curious if this ever gets resolved, but I'm not currently using AWS Amplify or Cognito.

[2020-05-27 02:36] philhar88 opened #5912 "amplify add sam"
**Is your feature request related to a problem? Please describe.**
It would be great to have a category called 'sam'. Once you add this category you input your SAM ARN and any exports you want to sync.

**Describe the solution you'd like**
The ability to reference existing SAM apps within Amplify would be enormously useful. You could for example deploy an entire backend application with SAM, expor

[2020-05-27 02:37] perima commented on #5912
this will be very useful for back end heavy apps

[2020-05-27 03:26] ShruthiMallaiah opened #5913 "Authorization header requires 'Credential' parameter"
Hi,
I am facing issue while accessing the Rest API to GetThingShadow. I am using AWS-Amplify package to access this API.

**Error: ‘403 Forbidden ’ Response with a error message ‘Authorization header requires 'Credential' parameter. Authorization=gdjwhgdhwgmns…………………’.
I believe Aws-amplify SDK itself adds Signature Version 4 for every API call.**

AWS-docs: https://docs.aws.amazon.com/iot/latest/

[2020-05-27 03:26] juuyan commented on #5873
@iartemiev Have just tested. It solved the issue! Thanks.

[2020-05-27 04:31] #5819 closed

[2020-05-27 06:17] undefobj commented on #5912
This isn't something we would add as a category. Categories in Amplify are functional use cases for mobile and web apps, such as Auth or Storage, not implantations.

That being said we're looking at an extendability feature in the CLI to give higher level hooks rather than having to dive down to CloudFormation. Keep an eye on the CLI repo in the future for more.

[2020-05-27 06:18] #5912 closed

[2020-05-27 08:08] navane opened #5915 "How to update user password in Cognito user pool without old password?"
Hi,

We have multistep register form where user can set their password in step 2.
So, we will setting random password during step 1 and registering user details in Cognito user pool.
But end user submitting actual password from step 2.
Cognito will not update password (from step 2) without sending old password (random generated from step1). Cognito considers this process will be password update.

[2020-05-27 08:49] naedx commented on #1252
I configured _multiple authentication modes_ on my `@model` as described [here](https://aws.amazon.com/blogs/mobile/using-multiple-authorization-types-with-aws-appsync-graphql-apis/) but requests would be authenticated using only the _default_ authentication mode as specified using `amplify api configure`.

As show below, I had tried specifying the auth mode inside my service class, but this would

[2020-05-27 08:52] rudyhadoux commented on #1252
Useful, thanks.

[2020-05-27 09:02] naedx commented on #4911
I configured _multiple authentication modes_ on my `@model` as described [here](https://aws.amazon.com/blogs/mobile/using-multiple-authorization-types-with-aws-appsync-graphql-apis/) but requests would be authenticated using only the _default_ authentication mode as specified using `amplify api configure`.

As show below, I had tried specifying the auth mode inside my service class, but this would

[2020-05-27 09:12] zsid opened #5916 "Cannot get any scopes in Access Token"
**Describe the bug**
We are using `aws-amplify` to authorise with Cognito and need to get scopes i.e. `openid, profile, custom-scopes`. There are a lot of issues associated with this. For example, there is a very [similar one for custom scopes](https://github.com/aws-amplify/amplify-js/issues/5147) which has been closed. It seems like there has been [a release](https://github.com/aws-amplify/ampli

[2020-05-27 10:34] JiboStore commented on #3875
@haverchuck Hi, according to your reply above:
There are two ways to federate with social providers in Cognito: with Identity Pools or with User Pools (via Hosted UI). If you are federating with Identity Pools (which seems to be the case) a user will not be create automatically in the User Pool... you will simply see an 'Identity' in the Identity Pool.

I am using hosted-ui (by calling Auth.federa

[2020-05-27 10:50] munroTom opened #5917 "Cognito User inconsistently returns new IdToken on credentials refresh"
**Describe the bug**
When calling CognitoUser().getSession when the users access token is invalid it sometimes returns the same id token, sometimes a new one

**To Reproduce**
Steps to reproduce the behavior:

1. Call CognitoUser.getSession on a user with an invalid access token but valid id + refresh tokens
2. Compare authentication result id token with original
3. Repeat
4. Sometimes a new id to

[2020-05-27 11:00] mrichman commented on #3236
I'm trying to do this as well.

[2020-05-27 11:00] mrichman commented on #1550
I'm trying to do this as well.

[2020-05-27 11:18] lukeramsden commented on #5873
Seems to work for me too, thanks guys. This issue can probably be closed now, although I'd guess some NPM package deprecations are in order.

[2020-05-27 11:24] iartemiev commented on #5873
Thank you for confirming!

[2020-05-27 11:24] #5873 closed

[2020-05-27 12:00] nihp opened #5918 "Error: No credentials, applicationId or region"
Error: No credentials, applicationId or region with the latest aws-amplify ad aws-amplify-react-native version.

[code]
Auth.signIn succeeds but throws console error and every time it showing the warning

https://github.com/aws-amplify/amplify-js/pull/5629 fix not working in the latest version.

@ashika01 Can you let me know if you have any updates or whether I need to change anything from my side

[2020-05-27 13:13] pseudyx opened #5920 "filter and limit not applied properly"
**Describe the bug**
a given DynamoDB table has 200 items on it.
When applying a GraphQL query (on posts) with a filter (category =) and a limit (10).
Only 4 results are returned.

**To Reproduce**
as above.

**Expected behavior**
filter should be applied before limit. not the current get limit then filter.

**Code Snippet**
const resp = await API.graphql({
            query: queries.listPosts,

[2020-05-27 13:53] damianrr commented on #5914
In the above log there's a `keepAliveTimeout` and a `keepAliveTimeoutId`. Is there a way I can control that and set it to something like: "Never Expire"?

Thanks.

[2020-05-27 13:59] suraj-eai commented on #5775
I encountered an issue using slots to position `AmplifyConfirmSignUp`. When we use slots, the username field is required to be filled in confirm sign up screen. And this is fixed if we remove the slot property.
[code]

![Screen Shot 2020-05-27 at 19 39 46](https://user-images.githubusercontent.com/52927184/83029132-08958300-a052-11ea-8368-b4cbc0e003b3.png)

I fixed the positioning Auth screens in

[2020-05-27 14:24] mtraynham opened #5921 "auth w/ Google Federation - Access Token does not have required scopes"
**Describe the bug**
Upgraded from `"@aws-amplify/auth": "3.2.7"` to `"@aws-amplify/auth": "3.2.8"` and a federated login with Google stopped working with a 400 error from Cognito.

I initially upgraded to 3.2.8, and then downgraded back to 3.2.7, and downgrading has resolved the error.  None of the dependency versions for  `"@aws-amplify/auth"` were changed during the downgrade, so I believe the

[2020-05-27 14:41] mrichman opened #5922 "Uploading local CSV file to S3 sends a 2 byte "{}" empty JSON document"
I'm using Vue.js to upload a CSV file to S3 using `Storage.put()` as follows:

[code]

I can see the file uploading, and that it is 220 bytes locally in the `this.file` object.

However, the `PUT` to `https://s3.amazonaws.com/<mybucket>/private/us-east-1%3Aa8fc3a66-181d-480f-b661-a0ddd404dfc5/data.csv?x-id=PutObject` sends an empty JSON `{}` object.

The contentType and metadata is successfully sa

[2020-05-27 14:47] edoardo849 opened #5923 "DataStore on Angular doesn't sync to other devices"
**Describe the bug**
Using DataStore with Angular by testing with multiple clients (different browsers): when I create an Item on browser 1 I can see the result in DynamoDB and receive an update via the local subscription on browser 1. However, the local subscription on browser 2 isn't triggered and I need to refresh the page completely on browser 2 in order to see the change performed on browser

[2020-05-27 16:39] iartemiev commented on #5903
Closing, as this seems to be related to https://github.com/aws-amplify/amplify-js/issues/5873 which has been solved in the latest version of Amplify

[2020-05-27 16:39] #5903 closed

[2020-05-27 16:55] ashika01 commented on #5918
@nihp My fix was for just [this issue ](https://github.com/aws-amplify/amplify-js/issues/4824) which is the error coming from `AWSPinpointProvider.js`. Looking at the screenshot of error log  on the PR referenced above. It unclear to me where this is coming from.

We will have someone from the team to look at this. In any case, sample code to reproduce the issue will help the team resolve your iss

[2020-05-27 17:04] sammartinez commented on #5918
@nihp,

I do want to callout that we do have others on the team that review besides @ashika01. While it's alright to tag people in order to look at issues, it's not recommended as people can be on vacation at times or out of the office. We do take in issues as a first come and first serve approach as well so it may take some time for us to get back to you on issues. As stated above, we can have so

[2020-05-27 17:26] ericclemmons commented on #5218
Great research @bramsvs!  This looks like a straightforward fix affecting these two parts:

https://github.com/aws-amplify/amplify-js/blob/f89e545a93f370f0ce91b437514f833b03c6202b/packages/auth/src/OAuth/OAuth.ts#L81-L85

https://github.com/aws-amplify/amplify-js/blob/14f1ef9b88bc5cb99ec0a47308d3fb9cf4c89102/packages/auth/src/Auth.ts#L1864-L1875

[2020-05-27 17:30] ericclemmons commented on #4346
@seankovacs Can you share your `package.json` so I can compare which versions you're referencing? (`aws-amplify`'s latest version is `3.0.13`, so which package was updated from `3.1.9` to `3.1.11`?)

[2020-05-27 17:42] Amplifiyer commented on #5876
This has been fixed, please see #5873 and upgrade aws-amplify to latest version.

[2020-05-27 17:42] #5876 closed

[2020-05-27 17:46] lenarmazitov commented on #4235
Thanks @amcdnl this works.
But also there is need to add resolutions to package.json
[code]

Because AppSync uses apollo-client@2.4.6 which causes error see https://github.com/apollographql/react-apollo/issues/3148

[2020-05-27 17:51] mrichman commented on #5922
I was able to solve this by directly using the bound file variable as opposed to FormData.

`Storage.put("data.csv", this.csvFile, ...`

[2020-05-27 17:51] #5922 closed

[2020-05-27 17:51] seankovacs commented on #4346
Ah - you got me. I was looking at the analytics package - apologies. This is in my package.json: "aws-amplify": "^3.0.4".
Looking at the lock file, I was on 3.0.10 and upgraded to 3.0.12 to solve my issue. There are tons of dependency packages that updated as well (such as amazon-cognito-idenity-js 4.2.3->4.3.0) that could have been what actually fixed the problem.

[2020-05-27 18:03] Amplifiyer commented on #5582
it seems there is one more package that got missed which targets ES2016 output https://github.com/aws/aws-sdk-js-v3/blob/v1.0.0-gamma.2/packages/middleware-serde/tsconfig.json#L3
I'll create an issue with aws-sdk to get this prioritized.

[2020-05-27 18:07] Afrogoth opened #5924 "CognitoIdentityCredentials is not authorized to perform: apigateway:GET on resource: arn:aws:apigateway:eu-west-1::/restapis"
Can someone please assist in pointing out what the issue might be when I try to access AWS apigateway resources using AWS Amplify Javascript SDK.

When a user logs into the platform (a portal I'm building)- the role assumed by the AuthRole is able to load the API catalogue as per the permissions to allow read access for all apigateway resources. Here is how the policy looks like:

[code]
The above

[2020-05-27 18:15] amcdnl commented on #4235
@lenarmazitov I ended up changing the setup to this:

[code]

and

[code]

to prevent the resolutions issue and just make things more simple.

[2020-05-27 19:01] ashika01 commented on #5911
@kjetilge - Could you let us know which package you are using for UI?

[2020-05-27 20:03] si0005hp opened #5925 "Cannot touch retrieved session tokens at 'signIn' event on OAuth"
**Describe the bug**
On social provider signin (OAuth signin), we can't touch retrieved session tokens when capturing `signIn` event (via `Hub`) since they are set to the client side storage **after** the event.
While on normal signIn case, they are set **before** the event and so we can touch on them.

**To Reproduce**
**Code Snippet**

[code]

(There's no special setting and it happens on very b

[2020-05-27 20:03] gHashTag opened #5926 "DataStore is locally created but AppSync does not sync."
**Describe the bug**
Going through the stages of this [article](https://fullstackserverless.github.io/docs/amplify-04)

As a result, data is created, but it is not available in App Sync and as a result, there is no sync of this data between devices.

**To Reproduce**
[Step by step](https://fullstackserverless.github.io/docs/amplify-04)

**Expected behavior**
Data synchronization between devices an

[2020-05-27 20:09] kjetilge commented on #5911
I'm using [Vue](https://docs.amplify.aws/ui/q/framework/vue)

[2020-05-27 20:20] kjetilge commented on #5911
If I use an error-object I will get a useless message in the amplify-tost. As mentioned above tihis results in the message: myPreSignup failed with the following error: [object, object]

I should be able to somehow override the message "myPreSignup failed with the following error:"
b/c the mock output should mirror what is diaplyed in amplify-toast, not ?

[2020-05-27 20:28] ashika01 commented on #5911
Making sure again, the link you have point to `@aws-amplify/ui-vue`. So if you are using that, you might not be able to change the error message. We started having discussions on this internally. we can mark this issue as Feature request and track the progress in this as we go along.

Workaround would be for you to create your custom UI using slots and pass the needed error message to amplify-toas

[2020-05-27 20:32] ashika01 commented on #5911
I dont completely understand your use case yet. Would it be possible to stringify the error object in case of failure so it shows up properly in toast?

[2020-05-27 20:48] kjetilge commented on #5911
In I'm short I'm translating to norwegian.

[2020-05-27 20:58] kjetilge commented on #5911
I'll try to do your suggested workaround for now.
At least the front-end now has [Norwgian translation](https://github.com/kjetilge/amplify-auth-norwegian-bokmaal/blob/master/norwegian.js) 😀

[2020-05-27 21:00] ashika01 commented on #5911
Yeah, we are basically looking at making use of i18n that we have to do this. So will keep you posted here.

[2020-05-27 21:01] kjetilge commented on #5911
Is it possible to use thy context.fail for anything ?

[2020-05-27 21:03] ashika01 commented on #5911
What do you mean by context.fail?

[2020-05-27 21:05] ericclemmons commented on #3699
I've done some research into this here: https://github.com/aws-amplify/amplify-js/pull/5869#issuecomment-634932879

At least on web, you can reproduce by changing the system clock to 1+ hours ahead and making an `Analytics.record` call (it will fail with signature errors).

[2020-05-27 21:08] kjetilge commented on #5911
In your code I see:
[code]

[2020-05-27 21:13] ashika01 commented on #5911
@ammarkarachi any thoughts?

[2020-05-27 21:15] ashika01 commented on #5911
I see above this is your sample code,

[code]

I was suggesting this, which should solve the toast problem

[code]

[2020-05-27 21:21] ammarkarachi commented on #5911
If I understand correctly you want to intercept the error message to translate it?

[2020-05-27 21:21] kjetilge commented on #5911
I see, but I would still get the "myPreSignup failed with the following error:" in front of my message ?

[2020-05-27 21:24] kjetilge commented on #5911
Yes. I want to intercept the error message for translatiopn.

[2020-05-27 21:37] kjetilge commented on #5911
It is a litlle strange that passing values to [validationErrors](https://docs.amplify.aws/ui/auth/authenticator/q/framework/vue#sign-up) SignUp in Vue UI component in does not fix this.

[2020-05-27 22:05] mikeRChambers610 opened #5928 "@searchable directive changes Int to Float + Does not work with Date formats."
**Describe the bug**
@searchable directive changes Int type to Float type in elastic search. This breaks the range filter because float cant handle big numbers. Also, @searchable does not work with the Date scalar types. This eliminates 90% of all use cases where you would apply a range key to @searchable.

**To Reproduce**
Steps to reproduce the behavior:

Using AppSync via console and @searchabl