[2020-02-28 10:07] escar commented on #4459
Having this issue too, any way to overcome this problem?

[2020-02-28 10:13] #4663 closed

[2020-02-28 13:22] markmckim commented on #4580
@sarahcec @iartemiev - Just tested and issue still persists for me. Exactly the same behaviour @camin-mccluskey is seeing.

Sorry, I can't afford to wait any longer on this. I'm going to start migrating off Cognito on Monday morning. I really wanted this to work, but the turnaround on such a critical production impacting issue such as this has been 2.5 months and counting.

For an organisation as

[2020-02-28 13:28] rudyhadoux opened #5000 "403 for S3 documents"
Hi,

I have a chat application that works here, but I have 403s for S3 images :
rudyhadoux.com

The code is here :
https://bitbucket.org/rudyhadoux/chat/src/master/

I have seen this configuration for a React App :
// AppSync client instantiation
const client = new AWSAppSyncClient({
url: config.aws_appsync_graphqlEndpoint,
region: config.aws_appsync_region,
auth: {
type: config.aws_appsync_authen

[2020-02-28 13:35] DavidBrear commented on #4667
If anyone is still running into this as I was. I changed my subscribe object to be this: ```
const subscription = API.graphql(graphqlOperation(onCreateMember)).subscribe({
      error: err => console.log("error caught", err),
      next: data => console.log("sub data", data),
    });``` and the console.log for the error caught that I was unauthorized to access the subscription for the member model

[2020-02-28 14:01] oliverandersencox opened #5002 "Ionic Auth not picked up by authstate observable or Hub"
Another bug for the Ionic side of things.

After months of trying to get help with authenticating by socials with Angular/Ionic, I figured out how to do it by manually constructing the cognito authorise endpoint and running it in the capacitor in app browser.

On redirect back to the app, amplify does not pick it up.

Ive tried reloading the route with the state and code from the auth response, an

[2020-02-28 15:03] photodialectic commented on #4580
I do believe there are two separate issues at play:

1. More than one scope requests would break auth flows because of the encoding used by Cognito for a space delimiter(`+`) while the encoding supported by iOS is (`%20`) - so iOS was reading the scopes as `name+email` which is not a scope instead of `name email`. As @sarahcec noted, this has since been fixed 🎉 .

2. "Do you want to sign in to `nu

[2020-02-28 17:58] Ashish-Nanda commented on #4527
## Amplify DataStore for React Native is now released
Hi All
We just released Amplify DataStore for React Native to @latest.
You can now simply do:
[code]
Please give it a try. You can find the updated Docs here: https://aws-amplify.github.io/docs/js/datastore

Thank you for helping us test the pre-release versions and we look forward to your feedback.

[2020-02-28 18:36] #5000 closed

[2020-02-28 19:27] amuresia opened #5006 "Sample app not working"
After following the instructions to setup the sample app as documented in https://github.com/aws-samples/aws-amplify-graphql
when I run `npm run start` the browser opens with the following message
<img width="1103" alt="image" src="https://user-images.githubusercontent.com/16068752/75580824-b8b21a80-5a68-11ea-8f3b-9421ad1a2d94.png">

Dismissing the warning shows a blank page.

[2020-02-28 20:23] JP-Muller commented on #717
+1

[2020-02-28 21:54] mdebo opened #5008 "Datastore - How to send custom mutation?"
** Which Category is your question related to? **
Datastore

Hi, I don't find in the documentation any information about the right way to send a custom mutation to the datastore
In my schema, I have a custom mutation that calls a aws lambda as resolver. How to call it using the datastore, so that even if i'm offline this one is send to the queue for later processing?

[2020-02-28 22:10] naticaceres commented on #4681
@damogallagher which error are you still getting?
I have followed this thread through and through in an angular 9 project I just created from scratch, using aws-amplify-angular only for subscribing to authStateChange$ in AmplifyService.
I noticed that same as the comments above by @wickstargazer I keep getting an error in the browser console

    at AuthenticatorComponent.push../node_modules/aws-a

[2020-02-28 22:50] houmark commented on #4733
It feels way more stable, but I am still struggling to understand which callbacks are sent back, so I'll look into the sources to figure out which positive (subscription success for example) and negative events I can catch to somehow retry or handle that situation.

Today I slept my Mac, went to a new location, connected using my phone connection, all while being on a page that had a subscription.

[2020-02-29 00:45] camin-mccluskey commented on #4580
This has been a major issue for us and continues to be. Thank you for finding and fixing the scope issue, I am curious how that became an issue since the OIDC standard is to use spaces between the scopes. Nevertheless it makes me wonder, have you properly reproduced the error all of us are seeing? Since you must (I hope) have tested it internally before you rolled out a "fix", yet the `sign into n

[2020-02-29 01:34] cjardine commented on #4744
@sammartinez Appreciate the response, and I am eager to have this when it's ready. Unfortunately, I am not able to put the preview in as a test in our main application due to time, risk and testing constraints, but if I can and I find some time, I'll try it out on something less critical. What would be the best way to be informed of this release?

[2020-02-29 02:10] dantasfiles opened #5010 "Unable to resolve module @react-native-community/netinfo from node_modules\@aws-amplify\core\lib\Util\Reachability.native.js"
**Describe the bug**
I upgraded to aws-amplify@2.2.6 today. My app stopped working with the error `Unable to resolve module @react-native-community/netinfo from node_modules\@aws-amplify\core\lib\Util\Reachability.native.js`

**To Reproduce**
- Create react native app: `npx react-native init Amplify226`
- Initialize Amplify: `amplify init`
- Install aws-amplify: `npm install aws-amplify`
- Edit `i

[2020-02-29 03:40] iartemiev commented on #5010
Hi @dantasfiles, could you please try the following steps:
[code]

[2020-02-29 03:49] Ashish-Nanda commented on #5010
@dantasfiles if using React Native 0.60 or above, you do not need to run the link step.
Do:
[code]
And then nothing else for android.
For ios on RN 0.60+ do:
[code]
If you are using React Native <0.60 then or want more details look here:
https://github.com/react-native-community/react-native-netinfo#getting-started

[2020-02-29 04:35] VicFrolov opened #5011 "Create function for a @model is failing based on other auth rules"
**Describe the bug**
According to the docs, it seems if you don't epxlicitly set "allow", it is by default allowed for all users.
[code]

I have set owner to allow all operations (long form), then I presume if the ownerField is userID. you can create, read, update, delete, then if you are unauthenticated via IAM you can read, and finally if you are logged in you can read (aka not the owner).

My u

[2020-02-29 08:36] djonk commented on #2908
I'm facing a very similar issue. Amplify does not seem to correctly configure the Analytics policies for User Groups when used in conjunction. This results in the CORS issue - as the result of authentication issues.

To reproduce you can use out of the box Amplify:
- Setup Amplify and add Authentication with the use of User Groups
- Use Amplify to add Analytics

You will notice that **authenticate

[2020-02-29 12:26] kaibadash commented on #3347
https://aws-amplify.github.io/docs/js/authentication

Is the document a lie? 🤔

[2020-02-29 13:55] #4955 closed

[2020-02-29 15:36] Off2Race commented on #3422
This is still an issue. Many of us have worked around the problem but it should be fixed. Please don't mark the issue as stale.

[2020-02-29 17:04] wickstargazer commented on #4744
Hi,
I think it is linked with this issue #4681
Also linked with this PR #4963

[2020-02-29 17:09] wickstargazer commented on #4681
Hi guys, Some of you is working out probably because you are not using the `Authentication module` of the amplify-js library?

For those who find the same error, like @naticaceres its because Angular 9 renders ComponentHost differently and the way the dynamic component loads is not valid anymore especially in the `Authentication Module`

Hence i made the fix, tested it and created a PR for it.

Li

[2020-02-29 18:45] alexofob commented on #4972
Your best bet may be Nextjs. I am doing Nextjs with Amplify.  I am using aws appsync and apollographql to enable me fetch data from backend built with Amplify.

[2020-02-29 20:31] dantasfiles commented on #5010
Yes, if I manually install that dependency, the error disappears.

[2020-02-29 20:42] oliverandersencox commented on #4580
is there really no info on how we call fix the 'null' showing on apple login with a hybrid app??

[2020-02-29 23:13] westlakem opened #5012 "Broken angular 8 support"
**Describe the bug**

Angular 8 requires ViewChild elements to contain options in the component declaration.

**To Reproduce**

Build the sample app found at https://aws-amplify.github.io/docs/js/angular
Build locally (this works)
Enable hosting (dev - s3 only)
Commit the code to github.com
Go to the amplify section of the aws console (https://console.aws.amazon.com/amplify)
Setup an automatic dep

[2020-03-01 01:13] alidlo opened #5013 "Does amplify-js use sqlite in react-native/expo?"
** Which Category is your question related to? **
Storage,
** What AWS Services are you utilizing? **
N/A
** Provide additional details e.g. code snippets **
Does amplify-js actually use sqlite or is it only the ios/android sdks? From documentation I gathered it did use sqlite, but from reading code I could only find references to async storage. Please let me know if there's something I'm missing.

[2020-03-01 01:27] #3842 closed

[2020-03-01 02:46] vmontanheiro opened #5014 "OAuth - Error handling auth response. TypeError: Cannot read property 'substr' of null"
[code]

The url comes right without hash in the code, so the hash is null
[code]

[code]

[2020-03-01 07:55] Rafcin opened #5015 "Cognito POST 400 error after updating"
**Issue**
I updated to the latest version of the amplify with npm and now when I try to create a new user I create the user but I can't confirm the user. It throws unauthorized exceptions.

[code]

**reproduce**
Update to the latest versions of amplify

I already have enabled unauthenticated access and it's been working the last few days. This issue is really important, any way, even a quick one t

[2020-03-01 17:56] VicFrolov commented on #5011
Ah, it's actually confusion on how to get this working with ApolloLink, as this worked in Appsync Queries.

so I had this:

[code]

and it was working for `read` for both logged in, and logged out users. but once you log in, you cannot `create` or `update` anything that you should be able to (e.g. type User should be able to update their own attributes). If I comment out the `createAuthLink` with

[2020-03-01 19:29] JSDevelopment17 commented on #4244
Thanks for this chunyenHuang - the use of localIP helped with the expo client on my device. I'm still struggling with the standalone app however. What should the redirect URL be for an app in TestFlight or the AppStore?

[2020-03-01 23:12] Rafcin opened #5016 "Cognito Adding To Group"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito, Amplify
** Provide additional details e.g. code snippets **
So i'm working on a project that uses 3 roles and for simplicity I will call them User, Editor, Admin.
When I setup auth I was able to order the groups and by default User is the group people are added to.

I have rewritten now a new

[2020-03-01 23:34] Rafcin commented on #5015
Issue was caused by cookies. I was logged in when I created an account causing the 400 error.

[2020-03-01 23:49] avlonder opened #5017 "await Auth.currentAuthenticatedUser() right after await Auth.federatedSignIn() returns "not authenticated""
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **
In react-native, how do I access the user data after a social login with Auth.federatedSignIn({provider: 'Google'})? If I use  Auth.currentAuthenticatedUser() without a setTimeout, the user is not yet authenticated...

[2020-03-02 00:19] djbuch opened #5018 "How to query old lines"
** Which Category is your question related to? **
Storage
** What AWS Services are you utilizing? **
DataStore, AWS AppSync
** Provide additional details e.g. code snippets **
I read that the DataStore only queries locally, but what if I have a remote DynamoDB sync with AppSync with ten thousands of line and only syncing the last 2k (as in the doc with `maxRecordsToSync`), how could I find a very

[2020-03-02 00:32] Ashish-Nanda commented on #5013
Hi @alidlo

Amplify uses AsyncStorage for React Native and Expo apps. Could you link to the documentation that mentioned SQLite? Its possible it would be specifically for the ios/android SDKs.

Is your question with regards to Amplify DataStore in particular?
If so, DataStore has the concept of storage adapters for the offline persistence layer, so while currently we have an adapter for AsyncStora

[2020-03-02 00:34] Ashish-Nanda commented on #5010
Glad you got it working @dantasfiles. Since the resolution steps worked for you, I'll go ahead and close the issue.

[2020-03-02 00:34] #5010 closed

[2020-03-02 00:45] alidlo commented on #5013
it was in amplify-js docs. but yes it does, thank you for clarifying will close

[2020-03-02 00:45] #5013 closed

[2020-03-02 02:46] CodySwannGT commented on #1453
This would be a great feature

[2020-03-02 03:47] yvescoinpass commented on #4972
@alexofob  I have issue using nextjs for SSR. https://github.com/zeit/next.js/issues/10522

[2020-03-02 03:53] birken92 commented on #4953
@sammartinez any updates?

[2020-03-02 04:47] midimurphdesigns commented on #4315
I'm having this issue... aws-amplify v2.2.6

[2020-03-02 06:05] chunyenHuang commented on #4244
@JSDevelopment17
You will need to setup the `scheme` ( you can use any name you like)

[code]

and use this
[code]

[2020-03-02 07:45] JSDevelopment17 commented on #4244
Apologies if this sounds dumb - where do I use the second bit? I've got app.json setup but it looks like I'm missing it from elsewhere

[2020-03-02 08:58] bhaweshtanna commented on #4580
Any update on "null" showing on apple login. we need to go to apstore and we fear that the app will be rejected for this reason

[2020-03-02 14:24] TheMoums opened #5050 "Limit of 50 subscriptions reached Datastore"
**Describe the bug**
I'm using Amplify Datastore with more than 17 models. As a result, the graphql schema built by amplify contains more than 50 subscriptions which results in the lost of synchronization with the cloud and the warning: [WARN] 52:19.547 DataStore - Sync error subscription failed Connection failed: {"errors":{"errorType":"MaxSubscriptionsReachedError","message":"Max number of 50 su

[2020-03-02 15:21] BabyDino commented on #4953
Same issue here. We are trying to implement pinpoint and it seems that the `credentials` var is null.

[2020-03-02 16:13] filipsuk commented on #804
Agreed. Cognito should bring best security practices instead of breaking them :/ But I am afraid it will not be implemented as it would be a breaking change.

[2020-03-02 16:57] blairtaylor opened #5019 "Default value for schema type"
Is there a way to specify a default value for graphQL schema types in Amplify?

ex.
myFlag: Boolean = true

This does not compile using amplify api gql-compile

We have a flag which should default to true and would like to initialize it this way when a type is created.

[2020-03-02 17:02] blairtaylor opened #5020 "Deployment of Lambda function that processes a DynamoDb stream"
We want to add a lambda function that processes a dynamodb stream in our amplify app.
We are able to achieve it by adding the following policy to lambdaexecutionpolicy in the function's cloudformation template
[code]
and by adding following EventSourceMapping to the function's cloudformation template.

[code]

The issue is we have to hard-code the arn of the stream inside this cloudformation templ

[2020-03-02 17:54] andsee opened #5022 "Can Amplify keep the existing Identity when signing up a new user to the user pool?"
** Which Category is your question related to? **
Auth.
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **

I have an app that initially uses a guest identity from an identity pool, this is to ensure that users can use the app without the barrier of registering.

Once the user decides to register I use Amplify.Auth.SignUp followed by SingIn.

How

[2020-03-02 18:17] blairtaylor commented on #4972
We also have the same issue / concern. Would appreciate input on the subject.

[2020-03-02 18:20] ericclemmons commented on #4388
Thanks for validating @HilSny !

[2020-03-02 18:20] #4388 closed

[2020-03-02 20:40] Ashish-Nanda commented on #5020
Moving to the CLI team since the issue is related to deployment and cloudformation.

[2020-03-02 21:23] Ashish-Nanda commented on #4527
Closing this feature request now that the feature has been delivered.

[2020-03-02 21:23] #4527 closed

[2020-03-02 21:43] Rafcin commented on #5016
I thought about this over night and I saw a AWS example online. If I write a custom attribute that represents the role of the user could I then do something like this:

1. Define a custom attribute **role**
2. In the add to group function post confirmation I could have a const and some logic to check the users info, so something like:

[code]

I just don't know if ``` event.request.userAttributes

[2020-03-02 22:04] zsedefian commented on #4315
Same issue here, aws-amplify 2.2.6

[2020-03-03 00:28] bezreyhan commented on #3365
Thanks for prioritizing this change. We are currently using `@aws-amplify/auth` and it is adding 311kb minified / 86kb gzipped. This is way bigger than our app can afford. Two questions:
1. Do we have an ETA for when the modularization will be finished?
2. Any idea what the new bundle size will be?

Alternatively, we've been thinking about migrating to using `amazon-cognito-identity-js`, which is

[2020-03-03 00:55] camin-mccluskey commented on #4580
Just tried to debug by using the hosted web UI on my browser. Inspecting the network packets I noticed the call to the `/oauth/authorize` endpoint contained a request with an empty scope array, which signing in with Apple - which doesn't seem correct. I couldn't manage to verify the scopes sent for Google or Facebook but the sign in occurred nominally (as it does using the SDK).

[2020-03-03 00:58] matulef opened #5024 "aws-amplify-angular cannot be used with strict Content Security Policy"
**Describe the bug**
When using the `AmplifyService`  from `aws-amplify-angular`, a reasonable Content Security Policy cannot be used without causing an error. This is because the `aws-lex-audio.js` file requires `unsafe-eval` (and `worker-src blob:`) permissions.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new angular app:
[code]

2. Add ` AmplifyAngularModule, AmplifyService,

[2020-03-03 02:22] karrettgelley commented on #4218
I recently got billed $75 for using @searchable on one of my models. My app isn't even in production yet and I've only used the service for a little bit of testing. This is ridiculously expensive. Beware new users to amplify, you may end up with a bill like this:

![Screen Shot 2020-03-02 at 8 21 14 PM](https://user-images.githubusercontent.com/31458115/75736659-75071d00-5cc3-11ea-8a2e-c9936dcf85f

[2020-03-03 02:30] karrettgelley opened #5025 "@searchable Cost"
** Which Category is your question related to? **
ElasticSearch

** What AWS Services are you utilizing? **
ElasticSearch, AppSync, Cognito, etc.

I recently got a bill for ~$75 for an elasticsearch instance which I barely use.
![Screen Shot 2020-03-02 at 8 21 14 PM](https://user-images.githubusercontent.com/31458115/75737077-87ce2180-5cc4-11ea-8464-d0af2f8c4bc7.png)

I have an app that is in deve

[2020-03-03 06:11] apoorvmote opened #5026 "passwordless email login sends 3 email at cold start"
**Describe the bug**
As per  the [aws documentation](https://aws.amazon.com/blogs/mobile/implementing-passwordless-email-authentication-with-amazon-cognito/) I have literally copy pasted the code to create passwordless email login. And it does work perfectly after initial hiccup.

So on first time I try to log in with email then it sends 3 different emails with 3 different passwords. I enter passw

[2020-03-03 10:20] nihp commented on #2104
I need to customize most of the error messages.

For eg) I got network error in UI.

Message needs to tell, Turn on your network connection to proceed the process(May be sign in, sign up, Forgot password or any thing)

Any update on this?

Or can anyne suggest any good way to customize the authentication screens

[2020-03-03 12:38] rafalskyi commented on #3435
+1 waiting for some news as well

[2020-03-03 14:18] coreyjv opened #5027 "Change default opener on React Native to use an in app browser"
**Is your feature request related to a problem? Please describe.**
Yes, Apple rejected our iOS application because the default sign in behavior when using the hosted UI opened a browser outside of the app.

**Describe the solution you'd like**

The default behavior should be to open the URL in an in app browser.

**Describe alternatives you've considered**

We've overridden the `urlOpener` propert

[2020-03-03 15:14] chunyenHuang commented on #4244
You need to run `amplify auth update` and add the new redirect url to your cognito service. And you should see the link in your `aws-exports.json`. Then you can use the script I provide here https://github.com/aws-amplify/amplify-js/issues/4244#issuecomment-586845322 to replace the `redirectUrl` from a string list to a single url string.

[2020-03-03 15:14] ronmara opened #5028 "Aws cognito linkedin"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **
I'm trying to add LinkedIn login to my react app that using Amazon Cognito, I did everything like explained [here](https://aws.amazon.com/premiumsupport/knowledge-center/cognito-linkedin-auth0-social-idp/) and yes it works but I'm not using A

[2020-03-03 17:06] mousedownmike opened #5029 "Inconsistent CodeDeliveryDetails usage."
**Describe the bug**
The return of `CodeDeliveryDetails` is inconsistent across Auth functions.

**To Reproduce**

1.  Call `Auth.signUp()`
2. Observe delivery details in: `response.codeDeliveryDetails` note lower case `code`.
3. Call `Auth.resendSignUp()`
4. Observe delivery details in: `Promise<string>`.  That `string` is actually JSON with `CodeDeliveryDetails`, note upper case `Code`.
5. Call

[2020-03-03 17:23] danmight opened #5030 "The client is not authorized to perform this operation. Error when Trying to use a new environment to call a REST API endpoint."
** Which Category is your question related to? **
Auth, API (REST), Functions

** What AWS Services are you utilizing? **
Cognito, API Gateway

** Provide additional details e.g. code snippets **
Amplify CLI 4.13.4

Scenario:
I created an app and developed on my localhost.

I then hooked it to the Amplify Console and created a new branch and backend called staging (which is a new environment).

In

[2020-03-03 17:51] plus- commented on #1283
Is this still the accepted workaround or has a better option been integrated since then ?

[2020-03-03 18:09] sammartinez commented on #5028
@ronmara Are you solely using Amazon Cognito or are you using Amplify within your React Application? If you are solely using Amazon Cognito please open up an issue on their [AWS Forums](https://forums.aws.amazon.com/forum.jspa?forumID=173).

[2020-03-03 18:11] #5028 closed

[2020-03-03 18:51] sammartinez commented on #4932
@hectomg This is by design that when we [unsubscribe a topic](https://aws-amplify.github.io/docs/js/pubsub#unsubscribe-from-a-topic), any listeners of said Topic will not receive messages anymore. Can you provide a little more detail into your use case? I can see this potentially being a feature request but wanted to get a little more insight on when you would want observers (2+) unsubscribing at

[2020-03-03 19:00] sammartinez commented on #4272
Resolving issue as the above PR was merged in order to resolve the Async Storage community edition

[2020-03-03 19:00] #4272 closed

[2020-03-03 19:16] ronmara commented on #5028
Opend an issue on AWS formus
https://forums.aws.amazon.com/thread.jspa?threadID=318076

[2020-03-03 19:29] hectomg commented on #4932
Maybe it is by design but in my experience it is wrong and this doesn't explain why unsubscribing from any topic is disconnecting the client at all, inclusive if it has more topics listening. To solve this you have to create different clients.

Anyway, this is the scenario:

I have an AngularApp where I have a dashboard composed of some widgets. Each widget is showing real-time data from equipment

[2020-03-03 21:18] RTJ1996 commented on #4580
@sarahcec can you confirm that this is still being investigated?

[2020-03-03 21:22] mdegrees opened #5031 "Is it possible to invoke SES inside a pipeline function resolver?"
** Which Category is your question related to? **
API
** What AWS Services are you utilizing? **
Cognito, AWS AppSync
** Provide additional details**
I’m building an app where people follow tags. They get notified by email when a post tagged with a tag they follow is created. In createPost mutation I used to send SES emails to tag subscribers after adding the post to db. If I rewrite my resolver l

[2020-03-03 21:31] jackatkoeln commented on #4527
**For expo users**
Just commenting here in case that people are running on the same issue.

@aws-amplify/datastore requires expo 36 since react-native-netinfo >= 4.x.x requires react native >= 0.60

@Ashish-Nanda maybe worth to mention on the official docs?

[2020-03-03 22:28] sammartinez commented on #4295
@davidbiller I am unable to reproduce your issue under the newer versions of Amplify. Here is the [gist](https://gist.github.com/sammartinez/0cbb38a7c08e523bf4b8cb5aaa5d56ba) of the Sample App I created to test this. Do you have a hard dependency on needing to use Amplify v1 or can you upgrade to newer versions of Amplify?

[2020-03-03 23:14] nbedevi opened #5033 "Enhance responsive form in small screen"
_This issue is a Request For Comments (RFC). It is intended to elicit community feedback regarding a proposed change to the library. Please feel free to post comments or questions here._

## Summary
I'm using amplify UI components in an ionic project, and I notice the UI not working in Mobile as expected, because of the `min-width` property in this line https://github.com/aws-amplify/amplify-js/bl

[2020-03-03 23:24] sammartinez commented on #4275
@anarerdene are you still experiencing this issue? Please let us know

[2020-03-03 23:31] ajonp commented on #3584
Is it possible to change the `oAuthMetadata` based on each environment?

I don't want my production add being allowed for localhost or my other callback URI's.

Is there a way to override this value in the `team-provider-info.json`?

[2020-03-04 00:17] #4827 closed

[2020-03-04 00:51] camin-mccluskey commented on #4580
We resolved our issues - potentially this might be of help to everyone here. Our team had test accounts with iCloud accounts registered for the app but no Cognito users (because of the earlier issues). This left the sign in, in a broken state whereby to Apple any attempted login was not a first login and hence the email was not being sent back, causing a failure to add a new user to the User Pool.

[2020-03-04 02:06] chinnawatsut opened #5036 "OAuth - Error handling auth response. {}"
I'm using amplify with React-native, when I use custom OAuth and click confirm permission it's work fine!
If I press "denied or cancel"  on Custom OAuth permission site, It should getting callback normally with event sign-in failure but back and crash the app.

ExceptionsManager.js:94 [ERROR] 44:39.434 OAuth - Error handling auth response. Error: Permissions+error%3B+error%3Daccess_denied%3B+error

[2020-03-04 06:58] waldothedeveloper commented on #3943
I need this bot to reopen this, after activating debug logger I'm getting this:
I am using AWS Cognito User Pool, a create-react-app...and that's it

I have spent 5 hours and still can't figure out to persist auth in my web react app.

[code]

[2020-03-04 09:36] markmckim commented on #4580
Thanks @camin-mccluskey unfortunately this isn't our issue. I did spot this a while back and even deleting our previous sign-ins makes no difference unfortunately.

[2020-03-04 13:58] nylki opened #5037 "DataStore: support pausing/resuming of cloud sync"
**Is your feature request related to a problem? Please describe.**
If I understand correctly, the DataStore currently always syncs updates immediately to the cloud. This may not be desirable for battery conservation and data usage.

**Describe the solution you'd like**
I would like the DataStore-API to support a manual cloud-sync functionality, so that the App could for example sync only a few tim

[2020-03-04 14:21] camin-mccluskey commented on #4580
@markmckim Great news! We still have the "null" for app name issue but our logo is populated. I'm not sure if there is some undocumented config we're missing or something like that. Again, it is strange that the "null" issue only happens on Face/TouchID authentication. Switching to iCloud email + password and you see the app name.

[2020-03-04 14:32] muriloSanto commented on #3435
+1

[2020-03-04 16:39] craig-o-curtis opened #5038 "Disable Create Account and reset password Send Code buttons while loading"
**Is your feature request related to a problem? Please describe.**
Create Account and reset password Send Code buttons not disabled when loading.
This is both an accessibility concern and usability concern.

**Describe the solution you'd like**
Related fix is [#2217](https://github.com/aws-amplify/amplify-js/issues/2217)
This would allow for using CSS to change the styles and text

**Describe alte

[2020-03-04 16:48] craig-o-curtis commented on #2311
A fix for the Sign In button is the following code.
I've also submitted an issue to target the forgot password and create account buttons [#5038](https://github.com/aws-amplify/amplify-js/issues/5038)
`

        // Override AWS-Amplify button
        button[data-test='sign-in-sign-in-button'],
        button[data-test='sign-up-create-account-button'] /** add functionality for this **/,
        but

[2020-03-04 17:40] AndrewPrifer opened #5039 "Which @connection definition to use for DataStore? @key based or alternative?"
** Which Category is your question related to? **
DataStore
** What AWS Services are you utilizing? **
AWS AppSync

The `@connection` [GraphQL Transform docs](https://aws-amplify.github.io/docs/cli-toolchain/graphql#connection) recommend "defining index structures using `@key` and connection resolvers using `@connection`" over the older [alternative definition](https://aws-amplify.github.io/docs/c

[2020-03-04 18:59] leteach commented on #3410
I am currently seeing the same issue with logout displaying the "sign-in" system alert. Can we either cache that a user has already provided permission to visit this URL on sign-in (thus making the second alert on sign-out obsolete), change the contents of the message so it does not indicate sign-in, or remove the need for it altogether?

[2020-03-04 19:06] raelmiu opened #5040 "Models not saving due to incorrect data model, again."
**Describe the bug**
This morning all my saves had stopped working. Again.

**To Reproduce**
1. Add any model, with an undefined "createdAt".
2. DataStore sync comes back with an error. This error also seems to be impossible to solve.

**Expected behavior**
Sync should work. Or the error should allow me to debug.
It is also surprising that my app changes behavior even though _I'm not making any ch

[2020-03-04 19:27] raelmiu commented on #5040
Running the mutation from the AppSync console works fine, with the same data. So this seems to be a syncing error in datastore. If I discover anything else I'll update this thread.

This is the graphql
[code]

[2020-03-04 19:53] raelmiu commented on #5040
If I run DataStore locally from the amplify-js repo, it works fine. So this is only an issue in NPM version `1.0.8` of DataStore

[2020-03-04 20:23] MR-Neto commented on #4441
@idanlo, I am also trying to use `Analytics.updateEndpoint` or `PushNotification.updateEndpoint` to update the userId. But I need the device token for the address. Do you have any insights?

[2020-03-04 20:27] idanlo commented on #4441
@MR-Neto no, still stuck with this. Analytics doesn’t work

[2020-03-04 20:52] Ashish-Nanda commented on #5039
Hi @AndrewPrifer

The recommended way mentioned in the [GraphQL Transform docs](https://aws-amplify.github.io/docs/cli-toolchain/graphql#connection) is indeed the way we recommend you define relations between your models.

I will work on updating the DataStore docs.

[2020-03-04 21:09] adamcasey commented on #399
That's exactly what was happening in my case. I was able to get `Auth.currentSession()` to actually return a user that was signed in by deleting the user and re-registering them to get a new email verification link. Once that email was confirmed, `Auth.currentSession()` gave me the current user as expected.

[2020-03-04 23:09] aprilmintacpineda opened #5042 "AppSync : Sorting by String type should not be case sensitive"
**Describe the bug**

Sorting with field of type `String` is case sensitive where the Uppercase letters are taking precedence of the lowercase letters.

**To Reproduce**

1. Create schema

[code]

2. Insert sample data

[code]

3. Execute the following query on **appsync console > queries**

[code]

4: See unwanted result:

[code]

**Expected behavior**

AppSync should sort String types in a non-c

[2020-03-04 23:53] #4750 closed

[2020-03-05 02:06] nelsynelz opened #5043 "Auth.currentAuthenticatedUser returning cached custom attributes instead of current from user store"
**Describe the bug**
When registering a user let's say I set a custom attribute in cognito to A. Later in the registration process I then update it to B. When I call Auth.currentAuthenticatedUser it will still return A. The user needs to logout and log back in to get the latest value.

**To Reproduce**
1. Create a user with a custom attribute and set it to X
2. Update it to Y
3. Call Auth.currentA

[2020-03-05 02:09] nelsynelz commented on #4315
I have not solved this issue, however I'm using nuxt in Generate mode when deployed so I'm not actually worrying about it.

The error is being thrown by Nuxt SSR, so if you're not using SSR then it shouldn't actually be a problem when deployed.

Even in SSR mode you can accomplish everything client side, you can then store the JWT token as a cookie so that you have access to it server side.

The a

[2020-03-05 04:14] enigmablue opened #5044 "Amplify Storage: Get with Range?"
I'm looking for a way to get files (videos) from my S3 with a range request. But in the amplify storage docs i dont see any option for range.
https://aws-amplify.github.io/docs/js/storage

Is this supported? Thank you!

(something like the range in the s3 API Amazon Simple Storage Service [docs](https://docs.aws.amazon.com/AmazonS3/latest/API/API_GetObject.html#API_GetObject_RequestSyntax))

** Wh

[2020-03-05 05:16] preethamsridhar commented on #4315
May I know where are you implementing the Amplify.configure(config) line.

[2020-03-05 07:50] satishmolletipipra commented on #4180
@ashish-dirkmedia-de  I'm facing the same issue, any code change we need to do for this. if yes can you please help me to fix this.

[2020-03-05 09:21] alexpanov commented on #3422
This makes me want to migrate away from amplify. What a damn shame.

[2020-03-05 10:13] JayMehta97 commented on #4689
@rmaroun
My Amplify config file properties match the Cognito dashboard and I have implemented the same code as yours but I still get this error. Did you make any other changes to code or configuration?

Thanks

[2020-03-05 10:22] adrian-goe commented on #3474
Hello, is there an update on this?
Or how can we support?

[2020-03-05 10:47] AndrewPrifer commented on #5039
Thanks @Ashish-Nanda

[2020-03-05 10:47] #5039 closed

[2020-03-05 12:46] jakobpack opened #5046 "Federated sign in with Facebook is not working in React Native (Expo) app"
** Which Category is your question related to? **

Federated Authentication

** What AWS Services are you utilizing? **

Cognito

** Provide additional details e.g. code snippets **

I am trying to use the federated sign in with Facebook. I've set up everything correctly, but I can't get it to work.
I'm receiving this error when calling `Auth.federatedSignIn()`:

The token is a valid access token

[2020-03-05 13:03] jakobpack opened #5047 "Unresolved dependency when installing `@aws-amplify/auth@^2.1.6`"
**Describe the bug**

After installing `@aws-amplify/auth@^2.1.6` via `npm`, I receive following error in an **Expo** project:

This is resolved by installing `@react-native-community/netinfo`.

**Project dependencies:**

[code]

[2020-03-05 13:57] jakobpack commented on #4739
You are passing an invalid value (`accounts.google.com`) to the _provider_ param in [`Auth.federatedSignIn()`](https://aws-amplify.github.io/amplify-js/api/classes/authclass.html#federatedsignin).

For Google SignIn, you should be passing `'Google'`.

See the [documentation](https://aws-amplify.github.io/docs/js/authentication#oauth-and-hosted-ui) for reference.

[2020-03-05 16:05] nelsynelz commented on #4315
@preethamsridhar it's created as a plugin in a plain JS file in Nuxt and then referenced in the "nuxt.config.js" file. I don't have deeper knowledge of nuxt to explain to you how it works from there though.

[2020-03-05 16:12] kevinlin505 commented on #5036
I am getting the exact same issue, any ideas on how to handle this?
<img width="446" alt="Screen Shot 2020-03-05 at 11 04 52 AM" src="https://user-images.githubusercontent.com/5324658/76000819-3f844e80-5ed2-11ea-859d-e026fcba3457.png">

[2020-03-05 16:30] jeffstone30 commented on #4534
Thanks guys for the answers. This helped me get past this error. Just to make this easier to find in Google, here is the name of the book / video series that this fix works with: _Serverless React with AWS Amplify - The Complete Guide. It is for Chapter 6: Real-time Data with GraphQL Subscriptions. Here is the code I used in each subscription listener. The listener is expecting the username. Mine

[2020-03-05 16:39] madmed88 opened #5048 "Disable autocomplete for username input"
**Is your feature request related to a problem? Please describe.**
Currently autocomplete is only disabled for password inputs, but it is also considered a security threat
for username inputs
**Describe the solution you'd like**
disable autocomplete for username input or provide option to disable it

[2020-03-05 18:03] JesseBropez commented on #54
Just going to throw another comment in here.

[2020-03-05 18:37] Ashish-Nanda commented on #3373
Amplify JS doesnt currently support Node.js
Also to perform `sendCustomChallengeAnswer` requires you to `signIn`

@tantai24495 with regards to the Android SDK could you open an issue on their github repo: https://github.com/aws-amplify/aws-sdk-android

If you have additional questions/issues please open a new one

[2020-03-05 18:37] #3373 closed

[2020-03-05 18:41] Ashish-Nanda commented on #5018
Hi @djbuch
We are currently tracking this as a feature request #4957

You can find more details in this [comment](https://github.com/aws-amplify/amplify-js/issues/4957#issuecomment-589760076)

Closing as this is a duplicate

[2020-03-05 18:41] #5018 closed

[2020-03-05 18:48] Ashish-Nanda commented on #4967
@aravindkaws which platform are you using Web or React Native?

I've added this as a feature request. Could you provide more details with regards to what the API would look like.

Also let us know if you would like to put in a PR for this and we can help you with it.

[2020-03-05 19:05] Ashish-Nanda commented on #4861
Hey @uc-apa

Can you give DataStore for React Native a try? It was launched after you created the issue, so do take a look at the [docs](https://aws-amplify.github.io/docs/js/datastore)
This should allow your data to sync across multiple devices.

With regards to syncing only a subset of your records as you mention [here](https://github.com/aws-amplify/amplify-js/issues/4861#issuecomment-583942288

[2020-03-05 19:05] #4861 closed

[2020-03-05 19:14] Ashish-Nanda commented on #5044
Hi @enigmablue
We currently do not support range requests. Can you tell us a bit more about your use-case so we can consider whether we want to add this to Amplify?

[2020-03-05 19:52] aravindkaws commented on #4967
I am using React Web.
So this is a use case for having the Bot initiate the conversation with the client. There are use cases where the Client does not have to Initiate a conversation (like a Client approaching a character in a VR scene).  I was able to use the Lex PutSession API in the Chatbot.jsx to get this going. Do let me know how I can add a PR.

[2020-03-05 20:21] sammartinez commented on #5047
@jakobpack We do use the netInfo community addition from React Native as part of our [DataStore React Native](https://aws-amplify.github.io/docs/js/datastore#react-native-specific-steps) use case. This is something we recently added and called out in the above link. Im going to resolve this issue as we do call this out in our documentation that this is something that you need to install while usin

[2020-03-05 20:21] #5047 closed

[2020-03-05 20:30] rsaylor73 commented on #3435
+1

[2020-03-05 21:33] #5015 closed

[2020-03-05 23:19] NL33 commented on #4744
HI guys. I'm trying to follow how amplify is working with ivy. Is it safe to say that, for a production app, I should NOT try to use Angular 9 (with Ivy) + Amplify for auth?

In that case, I'll stick with Angular 8 + Amplify Auth for now.

[2020-03-06 00:28] AndrewPrifer opened #5049 "At what frequency is DataStore synchronized with the backend?"
** Which Category is your question related to? **
DataStore
** What AWS Services are you utilizing? **
AWS AppSync

How often is DataStore synchronized with the backend? Can we set maximum frequency somehow? Should we manually debounce writes to the database in case e.g. a note editor where you don't want backend requests to be made at every keystroke? Or can we update items as often as we want (i

[2020-03-06 00:54] eshacham commented on #4744
I confirm. I had to downgrade to angular 8 to make amplify authentication ui component to work.

[2020-03-06 01:00] enigmablue commented on #5044
Thanks for getting back!

Actually i was trying to get the first part of a video so i could pre-show
the first part of video to users in my react native mobile app.
Right now they have to load the entire video before they could watch it.
Which is not a good user experience.

However i found out that my react-native-fs has the header option and i
could do the range. However it seems i'm unable to p

[2020-03-06 01:21] sammartinez commented on #4744
@NL33 i can state that Amplify doesn’t currently support Angular 9 and Ivy. As stated above, please downgrade to Angular 8 as we do support this.

[2020-03-06 01:41] NL33 commented on #4744
Thank you. It's helpful to get that clarity.

Right now, the docs just say, buried down: "Please also note that the AWS Amplify Angular components do not yet support Ivy." I recommend the team make this more clear--like at the top of the doc say that Amplify Auth does not yet work with Angular 9 with ivy, so it's recommended to downgrade to Angular 8 if you want to work with Amplify Auth.

[2020-03-06 03:40] westlakem commented on #5012
@sammartinez Now that the issue has been tagged with Angular, is there anything I need to do in order for you guys to make progress on this?  I've been able to publish from my local each time I want to push stuff for my business partner to look at, but having continuous deployment would be extremely helpful.

[2020-03-06 05:20] chantlong opened #5052 "Where are AWS Credentials saved in build?"
I am using React Native with AWS Amplify.

When you create a project with aws-amplify it asks for your aws profile.
With this profile set, I am assuming it allows you to create an instance of aws sdk on the app (client side) to allow you to talk to the GraphQL / API Gateways endpoints created via the CLI securely.

My question is when I build the app and deploy it on to a device, are my AWS creden

[2020-03-06 05:57] chantlong commented on #5052
Thank you @kaustavghosh06.

The above makes sense for the CLI usage.

Yes, I would like to know more about how it is managed on a smartphone device.

For example Expo says...

https://docs.expo.io/versions/latest/sdk/auth-session/#security-considerations

If AWS Credentials are not saved on the app, how is it able to talk to the GraphQL / REST API endpoints created via amplify cli securely etc...

[2020-03-06 06:08] wickstargazer commented on #4744
@sammartinez I still confirm that this fix resolves the ivy build issue
Fix dynamic rendering to support Angular 9 in --> #4963

[2020-03-06 08:02] jakobpack commented on #5046
@ericclemmons Thanks for your response.

1. I configured auth via the Amplify CLI. Chose following options:
    1. Select **Default configuration with Social Provider (Federation)**
    2. Select **Email and Phone Number**
    3. Choose **no advanced settings**
    4. Configure **Google, Facebook and Amazon Sign In**
<details open>
<summary><b>auth/parameters.json</b></summary>
<pre>
{
    "identi

[2020-03-06 09:12] satishmolletipipra commented on #4180
@ashish-dirkmedia-de Can you please help me on this.

[2020-03-06 09:19] nihp opened #5053 "How can I customize the validation error messages"
How can I customize the validation error messages while login, SignUp, Sign In, Forgot password, Reset Password and etc..

Here i need to customize the error message to shown in UI of my iOS app.

Any option to do that?

Using the below all imports in my app
[code]

[2020-03-06 09:23] preethypt commented on #4870
Any option to customize the error message which was shown in the UI using aws-amplify-react-native?

[2020-03-06 09:25] nihp commented on #4870
Any option to customize the error message using aws-amplify-react-native?

[2020-03-06 10:47] Rayv1 commented on #1852
Please use [https://pub.dev/packages/amazon_cognito_identity_dart_2](https://pub.dev/packages/amazon_cognito_identity_dart_2) instead, as https://pub.dev/packages/amazon_cognito_identity_dart seems will not be further developed.

[2020-03-06 11:24] moweex opened #5054 "many to many Relations"
** Which Category is your question related to? **
Datastore
** What AWS Services are you utilizing? **
AWS AppSync,
** Provide additional details e.g. code snippets **
We are implementing an RN application using AWS Amplify, we have a schema with a many to many relationships, as suggested we used a bridge model to link the tow models

Example Schema:

type Task
@model
{
  id:ID!
  name: String!

[2020-03-06 14:55] t-moedano opened #5055 "How achieve Apple Touch Id in Amplify ?"
**Which Category is your question related to?**
OAuth

**What AWS Services are you utilizing?**
Cognito

**Provide additional details e.g. code snippets**
How can I use SignInWithApple OAuth and go for Apple Touch Id workflow using Cognito User Pool? Open web browser won't be accepted by Apple and we need to implement this verification through Touch/Face Id. How we achieve that?

[2020-03-06 16:07] damjanvucina commented on #1545
Here's a working example of such lambda.

`// should be set up in cognito triggers as a Pre Token Generation trigger

exports.handler = (event, context, callback) => {
    event.response = {
        "claimsOverrideDetails": {
            "claimsToSuppress": ["email", "fullName", "whatever"]
        }
    };

    callback(null, event);
};`

[2020-03-06 16:53] t-moedano commented on #4580
Hello guys, could you please share how you achieve to use touch id integrated with Cognito? Because using it leads us to open a web view for Apple and does not open the touch id feature.

Are you using federated sign in with user pools? Which methods you use to achieve that? I could fin any clear documentation about that.

I really appreciate if you can help

[2020-03-06 17:14] alexofob commented on #4784
I am facing same issue when using Storage.put api.

[2020-03-06 17:34] minaairsupport commented on #989
yea I believe we need this feature to be included

[2020-03-06 18:44] fmaker commented on #1025
Please don't close, this really should be added. Otherwise using filters for topics has limited utility.

[2020-03-06 19:27] #5055 closed

[2020-03-06 19:35] t-moedano opened #5056 "Sign In With Apple shows 'null' in App Name in Touch Id"
**Describe the bug**
When you try to Sign In With Apple, it opens a pop up to use touch id. However, the App name appears as 'null'

**To Reproduce**
Steps to reproduce the behavior:

1. Enable Sign In With Apple
2. Do Login in device with Touch Id enabled
3. When pop up appears, the application name will be 'null'

**Expected behavior**
Should show the application name. When you try to use a devi

[2020-03-06 20:40] bneigher opened #5057 "[React Native] Storage should use TransferUtility for background upload"
**Is your feature request related to a problem? Please describe.**
In general on a mobile device, applications must account for poor network connectivity, and thus can benefit greatly from background processing tasks. In my app, and I'm sure in many others, we collect images from users and persist them in s3.  I've had to build a lot of unnecessary durability checks / retry logic around my Storage

[2020-03-06 21:11] alexofob commented on #3744
@cinnabarhorse. Yes you solution will fix a large number of cases like this. But it did not fix my case.

In addition to our suggestion above I had to check for duplicate @aws-amplify/core with the below command:
yarn list --pattern "amplify"
And then I upgraded @aws-amplify/core and all other amplify modules to make sure no module keep a duplicate module as a dependency.

[2020-03-06 21:32] kevinlin505 commented on #5036
@chinnawatsut any luck on this one?

[2020-03-06 22:51] rachitdhall commented on #4580
Thanks for reporting the null app name issue. We are investigating it and will update here as we learn more.

If you are still facing an issue with scopes, please open a new Github issue as we will be using this one for the app name.

Rachit
Amazon Cognito

[2020-03-06 23:14] danmight opened #5058 "AccessDenied: Access Denied when trying to .put or .get on S3"
**Describe the bug**
When I try to get or put a file on S3 using Storage.put or Storage.get I get an access denied error.

Amplify CLI - 4.13.4
aws-amplify - 2.2.6

**To Reproduce**

I'm using React.

Steps to reproduce the behavior:

` const awsKey = await Storage.put(fileName, pdfBlob, {level: 'public', type: 'application/json'})`

I have a valid file name and blob. The interesting thing is this

[2020-03-07 00:34] #4721 closed

[2020-03-07 01:13] manueliglesias commented on #5054
Hi @moweex

Your schema is fine, it works as expected, we tested with this sample app and your schema (minus the `Building` type) provisioned to a back-end.

Note the order of the saves in the `addRecordTask` function:

1. Task
2. TimeTrackingRecord
3. RecordTask

**Schema**
[code]

**App (.tsx)**
[code]

I hope this helps, let us know how it goes.

[2020-03-07 02:21] danmight commented on #5058
A follow up note to this, is that if I run the Policy Simulator it will return "allowed" when run on the buckets I'm trying to access, so the policy appears to be okay as well. I'm not sure why the calls are being denied when called through my app.

[2020-03-07 05:36] South-Paw commented on #987
not stale

[2020-03-07 07:39] moweex commented on #5054
Hi @manueliglesias ,

thank you very much for your response and demo application, maybe my question was not clear enough.

Savings are working fine with our schema, we are using it the exact way you mentioned in your code. however, our issue is after saving a recordTask, if you query TimeTrackingRecord, you will find that the tasks property is always empty.

const records = await DataStore.query(T

[2020-03-07 09:45] mike-hogan opened #5060 "Is it possible to programatically generate the GraphQL schemas when using Datastore?"
Category:  Datastore

I am building a system that is a lot like airtable. It allows folks define their own models using a UI. Then they can enter data using auto-generated forms from the models. So the only two types I have are Model and Row. An example, an instance of a model might be a Book, with fields title, isbn, number of pages and price. The model instance will have an id - lets say its 11.

[2020-03-07 13:59] robertomoreno commented on #1896
I was able to implement this following @waydelyle  approach but rather than use local storage I'm using DynamoDB, this way it works for every browser, no matter where did you ask the code. It looks like:

[code]

Notice that `savePreAuthSession` and `getPreAuthSession` are just rest call to save and fetch the session.

[2020-03-07 16:42] clintfoster commented on #987
For those who don't yet have their user pool in production this comment from Cognito team member @timwhunt last fall may be helpful: https://github.com/aws-amplify/amplify-js/issues/987#issuecomment-531025897

Unfortunately we have a user pool that was created the "old way" with email aliases, rather than the new technique where the email address is literally the username. I would be curious to he

[2020-03-07 18:03] chinnawatsut commented on #5036
@kevinlin505 not yet.

[2020-03-07 18:30] vardan099 commented on #4968
Did you find How to change the target language in runtime?
I have the same issue

[2020-03-07 18:33] KhalidBhyan commented on #4968
@vardan099 check the solution above, I edited the original question

[2020-03-07 19:23] fkoh111 commented on #4512
Note to self: Update your .gitconfig 💯

[2020-03-07 22:37] #4627 closed

[2020-03-08 00:28] Groot90 opened #5061 "Problems with callback url being on different domain than SPA"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **
I'm trying to have a single Cognito User Pools auth sign in callback url ( redirectSignIn in Amplify's terms). However, the app I'm building needs to be able to run from multiple (many) domains.

I'm not sure why it doesn't seem to be possibl

[2020-03-08 00:31] ohsik commented on #3089
I had the same issue and spent the entire day to figure it out lol This worked for me for my case. https://docs.aws.amazon.com/amplify/latest/userguide/custom-build-image.html#setup-live-updates

[2020-03-08 00:46] danmight commented on #3947
I'm facing something identical. Anyone figure this out. I keep getting 403 errors trying to use amplify to put something to S3 or use an API I chose to be for authenticated users. If I make the S3 buck public I can put and get just fine. To get around the issue on the API endpoint I mad a cognito authorizer and skipped the IAM role usage but I can't do that with s3 calls that I know of. Also, it s

[2020-03-08 01:35] Groot90 commented on #5061
To add some more context here:
I'm trying to implement "State" parameters redirection, described here, using Amplify + Cognito User Pools:
https://auth0.com/docs/users/guides/redirect-users-after-login#keep-reading

[2020-03-08 03:57] charl8182 commented on #2588
I'm having this exact same issue right now

[2020-03-08 13:45] rvanbael opened #5063 "Add React to existing project"
Hey, I have an iOS running app on AWS backend, managed through Amplify. I want to add an admin react website to manage easily the backend data. I will [add a group to my cognito for admin](https://aws.amazon.com/fr/blogs/mobile/amplify-cli-enables-creating-amazon-cognito-user-pool-groups-configuring-fine-grained-permissions-on-groups-and-adding-user-management-capabilities-to-applications/). I wil

[2020-03-08 17:34] danmight commented on #5058
I was able to solve this. When ampify generated the federated identity pool it set the "Get Role" to "From Token". I'm not sure if that is correct or not, but if I switch it to "Default Role" and make sure the authRole is set correctly for authenticated users, it works. However, this still doesn't fix the API gateway auth issue from my other issue above. I still have to use custom cognito authoriz

[2020-03-08 18:15] arnm commented on #4257
any updates? seems like I always get a Promise and not Observable. It is a little annoying

[2020-03-08 19:49] Groot90 commented on #5061
The code change in PR #5062 seems to be working - callback url on another domain can be used this way. However, I'd like to hear your comments on this issue. I'm wondering why this is needed? Was this intended behavior or a bug? Thank you!

[2020-03-08 20:20] codingyourlife commented on #3435
+1

[2020-03-09 02:26] 2RajShaikh commented on #678
Still facing this issue on latest amplify version `aws-amplify: ^2.2.6` and Angular 8

ReferenceError: global is not defined
    at Object.../../node_modules/aws-sdk/node_modules/buffer/index.js (index.js:43)
    at __webpack_require__ (bootstrap:83)
    at Object.../../node_modules/aws-sdk/lib/browserHashUtils.js (browserHashUtils.js:1)
    at __webpack_require__ (bootstrap:83)
    at Object.../.

[2020-03-09 04:57] michaelcuneo opened #5064 "aws-amplify-react custom federated icons"
I've tried a tonne of different ways to customise the aws-amplify-react federated icons but it appears as though they don't change no matter what I do.

I've tried modifying and supplying a custom theme, and I've changed 'SignInButton, SiginInButtonIcon, SignInButtonContent, FacebookSignInButton, GoogleSignInButton, Button, ... they all appear to overlap, and the examples have alternating button s

[2020-03-09 09:15] annjawn commented on #4982
+1. I am facing this issue as well. Only in iOS, Android seems to be fine.

[2020-03-09 09:37] annjawn commented on #1814
Did this ever get resolved? I am also encountering this exact issue. It only happens in iOS with react native bit works fine in Android.

[2020-03-09 11:51] bhaweshtanna commented on #2777
do we have any time line on this? we have selected verification link in cognito. however user is getting passcode to verify email

[2020-03-09 16:28] ericclemmons commented on #5046
@jakobpack Thanks for the detailed information! (And also, nice job using `<details>`! 👏)

I have a test app doing the same (`amplify add auth` with Federation) that works based on the docs here:

Since your config indicates user pools, Cognito is handling the OAuth token management, so you shouldn't need to handle tokens yourself if you only need social providers for handling authentication.

Wit

[2020-03-09 16:40] vishal-android-freak commented on #1852
https://github.com/agnostech/flutter_amplify

We are building the entire Flutter Plugin Stack for the Amplify SDK. It's very early days and we have added Cognito support. Feel free to send PRs and contribute. Expect the documentation to go live in the next 2-3 days :) Cheers!

[2020-03-09 17:20] adityats2020 opened #5067 "[Javascript] How do I set aws credentials to the API without using AWS Cognito?"
**Which Category is your question related to?**
Auth
**What AWS Services are you utilizing?**
Direct call to API Gateway using REST API
**Provide additional details e.g. code snippets**
Using API to make REST calls to API Gateway.

How do I set AWS Credentials (access key, access key id, session token), without using AWS Cognito.
Language used: Javascript

[2020-03-09 18:44] elorzafe commented on #5050
@TheMoums thanks for the feedback

Do you have a code snippet on how you are doing that?

[2020-03-09 19:24] ashika01 commented on #5063
@rvanbael  Have you tried copying your `aws-exports` from existing into your react project ?

I guess there is 2 scenarios. 1) sharing aws-exports to share same backend. 2) you can use `amplify pull` with existing app id. [doc](https://aws-amplify.github.io/docs/cli-toolchain/quickstart#amplify-pull)

[2020-03-09 19:24] kldeb commented on #2184
None of these solutions are working for me including @elorzafe. Has anyone found another solution?

[2020-03-09 19:51] bhaskarmurthy commented on #4549
Would like this as well - an example use I have is to customize the safeareainsets for navigation.
In general though - do we need SafeAreaView at all here? Why not just let the parent component of this view manage SafeAreaView if needed instead of forcing use here?

[2020-03-09 20:03] raelmiu commented on #5040
Still having this issue, if an array is empty it doesn't save.
If an array only contains an empty string, it doesn't save.

[2020-03-09 20:09] ashika01 commented on #5064
@michaelcuneo Hey, did you try something like this?
[code]

This should let you change the style other than the svg of the icon. We dont apply the theme onto the icon svg itself to follow federation provider's default guidelines.

Note: if you are changing this styles you might wanna follow style/branding guidelines of respective federation provider.
eg: for google - https://developers.google.com/

[2020-03-09 20:14] ashika01 commented on #5067
@adityats2020 are you using Amplify for setting these up?

[2020-03-09 20:18] ashika01 commented on #5058
@danmight could you provide some info on how to setup amplify project?

[2020-03-09 21:10] alexofob commented on #54
Amplify is full of surprises. Easy things are not simple as they say. This issue should not be open till now.

[2020-03-09 21:53] kceb commented on #3435
Waiting on this as well

[2020-03-10 00:04] michaelcuneo commented on #5064
I’m a creative technologist so I always adhere to style guides. The problem is, there’s no theme. My buttons look terrible by default. The google icon is a G about 1mm tall in a half height box. And the Facebook icon doesn’t exists. This is with an <Authenticator /> component.

[2020-03-10 00:07] ashika01 commented on #5064
@michaelcuneo could you post a code sample I can just paste and run? I tried with `GoogleButton`.

[2020-03-10 02:11] danmight commented on #5058
You can go ahead and close this. I don't have the console logs from when I set it up, but I don't think I chose anything crazy or did anything that didn't involved amplify <service> add and follow the questions it asks. I was able to at least figure out a solution to move forward, so that is good!

[2020-03-10 02:53] ashika01 commented on #5058
@danmight Yeah, I have seen that certain times where something in the setup has been incorrect or something from cache messing around. As long as you got it going forward, its all good. If you have any other issues or need clarifications feel free to open up a new issue :)

[2020-03-10 02:58] michaelcuneo commented on #5064
[code]

[2020-03-10 03:21] ashika01 commented on #5064
I could still change the style using theme. Like this
[code]

<img width="542" alt="Screen Shot 2020-03-09 at 8 17 24 PM" src="https://user-images.githubusercontent.com/35131273/76276493-3af9c600-6243-11ea-9489-0b44531d8a0a.png">

Pardon my random styling. Just testing it out real quick. Since we dont apply theme on the icon's svg itself, you might have to work around it or another solution would

[2020-03-10 04:01] alexabidri commented on #4580
I am also facing the issue with the "null" app name and created a topic in the apple community

https://forums.developer.apple.com/thread/129899

Please guys support this thread to raise the issue to Apple as I truly believe this is a native issue from iOS

[2020-03-10 04:16] michaelcuneo commented on #5064
I'm sure you can 'change' the styling... my issue is, I don't have any. So I was trying to rebuild the styling myself...

This is what mine looks like by default, with no changes. Half height Google window, tiny 1mm high G, no Facebook Logo.

<img width="525" alt="Screen Shot 2020-03-10 at 3 15 43 pm" src="https://user-images.githubusercontent.com/12700009/76279239-0852da80-62e2-11ea-90fd-9582447b

[2020-03-10 04:18] michaelcuneo commented on #5064
I have built an entire theme and imported it using the sample template... but it does not function to change any of the SVG icons or anything as expected.

[code]

[2020-03-10 04:20] michaelcuneo commented on #5064
I can use your code, and supply a theme with a colour... but it still looks like this, with no icons displayed correctly.

<img width="525" alt="Screen Shot 2020-03-10 at 3 19 57 pm" src="https://user-images.githubusercontent.com/12700009/76279408-9e870080-62e2-11ea-8f15-b0a8208ba53d.png">

[2020-03-10 04:27] ashika01 commented on #5064
@michaelcuneo Interesting some how your styling isn't rendering properly. Even the defaults. could you give me screentshot of ur inspect screen? on the icon?

[2020-03-10 04:31] michaelcuneo commented on #5064
The .SVG Viewbox is 0x0

<img width="2646" alt="Screen Shot 2020-03-10 at 3 30 31 pm" src="https://user-images.githubusercontent.com/12700009/76279814-1f92c780-62e4-11ea-9f68-7433d8e93855.png">

[2020-03-10 04:32] michaelcuneo commented on #5064
I forgot to mention... Obviously my facebook and google values for the Federation are valid and active (I've had issues with the buttons not rendering correctly in the past when the Federation Config wasn't correct, but these are both valid, and result in a successful login on click.

[2020-03-10 04:38] ashika01 commented on #5064
Shouldn't be a problem. Appreciate you calling it out 👍 Let me compare my css with yours.

[2020-03-10 04:43] michaelcuneo commented on #5064
Here's a slightly better shot, with way more CSS...

If I mouse over the internal .SVG Components, they're actually spaced out all over the form itself... overlapping username, password, both buttons... odd.

<img width="2646" alt="Screen Shot 2020-03-10 at 3 42 04 pm" src="https://user-images.githubusercontent.com/12700009/76280377-c4fa6b00-62e5-11ea-8c3b-f71a6e0b14b9.png">

[2020-03-10 04:45] michaelcuneo commented on #5064
Here's a shot showing the first segment of the Google Logo showing up half-way through the form.

<img width="2646" alt="Screen Shot 2020-03-10 at 3 44 25 pm" src="https://user-images.githubusercontent.com/12700009/76280470-160a5f00-62e6-11ea-8169-a0fee06749ea.png">

[2020-03-10 04:49] ashika01 commented on #5064
@michaelcuneo So I ma seeing your SVG styles to be way different than mine. are you changing svg styles in general in your app somewhere?

[2020-03-10 04:58] michaelcuneo commented on #5064
I have a single global style that doesn't appear to affect any .SVG styling.

[code]

I do use a lot of SVG's in this app, the background, logo's, image frames, etc... but it's all just straight up .SVG pulled in without any .CSS manipulation.

[2020-03-10 04:59] ashika01 commented on #5064
@michaelcuneo : Found it, the style tag that bringing in these `box-sizing` and `background-repeat` is the cause of the problem I guess. If you just turn those off in inspect and see if everything is normal?

<img width="316" alt="Screen Shot 2020-03-09 at 9 56 54 PM" src="https://user-images.githubusercontent.com/35131273/76281067-363c0e80-6251-11ea-9c02-cc1d4d29fc98.png">

[2020-03-10 05:01] ashika01 commented on #5064
@michaelcuneo Global injects can be tricky sometimes. Let me know how it goes after disabling these two in the inspect. If it works as expected then I would suggest to correct the global styles accordingly.

[2020-03-10 05:04] michaelcuneo commented on #5064
Interesting. This `*, ::before, ::after {}` exists nowhere in my code, when I do a 'Find all in files.'

[2020-03-10 05:07] michaelcuneo commented on #5064
Which means... I didn't write it, It would be coming from something I imported. I guess I'll have to run through every single one of them and find out which one it was... or just *, ::before, :: after { Important! }; to force it back to default on the page before the login displays?

[2020-03-10 05:12] michaelcuneo commented on #5064
Box-sizing was in React-Bootstrap. I was using Forms from this, I'll be switching this to rebass and Formik ... there's half the problem solved.

[2020-03-10 05:13] ashika01 commented on #5064
Not sure where its coming I see `box-sizing` in `html` of your global style. But I would think it not to be applied here. IMO, putting the page to its default's should work. But I dont think its an issue with amplify tho :) Let me know how it goes. If this is no longer and issue, please feel free to close this.

[2020-03-10 05:14] ashika01 commented on #5064
Ah ha.. I see. Yeah. sure try that. If you have any other issue , open a new issue.

[2020-03-10 05:16] annjawn commented on #54
This problem has come back to bite me in my 5th project so far with Amplify. It makes no sense that there is no bi-directional mapping between User Pool and the Identity Pool identities. Especially, in case of Federated user pool. I have federated User pool with SAML, Google, and Facebook and mapping which user is the identity in the identity pool has been a pain in the behind unless we do some ha

[2020-03-10 05:16] michaelcuneo commented on #5064
I have found where it comes in before and after... Sanitize.css.

[2020-03-10 05:22] rvanbael commented on #5063
Thank you @ashika01  for your help.
I cannot share aws-exports file, as it does not exist. For iOS project that I use, this is not an aws-exports file that amplify generate. I think the equivalent are files called "awsconfiguration.json" and/or "amplifyconfiguration.json" that are in my iOS folder.

Same answer for amplify pull, there is no aws-exports file to pull.

I need to generate this file b

[2020-03-10 05:25] waldothedeveloper commented on #824
Hey @L226  I am using Cognito with a manual config on Amplify, and I'm getting that nasty CORS issue despite following your steps as well...

You mentioned that your authorizer was configured for Cognito, isn't it supposed to be configured like that in my case if I'm using Cognito with Amplify?

[2020-03-10 07:24] raelmiu commented on #5040
Can't save any models now, getting an undecipherable error:

[2020-03-10 08:45] babus commented on #54
Hmm, this is an early sign of AWS abandoning Amplify. I would recommend anyone to move away from Amplify whenever possible. There have been so many promises in the documentation at-least with the way it was written but then the product manager like me end up burning my dev's time just to hit into a dead end in future.

[2020-03-10 09:09] TheMoums commented on #5050
Of all my models, I had to choose 16 of them that would still have the offline capability provided by Datastore. For the others (like the example below) I had to sacrifice the offline sync
[code]
When compiled with _amplify codegen models_ the 3 subscriptions (onCreate, onDelete, onUpdate) for this model disappear in the resulting schema.graphql. However my frontend seems to believe that there are

[2020-03-10 09:30] damjanvucina commented on #3435
Waiting

[2020-03-10 11:27] DavidAlvarado23 opened #5069 "Observable is not a constructor"
I am using AppSync's subscriptions on React with Typescript and Parcel as bundler. When I try to make a subscription with Amplify I get the following error:
[code]

I've tried installing the individual amplify packages such as @aws-amplify/api @aws-amplify/pubsub and configure them after amplify, but didn't work.

[code]

**Packages**
[code]

**Sample code**
I do the Amplify configuration in the i

[2020-03-10 15:15] #4275 closed

[2020-03-10 16:09] danielblignaut commented on #3494
+1

[2020-03-10 17:07] undefobj commented on #54
@babus Amplify is not being abandoned by any means, in fact we invest into it more every day. We are in discussions on this issue with the Cognito team.

[2020-03-10 17:12] ashika01 commented on #5063
@rvanbael Let me check that out and get back to you.

[2020-03-10 17:17] annjawn commented on #54
I think Amplify has had some major improvements since AWS Mobile Hub days, but I think specific to Cognito as a service, there's also much work to be done. I am eager and excited to see those improvements coming up in the future.

[2020-03-10 17:28] richAtreides opened #5070 "typescript react migration from js react"
I am trying to migrate my aws-amplify react application to TypeScript from JS. I've managed to get the new set up to compile but when I go to the browser I see the following error:

[code]

It seems that this is being caused by @aws-amplify/analytics but I can't seem to find the underlying issue or whats wrong. Can somebody please help?

[2020-03-10 17:36] alexkates commented on #4048
Running into the same issue @sorokinvj have you heard anything or figured this out yet?

[2020-03-10 17:52] davegariepy opened #5071 "Sync data from Aurora Serverless to Elasticsearch"
** Which Category is your question related to? **
data sources, @searchable graphql transform
** What AWS Services are you utilizing? **
Aurora Serverless, ElasticSearch

I would like to sync data from Aurora Serverless to Elasticsearch for text based search by users. It seems like Dynamodb does this automatically, but how would this be done with Aurora Serverless?

Thanks

[2020-03-10 18:55] maslennikov commented on #3495
Thank you @davidgatti for addressing this issue so openly. I've been developing my greenfield project with AWS services, and in conjunction with terraform it was an okay-ish experience so far. The only piece that missed was auth. Now all the base development is finished, and I need to pick up an auth solution. Although I've got used already to AWS bureaucratic documentation style, but something bu

[2020-03-10 19:03] ashika01 commented on #5070
@richAtreides what version of TS are you using?

[2020-03-10 19:52] kldeb commented on #2184
Fixed my problem by:

- deleting everything in `node_modules`
- deleting  `package-lock.json` file
- running `npm install`

[2020-03-10 20:02] richAtreides commented on #5070
Hey @ashika01. I’m using 3.8.3

[2020-03-10 20:03] alenkis opened #5072 "Override SignUp component signUp method"
** Which Category is your question related to? **
Auth using `aws-amplify-react`'s `Authenticator` component
** What AWS Services are you utilizing? **
Cognito

Is it possible to override or intercept in some way `signUp` method of a `SignUp` component?
I'm utilizing all the other components when using `Authenticator`, but when using `SignUp` component I would like to call my REST API, instead of

[2020-03-10 20:10] ashika01 commented on #5070
@richAtreides Yeah ping me whenever you get on your machine. I will take a stab to reproduce this. Knowing the exact version could help nailing the cause and debugging faster :)

[2020-03-10 20:21] adityats2020 commented on #5067
@ashika01 Yes, trying to use Amplify to talk to API Gateway, but without using Cognito.

[2020-03-10 20:45] GeorgeBellTMH commented on #4483
So switching the View to a ScrollView in SignIn.js resolves the issue...

<Header theme={theme}>{I18n.get('Sign in to your account')}</Header>
					<View style={theme.sectionBody}>

<Header theme={theme}>{I18n.get('Sign in to your account')}</Header>
					<ScrollView style={theme.sectionBody}>

[2020-03-10 20:57] ashika01 commented on #5067
@adityats2020 do you have sample code or repo which can help to understand your use case better?

[2020-03-10 20:59] dabit3 commented on #3495
@maslennikov I’m curious which features you are seeing Firebase offer that Cognito does not.

This info will be a big help for the teams to further improve what Cognito offers.

[2020-03-10 21:09] minaairsupport commented on #2184
for me that's working  use `aws-amplify` instead of `@aws-amplify`

[code]

[2020-03-10 21:31] ashika01 commented on #5064
@michaelcuneo Have you got it resolved.? I am closing this issue as the styling issues isn't coming from amplify. I can still help you on the thread here.

[2020-03-10 22:54] maslennikov commented on #3495
@dabit3 for me, Cognito seemed bulky from the very beginning. I have not used it, it was scarry even to begin playing around with. I looked for something with a very small surface of caring about and simple integration into my react frontend and api. Neither Cognito, nor Amplify promised anything of it. Reading this thread just confirmed my gut feeling.

[2020-03-10 23:03] dabit3 commented on #3495
Ok got it. I would just throw out there that auth / Cognito is the most used used API for Amplify and  only takes a couple of minutes to set up.

I would give it a shot as well to make an informed decision and if you then find something that we can improve on let us know.

[2020-03-10 23:11] jkeys-ecg-nmsu commented on #3495
@dabit3 one big thing for me is the Cognito console doesn't even provide parity with the CLI. So account administration that typically isn't done by a programmer either (1) falls to a programmer who knows how to interact with the CLI, or (2) requires creating a wrapper interface in your own SPA / website around Cognito for your admins.

Biggest one off the top of my head is inability to update cus

[2020-03-10 23:51] brainstorm commented on #3495
@dabit3 Make sure the Cognito docs are publicly pull-requestable on GitHub too, they don't seem to be there last time I checked: https://github.com/igvteam/igv/pull/691#issuecomment-592275273

[2020-03-10 23:54] michaelcuneo commented on #5064
I’d have to disagree with you on that one. The styling isn’t ‘coming’ from Amplify, but it’s running alongside a styling that hundreds and thousands of people rely on. Amplify isn’t working properly with Sanitize.

If Amplify doesn’t work with a best practises boilerplate it might be an issue with the way Amplify is styling the buttons.

[2020-03-11 01:17] danrivett commented on #4025
I have the same issue too using Expo 36. I just decided to stop using the `withAuthenticator` as spent over an hour trying different things, and although downgrading as per @Arjanvanmaren's comment seemed successful, I got React deprecrated warning messages because some of the HOCs provided were using old Component lifecycle methods.

Crazy this hasn't been reproduced. /cc @elorzafe

[2020-03-11 05:17] undefobj commented on #5049
DataStore is automatically synced with the cloud, the mental model is just work on the data and it takes care of everything for you. When your client has network connectivity this happens via GraphQL subscriptions. When the client is offline the missed items are written to a separate DynamoDB table as a change journal so that upon coming back online only the deltas go down to the client. More info

[2020-03-11 05:17] #5049 closed

[2020-03-11 05:23] undefobj commented on #5008
I'm not sure exactly what you mean by a custom mutation, but perhaps I can give more context. When you provision a DataStore backend and perform a `.save()` operation the mutations will automatically take place for you, including an enquing process on the client. The resolvers are automatically wired up to DynamoDB and do not use Lambda functions. Custom Lambda functions as the resolvers are not s

[2020-03-11 06:10] undefobj commented on #4654
@groundswel The best place to start is with the autogenerated schemas by the GraphQL Transformer which you can see in the Getting Started guide: https://aws-amplify.github.io/docs/js/start?platform=purejs

That guide shows custom variables using mutations, but as you note queries are similar. Additionally you could also look at DataStore which handles all this behind the scenes for you: https://aw

[2020-03-11 06:10] waltermvp opened #5074 "Datastore not syncing due to auth."
** Which Category is your question related to? **
Datastore / API
** What AWS Services are you utilizing? **
 Cognito, AWS AppSync, Dynamo.

The local datastore does not sync with the backend I get the following error:

`[WARN] 05:04.399 DataStore - Sync error subscription failed Connection failed: {"errors":[{"errorType":"UnauthorizedException","message":"Permission denied"}]}
`

I have am using

[2020-03-11 06:45] ashika01 commented on #5033
@nbedevi we will mark this as feature request and will add the support for this with the upcoming UI project. You can read more about this https://github.com/aws-amplify/amplify-js/issues/3279 and let us know your support for the project.

[2020-03-11 06:46] ruodingt7 commented on #2089
Keen to know any update on this thread?

[2020-03-11 06:58] revmischa commented on #3495
The issues with Cognito and Amplify are quite obvious to anyone who tries to actually use them. If someone from the Cognito team would actually try to use Cognito they would understand the pain points we've experienced.
Try making a signup flow that doesn't require user verification! Try using TypeScript! Try using Amplify with FB or Google auth! Try adding a user attribute with CloudFormation aft

[2020-03-11 07:28] davidbiller commented on #2089
My workaround is:
Create an account with deviceID as Mail and password. Than the user can change later mail and password.

But yes! It’s important to get this function from cognito.

[2020-03-11 08:50] ajhool commented on #3964
This is clearly not a resolution to this bug and it is a bad workaround. The delete resolver for a connection should delete the pointer on the other side of the connection (obviously). Simply setting the connection to be nullable is not an appropriate fix and this should be considered to be a bug in how @connection works. Everytime somebody calls Amplify's `deleteItem` resolver, they are orphaning

[2020-03-11 09:01] richAtreides commented on #5070
@ashika01 I found it! its 4.12.0.

[2020-03-11 10:28] davidgatti commented on #3495
What @revmischa wrote is the distilled version of this whole discussion.

[2020-03-11 10:47] AndrewPrifer commented on #5049
@undefobj so it synchronizes with the cloud as often as it can? I know how it works, I just wasn’t sure if there’s some extra request batching logic we can rely on.

[2020-03-11 11:25] babus commented on #54
@undefobj That's glad to hear. But let's solve it first and then talk. This issue is basically a very root issue with not so ever understanding of how cognito and storage work together and it's been here for the past 2 years.

To the downvoters, people are paying to AWS by using Amplify and this isn't just a open source library where I cannot be toxic. This is a paying customer expecting some basi

[2020-03-11 11:27] ashika01 commented on #5072
@alenkis The current authenticator component always calls `Auth.signIn`.  Your best bet like you mentioned would be to create your custom component. If you would like to open up a PR for the change to existing React, to make it more pluggable, we can help you see it through.

However we are working on new UI structure and the theming roadmap includes to have a global brand and use it with any comp

[2020-03-11 11:36] richAtreides commented on #5070
I've fixed it. The thing to notice is that when you use aws-amplify-react rather than vanilla react is that the build commands in the react scripts do not need to be changed as per the official MS documentation on migrating to react-ts from react-js. Therefore make sure you **do not** do this:

`"scripts": {
    "start": "react-scripts start-ts",
    "build": "react-scripts build-ts",
    "test":

[2020-03-11 11:39] ashika01 commented on #5070
@richAtreides I was just about to reproduce this. So does that solve the TS issue all together? Could we close this issue then?

[2020-03-11 12:16] DavidAlvarado23 commented on #5069
**UPDATE:**
Find out that every package in @aws-amplify/api and @aws-amplify/pubsub imported the library 'zen-observable' as:
`import * as Observable from 'zen-observable';`

When it should be imported like:
`import Observable from 'zen-observable';`

As their documentation explains [zen-observable](https://github.com/zenparsing/zen-observable) . Made this changes locally and worked, but not sure

[2020-03-11 14:47] alenkis commented on #5072
@ashika01 Thank you for the explanation, these are very good news regarding the new UI structure. I'll see if I can help out in any way.

In the meantime, it seems the best approach for this situation is to try to utilize `amplify-ui` styles and build custom components

[2020-03-11 16:05] undefobj commented on #5049
Yes that's accurate. No batching is necessary.

[2020-03-11 16:51] nelsynelz commented on #5043
Any updates on this?

[2020-03-11 17:10] #4295 closed

[2020-03-11 18:46] wansco commented on #3495
This is painful to watch. Apparently no one from AWS paying attention. Ordinarily I wouldn't have considered other options, but firebase is looking awfully promising. Cognito and amplify are horribly broken and if AWS needs to ask how/why, then they have already lost the battle. https://xkcd.com/2278/
@revmischa sums it up nicely. Get someone who isn't on the dev team to do just about any cognito/

[2020-03-11 18:46] jisraeltoledo commented on #3435
This is not correct, after global signout, if you send the idToken to an API using Cognito authorizer, the request is still valid.

[2020-03-11 18:50] ashika01 commented on #5072
@alenkis : Yup. Mocking pretty much what we are doing in the [`SignUp` component](https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-react/src/Auth/SignUp.tsx) and then calling your signIn function instead of `Auth.signIn` should help you keep the follow and style.

If this answer the question feel free to close the issue. If you have hit road blocks further along the way,

[2020-03-11 19:09] dabit3 commented on #3495
@wansco @revmischa we appreciate this feedback and are indeed working on improvements based on this thread.

[2020-03-11 19:11] anthonyhumphreys commented on #3495
I think people can be a little quick to judge and pass comment when there are some dedicated individuals trying their best to take on board our feedback and we should look to ways of facilitating this communication rather than being quite so blunt with the AWS folks, that doesn’t achieve anything.

________________________________
From: Nader Dabit <notifications@github.com>
Sent: Wednesday, March

[2020-03-11 19:21] OtavioBraga commented on #4025
We are experiencing this error too with typescript on rect native 61.5. Downgarding to 1.1.29 solved the problem temporarily. We're suspecting that this error occurs due a circular import in the lib.

[2020-03-11 19:26] ashika01 commented on #5069
The reason we had to take this route , is because when the package is exported as CJS modules, and then consumed or imported as ES6 modules (i.e. using import style statement) then using default exports was causing issues.

[2020-03-11 19:45] wansco commented on #3495
I don't mean to pile on the devs. This should entirely be blamed on the managers that needed to check a feature box and pushed this out the door. AWS devs, please accept my apologies and hopefully someone up the chain will wake up and expand your team to tackle these issues.

From the outside it just appears that cognito/amplify is woefully under-resourced, which is not my experience in other area

[2020-03-11 20:15] ashika01 commented on #4962
@dimonchik-com You should definitely remove your aws-exports and expire any token exposed. It sure is a security risk.

[2020-03-11 20:22] undefobj commented on #3435
This is correct, JWT tokens are signed and this check is valid until they have expired. Invalidation means an out of band disabling of a token before the expiration time has passed even with a valid signature. This feature is not available in Cognito today however we have passed this request to the service team and they are evaluating it in their roadmap. I'll mark this issue as a Feature Request

[2020-03-11 21:27] DavidAlvarado23 commented on #5069
I understand, but is there another way to make this work with Parcel? Since I think that is the problem. Can it be changed to use Observable.default or verify which is the correct class to instantiate?

[2020-03-11 22:58] ruodingt commented on #2089
@davidbiller
Are you using Cognito for authentication?
Cognito normally requires verify email. How do you bypass that?

[2020-03-12 01:18] jwallender commented on #4035
I know Cognito has already released a solution to this, but I was also looking for the ability to remove spaces from the username when someone is entering it, because pastes and and some auto-fill extensions/plugins/tools (for whatever reason) end up including a space at the end of the username; in which case, cognito says it's invalid. So if anyone is still looking for a solution to this for the

[2020-03-12 01:39] jalmazora commented on #2033
@ngoyal16 how did you fix this?

[2020-03-12 02:36] rachitdhall commented on #3495
Hello, checking in from Amazon Cognito. Let me start by saying we recognize and acknowledge your frustration and we appreciate the continuing feedback you have provided. We understand the reasons you are asking for better documentation, changes to existing functionality or new features. We could have done a better job communicating that in the last few months we have addressed some of the feedback

[2020-03-12 02:37] #3495 closed

[2020-03-12 08:08] davidbiller commented on #2089
@ruodingt

Yes. I do.
Use this pre sign up lambda:

exports.handler = (event, context, callback) => {
    event.response.autoConfirmUser = true;
    context.done(null, event);
};

[2020-03-12 09:48] nihp commented on #5072
@ashika01 I have a question about aws-amplify-react-native. I just imported all the components for eg. (SignIn, SignUp, Forgot password and all the other screens from aws-amplify-react-native) itself.

Here how can I add the custom error messages.

For eg) I have network issue while giving forgot password. It shows the error as Network error. Then how can I refactor this error message and all othe

[2020-03-12 09:50] cedvdb commented on #4744
Ivy and ng9 support would be more than welcomed. The angular team fixed the _spread issue, but there is still an issue with AmplifyIonic module that does something with the FormModule.

Thing is ng9 also bumps the typescript version and so on so it's a bit annoying.

[2020-03-12 10:22] jakobpack commented on #5046
@ericclemmons Thanks!

I tried to open Cognito Hosted UI via `Auth.federatedSignIn()`. It opens the browser but displays following error message:

There is also following error type in the URL: `error=redirect_mismatch`.

The same goes for `Auth.federatedSignIn({ provider: 'Facebook' })`.

[2020-03-12 10:29] nihp commented on #5036
I am using aws-amplify-react-native. Here I imported all screens from the package itself.

Any option to customize the error message using this package?

i```
mport {
  Authenticator,
  AmplifyTheme,
  Greetings,
  SignIn,
  ConfirmSignIn,
  RequireNewPassword,
  SignUp,
  ConfirmSignUp,
  VerifyContact,
  ForgotPassword,
  AuthPiece,
} from "aws-amplify-react-native";
[code]

[2020-03-12 10:38] nihp commented on #3986
I am using aws-amplify-react-native. Here I imported all screens from the package itself.

Any option to customize the error message using this package? For eg) I saw a network error below the screen. I need to refactor that. Many other error message alone needs to change

Note: I am using the same UI from this package. Not customized.

[code]

[2020-03-12 10:59] milo- commented on #4025
I just ran into this in a new react-native TS project after I added babel-plugin-module-resolver. I've added step to reproduce the issue here, along with the source https://github.com/milo-/AmplifyTest.

[2020-03-12 12:01] nihp commented on #4473
How can I refactor this error message. I am using the aws-amplify-react-native package imports.

**Custom auth lambda trigger is not configured for the user pool.** to  **Please enter the password**

[2020-03-12 13:06] OtavioBraga commented on #4025
@milo-, can confirm, i've reproduced the bug following the steps.

[2020-03-12 13:31] michaelcuneo commented on #4813
I've used this version of 'Connect' to get my multiple subscriptions working, but it throws two warnings, then an error `'TypeError: Must provide source. Received: Undefined.`

This is my connect...
[code]

And my custom subscriptions...

[code]

[2020-03-12 13:59] MattiaCostamagna opened #5075 "Receiving warning "Setting a timer for a long period of time, i.e. multiple minutes, is a performance and correctness issue on Android""
**Describe the bug**
I'm developing a mobile application using React Native and I'm trying to integrate it with my API using the AWS Amplify SDK for Javascript. It's all working nicely except for a warning I'm getting due an AppSync subscription. Here's the message:
` WARN  Setting a timer for a long period of time, i.e. multiple minutes, is a performance and correctness issue on Android as it kee

[2020-03-12 14:28] OtavioBraga commented on #4025
We solved the problem removing the root key from the babel.config.js.

**Before:**
[code]
**Then:**
[code]

[2020-03-12 14:47] nylki opened #5076 "React-Native: signing out, clearing DataStore and creating new user throws errors when trying query DataStore"
**Describe the bug**
When `Auth.signOut()` is called by a subsequent `DataStore.clear()`, `Auth.signUp()` and `Auth.signIn()` of that newly signed up user, results in errors when trying to query the DataStore for items that should be accessible by everybody:

[code]

When closing and re-opening the app, I can succesfully query the items that errored out previously.

**To Reproduce**
My **App.js**

[2020-03-12 15:45] SebSchwartz opened #5077 "DataStore: How to know when sync is finished"
** Which Category is your question related to? **
DataStore
** What AWS Services are you utilizing? **
AppSync
** Provide additional details e.g. code snippets **
How can we know that DataStore has finished the sync?
When doing the first ```await DataStore.query(MyEntity)```  after user logged in, DataStore is returning right away and not waiting for the list to be sync with the cloud (500 objects

[2020-03-12 15:56] jliebrand commented on #3365
Any update on (a) when this will be merged in to the main release, and (b) when GraphQL will be removed from those needing only the API ?

[2020-03-12 16:11] MattiaCostamagna opened #5079 "I18n: Allow grouping labels in vocabulary"
I think it would be useful to have the possibility of grouping the labels in the vocabulary in order to keep them organized.
Here's an example:

[code]

Retrieving the labels could be done by calling the `get` function in the following way:
[code]

I know this might result in duplicate labels (as the `email` field in the example above), but as I said before it'd definitely help keeping them organi

[2020-03-12 16:20] sammartinez commented on #3365
Hey everyone, wanted to provide an update of the Modularization work, we currently heads down on this in order to deliver this feature in the coming weeks. Will provide an update on this next week for you. Thanks!

[2020-03-12 16:30] ericclemmons commented on #5046
Ah!  This would be the first thing we'd want to troubleshoot.

When you run `amplify status` in your console, the last line should list URLs like so:

[code]

Click the "Test Your Hosted UI Endpoint" and try out the flow there.

Mine, for example, redirects back to my app at `http://localhost:3000`.

Let me know how far you can get.  I suspect that you need to add the correct Cognito endpoints to

[2020-03-12 19:09] megasolis opened #5080 "React-Native: Datastore not syncing/subscribing after signing out and signing in with new user"
**Describe the bug**
When I sign in with a new user after using `withAuthenticator` HOC "Sign Out", DataStore doesn't syncs with the data of the new signed in user and the datastore subscriptions stop working.

After closing and re-opening the application, both the syncing process and the subscriptions start working as expected, and I can see the updated data for the currently signed in user.

**T

[2020-03-12 19:25] Ashish-Nanda commented on #5080
@megasolis thanks for opening the issue. I'll work on reproducing it.

[2020-03-12 19:27] yirako commented on #5080
I came across with this bug before. It seems that DataStore initialized vars/params keep their values even when the subscription is not active (object is initialized and that makes it "unable" to sync with new data as something like a "last sync" property cache keeps its value).

Solution is to use `DataStorage.clear()` to reset such values, but then this bug takes place #5076, making the class/li

[2020-03-12 19:32] ashika01 commented on #5072
@nihp : Could you gimme a screenshot of the error?

[2020-03-12 19:45] ashika01 commented on #5079
@MattiaCostamagna : Hi, thanks for opening this feature request. Like you mentioned we may end up having duplications.

We are working our new UI system now. You can read more about this #3279 (https://github.com/aws-amplify/amplify-js/issues/3279). We have basic i18n setup of transalation constants here - https://github.com/aws-amplify/amplify-js/blob/ui-components/master/packages/amplify-ui-comp

[2020-03-12 19:45] #5079 closed

[2020-03-12 19:49] ashika01 commented on #5070
@richAtreides I am closing this issue as you were able to solve this. If you have any other issue regarding the support feel free to open a new one.

[2020-03-12 19:57] ashika01 commented on #5069
@DavidAlvarado23 Do you have a sample app or repo with the parcel setup that I could leverage to debug this?

[2020-03-12 20:03] yirako commented on #5076
It seems that `DataStorage.clear()` sets `storage` object to undefined and it doesn't get reconstructed on next calls.
![image](https://user-images.githubusercontent.com/12821092/76561330-b4263280-6468-11ea-83f0-55dd6b62f794.png)
Looking at DataStorage source this is correct.
![image](https://user-images.githubusercontent.com/12821092/76561445-ecc60c00-6468-11ea-9c17-0ba47bd6c6ef.png)
Now looking

[2020-03-12 20:04] danielblignaut commented on #5058
@danmight @ashika01  I've been battling this issue all day, think I figured out the gist of it. When IdentityProvider has choose from token and your user has custom group assigned to them, the role from their group overrides the default identityPool auth role... Therefore when performing operations to S3, the system is looking at your group role, which has no S3 policies attached.

[2020-03-12 20:06] danielblignaut commented on #5058
another hiccup when adding storage... if you want unauthorised users to have s3 access, "Enable access to unauthenticated identities" must be ticked in your IdentityPool which is not set to false in my instance (unsure if amplify auth cat lets you update this from the cli but it is listed as an option in the parameters.json file)

[2020-03-12 20:10] yirako commented on #5080
As my findings are more on the side of #5076, I commented it there, but the solution is pretty much it.

https://github.com/aws-amplify/amplify-js/issues/5076#issuecomment-598388173

Hope this helps you.

[2020-03-12 20:25] ashika01 commented on #5056
@t-moedano Hi, I am closing this issue since this we are tracking all the issues related to sign in for apple in #4580 . The last few comments talks about this exact issue. Please feel free to add more information in there and track the updates on the mentioned issue.

[2020-03-12 20:25] #5056 closed

[2020-03-12 20:39] ak37165 opened #5081 "Migration lambda not called in SignUp Flow"
**Describe the bug**
If we set up a migration lambda for the login and forgot password flow in AWS Cognito, that lambda is not called during the signup flow. So suppose we set up the user pool to use email as username. Then we set up a signup flow through our own server that checks if the new signup is using an email already in use in our legacy user database.

Now an attacker gets our AWS client

[2020-03-12 20:52] ak37165 commented on #5081
It would appear that we need to replicate some of the migration lambda functionality in the Pre-Signup lambda as that does get called in the signup flow. Is that the recommended approach?

[2020-03-12 21:13] danmight commented on #5058
@danielblignaut Genius! Thanks for posting what your follow up. This just connected the dot on the last piece for me. I could not figure out why an early version I had worked fine. I introduced groups on sign up later, so my original users did not have any assigned and that explains why they were working. I hadn't actually written code to do anything with the groups yet, but they were getting assi

[2020-03-12 21:44] AdonousTech opened #5082 "Does Auth.currentAuthenticatedUser() Automatically Refresh Token for LoginWithAmazon federated users?"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **
When I use `Auth.federatedSignIn({customProvider: 'LoginWithAmazon'});` the user is created in the user pool and appropriate tokens are returned (JWT and refresh).

According to the [documentation](https://aws-amplify.github.io/docs/js/authen

[2020-03-12 21:50] ruodingt commented on #2089
@davidbiller Thanks so much, that's really helpful.
So later user changes their password and email. That email has to be verified as well.
Will the verification be automatically triggered by Cognito or we have to configure somethings.

One more question may be off the topic a bit but I think it you probably also thought about it before:

Previously we use the post-confirmation trigger to send user

[2020-03-12 23:16] mikedizon commented on #4775
Incredible. The last update on that repo was nearly two years ago.

[2020-03-12 23:29] Amplifiyer commented on #3365
@jliebrand and @bezreyhan, we are in our final phase of testing the new modularization release and is available for you to test as well using [preview tag](https://www.npmjs.com/package/aws-amplify/v/1.1.31-preview.102). Can you try testing that release in the meantime and let us know if you face any issues?

[2020-03-12 23:43] davidbiller commented on #2089
There is a cognito function for this. You will find it easy.

You can’t send a mail without the mail address. But you can send it after the „fake“ signUp.
I build a ui as a signup, but it’s a password and mail change :)

[2020-03-13 00:32] bezreyhan commented on #3365
I'm using `@aws-amplify/auth`. What would be the best way to test out the preview tag?

[2020-03-13 03:41] undefobj commented on #5077
@SebSchwartz sync is a continuous process, it doesn't necessarily start or stop at a specific time. For instance if you are online events are entering the system via subscriptions. On the other hand when you transition from an offline to online mode there is a 3-way merge that happens between potential mutations in the offline queue, delta sync, and incoming subscriptions. Any mutations that have

[2020-03-13 03:50] undefobj commented on #5050
The 50 subscription default limit is currently under review with the AppSync team to see if it might be raised, however in the interim you can cut a support ticket with your AWS account to ask for a raise.

[2020-03-13 03:57] ashika01 commented on #5074
@waltermvp could you provide us with the schema you are using in Datastore? Also, if you can provide with sample code / repo we could look at?

[2020-03-13 04:07] angesh3 opened #5087 "How to configure and use AWS Amplify for Cognito user pool with SAML? Is it through "Auth.federatedSignIn()" or "Auth.signIn()""
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito "User Pool -> SAML (ADFS)"
** Provide additional details e.g. code snippets **
I am receiving token with the following url.
https://rapxxxx.auth.us-west-2.amazoncognito.com/authorize?idp_identifier=sandxxxxom&response_type=token&client_id=7sjs3u0xxxx&redirect_uri=http://localhost:8100

#my cod

[2020-03-13 04:15] ashika01 commented on #5072
@nihp : We generally pass down the error coming in from **cognito** services with exception to some validation in toast and also we have an [error message map here](https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-react-native/src/AmplifyMessageMap.js) .

If this is something you would like to see as a feature in UI. I would recommend you open a feature request with detai

[2020-03-13 04:15] ashika01 commented on #5072
Closing the issue as the original question has been answered.

[2020-03-13 04:15] #5072 closed

[2020-03-13 04:18] ashika01 commented on #5043
@nelsynelz: Thank you for bringing this up. Do you have sample code somewhere which we could take a look?

[2020-03-13 04:22] ashika01 commented on #5067
@adityats2020 We dont currently have a way in which you can achieve the result you are looking for. However, if you could provide us a detailed information about your use case and the data flow you are looking into. It would be useful for us to have some internal discussion or to open up a feature request for this.

[2020-03-13 04:22] #5067 closed

[2020-03-13 04:25] ashika01 commented on #5053
Hi @nihp, I realized you asked this question in another issue. I have answered the question here https://github.com/aws-amplify/amplify-js/issues/5072#issuecomment-598539666

Do you think you can extend the existing component and catch the error to create your custom error output?

[2020-03-13 04:31] ashika01 commented on #4344
Closing the question because of the lack of activity on the issue.

Also, our UI system is going through revamps. The new UI provides you the functionality you have questions around. If interested give it a try [New UI Components](https://github.com/aws-amplify/amplify-js/tree/ui-components/master/packages/amplify-ui-components#quick-start)

[2020-03-13 04:31] #4344 closed

[2020-03-13 04:33] ashika01 commented on #4301
Closing the issue due to inactivity on the issue. If you still have this error, feel free to open a new issue.

[2020-03-13 04:33] #4301 closed

[2020-03-13 04:36] ashika01 commented on #3819
@rawadrifai does @dantasfiles's answer your question?

[2020-03-13 04:41] ashika01 commented on #4922
@idanlo I will need to completely setup a push notification sample with your use case to test this out. Our official doc on Push Notification is [here](https://aws-amplify.github.io/docs/js/push-notifications) following this should let you send a successful push notification.

However, I have not tried setting user data like you have. My guess would be Analytics.updateEndpoint having conflicts wit

[2020-03-13 04:46] ashika01 commented on #4521
@amirmishani Do you think that answered your question? Are we good to close the issue?

[2020-03-13 04:49] ashika01 commented on #4521
@michaelcuneo I can point you to our implementation in the code - https://github.com/aws-amplify/amplify-js/blob/master/packages/datastore/src/storage/adapter/indexeddb.ts

This is the implementation code for indexeddb. Its not clear on what exactly you are trying to achieve with Datastore. Do you have an issue open already for this?

[2020-03-13 04:56] ashika01 commented on #4497
Closing this issue since we have archived the repo and there is note on the repo now indicating we have archived the repo.

[2020-03-13 04:56] #4497 closed

[2020-03-13 05:06] jonperryxlm opened #5111 "DataStore.query to return connected objects"
**Which Category is your question related to?**
DataStore

Is there a way to return connections when querying the DataStore?

Let's say I have the following schema:

[code]

If I query the Graphql API, I can ask for the following (and this is what would be autogenerated by the CLI)...

[code]

But if I query the DataStore with: `DataStore.query(Post, "my-id")` I would only get the Post object back

[2020-03-13 05:08] apoorvmote opened #5088 "Datastore cannot delete one to many relationship"
**Describe the bug**
I have simple one to many relationship. I haven't even gotten to many part yet. I am just testing adding and deleting to one part of relationship. I can add but I cannot delete. I get this error
` Failed to execute 'index' on 'IDBObjectStore': The specified index was not found`

**To Reproduce**
`npx create-react-app blog --use-npm --template typescript`
`amplify init`
`amplif

[2020-03-13 05:35] apoorvmote commented on #4552
I am also having same problem but with `@connection` with `@key`. I have made separate issue #5088 here

[2020-03-13 05:44] nihp commented on #5072
Okay @ashika. I have found it yesterday.

I can able to customize the error as per my wish using the errormessage map

I have one question if the user goes to confirmation code screen can I able to focus the input box, if i use the non customisable screen.

[2020-03-13 05:44] #5053 closed

[2020-03-13 05:49] nihp commented on #5053
Did you know about the sentry

On Fri, Mar 13, 2020 at 9:55 AM Ashika <notifications@github.com> wrote:

[2020-03-13 06:40] brianchan661 commented on #5017
I have the same problem, i can only get the user only after i refresh the page (or i should say, after some second delay).
It make my implementation difficult...

[2020-03-13 07:00] brianchan661 commented on #5017
@avlonder
I just find an old issue https://github.com/aws-amplify/amplify-js/issues/4621
and fixed it by listening to the sign in event

[2020-03-13 09:12] SebSchwartz commented on #5077
@undefobj Here is a simplified version of our graphql schema:
[code]
There is other fields and stuffs but I removed them for explaining the problem we are facing and why we want to know when the first sync is over.

In the frontend, we needs to be able to perform house.rooms. Unfortunately, we are not receiving House.rooms from DataStore, 1-to-many and many-to-many relationships are not resolved w

[2020-03-13 09:50] timrayers commented on #3620
I agree with this but can't see a workaround until the PR is merged. Did anyone come across any other solutions other than disabling `fullTemplateTypeCheck`?

[2020-03-13 10:10] danielblignaut commented on #5058
@danmight no problem... To fix the issue, I ended up having to do this nastiness inside the s3 cloudformation template... here's just a snippet from one of the policy's but you would need to update all of the "authenticated" policies (Would love to hear if this is advisable route or if there's a better potential solution as I'd have to remember to update this file every time I edit groups in my am

[2020-03-13 10:24] jakobpack commented on #5046
Thanks, the URL received by calling `amplify status` is working correctly!
Calling `Auth.federatedSignIn` still resolved in the error.
But I got it fixed now!
I had duplicate redirect sign-in/out urls configured.
I'm not sure, but I think removing the duplicates fixed it.

[2020-03-13 10:25] pubkey commented on #3620
Dropping AWS Datastore should help

[2020-03-13 10:33] shukii commented on #3732
Any updates on this issue? I'm having the exact same problem

[2020-03-13 12:00] jakobpack commented on #5046
It's still not actually working properly. I can now open a social provider and give access, but when redirected to the App via 'Open in Expo', I get different errors, depending on the social provider..

For Facebook I recieve:

But the user is getting signed in, I can see that when I refresh the App.

For Google I recieve:

User doesn't get signed in.

[2020-03-13 13:27] michaelcuneo commented on #4521
@ashika01 My problem turned out to be a version difference between two amplify-cli's and I missed the change from --max-depth as a terminal command to --max-depth being included in the actual config.

[2020-03-13 15:17] nelsynelz commented on #5043
It's a private Repo. I can reference important code pieces though.

Upon signup I'm setting two custom attributes, the second is the important one here:

[code]
Upon confirming that the license is correct, I set that custom attribute to "1". I do this on my backend:

[code]

Now back on my frontend if I am to call the Auth.currentAuthenticatedUser() function, it still returns a 0 even though in Co

[2020-03-13 15:18] nelsynelz commented on #5043
Also, it just occurred to me that this value is probably encoded in the JwtToken?

If that's the case then can I force a token refresh to get the updated value? If so which Auth method would I call for that?

[2020-03-13 16:05] adityats2020 commented on #5067
I want to use Amplify REST API to sign requests using the AWS Credentials (access key id, secret access key and session token) that I provide to Amplify, without requiring AWS Cognito settings on Amplify.
That's the use case.

[2020-03-13 16:19] ericclemmons commented on #5046
Thanks for the updates @jakobpack!  If I have this correct, you're able to validate the OAuth flow via the `amplify status` URLs, but the Expo integration is the last broken piece.

When you receive those Facebook/Google errors, is that before you complete signing in, before you get redirected, or after the redirect happens?

Besides the `initAsync` and `signInWithFacebook` from your initial sampl

[2020-03-13 16:45] sorokinvj commented on #4048
I did! Basically, followed advices on the bottom of the comments in this issue
https://github.com/aws-amplify/amplify-cli/issues/1678#issuecomment-589268180

[2020-03-13 17:12] dragulescu commented on #4960
we also ran into this issue. just adding some support for this PR which only requires a line change in the TS type declaration. thanks!  🙏  @elorzafe

[2020-03-13 17:53] jackatkoeln commented on #5075
Seems to be a "won't fix" thing
https://github.com/facebook/react-native/issues/12981

[2020-03-13 18:15] divait commented on #2502
@ilrein Do you find a way to solve this issue?

[2020-03-13 18:52] ashika01 commented on #5077
@SebSchwartz We have a feature request open for this - https://github.com/aws-amplify/amplify-js/issues/4808. Closing this issue and we would be tracking the updates for the feature on the mentioned issue. If you have more info that could help us, please feel free to add that in the issue.

[2020-03-13 18:58] ashika01 commented on #5054
@moweex : Hi, thank you for bring this up. Currently, we only support loading from the one part of 1:M relationship. For eq, if you have Post to Comment as 1:M relationship. You can query for the post from comment but not the other way around.

But, we are tracking this internally to eager/lazy load all many side from the one side(comments from post). We will mark this issue as feature request to

[2020-03-13 19:20] ericclemmons commented on #5046
@jakobpack There are several issues all open around Expo, one of which instructs running `amplify update auth` to persist the `exp://` redirect URLs:

[2020-03-13 19:23] jackatkoeln opened #5090 "Datastore | React Native | Valid realtime scenario?"
Hello,

before I invest more nights in trying to understand why my app is not working as expect, I would like to ask a simple question.
Is Datastore the right amplify component for a realtime app like a chat?

I have build the sample app from the documentation.
https://aws-amplify.github.io/docs/js/datastore#example-react-native-application
Have just added auth (Cognito).
Everything is up and runn

[2020-03-13 19:33] ashika01 commented on #4878
@seang96 : Hi, thank you for bringing this up. So the right way to configure would be

[code]

For Reference:
https://aws-amplify.github.io/docs/js/datastore#connect-your-app
https://aws-amplify.github.io/docs/js/datastore#config

[2020-03-13 19:33] #4878 closed

[2020-03-13 19:36] #4928 closed

[2020-03-13 19:44] ashika01 commented on #4634
Closing this issue since it has to be tracked from **Amplify CLI**. https://github.com/aws-amplify/amplify-cli/issues/3109.

[2020-03-13 19:44] #4634 closed

[2020-03-13 20:03] Amplifiyer commented on #3365
You can use the npm preview tag as `yarn add @aws-amplify/auth@preview` All the current published tags for aws-amplify can be seen [here](https://www.npmjs.com/package/aws-amplify/v/1.1.31-preview.102?activeTab=versions)

[2020-03-13 20:17] ashika01 commented on #5058
@danmight @danielblignaut So the policy is not configured properly when you do configuration from `amplify add storage`?

[2020-03-13 20:49] ashika01 commented on #4779
@kuklinm : Could you provide us more information on your use case specifically around getting `aws-amplify-federatedInfo`? If you are using `withAuthenticator` it should handle refreshing the token for you.

[2020-03-13 20:58] ak37165 commented on #5081
Also, can we differentiate between the signup flows in the pre-signup lambda: such as a social/identity provider based login be treated differently than a password based signup?

[2020-03-13 21:17] ashika01 commented on #5043
Might be related to #4396

[2020-03-13 21:27] ashika01 commented on #4522
We do not currently support this. We will mark this as feature request and will take this up with the cognito service team.

[2020-03-13 21:31] Ashish-Nanda commented on #5090
Hey, yes DataStore would be a good option for a chat based app given the realtime and offline capabilities.  Regarding the bug, can you tell me a bit more about your setup:

1) Since you added auth, I'm guessing your schema is not exactly that of the example app. Could you please share it? Link to a sample app would be even better.

2) Are you using `Amazon Cognito User Pools`?

3) When you say yo

[2020-03-13 22:12] ashika01 commented on #5031
You could rewrite the resolver logic, however your pipeline resolvers would need two function - one for create operation in dynamoDB and another one to invoke SES using https resolver.

Reference links:
https://docs.aws.amazon.com/appsync/latest/devguide/tutorial-pipeline-resolvers.html
https://docs.aws.amazon.com/appsync/latest/devguide/tutorial-http-resolvers.html

Does this answer your question

[2020-03-13 22:22] danmight commented on #5058
@ashika01 It configures it correctly unless you have groups assigned incognito. For some reason, it is not assigning the authRole that cognito builds and configures correctly if you assign a user to a group in cognito.

[2020-03-13 23:37] jcardus opened #5091 "Unexpected identifier"
**Describe the bug**
Just initializing amplify from scratch

**To Reproduce**
sudo npm install -g @aws-amplify/cli
amplify init
 amplify add auth

**Expected behavior**
Should work

**Current behaviour**
$ amplify add auth
Unexpected identifier
SyntaxError: Unexpected identifier
    at Object.run (/usr/local/lib/node_modules/@aws-amplify/cli/node_modules/amplify-category-auth/commands/auth/enable.

[2020-03-14 04:12] undefobj commented on #5077
Lets keep this issue open until #4808 is addressed

[2020-03-14 08:40] nihp opened #5092 "Validation message is retained all screens"
**Describe the bug**
Validation message is retained in the 'Forgot Password' screen and signup screen and many other screens too.
For eg)
Error message are not removed from the screen after navigating to Forgot password screen again

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to Login screen
2. Click on forgot password link and enter any not registerd email Id and click on the send

[2020-03-14 08:43] mynameisguy commented on #1464
@jordanranz, @powerful23 has anything changed with this?
as both @n1te1337 and @alexrec22  mentioned this leads to a really bad UX.
I also can't think of a scenario in which it will be better to validate the user before requiring the right password...

[2020-03-14 08:48] nihp opened #5093 "How to make the cursor to onFocus in the confirmation input box"
@ashika01  When I go to Forgot password and then to confirmation code screen, I need to place the cursor inside the input box.

I need to make the cursor to onFocus in the confirmation input box defaulty while navigating from Forgot password to Confirmatin screen (Code and new password screen)

[2020-03-14 11:22] karrettgelley opened #5094 "Subscriptions Not Working"
** Which Category is your question related to? **
GraphQL Transform, AppSync

** What AWS Services are you utilizing? **
AppSync, DynamoDB

** Provide additional details e.g. code snippets **
I have a schema with a couple of custom subscriptions (using @aws_subscribe) that filter on a field. It looks something like this:

[code]

I am not able to get onCreateUserGroup nor onCreateGroupInvitation t

[2020-03-14 12:12] jackatkoeln commented on #5090
@Ashish-Nanda first of all, thanks for the quick answer.

1. I am just using Auth for login and I have no auth rules on my schema.
[code]
Anyway I have tested with following auth rules, and the result is the same. Subscription on Device B only syncs to the Cloud after restarting the app and not automatically as expected for real time.
[code]

2. Yes I am using `Amazon Cognito User Pools`. I have j

[2020-03-14 14:11] silvesteradamik commented on #5054
Please note, that similar problem is reported also in amplify-cli (however, it wasn't directly related to DataStore):
https://github.com/aws-amplify/amplify-cli/issues/3438

[2020-03-14 15:25] ryands17 opened #5095 "A suggestion regarding typings for the Amplify.configure() function"
Hey @dabit3 , I had sent added a comment on your tweet regarding the improvements that could be made to the Amplify docs but I had mentioned a couple of enchancements that I could contribute to, if possible.

I had the following points in mind and have created an example [repository](https://github.com/ryands17/amplify-auth) for the same.

1. The `Amplify.configure()` and the `Auth.configure()` ha

[2020-03-14 16:44] danawoodman commented on #4927
Yes, the types in Cognito are messed up. They don't match actual response objects and thus if you use them your app breaks but if you don't use them, then passing the cognito user around into other Cognito methods breaks things too. It's quite a mess.

[2020-03-14 23:01] annjawn opened #5096 "Confused about Refreshing JWT Tokens with Hosted UI in react-native"
**Which Category is your question related to?**
Auth

**What AWS Services are you utilizing?**
Cognito

**Provide additional details e.g. code snippets**
I am a little confused about the usage here. The [documentation](https://aws-amplify.github.io/docs/js/authentication#react-components) says:

I am using Cognito Hosted UI, with `withOAuth` HOC from `aws-amplify-react-native`. My Cognito User Poo

[2020-03-14 23:05] MontoyaAndres opened #5097 "Where to save token when Log In with Next.js"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito, AWS AppSync
** Provide additional details e.g. code snippets **

I'd like to know how to save the token generated when a user logs in, this is the code I'm using for this functionality:

[code]

So, when the user is redirected to the `account` route, I fetch the token of this user with the me

[2020-03-15 03:03] apoorvmote opened #5098 "How to query datastore with array of ID's with single request not array of requests"
**Which Category is your question related to?**
Datastore

**What AWS Services are you utilizing?**
Cognito, AWS AppSync, Datastore

**Provide additional details e.g. code snippets**
I have product schema like this.
[code]
I have array of product ID's and I want to fetch only those

[code]
I tried another solution
[code]
result is undefined

[2020-03-15 05:29] apoorvmote opened #5099 "How to save array of objects in datastore"
**Which Category is your question related to?**
Datastore

**What AWS Services are you utilizing?**
Cognito, AWS AppSync, Datastore

**Provide additional details e.g. code snippets**

This is really stupid

`const results = await DataStore.save(new User({name: 'John'}))`

this returns `User[]` So you would naturally assume that you can save multiple users at once.

But following creates an error.

[2020-03-15 07:21] karrettgelley opened #5100 "DataStore Use Case"
** Which Category is your question related to? **
DataStore

** What AWS Services are you utilizing? **
AppSync

** Provide additional details e.g. code snippets **
I unexpectedly ran across the documentation for DataStore today and it made me question the future of my app. Is DataStore essentially a replacement for the API module? It seems to do everything it can, and even offline. I have a React

[2020-03-15 07:54] apoorvmote commented on #5100
As far as I understand DataStore is **NOT** replacement for API module. They both have future individually. As you can tell Datastore is specialized for offline use case.

[2020-03-15 13:06] kigorw opened #5101 "Error after after hot update: "The schema has already been initialized""
Nextjs is doing hot module update when you change the code and you get error.

Problem is here https://github.com/aws-amplify/amplify-js/blob/master/packages/datastore/src/datastore/datastore.ts#L105

Maybe would be better to just return current schema. Also it's probably not the best design decision to execute code during import phase because of unexpected side effects.

[2020-03-15 13:39] jcardus commented on #5091
For the record, I solved this by deleting the @aws-amplify folder in /usr/local/lib/node_modules.

[2020-03-15 13:39] #5091 closed

[2020-03-15 15:54] kwoxford commented on #4957
This is crucial for anything other than a trivial application. It doesn't look like anyone's assigned to this yet.

[2020-03-15 16:51] amanvishnani opened #5102 "Typing unavailable in aws-amplify-angular"
https://github.com/aws-amplify/amplify-js/blob/fbbe244257694ce0697ff6cae930480c4012973a/packages/aws-amplify-angular/src/providers/amplify.service.ts#L61-L70

Typing helps in rapid code development and debugging. AmplifyService doesn't have typings available for any method signature. This means we need to debug or lookup object type before writing code.

Are there any future plans for implementing

[2020-03-15 17:05] AdonousTech commented on #5082
I would like to clarify that I am referring to the [documentation ](https://aws-amplify.github.io/docs/js/authentication#oauth-and-federation-overview) listed under OAuth and Federation Overview. Specifically, I am referring to the tokens issued when using the user pool as a service provider (OAuth).

[2020-03-15 19:00] jackatkoeln commented on #5090
Closing the topic after having a full read on this:
https://aws-amplify.github.io/docs/cli-toolchain/graphql?sdk=js#authorizing-subscriptions

Nevertheless it seems that Datastore doesn't fully support authorization on subscription.
There is a fix here, but I'm not sure if this should be also working on RN.
https://github.com/aws-amplify/amplify-js/pull/4617

[2020-03-15 19:46] undefobj commented on #5090
@jackatkoeln DataStore supports authz on subscriptions and that fix was merged and published months ago. Are you still having this issue? If so lets keep it open so @Ashish-Nanda can help you resolve.

[2020-03-15 19:48] undefobj commented on #4957
@kwoxford Can you give specifics on your application/use case and perhaps the schema which you are trying to model? As @manueliglesias mentioned we are tracking this as a feature request but having specifics will help design and priority.

[2020-03-15 19:53] undefobj commented on #5100
DataStore is a new way of building applications with a local-first mental model. We are not looking at deprecating the API category, and in some ways you could look at DataStore as a higher level construct of multiple categories (API, Storage, etc.) where you use the others in conjunction with DataStore if you need more control.

I would recommend trying to use DataStore first and seeing if it mee

[2020-03-15 20:36] kwoxford commented on #4957
Hi. I make apps for professional and academic events. Here’s a couple of areas where it affects me:

1. Users select which event they want to load into the app. There are multiple tables - speaker bios, submitted papers, programme sessions and so on. Loading all data for all events into the app when it first launches would be cumbersome and since there’s a limit on data items it would probably fai

[2020-03-15 20:51] kwoxford commented on #4957
To put it at its most basic, most useful applications need some sort of login or customisation or initialisation, and to have the whole backend database load itself before that’s taken place makes life very hard especially given the limited number of rows.

We ideally need manual control of the base query so we can define predicates and then start hydration and sync when the user has identified th

[2020-03-15 21:27] undefobj commented on #4957
For the GDPR issue we scope thee local storage and allow you to clear data from other users with `DataStore.clear()`. When we give more controls this would still be recommended for compliance and privacy.

We will be adding this functionality in and are tracking similar request here: https://github.com/aws-amplify/amplify-js/issues/4552
Specifying predicates or named queries in `DataStore.configur

[2020-03-15 21:56] jaing opened #5103 "adminUpdateUserAttributes - Update another user attributes"
Is there a way we can update another user attributes?
In AWS docs i see that there is a method - adminUpdateUserAttributes - but how to use it with Amplify library?

 I.e. when user reply to a post I want to change a rating of a person that started a thread. I want to have a single point of user data and keep all attributes in cognito not to divide it between cognito and i.e. dynamodb.

[2020-03-16 00:33] vadiraja opened #5104 "How to connect User and their Facebook account?"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito, AWS AppSync, API
** Provide additional details e.g. code snippets **
E.g. Sample code, versions of Amplify you are using
Amplify CLI - 4.12.0
"amazon-cognito-identity-js": "^3.2.5",
    "aws-amplify": "^2.2.6",
    "aws-amplify-react-native": "^3.2.2",
    "aws-appsync": "^3.0.2",
    "aws-ap

[2020-03-16 01:48] apoorvmote opened #5105 "Guide/documentation on using appsync in lambda"
**Which Category is your question related to?**
Auth, Appsync, Datastore, lambda

**What AWS Services are you utilizing?**
Cognito, AWS AppSync, Datastore, Lambda

**Provide additional details e.g. code snippets**
First of all I want to thank you for adding built in support for dynamodb streams. Using this will make delta sync much more easier and automatic.

However I do not see any documentation

[2020-03-16 06:15] alanmv01 opened #5106 "Sending ClientMetadata while responding to a challenge"
**Describe the bug**
The [RespondToAuthChallenge](https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_RespondToAuthChallenge.html) API supports sending ClientMetadata. But, the js library does not send this automatically while sending custom auth challenges:
https://github.com/aws-amplify/amplify-js/blob/45b79f24371de398e36be2770a35aad128ba6ca3/packages/amazon-cognito-i

[2020-03-16 06:23] Dinesh5799 commented on #3039
Hi All,
     I came across this issue in Mid-January and implemented my own logic for re-connecting using PubSub api of Amplify but recently I saw it not working as there was an underlying issue in the internal implementation of library(I dug deep into and noticed that if the client is disconnected from Network Connection and if the client re-connects before it runs into error part of PubSub it wo

[2020-03-16 06:31] apoorvmote opened #5107 "How to fetch records based on array of ID's with graphql API"
**Which Category is your question related to?**
API

**What AWS Services are you utilizing?**
Cognito, AWS AppSync, graphql API

**Provide additional details e.g. code snippets**
I have array of `todoID` how do I fetch only records matching these ID's.

Currently I fetch everything and filter.

`const allTodos = await API.graphql(graphqlOperation(listTodos));`

[2020-03-16 08:59] nihp opened #5108 "Unable to see the verification messages in email id"
I have using the aws-amplify-react-native-package. Here I can't able to see the verification code or link in my email.

But I have received the code for the registered mobile number.

Why the verification process not happened in the email Id?

How it will be handled in both mobile and email id?

[2020-03-16 10:18] danielblignaut commented on #5058
@ashika01

**User role issue**

as @danmight mentioned... to reproduce, run the following:
1. add auth via amplify.
2. add a user group to cognito
3. add storage category
4. create a user and add to that group
5. login as user and attempt file upload

note that when logged in, the IAM role associated to the user is not {appname}-authRole, it is instead {cognito pool}-{user group name}GroupRole. Th

[2020-03-16 10:32] karrettgelley opened #5109 "Authentication with Social Federation Help"
** Which Category is your question related to? **
Auth

** What AWS Services are you utilizing? **
User Pools, dynamodb

** Provide additional details e.g. code snippets **
I am trying to give my users the easiest sign up and sign in experience. Currently I have Social Federation set up through User Pools which achieves the aforementioned goals. Whenever a user signs up (via user/password, faceboo

[2020-03-16 10:57] nihp opened #5110 "'Username cannot be empty' error is thrown after filling the username in SignUp screen"
In Sign Up screen it always shows 'Username cannot be empty' after I have filled the Username in sign Up screen in aws-amplify-react-native

[2020-03-16 15:34] richAtreides commented on #5070
@ashika01 I'm not sure this fix actually worked. I had to go back to using the correct react-scripts-ts and the same error is back. Is this an issue with amplify itself?

[2020-03-16 15:36] mousedownmike commented on #5029
I have a revision to this.  In practice it appears that `Auth.resendSignUp` returns a `CognitoIdentityServiceProvider.ResendConfirmationCodeResponse`.  This makes having the response typed as `string` even more difficult to deal with.  This should really be typed to `any`.

[2020-03-16 15:56] mynameisguy commented on #4210
Having the exact same issue with google and apple logins.
After I log in to one of the options and then logout, on the first time I try to login to the second option I see the same error:
`{ event: 'signIn_failure',
  data: [NotAuthorizedException: Logins don't match. Please include at least one valid login for this identity or identity pool.] }`
For me, clearing the AuthStorage (used it as the st

[2020-03-16 17:21] ericclemmons commented on #5082
@AdonousTech You've done some superb research on this!  I've been running a local demo using `LoginWithAmazon` since Friday and confirmed, yes, tokens appear to be refreshing just like `Google` and `Facebook` providers do.

I also confirmed that I got the `user` object back from both `currentUserPoolUser()` and `currentAuthenticatedUser()`.

I'll update the documentation to match!

[2020-03-16 17:35] AdonousTech commented on #5082
Excellent! Thanks, Eric.

[2020-03-16 18:00] shiyaskk commented on #3431
@codeitcody I'm currently running this in the pre signup trigger
If I start with a native user in the pool and then I try to sign with Google of a user with the same email. Then inside my function, I try to find a matching email in the pool and if so, I link that account with the google one.

After successful linking, I end up with two users with different sub and additionally the UserPassUser now

[2020-03-16 18:08] karrettgelley commented on #5100
@undefobj @apoorvmote How does DataStore work with @key's? Suppose I had a user graphql model and I wanted to query for a user with a certain email. If I went with the DataStore approach, would I need to specify an @key(name: "userByEmail", fields: ["email"], queryField: "userByEmail") ? Based on the documentation it doesn't look like there is an opportunity to tell DataStore how to query the api,

[2020-03-16 20:01] ashika01 commented on #5110
@nihp : are you using autofill? just wondering. We had a change out for this. We can track that. Could you also post the version you are using?

[2020-03-16 20:08] ashika01 commented on #4824
@WinstonN : could you check if your policy is properly linked to your auth accounts in console? we will work on reproducing this.

[2020-03-16 20:10] ashika01 commented on #5070
@richardzcode : I will have to create a ts sample app with all the categories to test this. Could you provide with a sample app I could run / reproduce this?

[2020-03-16 21:04] brooksidesw opened #5113 "Amplify.Auth.currentUserCredentials() reports misleading error when Identity Pool Role trust relationship is improper"
**Describe the bug**
When AuthClass.currentUserCredentials() encounters an error using the current session, it falls back to the "guest" ID, perhaps hoping to get credentials through an unauth role.  Doing so, however, loses the information from the original failure.  For example, if the auth role trust relationships are not proper, this fact gets lost and a misleading error ("cannot get guest cre

[2020-03-16 21:47] #5064 closed

[2020-03-16 22:42] shirakaba commented on #4025
@OtavioBraga This solution had no effect in my case.

@Arjanvanmaren The solutions to downgrade to versions from 9 months ago (i.e. `"aws-amplify": "1.1.29",`) produced different errors of their own (i.e. problems with inconsistent versions between modules).

@dabit3 unfortunately I am unable to complete your recent [The Complete React Native Guide to User Authentication with the Amplify Framework

[2020-03-16 23:21] karrettgelley opened #5115 "DataStore Cannot Return Null"
**Describe the bug**
I am trying to save an item using DataStore and when the cloud syncs I get this error: 'cannot return null for non-nullable type: 'String' within parent 'User'' on all of the required fields in my model as well as some DataStore generated properties like __version and __lastChangedAt.

**Amplify CLI Version**
4.16.1

**To Reproduce**
Create a react app using create-react-app a

[2020-03-16 23:44] johnmesotech opened #5114 "Can I change pre-authentication signUp phone_number?"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito

Cognito uses SMS to verify phone_number during signUp() and signIn(). Can the Amplify library be used to fix the signUp() case where a user provided a valid but incorrect phone_number (simple typo or a land-line number)?

.updateUserAttributes() seems to require a user already be authenticate

[2020-03-17 00:06] deekay00 commented on #4915
I have the same issue with the following version:
    "aws-amplify": "^2.2.6",
    "aws-amplify-react": "^3.1.7",

When the password is missing on the login page the error shows up.

[2020-03-17 02:59] apoorvmote commented on #5100
Datastore will sync/download all available users for offline use. So you can query datasource with any user parameter while offline. So you won't need custom GSI key at all when querying with datastore.

If you don't want to sync/download all available users for offline use then either restrict them by auth e.g. `@auth(rules: [{allow: owner}])` or don't use datastore and query with API module usin

[2020-03-17 03:14] apoorvmote commented on #5115
How many times did you update the schema and pushed to the cloud? In my testing amplify doesn't remove older resolvers when you make update. Try the following
- `amplify remove api`
- `amplify push`
- `amplify add api`
- `amplify push`

or just create brand new amplify project with final schema. and only push once and don't make updates.

[2020-03-17 03:58] karrettgelley commented on #5115
@apoorvmote I am not God and unfortunately do not have the foresight to create an immutable v99.9 api ;). I have updated the schema twice (once after removing the boilerplate 'Task' schema, and once more to add a couple of fields to my User model). But how would I know if amplify failed to remove old resolvers, and why do you think this is the cause?

What really gets me is that the return value f

[2020-03-17 03:59] #5094 closed

[2020-03-17 04:13] karrettgelley commented on #5109
I found a solution that passerby's may appreciate:

type User @model
@key(name: "userByEmail", fields: ["email"], queryField: "userByEmail")
@key(name: "userByEmailFacebook", fields: ["emailFacebook"], queryField: "userByEmailFacebook")
@key(name: "userByEmailGoogle", fields: ["emailGoogle"], queryField: "userByEmailGoogle") {
  id: ID!
  email: String
  emailGoogle: String
  emailFacebook: String

[2020-03-17 04:13] #5109 closed

[2020-03-17 04:32] apoorvmote commented on #5115
I am using Datastore and basic schema like
[code]
should work without any problems.
However I stoppted using `amplify-app@latest` becuase it doesn't update `.gitignore` and I am using multi env setup that made problem worse.
I create app normally and update api to change conflict resolution to optimistic concurrency. Then start using datastore.

[2020-03-17 05:14] simanlx commented on #1852
看来没戏，指望不上了自己搞吧

[2020-03-17 05:16] nihp commented on #5110
I am not using autoFill. Manually typing the input. Can you able to reproduce at your end?

I am using

"aws-amplify-react-native": "^3.2.2"

[2020-03-17 05:50] apoorvmote opened #5116 "Multi auth for single api not working with Datastore"
**Describe the bug**
If I add auth `{allow: private, provider: iam}` then I get following error

`[WARN] 50:18.733 DataStore - Sync error subscription failed Connection failed: {"errors":[{"message":"Validation error of type MissingFieldArgument: Missing field argument owner @ 'onCreateProduct'"}]}`

**To Reproduce**
Steps to reproduce the behavior:

1. `npx create-react-app store --use-npm --temp

[2020-03-17 06:00] apoorvmote commented on #5111
I was also having same issues the solution is that its avaialble at one side of one to many relationship
let me demostrate with simpler example of @nikgavalas

[code]

[2020-03-17 06:07] ragate-tatsuyoshi commented on #1613
Basically, Web application should be optimized SEO.
2 months ago, I don't used amplify when I created my product because amplify not support server side render.

[2020-03-17 06:34] nihp commented on #5092
@ashika01 Any update on this

[2020-03-17 08:55] jonasduever commented on #5024
Just experienced this issue. Have to use `unsafe-eval` for now :/

[2020-03-17 10:10] elledienne opened #5117 "Federated sign up doesn't set email_verified to true"
**Describe the bug**
I am working on a React Native project.
When I sign up using Google I can successfully create an account but the property `email_verified` is not set which means that the app interprets the user as not verified.

**Screenshots**
<img width="1155" alt="cognito" src="https://user-images.githubusercontent.com/3903093/76845554-56666180-683f-11ea-903a-bd5893a0eb16.png">

<details>

[2020-03-17 11:39] nihp opened #5118 "After remove the greetings, I got a blank white screen"
I not need to show the username and SignOut button while login the app. Also, how can I hide the please Sign In/ Sign up label in all Authenticating screens.

So I have removed the greetings from the import and usage. Now it shows a white screen.

[2020-03-17 11:59] nihp commented on #104
I have enabled both Email and phone number.

But I only receiving the code in Phone number. I not get any acknowledgement or any code in my email?

I need to know why the code not received in my mail?

[2020-03-17 12:01] unkn0wn-root commented on #1429
Any updates on this? How hard would it be to provide simple translation on login forms... and we're talking about AWS not some guy in the basement working on some free-time project.

[2020-03-17 12:29] richAtreides commented on #5070
@ashika01 I've solved it again. At some point create-react-app resolved the script calls. To fix it I had to clear out all the old lock files and node modules and do a clean install and that seemed to resolve the conflicts along with removing conflicting legacy ts references in the package.json file.

[2020-03-17 12:29] #5070 closed

[2020-03-17 12:40] tslocke opened #5119 "DataStore: support for multi-tenant apps with sharing?"
(From https://github.com/aws-amplify/amplify-js/issues/4957#issuecomment-589760076)

Could I suggest this information be presented front and centre at the start of the docs? This is fundamental to understanding what the offering is here. I stumbled across the above issue by accident before I invested time learning Amplify DataStore and I'm *very* glad I did!

This seems like a significant departur

[2020-03-17 13:01] richAtreides opened #5120 "TOTP Setup and Useage with AWS Amplify Auth"
**Describe the bug**
The TOTP Setup and ConfirmSign in equivalents do not render

**To Reproduce**
Implement the Authenticator Amplify-React Component and enable MFA in the user pool. The default state seems to be SMS and there seems to be no way to override this and set it to Soft Token MFA so that the user is prompted to set up Soft Token and once set up use it.

**Expected behaviour**
If MFA is

[2020-03-17 13:09] connorrusso opened #5121 "Multi-Auth using Multiple Clients with NextJs"
I'm using Next.js and am trying to figure out best practice for unauthenticated and authenticated access with SSR.

I was able to successfully use this [with-apollo next.js example](https://github.com/zeit/next.js/tree/canary/examples/with-apollo ) to create an HOC that allows me to make queries using a client with API auth on pages that will be server side rendered.

I got it working with CRA, bu

[2020-03-17 13:39] TheMoums commented on #5050
@undefobj
We already raised a support case but we couldn’t get a positive response from the aws support. The limit is not available in the classical "service limit" options. So we created a case to ask for an increase but no response since 2 weeks.

[2020-03-17 14:27] ricardoribas opened #5122 "Appsync IAM not working properly"
**Describe the bug**
I am using CognitoUserPool auth type as a default and IAM as a secondary authentication type (to be used in lambda functions). If i use the IAM auth in the appsync console to make mutations, is not working properly. I always receive old values for the model. I've added logs to the appsync to try to figure out what is happening under the hood, but no error is defined except

`C

[2020-03-17 14:34] tslocke commented on #4649
Switching to `<Authenticator>` instead of `withAuthenticator` did not remove the warning in my case.

[2020-03-17 14:35] thiagohirata opened #5123 "Session tokens are refreshed unnecessarily when calling CognitoUser.getUserData"
**Is your feature request related to a problem? Please describe.**
When getUserData is called, the tokens are automatically refreshed, even when they are valid.

According to #2831, the tokens were supposed to be refreshed when `bypassCache` is true. But the code doesn't check this parameter.

**Describe the solution you'd like**
The code should only refresh when bypassCache is true.

**Describe a

[2020-03-17 15:17] richAtreides commented on #5120
I'd like to add that I created a custom version of the confirmsignincomponent and this won't render. However my customised version of the signin component does render when passed to the authenticator component as a child.

**Custom Sign In Component**
`import React from "react";
import Button from "@material-ui/core/Button";
import CssBaseline from "@material-ui/core/CssBaseline";
import Typograph

[2020-03-17 15:21] sammartinez commented on #5122
@ricardoribas Are you using AppSync with Amplify? If so, can you please provide a gist/code snippet of your implementation?

[2020-03-17 15:25] ricardoribas commented on #5122
@sammartinez i am using it with amplify, yes. If i use the appsync console is enough to replicate the issue. All the queries seem to be working. However, mutations are the ones that are failing. I suppose that subscriptions will also fail as they are not GET's and require extra permissions perhaps.

[2020-03-17 15:28] kiranbabu189 commented on #3431
@shiyaskk , I too encountered the same issue. when I pass SAML IDP user as a source user and Cognito native user as a destination user.

[2020-03-17 15:46] kwoxford commented on #5119
I raised this a few days ago. Like you I've looked at using both auth rules and isolated databases but they don't really work in any non-trivial use case.

Despite notes and todos being used as examples in the docs, in any real-world application there'd be a huge breach of privacy laws. And if there are lots of users syncing could become unwieldy.

The simple solution is:

1. Allow the use of pred

[2020-03-17 15:56] sammartinez commented on #5121
@locostudioco We currently don't have support for Next.js or Sever Side Rendering within Amplify JS. However, I am going to mark this as "help wanted" in order to see if someone from the community has done a similar implementation to your own. Can you please add your reaction to this current [Feature Request we have for SSR](https://github.com/aws-amplify/amplify-js/issues/1613)

[2020-03-17 16:13] sammartinez commented on #5104
@vadiraja Have you reviewed the [Social Providers and Federation](https://aws-amplify.github.io/docs/js/authentication#social-providers-and-federation) setup within our documentation?

[2020-03-17 16:41] tslocke commented on #5119
The solution proposed by @kwoxford would help in some situations, but still leaves a lot lacking for a proper client/server data architecture.

Consider a Slack like app - is it going sync all historical data forever for every channel I have access to? If not, does that mean I can't search back through history?

Consider a social network like app that fills up with lots of content over time. There

[2020-03-17 17:34] ajonp commented on #4812
Has anyone had any luck with this? I keep bouncing between that error then adding

jest.config.js
[code]

Results in various
TypeError: Unable to require `.d.ts` file. errors

[2020-03-17 17:41] sammartinez commented on #5120
@richAtreides There is a similar issue related in [Amplify CLI](https://github.com/aws-amplify/amplify-cli/issues/3007) that I created in order to resolve this. We are currently discussing this internal with the Amazon Cognito team in order to resolve this issue. As far as a workaround, you will need to manually configure the Amazon Cognito User Pool and follow the [Manual Setup](https://aws-ampli

[2020-03-17 18:08] Versheri opened #5126 "Aws amplify not working with react-native and expo version 36.0.0"
**Describe the bug**

I'm currently working on a react-native-app using expoSdk which is supposed to run on web,ios and android. The most challenging part till now has been to setup the navigation which I finally did. Now I added amplify to my project but the project stops working whenever I run it on any mobile device but it works just fine on web. The error I receive is

`NetInfo has been remove

[2020-03-17 18:54] sammartinez commented on #5117
@elledienne This seems to be related specifically to Amazon Cognito. We are currently discussing this issue internally and will provide an update once I have one.

[2020-03-17 18:55] elledienne commented on #5117
@sammartinez Thanks a lot for your prompt answer, happy to support with testing/ experiment if that's helpful :)

[2020-03-17 18:59] sammartinez commented on #3541
@mattiLeBlanc I apologize on behalf of the team in the delay to yourself. There has been work in order to resolve this issue. Can you verify you are still experiencing the issue on your side ?

[2020-03-17 19:01] sammartinez commented on #3550
Flipping this to a Feature Requests based on the above feedback on this.

[2020-03-17 19:06] sammartinez commented on #3744
Based on the above information, it seems to be that the issue is resolved. @alexofob Can you please create a new issue and provide a gist/code snippet and the environment information on the new issue? Resolving issue

[2020-03-17 19:06] #3744 closed

[2020-03-17 19:06] Ashish-Nanda commented on #5126
@Versheri Do you still face the issue after doing `npm install @react-native-community/netinfo`

You can take a look at this [comment](https://github.com/aws-amplify/amplify-js/issues/5010#issuecomment-592991473) on the issue #5010 you referenced

[2020-03-17 19:07] sammartinez commented on #3829
@eyalabadi98 Are you still experiencing this issue? Please let us know.

[2020-03-17 19:08] Versheri commented on #5126
@Ashish-Nanda   yes I do have tried installing it several times and different versions but the problem still persist

[2020-03-17 19:09] sammartinez commented on #3912
@visusnet Are you fine if I mark this issue as a duplicate in favor of the above comment you linked?

[2020-03-17 19:15] sammartinez commented on #3925
@oliverandersencox I apologize that I never circled back on this issue. Is this still a use case you are looking to use ? If so, this seems to be related to Amplify CLI but wanted to touch base on this prior to transferring the issue

[2020-03-17 19:20] Ashish-Nanda commented on #5126
Can you post a screenshot of your issue? What is the exact error you get?
Also it is not in the package.json you shared. Could you do
`npm install @react-native-community/netinfo` (make sure it is in your package.json)
`rm -rf node_modules`
`npm install`
`npm start` to run your app

[2020-03-17 19:23] visusnet commented on #3912
@sammartinez Yes, sure. :)

[2020-03-17 19:30] Versheri commented on #5126
when I install  @react-native-community/netinfo I get the error

https://github.com/react-native-community/react-native-netinfo/issues/232

and when I install react-native-netinfo I get the error

Unable to resolve module @react-native-community/netinfo from node_modules\@aws-amplify\core\lib\Util\Reachability.native.js

[2020-03-17 19:37] sammartinez commented on #3938
@Cayce Apologizes on circling back on this now. I do want to state that you aren't bugging me for tagging me, I appreciate the follow up and being patient with us on this. We are discussing this internally and will provide a response later this week. ETA is Friday for the follow up.

[2020-03-17 19:40] sammartinez commented on #4003
The above Pull Request that is merged in seems to resolve this issue. @oriharel Can you confirm this?

[2020-03-17 19:43] sammartinez commented on #3912
Marking this as a duplicate of the above comment in favor of #4813. Resolving

[2020-03-17 19:43] #3912 closed

[2020-03-17 20:48] Ashish-Nanda commented on #5126
The issue you linked has a [reply](https://github.com/react-native-community/react-native-netinfo/issues/232#issuecomment-538873245) from the package maintainer with the reason for the error.
It is likely that one or more of your dependencies is importing NetInfo from React Native core. Looking at your package.json, one of these would be `aws-appsync-react` where you will need to upgrade to any ve

[2020-03-17 21:19] Versheri commented on #5126
Thanks so much this solved my problem

[2020-03-17 21:54] Ashish-Nanda commented on #5126
Glad that it worked! Will go ahead and close this issue.

[2020-03-17 21:54] #5126 closed

[2020-03-17 22:38] ericclemmons commented on #4926
@severi When are you making the call (e.g. `useEffect`, `componentDidMount`, after `Amplify.configure`...), and what does your call look like (code-wise)?

After `Amplify.configure`, the `user` looked up asynchronously, so there may be a race-condition happening, but need more information to rule that out.

Thanks!

[2020-03-17 22:53] mattiLeBlanc commented on #3541
I have seen the issue happen yet in case we send in a null value for a key. But we try not to send such statement.

[2020-03-17 23:01] philateatclub commented on #4473
You can update the [Amplify Message Map](https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-react/src/AmplifyMessageMap.tsx).

[code]
Pass your setup to the `Authenticator` component using the `errorMessage` prop.

More on the [Authenticator Component](https://aws-amplify.github.io/docs/js/authentication#using-the-authenticator-component)

Here's the code for mapping custom

[2020-03-18 00:48] lhong375 commented on #1316
@manueliglesias is this supported now ?
even with all the customization, when we click any sso button to login (google/facebook/etc), the pop up won't be able to say exactly "use google/facebook/... to login", the nicest thing we can do is configured Hosted-UI to use a subdomain , so it will say "use some-subdomain-of-us to login",  this is a sketchy experience to end user tbh

[2020-03-18 01:14] bneigher opened #5129 "Guidance with backend user association with Auth.federatedSignIn on custom OIDC flows (not hosted)"
I have a question about usage.  According to the docs on getting aws credentials using my own token exchange / refresh provider:

[code]

This is what I have in my react-native app and it works okay (though there are a lot of issues with react-native and my tokens being invalid when first opening up the app after several hours).

My question is regarding doing lookups on my users in a backend proc

[2020-03-18 02:01] ajpaulingalls commented on #5075
This should be addressable by breaking the timer into smaller pieces.  Setting long timers like this is a big performance no no on android.  Not sure why a timer needs to be set for 300000ms...

[2020-03-18 02:33] matulef commented on #5024
@jonasduever , a word of warning: if you're planning to release your app on some sort of app store, I'd advise against including `unsafe-eval`. I strongly suspect this lax CSP was the reason for a 3+ week delay we had getting a Chrome extension approved in the Chrome store (it's still stuck in reviewing limbo, even though we only intended to release that version of the app internally for testing).

[2020-03-18 03:03] #5076 closed

[2020-03-18 03:46] karrettgelley commented on #5115
@apoorvmote I tried your solution and it did not work. I'm sorry to say that it would not be helpful in the long term anyways. I must be able to add change the api as the app evolves.

[2020-03-18 03:52] fabioselau077 commented on #1852
+1

[2020-03-18 03:57] nihp commented on #4473
Thanks, but i found this already.

Did you know how to reload the screens. (i.e) error message is retained in the screen after revisits the screen

[2020-03-18 04:40] #5100 closed

[2020-03-18 06:13] #4654 closed

[2020-03-18 06:13] #4704 closed

[2020-03-18 06:13] #5008 closed

[2020-03-18 07:02] karrettgelley opened #5130 "DataStore error: Failed to execute 'transaction' on 'IDBDatabase'"
**Describe the bug**
A bug is encountered when trying to save an item to the DataStore: Unhandled Rejection (NotFoundError): Failed to execute 'transaction' on 'IDBDatabase': One of the specified object stores was not found.

**To Reproduce**

1. Follow this tutorial on [how to make a crud app with DataStore](https://medium.com/open-graphql/create-a-multiuser-graphql-crud-l-app-in-5-minutes-with-t

[2020-03-18 07:53] lenarmazitov commented on #4652
This feature is really necessary. Especially with Elastic Search resolvers. Is it already on roadmap?

[2020-03-18 08:46] karrettgelley commented on #5115
I found a related issue in the ios repo. The similarity is that the store is not syncing to the cloud and an [error is thrown about the DataStore related fields](https://github.com/aws-amplify/amplify-ios/issues/340). None of the solutions mentioned in that issue worked for me. I can confirm that DataStore is not syncing to the cloud in my case, despite the fact that my api is configured with a co

[2020-03-18 09:21] nylki commented on #5076
super, thanks!

[2020-03-18 09:38] Hideman85 opened #5131 "How to make a head request to a bucket file with Storage?"
**Which Category is your question related to?**
Storage

**What AWS Services are you utilizing?**
S3 + Cognito

**Provide additional details e.g. code snippets**
I simply need to head a file from my bucket but I where not able to do it since we have no method for that and the get method produce a signed url for getObject and so head is forbidden.

I try to find a way to access to your internal s3

[2020-03-18 10:22] apoorvmote commented on #5115
@karrettgelley change conflic dectation to optimistic concurrency then it will work.

[2020-03-18 11:50] jcardus commented on #4132
I'm still having this issue

[2020-03-18 12:02] TheRealVish opened #5132 "cognito access token does not contain custom scopes"
**Describe the bug**
Cognito access token returned by aws-sdk programmatically does not contain custom scope. This mean we have to rely on a 3rd party identity provider such as auth0.

**To Reproduce** AND **Sample Code**
Steps (in readme) and sample code in the below repo

  ___ - ___ - ___  https://github.com/TheRealVish/node-cognito  ___ - ___ - ___

**Expected behavior**
Access token returns a

[2020-03-18 12:56] karrettgelley commented on #5115
@apoorvmote I prefer the automerge strategy. I shouldn't have to strange strategies to get the module to work correctly. Slapping the side of the tv to get it to focus doesn't fix the problem. There seems to be a pretty big bug with DataStore at the moment, as there are many issues related to this post. I'm hoping someone on the team will respond to this soon

[2020-03-18 13:37] nihp opened #5142 "Clarification: Can I able to change the * besides the field to 'Red' after the validation message shown"
Clarification: Can I able to change the * besides the field to 'Red' after the validation message shown in UI

[2020-03-18 14:10] nishantWM commented on #332
@mlabieniec @ffxsam @powerful23
Any timeline as to when this will be released? It's been in beta since long

[2020-03-18 15:15] jcardus opened #5133 "FederatedSigin for Social Signin returns 'not authenticated'"
**Describe the bug**
Using AWS Amplify and Nuxt, I have successfully configured AWS Cognito and Google. I am using Auth.federatedSignIn(). However, after successful sign-in and once redirected to the web app the result shows the error message 'not authenticated'. But if I refresh the page it works.

**To Reproduce**
Create a new app using the latest version of Amplify and Nuxt and:

$ sudo amplify

[2020-03-18 15:18] gwnoseworthy opened #5134 "IAM group role does not provide path or description"
When using Amplify CLI to create a group role it creates an IAM Role to attach to the group.
This Role is generated as region-appid-groupnameRole

would like to see iam group role created as
prefix: region/appid
name: groupnameRole

alternatively the role name could remain the same and the prefix could be added.

this would allow for filtering of iam roles that have been generated by amplify cli u

[2020-03-18 15:28] gwnoseworthy commented on #5134
related to cli

[2020-03-18 15:28] #5134 closed

[2020-03-18 16:27] vadiraja commented on #5104
Yes, I read it but there is no option for setting up Cognito Pool for what I am asking. If you can point me to specific section that would be helpful.

[2020-03-18 16:38] jcardus commented on #5133
Correction, I'm using Nuxt. I suspect it only happens with Nuxt.

[2020-03-18 16:42] sammartinez commented on #5132
@TheRealVish In looking at the code you provided, it seems to be specific to Amazon Cognito and we do advise to reach out with to them via the [AWS Forums](https://forums.aws.amazon.com/forum.jspa?forumID=173) since you don't have any direct dependency of Amplify JS.

[2020-03-18 16:42] #5132 closed

[2020-03-18 16:44] TheRealVish commented on #5132
Thanks.

[2020-03-18 16:44] TheRealVish commented on #5132
**Note to the visitors of this thread:**

I have raised this with AWS and will update this thread when I get response.

[2020-03-18 16:57] xitanggg commented on #3986
If you use the default UI that calls signIn and you also call `Auth.confirmSignIn ` yourself, aren't you doing this twice? I think another alternative is to create a custom SignIn component and overwrite the original signIn method of the SignIn component, and catch the error there. Would love to know if there is a easier way to do this.

[2020-03-18 17:19] ericclemmons commented on #5133
@jcardus It's not just Nuxt, it's an issue we're addressing where the user is still being logged in after redirecting back to your app.

In the meantime, you can use `Hub.listen` to keep your `user` up-to-date while the login flow completes:

[2020-03-18 17:29] lawmicha opened #5135 "[DataStore] How to handle errors when save with condition fails"
** Which Category is your question related to? **
DataStore
** What AWS Services are you utilizing? **
Local Store

** Provide additional details e.g. code snippets **
Following this closely https://aws-amplify.github.io/docs/js/datastore
1. Create new post with rating 10
2. query it to get the instance back
3. update it with condition that will fail
4. fail to update post with error in catch bloc

[2020-03-18 17:36] lawmicha commented on #5135
looks like there's `error.message`

[2020-03-18 17:40] jcardus commented on #5133
Thanks @ericclemmons, I was trying with AmplifyEventBus and wasn't getting any event either.

I'll try with Hub.listen.

[2020-03-18 17:54] jcardus commented on #5133
Thanks again @ericclemmons, it's working with Hub.listen, I made a specific loginRedirect page to wait for the event. This is great, I spent two days on this and wasn't finding an exit!

[2020-03-18 18:01] secretshardul opened #5136 "RFC: Ionic 5 support"
## Summary
AWS Amplify documentation for Angular talks about [official Ionic 4 support](https://aws-amplify.github.io/docs/js/angular#ionic-4-components). It also states that [Angular 9 is not yet supported](https://aws-amplify.github.io/docs/js/angular#angular)
[code]
Recently Ionic 5 was released. It supports Angular 5 and up. If there are no issues, Amplify documentation should be updated to re

[2020-03-18 18:04] lawmicha commented on #5135
looks like we only get the message back? https://github.com/aws-amplify/amplify-js/search?q=%22Conditional+update+failed%22&unscoped_q=%22Conditional+update+failed%22

[2020-03-18 18:05] richAtreides opened #5137 "No SMS Message Sent to user after calling Auth.SignIn()"
**Describe the bug**
I am currently implementing my own UI for the authentication workflow by integrating the Auth package within aws-amplify-js with Material-UI.

I have implemented a SignIn page which works fine and returns the appropriate user. When I added an SMS MFA layer and a page to accept the code. This is all hooked up correctly as well. However it seems that the Auth.SignIn() is not sen

[2020-03-18 18:14] ericclemmons commented on #5133
@jcardus Glad to hear it's working!  If you ever find yourself stuck, feel free to reach out and let us know how we can improve.

I'm keeping this issue open because it's still an issue to fix 💪

[2020-03-18 18:28] n8behavior commented on #1972
Agree with @deepku2 and so does AWS.  See their docs for how to securely store data.

https://aws-amplify.github.io/docs/js/authentication#managing-security-tokens

Using that, store your data someplace more secure or encrypt it.  You can even implement a storage object that filters out the refresh token so it never gets stored.  This will force a new login.  Maybe that's best for banks.  I'd like

[2020-03-18 20:11] ericclemmons commented on #3053
To be clear, there is an issue with importing `.css` files that's being addressed, but when using React Native, use `aws-amplify-react-native`, _not_ `aws-amplify-react` due to implementation differences.

[2020-03-18 20:19] jcardus commented on #1429
Yes, I'm very surprised to know that there's no globalization!!!

[2020-03-18 20:22] atlowell-smpl commented on #2184
Same issue in Ionic Angular 4, even without attempting to call a subscription.  Just having one in API.service.ts is enough to cause the entire app to shutdown with this error. I've tried all of the fixes listed above.

My code:

main.ts:
[code]

environment.ts:
[code]
API.service.ts:
[code]

The API.service.ts code was auto-generated by amplify codegen.

The error (on page load):
[code]

package.

[2020-03-18 21:04] undefobj commented on #4652
@pubkey @lenarmazitov can you share your schemas and queries? Are you using `@key` as defined here: https://aws-amplify.github.io/docs/js/datastore#relational-models

[2020-03-18 21:18] undefobj commented on #5100
DataStore can use `@key` with relations: https://aws-amplify.github.io/docs/js/datastore#relational-models

[2020-03-18 21:57] amirmishani commented on #4521
@ashika01 in your setup is there any way to sort the jobs under getUser by Job.createdAt date? I don't mean date on the Assignment model but the Job model itself. Thanks.

[2020-03-18 22:24] ashika01 commented on #4521
@amirmishani Not at the moment. We have a Feature request open #4652 and is part of our roadmap for Datastore.

[2020-03-18 22:31] ashika01 commented on #5137
@richAtreides Could you go in your console and see if SMS is enabled for the user. I have an idea on what might be going on.

Steps to check might be:
- Go into cognito console.
- Open the user pool you are working with.
- Under the users and groups, click the username of the user
- If you see `Enable SMS MFA` button, enable it and try your follow again for the user.
<img width="594" alt="Screen S

[2020-03-18 22:37] richAtreides commented on #5137
@ashika01 Hi Again! I already checked that unfortunately and it is enabled. I additionally logged the user that is returned from the `Auth.signin()` method. It correctly returns my user account and in the meta data you can see that SMS is enabled and that it has my mobile phone number.

[2020-03-18 22:41] ashika01 commented on #5137
Hmm.. I see you created the totp issue that we are tracking with service team as well. Do you think there maybe a relation.?

[2020-03-18 22:44] richAtreides commented on #5137
@ashika01 its unlikely they are related as I am working on separate feature branches with no cross dependency. The TOTP issue is to do with the authenticator component contained in amplify-react whereas here I am interacting directly with the amplify-js API and providing my own components using material-ui.

My issue is that surely when you call the method Auth.SignIn() if SMS MFA is enabled on a

[2020-03-18 22:44] ashika01 commented on #5130
@karrettgelley could see if the indexedDB table in your browser and let us know of the table[object store] created there?

[2020-03-19 02:47] apoorvmote commented on #5100
@undefobj Yes documentation says you can use `@key` but in testing it failed. I have made bug report #5088

[2020-03-19 02:56] #3348 closed

[2020-03-19 03:05] alanmv01 commented on #5106
It seems the issue with sending ClientMetadata correctly had been fixed. I was able to send the data as expected using:
[code]

However, the index.d.ts file doesn't seem to support this signature:
https://github.com/aws-amplify/amplify-js/blob/master/packages/amazon-cognito-identity-js/index.d.ts#L96

[2020-03-19 03:14] alanmv01 opened #5140 "authenticateUser vs initiateAuth"
**Describe the bug**
I am trying to implement a custom auth flow. When I use [cognitoUser.authenticateUser](https://github.com/aws-amplify/amplify-js/blob/master/packages/amazon-cognito-identity-js/src/CognitoUser.js#L209), the customChallenge event is not invoked.

But if the authenticateUser is replaced with [initiateAuth](https://github.com/aws-amplify/amplify-js/blob/master/packages/amazon-cog

[2020-03-19 04:39] reckinam opened #5141 "How to handle secondary accounts in userpool configuration?"
** Which Category is your question related to? **
E.g. Userpool and Auth
** What AWS Services are you utilizing? **
E.g. Cognito

I am building an e-commerce site using react where the owner and customer have a different page while signing up. For authentication, I am using Cognito with AWS amplify. Each customer and owner has different attributes. I came to know that we can do it by Cognito group

[2020-03-19 05:08] karrettgelley commented on #5130
@ashika01 How do I do that? I'm pretty sure this issue is related to #5115 and this similar [DataStore ios error](https://github.com/aws-amplify/amplify-ios/issues/340). The initialization is just very finicky imo. Sometimes I can get DataStore to work, and other times it doesn't. In particular, when I update the api by adding a type or a field, DataStore seems to break.

[2020-03-19 06:30] apoorvmote commented on #5130
@karrettgelley The tutorial is faulty
[code]
The save function `Datastore.save` is async so you need to `await` for it to finish before calling query function. Another issue is
[code]
The `listNotes` it self is async function why not wait until its finished.

[2020-03-19 08:35] TheMoums commented on #5050
@undefobj We had an answer from AWS
"I have an update from our internal team. The 50 subscriptions per client is a hard limit and unfortunately this cannot be increased. These limits are set to ensure proper availability of AWS resources, as well as to minimize billing risks for new customers, and modifying such hard limits can introduce significant challenges. I also requested the service team if

[2020-03-19 08:44] richAtreides commented on #5137
![Screenshot 2020-03-19 at 08 43 26](https://user-images.githubusercontent.com/55187684/77048152-e6cab080-69bd-11ea-9715-127a177fe498.png)

[2020-03-19 10:19] norbertdurcansk commented on #2458
We had the same issue with large uploads.  We tried many solutions but none of them worked for us.

A good start is to check `AWSS3Provider` implementation:
https://github.com/aws-amplify/amplify-js/blob/a047ce73/packages/storage/src/Providers/AWSS3Provider.ts#L62

We created a custom `Storage` class according to `AWSS3Provider` but with authentication refresh.
[code]

U can use `Storage` in the s

[2020-03-19 10:26] norbertdurcansk commented on #446
Thank you for your solution. We had the same issue with large uploads.  We tried many solutions but none of them worked for us.

A good start is to check `AWSS3Provider` implementation:
https://github.com/aws-amplify/amplify-js/blob/a047ce73/packages/storage/src/Providers/AWSS3Provider.ts#L62

We created a custom `Storage` class according to `AWSS3Provider` but with authentication refresh.
[code]

[2020-03-19 11:08] nihp opened #5143 "Validation mesages are retained in the screens if I revisits the screen"
Validation error messages are retained in the screen, If I revisits the already error shown screen in UI.

I am using aws-amplify-react-native with not customizable screens.

Any solution here to refresh the screen?

[2020-03-19 11:38] mk0sojo opened #5144 "type script definition for sendMFACode is incorrect"
**Describe the bug**
The typecript definition for cognitoUser.sendMFACode is missing parameter clientMetadata.

**To Reproduce**
Create a typescript file and try to call cognitoUser.sendMFACode passing clientMetadata. You will get an error

Minor change, I will raise a pull request

[2020-03-19 11:59] karrettgelley opened #5146 "Triggering 'signUp' Event with Social Federation"
** Which Category is your question related to? **
Auth

** What AWS Services are you utilizing? **
Cognito User Pools

** Provide additional details e.g. code snippets **
Is there any way to trigger the 'signUp' event on the auth Hub listener? I am using the social federation sign up (i.e. Auth.federatedSignin()) with User Pools and I need some way to create a user in a dynamodb table upon sign up

[2020-03-19 12:30] karrettgelley commented on #5130
@apoorvmote You'll find that if you add async it doesn't fix the problem. DataStore has bugs in its initialization I think. I haven't been able to get it to work consistently.

[2020-03-19 14:12] waqas-syed commented on #699
So there is still no resolution to this? The docs now mention how to get the JWT tokens after federated sign-in: https://aws-amplify.github.io/docs/js/authentication#retrieve-jwt-tokens

But it always returns null! Any help???

[2020-03-19 15:16] shukii opened #5147 "Cannot get Customer Scope set in Access Token"
**Describe the bug**
Current when using aws-amplify to authorise with Cognito, the scope returned in the access token is only the default

`{
  "sub": "X,
  "event_id": "X",
  "token_use": "access",
  "scope": "aws.cognito.signin.user.admin",
  "auth_time": 1584551201,
  "iss": "https://cognito-idp.us-east-2.amazonaws.com/us-east-2XXX",
  "exp": 1584554801,
  "iat": 1584551201,
  "jti": "XXX",
  "

[2020-03-19 15:22] #5141 closed

[2020-03-19 15:23] richAtreides commented on #5137
@ashika01 I think our SMS Message limit must have been hit.

[2020-03-19 15:26] lenarmazitov commented on #4652
@undefobj I mean there is no way to make directions for Delta Sync with any sorting attribute and order. This is actual for @searchable models (with Elastic Search)

[2020-03-19 15:26] sammartinez commented on #5140
@alanmv01 Have you reviewed any of our Amplify documentation on [Custom Authentication in Amplify](https://aws-amplify.github.io/docs/js/authentication#custom-authentication-in-amplify)?

[2020-03-19 15:35] sammartinez commented on #5012
@westlakem Apologizes on not updating this sooner. This looks to be a possible issue with Amplify console. I have reassigned the issue to their github repo and let the team internally know if this issue.

[2020-03-19 15:37] reckinam opened #5148 "How to do role based authentication for aws cognito ? Urgent !!!"
** Which Category is your question related to? **
E.g. Auth,amplify
** What AWS Services are you utilizing? **
E.g. Cognito

I am building an online billing website per owner. In that application, the owner can view the dashboard of sales, add product , view shop accountancy, and bill the product. The same Account owner has team members like salesperson and accountants person.The solution that I n

[2020-03-19 16:05] apoorvmote commented on #5130
I would like to add to the bug that `npm run amplify-push` is crashing on me. So I gave up on `npx amplify-app@latest`. Also I hate the idea of not having control on naming of the app on aws. It also created naming conflicts for environment. I cannot have 2 dev environment on 2 different project. I had to call other dev1 to fix it.

[2020-03-19 16:14] karrettgelley commented on #5130
@apoorvmote Agreed. DataStore has some problems and I'm just hoping one of the devs sees these posts. Although your issue is mostly cosmetic, there are tons of esoteric bugs that are flagged as to-be-reproduced which don't seem to be taken seriously atm.

[2020-03-19 18:25] #4521 closed

[2020-03-19 18:26] ashika01 commented on #5137
@richAtreides did u find a way to test it?

[2020-03-19 18:53] jcardus opened #5149 "GraphQLError: Syntax Error: Expected Name, found Int "24""
**Describe the bug**
I'm trying to add aurora serverless as a graphql datasource. It doesn't work.

**To Reproduce**
_ampilfy init
amplify add api
amplify api add-graphql-datasource_

Error returned:
_GraphQLError: Syntax Error: Expected Name, found Int "24"_

Please check the full log screenshot.
Link to sample code

**Expected behavior**
It should create the data source

**Screenshots**
![Screen

[2020-03-19 18:58] ashika01 commented on #5130
Not really. So there is well **three parts** to Amplify Datastore. There is local storage (**Storage adapters/engine**) which happens in your browser using IndexedDB(this is were all the data stored) similar to that of the dynamodb storage in the backend. then there is **Sync Engine** (this bit involves all logic related to sync the data btw backend). The Datastore API itself which is your high le

[2020-03-19 19:45] ericclemmons commented on #5148
@reckinam It sounds like the `@auth` transform is exactly what you're looking for: it allows you to restrict `@model`s based on `owner` and `groups`:

[2020-03-19 19:50] ismyrnow commented on #4958
We're in need of this as well. Our use case is that some customers iframe parts of our app into their portals and internal websites. This functionality breaks in the latest stable version of Chrome unless we add the `samesite` attribute.

I'm willing to open a pull-request for this, following the contribution guidelines, if I can get the go ahead from a repo owner.

[2020-03-19 20:20] xitanggg commented on #5064
The easiest way to customize your button is perhaps to create your own button then wrap it with Google functionality.
`import React from 'react';
import { withGoogle } from 'aws-amplify-react';
const MyButton = (props) => (
	<Button
		onClick={props.googleSignIn}
		variant='googleSignInButton'>
		Click Me
	</Button>
);
export const CustomGoogleButton = withGoogle(MyButton);`

And you have to creat

[2020-03-19 20:38] ericclemmons commented on #5064
#5073 has been merged and we're working to get it released soon!

[2020-03-19 20:47] ericclemmons commented on #3157
Thanks everyone for the research!  Indeed, authenticating with Stripe via Cognito would be a feature request, but Amplify handling the URL because Stripe also uses `code` seems like a bug:

https://github.com/aws-amplify/amplify-js/blob/ab08e38e22801e3a212f299057ecc9670fae5633/packages/auth/src/Auth.ts#L1811-L1823

I'm going to bring this up with the team with the recommendation that we track _bot

[2020-03-19 20:51] rmaroun opened #5150 "API signing does not work with multipart form-data content"
I have an upload api endpoint that is behind API Gateway. When I call this upload endpoint via API gateway using aws amplify on my react native app without signing the request (as my endpoint auth on api gateway us set to none) then all is working fine (content type of the request a multipart form data). When I add AWS_IAM as the authentication method of my upload method on API gateway and I sign

[2020-03-19 21:29] togro commented on #3537
@sammartinez , any news about support for social login on Ionic ? I'm stuck with android mobile application , deeplinks not works with amplify after redirect .

[2020-03-19 22:30] sammartinez commented on #4369
@mlafo Are you still looking for this use case? Please let us know.

[2020-03-19 22:42] StephenHartfield commented on #1089
For anyone still facing the issue, you need to check if user received from Auth.signIn(email, password) has a challengeName: 'NEW_PASSWORD_REQUIRED' which is likely from creating a user in the console. If this is on the user, they need to enter a new password to be "authenticated".

In order to do this, simply  get the user (`const user = await Auth.signIn(...)`) and the user's input for the new p

[2020-03-19 23:08] Amplifiyer commented on #3365
# Modularization is available in Preview

Hi all,

With us launching Modularization in the coming weeks, we wanted to provide the ability for you to use our current preview tag (https://www.npmjs.com/package/aws-amplify) in order to start using Modularization within your applications. We **highly recommend to not use this preview tag in production** as we are still in the process of fixing small b

[2020-03-19 23:34] spanky411 opened #5153 "React Native Authentication Fields Blank"
**Describe the bug**
On a recent iphone, text fields did not render text. Text was still present in the fields, just not visible.

**To Reproduce**
I didn't ask for the ios version because I landed here and saw 595 open issues and figured this probably is the least of the issues.

**Expected behavior**
text typed should be visible (i.e. username... even the password should have characters rendered

[2020-03-19 23:42] spanky411 opened #5154 "React Native Cant Reset A Password"
**Describe the bug**
One of the only UI features in cognito is to force a password reset. Unfortunately that doesn't work in the amplify react native ui, leaving the only option to delete the user and have them sign up again.

**To Reproduce**
Install amplify and amplify react native.
Create an account in the app.
Through the cognito UI, "Reset Password" for that user
Go back to the app and try to

[2020-03-20 02:20] waltermvp opened #5156 "How can DataStore observe changes on one item?"
** Which Category is your question related to? **
DataStore / API

** What AWS Services are you utilizing? **
DynamoDB Appsync

** Provide additional details e.g. code snippets **
The following observes the entiire Events table:

[code]

How can I observe changes for one specific Event item using an `id`?

[2020-03-20 02:22] waltermvp commented on #5074
Here is the schema

[code]
I was able to get the same working by creating a whole new project

[2020-03-20 02:44] undefobj commented on #5130
@apoorvmote Can you open a new issue with the full stack trace of your crash? I haven't seen any reports of this. Also if there are features you'd like to enhance the flow of the `amplify-app` npx script we'd love to hear them rather than you giving up on them so that we can improve it.

[2020-03-20 02:48] undefobj commented on #5130
@karrettgelley We have a triaging process to review all category issues and work through a metric system for prioritization, and everything is taken seriously with a full time team working across different projects. While we can only address so many things at a certain time since the Amplify project as a whole is tackling very difficult concepts, the best way to help us out is by commenting on iss

[2020-03-20 02:54] undefobj commented on #5130
@karrettgelley can you give more complete code examples here of what you're doing in your schema and your app code? You mention that there are issues when updating a type or initialization. What does your app lifecycle look like? Are you running modelgen and pushing again? Are you changing required fields?

[2020-03-20 02:56] waltermvp opened #5157 "How to use static method of `ModelPredicateCreator`"
** Which Category is your question related to? **
Datastore, API

** What AWS Services are you utilizing? **
AppSync, DynamoDB

** Provide additional details e.g. code snippets **

When attempting to use static method `createForId` of `ModelPredicateCreator` in datastore Predicates I get the following error:
[code]

This is how I tried to call the `createForId` constructor:

[code]

You can see th

[2020-03-20 02:59] undefobj commented on #5100
Thanks @apoorvmote we're going to do a deeper investigation into this as well as some enhancements to `@key` functionality in the upcoming sprints. I've noted this as one of the issues to look at.

[2020-03-20 03:04] undefobj commented on #4652
@lenarmazitov DataStore does not work with `@searchable` as those are Full-Text Search queries powered by Amazon Elasticsearch in the cloud. Instead DataStore functions by synchronizing `@model` objects to your device using DynamoDB and optimizes this with a change journal which we call Delta Sync. Since DynamoDB supports capabilities such as index based sorting and filters which can be applied to

[2020-03-20 03:06] apoorvmote commented on #5130
@undefobj I have commited my client that I will deliver the app by 1st of next month. So instead of posting crash report I just used the alternative that actually works and initialized the app with `amplify init` instead of `npx amplify-app@latest`. And I have working app with this way. Basically I havn't gave up on datastore but using it to deliver app to my customer. But I will also post bug rep

[2020-03-20 03:12] undefobj commented on #5130
@apoorvmote excellent sounds like a plan

[2020-03-20 03:48] undefobj commented on #5119
@tslocke we're going to be picking up work in the next couple sprints on designs for letting you specify more [`@key`](https://aws-amplify.github.io/docs/cli-toolchain/graphql#key) capabilities on the base and delta queries, as well as filters and sorting for situations like this. If you could let us know the details of what your ideal data model would look like (e.g. GraphQL schema) around this a

[2020-03-20 03:54] undefobj commented on #5105
@apoorvmote I believe this documentation is what you want: https://aws-amplify.github.io/docs/cli-toolchain/quickstart#graphql-from-lambda

Transferring issue to CLI repo.

[2020-03-20 04:06] undefobj commented on #5115
@karrettgelley Do you think you could share a gist of your code and GraphQL schema so that we could try to reproduce? Looking through the details of this post it seems there is some inconsistency between the model generation and fields that are available in your backend. The only guess I have is that there might be a workflow during your data model iteration that is causing the problem but it's no

[2020-03-20 05:15] 0xdevalias commented on #2781
Having the same issue as @paalex above. Would be good to have a better resolution to this.

[2020-03-20 05:41] 0xdevalias commented on #1336
@Amplifiyer you linked the old [unstable release](https://www.npmjs.com/package/aws-amplify/v/1.2.3-unstable.5), and say it has since been made stable.

Looking at the versions on https://www.npmjs.com/package/aws-amplify there are all sorts of things, with various labels that seem rather odd:

eg. `latest` is at `2.2.6`, yet `beta` is at `1.1.24-beta.10`, and `next` is at `2.1.0`

It's kind of ha

[2020-03-20 07:58] mlafo commented on #4369
@sammartinez  Yes we are because everytime we do an Amplify Push we need to comment "$util.unauthorized()" into the pipeline resolver.

[2020-03-20 08:10] dakoller opened #5158 "import { Logger } from '@aws-amplify/core - amplify build fails, vs local build works"
Hi,

my build on amplify angular get broken, when including amplifyService.

The most immediate error I spot is a failure to

"import { Logger } from '@aws-amplify/core".

Interestingly the build works on my local windows10 local dev environment, but builds on aws fail.

My build output:
`2020-03-20T07:54:47.317Z [INFO]: Git SSH Key acquired
2020-03-20T07:54:47.400Z [INFO]: # Cloning repository: g

[2020-03-20 08:11] satishmolletipipra commented on #4180
@sammartinez @elorzafe @ashish-dirkmedia-de Please help me on this. this is a show stopper for us.

[2020-03-20 08:53] 0xdevalias commented on #3365
Not sure if actually a bug, or my own issue. Can you provide a minimal example of how to use `withOAuth` to use the Cognito hosted login?

This is what I have, and but I get a pile of 'cannot import' type errors. Installed both with the `@preview` version, and deleted my `node_modules` first:

[code]

[code]

![image](https://user-images.githubusercontent.com/753891/77148652-107df780-6ae4-11ea-91e

[2020-03-20 09:09] apoorvmote opened #7443 "Datastore fails to sync if I restrict access to group"
**Describe the bug**
When you set auth to `{allow: groups, groups: ["admin"]}` then entire datastore only works if admin logs in. If non admin logs in then other types that are `{allow:owner}` also don't sync. Everything stops working if non admin logs in.
`DataStore - Sync error subscription failed Connection failed: {"errors":[{"errorType":"Unauthorized","message":"Not Authorized to access onUpd

[2020-03-20 10:33] jakobpack commented on #5046
Thanks, using the solution described in [#4244 (comment)](https://github.com/aws-amplify/amplify-js/issues/4244#issuecomment-586845322) solved the issue!

[2020-03-20 10:33] #5046 closed

[2020-03-20 11:26] karrettgelley commented on #5115
@undefobj I created [a repo that demonstrates the DataStore syncing error](https://github.com/karrettgelley/datastore-demo). Take a look at the readme for specific instructions, or pull the repo and try it out. It should have all the credentials needed to run it if you pull it (i'll redact when this issue is resolved). Thank you for your help! I saw your talk on DataStore and loved it. It's a game

[2020-03-20 11:28] karrettgelley commented on #5130
@undefobj I'm going to close this issue because I believe it is intimately related to #5115 . Check out the repo I made that [demonstrates the DataStore syncing error](https://github.com/karrettgelley/datastore-demo). Thanks for your response

[2020-03-20 11:29] #5130 closed

[2020-03-20 11:34] rmaroun commented on #1437
+1

[2020-03-20 11:38] pubkey commented on #4652
I do not think that you need our data models. Just use the ones in the DataStore tutorial.

[2020-03-20 11:54] 0xdevalias commented on #4993
I've just hit what appears to be the same issue using `withOAuth` and `Auth.signOut()`. It appears to sign my app out, then I end up back on the hosted login page with the following error:

![image](https://user-images.githubusercontent.com/753891/77161443-cbff5580-6afd-11ea-84c2-4505eac64b4d.png)

[2020-03-20 15:02] nikgavalas commented on #5111
So I’m using `@connection(name:` if you look at my schema and I’m still not getting the one to many connected back child objects.

Also, I can use the code you suggested. I listed that as a solution. If you read the last part of my post you can see my question :).

[2020-03-20 15:21] apoorvmote commented on #5111
@nikgavalas
Actually I changed my mind. Well yeah I didn't read last part of your comment. You already have the solution. And your question is different. But I feel `@connection(name:` is dead to me now. I am going with `@connection(keyName:` I was using `keyName` but something crashed so I quickly went back to `name`. Now I have changed my mind.

GraphQL is also dead to me now. Long live Datastor

[2020-03-20 16:40] Amplifiyer commented on #3365
Hi @0xdevalias, there shouldn't be any difference between installing both the packages in one command or separately, it seems that aws-amplify-react package was installed the preview version but somehow aws-amplify was reverted or still using the non-preview version. Let us know if you are able to reproduce it again.

[2020-03-20 16:41] ericclemmons opened #5159 "Update crypto-js to ^3.2.1"
**Describe the bug**

https://github.com/aws-amplify/amplify-js/blob/ab08e38e22801e3a212f299057ecc9670fae5633/packages/auth/package.json#L40

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**

Customers have expressed concern over whether Amplify is affected by this vulnerability.

[2020-03-20 17:18] xitanggg commented on #991
Is there an update on this issue? It is worst user experience practice to ask user to sign in again upon signing up.

[2020-03-20 18:16] nikgavalas commented on #5111
Oh interesting, so the DataStore doesn’t use GraphQL underneath the hood?

[2020-03-20 18:44] michaeljcalkins commented on #4315
Also having this issue in 2.2.6, using all the defaults from the docs I get this error.

[2020-03-20 20:37] xitanggg commented on #2562
The amplify team should definitely work on this to get it fix to improve user experience and avoid wasting developer's time to build work around. In the meanwhile, here is my work around for anyone sharing this bad user experience. The idea is to store username & password in a tempInfo variable during signUp and call autoSignIn when user signedUp. Note this won't work if user don't finish code aut

[2020-03-20 21:18] tayyab-sarwar commented on #1585
For Facebook and Google it's working fine.
How can i skip Hosted UI for SAML/Ping Identity provider? is there a way to skip hosted UI?

[2020-03-20 22:13] #5031 closed

[2020-03-20 23:27] waltermvp opened #5161 "Datastore does not sync @connections relationships"
**Describe the bug**
Cannot sync a save a @connection relationship using Datastore. The object exists locally but does not sync.

1. Use this model
[code]

2. Save data

[code]
logs from tableSave
[code]

3. See error
[code]

When saving data without the EventTables @connection the data save fine.

[2020-03-21 01:27] #4350 closed

[2020-03-21 01:54] 0xdevalias commented on #5014
Also seeing this using the preview version from https://github.com/aws-amplify/amplify-js/issues/3365

[code]

[2020-03-21 02:07] peterschwarz21 commented on #54
I can't believe this thread is still open.... I'll just mention that I am facing the same problem albeit different.

I am using the CognitoID as the UID for users in my own DB. No problems except when the project  scope changed to allow 'admin' users to add other users to their application, there is no way of getting this ID when creating the user in the UserPool.

[2020-03-21 02:32] apoorvmote commented on #5111
Yes it does use GrapthQL. I think you can probably modify it to get nested queries with DataStore.

Just go down to your generated graphql directory. Look for `syncChordNode` or `listChordNode` and modify it to fetch all `ChordNodeState` objects. You as client decides what data to request. That includes nested `ChordNodeState` array.

[2020-03-21 03:51] apoorvmote commented on #5115
@karrettgelley I did get same error you got at #5130
Issue was I had 2 different project who had exact same schema and I ran one after another on same localhost. First one worked and 2nd one crashed.
So I opened incognito window and opened 2nd one that crashed and it worked fine.
So try with incognito window.

[2020-03-21 04:05] mousedownmike commented on #2562
This will be really nice to have implemented but in the meantime, I redirect users to the sign-in page with a message like the following:

They typically only see this once and I don't feel comfortable storing the user's password, even temporarily.

Hopefully this will eventually be handled with tokens from Cognito.

[2020-03-21 06:18] johnmesotech commented on #104
It's a feature, not a bug. Ref:
https://docs.aws.amazon.com/cognito/latest/developerguide/signing-up-users-in-your-app.html

[2020-03-21 11:12] juanludlf commented on #3098
there is a PR in progress
https://github.com/aws-amplify/amplify-js/pull/3769

[2020-03-21 11:54] idanlo opened #5162 "Analytics.updateEndpoint - is address required?"
** Which Category is your question related to? **
Analytics
** What AWS Services are you utilizing? **
Cognito, AWS AppSync, DynamoDB.
** Provide additional details e.g. code snippets **
I want to settle this once and for all, I have seen some people say that `address` is required, some people say it is automatically inserted by Amplify.
When my user logs in to the app I am updating its endpoint u

[2020-03-21 13:07] damogallagher commented on #4681
Hi

Just wondering if anyone has any fix for this item as of yet?
Are folks not using IVY until there is a fix  so we can use the Authentication Module with Ivy?

Thanks
Damien

[2020-03-21 14:16] alexkaduk commented on #2186
@sammartinez since onNotificationOpened() is supported only on Android, how notifications can be handled on iOS when application has been closed? Thanks for hint!

[2020-03-21 15:36] DoctahPopp871 commented on #4179
Is this issue being considered or is it dead ?

[2020-03-21 16:30] riznob commented on #4315
The solution for me was to to add `mode: "spa",` to my nuxt.config.js file.

[2020-03-21 17:04] xitanggg commented on #2562
I like the message. That is what I have as well if autoSignIn fails due to page refresh. That is the trade off we have to make right now between security and user experience. To make the best of both, we can store username and auto fill username.

[2020-03-21 20:51] camhart commented on #896
That sounds like your credentials expired and you need to refresh them.

[2020-03-21 21:16] mdebo commented on #5111
I meet the same problem - Im using a one to many relationship
type School {
  childGroups: [ChildGroup]
    @connection(keyName: "byCrecheByMinimumAge", fields: ["id"])
}
And when I query using DataStore.query(School, 'my-school-id') childGroups is undefined.
If I query directly ChildGroup I can retrieve them... what's going wrong?

[2020-03-21 21:42] chai86 opened #5163 "As a new user is signing up, how can i check Unique username? HELP needed!!!!!!"
Hi,

I'm using Auth.signUp() in my react native app. I would ideally like a way to check that the username that has been entered (and corresponding email address ideally), are unique and that no one else in the cognito pool already has those.

If successful, continue sign up, else choose another username.

How can i achieve this?