[2019-03-08 22:28] manueliglesias commented on #2825
@jkeys-ecg-nmsu That would be a service related question, you can try contacting the AppSync service team on their [AWS Forums](https://forums.aws.amazon.com/forum.jspa?forumID=280)

[2019-03-08 22:46] elorzafe commented on #2826
@callagga currently you need to edit your request mapping template on AppSync console (unfortunately if you change AppSync configuration on the Amplify cli that will overwrite this changes )

In order to edit the request mapping template you should go to **Schema** tab, then select createEvent mutation (on the resolvers section, right side of the console). Finally paste this on the request mapping

[2019-03-08 22:46] #2826 closed

[2019-03-08 23:15] haverchuck commented on #2817
Hello @joseph-d-p  - Filtering the runtime results of a subscription is not supported today in AppSync.  However, you may be able to achieve your use case by using [subscription arguments](https://docs.aws.amazon.com/appsync/latest/devguide/real-time-data.html#using-subscription-arguments).

[2019-03-08 23:19] callagga commented on #2826
thanks elorzafe - I've just started with AWS using amplify, but I'm wondering whether amplify (at the moment) is more something that could assist in simply AWS apps?  Would it be best to go back to understanding how to code graphql API interfaces (for react) with a dynamodb backend directly in the AWS consoles perhaps?   (before then using amplify)

Perhaps my question is given the constraint you

[2019-03-08 23:20] #2817 closed

[2019-03-08 23:42] alexlhanson commented on #2806
@powerful23, yes I am trying to run SAML with OKTA to my Cognito Pool.  The hostedUI page was a bit confusing because it just mentions OAuth config, but using the same info from configuring and launching sections, it now brings up the OKTA button for login.  Now just fixing Cognito issues.  Thanks for the help!

[2019-03-08 23:42] #2806 closed

[2019-03-08 23:49] h0ru5 commented on #1298
for all of you facing this issue also with the url specified in the app client settings:
it worked for me only when the logout redirect url was different to the login one. (e.g. appending "/logout")

[2019-03-09 00:03] eibay commented on #1721
@kevinwolfcr i wanted to build exactly what you're asking. i wonder how did you go about it?..

[2019-03-09 00:25] elorzafe commented on #773
@hollygirouard did you solve your issue, what were you struggling with?

[2019-03-09 00:27] selipso opened #2840 "Accessing AWS_IAM resources in Incognito browsers using Appsync bypasses all restrictions"
**Describe the bug**
This seems like a major security issue related to the auth/unauth feature of AWS_IAM with Appsync. Hopefully it has already been reported by someone else. When creating a new resource (item in a DynamoDB table), by default AWS_IAM authentication uses an Identity ID to assign that resource to the holder of that Identity ID.

However, when you switch to incognito mode, and there

[2019-03-09 00:34] elorzafe commented on #1069
@josoroma what are trying to do by adding a global interceptor? Is only to have on a single point for error handling, or you are trying something else?

[2019-03-09 00:38] elorzafe commented on #1214
@vinaykumarkas are you still experiencing problems with this?

[2019-03-09 00:41] elorzafe commented on #1230
@jackywxd Did you find a solution for this?

[2019-03-09 01:22] jackywxd commented on #1230
@mlabieniec That's correct. We have Geolocation Routing setting with Route53. And it is API only, so no need static S3 or CloudFront. We deploy our API with serverless framework to three different regions, and endpointType is set to "regional". So we have three different target domain names returned from API gateway from each region. Custom Domain Name is setup in API gateway to map our own Domain

[2019-03-09 01:26] elorzafe commented on #1255
I think is  PR #2790 solved the problem. @michaelcuneo @joebernard can you confirm if that is no an issue on the latest version (1.1.22)

[2019-03-09 01:44] jackywxd commented on #1230
@elorzafe Yes, we did have a workaround for our iOS App using AWS SDK.

Our Route53 is configured to do health check. One open API was setup for this purpose, all it does is to return the current region name. And Route 53 health check will match the returned region string.

So we were able to leverage this API in our mobile App to determine the backend region our application try to access, and con

[2019-03-09 04:13] ajhool commented on #1613
@skdigital what are you looking for in particular? I have a nextjs workaround that I think is robust, although the workaround is just to deter Amplify from doing anything on the server

[2019-03-09 05:32] kevinsperrine commented on #2544
I can confirm this is also happening for me on Android since v1.0.18. The moving of the emit token event from initialize to being fired when the context is ready is causing the token to be emitted before the onRegister handlers are added and it's never picked up by the JS. If I revert back to 1.0.17 it works as expected.

[2019-03-09 05:53] CrashyBang commented on #2496
If I was building an app that required offline support (so I would want to use the appsync-sdk) but I also wanted to take advantage of Amplifies storage module, could I do both, or at that point would I need to pick between amplify and appsync?

[2019-03-09 12:53] jtaylor1989 commented on #2820
react-native-fetch-blob is deprecated. You should update the docs with the new repo named rn-fetch-blob.

[2019-03-09 14:50] yazoonic commented on #2795
I just posted this on the forums

[2019-03-09 17:34] jkeys-ecg-nmsu commented on #2813
@flybayer you could use the admin API suggested by @powerful23 and then store the result as a custom claim in your token during the pre-token generation Cognito trigger. Then you could just access it from the token like any other claim.

[2019-03-09 18:29] josephbridgwaterrowe commented on #2686
@chiubaka is this happening when using Jest or without?

[2019-03-09 18:51] bonillam opened #2833 "Federation for Google Sign in using a Cognito User pool NOT and Identity Pool"
** Which Category is your question related to? **
Implementing Google Sign in using AWS cognito user pools and a CUSTOM UI

** What AWS Services are you utilizing? **
Amplify, Cognito User pool

** Provide additional details e.g. code snippets **
Using Expo + React Native + Amplify Frameworks.

1. I've implemented Google Signin using the Expo library; That part works and I am able to get the user

[2019-03-09 21:52] MohibWasay commented on #2511
Hey @powerful23 apologies for being away. problem was resolved with the update of Expo version. Closing down this issue.

[2019-03-09 21:53] #2511 closed

[2019-03-09 22:03] daniyal-intellicel opened #2838 "AWS Amplify Facebook Login, Federated Identities"
** AWS Authentication **

I am using Cognito User Pools to manage user Sign-Up and Sign-In. I also want to login with facebook. The documentation says that we don't need to use `Auth.federatedSignIn()` , so I am not sure what else to be used and how?

![image](https://user-images.githubusercontent.com/43338645/54077883-a92e4480-42e0-11e9-8fbe-7f7351903012.png)

here;s my code so far
[code]
	}

[2019-03-10 00:01] luis-felipe-llamas commented on #2827
@powerful23 I have the exact same issue. Is there a current workaround for this (like manually telling Amplify to refresh the accessToken)?

[2019-03-10 00:32] rohit3d2003 commented on #2482
The same thing happens on iOS app as well

[2019-03-10 05:16] deadcoder0904 commented on #2207
Yep, this is really terrible. It even breaks my emmet autocompletion. Even if I type `p`, it suggests `PhotoPicker` to me so I've currently disabled this extension.

Hope this fixes soon 🤞

[2019-03-10 09:04] AbdelhalimAhmed commented on #2609
+1

[2019-03-10 12:30] neil-rubens commented on #1386
a good example is provided in https://aws-amplify.github.io/docs/js/authentication#make-it-work-in-your-app

[code]

[2019-03-10 16:19] ChakirMrabet commented on #1997
How to use this from `<Authenticator .. />`? I'm facing the same problem, I want to get rid of the toast that shows up by default with the error, and show instead my own component.

Thanks.

[2019-03-10 16:36] ChakirMrabet opened #2834 "How to customize the Authentication toast that shows at the top with error messages?"
** Which Category is your question related to? **

Authenticator Component.

** What AWS Services are you utilizing? **

Cognito.

** Provide additional details e.g. code snippets **

I can customize all the Authentication components (SignUp, ForgotPassword, etc..), except the Toast one that shows up at the top of the screen with error messages. I'd like to get rid of it and instead show my own co

[2019-03-10 19:35] BardiaN commented on #1997
@ChakirMrabet Here is what I've found. Hope it helps you:
If you pass "theme" to the  "<Authenticator ... />", you can customize how "Toast Component" will look. I took advantage of that and added a "display: 'none'" to it:
const theme = {
....,
toast: { display: 'none' }
}

[2019-03-10 19:37] BardiaN commented on #2834
You need to customize the "toast" class in your theme:
{
...,
toast: {backgroundColor: 'red'},
... }

[2019-03-10 20:31] ChakirMrabet commented on #2834
That worked, thanks!

[2019-03-10 20:31] #2834 closed

[2019-03-10 20:32] ChakirMrabet commented on #1997
It worked, thanks.

[2019-03-11 00:05] #1255 closed

[2019-03-11 00:20] chiubaka commented on #2686
Mine is not a Jest bug--just a similar issue with trying to get a third-party tool to crunch `aws-amplify-react-native`'s untranspiled code.

[2019-03-11 00:23] michaelcuneo commented on #773
@hollygirouard I need to look up my documents to find out what I did to fix this, but I remember that I know I did. The old generation of API Rest code was not actually generating code based on listing/getting properly. The listing and getting were not actually being performed, the command was being called successfully but the command was to do literally ... nothing.

I had to add this method to b

[2019-03-11 01:41] kwhitejr opened #2835 "How to access AppSync (Amplify graphql API) enum values"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
Appsync via Amplify

** Provide additional details e.g. code snippets **
I want to access possible enum values in order to programmatically generate React components, e.g. a dropdown input with option tags. What is the advised way of accessing and/or exposing enums via Appsync? Access to the enums is

[2019-03-11 03:14] dylan-westbury commented on #54
Yes that is the correct identityId, but it's only available if the authorizer is set to AWS_IAM, as opposed to a cognito user pool authorizer

[2019-03-11 09:04] joseph-d-p opened #2836 "How to subscribe using union type"
** Which Category is your question related to? **
Amplify subscriptions

** What AWS Services are you utilizing? **
Appsync

** Provide additional details e.g. code snippets **

I have a mutation that returns a **Union Type**.

[code]

But this gives an error due to mismatched types in mutation (return is `Task` which is a union) and subscription (returns `PersonalTask`)

**Questions**
1. How to h

[2019-03-11 09:27] bwobbones opened #2837 "Where do I add permissions when using amplify-cli?"
** Which Category is your question related to? **
API/Function

** What AWS Services are you utilizing? **
Lambda/DynamoDB

** Provide additional details e.g. code snippets **
I have a lambda that gathers data from DynamoDB that i created using the cli.

When I execute it, I get a permission error:

`User: blah is not authorized to perform: dynamodb:DescribeTable`

This is easy enough to fix, I ad

[2019-03-11 10:28] dave-irvine commented on #1831
Is anyone still looking into this? I'm still getting all of GraphQL bundled even though I don't access any GraphQL features.

It looks like this line: https://github.com/aws-amplify/amplify-js/blob/master/packages/api/src/API.ts#L13

gets compiled down to:

[code]

when transpiled from TS to JS, so instead of just importing the parts needed to create a GraphQLError, you get the entire library.

[2019-03-11 10:45] rfdc commented on #915
I'm following the official [doc](https://aws-amplify.github.io/docs/js/authentication#sign-in) and getting the same error @powerful23
my code:
[code]
Hope it can be resolved soon!
Thanks

[2019-03-11 10:46] rfdc commented on #915
@differentsmoke - all the functions for Auth can be found here: https://aws-amplify.github.io/amplify-js/api/classes/authclass.html#completenewpassword

[2019-03-11 13:36] mashraf22 commented on #2829
I am using Cognito User Pool.

[2019-03-11 15:11] Exomus commented on #2362
Adding `"@types/graphql": "0.13.0"` to the `package.json` manually seems to fix it in my project for the moment.

[2019-03-11 15:23] dagenius007 commented on #2609
same here

[2019-03-11 15:30] mickadoua commented on #565
Any update about this?
I don’t understand why is so complex to achieve this simple task,

My final goal is to know who call my Lambda  (with API GW)  to adapt rules please

[2019-03-11 16:09] dagenius007 commented on #2609
@LuisUrrutia did not work for me

[2019-03-11 16:41] dagenius007 commented on #2609
I have solved my problem.

I deleted rn-cli.js (if you have it in your root folder).

add
 pod 'React', :path => '../node_modules/react-native'
  pod 'yoga', :path => '../node_modules/react-native/ReactCommon/yoga'
to your Podfile located in your ios folder.

Then run cd ios && rm -rf Pods && pod install

[2019-03-11 17:23] joebernard commented on #563
I faced this same issue with my iOS build. I had to `unlink` first.

[code]

[2019-03-11 18:22] elorzafe opened #2839 "Warning messages to help with permissions/configuration issues"
**Is your feature request related to a problem? Please describe.**
Currently is not easy to debug permissions/configurations problems with the library, it would be nice to find warning messages with information related to this issues while invoking it.
**Describe the solution you'd like**
- For example #2828 for Storage category can show a message in case the list of files is empty, or an object n

[2019-03-11 18:26] powerful23 commented on #2795
@yazoonic thanks!

[2019-03-11 18:26] #2795 closed

[2019-03-11 18:42] powerful23 commented on #915
@rfdc the user object you passed into the `completeNewPassword` method should be a `CognitoUser` object, not the `email`. This object is returned by `signIn` method.

[2019-03-11 18:59] powerful23 commented on #2829
@mashraf22 Hi, sorry but can you provide more info about this issue?

- The code snippets you are using?
- Why would you claim the token is expired? Did you call some certain method and it returned back the error?
- You can provide some debugging info by putting `window.LOG_LEVEL='DEBUG'` in your code.

This would help us a lot to reproduce this issue. Thanks!

[2019-03-11 19:13] swaminator commented on #2727
@funkfinger reaching out again to see if this is still an issue

[2019-03-11 19:53] jordanranz commented on #2691
This will be a part of our UI Component refactor. I will keep this issue open so we can track this request.

[2019-03-11 19:55] haverchuck commented on #2701
@schof We have merged a fix into our unstable build (npm i aws-amplify-react@unstable).  It will be in the main build in the near future.

[2019-03-11 19:55] #2701 closed

[2019-03-11 19:57] jordanranz commented on #2752
There seems to be global styles affecting the CSS of the federated button icons.

@RodionChachura do you have access to the computed styles for the Google icon?

In the meantime we can try and add more specific styling to the icons to try and prevent this from happening.

[2019-03-11 20:09] jordanranz commented on #2672
Glad that worked. I am going to keep this open to be tracked by our UI Component refactor milestone.

[2019-03-11 21:17] lsirivong commented on #2416
Confirming that we see this too. The errors are pretty inconsistent and confusing. Here are some examples of what we see with cognito's default recommended constraints:

[code]

Attempting `1`:

Attempting `12`, `123`, `1234`, `12345`:

Attempting `123456` or `1234567`

Attempting `12345678`

[2019-03-11 21:33] simoneb opened #2842 "React withAuthenticator guest user"
**Which Category is your question related to?**

Authentication with React's `withAuthenticator` HOC

**What AWS Services are you utilizing?**

Cognito

**Provide additional details e.g. code snippets**

I'm following the React quick start guide and implementing authentication. Using the `withAuthenticator` HOC I see that it is always shown when the user is not authenticated. I have already config

[2019-03-11 22:00] swaminator commented on #2666
We rolled out a fix last week. please verify if it works for you.

[2019-03-11 22:06] jordanranz commented on #2840
Hi @selipso,

Could you provide a few more details about how you are using Amplify?

- Did you use the Amplify CLI to setup Appsync?
- Did you configure AWS_IAM in the Appsync console?
- Are you using the [appsync-sdk](https://github.com/awslabs/aws-mobile-appsync-sdk-js) or the [Amplify API category](https://aws-amplify.github.io/docs/js/api) to interact with you backend/Appsync api?
- Do you hav

[2019-03-11 22:28] jordanranz commented on #2842
Hey @simoneb,

withAuthenticator HOC should wrap the component that you want to render when a user logs in (and is authenticated). Your base application component (where guests/unauthenticated users land), should not be wrapped with the HOC.

[2019-03-11 22:33] RidClick opened #2843 "APIService subscription question"
I need some help here.
The APIService generated by codegen has generated this function.

[code]

I'm trying to call this listener from an angular page but I can not pass the parameter to the function
always get "Variable 'conversationId' has coerced Null value for NonNull type 'ID!'".
I have tried in all ways but I can not send it.

This is more or less my code.

[code]

Another subscription witho

[2019-03-11 22:55] pranavgawri commented on #2610
Hello everyone, did you guys find a solution or a workaround for this issue? I am getting the same problem using, Amplify, React-Native on an Android device.

Same as everyone mentioned queries and mutations seems to work fine, only in subscription this error occurs. If its of value to anyone, I need to wait for few mins after the mutation before my subscription fails and this error comes up.

Any

[2019-03-11 23:26] jordanranz commented on #940
This is one of the tenants of the UI Component refactor milestones.

[2019-03-11 23:48] jordanranz commented on #2843
Hey @RidClick,

Can you include the versions of aws-amplify you are using?

[2019-03-11 23:57] jordanranz commented on #2843
Actually this seems related to the Amplify CLI codegen. I will pass this back to the CLI repo.

[2019-03-12 00:16] powerful23 commented on #2555
@jdolinski1 sorry to be late. The tokens will not be refreshed as soon as expired. They will be refreshed by the library when some certain function calls `Auth.currentCredentials()` which will use the token to get a new aws credentials. At that moment the tokens will be refreshed as we cannot use the expired ones to get a new credential.

[2019-03-12 00:41] jpmock commented on #1159
Same error, makes no sense as to why.  Very frustrating.

[2019-03-12 00:52] harixth opened #2845 "AppSync GraphQL API only return 20 items from DynamoDB"
** Which Category is your question related to? **
API, GRAPHQL
** What AWS Services are you utilizing? **
AWS APPSYNC, AMAZON DYNAMODB
** Provide additional details e.g. code snippets **
I'm try to run queries to AWS AppSync to fetch all list of Todos which I got around 50 items in DynamonDB but the result only return 20 items in my app, is there any limitation for AppSync?

I used amplify library

[2019-03-12 01:40] selipso commented on #2840
Hi @jordanranz, I'm using the Amplify API category with customized IAM auth permissions as per the auth-unauth example here: https://github.com/dabit3/appsync-auth-and-unauth

The difference is: my IAM permissions are the same between auth and unauth roles. So an authenticated user can call any query or mutation (just not subscription). The above behavior might be expected and in regular browsers

[2019-03-12 01:43] RodionChachura commented on #2752
@jordanranz, no - I don't.

[2019-03-12 01:54] joseph-d-p commented on #2610
@pranavgawri, so what I did was let the React Native component listen for network connectivity change. If the network changed from offline to wifi, I subscribe again. Previous subscription channels with disconnected socket under the hood were closed.

[2019-03-12 06:58] #2845 closed

[2019-03-12 09:31] emad-ir opened #2846 "FromData request support"
**FormData requests**

Amplify API version 1.0.26 doesn't add the FormData on the request made with API.post()

**Additional context**
I am trying to post the files using the javascript FormData, but when inspect the Network tab the request goes throw without the form data.

**My frontend react code**

[code]

Is posting formData not supported on amplify-js?

[2019-03-12 10:48] Exitialis1 opened #2847 "How to persist session over page refresh?"
I am trying to move away from using the withAuthenticator HOC and use my own components to handle authentication to better integrate with the rest of the application. So far I have sign in, up, and out as well as verify email working (I am not using usernames). But I cannot make a signed in session persist over a page refresh and I cannot work out why.

I saw this issue and tried moving Amplify.co

[2019-03-12 13:43] jahirfiquitiva commented on #2784
@haverchuck  mind opening this issue again? it isn't solved yet :/

[2019-03-12 17:03] nagey commented on #2666
appears to be working now. Thank you.

[2019-03-12 17:45] powerful23 commented on #2833
@bonillam hi, if you want to federate with the Cognito User Pool, you should use the Cognito Hosted UI: https://aws-amplify.github.io/docs/js/authentication#using-amazon-cognito-hosted-ui and https://aws-amplify.github.io/docs/js/authentication#launching-the-hosted-ui-in-react-native

[2019-03-12 17:51] powerful23 commented on #2838
@daniyal-intellicel Hi, to federate with the Cognito User Pool, you should use the Cognito Hosted UI: https://aws-amplify.github.io/docs/js/authentication#using-amazon-cognito-hosted-ui

[2019-03-12 18:11] jkeys-ecg-nmsu commented on #2847
Sounds like Amplify isn't being configured as the first statement in the program.

Where in your app are you configuring Amplify?

(@jordanranz helped me solve a similar issue not too long ago)

[2019-03-12 19:14] elorzafe commented on #2826
@callagga with the latest version of the cli you can edit the resolvers inside of your `amplify` directory!

I've[ just tested and there is available documentation in order to do that. https://aws-amplify.github.io/docs/cli/graphql#add-a-custom-resolver-that-targets-an-aws-lambda-function that is an example that uses lambda as a data source, but is the same pattern to change locally request mappin

[2019-03-12 19:36] jordanranz commented on #2816
Closing this as the question is answered. Please reopen if you have any related questions or concerns.

[2019-03-12 19:36] #2816 closed

[2019-03-12 19:41] jordanranz commented on #1214
Going to close this due to this issue being stale. Please open a new issue if this problem still exists.

[2019-03-12 19:41] #1214 closed

[2019-03-12 20:15] Exitialis1 commented on #2847
Yes, the issue that you opened is the one I found and tried to copy without success. This is my index.js, I don't know if I can configure Amplify any earlier than this can I?

`import React from 'react';
import ReactDOM from 'react-dom';
import { BrowserRouter } from 'react-router-dom';
import registerServiceWorker from './registerServiceWorker';
import Amplify from 'aws-amplify';

import App from

[2019-03-12 20:41] jordanranz commented on #1665
Closing this as this issue seems to have been solved and is stale. Please reopen if you are still experiencing similar problems.

[2019-03-12 20:41] #1665 closed

[2019-03-12 20:42] jordanranz commented on #1653
Seem the question was answered here. Gonna close this. Please reopen if you have any further questions or concerns.

[2019-03-12 20:42] #1653 closed

[2019-03-12 20:44] jordanranz commented on #1687
It seems the question was answered here. Please reopen or open a new issue if there are anymore related questions or concerns.

[2019-03-12 20:44] #1687 closed

[2019-03-12 20:46] jordanranz commented on #1622
This issue is stale. Please open a new issue if you are having any more related questions or concerns.

[2019-03-12 20:46] #1622 closed

[2019-03-12 20:52] jordanranz commented on #1664
[This post](https://stackoverflow.com/questions/39837246/is-it-safe-to-show-the-aws-cognito-pool-id-in-my-html) explains the risk involved here and ways to mitigate.

I am going to close this as it is stale issue. Please reopen or open a new issue if you have any more related questions or concerns.

[2019-03-12 20:52] #1664 closed

[2019-03-12 20:58] jordanranz commented on #1722
Clarification has been made here. I am going to close this issue. Please reopen if you have any related questions or concerns.

[2019-03-12 20:58] #1722 closed

[2019-03-12 21:02] callagga commented on #2826
thanks for the pointer will look into this - does it do any validation/syntax checks on the code before it uploads by chance?

[2019-03-12 21:04] jordanranz commented on #1727
Is this issue safe to close?

[2019-03-12 21:05] jordanranz commented on #1724
Did you solve this issue?

[2019-03-12 21:18] jordanranz commented on #1846
I cannot find "userPool.getCurrentUser().getSignInUserSession()" in the app you posted.

[2019-03-12 21:25] jordanranz commented on #1966
Amplify.configure(aws_exports); should also configure Analytics and PushNotifications for you. Can you try removing:
[code]

[2019-03-12 21:30] jkeys-ecg-nmsu commented on #2847
I think you want to configure at the top of your App.jsx. That's where our projects now run `Amplify.configure(aws_exports)` and persist auth across refresh. The App component itself is still rendered from index.js.

[2019-03-12 21:53] jordanranz commented on #2074
The question was answered. I am going to close this issue now. Please reopen if you have any related questions or concerns.

[2019-03-12 21:53] #2074 closed

[2019-03-12 21:57] bonillam commented on #2833
Thank you @powerful23. As per the docs you pointed out,  I thought the Props could be used to create a custom UI (GoogleSignin prop, for example) instead of using the hosted UI.

Are you telling me that I must setup and  configure and launch the hosted UI and only after that process, build the custom UI?

[2019-03-12 22:02] jordanranz commented on #2135
@rainnaren,

It doesn't look like you are using Amplify. Does this issue belong here?

[2019-03-12 22:03] denchp opened #2848 "undefined is not a function when calling updateUserAttributes"
**Describe the bug**
When trying to update the current user's attributes I'm getting the following error:
`
undefined is not a functio n(evaluating 'Object.keys(styles)[typeof Symbol === "function" ? Symbol.iterator : "@@iterator"]()')
`

This error specifically arises with the 2nd line of code listed below.

[code]

**Expected behavior**
Update the current user's attributes and return successfull

[2019-03-12 22:13] jordanranz commented on #2666
I'll go ahead and close this for you. In the future please open Amplify Console issues in the AWS Forum [here](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0).

Thank you @swaminator for helping solve the issue.

[2019-03-12 22:13] #2666 closed

[2019-03-12 22:39] PixelMooort opened #2849 "React native, aws-amplify storage, getting aws.cognito.identity-id"
i am trying to get aws.cognito.identity-id with React-Native. After successeful sign-in i am getting CognitoUser, but storage variable is equal to [Function MemoryStorage], however with React in my web browser storage has some values. Code in React and React native exactly same.

**Browser output:**
[code]
**Android device output:**

[code]
**Code**
[code]

[2019-03-12 23:09] jordanranz commented on #2848
Hey @denchp,

It may be that you are missing `Auth.` in front of `getCurrentAuthenticatedUser()`

If that is not the problem here is an example for reference:
https://aws-amplify.github.io/docs/js/authentication#working-with-user-attributes

Also, try setting this in your js:
`window.LOG_LEVEL = 'DEBUG';
`
The will give you more verbose logging in console during development.

[2019-03-12 23:21] jordanranz commented on #2847
Yea as @jkeys-ecg-nmsu mentioned,

Try and move
`import Amplify from 'aws-amplify'`
and
`Amplify.configure(...)`

to the top of the`./Components/App/App'` file

[2019-03-12 23:23] xaviertorgerson commented on #2362
Just installing the latest `@types/graphql` with `npm install @types/graphql` did it for me.

[2019-03-12 23:34] jordanranz commented on #2840
I believe the above behavior is expect when your auth and unauth roles have the same IAM permissions.

Pertaining to your question, I believe you are alluding to fine-grained access control. This use case is documented here:
https://docs.aws.amazon.com/appsync/latest/devguide/security.html#fine-grained-access-control

Hope this helps answer your question.

[2019-03-13 00:01] powerful23 commented on #2849
@PixelMooort that's true because Amplify load items from AsncStorage to Memory when initialized. I think you can still use this storage object to get the value.

[2019-03-13 01:35] kwhitejr opened #2851 "How to filter a list by value from nested schema?"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
Appsync via Amplify

** Provide additional details e.g. code snippets **
I have a simple practice schema. On the `Article` model, a `category` field is nested within a `metadata` field. I want to build a Query that provides a list of Articles filtered by category. It is not clear to me how to filter o

[2019-03-13 02:11] denchp commented on #2848
The getCurrentAuthenticatedUser is actually imported from another file, which wraps the Auth call - but it does return the actual user.

[2019-03-13 04:23] funkfinger commented on #2727
Hi, thanks for following up. Yes, my build is still failing. I am available
tomorrow  and Thursday. I am out on vacation Friday through next Thursday.
Thanks again, Jay.

On Mon, Mar 11, 2019 at 12:13 PM Nikhil Swaminathan <
notifications@github.com> wrote:

--
Jay Wiggins

[2019-03-13 07:21] jukkahuuskonen commented on #2574
Anyone else still having this same problem? I'm on v.2.3.2 and IE11 gives the same
'Multiple definitions not alloweed in strict mode' error.

[2019-03-13 07:39] abhilashkgowda commented on #2511
https://stackoverflow.com/a/55136612/6104701

[2019-03-13 08:28] PixelMooort commented on #2849
@powerful23 thx for reply, can you please explain how can i get values from it? I tried something like
`console.log(user.storage.MemoryStorage.getItem(...));`
but it's undefinded value. Thx.

[2019-03-13 08:34] nicsaravanan commented on #550
@ballenwillis  you saved my day!!! thank you so much.  I was able to follow the same procedure for my ionic 4 app to upload the image taken from android camera to s3 bucket

[2019-03-13 09:03] PixelMooort commented on #2849
i installed Reactotron and get this response
![image](https://user-images.githubusercontent.com/47664701/54265836-756c4c80-4576-11e9-815e-5ac03260bfe8.png)
so i pretty sure that values are there but i don't know how to work with this storage

[2019-03-13 09:13] ngocketit commented on #29
What should I use for the app client which is going to be used for the mobile app? `userPoolWebClientId` is for the Web app only I guess.

[2019-03-13 09:23] pandanr1 commented on #1429
Hosted UI and validation-code-messages should be multi-language. Firebase got that but we want to stay with aws. Any update?

[2019-03-13 09:42] bonbertr opened #2852 "Update from aws-amplify 0.4.4"
** Which Category is your question related to? **
@aws-amplify/pushnotification

** What AWS Services are you utilizing? **
Mobile Hub, AWS PinPoint

** Provide additional details e.g. code snippets **

Hello,
I'm using AWS Pinpoint for ios/android Push Notifications on my react native app. I have a functional setup I did about a year ago using aws-amplify 0.4.4 and aws-amplify-react-native 0.2.15

[2019-03-13 09:50] ngocketit commented on #1368
Got the same error. It looks like Amplify currently doesn't support client with secret. Could someone please confirm?

[2019-03-13 10:19] apertureless commented on #469
Disabling the user would be the proper way to go.
You have to keep in mind, that if you're just deleting the user from the cognito pool (over the dashboard or API) this **does not** delete the data associated with the user.

If you have somewhere `@auth()` rules for the owner (multi-user app) you'll get in trouble if you delete the user. Because if someone else register then the same username, he

[2019-03-13 10:50] jbprat commented on #1724
Yes, I used amplify and it worked fine!

Jean-Baptiste

Envoyé depuis ProtonMail mobile

-------- Message d'origine --------
On 12 mars 2019 17 h 05, Jordan Ranz a écrit :

[2019-03-13 10:54] Exitialis1 commented on #2847
Yeah, this was how I had it configured before and moved it into index just in case that would make any difference, moved it back to App and it hasn't changed anything.

[code]

[2019-03-13 13:54] denchp commented on #2848
For what it's worth, I had the log level set to debug, and it didn't give any significant output:
[code]

[2019-03-13 14:11] Exitialis1 opened #2853 "How to use Analytics in conjunction with Cognito User Pool"
I am trying to implement Analytics into an application that is already using a Cognito User Pool for identity and authentication but none of the tutorials that I can find cover how to go about this. Just to check that I have understood how Analytics is supposed to work without a user pool; app gets unauth identity from identity pool, IAM role gives that identity rights to write data to Pinpoint, a

[2019-03-13 14:18] sekistner opened #2854 "Can't unlink"
I want to remove the authentication, it's scattered around the android and iOS folders.
But `react-native unlink` and `react-native uninstall` doesn't do anything.

I execute
[code]
immediately afterwards
[code]

Did I forget something, how can it detect it as linked react-native library and then not when it tries to unlink it?

[2019-03-13 15:20] denchp commented on #2848
So I've solved this issue.

Adding a .catch to the function call resolves this issue:
[code]

[2019-03-13 15:20] #2848 closed

[2019-03-13 15:37] jkeys-ecg-nmsu commented on #2847
Could you paste your index.js? I think @jordanranz is saying not to import amplify in index.js.

[2019-03-13 15:48] Exitialis1 commented on #2847
This is index.js now:

[code]

[2019-03-13 15:52] clearly opened #2855 "Support for OpenID Connect User Questioning"
**Is your feature request related to a problem? Please describe.**
It would be great if aws-amplify-react added support for OpenID Connect User Questioning

**Describe the solution you'd like**
An implementation of the specification from the End User side as defined here: https://openid.net/specs/openid-connect-user-questioning-api-1_0.html#rfc.section.1.5

**Describe alternatives you've considere

[2019-03-13 17:15] jordanranz commented on #2852
Related to: #2541

[2019-03-13 17:20] powerful23 commented on #2852
@bonbertr can you take a look at this? https://github.com/aws-amplify/amplify-js/issues/2541#issuecomment-456505939

[2019-03-13 17:22] dallashuggins commented on #2087
We're getting the same issue, but we get the error when calling the `Auth.signIn` method, opposed to `Auth.confirmSignIn`. or `completeNewPassword`. We get the `InvalidParameterException` error "Invalid device key given", but the sign in is successful. When looking at the cognito object we're sending, no device key was being sent. A solution was changing the "Do you want to remember your user's de

[2019-03-13 17:25] subgero commented on #487
NewPasswordRequired doesn't make sense to new users.

[2019-03-13 17:26] bonbertr commented on #2852
Thanks for your answers, already checked #2541 , I removed the debug build from my phone, built and started again, and onRegister was not called either. I also checked the AsyncStorage following the provided link in the #2541  topic: https://github.com/aws-amplify/amplify-js/blob/master/packages/pushnotification/src/PushNotification.ts#L236 but no token is stored in AsyncStorage.

[2019-03-13 17:34] jordanranz commented on #2835
Hey @kwhitejr,

There are two ways to do this:
1. Through aws cli: https://docs.aws.amazon.com/cli/latest/reference/appsync/get-introspection-schema.html
2. Creating an introspection query in your Appsync api: https://graphql.org/learn/introspection/
example: https://github.com/graphql/graphql-js/blob/master/src/utilities/introspectionQuery.js#L20

I believe your use case calls for option 2.

[2019-03-13 17:41] powerful23 commented on #2833
@bonillam I mean you should follow the steps in the doc to make federation with Cogntio User Pool work. But yes you can have your own custom UI.

[2019-03-13 17:43] jordanranz commented on #2855
This may need to be implemented in the Cognito service. Will follow up with the service team.

Thanks for the feedback.

[2019-03-13 18:06] jkeys-ecg-nmsu commented on #2847
I wonder if wrapping App in BrowserRouter is causing the issue. Can you try adding the BrowserRouter to the actual App component instead of wrapping it in index.js?

[2019-03-13 19:40] kevlarr commented on #446
It would definitely be helpful if [the documentation](https://aws-amplify.github.io/docs/js/authentication#retrieve-current-session) actually mentioned that behavior for `currentSession()`. We are only using Auth, so we aren't using other modules that will automatically refresh, and we'd opted for the "set timeout to refresh tokens manually" approach until finding this thread.

[2019-03-13 19:53] jordanranz commented on #996
@powerful23 has merged a fix for this issue. Going to close this. Please reopen if you have any related questions or concerns.

[2019-03-13 19:53] #996 closed

[2019-03-13 19:56] jordanranz commented on #872
Hi @freeworld1995,

Apologies for the late response, we have adopted a new triage process.

Are you still experiencing this issue with the latest version of Amplify?

[2019-03-13 20:03] jordanranz commented on #937
Going to close this as a response was made and a duplicate was posted. Please reopen if you have any further questions or concerns.

[2019-03-13 20:03] #937 closed

[2019-03-13 20:08] jordanranz commented on #949
@joshuagamboa, that is correct for now. Amplify's fetch is "network-only" at the moment.

I am going to close this as the question above seemed to have been answered. Please reopen if you have any related questions or concerns.

[2019-03-13 20:08] #949 closed

[2019-03-13 20:09] jordanranz commented on #932
@falloutcoder,

Have you received any more information from the Cognito service support center?

[2019-03-13 20:11] jordanranz commented on #950
Based off of the responses it seems like the problem was fixed by updating Amplify.

Going to close this for now. Please reopen if the problem still persists or you have any related questions or concerns.

[2019-03-13 20:11] #950 closed

[2019-03-13 20:15] Exitialis1 commented on #2847
A good idea, unfortunately it hasn't worked :(

[2019-03-13 20:15] jordanranz commented on #987
Has anyone opened up this issue with the Cognito service center support?

[2019-03-13 20:19] elorzafe commented on #896
@mikaelwecode The issue must be on the function code itself, that is not returning data correctly. (It returns 403 but it doesnt mean there is an error on the function. Are you still having this problem?

[2019-03-13 20:38] powerful23 commented on #2852
@bonbertr Hmm, I agree that there is no way to retrieve the token again if the asyncStorage is cleared. I will mark this as bug and try to find a way to fix it.

[2019-03-13 20:52] jordanranz commented on #1153
Going to close this as the issue seems to have been solved. Please reopen if there are any related questions or concerns.

[2019-03-13 20:52] #1153 closed

[2019-03-13 21:11] jordanranz commented on #1233
Have you tried using the latest version of aws-amplify and aws-amplify-angular?

There should be a require-new-password component in there used for this.

[2019-03-13 21:12] jordanranz commented on #1121
This issue should be fixed per this merge: #1428

[2019-03-13 21:12] #1121 closed

[2019-03-13 21:14] jordanranz commented on #1241
Is this issue safe to close?

[2019-03-13 21:26] jordanranz commented on #1270
This seems to have been fixed in the [docs](https://aws-amplify.github.io/docs/js/pubsub#aws-iot). Going to close this. Please reopen if there are any related questions or concerns.

[2019-03-13 21:26] #1270 closed

[2019-03-13 21:33] jarrettj commented on #1233
Hi,

Good day.

I'll close this issue, and relook when I use this framework again.

Regards.

[2019-03-13 21:33] #1233 closed

[2019-03-13 22:05] jordanranz commented on #1273
@safeimuslim,

Are you still experiencing this issue?

[2019-03-13 22:08] jordanranz commented on #1283
@aaayushsingh,

Are you still experiencing this issue or is this safe to close?

[2019-03-13 22:09] jordanranz commented on #1284
@XCarle,

Are you still experiencing this issue?

[2019-03-13 22:10] svstartuplab commented on #1241
Well, it is if the docs were improved to provide guidance on the issue.  A big issue with Amplify are the docs.

[2019-03-13 22:18] jordanranz commented on #1308
@bernhardt1,

Could you post the build error from your latest post above?

[2019-03-13 22:22] jordanranz commented on #1342
Seem the question has been answered. Going to close this now. Please reopen if you have any related questions or concerns.

[2019-03-13 22:22] #1342 closed

[2019-03-13 22:26] jordanranz commented on #1355
@saaniaki, this sounds like a feature request to add typescript support to amazon-cognito-identity-js yea?

@koladilip could you post the sample code?

[2019-03-13 22:28] jordanranz commented on #1352
Seems a solution has been merged. Going to close this issue.

Please reopen if you have any related questions or concerns.

[2019-03-13 22:28] #1352 closed

[2019-03-13 22:39] jordanranz commented on #1429
This would need to be implemented in the Cognito service. Has any started a discussion on the AWS Forum for Amazon Cognito?

[2019-03-13 22:40] jordanranz commented on #1460
@CodySwannGT, Is this safe to close? Or should we convert it to a feature-request?

[2019-03-13 22:44] jordanranz commented on #1471
Hi @andrei0807,

Have you tried using the new [Amplify CLI](https://github.com/aws-amplify/amplify-cli)?

[2019-03-13 22:50] jordanranz commented on #1368
@ngocketit, client secret is currently not supported, correct. I'll mark this as a feature request.

[2019-03-13 22:54] jkeys-ecg-nmsu commented on #2847
Have you tried setting a breakpoint on `ReactDOM.render()` and  `Amplify.configure()` to see if any other statements are being executed before it?

[2019-03-13 22:54] jordanranz commented on #1500
Hi @jarrettj,

Apologies for the delayed response. The awsmobile cli documentation was moved to [AWS documentation](https://docs.aws.amazon.com/aws-mobile/latest/developerguide/aws-mobile-cli-reference.html).

The migration plugin was introduced later and is located [here](https://github.com/awslabs/amplify-mobilehub-migrator).

Going to close this for now. Please reopen if you have any further qu

[2019-03-13 22:54] #1500 closed

[2019-03-13 22:56] jordanranz commented on #1524
@danielhep, Did you use the AWS Mobile CLI or Amplify CLI?

[2019-03-13 23:00] jkeys-ecg-nmsu commented on #2847
Oh, and try making your top-level `Amplify.configure()` only configure the Auth category. Configure your analytics afterward with `Analytics.configure()` (I think).

[2019-03-13 23:06] jordanranz commented on #1252
I am going to go ahead and close this as the original question seems to have been answered. Please reopen if you are experiencing any related problems.

[2019-03-13 23:06] #1252 closed

[2019-03-13 23:06] powerful23 commented on #446
@kevlarr hi, thanks for your feedback. I have sent a pr accordingly: https://github.com/aws-amplify/docs/pull/535

[2019-03-13 23:07] jordanranz commented on #1567
The service should return an exception here. Is this problem still occurring for you?

[2019-03-13 23:10] jordanranz commented on #1601
Going to close the question has been answered. Please reopen if you have any related questions or concerns.

[2019-03-13 23:10] #1601 closed

[2019-03-13 23:12] jordanranz commented on #1614
Is this issue safe to close? It seems the original question was answered.

[2019-03-13 23:16] CodySwannGT commented on #1460
Yeah. You can close. I think the workaround is sufficient. Thanks!

On Wed, Mar 13, 2019 at 6:40 PM Jordan Ranz <notifications@github.com>
wrote:

--
Cody Swann - CEO, Gunner Technology
T: 213.915.4083 | cody@gunnertech.com | www.gunnertech.com

<http://www.gunnertech.com/>
*Check out our Live Show every Thursday at 1 pm EST on Facebook
<https://www.facebook.com/gunnertechnology>, YouTube
<https:/

[2019-03-13 23:17] jordanranz commented on #1672
@d-olivas,

Are you still experiencing this issue?

[2019-03-13 23:23] jordanranz commented on #2854
Hmm sounds like an issue with rn link? I will try and reproduce.

[2019-03-13 23:31] jordanranz commented on #2846
I believe this is currently not supported.

Duplicate here: https://github.com/aws-amplify/amplify-js/issues/1437

[2019-03-13 23:35] jordanranz commented on #2646
Hi @awhitford,

Would you like me to mark this as a feature request or is this safe to close?

[2019-03-13 23:43] jordanranz commented on #1724
Great! Is this safe to close? @jbprat

[2019-03-14 00:18] jkeys-ecg-nmsu commented on #2669
@undefobj, I love everything you've done since you first posted your reboot. Warning `onHubCapsule` is deprecated, dedicating a `data` key for pattern matching, etc. I think it looks fantastic! Thank you very much.

[2019-03-14 00:40] danielgeri commented on #987
@daneprime8 @lazharichir We ended up building our own email verification process.

@jordanranz I have not. I've had other core cognito issues (not related to aws amplify) and don't know where to go to reach out to the core cognito team. Mind advising on how to approach this (i.e. where is the cognito service support center)?

[2019-03-14 00:59] aaayushsingh commented on #1283
@jordanranz I haven't used amplify in a while. Last time I was using it, the issue still wasn't resolved (but that was a few months ago).

This can be closed in that sense. I'll reopen it if I face the issue again.

[2019-03-14 01:01] jkeys-ecg-nmsu commented on #2669
Just to clarify, in terms of "middleware", the new idea is that you would `listen` for multiple callbacks on the same RegExp group?

Also, if my callback needs a reference to the calling object (e.g. to call a method that all calling objects will have as a constraint, like `show()` and `hide()`), should I assume that I need to pass in a reference to the calling object as a property of the `payload

[2019-03-14 01:16] selipso commented on #2840
I'm sorry, but that page made zero sense to me. This is a setting I would have to edit in DynamoDB? Creating an app with Cognito already sets pretty sane defaults. With IAM it seems to require more custom setup with DynamoDB.

It looks like the `filter` Resolver Mapping Template would be the best choice for my use case where I can add a field called 'owner' to each item, store the IdentityID assoc

[2019-03-14 05:01] selipso commented on #2840
I found a more detailed page about attaching policies related to fine-grained access control: https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/specifying-conditions.html?icmpid=docs_ddb_console

Given that this is an option, I think a better title for this issue would that AWS Amplify with Appsync and IAM doesn't attach an Identity Token to queries, subscriptions, and mutations. Wh

[2019-03-14 05:04] kwhitejr commented on #2835
On advice from @jordanranz and some more research into graphql introspection, I was able to get at my enums with this query:

[code]

[2019-03-14 05:04] #2835 closed

[2019-03-14 05:10] rfdc commented on #2713
You can create Listeners on componentDidMount! I am creating this code later this arvo and will post ASAP.

Please create a question on stackoverflow too and post the link here. That may help ppl in the future too!!

Talk to you soon!

[2019-03-14 10:04] mateen-hussain commented on #1567
I dont know, havent tested this again.

[2019-03-14 10:35] PixelMooort commented on #2849
@powerful23 thanks for your reply it helps me a lot. i managed to get identity id

`const data = await Auth.currentCredentials();`

[2019-03-14 11:31] janhesters opened #2858 "Rename the AWS profile"
** Which Category is your question related to? **
Generell CLI

** What AWS Services are you utilizing? **
None yet.

** Provide additional details e.g. code snippets **
I ran `amplify configure` and created a new user. I mispelled the name of the profile (I saw that while running `amplify init`. How can I rename the profile and point to the renamed profile in the code generated by `amplify init`.

[2019-03-14 12:15] #2833 closed

[2019-03-14 12:16] janhesters opened #2859 "How to remove a service? I can't find it in the docs"
** Which Category is your question related to? **
General Amplify CLI.

** What AWS Services are you utilizing? **
AWS Amplify API

** Provide additional details e.g. code snippets **
I ran `amplify add api`. How could I delete a service? `amplify remove api`? I can't find anything regarding this in the docs.

[2019-03-14 12:19] Exitialis1 commented on #2847
To test these ideas I first moved everything except Amplify.confgure() out of App and into a secondary App like so and removed the Analytics configuration:

[code]

[code]

[code]

None of this worked. Then I cleared the browser data, didn't work. Tried refreshing with the toolbar button in case CMD + R was clearing local data, didn't work.

Then put break points in and couldn't see anything obvio

[2019-03-14 12:28] wizawuza commented on #2203
Quick clarification on this as I was planning on implementing the same method as @mwarger.

Is it acceptable practice to save the other users' identityIDs in the database so anyone can view it? In other words, should identityID be publicly accessible like that?

Thank you.

[2019-03-14 13:00] janhesters opened #2860 "How to set up auth without username"
** Which Category is your question related to? **
Auth

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
I'm building an app using React. I ran `aws add auth` and chose the defaults. I added the `withAuthenticator` HOC. When I created a new account I noticed, that I have to sign up with a user name. I want my auth flow to be just email, passwo

[2019-03-14 13:21] janhesters commented on #2859
Found it. Just use `amplify remove <service>`.

[2019-03-14 13:21] janhesters commented on #2859
Found it. Just use `amplify remove <service>`.

[2019-03-14 13:21] #2859 closed

[2019-03-14 13:30] akhilesh-94 commented on #2070
@haverchuck identity pool is using 'CognitoIdentityServiceProvider'. I am getting the same issue.

[2019-03-14 13:58] fugelset commented on #1429
There seems to be translation support, but I can not find any documentation of it:
https://forums.aws.amazon.com/thread.jspa?messageID=860473&#860473

[2019-03-14 14:01] kevlarr commented on #446
Whoa, seriously @powerful23? You are a rockstar! Apologies for not doing that myself.

[2019-03-14 14:30] danludwig opened #2861 "How to disable calls to `AWSCognitoIdentityProviderService.GetUser` when `aws.cognito.signin.user.admin` is disabled?"
** Which Category is your question related to? **
Auth

** What AWS Services are you utilizing? **
Cognito User Pool

** Provide additional details e.g. code snippets **

I searched the issues before posting this, but am still looking for an answer. It seems that the amplify javascript sdk will always make 2 calls to `POST https://cognito-idp.{region}.amazonaws.com` using the `X-Amz-Target: AWSCog

[2019-03-14 16:33] jordanranz commented on #2860
To clarify did you run aws add auth or amplify add auth?

[2019-03-14 16:41] jordanranz commented on #2861
https://github.com/aws-amplify/amplify-js/issues/1262 does give a reason why: "to get the user attributes for the current authenticated user". Are you asking more why it is getting the user attributes?

[2019-03-14 16:52] roblingle commented on #614
@powerful23 This still doesn't seem to work. I was able to use the solution from tunecrew above for now.

Calling `Auth.configure()` seemed to return a valid configuration object. Calling `Auth.signOut` said there was no userPool in undefined, breaking in case 3 mentioned in pbeshai's comment.

[2019-03-14 16:53] danludwig commented on #2861
@jordanranz  the only user attributes we ever need are already embedded into the id jwt that we get after authentication, so we can just read them from there. Our user pool has a SAML idp, so we just map the saml claims to user attributes, and we have the user admin scope turned off to deny users the ability to mutate them.

Like I said: both of the API calls fail, so we never get those user attri

[2019-03-14 16:56] janhesters commented on #2860
@jordanranz `amplify add auth`. I'm sorry, I mispelled 😮

[2019-03-14 17:33] jordanranz commented on #2861
@danludwig, just to clarify, are you using the Auth.signIn method?

[2019-03-14 17:41] powerful23 commented on #446
@kevlarr No problem! It's great to have those feedbacks that would gradually improve the docs.

[2019-03-14 17:49] danludwig commented on #2861
@jordanranz no we are not.

first we try to detect whether there is a current authenticated user using `Auth.currentAuthenticatedUser()`.

When that call throws an error, we manually construct a URL to the cognito hosted UI using our custom domain, then `window.open` that URL in `_self`. The URL looks something like this:

This will then redirect to a SAML Idp and, upon successful login there, red

[2019-03-14 17:50] powerful23 commented on #614
@roblingle is this happening in the latest version of amplify? If is, then please open an issue in the repo and we can investigate into it. Thanks!

[2019-03-14 18:07] funkfinger commented on #2727
After a productive call with folks at Amazon, this has been resolved. The issue was with the case insensitive nature of OS X vs the case sensitive nature of the deployment environment. OS X was not updating the filename in `git` even though the file name was changed on the local OS X machine- OS X wasn't seeing a filename change when just the case was changing.

The solution was to change the file

[2019-03-14 18:07] #2727 closed

[2019-03-14 18:22] jordanranz commented on #2861
Ok, thanks @danludwig, I'll mark this as a bug for right now. There should probably be a way to avoid making the call to Cognito for this use case. We'll deep dive into this and follow up after.

Thanks for the feedback.

[2019-03-14 18:25] powerful23 commented on #2860
@janhesters You can try to customize the sign up component: https://aws-amplify.github.io/docs/js/react#signup-configuration

This issue is also related to #104

[2019-03-14 18:32] janhesters commented on #2860
@powerful23 Thank you for the answer and thank you for pointing me to that issue. That is exactly what I'm looking for!

Please correct me if I'm wrong, but from what I can tell, there is currently no way to do that using the `amplify` CLI. You have to sign up an cognito user pool manually along with modifying the `<Authenticator />` (in React). Is this true?

Lastly, it seems like this is a commo

[2019-03-14 18:32] danludwig commented on #2861
@jordanranz certainly, and thank you for giving it attention.

[2019-03-14 18:33] jordanranz commented on #2861
No problem, expect a response by end of day tomorrow.

[2019-03-14 18:44] briantbates opened #2862 "Loading screen being shown after downtime"
** Which Category is your question related to? **
Amplify Auth

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
I have my Application wrapped in a custom Authenticator container and after maybe 5 minutes of not interacting with Cognito/AppSync, the web page shows 'Loading...' within a card-like element. I have searched my code for a loading i

[2019-03-14 18:56] jordanranz commented on #2862
Hi @briantbates,

By "custom Authenticator" do you mean an extended version of the Authenticator from aws-amplify-react?

[2019-03-14 18:58] briantbates commented on #2862
@jordanranz,

Here is my setup, sorry forgot to include in the post.
`     <Authenticator
        signUpConfig={signUpConfig}
        authData={'email'}
        amplifyConfig={myAWSExports}
        hide={[Greetings]}>
         <App />
      </Authenticator>`

[2019-03-14 19:04] jordanranz commented on #2862
Ok, great. Thanks for the code.

This is the code that is being rendered:
https://github.com/aws-amplify/amplify-js/blob/88ccc4f680d616751d679299dc9740af115332e8/packages/aws-amplify-react/src/Auth/Loading.jsx

I'll investigate why this is rendering after ~5 minutes. It sounds like some kind of session timeout and an auth state change to 'loading' is triggered.

[2019-03-14 19:09] briantbates commented on #2862
Wow how did I overlook an entire loading component. It does go away after anywhere between 300-800ms but was just wondering if I could at least customize it. I didn't see it anywhere in the docs that it was a hide-able component but I will give it a try and report back.

[2019-03-14 19:17] jordanranz commented on #2862
It looks like the Loading component is relatively new and hasn't been added to the docs [here](https://aws-amplify.github.io/docs/js/authentication#using-the-authenticator-component-directly).

I'll add it to this code snippet in the docs.

[2019-03-14 19:20] vitalii commented on #1308
have the same issue. I'm using pure react-native setup, not expo

[code]

had to update in app/build.gradle to 16/17 versions
[code]

applied all the solutions from above. no luck

[code]

is there even working examples for android?

[2019-03-14 19:24] briantbates commented on #2862
I have not seen the indicator so it looks like hiding it in the Authenticator props works.

Thanks!

[2019-03-14 19:27] #2862 closed

[2019-03-14 19:43] bernhardt1 commented on #1308
hi @vitalii

Unfortunately I don't have access to the failing build anymore. This helped me get by some of the build errors: https://github.com/aws-amplify/amplify-js/issues/1415#issuecomment-445624517

I was not able to receive push notifications on android even once I got the build working. I've backlogged notifications for now in my project.

I believe it was a `com.google.firebase:firebase` an

[2019-03-14 20:02] buchanaf commented on #2824
Ok thanks!

[2019-03-14 20:37] donaldev commented on #2525
Hi @cliffordh, currently have something similar set up in React for web. I'm navigating the user to the authorize endpoint and it redirects back to my application, after it redirects I call Auth.configure and Auth.getCurrentAuthenticatedUser => however this returns null.
I did some digging and found that you could use the Hub Module to listen for a 'signIn' event and if that event occurs I call ge

[2019-03-14 20:48] janhesters commented on #2860
PS: [Solved it.](https://medium.com/@jan.hesters/email-only-sign-up-with-aws-amplify-81a3d718a7f9) But it is a very unsatisfying way of solving it and would be cool if the CLI supports this out of the box.

[2019-03-14 22:08] dan-lovelace opened #2863 "Text caret moves to the end when editing email field on hosted UI login form in Safari"
**Describe the bug**
In Safari, when the user tries to edit their email during login on the hosted UI, the text cursor jumps to the end of the input. The user must make changes one character at a time.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the hosted UI with an email and password field in the listed Safari version
2. Enter any email address into the email field
3. Press the l

[2019-03-14 22:14] awhitford commented on #2646
I still think it would be valuable to **document** how one would use _Connect_ with _TypeScript_.  I'm pleased that I was able to figure it out, but I'd hate for the next person to suffer through the hassle.

[2019-03-14 22:33] satch69rm opened #2864 "Authenticate user with jwt created in API"
** Auth with Amplify **

** Cognito and Appsync **

Hi, I have seen similar posts everywhere online without an answer. I am validating a user by verifying a signature though a 3rd party utility once the user joins my site. This is not an Auth service and I will never know the password used by the 3rd party. At this point I am calling my API, which creates the user inside of Cognito. This is done w

[2019-03-14 22:36] tmaiaroto commented on #614
I've seen it just now.
[code]
on this call:
[code]

[2019-03-14 22:48] jordanranz commented on #2863
Hey @dan-lovelace,

Are you using the withOAuth HOC in aws-amplify-react: https://aws-amplify.github.io/docs/js/authentication#launching-the-hosted-ui-in-react

or are you using the UI provided by Cognito in their console?

[2019-03-14 23:09] #2791 closed

[2019-03-14 23:23] jordanranz commented on #2777
I believe there may be something missing in the Cognito API that would allow us to support this. I'll mark this as a feature request for us to follow up with the Cognito service.

Thank you for the feedback @yannicklaclau

[2019-03-14 23:27] jordanranz commented on #987
@danielgeri I think you'd start on the [Cognito forum page]( https://forums.aws.amazon.com/forum.jspa?forumID=173).

or submit a claim by opening a case in the [AWS Support Center](https://console.aws.amazon.com/support/home)

[2019-03-14 23:39] jordanranz commented on #642
For anyone tracking this, I'd recommend opening a post on the [Cognito AWS Forum](https://forums.aws.amazon.com/forum.jspa?forumID=173)

Or opening a [AWS Support ticket](https://console.aws.amazon.com/support/home )

[2019-03-14 23:43] jordanranz commented on #539
Hi all that are tracking this,

For the feature to happen Cognito will need to expose an API for us to send this verification link.

I have seen some other issues cut for this feature request. I will try and drive this to get a response from the service team.

[2019-03-14 23:45] jordanranz commented on #333
I have seen a few other requests for this feature. There is some work by the Cognito service team to allow Amplify to have this functionality.

I will try and consolidate these requests and bring it up to the service team.

[2019-03-14 23:56] donaldev commented on #1316
@uclaeagit  would you mind sharing what's involved in your postLogin() ?
I have the following
` const hashParams = querystring.parse(location.hash.substring(1));
  const { access_token } = hashParams;
async function socialLogin() {
    console.log('Configure Settings');
    const cognitoAuthClient = new CognitoAuth(socialParams);

    cognitoAuthClient.userhandler = {
      onSuccess: async functi

[2019-03-14 23:59] mrowles commented on #642
@jordanranz I have tweeted @AWSSupport a number of times, specifically about this issue and, unfortunately, I also found their paid ticket support to be fairly average.

If this was an open-source repository, completely understand, but we pay to use Cognito, we were told to stop using the [old repository where this worked](https://github.com/amazon-archives/amazon-cognito-identity-js) and, to boot

[2019-03-15 00:07] uclaeagit commented on #1316
Sure, here's doPostLogin with some comments:
[code]

We do some other stuff with user that won't matter to you. But I think awaiting the Auth.currentAuthenticatedUser() call is the key for you.

[2019-03-15 00:07] jordanranz commented on #1420
@malinda1986 This request is included in the following RFC:
https://github.com/aws-amplify/amplify-cli/issues/766

[2019-03-15 00:08] jordanranz commented on #2415
The request for support of email verification link is included in the following RFC:
https://github.com/aws-amplify/amplify-cli/issues/766

[2019-03-15 00:22] jkeys-ecg-nmsu commented on #2847
@Exitialis1 Are you configuring Amplify before initializing your Apollo client? Maybe move the client initialization to your render function or a lifecycle method, and keep Amplify.configure at the top-level?

(Also, lol at this idea, but have you considered exporting your component as a CommonJS module or using babel or something so you can require your App (which will let you do it beneath a sta

[2019-03-15 00:35] donaldev commented on #1316
@uclaeagit  Thank you for your response.
I tried what you have working in a similar manner -
[code]

The console.log(user) does log a cognito user though which is great so thank you.
Are you managing your user sign in sessions yourself or relying on amplify?

[2019-03-15 00:49] uclaeagit commented on #1316
Using amplify for everything so far.

[2019-03-15 00:57] richardh0455 opened #2865 "Auth.CurrentSession() works on the 1st Page of my React App, but returns "not authenticated" after <Link> to a 2nd page"
** Which Category is your question related to? **
React
** What AWS Services are you utilizing? **
Cognito User Pool, Amplify
** Provide additional details e.g. code snippets **
So I have a SignIn component that performs the Auth.signIn call and redirects (using <Redirect> ) to a Homepage component. The Homepage then calls Auth.currentSession() successfully and uses the jwt tokens. On the Homepage

[2019-03-15 01:21] richardh0455 commented on #2865
Oh, and I'm not using CookieStorage or my own type of storage - just the Amplify Default

[2019-03-15 01:39] jkeys-ecg-nmsu commented on #2366
@jordanranz does XR support cross-account authentication? Assuming the identity pool's role(s) allow for all of our accounts ot execute scenes, it should work?

On this assumption, I'm closing this issue. It's currently a non-issue for us and a headache for you all.

CloudFront's the true MVP.

[2019-03-15 01:39] #2366 closed

[2019-03-15 01:42] jkeys-ecg-nmsu commented on #2255
@jordanranz any update on this FR? We're looking to do a minor architectural refactor and I want to determine whether Interactions might be useful for interacting with, at the least, the top-level scene (in a dynamically (pre-)loaded scene architecture that defers functionality to "sub-scenes").

[2019-03-15 01:45] jkeys-ecg-nmsu commented on #2312
@jordanranz Since you made a note on your end, and our dynamic loading architecture relies on a Top Level Scene pattern (courtesy of @prestomation), I'm closing this issue.

Please feel free to update me or someone from ECG on Slack if you make progress on this!

[2019-03-15 03:50] undefobj commented on #2669
@jkeys-ecg-nmsu we're pretty close to merging this and are going to do some reviews and testing since it touches a fair amount of category surface area. In answer to your questions could you take a look at the PR for docs that I just submitted in preparation for this release: https://github.com/aws-amplify/docs/pull/544
I'll probably add more but I *think* this will answer many of your asks.

Also

[2019-03-15 06:43] phjardas commented on #2791
Yeehaaw, thanks for the quick fix! 😍

[2019-03-15 07:45] rfdc commented on #2203
@mwarger - For what I understood, the `identityId `is the Cognito Identity Pool (or Cognito Federated Identities) on the other hand is a way to authorize your users to use the various AWS services. This article explains it well - [https://serverless-stack.com/chapters/cognito-user-pool-vs-identity-pool.html](url)

@wizawuza - once the user signs up on my app, I store the `identityId` together w/ o

[2019-03-15 10:08] mashraf22 commented on #2829
@powerful23
I am using following architecture that is present in link:-
https://github.com/aws-quickstart/saas-identity-cognito

For generating token I am using following steps mentioned in image:-
![TokenGenerationSteps](https://user-images.githubusercontent.com/48320609/54423538-e35f7200-4736-11e9-9308-7cb73581d985.png)

In angular6 calling the singOut/globalSignOut of amazon-cognito-identity-js

[2019-03-15 11:49] Exitialis1 commented on #2847
No, I moved it into AppWithApollo's Render method and it made no difference.

I did start using withAthenticator for the same reasons that you list but I didn't like the user experience of just being presented with a sign-up box and no context for what the application is or why they should sign up. If I was making an internal tool then this wouldn't be an issue but this application is going to be

[2019-03-15 12:19] dhyeysejpal commented on #1031
@kirkryan were you able to resolve the issue? I am getting the same problem. Have spent so much time on this but nothing seems to work. I am passing the theme object to the HOC but it doesn't seem to have any effect. I still seem to have a navbar on top of my every screen, the auth screens as well as my app home screen.

Can anyone confirm having faced this issue? Would this happen due to amplify

[2019-03-15 13:01] mwarger commented on #2203
@rfdc When any user logs in, I store the identityId from their credentials into a dynamodb table.  I also use this table to store their username and other information I want to show when displaying their info on the page.  I can grab their name, the URL to the photo, and the identityId to allow me to make the call through amplify to display the photo.

[2019-03-15 13:03] wizawuza commented on #2203
@mwarger do you know if it's safe to store the identityId like that? Or would a random person having access to a user's identityId allow that random person to use that information in a malicious manner?

[2019-03-15 13:41] mwarger commented on #2203
In general, I'm not sure.  The way my app is setup, there are multiple barriers to entry before you would be able to get the info.  You have to have an account, and the account information is not queryable directly, only through other parts of the appsync schema I'm using.  Plus, besides marking all pictures/urls as public, I don't see any other way around this issue.  If they aren't public, and b

[2019-03-15 14:55] truongluong1314520 opened #2867 "React native - change user avatar"
Hi aws-amplify team,

I want to ask about how to change the user's avatar using aws-amplify in React native app?

I look for this in your web [Authentication](https://aws-amplify.github.io/docs/js/authentication), but the is no description about how to change it.

Please guide me. Thank you in advance!

[2019-03-15 15:14] wizawuza commented on #2203
Yeah I was afraid so. Can anyone on the AWS team comment?

Otherwise, I don't believe there's another method of doing S3 storage via Amplify so that people can upload while limiting alterations (e.g., delete/remove) by 3rd parties. But, obviously, if exposing identityId's is a huge security risk....

[2019-03-15 15:29] jbprat commented on #1724
Envoyé depuis ProtonMail mobile

-------- Message d'origine --------
On 13 mars 2019 19 h 43, Jordan Ranz a écrit :

[2019-03-15 15:40] ttawan commented on #681
Happe to me too.

[2019-03-15 16:15] dan-lovelace commented on #2863
@jordanranz I'm using the Cognito hosted UI, not the HOC

[2019-03-15 17:16] jordanranz commented on #2867
@truongluong1314520, I am not sure which avatar you are talking about. Could you elaborate or provide a screenshot of this avatar you'd like to change?

[2019-03-15 17:29] powerful23 commented on #2829
@mashraf22

I am not understanding how it will tell if the token is valid or not. As I know, the most straight-forward way to check the token is to send a request to Cognito service with that token. If the request is accepted, then it means the token is still valid.

Please also make sure you are using `globalSignOut` to revoke the token. The `signOut` method only clears the local cache and the to

[2019-03-15 17:56] jordanranz commented on #2551
This plugin is for migrating an awsmobile-cli project to the new amplify-cli:
https://github.com/awslabs/amplify-mobilehub-migrator

Hope this helps.

[2019-03-15 18:15] jordanranz commented on #2623
This could be resolved with the Hub refactor: https://github.com/aws-amplify/amplify-js/issues/2669

[2019-03-15 18:56] erodrig commented on #1857
Any response in the last comment, why closed?

[2019-03-15 19:45] elorzafe commented on #2861
@danludwig we reproduce this issue and with @powerful23 we are working on pr to fix this. Thanks!

[2019-03-15 19:48] Exitialis1 commented on #2847
Don't respond to this, I think that I have realised what is going on but haven't had a chance to test it fully yet, I will update when I get the time.

[2019-03-15 19:49] jordanranz commented on #2864
Hi @satch69rm,

Are you looking for this: https://aws-amplify.github.io/docs/js/authentication#federated-sign-in

If not, could you elaborate on your use case a bit more with a step by step workflow.

[2019-03-15 19:55] jordanranz commented on #2853
Hi @Exitialis1,

Can I ask a few clarifying questions:
- How are you using the Analytics category when receiving these errors
- Can you provide any sample code
- Are you using Amplify's Auth category?
- Could you include the version of aws-amplify you are using?

[2019-03-15 19:57] jeffsheets commented on #1370
It appears that specifying the requested scopes are not yet configurable: https://github.com/aws-amplify/amplify-js/blob/4644b432/packages/auth/src/Auth.ts#L133

Though the same Auth.ts is used to configure the Hosted UI scopes.

So maybe that just needs to be modified to allow overriding of the requested scopes for the non-hosted configuration?

[2019-03-15 20:14] danludwig commented on #2861
@elorzafe that's great news, thanks! Will look for the PR when you link it up to the issue.

[2019-03-15 20:21] haverchuck commented on #2853
@Exitialis1  - When you check you run your application, do you see anything in the network tab?  You should see requests being sent to pinpoint.  If so, what are the responses?

[2019-03-15 20:42] jkeys-ecg-nmsu commented on #2847
Okay, won't do. ;)

[2019-03-15 20:56] powerful23 commented on #2081
@LeoTheMighty Hi, sorry for the late response. I tried to reproduce your issue by do a `Storage.get()`, log out, log back in and `Storage.get()` again but no 403 error happens. Could you verify that you still have this issue with the latest version? And if applicable, please provide more info like the debugging messages. To turn on the the debug mode, putting `window.LOG_LEVEL='DEBUG'` in the code

[2019-03-15 21:16] jordanranz commented on #1241
I have created an issue in the docs repo to track this. I will close this issue for now as the inital problem seems to have been solved.

[2019-03-15 21:16] #1241 closed

[2019-03-15 21:22] danludwig commented on #2861
@powerful23 Thanks for the quick turnaround on this.

I was looking at the code in your PR, and noticed this:

`if (scope.split(' ').includes(USER_ADMIN_SCOPE)) {`

Correct me if I'm wrong, but doesn't `Auth.config()` allow you to pass an empty array for scopes to automatically include all scopes that are allowed in the app client? Would this `if` block do the wrong thing for an app client that ha

[2019-03-15 21:27] jordanranz commented on #2619
Hi @marksteele,

Could you try adding the "Condition" block located in this IAM sample code:
https://aws-amplify.github.io/docs/js/storage#using-amazon-s3

[2019-03-15 21:33] selipso commented on #2840
Did some more testing, and found that part of the issue is also the way Appsync does the caching. For some reason, the cache is not always overwritten no matter what I do. I tried to enable the `refetchQueries` option, also tried to include an `optimisticResponse`, and even change the `fetchPolicy` of all of my `client.watchQuery` methods to `'network-only'`. Still, the only way to be sure that th

[2019-03-15 21:35] jordanranz commented on #1652
Amplify does not currently support this. I will mark this as a feature request to be tracked and prioritized.

[2019-03-15 22:01] #1652 closed

[2019-03-16 03:01] vikibaarathi opened #2872 "AppSync API was not found in region"
** Which Category is your question related to? **
Amplify add codegen appId

** What AWS Services are you utilizing? **
Amplify, Angular, AppSync, Cognito

** Provide additional details e.g. code snippets **
So I'm building 2 apps. A ticket system.

The first is the admin center where they generate tickets. I generated all the Auth, API at this project and published to a working URL. Works perfect

[2019-03-16 03:58] truongluong1314520 commented on #2867
Hi @jordanranz , of course

![Screenshot_1552708451](https://user-images.githubusercontent.com/32918401/54470446-6ab1f180-47da-11e9-8f18-e80b825f9b63.png)

[2019-03-16 07:32] artista7 commented on #1283
Hi Im using amplify cli version 1.1.6. I have created a react redux app with graphQL API. I am using subscription, and it keeps breaking after 2-3 mins or so. The error it throws is :-

errorMessage: "AMQJS0008I Socket closed."
reconnect: undefined

This issue kind of defeats whole purpose of subscription if we have to keep checking if subscription is active and not closed.

Meanwhile I noticed a

[2019-03-16 11:07] ejdoh1 commented on #2541
I had a lot of trouble getting the token on my real Android device and thought I'd share how I found and tested it.
- uninstall the app from your phone
- setup [Reactotron](https://github.com/infinitered/reactotron) and remember to run `adb reverse tcp:9090 tcp:9090` to get your phone connected
- run your app with `react-native run-android`
- in Reactotron, look for **async storage** event 'setIte

[2019-03-16 18:10] janhesters opened #2873 "How to create or delete multiple values at a time in a batch?"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
GraphQL, Dynamo DB, Codegen

** Provide additional details e.g. code snippets **
I have the following schema:

[code]

This generated the following Graphql mutations for creating and deleting:

[code]

How can I delete or create in bulk? Let's say I have an array of ID's. What is the most efficient wa

[2019-03-16 18:17] GeorgeBarnard commented on #2865
@richardh0455 Did you ever find a solution for this? I am running into the same issue when I refresh my application 2+ times. I have gone in circles and come across all CookieStorage suggestions (#812), but nothing seems applicable!

[2019-03-16 18:32] janhesters opened #2874 "How to do modular imports for API and graphqlOperations?"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
API, Codegen

** Provide additional details e.g. code snippets **
I'm trying to import my modules using modular imports like this:

[code]

But this throws the error:

[code]

even though in it's `index.d.ts` file `APIClass` has this function. How do you import these modules using modular imports? I d

[2019-03-16 18:42] Exitialis1 commented on #2847
This was all caused by me using Auth.user as a test of whether there was an active session or not. I have no idea where I get Auth.user from, it isn't listed in any of the documentation and from an educated guess it is used as a cache of the session as it is populated whenever anything touches a session (sign in and Auth.currentSession() both populate it for example). As I was using it as a test o

[2019-03-16 18:47] #2847 closed

[2019-03-16 20:02] satch69rm commented on #2864
Thank you for your feedback. I am able to call Auth.federatedSignIn with the token; however, using that method does not work with the features I am trying to use. Running the below code gives me the error: "No current user". If I login with a user name and password instead of federatedSignIn, the code below will function. Than you in advanced, I'm sure I'm just missing a step and thank you for tak

[2019-03-16 21:42] etnlbck commented on #2471
I ran into an issue with responsiveness with vuetify cards. Here's the override to get the authenticator to fit properly.

[code]

[2019-03-16 22:47] axe-z opened #2875 "withAuthenticator is half french half english,"
would be alot easier if we could only add attributes to OUR own forms to handle auth.

here we speak two languages,
and it get weird quick, by default I get both languages... on a fresh install.
started theming , but how do we change innerhtml stuff , placeholders?

<img width="654" alt="Capture d’écran, le 2019-03-16 à 18 45 31" src="https://user-images.githubusercontent.com/27289270/54482566-f0a

[2019-03-17 01:44] satch69rm commented on #2864
A little bit of progress has been made... I am able to retrieve data with the following code: `    const fedSignin = await Auth.federatedSignIn(domainOrProviderName, { token, expires_at: expiresIn }, { name: body.username });
    console.log(fedSignin);
    const curCred = await Auth.currentCredentials();
    console.log(curCred);

    const client = new AWSAppSyncClient({
      url: awsExports.aw

[2019-03-17 03:42] hoang-innomizetech commented on #2362
@xaviertorgerson  @Exomus The DocumentNode issue can be fixed when installing the latest @types/graphql package, but when we are trying to build Angular AOT release, we are getting another error related to the AmplifyUI that I have reported above. This does not happen when we use aws-amplify-angular: 2.0.13 version.

[2019-03-17 05:09] sergioalen commented on #1093
I was also getting a 403 error after creating different stages(dev, staging, prod). With a similar CORS error message in the console as the OP. After spending a bit of time investigating this supposedly CORS error I realised it was because in my Amplify Auth config I was still pointing to the dev user pool and federated identity in my staging and prod configs and this is because in API gateway I h

[2019-03-17 11:16] Fire-Brand opened #2876 "Cannot find module './auth.js'"
**Describe the bug**
When trying to run `npm install aws-amplify --save` on a new Angular project, the install fails with the following error: `Error: Cannot find module './auth.js'`

**To Reproduce**
1. Go to the [Getting Started tutorial (with angular)](https://aws-amplify.github.io/docs/js/start?platform=angular).
2. Install and configure the Amplify CLI as described [Here](https://aws-amplify.

[2019-03-17 13:41] lvl99 opened #2877 "aws-amplify-react: UI Container adds unwanted markup for custom Authenticator UI"
When creating a custom Authenticator UI, the `Authenticator` component utilises a `Container` component imported from `Amplify-UI/Amplify-UI-Components-React` which applies a theme object as a prop.

I'd like to avoid the wrapper `Container` markup, since it wraps all my custom authentication components within a `<div class="Section__container___1Gue_" style="">` element.

The `Container` usage wi

[2019-03-17 14:48] satch69rm commented on #2864
I seems there is another problem. The cognito user groups are not propagating into AppSync. I'm not sure if IAM is being used instead of AMAZON_COGNITO_USER_POOLS; however, I am specifying AMAZON_COGNITO_USER_POOLS. More to follow...

[2019-03-17 14:53] #2135 closed

[2019-03-17 15:24] janhesters commented on #2874
Found it out:

[code]

[2019-03-17 15:24] #2874 closed

[2019-03-17 18:06] kwhitejr opened #2879 "How to do server-side input creation, encoding, and validation with Amplify + Appsync?"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
Amplify + AppSync

** Provide additional details e.g. code snippets **
What is the best practice for performing server-side input creation and validation? For example, in a Create React App scenario with an AppSync backend, when performing a resource creation I've been using `uuid` within the componen

[2019-03-17 23:13] ngocketit commented on #1878
@powerful23 How could that `Auth.resendSignUp` help if the username is auto generated? Currently, I'm generating username automatically and use email/phone number as alias to sign in. If user signs up with email and not enter the confirmation code right after the click the "Sign Up" button, and later tries to log in with email, he will get `User does not exist`. I'm thinking of a way to get the au

[2019-03-17 23:21] cliffordh opened #2880 "Call Lambda function directly?"
** Which Category is your question related to? **

Auth, API

** What AWS Services are you utilizing? **

Lambda

** Provide additional details e.g. code snippets **

I would like to invoke a Lambda directly (not using API gateway). Further, I don't want to pull in the entire Amplify API code as that adds 200kb to the bundle which is dedicated mostly to GraphQL. Is there a way to invoke a Lambda d

[2019-03-18 00:59] richardh0455 commented on #2865
Sorry, not yet! I'm working around it right now by having all of my API calls in on component, and passing callbacks to child components - not ideal. But unfortunately that won't help your refresh issue.

[2019-03-18 02:59] sadnub commented on #2713
Thanks for posting @wizawuza . I am able to subscribe to a create, update, and delete successfully by batching the subscriptions. My question is how can I know which mutation ran? I am trying to update a table and would need to either update, add, or remove entries based on what happens. I would also like to leverage the connect component.

I could also try and refetch the connect query, but am no

[2019-03-18 04:51] michaelcuneo opened #2881 "amplify gql-compile then amplify push has broken, but won't automatically repair"
**Describe the bug**
I've had to change the schema.graphql in my project just recently, and I've done a subsequent amplify api gql-compile and amplify push to reflect these changes... But during one of these updates, I got an UPDATE_FAILED. Each amplify push ever since fails to finish with the error message ...

`An error occurred when pushing the resources to the cloud`

If I scroll back to find

[2019-03-18 05:00] michaelcuneo commented on #2881
To add to this... I have removed two API's Images and Gallery and their subsequent links to other models from my API and ran amplify api gql-compile again, because both of these API's had no data yet, so I could reimplement them at a later date after I fix the push... But, it has now failed again, this time with the  [ConnectionStack] instead of an API, and a final failure stating...

[code]

What

[2019-03-18 05:00] michaelcuneo commented on #2881
Should I just remove the API completely, rewrite the schema, export all of my DynamoDB tables before I do, that have important data inside... then start from scratch?

[2019-03-18 05:49] khalaniaiyaj commented on #2838
I am facing same issue, i am using user pools for sign-up and sign-in.
Now i want to use facebook, instagram, twitter etc. with aws cognito.
Here if i want to combine all users from external provider, then how can we achieve that?
Can you please explain me

[2019-03-18 09:38] Fire-Brand commented on #2876
This might be an `npm` issue with version `6.9.0`, I downgraded to `6.4.1` (which come with Node 10) and it was resolved.

[2019-03-18 09:38] #2876 closed

[2019-03-18 10:00] janhesters opened #2882 "The docs for 'Offline Mutations' refer to values that are not being created by CodeGen"
I'm using AWS Amplify for React. This bug is in the API category when all defaults are being chosen.

**Describe the ~~bug~~ mistake**
In the docs for [offline mutations](https://aws-amplify.github.io/docs/js/api#offline-mutations) under `With Helpers` `createTodo` and `CreateTodoInput` are being imported (because they are later used in `inputType: gql(CreateTodoInput),`):

[code]

But the ladder

[2019-03-18 11:30] janhesters commented on #2882
Just found [this issue](https://github.com/aws-amplify/amplify-cli/issues/1009) that references the same problem.

[2019-03-18 11:34] dusan-dragon commented on #2541
@elorzafe for me the token does not get even to the asyncStorage, it is just not there... I was debugging it and I see that token is received in java part, but never get into RN part...

[2019-03-18 12:39] wizawuza commented on #2713
@sadnub that one's easy thankfully.
In your subscription function:
[code]

You'll notice from the console.log, it'll output something like:
updatedQuery.onCreatePost

OR

updatedQuery.onDeletePost

So, what you would do is either use an if/then/else if block or switch/case:
[code]

[2019-03-18 12:44] vitalii opened #2883 "User settings for Pinpoint are not set. How to do it properly"
** Which Category is your question related to? **
Pinpoint, Analytics
** What AWS Services are you utilizing? **
Pinpoint, Analytics
** Provide additional details e.g. code snippets **
I'm trying to setup Pinpoint/Analytics service but I can't set user attributes, and then select them in Pinpoint Admin Panel.

So this is my setup

[code]

I can see that some endpoint has been registered, I can see

[2019-03-18 14:05] saaniaki commented on #1355
@jordanranz I would say a request to complete the typescript support since they already have it, or to say, complete the typings of https://github.com/aws-amplify/amplify-js/blob/master/packages/amazon-cognito-identity-js/index.d.ts

[2019-03-18 14:51] StefanBuchman commented on #2829
I'm seeing the same result using React Native and Expo.

I'm using Auth.SignIn, however, Auth.SignOut is not revoking the token.  Using the global flag doesn't seem to change the result.

I can't seem to revoke tokens foe my current user.

[2019-03-18 15:23] jgautheron commented on #2711
I confirm, this is a problem we're also having in a multi-tenant app.

[2019-03-18 15:30] JoshuaSeidel opened #2885 "uncaughtException: ENOENT: no such file or directory copy-sync/copy-sync.js:117:20"
** Which Category is your question related to? **
copy-sync
** What AWS Services are you utilizing? **
lambda
** Provide additional details e.g. code snippets **
`⠙ Initializing your environment: dev2019-03-18T14:33:00.198Z - error: uncaughtException: ENOENT: no such file or directory, stat '/Users/******/********/******-root/amplify/.temp/#current-cloud-backend/function/usersapi/src/node_modules/

[2019-03-18 15:39] jkeys-ecg-nmsu commented on #2881
Are you using environments? You could try amplify init to get your project back to a working state.

[2019-03-18 15:56] idurant commented on #1159
Similar issue for me, I am able to create a user through a lambda function, once that user Verifies their email address, I see everything looks good in the userpool. Now I want the user to request an accessToken which I will require for API gateway Access, following AWS Cognito blogs, this looks like the correct way to do things, however my lambda times out and I get no logs once I get to `cognito

[2019-03-18 16:09] jkeys-ecg-nmsu commented on #2669
onHubCapsule seems to be broken, not just deprecated.

Anytime I try to call `this.setState` from onHubCapsule, I get this error:

`[ERROR] 07:56.325 Hub TypeError: this.setState is not a function`

This isn't a major problem, and represents a good time to refactor away from onHubCapsule, but just FYI the beta release is semi-breaking.

[2019-03-18 16:14] wallowabk commented on #2166
@kaustavghosh06 you might need to do > amplify codegen remove

[2019-03-18 17:09] sadnub commented on #2713
Thank you that worked great! Here is my final product to help anyone else.

I am saving the table item in operationIndex so I can modify the internal connect list.
[code]

[2019-03-18 17:16] ffxsam commented on #2711
I worked around this by explicitly calling `Auth.logout()` when a user logs out (or the app detects their account has been deleted or suspended).

[2019-03-18 17:33] Exitialis1 commented on #2853
@jordanranz
- Nothing special, just configuring it and then calling the below from the constructor of one of the components a user sees first.
`Analytics.record("Home page loaded");`
- This is how I am configuring Amplify in the App component:
[code]
- Yes, see above, a Cognito user pool is my primary authentication for the application
- According to "npm list | grep aws-amplify" I am using versio

[2019-03-18 17:42] #2883 closed

[2019-03-18 17:45] vitalii commented on #2883
values should be set in arrays, and properties UserAttr, Attributes should be lowercase, although in some examples they are Capitalcase

[2019-03-18 17:59] undefobj commented on #2669
@jkeys-ecg-nmsu can you give us a code sample?

[2019-03-18 18:18] gotripglobal commented on #1283
@jordanranz  and @manueliglesias

We are a team of researcher's from IIT Delhi and we are facing somehow the same error.

Ie when we run the script. The socket gets closed and gives the error as shown in the image.

We're connecting directly to iot endpoint,

we are following the Amplify documentations ( https://aws-amplify.github.io/docs/js/pubsub#working-with-the-api/ )

![error](https://user-im

[2019-03-18 18:24] #2827 closed

[2019-03-18 18:42] timoteialbu opened #2886 "Mocking API.graphql(...).subscribe(...) using Jest"
**Which Category is your question related to?**
API, in particular graphql

**What AWS Services are you utilizing?**
AppSync

**Provide additional details e.g. code snippets**
I need to have 100% coverage in my app (its a react app that uses amplify-cli, which in turn uses amplify-js, and I need some guidance into mocking the API subscriptions. This is a piece of code I need to mock in order to te

[2019-03-18 18:49] jpmock commented on #1159
I figured it out in my case, I was using it in an asp.net core project (which I am new to) and I was including the source sdk javascript file in the header (layout.cshtml), which somehow gets included on the page AFTER your page level code.  So the reference was not above.  Whats weird is that when I debugged my code, it would step through the sdk code just fine, but still fail, indicating it inde

[2019-03-18 19:01] goatandsheep commented on #1283
@gotripglobal where are you storing the reference to the subscription object?

[2019-03-18 19:35] timoteialbu commented on #2886
It occurs to me that I probably should've looked at this instead: https://github.com/aws-amplify/amplify-js/blob/master/packages/pubsub/__tests__/PubSub-unit-test.ts
I'll try getting it to work and then update the issue with the solution for anyone else that runs into this.

[2019-03-18 20:11] appeality commented on #678
If you use this approach, you must "add script-src unsafe-inline" to your CSP header, which is not ideal.

[2019-03-18 20:17] jkeys-ecg-nmsu commented on #2669
[code]

AppUserInterface.jsx:

[code]

[code]

[2019-03-18 20:20] powerful23 commented on #2829
@StefanBuchman does the request `GlobalSignOut` sent to Cognito throw any error? Also can you provide some debugging log when you invoke the `signOut` method? To turn on the debugging mode, put `window.LOG_LEVEL = 'DEBUG'`.

[2019-03-18 20:22] powerful23 commented on #2541
@dusan-dragon it does have some issue when the asyncStorage is cleaned and we will look into that. Can you please describe what you are going to do with this device token?

[2019-03-18 21:26] undefobj commented on #2669
@jkeys-ecg-nmsu the reason you're getting this error is because you're using `setState` inside of `onHubCapsule` which is bound to `this` from your React component and React doesn't autobind. To use `setState` like that (even in the current version of Hub today) you would need to do `this.onHubCapsule = this.onHubCapsule.bind(this)` inside your constructor before `Hub.listen()` is called. If you d

[2019-03-18 21:37] manueliglesias commented on #2873
Hi @janhesters

You can [Add a custom resolver that targets a DynamoDB table from `@model`
](https://aws-amplify.github.io/docs/cli/graphql#add-a-custom-resolver-that-targets-a-dynamodb-table-from-model)

Those docs mention writing more specific queries, but there is no reason it couldn't be adapted to do `PUT` operations / use [DynamoDB Batch Resolvers](https://docs.aws.amazon.com/appsync/latest/

[2019-03-18 21:37] #2873 closed

[2019-03-18 21:45] JLee21 commented on #446
In case I'm not too late to the party, I noticed that [Amplify's API docs](https://aws-amplify.github.io/docs/js/api#custom-request-headers) suggest setting a custom header when you first configure the Amplify settings.

[code]

I like this approach because now every request is syntatically simple

[code]

[2019-03-18 21:49] janhesters commented on #2873
@manueliglesias Thank you for the answer. I will do that 👍

[2019-03-18 21:53] powerful23 commented on #2861
@danludwig the `scope` in the config object is only used when using Cognito's OAuth feature(Also as know as Cognito Hosted UI) to allow the developers to specify the scopes of the token:  https://docs.aws.amazon.com/cognito/latest/developerguide/authorization-endpoint.html

This will not impact this change because we are always reading the scope by decoding the current access token which will ensu

[2019-03-18 22:00] idurant commented on #1159
So my issue was `cognitoUser.authenticateUser` takes awhile to fetch my token so all I needed to do was increase my lambda timeout. I'm a little surprised to learn that 3 seconds is not enough to get me a jwtToken.

[2019-03-18 22:12] timoteialbu commented on #2886
I misspoke, I can't seem to get it to work, so if anyone has any examples that would be great.

[2019-03-18 22:15] sceptyk commented on #2668
I see this error only when running unit tests with cypress. Integration tests and usual rendering in the browser run ok.

Error:
Cannot find module './recorder.js' from '(app_dir)\node_modules\aws-amplify-react\dist\Interactions'

Versions:
aws-amplify:  1.1.22
aws-amplify-react: 2.3.2

[2019-03-18 22:20] StefanBuchman commented on #2829
Don't see any errors.  Here's the debug from calling SignOut and then after:

**Calling Auth.signOut({ global: true });**
`[DEBUG] 14:26.396 AsyncStorageCache - Remove item: key is federatedInfo
[DEBUG] 14:26.427 AuthClass - no current Cognito user
[DEBUG] 14:26.428 Analytics - on hub capsule auth Object {event: "signOut", data: null}`

**Calling Auth.currentAuthenticatedUser({bypassCache: true})*

[2019-03-18 22:30] manueliglesias commented on #2880
Hi @cliffordh

Yes, it is possible. It might not be straight-forward, but definitely possible. Our recommendation would be to use the API category, but I understand your concerns about bundle size.

You might be able to use [Lambda's `Invoke` endpoint](https://docs.aws.amazon.com/lambda/latest/dg/API_Invoke.html) directly. Please note that this would require that you [sign the request](https://doc

[2019-03-18 22:30] #2880 closed

[2019-03-18 22:39] erodrig commented on #565
Hello ? it is true that react components only work with identity pool ? I need the users registered when login from social media,.

[2019-03-18 23:19] flibbertigibbet commented on #2668
Anything that imports `aws-amplify-react/src/Interactions/aws-lex-audio.js` would encounter these missing relative file references.

[2019-03-18 23:28] michaelcuneo commented on #2881
I ended up having to remove the API completely, it wouldn’t come good after trying everything. It would be good to have some kind of default recovery on AWS end or the cli end, because it’s not the first time I’ve had an issue like this, with an entirely different CloudFormation, but identical errors... Failed/Rollback loop. ☹️

[2019-03-18 23:30] #2881 closed

[2019-03-18 23:47] manueliglesias commented on #2882
Hi @janhesters

Yeah, for now you have to duplicate your input declaration in your front-end code to be able to pass it to the offline helpers.

What do you think about closing this issue in favor of the existing [feature request](https://github.com/aws-amplify/amplify-cli/issues/1009)?

[2019-03-19 00:21] jkeys-ecg-nmsu commented on #2669
@undefobj got it. I thought I had made sure onHubCapsule was bound across all components (I've found this to be the primary cause of Hub v1.0's `error delivering...` warning).

Did you unpublish the code from the beta tag? I'm trying to do some refactoring from home and the beta build doesn't seem to have it anymore.

[2019-03-19 00:38] manueliglesias commented on #2886
Hi @timoteialbu

I've created a [PR](https://github.com/aws-amplify/amplify-js/pull/2889/files#diff-6038cf31405c98d357ceb6ee7664923b) that has the happy path test case passing. I hope it helps.

Once that PR is merged, this issue will be automatically closed.

[2019-03-19 00:42] manueliglesias commented on #2877
Hi @lvl99

I am labeling this issue as a feature-request so it becomes part of our backlog

Thanks for using Amplify

[2019-03-19 00:52] manueliglesias commented on #2875
Hi @axe-z

I've labeled this as a bug so it goes into our backlog

Thanks!

[2019-03-19 01:03] dylan-westbury commented on #2544
I have debugged on device and have found optOut is not being updated when calling Analytics.updateEndpoint. (setting optOut to 'NONE' as well as passing address - the device token from onRegister).

`"@aws-amplify/analytics": "^1.2.11",
    "@aws-amplify/pushnotification": "^1.0.23",
    "amazon-cognito-identity-js": "^3.0.9",
    "aws-amplify": "^1.1.22",
    "aws-amplify-react-native": "^2.1.8",

[2019-03-19 01:36] cliffordh opened #2890 "Amplify publish fails (with custom config)"
I'm getting an error running "amplify publish". My build scripts run properly and the build output directory is correct, but I get this error:

` DONE  Build complete. The dist/checker directory is ready to be deployed.
 INFO  Check out deployment instructions at https://cli.vuejs.org/guide/deployment.html

frontend build command exited with code 0
✖ Error has occured during publish.
2019-03-19T01

[2019-03-19 01:46] Nenee948611390 commented on #165
Hello, I also encountered the same problem, may I ask how to solve it finally?

[2019-03-19 01:51] kwhitejr commented on #2526
@bishonbopanna I am facing similar issue and trying to digest the example solution you provided above (thank you!). Is your full implementation available to view on github or elsewhere?

When you create an `<AppWrapper />` component, how to do you pass the `C`, `P`, and `authProps` attributes?

How does this line work? `if(P.search("/unprotectedpages") !== -1)`

[2019-03-19 02:23] dylan-westbury commented on #2544
I have debugged on device and have found optOut is not being updated when calling Analytics.updateEndpoint. (setting optOut to 'NONE' as well as passing address - the device token from onRegister).
[code]

**In app.js I have updateEndpoint setting optOut to 'NONE'**

```await AsyncStorage.setItem('push_token', token).then(() => Alert.alert(`stored push token ${token}`));
await Analytics.updateEndp

[2019-03-19 02:23] jkeys-ecg-nmsu commented on #2526
@kwhitejr not @bishonbopanna , but: It's iterating over an unseen nested object called indexRoutes, each of which contains a defined React Component (C) and Path (P).

` indexRoutes.map((prop, key) => { ... }`

As for what the line you asked about is doing, it's nothing magical. `search` is a prototype method on JS strings: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_O

[2019-03-19 02:25] saadq commented on #1308
I'm another person coming from an ejected react native app from Expo. I had the errors mentioned by @bernhardt1

and

Switching all the Google stuff from version `15.0.1` to `12.0.1` did indeed get rid of the first error although I can't seem to figure out how to resolve that second one, and I've tried most of the solutions provided above.

[2019-03-19 04:37] dusan-dragon commented on #2541
@powerful23 I just wanted to test push notifications, but because I did not know device token I could not send a notification from the AWS Pinnpoint and onRegister method was appearing not working, because if you will console.log() the token in react-native app, you will probably never see it because onRegister method is called only once after the app is installed and you will not have debugger co

[2019-03-19 05:59] lvl99 commented on #2877
Hi @manueliglesias, I've already submitted a PR. Let me know if it's OK.

[2019-03-19 06:41] janhesters commented on #2882
@manueliglesias Gladly 🤗 Do you have any insights about the status of the feature request?

[2019-03-19 06:41] #2882 closed

[2019-03-19 06:42] akalana commented on #612
I am also face this issue ?Is there  any updates?

[2019-03-19 06:51] markotitel commented on #7
Those pages are now gone. Any other resource available?

[2019-03-19 08:39] hammadxoho opened #2891 "Amplify issue with pushing things on AWS"
**Describe the bug**
I have created a lot of functions, APIs, storages and an auth with amplify. It was working all fine, but since last night i have not been able to push any changes on AWS. I wanted to edit one function and after editing, it reported the following

`⠋ Updating resources in the cloud. This may take a few minutes...Error updating cloudformation stack
✖ An error occurred when pushi

[2019-03-19 09:01] LechuckThePirate commented on #1047
As an addition to all being discussed, I found that amplify always tries to authorize with "login" endpoint, instead of checking if a current session exists in another app (SSO) and get the grant code directly without having to ask the user "are you XXXX" ?? this is disrupting and should be possible to choose whether to ask the user or not...

I'm doing SSO with another application (C#). If I log

[2019-03-19 09:53] sgruessinger opened #2892 "Amplify Authenticator not returning "attributes" on inital login"
**Describe the bug**
When logging in initially via Authenticator, the auth-info coming from authStateChange$ lacks the "attributes" node, containing user info from the Cognito-Pool.
When reloading the app (the authenticator automaticall logs the user back in) the auth-info contains the "attributes" node (along with all the custom attributes set for that cognito pool)

**To Reproduce**
1. register

[2019-03-19 11:07] pachu4u opened #2893 "Uncaught TypeError: "Object.entries" is not a function"
**Describe the bug**
I am getting this error on console.

Uncaught TypeError: "Object.entries" is not a function - IONIC app

Strangely though it works fine on browser and most of the android devices. This is was found on Le1s (Le TV) phone.

Output of ionic info

Ionic:

   ionic (Ionic CLI)  : 4.2.1 ()
   Ionic Framework    : ionic-angular 3.9.2
   @ionic/app-scripts : 3.2.3

Cordova:

   cordov

[2019-03-19 11:13] cliffordh opened #2894 "Amplify Core includes jmespath 80Kb"
Inspecting the bundled JavaScript I see that the jmespath module is included which adds 80kb:

@aws-amplify/core@1.0.23
│ │ ├─┬ aws-sdk@2.329.0
│ │ │ ├── buffer@4.9.1 deduped
│ │ │ ├── events@1.1.1
│ │ │ ├── ieee754@1.1.8
│ │ │ ├── jmespath@0.15.0
│ │ │ ├── querystring@0.2.0 deduped
│ │ │ ├── sax@1.2.1
│ │ │ ├─┬ url@0.10.3

Inspecting the usage of jmespath and what the library provides, it seems o

[2019-03-19 11:28] kevlarr commented on #446
@JLee21 Oh that's excellent, thank you. We have only been using the `Auth` module so had not seen that regarding the `API` module. Looks like it might be worth using instead of rolling our own mini-lib to handle refreshing tokens.

[2019-03-19 11:59] crcommons commented on #2875
@axe-z You can add your own translations for any nearly any part of the amplify UI using the i18n module from Amplify https://aws-amplify.github.io/docs/js/i18n#i18n. In order to know what keys to use in you vocabulary, you can look through the source code for the UI of Amplify (for React, for example: https://github.com/aws-amplify/amplify-js/tree/master/packages/aws-amplify-react/src/Auth). The

[2019-03-19 14:06] FatimahSanni opened #2895 "Incorrect Error Message when changing password"
Hi!

I noticed this issue when a new user attempts to change password and the (weak) password violates the set policy in Cognito, a wrong error message is generated `Email is not associated with any account` instead of something along the lines of `Weak password or password should be at least 8 characters long` etc.

The method being called here is the `Auth.changePassword()`.

[2019-03-19 15:16] kkshyu commented on #1342
@jordanranz this issue has not been solved yet

I have tried the method from @destpat , and still got the 403
i can access the public files only with `Storage.get()` but not the url without signature

is there any other ideas to get the permanent link of the public files with `Storage.get()`?

[2019-03-19 15:42] grudra7714 commented on #2513
Any timeline on this @undefobj ?  aws-amplify/amplify-cli#689 would definitely address my needs

[2019-03-19 17:24] manueliglesias commented on #2893
Hi @pachu4u

Have you tried adding this to your tsconfig.json?

[code]

[2019-03-19 17:32] manueliglesias commented on #2894
Hi @cliffordh

thank you for using Amplify

`jmespath` is a dependency of the `aws-sdk` (which amplify uses to interact with aws services like Cognito, S3, Pinpoint, etc)

Regarding the version, we are pinning it to that specific one since it is proven to work with all Amplify features.

There are some other github issues regarding bundle size, it is under our radar and we're thinking about how to

[2019-03-19 17:32] #2894 closed

[2019-03-19 17:34] donaldev commented on #2004
+1 for @rfdc question

My use-case:

Each user will have a profile, with which they can add a Profile image, but also the user could be in charge of a group which they will need to upload a Group Image. Thirdly, each user will be able to upload songs which will be contained in their own uploads folder, prepended with either `mp3s/{sub}` OR 'profile_img/{sub}'. If I want to store information about

[2019-03-19 17:51] manueliglesias commented on #2895
Hi @FatimahSanni

Can you enable logging in amplify and paste the error as you see it there?

[2019-03-19 17:54] manueliglesias commented on #2895
Here are the docs on how to do it: [Setting Logging Levels
](https://aws-amplify.github.io/docs/js/logger#setting-logging-levels)

[2019-03-19 18:10] manueliglesias commented on #2875
Thank you @crcommons

@axe-z Hopefully @crcommons comment helps you; I will be keeping this issue open as it seems the included translations are lacking some elements.

https://github.com/aws-amplify/amplify-js/blob/01e660df246f0faf0bcb5b5ebf604597db3ef4aa/packages/aws-amplify-react/src/AmplifyI18n.js#L15

[2019-03-19 18:30] MathiasBerwig commented on #2728
I'm facing what I believe to be the same problem. A simple list query to a 30 record DB will only return a filtered item if the limit is set greater or equal to the "position" of the row in the dataset.

For example:

Having `$filter` as `someProp eq "someStr"`,  `listEntity(filter: $filter) { items { id} }` will return []. With the same filter, `listEntity(limit: 25, filter: $filter) { items { id

[2019-03-19 18:31] nypinstripes commented on #2691
Hey @jordanranz also removing any !important flags, thanks.

[2019-03-19 18:47] axe-z commented on #2875
Yes tks for the guidance

[2019-03-19 18:52] janhesters opened #2896 "Add docs for custom resolvers for batch requests."
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I have to spent hours, moving from one error to another, not knowing if I'm doing things right. This time I'm trying to create a batch resolver to create multiple items while still retaining authentification (following the advice given by @manueliglesias in [this issue](https://github.com/aws-amplify/ampl

[2019-03-19 19:31] DeniseJames opened #2897 "Unable to use <amplify-authenticator [signUpConfig]="signUpConfig" ></amplify-authenticator>"
I am using angular amplify-authentication. When I attempt to custom the signUpConfig the form does not change from the default.  I wonder if I am not putting the following in auth.component.ts.  What am I missing?

export class AuthComponent implements OnInit {

  constructor() { }

  ngOnInit() {
  }

}
const signUpConfig = {
  header: 'Welcome!',
  defaultCountryCode: '46',
  hideDefaults: true,

[2019-03-19 20:31] wizawuza commented on #2728
@MathiasBerwig I don't believe you referenced the correct issue.

[2019-03-19 20:37] FatimahSanni commented on #2895
Apologies @manueliglesias, it's from our code. Apparently, a team mate was unintentionally overriding the error messages from Cognito. Sorry for the inconvenience.

Thanks for the help.

[2019-03-19 20:37] #2895 closed

[2019-03-19 20:55] #2861 closed

[2019-03-19 20:58] robynnason commented on #2544
@dylan-westbury I am dealing with a similar issue. We are setting up Pinpoint push notifications with Cognito UserPool users. This has recently stopped working, where `optOut` always defaults to `NONE` regardless of what the user selects. pushnotification 1.0.20 and aws-amplify 1.1.16

We are running `Analytics.configure` before `PushNotification.configure`

[2019-03-19 21:14] petrbela commented on #2584
I've added both subspecs and the problem still exists. Specifically, it happens when I call `Amplify.configure`. In case it's relevant, these are the options:

[code]

React Native should really tell you _which_ module cannot be null. However, the problem also is that the amplify package is not well documented in terms of dependencies for this case. `aws-amplify-react-native` even has a few packag

[2019-03-19 23:39] MathiasBerwig commented on #2728
You're right. I edited my previous comment with the right issue (same number, but for amplify-cli).

[2019-03-20 01:27] pachu4u commented on #2893
@manueliglesias - I have this "es2015". Will give a try with your suggestion and get back

[2019-03-20 02:04] pachu4u commented on #2893
@manueliglesias - It has not helped. Still getting the same issue

[2019-03-20 02:32] dylan-westbury commented on #2544
@robynnason yes, same set up as our app. Have you managed to get it working for different versions of amplify / pushnotification?

We have not released the app yet, so we can't back date to a working version and this is the last feature for us to do before we can release :S

[2019-03-20 04:22] robynnason commented on #2544
@dylan-westbury What I have right now is I added `PushNotification.onRegister(token => { ... })` right after `PushNotification.configure`. Within `onRegister` I call `Analytics.updateEndpoint` and assign the address to the token with an explicit optOut: NONE.

It works, but I don't love this method, because it makes several calls to `updateEndpoint` (you have it in `Analytics.configure`, `PushNoti

[2019-03-20 05:02] manueliglesias commented on #2895
@FatimahSanni no worries, glad you found the issue!

[2019-03-20 05:07] manueliglesias commented on #2882
@janhesters unfortunately I don't have any at the moment, you can +1 the feature request (add a 👍 in the submitter's comment) so the cli team can better gauge interest in the feature

[2019-03-20 05:52] manueliglesias commented on #2893
@pachu4u Ok, so I just learned that typescript doesn't polyfill `lib` entries.

Can you try adding this polyfill ?

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/entries#Polyfill

[code]

[2019-03-20 06:05] #2886 closed

[2019-03-20 06:47] artista7 commented on #1283
in the error code block, you can re-subscribe

var createCvReviewSubscription;
onCreateCvReviewSubscription(group, username) {
console.log('starting onCreateCvReviewSubscription');
var that = this;
createCvReviewSubscription = API.graphql(
graphqlOperation(subscriptions.onCreateCvReview)
).subscribe({
next: (data) => {
//do something with data
}
},
error: err => {
console.log('error in onCreateCvR

[2019-03-20 07:10] FatimahSanni opened #2901 "Appsync Graphql: Return totalCount"
It would be nice for AppSync Graphl queries to return total count of items especially because of the implicit limit in place.

Using the queries as is, one can't tell for sure what the total count of items are, so this information cannot even be provided to the end users e.g. we have 50 items in stock or we have 40 departments in an organization.

[2019-03-20 08:18] pachu4u commented on #2893
@manueliglesias - Here is my tsconfig.json

`{
  "compilerOptions": {
    "allowSyntheticDefaultImports": true,
    "declaration": false,
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "lib": [
      "dom",
      "es2015",
      "es2017.object"
    ],
    "module": "es2015",
    "moduleResolution": "node",
    "sourceMap": true,
    "target": "es5",
    "types": ["node"

[2019-03-20 08:23] RoniqueRicketts opened #2902 "How to ignore node_modules"
I have been testing amplify to see if I can use this for an application that needs to be HIPPA compliant and I am concerned about what I see when I deploy a test web app to amplify. I see the node_modules folder and I am unable to ignore this fine. Could you please suggest so help in doing so. I am using create-React-app and I’ve tried deploying the website from the CLI and Console. I followed the

[2019-03-20 09:05] pachu4u commented on #2893
@manueliglesias - Thanks a ton. That did the trick. Is there an ideal place to put that script.

I have added it in index.html just before the vendor.js include.

like so.
  <script>
    if (!Object.entries) {
      Object.entries = function( obj ){
        var ownProps = Object.keys( obj ),
            i = ownProps.length,
            resArray = new Array(i); // preallocate the Array
        whil

[2019-03-20 10:42] pippo111 opened #2903 "How to get Metadata with Storage.get"
I set up Storage file's metadata. When I check property of uploaded file, metadata is there.

How can I get metadata using `Storage.get` / `Storage.vault.get` ?

When I try simply get an object it returns only URL without metadata.

When I'm using it with `{ download: true }` option `Metadata` property is there, but is always empty:

[code]

Is there a way to get metadata using amplify ?

[2019-03-20 13:20] M1K3Yio opened #2904 "Authentication Forgot Password Submit"
What is the expected response?  Auth.forgotPassword() is sending the email with the code.  I can update my password and login with my new password, but there's no response.  Is this a bug?

[code]

[2019-03-20 13:34] artista7 commented on #1283
@aaayushsingh do you have any better solution? This is what has been helping me and is working pretty fine.

[2019-03-20 14:31] jkeys-ecg-nmsu commented on #2902
You want your application to work without bundling node dependencies? Or you want the client to not be able to read the code you're executing on it?

[2019-03-20 14:39] RoniqueRicketts commented on #2902
I don’t want the client to be able to read the code I am executing. They are seeing my App.js file, serviceWorker and node_modules. As mention before it’s as if amplify is merging the src directory with the build directory. Are you getting the same output?

[2019-03-20 14:45] rufoot commented on #1324
@PedroS11
I am trying to follow your above code for getting user list in Cognito User Pool. So I put that code in Lambda API. And I have got one error as follow:

`parsing error: unexpected token AttributesToGet`

Do you have any idea how can I fix it?

[2019-03-20 14:57] jkeys-ecg-nmsu commented on #2902
No, I'm not. Amplify is just using the build process defined in `package.json` AFAIK. What do you get when you delete your local build folder and execute `npm run build`? Does node_modules appear in your local static folder when built manually?

[2019-03-20 15:34] rufoot commented on #1324
It has been fixed by self. Thanks.

[2019-03-20 15:47] YikSanChan opened #2905 "Batch Storage.put"
** Which Category is your question related to? **
Storage

** What AWS Services are you utilizing? **
S3

** Provide additional details e.g. code snippets **
From https://aws-amplify.github.io/amplify-js/api/classes/storageclass.html#put, I am able to `Storage.put` to put 1 file to S3 at a time. I have a use case that users submit a few photos at a time, in which case I am looking for batch Storag

[2019-03-20 17:23] RoniqueRicketts commented on #2902
I get a regular build folder without node_moduels in it
![image](https://user-images.githubusercontent.com/17409035/54704564-fbedd480-4b08-11e9-885e-d338774a86ed.png)
. I am seeing all these folders and files in the source folder. https://github.com/RoniqueRicketts/amp/blob/master/src/Screen%20Shot%202019-03-20%20at%2012.02.30%20PM.png?raw=true

[2019-03-20 17:29] manueliglesias commented on #2905
Hi @YikSanChan

Currently this is not supported, I am labeling this issue as a feature-request.

[2019-03-20 17:43] goatandsheep commented on #1283
@artista7 good suggestion but it's not feasible to have to re-subscribe every 2 minutes. He's trying to figure out if the initial setup is even correct. Also your suggestion will cause an infinite loop when there's a network error

[2019-03-20 17:57] PedroS11 commented on #1324
I didn't use Lambda API but I'm glad you fixed, post your fix, it could help someone in the future

[2019-03-20 18:09] tmaiaroto opened #2906 "MFA can't be disabled"
** Which Category is your question related to? **
Auth

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
[code]

So, digging deeper into things on GitHub, I've tried `user.sendMFASelectionAnswer('SOFTWARE_TOKEN_MFA', callback)` which didn't seem to work. The `Auth` class doesn't seem to have anything.

I actually have all MFA disabled for this

[2019-03-20 18:14] aaayushsingh commented on #1283
@artista7 adding to what @goatandsheep said above.

There's a slight delay between disconnect and reconnect and you might end up not getting some data. Unless you also query for any missed data(which then makes subscriptions useless) each time a reconnect happens, there's no way to know if there were some messages which never got delivered.

If you want, set up two clients and publish some message

[2019-03-20 18:36] janhesters opened #2907 "Which resources are needed for batch mutations"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
AppSync, Cognito

** Provide additional details e.g. code snippets **
I'm building a React app using AWS Amplify. I use Cognito User Pools for authentication and a GraphQL AppSync API for my backend. (`amplify add auth`, `amplify add api`).

I want to add a mutation to batch create items:

[code]

In

[2019-03-20 18:39] tmaiaroto commented on #2906
I actually was able to then able to submit another MFA challenge answer after that `user.sendMFASelectionAnswer('SOFTWARE_TOKEN_MFA', () => {})` call with TOTP answer login now. This is very strange because this user should have MFA disabled. Getting preferred MFA type returns `NOMFA`

[2019-03-20 18:46] christopherdiehl opened #2908 "AWS Pinpoint failure due to invalid CORS header 'Access-Control-Allow-Origin' missing."
**Describe the bug**
AWS Pinpoint failure due to invalid CORS header 'Access-Control-Allow-Origin' missing.
I'm trying to send events with unauthenticated identities in a React v16 app.

**To Reproduce**
Steps to reproduce the behavior:
1.Create new PinPoint project in AWS console
2. Add Analytics
3. Follow steps outline in https://console.aws.amazon.com/pinpoint/home/?region=us-east-1#/apps/<reda

[2019-03-20 18:57] manueliglesias commented on #2901
Hi @FatimahSanni

Are you writing your queries yourself? or are you using the cli/transformer?

Having accurate counts is heavily dependent on the specific data source type used for a type and it is impacted by aspects like pagination, scan vs query.

[2019-03-20 18:57] tmaiaroto commented on #2906
Also, I cannot disable SMS based MFA in my Cognito User Pool settings. It prevents me because of an SMS IAM role. I've deleted the IAM role and it still has that field filled in with the IAM role and says I can't disable SMS MFA because of that role (which actually no longer exists).

[2019-03-20 18:59] tmaiaroto commented on #2906
I also can not disable advanced security (or switch to audit only) because an error flashes about my roles still being created.

[2019-03-20 19:01] manueliglesias commented on #2893
I am glad it worked! 😄

According to [ionic docs](https://ionicframework.com/docs/building/scaffolding#project-structure), looks like you should have a `polyfills.ts` file in your project, that would be the place.

[2019-03-20 19:01] #2893 closed

[2019-03-20 19:15] FatimahSanni commented on #2901
Hi @manueliglesias, thanks for the reply.

I am not sure I get your question but here is the scenario. I write the schema, appsync generates the queries, mutations etc. DynamoDB is the data source. I have played around with queries on the Appsync console but totalCount is not a thing.

I just can't get total count of all items out of the box or is there something I am missing?

[2019-03-20 19:33] tmaiaroto commented on #2906
Also can not change Cognito pool settings at all now (because I thought removing my SMS role was a good idea).

[2019-03-20 19:42] gerrytsui commented on #2897
You need to
1. change const to public ( or private)
2. and move the signUpConfig declaration inside the curly brackets of  export class AuthComponent implements OnInit { }

ie same lever of constructor() and ngOnInit() functions.

[2019-03-20 20:04] manueliglesias commented on #2901
Thanks for the clarification, looks like this would have to be a feature request for the transformer, you can create on in the cli repo: https://github.com/aws-amplify/amplify-cli/issues/new?template=feature_request.md

[2019-03-20 20:04] #2901 closed

[2019-03-20 20:15] rush86999 opened #2909 "appsync manual configured to automated backend"
** Which Category is your question related to? **
Appsync, enhancement or feature request
** What AWS Services are you utilizing? **
amplify, appsync, cognito, dynamodb
** Provide additional details e.g. code snippets **

I have manually configured appsync. The reason is i was on aws mobile before amplify was launched. I tried switching over. i started with scratch but with same dynamodb tables an

[2019-03-20 20:20] credator commented on #2903
It may be a CORS permissioning issue that you are seeing.  Metadata is returned in the http header, and you have to specify the name of any header you want returned in the CORS policy of the bucket. This is an XML file per bucket, that you would need to add one or more `<ExposeHeader>` lines to.

You can edit the XML file in the AWS web console by going to S3, clicking on the bucket, then selectin

[2019-03-20 20:56] elorzafe commented on #2203
@wizawuza identityId is just a way to identify a user (unique id), you cannot do anything without aws credentials from that user.

@mwarger I created PR #2910 that supports list/get objects from `protected` prefix, with that you can list all the objects under that prefix.

[2019-03-20 20:56] manueliglesias commented on #2904
Hi @M1K3Yio

This is expected, from Cognito's  [ConfirmForgotPassword docs](https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_ConfirmForgotPassword.html)

If the promise is resolved, the operation succeeded. I hope this helps

[2019-03-20 20:56] #2904 closed

[2019-03-20 21:00] manueliglesias commented on #2896
@janhesters I'll migrate this issue to the cli repo (the transformer is part of that repo and they'll be in better shape to help you).

[2019-03-20 21:01] manueliglesias commented on #2907
@janhesters I'll migrate this issue to the cli repo (same as #2896).

[2019-03-20 21:09] manueliglesias commented on #2908
Hi @christopherdiehl

Your issue seems very similar to #448

If the solutions posted there don't help you, let us know to re-open this issue

[2019-03-20 21:12] manueliglesias commented on #2906
Hi @tmaiaroto

I am labeling this as a service team issue and will share it with the cognito team

[2019-03-20 21:22] artista7 commented on #1283
@goatandsheep @aaayushsingh both your points are valid and i also faced the same issues. By far i found that as the best approach which i have been using in two enterprise level applications. Though this is not obviously the ultimate solution. Im also eager to learn about the fix.

[2019-03-20 21:29] tmaiaroto commented on #2906
Thanks, yea, I'm starting to think it's more in the service than this library now.

[2019-03-20 21:32] christopherdiehl commented on #2908
Hello @manueliglesias, I didn't see any solutions posted there other than a user stating their configuration was wrong.

I've gone through the setup tutorial a few times, and keep getting the same error each time. Would love any additional help you could provide.

[2019-03-20 21:57] DeniseJames commented on #2897
Thanks Gerry Tsui!

[2019-03-20 21:57] #2897 closed

[2019-03-20 21:58] blazestudios23 commented on #697
So is there a way currently to have multiple GraphQL endpoints in the config? I have a case where we need three. These are many use cases where this may be needed as well. For example if you are using external GraphQL endpoints and want to be able to directly hit the third party providers, and have your own end point as well.

I have three massive data stores that we want to manage, they are not i

[2019-03-20 22:30] jkeys-ecg-nmsu commented on #2902
And you've checked the hosting bucket to see if they've been uploaded there?

[2019-03-21 00:20] DavidOnGitHub opened #2911 "Support file upload progress in amplify API"
We are using amplify in our project and there is a need to upload file from browser to a backend API instead of directly to S3. So we need to display the progress of the upload but amplify API doesn't support the onUploadProgress listener, although it uses axios under the hood.

So should I create an PR for this or is there a better solution? Since amplify is using axios the change should be strai

[2019-03-21 02:08] truongluong1314520 commented on #2867
Hi @jordanranz , does aws-amplify support this function? if you need any information, please let me know.

[2019-03-21 02:10] 12Factor-mx commented on #2525
Hi @cliffordh, can you post your Vue component code please?

[2019-03-21 03:16] rufoot commented on #2120
@PedroS11 @elorzafe
I wanna exactly make sure about getting user list from Cognito using Amplify. Is it possible?
Getting user list from Cognito using AWS Lambda. Is it possible?

[2019-03-21 03:35] YikSanChan commented on #2905
@manueliglesias Is it not supported by S3 or only not supported by aws amplify?

[2019-03-21 04:40] manueliglesias commented on #2905
The S3 service doesn't support it. Amplify could help a little or you could do something like:

[code]

[2019-03-21 04:43] YikSanChan commented on #2905
@manueliglesias Thank you

[2019-03-21 06:07] tmaiaroto commented on #2906
To give you as much debug info/repro as I can, I looked further. I wanted to see if I could isolate and ensure it is not an issue with the Amplify JS library (or my JS code).

Trying outside of my application from the CLI with a command like (I'm omitting username, pool ids, etc.) `cognito-idp admin-set-user-mfa-preference --software-token-mfa-settings Enabled=false,PreferredMfa=false` and then is

[2019-03-21 09:57] pippo111 commented on #2903
Thank you @credator It is working now as expected.

[2019-03-21 11:24] chrisfowler commented on #2498
@elsenhuc  Did you ever get this issue resolve for ?querystrings. I too having trouble routing with querystring paramters. Getting stripped out. If I deploy using `amplify publish` from cli then no issues.

[2019-03-21 11:25] willkara opened #2912 "Support in GovCloud"
Is there any planned support for resource provisioning/creation in GovCloud? Not sure if it'd be an AWS policy thing, or just need it to be configured to allow those endpoints.

[2019-03-21 12:03] jtarini commented on #2605
@guiaamaral Did you solve this problem for your Moto G6 Plus with Android 9.0?
I'm facing the same issue with my Android devices only, for me it's a React Native app too.

[2019-03-21 12:49] guiaamaral commented on #2605
@jtarini Nothing yet! I don't now why this happen. I tried to debbug but with no success.

[2019-03-21 16:48] elorzafe commented on #2120
@rufoot Currently you cannot get a user list using Amplify. You could do it from AWS lambda using aws-sdk. That is why we are working on that [RFC](https://github.com/aws-amplify/amplify-cli/issues/766)

[2019-03-21 16:55] RoniqueRicketts commented on #2902
Why would amplify send all those files including service worker to the bucket? Shouldn't it just send the build folder over to the bucket without node_modeules in it? Also, how can I prevent all these other files from being sent since they are in the hosting bucket? The node_modules bucket is not in the hosting bucket by the way.

[2019-03-21 16:59] enzo-beltrami opened #2913 "Docs: wrong Cache.getItem usage"
I think this is a problem with the docs and not the code, when u use the Cache module to retrieve federatedInfo the docs say that it's a promise however it isn't, i got a `Cache.getItem('federatedInfo').then(...) is not a function`  then i tried to use it synchronously and it worked.

We should change the code at https://aws-amplify.github.io/docs/js/authentication from this:
[code]
to this:
[code

[2019-03-21 17:36] mchong-teal commented on #1480
I am unable to get the {username} parameter in the new account email.  If I create a custom email verification message with the content:
```{username}```
I also just get the literal text '{username}'.  This is contrary to what is indicated in the documentation..

[2019-03-21 17:42] elorzafe commented on #2693
@ritesh there is a new unstable version @aws-amplify/storage@1.0.27-unstable.0
 that has the fix for this problem. We will do a latest release soon.

[2019-03-21 22:03] manueliglesias commented on #2911
Hi @DavidOnGitHub

Feel free to create a PR, we'll review it

[2019-03-21 22:05] #2903 closed

[2019-03-21 22:26] manueliglesias commented on #2913
Thank you @enzo-beltrami

I'll be labeling this issue and sending a PR with the fix

[2019-03-22 02:09] saadq opened #2917 "Unable to pass demographic to Analytics.updateEndpoint()"
So as a preface to the issue I mentioned in the title, I wanted to first mention another issue I saw in the [docs for Analytics]((https://aws-amplify.github.io/docs/js/analytics)). The [`updateEndpoint()` docs](https://aws-amplify.github.io/docs/js/analytics#update-endpoint) seem to say to pass in an object like so for user attributes:

[code]

However this led to `UserAttributes` being `undefined

[2019-03-22 02:26] Sytten commented on #1585
Can this be done currently in the end? The way I see it you have to create a custom identity provider that would do the sign in with the pool or something like it?

[2019-03-22 05:18] ruiyang commented on #932
@falloutcoder +1
@jordanranz We got the same issue. Support asked me to submit a ticket here and I found this thread. case no: 5602646571.

It's been a year now, hasn't cognito found a fix for this???

[2019-03-22 06:18] malithjkmt commented on #2206
@KhaledSoliman, can you elaborate more on **"The better approach is to  allow cognito to pass off any code sms or invitiation sms to a lambda trigger"** please?

There are [Custom Authentication Challenge Lambda Triggers](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-lambda-challenge.html) to generate otp and send via my own sms api and get the verification..... but,

it woul

[2019-03-22 06:20] jarrettj commented on #1500
No worries. :)

[2019-03-22 06:21] KhaledSoliman commented on #2206
@malithjkmt I was suggesting to the cognito devs to allow us to bypass the SNS provider using a lambda trigger that receives all message out bound and we use the API that would work better in our local area to send those messages

[2019-03-22 06:27] malithjkmt commented on #2206
@KhaledSoliman yes, that'll help thousands of devs..
But, for now is there a workaround for this other than  Custom Authentication Challenge Lambda Triggers? or anything?

[2019-03-22 07:16] KhaledSoliman commented on #2206
@malithjkmt As far as I know, no the only way to bypass SNS is to creat your own auth flow using triggers

[2019-03-22 09:00] instantiationexception commented on #1852
+1

[2019-03-22 12:26] GremeAllanBryce commented on #1858
The "hack" from @kushanson is great as it gets rid of the conflict but it would be a simple solution to have this simple name change applied by the library owners to save others the same issue.

Put simply, the Amazon AWS team and  zo0r have both, quite reasonably, chosen to have the Android java module "RNPushNotifications".  This is a problem because the GRADLE build system has no way to resolve

[2019-03-22 12:34] GremeAllanBryce commented on #1858
Note that for me the solution from @Jobel91 was a great help but not entirely what was required.

I have ended up with

[code]

in my case the GMS part is not actually required but I have included it as I suspect it may be in the future.  The firebase line did the trick.

Note is it `com.firebase` and NOT `com.google.firebase` which I have also see documented and which did not work for me.

Hope t

[2019-03-22 13:16] GremeAllanBryce commented on #2541
it would be great if the library exposed a method to get the token for exactly the reason @powerful23 states

[2019-03-22 13:51] twoolf commented on #2892
If it helps with debugging this -- we had a 'required' for MFA and just switched over to 'optional' with Advanced Security on our UserPools.  With the previous settings, we had seen the 'attributes' data on initial login.  But, with the change, we are no longer seeing it on the initial login.

Does anyone have suggestions on how to work around this bug?  We had engineered data to flow from that fi

[2019-03-22 14:47] markmakes commented on #1538
Still an issue.

+ 1

[2019-03-22 14:50] undsoft commented on #104
@fcwheeler
Your config gives me a validation error "Username is required" or something like that.

This works for me:
[code]

The login will still say 'username' though.

[2019-03-22 15:28] StJohn3D commented on #2908
Having the same problem, and like he said there is no solution posted in that other issue.

[2019-03-22 15:33] christopherdiehl commented on #2908
After chatting with an AWS support representative, he determined that the problem was due to the configuration created by Amplify and not part of Pinpoint. I'll update this comment with more information when I receive an update on the specific misconfiguration.

[2019-03-22 16:10] malithjkmt commented on #2206
@KhaledSoliman I did start on custom auth flow implementing 3 Lambda triggers for aws userpool.
According to [Amplify docs](https://aws-amplify.github.io/docs/js/authentication#switching-authentication-flow-type), we need to change authenticationFlowType, from `USER_SRP_AUTH` to `CUSTOM_AUTH`

But, when user **signup** it's still going through builtin auth flow (sends sms OTP via SNS).
But, when *

[2019-03-22 19:19] manueliglesias commented on #2867
Hi @truongluong1314520

This is something you can implement making use of Amplify's [`Storage`](https://aws-amplify.github.io/docs/js/storage#put) category to store the files in S3, Cognito User attributes to store a link to the file and the [`<S3Image>`](https://aws-amplify.github.io/docs/js/storage#s3image) component to display it.

[2019-03-22 19:39] manueliglesias commented on #2864
@satch69rm

Seems like your AppSync API is configured for `AMAZON_COGNITO_USER_POOLS` auth, in this scenario you don't pass credentials, you just pass a jwt token.

Also, which pieces are running in your backend and which pieces in your frontend?

[2019-03-22 19:41] powerful23 commented on #2865
@richardh0455 Hi I just retried in local, works fine for me.

Can you look into the localStorage of your App and there should be some items with the Key: `CognitoIdentityServiceProvider...`. These items should persist in cache if you are logged in the app. The `Auth.currentSession` method will try to get those items when called and if they are missing, you will get the error.

[2019-03-22 19:47] manueliglesias commented on #2854
@sekistner I am not able to reproduce the error that you are getting where it says that "error Project "amazon-cognito-identity-js" is not a react-native library"

![image](https://user-images.githubusercontent.com/6154160/54849086-76049180-4ca0-11e9-91b1-adf5e98c0d9a.png)

Can you try with the latests versions of react-native and amazon-cognito-identity-js?

[2019-03-22 19:50] elorzafe commented on #2864
@satch69rm

Can you try doing this with your jwtToken?
[code]

https://aws-amplify.github.io/docs/js/api#set-custom-request-headers-for-graphql

[2019-03-22 19:51] powerful23 commented on #2853
Yes. When using identity pool, you need to pass IAM policy to auth_role and unauth_role, and the IAM should contain Pinpoint related policy that would allow you to send data to the service.

As long as your user pool is a federated provider of your identity pool, the Cognito user will get the "auth_role" AWS credentials when logged in. When using amplify, the process happens automatically.

**Yes*

[2019-03-22 19:58] manueliglesias commented on #2846
Closing as duplicate of #1437

[2019-03-22 19:58] #2846 closed

[2019-03-22 20:02] manueliglesias commented on #2840
@selipso can you try clearing your cache  on login/logout?

This [comment](https://github.com/awslabs/aws-mobile-appsync-sdk-js/issues/49#issuecomment-366824731) has an example

[2019-03-22 20:08] flisboac commented on #2502
I'd also like to know how to filter a query by entity. It seems that Amplify completely ignores the entites and their relation IDs when generating the FilterInput.

Amplify also seems to completely ignore the relation ID everywhere when generating the GraphQL schema; even if you define the entity's type containing the relation field (e.g. `projectCompanyId: ID!`), it simply doesn't output that fie

[2019-03-22 21:01] justingrant commented on #446
FYI, for any others who end up here from Google, if you're using Cognito Identity Pools without Cognito User Pools, then @JLee21's sample above can be adapted as follows:

[code]

[2019-03-22 21:14] #2913 closed

[2019-03-22 21:38] jordanranz commented on #2391
Hey @Chinna12345678,

Apologies for the late response. By 'pull the code' do you mean you are cloning the repo and trying to run the app from the cloned repo or are you trying to use your own react-native app?

[2019-03-22 22:17] #2623 closed

[2019-03-22 22:50] #2892 closed

[2019-03-22 22:51] rufoot commented on #2120
OK. Thanks.
I have researched about the Amplify and Lambda. So we can implement the Amplify authentication functionalities using Lambda functions and API Gateway. Amplify should support authentication for only an admin and an individual user.

Amplify have good user authentication system and user familiar UI. So we can use this for building serverless web and mobile application.

[2019-03-23 08:32] rfdc opened #2921 "Schema Errors - Unknown argument "sortField" on directive "@connection""
**Describe the bug**
I'm creating a searchable schema with sortField which is returning the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
`amplify add api ` then add the follow schema!
[code]
**Versions:**
Amplify 0.1.27
aws-cli/1.16.26
Python/2.7.15
Darwin/17.7.0 botocore/1.12.16

Why is it happening?
Thanks

[2019-03-23 08:35] rfdc commented on #2921
Just updated from @aws-amplify/cli@0.1.27 to @aws-amplify/cli@0.1.45 and it worked :)

But got the same error as from this post: https://github.com/aws-amplify/amplify-cli/issues/778

[2019-03-23 08:35] #2921 closed

[2019-03-23 10:58] abhaykumar1415 commented on #1121
I had to remove
`<receiver android:name="com.google.android.gms.gcm.GcmReceiver" android:exported="true" android:permission="com.google.android.c2dm.permission.SEND" > <intent-filter> <action android:name="com.google.android.c2dm.intent.RECEIVE" /> <category android:name="${applicationId}" /> </intent-filter> </receiver>`

from AndroidManifest.xml

[2019-03-23 12:35] stevemao commented on #1759
mobile hub created a bunch of roles. I'm not sure which role should I update. @ehorodyski any idea?

[2019-03-23 13:30] janhesters opened #2922 "How to use buildMutation for arrays?"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
Amplify, AppSync

** Provide additional details e.g. code snippets **
I have a mutation that looks like this:

[code]

The generated code for it looks like this:

[code]

I'm trying to use it like this:

[code]

But this throws the error:

[code]

If I change the brackets to be:

[code]

I get the err

[2019-03-23 14:37] elmarti opened #2923 "Authentication within amplify REST API function doesn't seem to be working"
I've added a REST API to my ReactNative project to trigger a Lambda-based service via SQS. The general custom functionality works, however, I can't seem to authenticate the user (Cognito) making the request. The default generated code comes with: `req.apiGateway.event.requestContext.identity.cognitoIdentityId`
However all of the fields in `req.apiGateway.event.requestContext.identity` are `null`.

[2019-03-23 16:08] alpeshgaglani opened #2924 "How to use AWS API Gateway Websockets?"
** Which Category is your question related to? **
PubSub
** What AWS Services are you utilizing? **
API Gateway, websockets

** Provide additional details e.g. code snippets **
I'm trying to use Amplify to authenticate websockets in AWS API Gateway. I know that Amplify has support to use websockets for AWS IoT and Generic MQTT Over WebSocket Providers, however, there doesnt seem to be support/docu

[2019-03-24 00:27] vientang commented on #2645
For the "unauthRole", I had to configure IAM roles like this:

[code]

In the IAM console, the policy for "Unauthenticated role" has Resources set to all resources.

I can now query for data from my api without authentication BUT is this the right way? It works now but I'm curious to know if this will cause any problems in the future.

[2019-03-24 01:07] srbartlett opened #2925 "Lambda functions using the node.js 6.10 runtime - EOL"
** Which Category is your question related to? **
Amplify Auth

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
I recently received an email from AWS support stating that Lambda functions in my account are using Node.js 6.10 which will soon be EOL, they suggest migrating to a new version of Node runtime.

The functions in question related to

[2019-03-24 04:46] mfreeman451 commented on #2613
Any updates?

[2019-03-24 10:51] yyberi commented on #1572
I can confirm the same problem with "aws-amplify": "1.1.22",  "aws-amplify-angular": "2.1.9".
By monitoring "$aws/events/presence/disconnected" topic form Aws Iot Core I can see that connection is disconnected immediately after unsubscribe().

[2019-03-24 12:40] cliffordh commented on #2925
@srbartlett I ran into the same thing and was going to post the same question. For now, you should be able to go into the Lambda Functions console and manually change the runtime to NodeJS 8.10.

[2019-03-24 16:14] twoolf commented on #970
Just adding a comment that I'm running into this same issue from aws-amplify 0.4.8 and aws-amplify-react-native 0.2.19 to any 1.* versions.  This is with react 16.3.1 and react-native 0.55.4

So far, this seems to be the main entry point for those trying to update aws-amplify to 1.* and seeing this issue.  If anyone has found a workaround, that would be great to know.  One difference with the orig

[2019-03-24 21:02] twoolf commented on #970
Adding onto my own comment -- this is entirely related to PushNotifications -- I had thought it might be the new modularized version as of 1.* and/or something with dependencies in Android Studio.  But, confirming this note: https://github.com/aws-amplify/amplify-js/issues/408 -- if you take out all of your PushNotifications it then builds.

[2019-03-25 00:27] peetss opened #2926 "Is federatedSignin (with Facebook) supposed to pop-up a window to refresh the access token?"
** Which Category is your question related to? **

Federated Sign-in

** What AWS Services are you utilizing? **

Cognito

** Provide additional details e.g. code snippets **

Using the code examples from here (https://aws-amplify.github.io/docs/js/authentication#federated-sign-in) I find that periodically a popup will briefly appear.

- Is this to refresh the access token?
- Is there a way to ext

[2019-03-25 03:47] twoolf commented on #2892
Took all day, but I am now working with: aws-amplify@1.1.23-unstable.9  -- but the same error is present on our React Native App -- we can't see the 'attributes' data --

Can we reopen this for React Native?  I can file a new issue if that is better.

Any other suggestions -- are others seeing this also?

[2019-03-25 04:06] truongluong1314520 commented on #2867
Hi @manueliglesias , sorry for the late reply, I based on what you said and success to found the way to do it. I will close this ticket. Later on, if there are other problems related to this one. I will create a new ticket.

Thank you!

[2019-03-25 04:06] #2867 closed

[2019-03-25 08:03] mithunkalan commented on #711
After weeks of struggle, this really helped me. Thank you

[2019-03-25 08:16] jayalog commented on #1435
Any solutions for this issue ?

[2019-03-25 10:57] elsenhuc commented on #2498
The docs have been updated: https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html but in the meantime I had changed my code and used a URL redirect inside react, rather than a querystring parameter - so I "avoided" it

[2019-03-25 11:41] elmarti commented on #2923
I didn't restrict the API to only authenticated users. Now the auth data is coming through and the `sub` can be parsed from  `cognitoAuthenticationProvider`

`const authStringParts = req.apiGateway.event.requestContext.indentity.cognitoAuthenticationProvider.split("CognitoSignIn:";`

[2019-03-25 11:41] #2923 closed

[2019-03-25 11:46] artista7 commented on #2498
This worked for me too

source:
</^((?!.(css|gif|ico|jpg|js|png|txt|svg|woff|ttf)$).)*$/>

target address:
/index.html

type:
200 (Rewrite)

[2019-03-25 12:26] dbramwell commented on #717
+1

[2019-03-25 12:50] cheeks commented on #1284
@jordanranz I am. I've tried *npm dedupe* but to no avail. Any other ideas?

[2019-03-25 13:18] d-olivas commented on #1672
@jordanranz not anymore. After I posted the issue I didn't use the confirmSignIn for a while and forgot about the issue and then I had to use it again and it's working fine now. I'm using the same react-native version, 0.55.4, react 16.3.1 but updated the aws-amplify to ^1.1.19, probably that was it.

[2019-03-25 14:52] ahasnaini commented on #1852
+1

[2019-03-25 15:21] i-schuetz commented on #1852
Please don't use +1 to push the issue. This unnecessarily spams subscribers. Upvoting the original post with 👍is enough.

[2019-03-25 15:30] gl2748 commented on #1213
@rfdc depends on the API you are using, but in AppSync you can use resolvers to filter by the group in the identity context per:
https://docs.aws.amazon.com/appsync/latest/devguide/security-authorization-use-cases.html

[2019-03-25 15:47] andrmoel commented on #1997
This solution works, but is pretty dirty. Why hiding an unused component with CSS instead of removing it physically?

I faced the same problem and decided not to use `aws-amplify-react` :(

[2019-03-25 16:27] RoniqueRicketts opened #2927 "Aws-exports.js showing in production (major flaw)"
**Describe the bug**
The Aws-exports and App.js files are showing in production. I was going through this tutorial [https://aws-amplify.github.io/docs/js/react](url) and the project was successfully built but all the secret information is visible.

**To Reproduce**
Steps to reproduce the behavior:
1. Upload code to Github.
2. Deploy app from Github using the amplify console.
3. Open the built proj

[2019-03-25 16:35] BrentLoft1 commented on #612
Timeline for when this feature will be implemented?

[2019-03-25 17:47] amilaDulanjana commented on #1779
@powerful23 I need to send push notifications to specific user from my backend. How can I achieve this ?

[2019-03-25 18:14] powerful23 commented on #2892
@twoolf can you check the following items?
- Can you check the version of `@aws-amplify/auth` is `1.2.19-unstable.4`?
- Can you provide more info by turning on the debug mode? You can open it by putting `window.LOG_LEVEL='DEBUG'` in your code. Especially the info when signing in
- Further more,  if you go to `node_modules/@aws-amplify/auth/lib/Auth.js` line 436, this is where attributes are retrie

[2019-03-25 18:18] powerful23 commented on #1759
@stevemao it should be in something like `{your_mobile_hub_project_name}_auth_MOBILEHUB_{uuid}` -> `....mobileanalytics...`. Same for the unauth role.

[2019-03-25 18:48] amlcodes commented on #2363
what about for groups of users? IAM -> cognito seems to lock you into only 2 groups, unauthenticated and authenticated.  My app has more than 2 different types of users.

[2019-03-25 18:59] powerful23 commented on #1779
@amilaDulanjana hi because Amplify is mainly focusing on the frontend so I am not the expert to answer this. Can you go to the AWS Forum: https://aws.amazon.com/premiumsupport/knowledge-center/send-feedback-aws/ and open an issue there which is a more efficient way.

[2019-03-25 19:03] amilaDulanjana commented on #1779
@powerful23 No I cannot registered the user with the userId I am using following code. is there any issue with the code ? And also how can I know whether the user is registered with the provided userId. Thanx
`import React, {Component} from 'react';
import {Platform, StyleSheet, Text, View} from 'react-native';

import { Logger } from 'aws-amplify';
import Auth from '@aws-amplify/auth';
import Ana

[2019-03-25 19:58] dabit3 commented on #2363
@amlcodes What other type of user do you have?

[2019-03-25 20:39] amlcodes commented on #2363
sorry I should have been a little bit more clear, thanks for humoring me. #1117

[2019-03-25 20:51] pveller commented on #1370
It is my understanding that hosted UI uses OAth flow and the `Auth.signIn()` does not. `scope` makes sense as part of OAuth 2. To use non-hosted UI, your app client is set up without a client secret. To configure `scope`s for your app client, you need to enable OAuth and that requires either a call back URL or a client secret for the credentials flow.

With that said, I think it's not the Amplify

[2019-03-25 21:15] lookitsatravis opened #2930 "React SignIn component throws exception if form is empty when submitted"
**Describe the bug**
React SignIn component triggers error if form is empty when submitted. We are using the built-in React SignIn component (as part of `withAuthenticator`). It will display the unhelpful error `Cannot read property 'username' of undefined` if submitted without first filling data into the form.

**To Reproduce**
Steps to reproduce the behavior:
1. Install/configure Auth and use bu

[2019-03-25 21:47] powerful23 commented on #2917
@saadq Hi, can you give more code snippets about how you are using Amplify? I tried to reproduce it in React and React Native but nothing wrong. Thanks.

[2019-03-25 21:48] mhamrah commented on #2646
Thanks for working through this @awhitford.

Yes, please document! An approach that doesn't fight the null values and require so much boilerplate would be nice. For instance, can we better represent the customers item list that's passed into `CustomerList` to avoid so many null checks.

[2019-03-25 22:15] powerful23 commented on #2924
@alpeshgaglani this doc might help you: https://aws-amplify.github.io/docs/js/pubsub#installation-and-configuration

[2019-03-25 22:25] powerful23 commented on #2926
@peetss yes we are refreshing the access token by using `FB.getLoginStatus()`: https://developers.facebook.com/docs/reference/javascript/FB.getLoginStatus/.

As I know there is no way to extend the expiration time as it's defined by Facebook. I am not sure if this method will cause a popup window, will try to reproduce it. Can you tell me how often does this window pop up?

[2019-03-25 22:37] #1302 closed

[2019-03-25 22:42] stevemao commented on #1759
Thanks @powerful23 I updated those two. As @ehorodyski pointed out the messages don't go away immediately (I'll try it again later). Maybe worth to add this to migration docs.

[2019-03-25 22:49] powerful23 commented on #2930
@lookitsatravis thanks for reporting! I have sent a pr to fix this.

[2019-03-25 23:01] saadq commented on #2917
Hey @powerful23,

So here is the entirety of my Amplify code.

Code called immediately:

[code]

And then the `updateAnalyticsEndpoint` function is called upon successful sign in (or if the user is already signed in):

[code]

[2019-03-25 23:04] powerful23 commented on #2917
@saadq could you use lowercase instead of uppercase according to the doc: https://aws-amplify.github.io/docs/js/analytics#update-endpoint

[2019-03-25 23:25] DryLab-Technology commented on #2390
@powerful23 I used second way, but it didn’t work. I set admin group precedence to 0 and choose from token. I got access denied

[2019-03-26 00:11] DryLab-Technology commented on #2390
@powerful23, when I used same setting with user group, I can see it works when different users call different API, they have different permissions. But regarding the S3 private folder access, it doesn’t work. Is there any update on this topic?

[2019-03-26 00:31] saadq commented on #2917
Sorry, so just to clarify – I have tried both lowercase and uppercase and mixed case. My original post shows some of the stuff I tried.

But I'm not sure if the docs are accurate because the lowercase wasn't working for me with `userAttributes`. I had to use `UserAttributes` to get it to work.

However, I'll try it again exactly like the docs when I get home and post an update here.

[2019-03-26 02:15] twoolf commented on #2892
@powerful23 I suspect that I'm missing something -- I continue to see the same behavior with 1.2.19-unstable.4 and even tried 1.1.23-unstable.10

- in looking over line 436 and related, I am not seeing where the calls for the custom attributes are being collected.  This is related to the blog post by Adrian and Nader (https://aws.amazon.com/blogs/mobile/aws-amplify-adds-support-for-custom-attribut

[2019-03-26 03:13] michaelcuneo commented on #2502
Same... how does this work? It seems like it would be common to be doing something like this, but it doesn't work...

[2019-03-26 03:48] DryLab-Technology commented on #2639
Hi @manueliglesias, I tried your solution, it changes the url, but I still get access denied. Is this working well for you?

[2019-03-26 04:07] khirodAsurion opened #2932 "NoAuth App URL stays with SAML error till clear Browser Cache"
This is wrt. AWS-AMPLIFY . I am using with my react app +Cognito

I am using AWS Cognito

When I show SSO page ( federated with Cognito) and a valid user( Authentic user
)  logs in he is able to see the application .But when a User who is not a Authentic user for the Application in my code I call Auth.signOut() , I get the SAML response as Not Authenticated. . and the URL of App changes with a SAM

[2019-03-26 06:03] michaelcuneo opened #2933 "GraphQL Connection doesn't add ID where applicable to parent connections."
**Describe the bug**
I am adding projects with GraphQL, projects has galleries, which has images.

If I add a project, so that I can obtain a projectID to link to Galleries, then create a gallery, then obtain a galleryID to link to Images, then create all of the images... they all have their respective ID's except Project... because Project was created first it cannot obtain a galleryID, but it ne

[2019-03-26 08:15] mihaiblaga89 commented on #2908
any news on this? I'm having the same issue

[2019-03-26 08:18] thongnx6 commented on #1342
me neither, can someone post some example code using this to access the actual data that is downloaded?

[2019-03-26 09:52] amilaDulanjana opened #2934 "AWS Pinpoint Analytics.updateEndpoint gives an invalid userId output"
**Describe the bug**
I want to update the `userId `using `Analytics.updateEndpoint({})`. But `userId `is not getting updated.

**Expected behavior**
I should be able to send the push notifications to a specific user using the `userId`.

**Screenshots**
![p1](https://user-images.githubusercontent.com/16540483/54987356-796a8680-4fda-11e9-99b7-339ad9be6eeb.png)

**Additional context**
There are 2 (A

[2019-03-26 10:29] Christilut opened #2935 "aws-amplify-vue: signOut event fired when cancelling signUp"
**Describe the bug**
I'm using the <Authenticator> component and when pressing the "Create an account" link it fires the `signUp` event as expected. But when I then click the "Sign In" link on that page the `signedOut` event triggers. This is the same event that happens when clicking the "Sign out" button.

So if I listen to the `signOut` event and redirect a user to my home page or login page, th

[2019-03-26 11:10] buggy commented on #1772
The AppSync console sends the identity token instead of the access token. Sending the identity token instead of the access token would be my preference because Cognito User Pools allows you to modify the claims in the identity token but not the access token. It does seem like a few of us are using the identity token to hold tenant information.

[2019-03-26 11:20] emailismail commented on #1962
@powerful23

Any idea when this can be accomplished?

Do we have any other alternative to achieve this..i.e get the devices tracked in cognito hosted UI.

And also any reference urls or documents to host the cognito ourselves and get all the required functionalities?

Thanks !
Ismail

[2019-03-26 12:22] peetss commented on #2926
I would say it occurs as often as the token expires.  However, in most browsers the popup is automatically blocked, so the whole refresh flow can be blocked.

[2019-03-26 12:24] peetss commented on #297
I ended up not using custom scopes as they are quite a pain to get approval for on Facebook in particular.  However, it would still be nice to pass additional scopes in optionally.  Will check out the RFC.

[2019-03-26 15:23] erikpetersen-wf commented on #1316
I used the instructions provided here (https://serverless-stack.com/chapters/facebook-login-with-cognito-using-aws-amplify.html) to integrate federated login with `aws-amplify`.

Then I use `amazon-cognito-js` to save user-specific information for users logged in with federated identities.

[2019-03-26 15:36] dabit3 commented on #2363
Ah, ok. I think this would still fall into the category of authenticated & unauthenticated. The unauthenticated users, moderators, & admin would all fall under "unauthenticated users" but with special / unique security & authorization rules (since you would have access to their identity).

[2019-03-26 15:57] rush86999 opened #2936 "unable to confirm email via link or code"
**Describe the bug**
user is signedup using auth module and asked to check email to verify. First tried code did not work. Then tried verify email with customd domain also did not work.

As you can see there is something wrong here. I am following the amplify authentication guide. This issue didn't exist before. Only after I created a new user pool with the amplify cli.

**To Reproduce**
Steps to

[2019-03-26 16:49] rush86999 commented on #2936
For some reason verify email is working I don't intend to use code verification for now but thanks.

[2019-03-26 16:49] #2936 closed

[2019-03-26 16:54] powerful23 commented on #2892
@twoolf to be more specific, if you go to line 1036, the `getUserData` in that `currentUserPoolUser` method is called which will return the user attributes. Can you do some debug statements to see if this method is called as expected.

Please turn on the debug mode which will also print a lot of information.

[2019-03-26 17:02] amlcodes commented on #2363
I didnt realize that you could get role from token in the identity pool, and from that, will read the user's groups from the cognito user pool. So my thinking is that i can add in a couple of queries in my appsync console, for moderators and admins, with custom resolvers that will check ctx.identity is part of that group. and then add in those new queries' permissions to those iam roles.

[2019-03-26 18:13] alpeshgaglani commented on #2924
@powerful23 : I re-read Pubsub/MQTT docs a few more times, but I still dont know if it helps authenticating API Gateway websockets. For now, I do manual authentication by grabbing the jwt from authenticated user, and writing custom code using node-jose to parse out the kid, verify the token and return the claims. API Gateway websockets do have userpool auth, but I'm lost on the details of how to i

[2019-03-26 18:13] vparpoil commented on #2209
I would like to send a push notification to certain users from a server programmaticaly. I feel like it's not yet supported ([see here, push notifs are not listed](https://docs.aws.amazon.com/pinpoint/latest/developerguide/send-messages.html)). Is this being working on ?
Thanks a lot!

[2019-03-26 18:14] peetss commented on #1316
I used the instructions provided here (https://serverless-stack.com/chapters/facebook-login-with-cognito-using-aws-amplify.html) to integrate federated login with `aws-amplify`.

Then I use `amazon-cognito-js` to save user-specific information for users logged in with federated identities.

[2019-03-26 18:25] emeryaa opened #2937 "Amplify status without data"
**Describe the bug**
After crashed when `publish project` to aws I had init new amplify configuration
After that I don't seee any data before added to the project by `amplify status`

Api
Auth

I have these files at project dir

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/26538670/55022207-88215f80-5013-11e9-868a-6

[2019-03-26 18:34] emeryaa opened #2938 "amplify publish needs "hosting add" and crashed when publish 2"
`amplify publish`

Please add hosting to your project before publishing your project
Command: amplify hosting add

`amplify add hosting`
Hosting is already fully enabled.

`amplify remove hosting`
No resources added for this category

This is updated version of CLI

[2019-03-26 18:50] crcommons opened #2939 "Error messages cannot be localized or translated"
**Describe the bug**
When an error is thrown during authentication, the amplify react-native UI displays the string response from the database rather than providing its own error message. Because of this, you cannot translate the error messages. This is especially important when a user enters the wrong password.

**To Reproduce**
Steps to reproduce the behavior:
1. Change locale
2. Attempt to logi

[2019-03-26 19:10] #2939 closed

[2019-03-26 19:59] mohanrao opened #2940 "Amplify es5 errors with chrome 41"
Hi,

I am using AWS amplify in angular application.  This application is not working in Chrome 41 (google crawler uses this version).

Basically i am getting error in the below snippet. Not sure if any polyfills are expected

[code]

Error as below

Error: Uncaught (in promise): TypeError: undefined is not a function
TypeError: undefined is not a function
    at Function.push../node_modules/@aws-a

[2019-03-26 21:16] #2930 closed

[2019-03-26 21:25] powerful23 commented on #2934
@amilaDulanjana I am confused by this sentence:

Do you mean you get to receive the notification after the second call? Why you are saying the user id is not updated?

Also there is no need to update the endpoint with the token in your code because the `PushNotification` module will do it automatically internally. Can you give more context about what are you trying to do?

[2019-03-26 21:37] powerful23 commented on #2932
@khirodAsurion can you describe the issue with more details?
- Are you using Cognito Hosted UI and Amplify together following this doc: https://aws-amplify.github.io/docs/js/authentication#using-amazon-cognito-hosted-ui
- What do you mean by

If the user is not authenticated, why would you call `signOut`?

[2019-03-26 21:47] powerful23 commented on #2940
@mohanrao can you try to find out which function is treated as `undefined`? Is `Array.isArray()`?

[2019-03-26 21:49] powerful23 commented on #2619
Closing the issue. Please let us know if you still have this issue.

[2019-03-26 21:49] #2619 closed

[2019-03-26 21:50] powerful23 commented on #2684
Closing the issue. Please let us know if you still have this issue.

[2019-03-26 21:50] #2684 closed

[2019-03-26 21:51] powerful23 commented on #2732
Closing the issue. Please let us know if you still have this issue.

[2019-03-26 21:51] #2732 closed

[2019-03-26 21:52] #2693 closed

[2019-03-26 22:01] powerful23 commented on #2842
Closing the issue. Please let us know if you still have this issue.

[2019-03-26 22:01] #2842 closed

[2019-03-26 22:04] tafelito opened #2941 "refreshing federation token failed: no fb sdk available"
**Describe the bug**
I have an expo app that uses Facebook Login. I created a federated identity pool and after I get fb token, I'm using `Auth.federatedSignIn` to authenticate the user with amplify. Then I use S3 storage to access some images. Everything works fine until I close the app.

After I close the app, when I re-open it, I check if the user is logged in doing `await Auth.currentAuthentic

[2019-03-26 22:05] lvl99 commented on #1771
FWIW I'm trying to do custom `SignIn` and `ForgotPassword` views and kept getting this error as well.

In my custom view components I also tried doing something like:

[code]

My problem was that I was also trying to use `setState` (via `safelySetState`) in the `SignIn`'s `changeState` function. For some reason the component seems to be removed before its `componentWillUnmount` fires, and ends up

[2019-03-26 22:32] mrtho1 commented on #2908
Also seeing a lot of CORS error messages on my console with similar setup:

The value of the 'Access-Control-Allow-Origin' header in the response must not be the wildcard '*' when the request's credentials mode is 'include'. The credentials mode of requests initiated by the XMLHttpRequest is controlled by the withCredentials attribute.

No 'Access-Control-Allow-Origin' header is present on the req

[2019-03-26 23:28] mohanrao commented on #2940
Hi @powerful23 i am not able to figure that out from the error log or debug also

[2019-03-27 00:16] michaelcuneo opened #2943 "Update_Rollback_in_Projectss"
When trying to update my graphql api using amplify api gql-compile then amplify api push, I get the following error.

[code]

After this point, everything else rolls back, and the push fails.

I'm trying amplify init to see if that gets everything back to normal, as suggested in #2881 but it's not looking promising. Happens to me regularly, and my only solution is to api delete api create.

[2019-03-27 01:11] michaelcuneo commented on #2933
To add to this... if I run the following query in AWS AppSync

[code]

Receive the following response.

[code]

I get a valid response, it lists all of my projects, but the gallery is null.

[2019-03-27 01:14] michaelcuneo commented on #2933
Yet, I can run this query.

[code]

and get back the images, the project ID, and everything...

[code]

[2019-03-27 04:05] sayi65 commented on #2613
I think I had Solution.
This setting can use appsync very well.

 package.json
[code]
nuxt.config.js
`
[code]

plugins/aws.js
`
[code]

[2019-03-27 04:05] #2613 closed

[2019-03-27 05:17] amilaDulanjana commented on #2934
I wanted to update the `userId` with a customized value(`userId` is the primary key of the user table in my database). I used the following c# code to send push notifications for specified user (using `userId`).

[code]
If I used `userId` in Section A (image attached above), i cannot send the push notification but if I used the `userId` in section B (image attached above) I can send the push notif

[2019-03-27 07:35] emeryaa commented on #2943
Please add hosting to your project before publishing your project
Command: amplify hosting add

Trying to add hosting without chances

amplify hosting add
Hosting is already fully enabled.

Error: Hosting is already fully enabled.

[2019-03-27 07:35] emeryaa commented on #2941
Please add hosting to your project before publishing your project
Command: amplify hosting add

Trying to add hosting without chances

amplify hosting add
Hosting is already fully enabled.

Error: Hosting is already fully enabled.

[2019-03-27 07:35] emeryaa commented on #2940
Please add hosting to your project before publishing your project
Command: amplify hosting add

Trying to add hosting without chances

amplify hosting add
Hosting is already fully enabled.

Error: Hosting is already fully enabled.

[2019-03-27 07:36] emeryaa commented on #2933
Please add hosting to your project before publishing your project
Command: amplify hosting add

Trying to add hosting without chances

amplify hosting add
Hosting is already fully enabled.

Error: Hosting is already fully enabled.

[2019-03-27 07:36] emeryaa commented on #2927
Please add hosting to your project before publishing your project
Command: amplify hosting add

Trying to add hosting without chances

amplify hosting add
Hosting is already fully enabled.

Error: Hosting is already fully enabled.

[2019-03-27 07:36] emeryaa commented on #2924
Please add hosting to your project before publishing your project
Command: amplify hosting add

Trying to add hosting without chances

amplify hosting add
Hosting is already fully enabled.

Error: Hosting is already fully enabled.

[2019-03-27 07:36] emeryaa commented on #2877
Please add hosting to your project before publishing your project
Command: amplify hosting add

Trying to add hosting without chances

amplify hosting add
Hosting is already fully enabled.

Error: Hosting is already fully enabled.

[2019-03-27 07:36] emeryaa commented on #2855
Please add hosting to your project before publishing your project
Command: amplify hosting add

Trying to add hosting without chances

amplify hosting add
Hosting is already fully enabled.

Error: Hosting is already fully enabled.

[2019-03-27 07:38] emeryaa opened #2944 "amplify publish needs "hosting add" and crashed when publish"
`amplify publish`
Please add hosting to your project before publishing your project
Command: amplify hosting add

Trying to add hosting without chances

amplify hosting add
Hosting is already fully enabled.

Error: Hosting is already fully enabled.

[2019-03-27 07:38] michaelcuneo commented on #2933
I think you may have posted in response to the wrong github issue, this github issue doesn’t have any hosting errors.

[2019-03-27 07:39] emeryaa commented on #2935
Please add hosting to your project before publishing your project
Command: amplify hosting add

Trying to add hosting without chances

amplify hosting add
Hosting is already fully enabled.

Error: Hosting is already fully enabled.

[2019-03-27 07:40] emeryaa commented on #2932
Please add hosting to your project before publishing your project
Command: amplify hosting add

Trying to add hosting without chances

amplify hosting add
Hosting is already fully enabled.

Error: Hosting is already fully enabled.

[2019-03-27 07:40] michaelcuneo commented on #2943
This project already has hosting. This is a GraphQL AppSync issue.

[2019-03-27 08:00] emeryaa commented on #2934
After crashed when publish project to aws I had init new amplify configuration
After that I don't seee any data before added to the project by amplify status

Api
Auth

I have these files at project dir

image

amplify publish still do not usable for publish project

[2019-03-27 08:00] emeryaa commented on #2927
After crashed when publish project to aws I had init new amplify configuration
After that I don't seee any data before added to the project by amplify status

Api
Auth

I have these files at project dir

image

amplify publish still do not usable for publish project

[2019-03-27 08:01] emeryaa commented on #2924
After crashed when publish project to aws I had init new amplify configuration
After that I don't seee any data before added to the project by amplify status

Api
Auth

I have these files at project dir

image

amplify publish still do not usable for publish project

[2019-03-27 08:12] guanzo opened #2945 "Cognito web. Cannot login with 2nd user without signing out the 1st user."
**Describe the bug**
In the same browser, if a user previously logged in with 1 account, then tries to login with a 2nd account, the login attempt will fail.

**To Reproduce**
There are 2 users: A and B.

1. On login page, login user A with `Auth.signIn()`
2. Navigate user A to the app, where this code is called
[code]
3. Navigate back to login page. `Auth.signOut()` is NOT called. This bug does n

[2019-03-27 08:13] emeryaa commented on #2933
![image](https://user-images.githubusercontent.com/26538670/55059944-b9d50d80-5089-11e9-9253-1ea6d6536478.png)

[2019-03-27 08:15] emeryaa commented on #2933
I had created yesterday wrong github issue. Today someone just delete it

[2019-03-27 08:25] emeryaa commented on #2944
![image](https://user-images.githubusercontent.com/26538670/55060641-5ba92a00-508b-11e9-86e5-2d2972038041.png)

[2019-03-27 10:42] ADringer opened #2946 "Removing sign up option from drop-in component"
** Which Category is your question related to? **
amplify-authenticator drop-in

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
In Cognito we've configured our user pool policy to only allow administrators to create users. We are now implementing this within our application and are using the amplify-authenticator component from the aws-ampli

[2019-03-27 12:50] twoolf commented on #2892
I'm still in progress on this, but also looking for suggestions:
 1) I think that the DEBUG call is -- Amplify.Logger.LOG_LEVEL = 'DEBUG'; -- right?  But, with React Native, and the adb logcat I'm not seeing additional output.  Turning this on globally in the App.js should be sufficient, from the docs.  Is there another place to add the Global for debugging?
2) with console.log statements all thro

[2019-03-27 13:36] gerrytsui commented on #2946
The only solution I found, other than modifying the library source code, is to add this in the styles.css ( that is referenced in my angular.json)

.amplify-form-signup {
    display:none;
}

[2019-03-27 13:36] nathannoble commented on #1429
In a similar boat. Marketing wants to change the text on those dialogs. How is this not possible?

[2019-03-27 13:50] twoolf commented on #2892
Just updating -- really the power of open-source! --
 1: I did get the console.log to work -- so this was a problem with my codes not calling into the right location.  I now am getting the custom-attributes --
 2: I still don't have the global DEBUG reporting anything back, so I would be curious to understand what should be changed for that

  summary: this can remain closed; with the newest Ampli

[2019-03-27 14:17] Christilut commented on #2362
`npm install @types/graphql` doesn't work for me

I don't know how to get rid of this error right now

[2019-03-27 14:35] tours232 commented on #2362
The fix seems to be to change the api/lib/types/index.d.ts line to the following because there is nothing in the graphql/language/ast file to import. I'm assuming the graphql dependency changed their code and ended up breaking this somehow?

[code]

See https://github.com/graphql/graphql-js/blob/master/src/index.js.

[2019-03-27 14:42] Christilut commented on #2401
@cliffordh Thanks, was looking for exactly this!

[2019-03-27 14:43] Christilut commented on #2362
Current fix for me (which also removes the unused graphql dependency) is to use modular imports and not the whole amplify package. See https://github.com/aws-amplify/amplify-js/issues/2401#issuecomment-450195022

[2019-03-27 15:20] emailismail commented on #943
@davidgatti
Can you please update how you resolved this.

**We are trying to do this.**
- Use Cognito Auth flow to get auth code and then redirect to browser and then read this auth code from backend and generate cognito tokens(Id_token, aws_token, refresh_token).

We are using AWS hosted Cognito UI. The above thing is working perfectly the only challenge being device tracking is not working. The

[2019-03-27 15:28] mohanrao commented on #2940
@emeryaa Sorry i am not able to understand your comment. Can you please elaborate more ?

[2019-03-27 16:10] koolkav1 opened #2947 "Custom Auth Flow depending on user role"
** Which Category is your question related to? **
Amplify Authentication
** What AWS Services are you utilizing? **
Amplify & Cognito
** Provide additional details e.g. code snippets **
[code]

I am receiving the following error:
{code: "InvalidParameterException", name: "InvalidParameterException", message: "Missing required parameter Session"}

I am not sure what I am doing wrong?

[2019-03-27 17:31] fchenebault commented on #2609
Same issue.
What I can't explained is that it properly build using Xcode but it doesn't build using `react-native run-ios`...

[2019-03-27 17:41] kjetilge commented on #1496
I still have this problem in a Vue app.
My config:
[code]

[2019-03-27 18:31] jkeys-ecg-nmsu commented on #2945
Is this a bug or desired behavior?

[2019-03-27 18:46] khirodAsurion commented on #2932
Hi @powerful23 ,

1>I am not using Cognito Hosted UI .I am Showing Ping Federated Login UI .

2>Correct , I removed the Auth.Logout() . it was definitely a mistake . but still i see once a non Application Authenticated user tries to login ..and we show Not Authenticated Page, if I change the URL to correct App URL . It still goes to error URL without showing the Login Page .

[2019-03-27 19:52] powerful23 commented on #2932
@khirodAsurion can you provide some code snippets about how you are using Amplify Auth?

[2019-03-27 20:02] powerful23 commented on #2940
@mohanrao could you try putting breaking point into the source code, for example, putting some breaking point in `JS.transferKeyToLowerCase`, the file is in the `node_modules/@aws-amplify/core/lib/JS`. (The way of putting breaking points is to go to the `Sources` in the browser console.)

[2019-03-27 20:07] powerful23 commented on #2924
@emeryaa can you create a new issue in the repo instead of posting under unrelated ones? Thanks.

[2019-03-27 21:31] DavidOnGitHub commented on #2911
Hi @manueliglesias , I've got permission denied when I tried to push to a feature branch. Could you please give me the permission to push? Thanks.

[2019-03-27 22:09] powerful23 commented on #2934
@amilaDulanjana correct me if I'm wrong.
Is the second `updateEndpoint` request sent automatically which will then covers the change you made in the first one?

[2019-03-27 22:56] angeld287 commented on #1962
I have the same problem, please help!

[2019-03-27 23:43] #2669 closed

[2019-03-27 23:50] michaelcuneo commented on #2933
I've managed to get this half working, by actually doing it all in reverse. If I make the gallery first, the project second, and the images last... I supply the Gallery ID to the project. It actually has a projectGalleryId after creation... but is null on retrieval.

[2019-03-28 02:29] Esauromano commented on #1852
I just want to be able to save pictures or video to s3 via an App

[2019-03-28 03:09] hoang-innomizetech commented on #329
We are also looking for this feature, we are building an app that requires access to multiple buckets, so it would be better if we don't have to specify the bucket when configuring amplify (or we can use default bucket), some APIs also need to allow us specify bucket such as get pre-signed url

[2019-03-28 03:44] jkeys-ecg-nmsu commented on #2677
@headz68 @elorzafe can this issue be closed?

[2019-03-28 05:59] hoang-innomizetech opened #2949 "Using i18n for angular project"
I tried to modify the i18n vocabulary to change some textes but it seems on the sign in form, the test doesn't effect.

Here is the code i added to the app.component.ts
[code]

It effected when we use i18n but the form still display old text.

I am using latest amplify and angular verion

"aws-amplify": "1.1.22",
"aws-amplify-angular": "2.1.9",

[2019-03-28 06:08] hoang-innomizetech opened #2950 "Error message should be cleared"
The first time user login, they got an error say **Username and password do not match**. They updated their password and clicks login again, at this time the error message still there, but it should be cleared.

Right now we cannot control whenever the action is fired such as before logging in we wanted to show a loading indicator. There is no such an auth state is changed before authenticating us

[2019-03-28 06:16] hoang-innomizetech commented on #2362
Yeah, I upgraded to latest version and also uninstall the **graphql** dependency and it is worked. But it is only worked when we added the skipLibCheck: true to the tsconfig.json file, I think this fine as long as we don't want to check the type for lib dependencies.

After adding **skipLibCheck** option, the issue related to the **AmplifyUI** also fixed. So I am closing this ticket

[2019-03-28 06:16] #2362 closed

[2019-03-28 06:19] dhyeysejpal opened #2951 "Unable to apply custom theme to withAuthenticator [React Native] [Help wanted]"
I am passing the theme object to the withAuthenticator HOC but it doesn't seem to have any effect. I still seem to have a navbar on top of my every screen, the auth screens as well as my app home screen.

Can anyone confirm having faced this issue? Would this happen due to amplify or is this a side-effect of using react-native-navigation? Any help is appreciated!

Here is how it looks:

![54430789

[2019-03-28 07:50] jarrettj commented on #2402
Should we use JS hacks to hide things? :) Is there a working example of how to hide auth components? Thanks.

[2019-03-28 07:51] jarrettj commented on #1191
Yup, same issue here. Good to know it is a bug and not me going cuckoo. :)

[2019-03-28 07:57] dylan-westbury commented on #2544
After hours and hours of investigation, I have found out the reason why optOut doesn't update to 'NONE'. - for my case anyway.

For my applications, it doesn't support unauthenticated identities. Because the push notification permission prompt appears before a user is logged in, the updateEndpoint to analytics fails. Unless of course the user is already logged in (for me, I was logged in on some u

[2019-03-28 08:42] amilaDulanjana commented on #2934
@powerful23 yes, that's what I understood too

[2019-03-28 10:02] mithunkalan opened #2952 "Auth.federatedSignIn not recycling ids"
`Auth.federatedSignIn` is not returning the same `IdentityId` for the same Google user.

I am using Amplify and Expo to sign in via google.
`const { type, accessToken, user } = await Google.logInAsync({ clientId });`
`  if (type === "success") {`
`    Auth.federatedSignIn("google", { accessToken },  { name: user.id })`
`  }`

I am able to sign in and do what I need. But I noticed something strange

[2019-03-28 11:05] lvl99 opened #2953 "Publish versions more frequently to npm"
This is more a question than a request: I'm just wondering how often do you publish versions to NPM?

Viewing [aws-amplify-react](https://www.npmjs.com/package/aws-amplify-react) I can see that the last published version to npm was 22 days ago, and the github sidebar item says it was updated 11 hours ago (no doubt this is extra noise due to this repo being lerna-managed that some updates aren't re

[2019-03-28 12:55] viniciusfont commented on #1308
@saadq You summed it up very well. I'm having **exactly** the same problem.

[2019-03-28 13:12] viniciusfont commented on #1858
@GraemeAllanBryce That helped me! Thank you very much. What was missing from my setup was:

`   exclude group: 'com.firebase'`

That did the trick!
Thanks a lot!

[2019-03-28 13:13] viniciusfont commented on #1308
@saadq Check out this awnser: [https://github.com/aws-amplify/amplify-js/issues/1858#issuecomment-475604529](https://github.com/aws-amplify/amplify-js/issues/1858#issuecomment-475604529)

Applying this exclude setup did the trick for me:
[code]

[2019-03-28 16:19] powerful23 commented on #2934
@amilaDulanjana do you know that you can turn off the automatic analysis tracking by setting:
[code]
 in the begging of your code. Thus it won't send any request automatically.

[2019-03-28 16:25] dave-graham opened #2954 "Change login and password reset form labels"
I've created a signup setup using cognito which requires just email to signup, which is great, and amplify is an awesome too to get up to speed quickly, but the labels for login and password reset are called 'username' rather than email.

Can there be additional parameters passed to the authenticator component that allows the "username" label to be overwritten across login and password reset as we

[2019-03-28 16:43] amilaDulanjana commented on #2934
@powerful23 I used following code now it works as I expected

[code]

But if I used ` react-native-router-flux`, then this won't work.

[2019-03-28 16:58] undefobj commented on #2669
@jkeys-ecg-nmsu this is now live: https://aws-amplify.github.io/docs/js/hub

[2019-03-28 17:03] powerful23 commented on #2941
@tafelito Hi, when using `federatedSignIn` in React native, you need to provide your own `refreshHandler` which will be used to refresh the token: https://aws-amplify.github.io/docs/js/authentication#federated-sign-in -> refreshing JWT tokens. I noticed that the doc doesn't point out that the default handler is only working in the web environment, will send a pr to fix it.

[2019-03-28 17:12] doostin commented on #2908
I'm also seeing a lot of CORS errors... Oddly enough, only in production. When I'm developing locally, it never even tries to hit https://pinpoint.us-west-2.amazonaws.com/sso/login. It only attempts to connect to the sso/login url when its in production.

[2019-03-28 17:15] powerful23 commented on #2953
@lvl99 thanks for your feedback! I will raise this issue in our team meeting.

[2019-03-28 17:19] powerful23 commented on #2945
@guanzo I don't think this behavior is supported in Amplify.

Could you explain more about this? If the user is logged in, he/her should always be remembered and stayed as logged in until `signOut` is called or the session is expired.

[2019-03-28 17:21] selipso commented on #2840
I think this has to do with the way that Auth is setup, but will try the above example in the next week or so.

[2019-03-28 17:30] powerful23 commented on #2946
Duplicated to #1191

[2019-03-28 17:47] powerful23 commented on #2951
@dhyeysejpal hi, could you try:
[code]

[2019-03-28 18:22] saadq commented on #1308
Thanks @viniciusfont! Going to try it out soon.

[2019-03-28 18:41] tafelito commented on #2941
Ok good because I read that but I didn't know it didn't work for RN.  I didn't see that this is a duplicate of #1867 either

I understand I have to provide the refreshToken myself, but isn't that function supposed to be called when the token is expired? I checked the token I received from facebook and is expires 2 months after I receive it, so why every time I refresh the app it assumes is expired

[2019-03-28 19:14] gl2748 commented on #1252
@dabit3
One thing i would add to your how-to (which was very helpful btw - thanks!) is that for the unauthenticated role policy that you describe:
[code]
I think you meant `types/Query/fields/listTodos` - note `Query` and not `Mutation`.

That's it!.

For others working through this, the following were helpful tidbits.

It's worth noting that the IAM permissions on the AppSync 'DataSources'  confi

[2019-03-28 19:56] alspdx opened #2955 "Auth.forgotPassword does not work when user account status is "FORCE_CHANGE_PASSWORD""
This might be a duplicate of [1182](https://github.com/aws-amplify/amplify-js/issues/1182).

When a user is created through the [JS/Node SDK](https://aws.amazon.com/sdk-for-node-js/) using [AdminCreateUser](https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_AdminCreateUser.html), they get an email with a temporary password. We have a common issue where a user does not

[2019-03-28 20:08] powerful23 commented on #2941
@tafelito no, it is triggered when you call `Auth.currentCredentials` or if internally, calling that function. It will then check if the token is expired or not, and if expired, use the `refreshHandler` to refresh it. So all those things is to make sure it is using a valid token to get the AWS credentials from Cognito.

[2019-03-28 20:21] powerful23 commented on #2947
@koolkav1 can you provide more info like what did you do before receiving this error? From the code you posted I can tell that you are signing in first using flow `SRP` and then getting the preferred mfa. What makes me confused is the `otherLogic` function. Can you describe the user cases you want to implement?

Also you can check the docs for more info: https://aws-amplify.github.io/docs/js/authe

[2019-03-28 20:24] guanzo commented on #2945
That's working fine for me, single users are being remembered. The problem is when I try to switch accounts without signing out the first account.

When you say "remembered", do you mean client side or server side? I'm using cookie storage, and when I login User B after User A, the cookies seem to be updated correctly. The error occurs when
I call `await Auth.currentUserCredentials()` . A POST req

[2019-03-28 20:47] powerful23 commented on #2949
@hoang-innomizetech can you try putting the following code in your `main.ts` file?
[code]

[2019-03-28 21:25] alecOAM commented on #2010
@mrowles As a work around, you could call `Auth.signIn` again.

[2019-03-28 21:38] powerful23 commented on #2952
@mithunkalan I think it's a service issue. Can you go to the aws forum: https://aws.amazon.com/premiumsupport/knowledge-center/send-feedback-aws/ and open an issue to the Cognito service team. We will also raise this issue to the service team but that would be more efficient if you could an issue there.

(Also can you go to the Cognito console -> your identity pool -> identity browser, and go to t

[2019-03-28 21:47] powerful23 commented on #2954
Related to #104

[2019-03-28 21:52] powerful23 commented on #2954
@dave-graham hi we are currently working on to enable the user to select signing up with only email/phone_number when using `Authenticator`.

Another workaround for now is to use I18n to replace the `Username` with `Email`: https://aws-amplify.github.io/docs/js/i18n
For example:
[code]
This is ideal but can be used as a temporary solution.

[2019-03-28 22:37] kirkryan opened #2957 "Generating REST API and Function via Amplify Add API results in naming collision"
**Describe the bug**
When generating a REST API via the `amplify add api `command, the packager cannot be run again due to the following error:

[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. Run `ampify add api`, select REST, edit lambda function and then `amplify push`
2. Run `yarn start` to start packager
3. See error

**Expected behavior**
Packager would start normally

**Deskto

[2019-03-28 23:04] #2824 closed

[2019-03-28 23:06] powerful23 commented on #2824
@buchanaf Please let us know if you want to reopen this issue.

[2019-03-28 23:08] powerful23 commented on #2838
@khalaniaiyaj to federated with the user pool, you should use the Cognito Hosted UI. Could you check https://aws-amplify.github.io/docs/js/authentication#using-amazon-cognito-hosted-ui?

[2019-03-28 23:08] powerful23 commented on #2830
@nloui I am going to close this issue. Please let us know if you want to reopen it.

[2019-03-28 23:08] #2830 closed

[2019-03-28 23:34] powerful23 commented on #2955
@mithunkalan seems like it's a service issue. Can you go to the aws forum: https://aws.amazon.com/premiumsupport/knowledge-center/send-feedback-aws/ and open an issue to the Cognito service team. We will also raise this issue to the service team but that would be more efficient if you could an issue there. Thanks for reporting!

[2019-03-28 23:38] powerful23 commented on #2813
@flybayer I am going to close this issue. Please let us know if you want to reopen it.

[2019-03-28 23:38] #2813 closed

[2019-03-28 23:39] powerful23 commented on #2781
@bradennapier I am going to close this issue. Please let us know if you want to reopen this issue.

[2019-03-28 23:43] ialmoqren commented on #2725
Hello @elorzafe & @haverchuck , sorry for interrupting, just wanted to ask if there is an update for this.

Thanks a lot

[2019-03-29 00:31] jkeys-ecg-nmsu commented on #2669
Thanks, we've already switched back from beta branch. We (or at least I) really appreciate all your hard work!

[2019-03-29 00:44] tafelito commented on #2941
just to be clear, if the token is not expired, is the function refreshToken called? Because as I said, my token is not expired, and the function is still being called. if that's the case, then I'm the one that need to check if the token is expired or not, and then if it is, then refresh it, is that it?

Because from the name of the function, it seems that I would only need to provide a function th

[2019-03-29 01:17] alspdx commented on #2955
@powerful23 Thanks for getting back to me on this, I'll raise my issue there.

[2019-03-29 01:56] joshmello commented on #612
Please add this as a priority of possible really kind of annoying doing workarounds

[2019-03-29 02:59] laurachevalier4 commented on #2422
@powerful23 I am seeing this same problem for my React-Native app.

Configuring Auth component with `Auth.configure(awsconfig);`

`awsconfig` looks like:
[code]

Within AWS Management console, I have:
* A User Pool with two app clients created, without client secrets; the user pool ID is used in the `awsconfig` object and in the Identity Pool
* An Identity Pool, whose ID is used above in configs,

[2019-03-29 04:41] pribadi1st commented on #1727
@jordanranz i think not yet, because when i triggered the push notification using iphone 5 from postman, the result still same

[2019-03-29 04:43] pribadi1st commented on #2643
how about save it directly to redux ?

[2019-03-29 06:22] rossgeesman opened #2958 "SignUp with Custom Attributes throws errors"
**Describe the bug**
I have created a Cognito User Pool and Identity Pool via Cloud Formation templates using the Serverless Framework. The schema looks like this:
[code]
Signup was working fine until I added the confirmed_email attribute and added it to signup. This results in a SerializationException being raised. The only way I can create the user with the custom attribute is to append `custom`

[2019-03-29 07:13] 11csive opened #2959 "Nested GraphQL operations randomly throws 'Client network socket disconnected before secure TLS connection was established' in NodeJs"
** Which Category is your question related to? **
AppSync

** What AWS Services are you utilizing? **
Cognito, AppSync Api

** Provide additional details e.g. code snippets **
When nesting GraphQL operations in my NodeJs project I randomly get the following error:

[code]

Eg. the second operation in the following code will fail about half the time:

[code]

Whereas the following seems to work fin

[2019-03-29 09:05] vparpoil opened #2960 "Package collision in react-native when using functions"
**Describe the bug**
After adding functions to the amplify project in a react-native app, it creates a folder with a `package.json` file. After push, another folder is created in `amplify/#current-cloud-backend`. Then react-native start fail on error

**To Reproduce**
Steps to reproduce the behavior:
1. amplify add function
2. cd in function folder and run npm install
3. amplify push
4. react-nati