[2020-10-13 11:33] wmadden commented on #6108
I get this error as well, I believe because I forbid the delete operation on my models.

My schema:

[code]

DataStore emits the following error:

[code]

which I assume is because there is no `onDeletePlant` since `Plant` is not permitted to be deleted.

[2020-10-13 14:27] parthpatel5 commented on #1852
When AWS AppSync will be available officially on Flutter?

[2020-10-13 15:04] sammartinez commented on #1226
This seems to be resolved. @tomquisel can you please confirm thanks!

[2020-10-13 15:13] sammartinez commented on #6072
The above pull request resolves this issue. Closing this issue as these changes are in our `unstable` branch and will be in the next release.

[2020-10-13 15:13] #6072 closed

[2020-10-13 15:13] sammartinez commented on #6752
The above pull request resolves this issue. Closing this issue as these changes are in our `unstable` branch and will be in the next release.

[2020-10-13 15:13] #6752 closed

[2020-10-13 15:13] #5775 closed

[2020-10-13 15:43] anaibol commented on #5019
+1

[2020-10-13 17:49] wlee221 commented on #6863
Hi @siaolichi, thanks for reporting the issue! I was unable to reproduce this issue and got forgotPassword flow to work on a [sample repo](https://github.com/wlee221/amplify-react-native-auth) (with `aws-amplify@3.3.3` and expo-sdk `39.0.3`).

@ianjennings, thanks for the paircast 👍  The problem was that  `forgotPassword(username)`needs to be called first. This sends a new code to your email. Then

[2020-10-13 18:25] xavierraffin commented on #6752
@sammartinez Is there a documentation that explains hot to use the new feature from #6948 ?

[2020-10-13 18:38] FBen3 commented on #2828
Having the same issue. Doesn't matter what I replace path variable with: `/` , `*`, `''`

[code]
returns `Array []`

<img width="326" alt="Screen Shot 2020-10-13 at 19 37 40" src="https://user-images.githubusercontent.com/15108826/95901684-9c5eb600-0d8b-11eb-812a-407d94979e36.png">

[2020-10-13 19:09] researchdeveloping commented on #5623
Hey, is any progress on it?

[2020-10-13 20:35] andidev opened #6959 "hideForgotPassword no longer possible after upgrade"
hideSignUp works but hideForgotPassword does not. This used to be possible in "aws-amplify-react".

[code]

[2020-10-13 20:57] deldrid1 opened #6960 "AWS_IAM API Gateway Auth in Next.js getStaticProps() withSSRContext()"
**Is your feature request related to a problem? Please describe.**

I have an API Gateway setup to use AWS_IAM and require an AWS Signature Version 4 to provide data.  I have deployed this using the [serverless framework](https://www.serverless.com/) and have lambda's tied into Dynamo DB (using the server side AWS SDK for Javascript) and have tested everything working end to end using a [REST Clie

[2020-10-13 21:16] toschlog opened #6961 "customMessage lambda not getting clientMetata from updateUserAttributes()"
**Describe the bug**
When I call updateUserAttributes() I'm passing in some metadata.  As I understand it, that metadata should be passed to the customMessage lamda.  But it is not.

**To Reproduce**

I call:
[code]

In my lambda, I look at event.request and there's no clientMetadata field.

But here's the crazy thing:  One time (out of perhaps 20 tries), the metadata was there.  Could it be a tim

[2020-10-13 21:17] undefobj commented on #6950
What do you mean by "void exception when it can not be created by restriction's db cloud" exactly?

The error message that you are seeing is a DynamoDB conditional check error. Are you trying to create an item where the primary key already exists? If so that's an expected return value as this isn't supported in DataStore at this time.

[2020-10-13 21:44] iartemiev commented on #6950
@EliasCoelho please see [this example](https://docs.amplify.aws/lib/datastore/relational/q/platform/js#saving-relations) in the docs for saving One-to-Many relations.

Just saving the `orderId` when creating `OrderProduct` items is enough to establish the relationship. You shouldn't attempt to save an array of `OrderProduct` items inside of an `Order` item.

For example:

[code]

[2020-10-13 22:07] chkrause opened #6962 "Swich of language not working for all Auth components"
**Describe the bug**
I've created a languge switch, when calling Login Screen it displays the default languge for all labels.
e.g: Sign-In Screen
setting default to en: "Sign in to your account"(english)
setting default to en "Anmeldung"(german)

When changing language in DropDownbox the language of Sign-In will not change. But for the Screen Sign-Up it is working.

**Code Snippet**
Please provide

[2020-10-13 22:22] halfdanrump opened #6963 "Adding lambda resolver results in "TypeError: Must Provide Source" when running query"
**Describe the bug**
Having worked on a project for a while, the ability to add new lambda resolvers is suddenly broken.

I add the lambda as follows:

[code]

and adds the query to the gql schema:

[code]
then run `amplify push`

When I then run the query `moo` in my app, the following error happens:

[code]

**Note that `echo`, `foo` and `bar` queries, backed by lambda resolvers added earlier, a

[2020-10-14 00:56] hmisonne opened #6965 "Error: Field should be of type string[], object received. null"
I just want to mention that this is my **first time trying to report a bug** :bowtie:.
I came across this issue while working on a React Native app with AWS amplify :rocket:!

I would appreciate any feedback :pray:.

**Describe the bug**

A GraphQL schema model with an optional string field (without exclamation mark) will throw an error if its content is null even:

`datastore.js:222 Uncaught (in

[2020-10-14 01:34] duncangroenewald opened #6966 "Error in Lambda function when creating object with relationship"
I am trying to get a list of video objects with some properties of related objects.

Schema as shown below:

[code]

AppSync annotations appear to have created the `videoSessionTypeId` property in the actual graphql schema definition when viewed in AppSync console.  Although these don't show up in the generated queries and mutations which are shown below.

[code]

Currently the sessionType {id, na

[2020-10-14 01:42] GlebKozenko opened #6967 "react-native 0.63.3 Auth.signIn method returns TypeError: undefined is not an object (evaluating 'challengeParameters.USER_ID_FOR_SRP')]"
After upgrading react-native to version 0.63.3 and aws-amplify to 3.3.3 `Auth.signIn` method returns `TypeError: undefined is not an object (evaluating 'challengeParameters.USER_ID_FOR_SRP')]`

I've tried to set up new User and Identity Pools, but no luck as well.

I've debugged down the line and seems like `amazon-cognito-identity-js` is where an issue comes from.

To be more specific `this.clien

[2020-10-14 02:48] kevwang19 commented on #6903
Ended up configuring authorization through resource policies on api gateway. Perhaps there isn't an easy way to do it on the frontend.

[2020-10-14 02:48] #6903 closed

[2020-10-14 04:43] sverraest commented on #612
What's the latest on this? It doesn't seem possible out of the box still?

[2020-10-14 04:46] ryanhinojosa commented on #6930
@ashika01 @ericclemmons  - Hi, we've been running into this issue for the last three upgrades.

aws-amplify:
3.3.3
3.3.2
3.3.1

@aws-amplify/ui-react
0.2.23
0.2.22
0.2.21

It's always eventually solved for us by following [these steps here](https://github.com/aws-amplify/amplify-js/discussions/5836#discussioncomment-92667) which is convenient for me because I wrote those steps 😆 .

However if you'

[2020-10-14 04:46] duncangroenewald commented on #6966
For whatever reason I had to delete the $condition parameter to get it to work.  Not sure if that is a bug since this is an optional parameter!!

[2020-10-14 06:07] Gyran commented on #6922
When you return from the InAppBrowser you need to open the returned url with Linking. So at the end of your `urlOpener` function:
[code]

[2020-10-14 08:16] andidev commented on #6959
Ok maybe not that obvioys but it looks like it is possible to hide by setting hint on the password formField to blank like this:
[code]

hence closing this.

[2020-10-14 08:16] #6959 closed

[2020-10-14 08:20] Gyran commented on #6261
This something we really want as well. We have a react native app and we use cognito user pools. We have social logins with and are currently using the hosted ui with from an in app browser. This is not optimal for use, especially for the Facebook case, because our users are often only logged into Facebook in the Facebook app and not in their browser.

So what we want to use `react-native-fbsdk` t

[2020-10-14 08:58] teamzz111 commented on #6799
Same here, on Google Chrome takes me to blank screen, on iOS works.

We needs **urgently**, thanks for your attention

Cheers

[2020-10-14 09:01] teamzz111 commented on #6739
Try with peticofive://auth/ for redirect sign in and signout.

[2020-10-14 09:01] siaolichi commented on #6863
Hi! Sorry for late response!
I used them in the useContext and it used to work fine before but all the sudden it didn't work at all...
I'm sorry I don't have more information about it :(

Here is all my code of the forget password function from amplify:

[code]

I solved the problem by directly calling cognito from our backend here:
[code]

[2020-10-14 09:13] isacRU11 opened #6968 "graphql api subscription is no response after the 10 times"
**Describe the bug**
- my graphql schema
[code]
- subscriptions query
[code]

- api subscribe source
[code]

when i create order 9 times, subscription response data is get successfully
but, create order 10 times or more, can not get subscription response data
cannot confirm console log, and not error response

**What is Configured?**
Amplify CLI Version: 4.29.7
OS: Mac OSX
IDE: VSCode
* Which step

[2020-10-14 09:25] chai86 commented on #4652
@iartemiev How would you call this using GraphQL to sort? e.g.

[code]

[2020-10-14 10:12] tomaseti commented on #6926
@sammartinez  Thinking about this: I wonder if @aws-amplify/ui-vue should even support such an out of date browser like IE11.  I found a way around it and am wondering if it's worth the time and effort.

[2020-10-14 12:12] kjetilge opened #6969 "Quering lamda function not working when deployed"
**Describe the bug**
I have a lambda function with an acompanying qury that I call just before signing up a new user to check if they have a valid licence for the service. It works perfectly when the client is run locally (yarn serve) and connecting to the deployed dev-backend. However, when I try to run the same query from the deployed client it fails.

**To Reproduce**
Steps to reproduce the beh

[2020-10-14 12:33] dingdongping commented on #4064
@elorzafe
Under normal conditions, it is OK to subscribe and unsubscribe, but if you subscribe several times after the network is disconnected, you can no longer subscribe again

 {"error": {"errorCode": 7, "errorMessage": "AMQJS0007E Socket error:undefined.", "invocationContext": undefined}, "provider": {"_clientIdObservers": Map {"8b545ddc-91f9-4967-1b54faae1058" => [Set]}, "_clientsQueue": {"pr

[2020-10-14 13:04] heitorlessa commented on #6865
Same here when using Gatsby, and I can reproduce the issue by upgrading `gatsby` to `2.24.77` as my docs build are now failing -- It appears that Amplify is requiring an older version of `graphql` client while other libs like `gatsby` are requiring a more up-to-date minor version.

[code]

[2020-10-14 13:10] heitorlessa commented on #6285
Linking a related issue as it's breaking Gatsby: #6865

[2020-10-14 13:21] iartemiev commented on #4652
@chai86 if you're looking for clientside sorting on arbitrary fields, that is only supported out-of-the-box in DataStore. In order to replicate it using the API category, you would need to retrieve all of the items in your table and then manually sort them in your app, e.g., using `Array.sort`.

For serverside sorting, you can leverage the `@key` directive to create an LSI or GSIs with sort fields

[2020-10-14 13:41] chai86 commented on #4652
@iartemiev I definitely don't want to pull the whole table to the users mobile phone and then sort!

I have a DynamoDB table called URLArray that contains a list of URL's (myURL) and a unique video number (myNum).
![RsUPS](https://user-images.githubusercontent.com/43324724/95996495-a4216780-0e2a-11eb-9889-a4198b185101.png)

I use AWS Amplify to query my table like so for example:

   ` URLData = a

[2020-10-14 15:09] bilgin1812 commented on #3537
Hello, i  can't event return to mobile aplication after login. I used myapp:// uri for redirecting to applciation but it doesn't work. Deeplink works i a test from chrome browser or with sms. But when cognito respond to app with location:myapp:// in header this request is cancelled by ionic cordova mobile app. Can someone help me how did you do for working redirect to app please?

[2020-10-14 15:57] joedevgee commented on #2286
Since the library is written in Typescript, one should expect typings work out-of-box. Is this some build config that the amplify team can easily fix? It's been two years

[2020-10-14 18:19] EliasCoelho commented on #6950
I refer to this warning raised in console with the db cloud conditional check. This warning must not be raised after creatiation at DataStore locally.. If I have  a Model.ValidateModel() method, this warning can be catch before create it in DataStore.

No, I really create a Model with mock data and this values not corresponding with the PK in tables, it not be created yet.

@undefobj

[2020-10-14 18:26] EliasCoelho commented on #6950
@iartemiev thanks for the reference...

[2020-10-14 19:09] edomazi opened #6973 "Missing nested data in hasOne relationship"
Hello,
 I have a small problem with a `hasOne` relationship between those 2 models:

	type Client @model @auth(rules: [{ allow: owner }]) {
		id: ID!
		name: String!
		email: String!
	}

	type Order @model @auth(rules: [{ allow: owner }]) {
	        id: ID!
	        payment_type: String!
	        clientID: ID!
	        client: Client @connection(fields: ["clientID"])
	}

When I query the database

[2020-10-14 22:10] rabbitXIII opened #6974 "Incomplete types for Amazon Auth"
[code]

As has been reported many times in the past (e.g. [#3733](
https://github.com/aws-amplify/amplify-js/issues/3733)), the type definitions exported by the `amazon-cognito-identity-js` package are missing critical fields.  The previous threads have gone stale, lacking a response from aws, so I'm filing a new bug to report the issue still exists.  This is a terrible customer experience, and re

[2020-10-14 23:47] vrebo commented on #5054
Any update about this?

[2020-10-15 00:27] IsaacTrevino opened #6975 "API Graphql Cognito Input"
For being front-end I am worried that my web app will be vulnerable to data manipulation. I'm no security expert though if someone where to change for instance the value of `id`,
`API.graphql({ query: queries.getTodo, variables: { id: 'some id' }}))`
would cause havoc on my front-end by fetching other `id`'s.

I understand the work around is to place a security measure `@auth(rules: [{ allow: owne

[2020-10-15 00:59] olbapaicrag commented on #5367
Hi @livingmine , do you have managed to solve it?

We're facing exactly the same issue when signing-up new users, but in our case, no message is delivered not even occasionally.

[2020-10-15 01:37] dingdongping commented on #3039
@valerusg
Thank you very much. I used your PubSub to solve the problem of reconnecting when the link was lost

[2020-10-15 01:50] houmark commented on #3039
@valerusg would you consider making a pull request for this fix to be included in the main library? I think a lot of people would appreciate that.

[2020-10-15 02:17] paulie4 commented on #4430
@PaulBurridge-kcom, in [your comment](https://github.com/aws-amplify/amplify-js/issues/4430#issuecomment-624090515), you said you raised a support ticket with AWS. Did they ever get back to you about whether the negative salt value is actually correct?

[2020-10-15 05:50] livingmine commented on #5367
@olbapaicrag nope, i guess that's the nature of SMS OTP delivery wherever we are in this world :) If you want a better delivery rate you can try to find a local provider in your costumer's country.

So in your case no message is delivered not even occasionally but the log showed success status for all of them?

[2020-10-15 06:50] titiloxx commented on #4957
Hello, I am facing the same problem as people above and still waiting for a solution

[2020-10-15 07:27] flyandi commented on #610
There is a new option in the userpool config:

![image](https://user-images.githubusercontent.com/329973/96090552-37838880-0e7d-11eb-9b49-e505c028020d.png)

But how would we configure that in amplify-cli?

[2020-10-15 07:34] PaulBurridge-kcom commented on #4430
@paulie4 AWS Support said they had fixed this in Amplify, basically they altered Amplify to work around the Coignito bug without acknowledging (or fixing) the bug in Cognito.

[2020-10-15 08:10] andidev commented on #5820
@mauerbac
Can you please link to the changelog for breaking changes? Or is there any? I am stuck on amplify 1.x.x and want to upgrade to 3.x.x. How can I find the breaking changes?

[2020-10-15 10:35] thenderson55 commented on #3070
It doesn't actually say how to implement it.

https://docs.aws.amazon.com/cli/latest/reference/pinpoint/send-messages.html

[code]

[2020-10-15 11:52] neiker commented on #3733
Stills missing on version 3.3.2

[2020-10-15 12:14] emmanueloui commented on #6330
Hi there exactly the same problem here with a very simple app:

![image](https://user-images.githubusercontent.com/48058517/96121642-a4843600-0ef0-11eb-9985-2458905586e4.png)

[2020-10-15 13:55] mezalejandro commented on #6922
@Gyran When finishing the process with apple, shouldn't it automatically recognize that I'm logged in? Is it necessary to do Linking?

[2020-10-15 14:58] paulie4 commented on #4430
Yeah, it definitely seems like a bug, and it looks like the code in this project is just working by luck. `AuthenticationHelper.getPasswordAuthenticationKey()` calls `AuthenticationHelper.hexHash()`, which does `new util.Buffer(hexStr, 'hex')`, and a variable name of `hexStr` for a buffer would imply that there should not be any characters besides `0`-`9` and `a`-`f` in the string. The lucky thing

[2020-10-15 15:01] myfairshare opened #6980 "DataStore predicates without Predicates.ALL specified usage question"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
DataStore

**Amplify CLI Version**

4.29.6

**What AWS Services are you utilizing?**
Amplify, DataStore

**Provide additional details e.g. code snippets**
I'm wondering if its possible to use pagination when not using predicates.all on a set of data.
B

[2020-10-15 15:30] olbapaicrag commented on #5367
@livingmine yes, we can see success for all the messages sent on the log, but the SMS never reaches its end.

{
    "notification": {
        "messageId": "6beb16c0-1929-51ea-8027-4ec18cf9d9df",
        "timestamp": "2020-10-15 00:10:56.355"
    },
    "delivery": {
        "phoneCarrier": "xxxxxx",
        "mnc": 30,
        "numberOfMessageParts": 1,
        "destination": "+5xxxxxxxxxx",

[2020-10-15 16:38] ttngocthao commented on #2828
i cant list items in the public folder. return 403 forbidden.I can get single image but cant use the list method. Have anyone experienced this before? What should i check/change in order to make it work?
![Screenshot 2020-10-15 at 17 36 28](https://user-images.githubusercontent.com/36475218/96159917-2a15df00-0f0d-11eb-9e49-d77988e0d608.png)

[2020-10-15 16:44] FBen3 commented on #2828
@tmoore23 Unfortunately the result is the same - it makes no difference if I prefix with `s3://`. Also checking `aws s3api list-objects --bucket amplify-mythirdapp-dev-170201-deployment` it correctly lists objects.

[2020-10-15 17:24] renebrandel commented on #6980
transferring this to JS repo. cc @sammartinez

[2020-10-15 18:00] ericclemmons commented on #6653
Thanks for the info @Ceycok !

@amhinson Is this something we can take action on?

[2020-10-15 18:18] ecomonestop commented on #6589
Sorry for the delay:

 System:
    OS: Windows 10 10.0.18362
    CPU: (4) x64 Intel(R) Core(TM) i5-7300U CPU @ 2.60GHz
    Memory: 2.48 GB / 7.92 GB
  Binaries:
    Node: 10.16.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.19.2 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.13.4 - C:\Program Files\nodejs\npm.CMD
  Browsers:
    Edge: 44.18362.449.0
    Internet Explorer: 11.0.18362.1
  n

[2020-10-15 18:25] wmadden commented on #4704
After several days' suffering I discovered:

1. DataStore will fail silently if any of a hundred conditions aren't exactly what it expects. Set `Amplify.Logger.LOG_LEVEL = "DEBUG"` to get some information about what's happening
2. If you're using the `@auth` directive you must explicitly add the `owner: String` field to your models (https://github.com/aws-amplify/amplify-js/issues/5687#issuecommen

[2020-10-15 19:29] wlee221 opened #6981 "[UI Components] Misbehaviors in presentational components"
**Describe the bug**
Upon working on #6914, I found some bugs specific to our presentational components.

- on `<amplify-tooltip />`, text property isn't displayed on the textbox whether or not it's hovered.
- on `<amplify-tooltip />`, css property `--border-color` and `--background-color` only gets applied to the bottom of the tooltip.
- on `<amplify-strike />`, css property `--border-color` does

[2020-10-15 20:09] ericclemmons commented on #6653
Ah, as I re-read it I seem to understand better what's going on: storage happens with `onSuccess`, but the flow ends with `newPasswordRequired`, so nothing is stored.

I can see how this can be surprising, but this doesn't appear to be something we can address in the short-term.

[2020-10-15 20:09] #6653 closed

[2020-10-15 20:35] myfairshare commented on #6980
Why does it matter, I'm just following the Amplify DataStore documentation here..

[https://docs.amplify.aws/lib/datastore/data-access/q/platform/js#predicates](url)

I would just like to know if I can limit the results of a query, thanks.

[2020-10-15 20:56] porquelaquiero commented on #804
it's been 7 months since filipsuk made last comment. But it doesn't seem like we have solutions for recovery from MFA.. Am I right??

[2020-10-15 21:01] zacharywenner commented on #6467
It seems this was a bug on Facebook's end. I just got this notification and my app was restored back to "Live" status.

![](https://user-images.githubusercontent.com/10377501/96185515-a0134980-0eff-11eb-8ab7-ecfb09b946df.jpg)

[2020-10-15 21:01] #6467 closed

[2020-10-15 21:26] manueliglesias commented on #6980
Hi @myfairshare

Yeah, you can do:

[code]

[2020-10-15 21:28] sammartinez commented on #6980
Resolving issue as the above callout, apologizes from early @myfairshare as I read the question to fast !

[2020-10-15 21:28] #6980 closed

[2020-10-15 21:41] myfairshare commented on #6980
Brilliant, thanks guys, worked a charm!

[2020-10-15 21:51] ltaljaard commented on #6982
@SwaySway fyi I created a new app and backend and copied the same code over from old app to new app and now i don't get this error anymore. Not sure whether it is a package version thing or something that changed on the cloud/backend side but the latest DataStore does seem to work with the latest cloud formation stuff again.

That said i am only using public for now: @auth(rules: [{ allow: public

[2020-10-15 22:07] nicholaspuglia commented on #6928
I'm also having the same issue. It seems to work when using the UI Hosted (configuring the social sign in through Cognito) but not through AmplifyAuthenticator. The returned payload when signing in through Facebook for example only returns some fields meaning that it's not creating the External Provider Cognito User in the Cognito user pool.

Payload returned from regular sign in using Amplify Aut

[2020-10-15 22:27] danawoodman commented on #804
Short answer; don't use Cognito if you want a proper security model 😢

[2020-10-15 22:49] CryogenicPlanet commented on #6962
Hey, @chkrause thanks for openning this issue!

But the code seems to be a bit incomplete, the language json files are missing and the even the `LanguageSelect` component. Additionally there is also an empty `useEffect` and the `index.js` is missing its code.

It would be great if you could provide a minimal reproducable exmaple, a github repo with all you code would be perfect.

Just a tip: githu

[2020-10-15 23:00] ericclemmons commented on #6661
1. Did you enable CORS in API Gateway?

1. Can you provide any console errors/warnings, or export the HAR file so we can view the Network request(s)?

[2020-10-15 23:04] porquelaquiero commented on #4828
Did you find any solution? the more time I spend looking for any solution for mfa recovery issue, more negative i get about it.. If you found any, please share your wisdom.

[2020-10-15 23:07] ericclemmons commented on #6675
I'm having trouble understanding what's needed.  `API.graphql(...).susbcribe` correctly returns a subscription to AppSync.

Can you describe your specific use-case?  I understand that `Amplify.addPluggable(...)` isn't giving you the desired results, but I'm uncertain if you're trying to query/subscribe to mutations or something else.

Thanks!

[2020-10-15 23:10] ericclemmons commented on #6667
@paulsjohnson91 So I can understand better, you're saying that you're manually setting Amplify to use `USER_PASSWORD_AUTH`, but the authentication flow is returning `USER_SRP_AUTH` (which means you're getting a different `user.sub` value than what you're expecting)?

[2020-10-16 01:58] mehrab-haque commented on #3404
Please add generic card support in the ChatBot or AmplifyChatbot component.

[2020-10-16 05:16] halfdanrump commented on #6963
@ashika01 Let me know if you need help reproducing the issue. We can meet on discord and I can show you what I do.

[2020-10-16 06:13] chkrause commented on #6962
Here you find the Repository for reproducing:
https://github.com/chkrause/LangTest/tree/master/lang

[2020-10-16 11:15] cloudspeak commented on #4573
I'd just like to expand on why this is a useful feature for some of us.  Our system has a signup form with attributes such as email address, location etc., which we wish to add to the new user's Pinpoint endpoint.  However, they are not actually logged in after signing up, so we do not want to set the global endpoint ID through `configure` until they have done so.  Since the endpoint ID cannot be

[2020-10-16 11:46] Sahejmaharjan1 commented on #6881
@ashika01 is ``@aws-amplify/pushnotification``  not able to handle notification images? Have been searching how to implementing images on notification for a while now and can't get any further..

[2020-10-16 14:50] joebernard commented on #5885
Any update on this?

[2020-10-16 14:59] IsaacTrevino commented on #6975
After further research you are allowed to manipulate the owner field, which can be used by other cognito username.
https://docs.amplify.aws/cli/graphql-transformer/directives#owner-authorization

[2020-10-16 14:59] #6975 closed

[2020-10-16 15:01] csbszb commented on #6756
If you're looking for a way to use the `@aws-amplify/ui-components`, this is how I got it work in a new Vue 3 project.
I uninstalled the `@aws-amplify/ui-vue` library and then just added these lines to main.(ts|js) file:

[code]

Ref: [config.ignoredElements Is Now config.isCustomElement](https://v3.vuejs.org/guide/migration/global-api.html#config-ignoredelements-is-now-config-iscustomelement)

[2020-10-16 15:14] PeteDuncanson opened #6985 "Referencing Timestamp fields in a @key requires dangerous additions to the schema"
**Describe the bug**

In order to use createdAt as a sort key in a @key directive you have to include a field called "createdAt: AWSDateTime" (non-null) to stop the error but this then allows anyone to set/edit the createdAt/updatedAt fields via auto-generated mutations. This can be dangerous as now anyone can over-write the createdAt date and if running code with in multiple timezones or incorrec

[2020-10-16 15:31] kaammii commented on #3591
+1

[2020-10-16 17:20] wei opened #6986 "(@aws-amplify/ui-react): Component re-render on I18n.setLanguage"
**Is your feature request related to a problem? Please describe.**
Components are not re-rendering on `I18n.setLanguage`. Components are rendering initial language strings correctly but they do not re-render on language change.
Relates to #6346 #6115 #6962

**Describe the solution you'd like**
Components should re-render on `I18n.setLanguage`

Suggestion from @ericclemmons: https://github.com/aws-

[2020-10-16 17:45] princiya commented on #6986
@wei is this issue related to this one? https://github.com/aws-amplify/amplify-js/issues/6898

[2020-10-16 17:48] wei commented on #6986
@princiya No, I think that's a different issue about Translations lacking some strings.

[2020-10-16 20:10] ashika01 commented on #6963
@halfdanrump Someone from the team would look into this.

[2020-10-16 20:30] wlee221 opened #7003 "[Authenticator] Subcomponents are not styled"
**Describe the bug**
Authenticator subcomponents like `sign-in`, `sign-out` container styles are not set.

**Details**
This is from #6531 -- new css variables are introduced but are not assigned default values in `amplify-section`.

**To Reproduce**
Navigate to https://docs.amplify.aws/ui/auth/authenticator/q/framework/react#sign-in

**Expected behavior**
For them to have container styles like `am

[2020-10-16 21:01] Stevenje commented on #5741
Having the same issue and having to use `// @ts-ignore` would love a fix

[2020-10-16 22:16] ericclemmons commented on #6722
This can be seen as part of Stencil's output when building `@aws-amplify/ui-components`. Because sub-components are split up so much (e.g. `amplify-sign-in`), this bubbles up to app.

We can test a PR with `bundles` defined (e.g. `amplify-authenticator`) to confirm that this doesn't create a waterfall in the resulting app:

[2020-10-16 22:24] ericclemmons commented on #474
This issue has been open for a while, but it seems worth closing since `aws-amplify-react` has been replaced by `@aws-amplify/ui-react` (via #3279). As a result, there is a new `onAuthStateChange` export for keying into UI-specific events (that we use internally).

Otherwise, there may be a need for a "headless component", but https://github.com/aws-amplify/amplify-js/discussions is the best place

[2020-10-16 22:24] #474 closed

[2020-10-16 22:32] ericclemmons commented on #639
Closing, as this should have been addressed via #5394.  Please let us know if your usage differs!

[2020-10-16 22:32] #639 closed

[2020-10-16 22:49] ericclemmons commented on #720
`CookieStorage` is no longer the default, while `localStorage` is.

Customers can provide a custom adapter and control this to match their Cognito configuration (e.g. 1 hr):

[2020-10-16 22:49] #720 closed

[2020-10-16 22:57] ericclemmons commented on #786
I agree there should be clearer error codes (e.g. `error.code`) to key off with `Auth` calls.  This is being factored into some internal work taking place.

One restriction is on the service side with what we have available:

The other is that any improvement upon that by the library will be somewhat brittle and based on `error.message` values.

One approach we're evaluating is, rather than errors

[2020-10-16 22:57] #786 closed

[2020-10-16 23:01] ericclemmons commented on #805
Closing as `aws-amplify-react` is in maintenance with the release `@aws-amplify/ui-react`:

[2020-10-16 23:01] #805 closed

[2020-10-16 23:06] ericclemmons commented on #825
I've been experimenting with this myself, and `Amplify.configure({ storage })` is the best mechanism for customizing where credentials are stored and how they are set:

I will note that there is a great deal of reliance on the Credentials flow (especially with refreshing), so your implementation (e.g. `Storage.put`) will have to be more resilient to errors that will otherwise fail.

In short, yes,

[2020-10-16 23:06] #825 closed

[2020-10-16 23:09] ericclemmons commented on #847
Closing, thanks to https://github.com/aws-amplify/docs/pull/2416.

I agree that, were we to create `Storage.get` again, we'd want to validate existence before returning successfully.

Unfortunately, we can't do so in a backwards-compatible manner.  What's really needed is a way to _link_ to an object (with validation) and _get_ an object.

If & when `Storage` gets a major upgrade, this is behavior

[2020-10-16 23:09] #847 closed

[2020-10-16 23:09] ericclemmons commented on #940
Closing as `aws-amplify-react` is in maintenance mode and superseded by #3279 (`@aws-amplify/ui-react`).

[2020-10-16 23:09] #940 closed

[2020-10-16 23:13] ericclemmons commented on #1006
Unless I'm mistaken, this is expected behavior:

- `Auth.currentSession` and `Auth.currentAuthenticatedUser` will returned _cached_ data (bypassed via `bypassCache: true`) when offline (via `localStorage`).
- After the session tokens are invalid, they _must_ be refreshed via server call to be considered "valid data".

Imagine a short-lived user session (e.g. to download/stream a movie) or access t

[2020-10-16 23:13] #1006 closed

[2020-10-16 23:18] ericclemmons commented on #1025
When the data is provider-specific, I recommend subscribing individually `PubSub.subscribe(topic)` rather than with `[...topics]`:

Subscribing to multiple topics at once works best when multiple topics are publishing the same data types.

It slightly changes the implementation (one `PubSub.subscribe` vs. multiple `PubSub.subscribe`s), but allows for easier TypeScript support as well (whereas supp

[2020-10-16 23:18] #1025 closed

[2020-10-16 23:20] ericclemmons commented on #1735
Closing as https://docs.amplify.aws/lib/auth/manageusers/q/platform/js#managing-security-tokens is the best way to customize credential storage.

It's worth noting that `431` errors can occur for tokens with a large number of claims!

[2020-10-16 23:20] #1735 closed

[2020-10-16 23:21] ericclemmons commented on #2236
Auth state is now provided via `onAuthUIStateChange`:

https://docs.amplify.aws/ui/auth/authenticator/q/framework/react#onauthuistatechange

[2020-10-16 23:21] #2236 closed

[2020-10-16 23:22] ericclemmons commented on #2213
Closing as secure cookies can be set with a custom storage adapter:

(`localStorage` is still the default)

[2020-10-16 23:22] #2213 closed

[2020-10-16 23:23] ericclemmons commented on #2054
Closed via #6146 (SSR support).

Amplify works with Next.js!

[2020-10-16 23:23] #2054 closed

[2020-10-16 23:25] ericclemmons commented on #1961
You can provide a custom storage adapter via https://docs.amplify.aws/lib/auth/manageusers/q/platform/js#managing-security-tokens that stores multiple cookies however you see fit.

Amplify's default is still `localStorage`, but we understand that cookie usage is often app-specific, such as cases like this.

[2020-10-16 23:25] #1961 closed

[2020-10-16 23:26] ericclemmons commented on #1921
Closing as we've since released https://docs.amplify.aws/ui/q/framework/vue via #6104.

If you'd still like to see this feature, please open a discussion here: https://github.com/aws-amplify/amplify-js/discussions

[2020-10-16 23:26] #1921 closed

[2020-10-16 23:28] ericclemmons commented on #1887
Amplify with TypeScript support was released earlier this year, addressing most of these issues.

If there are any further improvements, we welcome PRs (which are usually pretty easy to cut in the GitHub editor) 🙏

[2020-10-16 23:28] #1887 closed

[2020-10-16 23:31] ericclemmons commented on #2692
https://github.com/aws-amplify/amplify-js/pull/6448 should address this issue.

`error` will fire when the connection closes unexpectedly, allowing you to fire `PubSub.subscribe` again.

Please open a new issue (which includes a new bug report template) if you experience this problem again 🙏

[2020-10-16 23:34] ericclemmons commented on #2501
Amplify's architecture acts as a "singleton" in the client, so running multiple Amplify instances in the browser isn't supported.

We recently did enable per-request encapsulation for SSR-support (via the `withSSRContext` utility), which shows it is possible:

However, it's worth opening up further discussion (https://github.com/aws-amplify/amplify-js/discussions) to discuss the use-case in greate

[2020-10-16 23:34] #2501 closed

[2020-10-16 23:35] ericclemmons commented on #2540
With https://docs.amplify.aws/ui/q/framework/vue, the AmplifyEventBus is no longer necessary. `Hub` is preferred!

[2020-10-16 23:35] #2540 closed

[2020-10-16 23:36] ericclemmons commented on #2426
`aws-amplify-vue` has been deprecated in favor of https://docs.amplify.aws/ui/q/framework/vue.

Customizing messages can be done via translations:
https://docs.amplify.aws/ui/customization/translations/q/framework/vue

[2020-10-16 23:36] #2426 closed

[2020-10-16 23:38] ericclemmons commented on #2271
Most, if not all, of the requested customizations have been resolved via `@aws-amplify/ui-react`:

Including custom messages via I18n:

[2020-10-16 23:38] #2271 closed

[2020-10-16 23:42] ericclemmons commented on #3474
@dahero95 I'm not an expert on SSR with Angular.  Can you give it a go & report back? If it fails, with a sample repo so I can look into specifics? 🙏

[2020-10-16 23:44] ericclemmons commented on #3451
Unfortunately, handling this automatically would have to happen via aws-amplify/amplify-cli#3550.

In the meantime, we've documented how to customize `usernameAlias` here:

[2020-10-16 23:44] #3451 closed

[2020-10-16 23:47] ericclemmons commented on #3834
Closing as the bug has been fixed a while back.

As for the feature request, https://github.com/aws-amplify/amplify-js/discussions is the best place to have this conversation & vote with the community.

[2020-10-16 23:47] #3834 closed

[2020-10-16 23:51] ericclemmons commented on #3877
When using `API.graphql` with TypeScript, this appears addressed:

[code]

[2020-10-16 23:56] CryogenicPlanet commented on #6962
Hey @chkrause, we have openned a new feature-request to discuss if update i18n language should automatically trigger a re-render #6986.

In the meantime, you could use a work around of manually setting the props in the form fields
[code]

[2020-10-17 00:02] sw-yx commented on #3877
i dont know that we can call it a day just telling everybody to use assertions? per https://github.com/aws-amplify/amplify-js/issues/6369 @manueliglesias seemed interested in evolving the API further. this is a thing everybody wants and the less manual overhead the better.

[2020-10-17 02:01] alditis commented on #1542
I solved it this way:
Goto Amazon Cognito > Manage Identity Pool > (Click in your Identity Pool) > Edit identity pool

![image](https://user-images.githubusercontent.com/2662209/96325925-0b3d4880-0ff2-11eb-8d27-0977f2f7372e.png)

And check: **Enable access to unauthenticated identities**

![image](https://user-images.githubusercontent.com/2662209/96325955-45a6e580-0ff2-11eb-878c-c1ec1d26e74d.png)

[2020-10-17 02:54] CodySwannGT commented on #5385
Hitting the same issue. I'm using "unstable"

[2020-10-17 06:37] ahansson89 opened #6988 "Better documentation around AppSync Subscription reconnection logic"
**Is your feature request related to a problem? Please describe.**
There is no documentation for how to resubscribe an AppSync subscription if connection failure is happening

**Describe the solution you'd like**
Ideally, I do not want to handle this myself and just let the framework handle the reconnection.

**Describe alternatives you've considered**
Write code that handles the exponential backo

[2020-10-17 07:26] dobeerman commented on #6744
I ran into the same issue. Any updates here?

[2020-10-17 08:54] omar-dulaimi commented on #5435
Hello,
has this changed since you last added the docs?
`Note: Next also supports pre-rendering for dynamic server-rendered routes. At this time, Amplify does not support the hosting of dynamic server-rendered routes with Next.`

Looking for docs explaining SSR and Amplify setup.

[2020-10-17 08:56] omar-dulaimi commented on #5435
Hello,
where can I find docs that explain SSR setup using Nextjs and Amplify?

[2020-10-17 10:11] Danm72 commented on #5435
@omar-dulaimi https://docs.amplify.aws/start/q/integration/next

[2020-10-17 10:27] rsousa commented on #6707
I'm having the problem @iartemiev described, I have an array of strings that can be empty. Datastore stores it and sends it to DynamoDB that also stores it without problems. Later, when datastore tries to do the sync (or if I run the query SyncX in AppSync) I get the "Internal Failure".

Is AWS already targeting this? Is there a work around? I'm thinking to change the type from String[] to String

[2020-10-17 11:31] omar-dulaimi commented on #5435
Thank you @Danm72

[2020-10-17 12:34] iartemiev commented on #6707
@rsousa AppSync is working on fixing this on their end. We'll update this issue and others as soon as that happens. I would suggest saving empty arrays as `[null]` or `['']` until then.

[2020-10-17 13:04] rsousa commented on #6707
@iartemiev thank you for your quick reply and for the workaround.
Is there a place I get check the progress of the mentioned bug?

[2020-10-17 13:51] ignaciolarranaga opened #6989 "@auth cascade for custom resolvers"
**Is your feature request related to a problem? Please describe.**
When you write a custom resolver and you need private authorization, for example:
[code]
You are forced to manually cascade the auth rules down the model, i.e. to add this:
[code]
If you omit all the Auth annotations the query can only be executed authenticated with API (i.e. `API.graphql({... authMode: GRAPHQL_AUTH_MODE.API_KEY })

[2020-10-17 13:51] halfdanrump commented on #6963
I tried cloning my repo and pulling the amplify project. Now `moo` worked!

In my old repo pulling the amplify project again didn't fix the problem. I also tried deleting `#current-cloud-backend` and then pull again, but it still didn't fix the problem.

I hope this is a hint.

[2020-10-17 15:23] pr1ze opened #6990 "Custom claims not working when also having @auth { allow: private, provider: iam }"
**Describe the bug**
Trying to use custom claims (groupClaim or identityClaim) does not work when also having @auth { allow: private, provider: iam }

The example provded in "to Reproduce" is based on group claim - however its neither working if doing @auth { allow: owner, ownerField: "name", identityClaim: "shopName"

What i am trying to solve is doing multi tenancy while also being able to acces

[2020-10-17 15:23] pr1ze opened #8372 "Custom claims not working when also having @auth { allow: private, provider: iam }"
**Describe the bug**
Trying to use custom claims (groupClaim or identityClaim) does not work when also having @auth { allow: private, provider: iam }

The example provded in "to Reproduce" is based on group claim - however its neither working if doing @auth { allow: owner, ownerField: "name", identityClaim: "shopName"

What i am trying to solve is doing multi tenancy while also being able to acces

[2020-10-17 18:15] pavinduLakshan opened #6991 "React: AWS Cognito token endpoint returns 400 invalid_grant when being redirected from another site"
**Describe the bug**
Our React app uses AWS Amplify and Cognito hosted UI for authentication. There is a feature in our app to link a Shopify store. To do that, we get the user's Shopify store URL and redirect the user to its admin panel to obtain permissions and access token. After the user grants permission, he is redirected again to our app.

The problem occurs at this point. When looking at th

[2020-10-17 19:16] hugomarisco commented on #2190
This is indeed a show stopper for anyone interested in using Amplify for an app that requires sane file uploads. It'd be great if it was implemented.

[2020-10-17 19:45] pragyajha commented on #5926
I am having hard time with Datastore syncing with my current project, the data is saved locally but not reflecting in my dynamoDB base table and delta sync table, no graphql call is triggered in network tab.

The error in my console
![image](https://user-images.githubusercontent.com/3938228/96352045-f6d67a00-10dd-11eb-8bf1-63849848cd53.png)

However I have already configured correct graphql endpoi

[2020-10-17 21:15] jpca999 opened #6992 "Error : GraphQLError {message: "Network Error", locations: undefined"
I'm very new to this library.

when i try to retrieve the data from backend ( Aws ) it gives me this error.

![image](https://user-images.githubusercontent.com/1026325/96353668-2d32db80-1083-11eb-970f-cf3e85204f29.png)

on mac Catalina

[2020-10-18 05:11] #6711 closed

[2020-10-18 05:11] #6747 closed

[2020-10-18 05:11] #6513 closed

[2020-10-18 05:11] #6913 closed

[2020-10-18 05:11] #6008 closed

[2020-10-18 12:34] oxbits commented on #1578
per the above stackoverflow posts _  a commenter points out :

"sub is for subject as per JWT specification"
https://en.wikipedia.org/wiki/JSON_Web_Token

would that mean that if you used something other than cognito for your authentication that sub does not exist ?
in that case it seems it would make sense to use id _

the top answer on the post seems to suggest sub comes first when using cognito

[2020-10-18 12:36] iartemiev commented on #5926
@pragyajha could you share your app code where you're calling `Amplify.configure`?

[2020-10-18 15:40] iartemiev commented on #6707
@rsousa you can follow this GitHub issue. We'll update it once the AppSync bug fix has been deployed.

[2020-10-18 15:51] jvsteiner commented on #4351
@Ashish-Nanda why is this issue closed?  It seems that many users are still having this problem, and there is an active and continuing stream of posts about this.  I would also point out that this is not only a react problem - I am having the exact same behavior in my vue application.

[2020-10-18 15:54] sw-yx commented on #6111
it doesn't, sorry about that, i misread you

[2020-10-18 15:55] majortom64 commented on #6111
Would be great to have Svelte support.

[2020-10-18 16:37] jvsteiner commented on #500
Why would not handling the rejection of a promise created inside this module not be within the expected domain of this module?

[2020-10-18 19:08] spendres commented on #500
I agree. He who creates the promise should handle any rejection. In this
case it looks like a timeout should trigger the rejection.

On Sun, Oct 18, 2020 at 12:37 PM Jamie Steiner <notifications@github.com>
wrote:

[2020-10-18 19:48] jvsteiner commented on #500
My frustration is that I am creating a vue app, using aws-amplify.  I followed all the tutorials and sample code.  When I refresh the screen, first time, the user is found, but the session is `null`.  second refresh, everything is gone.  I have everything enabled to recognize devices, store in local storage, etc.  This is the fundamental basic thing that this library should be doing.  It weighs ov

[2020-10-18 20:06] spendres commented on #500
Realize that you have to have setup your cognito pool to allow
unauthenticated users? The library works with JWT to support multiple
applications that have policies declared in the token. So it doesn’t use
typical http sessions. Because they police the APIs for denial of service
attacks, it does take more work to set the policies and groups using the
user pools and federated users/groups.

There i

[2020-10-18 20:18] spendres commented on #500
In the meantime, you can visit www.airportslotauction.com and self register
using your email to see a working process. It’s a mock site so there is no
money required to just register to watch the http headers and JavaScript.

On Sun, Oct 18, 2020 at 3:48 PM Jamie Steiner <notifications@github.com>
wrote:

[2020-10-18 21:45] spendres commented on #500
this was the stack that helped me see a working configuration:

https://aws.amazon.com/blogs/mobile/appsync-realtime/

It's a react application and stack.

On Sun, Oct 18, 2020 at 4:18 PM Steven Endres <spendres@gmail.com> wrote:

[2020-10-18 23:17] RoniFinTech commented on #3997
Hi,
Where do you see `amazon-cognito-identity-js` has been deprecated? what is the recommended library to interact with AWS Cognito User Pool?

[2020-10-19 01:37] pankaj-crypto commented on #5282
Facing the same problem.. Any solution to this?

[2020-10-19 04:14] nubpro opened #6994 "DataStore slow performance when querying a single record from a large amount of dataset"
**Describe the bug**
Querying a single record the first time from DataStore takes 5s or more when the device is storing a large amount of data (we're talking abt 7000 records). This is on React Native btw.

This is my schema:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Use the schema above.
2. Save more than 7000 records with the model.

This is a sample record from DynamoDB:
[co

[2020-10-19 05:27] Gyran commented on #6922
It's how you tell Amplify that you have a code for authentication.

[2020-10-19 05:34] rajeshmishra189 opened #6995 ""invalid_request" when performing token exchange for SAML federated auth"
Upon upgrading to @aws-amplify/auth 3.3.3, federated signin using SAML failed with an "invalid_grant" error being returned from the token endpoint.

**Steps to reproduce the behavior:**
Configure federated signin via OKTA to the hosted UI, follow the process and end up back at the application. When Amplify tries to obtain the token, invalid_request is returned.

**Expected behavior**
The user succ

[2020-10-19 05:38] pragyajha commented on #5926
Hey @iartemiev

Here's the sample code, Both where we are calling `Amplify.configure` as well as config defined in aws-exports.

![image](https://user-images.githubusercontent.com/3938228/96405619-4e1e3c80-11fb-11eb-9a43-08431ca9702c.png)

[2020-10-19 06:38] nubpro opened #6996 "DataStore query operation is getting blocked when mutation is being processed"
**Describe the bug**
I'm unable to perform `DataStore.query()` when I'm inserting new records continuously. The query operation only returns after I halt the insertion. This is on React Native.

**To Reproduce**
Steps to reproduce the behavior:

1. Lets use the source and schema from https://docs.amplify.aws/lib/datastore/examples/q/platform/js#example-application.
2. Add the code below to simulat

[2020-10-19 06:55] wlee221 commented on #6863
Hi @siaolichi, sorry about the late response too :( I think I see the problem. `Auth.forgotPassword` returns `Promise<void>`, so it does not return any values. You said that you called the function again, but calling it multiple times would break the flow and you would get invalid codes. Can you make sure you're not calling the function again? I would suggest that you log the parameters before you

[2020-10-19 06:55] wlee221 commented on #6863
As per why it stopped working suddenly, I'm not entirely sure yet. I don't see any problems with your sample code; can you share a minimal sample repo if possible? I'd be happy to help!

[2020-10-19 07:08] jamesone opened #6997 "AppSync: Cursor based pagination has a funny bug where NO items are returned, but a nextToken is."
**Describe the bug**

When using cursor based pagination on an AppSync model list, it will return an empty `items` array with a NON NULL`nextToken` which signifies that there are more results, when I query for the next result set, it returns the 3 results that match my query and filter. I am using a limit of 10 & there are only 3 results, I'm confused to why AppSync is not returning these 3 result

[2020-10-19 08:09] jvsteiner commented on #6555
Having this same issue with a vue application.  in my case, I see cognito entries in localStorage, however they get removed somehow, whenever the page is refreshed.  This happens whether or not I call  `user.cacheUserData()`, or `user.cacheTokens()` manually in the signin flow.  I also tried setting `"mandatorySignIn": false` in the aws-exports.js config file - no difference.

Additionally, I set

[2020-10-19 08:22] jvsteiner commented on #6555
can this part of the code be to blame?

[https://github.com/aws-amplify/amplify-js/blob/e85640a4e18fa1d55411038fee58919ad73121fa/packages/cache/__mocks__/LocalStorage.js](https://github.com/aws-amplify/amplify-js/blob/e85640a4e18fa1d55411038fee58919ad73121fa/packages/cache/__mocks__/LocalStorage.js)

[2020-10-19 08:46] jvsteiner commented on #6555
The previous events - with keys like `aws.amplify.test-ls` get created when [constructing a `StorageHelper`] - very unclear why this would be happening repeatedly, as I observed.  (https://github.com/aws-amplify/amplify-js/blob/e85640a4e18fa1d55411038fee58919ad73121fa/packages/amazon-cognito-identity-js/src/StorageHelper.js)

[2020-10-19 10:06] jvsteiner commented on #4197
#6555

[2020-10-19 11:23] csbszb opened #6998 "hideSignUp doesn't work with amplify-authenticator - Vue 3.x"
**Describe the bug**
When I use the `amplify-authenticator` component in a new project and try to hide the sign up link the `hide-sign-up` attribute doesn't work properly

**To Reproduce**
Steps to reproduce the behavior:

1. Create new Vue 3.x app with `vue create myamplifyproject` (choose default values)
2. Add Amplify packages `npm install aws-amplify @aws-amplify/ui-components`
3. Import compo

[2020-10-19 11:24] santhedan commented on #473
Any update on the issue? I am also facing this isssue. I am able to send SMS via console but on signup it is not sending any SMS message.

[2020-10-19 11:27] rs3603 commented on #473
You can try changing the region of the user pool to ap-southeast-1. Then you can submit for service limit increase request for that pool in Singapore region. Everything worked after I moved to this region.

[2020-10-19 12:03] santhedan commented on #473
My UP is already in production and in Mumbai region so I can not move it now. I have submitted the request to increase limit for Singapore region. Let us see when it gets done. Till that time all my production users are going to get stuck at signup!

[2020-10-19 12:03] jvsteiner commented on #6555
turns out a browser extension was clearing local storage - in my case, this was not amplify's fault

[2020-10-19 13:00] iartemiev commented on #5926
@pragyajha I've seen this type of issue when there are multiple versions of Amplify or Amplify dependencies in node_modules.

Make sure you only have aws-amplify in your package.json (as opposed to, for example, `@aws-amplify/datastore`) and run:
[code]
Then try running your app again.

[2020-10-19 15:31] QcPerreault commented on #1582
@elorzafe Any news on this 're-enter password' feature? It would be a nice +

[2020-10-19 15:44] amhinson commented on #6998
@csbszb Could you provide your `package.json`, or specifically the versions of the Amplify packages you are using?

[2020-10-19 15:52] amhinson commented on #6992
@jpca999 Could you provide some more details for this issue you are seeing? These would be helpful in order to debug:
- versions of Amplify libraries you are using
- code snippet or sample repo

[2020-10-19 15:54] csbszb commented on #6998
hey @amhinson, this is the `package.json`
[code]

[2020-10-19 16:11] amhinson commented on #6973
@edomazi DataStore doesn't currently support syncing any connections to a model. In your case, you can query `Order` and `Client` separately then combine them in your app for the time being. With that said, we are working on making this simpler. I'm going to mark this as a feature request for now, and we will come back with any related future updates.

[2020-10-19 16:11] miniman13 commented on #4468
Would love to have this feature to upload video files mentioned above!

[2020-10-19 16:29] pr1ze commented on #6994
Im experiencing the same. Also react native. Using aws-amplify v. 3.3.4
When having about 200 records in DB -> it takes about 3 seconds to return a DataStore.query(<Type>) without predicates.

[2020-10-19 16:29] lucasrosa commented on #4420
I was having this issue, but it was because the user was in the "NEW_PASSWORD_REQUIRED". After setting the new password it worked. Please refer to: https://docs.amplify.aws/lib/auth/manageusers/q/platform/js#complete-new-password

[2020-10-19 16:34] amhinson commented on #6950
Closing for now, as @iartemiev's suggested solution seems to work. However, feel free to reopen if you're still having problems on this particular issue.

[2020-10-19 16:34] #6950 closed

[2020-10-19 16:36] undefobj commented on #5119
All - Wanted to provide an update. We have two PRs in review/draft that are pending based on the design discussions that have taken place here as well as with other customers. You can view them here:
https://github.com/aws-amplify/amplify-js/pull/7001
https://github.com/aws-amplify/amplify-cli/pull/5586

Thank you for your patience and giving us feedback as we worked through this use case as well

[2020-10-19 16:38] amhinson commented on #6917
@theshumanator Could you share some more information:
- Amplify packages with versions
- Code snippet of Amplify usage

Based on what you provided, it doesn't look like this issue is related to `aws-amplify`.

[2020-10-19 16:47] amhinson commented on #6892
If I'm understanding correctly, you're saying that the URL params are replaced with `category=0` only after calling `Auth.currentAuthenticatedUser({ bypassCache: false })`?

[2020-10-19 16:49] amhinson commented on #6885
@borisdayma Could you also share what version of the Amplify packages you are using?

[2020-10-19 16:53] amhinson commented on #6835
Transferring to CLI

[2020-10-19 17:26] rpostulart commented on #5119
Cool, looks promising!

So when you want to sync multiple models, I expect it works like this, correct

[code]
});

[2020-10-19 17:32] undefobj commented on #5119
@rpostulart Yup!

[2020-10-19 17:42] amhinson commented on #6998
It looks like you also need to add `slot="sign-in"` to the `amplify-sign-in` component. Since you aren't putting it in the slot, I think that explains the behavior of 2 versions showing because `amplify-authenticator` will render the sign in component as well.

Could you try using `@aws-amplify/ui-vue` instead of `@aws-amplify/ui-components`?
https://docs.amplify.aws/ui/q/framework/vue

[2020-10-19 17:47] amhinson commented on #6821
Could you provide more details on the issue you are seeing as it related to Amplify? It would be great if you could fill in the details on the "New issue"/"Feature Request" template.

[2020-10-19 17:53] amhinson commented on #6804
This doesn't seem to be supported currently, but I've marked it as a feature request for now.

[2020-10-19 17:54] amhinson commented on #6803
Could you provide more details on the issue you are seeing:
- Error you are seeing
- Amplify package versions
- Amplify JS code usage snippet and/or sample repo

[2020-10-19 18:00] amhinson commented on #6799
The `withAuthenticator` HOC for React Native [doesn't currently support](https://docs.amplify.aws/ui/auth/authenticator/q/framework/react-native#using-the-authenticator-component) the `federated` prop, so unfortunately the Amplify React Native UI components can't be used if you want to use federation. I would suggest implementing your own UI using [`Auth.federatedSign`](https://docs.amplify.aws/li

[2020-10-19 18:09] csbszb commented on #6998
Unfortunately it won't work because:
1) In Vue 3 `'slot' attributes are deprecated` and are replaced with `v-slot:slotname` but named slots can be only used with a `<template>` element
3) `@aws-amplify/ui-vue` also doesn't work with Vue 3, see here: #6756

[2020-10-19 18:11] #6767 closed

[2020-10-19 18:15] rudyhadoux commented on #6821
For a Chat application we can see when a user is connecting or when a user is logging out.
But I think there is no way to achieve that with Amplify actually.

[2020-10-19 18:21] kashirin-dm commented on #2573
Any updates on this?

[2020-10-19 18:25] ericclemmons commented on #6555
@janhesters Have you been able to research this further?  Based on this comment, I'm curious if the root cause is with the complexity of Auth flows (with temp tokens, validation, etc.):

[2020-10-19 18:28] amhinson commented on #6739
It looks like you need to update `Info.plist` to use `peticofive` instead of `myapp`

[2020-10-19 18:42] amhinson commented on #6691
@meducati Would you say that the original issue is resolved here and we can close this?

[2020-10-19 18:45] ericclemmons commented on #5282
@pankaj-crypto Can you open an issue with code/steps to reproduce?

[2020-10-19 18:46] #6670 closed

[2020-10-19 18:50] ericclemmons commented on #3877
@sw-yx I agree.

To state the ask another way:

There's an ask to export `GraphQLAPI` (instead of just `API`) for better tree-shaking.  We could expand that to support `GraphQLAPI.subscribe(...)`, with TypeScript knowing that'll return an observer.

[2020-10-19 19:12] amhinson commented on #6527
Sorry you are having trouble here! We've updated our docs to be clearer about what has changed with the new UI components. The behavior that you are seeing is by design, as to make the experience between different platforms as consistent as possible. Please see the migration guide for updating to the new library: https://docs.amplify.aws/ui/auth/authenticator/q/framework/react#breaking-changes-for

[2020-10-19 19:12] #6527 closed

[2020-10-19 19:17] amhinson commented on #6549
@IamManchanda @funkel1989 Have you seen @dabit3's recent blog post about adding Amplify auth to a Nuxt app?
https://dev.to/aws/adding-authentication-to-a-nuxt-app-with-aws-amplify-2n84

[2020-10-19 19:24] amhinson commented on #6461
@mkpratt Are you still seeing this behavior?

[2020-10-19 19:41] amhinson commented on #6821
Ok. I will close this for now, but feel free to open a new issue or feature request.

[2020-10-19 19:41] #6821 closed

[2020-10-19 20:07] funkel1989 commented on #6549
@amhinson I just looked at it and it looks very similar to what I'm doing but not exactly what I'm looking for. I'm looking to run nuxt in SSR mode and configure page hydration to be done by a lambda or whatever backend infrastructure amplify would spin up for it.

I'm looking to do a deployment like this, only with amplify owning my backend.
https://github.com/tonyfromundefined/nuxt-serverless

I

[2020-10-19 20:27] amhinson commented on #6101
@coooldevops Could you share your `schema.graphql`? We'll need that to better help you resolve this issue.

[2020-10-19 21:20] amhinson commented on #6092
Hey @batical are you still having issues here?

[2020-10-19 21:48] amhinson commented on #6100
@nocoli It isn't currently possible to update the `email_verified` attribute for a user with Cognito through the standard API. You can, however, work with the AWS SDK directly to update this attribute, if needed: https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/CognitoIdentityServiceProvider.html#adminUpdateUserAttributes-property

[2020-10-19 21:48] #6100 closed

[2020-10-19 21:50] amhinson commented on #6061
@TheVaporTrail I see there was a PR addressing this issue. Does that solve the problem you were seeing, and are we good to close this issue?

[2020-10-19 21:55] amhinson commented on #6056
Closing, as the PR has been merged

[2020-10-19 21:55] #6056 closed

[2020-10-19 22:13] jpca999 commented on #1089
YES!!! we missed to configure it.

[2020-10-19 22:41] amhinson commented on #5988
@Enase Are you still having an issue here?

[2020-10-19 22:54] amhinson commented on #5915
@navane That functionality isn't currently possible with Amplify in the way you're describing during registration. Were you able to find a solution to fit your use-case? There is also the `forgotPassword` method to reset the password without the old password, but that might not be exactly what you're looking for: https://docs.amplify.aws/lib/auth/manageusers/q/platform/js#forgot-password

[2020-10-19 23:15] olbapaicrag commented on #5367
Well,

Today I got the SNS Limit Increase message confirmation. I configured it out accordingly to the limit requested, unfortunately, I was still not able to receive the SMS messages.

So, I went through the configuration of the Role configured by Amplify for Cognito to send SMS messages and figure it out that the Role didn't have the Publish action granted (I guess Amplify should have configured

[2020-10-19 23:28] amhinson commented on #5894
@24jr Are you still seeing the behavior here? If so, what version of the Amplify libraries are you using? And can you provide a code snippet?

[2020-10-20 00:12] amhinson commented on #5431
As a follow up, we introduced modularization earlier this year so we recommend just importing `aws-amplify` and relying on tree shaking. We are in the process of updating all documentation to reflect this.

[2020-10-20 00:12] #5431 closed

[2020-10-20 00:14] amhinson commented on #5413
@jesper-bylund Did the issue that @rpostulart provided solve your issue, or are you still having problems?

[2020-10-20 00:15] amhinson commented on #5303
@DeniseJames Were you able to solve your issue here?

[2020-10-20 00:21] amhinson commented on #5231
@SebSchwartz We've recently made some updates around `@auth` in `aws-amplify` as well as the CLI that should fix the issue you are seeing. Could you try updating to the latest version of both the JS library and the CLI and see if you're still seeing the same behavior?

You will also need to run `amplify model codegen` and `amplify push` before testing the changes.

[2020-10-20 00:26] amhinson commented on #5193
@Thomazella Were you able to get your issue resolved? It looks like you might just be using the wrong ID for the Identity Pool. It should look something like this: `us-west-2:xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx`

[2020-10-20 00:37] Thomazella commented on #5193
I got it resolved, id was wrong as you described. :+1:

[2020-10-20 00:37] #5193 closed

[2020-10-20 01:42] amhinson commented on #5118
@nihp Are you still having issues with this or did you get it resolved?

[2020-10-20 01:46] amhinson commented on #5081
@ak37165 Were you able to get this figured out?

[2020-10-20 01:59] amhinson commented on #4410
@ReeMii Did that ^ answer your question?

[2020-10-20 05:26] lochawala commented on #6803
@amhinson  it's fixed there is an version issue

[2020-10-20 05:26] #6803 closed

[2020-10-20 07:19] meducati commented on #6691
@amhinson I am still invested in this, but maybe it is time to close this particular issue since I no longer receive the original errors.

**For any late arrivals to this thread, I have been in contact with the Amplify team and in short, here are my concerns.**

- First. I DO have a throttling issue on DynamoDB. The reason for this is probably because how I designed my schema (circular, see earlie

[2020-10-20 07:54] coooldevops commented on #6101
Sorry I do not have the code now. I have changed it substantially and
decided not to  use  amplify.

On Tuesday, October 20, 2020, Alex Hinson <notifications@github.com> wrote:

[2020-10-20 08:10] neiker commented on #1445
Same problem on an Expo app and using `NODE_ENV=production` solves it

[2020-10-20 08:34] jesper-bylund commented on #5413
@amhinson I had to stop using Datastore because of the multitenant issue (I think it's #5119 ). But this work around looks solid so I'm closing.

[2020-10-20 08:34] #5413 closed

[2020-10-20 08:58] nubpro commented on #6996
I've discovered this bug, when I'm performing a load test on my project.

1. Lambda inserts 100 new orders.
2. Device is syncing along.
3. Device tries to perform `DataStore.query()`, unable to query until the sync is completed.

[2020-10-20 09:39] SimonLegg commented on #3388
I think this should be re-opened --> it is linked to in the [amplify storage documentation](https://docs.amplify.aws/lib/storage/download/q/platform/js#frequently-asked-questions)

[2020-10-20 11:41] pr1ze commented on #6996
Im having same issue. My whole app blocks because of this.
+1

[2020-10-20 13:24] nihp commented on #5118
Will check and let you know. Did you have any updates regarding this issue?

On Tue, Oct 20, 2020 at 7:12 AM Alex Hinson <notifications@github.com>
wrote:

[2020-10-20 14:10] batical commented on #6092
I change my code to use the authenticator Component from  react native amplify and updating appsync as much as possible.

- On staging app with one day token, people are disconnected every day but everything is working after signin.

- On prod
Last week a user/customer had a similar issue. I can analyze more his case but :
- status "signin" but no data receive from query. (pretty sure it is a miss

[2020-10-20 14:25] Enase commented on #5988
@amhinson I confirm it works with the latest dependencies. Issue might be closed

[2020-10-20 14:25] #5988 closed

[2020-10-20 14:51] iartemiev commented on #6595
Hey @abdielou, you will be able to pass a filter to the sync query once the feature in [this PR](https://github.com/aws-amplify/amplify-js/pull/7001) gets released

[2020-10-20 14:52] #6595 closed

[2020-10-20 15:22] amhinson commented on #5413
Ok thanks for the feedback!

[2020-10-20 15:22] sammartinez commented on #4244
The original issue in regards to the redirection URL mismatch error has been updated in our documentation site. You are able to find the full examples [here](https://docs.amplify.aws/lib/auth/social/q/platform/js#full-samples). Resolving

[2020-10-20 15:22] #4244 closed

[2020-10-20 15:25] amhinson commented on #6101
Ok no problem! Sorry for the trouble you were having. I'm going to close this issue for now, but feel free to reopen it if you do come back around to testing it out and see the same behavior.

[2020-10-20 15:25] #6101 closed

[2020-10-20 15:28] amhinson commented on #6691
Ok thanks for the helpful writeup! We are definitely taking this feedback into account with DataStore 👍

[2020-10-20 15:28] #6691 closed

[2020-10-20 16:33] amhinson commented on #4664
@oliverandersencox Sorry for the delay! Were you able to solve your issue?

[2020-10-20 16:41] amhinson commented on #5087
@angesh3 Were you able to solve your issue?

From the code snippet you provided, you are actually trying to federate with Identity Pools instead of User Pools ([docs](https://docs.amplify.aws/lib/auth/advanced/q/platform/js#identity-pool-federation)). If you would like to authenticate with User Pools instead, you don't need to pass the object with the token as the 2nd argument to `federatedSignIn`

[2020-10-20 16:43] oliverandersencox commented on #4664
@amhinson nope! Gave up in the end

[2020-10-20 16:43] yaquawa opened #7013 "Support webpack 5"
**Describe the bug**
when compiling with webpack 5, this warnings shown up.
[code]
see https://webpack.js.org/migrate/5/#cleanup-the-code for migration.

[2020-10-20 16:48] amhinson commented on #5885
@joebernard Could you share the value for `COGNITO_AUTHENTICATION_FLOW_TYPE`? Also, I'd recommend reaching out to AWS for Cognito support, since these triggers are called by the service itself and not the client-side libraries.

[2020-10-20 16:52] amhinson commented on #6998
Ah thanks for the info @csbszb. It looks like StencilJS, which we use for our UI components, is still working on Vue 3 support.

https://github.com/ionic-team/stencil-ds-output-targets/pull/94

We will track this and update our library once the Stencil PR is released.

[2020-10-20 16:52] amhinson commented on #6998
II'm also going to close this particularly issue so we can track it in the other feature request issue you linked to.

[2020-10-20 16:52] #6998 closed

[2020-10-20 16:53] amhinson commented on #6756
@chrisleyva For context, it looks like StencilJS, which we use for our UI components, is still working on Vue 3 support.

https://github.com/ionic-team/stencil-ds-output-targets/pull/94

We will track this and update our library once the Stencil PR is released.

[2020-10-20 16:55] amhinson commented on #6108
@chuckatc We have made some improvements recently in `aws-amplify` as well as the CLI particularly around this issue. Could you try upgrading to the latest versions of each and see if you're still seeing the same behavior?

[2020-10-20 16:57] amhinson commented on #4664
Ok. I will close this issue for now, but if you happen to come across it again, feel free to open it back up!

[2020-10-20 16:57] #4664 closed

[2020-10-20 17:03] isbkch opened #7014 "Autogenerated files discard previous changes"
**Describe the bug**
Once you use Amplify CLI to add some services, say an API, Amplify will generate a cloudformation-json template to build the stack.
If you are to change something within that template manually and then use the CLI to edit the service, you lose your manual changes

**To Reproduce**

1. Add a service through the CLI
2. Go to the generated cloudformation file
3. Change something

[2020-10-20 17:08] mezalejandro opened #7015 "Federated refresh token"
**Describe the bug**
Hello,
I have a problem with the tokens being logged in with facebook, google or by username and password.
With facebook I have this message: **refreshing federation token failed: no fb sdk available**

With google I have this message: **refreshing federation token failed: no gapi auth2 available**

And with cognito: **Invalid login token. Token is expired.**

How can i fix th

[2020-10-20 17:28] amhinson commented on #6092
Ok thanks for the info! A few things:
- Can you enable logging `window.LOG_LEVEL = 'DEBUG'` and share the output? That will help track down where the issue might be.
- Can you share more about your Auth usage? Code snippets would be good, but ideally if you could provide a small sample repo that shows the behavior you're seeing, that would be the quickest way for us to debug this.
- Side note that

[2020-10-20 17:46] jmkmay commented on #4351
We are also having this issue. Quite frustrated having chosen Amplify due to it being touted as an out-of-the-box solution. Our experience has been anything but...

[2020-10-20 17:51] amhinson commented on #7013
It looks like those warning are for the AWS SDK library. I'd recommend opening an issue in their repo: https://github.com/aws/aws-sdk-js-v3

[2020-10-20 17:51] #7013 closed

[2020-10-20 17:52] amhinson commented on #7014
Transferring to CLI

[2020-10-20 17:57] amhinson commented on #7015
Could you share more info about the issue you're seeing:
- Amplify config
- packages & versions
- code snippets
- sample repo (we prefer this over code snippets because it allows us to attempt reproduce the issue immediately, which ultimately can resolve your issue quicker)

[2020-10-20 18:08] amhinson commented on #7015
A few observations:
- You are currently on an older version of the library, which could lead to issues. Can you update to the latest for both libraries?
- Can you share more code related to how you're setting up the FB & Google SDKs in your app and how you're using them with Amplify Auth?

[2020-10-20 18:12] yaquawa commented on #7013
@amhinson `@aws-sdk/client-cognito-identity` is gone in https://github.com/aws/aws-sdk-js-v3 ??

[2020-10-20 18:13] amhinson commented on #7013
Isn't this it? https://github.com/aws/aws-sdk-js-v3/tree/master/clients/client-cognito-identity

[2020-10-20 18:15] sunilvb commented on #4957
Although, @sigitp-git solution may be a feasible workaround, what if the expense item is the 10001 record ? A consumer mobile app with a few 100 active users can easily go past this limit and end-up carrying every users' data but their own, there by rendering the app useless?!

[2020-10-20 18:19] yaquawa commented on #7013
oh that's right!
And I found the latest version of `client-cognito-identity` already fixed the issue.
Waiting Amplify to update the dependency version.

[2020-10-20 18:21] amhinson commented on #7013
Ah good find! We are planning on updating to the latest versions soon. If you'd like to open up another issue specifically for upgrading the version for tracking purposes, that'd be completely fine too.

[2020-10-20 18:23] yaquawa commented on #7013
@amhinson Thanks, I'd like to just waiting for the update, thanks!

[2020-10-20 18:26] mezalejandro commented on #7015
Thanks @amhinson
react-native-fbsdk: ^1.0.1
react-native-google-signin: ^2.0.0

Attached login code with google:
[code]

Login with Facebook:
[code]

[2020-10-20 18:27] watanabethais commented on #5914
@damianrr Have you found a workaround for this?

I'm having the same issue. After 5 minutes, it gives me the "Connection closed" error and I need to refresh the browser.
The AppSync subscriptions wasn't suppose to be real time?

[2020-10-20 18:28] sconway commented on #4957
One potential solution would be to pass up a custom ID, Key, User name, etc. as a header when you configure Amplify.

Something like:
[code]

then, in your response VTL template, you can filter the results by that header.

This is definitely not an ideal solution, and it seems odd that this is the default behavior for Datastore, but this is the only potential solution that I know of.

[2020-10-20 18:34] amhinson commented on #7015
Ok thanks! I think what is happening is that you will need to configure a [`refreshHandler`](https://docs.amplify.aws/lib/auth/advanced/q/platform/js#token-refresh) for Google and Facebook in order to refresh the tokens, since Amplify cannot do that automatically in React Native. Right now it looks like the library can only handle automatic token refresh in the browser (https://github.com/aws-ampl

[2020-10-20 18:41] shadyendless opened #7016 "Cannot get MFA to work with either SMS or TOTP"
**Describe the bug**
I cannot get MFA to work with either SMS or TOTP in my application. I have tried various User Pool setups and it seems like regardless of what I do it doesn't want to work. When using the SMS MFA path, I do not receive any text messages. I have increased the spending limit, double-checked that the role was created that allows Cognito to send SMS messages, and I have been able

[2020-10-20 18:44] Shaninnik commented on #4351
This issue is definitely not resolved. We had all workarounds implemented (including custom MemoryStorage that uses non-deprecated AsyncStorage import) but still had issues with users being logged out `await Auth.currentAuthenticatedUser();` was still randomly throwing and logs confirmed that. Worst of all there was absolutely no pattern for that and we could not replicate that in controlled envir

[2020-10-20 18:54] jmkmay commented on #4351
@Shaninnik unfortunately we're stuck with it for AWS integration...

I've spent the last day and a half or so trying different approaches to solving this issue: implementing custom storage class, using refreshHandlers... to no avail. Its frustrating because user login via Cognito IdP (email, password) works just fine and doens't experience this issue.

[2020-10-20 18:58] orizens opened #7018 "iOS/Android - React Native onNoficationOpened not triggered"
**Describe the bug**
we have configured push notification on our react native apps - and the notifications are coming in.
However, "onNoficationOpened" is not triggering the callback, but simply switch the app.

**To Reproduce**
Steps to reproduce the behavior:

1. make sure app in the background
2. create a push notification
3. wait for notification to show
4. tap the notification

**Expected beh

[2020-10-20 19:18] jmkmay commented on #3619
@tcchau I know this has been closed for quite a while, but did you ever figure out a solution here?

[2020-10-20 19:23] dlamon1 commented on #4534
@kreuzhofe is setBuildDefinitions an apache function?

[2020-10-20 19:23] dlamon1 commented on #4534
@kreuzhofer  is setBuildDefinitions an apache function?

[2020-10-20 19:54] damianrr commented on #5914
Hey @watanabethais,

I did not. I actually moved away from Amplify / AppSync.

Sorry.

[2020-10-20 20:26] amhinson commented on #7018
A few questions:
- To clarify, you're seeing the exact same behavior on iOS and Android, right?
- Is the app "killed" in the background, or just in an inactive state?

[2020-10-20 20:31] orizens commented on #7018
@amhinson
The behavior is the same in both platforms.
The app is im inactive state and not killed.

Thanks.

[2020-10-20 21:01] amhinson commented on #5486
We just merged a PR to address this issue. It is available available now on `aws-amplify@unstable` and will be on `latest` when we do our next release (likely later this week).

[2020-10-20 21:01] #5486 closed

[2020-10-20 21:10] amhinson commented on #7018
For iOS, did you setup [`@react-native-community/push-notification-ios`](https://github.com/react-native-push-notification-ios/push-notification-ios), particularly the `Add Capabilities : Background Mode - Remote Notifications` & `Augment AppDelegate` steps?

[2020-10-20 21:11] amhinson commented on #6881
Sorry for the delay @Sahejmaharjan1. The library currently doesn't support images, but I will mark this as a feature request to make sure it is taken into account in the future 👍

[2020-10-20 21:13] amhinson commented on #6792
This appears to be a duplicate of https://github.com/aws-amplify/amplify-js/issues/6000. We will continue to track in that issue.

[2020-10-20 21:13] #6792 closed

[2020-10-20 21:17] watanabethais opened #7019 "AWSAppSyncRealTimeProvider error: Connection closed"
I have a React project created in a year ago using the aws-amplify library's version 1.1.32, so I decided to update all the dependencies after noticing errors in AppSync subscriptions.

One of the errors is that the multiple subscriptions in Connect component stopped working. After some research, I've found  [this issue](https://github.com/aws-amplify/amplify-js/issues/4813) and then I decided to

[2020-10-20 22:22] shadyendless commented on #7016
Closing this as it appears to be an issue with Amazon SNS and its inability to deliver text messages to the United States. My team tested it for a team member in Japan, Canada, and Nigeria and all of them received the text messages as expected, but none of the team members in the United States are getting the text messages.

Will be looking into other ways to fix this issue.

[2020-10-20 22:22] #7016 closed

[2020-10-21 01:48] naripok opened #7022 "Datastore fails to sync over missing model"
**Describe the bug**
1 - I have a many-to-many relationship
2 - I trigger a save event on my models using datastore save method
3 - Something happens and a 'child' model fails to be saved after the 'link' model have been saved

Now, datastore fails to sync at all, not only the affected model, but all models, over all users, at any location.

The failed graphql sync query returns a 200 status code

[2020-10-21 02:16] #7003 closed

[2020-10-21 03:51] VarunSendilraj opened #7025 "Network Error when the app calls API.graphQL"
When the app is calling api.graphQL after login, I get a network error (More info shown below)

Here is the code i used to test it:

`const [system, setSystem] = useState({});
  console.log("testing");

  useEffect(() => {
      //https://dev.to/rmuhlfeldner/how-to-use-an-aws-amplify-graphql-api-with-a-react-typescript-frontend-2g79
      checkAuthState();

    async function getData() {
      con

[2020-10-21 04:07] adobayua-rpay commented on #6428
Apologies! I didnt post the solution here but it is more on the client side than you guys. It is an error that happens with large file sizes. To fix the issue simply increase your space size in your package.json.
For me it was adding this
    "start": "react-app-rewired --max_old_space_size=4096 start",
    "build": "react-app-rewired  --max_old_space_size=4096 build",
Yours might look a little di

[2020-10-21 04:28] Sahejmaharjan1 commented on #6881
Ok @amhinson. One of a must have feature for notification hope it gets added soon.

[2020-10-21 06:19] ReeMii commented on #4410
I'm not on that project anymore, so I can't test it, but it looks like answer to my question.

[2020-10-21 06:19] #4410 closed

[2020-10-21 07:04] yaquawa commented on #7013
@amhinson By the way, will you update the [graphql](https://github.com/graphql/graphql-js) package as well? Because I'm meeting the (this issue)[https://github.com/graphql/graphql-js/issues/2826] which already be fixed in the latest version. probably a webpack 5 compatibility issue I guess.

[2020-10-21 08:39] theshumanator commented on #6917
Hi @amhinson ,

Amplify packages w/versions:
aws-amplify: 2.3.0
aws-amplify-react: 3.1.9

Amplify usage:
[code]

[2020-10-21 09:23] danielblignaut commented on #54
hey guys,

just to re-iterate that this is a really big problem with Cognito and really needs to be addressed. It's clear that there's multiple use cases associated with this that are all important and with only allowing this value to be managed on the client side, there's a massive security flaw in every single project that requires the cognito Identity Id on the backend. Ultimately, if a user kn

[2020-10-21 11:21] iaarnio commented on #3184
I would also expect that Cognito's Hosted UI would handle this neatly. Now enrolling users are very easily stuck in situation that makes them either leave the service or ask for manual assistance.

Meanwhile I also would need workaround for this issue.
@simon10says did get the Pre-Signup trigger to do the unconfirmed user deletion for you?

[2020-10-21 12:20] ciekawy commented on #1445
just `NODE_ENV=production` has very little sense for ionic app loaded directly from mobile device :D

[2020-10-21 12:27] mllrmat commented on #6928
@ashika01 do you have an update on this issue?

[2020-10-21 12:52] gvb26 commented on #6344
I am also experiencing this issue. A number of my users are not receiving the code despite the logic of my requests being fine. Ir works for some but not all. AWS support should escalate the issue, put out an update and provide documentation

[2020-10-21 12:58] gvb26 opened #7026 "AWS Amplify SignUp SMS Verification Code not getting sent/delivered to some addresses"
**Describe the bug**
Upon signing up with a phone number, the Verification SMS with the 6 digit code is never sent to the phone number. After trying to resend the code multiple times, the message is never received.

The most troublesome part is that some phone numbers receive the SMS verification without fail but some never do.

**Steps to reproduce the behavior:**
SignUp using phone number
SMS no

[2020-10-21 14:13] Jordan-Eckowitz opened #7027 "Amplify CI/CD - Branch changes are sometimes not detected"
**Describe the bug**
Sometimes when I merge changes into a branch Amplify does not detect the update on Github. It's happened on multiple branches I am trying to deploy. I have tried `Reconnect Repository` as well as disabling then re-enabling branch `Auto-build` but it doesn't do anything. Most of the time my builds work so I know my setup works but this has started to occur with more regularity.

[2020-10-21 14:30] rjuevesano commented on #1858
Tried this and react-native-push-notification it's not working on the android.

[2020-10-21 15:40] sw-yx opened #7029 "[Request] `amplify mock` local dev server for REST APIs"
**Is your feature request related to a problem? Please describe.**

When developing my app, I want to be able to ping mock versions of my REST API endpoints from within my local dev app, and modify and develop against endpoints without having to constantly `amplify push` and develop against a live production endpoint.

Currently, this exists for `amplify mock` of an Amplify GraphQL API. We make ou

[2020-10-21 15:42] Rajan-Gupta1 opened #7030 "getItem being called before setItem in authstorage after successful login"
**Describe the bug**
getItem being called before setItem in authstorage after successful login.

**To Reproduce**
Steps to reproduce the behavior:

1. AWS Exports has the following settings and
const aws_configure = {
    Auth: {
        "region": "us-east-1",
        "userPoolId": "xxxxxxxxxxxxx",
        "userPoolWebClientId": "yyyyyyyyyy",
        **storage: AuthStorage**
    }
}
2. On debuggin

[2020-10-21 16:14] joebernard commented on #5885
I have posted in the AWS forums here:
https://forums.aws.amazon.com/thread.jspa?threadID=330020

[code]

[2020-10-21 16:25] amhinson commented on #7019
@watanabethais Could you share your `onCreateWorkControl` subscription?

[2020-10-21 16:42] watanabethais commented on #7019
@amhinson sure! Sorry for not posting before.

[code]

[2020-10-21 17:26] amhinson commented on #7019
@watanabethais Also, could you provide your `aws-exports.js` file (with any sensitive data like IDs & keys removed)?

[2020-10-21 17:32] ashika01 commented on #6928
@amhinson Handing off ^^^

[2020-10-21 17:42] watanabethais commented on #7019
@amhinson Oh, really? I hate when those things happens only to me 😭

Schema
[code]

aws-export.js
[code]

[2020-10-21 17:44] MahsaMaslahati opened #7032 "AmplifySignUp and AmplifyConfirmSignUp submit buttons stay enabled while submitting"
**Describe the bug**
I'm using the `@aws-amplify/ui-react` components, with specific `formFields`. We have `PreSignup` and `PostConfirmation` lambdas which check and do something, so it takes a bit longer to create and confirm the user. When submitting the AmplifySignUp and AmplifyConfirmSignUp pages, the submit buttons stay enabled and the user can have multiple clicks and sometimes create multip

[2020-10-21 17:48] iofluxdev1 commented on #54
What we did to resolve this on in our use case was drop OICD and user pool authorizers and went with https://github.com/aws/aws-aspnet-cognito-identity-provider. We then exchange the token for IAM credentials and call our lambdas in the same way our iOS app does.

[2020-10-21 18:21] amhinson commented on #7019
@watanabethais Ah bummer, still no luck reproducing on my end. Could you enable logging (`window.LOG_LEVEL = 'DEBUG'`) to see if there are any additional clues we draw on?

[2020-10-21 18:36] amhinson commented on #7019
Also, just to confirm, were you also seeing similar errors when using version `1.1.32`, or did everything work as expected before upgrading?

[2020-10-21 19:12] GennadiyT opened #7034 "Amplify calls to get current username and JWT"
Hi there.
Here is my settings. There are 2 users in Cognito pool, RMSTEST and GENET. Web App, Web services and local DB are hosted on our own servers. RMSTEST user exists in our local db, GENET doesn't. When I log in as RMSTEST everything is Ok: Web App gets JWT via amplifyService.auth().currentSession().getAccessToken().getJwtToken() and attaches this token to the header of the service request.
O

[2020-10-21 20:11] watanabethais commented on #7019
@amhinson Before updating to the latest version, I noticed that the subscriptions stopped working and checking the logs, I found `Socket closed` errors.

Network tab
<img width="1020" alt="Captura de Tela 2020-10-21 às 17 09 13" src="https://user-images.githubusercontent.com/3827481/96777105-41971100-13c0-11eb-8995-6731918c5fe4.png">

<details>
<summary>Console log</summary>

[code]
</details>

[2020-10-21 20:40] amhinson commented on #7034
@GennadiyT Would you be able to provide for some details about your issue:
- Amplify packages & versions
- code snippet of usage
- clear reproduction steps

[2020-10-21 20:42] amhinson commented on #7019
@watanabethais Could you reach out to me (`amhinson`) on our [Discord](https://discord.gg/jWVbPfC)? It could be helpful to have a shorter feedback loop and get a closer look at your project.

[2020-10-21 20:44] GennadiyT commented on #7034
Hello Alex.
Sure I can. How can I get info about my Amplify packages & versions?

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Alex Hinson<mailto:notifications@github.com>
Sent: Wednesday, October 21, 2020 1:41 PM
To: aws-amplify/amplify-js<mailto:amplify-js@noreply.github.com>
Cc: Gene Tsekhanovskiy<mailto:Gene.Tsekhanovskiy@accelya.com>; Mention<mailto:men

[2020-10-21 20:45] amhinson commented on #7034
You can just provide your `package.json` if you'd like! 👍

[2020-10-21 20:58] GennadiyT commented on #7034
Alex, I will be back to you as soon as I can get. I think we just got power outage. Sending it from my phone

From: Alex Hinson <notifications@github.com>
Sent: Wednesday, October 21, 2020 1:45 PM
To: aws-amplify/amplify-js <amplify-js@noreply.github.com>
Cc: Gene Tsekhanovskiy <Gene.Tsekhanovskiy@accelya.com>; Mention <mention@noreply.github.com>
Subject: [Potential Spam] Re: [aws-amplify/amplify

[2020-10-21 21:02] ledbruno commented on #3436
We have the same problems and designed something as you said @Disgruntled . We were willing to use kong and this plugin https://github.com/nokia/kong-oidc/pull/181

But, in order to all the things work together i need to use (authorization code grant flow), and this is only avaible through cognito hosted UI. Amplify JS does not Support that.

With this scenario, we will need to implement some kind

[2020-10-21 21:25] iartemiev commented on #7022
@naripok could you please share your app code with how you're saving these models

[2020-10-21 21:39] naripok commented on #7022
Sure!

*schema*
[code]

*Save method implementation*
[code]

The interesting bits here are:
[code]
This is a tree structure, and I save it to datastore with a recursive function.
`S` is for `sanctuary` and `F` is for `fluture`

If further clarification is needed, I'm happy to help.
Cheers!

[2020-10-21 21:59] watanabethais commented on #7019
After consulting @amhinson on Discord, we found out that the problem was in my VPN connection.

Sorry for causing trouble! I'm really thankful for the help :)

[2020-10-21 21:59] #7019 closed

[2020-10-21 22:12] iartemiev commented on #7022
What's an example of `data`, `child`, and `parentData` that's actually getting passed to the `save` method here:
[code]

[2020-10-21 22:42] funkel1989 opened #7035 "Using amplify for api and auth only"
Hello all,

I’m looking to use amplify for easy integration with app sync graphql api and cognito for auth but would like to deploy my website to a server myself. Basically I don’t want to add hosting. Can this be done?

[2020-10-21 23:01] naripok commented on #7022
Sorry,

*data*
[code]
*child*
[code]

*parentData*
[code]
Just to clarify, the `data` and `child` are send on the first iteration of the method, and `parentData` is used on the second iteration.
`child` and `parent` on `parentData` are actually DataStore Model objects, but when I copy then from chrome they rasterizes on  plain objects.

Sorry, may I ask a dumb question?
I was implementing a scanni

[2020-10-21 23:20] GennadiyT commented on #7034
Hello Alex. Please find attached package.json.
Overview is component (see attached Overview.ts.txt),  where it makes call to service, implemented in SettingsService(see attached SettingsService.ts.txt).

Prerequisites:

  1.  Users “rmstest” and “genet” are valid members of the Cognito pool.
  2.  There is a record for “rmstest” user in our local Db, whereas there is no record for user “genet” in

[2020-10-22 00:08] drochetti commented on #6949
@idanlo note that DataStore does not support custom primary keys as of now. The `id` field is always used as the primary key, even when your schema doesn't define it it will be automatically defined in your model.

If you trying to use DataStore with an existing AppSync backend that already contains some data, you will need to introduce the `id` somehow. Unfortunately, I'm not sure what the best w

[2020-10-22 01:58] wei commented on #6965
@hmisonne Thanks for the detailed issue description 👏 .

I started fresh and followed your reproduction steps and It's working just fine. I even tried to create the new user explicitly with `userGroceryListID: null` and it worked fine as well.

I'm using `@aws-amplify/cli: 4.30.0`. The working repo can be access at https://github.com/wei/amplify-js-6965

Please let us know if this is still an issu

[2020-10-22 02:40] jcardus commented on #6782
It doesn't even tell the browser to remeber the email / username. I'm tryed using inputPros and set autocomplete but nothing. There's no way the browser saves the user / password...

[2020-10-22 02:55] Kivin1 commented on #749
Same issue here... do we need to attach each user manally using aws cil since attach the identityPoolId doent work for me here..
currently i ebable the unauthenticated cognito access..
Does someone can share the best practise to use amlify auth and pubsub together..? Thanks in advance...

[2020-10-22 03:35] simon10says commented on #3184
@iaarnio , no, I did not try out the method I suggested. Instead I've changed the whole sign up flow to not use `confirmation code`.  What I've done are:
1. Disable `sign-up` in Hosted-UI
2. Created a Lambda to create new user
3. In my Lambda, I will send temporary password to the user

[2020-10-22 03:39] wei commented on #5206
I was able to reproduce this issue. It happens when `copyOf` is called.
Minimal example repo: [wei/amplify-js-5206](https://github.com/wei/amplify-js-5206) [[snippet](https://github.com/wei/amplify-js-5206/blob/master/src/App.tsx#L29-L31)]

![image](https://user-images.githubusercontent.com/5880908/96820902-ed5a5400-13f4-11eb-8c62-c87c4451a3ca.png)

It's clearly not required, however, it still fai

[2020-10-22 03:40] wei commented on #6965
I suspend this is related to https://github.com/aws-amplify/amplify-js/issues/5206#issuecomment-714200927

[2020-10-22 03:51] wei commented on #7022
@naripok Is there anyway you could provide a minimal reproducible example repo from scratch using the latest amplify CLI `4.30.0` and latest node packages? It will help us tremendously! ❤️

[2020-10-22 05:06] daallen303 commented on #4439
@haverchuck This issue seems to have not been addressed. Are there any updates from the cognito auth team?

I am calling `Auth.signUp` with `clientMetaData` as a parameter, and setting `event.response.autoConfirmUser` to `true` inside of the Pre Sign-up lambda. When I check the logs for the Pre Sign-up lambda `clientMetaData` is present inside of `event.request` but then when I check the Post Conf

[2020-10-22 06:07] undefobj commented on #7035
Could you give more specifics on your use case and setup? What stack will this server use? Is it a container on ECS or something else?

[2020-10-22 06:59] orizens commented on #7018
hi @amhinson
thanks for the links.
I did followed the setup instructions for iOS and everything is setup as it should.
iOS now triggers onNotificationOpened event in our physical device - though not in iOS emulator - any advice on that?
Android still doesn't trigger onNotificationOpened.
thanks.

[2020-10-22 07:07] pr1ze commented on #6731
This really needs to be prioritized. This nearly caused our production users to be able to see each others data!!!

[2020-10-22 09:17] nubpro opened #7036 "DataStore max subscriptions reached error"
**Describe the bug**
I found an easy and reliable method of reproducing "MaxSubscriptionsReachedError" error which is coming from AppSync. This is a React Native project.

**To Reproduce**
This is the most explicit ways I could figured out to reproduce the bug.

Updated repro methods:
https://github.com/aws-amplify/amplify-js/issues/7036#issuecomment-746942585

~~1. Setup Auth and DataStore on you

[2020-10-22 09:17] nubpro commented on #7036
Tagging @Ivaylo-Kirov and @undefobj to get their attention. Thanks!!

[2020-10-22 09:41] ltaljaard commented on #5206
Hello, when roughly are you expecting to release this fix and would it then be in the stable release or what can i do to get the fix asap?

[2020-10-22 12:32] krlm commented on #4439
@daallen303 no, they were supposed to fix the docs.

[2020-10-22 12:36] iartemiev commented on #5206
@ltaljaard we'll verify and test the fix internally and then will release it shortly thereafter.

[2020-10-22 13:00] ltaljaard commented on #5206
@iartemiev Thank you, may i also suggest to remove the to-be-reproduced tags for this #5206 and potentially #6744 and #6453, seeing that this issue has now been successfully reproduced.

[2020-10-22 13:34] batical commented on #6092
Thanks for you answer.
We are pretty late for some delivery and bug etc (as a lot of startup :p)

- I will ask a trainee next week to do some logs. But we cannot reproduce it all the time and the app is auto signout. We will try
- we are using a monorepo with 2 ReactJS website. I pay attention to have the exact same version with no hoisting etc
the actual version are
"aws-appsync": "^4.0.1",
"aws-

[2020-10-22 13:50] man-andy commented on #5911
Any update on this?

[2020-10-22 15:31] arelaxend opened #7037 "Pre-rendering for dynamic server-rendered routes"
Dear contributors,

**Is your feature request related to a problem? Please describe.**
In the current documentation, we see:
`Note: Next also supports pre-rendering for dynamic server-rendered routes. At this time, Amplify does not support the hosting of dynamic server-rendered routes with Next.`

**Describe the solution you'd like**
Is it plan to add this feature ?

Or should we go for https://gi

[2020-10-22 15:42] naripok commented on #7022
Hi, @wei,

Take this one by [example](https://github.com/naripok/datastore7022).

I tried to reproduce with the offline network sim on dev tools, but didn't have any luck.
The easiest way to reproduce the bug is to run the client, wait for datastore to finish syncing the models, then you delete some of then directly from the dynamo table.

As my application saves 1k-2k models at a time, and a lot

[2020-10-22 15:48] timoteialbu commented on #6195
I just upgraded to the latest version of these packages:
[code]
and the issue persists.

[2020-10-22 15:51] amhinson commented on #7018
Ah yes, you will only be able to receive push notifications on real devices for both iOS and Android.

[2020-10-22 15:56] amhinson commented on #6092
I'd suggest just using `import {Auth} from 'aws-amplify'` for consistency, but that is likely not as much of an issue as long as you just have `aws-amplify` in your `package.json` and don't have multiple versions of packages (i.e. `@aws-amplify/auth`).

I'm going to label this as "can't reproduce" for now, but feel free to follow up in the future in you continue to run into issues.

[2020-10-22 16:01] amhinson commented on #6917
I'm still a bit confused on your issue here. Where exactly are you seeing the error? Would you be able to provide more detailed  reproduction steps so we can attempt to see the same behavior?

[2020-10-22 16:04] tcchau commented on #3619
@jmkmay The solution I settled on was the one mentioned in my [comment above](https://github.com/aws-amplify/amplify-js/issues/3619#issuecomment-511953743).

Basically, since I need the Google API client to access other Google services anyway, I didn't mind using it to manage automatically refreshing my Google tokens as well.

[2020-10-22 16:13] amhinson commented on #4813
As @visusnet pointed out, the new AppSync real-time endpoints do not support having multiple root fields in the subscription for the `Connect` component. However, there does appear to be a few workarounds noted in this issue. My suggestion would just be to manage each subscription directly with the `API` category ([docs](https://docs.amplify.aws/lib/graphqlapi/subscribe-data/q/platform/js)) or go

[2020-10-22 16:32] theshumanator commented on #6917
I have a web app that uses amplify & cognito for user authentication.

I would like to customise the messages users receive on email. So I created a lambda (separate from the web app app) which handles the CustomMessageTriggerEvent events. It sets the event.response.emailSubject and event.response.emailMessage.

The two events I'm trying to customise a message for are the forgot password and the s

[2020-10-22 16:46] amhinson commented on #6917
Ah ok I understand now. Thanks for the info! This does look more related to the Cognito service itself. Did you create the lambda with Amplify as well (`amplify add function`)?

[2020-10-22 17:32] amhinson commented on #7025
@VarunSendilraj Could you share more about your Amplify setup & configuration?
- `package.json`
- `aws-exports.js` (with keys/ids removed)

[2020-10-22 18:37] amhinson commented on #7037
There is actually an open issue that the Amplify Console team is tracking for SSR support with hosting: https://github.com/aws-amplify/amplify-console/issues/412

Feel free to add your comments and support on that issue 👍

[2020-10-22 18:37] #7037 closed

[2020-10-22 19:01] sammartinez commented on #3402
Hello @raquila, this looks to be specific to Amazon Cognito and not Amplify as we do not own the code, Hosted UI. Amplify JS is a pass through to Cognito and as @jordanranz has called out we do believe talking to Cognito via their [AWS Forums](https://forums.aws.amazon.com/forum.jspa?forumID=173). Resolving as this is unrelated to Amplify JS.

[2020-10-22 19:01] #3402 closed

[2020-10-22 19:14] FrankSD opened #7039 "How can i style the sign out button for the authentication component"
How can i style the sign out button for the authentication component

- After  signing in the sign-out button  stretch across my entire viewport.

- I want the sign-out button to be small in size and an ability to be placed anywhere on my navigation bar

- Is there a way i can override  its  CSS  styling?

[2020-10-22 20:34] amhinson commented on #7039
@FrankSD Have you tried wrapping the button with your own `div` wrapper, which you can then style and position appropriately?

[2020-10-22 20:50] FrankSD commented on #7039
@amhinson   let me  check that  out....

[2020-10-22 20:57] VarunSendilraj commented on #7025
Here is the package.json file:

`{
  "name": "agroQ",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "android": "react-native run-android",
    "ios": "react-native run-ios",
    "start": "react-native start",
    "test": "jest",
    "lint": "eslint ."
  },
  "dependencies": {
    "@react-native-community/masked-view": "^0.1.10",
    "@react-native-community/netinfo": "^5.9.7",
    "@

[2020-10-22 21:00] amhinson commented on #7025
That could be the problem. Have you run `amplify init` in the project before?

[2020-10-22 21:17] VarunSendilraj commented on #7025
Yup I did that at the beginning when I was setting up aws in the app I was building. So far I have been able to use AWS authentication in the app and I haven't gotten an error with that. Only when I try to retrieve data from the dynamo DB I get an error. Like this

Here is the tutorial I used to set up AWS but I may have messed up something while setting it up: [https://www.hackernoon.com/how-to-c

[2020-10-22 21:19] amhinson commented on #7025
interesting! In your code when you run `Amplify.configure(config)`, can you look at where `config` is being imported from? The name of the variable might be slightly different for you though.

[2020-10-22 21:29] VarunSendilraj commented on #7025
Here are the imports that I have and it seems I am importing from aws-exports.js even though I don't have that file:
`import Amplify from 'aws-amplify';
import config from './aws-exports';
import { withAuthenticator } from 'aws-amplify-react-native';`

[2020-10-22 21:35] amhinson commented on #7025
Hmm I'm not sure if Auth would be able to work if that file didn't exist. I'm thinking that it would still be there, although it is probably not committed bc we add it to `.gitignore` by default.

[2020-10-22 21:49] timoteialbu commented on #6195
I found a way to solve my issue in regards to the `InvalidIdentityPoolConfigurationException: Invalid identity pool configuration. Check assigned IAM roles for this pool.` error.

The solution was to look up the `authRole` that amplify-cli creates and add trust relationships to it. Here is what I edited it to:

[code]

Since this was working prior to June 2020 (which was the last time we successfu

[2020-10-22 21:51] makeitraina commented on #4601
@NKHenry did you ever resolve this issue? Im also seeing this happen

[2020-10-22 21:58] amhinson commented on #4197
@jmandivarapu1 Are you still experiencing this issue? I've tried to reproduce it by doing the following:
- create new React app with `create-react-app`
- `amplify init`
- `amplify add auth` & `amplify push`
- wrap `App` with `withAuthenticator` from `@aws-amplify/ui-react`
- add `authenticationFlowType: 'USER_PASSWORD_AUTH'` to Amplify config
- enable username/password authentication in Cognito fo

[2020-10-22 22:04] VarunSendilraj commented on #7025
I am so sorry, i just found the aws-exports.js file. Here is the code for that:

// WARNING: DO NOT EDIT. This file is automatically generated by AWS Amplify. It will be overwritten.

const awsmobile = {
    "aws_project_region": "us-east-2",
    "aws_cognito_identity_pool_id": "hidden",
    "aws_cognito_region": "us-east-2",
    "aws_user_pools_id": "hidden",
    "aws_user_pools_web_client_id": "

[2020-10-22 22:10] amhinson commented on #7025
Ok no problem! Could you also provide some logs? Those can probably help you track down where the issue might be.
You can enable logging with:
`Amplify.Logger.LOG_LEVEL = 'DEBUG'`

[2020-10-23 00:46] wei commented on #5206
You can set `"strictNullChecks": false,` in `tsconfig.js` which will allow you to set it to null.

[2020-10-23 00:46] wei commented on #5206
@apoorvmote You can set `"strictNullChecks": false,` in `tsconfig.js` which will allow you to set it to null.

[2020-10-23 02:28] VarunSendilraj commented on #7025
Here is what i got for the logs (its kinda long):

[Thu Oct 22 2020 19:02:39.138]  LOG      [DEBUG] 02:38.376 I18n - configure I18n
[Thu Oct 22 2020 19:02:39.139]  LOG      [DEBUG] 02:38.376 I18n - create I18n instance
[Thu Oct 22 2020 19:02:39.140]  LOG      [DEBUG] 02:38.377 AuthClass - configure Auth
[Thu Oct 22 2020 19:02:39.142]  LOG      [DEBUG] 02:38.377 Parser - parse config [{"aws_appsync

[2020-10-23 02:39] VarunSendilraj commented on #7025
Here is some parts of the log. If you look toward the last few lines you can see the error message I am getting.

LOG      [DEBUG] 02:38.373 Amplify - amplify config
LOG      [DEBUG] 02:38.376 I18n - configure I18n
LOG      [DEBUG] 02:38.376 I18n - create I18n instance
LOG      [DEBUG] 02:38.377 AuthClass - configure Auth
LOG      [DEBUG] 02:38.377 Parser - parse config
LOG      [DEBUG] 02:38.379

[2020-10-23 02:44] duncangroenewald opened #7046 "BUG "The security token included in the request is invalid. (Service: DynamoDb, Status Code: 400, Request ID…""
**Describe the bug**
I am getting this error intermittently when loading data using graphql - the code is running a loop and seems to randomly fails with this error.

**Amplify CLI Version**
4:30.0

**To Reproduce**
Not sure if this is reproducible

**Expected behavior**
I wouldn't expect random failure when processing data items in a loop.

**Desktop (please complete the following information):**

[2020-10-23 02:49] amhinson commented on #7025
Are you running the API locally with a mock by chance? If so, is the address `http` instead of `https`? The Android emulator or physical devices connected via USB can sometimes have issues connecting to a local url.

[2020-10-23 02:52] VarunSendilraj commented on #7025
I did use a mock at one point but now I am using AWS. I am able to use graphql to store data into the dynamo db but when I try to read it I get a network error.

[2020-10-23 03:15] BDNilsson commented on #6283
Just ran into this issue again on a new project

In the last project i just forced a refresh and made the user log in again as a work around which was not great but worked there, this time i don't have that option.

This was on a Angular 9 project clean project.

Same instructions to reproduce using the amplify-authenticator

Attached package.json file.

[package.json.txt](https://github.com/aws-a

[2020-10-23 03:30] amhinson commented on #7025
Could you share the value you have for the appsync endpoint in `aws-exports`?

[2020-10-23 07:09] ahansson89 commented on #2573
I really need this too as I need to reset my exponential backoff on a successful connection. Please prioritize!

[2020-10-23 09:15] arelaxend opened #7048 "Offline support for Amplify Kinesis integration"
Dear Amplify team,

**Is your feature request related to a problem? Please describe.**
Currently, when you have a PWA with offline support, all Kinesis streams are not working when toggle network connectivity.

**Describe the solution you'd like**
An expected behavior is that during offline mode, all the Kinesis streams are store in some ways and whenever the connectivity turns back ON, the stream

[2020-10-23 09:24] myfairshare opened #7049 "DataStore Delete - Failed to execute 'index' on 'IDBObjectStore'"
**Describe the bug**
When I try to delete an item in DataStore which belongs to a 1 to many relationship I get the 'failed to execute 'index' on 'IDBObjectStore' error.   I noticed in another issue DataStore has a problem with deleting such a relationship  here..
#https://github.com/aws-amplify/amplify-js/issues/5088

**Expected behavior**
I expect the the user to be able to delete a rental unit

[2020-10-23 09:38] orizens commented on #7018
@amhinson
the issue that is still pending for Android: Android still doesn't trigger **onNotificationOpened** - emulator nor physical device.

[2020-10-23 09:46] myfairshare commented on #5088
Hello, I have also run into this problem, is there a solution to this, thank you.

[2020-10-23 10:15] ahtokca commented on #4622
@camin-mccluskey Did you find a way to use a web-view?

[2020-10-23 11:11] theshumanator commented on #6917
No, I created the lambda using AWS CDK.
Re the validation error that appears on the amplify login form, does that mean the Cognito service is sending this error back to the form because it cannot handle this specific html/custom message?
Thanks.

[2020-10-23 11:18] BDNilsson opened #7051 "TOTP Setup doesn't work if Cognito Pool has remember devices"
Same as https://github.com/aws-amplify/amplify-js/issues/6283

Describe the bug
If a cognito pool has settings to remember a device (opt-in or always) the login fails when setting up MFA.

To Reproduce
Steps to reproduce the behavior:

    Create cognito pool with MFA required, and devices remembered
    Use a user created by an admin without a phone number to enforce MFA SETUP
    Login as the ne

[2020-10-23 13:02] mllrmat commented on #6749
I have the same problem. Looking at the code, they are never passed to/from the refresh function.
See: https://github.com/aws-amplify/amplify-js/blob/abb5e3605e21685c98959af67115fa6a37bf22f2/packages/core/src/Credentials.ts#L148

[2020-10-23 13:03] mllrmat commented on #6535
The identityId is lost when the token is refreshed. Looking at the code the identityId is not passed to the refresh function:

See: https://github.com/aws-amplify/amplify-js/blob/abb5e3605e21685c98959af67115fa6a37bf22f2/packages/core/src/Credentials.ts#L148

[2020-10-23 14:14] Jahans3 commented on #6195
Hey @sammartinez - apologies for the slow response!

I have updated to the latest version and reverted the config to the standard `Amplify.configure(awsExports)` and am happy to confirm it's all working as expected now.

Will close this issue, thanks @Amplifiyer @sammartinez

[2020-10-23 14:14] #6195 closed

[2020-10-23 14:44] #5206 closed

[2020-10-23 14:44] #6744 closed

[2020-10-23 14:44] sw-yx opened #7052 "[Better DX?] Cannot access Amplify Storage when authenticated - 403 Error results"
**Describe the bug**

With the default IAM policies and the default permissions set up via Amplify CLI, I still encounter 403 errors when I try to `Storage.list`, even when I am authenticated, and even when I have made sure to allow authenticated and guest users inside Amplify CLI.

**To Reproduce**

Steps to reproduce the behavior:

1. `amplify init`
2. `amplify add storage`
- add auth accordingl

[2020-10-23 14:57] sw-yx commented on #7052
possible related issues:

- https://github.com/aws-amplify/amplify-js/issues/1909 "It was a permissions issue: my role was set to arn:bucket, not arn:bucket/*"
- https://github.com/aws-amplify/amplify-js/issues/6777 selectedAuthenticatedPermissions doesnt have "s3:ListBucket" - **i have confirmed that this is not the case, i have  full put/get/list/delete permissions**

[2020-10-23 17:05] amhinson commented on #7046
@duncangroenewald I'm thinking that using `graphqlOperation` isn't actually changing the behavior here, since it is just a simple [passthrough](https://github.com/aws-amplify/amplify-js/blob/main/packages/api-graphql/src/GraphQLAPI.ts#L35-L38).

Would you be able to provide a more concise reproduction sample that we could replicate on our end?

[2020-10-23 17:11] wei commented on #5206
@apoorvmote @ltaljaard Thanks for the issue!

The fix has been merged 🎉 ! Please try it with `aws-amplify@unstable` for now and feel free to comment if you have any questions.

[2020-10-23 17:12] wei commented on #6744
@Hideman85 @dobeerman I believe #7044 fixes this issue.

It has been merged 🎉 ! Please try it with `aws-amplify@unstable` for now and feel free to comment if you have any questions.

[2020-10-23 17:14] wei commented on #6453
For the record, I believe #7044 fixes this issue which has been merged and can be used with `aws-amplify@unstable` for now.

[2020-10-23 17:19] danrivett commented on #6453
Brilliant, thanks @wei I look forward to checking it out once it's released on a stable version. Thanks for fixing this!

[2020-10-23 17:47] mrcportillo commented on #2924
any news about this?

[2020-10-23 18:40] GabGabyz commented on #1582
Hi, I need this feature too.
I already experienced Firebase and it is really more convenient than cognito
It would be really great if they can implement a reauthenticate function as firebase do as soon as possible.

[2020-10-23 18:45] GabGabyz commented on #1582
Hi @elorzafe,
It would be really great and more convenient if cognito can implement a reauthenticate function as firebase do.
Have you planed to realize it ?
Thanks

[2020-10-23 21:34] mcottingham commented on #991
I would love an update on this.  Has any progress been made?

[2020-10-23 22:32] Defwentz commented on #6661
Apologies, only just see this, didn't think anyone would respond after a while. Thanks for taking a look.

I think I did. According this doc [Enabling CORS for a REST API resource](https://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-cors.html), the last section **Enabling CORS support for Lambda or HTTP proxy integrations**, I have headers added in the return value of my lambda, al

[2020-10-23 23:11] FrankSD commented on #7039
It   very hard  to style the  button.....is there a sample code  i can follow? Otherwise i will  go  with another  Authentication API for now.I simply want to place the sight out button on my navigation....and listen  events for sign in and sign out.I need  the ability to change from sign in button to  sign out.The only  Element i  see is      <amplify-sign-out ></amplify-sign-out>.And this is not

[2020-10-23 23:18] amhinson commented on #7039
Here are some options for customizing the theme, if that's what you're looking to do: https://docs.amplify.aws/ui/customization/theming/q/framework/react

Otherwise, you could always just fallback to managing the UI yourself and just using `Auth` directly: https://docs.amplify.aws/lib/auth/emailpassword/q/platform/js

[2020-10-24 01:00] kdchu opened #7053 "Analytics [Unhandled promise rejection: Error: No credentials, applicationId or region]"
**Describe the bug**
I am attempting to add analytics to my application but it seems like the config is not being recognized in my awsconfig. The analytics information is there including the appId as well as region but the error still persists and no information is shown in Pinpoint (not even usage as others have mentioned). My auth allows for unauthenticated users as well, but I am also authentic

[2020-10-24 05:03] chantlong opened #7054 "AuthClass API ICredentials Breaking Change on IdentityId since when?"
I used to retrieve the IdentityId from a Cognito Login via the following

[code]

Because it broke recently, I found out the API for AuthClass changed so you have to use below instead.

[code]

As you can see the API response changed and `IdentityId` became `identityId` and 1 layer of nesting was removed.

When did this happen and where should I go to keep posted?

I was looking though amplify cor

[2020-10-24 05:24] Junhano commented on #6031
any update?

[2020-10-24 07:59] simonxabris opened #7055 "withAuthenticator does not pass on props to wrapped component"
**Describe the bug**

In NextJS when you're exporting a page component with the `withAuthenticator` HOC, it does not receive the props from `getServerSideProps`, because `withAuthenticator` does not pass them along. This prevents the usage of the `withAuthenticator` component in server rendered pages.

The problem is on [this line](https://github.com/aws-amplify/amplify-js/blob/958f61ef2918728cc46

[2020-10-24 12:57] giulio-dds commented on #6031
Unfortunately I also have the same issue on my app (React Native w. Amplify). I don't know if it happens to the others as well, but after that, the application runs various instances of `BUNDLE ./index.js` until the app crashes (actually it's freezing my screen).
After a rafresh everything is ok, anyway... is not so comfortable because it happens very often.

[2020-10-24 13:02] yagiraldo62 commented on #4245
Any solution for this?

[2020-10-24 13:35] yagiraldo62 commented on #4351
Any solution for this?

[2020-10-24 13:53] yagiraldo62 commented on #4351
I am having the same issue, I tried with a custom storage class, and I realized that although the currentAuthenticatedUser function returns undefined, when the storage´s getItem function is called, the session values are returned by AsyncStorage, for some reason the currentAuthenticatedUser function cannot access to those values. if we print in console the requested values inside storage class´s s

[2020-10-24 14:16] usama-asfar commented on #6031
I just go through the source code the issue is AsyncStorage had been imported from `react-native` but AsyncStorage had moved to a sperate dependency which managed by the react-native community [@react-native-community/async-storage](https://github.com/react-native-async-storage/async-storage) I don't get time to fix this and PR it.

[2020-10-24 15:57] gvb26 commented on #5367
I am also experiencing this issue and updating the role does not fix it. [PLEASE ASSIST](https://github.com/aws-amplify/amplify-js/issues/7026)

[2020-10-24 18:23] yoursweater commented on #4245
@yagiraldo62 - yup, the solution is to write your own storage class, like so:

[code]

Pretty lame that this hasn't been fixed yet, but if you do this it should work correctly.

[2020-10-24 19:08] sangdth commented on #2160
This works for me:
[code]

[2020-10-24 21:45] bensie opened #7057 "AppSync websocket does not reconnect"
**Describe the bug**
The connection to the GraphQL subscription websocket provided by AppSync is made during the call to ` GraphQLAPI.graphql({ query: ..., variables: {...} }, {}).subscribe(...)`. If the connection is dropped for any reason, there are no attempts to reconnect. Common reasons for disconnecting include closing the lid of the computer, switching networks, dropping the connection on a

[2020-10-24 22:22] GeorgeBellTMH opened #7058 "Amplify JS support for Node"
I am having trouble figuring out how to make use of the process.env.AWS_ACCESS_KEY_ID/process.env.AWS_SECRET_ACCESS_KEY in a lambda/dynamodb trigger that I have created. Would be great to auto login with AWS_IAM...

I assume everything is nearly in place for this to just work, since it does when using aws-sdk...

I don't see anything in Amplify.default.configure() or from Amplify.Auth.signIn() to

[2020-10-25 01:30] Rajan-Gupta1 commented on #6530
@sammartinez @ashika01 I am still getting the exception, can it be confirmed:
1. Is the exception the expected behavior and can be okay
2. Is there a fix planned?
3. Or the user of amplify-js has to do something about it and if so what ?

[2020-10-25 02:29] mateomorrison commented on #6393
Still nothing here? Would love to use Instagram + Amplify

[2020-10-25 03:48] imoby opened #7059 "Appsync Datastore large Document Data usage"
Using aws app sync with datastore is creating a really large document data in iOS

Some additional details:
- I’m using the datastore to just store text and references to images in an S3 bucket
- Actual images are not stored in datastore
- I’m seeing a 500mb document data for what is mainly text stored in datastore

**To Reproduce**
Steps to reproduce the behavior:

1. Create a react native app us

[2020-10-25 03:59] carlosvega20 commented on #4235
Other way to achieve something similar with small footprint.

**Query:**
[code]

**Mutation:**
[code]

if APIKEY:
[code]

Cognito, etc:
[code]

[2020-10-25 07:14] duncangroenewald commented on #7046
@amhinson  sure I can put the old code back and replicate this.

[2020-10-25 08:11] sw-yx commented on #7059
interesting. any way for you to peek inside and see what's in that 500mb?

[2020-10-25 14:17] patelvarun commented on #1318
@masbaehr - Thanks. I already tried that but it was showing no credentials while uploading.

Storage.configure({
        bucket: 'xxxxx',
        region: 'XXX',
        credentials: {
            accessKeyId: 'xxx',
            secretAccessKey: 'xxx'
        }
    });

[2020-10-25 15:33] #5829 closed

[2020-10-25 15:33] #6057 closed

[2020-10-25 15:47] tvbowersz commented on #5104
@Mersmith Not sure if this is still an issue for you, but we implemented the following solution using the pre-sign up trigger: https://github.com/aws-amplify/amplify-js/issues/369#issuecomment-650019527

[2020-10-25 17:06] alonsnir opened #7060 "Missing region in config error on mocking a function"
**Describe the bug**
getting following error message when trying to run 'amplify mock function func'

    ERROR => {"message":"Missing region in config","code":"ConfigError","time":"2020-10-25T16:29:18.930Z"}

**To Reproduce**
Steps to reproduce the behavior:

1. amplify add function
2. Choose Lambda function with Node.js runtime
3. amplify function build
4. amplify mock function func
5. See error

[2020-10-25 18:45] alexvdvalk commented on #6111
This is breaking because of an incompatibility between Rollup and aws-amplify. I got this working based off this webpack based template: [](https://github.com/baileyherbert/svelte-webpack-starter)

Here is an example of my main.ts file that imports and registers the html elements:

`import App from "./App.svelte";
import {
  applyPolyfills,
  defineCustomElements,
} from "@aws-amplify/ui-component

[2020-10-25 18:56] sw-yx commented on #6111
i jotted down some notes for Amplify + Rollup btw. https://dev.to/swyx/making-aws-amplify-work-with-rollup-2d9m lmk if works for you, i confess i didnt extensively test this but it worked well enough for me

[2020-10-25 19:03] alexvdvalk commented on #6111
Thanks for posting that. I referenced it already when trying to get this to work with Rollup, but kept getting the error: "UMD and IIFE output formats are not supported for code-splitting builds"

[2020-10-25 19:05] sw-yx commented on #6111
then maybe change the format to cjs https://github.com/sveltejs/template/blob/master/rollup.config.js#L34

[2020-10-25 20:32] duncangroenewald commented on #7046
@amhinson - I have not been able to reproduce this yet, but there are another 5 or 6 functions like the one above that I might need to be converted back to see whether that recreates the problem.

[2020-10-26 08:45] Reenagrg100 commented on #5903
Hey, I'm still facing this issue in 3.1.0. Any update on this?

[2020-10-26 11:15] hutchida commented on #6997
Hi, I'm experiencing the same issue here. I think I understand correctly that it's applying the filter to the entire db but per page, based on the set limit, but what I don't understand is why are empty results returned at all? If I have a db of 30,000 entries with a limit set to 100 per page, that would mean I would need to make 300 api calls (the first filter, then 299 nextToken requests) to mak

[2020-10-26 12:38] hmelchander-indpro commented on #6731
@jordanranz Is it possible to get some help with this?

[2020-10-26 17:24] elorzafe commented on #7060
@alonsnir I will transfer this issue to cli repo where can handle it better than me.

[2020-10-26 18:02] elorzafe commented on #7059
@imoby, can you share the schema you are using?

Have you tried this on a Web App or Android App?

[2020-10-26 18:03] castledraw commented on #1368
Hi @ericclemmons , I want to login my amplify app with a cognito appclient with secret key. There is required for me, because i configured an elasticsearch instances with cognito, and automatically thats created an appclient with secretkey. So i want to load a dashboard kibana in my amplify app, but i received de same error Unable to verify secret hash for client.

I can't create another appclient

[2020-10-26 18:14] castledraw opened #7064 "Unable to verify secret hash for client"
Hi @ericclemmons , I want to login my amplify app with a cognito appclient with secret key. There is required for me, because i configured an elasticsearch instances with cognito, and automatically thats created an appclient with secretkey. So i want to load a dashboard kibana in my amplify app, but i received de same error Unable to verify secret hash for client.

I can't create another appclient

[2020-10-26 18:42] amhinson commented on #7053
Does your steps for reproduction actually produce the error you are seeing? I see that you also mention that you are not able to reproduce this error with a new project.

[2020-10-26 18:57] amhinson commented on #6917
It appears that way. I would suggest reaching out to AWS Cognito support on this issue to see if they can provide any additional insight.

[2020-10-26 19:05] amhinson commented on #7034
Could you provide how you are signing in and signing out user? And just any other Amplify usage related to this Auth flow. It appears that you are managing tokens yourself, which could conflict with what `amplify-js` is already doing behind the scenes.

[2020-10-26 19:57] darylalexjohnson commented on #6938
Manually setting the token to Cache on the hub signIn event worked. Thanks for the direction.

[2020-10-26 19:57] #6938 closed

[2020-10-26 20:23] amhinson commented on #6961
Based on the client-side code and referencing the Cognito API docs, it looks like we are correctly passing the `clientMetadata` down to when the service call is actually made. Would you be able to reach out to AWS support for Cognito to see if they have any other ideas here?

https://github.com/aws-amplify/amplify-js/blob/main/packages/auth/src/Auth.ts#L1055
https://github.com/aws-amplify/amplify-

[2020-10-26 20:25] mateomorrison commented on #5918
If you still have this problem (I did with aws-amplify@latest), I added the code to my `solutions` repo. Also `rm -rf node_modules` and then `npm i` or `yarn`. This should clear it.

[2020-10-26 20:29] kierancrowntrt commented on #5044
Are there currently any plans to implement this. I'm currently using Storage to retrieve MP3's but this method takes too long as it has to load the whole MP3. I'd be interested if this feature was added so I don't have to write a custom class to do this for me.

[2020-10-26 20:30] kierancrowntrt commented on #6830
I'd like to see this also. Possibly relates to https://github.com/aws-amplify/amplify-js/issues/5044

[2020-10-26 21:12] sw-yx commented on #6830
related requests:

- https://github.com/aws-amplify/amplify-js/issues/6157
- https://github.com/aws-amplify/amplify-js/issues/5131

[2020-10-26 21:13] sw-yx commented on #5131
do you mind +1ing this request? https://github.com/aws-amplify/amplify-js/issues/6830 if its close enough to your needs?

[2020-10-26 21:30] kdchu commented on #7053
@amhinson I am not completely sure what went wrong so I am unsure how to reproduce it without providing a public repo. I was able to fix the issue by ultimately creating a new project and bringing the old components in. I was able to import the same Auth and used the same configuration settings for everything from my IAM user to my API. My only thought is that I was missing something in the analyt

[2020-10-26 21:30] #7053 closed

[2020-10-26 21:39] elorzafe commented on #7064
@castledraw

Can you give more details from your App, and how you are using Amplify?

Is a SSR App?

[2020-10-26 21:49] elorzafe commented on #7057
@bensie

Thanks for your feedback. Automatic reconnection is not available on API category. You will have to deal with this on the `observer error` callback.

The problem is that handling data and control messages on the subscription channel will be a breaking change and we cannot add this to the current version. The existing mechanism is using by re-initializing the subscription.

DataStore has t

[2020-10-26 21:51] undefobj commented on #6997
This is correct, [DynamoDB applies filters to a result set after the database operation has executed](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Query.html#Query.FilterExpression). This is standard for NoSQL database engines. Filters can be a nice feature and help for initial onboarding, but you are correct at scale just using a filter isn't going to be the best customer expe

[2020-10-26 22:02] castledraw commented on #7064
@elorzafe I have an application built with react and amplify.  This use cognito for Auth, and i want to embed a kibana dashboard in my app.

There is my elasticsearch instance configuration
![image](https://user-images.githubusercontent.com/11053872/97232596-0bcca080-17a3-11eb-9566-6d37b3da995b.png)
![image](https://user-images.githubusercontent.com/11053872/97232607-10915480-17a3-11eb-949e-0f0d35

[2020-10-26 22:52] GennadiyT commented on #7034
Hi Alex.
I don’t think we are managing tokens ourselves, we just query for a token for a given (signed in) user.
May be this would help:
we have component class (OverviewComponent.ts)) and we have service class (SettingServices.ts). SettingsService  gets called from OverviewComponent.
If I call Amplify/Auth from OverviewComponent ctor and store data(username/accessToken) in localStorage than I don

[2020-10-26 23:12] justifiedfalsebeliefs commented on #610
This setting cannot be changed in the Cognito console after the user pool is created. A low-hanging fruit would be for the Amplify team to add the ability to flip this check during the cli-add auth flow. This wouldn't help migrating users, but would allow a new Cognito user pool to be provisioned that is case-insensitive.

[2020-10-26 23:31] GennadiyT commented on #7034
HI Alex.
Please take a this. Is this what’ve asked about signing in:

import { Component, OnInit } from '@angular/core';
import { AmplifyService } from 'aws-amplify-angular';
import { Router } from '@angular/router';

@Component({
  selector: 'app-login',
  templateUrl: './login.component.html',
  styleUrls: ['./login.component.scss']
})
export class LoginComponent implements OnInit {
  signedIn:

[2020-10-26 23:59] hutchida commented on #6997
Thanks @undefobj , also, for those who come across this thread, this article helped me understand what was going on:
https://www.alexdebrie.com/posts/dynamodb-filter-expressions/
My solution was to set up new resolvers by modifying the appsync schemas. I would recommend reading this page:
https://docs.aws.amazon.com/appsync/latest/devguide/tutorial-dynamodb-resolvers.html
Starting at 'Setting Up t

[2020-10-27 00:16] clarkkozak commented on #6968
Hello @isacRU11

Thank you for taking the time to create this issue! I'm with @haxordx and I'm looking to replicate this issue.

It seems that you're using Vue and vuex for this project. It's tough to say how the `created` method gets executed. To get a more accurate description of this issue, could you provide an example repository for people to attempt to replicate?  With `amplify` we can also r

[2020-10-27 00:34] stayingcool commented on #6988
I just stumbled upon this issue as well and wondering how can I do the same. I need the onCreate Subscription to update the information for the auto-refresh functionality that is needed in my app.

This is my first GraphQL subscription with AppSync/Amplify and I'll be disappointed if this doesn't work as expected. I certainly do not expect to write code to maintain web socket connections.

Is any

[2020-10-27 00:35] stayingcool commented on #6988
By the way, I'm using the GraphQL client and not the SDK.

[2020-10-27 00:37] stayingcool commented on #7057
Does this apply to GraphQL client as well? I'm not using GraphQL SDK and I'm seeing the same issue.

[2020-10-27 00:41] thecloudslayer commented on #2828
This works for me

function lists3(){
  Storage.list('', { level: 'private' })
      .then(result => console.log(result))
      .catch(err => console.log(err));
}

![Screen Shot 2020-10-26 at 8 41 30 PM](https://user-images.githubusercontent.com/8225487/97243001-ad67e800-17cb-11eb-811c-d4614250a571.png)

[2020-10-27 02:28] toschlog commented on #6961
I posted an issue in the Cognito forum: https://forums.aws.amazon.com/thread.jspa?threadID=330325

Thanks for your help!

[2020-10-27 03:20] zhengligs commented on #6291
Hey, looks like the bug comes back again. Any idea? @fjolin-intuit
Last time we only tested sandbox, but now as we're using production, the bug shows up again.
Is it still good for you? @mikalai-okun

[2020-10-27 05:46] Pablongo24 commented on #6167
Status? Can we use the Amplify Hub to prevent this event? If yes, documentation?

[2020-10-27 09:03] ttngocthao commented on #2828
My cause was the list bucket permission. This link below helped me to solve the problem. I hope it works for you too.
[https://github.com/aws-amplify/amplify-cli/issues/3509]

[2020-10-27 09:47] VM1801 commented on #6330
Guys do we have any update on this ? Experience same trouble with Angular application

[2020-10-27 10:28] PatrykMilewski commented on #329
Would be nice to have that

[2020-10-27 12:06] TonyAsbestosAlert opened #7067 "Blank password on logon gives "Custom auth lambda trigger is not configured for the user pool" error"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
User pool configured for login with email only.
If I attempt to login with an email address but leave the password field empty then i get the message:
   "Custom auth lambda trigger is not configured for the user pool."
A similar issue was recently fixed for the account registration

[2020-10-27 12:19] ChristopheBougere commented on #6782
I'm having the same issue (with react).
The browser was prompting well with the old system, this is a regression with the new auth component.

[2020-10-27 12:48] pr1ze opened #7065 "Cognito users can see each others creadit card information via subscriptions"
**Describe the bug**
Users are able too see others data, when they have an active subscription and someone else created a entity via AppSync.

**To Reproduce**

Graphql:

[code]

Having two different cognito users logged in on each of their device (Seen on iphone), and do:

[code]

When one user do DataStore.save({the credit card}) it pops into the DataStore of the other user (With a different use

[2020-10-27 13:16] laclance commented on #6488
I am still experiencing this due to my wifi connection intermittently dropping and reconnecting.
Data does not seem to be syncing to the cloud either, but it does when i have an uninterrupted connection.
[code]

[2020-10-27 15:03] mikalai-okun commented on #6291
We are using this in production for a while now, no report has been submitted and I personally never encountered this bug after the fix. Our stack - ReactJS with Amplify and Cognito, do you use the same?

Have you tried to debug this in a Cognito hosted UI, opening a network tab, and watching all requests? What exact error you are seeing?

I would recommend copying the initial state issues with Au

[2020-10-27 15:36] nubpro commented on #6488
@elorzafe Can we please have this issue reopened?

@laclance finally, someone has the problem as I'm having 👍

[2020-10-27 15:38] sammartinez commented on #6108
Resolving as these use cases are fixed and within the latest version of `aws-amplify`. Please let us know if you are still experiencing these issues. Thanks!

[2020-10-27 15:38] #6108 closed

[2020-10-27 15:48] iartemiev commented on #7059
@imoby it's very unlikely that that space is being taken up by DataStore. I just tested an RN app on a physical device with 50 records and 10 models and it's using ~ 600kb.

Could your app be caching your images locally?

[2020-10-27 15:55] andre347 opened #7066 "Error handling auth response. Error: Google+Error+-+401+invalid_client"
**Describe the bug**
Using Google Authentication as my social provider in my React Amplify project throws occasionally a Google Error 401 invalid client. What makes this very odd is that I've been working on this for about two days and each day for a few hours with no problems at all and then all of a sudden this errors pops up and it stops working. Without me touching anything in the Cognito cons

[2020-10-27 16:05] naripok commented on #7022
Hey guys,

I tried my best to reproduce the bug within a minimal implementation, however I had no success.
The only way I found to reproduce it reliably without inducing a browser segfault is to mess directly with dynamo.
As it is not the observed buggy behavior and adds no information to the matter, I'll close this issue.
My application works reliably using graphql calls, and also gets improved p

[2020-10-27 16:05] #7022 closed

[2020-10-27 16:32] mllrmat commented on #6928
@ashika01, @mauerbac,  @amhinson, @wlee221 Could you give me any update on this issue?

[2020-10-27 17:06] jhockett commented on #7067
Hi @TonyAsbestosAlert. I had your issue transferred because the error message you're getting isn't apart of the CLI. cc @sammartinez

[2020-10-27 17:41] krcummings1 commented on #6756
Does amplify support Vue 3 yet? I'm getting this error and am unsure if I did something wrong or if it's still unsupported.
`
 warning  in ./node_modules/@aws-amplify/ui-vue/dist/index.js

"export 'default' (imported as 'Vue') was not found in 'vue'`

[2020-10-27 17:45] amhinson commented on #6756
@krcummings1 As mentioned in the comment above, Amplify does not have Vue 3 support yet due to our usage of StencilJS for the UI Components. Once the pending [PR](https://github.com/ionic-team/stencil-ds-output-targets/pull/94) is merged, we will work to upgrade our libraries soon after.

[2020-10-27 18:35] lr001dev opened #7068 "Authorizing API Gateway Using Cognito User Pool Groups :: No 'Access-Control-Allow-Origin'"
**Describe the bug**
I'm not sure if this is a bug or a mis understanding on how it works, however, I have setup Api Rest Serverless Express via Amplify. I have added endpoints and restricted access for Authorized, Guests & User Groups. I'm currently trying to hit one of my endpoints using a Cognito Access JWT Token. When I don't provide an Authorization Header in the request the API category seem

[2020-10-27 18:48] hisham commented on #1636
+1. What's the point of setting up this dir if you don't offer us out of the box way to upload to it? Seems like this is the best way to allow unauthenticated users to upload files.

[2020-10-27 18:49] hisham commented on #1636
Also the documentation has zero mentions of this "upload" dir - https://docs.amplify.aws/lib/storage/upload/q/platform/js.

[2020-10-27 18:55] amhinson commented on #7065
@pr1ze You are correct that the subscription does seem to be created with IAM instead of User Pools as the authorization type. However, DataStore doesn't currently support using multiple auth type on a model, so the use case you have here won't work as you are expecting. If you remove the `{ allow: private, provider: iam }` rule, it should work.

[2020-10-27 19:18] hisham commented on #1636
I figured out how to upload to this folder - just need to pass the following in Storage.put:

[code]

Weird that this folder is not documented at all. Is this a left over from mobile hub that is planned to be deprecated or something?

[2020-10-27 19:36] RicardoBarroso commented on #3124
I stumbled again on this issue and now **I was able to solve it despite NOT using `Automatically Manage Signing`**:

![Screenshot 2020-10-27 at 19 26 39](https://user-images.githubusercontent.com/2791179/97352630-cedbd900-188a-11eb-910f-2cefb3a608e0.png)

Like on the image above, **on your build scheme:**
* **uncheck `Debug executable`**; and
* **select `Automatically`.**

[2020-10-27 20:32] hmisonne commented on #6108
@sammartinez I uploaded the latest version of `aws-amplify` and I am still experiencing the same issue when adding an `editors` field to my model:

I am following the [amplify docs](https://docs.amplify.aws/cli/graphql-transformer/auth#owner-authorization) with a model similar to this one:

[code]
I am not sure if this is related but I have also experienced an issue in the past when there is a fie

[2020-10-27 20:39] elorzafe commented on #7052
@sw-yx

I did the same steps you mentioned and with unauthenticated users I was able to list the objects.

[code]

What were your auth settings?

[2020-10-27 20:53] elorzafe commented on #7067
Thanks @TonyAsbestosAlert

This is a duplicate of the issue #5623 I will close this issue but please keep looking on the other for further information

[2020-10-27 20:53] #7067 closed

[2020-10-27 21:02] amhinson commented on #6108
@hmisonne That use case with an array of "owners" is a slightly different than the original issue here. Could you open a new issue so we can more precisely look into the problems you're having?

[2020-10-27 22:10] hmisonne opened #7069 "DataStore with @auth - subscriptionError ... MissingFieldArgument: Missing field argument editors"
**Describe the bug**

I built a React Native App and I am following the [amplify docs](https://docs.amplify.aws/cli/graphql-transformer/auth#owner-authorization) to add **owner authorization**. I am using `withAuthenticator` to register and sign in users through AWS Cognito.

Adding an `@auth` rule to a model with **multiple editors** will throw a **subscription Error** :

Having just **one owner*

[2020-10-27 22:12] hmisonne commented on #6108
@amhinson Done, I described my issue here #7069 !

[2020-10-27 22:31] amhinson commented on #7069
Thanks for opening the issue @hmisonne! Unfortunately, having an array of owners with DataStore isn't currently supported due to how AppSync handles owner based auth with an array of owners and how the subscriptions need to be created. This is a limitation we're aware of, and we are currently working on updating the documentation to more accurately reflect any potential limitations you might run i

[2020-10-27 22:35] mchitson opened #7070 "Appsync graphQL connection closed error"
Hi I am using subscription via graphQL and getting frequent connection closed error from Appsync, for no apparent reason. It seems to happen at random times. Don't know how to reproduce it.

<img width="985" alt="Screen Shot 2020-10-27 at 6 23 09 PM" src="https://user-images.githubusercontent.com/48572310/97369050-83bdc800-1882-11eb-82b1-88073356d7a2.png">

My .js code:

 subscribeExhibitorNotific

[2020-10-27 22:41] hmisonne commented on #6965
Thank you @wei it does work now.
It looks like running the command amplify-modelgen is now generating :  `(string | null)[]` for an optional field instead of just  `string[]`
[code]

[2020-10-27 22:41] #6965 closed

[2020-10-27 22:43] wei commented on #6965
@hmisonne Amazing! Thanks for getting back to us with your success update! 🎉

[2020-10-27 23:08] sw-yx commented on #7052
i also have no problem when **unauthenticated**. thats not the issue i filed. i wrote my repro steps above.

[2020-10-27 23:21] hmisonne commented on #7069
Thanks @amhinson, I looked at the static group authorization, but it won't unfortunately work for my use case.

I really hope that this new feature will be available soon!

[2020-10-27 23:45] varmab commented on #6739
Same problem.. None of above solutions worked. Any other tips?

[2020-10-28 00:56] uncodable opened #7071 "Authentication - Feature - Immutable attributes checking"
**Is your feature request related to a problem? Please describe.**

On `cognitoUser.completeNewPasswordChallenge` the second function variable is the users attributes, what I've done is on the callback for `cognitoUser.authenticateUser: newPasswordRequired` returns the attributes, I set them in my state. However due to `cognitoUser.completeNewPasswordChallenge` accepting attributes back that are i

[2020-10-28 01:09] zhengligs commented on #6291
We are using a different front end to connect to Cognito.

The problem, though, is the old problem you discovered: Intuit returns a state that is cut off.

In our case, Cognito sends over state of `1868` characters long:
[code]

When Intuit returns it, it has only the first `1744` characters:
[code]

The state has been moved around inside Intuit, from `https://appcenter.intuit.com/connect/oauth2`

[2020-10-28 01:47] wei commented on #7049
Hi @myfairshare I have tried to reproduce your issue. However, it is working fine for me. Code: [wei/amplify-js-7049](https://github.com/wei/amplify-js-7049)

Feel free to try it and let me know if it works for you. If possible, please create a minimal reproducible example repo from scratch with amplify CLI 4.33.1 or on top of my repo so we can further assist you! Thank you!

[2020-10-28 04:23] castledraw commented on #7064
I want to embed my kibana dashboard(configured with cognito) in my react amplify application with the same cognito user pool. I'm Ok all the configuration:

- ElasticSearch with cognito authentication, its Ok
- React Application with Amplify, its Ok
- Auth with cognito in my application, its Ok, if i use a new appclient without secret key.... but i need to share the same appclient created by elast

[2020-10-28 05:31] pr1ze commented on #7065
@amhinson Does the Documentation state that the DataStore does not support that? Cause reading about the auth directive, one really gets the impression that this is an acceptable model.

I cant remove IAM - then i cannot call the API from my lambda functions.

Can you point me to where it's documented, that the DataStore only supports a single auth type?
But if it is not documented, then this is n

[2020-10-28 05:42] rpostulart opened #7072 "Rekognition.detectCustomLabels"
Request: with the rise of machine learning AWS Amplify is already offering a great library with predictions. I am working now on a project where I need to work with custom labels.

This is the same implementation as:

https://github.com/aws-amplify/amplify-js/blob/a047ce73abe98c3bf82e888c3afb4d2f911805f3/packages/predictions/src/Providers/AmazonAIIdentifyPredictionsProvider.ts

line 228: detectLab

[2020-10-28 05:52] vishgoel007 opened #7073 "React native iOS user signed out when offline and idToken expired"
**Describe the bug**
When the app is open in offline mode (no internet connection) and ```Auth.currentAuthenticatedUser()``` is called, the function give exception "not authenticated". Id token is expired and refresh token is valid.

**To Reproduce**
Steps to reproduce the behavior:

1. User signed in
2. User went offline
3. User opened the app again after one hour or more (since idToken expiry is

[2020-10-28 07:12] ruiyang opened #7074 "AuthClass was removed from the export of ./aws/amplify-js/packages/auth/src/index.ts"
**Describe the bug**
AuthClass was removed from commit 2b34736f8b88f022618a2933b3a02987ec1ab514.

**Expected behavior**
AuthClass should remain exported because it could be used by others.

**Code Snippet**
before:
export {
	Auth,
	AuthClass,
	CognitoUser,
	CookieStorage,
	CognitoHostedUIIdentityProvider,
	appendToCognitoUserAgent
};

now:
export { Auth, CognitoUser, CookieStorage, CognitoHostedUI

[2020-10-28 09:33] andrecadete commented on #1226
I will assume the issue I'm seeing is related to this and in that case it's not solved at all.

It still silently changes the MFA method when logging in "randomly". My use case:

SOFTWARE_TOKEN_MFA is set as preferred yet sometimes when logging in it send an SMS. Just yesterday I logged in multiple times with SOFTWARE_TOKEN and thought maybe this was something I did wrong before. To my surprise th

[2020-10-28 10:02] TAConsulting commented on #5782
Any updates on this?

[2020-10-28 11:32] smartcris commented on #3682
My yarn install log clearly show the amazon-cognito-identity-js being added when the "@aws-amplify/auth" package is installed. More than a clarification we need a fix.

[2020-10-28 12:06] PatrykMilewski commented on #6419
I'm having the same issue. Uploading for small files works, for file of size 5.7 MB it fails.

Using Amplify 4.19.0

[2020-10-28 13:46] ACHP opened #7075 "Analytics: *autoSessionRecord:false* cause the app to never record any events."
**Describe the bug**
If I use *autoSessionRecord:false* and I don't use the flag `immediate` to record my events, no events is ever sent.

**To Reproduce**
Create a simple node project or react-native or web, add amplify-js, use a configuration file with `autoSessionRecord:false`
exemple:
[code]

Then in your app call:
[code]

With a tool like HTTPToolkit or whatever, observe your network, you'll

[2020-10-28 13:47] mchitson commented on #7070
for more info, i also see a comment from webpack after the appsync error:

![image](https://user-images.githubusercontent.com/48572310/97444327-69c3ca00-1902-11eb-8034-eb8e0c18ee5c.png)

Not sure if it's react closing the connection or appsync causing react to print out that command.

that's my version of react:

  "react": "^16.13.1",
    "react-dom": "^16.13.1",
    "react-scripts": "3.4.3"

[2020-10-28 14:10] makeitraina commented on #987
Not Stale!

[2020-10-28 14:20] joelworsham opened #7076 "IAM/Cognito auth roles no longer providing proper S3 access via AWS amplify"
**Describe the bug**
React Native project using:

[code]

Calling `Storage.get()` for a known resource in the `/public` directory, and then loading the returned signed URL gives me the following error:

[code]

Note that `AWSAccessKeyId` is `undefined`. At this point, the user has already been authenticated properly via `Auth.signIn()`, so my assumption is that they should gain access to the S3 bu

[2020-10-28 14:39] marcelloromani commented on #987
@AdamiHamza thanks for mentioning the `UpdateAfterVerification` trick.
I am struggling to understand how that parameter can be passed to Amplify's
[code]
(Python dev here)

Any hints? Thanks and apologies in advance for the dumb question!

[2020-10-28 14:43] kvdy commented on #5167
I am also facing this issue. For my react routes, I am checking the authentication and it always returns not authenticated.

[2020-10-28 14:55] Rolando-Barbella commented on #5167
@kvdy Maybe you are missing the confirmation step? _Auth.confirmSignUp_

[2020-10-28 15:18] sw-yx commented on #7052
Possibly related issue: https://github.com/aws-amplify/amplify-js/issues/7076 this may be a regression on Cognito side?

[2020-10-28 16:07] automatensalat commented on #2906
It's stuff like this that makes me lose faith in AWS. Really disappointing to see this being ignored for years.

Anyway, for any Googlers coming here. Depending on your use case you might be able to do the following:
1. set the user pool to MFA optional
2. when a user loses their MFA device, disable the user MFA preferences using the admin API:
`aws cognito-idp admin-set-user-mfa-preference --user

[2020-10-28 19:06] SalvoCozzubo commented on #7070
Same here. I have a react app with three subscriptions and all subscriptions received a "Connection Closed" in a complete random way.

Sometimes the connections are stable and sometimes they are closed after a couple minutes.
I will continue to investigate.

[2020-10-28 19:31] iartemiev commented on #7024
No, you don't need to specify a predicate each time you perform a `save`. This is an option that allows you to perform a conditional update when you're expecting that the back end might be out of sync with the client.

It's just a string value. E.g., it would match a post containing: `{title: "[Amplify] - my post"}`

[2020-10-28 21:30] mikeRChambers610 commented on #1715
how does this solve "TypeError: user.completeNewPasswordChallenge is not a function"??

[2020-10-28 21:39] mikeRChambers610 commented on #915
Where is the documentation on this process!? I dont see any solution in this feed either but the issue is closed :/

[2020-10-28 21:42] mikeRChambers610 commented on #1715
Would you please provide the working example for the rest of us?

[2020-10-28 22:52] borisdayma commented on #6885
I use:
`@aws-amplify/ui v2.0.2`
`aws-amplify v3.3.1`

[2020-10-28 23:39] mikalai-okun commented on #6291
@zhengligs is there any way you can force to have a shorter state in your front-end? for Cognito the sate is optional, as I guess, you will need to reach out to Intuit to increase the value they can return.

[2020-10-29 00:07] zhengligs commented on #6291
Unfortunately we don't have control of state token length of that front-end and a state token is mandatary there. We've tried to generate the state token there with different arguments. But that doesn't seem to impact how long the state token Cognito will generate. Unless we omit the state token there, Cognito will generate a state that is much shorter (only ~1200 characters). However, it doesn't

[2020-10-29 00:09] Mskalba opened #7080 "Federated SignIn during manual configuration."
**Describe the bug**
I am trying to implement Federated SignIn with usage of manual Amplify configuration. The Cognito is already used and Google setup is finished in Cognito as well.

**To Reproduce**
In Create react app add package: `aws-amplify`

Configure it following the documentation:

[code]

Try to use SignIn with Google:

[code]

The error displayed:

[code]

redirectSignIn should not be

[2020-10-29 00:40] fjolin-intuit commented on #6291
@mikalai-okun @zhengligs After discussing this with our gateway team last time - they came to the conclusion that 2k would be our max character count for redirect URL but asked that this be raised again.  Can we get someone from Cognito to comment on your suggested solution from yesterday and on September 21st?

[2020-10-29 01:19] mchitson commented on #7070
Hello amplify guys, any luck?

[2020-10-29 02:19] mikeRChambers610 commented on #5154
I am still having this issue. How do you handle user.challengeName === 'NEW_PASSWORD_REQUIRED'??

[2020-10-29 08:40] Nxtra commented on #2203
I have an app where users upload images that need to be readable by all other users. So access level = protected.

When I want to read an image from storage I need to provide the identityId of the user that created the image.
In my case I have a table where I store the image S3 key and the identityId of the owner.
With that information I do a `Storage.get` of the protected image.

[code]

[2020-10-29 10:05] #6675 closed

[2020-10-29 13:11] sysless opened #7081 "AmplifyAuthenticator stuck in loading state after refresh"
**Describe the bug**
After signing in with hosted UI, I am redirected to my React App and signed in.
But the first time I refresh the page, I am stuck in `loading` state, no AuthStateChange gets fired.
And yet, if I refresh again, I am signed in and it does not happen anymore for the session.

**To Reproduce**
Steps to reproduce the behavior:

1. Use `AmplifyAuthenticator` from `@aws-amplify/ui-re

[2020-10-29 15:28] NoControl712 commented on #612
Just adding my 2 cents. This feature would be awesome. Please add.

[2020-10-29 15:34] lvillacin commented on #5228
Hi @Ashish-Nanda

I'm trying to implement this and am following your post and the one in the [official amplify docs](https://docs.amplify.aws/lib/auth/social/q/platform/js#full-samples) but the login still opens in Safari.

The only thing that's different is that I run `amplify.configure` in my root file and not where I run `Auth.federatedSignIn`
I'm also running this on the iOS simulator if it ma

[2020-10-29 15:45] zhengligs commented on #6291
We just did a weirdest thing to make the front end we use generate a shorter state token, which in turn makes Cognito generate a shorter state token. And because of that we are fine now. Thanks @mikalai-okun @fjolin-intuit !

[2020-10-29 15:54] amhinson commented on #6739
@varmab Could you give some more details about your setup? Did you setup the URI scheme for your app, and does that match the callback & signout URLs in Cognito?

[2020-10-29 16:27] lvillacin commented on #5228
I tried a bunch of different random things and this seemed to work:

**index.js:**
`import { AppRegistry } from 'react-native'
import App from './src'
import { name as appName } from './app.json'

import { Linking } from 'react-native'
import InAppBrowser from 'react-native-inappbrowser-reborn'

import Amplify from 'aws-amplify'
import config from 'aws-exports'

Amplify.configure({
    ...config,

[2020-10-29 16:29] adsk-alexand opened #7084 "How can you get the next 1000 records in the S3 bucket?"
https://github.com/aws-amplify/amplify-js/blob/958f61ef2918728cc46b9b210d60e868edd87f39/packages/storage/src/providers/AWSS3Provider.ts#L395

[2020-10-29 19:18] simon-lanf commented on #5782
Please fix this, it is also affecting almost every testing frameworks. You can't use Selenium, Cypress and stuff like that.

[2020-10-29 19:41] joelworsham commented on #7076
One thing I just noticed is that IAM role management console is telling me the auth'd role has not been used in 47 days... which doesn't make sense, considering it *should* be used right now as I'm testing. It's almost as if this role just stopped being used for some reason.

![Markup 2020-10-29 at 15 39 42](https://user-images.githubusercontent.com/4182573/97624211-2ef28c80-19fd-11eb-967d-926a33f

[2020-10-29 21:27] chunyanj commented on #7070
Hi, I’m from the AppSync team. I’m happy to look into the issue you’ve been seeing, would anyone impacted be able to share a rough timestamp (open time and drop time), api id, and region for a connection that dropped? Sorry for the issues!

[2020-10-29 22:02] #7084 closed

[2020-10-29 22:16] iartemiev commented on #7049
@myfairshare based on the auth rule on your `User` model, it appears you're attempting to store the `owner` information in the id field. This is not supported. The `id` field is managed by DataStore and must not be mutated.

Please try changing your schema to:
[code]

Also, could you share the code for how you're saving and deleting records with these models?

[2020-10-29 22:17] sravimohan opened #7085 "PubSub used in Angular does not receive messages when built with the prod flag (ng build --prod)"
**Describe the bug**
PubSub used in Angular ("10.0.7") does not receive messages when built with the prod flag (**ng build --prod**).

**To Reproduce**
1. Create a angular application and configure PubSub with  AWS IoT Core MQTT.
2. build the application with the prod flag
    ng build --prod

**Expected behavior**
PubSub.subscribe should receive messages.

**Code Snippet**

      import { PubSub

[2020-10-30 00:21] CryogenicPlanet commented on #6742
@nodroglegin You should not change dynamodb directly. You should use graphql mutations to make any changes. I think this is because the timestamp is not updated or something along those lines if you interact with graphql directly it will work.

[2020-10-30 01:00] iartemiev commented on #5119
Selective Sync has been released as part of **aws-amplify@3.3.5**

Please see [this section](https://docs.amplify.aws/lib/datastore/sync/q/platform/js#selective-sync) of the docs on how to utilize it.

[2020-10-30 01:00] #5119 closed

[2020-10-30 01:04] iartemiev commented on #4957
We just released the Selective Sync feature for DataStore in **aws-amplify@3.3.5**.

Please see [this section](https://docs.amplify.aws/lib/datastore/sync/q/platform/js#selective-sync) of the docs on how to utilize it.

Closing, as this addresses the feature request.

[2020-10-30 01:04] #4957 closed

[2020-10-30 01:43] mchitson commented on #7070
Hi Chunyanj is it possible to send you a private message regards to API id?
In the meanwhile the other info:

region is us-east-1
open time probably around 10am EST (not quite sure if i am remembering the open time accurately), drop time around 1:35pm EST, all 29th oct 2020.

[2020-10-30 04:33] KIWI-JP commented on #661
I followed this approach and was able to successfully switch between user pools. However, and as expected, users signed in using the new user pool I added manually to my project (I already had one which was setup with my amplify project) are not able to access any of the restricted APIs I had originally created. How can I give this new user pool access to the same APIs or new ones?

[2020-10-30 05:34] rpostulart commented on #5119
Wow that is great. Thanks for all the effort, I will try it out.
I don't understand the docs about when a query is triggered instead of a scan. Is that because a field of a key field is used?

[2020-10-30 06:19] gruckionvit commented on #455
The link doesn't contain meaningful information. Has it changed?

[2020-10-30 09:26] idanlo commented on #6949
@drochetti Ok, what about the first error?

[2020-10-30 12:03] myfairshare commented on #7049
Thanks wei and iartemiev,

    Thanks for your help, will be going back to this soon and will report how I things are going, thanks again!

[2020-10-30 12:28] arunsai-mweb opened #7086 "API not found error"
Index.js:246 API "GetModelsFromAurora-API" does not exist

Amplify.configure(
  {
    API: {
      endpoints: [
        {
          name: "GetModelsFromAurora-API",
          endpoint: "https://xxxxxx.xxx.amazonaws.com/Sandbox"
        }
      ]
    }
  });
const apiName = "GetModelsFromAurora-API"
const path = "/GetModelsFromAurora"
API
      .get(apiName, path, {})
      .then(response => {

}).

[2020-10-30 12:51] ahtokca commented on #54
It seems like very *bad advise* from security point of view

[2020-10-30 13:19] LaurentEscalier commented on #6913
Hey there ! I am facing a situation that relates to this issue:

When a user signs up with Federated SignIn, I'd like to save the preferred locale using Cognito's locale attribute. Unfortunately, not all providers share the user's preferred locale. I'd like to be able to pass the preferred locale as a custom attribute:

[code]

Is there a way to achieve that ?

[2020-10-30 14:06] iartemiev commented on #7065
Hey @pr1ze, we're currently in the process of improving our docs around this use case.

In the meantime, please try the following:
* Open `./models/schema.js` in your text editor
* Remove the IAM rule from `models.CreditCard.attributes[1].rules`

This will prevent DataStore from attempting to authenticate the subscriptions with IAM in your app, but you will still be able to authenticate with IAM f

[2020-10-30 14:22] iartemiev commented on #5119
@rpostulart thank you! We'll be updating that section of the docs to make it more clear. But you are correct. In order for a Query operation to be performed, you would need to specify a predicate that corresponds to the Hash Key and optionally the sort key of your GSI.

For example, if you have

[code]

The following prediates will result in a query:

[code]

The Hash Key has to use the `eq` opera

[2020-10-30 14:35] ahtokca commented on #54
At react-native client code I pass JWT token to IAM authorized lambda

[code]

At my IAM authorized lambda I do make sure that the passed JWT token resolves to the same Cognito Identity as in the call context.

[code]
This way I can i know user Cognito Identity and user info like email, sub, IdP UserId which is enough to find user at UserPool or dynamo DB

[2020-10-30 14:53] jinglics opened #7087 "amazon-cognito-identity-js@4.5.1 not found"
**Describe the bug**

When installing aws-amplify using npm,  get error.
error Couldn't find any versions for "amazon-cognito-identity-js" that matches "^4.5.1"

**To Reproduce**

npm i amazon-cognito-identity-js@4.5.1

**Expected behavior**

latest version is 4.5.1

**Code Snippet**

npm ERR! code ETARGET
npm ERR! notarget No matching version found for amazon-cognito-identity-js@4.5.1.
npm ERR! n

[2020-10-30 15:00] danrivett commented on #5119
This is great work, I love that optimization.

Even better would be great if we could explicitly state we _only_ want a query for the sync expression, and it fails on `DataStore.start()` if the query cannot be satisfied by a query operation rather than failsover to use a scan, as this would avoid a possible costly big on large datasets.

Perhaps we can have an optional config object passed in at t

[2020-10-30 15:03] mlxyz opened #7088 "DataStore selective sync expression syntax not working with TypeScript version 3.9.7"
**Describe the bug**
Using the new DataStore selective sync expressions with TypeScript `3.9.7` as follows
[code]
results in the following error:

`
TS2322: Type 'Promise<{ modelConstructor: PersistentModelConstructor<User>; conditionProducer: (condition: ModelPredicate<Readonly<{ id: string; } & Record<string, any>>> | ModelPredicate<...>) => ProducerModelPredicate<...>; }>' is not assignable to

[2020-10-30 16:28] elorzafe commented on #7087
@jinglics

I just tried the same as you

[code]

Are you using some kind of npm proxy?

[2020-10-30 16:31] elorzafe commented on #7086
@arunsai-mweb

Can you share your `package.json`?

Can you retry removing your `node_modules` directory and try a fresh install?

[2020-10-30 16:57] elorzafe commented on #7080
@Mskalba

Are you trying to implement Cognito UserPools federation with HostedUI?

In that case you should configure Oauth section like is mentioned on [Re-use existing authentication resource](https://docs.amplify.aws/lib/auth/start/q/platform/js#re-use-existing-authentication-resource)

[2020-10-30 17:03] #1608 closed, assigned to nobody

[2020-10-30 18:26] zjullion opened #7089 "Error: com.amazonaws.deepdish.graphql.auth#BadRequestException"
**Describe the bug**
An error thrown from inside the `amplify-js` library during an AppSync GraphQL call.

**To Reproduce**
Make thousands or millions (hard to say, exactly) of GraphQL calls to AppSync and hope one fails in this specific manner..

**Expected behavior**
I expect errors which are practically impossible to debug or reproduce to not occur - or, I expect to get more useful error messag

[2020-10-30 19:27] chunyanj commented on #7070
Thank you for the response! We have started to investigate. The API id has been recorded and you could delete the comment if you want. We will get back to you when we have update.

[2020-10-30 19:41] mchitson commented on #7070
great - thank you.

[2020-10-30 22:11] elorzafe commented on #7085
sravimohan@

Can you try doing this?

[code]

[2020-10-31 01:50] DoloMike commented on #3818
@jgiunta1 it worked for me, as someone else mentioned the federated object schema is

[code]

[2020-10-31 06:35] tqhoughton commented on #4886
I'm seeing this error again in the latest release of `"@aws-amplify/auth": "^3.4.9"`

Adding
[code]

to my package.json and removing `node_modules` and reinstalling doesn't help.

[2020-10-31 06:46] bidva commented on #4886
Yeah I was playing around with amazon-cognito-identity-js and got this error today. I searched the error and finally got here. I tried resolutions with yarn and even with npm-force-resolutions as npm doesn't support resolutions. it's very frustrating.

[2020-10-31 06:48] tqhoughton commented on #4886
Dang, I was just about to try changing my package manager to yarn. :(

If it's any help, I'm running a typescript file using `ts-node ./createUser.ts` and it's throwing this error when signing in a user.

[2020-10-31 06:49] bidva commented on #4886
@tqhoughton I just downgraded to 4.5.1 and seems start working again

[2020-10-31 06:52] tqhoughton commented on #4886
@bidva do you know what version of `@aws-amplify/auth` that would correlate to?

[2020-10-31 06:55] bidva commented on #4886
@tqhoughton no, sorry but you can try to test decrementally

[2020-10-31 07:03] tqhoughton commented on #4886
Downgraded to 3.1.0, which reintroduced a `global fetch is not defined` error, but installing `node-fetch` seems to have fixed that issue.

[2020-10-31 08:49] rpostulart commented on #5119
With this

[code]

Datastore is still syncing the other models too. I expect that it only sync quiz, is that a correct assumption?

This is in my package.json:
[code]

[2020-10-31 09:25] jpignata commented on #4886
Can you share the call stack of the error you're receiving? Thanks!

[2020-10-31 10:37] mchitson commented on #7070
hi Chunyan

 I have another question and i have been seeing those questions over the web but no response - if a device is online and currently get subscriptions, then goes offline and then online again, will the subscription still work and then get the latest mutation that was missed?

[2020-10-31 11:22] yaquawa opened #7092 "Upgrade `client-cognito-identity` and `graphql`"
**Describe the bug**
Comes from https://github.com/aws-amplify/amplify-js/issues/7013 for specific tracking purpose.

**Version**
4.31.1

**To Reproduce**
use webpack 5 as the bundler, build the package; the following errors shown up.
This can be fixed by update the upstream dependency `client-cognito-identity` and `graphql`

[code]

**Additional context**
https://github.com/aws-amplify/amplify-js

[2020-10-31 13:14] iartemiev commented on #5119
@rpostulart this feature allows you to apply a filter to the sync queries of the model(s) you specify, it doesn't affect the behavior of the other models though.

With your configuration, I would expect the `Quiz` model to only sync down a single record, but all other models to keep syncing all the data.

[2020-10-31 13:34] mcqj opened #7094 "WithAuthenticator crashes in React 17"
**Describe the bug**
When upgrading an App from React 16 to React 17, `withAuthenticator` fails with the error:-

[code]

**To Reproduce**
Use WithAuthenticator in the usual way to wrap the React App and execute.
Login to your app - (I was using username/password with Cognito user)
Upon authentivation, the error appears.

**Expected behavior**
No error

**Code Snippet**
Please provide a code snipp

[2020-10-31 14:07] walvekarnikhil commented on #6419
Here is my observation
[code]

Fails with Out of memory exception, can be found using `adb logcat`
Storage.put excepts complete file to be read in the memory, there is no way to read it chunk by chunk.

[2020-10-31 14:24] amhinson commented on #4886
@tqhoughton @bidva we just merged a fix that should address the issue you're having in Node. Can you try installing all Amplify packages you are using again with the `unstable` tag (i.e. `yarn add aws-amplify@unstable`) for testing? We are planning to do a release early next week to `latest` that will contain this fix.

You will also need to set the `crypto` module with: `global.crypto = require('

[2020-10-31 14:42] rpostulart commented on #5119
Cool! Then I understand the implementation and that works fine!

[2020-10-31 16:23] Zilvinaskli opened #7095 "how to disable Storage files cache"
I have an app where JSON for graphs is stored as separate files in an s3 bucket.
If I save a file and go back to my chart it loads an older version for a while.

This problem only started to appear after I updated my aws amplify version that was already 2 years old and I also added converting from blob to JSON because it started to come back as blob instead of json.

So is there some sort of defau

[2020-10-31 16:47] IsaacTrevino commented on #5179
My suggestion is canceling out the filter all together, especially if your using a type `enum` for `name`

[code]

[2020-10-31 18:15] SethThomas commented on #5737
I'm also facing this issue.

I have a fairly simple helper method to upload a file to S3 using Amplify from my client application:

[code]

When I call this method with a file named `my_file.jpg`, Amplify stores the file in `<my_bucket>/protected/<cognitoIdentityId>/<timestamp>-my_file.jpg`.  However, the `Storage.put` method returns a key of `<timestamp>-my_file.jpg`, which is not the full object

[2020-10-31 18:46] imoby commented on #5037
Please add this!

[2020-10-31 19:01] kumishida commented on #3116
Did you solve this issue? I tried to config AWS credentials but no luck.

[2020-10-31 19:31] iartemiev commented on #7088
@mlxyz thanks for reporting! I was able to reproduce and opened #7097 that fixes this. Will update the ticket once the PR has been merged and released.

[2020-10-31 19:49] KandarpAjvalia commented on #3116
@kumishida This might help.
[code]

[2020-10-31 19:58] kumishida commented on #3116
Thanks you for your suggestion!
After update AWS config, I need to use AWSAppSyncClient to initialize. Here is my config:
[code]

[2020-10-31 20:32] ltaljaard commented on #6982
This issue has started up again in my Expo Web app. It happens both from the browser and the mobile app. It does not help to sign out and sign back in once it starts happening. The first few days everything works and syncs fine but then it stops with this UnauthorizedException and the syncing stops working.

I'm using the standard suggested project setup and configuration as per the docs: [https:/

[2020-10-31 20:36] sravimohan commented on #7085
thank your for your response @elorzafe.  This does not seem to fix the issue for me.

I notice, the websocket connection seems to get stuck at HTTP 101.

![image](https://user-images.githubusercontent.com/253584/97789477-e7dee400-1c14-11eb-826b-12a4d1c03585.png)

Is there any more details I can provide?

[2020-10-31 21:27] sravimohan commented on #7085
In addition to the above,  changing from **Amplify.addPluggable to PubSub.addPluggable** seems to fix the issue.

So I am guessing, "import Amplify from 'aws-amplify'" gets tree sharked?

working code:

[code]

[2020-11-01 00:29] waelio commented on #5444
Same here, I am using the hosted UI, upon successful login I get redirected back with auth?code=1234567890

I am assuming that I need to post this code back to Cognito to get the token and the user info.
What is the Auth function?

[2020-11-01 03:22] guy-a commented on #5119
This is a wonderful update, DataStore only using scans was a real issue for any reasonable app.

I have 3 question/suggestions

1. **Prevent scans at all** -  It needs to be done in the backend and without the need to edit the velocity templates or similar. Leaving the API open to scan operations can lead to DOS attacks on our AWS billing.
1. **Redundant PK and SK** - Is it possible to generate th

[2020-11-01 04:08] ArthurAmes opened #7102 "Hub 'auth' channel 'signIn' event is not invoked if account has temporary password."
**Describe the bug**
The 'signIn' event is not invoked on the 'auth' channel when using Hub.listen('auth', () => { }) if the user account being used to sign in has the 'FORCE_CHANGE_PASSWORD' status

**To Reproduce**
Steps to reproduce the behavior:
1. Register a new listener: `Hub.listen('auth', data => {console.log(data.payload.event})`
2. Create a new user using the Amazon Cognito Admin panel;

[2020-11-01 07:25] #7039 closed

[2020-11-01 07:26] #7025 closed

[2020-11-01 07:26] #4197 closed

[2020-11-01 07:26] #7035 closed

[2020-11-01 07:26] #7015 closed

[2020-11-01 07:26] #5087 closed

[2020-11-01 07:26] #5081 closed

[2020-11-01 07:26] #5118 closed

[2020-11-01 07:26] #5231 closed

[2020-11-01 07:26] #5303 closed

[2020-11-01 07:26] #5894 closed

[2020-11-01 07:26] #5915 closed

[2020-11-01 07:26] #6667 closed

[2020-11-01 07:26] #6799 closed

[2020-11-01 07:26] #6813 closed

[2020-11-01 07:26] #6951 closed

[2020-11-01 07:26] #6992 closed

[2020-11-01 07:26] #6863 closed

[2020-11-01 14:38] Benzer1406 opened #7098 "Error: Native crypto module could not be used to get secure random number."
**Describe the bug**
I'm using the serverless.com framework together with: `"amazon-cognito-identity-js": "^4.5.2"` and I still get the error: `Error: Native crypto module could not be used to get secure random number.` even though it was supposed to be fixed in version `3.2.0`.

It happens when I use the `CognitoUser.authenticateUser` method. Any updates on this issue?

[2020-11-01 14:52] Benzer1406 commented on #4886
I'm running `"amazon-cognito-identity-js": "^4.5.2"` which uses `"crypto-js": "^3.3.0"` and get the same error. None of the solutions proposed have worked for me. Even downgrading `amazon-cognito-identity-js`to version `4.5.1`did not work. Any idea how to resolve the issue?

[2020-11-01 14:57] amhinson commented on #4886
@Benzer1406 could you try using the `unstable` tag with `amazon-cognito-identity-js`? Also, could you share more about your app? Is it Node? If so, see my comment above regarding setting the `crypto` module to `global`.

[2020-11-01 15:01] Benzer1406 commented on #4886
@amhinson  I just tried using the `unstable` tag with `npm install amazon-cognito-identity-js@unstable` unfortunately it keeps throwing the same error.

I'm using a serverless.com framework app, that uses the aws-nodejs-typescript template. So it is basically implementing the authentication in a nodejs app that I want to deploy in a serverless architecture (API Gateway, Lambda, ...).

I'm not sure

[2020-11-01 15:03] amhinson commented on #4886
@Benzer1406 did you add this line at the top of your file before importing anything?

`global.crypto = require('crypto')`

Note: this will only work with `unstable` at the moment.

[2020-11-01 15:08] Benzer1406 commented on #4886
@amhinson  Thanks for your help. Indeed, I had to install the unstable tag on the project root and the service root folder. And as you pointed out, I had not put that line at the very top of the files that imported `amazon-cognito-identity-js`. Thank you. Please keep me posted as soon as the final release is out.

[2020-11-01 15:10] amhinson commented on #4886
@Benzer1406 ok great! We will be getting a release in the next day or two.

[2020-11-01 18:32] An0r4k opened #7099 "Problem: Unable to update the notifications to use FCM."
Problem: Unable to update the notifications to use FCM.

Steps to reproduce:
1. Create a react native project
2. Add notifications using "amplify add notifications"
3. Choose the APN channel and follow the steps provided in the Amplify documentation
4. Now try to update the notifications to add FCM using "amplify update notifications"

Description:
I'm building a react native application, and for

[2020-11-02 02:01] jcardus commented on #4315
@cybercussion that worked for me too, thanks for sharing. Why do we have to spend so much time with this? Why didn't I choose firebase???

[2020-11-02 03:08] mpruyn commented on #7099
if I may,not to intrude or be disrespectful im new to well every thing tech related and have been having serious issues with my phone ,pc,etc. and well can any one help with tech ip and problems with intruders I have one in ip address of problem 192.168.0.63 and remote address 52.242.211.89 and that is acced through port 49672 ...please help

[2020-11-02 03:09] mpruyn commented on #7057
if I may,not to intrude or be disrespectful im new to well every thing tech related and have been having serious issues with my phone ,pc,etc. and well can any one help with tech ip and problems with intruders I have one in ip address of problem 192.168.0.63 and remote address 52.242.211.89 and that is acced through port 49672 ...please help

[2020-11-02 06:49] #7059 closed

[2020-11-02 07:42] KristineTrona commented on #5539
I am experiencing the exact same issue only on Android.

**aws-amplify:** 3.0.23
**react-native:** 0.63.2
**custom lambda triggers for authentication:** yes

[2020-11-02 11:38] myfairshare commented on #7049
Hi Iartemiev,

   Have come back to this today and followed your suggestions with a  slight change and have got delete working.

I added the userId but was getting an error generating schema it would only take type ID! non nullable.
For the userId value I used the users cognito sub id..

[code]
Then..

[code]

Here's my delete unit function..

[code]
I'm pretty much following the DataStore amplify

[2020-11-02 13:41] teezeit commented on #5019
+1

[2020-11-02 14:18] Zilvinaskli commented on #6413
I actually discovered cache optioned mentioned in docs there:
![image](https://user-images.githubusercontent.com/43344950/97878050-037de380-1d16-11eb-826d-aa95667f71ec.png)

I also found this answer about CacheControl: "no-cache"
https://stackoverflow.com/a/48988988/5943087

So i've tried
        await Storage.put((filePath), graphdata, {
          contentType: 'application/json',
          cacheC

[2020-11-02 14:22] Zilvinaskli commented on #7095
I found out that there are two similar opened and unresolved issues  (#6693 and #3433) can we expect any news about the solution?

[2020-11-02 15:49] EliasCoelho opened #7101 "DataStore.configure not working with Selective Sync"
**Describe the bug**
We are provide DataStore.configure with new sintax for support Selective Sync and DataStore not working.

**To Reproduce**
1. Configure the DataStore.configure as following
DataStore.configure({
            syncExpressions: [
                syncExpression(db.SupplierSetup, (c) =>
                    c.supplierId("eq", currentSupplier)
                ),
            ],

[2020-11-02 15:52] EliasCoelho commented on #7101
Hi @iartemiev , we are setting the DataStore.configure() as describe it in the documentation, but it not working...
The documentation link is the following:
https://docs.amplify.aws/lib/datastore/sync/q/platform/js#async-expressions

[2020-11-02 16:14] iartemiev commented on #7101
@EliasCoelho what value does `currentSupplier` have? Will this value be available when you're starting DataStore? Are there any other errors you see in the console?

[2020-11-02 16:24] iartemiev commented on #7101
Do you still get the error if you use the function syntax, as opposed to the shorthand?
[code]

[2020-11-02 16:28] amhinson commented on #7098
@Benzer1406 Are you still experiencing this issue after using the `unstable` tag and setting `global.crypto`, as we discussed in the other issue?
https://github.com/aws-amplify/amplify-js/issues/4886#issuecomment-720102849

[2020-11-02 16:45] Benzer1406 commented on #7098
@amhinson No, that solved it for me. If you want to you can close the issue when you released the fix on the stable version, leaving a comment here to let everybody know.

[2020-11-02 16:46] EliasCoelho commented on #7101
currentSupplier is a string with the value for id of SupplierSetup table. I set the value directly in the configure object

        console.log("Doing DataStore.configure() && DataStore.start()")
        DataStore.configure({
            errorHandler: (error) => {
                console.log(error)
            },
            conflictHandler: (conflict) => {
                console.log("DataStore.C

[2020-11-02 16:48] amhinson commented on #7098
Ok will do. Thanks for the follow up! I will update the issue once it is released to `latest`.

For anyone seeing the same issue using Node, you can get around it by using `amazon-cognito-identity-js@unstable` and setting `global.crypto = require('crypto')` at the top of the file before any imports.

[2020-11-02 16:48] dmgallardo commented on #4689
Hi anyone can share their insights about this issue, we are having the same problem.
Which is the correct code configuration in order to make it work.

We are using this one and having the same issue:

`              async () => {
                try {
                  const result = await AppleAuthentication.signInAsync({
                    requestedScopes: [
                      AppleAuthenti

[2020-11-02 17:05] iartemiev commented on #7101
Could you try deleting your lock file and re-installing your dependencies?
[code]

[2020-11-02 17:33] EliasCoelho commented on #7101
I do... npm clean cache --force and npm install again, but it not work for me

[2020-11-02 18:03] laclance commented on #6488
It's confusing because one of the main reasons for datastore is online/offline syncing but then as soon as I am offline I get this error.

[2020-11-02 18:59] cwardcode commented on #4955
So that people of the future may know what to do. `Auth.default._handleAuthResponse(authResponseUri);` is now private, and the class is no longer exported as default. To actually use this function now, you need to first cast Auth as an 'any' type, then call _handleAuthResponse(), like this:

`(Auth as any)._handleAuthResponse(authResponseUri)`

[2020-11-02 19:34] iartemiev commented on #7101
Could you share the entire contents of your SyncData.js file?

[2020-11-02 19:41] EliasCoelho commented on #7101
Sure...

[syncData.txt](https://github.com/aws-amplify/amplify-js/files/5477581/syncData.txt)

This file is a component for show loading gif while DataStore Sync to Ready event and redirect to Main view...

[2020-11-02 21:03] sadrataban commented on #3195
I tried to do exactly what you did. But the issue still exists. Could you please share your code snippet?

[2020-11-02 21:52] sadrataban commented on #3471
Could you manage to fix this issue for federated social auth?

[2020-11-02 21:54] tqhoughton commented on #4886
I tried doing this, and I'm still getting the same error. This is my call stack:
[code]

I'm using node 12.13.1, running on an Ubuntu distribution accessed via bash.exe on my Windows 10 PC.

[2020-11-02 22:01] amhinson commented on #4886
@tqhoughton Do you have `global.crypto = require('crypto')` at the top of your file before any imports?

[2020-11-02 22:07] tqhoughton commented on #4886
🤦 I did not have that. Looks like it's working now with the unstable build.

[2020-11-02 22:08] amhinson commented on #4886
Ok great! Here is an open issue you can track to see when it gets released to `latest`: https://github.com/aws-amplify/amplify-js/issues/7098

[2020-11-02 22:34] iartemiev commented on #7101
I don't see anything in that file that should be causing any problems.
Are you calling `DataStore.configure` anywhere else in your app?

Here's a sample app running in CodeSandbox that does the same thing you're attempting to do in this issue and it works fine: https://codesandbox.io/s/dank-surf-8q8to

I'm going to mark this as "could not reproduce". If you can provide a sample app that exhibits t

[2020-11-02 22:43] manojkumarg16 commented on #7098
@amhinson I used unstable tag for `amazon-cognito-identity-js`  and crypto on top of all the imports as mentioned in earlier comments, Still issue remains same.

[2020-11-02 22:47] amhinson commented on #7098
@manojkumarg16 Could you provide some more details so I can try to reproduce the issue you're seeing? A code snippet of the file you're working with would help.

[2020-11-02 22:56] manojkumarg16 commented on #7098
@amhinson  Here is the code, a simple function
const globalAny:any = global;
globalAny.fetch = require('node-fetch');
globalAny.crypto = require('crypto');
const AmazonCognitoIdentity = require('amazon-cognito-identity-js');

const login = (email_id, pass) => {
  let accessToken, IdToken, refreshToken;
  const poolData = {
    UserPoolId : "",
    ClientId : ""
  };
  const userPool = new AmazonCo

[2020-11-02 22:59] amhinson commented on #7098
Can you assign `require('crypto')` directly to `global.crypto` instead of `globalAny.crypto`? In the `amazon-cognito-identity-js` code we are just looking for it to exist on `global` itself:
https://github.com/aws-amplify/amplify-js/blob/main/packages/amazon-cognito-identity-js/src/utils/cryptoSecureRandomInt.js#L15

[2020-11-02 23:00] #7088 closed

[2020-11-02 23:06] amhinson commented on #7098
Also, what version of Node are you using?

[2020-11-02 23:16] iartemiev commented on #7049
@myfairshare it sounds like you were able to get this working then? If so, can we close this issue?

[2020-11-02 23:22] manojkumarg16 commented on #7098
@amhinson I'm using typescript , so type need to be mentioned, that's the reason I mentioned it as globalAny:any = global.
I'm using node v12.18.3

[2020-11-02 23:25] amhinson commented on #7098
Could you try doing that anyway, perhaps just with a `// @ts-ignore` for now just to validate if it changes anything?

Also, can you also delete your `node_modules` and `yarn.lock`/`package-lock.json` and install the dependencies again?

[2020-11-02 23:33] matwerber1 opened #7103 "Ability to remove an AWSIoTProvider pluggable or change the endpoint after calling addPluggable?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I'm creating an AWS IoT message tester, similar to what you get in the AWS IoT web console.

I am configuring with an IoT pluggable, per below:

[code]

I would like the ability to populate `region` and `endpoint` based on form input. This

[2020-11-02 23:45] manojkumarg16 commented on #7098
@amhinson tried as you said, but nothing turned up. Still issue remains

[2020-11-02 23:46] amhinson commented on #7098
Can you share your `package.json`?

[2020-11-02 23:48] manojkumarg16 commented on #7098
{
  "name": "serverless",
  "version": "1.0.0",
  "main": "index.js",
  "license": "MIT",
  "scripts": {
    "start": "env-cmd -f .env.dev nodemon --exec serverless offline start --httpPort 4000 --websocketPort 4001 --lambdaPort 4002",
    "package": "SLS_DEBUG=* sls package",
    "deploy-function": "SLS_DEBUG=* sls deploy function --function graphql",
    "deploy-stack": "SLS_DEBUG=* sls deploy",

[2020-11-03 00:14] amhinson commented on #7098
I'm having some trouble trying to replicate the issue you're seeing unfortunately 😕 . I just created a new Serverless framework Express app using some of the same code snippets you provided and I am able to successfully authenticate a user. Would you be able to look into creating a basic Express app that you could share with me to show the behavior you're seeing, and then provide some reproduction

[2020-11-03 00:26] EliasCoelho commented on #7101
Hi @iartemiev ... I test your codesandbox and I can reproduce it. You only must add aws-amplify @3.3.6 as  the documentation indicate it.

![image](https://user-images.githubusercontent.com/9299757/97933633-af8cf200-1d49-11eb-8584-2f566ea89bfc.png)

![image](https://user-images.githubusercontent.com/9299757/97933517-650b7580-1d49-11eb-8156-91732da72e52.png)

[2020-11-03 00:36] manojkumarg16 commented on #7098
Week back I wrote a rough code snippet of same which was working fine. Now I just reused the snippet which is throwing error, quite strange :(

[2020-11-03 01:41] m4rcosazevedo commented on #5214
@frederikprijck Managed to solve? if so, can you show the solution?

[2020-11-03 02:06] hmisonne commented on #7101
I am having the same issue..
I tried adding the `aws-amplify@3.3.6` package but it did not work.

It looks like `syncExpression` is only accessible from the package `@aws-amplify/datastore": "^2.7.1` which is different from the tutorial's instructions:
![image](https://user-images.githubusercontent.com/52170580/97938202-abef7000-1d35-11eb-929e-e877be9735cd.png)

After running `npm i @@aws-amplify/

[2020-11-03 02:11] amhinson commented on #7098
@Benzer1406 This fix is now available with `latest` 👍

@manojkumarg16 Can you try with the latest version to see if any behavior changes?

[2020-11-03 02:18] marcos8896 commented on #5019
+1

[2020-11-03 02:30] iartemiev commented on #7101
You're right, @EliasCoelho, thank you for pointing that out.

Will be fixed in this PR: https://github.com/aws-amplify/amplify-js/pull/7104

[2020-11-03 02:31] iartemiev commented on #7101
@hmisonne, you're seeing that error due to having both `@aws-amplify/datastore` and `aws-amplify` dependencies installed at the same time.

Here's what you can do in the meantime if you'd like to use this feature: uninstall `aws-amplify` and install the other Amplify dependencies you're using separately.

So e.g., if you currently have:
[code]
You could install and import from the following:
[code

[2020-11-03 03:32] EliasCoelho commented on #7101
thanks @iartemiev, I wait to PR approved for upgrade version and use it.

[2020-11-03 03:46] wei commented on #6579
Have you tried to set `encryption: s3.BucketEncryption.UNENCRYPTED`? This should be able to help you determine the likelihood of your theory.

[2020-11-03 04:47] wlee221 commented on #7052
Hi @sw-yx, I was not able to reproduce this issue with the latest Amplify (`aws-amplify: "3.3.7"`). I could call `Storage.list` after I signed in with `AmplifyAuthenticator` post sign-in, and I used the resources auto-generated by the CLI. Just to make sure we are on the same page, can you confirm that this is still happening on your app with the latest Amplify? It seems like other customers are e

[2020-11-03 07:18] saideep1011 commented on #2010
this worked for me

[2020-11-03 07:31] frederikprijck commented on #5214
I am probably not the person to ping for that. I reported an, unrelated, issue in this thread.

[2020-11-03 09:04] myfairshare commented on #7049
Yes please, thanks again!

[2020-11-03 09:20] baleksandr48 commented on #5214
@m4rcosazevedo still no news. I will share with you when I find a solution. And will be glad if you will do the same

[2020-11-03 09:39] tuanardouin commented on #6579
Yes, and it works fine. I haven't touched this part of my project since August since I use another approach for this problem but I'll try again.

[2020-11-03 09:42] ankon opened #7105 "React 17 support for ui-react"
**Is your feature request related to a problem? Please describe.**

Right now @aws-amplify/ui-react (0.2.27) requires react ^16.7.0 as peer dependency. React 17.0.1 has been released recently, so when updating one now gets unmet peer dependency warnings from npm.

**Describe the solution you'd like**

Support, and declare support for React 17 by updating the peer dependency declaration.

**Describ

[2020-11-03 09:46] manojkumarg16 commented on #7098
@amhinson tried with latest version of crypto , still issue persists
    "amazon-cognito-identity-js": "^4.5.3-unstable.1",
    "crypto-js": "^4.0.0",

[2020-11-03 10:00] juanvillegas commented on #1585
@raffibag I second this, plus the hosted UI immediately adds an unnecessary extra user interaction: user goes to `mysite.com/login`, clicks `sign in with google`, sees the hosted ui where she has to click `log in with google` again...

[2020-11-03 11:26] m4rcosazevedo opened #7106 "Auth.currentSession () don'ts work in SSR, when token expires"
**Describe the bug**
I use nextjs with amlify `{ssr: true}`.
I extract token from req in `getServerSideProps` in this way:

[code]

**To Reproduce**
It works if user logged in recently. But if user closes the tab and opens it a few hours, this line will throw an error:
`const session = await Auth.currentSession()`

The reason is clear: it happened because user's tokens are not valid anymore. BUT i

[2020-11-03 12:24] adamjmarkham commented on #5782
This is a blocker for us (and probably most people) to upgrade our version of Amplify without a workaround. Looks like this bug seems to have been there for a while, any news on when it will be fixed?

[2020-11-03 13:07] manojkumarg16 commented on #7098
@amhinson It started working after downgrading amazon-cognito-identity-js from ^4.5.3-unstable.1--> 4.5.0 and removing crypto-js .
Thanks for your support @amhinson

[2020-11-03 13:38] #7049 closed

[2020-11-03 14:05] Alonski commented on #1857
This is still an issue :)
Can we reopen this please?