[2020-09-15 14:44] mdoesburg commented on #6580
@iartemiev I can confirm that the websocket no longer closes on the latest unstable version.

[2020-09-15 15:03] sanudatta11 commented on #6096
+1 Facing the same issue.

[2020-09-15 15:03] iartemiev commented on #6580
Great! The changes will be included in the next stable release that'll go out in the very near future. Can we close this issue?

[2020-09-15 15:04] #6786 closed

[2020-09-15 16:08] Stephan221713 commented on #6761
We are seeing a similar error in optimized builds with Angular 10. In the regular build everything works fine, but with production configuration it fails.

package.json:
[code]

Additional configuration parameters in angular.json for optimized builds (as used for production):
[code]

Configuration call
[code]

While running the code
[code]
we receive an error: `No Auth module registered in Amplify

[2020-09-15 16:26] sanudatta11 commented on #3287
+1

[2020-09-15 16:26] abhishek-convo commented on #6096
+1 Facing the same issue..

[2020-09-15 16:48] #6696 closed

[2020-09-15 16:51] sw-yx opened #6794 "Error when doing API.graphql update - `Unhandled Rejection (Error): Invalid AST Node: undefined`"
**Describe the bug**

This is what i was trying to do:

[code]

This is what i got:

![image](https://user-images.githubusercontent.com/6764957/93240149-5cb9a400-f7b6-11ea-8f08-ff44e478cc85.png)

I have no idea what this `Unhandled Rejection (Error): Invalid AST Node: undefined` means and the error is very unhelpful.

**To Reproduce**

https://github.com/sw-yx/talk-react-summit-demo-cms

add this

[2020-09-15 17:36] mdoesburg commented on #6580
@iartemiev Yes, go ahead and close it! Thanks again for your help, I really appreciate it! :)

[2020-09-15 17:36] zoonman commented on #583
@sammartinez  Is there any update planned to properly integrate GovCloud support across the platform?

[2020-09-15 17:40] iartemiev commented on #6580
Of course! Glad we were able to resolve this (:

[2020-09-15 17:40] #6580 closed

[2020-09-15 17:55] harrysolovay commented on #6794
Can you please share your GraphQL Schema? This looks like an issue with the code generator (whose output you're importing). Please also share the generated `updateBlog` import.

[2020-09-15 18:16] sw-yx commented on #6794
i have discovered this is my fault - i have another function that is also called `updateBlog` and that was being shadowed unintentionally.

[2020-09-15 18:16] #6794 closed

[2020-09-15 19:52] wlee221 commented on #6796
Hi @BenjaminNielsen, thanks for reporting the issue! I was able to reproduce it so I'll have this issue transferred to our js repo.

[2020-09-15 20:42] oguzhanali commented on #4244
@chunyenHuang @kimfucious I used same use case for RN & Expo as [Amplify docs](https://docs.amplify.aws/lib/auth/social/q/platform/js#setup-frontend) and your examples shows. I am trying this on dev, everything works fine (user signs in and getting user's pool credentials etc.) but then when I use Auth.signout(), sign out action works okey too (Hub.listener signout event triggers) but also urlOpen

[2020-09-15 21:04] matt-d-webb commented on #3090
I'd love to know this too? I can't find any other references.

[2020-09-15 21:15] oguzhanali commented on #4244
I found the answer for my question #2115. Short answer is Amplify docs has poor quality, looking for this basic thing for a day or two.

[2020-09-15 21:18] sw-yx commented on #6369
i also noticed that the `API.ts` autogenerated types dont seem usable but i am not sure why:

![image](https://user-images.githubusercontent.com/6764957/93265999-02333e80-f7dc-11ea-86d9-f9e8321056ca.png)

[code]

[2020-09-15 21:23] oguzhanali commented on #4993
@dibell this is feature request marked because, after federatedSingIn(FB, Google etc.) signOut browser redirect callback work as default even if you don't use hostedUI, only you can prevent signout Url. You could find details on #2115.

[2020-09-15 21:31] ericclemmons commented on #5435
👋 Hi everyone!

Today, I'm proud to say that we've officially released SSR support for Amplify JS!

- Twitter announcements:
	- https://twitter.com/AWSAmplify/status/1305897714002034693
	- https://twitter.com/ericclemmons/status/1305899894658314240

- Launch post:
	- https://aws.amazon.com/blogs/mobile/ssr-support-for-aws-amplify-javascript-libraries/

- Getting Started:
	- https://docs.amplify.aw

[2020-09-15 21:31] #5435 closed

[2020-09-15 21:32] harrysolovay commented on #6794
All good :)

[2020-09-15 21:33] ericclemmons commented on #5101
This has been fixed as part of #6146.  See this main thread for more info: https://github.com/aws-amplify/amplify-js/issues/5435#issuecomment-692990722

[2020-09-15 21:33] #5101 closed

[2020-09-15 21:34] ericclemmons commented on #1613
This has been addressed as part of #6146!

Please see my synopsis on changes here: https://github.com/aws-amplify/amplify-js/issues/5435#issuecomment-692990722

[2020-09-15 21:34] #1613 closed

[2020-09-15 21:38] ericclemmons commented on #4990
This has been addressed as part of #6146!

Please see my synopsis on changes here: https://github.com/aws-amplify/amplify-js/issues/5435#issuecomment-692990722

Internally, DataStore won't run the sync engine when on the server: instead it will get all the data it needs to satisfy `DataStore.query(...)` and return it. No subscriptions needed :)

[2020-09-15 21:38] #4990 closed

[2020-09-15 21:41] ericclemmons commented on #5097
Two things could be at fault here:

1. There was a race-condition with `Auth.currentAuthenticatedUser()` where the token wasn't immediately available after logging in, but has since been fixed.

1. #6146 automatically handles tokens for Next.js sot hey can be passed to the server.

	Please see my synopsis on changes here: https://github.com/aws-amplify/amplify-js/issues/5435#issuecomment-692990722

[2020-09-15 21:41] #5097 closed

[2020-09-15 21:43] MontoyaAndres commented on #5097
Yeah, I've been following how SSR will work on Amplify, and it's wonderful!

[2020-09-15 21:44] ericclemmons commented on #5374
This should be resolved via #6146: I've tested Cognito Hosted UI for Facebook & Google specifically with Next.js.  (Credentials are automatically handled for you)

Please see my synopsis on changes here: https://github.com/aws-amplify/amplify-js/issues/5435#issuecomment-692990722

If you're still experiencing issues, can you open a new issue with your latest sample for reproducing?

[2020-09-15 21:44] #5374 closed

[2020-09-15 21:45] MontoyaAndres commented on #5435
Thank you @ericclemmons and all the team behind this awesome work! 🦾

[2020-09-15 21:59] ericclemmons commented on #5330
This is tricky for sure, but there's not much we can do on the library side to solve this without impacting existing usage patterns.

For example, SSR support (#6146) required having an allowlist of which credentials to persist in cookies, to avoid `431` errors due to size.

One of our engineers was able to _further_ reduce this size by suppressing claims in the token:

Some values were duplicated

[2020-09-15 21:59] #5330 closed

[2020-09-15 22:12] ericclemmons commented on #3278
This issue has been around for a while & may be addressed in a few different ways:

1. `aws-amplify@3.x.x` introduce modularization changes, so `import { API, Auth } from "aws-amplify"` should yield the same bundle-size as `import { Auth } from "aws-amplify"`.

	If that's not your experience, then please open a new issue because that's impacting _all_ use-cases.

1. Creating new instances of `Auth

[2020-09-15 22:12] #3278 closed

[2020-09-15 22:13] ericclemmons commented on #4851
SSR support has been addressed as part of #6146!

Please see my synopsis on changes here: https://github.com/aws-amplify/amplify-js/issues/5435#issuecomment-692990722

I haven't personally tested Quasar, but `withSSRContext` (and underlying changes to work for SSR) apply to Next.js, Gatsby, Nuxt.js, and several others.

If your experience differs, please open a new issue with a specific example(s)

[2020-09-15 22:13] #4851 closed

[2020-09-15 22:21] ericclemmons commented on #5097
Awesome! Thanks for your support @MontoyaAndres! 😍

[2020-09-16 01:38] casendler commented on #3225
Considering implementing custom domains for our endpoints, but has there been any resolution or confirmation that this is in fact an issue?

[2020-09-16 04:50] alichherawalla commented on #5522
@elorzafe  any update on the above?

[2020-09-16 05:07] tomgiagtz opened #6798 "Deprecated tag should be BIG and RED"
Yes hello.

https://github.com/aws-amplify/amplify-js/blob/5bf77b128284006fa7fc1184ec0571322af4ed53/docs/api/classes/authclass.html#L1574

Almost didn't notice this,  would be nice if it were more attention grabbing

[2020-09-16 05:45] rohitnikhade opened #6799 "React Native Social Sign in takes me to blank white screen"
**Describe the bug**
I am using the aws-amplify, aws-amplify-react-native library in my React Native application.

For social sign in I have triggered Auth.federatedSignin({provider: 'Google'}), which take me to chrome after successful login it takes me back to Application and it shows a blank screen without showing any error

**Code Snippet**
App.js:-
[code]
CustomSignIn.js:-
[code]

[2020-09-16 05:54] LpmRaven opened #6800 "Composite sort key not created with @key directive"
**Describe the bug**
Added a new `@key` to my schema.graphql

`@key(name: "bySupplier", queryField: "productsForSupplier", fields: ["region", "productType", "supplierSlug"])`

The new GSI is created in dynamoDB, but the composite SORT key is not.

![Screen Shot 2020-09-16 at 3 50 38 pm](https://user-images.githubusercontent.com/6523593/93297418-8e715000-f834-11ea-8437-3e292ffecf11.png)

After a we

[2020-09-16 08:09] imshashank commented on #2089
Any updates on this?

[2020-09-16 10:13] sigimulukutla commented on #3089
I created custom config for aws amplify, which includes below:

 Amplify.configure({
    //app sync configurations

    aws_appsync_graphqlEndpoint: graphQlEndpoint,
    aws_appsync_region: awsConfig.REGION,
    aws_appsync_authenticationType: 'AMAZON_COGNITO_USER_POOLS'
}

I even tried to add below, but I am still getting missing authorization header
    graphql_headers: async () => { const curre

[2020-09-16 10:22] ivandimov commented on #2588
@sandramedina yep, that call should be client side, and yes, it's that verify_user_attribute. Spent like couple of days on that, and couldn't find better way to do it...

[2020-09-16 12:53] kjellski commented on #5741
This problem still exists and I think the solution from @manueliglesias is valid - could we implement it?

[2020-09-16 13:14] seang96 opened #6802 "@aws-amplify/ui-components requires @aws-amplify/interactions"
**Describe the bug**
Installing the a version of @ws-amplify/ui-react after 0.2.15 with only packaging requires @aws-amplify modules causes an error that module @aws-amplify/interactions cannot be resolved. I believe this is due to #6684. Can we get this updated to be a peer dependency or something since I do not need to use a chat bot component?

**To Reproduce**
Steps to reproduce the behavior:

[2020-09-16 13:42] lochawala opened #6803 "GraphQL error: No existing item found in the data source"
I have getting error when i update any data

![Uploading Screen Shot 2020-09-16 at 7.10.23 PM.png…](Error Image)

My schema

[code]

MY mutation
mutation UpdateUsersAndOrgs(
    $input: UpdateUsersAndOrgsInput!
    $condition: ModelUsersAndOrgsConditionInput
  ) {
    updateUsersAndOrgs(input: $input, condition: $condition) {
      id
      PK
      SK
      GSI1
      GSI2
      GSI3
      fullPr

[2020-09-16 13:50] kylekirkby opened #6804 "No way to add a custom form field for the "Name" attribute with the AmplifyAuthenticator component."
**Describe the bug**
https://docs.amplify.aws/ui/auth/authenticator/q/framework/react#custom-form-fields

There is no way listed in the docs to supply a custom form field. E.g I'm required to collect an email (usernameAlias), name and password. The email/password field support is fine but I cannot see a way to supply a custom field for a Name attribute. Instead I get an error stating that the Auth

[2020-09-16 14:43] iartemiev commented on #4652
Query sorting was added in #6785 and has been released as part of `aws-amplify@3.3.0` / `@aws-amplify/datastore@2.5.0`

Please feel free to start using it.

Here's a [link to the docs for sort](https://docs.amplify.aws/lib/datastore/data-access/q/platform/js#sort).

[2020-09-16 14:43] #4652 closed

[2020-09-16 15:37] craigtsmith commented on #3670
@msurguy I'm exploring this at the moment and, if I think you can do something like this just before you initiate auth sign in:

[code]

Where `rememberMe` is some boolean input from your user

[2020-09-16 17:06] mlabieniec opened #6806 "Auth.currentCredentials throws exception"
**Describe the bug**
The `Auth.currentCredentials()` method throws a `this is undefined` exception. Swapping this call with `Auth.currentUserCredentials()` works. I believe the issue is due to the `Auth.currentCredentials` method not binding scope like the other here:

https://github.com/aws-amplify/amplify-js/blame/5bf77b128284006fa7fc1184ec0571322af4ed53/packages/auth/src/Auth.ts#L106

There is

[2020-09-16 17:10] sammartinez commented on #6750
#6806

[2020-09-16 18:11] naripok commented on #6420
Hey @sammartinez,

I reworked my application so it uses many-to-many link models instead of using the children ID directly.
Although my data models doesn't requires a many-to-many connection, it works flawlessly this way.
Maybe the issue is ID correlated.

Thx for the good work,
Cheers!

[2020-09-16 18:11] #6420 closed

[2020-09-16 19:04] #6806 closed

[2020-09-16 19:42] ericclemmons commented on #6761
@Stephan221713 Can you using `import { Auth } from "aws-amplify"` and let me know if that resolves it?

(#6811 may resolve this as well, but want to get you unblocked)

[2020-09-16 19:49] dcchristopher commented on #6202
As nice as it would be to have an ECMAScript aws-sdk for our Angular apps, it's not a show-stopper. The warnings went away for most of us after updating angular.json to ignore certain Common JS dependencies.

For people looking to shed some aws-sdk weight, consider only importing what you need (which has been available in aws-sdk for the last couple of years):

import Amplify from '@aws-amplify/au

[2020-09-16 20:11] #6750 closed

[2020-09-16 20:33] sammartinez commented on #5769
@DuhamelPhilippe Apologizes on circling back on this until now. We do follow support for the previous three versions of major browsers. Please see what we support [here](https://aws.amazon.com/premiumsupport/knowledge-center/browsers-management-console/). Do you have a customer use case where your customers would need to be using old versions as you have called out? Please let us know

[2020-09-16 20:40] sammartinez commented on #5774
@kimfucious thank you for all the detail on this! I apologize on behalf of the team in looking into this now. For clarity, this is only after adding `Auth.FederatedSign()` that this occurs? Did you follow the steps for setup for federation in our [documentation site](https://docs.amplify.aws/lib/auth/social/q/platform/js#oauth-and-federation-overview)? Please let us know

[2020-09-16 20:49] sammartinez commented on #5783
@mlescaudron Im trying to understand your use case, are you looking to do something similar to our [Authenticator component](https://docs.amplify.aws/ui/auth/authenticator/q/framework/react)? Or is your use case focused around Node? For others reading this thread, we do not fully support node at this time within our library. Please let me know what your use case is here

[2020-09-16 20:52] sammartinez commented on #5829
@D0berm4n Are you still looking for help on this use case? Please let us know.

[2020-09-16 21:13] sammartinez commented on #5935
@cnorthwood I do want to callout if you configure OAuth from Amplify CLI with Social Federation, it will give you scopes along with an OAuth token. Please refer to our documentation [here](https://docs.amplify.aws/lib/auth/social/q/platform/js#oauth-and-federation-overview). As @elorzafe mention above, this is by design since the previous version did not properly handle scopes. We do recommend to

[2020-09-16 21:16] cnorthwood commented on #5935
No, we don't use the Amplify CLI - our providers are SAML not OAuth.

[2020-09-16 21:44] sammartinez commented on #5934
Apologizes on circling back until now, are you still experiencing this issue on the latest version of Amplify? Also, please provide us your `package.json` so we can validate against your use case. Thanks ahead of time

[2020-09-16 21:58] harrysolovay commented on #6799
@rohitnikhade can you please supply Auth/Amplify's configure method with a field `urlOpener`? It should have the following signature:

[code]

Please log out the `url` and `redirectUrl`. Assuming this works (logs out the correct values), we can take it from there.

[2020-09-16 22:34] sammartinez commented on #6049
@asterikx Im unable to reproduce this, can you tell me a bit more on your use case?

[2020-09-16 22:40] sammartinez commented on #6057
@Xuhan-Liu can you provide us with a code snippet of how you are using amplify? can you also provide `package.json` as well so we can dig into this deeper. Thanks ahead of time.

[2020-09-16 23:17] sammartinez commented on #6164
@mishellnovosel Are you able to provide a code snippet and your `package.json` to us for this issue? Thanks ahead of time.

[2020-09-17 00:22] ashika01 commented on #6802
@seang96: Looking into this. Just curious, Is there a reason for you to not use `aws-amplify` but import the modularized imports? Because with modularization changes we rolled out, it should matter if you import `aws-amplify` or modular ones. Ultimately when you go production, it should enable tree-shaking for you so you wouldnt have any perf impact right?

[2020-09-17 03:46] oste opened #6813 "SSR: ReferenceError: window is not defined"
**Describe the bug**
I am testing the new SSR capabilities with next.js and I am seeing:

[code]

**To Reproduce**
Follow steps in tutorial here https://docs.amplify.aws/start/getting-started/data-model/q/integration/next
Connect with auth and sign in with cognito.

**Expected behavior**
`window` is not used on the server.

[2020-09-17 04:22] arodri48 commented on #6031
I have been running into the same issue. I hope a fix for this is generated soon. Please keep us updated.

[2020-09-17 05:00] DuhamelPhilippe commented on #5769
@sammartinez Thank you for your reply.
In May, I was able to reproduce (see steps above) this issue with different old browsers and also an up-to-date Edge browser. I don't think that Microsoft has published 3 major versions of his browser during the last 5 months.

[2020-09-17 07:27] simon10says commented on #3184
Any updates on this? I'm faced with the same issue. What kind of workaround are you guys using?

One less painful way I'm thinking about is in the `Pre-Signup` trigger, if the user is `unconfirmed` and `email_verified = false`, I will first delete the user and then let the signup process flows again. Will this work?

[2020-09-17 09:14] mishellnovosel commented on #6164
@sammartinez , unfortunately I had to move on a lot from that case( we've changed the cognito attribute name at time time ).
Now I don't have access to Cognito to create an attribute and to test it with latest version of Amplify.

But code snippet is already mentioned above:

[code]

[2020-09-17 10:17] rohitnikhade commented on #6799
I haven't used the URL opener in the application so it opens the login screen on chrome rather than the in-app browser.

I have tried using urlOpener, following are the config:

[code]

Getting the Error: **TypeError: undefined is not an object (evaluating 'this._oAuthHandler.oauthSignIn')**

[2020-09-17 12:19] seang96 commented on #6802
@ashika01,
Yeah, that may be true now. Earlier though it did require installing modules individually though. Which my software is doing already.

PR #6811 shows I am not the only one with software that is still importing them as such. From what I saw with that issue Amplify Core registers Credentials as soon as Amplify.Configure is called when then instantiates Auth, where it may not be needed yet

[2020-09-17 12:35] I-himawari commented on #5019
+1

[2020-09-17 13:24] Stephan221713 commented on #6761
@ericclemmons Unfortunately, this does not resolve the problem. It is not urgent for us as version 3.0.24 works fine. Do you know which version will have the fix from 6811?

[2020-09-17 14:35] DavidAlvarado23 opened #6816 "Amplify not notifying when refresh token expires"
**Describe the bug**
I have configured Amplify Auth using the library for React: aws-amplify-react. I'm using the Authenticator component to manage the auth system of the app such as the login and sign up.

I have the refresh token validity for 60 minutes, as well as the access and ID token. When the refresh token expires there is no way to know when this had happened, it only throws an error that

[2020-09-17 15:33] sammartinez commented on #5769
@DuhamelPhilippe Thanks for replying back. I will see about reproducing then on the latest Edge. Will provide an update once we are able to reproduce

[2020-09-17 15:34] sammartinez commented on #6164
Understood @mishellnovosel since you have moved on from testing, are you ok with us closing this issue so we can look to help other customers? Please let us know.

[2020-09-17 15:59] mishellnovosel commented on #6164
@sammartinez I am OK with it. But still, maybe it would be a good idea to write someone in the documentation that "_verified" suffix is reserved word and can not be used with Amplify :)

[2020-09-17 16:47] sammartinez commented on #6164
Thanks @mishellnovosel will look to do a documentation update for this. :)

[2020-09-17 16:47] #6164 closed

[2020-09-17 16:50] sammartinez commented on #6177
@GBanaphal-Fintech Are you still experiencing this issue? Please let us know

[2020-09-17 17:06] jordanranz commented on #6327
We have released a fix for this bug. Please test the latest version of the UI library and confirm that the fix works!

[2020-09-17 17:27] simon-zhangmuye opened #6818 "Please help. why there is no unsubscribe function in my subscription"
Hi,
I use amplify to do a todolist.
I follow the tutorial to create, but something goes wrong.
![image](https://user-images.githubusercontent.com/10706610/93505825-b4930f00-f95e-11ea-9124-041b4db17840.png)
When I use unsubscribe function, there is an error.
Help let me know where goes wrong.

Thank you

[2020-09-17 17:33] #6818 closed

[2020-09-17 18:07] ericclemmons commented on #6761
@Stephan221713 #6811 got published yesterday, so updating to `@latest` will get it for you to try out.

Thanks for clarifying that `v3.0.24` works with Angular production builds: that'll help is narrow down the cause!

[2020-09-17 18:20] sammartinez commented on #6327
Resolving as this is in the latest release, please let us know if you are still experiencing issues

[2020-09-17 18:20] #6327 closed

[2020-09-17 18:22] mujeex commented on #2098
Thanks as well man! This hack worked for me as well!!

[2020-09-17 18:56] sunil42 commented on #4832
Remove the non-nullable field and then try to fetch it will work

**My Code**
[code]

[2020-09-17 19:58] #5735 closed

[2020-09-17 20:26] kbokarius commented on #4580
We just tested Cognito's Apple Sign In with iOS 14 and we're no longer seeing the native Apple Sign In UI on the device. We're instead seeing the web sign in UI. We went directly to our Cognito Hosted UI page in Safari, tapped the Sign in with Apple button, and instead of seeing native Apple sign in UI we see the web UI.

Is this a known issue? Are others experiencing this?

[2020-09-17 20:47] kimfucious commented on #5774
Hi @sammartinez, thanks for the follow up.

Yes, this only occurs with federated sign-in, as regular sign-in doesn't involve redirects/callbacks.

I did take a look at the doc link you mentioned, and I'm only really listening for `signIn` and `signOut` on the hub.

Frankly, I haven't looked at this project in a while, but looking at it now, I did something really hacky to get the app to work and m

[2020-09-17 21:05] ericclemmons commented on #6813
@oste I haven't been able to reproduce this.  Can you update the issue to follow the template (https://github.com/aws-amplify/amplify-js/issues/new?assignees=&labels=to-be-reproduced&template=bug_report.md&title=) so I can see what versions you're using and how to reproduce this?

My local repo has the following:

[code]

[2020-09-17 21:09] TheVaporTrail commented on #6220
I am commenting because this has just been marked stale. I have not had a chance to test with 3.x.x.

[2020-09-17 21:18] #6765 closed

[2020-09-17 21:19] amhinson commented on #4429
Closing because we are removing `react-native-elements` & `react-native-vector-icons` as dependencies: https://github.com/aws-amplify/amplify-js/pull/6817

[2020-09-17 21:19] #4429 closed

[2020-09-17 22:27] sammartinez commented on #6195
@Jahans3 Please let us know if you are still experiencing this issue with the latest version of Amplify and we can dig in.

[2020-09-17 22:32] sammartinez commented on #6212
@clintfoster Just to verify, have you reviewed our [documentation](https://docs.amplify.aws/lib/auth/getting-started/q/platform/js) on setting up Auth within Amplify or are you doing [manual configuration with Amplify](https://docs.amplify.aws/lib/auth/start/q/platform/js#re-use-existing-authentication-resource)? Please let us know and we can dig into this further for you

[2020-09-17 22:36] sammartinez commented on #6281
@Mersmith I apologize for not getting back to you sooner on this. This looks to related specifically to Amazon Cognito. I would recommend to reach out them via [AWS Forums](https://forums.aws.amazon.com/forum.jspa?forumID=173) to see if there is a way to combined these users as they are one in the same.

[2020-09-17 22:36] #6281 closed

[2020-09-17 22:41] sammartinez commented on #6283
@BDNilsson are you still looking for support for this issue? If so, can you please provide your `package.json` to us to help reproduce this issue further? Please let us know.

[2020-09-17 22:56] sammartinez commented on #6309
@gustoss Thanks for the detail in the issue! Can you please provide a little more of the code snippet of more so of the application? In looking at the error messages, I am seeing that there are retries happening. Is there an issue with Network connection in uploading this or is the file itself fail at a certain point. Please let us know.

[2020-09-18 00:47] oste commented on #6813
Hi @ericclemmons. Thanks for taking a look. Belo is my config.

[code]

Is this more of an issue with @aws-amplify/ui-react vs  aws-amplify-react: ^4.2.5 => 4.2.5 and    aws-amplify-react-native: 4.2.6 => 4.2.6. I am using expo in my project and wanted to use as much react native web as possible... Either way, doesn't it seem like the code in question(https://github.com/aws-amplify/amplify-js/blob

[2020-09-18 01:19] hisham commented on #6761
+1. Also faced this today after upgrade. Now downgrading.

[2020-09-18 03:11] Ammatech commented on #6761
My earlier post did not make it clear what I thought the problem seems to relate to. Here is my two cents worth (hope it helps and not hinders).
In the file 'packages/core/Ampify.ts' the 'register' method is called by each of the package classes (eg I18n, AuthClass etc) and it populates the _modules object (part of the work from PR 6146). Then when we call Amplify.configure(awsconfig) in our app t

[2020-09-18 05:00] hisham commented on #6761
If it helps btw, downgrading to "@aws-amplify/auth": "3.3.2" was sufficient to resolve this.

And the problem is still there with 3.4.4

[2020-09-18 06:57] rudyhadoux opened #6821 "Handling browser closing server-side"
Hi,

It seems impossible to handle browser closing (without a prompt) front-side.

So I would like to get a solution server-side, maybe with subscriptions.

Is it possible ?

[2020-09-18 08:49] #6791 closed

[2020-09-18 08:49] anilp1291 commented on #6791
No reply from team.. really.

[2020-09-18 10:41] cnbrkkaya opened #6823 "Public mutations with iam provider - No Current User Error"
**Describe the bug**
I want to make a graphql mutation without cognito user pools provider. I want to use IAM as a Appsync authorization provider and give public access. My schema.graphql file is in the below.

When i give **read** permission with public provider iam there is no error. But when i want to make permission to unauthenticated users to **create** orders i get no current user error.

**

[2020-09-18 10:59] donnrri opened #6824 "Upload files from AWS console to amplify created bucket"
First I want to thank you for creating this project. It has helped me enormously.

Currently , it appears and I cannot find any documentation to tell me otherwise, I cannot upload files from the AWS console.

I create a bucket using amplify Storage.

I can see the bucket  I created using amplify. But when I upload a file to the bucket (or create a /public 'folder' and upload to that) , then call S

[2020-09-18 14:49] sammartinez commented on #6096
@darnmark64 We recently did a [fix](https://github.com/aws-amplify/amplify-js/pull/6811) for this issue. Can you please validate you are still experiencing this issue with the latest release? Thanks ahead of time

[2020-09-18 14:50] donnrri commented on #847
Can you update the documentation please. I really like some this project but at nearly every turn of implementing it I have problems , I am not so experienced and poor documentation really hinders developers like me progress. Please update the documentation.

[2020-09-18 15:03] donnrri opened #6825 "Cannot get a list of files for a public folder"
Storage.list does not return a list of files in public folder.
I have a react application to add and get S3 files.

I have add storage using amplify
I have added user access to a group called 'demouser'
I have uploaded a file using  a user in that group
In my AWS console I see the public 'folder' is created  and contains a file 'demo' (no extension), which is the file I uploaded above.
I add some

[2020-09-18 15:12] iartemiev commented on #6560
@abdielou I was able to reproduce the issue. There are 2 sides to it, as you suggested. One is in the library (trying to access a nonexistent index) and also a bug in the CLI where `codegen models` is incorrectly setting the `associatedWith` field.

I'll open an issue in the CLI repo and reference this. I've written a bug fix for the library side already, so once the codegen bug fix gets merged, I

[2020-09-18 15:12] majortom64 opened #6826 "AWS-Amplify does not work with Rollup for Svelte."
**Describe the bug**
Installing AWS Amplify fails for Svelte with Rollup.

**To Reproduce**
Steps to reproduce the behavior:

Install svelte using Rollup.
Follow instructions from https://www.swyx.io/writing/making-aws-amplify-work-with-rollup-2d9m

**Expected behavior**
Not failing.

**Code Snippet**
(!) `this` has been rewritten to `undefined`
https://rollupjs.org/guide/en/#error-this-is-undefin

[2020-09-18 15:13] sammartinez commented on #5267
@bneigher Do you have a code snippet we can look at to see if we can reproduce this? To @ericclemmons callout, we did have some issues with uploads which have been resolved on later versions. Just wanted to validate with a code snippet if possible. Thanks ahead of time

[2020-09-18 15:16] kmbro commented on #5547
@jordanranz This worked great for me. Thanks for the linked doc above!

[2020-09-18 15:23] sammartinez commented on #6400
Hello @dd-ssc, apologizes on the late response to this. Thanks for the nice callouts! We use [localStorage](https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage), in order to store these keys as you have called out above so they can persist across browser sessions and expire based on your UserPool. Seeing that you had a workaround, are you looking for additional support on this? Pl

[2020-09-18 15:28] dd-ssc commented on #6400
Hey @sammartinez 😄 ,
no worries at all, thanks for getting back to this! 👍
I'm fine with the workaround; closing.

[2020-09-18 15:28] #6400 closed

[2020-09-18 15:32] sammartinez commented on #6406
@nubpro can you provide a little more detail on your use case? are you using public models with your CRUD operations? Can you also provide the code snippet you have with your methods you are testing against above? Thanks ahead of time

[2020-09-18 15:38] sammartinez commented on #6825
@donnrri, thanks for reporting this, can you please provide us a little more detail with running the following command within your project `npx envinfo --system --binaries --browsers --npmPackages --npmGlobalPackages`. Thanks ahead of time

[2020-09-18 15:55] sammartinez commented on #6419
@luisfuertes are you still looking for support on this issue? If so, please provide us information on your environment by running the following command: `npx envinfo --system --binaries --browsers --npmPackages --npmGlobalPackages`. Also, if you can provide us a code snippet this will help us further assist you. Thanks ahead of time.

[2020-09-18 16:34] sw-yx commented on #847
i hear you and i agree. made a start on the docs, please have a look at https://github.com/aws-amplify/docs/pull/2416 and let me know what else you want to add.

[2020-09-18 16:34] sammartinez commented on #3015
This is now resolved. Closing

[2020-09-18 16:34] #3015 closed

[2020-09-18 17:08] sw-yx commented on #518
@sammartinez  it reads like  this issue has been resolved with the `level:public` option?

[2020-09-18 17:24] ericclemmons commented on #6813
We do have an `ssr` check here:
https://github.com/aws-amplify/amplify-js/blob/5651365e75f2989238110660f5c4dfc7adcfd45d/packages/auth/src/Auth.ts#L157-L159

Can you share more of your code? Like, I don't know if or where you're using `ssr: true`, and what command you're running to reproduce, etc.

We tested that `aws-amplify-react-native` worked with this latest release (which doesn't use `ssr: tr

[2020-09-18 17:57] wlee221 commented on #6826
Hello @majortom64, thanks for reporting the issue!
I have confirmed bundling issues with rollup, in particular with our dependency on `@aws-amplify/core`. But I was still able to build the app (with the warnings you have above) and have runtime errors shown on `console.log`. Just to confirm that we are not overlooking your issue -- are you able to build the app, and if so can you post a screenshot

[2020-09-18 18:25] cshouts-tasc commented on #1355
Could we mark `getCachedDeviceKeyAndPassword()`as a public method of the `CognitoUser` class? This would help greatly with discoverability and TypeScript compatibility.

Currently forced to call the method like so in TypeScript: `this.cognitoUser['getCachedDeviceKeyAndPassword']();`

[2020-09-18 19:09] oste commented on #6813
@ericclemmons I have this line directly below my imports in both _app.tsx and pages/index.tsx `Amplify.configure({ ...awsExports, ssr: true });`

The page renders until I add this to pages/index.tsx

[code]

[2020-09-18 19:14] ericclemmons commented on #6813
So you're saying that your `pages/index.tsx` looks just like https://docs.amplify.aws/start/getting-started/data-model/q/integration/next#api-with-server-side-rendering-ssr but is returning that `window` error when you run `npm run dev`?

[2020-09-18 19:47] oste commented on #6813
yeah. It's very similar. I am trying to debug Auth.ts to get some more info.

[2020-09-18 19:52] oste commented on #6813
I am getting a white screen and next server logs are showing `No current user` which seems to be coming from Auth.ts

[2020-09-18 19:54] oste commented on #6813
So maybe since i was logged in it was causing the issue. I cleared cache, localstorage and cookies etc and now I get this new error. Previously I had auth config'd like this for the server in _documnet.tsx

[code]

[2020-09-18 20:11] oste commented on #6813
so I wrapped this part in a `trycatch` `const response = await SSR.API.graphql({ query: getPost });` to avoid the `No current user` error. Then I was able to log back in with the authenticator component and everything seems to be working as expected.

So I think the issue was related to my logged in user. Somehow it was still trying to use the non universal storage still.

[2020-09-18 20:13] ericclemmons commented on #6813
Ooh yes, that makes sense. So, this seems more like a documentation problem where my tutorial should use `try`/`catch`?

(cc @renebrandel)

[2020-09-18 20:18] oste commented on #6813
Yeah, it would be good to document the suggested way to handle an unauthorized user. It seems to throw an error. It would also be a good addition to show a different auth mechanism. Most users will need to work with both secure and public queries.

Previously I was using aws-appsync with appsync clients like this

[code]

It seems I will need to revisit this and see if I can use `SSR.API.graphql`

[2020-09-18 20:18] majortom64 commented on #6826
![ScreenShot1](https://user-images.githubusercontent.com/5418629/93641495-3449c980-f9b1-11ea-9b9a-28dce1908cfa.png)

It does not run, just gives a white screen and that message.

[2020-09-18 20:26] wlee221 commented on #6826
@majortom64 Thanks for your quick reply; that looks just like what I'm seeing too. We identified the root cause (our `universal-cookie` dependency has require syntax in its es distribution). We're working on a fix, and we'll keep you updated. Thanks!

[2020-09-18 20:45] ericclemmons commented on #6813
@oste Originally, the tutorial used **IAM** and Cognito User Pools. Instead I converted to API key & Cognito User Pools, because IAM has a bunch of steps in the CLI that I wanted to avoid initially.

The tutorial does both public (for reading) & private (creating/deleting) posts, like a normal blog setup.

Your `getPost` should be using the `AWS_IAM` `authMode`. Otherwise, Cognito User Pools will

[2020-09-18 20:57] ashika01 commented on #6802
@seang96 Thanks for the info. The issue solved by #6811 is different from our current issue.

I looked more into this. Looks like one of our entry point in the module generated does not have a clear distinction in the modules needed. Moving it to peer dependency doesn't solve the problem. I am analyzing the bundles generated to find the root cause. We will keep you posted here.

[2020-09-18 21:21] ericclemmons commented on #6761
I have to say, y'all have done an _excellent_ job of describing & debugging this.

Looks like I have a reproduction here using `@unstable` (our `main` branch):

1. `yarn build --prod` (which runs `ng build --prod`). `--prod` is **required**.
1. `npx serve dist/authenticator` (my app is called `authenticator`)

What's peculiar is _why is this behavior different in Angular than React/Vue/Next/etc._?

[2020-09-18 21:21] ericclemmons commented on #6761
BTW, @Ammatech your research is 💯  :)

[2020-09-18 21:29] amhinson commented on #6128
@mdoesburg Just merged a fix for this. If you have a chance to test, it's available now with `aws-amplify@unstable`. We should be doing a release sometime early next week 👍

[2020-09-18 21:29] #6128 closed

[2020-09-18 21:33] sammartinez commented on #6826
@majortom64 I do want to call out that we don't officially support Svelte at this time. However we will continue to work on the fix and provide an update once we have one

[2020-09-18 22:04] amhinson commented on #6358
@nubpro Are you still seeing this issue? If possible, could you test with `aws-amplify@unstable`, as we have merged some changes related to this.

[2020-09-18 23:06] daniel-bravo commented on #6244
I did face the same problem. Solution was (as described by @githubflub):
1. Remove the pub-sub npm
2. Remove aws-amplify aws-amplify-react-native uuid (I've added those npm following a workshop guide)

Then:
1. Add pub-sub npm. It's important to add it BEFORE aws-amplify aws-amplify-react-native uuid
2. Add aws-amplify aws-amplify-react-native uuid. Also, it's worthy to take a look at this documen

[2020-09-19 00:15] BarbaraPruz opened #6829 "@key but can't control GSI attributes"
**Is your feature request related to a problem? Please describe.**

in schema.graphql, I am using @key to define a GSI (combining 2 fields in the table) for a dynamodb table.
The GSI is created along with the graphql and resolvers (which is exactly what I wanted and why I was creating through
amplify). But when looking at the GSI in dynamodb,  I want to set the read capacity, write capacity and au

[2020-09-19 02:32] marksteele opened #6830 "Storage class should expose head operation & range requests"
**Is your feature request related to a problem? Please describe.**

I would like to be able to perform a HEAD operation on an object stored in S3 (ex: so that I can determine the file size) as well as the ability to perform range requests (to read specific byte ranges out of a file). In my case, to retrieve just a few bytes at the end of a file.

**Describe the solution you'd like**

* A head oper

[2020-09-19 03:52] marksteele opened #6831 "Ability to list "directories" in Storage"
**Is your feature request related to a problem? Please describe.**
While S3 doesn't have directories per-se, it files inside are often organized with common prefixes.

Would be nice to have a directory listing function, which allows you to specify a prefix and it lists the common prefixes below it. (a request with prefix and delimiter)

**Describe the solution you'd like**
A listDirectories functi

[2020-09-19 07:54] lewischa commented on #3703
@jefelewis just ran into the same issue. Looking at the [context](https://redux-saga.js.org/docs/api/#callcontext-fn-args) link in the post above, the docs for `call` indicate the first array index is the context and the second is the _function reference_:

[code]

Taking your code here:
[code]

and changing it to this worked for me:
[code]

Hope that helps.

[2020-09-19 12:16] Nxtra commented on #6089
Thanks for your solution.
Is there currently a way to configure this behaviour when using the `withAuthenticator` HOC?

[2020-09-19 14:35] addictional commented on #2645
@dabit3
I've tried all steps, described above but it's not working. Then I tried to allow access to all   graphql
[code]
but when I am unauthorized response is
[code]

[2020-09-19 19:07] #5646 closed

[2020-09-19 19:07] #6501 closed

[2020-09-19 22:27] cybercussion commented on #4315
So is it safe to say `@aws-amplify` works but `aws-amplify` has issues?

I previously had:
[code]

[2020-09-20 00:00] wmcons commented on #5435
Hi @ericclemmons,

 First of all awesome work, it's working flawlessly. I am trying to look this from a different angle [Not sure whether this can be viewed this way].I wanted to login from server using api route using amplify, auth and keep the user session in server  ( works ) and send the necessary token to client side from server to access the API details. To store user session used session se

[2020-09-20 01:42] trip-sc commented on #2562
This issue pushed me over the edge to now use Firebase Auth. Just too awkward of a sign up flow in a world where frictionless sign up is very important. Especially on the first sign in and experience of our users. If it's an internal app, it isn't much of a problem. But if you have external users, it's a problem, and localstorage/inmemory on the client side of the password is not how we want to be

[2020-09-20 02:01] mousedownmike commented on #6320
@ashika01 and @elorzafe, is there a public roadmap for Cognito and Amplify JS?  It feels like both are due for a significant revision and I'm wondering if it's time to start looking at alternatives or continue waiting for improvements.

[2020-09-20 02:51] smithad15 opened #6834 "AppSync upload of Complex Objects to S3 fails with CORS error on local mock server"
**Describe the bug**
When utilizing Complex Objects (as described [here](https://docs.amplify.aws/lib/graphqlapi/advanced-workflows/q/platform/js#complex-objects)) to automatically upload files to S3, the upload will fail when utilizing `amplify mock` due to a CORS error. Based on the access errors I am getting, it looks like the client is trying to upload to the S3 bucket in AWS instead of utiliz

[2020-09-20 02:51] smithad15 opened #7625 "AppSync upload of Complex Objects to S3 fails with CORS error on local mock server"
**Describe the bug**
When utilizing Complex Objects (as described [here](https://docs.amplify.aws/lib/graphqlapi/advanced-workflows/q/platform/js#complex-objects)) to automatically upload files to S3, the upload will fail when utilizing `amplify mock` due to a CORS error. Based on the access errors I am getting, it looks like the client is trying to upload to the S3 bucket in AWS instead of utiliz

[2020-09-20 05:19] teamzz111 commented on #399
Sad to see this issue closed.

[2020-09-20 06:04] jemucino commented on #6754
I've also noticed that the postConfirmation lambda to put users in the Users group that I just added using the amplify CLI (4.29.2) runs very slowly. I have no timing metrics, but it feels way too slow. Amplify didn't ask anything about memory size while setting up the trigger. Also, how exactly does having more memory make this faster?

[2020-09-20 08:36] Nirjhar100 opened #6835 "Unable to clone repository from code commit at BUILD step while deploying to AWS Amplify"
Getting  error on build step for amplify while cloning

<img width="1002" alt="Screenshot 2020-09-20 at 2 05 29 PM" src="https://user-images.githubusercontent.com/22238902/93707246-59257480-fb4a-11ea-9970-260cbd01c74c.png">

I have created a react project repository in code commit and it was working fine with amplify in OHIO server but I had to change the location to us-east-1 and now I cant get i

[2020-09-20 09:55] benjeater opened #6836 "No Auth module registered in Amplify after Fix #6811"
**Describe the bug**
Fix #6811 has not fixed "No Auth module registered in Amplify" error

**To Reproduce**
Steps to reproduce the behavior:

1. Deleted `node_modules` folder and `package-lock.json` file
2. Ran `npm install`
3. Ran `npm start`
4. No data received from GraphQL endpoints and error in console

**Expected behavior**
Data should be received from endpoints

**Code Snippet**
App.js
[code

[2020-09-20 10:25] betimer commented on #122
Same issue, and I can not fast debug online, cause it complain too large
![image](https://user-images.githubusercontent.com/8111748/93709171-745ea700-fb7f-11ea-8bb8-549f8fece858.png)

[2020-09-20 17:28] SchulzKai commented on #3066
I am experiencing the same issue.

**React Native Project - Version:**
    "aws-amplify": "^3.3.1",
    "aws-amplify-react-native": "^4.2.6",

**Code:**
    const handleCodeSubmit = () => {
        Auth.signIn(props.user.username, props.user.password)
            .then((user: CognitoUser) => {
                user.sendMFACode(phoneCode,
                    {
                        onSuccess: (res

[2020-09-20 18:06] oliverandersencox commented on #3287
yep this is happening on IOS with Ionic - but running locally in angular is absolutely fine!

[2020-09-20 20:21] marksteele opened #6838 "Storage - more than 1000 keys"
**Is your feature request related to a problem? Please describe.**
There are many use cases which involve listing out a more than 1000 keys, however the storage api provides no means of doing so (nor any work-arounds that I could find).

**Describe the solution you'd like**
A mechanism to list out keys supporting paging/offsets/prefixes and delimiters.

**Describe alternatives you've considered**

[2020-09-20 20:33] oliverandersencox commented on #6836
Yep, nothing changed - i am also still getting the error: 'GraphQLAPI - ensure credentials error No Auth module registered in Amplify'

However when running locally in my Ionic project it works fine, but on an IOS device it doesnt!

[2020-09-20 23:56] #5881 closed

[2020-09-21 01:44] cwinters8 opened #6839 "AmplifyAuthenticator - unable to reset password"
**Describe the bug**
Using AmplifyAuthenticator and a user created through the Cognito console. Following [the example here](https://docs.amplify.aws/ui/auth/authenticator/q/framework/react#recommended-usage) to set up client side authentication. The user was in FORCE_CHANGE_PASSWORD state, and when attempting to sign in, the auth state changes to `resettingpassword` then immediately changes back

[2020-09-21 02:16] srchulo commented on #6782
@mauerbac thanks! I guess thought this was a bug since I would assume it would work with however browsers normally autodetect this? Sorry for putting into docs-- didn't realize I did that!

[2020-09-21 02:51] Ammatech commented on #6761
@ericclemmons Thanks, glad I could help with the easy part :).

FYI part of the reason I put in console.log hacks and built my own core package was that the Logger debug functionality is not producing output in the 'register' method in the Amplify.ts file even in Angular development mode (see my original post with the DEBUG output). Seems to be chicken and the egg problem as by the time the app co

[2020-09-21 02:57] outspokeio commented on #5918
I'm also running into this or something similar. Have Analytics working fine locally. Deployed via Amplify and am getting the No credentials, applicationId or region error. Have tried moving back from @aws-amplify/analytics to just aws-amplify. No luck. Have tried various versions of config from aws-exports.js to manual as laid out in docs - no luck.

Am trying a whole host of different iterations

[2020-09-21 03:10] cwinters8 commented on #6839
I was able to find a workaround for the original problem. I pass a function to the `handleAuthStateChange` property, and set the auth state and user data in that function. So the issue seems to be with `onAuthUIStateChange`.
[code]

I found another problem when I try to do a forgot password - I get a 400 error when the client is apparently trying to make a POST request to https://cognito-idp.us-we

[2020-09-21 05:07] twvik commented on #6330
Seeing the same issue. There are two requests to oauth2/token on custom domain and 2nd POST request doesn't have code_verifier.

[2020-09-21 07:51] donnrri commented on #6825
Thanks for your response here is the uotput from the above
System:
    OS: macOS 10.15.6
    CPU: (12) x64 Intel(R) Core(TM) i9-8950HK CPU @ 2.90GHz
    Memory: 1.52 GB / 32.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 12.18.3 - /usr/local/bin/node
    npm: 6.14.6 - /usr/local/bin/npm
  Browsers:
    Chrome: 85.0.4183.102
    Safari: 14.0
  npmPackages:
    @babel/core: ^7.8.6 => 7.8.6

[2020-09-21 08:23] seanim0920 commented on #2706
I tried doing the above but it didn't seem to work for me, no new images appear in my bucket. Did anyone else have luck with @mtltechtemp 's approach?

[2020-09-21 10:22] gsans commented on #6202
Issue leaking to other frameworks like Vue. Not only Angular as this results in larger bundle sizes:

https://twitter.com/taseroth/status/1307429119387463680?s=19

[2020-09-21 11:10] skiltoni opened #6840 "AmplifyAuthenticator memory leak"
**Describe the bug**

I'm following the documented example for recommended usage (https://docs.amplify.aws/ui/auth/authenticator/q/framework/react#recommended-usage).

If I `console.log` inside `onAuthUIStateChange` then the logged message increases by one on every sign out, indicating a new function is created while the old function(s) are also maintained.

These duplicate functions are all calle

[2020-09-21 13:11] michaelcuneo commented on #6575
Yes, this is the exact same issue here... but I believe I'm at the lowest part here that I can possibly be.

[2020-09-21 13:48] abdielou commented on #6595
any news?

[2020-09-21 15:06] amhinson commented on #6089
There isn't currently a way to use this with `withAuthenticator`, but switching to `AmplifyAuthenticator` shouldn't be too much effort. Here is our recommended usage: https://docs.amplify.aws/ui/auth/authenticator/q/framework/react#recommended-usage

[2020-09-21 15:47] amhinson commented on #6691
@meducati I see you are using older versions of the `@aws-amplify` packages. Would you be able to try with `aws-amplify@latest` to see if you're still experiencing the same issues?

You also only need `aws-amplify` as a dependency in your project instead of each Amplify package independently. Having mismatched versions can potentially cause other unexpected issues.

[2020-09-21 16:02] sammartinez commented on #6529
@bigxalx As called out from the above, please follow the steps from the solution in #5115

[2020-09-21 16:02] #6529 closed

[2020-09-21 16:13] donaldev commented on #399
Why is this issue closed? Has the problem been rectified? If not the issue should stay open.

[2020-09-21 17:04] hrhosni commented on #5623
@llprudente's workaround requires the user to re-type the password which is not the best idea but it did inspire me to find the following workaround:

[code]

Note: if you happen to use the email as the username like myself, remember to do that:
[code]

There's still the drawback of the email field not being filled automatically. I'll try to fix that as well.

[2020-09-21 17:09] sammartinez commented on #6836
Thanks for reporting this @benjeater, we will be digging into this today and providing an update as soon as we can

[2020-09-21 17:22] tonykaram1993 opened #6842 "onAuthUIStateChange() not working as expected after page navigation when already logged in"
**Describe the bug**
Authentication is not working as expected. On first visit, all works fine. When navigating away to other pages and then back, a black page appears and user is considered as not authenticated.

**To Reproduce**
1. Clone the following repo: https://github.com/tonykaram1993/amplify-auth-bug
2. `yarn` or `npm install`
3. `yarn start` or `npm run start`
4. Open `localhost:3000`
5.

[2020-09-21 19:41] dlopez12003 commented on #5926
I am getting this message when I try to query data, using GraphQL Client works though

![image](https://user-images.githubusercontent.com/70778872/93813184-f4345200-fc0f-11ea-926f-bf08571f3105.png)

![image](https://user-images.githubusercontent.com/70778872/93813313-2a71d180-fc10-11ea-8423-46f747bc0050.png)

[2020-09-21 19:48] iartemiev commented on #5926
@dlopez12003 have you added a sync-enabled API via the CLI, followed by `amplify push`?

[2020-09-21 20:32] dannyoo opened #6845 "[aws-amplify-react-native] Update to @react-native-community/picker"
**Describe the bug**
In aws-react-native, there is still Picker usage which is depreciated. As stated by the [rn doc](https://reactnative.dev/docs/picker), it should use [@react-native-community/picker](https://github.com/react-native-community/react-native-picker) instead.

[2020-09-21 20:59] rodgco commented on #925
I'm using [MemoryStorage](https://www.npmjs.com/package/memorystorage) as an alternative. So as the window is closed nothing is kept stored in any store.

[code]

[2020-09-22 02:08] zhengligs commented on #6291
I dig a little deeper. There was some misunderstanding on custom state.

There are two auth flows here:
1. App -> Cognito
2. Cognito -> Intuit

We (as Cognito users) can control the custom state in flow 1. I believe the code @amhinson refers to is in flow 1. The default state is only 32 characters. So we don't have problem and don't need custom state actually.

The problematic state is in flow 2.

[2020-09-22 03:38] delissonjunio opened #6846 ""Invalid device key given" error when logging in with SMS MFA"
**Describe the bug**
Hello! I'm currently facing an issue where Cognito is responding with "Invalid device key given" when logging in with SMS MFA. The User Pool has the "Enable case insensitivity for username input" option enabled and we only get errors when users log in with a mixed-case version of their username.

This is happening in our custom UI which uses the bundled `amazon-cognito-identit

[2020-09-22 04:19] dymyll commented on #6249
I am also having this issue with the token refresh!

[2020-09-22 07:41] ashika01 commented on #6825
@donnrri could you screenshot the folder structure of your s3 storage bucket ?!

[2020-09-22 14:29] gerrytsui commented on #6761
I had the same issue for a few weeks, and found a workaround:
in angular.json > projects>architect>build>configurations>production , set buildOptimizer to false

My project is now using the latest angular and the latest amplify libraries.

[2020-09-22 15:02] Graham-Stein commented on #6737
Do you need any further information to investigate this issue?

[2020-09-22 16:23] kilisoria commented on #6031
Hi Guys! same issue here. Anyone has some news? Thanks!

[2020-09-22 17:09] mikalai-okun commented on #6291
@zhengligs Intuit pushed the fix to allow larger state, it fixed for us. I hope it will work for your implementation as well.
Another option - fork and modify repo, while/if amplify will make this an option.

[2020-09-22 17:10] mordka commented on #6836
@sammartinez this issue is framework agnostic, `React` label is not needed. I've reproduced it in Angular project.
By not including `@aws-ampify/core` package directly as a dependency, has caused the last version is pulled as indirect dependency by `@aws-ampify/auth`. After rebuilding the project last week we started to have problems with the app not loading,  we've spent long hours on this issue

[2020-09-22 17:32] richiewebgate commented on #6008
same problem here when I tried to use amplify for AppSync APIs instead of REST.
I'm getting the impression that using amplify in angular projects is a risk for upgradeability.

[2020-09-22 17:37] amhinson commented on #6291
Oh thats great news @mikalai-okun! Glad things are working for you now. Can you verify if you're still seeing the behavior @zhengligs?

The change for this wouldn't be in the Amplify library, unfortunately, since it is in the Cognito service, as you mentioned in your flow.

[2020-09-22 18:51] harrysolovay commented on #6838
Hi @marksteele –– I'd recommend creating a custom storage adapter for [IndexedDB](https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API).

Storage adapters abide by the following interface.

[code]

And can be provided via a `storage` field in your Amplify config.

In auth, for instance:

[code]

[2020-09-22 19:32] ashika01 commented on #6239
@urfnaino Even if you import `aws-amplify`, while doing a production build tree shaking would be enabled and all unwanted modules will not be bundled. So you shouldnt have an issue.

[2020-09-22 23:10] hisham commented on #6761
@gerrytsui while it's great you found that solution, bundle sizes of angular apps with aws-amplify are big enough as is, so build optimizing is very much needed.

[2020-09-23 00:21] elorzafe commented on #399
How to get Cognito Tokens when Authenticating with Social Providers

1. You need to Setup your Auth Provider with Cognito User Pools. More info [here](https://docs.amplify.aws/lib/auth/social/q/platform/js#setup-your-auth-provider)
2. On your App you have to call `Auth.federatedSignIn` in this way
    1. `Auth.federatedSignIn()` this will open Cognito Hosted UI Web App.
    2. In case you want to

[2020-09-23 00:25] elorzafe commented on #699
How to get Cognito Tokens when Authenticating with Social Providers

1. You need to Setup your Auth Provider with Cognito User Pools. More info [here](https://docs.amplify.aws/lib/auth/social/q/platform/js#setup-your-auth-provider)
2. On your App you have to call Auth.federatedSignIn in this way
    1. `Auth.federatedSignIn()` this will open Cognito Hosted UI Web App.
    2. In case you want to sk

[2020-09-23 02:02] danielcai1987 commented on #5623
managed to replace the text by

[code]

[2020-09-23 02:40] paragbaxi commented on #4361
another solution is:
`import { GRAPHQL_AUTH_MODE } from '@aws-amplify/api'`

`authMode: GRAPHQL_AUTH_MODE.AMAZON_COGNITO_USER_POOLS`

[2020-09-23 02:57] wlee221 commented on #6826
Hi @majortom64, please try a fresh install of your `node_modules` (`rm -rf node_modules && npm install`). This should install the latest `universal-cookie: 4.0.4` that resolves this issue.

We will also be bumping the version in `core` with the pr above. Please tell us if you still see the problem. Thanks!

[2020-09-23 05:14] malcomm commented on #6796
+1 on this - my production build just failed when I deployed AWS Console build. Not having production working should make this issue priority 1? Any updates?

[2020-09-23 05:28] mattiLeBlanc commented on #6836
I am having a similar issue in a React app.
We use Amplify, but with Cognito Userpool and Identity pool. I have created an UnAuth role and I want to run a couple of queryies via @AWS_IAM. These are unauth queries.

I tried using
[code]
which results in ` Error: No credentials`.

Then when I define a new `AWSAppSyncClient` with
[code]
I am getting the `No Auth module registered` error.
But in the `

[2020-09-23 05:48] hocnx commented on #4957
I face same problem.
I am building a chat app. Users should only hold the data of channel they joined in the client. However DataStore sync all data to all users. Even the channel is private.
Any solutions for this cases? Can I configure AppSync to customize sync logic?

[2020-09-23 05:58] undefobj commented on #4957
We're currently working on rolling out the solution for this mentioned in the design above. Stay tuned.

[2020-09-23 06:36] WolfWalter commented on #6761
As a workarround I am just calling the register calls  for the modules after the configure:
[code]

[2020-09-23 09:27] walvekarnikhil commented on #6419
I am also getting the same error, here is the requested information:
**envinfo**
 System:
    OS: macOS 10.15.6
    CPU: (4) x64 Intel(R) Core(TM) i7-5557U CPU @ 3.10GHz
    Memory: 42.13 MB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 14.8.0 - /usr/local/bin/node
    Yarn: 1.22.4 - /usr/local/bin/yarn
    npm: 6.14.7 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watc

[2020-09-23 09:31] luisfuertes commented on #6419
My workaround was upload with formdata to upload url generate by my backend.

[code]

And upload video with axios:
[code]

[2020-09-23 09:44] akeditzz commented on #1067
Hi, i there any update on this issue?

[2020-09-23 11:17] anees17861 commented on #1067
@akeditzz confirm signup test works perfectly as mentioned previously in this thread. just pass an obvious wrong otp and it will give error. one error is user not exist or something like that. if you got that error then email is not used doesn't exist. this only works if you use email as an alias for logging in

[2020-09-23 11:20] akeditzz commented on #1067
@anees17861 dose it not work for mobile number ?

[2020-09-23 11:35] anees17861 commented on #1067
@akeditzz it'll work, i use mobile number personally but have tested both. but same rules apply as for email. if signed up it needs to be verified or it won't work properly. Personally in my case if something goes wrong and user wasn't able to confirm, i just make him signup again with another username (random uuid in my case). So there will be two accounts created in cognito pool but only one wil

[2020-09-23 11:38] anees17861 commented on #1067
@akeditzz if you are using mobile number remember to use e164 format only. Country specific phone strings will give you issues

[2020-09-23 11:39] akeditzz commented on #1067
Thank you @anees17861 i will try.

[2020-09-23 12:06] imhashir commented on #3739
Any update on this issue?
I am also facing this in an angular app I am working on.

[2020-09-23 12:51] thisismydesign commented on #2160
@haverchuck Supposed these 2 should be equivalent.

`<Authenticator signUpConfig={signUpConfig}/>`

`export default withAuthenticator(App, { signUpConfig });`

That's not the case for me with TS. The example config provided by @slavagu fails with `withAuthenticator` with a type error while it works with `Authenticator`.

[2020-09-23 12:56] mbsimonovic commented on #5198
@cardinalm7 how did you solve this? I've got the same requirement

[2020-09-23 13:55] kieranbehn commented on #4755
Thanks @atulBriqsdata
Adding `Auth.configure(awsconfig)` alongside `Amplify.configure(awsconfig)` fixed it for us.

[2020-09-23 15:06] lhmansano commented on #1852
Hi,

I would like to know if there is the roadmap to release Amplify Flutter in GA, to use in production?

[2020-09-23 15:13] sammartinez commented on #518
Correct @sw-yx, This feature is now resolved with the above. Resolving

[2020-09-23 15:13] #518 closed

[2020-09-23 15:19] m5r commented on #6813
I could reproduce this bug with Cognito User Pools and Custom Auth flow type.

[code]

I fixed it by modifying `node_modules/@aws-amplify/core/lib/UniversalStorage/index.js`, here is the diff:

[code]

I'm not sure if we'd need to update `this.secure` at some point though.

[2020-09-23 16:23] majortom64 commented on #6826
Still get these errors:

https://rollupjs.org/guide/en/#error-this-is-undefined
node_modules/@aws-amplify/core/lib-esm/Hub.js
11:  * and limitations under the License.
12:  */
13: var __assign = (this && this.__assign) || function () {
                    ^
14:     __assign = Object.assign || function(t) {
15:         for (var s, i = 1, n = arguments.length; i < n; i++) {
...and 5 other occurrence

[2020-09-23 16:24] majortom64 commented on #6826
BTW, thanks for your quick reply and work on this issue. It is much appreciated. :-)

[2020-09-23 17:24] ivorscott commented on #4315
I'm using federatedSignIn with auth0 and aws cognito identity pool. My application is working fine but I still see this error message in my console. So I just removed the error missingAuthConfig and patched that bad boy.
https://www.npmjs.com/package/patch-package

[2020-09-23 17:41] xavierraffin commented on #6670
It works. This remove the label:
[code]

This issue can be closed

[2020-09-23 18:00] xavierraffin commented on #6710
After discussion with Jordan, we decided to re-open because the underlying issue is not solved.

To me the issue is that using `Auth.federatedSignIn` the AuthState the UI get in return is always **verifyContact**.
I assume it is due to the fact that for all external IdP Cognito mark the `email_verified` as **false** and Amplify use that to decide what state to go on.

This does not make sense. Sin

[2020-09-23 18:09] xavierraffin commented on #6521
Problem remains. Test URL from @liamaws have been changed to https://master.dw8p5s05jola3.amplifyapp.com

[2020-09-23 18:24] ericclemmons commented on #6813
@m5r At this moment, the supported use-case is `Auth` happening on the client so credentials can be shared with the server.

In your example, you're attempting to do the authentication on the server, which we're still solving for. That would make it a feature request, but this use-case seems different than what's happening for @oste.

@oste https://github.com/aws-amplify/amplify-js/issues/6813#iss

[2020-09-23 20:07] xavierraffin commented on #6751
An additional feature will be to have access to current Auth.state. This way it is simpler for the developer to hide/display custom components based on that.

[2020-09-23 20:11] watanabethais commented on #4813
I'm having the same issue in React after migrating from 1.1.32.

[2020-09-23 20:21] manueliglesias commented on #6839
Hi @cwinters8

On your original code, it will work fine if you hoist your `<Authenticator />` and `<Authenticated />` components like so:

[code]

[2020-09-23 20:23] manueliglesias commented on #6839
Hoisting the components seem to take care of the "Reset Password" issue you were facing.

I'll be closing this issue, please feel free to create a new one if you run into a different problem.

[2020-09-23 20:23] #6839 closed

[2020-09-23 20:56] manueliglesias commented on #6840
Hi @skiltoni

Thank you for the report, I've reproduced the bug and I am labeling the issue as such.

---

By adding a `console.log`, the messages are printed x+1 times each time

[code]

![image](https://user-images.githubusercontent.com/6154160/94068587-3e4e3c80-fda4-11ea-9c39-c5140df63d04.png)

[2020-09-23 22:17] funkel1989 commented on #6549
@IamManchanda  the latest amplify releases says it supports nuxt but I can't seem to figure out how to make it all work. Might just be because I'm new to amplify but curious if you've tried yet?

[2020-09-23 22:41] m5r commented on #6813
I understand, thanks for clarifying the situation Eric!

[2020-09-23 23:00] wlee221 commented on #6826
Rollup with Amplify always bothered me too, so I'm happy to work on this :D Thanks for keeping us updated!

I could not reproduce your error however, following swyx's guide ([blog](https://www.swyx.io/writing/making-aws-amplify-work-with-rollup-2d9m/) and [youtube](https://youtu.be/hCoRYc_FzK0)). I could get it built and running in my repo with latest amplify ([app repo](https://github.com/wlee221

[2020-09-23 23:06] wlee221 commented on #6826
It looks like [this](https://github.com/rollup/rollup-plugin-commonjs/issues/183#issuecomment-287046393) is a possible solution.

[2020-09-23 23:34] mellymelon opened #6860 "Support identityID in Auth.signUp()"
**Is your feature request related to a problem? Please describe.**
I want to be able to save the identityID in Dynamodb when a new user signup using `Auth.signUp()`. Currently identityID is only available in `Auth.currentUserInfo()` or `Auth.currentCredentials()` after a user signin.

**Describe the solution you'd like**
`Auth.signUp()` returns the identityID along with other information of the ne

[2020-09-23 23:55] ericclemmons commented on #6796
Thanks for the report! We're working on it!

[2020-09-23 23:57] ericclemmons commented on #6796
For a quick fix, you can manually register Auth via `Amplify.register(AUth)`:

[2020-09-24 00:00] xavierraffin commented on #6521
Same issue when after SignUp I clic on "CONFIRM":

![a](https://raw.githubusercontent.com/xavierraffin/fizz-demo/master/confirm.png "v")

![s](https://raw.githubusercontent.com/xavierraffin/fizz-demo/master/error-message.png "v")

[2020-09-24 00:51] Tyler-V commented on #6202
Yikes! Lets get a resolution on this, padding `allowedCommonJsDependencies` is most certainly only a bandaid for the console.

[2020-09-24 03:19] marksteele commented on #6838
Why would I want to use indexdb? The reason I'm using the Storage API is to leverage S3.

I have users who want to store thousands of files in S3. I'd like to be able to leverage Amplify (makes handling the authentication/token handling bits so simple, it's great!). I understand the reasons for dumbing down the API for some use cases, but to cripple it to the point where it removes some pretty bas

[2020-09-24 05:11] rajatraj733 commented on #3039
any updates on this? this issue should not be closed, if not resolved yet.

[2020-09-24 06:07] shanecav opened #6861 "Incorrect TypeScript types for generated one-to-many models and DataStore SubscriptionMessage"
**Describe the bug**
The TypeScript types generated by `amplify codegen models` for a schema with one-to-many models don't seem to be correct.

**Code Snippet**

Given the following schema:

[code]

I'd expect both of the following to not cause TypeScript errors:

#### 1:
[code]

#### 2:
[code]

**Both of the above examples _do_ work if I remove the `blog: Blog @connection(fields: ["blogID"])` lin

[2020-09-24 06:07] shanecav opened #6951 "Incorrect TypeScript types for generated one-to-many models and DataStore SubscriptionMessage"
**Describe the bug**
The TypeScript types generated by `amplify codegen models` for a schema with one-to-many models don't seem to be correct.

**CodeSandbox Example**

https://codesandbox.io/s/amplify-datastore-type-errors-6fwwo?file=/src/App.tsx

1. Saving a new `Post` (App.tsx line 100) doesn't work as expected when passing a `blogID` (maybe this is by design, but it was surprising to me)
2. At

[2020-09-24 08:01] codemaster08240328 commented on #1445
I am facing this issue.
I used amplify in my react web app, not used graphql.
Please help me.

[2020-09-24 09:32] webjay commented on #3242
I'm having the same issue: https://svedig.com/dashboard/

[2020-09-24 09:46] meducati commented on #6691
@amhinson

Thank you for replying (much appreciated). I have followed you advice and my new environment is as follows:

<details>
  <summary><strong>Environment</strong></summary>

[code]

</details>

**Unfortunately the issue persists!**
(and as mentioned earlier... this only applies to one of my 8 Models)

Some notes:
- After uninstalling all amplify packages and reinstalling aws-amplify, the @a

[2020-09-24 11:24] webjay commented on #3242
On a [Gatsby](https://www.gatsbyjs.com/) site which [this](https://svedig.com/dashboard/) is, it happens every time you sign in, sign out, then try to sign in again.

[2020-09-24 12:35] mezalejandro commented on #6547
Hello,
at the end of the login with apple and when returning to the app I want to make a request to oauth2 / token https://docs.aws.amazon.com/cognito/latest/developerguide/token-endpoint.html but when doing it from the app it returns invalid_request if I do it from chrome console or postman it works fine.
Any ideas?

[2020-09-24 12:35] BenjaminNielsen commented on #6796
I was able to push a production build to amplify console after following your suggestion. Thank you!

[2020-09-24 12:53] SeFeX commented on #3732
Hello @jj0b ! I am using amplify sdk for javascript on the frontend and I have another client for the backend in spring boot, and it is configured as resource server, can you explain the OAuth2 client flow to get user authentication information? The access token that the frontend sends me does not have enough access to obtain the user's information from the url xxxx.amazoncognito.com/oauth2/userIn

[2020-09-24 12:59] aloknecessary commented on #6177
I too have the same problem when running this using gitlab runner, can someone provide any addional help ?
I tried the `postinstall` fix as explained above, didn't worked for me

[2020-09-24 13:13] ondojo commented on #6629
Hi, we are actually facing the same problems, using DataStore (which requires us to use conflict detection) and hence removing that is not a probable solution for us.
The symptoms are, that occasionally an update of a model having an array attribute leads to a duplication of the array items.

I hope that description is somewhat understandable, if not, please let me know and I will try to elaborate

[2020-09-24 14:25] codemaster08240328 commented on #4280
@jordanranz , I updated graphql version to 14.0.0 but no luck. can you specify what is the critical key on this issue?

[2020-09-24 15:00] siaolichi opened #6863 "Auth.forgotPasswordSubmit doesn't work"
I used amplify with React Native.

When I called
[code]
it return nothing.
after call the function again, the error return:
[code]
Every other functions (including confirmSignUp) works fine except this one.
It used to work fine but at some point it just broken and I have no clue how to fix it.
Is there any way to fix it or find the cause of these situation?

Thanks a lot!

[2020-09-24 15:01] gerrytsui commented on #6761
agree. But it is an indicator that the problem could be due to optimization, not the amplify library. That is why the code only fails in Angular ? not react and vue.

[2020-09-24 16:16] hisham commented on #6761
@gerrytsui yes the issue happens only in prod and not dev builds.

[2020-09-24 16:22] sashasklar commented on #4670
Another possible trigger for this error: the values for custom metadata must be strings.

` {
          level: "private",
          contentType: file.meta.type,
          metadata: {
            custom1: someNumber.toString(), // values must be strings
            custom2: someString,
          },
        }`

[2020-09-24 16:30] ericclemmons commented on #6761
We're working on a fix for this, but there's basically `Amplify.register` is being treated as a "side-effect" and removed from prod builds, whereas other frameworks' bundlers (Create React App, Next.js, etc.) don't.

We have to provide the right "hints" to make sure Angular keeps it for optimized bundles.

[2020-09-24 16:34] codemaster08240328 opened #6865 "Uncaught Error: Cannot use e "__Schema" from another module or realm."
**Describe the bug**
Uncaught Error: Cannot use e "__Schema" from another module or realm.

Ensure that there is only one instance of "graphql" in the node_modules
directory. If different versions of "graphql" are the dependencies of other
relied on modules, use "resolutions" to ensure only one version is installed.

**To Reproduce**
aws-amplify: ^3.0.23
react-app-rewired: ^2.1.6

yarn: 1.22.5
nod

[2020-09-24 17:19] fierceblonde commented on #2545
MatteoInfi's solution worked for me

[2020-09-24 17:40] ucjallen opened #6866 "[Feedback] S3 Image Picker On Completed Upload Trigger?"
**Page**: [`/ui/storage/s3-image-picker/q/framework/angular`](https://docs.amplify.aws/ui/storage/s3-image-picker/q/framework/angular)

**Feedback**:

I have gotten the S3 Image Picker to work and when I click the button, it uploads to my S3 bucket, but then it just sits there. How do I know when the upload has completed and can direct back to another page? I noticed the S3 album has a handleOnLoa

[2020-09-24 17:48] codemaster08240328 commented on #6865
Here is the screenshot which shows node module packages.
https://share.getcloudapp.com/qGuvj7Zp

[2020-09-24 18:27] elorzafe commented on #6172
@Jun711 I follow the same steps as you mention and I couldnt reproduce when I was deleting the linked account on Cognito console.

I used this Pre SignUp trigger code for linking the account

[code]

 Can you share the steps you are doing for linking the account and deleting the linked account?

[2020-09-24 18:31] amhinson commented on #6020
@paulsjohnson91 I'm going to close this issue, since it seems that the original problem has been addressed and you've created a new issue for the pre-sign up trigger.

[2020-09-24 18:31] #6020 closed

[2020-09-24 18:40] amhinson commented on #6513
@paulsjohnson91 Are you still having trigger issues or were you able to resolve it?

[2020-09-24 19:46] chrisleyva commented on #6756
Hi @jordanranz , I am sure you are aware but Vue 3 was officially released last week.
Are you aware of any work-arounds to get this import to work in a Vue 3 project?

Thank you. We appreciate your work.

[2020-09-24 20:06] ngault opened #6868 "All Web- and ServiceWorkers reliably destroyed by new `cognito-identity-js`"
**Describe the bug**
With the introduction of `isomorphic-unfetch` to `amazon-cognito-identity-js/src/Client.js` at https://github.com/aws-amplify/amplify-js/blob/7cbed47cb2bbbc3a94a6fcae87efee80a5542f2e/packages/amazon-cognito-identity-js/src/Client.js#L1 any Service Worker or Web Worker making API calls will crash with a `window not found`.  Moreover, the inclusion of file in a JS bundle instant

[2020-09-24 21:02] jj0b commented on #3732
@SeFeX the OAuth 2 Client Credentials Grant flow did not give me access to user authentication information. That flow is for machine-to-machine authorization, which is what I used it for. It returned an access token and scopes that I used to authorize between a backend application running on on a machine, with a service on AWS.

[2020-09-24 21:03] AaronZyLee commented on #6560
@abdielou @iartemiev I think it is not the modelgen bug but the [amplify doc](https://docs.amplify.aws/cli/graphql-transformer/directives#has-one) that misleads the understanding of the `HAS_ONE` relationship. Suppose from your case that
#### _Project_ `HAS_ONE` _Team_.
Before writing the schema I attach this [post](https://stackoverflow.com/questions/3808926/whats-the-difference-between-belongs-t

[2020-09-24 21:10] SeFeX commented on #3732
@jj0b So that token I use to obtain via api or sdk aws the user information of cognito?

[2020-09-24 21:49] mkrn commented on #6318
Is there a way to prevent paho from loading at all? I'd like to use this opportunity to switch to WebSockets (https://aws.amazon.com/blogs/mobile/appsync-realtime/) way but not finding how to do it?

[2020-09-24 22:05] mkrn commented on #6318
@karldanninger I went around it by patching the paho-mqtt with this https://www.npmjs.com/package/patch-package

[2020-09-24 22:14] karldanninger commented on #6318
@mkrn that is wonderful to hear! Wow.

Could you explain what you did to patch it? Was it literally just `yarn patch-package package-name` ?

I still hope that Amplify might either lose the dependancy or fix it somehow.. It seems the authors of `paho-mqtt` are non-responsive.

[2020-09-24 22:20] mkrn commented on #6318
@karldanninger
- Edit node_modules/paho-mqtt/paho-mqtt.js  to match the PR
- Run `npx patch-package paho-mqtt`
-  Add this script to package.json  "postinstall": "patch-package"
- npm i patch-package

Worked like a miracle

[2020-09-24 22:48] jefelewis commented on #2859
For Amplify APIs, you can run the following to delete an API:
[code]

[2020-09-24 23:03] harrysolovay commented on #6838
@marksteele apologies––I must have misread your initial comment. I thought you were referring––not to the storage category––but to underlaying storage mechanisms for things such as authentication state. I'll communicate about this with a team member who is more well-versed.

[2020-09-25 00:05] MatteoInfi commented on #2545
Hey, did you try if it works fine also for redirection? The page is not loading properly when is redirecting from the naked domain to the www, not sure it is me or this redirection rule.

[2020-09-25 00:36] ericclemmons commented on #6761
Hi everyone,

We just pushed a fix to `latest` (https://www.npmjs.com/package/aws-amplify/v/latest via https://github.com/aws-amplify/amplify-js/pull/6867) that addresses Angular's `ng build --prod` behavior removing `Amplify.register`.

We validated this fix with Angular 9 & 10 (as well as other frameworks like CRA, Next.js, Vue, & React Native), so please let us know if you still experience issu

[2020-09-25 00:36] #6761 closed

[2020-09-25 00:41] ericclemmons commented on #6836
@mattiLeBlanc Are you experiencing the same issue with `aws-amplify@3.3.2` (which is `latest`)?

We just pushed out a couple of fixes and I wasn't able to reproduce with my app using Auth, API, & Storage.

The one difference is that I'm doing `import { Amplify, API, Auth, Storage } from "aws-amplify"` and `Amplify.configure(awsExports)` to ensure all packages are up-to-date.

This is a high-priori

[2020-09-25 03:45] shiviishiv commented on #1318
Assume that I have created s3 bucket and got a token, and that token I had put in front-end to upload files to s3.
is there any feature like that, so that I won't have to expose credentials.

[2020-09-25 03:47] cardinalm7 commented on #5198
Hey @mbsimonovic
We ended up creating a backend API which exchanges tokens for an authorization_code saved to a Redis cluster, and used PKCE and state to secure the exchange to mirror the oauth2 spec, essentially using our app as a token broker.

There are other solutions that could have worked... Amplify uses 4 local storage keys to create its session, refresh token, id token, device key, and I c

[2020-09-25 04:06] dlopez12003 commented on #5926
@iartemiev I did it through that way, I got it to work by uninstalling and installing again my npm packages, weird

[2020-09-25 05:01] iamluisro commented on #5010
I don't mean to re-open this issue. I just landed here after some research and thought it'd be good to circle back to some AWS documentation in case anyone else finds their way here.

Seems AWS heard, and they did add the dependencies to include in their documentation:
`npm install aws-amplify aws-amplify-react-native @react-native-community/netinfo`

https://docs.amplify.aws/start/getting-started

[2020-09-25 06:11] mdegrees opened #6869 "Auto resolve Datastore @connection fields"
**Is your feature request related to a problem? Please describe.**

When working with @connection in a relational DataStore model, I find myself having to loop through the results and manually resolve the connection fields one by one whereas with API.graphql I don't have to.

Fetching Posts with comments @connection for examples requires me to:
. Fetch all the posts
. loop through the posts and fo

[2020-09-25 06:32] wylfent opened #6870 "Datastore - Support IndexedDBAdapter for WebWorker"
**Is your feature request related to a problem? Please describe.**
We have a project plan that to use the Datastore with the WebWorker, and store the synced data into the local IndexedDB.
But the current behavior is it will pick the AsyncStorageAdapter instead of IndexedDBAdapter. As it only allow to use IndexedDBAdapter when `browserOrNode().isBrowser` is true.

**Describe the solution you'd like

[2020-09-25 06:44] mevert commented on #3039
@iartemiev and other AWS people, what is the status of this issue? This should not be closed.

[2020-09-25 06:44] mordka commented on #6836
@ericclemmons I can confirm the bug is gone after updating amplify libraries. I'm using modular approach and that core package version fixes the problem: `@aws-amplify/core": "3.5.5"`.
 Thanks a lot :1st_place_medal:

[2020-09-25 06:58] kirkryan commented on #3039
We used the repo from @Dinesh5799 and it works brilliantly - all devices out in the field now reconnect when losing signal intermittently- I highly suggest you check out his awesome work.

[2020-09-25 07:11] vaskevich commented on #122
@betimer perhaps you can use [Lambda layers](https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html).

[2020-09-25 08:38] grifin85 commented on #4257
It's because need using **Observable** not from **rxjs**, but **zen-observable-ts**

[2020-09-25 08:59] pratyaksh123 commented on #6845
Hey, I would like to work on this @dannyoo

[2020-09-25 09:20] Sacinandan commented on #6031
Hello! Same issue.

I replaced the import for AsyncStorage in node_modules, but still has an issue with **Require cycles are allowed, but can result in uninitialized values. Consider refactoring to remove the need for a cycle**:

`WARN     Require cycle: node_modules/@aws-amplify/pubsub/lib-esm/index.js -> node_modules/@aws-amplify/pubsub/lib-esm/PubSub.js -> node_modules/@aws-amplify/pubsub/lib-e

[2020-09-25 10:49] donnrri commented on #6825
Here is my screenshot.  Thanks for any help
<img width="1627" alt="Screenshot 2020-09-25 at 11 43 37" src="https://user-images.githubusercontent.com/1951795/94258641-0b7f8200-ff25-11ea-8600-ec4d08f8b68b.png">

[2020-09-25 12:05] abhisheksett commented on #5783
@sammartinez I'm trying to do the same implementation what @mlescaudron @sujitsagar mentioned.
For forgot-password, when I use an email id which is not registered and if I try to request for an auth code, it used to throw me an error saying email not registered. But now it doesn't complain anymore. Any email Id I enter, always get a generic 200 response.

[2020-09-25 13:04] keisan1231 commented on #6031
same issue😓

[2020-09-25 14:52] iartemiev commented on #6560
@AaronZyLee the Stack Overflow answer you're linking to is discussing this from an RDB design perspective. That's not necessarily relevant here, since we're dealing with NoSQL and GraphQL where different normalization rules and access patterns apply.
Even though your suggested schema might work, I think it's needlessly complex for a simple Has One relationship. Using `@key` will create a GSI on th

[2020-09-25 16:54] sammartinez commented on #5783
@abhisheksett Any chance you can cut us a [new issue](https://github.com/aws-amplify/amplify-js/issues/new?assignees=&labels=to-be-reproduced&template=bug_report.md&title=) for us so we can dig into this separately? @mlescaudron Please let us know more on your use case.

[2020-09-25 17:24] ericclemmons commented on #6836
@mordka Thanks for the update!  @benjeater Can you confirm it's fixed with yesterday's release as well?

I want to make sure nothing's amiss between yours & @mordka's experience 🙏

[2020-09-25 17:29] adamup928 opened #6873 "PubSub: Unblock subscriptions in desktop Node environments"
A recent update to the `PubSub` component in this [pull request](https://github.com/aws-amplify/amplify-js/pull/6726), checks for a Node environment, and if it exists, prevents subscriptions from being established.

I understand the justification for this regarding multi-tenant apps sharing sockets. In our implementation, however, we are using the PubSub module in a client application running in a

[2020-09-25 17:48] wlee221 commented on #6796
Hi @BenjaminNielsen and @malcomm, sorry about the delay. We just pushed pr #6867 to `latest` that addresses this. Please try again with the latest amplify and let us know if this solves your issue. Thank you!

[2020-09-25 18:45] LucasSubli commented on #5486
Any news on this ?

[2020-09-25 18:56] elorzafe commented on #6330
@twvik @vidhyasagarj @Alk3m1st @reggiepangilinan @seanbecker15

I am only seeing one request, this are the steps I went thru.

1. I created a react app using CRA (used typescript template `npx create-react-app my-app --template typescript`
2. Created an amplify project using amplify-cli
3. On my amplify project added Auth following [Social sign in (OAuth) guide](https://docs.amplify.aws/lib/auth/s

[2020-09-25 19:08] armando-fm commented on #6031
Same issue here

[2020-09-25 19:25] LucasSubli commented on #5583
Any updates on this ?

[2020-09-25 19:35] undefobj commented on #6869
@iartemiev 👀

[2020-09-25 19:42] jdsaurith commented on #2545
Esto funciono para mi.

[2020-09-25 20:13] manueliglesias commented on #6842
Hi @tonykaram1993

I was able to reproduce this, I'll be labeling this as a bug and we'll be discussing how to address it.

For now, one thing you can try is to check for the auth state inside `useEffect` like this:

[code]

[2020-09-25 20:27] BenjaminNielsen commented on #6796
I can confirm prod build are now working for me. Thanks so much!

[2020-09-25 20:28] #6796 closed

[2020-09-25 23:10] hutber commented on #992
I believe in the newer versions of appsync this is no longer an accepted way to get the token. I am still stuck on trying to get the token sadly.

[2020-09-25 23:48] drixta opened #6875 "Aws-Amplify importing the entire aws-sdk library creating huge bundle size"
**Describe the bug**

AWS-Amplify is importing aws-sdk entirely creating a massive bundle size. This issue hasn't happened before.

![Screen Shot 2020-09-25 at 4 42 38 PM](https://user-images.githubusercontent.com/2681321/94324352-58c41980-ff4e-11ea-8c7f-1d68679e0288.png)

**To Reproduce**
I'm currently using [webpack-bundle-analyzer](https://www.npmjs.com/package/webpack-bundle-analyzer) to gener

[2020-09-26 07:39] mattiLeBlanc commented on #6836
Thanks guys.

[2020-09-26 09:28] epappas commented on #6467
Hi, has anyone solved this? this has suddenly affected us as well. The app had passed the verification and was working fine, until it stopped recently.

[2020-09-26 11:43] tobiasfeil opened #6876 "Return empty array, not null, when doing graphQL list query with no results"
When I do a list query and there are no items in the table, `items` is `null`. This introduces having to check for null. It would be more idiomatic if an empty array was returned. Thank you!

[2020-09-26 12:13] #6876 closed

[2020-09-26 16:04] tonykaram1993 commented on #6842
Alright, thank you for your response. I will be trying this on Monday and will let you know about the behavior.

[2020-09-26 17:32] bilalashraf1710 opened #6913 "Pass custom attribute to Federated Signin"
**Which Category is your question related to?**
Federated Signin

**Amplify CLI Version**
4.18.1

**What AWS Services are you utilizing?**
AWS Cognito

**Provide additional details e.g. code snippets**
I want to pass a custom attribute with the federated signin.
At the moment I am doing:
"Auth.federatedSignIn({ provider: "Google" })"

But I want to do something like this:
"Auth.federatedSignIn({ p

[2020-09-26 18:57] cyrfer opened #6878 "Hub not firing for signIn event after calling Auth.signIn()"
**Describe the bug**
In other projects, I am used to the Hub providing a message when a signIn occurs. I cannot get the simplest log to occur for a signIn event in a new project. Other events are working.

When I call `Auth.signIn()`, it succeeds. I get no errors in my code. I can tell it succeeds because if I refresh my browser I see the "configured" event go to my Hub callback, and then I call `

[2020-09-26 23:21] hutber commented on #3089
Like @sigimulukutla I'm also pretty baffed about this

[2020-09-26 23:33] cheunjm commented on #6878
Same problem here with 3.3.2

[2020-09-27 00:39] matamicen commented on #2965
@ngocketit Does the pre signed URL improves the upload time to S3 comparing with Storage.put ?

@elorzafe Storage.put is taking so long time for files just around  10mb, the same file is 4x faster uploading from the S3 console, do you think the pre signed url is the only way to improve this until Amplify improves the Storage.put performance?

Thanks both of you :)

Matt.

[2020-09-27 02:35] BrnoPCmaniak commented on #5782
So I tried to fix this. Following upon @anantoghosh I googled and found out that the most likely issue is that the form fields are scattered across different shadow DOM roots.

I also noticed this commit https://github.com/aws-amplify/amplify-js/commit/538ca667296568fc58d77ce5c45f201b59e085ea

So I tried to undo some of it works. And instead of using shadow dom for the whole thing I tried to force

[2020-09-27 03:10] matamicen commented on #5432
@angelarw we are realizing that uploading  files of 10mb with storage.put are slow 4x times comparing with the S3 console and sometime unstable , means that sometimes takes more time than the average. Is this happening to you? Did you try pre signed multipart upload or something else ? Thanks!
Matt

[2020-09-27 12:04] dingdongping commented on #6513
@RossWilliams hello,How can I disconnect PubSub? I found that in react-native, after the mobile network is disconnected, I can't subscribe to a topic after reconnecting

[2020-09-27 17:11] NTonani opened #6880 "Analytics TypeError on Meteor-Cordova iOS - white screen at runtime"
**Describe the bug**
We are looking to use Pinpoint through Analytics in our app. It's a webapp we port to mobile using Cordova. The app is built with Meteor, which provides [Cordova integrations](https://guide.meteor.com/cordova.html). We get a runtime error when importing the Analytics package _only_ on iOS mobile app, which causes the app to stall after splash on a white screen. Works through w

[2020-09-27 17:13] Shadid12 commented on #6878
@cyrfer  what is the cli version you are using ?

[2020-09-27 18:03] Sahejmaharjan1 opened #6881 "Push Notification Image does not appear on notification."
If I send a message directly from Pinpoint to my app, I have the possibility to attach Media Urls (pictures), which should be displayed as I understood it in the Push Notification. But they won't.

I do get the url in logs but am not able to recieve the image on notification.
[code]

How do i show Image on notification??

[2020-09-27 20:02] hrhosni commented on #6479
Here's a very ugly workaround until this a better solution is proposed. The idea is to catch error messages and display them ourselves in our own custom Toast.
The ugliest part is probably having to hide the default Toast. I couldn't do it without using a `setTimeout` tbh :(

[code]

Here's the css in case anyone's interested:
[code]

[2020-09-28 04:30] #6138 closed

[2020-09-28 04:30] #6037 closed

[2020-09-28 04:30] #6096 closed

[2020-09-28 04:30] #6309 closed

[2020-09-28 04:30] #6283 closed

[2020-09-28 04:30] #6212 closed

[2020-09-28 04:30] #6049 closed

[2020-09-28 04:30] #6257 closed

[2020-09-28 06:26] benjeater commented on #6836
@ericclemmons I uninstalled all `aws-amplify` packages and reinstalled.  Everything is working again.  Thanks to everyone who contributed to this fix.

[2020-09-28 06:26] #6836 closed

[2020-09-28 06:42] PierrickI3 commented on #6552
Thanks @mogarick. Your solution worked for me too. I've been scratching my head over this for several days looking at why regular API calls worked for authenticating users while jest reportedly failed with `Incorrect username or password`.

[2020-09-28 10:07] jdmwood opened #6884 "Allow setting SSR cookies as `lax` when using `ssr` setting"
**Is your feature request related to a problem? Please describe.**

As expected, when I set `ssr: true` in the config, amplify sets a couple of cookies which are sent with all requests.

The issue is that these are set to `SameSite = strict` which means that when I follow a link from a third party (e.g. clicking a link in gmail), these cookies are filtered out by the browser.

**Describe the solut

[2020-09-28 11:08] bebraw commented on #6868
For reference, it looks like https://github.com/supabase/postgrest-js/pull/109 moved to use [cross-fetch](https://www.npmjs.com/package/cross-fetch) which doesn't appear to have the issue when run within workers so using that over the current solution is one option.

[2020-09-28 11:27] valerusg commented on #3039
I was having the same problem, and like @cuongvo said, the "clientId" is always the same.
I overrided the PubSub class by implementing it again and adding a new function in order to restart the client. The final code is:
`
import Observable from 'zen-observable-ts';

import {
    Amplify,
    browserOrNode,
    INTERNAL_AWS_APPSYNC_PUBSUB_PROVIDER,
    INTERNAL_AWS_APPSYNC_REALTIME_PUBSUB_PROVIDER

[2020-09-28 14:01] iartemiev commented on #6870
Thank you for opening the PR, @wylfent. It was released as part of **aws-amplify@unstable** and will be included in the next stable release this week.

[2020-09-28 14:01] #6870 closed

[2020-09-28 15:23] #6552 closed

[2020-09-28 16:28] elorzafe commented on #5198
@tschoffelen @mbsimonovic @cardinalm7

I will mark this issues as a feature request,

Thanks for all the feedback

[2020-09-28 16:34] raffibag commented on #1585
Seems like this thread veered a bit off course. There are many of us still wondering if it's possible to host our own, fully customized (and, importantly, _localized_) version of the hosted UI. The solution offered seems to apply only to customizing the federated services within the existing hosted UI.

Would be nice to get a clear, concise answer on this: will Cognito ever provide the tools for u

[2020-09-28 16:37] donnrri commented on #6825
Is there any news on this.  Can you assist me in resolving this issue please

[2020-09-28 16:44] elorzafe commented on #3732
I reopened this is issue, and mark it as a feature-request for the service team.

[2020-09-28 16:51] elorzafe commented on #3732
Currently from the client (Mobile and Web) the only option available to access custom scopes on the access token is using Cognito Hosted UI.

if you use `Auth.signIn` it will return the default scope.

The scopes that appear on `oauth` param are only valid when using Cognito Hosted UI.

Can anyone mention on this ticket, what is the minimum thing that will allow you to use Cognito Hosted UI?

[2020-09-28 16:57] elorzafe commented on #3732
@DavidWells

I want to understand more how the scope from the token will protect your API. Because what I understand is that scopes are configured on the App Client settings and they are not specific to the user unless I am missing something.

Wouldnt be more useful to use AWS IAM to restrict access to the endpoint/path?

[2020-09-28 17:24] SeFeX commented on #3732
@elorzafe

Hi! I would like to answer in my case, what I understand is that IAM is the user system for the AWS root account, but a user management system is needed for an app developed by itself, with specific accesses, it would be the database of users with their respective authentication, it is more efficient for cognito to maintain authorization and we only validate the token information from t

[2020-09-28 17:41] tonykaram1993 commented on #6842
@manueliglesias Alright, a small update. I have implemented the logic you provided in my code (a bit different than the example repo I provided) and everything seems to be working fine.

Auth state is set correctly and the issue is no longer manifesting.

Thank you!

P.S. I am not sure if I should close this issue or keep it open for other people that may be experiencing this, or for issue trackin

[2020-09-28 18:22] paragbaxi commented on #3321
@manueliglesias  looked into this. in order to access the AWS namespace, I'd have to configure it with an access key in the electron package. if I'm distributing this electron app, then those keys would be shared. Is there another solution?

@themuli thank you! I added the following to `_app.tsx` under `<Head>`
`<script dangerouslySetInnerHTML={{ __html: `process.browser=true;` }} />`

This worked

[2020-09-28 20:26] TheDutchCoder commented on #5167
We are also facing this issue.
For whatever reason the promise **resolves** with a "not authenticated" value instead of **rejecting**.

[2020-09-28 20:47] sammartinez commented on #6238
@siboulet, this looks specific to the Amazon Cognito service. Please refer to this documentation on "[Managing Error Response](https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pool-managing-errors.html)" in order to handle this. Thanks!

[2020-09-28 21:53] borisdayma opened #6885 "Sign up form validation not working with "required" formField"
**Describe the bug**

In the sign up form, "required" fields are only considered for email, username and password.
The form does not catch any incomplete fields that have been set to "required".

**To Reproduce**
Steps to reproduce the behavior:

In Vue, create a sign up form from `<amplify-sign-up>` component and add some required formFields.
Then you can still sign-up without filling in those re

[2020-09-28 22:02] dyson-yamashita commented on #6330
I have same problem.
@elorzafe Could you tell me the versions of aws-amplify/core and aws-amplify/auth?

[2020-09-29 00:16] borisdayma commented on #2777
You can just edit `verification-link.js` by adding

[code]

[2020-09-29 00:44] borisdayma commented on #2777
@panayi Your approach is interesting.
I'm wondering why the CLI does it through lambda triggers. Maybe for more flexibility?

Does it also work when users need to reset passwords?
Did you have any other limitations?

Also I'm wondering if you had to build a custom UI.

[2020-09-29 04:16] kmbro commented on #6838
I am looking for this feature as well. once you hit 1000 files or whatever your max page size is, you should get a key back. It is pretty basic pagination 👍

[2020-09-29 06:50] cosacak commented on #3197
same

[2020-09-29 08:10] #6824 closed

[2020-09-29 09:27] donnrri commented on #6825
Thanks for your help . I have made some errors , since when I make a new project and try this it works . sSo once again thanks for your input , apologise for wasting your time . I will close this issue

[2020-09-29 09:27] #6825 closed

[2020-09-29 11:18] myfairshare opened #7024 "DataStore save with predicate explanation"
**Which Category is your question related to?**
DataStore save with predicate

**Amplify CLI Version**
4.29.3

**What AWS Services are you utilizing?**
Amplify, DataStore

**Provide additional details e.g. code snippets**
I'm having trouble understanding the code snippet below of the DataStore documenation under 'synching to the cloud' section.
Should I be doing similar every time I save new data?

[2020-09-29 11:48] mattiLeBlanc commented on #6836
I got this error again when I build my NextJS project and exported the static code.
Running NEXT in development mode, I worked fine, but after exporting it and running that in a webserver, I got the `No Auth module registered in Amplify` error.
Upgrading my Core and AUTH package did resolve the issue.

[2020-09-29 12:23] Naes0 commented on #6031
same issue

[2020-09-29 12:38] mattiLeBlanc commented on #6836
So I am getting another error: ` GraphQLAPI - ensure credentials error No Cognito Identity pool provided for unauthenticated access` when I use `import { GraphQLAPI } from '@aws-amplify/api-graphql'` instead of `import API from '@aws-amplify/api'`.
In the NEXT app I do `GraphQLAPI.configure(awsConfig)` and then I use the `GraphQLAPIClass` for typing in my API facade.
 instead of the deprecated API

[2020-09-29 13:03] itsmelion commented on #6031
Well, these are two different problems, so keep a better track of progress and conversations i think should be 2 issues.

In my case,
- i **still get** is deprecation warning of _AsyncStorage_ from react-native core.
- I **don't get** the _require cycle_ after i changed from using the main repo default exports (aka: `Amplify from 'aws-amplify'`) to granularly the ones i needed ex:
[code]
obviously

[2020-09-29 13:28] alissaVrk opened #6887 "support for mock api in preTest phase"
I think it can be nice to be able to run e2e (cypress) tests with mocked API

it seems that there is no java installed in the docker image.
it would be nice to have java installed and examples for the .yml for this

any other solution, like using the dataStore for this purpose could help a lot as well

thanks

[2020-09-29 13:37] angelarw commented on #5432
@matamicen i haven't tested the performance so I'm not sure

[2020-09-29 13:40] askurat commented on #5087
Did anyone get this working or some type of workaround?

[2020-09-29 13:56] randalb1991 commented on #6535
The version issue with the version 3.0.24

[2020-09-29 14:04] aneeshtoobler opened #6888 "React native Ui block when uploading"
**Describe the bug**
Upload to using

**To Reproduce**
Steps to reproduce the behavior:

1. npm install aws-amplify --save
2. npm install aws-amplify-react-native --save
3. import { Storage } from "aws-amplify";
4.Storage.put(key, blob, {
    contentType: blob.type,
    metadata: { payload: JSON.stringify(meta) },
  });

**Expected behavior**
Using  "aws-amplify": "3.3.1",

Upload file in backgrou

[2020-09-29 14:22] radom88 commented on #6888
@sammartinez as per discussed with Elise in the AWS Builders community, see the issue above with amplify v3

[2020-09-29 14:23] romeorr commented on #6888
@sammartinez as per discussed with Elise in the AWS Builders community, see the issue above with amplify v3

[2020-09-29 14:27] PeterLAxakon commented on #3642
I'm also having this problem endpoint seems to be called twice. Following examples from here. https://docs.amplify.aws/ui/auth/authenticator/q/framework/react#hiding-form-fields

[2020-09-29 15:14] sammartinez commented on #6888
Thanks @romeorr for cutting this! Ill see about having our oncall look into this once we are freed up

[2020-09-29 16:52] ericclemmons commented on #6836
@mattiLeBlanc Is your usage of `GraphQLAPI` in your Next.js apps' server-side code or your client-side code?

Can you open a new issue with these details, sample code, etc. so we can look into it?

[2020-09-29 17:40] switch120 commented on #4315
Resolved my issue also that cropped up out of nowhere after an update to `aws-amplify@3.2.0`. Thanks!

[2020-09-29 18:54] ngault commented on #6868
FYI, the offending problem in the `unfetch` repo has just now been fixed:
https://github.com/developit/unfetch/pull/109

The problem in `amazon-cognito-identity-js` should go away by updating to the `isomorphic-unfetch` dependency, which depends on `unfetch`.

[2020-09-29 20:25] cbishop-fv commented on #4915
Work around I am using:

`
import Amplify, { I18n } from 'aws-amplify';

const authLabels = {
  en: {
    'CUSTOM_AUTH is not enabled for the client.': 'Password cannot be empty.',
  },
};
I18n.setLanguage('en');
I18n.putVocabularies(authLabels);
`

[2020-09-29 21:33] #6585 closed

[2020-09-29 21:45] sammartinez commented on #6887
@alissaVrk Can you please provide a little more context on the use case you are looking for in regards to cypress testing? Are you looking for Amplify to provide a way to mock an API for Cypress testing? This seems specific to Cypress testing and not Amplify related so wanted to understand. If this is specific to Cypress, I recommend reviewing their documentation around [mocking routes](https://do

[2020-09-30 00:16] quyctd commented on #3125
@sammartinez Sorry, I have a question, how can I use `customState` for redirect after `federatedSignIn`. I tried putting some URLs into `customState` but not like it works?

[2020-09-30 07:05] alissaVrk commented on #6887
sorry if I wasn't clear, I meant running `amplify mock api` before running the e2e tests (I mentioned cypress only because this is the advised way to test in the [docs](https://docs.aws.amazon.com/amplify/latest/userguide/running-tests.html)) .

what I want to do is run the e2e tests with a clean  local DB.

[2020-09-30 09:46] rod-eligible commented on #6723
Hey @rajcrystaldelta I'm facing the same scenario

Did you find a workaround in the meanwhile, something you can share?

Thank you

[2020-09-30 12:21] Paulo-W commented on #3928
I had the same problem with the new version. Adding the following to my `main.ts` this seemed to fix it for me.
[code]

[2020-09-30 13:01] Pruxis commented on #538
We have the same, it's absurdly slow

[2020-09-30 13:03] kimfucious commented on #5774
Hi @sammartinez,

Here's a bit more information that hopefully may help.

In the `handleSpotifyAuth()` code block shown [here](https://github.com/aws-amplify/amplify-js/issues/5774#issue-617614879),  Expo's AuthSession is triggered using `startAsync()` method as documented [here](https://docs.expo.io/versions/v38.0.0/sdk/auth-session/#authsessionstartasyncoptions).

This results in the app being l

[2020-09-30 13:43] rorra commented on #6723
hi @rajcrystaldelta

I'm facing the same issue, I have the cognito tokens, but I don't have the customer username/password, yet I need to use appsync

Did you find any workaround, until they finally implement such a fundamental feature into the library?

[2020-09-30 13:50] NimmLor commented on #6799
Exactly the same problem here, any solutions yet?

[2020-09-30 13:54] MattM31 opened #6892 "Auth.currentAuthenticatedUser replacing URL parameters with category=0"
Before performing an API call to api gateway with fetch I call Auth.currentAuthenticatedUser to refresh the tokens as they were expiring if the browser was left open on my app for too long so I assumed calling the above function first would prevent API gateway returning Unauthorized responses if the tokens expired. But when I call the above function its removing my current url params and replacing

[2020-09-30 15:45] sammartinez commented on #6887
Thanks for the clarification on this @alissaVrk. Im going to move this to Amplify CLI as they are a separate team of Amplify to the JavaScript team. cc @renebrandel

[2020-09-30 16:52] simlmx commented on #4426
Because I looked for it for a while!
![User_Pools_-_Amazon_Cognito](https://user-images.githubusercontent.com/1105380/94715615-b4f6b700-031b-11eb-9587-fd5ba2392e69.png)

[2020-09-30 17:06] lawmicha commented on #6517
should this remain open?

[2020-09-30 18:28] aoloo commented on #6676
@harrysolovay @elorzafe any movement on this?

[2020-09-30 21:05] xavierraffin commented on #5284
If I may, no need to run the isValid token expiration twice, and because of CognitoUserSession constructor validating accessToken as not null the function should just be:

[code]

CognitoUserSession constructor is (accessToken is immutable)

[code]

[2020-09-30 21:56] Cakhavan commented on #5380
Hi, I was wondering how you fixed this with the different uuid() solution? My app just stopped working all of a sudden and I can't figure out why. I'm getting the proper signed url from storage.get() and if I paste this into a browser the proper object loads. However, if I put the signed url in an image uri, nothing loads.

Just wondering if your issue was similar to this?

[2020-09-30 22:28] sammartinez commented on #5774
@kimfucious Thanks for this! This helps a lot and apologizes on not circling back until now on this. I will state, I don't believe we have had a customer utilizing Spotify + Amplify so we will do our best to reproduce this. Thanks for the detail!

[2020-10-01 02:55] cyrfer commented on #6878
@Shadid12 my original report includes

[code]

[2020-10-01 10:25] IronTony commented on #5544
I still have the same problem only on a React-Native application.
![image](https://user-images.githubusercontent.com/3645225/94797919-2482aa00-03e1-11eb-86ce-7dbe66118644.png)

With the same configuration everything is work on a web React app.
Any help please?

[2020-10-01 14:17] idanlo opened #6896 "Pinpoint - new endpoints are created for the user without deleting the old ones, which causes the number of endpoints to reach 10 (which is the max)"
**Describe the bug**
In my React Native app I call the updateEndpoint function whenever the app starts so that it creates an endpoint for my user if it doesn't exist, and update data if the endpoint already exists (Demographic, Location etc). What I think happens is that it creates an endpoint every time, and using the AWS CLI to list endpoints for my user I can see a lot of endpoints that have th

[2020-10-01 15:28] sammartinez commented on #4346
Resolving as this issue based on above feedback that this was fixed in later versions of our repository. Please let us know if this issue is still present and we can dive deep.

[2020-10-01 15:28] #4346 closed

[2020-10-01 15:31] sammartinez commented on #6358
Resolving as no response from customer. Please let us know if you are still experiencing this issue after the upgrade to the latest version which handles this issue

[2020-10-01 15:31] #6358 closed

[2020-10-01 16:13] zacharywenner commented on #6467
There's a suggestion of removing the platform and re-adding it here:
https://developers.facebook.com/community/threads/278726030042722/

I deleted the app on Facebook, and then made a new one. I switched the app live before adding the Site URL and the rest of the configuration. That worked... for a few days. 

I just got an alert that they disabled the app... it changed back to development mode.

[2020-10-01 16:35] kimfucious commented on #5774
No worries, @sammartinez, and thanks for the follow up.

I'm not sure this is so much a Spotify issue, as it is a "Returning to an Amplify App using Federated Auth via redirect from an Expo [AuthSession ](https://docs.expo.io/versions/latest/sdk/auth-session/) issue", but I'll leave that for your expert analysis.

Again, any further info you need, please ask.

[2020-10-01 16:44] sammartinez commented on #6826
Resolving as the above link that @wlee221 has provided is the solution to this issue.

[2020-10-01 16:44] #6826 closed

[2020-10-01 17:10] ryanto commented on #5054
I just ran into this issue as well.

I'm building an application for tracking books. I've got an index page that shows all of the books and their authors. Books have a M:M relationship to authors through a `BookAuthor` model and I'm unsure how to correctly query these relationships.

Here's what I'm doing, my index pages queries books and then I loop over each of those books and query their BookAu

[2020-10-01 19:00] xavierraffin opened #6898 "Get i18n error messages on @aws-amplify/ui-react"
**Is your feature request related to a problem? Please describe.**

Error message are not translated when i18n lang changes when using UI from @aws-amplify/ui-react.
Plus there is no reliable list to know what possible message has to be translated.

There is an old list in _packages/aws-amplify-react/src/AmplifyI18n.tsx_ but it was for the legacy aws-amplify-react package.
The list is incomplete (

[2020-10-01 19:06] xavierraffin commented on #6898
In https://github.com/aws-amplify/amplify-js/pull/4979 Eric explained why he did not do translation at that time in his PR. Maybe now is time to finish the job?

[2020-10-01 20:52] duncangroenewald commented on #1213
Is there a way to setup the Cognito User Pool groups in AWS Amplify, prior to using this to setup the automatic allocation of the user to a group ?

[2020-10-01 21:21] sammartinez commented on #5918
@nihp We did do some fixes recently that resolve this issue, can you please test the latest version of `aws-amplify` and see if your issue is still present.

[2020-10-01 21:49] undefobj commented on #1213
Take a look at the following to add Group functionality to your apps:
https://docs.amplify.aws/cli/auth/groups
https://docs.amplify.aws/cli/auth/admin

[2020-10-01 22:45] RoniqueRicketts commented on #6327
I am experiencing this bug with
"@aws-amplify/ui-react": "^0.2.22",

[2020-10-01 23:49] dabit3 commented on #6327
@RoniqueRicketts I just tested with version `^0.2.23` and it works for me.

I would try updating versions, cleaning out lock files and node_modules, reinstalling and seeing if you have better luck.

[2020-10-01 23:58] xavierraffin commented on #6752
I saw this one is on roadmap https://github.com/aws-amplify/amplify-js/issues/5750
If css class injection is fine grained enought that may solve the first point.

Having more slot to give control on what appears or not and layout is still a concern

[2020-10-01 23:59] xavierraffin commented on #5750
If you do CSS class injection with a props, please do it at a fine grained level ask asked on #6752

[2020-10-02 07:25] PavolHlavaty commented on #1067
When I try to use solution proposed by @heri16. I always get error code `ExpiredCodeException` with message `Invalid code provided, please request a code again`.

[2020-10-02 09:07] nubpro commented on #6358
@amhinson your PR seems to fix the issue, thanks for the fix!

Took way too long though, but I appreciate it!

Would be great if this issue can get some attention too!
https://github.com/aws-amplify/amplify-js/issues/6363

[2020-10-02 09:09] nubpro commented on #6406
My models are limited to authenticated user only.
`@auth(rules: [{ allow: owner }, { allow: groups, groups: ["Admin"] }]) {`

I believe u can reproduce this bug with the sample app (https://docs.amplify.aws/lib/datastore/examples/q/platform/js#example-application).

[2020-10-02 09:33] tomyitav commented on #6603
+1, having a select on the SignUp page will be very helpful

[2020-10-02 15:12] kopkunka55 opened #6902 "GraphQL subscription: Incorect type for ObserveOrNext callback"
**Describe the bug**
A callback function for GraphQL subscription has incorrect type like below

[code]
the result of the first console log is undefined but the attribute should exist based on the type, while the actual data exists like the second console log

[2020-10-02 18:26] kevwang19 opened #6903 "Configuring REST API Gateway Authorization by IAM"
**Describe the bug**
I am trying to implement authorization to a REST endpoint through API Gateway that invokes backend resources.
I use Amplify as a frontend framework to hit the API Gateway endpoints, and I have 2 related questions on how to implement authorization.

I know that the some ways to implement authorizations to API Gateway are
1. IAM
2. Cognito User Pools
3. Api Keys

In my frontend

[2020-10-02 18:54] debajit opened #6904 "GraphQL subscriptions fail with Auth error after upgrading to @aws-amplify/api 3.2.4"
**Describe the bug**
I upgraded my AWS Amplify JS libraries (“@aws-amplify/api” from 3.1.7 to 3.2.4) and now my GraphQL subscriptions are no longer working and fail with the error `Uncaught (in promise) Error: No credentials`.

- I am using modular imports: `import Auth from '@aws-amplify/auth'`
- GraphQL queries and mutations are working correctly for me with 3.2.4.

**To Reproduce**
Steps to rep

[2020-10-02 19:33] CiscoKidxx commented on #2692
Hello, looking for an update here please!

[2020-10-02 20:22] rdsedmundo commented on #6535
Also seeing this on v3.3.3, got the AWS credentials normally but no identityId anywhere. I can see in the network tab that the Cognito response returned the identityId (which I can also see in the AWS Console), so something is wrong while saving/retrieving it.

[2020-10-02 21:44] kevwang19 commented on #6903
And another note - the docs have lines of code that use (await Auth.currentSession()).getAccessToken().getJwtToken().
How is this possible if amplify.configure is called in index.js before a user ever signs in and authenticates? I tried this implementation as they suggested, and expectedly, got "no current user" when I'm trying to use that in index.js which is before any user signs in even if I am

[2020-10-02 23:48] dgonsan opened #6905 "Allow configuring fetchOptions from Auth module"
**Is your feature request related to a problem? Please describe.**
We are using Cognito identity library as a client to communicate with a custom Cognito endpoint that requires credentials, that's possible thanks to the PR #3017 . Now we want to further use Amplify including the UI components but the Auth module does not allow to set the **fetchOptions** attribute as it's using ICognitoUserPoolDat

[2020-10-03 04:39] anees17861 commented on #1067
@PavolHlavaty are you sending the code as empty string or a non numerical value? Cognito may be doing format check before proceeding. I send only '00' and it works perfectly.

[2020-10-03 07:47] HunainHumail commented on #6845
Hey! I will upgrade your Picker to @react-native-community/picker. Please assign me this issue

[2020-10-03 07:57] masbaehr commented on #1318
I think something has to be provided for the following use case:

Assume a public S3 bucket which files are readable by an authenticated user, but also a not-authenticated user (e.g. no credentials are available). A public S3 bucket/folder is listable by using a simple plain HTTP request without any signed url (confirmed to work just by browsing)

So when doing Storage.list on such a key , the err

[2020-10-03 08:01] PavolHlavaty commented on #1067
@anees17861 I am sending same string as @heri16 in his answer.

[2020-10-03 08:31] anees17861 commented on #1067
@PavolHlavaty have you checked for both signed up and non signed up user?

[2020-10-03 13:42] cyrfer commented on #6878
Dear Amplify, I understand the Hub to be a core feature of the library. Can I get some feedback??

[2020-10-03 15:42] rkarthikr opened #6906 "Amplify Personalize Record Events For MediaAutoTrack are Failing"
**Describe the bug**
MediaAutoTrack Events Using Amplify SDK version - 3.3.3,3.3.2 is triggering events to tracker but they are failing due to bad payload . See the Sample Request/Response section at the bottom

https://docs.amplify.aws/lib/analytics/personalize/q/platform/js#working-with-the-api
https://aws.amazon.com/blogs/aws/amazon-personalize-is-now-generally-available/

**To Reproduce**
Step

[2020-10-03 21:18] ajnunez16 commented on #6031
same issue

[2020-10-03 23:37] enzoames commented on #6330
I can confirm I am experiencing the same issue... @ericclemmons thanks for the great work you've been doing. I have been following it from the sidelines!

Using Next.js

`_app.js`
[code]

`amplifyConfig.js`
[code]

when user clicks `Continue with Facebook`, the following redux action gets triggered
[code]

I do see the first request being successful

![Screen Shot 2020-10-03 at 6 17 02 PM](https:/

[2020-10-04 01:02] zhengligs commented on #6291
Yes, indeed, it works fine now. Thanks @mikalai-okun @amhinson

[2020-10-04 01:09] amhinson commented on #6291
Ok good to hear! Closing this for now, but open up a new issue if there are others problems in the future.

[2020-10-04 01:09] #6291 closed

[2020-10-04 01:44] #5783 closed

[2020-10-04 01:44] #6172 closed

[2020-10-04 07:45] davide94 commented on #987
NOT STALE

[2020-10-04 10:11] idanlo opened #6907 "Analytics.updateEndpoint error - response.blob is not a function"
**Describe the bug**
When calling `Analytics.updateEndpoint()` I am getting `TypeError: response.blob is not a function. (In 'response.blob()', 'response.blob' is undefined)`

**To Reproduce**
Steps to reproduce the behavior:
`import { Analytics } from 'aws-amplify';`
`Analytics.updateEndpoint(...)`

**Expected behavior**
the function should update the endpoint.

**What is Configured?**
the fields

[2020-10-04 10:18] idanlo commented on #6907
![image](https://user-images.githubusercontent.com/28350511/95012788-07014a80-0644-11eb-8d22-fba77ed850f9.png)
This is after enabling log level debug - a lot of these `blob is not a function` errors.

[2020-10-04 11:01] idanlo commented on #5267
I have the same problem, #6907

[2020-10-04 12:09] Prateek13727 commented on #1089
Please check if you have configured your amplify app (as shown below)

![image](https://user-images.githubusercontent.com/18599528/95014942-fc58ac80-0667-11eb-9838-683a8a2acd88.png)

Please find the details [here](https://docs.amplify.aws/start/getting-started/setup/q/integration/react#set-up-frontend).

[2020-10-04 12:27] Kivin1 commented on #2635
Same issue.. any comments on it

[2020-10-04 21:22] Shivank-Dev commented on #2667
Probably you have configured multiple pools with the amplify inside root.js so, the quick fix of your problem is just to use amplify configuration in the component where you are integrating cognito authentication instead of root.js or the second solution might be the wrong configuration details of user pool.

[2020-10-05 07:59] luisfuertes commented on #6419
?

[2020-10-05 08:51] debajit commented on #6904
The issue was automatically resolved when I deleted all the local NPM packages in my workspace and installed all the Node packages again. Closing.

[2020-10-05 08:51] #6904 closed

[2020-10-05 10:59] #6907 closed

[2020-10-05 12:15] Alphavader commented on #2560
According to the docs you dont need that anymore.
https://docs.amplify.aws/lib/auth/manageusers/q/platform/js#retrieve-current-authenticated-user

Retrieve current session
Auth.currentSession() returns a CognitoUserSession object which contains JWT accessToken, idToken, and refreshToken.

This method will automatically refresh the accessToken and idToken if tokens are expired and a valid refreshTo

[2020-10-05 12:20] RadagastCH opened #6910 "PushNotification.onRegister generate token once on IOS"
**Describe the bug**
PushNotification.onRegister generate token only first time and then never called

**To Reproduce**
Steps to reproduce the behavior:

Works only on iOS

1. Open app
2. Press accept for Push Notification
3. Token is returned
4. Choose future date( That's force iOS to crate new notification token )
5. Token is not returned

**Expected behavior**
The token should be returned for e

[2020-10-05 13:46] vic-blt commented on #2906
Same problem, I think I will avoid using the CLI from now on.

[2020-10-05 14:56] renegoretzka commented on #6103
Just my 2 Cents would be that it would be just enough that Amplify or lets say the API does not spit out those deleted database entries by default. It really makes no sense to still receive them with the API call and handle them with filter (what is actually is, as @jocarrillo has said, not supported by the FilterInput, which makes handling this even worse). I would really appreciate the use of Au

[2020-10-05 15:34] sammartinez commented on #6553
@BFUculsion, Can you provide your `package.json` along with your environment settings?

Please use the follow command:
[code]

Thanks ahead of time!

[2020-10-05 15:54] sammartinez commented on #6589
@ecomonestop, Can you provide your `package.json` along with your environment settings?

Please use the follow command:
[code]

Thanks ahead of time!

[2020-10-05 15:56] sammartinez commented on #6599
@sandeep621 Apologizes on the late reply back to you, this looks to be related specifically to Amazon Cognito and not AWS Amplify. We act as a proxy to Amazon Cognito. Please open up an issue with Amazon Cognito via their [AWS Forums](https://forums.aws.amazon.com/forum.jspa?forumID=173)

[2020-10-05 15:56] #6599 closed

[2020-10-05 16:03] sammartinez commented on #6606
@alastair-todd The documentation you provide is focused on Amazon Cognito, have you setup any[ Lambda Triggers](https://docs.amplify.aws/cli/usage/lambda-triggers) via our Amplify CLI? Please let us know the steps you took for setup. Thanks ahead of time!

[2020-10-05 17:22] rpostulart opened #6911 "AWS Datastore - TypeError: undefined is not an object (evaluating '_datastore.default.Query')"
I am using AWS Datastore in my React Native app but I receive continuously errors when accessing datastore functions like:

DataStore.start() -> TypeError: undefined is not an object (evaluating '_datastore.default.start')
DataStore.configure() -> TypeError: undefined is not an object (evaluating '_datastore.default.configure')

DataStore.query(User) -> TypeError: undefined is not an object (evalu

[2020-10-05 17:22] ashika01 commented on #6910
@RadagastCH Whats the use case for wanting token on each request?! `onRegister` is primarily to register the device with pinpoint for PushNotification.

[2020-10-05 17:56] RadagastCH commented on #6910
On request I mean `onRegister` because this is a request from js thread to native

Definitely no, I don't where you read this, but the [documentation](https://docs.amplify.aws/lib/push-notifications/working-with-api/q/platform/js)  says:
_The onRegister handler will only be triggered once when the token is generated or updated by the push provider i.e. Apple/Google (and when the app opened the fir

[2020-10-05 19:22] Ashish-Nanda commented on #4089
Closing this issue as the fix was merged #4478 and released a while back https://github.com/aws-amplify/amplify-js/issues/4089#issuecomment-565529335
The documentation and setup instructions were also updated and simplified: https://github.com/aws-amplify/docs/pull/1932

[2020-10-05 19:22] #4089 closed

[2020-10-05 19:25] rpostulart commented on #6911
shame on me

forgot to import DataStore with {}

[2020-10-05 19:25] #6911 closed

[2020-10-05 20:25] rpostulart opened #6912 "AWS Datastore - Amplify codegen models creates always an id even when the schema does not contains thats"
Ik have a schema with these models, so without an ID field:

[code]

when I run amplify codegen models and look into index.d.ts into the model dir I have these items with a readonly ID.

[code]

Then you get these type of errors:

`Sync error, Connection failed: {"errors":[{"message":"Validation error of type FieldUndefined: Field 'id' in type 'User' is undefined @ 'onDeleteUser/id'"}]}`

[2020-10-05 21:36] renebrandel commented on #6913
@sammartinez this seems to be a library issue.

[2020-10-05 21:36] BFUculsion commented on #6553
Sure, it's attached to this email

On Mon, Oct 5, 2020 3:35 PM, Sam Martinez notifications@github.com  wrote:

@BFUculsion, Can you provide your package.json  along with your environment
settings?

Please use the follow command:

npx envinfo --system --binaries --browsers --npmPackages --npmGlobalPackages

Thanks ahead of time!

—
You are receiving this because you were mentioned.
Reply to this em

[2020-10-05 23:14] ashika01 commented on #6912
@rpostulart This is by design. Datastore generates an id for each entry in a model so we can perform all the sync and other ops smoothly internally.

From the error message I assume, you make a delete function for which you need to pass in the id of the entry you would like to delete.

Could you brief what you are trying to achieve using Datastore here?

[2020-10-05 23:20] ashika01 commented on #6910
@RadagastCH Sorry for the confusion. Did not mean to offend anyone. I was wondering about the use case/ what you are trying to achieve with the token, so I could help better.

Also, sorry for the misunderstanding, what I meant with

Is exactly what you mentioned here,

[2020-10-05 23:34] ashika01 commented on #6910
Couple of things that could help us out here to debug this,

1. Could you explain in detail about your step 3 and how I can reproduce that
2. If you could provide a sample code snippet/ repo to reproduce the issue you are facing

Side note: Just calling out, looks like you are in old version of aws-amplify. We have so many update since then suggest trying new version so it help with finding the ro

[2020-10-06 01:45] #6860 closed

[2020-10-06 03:25] clethrill commented on #3494
This is extremely irritating, implementing third party oAuth2 integration and when it redirects back to my site it errors out assuming it's the SSO code

[2020-10-06 04:25] rpostulart commented on #6912
Hi,

Strang because I I don't do any delete request.

I just use DataStore.query(User)

And then I received this error

[2020-10-06 04:44] hellaeon commented on #6553
Hey there, I am getting this as well. My refresh token is 60 minutes, ID and Access are 5 minutes. When I call the 'currentSession' it fails to update the ID and access tokens. Did you find out what it was?

[2020-10-06 05:58] rpostulart commented on #6912
When I change the schema into this schema with an ID field then the error seems to disappear. So as design maybe needs to be revisited.

[code]

Now I only receive this error:
`[WARN] 50:53.757 DataStore - subscriptionError, Connection failed: {"errors":[{"errorType":"UnauthorizedException","message":"Permission denied"}]}`

 but that seems like this error:
https://github.com/aws-amplify/amplify-c

[2020-10-06 06:48] KevinToala commented on #2014
How can I get CLOCK_OFFSET for users who have not logged? I use cognito hosted ui with amplify to login with facebook and google.

Auth.currentUserCredentials() can't return cognito.config.systemClockOffset, return accessKeyId, sessionToken, secretAccessKey, identityId, authenticated properties :/

[2020-10-06 07:17] pinpointpanda commented on #3435
We're at nearly 9 months since any update from AWS on this (@sammartinez on Jan 24). As others have stated, this is not something that can properly be fixed other than directly by the AWS team. ProdigySim hit the nail on the head further up the thread on this:

We're a multi-platform app, and the inability to handle this token revocation on a case-by-case basis is extremely detrimental to our user

[2020-10-06 07:49] sw-yx commented on #3494
@clethrill good suggestion and I think we should take a PR for this. deep sympathies for the frustration caused.

[2020-10-06 09:34] colinbowen commented on #612
This should not be closed.

[2020-10-06 09:50] stayingcool opened #6916 "Storage.list returning an incorrect list of files"
**Issue**
Storage.list is returning an incorrect list of files.

**Expected behavior**
The list API should return files only for specific ID (Example - 125).

**To Reproduce**
Here is the screenshot of my UI showing an incorrect list of files being returned:
<img width="195" alt="Screen Shot 2020-10-06 at 8 30 53 pm" src="https://user-images.githubusercontent.com/31205483/95184437-14b8fa80-0813-11

[2020-10-06 09:55] theshumanator opened #6917 "Unexpected validation error for custom email message using ReactDOMServer.renderToStaticMarkup"
**Describe the bug**
When I try to create a custom message using ReactDOMServer.renderToStaticMarkup, I get a validation error. However if I pass the value and regex into a regex tool, I get a match.

Error below:
`
1 validation error detected: Value '<html><body><div style="padding:20"><h4>Hi, there!</h4><p>Thank you for signing up to xxx. Here is the confirmation code {####} to complete your reg

[2020-10-06 10:30] ablbol opened #6918 "currentCredentials() hangs when on offline mode"
I am using the following 2 functions to make sure user is authenticated and get some info about the user:

Auth.currentAuthenticatedUser({bypassCache: false})
Auth.currentCredentials()

When the user is in online mode, both functions return data without any problem.  However when going offline (no network),
 currentCredentials() hangs and does not return or throw any exception.  In other words, my

[2020-10-06 12:56] edoardo849 opened #6920 "Cannot upload file to S3 using Angular"
**Describe the bug**
I want to upload an image to the configured Storage bucket. When I do, I receive the following error:
[code]

I have created the bucket via the console and I this is the created CORS policy:

[code]

**Code Snippet**

[code]

**What is Configured?**
If applicable, please provide what is configured for Amplify CLI:

| Category                 | Resource name

[2020-10-06 14:50] utajum commented on #3591
+1

[2020-10-06 16:07] amhinson commented on #6625
@smithad15 We have made some updates recently to DataStore that should enable models to continue syncing if one fails. If you happen to have some time to test, it'd be great to see if that part of your issue is resolved.

We are also working on making DataStore more compatible with multiple configured auth types, and this is great feedback.

[2020-10-06 16:12] amhinson commented on #5173
Closing, as the PR for this was merged.

[2020-10-06 16:12] #5173 closed

[2020-10-06 16:15] smithad15 commented on #6625
Glad to hear that there is progress being made on resiliency and the feedback was useful. Unfortunately, I had to roll back the inclusion of DataStore in my project due to its lack of support for many-to-many relationships (#5054)

[2020-10-06 16:18] amhinson commented on #6625
Ok good to know! We are also planning support for that soon, so keep an eye out 🙂

[2020-10-06 16:18] #6625 closed

[2020-10-06 17:47] RadagastCH commented on #6910
Latest packages is worked to me
Thanks to @ashika01
I will close this

[2020-10-06 17:47] #6910 closed

[2020-10-06 18:05] mezalejandro commented on #6547
Something new? amazon support tells me to talk to amplify.
Still not recognized once I am logged in with apple

[2020-10-06 18:41] mezalejandro opened #6922 "Apple signing not working"
**Describe the bug**
Since May I have had this problem and I cannot fix it.
That is why I create another issue, not even Amazon support can help to solve it, after so many emails they tell me to upload a problem to amplify.
When logging in with apple and returning to the app, it does not detect a hub or Auth.currentAuthenticatedUser

[code]
When returning to the app it returns code and state:
`mya

[2020-10-06 20:03] elorzafe commented on #6918
@ablbol are you getting always this error or might be that the access token is expired when you are making the API call?

[2020-10-06 20:32] ashika01 commented on #6912
Interesting that adding the id takes the previous error away. Could you post the codegen for your new schema? I would like to compare the two.

[2020-10-06 20:37] pl4yradam commented on #6873
+1 here my electron app has bust due to this. I have built a Remote app that communicates with this.

[2020-10-06 20:48] ashika01 commented on #6916
@stayingcool Sorry I dont understand you request for ID here. `Storage.list` can only take input as path. Can you brief more on this so I can help.

Also, if you are trying to get all file under `125/`, I suggest you make an call something along these lines,

`Storage.list('uploads/orders/tax/attachments/125/')`

[2020-10-06 21:06] rpostulart commented on #6912
This one you mean?

[code]

[2020-10-06 21:19] ianjennings commented on #6863
Hey! I've been working with @mauerbac to help document these **to-be-reproduced** issues with [Paircast](https://paircast.io). Paircast is essentially "loom for developers," it combines screencasts, code, and git to create video documentation of code changes. The idea is that with this added context, everyone will have the context they need to fix these bugs quickly.

We had a developer from @haxo

[2020-10-06 21:27] ablbol commented on #6918
I am not getting an error.  The application halts right at the Auth.currentCredentials() function without throwing exception.  This happens as soon as I go off line.  If I go back online and refresh, the application will be fine.

[2020-10-06 22:00] ablbol commented on #6918
To see the problem really well, please do these things:

- Use real mobile device (I user Android).
- Go offline
- Refresh your application (This is important step).

Once you do that, you will see your application halting at Auth.currentCredentials().

In couple occasions, the application did not halt at the function but I was never able to get identityId (when offline).

[2020-10-06 22:51] duncangroenewald commented on #5979
You shouldn't be adding the aws-exports.js file to the repo because if you chose to deploy to a different environment then all the settings will be wrong for that environment.  As I understand it AWS Amplify will automatically create this file for you when it runs the deploy process, depending on the environment you have chosen.

Also you appear to be referencing the path '/src/components/aws-expo

[2020-10-06 23:04] ashika01 commented on #6920
@edoardo849 what version of angular are you using? also, could you post your amplify dependency versions too?

[2020-10-06 23:15] duncangroenewald opened #6923 "Cannot find file './aws-exports' in './src'"
Describe the bug
When building Frontend with AWS CI/CD we are now getting this error.

To Reproduce
Any time we commit code the CodeCommit and the front-end application is deployed we get this error during the build process

Expected behaviour
The build process should automatically create the aws-exports.js file relevant for the environment being deployed to.

Screenshots
N/A

Desktop (please comp

[2020-10-06 23:16] elorzafe commented on #6913
@bilalashraf1710

What you mention is not possible from the client.

For assigning the user to a group you will have to configure a lambda trigger. By default federated users are assign to a group with the provider name. If you are using Amplify cli you can take a look on [Cognito lambda triggers section](https://docs.amplify.aws/cli/usage/lambda-triggers#cognito-lambda-triggers)

[2020-10-06 23:54] stayingcool commented on #6916
This is the excerpt code from my other project with Amplify Version ("aws-amplify": "1.2.4",) which seems to be working fine.
[code]

I think this issue is with customPrefix. Not sure if the current version of Storage.list API went through change due to which the API returns all the bucket contents with a begins with clause maybe!

As per your suggestion, If I invoke the API as follows then the AP

[2020-10-07 00:00] ashika01 commented on #6916
@stayingcool The older version of Amplify was using `aws-sdk-js` v2 but the latest ones use https://github.com/aws/aws-sdk-js-v3. Looking at ts file for the call, it was the path. I will try custom prefix and update here in a while. Thanks for the info, let me get back with some code snippets.

[2020-10-07 00:56] vikasmca05 opened #6930 "Amplify browser error - "Authentication Error""
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
Authentication Error in the Browser signin / Sign up

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system
4.29.4

**What AWS Services are you utilizing?**
AWS Cognito - User pool

**Provide additional detai

[2020-10-07 02:11] hoai commented on #4755
if you dont understand where location Auth. please add this code.
`import Amplify, { Auth } from 'aws-amplify';`

[2020-10-07 04:19] Nagato717 commented on #6419
Hi, I'm facing the same issue, `Storage.put` not working with video file > 5mb using blob. Any update here?

[2020-10-07 05:28] pmashelkar commented on #6761
We are facing similar issue with Amplify.configure in the producion environment for Reactjs. It works fine in the staging environment, The events are not getting logged for the production environment.

[2020-10-07 06:00] rraikarnvi commented on #2667
using import Amplify from "@aws-amplify/core"; worked for me

[2020-10-07 06:22] lochawala opened #6924 "Remove auth attribute from required but still it's create as required"
**Describe the bug**
when i add auth in amplify and removing email from required attribute still it's create as required

**To Reproduce**
Steps to reproduce the behavior:

amplify add auth
Do you want to use the default authentication and security configuration?
❯ Default configuration
How do you want users to be able to sign in?
❯ Email or Phone Number
Do you want to configure advanced settings?

[2020-10-07 07:05] U3R1YXJ0 commented on #6291
Hi,

I have just started my Quickbooks openid connect integration with Cognito, and I am also seeing the "Invalid State/RelayState provided." response during token exchange. The state Cognito is sending to Quickbooks is 1157 characters long.

@mikalai-okun Do you have information about the Quickbooks update? I wonder why it wouldn't be working for me?

I am using this discovery document for my con

[2020-10-07 07:33] luisfuertes commented on #6419
This part is the bug in react-native:
[code]

[2020-10-07 08:51] halfdanrump opened #6925 "Adding lambda resolver results in "TypeError: Must Provide Source" when running query"
**Describe the bug**
Having worked on a project for a while, the ability to add new lambda resolvers is suddenly broken.

I add the lambda as follows:

[code]

and adds the query to the gql schema:

[code]
then run `amplify push`

When I then run the query `moo` in my app, the following error happens:

[code]

**Note that `echo`, `foo` and `bar` queries, backed by lambda resolvers added earlier, a

[2020-10-07 09:12] edoardo849 commented on #6920
@ashika01 I'm using angular `~10.0.9` - but you can see the dependencies in the "Environment" section in the above post, but Let me post the entire dependency tree here:

`npm ls`

<details>
  <summary><strong>Dependency Tree</strong></summary>

REPO@0.0.0 /home/edo/code/REPO
├─┬ @angular-devkit/build-angular@0.1000.8
│ ├─┬ @angular-devkit/architect@0.1000.8
│ │ ├── @angular-devkit/core@10.0.8 ded

[2020-10-07 09:13] edoardo849 commented on #6920
@ashika01 I'm using angular `~10.0.9` - but you can see the dependencies in the "Environment" section in the above post, but Let me post the entire dependency tree here:

`npm ls`

<details>
  <summary><strong>Dependency Tree</strong></summary>

REPO@0.0.0 /home/edo/code/REPO
├─┬ @angular-devkit/build-angular@0.1000.8
│ ├─┬ @angular-devkit/architect@0.1000.8
│ │ ├── @angular-devkit/core@10.0.8 ded

[2020-10-07 11:30] Sumanth-Shetty commented on #6393
hey guys,
Was anyone able to achieve an Instagram federated login for Cognito?

[2020-10-07 13:41] rwhitten577 commented on #5926
I'm also having issues getting DataStore to sync in either direction with AppSync + React Native. Can successfully query AppSync in the console and get data back, but DataStore never seems to interact with it, either after .save() or .query().

Here are the logs from DataStore I'm seeing. I have it set to query a Charity model when Hub receives the DataStore "ready" event. You can see it returns 2

[2020-10-07 15:32] tomaseti opened #6926 "@aws-amplify/ui-vue causes IE 11 white screen"
**Bug Description**
Framework: Vue 2.6.11
Amplify: 3.3.3
Vue UI: 0.2.22
Browser: IE 11
IE Error Message: SCRIPT1002: Syntax error

Adding the statement import "@aws-amplify/ui-vue" causes a white screen in Internet Explorer 11.  The error messages is SCRIPT1002: Syntax error.  If I remove the import statement the screen renders normally.

**Fix**
To try to fix the issue I installed the @babel/poly

[2020-10-07 15:33] tomaseti opened #6927 "aws-amplify/ui-vue causes IE 11 white screen"
**Bug Description**
Framework: Vue 2.6.11
Amplify: 3.3.3
Vue UI: 0.2.22
Browser: IE 11

Adding the statement import "@aws-amplify/ui-vue" causes a white screen in Internet Explorer 11.  The error messages is SCRIPT1002: Syntax error.  If I remove the import statement the screen renders normally.

**Fix**
To try to fix the issue I installed the @babel/polyfill and added the two import statements at

[2020-10-07 15:38] tomaseti commented on #6927
This has been duplicated

[2020-10-07 15:38] #6927 closed

[2020-10-07 15:54] mllrmat opened #6928 "AmplifyAuthenticator with federated signin error"
**Describe the bug**
When the AmplifyAuthenticator Component is used with federated logins, an exception is thrown after successful login with google. Appearently AmplifyAuthenticator expects a CognitoUser, which does not exist when using federated Login.

**Expected behavior**
No Exception, but return of an authenticated Credentials/User

**Stacktrace**
[code]

**What is Configured?**
my amplify

[2020-10-07 16:41] iartemiev commented on #5926
@rwhitten577 would you mind pushing your app up to a repo and sharing it? If so, I'd be happy to run it locally myself to see if I can reproduce and figure out why it's not syncing.

[2020-10-07 16:52] rwhitten577 commented on #5926
@iartemiev Thanks, my repo is private but I just invited you. Let me know if you have issues with access.

[2020-10-07 16:55] iartemiev commented on #5926
@rwhitten577, thank you! I was able to clone it successfully. Will let you know what I find

[2020-10-07 17:00] rwhitten577 commented on #5926
@iartemiev great, thank you! I do not have that useEffect snippet above checked in, but would assume it should work when added to my LandingScreen since no auth is required for that model.

[2020-10-07 17:45] iartemiev commented on #5926
@rwhitten577 just to clarify, are you experiencing issues with syncing when you have just 1 model (Charity) in your `schema.graphql`? Or are you always trying it with all the models, like in the code you have in your repo?

[2020-10-07 17:59] rwhitten577 commented on #5926
@iartemiev So far I have only tried with the schema as you see it with the other models defined. I was thinking the query would only look at the one model being queried. Could my other models with @auth directives be causing issues? I did read a few other issues where more complex @auth was not fully supported yet.

[2020-10-07 18:17] iartemiev commented on #5926
@rwhitten577 the other models could be causing issues potentially. Although, if that were the case, you should have seen some errors around sync or subscriptions in your console (particularly since you have Logger set to 'DEBUG'). Also, it's unlikely that DataStore would have reached a 'ready' state like what's showing in the logs.

Regarding `@auth` known bugs, referencing a relation as your `own

[2020-10-07 18:33] ericclemmons commented on #6761
@pmashelkar Can you open a new issue with more detail around this?

[2020-10-07 19:04] rwhitten577 commented on #5926
@iartemiev thanks! Following your steps got it to work if I put the query in the listener for the "ready" state. I removed just the ownerField on that one model and now can get the rest to sync too!

I do notice mixed results sometimes where the first query returns an empty array, even if I do the query after the listener receives "ready". Is there a best practice on how to handle the initial quer

[2020-10-07 21:08] ashika01 commented on #6930
While  upgrading to newer version of amplify. Please follow the instructions here - https://github.com/aws-amplify/amplify-js/discussions/5836#discussioncomment-92667

Can you mention which version of amplify js were you on previously and which version your are upgrading to?

[2020-10-07 21:11] ashika01 commented on #6923
@duncangroenewald are you using setting up your backend using Amplify CLI?!

[2020-10-07 21:12] #6923 closed

[2020-10-07 21:13] ashika01 commented on #6928
@mllrmat Could you provide us with a code snippet/ sample to reproduce the issue you are facing?!

[2020-10-07 21:15] ashika01 commented on #6875
@drixta Amplify lib enable tree shaking on prod builds. Please run a prod build and compare size you should not be seeing huge bundle chunks.

[2020-10-07 21:16] #6875 closed

[2020-10-07 21:21] ashika01 commented on #6878
@cyrfer Hi, sorry for not getting to this earlier. We do use Hub events in our UI components and dont see any issue.
After signIn the state thrown out is `signedIn`.

Could you try your use case without `react-router` have has issue popping up due to react router in the past?

[2020-10-07 21:25] ashika01 commented on #6924
@lochawala What is the error you are seeing? Could you provide with your amplify js code sample.

Also, I would suggest to through the manual configuration flow in CLI rather than going down default and unselecting required.

[2020-10-07 21:47] iartemiev commented on #5926
@rwhitten577 glad to hear it's syncing now!

Technically, "ready" should be emitted after syncing has finished, so if you do not see data that should be there, perhaps, we have a bug. I'll see if I can reproduce this.

One more thing, I noticed that you're using multiple Has One connections and wanted to make sure you're aware of [this bug](https://github.com/aws-amplify/amplify-js/issues/6560). I

[2020-10-07 22:13] nqbao commented on #6069
I also have the same problem. The sign event is called multiple time when login

<img width="182" alt="Screen Shot 2020-10-07 at 3 13 25 PM" src="https://user-images.githubusercontent.com/177742/95393557-ac6c2680-08af-11eb-9bdf-bf97a33c5f85.png">

The code is quite simple

[code]

[2020-10-08 00:18] ashika01 commented on #6916
@stayingcool : Hey, sorry my suggestion was wrong. Apologies from my end.

Could you turn on the the Amplify debug logger by following to `App.js`
`Amplify.Logger.LOG_LEVEL = 'DEBUG';`

And what the list file resolves to. Screenshot similar to this,

![Screen Shot 2020-10-07 at 5 15 03 PM](https://user-images.githubusercontent.com/35131273/95401030-0a553a00-08c1-11eb-9630-a9e17359b6e7.png)

[2020-10-08 02:07] stayingcool commented on #6916
<img width="1250" alt="Screen Shot 2020-10-08 at 1 02 29 pm" src="https://user-images.githubusercontent.com/31205483/95406804-0c71d400-0967-11eb-99d4-68c6f2f3196b.png">

[2020-10-08 04:29] urfnaino commented on #6239
@ashika01 Got it. Will be moving to new version of Angular and Amplify soon.
And thanks for the help!

[2020-10-08 04:29] #6239 closed

[2020-10-08 04:41] lochawala commented on #6924
@ashika01 Thanks for your reply
I have tried with custom configuration too, but still, it's created email as required attribute
I have attached some screen shots for better understanding

![Screen Shot 2020-10-08 at 10 02 45 AM](https://user-images.githubusercontent.com/14148438/95415602-539f9b00-094e-11eb-8499-4b093573d761.png)

![Screen Shot 2020-10-08 at 10 07 18 AM](https://user-images.githubu

[2020-10-08 05:10] coshua opened #6931 "502 InternalServerError when API fetching"
**Describe the bug**
I use amplify for full-stack application deployment. When I fetch API with the backend environment, an error occurs.

**Details**
I set CORS in the backend environment. However, CORS error occurs.

**Error Message**
Access to XMLHttpRequest at 'https://s8b795ky1j.execute-api.ap-northeast-2.amazonaws.com/dev/items/result' from origin 'https://test.jutopia.net' has been blocked

[2020-10-08 05:54] Poorna-k opened #6932 "Unhandled Promise rejection: NotYetImplemented ; Zone: <root> ; Task: Promise.then ; Value: Error: NotYetImplemented"
**Describe the bug**
Previously we were using aws-amplify-angular package. It is giving more size in main.js bundle and we replaced the aws-amplify-angular with @aws-amplify/ui-angular package. From then while implementing the angular universal we are getting the Notyetimplemented error. We are providing the window and document object with domino. If i'm passing the window with domino we are getti

[2020-10-08 06:28] mllrmat commented on #6928
Hi Ashika01,

basically I am doing this:
[code]
I tried to reproduce this with my own components and its the same: I can call Auth.federatedSignIn(...), this call completes successfully, but a sub-second later the error above is thrown. So I suspect that the Event that is sent out on the Hub triggers code within the Amplify Library, that expects a CognitoUserSession, which does not exist for feder

[2020-10-08 07:18] mllrmat commented on #6928
Looking through your code, it appears to me that the problem is in the authenticator component. This component listens to the Auth State and then calls handleExternalAuthEvent (https://github.com/aws-amplify/amplify-js/blob/53be43d7a0049e04a47e7fece5dcd726c7a414fe/packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.tsx#L43).
This method then calls checkContact

[2020-10-08 08:08] aloknecessary commented on #2990
facing the same issue, any help ??
RN: 0.62,
@aws-amplify/push_notifications: ^3.1..

[2020-10-08 08:12] aloknecessary commented on #6177
@vincent-cy  Would you mind sharing your fix, i have tried lots of solution, but no luck ?

[2020-10-08 08:15] aloknecessary commented on #6177
@sammartinez  Any help is appreciated..

[2020-10-08 09:03] JiboStore commented on #6731
Hi, any update on this?

`clientMetadata` is not received in lambda at all on second and subsequent call to `Auth.signIn`.. this is really a deal breaker for us.

I've been trying work arounds like calling signOut first, etc but to no avail..

[2020-10-08 09:07] #6932 closed

[2020-10-08 11:31] GeorgeBellTMH opened #6933 "Ability to use AWS_IAM (AWS_ACCESS_KEY_ID/AWS_SECRET_ACCESS_KEY) in lambda"
I am having trouble figuring out how to make use of the process.env.AWS_ACCESS_KEY_ID/process.env.AWS_SECRET_ACCESS_KEY in a lambda/dynamodb trigger that I have created. Would be great to auto login with AWS_IAM...

I assume everything is nearly in place for this to just work, since it does when using aws-sdk...

I don't see anything in Amplify.default.configure() or from Amplify.Auth.signIn() to

[2020-10-08 13:07] lochawala opened #6934 "Subscription not working when condition input"
**Schema & Subscription**

[code]

**subscription query**
[code]
using it in react app
[code]

when i use with conditional input that it's not works but when i use it without conditional input then it's works

[code]

[2020-10-08 13:37] meducati commented on #6691
Follow up 2:
I have now populated my TEST environment with more entries and the error is now visible here also. The same model is not being populated. In total, there is now about 2000 entries over 8 models. 4 models are carrying about 450 entries of the data each (including the Model that is not syncing).

**NOTE! As seen in the errors above. ALL entries are being downloaded to the client (syncBa

[2020-10-08 14:48] simon-zhangmuye opened #6935 "Suggestions for S3 image or file upload."
HI,

can I give Amplify team some suggestions?

Suggestion1:
When I put my image into s3 and get the link back, I received an error since the URL length is too long.
Could you make this link shorter so I can pass it to my attributes?
![amplify](https://user-images.githubusercontent.com/10706610/95475038-8b035b80-09d1-11eb-9ac2-8d2432a38246.png)

Suggestion2:
Could you return the URL when I upload

[2020-10-08 16:40] laclance commented on #6744
I get the same error, even for non indexed attributes.

[2020-10-08 17:24] sammartinez commented on #6318
resolving as the above workaround is what we would recommend to do to resolve this issue since its out of the control of Amplify as @amhinson has called out.

[2020-10-08 17:24] #6318 closed

[2020-10-08 17:36] sw-yx opened #6936 "[Request] Storage File Explorer UI Component and JS APIs"
**Is your feature request related to a problem? Please describe.**

the `Storage.list` API available to us today is pretty low level: given a prefix, they list all files and folders to arbitrary depth. it is up to the user to further parse folders and files for immediate depth. furthermore, some "folders" are just defined inside of filenames, so that needs to be parsed too. a lot of work to wrangl

[2020-10-08 18:21] ericclemmons commented on #6873
This looks like a straightforward fix!

The current implementation keys off of `isNode`:

https://github.com/aws-amplify/amplify-js/blob/53be43d7a0049e04a47e7fece5dcd726c7a414fe/packages/pubsub/src/PubSub.ts#L152-L158

Instead, let's key off of `this._options.ssr`, which should be propagated from `Amplify.configure({ ssr: true })` calls:

https://github.com/aws-amplify/amplify-js/blob/53be43d7a004

[2020-10-08 18:29] ashika01 commented on #6802
Closing this issue since the PR for this is merged in and released.

[2020-10-08 18:29] #6802 closed

[2020-10-08 18:36] ashika01 commented on #6934
@lochawala So your question is how to do conditional subrsciption?

[2020-10-08 18:44] ericclemmons commented on #6873
Alright, I just created #6937 to address this!  We'll review this with our security team so they're aware of the use-case and unblock Electron usage 🙏

[2020-10-08 18:45] EliasCoelho commented on #5926
Datastore won't be sincronized... this is the error message before authenticate. Datastore create table in IndexDB database but it won't sync.

![image](https://user-images.githubusercontent.com/9299757/95500542-eeab6b80-0974-11eb-8f26-df282115e257.png)

[2020-10-08 18:48] iartemiev commented on #5926
@EliasCoelho, which versions of Amplify / DataStore are you using? Please share your schema, as well as the actual error message.

[2020-10-08 18:54] EliasCoelho commented on #5926
@iartemiev
"aws-amplify": "^3.0.24"
"@aws-amplify/ui-react": "^0.8.6"
[Uploading schema.txt…]()

[2020-10-08 19:12] iartemiev commented on #5926
@EliasCoelho please try the latest version - 3.3.3. Also, enable logs with
[code]
And let me know if you see any errors in the console.

[2020-10-08 19:36] dahero95 commented on #3474
it was already released for next.js and nuxt.js, will there be support for angular universal?

[2020-10-08 19:38] ashika01 commented on #6916
@stayingcool I want you to try do do that list with `125/` rather than `125` you have here.

[2020-10-08 19:39] #6916 closed

[2020-10-08 20:13] ashika01 commented on #6920
Thanks. I tested in ang 8,9 its working. I am gonna work on testing in angular 10 today.

[2020-10-08 20:14] EliasCoelho commented on #5926
@iartemiev all dependencies updated to
![image](https://user-images.githubusercontent.com/9299757/95508341-d2153080-0980-11eb-87d2-853cd1cca2dc.png)
and the debugger console is the following
[log.txt](https://github.com/aws-amplify/amplify-js/files/5351111/log.txt)

[2020-10-08 20:23] iartemiev commented on #5926
@EliasCoelho I edited your comment and removed the log file because it contained unredacted sensitive information about your cloud environment.

[2020-10-08 20:27] EliasCoelho commented on #5926
ok, thanks @iartemiev

[2020-10-08 20:31] iartemiev commented on #5926
@EliasCoelho, did syncing work for you at one point and then stop after some change? Or did it never work?

[2020-10-08 20:44] EliasCoelho commented on #5926
@iartemiev this enviroment worked for three apps with the same backend, a react-nactive and two react apps until September 30, after it only work for react-nactive project and a react app.

It don't sync actually for a react app, with updated packages dependencies and configured with the same team-provider-info.json file in all projects.

We have been set Amplify.configure(awsExport) and Auth.conf

[2020-10-08 21:14] kjetilge commented on #6097
Same thing happens in Vue

[code]
Also there are som "bind" issues:
[code]

[code]

[2020-10-08 21:27] kjetilge commented on #6097
@jordanranz, same thing happens in Vue:

          <amplify-confirm-sign-up
            slot="confirm-sign-up"
            handleSubmit.prop="handleConfirmSubmit"
            :form-fields.prop="[
              {
                type: 'email',
                label: 'Epostadresse',
                value: username,
                disabled: !!username
              },
              {

[2020-10-08 21:28] darylalexjohnson opened #6938 "UnauthorizedException at AWSAppSyncRealTimeProvider"
**Describe the bug**
We are using Amplify -> Appsync in our project. We are using OIDC for auth and after a successful handshake with the client to establish a subscription, the client (amplify) sends a `connection_init` message to start the communication with the AWS AppSync real-time endpoint.

The header in this request contains
[code]
The response from the `connection_init` is an `Unauthorized

[2020-10-08 21:58] ashika01 commented on #6924
Hi @lochawala I was able to setup with just username login by following manual configuration.

This is steps to go through in Amplify CLI for manual configuration,
![Screen Shot 2020-10-08 at 2 19 56 PM](https://user-images.githubusercontent.com/35131273/95517755-79409a80-0976-11eb-9a15-a8fcc78e8d5e.png)

This is my userpool console equivalent,
![Screen Shot 2020-10-08 at 2 53 50 PM](https://user-

[2020-10-08 21:58] #6924 closed

[2020-10-08 22:02] kjetilge commented on #6097
Seems like adding:
[code]
to the field fixes the "cannot be empt" problem, but the code field still get's the "bind" problem. Maybe it needs a type ?

[2020-10-08 22:19] #6873 closed

[2020-10-08 23:17] hisham commented on #6553
I've been getting refresh token expired issues as well from time to time. We've been telling users to refresh their page then it all works out. Haven't investigated more than that.

[2020-10-08 23:38] clethrill commented on #3494
I created a PR #6939 to try and help speed things along.

[2020-10-09 00:06] ashika01 commented on #6920
Okay, tested with angular `~10.1.4` and I dont have any problem with put. I think your policy setup might be causing this.

![Screen Shot 2020-10-08 at 4 57 13 PM](https://user-images.githubusercontent.com/35131273/95524859-61bddd80-0987-11eb-914c-cc5ae79a084a.png)

My IAM policy config looks like,

![Screen Shot 2020-10-08 at 5 00 58 PM](https://user-images.githubusercontent.com/35131273/95525160

[2020-10-09 00:06] #6920 closed

[2020-10-09 00:07] #6936 closed

[2020-10-09 00:26] duncangroenewald opened #6940 "AWS Amplify GraphQL subscriptions fail with "Cannot return null for non-nullable type: 'AWSDateTime' within parent ... for createdAt/updatedAt""
**Describe the bug**
Subscriptions are triggered correctly by fail to return any data because of null values for automatically created 'createAt' and 'updatedAt' fields.

**To Reproduce**

**Expected behavior**
Subscripts get triggered when new items are created but the returned object is null with the following errors:

"message: "Cannot return null for non-nullable type: 'AWSDateTime' within par

[2020-10-09 01:09] jgiunta1 commented on #1938
This issue appeared after I updated my mac OS. This also broke git. Solution here: https://stackoverflow.com/questions/52522565/git-is-not-working-after-macos-update-xcrun-error-invalid-active-developer-pa

[2020-10-09 01:18] BFUculsion commented on #6553
Hi, Did you get what you needed from me? Thanks, Ben

[2020-10-09 03:07] vikasmca05 commented on #6930
I did it multiple times the steps as mentioned but still i am getting the same error. Here are the debug logs.
index.js:1 [ERROR] 04:49.341 AuthError -
            Error: Amplify has not been configured correctly.
            The configuration object is missing required auth properties.
            Did you run `amplify push` after adding auth via `amplify add auth`?
            See https://aws-amp

[2020-10-09 03:07] vikasmca05 commented on #6930
How can i install the older version of amplify ?

[2020-10-09 03:17] vikasmca05 commented on #6930
npm list | grep "amplify"
npm list | grep "amplify"
├── UNMET DEPENDENCY @aws-amplify/ui-react@^0.2.23
├─┬ aws-amplify@3.3.3
│ ├─┬ @aws-amplify/analytics@3.3.6
│ │ ├── @aws-amplify/cache@3.1.31 deduped
│ │ ├── @aws-amplify/core@3.6.0 deduped
│ ├─┬ @aws-amplify/api@3.2.6
│ │ ├─┬ @aws-amplify/api-graphql@1.2.6
│ │ │ ├── @aws-amplify/api-rest@1.2.6 deduped
│ │ │ ├── @aws-amplify/auth@3.4.6 deduped
│

[2020-10-09 03:21] vikasmca05 commented on #3287
+1

[2020-10-09 04:36] lochawala commented on #6934
@ashika01 if you check above comment then you can find that i have pass variable `GSISK1: { beginsWith: 'ORG#' }` so i want to subscription event only when **GSISK1 value begin with ORG#** but if i add like this then my subscription not working

[2020-10-09 04:52] ashika01 commented on #6934
@lochawala Gotcha. I will try to reproduce this tomorrow.

[2020-10-09 04:55] ashika01 commented on #6930
@vikas5914 I need a code sample to reproduce this. Since currently I am not able to reproduce the error you are getting.

[2020-10-09 06:03] vikas5914 commented on #6930
@ashika01 I think you have tag wrong person.

[2020-10-09 07:24] aloknecessary opened #6942 "amazon-cognito-identity-js Does not build on Android against React Native 0.63.3"
**Describe the bug**
Task :amazon-cognito-identity-js:compileDebugJavaWithJavac FAILED

**To Reproduce**
Steps to reproduce the behavior:

Create a new RN project on RN 0.63.3 version;
Install amazon-cognito-identity-js & @aws-amplify/pushnotification package;
Start dev build `react-native run-android`

**Expected behavior**
dev bundling should complete and app should launch

**Code Snippet**
yarn

[2020-10-09 10:00] richiewebgate commented on #6347
bump.. any progress on this one?

[2020-10-09 10:13] nishant8BITS commented on #1596
If anyone wants to hide signup link/Create account link in react then you can use:

`      <AmplifySignIn slot="sign-in" usernameAlias="email" hideSignUp />`

[2020-10-09 11:03] ltaljaard commented on #5119
@mauerbac @undefobj Can we have a status update on this to help us plan our own project?

[2020-10-09 11:53] rpostulart commented on #5119
I have checked it in the community builders group and it should be there in weeks and not months 😁 but maybe we can get a more concrete answer here.

[2020-10-09 12:25] duncangroenewald opened #6944 "Amplify Push fails when updating Lambda function"
**Describe the bug**
Not sure what the bug is since the errors don't appear to relate to the function update.

[code]

**To Reproduce**
I modified the code in the lambda function and ran 'amplify push' and get this error.

I have no idea what the 'Group' is nor what the S3 error is all about.

**Expected behavior**
I expect AWS Amplify to update the lambda function with the new code

**Code Snippe

[2020-10-09 12:47] ltaljaard commented on #5918
@sammartinez I have run npm update aws-amplify but the error persists. Here is my package.json - is the anything else i need to update as well?

{
    "main": "node_modules/expo/AppEntry.js",
    "scripts": {
        "start": "expo start",
        "android": "expo start --android",
        "ios": "expo start --ios",
        "web": "expo start --web",
        "eject": "expo eject",
        "amplify

[2020-10-09 13:05] outspokeio commented on #5918
The only thing that worked for me when I had this issue was removing the
"@aws-amplify" imports and getting everything from the 'aws-amplify'. Even
after I switched my references just the mere presence of the "@" ones
caused the error. I would try uninstalling those and see if the issue still
persists.
good luck!
- S

On Fri, Oct 9, 2020 at 5:47 AM ltaljaard <notifications@github.com> wrote:

--
S

[2020-10-09 13:17] ioannisGiak89 commented on #6177
I also having the same issue

[2020-10-09 13:19] iartemiev commented on #5926
@EliasCoelho have you tried clearing your local store? You can do that through calling `DataStore.clear()` in your code or via Chrome Dev Tools by going to the Application tab -> IndexedDB -> amplify-datastore -> Delete database.

For your React apps, is sync not working outbound, as well as inbound? That is, I understand that data is not syncing from your React apps to AppSync, but can you see in

[2020-10-09 13:38] Xychun commented on #612
Still nothing? Need this feature, please open and add!
+1

[2020-10-09 13:40] duncangroenewald commented on #6944
In the end I had to delete the environment and rebuild it.  Even then I got errors when the api was being created and had to build it in stages - seems there are some left over resources that cause a clash when the new ones are being created - even after deleting the environment.!!

[2020-10-09 13:41] mmeylan commented on #5318
This bug is killing us. We use a custom cognito authentication flow ([magic links](https://aws.amazon.com/blogs/mobile/implementing-passwordless-email-authentication-with-amazon-cognito/)) and we wanted to allow our users to choose to get their magic link via email or sms. We wanted to use `ClientMetadata` from `Auth.signIn` in order to convey the information `{sendLinkViaSms: boolean}` so that ou

[2020-10-09 13:51] EliasCoelho commented on #5926
Hi @iartemiev, yes, I delete Datastore data using DataStore.clear() in authentication method and also chrome dev tools.

As comment to you,  I could do DataStore.Save() and it work, but this register don't sync to the cloud  and the hub.listen('datastore', async callback) not received anything message.  The incoming and outbound communication between cloud and project is not working.

After reinst

[2020-10-09 13:54] shouze commented on #5318
@mmeylan we are exactly in the same situation! You've made a very good summary of the situation :heart:.
As we're not live in production yet on our side... it's ok-ish. We have alternatives in mind like [Auth0](https://auth0.com/docs/connections/passwordless/guides/email-magic-link) or [NextAuth](https://github.com/nextauthjs/next-auth) or even [Symfony 5.2 incoming magic link](https://github.com/

[2020-10-09 13:58] iartemiev commented on #5926
@EliasCoelho, I'm happy to hear you were able to get it working.

[2020-10-09 14:05] beevekmgr commented on #612
Sorry but I think i solved somehow

On Fri, Oct 9, 2020, 7:23 PM JGS <notifications@github.com> wrote:

[2020-10-09 14:23] ltaljaard commented on #5918
@outspokeio i have uninstalled @aws-amplify/code but the other @amplify one, @aws-amplify/datastore, is required by my app. Removing @aws-amplify/datastore. Any other ideas?

[2020-10-09 14:39] ioannisGiak89 commented on #6177
Running `npx jetify` solved the issue. Thanks @bevanmw

[2020-10-09 15:04] outspokeio commented on #5918
Import datastore from 'aws-amplify' and not @aws-amplify - i.e. "import {
DataStore } from 'aws-amplify'.

On Fri, Oct 9, 2020 at 7:23 AM ltaljaard <notifications@github.com> wrote:

--
Stefan Johnson
CTO

*(415) 260-8101*
w <http://www.outcrowdgroup.com/>ww.outspoke.io
[image: LinkedIn icon] <https://www.linkedin.com/company/35475096>  [image:
Twitter icon] <https://twitter.com/outspoke_io>  [ima

[2020-10-09 15:14] iartemiev commented on #5926
@rwhitten577 - So far I haven't been able to reproduce the scenario you described where the "ready" event is getting emitted before the models are synced. Are you experiencing this in all expo platforms (ios, android, web)? Is it occurring when querying a particular model or each of them? Or is it seemingly random? Are there any other patterns you might have noticed that could help with reproducin

[2020-10-09 15:52] rwhitten577 commented on #5926
@iartemiev I believe it was a transient issue. Shortly after getting sync to work, I did end up replacing DataStore with the standard AppSync API for now due to other DataStore issues including lack of customization for setting object IDs on create and the codegen bug you linked. I love the concept of DS but need to get this prototype done quickly and can live without it until more customization i

[2020-10-09 15:56] sammartinez commented on #5318
All thank you for the feedback in regards to this. As @elorzafe has callout, this issue is not related to Amplify and more so for Amazon Cognito. Amplify is used as a proxy to AWS resources such as Amazon Cognito. We will look to talk to them internally about this however, I do recommend reaching out to Amazon Cognito via their [forums](https://forums.aws.amazon.com/forum.jspa?forumID=173).

[2020-10-09 16:08] iartemiev commented on #5926
@rwhitten577 thank you for the feedback! We're constantly working on improving DataStore and genuinely hope that it will meet your business needs soon.

Allowing customers to use their own PKs on models is an upcoming feature. You can track its progress via [this issue](https://github.com/aws-amplify/amplify-cli/issues/3108).

[2020-10-09 16:14] ltaljaard commented on #5918
@outspokeio That seems to move things along in the right direction and the app is getting further than before upon startup, but with the command "npm run amplify-modelgen" it creates a file in src/models/index.js and in there it does an "import { initSchema } from '@aws-amplify/datastore';" ... It doesn't work to manually change that one to "import { initSchema } from 'aws-amplify/datastore';" or

[2020-10-09 16:33] shouze commented on #5318
@sammartinez copy that, so we can close this issue @Spy-Seth. We are agree, this is pure Cognito issue, not Amplify related.

I've found [a related thread](https://forums.aws.amazon.com/thread.jspa?messageID=897845&#897845) on Cognito forum, other people that reproduces but not answered. So if you can internally do something :pray: passwordless is a big trend at the moment (as WebAuthn will probab

[2020-10-09 16:51] darylalexjohnson commented on #6938
I have determined that the `header` in:
 `wss://xxx.appsync-realtime-api.region.aamazonaws.com/graphql?header={<this is the access_Token>}`
is the access token. Since this is OIDC auth, I would expect it to be the `idToken` - Would this be from this setting?
```aws_appsync_authenticationType: "AMAZON_COGNITO_USER_POOLS",```

Changing the authentication type to `OPENID_CONNECT` results in:
[code]
I

[2020-10-09 16:55] outspokeio commented on #5918
Sorry to say you're now in areas of the pool where I have not swam. I just
did a quick check to see if I could find anything on initSchema - pretty
under-documented from what I am looking at. Perhaps try
DataStore.initSchema?

On Fri, Oct 9, 2020 at 9:14 AM ltaljaard <notifications@github.com> wrote:

--
Stefan Johnson
CTO

*(415) 260-8101*
w <http://www.outcrowdgroup.com/>ww.outspoke.io
[image: L

[2020-10-09 17:23] ramanasak commented on #5790
how to hide create account button , please suggest , thanks in advance
 isSignUpDisplayed: false is notworking when passing in object
withAuthenticator(App, false, [], null, null, {
              isSignUpDisplayed: false,
            })}

[2020-10-09 18:45] sammartinez commented on #6621
@leopsidom Can you provide a little more insight as to your use case you are looking for? This is by design for our Hosted UI use case that the state will be wiped. Are you looking to track the state? If so, please look to use [Custom State](https://docs.amplify.aws/lib/auth/social/q/platform/js#setup-frontend) to do so.

[2020-10-09 18:49] sammartinez commented on #6619
@ShawnYcx can you provide a little more context? Are you only using Amplify Console and AppSync via the AWS Management Console? Or are you using Amplify JavaScript directly? Just want to make sure I have your issue go to the right location

[2020-10-09 19:04] ashika01 commented on #6928
@mllrmat Thanks for the detailed research we will get back with a plan on this. If you would like to open a PR for this, feel free to let us know.

[2020-10-09 21:46] duncangroenewald commented on #5729
Thanks, I think you need to make that clear in the documentation and in the cli that Group permissions will be required is users are part of a Group - and you can tell, particularly if and automatic trigger has been set to include new users to a group.

[2020-10-09 21:58] amhinson commented on #6691
Would you be able to reach out to me (`amhinson`) on our [Discord server](https://discord.gg/jWVbPfC)? It'd be helpful to see more of your app code to debug a bit more.

[2020-10-09 23:31] iartemiev commented on #6691
@meducati, You should not need to install @aws-amplify/datastore separately. Try removing that from your package.json (aws-amplify should be the only amplify dependency). Then delete your node_modules and package-lock.json
[code]

The limit on how much data you can store in IndexedDB (the local storage for DataStore) is quite large. It's very unlikely that you're
IndexedDB utilizes [Storage API](h

[2020-10-09 23:53] iartemiev commented on #6707
@peterjungx apologies for the delayed response. Are you by chance saving empty arrays/lists as values in your application?
E.g.,
[code]
I've seen the `InternalFailure` error before in that context.

If not, could you please provide the schema you're using?

[2020-10-10 00:33] iartemiev commented on #6691
One more thing - did you happen to manually edit the request/response resolvers for any of your models?

[2020-10-10 00:42] leopsidom commented on #6621
Can you explain how custom state can help here ? Should pass current `window.history` as data while calling `federatedSignIn` ? It doesn't seem immediately clear how that can be done.

[2020-10-10 01:28] wywarren commented on #1583
We're trying to do this as well, although manually navigating to the URL works as expected, trying to invoke it with js throws CORS errors as the logout endpoint does not have `Access-Control-Allow-Origin` headers nor is there a way to set them in cognito as far as I know. I've also tried hitting it with a hidden iframe but also `X-Frame-Options` is set to deny as expected.

[2020-10-10 07:15] patelvarun commented on #1318
Hey, any update in this? Can we use storage without Cognito?

[2020-10-10 07:44] masbaehr commented on #1318
anjmao posted already how to use it without cognito (secretkey) - but be aware that anyone can write to your folder if you deploy the secretkey to your client-side package , so be sure to use this method only with node.js server-side

If you mean a public s3 bucket, you can also use axios like i posted, but it depends what you want to do .. read or write..

[2020-10-10 12:12] #4754 closed

[2020-10-10 15:20] EliasCoelho opened #6946 "Cannot read property 'items' of null at SyncProcessor. DataStore errror at initialization."
**Describe the bug**
DataStore exception is throwing while DataStore initializing.  The SyncProcessor cannot read property items of null. Using DataStore channel hub for listen event changes, the Ready events is not fired because the exception interrumped workflow.

**To Reproduce**
* Install aws-amplify 3.3.3
* Hub.listen('datastore', calback)
* DataStore.Start()

**Expected behavior**
DataStore

[2020-10-10 17:40] 0xR commented on #1513
I'm running into Uint32Array.from not being defined on IE11 when using a AppSync api. I've traced it to this line: https://github.com/aws/aws-sdk-js-crypto-helpers/blob/master/packages/sha256-js/src/RawSha256.ts#L13

I'm investigating wheter I can polyfill it or configure amplify-js differently to not use this code.

[2020-10-10 19:47] iartemiev commented on #6630
@Hideman85 the latest error is from AppSync. If you run the `syncSectionTexts` query via the AppSync Console, you should get the same error. Typically, when I've seen this before, it's due to malformed data getting saved in DynamoDB that doesn't get caught by DataStore or AppSync validation on its way in.

[2020-10-10 19:59] schimini commented on #703
I'm pretty sure this issue is still relevant

[2020-10-10 21:18] ShehryarKh opened #6947 "Hub.listen no longer working"
**Describe the bug**
Hub listeners no longer behaving as expected.
I try to console log and get nothing.

[code]

[2020-10-10 21:56] ShehryarKh commented on #6947
Okay, I got the exact bug.

Inside my `beforeCreate()` There was an api call that was failing

[code]

this call returned an unauthorized error. Somehow, once i fixed that, the events started to come through.
Not sure if this is a bug or a feature.

[2020-10-10 22:37] EliasCoelho commented on #6946
The Issue was resolved with the following steps:

* Run amplify update api
* Disable DataStore for entire API
* Run amplify push
* Run amplify update api
* Enable DataStore for entire API
* Run amplify push

[2020-10-10 22:37] #6946 closed

[2020-10-11 09:10] meducati commented on #6691
Thanks. I sent you a message there :)

[2020-10-11 10:46] meducati commented on #6691
Not the resolvers. I did update the models in schema.js by removing auth ->

`{
                                "groupClaim": "cognito:groups",
                                "provider": "userPools",
                                "allow": "groups",
                                "groups": [
                                    "users"
                                ],

[2020-10-11 11:12] baleksandr48 commented on #5214
Hello, @frederikprijck, thank you for explanation, but one question is still opened for me.
I use nextjs with amlify `{ssr: true}`.
I extract token from req in getServerSideProps in this way:

[code]

It works if user logged in recently. But if user closes the tab and opens it a few hours (or you can just change the date on your machine), this line will throw an error:
 `const session = await SSR.

[2020-10-11 11:28] #6683 closed

[2020-10-11 11:42] meducati commented on #6691
Thanks for looking into my issue :)

Some comments:

- I did manage to get datastore automatically installed without a special reference in package.json. One detail less to worry about.
- It is not an storage issue. I already keep track on that :)
- It is unlikely that there is a corruption issue. This model is an M:M model that only contains 3 IDs and 2 connections (as specified in the Amplify Do

[2020-10-11 12:02] meducati commented on #6691
Update: Setting ALL models to syncable:false (except BatchFiles), still causes the error.

[2020-10-11 12:35] iartemiev commented on #6691
@meducati, those errors are being generated by AppSync, not DataStore. They are defined in the Java SDK, for example [`SdkClientException`](https://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/SdkClientException.html).

Could you try going to the AppSync Console (you can execute `amplify console api` in terminal) and then running the `syncBatchFiles` query a few times in a row? Can

[2020-10-11 12:39] meducati commented on #6691
@iartemiev I just played around with Provisioned... First with the default 5,5,5 RCU, WCU and then with 10,10,10. The errors still persist. (No mentioning of ProvisionedThroughputExceededException)

[2020-10-11 12:42] iartemiev commented on #6691
@meducati did you turn off Auto Scaling as well?

[2020-10-11 13:01] meducati commented on #6691
Well, I didn´t, but did now... (No change)

In the console (as you suggest), I notice that I can make the tree indefinitely deep since a batch have files, a file has batches, a batch has files and so on....

Is there a limit how deep this goes? (Else it could of course be the reason for timing out).  (I recall there is a default setting within Amplify somewhere, but maybe that is not applicable in

[2020-10-11 13:19] iartemiev commented on #6691
Yes there's a schema max depth that defaults to `2`. So maybe that's why you're able to execute the query via `API.graphql`.

[Here's](https://docs.amplify.aws/cli/graphql-transformer/codegen#statement-depth) how you can change it after the fact.

But as you suggest, those graphql statements are only utilized when making calls via `API.graphql`. They're not used by DataStore.

[2020-10-11 13:40] iartemiev commented on #6691
Do you know what is the maximum level of nesting that happens in your data currently? I want to try to reproduce this in my own environment to better understand what's happening.

Also, if you're able to, could you please post the entire raw output from `Util error on` with all the data and errors? Feel free to upload it here or DM it to me (`@Ivan` in Amplify Staff) on Discord

[2020-10-11 14:28] meducati commented on #6691
Ivan, my best friend in the world right now! I think we have solved it!!! :)

Updated models:
`type CADBatch @model
@auth(rules: [
    {allow: owner},
    {allow: groups, groups: ["admin"] },
    {allow: groups, groups: ["users"], operations: [read] }
  ])
{
  id: ID!
  status: BatchStatus!
  name: String!
  createdAt: AWSDateTime
  batchType: BatchType!
  schemaType: SchemaType
  schemaSettings:

[2020-10-11 14:52] iartemiev commented on #6691
Great! Please send it over (: I'm definitely interested to see what kind of data you had that was resulting in this issue.

Also, definitely let us know your feedback so that we can improve the docs and error messaging.

[2020-10-11 18:04] Nxtra commented on #5775
This is how I currently implemented it in order to center the authenticator in case no user is found:

`App.js`
[code]

And the following styling to make it work responsively:
App.css
[code]

[2020-10-11 21:02] frederikprijck commented on #5214
@baleksandr48 I think your issue is not related to the subject discussed in this thread, I advise you opening another issue for that.

The problem discussed in this thread related to Single Page Applications, Mobile or Native Apps as those are not able to use non-rotating tokens in a secure way on the client side. Incase you are trying to use a refresh token from the server side, it should be fine

[2020-10-11 22:48] cody1024d commented on #329
Adding my need for this functionality too

[2020-10-12 02:56] sammartinez commented on #6947
@ShehryarKh This seems to be resolved with what you fixed. What is the `beforeCreate()` used for? Is this for Vue 3? The more detail you can provide us the better on reproducing this. Can you provide your `package.json` along with your environment settings?

Please use the follow command:
[code]

Thanks ahead of time!

[2020-10-12 04:01] ramadimasatria commented on #6318
Hi @sammartinez, we are also experiencing this issue where our app is breaking when run in iframe mode.

I understand that the root cause is out of control of Amplify, but I think we can mitigate it by at least not running `paho-mqtt` when it's not being used.

I noticed that `paho-mqtt` is an [IIFE](https://github.com/eclipse/paho.mqtt.javascript/blob/master/src/paho-mqtt.js#L84), and it will run

[2020-10-12 04:18] shubhamsharma98 commented on #1857
+1 to @bradgreens suggestions. Works perfectly now after adding that extra code in the Lambda function.

[2020-10-12 04:41] lochawala commented on #6934
Hi @ashika01
any update on this?

[2020-10-12 06:11] alex-lehan-bloom commented on #5271
I've also run into this issue. Is anyone else seeing this. The verification of TOTP won't work because the Cognito user is not yet signed in.

[2020-10-12 07:20] vipulJain05 commented on #4699
![Screenshot from 2020-10-12 12-47-27](https://user-images.githubusercontent.com/47937063/95716518-3a1d8c80-0c89-11eb-88e2-96d543822467.png)
Getting this response even if the email provided to "auth.forgotpassword" is wrong and doesn't exists in my pool.

[2020-10-12 07:28] hyungjunk commented on #2552
@Alphavader

If I change storage to be sessionStorage and refreshes, the global config is still looking at localStorage and shows me login page again.

I left global config unchanged as you suggested.

It doesn't seem that `Leave it empty in the global config and " Auth.currentAuthenticatedUser" will look in both storages.`  for me. What am I missing here?

[2020-10-12 08:26] nzjoel1234 commented on #6064
Is there any possibility of this being done? The subscribe is not very useful without it.

[2020-10-12 11:05] idanlo opened #6949 "DataStore - multiple errors when generating models and running queries for the first time"
**Describe the bug**
I have been using Appsync for some time and I tried to set up datastore today, I updated my API using the CLI and then ran the `amplify codegen models` command, which generated my models in JS. after running my app with a simple query for one of my models - it returned null (although there is data and that query should have returned a result), I got this error -
[code]
I think

[2020-10-12 12:29] kreuzhofer commented on #4534
I am pushing the subscriptions into an array and then resolving that in the return:

`    useEffect(() => {
      const subs = [];
      async function fetchData() {
        try {
          const result = await API.graphql(graphqlOperation(queries.listBuildDefinitions, {limit: 999}));
          setBuildDefinitions(result.data.listBuildDefinitions.items)
        } catch (error) {
          console.

[2020-10-12 13:29] sw-yx commented on #6949
think the repro steps need a bit more elaboration. what does a minimal model look like? do you think your custom amplify.configure config causes this, or can that be removed from the equation? lastly its worth specifying it's a React Native app - took a second to figure that out from your logs.

[2020-10-12 13:40] idanlo commented on #6949
@sw-yx Here is a model generated for the `Provider` model which gives me the error above (I don't think it's related to the null error)
[code]

here is that model in the schema (notice it added the `id` there automatically)
[code]

[2020-10-12 13:54] gabrielenosso commented on #6122
We have the same issue.
It's crazy that this isn't even documented...

[2020-10-12 14:43] #6619 closed

[2020-10-12 15:55] tonai commented on #2667
Hi,
I got the same issue here and I'm not doing any authentication.
The project is a simple CRUD for test that use lazy loaded components.
Here is the repo: https://github.com/tonai/react-deploy

The app works well in dev mode.
When removing `aws-amplify` and replacing the API with a local json-server all works fine.
Then just adding the following code in the `index.js` file:
[code]
breaks the bui

[2020-10-12 16:00] EliasCoelho opened #6950 "DataStore not provide a validate model method"
**Is your feature request related to a problem? Please describe.**
When you use DataStore you must Save data models using the DataStore.Save() method, but it first create or update the object
 model locally and following it be created in cloud, but DataStore library not provided a usefull method for validate the model, dataType and foreign key connecctions is correctly. This use can raise an excep

[2020-10-12 16:16] #6606 closed

[2020-10-12 16:20] amopportunities commented on #2667
@tonai having the same issue today. Keep us updated.

[2020-10-12 16:57] vrebo commented on #5648
Hi @manueliglesias

I'm having the same issue.

The problem i'm trying to solve is the hard limit of 100 suscriptions for an AppSync API.

The browser console keeps printing warning logs about disabled suscriptions on my model.

`[WARN] 50:17.608 DataStore - Sync error Connection failed: {"errors":[{"message":"Validation error of type FieldUndefined: Field 'onDeleteKitMaterials' in type 'Subscript

[2020-10-12 17:12] ericclemmons commented on #6930
@vikasmca05 We're having trouble reproducing your exact issue on our end. Can you share a code sample or repository so we can see a few things?

1. How are you importing `aws-amplify` and `Auth`?'
1. How are you calling `Amplify.configure(awsExports)`?
1. Are you seeing any console warnings when the page loads _before_ you attempt to sign-in?  (Please screenshot these, if so)

[2020-10-12 17:34] vrebo commented on #5648
I found that in the models/schema.js file the models which should have disabled the subscriptions look like this

[code]
I changed to **false** the value of the **attribute syncable** in the models that should have disabled the syncronization and now the warnings disappeared. So it works, this is a temporal workaround.

It would be great if anyone else can confirm this issue too. Here is an exampl

[2020-10-12 17:39] ericclemmons commented on #6878
@cyrfer Can you help me understand a bit better of what behavior you're expecting & what's not happening?

From the description, it sounds like the `signIn` event isn't fired after `Auth.signIn`, but that's true in the logs:

Is the issue that when already signed in there's not an event to key off of (e.g. a `signedIn` event)?

I'm trying to understand if there's a bug related to Amplify working w

[2020-10-12 20:28] ajorg-aws opened #6952 "Missing NOTICE"
This project should have a NOTICE file including an Amazon copyright notice. Please correct this issue.

[2020-10-12 20:58] iartemiev commented on #6951
Hey @shanecav sorry, I had misread the issue when I transferred it.

I think a less confusing approach would be following [this example in the docs](https://docs.amplify.aws/lib/datastore/relational/q/platform/js#updated-schema). I.e., not using a `@connection` directive in your `Post` model, but just saving and accessing by `blogID`. That should resolve the TypeScript errors you're seeing.

[2020-10-12 21:07] sammartinez commented on #6952
Thanks for bringing this to our attention @ajorg-aws, we will get this done.

[2020-10-12 21:35] sammartinez commented on #6952
Added missing file, https://github.com/aws-amplify/amplify-js/blob/main/NOTICE will resolve once this hits our `unstable` branch

[2020-10-12 22:02] sammartinez commented on #6952
Resolving as the changes have been deployed to our `unstable` branch and will go out this week's release

[2020-10-12 22:02] #6952 closed

[2020-10-12 22:02] amhinson commented on #6938
@darylalexjohnson When using `OPENID_CONNECT`, it is expecting the OIDC token to be set either by authenticating with Cognito Identity Pools with `Auth.federatedSignIn()` (which adds the token to the return of `Auth.currentAuthenticatedUser()`) or using `Cache.setItem('federatedInfo', <token>)`.

If you don't want to authenticate with Identity Pools, can you try setting the token to the `Cache` ma

[2020-10-13 01:57] isacRU11 commented on #5094
@karrettgelley
why closed this issue?

[2020-10-13 02:25] usama-asfar commented on #6031
any fix?

[2020-10-13 03:32] flyandi commented on #2706
I gave up and just upload straight using `Storage.put` and on top I get the progress update event:

[code]

after that I just store the actual reference in dynamo.

[2020-10-13 03:40] undefobj commented on #6950
@EliasCoelho can you give a bit more detail on what type of validation you are looking for, perhaps with a sample schema? DataStore should do all validation for you and the goal is to not offload this responsibility to the developer. However perhaps there are some coverage gaps we're not aware of that you're looking at in terms of relational models?

cc @iartemiev

[2020-10-13 05:50] ShehryarKh commented on #6947
@sammartinez
beforeCreate() was used for making some api calls, and also listening to storage events (`Hub.listen("storage", (payload)`).
This is a vue2 project.
package.json
[code]

[2020-10-13 08:36] tonai commented on #2667
Ok I just upgraded my version of `react-scripts` from `3.4.0` to `3.4.3` and the build is working fine now.
repo updated: https://github.com/tonai/react-deploy
(I downgraded `react-scripts` to `3.4.0` because of this bug: https://github.com/facebook/create-react-app/issues/8688)

[2020-10-13 09:33] HanggiAnggono commented on #5167
I'm having this issue as as well, in my case i created the user using *admin_create_user* with aws-sdk for ruby

[2020-10-13 09:42] romeorr commented on #6888
@sammartinez let me know if you need more information here - this is a big blocker for us right now and our live application so would be keen to collaborate with you guys on this to fix this and provide as much information as you need for fixing it. For now we have to temporarily look at a different library unfortunately but keen to revert back to amplify v3 for the upload process.

[2020-10-13 09:52] thenderson55 commented on #6942
Have you tried deleting node_modules and cleaning all the caches then run with sudo?

```sudo react-native run-android```

[2020-10-13 10:12] EliasCoelho commented on #6950
@undefobj @iartemiev when DataStore save a new model or update it, it must be a pre validation locally for void exception when it can not be created by restriction's db cloud.

* schema.graphql
type Order @model
  @key(
    name: "byConsumerByStatus"
    fields: ["consumerId", "status"]
    queryField: "OrdersByConsumersByStatus"
  )
  @key(
    name: "byConsumerByDate"
    fields: ["consumerId",

[2020-10-13 11:00] IonelLupu commented on #6202
@Tyler-V I think we should talk with the package authors and tell them to update them with the proper module type. Angular just shows the issues with those third-party package.

[2020-10-13 11:15] Nxtra commented on #6626
Cypress `5.2.0` added the configuration option includeShadowDom for enabling shadow DOM.

In `cypress.json` set
[code]

Then in your test select for example the login input field:
`cy.get('[data-test="sign-in-username-input"]').first().type("DUMMY_USERNAME");`

This works, not sure why the `first()` is necessary though.