[2020-11-03 14:08] hocnx commented on #7101
@EliasCoelho
I faced the same error. The bellow solution work for me.

Instead of
[code]

Just use
[code]

Bellow is my package version
[code]

[2020-11-03 15:08] amhinson commented on #7098
@manojkumarg16 can you try with `"amazon-cognito-identity-js": "4.5.3"`? You also shouldn't need to install `crypto-js` unless you're using it explicitly in your project.

[2020-11-03 15:40] hmisonne commented on #7101
Thanks @iartemiev , I followed your instructions and uninstalled the `aws-amplify` package and replaced all the imports but I am having the following issue:

[code]

[2020-11-03 15:47] iartemiev commented on #7101
@hmisonne `aws-amplify-react-native` has a hard dependency on `aws-amplify`, so you won't be able to use those instructions. We'll merge the PR a bit later today, so you'll be able to use the prerelease version of `aws-amplify` then. I'll update this issue once this fix gets deployed.

[2020-11-03 15:54] castledraw commented on #7064
Hi guys, i want to know if my use case is valid? and if it's possible make adjust to support it? Some alternative?
Thanks!

[2020-11-03 16:30] #7101 closed

[2020-11-03 16:39] pathiyilnaveen commented on #7098
@amhinson  I tried with "amazon-cognito-identity-js": "4.5.3" I am still getting the same issue .

[2020-11-03 16:40] amhinson commented on #7098
@pathiyilnaveen Could you share your code or a small reproducible example so we can try to replicate the issue you are seeing?

[2020-11-03 16:43] arelaxend opened #7108 "[Bug] DOMException: Failed to read the 'localStorage' property from 'Window': Access is denied for this document."
Hi there,

**Describe the bug**

When you disable cookies on a Chrome browser (latest version), then you get
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Create an Amplify project
2. Disable cookies for the project on your browser (e.g. chrome)

**Expected behavior**
What is the expected way of handling this scenario ?

Best,
A.

[2020-11-03 16:48] pathiyilnaveen commented on #7098
I am using amplify on my unit tests

[code]
Below is my dependencies in package.json

"dependencies": {
    "@babel/cli": "^7.10.1",
    "@babel/preset-env": "^7.10.2",
    "amazon-cognito-identity-js": "4.5.3",
    "aws-amplify": "^3.0.23",
    "aws-sdk": "^2.756.0",
    "axios": "^0.20.0",
    "body-parser": "^1.19.0",
    "bull": "^3.14.0",
    "bull-board": "^0.9.0",
    "casbin": "^5.0.4",

[2020-11-03 16:49] amhinson commented on #7098
@pathiyilnaveen Can you add `global.crypto = require('crypto')` at the top of the file?

[2020-11-03 16:53] pathiyilnaveen commented on #7098
@amhinson Thanks ,  I added it but still issue is seen . Should I add any specific version of crypto  in my package.json ?

[2020-11-03 16:57] amhinson commented on #7098
No, you shouldn't have to add `crypto`, as it is included with Node by default now.
- What version of Node are you using?
- Just to verify, did you add `global.crypto = require('crypto')` above all of the `require` on line 1?
- Could you try updating to the latest version (`3.3.7`) of Amplify?

[2020-11-03 17:05] pathiyilnaveen commented on #7098
node -v : v10.19.0
I have added crypto like you suggested as well as amplify version but the same resut .

Is it working for you ? If so could you please let me know your node version and share package.json dependencies

[2020-11-03 17:06] amhinson commented on #7098
If you could provide a sample repo that shows the behavior you're seeing, that would be the quickest way for us to solve the issue you're seeing.

[2020-11-03 17:14] pathiyilnaveen commented on #7098
@amhinson  Thanks so much  Great Help !! I figured out where to add global.crypto = require('crypto') . We have to added this to  top of the very first test file in the test folder .

[2020-11-03 17:15] amhinson commented on #7098
Ah ok great! Glad you were able to figure it out 🙂

[2020-11-03 17:28] amhinson commented on #7094
@mcqj Would you be able to share a code sample for the issue you are seeing? I am trying to replicate the error you're seeing with a brand new React app (`17.0.1`) wrapped in `withAuthenticator` but everything appears to be working as expected.

[2020-11-03 17:37] mchitson commented on #7070
hi there -> any upates? thanks!

[2020-11-03 17:41] chunyanj commented on #7070
Hey mchitson, we are actively investigating the ticket. Sorry for any inconvenience. Please expect an update today.

[2020-11-03 17:58] PaulCailly commented on #6248
+1

That would be neat :)

[2020-11-03 18:05] chunyanj commented on #7070
As for the question above, unfortunately the answer is no. Typically, people could achieve this using delta sync. The doc for delta sync is here: https://docs.aws.amazon.com/appsync/latest/devguide/tutorial-delta-sync.html

[2020-11-03 18:07] mchitson commented on #7070
thanks but the document is not very detailed. it's unclear to me whether i need to use datastore with it or what datasync client to use. datastore also does not seem to recover subscriptions - at least not the way i see it documented.

[2020-11-03 19:07] iartemiev commented on #7101
PR has been merged. The fix is now available in `aws-amplify@3.3.8-unstable.1` and will be included in the next release.

If you have `aws-amplify` as well as `@aws-amplify/datastore` in your package.json, please uninstall `@aws-amplify/datastore`. Having both can cause unintended consequences.

[2020-11-03 19:08] iartemiev commented on #7101
@EliasCoelho @hmisonne ^^

[2020-11-03 19:28] EliasCoelho commented on #7101
@iartemiev the offical package with the fix is awailable soon?

[2020-11-03 19:38] iartemiev commented on #7101
@EliasCoelho yes, we typically do a release weekly

[2020-11-03 19:40] bhavesh-pandey commented on #7098
Same issue was coming to me, it was not getting reproduced on my local dev machine, was coming only on my deployed containers. I also upgraded my amazon-cognito-identity-js to 4.5.3. but no luck but finally added global.crypto = require('crypto') in my code resolved the issue. Thanks.

[2020-11-03 19:43] EvanSchalton commented on #6530
bump, still outstanding

[2020-11-03 19:50] bensie commented on #7057
Thanks for the info @elorzafe. Going to close this since it cannot be supported in the current major version. We opted to implement our own client based on the [AppSync websocket spec](https://docs.aws.amazon.com/appsync/latest/devguide/real-time-websocket-client.html), which is pretty great and works exactly as documented.

[2020-11-03 19:50] #7057 closed

[2020-11-03 20:44] sw-yx commented on #7052
hey @wlee221, i followed your instructions to the letter and could still replicate. please have a look: https://youtu.be/1wG4ImyUi50

[2020-11-03 21:09] Anybowdy opened #7112 "AWS Cognito SignIn() function won't work because of Expo"
I am currently working on a project using AWS Amplify and I use Cognito for users authentification.
I added the Signup and signin feature few weeks ago, everything worked well.
Yesterday, I tried to signUp again with an existing account but the Auth.signin() function would instantly crash.
There is no reason why this wont work. It just suddenly stopped working.

**Screenshots**
If applicable, add

[2020-11-03 21:29] hmisonne commented on #7101
Thanks @iartemiev , I can confirm that downloading the `aws-amplify@3.3.8-unstable.1` version worked for me!

[2020-11-03 21:35] amhinson commented on #7112
@Anybowdy What version of Expo are you using? Could you try updating to the latest version?

[2020-11-03 21:39] sammartinez commented on #6530
@EvanSchalton Apologies that issue got closed! I will see if my oncall can take a look at this.

[2020-11-03 21:39] Anybowdy commented on #7112
I am using expo 3.28.2, I already tried to update etc... not working. A friend who has the same expo version does not have that error

[2020-11-03 21:45] amhinson commented on #7112
The error you're seeing should be fixed for Expo SDK 39. Could you try upgrading? Here's [Expo upgrade guide](https://dev.to/expo/expo-sdk-39-is-now-available-1lm8). I've just created a new Expo app with SDK 39 with Amplify Auth and it appears to working as expected.

If you're still seeing the error after that, would you be able to provide a small sample repo that shows the behavior you're seeing

[2020-11-04 01:07] hmisonne opened #7113 "Cognito error: The server did not understand the operation that was requested"
**Describe the bug**
I am developing a React Native App with Expo and after running the app, I am having this error after starting the datastore:

![image](https://user-images.githubusercontent.com/52170580/98056616-3519ac00-1df5-11eb-8e24-b098fdee3968.png)

However, it does not prevent me from using the app, and the user get authenticated.

**Code Snippet**

[code]

[code]

**Screenshots**

![ima

[2020-11-04 01:13] sdsanders commented on #7106
I'm running into this issue as well. It seems like the refresh token is not stored in the cookies so there is no way for Amplify to request new access and id tokens.

[2020-11-04 01:24] chunyanj commented on #7070
Hey mchitson, we have root caused it.

Sorry for the issue. We dove deep to confirm, and this is an issue we’ve seen reported a few times where code deployments on our end can result in connections temporarily being broken up. We’re investigating a few avenues to alleviate some of these headaches, both on the client end and on our end. Thanks!

[2020-11-04 01:25] chunyanj commented on #7070
Thanks for you feedback of the doc, we'll put this in our backlog and discuss improving it!

[2020-11-04 01:36] mchitson commented on #7070
Thank you Chunyan

So going forward there shouldn’t be a connection closed issue?

[2020-11-04 01:43] mchitson commented on #7070
Also I am trying Datastore as I would like my subscriptions to be up to date when a device is temporarily disconnected and reconnected. I am however getting those errors:
DataStore - subscriptionError Connection failed: {"errors":[{"message":"Validation error of type FieldUndefined:

My package.json:

 "dependencies": {
        "@aws-amplify/cli": "^4.32.0",
        "@aws-amplify/datastore": "^2.7

[2020-11-04 02:08] hmisonne commented on #7101
@iartemiev I am wondering if installing and uninstalling aws-amplify packages could have had unexpected impacts.
After starting the expo app on an Android emulator, I am having this issue which I did not have before. The web interface is till working fine. Here is the error:
[code]
I am not using asynstorage in my app anywhere. I also compared this particular file with another file from a brand ne

[2020-11-04 02:39] paragbaxi commented on #6555
Having the same issue, doesn't happen with withAuthenticator HOC. Problem is I cannot use the HOC as props do not get passed.

[2020-11-04 02:56] mchitson opened #7114 "DataStore - subscriptionError Connection failed: {"errors":[{"message":"Validation error of type FieldUndefined:"
**Describe the bug**
DataStore - subscriptionError Connection failed: {"errors":[{"message":"Validation error of type FieldUndefined:

**To Reproduce**
Generated simple DataStore model with Schema:

type exhibitorStatus @model {
  id: ID!
  exhibitorId : String!
  status: String!
  time: AWSDateTime!
}

called:
 amplify codegen models
amplify add api
amplify update api
amplify pull

Graphql schema

[2020-11-04 02:59] Jason-Reich commented on #5298
@ashika01  I have a question about: "And any string as hint would work as expected."

What do you mean by this? It seems to be related to the problem I'm having (which was discussed above)... in particular, I can't put use my custom hint
`hint: `${validationError}`,`
on the password type from formFields without causing the default "Forgot your password" link from going away.

I was hoping that the

[2020-11-04 04:01] kamce1999 commented on #5916
@elorzafe Do you have a response to @zsid?  I need the open id scope but don't what to use the hosted UI.  I'm trying to keep everything contained in AWS so I would prefer to use cognito.  We might have to look at other providers as well.  Is the fix on the road map?

[2020-11-04 08:49] ndk98z commented on #4886
Get the same error when use `CognitoUser.authenticateUser` method in the `amazon-cognito-identity-js` package (v4.5.3)
I build api server with NodeJs by Typescript
I tried add
`global.crypto = require('crypto'), `
[code]
Both of it not work, is there any work around

[2020-11-04 09:16] alan-cooney commented on #7106
I also appear to be experiencing this issue

[2020-11-04 11:09] mchitson commented on #7070
Hello Chunyan

The connection closed yet again last night around: 10:41 pm EST. I couldn't quite figure out from your response whether that problem has been solved or is still being solved after the root cause was identified. Thanks!

[2020-11-04 11:39] morgler commented on #390
Is there a less verbose way of accessing the Cognito user in a lambda?

Initially I expected to find the Cognito user sub in the event or ENV passed to the Lambda, if everything (Cognito, API, Lambda) were created via Amplify CLI. It seems while the API Gateway and the Lambda certainly HAVE the information about the calling user, we still have to extract it tediously from the event and Cognito use

[2020-11-04 12:35] mchitson commented on #7114
also my package.json:

"dependencies": {
        "@aws-amplify/datastore": "^2.7.2",
        "@testing-library/jest-dom": "^5.11.4",
        "@testing-library/react": "^11.1.0",
        "@testing-library/user-event": "^12.1.10",
        "aws-amplify": "^3.3.7",
        "react": "^17.0.1",
        "react-dom": "^17.0.1",
        "react-scripts": "4.0.0",
        "web-vitals": "^0.2.4"
    },

[2020-11-04 13:17] nerxhan-eduongo commented on #5273
@Amplifiyer

I'm using the latest version of aws/amplify 3.3.7 (it seems that you have released yesterday)

This is the code
`const s3Upload = async (file, id) => {
    const filename = file.name.replace(/\s/g, '')

    await Storage.vault.put(filename, file, {
      contentType: file.type
    })
  }`

When I try to upload small files (1 Mb zip file) it works well, today I'm trying to upload 6 Mb

[2020-11-04 15:28] iartemiev commented on #7101
@hmisonne It appears you might have conflicting Amplify dependencies because asyncstorage.js recently got renamed to AsyncStorageAdapter.js. So `getDefaultAdapter\index.native.js` should not be attempting to import ../asyncstorage.

Could you try running
[code]
(Or if using npm, delete package-lock.json instead)
Then run your app again and let me know if that helps.

If you continue seeing that er

[2020-11-04 15:47] xsmcemmons commented on #5584
Hi, I'm using datastore to sync my DB across apps... I'm facing the same problem that was shown in this issue  but the solution given is not working for me, I have a syncProducts that has more that 4000 records in it and it breaks the sync process due to database or disk is full (code 13)
I change in my android gradle properties AsyncStorage_db_size_in_MB=50
My app is made using Expo SDK 39

[2020-11-04 16:06] hmisonne commented on #7101
Thank you for your reply @iartemiev, I really appreciate it! So I tried deleting package-lock.json and running `npm i` before running my app but I am still having the same error.

Here is the output of the envinfo:

[code]

[2020-11-04 17:10] iartemiev commented on #7101
@hmisonne great! Glad it's working now.

Typically, deleting node_modules and the lock file and then re-installing is a good thing to try with these types of issues.

[2020-11-04 17:45] Amplifiyer commented on #5273
@nerxhan-eduongo this is an old issue.  Can you create a new one with as much details as possible

[2020-11-04 17:48] mchitson commented on #7114
could you get back to me as soon as possible - i am trying to get datastore up and running for an imminent project deadline. thank you!!

[2020-11-04 18:04] ericclemmons commented on #6555
@paragbaxi Can you share sample code for your scenario?  `withAuthenticator` listens to [authentication events](https://docs.amplify.aws/lib/utilities/hub/q/platform/js#authentication-events), which may be why it works but the app doesn't without it.

[2020-11-04 18:34] mimccio opened #7116 "Support eu-west-3 region"
Please add support for eu-west-3 (Paris) region.

[2020-11-04 19:54] rpostulart commented on #7072
In alignment with @dabit3 I will add @iartemiev

[2020-11-04 20:17] VikVelev commented on #6774
Managed to reproduce. Working on a PR.

[2020-11-04 20:20] nerxhan-eduongo opened #7117 "Error uploading on S3 through amplify storage reactjs"
I'm using the latest version of **aws-amplify** 3.3.7 on **reactjs**

This is the code

[code]

When I try to upload small files (1 Mb file) it works fine, but when I try to upload bigger files i.e. 6 Mb zip file, I'm getting the error:

[code]
Anyone faced this problem

[2020-11-04 20:35] CryogenicPlanet commented on #6589
Reproduction sample repository https://github.com/CryogenicPlanet/amplify-6589

[2020-11-04 20:56] togro commented on #5351
@sammartinez ... Any working example with Ionic + Android for social login with last versions ?

[2020-11-04 22:07] sw-yx commented on #7117
@iartemiev this looks similar to https://github.com/aws-amplify/amplify-js/issues/5873

[2020-11-04 22:36] jtich commented on #5037
+1

[2020-11-05 00:54] mchitson commented on #7070
Hello

I have yet another connection close at 5:15Pm 11/4/2020, i am going live soon and this can not happen so frequently, is this being fixed now that you have identified the root cause?

[2020-11-05 01:05] chunyanj commented on #7070
Hey mchitson,

Sorry for the ambiguity we made! The issue hasn't been solved 100% but we have taken actions to reduce the possibility of happening. We believe we can keep the frequency of happening in a very low rate.

As for the re-subscribe question, we'll provide an update later.

Thanks for the feedbacks!

[2020-11-05 01:12] JacksonGariety commented on #4662
@HMilbradt how did you end up doing this?

[2020-11-05 01:33] mchitson commented on #7070
Hey Chunyan

Am not sure if it’s as a result of what you guys have done to improve things, but I am getting disconnected even more often now! Like literally 20 mins ago!

[2020-11-05 02:31] #7024 closed

[2020-11-05 02:31] #6917 closed

[2020-11-05 02:31] #7046 closed

[2020-11-05 02:56] jpignata commented on #3435
Thanks, @pinpointpanda! We're very committed to addressing the concerns on this thread. We're currently working behind the scenes on this. Sorry for saying stay tuned, but, please stay tuned! We will provide an update here as soon as we can.

[2020-11-05 03:52] wei commented on #5579
https://github.com/aws-amplify/amplify-js/blob/8b3183f4d2ec7289044e2b6700e3ff4df3f98ce4/packages/api-graphql/src/GraphQLAPI.ts#L116-L122

Looks like `aws_appsync_authenticationType` is being used on line 122 here to determine the type of auth headers to set.

@dorontal Since `AWS_IAM` is used as the default `aws_appsync_authenticationType`, and `PrivateTrack` doesn't have **iam** `@auth` rules, is

[2020-11-05 04:12] wei commented on #7114
@mchitson Your error may be due to the casing of the Schema model. Please try using `ExhibitorStatus` instead of `exhibitorStatus` in the schema.

If that does not work, please provide a minimal reproducible example repo so I can better assist you.

[2020-11-05 04:33] yaquawa commented on #5019
any update on this???

[2020-11-05 05:30] HMilbradt commented on #4662
@JacksonGariety We ended up reworking how we handled our signin to remove the need for `clientMetadata`, and now do all the fetching/processing in a lambda trigger during signup.

[2020-11-05 05:33] xsmcemmons opened #7120 "Possible Unhandled Promise Rejection: Array [[Error: database or disk is full (code 13)]]"
**Describe the bug**
I have a React Native App running on Android through the expo client. It's using Datastore to sync the data from the server when the user log in the app and waits for the data to be ready to send him to the Home Window.

I have a problem doing a sync of over 4000 thousands rows for a Products table. The app never goes to the ready state and the logs shows me this error:

[code

[2020-11-05 05:56] wlee221 commented on #6530
Hi! Sorry about the delayed response, and thanks @etjenkins for details. I was able to reproduce this issue with latest Amplify and investigating this issue. What I found so far:

- When `amplify-authenticator` renders, the component calls `Auth.currentAuthenticatedUser` in [line 97](https://github.com/aws-amplify/amplify-js/blob/main/packages/amplify-ui-components/src/components/amplify-authentic

[2020-11-05 06:00] wlee221 commented on #6530
This exception shouldn't impact `amplify-authenticator` usage or inflict any security concerns, as this exception is just checking that no user has authenticated yet.

[2020-11-05 06:03] forgivegod commented on #2714
+1

[2020-11-05 06:25] EvanSchalton commented on #6530
I just want to say -- I really appreciate how responsive you guys have been to this, thank you 👍

[2020-11-05 06:43] pinpointpanda commented on #3435
Thanks for the update @jpignata - will keep my 👀 on the thread!

[2020-11-05 07:11] wlee221 commented on #7052
@sw-ys, thank you! these videos help tremendously in reproducing issues. I'll retry this week and let you know how it goes.

[2020-11-05 09:44] nerxhan-eduongo commented on #7117
so you suggest me to downgrade to version **3.0.13** . I guess I have tried that one, but didn't works for me

[2020-11-05 09:56] sw-yx commented on #7117
no it wasnt a suggestion, i was tagging the engineer that fixed this last time

[2020-11-05 10:15] wlee221 commented on #7052
Update: I was able to [repro](https://github.com/aws-amplify/amplify-js-samples-staging/tree/7052-storage-access-denied/samples/react/storage/7052-storage-authenticated) this now, thanks. I'll bring this up in the bug bash today.

[2020-11-05 10:46] Benzer1406 commented on #7098
@amhinson  Sorry for the late reply. I tried with the `latest` tag and it works without issue. I can even delete the `global.crypto = require('crypto');`from my files. Thanks for the support!

[2020-11-05 10:57] sw-yx commented on #7052
AWESOME so glad you can repro!

[2020-11-05 11:23] luizcieslak commented on #3977
Has anyone got a solution to this besides converting the base64 string to Blob in client side?

[2020-11-05 11:35] Jason-Reich opened #7122 "formFields hint bug?"
**Is your feature request related to a problem? Please describe.**
Adding a hint within the password formField on AmplifySignIn or AmplifySignUp makes the "Forgot your password" link to go away.

**Describe the solution you'd like**
I think it would be ideal for the hint to appear directly under the field and the "Forgot your password" link to be moved down 10 or so pixels.

**Describe alternative

[2020-11-05 13:05] saltermitch commented on #6413
Not sure if it might help, but to avoid having to tell users to clear their cache, I used Storage.get without the download = true to get the presigned url, then just used a normal (axios) get on that, and it seems to give the latest version. So perhaps a workaround...

[2020-11-05 13:06] virtualstyle commented on #6413
Not sure if it might help, but to avoid having to tell users to clear their cache, I used Storage.get without the download = true to get the presigned url, then just used a normal (axios) get on that, and it seems to give the latest version. So perhaps a workaround...

[2020-11-05 13:15] pagameba commented on #5979
I'm having the same issue trying to deploy my project using amplify console, the aws-exports file is git-ignored because it contains the values for each of the developers using it locally. What is the correct way to set up an amplify project in the console?  If I deploy it from the command line, I can't set it up for CD in the console.

[2020-11-05 14:03] thisismydesign commented on #6842
Just found this issue after spending a considerable amount of time trying to make a simple example from the docs work. Was trying to add auth to a `/account` page and it didn't work at all.

So Amplify Auth simply doesn't work with react router?

[2020-11-05 16:23] thisismydesign commented on #6842
I have multiple issues in the same context that aren't resolved by the proposed fix:
- After signing in the signin window disappears and nothing is showing up (`authState` and `user` are undefined but `useEffect` doesn't run). I need to reload the page to trigger `useEffect`.
- The sign out button similarly doesn't update the state and nothing happens. Again, need to reload the page to see changes

[2020-11-05 16:57] thisismydesign opened #7123 "`onAuthUIStateChange` never triggers"
**Describe the bug**

I'm setting up the example from the docs: https://docs.amplify.aws/ui/auth/authenticator/q/framework/react#manage-auth-state-and-conditional-app-rendering

[code]

I log in, the widget disappears and nothing shows up.

Turns out, `onAuthUIStateChange` is never triggered therefore `authState` and `user` remain `undefined`. The sign in is successful and the localstore is popula

[2020-11-05 17:09] nikola116 commented on #5367
@gvb26 I am facing that kind of issue too. it seems like that the issue is on AWS SNS (SMS providers) or by some reason, the phone carriers can block the text messages from AWS mobile numbers.

[2020-11-05 17:21] #7098 closed

[2020-11-05 17:27] mchitson commented on #7114
Hi

Thanks now the error is gone (who would have thought!). The only issue is now when I do mutations nothing goes to the DB. I am logging in via Cognito and cognito has AuthRole to access the appsync end point (app sync has IAM auth).

[2020-11-05 17:31] ericclemmons commented on #7106
Unfortunately, that's expected behavior based on today's implementation: the client handles the refreshing and the server is basically "read-only":

https://github.com/aws-amplify/amplify-js/blob/8b3183f4d2ec7289044e2b6700e3ff4df3f98ce4/packages/core/src/UniversalStorage/index.ts#L87-L88

I agree, the server & client should work the same way. For some background, not saving the refresh token was d

[2020-11-05 17:56] mchitson commented on #7114
Hi it works now - I had to add aws_project_region as well to the aws config (I had to modify it to include cognito stuff). Thanks!!

Could you also answer my other questions? Many thanks!

[2020-11-05 18:06] wei commented on #7114
Great, you have to also setup conflict resolution for it to start syncing to appsync in the cloud which sounds like you've already done.

RE your questions:
1. If you want maximum performance, I would create a new model that only holds the latest status per exhibit and update it anytime you insert into `ExhibitorStatus`
1. I don't know the answer to that

As the original issue has been resolved, p

[2020-11-05 18:29] myfairshare commented on #5177
I'm wondering about this also, in my case users upload a pdf file to the protected folder, but if I want users to be able to let other users view these docs then I need their identityId.  Otherwise I could use public but I dont want to use public.  Is this something I could do in my statements.  Or should I save the users identityId to my user model and go about it this way, thank you.

[2020-11-05 19:01] lmend22 opened #7124 "user sign in with amplifyAuth there is a black screen and nothing load"
why is App mounted before being signed in?
![MicrosoftTeams-image](https://user-images.githubusercontent.com/69525449/98284762-d708d800-1f5e-11eb-9df5-f1130ed9c1b6.png)

[2020-11-05 19:05] xsmcemmons commented on #7120
Hi, will anybody be able to point me in the right direction of what I'm doing wrong? If you need any more information I would be able to provide more

[2020-11-05 19:23] #7114 closed

[2020-11-05 19:27] mchitson opened #7125 "Datastore finding the latest record of each userId scenario"
hello i have a question about Datastore and syncing to/from the cloud:
i have this scenario:
i have 100s of users
and my app needs to know the latest status of each user
and the status is updated pretty frequently, meaning we can have up to 100s of status for each user
i need to find latest for each on loading my app
i was reading that datastore sync's only 100 items and paginates up to a 1000 ite

[2020-11-05 19:32] mchitson opened #7126 "Datastore connection close/timeout disconnect"
Hello am reading in various places that datastore with appsync as backend is supposed to recover subscriptions when a device goes offline.
In the case of the device on which my web app is running goes offline for more than 5 minutes (> Keep alive connection), appsync subscription has a timeout disconnect. Does datastore try to restore the connection in that case? If not, is there away to have data

[2020-11-05 20:19] iartemiev commented on #7125
Hey @mchitson, by default DataStore syncs down 10,000 items per model with a page size of 1000. This means that if the DynamoDB table for your model contains 10k items, the base sync will execute 10 queries, each returning 1k items, with which it will populate the local store.

You can override those values by using `DataStore.configure`:
[code]

If you're using authorization in your app, e.g. [ow

[2020-11-05 21:21] mchitson commented on #7125
Hi Ivan

Thanks. However unless am missing something, this does not answer my question as to how do I guarantee that I can get the latest updated status for every userId in the db via query? I won’t know if setting the maxRecord to 30k is sufficient. I tried to use the default id (key) so that I have only one row per unique id of the status (I just update on same id each time), but I am not able t

[2020-11-06 00:42] sw-yx opened #7127 "[Bug? DX issue?] DataStore opaquely coerces my NonNull field to Null and silently fails without error"
**Describe the bug**

<details>
<summary>

My `schema.graphql`:

</summary>

[code]

</details>

Here is what i am trying to do:

[code]

Yet when I run this code it does not error, does not save this to AppSync/DynamoDB, and logs this warning in the browser:

[code]

the full response is `{"data":null,"errors":[{"path":null,"locations":[{"line":1,"column":20,"sourceName":null}],"message":"Variabl

[2020-11-06 01:12] iartemiev commented on #7125
If I understand your question correctly, you can query userStatus by the `userId` and sort by `time`:
[code]

You are correct that you cannot set your own id field in DataStore at the moment.

[2020-11-06 01:32] nubpro commented on #7126
As soon as your device suffered a short period internet connection (lets say 1 second), the subscriptions will break immediately.

However, PubSub will only detect this 5 minutes later. Timeout disconnect will be thrown and DataStore will attempt to recover the subscriptions.

https://github.com/aws-amplify/amplify-js/blob/8b3183f4d2ec7289044e2b6700e3ff4df3f98ce4/packages/datastore/src/sync/index.

[2020-11-06 01:35] mchitson commented on #7125
But this operates against the local query? Will this work if I have userId’s that have not been loading in the first 30k items?

[2020-11-06 01:35] renanwilliam commented on #7098
I have the same error here but can't fix it. Any updates?

[2020-11-06 01:41] amhinson commented on #7098
@renanwilliam could you provide what you've tried from this issue?

[2020-11-06 01:45] iartemiev commented on #7125
Yes, all DataStore operations are performed against the local store. You can set the `maxRecordsToSync` value higher than 30k.
Alternatively, if you'd like to query AppSync directly, you can access this model using the API category instead of DataStore.

[2020-11-06 02:07] Benzer1406 commented on #7098
Just to correct one thing, I actually had to leave the 'global.crypto = requiere('crypto-JS'); on top for it to work.

[2020-11-06 03:03] mchitson commented on #7125
Thanks. I wanted to use Datastore because it has a better resilience when there’s spotty internet and a device goes offline often. I found a work around where I query the datastore with my userId and then update against the id from the returned object so it keeps only 1 record per userId. Not ideal but it works.

I have another question though, I am also subscribing to events and want to receive u

[2020-11-06 03:09] #6739 closed

[2020-11-06 03:36] Jason-Reich commented on #5298
@helloanil What did you use to "tell" AmplifyButton what it is supposed to do? For example, I'm using
`<AmplifyFormSection slot="sign-up">` and
[code]

[2020-11-06 03:37] mchitson commented on #7125
Sync Expresion am using:

import { DataStore, SortDirection, syncExpression } from "@aws-amplify/datastore";
DataStore.configure({
  syncExpressions: [
    syncExpression(Events,  (c) => eventId('eq', '95596167100'))
  ]
});

Doesn’t seem to filter either queries or subscriptions

[2020-11-06 03:51] iartemiev commented on #7125
You can use DataStore and API together if needed. E.g., you can use DataStore for models that you'd like to persist locally and API for others.

The sync expression applies predicates to the sync query that populates the local store. If you already have data in your local store you should clear it first with `DataStore.clear()`.

[2020-11-06 03:53] paragbaxi commented on #6555
@ericclemmons , my apologies, I don't have it as I ended up going the HoC route and calling appsync via the client side (on Next.js). If I run into it again, I'll paste it here.

[2020-11-06 03:55] danrivett commented on #5793
@Ashish-Nanda I know this ticket has been closed but we only just attempted to mock out `AsyncStorage` as we had a number of existing tests which mocked out `DataStore` itself and didn't have the time to refactor them until now.

We've run into 2 problems so far that I was hoping you would be able to comment on. I'm quoting from one of the developers on my team who worked on this story:

storeName

[2020-11-06 04:29] nubpro commented on #7125
Side track, wouldn't calling `DataStore.clear()` remove any pending mutations still in the outbox?

[2020-11-06 04:52] wlee221 commented on #7076
Hi @joelworsham, sorry about the delayed response. Unfortunately, we were not able to reproduce this issue. To reproduce, I created a react native app with expo ([repo](https://github.com/wlee221/amplify-react-native-auth/tree/7076-storage-authRole)) with the following CLI commands:

<details>
  <summary><code>amplify add auth</code></summary>

[code]

</details>

<details>
  <summary><code>amplif

[2020-11-06 04:52] wlee221 commented on #7076
Can you verify that this issues is still persisting with the latest amplify? Please try a fresh install of latest amplify and a singular import of (aws-amplify instead of modular imports).

If it doesn't work, I suggest you try recreating the backend (amplify delete then amplify add storage) or on a new sample app if your backend is populated with important files. If it still doesn't resolve the i

[2020-11-06 05:04] wlee221 commented on #7052
Hi, I investigated a bit further. Lambda works as expected and adds the `Admins` groups upon account creation. But `Storage.list` fails with 403 although `Admins` have proper permission in `storage-params.json`:
[code]
I'll transfer this issue to `amplify-cli` as this seems to be a bug in provisioning proper IAM access. If it helps, I have the reproduction repo at [link](https://github.com/aws-amp

[2020-11-06 10:27] mchitson commented on #7125
So it’s not possible currently to just subscribe to a particular value of an attribute via datastore ? (Subscribing to just id does not work for my current use case). Could we please have subscription filtering with datastore as we have with current appsync ?

[2020-11-06 11:33] renanwilliam commented on #7098
I've tried install `latest` tag and insert `global.crypto = require('crypto')` at the top.
I'm using typescript with the code bellow:
[code]

It was working before, stopped after update from 4.4.0 to 4.5.3

[2020-11-06 13:29] DavidGolodetsky commented on #5885
I have the same issue. @joebernard did you get any response? Or maybe you found a workaround?

[2020-11-06 13:34] mchitson commented on #7125
Hey Ivan

So i tried your suggestion and am using datastore for subscriptions that i need persisting and then direct graphql API for subscriptions that i don't need persisting and pass in a parameter (eventId) to subscribe to just that eventId. however it seems my app is still getting packets related to other events even tho i receive on the call back only the eventId. i don't really want the app

[2020-11-06 13:46] mchitson commented on #7125
Here are some debug messages for above issue:

The message below seems to imply that i am subscribing only to subscriptions for meetingId 95596167100:

DEBUG] 25:11.835 AWSAppSyncRealTimeProvider - subscription ready for {"query":"subscription onCreateEvents($meetingId: String) {\n  onCreateEvents(meetingId: $meetingId) {\n    id\n    meetingId\n    createdAt\n    event\n    data\n    _version\n

[2020-11-06 14:08] iartemiev commented on #7125
API and DataStore function independently. If you're passing a parameter to a subscription you're initiating with the API category, that's not going to apply to DataStore subscriptions.

You can turn off syncing for that model completely by setting the `syncable` property to `false` for that model in ./models/schema.js. You will need to do that each time after running `amplify codegen models`. In t

[2020-11-06 14:12] mchitson commented on #7125
So then why am I still getting subscriptions for other id’s that I did not subscribe for? (Am using subscription to API). Is sync the issue there (I would imagine not)?
My schema is as follows and yet am still receiving subscriptions for other ids. Can I have an answer specific to this issue please? Thank you. See the debug messages I sent earlier.

export const onCreateEvents = /* GraphQL */ `

[2020-11-06 14:14] kris-sum commented on #7123
I was experiencing the exact same problem, after a login onAuthUIStateChange never gets triggered. But it's working on a deployed version of the site I published earlier this week.

Figured it was a problem in the amplify library so I updated the components to the latest version and now I get
[code]

[2020-11-06 14:17] iartemiev commented on #7125
As I tried to explain in my last comment, if this model is also being synced by DataStore, then by default, you will see all subscriptions coming in.

[2020-11-06 14:24] nubpro commented on #6534
Is this feature request dead in the water?

[2020-11-06 14:29] amhinson commented on #7098
@renanwilliam can you share more about your app and some reproduction steps? If possible, a small sample repo that we could run to replicate the issue you're seeing would be ideal.

[2020-11-06 14:55] mchitson commented on #7125
Ah ok, turning off sync for that particular model worked, now I get only what I subscribed for. Thanks!

To continue with this thread though, would it be possible to have the datastore observe also filter on the backend side, rather than getting all subscriptions and the sync filtering only on the client side to the datastore? Just from a latency and network capacity point of view. The client side

[2020-11-06 15:09] sw-yx commented on #6534
imo, no - @mauerbac do you mind reopening this? the documentation was only one small part. the developer experience is still not good enough if we are asking people to listen to `Hub` for such a basic item. i think you and i are agreed on that, remains to be seen if the maintainers agree.

[2020-11-06 15:14] iartemiev commented on #7125
Nice! Glad that's working.

I'm definitely happy to look into that. Off the top of my head, when developers specify sync expressions that use the `eq` operator, we should be able to pass that to the subscription as a subscription argument. Any additional filters would still need to be applied clientside, since AppSync currently does not support filters.

Here's an example of how this could work.

[2020-11-06 15:19] mchitson commented on #7125
Yes that would work! So just to make sure I understand only subscriptions belonging to ’some-value’ will come down the network to the app. Then datastore applies the additional filter createdAt(‘gt’, ‘2020-11-01’)? I think that works!

[2020-11-06 15:23] iartemiev commented on #7125
Yep, that's exactly right.

I'm going to mark this as a feature request and will work on adding this functionality in the near future.

[2020-11-06 15:57] mchitson commented on #7125
Great! Thanks Ivan! Where should I look to see when this feature comes online ?

[2020-11-06 16:05] liorix opened #7130 "multiple-authorization-rules not auto populating model field correctly"
I followed the documentation from this article:
https://docs.amplify.aws/cli/graphql-transformer/auth#multiple-authorization-rules

I created the following schema:
[code]

Then I went to the graphql explorer on my local machine (using amplify mock) and run:
[code]

The expected result was according to the documentation:

[code]

Actual Result:
[code]

As you can see, the owner field is auto-popula

[2020-11-06 16:15] iartemiev commented on #7125
We will post any developments for the feature in this issue

[2020-11-06 16:22] #7124 closed

[2020-11-06 16:26] mchitson commented on #7125
Fantastic! Thank you very much !! And thanks for the help and patience!

[2020-11-06 16:52] amhinson commented on #7113
@hmisonne A few questions:
- Could you share your `Amplify.configure()` as well as `aws-exports.js` with any sensitive data removed?
- Does this error go away if you remove DataStore, but continue to use Auth?

[2020-11-06 17:01] padil opened #7131 "Method updateEndpoint in Analytics/PushNotification not work receive 403 forever"
**PushNotification method updateEndpoint**
updateEndpoint received 403 and I already fixed the aws policy and still giving this error

**To Reproduce**
To reproduce just start the application that the app will try to update the AddressEndpoint of Address and will give error.

**Expected behavior**
To be able to do the updateEndpoint and after that to be able to fire Push to the application

**Code

[2020-11-06 17:03] lmend22 opened #7132 "After sign-in with AmplifyAuthenticator the page goes black and app does not render until page is refresh"
**Describe the bug**
When my app starts for the first time after my sign-in with AmplifyAuthenticator, My pages go completely black and nothing happens but If I refresh the page, then the app triggers and works properly but I have to refresh first in order to work.  One thing I notice is that the app componentDidMount function is being invoked before sign-in.

**To Reproduce**
N/A

**Expected beha

[2020-11-06 17:11] ericclemmons commented on #6555
@janhesters Were you able to resolve the login flow issue?  Based on the discussions before, our pre-built authenticator would've been used to validating that the backend/frontend are configured correctly.  With that validated, then the solution would be in the implementation (e.g. calling `Auth. completeNewPassword` after `Auth.signIn`).

[2020-11-06 17:29] Ladvace commented on #7098
Unfortunally I'm experiencing the same error, I tried setting crypto to the top, I tried settings
` "resolutions": {
    "crypto-js": "3.1.9-1"
  }` in the package.json but all these solutions didn't work for me

[2020-11-06 17:30] Ladvace commented on #7098
these are my depencies in the package.json if it could be usefull :
`  "dependencies": {
    "aws-amplify": "^3.3.7",
    "aws-sdk": "^2.786.0",
    "body-parser": "^1.19.0",
    "compression": "^1.7.4",
    "cors": "^2.8.5",
    "express": "^4.17.1",
    "express-fileupload": "^1.2.0",
    "morgan": "^1.10.0",
    "node-fetch": "^2.6.1",
    "resource-router-middleware": "^0.7.0",
    "ulid": "^2

[2020-11-06 17:32] amhinson commented on #7098
@Ladvace Could you share more about your app and reproduction steps? Also, you shouldn't need to add any `resolutions` anymore.

Can you make sure you have `global.crypto = require('crypto')` at the very top of your file before any imports?

[2020-11-06 17:34] amhinson commented on #7113
@hmisonne If you remove datastore (temporarily) from your JS code, are you still seeing the errors?

[2020-11-06 17:39] Ladvace commented on #7098
I already have `global.crypto = require('crypto')`.
I do nothing more than this:
`
    const signInRes = await signIn(username, password);
    return res.send(signInRes);
`

[2020-11-06 17:44] amhinson commented on #7098
@Ladvace Would you be able to share a small example repo that shows the behavior you're seeing? I've really been trying hard to replicate the issues you are seeing, but there are just just many different factors that might be contributing to the problem.

[2020-11-06 17:48] hmisonne commented on #7113
@amhinson, if I am just rendering a simple app without Datastore :

[code]
I do not have any errors.

[2020-11-06 17:49] Ladvace commented on #7098
I hope this will be fine: https://pastebin.com/MYxyuMHk

[2020-11-06 17:51] locnesse commented on #4257
im getting this do any one have solution for this

"Property 'data' does not exist on type 'GraphQLResult<object> | Observable<object>'.\n  Property 'data' does not exist on type 'Observable<object>'.",
code:
if(userInfo) {
      // Check if user already exists in database
      const userData = await API.graphql(graphqlOperation(getUser, {id: userInfo.attributes.sub}));
      console.log (userDat

[2020-11-06 18:03] amhinson commented on #7098
@Ladvace Thank you, that will help a lot! Is this just a standard Express app?

[2020-11-06 18:10] malcomm commented on #3661
+1 for this. My use case is to verify the user via a password challenge before they can sign a document. (this is also post-authentication)

[2020-11-06 18:11] Ladvace commented on #7098
yes. the ` api.get ` you see in the pastebin it's just an express router.

`let api = Router();`

[2020-11-06 18:24] thisismydesign commented on #7123
@kris-sum Did you managed to figure out which config prop is missing?

[2020-11-06 18:28] EliasCoelho commented on #7120
Hi @iartemiev , we are working with two frontend project, one react app and other for mobile. In the mobile frontend react-native we are having problem with an error exception that database or disk is full. Do you know about a fix for this? We have a product table with more than 5000 items, when DataStore is loading in first time is broken and reject promise.

[2020-11-06 19:17] joebernard commented on #5885
@DavidGolodetsky No, I never received a response. It's a major blocker for us.

@amhinson Do you have any recommendations for promoting this issue beyond posting in the forums?

[2020-11-06 19:49] mauerbac commented on #5579
Thank you @wei ! As Wei mentions, that is the expected behavior. If you have further questions, please open a discussion or join our Discord (discord.gg/amplify) !

[2020-11-06 19:49] #5579 closed

[2020-11-06 19:52] hmisonne commented on #7113
After spending some time to debug, it looks like this error is only occurring while running the project locally on a **Windows Operating System**.

This error is not showing on Android Emulator, or Ubuntu.

Thanks again for your help @amhinson :smiley_cat:

[2020-11-06 19:58] kris-sum commented on #7123
@thisismydesign I cleared my node_modules directory, cleaned up my package JSON and reinstalled everything and it magically started working...

From what I can tell, for some reason one of the Auth libraries was loading from inside amplify/ui-components's node_modules directory, so it was getting instantiated with no configuration data.

[2020-11-06 20:14] mauerbac opened #7133 "Storage Enhancement: provide pagination for returning records"
**Problem**
A customer (https://github.com/aws-amplify/amplify-js/discussions/7084) found that S3 will return only 1000 records via the list API. While this is true there are options that we can add to our S3 Provider in order to get the NextKeyMarker from S3 when the data IsTruncated. Reference to the S3 SDK (https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#listObjects-property)

*

[2020-11-06 20:31] mlxyz opened #7134 "Clear items from DataStore which are no longer included in selective sync expression"
**Is your feature request related to a problem? Please describe.**
When applying a more restrictive selective sync expression for DataStore, the existing content of the local storage is retained (see https://docs.amplify.aws/lib/datastore/sync/q/platform/js#reevaluate-expressions-at-runtime).
In our application, a portion of data items we sync with DataStore is newly generated every day and the sy

[2020-11-06 21:20] amhinson commented on #7120
@xsmcemmons Were you able to try the suggestion [here](https://github.com/aws-amplify/amplify-js/issues/5584#issuecomment-620185775) to increase the size of of storage for Android?

@EliasCoelho Can you try the suggestion above as well? Also, are you seeing this behavior only on Android, or for iOS as well?

[2020-11-06 21:29] mchitson opened #7137 "ConsoleLogger.ts:99 [WARN] 25:02.663 DataStore - Data won't be synchronized. No GraphQL endpoint configured. Did you forget `Amplify.configure(awsconfig)`?"
Hi out of the blue am getting this warning:

ConsoleLogger.ts:99 [WARN] 25:02.663 DataStore - Data won't be synchronized. No GraphQL endpoint configured. Did you forget `Amplify.configure(awsconfig)`? {config: {…}}

am using IAM for the appsync/datastore and configuring this way:

Amplify.configure({
  Auth: {
    identityPoolId: awsconfig.aws_cognito_identity_pool_id,
    region: awsconfig.aws_co

[2020-11-06 22:18] zach-lum-fm commented on #4468
Also would love this!

[2020-11-06 22:30] xsmcemmons commented on #7120
It seems that solution is working for me now.. I created a build on my dev env and is not giving me an error.... I'm going to create a build for internal user test to see if everything is working..

[2020-11-06 22:58] amhinson commented on #7120
Ok great! Just let me know if anything else comes up.

[2020-11-06 23:43] xsmcemmons commented on #7120
I build my app on QAS but it didn't work, it fails silently and never gets to the ready event.

Several users reported the same problem.

The data that we use across enviroments are the same for DEV and QAS

[2020-11-06 23:45] amhinson commented on #7120
Is that for iOS, Android, or both?

[2020-11-06 23:48] xsmcemmons commented on #7120
I build it on Android. My properties file is like this:

![image](https://user-images.githubusercontent.com/63744088/98424707-4f5fbe00-2071-11eb-8690-c2ce5c62f9f2.png)

[2020-11-06 23:49] xsmcemmons commented on #7120
I don't have an iOS phone right now to test it out, but in the documentation, the 6MB limit is only applied for Android

[2020-11-06 23:51] amhinson commented on #7120
I don't think that property will work for DataStore right now because we are just using `AsyncStorage` from `react-native` and not `@react-native-async-storage/async-storage`. Can you try the solution mentioned in the [Stack Overflow answer](https://stackoverflow.com/questions/32875726/how-large-is-asyncstorage-in-react-native/57013148#57013148) regarding adding code to `onCreate` in `MainApplicat

[2020-11-06 23:52] amhinson commented on #7098
Thanks again for the reproduction sample @Ladvace! I have made a small adjustment in this [PR](https://github.com/aws-amplify/amplify-js/pull/7136) that should fix the behavior you're seeing. It is available to use now with the `unstable` tag, and we will likely have a release to `latest` next week.

Can you verify that `unstable` works for you?

Also, with that fix, it is no longer required to ad

[2020-11-07 00:01] xsmcemmons commented on #7120
Ok, let me test it out.. this is my file now.

![image](https://user-images.githubusercontent.com/63744088/98425257-3f48de00-2073-11eb-8764-0a1753b8eac4.png)

[2020-11-07 01:45] xsmcemmons commented on #7120
No, it didn't work on QAS, this is my output:

[output.txt](https://github.com/aws-amplify/amplify-js/files/5504128/output.txt)

[2020-11-07 03:38] #7137 closed

[2020-11-07 03:40] sw-yx commented on #7137
what was the fix?

[2020-11-07 03:56] mchitson opened #7138 "Datastore send a lot of replayed subscriptions on start up"
Hello

I am having a lot of issues with DataStore:
1. When i login into my website, for some odd reason i get a whole bunch of subscriptions that had already happened before (my app did not miss them by being offline or otherwise). Why does this happen and can we turn this off? Because it's confusing and comes out of order as well.
2. I am trying SyncExpressions, as Ivan suggested before and i tho

[2020-11-07 04:41] mchitson commented on #7138
secondly if i set one model to             "syncable": false,
as per Ivan's earlier recommendation, it seems ALL modals are affected and do not return subscriptions to the app even though i can see the packets arriving.

[2020-11-07 06:33] #7080 closed

[2020-11-07 06:33] #7086 closed

[2020-11-07 06:33] #7065 closed

[2020-11-07 07:18] flyandi commented on #5435
This is awesome but the question is now, how do I use amplifyhosting to enable SSR? :-)

[2020-11-07 07:41] bn0 commented on #4534
Anyone coming from _Serverless React with AWS Amplify - The Complete Guide_ and is stuck on _Chapter 15.4: Subscribing to Product Mutations_: The subscription expects a user ID, so you can fix each subscription in a similar vein to the solutions above, by setting _owner_ to user ID for each listener:

[code]

[2020-11-07 07:53] SNagappan opened #7139 "userPool.getCurrentUser().username returns alias instead of username for custom auth"
I experienced the exact same bug on the iOS SDK which I filed here: https://github.com/aws-amplify/aws-sdk-ios/issues/3194

Workflow:
I implemented custom auth using use case #25 located here: https://github.com/aws-amplify/amplify-js/tree/master/packages/amazon-cognito-identity-js. On the backend, authentication is done through the define/create/verify lambda triggers in cognito. The registration

[2020-11-07 09:08] ianmartorell commented on #5435
@flyandi That's tracked in this issue: https://github.com/aws-amplify/amplify-console/issues/412

[2020-11-07 09:23] Zulfin-Skyward commented on #4886
"amazon-cognito-identity-js": "^4.4.0",
"aws-amplify": "^3.3.7",
"crypto-js": "^3.2.1"

and adding global.crypto = require('crypto') on top of my main.ts worked for me

[2020-11-07 12:02] Ladvace commented on #7098
sry if I ask that, to download the unstable i need to do packagename@unstable?

[2020-11-07 12:09] Ladvace commented on #7098
ok, fixed!, thanks so much

[2020-11-07 12:34] thisismydesign commented on #7123
Thanks! After updating all the aws dependencies the issue went away. I did remove node_modules and re-install dependencies before as a last resort but that by itself didn't work. My current env:

<details>
  <summary><strong>Environment</strong></summary>

[code]

</details>

[2020-11-07 13:44] mchitson commented on #7138
One more issue, when i don't explicitly subscribe to a model i.e i don't call Datastore.observe(...) i STILL see packets coming down the wire for that model. How can that be? surely if we're not subscribing to a model we shouldn't get subscriptions for it? (even if not sync'ed to datastore).

[2020-11-07 18:12] jeanniesarah commented on #2714
+1

[2020-11-07 20:06] rpostulart opened #7140 "Datastore - Constructor is not for a valid model, object {"modelconstructor": """
When you don't start you schema models with a capital you will end up with these errors when using aws amplify datastore

`Datastore - Constructor is not for a valid model, object {"modelconstructor": ""}`

[2020-11-07 22:31] FOMSON commented on #4636
Same here...

One way to overcome the problem is by dynamically switching **authMode** like this:

[code]

Where `isAuthenticated` is the state of the current user.

**And** have rules like that

[code]

This works... But I can't figure out why "groups" based rules aren't working with `@auth(rules: [{allow: private, provider: iam}])`

[2020-11-07 23:49] Benzer1406 opened #7141 "Local storage is missing an ID Token, Please authenticate - Backend implementation"
I use `aws-cognito-identity-js` in a backend with lambda functions and api gateway. I basically want to manage the authentication in my own backend through lambda functions (I'm not doing it in the frontend app).

I could successfully implement methods like `login`, `signUp`, `verifyUser`,.

But when trying to use `changePassword` I have the challenge that the user is not authenticated because eve

[2020-11-08 00:01] reggie3 opened #7142 "Lerna Error When Building"
**Describe the bug**
After following the steps in `CONTRIBUTING.md` for building the repo:

[code]

I receive the following error when I try to run the `yarn build` command:
![image](https://user-images.githubusercontent.com/7347192/98453709-45e65c80-212a-11eb-8a78-d8eb129dd001.png)

**To Reproduce**
Steps to reproduce the behavior:

Follow the build steps listed in `CONTRIBUTING.md`

[code]

The

[2020-11-08 00:47] rmjwilbur commented on #61
Thanks @ajhool - I needed this to get by the error: "AWSS3ProviderManagedUpload - error happened while finishing the upload. Cancelling the multipart upload Error: Request failed with status code 400"

After around 5 MB, it seems like Amplify uses multipart uploads which fail.

[2020-11-08 03:15] wei commented on #6930
It is mostly likely caused by mismatching versions between the ui-components and `aws-amplify` package.

Please install the latest using
[code]
and it should work fine. @vikasmca05 please let us know if this resolves your issue. Thank you!

[2020-11-08 09:50] kirkryan opened #7143 "Apple rejecting Cognito apps using Social Web UI Sign In - Sign In with Apple via Safari is not supported"
**Describe the bug**
Starting last week, Apple is now rejecting any app that is using the current Social Web UI Sign In process for "Sign In with Apple"

**To Reproduce**
Use the default instructions for Social Web UI Sign In - Sign In with Apple.

![image](https://user-images.githubusercontent.com/18603029/98461777-ef6b3380-21a6-11eb-8d12-ef9493c97a7f.png)

**Expected behavior**
Apple are now exp

[2020-11-08 12:11] wei commented on #7127
I can reproduce.

I believe this is the exact same issue as mentioned in https://github.com/aws-amplify/amplify-js/issues/5161 However, that issue does not seem to have a clear solution posted.

---

With your code, I can reproduce the same `"Variable 'input' has coerced Null value for NonNull type 'ID!'"` error when adding a list and it can be traced to:

https://github.com/aws-amplify/amplify-js

[2020-11-08 12:34] ncolboc commented on #6752
@sammartinez If this feature has been released, could you provide us a sample about how to use it? I also try to find a way to apply custom style on auth components (according to my theme site) without needed to re-create my own auth components.
thanks in advance for your help.

[2020-11-08 13:33] wei commented on #5161
Hi @waltermvp , I followed your example (minor changes to make it work) at [wei/amplify-js-5161](https://github.com/wei/amplify-js-5161), it looks like I can access `table.event` but not `event.tables` because the example code did not set `event.tables = [tableSAve]`.

Is it supposed to auto link them both ways? Thanks for your insight.

[2020-11-08 13:55] mchitson commented on #7138
Also one more thing, the Events DB is populated by a lambda webhook listener that saves the events via AppSync API directly. Is this why datastore is confused by those events that had been added a while ago? It sends OPTYPE update.

[2020-11-08 14:33] mchitson opened #7144 "Datastore SyncExpressions - i do not get any subsequent subscriptions"
Hi i am trying to use SyncExpressions to only sync subscriptions that i need, for eg by EventId. I have 2 models, when i do:

DataStore.configure({
        syncExpressions: [
          syncExpression(Events, () => {
            return (c) => c.meetingId('eq', meetingId)
          })
        ]
      });

I get some previous missed out sync's:

[DEBUG] 23:30.34 Hub - Dispatching to datastore with  {

[2020-11-08 14:44] mchitson commented on #7144
And just to be clear mutations on either models doesn't seem to leave the local store either. this is becoming extremely frustrating right now.

[2020-11-08 14:49] mchitson commented on #7144
correction i am able to continue mutating and getting subscriptions on the model with no SyncExpressions. however for the one with syncexpression i no longer seem to be a able to sync anything to/from the cloud

[2020-11-08 15:26] IamManchanda commented on #6756
Thanks @csbszb it works for me atleast settings it up

Looking at https://github.com/aws-amplify/amplify-js/blob/main/packages/amplify-ui-vue/src/index.ts and https://v3.vuejs.org/guide/migration/global-api.html#config-productiontip-removed I feel that your solution should be correct ... will let you guys know if I am still stucked :)

[2020-11-08 16:31] wei commented on #7133
Customers can already specify `maxKeys` as a config option which gives them flexibility of returning less than 1000 records if they wish, I say we don't automatically while loop over the whole s3 bucket based on `IsTruncated` as it has a few disadvantages.

Instead, we can add `marker` as an option [here](https://github.com/aws-amplify/amplify-js/blob/5173a9911096627ce1b45067808af249668b260b/packa

[2020-11-08 16:45] wei commented on #7133
/cc @sammartinez from #7084

[2020-11-08 17:10] mchitson commented on #7144
more problems, when i logout and login as different user, am getting this issue:

DOMException: Failed to execute 'transaction' on 'IDBDatabase': The database connection is closing.

???????

[2020-11-08 17:40] gvb26 commented on #7026
**UPDATE**

After doing a deep dive into the issue, the problem originates from some change in AWS that requires SNS users to request a long a dedicated long code (Phone number to send messages) in the AWS Pinpoint SMS Settings Dashboard. This, this along with increasing your spending limit will ensure that all SNS messages will now be received by your users. The cost of the long code is $1.

This

[2020-11-08 17:40] #7026 closed

[2020-11-08 17:42] gvb26 commented on #5367
@nikola116 I have found a solution to the issue. [Check it out](https://github.com/aws-amplify/amplify-js/issues/7026#issuecomment-723642320)

[2020-11-08 18:03] sw-yx commented on #7127
i'm super grateful that you spent the time to repro!!!

1. yes, i would expect DataStore to populate that for me - notice that it does so for `list.board` but not `list.cards`... thats a separate issue i ran into that was a dealbreaker for me :(
2. i HATE silent errors with a passion. logging a warn isn't good enough for me imo, i would actually throw an error. why do we automatically downgrade er

[2020-11-08 18:10] wei commented on #7127
Sure thing!

RE (1): Could you start fresh with a new clone and new amplify env, it's not populating `list.board` for me. It actually throws an error.

and RE (2): I did notice many if not all data sync errors show up as warnings, will need to defer to datastore maintainer for the reasoning behind that.

[2020-11-08 19:07] reggie3 commented on #7142
Additionally, Lerna experiences a different error when I attempt to build it directly in Windows without using WSL.

[code]

[2020-11-08 19:15] wei commented on #7127
RE (1): Check out #6973 ; ) I guess it's just not possible right now. For the time being you can use my repo which is using what's currently possible with datastore to create trelloamplify.

[2020-11-08 19:16] Benzer1406 commented on #1853
Still having the same issue.

[2020-11-08 21:27] mchitson commented on #7144
Just to be clear this is when am trying to do a syncExpression at runtime. Datastore does not seem to pick up the change

[2020-11-08 21:36] wei commented on #6693
I tried to reproduce in both
 - React: https://github.com/wei/amplify-js-6693-react
 - React Native iOS: https://github.com/wei/amplify-js-6693-reactnative

and they both worked just fine. Could you pull down my project and check on your end? or provide a minimal reproducable example like the ones I have with latest cli and npm package versions? Thank you!

[2020-11-08 21:36] wei commented on #7095
I tried to reproduce in both
 - React: https://github.com/wei/amplify-js-6693-react
 - React Native iOS: https://github.com/wei/amplify-js-6693-reactnative

and they both worked just fine. Could you pull down my project and check on your end? or provide a minimal reproducible example like the ones I have with latest cli and npm package versions? Thank you!

[2020-11-08 22:11] wei commented on #7102
@ArthurAmes You didn't specify which framework so I tested on React. Could not reproduce, I am able to receive a signIn event after password change.

Please try starting fresh with the latest packages.
[code]

![image](https://user-images.githubusercontent.com/5880908/98485553-468ff900-21e5-11eb-9be6-20b0576392fc.png)

![image](https://user-images.githubusercontent.com/5880908/98485186-81446200-21

[2020-11-08 22:40] mchitson commented on #7144
it is also quite ridiculous if i am not subscribing via observe to a model,  i still get my datastore populated!!! this is a disaster.

[2020-11-08 23:29] mchitson commented on #7125
Hey Ivan

Sorry i posted a few things on github, to reprise this thread, i set one model to syncable:false and just do the subscription directly via API. It seems however it is now less resilient than if i didn't use a hybrid datastore and direct API, it seems if i turn off my wifi to test offline, datastore seems to cause all websockets to close. When i turn back online, the datastore model recov

[2020-11-09 00:59] cbschuld commented on #7098
@amhinson  - I too can confirm "unstable" with *no* additional `require` works.  Thanks for the fix & the unstable push.

[2020-11-09 02:10] renanwilliam commented on #7098
Here works too.

[2020-11-09 03:34] acomagu commented on #6153
I added `dom` to `lib` field in tsconfig.json, then it was fixed.

[2020-11-09 13:14] Zilvinaskli commented on #7095
I'm not even using a react just standard javascript library and my app is in Vue. I'll try to create a reproducible repository it might be related to larger filers or something different.

[2020-11-09 13:38] Eisman111 opened #7149 "Amazon Cognito Hosted UI - Merge users from different providers on registration"
**Which Category is your question related to?**
Authentication

**What AWS Services are you utilizing?**
Amazon Cognito Hosted UI

**Is your feature request related to a problem? Please describe.**
Our app use the Amazon Cognito Hosted UI configured to handle Authentication by email and social (facebook and google). When a user is registered with a social and then try to register with facebook or

[2020-11-09 13:50] sw-yx commented on #7127
appreciate the superfast feedback!! so i guess the remaining question is:

1. is there a bug or is it working "as intended" for now?
2. there is definitely a DX issue we could discuss around whether errors should be errors, or errors should be warnings, when using AppSync.

[2020-11-09 14:11] ohlr commented on #5435
One question regarding [the blog](https://docs.amplify.aws/start/getting-started/data-model/q/integration/next)

It suggests using api-keys to build the app statically. If I do that, my builds stop working as soon the key expires (after 7 days).

Is there any solution to this? @ericclemmons

[2020-11-09 14:24] mchitson opened #7150 "Datastore gets into an inconsistent state when browser history refreshed."
I am getting this error when browser history refreshed. this is something that's bound to happen pretty frequently and am getting this error:

Unhandled Rejection (NotFoundError): Failed to execute 'transaction' on 'IDBDatabase': One of the specified object stores was not found.

Why doesn't datastore recover from there? Events doesn't help because it only tells me if the datastore is ready not wh

[2020-11-09 15:39] kirkryan commented on #7143
Closing - We directed the developers towards using the suggested in-app browser here (https://docs.amplify.aws/lib/auth/social/q/platform/js#deploying-to-amplify-console). Thanks, AWS amplify team!

[2020-11-09 15:39] #7143 closed

[2020-11-09 16:36] AntonioAngelino commented on #3391
I've opened a [Pull Request](https://github.com/aws-amplify/amplify-js/pull/5513) to add more config options for the redirect, but it hasn't been merged yet.

[2020-11-09 17:16] mchitson commented on #7150
this is a more detailed error:

Unhandled Rejection (InvalidStateError): Failed to execute 'transaction' on 'IDBDatabase': The database connection is closing.
▼ 8 stack frames were expanded.
(anonymous function)
node_modules/idb/build/esm/wrap-idb-value.js:150
_callee$
node_modules/idb/build/esm/index.js:65
tryCatch
node_modules/regenerator-runtime/runtime.js:45
invoke
node_modules/regenerator-run

[2020-11-09 17:37] amhinson commented on #7120
@xsmcemmons You mentioned in the original issue that you are running this on the Expo client. Is that still correct?

[2020-11-09 17:38] CryogenicPlanet commented on #7131
@padil Can you please attach your full enviornment, you just attached the command without adding the result of that command

[2020-11-09 17:43] padil commented on #7131
udpate ;)

[2020-11-09 17:45] CryogenicPlanet commented on #7131
@padil It would also be great if you could just drop a link to a minimum reproducible example like a full repo instead of just the code snippet

[2020-11-09 17:48] padil commented on #7131
@CryogenicPlanet unfortunately it is not possible to reproduce so simple, it has to be simulated on a physical device

[2020-11-09 17:52] CryogenicPlanet commented on #7131
@padil Yeah that is okay, but it would be easier for us to verify the bug if you could give us the code sample and we can simulate it on a physical device or even just steps for reproduction. Like right now I am not even sure if you are building using `expo` or not so our enviornment might cause other issues

[2020-11-09 17:54] padil commented on #7131
I'm not an expo, go up the environments

[2020-11-09 18:13] iartemiev commented on #7144
What steps are you taking to have the expression reevaluated at runtime?

[2020-11-09 18:18] iartemiev commented on #7138
Calling `DataStore.observe` is not what creates the subscriptions. It's simply the mechanism for receiving mutation notifications on the client.

DataStore relies on AppSync subscriptions to keep your local store in sync with the cloud. So it will create a subscription behind the scenes for each of your models.

[2020-11-09 18:25] iartemiev commented on #7134
Hey @mlxyz, we're currently looking into ways of accomplishing this. Will keep this issue updated with any developments!

[2020-11-09 18:38] ericclemmons commented on #5435
@ohlr For real-world apps, I also opt for IAM instead. (Originally, the tutorial used IAM but it has a few more prompts that are easy to miss)

When you run `amplify add api` or `amplify update api` and select IAM, but be sure to set the Create/Read/Update/Delete permissions correctly. You'll want the IAM account to read-only, and leave Cognito User Pools to the write/delete operations.

[2020-11-09 18:38] Anybowdy commented on #7112
I went through a lot of pb but an expo upgrade worked. Thank you

[2020-11-09 18:39] amhinson commented on #7112
Ok glad you were able to get it figured out @Anybowdy 👍

[2020-11-09 18:39] #7112 closed

[2020-11-09 18:50] mchitson commented on #7144
I do this at the start (outside any class):

let MEETING_ID = null;
DataStore.configure({
  syncExpressions: [
    syncExpression(Events, () => {
      if (MEETING_ID) {
        return (c) => c.meetingId('eq', MEETING_ID);
      }
      return Predicates.ALL;
    })
  ]
});

And then in the function just before I ’subscribe’ via observe:

 console.log('Subscribing to events.');
    try  {
      aw

[2020-11-09 18:51] mchitson commented on #7138
I think there should definitely be ability to subscribe to only one id as per what appsync does. At this point I can not use datastore as is.

[2020-11-09 18:52] CryogenicPlanet commented on #7131
@padil I think there is a bug in the code

[code]
where the channel type should be `'FCM'`, this may not be the single issue because I have still not been able to fully reproduce the bug but would recommend trying it out from your end

[2020-11-09 19:35] amhinson commented on #7054
@chantlong Do you know what previous version of `aws-amplify` was returning the data as you were expecting?

[2020-11-09 20:21] sammartinez commented on #7030
@Rajan-Gupta1 Can you fill me in as to what your use case is? I am slightly confused on the code snippets and what you are trying to do with the library. Thanks ahead of time!

[2020-11-09 20:25] sammartinez commented on #6995
@rajeshmishra189 Thanks for opening up this issue, for us to reproduce this we do need a few more things from you.

Can you provide your `package.json` along with your environment settings?

Please use the follow command:
[code]

Also, are you following a guide for setup of Okta? We do not provide any guides on Okta from Amplify JS so was curious if you can pass us the references you are looking a

[2020-11-09 20:31] sammartinez commented on #6961
@toschlog As this is related to Amazon Cognito and not Amplify specifically, we are going to close this issue. Thanks!

[2020-11-09 20:31] #6961 closed

[2020-11-09 20:42] sammartinez commented on #6922
@mezalejandro Are you still experiencing this issue with what after @Gyran has commented? Please let us know.

[2020-11-09 20:50] wei commented on #6930
@vikasmca05 replied at https://github.com/aws-amplify/amplify-js/discussions/5836#discussioncomment-125281 stating it's now working fine with a fresh install. Please close the issue.

[2020-11-09 20:51] amhinson commented on #7150
@mchitson Would you be able to provide some more reproduction steps to get the error you're seeing? I'm trying to reproduce it but I haven't come across the particular issue you're seeing so far.

[2020-11-09 20:55] amhinson commented on #7102
Yep, good catch @wei! That seems like an appropriate update to make 👍

[2020-11-09 21:04] mchitson commented on #7150
Open 2 different browsers (chrome and safari, so that one keeps it’s datastore), with mutations and subscriptions.

From one browser clear all the cache (clear history all time in safari for eg), then from the browser that was not cleared do a mutation. The subscription will cause the app with cleared cache to crash with the error above.

[2020-11-09 21:07] wei commented on #7095
Thank you, I really appreciate it. I can work on identifying the issue and finding a fix once it can be reproduced with your help.

[2020-11-09 21:18] wei commented on #7102
@amhinson Cool, opened PR at #7151.

[2020-11-09 21:18] rpostulart opened #7152 "Datastore selective sync with with logout on Expo does not clear the datastore"
I face problems with Expo when using datastore selective sync.

Seems like when calling Datastore.clear and Auth.signout and then login with a new user, set selective sync with the new user, that still data from the first user is shown.

Till when I logout, do a complete app refresh (cmnd+r) log back in and then only the right data is shown.

here is my repo: https://github.com/rpostulart/multiten

[2020-11-09 21:26] iartemiev commented on #7144
Since you're applying a more restrictive filter when going from `Predicates.ALL` (all results) to filtering on an id, you would need to use `DataStore.clear()` instead of `DataStore.stop()` to remove any existing entries. If you go with that approach, you'll also need to reestablish the subscription.

For example:
[code]

[2020-11-09 21:28] rpostulart opened #7153 "Datastore selective sync equal acts like begintWith"
When I do a syncExpression and I add this for example this ID: 63460c1c-b622-4522-95d2-fa54a051624f

[code]

It shows the data from that id.

When I add a random char behind the ID, then still that same data is synced, while when I add a random char before it shows no records as excepted.

here is my repo: https://github.com/rpostulart/multitenant

[2020-11-09 21:32] mchitson commented on #7144
What is the difference between that and the code I had? I call observe after await changeSync as per below and what I pasted:

    try  {
      await this.changeSync(meetingId);
      this.subscription = DataStore.observe(Events).subscribe(msg => {
	…...
      });
    }
    catch (e) {
      console.log("error in graphQL: ", e)
    }

[2020-11-09 21:34] iartemiev commented on #7144
That's fine. I was mainly talking about using `DataStore.clear` instead of `DataStore.stop` since you're narrowing the filter.

[2020-11-09 21:34] ericclemmons commented on #6930
Thanks for the updates @wei!  Closing...

[2020-11-09 21:34] #6930 closed

[2020-11-09 21:35] mchitson commented on #7144
That’s not solving my issue that after I do that, I do not get ANY subscriptions coming up the observe callback.

[2020-11-09 21:59] dogsonacid commented on #3925
still an issue

[2020-11-09 23:03] ohlr commented on #5435
@ericclemmons Thank you for the hint with the permissions. I previously did not configure iam as provider.
[code]

[2020-11-09 23:11] ericclemmons commented on #5435
@ohlr Of course!  I should've mentioned that or shared this link:

[2020-11-09 23:26] iartemiev commented on #7144
I've created a sample app that demonstrates this working successfully: https://github.com/iartemiev/selective-sync-sample. Could you please let me know what you are doing differently?

[Here's a video](https://www.amazon.com/clouddrive/share/OWomuadCZClrnitrK24xbXgglWeQrBrQj5mgrnqdnF5/oGWpYILGRC-2Gi1jfnwhQQ?_encoding=UTF8&*Version*=1&*entries*=0&mgh=1) of my running the app on 2 browsers side-by-s

[2020-11-10 00:21] amhinson commented on #7150
Ok thanks for the additional info @mchitson! I was able to reproduce the error you are seeing. I'm going to look more into how we can improve the error handling around indexedDB. Just curious, what is your expected outcome here in how you would want DataStore to handle this scenario? I see you are asking if DataStore can recover from this, but what do you mean by "recover"?

[2020-11-10 00:29] mchitson commented on #7150
So instead of just throwing the error and not sync’ing and simply silently not working anymore (all subsequent subscriptions queries and mutations fail), the datastore should rebuild itself and resend on first query/mutation/subscription.

[2020-11-10 00:39] amhinson commented on #7150
I'm hesitant on DataStore automatically rebuilding itself in these situations, but does it seem reasonable to bubble up any indexedDB terminations so that you would be able to call `DataStore.start()` in your code?

[2020-11-10 00:40] mchitson commented on #7150
Yes that would work.

[2020-11-10 00:45] mchitson commented on #7150
Actually how would that work in practice? Someone clears the cache, subscriptions will continue (I have no control over when next subscriptions are coming) and fail, are u sending an event as soon as the datastore is cleared?

[2020-11-10 00:52] amhinson commented on #7150
Its still just hypothetical at this point, but one possibility would be to clear the subscriptions when the db is terminated and send the event, so you could immediately restart DataStore if you wish.

[2020-11-10 01:03] ArthurAmes commented on #7102
Sorry, I was using React Native. @wei

[2020-11-10 01:39] wei commented on #7102
Hi @ArthurAmes , I tested in reactnative using expo. It is working fine for me too.

Sample repo: [link](https://github.com/wei/aws-amplify-reactnative/tree/7102) checkout branch `7102` if you'd like to try it.

![image](https://user-images.githubusercontent.com/5880908/98616212-51708980-22ca-11eb-9af9-459581cd6635.png)

It's using the latest versions
[code]

Please provide a minimal reproducible

[2020-11-10 01:39] Rajan-Gupta1 commented on #7030
@sammartinez I am wanting to manage security tokens using the following the following [ [https://docs.amplify.aws/lib/auth/manageusers/q/platform/js#managing-security-tokens](url) in an Angular App.
On integration, the code flow calls getItem() before it would have called setItem() resulting in he error provided above in Additional Context.

[2020-11-10 02:20] mchitson opened #7154 "Datastore Uncaught (in promise) Error: Connection handshake error at WebSocket.r.onclose"
Hi

Whenever i use Datastore on a PC with spotty internet connection, i get this error pretty quickly. It's tough to use Datastore like this, i thought it was supposed to help with offline/ spotty connections?

2.4566a7d0.chunk.js:2 [WARN] 40:16.12 DataStore - Sync error Connection failed: Connection handshake error
e._log @ 2.4566a7d0.chunk.js:2
e.warn @ 2.4566a7d0.chunk.js:2
error @ 2.4566a7d0.c

[2020-11-10 02:23] chantlong commented on #7054
@amhinson
Looking at the my package.json history I noticed I upgraded from

[code]

to

[code]

That may be related.

[2020-11-10 02:32] minkasu-kuppusamy commented on #7098
How to add global.crypto = require('crypto') in build file? i mean after bundling we can do it manually, how to do before bundle starts ?

[2020-11-10 03:13] nichwch commented on #3591
+1

[2020-11-10 03:26] mchitson commented on #7144
Thanks I will give it a try. The only difference is that I subscribe once after changing sync expression as opposed to initial subscribe with predicate all and then subscribe again after sync expression change.

Secondly I use amplify along with amplify/datastore. I don’t know if that’s an issue but it’s all latest versions.

[2020-11-10 03:27] mchitson commented on #7144
Also one more thing it seems on computers with spotty connection datastore falls over on handshakes.

[2020-11-10 04:40] rpostulart commented on #7154
I had the same, I believe I have removed the node modules and and .lock files and did a reinstall

[2020-11-10 05:12] wei commented on #6363
I can reproduce in React too. Repo [link](https://github.com/wei/aws-amplify-react/tree/6363) & `git checkout 6363`.

Local data/mutations seems to be working fine, it's the appsync graphql request that is returning the previous data when `_version` remains unchanged.

For example I'm sending 5 saves A B C D E: https://github.com/wei/aws-amplify-react/blob/6363/src/App.js#L21-L27

2 Appsync graphq

[2020-11-10 05:57] undefobj commented on #6363
Clients never update the version in DataStore. The consistency model is to have a central authority and therefore only AppSync updates the version. This is outlined in the [AppSync documentation](https://docs.aws.amazon.com/appsync/latest/devguide/conflict-detection-and-sync.html#conflict-detection-and-resolution) as well.

Up-leveling to the original question: If I make a local mutation, then cha

[2020-11-10 05:57] rahul-network commented on #7098
Please use the package
"amazon-cognito-identity-js": "4.3.3" instead of "amazon-cognito-identity-js": "^4.3.3"

This **^** sysmbol will always find latest version of the package and it will break if any unstable version released or any errors.

[2020-11-10 11:29] mchitson commented on #7150
What would be the ETA for this? After a lot of days of wrangling with datastore I am finding out I can’t use it for production because of those issues.

[2020-11-10 11:39] mchitson commented on #7154
i am already using the latest versions. i don't think that's the solution.

[2020-11-10 11:42] mchitson commented on #7070
i am still getting that connection closed issue happened yesterday again, barely couple of hours after my app started.

11/9/2020 10:19:12 PM Objecterror: errors: Array(1)0: {message: "Connection closed"}length: 1__proto__: Array(0)__proto__: Objectprovider: AWSAppSyncRealTimeProvider {_config: {…}, socketStatus: 0, keepAliveTimeout: 300000, subscriptionObserverMap: Map(0), promiseArray: Array(0),

[2020-11-10 12:26] mannau commented on #5623
Same issue here - any updates on this?

[2020-11-10 13:15] padil commented on #7131
tested here and continue the same thing :/

[2020-11-10 13:19] zizipoil opened #7156 "Force creation of a new websocket for subscriptions when switching between APIs"
**Is your feature request related to a problem? Please describe.**
My react client switches between 2 AppSync APIs using `Amplify.configure`
When connecting to the first API everything works: mutations are effective and subscriptions receive updates.
But if I switch to the second API only mutations will work. Subscriptions will not receive any updates.
I tracked this down to amplify keeping the we

[2020-11-10 13:24] CryogenicPlanet commented on #7131
@padil That's unfortunate. There is something you can help me out with which wasn't clear on the docs which I'll be sure to update for this was where did you get the Firebase API Key to setup amplify notifications. I couldn't find that api key anywhere on the firebase console

[2020-11-10 13:31] padil commented on #7131
generated the token via aws-amplify-cli, follow link:

https://docs.amplify.aws/cli/start/install

[2020-11-10 14:01] iartemiev commented on #7144
I would not recommend explicitly installing both `aws-amplify` and `@aws-amplify/datastore`. That can lead to conflicts between the dependencies and result in unexpected behavior.

You can still import from `@aws-amplify/datastore` if you just have `aws-amplify` installed.

Try the following:
[code]

[2020-11-10 14:38] CryogenicPlanet commented on #7131
Oh I meant where I could get the FCM api key but I found it.

For the issue to be replicated, you'd also need to provide the actually
[code]
call and what you are passing inside that. That wasn't there in the code snippet @padil

[2020-11-10 14:55] padil commented on #7131
the one who executes the updateEndpoint method is the lib itself that does this, so I understand from the library who does this is the onRegister itself. But I also perform this function inside, follow below:

[code]

[2020-11-10 15:04] iartemiev commented on #7152
Had a chance to look at the code. A couple suggestions:

`DataStore.configure` should only be called once. I would remove it completely from your **App.js** so that you're left with:
[code]

Then in **src/auth.js** you can do the following:
[code]
That should be the only place in your app where you call `DataStore.configure`.

_Alternatively_, you can utilize async sync expressions:
[code]

[2020-11-10 15:08] dbw03135 commented on #1907
if you have this problem, check you don't import amplify-js twice in App.js or index.js.

[2020-11-10 15:45] rpostulart commented on #7152
That did the trick.

Great! From the docs it is not clear to keep this out of the component. Maybe we need to update that.

Thanks!

[2020-11-10 15:45] #7152 closed

[2020-11-10 15:49] iartemiev commented on #7152
Awesome!
I agree regarding the docs. WIll be updating them soon.

[2020-11-10 16:24] amhinson commented on #7150
We've added this to our backlog queue, so any future updates will be posted here.

[2020-11-10 16:46] sammartinez commented on #6892
@MattM31 Can you respond to @amhinson question? Thanks ahead of time

[2020-11-10 18:39] harrysolovay commented on #7149
Hi @Eisman111 –– this is possible today, just not through Amplify. I don't believe an Amplify abstraction of this feature is coming out of the woodworks soon, but here's how you can achieve what you'd like, today:

Configure a Cognito User Pool post-confirmation Lambda trigger, which does the following:

1. Execute a list users requests with the filter of `email = "${event.request.userAttributes.e

[2020-11-10 18:45] DavidWells commented on #5918
For me, it appears that the `mandatorySignIn` option set to true was causing this issue. Removed it and the `No credentials, applicationId or region` went away

[code]

[2020-11-10 18:56] harrysolovay commented on #7142
Hi @reggie3, this does seem odd. Can you please run the following and let me know what is output in your CLI?:

[code]

Also, I'm removing the `Core` label, as I don't believe this issue is related to `@aws-amplify/core`.

[2020-11-10 19:05] harrysolovay commented on #7141
@Benzer1406 this is not a use case for which we account; if you wish to interact with the Cognito service from a Lambda, I highly recommend making direct use of the [`@aws-sdk/client-cognito-identity`](https://www.npmjs.com/package/@aws-sdk/client-cognito-identity) package. Otherwise, you'll subject your Lambda to manage back-end-irrelevant state.

Is there a particular reason that you have `@aws-

[2020-11-10 19:34] CryogenicPlanet commented on #7131
@padil I am still trying to get my environment working having some troubles because of wsl but I found another typo that could be causing an error; surprised typescript didn't yell about this.
[code]
I would recommend **changing that regardless to a string** as that is what is shown in the docs.
 Also would like to known where `dueDate` is coming from and what type that object is, it would be much

[2020-11-10 19:36] harrysolovay commented on #7140
I was unable to repro––not sure if your error is the result of capitalization, or something else entirely. Can you please share more context?

Side-note: while it's not in [the 2018 spec](http://spec.graphql.org/June2018/), it is common practice to treat certain GQL type definitions with certain casings / prefixing.

- `MyType`
- `MY_ENUM_VALUE`
- `InputMyType`

[2020-11-10 19:41] padil commented on #7131
appVersion is a string, I just pasted it wrong and changed the variables only, dueDate also a string in date format @CryogenicPlanet

[2020-11-10 19:48] harrysolovay commented on #7139
This is the expected behavior: when logging in, the `username` is the supplied unique reference to the user. This can be email address, phone number, or an explicitly-defined username.

If this behavior is undesirable, I'd recommend creating a function which calls `userPool.getCurrentUser()` and––from its response––distinguishes between and returns the desired username type (for instance, assessin

[2020-11-10 19:58] simone1999 commented on #3524
Hi,
I have the same issue.
But can't amplify analytics be used for this?
https://docs.amplify.aws/lib/analytics/getting-started/q/platform/js

[2020-11-10 19:59] iartemiev commented on #7138
If you flip the `syncable` value to `false` in the generated models, that will disable syncing for those models and prevent any subscriptions from getting initiated for them.

We will be adding the ability to pass equality predicates to subscriptions as we discussed [in this issue](https://github.com/aws-amplify/amplify-js/issues/7125#issuecomment-723132997)

[2020-11-10 19:59] harrysolovay commented on #7132
Please reposition `React.StrictMode` as the outer-most component (and you'll want to remove it entirely in production).

I don't believe a `componentDidMount` is a sign of an issue. Can you please share more information about your workspace setup and backend config. That way I can be more thoughtful in trying to diagnose :)

[2020-11-10 20:06] rpostulart commented on #7140
Mmmh, I also changed to model now to a capital and noticed after that, that is works fine.
But if your can't reproduce, then I will close it.

Thx

[2020-11-10 20:06] #7140 closed

[2020-11-10 20:32] amhinson commented on #7054
Ah ok thanks for that info! As an aside, we do recommend just using `aws-amplify` in your `package.json` instead of using the modular libraries independently because it is easy for them to get out of sync.

It does appear, however, that the return type based on the [TypeScript definitions](https://github.com/aws-amplify/amplify-js/blob/main/packages/core/src/types/types.ts#L14) has always been `id

[2020-11-10 20:55] SNagappan commented on #7139
@harrysolovay When I sign in with an email alias using the standard username/password method, the returned username is actual username and not the email. I'd argue that there is an issue here - standard auth and custom auth are working inconsistently.

[2020-11-10 21:02] reggie3 commented on #7142
@harrysolovay  Here are the results of running that command

[code]

[2020-11-10 21:45] leleofg opened #7161 "Auth.signIn request at the same time generate same jwt token with different accounts"
**Describe the bug**
When submit two request to method `await Auth.signIn(username, password)` at the same time with different accounts, the method generate the same token (signInUserSession.accessToken.jwtToken);

**To Reproduce**
Steps to reproduce the behavior:

1. Use the method `await Auth.signIn(username, password)`
2. Make two requests with different accounts at exactly the same time
3. get

[2020-11-10 21:55] #7122 closed

[2020-11-10 22:10] mlaguardia commented on #7161
I have the same problem, like you.

[2020-11-10 22:29] Breci opened #7163 "undefined Storage cause error on push"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

- Create a first storage, using S3 and push it
- Then create a second storage with `amplify add storage` and select S3
[code]

- Then if you want to push your project again you will get this error
[code]

**Expected behavior**
A clear and concise description of what you expe

[2020-11-10 22:46] hugomn commented on #7106
I'm having the same issue. I'm trying to use apollo-client for the SSR, and for that I need the `jwtToken`. I've tried this:

[code]

But I'm getting an `Uncaugth error` with `No current user` in the console. Any ideas on how I can get the token on the server?

[2020-11-10 22:51] hugomn commented on #5435
Thanks for the great work adding SSR to amplify! I use `apollo-client` to handle our graphql queries and state, so I cannot use the `SSR.API.graphql()` call. I'd need to get the session jwt token on the server and create an apollo client with it. Is it currently possible? I tried something like below, without sucess.

[code]

Any ideas? Thanks!

[2020-11-10 23:25] dylan-westbury commented on #54
Is there a way to make the public s3 directory with create only permissions at least? I assume storage.put gives any user the ability to create and update?

[2020-11-10 23:42] Cardoso222 commented on #7161
Up! Exactly the same issue here.

[2020-11-10 23:53] Benzer1406 commented on #7141
@harrysolovay You're absolutely right, using the low-level aws-sdk works perfectly. The thing is that in the beginning in can be confusing as AWS always redirects to AWS-Amplify. But no notice that it is only meant for the frontend. I had to hit the wall to realize that it's not thought for lambda use. Thanks for your help!

[2020-11-10 23:53] #7141 closed

[2020-11-11 02:59] GeorgeBellTMH opened #7164 "Improved AWS Personalize support"
Right now it appears there is partial support for AWS Personalize.

Missing functionality
--
- ability to get personalized suggestions from amplify API

Existing functionality
--
- AmazonPersonalizeProvider
- ability to use analytics.record to save to personalized items using the AmazonPersonalizeProvider

There is also some missing functionality in the CLI that I have included at: https://github.

[2020-11-11 05:55] ejjick opened #7165 "Amplify DataStore in a chrome extension"
**Which Category is your question related to?**

API, DataStore

**Amplify CLI Version**

4.16.1

**What AWS Services are you utilizing?**

Amplify, AppSync, Cognito, DynamoDb

**Provide additional details e.g. code snippets**

I've been trying to use the DataStore component for online/offline sync in a chrome extension. However it looks like DataStore only comes with support for IndexedDB and [ch

[2020-11-11 05:55] renebrandel commented on #7165
Hey - i'm transferring this to the Amplify JS repository. cc @sammartinez

[2020-11-11 07:28] yaquawa commented on #7092
@amhinson Could you tell me when the next version will be released ?
I really had a hard time to copy and paste `client-cognito-identity` and `graphql` to the node_modules directory before each build...

[2020-11-11 08:54] Eisman111 commented on #7149
Hi  @harrysolovay, thank you for the feedback!

I tried with the adminLinkProviderForUser functionality but didn't put too much focus on it since I read from the documentation that only works when the external provider has not been created yet, but if you say I can use this I'll try again!
Doc: https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_AdminLinkProviderForUser

[2020-11-11 09:13] danigb commented on #4235
Following @carlosvega20 suggestion, this is the same with [react-query](https://github.com/tannerlinsley/react-query) (adds cache and other goodies)

Example in typescript👇

#### Query

[code]

#### Mutation

[code]

[2020-11-11 09:45] kumishida commented on #7089
Same issue when tried to subscribe on AWS AppSync console but no problem on front-end (JS).

[2020-11-11 10:27] chantlong commented on #7054
Thanks for the heads up. If it's better to use `aws-amplify`, I was just wondering why the `@aws-amplify/...` are public on npm out of curiosity.
I switched over to the modules because I thought when importing it, the bundle sizes would be smaller because I don't use Data Store ...etc.

Yeah when I reviewed the TypeScript defs I noticed it didn't changed either. Anyways thanks.

[2020-11-11 10:27] mezalejandro commented on #6922
Hello @sammartinez If I added the Linking but it still doesn't work.

[2020-11-11 12:20] amcdnl commented on #4235
Each of these approaches have some downsides, for instance:

- `useAsyncFn` doesn't have caching, de-duplication, error handling, auth handling, sockets
- `useQuery` is great but doesn't have the native de-duplication / caching that apollo has. It also doesn't have the subscriptions natively either.

[2020-11-11 14:34] nklswbr commented on #2560
Thanks @mzohaibqc for your answer! I have one further issue. At which point in a react application should I trigger the refresh of the token? Is it a good idea to in the root component like in app.js or where in a react application should I do this?

[2020-11-11 14:43] wei commented on #6363
@undefobj Thanks for sharing your insights.

I performed some tests on react-native. Take my example of updating titles to `A B C D E` in sequence.

There are two different scenarios:
1. After turning off network, and we wait for `Reachability - Notifying reachability change false` before sending all 5 saves. **Everything is working as expected - Once network is back on and reachability becomes tr

[2020-11-11 15:14] mzohaibqc commented on #2560
@nklswbr You can refresh token in App.js or you can create separate background task like using redux-saga which will refresh your token on application load time or you can create a saga to keep refreshing this after every 50 minutes or so.

[2020-11-11 15:42] mvkanha commented on #5935
Getting same error? how can I solved out ?

[2020-11-11 15:44] cnorthwood commented on #5935
Removing `scope` from the configuration object worked for me.

[2020-11-11 15:55] harrysolovay commented on #54
@ffxsam had it right, depending on the complexity of your use case (for instance, specially-permissioned S3 operations):

@baharev please provide a bit more clarity on your comment:

^ as of today, we make this info (name, email, etc.) accessible to the authenticated client. This isn't going to change.

Amplify gives you the tools you need to provision endpoints that utilize the Cognito API's admi

[2020-11-11 16:10] sammartinez commented on #7165
Thanks for this feature request @ejjick ! We will take this into consideration for the future of our use case for DataStore

[2020-11-11 16:10] harrysolovay commented on #137
You're unable to do this from the `signIn` method, but you can do the following:

[code]

You can also do the same thing to forget the device (but using `forgetDevice` instead of `setDeviceStatusRemembered`).

[2020-11-11 16:10] #137 closed

[2020-11-11 16:16] iartemiev commented on #7153
@rpostulart - are you clearing your local store in between these changes? I can't seem to reproduce this locally. If I append a character to an id (at the beginning or end), I don't get any results back.

[2020-11-11 16:23] amhinson commented on #7034
@GennadiyT I am still having a bit of trouble replicating your use-case and example here. Would you be able to create a small sample repo that shows the behavior you are seeing?

[2020-11-11 16:31] monotv opened #7166 ""TypeError: Cannot read property 'getPredicates' of undefined" and selective sync"
**Describe the bug**

I am using this library in a React Native project.

I do this:
[code]
The code here:
https://github.com/aws-amplify/amplify-js/blob/947197d39e4136af1d114ef716fe77725712f51f/packages/datastore/src/datastore/datastore.ts#L703

up to and including line 710 results in this warning:

[code]
Code after that is not executed anymore because of the rejection.

If I comment the lines 7

[2020-11-11 16:44] harrysolovay commented on #364
The ambiguity of the latter half of this issue seems to be consistency of identity ID (no matter whether you've logged in solely with user pools, or with multiple federated identities).

Like @mlabieniec mentioned...

Aka., you could maintain the mappings yourself.

Or, you could set up a [post confirm trigger](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-lambda-post-confirm

[2020-11-11 16:48] amhinson commented on #7054
The packages are modular, so any tree-shaking with webpack/babel will effectively eliminate any dead code when using `aws-amplify`. There are other reasons as to why they are all individually published, but long story short is that we now recommend just the single package 🙂

[2020-11-11 16:48] #7054 closed

[2020-11-11 16:50] harrysolovay commented on #538
This is a service issue, as opposed to the a client issue.

When you mention device auth, I'm assuming you mean the device SRP handshake (executed under the hood as an [`InitiateAuth`](https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_InitiateAuth.html) request) followed by several [`RespondToAuthChallenge`](https://docs.aws.amazon.com/cognito-user-identity-pools/late

[2020-11-11 16:50] #538 closed

[2020-11-11 16:50] nubpro commented on #6363
Thanks for the detailed investigation. I don't think this problem is exclusive to React Native only is it?

We are using a custom conflict resolver setup for the particular mutation to address this pain-point in prod.

[2020-11-11 16:57] harrysolovay commented on #661
While this is an **interesting** use case, it isn't very common practice and could cause issues, as the locally-persisted auth state will be confused by the regular pool switching. This is not something we're soon likely to address.

If you'd like to submit a PR, we're more than happy to review!

[2020-11-11 16:57] #661 closed

[2020-11-11 16:57] baharev commented on #54
@harrysolovay I stopped using Amplify an year ago; this issue was one of the many reasons why. As far as I am concerned, you could have closed this issue an year ago. As a side note, I find it quite amusing how the Amplify team "solved" this issue, which is the most commented and oldest open issue, in almost 3 years time.

[2020-11-11 17:07] harrysolovay commented on #746
This is a legacy component. Unfortunately, a manual `forceUpdate` call is the best solution, aside from utilizing [the new generation of components](https://docs.amplify.aws/ui/storage/s3-album/q/framework/react).

Also––incase you're open to creating a PR––we'd love to review your suggested changes!

[2020-11-11 17:07] #746 closed

[2020-11-11 17:16] wei commented on #6363
@nubpro yeah I believe it's across the board.

[2020-11-11 17:34] iartemiev commented on #7166
Hey @monotv, is this the only place you're calling `DataStore.configure`?
The error you mention is being thrown by `DataStore.query` could you share how you're using that method?

[2020-11-11 17:52] amhinson commented on #7154
This appears to be a duplicate of https://github.com/aws-amplify/amplify-js/issues/6488, so I'll close this for now so we can focus on the other issue.

[2020-11-11 17:52] #7154 closed

[2020-11-11 18:28] undefobj commented on #6363
Please don't do this, let AppSync handle updates to the version. Modifying it could lead to data loss.

I've spoken with @iartemiev and I think there is an improvement to the hashmap implementation for slow networks that we can make by not allowing the write to the record when the item is in flight. He's tracking the issue internally.

[2020-11-11 18:28] mcqj commented on #7094
@amhinson The app in which I am experiencing the problem is too large to share in and of itself. I will try to re-create the problem with a slimmed down app but it'll probably be a few days before I can get to it.

[2020-11-11 18:29] amhinson commented on #7094
That is perfectly fine! Thanks @mcqj 🙂

[2020-11-11 18:31] amhinson commented on #6488
@laclance Are you able to consistently get this behavior to happen, and if so, would you be able to share some steps? We are still having issues trying to replicate the error.

Also, if you could share any logs ( `window.LOG_LEVEL = 'DEBUG'` ), that would be very helpful too.

[2020-11-11 18:45] nubpro commented on #6488
This is relatively difficult to reproduce as it regards to network stability.

Would it be plausible to force the problem by commenting [these chunk of code](https://github.com/aws-amplify/amplify-js/blob/main/packages/pubsub/src/Providers/AWSAppSyncRealTimeProvider.ts#L678-L694)?

[2020-11-11 18:49] giulio-dds commented on #7069
Unfortunately I ran into the same problem. I have a multi-tenant application that should allow data editing for some users dynamically. By design, there is no way to achieve this functionality with static groups because the authorization changes from record to record.

[2020-11-11 19:33] ryanhollander commented on #7163
I'm getting this also. Just updated to the latest CLI. Adding the second resource does not prompt for the resource name or other configuration details, sets it as undefined, and well...

[2020-11-11 19:33] ryanhollander commented on #7163
I am on 4.32.1

[2020-11-11 19:57] amhinson commented on #6488
@nubpro Good thought. Testing locally, that does seem to throw [this error](https://github.com/aws-amplify/amplify-js/blob/40edba636fff0ce074960c92ab45c044cb9324e5/packages/pubsub/src/Providers/AWSAppSyncRealTimeProvider.ts#L712-L722) consistently, but it doesn't necessarily give me much confidence with how an the library would actually handle this scenario.

With that said, enabling logging does

[2020-11-11 20:13] undefobj commented on #7069
@hmisonne @giulio-dds can you give us more specifics on your use cases? This will help us give feedback to the AppSync service team so that we can better convey the requirements into their roadmap for 2021.

[2020-11-11 20:40] sammartinez commented on #7133
This is great @wei, I do have some questions on this approach. I am not seeing the `marker` value you are calling out contained with the S3 API reference documentation. Would this be a new value you are looking to introduce? Also, do you have a sample of this work we can take a look at?

[2020-11-11 21:32] hmisonne commented on #7069
Hi @undefobj ,

In my use case, I am building a Grocery List App for shoppers who want to share and update a grocery list.
It is the same concept as _Tricount_ or _Slitwise_ where users share expenses and can see live updates.

Having just one owner is not compatible with my concept since I need multiple users to get access to one grocery list. Not having the `@auth` directive is not ideal since t

[2020-11-11 22:03] chunyanj commented on #7070
Hey mchitson,

Thanks for the feedback! We'll investigate it again to see if it is the same root cause.

[2020-11-11 22:26] kylekirkby commented on #6804
Actually, I can get this `name` required field issue working by specifying:

[code]

[2020-11-11 22:26] #6804 closed

[2020-11-11 22:29] amhinson commented on #7126
@mchitson Does @nubpro's answer give you what you're looking for? We will continue to track the resiliency of DataStore with regards to timeout and handshake errors in this issue: https://github.com/aws-amplify/amplify-js/issues/6488

[2020-11-11 22:30] wei commented on #7133
@sammartinez :wave: Hi Sam, it is listed in _AWSJavaScriptSDK_ docs https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#listObjects-property

We are already sending `MaxKeys` in our `AWSS3Provider`:
https://github.com/aws-amplify/amplify-js/blob/5173a9911096627ce1b45067808af249668b260b/packages/storage/src/providers/AWSS3Provider.ts#L409-L413

I haven't started development yet, I was a

[2020-11-11 22:41] sammartinez commented on #7133
Thank you @wei ! I missed this so thanks for calling this out! Let's look to discuss this a bit more over a call! Want to look to chat some more on it tomorrow or early Friday?

[2020-11-11 23:09] sammartinez commented on #7030
Got it, so I will state, the location you placed the `AuthStorage` value needs to be adjusted. You do want to call this from where you are initializing Amplify in your Angular application, most likely the `src/main.ts` file, to use Amplify and call properly instead of adding your `storage:AuthStorage` to the `aws-exports` file.

Please look at these instructions from our docs site [here](https://d

[2020-11-11 23:19] sammartinez commented on #6731
@obonyojimmy Apologizes on the late response to this. Are you configuring the Lambda triggers via our Amplify CLI? I want to make sure this issue gets routed to the correct location so please let me know. Thanks ahead of time

[2020-11-11 23:24] sammartinez commented on #5696
@dexster Are you still experiencing issues with this? It seems this has been resolved from what you are calling out above. Please let us know.

[2020-11-11 23:33] sammartinez commented on #4850
As we are unable to reproduce this issue, we are resolving this as there has been no follow up after the above callout. Please let us know if you are still experiencing this issue. Thanks ahead of time.

[2020-11-11 23:33] #4850 closed

[2020-11-11 23:38] sammartinez commented on #4888
@mtraynham Are you still looking for support for this issue? This does seem related to Amplify CLI vs. Amplify JS but I wanted to validate you are were still experiencing the above prior to transferring this issue to the Amplify CLI team.

[2020-11-11 23:49] mtraynham commented on #4888
@sammartinez I was testing using a custom auth flow because I wanted to add captcha support and ran into this bug.  If I remember correctly, I reverted back to one of the standard auth flows and added limited captcha support some other weird hacky way (can't remember).

It would have been nice to get CUSTOM_AUTH completely working; I wanted to use captcha to also validate federated flows.

I'm ok

[2020-11-12 00:02] sammartinez commented on #6123
@myspivey Thanks for the update. Apologizes on the late reply. Are you ok if we resolve this issue since you have moved away from this use case? Please let us know.

[2020-11-12 00:07] shouze commented on #4850
@sammartinez I confirm that we experiment this issue too.
BTW we only use `@aws-amplify/auth` (version 3.4.7). We have mainly implemented 2 functions. `getUserDetails` is involved into a useEffect react hook where we rely on `isAuthenticated`.

[code]

[2020-11-12 00:19] #6123 closed

[2020-11-12 02:32] obonyojimmy commented on #6731
Hi @sammartinez , thanks for reply , the lambda triggers are not configured using Amplify Cli , but manaully from cognito console page.

[2020-11-12 02:41] pr1ze commented on #6731
@sammartinez i did configure via Amplify CLI - and im having the same problem.

[2020-11-12 03:25] wei commented on #7127
I confirmed with @iartemiev that (1) is working is working "as intended" for now. Datastore does not auto populate connections you'll have to query by connected id for now as seen in my repo.

One reason is that we don't want to throw errors when one model fails to sync; so others continue syncing to minimize data loss. Definitely still worth more discussions.

---

Now, why did the model pass loc

[2020-11-12 04:20] wei commented on #6203
Perhaps you can use an array for tracing logs in this case?

1. Client is online and receives record A

[code]

2. Client goes offline
3. Client updates record A to order accepted (offline)

[code]

4. Client updates record A to order is being cooked (offline)

[code]

5. Client updates record A to order is ready to be served (offline)

[code]

6. Client goes back online.

This way you can have al

[2020-11-12 05:18] arunmishra152 commented on #7098
I was facing this issue in nodejs,
I just change the amazon-cognito-identity-js version to "amazon-cognito-identity-js": "^4.5.4-unstable.6"

and it is working for me. Hope this solution will work for you all who is facing this issue.

[2020-11-12 05:28] arunmishra152 commented on #7098
I was facing this issue when I was working with amazon cognito in nodejs. After so many hit and trial i found the solution, just change the amazon-cognito-identity-js version to :

"amazon-cognito-identity-js": "^4.5.4-unstable.6"

and now it is working for me, hope it will save your time and will work for you all who is facing this issue.

[2020-11-12 05:32] arunmishra152 commented on #4886
I was facing this issue when I was working with amazon cognito in nodejs. After so many hit and trial i found the solution, just change the amazon-cognito-identity-js version to :

**"amazon-cognito-identity-js": "^4.5.4-unstable.6"**

and now it is working for me, hope it will save your time and will work for you all who is facing this issue.

[2020-11-12 07:18] VolodymyrPliuta opened #7173 "Federated Sign in rendering bug"
**Describe the bug**

&nbsp; &nbsp; Federated sign in sets local storage after application renders so there is no way to find out if the user is signed in or not
localStorage is empty and it doesn't matter if I check it on my own or use  `Hub.listen("auth"...`
UX doesn't look good because the user will see a Sign In page for a moment before Hub.listen("auth"...) will pick up a `token` form from `l

[2020-11-12 07:28] dexster commented on #5696
The code above is a workaround and not a resolution. Amplify should cater for this scenario.

[2020-11-12 08:13] nubpro opened #7174 "Amplify should be built for Amazon first, then developers!"
Today, let's talk about AWS Amplify project as a whole, I would like to touch on a controversial subject (if it isn't one yet) which is regarding to its existence. Been using Amplify for 6-7 months and I'm noticing there's a pattern on the GitHub page, specifically there's a vicious cycle in the development of Amplify. Any PM or SE thinking of adopting Amplify in a real world project should read o

[2020-11-12 08:26] laclance commented on #6488
yes I just have to switch off my internet to get the error. where do i put `( window.LOG_LEVEL = 'DEBUG' ),`?

[2020-11-12 09:35] igorfel commented on #6017
So, for those looking for the answer on this topic look for #6189. So, i think this issue can be closed too.

[2020-11-12 09:42] mgilroy opened #7175 "Changing temporary password fails due to phone number issue @aws-amplify/ui-angular"
When using    "@aws-amplify/ui-angular": "^0.4.10" and logging in with a temporary password the user is prompted to enter a phone number. Whilst the UI allows you to select the appropriate country code +1 for US, +44 for UK. If you type the remainder of the phone number in to the text box for example,

+44 7777777777

It reports a failure in the phone number. Looking at what is actually sent in th

[2020-11-12 12:58] yaquawa commented on #7092
currently hotfix this by add the following to the package.json, install the packages with yarn.
[code]

[2020-11-12 13:48] wei commented on #5963
![image](https://user-images.githubusercontent.com/5880908/98947118-d0301700-24c2-11eb-829b-cdd3914820e9.png)

Local validations in `validateModelFields` is not validating [AppSync Defined Scalars](https://docs.aws.amazon.com/appsync/latest/devguide/scalars.html) like `AWSDateTime` type. The generated typescript types are showing `string` for `AWSDateTime` so typescript is no help either.

One sol

[2020-11-12 14:02] nubpro commented on #6203
@wei We are actually doing something similar to this, but because of the problem stated in #6363, we had to go for another route.
Instead, we have a columm for each status in the model.

[code]

Doing so we can circumvent the problem in #6363, as the default conflict resolver, **AUTO_MERGE** will populate any null fields even if there's a conflict in `_version`.

[2020-11-12 14:08] wei commented on #6203
Thanks for sharing your solution!

You could also try using the one-to-many relationship models in datastore to keep track of the timestamp and events which should get you around the issue in #6363.

I guess this issue can be closed or is there any further actions to be taken here?

We can keep track of the slow network conflict resolver issue in #6363.

[2020-11-12 14:12] wei commented on #6489
Similar to #5037

[2020-11-12 14:38] nubpro commented on #6203
We did tried creating a 1:M model called Order Transitions. It ended up creating another issue for us where there's a discrepencies in the two models.
The problem was the lastStatus in the order model is "served". However, the mutation to insert the timestamp of "served" is not delivered to the server yet. Hence, we completely ditched the effort going this route.

Not to mention, we were seeing Da

[2020-11-12 14:38] #6203 closed

[2020-11-12 14:49] krikork opened #7176 "Amplify CLI remove notifications error"
I wanted to start using SES and added notifications to my amplify project. Very quickly ran into some limitations which I will describe in another issue and tried to remove the notifications from my project by running

`amplify remove notifications`'

Next I picked Email from the list of options as that is what I picked when running "amplify add notifications"

I received the following error:

[co

[2020-11-12 15:26] krikork opened #7177 "Amplify add notifications applies changes without amplify push"
I have been using amplify for some time now. I have decided to use 3 separate AWS accounts for sandbox, staging, and a prod environment. When I am happy with a change in a lower environment i would promote it to the higher environment. This has been working well until I tried to add email notifications to my project.

I ran `amplify add notifications` and selected "Email" from the list of options.

[2020-11-12 15:33] harrysolovay commented on #768
This is not a bug. One can use the Auth category's [`verifyUserAttribute` method](https://github.com/aws-amplify/amplify-js/blob/main/packages/auth/src/Auth.ts#L1432) or `amazon-cognito-identity-js`'s underlaying [`getAttributeVerificationCode` method](https://github.com/aws-amplify/amplify-js/blob/main/packages/amazon-cognito-identity-js/src/CognitoUser.js#L1698).

[2020-11-12 15:33] #768 closed

[2020-11-12 15:38] harrysolovay commented on #834
There are many ways to handle the retry logic and invalidation. This is out-of-scope for now.

If you'd like to submit a PR, we're more than happy to review it!

[2020-11-12 15:42] HieronymusLex opened #7178 "Interactions: Display Response Cards"
**Is your feature request related to a problem? Please describe.**
It would be great if the chatbot component added support for displaying response cards. Currently only the content text is displayed.

**Describe the solution you'd like**
For response cards, when present in responses, to be displayed with any buttons. Similar to the Lex console test feature

**Describe alternatives you've consider

[2020-11-12 15:48] harrysolovay commented on #928
This is out of scope. One can implement notifications via [`onNotification` callbacks](https://docs.amplify.aws/lib/push-notifications/working-with-api/q/platform/js). [here's Expo's docs](https://docs.expo.io/versions/latest/sdk/notifications/), incase that's your preferred RN API.

[2020-11-12 15:48] #928 closed

[2020-11-12 15:50] harrysolovay commented on #932
This doesn't seem to have been successfully reproduced. If anyone encounters this issue with the latest version, please open a new issue and it will be a priority. Thank you.

[2020-11-12 15:50] #932 closed

[2020-11-12 16:13] jcf opened #7179 "DataStore generates invalid GQL: unrecognized token '$util' in `syncFoo` query"
**Describe the bug**

I have a number of models in my codebase, and I'm using `DataStore` in a few places to enable offline editing etc. When my app starts up I see repeated requests to `https://{redacted}.appsync-api.eu-west-2.amazonaws.com/graphql` with the following `MappingTemplate` error due to a `filter` that looks like it's made it out of a template and into a GraphQL query:

[code]

The qu

[2020-11-12 16:18] sammartinez commented on #991
Hello everyone! I wanted to provide an update on this, we introduced [new UI Components](https://docs.amplify.aws/ui/auth/authenticator/q/framework/react), our version 2 of our components, earlier in the year. With this came the feature of auto signing in after a successful sign up. We do recommend to use the new UI Components as it does offer a way for you to do what is being called out within th

[2020-11-12 16:18] #991 closed

[2020-11-12 16:21] jcf commented on #7179
I love that _I_ added the label "to-be-reproducted". It's like I don't believe I'm having this issue, and need someone to double check I'm not imagining things. :1st_place_medal:

Also, the environmental info that requires executing who knows what code on my dev machine via `npx` failed so all I could share was the error message. It tickled me so, and I thought it might put a smile on someone else

[2020-11-12 16:24] sammartinez commented on #6926
@tomaseti Apologizes on the late response, are you adding polyfills for IE11?

[2020-11-12 16:53] GennadiyT commented on #7034
Hi Alex. I found work around. I think you can close this ticket and thank you.

Gene

From: Alex Hinson <notifications@github.com>
Sent: Wednesday, November 11, 2020 8:24 AM
To: aws-amplify/amplify-js <amplify-js@noreply.github.com>
Cc: Gene Tsekhanovskiy <Gene.Tsekhanovskiy@accelya.com>; Mention <mention@noreply.github.com>
Subject: [Potential Spam] Re: [aws-amplify/amplify-js] Amplify calls to g

[2020-11-12 16:54] amhinson commented on #7034
Ok glad you were able to figure it out! 👍

[2020-11-12 16:54] #7034 closed

[2020-11-12 16:59] harrysolovay commented on #7139
Please confirm this is the issue you're having: you're unable to get a consistent reference to the username and email when logging in with different methods?

[2020-11-12 17:08] amhinson commented on #6488
@laclance Could you post for of the logging output? I'm mainly interested in what happens leading up to when the error occurs. And be sure to remove any sensitive data that might be contained in the logs.

[2020-11-12 17:33] tomaseti commented on #6926
@sammartinez Yes that's right I added it to make it render in IE11.  However I got around the issue by not importing the whole ui-vue library but just the individual bits that I needed.  So it's not an issue for me now.  Almost feel a bit guilty about asking for help about a crappy browser that really shouldn't be supported.  Unfortunately seems like a few people out there are still using it, in t

[2020-11-12 17:39] jcf commented on #7179
I think this is the problematic blob of VTL:

[code]

Specifically where the `"filter"` is being set to either `null` or `$util.transform.toDynamoDBFilterExpression($ctx.args.filter)`.

This is code generated by Amplify that I've not modified. I'm told there are no changes to make to my API when I run `amplify push`, and `amplify codegen` does nothing when I invoke it.

[2020-11-12 17:46] mauerbac commented on #6589
Hey @ecomonestop - I checked with the pinpoint product team and they confirmed that while you can created segments from the API/SDK but you cannot view these metrics in the UI. I've added this as a FR to the pinpoint team. The main use for this is updating the endpoint user id, so it should work as intended for updating things like endpoint profile data like demographic, device name, user-agent et

[2020-11-12 17:46] #6589 closed

[2020-11-12 18:05] jwilksy commented on #991
@sammartinez Can you please explain how you were able to accomplish this workflow through the new UI Components to save us some time from looking through the code?

[2020-11-12 18:23] amhinson commented on #7179
@jcf Just to validate, could you try running `amplify model codegen` as well as `amplify push --force` and see if the same error appears?

[2020-11-12 18:44] harrysolovay commented on #1021
This request prompts changes that would need to occur in the Cognito service itself (not the AmplifyJS library).

I'd recommend going into your AWS Console, navigating to Cognito, and then selecting "Feedback" in the bottom left-hand corner. This should prompt a modal, in which you can make this request.

[2020-11-12 18:44] #1021 closed

[2020-11-12 18:49] harrysolovay commented on #1026
The `amazon-cognito-identity-js` package is NOT intended for server-side usage. It is a front-end library. If you use it on your front-end, you can make direct calls to your AWS resources, including your Cognito User Pool. Token refresh operations will occur behind-the-scenes, so that you don't lose this auth state. Using that auth state, you can send the Cognito [UpdateUserAttributes](https://doc

[2020-11-12 18:49] #1026 closed

[2020-11-12 18:56] harrysolovay commented on #1031
Here's an example of how you can apply styling to [the legacy `withAuthenticator`-produced component](https://docs.amplify.aws/ui-legacy/auth/authenticator/q/framework/react)

[code]

[2020-11-12 18:56] #1031 closed

[2020-11-12 19:00] harrysolovay commented on #1034
^ this is the correct solution, but be weary of permissions. Aka., making all user profiles accessible to all users is uncommon.

Abstracting profile-sharing functionality into the lib is not within the scope of our present roadmap. However, we're always open to reviewing PRs!

[2020-11-12 19:00] #1034 closed

[2020-11-12 19:02] gangyi89 commented on #6903
@kevwang19 I am also facing the same challenge.

In my case, I am using the Auth.SignIn to get the tokens (I believe the IAM tokens are retrieved as well).
However, i have no idea how to get Amplify to pass the IAM credentials to API gateway.

I have set my API gateway endpoint with AWS_IAM authorizer and I am not able to get pass authorization successfully.

Any advice?

[2020-11-12 19:08] harrysolovay commented on #1054
Unfortunately this is not something that we could implement. If you'd like this feature (a service feature), it would require a new endpoint and new validation functionality. I recommend going into your AWS Console, navigating to Cognito, and submitting feedback (bottom left-hand corner).

[2020-11-12 19:08] #1054 closed

[2020-11-12 19:28] harrysolovay commented on #1437
`axios` will serialize for you... I'd recommend using [javascript-stringify](https://github.com/blakeembrey/javascript-stringify) (handles serialization and parsing of circularity and functions!).

Also, we're open to reviewing PRs!

[2020-11-12 19:28] #1437 closed

[2020-11-12 20:21] dylan-westbury opened #7181 "CUSTOM_AUTH triggers not firing on sign up"
**Describe the bug**
CUSTOM_AUTH triggers are not firing and authenticationFlowType is being set as "USER_SRP_AUTH" although disabled for cognito user pool.

It is a fresh project, at one stage, we were received the code. We deleted the user to try again but haven't received since. We also run amplify update auth, which may be where the issues exists. We tried some other local numbers but no OTP f

[2020-11-12 20:35] amhinson commented on #6671
@abdielou Are you still seeing this behavior? I just ran through the steps you provided with setting `syncable` to `false` on one model, but the other models appear to be syncing as expected. Let me know 👍

[2020-11-12 20:49] abdielou commented on #6671
let me check 🎉

[2020-11-12 21:17] SNagappan commented on #7139
Yes, that is correct. I am unable to get a consistent reference for username with standard and custom auth.

[2020-11-12 21:19] k-ahn opened #7182 "Invalid Refresh Token with USER_PASSWORD_AUTH"
**Describe the bug**
I am getting "Invalid Refresh Token" when running `Auth.currentSession()` 1 hour after successful login to a React JS app.

**To Reproduce**
1. At the login screen, successfully execute `Auth.signIn(USERNAME, PASSWORD)`
2. Redirect to the main app and i can run `Auth.currentSession()` to retrieve the ID, Access and Refresh tokens as often as required for the next 1 hour, even

[2020-11-12 21:21] harrysolovay commented on #884
MFA should be suppressed if the device is remembered, and the refresh token should expire in the time that is configured on the User Pool. This is working as intended.

[2020-11-12 21:21] #884 closed

[2020-11-12 21:25] EliasCoelho commented on #7101
Hi @iartemiev, we are waiting npm release of aws-amplify@3.3.8 version, but it isn't release yet. Do you know about when it can be available for download from npm?

We need implement it for PRD enviroment asap..

[2020-11-12 21:31] harrysolovay commented on #3369
Are you utilizing [the render-props version](https://docs.amplify.aws/ui-legacy/api/connect/q/framework/react) of the connect component? If so, please confirm that the error is not propagated into `errors` (passed into the closure of `Connect`).

[2020-11-12 21:39] harrysolovay commented on #54
@baharev I understand your frustration. If you ever decide to try Amplify again, please tag me personally in any issue. I hope you’ll give the framework another chance. It's come a long way.

[2020-11-12 21:43] sammartinez commented on #54
@baharev If you'd like to chat with myself our @mauerbac, please feel free to reach out to us on our [Discord channel](https://discord.gg/jWVbPfC) or through DMs.

[2020-11-12 21:52] dylan-westbury commented on #7181
Potentially related https://github.com/aws-amplify/amplify-js/issues/5623

[2020-11-12 21:56] phaeton2040 commented on #5167
In my case I had MFA turned on and the Auth module was waiting for OTP. I made MFA optional for my user pool and all went OK

[2020-11-12 22:16] harrysolovay commented on #4015
Like @elorzafe mentioned...

Customizing the token / claims is doable, but it's not within the scope of AmplifyJS (the front-end client). You'll need to build the token generation trigger yourself.

[This guide](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-lambda-pre-token-generation.html) and [this guide](https://docs.amplify.aws/cli/usage/lambda-triggers#override-id-token-

[2020-11-12 22:16] #4015 closed

[2020-11-12 22:16] ruiyang commented on #884
@harrysolovay Hi, what would be really useful is cognito to implement a configuration for days of remembering the device for supressing MFA. eg. we can have "Remember this device for 30 days" in our login UI, then after first MFA login, the following login from this device will not require MFA until 30 days. I think it is different from refresh token expiration. Again, would be great if there is a

[2020-11-12 22:30] iartemiev commented on #7101
Hey @EliasCoelho we'll have the next release out by tomorrow

[2020-11-12 22:42] EliasCoelho commented on #7101
Ok, thanks @iartemiev ...

[2020-11-12 22:44] renebrandel commented on #7174
Hi @nubpro - thank you for spending the time to provide such detailed feedback to your experience. I understand the frustration that you must've been facing. Do you have some time to jump on a call with me and the broader team. We'd love to walk through some of our improvement ideas and see if we can have a clearer messaging. You can either DM me on Twitter: [@renebrandel](https://twitter.com/rene

[2020-11-12 22:48] baharev commented on #54
@harrysolovay @sammartinez I re-wrote everything I needed an year ago (S3, Lambda, API Gateway, DynamoDB, Cognito, CloudFront, CloudWatch, Kinesis Firehose, SES, SNS, CloudFormation and a deployment script in Python). The only non-trivial piece was the Cognito authentication (SRP and handling the tokens); all the other services are well-documented and have well-thought-out REST API and they are, f

[2020-11-12 23:15] dylan-westbury commented on #7181
I have also tried adding `mandatorySignIn: true` and disabling unauthenticated users

[2020-11-12 23:18] austinhinderer commented on #6461
I'm currently seeing this issue.

[2020-11-12 23:22] sammartinez commented on #5718
@t-moedano Apologizes on the late response on this. Can you provide the documentation you were following to setup the OAuth workflow? Please let us know.

[2020-11-12 23:25] mkpratt commented on #6461
@amhinson I had to pivot back to using SMS MFA instead of TOTP to keep my project moving forward, but I assume if I were the revisit the issue I would still see this behavior.

[2020-11-12 23:26] amhinson commented on #6461
Ok thanks for the update! We will look further into this issue and respond back here with any updates

[2020-11-13 00:07] austinhinderer commented on #6461
I have confirmed I can reproduce this issue with 2 different users, 1 in a pre "create new password" state, and 1 that has set a user password and registered SMS 2fa.

[2020-11-13 00:13] amhinson commented on #4886
Update: `latest` is now up to date with the fix so `global.crypto = require('crypto')` is not required anymore 👍

[2020-11-13 00:13] amhinson commented on #7098
Update: `latest` is now up to date with the fix so `global.crypto = require('crypto')` is not required anymore 👍

[2020-11-13 00:20] iartemiev commented on #7101
@EliasCoelho [aws-amplify@3.3.8](https://www.npmjs.com/package/aws-amplify) just got released (:

[2020-11-13 00:38] myfairshare commented on #5926
Can I chime in and share my current situation with DataStore, bare in mind I've only 1 year experience.  Its very possible I could be making some mistakes but I find the bigger my project gets the trickier it seems to get for Datastore to behave as expected, I notice some models are synching and others are not, multiple graphql requests in my network tab in developer tools in chrome, synching happ

[2020-11-13 00:45] iartemiev commented on #5926
Hey @myfairshare, which part of the docs are you referring to?

Also, would you be able to share your project where you're experiencing these syncing issues? If so, I'd be happy to take a look.

[2020-11-13 01:10] EliasCoelho commented on #7101
@iartemiev thanks again... it's a good news... we'll implement it in this moment

[2020-11-13 02:35] hrafnkellpalsson commented on #3184
We're routinely have to help our customers with this. Right now our solution is to use the CLI

1. `aws cognito-idp resend-confirmation-code --client-id xxx --username someone@company.com` to send another verification code OR
2. confirming user manually in the cognito console and then confirming their email with `aws cognito-idp admin-update-user-attributes --user-pool-id xxx --username someone@co

[2020-11-13 03:43] nubpro commented on #7174
Thanks for the reply.
But I think the message is pretty clear, make products out of the tools you'd built.
Stop making us to be the guinea pigs.

I think this applies to all other libraries not just specifically to DataStore. Unfortunately, I can only speak for DataStore as I mainly use it.

[2020-11-13 06:02] wei commented on #6947
@ShehryarKh In order to receive Hub events on `storage` channel, please make sure `track: true` is in the `config` passed into `Storage.put`, or any other `Storage.[method]`.

[2020-11-13 06:05] wei commented on #7133
@sammartinez PR opened #7183. 🎉

[2020-11-13 08:42] adampblack opened #7184 "Confirm sign up component not customizible"
**Describe the bug**
Trying to customise the AmplifyConfirmSignUp and it is not overriding the default.

**To Reproduce**
<AmplifyConfirmSignUp
          headerText={t('Verify your mobile phone number')}
          slot="confirm-sign-in"
          submitButtonText={t('Confirm')}
  />

**Expected behavior**
Expect the header text and submitbuttontext to change with whatever I set.

[2020-11-13 09:08] giulio-dds commented on #7069
Hi @undefobj , we are developing a browser based ERP for transport logistics in Amplify + React.js. ERP owners (i.e. _carriers_) can receive orders from their _customers_ through an app (Amplify + React Native) which allows read, writing and updating of shipment information recorded on an _Orders_ table in DynamoDB.

Customers and carriers must be able to update the status and details of orders, b

[2020-11-13 09:44] mkozjak commented on #6261
What is the status on this one?

[2020-11-13 10:10] CryogenicPlanet commented on #7133
@sammartinez I had a question/suggestion for an extension of the fix that I was discussing with Wei.
 I guess the question part is that is it common in the library to write _custom react hooks_.

I am asking this because I was telling wei that all of this functionality at least for react could be wrapper in one nice hook so the user doesn't need to use the Hub event to listen for the continuation

[2020-11-13 10:43] myfairshare commented on #5926
In this part..[](https://docs.amplify.aws/lib/datastore/sync/q/platform/js)

At the top you will see heading ..

**Set Up cloud sync**

[2020-11-13 11:15] Gautierrr opened #7185 "Module not found: Error: Can't resolve 'crypto' with Webpack"
**Describe the bug**
This bug appears when trying to build an app using `@aws-amplify/auth` with Webpack 5 because Webpack 5 does not include node.js core modules by default anymore.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a React project with Webpack 5
2. Install `@aws-amplify/auth` v3.4.11
3. Start a build
4. See error

**Expected behavior**
The polyffil should be included

[2020-11-13 11:27] udeeshaIS opened #7186 "Subtitle for AmplifyTotpSetup"
**Is your feature request related to a problem? Please describe.**
I noticed there is a way to add subtitles to the SignIn and SignUp screens using header-subtitle slot. But which is missing in the AmplifyTotpSetup component. Is there a way to include subtitle with the current version, according to docs I can't find any.

**Describe the solution you'd like**

I would like the solution similar to t

[2020-11-13 13:08] mkozjak commented on #825
@ericclemmons what is the alternative to the approach you described?

[2020-11-13 13:18] sw-yx commented on #7185
reminds me of https://blog.sindresorhus.com/webpack-5-headache-b6ac24973bf1

[2020-11-13 13:28] iartemiev commented on #5926
@myfairshare that sentence communicates that syncing data between multiple devices and the cloud can be a difficult problem to solve in general _without_ DataStore and that DataStore simplifies it for developers.

[2020-11-13 14:13] myfairshare commented on #5926
Ahh, my apologies, thanks!

[2020-11-13 14:21] jcf commented on #7179
Thank you for getting back to me so quickly, @amhinson.

I've generated model definitions, and force pushed my Amplify environment as per your instructions.

[code]

I'm still seeing the same errors syncing two models.

[2020-11-13 14:42] dmytro-afonin opened #7188 "Could not compile library when strict mode is enabled in typescript"
**Describe the bug**
A clear and concise description of what the bug is.
Could not compile library when strict mode is enabled in typescript.
There is a lack of return-type annotation in AuthCache interface
**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'tsconfig.json'
2. set "strict": true in "compilerOptions" section
3. try to compile application
4. See error
ERROR in node_modules/@

[2020-11-13 14:45] jcf commented on #7179
I'm now seeing this same error with all of my models rather than just the two that I noticed previously. I've tried setting `"syncable"` to `false` in my `src/models/schema.js` to prevent the sync from taking place but I can't do that on every model without ditching DataStore and handling that stuff myself via GraphQL.

[2020-11-13 15:50] FirdousNath commented on #6344
Facing same issue...it seems like a specific no has limit. I mean if user tries more than 10 times than otp is no received on 11 call.. Facing this during the  development of one of my project

[2020-11-13 16:17] ajenkins-cargometrics commented on #4015
Regarding your explanation for closing the issue, I agree that this issue is outside the scope of AmplifyJS and should be closed. I wanted to point out though that the links you provided do not offer a solution to this issue.  The issue was asking about customizing **access** tokens, whereas the links you provided show how to customize **identity** tokens. Cognito does not AFAIK provide any way to

[2020-11-13 16:26] sammartinez commented on #7133
Hey @CryogenicPlanet! Thanks for the suggestion to this! I believe this could be a follow up to this implementation as this is separate from any framework that we support on the library. Think of it as an API more so than a framework implementation. I do want to point out that the reference to the `aws-amplify-react` library is version 1 of the UI Components and we are using version 2 `@aws-amplif

[2020-11-13 16:40] sadooghi opened #7191 "Auth.signIn error"
**Describe the bug**
After upgrade to latest version of auth (from 3.4.6 to 3.4.11) signing in username throws error:

**To Reproduce**
This error is generated after Auth.signIn(username,password) is called. Prevoius version works and sign in Google/Apple/... work.

[2020-11-13 17:04] harrysolovay commented on #7185
This appears to be a Webpack issue. I'd recommend that you file an issue in the [Webpack repo](https://github.com/webpack/webpack).

Resolving, as this is unrelated to AmplifyJS.

[2020-11-13 17:30] sw-yx commented on #7185
@harrysolovay it is a webpack issue, and it is unfortunate, but also inevitable that we will be pressured into polyfilling the modules we need. you'll just see this same issue opened more and more as webpack 5 rolls out and we dont have a choice but to deal with it.

[2020-11-13 19:10] amhinson commented on #7179
@jcf Thanks for the info! I've got a few more clarifying questions and requests:
- Is the other model you are seeing this behavior `ProductImage`? And could you share that schema as well?
- Could you share your `package.json`? Feel free to remove anything that you don't deem necessary to share.
- What version of the Amplify CLI are you using? `amplify -v`

[2020-11-13 20:19] abdielou commented on #6671
@amhinson Still not syncing with the latest Amplify version.

What might be happening to you is that you are probably turning off SYNC on the **last** model. Try turning off SYNC on the first model.

Here's a sample schema
[code]
And here's the generated DataStore schema with the first model with SYNC off:

[code]

`MyModel1 ` has ` "syncable": false,`

[2020-11-13 20:46] amhinson commented on #6671
@abdielou Hmm that is strange! Even if I turn `syncable` to `false` on the first model, the 2nd model is syncing correctly. Here's what I have:
[code]

<details>
<summary>schema.js</summary>

[code]

</details>

Sync response:
![image](https://user-images.githubusercontent.com/17091790/99119195-b1f31580-25ad-11eb-81bf-8a8cff430d46.png)

Would you be able to create a small sample repo that shows th

[2020-11-14 00:50] defmtog commented on #6823
i have the same issue with a Mutation mapped to a lambda function. if i specify:

[code]

i get **No current user** from the frontend

if i try

[code]
from the **amplify push** command i get:

**@auth rules on fields within Query, Mutation, Subscription cannot specify 'operations' argument as these rules are already on an operation already.**

versions:
@aws-amplify/ui-vue@0.2.27
aws-amplify@3.3.

[2020-11-14 01:51] jbeckton commented on #3474
@sammartinez My original attempt was me trying to run an Angular SSR app inside a Lambda Function, but I think if you guys could support an additional Hosting option so that we could deploy our app inside ECS (Node.js) container then it should work. Previously I was trying to use a Lambda function to host my app but it was really painful given the way Amplify tooling works. If we could just copy t

[2020-11-14 02:03] contractorwolf opened #7194 "Amplify Build failed with version 4.21.3 - Error: auth headless is missing the following inputParams googleAppIdUserPool, googleAppSecretUserPool"
The app works fine locally and uses cognito with a federated login through google.  Login works fine running on my local system, as does all the rest of the functionality.  It is a simple VUE with just 2 pages but it uses auth, api, and has 2 cron'ed functions that work on the regular schedule.  What I am trying to do is deploy my front end but the BUILD fails coming from github triggers on my mas

[2020-11-14 08:34] furyozo opened #7195 "@aws-amplify/storage/srcs/Storage.ts uses Object.entries() call on line 134 - which is not supported by certain browsers"
User agent we caught this issue on:

`Mozilla/5.0 (SMART-TV; Linux; Tizen 3.0) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/2.0 Chrome/47.0.2526.69 TV safari/537.36`

Browser:

`Samsung Internet 2.0`

Full error description:

[code]

[2020-11-14 13:23] nicoayci commented on #6658
do [imgKey]="file.keyl" et voila

[2020-11-14 16:05] mozadeh commented on #7191
This seem to be more of an issue with latest version of amazon-cognito-identity-js

[2020-11-14 16:41] abdielou commented on #6671
@amhinson Huh...

would you mind checking out my repo and trying it out?

https://github.com/abdielou/amplifybug6671

[2020-11-14 17:58] contractorwolf commented on #7194
I found a solution that seemed to solve this for me.  In the Amplify console I added the following environmental variables and their values (based on what I saw in another similar post):
AMPLIFY_GOOGLE_CLIENT_ID
AMPLIFY_GOOGLE_CLIENT_SECRET

In the Amplify web console, when you are looking at your project you should see the environmental variables section in the menu.  I added the 2 above values i

[2020-11-14 19:39] mkozjak commented on #6731
A huge deal breaker for us too. It's year 2020!!

[2020-11-15 04:24] iartemiev commented on #7179
@jcf the `@searchable` directive [isn’t compatible with DataStore](https://docs.amplify.aws/cli/graphql-transformer/searchable#known-limitations) or `@connection`.
Could you please try removing it, followed by:
[code]

[2020-11-15 08:46] adampblack opened #7197 "Remove leading zeros from mobile phone numbers in AmplifySignUp"
**Describe the bug**
AmplifySignUp component - phone_number form field.

In Australia - and most other places in the World, domestic numbers start with zero (0).

When someone signs up when specifying the area code - e.g. for Australia
+61

They are no suppose to add the 0 to the mobile number.

If they add the zero (0) they will not receive the SMS text message to verify their phone number.

I ha

[2020-11-15 09:10] genisgen commented on #6658
Thank you, nicoayci. It worked.
But it is difficult to come to `[imgKey]="file.key"` from the example in [the Amplify doc](https://docs.amplify.aws/ui/storage/s3-image/q/framework/angular#usage):
[code]

[2020-11-15 19:46] rpostulart commented on #7153
Me neither, I will close the issue

[2020-11-15 19:56] Akshat0694 commented on #5104
@tvbowersz thanks for the link to a very helpful comment. When implementing the pre-signup trigger leveraging `adminLinkProviderForUser`, did you encountered the following error after Lambda returned the event to Cognito: `Already+found+an+entry+for+username+xxxx_2134343141`?  Moreover, did you end up having 2 users created in the User Pool which have the same "identities" and "sub" attributes or

[2020-11-15 20:03] heitorlessa commented on #2471
Updating here for anyone who might come later now that Web components have replaced the older authenticator.

Here's what I'm currently using to customize the layout:

[code]

[2020-11-15 20:20] hmelchander-indpro commented on #6731
@sammartinez:

Please see my original SO question mentioned by @obonyojimmy: https://stackoverflow.com/questions/62548852/aws-cognito-and-amplify-clientmetadata-not-sent-when-session-is-refreshed

This is how it works in our current implementation: it is possible to set a `clientMetadata` object in the `Auth.signIn` request, like this:

[code]

In our manually configured lambda triggers, we can re

[2020-11-15 22:32] Ricardo1980 commented on #6246
That's easy, just use "SELECT COUNT(*)....." in your VTL request template and then later map it properly in your response template.
I guess your GraphQL query type has one of them that returns an integer. That's the integer you are returning in the VTL response template.

[2020-11-15 23:02] stayingcool commented on #6246
Thanks @Ricardo1980 .

This is a feature request to provide something out of the box. Otherwise, as you stated we can certainly have a custom resolver to get this done!

[2020-11-15 23:15] ChihweiLHBird opened #7199 "Feature Request: A Way to Remove Sign in with AWS Button"
I just used amplify in a React frontend project, and the sign in page looks like:

![image](https://user-images.githubusercontent.com/43905414/99199613-975f9e80-275d-11eb-9b31-365658323762.png)

And this is what I expect:

![image](https://user-images.githubusercontent.com/43905414/99199620-a6dee780-275d-11eb-9e05-275f4584d518.png)

So, how can I remove the Sign In with AWS button and keep others?

[2020-11-15 23:28] uncodable commented on #7174
Hi @nubpro - As a developer who uses Amplify day in and day out. I feel like you're raising concerns about SLA to bugs etc. You're comparing Amplify against the likes of Stripe, Apple etc. Amplify already is built on top of the AWS infrastructure and let's you have a simple way to collate your application to a certain degree of a AIO solution.

Quote from the Amplify website:

The AWS Console won'

[2020-11-16 00:49] ranopriyo-neogy opened #7205 "REST API call not taking place when Auth & API used simultaneously inside Amplify.configure block. Page needs to be re-loaded manually to get data on the page after authentication."
Post authentication React page is getting stuck with loading status as REST API call is not taking place and hence page needs to get re-loaded manually for REST API call to take place. There are no suggestions on how to handle both Auth & REST API call manually in Amplify.configure block. Tried using the suggested methods on - https://docs.amplify.aws/lib/graphqlapi/create-or-re-use-existing-backe

[2020-11-16 03:23] rosmu commented on #7173
Are there any updates for this yet? there seems to be about 2-4 seconds delay in firing the 'SignIn' event after logging into  the Federated signin. While the delay happens the sign in page is shown again which will be confusing to the users.

[2020-11-16 03:39] #6555 closed

[2020-11-16 03:39] #6547 closed

[2020-11-16 03:39] #6742 closed

[2020-11-16 03:44] adampblack opened #7201 "Phone number input - type tel"
**Describe the bug**
The phone number input does not have the correct type set.

The problem without this is the mobile phone devices do not automatically suggest a phone number from contacts.

**To Reproduce**

<AmplifyAuthenticator
        style={{
          alignItems: 'flex-start',
          display: 'flex',
          flexWrap: 'wrap',
          justifyContent: 'center',
        }}
        use

[2020-11-16 03:58] RoniFinTech opened #7202 "Auth.currentSession() returns "Not Authorized" after Serverless Lambda resources get deallocated"
**Describe the bug**
The bug is that if I Aut.signIn() and then hit Auth.currentSession() right away, it works fine. However, if I hit Auth.currentSession() again in 10 mins (my Serverless Lambda have gone cold by then), I will get "Not Authorized".
All my communication with aws-amplify is done through my back-end code and not front-end.

**To Reproduce**
I have my own Serverless Lambda GraphQL ba

[2020-11-16 04:18] niloy369 commented on #5298
any idea how to add select option dropdown in sign up form?

[2020-11-16 04:18] lukasrossa commented on #7184
Are you sure the confirm-sign-in slot is valid for the AmplifyConfirmSignUp component? Shouldn't it be slot="confirm-sign-up" ?

[2020-11-16 08:57] wlee221 commented on #6981
Bumping

[2020-11-16 09:07] hobojoe commented on #6202
Agree with you! This should be fixed soon!

[2020-11-16 09:41] nujhong commented on #6842
I encountered the same issue in mobile Safari only.

_"Mozilla/5.0 (iPhone; CPU iPhone OS 13_1_3 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.1 Mobile/15E148 Safari/604.1"_

[2020-11-16 10:30] pedroapfilho opened #7203 "Docs for organization based auth"
Imagine I have an app that manages salaries. Usually, these apps are made for multiple organizations, so imagine the situation where I want to disclose salary info for that organization admin, not for every admin on the user pool. I want to have an admin role for each organization.

So:

1- Admin creates organization
2- Admin adds users to the organization and sends them an email for them to sign

[2020-11-16 10:45] ChihweiLHBird commented on #2777
I made Cognito send verification link on AWS Online Console, but Amplify in my ReactJS is still asking users for verification code after sign up email sent, and way to disable the confirm page that requires verification code.

[2020-11-16 11:59] jcf commented on #7179
@aminson please find answers to your questions inline below.

The problematic models are the `Nutrient` and `Product` models. I've included the `Product` schema in the issue description; this is the `Nutrient` schema:

[code]

My `package.json` looks something like this:

[code]

I'll be removing Material UI and SASS soon as we're opting for Tailwind instead.

[code]

---

@iartemiev in what way i

[2020-11-16 12:20] rwhitten577 opened #7204 "Disable REST API Client Caching?"
**Describe the bug**
When using the Amplify REST API client, responses are cached. Have tried setting headers described to work for Axios (e.g. `no-cache`, `max-age=0`, etc) but responses are still returned from cache first. On a third request, new data is finally returned. I can't seem to find any info in docs or browsing source code for API client.

**To Reproduce**
Steps to reproduce the behavi

[2020-11-16 12:25] #7204 closed

[2020-11-16 13:55] iartemiev commented on #7179
It's primarily incompatible because the Elasticsearch response template doesn't return the `_version`, `_lastChangedAt`, and `_deleted` fields.
You can use `@connection` with DataStore, but not with `@searchable`.

Another thing to check is whether your data in DynamoDB contains any empty lists `[]`. There's currently a bug in the AppSync service where enabling sync/conflict resolution on an API w

[2020-11-16 14:13] iartemiev commented on #7195
Hey @furyozo, we officially support the following browsers: https://aws.amazon.com/premiumsupport/knowledge-center/browsers-management-console/. Since Samsung Internet uses the Chromium engine, then I would expect the last 2 or 3 versions of Samsung Internet to also be supported. From what I can tell 2.0 is older than that. However, you can try adding polyfills in your app as is described in this

[2020-11-16 14:16] #7153 closed

[2020-11-16 14:23] amhinson commented on #7191
@sadooghi @mozadeh Could you share your `package.json`?

[2020-11-16 14:26] sadooghi commented on #7191
`{
  "name": "App,
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "start": "react-native start",
    "test": "jest",
    "lint": "eslint ."
  },
  "dependencies": {
    "@react-native-community/art": "^1.2.0",
    "@react-native-community/datetimepicker": "^3.0.4",
    "@react-native-community/masked-view": "^0.1.10",
    "@react-native-community/netinfo": "^5.9.7",
    "@react-native

[2020-11-16 14:34] sadooghi commented on #7191
The problem is the @aws-amplify/auth/node_modules will have camazon-cognito-identity-js@4.5.4 and sign in with email does not work on that one. even though in my package.json I have amazon-cognito-identity-js@4.5.1.

[2020-11-16 14:45] mauerbac commented on #7205
Transferring to JS Repo as this looks like a question about Auth

[2020-11-16 15:03] iamstiil commented on #3422
FYI: Expo moved to the comminity package :)
[Reference](https://docs.expo.io/versions/latest/sdk/async-storage/)

[2020-11-16 15:28] amhinson commented on #7191
@sadooghi Could you try:
- Update to the latest version of `amazon-cognito-identity-js@4.5.4` in `package.json`
- delete `node_modules` and reinstall

I've tried to replicate the issue you are having with a new React Native app with `aws-amplify@latest` and `amazon-cognito-identity-js@latest` but I'm still able to login.

[2020-11-16 15:33] sadooghi commented on #7191
Yes I tried that initially and tried - rm -rf node_modules && npm install. Login with Google/Apple works but with username it does not work.

[2020-11-16 15:42] amhinson commented on #7191
Could you also try running `pod update` in the `ios` folder? There were some additions to the native code within `amazon-cognito-identity-js` that appear to be related to the error you are seeing, so perhaps the CocoaPods just need to be updated.

[2020-11-16 16:41] amhinson commented on #6671
@abdielou I have your sample running, but it appears the sync behavior is working as expected. Am I missing something in the reproduction steps?

![image](https://user-images.githubusercontent.com/17091790/99281521-72b00900-27e7-11eb-8227-69d13e6c3d04.png)

[2020-11-16 16:54] harrysolovay commented on #4408
You'd need to define the subscription document source for yourself. Or you'd need to configure your own generator.

[2020-11-16 16:54] #4408 closed

[2020-11-16 16:55] harrysolovay commented on #4682
This isn't something that you'd want to do from the front-end (and this is the front-end library). Transferring this issue to the [CLI](http://github.com/aws-amplify/amplify-cli) team.

[2020-11-16 17:04] harrysolovay commented on #4718
You'd need to implement much of this behavior using the low-level SDK within your lambda. If your front-end user is authenticated via Amplify, they can make an authenticated request to your endpoint, which can then check whether they have access to the resource, and execute the operations necessary to implement the flow you've described above.

If you believe that the CLI should be able to provisi

[2020-11-16 17:04] #4718 closed

[2020-11-16 17:10] sammartinez commented on #7161
@leleofg can you provide your `package.json` along with your environment settings?

Please use the follow command:
[code]

Thanks ahead of time!

[2020-11-16 17:11] harrysolovay commented on #4783
If you've already completed the MFA flow once, the device is remembered. During testing, you can get the current user pool user and forget that user:

[code]

And to answer your other question, yes!: there are alternatives to the hosted UI. You can [utilize the `Auth` category's MFA features](https://docs.amplify.aws/lib/auth/mfa/q/platform/js#setup-totp) directly in your own components.

[2020-11-16 17:11] #4783 closed

[2020-11-16 17:12] sammartinez commented on #7181
This seems to be a issue with Amplify CLI and setting up customer lambda triggers. Transferring this issue to the Amplify CLI team.

[2020-11-16 17:16] harrysolovay commented on #4885
The federated login is separate from the custom auth flow you've defined. In order to integrate the two, you'd need to wrap the provider as [a custom OIDC provider](https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-oidc-idp.html). Within that provider, you could use the admin APIs. Fair warning, this is quite advanced, and is more a task for the CLI team (not the front-e

[2020-11-16 17:18] amhinson commented on #4713
@DanielMuller You are correct in that `amplify-connect` currently doesn't have the ability to change the `authMode` of the request, which means that it will always fallback to the default auth mode for the API, which is Cognito User Pools. The workaround you provided with calling `API.graphql()` directly would be the recommended path right now to achieve the functionality you're looking for.

I'm

[2020-11-16 17:19] sammartinez commented on #7202
@RoniFinTech can you provide your `package.json` along with your environment settings?

Please use the follow command:
[code]

Thanks ahead of time!

[2020-11-16 17:21] harrysolovay commented on #4840
This seems to be a request for simpler configuration of a certain kind of auth (which might not be Cognito-backed). Transferring to the CLI team, incase they're open to working on such a feature.

Aside: you can contribute this feature. [Amplify CLI Plugins](https://docs.amplify.aws/cli/plugins/authoring) would let you package and expose such functionality. We ♥️ open source.

[2020-11-16 17:23] PeteDuncanson commented on #2873
@LucasAndrad and anyone else who stumbles on this, @janhesters wrote up their findings in this blog https://medium.com/@jan.hesters/creating-graphql-batch-operations-for-aws-amplify-with-appsync-and-cognito-ecee6938e8ee

[2020-11-16 17:23] leleofg commented on #7161
Thanks for answering. Below is my env:

`System:
    OS: Linux 5.4 Ubuntu 20.04.1 LTS (Focal Fossa)
    CPU: (4) x64 Intel(R) Core(TM) i5-7200U CPU @ 2.50GHz
    Memory: 4.30 GB / 15.54 GB
    Container: Yes
    Shell: 5.0.17 - /bin/bash
  Binaries:
    Node: 12.18.3 - ~/.nvm/versions/node/v12.18.3/bin/node
    npm: 6.14.6 - ~/.nvm/versions/node/v12.18.3/bin/npm
  Browsers:
    Chrome: 86.0.4240.1

[2020-11-16 17:24] leleofg commented on #7161
Thanks for answering @sammartinez . Below my env:

System:
    OS: Linux 5.4 Ubuntu 20.04.1 LTS (Focal Fossa)
    CPU: (4) x64 Intel(R) Core(TM) i5-7200U CPU @ 2.50GHz
    Memory: 4.30 GB / 15.54 GB
    Container: Yes
    Shell: 5.0.17 - /bin/bash
  Binaries:
    Node: 12.18.3 - ~/.nvm/versions/node/v12.18.3/bin/node
    npm: 6.14.6 - ~/.nvm/versions/node/v12.18.3/bin/npm
  Browsers:
    Chrome: 8

[2020-11-16 17:28] cheunjm commented on #5054
Is there any rough timeline for this "lazy-loading" feature?

[2020-11-16 17:30] sammartinez commented on #4446
@ralowe Apologizes on the late response, you are able to setup [Lambda Triggers](https://docs.amplify.aws/cli/function) within Amplify CLI to accomplish what you want to do above. Please review the documentation and let us know if you have any additional questions. Thanks!

[2020-11-16 17:31] harrysolovay commented on #5060
Amplify DataStore might not be the best fit for this use case (dynamic models). You could use a single DynamoDB table to store many "models", wherein each row could vary from one another in terms of field names and types. You could have users send a JSON document to a lambda, which would handle the interaction with that table... I'm not sure if GraphQL is the right tool for something like this (as

[2020-11-16 17:31] #5060 closed

[2020-11-16 17:37] MaximilianSchon commented on #7203
I implemented something like this. I added a custom field for Cognito for keeping track of organization (I called the field "organization", note that it will be created as "custom:organization").

I made a dynamodb table to keep track of organizations and I also duplicate my users there (which might not be neccessary, but it was the first approach I came up with).

Amplify even offers an admin API

[2020-11-16 17:42] harrysolovay commented on #5120
@richAtreides have you tried changing the MFA method with `Auth.setPreferredMFA` ?

[2020-11-16 17:48] mauerbac commented on #4593
hey @bneigher - sorry for the delay here. Would you mind re-testing with the latest push notification version ? I'd like to help you but need more information to debug or let us know if this is no longer an issue.

Thank you

[2020-11-16 17:51] bneigher commented on #4593
@mahayash315 don't worry about it.. I've had too many issues with amplify on react-native and I've since moved everything out of my app.  Pinpoint has really been a painpoint 😅

[2020-11-16 17:58] mauerbac commented on #4593
Sorry to hear that. Any feedback to pass along? Will close for now.

[2020-11-16 17:58] #4593 closed

[2020-11-16 18:04] DGabriel12 commented on #7132
My workspace :
VSCode
Node v12.18.2
React v16.13.1

Reproduced on localhost used amplify/cli for deployment.

the App component is mounting before sign-in, and it's causing the componentDidMount and/or useEffect hooks to prematurely fire.
![noUser](https://user-images.githubusercontent.com/69537253/99284128-2074e500-27f3-11eb-8cc7-f7a4ae7843f9.PNG)
![noUserErrorStack](https://user-images.githubuse

[2020-11-16 18:12] maretana commented on #7191
We fixed this on our team by making these changes on our package.json:
[code]

[2020-11-16 18:18] amhinson commented on #7191
@maretana The latest version of `amazon-cognito-identity-js` should still be compatible with here, but you might be running into mismatched versions due to the modular imports, which can have unexpected behavior. We now recommend just having `aws-amplify` (and `amazon-cognito-identity-js` for React Native) in your `package.json`, and then letting tree-shaking handle removing any unused dependencie

[2020-11-16 18:25] ericclemmons commented on #3474
@jbeckton Are you having issues with the Amplify JS client library in your Angular SSR app, or are your issues more related to hosting it?

[2020-11-16 18:25] mlxyz opened #7206 "DataStore throws exception when using dynamic group authorization with custom claim on subscription"
**Describe the bug**
I have the following schema:
[code]
The auth rule ensures that users can only read tenant item(s) with an id they are assigned to (using the "tenant" custom attribute). This  approach works flawlessly for gql queries.
When using DataStore to sync this model, it throws the following error when trying to setup the subscriptions:
`ERROR Error: Uncaught (in promise): TypeError: us

[2020-11-16 18:33] sammartinez commented on #6175
@harshraj93 Can you look to turn on the [debugger](https://docs.amplify.aws/lib/utilities/logger/q/platform/js#setting-logging-levels) and see if you are seeing the the [following message](https://github.com/aws-amplify/amplify-js/blob/e85640a4e18fa1d55411038fee58919ad73121fa/packages/core/src/Credentials.ts#L482-L483): `removing aws-amplify-federatedInfo from storage'`.

I have a feeling, since w

[2020-11-16 18:49] sammartinez commented on #6823
This seems to be related to Amplify CLI instead of Amplify JS. Transferring this issue.

[2020-11-16 18:52] sammartinez commented on #6834
This seems specific to `amplify mock` which is an Amplify CLI feature. Transferring this issue to the Amplify CLI repository.

[2020-11-16 18:53] davidgatti commented on #3607
End of 2020 and the issue persist, classic Amplify code quality... ehh..

[2020-11-16 19:06] samwightt commented on #5054
Do we have a date for the release of the lazy loading feature? Very disappointing that such a basic feature has not been implemented and has not received attention.

[2020-11-16 19:11] MaximilianSchon opened #7207 "Storage does not work if withSSRContext have been called"
**Describe the bug**
Storage does not work if you have used called the "withSSRContext()" function.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a next app following this tutorial: https://docs.amplify.aws/guides/hosting/nextjs/q/platform/js, no need to add hosting.
2. Add storage (an S3 bucket).
3. Call withSSRContext()
4. Try to use Storage

**Expected behavior**
To be able to u

[2020-11-16 19:32] sadooghi commented on #7191
@amhinson thank you, yes that was the problem I think. It works right now.

[2020-11-16 19:32] #7191 closed

[2020-11-16 19:46] uncodable commented on #7203
Hi @pedroapfilho

You're looking for something like this? https://medium.com/@dantasfiles/multi-tenant-aws-amplify-cc3252c4def4

Organization has many Users?
User belongs to many Organizations?

[2020-11-16 19:49] pedroapfilho commented on #7203
@uncodable Organization has many users; User belongs to only one organization.

[2020-11-16 19:52] uncodable commented on #7203
@pedroapfilho I would look at the examples in the above medium article, this will help you achieve what you're looking to do.

[2020-11-16 19:56] uncodable commented on #7201
Type `tel` is on the `amplify-phone-field` component https://github.com/aws-amplify/amplify-js/blob/dbd46299af9c558251b8c652c3e50208982655c8/packages/amplify-ui-components/src/components/amplify-phone-field/amplify-phone-field.tsx#L36

[2020-11-16 20:01] pedroapfilho commented on #7203
Nice! I'll read it!

Another one would be how to attach a Cognito user to a User model? And if so, should I do it?

[2020-11-16 20:54] amhinson commented on #5457
@Jun711 Were you able to solve your issue? There have been some improvements around this since your last comment, so I'm curious if you're still seeing the error.

@rahulje9 Did you figure out the issue about the splash screen? This seems more related to React Native than Amplify specifically, but I can give some recommendations on where to look if you're still having a problem.

[2020-11-16 21:01] amhinson commented on #6573
@srchulo This is in a Nuxt app, correct? Would you be able to share your `package.json`?

[2020-11-16 21:20] harrysolovay commented on #5162
You can grab a unique identifier from the response of `currentUserPoolUser`, and then include it as the `address` when calling `updateEndpoint` (with `attributes`). [See here](https://docs.amplify.aws/lib/analytics/getting-started/q/platform/js#update-your-iam-policy).

[2020-11-16 21:20] #5162 closed

[2020-11-16 21:26] harrysolovay commented on #4555
This is a service-team issue: managing the relationship between user pool TOTP & federated auth requires more custom logic than is built into the hosted UI flow.

[2020-11-16 21:26] #4555 closed

[2020-11-16 21:38] harrysolovay commented on #4807
The `connection` directive requires the `name` field of the input object to be unique for the 1-1 relationship between models.

Aka. make this change:

[code]

[2020-11-16 21:38] #4807 closed

[2020-11-16 21:39] sammartinez commented on #6880
@NTonani Is there any code snippets you can provide with what you are calling with the Analytics category? Also, I am seeing the type error reference so I'm assuming that your codebase is majority in TypeScript? Thanks ahead of time

[2020-11-16 21:39] mercan-topkara commented on #6913
I am also looking into a solution for this.

[2020-11-16 21:41] sammartinez commented on #6934
This seems to be related to Amplify CLI instead on Amplify JS. Transferring this issue to the Amplify CLI repository.

[2020-11-16 21:43] makeitraina opened #7209 "API.get returning 403 on Chrome with Windows"
**Describe the bug**
When I make a GET request using Chrome on a Windows machine I get an InvalidSignatureException. If I make the exact same request on Chrome on a mac the request returns successfully.

**To Reproduce**
[code]

I get a 403 with these headers (even thought OPTIONS request is successful)
[code]

**Expected behavior**
200 status

**What is Configured?**
AWS-Amplify is configured  ma

[2020-11-16 21:44] harrysolovay commented on #5129
Configuring custom OIDC providers is out-of-scope for the JS library. Transferring to the CLI repo.

[2020-11-16 21:48] sammartinez commented on #4932
@hectomg Thanks for this feedback. I am going to mark this as a feature request since this is not possible with the PubSub category as it currently stands. As chance you can share the Wrapper library you created to do this? It would help us as we think through on next steps for this. Thanks ahead of time

[2020-11-16 21:52] harrysolovay commented on #5503
This is the expected behavior; it would be insecure for the Cognito service to show that users exist but are disabled. Bad actors could check to see whether an email account / phone number / etc. is registered.

If this is essential to your use case, you can create an endpoint for using the admin APIs to check the disabled status of a user. But this is not something that we would support through t

[2020-11-16 21:52] #5503 closed

[2020-11-16 21:54] amhinson commented on #5774
@kimfucious If I'm understanding correctly, it seems like when you return to the app from `Expo.AuthSession`, the `AppState` `change` event listener is called, which Amplify is listening for in order to handle the Cognito Hosted UI callback. Perhaps we need some more checks inside [`_handleAuthResponse`](https://github.com/aws-amplify/amplify-js/blob/main/packages/auth/src/Auth.ts#L1909) to make s

[2020-11-16 21:54] harrysolovay commented on #4922
Similar to / suggestion contained within #5162

[2020-11-16 21:54] #4922 closed

[2020-11-16 21:58] jbeckton commented on #3474
I never ended up using Amplify due to the issues around SSR, I absolutely have to have it. My issues were related to hosting since I never actually got my solution deployed I can only assume the library works as expected running in Node.

[2020-11-16 22:02] harrysolovay commented on #7095
You can specify a custom [`Cache-Control`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control) header by including it under the key `cacheControl` on the `config` (optional) that you supply to `Storage.get`.

Supplying `"no-cache"`, for instance, will ensure that it's always re-validated.

[2020-11-16 22:02] #7095 closed

[2020-11-16 22:03] harrysolovay commented on #4322
Same as #7095

[2020-11-16 22:03] #4322 closed

[2020-11-16 22:04] ericclemmons commented on #3474
I understand.  I can't speak to the deployment story for Angular with SSR (EC2? Vercel? Serverless?) as well a I can for React/Next.js/etc..

But I don't feel we can close this until we validate `withSSRContext` behavior works _with_ Angular SSR:

[2020-11-16 22:05] sammartinez commented on #6885
@borisdayma Thanks for reporting this, in checking the code, I am seeing this as a miss on our side and we need to further step up validation for fields besides phone number, email, and password as you have called out. I do want to call out that we are busy with other priorities within the library and may not get to this for a little bit of time. However, if you are up for it, we would accept a co

[2020-11-16 22:08] harrysolovay commented on #5664
You can wrap your calls with a [`navigator.onLine`](https://developer.mozilla.org/en-US/docs/Web/API/NavigatorOnLine/onLine) condition and handle retry / postponement logic as best fits your use case.

Also, we'd be grateful for any PRs, if you're interested in building this into the category (we'd of course review it).

[2020-11-16 22:08] #5664 closed

[2020-11-16 22:11] ericclemmons commented on #6885
Here are the two places that could have `required` added:

https://github.com/aws-amplify/amplify-js/blob/dbd46299af9c558251b8c652c3e50208982655c8/packages/amplify-ui-components/src/components/amplify-form-field/amplify-form-field.tsx#L53-L63

https://github.com/aws-amplify/amplify-js/blob/dbd46299af9c558251b8c652c3e50208982655c8/packages/amplify-ui-components/src/components/amplify-input/amplify-

[2020-11-16 22:14] harrysolovay commented on #4433
Yes: if the user has previously logged in, there is a persisted refresh token and device key, which are used to go through an [`InitiateAuth`](https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_InitiateAuth.html) handshake and get fresh tokens. This is safe.

Voided by the response to `1`?

As for your question about making calls on the server-side: you can absolutely

[2020-11-16 22:14] #4433 closed

[2020-11-16 22:16] harrysolovay commented on #5855
Yes––this would be a question for the AppSync service team.

[2020-11-16 22:16] #5855 closed

[2020-11-16 22:17] harrysolovay commented on #7164
Hopefully we can get some more feedback from the community on this request.

In the meantime, we'd be more than happy to review a PR!

[2020-11-16 22:18] sammartinez commented on #6942
@aloknecessary Are you following the setup steps for push notifications [here](https://docs.amplify.aws/lib/push-notifications/getting-started/q/platform/js)? Are you following the setup for the `gradle` changes listed under [Setup for Android](https://docs.amplify.aws/lib/push-notifications/getting-started/q/platform/js#setup-for-android) ? Please let us know.

[2020-11-16 22:20] sammartinez commented on #6949
I am moving this to the Amplify CLI repository as this seems to be an issue with the codegen models

[2020-11-16 22:24] sammartinez commented on #6963
Thanks for reporting this @halfdanrump, this is related to Amplify CLI. Transferring this issue to the Amplify CLI team.

[2020-11-16 22:33] sammartinez commented on #6966
@duncangroenewald Was there a reason for the use of the `$condition`? Since it is an optional parameter, I believe you solved your own issue here :). Please let us know if you were needing to use the `$condition` flag for whatever reason and we can look to investigate this further. Thanks!

[2020-11-16 22:35] idanlo commented on #5162
@harrysolovay how is that an answer? And why did you close the issue? If I set some random string as the address then I will not get push notifications because pinpoint will not have the device's push notification token.

Also you didn't answer my question - is Amplify automatically doing the updateEndpoint with the address or no?

[2020-11-16 22:35] sammartinez commented on #6967
@GlebKozenko Thanks for reporting this. Can you provide your `package.json` along with your environment settings?

Please use the follow command:
[code]

Also, do you have a link to the networking bug you are calling out for Flipper?

Thanks ahead of time!

[2020-11-16 22:41] sammartinez commented on #6968
This seems to be related to the Amplify CLI repository instead of Amplify JS. I have transferred this issue to the Amplify CLI team to look into.

[2020-11-16 22:50] srchulo commented on #6573
Sure!

[code]

[2020-11-16 23:00] harrysolovay commented on #7173
Use the `currentAuthenticatedUser` call (or, it seems you want the `currentUserInfo` method) instead of awaiting the hub event.

You can display a spinner or some loading state for the first paint, or you can block rendering by returning undefined. Send off the request, and then––upon the user data retrieval––set it in state, as to render out the appropriate pane.

[code]

[2020-11-16 23:00] #7173 closed

[2020-11-16 23:02] harrysolovay commented on #7203
Transferring to the docs repo

[2020-11-16 23:08] harrysolovay commented on #7202
^ this is the issue. `amplify-js` is a front-end library that takes care of tasks such as persisting refresh tokens and device IDs as to re-establish authentication. After all, tokens expire every 5 minutes or so.

This is not a use case that we support as of right now. If you're not using the front-end auth flow features of `@aws-amplify/auth` nor SRP auth in the underlaying `amazon-cognito-ident

[2020-11-16 23:08] #7202 closed

[2020-11-16 23:24] mellymelon opened #7210 "Error: Subscriptions are not supported for Server-Side Rendering (SSR)"
[code]
Why do subscriptions not work in the mounted hook?

[2020-11-16 23:25] sammartinez commented on #7201
@adampblack, @uncodable is correct. Are you using these [UI Components](https://docs.amplify.aws/ui/auth/authenticator/q/framework/react) within Amplify? Please let us know.

[2020-11-17 00:07] amhinson commented on #5774
@kimfucious Actually, I just attempted to reproduce this issue and i'm seeing some slightly different behavior. I followed your reproduction steps exactly and am using the same `handleSpotifyAuth`. With all that, I am able to successfully authenticate with Cognito as well as Spotify (via `AuthSession`) independently without any errors.

One difference for me that I do see is the callback URL comin

[2020-11-17 00:14] amhinson commented on #6573
Ok thank you!

For clarity, are you running any of this code in a Lambda? I'm particularly looking at `apiCallWrapper`.

[2020-11-17 00:20] sammartinez commented on #6575
Hey @michaelcuneo, apologizes for the late response here, I do want to callout that I am treating this as a feature request as we do not support currently for Sapper nor Svelte within Amplify JS.

[2020-11-17 01:04] ejjick commented on #7165
Thank you @sammartinez . I hope to be able to use it one day.

[2020-11-17 01:05] michaelcuneo commented on #6575
Since posting to this issue I have found that the issue was the lack of import and initialisation of both sides of the Sapper architecture. Sapper runs a Server and Client. Both server.js and client.js need to be set up with the aws-exports config, and the relative login and or hub response need to be synchronised through the Svelte/Sapper store between both sides.

Since this fix, the functionali

[2020-11-17 01:05] #6575 closed

[2020-11-17 01:09] michaelcuneo commented on #6575
i.e. place the following into both server.js and client.js within the Sapper App.

[code]

Then the client and server are both set up to use the authentication.

Subsequently, the sapper.start, and polka().use in each client and server respectively can be used to sync any response from amplify hub to rehydrate login.

[2020-11-17 01:43] srchulo commented on #6573
No problem!

All of this code is run client side in the browser in my Nuxt app.

[2020-11-17 02:05] tjleing commented on #7199
Hello!  I'm going to look into the issue more tomorrow, but in the meantime, have you tried simply removing the `amazonClientId`?
[code]
Thank you for using Amplify 😄

[2020-11-17 03:52] ZhengZou2315 commented on #6695
Hello Man,

     Could you share some insights here, how to use the nginx to allow 443? I also have this error and not sure how to resolve it~~~

Thanks~

[2020-11-17 06:10] harshraj93 commented on #6175
@sammartinez I believe it is something to do with the Chrome browser as worked right with Safari and currently, we are not getting any message like 'removing aws-amplify-federatedInfo from storage'.
I have mentioned above the message we get while executing the SignOut method that prevents the clearing of tokens.
The message is per below
**'Cross-Origin Read Blocking (CORB) blocked cross-origin res

[2020-11-17 06:56] ericluwj opened #7213 "Auth.signOut() doesn't log user out of social federation"
**Describe the bug**
In Expo (React Native), `Auth.signOut()` does not log user out of social federation, hence user is unable to switch social federation account.

**To Reproduce**
Steps to reproduce the behavior:

1. Set up Expo (React Native) project based on https://docs.amplify.aws/lib/auth/social/q/platform/js#deploying-to-amplify-console
2. Sign in using `Auth.federatedSignIn({ provider: 'F

[2020-11-17 06:56] theslyone commented on #390
@morgler checkout https://medium.com/@jan.hesters/how-to-access-the-user-in-lambda-functions-with-amplify-4f531dc6af51. Describes adding this functionality as an express middleware in your lambda function

[2020-11-17 07:13] adampblack commented on #7184
Yes, you are correct.

I have just tested this and the slot setting was the issue.

The root cause of this problem was that the AmplifyConfirmSignIn code was shown under the AmplifyConfirmSignUp component which I had copied and pasted - I changed the component name but forgot to change the slot setting.
https://github.com/aws-amplify/docs/issues/2659#issuecomment-728105325

Thanks for suggestion,

[2020-11-17 07:13] #7184 closed

[2020-11-17 07:45] adampblack commented on #7201
I have run:
yarn upgrade --latest

info All dependencies
├─ @aws-amplify/analytics@3.3.11
├─ @aws-amplify/api-graphql@1.2.11
├─ @aws-amplify/datastore@2.7.3
├─ @aws-amplify/predictions@3.2.11
├─ @aws-amplify/ui-components@0.9.3
├─ @aws-amplify/ui-react@0.2.28
├─ @aws-amplify/ui@2.0.2

To answer your question I am using:
import { AmplifyAuthenticator, AmplifyConfirmSignIn, AmplifyConfirmSignUp, Amp

[2020-11-17 08:08] abdulqudoos commented on #7070
I also faced connection closed issue today.

[2020-11-17 08:54] NodeKing opened #7214 "unauthorized users can write to local datastore"
**Describe the bug**
unauthorized users in the schema.graphql file can still write data to the local datastore. A warning message is displayed in the console, but data still resides in the local datastore. Essentially, data is written to the local datastore, but then fails to sync with DynamoDB. This leads to data inconsistencies between the front and back ends.

Obviously I could write logic in t

[2020-11-17 10:37] abdulqudoos commented on #7070
{
  "provider": {

    "socketStatus": 0,
    "keepAliveTimeout": 300000,
    "subscriptionObserverMap": {},
    "promiseArray": [],
    "awsRealTimeSocket": null,
    "keepAliveTimeoutId": 202
  },
  "error": {
    "errors": [
      {
        "message": "Connection closed"
      }
    ]
  }
}

[2020-11-17 11:11] leondroidgeeks commented on #3611
I would like to request to open this issue again. The solution by @manueliglesias worked in a dev environment with `ng serve` but as soon as I build with `ng build --prod` and host the project, I get the following error in the browser when calling the code:
`TypeError: undefined is not an object (evaluating 'hw.CognitoHostedUIIdentityProvider.Google')`

[2020-11-17 12:29] davekiss commented on #1715
@mikeRChambers610 you have to pass the object returned by `Auth.signIn()` instead of a username string. There isn't anything in the session yet, so @nikhilknoldus suggestion will not work

Here's an example using React: https://gist.github.com/davekiss/9af08fde4ce2d40e306a35028583d6e5

[2020-11-17 13:07] markeames opened #7215 "Now way to pass subscription parameters to Angular generated API"
**Filtering subscriptions by field types does not work for Angular generated API.service.ts**

When defining subscription types for Angular there is no way to pass the defined parameter via the generated API

**To Reproduce**
Steps to reproduce the behavior:
Step 1: Define an entity and set subscriptions to null  as per  (https://docs.amplify.aws/cli/graphql-transformer/examples#filter-subscriptio

[2020-11-17 14:27] iartemiev commented on #7214
Hey @NodeKing, currently, DataStore does not enforce auth rules clientside. This is by design, as we want the AppSync back end to serve as the only source of truth for authorization rules. We recommend that customers add their own business logic around this in their applications.

Also, just want to point out that the `queries` and `mutations` arguments [are deprecated](https://docs.amplify.aws/cl

[2020-11-17 14:59] markeames commented on #7215
Hmm maybe it is meant to work like this
this.apiservice.OnCreateChangeSourceListener.filter(this.group).subscribe({
      next: (data) => console.log(data)
    });
Late now, try it out tomorrow

[2020-11-17 15:11] asungomez commented on #2582
Hey

I was concerned about the security issues pointed out in https://github.com/aws-amplify/amplify-js/issues/2582#issue-401015157, so I've been attempting to edit another user's password using an `Auth.completeNewPassword` equivalent request. The process has been:

1. Create a new user using an invitation message and set its new password as recommended.
2. Check the request sent to Cognito by Am

[2020-11-17 15:38] nicolasheady commented on #4439
I'm doing this same thing, but in my Pre Sign-up lambda, clientMetadata is not even in the request. validationData is, but it's null.

[2020-11-17 15:53] harrysolovay commented on #7188
@dmitri-afonin thank you for your patience as we resolve this.

@elorzafe should [the aforementioned cache signature](https://github.com/aws-amplify/amplify-js/blob/e85640a4e18fa1d55411038fee58919ad73121fa/packages/cache/src/types/Cache.ts#L17-L25) be the same as [that of the `Cache` package](https://github.com/aws-amplify/amplify-js/blob/e85640a4e18fa1d55411038fee58919ad73121fa/packages/cache/src

[2020-11-17 16:17] nicolasheady commented on #175
Still no validation data possible with Amplify's Auth.signUp function.

[2020-11-17 16:22] nicolasheady commented on #6731
The [docs here](https://docs.amplify.aws/lib/auth/advanced/q/platform/js#pre-authentication-and-pre-sign-up-lambda-triggers) also say you can pass validationData/clientMetadata to Auth.signUp, but that doesn't appear to be the case when looking at the[ function definitions.](https://github.com/aws-amplify/amplify-js/blob/a047ce73/packages/aws-amplify-react/src/Auth/SignUp.tsx#L205)

[2020-11-17 16:39] iartemiev commented on #7215
Hey @markeames, you're correct that it's not currently possible to pass subscription arguments using `API.service.ts`, however, you can create a custom subscription listener using the API category:

[code]

Alternatively, you can re-configure codegen to generate typescript files instead of an angular service. The typescript files allow more flexibility around graphql operations. For example:

[cod

[2020-11-17 16:56] cyrfer commented on #6878
@ashika01 @ericclemmons I apologize for not making my issue clear. The way Hub works is I provide a callback function. The problem is that my callback function is not getting invoked for the event. I realize the logs say the SIGNIN event was dispatched, but after successful sign in, my callback is not fired which is why its log is not present FOR THE SIGNIN event with the following code,

[code]

[2020-11-17 16:56] amhinson commented on #6573
Ok cool. I know you've included a handful of code snippets, but would it be possible to provide a basic Nuxt repo that shows the behavior you're seeing (even if it is intermitted)? I want to reproduce this issue for you, but just want to make sure I'm starting in the same place as you are.

[2020-11-17 18:23] polmolea commented on #175
I just had some troubles with this and the docs are all over the place. The following should work with the latest version:
[code]

[2020-11-17 18:43] tjleing commented on #7199
Ah, now I understand your issue -- sorry, my advice was completely wrong then.

[2020-11-17 19:18] #6530 closed

[2020-11-17 19:37] amhinson commented on #7206
Hey @mlxyz thanks for opening this issue! 🙏  We've just merged a PR that should address the behavior you're seeing. You can test things out right now with `aws-amplify@unstable`. The fix will be included in the next release later this week or next week.

[2020-11-17 19:37] #7206 closed

[2020-11-17 19:37] wlee221 commented on #6530
Hi all, this should be fixed in #7121. Please let us know if this issue persists.

[2020-11-17 20:19] xsmcemmons commented on #7144
Hi, Using syncExpressions, i get this error on the code:..

![image](https://user-images.githubusercontent.com/63744088/99442944-dbd37180-28f8-11eb-957c-af8ea4716316.png)

I'm using the same  code given in  the documentation:

![image](https://user-images.githubusercontent.com/63744088/99443050-06bdc580-28f9-11eb-8509-8359ba93abbd.png)

Should I open another Issue for this one?

[2020-11-17 20:25] iartemiev commented on #7144
@xsmcemmons yes, please open a new issue

[2020-11-17 20:40] xsmcemmons opened #7217 "syncExpressions: Argument of type '() => symbol' is not assignable to parameter of type''"
Hi, Using syncExpressions, i get this error on the code:..

![image](https://user-images.githubusercontent.com/63744088/99442944-dbd37180-28f8-11eb-957c-af8ea4716316.png)

I'm using the same  code given in  the documentation:

![image](https://user-images.githubusercontent.com/63744088/99443050-06bdc580-28f9-11eb-8509-8359ba93abbd.png)

This is my configuration handler:
[code]

[2020-11-17 20:52] #7201 closed

[2020-11-17 21:15] #7217 closed

[2020-11-17 21:31] MontoyaAndres commented on #5435
I'm trying to execute `Auth.signOut` but sometimes the user is logout and sometimes not. This is what I'm doing:

[code]

When the user executes the function signOut, the page is reloaded, then the /page/MySecretPage.tsx executes this method to validate if the user has access or not:

[code]

This is the function withAuth:

[code]

Right now I have the `Amplify.configure` on the _app.tsx file. I h

[2020-11-17 21:56] nat-n commented on #7046
Encountering the same issue under similar conditions presently with a stack I just deployed via amplify 4.32.1

I'm using Cognito user pool based auth, though the error kind of makes it sound like AppSync is sometimes randomly failing to authenticate with DynamoDB.

[2020-11-17 22:19] ChihweiLHBird commented on #7199
No worries, lol.
Do you need any other information, like our config file?

[2020-11-17 22:42] amhinson commented on #5935
@cnorthwood Are you alright with closing this issue, or are you still having issues related to this?

[2020-11-17 22:49] amhinson commented on #6122
@dubchoi Thanks for identifying this gap in the documentation here! 🙏

We have a pending PR to update the docs and call out this use case not being supported at this time. I'm labelling this as a feature request so we can continue to track any interest, and we will post any future updates here as they come.

[2020-11-17 23:33] IvanCaceres commented on #4652
@iartemiev I'm attempting to do a simple sort ascending sort on a string field with Datastore but not seeing the model results being sorted:
[code]

And this is what that bit of schema looks like:
[code]

I'd greatly appreciate some insight as to why the sorting isn't working when following the example in the docs.

[2020-11-17 23:55] amhinson commented on #7194
@contractorwolf Closing this issue for now, as it appear that you've solved your problem 🙂  Also, for any further help related to deploying your application to the Amplify Console, their [repo](https://github.com/aws-amplify/amplify-console) would probably be a better place to open up an issue for a faster resolution.

[2020-11-17 23:55] #7194 closed

[2020-11-17 23:59] amhinson commented on #7205
@ranopriyo-neogy Would you be able to provide a small repo showing the behavior you're seeing? Calling `Amplify.configure()` doesn't actually make any API calls for `Auth` or `API`, it only provides the necessary configuration for each.

[2020-11-18 00:13] tjleing commented on #7199
I'm struggling a little bit to reproduce your behavior.  Locally, setting
[code]
shows the "Sign in with AWS" button, and removing the oauthConfig variable causes it to disappear.  So I'm not entirely sure what's different about your code base to cause this difference in outcome.  The only possibility (other than oauthConfig accidentally being added at some point in your code) that I can think of

[2020-11-18 00:16] amhinson commented on #7213
I have seen this behavior before. It does appear to be a limitation with Cognito right now, unfortunately. I've attached a few similar issues and StackOverflow questions for more context. There are a few potential workarounds presented in those, but they might not fit your use case entirely. I'm closing this for now, but we can use #3933 for tracking purposes on this feature request.

- https://gi

[2020-11-18 00:16] #7213 closed

[2020-11-18 00:33] tjleing commented on #7201
This should be resolved in the next release now that #7211 is merged in!

[2020-11-18 00:51] ChihweiLHBird commented on #7199
Thank you for your effort on solving this.
I do have `"oauth"` value in the config value, so is there any way to disable Login With AWS button while having the oauth config?

[2020-11-18 00:52] ChihweiLHBird commented on #7199
Thank you for your effort on solving this.
I do have "oauth" value in the config value, so is there any way to disable Login With AWS button while having the oauth config?

[2020-11-18 01:00] ranopriyo-neogy commented on #7205
@amhinson - Here's the repo link -  https://github.com/ranopriyo-neogy/multi-account-viewer/blob/master/Front-End/src/App.js

[2020-11-18 01:01] jcowley commented on #6731
I've gotten the `validationData` to show up in `event.request`, but only in the migrate user lambda trigger. I have not been successful in passing `clientMetadata` to any lambda trigger.

This is pretty limiting, and I need it for several use cases as we migrate our users into Cognito.

It's not clear to me if this is a Cognito bug or an Amplify bug, at this point. Careful reading of the Cognito d

[2020-11-18 01:14] ranopriyo-neogy commented on #7205
@amhinson - Here are the screenshots: Actual & Expected

<img width="1424" alt="Page Hung-up and fails to load completely " src="https://user-images.githubusercontent.com/68603179/99469669-3ed10280-2911-11eb-9653-a3bc83d9108b.png">

<img width="1435" alt="Expected Page After Authentication" src="https://user-images.githubusercontent.com/68603179/99469672-41cbf300-2911-11eb-880d-6dd2fb40ba2f.png">

[2020-11-18 01:46] adampblack commented on #7201
Great job, thanks @tjleing

[2020-11-18 02:45] Jarrettgohh commented on #1907
Hey i know its been a long time, but i got this issue recently and managed to solve it by importing the aws-export.js file: import awsConfig from './aws-export.js' and then API.configure(awsConfig). Hope it still helps :)

[2020-11-18 02:46] nubpro commented on #5963
@wei Does your PR surfaces the error to `DataStore.errorHandler()`?

[2020-11-18 03:06] wei commented on #5963
This method should work now:

![Kapture 2020-11-17 at 22 04 59](https://user-images.githubusercontent.com/5880908/99477700-089b7f00-2921-11eb-946f-80441770eaf7.gif)

[2020-11-18 03:53] nubpro commented on #5963
@wei That is looking good, but my concern is what will happen if DS is syncing corruped data from AppSync? This could happen if someone had accidentally or carelessly incorrectly manipulated the data directly in DDB.

[2020-11-18 04:23] dbhagen commented on #5435
Wow, I'm just hitting the same issue, @MontoyaAndres! Amazing timing. Out of curiosity, are you using SSO of any kind?

[2020-11-18 04:45] VolodymyrPliuta commented on #7173
@harrysolovay The solution you provided is working. it is going to have Loading component forever.
I tried to use `Auth.currentAuthenticatedUser()` before I switched to `Hub.listen("auth"...`
But even if I refactor solution you provided and then setUser, and change loading to `false` after `user info` will be retrieved
_Users still going to see SignIn component after Cognito redirects it to `redir

[2020-11-18 06:05] wei commented on #5963
When that happens, AppSync sync requests will fail:

![image](https://user-images.githubusercontent.com/5880908/99484357-3509c800-292e-11eb-99b4-5f50fec71481.png)

which is where you are getting that error message

You don't see this error right away because the wrapper function `jitteredExponentialRetry` is swallowing it and retrying it with exponential backoff.

https://github.com/aws-amplify/am

[2020-11-18 06:45] laclance commented on #6488
`
[DEBUG] 39:05.22 DataStore - GraphQL endpoint available https://###.appsync-api.eu-west-1.amazonaws.com/graphql
  ConsoleLogger.ts:91 [INFO] 39:05.38 DataStore - starting sync engine...
ConsoleLogger.ts:91 [DEBUG] 39:05.438 AuthClass - getting current credentials
ConsoleLogger.ts:91 [DEBUG] 39:05.439 Credentials - getting credentials
ConsoleLogger.ts:91 [DEBUG] 39:05.440 Credentials - picking up

[2020-11-18 06:45] laclance commented on #6488
maybe has something to do with cognito?

[2020-11-18 07:28] NodeKing commented on #7214
I thought that might be the case, thanks @iartemiev

[2020-11-18 07:28] #7214 closed

[2020-11-18 09:39] cnorthwood commented on #5935
Yes, the advice given at https://github.com/aws-amplify/amplify-js/issues/5935#issuecomment-635663704 resolved this for me

[2020-11-18 09:39] #5935 closed

[2020-11-18 10:01] adampblack commented on #7197
I have a solution using **inputProps** in **formFields**:

formFields={[
            {
              **inputProps: {
                onfocusout: (objFocusEvent) => {
                  const objSelector = objFocusEvent.target;
                  objSelector.value = objSelector.value.replace(/^0/, '');
                }
              },**
              label: t('Mobile phone number'),
              p

[2020-11-18 10:01] #7197 closed

[2020-11-18 11:26] shenmander commented on #7117
any solution? getting the same problem