[2019-05-08 21:55] #1047 closed

[2019-05-08 22:19] uncle-scooter commented on #612
There should be little to no lock-in for delivery of codes. If I was able to have more control of the delivery mechanisms then we wouldn't have to be writing our own work-arounds.

Would be much better if Cognito/Amplify let us drop in our own delivery method and modifications and not just stuck to SES and SNS without access to the params.

[2019-05-08 22:58] michaelcuneo commented on #2645
Seems to work for me and everyone else, the amount of data and users wouldn't affect the AWS_IAM authorisation.

[2019-05-08 23:28] andrewoh531 commented on #3224
Thanks for the response. In general is there a recommended and secure way of using Amplify? Aside from implementing my own storage, it seems as though the examples for using Amplify with Cognito aren't secure from XSS.

[2019-05-09 08:32] Maleandr commented on #3225
Same problem for us here. CORS is enabled, but when I try fetch from Api Gateway with custom domain name it fails with CORS issue.

[2019-05-09 09:05] LosD commented on #3207
@elorzafe @manueliglesias Could I get someone to look at this, and possibly the PR?

At least to me, it's a pretty critical regression that potentially breaks for everyone using the registered/global instance (which includes those using the Angular service), to make it worse, it is in a way that will not be clear until later when the files are needed, so a code change is not enough, it requires ac

[2019-05-09 09:45] ambeshHappiestMinds commented on #3233
To those who are still facing this issue

To resolve this followed following post
https://github.com/facebook/react-native/issues/15786#issuecomment-404834632

basically this issue occurred since JavaScriptCore  might be not updated on your device or emulator your best bet will be to try jsc-android-buildscripts to provide this compatibility below is the instruction to integrate same on Android

h

[2019-05-09 09:46] EgidioCaprino commented on #3089
Try adding the following to your `awsconfig`:

[code]

[2019-05-09 10:03] Samykills commented on #3233
@ambeshHappiestMinds Does it solve the problem for you?
i started receving this error two days ago and before that all was well.
I am on target api version 27 and also i get the same on IOS

[2019-05-09 10:30] thde commented on #1805
Sure @powerful23 I'm using this in a lambda function:

[code]

[2019-05-09 10:33] ambeshHappiestMinds commented on #3233
@Samykills  yes it did i was able to create Andorid builds properly

[2019-05-09 10:40] Samykills commented on #3233
@ambeshHappiestMinds  ios?

[2019-05-09 10:42] ambeshHappiestMinds commented on #3233
opps sry iOS i was able to create builds easily since our deployment target was greater tha 10 on this we did not got this issue i suggest you may use react-native 0.57.5and check

[2019-05-09 11:14] Sheleya commented on #3240
The app was created by react-native init.
 - "react-native": "0.59.5"
 - "aws-amplify-react-native": "^2.1.11"

[2019-05-09 11:15] Sheleya commented on #3240
The app was created by react-native init.

"react-native": "0.59.5"
"aws-amplify-react-native": "^2.1.11"

[2019-05-09 11:30] irwansyahwii opened #3247 "Facebook login using withOAuth() always failed in React-Native"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Use withOauth() example in React-Native
2. Click on the login using Facebook button
3. Login failed with "invalid request" error message

**Expected behavior**
Should return the token from Cognito

**Screenshots**

**Desktop (please complete the following information):**

[2019-05-09 11:32] irwansyahwii commented on #3247
The bug is caused by this line:  https://github.com/aws-amplify/amplify-js/blob/db55ff3dff31c64a246180f39eb0a04a89fd16e1/packages/auth/src/OAuth/OAuth.ts#L144

When I commented the code to be like these:
[code]

It works! When I tried using POSTman with the raw parameter also success

[2019-05-09 11:47] adamfoerster opened #3248 "v1.1.27 Runtime error with @types/zen-observale: error TS2300: Duplicate identifier 'Subscriber'."
I'm trying to use AWS Amplify with an Angular APP but I get an error with the Subscriber type in zen-observable that prevents me from building it.
--
ERROR in node_modules/@types/zen-observable/index.d.ts(33,14): error TS2300: Duplicate identifier 'Subscriber'.
node_modules/@aws-amplify/api/node_modules/@types/zen-observable/index.d.ts(32,14): error TS2300: Duplicate identifier 'Subscriber'.
--
If

[2019-05-09 12:28] jmandivarapu1 commented on #3231
"Reopened Just have few questions and don't want to open new request"

Firstly the solution to above question to get files and folders in given path is
[code]
Finally in newarry you will have all the Folders and new_doc_array will have all the files for a given folder. Replace s.peek() with your path Name

Now Here is my Few Question I have before moving forward with integrating Storage into my En

[2019-05-09 12:47] duke7able commented on #443
has anyone found a solution for with lamda

[2019-05-09 14:44] dinukasal commented on #3057
I also got this error,
versions, aws-amplify: 1.1.27
aws-amplify-react-native: 2.1.11
It seems we cannot use amplify in react native for social login.

[2019-05-09 14:45] GORGES commented on #2828
Any progress on this problem? I updated to the latest Amplify libraries for a JavaScript project, and now I am unable to list the contents of a bucket. There is NO OTHER feedback even when logging is activated - I just get an empty set back without any error messages. This is a darn important feature.

[2019-05-09 14:46] dinukasal commented on #3233
this worked for me. thanks @ambeshHappiestMinds

[2019-05-09 15:48] nelsynelz opened #3249 "Amplify Console - Build Failing"
**Describe the bug**
Build is failing when using the Amplify Console. The error message does not provide very much info, but you can see it below.

**To Reproduce**
1. Attempting to deploy either on initial deploy or when I click "Redeploy this version" will fail with the same error on the build page.

**Expected behavior**
I expected the console to finish the deployment and not fail on the build

[2019-05-09 16:16] henrysachs commented on #3193
any update on this?

[2019-05-09 17:00] sandeshakya commented on #3236
@powerful23 , that's the kind of functionality I was hoping could be added to Amplify. Good find. Thank you.

[2019-05-09 17:02] sandeshakya commented on #3236
@undefobj , might make more sense to have it in the Get operation, similar to @powerful23's post.

[2019-05-09 17:14] powerful23 commented on #3249
Related to #3246

[2019-05-09 17:54] powerful23 commented on #3245
@matthieunelmes Hi when using the Cognito OAuth, to get the refresh token you have to use the `Authorization code grant` flow rather than `token` flow by the Cognito doc: https://aws.amazon.com/blogs/mobile/understanding-amazon-cognito-user-pool-oauth-2-0-grants/

I will also add more info in the amplify doc.

[2019-05-09 18:08] kjetilge opened #3250 "Authenticator email field has no type="email" in VUE"
**Describe the bug**
A clear and concise description of what the bug is.

Authenticator email field does not get type="email"

**To Reproduce**
Steps to reproduce the behavior:
1. Add Authenticator
2. Poulate authConfig and use type: 'email' in signUpField for username
3. Go to login page
4. Inspect the login username/email field: no type="email" !

**Expected behavior**
The login username / input

[2019-05-09 18:20] matthieunelmes commented on #3245
Thanks @powerful23 I'm guessing it's not as simple as setting responseType to 'code' as now I'm getting error: `unauthorized_client`

[2019-05-09 18:43] rahulserver opened #3251 "Vue amplify-authenticator messed up layout on hiding phone_number"
On hiding the phone_number signup field using `hiddenDefaults` like below code, the signup form looks a bit off as in screenshot attached.

[code]

The form looks like this now:

![image](https://user-images.githubusercontent.com/5101740/57478352-4e04d800-72b8-11e9-878d-71c6ac31ef50.png)

There is no space between Log in link and Create Account button.
In no way can I use this in production if I h

[2019-05-09 19:05] yareyaredesuyo commented on #2901
yeah, this issue is not documented and related to AppSync resolver and DynamoDB.

It maybe good to add example or docs.

[2019-05-09 19:05] nimacks commented on #3249
Hi @nelsynelz, it looks like the name of your new environment you created begins with a capital P, as in `Prod`. The environment name should be only lowercase characters. To resolve this, go to your environment variables and rename it to use lowercase.

After you've done that you should be able to import the backend environment deployed by the Amplify Console to your repo (the amplify/team-provide

[2019-05-09 19:13] yareyaredesuyo commented on #2901
In stackoverflow answer , someone told 「there is not good way 」

is this true ?

https://stackoverflow.com/questions/52257248/how-to-get-the-total-number-of-records-count-present-in-dynamodb-using-resolver

[2019-05-09 20:02] powerful23 commented on #3208
@ak37165 Hi, I have verified from Cognito team that the reset code should only contain digits.

[2019-05-09 20:13] b-tiwari commented on #3175
@koolkav1 , sorry for late reply, sorry I was moved to some other assignment and didn't get chance to further work on this after I ran into [this issue](https://github.com/aws-amplify/amplify-js/issues/3159). I would probably get back to this next week and would let you know if I find something

[2019-05-09 20:16] swaminator commented on #3249
@powerful23 seems like you weren't successful. What error message are you seeing now?

[2019-05-09 20:21] powerful23 commented on #3238
@raquila you can try to use Amplify and  the `Auth.federatedSignIn({provider: ${THE_PROVIDER_NAME}})` to directly open the login page of that SAML provider.  Please take a look at this doc: https://aws-amplify.github.io/docs/js/authentication#social-provider-federation

[2019-05-09 20:34] powerful23 commented on #3234
@NuruddinBadawi Hi, this is quite a general question.

From my understanding, you are trying to have two groups of users in the Cognito User: one group is the admin one and the other is the public one. When the user signs in, you want to render different views based on the user group that the user belongs to. Also you want to give different IAM policy based on that too.

To achieve this you can cr

[2019-05-09 20:37] powerful23 commented on #3248
Related to #1435 #1732 #1284

[2019-05-09 20:39] powerful23 commented on #1191
Closing as this should have been fixed by #3173

[2019-05-09 20:39] #1191 closed

[2019-05-09 20:43] kevohagan commented on #3239
Brilliant! Thanks! :)

[2019-05-09 21:08] powerful23 commented on #3247
@irwansyahwii can make it clearer that what's your work around to make it work? Also can you provide the version of react native you are using?

[2019-05-09 21:21] powerful23 commented on #3250
@kjetilge Hi can you provide more details about this issue so we can reproduce issue? I can set the type to `email` successfully in my testing sample:
<img width="1253" alt="Screen Shot 2019-05-09 at 2 20 16 PM" src="https://user-images.githubusercontent.com/11042868/57487547-beced480-7265-11e9-9a6f-181b1b9ee1b6.png">

[2019-05-09 21:38] powerful23 commented on #3251
@rahulserver Hi which version of aws-amplify-vue are you using? Can you try the latest one?

[2019-05-09 21:43] nelsynelz commented on #3249
The environment variable fixed the error in the backend build stage, which is unfortunate because I tried changing that before I submitted the issue and I guess it never saved because it was still capital when I just checked back.

However now I'm hitting another error on the frontend part of the build. I can make this a new issue as this isn't related to the original issue.

[code]

[2019-05-09 21:56] powerful23 commented on #2690
Closing the issue. Please let me know if you still have this issue.

[2019-05-09 21:56] #2690 closed

[2019-05-09 21:57] powerful23 commented on #2677
Closing the issue. Please let me know if you still have this issue.

[2019-05-09 21:57] #2677 closed

[2019-05-09 22:00] powerful23 commented on #1800
Closing the issue. Please let me know if you still have this issue.

[2019-05-09 22:00] #1800 closed

[2019-05-09 22:00] powerful23 commented on #1171
Closing the issue. Please let me know if you want to reopen it.

[2019-05-09 22:00] #1171 closed

[2019-05-09 22:12] nelsynelz commented on #3249
I checked my package.json and it's missing the dependency for amplify along with the other packages it named here. I'll see if I can get them manually added as dependencies and try again.

[2019-05-09 22:33] jordanranz commented on #3153
Correct, you could listen to the state change with Hub. It would be an API specific loading event. For example, when clicking the Sign In button exemplified above, it executes Auth.signIn and would trigger an event like `signIn-loading` on the 'auth' channel.

[2019-05-09 22:40] nelsynelz commented on #3249
Worked through all of the above and now having an issue with my webpack version.

[code]

[2019-05-09 23:00] jordanranz commented on #3090
This seems like a necessary improvement. Definitely open to reviewing a PR.

I am currently working on an RFC to introduce web components with StencilJS. With this project we would ideally implement a similar design using [Stencil's state tunnel](https://stenciljs.com/docs/state-tunnel). These components could then be used in any framework including the major ones we support.

[2019-05-09 23:01] #3057 closed

[2019-05-09 23:28] jordanranz commented on #3242
What version of `aws-amplify-react` are you using?

[2019-05-09 23:29] #3174 closed

[2019-05-09 23:35] swaminator commented on #3249
Does `npm run build` work for you from your local machine?

[2019-05-09 23:38] nelsynelz commented on #3249
Nope same error. Somehow my Vue CLI was outdated which is probably the root of all of these issues. I just updated it and am in the process of creating a new project and migrating everything over to it.

[2019-05-09 23:50] powerful23 commented on #3245
@matthieunelmes did you enable the flow in your web client setting?
![Screen Shot 2019-05-09 at 4 50 08 PM](https://user-images.githubusercontent.com/11042868/57493601-871e5780-727a-11e9-9f40-e60ed3ab3239.png)

[2019-05-10 00:06] powerful23 commented on #2828
@willkara really sorry for the late response. From the debug log I can tell the path is not correct as it's `public//` rather than `images/photos`. If you want to your own customized path, please check the doc: https://aws-amplify.github.io/docs/js/storage#customization

[2019-05-10 00:07] powerful23 commented on #2828
@tmoore23 @GORGES @chai86 can you open the debug mode to see if credentials are loaded and the path is correct when calling `Storage.list`? Thanks!

[2019-05-10 00:18] ak37165 commented on #3208
Thanks, that works perfectly!

[2019-05-10 00:18] #3208 closed

[2019-05-10 02:51] rahulserver commented on #3251
@powerful23 I was on version 0.2.5. Updated to latest 0.2.10 and still get the same issue.

[2019-05-10 03:39] irwansyahwii commented on #3247
@powerful23 so I am trying to use Amplify's Facebook login. I am using the withOAuth HOC in RN. I am using RN version 0.59.6. When I click the button and call the facebookSignIn() method from the HOC, it was failed. When I traced and debug it turns out the problem was in the last step of the OAuth flow. When Amplify tried to get the token from https://domain.amazoncognito.com/oauth2/token it was f

[2019-05-10 04:02] nelsynelz commented on #3249
Everything is working now after upgrading Vue CLI. Somehow NPM installed an old version last week.

I just successfully deployed via the Amplify Console. Thanks again for all the help!

[2019-05-10 04:39] willdady commented on #854
Getting this on:
[code]

[2019-05-10 07:14] matthieunelmes commented on #3245
That's it! Thank you. I can also see it's returning a refreshtoken for the cognito user now.

[2019-05-10 07:14] #3245 closed

[2019-05-10 07:34] plqin-xiaohao commented on #165
Have the same issue. Can someone suggest any help?

[2019-05-10 07:55] sandrosc commented on #3242
@jordanranz version 2.3.6.

[2019-05-10 11:18] bionicles commented on #2102
@undefobj It’s a bug, not a feature.

HIPAA compliance eligibility is already advertised as a production feature of cognito, this vulnerability prevents the Cognito system from being highly available in that setting.

[2019-05-10 11:36] lissau commented on #1556
The commit that @adamsythe mentioned is released with react-native v59.8.
Updating to that version might fix the issue.

I solved my issue by setting __DEV__=false, which then ignores the non-compliant `Object.assign`. I did this by simply shaking my android->dev settings and disable js dev mode

[2019-05-10 12:48] illume opened #3254 "Country code Phone number picker broken on iOS react native"
**Describe the bug**

The country code picker is broken on iOS, as shown in [this issue](https://github.com/aws-amplify/amplify-js/issues/2618#issuecomment-464516384)

Note that only +1 is shown, and no other country code can be selected. (side question, how to set a default country code?)

**To Reproduce**
Steps to reproduce the behavior:

Use a withAuthenticator(App) amplify app with auth on iOS

[2019-05-10 13:06] adamsythe commented on #1556
Ive updated and everything works now

[2019-05-10 13:08] lissau commented on #1556
Great. Thank you for the feedback.

[2019-05-10 13:09] illume commented on #3254
It seems to work. Maybe the latest update fixed it. Sorry for the noise.

[2019-05-10 13:09] #3254 closed

[2019-05-10 13:45] gabrielenosso commented on #2014
Same problem here... still no ways to fix the issue?

[2019-05-10 13:49] elliott-king commented on #3243
Not sure if it is exactly the same, as mine is not even going to DynamoDB.

[2019-05-10 17:17] jdchmiel commented on #1181
I am getting this issue currently.

 "amazon-cognito-identity-js": "^3.0.12",
    "aws-amplify": "^1.1.27",
    "aws-amplify-vue": "^0.2.10"

This is interesting as it WAS working when I used amplify to manage my AWS resources.  I switched to using serverless to manage my resources, and was manually configuring amplify client side code to use the resources created in serverless.
creating users, en

[2019-05-10 20:01] manueliglesias commented on #3247
Hi @irwansyahwii

Looks like there were some changes made to react native 0.59.x (see facebook/react-native#23922)

Can you try the workarounds mentioned there?

These ones specifically caught my attention:

[code]

or

[code]

[2019-05-10 20:23] jordanranz commented on #3237
There should only be one configured url per application. It seems the Amplify CLI allows for multiple URLs to be defined then concatenates them into this format.
https://github.com/aws-amplify/amplify-cli/blob/8f03a3788980b7651b88eeb6376f3d80e7213191/packages/amplify-frontend-android/lib/frontend-config-creator.js#L175

[2019-05-10 20:31] #3207 closed

[2019-05-10 20:32] elorzafe commented on #3207
@LosD thank you so much for finding this, I could reproduce it after calling `configure` a second time. You can test this using the  `@unstable` tag.

[2019-05-10 21:32] paddlefish opened #3255 "Cannot Verify Email: signIn throws an UserNotConfirmedException; confirmSignIn requires a user"
**Describe the bug**
react native
I can't use your auth components because we have a fully custom design. So I'm trying to talk to Auth directly through its API.

If a user is not confirmed in Cognito, there is no way to confirm it using the current API. The sign *Up* method on Auth returns a `Promise<IAuthSignUpResult>` .  IAuthSignUpResult contains the answer as to whether the user needs to be c

[2019-05-10 21:35] elorzafe commented on #3243
@elliott-king do you see a 403 error on network tab?

[2019-05-10 21:40] elorzafe commented on #3243
@elliott-king I have reproduced the problem, because in my case is not rejecting the promise when the upload fails.

[2019-05-10 22:28] paddlefish opened #3256 "auth.signUp throws an exception when user is not confirmed"
**Describe the bug**
I have a cognito setup where emails need to be confirmed. When signing up, instead of receiving a sign up result indicating the email needs to be confirmed, an exception is thrown.

This is a react-native project

**To Reproduce**
Steps to reproduce the behavior:
1. Use Amplify to create a cognito pool How do you want your end users to sign in?
"Email address or phone number"

[2019-05-10 22:45] jazblueful opened #3257 "How to use Amplify Storage with S3 static website endpoint?"
__Which Category is your question related to?__
Storage

__What AWS Services are you utilizing?__
Appsync, Lambda, S3, API Gateway

__Provide additional details e.g. code snippets__
Since Amplify.configure doesn't support setting custom endpoint for storage, I configured s3 service directly through aws-sdk:
[code]

When I do Storage.get('key'), Amplify takes this endpoint and adds a bucket name to

[2019-05-11 00:31] powerful23 commented on #3214
@tinymarsracing we will work on this issue and also update the sample doc.

[2019-05-11 07:25] aequasi opened #3260 ""No current user" when trying to sign in"
**Describe the bug**

Trying to sign in, using `Auth.signIn(username, password)`, and get the error message "No current user".

Checking the network tab shows a `200 POST https://cognito-idp.us-east-1.amazonaws.com/` request, with what seems to be a valid user response:

[code]

Configuring with:

[code]

I'm *somewhat* sure that the ids are correct, but im not sure if im missing anything else

[2019-05-11 07:34] strefethen commented on #2984
@elorzafe I've been working through the hasura tutorial here:

https://learn.hasura.io/graphql/react/subscriptions/3-create-subscription

...and ran into the above error.

Would you mind elaborating on your comment above regarding "appsync"? Google yields an AWS AppSync but I'm not familiar with it and there's nothing in the tutorial about it. Is that what you're referring to? Curious where I can

[2019-05-11 08:20] janhesters commented on #469
I think this is still a problem. There should be a method `Auth.deleteUser` that:

- Deletes the user from the cognito pool.
- Deletes all associated API data from AppSync.
- Deletes the cookies in the cache correctly.
- Allows custom lamda resolvers to hook in and trigger (e.g. for cancelling of subscriptions).

[2019-05-11 09:46] henrysachs commented on #3189
So what about seperated Angular Services for each AWS Service? Maybe have the Auth Package in the Amplify Service to serve as a somehow baseline Service.

[2019-05-11 12:38] predescu commented on #2584
I have the same error if I'm trying to migrate react-native-push-notification-ios from the core react-native module to the react-native-community module.

[2019-05-11 19:18] astro21 commented on #3260
I had the same issue. Removing cookieStorage from the Amplify.configure() resolved the issue for me.

I am testing on localhost and I don't have a domain. In the cookieStorage, I need to provide a domain

[2019-05-11 21:04] yareyaredesuyo commented on #2147
got similar error

maybe amplify-cli's autogeneration code's bug

https://github.com/aws-amplify/amplify-cli/blob/cf8b0befe9c668738b52d653d96777ce7b7efe73/packages/graphql-elasticsearch-transformer/src/resources.ts#L420

[2019-05-11 21:19] yareyaredesuyo commented on #2147
And another bug is, when specifing only field or direction, it got mapping error.

This works.

[code]

This does not work. (mapping error)

[code]

This does not work. (mapping error)

[code]

This does not work (elasticsearch 400 argument error )

[code]

[2019-05-11 21:35] hakimio commented on #2147
You can fix that by modifying the resolver to use "name.keyword" for field name when the field is of string type like I shown in my previous post.

[2019-05-11 22:13] powerful23 commented on #3249
Closing the issue. Please let us know if you still have this issue. @swaminator thanks for the help!

[2019-05-11 22:13] #3249 closed

[2019-05-12 01:38] paddlefish commented on #3255
Ok I realized that in this situation I should be calling confirmSignUp.  Upon receiving SUCCESS back from that API, simply call signIn AGAIN and now you're logged in.

Perhaps an improvement would be to have confirmSignUp return the user instead of "SUCCESS"

[2019-05-12 01:38] #3255 closed

[2019-05-12 01:39] paddlefish commented on #3256
I am able to work around this now.  I capture the email and password and call confirmSignUp with the code the user receives in their email inbox.  Then after that returns "SUCCESS" I call auth.signIn using the password and email I remembered from earlier.

It seems like that extra call to signIn is excessive but it gets me un stuck.

[2019-05-12 01:39] #3256 closed

[2019-05-12 02:37] lorecrafting commented on #2107
Any updates on this feature? Thanks!

[2019-05-12 07:01] jhw opened #3261 "Is `aws-exports.js` insecure ?"
Wondering what the thinking behind the usage of `aws-exports.js` is - isn't it somewhat "insecure" to stick your pool ids etc in there ? I mean you wouldn't put your key/secret in there presumably. So maybe pool ids don't constitute a security risk ? Maybe they are just somewhat equivalent to a URL endpoint ? Is it possible to set these values via environment variables ?

[2019-05-12 08:23] gilador commented on #3209
10x, but its already disabled

[2019-05-12 08:28] dd-ssc opened #3262 "what auth states are supported and what is their meaning ?"
**Which Category is your question related to?**
Documentation

**What AWS Services are you utilizing?**
AWS Amplify for React Native with AWS Cognito backend

**Provide additional details e.g. code snippets**
According to the [documentation](https://aws-amplify.github.io/docs/js/authentication#show-your-app-after-sign-in), _authState is the current authentication state (a string)_:

[code]

(I've

[2019-05-12 17:06] elliott-king commented on #3243
@elorzafe No, I am not getting a 403 error on the network tab. Tried on both Firefox (66) & Chrome (74).

[2019-05-12 20:05] ranjeev75 opened #3263 "Possible for Authenticator HOC to accept federated props with react-native"
The documentation [here](https://aws-amplify.github.io/docs/js/authentication#using-the-authenticator-component), states that react-native is not supported here and to use
`Auth.federatedSignIn()` instead. Is there an example that shows exactly how this can be done?

Also when just rendering a FaceBook button with `Auth.federatedSignIn({provider: 'Facebook'})` this still renders the entire hoisted

[2019-05-12 22:07] LucaTabone opened #3264 "AWS Amplify - TypeError: Cannot read property 'Stacks' of null"
Hey friends :),

I am trying to 'amplify init' my Android Project and I get stuck with the following error:

<img width="1251" alt="Bildschirmfoto 2019-05-12 um 23 52 59" src="https://user-images.githubusercontent.com/4339435/57588318-a8997080-7512-11e9-94a7-43ab01bee053.png">

I have granted 'AWSElasticBeanstalkFullAccess' to the aws profile used.

I would be immensely thankful for any help.

Tha

[2019-05-12 22:40] aequasi commented on #3260
Issue was due to using http://localhost:3000, and the default of cookieStorage.secure being true.

[2019-05-12 22:40] #3260 closed

[2019-05-12 23:35] bishonbopanna commented on #3211
Ran into the same issue, can a fix be provided or work around please ?

[2019-05-12 23:38] adriangabardo commented on #3211
@bishonbopanna have a read-through my description again. The fix is already written there :)

[2019-05-12 23:49] bishonbopanna commented on #3211
Thanks @adriangabardo, missed reading it! Updating the SignIn.js in the aws-amplify-react project with the if condition resolved it - Hope it gets fixed soon and a new version gets rolled out.

[2019-05-12 23:52] adriangabardo commented on #3211
I'm fixing it now and doing a PR

[2019-05-13 00:07] adriangabardo commented on #3211
@manueliglesias I don't seem to have permission for the PR though

[2019-05-13 04:58] andrewoh531 commented on #3224
Just following up on this to see if there's a response. To be frank I'm not getting much confidence in how secure my application will if I were to use Amplify, so I'm strongly considering looking at alternatives like auth0.

[2019-05-13 04:59] EmanH opened #3265 "Error: No pubsub module applied for subscription - (in Angular app)"
**Describe the bug**

After importing my APIService (graphql) into my angular component, I get the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create schema (reasonably large with connections, etc.)
2. Amplify Push
3. Import into Angular Component
4. See error

**Expected behavior**
Expect the import to happen smoothly and be able to access APIService methods and

[2019-05-13 05:12] EmanH commented on #3265
[code]

[2019-05-13 05:31] EmanH commented on #3265
**Update**

Adding `Auth.currentAuthenticatedUser();` to the constructor of the component, resolved the issue.

[2019-05-13 08:31] #3264 closed

[2019-05-13 08:43] koolkav1 commented on #3215
I have tried that and I still got the same error.

I also have put this code in my main.ts replacing the `Amplify.configure(awsmobile)` object.
[code]
This is a screenshot of my app client set up on[ Cognito](https://photos.app.goo.gl/eM9DJxstMYbnFsym9):

[2019-05-13 09:24] dspasojevic opened #3266 "Disable auto-refresh and manully refresh if needed"
** Which Category is your question related to? **

Auth

** What AWS Services are you utilizing? **

Cognito, API Gateway & Lambda

** Provide additional details e.g. code snippets **

We'd like to be able to store the User's refresh token in a secure enclave. When the access token needs to be refreshed, we'd prompt the user to open the enclave with their fingerprint, retrieve the access token fro

[2019-05-13 10:41] DubluDD opened #3267 "Can't get AWS Push Notifications working on IOS/Android"
Hi,
I followed the steps to get aws amplify push notifications working on both platforms but none seems to work. I m mentioning that I use expo-kit  v32.

The endpoints seem to be registered to the service but the hold out is 0% on any time of campaign I'm trying to get going on.

![image](https://user-images.githubusercontent.com/30705188/57615244-eaaeca80-7583-11e9-9c6c-4da1669b5201.png)

packag

[2019-05-13 12:55] ajmeraaxesh opened #3268 "[ERROR] 11:09.869 AWSPinpointProvider - record event failed. [CredentialsError: Missing credentials in config]"
** Which Category is your question related to? **

** What AWS Services are you utilizing? **

** Provide additional details e.g. code snippets **

I am using the following code in my-react native APP

import Amplify, { Auth } from 'aws-amplify';
import AWSConfig from './aws-exports';
Amplify.configure(AWSConfig);

I keep seeing the following error in
[ERROR] 11:09.869 AWSPinpointProvider - record

[2019-05-13 13:36] ak37165 opened #3269 "Using refresh token obtained via cognitoUser.authenticateUser() on the /oauth2/token endpoint gives invalid_grant error"
** Which Category is your question related to? **
amazon-cognito-identity-js

** What AWS Services are you utilizing? **
AWS Cognito with JS library

** Provide additional details e.g. code snippets **
I want to log the user in using the JS SDK with my custom UI. However, I do not want the SDK to auto-refresh the token (I will only refresh the token if the user is active and the browser session is

[2019-05-13 13:52] ak37165 commented on #3269
(There is a hack I tried: writing the LastAuthUser={sub} to browser storage using my own code - this tricks the SDK's method cognitoUser.refreshSession() to work.

However,  I want to avoid this hack because it depends on knowing the key name, 'CognitoIdentityServiceProvider.' + poolData.ClientId + '.LastAuthUser', used by the SDK and that can change in a newer version of the SDK.)

[2019-05-13 13:54] jdchmiel commented on #1181
FWIW my issue was unrelated - I had a single missing char from a cut n paste error for my user pool id.  It seems the messaging is a bit wrong in this scenario where the identity pool is correct but the pool was incorrect - the only thing that did not work was logging in.

[2019-05-13 15:45] raquila commented on #3238
@powerful23  Do you know if its possible to covert a set of users that were created in cognito already to use an identity provider?  When I test, it creates a new user in cognito with the same email address but different username.

[2019-05-13 17:10] #3239 closed

[2019-05-13 17:19] paul-doherty opened #3270 "InvalidSignatureExpection - Signature does not match"
**Describe the bug**
[React Native in release mode]
Signing into the application. Sign out of the application. Force closing the application and again sign into the application. This results in the following rejection by the API gateway.

```The Canonical String for this request should have been 'POST /content accept:*/* content-type:application/json; charset=utf-8 host:mobile-content<CUT_FOR_BREV

[2019-05-13 17:37] #3021 closed

[2019-05-13 17:44] powerful23 commented on #3215
@koolkav1 can you check what's the configuration object returned by `Auth.configure()`?

[2019-05-13 18:35] elorzafe commented on #3261
@jhw taking the response from a [this comment](https://github.com/aws-amplify/amplify-js/issues/2927#issuecomment-478166128)

[2019-05-13 18:35] #3261 closed

[2019-05-13 18:44] cmckni3 commented on #3067
Since the return types in the [Amplify Service](https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-angular/src/providers/amplify.service.ts#L62) are specified as `any`, I use a variable to specify the type.

Example:

[code]

You could also use Type Assertion (`as AuthClass`) for quicker access. Type Assertion has disadvantages in certain cases in TypeScript (e.g. updating

[2019-05-13 18:45] undefobj commented on #3237
@haverchuck please sync with @kaustavghosh06 and @sammartinez as this is new functionality that would need to be coordinated between library and CLI

[2019-05-13 18:50] elorzafe commented on #3268
@ajmeraaxesh can you paste your `AWSConfig` (commenting the endpoints) I thinkg you dont have enabled identityPools on your aws-exports file

[2019-05-13 18:53] jordanranz commented on #2461
Seems in our Angular authenticator component it does iterate through the required attributes for this use case. I can work on getting this fixed.

[2019-05-13 20:52] janhesters opened #3271 "Unsure about Auto Tracking Usage"
** Which Category is your question related to? **
Analytics

** What AWS Services are you utilizing? **
Amazon Pinpoint

** Provide additional details e.g. code snippets **
In [this question
](https://github.com/aws-amplify/amplify-cli/issues/1412) I asked about tracking with Amplify and got referred to Analytics. I'm currently teaching myself how to use these because I'm having trouble understand

[2019-05-13 21:02] achutkiran commented on #3243
@elorzafe I am getting same error but in network tab it shows 403 error

[2019-05-13 21:46] elorzafe commented on #3270
@paul-doherty can you enable `Amplify.Logger.LOG_LEVEL = 'DEBUG'` on your app, maybe we can find more info.

[2019-05-13 21:49] elorzafe commented on #1950
@noellaby does the above answer worked for you? are you still having issues with this?

[2019-05-14 00:10] all-iver opened #3273 "Authenticating with user pools, security and the hosted UI"
** Which Category is your question related to? **
Authenticating

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
I am considering using a Cognito user pool for my desktop application that has a related web page.  Users should be able to sign in to both.  I am concerned about both security and flexibility.  Can somebody please tell me if I'm

[2019-05-14 00:47] ccius commented on #1395
hi @yuankunluo
I tried to follow the steps you mentioned in the link https://www.idea11.com.au/how-to-set-up-aws-cognito-federation-office365/
Unfortunately it does not work for me.
Can you please tell me, how did you do it exactly? Did you have to do anything extra apart from those steps?
Thanks in advance

[2019-05-14 01:06] hounded commented on #2562
If you have their pass from some registration form could you do something like below or is this bad?
[code]

[2019-05-14 04:09] hoang-innomizetech commented on #3046
@jordanranz  I followed the milestone and I cannot see any update, do you have any ETA for UI Component Refactor milestone?

[2019-05-14 08:36] koolkav1 commented on #3215
This is the console log that is returned by the [Auth.configure()](https://photos.app.goo.gl/3VK2ABLnBYrDdYrZA);

[code]

[2019-05-14 08:37] janhesters commented on #2853
I'm facing kinda the same issue. There are no clear instructions any where. I'm currently using `Analytics.record` and pass the `userId` as an attribute there (which is possibly wrong, since there is a dedicated section for users in the Pinpoint console). But there should be a way to have Endpoints and their events automatically associated with their users, shouldn't it?

For reference, currently

[2019-05-14 10:57] EmanH opened #3274 ""process is not defined" FIX causes "Cannot read property 'Stream' of undefined""
**Describe the bug**
Importing and adding my ApiService to a component constructor (angular) causes the following error:

[code]

I can fix this by adding the following to polyfills:

[code]

However, doing so causes the following error when authenticating:
[code]
I've narrowed it down to that. I can get rid of one error, by adding the polyfill, and get rid of the other error by removing the polyf

[2019-05-14 10:59] janhesters commented on #2477
@temideoye @lucasvieirasilva

Thank you for your discussion here, I tried to use `updateEndpoint()` but can't get it to work.

Here is the code I use:

[code]

Other than this I set up analytics like this:

[code]

[2019-05-14 11:02] pavlo-paliychuk-insighty commented on #563
@15Cactus49 you are my hero today!

[2019-05-14 12:48] kjetilge commented on #3250
Do you have a link to your testing sample ? I do not know what "details" to provide from my code.
I'm using the Onsen framework. Could this be the reason ?
[code]

[2019-05-14 13:15] janhesters commented on #3271
Solved it, gonna write a blog post about it and link it here.

[2019-05-14 13:15] #3271 closed

[2019-05-14 14:46] rahulserver opened #3276 "Should we modify build/schema.graphql file?"
** Which Category is your question related to? **
AWS Amplify graphql schema
** What AWS Services are you utilizing? **
AWS Amplify (vue js)
** Provide additional details e.g. code snippets **
I have this schema type which is used for many-many representation

[code]
The list query generated for this type is this:

[code]
When i check the `build/schema.graphql` I see this for `ModelProcessMeasureS

[2019-05-14 15:12] sChupin commented on #987
I'm also experiencing the issue of having _blocked_ users when they update their email and logout before validating the new email with the verification code.

In addition to that, I'm facing another dangerous behavior with email updates. A user is able to change his email to an email that is already linked to **another** account without cognito returning an error. I don't know what is the exact st

[2019-05-14 15:23] jorgemarrero commented on #104
Working with `withAuthenticator`.

[code]

You can find the docs here: https://aws-amplify.github.io/docs/js/react#signup-configuration

Probably a better explanation or link in https://aws-amplify.github.io/docs/js/authentication#using-withauthenticator-hoc may help a lot

_Thanks for the tip @fcwheeler_

[2019-05-14 16:03] yareyaredesuyo opened #3277 "Why so many S3 requests?"
** Which Category is your question related to? **
Amplify push

** What AWS Services are you utilizing? **
Amplify

** Provide additional details e.g. code snippets **

I'm now researching amplify and have some question.

1. What i found that everytime when using `amplify push ` takes so long time and looks like  checking everything and updating everything. Is there any way to reduce updating time

[2019-05-14 17:39] mtraynham opened #3278 "Hub TypeError: Cannot read property 'setItem' of undefined (AuthClass)"
**Describe the bug**
It seems `import {AuthClass} from '@aws-amplify/auth';` is defining an instance of `AuthClass` without any configuration (`new AuthClass(null)`) as the default instance via these lines https://github.com/aws-amplify/amplify-js/blob/master/packages/auth/src/index.ts#L24.

The `AuthClass` listens to Hub via these lines, https://github.com/aws-amplify/amplify-js/blob/master/packa

[2019-05-14 18:22] powerful23 commented on #3250
@kjetilge Hi, I am using https://github.com/aws-samples/aws-amplify-vue as the sample app and define the `authConfig` in the https://github.com/aws-samples/aws-amplify-vue/blob/master/src/router/index.js and pass it as props into the Authenticator: https://github.com/aws-samples/aws-amplify-vue/blob/master/src/router/index.js#L91

[2019-05-14 18:39] kjetilge commented on #3250
My authConfig (```<amplify-authenticator :auth-config="authConfig" />```) do have effect. In my config I have ```{ label: 'Epost', key: 'username', required: true, type: 'email', displayOrder: 1 }``` and I do get the correct label (Epost). Also the password field renders correctly in accordance with the sigUpField: ```{ label: 'Passord', key: 'password', required: true, type: 'password', displayOr

[2019-05-14 18:53] et304383 commented on #1529
Still cannot get any of this to work with any of the given examples.  Would be nice if someone gave a full end to end example instead of continuously giving snippets of code and saying "THIS WORKS!"

[2019-05-14 18:56] ShepelievD commented on #2147
@hakimio is right, AWS decided do not overhead it with `fielddata`, resouce:

Resource: [Elasticsearch docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/fielddata.html#fielddata-disabled-text-fields)

I guess AWS team decided to use `keyword` as mentioned in the [docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/fielddata.html#before-enabling-fielddata)

Thi

[2019-05-14 19:46] dabit3 commented on #1529
@et304383 sorry you're having trouble. I've put together a gist at https://gist.github.com/dabit3/6c4f0a06b5e39fd53567a4a521143efa

Have a look & let me know if that helps out. It should be a full working example.

[2019-05-14 20:37] et304383 commented on #1529
I'll give this a try but our challenge lies in the fact that our logout function is in a hamburger menu that's loaded in app.js. Our app.js is not wrapped with an authenticator.

So we are having scope issues trying to access props where the onStateChange event resides from the menu when only some of our components are wrapped.

[2019-05-14 20:48] demsey2 commented on #1529
I had a similar issue when I needed props.onStateChange inside my interceptor. This is what I did.

[code]
[code]

in your case, create a service which is singleton and inject onStateChange when you create an instance of that service

[2019-05-14 21:08] frontr-uk commented on #2562
where would you get the code from?

[2019-05-14 21:20] bernhardt1 commented on #2541
@Luckygirlllll

[2019-05-14 21:31] dabit3 commented on #1529
Another way to handle this would be to use the Hub class & listen for auth changes.

[code]

https://aws-amplify.github.io/docs/js/hub#listening-for-messages

[2019-05-14 21:32] bernhardt1 commented on #1219
In my case `address` was also necessary for the update to work:

[code]

[2019-05-14 22:50] jordanranz opened #3279 "RFC: Amplify UI Component Library Refactor"
This issue is a Request For Comments (RFC).  It is intended to elicit community feedback regarding a proposed change to the Amplify JS UI components.  Please feel free to post comments or questions here.

## Current state of Amplify UI Components

Amplify JS currently provides a library of UI components intended to help developers leverage Amplify categories such as API, Auth, Storage, Interaction

[2019-05-14 23:44] bernhardt1 commented on #2544
@dylan-westbury bit off topic here, but would you mind sharing some of your lambda code that triggers the push notification?

I can't detect where it is going wrong through cloudwatch or cloudtrail. based on my console logs, the function never returns data or an error...

I have
[code]

[2019-05-15 00:10] EmanH commented on #3274
The first error `Uncaught ReferenceError: process is not defined`, was occurring only when importing the ApiService in *one particular component.*

It was strange because even when I copied the exact same component ts code from another component, the error persisted. I deleted the component, re-created a new one and the error so far hasn't come back.

[2019-05-15 02:17] dinukasal commented on #3000
Amplify configurations has to be correctly set inorder to get this working. Config should be like follows (the oauth is mandatory),
Following is same for react and react native,

[code]

Although documentation says to call `hostedUISignin` or `facebookSignIn` getting as props from withOAuth HOC, what worked for me is calling `Auth.federatedSignin()` to get the hostedui.

[2019-05-15 05:37] ajhool commented on #3279
Note: all experience has been with the React components.

I'm glad to see that the team will refactor these components.

1. Please try to add SSR compatibility into any new additions to Amplify. It does not need to actually render on the server, but please ensure that it does not break SSR. Currently the React Authenticator component breaks SSR and requires fragile workarounds

2. The documentatio

[2019-05-15 05:43] ajhool commented on #3182
Waiting on this too. Frankly, I can't believe that Sign Up does not work for the simple use case of email + username, doesn't inspire much confidence in this framework.

[2019-05-15 06:21] Luckygirlllll commented on #2541
I removed aws-pushnotifications and switched to OneSignal.

[2019-05-15 07:40] ajmeraaxesh commented on #3268
'aws_app_analytics': 'enable',
    'aws_cognito_identity_pool_id': 'us-west-2:c7e9a86c-8f70-4e02-a3eb-4677f978f28e',
    'aws_cognito_region': 'us-west-2',
    'aws_content_delivery': 'enable',
    'aws_content_delivery_bucket': 'rntestamplify-hosting-mobilehub-1253144757',
    'aws_content_delivery_bucket_region': 'us-west-2',
    'aws_content_delivery_cloudfront': 'enable',
    'aws_content_deli

[2019-05-15 11:35] neskimoo opened #3280 "PushNotification updateEndpoint optOut is defaulted to NONE"
**Problem**
In [PushNotification.ts](https://github.com/aws-amplify/amplify-js/blob/master/packages/pushnotification/src/PushNotification.ts#L246) the function updateEndpoint accepts only a token which gets passed on to the analytics module. At the moment, OptOut will always be set as NONE where the Analytics module allows 'NONE' and 'ALL'.

[code]

I would like to be able to specify OptOut when c

[2019-05-15 11:43] altin-selimi commented on #3224
@andrewoh531 yeah it seems rather disappointing having such a big vulnerability in your application from such a popular library. Its either auth0 or kicking user out to login screen everytime they do a refresh/visit app a second time (in-memory self implemented storage).

[2019-05-15 11:58] DubluDD commented on #3080
I can still reproduce this 1 month later, was it fixed?

[2019-05-15 12:15] Luckygirlllll commented on #3080
@DubluDD no, I switched to OneSignal library instead.

[2019-05-15 12:17] DubluDD commented on #3080
And you managed to get it working on both ios/android?

[2019-05-15 12:18] Luckygirlllll commented on #3080
@DubluDD yes, it works like a charm! :)

[2019-05-15 12:20] DubluDD commented on #3080
@Luckygirlllll great! Thanks :D

[2019-05-15 13:42] dpeterka opened #3281 "Update build container to amazonlinux:2"
**Is your feature request related to a problem? Please describe.**
Build container in the AWS Console is set to utilize old release of Amazon Linux. It would be nice to have support for graphics library gtk3 which is required to run headless Chrome and utilize puppeteer for doing testing.  This is not support on RH6 variants such as amazon linux 1 as the libraries are not available in amazon, epel

[2019-05-15 15:11] avishayil commented on #3226
Thanks!

[2019-05-15 15:11] #3226 closed

[2019-05-15 16:06] sprucify opened #3282 "Filtering on weeknumbers doesn't work"
I'm having a table of around 4000 recipes.
Every recipe has a weeknumber.

When I run:
[code]

I get zero results.

It only works when entering a static number instead of `moment().week()`

Another unexpected behavior is, that it is performing the `limit: 4000` before filtering the weeknumbers.

I was expecting it would first ask the database for all entries with weeknumber X and then limit the re

[2019-05-15 16:21] jhw opened #3283 "Successful login but then failed to get user from user pool"
Hi,

I'm using the `aws-amplify` JS package, but my own Cloudformation stack (below) as I'm trying to understand better what Cognito/amplify are doing under the hood.

I appear to be able to login successfully, but amplify then seems to fail to get the current user -

[code]

Possibly linked to this -

https://github.com/aws-amplify/amplify-js/issues/2702

I have set up an identity pool even thoug

[2019-05-15 16:23] sammartinez commented on #1846
Closing this issue due to inactivity, feel free to reopen the issue if you have any related questions or concerns

[2019-05-15 16:23] #1846 closed

[2019-05-15 16:24] sammartinez commented on #1859
Closing this issue due to inactivity, feel free to reopen the issue if you have any related questions or concerns.

[2019-05-15 16:24] #1859 closed

[2019-05-15 16:30] sammartinez commented on #3197
Closing this issue due to inactivity, feel free to reopen the issue if you have any related questions or concerns

[2019-05-15 16:30] #3197 closed

[2019-05-15 16:36] sammartinez commented on #3282
@sprucify This doesn't seem to be a specific question in regards to Amplify. Can you provide a little more information on how you are using Amplify?

[2019-05-15 16:40] sprucify commented on #3282
I basically `amplify push` a schema containing my model:
[code]

And use the `amply codegen` generated fuctions.

I just discovered that weeknumbers greater then 10 are not coming through the `eq:` filter

[2019-05-15 18:45] blathers16 opened #3284 "using window.sessionStorage as auth storage broken"
**Describe the bug**
A clear and concise description of what the bug is.

if you create a angular project using aws-amplify-angular for cognito authentication, and you try to set the storage to window.sessionStorage, you get an error "The storage in the auth config cannot be empty!"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See

[2019-05-15 18:54] khola commented on #746
Hi, any progress with this? I can create PR for this feature, as I already did such change in our internal fork of this component, but don't know if it aligns with your idea of this component. Of course, in an ideal world, it should be done using subscription, but it's not always possible ;)

[2019-05-15 19:14] nandoise commented on #3185
It seems you are calling two times, may be in you code.

you set at begining the imports , right?

import Amplify, { Auth } from 'aws-amplify';
import amplify from './aws-exports';

then you set:

Amplify.configure(amplify); //somthing like that

this is all..
but in some tutorials give an extra step

ej.
 oauth = {
  domain: 'cartoapp-dev.auth.us-east-1.amazoncognito.com',
  scope: ['phone', 'ema

[2019-05-15 20:00] jessedoyle commented on #3233
@powerful23, @jordanranz  - This is generating an issue with our build using react-native 0.58.X on Android.

While the workaround [here](https://github.com/aws-amplify/amplify-js/issues/3233#issuecomment-490835465) may resolve the issue, I think updating to a custom JavaScriptCore version is a heavy-handed solution.

The root cause is that `aws-amplify` is referencing `Symbol` directly assuming t

[2019-05-15 20:05] clintfoster commented on #987
@sChupin There's a discussion about the email capturing behavior [here](https://forums.aws.amazon.com/message.jspa?messageID=740154#740154) (unrelated to this issue).

[2019-05-15 20:20] sammartinez commented on #3257
@jazblueful In the article you link, it does seem know related to Amplify. Can you please provide a little more detail on what your use case is with Amplify?

[2019-05-15 20:47] jazblueful commented on #3257
I use Amplify for authentication flow (unrelated in this case) and Storage.put/Storage.get to upload/download files to/from S3

[code]

Now there should be an object with the content of file at S3 http://my-bucket.s3-website-us-east-1.amazonaws.com/my-bucket/private/us-east-1:xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/key

[code]
This will return 404, however redirection rules of static website hosting

[2019-05-15 20:48] zoumengguang opened #3285 "amplify push error on auth resource"
**Describe the bug**
A clear and concise description of what the bug is.
I am currently trying to add an auth component to my app via Amplify CLI but I am getting the following error when trying to push the auth creation to the cloud:

`Resource Name: UserPoolClientLambda (AWS::Lambda::Function)`
`Event Type: create`
`Reason: The runtime parameter of nodejs6.10 is no longer supported for creating

[2019-05-15 20:55] hakimio commented on #2147
You don't need to fix anything from JS side. You only need to fix the resolver like I've already shown.

[2019-05-15 20:59] rpostulart opened #3287 "Just update aws-amplify to newest version - no user pool error"
I just updated the aws-amplify package to the the newest version and now receive this error

Before the set up was working

[2019-05-15 21:17] jordanranz commented on #3279
Hey @ajhool,

Thank you for the feedback.

1. Creating a smooth interaction for SSR is one of design requirements for this project. I must have missed adding it to the list above. Using both StencilJS and Emotion should help us achieve this goal.

2. Documentation will definitely be refactored over the course of this project. One big improvement we are looking to make comes with introducing the us

[2019-05-15 22:07] ajhool commented on #3279
Thanks for the response and I look forward to contributing towards Storybook integration and Typescript compatibility, these are excellent tools! Would it be helpful if I created a Storybook integration for the existing UI components?

[2019-05-15 22:23] sammartinez commented on #3287
@rpostulart Can you provide a little more information on which framework this is happening along with the versions in your package.json?

[2019-05-15 23:20] jordanranz commented on #3279
We would greatly appreciate the contribution of Storybook integration with our existing UI components and accept the use of Typescript to build this!

If this is something you would like to contribute, you can open a new issue to track this feature request/implementation and reference this RFC.

[2019-05-16 02:43] cliffordh opened #3288 "Directly call Lambda, no API Gateway"
** What AWS Services are you utilizing? **
AWS Lambda

** Provide additional details e.g. code snippets **
I would like to avoid the overhead of using API Gateway and invoke a Lambda directly. I have been able to do this using just the aws-sdk but I would like to do the same using Amplify. Is it possible to invoke a Lambda directly without using API Gateway?

Thanks.

[2019-05-16 03:58] lorensr commented on #2603
Mine was fixed by going from:

[code]

to

[code]

[2019-05-16 05:10] undefobj commented on #3288
Yes Amplify provides an escape hatch where you can directly call any service using a passthrough with the Auth module as outlined in the bottom of this section: https://aws-amplify.github.io/docs/js/start#step-5-launch-your-app

[code]

Instead of Route53 substitute in the appropriate Lambda imports and invocation method.

[2019-05-16 05:15] consolelog commented on #3142
I'm seeing the same issue as above. The MFA code gets appended to the URL but the page refreshes to the login form.

aws-amplify@1.1.28
aws-amplify-react@2.3.8

[2019-05-16 06:13] tobiastornros opened #3289 "React Native - Use Facebooks Official SDK to meet up with updated policy"
**Is your feature request related to a problem? Please describe.**
Facebook has updated the policy for login flows. All native apps for iOS and Android should use default login behavior defined by Facebooks SDK.

Policy: https://developers.facebook.com/policy#login
https://developers.facebook.com/policy#7-2-photo

**Describe the solution you'd like**
Use Facebooks SDK for login in React Native for

[2019-05-16 07:13] rpostulart commented on #3287
Of course. It's on react native.

   "dependencies": {
    "@aws-amplify/cli": "^1.6.8",
    "@aws-amplify/pushnotification": "^1.0.23",
    "aws-amplify": "^1.1.28",
    "aws-amplify-react-native": "^2.0.8",
     "react": "16.6.3",
    "react-native": "0.58.3",

import Amplify, { Analytics } from "aws-amplify";
import config from "./aws-exports";
Amplify.configure(config);
Analytics.configure(con

[2019-05-16 07:27] lorensr opened #3290 "Using withAuthenticator's authenticatorComponents throws an error"
**To Reproduce**

[code]

Results in:

[code]

When I remove the `authenticatorComponents` option, it renders without error.

    "aws-amplify": "^1.1.28",
    "aws-amplify-react-native": "^2.1.12",

[2019-05-16 09:40] rpostulart commented on #3287
Just get the same now with storage:
**No plugin found in Storage for the provider**, then add manualy

and then the error is gone.

[2019-05-16 10:40] s-hussain639 commented on #1467
Oh Thanks man you are a life saver :dancer:

[2019-05-16 12:05] mjmaix opened #3291 "React Native signUpConfig.defaultCountryCode not being used on SignUp PhoneField"
**Describe the bug**
The default value of the dialCode picker is always +1

**package Versions**
[code]

**Sample Code**

[code]

[2019-05-16 12:43] rudyhadoux commented on #1252
Hi @elorzafe, Amplify-CLI does not allow unauth configuration anymore ??? So, how to allow unauthentified users ?

[2019-05-16 12:49] rudyhadoux commented on #1252
I have found the answer here :
https://stackoverflow.com/questions/53766100/how-to-properly-handle-unauthenticated-users-and-requests-in-aws-amplify-appsync

[2019-05-16 13:01] dabit3 commented on #1252
@rudyhadoux we've also added first class support for multiple authentication / authorization types in the CLI. Here's the release blog -> https://aws.amazon.com/blogs/mobile/using-multiple-authorization-types-with-aws-appsync-graphql-apis/

[2019-05-16 13:04] rudyhadoux commented on #1252
OK thanks @dabit3. It is easier to test within apps without authentication...

[2019-05-16 13:56] rudyhadoux commented on #1252
@dabit3, I find that your fourteen steps are very tedious... why not allow unauthenticated users directly and easily with a new amplify-cli feature ? Besides, I use Angular and not React. I know AWS developers are React fans but Angular does exist too...

[2019-05-16 13:57] aireater commented on #1252
@dabit3 what's the process for adding another auth type to an existing graphql api (cognito). Can be done using the latest Amplify CLI or only the AppSync console?

[2019-05-16 13:59] Samykills commented on #3233
@jessedoyle i replaced the code in node_modules/@aws-amplify/core/constants.ts with the one provided by you and still facing the same error, can you try the same with the sample-project i have added and verify? it would be great help :)

[2019-05-16 14:15] jmandivarapu1 opened #3293 "Amplify Publish Not Reflecting Changes"
**Describe the bug**
A clear and concise description of what the bug is.
I have Amplify Setup in my application which is working previously.
Now Yesterday I made change and did amplify publish...Everything is successfully but changes didn't got reflected in the live website.

**Debuging**: So to debug myself I went to the bucket in s3 and looked at the files manually and it's updated files with th

[2019-05-16 15:45] Muhammad-Soban commented on #1213
[code]

[2019-05-16 15:50] ritesh opened #3294 "CREATE_FAILED: UserPoolClientLambda unsupported nodejs runtime"
**Describe the bug**
I'm trying to build a brand new test angular application and it appears that
`amplify push` fails when trying to create a lambda function using an EOL runtime.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new angular app
2. Follow instructions here: https://aws-amplify.github.io/docs/js/angular
[code]
3.  See console output
[code]

[2019-05-16 15:56] ritesh commented on #3294
Changing the runtime version in the autogenerated cloudformation template (amplify/backend/auth/cognitod839ba04 in my case) to use nodejs8.10 appears to create the stack. However, i don't know if this is a good idea as it feels like i'm editing autogenerated code?

[2019-05-16 16:35] jessedoyle commented on #3233
@Samykills - You're right - I think the guard clause is insufficient.

I think we'll need a condition similar to the other `Symbol` reference checks through `aws-amplify`:

[code]

I modified the corresponding code in `node_modules/@aws-amplify/core/lib/constants.js` and it resolves the issue for our app.

I'm going to update my PR to include this condition.

[2019-05-16 18:31] cmaycumber commented on #2541
If anyone else is running into this I fixed it by setting the token directly from the firebase method like so: `if (Platform.OS !== 'ios') {
      // grab token
      const deviceToken = await firebase.messaging().getToken();
      console.log('Firebase device token: ', deviceToken);
      if (deviceToken) {
        await configurePinpoint(deviceToken, userId);
      } else {
        console.log('

[2019-05-16 19:04] madmed88 commented on #2416
It would be nice to display the password policies on the signUp page, and check them as the user is typing the password.

[2019-05-16 19:45] davidfarinha commented on #2456
Hello,
I'm using React Native and configured followed the steps on the new Amplify documentation link above, it didn't mention how to setup the signin/signout redirect URI with React Native so I used "http://localhost:3000/". Now when I call federatedSignIn, it opens facebook but I get the error "URL Blocked: The redirect failed because the redirect URI is not white-listed in the app client's OAut

[2019-05-16 20:30] Dellybro opened #3296 "Federated Credentials not stored after calling federatedSignIn"
**Describe the bug**

After calling `Auth.federatedSignIn( domain, {token, expires_at} user )` credentials are not stored immediately in the cache thus unable to make AppSync graphQL requests upon signing in.

The error when calling graphQL after signing in is the following: Error: No federated jwt

**To Reproduce**

[code]

**Expected behavior**

Graphql should already have the JWT present after

[2019-05-16 21:13] rohandubal opened #3297 "CLI creates OAuth config in awsconfiguration.json when not needed"
**Describe the bug**
CLI creates OAuth config in awsconfiguration.json even when OAuth is not configured or enabled.

**To Reproduce**
Steps to reproduce the behavior:
Enable default auth for iOS

**Expected behavior**
No OAuth config

[2019-05-16 22:31] nwohaibi commented on #2990
try going to
`YOUR_PROJECT/node_modules/@aws-amplify/pushnotification/android/build.gradle`

edit `compileSdkVersion`, `buildToolsVersion`, and `targetSdkVersion` to

`compileSdkVersion 28`
 `buildToolsVersion "28.0.3"`
 `targetSdkVersion 28`

[2019-05-16 23:02] sammartinez commented on #1950
Closing issue due to inactivity please reopen if you have any further questions / concerns

[2019-05-16 23:02] #1950 closed

[2019-05-16 23:04] p4ul commented on #3242
We are having the same issue, occasionally stuck on "loading". There also appears to be no connections in the network tab to https://cognito-idp.ap-southeast-2.amazonaws.com/ when this is happening.

[2019-05-16 23:04] sammartinez commented on #3108
Closing issue due to inactivity, please reopen the issue if you have any further questions or concerns

[2019-05-16 23:06] awhitford commented on #3108
I recommend reopening this, not ignoring it.

[2019-05-16 23:07] sammartinez commented on #3232
@marioaae Does the above work for you?

[2019-05-16 23:10] sammartinez commented on #3257
@jazblueful That is correct that we don't offer this in Amplify. I'm marking this issue as a feature request

[2019-05-16 23:28] p4ul commented on #3242
Still happening in
aws-amplify-react: version 2.3.8.
@aws-amplify/auth: version 1.2.24.

But now console says "Uncaught (in promise) not authenticated"

To clarify recreate instructions above you need to refresh **before** site has fully signed in.

[2019-05-17 00:29] ajhool opened #3299 "Potentially conflicting package versions"
**Describe the bug**
AFAIK, issues start to arise when multiple different versions of amplify packages are installed on the same machine. However, a simple install of `yarn add aws-ampllify aws-ampify-react` results in multiple versions of multiple packages being installed.

**To Reproduce**
Steps to reproduce the behavior:
1. In a clean project, `yarn add aws-amplify aws-amplify-react`
2. yarn li

[2019-05-17 00:58] ajhool commented on #3299
Nevermind, my environment was contaminated with separately installed modular components ( eg. @aws-amplify/auth )

[2019-05-17 00:58] #3299 closed

[2019-05-17 05:31] dinukasal commented on #2206
@malithjkmt and team was able to send sms with local sms gateway. We used custom auth challenge and its three triggers, Define Auth Challenge, Create Auth Challenge and Verify Auth Challenge.

[2019-05-17 07:12] khorleyi opened #3300 "jest-haste-map: @providesModule naming collision:"
**Describe the bug**
After adding the API service to my amplify project, I received this error "jest-haste-map: @providesModule naming collision:".

**Expected behavior**
When I do an amplify run, this error pops up.

**Error**
(node:11494) UnhandledPromiseRejectionWarning: Error: jest-haste-map: @providesModule naming collision:
  Duplicate module name: StudentsCRUDFunction
  Paths: ~/my-app/ampl

[2019-05-17 07:54] thedanielforum commented on #2445
This is probably not the cause of your problem but it worked for me so I am just gonna put it out there.
If the account you are logging in with was created in the cognito AWS console and not by using the aws-amplify package the login will softly fail just printing to console "No user" and it will not write any data to local storage.
If you create the user with the aws-amplify package this error go

[2019-05-17 08:18] lorensr commented on #2288
For me the problem was I had:

[code]

Fixed with:

[code]

[2019-05-17 10:19] pippo111 commented on #3098
@haverchuck Any news on that ? It is getting really problematic, when internet connection breaks and user is unable to cancel his upload. Is there any way to do it maybe via some lower level API ? Any hints on that ?

[2019-05-17 12:16] r-moore commented on #1718
You appear to be asigning the value to user.challengeName instead of reading it.

I think `user.challengeName = 'NEW_PASSWORD_REQUIRED'` should be `user.challengeName === 'NEW_PASSWORD_REQUIRED'` ?

[2019-05-17 12:57] senips opened #3302 "federated logins in react-native examples"
** Which Category is your question related to? **
React-Native Auth - Federated

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **

First of all,  is Amplify really support federated logins for Google and Facebook (not Expo but React-Native)?

Half cooked examples in documentation section of Amplify so please do not send me that link if you are

[2019-05-17 15:41] clementAC commented on #3279
Same note as @ajhool

Hi,

I agree with ajhool  on all the points.

The doc is really great for a beginner with lot of exemples but once you try to make more complex uses cases there are some important points and props that are not documented. And searching in source code is quite annoying. Storybook or a similar product could be a good solution

I also agree on the amplify lib development "break-

[2019-05-17 17:40] sammartinez commented on #3108
Continuing discussion internally in regards to this issue

[2019-05-17 18:04] sammartinez commented on #3108
@EricBrandt2512 Cognito does have documentation in order to configure it yourself, here is the documentation on this: https://docs.aws.amazon.com/cognito/latest/developerguide/signing-up-users-in-your-app.html

Hope this helps!

[2019-05-17 18:45] chriscraiclabs commented on #2716
@undefobj

Does the same apply for React Native? Ive implement the same as above and Im navigating out of the app to verify with facebook `Auth.federatedSignIn({ provider: 'Facebook' });`. Once authenticated I'm navigated back to my app (redirect url is my app://).

`Hub.listen` is not hit in this scenario. I do also have a login button on screen that authenticated with my user pool directly. This

[2019-05-17 19:24] sammartinez commented on #2995
@vjindalaurea,

#3173 does resolve this issue. Can you please update to the latest version of aws amplify angular with:
[code]

Closing issue, please re-open if there are any further concerns or questions

[2019-05-17 19:24] #2995 closed

[2019-05-17 19:54] sammartinez commented on #3265
@EmanH Can you provide some code snippet how you are importing and configuring Amplify e.g. Can you also provide your package.json as well?

[2019-05-17 20:14] sammartinez commented on #3263
@ranjeev75 Here is a guide for adding [OAuth and Hosted UI](https://aws-amplify.github.io/docs/js/authentication#oauth-and-hosted-ui). There is also a section in the [React Components](https://aws-amplify.github.io/docs/js/authentication#react-components) section on using OAuth in React Native. Unfortunately there is not a quick link to it but if you search '_To use withOAuth in your React Native

[2019-05-17 20:31] sammartinez commented on #3262
@dd-ssc,

Currently the documentation is out of date with loading / requireNewPassword being added recently, however these auth states are used in order to justify which component to show on initial load of the Authenticator. Here is a link to the documentation for [Using the Authenticator Component](https://aws-amplify.github.io/docs/js/authentication#using-the-authenticator-component).

Also, if

[2019-05-17 21:08] #3233 closed

[2019-05-17 21:08] andiegoode12 opened #3304 "Amplify Photo Picker Choose File Crash"
**Describe the bug**
When using the angular amplify-photo-picker, "Take Photo" crashes the app because it does not ask the user for permission to access the camera.

**To Reproduce**
Steps to reproduce the behavior:
- Ionic 4
- aws-amplify-angular ^2.1.9
- On any page, use amplify-photo-picker: https://aws-amplify.github.io/docs/js/angular#photo-picker
- Click "Choose File"
- Click "Take Photo"

*

[2019-05-17 21:15] #3248 closed

[2019-05-17 21:15] #1732 closed

[2019-05-17 21:21] Siveran commented on #3284
The bug is definitely being caused by #3026, and can affect things outside of Angular. The isEmpty() check before throwing "The storage in the Auth config can not be empty!" and "Empty storage object" only checks to make sure the storage object has zero enumerable keys. If you provide a custom storage object, its implementation may make it appear to be empty. window.sessionStorage has this problem

[2019-05-17 22:57] powerful23 commented on #3267
@DubluDD Hi, can you try it in an ejected app? We haven't tested the `PushNotification` module in `ExpoKit`.

[2019-05-18 03:19] JoaoSilvaCorreia commented on #165
Estou com o mesmo problema

[2019-05-18 05:06] staneslevski commented on #2562
@frontr-uk

I came across this thread because I'm trying that right now and keep failing to be able to successfully call `Auth.signIn` immediately after calling `Auth.confirmSignUp`. I'm currently not sure why, but each time I get
`[ERROR] 59:30.277 AuthClass - Failed to get the signed in user No current user`
as an error.

When you tried this method, did it work?

[2019-05-18 18:22] chriscraiclabs commented on #3210
@waltermvp did you get a fix? im hitting the same issue. Im redirecting to `myapp://` after verifying with facebook but im not sure on how to retrieve the auth data returned. using `Hub.listen` doesn't seem to work for me.

Any insight?

[2019-05-18 20:53] cliffordh opened #3307 "How do I create a guest or unauthenticated user with Amplify?"
** Which Category is your question related to? **
Authentication

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
I started working with Amplify last year but didn't need all that it offered so I used the AWS-SDK directly, until now. Now I'm trying to take advantage of more features in Amplify and convert my code from the AWS-SDK. Right now,

[2019-05-18 21:31] cliffordh commented on #3288
Thanks. I think I got it figured out.

[2019-05-18 21:31] #3288 closed

[2019-05-18 21:32] cliffordh commented on #3307
Ok, nevermind I think I got it figured out. I have to say though, the docs on this are not clear or at least not easy to find.

[2019-05-18 21:32] #3307 closed

[2019-05-18 23:10] Samykills commented on #3233
Updating JSCore for android works!

[2019-05-19 00:04] cliffordh opened #3308 "Configuring roles for use with pre-existing AWS services"
** Which Category is your question related to? **
IAM, Roles

** What AWS Services are you utilizing? **
Lambda, Amplify

** Provide additional details e.g. code snippets **
I have pre-existing Lambdas and other Amazon resources. I'd like to be able to access them via Amplify but Amplify creates its own roles. What is the best way to allow Amplify to work with my pre-existing services?

[2019-05-19 05:41] EmanH commented on #3265
Amplify Config:

[code]

Package Json

[code]

[2019-05-19 05:42] EmanH commented on #3274
The error `process is not defined` just came back. :(

[2019-05-19 05:55] EmanH commented on #3274
It seems linked to when the component is imported and used as a route. I'm only getting the error when the component is a route.

[2019-05-19 05:55] EmanH commented on #3274
I need to get this solved ASAP to move forward with app development, is anyone able to help?

[2019-05-19 06:04] EmanH commented on #3274
Again, I was able to delete the component, and re-create a new component. Copy and paste the same code, and the error is not happening. I'm not sure what causes it, but re-creating the component is (an inconvenient) work-around for now.

[2019-05-19 09:20] EmanH commented on #3274
https://github.com/graphql/graphql-js/issues/1536

[2019-05-19 09:20] EmanH commented on #3274
https://github.com/graphql/graphql-js/issues/1344

[2019-05-19 10:32] muthusuba commented on #1852
+1

[2019-05-19 13:34] cliffordh opened #3310 "Refresh unauthenticated credentials?"
** Which Category is your question related to? **
Authentication

** What AWS Services are you utilizing? **
Cognito, AWS Lambda

** Provide additional details e.g. code snippets **
I am successfully getting unauthenticated guest credentials, however they are expiring after an hour. I tried this code block to refresh them but still doesn't work. Is there a right way to get/refresh unauthenticated

[2019-05-19 15:03] patotoma commented on #2230
I stumbled upon this issue myself, workaround for me was to use UMD build instead.

[2019-05-19 15:52] waltermvp commented on #3210
@chriscraiclabs I got it working with using the redirecURI of MYAPPNAME://

[2019-05-19 16:17] chriscraiclabs commented on #3210
@waltermvp how did you retrieve the auth data on navigation back into the app? did you use Hub.listen? can you post some code snippets please?

[2019-05-19 16:30] waltermvp commented on #3210
@chriscraiclabs I did.  For me the issue was that i was using the incorrect redirectURI. Have you setup your android/ios app to handle the url linking call?

basic hub listening:

[code]

[2019-05-19 17:05] chriscraiclabs commented on #3210
@waltermvp Have you an example/link of the url linking? is that on the native ios/android side? I have a standard login button also. it triggers the Hub.listen successfully so I know thats configured correctly.

[2019-05-19 17:39] cliffordh commented on #3310
I came up with this solution in lieu of any other obvious solutions. Of note, I switched from calling Auth.currentCredentials to Auth.currentUserCredentials since it looked like the Amplify code had logic for guest sessions in the currentUserCredentials function. I'm checking that there is at least 10 minutes before token expiration otherwise I call currentUserCredentials again. This seems to work

[2019-05-19 21:12] rpostulart opened #3311 "A contains filter is not matching when value is stored with capital in Dynamodb"
When I use a filter on a graphql query and this filter value is lowercase:

`name: { contains: name }`

And when the name value with a capital case has been saved to Dynamodb, there will be no match found, although the values are the same except from the Capital.

[2019-05-19 23:26] vanleuvenze commented on #1252
@dabit3 Hurrah for [multiple auth types](https://aws.amazon.com/blogs/mobile/using-multiple-authorization-types-with-aws-appsync-graphql-apis/), nice work!

I'm having a little trouble using the new [authMode](https://aws-amplify.github.io/docs/js/api#aws-appsync-multi-auth) field with Amplify's API.graphql request function - it seems like authMode is overridden by whatever "aws_appsync_authentica

[2019-05-20 01:23] mattiLeBlanc opened #3312 "Angular Amplify and Nativescript"
When creating a Native Script Angular solution with Amplify, will I run into issues with the required polyfill (window as any).global = window;.
I believe nativescript doesn't have a window object?

[2019-05-20 02:57] waltermvp commented on #3210
https://aws-amplify.github.io/docs/js/push-notifications

[2019-05-20 06:48] rudyhadoux commented on #1252
Help needed... I do not understand. Only for public datas, setting and generating an api-key with amplify-cli is enough ?

With a type example :
type Post @aws_api_key {
    id: ID!
    author: String
    title: String
    content: String
    url: String
    ups: Int!
    downs: Int!
    version: Int!
}

That is all ?

[2019-05-20 07:19] chriscraiclabs commented on #3210
@waltermvp I might be completely missing something here but why would we need push notifications for using a federated login for RN? Im not seeing any reference to this in the amplify Auth docs - https://aws-amplify.github.io/docs/js/authentication

[2019-05-20 08:43] davidfarinha commented on #3247
Hello,
Any update on this?

[2019-05-20 08:45] TemoLucky opened #3313 "Cognito multiple types of users"
** Which Category is your question related to? **
Cognito
** What AWS Services are you utilizing? **
Cognito, Amplify, DynamoDB
** Provide additional details e.g. code snippets **

**I want to have 3 types of users A,B,C.**

User A can see only his/her attributes.
User B can access his/her attributes and attributes of attached User A (can be multiple).
User C can see all users attributes( Admin us

[2019-05-20 08:52] irwansyahwii commented on #3247
@manueliglesias sorry for late response. But I haven't tried your work around since I had applied my own by monkey patching the OAuth instance using these codes:

[code]

[2019-05-20 09:00] illume commented on #3291
Thanks @mjmaix

The default country code for the phone number isn't working for me either.

[2019-05-20 09:32] waltermvp commented on #3210
Your right I got confused. What you need is this https://facebook.github.io/react-native/docs/linking . Your app has to declare it can be opened using a  ‘yourappname://‘ url scheme. This will be called by Cognito on sign in/out etc .

[2019-05-20 09:40] chriscraiclabs commented on #3210
@waltermvp ah, in that case, I do have that setup correctly "/. This is my current scenario:
`signIn with facebook button -> navigated to facebook auth page -> navigated back into app`.

This flow seems correct. The only issue is that I do not have access to the data returned (tokens etc...). The Hub.listen() does not get triggered with this scenario.

[2019-05-20 09:42] waltermvp commented on #3210
In your aws exports try setting the type from code to token. Then in the Cognito console go to your app client settings and allow implicit grant . Give that a shot. (Make sure your using the current app client id that has implicit grant enabled )

[2019-05-20 09:46] chriscraiclabs commented on #3210
@waltermvp cool, ill give that a shot. Cheers!

[2019-05-20 12:27] LosD commented on #2934
@powerful23 Have you ever seen `autoSessionRecord: false` actually work? Looking at the code, AWSPinpointProvider seems to completely ignores it, and sets the update timer as long as it is not disabled, and has an app ID.

... Which is exactly what I have experienced it to do. I checked for a test verifying it, but there is nothing.

[2019-05-20 14:44] springcoil opened #3315 "Cognito usage with Mobx - email attributes"
** Which Category is your question related to? **
Usage of Cognito
** What AWS Services are you utilizing? **
AWS Amplify, Cognito
** Provide additional details e.g. code snippets **
So I'm not sure if this is a bug or a misunderstanding of usage.

I'm using react native and Expo.

  Expo CLI 2.15.4 environment info:
    System:
      OS: macOS 10.14.4
      Shell: 3.2.57 - /bin/bash
    Binaries:

[2019-05-20 15:18] genio commented on #610
Is there a place to actually see if AWS is working on this? I realize this is the repo for the Amplify library, but this is _INSANE_ and needs to be fixed. I've been hitting every resource I can find for over 2 years and can't get any headway on this.

[2019-05-20 15:34] paul-doherty commented on #3270
Struggled to get the logs as I couldn't recreate it in release mode. What I eventually found out was before the user logs in we use `API.get` on an unprotected gateway. Afterwards the user logs in and Amplify appears to still use the unauth credentials. I changed to use fetch directly one that call and the problem went away.

I presumed, perhaps incorrectly, that signing in with Auth.signIn would

[2019-05-20 15:48] haverchuck commented on #3315
@springcoil Where are you deriving this.props.UserName, and what are you getting in the console logs for this value?  Can you try console logging this value and username, password and email within your .catch block?

[2019-05-20 15:58] haverchuck commented on #3313
@TemoLucky We currently have an [RFC](https://github.com/aws-amplify/amplify-cli/issues/766) out right now describing some possible feature enhancements  to address this type of issue.  Please feel free to comment.

In the interim, perhaps Cognito's [fine-grained Role-Based Access Control functionality](https://aws.amazon.com/blogs/aws/new-amazon-cognito-groups-and-fine-grained-role-based-access-c

[2019-05-20 16:01] haverchuck commented on #3312
@mattiLeBlanc  Are you planning on using a [webview](https://docs.nativescript.org/ui/ns-ui-widgets/web-view)?

[2019-05-20 16:16] springcoil commented on #3315
[code]

[2019-05-20 16:17] haverchuck commented on #3311
@rpostulart -  DynamoDB is case sensitive, so this is not unexpected behavior.  However, there are ways to perform the query you are attempting.  One way would be to [use Elasticsearch in conjunction with DynamoDB](https://docs.aws.amazon.com/appsync/latest/devguide/tutorial-combining-graphql-resolvers.html) (Note: I'm assuming you're using AppSync here).

[2019-05-20 16:20] haverchuck commented on #3085
Closing this issue due to inactivity.

[2019-05-20 16:20] #3085 closed

[2019-05-20 16:26] haverchuck commented on #3201
@ajhool So it looks like you do have multiple versions of the auth module in your project?  Perhaps try removing your node modules and reinstalling latest?

[2019-05-20 16:28] haverchuck commented on #3234
Closing this issue as the question seems to have been answered.

[2019-05-20 16:28] #3234 closed

[2019-05-20 17:34] DannyHinshaw commented on #3066
Having the same issue with v1.2.24. Only difference is it's not SMS. Has there been any fixes for this?

[2019-05-20 20:03] HHammerite commented on #2014
Same here, anything new here?

[2019-05-20 20:03] rpostulart commented on #3311
I understand! But isn’t this a simple solution? Where we now need to spin up an EC2 cluster to host Elasticsearch. This is adding extra cost to customers to do a simple contains query. Maybe it’s interesting to invest in a kind of serverless Elasticsearch which enables less cost for Elasticsearch.

[2019-05-20 20:56] TeoTN opened #3316 "Invalid types returned from Auth.signIn"
**Describe the bug**
The type returned from `Auth.signIn` method is `Promise<CognitoUser | any>` which literally gives no type safety.

From what I see, internally (e.g. [here](https://github.com/aws-amplify/amplify-js/blob/master/packages/auth/src/Auth.ts#L421) ) the user is assigned dynamically a property that is not in its interface (`challengeName`).

**Expected behavior**
I expect types in th

[2019-05-20 21:38] dperconti opened #3317 "AWS Amplify not generating proper graphql input depth Ask Question"
**Which Category is your question related to?**
AWS Amplify code generation

**What AWS Services are you utilizing?**

AWS Amplify API

**Provide additional details e.g. code snippets**

I am new to both graphql & AWS Amplify, so please forgive any ignorance :)

I have a graphql schema like this:

[code]

I'm trying to create both the location and the trip at the same time with a mutation request

[2019-05-20 21:54] mattiLeBlanc commented on #3312
Initially I was thinking yes, to create one code base with a web view for
the web app and a native view for the mobile apps.

However, if this is not possible I might find a way to share logic via a
library implementation of components and services and have 2 apps, one
without the window polyfill and native template and the other with the
window polyfill and the web view.

On Tue, 21 May 2019 at 0

[2019-05-20 22:05] springcoil commented on #3315
The fix was this ```export class UserName {
  @observable username = "";
  @observable password = "";
  @observable email = "";

  @action
  setUsername(name) {
    this.username = name;
  }
  @action
  setPassword(password) {
    this.password = password;
  }

  @action
  setEmail(email) {
    this.email = email;
  }
}``` thanks for the help

[2019-05-20 22:05] #3315 closed

[2019-05-20 22:07] powerful23 commented on #104
Hi All, the feature is implemented in the beta version of amplify UIs:
[code]

The docs is in: https://github.com/aws-amplify/docs/pull/622
Basically you can change the default sign in or sign up component by passing the `usernameAttributes` props in the `Authenticator`. For example, in React:
[code]

Welcome any feedback. Thanks.

[2019-05-20 22:13] malcomm opened #3318 "Angular Testing - Karma"
** Which Category is your question related to? **

aws-amplify-angular

** What AWS Services are you utilizing? **

Amplify graphql

** Provide additional details e.g. code snippets **

I'm trying to figure out the best way to use the API services from Amplify in my testing. I'm running an issue where the API is not configured. I'm hoping to get some guidance on this and best practices for how to

[2019-05-20 22:43] johncantrell97 opened #3319 "amplify react getting started w/ simple auth, no userPool error."
I am just following along with this tutorial:
https://aws-amplify.github.io/docs/js/react

When I go to register a new user I am getting an error saying `no userPool`.  I read through some similar issues where it almost always was a case of duplicate auth/core modules.  I have deleted and reinstalled all modules.

Here are my package.json dependencies:

"dependencies": {
    "aws-amplify": "^1.1.2

[2019-05-20 22:49] powerful23 commented on #104
Hi All, the feature is implemented in the beta version of amplify UIs:
[code]

The docs is in: https://github.com/aws-amplify/docs/pull/622
Basically you can change the default sign in or sign up component by passing the `usernameAttributes` props in the `Authenticator`. For example, in React:
[code]

Welcome any feedback. Thanks.

[2019-05-20 22:56] #3284 closed

[2019-05-21 01:03] powerful23 commented on #2010
@mrcoles Hi, really sorry about the late response. So from your description, what you want to do is to be able to resend the SMS code when signing in, **not** signing up, right? Because if you want to resend the confirmation code during registration, I am pretty sure you can do that by using `Auth.resendUp(username)`.

[2019-05-21 01:11] Jardelmc commented on #2609
I solved this problem by adding the dependencies by SU instead of SUDO in Ubuntu

[2019-05-21 03:33] ajhool commented on #3279
Have started a storybook integration here: https://github.com/ajhool/amplify-js . If anybody is available from the Amplify team for a quick realtime chat this week to help me get oriented, I'd really appreciate it. After that, it should be ("should") relatively straightforward to build stories for each component

[2019-05-21 05:46] chrisyeshi commented on #941
For me, enabling `aws.cognito.signin.user.admin` option in App client settings did the trick.

[2019-05-21 05:56] metamn commented on #3319
The same error here ... should I provide more info?

[2019-05-21 09:45] joelfsreis commented on #2014
I'm also having the exact same issue, any news?

[2019-05-21 11:39] tomptaylor opened #3320 "No user Pool"
Template format error: Unrecognized resource types: [AWS::Cognito::UserPool, AWS::Cognito::IdentityPoolRoleAttachment, AWS::Cognito::UserPoolClient, AWS::Cognito::IdentityPoo

[2019-05-21 12:49] dubinam commented on #3247
It helps with URLSearchParams, but I still have error, cause fetch method doesn't get value for body from toString() and I don't understand why(
And my request for oauth2/token become with next body:
`{
    __URLSearchParams__:0.2509882737289457
}`

Can you fix it, cause it doesn't work with fresh react-native. And I couldn't find any way how to handle it without changes in library code(

    "aws

[2019-05-21 13:32] gerrytsui commented on #3318
Both our **ng test** & **ng e2e** are working fine.

in **main.tst** we have:

and  amplify_config_local is in this format:

[2019-05-21 15:56] haverchuck commented on #3318
@malcomm  - Can you check your node_modules and ensure that you don't have multiple versions of @aws-amplfiy/api?  Also, try to call Amplify.configure just once as @gerrytsui suggests and see if this helps.

[2019-05-21 16:26] malcomm commented on #3318
OK I changed my main.ts to have just this:

[code]
Removed the API.configure call.

I also deleted my node_modules directory and did an `npm install` to make sure I had a clean copy of everything. After doing that, the only version I see from `node_modules/@aws-amplify/api/package.json` is:

[code]

The application is working fine, but `ng test` is still throwing similar errors.

Thank you for tak

[2019-05-21 16:35] #3201 closed

[2019-05-21 17:01] bod3code commented on #1338
I blew away my node_modules as per [this thread ](https://stackoverflow.com/questions/49435216/aws-amplify-how-to-setup-withconnector-component)and after a fresh `yarn` it all came back to life

[2019-05-21 17:16] rpostulart commented on #3319
I believe it's a bug with the new version of amplify, before I hadn't this issue.

I already made an issue here and proposed a temporary solution:

https://github.com/aws-amplify/amplify-js/issues/3287

[2019-05-21 17:17] themuli opened #3321 "Credentials Not Being Passed Properly on Electron App"
**Describe the bug**

I am using Amplify for authentication and communicating with my AWS Lambda backend. For some reason, the CognitoIdentity and CognitoPoolIdentity are not being passed by Amplify.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone project [electron-react-boilerplate](https://github.com/electron-react-boilerplate/electron-react-boilerplate)
2. Configure Amplify
3. Call

[2019-05-21 17:25] johncantrell97 commented on #3319
Somehow I fixed this by moving the configure code from the App component to the main index.js file and it fixed it.  🤷‍♂

[2019-05-21 17:25] #3319 closed

[2019-05-21 17:47] davidfarinha commented on #2716
Me too, seems OAuth is still broken with react-native

[2019-05-21 18:26] eanntuan commented on #2104
Is there any update on this feature request? Also - would be extremely helpful for the iOS SDK. Customizing error messaging to help us guide users is extremely important for our app!

[2019-05-21 19:14] hupe1980 opened #3323 "validationData prop for SignIn and SignUp react components"
**Is your feature request related to a problem? Please describe.**
We need the possibility to provide data that we can check in the PreAuthentication Lambda trigger

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
We tested it with our own components. But we would rather use the standard components

[2019-05-21 19:21] crcommons commented on #2104
@eanntuan as a hack, you could customize your error messages using the i18n translations instead. Write your custom error messages as values with the existing error messages as the keys, and then wire up amplify's i18n module.

[2019-05-21 19:32] achutkiran commented on #3067
@cmckni3 Thanks. I am also started using like that. But it would nice if they are typed out of box instead of typecasting (Type assertion)

[2019-05-21 19:40] cmckni3 commented on #3067
Agreed. Not sure why the return types are set to `any`.

[2019-05-21 20:48] packerfan626 opened #3324 "Using an exisiting AppSync API w/ Amplify"
** What AWS Services are you utilizing? **
AppSync, DynamoDB, and Lambda

** Provide additional details e.g. code snippets **
So I am a bit stuck on how to integrate AppSync within Amplify in React Native. I have an existing API within AWS AppSync that I created on the console. This API has several different models like: Users, Videos, VideoComments, etc. Some of the objects within these models ha

[2019-05-21 20:55] haverchuck commented on #3274
@EmanH - Are you using the aws-amplify-angular package and it's AmplifyService, or are you just using Amplify.JS alone with your own APIService?

[2019-05-21 21:15] haverchuck commented on #3312
@mattiLeBlanc  I am not super familiar with NativeScript, unfortunately, so I cannot provide a definitive answer.  I imagine that using libraries which rely on the window object is a fairly common use case with NativeScript - maybe you could take a look at this [angular-seed-advanced](https://github.com/NathanWalker/angular-seed-advanced) repo and see how it's using a [window service](https://gith

[2019-05-21 21:23] haverchuck commented on #3312
@mattiLeBlanc I am not super familiar with NativeScript, unfortunately, so I cannot provide a definitive answer. I imagine that using libraries which rely on the window object is a fairly common use case with NativeScript.  I would suggest that you do a quick POC with all of the amplify features (the actual library, not just the angular package) you plan on using to make sure that there are no iss

[2019-05-21 21:39] gerrytsui commented on #3318
Another area to check. I vaguely remember I had issue with ng test, due to not up-to-date settings in angular.json :  projects-> "name" -> architect  -> test not updated to be same as "serve" and "build"

[2019-05-21 21:51] shasti421 opened #3326 "Configure amplify to send IdToken"
With userpool authentication in amplify,  we would like to send idToken as authorization header instead of accessToken. Amplify API code is sending accessToken by default and looks like its not configurable.

https://github.com/aws-amplify/amplify-js/blob/0116b637ff1809310df5ee9dad48a98af91040bc/packages/api/src/API.ts#L295

With AppSync graphql test console, idToken is being sent which is differe

[2019-05-21 21:58] malcomm commented on #3318
@gerrytsui - I think that is getting us to the problem. So my projects-> "name" -> architect -> test, looks like this:

[code]
Notice the `"main": "src/test.ts"`. I added the following to my `src/test.ts`:

[code]
Uncaught Error: Uncaught (in promise): No current user thrown
Failed: Uncaught (in promise): No current user

Error: Uncaught (in promise): No current user
    at resolvePromise (http://

[2019-05-21 22:34] haverchuck commented on #3250
@kjetilge Does the regular email field show `type="email"` correctly?

[2019-05-21 22:41] haverchuck commented on #3311
@rpostulart We are going to discuss this as a team.

[2019-05-21 23:18] ajhool opened #3327 "Storybook integration"
**Is your feature request related to a problem? Please describe.**
Storybook is a development tool for displaying and interacting with components in a standalone environment. https://storybook.js.org

**Describe the solution you'd like**
Storybook integration with amplify would include two parts:
1. Storybook integration into the project (eg. a `.storybook` directory and a `yarn storybook` command

[2019-05-21 23:59] ajhool commented on #3327
My first attempt to add a component to storybook resulted in:

`Module not found: Error: Can't resolve '@aws-amplify/core' in '/Users/aidan/Development/amplify-js/packages/aws-amplify-react/src'`

When importing `AmplifyUI` I used the same implementation as \__tests\__ uses, except my folder is \__stories\__ . I also tried javascript instead of typescript. See:

https://github.com/ajhool/amplify-j

[2019-05-22 00:33] gerrytsui commented on #3318
cool. problem solved as related to amplify-angular.

In our use case, it is ok for us to enter the password in test code  (for a dummy account) and have your code set the test accordingly in Test-Only environment.

We use ng e2e, with jasmine & protractor:    page.pswdElement.sendkeys('thePasswordHere');
I guess you can load the password a database / api / file,  just so the password is else where

[2019-05-22 00:33] jlee95 commented on #1013
This feature is now available:

https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_AdminSetUserPassword.html

[2019-05-22 02:08] mattiLeBlanc commented on #3312
Okay. I will close this ticket for now and get back to you when I have a POC.

[2019-05-22 02:08] #3312 closed

[2019-05-22 02:41] rogueturnip opened #3328 "auth.currentsession no user - react native iOS"
On Android everything works exactly as expected.  In iOS everything works except when the app is closed (not suspended).  At this point when the app is launched it catches an error of "no user found".  Logging in works just fine as does putting the app into the background.

iOS only
real and simulated device
RN 0.59.8
amplify 1.1.28
amplify react native 2.1.12

I know that asyncstorage is working

[2019-05-22 06:17] fantapop commented on #2286
@adrianhall will you share your types?

[2019-05-22 06:25] EmanH commented on #3274
@haverchuck Good question. I believe I'm using Amplify.JS alone.

[2019-05-22 06:26] EmanH commented on #3274
No, I might be wrong. How can I verify that. Excuse my ignorance.

[2019-05-22 06:30] EmanH commented on #3274
Ok, I'm certain I'm not using `aws-amplify-angular`

[2019-05-22 07:30] dcsena commented on #446
@justingrant @JLee21

How would this be done in an app that uses both cognito user pools and federated fb/google sign in? Do you have an easy way to combine the two that you have proposed?

[2019-05-22 07:44] undefobj commented on #2716
@chriscraiclabs @davidfarinha the solution works with React Native as well. Please open up a new issue for a team member to help you with troubleshooting as this issue is closed.

[2019-05-22 11:38] LiorSaadon opened #3329 "Can i use 'amplify-authenticator' control from 'aws-amplify-angular' for federated SAML login ?"
** Which Category is your question related to? **
Single sign on using 'amplify-authenticator' control from 'aws-amplify-angular'

** What AWS Services are you utilizing? **
Cognito federated SAML login

** Provide additional details e.g. code snippets **
I have an Angular 7 project that uses cognito login with  'aws-amplify-angular' control which works great.
i am trying to add SAML login using A

[2019-05-22 12:00] LiorSaadon commented on #2455
any news for federated login ?

on "aws-amplify-angular": "3.0.3" i found this part in the code that might indicate federated sign in is coming, but will it support SAML ADFS?

var federatedSignIn = {
    section: 'federated-sign-in-section',
    bodySection: 'federated-sign-in-body-section',
    signInButtons: 'federated-sign-in-buttons',
};

[2019-05-22 13:32] marioaae commented on #3232
Hi @powerful23, thanks for the recommendation.

Reading the documentation at https://aws-amplify.github.io/docs/js/authentication, it says "With React Native, you can use withOAuth HOC to launch the hosted UI experience. Just wrap your app’s main component with our HOC. Doing so, will pass the following props available to your component"...and here I can find the callback props as oAuthUser or oAu

[2019-05-22 13:33] marioaae commented on #3232
Hi @sammartinez I didn't try exactly that way but in a very similar way (please see my response to @powerful23). Unfortunatelly I still have the problem.

[2019-05-22 13:51] jdchmiel commented on #2471
I learned the hard way for this issue that if you add "scoped" to your style block, the styles do not apply to child components, like the authenticator.

[2019-05-22 14:44] rogueturnip commented on #3328
I can confirm from using the react native debugger ability to show what's in Asyncstorage that the items added in my main application are persisting through a cold start of the app but everything that's prefixed with @MemoryStorage is gone.

[2019-05-22 15:30] davidgatti opened #3330 "What is going on with .getMFAOptions()?"
**Describe the bug**

Calling  .getMFAOptions() using `amazon-cognito-identity-js` as per documentation will produce a `undefined` variable, no matter if MFA is enabled or not. Thus there is no way to find out if a user has MFA enabled or not.

**To Reproduce**

Run your code at least once before committing the code to the public.

**Expected behavior**

Get a variable with some data that can help

[2019-05-22 15:58] adrianhall commented on #2286
I don't have that project available any more.

[2019-05-22 15:58] lspellman opened #3331 "amplify push error for SQL database tables with underscores in name"
**Describe the bug**
After "amplify api add-graphql-datasource" to add an Aurora SQL db and letting it build the GraphQL schema and resolvers, when you use "amplify push" the cloud formation job fails due to underscores in SQL table names. This is similar to previous issue that was resolved for DynamoDB tables #2507.

Confirmed that this is the issue by removing underscores from table names and re

[2019-05-22 16:11] rogueturnip commented on #3328
Here is the code I'm using for checking to see if the user has a valid session.
`class AuthLoadingScreen extends React.Component {
	constructor(props) {
		super(props);
		this._bootstrapAsync();
	}

	_bootstrapAsync = async () => {
		try {
			var session = await Auth.currentSession();
		} catch (error) {
			console.log('Current Session Error:',error);
		}
		if (session) {
			this.props.navigation.

[2019-05-22 16:18] JoshMontgomery opened #3332 "Amplify codgen is not creating my custom resolvers"
** What AWS Services are you utilizing? **
AppSync, DynamoDB, Lambdas

** Provide additional details e.g. code snippets **
I have an AppSync schema which I created on the AppSync console. I am building a react native mobile application and attempted to run the codgen command to generate my schema locally. It worked great, except some of the custom resolvers I had created did not get created locall

[2019-05-22 16:59] jordanranz commented on #3327
Hey @ajhool,

You should be able to begin local development after `yarn bootstrap` with `yarn` then `yarn build` at the root of `amplify-js`. Here is a bit more information:
https://github.com/aws-amplify/amplify-js/wiki/Local-Development

I have began reviewing the commits in your fork. Keep in mind that most of, if not all of [AmplifyUI inside of our aws-amplify-react package](https://github.com

[2019-05-22 17:06] jordanranz commented on #3068
FYI, we have started an RFC to discuss a UI component refactor including flexible theming for all of our frameworks. Please feel free to comment on it if you have any further asks!

https://github.com/aws-amplify/amplify-js/issues/3279

[2019-05-22 17:07] jordanranz commented on #3216
FYI, we have started an RFC for discussing a proposed UI refactor that will allow for more flexibility inside of the components. Feel free to comment if you have any further asks on this topic.

https://github.com/aws-amplify/amplify-js/issues/3279

[2019-05-22 17:13] jordanranz commented on #3196
FYI, we have started an RFC discussion for a proposed Amplify UI Component refactor to increase customizability and flexibility for our components. Please feel free to add any additional comments to the following issue:

https://github.com/aws-amplify/amplify-js/issues/3279

[2019-05-22 17:15] jordanranz commented on #3046
Hey @hoang-innomizetech, I have referenced this issue in the RFC. Please feel free to add any additional comments to the following proposal:

https://github.com/aws-amplify/amplify-js/issues/3279

[2019-05-22 17:18] jordanranz commented on #2994
FYI, we have started an RFC discussion for a proposed Amplify UI Component refactor to increase customizability and flexibility for our components. Please feel free to add any additional comments to the following issue:

https://github.com/aws-amplify/amplify-js/issues/3279

[2019-05-22 17:18] jordanranz commented on #2750
FYI, we have started an RFC discussion for a proposed Amplify UI Component refactor to increase customizability and flexibility for our components. Please feel free to add any additional comments to the following issue:

https://github.com/aws-amplify/amplify-js/issues/3279

[2019-05-22 17:18] jordanranz commented on #2672
FYI, we have started an RFC discussion for a proposed Amplify UI Component refactor to increase customizability and flexibility for our components. Please feel free to add any additional comments to the following issue:

https://github.com/aws-amplify/amplify-js/issues/3279

[2019-05-22 17:19] jordanranz commented on #2471
FYI, we have started an RFC discussion for a proposed Amplify UI Component refactor to increase customizability and flexibility for our components. Please feel free to add any additional comments to the following issue:

https://github.com/aws-amplify/amplify-js/issues/3279

[2019-05-22 17:20] jordanranz commented on #2104
FYI, we have started an RFC discussion for a proposed Amplify UI Component refactor to increase customizability and flexibility for our components. Please feel free to add any additional comments to the following issue:

https://github.com/aws-amplify/amplify-js/issues/3279

[2019-05-22 17:20] jordanranz commented on #2075
FYI, we have started an RFC discussion for a proposed Amplify UI Component refactor to increase customizability and flexibility for our components. Please feel free to add any additional comments to the following issue:

https://github.com/aws-amplify/amplify-js/issues/3279

[2019-05-22 17:20] jordanranz commented on #1755
FYI, we have started an RFC discussion for a proposed Amplify UI Component refactor to increase customizability and flexibility for our components. Please feel free to add any additional comments to the following issue:

https://github.com/aws-amplify/amplify-js/issues/3279

[2019-05-22 17:20] jordanranz commented on #1655
FYI, we have started an RFC discussion for a proposed Amplify UI Component refactor to increase customizability and flexibility for our components. Please feel free to add any additional comments to the following issue:

https://github.com/aws-amplify/amplify-js/issues/3279

[2019-05-22 17:21] jordanranz commented on #1603
FYI, we have started an RFC discussion for a proposed Amplify UI Component refactor to increase customizability and flexibility for our components. Please feel free to add any additional comments to the following issue:

https://github.com/aws-amplify/amplify-js/issues/3279

[2019-05-22 17:22] jordanranz commented on #1436
FYI, we have started an RFC discussion for a proposed Amplify UI Component refactor to increase customizability and flexibility for our components. Please feel free to add any additional comments to the following issue:

https://github.com/aws-amplify/amplify-js/issues/3279

[2019-05-22 17:22] jordanranz commented on #1272
FYI, we have started an RFC discussion for a proposed Amplify UI Component refactor to increase customizability and flexibility for our components. Please feel free to add any additional comments to the following issue:

https://github.com/aws-amplify/amplify-js/issues/3279

[2019-05-22 17:23] jordanranz commented on #1031
FYI, we have started an RFC discussion for a proposed Amplify UI Component refactor to increase customizability and flexibility for our components. Please feel free to add any additional comments to the following issue:

https://github.com/aws-amplify/amplify-js/issues/3279

[2019-05-22 17:24] jordanranz commented on #940
FYI, we have started an RFC discussion for a proposed Amplify UI Component refactor to increase customizability and flexibility for our components. Please feel free to add any additional comments to the following issue:

https://github.com/aws-amplify/amplify-js/issues/3279

[2019-05-22 17:24] jordanranz commented on #474
FYI, we have started an RFC discussion for a proposed Amplify UI Component refactor to increase customizability and flexibility for our components. Please feel free to add any additional comments to the following issue:

https://github.com/aws-amplify/amplify-js/issues/3279

[2019-05-22 17:24] jordanranz commented on #1054
FYI, we have started an RFC discussion for a proposed Amplify UI Component refactor to increase customizability and flexibility for our components. Please feel free to add any additional comments to the following issue:

https://github.com/aws-amplify/amplify-js/issues/3279

[2019-05-22 17:45] jordanranz commented on #3050
FYI, we have started an RFC discussion for a proposed Amplify UI Component refactor to increase customizability and flexibility for our components. Please feel free to add any additional comments to the following issue:

#3279

[2019-05-22 17:45] jordanranz commented on #3010
FYI, we have started an RFC discussion for a proposed Amplify UI Component refactor to increase customizability and flexibility for our components. Please feel free to add any additional comments to the following issue:

#3279

[2019-05-22 17:46] jordanranz commented on #2797
FYI, we have started an RFC discussion for a proposed Amplify UI Component refactor to increase customizability and flexibility for our components. Please feel free to add any additional comments to the following issue:

#3279

[2019-05-22 17:47] jordanranz commented on #2691
FYI, we have started an RFC discussion for a proposed Amplify UI Component refactor to increase customizability and flexibility for our components. Please feel free to add any additional comments to the following issue:

#3279

[2019-05-22 17:47] jordanranz commented on #2632
FYI, we have started an RFC discussion for a proposed Amplify UI Component refactor to increase customizability and flexibility for our components. Please feel free to add any additional comments to the following issue:

#3279

[2019-05-22 17:48] jordanranz commented on #2416
FYI, we have started an RFC discussion for a proposed Amplify UI Component refactor to increase customizability and flexibility for our components. Please feel free to add any additional comments to the following issue:

#3279

[2019-05-22 17:49] jordanranz commented on #2311
FYI, we have started an RFC discussion for a proposed Amplify UI Component refactor to increase customizability and flexibility for our components. Please feel free to add any additional comments to the following issue:

#3279

[2019-05-22 17:49] jordanranz commented on #2161
FYI, we have started an RFC discussion for a proposed Amplify UI Component refactor to increase customizability and flexibility for our components. Please feel free to add any additional comments to the following issue:

#3279

[2019-05-22 17:50] jordanranz commented on #218
FYI, we have started an RFC discussion for a proposed Amplify UI Component refactor to increase customizability and flexibility for our components. Please feel free to add any additional comments to the following issue:

#3279

[2019-05-22 18:27] themuli commented on #1178
I could be experiencing a similar issue with electron: https://github.com/aws-amplify/amplify-js/issues/3321, eg. credentials might not be persisted properly after a successful login, and debug statements show my session as null. @powerful23 @philippefutureboy Can you explain which libraries you upgraded to solve this? Was it an Amplify or electron bug?

@powerful23 As a temporary workaround, what

[2019-05-22 18:30] powerful23 commented on #3110
@vitalii @BHesseldieck Hi, sorry for the late response. After some investigation around using push notification in IOS:
1. To get the pushnotification body from cold start, you will need to use `PushNotificationIOS.getInitialNotification()`, as you can see the IOS part of Amplify Push Notification module is mainly using the `PushNotificationIOS` module from `react-native`. So as a workaround, you

[2019-05-22 18:37] themuli commented on #3321
@powerful23 Can you help me get unblocked? I believe you resolved a similar issue 2 weeks ago: https://github.com/aws-amplify/amplify-js/issues/1178 and https://github.com/aws-amplify/amplify-js/issues/1178#issuecomment-494913075

[2019-05-22 18:45] powerful23 commented on #3280
@neskimoo I think maybe we can add an option in the configuration as the default `optOut` value. If the user wants to opt out later on, he can do that by using:
[code]

What do you think?

[2019-05-22 21:07] giovanib02 commented on #1150
Not yet.
Finally i had to use google vision API https://cloud.google.com/vision/?hl=es.
Has the same services that rekognition https://cloud.google.com/vision/?hl=es and better documentation, works well with React Native.

[2019-05-22 21:23] haverchuck commented on #3330
Hi @davidgatti, thanks for raising the issue, and apologies for the time you (and others) have had to spend on this.

I am not sure from your post whether you are using the amazon-cognito-identity-js SDK by itself or with the Amplify JS framework.  If you are using the Amplify JS framework and your users have the option of choosing their MFA type (which I believe is your case if I’m reading your i

[2019-05-22 21:33] kjetilge commented on #3250
It looks like this:
![login](https://user-images.githubusercontent.com/1749884/58210511-d8eac700-7ce9-11e9-9260-f9843efbe0aa.png)

[2019-05-22 21:37] yuranos commented on #1852
+1

[2019-05-22 21:50] cliffordh opened #3333 "Implement Federated Login Support for Vue"
**Is your feature request related to a problem? Please describe.**
Currently Federated Login with Facebook, Google, Amazon is not supported by Vue.

**Describe the solution you'd like**
I would like an example of supporting social login using Vue, similar to the React implementation.

**Describe alternatives you've considered**
Reverse engineer the React code and port to Vue :-(

**Additional cont

[2019-05-22 21:55] shasti421 commented on #3326
To workaround,  we can use app sync client with apollo-graphql, but we would like to use amplify library to leverage other features in amplify.  Hoping this gets addressed soon.

[2019-05-22 21:56] haverchuck commented on #3333
@cliffordh This [PR](#2812 )  needs some discussion and more testing by our team, but it might be worth taking a look at it.  You could pull down the branch locally if you want to give it a try.

[2019-05-22 21:56] haverchuck commented on #3333
Related to #2812

[2019-05-22 22:56] cliffordh commented on #3333
Thanks, I think I can hack this together from the PR... but sure would be nice if this was an approved PR and part of the mainline :-) @haverchuck

[2019-05-22 22:58] richguan opened #3334 "Retrieve access token from Google"
** Which Category is your question related to? **
Auth - Federated Social Provider

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
Relating to [#402](https://github.com/aws-amplify/amplify-js/issues/402)

@mlabieniec I am having is retrieving the access token from Google. I would like to retrieve this token so that I can make calls to Google

[2019-05-22 23:58] nwohaibi commented on #2990
previous solution works to pass build/release, however, final apk will have lots of one-off crashes
[code]

[2019-05-23 01:26] themuli commented on #3321
@haverchuck Would it be possible for someone to look at this please? TIA.

[2019-05-23 02:02] reiwa commented on #1852
+1

[2019-05-23 03:43] buggy commented on #3279
@jordanranz What's the timeline on this like? I'm wondering if it's worth continuing with #2436?

[2019-05-23 04:09] cliffordh commented on #3333
I was able to get SignIn working with Facebook and it seems to work pretty smoothly... but it appears that this method of signin creates only an Identity Pool entry and not a User Pool entry. I'm assuming I need to use the Oauth flow in order to have the user created in the User Pool, correct? Is there a reason I should use one over the other? With the Identity Pool approach I don't seem to get au

[2019-05-23 06:39] davidgatti commented on #3330
@haverchuck I updated the original message, to make it more clear.

[2019-05-23 08:47] undefobj commented on #3326
@shasti421 we most likely will not make this change as using the IdToken isn't meant for this purpose. The IdToken is meant to prove who the user is when doing things such as federation or SSO. The AccessToken is used for proving what the user has access to (e.g. authorization) against an API resource. Since Amplify is designed to have best practices built in, this wouldn't be a good thing for us

[2019-05-23 10:06] GraemeAllanBryce commented on #2202
I agree this is not an edge case but more "best practice".  Forcing a new user to create an account with username and password before they can see the value of an app is an impediment to on-boarding.

Ideally it would be possible to allow a new "user" to "proceed as a guest" and at that stage create a identity in the IDP but not yet create a user in the pool.  At some later stage when the user dec

[2019-05-23 11:02] azarboon commented on #439
I'm having a React app and an SAML based IdP. Can I use Amplify to create me the flow / app or this feature is not supported yet?

PS: I can't put my user data in Cognito user pool, so I think I only need Cognito Identity Pool (?)

[2019-05-23 11:25] azarboon opened #3336 "Using our own and SAML based Identity Provider"
** Which Category is your question related to? ** Authentication for React

** What AWS Services are you utilizing? ** Cognito (Identity Pool)

** Provide additional details e.g. code snippets **

We would like to use AWS Cognito for authentication and authorisation. But we can't transfer our user data to AWS Cognito User Pool, instead we need to authenticate users through our own SAML based Ident

[2019-05-23 12:42] danielbayerlein commented on #3327
Not so popular, but very simple: https://www.docz.site/

[2019-05-23 13:12] harsh-softvan commented on #446
if you are using amplifyJS than this will helpful for you>>>>>
https://aws-amplify.github.io/docs/js/authentication#retrieve-current-session

[2019-05-23 14:46] rudyhadoux commented on #3265
Hi,
Same problem when I execute 'ng test'.

[2019-05-23 15:34] Cerwym commented on #3211
You can change the handler of your onClick method the pass through the event as the required argument;

`onClick={event => super.signIn(event)}`

[2019-05-23 16:03] cliffordh opened #3337 "DELETE_FAILED HostedUICustomResourceInputs"
** Which Category is your question related to? **
Auth

** What AWS Services are you utilizing? **
Cognito, Auth, Hosted UI

** Provide additional details e.g. code snippets **
I am trying to push auth updates but receiving DELETE_FAILED messages. I have modified the CSS of the Hosted UI, added some custom attributes to my user pool, but nothing out of the ordinary.

DELETE_IN_PROGRESS HostedUICus

[2019-05-23 16:20] ak37165 commented on #3269
Rummaging through the source code again. Looks like instead of clearCachedTokens(), one can call:

cognitoUser.setSignInUserSession(new AmazonCognitoIdentity.CognitoUserSession({
                IdToken: new AmazonCognitoIdentity.CognitoIdToken({ IdToken: '' }),
                AccessToken: new AmazonCognitoIdentity.CognitoAccessToken({ AccessToken: '' }),
                RefreshToken: new AmazonC

[2019-05-23 16:21] ak37165 commented on #3269
Also, setSignInUserSession is not documented to state that it will clear tokens from cache - is it safe to assume that updated implementations will keep doing that?

[2019-05-23 16:40] jessedoyle commented on #3209
@manueliglesias

Should this discussion begin now?

What do you think about providing a dependency injection pattern via the configuration?

i.e.
[code]

This could also make unit testing trivial as a reasonable double could be provided for hard dependencies during test runs.

[2019-05-23 16:51] undefobj commented on #3209
@manueliglesias and I are taking a longer look at our storage capabilities right now, including offline features, and will look at this as part of that effort. I don't have an ETA on when we'll have a new recommendation but will look at the suggestions above.

[2019-05-23 16:56] cliffordh commented on #3333
Ok. Closing this. I'm going to stop fighting the system by trying to roll my own auth hooks into Cognito. I'm going with OAuth User Pools (after much research) and the Hosted UI. I've gotten the Hosted UI to look quite acceptable and with a custom domain name my users should feel comfortable with the experience.

[2019-05-23 16:56] #3333 closed

[2019-05-23 17:49] jordanranz commented on #3279
@buggy, Shooting for end of the year release. I think your PR is definitely still worth it. I do not plan on removing `aws-amplify-react` and a lot of the work that has been done in that PR will be reused as we will continue to use those React components as wrappers.

[2019-05-23 18:49] hagiosofori commented on #950
Hi... came across this thread while searching for a solution to my issue. Same as @oderza .. I'm using the user object to call `updateUserAttributes(user, {"custom:foo":"bar"})` but I keep getting the `NotAuthorizedException`

I'm using amplify version 1.1.26..

any help please?

[2019-05-23 19:08] rogueturnip commented on #3328
Found the issue.  THere was a legacy pod for the amazon identity sdk.  Removed that and rebuilt and it's all working.

[2019-05-23 19:37] haverchuck commented on #3334
@richguan  - In order to retrieve this token, you need to setup the attribute mapping in Cognito.  Google returns the access token, which you can map to an attribute that is part of the user in the Cognito User Pool.  In this case you will probably need to make a custom attribute on the User Pool.  You can decrypt the id token that comes back to the browser, or I *believe* you [can use Amplify](ht

[2019-05-23 19:47] haverchuck commented on #3336
@azarboon  You are correct - The Amplify CLI does not currently support SAML providers. You will need to set this up in the Cognito console.  Have you looked into using SAML with the Hosted UI?  For instructions on setting this up in the console, [see these docs](https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-saml-idp.html).

[2019-05-23 19:58] loganwedwards commented on #3302
@senips I am not part of the Amplify team, but I can fill in from what I have learned. The documentation is confusing for someone who has configured their project to use the Amplify JS lib (for example), but not the Amplify CLI. My use case is that my projects tend to user Serverless and most (or all) of the backend configuration is handled there. There is an Amplify plugin for Serverless, but I h

[2019-05-23 20:15] #3334 closed

[2019-05-23 20:19] haverchuck commented on #3330
@davidgatti  - Thank you.  We made some headway on this problem today and will continue to update this issue.

[2019-05-23 20:37] ShepelievD commented on #2147
@hakimio in that case non-string sorting will be broken

[2019-05-23 20:46] hakimio commented on #2147
@ShepelievD The velocity templating language allows you to do a check like if string field array contains sort field, add ".keyword" postfix, otherwise leave it as it is.

[2019-05-23 21:19] srivempati commented on #3334
@haverchuck In relation to this, is there a way to extract refresh_token? Google's oauth returns refresh tokens only when access_type=offline is specified in the query. Is there a way to let cognito specify that parameter?

[2019-05-23 21:25] chriscraiclabs commented on #3302
Hey @loganwedwards  could you provide the versions of RN & aws-amplify-react-native & aws-amplify you are using? I have the same setup as you, im able to navigate out -> auth with facebook -> navigate back into the app but the `Hub.listen()` is not triggered and the user is not authenticated.

[2019-05-23 21:33] krzysztofstudniarek opened #3341 "Amplify API returns Network Error on post"
I use Amplify API feature. With pure generated lambda code and configuration, while calling post method in my API I receive generic Network Error

The API is configured as REST API with a DynamoDB table backend. It should save a record to dynamoDB

Code to call the API:

[code]

I expect it to add the record to dynamoDB.

[2019-05-23 21:41] chriscraiclabs opened #3342 "React Native FederatedSignIn() not working"
** Which Category is your question related to? **
React-Native Auth - Federated

** What AWS Services are you utilizing? **
Cognito

** versions **
`"aws-amplify": "1.1.28",`
`"react-native": "0.59.1",`

** Provide additional details e.g. code snippets **

The below snippet is a common scenario for federated login. I've see this working example in multiple places so I know it `should` work. I'm ab

[2019-05-23 23:55] Tony-Guerrero commented on #1089
I got the error after updating the api from: being restricted to authenticated users only, to: allow unauthenticated users.
Under `amplify/backend/auth/cognito[nnn]/parameters.json`
I switched:
`  "allowUnauthenticatedIdentities": false,`
to:
 ` "allowUnauthenticatedIdentities": true,`
pushed to aws and it did the trick.

`allowUnauthenticatedIdentities` seems not being updated after issuing ampli

[2019-05-24 01:09] DanielWFrancis commented on #612
this should be extremely simple, curious to know what the holdup is for a redirect param?

[2019-05-24 08:58] sandrosc commented on #3242
Bug seems to have been fixed in the latest version 🥇

[2019-05-24 08:58] #3242 closed

[2019-05-24 10:17] shivamarora123 commented on #442
Please check this link->https://medium.com/@coryschimmoeller/customizing-the-authentication-experience-of-amplifys-withauthenticator-e6f2089ff469

[2019-05-24 12:13] hagiosofori commented on #950
Found the fix on StackOverflow, for any one who comes across this..

combination of the following links:

[Ensure client has permissions to read & write that attribute](https://stackoverflow.com/questions/44013901/amazon-cognito-a-client-attempted-to-write-unauthorized-attribute)

[Prefix attribute names with 'custom'](https://stackoverflow.com/questions/44013901/amazon-cognito-a-client-attempted-

[2019-05-24 12:58] AAfify1 commented on #3342
Not sure if it is related but using the code below to register facebook users to my user pool but it is not working, as in I can not see the users created. I am just starting out with RN and AWS so any help would be appreciated :)
[code]

[2019-05-24 13:41] kingstonfung commented on #2632
Thank you !

[2019-05-24 14:37] loganwedwards commented on #3302
@chriscraiclabs Here are the relevant bits pulled from package.json:
[code]

[2019-05-24 15:31] haverchuck commented on #3108
Closing this issue due to inactivity, and it appears to have been answered.  Please feel free to open new issue if provided documentation is inadequate.

[2019-05-24 15:37] haverchuck commented on #3250
@kjetilge I am definitely not seeing this behavior on a sample app I created with the Vue CLI.  This issue could possibly be related to Onsen (although I'm not particularly familiar with that framework).  Have you reproduced this in multiple browsers?

[2019-05-24 15:38] haverchuck commented on #3262
Closing this issue as an answer has been provided and due to inactivity.  If problems persist, please feel free to open new issue with additional detail.

[2019-05-24 15:38] #3262 closed

[2019-05-24 15:50] awhitford commented on #3108
@sammartinez The Cognito documentation does not seem to address the issue raised by @EricBrandt2512.  One can acquire the configuration (`region`, `userPoolId`, and `userPoolWebClientId`) from Web App source code using _Developer Tools_, so what prevents a nefarious developer from using the same configuration to access or inject users from another application?

[2019-05-24 18:45] senips commented on #3302
@loganwedwards I think your proposed solution is meant for Expo which I clearly see from your dependencies.    In my case, I would need this to get working with just React-Native apps.

@chriscraiclabs I had this same hub issue not triggered with Hub.listen().  Actually I found that It did not even trigger for just for Cognito pool users so with Social federated logins are out of questions now.

[2019-05-24 18:53] Bulletninja commented on #1655
Sorry to hijack the thread (let me know if this is irrelevant or if i should post this somewhere else) but i was doing this course on amplify with react and i got stuck. After a couple of days i isolated the problem to S3Image.
This is the way i'm using it:
[code]
I checked `product.file.key` and it returns a valid key. So, i don't know what i'm missing because i get this error:
![Screen Shot 2019

[2019-05-24 19:06] haverchuck commented on #3318
Related to #3085

[2019-05-24 19:11] haverchuck commented on #3324
@packerfan626 I'm assuming you used codegen following the documentation [here](https://github.com/orgs/aws-amplify/projects/15)?

[2019-05-24 19:21] haverchuck commented on #3311
@rpostulart We understand what you're saying  - but I think it's more of a service-level suggestion and not necessarily we can solve via Amplify.  Have you tried posting to the[ DynamoDB forums](https://forums.aws.amazon.com/forum.jspa?forumID=131) or [AppSync forums](https://forums.aws.amazon.com/forum.jspa?forumID=280)?

I am going to close this issue but feel free to make another if you disagre

[2019-05-24 19:21] #3311 closed

[2019-05-24 19:31] haverchuck commented on #3289
@tobiastornros - I think this is probably an issue that's appropriate for the Cognito service team to take a look at and evaluate.  Have you tried posting to the[ Cognito forums](https://forums.aws.amazon.com/forum.jspa?forumID=173)?

Is there something specific in the Amplify JS framework that is not adhering to Facebook's guidelines?

[2019-05-24 19:41] haverchuck commented on #3177
@alpeshgaglani If you are using Chrome debugging, the JavaScript[ runs within Chrome itself](https://facebook.github.io/react-native/docs/javascript-environment#javascript-runtime).  This could potentially explain some unexpected behavior like this.

I am closing this issue, but if the answer is not satisfactory please feel free to open a new issue with additional detail.

[2019-05-24 19:41] #3177 closed

[2019-05-24 19:42] haverchuck commented on #3342
@chriscraiclabs - Do you by any chance have the debugger attached?

[2019-05-24 19:49] haverchuck commented on #3321
Hi @themuli -

Are you at any point using AWS.config.credentials in your code?  Thanks.

[2019-05-24 19:53] jordanranz commented on #3287
Hey @rpostulart, did you use the Amplify CLI to set up Auth as mentioned [here](https://aws-amplify.github.io/docs/js/authentication#automated-setup)?

If all of the categories you mention above were set up using the Amplify CLI, you should only have to include Amplify.configure(config), otherwise configuration can be instantiated in multiple places.

[2019-05-24 19:53] chriscraiclabs commented on #3342
Hey @haverchuck, nope I didnt. Been looking at this for a few days now

[2019-05-24 19:55] haverchuck commented on #3341
@krzysztofstudniarek Can you please give a bit more detail?

1. Does the 'network error' have an error code or any other content in the network tab?
2. Did you use the Amplify CLI to generate the REST API?  If so, what did you enter for the paths and the API name?
3.  Did you go through the documentation [here](https://aws-amplify.github.io/docs/js/api#using-the-api-client)?
4. Does GET or other t

[2019-05-24 20:03] rpostulart commented on #3287
Of course I had: Amplify.configure()

But after the update that was not werking anymore

[2019-05-24 20:04] themuli commented on #3321
@haverchuck No I am not. I also tried the solution here and it didn't work for us:
**API headers not signed when AWS_PROFILE env var is set** #3132

[2019-05-24 20:15] jordanranz commented on #3287
I mentioned a possible fix, then asked about what you set up with the Amplify CLI.

Please re-read my comment above and respond appropriately.

[2019-05-24 20:18] rpostulart commented on #3287
Sorry I am on a location with bad internet connectivity and was in a rush, I will check this next week and let you know! Thx

[2019-05-24 20:34] #3291 closed

[2019-05-24 21:07] powerful23 commented on #3310
@cliffordh Hi the `Auth.currentCredentials` is able to handle the refreshing automatically and I did a test which works fine for me. If you turn on the debug mode(by putting `window.LOG_LEVEL='DEBUG'` in your app) and call `Auth.currentCredentials()` after one hour, you should see the following messages:
<img width="809" alt="Screen Shot 2019-05-24 at 2 04 17 PM" src="https://user-images.githubuse

[2019-05-24 21:18] neskimoo commented on #3280
@powerful23 That should work for the solution that I am working on at the moment. It would be good to have this available in the PushNotifications library, ideally I would like to use it over the Analytics module but this is a good middle ground for now. Thanks for the response on this!

[2019-05-24 23:36] AbeEstrada commented on #2880
Just for reference, the `request` requires a method.

[code]

[2019-05-24 23:51] ericxinzhang commented on #2673
I have spent hours but could not find how a `aws-exports.js` file looks like. I am not using the CLI at all, and in reality lots of project use CI/CD with pre-defined CloudFormation template to do deployment instead of using such CLI from local.

[2019-05-25 12:38] ranjeev75 commented on #3263
@sammartinez  Thanks for these links. I'll have a look again at using OAuth

[2019-05-25 12:38] #3263 closed

[2019-05-25 18:59] cliffordh opened #3344 "Auth.signOut() causes page refresh"
**Describe the bug**
I'm using federatedSignin("Facebook") to get login credentials. If I then call Auth.signOut() my page refreshes! This is an SPA so definitely not desired behavior.

**To Reproduce**
use federatedSignin to authenticate with a social provider. Call Auth.signOut()

**Expected behavior**
Local storage is cleared, credentials are invalidated using XHR instead of using a page redire

[2019-05-25 20:10] cliffordh commented on #3344
Fixed by updating OAuth signout URI using "amplify auth update". It was previously set to https://myapp.com/signout... which caused an OAuth redirect back to the signout page... I just changed it to redirect to the root of the app. Hope this helps someone else.

[2019-05-25 20:10] #3344 closed

[2019-05-25 21:13] pl4yradam commented on #2460
This should not be marked as a feature request, it completely breaks compiling

[2019-05-25 21:14] cliffordh opened #3345 "OAuth Flow doesn't set Name, Profile, etc."
**Describe the bug**
I'm successfully using OAuth login flow with Facebook, Google, LoginWithAmazon. Email is passed from the OAuth provider but I'm not getting name, and other profile data in my user pool.

Only email is set as a required attribute in my user pool... could that be why?

[2019-05-25 21:20] cliffordh opened #3346 "Specify custom attributes?"
** Which Category is your question related to? **
Auth

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
Is it possible to specify custom attributes during the creation of the user pool?

[2019-05-25 21:50] cabeaulac commented on #3345
I'm interested in this also.

[2019-05-26 06:08] raudinm commented on #1852
Very interested

[2019-05-26 10:32] cliffordh commented on #3345
@cabeaulac I figured this out... in Cognito there is an option in your User Pool, underneath Federation called Attribute Mapping. Here is where you can map attributes from Facebook to your User Pool. I had to explicitly add the Facebook Attributes: short_name, picture but this seems to work. I haven't tried with Google or Amazon yet, but assuming it's going to be similar.

[2019-05-26 10:32] #3345 closed

[2019-05-26 13:29] ccannell commented on #3184
Encountered the same issue. I'm investigating whether verify with link will solve this issue. Note that amplify doesn't support that configuration (nor does CloudFormation). You have to change to verify using link in cli/SDK.

[2019-05-26 14:10] DeniseJames commented on #3046
Any updates on this issue? When using the 'reset password' link the default username is displayed:

[object HTMLInputElement] instead a blank or username

[2019-05-26 16:30] cabeaulac commented on #3345
Thanks @cliffordh
I'll see if I can get it to work for Google and I'll try Facebook too. Maybe somebody has a link to some AWS docs that say exactly how to do this? Because I haven't found those docs yet.

[2019-05-27 00:09] malithjkmt commented on #1583
@yareyaredesuyo
Can you please tell us, why `Auth.federatedSignIn({provider: 'Google'})` not a recommended method ?

[2019-05-27 07:17] tobiastornros commented on #3289
@haverchuck I have no idea how AWS should handle it internally. Amplify provide Facebook as an alternative in the hosted UI login with React Native.
It should be in Amplify's interest to offer as good a solution as possible.

[2019-05-27 09:46] toomek308 commented on #2083
Same problem here with binary data - Content Type: application/octet-stream.
We would like to send binary data to API Gateway.

[2019-05-27 10:36] yashutanna commented on #927
These attributes are no longer available in the latest version of amplify. is there something i am missing?

[2019-05-27 11:10] cliffordh opened #3347 "More Social Login Providers?"
**Is your feature request related to a problem? Please describe.**
I have Google, Facebook, Amazon login mostly working. But I'd like to add: Twitter, LinkedIn, Reddit, etc.

**Describe the solution you'd like**
Social Login is one of the most effective ways to onboard and retain users. The current options for Google, Facebook, Amazon cover a majority of users with those accounts and works for man

[2019-05-27 11:38] markau commented on #2542
[code]
hangs my browser :cry:

[2019-05-27 12:47] rpostulart commented on #3287
@jordanranz I removed node_modules and reinstalled it with no success. Still same issue!
Everything has been set up by the AWS CLI. Here is my code:

`/** @format */

import React from "react";
import { AppRegistry } from "react-native";

// redux

import Amplify, { Analytics, Auth, API, Storage} from "aws-amplify";
import codePush from "react-native-code-push";
import { PushNotificationIOS } from

[2019-05-27 14:22] krzysztofstudniarek commented on #3341
Hey @haverchuck

Ad 1. Not that I'm aware of. But will investigate more and come back to you.

Ad 2. Yes I have used Amplify CLI

Ad 3. Yes

Ad 4. I have only tried this post.

Thanks for help.

[2019-05-27 14:26] shicholas opened #3348 "CSS should be prepackaged or not included"
**Describe the bug**
This comment on https://github.com/aws-amplify/amplify-js/issues/2523 has this comment:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Use Amplify-React in any repo with webpack. You will need a `css` processor in order for everything to work.

**Expected behavior**

I should not need to require a `css` webpack loader because I expect this repo to only include

[2019-05-27 14:26] shicholas commented on #2523
upvote @ThrowsException. I am not using Next.js, just regular webpack and I have to add CSS processors just for this file - it's the only file that requires a CSS processor.

I created a new issue - https://github.com/aws-amplify/amplify-js/issues/3348 to track that.

[2019-05-27 19:59] rogueturnip commented on #3328
looks like the removal of the old pod didn't help with this.  On iOS when I open the app the data is not saved in asyncstorage so it won't go directly into the react-native app.

[2019-05-27 20:20] usmansbk commented on #2296
@willdady Did you find a way to resolve this problem. I believe i'm having the same issue. AWS deletes my credentials after starting up app without network connection.

[2019-05-27 20:33] HoraceShmorace commented on #3330
Indeed. So many glaring bugs in... everything.

[2019-05-27 21:04] usmansbk opened #3349 "[RN] How to prevent federatedInfo delete on refresh token failure due to network error"
**Which Category is your question related to?**
React-Native Amplify Auth

 **What AWS Services are you utilizing?**
Amplify and AppSync

 **Provide additional details e.g. code snippets**
`federatedInfo` is deleted from `Storage` after failure to refresh provider token due to network error.
Without credentials it's impossible to make `AWS` requests even after getting a new token.
User has to logo

[2019-05-27 21:15] jkeys-ecg-nmsu commented on #2634
@jarrettj @manueliglesias I think you forget to include a snippet of your view, but: I think we resolved this by ensuring that Auth (and then Amplify) are configured at the top of the program. At one point I had code like this IIRC:

[code]

But this "fix" worked b/c our app was ignoring race conditions and we just got lucky. Once we configured Amplify.configure/Auth.confgure as literally the firs

[2019-05-27 23:26] willdady commented on #2296
@usmansbk No it's an ongoing issue

[2019-05-28 04:14] BerndWessels commented on #1852
Hey, here are some of the findings and work I did around the Flutter AWS Cognito and AppSync in the last few weeks.

For me there is only one thing missing to get everything out of AWS now - a programmatic way to sign in federated identities (Google) into User Pools without using the Hosted UI (because I really want to create a cooler sign in experience in Flutter). Currently this is only possible

[2019-05-28 04:39] rawadrifai opened #3350 "In graphql.schema, how do I pass record ownership through a connection?"
GraphQL Schema

AWS Amplify, API Gateway, DynamoDB, Lambda, Cognito

In the schema below, I am trying to implement message channels. like slack. I want to track the access of the Message type. Only the users in a channel should be able to read a message. How do I make that dynamic to the members of a channel?

[code]

[2019-05-28 06:02] RyanHow commented on #390
I have a question about extracing the cognito user sub using `req.apiGateway.event.requestContext.identity.cognitoAuthenticationProvider`

Where does this information come from, and is it verified or can it be spoofed? I'm concerned it is just passed through as some signed content from the calling user.

Can anyone point me in the right direction for some docs on understanding the authorization fl

[2019-05-28 12:02] davidbiller opened #3352 "@searchable indexing parent child possiblity?"
** Which Category is your question related to? **
https://www.elastic.co/guide/en/elasticsearch/guide/current/indexing-parent-child.html
I guess, there is a stream from DynamoDB to ElasticSearch when a new Doc is created.
This "Stream" is fixed right? i used the AppSync @searchable from Amplify.

So, i guess i need to add  the parent ID like here in the example of the page:
PUT /company/employee/1

[2019-05-28 12:50] araphiel opened #3353 "Question: Is it possible to change the console's Dockerfile env variables?"
**Which Category is your question related to?**

AWS Console

**Provide additional details e.g. code snippets**

Is it possible to change the console's Dockerfile env variables?
For example, updating the `VERSION_HUGO` variable?

[2019-05-28 12:58] rpostulart commented on #3287
Any other ideas? I also get this error now:

`AWSS3Provider - ensure credentials error No Auth module registered in Amplify`

with this code:
[code]

[2019-05-28 13:43] yashwanthkumarsuruneni opened #3354 "axios 0.17.1 , 0.18.0 is showing a minor security issue"
**Describe the bug**
Running the snyk scan on my project

**To Reproduce**
Steps to reproduce the behavior:
1.  Run the snyk scan on your node_modules

**Expected behavior**
 The scan shouldn't show any security vulnerabilities

**Screenshots**

<img width="989" alt="Screen Shot 2019-05-28 at 9 42 57 AM" src="https://user-images.githubusercontent.com/20724658/58482808-1954a580-812d-11e9-98b0-94564

[2019-05-28 14:18] jaronavales commented on #1405
How to pass progressCallback property into outside public variable?

[2019-05-28 16:19] mcqj commented on #2102
I have to agree with @bionicles. This is a serious bug, not a feature request.

It's not necessarily a security hole as its not allowing one person access to another's account. But being able to block a user from signing up is a huge flaw.

We've been using Cognito without ever having identified this issue. We'll now disable multi-factor signup in all of our applications and notify all of our cust

[2019-05-28 17:24] manueliglesias commented on #3354
Hi @yashwanthkumarsuruneni

Thanks for bringing this to our attention.

I see the issue has been reported (axios/axios#1098) in the axios repo and a [fix](https://github.com/axios/axios/commit/0d4fca085b9b44e110f4c5a3dd7384c31abaf756#diff-13c4730a3365dedb3437af189b18e6a9R219) has been merged to master.

For now, we need to wait for it to be released and then adjust our dependency if needed.

[2019-05-28 17:26] codeandsugar commented on #1792
Any progress on this?

I've been struggling with this as well.  My application is routing to the Cognito hosted UI for authentication, and it takes 2-3 log in attempts before the Promise gets resolved.  This is is a cumbersome user experience, and I can't find a solid non-trivial coding example for how to do this properly.

I'm using Angular 7.2 with Amplify 1.2.22.

[2019-05-28 18:03] manueliglesias commented on #3349
Hi @usmansbk

This seems like a bug, and I am labeling it as such.

Seems to me that the `_refreshHandlers` should support some form of retry strategies to make the more resilient to network errors

https://github.com/aws-amplify/amplify-js/blob/7921668c4de1fff451ad53a4477e9ed05f0c728c/packages/core/src/Credentials.ts#L23-L24

[2019-05-28 19:08] usmansbk commented on #3349
@manueliglesias  is there any benifit to clearing the cache on failure to refresh?

`              }).catch(e => {`
`                    logger.debug('refresh federated token failed', e);`
 `                   this.clear();`
`                    return Promise.reject('refreshing federation token failed: ' + e);`
`                });`

[2019-05-28 20:09] madmed88 commented on #2477
shouldn't this be in the docs or even be done automatically? I lost countless hours trying to figure out how to get user data into pinpoint.

[2019-05-28 20:10] madmed88 commented on #1779
this comment helped me do it: https://github.com/aws-amplify/amplify-js/issues/2477#issuecomment-452067956

[2019-05-28 20:44] jessedoyle commented on #3342
Hi @chriscraiclabs - I think the YellowBox warning you're seeing was introduced by a bugfix that I submitted previously (https://github.com/aws-amplify/amplify-js/pull/3230).

I'm going to be submitting a PR to resolve the YellowBox warning, but I don't believe the warning is the cause of your issue with `Auth.federatedSignIn`.

I can confirm that we are using `withOAuth` on React Native with a cu

[2019-05-28 20:49] chriscraiclabs commented on #3342
Hey @jessedoyle What version of `react-native` are you using? Are you using `Hub.listen()` to pull the auth data returned? or are you getting that from somewhere else?

[2019-05-28 21:30] jessedoyle commented on #3342
@chriscraiclabs

We have an Android-only app running `react-native === 0.58.6`.

We're not using `Hub.listen()` explicitly in the app, but we do use `Auth.currentAuthenticatedUser()` to fetch user data.

[2019-05-28 21:49] themuli commented on #3321
I've discovered the root cause.

The aws-sdk library (used by aws-amplify to make the calls) mistakes the renderer process in Electron for a nodejs environment. In the nodejs case, It is also very ambitious when it comes to [fetching AWS credentials from the user's home directory](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/loading-node-credentials-shared.html) and https://gi

[2019-05-28 21:51] themuli commented on #3321
@manueliglesias @haverchuck Can you have someone look at my pull request? It's a really short documentation change.

[2019-05-28 22:16] themuli commented on #3321
To further clarify:

Logging in works fine because Amplify is passing in an email/username and password to authenticate a Cognito identity. However, when using Amplify to call an AWS API, the aws-sdk prioritizes uses the user's root sdk credentials instead of the Cognito credentials that Amplify just saved. This mismatch is why I was receiving a 500 (CognitoIdentity is null) instead of 400 (unauth

[2019-05-28 22:26] dmks opened #3359 "Please export BigInteger in amplify-js/packages/amazon-cognito-identity-js/src/index.js"
**Is your feature request related to a problem? Please describe.**
I'd like to use amazon-cognito-identify-js with AdminInitialAuth, however, I need to use `BigInteger` which is not exported.

**Describe the solution you'd like**
I'd like `BigInteger` to be exported.

[2019-05-28 23:11] jkeys-ecg-nmsu commented on #3279
@jordanranz @ajhool I think the tag "pending-triage" says it all. I'm asking for features all the time, as is much of the Amplify dev community. (I've also not yet contributed to the codebase directly. =/ ) My company is in its start-up cycle trying to make stuff that doesn't exist yet, so we tend to work around what isn't stable or working instead of relying on it being fixed in the next iteratio

[2019-05-28 23:14] jkeys-ecg-nmsu commented on #3350
Search for "Dynamic Group Authorization" in the GraphQL transformer guide:

https://aws-amplify.github.io/docs/cli/graphql#usage-1

[2019-05-29 01:44] manueliglesias commented on #3359
Hi @dmks

I am labeling this as a feature request. (Making BigInteger a top level export)

Please notice that you can import just big integer like this as of today:

[code]

[2019-05-29 01:54] manueliglesias commented on #3349
I think it only makes sense when the refresh is unsuccessful due to an expired refresh token.

[2019-05-29 02:02] manueliglesias commented on #3321
Hi @themuli

Thanks for the investigation and detailed explanation!

I looked into this a little and I think you can do
[code]

For reference, I see where the problem starts, from https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/CredentialProviderChain.html#defaultProviders-property

[code]

I am closing this issue and the PR, but please let us know if this didn't work so we can re-open app

[2019-05-29 02:02] #3321 closed

[2019-05-29 02:36] oottinger commented on #2781
@powerful23

This seems to be an issue if you use the withAuthenticator component.

This works but brings in a lot of extra components like xr.
[code]

This does not work and results in errors that @bradennapier reported.
[code]

At the bottom of the documentation it sounds like this should be possible - https://aws-amplify.github.io/docs/js/authentication

[2019-05-29 04:09] EmanH commented on #3342
I'm having the same issue here.

[2019-05-29 04:40] rawadrifai commented on #3350
@jkeys-ecg-nmsu , I tried Dynamic Groups.  Please correct me if I'm wrong, The problem is that you would need to create a Cognito security group per channel. For something like slack, with a lot of clients (and more channels), would that be a problem?

[2019-05-29 04:57] EmanH commented on #3342
Render:
[code]

[code]

[code]

Likewise I'm getting no Hub events, and user is not authenticated. :(

[2019-05-29 05:38] EmanH commented on #3210
@chriscraiclabs Did you get your issue solved? I'm having the same issue.
@waltermvp Changing to implicit grant in Cognito, didn't solve the issue for me.

[2019-05-29 05:40] EmanH commented on #3210
I'm going from the App to Google oauth and back to the app successfully, but nothing picked up in hub listener.

https://github.com/aws-amplify/amplify-js/issues/3342#issuecomment-496784358

[2019-05-29 05:45] josephhealy commented on #1429
????

[2019-05-29 06:53] rawadrifai commented on #3350
I figured this out. I used this:
[code]
and I maintained the users of a channel in the ownerField.

[2019-05-29 06:53] #3350 closed

[2019-05-29 08:17] EmanH commented on #3210
**Update**
If I reload the app after doing the federatedSignIn, it HAS signed me in, but I have to reload the app in the emulator (rr) first. Will keep experimenting.

[2019-05-29 08:19] hoang-innomizetech commented on #3046
Anyone can help to fix this issue?

[2019-05-29 08:21] chriscraiclabs commented on #3210
@EmanH Hey, yeah im still having this issue. Interesting on the app refresh! How are you verifying that you are logged in? Are you triggering `Auth.currentAuthenticatedUser()`  on load?

[2019-05-29 08:32] EmanH commented on #3210
Just by Hub listener at the moment. Auth.currentAuthenticatedUser() was throwing an error.On 29 May 2019 6:21 pm, chriscraiclabs <notifications@github.com> wrote:@EmanH Hey, yeah im still having this issue. Interesting on the app refresh! How are you verifying that you are logged in? Are you triggering Auth.currentAuthenticatedUser()  on load?

—You are receiving this because you were mentioned.Re

[2019-05-29 08:44] chriscraiclabs commented on #3210
@EmanH So is this your current flow:
google auth button > navigated out of app > auth > navigated back into app > nothing triggers > refresh app using `cmd r` > `Hub.listen()` is called ?

[2019-05-29 09:03] EmanH commented on #3210
Yes, that's exactly it.On 29 May 2019 6:44 pm, chriscraiclabs <notifications@github.com> wrote:@EmanH So is this your current flow:
google auth button > navigated out of app > auth > navigated back into app > nothing triggers > refresh app using cmd r > Hub.listen() is called ?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2019-05-29 09:22] ejdoh1 commented on #1858
I also have this issue - only when my app is in the foreground and I try to open a notification.

[2019-05-29 09:49] EmanH commented on #3210
I tried using the bare basic example from the Amplify docs. Same problem.
`App.js`
[code]

[2019-05-29 10:29] Xander567 commented on #825
Hey,
We could definitely do with something like this, so i'm putting my name down too. My user case is as follows:
We have multiple cognito user pools and one login location. A lambda function takes the username and password, authenticates the user and returns the tokens (id, access, refresh). We need to tell the amplify front end that the user is logged in with the credentials from the function.

[2019-05-29 10:54] janhesters commented on #2477
@madmed88 I think so, too. Made a detailed tutorial [here](https://geromekevin.com/tracking-and-email-reminders-in-aws-amplify/).

[2019-05-29 11:02] usmansbk commented on #3302
@senips  you have to use packages like` react-native-fbsdk` for facebook and `react-native-google-signin` for google. Also you need to provide your refresh token handler, [here is google refresh handler gist](https://gist.github.com/usmansbk/a33c92bdbfa7417a5b7a42167f0e9980) . You can use it as an template for facebook refresh handler. The AWS docs is a bit misleading about the refresh handlers.

[2019-05-29 11:15] GraemeAllanBryce commented on #1858
I would like to let people know that we have an app in production that is working perfectly using this library and AWS Pinpoint for both analytics and push notifications.  It is working on iOS and Android.

Our discover was that this library provides everything that is required for push notifications.

you SHOULD NOT include the AWS push notifications library in your build.  It is not required and

[2019-05-29 11:16] GraemeAllanBryce commented on #1858
I should add: we are successfully using all of Push, Scheduled and Local notifications.

[2019-05-29 11:42] usmansbk commented on #3347
@cliffordh  I believe Cognito supports custom providers.

![Screenshot (61)](https://user-images.githubusercontent.com/10219539/58554579-3eb9e000-820f-11e9-9f27-cc8530dcefd8.png)

[2019-05-29 11:47] cliffordh commented on #3347
Thanks @usmansbk I noticed that. But, I don't see anything in Amplify to support other providers other than Google, Facebook, LoginWithAmazon.

[2019-05-29 13:42] jkeys-ecg-nmsu commented on #3350
No, that's static group authorization that relies on Cognito groups. Dynamic group authorization relies on a dynamic field of your model.

[2019-05-29 15:01] venkatesh-kadiyala commented on #3246
@powerful23
Do you have any update on this ?

[2019-05-29 15:07] tmjordan commented on #825
@Xander567 here's what i did and it'w working perfectly for me until now. You just have to set the tokens manually, and amplify will just use them with no problems. You can login or logout and the tokens are refreshed automatically.
[code]

[2019-05-29 15:08] tmjordan commented on #825
you can see the whole code in my previous comments

[2019-05-29 16:39] damianrr opened #3360 "MultiEnv and Dynamically get DynamoDB TableName in a BatchGetItem request mapping template"
**Is your feature request related to a problem? Please describe.**
Batch operations in custom resolvers doesn't play well with multi env feature.

**Describe the solution you'd like**
When using a BatchGetItem operation in a custom resolver I need to hardcode the table name, like this:
[code]
However, this creates a problem when I'm using a multi env set up.
I haven't found in the docs and interne

[2019-05-29 18:19] VividKnife commented on #3246
Hi, we already updated the CLI version in Amplify Console to "1.6.9". Can you please try again?

[2019-05-29 18:40] venkatesh-kadiyala commented on #3246
@VividKnife The build is success but still it shows as version 1.5.1.  See the below image

![Build-Image1](https://user-images.githubusercontent.com/42621275/58582354-906a6680-821f-11e9-809d-b1dbcf194c8a.PNG)

[2019-05-29 19:11] rawadrifai commented on #3350
@jkeys-ecg-nmsu are you sure about that? I'm under the impression from the documentation that "groups" are Cognito groups, whether static or dynamic. But assuming dynamic groups are not maintained in Cognito.. where do you maintain them? As in, how do you add/remove users from a group? and where's that stored?

[2019-05-29 20:58] logusgraphics commented on #987
Experiencing the same issue, as an already confirmed account email address can be updated via user attributes and even though the verification code is sent via email, no verification is required prior to start using the new email address.

[2019-05-29 21:12] VividKnife commented on #3246
That's a documentation issue. Will notify team to fix it.

[2019-05-29 21:12] bush commented on #3341
I have just encountered this error as well.

[2019-05-29 21:34] venkatesh-kadiyala commented on #3246
Thank you.

[2019-05-29 21:34] #3246 closed

[2019-05-29 21:50] manueliglesias commented on #3347
@cliffordh  If you configure a provider as @usmansbk  mentioned, you can try using [Identity Pool Federation](https://aws-amplify.github.io/docs/js/authentication#social-providers-and-federation) and making sure you pass the right stuff to `Auth.federatedSignIn()`

[2019-05-29 22:10] gcid12 commented on #1613
@romainquellec , I also think you should keep this ticket open. There's a lot you can do with Amplify But well supported, well documented, production ready Server Side is a must for a lot of us.  Would love to hear from @undefobj if this is in the roadmap, he's usually very responsive.

[2019-05-29 22:13] undefobj commented on #1613
SSR support is on our roadmap, and we'd like to do it this year but for transparency it's not in the next few months. It will require a fair amount of work on the internals and potentially some breaking changes so we would like to do it as part of a larger release this summer/fall with other changes. That being said if anyone in the community wishes to fork Amplify and try to get it working, then

[2019-05-29 22:40] jkeys-ecg-nmsu commented on #3350
https://aws-amplify.github.io/docs/cli/graphql ("dynamic group authorization")

[2019-05-29 22:42] rawadrifai commented on #3350
@jkeys-ecg-nmsu  yes this is the field where you specify the group name(s). But who are the users that belong in the group? Those are specified in Cognito. The "dynamic group" must exist in Cognito as a group in the user pool you are using.

[2019-05-29 23:28] sammartinez commented on #2951
@dhyeysejpal Are you still experiencing this issue with a newer version of aws-amplify-react-native? We did have an issue with View and had an update that went out to add SafeAreaView. Just wanted to double check

[2019-05-30 01:34] 13453197509 commented on #165
type类型改成其他就没事了

[2019-05-30 02:20] senips commented on #3302
Amplify for React-Native does not save any more of developers time or not offering any out of box solution but rather rely on what @usmansbk  specified above.   I do not know why big time cloud providers like AWS not providing any support or examples but selling Cognito solutions for long time.   Just look at how auth0 guys are providing native components, examples and integration aspects.  I am t

[2019-05-30 03:05] bishonbopanna commented on #711
@dabit3 - Is there an ETA on this (

) feature please ?

[2019-05-30 03:59] manueliglesias commented on #3302
Hi @senips

Take a look at [this repo](https://github.com/manueliglesias/hosted-ui-react-native-cli) I created when doing some work on the feature. It is almost the same code as in the docs. I just tried it and worked for me, hopefully it works for you too and help you get unblocked.

[2019-05-30 04:41] rowanu commented on #3354
Great to see you guys across this 😄

Very keen to see this dependency updated when possible, _because Security_.

[2019-05-30 04:56] usmansbk commented on #3302
@manueliglesias does this work for ejected create-react-native-app or just Expo?

[2019-05-30 06:05] #3101 closed

[2019-05-30 06:10] davidweica commented on #2544
I encountered the same issue when build a sample react native app to test push notification in pinpoint.

my code in App.js:

import React, {Component} from 'react';
import {Platform, StyleSheet, Text, View, PushNotificationIOS} from 'react-native';

import Analytics from '@aws-amplify/analytics';
import PushNotification from '@aws-amplify/pushnotification';
import aws_exports from './aws-exports'

[2019-05-30 06:19] rawadrifai opened #3363 "Amplify push: Ask these questions before the wait"
If you're using AppSync, and you do Amplify push, there's a wait and then there's 2 questions:

![image](https://user-images.githubusercontent.com/24530625/58612649-24f8b700-8268-11e9-9c19-54293aaa12b7.png)

Not sure if it's too silly of an ask, but would be nice if we can answer the questions before the wait, so I can push and go do something else.

[2019-05-30 07:38] jkeys-ecg-nmsu commented on #3363
`amplify push --yes`

This is a CLI question btw.

[2019-05-30 08:44] #3363 closed

[2019-05-30 11:10] dhyeysejpal commented on #2951
@sammartinez I can check it and let you know.

[2019-05-30 12:40] dssantana commented on #3193
same issue here, any updates?

[2019-05-30 14:25] loganwedwards commented on #2958
I ran into the same issue (SerializationException), although my value is defined as a Number in the Cognito console, but I had to wrap it in quotes within my app. This is confusing and it the error message is somewhat helpful in retrospect, but not at all intuitive.

My custom attribute is called `onboarding` with a type of Number. The Cognito console renamed it to `custom:onboarding`.

In my sign

[2019-05-30 15:20] bernhardt1 commented on #2544
@davidweica

I don't set the channelType. I'm not sure if that would make any difference for you. You could also check if anything is being returned.
[code]

[2019-05-30 15:42] Defwentz commented on #896
Hello,

I am experiencing this issue sort of. It was working correctly until about an hour later, it will start giving me 403.

Here is how I refresh my tokens every 15 minutes:
[code]

Here's how I configure AWSAppstncClient:
[code]

[2019-05-30 16:55] MikeAlexMartinez commented on #2010
For anyone who does use the 'use Auth.signIn() again' workaround to resend a code. You have to ensure that your subsequent call to Auth.confirmSignIn(user, code) passes in the user returned from the corresponding Auth.signIn() call.

[2019-05-30 17:14] ak37165 opened #3364 "Is MFA always required after forgot password reset, even on remembered devices?"
** Which Category is your question related to? **
Authentication

** What AWS Services are you utilizing? **
Cognito user Pools

** Provide additional details e.g. code snippets **
I have a user pool with optional MFA. My web app allows users to configure TOTP MFA. And the option to remember devices is selected (so TOTP challenge should arise only on new devices/browsers).

Consider an end user wi

[2019-05-30 17:40] davidweica commented on #2544
@baharev
 Analytics.updateEndpoint({
            address: token,
            optOut: 'NONE',
            userId: 'Z1Y2X3W4ABC12345A'
          })
            .then(data => {
              console.log('endpoint updated', JSON.stringify(data));
            })
            .catch(error => {
              console.log('error updating endpoint', error);
            });

got log:

'endpoint updated', unde

[2019-05-30 17:57] manueliglesias commented on #3302
It was not created with `create-react-native-app`, it was created with `react-native-cli` (e.g. `npx react-native init MyApp`), so no Expo

[2019-05-30 18:28] powerful23 commented on #1978
Closing the issue because the `aws-amplify` has been marked as `peerDenpendencies`.

[2019-05-30 18:28] #1978 closed

[2019-05-30 19:14] baharev commented on #2544
@davidweica Sorry, I don't follow. How did I get into this discussion?

[2019-05-30 19:21] undefobj commented on #3302
@loganwedwards are there any specific areas or actions we could take to make this easier? It's a bit of a catch-22 in that we used to have extremely verbose examples of manually building all the samples in the docs from scratch, and then we received feedback was that the docs are too verbose and customers want shorter examples automated by the CLI. Now that we have the reverse there is feedback fo

[2019-05-30 19:23] gerrytsui commented on #3193
I have no problem upgrading my project to Angular 8.0.0 ( released yesterday) . No problem with ng [ serve | test | e2e | build --prod --aot]
with enableIvy set to false.
Applied the patch to Auth.js ( the JS.isEmpty of this._config.storage)

My project uses {  Auth, API, Analytics, ServiceWorker, Logger, Hub} from 'aws-amplify';
Here is my tsconfig.json:

  "compileOnSave": false,
  "compilerOpti

[2019-05-30 19:38] jessedoyle commented on #3354
Hi @manueliglesias - It looks like version `0.19.0` of `axios` has been release: https://github.com/axios/axios/releases/tag/v0.19.0. Just FYI!

[2019-05-30 20:17] powerful23 opened #3365 "RFC: Amplify Library Modularization and Bundle Size Improvement"
This issue is a Request For Comments (RFC). It is intended to elicit community feedback regarding a proposed change to the library. Please feel free to post comments or questions here.

## Situation

The bundle size of amplify-js has always been a concern to the customers.  At the very beginning we put all the categories in a single package which leads to a huge bundle size. Then we decided to spl

[2019-05-30 20:39] davidweica commented on #2544
@baharev sorry, wrong mention. :).  was for @bernhardt1

[2019-05-30 20:56] baharev commented on #2544
@davidweica OK, no problem. Weird though that GitHub offered it.

[2019-05-30 21:04] dssantana commented on #3193
@gerrytsui have you published your build and opened it in a browser? There are no problems serving or building, the problem is using the build

[2019-05-30 21:08] dssantana commented on #3193
@hernysachs I can build with the version released yesterday but I can’t use the build when published.

[2019-05-30 21:12] bernhardt1 commented on #2544
@davidweica

My first advice wasn't great. I just checked my logs. I also get **'endpoint updated', undefined** in my code too, but it is successfully updating the endpoint.

One other thing you might try is moving the updateEndpoint call out of onRegister. I save my token to asyncStorage and then update the endpoint later.

you can also turn on debug logging which should help you track what's hap

[2019-05-30 21:18] #3270 closed

[2019-05-30 21:23] manueliglesias commented on #3287
Hi @rpostulart

Can you verify that you don't have multiple versions of Amplify packages in your project?

[code]

or

[code]

[2019-05-30 22:04] altin-selimi opened #3367 "GetSession function using wrong idTokenKey"
**Describe the bug**
Because I want better security than using localStorage to keep my tokens, I decided to implement my own storage (which is in-memory).
Now this has the usual methods required for a storage to work: `setItem, getItem, removeItem, clear`.
I was trying to implement the signOut global function when user clicks log-out, when I was receiving an error `'Local storage is missing an ID

[2019-05-30 22:16] robynnason commented on #2544
Hey everyone, I haven't read through this entire comment chain, but I reached out to AWS for help on this. For my case, they suggested that in the `Analytics.configure({ PushNotificatoin: ...` to specify the endpoint as `OptOut: NONE` and then after the `Analytics.configure` add this line: `Analytics.updateEndpoint({ immediate: true });` This has been working mostly successfully for me. As they ex

[2019-05-30 22:34] rpostulart commented on #3287
I see this list

[code]

[2019-05-30 22:51] aldo-roman opened #3368 "Storage: Allow global configuration"
**Is your feature request related to a problem? Please describe.**
Our S3 bucket requires to upload using Server Side Encryption (SSE) using KMS. This was made supported on Amplify on #2171.

Given this is configured on the provider, current approach requires to include the `serverSideEncryption` on **every request**:
[code]

This may lead to human errors, forgetting to encrypt a file on S3 if buc

[2019-05-30 23:05] manueliglesias commented on #3108
Closing this,

see the following links for detailed explanations:

- https://forums.aws.amazon.com/message.jspa?messageID=757990#757990
- amazon-archives/amazon-cognito-identity-js#312
- https://stackoverflow.com/a/47865747/194974

[2019-05-30 23:05] #3108 closed

[2019-05-30 23:13] manueliglesias commented on #3287
@rpostulart

i see you have multiple versions of `@aws-amplify/core`:

[code]

Looks like you need to upgrade to `@aws-amplify/pushnotification@1.0.27` to avoid the package duplication of `@aws-amplify/core` (see https://github.com/aws-amplify/amplify-js/commit/c73616520d1e0de1c2c98944cef1a69903e3d14e)

[2019-05-30 23:17] #3336 closed

[2019-05-30 23:31] manueliglesias commented on #3289
Hi @tobiastornros

Amplify doesn't interact directly with facebook. In amplify you can use social providers by either using OAuth flows (Cognito Hosted UI) or passing a facebook token yourself (this you could do using Facebook's SDK)

See [Social Provider Federation](https://aws-amplify.github.io/docs/js/authentication#social-provider-federation) and  [Identity Pool Federation](https://aws-amplify

[2019-05-30 23:59] gmisa opened #3369 "aws-amplify-react Connect mutation does not handle errors in graphQL operation correctly."
### Describe the bug
**A clear and concise description of what the bug is.**

This is related to a closed bug which was for aws-amplify-vue. [https://github.com/aws-amplify/amplify-js/issues/2568](url)  This bug however is present in aws-amplify-react.

The bug is in the block constrained by the if statement "if (hasValidMutation) on line 73 of packages/aws-amplify-react/src/API/GraphQL/Connect.js

[2019-05-31 00:25] manueliglesias commented on #3367
Hi @altin-selimi

Can you share your in-memory storage implementation?

I suspect it is adding the quotes

[2019-05-31 06:33] rpostulart commented on #3287
I upgraded push notifications and uninstalled @aws-amplify/core@1.0.23 but the error is the same.

`NLMB22A5-PO2992:pgb ramon$ npm list | grep "amplify"
├─┬ @aws-amplify/cli@1.6.11
│ ├─┬ amplify-category-analytics@1.4.6
│ │ ├── amplify-category-auth@1.5.6 deduped
│ ├─┬ amplify-category-api@1.5.10
│ │ ├── amplify-category-auth@1.5.6 deduped
│ │ ├── amplify-category-function@1.4.6 deduped
│ │ ├── am

[2019-05-31 06:36] dmks commented on #3359
Ah, thanks

[2019-05-31 07:05] pl4yradam commented on #3193
@dssantana I have also been investigating this, you will see online there are things to do (window process). All this does is masks the error. im the same, dev does not work with angular 8 and amplify js.

My project uses { Auth, API, Analytics, ServiceWorker, Logger, Hub} from 'aws-amplify';

Do you think its worth getting a simple repo implemented showcasing the failure? NG Serve works fine, its

[2019-05-31 07:26] jdavidhermoso opened #3370 "Readme.md - Angular modules link takes to AngularJS docs"
In readme.md, in the Angular documentation section, a link takes to AngularJS docs instead to Angular 2+ docs.

![image](https://user-images.githubusercontent.com/7687596/58689042-4b147900-8386-11e9-9e5b-bb0e1ed06985.png)

[2019-05-31 07:35] jdavidhermoso commented on #3370
I tried to create a PR, but I have no permissions.

Correct link is: [https://angular.io/guide/architecture-modules](https://angular.io/guide/architecture-modules)

[2019-05-31 07:35] bneigher commented on #1378
Why is this closed?

[2019-05-31 09:14] jdavidhermoso opened #3371 "How to use 'SignInComponent' in Angular"
**Which Category is your question related to?**
AWS Amplify Auth
**What AWS Services are you utilizing?**
Cognito
**Provide additional details e.g. code snippets**
Hi!

I am trying to use the SignInComponent in an Angular App, but the component never gets rendered. There are no console errors.
`SignUpComponent` works fine.

my-component.html
`<amplify-auth-sign-in [authState]="authState"></amplify

[2019-05-31 09:30] altin-selimi commented on #3367
You are right. I was doing this:
[code]
After I removed the stringify part, I had it working. But I don't understand why ? Care to explain ?

[2019-05-31 09:34] altin-selimi commented on #3367
You are right, I had this implemented:
[code]
Though I don't understand why it happened. How were the double quotes getting in the middle of the getItem key ... Can you help me understand that ?

[2019-05-31 11:06] Temkit commented on #3248
Problem persist.
 using  "aws-amplify": "^1.1.29-unstable.1",

[2019-05-31 11:20] gerrytsui commented on #3193
OK. I have problem with the build too getting something about process in the console.
This fixes it: Change from es2015 to es5
    //"target": "es2015",
    "target": "es5",

[2019-05-31 11:28] dssantana commented on #3193
//"target": "es2015",
"target": "es5",

Not really, it's a workaround but you missed using es2015, one of the big changes in angular 8.

[2019-05-31 11:41] pl4yradam commented on #3193
Guys to help best assist the situation:
 - Put down your package versions for amplify
 - Send the tsconfig
 - If you are using ivy or not

[2019-05-31 12:01] omjimehrotra opened #3372 "Multiple clients can not use the same keyPrefix."
<img width="263" alt="Screenshot 2019-05-31 at 5 26 13 PM" src="https://user-images.githubusercontent.com/11025717/58704321-34dbdc80-83c9-11e9-8ffe-2dd8c29e4abb.png">

Previously I was getting **"Can't find variable: Symbol"** error [https://github.com/aws-amplify/amplify-js/issues/3233](url) then as per the resolution given by AWS forum I had used Core-Js library to resolve the same, but as I use

[2019-05-31 13:17] dssantana commented on #3193
`"aws-amplify": "1.1.28",
 "aws-amplify-angular": "3.0.3",`

`"compileOnSave": false,
    "compilerOptions": {
        "baseUrl": "./src",
        "outDir": "./dist/out-tsc",
        "sourceMap": true,
        "declaration": false,
        "module": "esnext",
        "moduleResolution": "node",
        "emitDecoratorMetadata": true,
        "experimentalDecorators": true,
        "importHelpers":

[2019-05-31 13:45] gerrytsui commented on #3193
The "uncaught ReferenceError: process is not defined" is similar to the "global" we got back when we upgraded to angular 6. If you recall we were instructed per Amplify angular doc to add the following into the polyfills.ts

As a test I also inserted the following

    env: { DEBUG: undefined },
  };

and it is fine now with target: es2015

My customer service_worker.js is still working.. I have t

[2019-05-31 13:58] gerrytsui commented on #3193
By defined a dummy "process" my webapp works 100% excepts the Pinout/Analytics recording calls are failing.

Ideally amplify/analytics should be upgraded to use the new Angular 8 Web Worker.

In the mean time I will be using  target es5. Angular 8 is just a preview/transition to Ivy/Angular 9 ( in Oct/Nov)

[2019-05-31 14:08] gerrytsui commented on #3193
OK. I found a way to properly Polyfill the "process is not defined"

 npm install -S process

the add the following to your polyfills.ts

window['process'] = process;

and set tsconfig.json

[2019-05-31 15:22] haverchuck commented on #3371
@jdavidhermoso Maybe try passing in` AuthState.state = 'signIn'` instead of `AuthState.state = 'confirmSignIn'`?

[2019-05-31 15:24] haverchuck commented on #3330
@davidgatti Quick update - we are continuing to investigate the cause of this issue.

[2019-05-31 15:27] pl4yradam commented on #3193
I am not sold yet on putting the process flag in as it seems like a bandage
rather than something more solid. I can understand the window global though.

On Fri, 31 May 2019, 14:45 Gerry Tsui, <notifications@github.com> wrote:

[2019-05-31 16:09] JinJunho opened #3373 "user.sendCustomChallengeAnswer is not a function"
This is a long article but organized pretty neat. Please read it and help me if you have any clue.
It's easy to reproduce using simple express application.
(just separate Auth.signIn and Auth.sendCustomChallengeAnswer in different router)

#### Notice
Similar symptom found in old issue(#1896), but it seems to be happening in frontend, while I'm having it in backend.

=======

**Which Category is y

[2019-05-31 16:21] oliverandersencox commented on #3274
Yeah this error just happened for me. I added the Amplify generated Angular API service to another service and I get exactly the same error

[2019-05-31 16:24] gerrytsui commented on #3274
Duplicate of #3193

I found a way to properly Polyfill the "process is not defined"

npm install -S process

the add the following to your polyfills.ts

import * as process from 'process';
window['process'] = process;

and set tsconfig.json

"target": "es2015",

[2019-05-31 16:41] oliverandersencox commented on #3274
@gerrytsui you sir... are a legend! fixed on my end now

[2019-05-31 17:22] manueliglesias commented on #3372
Hi @omjimehrotra

Looks like you are using multiple instances of the `AWSAppSyncClient` in your app, please take a look at [these docs](https://aws-amplify.github.io/docs/js/api#aws-appsync-multi-auth-1) for more information on what to do (if you don't need multiple instances of the client, it is better to use just one)

[2019-05-31 17:22] #3372 closed

[2019-05-31 17:31] manueliglesias commented on #3367
@altin-selimi  I am glad you got it working! 😄

This is because that's the defined behavior for `JSON.stringify`, it is better explained [here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify#Description).

[2019-05-31 17:31] #3367 closed

[2019-05-31 17:57] manueliglesias commented on #3370
Hi @jdavidhermoso

I've created a PR with that change. I am curious about the permissions, you should have been able to fork the repo and send a PR

[2019-05-31 18:14] manueliglesias commented on #3359
I'm going to close this as there is a way to import `BigInteger`

[2019-05-31 18:14] #3359 closed

[2019-05-31 18:14] #3370 closed

[2019-05-31 18:47] jdavidhermoso commented on #3371
Thanks for your answer.
I copied bad.
I'm passing 'signIn'.

Sorry.

[2019-05-31 18:50] stepseazy opened #3375 "Problem with pushing api with cognito"
**Describe the bug**

When I run amplify push after initializing api, the application throws an error

[code]
**To Reproduce**

run amplify add api with cognito
run amplify push

**Expected behavior**
Expect the api to not crash

**Smartphone (please complete the following information):**
 - Device: [e.g. iPhone6]
 - OS: [e.g. iOS8.1]
 - Browser [e.g. stock browser, safari]
 - Version [e.g. 22]

*

[2019-05-31 20:41] davidweica commented on #2544
Hi folks,
I tried all the suggestions above,  added immediate: true in updateEndpoint, also, tried to call updateEndpoint after saving in storage, still cannot get through.

I pasted my app.js and logs below, thanks for helping.

App.js:

import React, {Component} from 'react';
import {Platform, StyleSheet, Text, View, PushNotificationIOS} from 'react-native';

import Analytics from '@aws-amplify/

[2019-05-31 20:45] #3354 closed

[2019-05-31 20:51] manueliglesias commented on #3287
@rpostulart can you completely delete your node modules and do `npm i` or `yarn` again?

[2019-05-31 20:56] #3274 closed

[2019-05-31 20:58] #3243 closed

[2019-05-31 21:02] manueliglesias commented on #3214
This will be fixed by #3258

[2019-05-31 21:30] sammartinez commented on #3224
@andrewoh531 I did want to provide a little more information on [HttpOnly](https://www.owasp.org/index.php/HttpOnly#What_is_HttpOnly.3F)

Not sure if you have seen this so wanted to provide this. Hope it helps!

[2019-05-31 21:33] powerful23 commented on #3373
@JinJunho Hi, can you provide more info like:

- For Solution 1, how are you using `express-session` to cache the user object? Can you confirm the user you get from the `express-session` is still a valid `CognitoUser` object as the same as the user object you get back from `Auth.signIn`?
- For Solution 2, I want to know how did you get the `session` object? The `session` here is [an item in the re

[2019-05-31 22:18] #2963 closed

[2019-05-31 22:24] elorzafe commented on #3089
@uchar I could not reproduce the problem. I used Amplify CLI and enabled hosting and did `amplify publish` that deploys the app on S3 and it works without issues. Can you try cleaning local storage? And start a new cycle. Let me know how it goes.

[2019-05-31 23:08] JinJunho commented on #3373
Hi @powerful23, thank you for paying attention to my question.

- Answer 1.

First, I use `express-session` in this way:
[code]

I printed user object two times: first I checked right after Auth.signIn, and secondly I checked right after `/verification/login` api is called.
It seems that retrieved user object from express-session differs from the original user object returned by Auth.signIn.

Here

[2019-06-01 00:00] elorzafe commented on #3375
@stepseazy which version of amplify cli are you using. Maybe that is the problem. I will transfer this issue to cli repo to have a better tracking from there.

Thanks

[2019-06-01 00:09] andrewoh531 commented on #3224
Hi @sammartinez, I understand what `httpOnly` flag will do. My question is whether this is supported by aws-amplify.

[2019-06-01 05:46] dhyeysejpal commented on #2951
@sammartinez I updated everything, including aws-amplify react-native to the latest version. Unfortunately I am not able to apply my custom theme to the components. With the latest version, I was able to get rid of  all the extra space that was there earlier, but trying to override the style for container does not work. Here is the snippet of code;

[code]

The background color is not applied from

[2019-06-01 07:16] gucolin opened #3379 "Multiple Auth.sendCustomChallengeAnswer() failed with InvalidParameterException"
**Describe the bug**
We have CUSTOM_AUTH flow with custom challenges configured. In the case when we call Auth.sendCustomChallengeAnswer() multiple times (for example, user provided the wrong challenge answer the first time and retried), Auth.sendCustomChallengeAnswer() resulted in error:

[code]

**NOTE**:
- the first time calling Auth.sendCustomChallengeAnswer() works perfectly fine
- This start

[2019-06-01 08:46] JinJunho commented on #3373
I managed to make it work by creating new `object` property in Authentication Helper (where methods that call Auth.signIn or Auth.sendCustomChallengeAnswer are implemented), which holds user objects returned by Auth.signIn using usernames as their key.

Here's the new code sample that works:
[code]

This solution works anyway. However, I'm not comfortable with this approach, it just feels too hack

[2019-06-01 10:30] JinJunho opened #3380 "Serverside Auth.currentAuthenticatedUser contains only the most recently authenticated user"
**Which Category is your question related to?**
Usage Question

**What AWS Services are you utilizing?**
Cognito

**Provide additional details e.g. code snippets**

### Describing current issue
1. I've posted another issue earlier(#3373) and this issue is an extension to that.
As explained before, I'm implementing authentication backend server using Cognito and Amplify Auth.

2. In earlier issue,

[2019-06-02 05:02] davidweica opened #3381 "Task :@aws-amplify_pushnotification:verifyReleaseResources FAILED"
**Describe the bug**
following steps in the link https://aws-amplify.github.io/docs/js/push-notifications#configure-your-app to create a react-native app and firebase app to test android push notification.

it seems that the document is out of sync, the last step is "expo start". however, the first step is
"react-native init myapp".

I tried to run ./gradlew assembleRelease,
got error:

FAILURE: B

[2019-06-02 07:35] cullsin opened #3382 "console Error : 59.24.678 AWS PinpointProvider - record event failed"
** Which Category is your question related to? **

AWSPinpoint Provider: console error.

** What AWS Services are you utilizing? **
Init

** Provide additional details e.g. code snippets **
I do not understand what I suppose to do with this Error. Please help me.

![image](https://user-images.githubusercontent.com/5137598/58758271-c87eeb80-8536-11e9-900b-2f7e1d69bd79.png)

[2019-06-02 12:30] bilal-korir commented on #2965
In the documentation, they mention using `readStream` instead for large file

[rn-fetch-blob](https://github.com/joltup/rn-fetch-blob/wiki/File-System-Access-API#readfilepath-encodingpromise)

If you test it and it works, please share your experience

[2019-06-02 13:04] buggy opened #3383 "URGENT @aws-amplify/ui broke after merging the TypeScript changes"
**Describe the bug**
The component styling is missing after merging #3180. I checked out a clean project to verify it was working properly. It looks like something has screwed up and the styling is now missing from the components.

**To Reproduce**
Steps to reproduce the behavior:
1. Build the aws-amplify-js from source
2. Create a new react app using create-react-app
3. Add the aws-amplify and aw

[2019-06-02 13:20] buggy commented on #3383
@powerful23 or @jordanranz Are you able to verify that there is a problem? If so, can you verify that the #3384 fixes it?

[2019-06-02 16:07] Raythode opened #3385 "Is Different Email Verification type possible?"
**Which Category is your question related to?**
Usage Question and possibly feature request.

 **What AWS Services are you utilizing?**
AWS Amplify library for user authentication for both app built with react (web app) and react-native (mobile app).

 **Provide additional details e.g. code snippets**
 I have an implementation where, user while signing up with phone or email will get an verificati

[2019-06-02 16:09] Raythode commented on #3385
I mean i see only option to change it from code to link in AWS cognito console. But can we do it programmatically?

[2019-06-02 17:49] oliverandersencox opened #3386 "Ionic 4 redirect back to app after auth"
I am using Amplify with Ionic and have built an authentication system using the amplify angular service. Authentication works great and redirects back to the app correctly in the browser.

However when I am on the physical device (IOS) it opens the browser to login via facebook and then never redirects back to the app and tries to go back to the localhost redirect url.

Is it even possible to use

[2019-06-02 19:23] bernhardt1 commented on #2544
@davidweica

It successfully updates the analytics off the start so I think you project has analytics and auth set up correctly.

I'd go to console with `amplify status` and look through your resources. You need auth and analytics to use notifications. It seems like you either don't have auth in your amplify project or your notifications aren't connected to your auth module.

[2019-06-02 19:56] janhesters commented on #3385
@Raythode As far as I'm concerned this is the default with AWS Amplify. I stumbled upon your issue because I'm trying to figure out the opposite: Let the user sign up without email verification, but allow him to verify that email later.

[2019-06-02 20:35] janhesters commented on #2588
@Palisand Any luck with this?

[2019-06-02 20:42] janhesters opened #3387 "Automatically sign in users after sign up, verification later"
** Which Category is your question related to? **
Authentication

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
I'd like to sign up my users and then immediatly call sign in and let the confirm / validate their email or phone number later:

[code]

Is there a way to achieve this? This currently throws the error:

[code]

even though I set

[2019-06-02 23:10] Raythode commented on #3385
@janhesters I think the thing you are looking for can be done using pre-sign up lambda trigger. I see admin can confirm users without verifying the email and verify email it later. https://docs.aws.amazon.com/cognito/latest/developerguide/signing-up-users-in-your-app.html hope this helps.

[2019-06-02 23:17] Raythode commented on #3387
https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-lambda-pre-sign-up.html using pre-signup lambda trigger, you can auto confirm users.
just set "autoConfirmUser" boolean to true.

[2019-06-03 00:14] blazinaj opened #3388 "How to give full S3 Storage access to an "Admin" Cognito Group"
** Which Category is your question related to? **
Storage, Auth
** What AWS Services are you utilizing? **
Amplify, Appsync, S3, Cognito
** Provide additional details e.g. code snippets **
I have Auth set up in my React Amplify app so that Cognito users in an "Admin" Cognito Group have full access, while all other users have limited access.

I need a way to allow all users to upload documents to S

[2019-06-03 03:44] cyberfox1 commented on #3379
Weird. I am trying to debug something similar and when I have "Custom Auth Only" in the userpool it comes back with "Only custom auth (lambda driven) is enabled for this client" - but when I untick "Custom Auth Only" I get a 500 server error. Any solutions?

[2019-06-03 06:08] janhesters commented on #3387
@Raythode Thank you very much. Can you still verify emails later?

[2019-06-03 06:21] oliverandersencox commented on #2455
This is ridiculous to not be supported in Ionic. If it's already in React Native. Currently you can use the federated sign in via the API but on mobile native app with Ionic, the redirect will go to localhost and so it breaks.

[2019-06-03 07:00] nunosofiane commented on #1580
Having the same issue, I guess the error message is misleading!

[2019-06-03 07:01] nunosofiane commented on #1580
I am using Amplify and having the same issue, I guess the error message is misleading!

[2019-06-03 07:42] kgodsmark commented on #2702
This post helped me solve my similar problem.

I had my worflow working with a POC a month ago - when using aws-sdk v.2.452, but then on deploying the production version recently, which was aws-sdk v.2.466 I had issues with the Cloudwatch SDK simply exiting without an error. Even the amplify `Auth.currentCredentials()` just would exit without any error. I tried investigating the Cognito user with

[2019-06-03 09:14] oliverandersencox opened #3389 "Ionic social authentication redirect not detecting authentication"
**Describe the bug**
When using the amplify auth service to perform a federated sign in to Facebook or google in Ionic, in a browser, all work fine.

On a device, the federated sign in opens facebook to login, and then redirects back to the application by my app schema name. However it does not detect that the user is now authenticated.  I am using the Hub module to check for the sign in, and well

[2019-06-03 13:43] ak37165 commented on #3364
If MFA challenge is not guaranteed to be presented after a password reset, can we use the message customization lambda or some other method to suppress the password reset email from being sent? Assume that the attacker is calling the password reset API from our Javascript app client Id, such as using the method cognitoUser.forgotPassword().

[2019-06-03 14:36] ak37165 opened #3390 "Someone can login to my account without knowing my password when SMS 2FA is turned on"
**Describe the bug**
When 2FA is turned on, and the user makes a forgot-password request, only one reset-password code is sent instead of two. Suppose I am a user a on a Cognito powered app with SMS 2FA turned on for my login. If my phone is stolen, someone can request a password reset code with just my username (and publicly known app client ID from Javascript code). They get the password reset c

[2019-06-03 14:40] ak37165 commented on #3390
Documentation at https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_ForgotPassword.html states that only one reset code is sent, and if a verified phone number exists the code is sent to the phone (regardless of whether a verified email exists or not).

[2019-06-03 16:01] bonbertr commented on #2852
Hello,

I updated aws-amplify after the provided fix, so far so good, many thanks !

[2019-06-03 16:40] jordanranz commented on #3383
@buggy Checking now.

[2019-06-03 16:57] tuhinkarmakar commented on #3365
I tried the preview versions with my Angular app. The reduction in bundle size was significant. However the setup process wasn't easy. I had to go through a lot of trial and error to make it work.

**Steps**

1. Import the modules from the `aws-amplify` package in `main.ts`.
2. Configure the modules individually i.e. `Auth.configure(config)`
3. Register the module with the `Amplify` module using `

[2019-06-03 17:13] jordanranz commented on #3383
Tested both iterations. The PR seems to fix the problem.

[2019-06-03 17:14] jordanranz commented on #3383
Merged.

[2019-06-03 17:14] #3383 closed

[2019-06-03 17:27] powerful23 commented on #3373
@JinJunho Hi, For the first question I think it's because `express-session` can't store an instance, check this: https://stackoverflow.com/questions/23797119/store-an-instance-in-express-js-session

For the second one I think you are doing correctly by storing the `Session` property and pass it to the newly created user object. Can you try it again and if that error happens again, can you try to f

[2019-06-03 17:32] hotgazpacho opened #3391 "Successful federated OAuth2 sign-in replaces location with callback url"
**Describe the bug**
In #3005, when a successful federated OAuth2 sign in occurs, the browser's location is replaced with the callback url:

https://github.com/aws-amplify/amplify-js/blob/master/packages/auth/src/Auth.ts#L1579-L1581

This is, at best, extraneous, as the user should already be on the callback URL after a successful federated sign in. In my case, however, my callback url is distinct

[2019-06-03 18:40] powerful23 commented on #3365
@tuhinkarmakar Hi, thanks for testing! I think Step 1, 2, 4 are required but Step 3 is not. Do you have any issue if not calling `Amplify.register()`?

[2019-06-03 19:21] legendactivated commented on #661
Hello!

Any chance this is being considered as a feature request or has this already been solved? Trying to implement multi user pool solution in my app as well.

[2019-06-03 21:01] zfarrell commented on #2730
I just got hit with this. For those that need to fix this:
1. open up `amplify/backend/auth/$cognitofolder/parameters.json`
1. find `userpoolClientReadAttributes` array and add `email_verified`
1. run `amplify push`

Is there a use case where the `*_verified` attributes shouldn't be returned? At the least, it seems like the CLI wizard should try and talk you out of disabling them as read attribute

[2019-06-03 21:17] jordanranz commented on #1421
aws_pubsub_region and aws_pubsub_endpoint are currently the only two options supported.

[2019-06-03 21:17] #1421 closed

[2019-06-03 21:18] adam-harwood commented on #661
There is a decent workaround available today, described by @simonbuchan above:
- Roll your own Auth HOC (don't use the one provided by amplify).
- This allows you to listen on when the user clicks Login/Submit.
- You then take the username they've entered, determine the auth configuration based on that (e.g. via email domain) and call `Amplify.configure` with that info.
- You then let the rest of

[2019-06-03 21:26] jordanranz commented on #1544
@sashafklein Are you still experiencing this issue in the latest version of Amplify?

[2019-06-03 21:28] jordanranz commented on #1559
@nickdb93 are you still experiencing this issue using the latest aws-amplify-react?

[2019-06-03 21:32] jordanranz commented on #1561
Hey @kristianmandrup. Did you figure out a good approach for your app?

[2019-06-03 21:40] araphiel commented on #3353
bump

[2019-06-03 21:43] jordanranz commented on #1718
@zyzski Are you still experiencing this issue with the latest aws-amplify?

[2019-06-03 21:45] jordanranz commented on #1729
@willycamargo apologies for the late response. Are you still experiencing this issue?

If so,
- Which documentation did you follow?
- Did you use the Amplify CLI?

[2019-06-03 21:45] sammartinez commented on #1716
@tncbbthositg As @kevinsperrine stated, I believe this is an issue with having different versions of aws-sdk being included. Can you please verify this is the case?