[2019-10-19 20:40] KBPsystem777 commented on #4177
Same issue. My current workaround is create user in the console manually during dev mode.

[2019-10-19 22:05] #3973 closed

[2019-10-19 22:30] vinyoliver commented on #2777
Same problem here... Any news on this?

[2019-10-20 06:19] Amplifiyer commented on #4200
@Jeff-Duke, can you check if you are not adding a declare line anywhere for ICredentials as per https://github.com/Microsoft/TypeScript/issues/27311#issuecomment-484160104?
If that doesn't help, can you try cleaning your project and building fresh?

[2019-10-20 06:46] Amplifiyer commented on #4194
@rjjlucy, have you tried resolving the graphql version to 0.13 in your package.json like below:
[code]

[2019-10-20 13:52] geoffnewton commented on #4175
For what it's worth, I stumbled across this thread whilst looking into a similar problem. My Cognito setup triggered by withAuthenticator has only Email and Password. I get that error message when the email is valid (not already in the pool) but the password fails the pool complexity requirements (mixed case, has number etc.) So in my case the error should be that the password is not valid rather

[2019-10-20 14:19] ehemmerlin commented on #4194
@Amplifiyer I resolved the graphql version to 0.13.0 using the code you provided but fixing this error thows another one (Uncaught ReferenceError: process is not defined). A solution is to upgrade GraphQL from 0.13.0 to 14.0.0 unfortunatly GraphQL 0.13.0 is an AWS Amplify API dependency. See the issue I reported yesterday here #4217

[2019-10-20 17:15] anarerdene commented on #4207
Hi @elorzafe, thanks for advice. I'm using AppSyncSDK and result is

**"TypeError: this.currentObservable.query.getCurrentResult is not a function"**

here is my apollo config.

[code]

[2019-10-20 18:37] anarerdene opened #4221 "Amplify GraphQL client or AWS AppSync SDK"
Im new on AWS Amplify.
I have to choose Amplify GraphQL client or AWS AppSync SDK. I want to know biggest difference.
Now im using "AWS AppSync SDK" with "Apollo" on NextJS.  But it's hard for me "Because NextJs & Apollo has changed every month".

[2019-10-20 22:49] Amplifiyer commented on #4207
@anarerdene, it looks like the issue is with the apollo-client package used in appsync. Can you try some suggestions mentioned here https://github.com/apollographql/react-apollo/issues/3148 towards the end that work with appsync client?

[2019-10-21 00:24] davidolmo commented on #3495
Same here. I come from Firebase Auth and everything was smooth and easy. I didn't appreciate how great was Firebase until trying to migrate to Cognito, which has caused our team countless pains (and is still causing)

[2019-10-21 03:35] rathpa commented on #4177
Same issue.  Another example: signup page withAuthenticator, providing a username that already exists.  Instead of the previous error of "User already exists", now gives "Username could not be created. Please make sure that the username you have entered is between 1 and 128 characters"

[2019-10-21 03:53] sbussard commented on #1324
## 🙅‍♀️🙅‍♂️🚫🚮 probably don't use your accessKeyId or secretAccessKey on the front end

you can pass in your cognito token to your config options.
I'm pretty sure you can get it from amplify

## instead do something like this

[code]

![image](https://user-images.githubusercontent.com/345018/67175345-9867a600-f37a-11e9-8924-a2eb0be06464.png)

[2019-10-21 06:26] sbussard commented on #146
I tried
• manually create IAM role for use Cognito, and administrator access
• create user group called admin
• assigned a user to the admin group

This STILL gave a `AccessDeniedException` while trying to list users

[2019-10-21 08:14] hutch120 commented on #146
@sbussard Consider asking this follow up question on SO as this issue actually has nothing to do with Amplify-JS.  I created an [answer](https://stackoverflow.com/questions/44002724/cognito-user-pool-groups-not-working-with-different-roles/50578381#50578381) in May 2018 that is the top answer and got some positive feedback. Maybe something has changed in Cognito, others there might be having simil

[2019-10-21 09:15] mevert commented on #4064
@elorzafe Thanks for the answer. In the real use case, I have the need to unsubscibe all the existing topics in the same function execution before the new PubSub.subscribe. So what would be the preffered way to fix this issue? So I need to know when unsubscibe function is ready. If async/await would be supported in unsubscibe there would not be this race condition?

[2019-10-21 09:33] anam-khalid commented on #3336
Any updates on this? Does Amplify CLI still not support SAML providers? @haverchuck @azarboon @manueliglesias

[2019-10-21 09:40] Pijuli opened #4222 "ServiceWorker enablePush is not a function"
Totally noob on SW here!
I'm trying, [as the docs says](https://aws-amplify.github.io/docs/js/service-workers), to register a service worker and enable push notifications to use it with the PinPoint service.
My setup is nuxt with aws-amplify installed (also tried aws-amplify/core as I read somewhere that there's no need to install the full library)
Library version is 1.2.2

Code is as simple as fo

[2019-10-21 10:12] walshj19 opened #4223 "Cognito Advanced Security feature support in React Native apps"
The Cognito Advanced Security feature requires that client applications provide [device information](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-settings-viewing-advanced-security-app.html) to use the functionality effectively. This functionality is already provided by the Amplify javascript SDK when used in a browser and by the native mobile Amplify SDKs on iOS and Android

[2019-10-21 10:30] ashish-dirkmedia-de commented on #4180
Is it related with ChangeDetectionStrategy.OnPush set in my application at the app component?

[2019-10-21 11:40] potatopotaro commented on #4208
Yep, it looks like one of my chrome extensions is causing this. Feel like an idiot now haha thanks for the help though, cheers.

[2019-10-21 11:40] #4208 closed

[2019-10-21 14:32] xehpuk opened #4224 "Please reopen #3278"
#3278 has been automatically closed even though it's still current.

[2019-10-21 14:50] streppa commented on #4024
Trying to solve a (maybe?) similar problem ( #4213 ). My AppSync calls are failing silently in the refresh handler on page reload. Is the failed call to Async Storage happening in your app's refresh handler? When you say fail do you get an error or is it silent?

[2019-10-21 16:05] webuser17 opened #4225 "amplify-signin-with-hostedUI is loosing value when you navigate to other components in React JS"
**Describe the bug**
As soon as logged in, amplify-signin-with-hostedUI is going to be true, when you navigate to other components, this key is getting removed from the localstorage, hence Auth.logout() is not working.

**To Reproduce**
create multiple Single Page applications using ReactJS. And and see if you navigate from one app to other app, from the local storage variable amplify-signin-with-

[2019-10-21 16:22] ericclemmons commented on #3841
This may not be as low of a lift as expected.  Because the credentials go through a dispatcher flow, the underlying operations cannot be `await`ed.

[2019-10-21 16:28] #4191 closed

[2019-10-21 16:34] xMartin opened #4226 "React + TypeScript: AuthPiece implementation types should override type for render"
**Describe the bug**
TypeScript error when passing `<SignIn />` or other `AuthPiece` implementations to `withAuthenticator`:

[code]

**Amplify context**
- aws-amplify-react@2.5.2

**Additional context**
The `AuthPiece` implementations inherit the render type (`render(): void`) but as they are returning the result of `showComponent` it should be overridden  with `render(): JSX.Element`.

[2019-10-21 17:25] Amplifiyer commented on #4218
@AlessandroAnnini, have you had a chance to look at the elastic search aws [pricing details ](https://aws.amazon.com/elasticsearch-service/pricing/) The cost is based on how long the elastic search instance is running + the data transfer charges.

[2019-10-21 17:59] Amplifiyer commented on #4221
@anarerdene, if you need offline capabilities then your only option is to use AppSync SDK but if you are not, you can use Amplify GraphQL client as well which might be slightly simpler to use as well.

Amplify does not yet officially support SSR, however if your only use case is to use graphql with authentication, you should be able to use it without any issues.

[2019-10-21 20:04] r-moore commented on #1972
This is an issue for us too.

Overriding expiration client side with an auto-logout timer just feels wrong. e.g. how might a browser closing/reopening affect the inactivity timer?

Better to issue a token with shorter validity, so that it can expire even if the browser is closed.

Is 1 day really the shortest option?

[2019-10-21 20:13] streppa commented on #4213
I should mention that I've run the graphql mutation outside the refresh handler and it works fine.

[2019-10-21 21:12] Amplifiyer commented on #4223
@walshj19 AdvancedSecurityDataCollectionFlag is already set to true as default in amplify https://github.com/aws-amplify/amplify-js/blob/master/packages/amazon-cognito-identity-js/src/CognitoUserPool.js#L55-L60
Is the blocker that you can't include the javascript in react native apps? Is it possible to download and cache it locally?

[2019-10-21 22:05] Amplifiyer commented on #4226
@xMartin, we have few any types and ts-ignores in the react package after javascript -> typescript conversion with this PR https://github.com/aws-amplify/amplify-js/pull/3715 because of which you are seeing this error.
This should only be a compile time error due to missing type information, can you try adding ts-ignore and see if your code runs fine?

We will convert this a feature request to add

[2019-10-21 22:59] ashika01 commented on #3861
Thank you for raising the issue. The PR #4229 should take care of this.

[2019-10-21 22:59] #3861 closed

[2019-10-21 23:34] elliott-king commented on #1252
Hello from Oct 2019. Posting for anyone who may be trying to implement multiple auth levels/types, and is confused on how to get there. To make some GraphQL queries public, I am using two auth modes. I am also using AWS AppSync with Amplify, which you may or may not be using.

Here are the relevant links I used:

[This tells you how to annotate your schema.](https://docs.aws.amazon.com/appsync/lat

[2019-10-21 23:40] elliott-king commented on #4091
Coming in to share that I also had this problem. When turning on the debug logs, I had the additional message `[DEBUG] 22:18.960 Credentials - Failed to load credentials`.

My solution instead came from this great StackOverflow post, which is also helpful to understand user pools vs identities:

https://stackoverflow.com/questions/44043289/aws-invalid-identity-pool-configuration-check-assigned-iam

[2019-10-22 00:11] jkeys-ecg-nmsu commented on #3278
@sammartinez multiple users have requested this issue be re-opened.

[2019-10-22 00:13] jkeys-ecg-nmsu commented on #4178
@blairtaylor does field-level authorization meet your needs?

[2019-10-22 00:38] Amplifiyer commented on #4225
@webuser17, are you expecting different apps to share the local storage? Local storage is not shared among different apps.

[2019-10-22 01:07] ashika01 commented on #3924
@saaniaki : Are you still having this issue? With the current version of amply-cli, `aws-export.js` has `"responseType": "token"`. Could you verify with a newer version?

[2019-10-22 01:32] Jeff-Duke commented on #4200
I was able to re-create this in a separate project.
The steps I took were:
created a fresh install of a Vue app with Typescript support
added `@aws-amplify/core` and `@aws-amplify/auth`
added a shims file declaring
[code]

[2019-10-22 01:53] Amplifiyer commented on #4200
@Jeff-Duke, any reasons you are not using ES6 style imports (for instance `import API from '@aws-amplify/api'`) but using declare module?

[2019-10-22 01:55] Amplifiyer commented on #4210
@Matthias-Pichler, I couldn't reproducing it with facebook and google OAuth providers and a custom storage. Can you paste the output of the following command in your app here `yarn list | grep amplify` (switch to npm if applicable)

[2019-10-22 02:10] Amplifiyer commented on #4222
@Pijuli, it looks like a bug in our documentation, `enablePush` should be called on `serviceWorker` and not on the registered object. can you try the following code and let me know if it works for you

[code]

[2019-10-22 02:19] webuser17 commented on #4225
localhost:3000/Home, localhost:3000/mainpage, localhost:3000/LandingPage, all three pages are considered as 3 singe page applications in One big application, with cognito i did setup for localhost:3000/home as my home page, but all other routes are as part of one React application. Localstorage is being shared upon authentication and key/values coming from AUTH api for all the pages mentioned abov

[2019-10-22 06:16] cbernardes commented on #1972
It is 1 hour the minimum.
I have written an article about Cognito if it is of help.

https://medium.com/@cbernardes/serverless-things-i-wish-i-had-known-before-i-started-part-1-aws-cognito-cf5d3a0c3d9d

[2019-10-22 06:19] ashish-dirkmedia-de opened #4231 "How to apply the patch"
I am using angular 6 with auth
I found many usefull patch. But dont know how to apply these patch.
i.e update in node_modules aws-amplify-angular folder or copy src folder of aws-amplify-angular as a new modules (which I tried without success).
If have to update in aws-amplify-angular folder which files should I update.
Please can someone help me on this

[2019-10-22 06:36] Sytree opened #4232 "Analytics autoTracker stopSession error in React Native"
**Describe the bug**
I got this error when close the app
`navigator.sendBeacon is not a function. (In 'navigator.sendBeacon(y,l)', 'navigator.sendBeacon' is undefined)`
it happened when call @aws-amplify/analytics/lib/Providers/AWSPinpointProvider._pinpointSendStopSession
it seems react-native environment doesn't support `navigator.sendBeacon(y,l)`

**To Reproduce**
1.setup analytics
2.turn on aut

[2019-10-22 07:10] Pijuli commented on #4222
Hi Amp,
Just found it digging on the source code finally. Thank you anyway. I'll try to make a PR to fix that.
Also, enablePush requires a public_key but if you use the react native it uses the appId from pinpoint (my guess). So I don't see how it matches with pinpoint. I can not see where to get that public key. So I can't see how to send push notifications to my pwa with nuxt.
Any light would be

[2019-10-22 07:13] malaci opened #4233 "AMQJS0008I socket closed error on subscription"
Hi,

We're using Ionic Framework 4 ( Angular 7 ) with amplify-js 1.1.28 & aws-appsync 2.0.1
Some times we get 'socket closed' error from our subscriptions.
The issues occurs for both browser and mobile (Android & iOS) builds.

Steps to reproduce the behavior:
1. Subscribe to mutation
2. After a while the socket is closed with AMQJS0008I error

The code :
[code]

![subscriptionsFailureExtand (1)](h

[2019-10-22 08:29] Matthias-Pichler commented on #4210
@Amplifiyer
[code]

[2019-10-22 08:47] r-moore commented on #1972
Yes 1 hour for the access token, but minimum 1 day expiry for the refresh token (which is kept in browser storage and so could, in theory, be used to re-authenticate & continuously refresh the session against Cognito without the need for username/password to be supplied again).

That is the security concern, which makes it hard to choose Cognito for say finance/banking apps that need to enforce sh

[2019-10-22 09:05] cbernardes commented on #1972
@r-moore I am not aware of this. The access token is prevalent over the secret token, therefore, if the access token is expired it can no longer be refreshed.
Could you share where your read this info about secret token expiration period?

[2019-10-22 09:51] r-moore commented on #1972
When I use `Auth.signIn()` in my SPA, I see the following created in browser storage:
![image](https://user-images.githubusercontent.com/366280/67274867-41b4b600-f4b9-11e9-8747-4d29f639fd6c.png)

accessToken, idToken are OK but it is the **refreshToken** that concerns me for an SPA.

[https://aws-amplify.github.io/docs/js/authentication#token-refresh](https://aws-amplify.github.io/docs/js/authenti

[2019-10-22 09:59] walshj19 commented on #4223
That flag is enabled and when using the SDK to login with the Auth.signIn method in a browser client application the device fingerprint information is sent correctly and can be seen in the Cognito Advanced Security event log on a user. When using the same Auth.signIn method in a react native app the user is signed in successfully but on Android(using a real device) the device fingerprint informati

[2019-10-22 11:57] Jeff-Duke commented on #4200
my mistake, I was adding a shim for this where I didn't need to. I removed the module declaration in the shims file and the errors have gone away.

[2019-10-22 11:57] #4200 closed

[2019-10-22 12:12] mbbillz commented on #3279
Semi related to #3358 & #3348 - it would be nice to be able to optionally exclude styles. When using the Authenticator component (aws-amplify-react), the styles that get included (which I do not use as am using custom components) take up nearly half of my final CSS.

[2019-10-22 12:56] saaniaki commented on #3924
Amplify Cli @1.8.1 was what I was using. Currently we have migrated from Cognito so I can't confirm if the bug still exists on the latest version or not.

[2019-10-22 12:56] #3924 closed

[2019-10-22 14:49] cliffordh opened #4234 "Help Understanding Billing for Cognito"
** Which Category is your question related to? **
Cognito
** What AWS Services are you utilizing? **
Cognito, Social Sign In
** Provide additional details e.g. code snippets **
I need help understanding billing on my Cognito account. The vast majority of my users are executing Lambdas as unauthCognito users. It seems that these unauth users count towards my Cognito bill as individual identities. I

[2019-10-22 14:50] #3956 closed

[2019-10-22 14:59] malcomm commented on #3730
Looks like this got marked stale again ... any updates?

[2019-10-22 15:31] fdelhoste commented on #4226
Same issue here. I've tried to add `// @ts-ignore` before the `<SignIn />`and it fails at runtime with `TypeError: undefined is not an object (evaluating 'child.props.override')`.

[2019-10-22 15:44] sammartinez commented on #4224
Reopen issue, resolving this one

[2019-10-22 15:44] #4224 closed

[2019-10-22 15:48] sammartinez commented on #3278
Apologizes that this got closed, @mtraynham Can you explain your use case a little bit more? Im curious on why you are using AuthClass instead of just `import { Auth } from '@aws-amplify/auth'` for Hub events.

[2019-10-22 16:37] mtraynham commented on #3278
@sammartinez I believe this is because to configure that particular instance, the documentation suggests you pull in all of `@aws-amplify`, like so:

[code]
https://aws-amplify.github.io/docs/js/authentication#manual-setup

In reality, I only want a subset of this the amplify functionality which is authentication.

Although I just realized, I guess you could likely pull in `Auth` as you suggested,

[2019-10-22 16:53] aldo-roman commented on #4226
I can reproduce this with the `<Authenticator />` component as well.

[code]

This worked as of `"@aws-amplify/api": "^1.3.3"`.
Broken after updating to `"@aws-amplify/auth": "^1.4.2"`

[2019-10-22 16:57] andy-edvalson commented on #642
This is a super bad solution, but I don't see an alternative if you want to send emails to people who have verified phone numbers. This should be considered a bug and not a feature request.

Don't use this as-is, it's just proof of concept. We are leaning towards cutting cognito MFA completely in favor of a legitimate solution. Since this is making multiple API calls, if you leave the phone number

[2019-10-22 17:28] ericclemmons opened #4235 "RFC: React Hooks for Amplify API"
_This issue is a Request For Comments (RFC). It is intended to elicit community feedback regarding a proposed change to the library. Please feel free to post comments or questions here._

## Purpose

Simplify integration of the Amplify API category to accomplish common use-cases within modern React applications.

## The Problem

Running asynchronous GraphQL queries can easily lead to memory leaks,

[2019-10-22 17:30] #4219 closed

[2019-10-22 17:43] ericclemmons commented on #2611
@awhitford As a React Hooks user, you may be interested in sharing your impressions on https://github.com/aws-amplify/amplify-js/issues/4235.

If there's enough interest, `Auth` is another candidate for simplifying integration within your code via hooks.

[2019-10-22 17:45] ericclemmons commented on #2542
@Jaikant We're investigating user interest in hooks, starting with the API/GraphQL integrations: https://github.com/aws-amplify/amplify-js/issues/4235

Based on interest & feedback, the Auth category could also be a candidate for simplifying integration within your app.

[2019-10-22 19:06] ni3galave commented on #3399
I am also getting the same issue.
`OAuth - Error handling auth response., [Error: invalid_grant]`

"aws-amplify": "^1.2.2",
"aws-amplify-react": "^2.5.2",
"aws-amplify-react-native": "^2.2.2",

[2019-10-22 19:13] rudyhadoux commented on #3094
That is a good Angular Amplify Authentication example :

https://github.com/mjzone/amplify-user-profile

[2019-10-22 19:50] #4148 closed

[2019-10-22 19:53] #4217 closed

[2019-10-22 19:54] #4194 closed

[2019-10-22 20:14] markmckim commented on #3956
I'm also having this issue. Can we get #3991 merged?

[2019-10-22 20:47] adiaz-dev commented on #2498
The parameters that worked immediately for me were:
"**</^((?!\.(css|gif|ico|jpg|js|png|txt|svg|woff|ttf)$).)*$/>**"

Without this rule the app was behaving incorrectly on the re-routing actions.

Regards,

[2019-10-22 21:26] sopranolinist commented on #3909
Yes, I'll try to do that this week, thanks for responding!

[2019-10-22 21:31] Amplifiyer commented on #4234
Hi @cliffordh, you can find more details about cognito pricing [here](https://aws.amazon.com/cognito/pricing/) You can also create a new support ticket in the [forum](https://forums.aws.amazon.com/forum.jspa?forumID=173)

[2019-10-22 21:31] #4234 closed

[2019-10-22 23:55] jkeys-ecg-nmsu commented on #4235
Nice proposal!

One question: does the below code not exactly simulate this functionality asynchronously by having a local useState hook that will hold your API data and give it an initial state of undefined? Or is there something I'm missing about React lifecycles?

[code]

Then set it to undefined on unmount.  The most annoying part with this pattern is that you have to wrap your async call to `

[2019-10-23 00:02] Amplifiyer commented on #4222
@Pijuli, I'm not sure I completely understand your question. You need a applicationServerKey as mentioned here in this [article](https://developers.google.com/web/fundamentals/codelabs/push-notifications#subscribe_the_user) to send push notifications from a server (public key is assigned to applicationServerKey in the library)

Analytics(pinpoint) doesn't use this public_key. It just sends/records

[2019-10-23 00:25] Edisonsan commented on #2605
Same Error, we are working fine a few hours ago, and suddenly:

{"code": "NetworkError", "message": "Network error", "name": "Error"}

[2019-10-23 01:06] jkeys-ecg-nmsu commented on #3278
@harmohan-a @sepo-one issue re-opened fyi.

[2019-10-23 01:06] Amplifiyer commented on #4223
@walshj19, how are you importing/including the necessary javascript as per the cognito [guide](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-settings-viewing-advanced-security-app.html) in your react native app? can you please provide the code sample?

That script is necessary for enabling the advanced security feature. You can confirm that by logging the global var exported

[2019-10-23 01:50] LipYoung commented on #2166
@wallowabk You are my hero.

[2019-10-23 02:04] Amplifiyer commented on #4225
@webuser17, the purpose of the key `amplify-signin-with-hostedUI` is really to identify if user has arrived on the home page from the hosted UI or from a different page and appropriately check the user state. It is supposed to be cleared as soon as user navigate away from the home page (where user landed after signing in from hosted UI).

Can you let us know what issue you are encountering during

[2019-10-23 02:56] #3899 closed

[2019-10-23 03:03] Amplifiyer commented on #4226
@aldo-roman, are you able to reproduce this at run time as well? I just tried with a fresh typescript react app and aws-amplify-react@2.5.2 + aws-amplify/auth@1.4.2 and the app works at runtime (with @ts-ignore). Just want to understand if the issue is just with the types or functionality as well.

@fdelhoste, can you post your code sample that you are using? Does downgrading to aws-amplify-react@

[2019-10-23 03:52] aldo-roman commented on #4226
Hi @Amplifiyer
I am not able to run the app because I also get into #4186

[2019-10-23 03:52] sam-jg commented on #1437
Are there any updates on this? This is pretty limiting.
Alternatively is it possible to get the authentication that amplify would use for an API request and make the request manually with the required file upload headers, etc?

[2019-10-23 04:28] sepo-one commented on #3278
My use case is that i don't want any global configuration.
Just need to create a singleton instance out of `AuthClass`  and configure it via constructor.
(We might have want to work with different user pools).
(See example [above](https://github.com/aws-amplify/amplify-js/issues/3278#issuecomment-543004760)).

[2019-10-23 05:27] McCrearyD commented on #1241
Likewise, I've been stuck with this issue for a couple days.

[2019-10-23 06:12] vfreestone commented on #3399
I facing same issue, tried with latest version of aws-amplify.

[2019-10-23 06:29] Amplifiyer commented on #4226
@aldo-roman, is your dev build working and you are able to run?

I tried reproducing a prod build as per issue 4186 but it is not failing for me with a simple react app using withAuthentication HOC.

[2019-10-23 07:32] tlvince commented on #3278
Similar to @mtraynham, we only use Amplify's auth module and hit this bug with the following:

[code]

[2019-10-23 07:38] sepo-one commented on #3278
Problem actually lies in here: https://github.com/aws-amplify/amplify-js/blob/master/packages/auth/src/index.ts.

An instance is created with null config.
Then `configure()` does not create storage if config is null.
And then Hub.listen fails because no storage is created.

(might come up with pull request if have some time).

[2019-10-23 08:33] cbernardes commented on #1972
Amplify only refreshes the token if the user is active.

[2019-10-23 09:08] anandwahed commented on #4223
@Amplifiyer can you explain why we need the above script to be added in the ReactNative app since the aws-amplify JS library should wrap the logic for AdvancedSecurity right ?

[2019-10-23 10:29] r-moore commented on #1972
Yes understood... Amplify might not use the refreshToken but it still exists.

I am concerned that the following scenario is still possible on a computer that 'Bob and Alice' share:

1) Bob's accessToken expires after 1hr of inactivity, he is taken back to the app login screen.
... some hours pass, Alice now uses the same computer...
2) Alice goes to login screen, opens browser console and copies

[2019-10-23 11:07] masbaehr commented on #1972
I also think there should be a better way of handling this. Especially if you want to ensure a proper logout after a manually set timeout.

Ultimately i think a javascript solution will be the easiest to manually perform a logout. Better than hoping for an implementation change by cognito

A common way to do this would be to overwrite the XMLHttpRequest to check how much time has passed and if the

[2019-10-23 11:50] cbernardes commented on #1972
@r-moore  try it. I dont think it will work. Refresh token has one purpose and access token another. With only the refresh token you cant have access to the application

[2019-10-23 11:52] buggy commented on #4226
@fdelhoste and @aldo-roman How did you start your projects? When writing the conversion PR I did notice some differences between apps started with create-react-app and those I started with TypeScript + Webpack.

[2019-10-23 13:23] giulioambrogi commented on #2605
Same error here, we are experiencing a spike in Network errors since late afternoon (after 6PM London time) on 22 Oct 2019. Any idea?

![Screenshot 2019-10-23 at 12 12 44](https://user-images.githubusercontent.com/11599158/67397048-87987980-f5a0-11e9-9d33-64d642a297ae.png)

[2019-10-23 14:15] webuser17 commented on #4225
The Key amplify-signin-with-hostedUI key has dependency with Auth.signout() method, on localhost:3000/Homepage - Auth.logout works perfectly, as soon as we navigate to different component like localhost:3000/landingpage, Auth.logout() is not working, it is because the key - amplify-signin-with-hostedUI is getting removed from the local storage.

My Auth.logout function is being called from the Hea

[2019-10-23 14:27] bastianbb commented on #3395
@olivoil before writing my comment i gave a read to [Apple Store Review Guidelines](https://developer.apple.com/app-store/review/guidelines/), in particular at **4.8** they begin with: "Apps that exclusively use a third-party or social login service (such as Facebook Login, Google Sign-In, Sign in with Twitter, Sign In with LinkedIn, Login with Amazon, or WeChat Login) to set up or authenticate th

[2019-10-23 14:42] aldo-roman commented on #4226
@Amplifiyer No, it doesn't build nor runs because of these two issues (so far).

@buggy Created with create-react-app, using typescript

IMHO, the underlying root cause is the project is making heavy use of inheritance on this part, which tends to be an anti-pattern in React. This probably wouldn't happen if we design it using composition.

We can also try just overriding `render()` as OP proposes

[2019-10-23 15:12] annjawn commented on #1972
There needs to be away to set appropriate timeout for the refresh token. I concur with @r-moore on this. We had to implement a browser based force logout but it doesn’t work if the user simply closes the browser and opens the webapp a few minutes later since the timer resets. Not at all ideal for financial, or even other mission critical apps. We are planning to phase out using Cognito because of

[2019-10-23 15:55] behrooziAWS commented on #3495
With the changes we've deployed in the last few weeks to Cloudformation, you now have the ability to configure any User Pool feature including domains and adding custom attributes.  If you make a change that is incompatible with your pool, i.e. changing your alias type or removing a custom attribute it will error instead of tearing down your pool.  Hope this helps with some of your pain points.

[2019-10-23 17:36] #4226 closed

[2019-10-23 17:38] Amplifiyer commented on #4226
https://github.com/aws-amplify/amplify-js/pull/4237 will fix the build issues, I have tested with a create-react-app with typescript. For the production build issues, I'll continue trying to debug it in #4186

[2019-10-23 17:55] Amplifiyer commented on #4223
@anandwahed, as per the [Cognito docs](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-settings-viewing-advanced-security-app.html), you need both, `AdvancedSecurityDataCollectionFlag` set to true and the aforementioned script loaded in the scope which provides a global object `AmazonCognitoAdvancedSecurityData` that has method for data collection required for enabling advanced

[2019-10-23 17:59] XinruiWu opened #4240 "Use a separate IdentityPool for Analytics"
** Which Category is your question related to? **
Auth, Analytics
** What AWS Services are you utilizing? **
Cognito, Pinpoint
** Provide additional details e.g. code snippets **
Hi, our static website use `Auth` to do user login/logout and `Analytics` to collect analytics data. Can we use one IdentityPool for Auth and another one for Analytics? Since our current IdentityPool for Auth is not in th

[2019-10-23 19:03] jmandivarapu1 commented on #4197
any aws team can help me on this?

[2019-10-23 19:04] vdiaza commented on #2783
Hi I am having the same issue, but only with my deployed site.
When I work on my local I have no issue.

Is there any extra configuration that needs to be done after deploying the app through amplify?
I am currently deploying through the AWS Amplify console through bitbucket.

I noticed that aws-exports.js file is automatically ignored by .gitignore file. could that be the reason of this error? th

[2019-10-23 19:37] XinruiWu commented on #4240
The root cause of this issue is the IdentityPool for Auth and the Pinpoint for Analytics are in two different AWS account, is there any way to bridge these two?

[2019-10-23 20:11] vdiaza commented on #3089
Hi am having a similar issue.

I have created my webapp with amplify vue. I have succesfully connect it to cognito and appsync through graphql. This works perfectly locally. But after deploying it through AWS Amplify Console (through bitbucket) it shows me a 401 error when trying to connect to graphql. any thoughts?

[2019-10-23 21:32] Amplifiyer commented on #3778
@tcchau, if the issue is resolved for you, I'll close this ticket. If you are facing similar issue in the future, you can ask in cognito forums as well https://forums.aws.amazon.com/forum.jspa?forumID=173

[2019-10-23 21:32] #3778 closed

[2019-10-23 21:33] Amplifiyer commented on #4177
The issue has now been published and available in new version of amplify. Thank you for letting us know!

[2019-10-23 21:33] #4177 closed

[2019-10-23 22:02] Amplifiyer commented on #4231
Hi @ashish-dirkmedia-de, can you provide more context on what you are trying to achieve? I don't fully understand what you meant by patches here. Please share some code samples with detailed explanations.

Not sure if it'll be of any help, but here is the local development guide for developing the aws-amplify library https://github.com/aws-amplify/amplify-js/wiki/Local-Development

[2019-10-23 22:26] j0b0sapi3n commented on #3279
@mbbillz I have this exact same problem.

[2019-10-23 23:08] 10001oleg commented on #2777
up

[2019-10-23 23:59] 3nvi commented on #4235
Thanks for that! It's nice how most GraphQL libraries have an aligned API in the use of hooks.

A few things I'm wondering:

1. Doesn't the callback on `useQuery` & `useMutation` create the same memory-leak issues? If it executes right after the promise has resolved, I feel it might inevitably lead to the same problems if the component has unmounted while the request is in-flight.

2. How is query

[2019-10-24 01:19] Amplifiyer commented on #4225
@webuser17, can you share with me your code sample so I can reproduce it (especially how and where you are calling `Auth.signout()` and `Auth.signIn()`)

I think I have some understanding of what's happening. During signout, the library always clear out the localStorage but if the key `amplify-signin-with-hostedUI` is not present, it doesn't logout from the hostedUI.

[2019-10-24 01:28] blairtaylor commented on #4178
I believe so. We'll need to test it out.

With @auth rules, can you apply a higher level of security for the overall type and looser security for non-sensitive fields?

Ex.

type User @model @auth(rules: [{allow: groups, groups: ["Admin"]}])
{
    id: ID!
    username: String
    ssn: String
    name: String @auth(rules: [{allow: public}])
    bio: String @auth(rules: [{allow: public}])
}

So a no

[2019-10-24 01:30] ericclemmons commented on #4235
@3nvi Great feedback!

1. Potentially, but in a reference implementation the mount status is tracked to prevent firing callbacks as the GraphQL Promise resolves.  (There's an opportunity for `AbortController` to be used internally)

2. The reference implementation memoizes based on `query` & `variables` (and potentially on auth state, based on how `authMode` is handled) via `useMemo`. At the very

[2019-10-24 03:19] Amplifiyer commented on #4186
@johncblandii, I tried to reproduce with your docker file with a typescript react app (created with create-react-app) but I was not able to reproduce it. The prod builds were always succeeding

[code]

We have added some typings to avoid some unrelated compilation issues in #4226, can you please try with the latest release of aws-amplify-react and a clean build and let us know if you are facing th

[2019-10-24 03:42] QuantJames opened #4242 "Auth.SignIn() success with currentAuthenticatedUser() but currentCredentials() remains un-authenticated."
I am using Amplify Auth to authenticate users in a react-native application using a cognito user pool. This works fine, and `currentAuthenticatedUser()` returns the correct user data and valid JWT tokens for making GraphQL queries, _however_, `currentCredentials()` is remaining in an un-authenticated state, making it impossible to access services like S3 within my application.

According to the do

[2019-10-24 04:02] ajhool commented on #1535
This is still an issue

[2019-10-24 07:04] jbaldaraje commented on #4158
I'm having the same issue. Auth.forgotPasswordSubmit

[2019-10-24 07:52] lambda0xff opened #4243 ""WINDOW NOT DEFINED"... again :-("
**Describe the bug**
Importing the latest aws-amplify into a nuxt application crashes with a "Window not defined" error

**To Reproduce**
In a Nuxt Js application (and probably any SSR framework), try to import the latest aws-amplify

**Expected behavior**
Should not crash

**Additional context**
Most certainly a regression for #3477

My latest working config is with aws-amplify version 1.1.36
wit

[2019-10-24 08:22] anandwahed commented on #4223
Hi @Amplifiyer can you guide us how the above script can be loaded in the case of a ReactNative mobile app. Or should we write native bridge code to connect with the Android and iOS SDKs separately in the ReactNative app ?

[2019-10-24 11:32] masbaehr commented on #1972
It was already said: Banking, Sensitive data, Shared computers (forgot to logout properly) ecc.

[2019-10-24 12:01] iamronsuez commented on #4243
+1

[2019-10-24 12:16] cbernardes commented on #1972
Thanks @masbaehr . A use case is a sequence os actions which defines a potential scenario of a problem. What you just mentioned is the environment.

The use case @r-moore shared about "Bob and Alice" is not valid because the RefresToken DOES NOT create a token, but refreshes an existing one (if you have it). I did the test myself and deleted (from the localstorage) the IdToken generated by Amplify

[2019-10-24 12:45] shabegom commented on #4243
I am seeing the same error when trying to run a next js app.

[code]
`aws-amplify@1.2.2` in package.json

[2019-10-24 12:48] iamronsuez commented on #4243
had to add the following resolution
[code]

[2019-10-24 12:53] yelhow opened #4244 "React-native Auth.federatedSignIn() redirection URL mismatch error"
**Describe the bug**
I am following the link :
https://aws-amplify.github.io/docs/js/authentication#oauth-and-hosted-ui
Section:  OAuth and Hosted UI

Methods for facebook:
<button onClick={() => Auth.federatedSignIn({provider: 'Facebook'})}>Open Facebook</button>

The sad state of amplify is there is no where in documentation it talked about redirection URI and everywhere it talked about using wi

[2019-10-24 13:18] shabegom commented on #4243
I can't get the resolutions to work fwiw. Not sure where I'm screwing that up. This is super annoying. Moving on to something else.

[2019-10-24 14:02] yoursweater opened #4245 "Using AsyncStorage overwrites Amplify JWT's"
Bug: using AsyncStorage from @react-native-community/async-storage causes the Cognito JWT's that were being retrieved by Auth.currentSession().

Behavior without AsyncStorage: Auth.signIn() returns a Cognito session that persists on the emulator through reload.

Behavior after adding the following code:

[code]

After implementing this code, the JWT's are overwritten on refresh for no apparent rea

[2019-10-24 14:55] yoursweater commented on #4245
I'll note that creating a new storage class (such as the MyStorage example shown in the docs) fixes this issue, but it's still a poor experience (and certainly what I would consider a bug) that the default use of AsyncStorage overwrites the JWT's.

Doing `AsyncStorage.setItem('@banana', 'totallyShouldNotOverwriteJWTs')` should have zero bearing on whether or not Cognito's Auth breaks, unless '@ban

[2019-10-24 16:01] achaphiv commented on #4243
My project was only using `@aws-amplify/auth`.

The breakage happened between 1.4.2 and 1.4.3.

Here was the resolution for that:

[code]

[2019-10-24 16:16] undefobj commented on #4244
Are you trying to use Federated Identities instead of User Pools? If so then you'll need to use the overloaded method of `Auth.federatedSignin` with a token as outlined here: https://aws-amplify.github.io/docs/js/authentication#identity-pool-federation

[2019-10-24 16:21] Matthias-Pichler commented on #4210
@Amplifiyer its basically just a reimplementation of the amplify react native memory storage just using the new `@react-native-community/async-storage`

[code]

[2019-10-24 16:34] jsDotCr commented on #4186
Hi! I'm facing this issue as well. I've set up a repo and the minimal setup to reproduce it: https://github.com/jsDotCr/amplify-react-types-bug
I am using next and the auth part of amplify only (modular) but I doubt the problem is there since it's failing when running `tsc`.

Please note: the error only appears when tsconfig.json is set with `strict: true`:

[code]

I'm using aws-amplify-react@2.5

[2019-10-24 17:15] sachinh19 commented on #1069
Is there a way we can set a timeout on http calls? Also what is the default http timeout for amplify? Is there any documentation on this?

[2019-10-24 17:16] ashish-dirkmedia-de commented on #4231
Like issue "Add federated sign in for social providers"
It says to add components "src/components/authenticator/federated-sign-in-component/federated-sign-in.class.ts", "src/components/authenticator/federated-sign-in-component/federated-sign-in.component.core.ts"
etc.
Should I actually change in packages/aws-amplify-angular?

[2019-10-24 17:19] Dellybro commented on #3956
+1 lets get this merged.

[2019-10-24 18:00] Amplifiyer commented on #4243
I believe it is because Webpack 4 upgrade for all the packages from pull #4007. Earlier issue #3477 was with amplify-ui package which was the only one using webpack 4 at that time. I'll create a new pull request for setting `globalObject: 'this'` in library umd library output.

[2019-10-24 18:54] davidbiller opened #4250 "Parameters do not exist in the template"
i tried to push a new upadte over the newest CLI

Get this error:
`UPDATE_FAILED               authaivyusers                      AWS::CloudFormation::Stack Thu Oct 24 2019 20:08:16 GMT+0200 (GMT+02:00) Parameters: [unauthRoleName, allowUnauthenticatedIdentities, thirdPartyAuth, mfaLambdaLogPolicy, openIdLambdaRoleName, policyName, userpoolClientName, mfaLambdaIAMPolicy, mfaPassRolePolicy, authRol

[2019-10-24 18:57] sorokinvj commented on #2778
@Strenget Ola! Have found the roots of the problem and hopefully workaround?

Experience the same with custom ForgotPassword

[2019-10-24 19:12] kylegwalsh commented on #1316
@michelem09

I ended up reverting to Hosted-UI due to the issue I cited above. When I was doing it manually, I did like the fact that I could trigger a popup window rather than temporarily redirecting the user away from my site, but I determined it was not worth the headache of trying to manually manage everything.

In addition I configured Hosted-UI to use a subdomain of my site (auth.mysite.com)

[2019-10-24 19:34] iartemiev commented on #4232
@Sytree this should be fixed now in the latest unstable version (install `@aws-amplify/analytics@unstable` through your package manager if you'd like to try it before it's officially released).

Please let us know if this fixes the bug you are experiencing.

[2019-10-24 20:02] lucaslagessr commented on #3413
This is hardly a solution. OP solved it by disabling offline support. What if I want it enabled? The documentation states:

My application is not configured to use more than one client, but requires offline support. The problem still persists.

[2019-10-24 20:11] davidbiller commented on #4250
So create a new env is working.
My production env push is working (Just added a space in code for testing)

[2019-10-24 20:12] solshark commented on #1060
Issue actually still here.

[2019-10-24 20:20] Amplifiyer commented on #4223
@anandwahed, that's what I thought was the issue. Even downloading and caching the file locally in the project is not working since the javascript file is not compatible with the react native environment. I'll follow up with internal cognito team and revert back once I have more information.

[2019-10-24 20:22] Amplifiyer commented on #3813
@imoark. shouldn't these validations happen in the frontend code? For instance if you are using aws-amplify-react package, there are few validations done on the input type.
I'll follow up with the cognito service team to see if they want to add these validations in the service as well.

[2019-10-24 20:22] #3813 closed

[2019-10-24 20:26] haverchuck commented on #3558
@all-iver We have a PR open which fixes this in aws-amplify-react.  We will merge it as soon as we are able.

[2019-10-24 20:29] tamsil25 commented on #3328
Any update on this?

I'm still stuck with the same thing.

[2019-10-24 20:58] pbrianmackey commented on #2365
Upgrading to `"aws-amplify": "1.1.24-beta.10",` fixed it for me

[2019-10-24 21:23] #4250 closed

[2019-10-24 22:17] raulmt commented on #1690
I think this is still a problem. `Auth.signOut()` only signs out from Cognito, but not from the federated provider (Google in this case). So when you try to login again (in my case, using `Auth.federatedSignIn({ .provider: 'Google' })`) it will automatically bypass Google's account selection/login and directly use the existing session.

One suboptimal solution to this is to also sign out from Goog

[2019-10-24 22:47] adamsythe commented on #4245
I updated to react-native "^0.60.6", and my session is being lost on every reload of the simulator.  Could this be related to using redux persist?

[2019-10-24 23:12] chengjia080787 commented on #4243
Any progress on this ?

[2019-10-24 23:51] Amplifiyer commented on #4240
@XinruiWu, It would mean signing account2's analytics requests from account1's credentials which I don't believe it's possible to do.

[2019-10-24 23:51] #4240 closed

[2019-10-25 00:00] XinruiWu commented on #4240
Thanks for reply, that is why I was wondering if Amplify allows connecting to multiple identityPool then modules can chose one based on its purpose. And I think it is also doable through assumeRole.

[2019-10-25 00:19] #4243 closed

[2019-10-25 00:44] Amplifiyer commented on #4243
@chengjia080787 @achaphiv @iamronsuez @lambda0xff @shabegom, hi folks, the fix has been merged and releases as unstable, can you please test it and let us know if this issue is fixed?

[2019-10-25 01:01] harmohan-a commented on #3278
Soooo.......this is the problem i had, and i'll try to phrase it in a nicer way than i did to mean at the time.

i was using the api and the auth. from their modules

import API, { graphqlOperation } from '@aws-amplify/API';

API.configure(.....)

and
import Auth from '@aws-amplify/Auth';
API.configure(.....)

this would throw error in console because api internally uses auth as well and initiate

[2019-10-25 01:04] nigelwtf commented on #4243
@Amplifiyer - will a stable version be released once the issue is confirmed as fixed? We've been experiencing this too, and have been following this thread waiting for this to be resolved :)

Happy to test it if needed.

[2019-10-25 01:06] Amplifiyer commented on #4243
@nigelwtf, yes, if you can test with the unstable release and let us know if it works that would be great!

[2019-10-25 01:11] nigelwtf commented on #4243
Confirmed working using `@aws-amplify/api@^1.2.4-unstable.3` and `@aws-amplify/auth@^1.4.4-unstable.3`.

[2019-10-25 01:59] #4186 closed

[2019-10-25 02:05] Amplifiyer commented on #4186
I've fixed this issue so you should not get this error anymore but please note that amplify library is not strictly typed currently, we are looking for ways to improve types so that one day we can enable "strict": true in the library.

[2019-10-25 04:09] selipso opened #4257 "GraphQLResult and Observable<object> incorrect types for API.graphql"
[code]
Getting the above error using typescript after the new Amplify js version.

It would be better to use `Observable<any>` in this case because using type `object` is incompatible. In TypeScript the type `object` is the opposite of `any` and is not assignable to anything.

[2019-10-25 04:27] Amplifiyer commented on #4257
@selipso, can you share your code sample where you are getting this error?

[2019-10-25 05:34] dahersoftware commented on #4244
@undefobj We are using Cognito User Pools.

[2019-10-25 06:36] orcunorcun opened #4259 "S3 is not a constructor & Observable is not a constructor ERRORS"
### Problem:
I was using Storage and subscription well on React Native, but now it doesn't work with same codes. It rejects with

 for Storage,

for Subscription (Queries and mutations working well.)

### Packages:
[code]
### Codes:
[code]

[2019-10-25 07:12] selipso commented on #4257
[code]
Fairly simple wrapper function around the graphQL operation

[2019-10-25 08:00] elorzafe commented on #4101
@JohnGrisham Can you share a code snippet of where you are using identityId?

[2019-10-25 08:03] elorzafe commented on #3498
@cliffordh how are you doing signIn when resetting the password?

[2019-10-25 09:22] Nitheesh-u commented on #4259
Same error for me "Object is not a constructor (evaluating 'new S3')"

[2019-10-25 10:00] usmansbk opened #4260 "RN [Auth] [API] Refresh token not working - "No current user""
**Describe the bug**
I keep getting ` WARN  Possible Unhandled Promise Rejection (id: 3):
"No current user"`
[code]

calling `Auth.currentAuthenticatedUser()` after restarting the app returns `"not authenticated"`

**To Reproduce**

1. Login using federatedSignin or signIn
2. Make a query with ApolloClient
3. Close and Reopen app
4. No query or mutation works anymore.
5. Log out and Login again
6.

[2019-10-25 10:18] usmansbk opened #4261 "RN [Analytics] multiple bugs - updateEndpoint, callable, putEvents"
**Describe the bug**
I keep getting this errors while using analytics
`TypeError: Cannot read property 'updateEndpoint' of undefined`
`TypeError: constructor is not callable`
`TypeError: Cannot read property 'putEvents' of undefined`

**To Reproduce**
[code]
[code]

**Smartphone (please complete the following information):**
[code]

[2019-10-25 12:53] benderillo opened #4262 "Hub.listen('auth', ...) no longer delivers messages"
**Describe the bug**
We have Cognito User Pool with Identity provider configured to Google on the backend.
On the frontend I am using `Auth.federatedSignIn({ provider: CognitoHostedUIIdentityProvider.Google })` in order to trigger HostedUI sign in via google UI.

After returning from authorizing with Google, Auth.currentAuthenticatedUser() returns an error of 'not authenticated' which is fine.
I u

[2019-10-25 13:21] rarira commented on #4260
same error after upgrading @aws-amplify/auth v1.2.3.
there seems to be so many bugs in v1.2.3 in almost every packages included

[2019-10-25 13:22] rarira commented on #4259
same error @aws-amplify/storage.. v1.2.2 is fine.

[2019-10-25 13:23] dienomb commented on #4015
Would be awesome to know if someone manage to do it??

[2019-10-25 15:11] nayan27 commented on #3039
Hi,

Is there any progress on this ? I am having a similar issue:

1 - My applicationA subscribe to a few topics
2- My applicationA opens my other applicationB
3- My applicationB does not use Amplify and only perform specific tasks.
4- After about 1-2 minutes (but could be more), applicationB reopens back applicationA
5- Upon foreground, applicationA's subscriptions call their error function with

[2019-10-25 15:17] haverchuck commented on #4037
@justcompile Is your application using an identity pool to provision credentials?  Have you verified that the cognito requests you're seeing aren't actually going to the identity pool?

I believe that requests to the identity pool are typically named something like this...
`cognito-identity.${region}.amazonaws.com`
...while calls to the user pool are typically named something like this:
`cognito-i

[2019-10-25 15:56] sammartinez commented on #3526
@uchar Are you still experiencing this issue with later versions of Amplify? Please let us know

[2019-10-25 16:43] #4126 closed

[2019-10-25 16:43] #4127 closed

[2019-10-25 16:46] AbeerSperadian opened #4264 "Cognito OAuth Code Grant Flow."
HI,
I have recently started working with AWS amplify. Currently, the Issue I am facing is in Amplify is that I need to change the Cognito hosted UI to make my login user experience the same way as it is on my web page,
Constraints:
must use Cognito OAuth Code grand flow. so that it will send the code to the Alexa skill directly and Alexa will be able to get tokens on the behalf of code.

what I fo

[2019-10-25 17:24] jordanranz commented on #3598
Hey @DanielMuller, could you point me to the documentation related to using the `input` attribute inside of an input element. I couldn't seem to find any information about it.

I was not able to reproduce this on iOS. I can try on an Android device.

[2019-10-25 17:28] nayan27 commented on #4064
Encountering exact same situation as @mevert.
Also I would add the following :
I don't believe this problem is dependant on the platform but here is the issue i have:
- React-native application subscribes to a few topics.
- Go out of the application for a few minutes (application goes to background)
- Come back to application (application comes back to foreground)
- Paho.Client triggers onConnecti

[2019-10-25 17:40] elorzafe commented on #3498
@cliffordh post authentication trigger is called after doing sign-in, and post confirmation trigger is being called after doing reset password. The lambda triggers are not executed by Amplify Library those are configured on the backend, for example on Cognito console or Amplify CLI.

You can find here more info related to those triggers here
https://docs.aws.amazon.com/cognito/latest/developerguid

[2019-10-25 17:41] jordanranz commented on #3389
Hi @oliverandersencox,

Could you place a try/catch around the `federatedSignIn` call like this:
[code]

The error in the console may provide us more debugging information.

[2019-10-25 18:09] ashika01 commented on #3873
Docs in Cognito mentions time window here as well.
https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-settings-mfa-totp.html

[2019-10-25 18:09] #3873 closed

[2019-10-25 18:09] ashika01 commented on #3873
Please feel free to reopen this issue if there is an issue here.

[2019-10-25 18:12] jordanranz commented on #3598
Curious if this change would fix the problem you are experiencing:
https://github.com/vuejs/vuejs.org/pull/1798

[2019-10-25 18:21] streppa commented on #4213
I've come up with a work around for now.

The API Amplify module definitely doesn't have credentials when the refresh handler is running.

[2019-10-25 18:24] sammartinez commented on #3409
@hamzakhawaja27 In clicking on the link for that was sent, it looks like the repo is no longer available. Are you still looking for this use case? Please let us know

[2019-10-25 18:49] #3822 closed

[2019-10-25 18:56] michalgarcarz opened #4266 "Incorrectly generated schema.json for netsted objects"
**Describe the bug**
My schema.json does not have a definitions for netsted objects. My mutations and query js files are correctly generated - include all nested objects, it's just schema.json which is wrong.

**To Reproduce**
Steps to reproduce the behavior:

1. use schema:
type S3Object @model @auth(rules: [{allow: owner}]) {
  bucket: String!
  region: String!
  key: String!
}

type Car @model

[2019-10-25 18:57] #4261 closed

[2019-10-25 19:05] njdullea commented on #4177
I just upgraded to the most recent version of aws-amplify, and now the console is filled with
'TypeError: Object is not a constructor (evaluating 'new MobileAnalytics({
                             │ credentials: credentials,
                             │ region: region
                             │ })')'

and

'TypeError: undefined is not an object (evaluating 'that.pinpointClient.updateEndpoin

[2019-10-25 19:23] AhmedMKamal commented on #1852
if the Amplify team is interested in this topic then we may start working on it ourselves and stop asking "Any updates?" and the Amplify team can take it over at some stage, and if not please mention it so that one can work on some unofficial implementation!!

[2019-10-25 20:14] iartemiev commented on #3613
@gilesbutler @pl-synth are you guys still experiencing this issue?

I attempted to reproduce this issue programmatically by retrieving the session every 5 seconds with the following code:

[code]

I executed the function and left it running simultaneously in Chrome and FF (both on macOS) for 4 hours but `session` never came back as `undefined` throughout that time.

I used the same version of the

[2019-10-25 20:30] christensen143 commented on #1324
@sbussard The accessKeyId and secretAccessKey are being passed in as environmental variables in Amplify.

currentAuthenticatedUser does not solve this issue.

[2019-10-25 20:32] Amplifiyer commented on #4259
@orcunorcun @Nitheesh-u @rarira I pushed a quick fix for that which is now published to unstable, can you please test it with this version(unstable tag) and let us know if that solved this issue?

[2019-10-25 20:33] Amplifiyer commented on #4261
@usmansbk, I pushed a quick fix for this which is now published to unstable, can you please test it with this version(unstable tag) and let us know if it solved this issue?

[2019-10-25 20:36] ericclemmons commented on #4132
@pepemiso16 Thanks for your additional details!

This sounds similar to a bug I researched here:

Basically, `Auth.currentAuthenticatedUser()` resolves initially based on what's in local state, but the OAUTH redirect flow is still in flight.

Try adding an `AmplifyEventBus.$on('authState', info => {...})` listener (see the example below) and let us know if that helps!

(In the meantime, we're inve

[2019-10-25 21:38] ericclemmons commented on #3492
@VamsiDharmaji This is an interesting dilemma! I'd like to understand more the use-case behind having different users logged in under different accounts on the same machine.  Could you share more on that?

In the meantime, `Auth` storage currently defaults to `window.localStorage`, but you can change it based on the instructions here:

For example, I was able to switch to `window.sessionStorage` w

[2019-10-25 21:58] ericclemmons commented on #3594
@thundermiracle I was researching this issue today, but am having trouble reproducing.

With two windows open & logged in, after signing out of Window A, whether refreshing the page or explicitly calling `Auth.currentAuthenticatedUser()`, Window B returns the error `not authenticated`.

(This happened whether I passed `{ bypassCache: true }` or not).

Is this still happening for you?

[2019-10-25 22:31] TomJKlug commented on #3422
This also caused a huge headache. Would greatly appreciate a switch the the react-native-community/async-storage

[2019-10-25 22:49] Amplifiyer commented on #4262
@benderillo, Hub.listen is a side effect, and so need to add it to useEffect(). Below is a sample of that

[code]

[2019-10-25 23:16] Amplifiyer commented on #4231
Hi @ashish-dirkmedia-de, I'm assuming you are talking about #2900 which is a PR for adding federated providers in angular components. And I believe #4082 is also duplicate of this.

If you meant to pull these PR changes (which I believe you are calling patches), you can pull the fork and branch of the PR, in this case OrozcoJonathan:angularFederatedIdentity and merge in your local fork. Please not

[2019-10-25 23:16] #4231 closed

[2019-10-25 23:17] Amplifiyer commented on #4082
Closing this as duplicate of #4231. Please add your communication directly in the PR you want it to get merged to master

[2019-10-25 23:17] #4082 closed

[2019-10-26 00:31] Amplifiyer commented on #4260
@usmansbk, can you test your code with latest unstable release and let us know if you are still facing the issue?

[2019-10-26 03:07] 10001oleg commented on #2987
up

[2019-10-26 05:50] jkeys-ecg-nmsu commented on #4197
@jmandivarapu1 have you tried downgrading your `aws-amplify` package to the oldest version containing your dependencies to see if the problem still persists?

Also, please answer these two questions: (1) what is the name of the file that is the entry point of your program (as defined by webpack or whatever), and (2) what is the name of the file that you run `Amplify.configure` or `Auth.configure`?

[2019-10-26 07:05] zgr024 commented on #2233
Same issue. I have a table with 7300 "items". I can't get any of the records from the set I need in a single query because there's a limit to how many records I can look at before applying the filter? That makes no sense.

[2019-10-26 07:14] dahersoftware commented on #4244
@undefobj To add it more info.. We tapped the redirection request
https://<name-dev.auth.region>.amazoncognito.com/oauth2/authorize?redirect_uri=myapp://main/&response_type=code&client_id=<clientid>&identity_provider=Facebook&scopes=phone,email,openid,profile,aws.cognito.signin.user.admin&state=<state string>&code_challenge=kN4NRDBHGDcJ2m2PwoZgkhWdhypod1p7PG_5Nd3SFis&code_challenge_method=S256

So

[2019-10-26 07:16] itsgitz commented on #4259
@Amplifiyer well, I've changed the version with unstable tag:
 `"aws-amplify": "^1.2.3-unstable.0"`

And then new warning has occured:
`[Unhandled promise rejection: Error: No credentials, applicationId or region]`

So, I disable `Analytics` like this:
`Amplify.configure({
  Analytics: {
    disabled: true
  }
})`

And it works for both S3 and Subscriptions.

[2019-10-26 08:44] cmckni3 commented on #3906
AWS Support responded saying they reproduced it in an amplify sample project.

[2019-10-26 08:44] cmckni3 commented on #3906
Should this issue be closed?

[2019-10-26 11:12] benderillo commented on #4262
@Amplifiyer
I don't see how this solves the problem. All that `Hub.listen()` does is simply adds a callback function to Hub module so when a message on the channel arrives, it gets propagated to the callback. It should not matter if I call it from inside `useEffect` or not.
Moreover, example here https://aws-amplify.github.io/docs/js/authentication#react-components (see `Full React example`) calls

[2019-10-26 11:49] usmansbk commented on #4261
@Amplifiyer now it's working as expected. Thanks.

[2019-10-26 11:51] usmansbk commented on #4260
@Amplifiyer  This bug still persist.

[2019-10-26 16:23] jmandivarapu1 commented on #4197
Both my start of the application and all the configuration is in my APP.js which is my start of the application.

I did downgraded the amplify but that doesn't seem to work too.

I did as much experiment's as possible because of this amplify analytics issues which messed my project. If I started doing more experimentation than this it will be like me building whole application again. [There is a t

[2019-10-26 16:44] hello2all opened #4268 "1.2.3 version is incompatible with Server Side Rendering using Next.js"
**Describe the bug**
1.2.3 update causes incompatibility issues with Next.js.

Error output:
`ReferenceError: window is not defined`

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new Next.js project
[code]
2. Install aws-amplify
`
npm install aws-amplify
`
3. Import amplify in the newly created project
add `import Amplify from 'aws-amplify'` into `/pages/index.js`.

4. Start dev

[2019-10-26 17:34] ferhatbilgic commented on #3742
Hi,

Could you be able to solve this issue? @denchp

[2019-10-26 17:56] carnesen commented on #3409
I deleted the repo and instead consolidated the reproduction code to https://gist.github.com/carnesen/5a09fd4899f2c1b7c4121307e487c644 . I'm actually no longer working at the company at which we were using Cognito for authentication. So I no longer have a vested interest in a solution. This was more one of those things where I spent many hours trying to pin down and work around the bug and figured

[2019-10-26 21:03] asnar commented on #3435
any updates from?

[2019-10-26 21:25] ffxsam commented on #4257
Agreed, I don't see how `Observable` applies here. `API.graphql()` should return a `GraphQLResult` only.

[2019-10-26 21:50] ffxsam commented on #4257
Also, this:

[code]

I would probably change the `data` line to:
[code]

[2019-10-26 22:06] buggy commented on #4257
@ffxsam It's complaining about `result.data.createFolder` because `result.data` is optional. Once TypeScript 3.7 is release this will be much easier

[code]

There's a PR to add support for generics to the API's which helps with some of the stuff mentioned here. See #3748

There's been much discussion about the return type of `API.graphql()`. Basically it's a `GraphQLResult` if you're performing a

[2019-10-26 22:19] ffxsam commented on #4257
@buggy That's actually not true, as you can see above I'm checking for falsey values for `result` and `result.data` (which is partially blocked by the popup message).

It still gives me that error. And yeah, I haven't started using subscriptions yet, so your comment about `Observable` makes sense to me now.

[2019-10-26 23:34] byennen commented on #364
I agree with @rpgreen, we're running into an issue where we PUT a file into a protected folder and we're trying to build the URL for that protected folder with the key returned.

As @rpgreen pointed out the `"cognito-identity.amazonaws.com:sub` does not match the folder created by the PUT.

[code]

I also agree, that the PUT should return the actual URL and not just the key.

I have to do a GET on

[2019-10-26 23:49] jkeys-ecg-nmsu commented on #4197
@elorzafe can you address OP's concerns?

[2019-10-26 23:52] byennen commented on #364
@dabit3 can you review the comment above and let me know if I'm missing something or is this a bug with amplify-js? TY!!

[2019-10-27 02:34] gilesbutler commented on #3613
Thanks for following up on this @iartemiev, really appreciate your effort. We refactored our login system recently and we're not seeing this anymore. That leaves me to believe it was an issue on our end. Please feel free to close this issue if @pl-synth isn't seeing it anymore. Thanks again.

[2019-10-27 02:43] buggy commented on #4257
@ffxsam I couldn't see the code behind the popup :(

The PR that I mentioned above should solve your problem once it's merged. It uses generics allowing your define the structure of the variables passed and data returned.

Something like:
[code]

Would allow you to access
[code]

[2019-10-27 03:19] mlabieniec commented on #4197
@jmandivarapu1 have you run any updates via the CLI or cloudformation directly on your user pool? Can you verify in your user pool console - > app clients - > show details -> Enable username-password (non-SRP) flow for app-based authentication (USER_PASSWORD_AUTH) is enabled?

[2019-10-27 05:25] DanielMuller commented on #3598
@jordanranz The PR you mention doesn't fix the issue, it just sets the documentation straight.
From this [comment](https://github.com/vuejs/vuejs.org/pull/1798#issuecomment-479560443) on the VueJS repo, it seems to be failing with the default keyboard on Android only. iOS or other Android keyboards don't seem to be affected.

It looks like the issue is how this keybord triggers input changes on An

[2019-10-27 05:35] selipso commented on #4257
Thanks for the feedback and updates. Because of the convenient wrapper provided by API.graphql I am very happy with type ‘any’ and referring to the documentation for the data structure.

The generics solution is also fine or even `Promise<{data:any}> | Observable<{data:any}>`

[2019-10-27 07:32] codermeisje commented on #3089
I am experiencing the exact same thing as vdiaza
Also using vue, cognito, and appsync. Works great locally, but after it is deployed through AWS amplify console, I get a 401 error when trying to connect to graphql (using the amplify-connect component).

[2019-10-27 10:39] YahngSungho opened #4269 "Default social provider buttons don’t work with basic setup"
**Describe the bug**

![socialProvider1](https://user-images.githubusercontent.com/29212791/67633255-2c90ba80-f8f1-11e9-8362-06b0bb0915da.gif)

also in console:
``
NotAuthorizedException: Token is not from a supported provider of this identity pool.
``

But ‘Sign in with AWS’ seems to work.

![2019-10-27 18 52 11 Signin - Chrome](https://user-images.githubusercontent.com/29212791/67633259-3ca89a00

[2019-10-27 11:43] r-moore commented on #1972
@cbernardes the idToken is not the credential token so deleting it is irrelevant really. idToken is just profile info about the user.

In my test, I have deleted the **authToken** (i.e. the credentials used for my API) and then after using Amplify's `Auth.currentAuthenticatedUser()` I can see that the authToken is recreated in my browser without having to provide username/password again.

In my te

[2019-10-27 14:50] Off2Race commented on #329
I used @tim-thompson's suggestion and it worked for me as well. The documentation for Storage.get probably needs to be updated but the following works fine:

[code]

I've only tried it for "public" access (any authenticated user of my app) but looking at the code I don't see a reason why it wouldn't work in other scenarios too. In effect, the bucket you specify during the Amplify.configure appears

[2019-10-27 15:13] codermeisje opened #4270 "Error 401 Unauthorized when trying to connect to appsync when using aws-amplify"
** Which Category is your question related to? **
Using aws-amplify-vue, cognito, and appsync. Works great locally, but after it is deployed through AWS amplify console, I get a 401 Unauthorized error when trying to connect to the graphql endpoint.

** What AWS Services are you utilizing? **
Cognito, AppSync

** Provide additional details e.g. code snippets **
Components I am using from aws-amplif

[2019-10-27 15:21] YahngSungho opened #4271 "Authenticator component only shows 'Loading...' with a basic setup"
**Describe the bug**

![2019-10-28 00 12 35 LearnObit - Chrome](https://user-images.githubusercontent.com/29212791/67636941-f36c4080-f918-11e9-8d6d-fde11320ca7e.png)

If I don't provide the amplifyConfig prop, it will render normally (of course it can't actually sign in / up).

But if I put amplifyConfig prop, only Loading ... appears.

When hiding the loading component it shows nothing.

I only c

[2019-10-27 17:08] jmandivarapu1 commented on #4197
Yes It's enables I double checked it.

[2019-10-27 17:21] idanlo opened #4272 "AsyncStorage wrong import - removed from react-native and moved to different package"
**Describe the bug**
AsyncStorage has been removed from `react-native` and moved to a new package `@react-native-community/async-storage` which means developers that have `react-native` version >=0.60 doesn't have the functionality that is related to async storage. So for example when users exit the app the login data is not saved and they need to login again, which is very frustrating. I have loo

[2019-10-27 17:28] idanlo commented on #3956
I created another issue since this one is already buried in the issues list

[2019-10-27 17:29] idanlo commented on #4272
There is PR open for this already #4027

[2019-10-27 18:14] michalgarcarz opened #4273 "Object is not a constructor (evaluating 'new S3')"
** Which Category is your question related to? **
Storage
** What AWS Services are you utilizing? **
Cognito, AWS AppSync
** Provide additional details e.g. code snippets **
I have provisioned storage as per doc, but can not put any file to S3, when trying:

import { API, graphqlOperation, Storage, Auth } from 'aws-amplify';
//amplify configured, other services like cognito or app sync working fin

[2019-10-27 19:40] usmansbk commented on #4272
@Amplifiyer  I believe this is the source of the Auth bug. Please release an unstable version as it's a major blocker.

[2019-10-27 20:13] YangMann commented on #4257
![image](https://user-images.githubusercontent.com/4034481/67640981-62b34780-f8bb-11e9-84a6-b06711f5976c.png)
I'm seeing a similar issue with API.graphql

[2019-10-27 20:16] YangMann commented on #4257
I'm seeing a similar issue with `await API.graphql()`. When trying to access `data` from the returned result:
[code]

[2019-10-27 22:42] cbernardes commented on #1972
@r-moore the point of having a token is to grant access to the API, and an API using cognito as an Authenticator uses idToken, the other one won't grant access.

Please check the AWS documentation.
"The primary purpose of the access token is to authorize API operations in the context of the user in the user pool"

https://docs.aws.amazon.com/cognito/latest/developerguide/amazon-cognito-user-pools-

[2019-10-27 23:25] #4207 closed

[2019-10-28 05:29] thundermiracle commented on #3594
@ericclemmons
Thanks for your reply.
I'm not sure of your reproducing environment, but I guess that you started only 1 APP and opened it in two tab. In that case the library works fine.

The problem is happening in SSO which needs two APPs.
1. Login in App1.
2. App2 can login by calling federatedSignIn()
3. Logout from App1.
4. in App2, call currentAuthenticatedUser() to check the session. -> *fai

[2019-10-28 08:11] nirmay commented on #1035
+1 for nativescript

[2019-10-28 08:48] navilan opened #4274 "Authentication errors are swallowed by handleAuthResponse."
**Describe the bug**

An unfortunate side effect of PR #3993 is that errors are now swallowed. We use `Hub.listen` to listen on errors and handle them, this change has prevented that. Can we revert this change please or remove lines 199 - 201?

https://github.com/aws-amplify/amplify-js/pull/3993#issuecomment-546846851

[2019-10-28 10:31] DoctahPopp871 commented on #4179
Any additional guidance here ?

[2019-10-28 10:40] Alex-Burgess commented on #4004
+1 for this issue.  I have a pre-sign up trigger which throws an exception in certain situations to prevent the signup process from completing.

When using the federated signin, (e.g. Auth.federatedSignIn({provider: 'Google'})) and a pre sign up trigger throws a custom exception, I get the following instead:

Auth.js:2186 Uncaught (in promise) TypeError: Cannot read property 'accessToken' of undef

[2019-10-28 10:45] YahngSungho commented on #4271
Although it's not a direct solution to this problem, can I know where I should look? I would be grateful if anyone gave me a hint.

[2019-10-28 10:56] alisherakb commented on #4272
Kindly ask maintainers to accept the PR. We can't move on with two projects.

[2019-10-28 10:58] benderillo commented on #4262
So I found the root cause of the issue with `Hub.listen()`.
My `import` section looked like this: `import {Hub} from "@aws-amplify/core/lib/Hub"` while it should have been `import {Hub} from "@aws-amplify/core"`.

Once I changed it, everything is back to working state.

[2019-10-28 10:58] #4262 closed

[2019-10-28 11:05] YahngSungho commented on #4271
Some observation

* with debug tool, I detected that authState is just 'loading'
* When I did Auth.signOut(), it seems work. But that case whenever user come to the app use will be forced to sign out. So it's not reliable.

[2019-10-28 11:07] Nitheesh-u commented on #4260
am facing the same issue

[2019-10-28 11:18] anarerdene opened #4275 "Public Auth not working with Cognito UserPool"
**Describe the bug**
A clear and concise description of what the bug is.

Public Auth not working with Cognito UserPool
**Expected behavior**
A clear and concise description of what you expected to happen.

**Amplify context**
- Framework (e.g. React, Angular, Vue, React Native)
- Versions of Amplify you are using
React, Nextjs

My main auth is Cognito UserPool. Some queries are public then i used

[2019-10-28 14:28] josoroma opened #4276 "Elasticsearch complement for reads and writes"
** Category: AppSync **

Hi hackers!

Context: Please suppose we use amplify js to create an Appsync endpoint using the **@search** directive.

I was wondering... what the differences are between using **AWS.DynamoDB.DocumentClient()** and **AWS.HttpRequest(appsyncUrl, region)** approaches. We would like to find out if both approaches are automatically using or not the Elasticsearch complement for

[2019-10-28 14:35] josoroma opened #4277 "Is there an easy way to assign a single and unique endpoint to each custom node lambda resolver?"
** Category: Appsync **

HI!

Is there an easy way to assign a single and unique endpoint to each custom node lambda resolver?

Thanks a bunch!

[2019-10-28 16:30] jordanranz commented on #3598
Sorry, I meant if we use `v-bind` and `v-on:input` instead of `v-model` inside of the Amplify Vue component. This may fix your issue. I will try and reproduce this on a virtual device.

[2019-10-28 16:40] anarerdene commented on #4178
Hi @blairtaylor , Im using nextJS and AppsyncSDK and main auth is Cognito. I have same problem with you. In my case 70% cognito query 30% public query.

So i created multiple Apollo client like this.

[code]

Because

[code]
not working on single apollo client. I don't know why ?

[2019-10-28 16:48] ericclemmons commented on #3594
@thundermiracle You're exactly right: I misunderstood SiteA/SiteB for being new windows, not different apps entirely.

I'll give this another go...

[2019-10-28 16:52] anarerdene opened #4278 "API KEY with Cognito and Multiple Apollo Client"
** Which Category is your question related to? **
Cognito,  AWS AppSync, AppsyncSDK

** What AWS Services are you utilizing? **
Cognito, AWS AppSync

** Provide additional details e.g. code snippets **
I', using Cognito Userpool. In my case our site's access 70% private query (it mean logged users can access this queries) and 30% public query.

So i used [public Authorization](https://aws-amplify.

[2019-10-28 17:22] leosoaivan opened #4279 "Modular import of aws-amplify-react"
** Which Category is your question related to? **
aws-amplify-react
** What AWS Services are you utilizing? **
N/A
** Provide additional details e.g. code snippets **

Following the discussion in #2781, I've imported various bits of aws-amplify-react like so:
[code]

This worked, initially. As of today, the import path is not able to resolve successfully, with my linter throwing `Unable to resolve

[2019-10-28 17:31] MatthieuLab commented on #4257
we've solved this by adding an 'as unknown'.
If you have a better way to type, do not hesitate to share.

[code]

[2019-10-28 17:36] #3558 closed

[2019-10-28 17:44] anarerdene commented on #4268
+1

[2019-10-28 17:44] rjjlucy opened #4280 "Duplicate GraphQL: Cannot use e "__Schema" from another module or realm"
I cannot reopen this issue https://github.com/aws-amplify/amplify-js/issues/4194 so I have to file a new one.

### Describe the bug
Observe the error in developer console in Chrome when I run the app locally.
[code]

Solution mentioned in https://github.com/aws-amplify/amplify-js/issues/4194 I tried but no use.
I also tried to add `graphql` as first party dependency and `npm-force-resolutions` in

[2019-10-28 17:58] jordanranz commented on #4271
In the meantime, I am looking into reproducing this. This may be related to the following PR: https://github.com/aws-amplify/amplify-js/pull/4258

[2019-10-28 18:28] Amplifiyer commented on #4268
This is same as #4243 and has been fixed in unstable release. We will release it soon.

[2019-10-28 18:47] #4221 closed

[2019-10-28 18:53] Amplifiyer commented on #4268
@anarerdene, can you confirm in your node_modules directory, what version of aws-amplify you are using, stable 1.2.3 or 1.2.4-unstable.5

[2019-10-28 21:01] ashika01 commented on #3586
This PR #4258 would solve the bug thats happening here. Have verified this locally.

[2019-10-28 21:29] jordanranz commented on #4274
Hey @navilan, can you post a code snippet for the `Hub.listen` code you mentioned using. We may be able to reconcile this by dispatching the error as a Hub event so you can still listen for it.

[2019-10-28 22:27] Amplifiyer commented on #1336
@ArmorDarks this has been pushed to a stable release. Closing this, let us know if you face any problems by creating a new issue.

[2019-10-28 22:27] #1336 closed

[2019-10-28 22:54] jordanranz commented on #4279
Hey @leosoaivan,

Unfortunately modularly importing UI components (by category) from `aws-amplify-react` is currently not officially supported. The comment you mentioned in the issue description was a temporary workaround/hack for what you are trying to achieve.

That being said, modularly importing UI Components is something that are evaluating for the UI Component library refactor: https://githu

[2019-10-28 22:56] jordanranz commented on #4280
Spoke offline and resolved the issue. We have upgraded to using graphql version 14 per this PR: https://github.com/aws-amplify/amplify-js/pull/4230

[2019-10-28 22:56] #4280 closed

[2019-10-28 23:10] adamsythe commented on #4259
why is this closed?

[2019-10-28 23:25] YahngSungho commented on #4271
@jordanranz Thank you. It works. I thought I've tried that but maybe... I was wrong

[2019-10-28 23:25] #4271 closed

[2019-10-28 23:57] jordanranz commented on #4276
It seems like you are referencing the Amplify CLI documentation. I'll go ahead and move this to the CLI issue queue.

[2019-10-28 23:59] jordanranz commented on #2455
Quick update on this. We will be implementing Federated Sign In buttons into our UI Component refactor: https://github.com/aws-amplify/amplify-js/issues/3279

[2019-10-29 01:15] itsgitz commented on #4259
@adamsythe  I don't why, but I'm still waiting for update. My application can't `subscribe` using `aws-amplify` with unstable version

[2019-10-29 01:49] leosoaivan commented on #4279
@jordanranz

Thanks for the input. I figured it there was a minor version bump that caused the issue. For the time being, I've locked my version to the one where the `/dist/` import works, since it's really been helpful for our build sizes.

I'll continue following the modularization issue for the proper implementation, whenever it comes. Closing this issue!

[2019-10-29 01:49] #4279 closed

[2019-10-29 01:52] thundermiracle commented on #3594
@ericclemmons
I opened a PR to fix this one.
I'll add some tests if it's acceptable.

But I don't know why currentUserPoolUser() have to swallow all errors except the following two?
[code]

[2019-10-29 02:13] Amplifiyer commented on #4259
@itsgitz @adamsythe, can you please post your error messages and code samples here that is causing the issue? Please also verify the unstable version of aws-amplify packages you are consuming in the node_modules folder.

[2019-10-29 02:13] thundermiracle opened #4282 "Unable to compile project in Windows"
**Describe the bug**
Unable to compile the project in Windows10 by following the [wiki]((https://github.com/aws-amplify/amplify-js/wiki/Local-Development) ).

As Windows file system's slash is \\ instead of /.

**To Reproduce**
run ```yarn && yarn build``` in Windows10.

**Expected behavior**
Able to compile and test in Windows system.

**Desktop (please complete the following information):**

- O

[2019-10-29 02:49] itsgitz commented on #4259
@Amplifiyer for now, there's no problem with S3 but I got this error/warning messages, `and` I can't publish message using MQTT:
![ss](https://user-images.githubusercontent.com/20938898/67733314-995e9e80-fa30-11e9-8fd0-ecad3b418cbb.png)

And this is my sample codes:
[code]

I'm using `"aws-amplify": "^1.2.4-unstable.5"`.

Thank you :)

[2019-10-29 04:07] usmansbk commented on #4260
I solved it by using [custom storage](https://aws-amplify.github.io/docs/js/authentication#managing-security-tokens)
[code]

[2019-10-29 04:07] #4260 closed

[2019-10-29 04:14] usmansbk commented on #4272
@alisherakb  you can configure a [custom storage](https://aws-amplify.github.io/docs/js/authentication#managing-security-tokens). It's quite easy
[code]

[2019-10-29 05:32] mdw2000 opened #4283 "JS.browserOrNode() causes Amplify.configure() to fail on Lambda"
The `JS.browserOrNode()` function from `@aws-amplify/core` does not return the correct `isNode` value when executing on AWS Lambda, which causes the `Amplify.configure(config)` function to fail.  Ultimately any use of the API (e.g. query or mutation) returns the `API not configured` error.

This only happens only when executed on AWS Lambda, when running locally on `node 10` it executes correctly.

[2019-10-29 07:40] adamsythe commented on #4259
^1.2.4-unstable.5 seems to be working from me but surely this should stay live at least until the fix goes into an official release?

[2019-10-29 07:44] joakimDiginex commented on #3435
We are struggling hard with this issue and might need to leave Cognito altogether if not solved. As mentioned before, this is a security issue and mentioned in OWASP ASVS etc. Will not pass general security audits.

[2019-10-29 08:27] anarerdene commented on #4268
hi @Amplifiyer ,

im using stable 1.2.3 and 1.2.4-unstable.5. But still window not working error.

[2019-10-29 09:39] michalgarcarz commented on #4244
Have the same challenges as @dahersoftware.
For react it's easy to use Amplify to authenticate via Facebook/Google, for react native extremely challenging (and probably it never worked). Documentation: i do really appreciate had work all of you here, but still it's is a mess - takes a lot of time to even understand what is and what is not supported.

I use the following code:

`export default func

[2019-10-29 09:59] anarerdene commented on #4243
Any update? or Any quick solution ?

[2019-10-29 10:16] EugeneDraitsev opened #4284 "Object is not a constructor evaluating new MobileAnalytics"
**Describe the bug**
AWS.configure throws an error

**To Reproduce**
Steps to reproduce the behaviour:

1.  configure Amplify for Auth and Analytics

[code]

2. You'll get error
[code]
-- or --

Link to sample code

**Expected behavior**
Everything should works fine

**Smartphone (please complete the following information):**

- Device: Samsung S8 (rn-app)
- OS: Android 9
- Browser react-native

*

[2019-10-29 10:34] alisherakb commented on #4272
@usmansbk Thanks for the suggestion. I copied your code snippet to App.js and created custom Storage class and received this error:
<img width="347" alt="Screenshot 2019-10-29 at 12 32 50" src="https://user-images.githubusercontent.com/26904008/67759503-3a0c8880-fa48-11e9-8c0e-2df82e71f4ec.png">

Here is the gist with custom storage class:
https://gist.github.com/alisherakb/1d5f51f3673806e429f36cb

[2019-10-29 11:37] usmansbk commented on #4272
@alisherakb  did you call `Auth.configure` at startup?

[2019-10-29 12:12] alisherakb commented on #4272
@usmansbk Yes, I’ve added Auth.configure with custom storage within it right below Amplify.configure.

[2019-10-29 12:14] damien-monni commented on #4243
Confirmed working using @aws-amplify/auth@^1.4.4-unstable.5.

[2019-10-29 12:51] laclance opened #4285 "Authenticator component not applying usernameAttributes when signUpConfig is the last parameter"
This works as expected (email replaces username)
[code]

This does work (username is still displayed)
[code]

- OS: Windows 10
- Browser: chrome
- Version: [e.g. 22]

- React 16.10.2
- aws-amplify 1.1.36
- aws-amplify-react 2.3.12

[2019-10-29 13:06] anarerdene commented on #4243
[code]

Window Not Defined
node_modules/aws-amplify-react/dist/aws-amplify-react.js:10:4

[2019-10-29 13:13] damien-monni commented on #4243
Actually it is not with @aws-amplify/auth@^1.4.4-unstable.5.

Auth.configure() throws an Error server side: Not supported from urlListener:

https://github.com/aws-amplify/amplify-js/blob/c28851a6379f3ba05c4fef529bb5be7f18ebe316/packages/auth/src/urlListener.ts#L24

If I copy the JS.browserOrNode() function in my code and execute it server side it works, so I guess this is broke in build step.

[2019-10-29 13:31] EugeneDraitsev commented on #4284
Looks like it related to #4261 and works fine with `1.2.4-unstable.5`, so maybe it's already fixed

[2019-10-29 13:31] #4284 closed

[2019-10-29 13:40] JamieLivi commented on #4272
This is what finally worked for me in my App.tsx -

[https://gist.github.com/JamieLivi/fc14460735b49b291fd62862df432752](url)

With the following in package.json:

    "amazon-cognito-identity-js": "^3.1.3",
    "aws-amplify": "^1.2.3",
    "aws-amplify-react-native": "^2.2.3",
    "aws-appsync": "^2.0.1",
    "aws-appsync-react": "^2.0.1",

Hope this helps mate, was stuck on this for fracking age

[2019-10-29 14:16] davidbiller opened #4286 "AppSync Subscriptions: Object is not a constructor - new Observable"
**Describe the bug**
If i set subscriptions, i get this error:

![Simulator Screen Shot - iPhone 11 - 2019-10-29 at 14 59 27](https://user-images.githubusercontent.com/7137361/67775158-ce81e580-fa5e-11e9-9b29-3e7120933797.png)

[code]

[code]

[code]

[2019-10-29 15:54] groundswel commented on #760
What if you don't want to use amplify , then after you use hosted ui to login , in the next page how do you retrieve the signed in user tokens/ids etc?

[2019-10-29 16:23] SupraDonkey commented on #760
If you are using js I did by using a document ready function on the callback URL page:
`const hashObj = window.location.hash.replace('#', '').split('&').reduce((prev, item) => {
   return Object.assign({[item.split('=')[0]]: item.split('=')[1]}, prev);
}, {});`
check for error:
`if(hashObj.error){...`
else
AccessToken: `hashObj.access_token`
IdToken: `hashObj.id_token`

Then you can use those to a

[2019-10-29 16:50] vincekd opened #4287 "Kinesis Firehose"
** Which Category is your question related to? **
Analytics
** What AWS Services are you utilizing? **
Cognito, Kinesis
** Provide additional details e.g. code snippets **
versions:
[code]

I'm attempting to send user analytics to a firehose stream from an angular app (running in a browser). However, after creating/setting the IAM policy and configuring amplify, I get the following error in the co

[2019-10-29 17:00] groundswel commented on #760
Thank you but I was wondering if the hosted UI saves the Cognito id/token and other information somewhere in local storage?

[2019-10-29 17:13] usmansbk commented on #4272
@alisherakb you should try the unstable versions. That's the version I'm using.

[2019-10-29 17:15] rainflute commented on #4261
@usmansbk Can you please show us how to pull the unstable branch with npm install?

[2019-10-29 17:19] usmansbk commented on #4261
`yarn add aws-amplify@1.2.4-unstable.5` or `npm install aws-amplify@1.2.4-unstable.5`

[2019-10-29 17:36] SupraDonkey commented on #760
No you would need to do that, I stored it in cookies

[2019-10-29 17:45] Zillaine commented on #4286
I have same problem, could be "aws-amplify" version? (1.2.3) Was updated recently.

[2019-10-29 17:46] nirmay opened #4288 "Can't find variable: window - aws-amplify-angular with nativescript"
**Describe the bug**
I have a simple nativescript app that I am now migrating to use Amplify (auth, storage, interactions). I am following the docs for aws-amplify-angular for angular+nativescript project I am working on.
As the 'aws-amplify-angular' module is loaded, I see following error:

JavaScript error:
file:///node_modules/aws-amplify-angular/dist/src/components/interactions/chatbot/aws-lex

[2019-10-29 17:47] jordanranz commented on #4287
Hey @vincekd,

Kinesis Firehose is currently not supported in Amplify JS. There is however a PR open for adding support. Here is the PR: https://github.com/aws-amplify/amplify-js/pull/2823

I'll sync with the team to understand what is needed to get this merged in.

[2019-10-29 17:57] jordanranz commented on #4285
Hi @laclance,

Can you link the documentation that you followed that highlighted the use of `usernameAttributes` as the last parameter?

[2019-10-29 18:10] SupraDonkey commented on #760
Think about it, how would Cognito have access to your local storage? Kinda dangerous no?

The key is the callback URL, it sends the results to it which allows you to do whatever you want with the results. I moved away from the hosted UI because it wasnt flexible enough for me and built my own screens and use Cognito to authenticate against, so if you think about it that way, Cognito hosted UI is j

[2019-10-29 18:36] anarerdene commented on #4243
its 404 error ?

![image](https://user-images.githubusercontent.com/2210568/67798148-f2c0df00-fabd-11e9-8400-2d1a6507be22.png)

[2019-10-29 18:57] rainflute commented on #4261
Thanks. It's working now. This bug got me so frustrated for the last two days. I thought it was something wrong with my AWS setup

[2019-10-29 19:23] saqibameen commented on #3123
@haverchuck @undefobj is there any update on this feature request? @marcschroeter how did you implement this feature? I'm looking forward to doing the same.

Is there a way we can use AWS Amplify' `Sign Up` and `Complete new password` methods to achieve the same thing? The issue here is, sign up will set an actual password instead of a temporary one, and I'll never be able to get `NEW_PASSWORD_REQ

[2019-10-29 19:30] alisherakb commented on #4272
@usmansbk I changed dependencies to unstable ones:
[code]

 **But the situation hasn't changed for me**

[2019-10-29 19:52] jordanranz commented on #4288
Amplify JS does not currently support NativeScript. The following issue is tracking this as a feature request: https://github.com/aws-amplify/amplify-js/issues/1035

I will close this issue in favor of the feature request above.

[2019-10-29 19:52] #4288 closed

[2019-10-29 19:55] jordanranz commented on #3786
Closing due to inactivity and a fix has been released.

[2019-10-29 19:55] #3786 closed

[2019-10-29 20:38] michalgarcarz opened #4290 "React Native Auth: sign up with mobile as username fails on Android"
**Describe the bug**
Using default authentication with cognito with option:
How do you want users to be able to sign in? Phone Number
When creating account and providing text instead of phone number on IOS we have a nice error message, on Android simulator / phone we have nothing, end user does not know why account creation does not work.

**To Reproduce**
It's easy:
1. Deploy new react native pro

[2019-10-29 21:40] michalgarcarz opened #4291 "Auth: Cognito UI - lock mobile phone number for a single country"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **
It's react native app with amplify and cognito user pools. I am using mobile for login and also verification (SMS text message). I would like to lock mobile phone numbers to a single/specific country, so those are not sent to any country (use

[2019-10-29 21:52] achaphiv commented on #4243
@Amplifiyer yep, it works for me.

Just using this one `aws-amplify` related dependency:

[code]

[2019-10-29 21:56] michalgarcarz commented on #4273
Great, thanks, what would be the workaround in the meantime ?
Since Storage is unusable i wanted to:
1. Use Auth.currentCredentials() and get identity aws credentials for my currently logged in Cognito user
2. Get access+secret key from result of #1 and use it with https://www.npmjs.com/package/react-native-s3-upload to upload securely images to S3. Would that work ? Any other recommendation ?

Th

[2019-10-29 22:39] vincekd commented on #4287
Hi Jordan,

Thanks for the response. What's the recommended way to use firehose in the meantime?

[2019-10-29 23:26] Amplifiyer commented on #4243
@anarerdene, we have released a new stable release, please try that and let us know if that works for you. If not, feel free to open a new issue with more details.

[2019-10-29 23:27] Amplifiyer commented on #4286
@davidbiller this has been fixed in the new stable release, please try and let us know if that works.

[2019-10-29 23:30] Amplifiyer commented on #4259
The fix has reached into a stable release. @adamsythe, github automatically closes the issue when tagged with `fixes` directive, and our master commits go to unstable release (automatically) but not to stable releases

[2019-10-30 00:44] #4222 closed

[2019-10-30 00:57] amburt05 commented on #3537
Is there really zero feedback from the AWS team on this? We're trying to do some testing and are getting ready to just drop AWS cognito. This is kind of ridiculous. Do they just open source the stuff they just don't feel like dealing with?

[2019-10-30 01:40] alexandermontgomery commented on #991
@ronkot - did this work even if they have not confirmed?

[2019-10-30 02:08] itsgitz commented on #4259
@Amplifiyer thanks! It solved with latest stable version `"aws-amplify": "^1.2.4"`

[2019-10-30 03:03] orcunorcun commented on #1734
Same issue with
[code]

[2019-10-30 03:06] orcunorcun commented on #1734
with "aws-amplify": "1.2.3-unstable.0", working well!

[2019-10-30 04:47] DanielMuller commented on #3598
I was able to make it work by using `v-model` and `v-on:input` based on this [comment](https://github.com/vuejs/vue/issues/8231#issuecomment-416585972).
Tested it on Chrome-Android, and Chrome Desktop. I will push a PR soon.

[2019-10-30 06:48] oliverandersencox commented on #3537
@amburt05 I've been trying to get as response on this and other posts for weeks now.

check this - https://github.com/aws-amplify/amplify-js/issues/3279

But to me it doesnt answer whether it will work with Ionic on device

[2019-10-30 07:39] ckieran commented on #4100
would it be better for you to authenticate direct to Azure AD rather than via cognito?  Do you have a requirement to use cognito to act as an intermediary user store?  eg are you adding custom claims to your users once they are added to the cognito user pool via AD authentication?  If not then removing cognito from the mix might clear things up a bit.

Azure AD seems to support OAuth2 authenticati

[2019-10-30 07:46] michalgarcarz opened #4293 "React Native Hooks - Auth SignIn customisation form - supported ?"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito and react native app with hooks
** Provide additional details e.g. code snippets **

In my react native apps with hooks (function based) i already customise UI stylesheet (theme). Now i wanted to customise fields displayed on signUp form:

[code]
After adding "[{signUpConfig}]" as argument (la

[2019-10-30 08:22] vgaltes commented on #3732
I´m having the same issue. I can´t get the custom scopes back using Amplify, I only get them back using the custom UI.

[2019-10-30 08:49] lissau commented on #1734
Getting same error message as @orcunorcun with

`"amazon-cognito-identity-js": "^3.0.15",
    "aws-amplify": "^1.2.4",
    "aws-amplify-react-native": "^2.2.3",
    "react": "16.8.6",
    "react-native": "0.60.5",
`

[2019-10-30 09:06] anarerdene commented on #4243
@Amplifiyer , i installed new versions of Amplify and Amplify React. Window Not Defined Error is gone.

and now **"navigator is not defined"**
[code]

[2019-10-30 09:30] davidbiller commented on #4286
Good Work :)

[2019-10-30 09:30] #4286 closed

[2019-10-30 09:56] lissau commented on #1734
version 1.2.3-unstable.0 works.

1.2.4 does not have the folder "@aws-amplify/pubsub/lib/vendor/"

[2019-10-30 10:03] michalgarcarz opened #4294 "AppSync with AWS_IAM Authorization support"
**Is your feature request related to a problem? Please describe.**
If my understanding is correct currently Amplify does not support AppSync with auth model AWS_IAM Authorization. The most commonly used is with Cognito User Pool.
That is causing limitations especially when working with federated identities (facebook, google).

**Describe the solution you'd like**
When "amplify add api" for graphql

[2019-10-30 10:19] ronkot commented on #991
@alexandermontgomery no, cognito user has to be confirmed to be able to sign in. In fact we have a verify email flow between `Auth.signUp()` and `Auth.signIn()` calls, but we preserve the password in application state so that after email verification we can sign in the user automatically.

Also, if you happen to be using cognito auto confirm trigger, you could use the code above as-is.

[2019-10-30 11:02] davidbiller commented on #3268
In the stable rls i get this error when the phone is online too.
And wihtout a custom event tracking code.
So i guess it is the session start track from amplify itself

[2019-10-30 11:32] davidbiller opened #4295 "Pinpoint CredentialsError when user not logged in"
I get this error:
![Simulator Screen Shot - iPhone 11 - 2019-10-30 at 12 14 31](https://user-images.githubusercontent.com/7137361/67853467-e3b64d00-fb0e-11e9-8a4c-f5bd1517b465.png)

So i am on the last stable version of
 "aws-amplify": "^1.2.4",
 "aws-amplify-react-native": "^2.2.3",

I had this error 6 months ago, there, this message throws only if i was offline.
So a check if the phone is offlin

[2019-10-30 12:26] syl20lego commented on #833
This might help... you can configure it to use the IdToken JWT when defining your API endpoint

`
API: {
		endpoints: [
			{
				name,
				endpoint,
				custom_header: async () => {
          // With Cognito User Pools use this:
          return { Authorization: `Bearer ${(await Auth.currentSession()).getIdToken().getJwtToken()}` }
        }
			}
		]
	}
`

[2019-10-30 14:01] dahersoftware commented on #4244
@undefobj  Any update on this.

[2019-10-30 15:51] alexandermontgomery commented on #991
Thank you @ronkot - that was my plan (preserving the password state in the application). Thanks for the tip on auto-confirm.

[2019-10-30 16:37] mllrmat commented on #3422
Is there any progress on this issue?

[2019-10-30 16:51] sammartinez commented on #3615
This issue is resolved. Closing issue as fix is completed.

[2019-10-30 16:51] #3615 closed

[2019-10-30 17:03] walter-scott opened #4298 "Removing Elastic Search with @searchable tag"
When building my API, I set up some models to be searchable by using the @searchable tag. However, even though I am not using the functionality, the Elastic Search costs are really hurting me.

If I remove the searchable tag and do an amplify push, should that take care of everything, or do I need to also do something inside AWS to stop being charged?

[2019-10-30 17:11] davidbiller opened #4299 "Can't reexport the named export 'BREAK' from non EcmaScript module"
[code]

I saw this old issue:
https://github.com/aws-amplify/amplify-js/issues/761

So i tried this with the last expo web version.

So should it be fixed here or on expo side?

So i can see that mjs files are allowed at expo webpack config.
https://github.com/expo/expo-cli/pull/1075

[2019-10-30 17:54] groundswel commented on #760
I don't think I was referring to Cognito having access to local storage but the cognito-sdk having access to local storage to save the id/token from the hosted UI in a well known key value pair so that it is available for later pages in the application to use it. But since you explained it I think it is pretty clear that this cannot be done by hosted UI as the URI is being redirected to the callba

[2019-10-30 17:59] SupraDonkey commented on #760
Without saving it yourself, you are correct. It would be the same no matter whether you use the hosted UI or not.
I had the same thought process as you are ;)

[2019-10-30 18:07] fzlrhmn opened #4300 "Amplify Auth error "null invocation failed due to configuration""
**Which Category is your question related to?**
Auth
**What AWS Services are you utilizing?**
Cognito
**Provide additional details e.g. code snippets**
I am trying to use Auth signin with `aws-exports` configuration. This code is based on the [docs](https://aws-amplify.github.io/docs/js/authentication#configure-your-app)

[code]

I got this error from the code above.
[code]

I am not sure what has

[2019-10-30 18:20] sammartinez commented on #4273
@michalgarcarz We did do a release yesterday `1.2.4` now has this change. Please let us know if you are still experiencing this issue with the latest version released.

[2019-10-30 18:23] michalgarcarz commented on #4244
just a side note, since this part of Amplify code seems to be broken (or i am unable to use it correctly) i have started to use expo:
[code]
And after that i use Amplify:
[code]
Not everything yet works for me, but i have some progress, will post working code once i have it.

[2019-10-30 19:35] lambda0xff commented on #4243
Running a Nuxt Js app with the latest aws-amplify ("aws-amplify": "^1.2.4") I also get the "navigator is not defined" error.

In addition, there's a new Typescript issue; launching the app gives me the following in the console:
[code]

After yarn add @types/graphql and adding `declare module 'graphql/language/ast'` to a typescript definition file, I get:
[code]
Related to #2362 ?

[2019-10-30 20:05] haverchuck commented on #4300
@fzlrhmn  It looks like you aren't passing in a password to the signIn function. Are you trying to attempt passwordless login?  If so, how are you attempting this?  If not, have you tried passing in a password?

[2019-10-30 20:05] sammartinez commented on #4283
@mdw2000 Amplify doesn't officially support NodeJS, however, we did find a [bug](https://github.com/aws-amplify/amplify-js/pull/4255) where customers were experiencing issues with their node environments and was resolved last week in our unstable versions and release was done yesterday, version `1.2.4`. Please let us know if you are still experiencing this issue with the latest version of `aws-amp

[2019-10-30 20:09] sammartinez commented on #4259
Resolving as the [release](https://www.npmjs.com/package/aws-amplify/v/1.2.4) was completed yesterday as @Amplifiyer called out. Please feel free to reopen if you are still experiencing this issue.

[2019-10-30 20:09] #4259 closed

[2019-10-30 20:11] vgaltes opened #4301 "Having an error with federated auth and response type as code"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito and Google
** Provide additional details e.g. code snippets **
I'm trying to set up manually a federated auth with Cognito and Google, and to make a custom website for the authentication. If I set up my user pool with an implicit grant and I set up the amplify client with a `responseType="toke

[2019-10-30 20:15] sammartinez commented on #4277
Transferring to the CLI team, this may be better suited question for them

[2019-10-30 20:43] johnny-minty commented on #4272
The amplify documentation covers how to set the storage provider for AUTH (https://aws-amplify.github.io/docs/js/authentication#managing-security-tokens) and provides an example with ASYNC storage.

A short term fix for those affected should take that example but import "@react-native-community/async-storage" - there's no API changes between the old bundled DEP and the new community version.

Very

[2019-10-30 20:46] sammartinez commented on #3537
@oliverandersencox Apologize that we haven't replied on this issue. I did reference an open Pull Request (PR) for adding [federated sign in for Ionic and Angular.](https://github.com/aws-amplify/amplify-js/issues/2455). I am also seeing yourself comment on that Feature Request. We are following up with the person that cut the PR to see where it is at. I do want to know, can you provide the link to

[2019-10-30 21:05] sammartinez commented on #4301
@vgaltes Do you have a code snippet we can look at? Also, can you provide the versions of Amplify you are using?

[2019-10-30 21:24] vgaltes commented on #4301
Sure,

I'm configuring Amplify oath like this:
[code]
Auth version is 1.4.3, Core version is 1.2.3

[2019-10-30 22:06] sammartinez commented on #4282
@thundermiracle Thanks for cutting the PR with this as well! We will be taking a look at the PR and will get back to you as needed.

[2019-10-30 22:32] #3909 closed

[2019-10-30 22:32] #4174 closed

[2019-10-30 23:45] ashika01 commented on #4299
@davidbiller Looks like this is something to be handled in consumer webpack config file. https://github.com/graphql/graphql-js/issues/1272#issuecomment-377384574.

[2019-10-31 00:47] Juank628 commented on #3435
I'm facing the same problem. It's ridiculous!

[2019-10-31 03:25] undefobj commented on #3123
We have just released new functionality referenced in the RFC above which will allow you to accomplish this task. Please take a read here:

https://aws-amplify.github.io/docs/cli-toolchain/quickstart#group-management
https://aws-amplify.github.io/docs/cli-toolchain/quickstart#group-access-controls
https://aws-amplify.github.io/docs/cli-toolchain/quickstart#administrative-actions

For the OP @marcs

[2019-10-31 03:31] itsgitz commented on #1145
Any update for this issue? Currently I'm just using `fetch()` method from React Native for accessing the presigned URL and make sure that response is 404 if file doesn't exist.

[2019-10-31 03:48] shobhit09 opened #4302 "callback.associateSecretCode is not a function"
** Which Category is your question related to? **
amazon-cognito-identity-js
** What AWS Services are you utilizing? **
Cognito User Pool
** Provide additional details e.g. code snippets **
I am attempting to get TOTP MFA working with my User Pools.  I am running into the issue " callback.associateSecretCode is not a function" when calling associateSoftwareToken.

**Describe the bug**
MFA is set t

[2019-10-31 06:53] Nitheesh-u opened #4303 "Refresh token not working - "No current user""
Refresh token not working
version 1.2.4

[2019-10-31 07:16] #4299 closed

[2019-10-31 08:58] mllrmat commented on #3422
For all that having an issue with AsyncStorage and Amplify here is my workaround:

1. Implement your own storage class, that uses the community async storage:
[code]

2. Then use your storage class in the Auth configuration
[code]
or

[code]
3. Replace all AsyncStorage imports in your code with the community version.

Please note:
- Unfortunately the example in the documentation is very confusing

[2019-10-31 09:14] janoist1 commented on #1368
+1 🤷‍♂️

[2019-10-31 09:20] bonisb commented on #4287
@jordanranz I tried to merge this in for months... without any luck. However it's not even my PR, I kept it up to date, so it was mergeable. not anymore tho...

@vincekd It works if you send the events to Kinesis, and create a Firehose with a Kinesis source... that's the workaround

[2019-10-31 09:30] nitinkaveriappa commented on #3098
Will a cancel feature be added???

[2019-10-31 09:58] lvlrSajjad commented on #3422
@mllrmat just replace
[code]
with
[code]

[2019-10-31 10:12] artecoop opened #4306 "Amplify Auth and user's groups"
** Which Category is your question related to? **
Authentication via Cognito

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
Create a new project with amplify and add auth. Be sure to select cognito as authentication method. Once deployed with `amplify push` go to the Cognito console, select the newly created user pool and create a user and

[2019-10-31 10:16] kkushimoto commented on #2965
@elorzafe
Has there been any progress regarding this matter?

[2019-10-31 10:20] kkushimoto commented on #2965
@elorzafe
Has there been any progress regarding this issue?

[2019-10-31 12:05] michalgarcarz opened #4304 "GraphQL mutation with IAM auth from Cognito ID Pool with Google/Facebook"
** Which Category is your question related to? **
Auth

** What AWS Services are you utilizing? **
Cognito, AWS AppSync

** Provide additional details e.g. code snippets **
I do use Amplify Identity Pool with Facebook and Google. For authentication to Facebook + Google i do use expo modules (yes - it's react native for Android/IOS).

- once Facebook auth is success i do pass idToken to Auth.federa

[2019-10-31 13:14] sakhmedbayev opened #4305 "ReferenceError: navigator is not defined at Module../lib-esm/Providers/AWSPinpointProvider.js"
**Describe the bug**
I am using AWS Amplify with Next.js. It seems like yesterday everything worked as expected but today I started to receive the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

Here is a repo for reproduction https://github.com/sakhmedbayev/aws-amplify-navigator-is-not-defined

**Expected behavior**
Next.js app compiled as expected

<details>
  <summa

[2019-10-31 13:43] ricardoribas opened #4307 "NotConfirmedException instead of UserNotFoundException while login"
**Describe the bug**
Based on the documentation of [authentication module](https://aws-amplify.github.io/docs/js/authentication), if a user sign up with some attributes and didn't confirm the account, the next time he tries to login with wrong credentials, you should get an **UserNotFoundException** error instead of a **NotConfirmedException**.

**To Reproduce**
Steps to reproduce the behavior:
1.

[2019-10-31 14:04] ricardoribas commented on #3679
What about if the user tries to login with wrong credentials? I opened an issue with that:
https://github.com/aws-amplify/amplify-cli/issues/2657

[2019-10-31 14:48] dahersoftware commented on #4244
@michalgarcarz expo is okay but we don't use expo and as u said u still don't have working solution.
I am hoping someone put some helping hand here.

[2019-10-31 15:10] andy-edvalson commented on #2519
This bug is still present in Amplify.

[2019-10-31 15:26] tobon96 opened #4308 "Authentication problem: error=redirect_mismatch"
**Describe the bug**
I have a federated authentication with google. When the redirect urls are localhost there's no problem, even when I publish the project to cloudfront, but when I change the redirect urls to the one provided by cloudfront, everytime I try to login it keeps me sending to the same error page.

![image](https://user-images.githubusercontent.com/17577509/67960523-694a0380-fbc8-11e9

[2019-10-31 15:36] haverchuck commented on #4308
@tobon96 When you say you've changed the redirect URL, you mean that you've changed the 'Callback URL' in Cognito?

[2019-10-31 15:50] tobon96 commented on #4308
Yes, I changed the 'Callback URL' through the Amplify console. It just works in localhost.

[2019-10-31 16:14] sammartinez commented on #4306
In seeing the above callout, I am going to resolve this since you were able to resolve your issue.

[2019-10-31 16:14] #4306 closed

[2019-10-31 16:15] michalgarcarz commented on #4273
Yep, confirmed working fine with 1.2.4, thanks @sammartinez !

[2019-10-31 16:18] lambrospetrou commented on #1989
This has been open for more than a year now...Is it still in-progress since last January?

The library generates tens and sometimes hundreds of event submission requests (since half of them are the `OPTIONS` requests).

[2019-10-31 16:22] sammartinez commented on #4273
Absolutely ! Resolving this issue.

[2019-10-31 16:22] #4273 closed

[2019-10-31 16:26] iartemiev commented on #1989
@lambrospetrou there's a PR up that adds support for this (#4289). I'll let you know when it's merged

[2019-10-31 16:30] andy-edvalson commented on #642
Turns out, we found a pretty good workaround for this. The custom auth flow is a reasonable way to handle switching the phone_number_verified flag before a forgot password.

- Initiate your custom auth flow
- Respond with a challenge that allows the user to specify an action
- If the action indicates they forgot their password, set phone_number_verified to false
- If the action indicates they want

[2019-10-31 16:32] dubchoi opened #4309 "As of @aws-amplify/core@1.2.3, React Native-specific source files are not being used."
**Describe the bug**
Build system changes seem to have broken "React Native"-specific source files from being used.
For example, I can confirm https://github.com/aws-amplify/amplify-js/blob/master/packages/core/src/StorageHelper/index.ts (Incorrect) is being used instead of https://github.com/aws-amplify/amplify-js/blob/master/packages/core/src/StorageHelper/reactnative.ts (Correct)

Seems to affe

[2019-10-31 16:34] jordanranz commented on #4287
Hey @bonisb, apologies for the delay here. I'll make sure this is picked up and merged asap.

[2019-10-31 16:39] jordanranz commented on #3598
Awesome, will take a look now. Thanks for submitting a PR

[2019-10-31 18:22] jordanranz commented on #3598
Merged the fix. Please reopen a new issue if there are any related problems to this.

[2019-10-31 18:22] #3598 closed

[2019-10-31 18:44] ryanmalesic commented on #4305
Caused by importing from "aws-amplify" directly. I fixed by importing from "@amw-amplfy/whatever". I now get an error though from querying in getInitialProps. Adapter s coming back undefined from the config passed to dispatchRequest.

[2019-10-31 18:51] ryanmalesic opened #4311 "GraphQLError: adapter is not a function Next.js getInitialProps"
**Describe the bug**
GraphQLError: adapter is not a function
      at APIClass.<anonymous> (/Users/ryanmalesic/Projects/tdee-online/node_modules/@aws-amplify/api/dist/aws-amplify-api.js:5565:24)
      at step (/Users/ryanmalesic/Projects/tdee-online/node_modules/@aws-amplify/api/dist/aws-amplify-api.js:4733:19)
      at Object.throw (/Users/ryanmalesic/Projects/tdee-online/node_modules/@aws-amplif

[2019-10-31 18:58] Zillaine commented on #4040
@brimworks Do you know if this intends to be changed? Would help me a lot.

[2019-10-31 19:03] Jun711 opened #4312 "Occasional 504 and 403(service worker) errors when using Api with Signature V4"
**Describe the bug**
I am using `API.post('apiPath', path, init)` to sign requests with Signature V4 and send to an Edge optimized API endpoint created using API Gateway(AWS_IAM authorization).

When this error happens, the request ends up with 504 error. And on Chrome Network tab, the same request that has a gear next to it(I assume it is managed by a service worker) has 403 error.

For the same

[2019-10-31 19:26] jordanranz commented on #4282
Merged your PR. Thanks for contributing. Please open a new issue if you experience any related problems.

[2019-10-31 19:26] #4282 closed

[2019-10-31 19:37] jon144 opened #4313 "How do a reference the AppSync AppId in a Cloudformation Template"
** Which Category is your question related to? **
Cloudformation Template

** What AWS Services are you utilizing? **
AppSync, Lambda function that accesses a dynamoDB table generated by @model in GrpahQL

** Provide additional details e.g. code snippets **
Using Amplify CLI we used 'add function' to add a Lambda function.  That function needs to access a dynamoDB table so we added a resource stat

[2019-10-31 20:05] brimworks commented on #4040
@Zillaine I'm really not sure, but to overcome this problem, I've just been using my forked version of code :(.

[2019-10-31 20:48] ajhool opened #4314 "Added Auth with social providers using CLI, but federation providers do not show up in the Cognito dashboard"
**Describe the bug**
We would like to use federation with custom react components (no hosted UI). So, we configured Facebook, Amazon, and Google as explained, here:  https://aws-amplify.github.io/docs/js/cognito-hosted-ui-federated-identity#google-sign-in-instructions and we used Amplify cli to add Auth + social provider ids and tokens. However, auth is not working and when I navigate to AWS Conso

[2019-10-31 21:06] jordanranz commented on #3195
I believe this will be fixed by: https://github.com/aws-amplify/amplify-js/pull/4258

[2019-10-31 21:09] ajhool commented on #3436
The issue linked by @evbo suggests that the Implicit Grant flow is not suitable for SPAs due to this limitation from cognito:

Quoted from linked issue:

Does this imply that the Implicit Grant flow that Amplify provides is also subject to the same limitation and therefore should not be used for Single Page Applications?

[2019-10-31 21:14] nelsynelz opened #4315 "Auth Error: Amplify has not been configured correctly using Nuxt.js"
**Describe the bug**
The developer console is stating the below error, however this is NOT impacting any functionality. I am able to Sign In, Sign Up, Confirm Code, Fetch Current Authed User with no errors or issues.

[code]
Here is the output when enabling LOG_LEVEL = 'DEBUG':

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Create Nuxt.js project
2. Install and Manually Configure A

[2019-10-31 21:15] jordanranz commented on #3538
The original posted issue seems to have been solved here. Please open a new issue if you are experiencing any related problems.

[2019-10-31 21:15] #3538 closed

[2019-10-31 21:19] jordanranz commented on #3541
Hey @mattiLeBlanc, are you still experiencing this issue?

Also, is any part of this issue related to the Amplify library?

[2019-10-31 21:26] joebernard commented on #4245
I'm seeing the same issue on the emulator and device. Happens in debug and release mode. It also happens on device when the app is manually killed/restarted (vs reloaded by the CLI). This started occurring after I recently upgraded Amplify. I'm  not using redux. I have only tested on iOS.

[code]

[2019-10-31 21:27] jordanranz commented on #3550
@jmzwar, it looks like the original issue posted is solved correct?

@dineshmatta @iamdavidmartin, did you guys make any progress or are you guys still stuck?

[2019-10-31 21:42] Zillaine commented on #4040
@brimworks So I'll enjoy your version too, thanks for that :).

[2019-10-31 22:03] stdmn commented on #3912
I'm not sure if this is related, but I've noticed with multiple nested Connect components, I get inconsistent results from the child Connect subscriptions. The query is working but the subscription only receives a message intermittently.

A multiple-top-level subscription would be ideal (specifically for all mutations).

[2019-10-31 22:13] michalgarcarz opened #4316 "Storage upload progress callback not called"
** Which Category is your question related to? **
Storage
** What AWS Services are you utilizing? **
Storage
** Provide additional details e.g. code snippets **
This is react native app, i use Storage.put() to upload files which are ~500KB in size (and it takes 4-5 seconds to upload those). I have never seen callback function executed for progress, code:

[code]

Amplify 1.2.4.

When/how often sho

[2019-10-31 22:14] ryanmalesic commented on #4311
Doing more stack tracing, this seems to be an axios issue. I have put a discussion in there. I will close this if an axios fix can correct the issue

[2019-10-31 22:27] mbalex99 commented on #3584
@jordanranz 's fix totally worked for me!

The correct solution is either that the SDK should handle this or the documentation should make a disclaimer about this snippet of code.

[2019-11-01 00:10] mattiLeBlanc commented on #3541
@jordanranz  I haven't verified with the latest Amplify library. Has there been any update to the Graphql lib that could resolve this?

[2019-11-01 00:42] sakhmedbayev commented on #4305
@ryanmalesic when did you start observing this errors?

[2019-11-01 04:16] Amplifiyer commented on #4305
aws-amplify-analytics.js:38103:24 in the dist is `var BEACON_SUPPORTED = navigator && typeof navigator.sendBeacon === 'function'; // events buffer` Most likely related #4246

[2019-11-01 04:52] sakhmedbayev commented on #4305
Thanks @Amplifiyer! Is there a way to go around it?

[2019-11-01 05:10] #2417 closed

[2019-11-01 05:57] QuantJames commented on #4242
bump

[2019-11-01 06:12] Amplifiyer commented on #4307
@ricardoribas, what is the latest amplify version have you tried that failed with the same error? We have recently fixed this issue. Can you paste your package.json here?

[2019-11-01 07:30] ajhool opened #4318 "The documentation theme is hard to read and look at, light orange and white are not a great color combo."
**Is your feature request related to a problem? Please describe.**
The documentation is hard to read due to the theme (white text on light orange). Links are light orange on a white background.

**Describe the solution you'd like**
Not light orange. Dark orange. Dark blue, black, normal high-contrast documentation colors. The new scheme in the other AWS documentation is nice.

**Describe alternati

[2019-11-01 07:55] MJRuskin commented on #3431
If you want to delete these unlinked external/provider accounts, do the following:

- Recreate the original Cognito user account that they were linked to
- Disable the provider for this user (i.e. via the AWS CLI command _admin-disable-provider-for-user_)
- Both accounts can now be deleted successfully

[2019-11-01 08:11] ricardoribas commented on #4307
I am using the following amplify versions:
"amazon-cognito-identity-js": "^3.0.15",
"aws-amplify": "^1.2.4",
"aws-amplify-react-native": "^2.2.3

[2019-11-01 09:04] adgrace opened #4319 "Catch Error during federatedSignIn (handleAuthResponse) in Angular"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **

I am using Amplify within Angular.
I have implemented a pre-sign up hook that declines certain users. When this hook is triggered during the federatedSignIn flow it redirects to google/facebook and then on the return the url is:
http://local

[2019-11-01 10:39] vgaltes opened #4320 "Unable to make an authenticated call using OAuth scopes"
**Describe the bug**
I have a user pool configured with a resource server and using Google as federated identity provider. I'm able to login and make a call to a secured endpoint using the IdToken. But when I switch to AccessToken the call returns a 401.

**To Reproduce**
Create a User Pool using Google as federated identity provider.
Create a Resource Server there, in my case the identifier is pr

[2019-11-01 10:56] saikishored commented on #1067
It's been a long time since this thread is closed, but I could find a right solution in Cognito SDK.
You may use listUsers function to get user details:
let params = {
    UserPoolId: "eu-central-1_xxxxxxx",
    Filter: "email=\"abc@xyz.com\""
  };
cognito.listUsers(params,function(err,data){
// data object contains all the attributes of the user
}

Note: Filter can be of any other attributes in u

[2019-11-01 13:34] tomgreenwood1 commented on #4270
I am getting the same error. I added hosting via the amplify cli. When I serve the website on localhost it can authenticate, when I run amplify publish it can authenticate, but when I merge it onto a 'deploy' branch and push via the amplify console, I get

`{
  "errors" : [ {
    "errorType" : "UnauthorizedException",
    "message" : "Missing authorization header"
  } ]
}`

from appsync.

Also:  I

[2019-11-01 14:12] AlpacaGoesCrazy opened #4321 "callback.totpRequired is not a function"
**Describe the bug**
Authenticator crashes when user is trying to complete reset password with MFA enabled

**To Reproduce**
Steps to reproduce the behavior:

1. Has MFA enabled
2. Has `FORCE_CHANGE_PASSWORD` state
3. Using `withAuthenticator` from aws-amplify-react try to log in
4. Enter new password
5. Observe error

**Expected behavior**
MFA triggers after reseting password, and after entering

[2019-11-01 14:49] vincekd commented on #4287
@jordanranz is there a workaround that doesn't require paying for two aws services?

[2019-11-01 15:31] sakhmedbayev commented on #4305
@Amplifiyer, how can we move forward without waiting for the fix? Please advise. We now face the same error when using `withAuthenticator`

[2019-11-01 15:55] tomgreenwood1 commented on #4270
I am confirm that EgidioCaprino's answer from #3089 fixed the problem for me.

i.e. adding

`graphql_headers: async () => {
  const currentSession = await Auth.currentSession();
  return { Authorization: currentSession.getIdToken().getJwtToken() };
};`

into the awsconfig that's passed to Amplify.configure

[2019-11-01 16:10] #4232 closed

[2019-11-01 16:10] #4037 closed

[2019-11-01 16:25] jordanranz commented on #4291
If you are using Amplify React Native UI components, this is currently not supported. I will go ahead and add this to our React Native improvements backlog. PRs are welcome in the meantime.

[2019-11-01 17:01] iamdavidmartin commented on #3550
i'm not stuck. i'm using the hosted UI with Expo and that's a good option because the user doesn't leave the app - the auth browser window overlays the app and the user comes right back.

but, if i could make a wish, i would get rid of the hosted UI and have a tighter integration with the social login buttons. amplify has the nice withAuthenticator react-native component that allows a user to auth

[2019-11-01 17:38] #4305 closed

[2019-11-01 17:39] Amplifiyer commented on #4305
@sakhmedbayev, the fix has been merged to master and will be available through an unstable release shortly. You can use the unstable version of aws-amplify to test the fix while the fix reaches a stable version.

[2019-11-01 17:47] ncstrause opened #4322 "IE 11 - Avoid Caching of Storage.list Results"
** Which Category is your question related to? **
Storage
** What AWS Services are you utilizing? **
S3, Cognito, API Gateway
** Provide additional details e.g. code snippets **
aws-amplify version: 1.1.30

I'm trying to display a list of files that a user has uploaded to an S3 bucket under private for their identityId. I do this by calling Storage.list and displaying the results in a table. The u

[2019-11-01 18:01] jordanranz commented on #4293
Hey @michalgarcarz,

Can you try:
[code]

There seems to be a slight difference in the signature of the `withAuthenticator` for `react` and `react-native`.

[2019-11-01 18:01] sammartinez commented on #2638
@mmritesh Are you still having this issue with the latest version of Amplify? Please let us know.

[2019-11-01 18:04] Amplifiyer commented on #4307
@ricardoribas, I just tried and I was able to get the right exception with the same username and correct or incorrect password where the username was never confirmed.
[code]

Can you post your code samples and network request/responses for us to debug better? Please also enable **debug** logs in Amplify with https://aws-amplify.github.io/docs/js/logger and paste the logs here as well.

[2019-11-01 18:16] CactusFruit commented on #3876
@elorzafe Do you have any update on this issue? As far as I can tell this means that Cognito currently does not honor software 2FA. Should we switch all users to SMS 2FA in the interim until this security hole is filled?

[2019-11-01 18:30] sammartinez commented on #3590
@Benassou Do you have a code snippet you could share with us? We wanted to know if you are using the Authenticator component from `aws-amplify-react-native` or your own hand rolled component. But also wanted to double check if the workaround you found resolved this issue. Please let us know

[2019-11-01 18:39] dorontal commented on #165
This issue absolutely still exists exactly the same way it was in January, 2018. Why was it closed?

Here is the warning, in today's version of AWS Authenticator and Chromium version 76.0.3809.100:
  `[DOM] Password field is not contained in a form: (More info: https://goo.gl/9p2vKq)`.

Using NPM packages `aws-amplify` (version 1.2.4) and `aws-amplify-angular` (version 3.1.4).

[2019-11-01 19:00] ashika01 commented on #3568
@yukitaka13-1110 Could you confirm if you still have this issue.

[2019-11-01 19:10] #3389 closed

[2019-11-01 19:11] ajhool opened #4324 "Cognito Hosted UI code auth flow is both working and failing"
**Describe the bug**
When using the Cognito Hosted UI for login, the token is returned successfully and I am able to access the Cognito JWT to make calls to my external webservice amnd access the user's private storage. However, the Hub event is: `Object { event: "signIn_failure", data: TypeError, message: "The OAuth response flow failed"` which breaks our user state logic. In the Additional conte

[2019-11-01 19:23] ajhool commented on #3974
@schellack same, I never get notifications for amplify-js releases

[2019-11-01 21:04] ajhool opened #4325 "Convenience function to make private files public"
**Is your feature request related to a problem? Please describe.**
A common use-case is to have private files that are "published" and made to be public.

**Describe the solution you'd like**
I think the simplest way to do this with the aws-sdk is a client-side call to `s3.copyObject` where (altough, this would not gracefully handle interruptions). If these functions were added to Storage, the met

[2019-11-01 21:10] #4132 closed

[2019-11-01 21:57] jordanranz commented on #4303
Hey @Nitheesh-u, can you provide some sample code.

[2019-11-01 22:01] jordanranz commented on #4308
@tobon96, Amplify Console or Cognito Console?

[2019-11-01 22:02] ajhool opened #4326 "Pass "redirectUri" as a parameter to Auth.federatedSignIn"
**Is your feature request related to a problem? Please describe.**
Yes. There are several issues surrounding the current implementation of redirectUri. One of those issues is that you are permitted/encouraged to have multiple `redirectUris` when configuring Amplify in Amplify CLI. However, at runtime, Amplify fails when it tries to use multiple `redirectUris` in csv format.

Additionally, the redi

[2019-11-01 22:05] jordanranz commented on #4311
Hey @ryanmalesic, is there an issue open to track the axios discussion?

[2019-11-01 22:24] ryanmalesic commented on #4311
#https://github.com/axios/axios/issues/2507

[2019-11-02 02:10] dineshmatta commented on #3550
I'm too using hosted UI with Expo, so at this moment I am not blocked, but I agree with @iamdavidmartin that there should be tighter integration with social login buttons

[2019-11-02 04:14] twistapp opened #4328 "How to use camel case in GraphQL Schemas"
** Which Category is your question related to? **
GraphQL

** What AWS Services are you utilizing? **

AWS AppSync and Aurora Serverless

** Provide additional details e.g. code snippets **

Hello, I've executed the command `add-graphql-datasource` and connected to my existing Aurora Serverless. The generated schemas are using underscore, e.g:

[code]

My backend is using Serverless with Ruby (Rub

[2019-11-02 04:53] ajhool commented on #3365
In the meantime, a recommended approach for dynamically importing (webpack and/or next.js) individual libraries from the client would be appreciated immensely. Is @tuhinkarmakar  's approach really the best way to do it?

[2019-11-02 05:27] #3814 closed

[2019-11-02 08:06] fzlrhmn commented on #4300
It is solved, thanks all

[2019-11-02 08:06] #4300 closed

[2019-11-02 11:27] #3831 closed

[2019-11-02 15:29] mimeonline commented on #1857
Why is the issue is closed. The behavior is still present. I can't get a collection of items without the fix which is described in this thread.

[2019-11-02 16:16] tobon96 commented on #4308
Maybe I wasn't specific enough. Through the CLI, with amplify update auth, add/edit redirect urls.

[2019-11-02 17:46] furyozo commented on #2456
Hi, I am sure you fixed your issue in the meantime, but just in case anyone is looking for a solution to this problem, usually when you get this facebook "redirect failed" error, it is beacuse you have not added the URI you want to redirect to in facebook for developers > my apps > your app name > Facebook login > Settings > Valid OAuth Redirect URIs

[2019-11-02 18:45] ywongweb commented on #4025
I am bumping into the same problem, version 1.2.40, react native app

[2019-11-02 19:27] #3693 closed

[2019-11-02 20:36] ywongweb opened #4330 "User doesn't stay logged in when using federatedSignIn"
**Describe the bug**
On React Native, when using `federatedSignIn()` with Facebook or Amazon, I can sign in and if I call `Auth.currentAuthenticatedUser()` then I can see the sign in data. However when I refresh my app I am logged out again.

The same flow/setup works with react-web

**To Reproduce**
Steps to reproduce the behavior:

Init a react-native app `npx react-native init test`

Backend wa

[2019-11-02 22:54] ywongweb commented on #4330
nvm, this is a bug with RN async storage in >=0.60

Fixed it by assigning a custom storage.

[2019-11-02 22:54] #4330 closed

[2019-11-02 23:25] ChrisLFieldsII commented on #4309
I am noticing this problem as well. My project is now erroring out on a `Cache.setItem().then()` call in react-native and I noticed the BrowserStorage is used instead of AsyncStorage which returns a Promise.

[2019-11-03 04:41] rkeiii opened #4331 "amplify push fails in official AWS Amplify+AppSync+Athena sample app"
# Description
When running the AWS provided "Amplify+Appsync+Athena BigData Visualization" sample Amplify (via CloudFormation) gives a 404 error when running "amplify push" after initial run. I originally filed an AWS support (Case ID 6541224261) request and they directed me here after reviewing the issue.

# Link to AWS sample app that demonstrates the issue
https://github.com/aws-samples/aws-app

[2019-11-03 09:07] dabit3 commented on #364
@byennen I'm not sure about the answer to this one. cc @mlabieniec any ideas on how to accomplish this?

[2019-11-03 10:30] comfytoday opened #4332 "amplify function invoke using profile"
**Describe the bug**
`amplify function invoke <function name>`
command does not use the configured Amplify project **AWS profile** credentials.

**To Reproduce**
Steps to reproduce the behavior:

1. Setup Amplify project with explicit AWS profile
2. Create a lambda function using amplify add function
3. Test locally using `amplify function invoke`
4. Returns _AccessDeniedException_ (if the credent

[2019-11-03 13:45] apoorvmote opened #4333 "How to find if current user has Administrative Action access?"
**Is your feature request related to a problem? Please describe.**
I have implemented admin group for users. They have access to administrative actions. But to find out if the user has admin access I have to make request to AdminQueries API. When that fails I consider that this user doesn't have admin access. There is no other way to find out if the user has admin access or not. If that network re

[2019-11-03 17:23] crsepulv commented on #1218
as I read [here](https://alexbilbie.com/guide-to-oauth-2-grants/) is not safe to store refresh tokens on an SPA because all of the application code and storage is easily accessible.

What if I use code grant and delete the RefreshToken from the local storage and store it on the server? then, when the app whant to refresh the tokens, first it retrieve the refresh token, use it to refresh the other

[2019-11-03 18:23] rkeiii commented on #4331
AWS supported pointed out this was an issue with the sample project and not with Amplify itself (at least I don't think so at this point, it's all still somewhat confusing to me).

See pull request here for details: https://github.com/aws-samples/aws-appsync-visualization-with-athena-app/pull/3

[2019-11-03 18:23] #4331 closed

[2019-11-03 20:00] ffxsam commented on #4257
I would use TS function overloading to achieve smarter return values so we don't have to bother with typecasting:

See [example here](https://www.typescriptlang.org/play/index.html?ssl=1&ssc=1&pln=30&pc=1#code/JYOwLgpgTgZghgYwgAgIoFdoE8Cy6xxjAD2IA8gA5GkDOyA3gFDIvICOmUWAXMjWFFABzANzNWANziC4AIwA2EGgH5eAJQgJiUACYAefoJBCANMjggsAPjEBfRo1CRYiFAGV0smgkFUS5P1oGcRYaT29fahBeQ2ExVmQpGQUlVWQNLV0DAWEzC2s7Bxh0E

[2019-11-03 20:53] jkeys-ecg-nmsu commented on #4333
You can add an isAdmin attribute to the token and check that on the client. You'll need to scan your pool and update all users.

[2019-11-03 23:04] gmreburn commented on #3326
I am in the same situation. This is a defect or misleading in the documentation. I followed the amplify documentation for [custom claims](https://aws-amplify.github.io/docs/cli-toolchain/graphql?sdk=js#custom-claims) and used the [Pre Token Generation Lambda Trigger](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-lambda-pre-token-generation.html).

The lambda function adds the

[2019-11-04 00:03] mlabieniec commented on #364
This is working as intended e.g. returning the key not the URL. The key can be used to say, store into a database etc. whereas the url would/could be a signed/temporary url that could expire, so it would not be something you’d generally store but generate on the fly as above, hence returning the key from out, then needing to generate a url. We can take this as a feature request though and review,

[2019-11-04 01:00] adgrace commented on #3405
Hi,
I am experiencing the exact same issue with Angular.
Unhandled Promise rejection: _a is undefined ; Zone: <root> ; Task: Promise.then ; Value: TypeError: "_a is undefined"
    _handleAuthResponse Auth.js:1683

[2019-11-04 01:01] adgrace commented on #3405
Please can this be reopened

[2019-11-04 01:10] adgrace commented on #4004
+1 Experiencing same issue

[2019-11-04 01:10] undefobj commented on #4333
Instead of scanning the pool, one thing you could do is add the `isAdmin` attribute and edit the Lambda function which is invoked by the AdminQueries API so that whenever you add a user to your Admin group (or whatever you name the group) with `addUserToGroup` you also set that attribute to `TRUE`. You could also edit the route for `removeUserFromGroup` to set it to `FALSE` whenever someone is rem

[2019-11-04 03:18] keithkaikai commented on #4242
I am having the same issue

[2019-11-04 05:32] apoorvmote commented on #4333
I added custom attribute `isAdmin` from cognito console from aws website. Then I tried to register new user. Then exact error message was
`Attributes did not conform to the schema: isAdmin: Attribute does not exist in the schema.`
I am just trying to register new user with `isAdmin` false. Then next step would be to update lambda function for `addUserToGroup` and `removeUserGroup`

[2019-11-04 05:58] kevintechie commented on #3841
Would this issue cause data.signInUserSession of the "signIn" event to be null unless I put in a timeout before trying to access it?

[2019-11-04 06:37] jkeys-ecg-nmsu commented on #4333
Can you post your sign up attributes code? My guess is you're missing the `custom:` prefix.

[2019-11-04 07:12] satishmolletipipra commented on #3248
Hi,
Anybody can help us on this blocker.

[2019-11-04 08:24] apoorvmote commented on #4333
You were right I didn't add `custom:` prefix because I didn't know about it. I added it and now I am getting currentAuthenticatedUser with `custom:isAdmin` attribute.

Now let me tamper with lambda. I choose Amplify because I don't know Node Express. But I will have to take a shot at this.

[2019-11-04 10:54] perunthagai-memorang commented on #4274
@jordanranz  It would be great if we can catch this error in Hub.listen.
Our Hub.listen code is as follows

[code]

[2019-11-04 12:43] StevieWag opened #4334 "API.service.ts is not updated after schema.graphql changes in Angular App"
**Describe the bug**
I am using AWS Amplify API with GraphQL and Appsync within an Angular 8 application.

After creating a new type in my schema.graphql file, my Amplify files (e.g. API.service.ts, mutations.ts, queries.ts, subscriptions.ts) are no longer updated.

**To Reproduce**
Steps to reproduce the behavior:

1. Update amplify/backend/api/YOURPROJECT/schema.graphql
2. amplify push
3. Affirm

[2019-11-04 13:07] blomm opened #4335 "create custom authorizer within CLI - manually created authorizer will be overwritten"
**Is your feature request related to a problem? Please describe.**

Yes, I am unable to configure a custom authorizer (cognito) with the CLI, and also unable to use the CLI to set my api gateway to use COGNITO_USER_POOLS

**Describe the solution you'd like**
something similar to the suggestion in this closed (inactivity) issue:
https://github.com/aws-amplify/amplify-js/issues/1702

Authorizer:

[2019-11-04 14:19] olavocarvlho opened #4336 "Ionic React + AWS Amplify"

[2019-11-04 14:19] #4336 closed

[2019-11-04 15:06] olavocarvlho opened #4337 "AWS Amplify + Ionic React + Push Notification"
** Which Category is your question related to? **
Push
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **
Is that possible to integrate aws amplify with ionic react to use push notifications?

[2019-11-04 16:01] iamstratos opened #4338 "Authenticator Form is not accessible"
**Describe the bug**
The links in the React's Authenticator form are not accessible. The user cannot navigate in the form links using the keyboard's `tab` button.
For example, on the Sign In, the links `Reset password` or `Create account` are not accessible.

**Expected behavior**
The user should be able to access all the links in the form with the `tab` button.

**Screenshots**
<img width="500" a

[2019-11-04 16:21] kneekey23 commented on #3958
hey @matapo just use storage to upload your image to s3 first. Example [here](https://github.com/kneekey23/WebSummitPredictions/blob/master/screens/IdentifyScreen.js)

[2019-11-04 16:29] matapo commented on #3958
I am using this at the moment. However, I would like to avoid this extra step.

[2019-11-04 17:36] blomm opened #4339 "Ability to delete a single resource (ideally by "resource name")"
**Is your feature request related to a problem? Please describe.**
I've just run amplify delete and deleted all resources in my environment (it did warn me)

**Describe the solution you'd like**
What i really would have liked to do was delete a single api-gateway or storage or lambda

**Describe alternatives you've considered**
I ran amplify delete, but this clearly isn't what I was looking for.

[2019-11-04 17:51] perunthagai-memorang commented on #4004
+1 Experiencing same issue

[2019-11-04 18:53] ericclemmons commented on #3594
Closed via #4281.  Please let us know if this issue isn't resolved.

[2019-11-04 18:53] #3594 closed

[2019-11-04 22:55] ericclemmons commented on #3730
Hi @malcomm,

I'm also looking into this.  Thanks for your clear synopsis from above:

There was a recent CLI update that improves group management (https://aws-amplify.github.io/docs/cli-toolchain/quickstart#group-management and this example:  https://aws-amplify.github.io/docs/cli-toolchain/quickstart#administrative-actions), but you're right: the server should be restricting that resource befor

[2019-11-05 00:11] Ashish5591 commented on #4337
As of right now amplify-js supports push notifications for react native only.

However if you think this is a feature we should support, you can open a  [feature request](https://github.com/aws-amplify/amplify-js/issues/new?assignees=&labels=feature-request&template=feature_request.md&title=) for it using the template provided. This will allow people from the community to weigh in as well and we c

[2019-11-05 00:19] Ashish5591 commented on #4338
Hi

Could you share which framework's authenticator component you encountered this issue with (eg. React, Angular)?

[2019-11-05 00:31] Ashish5591 commented on #4318
@nikhil-dabhade Some feedback to consider when updating the docs site.

[2019-11-05 00:36] #3492 closed

[2019-11-05 01:30] ntegral commented on #2388
If you are looking to use Angular Universal with AWS Cognito you can check out ngx-amplify @https://www.npmjs.com/package/ngx-amplify

[2019-11-05 01:30] ntegral commented on #1714
@thomasmichaelwallace  If you are looking to use Angular Universal with AWS Cognito you can check out ngx-amplify @https://www.npmjs.com/package/ngx-amplify

[2019-11-05 01:57] #4309 closed

[2019-11-05 03:14] lackmannicholas commented on #925
@kbitgood I suggest looking into the custom storage option that aws-amplify provides. It's a little hidden in their docs, but essentially you pass amplify a Storage class where you can implement your own custom logic. You can store the tokens literally anywhere you want as long as you tell amplify where to get it.

AWS' example:
[Custom Security Tokens](https://aws-amplify.github.io/docs/js/authen

[2019-11-05 06:51] jskrt opened #4341 "Seeing JS Heap & Listeners Go Up While GraphQL Subscription is Running"
** Which Category is your question related to? **
API (GraphQL)
** What AWS Services are you utilizing? **
AWS AppSync
** Provide additional details e.g. code snippets **
I have a basic subscription running on a mutation in my GraphQL API (defined through Amplify). Over a few subscription updates, the app becomes slow, heap usage continually increases (along with listeners) and eventually subscrip

[2019-11-05 07:19] satishmolletipipra opened #4342 "Duplicate identifier 'Subscriber'"
Am getting duplicate identifier subscriber issue from past 2 weeks.

![error](https://user-images.githubusercontent.com/52817363/68186536-66854f00-ffca-11e9-98ae-06632f83c2a3.png)

Package.json.

[code]
We gone through https://github.com/aws-amplify/amplify-js/issues/3248 issue and updated the comment but i did't get any reply on that.

[2019-11-05 07:28] #4341 closed

[2019-11-05 07:32] lambda0xff commented on #4243
@Amplifiyer shouldn't this issue be reopened ?

[2019-11-05 08:14] ashish-dirkmedia-de commented on #4180
Used the directive way to resolve the issue

[2019-11-05 08:14] #4180 closed

[2019-11-05 08:49] iamstratos commented on #4338
Hey, I'm using React!

[2019-11-05 10:13] Sleavely opened #4343 "Add documentation"
Looking at a project's dependencies and realizing that it uses the `amazon-cognito-identity-js` package as opposed to the more common `aws-sdk`.

Eventually, I end up on the npm page, where the 32 arbitrary copy-pasta samples in the README seem old enough to drink, but I want to know what namespaces there are and what arguments the various constructors and methods actually accept, so I search for

[2019-11-05 12:07] nghabaoduy commented on #3682
Anyone have this issue?

Downloading dependencies
Installing JKBigInteger2 (0.0.5)

[!] Error installing JKBigInteger2
[!] /usr/bin/git clone https://github.com/astruts/JKBigInteger.git /var/folders/4c/prj_vdcs0ln44y4sxdp_vp300000gp/T/d20191105-23642-e4nnc1 --template= --single-branch --depth 1 --branch 0.0.5

Cloning into '/var/folders/4c/prj_vdcs0ln44y4sxdp_vp300000gp/T/d20191105-23642-e4nnc1'..

[2019-11-05 13:53] davedega commented on #1852
+1

[2019-11-05 16:02] ashish-dirkmedia-de opened #4344 "Confirm code page"
I am using angular 6 aws-amplify-angular for auth
When I signup without entering verify code. And when try to login it says error user not verified. How can I show the verify code page. So that in case he misses entering verify code at signup can enter.

[2019-11-05 16:10] chrisj-skinner opened #4345 "ERROR in node_modules/@aws-amplify/analytics/lib-esm/Analytics.d.ts(50,46): error TS2304: Cannot find name 'unknown'"
**Describe the bug**
Following docs here: https://aws-amplify.github.io/docs/js/angular#option-1-configuring-the-amplify-provider-with-every-amplify-js-module

Including Amplify to main.ts results in a build error:
[code]

**To Reproduce**
`ng serve` on angular cli build

**Expected behavior**
The app to compile

**Screenshots**
![image](https://user-images.githubusercontent.com/5794048/68224510-a

[2019-11-05 16:14] lafiosca commented on #3422
One thing I don't understand just looking at this file: is there some logic elsewhere that clears `syncPromise`, or can the `sync` method effectively only ever be used once?

[2019-11-05 16:36] SidneyNiccolson opened #4346 "Amplify auth signIn throws Cors error on Microsoft Edge"
**Describe the bug**
On Microsoft edge version v42.x to 44.x with Amplify v1.1.38 I seem to get the following error:

"The origin 'https://mydomain.com' used the maximum Access-Control-Max-Age value of '172800' as the provided value exceeded this for a cross-origin request to 'https://cognito-identity.eu-west-2.amazonaws.com/'."

The log-in afterwards seem to work, however with a latency of a few

[2019-11-05 17:20] pbirsinger commented on #4342
Also getting this.

Edit: ran

[code]

Then ran `npm --save uninstall @types/zen-observable` to fix. Not sure how that got there

[2019-11-05 17:25] ericclemmons commented on #3730
@malcomm I've learned that the downstream services are just doing signing validation of the access token, not checking permissions.

We're having conversations on how to best resolve this on both the client & server-side, but unfortunately don't have that answer today.

In the interim, knowing that polling/intervals can be expensive for batter life, I'd recommend the following:

1. Determine a thr

[2019-11-05 18:50] justhamade commented on #2233
Not sure why no one else commented but this is how DynamoDB filter expressions work and has nothing to do with amplify.
https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Scan.html#Scan.Limit

[2019-11-05 19:21] pbirsinger commented on #3631
There still no simple fix for this? There realistically should just be a password confirm field and then have it auto-sign in after confirm.

[2019-11-05 19:27] pbirsinger commented on #2562
The lack of this feature is causing major friction in our signup phase and major complaints from our users

[2019-11-05 20:57] malcomm commented on #3730
@ericclemmons - thank you! Glad this is going to be addressed. I was just curious: does Amplify have a bug bounty program? Seems like this might be a good candidate for something like that?

[2019-11-05 21:45] andrew-aernos commented on #4342
after running `npm ls @types/zen-observable` I got

[code]
Uninstalling the root `@types/zen-observable@0.8.0` doesn't fix this
I still receive
`ERROR in node_modules/@aws-amplify/api/node_modules/@types/zen-observable/index.d.ts:32:14 - error TS2300: Duplicate identifier 'Subscriber'.`

[2019-11-05 21:46] undefobj commented on #3730
@malcomm just for clarity, there isn't a bug here. JWT tokens contain state from a server which clients pass to backend services. Sessions are not tracked on the backend in such a system and this is a standard industry practice with OIDC tokens where signing validation is completed. What @ericclemmons is suggesting is you could potentially have a trigger on your backend to notify clients when a ch

[2019-11-05 22:44] malcomm commented on #3730
@ericclemmons & @undefobj - so there's no mechanism in places where the token becomes invalid? [Refresh Tokens](https://auth0.com/learn/refresh-tokens/) is what I'm thinking applies here, right?

Also, any solution that requires the client to do something doesn't seem right to me (basically what I'm thinking is that this has to be a server-side fix). If I'm off on this, then please let me know, be

[2019-11-05 22:51] undefobj commented on #3730
No, tokens are valid until they expire. Refresh Tokens are a mechanism for obtaining new IdTokens or AccessTokens without prompting the user to reauthenticate. So you could put something in your backend workflow to *trigger* a Refresh Token to be used to get new Id/Access Tokens which the client can then use with updated state.

There are always tradeoffs in systems if you want them to scale. This

[2019-11-05 23:20] emmafass opened #4350 "Subscriptions do not work while using authmode"
### Which Category is your question related to?
API

### What AWS Services are you utilizing?
AppSync

### Provide additional details e.g. code snippets
I am following the documentation [here](https://aws-amplify.github.io/docs/js/api#aws-appsync-multi-auth) to perform `createTodo` using authmode.

[code]

This works. However, my subscriber is not recognizing that a `createTodo` event occurred.

[

[2019-11-06 00:03] paddlefish commented on #3965
This is not stale.  Bread goes stale.  Bugs don't. They don't just magically go away because time has passed.

[2019-11-06 00:10] Ashish5591 commented on #4342
Hi,
Could you please add some more details such as how you have configured the app and the steps to reproduce the issue?

[2019-11-06 00:24] CodySwannGT opened #4351 "Sessions aren't persisting between app reloads in React Native"
**Describe the bug**
Sessions aren't persisting between app reloads in Expo

**To Reproduce**
Steps to reproduce the behavior:

1. Open the app
2. Sign in
3. Reload the app
4. See error

**Expected behavior**
User still signed in

**Sample code**

[code]

[2019-11-06 02:43] lafiosca commented on #3422
Based on @mllrmat 's code above, I made a more TypeScript-y version: https://gist.github.com/lafiosca/774fa014d3326fcc992b55198ac5ea1d

While working on this, I found several things about the storage module interface odd; for example, `setItem` returns the value being set, but it doesn't appear that the current lib code uses the return value. Seems to me it would be nicer if these methods could re

[2019-11-06 05:27] daanoz opened #4352 "Unable to resolve module ../vendor/paho-mqtt"
**Describe the bug**
Missing file reference when bundeling the code. Bundling is done by React Native on the latest version.

[code]

Started happening from version `1.2.4`, version `1.2.3-unstable.0` is fine.

[2019-11-06 05:28] daanoz commented on #1734
Created a new ticket for this as this one is already closed, and does not seem to describe the same issue: https://github.com/aws-amplify/amplify-js/issues/4352

[2019-11-06 05:36] oneEyedSunday commented on #4345
Hello @chrisj-skinner any workarounds for this? Can I downgrade or something?

[2019-11-06 06:21] giftset commented on #4089
is it fixed on latest version?

[2019-11-06 08:07] pefi1011 commented on #2727
@funkfinger I was facing the same issue.  Thanks for posting your answer, it helps!

[2019-11-06 10:05] saqibameen commented on #1182
@elorzafe I got your point. But the issue is, I took information from the user add the time of signup, but now I only have his email ID. How can I send the email again using `MessageAction: 'RESEND'` when I only have the email of that user?

[2019-11-06 10:08] hendiche commented on #1368
+1
Still no support for client secret, (except the uncheck way that sir @FadiAboMsalam mention above)

[2019-11-06 10:08] satishmolletipipra commented on #4342
I ran npm ls@types/observables

![image](https://user-images.githubusercontent.com/52817363/68288622-c05d4600-00aa-11ea-9758-a481cb8c9b13.png)

Then ran npm --save uninstall @types/zen-observable but still am getting the same error(duplicate identifier subscriber).

Steps reproduce.
Create ionic app
Copy and replace the package.json from my previous comment.
Run ionic serve.

Then am getting the e

[2019-11-06 10:43] chrisj-skinner commented on #4345
I haven't found any solutions to removing the above error - however if I save a (any) .ts file after I get the above failing message, the app rebuilds and then produces a `Complied successfully` message.

NOTE: in the below screenshot the 'save' of the .ts file was done after I received the `Failed to compile` message.
![image](https://user-images.githubusercontent.com/5794048/68291458-d1de2800-00

[2019-11-06 10:46] KristineTrona opened #4353 "Dynamic item querying based on 2 parameters, where limit is not applied before filter"
**Which Category is your question related to?**
  API, GraphQL

**What AWS Services are you utilizing?**
  GraphQL, AppSync, DynamoDB

**Provide additional details e.g. code snippets**

I have the following schema:

[code]

**I am interested in querying for the following:**

1. List all users, where **role** is NOT equal to 'Participant' and **archived** is null/set to a string 'false'
2. List all

[2019-11-06 11:42] chrisj-skinner opened #4354 "docs out of date - missing information"
**Describe the bug**
Docs out of date / missing information

**To Reproduce**
following https://aws-amplify.github.io/docs/js/start#step-3-add-api-and-database
`amplify add api`

I see one thing mentioned in the docs

But then not the same in the console.

**Expected behavior**
Expect to see what is written in the docs when working through the walkthrough
I'm not not sure whether to proceed or not

[2019-11-06 12:12] blomm opened #4355 "How do I get chrome-headless installed on my build-machine-image (Linux2)?"
** Which Category is your question related to? **
Deployment pipeline

** Provide additional details e.g. code snippets **
in the amplify.yml file I'm running "npm install puppeteer" to get chromium installed (must be a better way, no?), and in the env variables I've set CHROME_BIN to be /usr/bin/chromium-browser but the tests timeout because they cant find chrome here.

my test script is:
ng test

[2019-11-06 12:14] correasebastian commented on #4053
@ilrein can you share the facebook example please

[2019-11-06 13:42] ricardoribas commented on #4307
Perhaps was a decision that you guys have made. For the same scenario, but with a wrong password, make sense to return a not confirmed exception? Cause afterall, if you put wrong credentials, this kind of error should have more priority than the other one. Make sense to you?

[2019-11-06 13:52] ranguard commented on #3831
This is still an issue please reopen

[2019-11-06 13:53] ranguard commented on #3831
@jordanranz please could you reopen - thanks

[2019-11-06 14:09] SidneyNiccolson commented on #4346
I looked further in the OPTIONS request and response headers that throws the error. It seems that the request header doesn't send an access-control-max-age in which the cognito-idp does send an access-control-max-age of '172800'.

Moreover I'm using Nginx for my app. Additionally I tried using the Authenticator component, but this gives the same results.

[2019-11-06 14:21] david-wallace-croft commented on #3831
+1 to reopen

[2019-11-06 15:23] apoorvmote opened #4356 "Offline cache not authorized"
**Describe the bug**
I have enabled offline access with cache storage with amplify & appsync. And only owner can access their own records not other users records. But after changing user by loggin out & logging in. Every user can access cached records even if they are not authorized to view those records. Also I am using withAuthenticator for login.

**To Reproduce**
Steps to reproduce the behavio

[2019-11-06 16:26] sammartinez commented on #3965
@paddlefish Apologize for the not responding on this sooner. Im looking into this issue. Can you provide the amplify versions (`aws-amplify`, `aws-amplify-react-native`) you are using with your React Native application?

[2019-11-06 16:50] ajhool commented on #4235
According to the docs, the amplify api client is a lightweight alternative to apollo. Out of curiosity, in what way is this api client a lightweight alternative? It appears to have less features (apollo has ssr, hooks, caching, multiple languages, good documentation, etc.), has a much larger dependency footprint (gigantic), and doesn't offer codegen for custom queries/mutations. Configuration migh

[2019-11-06 17:07] rilian commented on #403
to slightly automate the solution you can run
[code]
after you install npm packages in your deploy script, or manually on your computer

[2019-11-06 17:28] vincekd commented on #4287
@jordanranz What is the status on the merge?

[2019-11-06 17:38] malcomm commented on #3730
@undefobj - Thank you for your response. Just to be sure, I am using [Dynamic Group Authorization ](https://aws-amplify.github.io/docs/cli-toolchain/graphql#dynamic-group-authorization), see my comment above on July 25th.

[2019-11-06 18:10] kavyasoni commented on #699
Did anyone find a fix for this? We are facing an exact issue in our project. Its a roadblock for us.

[2019-11-06 18:13] ericclemmons commented on #4235
@ajhool Thanks for your feedback! Your concerns are totally valid: Amplify covers a lot of ground (e.g. Analytics, API, Authentication, etc.), so over-extending and providing immature or unsupported APIs isn't an option.

The wording in the docs could be improved, but we offer Amplify as a "lightweight alternative" to the AWS SDK Client:

– https://aws-amplify.github.io/docs/js/api#using-aws-appsy

[2019-11-06 18:56] sammartinez commented on #3965
@paddlefish I did find the [code](https://github.com/aws-amplify/amplify-js/blame/40f9a4dd6613004b2b94e0f06612331bfad9c92a/packages/core/src/ClientDevice/ios.ts#L25-L31) in question that you are referring to. Please see the link. I am going to track this internally so we can have someone pick it up but I do want to state we are open to PRs if you wanted to contribute. Thanks for bringing it to our

[2019-11-06 19:01] tobon96 commented on #4308
I'm still having the issue after updating de CLI. Any update over this matter?

[2019-11-06 19:57] oliverandersencox opened #4357 "@auth with multiple auth types on nested types not working"
I have implemented multiple authentication systems with Cognito pools as the default and 'IAM' as the other.

I have a city model:

`type City @model
@key(name: "cityByName", fields: ["title"], queryField: "findCityByName")
  @auth(rules: [
    { allow: groups, groups: ["admin"], operations: [update, delete, create] },
    { allow: public, provider: iam, operations: [read] }
  ])
@searchable {
  i

[2019-11-06 20:14] ericclemmons commented on #4235
That was my mistake.  Your feedback has been great!  What I didn't understand was if the hooks RFC was potentially redundant or conflicting with your needs.

And yes, your understanding of "lightweight alternative" is correct: smaller footprint, fewer features, fewer dependencies.

This is fantastic feedback! Thanks so much for your thoughtful responses @ajhool.

[2019-11-06 20:14] bthomas16 commented on #4351
I have been seeing the exact same issue. Glad to see this bug is being filed. Using Expo + React Native, I thought I had messed up in my soon to be production codebase. So I just created a new, basic, base-bones application using Expo + React Native + Amplify (Cognito) and still cannot persist state when refreshing the application

**APP.JS**
[code]
**AWS-EXPORTS**
// WARNING: DO NOT EDIT. This fi

[2019-11-06 20:35] #4283 closed

[2019-11-06 22:29] sacrampton commented on #4085
Hi @manueliglesias - just checking back in after your initial input whether this is something that is looking likely to get implemented?

[2019-11-06 22:42] Zerquix18 commented on #4305
Also affected by this

[2019-11-06 22:53] district-michael commented on #4351
I was having this myself and was tearing my hair out trying to figure it out.  I discovered that the current amplify sdk is using the old version of async-storage from before they broke it out into being a react-native community package.  I implemented a replacement storage service and passed that into my Amplify.configure Auth object.  Note that I'm explicitly importing the react-native-community

[2019-11-06 22:55] district-michael commented on #4351
I was having this myself and was tearing my hair out trying to figure it out.  I discovered that the current amplify sdk is using the old version of async-storage from before they broke it out into being a react-native community package.  When I inspected what was in the async-storage, I found the tokens would intermittently disappear, which would cause my session to break sometimes.  I implemente

[2019-11-06 22:58] district-michael commented on #4245
See my comment on issue [#4351](https://github.com/aws-amplify/amplify-js/issues/4351#issuecomment-550538532), I fixed this temporarily by implementing a custom storage class.

[2019-11-06 23:00] district-michael commented on #4024
Working reliably.  My new storage provider code can be found here:

[#4351](https://github.com/aws-amplify/amplify-js/issues/4351#issuecomment-550538532)

[2019-11-06 23:00] #4024 closed

[2019-11-06 23:07] bthomas16 commented on #4351
I will definitely try this shortly and update with my progress. But this seems like extra steps (granted, temporarily) that shouldn't be needed for an otherwise "out of the box" solution to Auth. Either way, thanks for doing the deep dive that was in my near future :).

A fallback solution seems to be to rollback to the last version of Amplify before this bug was introduced

[2019-11-06 23:39] paddlefish commented on #3965
Hi @sammartinez thanks -- is it okay to fix this by bringing in new dependencies? The way I'd approach this is to use react-native-device-info, and via that read the app version info from the Info.plist of the main bundle.

(In fact the whole `dimToMake` function in the code you point to is downright scary and unnecessary when you can actually find out what the device is without inferring it from

[2019-11-07 01:08] swrap commented on #1582
## Hacky Way
I have not been able to find an API call to Cognito to be able to verify an authentication type. My particular case involves just a username and password. After clicking into the internals of the AWS Amplify code there is a simple way to replicate the authentication process without interfering with the currently authenticated user. Here is my particular criteria that I was trying to s

[2019-11-07 05:02] jkeys-ecg-nmsu commented on #4235
I tried to point out in a polite way that, unless I and most working React developers are missing something about lifecycles and useEffect, it was a proposed solution in search of a problem, and then got ignored. Feelsbadman. Maybe I need to be more direct when telling someone that I don't see the benefit of their proposed solution so that my criticism won't be similarly dismissed. @ericclemmons

[2019-11-07 05:16] jkeys-ecg-nmsu commented on #4356
Yikes.

[2019-11-07 05:37] undefobj commented on #4356
@apoorvmote Apollo cache is just a cache, the authorization has already happened at the service layer and is global to the client and is how the Apollo client stores it's records keyed by query. If you'd like to have multiple users logging in you should clear the cache on logout (or new user login, depending on your business logic) and have it rehydrate using the new credentials.

Here is an examp

[2019-11-07 05:37] #4356 closed

[2019-11-07 05:39] ajhool commented on #4235
@jkeys-ecg-nmsu The apollo hooks implementation provides a loading, data, and error return for the hooks, so you can write very clean code to handle the three main states (If you have 3 different queries or mutations in a component, then things can get ugly quickly with the old HOC code but it is very clean with hooks).

React hooks, themselves, are so nice that they do make these implementations

[2019-11-07 06:39] Erlix322 commented on #4351
which version of amplify is using the working storage? I'll most likely downgrade because I use expo and will not link the community storage

[2019-11-07 06:50] LuisS96 commented on #3197
Same

[2019-11-07 07:04] Erlix322 commented on #4351
which version of amplify is using the working storage? I'll most likely downgrade because I use expo and will not link the community storage

[2019-11-07 10:26] RadoAz opened #4359 "AppStorage and NetInfo deprecated if imported from 'react-native'"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

-- or --

Link to sample code

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

<detai

[2019-11-07 10:32] AhmedMesawer opened #4360 "please update amplify modules to be adapted with new versions of react-native, android and ios because there are issues that is solved by changing in the module itself"
When I want to build signed APK it gives me this error
[code]

I found that when I change SDK version in node_modules\@aws-amplify\pushnotification\android\build.gradle from 26 to 28
[code]

[2019-11-07 11:19] anthonyhumphreys commented on #4351
@bthomas16 thank you so much for this patch - saved me from going insane, I thought I'd broken my build...

[2019-11-07 12:11] sakhmedbayev opened #4361 "Type '"AMAZON_COGNITO_USER_POOLS"' is not assignable to type 'GRAPHQL_AUTH_MODE'"
**Describe the bug**
Related [docs](https://aws-amplify.github.io/docs/js/api#aws-appsync-multi-auth)

I think the issue is with how enum type `GRAPHQL_AUTH_MODE` is used in the interface `GraphQLOptions`

When trying to construct `authMode` in the following way:

[code]

Typescript compilator produces this error:

[code]

**Expected behavior**
Error is gone if setting `GraphQLOptions` this way:

[2019-11-07 12:16] cpmech commented on #1429
I'd love to see my Hosted UI in PT-BR...

[2019-11-07 12:28] sergi commented on #2619
I'm having this exact issue, which I believe is also related to https://github.com/aws-amplify/amplify-js/issues/3034. Can you please reopen?

[2019-11-07 13:36] NL33 commented on #3620
I had this problem as well, and it looks like putting "fullTemplateTypeCheck" to false in tsconfig.json also made the errors go away. Is it ok to leave it like this for production?

And any further info as to what the cause of this could be?

[2019-11-07 14:03] satishmolletipipra commented on #4342
Anyone have solution for the above issue? this is a blocker for me.

[2019-11-07 17:41] anarerdene commented on #4361
@sakhmedbayev why change your amplify client ? (AppsyncSDK - > Amplify Client)

[2019-11-07 18:27] bthomas16 commented on #4351
For all those interested, @district-michael is the hero here. That said, I tried modifying his solution to fit vanilla Javascript implementations, this proved difficult and not worth the effort. And after creating a new bare-bones applications with Typescript, Michael's solution worked like a charm. Typescript is becoming a best practice anyways, so I am choosing to see this as a positive for my p

[2019-11-07 18:33] anthonyhumphreys commented on #4351
@bthomas16 i used http://www.typescriptlang.org/play/ to get the JS because I'm lazy and wanted to move on with the build :p

Here is the transpiled (if that is the correct term between TS and JS??):
[code]

I've actually got a branch on my project to move over to TS now - but for the MVP we're sticking with JS. That's gonna be the mother of all PR's......

[2019-11-07 18:48] ericclemmons commented on #4235
Thanks everyone who's participated in this RFC, both here & on Twitter!

While we continue planning out our roadmap, I'd recommend anyone interested in hooks review the **Resources** in the original post body, which has existing, community-driven solutions for integrating Amplify within your existing React projects using hooks. 🙏

[2019-11-07 18:48] #4235 closed

[2019-11-07 19:11] andrew-aernos opened #4362 "Does aws-amplify-angular have <amplify-set-mfa>UI component for Angular projects?"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
aws-amplify-angular
** Provide additional details e.g. code snippets **
Spotted <amplify-set-mfa>for Vue project Just wondering if there is a equivalent one in aws-amplify-angular

[2019-11-07 21:53] CodySwannGT commented on #4351
This did it for me with one minor edit since we're on managed Expo

[code]

instead of (which requires linking)

[code]

[2019-11-07 21:54] anthonyhumphreys commented on #4351
Ah true, sorry!

________________________________
From: Cody Swann <notifications@github.com>
Sent: Thursday, November 7, 2019 9:53:20 PM
To: aws-amplify/amplify-js <amplify-js@noreply.github.com>
Cc: Humphreys, Anthony <anthony.humphreys@lancaster.ac.uk>; Comment <comment@noreply.github.com>
Subject: [External Sender] Re: [aws-amplify/amplify-js] Sessions aren't persisting between app reloads in

[2019-11-07 21:56] bthomas16 commented on #4351
Now that we have a workaround... great. But what actually happened to cause this and when will we be able to rely on Amplify without this work around?

[2019-11-07 22:34] sammartinez commented on #3965
@paddlefish After discussing internally, we are looking to not add a new dependency if possible. We are exploring a solution on how to solve this with the package you recommended for it but more of a peer dependency approach or possibly moving React Native specific code to a separate part of the library.

If you still want to put a Pull Request up, more then welcome to but it may be that you will

[2019-11-07 23:16] thundermiracle opened #4363 "How to call lambda after logged-in by Cognito"
** Which Category is your question related to? **
Auth

** What AWS Services are you utilizing? **
Cognito, Lambda

** Provide additional details e.g. code snippets **
I want to call lambda functions if the logged-in user is in the right Cognito group.
So I created a group in Cognito which has lambda:invoke role.
And I added the relative users to the group too.
But I can't find out how to get the

[2019-11-07 23:26] cpmech commented on #2160
Also, options for configuring the Confirm Sign Up form are welcome!

[2019-11-07 23:27] #3636 closed

[2019-11-07 23:47] mgonzalezs commented on #1308
Worked!

[2019-11-08 00:56] nelsynelz opened #4365 "Amplify with NuxtJS - Error when deploying in SSR/Universal Mode"
**Describe the bug**
When using NuxtJS (a VueJS framework for SSR) you run into the below error when deploying in SSR mode:
[code]
File: node_modules/@aws-amplify/analytics/dist/aws-amplify-analytics.js

At line: 38103
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Create a NuxtJS app
2. Install Amplify and Amplify Vue via NPM/Yarn
3. Manually configure Amplify with an existing Cogn

[2019-11-08 01:10] jkeys-ecg-nmsu commented on #4235
@ajhool thanks for the advice, I'll take a look at it. FWIW I specifically don't want caching for compliance reasons and server-side rendering is not an option. So we use the API api (lol) since it's already a dependency and meets our needs.

I absolutely agree that the Amplify team should be coding for the common Amazon use case -- if Azure or GCP want to leverage Amplify, they can submit pull re

[2019-11-08 02:47] jkeys-ecg-nmsu commented on #2298
@jordanranz one of my co-workers described the Amplify Gitter as "the wild west." Could we revisit this issue?

[2019-11-08 03:57] Amplifiyer commented on #4352
@daanoz, can you try deleting your node_modules and lock file and trying again? paho library is now consumed as an npm package and the cached file `../vendor/paho-mqtt` has been removed in favor of it. Please ensure you are using latest version of `@aws-amplify/pubsub`

[2019-11-08 04:13] chefren commented on #3395
In case Apple changes their mind: https://medium.com/@farasath/sign-in-with-apple-a-zero-code-change-approach-54b44d59f60c
Could use OIDC (it's more expensive in Cognito, but another option)

[2019-11-08 05:02] harmohan-a commented on #4315
i updated amplify today and it's completely messed up the auth.

config:
[code]
Amplify.configure(config);

it was working fine with 1.1.4

[2019-11-08 06:05] rathpa commented on #1823
To get the "cognito:roles" to exist, in Cognito the user needs to be part of a group and that group needs to have a role.  Thus, go into Cognito, select your user pool, users and groups, groups, create a group (adding a role to that group), and then add the user to the group.

[2019-11-08 06:08] firmanm commented on #1852
+1

[2019-11-08 06:27] harmohan-a commented on #4315
this is soooo shit.....
amplify never registers auth. it will register everything that i dont need except auth. Because when auth initialises it's using a different instance of amplify ! brilliant.

[code]

<img width="460" alt="Screen Shot 2019-11-08 at 5 25 47 pm" src="https://user-images.githubusercontent.com/5277078/68454515-fb977a80-024c-11ea-85bf-8ab2fd437a50.png">

So, even though i am pass

[2019-11-08 07:58] gauravchaddha opened #4366 "Get Auth Code on User Pool Sign In when hosted UI is NOT used"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito

I have a custom Auth UI for my app and am not using hosted UI.
When user authenticates with Social IdPs then the **auto code** is returned in the URL fragment in the redirect.
However, if user is authenticated programmatically (without hosted UI), then **auth code** is not received on success

[2019-11-08 08:16] daanoz commented on #4352
Ah, clear! Thx for the support. I removed the `node_modules` before, but not the `package-lock.json`, that proved to be the culprit.
Everything ok now.

[2019-11-08 08:16] #4352 closed

[2019-11-08 09:14] sakhmedbayev commented on #4361
Sorry @anarerdene, not sure if I understand your question.

[2019-11-08 12:31] hiren0412 commented on #4351
We are Facing same issue.Here is the Steps that i found the issue with React-native amplify library.

 1.) **WORKING FLOW**:
- start the app, login successfully.
- move to change password screen, call the Method `Auth.currentAuthenticatedUser().
- able to get the required data

2.) **FLOW WITH ISSUE**:
- After SignIn restart the app without signOut
- `Auth.currentAuthenticatedUser()`  didn't retur

[2019-11-08 12:42] thundermiracle commented on #4363
It seems that I can only bind user pool with identity pool and use ```Auth.currentCredentials()``` to get the credentials.
Am I right?

[2019-11-08 12:59] dahersoftware commented on #4244
@undefobj is there any way I can receive quick help for this issue. My application deployment is blocked because of this.  Any workaround for now.

[2019-11-08 13:08] cnegrisanu commented on #1035
Please support for https://github.com/nativescript-vue/nativescript-vue !!

[2019-11-08 14:09] rnnyrk commented on #4016
Holy, turning the debug mode off did indeed fix this error.

[2019-11-08 14:47] sorokinvj opened #4367 "Could I use all languages in Predictions/Transcribe?"
** Which Category is your question related to? **
Predictions
** What AWS Services are you utilizing? **
Cognito, Amplify, Auth

Hey guys, I need to use the Russian language to transcribe audio, but in the docs, there are only "en-US", "en-GB", "fr-FR", "fr-CA", "es-US". Is it a constraint for me? Or it's not just documented yet (because Russian was added to AWS only in August 2019)?

[2019-11-08 14:56] ak37165 commented on #3390
Pinging again for any activity on this. To re-state: if a user has two factors enabled, Cognito lets an attacker with just one factor login.

Suppose I have SMS MFA enabled. Suppose an attacker gets access to my phone only (not my email account). The attacker will get the password reset-code on that phone and then when logging in with the newly set password, the MFA code will also arrive to the sa

[2019-11-08 15:02] ak37165 opened #4368 "Is MFA always asked after forgotten password reset, even on remembered device?"
** Which Category is your question related to? **
Authentication

** What AWS Services are you utilizing? **
Cognito user Pools

** Provide additional details e.g. code snippets **
I have a user pool with optional MFA. My web app allows users to configure TOTP MFA. And the option to remember devices is selected (so TOTP challenge should arise only on new devices/browsers).

Consider an end user wi

[2019-11-08 15:05] Birdstown commented on #4342
Having the same issue.
Is this a recurrence of #1732 ?

There's a temporary fix outlined in https://github.com/aws-amplify/amplify-js/issues/1732#issuecomment-450761829

[2019-11-08 15:06] ak37165 commented on #3390
Possible solution: See the section "Reset your password when two step verification is turned on" from Microsoft https://support.microsoft.com/en-us/help/12408/microsoft-account-how-to-use-two-step-verification

They require two codes to reset the password.

[2019-11-08 17:07] mlafo opened #4369 "Multi Auth - public acces failed"
**Describe the bug**
Unauthenticated GraphQl request failed with an "No current user" error return.
Is there something i am doing wrong or is it a bug ?

**To Reproduce**

_GraphQL transform Schema_

[code]
_Authorised provider in AppSync are  IAM and Amzon Cognito User Pool_

_Front End is builded with reactJs._
Request to shareFiles works with an user authenticated with Cognito but request to re

[2019-11-08 18:34] #4293 closed

[2019-11-08 19:34] #3590 closed

[2019-11-08 21:34] #4117 closed

[2019-11-08 21:45] axvolfson commented on #4345
For me this was because Angular 5 uses typescript 2, but amplify uses Typescript 3.
Change to tsconfig.json
`"compilerOptions": {
    "skipLibCheck": true,// add this`

[2019-11-09 00:41] weizliu commented on #4311
Any updates? I ran into this issue too

[2019-11-09 01:00] luizdanieldesouza opened #4371 "Is it possible to sign-in once across multiple sub-domains / apps?"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito

Question: Is it possible to sign in once, and automatically obtain current user credentials across other subdomains / apps?

For instance,
1) Login once via app ( http://id.URLXXX.com)
2) Then access other related authorised apps (http://APP1.URLXXX.com; http://APP2.URLXXX.com)

Note that all

[2019-11-09 07:24] oneEyedSunday commented on #4345
Interesting. I had to downgrade the Auth app I was interested in using. How
will this affect other errors though

On Fri, 8 Nov 2019, 22:45 axvolfson, <notifications@github.com> wrote:

[2019-11-09 12:44] TOPSinfo commented on #3875
Has there been any update on this?

[2019-11-09 14:26] #4337 closed

[2019-11-09 14:45] MCVNick commented on #2702
I'm having the same problem as akucharczyk. Anyone have a solutions. I'm still searching.

[2019-11-09 17:38] oliverandersencox commented on #4308
having the same issue here with Facebook login. Redirecting back to localhost ionic always gives this error

[2019-11-09 17:38] #3764 closed

[2019-11-09 17:38] #4104 closed

[2019-11-09 18:09] oliverandersencox commented on #3537
@sammartinez is there any info you can give us on this. The user is created in the user pool, the only issue is simply the redirect doesn't do any auth checks or pick up this new user and sign in.

There must be some advice on manually detecting once redirected?

[2019-11-10 00:17] tartur commented on #3329
Hello Guys,

I have the same question but with federated social signin.
I am using the following versions
* aws-amplify 1.2.4 and,
* aws-amplify-angular 3.1.4
* angular 7
And I cannot see how I can configure the 'amplify-authenticator' component to support federated identity providers.

Does anyone know how I can do this?

Thank you in advance

[2019-11-10 02:06] kgpasta commented on #4351
Thank you @district-michael  and @Erlix322 for the solutions, worked for me. If you have federated providers (like Facebook and Google) you additionally need to do the following:

`const refreshToken = async () => {
    await MemoryStorageNew.sync();
    const federatedInfo = MemoryStorageNew.getItem("aws-amplify-federatedInfo");
    const federatedInfoParsed = JSON.parse(federatedInfo);

    cons

[2019-11-10 10:56] arpit2438735 commented on #4288
As a workaround you can use https://github.com/EddyVerbruggen/nativescript-nodeify library and need to override window value and it will start working.

[2019-11-10 13:06] billdami commented on #3612
I know this issue is marked as closed (and I have done the `pod install` steps, which fixes the issue durning normal usage), but has anyone found a solution to avoiding this error when also debugging with react-native-debugger? (https://github.com/jhen0409/react-native-debugger)

Or, less ideally, found another debugging tool that will allow viewing of network requests in the app?

[2019-11-10 13:15] brookslyrette commented on #4305
+1. I ended up locking down a bunch of package versions to keep my nextjs site working.

I'm using:
[code]
Which also works around #4311

[2019-11-10 14:02] oliverandersencox commented on #3537
@@giacomocarrozzo I finally got it working!!

So the reason the authentication is not registered is because the Ionic webview is not loaded with the state and code from the redirect. These need to be passed to Ionic in order for Amplify to run its magic.

In order to do so you need to add redirect URL's top the app and then intercept these deep links. In my case im using capacitor, which handles t

[2019-11-10 15:03] paddlefish commented on #3965
Ok so what if it had some kind of support for injecting a different metadata provider.

Option 1
======

Modify aws-amplify-react-native  (https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-react-native/package.json) so that it has a dependency on `react-native-device-info`.  When react-native-device-info is imported, it constructs a better version of the metadata provider

[2019-11-10 15:52] giacomocarrozzo commented on #3537
@oliverandersencox awesome! it's working to me too!

I just have these errors when I log out after a Social Auth:

`[ERROR] 49:50.195 OAuth - Error handling auth response. Error: invalid_grant`

`Unhandled Promise rejection: Cannot read property 'accessToken' of undefined ; Zone: <root> ; Task: Promise.then ; Value: TypeError: Cannot read property 'accessToken' of undefined`

That's working for yo

[2019-11-10 15:54] oliverandersencox commented on #3537
@giacomocarrozzo so I also had that. If you run it incognito mode, you wont get that issue.

It seems cognito saves session data about the federated user, so that if you are removing and adding users in development it will throw this error.

Try running in incognito the error should disappear.

[2019-11-10 22:16] adhikarisandeep commented on #2783
@vdiaza were you able to resolve the issue you were facing? I'm having a similar issue.

[2019-11-10 22:23] adhikarisandeep opened #4373 "GraphQL access using Cognito user pools - Request failed with status code 401"
** Which Category is your question related to? **
API, Auth
** What AWS Services are you utilizing? **
Cognito, GraphQL API
** Provide additional details e.g. code snippets **
Sample error I get for a get request:
  "errors" : [ {
    "errorType" : "UnauthorizedException",
    "message" : "Valid authorization header not provided."
  } ]
}

Same request works locally. But when I deploy through aws

[2019-11-10 22:34] vdiaza commented on #2783
@adhikarisandeep not really. I ended up using the hosting provided by the amplify cli.

[2019-11-11 00:12] codermeisje commented on #4270
That did the trick!  Thanks @tomgreenwood1

[2019-11-11 00:12] #4270 closed

[2019-11-11 03:00] apoorvmote commented on #4333
I added following code to lambda and its failing with `Request failed with status code 400`
[code]
I added similar code for `removeUserGroup` as well. Even with status code 400 error user is updated with group & removed from the group. But the custom attribute is not updating.

Do I need some policy change for lambda. Does lambda does not have permission for updating attributes?

[2019-11-11 09:55] satishmolletipipra commented on #4342
@Birdstown Thanks for the response.

We are already gone through the [https://github.com/aws-amplify/amplify-js/issues/1732#issuecomment-450761829](url) comment and tried but while generating the APK, this is not working.

[2019-11-11 09:59] jacobjoy24 commented on #612
**I have written a complete guide for the re-direct functionality,**

https://medium.com/@jacobjoyseba/redirect-user-using-amazon-cognito-confirmation-url-d8ccb11bac75

[2019-11-11 12:33] hi120ki opened #4374 "amplify-vue Login Form inputted by browser's auto-fill returns "empty" Error."
I set up Vue.js based webapp with amplify auth (Cognito).

My webapp's main package version is here.

[code]

And I create login form by using aws-amplify-vue.

[code]

This login form works well if I type username and password by keyboard.

When I input username and password with Browser's auto-fill function and click "SIGN IN" button, an error "Username cannot be empty" occurs.

It seems that us

[2019-11-11 12:45] oliverandersencox opened #4375 "Federated sign in"
When using Facebook and Google federated sign in on my Angular/Ionic project it seems that some state/session information is being saved and causing errors:

This error does not occur on incognito mode within chrome, only one device and normal browser.

1. sign in using federated sign in (this.amplify.auth().federatedSignIn({provider: 'Facebook'}))
2. Delete the newly created cognito user from the

[2019-11-11 13:22] ni3galave commented on #4244
I also facing same issue with react-native (android).

[2019-11-11 13:58] DavitVosk commented on #4197
Any update?

[2019-11-11 14:39] whatsthebeef commented on #4213
@streppa what's the work around?

I was having to set refresh handlers with functions that pull the id and token from localstore but it still only lasts one hour

[code]

[2019-11-11 14:45] jmandivarapu1 commented on #4197
Nothing Much happened. As expected nobody from amplify team responded whether it's a bug or not.

But that's not the end of the world.  Some of the team member's came up with some nice solution. (It's temporary)

[2019-11-11 15:30] ffxsam opened #4376 "Should API.graphql() throw an actual Error instead of a plain object?"
`API.graphql()` seems to be throwing a plain object when an error occurs, rather than an actual instance of an `Error` object. This isn't a huge deal, except that I can't get a stack trace when something goes wrong.

Since the response payload from GraphQL is important in determining what went wrong, maybe `Error` could be extended to allow for a payload:

[code]

[2019-11-11 15:50] ramseytisher commented on #4365
Getting similar behavior when SSR in Gatsby as well.

[2019-11-11 17:03] malcomm commented on #3730
@ericclemmons & @undefobj - just wanted to loop back on this and see if there are any updates.

Also, I understand there are complexities here that do no make this simple; however, I'm assuming that with Cognito, you must keep track of the tokens on the server side right? Going off of that base assumption I was hoping there would be a "stale" flag where the server would know to initiate an update/

[2019-11-11 19:21] #3568 closed

[2019-11-11 19:21] #4124 closed

[2019-11-11 19:31] grreatgun commented on #2456
FYI - I did enter in the Valid Oauth..still not working. still searching

[2019-11-11 19:38] undefobj commented on #3730
@malcomm I'm not sure there are any updates we could give, it's more of a solution you will need to own. You could try to implement your own solution to dynamically push a notification down to clients and have them refresh their token information, but that's just a suggestion as this integration isn't supported OOTB. As outlined earlier tokens are good until they expire. This is the nature of JWTs

[2019-11-11 23:29] kevzettler opened #4378 "oauth.urlOpener crashes Expo iOS app"
**Describe the bug**
Using a `oauth.urlOpener` like:

[code]

Crashes the application on expo - iOS. I can remove the urlOpener and the Oauth flow works correctly but is in external browser windows. I also tried commenting out the `return Linking.openURL(newUrl);` line and it still crashes.

**To Reproduce**
The oauth flow is triggered with `Auth.federatedSignIn({ provider: 'Facebook' });` ;

**Ex

[2019-11-11 23:46] weizliu commented on #4311
Is the change in 1.2.4 already? I ran into the same issue while using 1.2.4 today.

[2019-11-12 00:28] matamicen commented on #3995
@elorzafe
It works for us in TestFlight ... we didn't launch production. @sandaruny  @nikhil-dabhade  it works for you on TestFlight also?

Thanks for the info.
Matt.

[2019-11-12 00:32] jkeys-ecg-nmsu commented on #4371
@luizdanieldesouza do all subdomains reference the same origin (e.g. CloudFront distribution)?

I would say it's not currently possible without writing some custom functionality using e.g. websockets to communicate across the clients. (You could also use AppSync as a broker for those communications if you don't want to deal with the hassle of managing client-client websockets.) But I may be missin

[2019-11-12 01:08] matamicen commented on #3035
Hello guys,

We still have the same problem, but now I have more accurate information:

The Problem is the same (Android):
 **"When the App is in background and you Tap a Notification, the app start over like it were killed"**

But, it is working ok when you didn't launch the APP, so you receive the first notification  and TAP it so the APP opens as a first time **because of the TAP**, then if you

[2019-11-12 01:41] nelsynelz commented on #4365
@ramseytisher try testing the unstable built (aws-amplify@unstable), they just implemented a fix in that build for this specific issue. I tested it this morning and it solved my issue.

[2019-11-12 02:10] emmafass commented on #4350
@Ashish5591 wondering if you have any insight into this?

[2019-11-12 02:11] emmafass commented on #3858
@bagubits hi, I was wondering if you have considered using [Stripe Express accounts](https://stripe.com/docs/connect/accounts#express-accounts) with AWS Amplify?

I'm looking into building a simple payments portal application and I am wondering if using Stripe Express would be an easy way to set it up.

[2019-11-12 02:33] CodySwannGT opened #4379 "Best practices for data syncing between environments (DynamoDB and Cognito)"
** Which Category is your question related to? **
Auth and API
** What AWS Services are you utilizing? **
Cognito, AWS AppSync, DynamoDB.
** Provide additional details e.g. code snippets **
n/a

This might not be the appropriate place for this question, but I'm striking out everywhere.

Here's the scenario.

We have 2+n amplify environments spread across that same number of AWS accounts. i.e. each

[2019-11-12 05:33] ni3galave commented on #4244
@dahersoftware did you get any workaround for this issue?

@undefobj any update?

[2019-11-12 06:11] undefobj commented on #4379
I don't think you'll be able to solve the sub problem those are uniquely generated. I'd suggest looking at a different partitioning scheme or use some other Identifier as a custom attribute which you can control assignment across the User Pools.

[2019-11-12 07:57] ajhool commented on #3405
Experiencing the same issue. There might be a disparity between the documentation for manual setup and the generated aws_exports: https://aws-amplify.github.io/docs/js/authentication#manual-setup

The manual setup example suggest nothing about oauth. The AuthConfig type in the auth package types folder also doesn't include oauth

[2019-11-12 08:50] dahersoftware commented on #4244
@ni3galave no update from my side.

[2019-11-12 09:56] martrik commented on #4004
Same here. Really annoying bug as it doesn't allow us to show the actual error message returned by the `pre signup` Cognito Lambda Trigger.

[2019-11-12 10:49] buggy commented on #3842
Not stale

[2019-11-12 13:06] rnnyrk opened #4380 "Upgrading Amplify packages stops remembering Auth session in React Native"
**Describe the bug**
Yesterday I've updated my React Native app to the latest version of `amazon-cognito-identity-js`, `@aws-amplify/auth` and `@aws-amplify/core`. Unfortunately after updating the packages my app didn't remembered the Cognito session anymore after killing the app (so swiping it up on iOS).

It happens on both development and production mode.

- `@aws-amplify/auth` from 1.4.2 to 1.

[2019-11-12 14:20] ramseytisher commented on #4365
I have confirmed that using 'npm install aws-amplify/@unstable' resolved my issue with the gatsby build process through 'gatsby develop', 'gatsby build', and through deploying from Amplify Console.

[code]

[2019-11-12 14:52] wellmmer commented on #2990
@santialur here is happening the same as well

[2019-11-12 14:54] mezalejandro commented on #2990
My solution:
`subprojects {
    afterEvaluate {project ->
        if (project.hasProperty('android')){
            android {
                compileSdkVersion 28
                buildToolsVersion '28.0.3'
            }
        }
    }
}`