[2021-05-19 20:17] nickarocho commented on #7229
Hi @justingrant I'm just getting caught up to speed on this. I see you have a `draft` PR here: https://github.com/aws-amplify/amplify-js/pull/7235/files

Do you remember if this approach worked locally for you? I'll keep investigating on my side, but just wanted to clarify first.

[2021-05-19 20:39] vydhi-v commented on #8284
This seems to work in a different project where I had used an older version of amplify datastore - 2.9.7. I had in fact observed that the request payload looks identical in that case too. So the cause for the error might not be what I had originally mentioned. The issue still stays though, I get the error response like I had mentioned before -
The variables input contains a field name 'and' that i

[2021-05-19 20:42] ErikCH commented on #7865
For web components you wouldn't add the `:` to the front. That is Vue specific. It should work without the `.prop`

[2021-05-19 20:50] justingrant commented on #7229
Sorry I don't remember the details-- it's been a while. If I remember correctly, I couldn't figure out a way to get it to work. I left comments in the PR explaining the problem I ran into. My memory of the TL;DR is that it's easy to solve this via a separate package, but I couldn't figure out how to solve it by directly importing zen-observable without an intermediate package to wrap it with somet

[2021-05-19 20:51] iartemiev commented on #8284
If you can please paste your sync query resolver code, we should be able to help you debug this further.

That's just what the option is called in the Amplify CLI.
Here's an example screenshot:
![image](https://user-images.githubusercontent.com/29709626/118882389-25aa0e00-b8c2-11eb-9604-e0a04f574efd.png)

In other words, your AppSync backend needs to be sync-enabled in order to work with DataStore

[2021-05-19 20:53] sacrampton commented on #8285
Hi @iartemiev - thanks for your message. Firstly, yes that field/fields thing was a typo above. Secondly, the above is generating for you as "HAS_ONE", whereas most of mine are generating as "BELONGS_TO" (154 instances Vs 12 HAS_ONE instances).

A little more expansion on this - I think that if I have a 2 sided connection it is causing the BELONGS_TO rather than HAS_ONE to be created - and not cre

[2021-05-19 21:00] sammartinez commented on #7696
Apologizes on the delay here @ChihweiLHBird. Have you gone through our [documentation](https://docs.amplify.aws/lib/auth/manageusers/q/platform/js#password-operations) around this? There are other APIs that correlate to customer verification tied to what seems that you are looking for. Please let us know if you have any further questions and if you do, please share more of a code snippet of what y

[2021-05-19 21:04] sammartinez commented on #7720
Hey @cnikolov, Can you let us know what your use case is here. I see that you have mixed part of your question with the issue template so wanted to understand what you are looking to do. Are you using a node application for the `amazon-cognito-identity-js` package? Can you provide your `package.json` along with your environment settings?

Please use the follow command:
[code]

Thanks ahead of time

[2021-05-19 21:09] chrisbonifacio commented on #8258
Sorry for the delay. We are currently looking into this and have not yet identified what the cause of the issue is.

In the meantime, I would just like to ask that if you are experiencing this error and you are using scoped packages and configuring them separately, please try using `aws-amplify` on its own and configure your categories from within `Amplify.configure` in the meantime. You should st

[2021-05-19 21:12] sammartinez commented on #7740
Thanks for reporting this issue, @wlee221 is going to look into the pull request as soon as he can to get this addressed.

[2021-05-19 21:15] sammartinez commented on #7745
Hey @lifedup, apologizes on the delay, this seems to be related to Amazon Cognito specifically instead of Amplify JavaScript. Amplify JavaScript acts as a proxy to Amazon Cognito. We suggest you open an issue via the [AWS Forums for Cognito](https://forums.aws.amazon.com/forum.jspa?forumID=173).

Thanks,
Amplify team

[2021-05-19 21:15] #7745 closed

[2021-05-19 21:17] sammartinez commented on #7804
@vincent38wargnier,

Can you provide your `package.json` along with your environment settings?

Please use the follow command:
[code]

Thanks ahead of time!

[2021-05-19 21:18] houmark commented on #8258
I am confused. We are using the aws-amplify package and scoped packages. The reason for this is that aws-amplify has features that are needed but you also introduced `@aws-amplify` where the rest and graphql client is scoped and used by us.

The reason for this is that the aws-amplify packages (for some weird unknown to us reason) does not have cancelations on either rest or graphql, so to use tha

[2021-05-19 21:19] sammartinez commented on #7748
resolving as the above comment and marking this as a duplicate of #8011

[2021-05-19 21:19] #7748 closed

[2021-05-19 21:21] svidgen commented on #7457
@thiskevinwang Thanks for pointing this out!

[2021-05-19 21:25] sammartinez commented on #7886
Thanks for this feedback @PeteDuncanson, I have marked this as a feature request for us to update the VSCode extension

[2021-05-19 21:31] ErikCH commented on #7685
@t829702 As @sammartinez has already mentioned you can use the custom form fields to remove that sign up text. It should look something like this.

[code]

[2021-05-19 21:40] chrisbonifacio commented on #8258
You should not be using both `aws-amplify` and scoped packages (unless they're for UI components). The scoped packages (other than UI) are already included in and can be imported from `aws-amplify`. This kind of issue is usually resolved by sticking to either scoped `@aws-amplify` packages or `aws-amplify`, because Amplify is designed as a singleton, meaning there should only be one instance.

[2021-05-19 21:44] sammartinez commented on #8030
@ritheshms Can you provide us some code snippets or what you have set up to help you with your use case? I'm not sure if you are configure or not. Please let us know if you have done the [prerequisites](https://docs.amplify.aws/start/getting-started/installation/q/integration/angular) found in our documentation.

[2021-05-19 21:46] houmark commented on #8258
Yeah, well that didn't work. It's been some time since we played with this, but using one package didn't work and splitting it up was the only option if we wanted to use cancellations. I know that is hard to understand and shows little evidence on the issues we encountered, but can you start out by explaining me what is the difference on the `@aws-amplify` package and `aws-amplify` package?

I can

[2021-05-19 22:00] justingrant commented on #7229
One more note: I think where I left things was that I assumed that adding a new package would be the easiest solution (perhaps just forking zen-observable-ts and fixing the sourcemap) but I wasn't sure how adding a new package would work in context of Amplify, so I left it there. I definitely wasn't ready to fork and take over as maintainer of that package, because I can't commit to ongoing suppor

[2021-05-19 22:02] vydhi-v commented on #8284
Ok, that was helpful. I compared the resolvers with the working ones and figured out what I was doing wrong. Confirming this is not an issue

[2021-05-19 22:02] #8284 closed

[2021-05-19 22:03] nickarocho commented on #6868
Hi @ngault, I started looking into this and was wondering if this is still an issue for you? The `package.json` within Amplify's `amazon-cognito-identity-js` package is showing the following version: `"isomorphic-unfetch": "^3.0.0"`.

Since this should bump the dependency to any minor version (via the `^`) if you do a fresh `yarn install` and inspect the `browser.js` file within the `node_modules/

[2021-05-19 22:03] chrisbonifacio commented on #8258
@houmark I understand what you're saying but that's not the issue I'm trying to help fix here. If you're having issues with REST/GraphQL cancellations, please open another issue so that we can track that issue separately and prevent distraction from the original issue regarding Auth configuration.

What I've commented earlier is to help those who are experiencing the AuthError - "Amplify has not b

[2021-05-19 22:12] sammartinez commented on #7832
@lifedup Apologizes on the delay. Would you mind hopping on a call to understand your use case more? @medelman17 is one of our Solution Architects on the Amplify JavaScript team that can work with you to understand how Amplify can work for you instead of a hybrid model. Please let us know

[2021-05-19 22:28] sammartinez commented on #8082
@amhinson and @nickarocho Let's see if we find some time to chat on this Friday

[2021-05-19 22:30] sammartinez commented on #7955
@oliverandersencox Does @sky4git solution work for you? Please let us know

[2021-05-19 22:43] garrettmaring commented on #3401
@sammartinez Amplify JS does provide support to handle custom fields using `signUpFields` with `custom` set to `true`. https://github.com/aws-amplify/amplify-js/blob/ef358a761cf74d16b61172cd1a75b4bc6cfd2bdf/packages/aws-amplify-react-native/src/Auth/SignUp.tsx#L157

The behavior to add a required acceptance of a privacy policy and/or TOS is very common in application development. Amplify JS suppor

[2021-05-19 22:47] chrisbonifacio commented on #8053
I don't see it in your environment information, but would you happen to have `aws-amplify` installed as well as the `@aws-amplify` packages?

[2021-05-19 23:51] reesscot commented on #2089
Quick update: The PR https://github.com/aws-amplify/amplify-js/pull/8278 to remove the CognitoIdentityId from LocalStorage cache after signin/signout has been merged (but not released yet). Once that fix has been released, it should be possible to use @ilyalukyanov's [solution](https://github.com/aws-amplify/amplify-js/issues/2089#issuecomment-622331432) above as a temporarily work around for user

[2021-05-19 23:53] houmark commented on #8258
I understand and I will open another issue, but your recommendation of not using multiple libraries is not a solution because it will break rest and graphql cancellation and potentially several other things that are different between those two almost same-named libraries. I'll await feedback, like the rest, on the original issue.

[2021-05-20 00:17] sky4git commented on #7955
I suggest remove "@aws-amplify" sub packages from package.json as dependencies.
For example, "@aws-amplify/ui-react": "^0.2.34"

[2021-05-20 00:41] byblakeorriver commented on #7589
I had to cast it as an Observable:
[code]

[2021-05-20 01:12] wlee221 commented on #8258
I agree with @chrisbonifacio that you should use the global `aws-amplify` package instead of installing each modular packages. If there's issue where global `aws-amplify` doesn't work but modular packages do, that's a new issue that we will look at.

That being said, having modular packages should still work, as long as the versions are matching. It's just a little bit more harder to maintain sema

[2021-05-20 01:16] wlee221 commented on #8258
Though you probably tried this, it's possible that the lock files are interfering with the version matching. Can you try a fresh install with these [upgrade commands](https://docs.amplify.aws/lib/troubleshooting/upgrading/q/platform/js#upgrade-amplify-packages) and see the error still exists. Make sure the versions are pointing to the latest major versions (aws-amplify@4.0.2, @aws-amplify/auth@4.0

[2021-05-20 04:12] jmannau commented on #7081
@wlee221 Yes, we are still experiencing the issue. I won't be able to develop a clear example repo for some time unfortunately.  It's also tricky to set up a clear repo given the dependancy on cognito and a oauth provider.

[2021-05-20 05:37] cnikolov commented on #7720
https://github.com/cnikolov/aws-cognito-http <https://github.com/cnikolov/aws-cognito-http>
I have a repository here and I am struggling to validate the upcoming tokens

Sent from my iPhone

On 19 May 2021, at 22:05, Sam Martinez ***@***.***> wrote:

﻿

Hey @cnikolov<https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fcnikolov&data=04%7C01%7C%7C9230bdeea024490252ab08d91

[2021-05-20 06:36] ngault commented on #6868
The problem was fixed within a few days of my reporting it 8 month as ago. @ericclemmons took the lead.

[2021-05-20 07:23] sodaru-it commented on #401
+1

[2021-05-20 07:23] byyoungjin opened #8314 "Amplify federated sign-in redirect issue on Samsung browser"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-20 08:57] dovelive commented on #4689
@kevinpiske
Are there anybody that have implemented the apple login on amplify-auth?

[2021-05-20 08:58] vincent38wargnier commented on #7804
Hi @sammartinez ,
this is what I get from this command :
[code]

All those versions might be different than when I had this issue, I didn't try again, I changed my system to not face this issue again.

[2021-05-20 10:03] anil1712 commented on #612
I am also wondering that it's such a simple standard process in any IDP, don't know AWS is not implementing this request.

[2021-05-20 12:04] apoorvmote commented on #8258
After all this chatter I tried it and now it seems to be resolved. Also this new update v4 has increased at least 100Kb of extra javascript than v3 version. Here are my dependancies.

[code]

My mistake was I only had core on v4 and others were on v3 so it was not working. Now I got all of them to v4 and now they are working.

[2021-05-20 12:20] samih7 commented on #7944
@nerdygirl @rcCaregiven @Goszu @therealemjy Are you guys also reproducing the issue on v4.x.x?

[2021-05-20 13:19] UXDart opened #8315 "@function for pipeline (execute) before without removing actual resolver"
### Is this related to a new or existing framework?

React

### Is this related to a new or existing API?

GraphQL API

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

use of function but for pipeline "before" the resolver that automatically is used. I dont want to replace the resolver but add a function, this can work as a way to give or not

[2021-05-20 13:21] UXDart commented on #8315
I looked everywhere I couldn't find a way to do this, but maybe there is already a way? TIA

[2021-05-20 13:55] ryanwh-dw commented on #1875
Regarding "By default when you first sign in, you will always be asked for SMS verification unless you didn't choose SMS in your user pool configuration." Can an override be created for this default via a custom lambda or another approach?

[2021-05-20 13:56] UXDart commented on #8315
btw I could try to implement this and create a PR

[2021-05-20 14:05] cybercussion commented on #4387
Staying on Angular 11.x.x for now.  The custom-webpack v11.1.1 just leads to a cascade of build/serve issues.
Everything from "ɵngcc0.ɵɵFactoryDef" and "ɵngcc0.ɵɵNgModuleDefWithMeta"not exported to a prod build of "An unhandled exception occurred - which seems to only have a "delete node_modules and reinstall"  - and that didn't fix it.

Attempting to build prod resulted in:
The 'buildOptimizer' o

[2021-05-20 14:30] sriramgroot commented on #2545
I had tried for react web application with amplify and its working properly
[code]

[2021-05-20 14:34] UXDart commented on #8315
I just found this https://github.com/aws-amplify/amplify-cli/issues/3321 is there any doc explaining more about this? thanks

[2021-05-20 14:42] UXDart commented on #8315
sorry but question, if I attach manually in appsync the resolvers as pipelines, amplify could possibly destroy them and recreate them right? which means I lose the resolvers manually configured

[2021-05-20 14:55] iartemiev commented on #8310
@UXDart, could you please tell us a bit more about how being able to set a custom DB name would help in your use case?

If you're expecting multiple users to access your app on the same device, we recommend [clearing the local store](https://docs.amplify.aws/lib/datastore/sync/q/platform/js#clear-local-data) via `DataStore.clear()` on sign out, particularly, if you're storing potentially sensitive

[2021-05-20 15:04] UXDart commented on #8310
I see your point of different users having access, but the idea is one user with different accounts, imagine Slack (not sure if you use it) you can signin to different workspaces at the same time, but lets say you are signedin to one at a time. I want to set the dbName to something like 'amplify-db-workspaceId' so without cleaning it, I can setup again maybe using stop() re config the dbName and s

[2021-05-20 15:07] shmuelgutman commented on #5591
Hi @superCarton, did you manage to address this issue?
I have a similar problem, I'm building an app using ionic capacitor and when I get back from the webview the app is not reloaded resulting that the urlListener is not executed.
I think it would be better if they will expose this _handleAuthResponse out so we can call it whenever we want.

[2021-05-20 15:21] NvIGA commented on #3381
just run

[2021-05-20 16:08] xyklex commented on #3732
I've been around this specific issue several times, and I don't know if this could help but I'll still share it in case it is useful to introduce into the SDK or a new client, maybe useful to @ravenscar @disbelief

So because of the lack of allowing setting custom scopes in Amplify SDK, I did try to make use of the OAuth endpoints to see if I can reproduce the Authentication Code Flow from the she

[2021-05-20 16:26] nickarocho commented on #6868
Got it, thanks for the follow up!

[2021-05-20 16:26] #6868 closed

[2021-05-20 16:31] rudyhadoux opened #8317 "graphql-js webpack 5"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-20 16:40] ericclemmons commented on #7081
@wlee221 I believe we can remove this `if (byHostedUI)` check entirely, or at least remove it & validate it.

The original `aws-amplify-react` version had this check because the OAuth flow needed time to complete after redirecting:

https://github.com/aws-amplify/amplify-js/blob/ef358a761cf74d16b61172cd1a75b4bc6cfd2bdf/packages/aws-amplify-react/src/Auth/Authenticator.tsx#L94-L104

So, naturally,

[2021-05-20 17:10] ericclemmons commented on #7913
I was able to reproduce this! Thanks for the **very** detailed issue @amirhajimirsadeghi !

[2021-05-20 17:12] ErikCH commented on #7238
@camhart As a workaround for this right now on the sign-up page use the `header-subtitle` slot. And you can add your federated buttons there. It will appear under the title, about the same spot in the sign-in page.

[2021-05-20 17:13] ericclemmons commented on #7913
One thing I did notice was in both cases I was getting a `BadRequestException`, not `InvalidSignatureException`.

I think it's fair to be resilient to both, but I'm not sure why I was getting one & not the other...

[2021-05-20 17:13] chrisbonifacio commented on #8237
@JoeKlimcak Sorry for the delay. So, I've made a React Native project with the same package versions in your environment and I have not been able to get the sign in to hang. I ran into other issues while setting up the project that only had to do with making sure I had Amplify properly configured, amazon-cognito-identity-js being linked, etc. Other than that it seems to be working.

https://www.lo

[2021-05-20 17:14] wlee221 commented on #7081
@ericclemmons thanks for the context! I agree, the check shouldn't be necessary -- especially in our current components because that'll just get the component stuck. I'll create a PR to remove that check entirely.

[2021-05-20 17:21] ErikCH commented on #7186
@udeeshaIS as a possible work around right now, overwrite the `headerText` and then add in your own header and subtitle text.

[2021-05-20 17:21] chrisbonifacio commented on #8215
That's understandable. I am going to close this issue as I am unable to reproduce it and it seems the correct error is being thrown in the latest version. Please feel free to re-open if you need additional help and/or let us know how the testing goes.

[2021-05-20 17:21] #8215 closed

[2021-05-20 17:24] chrisbonifacio commented on #8258
@rickygalliani could you try @apoorvmote's fix (making sure your versions match) or @wlee221's suggestions and let us know if either of these resolves the issue for you?

[2021-05-20 17:32] UXDart commented on #8315
the way to work with this is using VTL resolvers? not sure why I can't find good docs about this... tia

[2021-05-20 17:52] asterikx commented on #6049
@lifedup This was indeed the issue! Thanks

[2021-05-20 18:21] eddiekeller commented on #7908
Hi @matsuby , I'm wondering if you can provide some more context on the ask and why you want to pass a boolean to the prop?

Here is the React docs for the component in case you haven't seen them - https://docs.amplify.aws/ui-legacy/storage/photo-picker/q/framework/react

[2021-05-20 18:30] chrisbonifacio commented on #6888
Sorry for the delay. We are currently working on a fix for this. Closing this as a dupe. Please track this issue as it should also fix this issue once we have the PR ready.

https://github.com/aws-amplify/amplify-js/issues/6419

[2021-05-20 18:30] #6888 closed

[2021-05-20 18:32] jamesaucode commented on #6419
Hey folks, I started doing some research on this issue and here's what I found.

The issue likely stems from here: [https://github.com/aws-amplify/amplify-js/blob/main/packages/storage/src/providers/AWSS3ProviderManagedUpload.ts#L316](https://github.com/aws-amplify/amplify-js/blob/main/packages/storage/src/providers/AWSS3ProviderManagedUpload.ts#L316)
As a work around for using Axios on React Nati

[2021-05-20 18:51] tobilg commented on #3732
@xyklex IMHO the Cognito Auth API is documented at https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-userpools-server-contract-reference.html so I'd say this is known information.

[2021-05-20 19:00] amirhajimirsadeghi commented on #7913
@ericclemmons No problem! Not sure if it's the same thing, but I remember I was facing CORS-related issues on the browser when encountering this. I had to use X-Ray to figure out it was signature expired.

My current workaround was to implement an unauthenticated API that returned the time and used that to correct any skews that might be present locally

[2021-05-20 20:32] samih7 opened #8322 "Error "crypto could not be found within the project." / v4.0.2 on React Native"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-20 21:08] wylie39 opened #8323 "AmplifySignUp can lock user on page if email is not required"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-20 22:12] svidgen opened #8325 "tamp bundle sizes back down in wake of the crypto-js@4 upgrade"
### Is this related to a new or existing framework?

CRA, Next, Webpack4

### Is this related to a new or existing API?

Authentication

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

Some of the bundle sizes have grown as a result of upgrading to `crypto-js@4` (#8273), an upgrade driven by security concerns. To prevent other bundle size spi

[2021-05-20 23:14] #7457 closed

[2021-05-20 23:17] cat-turner commented on #4643
this works for me:
https://gist.github.com/dabit3/6c4f0a06b5e39fd53567a4a521143efa

[2021-05-20 23:28] nickarocho commented on #7229
Thanks for the insight and historical context. I need a little more time to fully understand what kind of scope this will take to resolve, so we appreciate your patience while we sort through it.

[2021-05-20 23:42] aprilmintacpineda commented on #5179
I encountered this and found a work around, instead of doing `eq: null`, do `exists: false`, like so:

[code]

I haven't had a chance to test if this will return something else other than `someNullableValue` being null.

[2021-05-21 01:58] wlee221 commented on #8135
Closing as per @hkjpotato's suggestion. Please let us know if you're still experiencing this and we can reopen this issue. Thanks!

[2021-05-21 01:58] #8135 closed

[2021-05-21 02:23] jamesaucode commented on #2965
@dylan-westbury @viprocket1 Seems to be related to https://github.com/aws-amplify/amplify-js/issues/6419, its a bug we introduced for a work around we implemented for working with Axios and React Native.

[2021-05-21 05:22] JoeKlimcak commented on #8237
Thanks @chrisbonifacio, tried the above, still experiencing the same issue.

Is there any way we can get some logs out of withAuthenticator? It doesn't seem to log anything into system.log. We're basically trying to avoid having to recreate and reconfigure the entire app from scratch, as that wouldn't really tell us why this is happening in the first place so we can avoid it in the future.

[2021-05-21 05:30] wlee221 commented on #8300
Hello @agoldis, thanks for raising this issue! It is intended that the button leads back to `sign-in` so I'll mark this as feature request. We'll look to make this more customizable or have sensible defaults.

[2021-05-21 05:37] wlee221 commented on #8200
Hi @m-bilal-dev9, thanks for raising this issue! Do you happen to have any error logs/messages that your users have encountered?

[2021-05-21 05:42] #6981 closed

[2021-05-21 05:42] wlee221 commented on #6981
Closing this as we're not exposing this primitives directly and we're focusing our efforts on the rewrite. Can be revisited if needed from customer.

[2021-05-21 05:49] agoldis commented on #8300
Thanks @wlee221

[2021-05-21 06:24] maatMa commented on #8322
Same issue here, my quick workaround was to install the crypto-js version 3.3.0.

[2021-05-21 10:07] edu-zamora commented on #8302
Hi @chrisbonifacio! Were you able to reproduce the issue? If that's so, do we have an estimation on when will it be fixed? Meanwhile, is there a workaround so we can request both the Email and Name scopes from Apple?

Thank you for your time! :)

[2021-05-21 10:30] PeteDuncanson commented on #7831
To get around this for now I've had to add an areaID to my customer entity and just have to manage updating it in both places. This allows me to filter Customers by area easily.

Question still stands though, what is the reasoning/logic for why some come back and others don't? Knowing that would help with schema choices in the future.

[2021-05-21 10:46] sacrampton commented on #8285
This is also causing us issues in DataStore Sync

[code]

[2021-05-21 11:52] edu-zamora commented on #8302
I tried the repro steps again and the issue seems to be fixed :) The Apple ID page loads successfully and I can see `scope=email%20name` in the URL.

Thank you a lot!

[2021-05-21 13:13] shaase commented on #7940
Hi all, I'm experiencing a similar issue to @felixs8696. I was following the the new post, [Host a Next.js SSR app with real-time data on AWS Amplify](https://aws.amazon.com/blogs/mobile/host-a-next-js-ssr-app-with-real-time-data-on-aws-amplify/). I just started over, following the tutorial closely. While the home page works, trying out /api/hello gives me a 503 error.

<img width="709" alt="Scree

[2021-05-21 13:58] calumleask commented on #7774
Thanks @nickarocho all working with typescript now

[2021-05-21 14:35] evcodes commented on #7051
I will take a look at this today

[2021-05-21 16:29] ErikCH commented on #7032
I was testing this again today, and I was able to see a loading spinner after clicking the 'Create Account' button, which prevented further clicks. I'll set this pending to be closed unless it's still occurring.

[2021-05-21 17:00] chrisbonifacio commented on #8322
@samih7 can you try @maatMa 's fix and see if this works for you?

[2021-05-21 17:09] UXDart commented on #8315
anyone? what is the best way to solve this? I would prefer to write the logic inside a function tbh, don't like the vtl too much, also in some cases the logic can become very complex, in a function I can write anything I want. also I can re use same function. so that would be a pipeline function "before" the actual auto resolver. is that possible using amplify? Thanks!

[2021-05-21 17:46] medelman17 commented on #7986
I was able to reproduce this issue today while helping out an internal user. We were able to solve it by upgrading Amplify to the latest version (v3.4.3), clearing `node_modules`, reinstalling, etc. Please let me know if, after upgrading to v3.4.3, this remains an issue.

[2021-05-21 17:46] #7986 closed

[2021-05-21 17:51] evcodes commented on #7051
Hello @BDNilsson, I walked through this entire issue and I was able to login without a problem on the first time. This leads me to believe that either some settings are off or you could try a more updated version of Amplify. Please show me your user pool configurations and aws exports.

Here's a video of me registering a user without a phone number and logging them in for the first time:

https://

[2021-05-21 18:00] evcodes commented on #7615
Hey @w1z952, thanks for bringing this up.

Let me take a look at this...

[2021-05-21 18:10] #7615 closed

[2021-05-21 18:33] robokozo commented on #7589
This worked for me. I had to install the same version that was used in the amplify libraries though `zen-observable-ts@0.8.19`

[2021-05-21 18:36] wylie39 commented on #8323
It turns out that is not a bug. AWS Cognito requires that all accounts be confirmed. If you don't have an email or password field you have to have a lambda mark the account as confirmed automatically. Once this is set up the UI behaves as expected and skips the confirm page.

[2021-05-21 22:23] danrivett opened #8326 "Allow DataStore to subscribe to Custom Mutations"
### Is this related to a new or existing framework?

_No response_

### Is this related to a new or existing API?

DataStore

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

I'd like the ability to create custom GraphQL Mutations that are invoked by backend processes (e.g. Lambdas) and have DataStore pick these data model updates up via subsc

[2021-05-21 22:28] danrivett commented on #8326
@iartemiev I'd appreciate you taking a look at this as I may be mistaken on how DataStore works, and this ticket may not be valid. But we're currently working on creating some batch processes on the backend which could generate a few thousand updates and it appears I may have to issue each update individually which seems really inefficient, slow, and expensive.

If we could create a batch Mutation

[2021-05-21 22:41] sharmilathirumalai commented on #4890
Hi,

I'm facing the same issue in Vue.

**Description**

User ends up with two verification codes on trying to initiate password reset from admin side.

**Steps To Reproduce**
1.  In AWS Cognito console, click "Reset Password" for a user with verified email address. The account status now would change to RESET_REQUIRED. (Note: A verification code will be now sent to the registered email of this us

[2021-05-21 22:59] chrisbonifacio commented on #8237
@JoeKlimcak This might be a silly question, but when you installed `amazon-cognito-identity-js`, did you also run `pod install` inside of your ios folder?

If so, maybe upgrade it to the latest version and run `pod update`?

[2021-05-21 23:56] siolfyr commented on #2797
I don't understand. I'm getting this same error message when a user clicks on the link that Cognito sends via E-mail. Shouldn't it just redirect back to the site, or at least tell the user they're confirmed? Why just die there with an error message, when the user has been confirmed? From the user's point of view, this is what they want: their account is confirmed. Why error?

I.E. the user is not

[2021-05-22 02:42] jarrodwatts commented on #7824
Hey @ericclemmons I'll post what code I was using to encounter the error.

So I was using the following code for Amplify.configure:
[code]

and then for example, in one of my dynamic route pages, I have this code for `getServersideProps`:
[code]

IIRC, the error was "No current user" in the `console.error`, inside the `catch` of the `Amplify.configure`.

The `getServersideProps` code worked fine u

[2021-05-22 04:45] michaelgmcd commented on #8053
@chrisbonifacio I've been struggling with this issue for the past couple of days. Happy to walk through some steps here. I'd prefer not to use the "aws-amplify" package as it adds a lot of extra dependencies, but I've tried with/without it with no luck. I'm not using the amplify CLI for my infrastructure (I'm using the aws-cdk). I've tried enabling unauthenticated identities in my identity pool an

[2021-05-22 04:47] michaelgmcd commented on #8053
For me, the issue is the line below. Despite having auth configured (and being able to log in via the user pool), it's always null:
`const credentials = await Credentials.get();`
https://github.com/aws-amplify/amplify-js/blob/d59880c4a427efadfd4c06961e352ad678914721/packages/analytics/src/Providers/AWSPinpointProvider.ts#L720

[2021-05-22 04:51] sidverma32 commented on #8199
Hi @chrisbonifacio ,  I would like to pick this up. If you can guide me how to proceed from here?

[2021-05-22 06:24] chrisbonifacio commented on #8053
It looks like most of your scoped amplify packages are v3 but your analytics package is on v4. I think you might have to either upgrade the others to v4 as well, or downgrade analytics to v3. Might be quicker to downgrade, so could you do that real quick and let me know it helps?

[2021-05-22 06:53] sidverma32 commented on #8096
Hi @ErikCH , I would like to pick this up. If you can guide me how to proceed from here?

[2021-05-22 07:17] sacrampton commented on #6260
Hi @TheMoums - just wanted to follow up on a comment in your earlier response (https://github.com/aws-amplify/amplify-js/issues/6260#issuecomment-831080188)

"...This is why, I simply use the graphql operations instead (graphql/queries.ts and graphql/mutations.ts) to interact with these tables. And, I sometimes perform a periodic refresh on these tables to make sure that my data stays consistent.

[2021-05-22 12:37] gruckion commented on #3611
Update your documentation

https://docs.amplify.aws/lib/auth/advanced/q/platform/js

[2021-05-22 14:33] nazmifeeroz commented on #678
2 years later since this issue was opened, I'm still seeing this error in React app..

I'm following the Amplify tutorials exactly.

Am i missing any sort of config?

[2021-05-22 23:18] localsecurity-emily commented on #7986
@medelman17 I am still able to reproduce this issue after upgrading to 3.4.3

[2021-05-23 00:33] getglad commented on #8322
crypto-js version 3.3.0 seems to clear the issue for me as well

[2021-05-23 07:13] lhmcn opened #8329 "May I have a way to override the height of auth-container?"
### Is this related to a new or existing framework?

React

### Is this related to a new or existing API?

_No response_

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

The min-height of auth-container is set to 100vh, and it's a shadow DOM and cannot be overridden. It seems it's designed for full-screen use. But what if the user wants to go

[2021-05-23 07:36] Tris-909 commented on #987
This problem is still available. I'm currently working on a ticket for my company using Amplify and Cognito where user can change their email in cognito. We have a gap where I will turn off my computer between GetUserAttributeVerificationCode and VerifyUserAttribute. New email will be saved to Cognito and will be marked as unverified. However I have users walk through phone_number_verification pro

[2021-05-23 07:37] DevNM21 commented on #3494
A workaround for this would to be add rewrites in your amplify's settings.
Something like this perhaps:
![Screenshot_2021-05-23_12-34-42](https://user-images.githubusercontent.com/46824652/119252069-c1d85b80-bbc7-11eb-8a2d-1189b4de6ec9.png)
Mine was next.js application and it worked fine.

[2021-05-23 07:50] samih7 commented on #8322
@maatMa @getglad Do you guys mean installing `crypto-js` 3.3.0 as a direct dependency while still keeping `aws-amplify` >= 4.0.1? Doesn't work for me no, since `aws-amplify` keeps using `crypto-js` 4.0.0 I think. However, downgrading to `aws-amplify` < 4.0.1 works.

[2021-05-23 09:02] SvyatHoly commented on #3159
Please reopen this issue. We have a critical blocker with amplify. There are tons of bugs with this framework we face every day.

[2021-05-23 12:15] nathanagez opened #8373 "Subscription returns null when using both owner and group authorization"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-05-23 14:46] michaelgmcd commented on #8053
Hey thanks for the response. Running `npm dedupe` in addition to upgrading everything was the solution. The analytics module had it's own nested core module.

[2021-05-23 15:06] chrisbonifacio commented on #8053
Awesome! You were right on the money about it being caused by the dependencies :smile:

Glad you got it working again. Enjoy the rest of your day!

[2021-05-23 15:06] #8053 closed

[2021-05-23 18:13] halilduygulu commented on #4751
me too. spent a day on this reading all docs and google results.
https://github.com/aws-amplify/amplify-cli/issues/7386

[2021-05-23 21:40] sacrampton commented on #8285
Hi @iartemiev - can you comment on this - when I do amplify codegen models and I have a "one sided connection" it generates a "HAS_ONE" connectionType - and importantly it includes the targetName as a field on the model.

[code]
BUT, if the connection has 2 sides (ie. @key ) then it creates a BELONGS_TO connectionType. It does not include    "associatedWith": "id" in the association and it does no

[2021-05-23 23:41] Tris-909 commented on #987
For anyone who is looking for a workaround. Please follow this link [https://github.com/aws-amplify/amplify-js/issues/987#issuecomment-508059168](solution). This is the most fined solution and the only so far. The email attribute has nothing to do with the verifcationCode after you have sent your verificationCode to this newEmail. So you can freely switch back to the old verified email by trigger

[2021-05-24 00:11] br1ansho3 commented on #2146
Where do you set this?

[2021-05-24 01:10] AlastairTaft commented on #8113
Upgrading `aws-amplify@3.3.11` to `aws-amplify@4.0.2` worked for me.

[2021-05-24 01:50] adikdev5 opened #8332 "Uncaught ReferenceError: exports is not defined in CryptoOperation.js - Svelte Typescript"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-24 06:06] barosanuemailtest opened #8333 "Can't resolve '@aws-amplify/core'"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-24 07:47] johandui commented on #8258
Hello there I currently use only aws-amplify.  Running Create React App in development mode, I worked fine, but after exporting it and running that in a webserver, I got the No Auth module registered in Amplify error. I also tried last versions but still got this issue.
` "aws-amplify": "^3.3.27",`

[2021-05-24 11:35] haolinj commented on #1453
Hi, I would love Storage.put({ uri }) to be supported as well.

But the xhr workaround described works in the meantime. Just want to point out you can sign the upload URL with the access key, secret key and session token from (as mentioned here https://github.com/aws-amplify/amplify-js/issues/337#issuecomment-367735416):
[code]

[2021-05-24 11:58] yaquawa opened #8334 "add a way to config GraphQL Codegen"
### Is this related to a new or existing framework?

_No response_

### Is this related to a new or existing API?

_No response_

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

I want to remove `__typename` from the `api.ts`, with the raw GraphQL Codegen, I could config this by the [skipTypename](https://www.graphql-code-generator.com/docs/p

[2021-05-24 12:16] iartemiev commented on #8285
@sacrampton that is currently the expected behavior for Has One vs. Belongs To, however, we're looking into including the connection field in the generated model, so that it can be queryable.

[2021-05-24 12:39] nemezisSherokee commented on #5037
Hello is the feature now available ?

[2021-05-24 14:22] VladislavLobakh commented on #6202
Your warning are not related to aws-amplify library. For example, you need to fix imports of rxjs.

[2021-05-24 14:33] chrisbonifacio commented on #8333
I created a TS project with those packages and versions you have but did not run into this issue.

There's probably some issue with the dependency versions not matching.
https://docs.amplify.aws/lib/troubleshooting/upgrading/q/platform/js

If that doesn't work, would you mind removing the `@aws-amplify/auth` package and importing Auth from `aws-amplify` instead?

You should still be able to import

[2021-05-24 14:37] marco910 commented on #8119
@chrisbonifacio I will test it with a demo project in the next few days and give you feedback after that.

[2021-05-24 14:44] siegerts commented on #8334
Hi @yaquawa  :wave:, thanks for raising. I'm going to transfer to the Codegen repo to get some more eyes on it.

[2021-05-24 14:55] iartemiev commented on #8326
Hey @danrivett, thank you for opening this feature request! Currently, DataStore generates subscription queries at runtime and there's not a way for developers to customize them or add additional subscription queries for DataStore to utilize.

I've not worked with batch mutations in AppSync very much, but have you had a chance to see whether AppSync subscriptions work as you're expecting with batc

[2021-05-24 15:11] gabconcepcioninsurelife commented on #2087
base from @ruiyang answer, i switch the auth flow using this guide https://docs.amplify.aws/lib/auth/switch-auth/q/platform/js

[2021-05-24 16:04] drewdru commented on #5516
I had same problem.

I fix it when I change my main.ts
[code]
import {DataStore} from '@aws-amplify/datastore';
import {User} from '../models';

@Component({
  selector: 'app-edit-page',
  templateUrl: './edit-page.component.html',
  styleUrls: ['./edit-page.component.scss']
})
export class EditPageComponent implements OnInit {
  subscription;

  ngOnInit() {
    this.subscription = DataStore.obse

[2021-05-24 16:40] ErikCH commented on #5651
@thinknirmal A quick work around for this is to use the `header-subtitle` slot. Inside that slot you can add in your federated login buttons.
https://docs.amplify.aws/ui/auth/authenticator/q/framework/react#sign-up

[2021-05-24 16:49] ericclemmons commented on #8254
Ahh, so I just remembered why this probably isn't working – `type` isn't so much for `<input type={type}>`, but to indicate what type (e.g. `username`, `email`, `code`) field it is:

https://github.com/aws-amplify/amplify-js/blob/8d62d9d9dd1d5934f40c0b800ab2440d805d4239/packages/amplify-ui-components/src/components/amplify-confirm-sign-up/amplify-confirm-sign-up.tsx#L169-L177

It looks like, from

[2021-05-24 17:25] michaelgmcd commented on #8076
When in doubt, check versions. Downgrading analytics to v4 worked for me @b-tiwari

[2021-05-24 17:33] michaelgmcd commented on #8076
Related, @chrisbonifacio is there an upcoming v5 release for core and pushnotification?

[2021-05-24 18:23] #7051 closed

[2021-05-24 18:35] eddiekeller commented on #8096
@taylor-kn @nstilesm I'm actually having trouble reproducing this. I set up a new app for this and was able to sign up and, subsequently, sign in a user using Chrome on Android without issue. No errors popped up for me. I used the code sample you provided and tried with both the versions of amplify/ui-react that you are using, and the latest versions as well. Both were successful.

Can you share w

[2021-05-24 19:27] PrgrmmrOleg commented on #8322
Got the same error.
Downgrading  and installing crypto-js 3.3.0 doesn't help

[2021-05-24 20:02] StephenA1 commented on #4886
Seem to be having a similar issue when attempting to use amplify from AWS. It keeps failing on the "import { API, graphqlOperation } from "aws-amplify";" line with error "The package at "node_modules/@aws-amplify/auth/node_modules/crypto-js/core.js" attempted to import the Node standard library module "crypto"". I know that the crypto module is deprecated, but I';m not sure why AWS amplify is tryi

[2021-05-24 20:55] Goszu commented on #7944
@samih7 v4 blows up with Expo:

`The package at "node_modules/crypto-js/core.js" attempted to import the Node standard library module "crypto". It failed because the native React runtime does not include the Node standard library. Read more at https://docs.expo.io/workflow/using-libraries/#using-third-party-libraries`

[2021-05-24 20:59] Goszu commented on #8322
Same here

[2021-05-24 20:59] #7913 closed

[2021-05-24 21:13] danrivett commented on #8326
Thanks for taking a look @iartemiev, I appreciate it.

I haven't yet attempted batch mutations as up until now we've deliberately tried to avoid creating custom mutations but instead just use the ones generated by Amplify as we were concerned about straying outside what was supported by DataStore. However we're now looking at implementing functionality that could eventually lead to thousands of re

[2021-05-24 21:17] sacrampton commented on #8285
@iartemiev - just want to confirm that by editing the schema.js to add the fields (had to make them optional even if they were mandatory) and the "export declare class <Models>" in the index.d.ts files that this gets DataStore working with those fields being queryable. Is a significant undertaking the first time - but after that you can use something like Visual Studio Code to manage changes betwe

[2021-05-24 21:23] iartemiev commented on #8285
Thank you, @sacrampton, I understand that that's a workaround you're using.

Before we (the Amplify team) make that change in the codegen library, we need to consider the ramifications of doing so and whether there are better alternatives for exposing that field. I'll keep this issue updated as we make progress on this.

[2021-05-24 21:35] iartemiev commented on #8326
Thanks for the additional info, Dan. Your use case definitely makes sense to me.

There are a few things to consider:
1. I'm not certain whether AppSync subscriptions work with batch mutations in general (I know they're not supported in DataStore, but I'm not sure whether they would work outside of DataStore either, i.e., through the API category)
2. If they don't, AppSync would need to implement

[2021-05-24 21:37] iartemiev commented on #8326
I will report back once I find out the answer to 1.

[2021-05-24 21:42] wlee221 commented on #8329
Hello @lhmcn, thanks for raising this issue! You mean `amplify-container`, not `amplify-auth-container`, right?

We recently had this PR https://github.com/aws-amplify/amplify-js/pull/8181 that removed shadow DOM from `amplify-container` so you should be able to target and style it with CSS directly. Can you try the latest `@aws-amplify/ui-react` and see if you're able to style it?

[2021-05-24 21:45] danrivett commented on #7534
For reference I also ran into similar problems with multi-owner access and wrote it up previously in #7989 as didn't come across this issue when searching.

My ticket doesn't contain anything in addition to what Ivan has mentioned here, but it's heartening for me at least to see that the multi-owner use case seems to be quite a common requirement. Our upcoming roadmap over the next 3 months relies

[2021-05-24 21:47] #8323 closed

[2021-05-24 21:58] iartemiev commented on #7534
@danrivett, @mir1198yusuf - a quick update on this: the AppSync team is actively working on a solution on their end that would (among other things) enable this use case. Once they have completed and released this feature, the Amplify client-side libraries will work on utilizing it on our end, specifically to add the functionality requested in this issue.

It's prioritized on both the service and c

[2021-05-24 22:20] danrivett commented on #7534
That's fantastic @iartemiev. That's really encouraging, thank you for the update!

I can understand it may take a while for this to get implemented (likely on the order of several months just for AppSync functionality to be implemented, and then the same again for DataStore if none of it can be done in parallel) but the fact this use case is understood, prioritized for inclusion, and is starting t

[2021-05-24 23:21] wlee221 commented on #8254
Looking at this too! I agree with @ericclemmons that this can be better handled with [Translations](https://docs.amplify.aws/ui/customization/translations/q/framework/react). Though I'm in still happy to review your PR if you're still interested in merging it, as this is still technically a bug in `confirm-sign-in` if you're trying to use `formFields.props`. I'll leave that up to you!

[2021-05-24 23:26] martinmalia commented on #8333
I also have this issue with a project. Amplify 3.4.3 works fine but @aws-amplify/core package is missing in node modules for 4 onwards. API has a dependency on core which it can not find. @chrisbonifacio how are you creating the TS project because I have been unable to get a single project to work following the Amplify directions and using amplify 4.

[2021-05-24 23:48] jmarshall9120 opened #8337 "Hosted UI returns tokens, but Hub and onAuthUIStateChange continue to give login error."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-24 23:50] iartemiev commented on #7534
No problem, Dan! We'll post an update here as soon as the AppSync feature in question gets released

[2021-05-24 23:55] wlee221 commented on #8254
Having read into our code a bit more, I'm in favor of leaving the code as is. `confirm-sign-in` is less flexible than other components and only expects a `code` input field, so I don't see much value in exposing `formFields` prop to be overridden.

Can you let us know if @ericclemmons's workaround works? The translations you would use in your use case would be `Translations.CODE_LABEL` and `Transl

[2021-05-25 03:14] vladimirzoyan commented on #7036
any update on this? It's becoming a really big issue with content admin users.

[2021-05-25 06:42] dennybiasiolli commented on #8254
Thank you all, my primary goal for my changes (as requested by our customers) was to change the input type from "code" to "text", in order to remove the "up and down" buttons on the input. I tried with CSS without luck, so I decided to inspect the code inside AWS because [in the documentation](https://docs.amplify.aws/ui/auth/authenticator/q/framework/vue#confirm-sign-in) it seems possible.

Other

[2021-05-25 07:04] TheMoums commented on #6260
Hey @sacrampton,

For your first question: **amplify codegen models** rebuilds the _models_ folder. I was talking about **amplify codegen** which rebuilds the _graphl_ folder. Not to worry about the file extension, It is because I am using Typescript instead of Javascript but queries.js and mutation.js are perfectly fine as well.

As for your 2nd question, in case of doubts, it is always good to t

[2021-05-25 08:44] chriszirkel commented on #7534
I haven't ran into this issue yet, but I'm following it because I got similar requirements.

Is the problem with multi-owner access only concerning the DataStore on the client side, or also the whole GraphQL API deployed by the CLI?

[2021-05-25 09:24] mahayash315 opened #8338 "Support border-color and padding for <AmplifyS3Album> through CSS properties"
### Is this related to a new or existing framework?

Angular, React, Vue, Web Components

### Is this related to a new or existing API?

Storage

### Is this related to another service?

n/a

### Describe the feature you'd like to request

As a developer, I want to change border color and padding of images in `<AmplifyS3Album>` component so that I can integrate this feature into my service with ou

[2021-05-25 10:23] nubpro commented on #7251
Hi, is this issue resolved 100%?

Can I use pinpoint now?

[2021-05-25 10:54] GeorgeBellTMH commented on #7251
I received this error - exceeded maximum endpoints per user count: 15 just 39 hours ago...I don't believe it is fixed.

[2021-05-25 12:44] danrivett commented on #7534
@chriszirkel it's both, because AppSync itself doesn't allow you to subscribe to updates if the owner field on the type is an array of permitted owners, only a single owner id. When using an owners array field, currently you either have to subscribe without specifying any owner value (and so receive updates for every item, even ones not permitted to read), or subscribe and specify an exact match o

[2021-05-25 13:04] iartemiev commented on #7036
We're currently working on a solution to this issue with the AppSync team. Should be able to provide an update soon

[2021-05-25 14:37] maatMa commented on #8322
@samih7 Maybe you could try another package manager. In my case I used `npm`.

[2021-05-25 17:28] ericclemmons commented on #8254
Ah, so these are all really good points:

First, `number` is the wrong `<input type>` IMO for the `code`:

https://github.com/aws-amplify/amplify-js/blob/8448b4fe1f995f0d6056bcb46dd0fb2023fb197d/packages/amplify-ui-components/src/components/amplify-code-field/amplify-code-field.tsx#L35

This has been documented at length (https://www.twilio.com/blog/html-attributes-two-factor-authentication-autoco

[2021-05-25 18:35] iartemiev commented on #7036
@nubpro after further testing, it appears that this is only reproducible with the steps you provided above if you call `DataStore.stop` or `DataStore.clear` _before_ the library destroys all of the open socket connections, i.e., before these logs are emitted:
[code]
Stopping DataStore at that point prevents it from cleaning up the socket connections correctly and when you call `DataStore.start` af

[2021-05-25 18:38] iartemiev commented on #7036
@vladimirzoyan could you please share how many models you have in your schema and exactly which steps/user actions lead to the "max subscriptions reached" error?

[2021-05-25 19:17] jamesaucode commented on #2965
#8336 might fix some of your issues regarding React Native. Large file uploads will no longer freeze the UI or throw Out of Memory errors

[2021-05-25 19:25] jamesaucode commented on #7750
#7751 should fix this, closing this now.

[2021-05-25 19:25] #7750 closed

[2021-05-25 19:33] PrgrmmrOleg commented on #8322
@maatMa I used npm and yarn. I have the same behavior for both

[2021-05-25 19:46] james-braund commented on #5800
Hi there - I seem to be encountering this issue myself, around a year after this was closed. I am also trying to create an entity which has an optional relationship with another entity, which gives an error when I do not provide one.

In my data model, I have `Subjects` which can attend one or more `Sessions`. However, when a `Session` initially begins, the `Subject` attending that `Session` is no

[2021-05-25 19:50] jamesaucode commented on #7262
Hi @j2d2, in Storage we uses `Axios` as our custom HttpHandler for our s3client, and the default timeout is unlimited. [axios doc](https://github.com/axios/axios/blob/master/README.md#request-config)

I manually tested the behavior by throttling the network speed, and it was able to keep the put request going for 10+ minutes (I didn't test any further than that), but that should work for your use

[2021-05-25 20:26] wlee221 commented on #8060
@sblackstone, apologies for the late reply. In that case, it should be okay to do it with the code snippet you shared (or having those aws-exports credentials stored somewhere secure so you don't need to fetch it). I'll be closing this as tree-shake problem was resolved. Please feel free to open a new issue if you face difficulties with Amplify. Thanks!

[2021-05-25 20:26] #8060 closed

[2021-05-25 20:57] chrisbonifacio commented on #8332
Hey, @adikdev5  👋 Would you mind trying to add this to your rollup config?

`@rollup/plugin-replace`

[code]

[2021-05-25 21:23] roysailor opened #8341 "Unable to resolve module `crypto` from `node_modules/crypto-js/core.js`: crypto could not be found within the project"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-25 22:53] jmarshall9120 commented on #8337
Pretty sue this the answer to this bug is to escape '/' and '?' when comparing query string keys.

return k.match(/^(?:\/\?|\/|\?)access_token/g) !== null || k === 'error';

[2021-05-25 22:53] wlee221 commented on #8254
Thanks for the insight, @dennybiasiolli! I think the problem really points to our ambiguous use of `type` as @ericclemmons brought up:

I think this could have been better named as `fieldType` to clarify this 😅

To actually set the `<input type="text">`, we can use the `inputProps` to do so which will take precedence and pass the attributes to the inner `input` element. The code will look like thi

[2021-05-26 00:07] evcodes commented on #3159
Hey everyone, I am going to be working on reproducing this issue so please be patient as this is somewhat complex.

[2021-05-26 00:38] sacrampton opened #8342 "DataStore syncExpression causing "Resolver invocation limit reached" error"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-26 01:45] Jun711 commented on #7574
@mkrn

Is there a typo in `"s3:CreateMultipartUpload"`?  I got this error when I pasted it in IAM policy writing window input

<img width="658" alt="Screen Shot 2021-05-25 at 6 44 08 PM" src="https://user-images.githubusercontent.com/6880939/119590234-34446980-bd89-11eb-8904-63b5783d06cf.png">

[2021-05-26 01:51] Jun711 commented on #6419
@jamesaucode
Would your fix work on Cordova apps too? we face the same issue on Cordova.

[2021-05-26 05:56] maatMa commented on #8322
Then my last idea is to delete the `node_modules` folder, clear the package manager cache and install again.
But because this was just a quick workaround for me, I really would like to have a good solution one day. I don't think that `crypto-js` will give us a fix because of the release notes.

This is an update including breaking changes for some environments.
In this version Math.random() has be

[2021-05-26 06:13] adikdev5 commented on #8332
Hi @chrisbonifacio,
Thank you. I have tried and it did passed the build, however, the page does not load and getting this error when I try to use `Auth` in App.svelte.
Are we sure it bundled properly by replacing that line?

![Screen Shot 2021-05-25 at 10 59 13 PM](https://user-images.githubusercontent.com/1070328/119609704-e3466c80-bdac-11eb-9a13-816f3e94eadf.png)

I found similar issues and it s

[2021-05-26 07:14] oliverandersencox commented on #3474
@sammartinez is there any news on this or any solution we can apply ?

[2021-05-26 07:27] dennybiasiolli commented on #8254
@ericclemmons thanks!
I discovered I can update the "default" translation in another way:
[code]

This way we are updating the translations for the user's browser language (`navigator.language`) without overriding the default translations 😉

[2021-05-26 07:32] dennybiasiolli commented on #8254
@wlee221 thanks for your response, this will be perfect.
I'm using #8255 and
[code]

and everything is working fine, also with the improvements that @ericclemmons suggested

[2021-05-26 08:47] Parkseokje opened #8343 "GCM user endpoint disappears"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-26 12:25] UXDart commented on #8310
is this possible? how can I define which adapter to use? also will that work (stop re-configure start)? thanks

[2021-05-26 14:23] iartemiev commented on #8310
If you want to be able to switch between multiple IDB databases at runtime, you would need to perform more extensive changes than just setting the dbName in the storage adapter. The team will look into adding this as a feature in the future, but it's not something that is on our roadmap at the moment.

I would suggest checking out this blog post on how customers have built multi-tenant apps using

[2021-05-26 14:46] nubpro commented on #8326
From my previous testing, it doesn't unfortunately...
https://stackoverflow.com/questions/60021363/subscribing-to-batch-mutations-with-aws-appsync

[2021-05-26 14:55] nubpro commented on #7036
We have deployed the app to more than 30 stores in production, and roughly 5 of them are suffering the same issue over and over again.
However this was extremely hard reproduced on our end, hence I came up with a consistent reproduction steps to make it easier for you guys to debug further.

No, we aren't calling DataStore.stop() at random. In fact, we don't at all.

I see that you have posted a P

[2021-05-26 14:56] UXDart commented on #8310
thanks, I'm not sure I like a lot the idea of the tenantId... it could easily sync data from user A to user B. and what about "saving auth data".. not sure how to do that. then calling signout, and simulating signin restoring auth data from other user? is there a auth.save auth.read way of doing that? I only need one user X using the app at one moment, but I can't ask the user to sign in again and

[2021-05-26 14:58] iartemiev commented on #7036
It addresses the issue that occurs when following the repro steps. Since we've never been able to reproduce this any other way, I can't say definitively whether it will or not.

[2021-05-26 15:09] nubpro commented on #7036
Welp, I really appreciate the effort for putting time into this. But damn, it took this long to get this issue prioritized. Part of it is because I wasn't able to provide clear steps but damn...

[2021-05-26 15:11] #6996 closed

[2021-05-26 15:11] #6994 closed

[2021-05-26 15:13] nubpro commented on #6488
It's been almost 5 months, erm, what can we expect here?

[2021-05-26 15:15] danrivett commented on #8326
In that case, I do think even if it requires quite a lot of work for the AppSync team, that they should work towards implementing support for firing subscriptions when a batch mutation occurs. It's an entirely reasonable use case in my opinion.

If not then DataStore can't realistically rely on subscriptions to keep data up to date unless it's spelled out very clearly that every mutation has to be

[2021-05-26 15:24] danrivett commented on #8326
@onlybakam not sure if you can shed any light on the above? In particular whether AppSync has on its roadmap any intention or even aspiration to support this use case, if not currently possible as we believe? Thanks.

[2021-05-26 15:24] iartemiev commented on #8341
Hey @roysailor, I just followed your repro steps with a fresh RN CLI app using NPM@6 to install the dependencies (like you have) and was not able to reproduce that module error. I made sure that Amplify Analytics is working as expected too and is able to send events as expected.

I would suggest doing a fresh re-install of your dependencies:
1. `rm -rf node_modules package-lock.json`
2. `npm i`
3.

[2021-05-26 15:42] iartemiev commented on #6406
This should be fixed as part of the DataStore Multi-Auth work that was released in aws-amplify@3.4.0. Please let us know if you're still having this issue.

[2021-05-26 15:53] tiomun commented on #1550
Its kind of absurd that list doesn't already return the files meta data and other parameters, or at least have an option to toggle the data on and off in the response.

Frankly this may end up being a deal breaker for us using amplify which sucks massively since were 6 months into development using amplify for our application already. But I never would have imagined that listing files would be the

[2021-05-26 15:59] nubpro commented on #6406
Ah, thats a relieve
I dont have any DataStore app anymore, so lets just close this since it is addressed like you said

[2021-05-26 15:59] #6406 closed

[2021-05-26 16:06] roysailor commented on #8341
This worked for me. Thanks a lot.

[2021-05-26 16:21] #8341 closed

[2021-05-26 16:42] GiridharCR commented on #7070
@Mootook i doubt `subscribing/unsubscribing in quick succession` is the cause as i see this issue where i do not even unsubscribe the listeners. If i leave the tab open for some time i see the connection closed error after approximately(not sure) 15 min .

[2021-05-26 16:49] menendezjaume commented on #5921
Hi there,

I was having the same problem and bumped into this thread. I was initially using "aws-amplify": "^4.0.2" fwiw.

I have tested your code (which btw is not the same the one from your comment than from your repo) and I still face the same issue:

<img width="1424" alt="Screenshot 2021-05-26 at 18 45 54" src="https://user-images.githubusercontent.com/15260858/119699635-a8970f80-be52-11eb-88

[2021-05-26 17:14] evcodes commented on #7720
Hey @cnikolov, I will be taking a look at this today and let you know if I have any updates or questions.

[2021-05-26 17:22] nickfreemandesign commented on #1213
For anyone else going in circles on this, keep in mind that `CognitoIdentityServiceProvider` makes HTTP request under the hood, meaning if you have some lambda running this then your lambda needs access to the internet to make it happen. NAT Gateways allow you to achieve this but at a cost of like 30 bones per month

[2021-05-26 17:28] chrisbonifacio commented on #8337
Good afternoon, @jmarshall9120! 😃  Thank you for submitting this and trying out to fix it! If you can track it down and submit a PR, that would be awesome. In the meantime, I will report this to the team and see if we can help figure out what the cause might be.

[2021-05-26 18:48] saurabh53 opened #8345 "Update and Delete mutations producing ConditionalCheckFailedException"
Update and Delete mutations are producing  The conditional request failed (Service: DynamoDb, Status Code: 400, Request ID: 6O1I23EV24BR5FV8EGNUMDH1E3VV4KQNSO5AEMVJF66Q9ASUAAJG, Extended Request ID: null) error

The Code was working fine before owner auth directive was used

Schema for Question . Only owner can delete or update questions.

[code]

Mutation

[code]

Query
[code]

[2021-05-26 20:41] josefaidt commented on #8332
Hey @adikdev5 :wave: after taking a deeper look into this we've found a solution that has allowed us to add auth and sign up with a new user.

- for the `Uncaught ReferenceError: require$$0$2 is not defined`, add the following to your rollup config
[code]
- we can remove the `replace` in rollup and add the following to our `index.html` file
[code]
- and finally our `main.ts` file will look like th

[2021-05-26 21:29] lropero commented on #8329
`<AmplifyAuthenticator style={{ '--container-height': 'auto' }} />`

[2021-05-26 21:59] jmarshall9120 commented on #8337
Another place this occurs

[source here](https://github.com/aws-amplify/amplify-js/blob/main/packages/auth/src/OAuth/OAuth.ts#L225)

[2021-05-26 22:06] wlee221 commented on #8329
@lropero Ah, yes -- to change the inner container properties, using css variable would be the preferred way. Thanks for bringing this up! I'll close this issue as alternatives have been suggested, but please let us know if you have questions.

[2021-05-26 22:06] #8329 closed

[2021-05-26 23:16] angusho1 commented on #5351
@oliverandersencox Do you have any updates on your approach to the social login implementation?

[2021-05-27 00:14] bmw46033 opened #8346 "SSE-C Customer provided encryption key"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-27 02:25] matsuby commented on #7908
@eddiekeller thanks for reply and telling me the location of the documentation.
As written there, "preview" is passed without a value.
[code]
React doc says, [If you pass no value for a prop, it defaults to true.](https://reactjs.org/docs/jsx-in-depth.html#props-default-to-true)
so I think "preview" should support boolean value, is it wrong?

[2021-05-27 06:17] gbermudez1992 commented on #4315
Dependencies
    "@aws-amplify/ui-react": "^1.2.1",
    "aws-amplify": "^3.4.3",
    "next": "10.2.3",
    "react": "17.0.2",

Configuration

import Amplify, { Auth } from "aws-amplify";
import config from "../src/aws-exports.js";

Amplify.configure({
  ...config,
  ssr: true,
});

Works for me.

Auth.configure(config);

[2021-05-27 06:17] #8345 closed

[2021-05-27 07:00] adikdev5 commented on #8332
It worked! Thank you so much.

[2021-05-27 07:00] #8332 closed

[2021-05-27 07:57] muhammadumerfarooq commented on #7106
@ericclemmons any updates?

[2021-05-27 08:08] bcs-gbl commented on #7763
+1

[2021-05-27 08:20] MahsaMaslahati commented on #7032
Thank you @ErikCH . Yes, it's not occurring anymore thanks to the new updates.

[2021-05-27 08:20] #7032 closed

[2021-05-27 09:58] damogallagher opened #8347 "Error in library after upgrading to Angular 12"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-27 12:28] iartemiev commented on #7036
We've released a fix for this in aws-amplify@4.0.3. Closing the issue.

If you continue experiencing this issue after upgrading to the latest version of Amplify, please let us know and we will re-open it.

[2021-05-27 12:28] #7036 closed

[2021-05-27 12:57] UXDart commented on #8310
ok I decided to use separate (this is an electron app) browserview, so each one will have a different session, so each one will have its own signin and indexeddb db. so is like having many browsers each one on different user. thx!

[2021-05-27 12:57] #8310 closed

[2021-05-27 12:58] UXDart commented on #8315
I read in another post that something is WIP about this? to have JS as a pipeline resolver? is there any (not eta) but some idea when this can be start to be used? thanks

[2021-05-27 14:06] thisismydesign commented on #1298
As @jonahperez mentioned I had to append a trailing `/`. However, for dev env where the redirect address was `http://localhost:3000` it was exactly the other way around: a trailing `/` makes it fail but it works without.

[2021-05-27 14:36] thisismydesign commented on #1298
For me, this was caused by a mismatch of the `Sign out URL(s)` app client setting and the sent `logout_uri` param. One had a trailing `/` while the other didn't. So this error meant more something like "sign out URL not found".

[2021-05-27 14:47] menendezjaume commented on #5921
Small nit:

I have re-tried the whole thing and I've got two users (one using google SSO and one using email and password); and here are the results of some tests I've just made:

- Authenticating with email and password using **Auth.signIn(email, password)** returns a token that **works perfectly** and is capable of retrieving all user attributes.
- Authenticating with email and password using th

[2021-05-27 15:01] mbruning24 commented on #1125
I have similar requirements. We use `CustomRoleArn` for enabling multi-tenancy on single apis. One thing I've been seeing across many threads is that amplify doesn't support this property because of the security implications of spoofing the `CustomRoleArn` on the `CognitoIdentityCredentials` call, but in our implementation we are utilizing the `cognito:roles` claim in the JWT which, unless I'm an

[2021-05-27 15:10] PFStein commented on #7763
+1

[2021-05-27 15:10] damogallagher commented on #8347
Issue was resolved for me by following the instructions [here](https://github.com/ghiscoding/Angular-Slickgrid/issues/769)

[2021-05-27 15:37] menendezjaume commented on #5921
Last update from me:

I have been testing Allowed OAuth Scopes and I fixed my problem:
For some reason, the hosted UI for both email and password and SSO, as well as the `Auth.federatedSignIn({provider: 'Google'})` call require the `aws.cognito.signin.user.admin` scope to be enabled to fetch and update user attributed. However, a call to `Auth.signIn(email, password)` does not. I don't fully under

[2021-05-27 15:48] DeniferSantiago commented on #5921
I will leave here the solution I found to this problem: https://github.com/aws-amplify/amplify-js/issues/6444#issuecomment-841614409

[2021-05-27 15:52] DeniferSantiago commented on #2276
Here is the solution I found to this problem: https://github.com/aws-amplify/amplify-js/issues/6444#issuecomment-841614409

[2021-05-27 15:53] DeniferSantiago commented on #1906
Here is the solution I found to this problem: https://github.com/aws-amplify/amplify-js/issues/6444#issuecomment-841614409

[2021-05-27 17:22] #8254 closed

[2021-05-27 17:25] wlee221 commented on #8254
Closing as #8255 is merged. This will be published in the next release cycle. Thanks again for your thorough PR @dennybiasiolli 👍

[2021-05-27 17:38] dorontal commented on #7185
I am also blocked by this issue. I believe this is an Angular 12 issue that shows up with Webpack 5.

Previous versions of Angular do not use Webpack 5 and for those versions of Angular, the following fix has worked for me (see Tarique Ahmed's answer here): https://stackoverflow.com/questions/54162297/module-not-found-error-cant-resolve-crypto/54162447

But ever since upgrading to Angular 12, whic

[2021-05-27 17:53] eddiekeller commented on #3524
I have out a PR for it now that I believe should address the asks here. https://github.com/aws-amplify/amplify-js/pull/8309

[2021-05-27 19:33] chrisbonifacio commented on #8079
@Sebastian-G Closing this issue for now as we have not heard back from you in nearly a month.

@rraczae We're unable to consistently reproduce this issue with a properly configured Auth. This issue is more than likely caused by Auth being misconfigured, which could be a red herring because usually the real cause is some discrepancy with package versions and/or the `amazon-cognito-identity-js` pack

[2021-05-27 19:33] #8079 closed

[2021-05-27 19:35] chrisbonifacio commented on #7696
@ChihweiLHBird Closing this for now as we have not heard back from you in over a week. Please re-open with some additional information if you still need assistance. Thank you!

[2021-05-27 19:35] #7696 closed

[2021-05-27 19:42] chrisbonifacio commented on #5921
@menendezjaume hmm, I did have the `aws.cognito.signin.user.admin` in my scopes but I didn't have to enter that manually, I believe it was generated by the CLI when I went through the auth setup and went down the OAuth route 🤔

I will reach out to the team with this issue and update the docs to reflect this. Thank you for pointing that out!

[2021-05-27 19:45] chrisbonifacio commented on #6444
Closing this for now as we seem to have a working solution and have not heard back from the original poster. Thank you, @DeniferSantiago for pointing out this necessary step.

If anyone else tries this and it does not work for you, please open a new issue with the details of your particular project configuration.

[2021-05-27 19:45] #6444 closed

[2021-05-27 19:51] chrisbonifacio commented on #5921
Otherwise, closing this out as we have a working solution in the necessary step of making sure the `aws.cognito.signin.user.admin` scope is included, in addition to not having heard back from the original poster.

If you try the above and it still does not work for you, please open a separate issue with your particular auth configuration so we can better find the cause of the issue in your case. T

[2021-05-27 19:51] #5921 closed

[2021-05-27 19:51] iartemiev commented on #7714
The fix has been in aws-amplify@4.0.3. Closing the issue.

[2021-05-27 19:51] #7714 closed

[2021-05-27 19:54] chrisbonifacio commented on #7763
If you're experiencing this issue, please try the steps mentioned here https://github.com/aws-amplify/amplify-js/issues/7191#issuecomment-728238337

Please let me know if this works for you.

[2021-05-27 20:47] jmarshall9120 commented on #8337
Hi @chrisbonifacio

I have a fork [here](https://github.com/jmarshall9120/amplify-js) to test the fix.

I'm having a hard time building it into a project for testing.

I've Swaped package.json

[code]
with:
[code]

I have my
[code]
but my imports still won't resolve.  It looks like you have a bunch of custom build tools in the repo I'm not familiar with.  Any chance you have some build instruction

[2021-05-27 21:04] cybercussion commented on #7185
This may help since I went thru it - https://github.com/aws-amplify/amplify-js/issues/4387

[2021-05-27 21:17] rraczae commented on #7763
@chrisbonifacio this issue will only happen in react native and not in the browser. Chrome will just swallow the exception. Since there was no movement here I decided to do an ugly hack which I would not recommend to anyone but basically looks like this:

[code]

And then on Auth screen:

[code]

Hope this helps.

Cheers,
Robert

[2021-05-27 22:24] emmafass commented on #6260
@TheMoums hi there! Thank you for sharing your solution to this problem. Out of curiosity, do you have a method for using [AppSync Subscriptions](https://docs.amplify.aws/lib/graphqlapi/subscribe-data/q/platform/js) for the unsynched tables?

If I'm correct, when you are add `@model(subscriptions: null)` to "BasicExampleOfUnsyncedTable", then `amplify codegen` will not create any subscriptions for

[2021-05-27 22:47] HamzaAnis commented on #7106
@ericclemmons @sammartinez

[2021-05-27 23:00] eperezf commented on #6704
Any news on this feature? Would love to have it as we are doing something similar.

[2021-05-27 23:02] sacrampton commented on #6260
@TheMoums - thanks also for sharing the sync<Model> resolvers - I get it now and wasn't aware how much more sophisticated they are than the list<Model> resolvers. I had been using a queryField to try to get to the GSI's, but that was a poor solution. Thanks again

[2021-05-28 04:06] mm-git opened #8349 "In the case of custom primary key, creating with same key created by other owner, it will be OK."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-28 07:39] #8343 closed

[2021-05-28 07:49] TheMoums commented on #6260
Hi @emmafass,
I have thought about it i.e. to find an other way so that I could use the DataStore subscriptions for my synced models and the Appsync subscriptions for my unsynced models. Unfortunately, both subscriptions are intrinsically the same. They are on the same WebSocket so the limit of 100 subscriptions is applicable for both DataStore and Appsync subscriptions. If you have reached the li

[2021-05-28 07:52] apoorvmote opened #8350 "JS SDK V3 docs for consuming graphql api from lambda"
**Describe the bug**

https://docs.amplify.aws/lib/graphqlapi/graphql-from-nodejs/q/platform/js#signing-a-request-from-lambda
The link above shows how to consume graphql api with lambda using SDK v2. But its been many months since SDK v3 has been generally available.  So I would like updated documentation for v3. The new version is very confusing.

[2021-05-28 08:53] zoloogg commented on #6731
Just confirmed that ClientMetadata is nowhere seen in AWS Lambda triggeres. frustrated.

[2021-05-28 10:11] ahmedtabrez commented on #7178
Hey @iartemiev .... Any update on this ? This is a crutial feature for any business types.

[2021-05-28 10:57] chihab-a commented on #2906
If it can help someone, I had to disable the MFA on Cognito for a specific user, and the only way I found was with the CLI
[code]

[2021-05-28 13:41] emmafass commented on #6260
@TheMoums thank you for your response! That's what I was worried about. Option 3 is really interesting, but you're right that it requires a lot of effort. I think I can avoid it for now.

[2021-05-28 14:00] chrisbonifacio commented on #8337
@jmarshall9120 Hey! Yes, there's this README of our contributing guidelines with instructions on how to build the project 😃

let me know if that helps!

https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md

[2021-05-28 15:38] barosanuemailtest commented on #8333
I've made a mistake in the environment information of this issue. With aws-amplify: ^3.3.17 everything is OK, but the problem appears on aws-amplify 4.
Can you please check if you can reproduce the issue with aws-amplify 4?

[2021-05-28 15:48] chrisbonifacio commented on #8350
Hey @apoorvmote 👋 This is a good issue for the docs team. I'll transfer this over to our docs repo.

[2021-05-28 16:39] eddiekeller opened #8354 "RFC: Logging Improvements"
Using this ticket as a storage site for ideas for future improvements for our logging solution.

** Future ideas **
* CloudWatch EMF logging support
* Support for more external cloud logging providers
* Move Logging into its own api category?
* Add in a separate log level for remote logging?
* Store logs "offline" until connectivity is restored

### Describe the solution you'd like

Will discuss w

[2021-05-28 17:00] martinmalia commented on #8333
I get the same error with 4 no matter the framework or bundler. 3.4.3 includes the @aws-amplify/core folder in node modules while 4+ does not

[2021-05-28 17:47] djom202 opened #8355 "Multiples @connection field values are not downloads in the local DB"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-28 21:21] coe720 opened #8356 "Auth error [Error: Native module not found] on all Auth calls after successful signup and signup verification"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-28 21:36] wlee221 commented on #7081
I opened #8357 to address this issue.

[2021-05-29 10:40] AndyW22 opened #8359 "Error 503 on pages with getServerSideProps with NextJS"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-29 15:56] chrisbonifacio commented on #5179
This only works with @searchable directive which is not compatible with @connection.

[2021-05-29 20:34] tvkit commented on #7538
As mentioned by @Stvad  and elsewhere, `resolve.fullySpecified === false` seems to be the key for Webpack5+

This worked for me in a  Quasar Vue3 (Webpack5) project

[code]

A previous iteration of the project but using Quasar Vue 2 (Webpack4), the following worked

[code]

[2021-05-30 08:04] ElvisLzw commented on #5363
I still have this problem, do you solve it?

[2021-05-30 08:17] ElvisLzw commented on #5363
I still have this issue when using Vue3 + @aws-amplify/ui-components

[2021-05-30 08:44] ElvisLzw commented on #5363
I do not know why but when I set a timeout it can work
Vue3 + @aws-amplify/ui-components
[code]
[code]

[2021-05-30 13:36] nubpro commented on #8354
Does CloudWatch logging works while offline?

[2021-05-30 14:54] dletozeun commented on #8359
Hi,

I reproduce the 503 error with the error in the lambda deploying your repo.

However, something that is also happening is that the CloudWatch logs of the lambda are not the Amplify app deployed region but a different (random?) one.

For example deploying the app to the eu-west-2 region, the logs are visible in eu-west-1 region, deploying to eu-west-1 and the logs were in eu-central-1 region.

[2021-05-30 20:12] MedNabilEssefaihi opened #8370 "Connection failed Max number of 100 subscriptions reached"
Dear Support Team

I am using AWS Amplify in my React Native mobile app and Web app, they are real time app and they need to change data many times in short time, using **GraphQL** with **Subscription** Method

At the beginning everything works fine but after seconds It drops and get me an error message

`"Connection failed: {\"errors\":{\"errorType\":\"MaxSubscriptionsReachedError\",\"message\":\

[2021-05-30 21:59] gruckionvit commented on #5167
For me it's fine on the web react project. But in expo (react-native) when i call `currentAuthenticatedUser` I get;

[code]

Same setup works fine for web, I've tested with Facebook and Google auth. Normal email sign in, sign up works absolutely fine.

[2021-05-30 22:50] sacrampton opened #8361 "DataStore can't create record without optional connection"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-30 22:53] sacrampton commented on #5800
I'm having the same issue as @james-braund (#8361)

@undefobj @SwaySway - Richard / Josue - any ideas on this gratefully accepted.

[2021-05-31 03:07] apoorvmote commented on #8258
Just FYI I am getting weird error that my graphql api variable `date` is null. The interesting part is this only happens in my US and Canada customers. I have tested with my UK, UAE and India customers and same exact code is working perfectly. I bet it has something to do with this auth error that everyone else is having.

I will create seprate issue for my problem. I just wanted to let everyone k

[2021-05-31 06:17] tranthaison1231 commented on #7499
@simlevesque I have the same error live you, do you have any idea to fix it??

[2021-05-31 07:05] meducati commented on #7714
Perfect. Thank you! Will check it out next time I upgrade :)

[2021-05-31 07:48] sacrampton commented on #8361
We worked out the issue. We have to specify all the optional connections as null as shown below then it works fine.

[code]

[2021-05-31 07:48] #8361 closed

[2021-05-31 08:08] m-bilal-dev9 commented on #8200
@wlee221 Nothing is in error log, user has provided the only above screenshot which is showing otpauth string.

[2021-05-31 10:44] #7538 closed

[2021-05-31 12:18] araujobarret commented on #7826
I'm facing the same issue with Android and iOS.
React Native 0.63.4
@aws-amplify/pushnotification: 4.0.2

[2021-05-31 12:43] irmanherdiana commented on #1924
Yes I'm having the same issue here

[2021-05-31 15:59] mikhail-shekhtman commented on #7070
hey @mchitson, @chunyanj was the issue eventually resolved? Were you using MQTT as transport or WebSocket?

Can we experience the same as what was fixed at MQTT year ago and now connection is closing on WebSocket transport?

[2021-05-31 17:05] njariwala2019 commented on #1324
It may not be an ideal solution but here is how we solved the problem of getting all the logged-in users on the site.

https://www.lazydeveloper.tech/aws/aws-amplify-list-the-currently-logged-in-users/

The same thing can be done to get the list of all the users. You can create a Dynamodb table to keep an entry of all the registered users. Retrieving data from Dynamodb is much easier and safer as

[2021-05-31 17:14] njariwala2019 commented on #8356
Did you try calling the signIn method without the curly braces?

`await Auth.signIn( username, password );`

[2021-05-31 19:43] returnKitten commented on #3853
Any update on this?

[2021-05-31 20:05] simlevesque commented on #7499
@tranthaison1231

did you try the fix I mentionned in my previous comment ?

[2021-06-01 02:30] tranthaison1231 commented on #7499
![image](https://user-images.githubusercontent.com/43759215/120258277-eadda800-c2bb-11eb-939b-316255e373f1.png)
I got an error like this.

[2021-06-01 09:31] asyschikov commented on #6330
@ericclemmons I am still having the same error and I am not sure what the ui-angular package has to do with that, here is the code that causes Auth double initialisation: https://github.com/aws-amplify/amplify-js/blob/main/packages/auth/src/Auth.ts#L2201 . So Auth is always configured twice which results in duplicate token request in case of federated sign in.

[2021-06-01 13:51] iartemiev commented on #8333
I was able to reproduce this with npm@7 specifically. The issue is caused by conflicting peer dependencies and the way npm 7 handles them. PR with the fix has been opened: https://github.com/aws-amplify/amplify-js/pull/8368

[2021-06-01 14:11] iartemiev commented on #8355
Hi @djom202, could you please share:
1. the schema definitions for these 3 models
2. the app code where you're saving the data (e.g., where `activityHistoryVehicleId` is being set in the client)
3. is `activityHistoryVehicleId` showing up as `null` on the same device where you saved the data originally, or is that how the data syncs down to a different device?

[2021-06-01 14:17] jo2 commented on #6885
Is there anything new on this issue?

As far as I've seen, the required field is not used in https://github.com/aws-amplify/amplify-js/blob/56deb453a2b31ac8c7f53741507dca7df8ef7fa8/packages/amplify-ui-components/src/components/amplify-select/amplify-select.tsx#L71-L78 and https://github.com/aws-amplify/amplify-js/blob/56deb453a2b31ac8c7f53741507dca7df8ef7fa8/packages/amplify-ui-components/src/comp

[2021-06-01 14:20] chrisbonifacio commented on #8237
Closing this for now since we haven't heard back in over a week. Please re-open if you are still experiencing issues.

[2021-06-01 14:20] #8237 closed

[2021-06-01 14:27] iartemiev commented on #8347
Thanks for reporting the issue, @damogallagher. This will be fixed going forward once we merge https://github.com/aws-amplify/amplify-js/pull/8369

[2021-06-01 14:33] iartemiev commented on #8322
You shouldn't need to manually install the previous version of CryptoJS. Please try performing a fresh re-install of your dependencies:

1. `rm -rf node_modules package-lock.json`
2. `npm i`
3. `npx pod-install`

[2021-06-01 14:45] chrisbonifacio commented on #8370
Hi @MedNabilEssefaihi 👋 Would you mind sharing the code where you're creating the subscription for the user?

[2021-06-01 14:49] iartemiev commented on #8370
@MedNabilEssefaihi, are you using the Amplify API category or DataStore?

[2021-06-01 15:54] #8347 closed

[2021-06-01 16:12] eherms commented on #6555
Yeah this is a problem. Upgraded to amplify 4.0.3 and now when I try to run Auth.currentAuthenticatedUser() in my getServerSideProps function, it returns with 'The user is not authenticated', but when I run a helper function that runs Auth.currentAuthenticatedUser() in the same page outside the getServerSideProps function, it returns with the signed in user.  Bewildering.  Worked fine before the u

[2021-06-01 16:44] michaelbrewer commented on #1274
I am not sure where to look for the changes, i would suggest to the team to implement something like what happens with the Lambda Powertools (https://github.com/awslabs/aws-lambda-powertools-python/releases)

[2021-06-01 17:14] half2me commented on #7499
thanks this worked for me

[2021-06-01 17:48] mashuoyi111 commented on #6320
+1

[2021-06-01 18:19] chrisbonifacio commented on #8292
`Auth.forgotPassword` returns data in its response, logging this

<img width="322" alt="Screen Shot 2021-06-01 at 2 16 27 PM" src="https://user-images.githubusercontent.com/16952986/120371537-f775f680-c2e3-11eb-873d-19e691c79ef8.png">

@berkaygurbuz @mauerbac I just tried `Auth.forgotPasswordSubmit` and there doesn't seem to be any data returned from the call to Cognito, just responds with a 200 s

[2021-06-01 18:48] eddiekeller commented on #8354
@nubpro No, not yet. Although...I suppose the current implementation *will* keep trying to submit logs to CloudWatch while they exist in the queue...so once connectivity is restored, I would expect them to get pushed up.

But, that is an inelegant solution at the moment. There is certainly a better approach that can be taken. I will add that to the list in the parent comment.

[2021-06-01 18:49] eddiekeller commented on #3524
PR has been merged in. New ticket tracking future improvements has been made here https://github.com/aws-amplify/amplify-js/issues/8354

[2021-06-01 20:17] eddiekeller commented on #7908
I see, so it sounds like what you are asking is for the value of the prop to be a `boolean` *instead of* a string. Is that accurate? So if you want the preview to be hidden, you would pass in `preview={false}` instead of `preview={'hidden'}`?

If I'm understanding that correctly, then I think I agree with you. A boolean makes more sense to me. However, this component was made quite a few years ago

[2021-06-01 20:33] chrisbonifacio commented on #8195
@DeniferSantiago could you try adding `aws.cognito.signin.user.admin` to your scopes in `aws-exports`?

[code]

[2021-06-01 20:40] swaminator opened #8371 "Test"

[2021-06-01 20:40] #8371 closed

[2021-06-01 21:28] coe720 commented on #8356
No the opening param takes in an object of type SignUpParams so that wouldn't work. I also tried just starting up a new React-Native project and it works totally fine there. Setup was exactly the same.

[2021-06-01 21:51] eddiekeller commented on #7908
@matsuby I approved the PR. Looks good to me! :)

[2021-06-01 21:52] DeniferSantiago commented on #8195
The scopes are already added

[2021-06-01 22:53] michaeljcalkins commented on #8354
All of our teams lean into `CloudWatch EMF logging` quite heavily so that we don't have to setup MetricFilters in CDK.  That will likely be a blocker for teams from migrating to this at the moment.

`Store logs "offline" until connectivity is restored`, I hadn't thought of this one but would be incredibly insightful.

[2021-06-01 23:28] bwyss commented on #4315
This issue should not be closed until proper documentation of Auth.configure(config); is available.  Please see: https://aws-amplify.github.io/amplify-js/api/#configuration

[2021-06-02 01:06] rideddy84 commented on #5130
I think it sometimes could be happening when `data model` is changed.
I resolved that with below.
[code]

[2021-06-02 01:23] yangtavour commented on #7734
I am experiencing the same issue, would love an update on this

[2021-06-02 01:47] CarlJoven opened #8374 "Datastore start function error "Cannot read property 'version' of undefined""
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-02 01:49] eherms commented on #7227
Running into the same issue since updating Amplify to 4.0.3.
In the getSSP code below, it returns with no user even though if I use a helper function using await auth.currentUserPoolUser()  in the same page outside this function, it returns the authenticated user no problem.  Seems to be a problem with withSSRContext?

I have it configured like this:

Amplify.configure({
  ...config,
  ssr: true
}

[2021-06-02 04:51] the-smart-home-maker commented on #4593
Hi there,

I am facing exactly the same problem reported here since lately upgrading my packages to the latest version (`yarn upgrade`).

I can't get my React Native app to run on Android any more as of the following error:
[code]
Is there any solution on the way? Unfortunately this issue here has been closed even though there seems to be no solution yet.

I have also raised a question on StackOve

[2021-06-02 08:17] meducati commented on #7310
I agree to this.

The other way around (while down-syncing), if I cross the 1Mb limit, the Datastore initialization fails silently and my app halts. ("ready" never fires).

In the best of words, Datastore should catch this issue, dynamically lower the syncPageSize so that the initial Datastore sync finishes. At least I would like an "error" Event if "ready" is not an option...

[2021-06-02 09:27] Bariah96 commented on #2560
We're having a problem tho that is the refreshSession is taking too much time (around 10 seconds). any idea why is that ?

[2021-06-02 09:50] Bariah96 opened #8375 "amplify Auth.refreshSession taking too much time"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-02 11:45] hziburski commented on #7570
Is there any progress with this issue or maybe a workaround? This issue makes amplify basically unusable again.

I tried the workaround from @ericclemmons https://github.com/aws-amplify/amplify-js/issues/7570#issuecomment-788405226 to add `config.resolve.extensions = ['.web.js', ...config.resolve.extensions]` to my **next.config.js** but it seems to not work anymore with version "aws-amplify": "^3

[2021-06-02 12:36] jonasduever commented on #7188
In the meantime, I created this npm `postinstall` script.
[code]

[2021-06-02 12:42] abhimanusharma opened #8376 "cognitoUser.confirmPassword"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-02 12:50] iartemiev commented on #8374
Hi @CarlJoven
* Do you have DataStore enabled on your API (`amplify update api` > `GraphQL` > `Enable DataStore...`)?
* Have you tried deleting and re-installing your app in Simulator (or on your physical device)
* Could you please share the rest of your app code with us?

When using `DataStore.query`, DataStore will call `DataStore.start` internally the first time you interact with it, so I don't

[2021-06-02 13:15] CarlJoven commented on #8374
Hmmm, that's weird. My react native app project is just the initial template given by react-native CLI using the typescript template and I am just trying to integrate the datastore API.  For the first question, the project Graphql API has Datastore enabled.

[2021-06-02 13:18] CarlJoven commented on #8374
For additional info. I already have Amplify backend set up with the web app that we develop and for the mobile I am just pulling the models without the amplify folder.

[2021-06-02 13:19] #8374 closed

[2021-06-02 13:24] arslanali16 opened #8377 "Bypass the Hosted UI for use SAML federated sign in."
### Is this related to a new or existing framework?

Angular

### Is this related to a new or existing API?

Authentication

### Is this related to another service?

Cognito

### Describe the feature you'd like to request

Hello,
I am implementing SAML (Okta) based federated sign-in login in my angular amplify application. I have implemented the flow(sign in flow) like following:

Hosted UI URL >>

[2021-06-02 14:08] MedNabilEssefaihi commented on #8370
Dear Mr @siegerts,

Thank you for your answer and oriented my issue to the right place, I already readed that issue #6260 but I am using Amplify API not DataStore.

[2021-06-02 14:15] MedNabilEssefaihi commented on #8370
Dear @chrisbonifacio

I am already fixed the problem

The code was:

[code]

and the solution was adding **.unsubscribe();** like this:

[code]

⚠️ I find the solution in these sources : ⚠️
video:  https://www.youtube.com/watch?v=HZUlQ7Z2xHQ&t=2154s
AWS awmplify docs:  https://docs.amplify.aws/lib/graphqlapi/subscribe-data/q/platform/js#using-amplify-graphql-client

Thank you Sir for your answer

[2021-06-02 14:16] MedNabilEssefaihi commented on #8370
Dear Mr @iartemiev

I am using AWS Amplify (with GraphQL API) not DataStore

[2021-06-02 14:18] chrisbonifacio commented on #8370
Awesome! I had a feeling it might've been the side effect cleanup lol

Thank you for the update and glad we could help! Enjoy the rest of your day, sir 😄

[2021-06-02 14:19] #8370 closed

[2021-06-02 14:19] MedNabilEssefaihi commented on #8370
@chrisbonifacio thank you Mr

[2021-06-02 15:17] gspeicher commented on #7251
I'm getting this error with @aws-amplify/analytics 4.0.22 so it doesn't seem to be fixed for me either.

[2021-06-02 15:37] chrisbonifacio commented on #8195
you have the `aws.cognito.signin.user.admin` scope specifically as well?

It's missing in the `aws-exports` file you shared.

[2021-06-02 16:52] chrisbonifacio commented on #8302
Hey @edu-zamora ! Sorry for the delayed reply. I wasn't able to reproduce it but I did make the team aware of it. Thank you for bringing it to our attention, glad to see it's fixed now 😄

[2021-06-02 16:52] #8302 closed

[2021-06-02 16:54] chrisbonifacio commented on #8333
@barosanuemailtest please let us know if this is fixed for you now that the PR has been merged 😄

[2021-06-02 17:00] iartemiev commented on #8333
Just to clarify, you can test the changes in the PR by installing `aws-amplify@unstable` or specifically `aws-amplify@4.0.4-unstable.4`, but the change has not yet been released in a prod/stable version of Amplify.

We'll release it later this week as part of version 4.0.4 of Amplify

[2021-06-02 17:20] #8195 closed

[2021-06-02 17:26] chrisbonifacio commented on #8258
Going to close this for now as we have not heard back from the original poster in nearly two weeks and some folks have been able to fix it/find a workaround. If you're still experiencing this issue or something similar, please open a separate issue and provide us the details of your environment so we can better identify the cause and find a solution for you.

[2021-06-02 17:26] #8258 closed

[2021-06-02 17:33] AlexMayleRdn commented on #6731
@zoloogg please go post in one of the topics below or make another one as this will only get solved if the Cognito team, not the Amplify SDK team, honors the client metadata.

https://forums.aws.amazon.com/thread.jspa?messageID=946444&#946444
https://forums.aws.amazon.com/thread.jspa?messageID=910021&#910021

[2021-06-02 19:19] martinmalia commented on #8333
Nice job, looks good to me!

[2021-06-02 19:41] felixdlealc opened #8378 "npm install aws-amplify I get this error: chromedriver: No matching version found for chromedriver@91"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-02 19:49] AndyW22 commented on #8359
I managed to find out what causes this, it is nextjs V10.2.1, to avoid this error stick with 10.2.0 (or 9.5.6, since amplify technically doesn't support V10+ yet)

[2021-06-02 19:49] #8359 closed

[2021-06-02 20:18] sammartinez commented on #8378
Hey @felixdlealc,

This issue seems to be unrelated to `aws-amplify` and moreso for `chromedriver`. In looking at their [repository](https://github.com/giggio/node-chromedriver/) I am seeing an [issue](https://github.com/giggio/node-chromedriver/issues/315) that looks to be related to what you are seeing with the matching version not being found. Please confirm with removing `chromedriver` from yo

[2021-06-02 20:56] jamesaucode commented on #8346
Thanks @bmw46033.  I was able to repro this issue. It does seem like the AWS spec didn't mention anything about requiring `ServerSideEncryption` to be set to use SSE-C. This seems to  fix the issue:
[code]
I will have a PR out in a moment

[2021-06-02 21:36] chrisbonifacio commented on #8337
@jmarshall9120 We did some testing on this issue in Vue and found that the default router mode is `hash`, and changing that to `history` helped prevent this issue from happening. Would you mind trying this in your project and letting us know if this is a viable solution?

In regards to the PR, we cannot merge it because it affects the redirect in other scenarios.

[2021-06-02 21:51] slimandslam opened #8381 "Amplify-JS Has No Provision For Making REST API Calls Using Temporary Credentials"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-02 22:00] chrisbonifacio commented on #8220
Closing this issue for now as we have not heard back from you. Please feel free to re-open this if you are still in need of assistance. Thank you!

[2021-06-02 22:00] #8220 closed

[2021-06-02 22:13] bmw46033 commented on #8346
Thank you, James.  Any chance the Storage.Get will also incorporate SSE-C?

REF: https://docs.aws.amazon.com/AmazonS3/latest/userguide/specifying-s3-c-encryption.html

Get object—Downloads the object uploaded in the previous step. In the request, you provide the same encryption information you provided when you uploaded the object. Amazon S3 needs this information to decrypt the object so that it

[2021-06-02 22:14] #8346 closed

[2021-06-02 22:14] chrisbonifacio commented on #8381
I think if you just need to get those credentials over to the lambda, you may be able to set them in the third argument to `API.get` as documented here:

https://docs.amplify.aws/lib/restapi/fetch/q/platform/js

You can set them in the headers or as query parameters, etc, for use in your API.

Let me know if this helps!

[2021-06-02 22:16] jmarshall9120 commented on #8337
@chrisbonifacio - I'm trying to avoid history mode for simplicity sake, but I can go that route if necessary.  Can you give me a sample of the faulty redirects the PR causes?  We could easily change the part that searches for a key term such as 'access_token' to include '/'.

[2021-06-02 22:19] martinmalia opened #8382 "ReferenceError: Can't find variable: global"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-02 22:24] slimandslam commented on #8381
Those credentials are temporary credentials for a Cognito Unauthenticated user. They are needed for authentication with API Gateway (but a Lambda function will also consume them).
In any case, the link you provided does not have an example of how to include these temporary credentials. Typically, they have to be handled in a specific way with specific case sensitivity (e.g. "sessionToken: SessionT

[2021-06-02 22:51] chrisbonifacio commented on #8381
Sorry, there are still gaps in my knowledge of the Auth category. May I ask how you are generating the credentials and how you intend to use them in your API?

I'm not sure that you need to generate credentials to make the api call. It sounds like Amplify might handle that for you. Are you receiving an error when calling `API.get`?

https://docs.amplify.aws/lib/restapi/authz/q/platform/ios#unauthe

[2021-06-02 23:21] felixdlealc commented on #8378
Hello @sammartinez,

Thanks for answering.

I had not seen "chromedriver" in my package.json. My bad!

I'm sorry about this, I'm going to keep looking for a solution, anything, I'll be back.!
Thank you.

I'm going to close.

[2021-06-02 23:21] #8378 closed

[2021-06-03 00:20] iartemiev commented on #8382
This seems to be related to Vite not including various node built-ins. There are some workarounds mentioned in this issue: https://github.com/vitejs/vite/issues/728 in the Vite repo

[2021-06-03 00:34] felixdlealc commented on #8378
Yes, ChromeDriver was updated to version 91 an hour ago. [Npm Chromedriver](https://www.npmjs.com/package/chromedriver)

I updated my code and it worked.

[2021-06-03 01:11] ulisescarreonalvarez opened #8383 "Cognito Not Refresing Token When Called currentAuthenticatedUser"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-03 03:15] slimandslam commented on #8381
This is not an unauthenticated request. It's a Cognito Unauthenticated user making a request. The Cognito Unauthenticated user has a role (stored in Cognito) which lets the Cognito Unauthenticated user do only things specified in that role.

[2021-06-03 04:25] bertrand-caron opened #8384 "Potential bug: Calling signOut() before currentAuthenticatedUser() does not log the user out on react-native app restart"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-03 05:30] barosanuemailtest commented on #8333
Works great. Thanks!

[2021-06-03 05:30] #8333 closed

[2021-06-03 05:57] shubhamsharma98 commented on #7579
I'm stuck on similar issue as well, however, to my surprise the subscription is firing on the subsequent event but not on the first event. Here is the sample code:

[code]
Here, I have auth directive applied to two fields - iouOwnerId and iouEditor and so I'm adding both in the listener. The listener shows 'undefined' on the first event but fires off afterwards for every event! 🤷🏻‍♂️

If the funct

[2021-06-03 09:40] roberthugsy commented on #5646
can this be checked please?

[2021-06-03 10:08] dilantha111 commented on #3209
well I guess we need to open this again,
I tried this one, but it didn't work,
[code]

[2021-06-03 12:30] rajashril opened #8385 "Endpoints are not getting updated in aws pinpoints and getting error - AWSPinpointProvider - updateEndpoint failed TypeError: Cannot read property 'byteLength' of undefined."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-03 13:44] evcodes commented on #7720
I cloned your repo and I tried to reproduce but for some reason I do not have a location where I can put my client secret so I am not able to a register a new user.

[code]

[2021-06-03 15:23] chrisbonifacio commented on #8314
Hi @byyoungjin 👋 Sorry to hear you are experiencing this issue. Unfortunately, we don't officially support the Samsung Internet browser.

[These are the browsers we do support](https://aws.amazon.com/premiumsupport/knowledge-center/browsers-management-console/)

I tried to see if I could reproduce this but while I'm able to emulate a Samsung Galaxy device in Android Studio, there doesn't seem to b

[2021-06-03 15:27] sammartinez commented on #8378
No worries to apologize at all! I just wanted to double check since I did notice that was the callout from your logs. Glad you got it figured out! Happy open sourcing

[2021-06-03 15:28] #8314 closed

[2021-06-03 15:32] chrisbonifacio commented on #7755
Hey @takarabt, sorry for the delay. Are you still experiencing this issue? If so, could you provide us with the response from Cognito when calling `Auth.federatedSignIn`?

[2021-06-03 15:58] sid19928 commented on #3537
https://medium.com/@sid19928/setup-cognito-with-callback-url-s-matching-your-deep-links-and-entries-in-the-aws-exports-ts-d6834c17a9ab

AWS Cognito Social Integration in the hybrid mobile app (Ionic, Cordova, Capacitor)

[2021-06-03 16:00] sid19928 commented on #5351
https://medium.com/@sid19928/setup-cognito-with-callback-url-s-matching-your-deep-links-and-entries-in-the-aws-exports-ts-d6834c17a9ab

AWS Cognito Social Integration in the hybrid mobile app (Ionic, Cordova, Capacitor)

[2021-06-03 16:24] takarabt commented on #7755
Hey @chrisbonifacio,

We still have this issue, bellow the response when calling Auth.federatedSignIn using an account with MFA activated:

![image](https://user-images.githubusercontent.com/3582624/120678439-5da37a80-c498-11eb-83cd-218f4d8f215c.png)

Let me know if you need more inputs.

[2021-06-03 16:26] connelhooley opened #8387 "Complete New Password Behaviour Doesn't Appear To Match The Docs"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-03 16:32] toschlog opened #8388 "verifyCurrentUserAttribute should take metadata"
### Is this related to a new or existing framework?

React

### Is this related to a new or existing API?

Authentication

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

When I call Auth.updateUserAttributes() I include clientMetadata that's used by my cognito-trigger code.  This all works well.

When I need to re-request a code I call Auth.

[2021-06-03 16:57] the-smart-home-maker opened #8389 "React Native - checkDebugDuplicateClasses error on Android"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-03 17:07] priyankagaikwad opened #8390 "AWSPinpointProvider - updateEndpoint failed [Error: No value provided for input HTTP label: EndpointId.]"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-03 18:04] chrisbonifacio commented on #8119
@marco910 any updates on this?

[2021-06-03 18:21] cnikolov commented on #7720
@evcodes just create in the top directory  file with name ".env"

With this content
[code]

[2021-06-03 18:25] chrisbonifacio commented on #8389
@the-smart-home-maker It looks like you updated pushnotifications to v4 but not the `aws-amplify` package. There are breaking changes but nothing too crazy it seems.

https://github.com/aws-amplify/amplify-js#amplify-4xx-has-breaking-changes-for-react-native-please-see-the-breaking-changes-below

Could you try upgrading your other amplify packages and let me know if that helps?

[2021-06-03 19:00] chrisbonifacio commented on #8389
Oh, one other thing to note is that you probably don't need the separate `@aws-amplify/core` package if you already have `aws-amplify` installed.

[2021-06-03 19:01] gruckionvit commented on #7191
So this was happening for me. I upgraded my expo project from version 40 to 41 and it started happening.

I have the following;

[code]

I upgrading `aws-amplify` to latest (at the time) and this resolved it.

[code]

[2021-06-03 19:17] connelhooley commented on #8387
I've tried to follow what the pre-built React components do, if I understand the code correctly it passes `{ username: "SomeUsername" }` into the `SignUp` component:

https://github.com/aws-amplify/amplify-js/blob/df95ea3724eb6406f64b03f25086cd3e8644cb5f/packages/aws-amplify-react/src/Auth/SignIn.tsx#L124

But when I do this in my code, `completeNewPassword` throws the following message:

Which ma

[2021-06-03 19:22] connelhooley commented on #8387
I've just noticed that the pre-built component actually takes you to the forgot password change, so if that's the case, does it mean the password that the admin set is irrelevant? Seems strange to let the admin set a temp password but then only allow the user to access the account by resetting their password to something different.

[2021-06-03 19:28] connelhooley commented on #8387
I've been an idiot here and totally not understood the admin reset process, I don't even type in a password in the admin section so not sure how I got my wires this crossed!

I'll close this now.

[2021-06-03 19:28] #8387 closed

[2021-06-03 19:59] ulisescarreonalvarez opened #8391 "Cognito Federate SignIn Only Working With UI Interface"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-03 20:34] the-smart-home-maker commented on #8389
Hi @chrisbonifacio,

thanks a lot for your support! I have upgraded all aws-amplify packages and removed the @aws-amplify/core package but unfortunately still receive the exact same error message.

Here my upgraded packages versions:
[code]

[2021-06-03 20:44] #3524 closed

[2021-06-03 20:52] chrisbonifacio commented on #8389
Hmm, okay I will try to reproduce this on the latest versions as well so we can try to find a fix for it. Thank you for trying!

[2021-06-03 21:01] wlee221 commented on #8382
Closing as duplicate for #7499. @ErikCH has a workaround for `global` here: https://github.com/aws-amplify/amplify-js/issues/7499#issuecomment-804386820 (and more down the thread).

[2021-06-03 21:01] #8382 closed

[2021-06-03 21:15] laurenzfg commented on #5119
Huge +1, this has been a show-stopper for my app, too.

[2021-06-03 21:18] laurenzfg commented on #7989
Huge +1, this has been a show-stopper for my app, too.

[2021-06-03 22:47] angusho1 commented on #5351
@sid19928 How does your deep link have 'access_token', 'id_token', etc. as params? As far as I know, the callback URL after signing in only contains 'code' and 'state' as params.

[2021-06-03 23:18] #7081 closed

[2021-06-04 00:58] scott-schibli commented on #7531
Had the same problem with me.. took a couple hours but for some reason the there were some folders in my git that when I changed their names (I.e A to a) it just created a separate folder.
@swalker326  helped initially to get the actual errors to start showing in the Amplify ui, then was able to easily remove 'duplicated' folders

[2021-06-04 04:09] sid19928 commented on #5351
@angusho1 if your responseType is 'token' in the config file aws-exports.ts then you get access_token and id_token etc as params.

[2021-06-04 06:33] the-smart-home-maker commented on #8389
Hey @chrisbonifacio,

Thanks for investigating! One more important information- on iOS, everything runs smoothly and I can get push notifications delivered as expected. It's just on Android that I experience problems.

Thank you and best regards
The Smart Home Maker

[2021-06-04 08:12] manueliglesias commented on #8337
Hey @jmarshall9120

Are you constructing the cognito hosted ui url yourself?

If so, can you instead call `Auth.federatedSignIn()` ?

[2021-06-04 10:33] cuni0716 commented on #1368
I just write a workaround that worked for me:

[code]

I hope that could be usefull for someone!

[2021-06-04 12:40] mir1198yusuf commented on #8322
@iartemiev  - This did not helped me. I got this issue after upgrading to `aws-amplify`.

[2021-06-04 12:58] iartemiev commented on #8322
@mir1198yusuf could you run `npx envinfo --system --binaries --browsers --npmPackages --duplicates --npmGlobalPackages` and paste the output here?

[2021-06-04 13:23] iartemiev commented on #8390
Hey @priyankagaikwad, I haven't been able to reproduce this using the latest version of aws-amplify. I see in the environment info you shared that you have `@aws-amplify/pushnotification` installed as well as `aws-amplify`. This may be causing conflicts. Could you please try the following steps:
1. `npm uninstall @aws-amplify/pushnotification`
2. `rm -rf node_modules package-lock.json`
3. `npm i`

[2021-06-04 13:31] iartemiev commented on #8385
The environment info you shared shows that you have `@aws-amplify/core` and `@aws-amplify/pushnotification` as well as `aws-amplify`. This means that you likely have duplicate, conflicting versions of these dependencies installed. See https://docs.amplify.aws/lib/troubleshooting/upgrading/q/platform/js for more info.

Please try the following steps:

1. `npm uninstall @aws-amplify/pushnotification

[2021-06-04 13:44] priyankagaikwad commented on #8390
Tried still and still same error. Am I missing something while configuring Amplify? How to analyse this error then?

![Simulator Screen Shot - iPhone 11 - 2021-06-04 at 19 13 29](https://user-images.githubusercontent.com/7263812/120810816-fe616b00-c568-11eb-8dba-3ba20a066bf4.png)

[2021-06-04 13:47] huntedman commented on #1145
An work-around in Javascript is something like this
`
 await Storage.get(key, {
  download: true
 }).then( (resp) => {
  return URL.createObjectURL(resp.Body)
 }).catch((err) => {
  // handle errors
 })
)
`

[2021-06-04 13:48] iartemiev commented on #8390
One more thing I'm seeing is that you have 2 different AsyncStorage dependencies installed.
Could you try deleting `@react-native-community/async-storage` followed by running `npx pod-install`, then re-build/re-start your app?

[2021-06-04 13:55] iartemiev commented on #8390
One more thing. Try commenting out
[code]
Then update the endpoint. Are you still seeing the error then?

[2021-06-04 14:10] priyankagaikwad commented on #8390
Yes Tried this also but no luck :(

[2021-06-04 14:27] iartemiev commented on #8390
Would be able to share your app with us or a minimal working example app exhibiting this error so that we could debug it locally?

[2021-06-04 14:33] priyankagaikwad commented on #8390
yes I will try to create small working example with same issue.

[2021-06-04 14:35] iartemiev commented on #8390
Thank you!

[2021-06-04 14:47] chrisbonifacio commented on #7763
@rraczae I'm able to reproduce this consistently if I try to double-click very quickly. I'm certain this would be more consistent on a slower connection though so I've labeled it as a bug for the UI team to look into. Thank you!

[2021-06-04 16:31] angusho1 commented on #5351
@sid19928 Thanks for the clarification. I have a question about this step:

What do you mean by 'initiate the login process'? Are you saying that we should call `Auth.signIn` using the user attributes in local storage?

[2021-06-04 16:51] sid19928 commented on #5351
@angusho1 you have already called Auth.federatedSignIn() for redirecting to social provider then after successfull login from there you don't have to call Auth.signIn(). You need to use user data and token for accessing the apis of cognito and perform further actions according to your requirements. I would suggest that you go through aws cognito docs to understand the flow. Basically for mobile we

[2021-06-04 17:04] chrisbonifacio commented on #8119
Closing for now as we have not heard back from you. If you're still experiencing this issue and need additional assistance, please feel free to re-open.

[2021-06-04 17:19] the-smart-home-maker commented on #8389
Even further information - here's my android/app/build.gradle:

[code]
where `...` are anonymizations.

Also I have created a dependency tree for maybe more information about the dependencies for `com.firebase:firebase-jobdispatcher` and `com.google.android.gms:play-services-gcm` (just picked the compilation variant for debug exemplarily):

[code]

Maybe that helps as well?

[2021-06-04 17:48] jmarshall9120 commented on #8337
Hi @manueliglesias,

   The problem here is with the redirect, so everything I've tried has not worked as the redirects end up the same.  My OAuth flow, is a SAML flow and so uses the Hosted UI or a custom button.  I'm pretty sure in my testing with `Auth.federatedSignIn()` only allowed me to use Google, Facebook, Amazon, or the Hosted UI, so we end up in the same place.

If you have a set up you

[2021-06-04 17:51] angusho1 commented on #5351
Can you give an example of what 'further actions' might entail? Part of what needs to happen in this step is we need to trigger an event in the Amplify Hub's auth channel, right? And if that is done through a Cognito API, what kind of endpoint would I use?

[2021-06-04 19:12] fkunecke commented on #1067
Came across this issue and @heri16's solution worked perfect. If you're looking for something to just paste in and go, here's a snippet:

[code]

To use:

[code]

[2021-06-04 19:53] reberthkss commented on #7137
+1

[2021-06-04 20:30] mauriciogzrs commented on #3435
Any updates?!

[2021-06-04 21:02] chrisbonifacio commented on #8384
Hey @bertrand-caron 👋 where are you calling `Auth.signOut`? Are you trying to log the user out if they leave the app and expect them to be logged out when the app restarts? Or are you calling `currentAuthenticatedUser` afterwards to verify they're logged out?

Just trying to get a better understanding of what we're trying to achieve by calling `Auth.signOut` before `Auth.currentAuthenticatedUser`.

[2021-06-04 22:00] manueliglesias commented on #8337
I am not super familiar with vue and vue router, but I went ahead to https://router.vuejs.org/guide/ and modified the code a little and got it working with amplify (calling `Auth.federatedSignIn()`), could you try it with your aws-exports ? (e.g. you can copy/paste the code below to an `index.html` file and serve it with `npx serve -l 3000`)

As of going straight to an identity provider, you can c

[2021-06-04 23:50] cdunn commented on #6347
I'm still running into this issue on the latest packages, can anyone else confirm this being resolved? (double /token calls, one of which has code_verifier, one does not...if the one that does not completes first then both fail)

[2021-06-05 00:05] droidgeek1 opened #8396 "Real time sync does not work between members of the group - It syncs up fine eventually within hours"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-05 00:16] droidgeek1 commented on #8396
Chrome/Safari prints following every minute. Not sure if its related but Observer is null ..

[DEBUG] 12:26.788 AWSAppSyncRealTimeProvider {id: "", observer: null, query: "", variables: {…}}id: ""observer: nullquery: ""variables: {}__proto__: Object
ConsoleLogger.js:97

[2021-06-05 04:15] droidgeek1 commented on #8396
Also just to be clear, teh real time sync works perfectly fine when SAME user is signed in from both browsers. So this points and confirms that something with Group Members that is not doing real time sync

[2021-06-05 09:24] mrsimply opened #8397 "DataStore queries with nested children"
### Is this related to a new or existing framework?

React

### Is this related to a new or existing API?

DataStore

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

I have a common Data Model with **one-to-many** nested children over several hierarchies.

- One Page has many SubPages
- One SubPage has many Sections
- One Section has many Ite

[2021-06-05 10:57] james-braund opened #8398 "DataStore: Cannot create record with no value for optional @connection field"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-05 11:57] reberthkss commented on #8003
Hey guys. I faced similar problem, i added Datastore to my project but it is not syncing with the cloud. I can normally create and query data locally but that data not sync with the cloud. :/

[2021-06-05 12:35] chrisbonifacio commented on #8003
@reberthkss Please open a new issue and fill out the bug report form with the details of your project configuration and some code so we can better assist you.

[2021-06-05 14:52] anil1712 commented on #1234
Yes, I am still getting the same error.

Has someone got any solution ?

[2021-06-05 16:01] dobeerman commented on #7588
Still experiencing the issue. Any updates, guys?

[2021-06-05 17:26] dobeerman commented on #5219
Still experiencing the issue with it.
Interesting behavior. If I add `console.log` around this line like this:

[code]

the second `console` output do not appears.

---

Framework: Vue3 with Composition API

[2021-06-05 18:08] ronybot opened #8401 "AmplifySignUp handleSubmit loses functionality when customizing Auth.signUp with clientMetaData"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-05 22:33] droidgeek1 commented on #8396
Bottomline - real time sync works for same owner but not for different owners in the same group. Is this a bug or pending feature? Ami I doing something wrong. Appreciate help from the experts

[2021-06-06 00:45] k-wolf-dev opened #8404 "Authenticator: SignUp: formFields submitted as empty even though they are filled if Validation fails the first time"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-06 01:53] sacrampton opened #8405 "DataStore Query Performance Very Slow"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-06 02:04] nubpro commented on #8405
I closed my original issue as I could no longer replicate the problem anymore

Do u happen to be using the Storage module in your app?

[2021-06-06 04:48] jmarshall9120 commented on #8337
@manueliglesias -
 I served your test page and it worked!

So that's an interesting result because I know the method for parsing the url in the Auth library won't clean a `#/` as shown in my earlier posts. Now if I set up a simple project like this using the vue cli, it does not work.  This should theoretically be a slight variation on your example but it doesn't work

[code]

[code]

I'm includin

[2021-06-06 07:29] ibarapascal commented on #4315
Worked.
After a year this solution still saved my ass. Thanks.

Just a reminder, if you didn't manage to set the `.env` properly, there would be the same error in your console.
So maybe we could try to write some fixed string value to replace the `awsconfig` and have a try first.

Hope it helps.

[2021-06-06 17:58] dorontal commented on #2906
I am not sure why this issue is closed?  I am having the exact same problem today.  Amplify CLI version 4.52.0.

@vic-blt - tried your solution, unfortunately it did not work - the exact same problem remains.

I did not have this problem when re-creating the app via `amplify init ...` one month ago - now just tried re-scaffolding several times via the exact same process and the same problem occurs

[2021-06-06 18:32] 9037568 opened #8406 "CORS preflight request sent to wrong path ?"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-06 19:38] dorontal commented on #2906
The pending fix of https://github.com/aws-amplify/amplify-cli/issues/7311

may solve this problem's incarnation this time around.

[2021-06-06 21:54] bertrand-caron commented on #8384
Hey @chrisbonifacio, thanks for looking into this.

I'm calling `Auth.signOut()` before any calls to `Auth. currentAuthenticatedUser()`. It just seemed very counter-intuitive to me that `Auth. currentAuthenticatedUser()` would succeed, but `Auth.signOut()` did not (unless I had called `Auth. currentAuthenticatedUser()` before).

Does that make sense?

Maybe this does not warrant any code change, b

[2021-06-07 03:56] 9037568 commented on #8406
Found the problem. I misunderstood the call parameters in API.get.

This:

[code]

Needed to be this:

[code]

[2021-06-07 03:56] #8406 closed

[2021-06-07 04:31] manueliglesias commented on #8337
@jmarshall9120

Can you try using `code` flow instead of `token`?

[code]

regarding:

and

I didn't do a special build, the one referenced in my examples is the official amplify library in umd format published to npm, but served from a cdn ([unpkg](https://kentcdodds.com/blog/unpkg-an-open-source-cdn-for-npm))

[2021-06-07 05:58] sacrampton commented on #8405
Hi @nubpro - we are using the Storage module in the app for upload of photographs.

[2021-06-07 07:34] pwnreza commented on #7953
@daviddelusenet
Which version of gatsby is compatible with the current version of amplify?
With gatsby@2.32.13 its still failing

[2021-06-07 07:35] sacrampton commented on #8405
New Video - here is exactly the same application - with a few hundred records loaded versus over 7,000 in the previous video.

Seems loading more than a trivial amount of data is grinding it to a halt.

https://user-images.githubusercontent.com/6362888/120977328-8e482480-c7b6-11eb-9c10-61daf9a3076a.mp4

[2021-06-07 08:53] beqramo opened #8407 "Android: Could not invoke RNPushNotification.getToken"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-07 09:58] marco910 commented on #8119
@chrisbonifacio Sorry for the late reply.

I have set up a test environment for the 2FA auth issue. The environment runs on Next.js. I also created a new user and enabled MFA "TOTP" for it.

After logging in with username, password and MFA code I'm a valid user object from Coginto (I think so) without any errors.
So, I think the issue method above is caused by my app.

Is it normal that I'm also a

[2021-06-07 11:29] waqasmalik10 commented on #6560
@iartemiev  still showing the same error on deleting Project. after I run  amplify codegen models. schema.js file matches with with your specified schema. but error still remains.

![Screenshot from 2021-06-07 16-27-41](https://user-images.githubusercontent.com/20343290/121009354-7f10a900-c7ad-11eb-8aff-691317e6b90c.png)

[2021-06-07 11:37] reberthkss commented on #8003
Hello from Brazil @chrisbonifacio ! I already solved the problem. It occurred because I'm tried to implement Datastore into an already implemented graphql model.
Enable debug mode in datastore (`Amplify.Logger.LOG_LEVEL = 'DEBUG'`) exposed some errors between Datastore Sync Engine and the Models already in the cloud.
To resolve this I commented out all my model in `schema.graphql`, pushed to the c

[2021-06-07 11:45] iartemiev commented on #6560
@waqasmalik10 do you have [this feature flag](https://docs.amplify.aws/cli/reference/feature-flags#useAppsyncModelgenPlugin) enabled?

[2021-06-07 12:34] waqasmalik10 commented on #6560
This is my cli.json file in the project’s amplify folder. please let me know if I am doing anything wrong.
using.
 amplify-cli 4.52.0
 aws-amplify 4.0.3

`{
    "features": {
    "graphqltransformer": {
        "addmissingownerfields": true,
        "validatetypenamereservedwords": true,
        "useexperimentalpipelinedtransformer": false,
        "enableiterativegsiupdates": true,
        "secon

[2021-06-07 12:43] iartemiev commented on #6560
@waqasmalik10, could you run `npx envinfo --system --binaries --browsers --npmPackages --duplicates --npmGlobalPackages` from the root of your project and paste the output here?

[2021-06-07 13:04] waqasmalik10 commented on #6560
System:
    OS: Linux 5.8 Ubuntu 20.04.2 LTS (Focal Fossa)
    CPU: (4) x64 Intel(R) Core(TM) i5-6300U CPU @ 2.40GHz
    Memory: 6.02 GB / 15.06 GB
    Container: Yes
    Shell: 5.0.17 - /bin/bash
  Binaries:
    Node: 14.16.0 - ~/.nvm/versions/node/v14.16.0/bin/node
    npm: 6.14.11 - ~/.nvm/versions/node/v14.16.0/bin/npm
  Browsers:
    Chrome: 90.0.4430.72
    Firefox: 89.0
  npmPackages:
    @

[2021-06-07 13:17] iartemiev commented on #6560
Looks like you have older versions of `@aws-amplify/core` and `@aws-amplify/datastore` packages installed alongside the latest `aws-amplify`. Having the scoped packages installed explicitly can cause issues and conflicts.

Try the following steps:

1. `npm uninstall @aws-amplify/core @aws-amplify/datastore`
2. `rm -rf node_modules package-lock.json`
3. `npm i`

[2021-06-07 13:34] impons commented on #5298
Any update on this? i have the same problem.

[2021-06-07 14:30] chrisbonifacio commented on #8119
@marco910 you mean you're able to log into the same user that has MFA enabled by only passing the username/password to `Auth.confirmSignIn` and not the MFA code? Or are you using `Auth.signIn`?

[2021-06-07 14:37] waqasmalik10 commented on #6560
Thank you @iartemiev for your timely response! Issue has been resolved

[2021-06-07 15:19] code-sumedh commented on #6695
Hi @RylandCapital , it is closed without much information from your end on how to resolve this issue, could you please help us with the steps??

[2021-06-07 15:29] ioannisKatri opened #8409 "Update ChangePassword function, missing access token according to docs."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-07 15:36] ChrisSargent commented on #7570
Also seeing this issue in a CRA app right now with `"@aws-amplify/auth": "^4.0.1"`

[2021-06-07 15:38] ChrisSargent commented on #7839
This seems to contradict some documentation / tutorials I've seen. Could you please link to where this is officially stated?

[2021-06-07 15:51] ericclemmons commented on #7839
@ChrisSargent The official documentation should be referencing `aws-amplify` everywhere `npm install` is used:

If this isn't the case, let us know so we can update it 🙏

[2021-06-07 15:57] RylandCapital commented on #6695
my issue is that my react app was calling data from an HTTP API. because my react app domain was HTTPS I was receiving the mixed content error. So I went and made my API except HTTPS requests. by switching the HTTP requests with HTTPS requests I now longer got that error. In order to set my server up to receive HTTPS requests, I created a ssl certificate on Amazon Certifcate Manager, and created a

[2021-06-07 15:58] ChrisSargent commented on #7839
Okay - I'll keep an eye open and open a ticket if I find some again. Perhaps it was in older tutorials on the blog.

[2021-06-07 16:01] ChrisSargent commented on #7839
FYI, I swapped to having all my imports the way you recommended and my bundle size went from 601kb to 642kb - a not-insignificant increase to an already huge bundle size from the Auth module, relating to this issue: https://github.com/aws-amplify/amplify-js/issues/7570

[2021-06-07 16:14] dorontal commented on #54
@JesseDavda Thank you very much!!!

I just tried your solution. It is so simple to implement. It works 100%.

[ I learned something new in the process about a powerful new dynamic IAM controls, too. Thanks again. ]

As far as I can see you are the first person to fully solve this problem -- the problem of using the user's **sub** (instead of using identityId) in S3 paths and how to set that up in

[2021-06-07 18:15] zzBrunoBrito opened #8410 "How to update _deleted field to false?"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**
Graphql, appsync

**Amplify CLI Version**
4.32.1

**What AWS Services are you utilizing?**
Amplify, appsync, dynamoDB

**Provide additional details e.g. code snippets**
I'd like to update the _deleted field of a record to false, how can I do that? Tried to set _d

[2021-06-07 18:35] chrisbonifacio commented on #8389
I tried creating a React Native project with this package.json and it was able to build. Could you try deleting your node_modules folder, reinstalling your dependencies and see if it's able to build then?

[code]

[2021-06-07 18:54] chrisbonifacio commented on #8389
Here's a link to my project on github in case it helps

https://github.com/chrisbonifacio/amplify-issues/tree/dev/android8389

[2021-06-07 19:22] chrisbonifacio commented on #8410
If you don't mind, could you please share your schema and how you're trying to update the field in your code?

Not sure if this helps, but a mutation done through Amplify's API would look like this

[code]

[2021-06-07 19:31] nickarocho commented on #8264
Hi @mm-git thank you for taking the time to explain the issue to us. I'm going to work on reproducing this issue in one of my own sample apps and trying to understand the root cause of the problem. I will keep you posted with my findings!

[2021-06-07 20:08] jcowley commented on #5043
For anyone else who comes across this issue, `{ bypassCache: true }` won't do it. The way to refresh custom attributes is in [this comment](https://github.com/aws-amplify/amplify-js/issues/4396#issuecomment-553954564) on #4396.

[2021-06-07 20:16] chrisbonifacio commented on #8409
Sorry you're experiencing issues. If you're working in a browser, we recommend using the `aws-amplify` package. Changing a user's password would look like this. We try to provide a more intuitive API through our `Auth` library.

[code]

Here's a quick ui example

[code]

[2021-06-07 20:44] sacrampton commented on #8405
Hi @manueliglesias  / @iartemiev

Is there anything I can provide you to move this along? Its on a critical time line for us to get this resolved.

Thanks

Stephen

[2021-06-07 21:07] chrisbonifacio commented on #7341
Closing this for now as we haven't heard back from you. Please re-open if you're still in need of assistance.

[2021-06-07 21:07] #7341 closed

[2021-06-07 21:12] chrisbonifacio commented on #7526
Hey, @PeteDuncanson ! 👋 Closing this for now. Please re-open if you're still experiencing this issue and require further assistance.

[2021-06-07 21:12] #7526 closed

[2021-06-07 21:14] chrisbonifacio commented on #7669
@raullm7 closing this for now as we have not heard back from you. Please re-open if you're still experiencing this issue on the latest version of Amplify.

[2021-06-07 21:14] #7669 closed

[2021-06-07 21:17] chrisbonifacio commented on #7865
@wedreamer closing this for now as we have not heard back from you. Please re-open if you are still experiencing this issue and require additional assistance.

[2021-06-07 21:17] #7865 closed

[2021-06-07 22:54] iartemiev commented on #8405
@sacrampton is the performance comparable between Simulator and physical devices on both iOS and Android? Or is one worse than the other? Does query performance degrade gradually as the number of records increases? Or does it tend to be acceptable up to a certain point and then rapidly drops?

Since you said only 5 of your models have data in them, I'll attempt to reproduce this with 5 models and

[2021-06-07 23:30] iartemiev commented on #8405
Also, which version of aws-amplify are you currently using?

[2021-06-07 23:32] sacrampton commented on #8405
Hi @iartemiev

I went through the list of models and data counts in more detail. The difference between the data in each model between the first and second videos is shown here.

Thanks...

<meta name="ProgId" content="Excel.Sheet">
<meta name="Generator" content="Microsoft Excel 15">
Data By Model

</style>

Name | High Count | Low Count
-- | -- | --
Asset | 7,409 | 359
AssetVisit | 1,127 | 100
P

[2021-06-07 23:59] njariwala2019 commented on #768
I was able to auto-verify the user with the following setup:

https://www.lazydeveloper.tech/aws/aws-amplify-how-to-auto-verify-email-on-sign-up/

[2021-06-08 00:51] sacrampton commented on #8405
Hi @iartemiev - here are a few other things I'd like to report - I figure if we solve any of them they are all related and that will unravel the rest of them.

- We do the base query to hydrate DataStore on the mobile - the queries you are seeing in the attached videos are on the data that has been downloaded with the base queries.
- If I enter data in a field on the mobile and save that I see the

[2021-06-08 05:46] ioannisKatri commented on #8409
@chrisbonifacio Thank you for the suggestion.

The problem was that the SignInUserSession was **null**and I had to use getSession and setSignInUserSession

**The solution:**

[code]

[2021-06-08 05:46] #8409 closed

[2021-06-08 08:39] sacrampton commented on #8405
Using aws-amplify version = 3.3.27

[2021-06-08 11:31] sacrampton commented on #8405
Hi @iartemiev - I had another thought on this. On the Asset object I have potentially 400+ attributes, and potentially similar on the AssetVisit object. In DynamoDB there would rarely be more than 30 attributes on any individual record so the size is quite small. And in GraphQL we just download the attributes we need for a specific app so we are never trying to download 400+ attributes.

But I'm s

[2021-06-08 12:37] iartemiev commented on #8405
Thanks for the additional info. Are you returning all of the records from when you're querying Asset, AssetVisit, etc.? Or are you using predicates to return a subset?

[2021-06-08 13:06] RA-Matt commented on #3410
I am also hoping for this to be resolved soon. In the mean time I will look at Auth0 as an alternative.

[2021-06-08 14:48] DevTGhosh commented on #7588
@raybotha & @dobeerman If you are using both the `aws-amplify` & `@aws-amplify/datastore` packages remove either one of them and check. There is a conflict usually if both those packages are present. Also make sure to update those packages and your amplify cli to the latest version.

[2021-06-08 15:08] code-sumedh commented on #6695
This worked for me : https://stackoverflow.com/a/65356011/8223478

[2021-06-08 15:35] taylor-kn commented on #8096
@eddiekeller the versions of Chrome that produced the error were 91.0.4472.88 and 90.0.4430.210.

[2021-06-08 16:11] eddiekeller commented on #8118
Going to take a look at this today and see if I can identify the issue.

[2021-06-08 16:42] eagleeyejack commented on #2586
Any update on this?

[2021-06-08 17:00] eddiekeller commented on #7668
Some of the `AuthState` values don't really seem to make much sense as an `initialAuthState` (`VerifyingAttributes`, for instance), but `ForgotPassword` makes sense. I'll at least make an update to include that in the TypeScript definition.

Interestingly, we already have a test covering `ForgotPassword` as the `initialAuthState`, so this seems like a solid ask to me. Will put out a PR to update t

[2021-06-08 17:10] eddiekeller commented on #7668
PR for update - https://github.com/aws-amplify/amplify-js/pull/8414

[2021-06-08 17:32] sammartinez commented on #6153
@nlindroos did @acomagu resolve you issue? Please let us know if you still are looking for support on this.

[2021-06-08 17:33] sammartinez commented on #6000
@shubham234 are you still for support for this? Please let us know

[2021-06-08 17:40] nlindroos commented on #6153
I'm not sure if DOM in a React Native context is an equivalent and applicable concept to the browser DOM, but telling the TypeScript compiler that you're working in a browser environment in this case seems wrong. It seems rather like disabling the check which is in place to counter misuse. If DOM is a viable concept for RN, then I'm wrong.

[2021-06-08 17:48] eddiekeller commented on #8118
Not reproducing this bug using `aws-amplify-react-native` version 5.0.1. Going to downgrade to 4.3.2 as @chrisbonifacio mentioned above to see if the issue shows up for me.

[2021-06-08 17:51] eddiekeller commented on #7908
Merged in your change @matsuby . Thank you for your contribution!

[2021-06-08 17:51] #7908 closed

[2021-06-08 18:35] eddiekeller commented on #8118
Still unable to reproduce this bug. Also using the provided sample code in the OP. @ayhoung can you confirm if this is still an issue?

[2021-06-08 18:46] eddiekeller commented on #7668
Merged in PR.

[2021-06-08 18:46] #7668 closed

[2021-06-08 18:55] calebpollman commented on #7763
Fix can be tested by installing `aws-amplify@unstable `, will be included in the next prod release

[2021-06-08 18:55] #7763 closed

[2021-06-08 19:04] eddiekeller commented on #8199
merged in PR. toast should show when selecting an MFA type now

[2021-06-08 19:04] #8199 closed

[2021-06-08 19:06] eddiekeller commented on #7382
Can confirm that the hint text only shows on the last input field in the `formFields` prop. Looking into it.

[2021-06-08 19:58] sacrampton commented on #8405
Hi @iartemiev - sorry I'm probably not understanding the question. Our app is multi-tenanted. So we have a base query to return only the data that belongs to that client. But in our existing GraphQL app we would only return the specific attributes from say the Asset that the App needs (say 30 attributes and not 400+ attributes).

Also, I notice in the GraphQL when it is a BELONGS_TO association th

[2021-06-08 21:16] eddiekeller commented on #5655
Identified the issue in the sign in and sign up components and have a fix coming soon

[2021-06-09 00:24] sacrampton commented on #8405
Thanks @iartemiev. I have a further question related objects - whether the data from the related object is embedded in the original object inside DataStore. The queries tend to suggest that might be the case.

So for example, I might have an optional connection to a parent Post
[code]
I am wondering if the Parent record is embedded in the current record like something like this.
[code]

Also, edit

[2021-06-09 00:39] sacrampton commented on #8405
Hi @iartemiev - to answer your question **_"...I meant when you're calling DataStore.query, are you passing it a predicate, e.g., DataStore.query(Asset, c => c.someField('eq', 'someValue') or perhaps using pagination or are you retrieving all of the records from the local store by calling DataStore.query(Asset) (no predicates or pagination)?..."_**

We are doing the base query with a predicate as

[2021-06-09 02:36] jgiunta1 commented on #2605
I'm using Formik and [it already calls "preventDefault()"](https://github.com/formium/formik/blob/master/packages/formik/src/Formik.tsx#L796) so not sure that will help me.

Stack Trace:
#### 3 Client Level
- Network Error

#### 2 Amplify Level
- [/auth/src/Auth.ts#L618](https://github.com/aws-amplify/amplify-js/blob/4d39773b0c174538d0d7c1b770bc276700bcf953/packages/auth/src/Auth.ts#L618)

#### 1

[2021-06-09 02:49] jgiunta1 opened #8417 "Auth.signIn Network Issue"
### Note
When wrapping up for the night after hours of debugging this issue, I unplugged my ethernet cord on my mac. The issue was immediately fixed. I should also note my ethernet works fine, so no idea why this would be an issue. I'm also on wifi. Seems to be an issue unique to amplify. My prod environment running on ECS/Fargate is experiencing an identical issue.

Wifi Speed
83.8 Mbps downlaod

[2021-06-09 03:00] sacrampton commented on #8405
Hi @iartemiev - if we expand your type Post model above and have 100 x "field01": null fields and 2 fields as you show. In DynamoDB you would just have the id/title fields and this would be 32b in size. But if I look at the size of adding 100 null fields it swells to 1,532b. On a mobile where we are trying to save memory then it seems counterintuitive to be storing null fields. Is there any opport

[2021-06-09 03:06] jgiunta1 commented on #2605
I originally thumbed this down bc it seemed way out of left field and unrelated. But as I wrapped up my work for the night I unplugged my ethernet cable from my mac, and the issue disappeared. My ethernet works, and I'm on wifi, but it seems that for some unkown reason this call fails if my ethernet is plugged in.

[2021-06-09 04:36] gabrielmaldi commented on #5522
This is key to being able to validate a CAPTCHA in the Pre authentication trigger Lambda.

[2021-06-09 04:55] the-smart-home-maker commented on #8389
Dear @chrisbonifacio ,

thank you so much - given your app/build.gradle I was able to solve the problem!

I am pretty convinced now that the following change did the trick:

In my app/build.gradle I had the following definitions related to firebase and play-services:
[code]
I had taken those definitions from different resources explaining how to integrate aws amplify push notifications and analyti

[2021-06-09 05:51] vimkp commented on #7893
Hello @amhinson and @chrisbonifacio
Thanks for taking a look, I was wondering if you had any luck reproducing this?

[2021-06-09 06:34] PupoSDC commented on #6707
not statle. we still have to chack our way around this.

[2021-06-09 06:51] sacrampton commented on #8405
Hi @iartemiev - Some more results of testing with the original data set of 21,357 records detailed above. Querying the asset list before was taking 12 seconds. I have created a new schema.js that reduced the number of attributes on the records down significantly for the 3 models below.

&nbsp; | Original | New
-- | -- | --
Asset | 371 | 121
AssetVisit | 352 | 43
Photo | 112 | 60

The result was th

[2021-06-09 07:44] sacrampton commented on #8405
Hi @iartemiev - another test result to share with you. Used another larger dataset for testing. This data set had these quantities in these 3 models. All the other models are approximately the same quantities - they don't vary by project as they are essentially reference data objects.

&nbsp; | Records
-- | --
Asset | 30,998
AssetVisit | 9,315
Photo | 25,776

I tried with the Original schema.js an

[2021-06-09 09:37] plus- commented on #5918
Hello, is this still applicable with 4.0.x ? (we are on 4.0.3)

We are trying to iron out the errors at startup in a react-native application and we have both the require cycle coming from the 'aws-amplify' import as well as this issue. Both having a solution/workaround incompatible with each other.

[2021-06-09 09:45] chrisbonifacio commented on #8389
Awesome! Glad I could help. Have a great day 😄

[2021-06-09 09:45] #8389 closed

[2021-06-09 09:48] sacrampton commented on #8405
Hi @iartemiev - one final update from my testing. On the desktop you ship a storage adapter for IndexedDB which is a NoSQL database. So we did a test on the desktop with the large 30K+ Asset data set described above using the full schema.

It took about 11 minutes for the full dataset to download - but after that a query of the Asset table too **_2 seconds_**. This compares with 64 seconds on SQLi

[2021-06-09 11:05] rajashril commented on #8385
When I followed the steps mentioned above, still I am getting the same error and some new errors get introduced due to this. Attaching screen shots for the same.

I have followed the steps mention here https://docs.amplify.aws/lib/push-notifications/getting-started/q/platform/js#requirements for push notification setup, so I think `@aws-amplify/pushnotification` needed.

<img width="1105" alt="Scr

[2021-06-09 12:56] plus- commented on #6031
I believe this does not fix the require cycles issue posted initially (there were 2 issues reported together originally)

I've tested with 4.0.3 and still get the following:

[2021-06-09 13:11] iartemiev commented on #8405
I'll try to respond to the questions/points in order

For Has One and Belongs To relationships we resolve the connection at run time when you call `DataStore.query` on that model, but they are not saved that way to the local store.

By "base query" are you referring to the initial base sync query between AppSync and the local store? Or calling `DataStore.query` to retrieve records from the local s

[2021-06-09 14:03] thomasyim02 commented on #6031
+1 Same here.... Require Cycle issue has not been fixed! Please reopen the issue.

[2021-06-09 15:18] renanbronchart commented on #3257
How about this issue? I have the same problem.
Is someone take this feature?

[2021-06-09 17:20] sammartinez opened #8421 "Deeper look into the Require Cycles for React Native"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-09 17:22] sammartinez commented on #6031
@plus- and @thomasyim02 I created an issue for what you are calling out for [Require Cycles](https://github.com/aws-amplify/amplify-js/issues/8421). Can you please place any examples (similar to your code snippets above) in the new issue? Thanks ahead of time!

[2021-06-09 21:27] sacrampton commented on #8405
Hi @iartemiev - thanks for answering my long chain of rambling "input" / observations.

- "base query" - https://docs.amplify.aws/lib/datastore/how-it-works/q/platform/js#sync-data-to-cloud ("...The Sync Engine will run a GraphQL query on first start that hydrates the Storage Engine from the network using a Base Query...")
- Async Storage - thanks for that - we are using React Native on mobile and

[2021-06-09 23:04] sheersh95 opened #8424 "Not able pass clientMetadata to Post Confirmation Lambda due to SignUp method is not working as expected"
### Is this related to a new or existing framework?

React

### Is this related to a new or existing API?

_No response_

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

Not able pass clientMetadata to Post Confirmation Lambda due to SignUp method is not working as expected because it is not passing query string parameterss to the Post Confir

[2021-06-10 02:38] mir1198yusuf commented on #8322
Sorry for replying too late, I got into another issues at our backend.
The output on one machine -
[code]

[2021-06-10 03:18] thomasyim02 commented on #8421
@sammartinez Following from the previous issue #6031 , the require cycle issue occurs immediately after installing the amplify-js library to a React Native app (in my case, is RN version 0.63.4). The three warnings are:

[2021-06-10 08:12] rudyhadoux commented on #8317
The problem seems to be over.

[2021-06-10 08:12] #8317 closed

[2021-06-10 11:28] pgbradbury commented on #4927
Thanks for the thread, still looking for a solution on this

[2021-06-10 12:00] iartemiev commented on #7443
We released multiple authorization type support for DataStore in aws-amplify@3.4.0.

Please see this section of the docs on how to configure it: https://docs.amplify.aws/lib/datastore/setup-auth-rules/q/platform/js#configure-multiple-authorization-types

[2021-06-10 12:00] #7443 closed

[2021-06-10 12:13] iartemiev commented on #7709
We released multiple authorization type support for DataStore in aws-amplify@3.4.0.

Please see this section of the docs on how to configure it: https://docs.amplify.aws/lib/datastore/setup-auth-rules/q/platform/js#configure-multiple-authorization-types

[2021-06-10 12:13] #7709 closed

[2021-06-10 13:01] iartemiev commented on #8405
Thank you, that is helpful. We'll be doing additional library benchmarking today in order to pinpoint the issue and will provide an update with our findings.

[2021-06-10 14:30] chrisbonifacio commented on #6991
@pavinduLakshan Closing this for now as we have not heard back from you. Please re-open if you are still experiencing the issue and need assistance.

[2021-06-10 14:30] #6991 closed

[2021-06-10 14:54] m98 commented on #3373
I'm facing the same issue, and according to what I can see on my IDE, the function exists but it still complains about it
![image](https://user-images.githubusercontent.com/7496103/121547534-82ee3680-ca0c-11eb-9cf9-eb840bcc7d04.png)

[2021-06-10 15:47] aspittel opened #8426 "Error Messages with IAM Authorization"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-06-10 15:49] sammartinez commented on #8426
Thanks @aspittel for creating this issue, I have transferred this issue to the Amplify JS team and we will are digging into this issue for yourself.

[2021-06-10 15:57] aspittel commented on #8426
Thanks Sam!

On Thu, Jun 10, 2021 at 10:50 AM Sam Martinez ***@***.***>
wrote:

[2021-06-10 16:28] ericclemmons commented on #8424
Here's the workaround I was able to find:

The way this works is customizing `<AmplifySignUp handleSubmit={handleSubmit} />` to send `clientMetadata` to `Auth.signUp` by hand:

[code]

Submitting this form correctly sends `clientMetadata`:

So this should bridge the gap with sending `clientMetadata`!  The only problem with this workaround is that validation & error-handling has to be explicitly ha

[2021-06-10 17:11] iartemiev commented on #8405
Quick update: I have been able to repro performance issues similar to those described above when using a model with 7 fields containing values + 100 fields with `null` values and > 30k records in the local store. Will be investigating causes and potential solutions.

[2021-06-10 18:44] voigtito commented on #612
Still waitting

![meme](https://user-images.githubusercontent.com/55980259/121579974-a01e0780-ca02-11eb-958a-509a0e2fa3c5.jpg)

[2021-06-10 18:48] aspittel commented on #8426
@sammartinez It seems like this is actually an Admin UI bug -- can we move the issue back to there 😅?

[2021-06-10 19:13] KevinKra opened #8427 "Access Control SSR Bug: "Build failed: Basic Auth is not supported for SSR apps.""
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-10 19:36] karthikmBGO opened #8429 "amplify add auth error"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-10 20:13] ntekka opened #8430 "Sign In fails in one browser but works in another"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-10 20:28] sacrampton commented on #8405
Hi @iartemiev - that is fantastic news that you were able to reproduce. Hopefully you can also reproduce it working perfectly with IndexedDB/Browser too. Await your feedback.

[2021-06-10 20:58] joebuono commented on #7467
Hello mfaizan1! Thank you for opening this issue, and apologies for our delayed response.

We replicated the code you gave us as much as possible and built a sample app ([GitHub gist](https://gist.github.com/slaymance/8ba22755f722da15561a44ac0e998a2b)). We confirmed that we were able to access the `dispatch` method from `useContext`.

**Can you show us how you’re using the `withAuthenticator` HOC

[2021-06-10 21:19] jacoblogan commented on #7613
Thank you for your detailed and insightful report, the issue has been reproduced and is being worked on.

[2021-06-10 21:37] #7467 closed

[2021-06-10 22:10] mauerbac opened #8432 "Amplify Auth signup flow , account creation"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-10 22:22] karthikmBGO commented on #8429
I had missed the amplify pull option in the setup but encountering an error there. AMPLIFY is never straightforward , opening an issue for that now.

[2021-06-10 22:22] #8429 closed

[2021-06-10 22:23] karthikmBGO commented on #8429
I had missed the amplify pull option in the setup but encountering an error there. AMPLIFY is never straightforward , opening an issue for that now.

[2021-06-10 22:23] iartemiev commented on #8405
We've pinpointed the bottleneck to the `multiGet` [method](https://react-native-async-storage.github.io/async-storage/docs/api#multiget) in Async Storage, it seems that we're brushing up against that library's performance limitations here.

We'll be brainstorming what improvements we could make in the library in order to mitigate this as much as possible. For your use case specifically, even with

[2021-06-10 22:30] sacrampton commented on #8405
@iartemiev - looks like good progress.

Ultimately, I'd like to retain access to all fields (like we do with IndexedDB) - but for now we can run with the reduced schema. And even in the reduced schema I would estimate that 80% of those fields are null in the dataset.

I don't believe we have debugger enabled - but I will check.

[2021-06-10 22:57] karthikmBGO opened #8433 "amplify pull cli command having issues with aws profile"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-11 02:25] supersonix77 opened #8488 "error getting datastoreuser: DOMException: Failed to execute 'transaction' on 'IDBDatabase': One of the specified object stores was not found."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-06-11 05:49] theonlyway commented on #8174
Still an issue. I assume the bot needs a comment in order to not close the issue.

[2021-06-11 07:18] sacrampton commented on #8405
@iartemiev - checked performance with and without debugger enabled. The 64 second response was with React Native Debugger enabled. With Debugger switched off the response is 22 seconds. As you said - its about a 3X improvement.

Worth remembering that 22 seconds was with the stripped down schema and is still 11X slower than the Browser/IndexedDB running with the full schema. Good to know we'll see

[2021-06-11 07:44] stewartcampbell commented on #3435
Does this help now? https://aws.amazon.com/about-aws/whats-new/2021/06/amazon-cognito-now-supports-targeted-sign-out-through-refresh-token-revocation/

[2021-06-11 07:47] yepes commented on #3435
Better than nothing, but the thing is how to log out every device right now

[2021-06-11 08:13] takarabt commented on #7755
Hi @chrisbonifacio,

Regarding point 1:

- Merging identities is supported in User Pools. We already support this in our API using the triggers (Pre sign-up/Post confirmation), basically a user could connect using his username/passwrod or the linked external provider. In the User Pool only **one account** is created for both signin options. We are merging the identities based in the email.

- For

[2021-06-11 08:27] ddurham2 commented on #1191
Maybe a n00b question, but when I use ```<amplify-authenticator  [hide]="['SignUp','ConfirmSignUp']">```
I get a compile time error:
[code]
If I need to import AuthenticatorComponent, it's not readily apparent the path I should import it from.

Thanks

[2021-06-11 09:48] james-braund commented on #8398
Hi @iartemiev - any news on this please? Is there any other information I can provide to be of assistance?

I'm currently working around this issue by arbitrarily assigning a `Subject` to the `Session` when it begins, and then the user can choose a different one when they want, but that isn't a viable solution for Production.

[2021-06-11 09:53] kilianheinrich commented on #5741
Same issue

[2021-06-11 10:20] MohittPattel commented on #3640
hey I'm getting this error

Failed to compile.

./src/contexts/UserContext.js
Syntax error: C:/Users/Hp/Desktop/12may/client/src/contexts/UserContext.js: Unexpected token (61:19)

This is my cod

 return (
    <UserContext.Provider
      value={{
        state,
        isUserLoggedIn: state.isUserLoggedIn,
        uid: state?.user._id,
        dispatch,
      }}

      {children}
    </UserContext

[2021-06-11 12:26] iartemiev commented on #8405
To level-set on expectations a bit, I don't think we'll be able to get the same performance out of AsyncStorage as we do from IndexedDB, no matter what optimizations we add. The former is an intrinsically slower persistence layer when dealing with large amounts of data. I'm hoping we can see another 2-3x improvement, but 10x is quite unlikely. In order to achieve an order of magnitude improvement,

[2021-06-11 14:23] X-TiMe commented on #1218
@agileurbanite  do you know when a fix will be released ?  in  days/weeks/months ?

[2021-06-11 15:34] holden-caulfield opened #8435 "Decouple package for withSSRContext"
### Is this related to a new or existing framework?

Next.js

### Is this related to a new or existing API?

_No response_

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

Currently I'm using just a very minimal setup for aws-amplify. Basically, just @aws-amplify/core and @aws-amplify/auth

However, since I'm working on a NextJS application,

[2021-06-11 15:38] JonatanTrack commented on #2605
Hello. I also have the same problem, but in our case we are using expo for react.native and when executing it with the command "expo start" and sending it to localhost, the problem works when we make the apk, the application does not work with wifi network, and if with a 4G mobile network, all queries to the database work.

[2021-06-11 15:49] j2d2 commented on #7262
Thanks @jamesaucode ! My recent testing supports your results as well. I'm closing this issue.

[2021-06-11 15:49] #7262 closed

[2021-06-11 18:58] mlabieniec commented on #3435
Hello all, thank you for the continued feedback on this feature request. We've communicated it as a priority to the Cognito team and they have now released [Token Revocation this week](https://aws.amazon.com/about-aws/whats-new/2021/06/amazon-cognito-now-supports-targeted-sign-out-through-refresh-token-revocation/.

We've partnered with them to implement it inside Amplify libraries at launch when

[2021-06-11 18:58] #3435 closed

[2021-06-11 19:43] elorzafe commented on #3435
Have you tried global sign-out?, that will invalidate every session for that user

[2021-06-11 19:54] chrisbonifacio commented on #7066
Hey @andre347 👋 sorry for the delayed response. Did you ever manage to figure this out or do you still need assistance? I'm getting started on a reproduction right now but I'm inclined to believe that it might have something to do with permissions because it's a 401 status code?

I don't think I'd be able to reproduce this without more particular information about your amplify auth configuration b

[2021-06-12 05:31] TorrentofShame commented on #2556
I am also interested in this option.

[2021-06-12 07:14] mattmeye commented on #7821
@ruggero-balteri I couldn´t have said it better myself. In my opinion, it should be much more integrated and documented.

[2021-06-12 07:24] ackl commented on #7570
A workaround I've found is to tell webpack not to polyfill the crypto module for the browser.

e.g. for [webpack4 nextjs setup](https://github.com/aws-amplify/amplify-js/tree/main/.github/actions/bundle-size-action/next)
currently running `npm run calculate` gives me:

[code]

updating `next.config.js` with

[code]

gives me:

[code]

I haven't tested it thoroughly but basic sign in and signout fu

[2021-06-12 07:44] rpostulart commented on #2556
I believe this solution is already providing encryption at rest at client.

  https://realm.io/

Maybe we can learn something from that

[2021-06-12 07:44] ChrisSargent commented on #7570
Ahhh sorry. I meant to already write a reply here that my issue was being caused by different package. When I stopped importing the offending package my bundle size was normal and crypto was no longer being poly filled. i.e. Amplify Auth was not causing crypto to be polyfilled (and I got a console warning about it too)

[2021-06-12 11:39] KeKs0r commented on #54
@JesseDavda
Unfortunately I am not 100% following the solution. Does this mean that I configure my storage not to private and construct the path manually from the userId (=sub) in the client? And then use your IAM code to ensure the access is handled properly?

I am also using the amplify CLI, so I don't even know where exactly I would put those IAM rules.

[2021-06-12 14:44] Delannor opened #8437 "Installation of ui-react creates duplicate versions when installed alongside aws-amplify@4. No problems with aws-amplify@3"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-12 16:05] andreasanta commented on #612
I think it's unacceptable that such a simple feature has been around for four years in the backlog and users still have to implement at least two lambdas to perform custom redirect. Feels like the 90s when I was programming in Java Servlets. This definitely does not ampify anything, if you compare it to Firebase.

[2021-06-12 16:07] sverraest commented on #612
Paging @mlabieniec to consider re-opening this, it's really a shame this ticket is closed, the fact it still receives so many comments is a sign.

[2021-06-12 17:01] SvyatHoly commented on #3159
`{"ChallengeName":"CUSTOM_CHALLENGE","ChallengeParameters":{"USERNAME":"e4fed32c-e82d-463d-b4d5-03d5dc92d24d","email":"123@icloud.com"},"Session":"AYABeGc1q3-Hu0PnwQ11WN4763cAHQABAAdTZXJ2aWNlABBDb2duaXRvVXNlclBvb2xzAAEAB2F3cy1rbXMAS2Fybjphd3M6a21zOmV1LXdlc3QtMTo0NTU0NTg0OTMwODE6a2V5L2FiN2U3M2UzLWU2NDEtNDk5Zi1iNzc0LWZkZmM1MWM3NzFhYQC4AQIBAHjD65VylUN4FxI94_djiALdSNFQ3YA-SCdx6BLkTlEydQGRCgncCkjUribtu

[2021-06-12 18:16] gruckionvit commented on #6547
@mezalejandro did you ever manage to fix this issue? I am having the same problem.

[2021-06-12 18:24] mezalejandro commented on #6547
Hello, I have this problem since A year and a half

[2021-06-12 19:20] gruckion commented on #6637
Still having this issue none of the steps seemed to help.

I am using Expo and AWS Amplify.

https://saachitech.medium.com/react-native-social-sign-in-with-apple-and-amplify-6c803b2971d6

This guide is pretty detailed, but still stuck at this issue.

<img src="https://user-images.githubusercontent.com/4559650/121786305-eb791700-cbb6-11eb-94ab-6ab973276ef5.png" width="40%" />

# Apple setup

## App

[2021-06-12 19:30] gruckion commented on #6637
Still having this issue none of the steps seemed to help.

I am using Expo and AWS Amplify.

https://saachitech.medium.com/react-native-social-sign-in-with-apple-and-amplify-6c803b2971d6

This guide is pretty detailed, but still stuck at this issue.

<img src="https://user-images.githubusercontent.com/4559650/121786305-eb791700-cbb6-11eb-94ab-6ab973276ef5.png" width="40%" />

# Apple setup

## App

[2021-06-12 19:31] gruckion commented on #6547
Did you ever manage to fix it?

[2021-06-12 19:35] gruckion commented on #6547
Still having this issue none of the steps seemed to help.

I am using Expo and AWS Amplify.

https://saachitech.medium.com/react-native-social-sign-in-with-apple-and-amplify-6c803b2971d6

This guide is pretty detailed, but still stuck at this issue.

<img src="https://user-images.githubusercontent.com/4559650/121786305-eb791700-cbb6-11eb-94ab-6ab973276ef5.png" width="40%" />

# Apple setup

## App

[2021-06-12 19:48] gruckion opened #8438 "Can't login with Apple, Facebook and Google are fine"
Delete me

[2021-06-12 21:00] tommulkins commented on #5782
Just checking in to see if there's an update on this.  It appears the Amplify Admin UI suffers from the same problem.  At least AWS is dog-fooding their own product 😆

[2021-06-12 23:57] Crashtor commented on #6320
I've just started implementing Cognito and the end-user UX is frankly not even worth critiquing. It needs a complete re-think. Laughable.

[2021-06-13 09:15] gruckion commented on #6547
@mezalejandro Did you manage to fix it in the end?

[2021-06-13 10:14] gruckion commented on #6547
Oh my god... I fixed it jesus that was annoying. So you have the app identifier `com.mycompany.something` and you have the identifier you entered got the service which for me I just added sid on the end `com.mycompany.something.sid`

**MAKE SURE YOU USE THE SERVICE IDS IDENTIFIER!** Not the app identifier.

[2021-06-13 10:14] #8438 closed

[2021-06-13 10:15] gruckion commented on #8438
Oh my god... I fixed it jesus that was annoying. So you have the app identifier `com.mycompany.something` and you have the identifier you entered got the service which for me I just added sid on the end `com.mycompany.something.sid`

**MAKE SURE YOU USE THE SERVICE IDS IDENTIFIER!** Not the app identifier.

[2021-06-13 21:49] brendonparker commented on #7826
Also running into this.
I'm wondering if some of the constants are out-of-wack.

At least based on this source, it looks like it should be `localNotificationReceived' and not `localNotification`
https://github.com/react-native-push-notification-ios/push-notification-ios/blob/master/js/index.js

Still looking...

[2021-06-13 21:56] brendonparker commented on #7826
Hrm, disregard my original hypothesis.

Not sure what is going on, but I can get it to work when I register the event handler myself against `PushNotificationIOS.addEventListener`...

[code]

[2021-06-13 23:28] brendonparker commented on #7826
At least in my scenario, I was able to track down that I needed to call:

[code]

After doing so, it appears to work as expected.

[2021-06-14 00:11] brendonparker commented on #7826
The root cause may be differences in the `aws-sdk` and `@aws-amplify/pushnotification` package versions. Make sure you're using the latest for both. Otherwise, I think the configuration/resolution in the `aws-sdk` will propagate to the `@aws-amplify/pushnotification` lib, causing it not to auto-config.

[2021-06-14 06:39] wlee221 commented on #8437
Hi @Delannor, thanks for reporting this issue!

I found that our peer dependency from `@aws-amplify/ui-components` isn't up to date:

https://github.com/aws-amplify/amplify-js/blob/eb3b707722084f07d025344bf6bbc34927b79bf5/packages/amplify-ui-components/package.json#L37-L39

This should point to `4.x.x`. I'll make a PR shortly. Meanwhile, you can pass [`--legacy-peer-deps`](https://github.blog/2021

[2021-06-14 10:03] radiosilence commented on #7499
@ErikCH Honeslty I eventually solved this by getting rid of Amplify and just writing a light wrapper around `amazon-cognito-identity-js` and my own login form.

Here it is if anyone wants to use it:

[code]

[2021-06-14 10:31] rapgithub opened #8445 "SignInWithApple and Amplify not working user is never authenticated (I have all lastest updates for all)"
anyone has implemented signInWithApple using amplify Auth.federatedSignIn? in my case credentials are null and user is never authenticated
[code]

credentials returning all the time null

if I use

[code]

the error says user it is not authenticated i am using cognito with aws and amplify with my Cordova mobile app!
With facebook and google everything works perfectly but not with apple sign in!

A

[2021-06-14 13:45] satbirsab commented on #7251
any update?

[2021-06-14 13:49] chrisbonifacio commented on #8410
@zzBrunoBrito Hey 👋 , going to close this as we haven't heard back from you in a week. Please let me know if my example above helped or feel free to re-open if you need additional help. Thanks!

[2021-06-14 13:49] #8410 closed

[2021-06-14 15:36] ryanbagwell opened #8444 "Amplify stuck in the provision phase"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-14 15:39] eddiekeller commented on #7382
The fix has been merged in. Let us know if this still an issue for you.

[2021-06-14 15:39] #7382 closed

[2021-06-14 15:41] eddiekeller commented on #5655
The "fix" has been merged in. The "username alias" strings will now specifically mention "email", "phone", or "username" depending on what type of input it is. Thanks for pointing this issue out. Closing now, but please let us know if an issue remains for you.

[2021-06-14 15:41] #5655 closed

[2021-06-14 15:56] ericclemmons commented on #5782
@tommulkins It could be for a different reason! Can you open an issue here so they can improve that separately?

Thanks!

[2021-06-14 16:00] ericclemmons commented on #7570
@ackl Nice workaround! We're having to do the same thing for `webpack` (5) since it _doesn't_ polyfill by default:

https://github.com/aws-amplify/amplify-js/blob/eb3b707722084f07d025344bf6bbc34927b79bf5/.github/actions/bundle-size-action/webpack/webpack.config.js#L13-L27

What stinks is that CRA is closed to extension (unless you eject or use 3rd party libs like [craco](https://github.com/gsoft-i

[2021-06-14 16:29] reddypramod85 commented on #8444
We are also facing the same issue. Amplify struck in the provisioning phase.

![image](https://user-images.githubusercontent.com/12749370/121926580-b6c6a600-cd03-11eb-81a4-e9ab73d26500.png)

[2021-06-14 17:22] chrisbonifacio commented on #8355
Hi 👋 Closing this as we have not heard back from you in over a week. If you are still experiencing this issue and in need of assistance, please feel free to re-open and provide us with any information previously requested by our team members so we are better able to assist you. Thank you!

[2021-06-14 17:22] #8355 closed

[2021-06-14 17:28] chrisbonifacio commented on #8223
Hi @CLMichel 👋 I apologize for the delay. Are you still experiencing this issue? If so, could you please take a look at the documentation for Admin Queries?

https://docs.amplify.aws/cli/auth/admin#admin-queries-api

There doesn't seem to be a `/createUser` route, which would explain the 404, but there is a `/addUserToGroup` route. Maybe that's the one you want?

[2021-06-14 17:43] eddiekeller commented on #7564
Yeah, CSS override support is lacking in the current implementation of these components. It is easy enough, however, to at least make it so that the sign in button takes the full width of the form, like in your screenshot, if the "Sign up" button is hidden. I'll have a PR out for that soon.

[2021-06-14 18:06] zacharywenner opened #8446 "Auth.federatedSignIn() throws error in iOS 14.5 ... "Provided scheme is not valid""
### Before opening, please confirm:

- [x] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-14 18:11] chrisbonifacio commented on #8445
Hi @rapgithub :wave: did you setup SignInWithApple by following the steps in the docs? Just asking so I know what steps to take to try and reproduce the same issue.

https://docs.amplify.aws/lib/auth/social/q/platform/js

[2021-06-14 18:13] chrisbonifacio commented on #8445
Also, if you can share how the code where `Auth.federatedSignIn` and `Auth.currentAuthenticatedUser` are called, please do. It may be even just be an issue with how the code is written.

[2021-06-14 19:40] chrisbonifacio commented on #8444
Hey @ryanbagwell 👋 thanks for raising this. Sorry to hear you're experiencing this issue. In order for me to try to reproduce the issue, can you provide the details of your amplify configuration such as what Categories you might be using? (Auth, API, DataStore, etc)

@reddypramod85 if you can provide the details of your environment as well, please do.

[2021-06-14 19:42] sacrampton commented on #8405
Hi @iartemiev - just checking back in to see whether you have made any progress on this.

[2021-06-14 20:48] reddypramod85 commented on #8444
I don't see the issue anymore.

[2021-06-14 20:59] ryanbagwell commented on #8444
This corrected itself after a few hours for me as well.

Sent from my iPhone

On Jun 14, 2021, at 3:41 PM, Chris Bonifacio ***@***.***>
wrote:

﻿

Hey @ryanbagwell <https://github.com/ryanbagwell> 👋 thanks for raising
this. Sorry to hear you're experiencing this issue. In order for me to try
to reproduce the issue, can you provide the details of your amplify
configuration such as what Categories y

[2021-06-14 21:20] cross19xx commented on #8341
It's worth noting that if you're running for android, clean the project first

[2021-06-14 22:21] iartemiev commented on #8405
Hey @sacrampton, we've identified the optimization we're planning on implementing and it's what you suggested above, i.e., not persisting `null` values to the local databases. We're testing this solution now to make sure that it doesn't have any unwanted side effects.

If you would like to test the effect this change will have on your queries before we release the fix, you can make the following *

[2021-06-14 23:28] paullam328 opened #8449 "Cannot find file './styles/App.scss' in './src'"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-14 23:30] sacrampton opened #8450 "Mutation Overwrites DataStore with incorrect NULL values"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-14 23:32] sacrampton commented on #8405
Hi @iartemiev - that sounds great - will get testing immediately and let you know how we go.

I just created another issue (#8450) also dealing with null values and subscriptions. Will the changes you made here deal with that?

[2021-06-14 23:33] sacrampton commented on #8450
Hi @iartemiev - just wondering if this issue is related to #8405 that you are currently working

[2021-06-15 00:51] thetrevdev commented on #5782
Is there a rough ETA for a fix that would include Safari?

[2021-06-15 08:17] sacrampton commented on #8405
Hi @iartemiev - we did the testing and can indeed see that the null values are removed from the data. However, it didn't change the performance we were seeing. Namely 64 seconds in debug and 24 seconds without debug.

[2021-06-15 08:27] sacrampton commented on #8450
Please see another thing we are wrestling with - before the subscription DataStore has connected/nested items (operatingUnit and plant). After the subscription the connected/nested fields are no longer visible.

![before_subscription](https://user-images.githubusercontent.com/6362888/122019419-1659aa00-ce07-11eb-8016-8aeb8ba77640.png)

![after_subscription](https://user-images.githubusercontent.co

[2021-06-15 08:56] ingwinlu commented on #5177
It is really a shame there is no easy way to do this. Retrieving the identityId ranges from a chore to downright unpractical.

[2021-06-15 12:34] apoorvmote opened #8452 "Year Month is null only in USA and Canada"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-06-15 12:39] rapgithub commented on #8445
I have Facebook and Google working perfectly with amplify and cognito but apple sign in it is not working! My environment it is javascript I use framework7 and Cordova amplify, I have added apple sign in and followed all steps for store connect in  developers.apple and set up service Id and keys and cognito enable the apple sign in too... according the amplify explanation and credentials are retur

[2021-06-15 13:07] #8444 closed

[2021-06-15 13:56] themse commented on #6031
[code]
Require Cycles still exist

[2021-06-15 15:27] zacharywenner commented on #8446
## Update

This may be fixed from **InAppBrowser.**

Issue: proyecto26/react-native-inappbrowser#256

Solution: proyecto26/react-native-inappbrowser#262

Temporary workaround you can use (works for me):

https://github.com/proyecto26/react-native-inappbrowser/pull/262#issuecomment-859641814

I'm not sure if this needs to be reinforced from Amplify, if so it can reopen

[2021-06-15 15:27] #8446 closed

[2021-06-15 15:37] sammartinez commented on #6031
Thanks for this feedback @themse I created a [separate issue](https://github.com/aws-amplify/amplify-js/issues/8421) for this above. Can you please add your data to this [issue](https://github.com/aws-amplify/amplify-js/issues/8421)?

[2021-06-15 16:46] hkjpotato commented on #7570
I have same issue for CRA bundle size due to the [require](https://github.com/brix/crypto-js/issues/276) keyword for 'crypto', adding it to externals of webpack config help reduce the bundle size quite a bit.

[code]

[2021-06-15 17:25] eddiekeller commented on #7564
PR merged in. Hopefully that new button width works better for you. I'm going to close this ticket, but please reach out to us when any other requests you might have!

[2021-06-15 17:25] #7564 closed

[2021-06-15 17:59] jacoblogan commented on #6885
This issue has been reproduced and is being worked on

[2021-06-15 18:08] eddiekeller commented on #5048
As mentioned in https://github.com/aws-amplify/amplify-js/pull/5772 , this is something we are looking to implement in the future. But, for now, you should be able to disable autocomplete via the `inputProps`.

[code]

[2021-06-15 18:12] eddiekeller commented on #5048
We are looking at including this in the future, but for now, using the `autocomplete` prop inside of `inputProps` on the component should allow you to disable the autocomplete functionality.

[code]