[2019-06-03 21:46] jordanranz commented on #1739
Closing as the issue seems to be fixed.

[2019-06-03 21:46] #1739 closed

[2019-06-03 21:47] jordanranz commented on #1740
Hey @Knowledge91, are you still experiencing this issue with the latest version of aws-amplify?

[2019-06-03 21:51] jordanranz commented on #1771
Seems a change was merged to fix the initial issue here. @lvl99 Are you still experiencing an issue here?

[2019-06-03 21:53] jordanranz commented on #1779
@mihaiblaga89 any update on this?

[2019-06-03 21:59] jordanranz commented on #1793
Closing due to inactivity. Please open a new issue if you are still blocked on this issue.

[2019-06-03 21:59] #1793 closed

[2019-06-03 22:04] jordanranz commented on #1814
Hey @BronxBombers, are you using aws-amplify-react in your project? The error mentioned above suggests you are trying to use one of our web specific component libraries (React, Angular, Vue). Using one of these libraries in React Native is not supported.

[2019-06-03 22:05] willycamargo commented on #1729
No, I have switched to [Auth0](https://auth0.com) because of this issue. 😟

I didn't use the amplify-cli, and unfortunately, I don't remember which docs I have read.

Thanks for response.

[2019-06-03 22:05] #1729 closed

[2019-06-03 22:06] ayappaP commented on #2706
Same issue here as well. You cannot upload images to S3 using aws graphql client.
Must use the Appsync SDK which has a huge size just like every other AWS package, bloating your app. The documentation should make it clear that you cannot use complexobjects at the beginning so that people don't have to rewrite a significant portion of the app just because they used the graphql client.
👎

[2019-06-03 23:19] RyPope commented on #3387
@janhesters From the documentation https://docs.aws.amazon.com/cognito/latest/developerguide/signing-up-users-in-your-app.html :

Confirming User Accounts Without Verifying Email or Phone Number
The Pre-Sign Up Lambda trigger can be used to auto-confirm user accounts at sign-up time, without requiring a confirmation code or verifying email or phone number. Users who are confirmed this way can imme

[2019-06-04 00:58] annjawn commented on #1972
How about giving us an ability to disable automatic refresh token? I guess I also don't understand the explanation:

How does Amplify keep track of when to call the refreshToken method if it cannot keep track of it's expiration period. Providing a way within the library the capability for the app to respect the token's expiration and signOut should be available out of the box. What if I don't want

[2019-06-04 01:59] hutch120 commented on #2070
Hi Gents @powerful23 @haverchuck

I can usually figure these things out, but I'm really struggling with this one... we got a field report two days ago this is broken and I've been trying to figure it out non-stop since then... (not sure when exactly it started to break because it's not heavily used) but we have been running this configuration for at least 6 months.

Essentially the code uses `onSt

[2019-06-04 03:20] altinselimi commented on #2829
@StefanBuchman did you manage to solve this ?

[2019-06-04 03:41] tuhinkarmakar commented on #3365
@powerful23 Without step 3, I was getting an error saying "No Auth module registered with Amplify". I updated my comment to add 2 more steps that were required.

[2019-06-04 05:13] legendactivated commented on #661
Thanks for the reply @adam-harwood! I'll take a look into it.

[2019-06-04 05:36] YikSanChan opened #3392 "Calling Storage::get thousands of times are very slow"
** Which Category is your question related to? **
Storage

** What AWS Services are you utilizing? **
Cognito, S3

** Provide additional details e.g. code snippets **
My app shows a list of items in some certain screens. When displaying a list of items, I also fetch presigned url for its related image by `Storage.get(key, {level: "private"})`. However, this results in huge amount of http calls and

[2019-06-04 07:18] rawadrifai opened #3393 "Can I point groupsField in @auth to a non-Cognito source?"
** Which Category is your question related to? **
Access control through Cognito? or not?

** What AWS Services are you utilizing? **
Amplify, GraphQL, DynamoDB, Cognito

** Provide additional details e.g. code snippets **
I cannot seem to get a good design for a very simple requirement. My users should be able to create groups. When others join groups they can see what that group is allowed to se

[2019-06-04 09:26] lroellin commented on #3049
For reference: setting the value to ~2 billions (2147483647) worked as a workaround

[2019-06-04 12:06] janhesters commented on #3387
@RyPope Thank you!

[2019-06-04 12:06] #3387 closed

[2019-06-04 13:29] mrowe009 opened #3394 "@aws-amplify/api has a vulnerable dependency, Axios:0.17.0"
@aws-amplify/api current version has a vulnerable dependency Axios: 0.17.0

Vulnerable versions: <= 0.18.0
Patched version: 0.19.0

Axios up to and including 0.18.0 allows attackers to cause a denial of service (application crash) by continuing to accepting content after maxContentLength is exceeded.

upgrading to 0.19.0 fixes the issue.

[2019-06-04 13:43] cliffordh opened #3395 "Support Sign In With Apple, Required for Apps using Social Sign In"
**Is your feature request related to a problem? Please describe.**
On Jun 3rd, Apple announced a new feature called Sign In With Apple. It is a social sign in solution similar to Facebook and Google Sign In. However, Sign In with Apple now lets the user decide what, if any personal information such as email, is shared with the developer. The user may choose to have an email alias sent to the devel

[2019-06-04 16:15] ashleynguyen27 commented on #3264
how did you end up solving this. I am having the same issue

[2019-06-04 16:54] charliedavison commented on #2126
+1 @karlmosenbacher Did you ever find an answer to this?

[2019-06-04 17:01] ajhool commented on #2288
Is everybody else still experiencing this issue ( where "aws_appsync_authenticationType": "AMAZON_COGNITO_USER_POOLS" ) is not automatically added to `aws_exports.js`?

I've checked the source code and don't see an obvious reason why this bug exists because it appears to be adding the field ->

https://github.com/aws-amplify/amplify-cli/blob/13d9fc3fa32be5fc6be454fe91e0de0bb7226bef/packages/amplif

[2019-06-04 17:21] HoraceShmorace opened #3396 "Give unauthorized users read permissions via GraphQL"
** Which Category is your question related to? **
You haven't defined what a "Category" is nor enumerated valid values, so I can't answer this.

** What AWS Services are you utilizing? **
AppSync

** Provide additional details e.g. code snippets **

1. I've set up auth on a project, allowing for both authorized and unauthorized users.
2. I've set up an API using GraphQL, just using the default Blo

[2019-06-04 17:25] jordanranz commented on #3394
Hey @mrcoles, we bumped the axios version in this pr:
https://github.com/aws-amplify/amplify-js/pull/3377

It will be published to npm latest soon. Thanks for the heads up.

[2019-06-04 17:25] #3394 closed

[2019-06-04 17:56] Dellybro commented on #3296
Any news on this issue ?

[2019-06-04 17:57] JohanRin opened #3397 "On Edge TypeError: Failed to execute 'fetch()' on 'Window': Invalid argument with Hosted UI"
**Describe the bug**
In Edge, when I use the Hosted UI I have the following error:
"Uncaught (in promise): TypeError: Failed to execute 'fetch()' on 'Window': Invalid argument.

**To Reproduce**
Steps to reproduce the behavior:
1. Install and configure the Hosted UI
2. Click on Hosted UI button
3. See error

**Expected behavior**
No error on Edge after using Hosted UI.

**Screenshots**
![Failed to

[2019-06-04 18:04] gucolin commented on #3379
Tried again today (without making any changes on my end) and it went back to normal. Seems like the issue has been fixed on the Cognito side. Closing this issue.

[2019-06-04 18:04] #3379 closed

[2019-06-04 18:20] powerful23 commented on #2070
@hutch120 can you turn on the debug mode by putting `window.LOG_LEVEL='DEBUG'` and then when calling `Auth.currentCredentials()`, something like `'set credentials from session'` should show up as you are using the tokens from the auth session to get the aws credentials. The `Unauthenticated access is not supported for this identity pool.` error is indicating you are trying to fetch a guest credent

[2019-06-04 18:21] #2610 closed

[2019-06-04 18:21] #3212 closed

[2019-06-04 18:42] karlmosenbacher commented on #2126
@charliedavison It was a long time ago since I added this issue and the amplify team seems to have change the way the Hub module is used.

Have you tried the following:
https://aws-amplify.github.io/docs/js/authentication#oauth-and-hosted-ui

That worked for me 👍

[2019-06-04 18:49] ahummel25 commented on #3347
@manueliglesias I'm a bit confused. I'm also trying to leverage cognito for user login via Twitter. Do we need to create a custom provider or use the available Twitter provider already there? It's clear that cognito does not have Twitter available as a `CognitoHostedUIIdentityProvider`, so what real backend support is there?

[2019-06-04 19:49] jordanranz commented on #1907
@Zilvinaskli Are you still experiencing the problem mentioned in the original issue post?

[2019-06-04 19:59] jordanranz commented on #1966
Closing this issue due to inactivity, please feel free to open a new issue if you are still experiencing the problem.

[2019-06-04 19:59] #1966 closed

[2019-06-04 20:00] jordanranz commented on #1967
Closing this issue due to inactivity, please open a new issue if you are still experiencing related problems.

[2019-06-04 20:00] #1967 closed

[2019-06-04 20:04] jordanranz commented on #1971
Closing this due to inactivity. Please open a new issue if you are still experiencing any related problems.

[2019-06-04 20:04] #1971 closed

[2019-06-04 20:18] dabit3 commented on #711
@bishonbopanna No ETA yet but it's currently on the roadmap and definitely a priority.

[2019-06-04 21:19] jordanranz commented on #1992
Our Hub module has been refactored based on the following issue and PR:
- https://github.com/aws-amplify/amplify-js/issues/2669
- https://github.com/aws-amplify/amplify-js/pull/2850

Have you tried using the latest version?

[2019-06-04 21:32] jordanranz commented on #1999
Are you using Node or server side rendering?

[2019-06-04 21:39] jordanranz commented on #2007
@nayan27, we are open to accept PRs for this. Please feel free to contribute if you'd like this feature.

In the meantime, I can mark this as a feature request and we can evaluate whether or not to prioritize it.

[2019-06-04 21:40] icrustandi commented on #3195
Hi - I'm still experiencing the same symptoms with the same steps to reproduce. It seems like after the first initial login, the 'amplify-signin-with-hostedUI' key in localstorage still exists/set to 'true', and on the refresh after login, the amplify-signin-with-hostedUI key still exists, and this.checkUser isn't called.

If I remove this key manually after authState==='signedIn', then the refres

[2019-06-04 21:42] jordanranz commented on #2011
@teuteuguy, are you still experiencing this issue with the latest version of aws-amplify?

[2019-06-04 22:38] hutch120 commented on #2070
@powerful23 Thanks for the response.. I'm sure you are right... but how do I get `Storage.get('somefile.txt')` to work? I can get the groups from the `user` object so clearly the user is authenticated.

[2019-06-04 22:50] hutch120 commented on #2070
@powerful23 here is a dump of the debug messages. Not sure what's normal and what's unusual.

[code]

[2019-06-04 23:32] alemser commented on #1429
Same here, about to abandon due to the lack of translation.

[2019-06-04 23:39] hutch120 commented on #2070
Is this related?
https://github.com/aws-amplify/amplify-js/issues/589

[2019-06-05 00:01] jordanranz commented on #3279
Thanks for the feedback @jkeys-ecg-nmsu. I think presenting more RFCs like this one is a step in the right direction for exposing a more public roadmap. We have also discussed presenting more granular roadmap items to the community but haven't settled on the best way to do this.

This being said, I don't want to stray too far off topic from the RFC being presented. I would love to hear more feedba

[2019-06-05 00:08] jordanranz commented on #3348
This is being refactored in the UI Component refactor:
https://github.com/aws-amplify/amplify-js/issues/3279

[2019-06-05 00:27] hutch120 commented on #2070
@powerful23 Ok, I know what's happened.

Firstly, thanks... the message `NotAuthorizedException: The ambiguous role mapping rules for [user pool name] denied this request.` helped me to identify that the issue was with some configuration of the Cognito system.

In Federated Identity `Edit identity pool` I had the `Authenticated role selection` set to `Deny` which means you *MUST* have a role assig

[2019-06-05 01:56] goneale opened #3398 "react-native link @aws-amplify/pushnotification error "Failed to get dependency config" (RN 0.59.8)"
React Native version:
[code]

## Steps To Reproduce

npm install @aws-amplify/pushnotification --save
then
react-native link @aws-amplify/pushnotification
results in error:
[code]
Can't get any linking to function.

[2019-06-05 02:04] goneale commented on #3398
Closing issue. Spelling mistake while running command!

[2019-06-05 02:04] #3398 closed

[2019-06-05 02:07] ryanjones commented on #3030
I had a weird issue where I was getting this error after I had added auth through the CLI w/ federated login and then tried to change it back to just the defaults. It turns out it didn't clean up the settings in aws-exports.js for the federated login. I solved it by blowing away my auth pool and rebuilding it.

I think the error was actually stating that it didn't have the oauth provider (facebook

[2019-06-05 05:36] malithjkmt opened #3399 "Cognito hosted UI federatedSignIn not working with react native:- "Error in cognito hosted auth response Error: invalid_request""
As in the [docs](https://aws-amplify.github.io/docs/js/authentication#customize-your-own-components) I used oauth configs to login using fb | google with config like in below template.

[code]
Configured with ` Amplify.configure(config)` when the app starts.

Added

[code]
in the componentDidMount() and used `Auth.federatedSignIn({ provider: 'Facebook' })` and `Auth.federatedSignIn({ provider: 'Go

[2019-06-05 07:37] #2126 closed

[2019-06-05 08:25] peterjungx opened #3400 "Atomic inserts for linked entities"
** Which Category is your question related to? **
Amplify API

** What AWS Services are you utilizing? **
Amplify API, GraphQL, DynamoDB

** Provide additional details e.g. code snippets **

Does Amplify API support atomic inserts for multiple linked entities?

Scenario: Assume a classic Blog-1:n-Post-1:n-Comment model (specified via annotated graphql schema). Assume I want to create a deep copy o

[2019-06-05 10:13] dementiev opened #3401 "Add checkboxes into cognito-hosted ui"
** Which Category is your question related to? **
Auth, Cognito-Hosted UI

** What AWS Services are you utilizing? **
Userpool federation (Google, Facebook)

** Provide additional details e.g. code snippets **
I wonder if it is possible to add checkboxes into cognito-hosted ui? I want to incorporate mandatory license and terms of use agreements on sign up form provided by cognito-hosted ui. Also,

[2019-06-05 10:26] Cayce commented on #2739
Had the same error, changing IOT Core policy solved the problem for me:
[code]

My guess is that previous policy gave permission to subscribe/publish to topics, but didn't gave the permission to connect. Amplify JS PubSub docs can be improved IMHO.

[2019-06-05 10:54] jclough96 commented on #3395
As this is a requirement from Apple, could we also get some feedback as too when this is likely to be implemented for Hosted UI and/or Amplify. We currently rely on the Hosted UI for Cognito authorisation in our iOS apps and would need to test. Thanks for raising the issue @cliffordh

[2019-06-05 12:12] mydea commented on #3365
Even when just pulling in `@aws-amplify/auth`, it adds ~80kb of gzipped size. That does feel pretty extensive for just handling authentication. (See https://bundlephobia.com/result?p=@aws-amplify/auth@1.2.24, which also matches what I can see in my app). Are there any plans (or ways) to reduce this? It seems that almost 50% of this is `aws-sdk`. Is there no way to use Cognito without adding on 270

[2019-06-05 12:23] anuradhawick commented on #565
Can anyone give an update on this thread?
I intend to link the users to cognito user in the pre sign up trigger. However, it fails with error "Already found an entry for username Facebook_4567890456789067". Apparently `adminLinkProviderForUser` creates a user and sign the user up in the pre sign up stage failing the flow. I have been working on this for several days without luck. Thanks in advance

[2019-06-05 12:56] raquila opened #3402 "Login Not Allowed"
**Describe the bug**
I have not tried to reproduce this login error using amplify-js but I assume I would get the same error.

If I set the policy to only allow administrators to create users, my existing cognito IdP user is not able to login. I get the error Login not allowed in the hosted ui login screen.. If I switch the policy to allow users to sign themselves up, the user is able to login. I

[2019-06-05 15:07] haverchuck commented on #3330
@davidgatti - Cognito should only return a value for MFAOptions if SMS MFA is enabled (it should include the code delivery details - essentially the phone number for the user).  The UserMFASettingList value should have more comprehensive details about MFA Settings.  We will be communicating with the author of the PR you cited to discuss some changes.

[2019-06-05 15:46] ak37165 commented on #3390
To summarize the issue: **someone with just my phone can login without knowing my password** if I enable SMS MFA (or just add a verified phone).

The attacker with my phone will request a password reset code, get it on the phone (most smartphones display the SMS received even when the screen is locked) and use it to reset my password. Now they can login using the new password and the SMS MFA code

[2019-06-05 16:10] sashafklein commented on #1544
@jordanranz - I'm no longer working with this app, and haven't worked on a project with Amplify in several months, so I can't say, unfortunately.

[2019-06-05 16:20] jordanranz commented on #2026
Seems a change was merged for this. Closing this issue now.

[2019-06-05 16:20] #2026 closed

[2019-06-05 16:25] jordanranz commented on #2039
@dmvakh/@alxx  , are you still experiencing this issue with the latest version?

[2019-06-05 16:26] alxx commented on #2039
I don't know; I stopped using Amplify and switched to an alternative library instead.

[2019-06-05 16:32] jordanranz commented on #2046
Closing due to inactivity. Please open a new issue if you are having any related problems.

[2019-06-05 16:32] #2046 closed

[2019-06-05 16:34] jordanranz commented on #2070
@ilrein @hutch120 Are you still experiencing issues with the latest aws-amplify?

[2019-06-05 16:42] aravindkaws opened #3404 "Interactions UI , HTML support"
I'd like to use the Interactions Capability of Amplify with a Lex backend. I have it running but was wondering if the ChatBot UI supports HTML content and if so, what is the best way of achieving this ?

[2019-06-05 16:48] vgaltes opened #3405 "Error in Auth.js running the withOAuth example"
**Describe the bug**
I'm trying to follow the React Components example, using the withOAuth component (https://aws-amplify.github.io/docs/js/authentication#react-components). The first thing is that I had to change the code to make it compile. I've neede to change the class definition to
[code]

The second thing, is that when I run the example, everything looks like is running correctly but I see

[2019-06-05 18:12] lenarmazitov commented on #3399
I have the same error after some updates. Before everything was worked fine.

[2019-06-05 19:51] aldo-roman commented on #3365
@mydea it seems `aws-sdk` is publishing only on UMD and, thus, does not support tree-shaking. So i guess it is not possible with current status of the library. They should go through a similar work proposed on this issue. See https://github.com/aws/aws-sdk-js/issues/1766

[2019-06-05 21:41] jordanranz commented on #3402
This seems to be a Cognito service specific question. Have you tried asking on the [AWS forum](https://forums.aws.amazon.com/forum.jspa?forumID=173)?

[2019-06-05 21:44] jordanranz commented on #3404
Hey @aravindkaws, could you explain what you mean by 'HTML content' or give an example of this.

It is possible that this may relate to the following RFC, which highlights the use of Web Components which can be used in vanilla javascript and html:
https://github.com/aws-amplify/amplify-js/issues/3279

[2019-06-05 21:45] jordanranz commented on #3405
Which version of `aws-amplify` are you using when running into this issue?

[2019-06-05 21:48] matthamil commented on #2232
Apologies for commenting on a closed ticket. Does the Cognito JS SDK and/or Amplify expose a method that can read cached user info **without** making a network request to Cognito? We use Amplify in a React Native app. The app needs to work entirely offline. I can check the app's cache to see if a key like `CognitoIdentityServiceProvider` exists, but since this isn't accessed through a public API,

[2019-06-05 21:48] vgaltes commented on #3405
Hi, the version is 1.1.28.

[2019-06-05 21:49] jordanranz commented on #3405
Can you also paste an example of how you are using `aws-amplify` and `aws-amplify-react`. A small code snippet would help

[2019-06-05 21:53] jordanranz commented on #3405
You also mentioned using Google sign-in so I'll post a React + Google sign-in example on the docs:
https://aws-amplify.github.io/docs/js/authentication#google-sample-in-react

[2019-06-05 22:31] jkeys-ecg-nmsu commented on #2232
I think you want this:

When you say their token has expired, do you mean the access token or the refresh token? Although I think either way it will still refresh. (My understanding is that a refresh token can be exchanged for another refresh token with a fresh expiry date.)

[2019-06-05 22:38] vgaltes commented on #3405
I'm basically using the sample code that is on the documentation:

// App.tsx
[code]

// OAuthButton.js
[code]

[2019-06-05 22:48] BarrySkidmore commented on #1028
+1 Looking for this to get merged.

[2019-06-05 22:54] aravindkaws commented on #3404
With 'HTML content' I mean, the ability to display HTML content like Tables and HyperLinks in the ChatBot component. Currently I don't see an option but to implement this in the ChatBot.jsx file. Would be nice to set a Prop on ChatBot to enable run time HTML elements to be rendered within Chat window.

[2019-06-05 23:10] jmorecroft opened #3407 "Generated code does not support paginated member results beyond one page"
**Describe the bug**
Using the generated TypeScript queries.ts and API.ts code, I am unable to list a model member where the number of results is greater than the page size. To do this I need to write a custom query string etc passing nextToken to the member, which starts to defeat the purpose of using generated code.

The problem, and a custom solution, is described here:
https://github.com/aws-a

[2019-06-05 23:14] hutch120 commented on #2070
@jordanranz All good, pls close.

[2019-06-05 23:35] rogueturnip commented on #3328
Still struggling with this bug.  I've matched the aws-sdk version to what's in amplify and validated that the asyncstorage data is there while the app is running but then isn't when the app is restarted.

I've set up the react-community asyncstorage module in my app for my use of asyncstorage, could this be conflicting with the old core react-native asyncstorage?

[2019-06-06 00:50] raquila commented on #3402
I have but that forum doesn't seem to be too active with people answering questions.  I was hoping someone here could figure this out.

[2019-06-06 01:08] colcodev commented on #1093
[Serverless users] I lost a complete day trying to debug the same issue and reading the excellent serverless-stack tutorial I found **THE problem**.

As @caiocezart says, a 403 error is related to API Gateway and error no CORS.

**Solution**:
Don't forget config how your serverless app handles gateway error.

You can follow this guide to fix the 403 error (then CORS issue)

https://serverless-stac

[2019-06-06 02:38] dmvakh commented on #2039
@jordanranz tested it again near 2 months ago - the result was the same

[2019-06-06 03:30] malithjkmt commented on #3399
**UPDATE**

Works when you disable 'remote debugger'!
Somehow it interfere the Hub module's listening to events.

@powerful23 do you have any explanation for this?

[2019-06-06 04:45] wlee221 commented on #3369
Hello,

Thanks for bringing this to our attention. Try catch block needs to be added in the client app (and not in the source code) because onCreate function is passed as a prop from the client app.

We updated the documentation to reflect this: [link](https://github.com/aws-amplify/docs/pull/707).

[2019-06-06 05:00] rawadrifai opened #3408 "How to create a mutation resolver with a lambda? (with correct permissions)"
** Which Category is your question related to? **
Authorization

** What AWS Services are you utilizing? **
Lambda, Amplify, DynamoDB, API

** Provide additional details e.g. code snippets **
When inserting data using graphql mutations generated by codegen, and then I retrieve it with a query, the permissions for "owner" and "group" work great using @auth directive.

If I insert the data using a l

[2019-06-06 06:22] gmisa commented on #3369
Hi @wlee221, I added try catch in the client app but the error is thrown in the source code and goes straight to the console.  The app is unable to catch the error.

[2019-06-06 09:03] nihakue commented on #3365
Does this: https://aws.amazon.com/blogs/developer/new-aws-sdk-for-javascript-developer-preview/ influence the need for writing your own http client? If you can import just the parts of the sdk you need, you can significantly reduce the bundle size.

[2019-06-06 10:39] hamzakhawaja27 opened #3409 "AWS cognito tokens not persisting if "remember device" = Always or user opt IN"
We've identified a bug in the Cognito services and/or the Amplify SDK for JavaScript that we'd like to bring to your attention. Here is a GitHub repository with a minimal reproduction of the issue https://github.com/alwaysai/cognito-signin-bug-nodejs . The script src/index.ts invokes Amplify's `Auth.signIn` once with each of two user pools us-west-2_rEKRyJubT, which I'll henceforth refer to as the

[2019-06-06 11:02] kristianmandrup commented on #1561
I created several libraries published on `npmjs` which can take a GraphQL schema and generate a validator for it.

- [json-schema-to-yup](https://www.npmjs.com/package/json-schema-to-yup) also for GraphQL schema
- [graphql-constraint-directive-plus](https://www.npmjs.com/package/graphql-constraint-directive-plus)

Haven't gone back to using `amplify-js` though. Found it a little too "immature" at

[2019-06-06 11:30] mydea commented on #3365
If I try to force using `aws-sdk@latest` it just gives me `2.329` and it remains the same output size!

[2019-06-06 12:17] imtechnofreak commented on #3057
I am facing the same issue can anyone help ??

[2019-06-06 12:40] raquila commented on #3402
@jordanranz Any idea on getting the product team's attention?

[2019-06-06 12:42] lenarmazitov commented on #3399
Confirm with react-native up to 0.58.*

**But have to notice that for react-native >= 0.59.0 "Error: invalid_request" happens all time.** !

[2019-06-06 14:33] mjmaix commented on #927
@yashutanna Make sure you have your Cognito UserPool properly configured. Your `amplify/backend/auth/<appname>/parameters.json` should have the `email_verified` and `phone_number_verified` in `userpoolClientReadAttributes`

[code]

[2019-06-06 14:36] mkrn commented on #3405
What is the version of react-native? Could be duplicate of https://github.com/aws-amplify/amplify-js/issues/3183 ?

[2019-06-06 14:53] mkrn opened #3410 "withOAuth + facebookSignIn confusing permission request / new users not signed to facebook"
**Describe the bug**
1. Using withOAuth HOC and facebookSignIn flow in expo bare / react native shows alert that says "AppName Wants to Use "amazoncognito.com" to Sign In"
The users may not be familiar with amazoncognito.com and may be confused since they chose to sign in with Facebook, not Amazon.

2. New users need to sign in to facebook even if they're signed in to Facebook App on their iPhone.

[2019-06-06 14:55] tealow commented on #1429
Same problem here, we need a german translation.

[2019-06-06 15:06] vgaltes commented on #3405
This is not a react-native application, just react.

[2019-06-06 15:51] carnesen commented on #3409
@hamzakhawaja27 Thank you for filing this issue! I (@carnesen) had posed this to AWS support and Hamza identified this repo as the best place to address the bug. To clarify one thing, the sentence "Those two user pools are ~almost~ identical" should read "Those two user pools are _almost_ identical". I use markdown in emails sometimes and don't always get it right :)

[2019-06-06 16:20] billynorris commented on #1368
Any eta?

[2019-06-06 16:42] jordanranz commented on #3404
Ok, understood. I'll mark this as a feature request and evaluate this during out UI component refactor. We also gladly accept PRs if you'd like to give this a go on the ChatBot.jsx component.

[2019-06-06 16:44] davidgatti commented on #3330
@haverchuck what you say dose not match your documentation for .getMFAOptions(). Regarding .UserMFASettingList() I'm unable to find any reference in the documentation https://github.com/aws-amplify/amplify-js/tree/master/packages/amazon-cognito-identity-js. Could you provide a link where this function is mentioned and explained?

[2019-06-06 17:37] Dellybro commented on #3392
If i can suggest someting, you can get all files from a directory using Storage. So if you had all of the needed files within /user/photos/*, you could get all of the photos with a single storage call. This makes it much faster since you will not be having to call storage "thousands of times"

[2019-06-06 17:39] jordanranz commented on #3402
@raquila, can you also try and open an AWS support case:
https://console.aws.amazon.com/support/home#/case/create?issueType=technical

In the meantime, I will try and get in touch with the service team.

[2019-06-06 18:15] YikSanChan commented on #3392
Address by implementing pagination in my app

[2019-06-06 18:15] #3392 closed

[2019-06-06 18:20] #2039 closed

[2019-06-06 18:24] GeorgeBellTMH commented on #3268
I am also getting this when starting the app offline...

[2019-06-06 19:42] evanAtFetchly commented on #550
@ballenwillis I really wish your post had come up in my google searches. Spent wayyyyy too much time trying to debug this.

Why do the official amplify docs still show the incorrect example? `react-native-fetch-blob` isn't even maintained anymore...

[2019-06-06 20:02] rogueturnip commented on #3328
It appears there is a conflict between asyncstorage from react-native core and the new one from react-native-community.

[2019-06-06 20:12] evanb2 commented on #550
Submitted a PR to the docs: https://github.com/aws-amplify/docs/pull/716

[2019-06-06 21:21] BronxBombers commented on #1814
No, this error is originating from using the Storage object from the base aws-amplify module. I am not using any react or react-native specific components in the project.

[2019-06-06 21:27] jordanranz commented on #3185
@nandoise, I too ran into this issue. Removing the manual config from the documentation example fixed the 'invalid_grant' error.

[2019-06-06 21:29] jordanranz commented on #3405
This may be related to using Typescript. I could not reproduce with normal create-react-app. I can try to reproduce with a Typescript React app.

[2019-06-06 23:37] huntzu opened #3413 "Multiple clients cannot share the same keyPrefix."
** Which Category is your question related to? **
Usage

** What AWS Services are you utilizing? **
Amplify, AppSync

** Provide additional details e.g. code snippets **
Hello, I am completely new to Amplify & AppSync. I have an electron app that creates a new AWSAppSyncClient in componentDidMount(), then stores it in local state. When I make a change and the app hot reloads, componentDidMount() f

[2019-06-07 04:19] shenshen-whitecoat commented on #3371
Got the same problem just now. Figured out by using "amplify-auth-sign-in-core". Same issue is found for "sign up". But "comfirm sign in" works fine.

[2019-06-07 05:57] tmackness commented on #1411
Wow, I can not believe this issue has been around since Aug 2018 and still not fixed.

[2019-06-07 07:30] peterjungx commented on #3400
Any hints anybody?

[2019-06-07 07:59] ravishwetha commented on #2502
I had this problem and fixed it with a solution similar to the workaround. It is detailed in the docs (not sure if it was updated after this issue was created here):
https://aws-amplify.github.io/docs/cli/graphql#filtering-by-related-connection-designated-type.

from the docs: "utilizing an auto-generated column from DynamoDB by adding commentTodoId (projectCompanyId for us) to our Comment model".

[2019-06-07 08:28] Qlenglet opened #3414 "Bucket config are lost when Storage class called with Amplify on angular"
Hi everybody,

My problem is that I facing issues when I try to upload file in a Angular project with Cognito user directly.
I try to use the Storage class of amplify but I have the following message : "Missing parameter Bucket in params". It's weird beacuse my amplify project was set up with the amplify cli command without no issues. So I have a aws-exports file which contains my bucket.

So, I t

[2019-06-07 10:53] saisaran96 commented on #2951
Go to AmplifyTheme.js and the the paddingTop to 0 in the container

[2019-06-07 11:53] srinivasyl opened #3417 "Continous Errors https://cognito-identity.us_east_1.amazonaws.com/ net::ERR_NAME_NOT_RESOLVED"
I'm trying to signUp/signIn with AWS Congnito I'm able to signup/signin with AWS-amplify
below is my configuration file

[code]
I'm able to signup/signin but errors appearing continuously in console

[2019-06-07 11:58] 3nvi commented on #1805
I attempted to reproduce the issue using the following code:

[code]
I put that into a file and ran it using `node ./file.js`. Everything worked as expected (including the api calls at the bottom), with the token being stored successfully accross re-reruns of the file.

Is there a chance to further describe how to reproduce the issue? Cause when using the original code with the typical api methods

[2019-06-07 12:52] mrowe009 commented on #3394
how do we get this update?

[2019-06-07 13:49] Gtosta96 commented on #2806
@alexlhanson could you share what you've done to integrate amplify with Okta using SAML?

Thanks.

[2019-06-07 14:23] tafelito commented on #2603
I tried @lorensr solution but did not work for me. I'm still getting the same issue. What I see is that even though I get the issue, the user is logged in anyway

[2019-06-07 14:41] JIoJIaJIu opened #3418 "Amplify CDN outputs wrong index.html throug custom domain"
**Describe the bug**
The issue appears today
I'm using `Amplify` with deployment through `AWS Console` without `hosting` resource - CDN is handled by `Amplify`
For the last few deployment I got old `index.html` which points on old resources if requests the site through my domain

**To Reproduce**
Steps to reproduce the behavior:
1. Push to master
2. Open an url after deployment
For example there i

[2019-06-07 14:49] JIoJIaJIu commented on #3418
I've removed and assigned the domain back and the issue is gone

[2019-06-07 14:52] vitaly-zdanevich commented on #1538
@Wintereise I created empty lambda:
[code]

And attached it to `Create Auth Challenge`:
![image](https://user-images.githubusercontent.com/3514015/59112997-e4c2c400-894c-11e9-843d-7084ff2db0d2.png) but still I am getting the same `UnexpectedLambdaException: null failed with error Generate callenges lambda cannot be called..`

[2019-06-07 15:40] Wintereise commented on #1538
Your output format is wrong (empty string is not acceptable), see the Cognito event declaration to learn how they need to be.

[2019-06-07 16:13] jordanranz commented on #3417
Can you post the error you are seeing in the browser console's Network tab? Also, can you tell us how you are using the Auth category in your code/UI?

I believe this may occur because by default your identity pool does not enable unauthenticated identities. This means that when a guest user visits the page, Cognito will throw a 400 with a message saying something like: "Your user pool does not al

[2019-06-07 16:22] jordanranz commented on #1449
Hey @sconzof, are you still experiencing this problem with the latest aws-amplify? Also, we update the use of the Hub module. I recommend try to use that. Here are the docs:
https://aws-amplify.github.io/docs/js/hub

[2019-06-07 16:26] jordanranz commented on #1753
**No userPool** can be caused by a variety of things, so it is a case-by-case issue. That being said, I am going to close this issue because it seems the original poster's issue was solved. Please open a new issue with the necessary details so we can help reproduce and fix the problem.

[2019-06-07 16:26] #1753 closed

[2019-06-07 16:47] EugenePizzerbert commented on #3381
same error

java.util.concurrent.ExecutionException: com.android.builder.internal.aapt.v2.Aapt2Exception: Android resource linking failed
  F:\amplify\psoguestUK\mobileapp\node_modules\@aws-amplify\pushnotification\android\build\intermediates\res\merged\release\values-v28\values-v28.xml:7: error: resource android:attr/dialogCornerRadius not found.
  F:\amplify\psoguestUK\mobileapp\node_modules\@aw

[2019-06-07 17:28] EugenePizzerbert commented on #3381
Solved just now
react-native run-android --variant=release
./gradlew app:installRelease

Worked very well

[2019-06-07 17:40] jordanranz commented on #1544
Ok, I'll go ahead and close this issue.

[2019-06-07 17:40] #1544 closed

[2019-06-07 17:44] jordanranz commented on #1561
Awesome, nice work. Is this issue safe to close?

We also have a more mature sdk for Appsync if you are interested:
https://github.com/awslabs/aws-mobile-appsync-sdk-js

[2019-06-07 17:47] jordanranz commented on #1814
Sorry, I was talking about the React Native error above. You mention "For some reason whenever I try to use any Amplify UI components I get this error". This error is likely caused by using `aws-amplify-react` instead of `aws-amplify-react-native`

[2019-06-07 17:50] jordanranz commented on #2070
Thanks @hutch120. Closing.

[2019-06-07 17:50] #2070 closed

[2019-06-07 17:51] jordanranz commented on #3089
Closing due to inactivity. Please reopen if you are still experiencing any related problems.

[2019-06-07 17:51] #3089 closed

[2019-06-07 18:52] powerful23 commented on #2053
@hoang-innomizetech Hi, I am going to close the issue as you can do the same thing in React Native App as what you did in SPA that you can use the Hosted UI to sign in with Active Directory. Please check the doc of launching Hosted UI in Expo: https://aws-amplify.github.io/docs/js/authentication#a-note-for-expo-users

[2019-06-07 18:52] #2053 closed

[2019-06-07 19:07] powerful23 commented on #2036
@rAnAaRsl Hi, sorry to be late. Are you still having this issue? If so, can you provide more info like what's the `getUser` you mentioned, as I know it's a request sent when login as a Cognito User Pool User. But from your description you are using `Auth.federatedSignIn` which is to login as a Google/FB user and then get an AWS credentials from the Cognito Identity Pool Service.

[2019-06-07 19:28] jordanranz commented on #2004
@rfdc, Amplify does not currently expose the ability to change the expiration. I'll go ahead and mark this as a feature request for now. To achieve this now you can use the `aws-sdk` S3 client.

@donaldev, for the statement "On each upload/delete the database will need to be updated" you can use amazon S3 Event Notifications:
https://docs.aws.amazon.com/AmazonS3/latest/dev/NotificationHowTo.html

[2019-06-07 19:30] powerful23 commented on #1805
@3nvi thanks for the confirmation.

@thde @lshe7842 sorry to be late. Are you still having this issue? From the code side I couldn't find out what would lead to that issue.

[2019-06-07 19:37] haverchuck commented on #1883
@goatandsheep  - There might be some syntax errors in the code you posted.  It looks like your `data` method is possibly missing a closing brace (maybe just a copy/paste error?), and also you are referencing createObservable vs createObservables (with an 's' at the end).  Just wanted to confirm that this is only an issue with the code sample you pasted.

[2019-06-07 19:46] jordanranz commented on #1787
Hey @ajhool, apologies for the late response.

When you use signIn with the same userInfo as highlighted in the pseudo code, the signed-in user credentials will contain the same cognitoIdentityId as before, so it is not session-persistent for authenticated users.

`Storage.get('file1.jpg', {level: 'private'}); // 402 Error. Should not be able to access the file.`
mentioned in your pseudo code woul

[2019-06-07 19:47] powerful23 commented on #1049
@ildar-icoosoft @stevekinney @virtualahmadraza to be clear, there are two ways to do federation login:
1. federate with Cognito User Pool (Using Cognito Hosted UI)
2.  federate with Cognito Identity Pool.
When using the first approach, calling `Auth.currentAuthenticatedUser()` will resolve to a `Cognito User` because it will create a user in your Cognito user pool. However, when using the second a

[2019-06-07 19:51] powerful23 commented on #1488
Closing the issue as this can be solved by using Cognito Hosted UI. Please check the doc: https://aws-amplify.github.io/docs/js/authentication#social-provider-federation

[2019-06-07 19:51] #1488 closed

[2019-06-07 20:03] powerful23 commented on #1523
@Private-SO Hi are you still having this question? Sorry to respond so late but I think if you want certain people to have read access to your dynamoDB, you can create a user group in your Cognito User Pool and customize the IAM policy for that group to allow them to read your db content.

Please check the doc: [Adding users to group](https://docs.aws.amazon.com/cognito/latest/developerguide/cogni

[2019-06-07 20:08] haverchuck commented on #3411
@yareyaredesuyo Can you please elaborate on what you mean by 'doesn't work well'?

[2019-06-07 20:09] jordanranz commented on #1702
Hey @ajhool, apologies for the late response.

I believe this is something that the Amplify CLI does for you. With the CLI it uses the [aws-serverless-express/middleware here](https://github.com/aws-amplify/amplify-cli/blob/fee247c74f54b050f7b7a6ea0733fbd08976f232/packages/amplify-category-function/provider-utils/awscloudformation/function-template-dir/crud-app.js.ejs#L12) from the following repo:

[2019-06-07 20:12] manueliglesias commented on #1900
@0xdevalias

Yeah, it is setting the react synthetic event, to fix it you need to change your button onClick handler like this:

[code]

Let us know if this doesn't help you so we can re-open this issue, or if you have a different one, feel free to create a new issue.

[2019-06-07 20:12] #1900 closed

[2019-06-07 20:25] jordanranz commented on #1560
Hey @d-olivas, this seems to be a problem with your webpack configuration and aws-sdk. Please open an issue in the [aws-sdk-js repo](https://github.com/aws/aws-sdk-js). Closing this is the original poster has not responded in a while.

[2019-06-07 20:25] #1560 closed

[2019-06-07 20:40] gluix20 commented on #685
This works for me to get those properties populated:
You have to call the API with a Signed AWS4 Request (with secretAccessKey, accessKeyId and sessionToken) instead setting header Authorization with a UserPool jwtToken. I read that aws-amplify can help with, but I couldn't get that to work, so I took another approach with react-native-aws4 to sign the request and axios.

Also you have to set the

[2019-06-07 20:47] jordanranz commented on #3405
Not sure if Typescript is related here. @vgaltes, did you use the Amplify CLI to set up the auth category here? It looks like it if you are using `aws-exports`. Can you ensure that `responseType: 'token'` in your code sample matches `responseType` in the `aws-exports.js` file. If it is different try and set them as the same and try again.

There may have to be a change to the documentation here.

[2019-06-07 21:28] ChristianDavis commented on #3097
This is very confusing to figure out.
[code]
works, but should at least be documented.

[2019-06-07 22:00] davidweica commented on #3381
tried to run react-native run-android --variant=release
I got error :
FAILURE: Build failed with an exception.

* What went wrong:
Task 'installRelease' not found in project ':app'. Some candidates are: 'uninstallRelease'.

[2019-06-07 22:02] powerful23 commented on #1572
@rickydo thanks for reporting. We have confirmed as a bug and will fix it ASAP.

[2019-06-07 22:35] sconzof commented on #1449
Hi @jordanranz - thanks for letting me know there have been updates. I'll create a task for myself to try this out.

[2019-06-07 23:38] rogueturnip commented on #3409
I was seeing something like this also but only when working on iOS.  The amplify tokens all get removed when the app is restarted/shutdown.  It doesn't happen with android or anything else I set with AsyncStorage.  I should mention I'm using the new react-native-community Asyncstorage for other items and those work fine.

[2019-06-08 00:41] mainawycliffe commented on #3365
Impressive, just shaved off around 500K from 1.68 to 1.17, still this library is taking between 30 - 35% of the remaining 1.17 and i only need Authentication. I am using the preview of Angular.

I see the angular components inside the final bundle and am not using them, i have my own custom components. And they are occupying a whooping 5% on their own. For some tree shaking is not removing them fo

[2019-06-08 01:36] mikeokner commented on #2534
Thank you! Would nice to at least have a mention of this in the docs.

[2019-06-08 04:51] jm3 commented on #3353
I had the same question and found this answer; YMMV:  [Deploy newer Hugo vers/change build env vars](https://forums.aws.amazon.com/message.jspa?messageID=897427)

[2019-06-08 05:43] #1523 closed

[2019-06-08 16:34] rogueturnip opened #3422 "AsyncStorage conflict between core and communit"
I wanted to put this out to help accelerate the conversion to the community version of asyncstorage.

It appears there is a race condition if both community version and core version are being used on iOS.  It causes both to try to write to the same file and thus overwrite each other.  See this github issue here:
https://github.com/react-native-community/react-native-async-storage/issues/118#issuec

[2019-06-08 18:25] vinnichase commented on #2545
for react make sure to add json in the regex for the manifest.json ;)

[2019-06-08 21:28] jmandivarapu1 opened #3423 "Exposing my security files"
** Which Category is your question related to? **
**AWS AMPLIFY PUBLISH**
** What AWS Services are you utilizing? **
**Storage and Authentication**
** Provide additional details e.g. code snippets **
I have my react website which I delpoyed to cloudfront using the aws publish -c command.
But I went to my website live in the browser In the source files I can see all the 'aws-export.js' with all my

[2019-06-08 23:38] schellack commented on #3183
@mkrn thanks for posting that workaround. It looks like deleting the URLSearchParams from global causes other issues, even though it does allow auth to start working again.

After implementing your workaround, did you see errors like the one below? If so, how did you work around it?

[code]

[2019-06-09 02:26] schellack commented on #3247
I was able to get logging in via withOAuth to work by not only polyfilling URLSearchParams, but also by deleting the global reference as mentioned [here](https://github.com/aws-amplify/amplify-js/issues/3183#issuecomment-487386105). However, that leads to other subsequent errors (example [here](https://github.com/aws-amplify/amplify-js/issues/3183#issuecomment-500173234)).

Is it reasonable to con

[2019-06-09 13:54] dancomanlive commented on #3423
aws-exports is added to .gitignore

[2019-06-09 14:39] jmandivarapu1 commented on #3423
I have one more question.... might not be relevant here but if someone knows to answer it helps...

If I don't want my source code visible in the browser if I am deploying using CloudFront Is there any way to do it in CloudFront....
(as amplify already minifying and chunking my files then is there still need for my source files to get uploaded? can I add them to git ignore too? sounds silly but ju

[2019-06-09 23:07] andidev opened #3424 "Documentation of the linking requirement is missing"
**Describe the bug**
Link in documentation leads nowhere. Documentation over the react native linking requirement is missing.

reproduce
1) go to https://aws-amplify.github.io/docs/js/start#step-1-create-a-new-app
2) follow the link to the "linking requirement"

nothing happens cause the documentation is missing in the page. Is there no linking requirement any more?

[2019-06-09 23:14] andidev commented on #3424
Okey so I just found some documentation for how to do the linking for the authentication which is what I am looking for. It is over here https://aws-amplify.github.io/docs/js/react#add-auth

[2019-06-10 07:51] paul-doherty commented on #3422
I second this. Recently found this as well. For me it manifested in logins being persisted to Async storage but closing the app and restarting it I am forced to login again. I eventually tracked it down and AsyncStorage.getItem was returning `undefined` for values **that were present** in the storage.

This is pretty serious if we cannot rely on Async storage

[2019-06-10 08:33] thedanielforum commented on #2635
Had this issue in IE11 adding the polyfill's below worked for me.

https://github.com/facebook/create-react-app/tree/master/packages/react-app-polyfill

[2019-06-10 11:35] thde commented on #1805
@powerful23 From my side you can close this issue. We went with another solution in the meantime.

[2019-06-10 14:30] wmlutz commented on #2582
I am working through a similar (but slightly different maybe) issue.

I have an administrator view and want to call something like `Auth.adminCreateUser` but don't have that functionality. My app is invite-only. It feels weird loading the Cognito API just for the adminCreateUser function when I'm using Amplify for everything else.

[2019-06-10 14:54] haverchuck commented on #3420
@ScubaDrew -  I assume that when you say Storage.get you mean Storage.put?

[2019-06-10 14:57] huntzu commented on #3413
The reduxPersist keyPrefix was provided by redux-persist, which our starter project code used to configure an offline store. This caused a conflict that resulted in the issue above. I was able to resolve the issue by configuring our AppSyncClient to disable the offline store (```disableOffline: true```) for the development environment. It's not an ideal fix, but it works.

[2019-06-10 15:24] haverchuck commented on #3424
@andidev I fixed the link to the section you cited... thanks!

[2019-06-10 15:24] #3424 closed

[2019-06-10 16:36] jordanranz commented on #2461
This will be part of the UI component refactor attached as a milestone.

[2019-06-10 17:16] Defwentz commented on #3423
I was looking for the solution to this as well. In your package.json file, add GENERATE_SOURCEMAP=false to the build command and your source code won't show up:
[code]

[2019-06-10 18:29] kvasukib commented on #1378
@rromanchuk Sorry for the delayed response. I have created an issue on GitHub to add links to the documentation: https://github.com/aws-amplify/docs/issues/726

[2019-06-10 19:31] andreferraro commented on #1066
Almost there...

import * as fetch from 'node-fetch';
global['fetch'] = fetch;

[2019-06-10 20:35] oliverandersencox opened #3425 "Modelling friends in Amplify"
With Amplify API I am trying to implement the abilty to add friends and store them under a user model. Something like this:

`type User @model {
   id: ID!
   name: String
   friends: [User] @connection(name: "friends")
}`

Amplify doesnt yet support many to many, and the solution of creating a join model pullls the following error:

`type UserFriends @model {
  id: ID!
  user_a: User!
  user_b: U

[2019-06-10 20:37] rogueturnip commented on #3422
I suspect moving to the community asyncstorage would be need to be a major release because switching this out in a minor release will break people that are still using the core asyncstorage in their app.

[2019-06-10 22:00] davidweica commented on #3381
added keystore, works now. thanks!

[2019-06-10 22:00] #3381 closed

[2019-06-10 22:05] davidweica commented on #2544
tried to create app following  https://aws-amplify.github.io/docs/js/analytics for analytics and make it works. the add push notification, get through.

[2019-06-10 22:48] emptyopen opened #3428 "Configuring Amplify for existing DynamoDB, Cognito, S3, API gateway (react native)"
I feel like I'm slowly losing my mind. Why does `amplify init` and adding services not have the option to use existing resources?

Currently I have a react native project which has Auth working. I can login, sign up no problem. I am able to `fetch` and perform GETs and POSTs to API gateway endpoints, which in turn trigger Lambda functions that create/update DynamoDB. This works, but currently isn'

[2019-06-10 22:50] jessedoyle commented on #3422
@rogueturnip

I made a comment on another issue [here](https://github.com/aws-amplify/amplify-js/issues/3209#issuecomment-495294744) with a proposal for backwards-compatibility dependency injection.

For ease of reference, I propose something along the lines of:

[code]

[2019-06-10 23:58] laxxers commented on #2422
@powerful23 I'm facing the same issue for my React Native app. I have similar configurations like @laurachevalier4 's and @mllrmat 's. However, the issue happens at random only on Android release build.

Seeing similar in CloudWatch:
`Response Headers: {x-amzn-ErrorType=InvalidSignatureException}`

and also in app:
`GraphQLError: Request failed with status code 403`

@mllrmat @laurachevalier4 any

[2019-06-11 00:20] laurachevalier4 commented on #2422
@laxxers I was able to work around this by changing my authentication type to `AMAZON_COGNITO_USER_POOLS`. Now my two APIs have auth mode set to `Amazon Cognito user Pool` and they both point to the same user pool with `Default Action = ALLOW`. Not sure if this is a valid option for you but it works for me.

[2019-06-11 00:47] laxxers commented on #2422
Thanks @laurachevalier4. But I do need AWS_IAM to work because I have authenticated and unauthenticated requests.

Thanks anyway 😁

[2019-06-11 00:53] laurachevalier4 commented on #2422
Cognitive also allows unauthenticated access to your resources https://docs.aws.amazon.com/cognito/latest/developerguide/identity-pools.html#enable-or-disable-unauthenticated-identities. If that doesn't help.. good luck!

[2019-06-11 01:21] komushi commented on #3008
@elorzafe @mllrmat

I have the similar issue. In the result of Auth.currentAuthenticatedUser() the "storage" attribute is missing.

Below is my node.js code:
[code]

Below is the result of Auth.currentAuthenticatedUser():
[code]

[2019-06-11 01:35] komushi opened #3429 "In node.js mode the identity ID attribute is missing from the result of Auth.currentUserInfo()"
**Describe the bug**
In node.js mode the identity id attribute is missing from the result of Auth.currentUserInfo()

**To Reproduce**
Sample code attached.

**Expected behavior**
The id attribute is presented just like  in the browser mode.

**Desktop (please complete the following information):**
 - OS: macOs Mojave
 - Browser chrome
 - Version 74.0.3729.169 (Official Build) (64-bit)

**Additiona

[2019-06-11 01:57] qamatic commented on #3302
@manueliglesias,  First of all thanks for your example created in a repo.   I understand it better in your version than Amplify.    So one question about this   `const initialUrl = 'myapp://main/';     `    So is this same for every app or do i have to declare my app?  Secondly do i have to set in Cognito console in redirect SignIn url entry?

[2019-06-11 02:51] laxxers commented on #2422
Hey @laurachevalier4 just wanna let you know I got it working with

`Auth.currentCredentials();`

before calling any APIs.

[2019-06-11 03:06] jmandivarapu1 commented on #3423
Adding aws-exports is added to .gitignore didn't work.

But ```  "build": "GENERATE_SOURCEMAP=false react-scripts build" ``` worked like a charm it solved all the issues no source code file and no config files only chunk files....Thank you very much for your help... (I think aws need to add this comment to their either CloudFront or code deploy document)

[2019-06-11 03:06] #3423 closed

[2019-06-11 07:07] woles commented on #3399
I have production app in with everything worked as it should around ~2 weeks ago,
now withouth any change in code, same build cause invalid_request

1) New user is reated in cognito
2) User cant log to the app by `federatedSignIn`

react-native 0.57.1
aws-amplify: 1.1.25
aws-amplify-react-native: 2.1.10

If anybody have an idea for the solution.... on production build i dont have remote debugger,

[2019-06-11 07:35] fatjoni opened #3430 "Cannot import graphql autogenerated files"
**Describe the bug**
A clear and concise description of what the bug is.
The graphql folder that is auto generated with queries, mutations and subscriptions cannot be imported to an angular project (angular 7). It throws module not found. Maybe is due to the fact that the generated file exports nothing.
**To Reproduce**
Steps to reproduce the behavior:
1. amplify add api
2. Try to import from grap

[2019-06-11 08:58] woles commented on #3399
I checked one more thing:
when `responseType: 'token'`
and you will check `Implicit grant` in options it works fine but the docs says that there is no auto refreshing of token this way -> temporary solution for developing

[2019-06-11 09:54] normchenjk commented on #3109
Had the same issue crop up with the following import statement:
 `import { Amplify, Auth } from 'aws-amplify';`

The fix for my case was to change it to:
`import Amplify, { Auth } from 'aws-amplify';`

[2019-06-11 11:34] jonnyleeharris commented on #2586
Same workaround here, but I'm using a different pattern for storing the 'next page' in the response itself. It does seem to work - looks like @johnf's suspicion is correct.

[code]

[2019-06-11 14:12] mmmmcake commented on #3224
I would just like to say that this issue is one of the biggest reasons my company is considering the removal of Cognito from our stack (and not being able to set session expiration for less than a day). If there's anything I can do to elevate the priority of this issue, let me know because I'd love to avoid the pain of migrating away.

[2019-06-11 14:43] haverchuck commented on #3428
@emptyopen  Did you try configuring Storage with an AWSS3 Object?

[code]
This is from the [storage docs](https://aws-amplify.github.io/docs/js/storage#manual-setup).

[2019-06-11 14:46] haverchuck commented on #1559
@nickdb93 Closing this issue due to inactivity.

[2019-06-11 14:46] #1559 closed

[2019-06-11 14:48] haverchuck commented on #1716
Closing this issue due to inactivity.  Please feel free to open another if needed.

[2019-06-11 14:48] #1716 closed

[2019-06-11 14:48] haverchuck commented on #1771
Closing this issue due to inactivity.  Please feel free to open another if needed.

[2019-06-11 14:48] #1771 closed

[2019-06-11 15:10] nickdb93 commented on #1559
@jordanranz I was last time I used it. I ended up giving up on it since even CSS hacks didn't really solve it. Just decided to roll my own instead.

[2019-06-11 16:39] emptyopen commented on #3428
Yep, definitely have tried that. Still the same issue.

With `window.LOG_LEVEL='DEBUG'`, I see a bunch of `Failed to load credentials CognitoIdentityCredentials`. Here's another chunk of logging that seems like it could be relevant, particularly the last part (pool ID changed to x's):

[code]

[2019-06-11 16:51] loganwedwards commented on #3302
@undefobj I do not have a great answer here and I understand the balance in verbosity/conciseness in the docs. What would have helped me is understanding how using Cognito user pools as my authentication mechanism with 3rd party authn could be achieved in a React Native app. I know this is a particular use case, but by no means is it unique. The docs (to me) were confusing in that Cognito authz ca

[2019-06-11 18:24] lenarmazitov opened #3431 "Delete linked user from User pool users."
**Describe the bug**
When I link user to existing identity via adminLinkProviderForUser, I get two users in "Users and groups" section in AWS console. It is ok, because second user is just link to original one.
But when I delete one of that I have just created, I can not reach remaining one. I get this instead:
<img width="1225" alt="Screenshot 2019-06-11 at 21 19 04" src="https://user-images.gith

[2019-06-11 19:42] mareksip commented on #1852
Very interested in this feature.

[2019-06-11 20:59] raquila commented on #3402
@jordanranz I don't have a technical support plan to open a ticket.

[2019-06-11 23:58] iamdavidmartin commented on #3342
I get the exact same yellow box warning each time the app loads.

Error occurs because function _handleAuthResponse parameter URL is null: https://github.com/aws-amplify/amplify-js/blob/master/packages/auth/src/Auth.ts#L1531

This function is being invoked on app load when there is no genuine auth response.

Solution: change line https://github.com/aws-amplify/amplify-js/blob/master/packages/auth/

[2019-06-12 00:45] jsheebs104 commented on #2560
@mzohaibqc I like your answer -- it got me where I needed to go, so thank you. Just a thought though, and it may not really be important but... As the docs say and I'm sure you know, ```Auth.currentSession()``` will automatically refresh the ```accessToken``` and ```idToken``` if tokens are expired, so if this is the case you will be refreshing the session twice back to back. Not, if the session i

[2019-06-12 07:15] mjmaix opened #3433 "[aws-amplify-react-native] Add identityId, track prop to S3Album, S3Image Storage calls"
**Expected behavior**
`identityId` prop is passed on `Storage.get` to options inside S3Album, S3Image, S3Text components

This is similar to https://github.com/aws-amplify/amplify-js/pull/2459/

[2019-06-12 08:03] janhesters opened #3440 "Access user making the request in a Lambda function"
** Which Category is your question related to? **
API, Auth
** What AWS Services are you utilizing? **
Lambda, Cognito
** Provide additional details e.g. code snippets **
How can you access the current user in a Lambda function? I'm trying to connect my Lambda function to my AppSync API. I need to know the current user in order to access the API. How would you do that?

The only way I found is man

[2019-06-12 09:36] jiachen247 opened #3435 "cognito.user.signOut() does not invalidate tokens"
**Describe the bug**
On calling `state.cognito.user.signOut()`, session tokens are just removed localstorage.
The actual access tokens and refresh tokens are still valid for the lifecycle of the token.

**Expected behavior**
This is a security issue. Best practice dictates session tokens should be invalidated server side on a logout request not just deleted on the client. (OWASP session management

[2019-06-12 10:44] jiachen247 opened #3436 "Sensitive infomation are being persisted in local storage"
**Describe the bug**
All cognito session tokens id, access and refresh tokens are being persisted into localstorage. This goes against all industry security best practice of storing sensitive infomation in signed httponly cookies.

To see why its bad practice this article presents a summary.
- https://dev.to/rdegges/please-stop-using-local-storage-1i04
- https://github.com/OWASP/CheatSheetSeries/b

[2019-06-12 10:44] oliverandersencox commented on #681
this should not be closed, or at least some sort of guidance offered. I am trying to authenticate via facebook. It works fine on desktop, however in Ionic on the IOS device I always get this error. I am using the Facebook sign in method directly from the FB API and so I know the returned access token is correct

[2019-06-12 10:53] mudassir21 commented on #3264
i am having the same issue. how can i solve that?

[2019-06-12 10:56] oliverandersencox opened #3437 "NotAuthorizedException: Token is not from a supported provider of this identity pool."
Federated sign in using Ionic Angular does not work on mobile devices as it doesn't handle the redirect, so I have to use the Cordova facebook plugin to sign in and get the facebook access token.

I then pass this to the federated sign in AS PER THE OFFICIAL AMPLIFY GUIDE, yet I am always given this error:

`public async loginWithFacebook(): Promise<any> {

    const permissions = ['public_profile

[2019-06-12 12:27] andidev opened #3438 "Sign in fails with "setting credentials for guest""

[2019-06-12 12:35] KristineTrona commented on #1896
@apuyou That is a good example of how to create a passwordless authentication by sending user a code via email.

Is there any better solution/examples for sending user a magic link via email that would open the app and sign them in?

[2019-06-12 12:38] andidev commented on #3438
Closing until I can reproduce for sure

[2019-06-12 12:38] #3438 closed

[2019-06-12 13:03] GutteApps opened #3439 "Bug or misuse of Auth.currentAuthenticatedUser()?"
Environment:
react-native 0.57.8
@aws-amplify/core: 1.0.22
@aws-amplify/auth: 1.2.15

Description:
Our signup flow consists of the following steps:
 1. await Auth.signUp({
      username: email,
      password: create_UUID(),
      attributes: { 'custom:devicePK': JSON.stringify([devicePublicKey]) }
    });
2. await Auth.signIn(email)
3. await Auth.sendCustomChallengeAnswer(tempUser, authenticatio

[2019-06-12 13:24] oliverandersencox commented on #3389
@jordanranz is there a way to get this working? I have tried many many approaches to getting Facebook login working with Ionic on IOS and AWS never picks up the redirect

[2019-06-12 13:38] rentox commented on #1908
add this for testing:
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.472.0.min.js">
</script>

<script>// Create an Polly client
const Polly = new AWS.Polly({
    signatureVersion: 'v4',
    region: 'us-east-1'
})</script>`

[2019-06-12 15:09] haverchuck commented on #1740
Closing this issue due to inactivity.  If needed, please feel free to recreate it but please share which version of amplify is being used.

[2019-06-12 15:09] #1740 closed

[2019-06-12 15:10] #1805 closed

[2019-06-12 15:21] peterheneback commented on #3264
This is caused by the IAM user not being authorised to perform the iam:CreateRole action needed  in the CloudFormation stack.

[2019-06-12 15:56] mzohaibqc commented on #2560
@jsheebs104 Thanks for sharing this. Small improvements matter.

I don't know about the impact of using `cognitoUser.getSignInUserSession()` instead of `Auth.currentSession(). I hope both will work the same and as you told, `cognitoUser.getSignInUserSession()` will save api call in case token is expired.

[2019-06-12 20:05] janhesters commented on #390
@daannijkamp Do you happen to know how to get the user for a given request in AWS Amplify? (See https://github.com/aws-amplify/amplify-js/issues/3440 for full context). Thank you, if you do (or anyone else does).

[2019-06-12 20:32] janhesters commented on #390
@troygoode Did you found a better way in the meantime?

[2019-06-12 20:35] troygoode commented on #390
@janhesters The backend stuff for Amplify is so poorly baked that I had to abandon it. I still use `amplify-js` on the front-end only, but generate the backend via Serverless (https://serverless.com/). I've been very happy since switching a couple of months ago.

[2019-06-12 20:37] janhesters commented on #390
@troygoode Thanks for answering so fast and letting me know. I agree, there is still a lot that's missing for Amplify. Would this be more easy using serverless?

[2019-06-12 20:40] troygoode commented on #390
@janhesters Yes. It "just worked" with Serverless (if you use `amplify-js` on the frontend to properly pass the Cognito tokens over with the inbound request).

[2019-06-12 20:41] janhesters commented on #390
@troygoode Thank you.

[2019-06-12 20:44] ToddHoff commented on #390
I use amazon-cognito-identity-js directly instead of using Amplify. You can grab user data from the JWS tokens. I pass in the tokens with each request and verify in the lambda functions. If you use API gateway this information can be found in the context.

[2019-06-12 20:48] janhesters commented on #390
@ToddHoff Thank you for your help. Could you please code up a quick example? I'm new to Lambda and serverless and don't really understand you answer.

[2019-06-12 21:04] ToddHoff commented on #390
There is nothing quick about this stuff :-) I've spent weeks trying to
figure out how to make a real web app work end-to-end and I still don't
have confidence I have it right.

This is my biggest complaint about this stuff. There are no end to end code
examples that show how to build a bullet proof secure web app.

I tried to attach some files but google blocked them for security reasons.
Email me

[2019-06-12 21:25] haverchuck commented on #3437
When you look at the network request while debugging, do you see the correct identity pool?

[code]
Does the network request look the same when made from the browser?

[2019-06-12 21:50] josephpaulmckenzie commented on #3143
I just now figured this out as I was having the same issue. Take out the forward slash in Storage.list() and make it like  `Storage.list('', { level: "public" })
  		.then (result => console.log('Result:', result)) // {key: "test.txt"}
		.catch(err => console.log(err)});`
When you have it like  '/' it adds another / at the end of the url and breaks it. Seems like a bug to me

[2019-06-12 21:57] OlivierPT opened #3441 "Module not found: Can't resolve 'redux-persist/constants'"
**Describe the bug**

The Amplify documentation for Appsync SDK advice to use localForage for cache. But when I follow the documentation, I get the following error:

./node_modules/aws-appsync/lib/store.js
Module not found: Can't resolve 'redux-persist/constants' in '$workspace/recycling-hero/node_modules/aws-appsync/lib'

This bug is very anoying because it prevents to use this cache storage opti

[2019-06-12 23:51] Defwentz opened #3442 "API calls and responses show up in Chrome network tool"
** Which Category is your question related to? **
API, Auth
** What AWS Services are you utilizing? **
Cognito, AppSync, Lambda,
** Provide additional details e.g. code snippets **
Hello,

I'm building a react static web app, I have it in S3 and distributed by Cloudfront.

The thing is I can see all the api calls and responses in the network tool, is there anything I can do to hide them? I can see

[2019-06-13 00:20] ltankey commented on #2296
Seems related to https://github.com/aws-amplify/amplify-js/issues/3349

[2019-06-13 02:34] phanviet opened #3443 "How to send custom data to Cognito Lambda Trigger Custom Message?"
** Which Category is your question related to? **
Authentication

** What AWS Services are you utilizing? **
AWS Cognito

** Provide additional details e.g. code snippets **
I have 3 platforms: mobile, web, admin. In Admin page, we have feature: "Send Reset Password link for a user". An User (A) can login to both mobile & web platform with other roles.
So when Admin trigger "Reset" for A (with rol

[2019-06-13 03:12] MarcelBlockchain commented on #612
thanks for posting the snippets!

[2019-06-13 03:21] haverchuck commented on #3443
@phanviet - Just to clarify, the 'role' is derived from the where they execute this action (i.e. web platform, mobile platform, etc) and is not data that is associated with the user?

[2019-06-13 03:39] phanviet commented on #3443
@haverchuck
Yes, the `role` is from our DB, not data in Cognito associated with this user.
In admin page:
[code]

[2019-06-13 04:23] jiachen247 commented on #3442
There is no way to do this. The network tab in the dev tools record all network interactions with the web server. If you go to the big websites like Facebook, Google and Amazon you'll notice you'll be able to find your tokens there too. This is needed to maintain state across a stateless protocol like http(s). I would suggest reading up on the best practices on keeping your tokens safe. The dev co

[2019-06-13 05:11] Ark7Corp opened #3444 "Performance issue with authenticateUser / BigInteger.modPow"
**Describe the bug**
It takes more than 2s to authenticate a user with username/password on a Nodejs server. After evaluating the call stacks, it shows modPow takes more than 1s before sending a request to the AWS server.

**Expected behavior**
The request should complete in milliseconds level.

**Screenshots**
![Screen Shot 2019-06-12 at 10 08 21 PM](https://user-images.githubusercontent.com/3914

[2019-06-13 06:39] janhesters commented on #3440
Here is a way to extract a user, which is hacky and doesn't feel like it's the intended way of doing this:

[code]

[2019-06-13 06:45] janhesters commented on #3107
@EgidioCaprino If you'd like to know how to batch create or delete up to 25 items simultaneously check out [this tutorial that I wrote](https://geromekevin.com/creating-graphql-batch-operations-for-aws-amplify/). I hope it might help you.

[2019-06-13 07:23] appjitsu opened #3445 "Is there a forgot username method in the api?"
** Which Category is your question related to? **
no idea what this means

** What AWS Services are you utilizing? **
amplify/cognito

** Provide additional details e.g. code snippets **
none

I am really enjoying working with Amplify so far. I have my custom auth flow working including resetting passwords via the verification code.

What happens when the user has forgotten their username? Is ther

[2019-06-13 08:51] kmfreas opened #3446 "Amplify console build failure notification/hook"
** Which Category is your question related to? **
Amplify Console
** What AWS Services are you utilizing? **
Auth/Storage/Console

I'm using amplify console as our CI/CD system but I'm having a hard time finding features in it that are available in other alternatives like CircleCI. My problem right now is trying to create a build complete/failed webhook for slack. It works ok for complete if I put

[2019-06-13 08:55] schoorsch commented on #1183
As many others here I consider this highly problematic.

Not "only" for the security of the app, but in apps/services where the user's email address is being used as username (and many services do that) it might also violate the GDPR, since it is leaking information about natural persons, as it is easily possible to find out if a certain person is using a certain app/service by simply typing their

[2019-06-13 11:11] yannisroy opened #3447 "Guest mode 403 The security token invalid"
** Which Category is your question related to? **
Not sure if I should create a bug report. I am having issues with javascript clients (403) while iOS works properly (code snippets below). It looks like a js client configuration problem.

** What AWS Services are you utilizing? **
AWS AppSync with AWS_IAM auth type.

** Provide additional details e.g. code snippets **
For javascript clients I trie

[2019-06-13 11:50] appjitsu opened #3448 "Handling forced password reset in custom authentication is broken"
**Describe the bug**
In the console I have set my user to **RESET_REQUIRED**. Calling **Auth.signIn** throws an error "**PasswordResetRequiredException**". The problem is that **Auth.sendCustomChallengeAnswer** requires the user object from **signin**. I don't have access to the **user** object from the try catch.

**To Reproduce**
[code]
I then show an update password form, then call:

[code]

**

[2019-06-13 13:17] mspoulsen commented on #2365
Me too :(

[2019-06-13 15:04] haverchuck commented on #3442
@jiachen247 Thanks for your response!  @Defwentz I'm closing this issue for now, but please feel free to open another issue if needed.  If you continue to have concerns, I would suggest taking steps such as customizing the expiration period on these tokens (which can be set for as little as one day).

[2019-06-13 15:04] #3442 closed

[2019-06-13 15:11] haverchuck commented on #3445
@appjitsu I do not believe we have this capability, but I will be speaking with the service team about it.  This is a great feature request. Thanks!

[2019-06-13 15:27] homerjam commented on #3279
Please focus on auth - the rest are nice to have, non-essential components. Look at Auth0 for a model of how slick you can make auth.

Please add a note to the documentation about the lack of feature parity between the current frameworks and the timeline for the refactor.

I personally don't care for customisation too much - I think these components should focus on being reliable, universal and ac

[2019-06-13 15:53] haverchuck commented on #3448
@appjitsu You say:

If you are receiving a 'PasswordResetRequiredException'  error, can't you transition to the reset password component from within the catch block, but if you don't receive an error transition to a sendCustomChallengeResponse component (assuming you have one) when the signIn response doesn't throw an error?  Try looking at the [React authenticator logic](https://github.com/aws-am

[2019-06-13 15:58] haverchuck commented on #1561
Closing this issue due to inactivity.

[2019-06-13 15:58] #1561 closed

[2019-06-13 15:58] haverchuck commented on #1779
Closing this issue due to inactivity.

[2019-06-13 15:58] #1779 closed

[2019-06-13 16:01] haverchuck commented on #1907
@Zilvinaskli Closing this issue due to inactivity.  If needed open another ticket, but provide an answer to @manueliglesias 's question about your aws-exports file.  Thank you.

[2019-06-13 16:01] #1907 closed

[2019-06-13 16:06] gurobokum opened #3449 "Use browser cache for uploaded images to S3 Storage"
**Is your feature request related to a problem? Please describe.**
I would like to upload images to S3 and show them with browser cache usage. Right now cause `Storage.get` generates different urls all requests use network. I am going to generate urls by my own without custom parameters as https://bucket.s3.amazonaws.com/public/img.png, but `Storage.put` doesn't support uploading files with public

[2019-06-13 17:32] knuula commented on #1571
Just dealt with this same error. Uninstalled then reinstalled the aws-amplify npm package. Everything went back to normal and worked again.

[2019-06-13 17:38] oliverandersencox opened #3450 "AWSTimestamp serialization error with elastic search"
I have used the AWS tutorial on creating a geo distance query with Amplify api which works fine when my createdAt field is a string. However I need to filter by createdAt and order by and so changed the type to AWSTimestamp

Once this was done the search fails with the error saying 'Unable to deserialise createdAt'

How can I sort this error?

This is the code I copied to make it work initially:

[2019-06-13 20:55] mlabieniec commented on #3435
@jiachen247 if you are using the cognito-identity-js sdk directly, then the `globalSignOut` method will invalidate all sessions (see use case #15 here: https://github.com/aws-amplify/amplify-js/tree/master/packages/amazon-cognito-identity-js). This i believe is what you are looking for to invalidate the server side. The user logout is specifically there as to not invalidate other sessions and just

[2019-06-13 21:09] appjitsu commented on #3448
The error from the catch doesn't have any info on the user. Auth.sendCustomChallengeAnswer requires it. I could send them to password recovery, but the point is that either the docs or the api are incorrect.

On Thu, Jun 13, 2019, at 10:53 AM, Dustin Noyes wrote:

 <https://www.appjitsu.io/>
www.appjitsu.io

[2019-06-13 22:54] codeitcody commented on #3431
I stumbled into this too: I found I could delete the user via the Cognito API (or AWS CLI).

Whats odd is that even though linked users show the same `sub` in the Cognito console they are actually stored with different `sub` in the Cognito database. I presume that might be related to this issue.

[2019-06-13 23:07] CodySwannGT opened #3451 "UI is not reflective of Auth"
**Describe the bug**
``withAuthenticator`` does not reflect the options select with ``amplify add auth``

**To Reproduce**
Steps to reproduce the behavior:
run ``amplify add auth`` and select email and mobile number instead of username during prompts

**Expected behavior**
``withAuthenticator`` generates sign in and signup forms reflective of the options selected

**Screenshots**
https://www.dropb

[2019-06-13 23:16] komushi opened #3452 "AWS_IAM mode 403 when using custom domain instead of AppSync endpoint"
**Describe the bug**
AWS_IAM mode 403 when using custom domain instead of AppSync endpoint

**Sample code**
Include additional sample code or a sample repository to help us reproduce the issue. (Be sure to remove any sensitive data)
[code]

[code]
My configuration option:
[code]

[2019-06-13 23:17] haverchuck commented on #3451
@CodySwannGT - This is definitely an issue and is something we are looking at for a future project.  Thanks for posting the issue.

[2019-06-13 23:43] komushi opened #3453 "Amplify Storage not configured in node.js mode"
**Describe the bug**
 In the result of Auth.currentAuthenticatedUser() the "storage" attribute is missing in node.js.

**Desktop (please complete the following information):**
 - OS: macOs Mojave
 - Node.JS Version: v10.15.0

**Sample code**
Below is my node.js code:
[code]

Below is the result of Auth.currentAuthenticatedUser():
[code]

It seems in July 2018 Amplify.Storage was working according

[2019-06-13 23:54] DWboutin commented on #2686
I ran into the same error

[code]

Not with Jest. I use Expo and my component render, but I can't see it. I opened my app on the web and it shows me that error. How can I get rid of this?

Thank you!

[2019-06-14 00:02] haverchuck commented on #3452
@komushi Can you post a little more about what your custom domain is?

[2019-06-14 01:28] bishonbopanna commented on #711
Thankyou @dabit3 for the response.

For the interim (from https://github.com/dabit3/appsync-auth-and-unauth) - "If you'd like to access the unique identity of the logged in user for user authorization & fine grained access control, you can access the $context.identity.cognitoIdentityId) in the resolver.", is there a code snippet/resolver that you can share where the same is used for list api so th

[2019-06-14 01:31] komushi commented on #3452
@haverchuck

Thanks. Added the configuration option.

[2019-06-14 02:53] eranation commented on #1906
@OndeVai It depends on the context but yes, sometimes you may want to avoid giving the `aws.cognito.signin.user.admin` scope to users. E.g. if you are using an external IdP, and it is the source of truth or if you rely on user attributes for authorization decisions.

[2019-06-14 03:40] Davis10733 commented on #3399
I have same issue with `responseType: 'code'`. But it can work with `responseType: 'token'`.
I have question, since there is no refresh token so we need to execute `Auth.federatedSignIn()` when the access token is expired, right ?

[2019-06-14 04:00] matthamil commented on #2232
Update since my previous comment: if you want to check if the user is authenticated without waiting for a network request, you can implement your own Auth storage interface: https://aws-amplify.github.io/docs/js/authentication#managing-security-tokens. You can use that to keep an in-memory cache that also writes to some kind of storage like localStorage/AsyncStorage/etc. In our case, we are using

[2019-06-14 04:55] woles commented on #3399
Yes, you need to take care for token refresh by yourself - I hope sombody will fix that quickly.

[2019-06-14 05:06] DrawnWren opened #3454 "Amplify opens incorrect file for editing wh)en using a basic lamba event handler"
**Describe the bug**
When using only the basic Lambda handler (i.e. event.handler = function(event,context) {} in index.js), amplify function update opens app.js for editing

**To Reproduce**
Steps to reproduce the behavior:
1. amplify function add
2. Use basic hello world handler
3. amplify function update
4. select same function

**Expected behavior**
Amplify should open index.js as this is the

[2019-06-14 06:34] jeff-tenovos opened #3455 "Enable support for App Client Secret with Cognito Javascript SDK"
**Is your feature request related to a problem? Please describe.**
I am currently attempting to use the Cognito Javascript SDK to authenticate into an AWS App Client, and in order to do so, the App Client Secret must not be populated, per limitations noted in the Cognito documentation.  However, I would like to apply this same App Client to an AWS Application Load Balancer (ALB) HTTPS rule, which

[2019-06-14 06:49] undefobj commented on #3455
@jeff-tenovos can you give details on what your use case is? Amplify is a client library designed for mobile and web applications, having a client secret isn't good practice in these cases. It might make sense to look at an alternative implementation if your use case is outside this scope.

[2019-06-14 06:53] undefobj commented on #3452
@komushi Are you using a custom CloudFront domain in front of AppSync? If so this isn't currently supported by AppSync when using IAM as the [Signature Version 4](https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html) calculation will fail.

[2019-06-14 07:02] sebsto opened #3456 "Amplify REACT fails to call REST API protected by Cognito User Pool (unauthorized OPTIONS call)"
**Describe the bug**
My Amplify REACT application is calling an existing REST API, protected by Cognito User Pool.  API has been created with SAM and works OK from Postman.
SAM code is :
[code]
Amplify code is

[code]

This call fails for two reasons.

**1. OPTIONS HTTP call is not sending `accessToken`**

The underlying Axios library issues an `OPTIONS` call before the GET.  SAM / API Gateway cre

[2019-06-14 07:34] kevinvos commented on #867
+1 Please open this issue?!

[2019-06-14 07:35] jiachen247 commented on #3435
@mlabieniec Thanks for your response! yes and no actually. Its close but its still different. global sign out invalidates all open sessions. lets say I log into the webapp and a mobile app both use Cognito for authentication. On global signout both will get logged out. However, signout should just invalidate that particular session on the client side as well as the server side.

[2019-06-14 08:33] KristineTrona opened #3457 "One Cognito user pool, but multiple front-ends with different authentication flows"
**Which Category is your question related to?**
Cognito, authentication

**What AWS Services are you utilizing?**
Amazon Cognito identity SDK for Javascript/ AWS-Amplify

**Provide additional details e.g. code snippets**

Hey, I am looking to implement an authentication flow for users of 2 different apps, but with a one common Cognito user pool and dynamo DB user table. My problem is that for each

[2019-06-14 08:54] sebsto commented on #3456
After many searches, I finally found a doc explicitly syaing that CORS pre-flight requests MUST NOT be authenticated.

https://www.w3.org/TR/cors/#cross-origin-request-with-preflight-0

So, looks like 1/ above is not an issue with Amplify.  I must configure my SAM template to ensure OPTIONS calls are not protected.

[2019-06-14 12:43] kirkryan commented on #3039
We also need that, as if you lose signal on a portable device you're left without a valid clean method of re-establishing a connection.

[2019-06-14 12:53] fgrillo opened #3458 "Questions regarding adminLinkProviderForUser and using external providers"
** Which Category is your question related to? **
Auth / External Providers

** What AWS Services are you utilizing? **
Cognito User Pools

** Provide additional details e.g. code snippets **
Hello,

I'm having trouble understanding the correct flow for using Google as an external provider for the Cognito User Pool I already have.

Some details of my setup before enabling Google as an external pro

[2019-06-14 13:51] damianrr opened #3459 "Integration in multi-env and multi-branch project"
** Which Category is your question related to? **

Handling multiple environments and multiple branches

** What AWS Services are you utilizing? **

Amplify

** Provide additional details e.g. code snippets **

Hello, I have a project with a couple of environments linked to a couple of git branches (dev -> dev, prod -> master). I develop features in dev branch (and push to amplify dev branch), and

[2019-06-14 14:05] carolina-cascade commented on #2445
@thedanielforum Can you elaborate more? I did create my account from the AWS console (I am following the tutorial in https://serverless-stack.com).

[2019-06-14 14:41] amigo1205 opened #3460 "PushNotification.onRegister issue at "@aws-amplify/pushnotification" never fixed yet"
PushNotifcation all event handlers triggered only once when an app is installed on new android device for the fist time. After launching once on new device, even though you have app restart many times, it never trigger all events. This issue occurs still on push notification package. never closed!

[2019-06-14 14:54] haverchuck commented on #3448
@appjitsu I believe that Auth.sendCustomChallengeAnswer is intended to be called when the user has a valid password (i.e. one that does not need to be changed) and all verifiable attributes are verified.  If you are starting a login flow and Cognito sends a response saying that the user needs to change their password, why would you want them to continue in the login flow, as opposed to actually ch

[2019-06-14 14:55] haverchuck commented on #3443
@phanviet It is not possible to send data in this manner right now, but please stay tuned.

[2019-06-14 15:07] haverchuck commented on #1049
Closing this issue due to inactivity. If last answer provided by @powerful23 is not adequate, please post another with additional information.  Thank you.

[2019-06-14 15:07] #1049 closed

[2019-06-14 15:09] brendan-hurley commented on #2204
I've also encountered this issue, with `@aws-amplify/auth`. We would like to configure a custom endpoint per above issue.

[2019-06-14 15:09] haverchuck commented on #1449
@sconzof I'm closing this issue due to inactivity.  If the updated packages aren't working, feel free to repost.

[2019-06-14 15:12] haverchuck commented on #1718
@zyzski -  Closing this issue due to inactivity.  If needed feel free to repost, but include the version of aws-amplify you are using.

[2019-06-14 15:12] #1718 closed

[2019-06-14 15:15] haverchuck commented on #1992
@gohulk Closing this issue due to inactivity.  If needed feel free to repost, but include the version of aws-amplify you are using.

[2019-06-14 15:15] #1992 closed

[2019-06-14 15:20] haverchuck commented on #3287
@rpostulart I'm closing this issue due to inactivity.  If the response from @manueliglesias isn't helpful, feel free to repost.

[2019-06-14 15:20] #3287 closed

[2019-06-14 15:23] haverchuck commented on #3318
@gerrytsui Thanks for your response.  @malcomm I'm closing this issue due to inactivity, but If you are still stuck feel free to open an issue specifically about the storage of variables such as password for e2e testing. Thanks all.

[2019-06-14 15:23] #3318 closed

[2019-06-14 15:24] haverchuck commented on #3250
@kjetilge I'm closing this issue due to inactivity.  Feel free to repost if needed, but include the browsers you are testing with.  Thanks.

[2019-06-14 15:24] #3250 closed

[2019-06-14 15:28] airlaser commented on #2777
@yannicklaclau would love details on that workaround

I'm also unable to get link verif to send, it insists on sending a code.

[2019-06-14 16:19] stephenhuh commented on #2582
@wmlutz yep! that's where this issue actually spawned from -- it definitely is not intuitive, but that seems to be the way to go if you want `adminCreateUser` like functionality.

[2019-06-14 18:23] jhoffmcd commented on #2673
I think a way to generate this file without doing an `amplify push` is necessary. Some apps will need to utilize this file in local development, and if a large team is working on the CF templates and thing change, other team members need to be able to pull these changes in and create a new `aws-exports.js` file/

[2019-06-14 19:18] #1449 closed

[2019-06-14 19:27] powerful23 commented on #3022
Since those unused dependencies have been removed, I am going to close the issue. Feel free to reopen if you still have this issue.

[2019-06-14 19:27] #3022 closed

[2019-06-14 19:37] powerful23 commented on #3460
Related to #3080 #2852

[2019-06-14 19:51] jeff-tenovos commented on #3455
@undefobj The original use case was to have users authenticate into Cognito, and then access services behind an AWS ALB which is configured with an App Client and HTTPS rules that forwards the user to the relevant service.  The ALB rule would have Cognito Authentication enabled to allow access to the authenticated users only.  However, when enabling Cognito Authentication on the ALB HTTPS Rule wit

[2019-06-14 19:53] jeff-tenovos commented on #3455
@undefobj After further research, it seems that the AWS API Gateway may be more flexible with regards to Cognito user authorization, where I can authenticate into Cognito and simply pass the ID Token into an authorized API Gateway method to gain access.

[2019-06-14 19:56] CodySwannGT commented on #711
To be clear, currently Amplify does not support the multiple auth implementation of AppSync, so if I understand this correctly, it is currently impossible to allow guest access with cognito pool auth on.

We have a boot workaround that we'd love to get rid of:

[code]

[2019-06-14 19:56] jeff-tenovos commented on #3455
@undefobj Or does the ALB work similarly to the API Gateway, in that if you also pass the Client Secret in a header attribute along with the Cognito ID Token when submitting a request to the ALB, then you could pass through the ALB?

[2019-06-14 20:05] andrewchaa commented on #2345
As @fvonhoven said, add react-native-vector-icons and link it, but one more thing, rebuild the iso project.

[code]

[2019-06-14 20:31] powerful23 commented on #3460
@amigo1205 Hi, about the `onRegister` listener, it will only be triggered when the device token is generated/updated in the service side, which means normally it will only be triggered when the app is installed and opened at the first time. The `PushNotification` module will keep the token in the `AsyncStorage` and send it to the Pinpoint service so the Pinpoint service can now push notification t

[2019-06-14 20:34] haverchuck commented on #3453
@komushi What exactly is the .getConfig function in your aws-exports?  Have you made other edits to that file?  I am able to run similar code without the .getConfig in node and get MemoryStorage back in the storage attribute (as expected).

[2019-06-14 20:39] haverchuck commented on #3449
@JIoJIaJIu Thanks - we've got this down as a feature request.

[2019-06-14 20:44] haverchuck commented on #3447
@yannisroy Have you double checked to make sure your identity pool allows unauthenticated access?

[2019-06-14 20:51] haverchuck commented on #3422
@rogueturnip Disclaimer: I am not super familiar with this ongoing issue with RN AsyncStorage.  If this issue you are having is specific to the Auth module with Amplify, could you try writing your own storage wrapper for Auth (which Amplify supports as outlined [here](https://aws-amplify.github.io/docs/js/authentication#manual-setup)) to use whichever specific version of AsyncStorage you want?

[2019-06-14 21:14] mikeokner commented on #941
I was struggling with this and it turns out the reason was not passing `bypassCache: true` after setting the attribute.

[code]

That'll force the client to hit Cognito for the updated attributes which should include your custom attrs.

[2019-06-14 21:22] haverchuck commented on #3457
@KristineTrona Have you looked into setting the [authenticationFlowType](https://aws-amplify.github.io/docs/js/authentication#manual-setup) value?

[2019-06-14 21:28] haverchuck commented on #3439
@GutteApps What is error that is being surfaced?  Additionally, do you think it's possible that this behavior is related to a known [AsyncStorage](https://github.com/aws-amplify/amplify-js/issues/3422) issue?

[2019-06-14 21:31] haverchuck commented on #3431
@lenarmazitov -  Can you please clarify - do you know that the second user still exists, but just cannot be retrieved?  Or does it appear that the linked user is deleted along with its related record?

[2019-06-14 22:06] rogueturnip commented on #3422
Thanks!  I will do that when I get back to upgrading the AsyncStorage.  I looked at the custom storage wrapper example that used AsyncStorage.  I couldn't get it to work.  I wasn't sure where MemoryStorage came from to import it.

[2019-06-14 22:18] jordanranz commented on #3441
I followed up on the AppSync SDK issue and PR. I am going to close this issue now and track this in the AppSync SDK repo.

https://github.com/awslabs/aws-mobile-appsync-sdk-js/issues/410
https://github.com/awslabs/aws-mobile-appsync-sdk-js/pull/424

[2019-06-14 22:18] #3441 closed

[2019-06-14 23:45] undefobj commented on #3455
If you're building a client app, the most recommended approach is to use AWS AppSync or API Gateway. Both of those services support either AWS IAM or JWT Tokens from Cognito. You could potentially use ALB as well here if you don't have all the feature needs of those services. In either case you shouldn't be using a client secret when passing your accessToken to the backend.

[2019-06-14 23:48] DavidNelsonCordelia opened #3463 "Amplify Console build issue. Missing Asset files"
**Describe the bug**
I am missing some static files added to my web site when using the amplify console.   A normal build includes the files.

**To Reproduce**
Steps to reproduce the behavior:
1. push new code into git
2. Wait for the site to be completly built
**Expected behavior**
1. look in the artifcacts download for the folder ".well-known/" with a single file in it.   No file is found

**Scr

[2019-06-15 00:08] ryanliszewski opened #3464 ""No Current User""
**Describe the bug**
Calling `Auth.currentSession()` throws an error that says `no current user`.

**To Reproduce**
Steps to reproduce the behavior:
1. Open mobile app
1. persist user with `redux-persist`
1. Try to get current Cognito's user session
1. Throws error

**Expected behavior**
User is persisted on app open, cached correctly and can retrieve a valid Cognito user session

**Smartphone (pl

[2019-06-15 01:16] bonillam commented on #3410
@mkrn do you get the same alert when you logout/signout of your app?  I get the same alert “... wants to use Amazoncognito to signin...” both when the user signs in and when the user signs out.

Different problem, but just in case you have not tested the signout flow.

[2019-06-15 04:14] rudijs commented on #54
Hi,

The serverless-stack.com have this in their tutorial:

"Mapping Cognito Identity Id and User Pool Id"

https://serverless-stack.com/chapters/mapping-cognito-identity-id-and-user-pool-id.html

Thoug it only at runtime inside a Lambda function.

[code]

[2019-06-15 04:17] undefobj commented on #711
@CodySwannGT correct the multi auth GraphQL directives are not supported in the Amplify CLI yet, but that release is soon. You can track the PR here: https://github.com/aws-amplify/amplify-cli/pull/1524
However you can always go to the AppSync console for your API by running `amplify console` and then annotating your schema manually until that PR releases. Alternatively you can can use IAM authori

[2019-06-15 09:35] lucaspelloni2 commented on #3048
any news here?

[2019-06-15 11:03] cliffordh commented on #3457
I'm also interested in a passwordless signin/signup flow with cognito...

[2019-06-15 11:59] janhesters commented on #469
Stalebot that's a bad idea, because this issue still persists.

[2019-06-15 13:04] potatopotaro opened #3465 "AppSync subscription silently fails due to too large of an update mutation"
**Describe the bug**
Although I'm a bit ashamed to admit how I ran into this lol I suppose it'll be helpful for others in the future.

I've been building an MVP for the past few months as fast as I can, and because of my hastiness, I'm using codegen'd statements with a maximum depth of 5 (I plan on writing my queries/mutations with the exact required fields, later). At some point I realized that a

[2019-06-15 15:52] PunkHaz4rd commented on #368
Bump

[2019-06-15 16:05] undefobj commented on #3465
AppSync has a subscription payload size limit of 128kb as outlined here: https://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_appsync

Do you believe the mutation is not being triggered, or do you think that's running fine and the subscription is not being fired?

[2019-06-15 16:14] undefobj commented on #3048
@lucaspelloni2 When you use Amplify's Auth methods like `currentAuthenticatedUser()` to retrieve attributes they are stored in Cognito User Pools, not Identity Pools. The dataset feature that you are referring to in Identity Pools isn't supported in Amplify. You should use User Attributes stored in User Pools and if you need syncing features per the [Cognito Documentation](https://docs.aws.amazon.

[2019-06-15 16:15] potatopotaro commented on #3465
Oh whoops, that's a huge detail I left out. I can confirm that the mutation **does** work correctly. It's the subscription that is never triggered. The subscription's error handler isn't called either.

[2019-06-15 16:21] 0x6C38 commented on #2924
@alpeshgaglani this issue shouldn't be closed, can you rename it to "API Gateway Websockets Support" or something along those lines to make it more visible?

[2019-06-15 16:38] chengjia0807 commented on #2966
Solved. Close now

[2019-06-15 16:38] #2966 closed

[2019-06-15 17:00] YikSanChan commented on #3219
As this is a feature request then I don't think stale bot should close this

[2019-06-15 17:13] undefobj commented on #3465
Do you know if it's above the 128kb limit?

[2019-06-15 17:38] fahrradflucht commented on #488
@stale[bot] lol

[2019-06-15 18:00] peetss commented on #2926
Any update on this? @powerful23

[2019-06-15 18:41] lucaspelloni2 commented on #3048
@undefobj thanks for the answer! :)

[2019-06-15 19:44] DJWoodZ commented on #1511
@powerful23 has there been any progress on this, please?

[2019-06-15 19:48] DJWoodZ commented on #2818
@undefobj does the use case I shared sound feasible? If not, do you have any advice for how we could react dynamically to the `AllowAdminCreateUserOnly` value, please?

[2019-06-15 20:37] craigjsmith commented on #1318
How can Storage credentials be defined without exposing them on the front end?

[2019-06-15 21:57] lambrospetrou commented on #1989
What's the status on this? Has it been implemented?

[2019-06-15 22:59] Skaronator commented on #137
Not stale

[2019-06-16 00:07] mrowles commented on #642
This is not resolved, I don't think it should be closed.

[2019-06-16 00:42] komushi commented on #3452
Understood and thanks

[2019-06-16 00:42] #3452 closed

[2019-06-16 00:44] komushi commented on #3453
@haverchuck

Just added module.exports.getConfig() for commonJS.

aws-exports.js
[code]

[2019-06-16 00:45] komushi commented on #3429
@haverchuck

Just added module.exports.getConfig() for commonJS.

aws-exports.js
[code]

[2019-06-16 00:57] #1702 closed

[2019-06-16 00:57] #3411 closed

[2019-06-16 00:57] #1883 closed

[2019-06-16 00:57] #1787 closed

[2019-06-16 00:57] #2004 closed

[2019-06-16 00:57] #2036 closed

[2019-06-16 00:57] #1814 closed

[2019-06-16 00:57] #3371 closed

[2019-06-16 00:57] #3268 closed

[2019-06-16 00:57] #2011 closed

[2019-06-16 00:57] #2007 closed

[2019-06-16 00:57] #1999 closed

[2019-06-16 00:57] #3289 closed

[2019-06-16 00:57] #3310 closed

[2019-06-16 01:44] MatteoGioioso commented on #2417
up

[2019-06-16 01:56] #3202 closed

[2019-06-16 02:51] AndrewSouthpaw commented on #847
Ping? This seems relatively simple to implement?

Unless I'm misunderstanding usage?... just seems excessive to make two calls for every object access.

[2019-06-16 04:00] amitport commented on #61
Not stale.and this not is annoying

[2019-06-16 04:47] Birowsky commented on #1126
Need this to track progress

[2019-06-16 06:18] houmark commented on #2120
This should not be closed. Most apps these days have a client facing frontend and some kind of administrative UI where users should be possible to list and edit. I don't understand why you think this should not be baked in to Amplify.

Do you expect me to teach my administrators to use the Cognito UI and give them access to the AWS administration so they can manage users? I'm frankly surprised the

[2019-06-16 06:55] kbuechl commented on #989
Looks like I found this just in time. I am going to take a stab at this, so I don't want the issue to close just yet. Working on a few minor aspects of this now, just deciding on how to proceed with a few opinionated parts, then testing.

[2019-06-16 07:13] kbuechl commented on #989
Here is what I am thinking about how the implementation should look. I think axios's cancel token should be aliased so that we don't need to import axios to do anything. This is just a single APIcall example. but you could  reuse the same token for multiple calls if you wanted to cancel all, or create a source for each call you want to cancel independently.

[code]

Then when you wanted to cancel

[2019-06-16 08:12] revmischa commented on #2642
I super super agree with this. This is an implementation detail leaking out

[2019-06-16 08:13] revmischa commented on #2655
Dunno, is it fixed?

[2019-06-16 09:25] tmoore23 commented on #3143
@josephpaulmckenzie tried that and still not able to get it working.

[2019-06-16 09:29] tmoore23 commented on #2828
@powerful23 how to validate the path is correct?

[2019-06-16 09:54] ArmorDarks commented on #1006
nonono

[2019-06-16 09:59] tmoore23 commented on #2828
@powerful23 nvm figured it out and the log says the following:

[DEBUG] 58:15.430 AWSS3Provider - list <bucket-name>/ from public/<bucket-name>/

[2019-06-16 10:07] tmoore23 commented on #2828
@powerful23 After adding a public folder within my bucket, I am able to see the list of objects. Is this expected behavior?

[2019-06-16 10:12] tmoore23 commented on #3143
After turning on logs, found the following:

if path provided
`[DEBUG] 58:15.430 AWSS3Provider - list <path>/ from public/<path>`

if path not provided
`[DEBUG] 01:21.831 AWSS3Provider - list from public/`

Then after manually adding `public/` folder within bucket, things started working and able to see list of items and folders.

[2019-06-16 11:33] mjmaix commented on #1226
I don't think this should be closed @stale

[2019-06-16 12:28] RoniqueRicketts commented on #2603
I was going through this tutorial https://aws-amplify.github.io/docs/js/tutorials/building-react-native-apps/ and got the error mentioned about and I removed Auth by doing Amplify remove auth, after which I published the changes then re-add auth and I was able to get the application working. Have you tried that @bharat-tiwari

[2019-06-16 12:28] buggy commented on #2655
I'd be in favor of closing this issue. It doesn't add anything that the other 4 issues don't already cover.

[2019-06-16 12:52] LiorSaadon commented on #1824
anything new about SAML / ADFS integration ?
can someone share a working example please

[2019-06-16 13:31] carnesen commented on #3409
FYI I'm going to delete the repo https://github.com/alwaysai/cognito-signin-bug-nodejs. For posterity the minimal reproduction code now lives here https://gist.github.com/carnesen/5a09fd4899f2c1b7c4121307e487c644 I'm also going to delete the user pools referenced in the reproduction code because I'm a lil OCD about digital organization, and I don't like having usable credentials for one of our AWS

[2019-06-16 14:09] potatopotaro commented on #3465
I can confirm that the mutation's response size is greater than 128kb (it's about 158kb). I'm not entirely sure how I can measure the subscription payload's size, but I imagine it's nearly identical to the mutation's because the schemas are nearly identical.

[2019-06-16 14:15] ilyador opened #3467 "Is there a dropdown option in signUpFields type?"
The docs say `‘string’, ‘number’, ‘password’, etc`, does that include a dropdown?
If so, how to use it?

Also, it would be helpful if the `etc` would be a full list.

[2019-06-16 14:30] janhesters commented on #2922
Also not smart to close this, as this question is still open.

[2019-06-16 16:03] lenarmazitov commented on #3431
@haverchuck I could just suppose that user does not exists, but some link to second federated identity is still remains. And when I click on it in AWS console I can not reach original user, because it was deleted.

[2019-06-16 16:11] janhesters opened #3469 "How to access AWS AppSync via a Lambda function? (queries and mutations)"
** Which Category is your question related to? **
API
** What AWS Services are you utilizing? **
Lambda, AppSync, Cognito
** Provide additional details e.g. code snippets **
I'm trying to access AWS AppSync via a Lambda function.

1. `amplify init`
2. `amplify add auth`
3. `amplify add api` -> `GraphQL`

[code]

4. `amplify add funtion` choose rest

[code]

5. `amplify add api` choose rest and the

[2019-06-16 16:32] sebsto commented on #3456
Given the above (OPTIONS call should not be authenticated) I am closing this issue.  Here is a sample SAM template to correctly configure API Gateway

[code]

[2019-06-16 16:32] #3456 closed

[2019-06-16 16:33] randuyoung opened #3470 "amplify-authenticator signup component usage"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
amplify-authenticator-ionic
* Provide additional details e.g. code snippets **

Hello,

I am using the amplify-authenticator to provide a ui to cognito as you can see belo:

I have set up the config opt

[2019-06-16 16:39] ilyador commented on #2160
The documentation saying `‘string’, ‘number’, ‘password’, etc` is very lacking since it says nowhere what does `etc` actually include.
Apparently 'date' works, but seems like there are no options for a select dropdown, which is quite a basic option for a signup form.

[2019-06-16 17:41] undefobj commented on #3465
Ok thanks then there's nothing that can be done from the Amplify side. Might be a good idea for you to open a feature request here: https://github.com/aws/aws-appsync-community

[2019-06-16 17:46] homerjam commented on #876
Can you please make it clear on the website where these major gaps in functionality are that one would expect from a project like this? Or mark it as a beta product?

[2019-06-16 17:49] undefobj commented on #2642
@revmischa @BlackbitNeueMedien could you please open a Feature Request in the CLI repo so that team can track your request? Thank you.

[2019-06-16 20:09] #2319 closed

[2019-06-16 21:25] sgrillon14 commented on #2602
What do you need as information to implement this part?

[2019-06-16 22:26] elliott-king commented on #3243
Just jumping in to say I did test this with my issue & it has resolved the silent failure.

[2019-06-16 23:38] JonathanHolvey commented on #3116
Is there anything else I can try, or is what I want to do simply not possible using Amplify?

[2019-06-17 00:01] ruiyang commented on #932
For people ending here. the workaround is to call remembering the current device before calling the setting up mfa api.

[2019-06-17 01:29] phanviet commented on #3443
@haverchuck Thanks for inform. Just would like to ask one more question: It's not possible with amplify-js or Cognito?

[2019-06-17 01:53] AseemWangoo commented on #1852
Recently wrote an article on using **S3 bucket and Flutter,**

https://medium.com/@aseemwangoo/flutter-and-aws-cd7dabc06301

[2019-06-17 02:10] mattiLeBlanc commented on #1571
Yeah, it works also in Angular 7+ using the `API.configure(amplify)`.
A bit confusing because the docs  tell you to use `Amplify.configure(amplify);` which I would assume would configure any child app under Amplify?

[2019-06-17 03:27] ltolias opened #3471 "withAuthenticator HOC occasionally hangs on "Loading...""
I'm using the withAuthenticator HOC in my React app. Occasionally, after a successful login (or page refresh with a still valid auth token) my app is getting stuck on a white page with nothing but a "Loading..." text.  Refreshing the page always fixes the issue (with the loading page now showing up briefly and then getting replaced by my app).  The app in question is a basic create-react-app.  Any

[2019-06-17 03:57] rawadrifai opened #3483 "Cognito default authentication flow in Amplify"
** Which Category is your question related to? **
Auth flows

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
When we do `amplify add auth` which authentication flow does it default to? I'm guessing "Implicit"? If correct, is there a way to change it to "Authorization Code" flow from the amplify cli?

Finally, does anyone have a recommendatio

[2019-06-17 04:01] yukitaka13-1110 opened #3472 "Cannot use custom element 'amplify-s3-image' in Vue.js + TypeScript."
The following error has ocurred when I use amplify custom component, 'amplify-s3-image'.
[code]

main.ts
[code]

Home.vue
[code]

Is it my fault ?
What should I do ?

### Dependency
[code]

[2019-06-17 04:26] jaikathuria commented on #2107
@elorzafe! I also stuck in the same problem. This is a very important requirement given we can't use cookies without this.

I would love to contribute to add this feature.

[2019-06-17 04:28] koladilip commented on #2095
@undefobj we want to implement a central login page where the user should log in once and this page will be used to log on to many apps under different domains. Once the user is successfully logged in then they should be redirected to the original app with id, access and refresh token information as id and access token will be get expired in 1 hour, the app will need to keep calling the central lo

[2019-06-17 06:05] AaronOverton commented on #1324
This got marked as a feature request, now marked as stale, is it on the roadmap? I am going to try the recommended alternative above, but it does seem like a valuable addition to Amplify.

[2019-06-17 07:30] KristineTrona commented on #3457
@haverchuck From what I can tell you can choose only between 3 different authentication flow types - I am currently using CUSTOM_AUTH as I think it is the only way to implement passwordless login, but there is no way I can tell one app to use CUSTOM_AUTH, where the code is sent through email and to a different app to use CUSTOM_AUTH as well, but send the code through SMS.

[2019-06-17 08:48] ArmorDarks commented on #1176
nope

[2019-06-17 08:48] ArmorDarks commented on #1336
nope

[2019-06-17 09:15] roborourke commented on #2710
@haverchuck I'll try the latest version out but wanted to check if you'd had a chance to try out amplify with a static site yet

[2019-06-17 09:58] shlomizadok commented on #2039
It seems to be not working when passing a parameter to the subscription.
My code is:
[code]

My graphql original schema was:
[code]
Which returned nothing.
Had to change it to:
[code]
to receive the subscription

[2019-06-17 11:13] potatopotaro commented on #3465
Done!

[2019-06-17 11:13] #3465 closed

[2019-06-17 11:14] yannisroy commented on #3447
@haverchuck I triple checked:
<img width="1527" alt="Capture d’écran 2019-06-17 à 13 10 29" src="https://user-images.githubusercontent.com/200157/59600489-927a6380-9101-11e9-99c7-d7b651693f5b.png">

As it works on iOS, I think it is not an identity pool configuration problem.

I am willing to share privately a .zip of the project if necessary.

[2019-06-17 12:51] Vivek205 commented on #137
#Following. Required option to #remember device during SignIN

[2019-06-17 13:35] ahummel25 commented on #1538
I'm also getting this error when trying to initiate a passwordless user auth by calling `cognitoUser.initiateAuth`. Is there any solution?

[2019-06-17 14:29] bernhardt1 commented on #2209
@vparpoil Are you still looking for a solution to send push notifications programatically?

I've implemented them in my project and could detail my approach if you would like.

[2019-06-17 14:32] vparpoil commented on #2209
@bernhardt1 I'm interested in how you did. I ended up using Google Firebase Cloud Messaging system, I would be happy to know other approaches

[2019-06-17 14:40] bernhardt1 commented on #2209
I did something close to this:
1. Set up pinpoint notifications in the project + ensure test messaging is working for iOS and android
2. I use appsync in my project - By attaching a resolver to a field you can send the resulting data from a mutation to lambda.
3. Once the data is in lambda you can generate the push notifications

[code]

Does that make sense?

[2019-06-17 15:18] haverchuck commented on #3457
@cliffordh Have you looked at [this blog post](https://aws.amazon.com/blogs/mobile/implementing-passwordless-email-authentication-with-amazon-cognito/)?

[2019-06-17 15:22] jeff-tenovos commented on #3455
@undefobj Thanks.  If the App Client Secret shouldn't be used when passing an access Token to the backend, then what would be a valid use case for using an App Secret-enabled ALB HTTPS Rule, assuming you are running traffic over HTTPS?

[2019-06-17 15:37] sammartinez commented on #3405
Closing due to inactivity, please reopen if you are still having this issue.

[2019-06-17 15:37] sammartinez commented on #3405
Closing due to inactivity, please reopen if you are still having this issue.

[2019-06-17 15:42] jbeckton opened #3474 "Angular Universal SSR Support"
Amplify CLI Angular projects should support Server Side Rendering. For SEO purposes we need SSR, I know of other ways to deploy an Angular Universal app into a Lambda Function via the Serverless Framework tooling. I would prefer to use the Amplify tooling so I do not have to mix and match various tool chains.

Thanks

[2019-06-17 15:43] sammartinez commented on #3474
@jbeckton Thanks for the feedback! I am marking this as a feature request and moving the issue to our JS repo.

[2019-06-17 16:03] sammartinez commented on #3471
@ltolias could you provide which versions of amplify you're using, a snippet of the package.json to see the dependencies and a bit of your code you have in your React app. Just want a little more information to dive deeper into your issue.

Thanks!

[2019-06-17 16:13] yannisroy commented on #3447
Not sure if it is related, in the debug logs I can see this:
[code]

[2019-06-17 16:25] ltolias commented on #3471
Thanks for the quick response!
Versions:
aws-amplify@1.1.26
aws-amplify-react@2.3.6

Relevant bits of App.js:

import { withAuthenticator } from 'aws-amplify-react';
import Amplify, { API, Auth } from 'aws-amplify';

Amplify.configure({
    Auth: {
        region: 'us-east-2',
        userPoolId: 'these are probably secret-ish',
        userPoolWebClientId: 'these are probably secret-ish',
    }
}

[2019-06-17 16:29] yannisroy commented on #3447
I changed AppSync "Default authorization mode" to `API Key`, then in my js front `aws_appsync_authenticationType` to `API_KEY` and added `aws_appsync_apiKey` with expected value, and it worked!

[2019-06-17 16:46] joebernard commented on #928
Bumping this as it is still a desired feature.

[2019-06-17 16:52] sammartinez commented on #2629
Closing this issue in favor of #2839

[2019-06-17 16:52] #2629 closed

[2019-06-17 17:21] haverchuck commented on #3420
@ScubaDrew -  Are you running this in Node.JS or otherwise using server-side rendering of some sort?  Typically the aws-sdk has a [credentials provider chain](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/CredentialProviderChain.html) which, if so configured, will use local credentials from ~/.aws/credentials.  However, it is strange that this would be happening in a client browser witho

[2019-06-17 17:50] jkeys-ecg-nmsu commented on #3471
Should be fixed in the latest versions if you update with `npm i aws-amplify-react aws-amplify`.

https://github.com/aws-amplify/amplify-js/issues/3242

https://github.com/aws-amplify/amplify-js/issues/3471

https://github.com/aws-amplify/amplify-js/issues/3206

[2019-06-17 17:59] elliott-king opened #3476 "S3 Object upload with AppSync - "Missing credentials in config""
**Which Category is your question related to?**
GraphQL AppSync, and S3 Uploads with Complex Objects.

**What AWS Services are you utilizing?**
AWS Amplify with:
- Auth
- Storage
- API

**Describe the bug**
I am attempting to follow the [add complex objects](https://aws-amplify.github.io/docs/js/api#complex-objects) tutorial for amplify & appsync. However, I am getting an error:
`Network error: Gr

[2019-06-17 17:59] sammartinez commented on #3471
@ltolias As @jkeys-ecg-nmsu pointed out and beat me to it :), this should be fixed in the latest version. Please update to the latest version of amplify and report back.

[2019-06-17 20:10] mkrn commented on #3410
@bonillam Yes, get the same alert on sign out:
"appName" Wants to Use "amazoncognito.com" to Sign In

[2019-06-17 20:33] snooplsm commented on #2965
rn-fetch-blob doesn't really work any more with newer react native and expo.  I'm trying to use a blob but it seems like the blob uploads a corrupt file.  doing something like this:

fetch(file.uri).then(res=>res.blob()).then(blob=>Storage.put('foo',blob)) and everything works fine but the file is like 4x larger than it should be on the bucket.  Will there be any examples of uploading real files i

[2019-06-17 20:42] sammartinez commented on #1460
Closing due to the above comment that it is safe to close

[2019-06-17 20:42] #1460 closed

[2019-06-17 20:55] sammartinez commented on #1195
We currently follow suit to browser support similar to [AWS](https://aws.amazon.com/premiumsupport/knowledge-center/browsers-management-console/). Closing issue

[2019-06-17 20:55] #1195 closed

[2019-06-17 21:30] sammartinez commented on #1349
@BHesseldieck Apologizes for the late response, I have asked the Pinpoint team on this and will let you know what they say on this once I have an answer for ya.

[2019-06-17 22:06] sammartinez commented on #778
Closing issue from roks0n response above. Please feel free to reopen if youre still experiencing an issue

[2019-06-17 22:06] #778 closed

[2019-06-17 22:20] emptyopen commented on #3428
Any other ideas?

[2019-06-17 22:28] vivekFAGH commented on #3111
So I found that:
when the lex  response is
{"dialogState":"ElicitIntent", ...}

the component displays the response.
when the lex  response is
"dialogState":"Fulfilled","intentName"....}
The component resets.

This is with the component configured with clearComplete='false'

[2019-06-18 00:10] luisvsm commented on #368
I've attempted to add timeout support for API calls, eg API.[get/post/put/patch/del/head].

Usage is like so:
[code]

It sounds like some people here also wanted a timeout option for the Auth library, but that's a bit beyond my current understanding of Amplify and beyond my use case so someone else more appropriate should tackle that.

Cheers

[2019-06-18 00:44] ajhool commented on #3015
Not stale

[2019-06-18 00:45] ajhool commented on #3182
This issue isn't resolved and this bot is annoying

[2019-06-18 01:06] luisvsm commented on #368
In case the feature is rejected, or if you need a solution right now you can also set a timeout by changing the default timeout of axios.

`
// Put this code somewhere in your codebase to change Axios' default timeout
const axios = require('axios');
axios.defaults.timeout = 2500; // 2.5 seconds etc
`

[2019-06-18 03:03] ltolias commented on #3471
Well don't I just feel silly now, not sure how I missed those in my googling...  Thanks for the quick turnaround and sorry for the repeat issue!

[2019-06-18 03:03] #3471 closed

[2019-06-18 03:29] vuongnguyen-agilityio commented on #2460
Add `"@aws-amplify/ui": "1.0.18",` to package.json, below `"aws-amplify": "1.1.26",` and good luck :))

[2019-06-18 07:22] andriachmad93 opened #3477 "Window is not defined for amplify @ 1.1.29"
I have problem for use aws-amplify. Why the amplify message show

/home/backend/Documents/node_modules/youtube-iframe/index.js:50
}(window));
  ^

ReferenceError: window is not defined
    at Object.<anonymous> (/home/backend/node_modules/youtube-iframe/index.js:50:3)
    at Module._compile (module.js:577:32)
    at Module._extensions..js (module.js:586:10)
    at Object.require.extensions.(anonym

[2019-06-18 09:49] KristineTrona commented on #3457
I have abandoned my approach with amplify and instead have decided to authenticate user from my backend by using cognito lambda triggers (create, define and verifyAuthChallenge) and using CognitoIdentityServiceProvider methods initiateAuth() and respondToAuthChallenge(). (a good example on this:  https://www.youtube.com/watch?v=8DDIxqIW1sM around 50 mins in).

This way I am still not able to custo

[2019-06-18 11:22] yareyaredesuyo commented on #978
When developing using serverless and amplify, there is a option to using local s3 simulation. So this feature-request looks nice to me.

And there is `RFC - Local development and testing`  and it maybe related to this.

https://github.com/aws-amplify/amplify-cli/issues/1433

- https://hub.docker.com/r/scality/s3server/

[2019-06-18 12:46] AdrianRealDevs commented on #3410
I'm getting this error
`Error: The method or property WebBrowser.dismissBrowser is not available on android, are you sure you've linked all the native dependencies properly?`

[2019-06-18 13:30] KristineTrona opened #3478 "Passwordless Auth with customChallenge (without Amplify)"
** Which Category is your question related to? **
  Cognito, CustomAuth flow

** What AWS Services are you utilizing? **
Amazon Cognito Identity JS

** Provide additional details e.g. code snippets **

Hey, I am trying to implement passwordless login with cognito, where user receives a confirmation code via e-mail. The code is randomly generated in the createAuthChallenge lambda.

Following **Use

[2019-06-18 14:24] pedlop commented on #3477
I'm having the same issue.

[2019-06-18 14:26] elliott-king commented on #3476
Stack trace:
[code]

[2019-06-18 15:04] SvetlozarKalchev commented on #3477
I am also having this issue, but only on a build machine. I am trying to narrow it down to a version of either @aws-amplify or aws-sdk, but no luck so far.

I'll report back if I succeed.

[2019-06-18 15:05] pulpfree commented on #1368
Also looking for an update on this.

[2019-06-18 15:29] sammartinez commented on #3471
@ltolias no worries! Just as long as your issue was solved 👍. Cheers!

[2019-06-18 15:40] sammartinez commented on #3478
@KristineTrona Not sure if you stumbled upon this at all but here is a blog post on [Cognito](https://aws.amazon.com/blogs/mobile/customizing-your-user-pool-authentication-flow/) for customizing your user pool for authentication flow. This may be the direction to go if you're not looking to use Amplify.

[2019-06-18 17:26] jadbox commented on #3365
I must echo @ahallora, GraphQL is one of the largest bundled packages in production app... yet we don't use it at all. It's a massive tax when using aws-amplify to the point where we're considering forking @aws-amplify/api just to strip it out.

[2019-06-18 17:46] #3302 closed

[2019-06-18 18:18] josezuazo opened #3480 "Sumerian support on React Native apps"
Sumerian with react native is currently not possible. The react native DOM concept isn't Sumerian-compatible.

[2019-06-18 19:03] OrozcoJonathan commented on #3472
[**@yukitaka13-1110**](https://github.com/yukitaka13-1110) So after some testing it would appear that to use the `aws-amplify-vue` components in Vue Typescript you need to do component imports this way.
[code]

[2019-06-18 19:18] cliffordh commented on #1896
I am also very interested in this. I've gotten 95% of the way there to a "magic link" login, but now I'm stuck at sendCustomChallengeAnswer... going to try and recreate the CognitoUser somehow which might work.

[2019-06-18 19:48] sammartinez commented on #1349
From talking to Pinpoint on this question, Limits are per user level and not global. Closing this issue. If you have any further questions on Pinpoint, please feel free to reach out to them on [AWS Forums](https://forums.aws.amazon.com/tags/pinpoint)

[2019-06-18 19:48] #1349 closed

[2019-06-18 19:52] jordanranz commented on #3480
It may be possible to do inside of a [WebView](https://facebook.github.io/react-native/docs/webview). As of now this is not officially supported.

[2019-06-18 20:17] leozdim opened #3481 "Add auth creates a cloudformation-template with node6 version"
When you trigger "amplify add auth" it creates a nodejs6 and when you try to do "amplify push", it fails because nodejs6 is no longer supported

[2019-06-18 20:29] leozdim commented on #2392
For me worked to updated all aws packages
`npm i aws-sdk@latest aws-amplify@latest`

[2019-06-18 20:32] sammartinez commented on #1583
Im going to close this issue as @imewish was able to solve his issue. Please feel free to reopen if you are still experiencing this issue.

[2019-06-18 20:32] #1583 closed

[2019-06-18 20:34] damianrr opened #3482 "amplify can't find my appsync after deployment"
**Describe the bug**
I have a website in production with 2 envs, I made a css change on dev branch, commit and push, and since I've the amplify console configured, it deployed correctly my website as usual. However, when I merge to master and push, I've a deployment error it saids:

[code]
This is happening on my production site, help with this will be be most appreciated!

[2019-06-18 20:47] damianrr commented on #3482
Sorry, this is fixed. I forgot to push my function's cloudformation template:
[code]

Follow up question though, why does this changes in every `amplify push`? Is really annoying and doesn't work well with having different git branches.

[2019-06-18 20:58] sammartinez commented on #1756
Closing this issue as per powerful23 call out above. Please feel free to reopen if need be

[2019-06-18 20:58] #1756 closed

[2019-06-18 21:01] sammartinez commented on #1931
Closing this issue as powerful23 PR above. Please feel free to reopen if needed

[2019-06-18 21:01] #1931 closed

[2019-06-18 21:20] willkara commented on #2828
I'll have to check it out. Just haven't had the time recently.

[2019-06-18 21:36] chai86 commented on #2463
Hi @elorzafe. I've successfully been able to add new entries and update information using AppSync. However i'm totally stumped when it comes to 'Get' information.

So for example if i try:
` await API.graphql(graphqlOperation(getVideo, { id: ???? }))`

I have no idea what my 'id' is. Obviously once the entry is created a unique id is created, but i have no way of knowing that unless going to my AW

[2019-06-18 21:59] jhoffmcd commented on #3477
I found that I also get this error from `@aws-amplify/ui`. If you are using `yarn` you can resolve the sub dependencies to earlier versions by adding `resolutions` to the `package.json`:

[code]

[2019-06-18 22:31] shicholas commented on #3279
hey @homerjam, shameless shout-out - I took some time and solved Auth w/ Cognito User Pools & AWS AppSync for React apps if you're interested.

If you are, please check out https://design.1337lawyers.com/?path=/story/authentication--setup and lmk how I can improve it. It uses Formik to wrap Auth calls, and exports a `CurrentUserConsumer` that uses the React context API to give you information abou

[2019-06-18 22:41] #3477 closed

[2019-06-18 23:04] homerjam commented on #3279
Thanks @shicholas! I made progress also, I eventually managed to get persisted federated sign in working with Nuxt (SSR) using a combination of Amplify, AppSync and deprecated Cognito libraries. Though having been through all that we're now dropping Amplify in favour of Prisma which I hope will be a better experience.

[2019-06-18 23:21] shicholas commented on #3279
nice sounds good. haha I hope Vue & React converge one day. There's good ideas in both and it'd be cool if it was all the same.

[2019-06-19 00:46] #3342 closed

[2019-06-19 02:11] namnh06 opened #3484 "Auth SignUp auto send another request and throw Error: No credentials, applicationId or region"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **
I have 2 projects which are using the same code like this:
 `Auth.signUp({
     username,
      password,
      attributes
    }).then(data => console.log(data)).catch(error => console.log(error)).finally(() => console.log('done'));
`
Just li

[2019-06-19 03:41] n00bm5st3r69 opened #3485 "DynamoDB:ConditionalCheckFailedException"
Hi All! I have a table with the following fields:

userID: ID
username: String
firstname: String
lastname: String
usertype: String
status: String

I want to change the value of the status field from "Active" to "Inactive" by performing a mutation update but unfortunately I am getting the below error.

errorType: "DynamoDB:ConditionalCheckFailedException"
message: "The conditional request failed (S

[2019-06-19 04:20] lafiosca commented on #1781
I believe this issue has been resolved by my PRs merged above. The behavior can be modified as per the new documentation: https://github.com/aws-amplify/docs/pull/643/files

[2019-06-19 06:02] chriscraiclabs commented on #3342
This should not be closed

[2019-06-19 06:12] KristineTrona commented on #3478
@sammartinez thanks for your answer. I did see this post before and implemented it as you can see in the last snippet - it works, but the issue with it is that respondToAuthChallenge() requires a 'Session' parameter, which is a token that gets generated by the initiateAuth() method and this token is only valid for 3 minutes (also mentioned in that post). So should the user take longer than 3 minut

[2019-06-19 07:21] yukitaka13-1110 commented on #3472
Thank you for quick response !
I could get images from s3.

[2019-06-19 07:21] #3472 closed

[2019-06-19 08:35] namnh06 commented on #3484
After trying and creating some new project, I notice that every new project got this issues:

I thought there are some changes in Amplify JS ?

[2019-06-19 09:31] cliffordh commented on #1896
I came up with a solution. It doesn't use anything mentioned above. I have a single Lambda, and 2 Vue components. I will clean it up and open source it for inspection by the community. GIve me a couple of days.

[2019-06-19 09:41] svenkatesh-nyros opened #3486 "Getting the error of Window is not defined, after new installation of the node_modules with "youtube-iframe" package"
**Describe the bug**
After installation of the @aws-amplify with the additional package of youtube-iframe. Getting the error of window is not defined.

**Screenshots**
Please check the following screenshot of the error. The app is working with previous node_modules without youtube-iframe package inside.

***You can turn on the debug mode to provide more info for us by setting window.LOG_LEVEL = 'D

[2019-06-19 10:35] anuradhawick opened #3487 "Facebook login with federatedSignIn fails with server error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-06-19 10:37] #3487 closed

[2019-06-19 10:48] anuradhawick opened #3488 "Server error when trying to login with Facebook federatedSignIn"
### Description
I had successfully setup Facebook and Google sign in using federatedSignIn method in the Auth module. However, recently the flow breaks returning a server error.

### My Config
[code]
### Steps to reproduce the behavior:
In my authenticator service (As I am using angular) the method is as follows
[code]

### Expected behaviour
The redirect after user authorization should come with

[2019-06-19 11:03] malithjkmt commented on #3488
Same observation on react native project.
Facebook login worked well last week. But now it fails sometimes with `Error: Exception+processing+authorization+code` while Google login works 100%
@powerful23  any idea about this?

[2019-06-19 11:06] mdw2000 commented on #3486
I also came across that issue after upgrading `aws-amplify` to 1.1.29.

A workaround I'm using to get around it (I'm using amplify from Node backend) is to add the following polyfill before importing `Amplify`...this fixes that error but opens up some other issues involving AWS Pinpoint down the line..

[code]

[2019-06-19 11:14] mdw2000 opened #3489 "AWSPinpointProvider error when executing GraphQL operations on project without Analytics category"
There seems to be changes introduced in `aws-amplify` that causes AWS PinPoint code to execute when doing GraphQL operations even though Analytics is not added to the Amplify project.

The error happens when executing GraphQL operations server side (TypeScript)

[code]

This started happening after upgrading my project to the latest versions, although I'm not sure which package causes the issue.

[2019-06-19 11:15] Damith2323 commented on #3488
I am having the same issue

[2019-06-19 12:58] laurib commented on #3484
Run into same problem with new project

[2019-06-19 13:36] KristineTrona commented on #3478
Actually, I figured out that Amplify Auth works the same way and also has the 3 minute expiration time for the Session (see Timeout of 3 minutes -  https://aws.amazon.com/blogs/mobile/implementing-passwordless-email-authentication-with-amazon-cognito/).

So I am guessing my last code snippet is the way to go without amplify. But is there any way to increase the 3 minute timeout?

[2019-06-19 14:32] gerrytsui commented on #3484
Same here. Starting to get this today from the  ng e2e, which tests Auth signin workflow. ( I was fine just yesterday)
"ERROR" Error: Uncaught (in promise): Error: No credentials, applicationId or region

while deployed project is working fine. Very strange.

[2019-06-19 14:52] jdavidhermoso commented on #3484
+1.

Everything seems to be working fine, but that message appears in console.

![image](https://user-images.githubusercontent.com/7687596/59776104-8da8e180-92b2-11e9-83ea-df264269aa6d.png)

[2019-06-19 14:53] victordelval commented on #3489
Me too, for GraphQL api with JavaScript...

[2019-06-19 15:05] gerrytsui commented on #3484
Here is what I found so far. ( in my case)
The Uncaught exception  is from AWSPinpointProvider.ts ( line 155 record function: public async record(params, handlers: PromiseHandlers) { }  )

As soon as I disabled Analytics in my project, it works fine without the error.

I agree the app may works fine for you, but it is not passing my ng e2e testing with that exception.

The fact that there is no co

[2019-06-19 15:28] sammartinez commented on #3486
@svenkatesh-nyros We did have an issue with the `youtube-iframe` npm package in the `aws-analytics` package yesterday that we ended up doing an unstable publish yesterday afternoon to fix. Please update to the unstable version and report back

[2019-06-19 15:39] sammartinez commented on #3485
@n00bm5st3r69 Seeing that there are some errors with a 400 status code and the error code ConditionalCheckFailedException, I did find this [documentation](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Programming.Errors.html) on DynamoDB for more insight into those error messages. As for the graphqlOperation, I would verify that the `updateUsers` is in fact a mutation of GraphQL

[2019-06-19 17:29] GeorgeBellTMH commented on #3486
This resolved the issue, but now I am getting:

/Users/georgebell/Desktop/Code/tmh-web/web/node_modules/@aws-amplify/ui/dist/aws-amplify-ui.js:1
ReferenceError: window is not defined
    at Object.<anonymous> (/Users/georgebell/Desktop/Code/tmh-web/web/node_modules/@aws-amplify/ui/dist/aws-amplify-ui.js:1)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:700:10)
    at Object.M

[2019-06-19 17:49] kay-is opened #3491 "Using Cognito authorizers with API-Gateway"
**Which Category is your question related to?**
Cognito

**What AWS Services are you utilizing?**
Lambda, API-Gateway, and Cognito via SAM. I'm posting this here because as far as I know, Cognito is part of Amplify.

**Provide additional details e.g. code snippets**
I wanted to add a Cognito authorizer to my API.

I use a Lambda with two API endpoints to handle sign in and signup.

The sign in end

[2019-06-19 17:51] sammartinez commented on #3484
@namnh06 Can you provide a copy of your `package.json`, I want to verify which version you are experiencing this on. Even with creating a new project I would just like to see. Also, can you see about using the latest unstable version running `npm install --save aws-amplify@unstable` or `yarn add aws-amplify@unstable` depending on your build system you are using. Prior to installing the unstable ve

[2019-06-19 17:52] sammartinez commented on #3478
@KristineTrona There is not currently a way to increase the expiration time. I will mark this as a feature request and bring it to the Service Team's attention

[2019-06-19 18:00] sammartinez commented on #3491
@kay-is We do use Cognito for our [Authentication](https://aws-amplify.github.io/docs/js/authentication) piece of our library, however, Cognito is it's own team within AWS. For this question, I feel that you would have a better explanation from the Cognito team themselves which you can contact them via their [AWS Forums](https://forums.aws.amazon.com/forum.jspa?forumID=173). Ill leave this open fo

[2019-06-19 18:11] laurib commented on #3484
I get same error with aws-amplify@unstable. Also happens with Auth.signIn()
I have only Auth added to backend

[2019-06-19 18:11] kay-is commented on #3491
Okay, I posted it in the [Cognito AWS Forums](https://forums.aws.amazon.com/thread.jspa?threadID=305004)

[2019-06-19 18:11] #3491 closed

[2019-06-19 18:31] gerrytsui commented on #3484
I found the conditions that is causing the AWSPintpointProvider.ts error.

IF I **import Analytics from '@aws-amplify/analytics';** even if I don't use it at runtime ( in our project we call analytics.record only in production mode set by **environment.prod.ts** )
AND the JSON to **Amplify.configure** is missing the **"Analytics"**  settings ( again we conditionally add the analytics json using Ob

[2019-06-19 18:49] laurib commented on #3484
My aws-exports.js file is
[code]

Should there be generated `Auth: {}` ?

I kind of remember that there used to be...

[2019-06-19 19:06] VamsiDharmaji opened #3492 "Multiple tab login using different logins"
** Which Category is your question related to? **
Authentication

** What AWS Services are you utilizing? **
AWS Cognito

** Provide additional details e.g. code snippets **
We are using AWS Amplify with Angular using the default options for storage ( Local Storage ), I am trying to find a clean way to support multiple tab login scenario.

Amplify creates 5 local storage keys on each successful lo

[2019-06-19 19:14] sammartinez commented on #2535
@kylekaplan This is currently not supported but I do see where it could be beneficial to have batch subscribe for some use cases. I will mark this as a feature request

[2019-06-19 19:19] sammartinez commented on #2990
@mezalejandro Im going to close this issue as it seems the workaround was working correctly for people. Please reopen if you are still experiencing this issue

[2019-06-19 19:19] #2990 closed

[2019-06-19 19:28] sammartinez commented on #3007
@jarrettj I did want to provide you a guide of setting up API GW with CORS and further [documentation](https://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-cors.html) in regards to this issue. This should give you a little more insight into configuring OPTIONS and other operations you're looking to use. In reading your response above, it seems that you have solved your issue. Im goi

[2019-06-19 19:28] #3007 closed

[2019-06-19 19:31] sammartinez commented on #3015
@ajhool Thanks for the feedback, apologize this got marked as a stale from the stale bot. Im going to mark this as a feature request

[2019-06-19 19:32] sammartinez commented on #3016
@totaland I'll go ahead and close this as you were able to solve it using DynamoDB and GraphQL.

[2019-06-19 19:32] #3016 closed

[2019-06-19 20:01] sammartinez commented on #3240
@Sheleya Can you try updating to the latest version of `aws-amplify-react-native` and see if you're still experiencing this issue.

[2019-06-19 20:14] iamdavidmartin commented on #3489
me 3

[2019-06-19 20:48] sammartinez commented on #3251
@rahulserver Since this is a little bit old and there are newer versions of `aws-amplify-vue` can you upgrade to the latest version and see if you are experiencing the same issue. Also, please remove the `node_modules` and the lock file (e.g. `package-lock.json or `yarn.lock`) prior to installing the latest version

[2019-06-19 21:02] sammartinez commented on #3265
@EmanH Thanks for the info, from our docs there is a section on [Using Categories](https://aws-amplify.github.io/docs/js/angular#using-categories). From what you called out in your code example above, that is one way to do it but we would recommend to follow the the link above when using categories in angular. Im closing to close this issue for now, please feel free to reopen if you are having iss

[2019-06-19 21:02] #3265 closed

[2019-06-19 21:34] #3437 closed

[2019-06-19 21:39] adrianhdezm commented on #1571
I'm trying to use the `API.graphql` as replacement for my existing CRUD data service and I'm getting the same error, and unfortunately the solution proposed by @knuula didn't work for me, also the when I tried to put the configuration as suggested by @mattiLeBlanc `API.configure(config)` I'm getting the following error  `No userPool`.  Any hints about how to debug `aws-amplify` bootstrapping to ca

[2019-06-19 21:44] mattiLeBlanc commented on #1571
Without knowing any of your details: Did you run the amplify cli
configuration steps creating you IAM user. And then did you add AUTH using
amplify add auth?
User pool would only be used for cognito, if I am correct.

On Thu, 20 Jun 2019 at 07:39, Adrian Hernandez-Mendez <
notifications@github.com> wrote:

[2019-06-19 21:45] Tony-Guerrero commented on #3489
Me too, for REST with JavaScript, after upgrading to amplify ver 1.7.4

[2019-06-19 21:55] mrjohnskelton opened #3493 "Federated Authentication through Cognito to facebook test users"
** Which Category is your question related to? **

Auth & Authenticator.  Federated login via a Cognito pool.  Problem getting the chain to work with _test_ users.

** What AWS Services are you utilizing? **

Auth & Authenticator.  Cognito.

** Provide additional details e.g. code snippets **

Federated login set up for facebook.  As facebook now requires https, I'm using ngrok to provide an exter

[2019-06-19 22:02] adrianhdezm commented on #1571
Thanks for your comment and hints @mattiLeBlanc, I'm running a simple React project with CRUD operations with Entity type. I did a version working with hooks https://github.com/adrianhdezm/spa-boilerplate/tree/3.0.0, but when I've tried to migrate to Redux and using the `API.graphql` in the context of Redux Observable, the problem showed up. To your first question, the answer is yes, I run the cli

[2019-06-19 22:44] sammartinez commented on #3266
@dspasojevic Not sure if you have stumbled across this yet but here is a bit more information on Cognito with [Using Tokens with User Pools - Using the Refresh Token](https://docs.aws.amazon.com/cognito/latest/developerguide/amazon-cognito-user-pools-using-tokens-with-identity-providers.html#amazon-cognito-user-pools-using-the-refresh-token). As for your question regarding the refresh token, we cu

[2019-06-19 22:56] sagenate24 commented on #1411
I am having this same issue. I am passing the user object returned by ```Auth.signIn()``` as the first parameter in ```Auth.confirmSignIn(user, "123456", "SMS_MFA")```. but yet that user object still does not have the ```sendMFACode``` function.

Anyone still having issues with this?
```"@aws-amplify/auth": "^1.2.23",```

[2019-06-19 23:15] adrianhdezm commented on #1571
I solved it by removing `aws-amplify` package and installing the individual feature packages
<img width="643" alt="Bildschirmfoto 2019-06-20 um 01 13 58" src="https://user-images.githubusercontent.com/3098149/59807561-c4a1e600-92f8-11e9-807a-3a2e3b0c20f3.png">

[2019-06-19 23:55] aehmt commented on #3489
[code]
Fixes the issue.

[2019-06-20 00:12] mattiLeBlanc commented on #1571
that is weird. But glad you solved it.

On Thu, 20 Jun 2019 at 09:15, Adrian Hernandez-Mendez <
notifications@github.com> wrote:

[2019-06-20 00:43] sagenate24 commented on #192
I am having this same issue. I am passing the user object returned by ```Auth.signIn()``` as the first parameter in ```Auth.confirmSignIn(user, "123456", "SMS_MFA")```. but yet that user object still does not have the sendMFACode function.

Error: `TypeError: user.sendMFACode is not a function`

Anyone still having issues with this?
`"@aws-amplify/auth": "^1.2.25",`

[2019-06-20 02:21] namnh06 commented on #3484
Hi @sammartinez ,
For your information:
- New Project:
[code]
- Old Project:
[code]
for the whole package.json, you can look at it here: https://gist.github.com/namnh06/336b49acac9edefc4df152a6b3024c46

I tried to remove everything & install aws-amplify with the version like the old one but no luck.

Tried it, no luck either.

I thought @gerrytsui was right and wrong, because of if API, so, the ol

[2019-06-20 04:05] cliffordh opened #3494 "Can't use "code" as a query parameter"
Using the query parameter name "code" causes "invalid_grant" error due to the Amplify listener attempting to validate the parameter as an OAuth code. Might make sense to namespace the code parameter to "awscode" or even validate that the code value looks like an OAuth response code before throwing an error.... took a few hours to debug this.

[2019-06-20 04:14] svenkatesh-nyros commented on #3486
@sammartinez .
I installed the "aws-amplify": "1.1.30-unstable.0" latest unstable version and checked the app. Now I am  getting the following error.

ReferenceError: window is not defined
in the folder node_modules/@aws-amplify/ui/dist/aws-amplify-ui.js

Please check the following screenshot.

![3-aws-git-error](https://user-images.githubusercontent.com/16791299/59818049-ed999980-933f-11e9-9aa2-a

[2019-06-20 05:21] eoghanatfacet commented on #2754
This needs to be maintained open until it's properly linked to RFC: aws-amplify/amplify-cli#766

[2019-06-20 05:49] #3485 closed

[2019-06-20 06:19] dspasojevic commented on #3266
Thanks @sammartinez. That information is useful.

Ideally, we'd like there to be a configuration option to supply a function that would asynchronously provide the refresh token rather than overriding `storage` as a whole. We'd also like to piggy-back on the auto-refresh capability already provided by Amplify.

So, rather than ignoring auto-refresh and manually refreshing ourselves, we'd just want

[2019-06-20 06:38] davidgatti opened #3495 "Cognito Feedback"
From the issues created in this repo, the lack of responsiveness from the Cognito team which keep issues not being acknowledged, the state of the code for all the SDKs related to Cognito, and the incoherent mess that this SDK are in, and the private chats that I had with AWS Teach Support I understand the problem that the Cognito service has.

There is nobody responsible for the Cognito project wh

[2019-06-20 07:16] ilya-bmi commented on #3484
I get the same error with react native after an update.
aws-amplify@1.1.29
"react": "16.8.3",
"react-native": "0.59.9",

[2019-06-20 07:25] artista7 commented on #3486
I thought I'm getting something wrong. But seems like this is one of the latest issues. Please get this fixed asap. I am using aws-amplify in lambda and the following error is coming :-
{
  "errorType": "ReferenceError",
  "errorMessage": "window is not defined",
  "trace": [
    "ReferenceError: window is not defined",
    "    at Object.<anonymous> (/var/task/node_modules/youtube-iframe/index.js

[2019-06-20 07:54] arjunsk commented on #3484
I had posted a question regarding the same: https://stackoverflow.com/questions/56680112/bad-request-is-returned-when-amplify-is-configured-for-hosted-ui-in-angular-6

[2019-06-20 07:57] namnh06 commented on #3484
@arjunsk I got one from yesterday, but no luck till now : https://stackoverflow.com/questions/56659183/amplify-auth-signup-auto-send-another-request-and-throw-error-no-credentials-a

[2019-06-20 08:12] jarrettj commented on #3007
Hi, good morning.

I never solved it. Ended up leaving all my APIGW open and public. The only way I could get it to work. And it is not personal sensitive data, so not an issue. But would be nice to get the auth to work as well.

When I have time, I'll follow your documentation and hopefully I have missed something very simple! Thanks.

[2019-06-20 10:32] shellandbull opened #3497 "[FEATURE] Allow for @aws-amplify/auth configure to set an endpoint"
**Is your feature request related to a problem? Please describe.**

AWS cognito exposes a URL  that we are meant to use in order to consume the service. e,g `https://cognito-idp.eu-west-1.amazonaws.com/`

Said cognito URL and params to make a request are out in the public to see when `amplify` is being used as a client-side library.

That leaves a room open for attackers to use and abuse the endpo

[2019-06-20 10:42] ricoli commented on #3497
The CognitoUserPool supports the `endpoint` argument (https://github.com/aws-amplify/amplify-js/blob/master/packages/amazon-cognito-identity-js/src/CognitoUserPool.js#L36) it just needs to be passed on to it

[2019-06-20 11:52] cliffordh commented on #3488
Same issue... tbh, I'm glad it's not just me! Looking forward to a solution.

[2019-06-20 11:59] cliffordh commented on #3495
Can you elaborate what issues you're having with Cognito? I'm quite far down the Cognito path and although it's difficult to work with sometimes, I've found that I can usually get things working the way I want. Auth is hard to do right and re-inventing the wheel sounds like a lot of work with lots of  implementation details to get right.

[2019-06-20 12:05] arjunsk commented on #3484
Got it working: https://stackoverflow.com/questions/56680112/bad-request-is-returned-when-amplify-is-configured-for-hosted-ui-in-angular-6/56685607#56685607

[2019-06-20 12:20] cliffordh opened #3498 "Cognito: Forgot password does not trigger PostAuthentication_Authentication"
**Describe the bug**
If a user signs in through the forgot password flow, then the Cognito trigger PostAuthentication_Authentication does not get called. Instead, PostConfirmation_ConfirmForgotPassword is called. There seems to be a disconnect with the authentication logic since a user with a confirmed forgotten password is actually signed in, I would expect PostAuthentication_Authentication trigg

[2019-06-20 13:29] davidgatti commented on #3495
Hi @cliffordh,

Sure, check the following Issue #3330, and follow the URL. And this is one thing, then if you check let say the Issue section of this repo for the past 30 days, you'll see an endless stream of issues. From something just not working at all, or something not being implemented following the security guide lines.

I also use AWS Teach Support to figure out issues, and with my private

[2019-06-20 15:05] darnmark64 commented on #3489
I'm seeing the same thing after upgrading. Our application doesn't use Analytics. My Amplify configure command is using the aws-exports.js file so the @aehmt fix doesn't fit my case.

[2019-06-20 15:38] yukitaka13-1110 opened #3499 "Vue.js + TypeScript build error, `Could not find a declaration file for module '@aws-amplify/ui'`"
Vue.js + TypeScript + AWS Amplify, I encountered the following error.
Could not find types file.
Is this error default behavior ?
Is there a way to avoid this error?

[code]

tsconfig.json
[code]

package.json
[code]

### Information
Vue.js    =>    3.8.2
TypeScript    =>    3.4.5

[2019-06-20 15:56] kouak commented on #2638
Is there any workaround ?

[2019-06-20 16:14] andreimcristof commented on #1852
+1 from me as well, definitely a must have.

Since it's not available right now, I am making a POC to investigate using react-native with amplify, and then calling JS from dart with dart:js.

[2019-06-20 16:16] sammartinez commented on #3499
@yukitaka13-1110 Can you upgrade to the latest versions of `aws-amplify-vue` and `@aws-amplify/ui`. Prior to upgrading, please delete your node_modules along with a lock file (e.g. `package-lock.json` or `yarn.lock`) and see if you're still experiencing this issue.

[2019-06-20 16:33] cliffordh opened #3500 "Passwordless Magic Sign In with Email Link - A working workaround"
So I spent a lot of time trying to use the Auth Challenge solution to implement a passwordless signin and eventually took a completely different approach. I hope this information is useful to someone, and/or someone tells me I'm crazy for doing auth like this :-)

At a high level here's how it works:

One component which handles both signin/up with a single email input address field.
One component

[2019-06-20 16:34] jenshandersson commented on #3484
I got it working by reverting `@aws-amplify/analytics` to `1.2.16`.

[code]

[2019-06-20 16:34] clundberg1 commented on #3165
This is absolutely essential for Angular apps, not only because if you subscribe after the Subject emitted a value, you won't be notified until a new value is emitted, but also because Subjects don't hold the current value, which means you can't get the value synchronously, whilst with BehaviourSubjects, you can!

[2019-06-20 16:36] ottokruse opened #3501 "Auth.signOut() doesn't redirect to the Cognito Hosted UI logout endpoint"
This is an OAuth scenario with the Cognito hosted UI

See sample code below. When clicking the signOut button I see that cookies get cleared, but the browser is not redirected to the /logout endpoint which I think it should be doing. Because it doesn't do that, the user remains logged in at Cognito.

[code]

[2019-06-20 16:36] cliffordh commented on #1896
I just posted a workaround that might help: https://github.com/aws-amplify/amplify-js/issues/3500

[2019-06-20 17:20] iamdavidmartin commented on #3399
I had the same issue with "invalid_request". I tried implementing the polyfill people are using (referenced [here](https://github.com/aws-amplify/amplify-js/issues/3183#issuecomment-487386105)) and I was able to get authentication to "work". "Work" in quotes because now there's a new error, however authentication is successful.

The new error is "invalid_grant". Authentication is successful in spi

[2019-06-20 17:40] iamdavidmartin commented on #3210
@EmanH were you able to get Hub events to fire? I'm having this exact issue as well.

[2019-06-20 18:52] filipemcg commented on #3484
I solved this by only setting:

`"aws-amplify": "1.1.28"`

Can confirm this works

[2019-06-20 18:56] filipemcg commented on #3484
Just noticed that the console error persists, but the signUp flow is unblocked by setting:

`"aws-amplify": "1.1.28"`

The error remains:
![image](https://user-images.githubusercontent.com/24497198/59874137-7858b380-9395-11e9-8ed4-3ba98ac52fdc.png)

Still needs a bit of tweaking so that we can surpass this.

[2019-06-20 19:00] damianrr opened #3502 "How Do I get amplify environment variables into custom resolvers mapping template."
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I need to hardcode tablenames in mapping templates, this happens often with batch operations that require the tablename, for example:
[code]

[2019-06-20 19:47] kim-ra commented on #3486
Facing the same issue just getting started out with Amplify, does anyone happen to know workable versions to roll back to in the meantime to unblock?

[2019-06-20 19:49] The-Edge-Malaysia commented on #3495
I share the same frustration working on Amplify Auth for the past 4 weeks, which I was expecting Cognito to handle our authentication requirement pretty smoothly, as we are just wanting to have federated authentication with google and create user on Cognito user pool.

I am using Vue and there's no many examples, and none on the above that we are trying to achieve.

We have 2 projects running to h

[2019-06-20 19:55] mrjohnskelton commented on #3493
OK - have a working workaround/fix.  I think it's Chrome Incognito that is blocking Information below in case you want to add it to README or developer notes.

Background:
  - Facebook now requires https urls for federated login.
  - To test federated Amplify Auth/Authenticator on local dev you need to use something like ngrok to tunnel https traffic through to localhost
  - To login with test use

[2019-06-20 19:56] mrjohnskelton commented on #3493
Oh, sorry - should have have closed and commented.  doing that n..

[2019-06-20 19:56] #3493 closed

[2019-06-20 20:29] mlabieniec commented on #3495
@The-Edge-Malaysia did you use the CLI to bootstrap your project with social providers? If using vue, the docs have some examples here, which i'm assuming you've already seen: https://aws-amplify.github.io/docs/js/vue

But also in terms of using a social provider with amplify we've recently launched some things to greatly simplify this process documented here: https://aws-amplify.github.io/docs/js

[2019-06-20 20:43] iamdavidmartin commented on #3488
I get this error when using a custom urlOpener on expo, but I don't get the error with the default config that has app switching. Below is my urlOpener code:
[code]

[2019-06-20 21:23] oliverandersencox opened #3503 "Count and atomic transactions"
** Which Category is your question related to? **
Amplify API

I want to keep track of counts for various aspects of my database which requires atomic transactions so as to avoid conflicts. The docs dont cover any of this and I cant see anything in the API Docs.

It would be great to return a count of records or be able to update mutation in a transaction.

Anyone know how this is done with the am

[2019-06-20 21:38] nicksmithr opened #3504 "Unable to resolve "aws-sdk/clients/personalizeevents""
**Describe the bug**
A clear and concise description of what the bug is.

Adding Amplify to React Native, even when disabling analytics, tries to use analytics and fails from the aws-sdk.

Adding the aws-sdk helps, but that duplicates having the dependency.

**To Reproduce**
Steps to reproduce the behavior:
Adding amplify to a React Native project generate
Configuring manually amplify.
[code]

Rea

[2019-06-20 21:59] jkeys-ecg-nmsu commented on #3495
I think part of the problem is that most people leveraging these libraries are doing so for commercial purposes, so they have little incentive to share what discoveries they make about individual services.

Perhaps the real FR here is documentation littered with samples of various use cases for Cognito.

[2019-06-20 22:04] christiankaindl opened #3505 "API and Storage modules not registered when calling `Amplify.configure`"
**Describe the bug**
When using Amplify, I am unable to use Storage and API methods, and get respective errors (errors are below).

I am importing Amplify core package (@aws-amplify/core) and call the configure method like the following (code that is actually used):

[code]

**Expected behavior**
The Storage and API modules should work as documented.

**Desktop (please complete the following infor

[2019-06-20 22:53] mahcr commented on #3484
I'm experiencing the same issue but I'm not using `@aws-amplify/analytics`.

[2019-06-20 22:55] filipemcg commented on #3484
Are you sure you have not imported the whole aws-amplify package?

[2019-06-20 23:14] mahcr commented on #3484
@filipemcg  oh oh oh. Thanks for the tip! using only `@aws-amplify/core` `@aws-amplify/auth` fixed the problem!

[2019-06-20 23:20] mary-cheung commented on #1582
This feature would be nice to have for our team too.

[2019-06-21 00:10] rachitdhall commented on #3330
David, we have identified an issue in Amazon Cognito where the Admin/GetUser service response doesn’t correctly populate MFAOptions when on a pool with MFA required and the end user uses SMS MFA. We are actively working on the fix and will circle back when the service update is completed.

We understand the frustration caused by the longer time it took to respond, and we are happy to hear any feed

[2019-06-21 01:45] yukitaka13-1110 commented on #3499
Thank you for quick response.
I tried this way.
[code]
I could resolve about @aws-amplify, but I still get this error in aws-amplify-vue.

[code]
Dose types folder exist in aws-amplify-vue ?

[2019-06-21 02:28] tallpants commented on #3422
We should move Amplify over to using @react-native-community/async-storage because AsyncStorage is being removed from React Native core in the next release (0.60) which should be out in a few weeks -- which means someone who `react-native init`s a new application and follows the instructions on Amplify's docs exactly will end up with a broken app.

Using your own storage wrapper should work, but i

[2019-06-21 02:31] tallpants commented on #3422
Also cc @powerful23 just so you're aware of this

[2019-06-21 02:46] EmanH commented on #3210
@iamdavidmartin Yes, I was. I re-created a reactive native project using Expo, then it worked as expected.
At some point I'm going to have to eject it though, so hope it keeps working after that.

[2019-06-21 02:47] svenkatesh-nyros opened #3506 "Amplify is totally crashed because of the Window is not defined error in youtube-iframe package"
@powerful23, @robbevan ,@mlabieniec, @jordanranz, @mbahar, @richardzcode
After installation of the @aws-amplify with the additional package of youtube-iframe.

Getting the error of window is not defined in

1. node_modules/youtube-iframe/index.js 50:3
2. node_modules/@aws-amplify/ui/dist/aws-amplify-ui.js:1

**Can you please provide the previous working version without facing the issue of window i

[2019-06-21 03:41] loganwedwards commented on #3410
@mkrn I do not think the flow you are describing is possible. There's a statement buried in the docs indicating that RN apps must use the hosted Cognito UI (which you can hide), but the initial web browser redirect does go there before Facebook. The popup is an Expo thing indicating an oauth flow via a web redirect is about to happen. https://docs.expo.io/versions/v30.0.0/sdk/auth-session/

One sm

[2019-06-21 04:00] artista7 commented on #3486
Hey, meanwhile the error might be getting fixed, you can use individual amplify components in your app and use them like :-

const Amplify = require('@aws-amplify/core').default;
var API = require('@aws-amplify/api').default;
var { graphqlOperation } = require('@aws-amplify/api');
var Auth = require('@aws-amplify/auth').default;

[2019-06-21 05:06] leantide commented on #3489
When using AWS Amplify CLI (or MobileHub), the configuration is contained in the auto-generated aws-exports.js.

Seeing these PinPoint issues re-appearing from time to time, maybe Amplify-CLI could add the  Analytics: { disabled: true } iff the CLI has not added the Analytics service.

In the meantime,
[code]

[2019-06-21 06:05] wataruoguchi commented on #2498
It's not an amplify's issue.
I'm using Vue.js, I assume React does similar. The router plugin of Vue.js has this documented nicely. It says all routes should fall to `index.html`:
https://router.vuejs.org/guide/essentials/history-mode.html
Hope it's helpful.

[2019-06-21 07:16] dekm commented on #3268
I'm also receiving this error as well. It just started happening after trying to add ab amplify API, function, and storage. Is there something wrong on the AWS end as I rolled back my app to a 6 day old commit and still receiving the exact same errors?

I removed everything except Analytics and now can no longer record an event without the app blowing up. This also happened in a live beta of our a

[2019-06-21 08:23] souuu commented on #515
We still don't have this on the stable version ?

[2019-06-21 08:52] The-Edge-Malaysia commented on #3495
comments below:

this does not cover federatedSignIn, I found one pending review branch from @OrozcoJonathan on Vue, and extracted the relevant part, i.e. google sign in button, and it works, unfortunately without adding signed in users to user pool as per your documentation.

Theres no reference to Vue, I did follow the steps, i.e.

amplify init
amplify add auth
Default configuration with Social

[2019-06-21 09:51] johnhamelink commented on #3506
We're also experiencing this - we're using amplify as the basis for a nodejs SDK we're building, and upgrading from 1.1.27 to 1.1.29 produces this error for this. To add insult to injury, there's no changelog to be found, so it wasn't clear what caused this without looking into the codebase!

- **Please do:** use semantic versioning properly so that we can upgrade this package in confidence - this

[2019-06-21 12:19] antonsamper commented on #488
This is still a valid issue. @manueliglesias how is this progressing??

[2019-06-21 12:34] RickCraig opened #3508 "Maximum policy size of 10240 bytes exceeded for role"
**Describe the bug**
I am getting the following error when trying to push:
[code]
I have manually added permissions to allow me access to the VPC that has my Aurora Serverless database on it as follows (VpcConfig & ec2 actions) everything else is generated by amplify:

[code]

I currently have 21 functions on the go, 12 of which have these permissions added. I can get away with ~13 functions befor

[2019-06-21 12:55] ottokruse commented on #3501
I figured out what it is. I was using an approach where I set auth cookies server side. I based that implementation on amazon-cognito-auth-js. But Amplify also needs another cookie to be set: 'amplify-signin-with-hostedUI'. After setting that to true, Auth.signOut() works again as expected.

[2019-06-21 12:55] #3501 closed

[2019-06-21 12:56] dementiev opened #3509 "Map userPool user to identityPool identity in cognito hosted UI (several identities are created)"
** Which Category is your question related to? **
Cognito Hosted UI

** What AWS Services are you utilizing? **
Cognito Hosted UI + facebook/google authorization + identity pool

** Provide additional details e.g. code snippets **
I use Cognito hosted UI together with google/fb authorization. After user has registered, post-confirmation lambda adds user to a cognito Group (access rights) and creat

[2019-06-21 13:06] Magneticoz commented on #3505
@christiankaindl, I just had the same problem.
I've solved it on the way that I've separated configuration in my main.ts file.

So, instead of:
`import Amplify from '@aws-amplify/core'

Amplify.configure({
  Auth: {
    region: REGION,
    userPoolId: USER_POOL,
    identityPoolId: IDENTITY_POOL,
    userPoolWebClientId: USER_POOL_CLIENT
  },
  API: {
    endpoints: [
      {
        region: REGIO

[2019-06-21 13:27] loganwedwards commented on #3399
@iamdavidmartin I put the polyfill in and am getting a different error than before:
`Exception+processing+authorization+code`. In fact this error is propagated from the original code callback:

[code]

Other Hub events that I have logged are:
`The OAuth response flow failed` and `A failure occurred when returning to the Cognito Hosted UI`

[2019-06-21 14:21] loganwedwards commented on #3183
@mkrn @schellack I can confirm that updating the code with the polyfill and deleting the global results in the same `Can't find variable: URLSearchParams`. Is there a 3rd party we could use to polyfill with the same api that was previously used?

[2019-06-21 14:51] RickCraig commented on #3508
Update: So this isn't related to the new permissions I added, but more the amount of functions I have. To temporarily fix it i've merged 12 of the functions in to one big one (they were all linked to one API gateway anyway).

[2019-06-21 14:59] sammartinez commented on #3508
@RickCraig Which Amplify services are you using with this? This does seem to be specific to Amplify

[2019-06-21 15:20] RickCraig commented on #3508
Hi Sam,

This specific issue turned up when I added a bunch more lambda functions. From what I can gather, the policies are all merged together under one auth role, and this is why the policy limit is being reached. Each lambda function was generated by Amplify and I only added permission to my default VPC.

I've solved mine by merging a bunch of functions in to one (which isn't a perfect solution

[2019-06-21 15:33] patrickcze commented on #3486
Also having the same issue on a node app we are running on server only. Using the current unstable branch `1.1.30-unstable.0` is causing the following error which still seems related.

[code]

[2019-06-21 15:59] mlabieniec commented on #3506
amplify-js is specifically a client / mobile / web library and does not have official support for node.js. For the iframe issue, we are aware of an issue/bug in analytics that should fix this in: https://www.npmjs.com/package/@aws-amplify/analytics/v/1.2.18-unstable.0

@svenkatesh-nyros can you give this version a try and see if this fixes your issue. We will review this and make sure we add this

[2019-06-21 16:22] johnhamelink commented on #3506
@mlabieniec we ended up stripping out all of amplify and replacing it with *just* `@aws-amplify/auth` - we're only using amplify to gain Cognito user credentials we can use to access other AWS products with.

[2019-06-21 16:39] #3448 closed

[2019-06-21 17:16] dementiev commented on #1753
What if I need to execute AWS.config.credentials.clearCachedId() and make linked logins with AWS.CognitoIdentityCredentials. I didn't find this function in Amplify.

[2019-06-21 17:53] iamdavidmartin commented on #3399
@LoganArnett Ok, so since we're both getting it, `invalid_grant`seems to be an Amplify error.

I suppose I'm just going to have to wait for Amplify to get these problems fixed. Fortunately my project isn't shipping for a couple of months.

[2019-06-21 17:55] iamdavidmartin commented on #3210
@EmanH I also had to use Expo to get the events to fire. The bare-bones projects didn't fire events and I have no idea what the difference is. The events do fire with the [ignite-bowser boilerplate](https://github.com/infinitered/ignite-bowser) so if you don't want Expo, that's an option. Unfortunately that also puts you on an old version of react & react native which is why I'm using Expo now.

[2019-06-21 19:29] sammartinez commented on #1824
Im going to mark this as an enhancement/feature-request so we can add more documentation and examples regarding this.

[2019-06-21 19:40] sammartinez commented on #2125
Closing this issue as it seems the above conversation concludes the limitations of using user attributes when using Cognito. If you were looking for a feature request this may be something appropriate to write a [aws forums](https://forums.aws.amazon.com/tags/cognito) response to Cognito asknig for this.

[2019-06-21 19:40] #2125 closed

[2019-06-21 19:48] n4development commented on #1571
make sure` aws-exports.js` at the same level as App.js

[2019-06-21 19:51] sammartinez commented on #2206
Closing this issue as @manueliglesias followed up with the customer above. As for the Cognito related feature request, please go to Cognito's [AWS Forums](https://forums.aws.amazon.com/tags/cognito) to request feature requests to the Cognito Service team

[2019-06-21 19:51] #2206 closed

[2019-06-21 19:57] sammartinez commented on #2219
@pribadi1st Im marking this as a feature request as we dont currently support Baidu in React Native

[2019-06-21 20:03] sammartinez commented on #2383
Im going to close this issue, this seems to be related specifically to Cognito Hosted UI and not Amplify specifically. However, this is a feature request so please open a [AWS Forums](https://forums.aws.amazon.com/tags/cognito) ticket on Cognito for this feature request

[2019-06-21 20:03] #2383 closed

[2019-06-21 20:16] sammartinez commented on #2417
@MatteoGioioso Please provide a snippet of your code so we can dive deeper into this. Thanks!

[2019-06-21 21:11] powerful23 commented on #3504
@nicksmithr the `aws-sdk/clients/personalizeevents` exists in the `aws-sdk` version `2.474.0` and when you install amplify, it will install that version for you. Please check your `package.json` and `node_modules` to make sure no other versions of `aws-sdk` exist. It would help a lot if you can paste the `dependencies`  and `devdependencies` of your `package.json` here.

[2019-06-21 21:13] Defwentz commented on #896
In case anyone is interested, my problem is resolved by using Auth.currentUserCredentials instead of Auth.currentCredentials for AWSAppSyncClient's credential setup.

For some reason the credentials I get through Auth.currentCredentials is not being refreshed.

[2019-06-21 21:22] nicksmithr commented on #3504
Hi @powerful23 , I removed another duplicate of `aws-sdk` and the error persisted.
It seemed to be caused by the fact I was doing:

`import Amplify from "amplify";`
Instead of:
`import Amplify from "@aws-amplify/core";`

[2019-06-21 21:22] #3504 closed

[2019-06-21 21:30] haverchuck commented on #3020
@tbehunin Cognito does not support this functionality at the moment.  If needed, I would suggest posting a feature request in AWS forum's Cognito board.  I'm closing this issue for now, but if we've misunderstood this question please feel free to open another with clarification.  Thanks.

[2019-06-21 21:30] #3020 closed

[2019-06-21 21:39] #3439 closed

[2019-06-21 21:52] LeeIakokka commented on #3224
Hi everyone, I just wonder, if I understand the Cross-site scripting (XSS) right, that means running a javascript file, as if it originated from original website. In that case what prevents the intruder from just running Auth.currentSession().then(session => {var idToken = session.idToken.jwtToken}) in that file? Amplify is configured and init at browser as per official doc. So what's the point of

[2019-06-21 22:08] mkrn commented on #3410
Thanks, @loganwedwards
As for custom domain that's a great suggestion!

As for the second part of my issue, I think that even though Expo web browser shares cookies with system browser, not all users are logged in to Facebook in the browser, but most are in the Facebook app.

I will explore integrating Amplify iOS SDK with FB SDK since I already have swift parts as well in the app.

[2019-06-21 22:31] sammartinez commented on #3499
@yukitaka13-1110 Apologize for not explaining it further but really the steps below would be how I (myself) would go about upgrading when using yarn.

This removes any node module issues that may still be living in the lock file.
`
 rm -rf node_modules yarn.lock
`
Installing dependencies will, which in turn adds the latest versions.
`
yarn
`

However, to your point, we don't currently have typing

[2019-06-22 04:09] uchar commented on #681
@dinamic How did you fix it ?

[2019-06-22 05:59] uchar opened #3515 "Add user to UserPool not IdentityPool after using Auth.federateSignIn"
**Which Category is your question related to?**
Amplify,Authentication

**What AWS Services are you utilizing?**
Cognito

**Provide additional details e.g. code snippets**
I'm using RN-google-sign-in plugin in react native, after login I pass it's token to `Auth.federateSignIn `

It works find and login finish successfully but the problem is the user does not show up in Cognito user pool and it se

[2019-06-22 06:16] uchar commented on #3495
Well one of the problem is comments like yours, for every issue, someone just throws this link https://aws-amplify.github.io/docs/js/authentication#social-provider-setup and close the issue.
look at [this](https://github.com/aws-amplify/amplify-js/issues/1316) and [this](https://github.com/aws-amplify/amplify-js/issues/1521) and many other issues
Well If that link helps and is clear nobody asks he

[2019-06-22 06:49] The-Edge-Malaysia commented on #3495
I have tested the following scenarios

1. Auth with google, then pass the Auth result to federatedSignIn, which
amplify documentation mentioned somewhere that user wont be created. But
this works for me partly since currentAutenticatedUser not working, but I
still can check whether user is authenticated, and get user email from
google.

2. Auth via amplify using federatedsignin({ provider: ‘Google

[2019-06-22 08:19] oliverandersencox commented on #681
@uchar if this helps I managed to get Facebook login working by using the Facebook Ionic plugin which deals with the OAuth process and returns the token, much like the Ionic Google Auth plugin.

`public async loginWithFacebook(): Promise<any> {

    const res = await this.amplify.auth().federatedSignIn();
    return;
    const permissions = ['public_profile', 'email'];

    try {
      const respo

[2019-06-22 09:07] YangMann opened #5127 "'redirect_mismatch' error with hosted UI"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
Auth / Hosted UI

** What AWS Services are you utilizing? **
Cognito, Amplify Console

** Provide additional details e.g. code snippets **
Hi,

My auth work flow worked fine with the hosted UI when I was only using http://localhost:3000/ as the sign

[2019-06-22 09:12] meetrij opened #3516 "Amplify angular API.service file generation issue"
**Describe the bug**
I am using angular/amplify/appsync for my project and in that there are several table with multiple and nested connection having nested level more than 2

The issue is that I can't see nested field elements in every 'listing' query of file 'API.service.ts' but it is seen for every 'get' query for the following types

Note: issue higlighted within dotted lines and right arrows

[2019-06-22 12:29] #3228 closed

[2019-06-22 12:29] #2607 closed

[2019-06-22 12:29] #3175 closed

[2019-06-22 12:29] #3153 closed

[2019-06-22 12:30] #2725 closed

[2019-06-22 12:30] #1556 closed

[2019-06-22 12:30] #3189 closed

[2019-06-22 12:30] #3225 closed

[2019-06-22 12:30] #3273 closed

[2019-06-22 12:30] #3276 closed

[2019-06-22 12:30] #3080 closed

[2019-06-22 12:30] #3215 closed

[2019-06-22 12:30] #3118 closed

[2019-06-22 12:30] #3238 closed

[2019-06-22 12:30] #3283 closed

[2019-06-22 13:29] #3144 closed

[2019-06-22 13:29] #2087 closed

[2019-06-22 13:29] #3146 closed

[2019-06-22 13:29] #974 closed

[2019-06-22 13:29] #1159 closed

[2019-06-22 13:29] #2652 closed

[2019-06-22 13:29] #1831 closed

[2019-06-22 13:29] #3129 closed

[2019-06-22 13:29] #2614 closed

[2019-06-22 13:29] #3213 closed

[2019-06-22 13:29] #404 closed

[2019-06-22 14:29] #3128 closed

[2019-06-22 14:29] #3140 closed

[2019-06-22 14:29] #2908 closed

[2019-06-22 14:29] #3011 closed

[2019-06-22 14:29] #3150 closed

[2019-06-22 14:29] #2713 closed

[2019-06-22 14:29] #3138 closed

[2019-06-22 14:29] #3126 closed

[2019-06-22 14:29] #3149 closed

[2019-06-22 14:29] #3160 closed

[2019-06-22 14:29] #2752 closed

[2019-06-22 14:29] #2879 closed

[2019-06-22 14:29] #1308 closed

[2019-06-22 14:29] #3086 closed

[2019-06-22 14:29] #2769 closed

[2019-06-22 14:29] #2764 closed

[2019-06-22 14:29] #3100 closed

[2019-06-22 15:29] #2996 closed

[2019-06-22 15:29] #3061 closed

[2019-06-22 15:29] #1415 closed

[2019-06-22 15:29] #1727 closed

[2019-06-22 15:29] #2328 closed

[2019-06-22 15:29] #3095 closed

[2019-06-22 15:29] #2086 closed

[2019-06-22 15:29] #3096 closed

[2019-06-22 15:29] #2575 closed

[2019-06-22 15:29] #3115 closed

[2019-06-22 15:29] #3120 closed

[2019-06-22 15:29] #2962 closed

[2019-06-22 15:29] #3132 closed

[2019-06-22 15:29] #2941 closed

[2019-06-22 16:29] #2457 closed

[2019-06-22 16:29] #2682 closed

[2019-06-22 16:29] #1182 closed

[2019-06-22 16:29] #2945 closed

[2019-06-22 16:29] #2605 closed

[2019-06-22 16:29] #2940 closed

[2019-06-22 16:29] #2736 closed

[2019-06-22 16:29] #3040 closed

[2019-06-22 16:29] #3035 closed

[2019-06-22 16:29] #3034 closed

[2019-06-22 16:29] #3290 closed

[2019-06-22 17:12] ajhool commented on #3506
Amplify has repeatedly said that there is no official support for nodejs, but that amplify _is moving towards supporting node.js officially_. The Amplify team has repeatedly said that Amplify is moving towards SSR support (or, at least, not breaking on the server -- even if it doesn't actually render on the server). Many of us are using limited versions of Amplify on the server and are aware that

[2019-06-22 17:29] #2668 closed

[2019-06-22 17:29] #2513 closed

[2019-06-22 17:29] #2728 closed

[2019-06-22 17:29] #1480 closed

[2019-06-22 17:29] #2902 closed

[2019-06-22 17:29] #2875 closed

[2019-06-22 17:29] #2653 closed

[2019-06-22 17:29] #2391 closed

[2019-06-22 17:29] #2911 closed

[2019-06-22 17:29] #1962 closed

[2019-06-22 17:29] #2414 closed

[2019-06-22 17:29] #2932 closed

[2019-06-22 17:29] #804 closed

[2019-06-22 17:29] #2496 closed

[2019-06-22 18:18] MarcDAFrame commented on #2190
Hi, where does this stand? is there a way to limit the total storage a single user can upload?

[2019-06-22 18:28] blazinaj opened #3517 "Integrating an automated test runner into the Amplify Build process."
**Is your feature request related to a problem? Please describe.**
I would like to run my automated jest tests as part of the Amplify Console build process.

**Describe the solution you'd like**
A phase in the Build Settings like:
[code]

**Describe alternatives you've considered**
Coupling Amplify Console with TravisCI or similar, but since I don't need the Build features from Travis CI, seems li

[2019-06-22 18:29] #730 closed

[2019-06-22 18:29] #2148 closed

[2019-06-22 18:29] #2207 closed

[2019-06-22 18:29] #2836 closed

[2019-06-22 18:29] #2778 closed

[2019-06-22 18:29] #2479 closed

[2019-06-22 18:29] #1690 closed

[2019-06-22 18:29] #2151 closed

[2019-06-22 18:29] #2851 closed

[2019-06-22 18:29] #815 closed

[2019-06-22 18:29] #1377 closed

[2019-06-22 18:29] #1683 closed

[2019-06-22 18:29] #333 closed

[2019-06-22 18:29] #1420 closed

[2019-06-22 18:29] #2081 closed

[2019-06-22 18:29] #2810 closed

[2019-06-22 18:29] #783 closed

[2019-06-22 18:29] #2711 closed

[2019-06-22 19:29] #2247 closed

[2019-06-22 19:29] #2257 closed

[2019-06-22 19:29] #2371 closed

[2019-06-22 19:29] #2431 closed

[2019-06-22 19:29] #2490 closed

[2019-06-22 19:29] #2447 closed

[2019-06-22 19:29] #2483 closed

[2019-06-22 19:29] #2476 closed

[2019-06-22 19:29] #1991 closed

[2019-06-22 19:29] #2092 closed

[2019-06-22 19:29] #2199 closed

[2019-06-22 19:29] #1853 closed

[2019-06-22 19:29] #1975 closed

[2019-06-22 19:29] #1988 closed

[2019-06-22 19:29] #1541 closed

[2019-06-22 19:29] #1545 closed

[2019-06-22 19:29] #2763 closed

[2019-06-22 19:29] #2464 closed

[2019-06-22 20:29] #1848 closed

[2019-06-22 20:29] #2528 closed

[2019-06-22 20:29] #2700 closed

[2019-06-22 20:29] #2675 closed

[2019-06-22 20:29] #2685 closed

[2019-06-22 20:29] #2329 closed

[2019-06-22 20:29] #2517 closed

[2019-06-22 20:29] #2524 closed

[2019-06-22 20:29] #2723 closed

[2019-06-22 20:29] #2683 closed

[2019-06-22 20:29] #2786 closed

[2019-06-22 20:29] #2530 closed

[2019-06-22 20:29] #2538 closed

[2019-06-22 20:29] #2608 closed

[2019-06-22 20:29] #2611 closed

[2019-06-22 20:29] #2654 closed

[2019-06-22 20:29] #2664 closed

[2019-06-22 20:29] #2658 closed

[2019-06-22 20:29] #2621 closed

[2019-06-22 20:29] #2308 closed

[2019-06-22 20:41] jeffxor opened #3518 "Auth Using withAuthenticator HOC"
** Which Category is your question related to? **
Auth Using withAuthenticator HOC
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **

I have followed the basic setup with Google Sign Up following the Amplify documentation.

Adding `amplify add auth` everything seems correct and works when using the url provided at the end of the auth set up. It

[2019-06-22 21:29] #1448 closed

[2019-06-22 21:29] #2553 closed

[2019-06-22 21:29] #2058 closed

[2019-06-22 21:29] #156 closed

[2019-06-22 21:29] #2601 closed

[2019-06-22 21:29] #2506 closed

[2019-06-22 21:29] #2592 closed

[2019-06-22 21:29] #2519 closed

[2019-06-22 21:29] #2427 closed

[2019-06-22 21:29] #2663 closed

[2019-06-22 21:29] #2667 closed

[2019-06-22 21:29] #2695 closed

[2019-06-22 22:29] #2214 closed

[2019-06-22 22:29] #2260 closed

[2019-06-22 22:29] #2164 closed

[2019-06-22 22:29] #2278 closed

[2019-06-22 22:29] #2341 closed

[2019-06-22 22:29] #2370 closed

[2019-06-22 22:29] #1462 closed

[2019-06-22 22:29] #2384 closed

[2019-06-22 22:29] #2395 closed

[2019-06-22 22:29] #2429 closed

[2019-06-22 22:29] #1011 closed

[2019-06-22 22:29] #2435 closed

[2019-06-22 22:29] #2516 closed

[2019-06-22 23:28] #1860 closed

[2019-06-22 23:28] #1879 closed

[2019-06-22 23:28] #993 closed

[2019-06-22 23:28] #2134 closed

[2019-06-22 23:29] #2032 closed

[2019-06-22 23:29] #2248 closed

[2019-06-23 00:28] #1407 closed

[2019-06-23 00:28] #1481 closed

[2019-06-23 02:29] ricky-sb commented on #3283
@sammartinez any update? Same issue here

[2019-06-23 02:32] ricky-sb commented on #2702
@isocra when you say

What does that mean exactly? What does the config look like in terms of access roles and that kind of stuff?

I tried setting up an identity pool and including it in the config, but `currentSession()` still failed

[2019-06-23 02:35] #554 closed

[2019-06-23 02:35] #668 closed

[2019-06-23 02:35] #716 closed

[2019-06-23 04:24] deadcoder0904 commented on #2207
Bad bot

[2019-06-23 06:25] meetrij commented on #3516
Similar kind of issue, I have a following types
[code]
From the above type I am connecting to below mentioned type
[code]
But in 'API.service.ts' for ListVarietyRegs function I didn't get all the connection types of 'regResult'
[code]

[2019-06-23 10:24] christiankaindl commented on #3505
Thanks for your help @Magneticoz , really appreachiate it.

If I take your approach, then all modules seem to get configured but I get a 403 with response message "Missing Authentication Token" when calling `API.post()` (the call never reaches the Lambda function). Amplify logs a `TypeError: "this._storage is undefined"` error.
Here's the log output for `API.post`:

![Screenshot from 2019-06-23 12

[2019-06-23 10:25] rawadrifai commented on #563
@MikaelStenstrand life saver!

[2019-06-23 16:35] #3300 closed

[2019-06-23 20:36] The-Edge-Malaysia commented on #3495
Hi!

Took me a while to dig and found this

https://github.com/aws-amplify/amplify-js/issues/1386

Am not sure will this help but definitely I will try later today

On Sat, 22 Jun 2019 at 2:49 PM, CY CHIA <chinyau.chia@bizedge.com> wrote:

[2019-06-23 21:00] cliffordh opened #3519 "No longer getting Facebook picture attribute"
**Describe the bug**
A couple of weeks ago I was definitely getting Facebook picture urls when using federatedSignin. However, I am no longer getting these pictures

**To Reproduce**
Use
      this.$Amplify.Auth.federatedSignIn({ provider: "Facebook" });
With attribute mapping in user pool for Facebook, picture -> picture.

**Expected behavior**
Receive URL of user profile picture.

[2019-06-23 21:36] 1pocketaces1 commented on #1759
I fixed this issue a while back and had no issues for a bit, but recently had the warning start popping up again. From reading this thread it seems like the issue was fixed where the warning only showed if the event logging failed, but it seems like my events are being logged correctly in Pinpoint.
Here is my IAM policy please let me know if there are any mistakes or if I can ignore the warning:
<

[2019-06-24 00:51] MatteoGioioso commented on #2417
@sammartinez Sorry, what code snippet? This is a question.

I will try to explain it better.
From you docs:
[code]

Is it possible to not receive the verification code?
Implementation would be something like that

[code]

Thanks

[2019-06-24 01:11] #3483 closed

[2019-06-24 05:09] Magneticoz commented on #3505
@christiankaindl, can you share your code for it? Both the configuration setup and the import to the certain component?

[2019-06-24 06:31] uchar opened #3520 "react native not authenticated after return from hosted ui"
**Which Category is your question related to?**
Authentication

**What AWS Services are you utilizing?**
Amplify,Cognito

**Provide additional details e.g. code snippets**
I'm using `Auth.federatedSignIn({provider: 'Google'});` in my `react-native `application .
After redirecting back from google what should I do with the code that it returns ?!

[code]

[2019-06-24 06:37] uchar commented on #3518
It seems that your code is using the identity pool, not UserPool which is a different thing

[2019-06-24 07:22] adnan333bd commented on #3484
we are not using analytics, but updating all imports like the following [no aws-amplify] solved the issue ..
import Amplify from '@aws-amplify/core';
import Auth from '@aws-amplify/auth';
import { Hub } from '@aws-amplify/core';

[2019-06-24 07:27] rawadrifai opened #3521 "I get Unauthorized and the data back I'm requesting in the error data"
**Describe the bug**
I have a dynamo database and a graphql api generated using amplify.
For user sign ups, I insert a new user in the database using a lambda trigger in cognito.
When I try to retrieve the user record after I've signed in, it returns the data and gives me unauthorized at the same time. The data is returned in the error message.

**To Reproduce**
1. Insert a record in the dynamo fr

[2019-06-24 07:43] The-Edge-Malaysia commented on #3495
I have tried #1386 adopted to Vue but not working for me

[2019-06-24 10:14] alastair-todd opened #3522 "Force reset password allows current password when resetting"
** Which Category is your question related to? **

Forcing a user to reset their password

** What AWS Services are you utilizing? **

Amplify Auth

** Provide additional details e.g. code snippets **

When we force a password reset through the cognito console or auth lambda, the documentation says this calls `admin-reset-user-password` "which should use the forgot password flow"

This flow allows

[2019-06-24 11:42] mjmaix commented on #2603
@lorensr worked for me.

[2019-06-24 11:50] dylan-westbury commented on #329
Something similar with configuring API, you can specify an array of endpoints. Array of buckets could be nice

[2019-06-24 12:13] dmongit commented on #3100
This is still a bug, automatically closed by a bot or not.

[2019-06-24 12:18] Can-Sahin commented on #54
It literally costed me half a day to realize it isn't doable.

I cannot express how misleading `${cognito-identity.amazonaws.com:sub}` is. Took me half a day to find out it isn't Cognito Pool's user sub, since it is the last thing I debugged.

Bridge between User Pool user attributes is a must I'd say.

Sad to see that the issue is from **2 years ago**!!!

[2019-06-24 17:35] #3420 closed

[2019-06-24 17:52] powerful23 commented on #3521
@rawadrifai Hi, can you provide more details about this issue? Like the code snippets about how you are using Amplify and the error message returned by Graphql. From your description you are using `AWS Appsync` right?

[2019-06-24 18:01] powerful23 commented on #3520
@uchar when using the Hosted UI and get redirected back, you need to listen on the auth event `signIn`. The `signIn` event will be triggered when your app gets the tokens back from the Cognito Service. Please check the doc here: https://aws-amplify.github.io/docs/js/authentication#oauth-and-hosted-ui

If there is any error happened during that process, the `signIn_failure` should be triggered so y

[2019-06-24 18:10] powerful23 commented on #3519
@cliffordh Hi, did you change anything in your app client settings like the `scopes`? Is this issue happening after you upgraded the amplify version?

[2019-06-24 19:04] cliffordh commented on #3519
I'm pretty certain this was working a couple of weeks ago. I confirmed I have attribute mapping specified, for Facebook that is "cover"->"picture". The picture does come through when logging in with Google. The scope hasn't changed, in fact when I get the FB permissions screen it says the picture will be shared... it seems more of a backend issue than front end.

[2019-06-24 20:24] ferdingler opened #3524 "Ability for `Logger` to ship logs to CloudWatch Logs"
**Is your feature request related to a problem? Please describe.**
As a developer, I would like for Amplify to support log shipping to CloudWatch logs via the use of [Logger](https://aws-amplify.github.io/docs/js/logger). So I can send certain logs (like errors or stack traces) to my AWS account for future analysis.

**Describe the solution you'd like**
This feature would leverage the Cognito inte

[2019-06-24 21:16] kevinsperrine commented on #2014
This isn't stale. FWIW, I've tried globally setting this via `AWS.config.update({ correctClockSkew: true });`, but that still fails with both Pinpoint updateEndpoint requests and GraphQL requests via appsync.

[2019-06-24 21:30] uchar commented on #3520
@powerful23  Thanks It seems that there was a problem in my manifest.xml file which causes amplify to fail.
the AndroidManifest.xml should be something like this :

[code]

[2019-06-24 21:30] #3520 closed

[2019-06-24 21:45] uchar opened #3526 "Login with google for the second time : email Attribute cannot be updated"
**Describe the bug**
I have the same problem as this [#issue](https://github.com/aws/amazon-cognito-auth-js/issues/159). If you make a user pool with required email field then the second google login attempt fails.
changing required fields after creating UserPool is not possible and deleting the UserPool and making a new one doesn't look like a good solution to me because by doing it I will lose a

[2019-06-24 23:35] #3326 closed

[2019-06-24 23:35] #239 closed

[2019-06-25 00:02] Flora140 commented on #2692
+1 request to ` fix AMQJS0004E Ping timed out `. Also experiencing the same issue.

[2019-06-25 00:09] Flora140 commented on #2007
+1 Request

Would really appreciate this change

[2019-06-25 01:18] jayair commented on #2014
Yeah this needs to be addressed.

[2019-06-25 05:02] rawadrifai commented on #3521
@powerful23 I fixed this by deleting my whole amplify project and redeploying everything. Luckily I'm still in dev. I think there might have some drift between what I had in my amplify couldformation templates and the actual configs in Cognito potentially. Still odd that it returned the data in the error message.