[2020-07-30 15:20] filburt-turle commented on #6438
@ashika01 I was not able to get PingFed working w/Amplify Hosted UI. I had to separately authenticate outside of the Amplify framework and just pass in a JWT token into configuration -- seems like Amplify is pretty limited when you use anything other than the three they have listed in the CLI.

Thanks for you help, I was able to get to some resolution for the time being.

[2020-07-30 15:26] MDangleben commented on #1583
Seconding the request to elaborate on this method.

[2020-07-30 15:43] atyshka commented on #5775
Any suggestions on how to achieve centering using the authenticator vue component?

[2020-07-30 16:13] txnico commented on #6390
Hi @ashika01 - same behavior unfortunately after clearing out node_modules, package lock files and updating imports.

[2020-07-30 16:19] dabit3 commented on #5775
@atyshka I can try to put together an example, but essentially you'd do something like this where you're managing the component state to show / hide the authenticator and using the css `amplify-authenticator` css to manage the styling:

https://docs.amplify.aws/ui/auth/authenticator/q/framework/react#managing-user-state-and-layout

[2020-07-30 17:04] atyshka commented on #5775
Thanks!

[2020-07-30 17:06] DemogorGod opened #6457 "AuthClass - AuthError: ConfirmSignUp Confirmation code cannot be empty"
I have verified multiple times that the inputs are not empty using console log in many locations, including right before submission. However, when I go to confirm sign up, I receive the following error:
"48:04.107 AuthError - Confirmation code cannot be empty"

**Expected behavior**
I expect the confirmSignUp to work, and be able to navigate to the sign in view.

**Screenshots**
![image](https://u

[2020-07-30 17:15] ashika01 commented on #6457
@DemogorGod - I think your problem might not be related to amplify. Couple of things, that could help you
- Try changing `onChange` to `onInput` I think that is what is causing the weirdness.
- we have our own ui components, you can either make use of it or can see the source code to help to unblock.

Let us know how it goes.

[2020-07-30 17:23] DemogorGod commented on #6457
I just figured it out the problem was due to the way i am inputting my username and code.
![image](https://user-images.githubusercontent.com/63758598/88954105-dc6fcb80-d267-11ea-80f1-bf7640d475c8.png)

[2020-07-30 17:30] cedricgrothues commented on #6404
@nathander  – Quick update: you're right, the audio buffer is formatted incorrectly, but that's an issue with the coming data stream from the `react-native-microphone-stream` library. I'm looking into finding a fix for this issue and updating the documentation to avoid any further confusion.

[2020-07-30 18:29] ashika01 commented on #6390
@txnico - I think this maybe related https://github.com/aws-amplify/amplify-js/issues/5971

There is some explanation there. which region are you trying this from?

[2020-07-30 18:32] ashika01 commented on #6457
Cool 👍 I will go ahead and close this issue. Feel free to ping if you still have some prob, I can reopen this issue.

[2020-07-30 18:32] #6457 closed

[2020-07-30 18:40] mauerbac commented on #6394
Answered in this issue https://github.com/aws-amplify/amplify-js/issues/6393

[2020-07-30 18:40] #6394 closed

[2020-07-30 19:07] OukhouyaAyoub opened #6459 "Unable to push any new changes after I sucessfully added custom attribute to cognito userpool"
**Describe the bug**
I first added a custom attribute to my cognito userpool ( in the cloudformation template ) and it was pushed successfully and the custom attribute was implemented.
After that I had to update a function ( custom message function trigger of the cognito userpool ) that I have also in my application, but when I push I get this error :
`UPDATE_FAILED UserPool AWS::Cognito::UserPool

[2020-07-30 19:18] trylas opened #6460 "CognitoUserPool - Client.js - missing http status error code"
It seems to like error codes are missing and methods like signUp (CognitoUserPool) respond errors as per below. Instead of 400 code you get string 'InvalidParameterException'.

{
  code: 'InvalidParameterException',
  name: 'InvalidParameterException',
  message: '1 validation error detected: Value null at \'confirmationCode\' failed to satisfy constraint: Member must not be null'
}

InvalidParame

[2020-07-30 19:53] SumindaD commented on #2089
Any update on this issue?

[2020-07-30 20:10] jordanranz commented on #6115
This should be published to `@latest`. Please open a new issue if you run into any similar problems.

[2020-07-30 20:10] #6115 closed

[2020-07-30 20:36] #6139 closed

[2020-07-30 20:40] ashika01 commented on #6447
cc @ericclemmons

[2020-07-30 20:52] mpiivonen commented on #6439
@amhinson this should be the complete list of dependencies
[code]

[2020-07-30 20:52] #6439 closed

[2020-07-30 21:02] mkpratt opened #6461 "Auth.setupTOTP - Invalid session for the user"
**Describe the bug**
I set up Amplify with Cognito authentication with SMS MFA enabled. I have configured my own UI to provide the credentials and it used to work just fine. However, the SMS text messages suddenly stopped being delivered. I could tell the messages were trying to be sent. CloudWatch had the errors logged and said "Phone is currently unreachable/unavailable." In all the research I'v

[2020-07-30 21:10] tylerjames commented on #6287
Is there any resolution for this?

The obvious use case is that the user creates the account on their iPad using Sign In With Apple and then would want to be able to use SIWA to log in to the account on their Android phone.

From here: https://stackoverflow.com/questions/62382400/cognito-identity-pool-integrate-apple-provider-with-app-and-web

It seems like the only way is to have multiple user po

[2020-07-30 21:28] amhinson commented on #6439
@mpiivonen I see you have `crypto-js` in your dependencies. It could be worth investigating your usage and versions of the library, since it is also utilized in `amazon-cognito-identity-js`.

[2020-07-30 21:58] jordanranz commented on #6446
@nonbeing, The FunctionalComponent type is a Stencil specific prop type and at the moment does not support passing a React into it. I have opened a PR (with usage) to using a slot for the logo inside of the Greetings component. Hopefuly this solution works for you!

[2020-07-31 00:14] nathander commented on #6404
Thanks for the update, @cedricgrothues. Is there another package you'd recommend for pulling the microphone stream?

[2020-07-31 05:17] nihp commented on #6393
@evcodes

But I found some related threads in SO refer [here1](https://stackoverflow.com/questions/59536786/aws-login-using-username-password-or-social-login
) [here2](https://stackoverflow.com/questions/46934013/how-to-make-instagram-login-with-aws-cognito-federated-identities)

[code]
https://stackoverflow.com/questions/46934013/how-to-make-instagram-login-with-aws-cognito-federated-identities

[2020-07-31 05:23] nihp commented on #6394
@mauerbac Kindly reopen the ticket #6393. It is related to instagram login.

For facebook, it has support for login. https://docs.amplify.aws/lib/auth/social/q/platform/js#setup-frontend

[2020-07-31 05:58] mpiivonen commented on #6439
@amhinson thank you for pointing that out, will look into this

[2020-07-31 06:07] dingdongping commented on #6244
Can PubSub be used alone without relying on @ AWS amplify / auth

[2020-07-31 06:44] #6183 closed

[2020-07-31 06:44] #6241 closed

[2020-07-31 06:44] #6158 closed

[2020-07-31 07:28] asmiki commented on #1166
How can we send session variables to the interaction message? I need to pass a user id to handle a database call through lambda, but there is no way it can be done. PostText command of Amazon Lex Runtime obviously supports session variables, but that part is omitted from AWSLexProvider.ts https://docs.aws.amazon.com/lex/latest/dg/API_runtime_PostText.html

Any workaround?

[2020-07-31 07:28] svrcekmichal commented on #5435
@ericclemmons I'm using similat setup to what @apoorvmote is using [here](https://github.com/aws-amplify/amplify-js/issues/5435#issuecomment-665389383) with no luck to get user on sever side.

What I noticed is that when I console.log Auth class in browser, there's multiple cognito cookies in UniversalStorage, but when console logged in getServerSideProps, UniversalStorage's store is almost empty,

[2020-07-31 08:01] mpiivonen commented on #6439
To get closure for this issue, it seems there was some validation error with out previous user or user password, after changing or updating these or creating new users everything worked as expected so issue was not caused by crypto-js or any other dependencies

[2020-07-31 10:27] apoorvmote commented on #5435
@ericclemmons
I have bit of off topic suggestion.
If I understand correctly you and others are working on Auth and API for NextJS with Amplify.

If you think about it then CDK and Amplify are very similar. If you and/or others could build CDK templates for using NextJS for Auth and API as you guys work on Amplify then it would be beneficial to lot of people(mainly me  LOL). And you guys could uplo

[2020-07-31 10:33] juranki opened #6462 "Credentials._setCredentialsFromSession generates invalid provider name"
`Credentials._setCredentialsFromSession` generates invalid provider name **when identity and user pools are on different regions**

**To Reproduce:**
1. Have Cognito **user and identity pools in different regions**
2. Log in with amplify-js client
3. Observe the failing `https://cognito-identity.REGION.amazonaws.com/` call
   - Request body has a provider name of form `cognito-idp.eu-west-1.amazon

[2020-07-31 10:54] RobertBrewitz opened #6463 "GraphQL from Lambda - routines:ssl3_get_record:wrong version with reproduction steps"
**Describe the bug**

Calling GraphQL API from a Lambda with IAM authentication.

Calling `<API_REPRODUCE_GRAPHQLAPIENDPOINTOUTPUT>/graphql` raises error:

`GraphQLError: write EPROTO 140083887126400:error:1408F10B:SSL routines:ssl3_get_record:wrong version number:../deps/openssl/openssl/ssl/record/ssl3_record.c:332`

This is true when signing headers with AWS.Signers.V4 and one of the following l

[2020-07-31 12:34] jupitercow commented on #1094
This missing set up/documentation cannot be overstated enough. I lost days dealing with such a simple issue. Why would I add storage and the default would be that I can only putObjects and not get them? Such a simple fix that this thread saved the day for, but I definitely expected Amplify to set up better base policies. I will now expect otherwise, and hopefully that will save time. I like amplif

[2020-07-31 14:12] nonbeing commented on #6446
As long as this actually works, it works for me! :-)
Around when do you think the fix might actually roll out? Thanks. @jordanranz

[2020-07-31 16:01] rpsutton opened #6464 "User Does Not Exist Error Even Though User Exists in User Pool"
**Describe the bug**
The Auth.signIn method now returns a userNotFoundException even though the user exists in the cognito user pool.

I had an existing and fully functioning auth flow working through cognito for my react-native app. However, I, realized that I needed to create and use a new cognito user pool for my app, and delete the old user pool. I achieved this via the amplify-cli. All seemed

[2020-07-31 16:42] PTaylour commented on #5115
I've been having the same issue and @mcringor 's suggestion resolves it for me too.

I was performing a mutation from a lambda.
[code]

I guess Datastore is simply subscribing to `createModel`, `updateModel` etc and expecting that developers will always use the mutations provided by codegen (which return all the fields) /  just know the internals of DataStore?

This should be re-opened / re-create

[2020-07-31 16:43] arnm commented on #6108
Can confirm https://github.com/aws-amplify/amplify-js/issues/6108#issuecomment-647708908

**Does NOT work**:

[code]

[2020-07-31 16:55] asmiki commented on #1166
@danilop were you able to work around this?

[2020-07-31 17:46] atyshka opened #6465 "Request: Support or Documentation for using pubsub with Cognito groups"
**Is your feature request related to a problem? Please describe.**
When integrating sensitive IoT data into my web app, I don't want any user of the app to be able to access it, I would like to restrict access using cognito groups. How can I achieve this? I have current tried adding an all-wildcard policy on the group, but this isn't working. Attempting to subscribe leads to an error code 8: socke

[2020-07-31 18:21] mauerbac commented on #6393
Updated @nihp

[2020-07-31 18:23] mauerbac commented on #6394
Done

[2020-07-31 19:25] ashika01 commented on #6465
@atyshka Have you tried looking into [AppSync service](https://docs.aws.amazon.com/appsync/latest/devguide/welcome.html)? They handle a lot the use cases you are trying to solve. You can use [amplify to interact with the appsync service.](https://docs.amplify.aws/lib/graphqlapi/getting-started/q/platform/js)

[2020-07-31 19:26] #6465 closed

[2020-07-31 19:42] leosoaivan commented on #6444
@pedramp20 might this be what you are looking?

It sounds as though you may be missing the `aws.cognito.signin.user.admin` in your app client settings.

[2020-07-31 19:48] ashika01 commented on #6464
@rpsutton I just tried logging in a react native app. I did not have this issue. Could you post which version of `aws-amplify` you are using ?

[2020-07-31 19:56] rpsutton commented on #6464
@ashika01 Yes, no problem. I am using aws-amplify version 2.3.0. I had no issue with my original user pool. It was only after removing my existing user pool and adding a new one that I encountered this issue.

[2020-07-31 19:58] ashika01 commented on #6464
If you have the users in the backend, signin shouldn't have a problem. I think maybe while recreating the backend something is missed?!

[2020-07-31 20:11] rpsutton commented on #6464
Yea I am very confused for that reason. My users do populate in the backend and yet sign in returns a noUserFoundException.  What may I have missed that would cause such behavior?
![Screen Shot 2020-07-31 at 4 07 31 PM](https://user-images.githubusercontent.com/57606697/89073332-419aee00-d348-11ea-8990-35978c90aa8a.png)
![Simulator Screen Shot - iPhone 11 - 2020-07-31 at 16 10 25](https://user-ima

[2020-07-31 20:56] leosoaivan opened #6466 "Allow Auth.federatedSign() to take custom attributes"
**Is your feature request related to a problem? Please describe.**
I'd like to store a user's sign up location from the app/client (something like `window.location.href`) in my database. With `Auth.signUp()`, I can do this by setting a custom attribute and reading that attribute in a post-Confirmation trigger.

**Describe the solution you'd like**
Allow Auth.federatedSign() to take custom attribut

[2020-07-31 21:10] hheavener-kyd commented on #3732
This is the biggest letdown I've had with AWS. I spent a couple of weeks learning Cognito and building various functions with Amplify to test out how everything works and then come to find out I can't even control the scope of the access token. How can you provide an IDP platform without the ability to define the scopes of the access token? This is complete nonsense and now we're having to investi

[2020-07-31 21:50] zacharywenner opened #6467 "Social Sign In - Facebook App won't go live with recommended Site URL"
**Describe the bug**
I have the social sign in configured and working correctly on my React Native app.

I followed these docs:
https://docs.amplify.aws/lib/auth/social/q/platform/js#amazon-cognito-user-pool-setup

I can login with Facebook, but in development mode only the test users added on Facebook can login, not any facebook user.

However, when I go to facebook to change the app from 'in dev

[2020-07-31 22:01] zacharywenner commented on #6467
Just found these related threads as well:
https://developers.facebook.com/community/threads/278726030042722/
https://developers.facebook.com/community/threads/605080477083441/

[2020-07-31 22:02] ashika01 commented on #6464
@rpsutton Basic question, but still, have you cross verified your `aws-exports` values with cognito in the console?!

[2020-07-31 22:12] ashika01 commented on #6467
@dabit3 @amhinson any thoughts on this?!

[2020-07-31 22:28] amhinson commented on #6467
I haven't seen this before. Perhaps there has been a change on the FB side somewhat recently, since those threads are not very old.

I also came across this similar one:
https://developers.facebook.com/community/threads/287439405705720/

[2020-07-31 22:36] ashika01 commented on #6404
@nathander, the only format transcribe streaming API support as of now is PCM which means the input somehow needs to be formatted that way. There doesn't seem to be any reliable stream, I could find (@cedricgrothues could you comment on this). Mean while I have reached out to AWS Transcribe team for some guidance.

[2020-07-31 22:45] ashika01 commented on #6462
@juranki - this is an old issue on related library - https://github.com/amazon-archives/amazon-cognito-identity-js/issues/50

have you setup everything properly. I think there may be some disconnect.

[2020-07-31 23:35] cedricgrothues commented on #6404
Sorry for the late response, @nathander. While we wait for a response from the AWS Transcribe team, [`react-native-pcm-audio`](https://github.com/clshortfuse/react-native-pcm-audio) might be worth a look (*disclaimer*: I haven't tested the library myself, it only supports android, and was last updated in late 2017, so use with caution).

[2020-08-01 00:37] Dellybro opened #6468 "React Native AWSAppSyncRealTimeProvider Connection Handshake Error"
**Describe the bug**
When attempting to subscribe to a graphql subscription I get an error about the connection handshake

**BUG OCCURS:**
This bug occurs on the @latest version of AWS-Amplify 3.0.22 and aws-amplify-react-native 4.2.3

**BUG DOES NOT OCCUR:**
Upon downgrading to versions 1.1.26 and 2.1.12, i am able to use the subscription without any connection errors

I would like to use the lat

[2020-08-01 02:54] rpsutton commented on #6464
@ashika01 The user pool id, web client id, and region appear to match up. Is there anything in the parameters.json file that I need to check? Here is the output as well.
![Screen Shot 2020-07-31 at 10 52 26 PM](https://user-images.githubusercontent.com/57606697/89092538-b853dd80-d380-11ea-8a87-6a924e9b764b.png)

[2020-08-01 07:39] juranki commented on #6462
@ashika01
I think the referred issue is only relevant in the sense that using user and id pools from different regions is possible. amazon-cognito-identity-js is not part of amplify-js and has not been developed in 3 years.

I think my setup is correct, because everything works when I use a patched version of amplify-js. I'm able to get credentials from an id pool in ireland, using a token issued

[2020-08-01 07:41] JesseRWeigel commented on #6411
Thanks @sawyerh ! I can confirm that this is an issue with react native web as well and that using the named export resolves it.

[2020-08-01 09:01] #6144 closed

[2020-08-01 09:17] wazcov commented on #5851
I can't believe this feature doesn't exist. I've also tried playing about with all the options of the `<AmplifyForgotPassword` component to no avail. We must be able to let users either:

-  reset their password using their email address or
-  allow a forgot username component that takes in an email address

[2020-08-01 13:39] KOSSOKO commented on #3010
Is it possible to develop it just using api provided ?

[2020-08-01 14:51] alexandrefilipiak opened #6469 "Authenticator shows additional social button"
**Describe the bug**
I am trying to use federated buttons with the Authenticator component

I have the google button and facebook that appear correctly.

But the UI adds also another unexpected AWS button :
![social_buttons](https://user-images.githubusercontent.com/65644177/89104043-5601e800-d427-11ea-8e40-570c5ac1036d.png)

**To Reproduce**
Here is the code I'm using :
![image](https://user-imag

[2020-08-01 16:42] ashika01 commented on #6462
I am not following. What’s the patched version? Are you making some changes to amplify-js and using that?! If so, feel free to open a PR and I can work with you to have this merged that. Also, that library that I linked here, is brought inside amplify-js github now and is maintained.

[2020-08-01 19:53] juranki commented on #6462
The patched version is one with this change applied: https://github.com/juranki/amplify-js/commit/29af87c566749002c1f3d0a65c801940f8cd1d83

I'm happy to submit that as a pull request if it's selected as the correct way to fix the problem. But it very narrowly focuses on finding the correct provider name in this specific situation. I'm not familiar with amplify-js codebase so I chose a solution tha

[2020-08-01 20:26] ashika01 commented on #6462
@juranki thank you for the intense research. Okay I got it now. I will look into this and see we can make changes in our end. Thank you 😊

[2020-08-01 21:04] ernestotrujillo commented on #2098
Just wanted to say thank you... this is a hacky thing but definitely worked lml

[2020-08-01 22:02] chai86 commented on #2605
@nir099 Unfortunately that didn't work.

[2020-08-01 23:16] seanbecker15 commented on #6330
I am experiencing the same issue with Google federated sign in.

[2020-08-02 00:08] nouredu commented on #4868
What was the solution @docduo ?

[2020-08-02 01:28] AdamiHamza commented on #987
not stale

[2020-08-02 06:26] juranki commented on #6462
@ashika01 Thank you!!

[2020-08-02 07:08] VicFrolov opened #6471 "Unable to use @searchable with sort param, breaks pagination"
**Describe the bug**
When calling the search query on a @model with @searchable generated from the API, it inaccurately returns an empty array when sorting AND paginating. If I remove the `sort` param, it returns all the values as expected.

**To Reproduce**
If I have the following model

[code]

 the following query

[code]

If I comment out `sort:{ field: count, direction: desc }`, nextToken for

[2020-08-02 14:05] tobiasfeil opened #6472 "Owner field in connected model"
**Describe the solution you'd like**
I would like to be able to specify an owner field that isn't part of the model the auth rule targets, but of a connected one:

[code]
If I want to specify that only the boss of an employee can CRUD the employee's rating, it would be necessary to add
[code]

**Describe alternatives you've considered**
Let any boss CRUD a rating and add a custom resolver that whe

[2020-08-02 15:39] docduo commented on #4868
@nouredu to use Stripe API...

[2020-08-02 16:16] #5011 closed

[2020-08-02 16:51] #6015 closed

[2020-08-02 18:08] kimfucious commented on #987
Not stale...

Allowing a user to change their email address, .esp when their email address is used for sign in, without first confirming the address, seems to me to be a major security flaw.  I could be wrong.

At present, a user, if logged on, can change their email address, using `Auth.updateUserAttributes`, if given the opportunity in the client, after which, there is no control as to whether o

[2020-08-02 19:48] eripoll commented on #6339
@ashika01 Indeed it seems related to the issues you mention.
Thanks for your help!

[2020-08-02 22:23] felixs8696 opened #6473 "Amplify mock UnhandledPromiseRejectionWarning. Unable to stop mock servers."
**Describe the bug**
After I run `amplify mock` in my project I receive a few error messages, then I try to Ctrl-C to stop the mock servers, but I cannot because Ctrl-C throws an error. This is the stack trace

[code]

The only way to stop the servers is to find the PID of the amplify mock command and kill it manually.

**To Reproduce**
1. Create new react app via: https://reactjs.org/docs/create-

[2020-08-03 02:18] pedramp20 opened #6475 "DataStore fails to validate beginsWith predicate with error message TypeError: Cannot read property 'startsWith' of undefined"
**Describe the bug**
When a query performed with "beginsWith" predicate, the following error message is received

util.ts:95 Uncaught (in promise) TypeError: Cannot read property 'startsWith' of undefined
    at validatePredicateField (util.ts:95)
    at util.ts:59
    at Array.every (<anonymous>)
    at validatePredicate (util.ts:54)
    at indexeddb.ts:396
    at Array.filter (<anonymous>)
    a

[2020-08-03 04:28] nocoli commented on #6100
Building an application in which our clients each have their own user pool. Users can add new users to their own user pool. New user gets invitation email with username, password and link to application to login. User then logs in for the first time and is asked to update their password + set given and family names before proceeding through to the application as an authorized user.

Basically from

[2020-08-03 05:18] nihp commented on #6394
Thanks @mauerbac

[2020-08-03 05:20] nihp commented on #6015
It is still an issue

[2020-08-03 09:53] FadiAboMsalam commented on #5903
Same here on "aws-amplify": "^3.0.22",

[2020-08-03 11:40] tobiasfeil commented on #6472
I just found [this](https://docs.amplify.aws/cli/graphql-transformer/directives#field-level-authorization), which effectively makes it possible. Thanks!

[2020-08-03 11:40] #6472 closed

[2020-08-03 12:18] abdielou commented on #6108
@alexandprivate From what I understand, the DataStore only passes `owner` if @auth is enabled.

https://github.com/aws-amplify/amplify-js/blob/3642e6af455ee1848c1cc743a7a503e96baefa41/packages/datastore/src/sync/processors/subscription.ts#L311

 Also, the DataStore generates it's own subscription queries (GQL), thus it will never use custom subscriptions. There's no point in defining custom subscr

[2020-08-03 12:30] batmanwannabe opened #6477 "Federated Sign In example if using amazon-cognito-identity-js only"
We have a old app that uses amazon-cognito-identity-js for authentication, I need to add SSO login to it, I don't want to update to Amplify just for this. Is there any way amazon-cognito-identity-js can achieve this?

I searched online but could not find anything

[2020-08-03 14:28] ashika01 commented on #6464
@rpsutton Could you also check `aws_cognito_identity_pool_id`?! I am not sure why this is happening. my bet is that resource creation on backend is not being pulled to the front end. I would try doing `amplify pull` to refresh everything again. If that doesn't work, ping me and I can move this to CLI team to see if the backend bits are all setup right.

[2020-08-03 14:35] Darapsas opened #6478 "DataStore doesn't initialize"
**Describe the bug**
Currently I am trying to upgrade my aws packages from:
[code]
to:
[code]

When user tries to sign in to the account, the app waits for the 'subscriptionEstablished' event, which never happens, as you can see that last event that I get is outboxStatus and that is it, nothing else happens:

![image](https://user-images.githubusercontent.com/20926795/89193641-f2a2c200-d5ae-11ea-8

[2020-08-03 16:18] amhinson commented on #6318
It looks like this is coming from `paho-mqtt`. From searching their repo, it looks like a [PR](https://github.com/eclipse/paho.mqtt.javascript/pull/191) to fix this issue has been merged a year ago, but there has been no release since then.

[2020-08-03 16:24] karldanninger commented on #6318
Sweet @amhinson! I'll poke to see if @icraggs could tag 1.1.1

[2020-08-03 16:39] nkint opened #6479 "Add slot name to `amplify-toast`"
**Is your feature request related to a problem? Please describe.**
I'd like to add custom style to toast notification. I've seen other issue about this, like #5604 #6167 #2834

**Describe the solution you'd like**
Fully customize toast notification via `slot` as other ui components do.

I think it's matter of few lines in this file: https://github.com/aws-amplify/amplify-js/blob/3642e6af455ee1848c

[2020-08-03 17:19] conary-h commented on #5412
Like @rpostulart said, this fixed it for me.

[2020-08-03 17:29] ashika01 commented on #6479
@nkint If you are open to getting a PR out I can work with you to get it merged in.

[2020-08-03 17:52] harrysolovay commented on #6330
Some thoughts.

It seems you have two redirect signins/signouts, `http://localhost:3000/` and `http://localhost:3001`. Which of these do you have configured in for Cognito vs. the GCP OAuth app? Are they both correct?

I want to confirm that you're calling `Amplify.configure(awsExports)` at the program's root, and that you've imported the `CognitoHostedUIIdentityProvider` enum from `@aws-amplify/a

[2020-08-03 18:55] lentyai2 commented on #5758
This didn't do anything. However, changing the imported immerable in the specified file to upper case did. Like that:
import { Immerable, produce, setAutoFreeze } from 'immer';

[2020-08-03 19:19] dev-elevate-usa commented on #4993
I am having a similiar issue as listed above. As @ngtrhieu  describes, the Alert is displaying Sign In when it is actually using the web browser of the device to call the url for the federated connection. I am not receiving the same error on the actual redirect page, as on my devices it just closes the web browser. Via the Hub, I am able to see that it is interpreting the first action as a "sign i

[2020-08-03 19:57] txnico commented on #6390
@ashika01 - Thanks for the suggestion. The API in question returns plain-text JSON responses and both #5971 and the referred https://github.com/awslabs/aws-serverless-express/issues/99 discuss mime types and compression.

[2020-08-03 19:57] syang commented on #3619
@manueliglesias I wonder if User Pool can provide a mechanism for its user to achieve this. I knew this requires User Pool to send the request to Google with an `offline` parameter.

This basically makes User Pool in the whole solution as a sub-optimal choice. In other words, we want to use User Pool in the solution because of its other features; but the limit of not able to get refresh-token in t

[2020-08-03 23:16] reggiepangilinan commented on #6330
Hey @harrysolovay thanks for the suggestion. Unfortunately it did not work.
I just have one url and basically created a new google account to try and login and I’m still getting the same issue.

Cheers

[2020-08-03 23:21] mfferreira opened #6481 "Account recovery contact verification is broken on aws-amplify-react since 4.1.20"
**Describe the bug**
Account recovery contact verification is broken on `aws-amplify-react` since `4.1.20`.

**To Reproduce**
Steps to reproduce the behavior:

1. Install aws-amplify-react@4.1.20 or aws-amplify-react@4.1.21
2. Have a component wrapped in `withAuthenticator`
3. Login with a freshly created account, and you'll be thrown right into your app component instead of the "Account recovery

[2020-08-03 23:30] hanzhaodeng opened #6482 "Why does DataStore need @connection?"
Given the doc: https://docs.amplify.aws/lib/datastore/data-access/q/platform/js#query-data
`const post = await DataStore.query(Post, "123");
const comments = (await DataStore.query(Comment)).filter(c => c.postID === post.id);`
If we are querying for data in separate queries, why do we still need @connection directive? As I understand it it is for Graphql to pull data in one go, but if we use DataS

[2020-08-04 00:12] seanbecker15 commented on #6330
@harrysolovay I noticed the same console error but it is actually not causing any tangible problems for me other than a duplicate request and console error.

I am running a React project and calling Amplify.configure in App.ts (first child of root).

Let me know if any other details I can provide to help.

[2020-08-04 00:52] aelbokl commented on #329
I am just commenting to keep the bot from killing this thread. This feature is much needed and has many use cases.

[2020-08-04 02:18] rpsutton commented on #6464
@ashika01 It appears the `aws_cognito_identity_pool_id` in the Cognito console matches the` aws-exports` file. I ran amplify pull as well, but the error persists. I am sorry, I am a bit new to some of the lingo. What does "ping you" mean? Thank you for all of your help by the way!

[2020-08-04 02:32] dylan-westbury commented on #4515
Experiencing this issue in IE11 also using `"aws-amplify": "^3.0.19"`

[2020-08-04 03:48] cuongvo commented on #3039
This issue is a significant blocker to customers. A library that's mobile and web centric with its bi-directional communication component not handling reconnects and for this long, after this many issues? Decide as a team / company if you want to support builders who will make actual products or if you want to keep pushing for flashy demos that go nowhere.

---

A workaround I've had to implement

[2020-08-04 04:09] watanagarwal commented on #5783
Hi @sujitsagar
I am also facing the same issue.
Could you please let me know if you found any solution to this

[2020-08-04 04:17] marcos8896 commented on #3413
Any update on this?

[2020-08-04 05:05] ashika01 commented on #6464
@rpsutton By ping me I just meant @ me here. I think some how the front end and backend resource ain't connecting. Let me move this issue to CLI team, they can guide you better.

[2020-08-04 05:41] ashika01 commented on #6469
@alexandrefilipiak I was able to reproduce this. We will work on solving this.

[2020-08-04 05:52] ashika01 commented on #6477
@solomon911 I will try to find if there is some example/sample explaining this. Meanwhile, have you tried taking a look into `packages/auth` for our source code on handling federation flows?!

[2020-08-04 06:12] ashika01 commented on #6475
@pedramp20 I just tried reproducing what you are trying to achieve. And I can not reproduce the issue.

I am using the version - ` @aws-amplify/datastore@2.2.8`

Here are some screenshots,
**Querying without predicate**
<img width="1195" alt="Screen Shot 2020-08-04 at 12 07 56 AM" src="https://user-images.githubusercontent.com/35131273/89259127-dde22080-d5e6-11ea-9b68-9f689b3a19cb.png">

**Queryin

[2020-08-04 06:12] dylan-westbury opened #6485 "mp4 from storage.get not displaying in Microsoft Edge"
**Describe the bug**
A mp4 (with codec AAC, H.264) does not display on Microsoft edge when setting the html5 video source tag or ReactPlayer as the url returned from storage.get(key, options).

If you download the same mp4 file from s3 and display from local project directory it appears fine.

mp4 displays fine on safari, chrome, etc.

**To Reproduce**
Steps to reproduce the behavior:

1. Upload a

[2020-08-04 06:28] ashika01 commented on #6479
@nkint In your case, I think adding `slot` wouldn't ideally fix the problem. Since all the error message for toast comes from within amplify, having a slot would just override that. Rather if styling is what you are after, could you explain your style use case deeper so we could see if we can incorporate that into `css variables`.

[2020-08-04 07:48] ankur-1989 commented on #6031
same issue +1

[2020-08-04 07:51] nkint commented on #6479
Toast notification are really important part of the ui: feedback against user actions. Due to its importance is something really hard to just incorporate in a css variables and override it. Moreover, notifications can go throughout all my application (not only where amplify is involved).

What about using some other library (in #2834 they told about [react-notification-alert](https://www.npmjs.com

[2020-08-04 10:13] patelvarun commented on #6408
Is this issue being considered or is it feature-request?

[2020-08-04 12:52] RadomirPerisic commented on #3776
For me problem was that I had file `rn-cli.config.js` with this content:
[code]
It was added to resolve some other issue with jest loading files from amplify folder.
When I removed the file it started working fine with latest version of aws-amplify. I also switched to using modular packeges @aws-amplify/core and @aws-amplify/auth

[2020-08-04 14:48] VetBoard commented on #3119
+1

[2020-08-04 15:09] sammartinez commented on #6408
@patelvarun Thanks for this feedback, there is a similar feature request open as I have related. We will take this into consideration for our project.

[2020-08-04 15:12] nubpro opened #6488 "DataStore would not attempt to re-establish subscriptions when subscription timeout or handshake error occured"
**Describe the bug**
Subscriptions with PubSub in DataStore can be very fragile and would not re-attempt to re-estalish itself when an internet disconnection happen over a short period of time. Network drops are common and therefore DataStore's subscriptions needs the resilience to recover from such scenario.
After the merge of PR #6366, DataStore would only re-estalish the subscriptions in the ca

[2020-08-04 15:27] nubpro opened #6489 "DataStore should offer interval delta polling as an alternative to real time subscriptions"
**Is your feature request related to a problem? Please describe.**
In our production use case, DataStore subscriptions are giving a handful of issues which aren't easily fixable from our end.
We would like to run the app on top of DataStore 24/7 with minimal downtime, however we would notice that subscriptions would somehow fail and aren't able to recover. Therefore, we are losing a lot of data an

[2020-08-04 16:14] jhw commented on #824
@waldothedeveloper need to set the `Authorization` header when calling API, as part of `Amplify.configire` -

[code]

https://docs.amplify.aws/lib/restapi/authz/q/platform/js#request-headers

[2020-08-04 16:33] ashika01 commented on #6479
@nkint Definitely a great use case I totally don't deny that. I can open up a slot for toast as a presentational component. But wanted to see if you have considered/understood the implication. Since overriding slot would mean you wont get the default ones anymore. I am looking into this. Any feedback on CSS based style improvements? (since not everyone would want to write their own notification co

[2020-08-04 16:59] harrysolovay commented on #6330
@seanbecker15 are you certain it's a duplicate and not just a second request? The OAuth flow involves exchanging the 3rd party tokens for that of AWS, so that you can make direct service calls from the browser. Are the requests identical?

[2020-08-04 17:37] mikeldking commented on #6369
Thanks @sw-yx for opening this. The ergonomics of using typescript is very rough out of the box. Having used apollo before, being able to pass the result and variable types into the generic query function seems like a must.

Not having to pass in the types at all would be amazing!

[2020-08-04 17:54] patelvarun commented on #6408
Thanks for considering this as a feature request.

[2020-08-04 22:04] manuelzea opened #6490 "Cancel dispatched amplify sign out event"
We are trying to implement a way to allow the user of our app to cancel the sign out Auth request in order to not interupt an upload in progress.

We have tried attaching the 'beforeunload' event listener to use the e.preventDefault() to stop the sign out action.

[code]
However, it seems like the sign in/sign out module falls outside of the browser's event and it's not captured in the preventDefa

[2020-08-04 22:31] dylan-westbury commented on #6485
Installing the latest "new edge" (with chromium) it doesn't appear to be an issue.

[2020-08-04 22:31] #6485 closed

[2020-08-04 23:43] hisham commented on #2014
I'm also still seeing this error when clock is let's say 10min wrong, while calls directly to cognito go through fine. I'm going to try @yansokalau's solution.

[2020-08-04 23:56] houmark commented on #2014
I've also done attempts to this on a public REST API endpoint and it still returned errors. Having so many other issues with Amplify, I quickly moved on to something else, as documentation here is really weak and I did not want to enter the rabbit hole of one day of trying stuff out.

Would be great with more examples.

[2020-08-04 23:58] sadooghi opened #6492 "API 403 error on api-rest calls after recent upgrade"
**Describe the bug**
When upgrading from aws-amplify @3.0.17 to @3.0.22 my REST APIs that need authorization all get back 403 errors. This is solved by downgrading api-rest to 1.0.18. I think the errors starts when upgrading from api-rest 1.0.18 to 1.1.0

**To Reproduce**
Using previously created aws-export.js, upgrade from api-rest 1.0.18 to latest api-reset

**Expected behavior**
Should not show

[2020-08-05 00:36] hisham commented on #2014
I'm investigating and I think I know what my issue is. Since this error happens in the API Gateway level (not my express server lambda), my browser fails with a CORS error and the API Gateway response is ignored. DateUtils.isClockSkewError checks the headers to determine if the error is due to clock skew. And so the amplify auto fix clock skew code is not run.

Not sure what the solution is yet. Y

[2020-08-05 00:50] Bulletninja commented on #3224
it would be possible if you implemented auth endpoints using your own lambdas. That would be a great alternative if easily wrapped in libraries. Pretty sure i've seen it implemented using cognito aws sdk/cdk for nextjs (IIRC) somewhere.

[2020-08-05 01:14] hisham commented on #2014
I'm still trying to solve this issue. I do see the response from API Gateway, but it seems to come from Cloudfront and the x-amzn-errortype is InvalidSignatureException while DateUtils.isClockSkewed wants "BadRequestException":

https://github.com/aws-amplify/amplify-js/blob/main/packages/core/src/Util/DateUtils.ts#L52

<img width="268" alt="Elements 2020-08-04 18-56-50" src="https://user-images.g

[2020-08-05 01:19] siegerts commented on #6411
I created a small POC with Vue v3 that failed with the above error. In my case, it looks like the errors may be related to the plugin not being updated for Vue 3.

At a top-level glance:
- https://v3.vuejs.org/guide/plugins.html#using-a-plugin
- https://v3.vuejs.org/guide/migration/global-api.html#config-ignoredelements-is-now-config-iscustomelement

After rolling back to Vue v2.6.11 (below), I wa

[2020-08-05 01:21] hisham commented on #2014
@ericclemmons looking at https://github.com/aws/aws-sdk-js-v3/blob/47770fa493c3405f193069cd18319882529ff484/packages/service-error-classification/src/constants.ts#L8, we have a variety of possible options for clock skew error codes:

[code]

while in https://github.com/aws-amplify/amplify-js/blob/main/packages/core/src/Util/DateUtils.ts#L52 you only check for BadRequestException which does not see

[2020-08-05 02:26] Hillsie commented on #6400
I am using exactly the same work around as @dd-ssc ;
The root cause appears to be the cache naming structure. I am also using amplify cache in my project and  have observed that if I set the cache with value it has the flowing pattern:
`aws-amplify-cache<key>` so when you use `Cache.getItem(<key>)`  the correct key value is retrieved.
however, the federated item entry is as above, with `aws-amplif

[2020-08-05 02:30] Hillsie commented on #6400
Around about this area.
![image](https://user-images.githubusercontent.com/17975287/89365184-72e43700-d717-11ea-9b23-594b8950ca54.png)

[2020-08-05 03:47] dabit3 commented on #6481
Have you tried the newer `@aws-amplify/ui-react` library?

https://docs.amplify.aws/ui/q/framework/react

[2020-08-05 04:58] joekendal commented on #1852
wen eta 🙄😤

[2020-08-05 05:51] pedramp20 opened #6493 "Graphql mutation fails when custom identityClaim is used in the auth directive"
**Describe the bug**
When a custom claim rather than the default cognito username is set in the auth directive, the mutation request fails

**To Reproduce**
1. Define a type like the following type in your schema.graphql
[code]
2. Push changes to amplify and generate models

[code]

3. import the mutation and perform it in your code

[code]
4.  error
[code]

**Expected behavior**
To be able to per

[2020-08-05 06:28] hisham opened #6494 "Clock Drift/Skew code does not handle all skew error scenarios"
**Describe the bug**
See my comments https://github.com/aws-amplify/amplify-js/issues/2014#issuecomment-668914147 onwards. DateUtils' isClockSkewError only checks for one kind of error type related to bad clock, but there's actually many possible error types. See https://github.com/aws/aws-sdk-js-v3/blob/47770fa493c3405f193069cd18319882529ff484/packages/service-error-classification/src/constants.t

[2020-08-05 06:29] hisham commented on #2014
I went ahead and filed https://github.com/aws-amplify/amplify-js/issues/6494 so that amplify team takes a second at this look. Seems like DateUtils' isClockSkewError is not handling all possible error types related to clock skew.

[2020-08-05 06:48] pedramp20 commented on #6493
Well this could be due to the absence of email claim in the default coginto access token payload.

[2020-08-05 07:02] hisham commented on #6494
I was able to fix my issue with this one line before the Rest API call:

`DateUtils.setClockOffset(user.signInUserSession.clockDrift * 1000 * -1);`

[2020-08-05 07:04] hisham commented on #2014
Ok I experimented some more, this one liner fixed my issue:

`DateUtils.setClockOffset(user.signInUserSession.clockDrift * 1000 * -1);`

The key was multiplication by -1 to set the correct clock offset from the clockDrift we get in cognito.

[2020-08-05 07:54] mfferreira commented on #6481
@dabit3 I have not. Is it a drop-in replacement?

Regardless, I think these new patch versions of `aws-amplify-react` shouldn't be breaking functionality, right?

[2020-08-05 07:59] pendraggon87 opened #6495 "VSCode execution calls the wrong binary"
**Describe the bug**
When the CLI offers an option to edit a file in the chosen editor, when using Visual Studio Code, the CLI tries to open up "vscode.exe" and not "code.exe".  When installing Visual Studio Code brand new, it adds "code.exe" to the path, not "vscode.exe".

**To Reproduce**
Steps to reproduce the behavior:

1. Download Visual Studio Code and install
2. Use the amplify CLI to add a

[2020-08-05 08:18] pendraggon87 opened #6496 "Offer option to use py instead of python3"
**Is your feature request related to a problem? Please describe.**
When adding a Python lambda function, errors occur because python3 is not in the PATH (Windows)

**Describe the solution you'd like**
Allow the use of "py" or just "python" instead of the "python3" binary - on windows, this is still python 3

[2020-08-05 09:15] alexandrefilipiak commented on #6469
@ashika01 : thanks for investigating. I did not see much informations about using AmplifyAuthenticator with federated buttons in the official docs. So it might be that it was not meant to use with the AmplifyAuthenticator or not ready yet...

[2020-08-05 09:41] ttamminen commented on #5284
Thank you @0xdevalias!

I think the _isAuthenticated can be simplified as the isValid function already contains the expiration check (including clock drifting logic)

[code]

isValid implementation

[code]

[2020-08-05 10:33] tkwong94 commented on #4315
FYI, my website is in universal mode too and turns out the problem is I was using client mode for the registration of the amplify.js in nuxt.config

[2020-08-05 10:46] sandeep621 opened #6497 "Mobile Application login via AD"
Hi Team,

We are developing hybrid application using ionic framework. Signing in via AD we get successful login in web browser as the user auth object is retrieved from local storage & the user is authorised.

But for mobile application we are using InappBrowser provided by ionic. After signing in via AD credentials we are getting the response code back for successful authentication. However while

[2020-08-05 11:04] o-alexandrov commented on #5758
For those, who have this issue, you probably have multiple installed versions (you might want to check your lock files) of:
- [immer](https://www.npmjs.com/package/immer)

In short, **the issue is with the package manager improperly hoisting dependencies, not amplify**.
To fix this issue on `yarn`, just add the version of `immer` to your package.json, at the moment of writing, it is:
`yarn add imm

[2020-08-05 11:25] desyatnik commented on #4315
Well, afaik amplify works in client mode only, so I'm not sure how it will behave in your case.
However, it got me thinking and I've changed my authentication plugin to run in client mode as well (not sure why I set otherwise to begin with), which resolved the issue completely.
To sum it up, I currently have both amplify.js and my custom auth plugin registered in nuxt.config.js in client mode and

[2020-08-05 13:08] crolly commented on #5040
@valtrem
As far as I understand the GraphQL notation with the exclamation points, it should be implemented as follows (https://stackoverflow.com/questions/46770501/graphql-non-nullable-array-list):

| declaration | null | []  | [null] | [{ foo: 'BAR' }] |
|-------------|------|-----|--------|------------------|
| [Type!]!    | no   | yes | no     | yes              |
| [Type]!     | no   | yes | y

[2020-08-05 13:11] patelvarun commented on #2458
@DoctahPopp871  - How did you add transfer acceleration?

[2020-08-05 14:22] crolly commented on #5040
Upon further investigation, I would consider the `validateModelFields` to be the cause of the problem. Esp. line 244 seems problematic

[code]

should in my eyes be

[code]

to address the GraphQL declarations.

[2020-08-05 15:20] tkwong94 commented on #4315
I think I started with amplify.js in client mode and not specifying mode in auth.js... so maybe the key is to sync both.

[2020-08-05 15:36] GeorgeBellTMH commented on #3123
It would be great if someone could add the code for adminCreateUser to admin queries by default, inviting users from the UI is a common use-case.

[2020-08-05 15:42] sammartinez commented on #6496
@pendraggon87 Is this as you are adding functions via our Amplify CLI?

[2020-08-05 15:55] dabit3 commented on #6481
@mfferreira it's not completely drop in as some of the API has been changed, but it's close.

Yes, you are right these updated versions of `aws-amplify-react` should not have breaking changes.

I've already spoken with @jordanranz about this issue and he's investigating.

[2020-08-05 15:59] charliegilchrist-sb opened #6501 "Authenticator Email Confirmation Fails to Sign User In"
**Describe the bug**
When a user creates an account then doesn't confirm their email, then attempts to sign in, they are asked to confirm their email again. After inputting the correct verification code, their email is confirmed, but they are not signed in and the sign in event is not thrown.

**To Reproduce**
Steps to reproduce the behavior:

Following the new react documentation here : https://d

[2020-08-05 18:32] SkullTech commented on #4534
In the answer by @genk1, i.e. after chapter 7 when we have converted everything to hooks, how can we unsubscribe from the subscription? Simply doing `createNoteListener.unsubscribe()` doesn't work, as createNoteListener is a `Promise` now instead of an `Observer`. Following is the code I have as of now, and it's not working properly.

[code]

[2020-08-05 18:52] mfferreira commented on #6481
Thanks @dabit3 , appreciate it.

[2020-08-05 19:17] jordanranz commented on #6481
Hey @mfferreira, thanks for reporting this + feedback and repro.

To confirm my understand, are you stating that a previous patch version before `4.1.20` was functioning properly? If this is the correct understanding, do you know which patch version was correctly working for you?

The issue you reported may be related to a customer submitted PR: https://github.com/aws-amplify/amplify-js/pull/6276

[2020-08-05 19:30] 0xtf commented on #6481
Hi @jordanranz. Working with @mfferreira on this.

`4.1.19` was the last version that this functionality was working properly. Since then we've tried `4.1.20` and `4.1.21` and both of them have the same issue.

Thank you for looking into this.

[2020-08-05 19:47] mikedizon commented on #5273
still happening 3.0.22

[2020-08-05 19:48] mikedizon commented on #5273
@alexanderMontague what version are you using?

[2020-08-05 20:27] jordanranz commented on #6481
Got it, I found the root cause. I'll submit a PR shortly

[2020-08-05 20:53] chai86 opened #6506 "Amplify "Network Error" when doing Auth.signUp()"
On my iOS simulator, when running this react native mobile app code, i get the error: `Network Error`. I have no idea why.

[code]

[2020-08-05 21:00] lawmicha opened #6507 "Owner auth API provisioned with CLI 4.22.1 without read operation do not require owner input on subscription API"
**Describe the bug**
When I provision an API with the following schema for DataStore by following these [steps](https://github.com/aws-amplify/amplify-ios/blob/230a501381884d61669e1d39fac8d35a2986c216/AmplifyPlugins/API/AWSAPICategoryPluginIntegrationTests/GraphQL/GraphQLWithUserPoolIntegrationTests/AuthDirective/README.md)
- schema is
[code]
- The schema has owner auth with `operations: [create,

[2020-08-05 21:00] lawmicha opened #6517 "Owner auth API provisioned with CLI 4.22.1 without read operation do not require owner input on subscription API"
**Describe the bug**
When I provision an API with the following schema for DataStore by following these [steps](https://github.com/aws-amplify/amplify-ios/blob/230a501381884d61669e1d39fac8d35a2986c216/AmplifyPlugins/API/AWSAPICategoryPluginIntegrationTests/GraphQL/GraphQLWithUserPoolIntegrationTests/AuthDirective/README.md)
- schema is
[code]
- The schema has owner auth with `operations: [create,

[2020-08-05 21:30] michaeljcalkins commented on #3524
We were also wanting to use Logger as a way to report on crash metrics in our React app.

Right now we have implemented a class resembling winston-cloudwatch that uses AWS.CloudWatchLogs.PutLogEvents with some custom code to manage batching messages and sequence tokens.    I'd love to see our analytics and logging come from Amplify so that everything is in one place.

[2020-08-05 21:31] mauerbac commented on #6258
hey @andreacavagna01 - just to be clear, we do not support GitHub login out of the box and while it's possible to configure manually it would be a substantial amount of work. This is not on our immediate roadmap. I'd suggest building this directly with GitHub https://docs.github.com/en/developers/apps/authorizing-oauth-apps

[2020-08-05 21:32] andreacavagna01 commented on #6258
Thanks 😊

[2020-08-05 22:46] #6493 closed

[2020-08-05 22:46] houmark commented on #6494
Could you elaborate more on the one-liner fix @hisham?

Is this for public API, or only REST? I have been testing and for Cognito it seems to auto fix for me, but for a public GraphQL API, I get errors and I am not sure how to fix it.

Could you share more related code to the above one-liner?

[2020-08-05 23:12] Jun711 commented on #6202
This is one of the reasons why amplify-js is pretty large in size.

[2020-08-05 23:15] hisham commented on #6494
@houmark I'm using it only for REST API (API Gateway). I call it after user signs in via Cognito:

[code]

Then I do REST API call:

`RestAPI.post(environment.restEndpointName, '/items', {}))`

In my case my REST API requires users to be authenticated via cognito and is not public.

[2020-08-05 23:22] houmark commented on #6494
And DateUtils is imported from Amplify? Because while it may be the same utility function, I've seen it imported from `aws-sdk` and `@amplify/core`.

Maybe it's a REST situation you have then, I tested last night with normal GraphQL after login with clock 10 minutes off, and it was working all around, so my main issue is GraphQL to a public API configured like this in Amplify:

[code]

It's really

[2020-08-05 23:37] hisham commented on #6494
Yeah I import DateUtils from @amplify/core:

`import { DateUtils } from '@aws-amplify/core';`

I haven't tested GraphQL API calls from computers with wrong clocks. All my consumer-facing APIs currently are REST and that's where I have run into these weird scenarios so far.

Yes feels like Amplify Team has been following the minimum viable product spirit to the extreme. They've been iterating thoug

[2020-08-06 05:41] DoctahPopp871 commented on #2458
Howdy, its pretty easy, you need to modify the storage module, specifically the s3 client to leverage the "useAccelerateEndpoint: true" key/value pair. You would make the adjustment in this block : https://github.com/aws-amplify/amplify-js/blob/main/packages/storage/src/providers/AWSS3Provider.ts#L522-L529

You would then need to customize the package.json to build your own version of the storage

[2020-08-06 07:29] MichaelDM commented on #825
Thank you so much @Xander567, this proved to be wonderful advice!

Implementation detail for others in my case. I'm switching between multiple subdomains with the same authenticated user. For the authentication to work by coping the Cognito storage object (value in localstorage), I had to set bypassCache to true.
[code]

[2020-08-06 07:41] joshgodsiff opened #6510 "Cannot use custom attributes with AmplifySignUp React component"
**Describe the bug**
I'm trying to add custom attributes to the signup form generated by `AmplifySignUp` from `@aws-amplify/ui-react`.

Additional _standard_ attributes (e.g. `name`) work fine. However, custom attributes (e.g. `custom:business-name`, in my case) do not.

If I attempt to use them in the form, then on form submission I always get an "A client attempted to write unauthorized attribut

[2020-08-06 08:48] ianmartorell commented on #6320
I'm using email verification with a link, which I believe is the most common way of user confirmation on the Internet, and the approach you suggested won't work for those cases unless the password is stored in local storage, which definitely isn't a good idea. Ideally, `confirmSignUp` should sign the user in automatically, it feels like a no brainer to me.

[2020-08-06 09:26] LDHo opened #6511 "Encountered error 404 during npm install aws-amplify"
npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/@aws-amplify%2fcache - Not found
npm ERR! 404
npm ERR! 404  '@aws-amplify/cache@^1.2.3' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it (or use the name yourself!)
npm ERR! 404 It was specified as a dependency of 'aws-amplify'
npm ERR! 404
npm ERR! 404 Note that you can also install from a
n

[2020-08-06 09:29] mxswat commented on #6511
+1 same issue here with registry http://registry.npmjs.org

[2020-08-06 10:12] worldroamertech commented on #6511
+1 facing the same issue here as well

`error An unexpected error occurred: "https://registry.yarnpkg.com/@mdi/js/-/js-3.8.95.tgz: Request failed \"404 Not Found\"".
info If you think this is a bug, please open a bug report with the information provided in "/codebuild/output/src787143198/src/yarn-error.log".
info Visit https://yarnpkg.com/en/docs/cli/install for documentation about this command.
[

[2020-08-06 10:12] mxswat opened #6512 "@aws-amplify/cli install "Maximum call stack size exceeded""
**Describe the bug**
On a fresh PC installing aws-amplify is impossible due "Maximum call stack size exceeded" this might be correlated to this issue https://github.com/aws-amplify/amplify-js/issues/6511

**To Reproduce**
On a fresh PC

1. Install NodeJS

2. Install @aws-amplify/cli as global

3. notice the issue

**Logs**
PS X:\XXX\XXXX\xxx\XXXX\XXX-XX-ng-ui-XXXX> npm install -g @aws-amplify/cli

[2020-08-06 10:14] leejaew commented on #6511
+1 also facing some issues here
`error An unexpected error occurred: "https://registry.yarnpkg.com/@mdi/js/-/js-3.8.95.tgz: Request failed \"404 Not Found\"".
info If you think this is a bug, please open a bug report with the information provided in "/codebuild/output/src787143198/src/yarn-error.log".
info Visit https://yarnpkg.com/en/docs/cli/install for documentation about this command.
[Contain

[2020-08-06 10:20] mxswat commented on #6511
From the Amplify discord server:

NPM posted an incident report. Should be resolved now. https://status.npmjs.org/incidents/cksjqc1w11v5

[2020-08-06 10:20] mxswat commented on #6512
From the Amplify discord server:

NPM posted an incident report. Should be resolved now. https://status.npmjs.org/incidents/cksjqc1w11v5

[2020-08-06 10:30] nathanqueija commented on #6511
The auto deploy feature on Amplify is also not working. It fails in the step of bumping the cli version.

[2020-08-06 11:12] paulsjohnson91 opened #6513 "Cognito Pre Sign Up lambda triggers not being run before rejecting new user sign up"
**Describe the bug**
I'm currently trying to integrate Google Auth into my React Native application using AWS Amplify Cognito, when I originally set up the Cognito instance, I had date of birth as a required field, and unfortunately this isn't supplied by Google Auth and you cannot remove a required field from a Cognito instance. I asked for advice on here before and was told that the best way to

[2020-08-06 12:37] alexanderMontague commented on #5273
@mikedizon currently on `3.0.10` using yarn

[2020-08-06 13:44] spradas opened #6514 "AWS API Gateway REST private API error"
**Describe the bug**
Cannot invoke private REST API: AWS Amplify doesn't include custom headers when invoking with OPTIONS HTTP method and headers like 'X-Apigw-Api-Id' must be provided. I'm using AWS Amplify with ReactJS.

When the API is configured with REGIONAL endpoint (instead of PRIVATE) it works perfectly.

**To Reproduce**
Steps to reproduce the behavior:
1. Create API Gateway REST private

[2020-08-06 13:46] gsans opened #6515 "Can't resolve '@aws-amplify/storage' in '@aws-amplify/ui-components/dist/esm'"
**Describe the bug**
When building an angular app with `ng serve` these errors show:

[code]

In order to resolve I had to run `npm i @aws-amplify/storage` which shouldn't be necessary.

**To Reproduce**
Steps to reproduce the behavior:

1. Follow the Getting started guide for Angular [here](https://docs.amplify.aws/start/q/integration/angular)
2. After [Install Amplify libraries](https://docs.amp

[2020-08-06 14:46] #6514 closed

[2020-08-06 14:46] spradas commented on #6514
API URL was not correctly configured

[2020-08-06 15:37] iartemiev commented on #6511
@mxswat @LDHo we've confirmed that this was an NPM issue that has been resolved. Closing

@nathanqueija please open a GitHub issue in the [Amplify Console](https://github.com/aws-amplify/amplify-console) repo if you're still experiencing problems with the auto-deploy feature.

[2020-08-06 15:37] #6511 closed

[2020-08-06 15:39] sammartinez commented on #6515
@gsans There was an issue with npm registry this morning that this looks to be related to. Please try to reinstall now as those issues are resolved. Resolving issue as the Npm issue. Please let us know if it continues and we can re open

[2020-08-06 15:39] #6515 closed

[2020-08-06 15:48] sammartinez commented on #6506
@chai86 Can you provide more information to us as to what versions of the Amplify UI Components you are using? If you can provide your `package.json` this would help us understand the Network Error further.

[2020-08-06 15:53] #6497 closed

[2020-08-06 15:53] sakhmedbayev opened #6518 "Add custom cognito user pool programmatically?"
**Is your feature request related to a problem? Please describe.**
We are building a SaaS using AWS Amplify and AWS AppSync. For each new tenant/customer, we create a new Cognito User Pool using cloudformation. We know that it is possible to add those user pools to AppSync manually using AppSync's console, however, is it possible to do the same programmatically?

**Describe the solution you'd like

[2020-08-06 15:54] sammartinez commented on #6495
Transferring to the Amplify CLI and cc @renebrandel

[2020-08-06 16:08] gsans commented on #6515
This issue is still happening after reinstall.

[2020-08-06 16:18] ashika01 commented on #6501
@charliegilchrist-sb Could you try our recent unstable version, to see if that fixes this?!

[2020-08-06 16:44] iartemiev commented on #6482
Hi @hanzhaodeng, we plan to allow lazy loading relational data, e.g., being able to retrieve all comments

[2020-08-06 16:50] iartemiev commented on #6482
Hi @hanzhaodeng, we plan on adding lazy loading for relational data, e.g., being able to retrieve all comments related to a post via `post.comments`. You can track this feature here: https://github.com/aws-amplify/amplify-js/issues/5054

Sorting is also a feature that we intend on adding soon: https://github.com/aws-amplify/amplify-js/issues/4652

[2020-08-06 16:50] #6482 closed

[2020-08-06 17:18] sammartinez commented on #5582
Resolving as this issue is in our latest release, 3.0.22

[2020-08-06 17:18] #5582 closed

[2020-08-06 17:19] sammartinez commented on #4515
resolving as this is fix is within our latest release, 3.0.22

[2020-08-06 17:19] #4515 closed

[2020-08-06 17:20] sammartinez commented on #5405
This issue is resolved in the latest release, 3.0.22

[2020-08-06 17:20] #5405 closed

[2020-08-06 17:28] #5061 closed

[2020-08-06 17:29] #4875 closed

[2020-08-06 17:33] sammartinez commented on #5114
@johnmesotech Apologizes for the late response to your question on this. This is by design that you will need to authenticate in order to change a users wrong phone number. Since Amplify uses Cognito as a pass through to the service, I would advise to open a feature request with the Amazon Cognito team via their [AWS Forums](https://forums.aws.amazon.com/forum.jspa?forumID=173)

[2020-08-06 17:33] #5114 closed

[2020-08-06 17:35] sammartinez commented on #6515
Did you try to remove your `node_modules` and lock files?

[2020-08-06 17:38] sammartinez commented on #4902
Thanks for this feedback, this isn't possible in our current design but I am marking this as a feature request to consider for future implementations.

[2020-08-06 17:39] jordanranz commented on #6510
Hey @joshgodsiff, could you try:
[code]

[2020-08-06 17:41] jordanranz commented on #6481
@0xtf @mfferreira,

The change is now on the `@unstable` version of the `aws-amplify-react` library. Please check to see if the verify contact screen appears properly in your app.

Thank you!

[2020-08-06 17:43] #5836 closed

[2020-08-06 17:49] liamaws opened #6521 "Create new account page does not detect filled out fields after translation - Amplify Authenticator UI Component"
**Describe the bug**
After filling out the create account page of the Amplify Authenticator UI Component and then changing the translation, the fields remain filled out on the UI but are not detected when clicking the create account button.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://d2zxvlukxu4lhp.cloudfront.net/
2. Click on Create Account
3. Fill out email address, passwo

[2020-08-06 17:56] jordanranz commented on #6446
Hey @nonbeing,

The change is in the `@unstable` version of the UI libraries. Would you mind installing that version and trying:
[code]

[2020-08-06 18:02] wataruoguchi commented on #5582
Awesome! Thank you!

[2020-08-06 18:11] amhinson commented on #6453
@danrivett Would you be able to try with the latest version of Amplify? I tested out the example you provided, but everything seemed to work as expected with `aws-amplify@3.0.22`.

[2020-08-06 18:26] mauerbac commented on #6478
Thanks for filling this @Darapsas. We've identified this as a bug documented in #6108. We will track this in that issue.

[2020-08-06 18:26] #6478 closed

[2020-08-06 18:39] manueliglesias commented on #6278
Hey @nubpro

Try providing you own `conflictHandler` as shown in the [docs](https://docs.amplify.aws/lib/datastore/conflict/q/platform/js#custom-configuration) and let us know if that helps

[2020-08-06 18:45] mauerbac commented on #6074
Thanks @mdoesburg. We've marked this as a duplicate and will fix in #6108. Will close this for now.

[2020-08-06 18:45] #6074 closed

[2020-08-06 18:50] mauerbac commented on #6032
hey @IDGallagher - thanks for submitting. Would you be able to try the most recent version to see if it's resolved ?

[2020-08-06 18:54] harrysolovay commented on #6008
@ender-code can you please paste your tsconfig into this issue?

[2020-08-06 18:56] danrivett commented on #6453
@amhinson thanks for taking a look.

The dependency we use is `@aws-amplify/datastore` so what version of that package would `aws-amplify@3.0.22` correspond to?

I'm not sure I understand your second question, we definitely did call `DataStore.save()` and it's updated locally, but not in DynamoDB.

[2020-08-06 18:57] harrysolovay commented on #6008
Just a hunch: can you try specifying a resolution for TypeScript in your `package.json`?

[code]

[2020-08-06 18:58] mauerbac commented on #5963
hi @nubpro - thanks for informing us. We've identified this as a bug and the service should detect this type before syncing. We will work on a fix.

[2020-08-06 19:01] mauerbac commented on #5758
hi @pnm563 - sorry for the delay. After taking a look, it doesn't seem to be an issue on the Amplify side. It looks like @o-alexandrov has a reasonable fix. You might need to open an issue with the `immer` library. Thank you!

[2020-08-06 19:01] #5758 closed

[2020-08-06 19:02] manueliglesias commented on #6066
Hi @econtentmaps

When you create a new instance of a model, a uuid is generated for the item automatically (even before calling `DataStore.save()`), that means that as soon as you create the instance, you can get its `id` like this:

[code]

Let us know if that helps

[2020-08-06 19:04] #6066 closed

[2020-08-06 19:06] amhinson commented on #6453
Ah ok so you're just using `@aws-amplify/datstore@2.2.8`, right? That is the latest, so you can disregard my first question.

For the second question, I'm wondering if this `Movie` model was originally created via `amplify-modelgen` and pushed via `amplify push`, and then additional properties (i.e. `description`) were added but not pushed.

Were you able to replicate this behavior by creating a b

[2020-08-06 19:10] mauerbac commented on #6137
Thanks @mdoesburg . We are working on #6108 and will close this in favor of tracking progress there.

[2020-08-06 19:10] #6137 closed

[2020-08-06 19:14] danrivett commented on #6453
The GraphQL schema above is an example and our real schema is more complicated and so I used an example.

I will create an example app with this schema later (hopefully today) and verify the behaviour in that app and send you a link to it.

Regarding `amplify-modegen` question, we use `amplify codegen models` to generate our TypeScript bindings from our GraphQL schema that we manually maintain.

[2020-08-06 19:40] dabit3 commented on #6481
Thanks @jordanranz !!

[2020-08-06 20:23] gsans commented on #6515
Let me try. I saw this error yesterday so I don't think is npm related anyway

[2020-08-06 20:35] sammartinez commented on #6515
Sounds good, one thing to note is we only support up to Angular 9 right now. I am seeing you're using Angular 10, which just recently came out but we are exploring this into see what is needed from what we generate for our UI Components.

[2020-08-06 20:53] tvb commented on #565
Turns out the the hot fix by presenting the social login screen again only works with Google 😭

[2020-08-06 21:17] gsans commented on #6515
I can confirm this issue is still happening after removing node_modules, lock files and reinstalling all npm packages.

Yes. It would be good if this can be fixed for Angular 10 as many users are getting worried Angular is not given proper attention vs React.

Most Angular developers will be using Angular 10. For now adding the dependency fixes the issue but my app is not using storage so it adds

[2020-08-06 21:17] bernhardt1 commented on #5275
@sammartinez I'm also seeing this in the latest version on React Native.

I've relied on the identityId to map users in my dynamoDB user table. With the identityId removed in the new update, I'm unable to map users in the same way.

Can you provide guidance on a fix for RN?

@mllrmat Did you find a solution?

[2020-08-06 21:29] bernhardt1 commented on #5440
@wattanakorn495 did you find any solution for this? I also need identityId to query from graphQL

[2020-08-06 21:42] sammartinez commented on #6515
I was able to install the Angular CLI v10 and got no errors. Maybe we talk internally on this @gsans

[2020-08-06 22:09] gsans commented on #6515
Let's do that. I'm a just bit worried as this issue is related to the getting started guide for Angular

[2020-08-06 22:34] ffxsam opened #6526 "Ability to specify a timeout for a REST API endpoint"
**Describe the solution you'd like**
It would be nice to configure a timeout value for a REST API endpoint. Currently the default is 0, which isn't a great idea, as users will be stuck loading indefinitely if there's a network issue.

**Describe alternatives you've considered**
The only workaround is to pass a timeout with every call, e.g.:

[code]

IMO a sensible implementation of this could look

[2020-08-06 22:45] chai86 commented on #6506
@sammartinez I'm currently using Amplify v1.1.29 as i'm on an older (more stable) version of react native. `Package.json` below:

[code]

[2020-08-06 23:08] albanx commented on #5267
I get also this error when running test on PhantomJS. Basically after including polyfill after polyfills to fix other errors caused by the library I got response.blob() is not a function.

What are the browser list amplyfy supports?

[2020-08-06 23:17] dev-elevate-usa commented on #5027
It is important to note that the in the code snippet provided above, the Amplify.configure function is being called inside of the component. This allows for the dynamic handling of the values returned by the custom url handler which will allow for the developer to create useful UI in all cases of a url being opened for authentication: success, cancelled, and dismissed.

[2020-08-06 23:30] iartemiev commented on #6408
This feature has been released as part of aws-amplify@3.0.23 / @aws-amplify/storage@3.2.12

[2020-08-06 23:30] #6408 closed

[2020-08-06 23:30] iartemiev commented on #4179
This feature has been released as part of aws-amplify@3.0.23 / @aws-amplify/storage@3.2.12

[2020-08-06 23:30] #4179 closed

[2020-08-06 23:45] scfox opened #6527 "@aws-amplify/ui-react withAuthenticator does not pass props like aws-amplify-react withAuthenticator does"
**Describe the bug**
props are passed after login by the withAuthenticator in aws-amplify-react, but not by withAuthenticator in @aws-amplify/ui-react

**To Reproduce**
Put any component behind each authenticator and print out props passed by each after login.

**Expected behavior**
Same behavior of props being passed.

** Versions **
aws-amplify-react: 4.1.21
@aws-amplify/ui-react: 0.2.13

**Addi

[2020-08-07 00:41] elorzafe commented on #6330
@reggiepangilinan You wont be able to await `Auth.federatedSignIn({ provider: CognitoHostedUIIdentityProvider.Google })` because that will redirect the app.

@seanbecker15 can you trying cleaning your modules and install the library latest

[2020-08-07 01:19] joshgodsiff commented on #6510
That works. 👍

That could be made a *lot* more explicit / obvious in the documentation. There's a lot of conflicting information around about how to do this - I assume because different libraries have taken different approaches.

[2020-08-07 01:23] rcosgrave commented on #1962
Same issue here

[2020-08-07 01:57] nubpro commented on #6278
I understand that this will definitely work.

I think it's safe to ignore this issue because it's unlikely to happen in a normal use-case.

[2020-08-07 01:57] #6278 closed

[2020-08-07 02:17] nubpro commented on #6406
@manueliglesias This issue I raised is similar to #6278 as they are stuck in an infinite loop within the mutation processor.

[2020-08-07 02:58] reggiepangilinan commented on #6330
@elorzafe yeah, I updated that part of the code. I just redirect to the callback page.
I can still see two requests though.

One is
POST `/oauth2/token`
grant_type=authorization_code&code=XXXXX-a992-4bfd-b6bb-3cd9960061dc&client_id=2f5eh1fiv79m2bljjdqmv02q3t&redirect_uri=http%3A%2F%2Flocalhost%3A3031%2Fsign-up-callback%2F&code_verifier=LnHoSqYAwgue01nBv45XXTdGQVDMr81OS0dTsHgtLxcrBZ3D8R1uSPYbeNrSoY

[2020-08-07 06:43] patelvarun commented on #6408
@iartemiev - I appreciate you! Thanks for the support.

[2020-08-07 08:21] mfferreira commented on #6481
Thanks @jordanranz

We'll do some testing and follow up by EOD 👍

[2020-08-07 11:44] bigxalx opened #6529 "GraphQL subscriptions error"
### I am subscribing to a GraphQL onUpdate and it fails to deliver data.
It does fire when I update data, but only returns errors and no data.
**`"Cannot return null for non-nullable type: 'AWSDateTime' within parent 'Project' (/onUpdateProject/createdAt)"`**

**To Reproduce**
Steps to reproduce the behavior:
I use React and the amplify-cli and the provided sample code to create an api and subscri

[2020-08-07 11:53] nonbeing commented on #6446
Sure, will try to do this today or tomorrow. Thanks @jordanranz

[2020-08-07 12:46] zhihongl commented on #4308
This is because of the mismatched url for either redirectSignIn or redirectSignOut. Please check both setup in aws console and code aws_config, and make them consistent.

<img width="200" alt="image" src="https://user-images.githubusercontent.com/4370435/89646542-51de3a80-d8ff-11ea-9ac6-fdb58edbe040.png">

![image](https://user-images.githubusercontent.com/4370435/89646690-97026c80-d8ff-11ea-95b8-

[2020-08-07 14:00] etjenkins opened #6530 "Unhandled Promise rejection when adding in <amplify-authenticator></amplify-authenticator>"
**Describe the bug**
When adding the <amplify-authenticator></amplify-authenticator> component into the HTML for an Angular App, on the page load it results in:
`zone-evergreen.js:659 Unhandled Promise rejection: not authenticated ; Zone: <root> ; Task: Promise.then ; Value: not authenticated undefined`
Chrome, Firefox, Safari (OSX) and Edge (new version) can handle this and carry on so you are st

[2020-08-07 14:19] FadiAboMsalam commented on #5273
anything I try to use storage module of my **"aws-amplify": "^3.0.23",** **"amazon-cognito-identity-js": "^4.3.3",**
AWSS3Provider - error uploading Error: Request failed with status code 400

[2020-08-07 14:29] matthewcarlreetz commented on #5296
@andreialecu What are you using for `uri` here? The value from `const url = await Storage.get(fileKey, { level: 'public' });`?

[2020-08-07 14:33] andreialecu commented on #5296
It should be the url without any query strings. I'm not using Amplify storage any more so I'm not sure what `Storage.get` returns.

`url` should be something like `https://your-project-name.s3-eu-west-1.amazonaws.com/avatars/someimage.jpg` If it includes anything like `?response-content-disposition=inline&X-Amz-Security-...` after it, just get rid of it.

[2020-08-07 14:42] sw-yx commented on #6527
cc @dabit3 - another issue of breaking changes.

[2020-08-07 15:17] dorontal commented on #3231
I still have exactly the same issues as all of the above (1-7). I've implemented (1) and (2) workarounds the same way as described but this are extremely inefficient ways to implement `move` or `rename` and they have become unusable in some cases. I noticed that the Amplify Storage class has no `move` method or `rename` method.

[2020-08-07 15:24] sammartinez commented on #6506
@chai86 When you mean more stable, are you talking about Amplify version is being more stable or React Native itself? I do see you using one of the later versions of React Native so wanted to get some clarity. If it is related to our stability, can you give me the issues that you are experiencing within v3 of our repository? Thanks ahead of time

[2020-08-07 15:58] nathander commented on #6404
Hi @cedricgrothues - thanks, unfortunately I need it to work on iOS. Any updates from the Transcribe team?

[2020-08-07 16:24] jordanranz commented on #6527
@scfox, which props are you referring to?

[2020-08-07 16:25] jordanranz commented on #6510
Yep, let me transfer this to the docs repo to track adding custom attribute documentation. Thanks for the feedback!

[2020-08-07 16:49] matthewcarlreetz commented on #5296
For those interested here's what I ended up doing
[code]

[2020-08-07 17:57] RossWilliams commented on #6513
You can migrate to a new user pool with date of birth not required. There are API helpers for this in the SDK.

[2020-08-07 18:14] mauerbac commented on #5820
marking as duplicate in favor of https://github.com/aws-amplify/amplify-js/issues/3974

[2020-08-07 18:14] #5820 closed

[2020-08-07 18:20] RossWilliams commented on #6518
Yes, I've added some code below to help you do this, but i would strongly advise against it, as Amplify doesn't support it well. Is there another design you can choose? You will need to add @aws_cognito_user_pools on all types you want to access in your schema, and you can't use amplify top-level generated fields, instead you need to add your own with @aws_cognito_user_pools added, or you need to

[2020-08-07 19:28] div5yesh commented on #5860
This issue is resolved in our latest release 3.0.23.

[2020-08-07 19:28] #5860 closed

[2020-08-07 20:22] sw-yx opened #6534 "[Request] DataStore models should have a sync status field"
**Is your feature request related to a problem? Please describe.**

it's a very common need to want to indicate the sync status of datastore items. i understand its a distsys issue. but we need to offer some sort of documentation or blessed path for people to show whether something has been "synced to cloud" or is really "local only and can be lost" eg during a model migration.

we seem to have th

[2020-08-07 20:28] maxflores opened #6535 "Auth.currentCredentials sometimes does not return identityId"
**Describe the bug**
For federated login, Auth.currentCredentials returns null identityId. Similar issues have been closed in the past but this is not fixed yet.

**Expected behavior**
identityId should be returned

System:
    OS: Linux 4.19 Debian GNU/Linux 10 (buster) 10 (buster)
    CPU: (2) x64 AMD EPYC 7571
    Memory: 2.05 GB / 3.81 GB
    Container: Yes
    Shell: 5.0.3 - /bin/bash
  Binar

[2020-08-07 21:06] mauerbac commented on #4982
hi @nara - by any chance, does updating to the latest version help?

[2020-08-07 21:27] KandarpAjvalia commented on #3116
https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/loading-node-credentials-json-file.html

[2020-08-07 21:40] sammartinez commented on #6076
Resolving as above PR is merged and will be going out in the next release

[2020-08-07 21:40] #6076 closed

[2020-08-07 23:06] abdielou commented on #6108
For those looking to use DataStore for Offline Support with cloud sync... I'm working/exploring a hackaround https://github.com/aws-amplify/amplify-cli/issues/4794#issuecomment-670726821

[2020-08-08 02:46] #6428 closed

[2020-08-08 02:49] disrael commented on #6343
We at [Uclusion](https://www.uclusion.com) really need this.

[2020-08-08 02:51] disrael commented on #6037
[Uclusion](https://www.uclusion.com) really needs this fixed. Even when we set verified to true in Cognito somehow it is getting set back to false and we hit this bug.

[2020-08-08 05:49] kirkryan commented on #3039
I can confirm this has been a long time problem for our field based units and we have had to implement workarounds.

AWS : your IoT implementation never reconnects if an app gets suspended (screen switched off) making it pretty much unusable.

[2020-08-08 07:07] fkoner commented on #1094
I only have the doubt about what Pedro mentions @dylan-westbury and @raffibag , because just if you add that Cognito Group to the IAM role, a policy like the following is created:

[code]
I only have the doubt about what Pedro mentions, because just if you add that Cognito Group to the IAM role, a policy like the following is created:

From what I understand, **this policy is giving the user permi

[2020-08-08 09:52] #5957 closed

[2020-08-08 10:06] ajit100 commented on #3373
did you implement that in client side ? how does the amplify framework store the session after sendCUstomChallengeAnswer?

In my case, with CUSTOM_AUTH, a otp is triggered to email after i signin without password..and then i confirm the otp using sendChallengeAnswer() . But After this the session is not persisted by Auth, so whenever i call Auth.currentAuthenticatedUser() it returns null always..s

[2020-08-08 12:47] johynpapin commented on #6501
I have the same problem with Vue.

[2020-08-08 16:49] sw-yx commented on #6534
this exists in Hub but is not yet documented https://github.com/aws-amplify/amplify-js/issues/4808#issuecomment-640574885

[2020-08-08 19:45] andriworld commented on #2853
Thank you @janhesters your solution worked for me too. I had to add  `optOut: 'NONE',` in the endpoint configuration in order for the endpoint to be 'eligible'.
Do you happen to know the proper way to update the endpoint when the user signs out?

[2020-08-08 19:50] kimfucious commented on #3435
This is a long thread, so sorry if someone has already written about this.

What I wanted to share is the the opposite of this issue is also a problem:  **If a user is programatically added to a Cognito group, the permissions don't take effect until the user logs off/on.**

In brief, if a graphQL type is setup with an @auth directive, like this (in `schema.graphql`):
[code]
And then the user is ad

[2020-08-08 19:52] dorontal commented on #5579
Any progress on the bug in the auto-generated code that forces that code to use the default auth mode even when there are multiple auth modes?  That seems to be the problem. However the auto-generated code (the Angular service) still uses the wrong auth mode for the example above and fails to execute the mutations.  If this is not the right place to report the bug, please let me know where to repo

[2020-08-08 22:27] ProdigySim commented on #3435
@kimfucious Have you tried using the [InitiateAuth](https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_InitiateAuth.html) endpoint with `REFRESH_TOKEN` auth to generate new Identity & Access Tokens? Groups & other claims should be on the Identity token, which can be refreshed on demand with this endpoint. You may want to open a separate issue if that does not work.

[2020-08-08 23:57] cayblood commented on #2726
@jkeys-ecg-nmsu I'm trying to set up something similar, using only Amplify's authentication components and just AppSync for the rest of it. I'm almost there, but I'm getting an auth error when I submit a valid username and password. Out of curiosity, which auth method(s) did you enable in your AppSync API?

[2020-08-09 00:21] imoby opened #6537 "Datastore.query not fetching updated changes from dynamo"
**Describe the bug**
I've got a react native app where I am storing data using datastore.save. It successfully gets stored to the local storage as well as the dynamodb app sync. In the scenario where I have this app open in multiple devices, the first device that stored it has access to that record because it is in the local storage.

One the second device, however, when calling datastore.query to

[2020-08-09 02:35] cayblood commented on #2726
Never mind. Looks like my `aws_exports` was just missing a few attributes.

[2020-08-09 04:03] dingdongping commented on #6513
Is there any restriction on how many mobile phones can log in and use the cognito account at the same time

[2020-08-09 04:18] sakhmedbayev commented on #6518
Thanks @RossWilliams, for the reply. Tell me, will I face "50 authorization providers" limit no matter which strategy I choose?

[2020-08-09 04:22] ricky-sb commented on #4529
How did you end up resolving this? Doesn't Cognito automatically register endpoints with Pinpoint when you sign in?

* https://stackoverflow.com/questions/57810979/how-to-properly-configure-amplify-analytics

* https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-pinpoint-integration.html

[2020-08-09 04:23] vanceingalls commented on #4257
This results in todoData possibly 'undefined'

[2020-08-09 09:42] RossWilliams commented on #6513
No restrictions by default. You can use triggers to add restrictions

[2020-08-09 09:45] RossWilliams commented on #6518
This is an AppSync limitation.

Can you say more about why you want a unique user pool for each tenant?

[2020-08-09 10:01] chernando commented on #4257
Probably because you're using `strict: true` in your `tsconfig.json`. Try something like:

[code]

But be aware that `items` may be `null`, or even `null[]`, (check the generated type definition). You have to handle this, in any way makes sense for your project, to keep type consistency.

[2020-08-09 10:51] kimfucious commented on #3435
Thanks for this @ProdigySim

I've looked at that, and, frankly, I couldn't find any solid docs or examples that enabled me to learn exactly what I should do with `InitateAuth()`.

At the risk of sounding overly whiney, I wish that Amplify would provide an auth method, like `Auth.refreshTokens()`, but I assume there are reasons why they haven't (yet).

Anyhow, while potentially off-topic to this th

[2020-08-09 11:08] dingdongping commented on #6513
Thank you. I only need to use PubSub in my application. Can I just create a cognito account? All accounts in my system share the same cognito account to use PubSub service.

[2020-08-09 12:40] TheVaporTrail commented on #6220
This issue was not resolved as per my July 6 comment.

[2020-08-09 12:53] DKFletcher commented on #1755
thanks kinetik saved my bacon today  😊

[2020-08-09 13:19] RossWilliams commented on #6513
You can use API key authentication instead of user pools if you don’t actually need users

[2020-08-09 13:20] nonbeing commented on #6446
Confirmed the fix using `"@aws-amplify/ui-react": "^0.2.15-unstable.2"` and `"aws-amplify": "^3.0.23"`.

Relevant code:
[code]

Screenshot:
![screenshot](https://i.imgur.com/KXY2uXn.png)

Thanks @jordanranz ! 👍👍

When is this fix likely to make it to the mainline?

[2020-08-09 13:43] dingdongping commented on #6513
The use of PubSub I found depends on the auth module and needs to register cognito account.（https://docs.amplify.aws/lib/pubsub/getting-started/q/platform/js）

Can you tell me to use PubSub's document link through API key authentication?

[2020-08-09 13:56] dingdongping commented on #6513
@RossWilliams
In the document of amplify-JS of react-native, I didn't find the use document of API key authentication.（https://docs.amplify.aws/lib/pubsub/getting-started/q/platform/js）

Can you tell me to use PubSub's document link through API key authentication?

[2020-08-09 15:16] dingdongping commented on #684
@pveller
I need to use the PubSub module, but I don't want to configure cognito account for all users in my system. What should I do?

[2020-08-09 16:09] sakhmedbayev commented on #6518
@RossWilliams this is really bad news :-( Is it documented anywhere?

The reasons for "unique user pool for each tenant" are many. One of them that our customers/tenants could have different requirements for identity providers. Another is that we want to leverage amplify API auth directives while preserving data isolation. Unique user polls can also help us to provide a better analytics to our cus

[2020-08-09 16:12] asterikx commented on #5435
Is it possible to add `withSSRContext` to the individual package such as `@aws-amplify/auth`, so that you don't have to require the whole `aws-amplify` package if you only need auth for example?

[2020-08-09 16:42] WolfWalter opened #6540 "Missing white space / margin in Angular Authenticator UI"
**Describe the bug**
On small screens there is no white space between the "sign in" button and the "Create account" link in the sign-in view. Same problem for the sign-up view with the "Create account" button and "Sign In" link. So it is hard to click the link on a mobile device.

**To Reproduce**
https://docs.amplify.aws/ui/auth/authenticator/q/framework/angular

**Expected behavior**
Mobile frie

[2020-08-09 16:47] RossWilliams commented on #6513
You were suggesting that all users would share a single Cognito login, this suggests you want open access to your API, and you don’t have users logging in. In this case you could use API Key auth with AppSync and use the Unauth Cognito role for websocket communication. The instructions are very similar, but you would configure the Unauth role instead of the Auth role

[2020-08-09 18:42] noamyg commented on #4515
This issue was a pain in the... even by IE standards.
Finally got it fixed by:

1. Upgrading to `"aws-amplify": "^3.0.23"` and `"aws-amplify-angular": "^5.0.23"`
2. Adding the following polyfills:

[code]

[2020-08-09 19:42] woodjme commented on #2777
I found the problem with this method is that you then don't get send a verification code when a user wants to do a password reset. Do you have this use case / find a way round this?

[2020-08-09 19:47] cwells commented on #2702
I think the recommended solution is to give up on Cognito/Amplify and use something that works.

[2020-08-09 20:50] RossWilliams commented on #6518
Quotas for AppSync are here: https://docs.aws.amazon.com/general/latest/gr/appsync.html

Some alternatives to your needs in a multi-tenant environment
* different requirements fir identity providers does not means you need separate pools. You can have multiple SAML, OIDC, or google providers attached to a pool. You can have 300 identify provers per pool. Also remember that any tenet wanting Azure

[2020-08-10 01:03] emilio-martinez commented on #678
The title of this issue is unfortunate because I don't think it has much to do with Angular at all. I just got this in a React application, and I think it largely depends on what the underlying bundler configuration is—in this case Webpack.

What's likely happening is that the dependency on `buffer` is bleeding into browser code as an external node dependency. In my case (your milage may vary), th

[2020-08-10 01:18] mfferreira commented on #6481
Hey, sorry for the delay.

Just tested `aws-amplify-react@4.1.22` and looks good now. Account rercovery verifications is now prompted after login.

[2020-08-10 02:40] ashika01 commented on #6446
It should also be in the `latest` version (@aws-amplify/ui-components : 3.0.23) by now. We have done a release out 👍 Closing this issue since the feature has been fixed.

[2020-08-10 02:40] #6446 closed

[2020-08-10 02:54] dabit3 commented on #6481
Thanks @mfferreira @jordanranz , closing this issue now.

[2020-08-10 02:54] #6481 closed

[2020-08-10 03:36] sakhmedbayev commented on #6518
Thank you agan, @RossWilliams , for the detailed answer. Our decisions were based primarily on [this](https://www.reddit.com/r/aws/comments/fccx6k/multitenant_app_using_aws_amplify/) discussion, more specific on [this](https://www.reddit.com/r/aws/comments/fccx6k/multitenant_app_using_aws_amplify/fjbqsth?utm_source=share&utm_medium=web2x) answer by AWS specialist.

I forgot to add one more reason

[2020-08-10 06:32] nihp commented on #6257
Need more clarification on this issue.

[2020-08-10 09:52] alucio-echen commented on #6037
Could this be a bug in how the response from cognito is being parsed? If you look at the response from Cognito the email_verified attribute has a value of "True" but on the line below (which is called by the verifiedContact method) it's checking for "true"

https://github.com/aws-amplify/amplify-js/blob/a047ce73/packages/auth/src/Auth.ts#L1934

[2020-08-10 11:37] Jalle19 commented on #2458
Does this mean it's not possible to get temporary credentials for a Cognito user that are valid for more than 60 minutes?

[2020-08-10 12:23] zelphir commented on #5435
it looks like that server side is not working, and that is because the cookies are not saved and sent.  @svrcekmichal @apoorvmote can you confirm that the lack of cookies is causing the same issue to you guys?

[2020-08-10 12:30] mrcportillo commented on #5896
Hi, in the mid-time.. this can help to get auth headers using aws sig4. https://medium.com/@mrcportillo/create-an-aws-sig4-using-amplify-credentials-e5aeb5856c67

[2020-08-10 12:39] mxswat commented on #5167
I'm looking for a solution too

[2020-08-10 13:44] simonreitinger commented on #6388
@jordanranz - Any updates on this?

[2020-08-10 14:09] nubpro commented on #6363
@mauerbac Thanks for parking this under feature-request, but isn't this more like an issue with DataStore rather than a feature request?

[2020-08-10 14:22] nubpro commented on #6534
In my opinion, I think `DataStore.observe` should indicate whether the record is a REMOTE or LOCAL.
I've feedback this suggestion to @manueliglesias under #6322 and I believe he's working towards the same goal.

Yeah, could we get the Hub listener for DataStore documented please :)

[2020-08-10 15:10] dabit3 commented on #6515
cc @jordanranz

[2020-08-10 15:11] sammartinez commented on #6540
@WolfWalter Can you provide us with what size screen you are experiencing this on?

[2020-08-10 15:19] WolfWalter commented on #6540
For example on my mobile phone with resolution of 1080 x 2340 pixels: ![Screenshot_20200810-171602.jpg](https://user-images.githubusercontent.com/2098069/89799338-a23adf80-db2d-11ea-83a3-4bd489df3b25.jpg)

[2020-08-10 15:31] lauraalkhoury-youitv opened #6543 "Forgot password flow doesn't work if user is in FORCE_RESET_PASSWORD state"
**Describe the bug**
Calling `Auth.forgotPassword()` fails silently and doesn't send the verification code via text/email if the user is in FORCE_RESET_PASSWORD state

**To Reproduce**
Steps to reproduce the behavior:

1. Create a user without resetting their password, so that they are in FORCE_RESET_PASSWORD state
2. Call `Auth.forgotPassword()` with their username
3. Verify that the verification

[2020-08-10 16:48] dingdongping commented on #6513
@RossWilliams
In react-native,I can now use the PubSub module directly through the tourist identity, but I'm not sure if I'm doing it right because I don't know if the visitor's identity will expire and the PubSub module won't work. Amplify JS creates an ID for each visitor.

Here are my steps to use PubSub

1. Enable access to unauthorized identities in identity pools

2. Configure the IOT relate

[2020-08-10 18:50] asterikx commented on #5435
@ericclemmons I got that number from VSCode [Import Cost](https://marketplace.visualstudio.com/items?itemName=wix.vscode-import-cost) extension. I'm not sure what the final impact on the bundle is.

My other regular dependencies have ~7-15 kB uncompressed, e.g. `react` has 6.3 kB, `emotion`(CSS-in-JS) has 15.4 kB. When you look at [BundlePhobia](https://bundlephobia.com/result?p=aws-amplify@3.0.18

[2020-08-10 18:54] ericclemmons commented on #5435
@asterikx I would take those numbers with a grain of salt: the build output is what matters most and is where tree-shaking is visible.

Amplify v3 was built specifically with this in mind: https://twitter.com/ericclemmons/status/1240784212241846275

(Still, I am monitoring the impact of client-only `aws-amplify` vs. SSR `aws-amplify` with this PR)

[2020-08-10 18:55] #6059 closed

[2020-08-10 19:38] gary-archer commented on #3436
For those of you using AWS Cloudfront it is worth being aware that you can work around this while also dealing with 2020 browser restrictions, such as Safari dropping the Authorization Server Session Cookie on renewal requests.

In my case I used a CloudFront Lambda Edge function to proxy requests to the Authorization Server - there is a [write up](https://authguidance.com/2020/07/21/spa-reverse-p

[2020-08-10 19:56] RossWilliams commented on #6513
Yes, all identities with cognitive expire and Amplify libraries detect this and get new ones when needed

Sent from my iPad

[2020-08-10 21:56] bernhardt1 commented on #3410
Any updates here?

The Message and UX is really awful during sign in right now. It makes the login experience feel sketchy and illegitimizes any application that uses the amplify federated sign in. This is a users first interaction with the product.

Even the product name "amazoncognito" is very suspect. Plus it tells the user that we're going to share information about them. Honestly, it's nearly

[2020-08-11 00:01] amzhang commented on #3436
@gary-archer I wonder if it might run into the max cookie-size limit. Some of these tokens are pretty large. To get around that you could encrypt the token, store the key in the cookie, store the encrypted content the browser's storage, and pass both to the proxy.

[2020-08-11 01:37] dingdongping commented on #6513
Thank you. I know that amplify JS will automatically handle the issue of expired tourist identity.
I don't need to worry that the expired tourist identity will lead to the inability to use PubSub module

[2020-08-11 01:50] nara commented on #4982
hi @mauerbac, I didn't get a chance to test this because I had a workaround at that time. Previous comments indicate it worked by upgrading to latest. This can be closed. Thank you.

[2020-08-11 02:16] cchamikara commented on #3212
@borch84 I'm getting the same error, did you able to resolve this ?

[2020-08-11 03:11] sakhmedbayev commented on #6518
It seems that AppSync limitation (Authentication providers per API = 50) make it unfit to scalable multiple tenants' applications.

Taking into account everything said above and the linked resources, what are our options???

[2020-08-11 06:09] mishellnovosel commented on #2602
@sammartinez, I have same question as @simpson. Will there be any solution of how to handle "RESET_REQUIRED" from amplify perspective?

My case is like this:
In case of something going wrong from user perspective we might need to reset password from AWS Cognito. Cognito then sets status to following: "Account Status | Enabled / RESET_REQUIRED".
When tried to login with the user I receive following

[2020-08-11 08:55] WolfWalter commented on #6530
I had the same issue. I guess the issue is related of a mixture of es5 and esm Files. The esm Version of amplify-authenticator.entry.js (ui-components) was used, while the Auth.js file from the lib-esm folder was used, but it looks like it was transpiled to es5? I tired to debug this and the `throw 'not authenticated';` in the Auth.js was not catched by the catch statement:

[code]

When setting t

[2020-08-11 09:31] kimfucious commented on #6041
Hi @rahulje9

My pre-signup script is somewhat of a mess and probably would confuse you more than help.

Checkout the answer [here](https://stackoverflow.com/questions/59635482/aws-cognito-best-practice-to-handle-same-user-with-same-email-address-signing).  It might get you on the right path with what you're trying to do.

[2020-08-11 10:32] cormacc commented on #6527
I've run into what seems like symptoms of the same issue while converting a project to typescript...

with..
    "@aws-amplify/ui-react": {
      "version": "0.2.14",

Having tried the following permutations, all giving something like the error below:
export default withAuthenticator(App, true);
export default withAuthenticator(App, {includeGreetings: true});
export default withAuthenticator({Comp

[2020-08-11 13:18] dibell commented on #4993
@sammartinez Can you explain how this is a feature request? Is there a way to make this function correctly now?

[2020-08-11 13:34] janhesters commented on #5167
Can't figure this out either. Happens on the browser.

I literally call:

[code]

[2020-08-11 13:36] sr-regify commented on #2611
Auth.user.username

[2020-08-11 14:07] sconway commented on #4957
@naripok I had this same issue (as well as the original issue @benjamin79 pointed out). My 'solution' for the initial datastore query returning an empty array was to make the query as early as possible in the application's lifecycle, which allowed the local datastore to be hydrated before any of the data was needed by the application. This seems like a pretty poor solution though. I don't understa

[2020-08-11 14:25] mezalejandro opened #6547 "Apple Signin"
**Describe the bug**
Hello everyone, I have an app made in react-native and they rejected me for not having login with apple.
I still could not get it to work, I wanted to know which way it should work using https://github.com/invertase/react-native-apple-authentication or using https://medium.com/@irwansyah/supporting-sign-in-with-apple-in-aws-amplify-8fdba766a4a like this?

Thanks

[2020-08-11 14:31] ianmartorell commented on #5435
Hey @ericclemmons, thanks for the work you're putting into getting SSR working! If I understood correctly, all the improvements that are being made to make Amplify work with Next.js will still require the final app to be hosted using Vercel, since Amplify Console doesn't support SSR. Is that right? Or how would this integrate with Amplify Console? I'm currently developing a React SPA that doesn't

[2020-08-11 14:50] maxflores commented on #6535
This is a major issue and I don't see a workaround. For those that depend on credentials with identityId, the entire amplify javascript library is rendered useless until this is fixed.

[2020-08-11 14:59] Saeger commented on #4430
Hi @katerinaonair , just came here to remind you that switching to "Legacy" isn't the best option other than bumping the lib to the latest version which fixes the issue.
The reason is, because the "Legacy" User Errors will send too much information from the Cognito pool endpoint, that could potentially make attacker's life easier. I know this sounds "too much preventive", but updating the library

[2020-08-11 15:18] m5r commented on #5435
Vercel is one way to host your app. You can leverage the [Serverless framework](https://www.serverless.com/blog/serverless-nextjs) or just host it wherever you want to by following [their docs](https://nextjs.org/docs/deployment#nodejs-server)

[2020-08-11 15:21] ChristopheBougere commented on #5435
@ianmartorell you can upvote this issue for amplify console support ;)
https://github.com/aws-amplify/amplify-console/issues/412

[2020-08-11 15:43] ianmartorell commented on #5435
@m5r Thanks for the Serverless blog post link! Although I'd really like to host my app with the Amplify Console since I'm already using Amplify for everything else. And going for a node.js server just because I need SSR when I've already gone the full serverless architecture route doesn't feel great :)

@ChristopheBougere Done!

[2020-08-11 17:53] IamManchanda opened #6549 "Support Nuxt.js (Vue) also along with Next.js (React) for SSR"
I looked at this milestone https://github.com/aws-amplify/amplify-js/milestone/26

Would request to please also support Nuxt.js along with Next.js for SSR

https://nuxtjs.org/
https://github.com/nuxt/nuxt.js

[2020-08-11 18:13] ericclemmons commented on #4681
Hi everyone,

I've been reviewing this thread this morning, and I could use your help.

The original problem (and [workaround](https://github.com/aws-amplify/amplify-js/issues/4681#issuecomment-583183852)) with Angular 9 prompted us to rewrite our UI components (starting with the Authenticator) to solve these issues:

_(The primary goal of this rewrite was to ensure Angular, React, and Vue version

[2020-08-11 18:13] #4681 closed

[2020-08-11 18:19] ericclemmons commented on #4958
Fixed via #5726

This will be released soon!

[2020-08-11 18:19] #4958 closed

[2020-08-11 20:03] ericclemmons commented on #3224
Hi everyone,

I looked into this as part of #5435 and, as others have correctly noted, `httpOnly` cannot be set on the client, but only from the server.

Because Amplify is aimed at frontend applications, we're restricted to what's available on the client-side.  Others (https://github.com/aws-amplify/amplify-js/issues/3224#issuecomment-582552254) have had success with having a server between the a

[2020-08-11 20:03] #3224 closed

[2020-08-11 20:14] amhinson commented on #6547
Have you checked out the docs for Social sign in? We've recently added a section for setting up Sign In With Apple: https://docs.amplify.aws/lib/auth/social/q/platform/js

Once that is configured, you should be able to use the Cognito Hosted UI with Apple: `Auth.federatedSignIn({provider: 'SignInWithApple'})`

[2020-08-11 21:35] johnschenk commented on #3410
Has anyone found a fix for this?

[2020-08-11 21:40] niclego commented on #3410
Yes i have found the solution.

swift api -opens-> an inapp browser.

browser navigates to a custom login web page you create and host yourself. then call the amplify js library login function from the web page.

Now you will need to handle storing of the jwt token yourself. but when a user logs out now you can delete the jwt token from the ios device manually.

Hope that helps b/c the solution wo

[2020-08-11 21:49] bernhardt1 commented on #3410
@niclego That's awesome. If you have a tutorial or followed guidance from anywhere else I'd love the link. Nice workaround solution!

I'll have to backlog your solution for a future release of my project though. It's a little further than I'm willing to go at this point.

[2020-08-11 22:06] johnschenk commented on #3410
@niclego Thanks for this. I will pass it along to my dev team!

[2020-08-11 22:11] ericclemmons commented on #5403
I'm reviewing #6448 now.

@adamup928 can you describe your scenario so I can test that as well?  It sounds like you have an app with `GraphQL.subscribe(...)`, close the lid, then get socket errors in the devtools' Network tab?

[2020-08-11 22:48] adamup928 commented on #5403
@ericclemmons - that's essentially correct.  We're establishing a subscription exactly as the docs specify [here](https://docs.amplify.aws/lib/graphqlapi/getting-started/q/platform/js#enable-queries-mutations-and-subscriptions) like so:

[code]

Then (at least on MacOS), close the lid, wait a bit for the system to hibernate (30 seconds or so) and then open the lid and note the socket errors in the

[2020-08-11 22:50] ericclemmons commented on #5403
@adamup928 That's a fantastic description! I have an example already doing something like that, so this should be a cinch to validate. Thanks again :)

[2020-08-12 01:16] RossWilliams commented on #6543
This occurs when you have "AllowAdminCreateUserOnly": true . I brought this up with the Cognito team 18 months ago. The response I got was that if an admin can invite the user the first time, they can use that same mechanism again to help out users in this situation.

Cognito API has a parameter ```MessageAction: "RESEND"``` on adminCreateUser to send users their credentials a second time.

[2020-08-12 01:57] mogarick opened #6552 ""Incorrect username or password" when calling Auth.signIn from jest automated test. Auth.signIn succeeds when called from UI or HTTP call"
**NOTE: See my comment from Aug 27th 2020 for an update. It's been narrowed to the Auth.signIn method.**

**Describe the bug**
Executing an automated test in jest confirming a new user via `adminConfirmSignUp` and then calling `Auth.signIn` fails with "Incorrect username or password" but if the same user and pass are used via HTTP authentication endpoint or application UI the signin succeeds.

**T

[2020-08-12 02:07] lauraalkhoury-youitv commented on #6543
@RossWilliams thanks for the background! that's really frustrating - it's one thing if there was an error code returned, but it fails silently. I'll make a workaround for now using ` MessageAction: "RESEND"`. Would be great if the Cognito team could revisit this, it makes for a really poor user experience.

[2020-08-12 02:09] RossWilliams commented on #6518
Do you need to use AppSync? You could run Apollo Server yourself.

[2020-08-12 02:19] RossWilliams commented on #6543
It fails silently now because "PreventUserExistenceErrors" is enabled by default for Cognito. If you set this to "LEGACY" (but be aware of security implications) the frontend can receive information that the user does exist (Error.code === "NotAuthorizedException") and can trigger a RESEND flow.

[2020-08-12 02:37] sakhmedbayev commented on #6518
Yes, we can use Apollo Server and we probably should. The reason we went with AppSync is that we wanted to leverage its graphql schema directives, e.g., `@auth`, `@connection` e.t.c. We are thinking of moving to Hasura as it provides similar functionality.

I would greatly appreciate it if you can demonstrate how I can solve the issue with the end-user belonging to different tenants (the issue tha

[2020-08-12 02:46] sakhmedbayev commented on #6518
Can anyone from Amplify or AppSync team response on how to solve the following issue with the current AppSync limitations:

1. we expect to have more than 50 tenants
2. we want  the end-users to be able to register using their email instead of username
3. the end-user can potentially belong (sign up) to multiple tenants, see my comments [here](https://github.com/aws-amplify/amplify-js/issues/6518#

[2020-08-12 02:49] imoby commented on #5687
this issue is still happening for me and adding the owner field didnt seem to fix it

[2020-08-12 03:15] imoby commented on #5898
I'm also wrestling with this very same issue currently and trying to go the route of manually setting the owner field, but I'm not sure what that should be when I add a new record. Is the owner field a property on the current auth? @undefobj

[2020-08-12 03:43] #6475 closed

[2020-08-12 06:15] BFUculsion opened #6553 "Auth.currentSession is not refreshing the idToken"
**Describe the bug**
A clear and concise description of what the bug is.
On my machine:
  return Auth.currentSession().then((sessionData) => {
      const now = Date.now();
      const { idToken } = sessionData;
      const remaining = (idToken.getExpiration() * 1000) - now;
      console.error(remaining);
      const expired = remaining < 1;
      if (expired) {
        console.error("Id token is

[2020-08-12 06:16] rpostulart commented on #5211
@renebrandel I am still having this error with this schema and using @aws-amplify/cli version: 4.27.1
[code]

[2020-08-12 08:13] janhesters opened #6555 "User authentication not persisted in browser: not authenticated"
**Heads up**
Opening this issue because all related issues seem to be closed WITHOUT an answer or solution for browsers, but many people face this problem.

Related issues:

- https://github.com/aws-amplify/amplify-js/issues/5167
- https://github.com/aws-amplify/amplify-js/issues/812

**Describe the bug**

Authenticating the user in the browser and directly calling `currentAuthenticatedUser` resul

[2020-08-12 08:46] janhesters commented on #5435
Tried the `@preview` versions of `@aws-amplify/auth` and `@aws-amplify/core` out with Next.js and I get:

[code]

with both packages. When I got into the `node_modules` and into `runtimeConfig.browser.js` and instead of importing the `name` and `version` from `package.json` I hardcode them, the code works. @ericclemmons  you might need to change the way you bundle these packages 🤔 .

[2020-08-12 10:31] RossWilliams commented on #6518
I'm running a multi-tenant system, although that phrase means many things...

You can have users belong to groups that include their tenancy, and use dynamic group auth. You can use the Cognito pre-token Lambda trigger to populate user groups inside the JWT Access token. This works well where group counts are reasonably bounded.

[code]

[2020-08-12 12:17] mevert commented on #3039
Hey, @iartemiev could you also check the related issue https://github.com/aws-amplify/amplify-js/issues/2692 and please let us know when we can expect the solutions coming?

[2020-08-12 12:46] mahayash315 opened #6556 "DataStore AuthStrategy is inconsistent with Amplify CLI"
**Describe the bug**
AuthStrategy defined in Amplify JS DataStore is different from that in Amplify CLI. This affects subscription behavior and seems to be causing the issue #5290.

**To Reproduce**
n/a

**Expected behavior**
The `authStrategy` `'group'` should be `'groups'` to match with Amplify CLI.

**Code Snippet**

*Amplify JS DataStore*

https://github.com/aws-amplify/amplify-js/blob/022d1a1

[2020-08-12 12:47] clahoud commented on #3876
@alexgelman Were you able to fix this flow? I'm facing the same issue

[2020-08-12 14:03] sakhmedbayev commented on #6518
@RossWilliams do the end-users sing up/register using their email or username in your system?

[2020-08-12 14:08] RossWilliams commented on #6518
They sign up with their email, but behind the scenes I set their username to be a permutation mixed with their tenant. That way I don’t have issues when users change their email address. Users don’t sign themselves up directly with Cognito, requests go through custom workflows.

Sent from my iPad

[2020-08-12 14:13] sakhmedbayev commented on #6518
Nice! I was thinking in the same direction. Can you demonstrate how you do that exactly or at least outline programming flow?

[2020-08-12 14:38] mynameisguy commented on #5646
🤷‍♂️

[2020-08-12 15:33] mogarick commented on #6552
I made another attempt by changing the user creation using `adminCreateUser` and then `Auth` `signIn`. Same result.
And as my other attempts, using the same created user via UI works just fine as I get directed to the new password view.

It's important to note that for UI I'm using my own UI version not the amplify UI and I'm using the same Auth.xxx calls that I'm trying to make for my automated t

[2020-08-12 16:03] duraz0rz opened #6559 "Add way to invalidate other sessions when the user changes their password."
**Is your feature request related to a problem? Please describe.**
We're implementing a custom forgot password flow on our web app and, while changing the password works fine, I would've expected other sessions to be invalidated. We have a mobile app that goes along with the web app and the mobile app stays logged in.

**Describe the solution you'd like**
I would like a way to be able to invalidat

[2020-08-12 17:09] cnorthwood commented on #6037
This has manifested itself fairly recently for me - we're seeing users go straight from signedIn to verifyContact after immediately signing in. We're working around it by forcing a full page reload after successful signed in to get the withAuthenticator in the same state. We can't just ignore verifyContact as that state is also used for changing passwords on first login.

[2020-08-12 17:15] karldanninger commented on #6318
Hey @amhinson does this help?

package.json dependancies:
[code]

[2020-08-12 17:17] amhinson commented on #6318
Are you using PubSub directly?

[2020-08-12 17:17] karldanninger commented on #6318
No, I'm not.

[2020-08-12 17:50] rahulgolwalkar commented on #3224
Thanks for the explanation
I was just wondering why Amazon.com themselves store the user access tokens in http-only cookies (assuming probably due to legacy reasons) - but even Facebook, Instagram, Google, Stripe, ... - all of them use http-only cookies to store user access tokens

As well - do understand, that HTTP-ONLY with "lax" do not protect you from XSS .. but also from the malicious fronten

[2020-08-12 17:57] ericclemmons commented on #5435
@janhesters Can you share more of your code & your Next.js version?  The demo app I'm running integration tests against uses `aws-amplify@preview` as a dependency to access the `withSSRContext` helper and haven't experienced that.

[2020-08-12 18:02] rurich-shiftpixy commented on #6327
I am facing this as well - almost identical scenario to the OP.

[2020-08-12 18:38] ch4r1y commented on #5036
Same error here

[2020-08-12 19:36] mezalejandro commented on #6547
Hi @amhinson I'm currently getting this when trying to log in:
invalid_request  invalid web redirect url

When open the browser the url is:
https://test.auth.us-east-1.amazoncognito.com/oauth2/authorize?redirect_uri=myapp%3A%2F%2Foauth%2F&response_type=code&client_id=xxxxxx&identity_provider=COGNITO&scopes=phone%2Cemail%2Cprofile%2Copenid%2Caws.cognito.signin.user.admin&state=1hDieceL9mF9fKOWgHQfo

[2020-08-12 19:38] undefobj commented on #5898
@imoby you don't need to populate the owner field in a `DataStore.save()` as it's automatically set in the service resolver code, you just need to add it to your schema as outlined above.

[2020-08-12 19:48] ericclemmons commented on #6148
@ankon I recommend using `@aws-amplify/ui-react@latest` with `aws-amplify@latest`.

The two projects work best in tandem when using `latest`.

[2020-08-12 19:52] abel30567 commented on #6468
I am facing this issue as well. As a workaround I replaced graphql endpoint on a cloudfront url (`https://graphl.my-website.com/graphql`) with the appsync url (`https://xxxxxxxxxxxx.appsync-api.region.amazonaws.com/graphql`) and the subscription started working

[2020-08-12 20:04] imoby commented on #5898
@undefobj hmmm that’s interesting because I’ve done that in my react native iOS app and I still can’t get the subscription to work at all across two devices with the same user signed in and the models have auth to only allow owner. Is this still a issue that needs to be fixed or maybe am I missing something?

[2020-08-12 20:10] undefobj commented on #5898
@imoby I'd recommend opening a new issue with your full code samples for someone to take a look at.

[2020-08-12 20:21] abdielou opened #6560 "DataStore cannot delete `hasOne` relationships"
**Describe the bug**
DataStore cannot delete `hasOne` relationships. It breaks at `IndexedDBAdapter.deleteTraverse` when trying to find the `recordToDelete` of the `HAS_ONE` relationType.

[code]

**To Reproduce**
1. Init Amplify. Add GQL API. Enable DataStore.
2. Define the Schema below 👇
3. Generate Models. Push API.
4. Create `Team` then create `Project` with `teamID`.
5. Delete `Project`.
6. E

[2020-08-12 20:29] kaden-weber commented on #4940
thanks @tkampour! Including   `access-control-allow-origin': '*'` in my lambda's response headers was the last thing I was missing.

[2020-08-12 20:30] abdielou commented on #6560
Here's a sample project to make it easier to reproduce.

https://github.com/abdielou/nextjs-amplify-hasone-bug

[2020-08-12 20:38] #6148 closed

[2020-08-12 20:41] abdielou commented on #6560
Here's also something that's a bit confusing. The generated schema (`src/models/schema.js`) seems not to be properly generated.

The GQL schema definition looks like this:

[code]

And this is the generated DataStore schema.

[code]

My question is, why isn't the association including the `targetName` as it was defined (`teamID`)? This would be a problem when trying to look up the correct ID for t

[2020-08-12 20:48] abdielou commented on #6560
@manueliglesias Tagging you here as it seems you implemented the bulk of this code.

I can happily help with a PR but I would need some direction as I am still not fully familiar with the underlying algorithm and architecture you guys have implemented in the DataStore.

**NOTE:** I understand `hasOne` relationships might be smelly when used with DynamoDB, but my specific use-case requires a `hasOn

[2020-08-12 21:06] ericclemmons commented on #6138
@mpgo13 You mentioned it works with a new user pool but fails for the existing user pool?  Just to confirm, have the spending limits been increased for Amazon SNS? (https://github.com/aws-amplify/amplify-js/issues/6344 had similar issues)

[2020-08-12 21:11] #4982 closed

[2020-08-12 21:22] Rolando-Barbella commented on #5167
To make sure  the user is actually full authenticated:

- Go to the AWS dashboard and click on Cognito ( make sure you are in the correct region )
- Click on Manage User groups
- Go to users and user groups ( left menu )

There you will see the list of user with the email verified or not, the user full verified once they have entered the verification code

![Screen Shot 2020-08-12 at 22 12 57](htt

[2020-08-12 22:13] shide1989 commented on #5036
@ch4r1y make sure you go through every configuration step on your Cognito Pool, specially the App Client settings.
I know Cognito can ben very tricky.

On the client side (it's not very explicit) you might want to check the oauth scopes

[2020-08-12 23:36] huihe commented on #4008
Any updates about this SDK issue?

[2020-08-13 00:23] mpgo13 commented on #6138
@ericclemmons SNS spending limits have been increased before this issue happened.

We only intend using `SOFTWARE_TOKEN_MFA`, is there any requirement to have SNS properly configured on the user pool to use `SOFTWARE_TOKEN_MFA` without actually using any SMS features ?

[2020-08-13 01:26] IvanCaceres commented on #4652
In addition to adding sorting for fields on a DataStore record (Ascending/Descending) for strings and integers, I think this would go in hand with offering full pagination functionality, where a length(amount of records) or total pages is returned in the dataresponse so frontend applications can integrate that into a Paginator.

[2020-08-13 01:59] aelbokl commented on #1145
This feature would be useful

[2020-08-13 04:18] minkasu-kuppusamy commented on #192
Same issue here. Have. you resolved it ?

[2020-08-13 04:43] akkravikumar commented on #5273
This working for me

[2020-08-13 07:30] d-corler opened #6566 "CognitoUser : wrong callback type for "getSession""
**Describe the bug**
Callback of function `cognitoUser.getSession` is wrongly typed.

**Expected behavior**
I suggest to use `NodeCallback` type instead of `Function`.

**Code Snippet**
Current version :
[code]

Suggested version :
[code]

[2020-08-13 07:55] aprilmintacpineda opened #6567 "Querying next pages using page numbers?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently, search query now returns a `total` which is the total number of rows there are, but the pagination is using `nextToken` which requires that you know the "id"/"value" of the starting position of the next page, this only allows yo

[2020-08-13 08:04] janhesters commented on #6555
After some digging in the code, I found a likely explanation, which could help to prevent this bug in the future.

It looks like `currentUser.setSignInUserSession(session);` is only called when the `config` from `aws-exports.js` contains an `oauth` key. This calls `cacheTokens` under the hood, which sets the user into `localStorage`. This ain't happening when you call `Auth.signIn` for some reason

[2020-08-13 08:17] janhesters commented on #6555
Another update: it looks like there is no session associated with the user. Maybe because I have MFA setup, but when I call `Auth.signIn` no MFA challenge is triggered 🤔  I neither get an Email nor an SMS ...

[2020-08-13 08:43] Necromancerx commented on #5646
up

[2020-08-13 14:44] Ivelraj1997 opened #6569 "In angular after configured aws-amplify. I can't open in IE browser facing issue of syntax error"
![image](https://user-images.githubusercontent.com/37973269/90148609-8152d400-dd51-11ea-89e3-c061cb529e40.png)

Angular version: 8
target: es5

Note: it is working fine in chrome and safari.

[2020-08-13 15:04] mogarick commented on #6552
I found a workaround.
I've debugged the amplify code and I noticed that the default `authenticationFlowType` is `USER_SRP_AUTH`. If I add `USER_PASSWORD_AUTH` to the `Auth.config(configParams)`, then the signIn works. Heres is the code snippet:

[code]
`USER_PASSWORD_AUTH` is the type I use for the HTTP call that works with the same user data that fails with the Jest test because I was receiving a

[2020-08-13 15:12] greatwitenorth opened #6570 "Sign up link still visible when component removed in React Native"
**Describe the bug**
When using React Native, the sign up link remains visible on the login screen despite removing the SignUp component.

**To Reproduce**
Steps to reproduce the behavior:
See code snippet below.

**Expected behavior**
I expect the sign up link to be removed if no SingUp component is present. Alternatively I expect a prop to control the visibility of the sign up link.

**Code Snip

[2020-08-13 15:26] MrHertal commented on #5898
Some update about this issue.
I still cannot use the DataStore with the @auth rules of my project.

I have the following schema:

[code]

After running `amplify codegen models` I manually remove the different auth rules in `src/models/schema.js` and I only keep the `owner` rule (see https://github.com/MrHertal/datastore-test/blob/master/src/models/schema.js).

`Company` works, I can list and get t

[2020-08-13 15:43] greatwitenorth commented on #3290
@lorensr I'm having the same issue. Did you ever find a solution to this?

[2020-08-13 16:49] jj0b commented on #3732
I also just discovered that if I use Amplify without the hosted UI that I'm not able to get scopes with the access token. This makes Amplify an unusable solution for me, as I expect it will for anyone else needing to use scopes to gate access to their resources.

I can get an access token with scopes from the Cognito authorization server so it seems it should be possible to have Amplify get them a

[2020-08-13 17:08] Dellybro commented on #6468
Ye actually that's what i ended up having to do, i guess a cloudfront URL doesn't work for a handshake anymore.

[2020-08-13 17:54] lorensr commented on #3290
No, sorry!

[2020-08-13 18:23] mauerbac commented on #5119
Hi all - sorry for the lack the communication here. Just spoke to team and this is currently being worked on. We are excited to roll this out.

[2020-08-13 18:40] yourGuy commented on #1972
It's a long thread and I still don't understand even the very basics
Does the refresh token expire? And if so what does that do ? Does it get refreshed? In my experience tokens seem to work after many days.
Finally is it possible to log out a user after the refresh token expires, presumably one day?
I mean is anybody even logging users out? Can you describe your flow?

[2020-08-13 18:41] mauerbac commented on #6404
hi @nathander - just brought this up with the team. At this time, we are working with the service team to support more format types. We will mark this as a feature request as we would follow-up with UI components to better support this.

[2020-08-13 18:44] masbaehr commented on #1972
A manual logout was/is always possible and it is not the problem of this issue.

You can just do Auth.signOut() from @aws-amplify/auth if you want to do a regular logout.

However it seems the user will never logout if you close the browser tab without clicking "logout". What you _can_ do is to reduce the validity to 1 hour in the cognito settings, but a much shorter timeout would be very useful

[2020-08-13 18:52] yourGuy commented on #1972
Right, I know about Auth.signOut(), what I'm looking for is any kind of relevant event triggered by amplify-js, to call it from.
Anything else to me spells: "Do it by hand and consider the million security concerns I ran away from to here in the first place"

[2020-08-13 18:54] tanner-west opened #6571 "Analytics.updateEndpoint() ignores channelType"
**Describe the bug**
In a React Native app, I am generating a push notification token and registering it to a Pinpoint endpoint using the following code. Since this project is in development, I need the channel type to be "APNS_SANDBOX"

[code]

This registers the endpoint, but the endpoint is registered with an "APNS" channel type. I can see this when I export segments containing the endpoints.

[2020-08-13 19:02] mauerbac commented on #3938
Sorry for the delay here @Cayce - to close the loop here the problem seems to be that if you change the polices after you sign-in then the existing creds will not be synced properly. At this point, we will move this to a new feature request to force refresh of credentials with updated role assignments.

[2020-08-13 19:19] AstroneCommons opened #6572 "Failed to fetch unauthenticated user on chrome"
**Describe the bug**
`currentCredentials` returns a `failed to fetch` error
due to net::ERR_BLOCKED_BY_RESPONSE

**To Reproduce**
Steps to reproduce the behavior:

1. call `Auth.currentCredentials() ` without being authenticated on chrome 84
4. See `error: Failed to fetch`

Debug logs

[code]

**Expected behavior**
Auth.currentCredentials should work with unauthenticated user

The error seems inco

[2020-08-13 19:25] mauerbac commented on #4155
This issue has been fixed here https://github.com/aws-amplify/amplify-js/issues/5860

[2020-08-13 19:25] #4155 closed

[2020-08-13 19:27] mauerbac commented on #4210
HI @warrify - it looks like this issue has been fixed. It has been verified. If you experience an issue related to this please open a new issue. Thank you

[2020-08-13 19:27] #4210 closed

[2020-08-13 19:28] mauerbac commented on #4008
Hi @huihe - thanks for following up on this. After reviewing this with the team, we will mark this as a feature request to properly address. Thank you

[2020-08-13 20:02] danrivett commented on #6453
Just an update on this, I created a sample application with this schema above, and I haven't been able to recreate the problem.

I haven't been able to spend much time on this sample application to understand why, as we have too much work on the real app currently, so I'll close this off for now, and reopen it if I can provide a recreatable example.

[2020-08-13 20:02] #6453 closed

[2020-08-13 21:10] gruckionvit commented on #3484
This is still an issue, disabling the analytics is not the right solution. Are there any status updates on this? Did anyone figure out what's causing it

[2020-08-14 01:39] srchulo opened #6573 "NotAuthorizedException Invalid login token. Couldn't verify signed token"
**Describe the bug**
I'm using amplify-authenticator for Vue, and intermittently when I go to my app I will get a not authorized exception. Then I refresh (I don't login again), and it works.

**To Reproduce**
I'm not sure exactly how to reproduce this. I run into it about 3% of the time.

**Expected behavior**
Authentication should not fail intermittently.

**Code Snippet**
I'm not sure what code

[2020-08-14 01:55] damonJang commented on #960
@GeorgeBellTMH
I agree with @GeorgeBellTMH

[2020-08-14 02:19] nlarif opened #6574 "Error : bot doesn't exist after adding with amplify add interactions"
**Describe the bug**

When adding Interactions (AWS Lex) via the Amplify CLI on a reactnative (Expo) project, the service doesn't get properly configured: the bot cannot be found (bot xxx doesn't exists)
Even when modifying manually the aws-export.js file with aws_bots_config (like the automatic config) or "Interactions": { "bots": {... like described in [documentation](https://docs.amplify.aws/li

[2020-08-14 03:13] michaelcuneo opened #6575 "Sapper + AWS, GraphQL No Cognito Identity Pool."
**Describe the bug**
I have an Amplify stack setup that I've been using successfully for months in a React.JS Project.

Just copied the aws-exports.js over to a Svelte project, and I can successfully perform a data retrieval, but it gets stuck with the following.

[code]

If I look into the network tab of Developer Tools, I actually have data returned from the GraphQL request, which is valid data,

[2020-08-14 04:11] srchulo opened #6577 "Slot for loading text for amplify-authenticator component"
**Is your feature request related to a problem? Please describe.**
After a user logs in, I see a "Loading..." flash in the top left.

**Describe the solution you'd like**
It would be great if there was a slot where we could put the loading content that we want, like the slots here:

https://docs.amplify.aws/ui/auth/authenticator/q/framework/vue#slots

**Describe alternatives you've considered**
I'

[2020-08-14 04:27] alucio-echen commented on #6037
I can confirm that granting read rights to the attributes in cognito and changing the line above to recognize "True" resolves the issue.

[2020-08-14 04:29] srchulo commented on #6573
I also have a har file for a failed request, but I don't know if posting that will contain sensitive data?

[2020-08-14 05:52] ravnarayan commented on #941
Here is the fix! Check out [link](https://github.com/aws/aws-sdk-js/issues/1084#issuecomment-382699312).

Go to:
AWS Console > User Pool > General settings > App Clients > Show details > Set attribute read and write permissions (Click them all (check them all off)), Mark your custom attributes.

[2020-08-14 05:56] aprilmintacpineda commented on #6567
I moved this to https://github.com/aws-amplify/amplify-cli/issues/5086

[2020-08-14 05:56] #6567 closed

[2020-08-14 07:26] YasunoriOka commented on #5926
@Jahans3
 I've had the same problem with schema.graphql.
When I edit schema.graphql and do an amplify push, the background DynamoDB is not updated.

[2020-08-14 07:59] ianmartorell commented on #4319
Wow, no answers? :(

[2020-08-14 09:59] 3dw1np commented on #4326
Any news about this ?

[2020-08-14 10:13] KristineTrona opened #6578 "Auth.currentAuthenticatedUser() returns different sub in user attributes than in idToken payload"
**Describe the bug**
Calling ``Auth.currentAuthenticatedUser()`` returns different sub values in ``idToken.payload`` and in ``attributes``

**Expected behavior**
The sub should be the same. Currently I am creating a user in database using the sub in ``attributes`` for the id. This causes issues as the id does not match the sub in Cognito console (cognito console user's sub matches ``idToken.payloa

[2020-08-14 10:18] ohnu commented on #5813
@manueliglesias I just run into this issue you described, any updates on this ?
(ps. maybe it makes sense to track it as a separate issue)

[2020-08-14 10:36] paulsjohnson91 commented on #6513
@RossWilliams can you please point me to where I can find this helper?
I've set up a user migration lambda script, and when I sign in with the following curl (with a user that hasn't been migrated yet)
[code]
Then I'm successfully signed in and migrated, however if I try to use amplifys sign in function, I just get incorrect credentials, and looking in the cloudwatch trails, as with the original p

[2020-08-14 10:46] AstroneCommons commented on #6572
Steps to reproduce:
1- use chrome after version 83
2- clear the cache
3- set the following response headers:
      -"Cross-Origin-Opener-Policy": "same-origin",
      -"Cross-Origin-Embedder-Policy": "require-corp"
4- Call Auth.currentCredentials()

the fetch will fail with net::ERR_BLOCKED_BY_RESPONSE
Everything works fine with firefox 79

This means that unauth authentication is not supported by

[2020-08-14 11:15] ianmartorell commented on #4319
Apparently you can catch the error with `Hub.listen`, but you have to register the callback before the `Auth` module processes the result from the redirect. Calling `Hub.listen` before `Amplify.configure` and logging the payload I got this in the console:

[code]

[2020-08-14 11:18] tuanardouin opened #6579 "Upload to encrypted S3 by a Cognito user respond with a 403"
**Describe the bug**
With CDK I'm trying to create :

- A private S3 bucket encrypted using KMS
- A Cognito user pool used in a VueJS front running on **Amplify**

I then try to access and upload some data in my encrypted bucket but get 403.

----

My theory is that my authenticatedRole policy is lacking the rights to use my KMS key to decrypt the file but I'm a bit confused.

I've seen this [post

[2020-08-14 12:03] amhinson commented on #3410
Marking this as a feature request, as the desired functionality regarding customizing the permission message and not requiring Facebook users to sign in doesn't currently exist. However, we are looking to improve this experience in the future!

With that said, If you would like to change the url that the permission request shows, you can do that via the Cognito console by adding a [custom domain](

[2020-08-14 12:15] RossWilliams commented on #6513
It sounds like you followed this documentation: https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-import-using-lambda.html

Best guess without seeing your code is that you are NOT using password auth. The default SRP auth will not work in this scenario. Check the network requests to Cognito and make sure the password is sent. Or check your configuration

[code]

[2020-08-14 12:27] MrHertal commented on #5898
I removed the subscription rule for `Company`:

[code]

Now the DataStore is working for both `Company` and `Call` !

I'm closing this issue.

[2020-08-14 12:27] #5898 closed

[2020-08-14 12:53] meducati commented on #5687
Ran into the same problem. This fixed it.

[2020-08-14 13:11] mezalejandro commented on #6547
In the cognito panel in aws I have the same apple services as the one created in apple with the url configured
![apple_error](https://user-images.githubusercontent.com/568141/90252586-21723100-de16-11ea-93f3-f9374237a557.png)

[2020-08-14 13:19] amhinson commented on #6547
Would you be able to go through all of the Apple setup steps (https://docs.amplify.aws/lib/auth/social/q/platform/js) again to verify everything is configured correctly?

I would specifically check that you have the appropriate user pool domains in the Apple Developer console for `Domains and Subdomains` and `Return URLs`, and also check that the URL Scheme is setup for your app in `Info.plist`.

[2020-08-14 13:34] amhinson commented on #6577
@srchulo It looks like there is a slot `loading` for the loading component. Does this work for you? https://github.com/aws-amplify/amplify-js/blob/main/packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.tsx#L177

[2020-08-14 14:03] mezalejandro commented on #6547
I have this url configured:
![Screen Shot 2020-08-14 at 11 02 05](https://user-images.githubusercontent.com/568141/90257532-b0cf1280-de1d-11ea-98c8-c2963a4b4407.png)

[2020-08-14 14:42] nathander commented on #6404
Hi @mauerbac - I don't _think_ I'm asking for support for more format types, I'm just trying to figure out how to generate an accepted format type in React Native. Is streaming the mic buffer to Amplify Predictions from React Native currently supported? If so, is there any code you could share?

[2020-08-14 15:09] amhinson commented on #6547
For the return URL it will also need `/oauth2/idpresponse` at the end

[2020-08-14 15:52] mezalejandro commented on #6547
I added the /oauth2/idpresponse
When entering my password I get the same error and I fixed the redirect url is this:
https://appleid.apple.com/auth/authorize?client_id=myclientid&
redirect_uri=https%3A%2F%2Ftyc-uat.auth.us-east-1.amazoncognito.com%2Foauth2%2Fidpresponse&

In xcode I have url scheme set.

[2020-08-14 15:58] srchulo commented on #6577
@amhinson that worked, thanks! Looks like maybe it just needs documented?

[2020-08-14 16:09] amhinson commented on #6577
Good call! We'll get this merged soon :)
https://github.com/aws-amplify/docs/pull/2244

[2020-08-14 16:09] #6577 closed

[2020-08-14 16:32] jfryerocv commented on #5435
@ericclemmons will this work if someone creates a completely static app with `next export`?

[2020-08-14 16:32] amhinson commented on #6547
Unfortunately it is a bit difficult to debug without seeing you're entire configuration, but here a few places to check and compare with the setup docs:
- Is `Sign In With Apple` enabled for the client? App Integration -> App client settings -> Enabled Identity Providers ? There is probably 2 app clients, so be sure to enable it for the web client.
- Do you have the scopes enabled in the Cognito c

[2020-08-14 16:33] ashika01 commented on #6404
@nathander The library you are using is the same one we are using while working on our docs. We went deep diving into this issue of PCM buffer while writing our docs and while this issue is opened. But there are trying couple of methods like finding a good library we could use to get it working and fork the library code and made some changes ourself. There is a good way as of now. We will be looki

[2020-08-14 16:40] ianmartorell commented on #5435
If you create a completely static app you don't need server side rendering anymore.

[2020-08-14 17:55] mdoesburg opened #6580 "DataStore upgrading from 2.2.6 to 2.2.7+ breaks realtime data"
**Describe the bug**
After upgrading the DataStore from version 2.2.6 to 2.2.7, the following error is printed in the console right after the DataStore is ready:

[code]

[DataStore version 2.2.7](https://github.com/aws-amplify/amplify-js/blob/main/packages/datastore/CHANGELOG.md) introduces some bug fix I need:
- @aws-amplify/datastore: call disconnectionHandler on subscription error

This issue

[2020-08-14 18:00] ericclemmons commented on #5435
@jfryerocv Yes, @ianmartorell is correct.  The majority of Amplify worked with Next.js' SSG since v3 was released earlier this year.

There is some work here to support DataStore within that environment, but otherwise the `withSSRContext` isn't needed at all for SSG.

[2020-08-14 18:28] ericclemmons commented on #5881
I was able to reproduce this, but it doesn't appear to be specific to low-powered phones.

For example, running a pubsub app on a Pixel 2 simulator with clock skew (5+ minutes added to the clock) yields the same result.

It's trickier to troubleshoot because it's through a websocket connection, so this might take some time...

[2020-08-14 19:49] ifmael commented on #5687
This works for the same user but I've tried with a different user and it doesn't work  is there any fix for different user?

[2020-08-14 19:51] ericclemmons commented on #5881
Confirmed this happens for web as well when the clock is skewed.  Likely the same underlying reason:

[code]

[2020-08-14 20:56] nathander commented on #6404
@ashika01 I appreciate the update -- thanks a lot for looking into this!

[2020-08-15 00:19] elorzafe commented on #6134
@ffxsam are you able to store data on the cookies domain you are trying to use `process.env.VUE_APP_COOKIE_DOMAIN`?

[2020-08-15 00:27] ffxsam commented on #6134
In this case, `VUE_APP_COOKIE_DOMAIN=mysite.com` (not the real domain). And the app is deployed via Amplify Console to v2.mysite.com.

[2020-08-15 00:32] asatvilker opened #6582 "Add a way to read text from file retrieved from s3"
**Is your feature request related to a problem? Please describe.**
When using amplify storage you can use method .get() and retrieve a file. If you use the parameter {download:true} you get an object returned. Using chrome on desktop you can use a method .text() which then returns a promise and when you resolve it you get the contents of the file as a string. Heres an example:

`Storage.get(‘welco

[2020-08-15 03:15] svreinoso opened #6584 "API.get(apiName, '/path') error in some devices."
Error message: Request failed with status code 403
Only happen in some physical devices, when I test with same user:password in other devices it works

The devices that I have tested are:
Motorola Moto G5S android 8.1
Samsung Galaxy J5 Prime android 7.0
Huawei p20 lite android 8.0

Not able to reproduce the issue in emulators

{"message":"Request failed with status code 403","name":"Error","stack"

[2020-08-15 08:18] getglad opened #6585 "DataStore with OIDC results in No federated jwt error"
**Describe the bug**
I have a GraphQL API with an OIDC provider configured with an `@auth` schema of
`@auth(rules: [{ allow: owner, provider: oidc, identityClaim: "sub" }])`

I also have a successful auth flow (far as I can tell) using `Auth.federatedSignIn` combined with Auth0 (code snippet below).

When I try to use the `DataStore.save` method, it saves locally but starts to throw `No federated

[2020-08-15 09:52] cameronrr commented on #6108
Schema auth rule
[code]
After codegen models and push, app reports the following error in the generated resolver:
[code]

[2020-08-15 10:10] RossWilliams commented on #6518
I don’t use the withAuthenticator helpers, everything is custom. The user signs up with a form, I validate data, query outside APIs to validate identities, use adminCreateUser and have Cognito send welcome emails with a temp password.

[2020-08-15 14:50] tom-huguenard opened #6587 "This XML file does not appear to have any style information associated with it."
In general, the underlying principle for Best Practices for AWS is "Never build infrastructure in the Console."

The suggested answer for the above error is "use the console to redirect to index.html," in order to support SPA.

As this is a violation of Best Practices, please add this capability to Amplify.

One ought to be able to add this redirect to a config file, etc. Best Practices for a Wiza

[2020-08-15 15:01] tom-huguenard commented on #6587
I guess it is fair to say that when a properly configured amplify deployment starts up, the app should "just work." This defect might be seen as a bug.

[2020-08-15 16:23] jschlechte opened #6588 "Case sensitive Content-Type header override may result in InvalidSignatureException"
**Describe the bug**
Attempting to override `Content-Type` header with all lowercase header key (`content-type`) will result in an `InvalidSignatureException` if a body is also supplied.

**To Reproduce**
1. Use `API` to make a POST w/ a body and `init.headers['content-type']` populated.

**Expected behavior**
HTTP headers ought to be case-insensitive

**Code Snippet**
[code]

Seems to be due to t

[2020-08-15 16:58] svreinoso commented on #6584
The issue was the time (hour) in those phones

[2020-08-15 16:58] #6584 closed

[2020-08-15 19:54] #5879 closed

[2020-08-15 19:54] #6032 closed

[2020-08-15 19:54] #6251 closed

[2020-08-15 19:54] #6496 closed

[2020-08-15 20:34] ecomonestop opened #6589 "Metrics from Analytics.updateEndpoint() not showing up in AWS Pinpoint"
**Describe the bug**
When I included the metrics object in a call to Analytics.updateEndpoint(), it is not showing up in AWS Pinpoint Segmentation; thus, I'm not able to use it.  However, in debug mode, I can see that Analytics.updateEndpoint() has the metrics object and is "successful", but since it doesnt show up in segmentation of Pinpoint, I dont see why this is "successful" as I cant use this

[2020-08-16 05:26] neojp opened #6590 "Can't theme amplify-loading-spinner icon with CSS variables"
**Describe the bug**
The `<amplify-loading-spinner>` icon's color is hardcoded to orange `#ff9900` which is the value of the CSS variable `--amplify-primary-color`. This color should be passed over from the theme's CSS as a variable.

If we were to set the CSS variable `--amplify-primary-color` to blue, the spinner should show up as that color. Right now it shows up as orange because the value is

[2020-08-16 06:45] wduminy commented on #6037
I added `email verified` to readable list,  then the UI worked as expected.  I did not make any code changes.

![image](https://user-images.githubusercontent.com/1571851/90328372-2e209180-df9c-11ea-9780-34b90e7f74f0.png)

[2020-08-16 07:13] hanzhaodeng commented on #4636
I can confirm having the same problem

[code]
Would fail with code 401 if using IAM and user logs in and won't fail if not logged in.
I am trying to just observe the log in status and swap authMode but that seems like so unnecessary and if this is not a bug amplify should still handle the switching.

[2020-08-16 08:18] benjeater commented on #2605
I was having this issue when using React Redux because the event wasn't set to persist.  Fixing the issue for me was as simple as adding `event.preventDefault();` to the form submit function.

[2020-08-16 13:05] benalexb commented on #4315
solved my problem, in Aug 2020 👍

[2020-08-16 17:47] getglad commented on #6585
To follow up on this - came across this on StackOverflow - https://stackoverflow.com/questions/62281582/appsync-oidc-with-auth0-as-authorisation-returns-unauthorised -  can confirm that it fixes. So that one is due to my Auth0 vs AppSync configuration and was easy to fix once the problem is understood.

So to summarize...

1) Setting `Cache.setItem('federatedInfo', { token: raw_token });` fixes th

[2020-08-16 18:28] jstrunk commented on #2286
Why doesn't this just work? The module is written in Typescript, but the build script does not include the declaration files. I tried adding `tsc --emitDeclarationOnly`,  but so far there are many errors. I'm going to try to work through them.

Are there any insights for why this module was written in Typescript but get built without the declaration files? This seems more like a bug than a feature

[2020-08-16 20:24] judygab commented on #1613
why it's not compatible?

[2020-08-16 20:26] judygab commented on #1613
can you provide and example of app or index file?

[2020-08-16 20:51] jgiunta1 commented on #3818
What about <AmplifyAuthenticator />? This doesn't seem to work with the new @aws-amplify/ui-react library

[2020-08-16 22:08] nickolanick commented on #6320
One approach might be the following - on the signUp page user enters the credentials and the confirmation link is sent to our email. Meanwhile, the user is going through the confirmation process, we can try to sign in once every second on the signUp page because we have the credentials in our client memory. The first few requests will fail, with an error of non-confirmation, but after our client c

[2020-08-17 00:50] srchulo commented on #6573
It looks like this is the API call that's failling:

https://docs.aws.amazon.com/cognitoidentity/latest/APIReference/API_GetId.html

And I can verify that the exact same request payload that fails, passes the next time when I refresh the page.

[2020-08-17 02:13] srchulo commented on #6573
And `amplify-authenticator` is letting me through to the app, so it thinks that the authState is `signedin`, but then getting the identity fails.

[2020-08-17 02:53] srchulo commented on #6573
I feel like this should maybe be caught/retried, since it seems okay on refresh, but if not, maybe authState could be changed to signout so that a user could get the login screen instead of an error?

[2020-08-17 03:01] jellydn commented on #4828
Hello there,

I am sorry to bring this topic again. I am working on the same issue. How we could recover the account if lost TOTP or change phone number? Thank you very much.

[2020-08-17 03:05] jellydn commented on #4828
By the way, from the documentation, I could see the guideline for how to remove the TOTP token

https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-settings-mfa-totp.html

![image](https://user-images.githubusercontent.com/870029/90353688-76fa4800-e079-11ea-9b70-0d08c5607e33.png)

Is that API ready to use or still in-plan? Thanks.

[2020-08-17 04:37] getglad opened #6592 "subscriptionError Connection failed ... Missing field argument owner when using OIDC"
#**Describe the bug**
When using `@auth (rules: [  { allow: owner, provider: oidc, identityClaim: "sub" }  ])`, receive `subscriptionError Connection failed ... Missing field argument owner` error message.

The reported error is similar to an ready reported bug (https://github.com/aws-amplify/amplify-js/issues/6108), but ultimately I believe my root cause is different, thus the fix is different.

[2020-08-17 04:38] getglad commented on #6108
I don't know how helpful (or not) this is to this thread, but while troubleshooting a similar (but ultimately different) problem, I found that DataStore swallows errors that might be produced while pulling creds, which means undefined vars get passed down as creds uncaught.

I think this creates a scenario where the logic that would otherwise throw and error message and short circuits the attempt

[2020-08-17 06:46] mpgo13 commented on #6138
What I noticed today:

* Logging in with one of the users who had definately activated MFA, didn't get MFA challenge
* After setting a new MFA device (using `set-preferred-mfa-settings` from API), the user finally got his MFA challenge again

[2020-08-17 07:01] gHashTag commented on #5926
@YasunoriOka I also have a problem all the same. The Data Store is not stable, so I temporarily abandoned it.

[2020-08-17 07:18] ianmartorell commented on #6320
I guess that approach would work in some cases, but it requires you to implement checking whether the user is now signed in repeatedly on the confirmation page. If you're simply redirecting after confirmation, then it's a race condition with the sign in requests. And what if the user closes the sign up browser tab? Or if they're on mobile, will the background tab still be able to send the requests

[2020-08-17 07:28] undefobj commented on #5926
Can you give some reproduction steps? There's clearly some edge case/workflow which you're hitting that other customers are not but we're unable to identity. Can you post some explicit schemas and steps in sequence?

[2020-08-17 08:23] user32-2 opened #6593 "Configure a local only datastore"
**Is your feature request related to a problem? Please describe.**
I would like to use datastore to store my local application's state as well as sync with my GraphQL backend. It would be great to be able to set a directive that specifies the datastore should be used only locally.

**Describe the solution you'd like**
It would be great to be able to set a directive that specifies whether the datas

[2020-08-17 09:13] bjornarhagen commented on #5926
I have the same problem, my data works fine locally, I got full CRUD, but it doesn't sync to the cloud at all.

I followed this guide: https://docs.amplify.aws/lib/datastore/getting-started/q/platform/js using the Amplify CLI.

If I go to `Amplify Console > All apps > MyApp > dev > Data sources` I can see a DynamoDB table created for my API, but the table stays empty. I get no error messages or an

[2020-08-17 09:36] etjenkins commented on #6530
Thanks for the solution, it does resolve it, however do we want to be targeting es5 when es11/2020 has been released. I know we can use polyfills but does this still not to be fixed properly in Amplify so it does work with the latest versions? Or is this more of an Angular compilation issue? I am still fairly new to working with the different ES versions and how they work.

[2020-08-17 11:51] vrunda-thacker commented on #2602
I too am facing similar problem, on importing some users via CSV, their account status shows as RESET_REQUIRED, when trying to login via Amplify, it returns NotAuthorizedException, Incorrect username or password.

How does frontend know that for this user password reset is required?

[2020-08-17 12:22] mishellnovosel commented on #2602
I actually do have a solution to "RESET_REQUIRED" after you click on it in Cognito ( NOT importing users ). I received the reset Code via registered user email ( I received it after few hours - and that caused the issue ).
With that Code and message "Password reset required for the user" I'm redirecting a user to "Reset password" screen where he enters the received code and new password ( same as

[2020-08-17 12:24] iartemiev commented on #5926
@bjornarhagen thanks for providing all that info. Is this for a React app or React Native?

Could you please add `Amplify.Logger.LOG_LEVEL = 'DEBUG';` to your `App.tsx` and then share the debug output here?

[2020-08-17 13:19] janhesters commented on #5435
@ericclemmons I tried both, running `@preview` and the stable one and both display that behaviour. Not using `withSSRContext` because we use sagas. Instead I use `Auth` but all the code is only called on the client-side.

[2020-08-17 13:24] bjornarhagen commented on #5926
@iartemiev this is a React Native app. I'm also using Expo.
Debug output: https://gist.github.com/bjornarhagen/4ceb2e2f8a9f86d6efc12073bb9faf4b

I noticed that it seems like only 1 of my 2 APIs is showing up in the debug. I have a REST API called `apimemorialpages`, the GraphQL API is called `SavedSearchApi`. The latter is the one I'm having issues with.

If I interact with the REST API I can see

[2020-08-17 14:11] getglad commented on #6585
One more follow up - my best guess is the issue is this line here - https://github.com/aws-amplify/amplify-js/blob/main/packages/datastore/src/sync/processors/subscription.ts#L260

Possible that `Auth` library is using a different write mechanism than `Cache.setItem` which produces the cache miss when `DataStore` pulls with `Cache.getItem`?

[2020-08-17 14:34] raghavendra-hashtaglearn commented on #473
I have been facing the same issue. I requested for a service quota increase in the ap-south-1 (Mumbai region) as my user pools were setup in ap-south-1 region.
I reached out to tech support at AWS with the same problem. They informed me that Mumbai region Cognito utilizes SNS from Singapore region (ap-southeast-1) to send the messages. They have suggested that I increase the limit in the ap-southe

[2020-08-17 14:55] undefobj commented on #5926
@bjornarhagen when you followed these steps to add an API, did you enable sync? It's possible that your API isn't sync enabled for DataStore.

[2020-08-17 15:42] abdielou opened #6595 "DataStore SYNC query builder does not allow/include filter by owner"
**Describe the bug**
The DataStore is not including the `owner` as part of the sync query. Unless this is a limitation on how AppSync implements/expects sync, I think this is a BUG and causes scalability issues.

**To Reproduce**
1. Install and init
2. Implement a simple schema with type having `@model` and `@auth`
3. Configure @auth to include owner
4. Configure DataStore

**Expected behavior**
T

[2020-08-17 16:31] abdielou commented on #6595
Let me expand on scalability. Since authorization filters are implemented on the Response Resolver, the result set to be filtered upon might or not include authorized items. Thus, the client can find itself getting 0 items after a sync event even though the actual query did hit 1k items, but the response resolver filtered them all out. By default the DataStore limits to 1k items for sync per page.

[2020-08-17 16:34] abdielou commented on #6595
The solution is simple, include a filter with the `owner`.

[2020-08-17 16:38] #3938 closed

[2020-08-17 17:01] joeltio opened #6596 "Storage get requests fails after changing host"
**Describe the bug**
I have a Cloudfront distribution in front of an S3 bucket. To create authenticated URLs, I use `Storage.get` to sign URLs against the S3 bucket, then I change the origin of the URL to Cloudfront's. So, requests are sent to Cloudfront but still signed for the S3 bucket.

I have tried this on AWS SDK and it works fine. However, when using Amplify, I get an error that the signatu

[2020-08-17 17:03] amhinson commented on #6492
Could you also share your `package.json`?

[2020-08-17 17:16] amhinson commented on #6535
Would you be able to provide some reproduction steps to show this behavior?

[2020-08-17 17:18] elorzafe commented on #3938
@Cayce can you try with the latest unstable version aws-amplify@3.0.24-unstable.11

[2020-08-17 17:20] amhinson commented on #6537
@imoby Would you be able to provide your `package.json` and some code snippets of your Amplify usage?

[2020-08-17 17:37] iartemiev commented on #6580
Hey @mdoesburg which framework are you using, e.g., React, RN, Expo?

[2020-08-17 18:32] amhinson commented on #6569
@Ivelraj1997 Could you share your package.json as well as any code snippets of your Amplify usage?

[2020-08-17 18:35] mdoesburg commented on #6580
@iartemiev React Native

[2020-08-17 18:36] iartemiev commented on #6580
@mdoesburg so you're using the RN CLI specifically, not Expo, correct?

[2020-08-17 18:47] mdoesburg commented on #6580
@iartemiev Yes, RN without Expo.

[2020-08-17 18:48] iartemiev commented on #6580
Got it, thank you. I will attempt to reproduce and will get back to you if I need more info

[2020-08-17 19:05] ericclemmons commented on #5435
@janhesters I'll check out https://github.com/aws-amplify/amplify-js/issues/6555, since that looks like the crux of the problem (and can be tested in CRA to reduce this being SSR-specific).

[2020-08-17 19:08] ericclemmons commented on #1613
For reference, this is in `@preview`:

[2020-08-17 19:29] janhesters commented on #5435
@ericclemmons I think #6555 might have a different reason though. I'll try and create a minimal setup for https://github.com/aws-amplify/amplify-js/issues/5435#issuecomment-672741212 soon 👍

[2020-08-17 19:30] khiner commented on #1690
Please reopen this ticket as this is still an issue

[2020-08-17 20:51] chai86 opened #6597 "@key not returning data in schema"
@elorzafe
Amplify v1.1.29

I'm trying to retrieve the id of the DynamoDB row that a particular unique userName resides in.

**Schema:**

    type Users @model
        @key(
           name: "ByUsername"
           fields: ["userName"]
           queryField: "getIdFromUserName"
        )
    {
      id: ID!
      userName: String!
      firstname: String
      weblink: String
      email: String

[2020-08-17 20:54] elorzafe commented on #6134
I am testing this now @ffxsam , I will keep you posted.

[2020-08-17 21:23] ericclemmons commented on #6555
@janhesters I just stood up a Next.js sample following your steps and was able to get things working successfully.

**However**, I noticed that after calling `signUp` and then `signIn`, I got an error indicated that the account hasn't been confirmed.  Once I added in a call to `Auth.confirmSignUp`, both `Auth.signIn` and `Auth.currentAuthenticatedUser` worked as expected:

I'd recommend giving htt

[2020-08-17 22:21] mikalai-okun commented on #6291
@amhinson I just get a response from Intuit support team, looks like they have limits on how long state could be.

Tried to set a `customState`, as, but did not work. my version of amplifyjs: `3.0.20`

[code]

Can you please assist on how to overwrite default state creation?

[2020-08-17 22:36] elorzafe commented on #6134
@ffxsam Maybe I am doing something wrong, but are you using Amplify console environment variables (those supposed by available only on build time). How are you configuring those variables on your app?

[2020-08-17 22:38] ffxsam commented on #6134
@elorzafe They're just env vars in `.env.<environment>`. When Amplify Console runs `yarn build --mode staging`, it uses `.env.staging` to set the env vars and bakes them into the build.

[2020-08-17 22:41] elorzafe commented on #6578
@KristineTrona when you used the previous version with the same user, which sub are you getting, the one from the idToken or the one from the user attributes?

[2020-08-17 22:43] elorzafe commented on #6578
@KristineTrona are you doing identity merging?

The user is authenticating with username and password or is doing federatedSignIn?

[2020-08-17 22:56] elorzafe commented on #6134
When I hard coded the domain `amplifyapp.com` on my app, it worked as expected however if I try to run the app on a different domain (`localhost`) I got the same error

[2020-08-17 23:21] sadooghi commented on #6492
{
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "start": "react-native start",
    "test": "jest",
    "lint": "eslint ."
  },
  "dependencies": {
    "@aws-amplify/core": "^3.3.3",
    "@react-native-community/art": "^1.2.0",
    "@react-native-community/datetimepicker": "^2.6.1",
    "@react-native-community/masked-view": "^0.1.10",
    "@react-native-firebase/admob": "^7.4.1",

[2020-08-17 23:22] sadooghi commented on #6492
@amhinson

{
"version": "0.0.1",
"private": true,
"scripts": {
"start": "react-native start",
"test": "jest",
"lint": "eslint ."
},
"dependencies": {
"@aws-amplify/core": "^3.3.3",
"@react-native-community/art": "^1.2.0",
"@react-native-community/datetimepicker": "^2.6.1",
"@react-native-community/masked-view": "^0.1.10",
"@react-native-firebase/admob": "^7.4.1",
"@react-native-firebase/analytics"

[2020-08-17 23:28] amhinson commented on #6291
It looks like the custom state just get tacked on to the end of the generated state, so that unfortunately doesn't help in this situation.
https://github.com/aws-amplify/amplify-js/blob/128527c6834bafe37b2f4c6c5fca9029b03a7e3d/packages/auth/src/OAuth/OAuth.ts#L82

However, I am not sure why the state is changing after the first request. You can see in the first URL of the screenshot you posted tha

[2020-08-17 23:39] amhinson commented on #6492
Are you using an API from Amplify? Could you post your configuration/usage as well? If not, could you explain more about your API?

Also, you can remove the `@aws-amplify/core` dependency, as it is already included in `aws-amplify`. Sometimes having different version in your package.json can cause issues. After removing it, I'd recommend deleting your node_modules and reinstalling.

[2020-08-17 23:44] mikalai-okun commented on #6291
@amhinson I'm not sure either, but it's not in my control, I raised this issue to the provide and unfortunately the only response I got - we should use smaller size state value.

Should I be raising a PR to allow entirely custom state?

[2020-08-18 00:07] ffxsam commented on #6134
@elorzafe Cool.. ? Does that mean you were able to replicate the issue? If not, I can take some time to set up a Vue reproduction for you. Let me know!

[2020-08-18 03:08] ajonp commented on #5926
Great suggestion, I forgot in my Angular app to add `Amplify.configure(aws_exports);`. I think it would be great to throw a warning when sync is not enabled.

[2020-08-18 03:57] maxflores commented on #6535
I used the Authenticator object from the aws-amplify-react library

After signing in with Facebook or Google using federated sign in (Cognito Identity Pool only), I see that the identity is created in my identity pool.

Then I call Auth.currentCredentials using Auth from the aws-amplify library

This works perfectly using aws-amplify@2.3.0 and aws-amplify-react@3.1.9. However, using the current ve

[2020-08-18 04:52] joeltio commented on #6596
Upon further investigation, I have found that the main difference between Amplify and AWS SDK is that Amplify signs using [authenticated query parameters](https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html) while AWS SDK signs using [authenticated headers](https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-auth-using-authorization-header.html).

However, I believe what

[2020-08-18 05:05] joeltio commented on #6596
Upon further investigation, I have found that Amplify and AWS SDK signs differently.

Amplify signs requests by using [authenticated query parameters][1] while AWS SDK uses a different method (I couldn't find any documentation on it).

AWS SDK produces a URL with the following query parameters:
[code]

As it is undocumented, I am unsure if this makes a difference.

[1]: https://docs.aws.amazon.com

[2020-08-18 05:13] #6596 closed

[2020-08-18 05:50] undefobj commented on #5926
@ajonp Does this mean that you no longer have the issue when enabling sync on your API?

[2020-08-18 06:30] bjornarhagen commented on #5926
@undefobj I did enable sync yes. If I run `amplify update api` and select GraphQL I only get the option to `Disable DataStore for entire API`

[2020-08-18 06:41] YasunoriOka commented on #5926
I found the cause of my case.

The schema.graphql should look like this
[code]

Use the DataStore to store it.
[code]

Modify schema.graphql.
Add "town".
[code]

When I try to save again in DataStore, it is not saved.
[code]

When I checked the Debug log, I got the following output
[code]

[2020-08-18 06:43] undefobj commented on #5926
Did you run modelgen again after modifying your schema and do a push?

[2020-08-18 06:45] YasunoriOka commented on #5926
@undefobj
Yes, I run "amplify push" and "amplify codegen model" every time I change schema.graphql.

[2020-08-18 07:10] YasunoriOka commented on #5926
@undefobj
I'm creating on Angular.

[2020-08-18 07:32] AstroneCommons commented on #6572
I check the amplify source code and imho the fetch call is done well. But i could have missing something.
This is most likely a chromium bug.
net::ERR_BLOCKED_BY_RESPONSE is a new dev-tool message for Cross Origin Blocked Response (CORB).
As far as i known, CORB should not be triggered by cors mode fetch.

[2020-08-18 07:56] jamesonwilliams commented on #6363
+1 @nubpro @mauerbac - if reproducible this is a bug. Update mutations should always affect the local data, regardless of the network state.

[2020-08-18 09:29] KristineTrona commented on #6578
@elorzafe I am not doing identity merging or using feredatedSignIn.  The user is signing up and initially being logged in using username and password, after that all authentication happens with CUSTOM_AUTH, where user authenticates using phone number and a code that is sent to it.

**Sign up**
[code]

I think it is some kind of caching issue, because I found how to reproduce the issue:
1. Create a

[2020-08-18 11:10] ajonp commented on #5926
@undefobj correct, It is now syncing. But without the debug I would not have even known.

[2020-08-18 11:50] AstroneCommons commented on #6572
**confirmed chromium bug**

[2020-08-18 11:56] Ivelraj1997 commented on #6569
![image](https://user-images.githubusercontent.com/37973269/90509853-9bd4e500-e177-11ea-833b-a4699a4ac73a.png)

Package.json

![image](https://user-images.githubusercontent.com/37973269/90509912-b73ff000-e177-11ea-881b-8241dd27f68a.png)

tsconfig.json

![image](https://user-images.githubusercontent.com/37973269/90509980-d179ce00-e177-11ea-9077-20074455ec8e.png)
polyfills.ts

![image](https://user-

[2020-08-18 13:23] joeltio commented on #6596
For the record, the problem was that I used the normal S3 domain name instead of the regional domain name in Cloudfront. But, Amplify signs with the regional domain name, so the signature does not match.

After updating Cloudfront to use the regoinal domain name it works fine

[2020-08-18 13:33] janhesters commented on #6555
@ericclemmons Thanks for trying to reproduce it, but no, the account is confirmed. Will built this up from scratch again and comment further below.

We can't (or don't want to) use `AmplifyAuthenticator` because we want to control the authentication using sagas, which is why we rely on calling `Auth` manually.

[2020-08-18 13:37] sandeep621 opened #6599 "Cognito mobile application signout URL is not working in ionic project"
Hi Team,

We are using cognito with Azure active directory. When we use the call back URL for mobile application as mobileManager:// it was throwing below error. sign in is working fine, but when we click on sign out button the below error is coming. could you please help us to resolve this issue ASAP.

[2020-08-18 14:38] IsaacTrevino commented on #5477
### **This should be well documented on the amplify auth library (overview) page. I assumed the Auth API Library handled all of this, of course I may have not read between the lines.**

[Amplify - Auth with AWS Doc](https://docs.amplify.aws/lib/auth/overview/q/platform/js#authentication-with-aws)
The above doc approach mentions "Authorization is often done in one of two ways" thus leading me to co

[2020-08-18 14:44] mezalejandro commented on #6547
Hello @amhinson I attach images of the configuration:
![Screenshot from 2020-08-18 10-24-39](https://user-images.githubusercontent.com/568141/90527656-27368200-e148-11ea-89d3-3b6bcb29b4b0.png)
![Screenshot from 2020-08-18 10-25-59](https://user-images.githubusercontent.com/568141/90527661-2998dc00-e148-11ea-84aa-59e314592ab3.png)

[2020-08-18 15:10] dberhane commented on #5435
It would be great to know if you have plans to support Next.js incremental static site generation and when?

[2020-08-18 15:41] amhinson commented on #6537
Could you also share your schema, or at least a minimal example for reproduction purposes?

[2020-08-18 16:03] abdielou commented on #6108
If your `@auth` directive has more than 1 owner, the DataStore will only pick up the last one.

That's what I said here: https://github.com/aws-amplify/amplify-js/issues/6108#issuecomment-667991419

I hypothesize that a workaround to this is custom resolvers, where you do the check on either `members` or `owner`. That's what the generated resolvers do when you specify multiple auth rules (eg: owne

[2020-08-18 16:35] iartemiev commented on #6580
Wasn't able to reproduce. Tried multiple sample apps on React Native and syncing is working correctly for me on @2.2.9

Could you please share your schema?

[2020-08-18 16:36] elorzafe commented on #6134
Yeah, what I meant is the issue should be with what domain is configured for cookie storage, which I think the problem is that environment variable domain as where the app is hosted. Can you verify that value on runtime?

[2020-08-18 17:17] hectorharvey commented on #6493
Please elaborate.  From my understanding the email should not be on the Access Token.  It should be on the Identity Token.  I am hitting the same security issue.

[2020-08-18 17:19] ericclemmons commented on #5435
@dberhane This PR supports both SSG & SSR!  If you're using the Amplify `API` category for your data, I believe `aws-amplify@master` will already work with SSG.  For a static site (SSG), `Auth` will happen on the client & should work as usual.

[2020-08-18 17:20] amhinson commented on #6547
Just curious, are Facebook and Google working as expected?

[2020-08-18 17:20] ericclemmons commented on #6555
@janhesters I understand not wanting to use `AmplifyAuthenticator` for the project, but I _do_ recommend giving it a shot to see if the sign-in flow works with that pre-built component.

I'm hoping that'll tell is one of two things: whether the problem is with the client-side flow, or if there's a configuration/service problem.

[2020-08-18 17:21] mezalejandro commented on #6547
Facebook and google work perfect

[2020-08-18 17:49] mrcportillo commented on #3591
+1

[2020-08-18 17:59] iartemiev commented on #5926
@bjornarhagen I see that you have `aws-amplify` installed as well as `@aws-amplify/datastore`. That's likely causing a conflict. Please try the following steps:
[code]
Change your import statement to
[code]
Then run your app again. Let me know if that helps or if you're still having the same issue

[2020-08-18 18:09] ffxsam commented on #6134
Sure, let me take a look and I'll get back to you soon. Thanks!

[2020-08-18 19:01] The0racle commented on #6000
@amhinson  What do we do until then?

[2020-08-18 19:21] atyshka commented on #728
+1 on this. Would like to see more of the functionality from the js sdk such as shadows make its way into amplify.

[2020-08-18 20:31] kbokarius commented on #4580
Kudos for fixing the null issue. We have one User Pool that works with Apple Sign In (for staging), but when we created a new user pool for production, we now get this error with a real iOS device:

`error_description=Invalid+user+attributes%3A+name%3A+The+attribute+is+required%0A+&error=invalid_request"`

Similar to the one in the post above but with email instead of name. We user pools are confi

[2020-08-18 21:21] swaminator commented on #4652
@IvanCaceres for pagination check out these docs: https://docs.amplify.aws/lib/datastore/data-access/q/platform/js#pagination

[2020-08-18 21:30] #6597 closed

[2020-08-18 21:31] IvanCaceres commented on #4652
@swaminator I've worked with that documentation on Pagination however it's insufficient for front-end applications implementing Paginators (where you'd like to have a list of buttons/dropdown for navigation to all pages or a specific page). This is because the Datastore paginated data response doesn't send back length information on the quantity of pages / length of total records.

This compounds

[2020-08-18 21:32] maddockst commented on #5486
Is there any update on this? We too are blocked by `clientMetadata` not being available in the event. It's really causing us issues, while other triggers are working perfectly.

[2020-08-18 21:44] iartemiev commented on #5926
@YasunoriOka which version of Angular are you using?

[2020-08-18 22:16] wrightkris commented on #6252
Fixed by #6429

[2020-08-18 22:16] #6252 closed

[2020-08-18 22:52] fjolin-intuit commented on #6291
@amhinson Intuit limits the size of redirect URLs for security reasons.  Would you be able to improve on the customState feature to help reduce the character count?  Or is there an upper limit that can be defined?

[2020-08-18 22:59] khanson98 commented on #4900
This issue exists for me, I have remade the User Pool multiple times and can't determine a particular cause

[2020-08-18 23:00] khanson98 commented on #6552
I have a similar issue but it is with CUSTOM_AUTH as well

[2020-08-18 23:02] ffxsam commented on #6134
Super weird. It works now, and I don't believe I changed anything! Unless something else I've modified had an indirect effect. Very odd.

[2020-08-19 00:26] undefobj commented on #4652
@IvanCaceres sorting is under active development at this time. We have a finalized design and are working through implementation in the coming weeks.

[2020-08-19 00:30] IvanCaceres commented on #4652
Thank you guys for your work, you're champs 🏆

[2020-08-19 04:03] user32-2 commented on #6529
This is due to the fact that the mutation needs to include all the fields that are in the subscription.

[2020-08-19 04:09] mikeRChambers610 commented on #5764
It is very unfortunate that the appsync team cannot maintain the sdk. Lots of frustration online about this since people dont generally want to rebuild an entire app structure.

Moving from graphQL apollo to datastore does not seem to be an option if you need to update resolvers to do batch mutations, query @searchable location, refetch queries etc.

I am very disappointed with the direction of ab

[2020-08-19 05:45] dfang opened #6603 "[ui-react] it should be easy to add custom fields in SignUp form in hosted UI"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when i want to add a simple custom field (role with select or radio button) to sign up field with HOSTED REACT UI.

**Describe the solution you'd like**
easy to add any custom field type to sign up or sign in form

**Describe alternatives you've considered**
i try to extend AmplifySignout in my custom_signup.j

[2020-08-19 06:10] rarous commented on #6104
There should be a way to not pull the `@aws-amplify/storage` dependency into bundle if I'm not using S3 components. Every S3 component has unnecessary dependency on storage (630KB) when only album actually uses it. Also loader.mjs is not configurable to simply ignore those components and registers all even if I'm using just a few.

[2020-08-19 09:43] oahmaro commented on #5435
is there a specific deadline for this PR? i am planing to use amplify with Next JS for my upcoming project and would like to know if this would be ready within 1 or 2 months? if so this would help me a lot as i can start implementing my business logic and UI, and add amplify once this PR is merged.
Really appreciate the work you guys are doing here.
Thanks.

[2020-08-19 10:16] jaivinodha opened #6604 "Not receiving the confirmation code after signup when the usernameAlias="phone_number""
**Describe the bug**

Not receiving the confirmation code to mobile after signup when the usernameAlias="phone_number" though it creates an entry in the cognito user pool with country code

but usernameAlias="email" is working fine and im receiving the confirmation code to my email

**To Reproduce**

import React from 'react';
import { AmplifyAuthenticator, AmplifySignUp, AmplifySignIn } from '@aw

[2020-08-19 10:28] jeyashankher commented on #1578
Quick question: Wouldn't cognitoIdentityId be the safer choice to index users in, say, DynamoDB tables because the user could be from a non-Cognito Auth Provider (such as Google/Facebook)? For these non-Cognito users, sub doesn't exist, right?

[2020-08-19 11:23] bjornarhagen commented on #5926
@iartemiev I removed the possible conflict as you suggested and imported `{ DataStore }` from `aws-amplify`. Then I did a clean expo build, but nothing changed. The sync still doesn't work.

I did however stumble upon `API` and `graphqlOperation`, and it works*.
[code]

*When I try to delete I just get this error and it doesn't get deleted from dynamodb:
I actually get the same error when I create

[2020-08-19 11:41] raywhiteside commented on #1852
https://github.com/aws-amplify/amplify-flutter

[2020-08-19 13:00] iartemiev commented on #5926
@bjornarhagen I'm not sure that is preventing the sync from taking place, since the sync performs a graphql query operation. You could try performing some of the operations in `src/graphql/queries` to see if you encounter errors with those.

In the debug output you shared the other day, I don't see anything being logged from the DataStore category. Could you please start your app, clear the logs,

[2020-08-19 14:38] bjornarhagen commented on #5926
@iartemiev I just did a `npm remove aws-amplify` and then installed it again. Which for some reason somewhat fixed it.
However I'm still getting the same error as with the GraphQL operations: `An internal error occurred`.

And on Android I'm getting

(Saw setTimeout with duration 300000ms)

Logs:
https://gist.github.com/bjornarhagen/7bcac6af0ac920e9c428e064407d9b9f

[2020-08-19 14:44] jaivinodha commented on #6434
Could you please share the solution ? im also facing the same problem

[2020-08-19 15:00] amhinson commented on #6604
On the 2nd to last screenshot under the `Which attributes do you want to verify?` section, there should be another section with the header `You must provide a role to allow Amazon Cognito to send SMS messages`. Do you have a role created?

[2020-08-19 15:16] jaivinodha commented on #6604
its there, sorry i have missed to attach it
![image](https://user-images.githubusercontent.com/69211611/90653618-090e7600-e25d-11ea-90ae-568bdec14dcc.png)

[2020-08-19 15:23] iartemiev commented on #5926
@bjornarhagen most likely there were still conflicting datastore dependencies in your node_modules.

Can you try performing a query via the AppSync Console?
In your terminal execute:
[code]
Then log in and run a query like:
[code]
Let me know if you get an error there as well.

[2020-08-19 15:24] sadooghi commented on #6492
removing `@aws-amplify/core` solved the issue thank you.

Only note is aws-amplify 3.0.22 imports core by default, 3.0.23 did not for me.

[2020-08-19 15:25] sadooghi commented on #6492
closing this

[2020-08-19 15:29] Anton2501 commented on #6434
In my case, I've had cleaning LocalStorage in another component, so data, related to Cognito, was cleaning up after every page refreshing

[2020-08-19 15:30] amhinson commented on #6604
Ah ok thanks! Could you also check if you have requested a spending limit increase from Amazon SNS? (see yellow box in 2nd to last screenshot)

[2020-08-19 15:36] amhinson commented on #6547
It sounds like there just might be some configuration off in the Apple setup since those are working as expected. I know I said it earlier, but I would go through the [docs](https://docs.amplify.aws/lib/auth/social/q/platform/js) one more time to confirm that every step and value are accounted for.

Also, could you try changing the `Apple services ID` to your app's bundle ID to see if anything cha

[2020-08-19 15:40] amhinson commented on #6569
One small note is that you shouldn't need to import `@aws-amplify/ui-components` because it is already a dependency of `@aws-amplify/ui-angular`.

With that said, where else are you using Amplify in your project?

[2020-08-19 15:41] sadooghi commented on #6492
reopening just for the last point i.e. 3.0.23 didn't import core automatically.

[2020-08-19 15:43] amhinson commented on #6492
Could you elaborate a bit on what you're seeing? `@aws-amplify/core` is a dependency of `aws-amplify` so it should be getting used. I'd also recommend deleting your node modules and reinstalling.

[2020-08-19 15:46] sadooghi commented on #6492
I did uninstall and reinstall all packages but when I did 3.0.23 app crashed saying dependencies core was missing, did the same with 3.0.22 but it worked.

[2020-08-19 15:47] amhinson commented on #6492
Are you importing anything in your project directly from `@aws-amplify/core`? If so, you can now just import it from `aws-amplify`

[2020-08-19 15:50] LucasAndrad commented on #2873
@jamesiri did you succeed with this approach? If yes, could you share your solution?

[2020-08-19 15:51] sadooghi commented on #6492
I am not (after removing core), but maybe it's just my own issue?

[2020-08-19 15:53] jaivinodha commented on #6604
I haven't . should i ?
because when i test it withAuthenticator(App) , im getting the sms successfully during signup without increasing the spending limit

[2020-08-19 16:04] amhinson commented on #6604
Ah interesting! If its working there, I'd assume it should work when using `AmplifyAuthenticator` as well. Adding the `Amplify UI Components` label for triaging.

[2020-08-19 16:09] amhinson commented on #6604
@jaivinodha Also for clarification, when you say `withAuthenticator` worked as expected, was that from `@aws-amplify/ui-react` or `aws-amplify-react`?

[2020-08-19 16:50] jaivinodha commented on #6604
Hi, Even in withAuthenticator Im not getting sms right now, it has stopped ,May be i have generated a lots of otp during testing.  So i believe i should increase my limit. Thanks, i will do it and let you know :). once again thank you so much

[2020-08-19 20:24] guibernardino commented on #6494
I'm not sure if he can handle any scenario.

The current solution depends on the response header of the request.
https://github.com/aws-amplify/amplify-js/blob/main/packages/core/src/Util/DateUtils.ts#L62
[code]

But for requests that return error 4xx, axios does not return the response object.
https://github.com/axios/axios#handling-errors
[code]
https://github.com/axios/axios/issues/960

[2020-08-19 20:32] Chibuzor44 commented on #3109
@CaryLandholt your solution rescued me, thanks

[2020-08-19 21:24] #6492 closed

[2020-08-19 22:03] #5029 closed

[2020-08-19 22:23] novusli commented on #4908
Don't know if this would help. This actually solved my problem:
[code]

Source Link: https://docs.amplify.aws/lib/auth/emailpassword/q/platform/js#re-send-confirmation-code

[2020-08-19 22:59] tiomno commented on #2552
Nothing to do with the issue here. 😅

This is just to point out the security issues of using `localStorage` for sensitive data. You should use server-side storage for sessions and the like. As @powerful23 mentioned here https://github.com/aws-amplify/amplify-js/issues/2552#issuecomment-454877997 you could go and check https://aws-amplify.github.io/docs/js/authentication#managing-security-tokens

P

[2020-08-19 23:22] Rouche01 commented on #6329
Please, I need a working solution for this issue. I have tried all the methods I have seen here and on the documentation and none of them seem to work

[2020-08-19 23:48] lindachenau commented on #6329
@Rouche01 I was hoping someone from the amplify team can offer a solution. Unfortunately no one answer it.

[2020-08-20 00:05] Chibuzor44 commented on #1302
I was having the same problem, this solved it for me.

[code]

[2020-08-20 06:19] urfnaino commented on #6239
@ashika01 Any update on this?

[2020-08-20 06:27] cameronrr commented on #5339
The x-amz-content-sha256 header is required for all AWS Signature Version 4 requests. It provides a hash of the request payload. **If there is no payload, you must provide the hash of an empty string.**

Source: https://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-header-based-auth.html

In your first argument to sign() your headers should include the following (the hash of an empty string):
[co

[2020-08-20 06:38] bjornarhagen commented on #5926
@iartemiev Yup, same error:
[code]

[2020-08-20 06:46] undefobj commented on #5926
If this is happening from the console then it sounds like there's an issue with the generated resolver code. @bjornarhagen what is the exact schema and process you followed to create your backend? If there's a resolver codegen issue we would like to reproduce this.

cc @renebrandel

[2020-08-20 06:50] bjornarhagen commented on #5926
@undefobj I just edited my comment and added a link to the schema.
The back-end was automatically setup by the amplify cli. I just did `amplify add api`.

Can a permission issue for my IAM user cause this kind of error?

[2020-08-20 06:52] undefobj commented on #5926
This looks like something else than auth. Out of curiosity did you convert your resolver to a pipeline? Also can we see the VTL templates?

[2020-08-20 07:25] bjornarhagen commented on #5926
@undefobj
All I have done is use these commands:

`amplify add api`
`amplify push`
`amplify codegen`
`amplify codegen model`

Here's the API that was generated: https://github.com/bjornarhagen/aws-amplify-troubleshooting

[2020-08-20 08:04] Rouche01 commented on #6329
Hopefully, they will offer a solution soon

[2020-08-20 08:45] bjornarhagen commented on #5926
@undefobj @iartemiev
I think I found the problem!

In my schema I have notificationType.
[code]
I was using DataStore to save this:
[code]

In DynamoDB this showed up like so:
[code]

If I instead save one of my enums or just `null` it works!
Maybe a more helpful error message for this scenario can be implemented?

Thank you so much for the help, appreciate it! 😄

[2020-08-20 09:05] alastair-todd opened #6606 "Create auth challengeMetadata does not show up in the signIn response"
**Describe the bug**
When setting:

[code]

in the Cognito create auth lambda, the property does not show up in response from the call to `Auth.signIn`, which returns:

[code]

As you can see I can probably work around it using the challenge parameters, but I was expecting to see `challengeMetadata  `in the response.

The property [is documented here](https://docs.aws.amazon.com/cognito/latest/dev

[2020-08-20 13:16] lkowalski-smartbusiness commented on #6037
@wduminy You sir deserve a beer! You've saved me hours upon hours of investigation and fixed an extra bug on my side where I didn't "check" a custom attribute as readable and was wondering why it's not updating accordingly.. Pure joy!

[2020-08-20 14:25] iartemiev commented on #5926
@bjornarhagen glad to hear that it's working now! Technically, you should be able to use `[]` there, so this might be a bug. We'll confirm and will work on a fix if it is.

[2020-08-20 14:28] Rouche01 commented on #6329
@lindachenau I found a solution to work around this problem using the 'amazon-cognito-identity-js' npm package.

`import { CognitoUserAttribute, CognitoUserPool } from 'amazon-cognito-identity-js';
const poolData = {
  UserPoolId: 'pool_id',
  ClientId: 'client_id'
};

const userPool = new CognitoUserPool(poolData);
const attributeList = [];
const attribute = {
    Name: 'nickname',
    Value: 'jo

[2020-08-20 14:31] Rouche01 commented on #6329
@lindachenau I found a solution to work around this problem using the 'amazon-cognito-identity-js' npm package.

[code]

You can check out the npm usage documentation to understand its usage more clearly

[2020-08-20 14:39] iartemiev commented on #5926
@gHashTag could you please provide more info on the issue you're having? What has changed between now and when sync was last working for you? If you have an updated branch, let me know and I'll dig into it.

[2020-08-20 16:08] rsousa commented on #960
Following the recommendations above I added one more statement to the "S3AuthPublicPolicy.Properties.PolicyDocument"  :
`{
    "Effect": "Allow",
    "Action": [
      "s3:PutObjectAcl"
    ],
    "Resource": [
        {
            "Fn::Join": [
                "",
                [
                    "arn:aws:s3:::",
                    {
                        "Ref": "S3Bucket"

[2020-08-20 18:22] mlabieniec commented on #1852
Thanks for everyones patience while we work on this. We've launched our developer preview!

Here is the announcement blog:
https://t.co/dyevhq9hxP?amp=1

The repo:
https://github.com/aws-amplify/amplify-flutter

And our roadmap/RFC:
https://github.com/aws-amplify/amplify-js/issues/1852

Thanks again and looking forward to your feedback on the roadmap, implementation, and contributions!

[2020-08-20 18:22] #1852 closed

[2020-08-20 18:27] mauerbac commented on #6595
hi @abdielou - thanks for reaching out. Would you be able to share the schema that you are using here? What is the default auth mode that you are using ?

In the meantime, this workaround might be helpful -> https://github.com/aws-amplify/amplify-js/issues/5687#issuecomment-631185661

[2020-08-20 18:37] abdielou commented on #6595
[code]

[2020-08-20 18:41] abdielou commented on #6595
Adding the `owner` field won't help anyway. The code does not consider ownership when building the SYNC query.

[2020-08-20 18:41] mauerbac commented on #6592
hi @getglad - thanks for using datastore and taking the time to provide detailed reports. This seems like a duplicate of the problem you described [here](https://github.com/aws-amplify/amplify-js/issues/6592). I will close this issue.

The team will use the other issue to discuss a proper solution.

[2020-08-20 18:41] #6592 closed

[2020-08-20 18:41] mauerbac commented on #6585
As noted, will mark this as need discussion. Thanks @getglad

[2020-08-20 18:45] mauerbac commented on #6595
Thank you for providing this. To understand the full picture, it would be helpful to know the default auth mode you are using?

[2020-08-20 18:46] mauerbac commented on #6580
ping @mdoesburg

[2020-08-20 19:15] mauerbac commented on #6488
Hi @nubpro - Just discussed with the team. First, can you to validate that this is a still an issue with our recent changes? Second, we need to check internally on reducing or customizing this timeout window.

Also, after the reconnection happens on the client a sync process starts, so this should ensure that no data is lost. Can you confirm that this is the case?

[2020-08-20 19:18] mauerbac commented on #6534
Confirmed docs have been added -> https://docs.amplify.aws/lib/datastore/datastore-events/q/platform/js

[2020-08-20 19:24] abdielou commented on #6595
Oh, apologies I did not understood the question. I had selected Cognito User Pool.

<img width="591" alt="Screen Shot 2020-08-20 at 3 23 18 PM" src="https://user-images.githubusercontent.com/1036734/90815692-15e0a780-e2f9-11ea-9c3b-26521a3efe0b.png">

[2020-08-20 19:27] mdoesburg commented on #6580
@iartemiev @mauerbac Sure! Is there a way for me to share it privately?

[2020-08-20 19:33] mauerbac commented on #6101
Hi @coooldevops - we just took a look at your issue. Would it be possible to get the schema.graphql file to get a better understanding of your issue?

[2020-08-20 19:58] getglad commented on #6592
I would probably argue that this is actually a different issue involving the use of Buffer - different from read/write location of the token - related sure but even if the token storage were to be fixed the Buffer invocation would fail

[2020-08-20 20:25] sw-yx commented on #6534
@mauerbac  the docs are a stopgap - this is a feature request for a first class api that doesnt involve Hub.

[2020-08-20 20:49] SumindaD commented on #612
Why this issue is being closed? it's a much needed feature.

[2020-08-20 20:57] jefelewis commented on #3703
Was anyone able to get an auth channel/subscription to keep track of the `currentAuthenticatedUser`? Below is how I am trying to do it, but my AWS auth channel is not working. I'm coming from Firebase, so below is an example of a working saga to keep track of the user.

**Firebase Saga (Working):**
[code]

**AWS Saga (Not Working):**
[code]

**Index:**
[code]

[2020-08-20 21:08] abdielou opened #6611 "DataStore.save incorrectly sends the whole item when Updating"
**Describe the bug**
The **DataStore** incorrectly submits all properties when updating. On the surface, this might not seem like an issue, but **Automerge** can damage list fields.

**To Reproduce**
Suppose you have **Multiple authorization rules**, where you have an `owner` and an array of `editors` ([as described here](https://docs.amplify.aws/cli/graphql-transformer/directives#multiple-authori

[2020-08-20 21:08] abdielou commented on #6611
The solution would be to only send updated fields.

[2020-08-21 00:11] lindachenau commented on #6329
@Rouche01 Thanks so much for this solution. I'll try it out.

[2020-08-21 02:30] healthlake commented on #5416
any solution yet? I got the same error after installation and using S3 Image Picker

[ng] ERROR in ./node_modules/@aws-amplify/ui-components/dist/esm/Translations-dbe7c89e.js 112:67-83
[ng] "export 'AuthErrorStrings' was not found in '@aws-amplify/auth'