[2018-12-18 18:25] aldo-roman opened #2378 "Cannot generate presigned URL for AWS KMS-managed encrypted files"
**Describe the bug**
If a file is AWS KMS-managed encrypted, an error is thrown while opening the generated presigned URL.

Error is a flag should explicity declare `signatureVersion: 'v4'`

**To Reproduce**
Steps to reproduce the behavior:
1. Create an AWS KMS-encrypted file in S3.
2. `S3.get()` to that file.

**Expected behavior**
Presigned URL should work as expected.

**Screenshots**
If applic

[2018-12-18 18:34] RobertNg1125 commented on #2186
I run into the same situation where I want to open URL when user tap the notification message.

My workaround is:
1 - when `PushNotification.onNotification` triggered, save the link using AsyncStorage
2 - when the app comes into "active" mode for the first time (meaning when user click on the notification), open the link on the browser using `Linking.openURL()`, then empty the AsyncStorage value a

[2018-12-18 19:13] matamicen commented on #2186
The problem ls when you have Many notifications, then the user tap any of them and the app May be open a different  link.

[2018-12-18 19:17] RobertNg1125 commented on #2186
@matamicen Right, this temporary workaround will just pick up the latest notification link.

[2018-12-18 19:53] rustyconover opened #2380 "AWS Credentials file preferred over Cognito credentials when using API in node.js"
**Describe the bug**
When using the API Gateway calling functionality credentials supplied by aws-sdk are preferred over the Amplify obtained credentials.

Using node.js this is a common.  The credentials obtained via Cognito should be preferred.

When ~/.aws/credentials does not exist:
[code]

When ~/.aws/credentials does exist.
[code]

This is also likely related to #1999.

**To Reproduce**
Step

[2018-12-18 20:02] UnleashedMind commented on #2364
I have pasted the bug to the amplify-cli repo
https://github.com/aws-amplify/amplify-cli/issues/602

[2018-12-18 20:14] jordanranz commented on #2350
I like this idea. Let me test out a way to pass in autoPlay and autoLoad props to override the default behavior.

[2018-12-18 21:35] powerful23 commented on #2339
That's mainly caused by this change: https://developer.android.com/about/versions/oreo/background

[2018-12-18 22:37] jordanranz commented on #2366
This is a feature request that is currently on the Sumerian team's backlog. Once the change is made on their end we can add the functionality to the Amplify code. The proposed solution is to add the region inside of the sceneConfig downloaded from the Sumerian scene publish. I'll send an update to this issue when we have made progress here.

[2018-12-18 22:43] powerful23 commented on #2363
@NikoMontana can you provide some code snippets about how you sign in and then call the auth-only mutation?

[2018-12-18 22:50] jordanranz commented on #2312
A stop() or pause() needs to be exposed by the sceneController loaded by the Sumerian API. I'll make note of this feature request and work with the Sumerian team to come up with a path forward on this. Will update this issue when I have new information.

[2018-12-18 23:01] haverchuck commented on #2329
@michaelcuneo  I'm digging into this.

[2018-12-18 23:03] matamicen commented on #2339
@powerful23  Yeah, it make sense ... Tapping a notification and open the APP  is a super core task of engagement for any APP ....  any ideas to solve that problem?
Thanks!

@pribadi1st

[2018-12-19 00:44] UnleashedMind commented on #2364
This issue is already solved in the latest version of the multienv
0.2.1-multienv.12.
Could you please update the cli and confirm?

[2018-12-19 00:47] elorzafe commented on #2375
@mikeskiddle I couldn't reproduced your issue.

This is my App code, and my chrome didn't crash. How are you configuring Amplify? Are you using custom storage?
[code]

[2018-12-19 03:29] builtbyproxy opened #2382 "Auth.currentCredentials not persisting for socials"
**Which Category is your question related to?**
- Authentication

**What AWS Services are you utilizing?**
- Amplify

**Provide additional details e.g. code snippets**

Hello

I am using aws-amplify in my react-native app and it works as intended for our userpool integration. By that I mean, if we call `Auth.signIn(username, password)` then use the app as intended there is never an issue.

However

[2018-12-19 04:10] kentbarber commented on #2223
Would you be able to include an example in the docs that shows exactly how to set the storageOptions for the component. For people like myself who are new to Angular and Amplify?

<amplify-photo-picker
    path="pics"
    storageOptions = ???????
    (loaded)="onImagePreviewLoaded($event)"
    (picked)="onImageSelected($event)">
</amplify-photo-picker>

<amplify-s3-album
    path="pics"
    option

[2018-12-19 07:11] builtbyproxy commented on #2382
Im sorry to whoever comes across this issue in the hope of an answer,
Our solution was to upgrade 1.1.17

[2018-12-19 07:11] #2382 closed

[2018-12-19 10:18] TOPS-Aman opened #2383 "AWS Cognito Hosted UI - How to allow an EXTERNAL_PROVIDER user to create password?"
Cognito - Hosted UI

In Cognito, is there any way where I can allow a user (Account status: External provider) to create a password for their account and do login using username and password. I am using a Hosted UI.

Consider a case where a user logged in using the Google sign-in method and the user pool has a user entry. I have given the user a preferred username and email options to sign in. but

[2018-12-19 11:05] haimLeibovitc opened #2384 "AWS Amplify - terminates session when there is no user activity (making api calls, etc.)"
I'm using the AWS-Amplify library in my single page application. The user login is managed by Amazon-cognito.

Client - API requests contain JWT (header - Bearer Authentication).

Server side(node.js) - receives the token and validates it (via jsonwebtoken).

This works well to the point that there is no user activity for a long period (over an hour).

I simulated this scenario. In my client side

[2018-12-19 15:33] bsberry commented on #500
@annjawn I'm seeing the same thing. Very inconvenient.

[2018-12-19 17:41] tmjordan commented on #825
Hi, i have succeeded to get tokens in my app from cognito hosted ui. Now i want to load them into amplify Auth module. So i put those tokens in cache manually using AsyncStorage.  It works only at app launching if the user is already signed in. But after that, if i try to call again any Auth method for example Auth.currentSession(), it's not working. I'm trying to understand what the problem is. S

[2018-12-19 17:43] tmjordan commented on #825
Is it possible to explain how amplify Auth module, uses tokens stored in cache for authentication?
An example of code

[2018-12-19 17:59] powerful23 commented on #2339
@matamicen I have sent a pr to fix this issue.

[2018-12-19 18:04] matamicen commented on #2339
Thanks @powerful23 !!

[2018-12-19 18:17] haverchuck commented on #2160
@mrcoles The dial code bug should be fixed in our @unstable build (or rather, it will be fixed shortly once the deployment finishes).

[2018-12-19 18:40] manueliglesias commented on #394
Closed by #2284

[2018-12-19 18:40] #394 closed

[2018-12-19 18:40] manueliglesias commented on #1869
Closed by #2284

[2018-12-19 18:40] #1869 closed

[2018-12-19 20:11] haverchuck commented on #2380
@rustyconover  At this time we do not support Node.js usage of the Amplify library; however, we understand that there is demand for such support and are discussing it.

[2018-12-19 20:11] #2380 closed

[2018-12-19 21:03] wollerman commented on #2197
@undefobj I was looking to use only the Cognito User Pools without Hosted UI or Federated Identity. I was imagining having a button like "sign in with Google" which redirects back to my app. It looks like the second link you posted does that? I might have glossed over it being unfamiliar with React (I'm using Angular).

I'll definitely give that a shot. Thanks!

[2018-12-19 21:07] jocactus opened #2388 "Amplify with Angular Universal - ReferenceError: window is not defined"
**Describe the bug**
I cannot compile and serve my Angular Universal application.
I have the following error during the compilation:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create an Angular project `ng new amplify-universal`
2. Install Universal `ng add @nguniversal/express-engine --clientProject amplify-universal`
3. Install Amplify as describe in the [documentation](https:/

[2018-12-19 21:40] jangwonsuh commented on #1025
I was having a similar problem and I found a way to get the topic from the data.

`const topic = data.value[Object.getOwnPropertySymbols(data.value)[0]]`

I did not know what Symbols were until I cam across this article: [](https://www.keithcirkel.co.uk/metaprogramming-in-es6-symbols/)

Let me know if this works for you!

[2018-12-19 22:07] powerful23 commented on #2089
@salimhamed sorry to be late. I am currently working this issue. The code you posted should work as when `Auth.signIn()` returns, Amplify will get an authenticated credentials in the background. Can you make sure you are using the latest version? Also you can turn on the debug mode: `window.LOG_LEVEL='DEBUG'` in your app to get the debug info.

[2018-12-19 22:12] powerful23 commented on #2089
@ahmetcetin to make this issue clear, the feature wanted is to transfer the unauthenticated identity id into the authenticated one at the first time when the user signs in. Because as I know you cannot assign the unauthenticated identity id to a user who already has an authenticated one. So this case can only happen when the user first signs in.

[2018-12-19 22:13] #2339 closed

[2018-12-19 22:19] elorzafe commented on #2384
@haimLeibovitc how are you passing the JWT to make API requests? Can you share a code snippet?

[2018-12-19 22:50] #2378 closed

[2018-12-19 23:19] elorzafe commented on #2378
Hi @aldo-roman thanks for your pr, is already merged on master branch. You can test it on our latest unstable (aws-amplify@1.1.18-unstable.0) meanwhile we do new release.

[2018-12-20 04:40] MatteoGioioso opened #2389 "currentAuthenticatedUser bypassCache true not working"
**Describe the bug**
When I try to change user email the status of
`signInUserSession.idToken.payload.email_verified` should be false. On the AWS console it actually is. So it is correctly working.

However, when I call:
[code]
the
`signInUserSession.idToken.payload.email_verified`

is still true

**Expected behavior**
I am expecting to retrieve the current updated changes as stated from the docs

[2018-12-20 07:35] haimLeibovitc commented on #2384
Just wanted to mention that it works perfectly fine to the point that there is no user activity for a long period.

try {
   const { jwtToken } = user;
   const response = await fetch(url, {
        headers: {
            Authorization: `Bearer ${jwtToken}`
        }
    });
    const data = await response.json();
    const { catalogCategories } = data;
} catch (err) {
    Logger.log(err);
}

[2018-12-20 08:57] engharb commented on #825
@tmjordan I tried to explain the solution in my previous comment.

[2018-12-20 09:14] tmjordan commented on #825
@engharb Yes i see.  I found a way to implement that and now it's working.

[2018-12-20 09:36] mevert commented on #1378
We are also facing this similar issue and it came out of nowhere for our users today. Our config is following:
`Amplify.configure({
    Analytics: {
      AWSPinpoint: {
        appId: config.pinpoint.APP_ID,
        region: config.pinpoint.REGION,
        mandatorySignIn: true
      },
      ...
    }`

For now we will take Pinpoint out from production and replace it with some other useful user a

[2018-12-20 10:38] tmjordan commented on #825
If it can help someone, here is the example of code that i used.
It uses Expo to open the web browser.
If you don't use expo, you can adapt the code to open the browser in a different way
You must also have to install or import the Buffer library ( npm install --save Buffer).
And finally you must adapt the authData const, to fit your environment.

[2018-12-20 10:38] tmjordan commented on #825
`import React from 'react';
import { View, Text, Linking, StyleSheet, TouchableOpacity } from 'react-native';
import { Auth } from 'aws-amplify';
import { StorageHelper } from '@aws-amplify/core';
import { WebBrowser } from 'expo';
import { Buffer } from 'buffer';

const storage = new StorageHelper().getStorage();

const authData = {
    ClientId: 'your_app_client id'',
    AppWebDomain: 'https://

[2018-12-20 10:40] ahmetcetin commented on #2089
@powerful23 right, it's exactly as you describe.

[2018-12-20 11:43] tmjordan commented on #825
Here is another example using Expo AuthSession

`import React from 'react';
import { View, StyleSheet, Button } from 'react-native';
import { Auth } from 'aws-amplify';
import { StorageHelper } from '@aws-amplify/core';
import { AuthSession } from 'expo';
import { Buffer } from 'buffer';

const storage = new StorageHelper().getStorage();

const authData = {
    ClientId: 'your_app_client_id',

[2018-12-20 12:50] loganwedwards commented on #1025
@jangwonsuh Thanks for the suggestion. It's not working for me, although I am still using `0.3.4` of Amplify and that might be the issue. The article on Symbols was interesting. Thanks for the share. I will work on updating my lib to a post 1.x release and try your suggestion again.

[2018-12-20 13:32] NikoMontana commented on #2363
@powerful23 sure!

**App.js**
[code]

**index.js**
[code]

**aws-exports.js**
[code]

**IAM Auth Role (createTask - not working)**
[code]

**IAM UnAuth Role (getTask - working)**
[code]

[2018-12-20 13:55] engharb commented on #825
@tmjordan I would utilize aws-cognito-auth to store the tokens instead of doing that by myself
[code]

[2018-12-20 14:11] NikoMontana commented on #2363
I think I **might** discovered the problem. I checked the cognito attributes and saw there is no option checked for login? Error must come from amplify/cli auth configuration.

<img width="1180" alt="grafik" src="https://user-images.githubusercontent.com/30150915/50289536-72772980-0469-11e9-800e-4f1bf8b4a068.png">

[2018-12-20 14:51] wowMuchgit commented on #2317
I would like to add that this problem also occurs with Auth.completeNewPassword()

[2018-12-20 17:20] budmitr opened #2390 "User pool groups policies not applied"
I have authentication and storage set for my app.

I want to have **admin** group in my user pool which has access to all private storages

I created a policy and a role which allow access to `s3:::mybucker/private/*` resources

This role is attached to user pool group which my user is also assigned to

**EXPECTED**

- I login in my app with `administrator` user, which belongs to `admin` group
- I

[2018-12-20 17:37] chriszirkel commented on #1252
I want to be able to query data on the frontend web app depending on the some user id (cognito username or identityId) and I want to insert new data from my backend lambda function. Both options sound possible, but I have the following concerns:

1) enabling unauth access means that possibly everyone on the frontend could call my APIs, so I cannot be sure that only my lambda function is calling th

[2018-12-20 17:53] Chinna12345678 opened #2391 "aws-mobile-react-native-starter: Invariant Violation: Invariant Violation: The navigation prop is missing for this navigator"
**Describe the bug**
Looks like we need to define appcontainer directly if we use React-Navigation 3.0.

and the code in this master repository is based on react navigation 2.0 or lower and this is the reason the code is broken and not working anymore.
debugging is very difficult , need to look at each and every JSON file to resolve the issues.

Can someone review all the JSON files and how the Ap

[2018-12-20 18:00] jkeys-ecg-nmsu opened #2392 "LexRuntime no longer installed as dependency of Amplify. "Can't resolve 'aws-sdk/clients/lexruntime' in @aws-amplify/interactions/lib/Providers""
**Describe the bug**
When upgrading AWS SDK for JS and Amplify to the latest version with `npm i aws-sdk@2.9.0` and  `npm i aws-amplify@latest`, I get an error that:

 `Module not found: Error: Can't resolve 'aws-sdk/clients/lexruntime' in '/.../node_modules/@aws-amplify/interactions/lib/Providers'`

**To Reproduce**
Steps to reproduce the behavior:
1. Install aws-sdk with `npm install --save aws-

[2018-12-20 18:17] joemewes commented on #1541
@sachita011993 this what you're after? https://blog.jsecademy.com/how-to-authenticate-users-with-tokens-using-cognito/

[2018-12-20 18:38] elorzafe commented on #2392
@jkeys-ecg-nmsu aws-sdk@2.9.0 is from 2 years ago, probably that doesn't have lexRuntime, aws-amplify has aws-sdk as dependency (2.329.0). I suggest to not include aws-sdk as a dependency of your app. Let me know how it goes.

[2018-12-20 18:53] tmjordan commented on #825
i tried that, but it didn't work for me

[2018-12-20 18:59] tmjordan commented on #825
@engharb you can get the redirect url which contains the tokens from the web browser, and then pass it to your method.

[2018-12-20 19:12] jkeys-ecg-nmsu commented on #2392
@elorzafe My app is embedding a Sumerian scene that uses Amplify's version of aws-sdk, will Sumerian still have access to aws-sdk (without tree-shaking away all the services I need in Sumerian) if it's not a direct dependency?

[2018-12-20 19:14] elorzafe commented on #2392
You can import aws-sdk like this (the one that uses amplify library)

[code]

[2018-12-20 19:45] NikoMontana commented on #1252
I went with exactly this approach (IAM) and gave this whole lib up.

 https://github.com/aws-amplify/amplify-js/issues/2363#issuecomment-449011422

[2018-12-20 20:36] 4thjuly commented on #2072
I have maybe the same issue (or maybe different).

Following Getting Started (for React Native) on a Mac:

amplify init (works)
amplify add analytics (using defaults, works)
amplify push (spinning forever at "Updating resources in the cloud")

The last few lines in the console before spinning:
[code]

[2018-12-20 20:54] salimhamed commented on #2089
@powerful23 Thanks for the reply!  Yes, I'll make sure I'm on the latest version and turn log_level to debug, then report back.

[2018-12-20 21:08] willkara commented on #2368
@haverchuck

So I can confirm it WILL build with:

`ng build --prod
`
with the following settings in angular.json

[code]

I am importing the services like this:

in main.ts:

[code]

In a service class:

[code]

It still fails when I try building with aot enabled:

[code]

Just to check, I also tried importing the Auth module and got the same kind of error.

[2018-12-20 21:20] powerful23 commented on #2363
@NikoMontana sorry about all those frustrating experiences you had. We will continue improving our code and doc to make it better.

I can help answer some of the questions you have.

Suggestion: When the user created the user account in the user pool, the sign in flow would be a little different with the normal one:
[code]

Suggestion: as documented in https://aws-amplify.github.io/docs/js/authent

[2018-12-20 23:11] #2228 closed

[2018-12-20 23:57] haverchuck commented on #2368
@willkara - I'm able to build with `ng build --prod --aot`, but I'll keep digging into this issue.

[2018-12-21 00:18] svstartuplab commented on #1089
I have no config mismatches in my ID pool setup or in JavaScript Amplify.configure({
  Auth: {...}    It was working fine for the Cognito services api.  My admin app had full CRUD with Cognito users.  Now I get this error.  Frustrating.

[2018-12-21 00:39] willkara commented on #2368
@haverchuck , I'll try and experiment with a minimal app and see if I messed it up anywhere. Thanks for looking into it.

[2018-12-21 01:41] willdady commented on #2296
@powerful23 once the app launches my initial components triggers various API requests to API Gateway using the API client provided by Amplify. I don't call `Auth.currentCredentials()`. I am working on the assumption that Amplify _just works_ and knows how to deal with intermittent network access.

As described above I think there needs to be a better way of dealing with the case where the `refresh

[2018-12-21 01:56] svstartuplab commented on #1089
My fix.  I nuked the ID Pool and started over.  Setup new new roles for unauthenticated and authenticated but with the same role policies in IAM has the previous roles.  Then magically it worked.

[2018-12-21 02:01] willkara commented on #2368
@haverchuck got it working! I had to get rid of all references to the AmplifyService & AmplifyComponents to get it working.

So now, all I do is the initial setup in main.ts and import the individual parts (api, auth ...etc) in the respective services/classes.

[2018-12-21 04:54] TOPS-Aman commented on #2383
Any update on this?

[2018-12-21 07:19] pribadi1st opened #2395 "How to show push notification pop up on foreground state"
** Which Category is your question related to? **
Push Notification
** What AWS Services are you utilizing? **
AWS-Amplify, Pushnotification , Pinpoint
** Provide additional details e.g. code snippets **
i can show the notification both on ios and android, but I want to know why do you guys use a condition
`if (!isForeground) {
            Application applicationContext = (Application) context.get

[2018-12-21 07:21] pribadi1st commented on #2186
how about using onTappedNotification ?

[2018-12-21 07:22] pribadi1st commented on #1988
is this on android or ios ?

[2018-12-21 07:36] bightg30098 commented on #1025
@jangwonsuh Thanks! It works.

[2018-12-21 08:56] ykbryan commented on #1852
+1

[2018-12-21 13:53] danieleleto commented on #2279
Hi, excuse for the delay.

I've enclosed the code into the getSession method

function AUTH_GetUserAttributes() {
    AUTH_UserPool.getCurrentUser().getSession(function (err, session) {
        console.log(session);
        session.getUserAttributes(function (err, result) {
            if (err) {
                alert(err.message || JSON.stringify(err));
                return;
            }

[2018-12-21 15:18] YikSanChan commented on #2113
Can you please show a code snippet on how to

[2018-12-21 17:13] dabit3 commented on #2113
@YikSanChan Sure. In the request mapping template of the mutation where you would like to store user information, you could add aline before the `putItem` operation that looks something like this:

$util.qr($context.args.input.put("userId", $context.identity.sub))

[2018-12-21 18:58] elorzafe commented on #2388
Hi @jocactus you should add this polyfills.ts
```(window as any).global = window;```

https://aws-amplify.github.io/docs/js/angular#angular-6-support

[2018-12-21 19:01] jocactus commented on #2388
Unfortunately, this step is already done.

[2018-12-21 19:11] RedHatter opened #2397 "Use Storage server side"
I have an app using Amplify for authentication and storage. Everything works great client side. The user can sign in and get/set S3 objects. The problem is that I need to use Storage server side as well. I pass the `jwtToken` as a header but don't know how to use it with Storage.

    // Client side
    Amplify.configure({
      Storage: {
        region: 'us-west-1',
        bucket: '...',

[2018-12-21 19:50] danludwig opened #2398 "Alternatives to local storage for Auth credential persistence in a SPA?"
** Which Category is your question related to? **
Amplify.Auth

** What AWS Services are you utilizing? **
Cognito User Pools

** Provide additional details e.g. code snippets **
After successfully logging in using amplify in a spa, the idToken, accessToken and refreshToken are stored in local storage. I realize there is an advantage to this in that these credentials survive a full page reload. Ho

[2018-12-21 20:04] powerful23 commented on #1378
Sorry for the late response. I will work on a fix in the next few days. The root cause of the issue is that the endpoint id is cached in the local but might be expired/removed for some reason and thus a new one will be generated which will increase the number of endpoints per user. I am going to call this api:  https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/Pinpoint.html#getUserEndpoints-

[2018-12-21 21:59] elorzafe commented on #2397
@RedHatter

Can you try this?

[code]

[2018-12-22 00:01] elorzafe commented on #2398
@danludwig You can provide your own storage object when you configure auth. Take a look to [this
 information](https://aws-amplify.github.io/docs/js/authentication#managing-security-tokens)

[2018-12-22 00:15] elorzafe commented on #2397
@RedHatter I found a problem with aws credentials while testing that code (that was fixed with pr 2399). Can you try amplify latest unstable version (1.1.18-unstable.3) with this code?

[code]

You wont need to configure Auth if you set credentials that way

[2018-12-22 04:47] cliffordh opened #2401 "Large JavaScript build"
I have the latest aws amplify code. I've run "amplify add storage", "add auth", "add hosting". However, the final javascript includes GraphQL.  Is it possible bundle only the components that I'm using and not pull in other pieces like GraphQL? Note, I am using this with Vue.js.

[2018-12-22 05:17] #2392 closed

[2018-12-22 06:22] #2358 closed, assigned to nobody

[2018-12-22 06:57] YikSanChan commented on #2113
Thank you very much! Finally, I am able to solve this problem by editing the response template mapping  of `searchItems` resolver.

Before:
[code]

After:
[code]

[2018-12-22 06:57] #2113 closed

[2018-12-22 10:02] abiodunjames commented on #399
I'm facing this same problem using `Auth.federatedSigin` with google sign in. `Auth.currentCredentials` returns an object that can not be used to used to access resources on AWS

[2018-12-23 00:44] neonguru commented on #2388
I see the problem occurs (server side where there is no window object) because window is not defined in the following file, line 472:
node_modules/aws-amplify-angular/dist/src/components/interactions/chatbot/aws-lex-audio.js

The app is trying to load AmplifyService when this happens.
Which is loading the following in order:
AmplifyAngularModule
./node_modules/aws-amplify-angular/dist/src/componen

[2018-12-23 05:48] holtc opened #2402 "Angular Amplify Authenticator 'hide' attribute does not work"
**Describe the bug**
The `hide` input property does not work on the `<amplify-authenticator>` component

**To Reproduce**
Steps to reproduce the behavior:
1. set `[hide]` to `['Greetings']`, and after successful sign in, the greetings page still shows.
2. set a breakpoint in the `shouldHide` function in `authenticator.component.core.ts`, and you will see that `hide` is set to `[]`

**Expected beha

[2018-12-23 05:53] holtc opened #2403 "Create signInConfig similar to signUpConfig for <amplify-authenticator>"
**Is your feature request related to a problem? Please describe.**
It would be great to have a `signInConfig` similar to the `signUpConfig` attribute to customize the names of the fields shown in the sign up form.  For example, the UI currently prompts for `Username`, but my app uses emails to sign up/sign in, so this could be confusing for users.

**Describe the solution you'd like**
It would be

[2018-12-23 17:43] ilrein commented on #2338
@haverchuck I am still getting this issue on

[code]

[2018-12-23 21:41] #2239 closed

[2018-12-24 00:50] ToddHoff commented on #1557
Could you please be more specific about how you fixed the error? How would you pass 'this' into the callback?

thanks

[2018-12-24 03:53] skc18 commented on #2166
hey @jpaas  I am trying to use your approach, but I don't have the file .graphqlconfig.yml at all, I check the root and all the files within. The project is in Desktop. Thanks

[2018-12-24 04:31] holtc opened #2404 "non-required phone number bug in aws-amplify-angular"
**Describe the bug**
There is a bug when a phone number is not required using `signUpConfig`, I assume it is similar to [this](https://github.com/aws-amplify/amplify-js/pull/2065).

**To Reproduce**
Steps to reproduce the behavior:
Create a `signUpConfig` as below and pass as
`<amplify-authenticator [signUpConfig]="signUpConfig"></amplify-authenticator>`:

[code]

**Expected behavior**
The form sh

[2018-12-24 08:19] jocactus commented on #2388
@neonguru How do you put conditions around `Amplify.configure`?
I read on the [Universal "Gotchas"](https://github.com/angular/universal/blob/master/docs/gotchas.md) that I need to inject the `PLATFORM_ID` to check the current platform but I don't find a way to do it directly in the `main.ts`.

[2018-12-24 13:42] amnajunaid opened #2405 "onStateChange gets called on page refresh when state is still the same."
** Which Category is your question related to? **
bug | incorrect usage
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **

Hi, i am using Authenticator component on a page lets say /auth. After i signed in, when i refresh the page. Why onStateChange gets called when state is still the same.
This line causes onStateChange called -> https://github

[2018-12-24 15:03] engharb commented on #825
@powerful23 for simplicity I want to use Cordova-FB or GooglePlus plugins in order to login. And when I logged in successfully I want to pass the i.e FB:IAuthResponse->accessToken to aws oauth2 in order to log me in Cognito-UserPool and fetch the related tokens. Is that somehow possible?!

Where for testing my mobile-app I can not use the webviews (embedded browsers known as “web-views”) in case o

[2018-12-24 18:35] holtc commented on #2403
@elorzafe great, thanks!

[2018-12-24 18:54] powerful23 commented on #941
@svstartuplab this is a behavior from the service side. We will escalate this to the Cognito service team.

[2018-12-24 18:59] haverchuck commented on #2404
@holtc This should be fixed on our @unstable build (npm i aws-amplify-angular@unstable).  Please let us know if it is not!

[2018-12-24 18:59] #2404 closed

[2018-12-24 19:01] boskiv opened #2408 "No Cyprus phone code at registration form"
** Which Category is your question related to? **
React Create Account form
** What AWS Services are you utilizing? **
Auth (Cognito)
** Provide additional details e.g. code snippets **
Cyprus phone code (+357) is missing
![screenshot 2018-12-24 at 8 59 16 pm](https://user-images.githubusercontent.com/1939783/50405540-f8bfa280-07be-11e9-8fa2-34982547a4de.png)

[2018-12-24 19:02] boskiv commented on #2408
And next question, is it possible to filter out phone_codes that we will not use for registration ?

[2018-12-24 19:12] powerful23 commented on #399
@abiodunjames can you provide more details? Did you have the right IAM policy for your auth role in the Cognito Federated Identity Pool? You can also turn on the debug mode by `window.LOG_LEVEL='DEBUG'`

[2018-12-24 19:24] #2377 closed, assigned to powerful23

[2018-12-24 19:49] neonguru commented on #2388
@jocactus you should read the amplify angular docs.

I have a service that imports Amplify from 'aws-amplify' and in the constructor I call Amplify.configure(amplify) where amplify is imported from 'aws-exports'.

Yes, you can use isPlatformBrowser(this.platformId) to see if you are browser side.

[2018-12-24 19:54] neonguru commented on #2388
@jocactus I put it in a service after it wasn't working in main.ts.

[2018-12-24 20:04] ColdFire87 opened #2410 "<SelectMFAType> widget -> preselect current user MFA option"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[code]
**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered

[2018-12-24 21:18] powerful23 commented on #2390
@budmitr when you say the `role` is attached to user pool group does it mean that you edited the role arn in the Cognito Group?

[2018-12-24 21:43] powerful23 commented on #2405
@amnajunaid that's expected because when the page is refreshed, the auth state would be unknown until `Authenticator` checks the current user and then set the state back to `signedIn`. What's the issue you have due to this behavior?

[2018-12-24 21:49] powerful23 commented on #2389
@MatteoGioioso can you confirm that the `attributes` in the `user` object returned by `Auth.currentAuthenticatedUser` has `email_verified` and it is correctly updated? The `idToken` in the `signInUserSession` will not be updated when calling `Auth.currentAuthenticatedUser`

[2018-12-24 22:18] #1378 closed

[2018-12-24 23:09] haverchuck commented on #2408
Fix should be available in unstable build (npm i aws-amplify-react@unstable)

[2018-12-24 23:09] #2408 closed

[2018-12-25 01:48] MatteoGioioso commented on #2389
@powerful23 Yes the `attributes` in the user object are correctly updated.
So, is not possible to get the update value from the `idToken` object? I noticed it is updated when Cognito requests new refresh tokens.
Anyway I am closing this, thanks

[2018-12-25 01:48] #2389 closed

[2018-12-25 03:34] YikSanChan commented on #1837
You might want to ask this question in https://github.com/aws-amplify/amplify-cli/issues. There are some related discussions there:
- https://github.com/aws-amplify/amplify-cli/issues/317
- https://github.com/aws-amplify/amplify-cli/issues/318
- https://github.com/aws-amplify/amplify-cli/issues/372

[2018-12-25 13:44] cihancil opened #2413 "Android Push Icon"
** Which Category is your question related to? **
Push Notification

** What AWS Services are you utilizing? **
Pinpoint

** Provide additional details e.g. code snippets **
How can I change small icon that appears on status bar and bottom right of the large notification icon? Right now it is white round. Should I set this from Pinpoint API? I am currently using Pinpoint UI.

Has anyone solved thi

[2018-12-25 19:46] holtc commented on #2404
Looks good, thanks!

[2018-12-25 19:49] holtc opened #2414 "<amplify-authenticator> Angular open in Sign Up instead of Sign In"
** Which Category is your question related to? **
Amplify Authenticator component in Angular

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
Is there a way to specify which view the authenticator component opens first?  Currently it always opens on the Sign In part.  It would be great to be able to specify to open in either the Sign In or th

[2018-12-25 22:54] D2KX commented on #2388
Alright, a couple of notes:

1) The error is thrown by the Interactions module. Think about if you really need the AmplifyService from aws-amplify-angular, or if aws-amplify with modular imports (and not importing the Interactions module) isn't what you want anyway for a smaller bundle size.

2) Angular uses Domino to "emulate" document and window objects, but it is not available quite this early

[2018-12-26 01:48] holtc opened #2415 "<amplify-authenticator> Sign Up with email link verification still asks for code in Angular"
**Is your feature request related to a problem? Please describe.**
My application uses an email verification link rather than a code.  When a user creates an account, the `<amplify-authenticator>` flow still asks them to enter a code, rather than to check their email for a verification link, which is very confusing.

**Describe the solution you'd like**
Ideally, the `<amplify-authenticator>` flow

[2018-12-26 01:56] holtc opened #2416 "<amplify-authenticator> password weakness warning is unclear"
**Is your feature request related to a problem? Please describe.**
When a user is creating an account and enters a password that is too short, an unclear error message is shown in certain cases.  Say the minimum length you have set in Cognito is 8 characters.  If a users tries to create an account with fewer than 6 characters, the error message shown is something like:
[code]

However, if the pass

[2018-12-26 05:27] MatteoGioioso opened #2417 "updateUserAttributes options"
When I want to update the user attributes I use `updateUserAttributes` from the Amplify library.
If I am updating the `email` I will receive a confirmation code.

Is it possible or is there an option object to decide whether receive this confirmation code?
With the current implementation looks like I cannot pass any option.
If not could it be possible to have this feature?

Thanks

[2018-12-26 05:41] TOPS-Aman commented on #2104
Any update on this?

[2018-12-26 07:03] holtc commented on #2415
I tried to create a PR but I do not have the permissions, so I have uploaded the diff files as .txt files.  I have tested locally and it works as desired.  The code also helps solve [2414](https://github.com/aws-amplify/amplify-js/issues/2414) and [2403](https://github.com/aws-amplify/amplify-js/issues/2403).

[authenticator.component.core.ts.txt](https://github.com/aws-amplify/amplify-js/files/27

[2018-12-26 07:05] holtc commented on #2414
I tried to create a PR but I do not have the permissions, so I have uploaded the diff files as .txt files.  I have tested locally and it works as desired.  The code also helps solve [2414](https://github.com/aws-amplify/amplify-js/issues/2414) and [2403](https://github.com/aws-amplify/amplify-js/issues/2403).

[authenticator.component.core.ts.txt](https://github.com/aws-amplify/amplify-js/files/27

[2018-12-26 07:07] holtc commented on #2403
I tried to create a PR but I do not have the permissions, so I have uploaded the diff files as .txt files.  I have tested locally and it works as desired.  The code also helps solve [2414](https://github.com/aws-amplify/amplify-js/issues/2414) and [2403](https://github.com/aws-amplify/amplify-js/issues/2403).

[authenticator.component.core.ts.txt](https://github.com/aws-amplify/amplify-js/files/27

[2018-12-26 07:10] LK opened #2418 "Using a GraphQL API from both React and Lambda"
** Which Category is your question related to? **
GraphQL, React, Lambda

** What AWS Services are you utilizing? **
AppSync, S3, Cognito, Lambda, DynamoDB

** Provide additional details e.g. code snippets **
I'm setting up a project with Amplify using a GraphQL API, Cognito for authentication, and a React frontend. I need the data in GraphQL to be query-able (and subscribe-able) from React; howev

[2018-12-26 07:18] holtc commented on #612
Why was this closed? As far as I can tell, it still has not been implemented

[2018-12-26 07:30] deankostomaj commented on #854
In my case I forgot to add

`
import Amplify from 'aws-amplify';
import AppSync from './aws-exports.js';

Amplify.configure({
    Auth: AppSync
});
`

in index.js

[2018-12-26 07:54] lambda0xff opened #2419 "[React][aws-amplify-react]: Authenticator component does pass pass the 'signOut' event to child components"
**Describe the bug**
When wrapping components inside a custom `<Authenticator>`, auth events are correctly propagated to child components through props, except for 'signOut'

**To Reproduce**
Steps to reproduce the behavior:
[code]
The AlwaysOn component does not correctly display the 'signOut' event

**Expected behavior**
A clear and concise description of what you expected to happen.
'signOut' e

[2018-12-26 16:04] neonguru commented on #2388
@D2KX I was able to get it mostly working without the AmplifyService and aws-amplify-angular, which (in hindsight) is what I think you are saying in note 1.

@jocactus check out the [angular-aws-amplify](https://github.com/daikiojm/angular-aws-amplify) repo for an example.

[2018-12-26 16:13] jkeys-ecg-nmsu commented on #2418
Can you create an admin user and group in your user pool and authenticate in your lambda with those credentials?

That will not trigger subscriptions because they are not mutations.

[2018-12-26 17:15] haverchuck commented on #2416
@holtc - I think configurable error messages are a good idea. However, I think this shouldn't be done in a one-off fashion.  We should implement a generic way of configuring ANY of the error messages.

[2018-12-26 17:30] Todmy commented on #1908
Hi, have the same problem. I'm trying to create vue project. And my scene fails without any adequate error.
![screen shot 2018-12-26 at 7 22 59 pm](https://user-images.githubusercontent.com/7693369/50452688-37329a00-0944-11e9-9b1e-c68eef4bbda5.png)
After debugging I have found the error: "AWS.Polly is not a constructor". So probably it is related to this issue.

[2018-12-26 18:07] powerful23 commented on #2389
@MatteoGioioso because the idToken is granted when the user signs in which will be unchanged until the user signs in again or it's refreshed by the refresh token.

[2018-12-26 18:53] elorzafe commented on #2392
@jkeys-ecg-nmsu that shouldnt be an issue, when you run `amplify init` it will add to `.gitignore` what is not required by the cli. In case the cli doesnt work, you can run `amplify init` again and that will solve the issue.

[2018-12-26 20:19] LK commented on #2418
@jkeys-ecg-nmsu will try that — thanks for the suggestion.

Another reason why I would prefer to have the Lambda function go through the GraphQL layer to interact with the data.

[2018-12-26 20:37] haverchuck commented on #2419
@lambda0xff - Are you saying that the child components for <Authenticator> should all receive the event as props?  I hesitate to do this because it could introduce unexpected behavior for existing apps using this package.   Have you tried having the child components[ listening for the Hub signout event](this.onHubCapsule.bind = this.onHubCapsule.bind(this))?

[2018-12-26 21:34] powerful23 commented on #2158
Closing this issue due to no further response. Feel free to reopen if you still have this issue.

[2018-12-26 21:34] powerful23 commented on #2105
Closing this issue due to no further response. Feel free to reopen if you still have this issue.

[2018-12-26 21:34] #2105 closed

[2018-12-26 21:36] powerful23 commented on #1737
Closing this issue due to no further response. Feel free to reopen if you still have this issue.

[2018-12-26 21:36] #1737 closed

[2018-12-26 21:36] powerful23 commented on #1497
Closing this issue due to no further response. Feel free to reopen if you still have this issue.

[2018-12-26 21:36] #1497 closed

[2018-12-26 21:38] powerful23 commented on #1282
Closing this issue as the pr has been merged.

[2018-12-26 21:38] #1282 closed

[2018-12-26 21:39] powerful23 commented on #2218
Closing this issue due to no further response. Feel free to reopen if you still have this issue.

[2018-12-26 21:39] #2218 closed

[2018-12-26 21:39] powerful23 commented on #2194
Closing this issue due to it has been fixed.

[2018-12-26 21:39] #2194 closed

[2018-12-26 21:40] powerful23 commented on #2128
Closing this issue. The doc has been updated. Feel free to reopen if you have any question.

[2018-12-26 21:40] #2128 closed

[2018-12-26 22:47] jkeys-ecg-nmsu commented on #2392
@elorzafe Ah fair enough, for whatever reason I got the impression that `amplify init` is not idempotent. I manually edited `project-config.json` when checked out on a different machine and `amplify publish` worked. It looks like that file's the only one that contains anything specific to a given machine. Is it possible to turn the absolute path for `projectPath` into a relative path? (So anyone w

[2018-12-26 22:51] jkeys-ecg-nmsu commented on #2418
@LK You're welcome. Here's roughly what you'll need, where `decrypted` is a global variable holding KMS-decrypted Lambda environment variables -- for anyone encountering this in the future:

[code]

[2018-12-26 23:04] haverchuck commented on #2402
@holtc  - This should be fixed on our unstable build (npm i aws-amplify-angular@unstable).

[2018-12-26 23:04] #2402 closed

[2018-12-27 09:01] budmitr commented on #2390
@powerful23 yes exactly

In `Update group` popup (the one with fields `Name`, `Description`, `Precedence` and a role selector) I select a previously defined IAM Role
After confirming my action with `Update group` button click, I see updated `Role ARN` in group description page

[2018-12-27 09:05] danieleleto commented on #2279
Thank you very much,
now it works.

Regards, Luca

[2018-12-27 15:02] mllrmat opened #2422 "InvalidSignatureException on AppSync calls with identity pools (react native)"
**Describe the bug**
When I try to authenticate against appsync with the federated identities issues IAM tokens, I get a InvalidSignatureException on AppSync.

Before calling appsync I retrieved FB tokens and made a successful call to Auth.federatedSignIn(), recieving back the credentials.

Amplify config:
[code]
The client gets a "GraphQLError: Request failed with status code 403", in cloudwatch

[2018-12-27 16:58] nason opened #2423 "Hosted UI log out -- missing redirect_uri parameter??"
**Describe the bug**

I've been working on integrating Cognito Auth into a web app. We decided to use the Hosted Login UI, and are using `@aws-amplify/Auth`

`Auth.signOut` worked at one point, but is now leading to an error page:

**To Reproduce**
Steps to reproduce the behavior:

1. Set up Hosted Auth (https://aws-amplify.github.io/docs/js/authentication#using-amazon-cognito-hosted-ui)
2. Login

[2018-12-27 17:21] cliffordh commented on #2401
I debugged the module passing issue and got things working with Vue and modular imports. For anyone who's interested, I replaced "import * as AmplifyModules" with:

import { Logger } from '@aws-amplify/core'
import { I18n } from '@aws-amplify/core'
import Auth from '@aws-amplify/auth'
import { AuthClass } from '@aws-amplify/auth'

and use it like this:

Vue.use(AmplifyPlugin, { AuthClass, Auth, Lo

[2018-12-27 17:21] #2401 closed

[2018-12-27 17:55] powerful23 commented on #2279
@danieleleto glad to hear that :) . I am going to close the issue now. Feel free to reopen if necessary.

[2018-12-27 17:55] #2279 closed

[2018-12-27 18:13] powerful23 commented on #2423
@nason hi, based on the error message, can you verify that you passed the `redirectSignOut` option in your `oauth` config?

[2018-12-27 18:32] haverchuck commented on #2419
Hi @lambda0xff  - I see your point.

[2018-12-27 18:35] #2294 closed

[2018-12-27 19:52] ceich opened #2424 "S3Image does not support access to protected files of other users"
**Describe the bug**
Storage.get supports passing the `identityId` option to access another user's protected files, but S3Image does not pass this option through. There is no way to access the protected files of multiple users without this.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to pass `identityId` to access another user's protected image.
2. See incorrect URL (using own `ident

[2018-12-27 20:09] dahof1 opened #2425 "AuthClass - The user is not authenticated by the error No userPool"
**Describe the bug**
I manually configured my amplify vue project like the official vue sample (aws-samples). Sign-In worked, but everytime i did a manual page refreshes i got an `AuthClass - The user is not authenticated by the error No userPool` Error in the logs.

Amplify/Amplify-Vue Version:
aws-amplify: 1.1.18,
aws-amplify-vue": 0.2.5

Vue Cli 3

It is also very irritating that the offical do

[2018-12-27 21:10] #2196 closed

[2018-12-27 22:38] powerful23 commented on #2390
@budmitr unfortunately we are currently not supporting this feature in the sdk. I will mark this as feature request.

[2018-12-27 22:40] powerful23 commented on #2390
To implement this feature, the sdk should be able to set the `CustomRoleArn` property in the credentials object: https://github.com/aws-amplify/amplify-js/blob/master/packages/core/src/Credentials.ts#L239

[2018-12-27 22:50] sairathb commented on #1191
Hi, I am facing a similar issue, `<amplify-authenticator [hide]="['ForgotPassword', 'SignUp']"></amplify-authenticator>` seem to be hiding the component, but the links in the Sign In component is still visible. When I click on them it shows a blank page. Is someone working to remove the links if the components are marked to hide? I am using the version 2.1.6-unstable.1 where the hide problem was f

[2018-12-27 23:39] powerful23 commented on #2422
@mllrmat can you provide some code snippets about how did you sign in and then call the appsync related functions? Also can you show your IAM roles to see if you have the right policies?

[2018-12-27 23:48] #1353 closed

[2018-12-27 23:49] powerful23 commented on #1347
@thomasobrien99 I am going to close this issue. Feel free to reopen if you still have this issue.

[2018-12-27 23:49] #1347 closed

[2018-12-27 23:50] powerful23 commented on #1281
Closing this issue. Feel free to reopen if you still have this issue.

[2018-12-27 23:50] #1281 closed

[2018-12-27 23:51] powerful23 commented on #1235
Closing this issue. Feel free to reopen if you still have this issue.

[2018-12-27 23:51] #1235 closed

[2018-12-28 09:47] meteorza opened #2426 "AmplifyMessageMap for aws-amplify-vue"
I would like to change the default amplify-vue Authenticator error messages using a custom AmplifyMessageMap prop (like AmplifyMessageMap.js for react-natice package). I am launching the authenticator through the vue router:

[code]

In the example, I have added the new prop:

`errorMessage: CustomAmplifyMessageMap,`

Does not seem this prop exists for aws-amplify-vue Authenticator? If not, could

[2018-12-28 15:49] sairathb commented on #1191
I think if we pass the hide attribute to the sign-in component, then it can be accessed in the same way as in the authenticator. I can create a pull request for this, since I have the code change, but I don't have permissions
![image](https://user-images.githubusercontent.com/36173416/50520424-dd39ed80-0a85-11e9-8463-a0f9034ce16d.png)

[2018-12-28 15:58] JemaaWassim opened #2427 "Analytics- Incorrect Demographical data"
**Describe the bug**
Platform not reporting correct results for Android devices
Device model/Device make not reporting correct information for all platforms
No data for User location

**To Reproduce**
I followed this basic tutorial to create a JavaScript app[1] and i added analytics[2] the hosted the app[3]. The app works as expected. pushing events to pinpoint and all is perfect. You can see the

[2018-12-28 18:58] powerful23 commented on #2427
@JemaaWassim are you making a web app or a react native app?

[2018-12-28 19:12] mwarger commented on #2203
@undefobj The example I posted is what I meant - the documentation says that you can get other users objects, but this is not true without the user's identityId.  I finally got this to work, but by saving off the individuals identityIDs when they login as part of their user object, and fetching that for when I want to retrieve an image that they have uploaded.  Thank you @undefobj and @manueligles

[2018-12-28 20:02] safaiyeh opened #2429 "Storage List order by date uploaded"
I am using an S3 Bucket as a CDN. It would be helpful if Storage.list had order by time uploaded/modified.

Could be as simple as Storage.list('photos/', { order: 'date' }).

[2018-12-28 21:30] haverchuck commented on #2275
@jonjet  - I tested with an actual Android device, and with the package.json you posted above.

I was able to reproduce the issue with the following commands:

- `ionic cordova run android --prod --device`
- `ionic cordova run android --aot --uglifyjs --minifyjs  --minifycss --optimizeJs --device`

I was able to get the sample app to build correctly with the following variations:

- `NODE_ENV=prod

[2018-12-28 21:45] #2301 closed

[2018-12-28 21:47] haverchuck commented on #2301
@alvaro1728 We merged a fix for this.  It should be available on our unstable tag ('npm i aws-amplify@unstable') shortly.

[2018-12-28 21:51] ceich commented on #2424
@mwarger In my case, I have the identityId embedded in the key for the other user's protected image file; just another way to do what you did.

But the bug remains that S3Image does not pass through an `identityId` prop. I am inclined to add this and submit a PR. Comments?

[2018-12-28 21:51] #2057 closed

[2018-12-28 21:52] jocactus commented on #2388
@neonguru @D2KX Thanks for your notes. I refactored my code without aws-amplify-angular and I don't have the problem anymore.

[2018-12-28 21:52] #2388 closed

[2018-12-28 21:52] haverchuck commented on #1901
I believe this is fixed.

[2018-12-28 21:52] #1901 closed

[2018-12-28 21:53] haverchuck commented on #2329
@michaelcuneo I have merged a fix for this into our master branch.  It should be available on our unstable tag shortly (npm i aws-amplify-react@unstable).

[2018-12-28 21:58] haverchuck commented on #1445
This is realted to #2275 .  In troubleshooting that issue, I was able to reproduce the error with two combinations of build arguments, and fix both of them by prepending `NODE_ENV=production`, i.e.
 - `NODE_ENV=production ionic cordova run android --prod --device`
-  `NODE_ENV=production ionic cordova run android --aot --uglifyjs --minifyjs --minifycss --optimizeJs --device`

[2018-12-28 22:01] #935 closed

[2018-12-28 22:41] powerful23 commented on #2390
@budmitr Another way you may achieve this is to:
1. Assign an value to the `Precedence` in your user group
2. In your Cognito Federated Identity pool -> Edit Identity Pool -> Authentication Providers -> Authentication role selection -> Change `Use default role` to  `Choose role from token`

This should allow you to switch to another role when login with admin accounts.

[2018-12-28 23:03] JemaaWassim commented on #2427
@powerful23 the above test was made using a web app.

[2018-12-28 23:34] powerful23 commented on #2326
@jkeys-ecg-nmsu hi can you paste the warning/error context here?

[2018-12-29 01:03] jkeys-ecg-nmsu commented on #2326
@powerful23 I've been trying to replicate it. The error seems to have disappeared since upgrading aws-amplify to `@latest` branch.

Closing this issue. Thank you!

[2018-12-29 01:03] #2326 closed

[2018-12-29 02:56] jkeys-ecg-nmsu commented on #2401
@cliffordh I think most people are using Angular or React, but it's awesome to see RL Vue examples. Thanks for posting your solution!

[2018-12-29 03:04] jkeys-ecg-nmsu commented on #2384
@haimLeibovitc Amplify will refresh your tokens for you on the client-side, but it can't refresh the tokens for you in the backend, especially since you're not providing the backend a refresh token :D.

You need to send your Lambda/Node server the refresh token too, and check if the access token's expired in your Lambda before trying to use it; if it is expired, use the refresh token to get a new

[2018-12-29 03:35] jkeys-ecg-nmsu opened #2430 "Asynchronously awaiting scene load: add `XR.untilSceneLoaded` method that returns a promise that waits to resolve until XR.isSceneLoaded eq true"
**Is your feature request related to a problem? Please describe.**
I'm working on an Amplify React app that is becoming quite large rather rapidly. Many components must rely on the `sceneController` returned by the `SumerianScene` component being valid, i.e. that the scene has loaded and the event broker object has retrieved the sceneController. For instance we have buttons that trigger actions us

[2018-12-29 09:48] cinerama commented on #1852
+1

[2018-12-29 14:34] ColinRyan commented on #1538
+1

[2018-12-29 20:38] epileftro85 commented on #1100
I'm experiencing the same if I delete the graphql_headers it works...

[2018-12-29 22:07] rogerheykoop commented on #1435
I am getting the same issue when simply building https://github.com/aws-samples/aws-amplify-ionic-sample.git

ionic build

Date: 2018-12-29T21:50:10.491Z
Hash: 56dd478986546b458fb4
Time: 6212ms
chunk {main} main.js, main.js.map (main) 651 bytes [initial] [rendered]
chunk {polyfills} polyfills.js, polyfills.js.map (polyfills) 706 bytes [initial] [rendered]
chunk {runtime} runtime.js, runtime.js.map

[2018-12-29 22:36] bishonbopanna opened #2431 "How to add business keys/unique constraint in GraphQL - AppSync AWS"
Here is my definition of an entity/model in GraphQL SDL that is used by AWS Amplify to create a App Sync API and its table in DynamoDB.

I want to make the name and author as the business keys. Is there a way to achieve this ? I believe Prism has @Unique directive for the same. Or if it is not possible, can a constraint be added in the table in DynamoDB ?

[code]

[2018-12-30 19:06] jliebrand commented on #488
Any updates on this? Still pulling in way too much for just needing core, api and auth...

![image](https://user-images.githubusercontent.com/23407884/50550303-0022f800-0c66-11e9-922c-24905988bc44.png)

[2018-12-30 23:57] epicfaace opened #2433 "How to do an API call for blob data"
I need to get blob data, not JSON data, from my REST API. Essentially, I'm looking for  the equivalent of using fetch and https://developer.mozilla.org/en-US/docs/Web/API/Body/blob. How can I do this with Amplify?

[2018-12-31 18:17] powerful23 commented on #1669
I think it's caused by the service design. I will escalate this to the service team.

[2018-12-31 18:43] powerful23 commented on #2427
@JemaaWassim we will look into that. In the meantime, you can define the default demographic info yourself: https://aws-amplify.github.io/docs/js/analytics#manual-setup if you've already got your own way to get the correct device info.

[2018-12-31 19:07] tcchau commented on #1669
Sorry I didn't have a chance to follow up on this issue. I actually got a response back from AWS Support, although I don't think the community necessarily needs to be satisfied with this answer. They said that you can't do what I want to do, because it's a security risk to allow setting the preferred_username before the account is confirmed, though it isn't a security risk to be able to set the em

[2018-12-31 20:42] jordanranz commented on #2430
Hey @jkeys-ecg-nmsu,

I think having some way to subscribe to a scene being loaded event it would be useful. I will look into a solution for this.

[2018-12-31 20:48] jordanranz commented on #929
Hello, we have made many improvements to the Amplify Auth category that have solved many issues related to the "no userPool" problem. We have also migrated the usage of the awsmobile cli to the Amplify cli. Please follow the instructions here: https://aws-amplify.github.io/docs/js/authentication#automated-setup

I will close this issue now due to legacy code. Please open a new issue if the instruc

[2018-12-31 20:48] #929 closed

[2018-12-31 20:56] jordanranz commented on #1144
Are you still experiencing this issue with the newest version of cognito?

[2018-12-31 21:07] jordanranz commented on #1693
@Amiram1, the div element is used to wrap what is returned by the component. We could probably utilize React's fragment pattern instead: https://reactjs.org/docs/fragments.html. Is the current implementation causing problems in you app?

[2018-12-31 21:10] jordanranz commented on #1846
As @elorzafe mentioned, can you please provide more details: Library Version, code snippet on how are you configuring the library.

The above link posted does not work.

[2018-12-31 21:13] jordanranz commented on #1815
Closing this issue as it pertains to the CLI and the issue above answers your question. If you are still experiencing issues or have any further related questions please open an issue in the amplify-cli repo:
https://github.com/aws-amplify/amplify-cli/issues

[2018-12-31 21:13] #1815 closed

[2018-12-31 21:42] jayair opened #2435 "API Network Errors"
**Description**

I have an Amplify React app and every so often I notice **Network Errors** in our Sentry logs while making API requests (while everything has been working fine till that point). The HTTP Status code is `0`. And the CloudWatch logs for API Gateway show that there was a request but the Lambda logs don't show anything. I'm unable to see the response of these requests both through the

[2019-01-01 16:50] bsapiro opened #2437 "publish fails"
when running `amplify publish` I get (note that `amplify push` completes properly). I confirmed that package.json does not exist.

npm ERR! path /Users/ben/Documents/Code/amplify/test/package.json
npm ERR! code ENOENT
npm ERR! errno -2
npm ERR! syscall open
npm ERR! enoent ENOENT: no such file or directory, open '/Users/ben/Documents/Code/amplify/test/package.json'
npm ERR! enoent This is related

[2019-01-01 19:50] jkeys-ecg-nmsu commented on #2437
Have you changed the directory of your project since you did `amplify init`?

[2019-01-01 20:00] bsapiro commented on #2437
I neither changed the directory as in `mv` or `cd`.

[2019-01-01 22:18] rcwestlake commented on #1435
@manueliglesias I am also seeing the issue except with a React application:

aws-amplify: `1.1.10`
aws-appsync: `1.7.0`
typescript: `3.1.6`

The issue arose when I added `aws-appsync` to my project.

This is the error: `node_modules/@aws-amplify/api/node_modules/@types/zen-observable/index.d.ts
(32,14): Duplicate identifier 'Subscriber'.`

And when I run `npm ls @types/zen-observable`, these are t

[2019-01-01 22:19] rcwestlake commented on #1732
I am also seeing the issue except with a React application and using yarn:

aws-amplify: `1.1.10`
aws-appsync: `1.7.0`
typescript: `3.1.6`

The issue arose when I added `aws-appsync` to my project.

This is the error: `node_modules/@aws-amplify/api/node_modules/@types/zen-observable/index.d.ts
(32,14): Duplicate identifier 'Subscriber'.`

And when I run `npm ls @types/zen-observable`, these are th

[2019-01-01 22:31] rcwestlake commented on #1732
FYI.. My fix for the time being is to exclude `node_modules` in my `tsconfig.json` file. You also need to set `skipLibCheck` to `true`

[2019-01-02 03:09] jkeys-ecg-nmsu opened #2438 "What are the potential causes of `error dispatching ${event} event to ${listener}` for Hub?"
** Which Category is your question related to? **
Hub - I just want to know what might cause this warning for debugging purposes. The problem is so intermittent that it's hard to debug.

** What AWS Services are you utilizing? **
Amplify.

** Provide additional details e.g. code snippets **
`Hub - error dispatching UIReset event to noname`

[2019-01-02 04:12] jkeys-ecg-nmsu commented on #2430
@jordanranz could you just add special channel(s) to Hub like you all have done for Auth events?

I'm not sure my initial proposal to have a promise that resolves on scene load makes much sense; I thought about it for a bit and figured the only way to implement it would be some sort of exponential backoff algorithm with a receipt system, which definitely takes Hub out of the lightweight category (

[2019-01-02 04:18] jkeys-ecg-nmsu commented on #2429
@jordanranz We (or at least I) haven't really explored the Storage category, but it might be useful for realtime ingestion of data into S3 datalakes if we could specify prefixes (representing dimensions, e.g. year/month/day uploaded in @JSafaiyeh's example) as JSON schema.

[2019-01-02 04:32] JSafaiyeh commented on #2429
I went through the aws-sdk S3 docs. If I am not mistaken, it does not include any "order by" filtering. Solutions seem to be client side only. Would this be appropriate to implement in Amplify or does Amplify expose the metadata to sort client side?

[2019-01-02 05:21] imewish commented on #180
Hello,

I'm still facing the issue. I'm using the latest version of the amplify.

I use the below URL to get the Cognito tokens for the Google users and sign them into Cognito pool.

https://' + domain + '/authorize?identity_provider=' + provider + '&response_type=' + type + '&client_id=' + clientId + '&redirect_uri=' + callback + '&scope=' + scope

then,

[code]
this method to get aws credentials

[2019-01-02 06:52] koladilip commented on #2095
We are not using iframe approach instead we just load the login page in the browser and that will redirect back original page once authenticated.

[2019-01-02 07:57] koladilip commented on #2095
I have created a pull request for passing refresh token to another site and that site should be able to refresh directly: https://github.com/aws-amplify/amplify-js/pull/2439

[2019-01-02 08:48] Ruwanari commented on #1089
Checking enable access to unauthenticated identites in cognito federated identities worked for me.
![unauth](https://user-images.githubusercontent.com/31245539/50585016-ed443980-0e98-11e9-90c2-de3bddd7ace2.PNG)

[2019-01-02 09:01] jkeys-ecg-nmsu commented on #2429
@JSafaiyeh S3 is object storage. Since objects have no natural ordering -- you cannot simply compare any two random "objects" and expect one to be less than, equal to, or greater than the other, in whatever metric you choose -- you need to add metadata to your objects that can be compared against in some sort of comparison function. And even then you can't really keep your data "sorted" directly i

[2019-01-02 09:32] SebSchwartz opened #2440 "Authenticator no more working with hideDefault"
**Describe the bug**
I'm using my own UI so Authentificator is set with hide default. In version > 1.1.12 (aws-amplify) and > 2.1.6 (aws-amplify-react), this is no more working.

**To Reproduce**
My code for UI:
[code]

App is a simple components which renders routes and show login page if the user is not logged in.

Here is the stack trace in the console (with version 1.1.18 & 2.2.5):
[code]
**Ex

[2019-01-02 10:04] daihuku commented on #1278
Did you solved this error ?
I also had the same problem.

[2019-01-02 11:15] fredrivett commented on #2202
Thanks for the reply @manueliglesias. So you're saying that there'd be *one* "unauthenticated user" that all logged out folks would use. Then I'd need to store the data somewhere like DynamoDB, and then if someone converts and signs up, I would need to write custom logic to transfer any user data I've stored there over to the new user? That wouldn't work easily for [storing user attributes](https:

[2019-01-02 11:35] rfdc opened #2441 "Storage SVG file from canvs on S3 bucket | fabric.js"
Hi there,
Happy New Year!!

Category: Storage

I have created a canvas where users can create a product where then a function `canvas.toSVG()` returns the SVG file of the created product. The SVG file looks like:
[code]
How do I upload this SVG file to the bucket so the design created can be modified later?

Thanks
Ra

[2019-01-02 11:49] philiiiiiipp commented on #2304
I found the issue in the end. Apparently it seems to be a common misconception that the ${cognito-identity.amazonaws.com:sub} is the ${congito.sub} while they are actually different.

When using the ```level: protected``` it automactically adds the ${cognito-identity.amazonaws.com:sub} which looks like eu-west-1:8f8ac3c6-65bd-4844-a4b6-5446c651684b where the uuid is not the ${congito.sub}.

So que

[2019-01-02 11:49] #2304 closed

[2019-01-02 11:51] philiiiiiipp commented on #2304
For anyone wondering how to get the ```${cognito-identity.amazonaws.com:sub}```

[code]

[2019-01-02 11:59] JL00001 opened #2442 "Getting AWS Credentials"
Good morning,

I am trying to develop a web app that logins in users and grants them permission to publish to a AWS Iot Topic, but I am having trouble with getting the users the credentials. I am using the AWS Amplify Auth library and a Cognito user pool attached to a Federation Identity. The Federation Identity has a IAM role for bot auth and unauth IDs.

The Auth library in  AWS Amplify has a si

[2019-01-02 12:29] ismaelocaramelo opened #2443 "Logins don't match"
**Describe the bug**
Trying to sign in using Auth.signIn method, with a previous configuration on the Amplify config, gives the error below. It works in other clients with the same implementation. What could cause this error propagation?

[code]
Here's some Headers info:
[code]

[2019-01-02 13:30] Private-SO opened #2444 "Add Navigation bar on top of signin screen using withAuthenticator in React app"
Hi,

I am trying to implement custom Navigation bar using `withAuthenticator` in amplify app with react js. Here is my custom navbar component.

[code]

First, i tried to implement it as a `Theme` in `withAuthenticator`. Here is the code

[code]
**Output**
I didnt find navbar rendered on signin screen.

Second, i tried to add the `navbar` like this

[code]

Here the `Theme` component(i.e.`navbar`)

[2019-01-02 14:32] ismaelocaramelo commented on #2443
Found it!, I was using the wrong `IdentityPoolId`. Thanks anyway!

[2019-01-02 14:32] #2443 closed

[2019-01-02 16:33] mikepugh opened #2445 "Auth.federatedSignin failing with error "No userPool""
**Describe the bug**
I'm using federated authentication with Azure AD. I recently upgraded my aws-amplify and aws-amplify-react libraries to the latest versions and now authentication is failing with the error `The user is not authenticated by the error No userPool`.

Based on the following debug messages you can see that the library successfully gets temporary IAM access credentials from Cognito,

[2019-01-02 17:23] gabrielcabralbfr commented on #1429
Any updates on that? @yuntuowang @mlabieniec

Only worried about translation after implemented the cognito auth component xD

Any news you have about it would be great.

[2019-01-02 17:26] elorzafe commented on #2304
@philiiiiiipp why you didn't try this policy
[code]
If you use [amplify-cli](https://github.com/aws-amplify/amplify-cli) this policies are created for you when you enable Storage on your project.

[2019-01-02 18:00] jordanranz commented on #2438
I see this warning here:
https://github.com/aws-amplify/amplify-js/blob/1ee161db4d46136379c5a79ca5ab5de2cee2b817/packages/core/src/Hub.ts#L82

This method seems to be called on dispatch. If you name the listener you are using when calling .listen you can pass a listener name as a third parameter:
https://github.com/aws-amplify/amplify-js/blob/1ee161db4d46136379c5a79ca5ab5de2cee2b817/packages/core/

[2019-01-02 18:15] kaustavghosh06 commented on #2437
@bsapiro Tried looking at your test project but couldn't find any frontend code for the same (or a correspoding package.json file).
You've selected "Vue" as your framework and have specified "npm run-script build" as your build command. The first step in the `amplify publish` is to build your frontend code using the build command specified by you during the init step.
From the error logs it looks

[2019-01-02 18:17] kaustavghosh06 commented on #2364
Closing this issue since it's already been fixed. Please feel free to re-open if you're still facing this problem.

[2019-01-02 18:17] #2364 closed

[2019-01-02 18:18] kaustavghosh06 commented on #2166
@skc18 If you're using file explorer, you won't be able to view the .graphqlconfig.yml file. Please use an editor or the terminal to view the file. Also, please let me know if you're still stuck on this.

[2019-01-02 18:33] mikepugh commented on #2445
The underlying error appears to be related to how the Credentials are cached. I had `Auth.cookieStorage` configured in my Amplify config and for some reason the code was unable to properly store the federated user info in there, so the code was failing.

I've removed the `cookieStorage` config from my app and now it's working again.

[2019-01-02 18:33] jordanranz commented on #2440
Hi @SebSchwartz,

It looks like this was fixed in a recent PR:
#2421

Could you try using the latest unstable aws-amplify-react version:
aws-amplify-react@2.2.6-unstable.0

[2019-01-02 18:39] powerful23 commented on #180
@imewish if you are using Cognito Hosted UI to sign in, then you don't need to call `Auth.federatedSignIn` to get the credentials. You just need to call `Auth.currentCredentials()` to get the credentials. For more info: https://aws-amplify.github.io/docs/js/authentication#using-amazon-cognito-hosted-ui

[2019-01-02 18:45] kaustavghosh06 commented on #2072
@4thjuly This issue should be fixed with the latest version of the CLI.

[2019-01-02 18:45] #2072 closed

[2019-01-02 18:46] kaustavghosh06 commented on #2068
@dogboy602k Please let me know if you're still stuck on this and re-open this issue.

[2019-01-02 18:46] #2068 closed

[2019-01-02 18:48] kaustavghosh06 commented on #2042
@kktam Yes, this is solved in the beta version of the CLI for multiple-environments and team workflows. Please read about it out here -> https://aws-amplify.github.io/docs/cli/multienv?sdk=js

[2019-01-02 18:48] #2042 closed

[2019-01-02 18:50] kaustavghosh06 commented on #1827
@pungggi Please take a look a beta version of the CLI to support your requests -> https://aws-amplify.github.io/docs/cli/multienv?sdk=js

[2019-01-02 18:51] #1733 closed

[2019-01-02 18:52] kaustavghosh06 commented on #1594
Please re-open this issue if you think  https://github.com/aws-amplify/amplify-cli/issues/74 hasn't answered your queries.

[2019-01-02 18:52] #1594 closed

[2019-01-02 19:08] innoveltec opened #2446 "Aws Amplify api service code generation with angular"
Hi All,

I am having an angular 7 app and making use of the aws amplify. I already succesfully implemented the cognito authentication in my app using the aws amplify. Now i am trying to implement the appsync service into my app via the amplify cli. After doing the whole configuration and my scheme creation i am running the amplify push command which pushes all my changes to the cloud and it asks m

[2019-01-02 19:09] philiiiiiipp commented on #2304
I already had an s3 bucket setup, but I suppose the bigger reason was that I wanted to know exactly how it works :-).

[2019-01-02 19:48] jordanranz commented on #2441
Hey @rfdc, happy new year!

You should be able to use the [`Storage.put`](https://aws-amplify.github.io/docs/js/storage#put) method to upload this data as an svg file. You will need to set the Content-Type using the options on the put method.

Here is an example:
`const svg = canvas.toSVG();`

Then call:
`Storage.put('myProduct.svg', svg, { contentType: 'image/svg+xml' });`

The svg will then be s

[2019-01-02 20:06] fvonhoven commented on #2345
If you're not using Expo, you can:
`yarn add react-native-vector-icons`
and then
`react-native link react-native-vector-icons`
😉

[2019-01-02 20:10] lambda0xff opened #2447 "[Typescript][Auth.resendSignUp]: code documentation and return type are incorrect ?"
**Describe the bug**
The return type indicated in the type declaration file (Auth.d.ts) and online (https://aws-amplify.github.io/amplify-js/api/classes/authclass.html#resendsignup) for the `Auth.resendSignUp` method is `Promise<string>`

However, the actual type returned is a Promise of an object, with the object implementing the `CodeDeliveyDetails` interface (AttributeName, DeliveryMedium, Dest

[2019-01-02 20:19] innoveltec commented on #2446
sorry guys already know what was the issue. Needed to update my amplify cli. Now i could choose angular and the code was generated succesfully. For my other question since the generated code is using the Amplify GraphQL Client the offline functionality will not be possible with this generated code i suppose :-)

[2019-01-02 20:19] #2446 closed

[2019-01-02 20:52] jkeys-ecg-nmsu commented on #2438
Thanks @jordanranz. How difficult would it be to fork just Hub.ts so that I can add some more logging and add error handling?

[2019-01-02 21:07] jordanranz commented on #2444
Hi @Private-SO,

Based on your wording, I am not 100% sure if you want the navbar built into the sign-in screen or built into the app once signed in. The navbar that you can override in the withAuthenticator is the navbar that exists once the user signs in.

From my understanding it sounds like what you want is the navbar to live outside of the withAuthenticator HOC (on the sign-in screen). To ach

[2019-01-02 21:22] jordanranz commented on #2350
As talked about in Slack. This feature request will have to wait until the Sumerian scene loader support dynamic loading for multiple scenes on a single page. I will make an update to this issue when I have more information.

[2019-01-02 21:32] jordanranz commented on #2176
Closing this issue as the PR has been merged. Thanks for adding this! Please reopen if there are any further questions or concerns.

[2019-01-02 21:32] #2176 closed

[2019-01-02 21:48] nason commented on #2423
Hi @powerful23, yes the `redirectSignOut` property is being passed, and is a value that has been configured as an allowed sign out url for the app client

I've stepped away from this task for the holidays, but will be getting back to this work next week. I'll update this issue if I am able to get further.

[2019-01-02 22:13] jordanranz commented on #2162
Just merged a PR to fix this. Try it with the latest unstable version. Closing for now. Please reopen if this issue persists.

[2019-01-02 22:13] #2162 closed

[2019-01-02 22:14] jordanranz commented on #2163
Just merged a PR to fix this. Try it with the latest unstable version of aws-amplify-react.

Please reopen if you have any related questions or concerns.

[2019-01-02 22:14] #2163 closed

[2019-01-02 22:50] willkara opened #2451 "Auth.signOut() doesn't properly fluish cache/tokens after being called."
**Describe the bug**
I am using Auth.signIn() & Auth.signOut() to handle Authentication for my basic app. Here is my code for handling the auth:

[code]

I also have this in the component that holds the authenticated stuff:

[code]

Whenever I call the logout function and refresh the page, it still treats me as I'm signed in. My guess is either:

- It's not correctly wiping the tokens
- I have an

[2019-01-02 23:08] jordanranz commented on #2137
imageEl seems to be the styled image element container. It could probably use a more meaninful name if you would like to submit a PR for it.

[2019-01-02 23:45] lambrospetrou commented on #1989
Hello @mlabieniec happy new year first of all;p
Is there any update on the batch event submission or a ticket/issue that we can track the progress?

Thanks

[2019-01-03 00:00] jordanranz commented on #1989
Hey @lambrospetrou, @powerful23 is currently in the process of designing support for this. We will make an update to this issue when progress has been made on the code implementation.

[2019-01-03 00:04] jordanranz commented on #1554
Going to close this as the question was answered by @manueliglesias. Please reopen if you have any related questions or concerns.

[2019-01-03 00:04] #1554 closed

[2019-01-03 00:12] jordanranz commented on #973
Closing this issue as advised above.

[2019-01-03 00:12] #973 closed

[2019-01-03 00:13] jordanranz commented on #889
This issue seems to have been resolved. Please reopen if there are still related questions or concerns.

[2019-01-03 00:13] #889 closed

[2019-01-03 00:17] jordanranz commented on #862
Closing this due to inactivity. Please try the amplify-cli mentioned above.

[2019-01-03 00:17] #862 closed

[2019-01-03 02:10] hoang-innomizetech commented on #2075
@mechero I don't think this is supported

[2019-01-03 03:58] koladilip commented on #2451
@willkara Auth.currentUserInfo() gives null when there is no signed-in user.
You can change the following code in BlogAdminComponent
[code]
to
[code]

[2019-01-03 05:42] rfdc commented on #2441
hi @jordanranz,
I got it:
[code]
Thanks for helping and have a happy new year.
Ra

[2019-01-03 05:42] #2441 closed

[2019-01-03 06:40] Private-SO commented on #2444
Thanks @jordanranz . That's exactly i am looking for.

I dont know whether this is correct platform to ask this question, But the `navbar` remains on the top even i `signed in`. Is there a way to remove it as soon as i `signed in` . Why because usually we will have onclick event, upon clicking it will change the state . But here i dont have access to `signin` button because i am using `withAuthent

[2019-01-03 08:32] Amiram1 commented on #1693
@jordanranz, yeah, fragment is preferable.

[2019-01-03 08:32] SebSchwartz commented on #2440
Yes it's working with aws-amplify-react@2.2.6-unstable.0 version :)

Thanks for great work.

[2019-01-03 10:44] jonjet commented on #2275
@haverchuck thanks for following up on this issue and providing a solution on this!

I have revisited the application built in Ionic 3 and managed to get the builds to work properly on iOS and Android with the variations of NODE_ENV=production provided. Both iOS/Android builds compiled with no errors, and loads perfectly fine after launch.

I did not have any resolutions defined for GraphQL. NPM p

[2019-01-03 10:44] #2275 closed

[2019-01-03 12:50] DimaKoval opened #2453 "codegen do not include enum types to connection query result"
**Describe the bug**
enum field types not included into query result of connected model

**To Reproduce**
Steps to reproduce the behavior:

1. use schema below

    ADMIN,
    USER
}
type User @model {
    id: ID!
    type: UserType!
    typeString: String!
}
type Post @model {
    id: ID!
    title: String!
    author: User @connection
}
2. generate graphql queries
3. check that enum field **type

[2019-01-03 13:12] dhyeysejpal commented on #1031
I think this section https://aws-amplify.github.io/docs/js/authentication#customize-withauthenticator might be helpful. I personally feel using the withAuthenticator HOC instead of wrapping your app inside the Authenticator component makes it much easier to navigate between different screens, by just changing the authState like it is shown here: https://github.com/aws-amplify/amplify-js/blob/maste

[2019-01-03 14:00] mechero commented on #2075
Well, I saw once the updated docs as per described [in the linked comment](https://github.com/aws-amplify/amplify-js/issues/1911#issuecomment-437090097), detailing the fields to include in the sign-up form. But I can't find them anymore.

[2019-01-03 14:28] Todmy opened #2454 "AR support for sumerian scenes"
** Which Category is your question related to? **
XR

** What AWS Services are you utilizing? **
Sumerian

** Provide additional details e.g. code snippets **
I spent a ton of time for understanding how to make work AR sumerian scene. It was not hard to deploy scene to the web, but camera was not requested so it looks like just 3d scene. Could you please help with this issue or point me where I ca

[2019-01-03 14:44] bijanmmarkes opened #2455 "Ionic 4 / Angular 7 - aws amplify doesn't have Federated Sign in / Sign up"
**Is your feature request related to a problem?

AWS Amplify for Ionic 4 doesn't seem to have any way to complete federated logins using amazon, google, or facebook. I have seen documentation for React Native but none for Ionic 4, How would I enable federated sign in / sign up via social logins through the `<amplify-authenticator>` ?

**Describe the solution you'd like**
I would like the ability t

[2019-01-03 14:48] hoang-innomizetech commented on #2075
@mechero Yeah, this is for React not Angular

[2019-01-03 15:02] andrewryan1906 opened #2456 "Integrating Social Sign In/Federated Identity without Hosted UI in Angular 7"
** Which Category is your question related to? **
Authentication

** What AWS Services are you utilizing? **
Cognito, API Gateway

** Provide additional details e.g. code snippets **
I am using Angular 7 and Cognito User Pools, but NOT identity pools. I am not using the hosted UI because I need to control the user experience at login, and I'm using AWS Amplify.

What I would like to do is include

[2019-01-03 15:20] holtc commented on #2075
@mechero is [this](https://aws-amplify.github.io/docs/js/angular) what you are looking for?

[2019-01-03 16:54] rogueturnip opened #2457 "I18n React Native in static navigationOptions"
Hi,

I'm trying to localize my app which uses react-navigation v2.  In the component for the tab I've got the title set using static navigationOptions where I wrap the text with the I18n.get however I only get back the label and not the translated text.

I also noticed that this happens with const that are defined globally.

Is there something I need to do beyond what the documentation indicates?

[2019-01-03 17:22] cierralewis commented on #2147
@yezarela were you able to figure this out? I'm having the same issue on my end

[2019-01-03 17:35] willkara commented on #2451
@koladilip Thanks for that. Cant believe I missed it.

[2019-01-03 17:35] #2451 closed

[2019-01-03 18:32] ToddHoff commented on #390
Is this lambda triggered through the API gateway? I don't see any of those parameters when I call lambda directly. I'm looking for a way to get the user when calling lambda directly. Having to pass it in the payload seems very insecure.

[2019-01-03 18:46] powerful23 commented on #180
@imewish is it related to #2390

[2019-01-03 18:54] wildcat63 opened #2458 "Allow for IAM credentials with longer duration than 1 hour (re: storage upload)"
**Is your feature request related to a problem? Please describe.**
I have large files that need to be uploaded and the Storage functionality is very useful, but always gets back credentials that expire in the default time of 1 hour, and the uploads tend to take longer.

**Describe the solution you'd like**
Because IAM roles allow for longer duration (up to 12 hours), and because the Storage.put op

[2019-01-03 19:00] vvantruong commented on #1031
@dhyeysejpal , yes you have to  use  the 'withAuthenticator' to wrap your app inside the Authenticator component :)

In my app I extend the SignUp component and pass it to the withAuthenticator.  This is how I import the built in components:

import { SignUp, FormField,  LinkCell, Header, ErrorRow, AmplifyButton} from 'aws-amplify-react-native';

Try this to see if it fixes your layout issue:

[2019-01-03 19:08] daannijkamp commented on #390
@ToddHoff yes, the lambda function is triggered by API Gateway. The reason I got the parameters is because API Gateway has an Authorizer for Cognito (https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-integrate-with-cognito.html).

[2019-01-03 19:17] daannijkamp commented on #390
@ToddHoff can you describe how a user can directly call a lambda function? With the aws-sdk? Like https://aws-amplify.github.io/docs/js/authentication#working-with-aws-service-objects ?

[2019-01-03 19:59] svetozar02 commented on #639
Are there any updates on this issue?

In our case, front-end is updating attributes however since id token doesn't get updated our backend is not aware of this change until user logs in again...

[2019-01-03 20:10] topcatse commented on #1852
Very much interested.

[2019-01-03 20:49] juanjcampos commented on #493
For achieving SSR this is what I've done, just in case it helps someone. I'm using Koa but I think it should be easy to modify it for Express or something else.

In the server.js file:
`
    import Amplify from 'aws-amplify';
    import fetch from 'node-fetch';
    ...
    // Middleware for adding storage polyfill that uses incoming cookies
    app.use(async (ctx, next) => {
        Amplify.config

[2019-01-03 21:23] jordanranz commented on #2454
Hi @Todmy,

Publishing an AR scene to a web page is currently not officially supported.

It is required that you publish a scene publicly and utilize native functionality (ARKit or ARCore) to build an AR scene. Here are some related resources:
- https://docs.sumerian.amazonaws.com/tutorials/create/intermediate/augmented-reality-using-sumerian-arkit/
- https://docs.sumerian.amazonaws.com/tutorials/

[2019-01-03 21:34] Todmy commented on #2454
@jordanranz thank you a lot

[2019-01-03 21:34] #2454 closed

[2019-01-03 22:18] #2137 closed

[2019-01-03 22:57] jordanranz commented on #2454
This may also be something you can do using the 8th Wall SDK:
https://8thwall.com/products-web.html

https://mobile-ar.reality.news/news/amazon-sumerian-8th-wall-weave-web-ar-experience-for-spider-man-into-spider-verse-movie-0190488/

We are working to find a way to best integrate with these solutions to allow users to simplify building AR web apps.

Thanks for your interest @Todmy.

[2019-01-03 23:43] #2237 closed

[2019-01-03 23:57] jordanranz commented on #2454
Here is the 8th Wall integration documentation:
https://github.com/8thwall/web/tree/master/gettingstarted/xrsumerian

[2019-01-04 00:23] samuelcastro opened #2460 "Could not find a declaration file for module '@aws-amplify/ui'"
**Describe the bug**
When trying to build a typescript project I'm getting: **Could not find a declaration file for module '@aws-amplify/ui'**:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. In a typescript (3.1.2) project run: `./node_modules/.bin/tsc`
4. See error

**Expected behavior**
Successfully build

[2019-01-04 00:42] jordanranz commented on #2444
Awesome! Glad that worked.

There are two ways to check if a user is signed in or not. You can either call `Auth.currentAuthenticatedUser()` described [here](https://aws-amplify.github.io/docs/js/authentication#retrieve-current-authenticated-user), which will succeed with the user object if the user is signed in or throw an error if the user is not signed in OR you can listen for auth events using

[2019-01-04 01:42] scottjbaldwin opened #2461 "Require New Password in Authenticator doesn't allow user to enter required attributes"
**Is your feature request related to a problem? Please describe.**
If I create a user in the UserPool as an Admin, you can use the Angular `amplify-authenticator` to Sign the user in. This helpfully handles the "require new password" flow, but doesn't allow you to enter any required attributes. For example if I specified 'given_name' as a required attribute, when I attempt to change my password, I

[2019-01-04 01:51] Chinna12345678 commented on #2391
can someone please help me with this issue?

[2019-01-04 02:19] #790 closed

[2019-01-04 02:20] troygoode commented on #390
This is super frustrating. This is what I'm currently using to get access to a User Pool user in an authenticated REST API generated by Amplify CLI (based upon the code @AlexThomas90210 posted above):

[code]

It should really be much easier than this.

[2019-01-04 03:32] vbosstech commented on #1501
[code]

[2019-01-04 05:43] WSorban opened #2462 "How to confirm email on Sign Up?"
Since the registration in our application is invitation based, he receives the email in his inbox, then he signs up from there, making it redundant to still need to confirm his registration.

amazon-cognito-identity-js had the ability to automatically confirm the email on sign-up, so the user no longer required to receive an eMail, and confirm his registration.

How can I achieve this using AWS-Am

[2019-01-04 07:48] mohanrao commented on #1378
@powerful23 in which version this is going to be released?

[2019-01-04 08:19] Private-SO commented on #2444
Thanks @jordanranz

I had used `Auth.currentAutheticatedUser()` to get the username of the user.  I still struggling with two navbar after sigin . I had created working for my scenario [`sandbox`](https://codesandbox.io/s/mzrwvmqn6x).

Username : John
Password:  Iam@2hero

These are just a sample demo application with nothing inside just a navbar . I will remove all the user pools once this proble

[2019-01-04 10:38] chai86 opened #2463 "How to update/query/scan in DynamoDB using Amplify?"
I would like to update a field in my DynamoDB table called 'AppTable' using the AWS-Amplify methods that were generated when I created the corresponding CRUD cloud-api (e.g. PUT, GET, POST, DELETE).

These few API methods reside in awsmobilejs/backend/cloud-api/AppTable/app.js, but they are not comprehensive enough!

I can simply use API.put to add to this table. e.g:

`apiResponse = API.put('AppT

[2019-01-04 11:02] imewish commented on #180
@powerful23  im not facing this issue. `User pool groups policies not applied`.
The issue I'm facing is the AWS credentials received using Auth.federatedSignIn() and Auth.currentCredentials() expires after 1 hour.

![cognito](https://user-images.githubusercontent.com/11400953/50685137-0df9c400-103e-11e9-90e1-90655f47613f.jpg)

[2019-01-04 11:17] JohanRin opened #2464 "Amplify with Angular - User is not authorized to change password when using Cognito Hosted UI"
**Describe the bug**
In my Angular project, User is not authorized to change password when using Cognito Hosted UI

**To Reproduce**
Steps to reproduce the behavior:
1. Sign in with the Cognito Hosted UI (for instance Google)
2. Go to the User profile > Change password
3. Type the old password and the new password
4. Click on 'Change password' button
5. See the error 'User is not authorized to cha

[2019-01-04 12:01] gsandiford commented on #2167
I have a similar issue and tried the same thing

`signUp = async (username, password, email, birthdate, policycode) => {
    try {
      await Auth.signUp({ username, password, attributes: { email, birthdate, custom:policycode }})
      console.log('successful sign up..')
      this.setState({ stage: 1 })
    } catch (err) {
      console.log('error signing up...', err)
      alert(err.message)

[2019-01-04 12:11] TLaue opened #2465 "Authenticator HOC - ForgotPassword.js: Use theme instead of style for "Send" button"
**Describe the bug**
It is not possible to apply a custom style to the button text on the ForgotPassword page as the theme is not given as prop for the "Send" button but just the style directly:

`React.createElement(AmplifyButton, {`
`text: I18n.get('Send').toUpperCase(),`
`style: theme.button,`
`onPress: this.send,`
`disabled: !this.state.username`
`})`

In contrast the following code on the Sig

[2019-01-04 12:35] janpapenbrock commented on #1378
@mohanrao This appears to have landed in `1.1.18` at least, but [it throws errors for me](https://github.com/aws-amplify/amplify-js/pull/2400#issuecomment-451432373).

[2019-01-04 12:47] christophgysin opened #2466 "Expose profile picture for federated authentication providers"
**Is your feature request related to a problem? Please describe.**
Using withAuthenticator with federated authentication, only name and email are exposed.

**Describe the solution you'd like**
Additionally, the profile picture url should also be exposed.

**Describe alternatives you've considered**
It's possible to fetch the image url manually after the user has logged in.

**Additional context**

[2019-01-04 13:47] JohanRin opened #2468 "Amplify with Angular - Cannot update attributes of user connected with the Cognito Hosted UI"
**Describe the bug**
Cannot update attributes of user connected with the Cognito Hosted UI

**To Reproduce**
Steps to reproduce the behavior:
1. Sign in with the Cognito Hosted UI (for instance Google)
2. Go to the User profile
3. Type new _given_name_ and _family_name_
4. Click on 'Confirm' button
5. User attributes are now updated
6. Check on Cognito if user attributes are updated => OK
7. Sign

[2019-01-04 13:50] Hugodby opened #2469 "Pinpoint console doesn't display Amplify session events"
**Describe the bug**
Pinpoint session tracker event names are incorrect. This lead to session events not being correctly displayed in the Pinpoint console. Session events appear on the  "Analytics"->"Events" page but not on "Analytics"->"Usage" page.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure Pinpoint on an Amplify project
2. Open the application so session events are sent to

[2019-01-04 14:50] heitorlessa commented on #2162
I've just installed amplify for a new project and hit this issue - Opened up and min-width is still there -- Perhaps a new npm release is in order @jordanranz ?

[code]

[2019-01-04 16:07] cliffordh opened #2470 "Customize AWS Amplify Authentication UI for Vue"
**Is your feature request related to a problem? Please describe.**
I would like to customize the look and feel (CSS) of the Authentication components for Vue. This is either not documented or it is not clear how to accomplish this.

**Describe the solution you'd like**
I would like to be able to override the default styles with minimal effort!

**Describe alternatives you've considered**
I have co

[2019-01-04 16:29] heitorlessa opened #2471 "[Vue] How to safely override Amplify built-in components via CSS?"
** Which Category is your question related to? ** Amplify UI

** What AWS Services are you utilizing? ** Cognito

** Provide additional details e.g. code snippets **

Different from React I can't pass a theme object to override drop-in components from Amplify for example - ``<amplify-authenticator>``

After some digging I notice it creates a random class at build time `.Form__formSection___3tqxz`.

[2019-01-04 16:45] timwhunt commented on #1226
The Cognito team does recognize this as an issue. We will fix it, but I cannot provide a timeline.

[2019-01-04 18:34] powerful23 commented on #180
@imewish the credentials will not be automatically refreshed because you didn't provide the refresh handler to the Auth module.

As I mentioned, you should **not** use `Auth.federatedSignIn` when login via Cognito Hosted UI, which is to prevent some unexpected behaviors. If you are just using Cognito Hosted UI correctly, the credentials will be automatically refreshed.

Since you said:

I think th

[2019-01-04 18:51] jordanranz commented on #2471
Hey @heitorlessa,

At the moment overriding the styling of the Vue components is not explicitly supported. It is a high priority item on our backlog to unify the theming/customizability for each of our supported frameworks by allowing a user to pass in custom classnames to granular elements of the components we provide.

I am going to mark this as a feature request for now but will update as soon

[2019-01-04 18:52] jordanranz commented on #2470
Hey @cliffordh,

I have just responded to a similar issue and will close this so we can consolidate this into a single tracked issue: #2471

[2019-01-04 18:52] #2470 closed

[2019-01-04 18:56] jordanranz commented on #2281
hey @jessedoyle,

Could you post some code of the overridden Greetings component and how you passed it to withAuthenticator. This would help us debug a bit further.

[2019-01-04 19:23] NikoMontana commented on #2363
@powerful23 Thank you for your support! I wish you and your team a happy new year!

Yes, this is the right solution for the particular auth problem! Now the status got changed to CONFIRMED for that user!

I am now able to have public and auth access to my API, great! Just wondering if I will be able for fine grained acccess controll within the resolvers, because I am using IAM authentication for A

[2019-01-04 19:51] cliffordh commented on #2471
@heitorlessa @jordanranz

I created #2470 shortly before you posted this very similar question. I poked around a bit and found a workaround that should at least let you theme the components:

In your App.vue <style> section insert this code and define the colors how you see fit. I changed the built-in Amazon orange to a dark green as an example:

[code]

What you're doing is overriding the CSS var

[2019-01-04 20:20] ceich commented on #2424
Note that the PR adds `identityId` support to `S3Text` and `S3Album` as well, for consistency.

[2019-01-04 20:32] jordanranz commented on #2465
I have submitted a PR to fix this. Thank you for catching this.

[2019-01-04 21:17] jordanranz commented on #2466
This is a valid ask. Thanks for the PR. Would you like to PR for Facebook and Auth0 as well?

[2019-01-04 21:31] christophgysin commented on #2466
Yes, I have commits for Facebook and Auth0, as well as exposing the email for the Amazon provider. These are not fully tested yet and lack tests. Will try to create PRs for those too.

[2019-01-04 21:56] elorzafe commented on #2463
@chai86

I tried this on a similar project with a code like this.

I modified my `app.js` file that contains the [aws serverlesss express code](https://github.com/awslabs/aws-serverless-express) that runs on my lambda function by adding support for PATCH method. This has a path `/items/addNumber/:hashKey/:sortKey` where :hashKey and :sortKey are the object that is going to be updated. Inside that

[2019-01-04 22:09] jordanranz commented on #2460
Hey @samuelcastro, how are you including amplify into your project?

[2019-01-04 22:57] powerful23 commented on #2469
@Hugodby thanks for reporting this issue. I have sent a pr to fix it.

[2019-01-04 23:13] powerful23 commented on #2363
@NikoMontana glad to hear that! Can you give more description about the fine grained access control?   Basically if you are using IAM authentication, you would choose the right policy for the authenticated role that you defined in the Cognito federated Identity pool. So that the signed in user would have the permission to do actions that are only allowed under auth state.

[2019-01-04 23:14] #2469 closed

[2019-01-04 23:55] jayair commented on #2435
I've made some progress. I managed to log the API Gateway error in CloudWatch:

[code]

The requests made right before these seem to be working. But some requests just fail every once in a while.

Is this in some way related to the credentials not being refreshed properly on the client?

[2019-01-04 23:57] jordanranz commented on #2281
Glad you got this working!

I think your solution is the preferred way to achieve what you are asking for. Since the Greetings component simply provides a UI wrapper for sign out and username text, it is simpler to use the Auth method mentioned above and create your own Header above your app. I will close this for now. Please reopen if you experience any related issue.

[2019-01-04 23:57] #2281 closed

[2019-01-05 00:08] jordanranz commented on #2444
Hey @Private-SO,

Since you are wrapping your App component in the withAuthenticator HOC, the <Text /> component specified in the App component (and anything else within the App component's render() function will only render once you have signed in. You can read a bit more about HOCs [here](https://reactjs.org/docs/higher-order-components.html).

To render something outside of the Sign In screen a

[2019-01-05 00:51] jordanranz commented on #2433
Hey @epicfaace,

Are you using Amazon API Gateway to manage your REST API?

[2019-01-05 01:55] elorzafe commented on #2433
@epicfaace you can change the headers of the request like this

[code]

[2019-01-05 04:31] josephecombs commented on #2160
We need way more code samples of valid configurations of the signUpConfig object. This should with with just email and password, out of the box.

[2019-01-05 04:37] peetss commented on #297
If anyone has something I can NPM install that allows for this, I would be eternally grateful.

[2019-01-05 05:38] bsapiro commented on #2437
that makes sense.... thanks

[2019-01-05 05:38] #2437 closed

[2019-01-05 07:07] Jaikant commented on #1011
I am using AppSync and need to send the JWT token in the header.
But there isn't any JWT! Does that mean AppSync with Cognito Pools based auth, will not work with FB and Google. And I would have to change it to IAM based auth in AppSync? Thats isn't pretty.

Below is what I am trying to do:
get the access token:
`const accessToken = (await Auth.currentSession()).getIdToken().getJwtToken();`

Set i

[2019-01-05 08:00] rpostulart opened #2475 "Geo search"
At this moment there is no possibility to search via graphql / dynamodb certain records based on the longitude and latitude (geo) while there is a kind of library within AWS for this:
https://github.com/amazon-archives/dynamodb-geo

Can we make these functionalities also available via Amplify:
**Box Queries**: Return all of the items that fall within a pair of geo points that define a rectangle as

[2019-01-05 10:41] davidbillamboz opened #2476 "Advanced Control Cognito User Access to S3"
**Which Category is your question related to?**
Auth, Storage

**What AWS Services are you utilizing?**
AppSync, Cognito, S3, Dynamodb, IAM

**Provide additional details e.g. code snippets**
Hello!

I am trying to design a solution to:
- let users upload objects to S3 for their projects at /projects/{project_UUID}/{object_UUID}
- some users have access to the projects and should have access to the

[2019-01-05 12:03] lucasvieirasilva opened #2477 "[Question] - [Analytics] - UpdateEndpoint is not send data"
Hi, I have a question about Analytics.updateEndpoint(), my case is:

1. Configure Auth and Analytics properties in Amplify.configure on my startup file.

[code]

2. After Amplify Login on Cognito UserPool I'm invoke the method Analytics.updateEndpoint() passing custom UserId and UserAttributes

[code]

But when I invoke the method, on the Network tab on Google Chrome, the request is not there. I s

[2019-01-05 13:06] Jaikant commented on #1011
So I managed to work around this issue by following the `Cognito Hosted UI` in Amplify as described [here](https://aws-amplify.github.io/docs/js/authentication#using-amazon-cognito-hosted-ui).

Also this reddit [post](https://www.reddit.com/r/aws/comments/92ye5s/is_it_possible_to_add_googlefacebook_user_to/) helped, in which it is clearly stated that we need to use the hosted ui method to add fede

[2019-01-05 13:33] dhyeysejpal commented on #1031
@vvantruong It worked wonderfully! Thank you very much! :)

[2019-01-05 18:04] jkeys-ecg-nmsu commented on #2418
@LK get it figured out?

[2019-01-05 19:30] Jobel91 commented on #1858
After added "react-native-push-notification" lib, I got an error :
`D8: Program type already present: com.google.android.gms.gcm.PendingCallback`

I resolve the issue by adding :

compile (project(':react-native-push-notification')){
       **exclude group: 'com.google.android.gms', module: 'play-services-gcm'**
}

Then, I followed @kushanson instructions to fix the naming collision between the tw

[2019-01-05 23:37] chai86 commented on #2463
@elorzafe
Ah ok. I'm still unsure why if the `req.body` i put in as below, it doesn't work.

[code]
In the documentation for DynamoDB the `params` i thought the should `updateTableWith` should still get processed when calling update() as that's what the function is expecting right?
[code]

AWS AppSync with mutations, subscriptions etc... seems quite counter intuitive when DynamoDB's Put, Get, Dele

[2019-01-06 00:30] epicfaace commented on #2433
@jordanranz No, I am not.
@elorzafe , that doesn't work. What I need is the ability to set responseType (https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/responseType) to "blob", which would mean passing in `{responseType: blob}` when calling `axios`.

Essentially, I am working around this issue by using `fetch` for now like this:
`fetch(url).then(e => e.blob());`

Because it seems

[2019-01-06 02:26] yahavb opened #2478 "Console error reading inputParams googleClientId, facebookAppId"
**Describe the bug**
Build using `- amplifyPush --environment $AWS_BRANCH` in amplify.yml generates `Error: auth headless init is missing the following inputParams googleClientId, facebookAppId` while working with `amplify push` using amplify CLI.

**To Reproduce**
Steps to reproduce the behavior:
1. Using Amplify Console define backend build steps
[code]
2. Define in googleClientId and facebookAp

[2019-01-06 03:38] rcbrown commented on #854
Still happening on:
[code]

[2019-01-06 06:06] csepulv commented on #1583
I have this same issue. While I understand that the Federated Identity Pool is separate from the User Pool, there doesn't seem to be a way to clear/logout of the Identity Pool.

For example, if I sign in a user (let's say via Google) and then use `Auth.federatedSignIn()`, I will get credentials for the Identity Pool. If I then logout via Google, and login again, when I call `Auth.federatedSignIn()

[2019-01-06 10:54] malinda1986 commented on #1420
@Private-SO Did you find a way to resend the verification link, not the " CODE"

[2019-01-06 14:40] imewish commented on #180
@powerful23

the same way that you mentioned in #2390.

1. Assign an value to the Precedence in your user group
2. In your Cognito Federated Identity pool -> Edit Identity Pool -> Authentication Providers -> Authentication role selection -> Change Use default role to Choose role from token

I have few groups in my user pool. admin, and some others. each of them have different IAM roles.

if i just

[2019-01-06 14:44] imewish commented on #1583
@csepulv

You need to call this URL on sign out function.
`'https://' + cognitodomain + '/logout?client_id=' + clientId + '&logout_uri=' + signoutUrl`

So your federated user will be signed out properly.

This fixed my issue.

[2019-01-06 14:51] imewish commented on #2442
@JL00001

you can use this method.
https://aws-amplify.github.io/docs/js/authentication#working-with-aws-service-objects

Once you log in with Auth.signIn() method,

you need to call Auth.currentCredentials() to get the temporary AWS credentials

[2019-01-06 19:06] csepulv commented on #1583
@imewish Thanks. Did you manually clear local storage? (I think there are methods buried in the various Cognito SDKs for this as well)

[2019-01-06 20:31] cliffordh opened #2479 "[Vue] Auth, password not contained within a form element"
**Describe the bug**
Using Amplify 1.1.18 and Vue. I am encountering a browser warning in Chrome:  Password field is not contained in a form: (More info: https://goo.gl/9p2vKq)

**To Reproduce**
Steps to reproduce the behavior:
Include:       <amplify-authenticator></amplify-authenticator>
in your App.vue template.
Open Console, Verbose, localhost log
View error regarding password not contained wi

[2019-01-06 20:34] jkeys-ecg-nmsu opened #2480 "How to persist login across page refresh"
I want to be able to keep users logged in on page refresh (which I believe was the default behavior of Amplify a couple of months ago). I am using the withAuthenticator HOC with a customized LogIn component.

@jordanranz Is there a config issue at play here preventing page reloads from persisting credentials?

** Which Category is your question related to? **
Auth, React HOC

** What AWS Services

[2019-01-06 23:58] rcbrown commented on #854
Oops, my bad--it's because I hadn't called `Amplify.configure()`. That error message could be better, but ultimately all my fault.

[2019-01-07 02:13] temideoye commented on #2477
@lucasvieirasilva, from what I see, you did everything right except that your endpoint needs an address. If your default config does not contain an endpoint address, you need to pass in one the first time you call updateEndpoint. You may try something like this:
[code]

[2019-01-07 03:12] p4ul commented on #1278
Yes I have it working, but sorry I can't remember how!
Steps I remember taking:
1. switched to react latest version and used typescript in it (instead of create-react-app-typescript)
2. my "app" object looks like
[code]
3. here is an example of an extended signin
[code]
**NOTE I used showComponent NOT render**

I hope that helps!

[2019-01-07 03:32] temideoye commented on #2462
@WSorban, not sure Amplify exposes such interface, but you could implement one yourself with a Pre-sign up Lambda trigger on your Cognito user pool. Just set ```event.response.autoVerifyEmail = true```
It is well documented here: https://goo.gl/UdC6Uk

[2019-01-07 04:00] temideoye commented on #2431
@bishonbopanna, you can add a unique **Primary Key** (*Partition Key* + *Sort Key*) in DynamoDB, but that's about it.

If what you're trying to achieve is a unique combination of name and author, for example:
```Mutation 1: createPost(name: A, author: B) \\ Succeed```
```Mutation 2: createPost(name: A, author: C) \\ Succeed```
```Mutation 3: createPost(name: A, author: B) \\ Error Unique Constrain

[2019-01-07 04:57] LK commented on #2418
Yes, seems like it. Thanks again for your help!

[2019-01-07 04:57] #2418 closed

[2019-01-07 07:10] dhyeysejpal commented on #1031
Using theme.section solves the layout issue but has anyone found out a way to ignore all theme components and design the screen from scratch? I feel in a way that the theme limits our possibilities.

For example, I am trying to use KeyboardAvoidingView, and it works if I don't use theme.section. However, the width gets too small (as seen in the screenshot above). If I style using theme.section to

[2019-01-07 07:48] hoang-innomizetech commented on #2362
Does anyone know how to fix this error when building AOT build?

ERROR in node_modules/aws-amplify-angular/dist/src/components/xr/sumerian-scene-component/sumerian-scene.component.core.d.ts(14,16): error TS2709: Cannot use namespace 'AmplifyUI' as a type.
node_modules/aws-amplify-angular/dist/src/components/xr/sumerian-scene-component/sumerian-scene-loading.component.core.d.ts(6,16): error TS2709:

[2019-01-07 07:55] koladilip commented on #2095
I found an easy way to get the ID and access tokens using Cognito refresh token using node-fetch and calling Cognito REST API directly and here is the code for it.
`
fetch("https://cognito-idp.us-east-1.amazonaws.com/", {
            headers: {
                "X-Amz-Target": "AWSCognitoIdentityProviderService.InitiateAuth",
                "Content-Type": "application/x-amz-json-1.1",

[2019-01-07 09:08] wbroek opened #2482 "GraphQL API Attribute not removed when providing null"
**Describe the bug**
When doing an update mutation with a value of `null` (or undefined) for the key the attribute is not removed in DynamoDB.

**To Reproduce**
Steps to reproduce the behavior:
Create a model and push it and generate the graphql mutations
[code]

Insert an article with a title and subtitle

Do an update mutation with a new title and set subtitle to null
[code]

The title is change

[2019-01-07 10:49] pribadi1st opened #2483 "[IOS - React native] Pushnotification on tap return null."
**Describe the bug**
I want to get my remote - notification by tap (any state), but when i try to log the notification its return null

**To Reproduce**
Steps to reproduce the behavior:
1. install aws push notification
2. get the device token
3. push the notification using API (not campaign)
4. console.log(data) in PushNotification.js
5. Null value
[code]

**Expected behavior**
Pushnotification.On

[2019-01-07 11:00] scottjbaldwin opened #2484 "Angular Signup Component doesn't handle datetime attributes correctly"
**Describe the bug**
When birthdate (or any other datetime type) is added as a SignupField to the amplify-authenticator control in angular, the only option is to type in the input in the expected format for the cognito api request, i.e. YYYY-MM-DD. Any other date time format is rejected.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an AWS cognito User Pool with birthdate as a requi

[2019-01-07 11:28] ApolloGun opened #2485 "Cannot read property 'ConsoleLogger'/prototype of undefined with parcel tree shaking"
**Describe the bug**
My react app crashes when I enable experimental-scope-hoisting using parcel. I had been using the full library but reduced it to:
    "@aws-amplify/auth": "^1.2.14",
    "@aws-amplify/core": "^1.0.22-unstable.1",

When core is set to 1.0.9 the error is consolelogger of undefined otherwise it's prototype of undefined.

Here is where the error is occurring in the source:
 cs.uti

[2019-01-07 13:09] iqbalt commented on #2162
I am having the same issue with latest release.

[2019-01-07 13:11] iqbalt commented on #2162
I am having the same issue.

[2019-01-07 15:06] FWirtz commented on #1213
I don't think this issue should be closed as it still is a valid feature request and the solution provided by @mayteio is more a workaround and not using Amplify directly.

[2019-01-07 15:20] Jobel91 commented on #1858
I get an error when I try to open a notification sent by 'react-native-push-notifications' :

It seems hard to implement these libraries without issue.
Set up Push Notifications is quite hard, then we need to simplify his implementation, so I will give up one of these library.

I hope that AWS Developers will improve the use of this module.

I will send Push Notifications using SNS, but I'm wonder

[2019-01-07 15:33] lucasvieirasilva commented on #2477
Hi @temideoye, I added address and channelType fields in updateEndpoint request, but updating endpoint still not working.

Thanks

[2019-01-07 15:55] cliffordh commented on #488
@jliebrand what tool are you using to generate the javascript breakdown image?

[2019-01-07 16:15] jliebrand commented on #488
@cliffordh source-map-explorer (https://www.npmjs.com/package/source-map-explorer)

[2019-01-07 17:44] doom777 commented on #2475
Elastic search is a workaround. We'd like native geo features, like Firebase is about to offer. Amplify is meant for mobile apps, and  "get all things in this geo box" or "get all things in a radius around this geo point"  is a very popular usage for mobiles apps. Please consider making this a high priority

[2019-01-07 17:59] robotlemons opened #2486 "signUpConfig Username required when hideAllDefaults = true"
**Describe the bug**
With hideAllDefaults set to true, would expect "Username cannot be empty" error to not occur.

**To Reproduce**
Steps to reproduce the behavior:
Setup signUpConfig to include whatever fields but hideAllDefaults set to true. Username is not a field in the form now but when form is filled out completely, "Username cannot be empty" error is shown.

**Expected behavior**
If Userna

[2019-01-07 18:07] temideoye commented on #2477
@lucasvieirasilva, can you share some log info? Enable debug log with `Amplify.Logger.LOG_LEVEL = 'DEBUG'` and try again.

[2019-01-07 18:32] tcchau opened #2487 "Custom Message trigger Code Parameter contains invalid URI characters"
**Is your feature request related to a problem? Please describe.**
Like many other library/SDK users, we've elected to embed the email verification code or temporary password using Code Parameter, as part of a clickable link the end user can use to confirm their newly created account.

The problem is that the code or temporary password that's generated may contain characters that are not allowed o

[2019-01-07 18:55] elorzafe commented on #2435
@jayair yes, Amplify refreshes the credentials when they expire. Do you have some code snippet?

[2019-01-07 18:56] powerful23 commented on #180
@imewish no, the `Refreshing JWT Tokens` is only for the case if you are using third party as the provider of `Cognito Federated Identity Pool`.

When using Cognito Hosted UI with the third party provider, what happend is that it will create a federated user in your user pool, and the Cognito service will return back the tokens (idToken, accessToken and refreshToken) of that user to you.

Let's co

[2019-01-07 19:00] jayair commented on #2435
@elorzafe Thanks for the reply. The login flow can be a bit tricky to put up here. But is there something I can log before an API call is made to see if the credentials are being set properly?

[2019-01-07 19:17] #2044 closed

[2019-01-07 19:17] lucasvieirasilva commented on #2477
Hi @temideoye, after turning on the debug log, I saw the problem in the browser console, apparently the field UserAttributes must be an Array.

The console log:

[code]

My fix:

[code]

console log after code changes:

[code]

It's works

Thank you very much for your help

[2019-01-07 19:18] elorzafe commented on #2435
@jayair you can enable DEBUG logs like this

```Amplify.Logger.LOG_LEVEL = 'DEBUG'```

[2019-01-07 19:19] dougepsotic opened #2488 "Typo in Label for PhotoPicker aws-amplify-react"
<img width="478" alt="photo-picker" src="https://user-images.githubusercontent.com/43615846/50788392-493b0380-1287-11e9-8e6a-e6c8d8f94072.png">
Within the PhotoPicker HOC contained in aws-amplify-react (amplify-js/packages/aws-amplify-react/src/Widget/PhotoPicker.js), the label reads:

"Add you photos by clicking below"

Please change to:

"Add your photo by clicking below"

[2019-01-07 19:22] temideoye commented on #2477
Oh yeah, that totally eluded me too. Glad the log helped you figure it out.

[2019-01-07 19:34] elorzafe commented on #2424
@ceich thanks for your PR, I answered in more detail on the PR but in order to merge it we need to add some instructions on our docs, so others can use it 🙂

[2019-01-07 19:41] elorzafe commented on #2340
@Foosballfan thanks for your feedback I will send a pr to fix that

[2019-01-07 20:04] Vingtoft opened #2490 "PubSub.subscribe | What's up with ProvidertOptions ?"
According to [documentation](https://aws-amplify.github.io/docs/js/pubsub), subscribing to AWS IoT Core should be done this way:

`PubSub.subscribe('topic').subscribe({/*do something*/)`

It's now required to add a so-called undocumented(!!) `ProvidertOptions` (typo in the variable name?), like this:

`subscribe(topics: string[] | string, options: ProvidertOptions): Observable<any>;`

I cannot fin

[2019-01-07 20:08] lucasvieirasilva commented on #2477
Yes, another thing is that all attribute values must be string!

[2019-01-07 20:08] #2477 closed

[2019-01-07 20:18] temideoye commented on #2477
**Updating this for future reference**
userAttributes object expects array values. Right implementation should be:

[code]

[2019-01-07 21:09] powerful23 commented on #2486
@robotlemons if you don't have a username field, then which field would you like to be the username? `email`?

[2019-01-07 21:45] robotlemons commented on #2486
@powerful23 i use email to have my users login and username is filled in with UUID by Cognito when a new user is created in the Pool.

<img width="1049" alt="screen shot 2019-01-07 at 3 45 11 pm" src="https://user-images.githubusercontent.com/45703810/50795268-46461000-1293-11e9-9729-37b9ba2a1f3a.png">

[2019-01-07 23:31] #2488 closed

[2019-01-07 23:51] powerful23 commented on #2486
@robotlemons I'm going to close this as it's related to #104. We are working on this feature but I cannot provide an ETA here.

[2019-01-07 23:51] #2486 closed

[2019-01-08 00:22] elorzafe commented on #2482
@wbroek

I did the same as you and subtitle field was removed from the database.

This is my app code
[code]

this was the response
[code]

[2019-01-08 00:36] undefobj commented on #2475
DynamoDB does not support geo queries, which is why that repo is in archive now. AppSync supports both DynamoDB as well as Elasticsearch which you can leverage in a single API and stream the data from DynamoDB to Elasticsearch indexes. That's why `@searchable` was added: https://aws-amplify.github.io/docs/cli/graphql#searchable

I'm not sure what the feature request is here since Amplify leverages

[2019-01-08 00:46] powerful23 commented on #2485
@ApolloGun can you provide more details? I tried with the same amplify versions on a react app and run command `parcel build src/index.js --experimental-scope-hoisting`, so far no error showed up.

[2019-01-08 01:13] temideoye commented on #2475
@undefobj, the `@searchable` directive provides an interface for String, Int, Float, and Boolean searches. If I understand it correctly, I think the feature request here is for geo-related searches which is probably two requests in one when broken down:

**1.** Support geo-types, i.e a new GraphQLObjectType, like AWSGeo?
**2** Enable geo-related queries via `@searchable`, which is a bit more invol

[2019-01-08 01:35] undefobj commented on #2475
For new GraphQL scalar types that's best logged as a feature request to the AppSync service. I would recommend logging that here: https://forums.aws.amazon.com/forum.jspa?forumID=280&start=0

If there are enhancements needed to the GraphQL transformer it's best logged as a feature request in the Amplify CLI repo (as this repo is for the library): https://github.com/aws-amplify/amplify-cli

@rpostu

[2019-01-08 01:50] imewish commented on #180
Yes. I can see it my local storage.
with a key,

aws-amplify-federatedInfo
![screen shot 2019-01-08 at 7 17 22 am](https://user-images.githubusercontent.com/11400953/50804834-bd23ed00-1315-11e9-92f6-430db14ba99e.jpg)
the key `aws-amplify-federatedInfo` has the idToken , expires_at, and provide as `cognito-idp.ap-southeast-1.amazonaws.com/ap-southeast-1_xxxxx`

[2019-01-08 04:12] mohanrao commented on #1378
@janpapenbrock I see this is still happening for 1.1.18

@powerful23 Please help

[2019-01-08 04:57] doom777 commented on #2475
Why do you need ElasticSearch anyway for simple queries such as 'lt' 'ne' etc? DynamoDB supports these by itself. Is this just a away to force users to use and pay for ES even when not necessary?

Anyway, you can now do a Float lat and Float lon and do box queries by havin lat and lat lt and lon gt and lon lt, but come on... Also it fails at poles or if you need large boxes or.... Anyway you shoul

[2019-01-08 05:01] doom777 commented on #2475
@undefobj
True dynamodb doesn't support geo features natively, so that archived lib simulated geo features by using geohashes and in-memory filtering, similar to what firebase geo libs do. This would be an acceptable solution fornus IMO, or else intergrate '@searchable' with ES geo queries and types as guys previously said.

[2019-01-08 05:04] imewish commented on #1583
@csepulv the local storage is cleared automatically on signout call.

[2019-01-08 05:05] szkkeny opened #2495 "Is it secure to write userPoolId or others in js file?"
Hi,

I'm checking how to create login system with using react, and AWS cognito.

I just care about security risk which is caused by publish cognito userPoolId, userPoolWebClientId, identityPoolId on aws_exports.js file.
We can check it with developer tool on browsers.

But I think we can't do any admin operation like delete user or change settings
with only these information.
Is my recognition cor

[2019-01-08 05:09] csepulv commented on #1583
@imewish thanks

[2019-01-08 09:41] rpostulart commented on #2475
@undefobj I will check asap and let it know here.

[2019-01-08 10:34] choxnox commented on #1736
I can confirm when `cookieStorage` is set, calling and retrieving user data from Cognito works but nothing gets saved to the browser and we get `not authenticated` error when calling `Auth.currentAuthenticatedUser()` after `Auth.signIn(...)`. I've tried with both `v1.1.10` and the latest stable `v1.1.18`.

[2019-01-08 11:46] develpr commented on #728
I agree, it would be SUPER handy to have the actual device shadow exposed in more of an API, instead of having to implement / watch for updates ourselves!

[2019-01-08 12:22] wbroek commented on #2482
@elorzafe thank you for the check. Assuming is a local issue then; not understanding why but when creating a new react project with new amplify init it works also!

[2019-01-08 12:22] #2482 closed

[2019-01-08 13:58] exptom commented on #2158
@powerful23 I am getting this exact same issue with `aws-amplify@1.1.18`.
I can see that `JS.isEmpty()` is called a lot in the React version but only this once in the Vue.JS version. I don't think it exists in the Vue context.

[2019-01-08 15:51] lisandrolan commented on #2361
any update?

[2019-01-08 16:12] lobosan opened #2496 "Vue example for aws-amplify + aws-appsync"
Hi, I just started having a look at the docs and I'm confused about the use of aws-amplify and aws-appsync in a vue project.

For instance, in the documentation says "The Amplify GraphQL is a lighter weight option if you’re looking for a simple way to leverage GraphQL features and do not need the offline capabilities or caching of the Apollo client. If you need those features, choose the AWS AppSy

[2019-01-08 16:16] JL00001 commented on #2442
I figured it out after quite a few days. I read the doc you mention before but found it unhelpful. Below is my code to have someone sign in to a user pool and publish to a AWS Iot topic. I hope it helps some one in the future.

After you have sign in with the Auth lib; Auth.currentCredentials(), will return a valid credentials, and you call Auth.essentialCredentials(credentials) to get only the cr

[2019-01-08 16:20] JL00001 commented on #2442
I figured it out after quite a few days. I read the doc you mention before but found it unhelpful. Below is my code to have someone sign in to a user pool and publish to a AWS Iot topic. I hope it helps some one in the future.

After you have sign in with the Auth lib; Auth.currentCredentials(), will return a valid credentials, and you call Auth.essentialCredentials(credentials) to get only the cr

[2019-01-08 16:22] undefobj commented on #2496
For using the AppSync SDK with Vue Apollo please see the documentation here: https://github.com/awslabs/aws-mobile-appsync-sdk-js#vue

If you have any issues with running that sample code it's best to use the issue tracker on that repo.

[2019-01-08 16:34] lobosan commented on #2496
Hi @undefobj thanks for your quick response.

If I use the configuration proposed by the link you sent me, it means I loose all the functionality provided by aws-amplify? or is it possible to use both simultaniusly without interfering one with the other?

[2019-01-08 16:34] wowMuchgit commented on #2317
I noticed this in the debug log:

[DEBUG] 24:00.43 AuthClass - failed to get or parse item aws-amplify-federatedInfo SyntaxError: "JSON.parse: unexpected character at line 1 column 1 of the JSON data"

The rest of the log:

[DEBUG] 22:35.771 AuthClass
Object { idToken: {…}, refreshToken: {…}, accessToken: {…}, clockDrift: 1 }
ConsoleLogger.js:99
[INFO] 22:35.774 Cache - Remove item: key is federat

[2019-01-08 17:18] elorzafe commented on #2482
@wbroek I am glad it works

[2019-01-08 17:19] elorzafe commented on #2433
I will mark this as feature-request. @epicfaace thanks for your feedback

[2019-01-08 17:22] doom777 commented on #2475
There is this [tutorial](https://serverless.com/blog/build-geosearch-graphql-api-aws-appsync-elasticsearch/) for geo queries in AppSync. Also, this AppSync [tutorial](https://docs.aws.amazon.com/appsync/latest/devguide/tutorial-combining-graphql-resolvers.html) mentions geospatial data/. So it is probably somehow possible, just very convoluted.

[2019-01-08 18:06] choxnox commented on #1736
OK, after wasting 7 hours and digging through AWS Amplify code I finally managed to get it working and the problem was on my side - I set `secure` flag to `true` for the `cookieStorage` config while I was running the code on localhost via HTTP and not HTTPS. Ignoring `secure` flag in the config resulted in cookies being properly stored.

[2019-01-08 18:07] powerful23 commented on #180
@imewish this is not the one I am looking for. This item is cached after you called `Auth.federatedSignIn()`. What I am looking for is those keys like this:
![screen shot 2019-01-08 at 10 05 44 am](https://user-images.githubusercontent.com/11042868/50849860-10ee0080-132d-11e9-9720-3a78acd8fe7e.png)

If there are no such keys under your local storage, then it means you are not signed in correctly w

[2019-01-08 18:15] powerful23 commented on #1378
@mohanrao did you add the `mobiletargeting:GetUserEndpoints` policy in your IAM role? This policy is required to get rid of this error. You can also open the debug mode by `window.LOG_LEVEL='DEBUG'`

[2019-01-08 18:16] choxnox commented on #1736
Actually what needed to be done is not ignore `secure` flag but to set it to `false` because it's already `true` by default.

[2019-01-08 18:43] powerful23 commented on #2361
@lisandrolan Can you provide more details? The pinpoint team cannot reproduce this issue.

[2019-01-08 19:05] undefobj commented on #2475
@doom777 you can use `@model` to generate the simple queries that you state above, as outlined here: https://aws-amplify.github.io/docs/cli/graphql#generates

However these will just use DynamoDB itself and at scale these filtering techniques may be less performant based on your data access pattern which is why Elasticsearch exists. The `@searchable` will automatically stream data from DynamoDB to

[2019-01-08 19:19] undefobj commented on #2496
You can still use Amplify for things like `Auth` but I would recommend not using the GraphQL capabilities from the `API` category if you are using the AppSync Apollo SDK.

For example here is how you use the `Auth` category with Cognito User Pools configured with AppSync: https://aws-amplify.github.io/docs/js/api#cognito-user-pools-auth

[2019-01-08 19:42] powerful23 commented on #1736
@choxnox thanks for your feedback. I will send a pr to improve the doc with more cookie storage info/comments.

[2019-01-08 19:48] jayair commented on #2435
@elorzafe Is there someway to listen on these log events? I need to log them to Sentry.

[2019-01-08 19:56] jordanranz commented on #2480
We solved this by moving the Amplify.configure routine before loading other Amplify resources. Closing this now. Please reopen if you run into any similar issues.

[2019-01-08 19:56] #2480 closed

[2019-01-08 20:05] jayair commented on #2014
I'm having this issue as well. Is there a fix for this? Is it being worked on?

AWS SDK `correctClockSkew` setting does not work anymore. And this issue is incredibly easy to replicate. Just set your system clock ahead by more than 5 minutes all API requests will fail.

[2019-01-08 20:43] lisandrolan commented on #2361
the issue seems to be solved.

[2019-01-08 20:43] #2361 closed

[2019-01-08 21:34] wizawuza opened #2498 "Amplify Console 200 (Rewrite) fails on SPA React (Router) Application"
**Describe the bug**
When using the Amplify Console to build a project, the react router performs as expected when I click new links. When I hit Ctrl-R for refresh, it pushes me back to:
https://<git-branch>.<app-id>.amplifyapp.com/index.html

The default "rewrites and redirects" is:
Source address: /<*>
Target address: /index.html
Type: 404 (Not found)

So that makes sense.

When I change the rew

[2019-01-08 21:41] wizawuza commented on #2498
In case it helps to debug.. After having this fail in Chrome per the above description, I then tried in MS Edge. That worked perfectly for a few minutes, afterwards it failed in a similar fashion.

Changing the type to 404 makes the website work again (although a Ctrl-R refresh always pushed it back to the root), but then afterwards switching it again back to 200 does not work, not even for a minu

[2019-01-08 21:43] jameskhamil commented on #979
I assumed this was the default behavior! You have to recode the form from scratch when changing fields?

[2019-01-08 21:56] jordanranz commented on #2465
Closing this as the PR should fix the issue. Please reopen if you are still experiencing any related problems.

[2019-01-08 21:56] #2465 closed

[2019-01-08 22:44] choxnox commented on #1736
Yeah, that would be awesome. I unintentionally dismissed the connection between the `secure` flag and HTTP/HTTPS.

[2019-01-08 23:06] ttruongatl commented on #563
@brickmaker17 I think you are using cocoa pods.
[code]
It works for me.

[2019-01-09 00:10] vvantruong commented on #1031
@dhyeysejpal  - sure you can return custom view.  The theme.section is just a style object:
    section: {
        flex: 1,
        width: '100%',
        padding: 20
    },
You can apply the same styles to your custom component.

[2019-01-09 00:31] ApolloGun commented on #2485
Okay, in that case I'm going to close the issue, since it does not seem to be connected to amplify and I'm getting similar issues  with other modules.

[2019-01-09 00:31] #2485 closed

[2019-01-09 01:31] imewish commented on #180
@powerful23

I can see the above credentials like above when I sign in using Cognito pool users, who signed up using, `Auth.signUp` methods,

For the federated google(Who added to the user pool on the first time login and Cognito provides the tokens for them as you mentioned above) the user's I cannot see this kind of credentials.

Again, these are the methods i follow for log in federated user's,

[2019-01-09 04:11] ajhool opened #2501 "Is it possible to use two Amplify objects in the same project?"
**Is your feature request related to a problem? Please describe.**
I would like to keep my Admin and Customer resources separate and I would like to use Amplify. My customer facing service would use a Customer

**Describe the solution you'd like**
const AmplifyAdmin = Amplify.configure(... admin config ... )
const AmplifyCustomer = Amplify.configure(... customer config ...)

**Describe alternative

[2019-01-09 04:12] ilrein opened #2502 "Filtering queries by relationships"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
Auth/API

** Provide additional details e.g. code snippets **

I'm building a project management app. I have a top level type known as a Company:

`type Company
  @model
  @auth(rules: [
      {
        allow: groups,
        groups: ["SUPERUSER", "ADMIN"],
        queries: [get, list],
        mutati

[2019-01-09 04:21] michaelcuneo commented on #2329
Even after merging this into my app, it still doesn't display any Greetings component. My Greetings component renders no content at all. It's as if the entire system doesn't actually manage my authentication states anymore, even though it used to, and I'm not using it any different than I used to... I'm trying all manner of workarounds and patches to fix it, but I don't think this is the best solu

[2019-01-09 04:58] michaelcuneo commented on #1012
This is still an issue in aws-amplify-react ... I use a hub listener to detect signIn and signOut to run my signIn and signOut dispatching... from the Authentication Manager with the Hub listener I dispatche all of my login logic to determine usernames, settings, etc... then I change the location from the result of this...  to the signed in areas. But still, after all of this, the Authenticators o

[2019-01-09 05:35] dhyeysejpal commented on #1031
@vvantruong Got it! I was not using width:'100%' which was causing it. Thanks again!

[2019-01-09 06:03] mechero commented on #2075
@holtc yes, that's it, thanks! I'll give it a try

[2019-01-09 06:52] dnagir opened #2503 "User session is not refreshed after period of idle in the browser"
**Describe the bug**

Getting `No credentials` (more - `[WARN] 33:03.724 AWSS3Provider - ensure credentials error cannot get guest credentials when mandatory signin enabled`) after a period of inactivity.

**To Reproduce**
Steps to reproduce the behaviour:

1. Use the example code attached below.
2. Sign In via hosted UI (redirect back to the site - localhost in my case).
3. The current user is co

[2019-01-09 09:14] anis-shaikh opened #2505 "Amplify Auth calls sync function of MyStorage twice"
Describe the bug
I am trying to configure custom storage for storing the cognito tokens with Amplify Auth MyStorage.
https://aws-amplify.github.io/docs/js/authentication#managing-security-tokens

To Reproduce
Steps to reproduce the behavior:
Configure the MyStorage object as mentioned in the link and override the sync method and log something in console and return some mock promise as per the cont

[2019-01-09 10:48] Private-SO commented on #2444
Thanks @jordanranz

[2019-01-09 10:48] #2444 closed

[2019-01-09 11:40] koolkav1 opened #2506 "Unable to create custom Auth Flow using Amplify/Cognito"
A developer has created this JS file that achieves the desired result:
[code]

I am unable to convert this into an Angular TypeScript file. This is what I have so far:

[code]

I am unable to find any documentation in regards to custom Authentication flows in Cognito JS for the slightest inclination.

[2019-01-09 12:03] cojack commented on #1593
@thrixton u're missing one line of code to make it works:

`this.amplifyService.setAuthState({ state: 'signedIn', user: federatedUser });`

The `federatedUser` variable is one from `federatedSignIn` method returns.

[2019-01-09 12:47] 0xlen commented on #2158
I am having the same trouble after cloning the example of `aws-samples/aws-amplify-vue`. I can see the problem when using [Authenticator](https://github.com/aws-samples/aws-amplify-vue/blob/3b51e199431fdea84a0eb38747fe751a62840382/src/router/index.js#L91) component. By adding an user via [AdminCreateUser](https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_AdminCreateUs

[2019-01-09 14:32] kirkryan commented on #684
Attach-principal-policy is now depreciated - you should use attachPolicy
instead.

I’m also in the middle of trying to get my client app to perform this
command - I have my target variable ready, just need some guidance as to
what I need to import and how to run in from my client (react-native)

On Wed, 9 Jan 2019 at 14:30, leantorres73 <notifications@github.com> wrote:

--
Best Regards,

Kirk Rya

[2019-01-09 15:01] awjreynolds commented on #1028
@buggy Really great work. Do you know when this is being merged in? I am currently fighting Typescript trying to implement a custom sign in and I can leave this for a few days if there is a chance this will become available.

[2019-01-09 16:54] kickthedragon opened #2507 "CognitoUser.prototype.refreshSession() throws TypeError: refreshToken.getToken is not a function"
**Describe the bug**
A clear and concise description of what the bug is.

While using the CognitoUser.refreshSession function TypeError is thrown

[code]

**To Reproduce**
Steps to reproduce the behavior:

Simply try to use the refreshSession function on CognitoUser and the error will be thrown.

**Expected behavior**
A clear and concise description of what you expected to happen.

getToken should

[2019-01-09 16:59] #2507 closed

[2019-01-09 17:30] brettnovak commented on #2186
I had a similar issue with what you describe as "The problem ls when you have Many notifications, then the user tap any of them and the app May be open a different link." for an unrelated thing. Looks like with the newer version of the pushnotification package you may now use

[code]

https://aws-amplify.github.io/docs/js/push-notifications#working-with-the-api

[2019-01-09 18:57] sairathb commented on #1398
I am facing the same issue now I am using version 1.1.17. I am using cognito user the currentSession() return value after Auth.signIn. But if I refresh the page, it returns "no current user". can someone please help me with this

[2019-01-09 20:57] powerful23 commented on #2505
@anis-shaikh I'm going to close this issue as it is duplicated to the one in the docs repo.

[2019-01-09 20:57] #2505 closed

[2019-01-09 21:05] DWboutin commented on #717
+1

[2019-01-09 21:41] powerful23 commented on #1398
@sairathb can you provide more details? You can turn on the debugging mode by `window.LOG_LEVEL='DEBUG'`

[2019-01-09 21:59] kirkryan commented on #1876
You @hszeto are a legend. Thank you, this has been bugging me for months!

[2019-01-09 22:37] powerful23 commented on #180
@imewish your configuration seems fine to me as Iong as you can login from Google and get redirected back. The thing is missing is that you didn't listen on the `Hub` events `signIn` which will be fired once the credentials are cached in the storage.

There is some sample code that may help you: https://aws-amplify.github.io/docs/js/authentication#make-it-work-in-your-app

The hub related code:
[c

[2019-01-09 23:04] powerful23 commented on #1012
@michaelcuneo thanks for your feedback! We have a plan to refactor the Hub module recently and will try the best to solve the issues you mentioned.

[2019-01-09 23:32] powerful23 commented on #2501
@ajhool I am not sure if I am understanding it correctly but people usually move the admin part into the server side and leave the customer part in the client side. So for services `AdminAPI`, `AdminStorage`, you should put it into the server side(or make it into a lambda function) and trigger those operations by API gateway.

[2019-01-09 23:54] yahavb commented on #2478
Thanks, the prod/master labels are not the issue. I did it by mistake when I submitted the issue because I tried different variation of team-provider-info.json. I don't know what happen but it is now working as expected so I believe something was fixed and my amplify console app is happy.

[2019-01-09 23:54] #2478 closed

[2019-01-09 23:54] powerful23 commented on #2503
@dnagir because the flow you are using is `token` as the response type in your oauth config which would not return the refresh token thus the session will be expired and cannot be refreshed after 1 hr. You need to switch to the `code` flow. For more info: https://aws-amplify.github.io/docs/js/authentication#setup-your-cognito-app-client -> Select an Oauth flow

[2019-01-10 02:12] MohibWasay opened #2511 "[React Native] android build fails with Expo"
**Describe the bug**
I have a react-native expo application. I created this application using expo init appname. I initialized amplify within my app by running amplify init. I added auth, storage and graphql service. I tried running my application in my Android Nexus emulator, everything runs fine. When I try to build the application, it fails in installing the Java AWS dependencies on my expo com

[2019-01-10 02:53] dnagir commented on #2503
@powerful23 thanks, switching to `token` will update after a bit of idle :)

I couldn't find in the docs that it stated it _only_ refreshes token for `code` response type/flow.
Perhaps some clarification is required in the docs?

But I'm pretty sure the refresh token was returned with the `token` flow too?
This is what Amplify stored in the browser local storage:

<img width="1671" alt="screen sho

[2019-01-10 04:32] sakhmedbayev commented on #992
@lolcoolkat have you managed to do anything on this front? Would be great if you can share!

[2019-01-10 04:40] sakhmedbayev commented on #1811
@psycura can you please share your setup of Next.js with amplify? Have you managed to make amplify auth to work with Next.js?

[2019-01-10 10:13] cojack opened #2512 "Federated facebook Sign In could not make request to graphql with cognito auth"
**Describe the bug**
Hello my folks,
Im facing really big issue with development, and I stuck for more than a week because I could not find ANY information how this suppose to work and it looks like is't not working at all in that flow.

So here we go.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/aws-samples/aws-mobile-appsync-chat-starter-angular, clone it, make

[2019-01-10 11:07] NikoMontana commented on #2363
@sollipse for me it was because I created the users in the webapp of cognito. So the user were initially set to a FORCE_PASSWORD_CHANGE state. In my case [this](https://github.com/aws-amplify/amplify-js/issues/2363#issuecomment-449138899) was the solution to it. Or maybe you did not set the inline policy in the IAM Roles to have access to you public/private querries?

[2019-01-10 11:11] jonasao commented on #1583
Sorry, but this is not working as expected. Local storage is not cleared automatically when calling `Auth.signout()`.

[2019-01-10 11:33] abdelhakim-atmani commented on #2338
@ilrein The amplify latest version seems to be the 1.1.18 and you are using the 1.1.17.

[2019-01-10 11:33] dimitarrusev commented on #2363
Hey @powerful23, can you shed some light on how to get access to the user’s groups on resolver level when using AWS IAM authentication?

[2019-01-10 12:03] dinamic commented on #681
@kyeljmd please don't be one of those people who creates a question in StackOverflow and then says "I fixed it" without contributing the solution.

[2019-01-10 12:54] rpostulart commented on #2475
I checked and agree with @doom777 . ElasticSearch does not suits my use case. I believe that ElasticSearch is too heavily for this use case. Because I expect it will be a highly used mobile app. I don't want to spin up an instance for each request, I prefer a serverless solutions for example with Lambda.

[2019-01-10 13:08] sakhmedbayev commented on #493
@juanjcampos thanks for sharing your solution. Can you please show the complete solution? I, and I think many people, will appreciate your help.

[2019-01-10 14:07] wowMuchgit commented on #2317
Iv tried it with a blank project, see attached source and log.
The thing that stands out to me from the log is the network error and the syntax error but other than that i have no idea what could be causing this bug :(
I you need any more information please let me know.

Thank you

app.js
[code]
index.js

[code]

window.LOG_LEVEL = 'DEBUG'
![blank react app](https://user-images.githubusercontent.c

[2019-01-10 14:15] sakhmedbayev commented on #1668
@psycura were you able to make any progress on marrying next.js and amplify? If so, can you please share what you have done to make auth to work?

[2019-01-10 15:31] doom777 commented on #2475
I may be wrong, but I don't think an ES instance is spun up on every request; I think it stays there permanently, possibly in a cluster.

[2019-01-10 15:36] rpostulart commented on #2475
Sorry that's what I mean indeed!

[2019-01-10 15:49] leantorres73 commented on #684
Hi @buddhikajay ,
When are you calling that lambda? I've tried using a cognito post-registration event but identityId is not sent so I guess you created a lambda via restful API call and in your app, if confirmation code is valid, then dispatch a lambda call, right?

[2019-01-10 15:51] kirkryan commented on #684
We realised that the cognitoId wasn’t sent via lambda trigger post Auth
event too, so in order to save costs we simply did it client side by
calling the AWS-SDK and running it post-sign-in once.

On Thu, 10 Jan 2019 at 15:49, leantorres73 <notifications@github.com> wrote:

--
Best Regards,

Kirk Ryan
CTO, Co-founder

busby.io - www.k-safe.com

tel: +44 (0)7865 667776
email: kirk@k-safe.com
address

[2019-01-10 15:59] leantorres73 commented on #684
Great, those were my thoughts, post-login once or post-confirmation code accepted (this will mean once also I guess).

Thanks!

[2019-01-10 16:21] jpsholar commented on #1398
Same issue on 1.1.18, here are the logs:
<img width="825" alt="screen shot 2019-01-10 at 10 19 15 am" src="https://user-images.githubusercontent.com/10801730/50981848-7c68d700-14c1-11e9-986d-1d3f5b12eb8d.png">

I've checked and triple checked my configuration.

[2019-01-10 17:57] #2424 closed

[2019-01-10 17:58] JulioBarros opened #2513 "How to have GraphQL and REST apis in same project using the same tables"
** Which Category is your question related to? **
GraphQL and REST API

** What AWS Services are you utilizing? **
Amplify, react, typescript, auth, graphql api, rest api

** Provide additional details e.g. code snippets **
I'd like my main api to be GQL but also need a simple web hook rest api for a smaller part of my app.  Is there an example/tutorial that shows how to use both a GraphQL and RES

[2019-01-10 18:00] powerful23 commented on #2503
@dnagir from the Cognito doc: https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-app-idp-settings.html

The Authorization code grant flow initiates a code grant flow, which provides an authorization code as the response. This code can be exchanged for access tokens with the TOKEN Endpoint. Because the tokens are never exposed directly to an end user, they are less likely

[2019-01-10 18:37] powerful23 commented on #2363
@NikoMontana I think either `identityId` or the `sub` would work. They are both unique per user.
@dimitarrusev to get different roles based on different groups, you can check this doc: https://docs.aws.amazon.com/cognito/latest/developerguide/role-based-access-control.html
I would suggest using the `Rule-Based Mapping` way.

[2019-01-10 18:47] powerful23 commented on #2317
@wowMuchgit the `failed to get or parse item aws-amplify-federatedInfo SyntaxError: "JSON.parse: unexpected character at line 1 column 1 of the JSON data"` is not actually an error, please ignore it. Can you provide a complete log from the moment you click on sign in button? Thanks!

[2019-01-10 19:11] wowMuchgit commented on #2317
What about the network error?
![network opsie](https://user-images.githubusercontent.com/31740094/50990794-f2ddf700-150a-11e9-84d9-c4cdeaf53fb2.PNG)

Thats the rest of the log, what i have attached in the above comment is the same every time, if necessary i can copy/paste the text instead so you have it all in one post?
![rest of log](https://user-images.githubusercontent.com/31740094/50990650-836

[2019-01-10 19:34] alixeb commented on #169
@manueliglesias I am following this tutorial ==> `https://medium.com/@benawad/aws-appsync-tutorial-with-react-4e272a6f3527` and I got CORS issue when hitting graphql endpoint
[code]

I added the CORS configuration you provided above to the S3 buckets and still I have the same issue.

I also get `Failed to fetch` when using AppSync Queries console (as the graphQL endpoint and the AppSync console ar

[2019-01-10 19:41] powerful23 commented on #1398
@jpsholar can you please verify that there are items like:
![screen shot 2019-01-08 at 10 05 44 am](https://user-images.githubusercontent.com/11042868/50992351-bb9c2580-14cb-11e9-85f2-5178e9770c98.png)
In your local storage.

If not, then it means the credentials are not correctly cached.

If there are, then please make sure there is only one `@aws-amplify/auth` package under your node_modules. Be

[2019-01-10 19:42] alixeb commented on #169
@manueliglesias All good now! I saw #2157 and it is because of Brave Browser. Works fine in Chrome 🎉

[2019-01-10 19:53] mrcoles commented on #2236
After a lot of exploration and tinkering, I have ended up using the hosted UI (which requires a deep dive into configuring that along some cloudformation edits to add "email" as a username attribute and an extra lambda function to deal with uniqueness issues of emails—but the hosted UI seems to be the only way to get federated users into the cognito user pool) with my react app and I have written

[2019-01-10 21:42] powerful23 commented on #2506
@koolkav1 I have created a pr to enhance the doc. https://github.com/aws-amplify/docs/pull/366 Hope that could help you to setup the custom authentication flow using Amplify.

[2019-01-10 22:02] powerful23 commented on #2511
@MohibWasay can you give more details about how you are building the app? Do you mean you are building it in the production mode?

[2019-01-10 22:30] powerful23 commented on #2512
@cojack from your description I can tell you are federating with the Cognito User Pool. If so, you should not use `Auth.federatedSignIn()` as this method is used to federated with the Cognito Federated Identity Pool: https://aws-amplify.github.io/docs/js/authentication#federated-sign-in

In order to use the Facebook as the provider of the Cognito User Pool, you should use Cognito Hosted UI: https:

[2019-01-10 22:37] undefobj commented on #2495
These are standard configuration parameters that do not expose extra security risks, and are in line with technologies that Cognito uses such as SRP, OAuth, etc. They help the clients construct endpoint URLs during these processes that are unique to your account, and do not give access to administrative commands or access to other user accounts.

[2019-01-10 22:40] powerful23 commented on #1557
Closing the issue as you will no longer receive `unknown` error in the latest version.

[2019-01-10 22:40] #1557 closed

[2019-01-10 22:40] powerful23 commented on #1738
Closing the issue as you will no longer receive `unknown` error in the latest version.

[2019-01-10 22:40] #1738 closed

[2019-01-10 22:41] powerful23 commented on #1466
Closing the issue as you will no longer receive `unknown` error in the latest version.

[2019-01-10 22:41] #1466 closed

[2019-01-10 22:46] buggy commented on #1028
@awjreynolds Not I don't. I'll do my best to keep it current but when it gets merged is it entirely up to AWS.

[2019-01-10 22:51] samuelcastro commented on #2460
Yeah, an easy workaround would be just include it, I just wanted to see if a better solution is being take, like a define typescript definition of it.

Thanks anyway.

[2019-01-10 23:25] Pwntus commented on #488
**@aws-amplify/api** will automatically include **graphql** whether or not API uses GraphQL client/server.

![aws-amplify-gql](https://user-images.githubusercontent.com/854759/51003452-23d42100-1537-11e9-864c-2e2a944c5c4d.jpg)
This currently adds **176.63 KB** (42.93 KB gzipped) to my bundle.

[2019-01-10 23:31] undefobj commented on #2475
Right, so to be clear @rpostulart as in the link I posted above `@model` will include some filtering capability out of the box with DynamoDB. For instance any `string` types will have operations like less than, between, etc:

[code]

This is probably good for prototyping & small apps, which is why we added this capability based on customer feedback. However, if your app takes off and your table ge

[2019-01-10 23:51] powerful23 commented on #2291
Closing the issue. Feel free to reopen if you still have this issue.

[2019-01-10 23:51] #2291 closed

[2019-01-10 23:52] powerful23 commented on #2205
Closing the issue due to no further response. Feel free to reopen if you still have this issue.

[2019-01-10 23:52] #2205 closed

[2019-01-10 23:53] powerful23 commented on #2184
Closing the issue. Feel free to reopen if you still have this issue.

[2019-01-10 23:53] #2184 closed

[2019-01-10 23:54] powerful23 commented on #2220
@brijeshagarwal do you still have this issue?

[2019-01-10 23:54] powerful23 commented on #2276
Closing the issue due to no further response. Feel free to reopen if you still have this issue.

[2019-01-10 23:54] #2276 closed

[2019-01-10 23:57] powerful23 commented on #2133
Closing the issue due to no further response. Feel free to reopen if you still have this issue.

[2019-01-10 23:57] #2133 closed

[2019-01-10 23:57] powerful23 commented on #2091
Closing the issue due to no further response. Feel free to reopen if you still have this issue.

[2019-01-10 23:57] #2091 closed

[2019-01-10 23:58] charlesburks commented on #1852
+1 Please

[2019-01-11 00:04] powerful23 commented on #1278
Closing the issue due to no further response. Feel free to reopen if you still have this issue.

[2019-01-11 00:04] #1278 closed

[2019-01-11 00:06] powerful23 commented on #1177
Closing the issue. Feel free to reopen if you still have this issue.

[2019-01-11 00:06] #1177 closed

[2019-01-11 00:27] reggie3 opened #2515 "aws-amplify/ui package version ^1.0.15 is not available on NPM"
**Describe the bug**
aws-amplify instillation is looking for unavailable "@aws-amplify/ui" that matches "^1.0.15"

**To Reproduce**
Steps to reproduce the behavior:
Attempt to install aws-amplify using `yarn aws-amplify`
Receive the following prompt:

**Expected behavior**
Expect to be able to install aws-amplify successfully

**Screenshots**
If applicable, add screenshots to help explain your pro

[2019-01-11 00:37] imewish commented on #180
@powerful23

I have made some progress on this, i used a refresh handler with the auth module like this,

[code]
[code]
This refreshed my temoporary AWS credentials.
![screen shot 2019-01-11 at 5 57 20 am](https://user-images.githubusercontent.com/11400953/51005894-c0fa7e00-1566-11e9-8533-0b3862eeb2ac.jpg)

but after few hours when i refresh the page, i get this.

![screen shot 2019-01-11 at 5 36

[2019-01-11 00:58] 99hats opened #2516 "Question: Should components.Authenticator show federated login providers when they are enabled in the console?"
** Which Category is your question related to? **
3rd party authentication  on Vue

** What AWS Services are you utilizing? **
Cognito User Pools
AppSync

** Provide additional details e.g. code snippets **

Using the demo https://github.com/aws-samples/aws-amplify-vue
I added federated logins for Facebook and Google.

These show up nicely in on the test url ui but the ui on the web app does not c

[2019-01-11 01:38] chefren commented on #1234
Could this be explained in the docs?
https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_InitiateAuth.html

Some RFIs require more detail to ensure requirements are met

[2019-01-11 01:58] Jefftopia opened #2517 "Interactions failing on missing userId"
** Which Category is your question related to? **
Interactions

** What AWS Services are you utilizing? **
Lex

** Provide additional details e.g. code snippets **
I'm following the guide for starting with [Interactions](https://aws-amplify.github.io/docs/js/interactions). When I call the `send` method on Interactions, I get the following error:

It looks like Lex is expecting a userId, which in `

[2019-01-11 05:44] krgutierrez opened #2518 "Facebook/Google Sign In on User Pool (Not Identity Pool)"
** Which Category is your question related to? **
Cognito** User Pool

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
AWS Cognito is now supporting Federated Identities via User Pool. We want to implement our own login page.

Using the AWS Cognito hosted UI, it supports adding users who logged in via Facebook or Google to the User Pool. Does

[2019-01-11 06:17] rpostulart commented on #2475
Ok thanks, then I will focus on that.

[2019-01-11 07:35] krgutierrez opened #2519 "AWS-Amplify Auth Set Preferred MFA not Working"
<img width="508" alt="screen shot 2019-01-11 at 3 26 11 pm" src="https://user-images.githubusercontent.com/28826227/51019649-a64ff580-15b6-11e9-829c-8d8bc25a91e8.png">
**Describe the bug**
When calling the `setPreferredMFA` with **SMS** as the `mfaMethod`, it returns successfully. But when calling `getPrefferedMFA`, it still returns **NOMFA**.

**To Reproduce**
Steps to reproduce the behavior:
1.

[2019-01-11 08:46] doom777 commented on #2475
At the very least AWS could offer great documentation on how to implement this common usw casr

[2019-01-11 11:01] cojack commented on #2512
@powerful23 then what should I do with the response tokens from URI fragment?

[2019-01-11 16:43] sakhmedbayev opened #2520 "How to migrate existing amplify project from one code base to another?"
** Which Category is your question related to? **
General

** What AWS Services are you utilizing? **
AppSync, Cognito

** Provide additional details e.g. code snippets **
I have the following question. I initialized amplify project with CRA. Now I realized that I need to have SSR and want to use next.js. For that matter, I want to start the project over again with next.js. I am generally satisfie

[2019-01-11 17:10] adamsythe commented on #1933
im getting the same error, what did you update to 1.1.7?

[2019-01-11 17:46] rdickert opened #2521 "(cli@multienv) Amplify init should check for duplicate environment names"
**Describe the bug**

`amplify init` allows duplicate environments to be created locally that will fail on first `amplify push`. Ideally, it should detect this and fail on init.

**To Reproduce**
Steps to reproduce the behavior:
1. create an environment on a branch (using the beta version of amplify) and `amplify push`. Choose a name for the environment, say "dupenv"
2. `git checkout master` (with

[2019-01-11 17:59] tonyatoms commented on #1181
This is a great question and one I'd love to find/see an answer for.

[2019-01-11 18:10] powerful23 commented on #2512
@cojack if you have followed the doc: https://aws-amplify.github.io/docs/js/authentication#using-amazon-cognito-hosted-ui, you will find out how to setup the app client and how to make it work using Amplify: https://aws-amplify.github.io/docs/js/authentication#make-it-work-in-your-app

Amplify will parse the callback url automatically and send a `signIn` event when the url is correctly parsed.

[2019-01-11 18:48] powerful23 commented on #1181
@tonyatoms by putting `window.LOG_LEVEL='DEBUG'` in your code.

[2019-01-11 18:50] powerful23 commented on #2515
@reggie3 can you try it again? I tried to reproduce it but everything works fine for me.

[2019-01-11 18:57] powerful23 commented on #2516
@99hats Which service you are federating with 3rd part provider? Cognito User Pool Service or Cognito Federated Identity Pool Service?

[2019-01-11 19:00] tonyatoms commented on #1181
Thanks, I added that to the function in which I call `Auth.signIn()` but I'm not seeing any additional information in the console. (This is in a react-native app.) I still see:
[code]

[2019-01-11 19:20] 99hats commented on #2516
@powerful23  Cognito User Pool Service

[2019-01-11 19:23] cojack commented on #2512
@powerful23 its not working, I wrote that in first message at Additional . I got the same error: No current user.

[2019-01-11 19:42] mbahar commented on #2430
@jordanranz yes, proving subscriptions for async XR events makes sense.

[2019-01-11 19:44] powerful23 commented on #1181
@tonyatoms you should put that right after those import statements under `index.js`.

[2019-01-11 19:57] powerful23 commented on #2518
@krgutierrez yes, please check the doc: https://aws-amplify.github.io/docs/js/authentication#using-amazon-cognito-hosted-ui

[2019-01-11 20:43] mbahar commented on #2111
@YikSanChan did you evaluate AppSync pipeline resolvers? https://docs.aws.amazon.com/appsync/latest/devguide/pipeline-resolvers.html
Seems like it is and applicable use-case.

[2019-01-11 20:52] reggie3 commented on #2515
I just tried installing it again, and it appears to be working.  Thanks.

[2019-01-11 21:15] powerful23 commented on #2519
@krgutierrez I don't think setting preferred MFA would work if you are using the Cognito Hosted UI to login via third-party provider. The MFA feature is only for the native users(registered via Cognito Service).

[2019-01-11 21:21] undefobj commented on #2475
@doom777 what more documentation could we add here? I linked to the transformer documentation above, is more needed there? Or alternatively is something else specifically needed?

[2019-01-11 21:59] powerful23 commented on #2515
@reggie3 No problem.

[2019-01-11 21:59] #2515 closed

[2019-01-12 00:32] YikSanChan commented on #2111
@mbahar Is it atomic?

[2019-01-12 04:00] rfdc commented on #2476
I've setup my User File Storage via awsmobile instead, have a look:
https://docs.aws.amazon.com/aws-mobile/latest/developerguide/aws-mobile-cli-reference.html

[2019-01-12 06:03] armedoctopus commented on #2190
Isn't missing this feature a showstopper to use Amplify with S3 uploads? Why is this not implemented? From a security perspective I cannot use this then.

[2019-01-12 06:04] armedoctopus commented on #2190
I don't want to wake up in the morning to a 4 TB upload

[2019-01-12 07:37] cocacrave opened #2523 "[React] App crashes with message: You may need an appropriate loader to handle this file type."
When wrapping app `withAuthenticator()` or `<Authenticator>` the app immediately crashes with this error:
[code]

Some packages I'm using:
[code]

Is it because I'm not using css loader?

[2019-01-12 08:56] XC3S opened #2524 "Custom storageOptions in Angular PhotoPicker"
my target is to upload photos in a private s3 bucket using the photopicker component.
I tried the following way, however it does not work as expected and the storageOptions is ignored
[code]
[code]

After I debugged it it seams like the `photo-picker.factory.js` receives the object as `"[object Object]"`.
How am i supposed to pass the option? I tried different ways and nothing seams to work.

also

[2019-01-12 11:42] Matthcw commented on #823
Bruh, this issue is still unsolved... I may have to roll up my sleeves real soon. I was hoping someone would have done the dirty work by now

[2019-01-12 17:16] andrewryan1906 commented on #2456
Hello?

[2019-01-12 17:53] undefobj commented on #2191
@SubChord IAM is still needed for this scenario at the moment, however the AppSync team is looking at alternatives for the service in the coming months to give additional options.

@XC3S if you have IAM configured in your AppSync API, and your clients are configured for those credentials yet you are still getting a 403, then it's possible that the IAM Role on your Federated Identity Pool doesn't h

[2019-01-12 17:55] undefobj commented on #2456
@yuntuowang I believe this is a feature in the Cognito backlog. Can you comment?

[2019-01-12 19:02] cliffordh opened #2525 "[Vue] Facebook Login Component"
I created a FacebookButton.vue component which I'm trying to use with the Amplify Authenticator framework. It "kind of" works, in that I'm able to make the Facebook permission prompt appear and get a succesful return to my component. In the component I'm trying to emit authState. The result on emitting authState signedIn is that the authenticator disappears... however I'm unable to get into my app

[2019-01-12 19:20] erik-induro commented on #1772
I was trying to use the following auth rule vai the Amplify CLI:
[code]
But found that the custom attribute isn't being passed from the app but is from the console, as was mentioned above. This makes it harder to support multi-tenancy. Any update on this?

[2019-01-12 20:42] sflamme commented on #1772
Hi,

This is not a bug but a behaviour conform to standard.
As indicated by Rob in previous answer, if you use the AccessToken for
calling your API only the userId is present and all other profile
information is missing (as per OAUTH standard).
My understanding so far.

*So either you change your API call to use the IdToken *
"Playing with this issue a little bit and found a problem: claims are no

[2019-01-13 01:25] bishonbopanna opened #2526 "How to unprotect certain pages/components when using withAuthenticator"
When using withAuthenticator, how to add a list of unprotected components/pages ?

I am building a react app in which certain pages like - about us, contact, search are unprotected- no authenticated user is needed to access these. I went through the documentation [here](https://aws-amplify.github.io/docs/js/authentication) and googled too, but could not find how to go about this.

Right now I have

[2019-01-13 04:55] jameskhamil commented on #2160
@haverchuck is there any chance username can be automatically generated/UUID/email? Currently using one of the solutions on this page produces `Username cannot be empty`.  Username as a concept has limited usage across different types of content.

[2019-01-13 08:41] doom777 commented on #2475
Look, I need to do a "select all entity in this geo box" query. Please show me an AWS tutorial how to do it. This is a common enough case.

[2019-01-13 11:38] mihaerzen commented on #1252
@NikoMontana You maybe have a code example or point me to documentation on how exactly you achieved this? I'm only interested in the client-side code, obtaining the credentials. Thank you.

[2019-01-13 13:46] krgutierrez commented on #2518
@powerful23 Thanks for the link. :D

[2019-01-13 13:46] #2518 closed

[2019-01-13 13:57] cliffordh commented on #2456
Very interested in this also

[2019-01-13 13:58] krgutierrez commented on #2519
<img width="892" alt="screen shot 2019-01-13 at 9 52 44 pm" src="https://user-images.githubusercontent.com/28826227/51086137-96364280-177d-11e9-8381-19575a7f29ff.png">

@powerful23 Is there a plan to add a support for external providers or any alternative way? Somehow, we need the SMS MFA functionality.

[2019-01-13 16:10] cliffordh commented on #1316
When I call: https://DOMAIN.amazoncognito.com/oauth2/authorize?redirect_uri=https%3A%2F%2Flocalhost%3A8080%2F&response_type=code&client_id=CLIENTID&identity_provider=Facebook

I'm getting this response: https://localhost:8080/#error_description=unauthorized_client&error=invalid_request

Any ideas?

I'm able to bring up the hosted UI directly so I'm pretty sure my DOMAIN and CLIENTID are correct.

[2019-01-13 16:43] wizawuza opened #2527 "<Connect> component with pagination?"
** Which Category is your question related to? **
AppSync <Connect> react component and Pagination
** What AWS Services are you utilizing? **
AppSync

If my schema is as such:
type Comment @model
{
  id: ID!
  comment: String!
}

My React/JS code is utilizing a `<Connect>` component. I've figured out query, subscription, etc. and that works great, including when I add a new Comment, but what about

[2019-01-13 17:16] cliffordh commented on #1316
To add to my previous comment... if I login with the hosted UI, then I'm redirected back to localhost, but then the URL contains the following:

https://localhost:8080/?error_description=attributes+required%3A+%5Bemail%5D&error=invalid_request#_=_

Feels like I'm getting close... but missing something.

[2019-01-13 19:50] cliffordh commented on #2525
Nevermind I figured it out. Although, this was just the first step and used the Federated Pool. Instead my goal was to use User Pools with a Federated Identity provider. Unbelievably I got it to work without using the Hosted UI (still calls out to amazoncognito.com/authorize/oauth2) but redirects to my app and creates a Cognito user. All done using Vue. Once I clean things up I'll post a component

[2019-01-13 19:50] #2525 closed

[2019-01-13 21:37] cliffordh commented on #2423
@powerful23 I'm running into the exact same thing now... I'm so close to getting this working!! Any assistance is welcome.

Thanks!

Cliff

[2019-01-13 21:47] doom777 commented on #2475
An AppSync dev has confirmed that this feature is in the planning pipeline
https://forums.aws.amazon.com/thread.jspa?threadID=296334&tstart=0

[2019-01-13 21:49] cliffordh opened #2528 "[Facebook] Deauthorize Callback URL Handling"
I'd love to see an example of a Lambda or support in the Hosted UI auth endpoint for Facebook Deauthorize Callback URL. When a user removes your app from Facebook they should be disabled (maybe deleted based on policy) in Cognito.

Same for "Data Deletion Requests"...

[2019-01-13 23:44] jeveloper commented on #1852
I'd love to chime in. I think strategically this would take away business from firebase (google cloud services as a whole) hence delaying this would be in amazon's best interest. I could be wrong.

also +1 , i enjoy both aws and google

[2019-01-13 23:45] jinjingbo opened #2529 "Understanding the `expire_at` in `FederatedResponse` for federatedSignIn()"
** Which Category is your question related to? **
federatedSignIn, AuthToken, expire_at

** What AWS Services are you utilizing? **
federatedSignIn, cognito Identity pool

** Provide additional details e.g. code snippets **
[code]

What is the max `expiresIn` ? In other work, what's the max expire period? 1 day?

Reference:
https://github.com/aws-amplify/amplify-js/blob/4644b432/packages/auth/src/

[2019-01-14 02:07] toymachiner62 opened #2530 "API reference docs don't exist to go along with use case examples"
** Which Category is your question related to? **
The documentation at https://github.com/aws-amplify/amplify-js/tree/master/packages/amazon-cognito-identity-js

** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **
I notice there are many use case examples which are absolutely fabulous, but I can't seem to find the api reference to go along with th

[2019-01-14 03:54] imewish commented on #180
@powerful23 how can i refresh this login token with amplify?

[2019-01-14 04:25] trinhphong opened #2531 "Google+ API deprecation"
** Which Category is your question related to? **
The information about Google+ API deprecation is at [here](https://developers.google.com/+/web/)

** What AWS Services are you utilizing? **

Cognito

** Provide additional details e.g. code snippets **

N/A

I have read the official document and the official tutorial [here](https://aws-amplify.github.io/docs/js/authentication) but it don't mention

[2019-01-14 08:29] rudyhadoux opened #2532 "value keyword for GraphQL and Angular"
Hi,

There is a property "value" in GraphQL JSON responses BUT "value" is an Angular keyword for data binding with hashtag TOO.

Rudy.

[2019-01-14 09:00] ngocketit commented on #329
It would be very convenient to have this supported. Currently, I have to call `Amplify.configure()` with new bucket every time I want to do something with non-default bucket.

[2019-01-14 09:46] jonasao commented on #1583
@powerful23 My situation is quite simple: When I call Auth.signOut() local storage is not clear. I had to add a method that manually clears the local storage. Debug mode is turned on.

[2019-01-14 13:04] SantoDE commented on #2158
I face this issue as well. Any workaround?

[2019-01-14 13:42] dimitarrusev commented on #2363
@powerful23 Thanks man! Unfortunately, it’s still not clear to me how should i approach this. Basically i have an AppSync API with **AWS_IAM** auth type and all i need to do is check whether a user is in a specific group based on which i’ll either allow or deny access.

Something like [this](https://docs.aws.amazon.com/appsync/latest/devguide/security-authorization-use-cases.html#use-case-hardcode

[2019-01-14 13:59] SebSchwartz commented on #2440
Working with 2.3.0 stable version. Closing

[2019-01-14 13:59] #2440 closed

[2019-01-14 15:25] safinn opened #2534 "Updating user attributes does not update cached user data"
**Is your feature request related to a problem? Please describe.**
Updating user attributes should update the cached user data.

**Describe the solution you'd like**
`Auth.updateUserAttributes()` refreshes the cached user information with the updated attributes.

**Describe alternatives you've considered**
Current solution is to call `Auth.currentAuthenticatedUser({ bypassCache: true })` after `Au

[2019-01-14 15:36] wizawuza commented on #2527
Never mind, I ended up extending the `<Connect>` component and modifying its state after doing a new GraphQL request. That got me what I wanted and was pretty easy to do.

Hopefully this will be helpful for anyone else looking to do the same.. I'll close this now.

[2019-01-14 15:36] #2527 closed

[2019-01-14 16:11] haverchuck commented on #2523
@cocacrave  are you using any sort of style loader for webpack?

[2019-01-14 16:12] haverchuck commented on #2524
@XC3S  Which versions of aws-amplify & aws-amplify-angular are you using?

[2019-01-14 16:13] haverchuck commented on #2526
@bishonbopanna  - Does @jkeys-ecg-nmsu  response make sense to you?

[2019-01-14 16:22] haverchuck commented on #2520
@sakhmedbayev Did you use the Amplify CLI to set up the project?

In any case, if you do not plan on making any changes to the API or Auth services, you could try simplying copying the aws-exports file to your new project.  This would of course use the SAME auth and API resources.  Is this what you want?

[2019-01-14 16:39] haverchuck commented on #2532
@rudyhadoux Can you please post an example response?  Also - are you using the AppSync SDK or graphqlOperation in Amplify?

[2019-01-14 16:54] rudyhadoux commented on #2532
I do not know if "value" is an Angular or Typescript keyword but it is duplicated with value of GraphQL response.

If you see this video :
https://www.youtube.com/watch?v=nAYikoFCN4k
At 8min01, "value" is underlined with Visual Studio Code.

This example is maybe not a good piece of code. But however, it is a duplicated keyword of two different technologies.

[2019-01-14 17:04] haverchuck commented on #2532
@rudyhadoux Is this causing any errors or problems in your applicaiton?

[2019-01-14 17:22] kylekaplan opened #2535 "AWS AppSync - Can I batch subscribe or must I subscribe to each channel individually"
** Which Category is your question related to? **
I am trying to use AWS AppSync Graphql Subscriptions with my react native app, to subscribe when specific users update their profile. Basically is there a way to batch subscribe to a list of users or must I create a for loop to subscribe to each one individually.

** What AWS Services are you utilizing? **
AppSync
** Provide additional details e.g.

[2019-01-14 17:23] rudyhadoux commented on #2532
If we follow the code of the video, it generates an error yes.
But this code is not a good mapping practice.

[2019-01-14 17:57] haverchuck commented on #2529
@jinjingbo This value will come from your provider, I believe.  So if you are logging in with Facebook (for example), their response contains the token expiration value.

Closing this issue for now, but if this doesn't answer your question please feel free to reopen.

[2019-01-14 18:05] powerful23 commented on #2512
@cojack

There is no need to set `access_token` explicitly after coming back from Hosted UI, this process is done by Amplify library. The flow is: after coming back from Hosted UI to your app, you should listen on the `signIn` event from the `Hub` module. When the event is emitted, you can call `Auth.currentAuthenticatedUser()` to get the current user.

[2019-01-14 18:12] powerful23 commented on #2516
@99hats hi, as I know we do not have the functionality to do that kind of federation in the vue sample. Can you provide more details about how did you do that?

[2019-01-14 18:18] powerful23 commented on #1316
@cliffordh can you check if you are mapping the required attributes correctly in your Cognito User Pool Console -> Federation -> Attribute mapping

[2019-01-14 18:36] roborourke commented on #122
Is it right just with the following lines my production bundle size is over 400kb? It's much higher than other analytics scripts I've looked at.

[code]

[2019-01-14 19:01] mrowles commented on #1335
I'm getting this now once I enable MFA as optional (something that seemingly cannot be undone). Switching remembering devices off, as buggy as that sounds anyways, doesn't fix the issue.

[2019-01-14 19:16] shawnlauzon opened #2537 "Apple binary rejected because of "Username cannot be empty""
**Describe the bug**
I have an app that uses AWS Amplify within the Ionic framework. I have submitted it to the Apple Store, and they have rejected it because the service returns "Username cannot be empty" even though the fields are set. Screenshots are below.

Unfortunately I cannot reproduce this behaviour through web or through a simulator or through a device. Does anyone have any idea what cou

[2019-01-14 19:18] haverchuck commented on #2537
@shawnlauzon  - Are you using aws-amplify package only, or aws-amplify-angular as well?

[2019-01-14 19:19] shawnlauzon commented on #2537
Both:

[code]

[2019-01-14 19:32] shawnlauzon commented on #2537
No I didn't; this is the authentication component that comes with aws-amplify-angular.

[code]

[code]

[2019-01-14 19:32] shawnlauzon commented on #2537
The popup is from `aws-amplify-angular`.

[2019-01-14 19:36] cojack commented on #2512
@powerful23 and this is how I make it, it's not working, any other proposition?

[2019-01-14 19:47] Aedalus commented on #2236
Hitting this same issue. I'd love to either see the internal module exported, or an example of best practice.

[2019-01-14 20:07] haverchuck commented on #2537
Ah, I see.  We will investigate.

[2019-01-14 20:59] RobertNg1125 commented on #2186
`PushNotification.onNotificationOpened()` is exactly what I'm looking for.
But I'm having trouble picking the package versions and it doesn't work well for me :|

@brettnovak would you mind sharing your dependencies version?

My non-working dependencies stack:

[code]

[2019-01-14 21:36] c2mdev opened #2538 "passing URL query parameters to Hosted UI and accessing them in Cognito Triggers"
** Which Category is your question related to? **
Hosted UI and Cognito Trigger

** What AWS Services are you utilizing? **
Cognito Hosted UI and Cognito Trigger Lambda

** Provide additional details e.g. code snippets **
so if I passed an additional parameter in URL of Hosted UI (even if it is loaded in documented "state" parameter) I would like to access it in Cognito Trigger and it does not see

[2019-01-14 22:30] cocacrave commented on #2523
I'm not using `create-react-app`. I am using webpack but no style loaders because I'm using `styled-components` package and it seems I don't need css loader? I ended up using my own `Authenticator` provider using React `context` and it working fine for now. Thank you for looking into it.

[2019-01-14 23:13] mtraynham opened #2539 "Uncaught promise in Auth.currentAuthenticatedUser breaks downstream Promise handling"
**Describe the bug**
After upgrading from `@aws-amplify/auth": "1.2.13"` to `"1.2.14"`, I seem to be hitting an uncaught Promise exception when calling [Auth.currentAuthenticatedUser](https://github.com/aws-amplify/amplify-js/blob/master/packages/auth/src/Auth.ts#L950-L986).  It's when the there is no current user currently logged in, i.e. LocalStorage is empty.  I would expect a rejected promise

[2019-01-14 23:13] haverchuck commented on #2532
@rudyhadoux  -  It's tought to tell exactly what's going on in the video without access to their codebase, but I think the underlining in the youtube video might be caused by their typescript expecting a graphqlresult instead of a graphql result within value parameter in the subscription. I don't think there is much we can do for this issue on our end, because I think the value and provider keys a

[2019-01-14 23:13] #2532 closed

[2019-01-14 23:14] haverchuck commented on #2523
@cocacrave Thanks for getting back to us.

[2019-01-14 23:14] #2523 closed

[2019-01-14 23:48] haverchuck commented on #2158
@siliconcat @exptom @SantoDE @0xlen  - We are working on a solution.

[2019-01-15 00:53] sakhmedbayev commented on #2520
@haverchuck thanks for the reply. Yes, I did use amplify cli. If I move just the aws-exports file, will amplify cli work?

[2019-01-15 02:56] jinjingbo commented on #2529
@haverchuck Thanks for your reply, I am using `AWS Developer Authenticated Identities (Identity Pools)` as the provider (https://docs.aws.amazon.com/cognito/latest/developerguide/developer-authenticated-identities.html).
Do you know where I can find the max expire value for it? Thanks in advance.

[2019-01-15 03:00] bishonbopanna commented on #2526
Yup it does. However does it makes sense to have product request to have an exclude list to withAuthenticator ?

[2019-01-15 03:06] bishonbopanna commented on #2431
Thanks @temideoye for the response. Could you please confirm this statement - "You could create a table with Name as the Partition Key and Author as the Sort Key" as I tried it and it didnt seem to work.

Also, can a feature request be made to add "@Unique" constrain to AWS supported Graphql SDL ?

[2019-01-15 03:12] temideoye commented on #2431
@bishonbopanna, when you say "it didn't seem to work", did you mean the table creation failed? Otherwise, what did you try and what was the error message? As for the feature request, sure, feel free to create one + notify the Amplify team.

[2019-01-15 03:17] amirmishani commented on #1012
Having the same issue as @michaelcuneo with the hub listener. Looking forward to it being resolved soon.

[2019-01-15 03:36] amirmishani commented on #1012
@michaelcuneo I was having the same issue with the hub listener. But it seems like the Authenticator is  fixed in the latest update to aws-amplify-react.

[2019-01-15 04:09] lisandrolan commented on #2498
I have the same issue

[2019-01-15 04:18] michaelcuneo commented on #1012
Hmm. I still have the issue with the latest. I’ll double check when I’m back in the office.

[2019-01-15 04:21] cliffordh opened #2540 "[Vue] AmplifyEventBus Unnecessary?"
** Which Category is your question related to? **

aws-amplify-vue

** Provide additional details e.g. code snippets **

In reviewing the code for aws-amplify-vue, I don't see why the AmplifyEventBus is even needed when we already have the Hub in the main Amplify package. It seems that this is redundant and prone to misuse/misunderstanding. I vote for deprecating AmplifyEventBus in favor of the Hu

[2019-01-15 04:30] michaelcuneo commented on #1012
@amirmishani ... and thankfully, the latest stable also fixes the issue i had with Greetings being invisible and rendering null. My project is now 100% repaired.

@powerful23 works great now. Thanks for the codes. 👍

[2019-01-15 05:41] RobertNg1125 opened #2541 "PushNotification.onRegister() not called at "@aws-amplify/pushnotification": "^1.0.20""
Hi,

I'd want to use method `PushNotification.onNotificationOpened()` which seems to be available only at 1.0.20 or later. However, after upgrading "@aws-amplify/pushnotification" to 1.0.20, my `PushNotification.onRegister()` no longer got called. I no longer can print out the device token.

I followed instructions at https://aws-amplify.github.io/docs/js/push-notifications and could confirm that

[2019-01-15 06:58] harsh594 commented on #1442
I replaced `import { String } from 'aws-sdk/clients/cognitoidentity';` with  `import * as String from 'aws-sdk/clients/cognitoidentity';` and it works for me now.

[2019-01-15 07:45] rudyhadoux commented on #2532
I think duplicated reserved key-word is bad but it is non-blocking. And no problem with good mapping practices. The code of the video's author is here :
https://github.com/mjzone/appsync-amplify

[2019-01-15 11:42] Jaikant opened #2542 "React hooks and Hub"
** Which Category is your question related to? **
AWS Amplify - Hub

** What AWS Services are you utilizing? **
Amplify, AppSync, Lambda

** Provide additional details e.g. code snippets **
What will be the recommended way to use `Hub` with the propose React hooks (and arrow functions). With Hooks, we are doing away with ES6 classes. More specifically, from within the `onHubCapsule` how do we call

[2019-01-15 12:57] Jaikant opened #2543 "Ampliy, Hosted UI, Google Federated login - user profile data (profile picture)"
** Which Category is your question related to? **
AWS Amplify - Hosted UI

** What AWS Services are you utilizing? **
AWS Amplify, AWS AppSync, Lambda,

** Provide additional details e.g. code snippets **
I am unable to get the Google profile picture url for the user who logs in using the hosted UI.
I need a way to get the user profile data, which I would want save into a DynamoDB table.

Below is

[2019-01-15 14:14] roborourke commented on #488
Are there any plans to create targeted bundles? eg. web / node / isomorphic? That might help to reduce bundle sizes too but I know that's a huge undertaking.

[2019-01-15 16:16] haverchuck commented on #2540
@cliffordh - We implemented the AmplifyEventBus thinking that it would be more familiar to Vue developers, but you certainly have a point.  I think it is time to consider making the change you suggest. I'm marking this as an enhancement request.

[2019-01-15 16:47] shawnpetros commented on #1143
@VicFrolov, did you ever put together an example repo with this flow for mobile login with social that federates? I am starting a new RN app (using expo) and am wanting to signin/register a user with FB and allow the user to be provisioned for GraphQL calls using `amplify api`, but the way I have FB signin set up is calling `.federatedSignIn()` with the user but no user is created in Cognito leadi

[2019-01-15 17:15] woodpav commented on #2005
For the record, I am no longer getting this error. I'm not sure what changed 😅

[2019-01-15 17:37] ferdingler opened #2544 "UpdateEndpoint does not create Push Notification subscription"
**Describe the bug**
Running updateEndpoint from a React web application doesn't actually create the endpoint in Pinpoint with the device token associated with it. It will not associate the Cognito user either.

**To Reproduce**
The following code snippet, when run in a React web application (not React Native) succeeds, but does not send the channelType, address or userId to Amazon Pinpoint.
[code

[2019-01-15 18:02] powerful23 commented on #2512
@cojack can you paste the debugging info here? Especially the part when you get redirected back from the Hosted UI.

[2019-01-15 18:48] powerful23 commented on #2539
@mtraynham I don't think returning a promise in async function is the cause.

According to: https://javascript.info/async-await

Can you provide some code snippets about how you are using this method so we can reproduce it? Thanks.

[2019-01-15 19:20] rohitspujari opened #2545 "Amplify Console Deployment - Access Denied on route refresh"
When I deploy my react app using Amplify Console, I get the access-denied page or get routed to index.html when I refresh my browser on a certain application route ("my-app/products"). This doesn't happen on cloudfront url that I get when publish my app through "amplify publish".

Any workarounds you can suggest?

[2019-01-15 19:38] wizawuza commented on #2545
you should check out my post on #2498 , it may not solve your problem as it's a problem in itself, but it may set you on the right path.
The docs for the amplify console are here:
[https://docs.aws.amazon.com/amplify/index.html#lang/en_us](url)
In there search for redirects

[2019-01-15 21:04] alpeshgaglani opened #2546 "Auth.sendCustomChallengeAnswer returns a promise that never resolves"
**Describe the bug**
I'm trying to use the custom_challenge for verifying password-less phone numbers via SMS codes. I've implemented lambda triggers that successfully sends and verifies the answer. I even get back the access token in the response. However, the call promise does not resolve.
My client-side code:
[code]
The 2nd await never completes.

**More Context**
If I pass the wrong code, the

[2019-01-15 21:50] swaminator commented on #2498
This is because your assets are not loading properly. We launched a feature to support regex based on this thread here: https://forums.aws.amazon.com/thread.jspa?threadID=294311&tstart=0

Try using regex in source. The format is </.../>.
The following example will do rewrite to all files to index.html but except specific file extensions.
source: </^[^.]+$|\.(?!(css|gif|ico|jpg|js|png|txt|svg|woff|

[2019-01-15 21:50] swaminator commented on #2545
This might be because your assets are not loading properly. We launched a feature to support regex based on this thread here: https://forums.aws.amazon.com/thread.jspa?threadID=294311&tstart=0

Try using regex in source. The format is </.../>.
The following example will do rewrite to all files to index.html but except specific file extensions.
source: </^[^.]+$|\.(?!(css|gif|ico|jpg|js|png|txt|svg

[2019-01-15 21:52] #2166 closed

[2019-01-15 21:56] haverchuck commented on #1993
@shawnlauzon - We will take a look doing this for Angular.

[2019-01-15 21:56] #1993 closed

[2019-01-15 22:18] haverchuck commented on #2033
@ngoyal16 - Apologies for the late reply.  I don't see any app at the url you posted above. Perhaps you could supply an updated one?  Also, which versions of aws-amplify or aws-amplify and aws-amplify-vue are you using?

[2019-01-15 23:33] BrentAtAWS commented on #2219
Hi @pribadi1st

The documentation that you linked to in your first message is for a different service (Amazon SNS). It looks like information in the SNS documentation for setting up a Baidu account might be out of date. I'll see if we can update or remove that content.

The preferred method of setting up mobile apps to send messages through Amazon Pinpoint is to use AWS Amplify. The first step is

[2019-01-15 23:35] skylerrichter opened #2549 "Amplify API calls fail to refresh token"
**Describe the bug**
After a successful sign in using Auth.federatedSignIn() I am only able to successfully make 1 API call before my security token expires. If I refresh my app after signing in the API will return a 403. If I refresh a second time Amplify will forget my credentials and I will be back on the login screen.

**To Reproduce**

App.js

[code]

Login.js

[code]

Foo.js

[code]

**Expec

[2019-01-15 23:48] undefobj commented on #2283
PKCE is supported via the hosted UI as outlined above.

We are enhancing functionality to enable you to use it in React Native. We're also looking at making the HOCs a little easier to use in your React apps by passing the social provider as a function via props.

@maziarz aside from these things is there more you're looking for?

[2019-01-15 23:59] goatandsheep opened #2550 "[Auth] resendSignIn"
**Is your feature request related to a problem? Please describe.**
How do you resend the MFA code when there's an error?

**Describe the solution you'd like**
A version of `Auth.resendSignUp` that works for resending the MFA code.

**Describe alternatives you've considered**
Using `Auth.resendSignUp` might work, but it's a bad name and future developers on the project will likely get confused even

[2019-01-16 00:33] michaelcuneo opened #2551 "Migration from an old project with amplify-cli to amplify-js"
I have a few projects using the old amplify-cli

I would like to migrate them all across to using the Amplify Console, and Amplify-JS... I am creating new projects with amplify-js, but how do I get my old ones to migrate across without any issues, would I need to recreate the S3 buckets for storage, databases, etc... or just initialise it with it's existing resources somehow?

[2019-01-16 00:45] cocacrave opened #2552 "Store User in sessionStorage"
If I understand correctly, `Auth.signIn` stores User in `localStorage` then wrapping with Authenticator sets the user back into `authState` and `authData` states on `componentDidMount` with a `Auth.currentAuthenticatedUser` call. So persisting user state between sessions works out of the box but what if the user doesn't want to store information on that particular device?

Maybe add option to `Aut

[2019-01-16 05:13] Prithivraj200 commented on #1846
https://stackblitz.com/edit/angular-n6wtdr

[2019-01-16 06:58] ngoyal16 commented on #2033
I fixed the issue

[2019-01-16 06:58] #2033 closed

[2019-01-16 08:12] ngocketit commented on #1094
I got the same problem but strangely it doesn't happen all the time, only occasionally. I tried to log out and log in user again but no help and sometimes it suddenly works for no reason. Still couldn't have any clues about it. I have the policy defined according to the docs here https://aws-amplify.github.io/docs/js/storage

[2019-01-16 08:39] maziarz commented on #2283
@undefobj is there a way to get in touch with you outside of github, slack etc.? I have premium support.

[2019-01-16 10:52] CodingToBeWithHer commented on #2283
@undefobj
the hosted UI has limitations (for example - no way to change language, and other limitations compared to react amplify library)

this ticket was opened asking for PKCE support for aws-amplify-react, so answer that hosted UI supports PKCE does not answer the questions really as my use case does allow me to use the hosted UI (due to limitations like language etc)

[2019-01-16 13:36] wizawuza commented on #2498
Even with the following rule:
[
    {
        "source": "</^[^.]+$|.(?!(css|gif|ico|jpg|js|png|txt|svg|woff|ttf)$)([^.]+$)/>",
        "target": "/index.html",
        "status": "200",
        "condition": null
    }
]

I still get the same error. This project works just fine when using amplify publish via the CLI, and setting the S3 bucket's index document AND error document to "index.html" so I

[2019-01-16 13:43] dimitarrusev commented on #1252
@j2d2 @reggie3 @rayhaanq I'm facing the same issue right now. I'm curious, (how) did you guys solve this?

Ping @undefobj

[2019-01-16 15:55] agionfriddo opened #2553 "Compatibility issues with ReactXP"
**Describe the bug**
I'm attempting to use Amplify to handle Authentication for my app built with ReactXP. When I try to run `Amplify.configure` the application fails to run with the following error: `Invariant Violation: No dimension set for key screen`. I've attached an image of the error stack to this issue. When I comment out the `Amplify.configure` code, the project runs as expected.

**To Re

[2019-01-16 16:32] haverchuck commented on #2551
@michaelcuneo -  If you are just trying to deploy your front-end with the Amplify Console, it sounds like you just need to disable the backend build as described [here](https://docs.aws.amazon.com/amplify/latest/userguide/getting-started.html) (Section 3).

[2019-01-16 17:59] powerful23 commented on #2552
@cocacrave you can switch to different storage by using this: https://aws-amplify.github.io/docs/js/authentication#managing-security-tokens

[2019-01-16 18:03] jamesgraham commented on #2518
@powerful23 what if you don't want to use the Hosted UI? Any options?

[2019-01-16 18:05] haverchuck commented on #2553
@agionfriddo- Thanks for posting this. We are not super familiar with ReactXP; I am going to mark this as investigating so that we can investigate this issue as well as investigate compatibility with this library more generally.

[2019-01-16 18:37] agionfriddo commented on #2553
Great, thanks for the prompt reply! Let me know if you need anymore information, and I look forward to seeing how this resolves.

[2019-01-16 18:54] haverchuck commented on #2553
@agionfriddo -  Are you using the aws-amplify package only, or aws-amplify AND aws-amplify-react-native?

[2019-01-16 19:13] agionfriddo commented on #2553
Just the aws-amplify package