[2021-08-19 10:51] sahandmbm commented on #8769
I done that but I still have the same problem

[2021-08-19 12:43] fernandesGabriel commented on #6103
Have anyone here tried to create a DynamoDB trigger to clean up the table as the `_deleted` flag is set?

[2021-08-19 13:58] iartemiev commented on #8764
Closing, as this is a duplicate of https://github.com/aws-amplify/amplify-js/issues/8640. Please see the comments on that issue.

[2021-08-19 13:58] #8764 closed

[2021-08-19 15:03] purbanow commented on #612
+1

[2021-08-19 20:15] davidkhierl opened #8777 "Require cycle warning with react-native-svg-transformer"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-08-19 20:24] #8777 closed

[2021-08-19 20:53] leighton-tidwell opened #8778 "404 Redirect with NextJS not working"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-08-19 21:32] chrisbonifacio commented on #8747
@jagonzalr could you try to replace the `yarn build:esm:watch` command with `yarn build:watch` instead? Let me know if that helps at all. The issue seems to stem from the ui component libraries, the UI team is aware and trying to address the issue. Apologies for the inconvenience.

[2021-08-19 22:14] chrisbonifacio commented on #8778
Hi @leighton-tidwell 👋 Thanks for raising this issue. To start, could you please try these suggestions and let me know if they help?

1. Enable trailing slashes in Next.js - https://nextjs.org/docs/api-reference/next.config.js/trailing-slash
2. Then set the redirect to /404/index.html rather than /404.html

[2021-08-19 23:28] sky4git commented on #8586
Yes. It doesn't seem to work for Authorised API gateway methods.
It would be good if we can apply the IAM policy from amplify-cli when we want to invoke API gateway method.

[2021-08-19 23:28] #8586 closed

[2021-08-19 23:34] leighton-tidwell commented on #8778
This did not solve the problem. As a matter of fact, it made it where visiting the root of the url returned a 404 unless I put a /pagename after the URL. Unfortunately the 404 returned was not my custom 404.

[2021-08-20 01:44] seunghwako commented on #8727
@chrisbonifacio I re-entered Client Id and Secret from Google and Facebook on main environment in cli but still occur "The user is not authenicated" error. However, user information is  successfully generated in cognito user pool.

[2021-08-20 05:39] kangleon-karl commented on #612
+1

[2021-08-20 05:43] sverraest commented on #612
@sammartinez Any feedback from the Amplify team, it's becoming a bit embarrassing.

[2021-08-20 09:01] BravesDevs opened #8780 "Invalid Password Format Validation for correct password without spaces"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-08-20 09:11] hoan-pham-duy commented on #8667
Hi, have you tried to go to the Amplify's function, provide needed permissions, and add triggers in the web browser?
After you can config it, you can add trigger and destination in Lambda cloud formation template in amplify

[2021-08-20 12:22] neats-returns commented on #8776
**UPDATE**
I have logged the subscription object in my app in production, and the state of the subscription is still `_ready`, by the next callback are not fired anymore

[2021-08-20 14:35] jagonzalr commented on #8747
@chrisbonifacio so `yarn build` runs fine without errors. I tried `yarn build:watch` and returns the same errors as `yarn build:esm:watch`. If I want to write code I would need to run `yarn build` to see my changes instead of just automatically reloading.

[2021-08-20 14:37] AlphaJuliettOmega commented on #4315
Why is this ticket closed after this comment?

Ctrl + F & Searching '.configure()' shows you a bit about it being a function but not much about:

- What format the config must be
- _Refresh Handlers_ (the refresh subkey function callback for federated signing, when is it called, how do I catch if it fails etc.)
- Auth.configure vs Amplify configure

https://aws-amplify.github.io/amplify-js/api/#co

[2021-08-20 14:50] chrisbonifacio commented on #8780
Hi @BravesDevs 👋 I'm not sure I understand the issue. You mentioned "clearbit free trial", so I googled it and found this webpage.

<img width="978" alt="Screen Shot 2021-08-20 at 10 47 44 AM" src="https://user-images.githubusercontent.com/16952986/130251574-7203ee12-5258-4567-b460-ec5eb18f7615.png">

Is this an app you're developing?

If so, are you using Amplify UI components or the `Auth` libra

[2021-08-20 15:27] chrisbonifacio commented on #5723
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-08-20 15:27] #5723 closed

[2021-08-20 15:31] chrisbonifacio commented on #8727
@seunghwako can you follow the steps listed in this comment on a related issue and post the responses here?

https://github.com/aws-amplify/amplify-js/issues/5723#issuecomment-869969225

[2021-08-20 15:31] andriworld commented on #5273
@nerxhan-eduongo in order to upload files larger than 5MB, you should configure your S3 bucket to expose the ETag header. See https://github.com/aws-amplify/amplify-js/issues/61#issuecomment-445436658

[2021-08-20 15:42] chrisbonifacio commented on #8739
@neats-returns Ah, nice work figuring it out! That behavior of needing to return every field sounds like DataStore might be enabled for the API? Is this true or are you only using `API.graphql`?

[2021-08-20 15:56] chrisbonifacio commented on #8624
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-08-20 15:56] #8624 closed

[2021-08-20 15:58] chrisbonifacio commented on #8747
@jagonzalr you could also try to scope the watch mode to the package you're working on like so `yarn build:esm:watch --scope <package-name>`.

[2021-08-20 16:10] jagonzalr commented on #8747
@chrisbonifacio if I do that and run `yarn build:esm:watch --scope @aws-amplify/ui-react --stream` I get no errors but changing a file inside `ui-components` doesn't cause a rebuild on `ui-react`. Do I need to scope on `@aws-amplify/ui-components` instead?

What I install on my sample project is `aws-amplify` and `@aws-amplify/ui-react`.

If I run `yarn build:esm:watch --scope @aws-amplify/ui-comp

[2021-08-20 16:48] andriworld opened #8781 "Storage.put of multipart file returns successfully upon failure"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-08-20 17:38] chrisbonifacio commented on #8778
@leighton-tidwell hmm, I'm not sure what could be the issue then. I'll have to transfer this to the console repo, I think that team would be better suited to help identify the issue with the app and/or hosting configuration. I apologize for the inconvenience.

[2021-08-20 19:11] chrisbonifacio commented on #8758
Hi @levelingup :wave: Thank you for raising this issue. Did you call `Amplify.configure` like so?

[code]

[2021-08-20 19:37] andrecasal commented on #1907
I just got this issue while using AWS Amplify's aws-exports.js file.

<img width="1061" alt="Screenshot 2021-08-20 at 20 32 33" src="https://user-images.githubusercontent.com/22457463/130284689-272650e6-20dd-42e4-ba0d-18e44d48fd21.png">

Running `amplify status`:
[code]

So the stripeAPI is clearly there.

`aws-exports.js`:
[code]
I can `amplify push` and `amplify pull` multiple times, but there's

[2021-08-20 19:37] cespin commented on #4468
I just tested this using the ```build aws-amplify@4.2.5-unstable.1``` and it works.

[2021-08-20 20:52] spmatthews03 commented on #3070
What is the status of this? this is a pretty crucial defect for some projects.

[2021-08-21 00:12] rush86999 commented on #7036
I am experiencing this issue with latest react native and datastore.

here's the error:
[code]

[2021-08-21 00:20] iartemiev commented on #7036
@rush86999 how many models do you have in your schema?

[2021-08-21 00:22] rush86999 commented on #7036
69 models

[2021-08-21 00:46] iartemiev commented on #7036
@rush86999 DataStore supports a maximum of 33 models, because it has to create 3 subscriptions per model to keep the local store in sync with AppSync. That error is expected for a schema containing > 33 models.

[2021-08-21 00:54] rush86999 commented on #7036
can i turn off the subscriptions? I think there is a cost involved with keeping a connection open. Shouldn't this be optional? Also I realized mutations are not instant so for certain cases I would just use the regular API for direct mutations on dynamodb

[2021-08-21 09:08] noisyboiler commented on #8769
@chrisbonifacio I suspect that the Cognito Identity Pool isn't being found but can't be 100% sure, yet what appears to be _exactly_ the same "React" code patterns are working on the web app - anything you can suggest for us to try and rule out as we debug this? Thanks.

[2021-08-21 11:03] neats-returns commented on #8739
Well I was using it before, by I disabled it with `amplify update api`. I'm now only using `API.graphql`

[2021-08-21 12:02] rush86999 commented on #7036
I just realized you mean my app will not work. Is there an alternative approach in this situation?

[2021-08-21 12:52] kgoyal98 opened #8795 "Signed URL from Storage.get() call not working"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-21 13:09] aajinkya1203 commented on #4720
Anyone got a solution for this?

[2021-08-21 13:33] rush86999 commented on #7036
Can we turn off DataStore and call the API directly without issues?

[2021-08-21 14:10] TheMoums commented on #7036
Hey @rush86999.
Maybe take a look at this issue, it could help [#6260](https://github.com/aws-amplify/amplify-js/issues/6260)

[2021-08-21 17:15] flashrtz commented on #6695
Can you lmk how you switch the API to accept https rather than http

[2021-08-21 22:21] awsgirib opened #8783 "AWSv4 signature mismatch when using Storage.put to an S3 resource"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-08-22 02:03] kewur commented on #369
Selecting username without "Also allow sign in with verified email address" still allows multiple registrations with the same email.

[2021-08-22 23:09] meatherly commented on #7786
@fabientownsend you're a life saver!!

[2021-08-23 07:02] MartinCura commented on #7940
Hi there, just deployed the first API route in our Next.js app and it returns this error when deployed.

We've been using Next.js 11 and would prefer to keep it (i set "latest" for the Next.js version in the Amplify console).

Is there a timeframe for these things to be ironed out? Is there any way to not drop down to v9 and lose a lot of functionality?

If this is being tracked in another issue p

[2021-08-23 08:14] advissor commented on #6097
In which version this was fixed?

[2021-08-23 09:31] advissor commented on #8761
The same thing happens with ConfirmSignup , when pre-populating the email

Use case :
- if window is closed and you want to resume the verification code entering & want to repopulate a known email saved in localstorage

@chrisbonifacio @kjallbring do you know about a possible workaround?

Like, is it possible to pass the "value" into the Auth state somehow?
As it seems it is now aware of the value

[2021-08-23 12:36] devd7c commented on #639
Thanks @robert-moore for this mod for React

[2021-08-23 12:44] casperibo opened #8792 "Amplify DataStore creating data only locally on NextJS API Route"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-08-23 15:56] evcodes commented on #8769
Hey @sahandmbm ,

Thank you for opening this issue on our repo. I was able to reproduce the same environment you had but did not run into the same issues that you did. Here is my App.js code for a react native project that shows the identity id and identity pool id:

[code]

[2021-08-23 19:23] andrecasal opened #8793 "API does not exist on API.post()"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-08-23 20:43] andrecasal commented on #8793
I fixed it by extending the configuration manually like this:
[code]

aws-exports.js:
[code]

aws-manual-config.js:
[code]

[2021-08-24 02:50] ShutoAraki commented on #1269
So the current workaround is to reload your app like this?

[code]

[2021-08-24 09:12] sahandmbm commented on #8769
Thanks for your feedback, the only difference between my code and this one is that I am not using withAuthenticator, instead this is my code:

[code]

Using this code this part works:

[code]

but still I'm not getting the ID

[2021-08-24 09:51] TheMoums commented on #6973
Any updates on this?

The connections are solved automatically by DataStore when dealing with BELONGS_TO relations but still not working with HAS_ONE relations and this issue is almost one year old....

[2021-08-24 13:09] rclarkem-fubotv commented on #2560
Same question!

[2021-08-24 15:01] sammartinez commented on #8793
Thanks for reporting this, as this is more related to Amplify CLI. I am in the process of transferring this issue over to their repo.

[2021-08-24 15:07] sammartinez commented on #8795
Thanks for this transfer @attilah. @kgoyal98 Can you provide the versions of Ubuntu you are using? This will help us triage the issue you are experiencing.

[2021-08-24 15:09] sammartinez commented on #8068
Hey @marlonmarcello, I am going to resolve this issue for now as we have not heard from you in over 7+ days. Please let us know if you are still experiencing this issue on the latest version and we can reopen this issue. Thanks!

[2021-08-24 15:09] #8068 closed

[2021-08-24 15:11] sammartinez commented on #8064
Thanks for your patience, apologies on us not reaching out on this sooner. I will someone from the team repo this and see if we have a resolution for you. Thanks!

[2021-08-24 17:11] juancarloselorriaga opened #8798 "PubSub - Publish working locally but not when deployed (Gatsby)"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-08-24 17:56] iartemiev commented on #8792
Hey @casperibo, I would enable logs with `Amplify.Logger.LOG_LEVEL = 'DEBUG'` and then check the logs in your Next.js app to see there are any warnings or errors coming from DataStore. If there are, please share them here.

[2021-08-24 18:26] casperibo commented on #8792
Hi @iartemiev thank you for your response, i finally could see an error.

I think DataStore try to use API key when i try to save data.

Normally i would do AUTH_TYPE.AMAZON_COGNITO_USER_POOLS, on API but do i have to declare anything on my DataStore.save command?

I faced some error when try to debug.

[DEBUG] 20:34.280 DataStore - Mutation failed with authMode: API_KEY
[DEBUG] 20:34.514 AuthClas

[2021-08-24 18:31] david-mcafee commented on #7070
[This issue](https://github.com/aws-amplify/amplify-js/issues/7019) is identical, but not yet sure if the root cause is the same. Potentially related to using a VPN.

[2021-08-24 20:22] thaddmt commented on #8689
Pr for renaming bundle - https://github.com/aws-amplify/maplibre-gl-js-amplify/pull/39

[2021-08-24 20:46] JustinKasad commented on #8604
Hi @pkhien95 were you able to solve this issue?  I'm running into the exact same bug (trying to use Auth.signIn)

I've confirmed that there is no infinite loop in my react logic.  The call to signIn only occurs once and triggers the error each time.

[2021-08-25 01:28] elilambnz commented on #8763
To remove data from IndexedDB, you need to execute `DataStore.clear()` followed by `DataStore.start()`.

Of course, this is far from ideal, but is documented [here](https://docs.amplify.aws/lib/datastore/sync/q/platform/js/#reevaluate-expressions-at-runtime). Your queries to DataStore should only return non-deleted values, regardless of data remaining on the device. If there is concerns around sen

[2021-08-25 01:28] dn-l commented on #8751
Somehow it got fixed and as fast as it should be now. Closed.
Thanks @chrisbonifacio

[2021-08-25 01:28] #8751 closed

[2021-08-25 01:50] seunghwako commented on #8727
@chrisbonifacio My responseType is code. I checked request token at `https://tintinlive.com/oauth2/token`, I sent the error message like this
![스크린샷 2021-08-25 오전 10 23 18](https://user-images.githubusercontent.com/52697089/130712999-bb09b44c-69c7-425b-8be5-08af814570f2.png)

Also, I tried to use Hub like this, Is it correct code?
[code]

[2021-08-25 01:59] stubbzilla8 commented on #987
Hey, if that's the case (likely), I've been recommending **auth0** whenever I have the chance after my experiences with cognito.

[2021-08-25 02:01] petercwk commented on #8783
Hi @awsgirib 👋  I haven not been able to reproduce the issue a app instance on cloud9.

You mentioned in the details that you added a new user after adding the Auth category. Could you double check that you are signed in with that user?

Ampliy has some pre-built UI components that can handle the login/logout flow here: https://docs.amplify.aws/lib/auth/getting-started/q/platform/js/#option-1-use-

[2021-08-25 03:57] Athmo opened #8800 "Username cannot be of email format, since user pool is configured for email alias"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-08-25 07:07] jysung commented on #8184
@Jun711 did you manage to figure out one tap sign in?

[2021-08-25 08:13] MichalBunkowski commented on #3316
Is anyone looking into this?

[2021-08-25 10:54] casperibo commented on #8792
I console log Auth and Datastore coming from withSSRContext({ req }) and found;

[code]

I try to change them but still getting same "Mutation failed with authMode: API_KEY" error.

[code]

[2021-08-25 10:56] pkhien95 commented on #8604
@JustinKasad Sorry, I paused investigation on this, it took me a lot of time. I will come back later when I have enough time. Maybe @chrisbonifacio can help you in the meantime?

[2021-08-25 13:07] kgoyal98 commented on #8795
Ubuntu 20.04.2 LTS

[2021-08-25 16:50] kjallbring commented on #8761
It seems like[ this code](https://github.com/aws-amplify/amplify-js/blob/da8ef238928fdcad7ab307350ffff8448eec5b26/packages/amplify-ui-components/src/components/amplify-forgot-password/amplify-forgot-password.tsx#L162-L169) is invoked when passing in value.

But I suspect it does not trigger an event, so [this code ](https://github.com/aws-amplify/amplify-js/blob/da8ef238928fdcad7ab307350ffff8448ee

[2021-08-25 17:04] TheDutchCoder opened #8803 "onCreate subscription returns null through `aws-amplify` API, but not through AppSync"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-08-26 03:02] manavsehgal opened #8804 "amplify geo - Webpack error - Module parse failed: Unexpected token"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-08-26 11:57] tom-wagner opened #8806 "Issues accessing response body when API Gateway returns 400"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-08-26 13:05] wvidana opened #8807 "Hub listeners not being removed by Hub.remove()"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-08-26 13:07] beqramo opened #8808 "React native: on android notifications isn't rendered when app is in foreground"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-08-27 15:11] sherl0cks opened #8810 "Selective Sync IndexedDB Adapter Nondeterministic Results"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-08-27 18:18] DanProudfoot opened #8812 "When using a REST API authenticated with a Bearer token in Next.js SSR, I always get "ERROR: No current user""
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-08-28 05:28] dn-l commented on #54
Theoretically, `/protected/${cognito-identity.amazonaws.com:cognito:username}/*` should work without changing IAM because it's a built-in claim but it doesn't ... no idea why
Suggested solutions didn't work for me, getting 403 on `PutObject`

[2021-08-28 07:21] phuctm97 opened #8815 "Analytics doesn't record the first sign-in when mandatorySignIn is true"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-08-28 10:21] kgoyal98 commented on #8795
@petercwk Thanks, this solved the issue.

As a suggestion, I think it would be better if Storage.get() call fails will error if the user does not have enough permission.

[2021-08-29 12:21] rafaelfaria commented on #991
Any updates on this? I would love to be able to sign in the user right after they confirm their registration (email and code).

[2021-08-29 18:26] evertson90 opened #8818 "Set attribute mapping for Social providers"
### Is this related to a new or existing framework?

_No response_

### Is this related to a new or existing API?

Authentication

### Is this related to another service?

Cognito

### Describe the feature you'd like to request

I would like the ability to configure Attribute mapping for Social providers (Google, Facebook etc.). Currently everytime we deploy we need to manually go into Cognito and

[2021-08-29 22:40] 24jr commented on #7254
I am trying to after already setting up totp to put back to 'NOMFA'. When I am signed in with user with totp set up I run
[code]
with error "User has not verified software token mfa". Makes sense I guess want to verify totp before doing this. I also havent and didnt use totp when signing in and not sure that I set any remember this device thing but could be whats occuring. Anyway as of now trying

[2021-08-30 07:06] marco910 opened #8819 "Not able to check if user is signed in on API route"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-08-30 11:45] evcodes commented on #8795
@kgoyal98  Thank you for reporting this issue. We will consider this for future iterations on our API

[2021-08-30 11:45] #8795 closed

[2021-08-30 15:16] chrisbonifacio commented on #8803
Hi @TheDutchCoder 👋 did you auto-generate the queries, mutations, and subscriptions using the CLI?

[2021-08-30 15:24] TheDutchCoder commented on #8803
We do, yes!

[2021-08-30 15:29] chrisbonifacio commented on #8803
Okay, good! Could you copy/paste what the mutation and subscription look like in the schema? I'm currently trying to reproduce but I'm not sure if I fully understand what you mean by:

I'm using the auto-generated subscription that looks like

[code]

and the mutation

[code]

[2021-08-30 15:35] TheDutchCoder commented on #8803
Sure thing!

Here's the subscription:
[code]

And the mutation:
[code]

Schema:
[code]

Custom subscription:
[code]

Now that I paste this... It's the custom subscription, isn't it?
Regardless though, AppSync should then also not be able to subscribe without an ID, they should use them same schema, mutations, and subscriptions, no?

[2021-08-30 15:48] evcodes commented on #1355
Closing this issue as we have launched device tracking feature two months ago

[2021-08-30 15:48] #1355 closed

[2021-08-30 16:35] chrisbonifacio commented on #8803
would you mind pasting the model for `proofConfig` as well?

[2021-08-30 16:45] chrisbonifacio commented on #8803
Also, yes that's a custom subscription but I just tried using a custom subscription that accepts an ID and I was able to receive data without passing ID as a variable since it's not required.

[2021-08-30 17:00] TheDutchCoder commented on #8803
[code]

[2021-08-30 17:11] chrisbonifacio commented on #8733
@karthinidc Hello! Apologies for the delay. Unfortunately, I have not been able to reproduce this issue. Are you still experiencing the error and in need of assistance?

[2021-08-30 17:16] chrisbonifacio commented on #8803
Thank you! I was able to recreate the issue, now I'll see if I can figure out why it's not working the same way my `onCreateTodo` subscription does.

<img width="1488" alt="Screen Shot 2021-08-30 at 1 14 56 PM" src="https://user-images.githubusercontent.com/16952986/131378201-d3a7f482-c7f0-41ac-a7fb-644988fdb676.png">

[2021-08-30 17:38] david-mcafee commented on #7070
Closing this issue. Remediation steps are listed in my previous comment. Please reach out if there are further issues!

[2021-08-30 17:38] #7070 closed

[2021-08-30 18:26] chrisbonifacio commented on #8803
@TheDutchCoder I noticed that you have a `createdAt` field in your Business model. I believe AppSync handles `createdAt` and `updatedAt` automatically for you. Could you try removing that field and see if you receive the actual data from the payload then?

[2021-08-30 18:46] TheDutchCoder commented on #8803
I think those were required to generate the proper types with `codegen`.
I'm actually in the process of moving the whole project over to TS so hopefully that will remedy that problem.

I'll ping you when that's done and then we can explore this further. Appreciate the help!

[2021-08-30 19:05] agreeff commented on #7589
Not sure if this was asked already (I may have missed it), but why would the `APIClass.graphql` method ever be made to return `Promise<GraphQLResult<object>> | Observable<object>` in the first place..? Do we now need to implement "handling" for each case, even if we only need one?

I'm rather new to AWS in general, and I know a dangerous amount of GraphQL (i.e.: I don't fully understand why what I

[2021-08-30 19:25] evcodes commented on #8769
I am not able to reproduce this issue and I am going to[ link a repository with my working code ](https://github.com/evcodes/issue8769)to see if you can find a solution there...

[2021-08-30 19:27] chrisbonifacio commented on #8803
I would advise caution when it comes to manually adding the `createdAt` and `updatedAt` fields to your schema models. I've seen many issues in the past related to them being manually added so it may cause more problems than it solves. It's probably best to let the CLI and AppSync manage them. If you push models without them and check the schema in the console or the shape of the schema in json wit

[2021-08-30 19:35] wendyw1999 commented on #5926
Sometimes I have the same issue. It turns out that I forgot to run `amplify codegen models` after I updated graphql schema/update the api.

[2021-08-30 19:39] chrisbonifacio commented on #8803
So, I managed to fix the issue on my end by simply removing the `ID` field from the subscription. It seems if you're using custom subscriptions, you may have to create separate subscriptions for which you want to subscribe by ID and not.

updated schema
[code]

[2021-08-30 20:06] vbbandeira commented on #8667
Yes, I can do this in the web browser, but this is not so beneficial if I need to recreate the project multiple times using Amplify deploy. Because that way I would have to go to the web browser every time to add the triggers and that would take me a long time, you know?

[2021-08-30 21:15] zaithel opened #8822 "Async Iterator error"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-08-30 21:30] geeshans opened #8823 "Amplify Federated Sign In not returning Email for Facebook"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-08-30 22:56] 24jr opened #8827 "Always require email log in to be verified"
### Is this related to a new or existing framework?

_No response_

### Is this related to a new or existing API?

Authentication

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

I was talking about my confusion here and the conclusion may be that it is not setup for this and so would be a feature request https://github.com/aws-amplify/amplif

[2021-08-30 23:21] thaddmt commented on #8804
@manavsehgal we released a newer version of the [maplibre-gl-js-amplify](https://www.npmjs.com/package/maplibre-gl-js-amplify/v/1.0.7) which should fix the issue in question for any customers going through the javascript tutorial then proceeding to the Geo setup. Thanks and let us know if you are seeing any other issues!

[2021-08-30 23:21] #8804 closed

[2021-08-31 00:13] MartinCura commented on #7940
Update: switched to using [serverless-next.js](https://github.com/serverless-nextjs/serverless-next.js) because of this and other nuisances.

[2021-08-31 00:42] TheDutchCoder commented on #8803
@chrisbonifacio thanks for all this, it seems to make sense and will see if we can implement this.

Unfortunately I'm hitting a dead end with converting to TypeScript as the generated types are... I don't know how to put this... Not great.

It was one of the reasons we had to specify things like `createdAt` because these weren't included in the types when the project is still `javascript`, but whe

[2021-08-31 10:32] paulsjohnson91 commented on #8753
Hi, is there any update on this? It's been a few weeks

[2021-08-31 12:10] karthinidc commented on #8733
@chrisbonifacio  Hi
If you use the "aws-amplify": "^4.2.3", version in the "react-native": "0.59.9" version project - Still same issue.

[2021-08-31 14:42] chrisbonifacio commented on #8803
@TheDutchCoder I don't have much TS experience but using CLI version 5.3.1 (Your environment info indicates you are on v5.2.1). These are the types it generated in a `API.ts` file for me. They seem to include the `createdAt` and `updatedAt` fields. Are yours different?

[code]

[2021-08-31 15:03] chrisbonifacio commented on #8780
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-08-31 15:03] #8780 closed

[2021-08-31 15:10] hdworld11 commented on #8553
@rprisram Thanks for your input! We are looking for more geofence use cases so we can improve the library to better assist you with your location features! Please DM me on Discord (harshitadaddala#5464) or [Twitter](https://twitter.com/HarshitaDaddala) if you' are interested in chatting further :)

[2021-08-31 15:16] TheDutchCoder commented on #8803
@chrisbonifacio well that's with the project in typescript mode.
If you use javascript, then you don't get these properties.

I can't switch to TS mode, because the generated types are completely unusable for the front-end, so I'm stuck between a rock and a hard place :(

[2021-08-31 15:53] chrisbonifacio commented on #8803
@TheDutchCoder Ah, I see what you mean. There are a lot of hoops to jump through to get TS to work nicely with a library like `API`. Sorry about that. I do know that we are actively working towards improving support for TS.

Please let me know if the solution I proposed for the subscription helps btw!

This was me wrestling with types for subscriptions, was not fun to figure out 😅

[code]

[2021-08-31 16:12] 24jr opened #8829 "MFAMethodNotFoundException after removing phone_number"
### Is this related to a new or existing framework?

_No response_

### Is this related to a new or existing API?

Authentication

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

I have email set as primary login and mfa optional. If i set sms mfa it requires a phone number naturally. But I can delete the phone number and sms mfa still be ena

[2021-08-31 16:21] TheDutchCoder commented on #8803
@chrisbonifacio thanks for getting back to me.

The solution is sort of what we currently use, but in a wrapper, but you can imagine this is not a scalable and maintainable approach to dealing with Amplify's graph implementation.

My current solution is the following:
[code]

where we call:
[code]

As you can see, the whole chaining and casting is very far from ideal (though it works for now).
I h

[2021-08-31 16:31] chrisbonifacio commented on #8803
@TheDutchCoder I like this solution better! clever but yeah, still not ideal 😕

Are you able to get data in your subscription payload now rather than `null`?

[2021-08-31 17:03] TheDutchCoder commented on #8803
Let me get back to you on that!

[2021-08-31 17:27] chrisbonifacio commented on #7561
Hi @carlos-technogi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

@brettstack Sorry for the delay. I apologize, I'm not sure what your use case is

[2021-08-31 17:27] #7561 closed

[2021-08-31 17:32] chrisbonifacio commented on #8537
Hi @MedNabilEssefaihi apologies for the delay. Are you still experiencing this issue? If so, could you make sure you're using the latest versions of `@aws-amplify/cli`, and `aws-amplify` and let me know if the issue persists?

[2021-08-31 18:09] chrisbonifacio commented on #8608
@enigosi Apologies for the delay. Would you be willing to create a PR to address this issue? We'd be happy to include it in a release in the near future.

[2021-08-31 18:24] chrisbonifacio commented on #8822
Hello @zaithel 👋 We'll need more information in order to reproduce this error. Could you share the contents of your `package.json` as well as the full code snippet around your use of `DataStore.save` such as imports and where/how it's being called?

[2021-08-31 18:28] chrisbonifacio commented on #8819
Hey @marco910 :wave: Thanks for raising this issue.

Can you change your import of Amplify to this and restart your dev server? Let me know if that makes a difference.

[code]

[2021-08-31 19:08] zaithel commented on #8822
Hello,
Thanks a lot

This is the package.json

{
  "name": "matchDogApp",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "android": "react-native run-android",
    "ios": "react-native run-ios",
    "start": "react-native start",
    "test": "jest",
    "lint": "eslint ."
  },
  "dependencies": {
    "@aws-amplify/analytics": "1.2.16",
    "@aws-amplify/core": "2.2.5-rn-datastore.6",

[2021-08-31 19:24] TheDutchCoder commented on #8803
@chrisbonifacio Okay that seems to work now indeed, that's good!

[2021-08-31 19:24] #8803 closed

[2021-08-31 19:33] paulinhapenedo commented on #8421
I have the same warnings on a project I'm working on:

Calling `import { Auth } from '@aws-amplify/auth'` instead of `import { Auth } from 'aws-amplify'` has helped a lot. I use to get 4 warnings, but now I only have one.

**AWS Dependencies**
**@aws-amplify/ui-components:** 1.0.2
**amazon-cognito-identity-js:** 5.1.0
**aws-amplify:** 4.2.5,
**aws-amplify-react-native:** 4.3.1

Would be happy to p

[2021-08-31 22:30] kevin-chen opened #8831 "auth: picked email address as sign in, but defaults to username"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-01 08:24] mameli opened #8833 "Amplify deploy in a different S3 region"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-01 08:56] marco910 commented on #8819
Thank you, @chrisbonifacio ! Now it works

[2021-09-01 08:56] #8819 closed

[2021-09-01 11:17] MedNabilEssefaihi commented on #8537
Dear @chrisbonifacio.
Yes, I still have the same issue even after update.

[2021-09-01 11:17] mynameisguy opened #8834 "Datastore does not sync entities with a list"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-01 13:11] davestrator commented on #6238
@sammartinez Could you please explain why this issue has been closed? The AWS documentation you referenced does not provide any information on how to resolve this issue and indeed it still exists. If you have set up your user pool attributes as follows:

![howToSignIn](https://user-images.githubusercontent.com/87594793/131674369-36da1460-97cf-4c80-a474-7a1a84652430.png)

And you configure your sec

[2021-09-01 13:14] sahandmbm commented on #8769
Hi, I have done this, as I mentioned before I am not using the 'withAuthenticator' instead I am using my own workflow to sign in the user, the code for that is the following:

`const user = await Auth.signIn(email.toLocaleLowerCase(), password);
`

I have checked my config file and everything seems to be normal

I am not getting the ID still

[2021-09-01 13:49] chrisbonifacio commented on #8831
Hello @kevin-chen 👋 Thank you for raising this issue. This seems more related to the CLI than the JS library, so I will transfer it over to that repo.

[2021-09-01 14:08] chrisbonifacio commented on #8833
Hello @mameli 👋 This issue is more related to the console/hosting part of Amplify than the JS libraries so I will transfer it over to the console repo. That team should be able to assist you with this issue better. Thanks!

[2021-09-01 14:40] evcodes commented on #8637
Please reopen this issue if my comment does not unblock you.

[2021-09-01 14:40] #8637 closed

[2021-09-01 15:30] chrisbonifacio commented on #8834
Hi @mynameisguy :wave: Can you provide the code for how your python server is performing the graphql mutation?

[2021-09-01 16:11] chrisbonifacio commented on #8822
@zaithel Thank you! Could you please post your schema as well so that I can reproduce the API?

[2021-09-01 16:47] chrisbonifacio commented on #8783
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-09-01 16:47] #8783 closed

[2021-09-01 17:08] zaithel commented on #8822
Hello,

Sure, thanks a lot

![image](https://user-images.githubusercontent.com/73706460/131713843-93eb4105-a672-4fa3-b5cf-19f80e05feb9.png)

If anything else is needed, please let me know

[2021-09-01 17:57] chrisbonifacio commented on #8755
Hi @rexwreyes 👋 you may want to clean up the subscription in your useEffect by returning the call for `subscription.unsubscribe()` like this

[code]

[2021-09-01 18:30] chrisbonifacio commented on #8755
@rexwreyes It just occurred to me that running a graphql mutation from a subscription is probably not a good idea because other clients (users) could be subscribed to `createEvent` mutations and they will all create a quote with the same data.

If you want to guarantee that only one `Quote` record is created as a result of a `Event` record being created, you should probably handle that order of ev

[2021-09-01 18:44] chrisbonifacio commented on #8755
@rexwreyes Ah, I understand! And absolutely, you can save the result of the GraphQL mutation to a variable within `addEvent` and pass the returned `Event` data to the `addQuote` function like so.

example:

[code]

[2021-09-01 19:40] mojodna opened #8835 "Geo: pricing plan questions contain bad assumptions"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-01 19:57] mojodna opened #8836 "Geo: AmazonLocationServices is the wrong name"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-01 20:36] Amplifiyer commented on #8835
Thanks @mojodna for reporting this. Does the following rewording capture it right?
[code]

[2021-09-01 20:53] jamesaucode commented on #4468
This feature should now be enabled through #8750

[2021-09-01 21:59] v1pz3n commented on #8385
Having the same issue - "aws-amplify": "^4.2.5"

any update?

[2021-09-01 22:27] mojodna opened #8837 "Geo: Data provider name is "HERE", not "Here""
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-01 23:21] thaddmt commented on #8689
Think we addressed all of the concerns here, going to close for now but feel free to re-open if you see any other issues!

[2021-09-01 23:21] #8689 closed

[2021-09-02 04:36] suhasdeshpande commented on #2702
@pawelphilipczyk could you elaborate the nextjs part?

[2021-09-02 06:59] nhgupta12345 opened #8838 "AWS Amplify Version Upgrade - SignIn & SignOut does not work"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-02 08:34] minchch opened #8839 "why always occured error "Missing Credentials" when I use AssosicateSoftwareToken"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-02 08:59] mynameisguy commented on #8834
hi @chrisbonifacio 👋

In order to debug I ran mutation directly on the appsync console:
[code]
booleanData is the opposite of the current state, _version is equal to the current state version

My app is subscribing to changes in the model, as I do for changes that happen in-app.
According to this: https://docs.amplify.aws/lib/datastore/how-it-works/q/platform/ios/#writing-data-from-the-appsync-con

[2021-09-02 11:36] evcodes commented on #8769
If you noticed in the repo I linked, I did not use withAuthenticator, please try again.

Is that sign in call giving you back a valid user? You have to bring in your own cognito user pool to allow a user to login with email - by default, the Amplify CLI only allows users to sign in with username/password combination.

[2021-09-02 13:41] casperibo commented on #8792
Hi @iartemiev can you take a look this situation when you available? I'm still in same situation.

[2021-09-02 14:25] chrisbonifacio commented on #8838
Hi @nhgupta12345 👋 Thanks for raising this issue. Are there any errors being logged in the console? You've jumped several major versions so there are some breaking changes you'll have to account for. These are mentioned in the [README](https://github.com/aws-amplify/amplify-js#amplify-4xx-has-breaking-changes-for-react-native-please-see-the-breaking-changes-below). You can also copy/paste the code

[2021-09-02 15:01] chrisbonifacio commented on #8834
the documentation says

You had a `xId` field that was required in that model, shouldn't that be included in the mutation? Also, are you sure you're using the current version of the record?

[2021-09-02 15:14] mynameisguy commented on #8834
You are right, I missed that.
Thanks.

[2021-09-02 15:43] jcondina commented on #8464
Same issue here, just installed the aws-amplify npm package on a new project and the warning showed up

[2021-09-02 16:47] evcodes commented on #8838
Hello, I was not able to reproduce these errors but I did put together my findings in [this repo](https://github.com/evcodes/social_sign_on). You can run through the different commits and see that regardless of what Amplify version I was on, Social Sign on still worked.

I would have to see how you're configuring things because there's probably an error somewhere with how you're setting up Authent

[2021-09-02 18:50] #4468 closed

[2021-09-02 19:10] philohelp commented on #8435
Another argument in favor of OP's solution is the size of the node-modules - representing a 100-150 extra MBs. I use Amplify for Auth, Api and Storage but Vercel for hosting and I quickly hit their 500MB limit.

[2021-09-02 19:47] AdonousTech opened #8840 "Storage Signature Mismatch on PUT"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).

*** This is the same issue as described here, except I am using Angular instead of React https://github.com/aws-amplify/amplify-js/issues/8783 ***

- [X] I have read the

[2021-09-02 20:49] chrisbonifacio commented on #8840
Hi @AdonousTech 👋 Thanks for raising this issue. What version are you upgrading from and how are you importing and using the Storage module?

[2021-09-02 21:16] AdonousTech commented on #8840
@chrisbonifacio - thanks for getting back on this. I am upgrading from `"aws-amplify": "^1.3.3"` I am upgrading as part of a larger upgrade from Angular v9 => 12. Consequently, I need to use the latest versions with the bifurcated packages (e.g. core, auth, storage, etc.).

- Weird, its only happening when I attempt to add a folder/directory in S3 per the code snippet above.
- I can successfully u

[2021-09-02 21:57] andreasanta commented on #8649
This is fixed for me in 4.2.6 :)

[2021-09-02 22:00] iartemiev commented on #8649
Thanks for pointing that out, @andreasanta! It's indeed fixed in the latest release of Amplify. I'm going to close this issue but if anyone is still experiencing this error after upgrading, please comment and we can re-open.

[2021-09-02 22:00] #8649 closed

[2021-09-02 22:08] iartemiev commented on #8405
@sacrampton, @jeremy-white, @mjaydeep01 - this feature has been officially released as part of `aws-amplify@4.2.6`! The documentation change will follow shortly, but in the meantime, here's how you can enable it in your app:

(Note: this new storage adapter is only compatible with React Native CLI-generated apps. Expo support will be added in the future)

Install:
[code]

Enable in your app:
[code

[2021-09-02 22:08] #8405 closed

[2021-09-02 22:13] iartemiev commented on #5767
We just released some changes to the way AWSJSON values are handled in `aws-amplify@4.2.6`.
You should now receive a JS object from `DataStore.query` and can pass objects as a value to your model when calling `DataStore.save`. Closing this issue, but please let us know if the new version doesn't work the way you expect.

[2021-09-02 22:13] #5767 closed

[2021-09-02 22:23] sacrampton commented on #8405
Hi @iartemiev - thank you for going above and beyond to make this happen

[2021-09-03 08:56] nhgupta12345 commented on #8838
I tried running your repo code and while adding my aws-exports.js and clicking on Login I am facing below issue:
![image](https://user-images.githubusercontent.com/56863357/131978997-2719e432-d42c-41ec-b219-3f953e008609.png)

[2021-09-03 09:08] nhgupta12345 commented on #8838
There are no errors in the console. The cognito calls are not happening after version upgrade and sign in is not working.

[2021-09-03 11:26] DrWorkhard commented on #4580
Why is this stale? I experience the same issue and don't find any solution provided here.

[2021-09-03 14:41] MattWlodarski commented on #4890
Can this be reopened? I'm having the same issue in which the user gets sent two verification emails instead of one.

[2021-09-03 15:38] chrisbonifacio commented on #8840
@AdonousTech After speaking with the team, this isn't technically possible or how S3 works. S3 stores files as Objects with the "path" to the file as a key to access them. It may seem like there are folders in the S3 console but that's just how it visually organizes the files.

Here's a link to the [documentation](https://docs.aws.amazon.com/AmazonS3/latest/userguide/object-keys.html) for more inf

[2021-09-03 16:56] chrisbonifacio commented on #8838
@nhgupta12345 Did you pull your amplify environment into @evcodes 's project? I was able to use it and sign in with google.

Not signed in
<img width="1497" alt="Screen Shot 2021-09-03 at 12 52 30 PM" src="https://user-images.githubusercontent.com/16952986/132041172-add1ff0d-f0d8-4491-b431-7bcf77c9ce96.png">

Signed in
<img width="1497" alt="Screen Shot 2021-09-03 at 12 52 47 PM" src="https://user

[2021-09-03 16:59] chrisbonifacio commented on #8169
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-09-03 16:59] #8169 closed

[2021-09-03 17:04] chrisbonifacio commented on #7461
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-09-03 17:04] #7461 closed

[2021-09-03 17:15] chrisbonifacio commented on #7982
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-09-03 17:15] #7982 closed

[2021-09-03 17:43] AdonousTech commented on #8840
@chrisbonifacio Yes, I read that as well. Somehow I was able to get a hack working prior to the amplify update. I've been doing this in production for a couple of years, with no issues.

Good to know this is not a systemic issue and related only to creating empty "directories". Although, it would be helpful to have a more accurate error message.

I will look into the suggestions above. Thanks for

[2021-09-03 17:43] #8840 closed

[2021-09-03 18:06] armenr commented on #5963
+1 to needing this addressed, and re-opened/resolved.

[2021-09-03 18:10] mojodna commented on #8835
Yep, that looks great, thanks!

[2021-09-03 18:17] mojodna opened #8842 "Geo: include `aws:Referer` `Condition` in generated IAM policy"
### Is this related to a new or existing framework?

Web Components

### Is this related to a new or existing API?

New API

### Is this related to another service?

Geo

### Describe the feature you'd like to request

Including an [`aws:Referer` `Condition`](https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-referer) in the generated IAM policy

[2021-09-03 18:53] AndyW22 commented on #8169
Can confirm that adding bypassCache to Auth.currentAuthenticatedUser fixed the issue, thanks!

[2021-09-03 19:12] chrisbonifacio commented on #7983
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-09-03 19:12] #7983 closed

[2021-09-03 22:23] magrinj commented on #7373
I'm trying to get a similar behaviour with the native library for Facebook, Google and Apple and using `federatedSignIn` with legacy provider like so:

Facebook example:
[code]

  But for now it's not really working for me, on Facebook I got an error saying `Token is not from a supported provider of this identity pool` even with everything setup properly...
  On google it seams to work, but `feder

[2021-09-04 01:22] david-saeger opened #8843 "acces_token scopes do not come through when using react component Auth components with Cognito"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-04 01:57] johnsonfamily1234 commented on #3524
Hey all - I have this up and working in us-east-1 and it works fine. Now trying to implement in ap-southeast-2 with a very similar configuration I'm getting a "AWSCloudWatch - error getting log group - Error: Region is missing" error. I've tried everything I can think of but nothing seems to work. Anyone have any hypotheses I might explore? Thanks!

[2021-09-04 08:30] nubpro commented on #5963
@efesurekli @armenr Feel free to open a new issue with the problems you are facing.

[2021-09-04 16:14] hoan-pham-duy commented on #8667
yes, if you can config it manually, you should modify Cloud Formation Template of Lambda Functions inside Amplify Project,
Here is an example related to modify Cloud Formation Template:
https://medium.com/@navvabian/how-to-add-an-sqs-queue-to-your-amplify-cli-bootstrapped-project-cb7781c636ed

[2021-09-04 16:28] chrisbonifacio commented on #8174
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-09-04 16:28] #8174 closed

[2021-09-04 19:10] irakli-g opened #8845 "The conditional request failed (Service: DynamoDb, Status Code: 400) when there is no condition at all..."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-05 04:25] jacdx commented on #5899
This is still an issue with latest. My custom `userId`'s are getting overwritten with `region:identityId`, which is quite maddening, causing endpoints to sometimes disappear

[2021-09-05 08:25] irakli-g commented on #8845
I confirm that following steps have helped.

1. Remove User table from graphql schema.
2. Push changes to amplify
3. Add User table back to graphql schema (recommended to change name of table, in my case it was UserProfileTable)
4. Push changes to amplify again

This works just fine now without any issues.

Probably it was a glitch on a first try.

[2021-09-05 08:26] #8845 closed

[2021-09-05 11:59] irakli-g opened #8846 "Filters not working properly when @searchable directive is used in schema"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-05 12:00] irakli-g commented on #8846
Again please note that @searchable directive works fine when I go to "All Posts" and fetch posts based on my chosen filters.

[2021-09-05 13:09] james-braund commented on #8538
Hi @chrisbonifacio ,

Wanted to add some of my own experiences and findings to what @Gab1988 has shared.

I've been using Electron with Datastore in an app we've been working on for the last ~8 months. The warning about "realtime disabled" seemed non-harmful to us during initial online testing, but when we've been testing the app's offline capabilities, we found that it was problematic. There seem

[2021-09-05 20:07] duaneking commented on #987
Auth0 is a cancer that I believe is actively malicious to the success of their own customers by arbitrary raising the price per user for startups to a level that is unsustainable, and  it really sucks that Amazon as a company is now lacking so much customer focus that other, worse solutions are now being considered by its customers in their desperation due to amazons utter failure to keep to its c

[2021-09-05 22:15] torgeadelin commented on #4927
This is still an issue.

[2021-09-05 22:41] jlapier commented on #4927
Based on other suggestions above, I was able to just assign the auth data to type CognitoUserInterface and use it that way, e.g.

[code]

[2021-09-06 08:54] Abror1997 opened #8909 "Store multiple identity providers data in Auth instance"
When I try to use `Auth.federatedSignIn` with multiple providers, Auth instance clears the previous signed-in providers' data and stores only the last signed-in provider data. Is it possible to store previous providers' data among with the last signed-in provider?

[2021-09-06 09:16] halotest opened #8847 "Deleting parent object that BELONGS_TO to a parent @model doesn't remove it from parent."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-06 09:40] Lettly opened #8848 "Error: Component "@sls-next/-component@undefined" was not found on NPM nor could it be resolved locally."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-06 11:53] Ni7iN opened #8851 "Records are not fetching properly in AWS GraphQl"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-06 12:14] andidev commented on #4272
@Ashish-Nanda this is great but unfortunately you need to upgrade aws-appsync as well.
https://github.com/awslabs/aws-mobile-appsync-sdk-js/issues/654

aws-appsync uses `@react-native-community/async-storage` while it should use `react-native-async-storage/async-storage`. For some reason they changed the package name.

I have been waiting 2 years on updating our react native app because of the bre

[2021-09-06 12:32] elcreator opened #8852 "axios should be updated"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-06 14:01] ManoVikram commented on #6212
Is there any solution or work-around for this issue?

[2021-09-06 14:12] casperibo commented on #8792
@chrisbonifacio Hi, i saw your message in a aws-amplify issue page(link below), the problem still didn't fixed.

Should i use **API** in NextJS API routes or is there a way to use  **DataStore** for authenticated requests?

https://github.com/aws-amplify/amplify-js/issues/8454#issuecomment-862827238

[2021-09-06 15:07] ziw commented on #4927
Still seeing this issue in the latest `"aws-amplify": "^4.2.6"`. It's really frustrating. Can amplify team take a look? How can TypeScript definition not matching the public API and the response object?

[2021-09-06 15:47] situplastik commented on #7358
That solution doesn't work for me... I have a NextJs with a custom 404 error page (`pages/404.js`), some root pages and dinamic subfoder urls. For non-exist URL subpages created dynamically (with fallback = false) works like a charm, but not for non-exist pages from root folder (I guess that fallback force to use custom 404 page)

I tested @bobbyhadz solution **Type to 404 (Rewrite)**, but the bro

[2021-09-06 21:50] tnraddatz commented on #5298
For reference, the current props you can pass are:

[code]

[2021-09-06 22:15] richardhector commented on #3435
Can anyone on this thread confirm that "Amazon Cognito now supports token revocation and Amplify (from version 4.1.0) will revoke Amazon Cognito tokens if the application is online." as per [here](https://docs.amplify.aws/lib/auth/emailpassword/q/platform/js/#sign-out) actually works? After upgrading amplify/auth to

there is no invalidation.

Also:

Yes this would be extremely helpful from a secu

[2021-09-06 22:17] ramburg commented on #3435
Can anyone on this thread confirm that "Amazon Cognito now supports token revocation and Amplify (from version 4.1.0) will revoke Amazon Cognito tokens if the application is online." as per [here](https://docs.amplify.aws/lib/auth/emailpassword/q/platform/js/#sign-out) actually works? After upgrading amplify/auth to

there is no invalidation.

Also:

Yes this would be extremely helpful from a secu

[2021-09-06 22:36] ramburg commented on #3435
Can anyone on this thread confirm that "Amazon Cognito now supports token revocation and Amplify (from version 4.1.0) will revoke Amazon Cognito tokens if the application is online." as per [here](https://docs.amplify.aws/lib/auth/emailpassword/q/platform/js/#sign-out) actually works? After upgrading amplify/auth to

there is no invalidation.

Also:

Yes this would be extremely helpful from a secu

[2021-09-07 07:16] lambda0xff opened #8853 "AppSync subscriptions do not work with a custom setup using existing resources"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-07 07:20] lambda0xff commented on #8853
Schema:
[code]

generated ts mutations file:
[code]

[2021-09-07 07:32] nithin-viswanathan opened #8854 "Bulk Insert in Amplify Datastore"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-07 12:34] rakeshkumar331 opened #8855 "Storage.put() throwing - AWSS3Provider - error uploading TypeError: Cannot read property 'byteLength' of undefined"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-07 12:50] sahandmbm commented on #8769
Yes I am getting valid users after sign in call, I also get back all the information from the users Cognito

I am not sure were do I need to check for the problem

[2021-09-07 16:10] chrisbonifacio commented on #8843
Hi @david-saeger 👋 Thanks for raising this issue. What are the scopes included in the access token from the Cognito Hosted UI? Do they match the scopes in your auth configuration?

[2021-09-07 17:03] evcodes commented on #8852
Thanks for opening this issue, I am working on merging in the latest axios version. Will close when updated

[2021-09-07 17:36] chrisbonifacio commented on #8847
linking this as I believe it may be related https://github.com/aws-amplify/amplify-js/issues/8068

[2021-09-07 17:37] chrisbonifacio commented on #8848
Hi @Lettly 👋 thanks for raising this issue! This sounds like it may be more related to hosting so I will transfer to the console repo for the right eyes can take a look at it. Hope that helps!

[2021-09-07 17:49] chrisbonifacio commented on #8853
Hi @lambda0xff 👋 Thanks for raising this. To use a subscription, you need to call the `subscribe` method after `API.graphql(<yourSubscription>)` because it returns an Observable rather than a Promise.

So your code would be:

[code]

Here's some [documentation](https://docs.amplify.aws/lib/graphqlapi/subscribe-data/q/platform/js/) with examples

Let me know if that helps!

[2021-09-07 17:52] evcodes commented on #8852
releasing a new version of Amplify with Axios patched today

[2021-09-07 17:52] #8852 closed

[2021-09-07 18:36] chrisbonifacio commented on #8854
Hi @nithin-viswanathan 👋 Thanks for raising this issue. I don't think DataStore supports bulk insertions/mutations at the moment. At least, the documentation doesn't seem to mention it.

https://docs.amplify.aws/lib/datastore/data-access/q/platform/js/#create-and-update

[2021-09-07 20:06] chrisbonifacio commented on #8851
Hey @Ni7iN :wave: Thanks for raising this issue. From what I can find, there seems to be a 1000 record fetch limit for AppSync queries. Here is the relevant [documentation](https://docs.aws.amazon.com/general/latest/gr/appsync.html)

Iterations in a foreach loop in mapping templates | The maximum number of iterations in a #foreach...#end loop in mapping templates | 1000
-- | -- | --

The workaroun

[2021-09-07 20:21] lambda0xff commented on #8853
Hi @chrisbonifacio , that doesnt work for me.  I may be mistaken but I think your snippet only looks like it's working because not actual subscription takes place (for instance, the console logs inside the subscribe block do not output anything).

The moment the observable is subscribed, I have an error.  Also, like in my snippet there's an error when trying to cast the result of `API.graphql(...)

[2021-09-07 21:37] lambda0xff commented on #8853
@chrisbonifacio : while putting together a repro application, realised it's definitely an issue on my side.  Sorry for the trouble.

[2021-09-07 21:37] #8853 closed

[2021-09-07 23:16] antoniofranciscoandrade opened #8863 "AWSPinpointProvider updateEndpoint failed"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-08 00:39] mckelveygreg commented on #8604
Also having this issue of whenever I call anything from `Auth`, I get a [RangeError: Maximum call stack size exceeded]`...
I've whittled down my own app to just include a call to Auth. Is there a way I can verify that Auth is being initiated correctly?

[2021-09-08 00:47] hkjpotato commented on #8863
Hi @antoniofranciscoandrade can you help check if you have enable unauth user (guest user) for cognito? https://github.com/aws-amplify/amplify-js/issues/7768#issuecomment-889895358 based on this reply it could be a potential reason.

Another potential fix is to turn off the devTool https://stackoverflow.com/a/67627835/6860947

[2021-09-08 05:28] maxventer00 opened #8865 "AmplifyConfirmSignup state issue with dialCode variable"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-08 05:46] #8865 closed

[2021-09-08 07:04] nithin-viswanathan commented on #8854
Thanks for the feedback @chrisbonifacio

Right now we are able to insert the data in datastore by looping( more than 1000 records ). But data synchronization to dynamodb is not working properly, some of the data rows are missing.( we have found that around 350 records are mismatching by comparing indexeddb and dynamodb.

Please advise.

[2021-09-08 10:58] gabipfeffer commented on #1226
Any updates on this? Having the same issues as @donal-s

[2021-09-08 12:33] nhgupta12345 commented on #8838
Hi, Please find the code snippet that we are using in our Application.js as below:

import React, { Component, createContext } from "react";
import { connect } from "react-redux";
import Amplify, { Auth, Hub } from "aws-amplify";
import PropTypes from "prop-types";

import Router from "./Router";
import OAuthButton from "./modules/user/components/OAuthButton";
import { loadUser } from "./modules/u

[2021-09-08 14:07] Ni7iN commented on #8854
Hi @chrisbonifacio @nithin-viswanathan  ,
I have the same issue as well. Can you suggest a better way to iterate and insert rather than bulkinsert

[2021-09-08 15:15] hkjpotato commented on #8843
1. When you directly use federated props on `AmplifyAuthenticator`, the orange "Signin with Amazon" button should direct you to the amazon signin page directly, and you are essentially doing an identity pool federation.
2. I would suggest you stick with Hosted/OAuth flow if you need user pool federation. Only the hostedUI/OAuth flows support getting requested scopes in tokens.
3. You can try the s

[2021-09-08 15:56] hkjpotato commented on #8843
potentially duplicate with https://github.com/aws-amplify/amplify-ui/issues/237

[2021-09-08 17:49] my-name-is-nheo opened #8867 "upgrading aws-amplify stops all aws services on phone"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-08 17:50] sherl0cks commented on #8810
@jamesaucode this is a really scary bug for me. What can I do to help move forward triage? Do you need a full reproducer?

[2021-09-08 18:40] PeteDuncanson opened #8868 "DataStore: seems the DataStore is doing a full resync every time I reload browser"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-09-08 18:43] marklacroix commented on #6330
I encountered this issue while using `create-react-app` and importing from `@aws-amplify/ui-components`. The root cause seems to be that webpack 4 uses obsolete package resolution rules inside `.mjs` files (see https://github.com/webpack/webpack/issues/9329).

This causes dependencies inside `@aws-amplify/ui-components` to resolve to the CommonJS versions, while elsewhere those dependencies are re

[2021-09-08 19:48] antoniofranciscoandrade commented on #8863
@hkjpotato Adding unauthenticated users on cognito solved it for me, thanks! Wonder why it only started happening recently for me though, after having used amplify/cognito for a while with no issues.

Issue is solved, in any case 🙏🏻.

[2021-09-08 20:58] david-mcafee commented on #7103
[The PR](https://github.com/aws-amplify/amplify-js/pull/7256) for this has been merged, closing this ticket. Thanks again, @zacharyrogers1!

[2021-09-08 20:58] #7103 closed

[2021-09-08 21:08] fanismahmalat commented on #7358
If anyone is asking, I found a solution that works for me. Basically you need to remove the rule for redirecting to 404 completely in Rewrites and redirects. Next.js will handle the 'not found' itself.

[2021-09-09 00:23] Samaritan1011001 commented on #8808
Hi beqramo 👋 . Thank you for the clear and detailed issue. I could reproduce it. I'll address it below.

- _The notification banner does not show up when the app is in foreground_ -- This is the intended default behavior for how notifications are delivered by FCM on Android devices. Take a look at the workflow section [here](https://firebase.googleblog.com/2018/09/handle-fcm-messages-on-android.ht

[2021-09-09 03:18] markl-vesper opened #8869 "react native run-android error"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-09 03:24] markl-vesper commented on #8869
also attempted to npx jetifier after installation. Still fails

[2021-09-09 03:26] markl-vesper commented on #8023
@lucafronterotta I also tried jetify but no luck so far

[2021-09-09 12:20] evcodes commented on #8838
I think you may have a bug because there's no port on your `localhost` endpoint, it should be something like localhost:3000/callback

[2021-09-09 12:55] Mavennix commented on #8869
`FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:checkDebugDuplicateClasses'.

     Go to the documentation to learn how to <a href="d.android.com/r/tools/classpath-sync-errors">Fix dependency resolution errors</a>.`

[2021-09-09 14:02] chrisbonifacio commented on #8846
Hi @irakli-g It seems this may be a CLI issue and related to this [issue](https://github.com/aws-amplify/amplify-cli/issues/5833) that's open on that repo about the generated VTL templates when using searchable. I will transfer this over for you so the right eyes are on it. Thanks!

[2021-09-09 14:21] #8863 closed

[2021-09-09 14:27] sahandmbm commented on #8769
I have checked my code with your code, they are identical, also the config is correct, I'm not sure where this problem is coming from

[2021-09-09 16:07] Mavennix commented on #8389
Issue still persisit
`apply plugin: "com.android.application"
apply from: '../../node_modules/react-native-unimodules/gradle.groovy'
import com.android.build.OutputFile

/**
 * The react.gradle file registers a task `for` each build variant (e.g. bundleDebugJsAndAssets
 * and bundleReleaseJsAndAssets).
 * These basically call `react-native bundle` with the correct arguments during the Android buil

[2021-09-09 16:19] thomasyim02 opened #8870 "Unhandled Promise Rejection on OAuth for Auth0OAuthOpts"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-09 17:47] chrisbonifacio commented on #8854
@Ni7iN I don't think there's currently a better way to iterate and insert multiple records beside an async function with a for loop that waits for each save to finish before the next. It depends on how you want to handle your promises and when/how to reject.

For example, if you want to handle each promise at a time:

[code]

rejects immediately upon any of the input promises rejecting, and will r

[2021-09-09 17:50] chrisbonifacio commented on #8854
I'm going to close this issue btw, as it is not a bug and instead the currently expected behavior.

[2021-09-09 17:50] #8854 closed

[2021-09-09 17:58] chrisbonifacio commented on #8867
Hi @my-name-is-nheo 👋 Thanks for raising this issue. Did you upgrade from v3 packages to v4? If so, I would recommend following the steps mentioned on this [page](https://docs.amplify.aws/lib/troubleshooting/upgrading/q/platform/js/) to check for duplicate packages. Also, from looking at your dependencies I would not recommend using both scoped packages (such as @aws-amplify/analytics as well as t

[2021-09-09 18:27] my-name-is-nheo commented on #8867
@chrisbonifacio thanks for the response. Yes I've tried updated everything to v4, but then nothing works after I tried reconfiguring amplify.

i'm currently not using both scoped packages; they are all unused dependencies I will have to clean up later. Only categories in use of @aws-amplify are AWSIoTProvider and push notifications.

[2021-09-09 18:28] tyler-morales commented on #3640
@nielsboecker When I try to use the useAuth() in a component and call current.username for example, after a page refresh, I get an error of `TypeError: currentUser is null`. I know I am signed in because I just signed in and in the local storage tab, my user's information is there. Do you have an idea why this error is occurring?

[2021-09-09 18:28] chrisbonifacio commented on #8870
Hi @thomasyim02 👋  thanks for raising this issue! May I ask what documentation you might've been following to set up your custom Auth0 flow so that I can reproduce the issue more closely? I can't seem to find any examples that include a `customProvider` property in the options for `Auth.federatedSignIn()`

[2021-09-09 18:36] my-name-is-nheo opened #8871 "Pub Sub is returning old + new data"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-09 18:39] chrisbonifacio commented on #8867
Did you visit the troubleshooting page I linked for upgrading amplify packages? If not, please do and paste the output of the commands it instructs you to run here if there are any duplicates.

[code]

[code]

[2021-09-09 18:46] chrisbonifacio commented on #8838
@nhgupta12345 yeah, it seems like the issue might be stemming from here for you

[code]

[2021-09-09 18:50] my-name-is-nheo commented on #8867
`@aws-amplify/auth
@aws-amplify/cache
@aws-amplify/core
@aws-amplify/interactions
@aws-amplify/storage
@aws-amplify/xr`

this is the output. seems like there are quite a few. Before I run `npx npm-check-updates -i '/@?aws-amplify/' && npm update`, do you mind explaining what this duplicity has to do with the issue? I'm just confused.

[2021-09-09 19:15] kyleownsaterrier opened #8873 "zen-observable-ts broken import"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-09-09 20:01] ericclemmons commented on #7570
@voigtito Can you share your `package.json` for your Next.js project that had issues with deployment?

@evcodes & I are working on reproducing to get this resolved 🙏

[2021-09-09 20:03] nielsboecker commented on #3640
@bronislav Not sure whether I understand your point. In my code snippet, I have already provided the empty array `[]` as dependency for the `useEffect` call?

@tyler-morales Hmm, I have an intuition. Are you using this in TypeScript or JavaScript? Note how the type of `currentUser` is `CognitoUser | null>`. That's because, for a brief moment, the variable will be `null`. Even if you refresh the pa

[2021-09-09 20:03] sammartinez commented on #7570
Reopening this issue as we are diving deeper on it

[2021-09-09 20:13] tyler-morales commented on #3640
I am using JavaScript. When I edited your code, this is what I got:
[code]

In my Dashboard component:
[code]

Should the check for the null value occur in the useAuth hook or in each component?

[2021-09-09 20:23] nielsboecker commented on #3640
I see, thanks for providing the code :). So yeah you would want to perform the null check in your components that consume the hook. Because the `currentUser` returned will be either the user object, or `null`.

[code]

[2021-09-09 21:16] voigtito commented on #7570
Here it is :D
[code]

[2021-09-10 09:48] situplastik commented on #7358
Totally agree @fanismahmalat , leaving just the first one Nextjs catch all non-existing URLs, but the root non-existing URLs (as `https://domain.com/blablabla`) show the default 404 page (not the custom 404 error page that I have created).

Have you got a custom 404 page and works as expected if you load a non-existent root URL?

[2021-09-10 11:32] situplastik commented on #7358
Ok, I found by myself a solution, but it looks like NextJs have some bug.... on Amplify Rewrites, I just left the first Rewrite as @fanismahmalat said.

Just if anyone have the same issue:

## NextJs app features

- Custom 404 page `pages/404.js` but not an _error custom page `pages/_error` (it wasn't logical to create it because all the possible errors in Amplify SSR service would be 404; 500 err

[2021-09-10 12:24] nhgupta12345 commented on #8838
With previous versions, the URL "localhost" and google login works fine. I tried adding the port no to the localhost:3001 and still fails on amplify version upgrade.

[2021-09-10 15:08] chrisbonifacio commented on #8867
From the troubleshooting page

I believe having different versions of the core package especially would result in multiple instances of Amplify and it's hard to tell which you're using at that point and which is configured properly. The Amplify class was designed to be a [Singleton](https://en.wikipedia.org/wiki/Singleton_pattern) so there should only be one instance.

[2021-09-10 15:16] chrisbonifacio commented on #8838
you may want to make sure there's a trailing slash at the end and that it's prefixed with `http://`

<img width="1075" alt="Screen Shot 2021-09-10 at 11 15 23 AM" src="https://user-images.githubusercontent.com/16952986/132876730-e4714e2b-8e63-40d0-b5d5-4075a9b0156d.png">

[2021-09-10 15:29] my-name-is-nheo commented on #8867
@chrisbonifacio thank you very much for the response. I will run the command and let you know soon.

[2021-09-10 15:57] mariotsi commented on #6896
@sammartinez this feature was present and has been deleted without any explanation via #7245 and is trying to be restored via this other PR #7733.

Can you please have a look to what happened? This is stopping us to upgrade Amplify

[2021-09-10 16:32] sproutworks opened #8874 "aws-amplify-react uses outdated peer dependencies"
### Is this related to a new or existing framework?

React

### Is this related to a new or existing API?

Authentication, Analytics, DataStore, Storage

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

This is not really a new feature, but all but one of the peer dependencies for @aws-amplify packages do not include the latest major versions.

[2021-09-10 17:19] chrisbonifacio commented on #8823
Hi @geeshans 👋 thanks for opening this issue! Sorry for the delayed response. I've been having trouble creating a developer account at FB, for some reason I'm not receiving the sms verification code they send. But, I may still be able to help. Can you check if the attributes from facebook are mapped to the user pool attributes similar to the settings below?

<img width="1119" alt="Screen Shot 2021

[2021-09-10 17:24] #8739 closed

[2021-09-10 17:26] chrisbonifacio commented on #8727
@seunghwako sorry for the delayed response. your code seems fine to me! are you still experiencing issues in that environment?

[2021-09-10 17:32] chrisbonifacio commented on #8747
@jagonzalr sorry for the delayed response. Were you able to make the changes you needed?

[2021-09-10 17:40] chrisbonifacio commented on #8769
[code]

[2021-09-10 17:41] ashika01 commented on #8727
@seunghwako just for clarification, so everything works for u in dev env but not in prod because of difference in redirectURL?

[2021-09-10 17:53] chrisbonifacio commented on #8537
@MedNabilEssefaihi hmm, okay I may need to try reproduce the issue. The easiest way may be to use your dev environment if you're okay with that. Otherwise, you could either add the info request in our [bug report form](https://github.com/aws-amplify/amplify-js/issues/new?assignees=&labels=&template=1.bug_report.yaml) here or create a new issue with it and make sure it's filled out with any relevan

[2021-09-10 18:01] chrisbonifacio commented on #8822
@zaithel In the code you provided, where do these variables come from before being checked?

[code]

[2021-09-10 18:13] grodriguez85 commented on #987
It's disappointing this issue is still unresolved; nonetheless, I'm more intrigued about how is the recommended way on Cognito to prevent an unauthorized change in email while AFK? The email verification restriction before signing in again after an email change is great, but why Cognito doesn't enforce giving the current user's password to allow the change in the first place?

[2021-09-10 18:26] vmittal89 commented on #6467
Hi I am getting the same error "Invalid State" on oauth2 URL in facebook.developers.com. I checked all the settings mentioned in the link - https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-configuring-federation-with-social-idp.html but still getting this invalid state error while accessing URL - https://test.domain.com/oauth2/idpresponse. I was just wondering if anyone

[2021-09-10 20:16] chrisbonifacio commented on #8755
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-09-10 20:16] #8755 closed

[2021-09-10 21:42] #8867 closed

[2021-09-10 22:25] hkjpotato commented on #8870
Hi @thomasyim02 Can you help me understand your use case a little more? Do you want to mainly use Auth0 to hold your users base, and hook it up with AWS service? In that case, you can follow the link from @christophgysin to setup Auth0 in your IAM as an OpenID Connect Provider first, then get AWS credentials by
[code]

[2021-09-11 00:42] philipjames44 commented on #8147
Bump.

[2021-09-11 01:16] thomasyim02 commented on #8870
@chrisbonifacio @hkjpotato I was looking to use Cognito UserPool as the userbase and Auth0 as an OpenID Connect to the User Pool rather than IdentityPool. Just like the provider listed at CognitoHostedUIIdentityProvider that uses FederatedSignInOptions below, but rather I am using customProvider at FederatedSignInOptionsCustom also shown below. Highly appreciated on the help!

Reference: [https://

[2021-09-11 05:34] acusti opened #8878 "Version 4.2.9 of library causing “module build failed” with error “api.assumption is not a function”"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-11 05:42] acusti commented on #8878
i did some more testing with different versions and it seems to actually be a babel issue. i had just upgraded aws-amplify and the error pointed at `node_modules/@aws-amplify/auth/lib-esm/Auth.js`, but looks like that was a coincidence, because when i reverted my babel version and maintained aws-amplify@4.2.9, the project works again. sorry for the noise!

[2021-09-11 05:42] #8878 closed

[2021-09-11 05:45] acusti commented on #8878
seems like it might be the same as https://github.com/aws-amplify/amplify-js/issues/8878

[2021-09-11 16:18] manolaz commented on #1582
Please upadte this,

we now authen multiple Organization fo diddferent project!

[2021-09-12 00:22] GeorgeBellTMH commented on #6896
@sammartinez you keep punting this to pinpoint team...but I think we need a fix in the CLI/JS until the time that pinpoint team fixes this...it's been over a year at this point...

[2021-09-12 00:24] GeorgeBellTMH commented on #6896
There seems to be a few options
- Fix it in pinpoint (not happening)
- Fix it in JS such that if there is an error it is handled automatically
- Fix it in lambda such that we can clean up the error with an automatically generated lambda
- Documentation on how to handle these errors properly (or at least some tips)

[2021-09-12 00:26] GeorgeBellTMH commented on #6896
I would just add that this seems to be impacting more users now, overtime these endpoints stack up...but also we are seeing more endpoints because each OS/browser upgrade seems to create new endpoints...really annoying for developers on beta's...but still it is impacting customers as well...

[2021-09-12 00:36] GeorgeBellTMH commented on #7251
A full year in and we still need-discussion and investigating....when they had something that worked before...better get the pinpoint team to re-design their entire system instead of leaving in the 3 lines of code that fixed this....

[2021-09-12 03:17] eveevans commented on #7547
I dont understand... the documentation says this: `Amplify Hosting supports all the latest Next.js features including incremental static regeneration, automatic image optimization, and script optimization` but still gives me the same error

[2021-09-12 03:18] eveevans commented on #7547
@cmnstmntmn  did you solve this ?

[2021-09-12 09:16] pjgrewal23 commented on #8064
I'm facing the same issue. Any updates?

[2021-09-12 15:19] geeshans commented on #8823
Hi @chrisbonifacio, thanks for looking into this.  These are the attribute mappings for Facebook.
![image](https://user-images.githubusercontent.com/10971667/132993099-82b92a6d-4340-48f5-9556-ee634666eb75.png)

In the screenshot you share the mappings seem to be for Google so my screenshot does not have a "sub" attribute. But not sure if attribute mapping stage is reached at all since I'm checking

[2021-09-12 18:37] prestonholt commented on #7547
My Amplify build (SSR) succeeds with the Image component, but the images fail to load on the live site. It's working in my dev environment

[2021-09-12 19:04] eveevans commented on #7547
In my case, was a permission issue on the AWS role (the default Amplify role didnt work, I had to give it more permissions)
Now my  NextJS 11, on Amplify with a SSG site its working fine.
But the Image behavior its kind of buggy.

[2021-09-12 23:17] csfx commented on #8792
I am having a similar problem with DataStore on Client routes. I think SSR.DataStore.delete and SSR.DataStore.save are not using the correct credentials for my requests either?

I have uploaded a functional example repo that shows error trying to create and delete things through DataStore using Nextjs. The app is able to read and serialize/deserialize the data for the requests. The create and dele

[2021-09-12 23:48] zaithel commented on #8822
Hi @chrisbonifacio

User is defined only in that line.
And the other variables are from this part of the code
return (
        <SafeAreaView style={styles.root}>
           <View style ={styles.container}>

               <TextInput
               style={styles.input}
               placeholder='Nombre de  sumascota'
               value={name}
               onChangeText={setName}>

[2021-09-13 02:15] seunghwako commented on #8727
The only difference in dev's prod is the redirection url.

I manually try to update the correct/expected url of the `aws-export.js` file in each environment, but there were no changes.

[2021-09-13 03:58] johnEthicalTechnology opened #8880 "AccessDeniedException using REST API alongside AppSync"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-13 06:11] KalvinWei commented on #2545
Thank you for this post. Worked for me. Do you know the rationale why we should do this? I am building a React app.

[2021-09-13 08:36] kylekirkby commented on #7251
I ended up creating an elaborate stack to export the endpoints and then remove duplicate onces. The problem, I believe will lie in how the endpoints are being updated in your app. There were a few attributes that I needed to "blank" in order to prevent pinpoint from creating new endpoints constantly. Specifically, the version of the Chrome Web Browser changing often resulted in a new endpoint bein

[2021-09-13 14:23] chrisbonifacio commented on #8873
@kyleownsaterrier Would you happen to have `zen-observable`, any version over 1.0.0, as a dependency separate from Amplify's anywhere in your project?

[2021-09-13 14:55] nithin-viswanathan commented on #8854
@chrisbonifacio  - Can you make this as a feature request. We need bulk insert functionality in our project (12k above records), currently it takes much time to complete.

[2021-09-13 15:40] onlineworld69 opened #8881 "!!! Build failed [ERROR]: !!! Non-Zero Exit Code detected"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-13 17:10] vmittal89 commented on #6467
Hi.. do anyone knows its solution?

[2021-09-13 17:15] kyleownsaterrier commented on #8873
Yes, there appears to be **node_modules/zen-observable-ts/** folder outside of the @aws-amplify folder that is version 1.1.0. I don't believe its needed anywhere in the project as I'm only using amplify datatstore. How do I go about removing it?

[2021-09-13 17:49] BinyominCohen commented on #6238
This is still an issue even after enable "prevent user existence errors".
I still get "An account with the given email already exists" when trying to create new user and email already exists

[2021-09-13 17:56] dannymas-amazon opened #8884 "Cognito auth failure"

[2021-09-13 18:02] s1mrankaur commented on #3435
@ramburg  came here looking for exactly this.

[2021-09-13 18:23] ramburg commented on #3435
Hi @jpignata and @sammartinez, it sounds like you are from AWS. As per my post from before, I upgrade all packages to the latest version, but the individual invalidation of a refresh-token doesn't work; there is no client-side call visible, as compare to "global: true", where you can clearly see the call of invalidation in Network commands.

Can you please confirm:
1. whether this feature has been

[2021-09-13 18:37] ramburg commented on #3435
@sethhitch thanks for highlighting! There should be also a hint about it in the Amplify docs [https://docs.amplify.aws/lib/auth/emailpassword/q/platform/js/#re-send-confirmation-code](url) near "Amazon Cognito now supports token revocation and Amplify (from version 4.1.0) will revoke Amazon Cognito tokens if the application is online." in order to ensure this is clear.

[2021-09-13 18:39] #8884 closed

[2021-09-13 19:19] Shiftrdw opened #8886 "Angular 12 ng compiler issue with TS6200 TS2649 error"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-13 20:17] sethhitch commented on #3435
@s1mrankaur

![Screen Shot 2021-09-13 at 4 17 02 PM](https://user-images.githubusercontent.com/571038/133150558-e5063465-db1e-43f5-a028-610372f4f113.png)
![Screen Shot 2021-09-13 at 4 16 54 PM](https://user-images.githubusercontent.com/571038/133150565-10ad65d4-bdaa-43a7-9c28-4d9c64f3e479.png)

[2021-09-13 20:25] chrisbonifacio commented on #8868
Hey Pete, so I got some feedback from the DataStore team. It seems what you're experiencing is not normal behavior from DataStore.

From the team:

Some follow up questions:

1. Have you changed the `fullSyncInterval` value?
2. Are you using selective sync and if so, is the sync predicate changing in between page reloads?
3. Are the same records coming back in the network request response with eac

[2021-09-13 21:55] kyleownsaterrier commented on #8873
I have removed the entire node_modules folder, then installed zen-observable-ts@1.0.0 but I am still facing the same issue with this line of the aws-amplify generated file: API.d.ts

`import Observable from 'zen-observable-ts';`

Changing this to:
`import { Observable } from 'zen-observable-ts';`

fixes the issue on my local, but I cannot do this on the server.

[2021-09-13 22:37] chrisbonifacio commented on #8823
@geeshans I was able to get the email from the pre-signup trigger like so:

[code]

From Cloudwatch logs

[code]

[2021-09-14 01:08] carolynwang opened #8888 "Subscription returning null in app, works on AppSync console"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-14 05:12] applyinnovations opened #8891 "DataStore fails to use custom errorHandler in some cases"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-14 05:41] dperconti opened #8892 ""Valid authorization header not provided" when using AWS Amplify graphqlOperation & Cognito User Pool, but not in console"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-14 07:13] pepso commented on #8384
I think I experienced the same bug on React web-app right now with: "aws-amplify-react": "^5.0.13"

My scenario:
1. Two tabs open for the same app.
2. On another I used hostedUI signout button to signout, which then cleared the local storage session variables and took me to sinin page.
3. In quick succession, on the other tab, I continued to use the session and call my backend as authenticated use

[2021-09-14 08:08] nithin-viswanathan opened #8893 "Bulk Insert in Amplify Datastore"
### Is this related to a new or existing framework?

React

### Is this related to a new or existing API?

GraphQL API

### Is this related to another service?

DynanmoDB

### Describe the feature you'd like to request

I have bulk data to insert in datastore. Currently i can do this through iterating. But it takes more time, sometimes browser is crashing.

[code]

Please do a feature related to b

[2021-09-14 11:26] geeshans commented on #8823
Hi @chrisbonifacio,

This is the output I get with the same pre-signup trigger.

[code]
Will you be able to share the configurations for your userpool?
`aws cognito-idp describe-user-pool --user-pool-id us-west-2_xxxxxx`

[2021-09-14 11:44] dparrelli opened #8894 "withSSRContext not authenticating user properly in API route"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-14 13:07] Amaya88 opened #8895 "Delete user and register again will make login not work if save devices is set."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-14 13:57] chrisbonifacio commented on #8823
@geeshans Sure, here's my user pool config. You may also want to check for any differences between our OAuth configs.

[code]

aws-exports file

[code]

[2021-09-14 14:47] PeteDuncanson commented on #8868
Hey @chrisbonifacio

Thanks for leading on this. I like the quote from the team, that is how I thought it worked but I couldn't find that info anywhere in the docs. Wonder if I'd just picked it up from Ivan in the Discord or something over time?

I've just being trying to collect some data for your questions and very annoyingly I now can't recreate the issue! On the one hand this is good (woohoo i

[2021-09-14 14:54] chrisbonifacio commented on #8892
Hi @dperconti 👋 Thanks for raising this issue. Can you share your graphQL schema as well so I can see how your auth rules are configured on the model?

[2021-09-14 14:59] PeteDuncanson commented on #8868
Additionally, just went back to my app after posting that and then it did a full sync again (ie it did the thing I reported), not been more than 30 minutes since I booted it up so why would it want to do a full sync?

I can't reliably trigger it with a code change (editing a file), or a data change (adding something via AppSync). Refresh the browser and sometimes it wants to pull down everything a

[2021-09-14 15:11] dperconti commented on #8892
Thanks for the fast reply, @chrisbonifacio. I've updated the original question to include a screenshot of the model that I created in the console, as well as the object `schema.graphql` object for evidence by itself. The whole file is 250+ lines, so I only included the `Evidence` object. If you'd like to see the whole thing let me know and I can certainly add it all.

[2021-09-14 15:27] iartemiev commented on #8891
Hey @applyinnovations, DataStore only invokes the custom error handler when it encounters an AppSync mutation error. That's the current expected behavior. The custom error handler's purpose is to allow you to write business logic for handling various AppSync error scenarios and adjust the locally-persisted records accordingly.

For example:
1. User creates a new record on a model where they don't

[2021-09-14 15:32] applyinnovations commented on #8891
Hey @iartemiev, thanks for the clarification. When performing a mutation with missing fields, DataStore still creates the data locally, however does not throw the custom error handler. Wouldnt this be a prime example of when to use the error handler to remove the locally created data?

[2021-09-14 15:40] iartemiev commented on #8891
Are you seeing a network request error in that case?

[2021-09-14 15:51] hkjpotato commented on #8870
@thomasyim02 in that case, I think you first need to setup auth0 as a known IdP for user pool first https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-oidc-idp.html

[2021-09-14 16:25] chrisbonifacio commented on #8873
I don't think you need to install the package yourself. Amplify has a pre-beta version of 0.8.19 as a dependency, it will be installed for you. So, make sure that `zen-observable-ts` is not a dependency in your `package.json` file and try again.

If that does not work, then I will ask the team if we can update to 1.0.0+, which are the versions that do not have a default export.

[2021-09-14 16:33] thomasyim02 commented on #8870
@hkjpotato yes, I did that. I discovered that if I do a state change at default config (AwsCognitoOAuthOpts) that requires the key "redirectSignin" plus the scope to be an array (which auth0 must return incorrect type):
[code]
to the correct auth0 config (Auth0OAuthOpts) that I wanted to use below:

[code]
the Login UI will show correctly, but if I don't do a state change on the config file, the e

[2021-09-14 17:08] jonathanbravecredit commented on #5565
@karrettgelley I know you opened this a while back, but wondering if you ever found a solution. I am experiencing this exact same issue. Even down to the redirect urls showing ```mydomain.com/#``` and ```mydomain.com/#_=_```. Oddly everything works on local and up until a couple of days ago was working fine on a dev environment.

[2021-09-14 17:19] yugrinkov commented on #8880
I have encountered with the same issue creating REST API through amplify app. Any updates/workarounds?

[2021-09-14 17:49] chrisbonifacio commented on #8807
@wvidana I think you may be passing in the `listener` incorrectly, `Hub.remove` expecting the callback as an argument rather than the Hub listener itself.

try something like this instead

[code]

[2021-09-14 17:59] iartemiev commented on #8868
Hey @PeteDuncanson, there are a couple of other factors at play here that I'd like to point out.

DataStore attempts to perform a delta sync as long as you're inside of the `fullSyncInterval` (24 hours by default). By "attempts to perform", it will include the `lastSync` param in the sync query request.

However, AppSync ultimately decides whether to query the delta or base table using the followi

[2021-09-14 17:59] chrisbonifacio commented on #8605
Hi @Amogh-G-K sorry for the delay. Are you still in need of assistance?

[2021-09-14 19:05] PeteDuncanson commented on #8868
Hey @iartemiev LTNS :)

So, if developing and I make a change and hit refresh I shouldn't see a base sync (which is what I've been calling a full sync) but just a delta sync...unless my change took over 30 mins to do. Does that about sum it up?

The other day I was having a base sync every refresh and there was minutes between changes, that is what got me scratching my head and worried enough to s

[2021-09-14 20:14] tom-wagner commented on #8806
Bumping this -- any update?

[2021-09-14 22:11] kyleownsaterrier commented on #8873
I fixed the dependency issues and now I can build and deploy on AWS Amplify. Thank you for your help!

[2021-09-14 22:11] #8873 closed

[2021-09-14 22:17] IsaacTrevino commented on #5841
+1 `-R` feature

[2021-09-15 03:05] svidgen opened #8901 "[RFC] DataStore predicate grammar"
_This is a Request For Comments (RFC). RFCs are intended to elicit feedback regarding a proposed change to the Amplify Framework. Please feel free to post comments or questions here._

### Summary

This RFC is to gather customer feedback around Amplify DataStore's grammar and handling of the logical operator grouping (`and`, `or`, `not`) used in `query()` and `observe()` predicates.

**Selective s

[2021-09-15 04:08] applyinnovations commented on #8891
@iartemiev There is no network error, however the network response contains a graphql error.
Request Body:
`query: "mutation operation($input: CreateCategoryInput!) {\n  createCategory(input: $input) {\n    id\n    name\n    color\n    createdAt\n    updatedAt\n    _version\n    _lastChangedAt\n    _deleted\n  }\n}\n"
variables: {input: {id: "6d55ca74-92dc-4a44-9248-9d3e9d43597e"}}
input: {id: "6d

[2021-09-15 08:19] dparrelli commented on #8894
In case it helps, here's another example where this happens. In my pages > index.tsx, I have the following SSR code:

[code]

If I'm already authenticated and click on a link to my website from an external source (ie. email), it will render the page as an unauthenticated user, however, if I copy/paste my site link into a new tab/window, it'll render as an authenticated user (ie. the user prop cont

[2021-09-15 08:30] dynamichny opened #8902 "Attempted to remove more RCTLinkingManager listeners than added"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-15 12:09] paulsjohnson91 commented on #1067
So it would appear Amazon have changed something in either cognito or amplify that has broken the sign up process in my production app which meant I had to create an emergency update to allow sign ups.
Previously using
[code]
Would allow you to work out if a user exists or not, however I'm now getting the same NotAuthoriedException so this workaround no longer works.

It's been 3 years since this

[2021-09-15 13:04] wesam80 commented on #6467
@vmittal89 I do have the same issue.
The OAuth Redirect URI (e.g. https://test.domain.com/oauth2/idpresponse) does not respond with HTTP status 200-299, as @zacharywenner mentioned above.
Any solution or a workaround @dabit3 @amhinson ?

[2021-09-15 13:09] steven87vt commented on #6461
this topic helped clarify the TOTP MFA registration process for me so thank you for that.

for anyone else in a similar situation:

1. not having time or scope to create a custom UI to process a MFA TOTP for a user registration.
2. frustrated with cognito hosted ui not having this feature by default in the standard workflow.
3. no plans to integrate cognito into your already running and validated

[2021-09-15 13:20] paulsjohnson91 opened #8905 "Auth: all errors now coming back as type 'NotAuthorizedException'"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-15 14:38] cfbo commented on #2706
Does anyone know if there is a way to monitor progress (similar to what is shown in the screenshot below) when using the graphql S3Object / complex objects type ?
I have a react client and I am using datastore.
![image](https://user-images.githubusercontent.com/7568421/133454241-43ee73c3-cb4f-4886-8fa6-36e431101822.png)

[2021-09-15 16:10] pwnreza opened #8908 "Cannot setup Auth with email singup via official guide"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-15 16:23] nubpro commented on #8891
Similar to #7860

[2021-09-15 16:53] thefat32 commented on #7662
We implemented Lex2 support based on current amplify implementation and using `@aws-sdk/client-lex-runtime-v2`.

1- Add Lex2 Provider using `addPlugable` method from `@aws-amplify/interactions`

[code]

[code]

2- Use Custom ChatBot based on `aws-amplify-react` implementation

[code]

[code]

3- Implement MessageRender to render ImageCard and CustomPayload messages if necessary.

`ImageResponseCar

[2021-09-15 17:20] thefat32 commented on #4690
InteractionsProvider should be exported from `@aws-amplify/interactions`. Got problem with this when implementing Lex 2 Provider. I copy it from source as a workaround.

[2021-09-15 17:32] rpostulart commented on #8901
This would be such a great addition to datastore to implement so many use cases and especially use cases where you need to do advanced filtering for multitenant applications.

Good to see you can query also on the relations of a model. This increases the speed of development.

For multi tenant it is key to mix and match AND / OR conditions to sync the right data.

I am really looking forward to ha

[2021-09-15 17:40] chrisbonifacio commented on #8733
we noticed that you're using the Auth library but it seems you're missing some dependencies in your package.json

did you follow the [documentation](https://docs.amplify.aws/start/getting-started/auth/q/integration/react-native/#create-login-ui) to set up your React Native Amplify project?

[2021-09-15 18:51] chrisbonifacio commented on #8851
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-09-15 18:51] #8851 closed

[2021-09-15 19:35] chrisbonifacio commented on #8908
Hey @pwnreza there are some issues we're ironing out in the CLI. You can get around this error by passing an arbitrary username for the user like so:

[code]

the email attribute is the important part

[2021-09-15 19:52] vmittal89 commented on #6467
Hi @wesam80 - thank you for your post. I am still having the issue and didn't get any solution yet.

[2021-09-15 20:44] rpostulart commented on #8901
Btw I prefer option A, because it is more visible what the code is doing.

[2021-09-15 21:58] hkjpotato commented on #6661
I cannot reproduce this issue

[2021-09-15 22:19] hkjpotato commented on #8806
![Screen Shot 2021-09-15 at 6 16 31 PM](https://user-images.githubusercontent.com/9324418/133517210-035f0741-3d64-45ec-8ac8-0463174a4f70.png)

I can see my error response when calling a customer HTTP API endpoint. There might be something missing in REST API endpoint setting.

[2021-09-15 23:23] markl-vesper commented on #8902
This error only happens in dev build. I can confirm the error is NOT present in either android or ios release builds

[2021-09-16 00:36] oliverschenk commented on #8908
I have the same issue. Last week it was working fine, I was able to `amplify add auth` using phone number only signup without username and it was working fine. Now, no matter how I answer the questions in the Amplify CLI when adding auth, it always ends up creating a Cognito configuration that includes username AND phone/email rather than email only or phone number without username.

[2021-09-16 00:54] grousseva commented on #7026
@gvb26

hey! I'm currently facing the exact same problem you've described but I'm a bit stuck. Are you saying that I need to choose long code rather than toll-free in the settings?

But this is a problem for me because when I select long code it only allows for voice, not sms

Thanks so much

[2021-09-16 01:44] s1mrankaur commented on #3435
@KristobalJunta  @sethhitch  Thanks. So with https://aws.amazon.com/about-aws/whats-new/2021/06/amazon-cognito-now-supports-targeted-sign-out-through-refresh-token-revocation/ - just the refresh token is revoked, the existing idToken and accessToken continue to be valid?

[2021-09-16 03:09] sethhitch commented on #3435
@s1mrankaur my experience is consistent with the AWS documentation at https://docs.aws.amazon.com/cognito/latest/developerguide/token-revocation.html

So if you try to use an access token associated with the revoked refresh token to make a Cognito API call like `GetUser`, it will fail. However, if you make a REST API call to an API Gateway that uses the built-in Cognito authorizer, and you pass th

[2021-09-16 03:50] dperconti commented on #8892
I had an axios interceptor that was injecting the `Bearer ` string along with the auth token. Removed it and now it's working.

[2021-09-16 03:50] #8892 closed

[2021-09-16 04:19] onlineworld69 commented on #8881
@chrisbonifacio I was able to solve this problem by replacing the Build Setting in Amplify Console with this `amplifyexplicit.yalm` from Expo ([Link](https://docs.expo.dev/distribution/publishing-websites/)).

I followed the instruction here : https://docs.aws.amazon.com/amplify/latest/userguide/environment-variables.html

Thank @josefaidt for the hints. I am happy. Cheers!

[2021-09-16 06:23] #8881 closed

[2021-09-16 13:55] stefanvucic commented on #2562
The problem about storing the password in local state is that user signs up and he trys to log in after 2 days, he confirms his email but there is no way to have his password at thet point to triger manually signIn method . Why you just do not make the SignIn after confirmSignUp like it is done with withAuthenticator!?

[2021-09-16 14:02] chrisbonifacio commented on #8908
@oliverschenk you can try downgrading to 5.1.2 or wait for our next release where we address the issue. Either way, the auth resource would have to be recreated.

[2021-09-16 14:20] chrisbonifacio commented on #8909
Hi @Abror1997 can you explain your use case a bit more and provide some examples of what you mean such as code snippets, output logs, and/or screenshots?

[2021-09-16 15:47] chrisbonifacio commented on #8905
Hi @paulsjohnson91 👋 Did you use Expo or the React Native CLI to create your project? Also, can you post the contents of your `package.json`?

[2021-09-16 15:50] paulsjohnson91 commented on #8905
Hi @chrisbonifacio, My application was created using the react native cli,
full package:
[code]

[2021-09-16 17:08] chrisbonifacio commented on #8905
@paulsjohnson91 thank you! unfortunately, I haven't been able to reproduce this error. I'm getting different error messages with the same package versions.

UsernameExistsException

<img width="446" alt="Screen Shot 2021-09-16 at 1 06 01 PM" src="https://user-images.githubusercontent.com/16952986/133655180-3ad92941-b5a0-4b08-b474-f49fb7b59821.png">

InvalidParameterException

<img width="446" alt=

[2021-09-16 17:10] chrisbonifacio commented on #8905
Can you share how you're importing and configuring Amplify (where you're calling `Amplify.configure` as well as the Auth library?

[2021-09-16 17:31] chrisbonifacio commented on #8823
@geeshans just out of curiosity, could you try creating a custom button that calls `Auth.federatedSignIn` like this instead of using the `<amplify-facebook-button>`?

[code]

[2021-09-16 17:55] Abror1997 commented on #8909
Steps of reproduce:
 1. I sign in with facebook IdP and cognito instance saves the facebook data (like attributes, sub, username, ...)
 2. Then, I sign in with google IdP

Actual Result:
 - `CognitoUser` instance overrides the facebook data and stores only google IdP's data

Expected Result:
 - `CognitoUser` instance stores both facebook and google IdPs' data

@chrisbonifacio Please let me know if

[2021-09-16 18:06] IsaacTrevino opened #8911 "Error: No map resources found in amplify config"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-16 18:39] Amplifiyer commented on #8911
@IsaacTrevino we had a breaking change released 2 days ago https://github.com/aws-amplify/amplify-js/blob/geo/main/packages/geo/CHANGELOG.md and will require updated `@amplify/cli` of `geo` tag and running `amplify push` again to regenerate the `aws_exports` file. @TreTuna

[2021-09-16 19:02] alexkates opened #8912 "Unable to resolve module ../../../../src/graphql/error/GraphQLError"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-16 19:04] Shiftrdw commented on #8886
Hi, I seem to have sorted out the issue.
Following the solution found in #7986,

I just needed to update the angular-ui in package.json.

"@aws-amplify/ui-angular": "^1.0.24",

then remove node_modules and package-lock.json
run npm install.

seems to fix the issue.

[2021-09-16 20:04] IsaacTrevino commented on #8911
Okay big breaking changes due to amplify cli 5.6.0!
My cloudfront distribution was completely reset, however geo is now working thank you.
(for those who attempt this update and use `CloudFront` for hosting s3 bucket)
## Steps to fix CloudFront
- Re-add domain names
- Make sure SSL is selected
- Re-add waf and geographic restrictions (if any)

## Steps to fix Amplify/Geo changes
awsconfig.amazon_l

[2021-09-16 20:04] #8911 closed

[2021-09-16 20:06] phani-srikar commented on #8911
Thanks for bringing this up. Please run `amplify push --force` to update the `aws-exports` file. So no manual change is needed.

[2021-09-16 20:09] alexkates commented on #8912
Following up here for anyone that stumbles on this in the future.

The crux of the issue here is that was using the babel module-resolver plugin with the following alias
[code]

Removing the graphql alias and running `expo start --clear` resolved the issue.

[2021-09-16 20:09] #8912 closed

[2021-09-16 21:35] chrisbonifacio commented on #8909
@Abror1997 Okay, I see what you mean but I'm still not sure why you would want to store both? How would you know that the person signing in through a different social provider is the same user? Currently there is no link between federated identities in Cognito. You would have to implement that in your API and manage that association (probably using email as the unique identifier between social pro

[2021-09-17 05:53] Abror1997 commented on #8909
@chrisbonifacio I see, then I have to store every IdP data in my own storage by provider name. Thank you for your explanation! Now, I am closing this issue.

[2021-09-17 05:53] #8909 closed

[2021-09-17 07:16] KristineTrona commented on #8694
@chrisbonifacio I've noticed now that even with the `appState` listener workaround and removing all subscriptions when appstate goes to background, if I lock the app screen and reopen the app a couple of times the error still happens.

This last bit I have only been able to reproduce on iPad so far (testing on iPad mini 2, but also seen it happen on iPad mini4, iPad Air 2, iPad 7). Have not been a

[2021-09-17 08:19] iamnogada opened #8914 "[Error] ReferenceError: Can't find variable: Buffer"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-17 09:11] deepak-agarwal commented on #8772
Hey @jamesaucode hope you are doing well. I can submit a PR for this but not able to create an issue here.

[2021-09-17 09:41] Nidhinkmadhu commented on #8914
Same issue coming up on version  4.2.9

[2021-09-17 11:11] yuyokk commented on #8385
Adding `mandatorySignIn: true` to `Auth` fixing issue for me.

[2021-09-17 11:39] paulsjohnson91 commented on #8905
Hi @chrisbonifacio, thanks I've looked into those two, I already have the top one in place my config is.
I've also ensured that all my packages are up to date but I'm still getting
`{ code: "NotAuthorizedException", name: "NotAuthorizedException", message: "Incorrect username or password." }`
For all use cases
[code]

[2021-09-17 11:44] abepuentes commented on #8464
Still present on version 4.2.9

[2021-09-17 12:00] abepuentes commented on #8914
I just installed the package and this error show up

[2021-09-17 13:51] chrisbonifacio commented on #8747
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-09-17 13:51] #8747 closed

[2021-09-17 13:51] chrisbonifacio commented on #8769
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-09-17 13:51] #8769 closed

[2021-09-17 13:52] chrisbonifacio commented on #8537
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-09-17 13:52] #8537 closed

[2021-09-17 13:53] chrisbonifacio commented on #8838
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-09-17 13:53] #8838 closed

[2021-09-17 14:53] abepuentes commented on #8914
I would like to add some information, I've been doing some testing and for me actually the error was not from aws-amplify 4.2.9 but from aws-amplify-react-native 5.0.1.
No error about "can't find variable: Buffer" using aws-amplify-react-native 5.0.0, aws-amplify 4.29 and amazon-cognito-identity-js 5.0.4. The app works as usual with this combination of versions.

[2021-09-17 15:19] chrisbonifacio commented on #8905
what version of `@aws-amplify/cli` are you using?

[2021-09-17 19:25] sammartinez commented on #8914
https://github.com/aws/aws-sdk-js-crypto-helpers/pull/217

[2021-09-17 20:00] sammartinez commented on #8914
This issue has now been resolved, please let us know if you are still experiencing this issue after reinstalling your `node_modules` and updating your `package-lock.json` or `yarn.lock`

[2021-09-17 20:03] #8914 closed

[2021-09-17 20:26] svidgen commented on #8901
Hey @rpostulart,

Hopefully you won't even need to do this! The idea is to empower you to write queries that handle these intermediate "query against list of x" operations internally. For example, whereas you would currently need do things like this:

[code]

You'd now just do something like this:

[code]

That said, if you _do_ end up with a list of ID's at some point, the least ambiguous mechani

[2021-09-17 20:32] abepuentes commented on #8914
@sammartinez thanks for the info. It is actually working fine now.

[2021-09-17 20:43] chrisbonifacio commented on #8894
Hi @dparrelli 👋 can you share your `_app` file? I'd just like to make sure that you've configured your amplify project for ssr like so:

[code]
I'm also curious how you might've hosted your application so that I can include that in my reproduction of the issue.

[2021-09-18 00:04] ClaudionorJunior commented on #7799
This Solution works for me, I create again user object with createCognitoUser, passing username from prop...

`let user = (Auth as any).createCognitoUser(
        param.cognitoRequeriments.user.username,
      );
      user.Session = param.cognitoRequeriments.user.Session;
      Auth.sendCustomChallengeAnswer(
        user,
        code,
        param.cognitoRequeriments.validationData,
      )`

[2021-09-18 02:16] chrisbonifacio commented on #8894
This is an interesting issue. I never considered the difference between a link and a hyperlink.

So it sounds like if you're redirected to a website from an external source (hyperlink), you are navigated to the page without hitting the server? I'll have to consult the team what would be the ideal way to handle authenticating in this case, but I would assume you'd need to have some client-side code

[2021-09-18 05:24] lack-of-gravitas commented on #8464
Along with other deprecations

`npm WARN deprecated event-to-promise@0.8.0: Use promise-toolbox/fromEvent instead
npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated
npm WARN deprecated resolve-url@0.2.1: https://github.com/lydell/resolve-url#deprecated
npm WARN deprecated graphql-import@0.7.1: GraphQL Import has been deprecated and merged into GraphQL Tools, so it

[2021-09-18 07:56] dparrelli commented on #8894
Hey Chris - thanks for looking into this. Indeed I can confirm that's how I've configured Amplify in my `_app.tsx` file.

I've tested this on my hosted site by going into the Amplify console > Frontend environments and clicking on the hosted link to my site from there. When the page loads after clicking on the link, it fails to check for the authenticated user via SSR and renders the UI as if you

[2021-09-18 15:31] oliverschenk opened #8917 "amplify auth add user to group Cognito trigger lambda does not have permissions to add/create group or add user to group"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-18 19:13] bacarybruno commented on #8869
I had the same issue after upgrading my app to react-native 0.65.1
Here is what I did to fix this issue :

Add the following lines to your `android/build.gradle` :
[code]

Hope this can help you.

[2021-09-18 23:29] thefat32 commented on #7662
You can now use this lib https://www.npmjs.com/package/@thefat32/aws-amplify-lex-provider-v2 to use your Lex V2 chatbots in Amplify. React example provided at https://github.com/thefat32/aws-amplify-lex-provider-v2/blob/master/examples/react-example/package.json

[2021-09-19 00:18] joebernard commented on #8902
I started getting this error after I upgraded `react-native` from `0.64.2` to `0.65.1`.

[2021-09-19 10:42] FadiAboMsalam commented on #8902
I am facing the same issue after upgrading to 0.65.1

[2021-09-19 11:55] dorontal commented on #54
@dn-l  and @hkjpotato - I have to say that the @JesseDavda solution that I had previously implemented and has been fully functional at retrieving and storing files under S3 paths that had the sub claim in them instead of the identityId - stopped working. I had been away from this code for a while and yesterday tried it again and now I see 403 errors as well.

I noticed that the Cognito username is

[2021-09-19 13:43] dryna opened #8918 "Amplify.configure has 700ms impact on Next.js SSR first page load"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-19 21:47] geeshans commented on #8823
Thanks @chrisbonifacio, creating a custom button worked!

Is this the expected behaviour or a bug?

For anyone who want the Angular equivalent:

[code]

[code]

[2021-09-19 22:35] Pablion commented on #991
@danielfx90 I checked my response and both `user.Session`  and `pool.signInUserSession` are `null`. Maybe you are using an old session?

[2021-09-20 00:26] naseemkullah opened #8919 "(amazon-cognito-identity-js) `error` should be an Error object"
callback is taking non-error object as error, this causes pain further up (down?) the stack when trying to handle such errors with tooling that treats Error objects specially

[2021-09-20 00:27] naseemkullah commented on #8919
referring to:

https://github.com/aws-amplify/amplify-js/blob/419e530e88bac14fa03b9696ce32fe02f23820c7/packages/amazon-cognito-identity-js/src/Client.js#L115-L120

and

https://github.com/aws-amplify/amplify-js/blob/419e530e88bac14fa03b9696ce32fe02f23820c7/packages/amazon-cognito-identity-js/src/Client.js#L131-L137

and

https://github.com/aws-amplify/amplify-js/blob/419e530e88bac14fa03b9696ce32fe

[2021-09-20 00:33] johnEthicalTechnology commented on #8880
@yugrinkov I've not tried it myself yet, but a potential work around could be a custom authorizer: https://docs.amplify.aws/lib/restapi/authz/q/platform/js/#cognito-user-pools-authorization

[2021-09-20 01:17] applyinnovations commented on #8891
On a similar note, how are we expected to handle authorisation errors? They do not throw the default handler or custom handler.
[code]

[2021-09-20 03:46] markl-vesper commented on #8869
Tried your suggestion @bacarybruno but only ended up with further errors

After googling the errors and testing via a helloWord app I think I am beginning to formulate a picture of the issue Im facing

A react-native init helloWord app builds fine after following instructions and adding your suggestion

My app fails to build due to dependency clashes as it looks like react-native-camera pulls in s

[2021-09-20 04:26] Pablion commented on #8464
Still present on version 6.0.0

[2021-09-20 11:00] applyinnovations commented on #8891
@iartemiev what is the recommended method of fixing the local DataStore state in both of these scenarios? The response is thrown by the server not the client, wouldn't this be an ideal case to use the handler specified in DataStore.configure?

[2021-09-20 11:14] GfxKai opened #8920 "Sign in with Apple for AmplifySignIn UI component"
### Is this related to a new or existing framework?

React

### Is this related to a new or existing API?

Authentication

### Is this related to another service?

Sign in with Apple

### Describe the feature you'd like to request

Sign in with Apple is [supported](https://github.com/aws-amplify/amplify-js/blob/419e530e88bac14fa03b9696ce32fe02f23820c7/packages/auth/src/types/Auth.ts#L55-L61) via:

[2021-09-20 13:30] paulsjohnson91 commented on #8905
I don't have @aws-amplify/cli installed

[2021-09-20 13:40] chrisbonifacio commented on #8919
Hi @naseemkullah 👋 Would you like to submit a PR for the changes you're suggesting?

[2021-09-20 14:19] Zilvinaskli commented on #2131
Hi, I would also be interested in this feature. Thanks!

[2021-09-20 14:40] naseemkullah commented on #8919
Hi @chrisbonifacio, sure!

[2021-09-20 15:06] naseemkullah commented on #8919
Hi @chrisbonifacio, https://github.com/aws-amplify/amplify-js/pull/8923 opened, PTAL 🙏

[2021-09-20 16:25] yugrinkov commented on #8880
@johnEthicalTechnology, yes, thanks for assistance. Properly configured authorizer fixed issue in my use case.

[2021-09-20 16:32] svidgen commented on #8901
Hey @rpostulart,

I need to clarify one thing that I read right past on Friday. Nested predicates are only designed to be used against local data. They will not be available for selective sync. Sorry if I set the wrong expectation there!

I'll update the issue body to clarify this.

[2021-09-20 17:03] theogravity commented on #4662
We have to do this awful hack where we use `Auth.updateUserAttributes` to add in the custom attribute to the JWT, but this is called on the page we are loading.

This kind of issue makes me urge people to use an alternative provider such as Auth0 instead.

[2021-09-20 17:50] iartemiev commented on #8868
@PeteDuncanson hmm if you're reloading inside of the DeltaSyncTTL, it should perform a Delta sync. If you get an unexpected base/full sync, check the network request payload for that sync query and confirm that the `lastSync` variable is present and that its value is > `Date.now() -  1000 * 60 * 30`

[2021-09-20 18:03] chrisbonifacio commented on #8905
@paulsjohnson91 oh okay, so you created the auth resources in the console?

[2021-09-20 19:12] chrisbonifacio commented on #8908
@pwnreza @oliverschenk We just released CLI v6.0.0 (`@aws-amplify/cli`) which should address this issue. Please upgrade your CLI versions and try creating your auth resource again.

[2021-09-20 22:21] patrickspafford commented on #8374
@CarlJoven How did you resolve this?

[2021-09-21 00:18] oliverschenk commented on #8908
This works fine now with v6.0.0. thanks

[2021-09-21 01:15] johnEthicalTechnology commented on #8880
@yugrinkov I'm looking to use an authorizer as well. Was it as difficult to setup as the issue I posted suggests?

[2021-09-21 02:14] #8908 closed

[2021-09-21 02:59] markl-vesper commented on #8385
Tried the mandatory SignIn flag. makes it even worse in that it appears to kill of AppSync from working with an error indicating its not happy about region and appId etc

What I can get working is basic helloWord app that guns up Analytics and App OK

[code]

Its when I point App to my actual application source that it all goes awry (of course)

Even when I comment out any code relating to .update

[2021-09-21 03:31] jonathanredford commented on #8902
I too am getting this error.
[code]

[2021-09-21 04:54] ericdrobinson opened #8925 "Broken; Unhelpful Type Declarations in Storage APIs (and others?)"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-21 07:20] galgord commented on #6942
Can we please re-open this issue? It is still not working for me.
I get the following error:

/Users/galgordon/dev/React Native/pets/node_modules/amazon-cognito-identity-js/android/src/main/java/com/amazonaws/RNAWSCognitoModule.java:48: error: cannot find symbol
  @ReactMethod(isBlockingSynchronousMethod = true)
               ^
  symbol:   method isBlockingSynchronousMethod()
  location: @interfa

[2021-09-21 08:10] yugrinkov commented on #8880
Nope, I just setup authorizer based on Cognito user pool according to this docs: https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-integrate-with-cognito.html

[2021-09-21 08:24] paulsjohnson91 commented on #8905
That's correct yes. All the error messages were working a month ago as I was expecting them.

[2021-09-21 11:34] yeus commented on #5363
is there any update on this? I can not get formFields to work with any of the above solutions..  using Vue3 (quasar app 3.1.0), aws-amplify@4.2.10, @aws-amplify/ui-components@1.7.9,     vue "3.2.4",  vue-loader "16.4.1"

and why is this closed? doesn't seem to be any solution here on this issue...  And the other issue #5928 doesn't seem to be resolved either ... This is very frustrating.

[2021-09-21 14:01] Larychev93 commented on #5422
Any updates for  "typescript": "4.2.4" ?

[2021-09-21 14:37] galgord opened #8928 "Database.save returns success but does not update in Admin UI"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-09-21 15:59] chrisbonifacio commented on #8727
Hi @seunghwako apologies for the delay. It's difficult to tell what might be wrong with your OAuth from the details shared so far. I haven't been able to reproduce this behavior on my end either. Would you be willing to jump on a call to troubleshoot? If so, please feel free to schedule a time that works for you [here](https://calendly.com/chris-bonifacio/amplify-customer-call).

[2021-09-21 16:03] s1mrankaur commented on #6559
still waiting for a workaround

[2021-09-21 16:29] s1mrankaur opened #8929 "Ability to modify MFA code timeout"
### Is this related to a new or existing framework?

_No response_

### Is this related to a new or existing API?

Authentication

### Is this related to another service?

Cognito

### Describe the feature you'd like to request

Ability to modify timeout of MFA as 3 minutes seems petty short

### Describe the solution you'd like

Ability to modify timeout of MFA code

### Describe alternatives you

[2021-09-21 18:49] chrisbonifacio commented on #8895
Hi @Amaya88 I tried to reproduce this issue with the steps you listed but I was able to login into the second account after deleting the first and having devices remembered. Can you share how your user pool is configured in the Attributes tab?

these are my User Pool attribute settings for comparison:

<img width="1097" alt="Screen Shot 2021-09-21 at 2 48 41 PM" src="https://user-images.githubuser

[2021-09-21 19:20] chrisbonifacio commented on #8928
Hi @galgord 👋 Thanks for raising this issue and sharing the details and video of the behavior. Can you add this line of code below where you're configuring Amplify and see if you get any additional information about DataStore from the console logs?

[code]

Also, please confirm if you are using the latest version of `aws-amplify` (4.2.10), or simply share the contents of your `package.json` file.

[2021-09-21 20:20] chrisbonifacio commented on #8905
@paulsjohnson91 I think this might have to do with your `authenticationFlowType` in the configuration. According to the Cognito [documentation](https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pool-managing-errors.html):

just out of curiosity, could you try removing the `authenticationFlowType` field from your `Amplify.configure`?

[2021-09-21 22:52] slikk66 opened #8931 "Amplify Login with Google - first try works, 2nd complains email is being changed"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-21 23:31] slikk66 commented on #8931
Found out cause - appears this is the reason, the fields all have to be set to mutable: https://stackoverflow.com/questions/69188292/amazon-cognito-throws-an-error-if-i-try-to-sign-in-a-second-time-with-social-sig

[2021-09-21 23:31] #8931 closed

[2021-09-22 00:19] daniel22506 commented on #8888
Any updates on this error? We are currently running into the same issue

[2021-09-22 00:24] lawrenceswang commented on #8888
Also running into this problem; any help would be appreciated!

[2021-09-22 01:04] PeteDuncanson commented on #8868
@iartemiev its been doing it again today. Check the lastsync time on all the requests and they are all reporting it set to zero.

![image](https://user-images.githubusercontent.com/1674590/134267342-c57bc8f3-89c7-4bcb-b01b-170a48fbe673.png)

Which obvs is never greater than any date, not sure where that value comes from though?

[2021-09-22 01:53] markl-vesper commented on #8385
Have traced the issue

Eventually tracked down to a package 'fast-text-encoding' which is required by Joi

it breaks Analytics as per previous updates

Replacing with "text-encoding-polyfill" resolves the issue and also resolves the await issue

[2021-09-22 03:31] jglesner opened #8933 "Expose OAuth class through Auth module"
### Is this related to a new or existing framework?

_No response_

### Is this related to a new or existing API?

_No response_

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

In issue #8632, I highlighted the fact that there is limited documentation/support for programmatically create a user session using Cognito (id, access, refresh) toke

[2021-09-22 07:38] sanyashvets commented on #5422
upp!
@manueliglesias

[2021-09-22 11:53] iartemiev commented on #8868
The `lastSync` value for a model is stored in the `sync_ModelMetadata` store in IndexedDB.
Do you happen to be calling `DataStore.clear` or changing the selective sync predicate in between reloads?

[2021-09-22 11:56] iartemiev commented on #8868
If you experience this behavior again, could you please show the payload again, as well as the record in ModelMetadata for that model?

For example:
![image](https://user-images.githubusercontent.com/29709626/134339159-0c684b56-9229-4a28-86fc-c6daec19cc4f.png)

[2021-09-22 11:57] slavco86 commented on #6291
@zhengligs please tell how you managed to make Cognito generate a shorter token?

[2021-09-22 12:51] wesam80 commented on #6467
@vmittal89 Today I just replaced that value with the URL of the website.
Still working well. Currently, I am not sure what that field is for.
Could you test and confirm, please?

[2021-09-22 13:29] PeteDuncanson commented on #8868
Happening everytime at the minute so easy to recreate :)

![image](https://user-images.githubusercontent.com/1674590/134352273-ce290a2e-50b5-4c52-b61f-274499d5e966.png)

![image](https://user-images.githubusercontent.com/1674590/134352503-f2daa307-82da-4936-a414-17920fc22c47.png)

I ran your date logic in the console too a few minutes after and got this:

![image](https://user-images.githubusercon

[2021-09-22 13:51] ludwigward opened #8934 "Amplify build fail to generate gatsby SSR after amplify updates"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-22 14:03] vmittal89 commented on #6467
Hi @wesam80  - thank you for your message. I also conducted the same steps couple of days ago and awaiting notification from Facebook for their confirmation before I share the solution here. I just received their notification this morning and it seems the issue has been resolved now.

[2021-09-22 17:43] chrisbonifacio commented on #8918
Hi @dryna 👋 do you have a time to first page load with SSR disabled for comparison in my own testing?

[2021-09-22 17:52] chrisbonifacio commented on #8733
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-09-22 17:52] #8733 closed

[2021-09-22 17:55] chrisbonifacio commented on #8870
@thomasyim02 do you mean that you were able to get the auth0 signin working, but there is an issue with the Auth0OAuthOpts type definition?

[2021-09-22 18:44] chrisbonifacio commented on #8823
@geeshans This is expected behavior. There are different auth workflows depending on the argument passed to `Auth.federatedSignIn`. One authenticates against the [User Pool](https://docs.amplify.aws/lib/auth/social/q/platform/js/#setup-frontend) where attributes can be mapped, the other uses the [Identity Pool](https://docs.amplify.aws/lib/auth/advanced/q/platform/js/#identity-pool-federation).

U

[2021-09-22 18:44] #8823 closed

[2021-09-22 18:48] chrisbonifacio commented on #8868
I think @iartemiev meant to compare whether the last sync value is greater than that value, which seems to be true in this case

[code]

<img width="247" alt="Screen Shot 2021-09-22 at 2 47 39 PM" src="https://user-images.githubusercontent.com/16952986/134403694-6bd8b9c4-e71f-4702-9596-dedf7df85359.png">

[2021-09-22 20:15] dryna commented on #8918
Without SSR (commenting out `getServerSideProps`) the line `Amplify.configure({ ...awsExports, ssr: false });` dosen't have any influence. Then first load after starting the server takes around 22ms. To test I'm doing `yarn build` and then `yarn start`.

I will check also later one the first page load time for static pages when hosting on amplify hosting, because i think it might be another topic.

[2021-09-22 21:11] Abdelmottaleb commented on #1234
Hi everyone,
do you have any idea if the Cognito team addresses this? I m  still getting the same exception for both cases:

`NotAuthorizedException:` Incorrect username or password.
`NotAuthorizedException:` Password attempts exceeded

[2021-09-22 21:17] cmnstmntmn commented on #7547
@eveevans did you manage to get next-gen image optimization?

[2021-09-22 21:18] cmnstmntmn commented on #7547
i'll link this issue i posted on Next JS repo https://github.com/vercel/next.js/issues/28241

[2021-09-22 21:33] eveevans commented on #7547
@cmnstmntmn Yes, basically I'm using NextJS 11.1 and all the default configs, except for the Next.js version on amplify in which I changed `9` for `latest`

Hope you this help you:

Framework
[code]

Next.js version `latest`

script config:
[code]

Dependencies:
[code]

[2021-09-23 04:05] teamzz111 commented on #8902
Same here I came from 0.64 and everything was okay

[2021-09-23 05:01] rolance opened #8955 "[Feedback] Error TS2344 (@aws-amplify/storage/lib-esm/types/Storage.d.ts)"
**Page**: [`/start/getting-started/data-model/q/integration/[integration]`](https://docs.amplify.aws/start/getting-started/data-model/q/integration/angular/#connect-frontend-to-api)

**Feedback**: using Angular CLI: 12.2.7, Node: 12.14.0, Package Manager: npm 6.14.8, OS: win32 x64

Error: node_modules/@aws-amplify/storage/lib-esm/types/Storage.d.ts:44:46 - error TS2344: Type 'T[U]' does not satisf

[2021-09-23 05:06] thomasyim02 commented on #8870
@chrisbonifacio there is somewhere in the code that requires redirectSignIn prop to be used which it shouldn't when using redirectUri prop, such as Auth0OAuthOpts. Below shows more in detail, how can we get this isCognitoHostedOpts=false to work?

Reference:
[https://github.com/aws-amplify/amplify-js/blob/main/packages/auth/src/Auth.ts#L1969](https://github.com/aws-amplify/amplify-js/blob/main/pac

[2021-09-23 11:01] bestis commented on #1226
This is kind of annoying. You cannot get the proper state is software MFA enabled. You can get if it is preferred. But being preferred it doesn't mean that is enabled.

Also didn't find any way to get the status is it really enabled. This seems a huge lack of the API.

So what I did?

1. Get preferred MFA: `Auth.getPreferredMFA(cognitoUser)`
2. If 'NOMFA' => MFA is not on.
3. If 'SOFTWARE_TOKEN_MF

[2021-09-23 11:51] PeteDuncanson commented on #8868
Yep, sorry I didn't do the sum but could see it was less that that in the meta data. Which raises the question...what is it doing then if everything seems to be as it should?

[2021-09-23 12:52] cmnstmntmn commented on #7547
@eveevans indeed, but for reason or another the image is not converted to next-gen format.

1. this is the Vercel, all ok https://nextjs-test-seven-ashy.vercel.app/ (the image is converted to webp)
2. same code on AWS: https://main.d79bb4yng9r5p.amplifyapp.com/ (the image is not converted to webp)

[2021-09-23 14:20] #8919 closed

[2021-09-23 18:25] PeteDuncanson commented on #8868
So I've been working all day and every refresh its been doing a full base sync (boy does that make development cycle a draaaaaaaaaaaag) however its now 7pm here in the UK and its now started working as it "should" and doing delta syncs. Not sure if the timezone I'm in is important but really odd that all days its being base sync'ing and now its not. I've changed nothing of note just been working o

[2021-09-23 18:49] chrisbonifacio commented on #8822
Hi @zaithel apologies for the delay. I have not been able to reproduce this issue, my best guess as to why it may be happening is that there is an issue with the way babel is configured in your project or some dependencies are causing issues. I noticed that you have scoped packages (ex. @aws-amplify/datastore": "1.0.7-rn-datastore.6") as well as the global `aws-amplify` package.

I would remove al

[2021-09-23 19:54] SaileshKumar opened #8938 "Unable to filter on scalar field backed by Lambda Resolver"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-23 20:56] chrisbonifacio commented on #8605
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-09-23 20:56] #8605 closed

[2021-09-23 21:32] hkjpotato commented on #8381
@slimandslam if I understand it correctly, you want to inject a credentials you get from a separate cognito identity pool?
If you are using amplify to setup the identity pool, then the unauth credentials should be managed internally by the amplify, so you should not need to call the direct cognito commands.

[2021-09-23 21:35] hisham commented on #6181
@joebernard - for Storage.put, 403 errors can be caused by the client's clock being wrong, see https://github.com/aws-amplify/amplify-js/issues/6494#issuecomment-799739560

[2021-09-23 22:40] henobi opened #8941 "InvalidParameterException: client_id, client_secret and authorize_scopes are all required idp details"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-24 00:18] jamesaucode commented on #8925
Thanks for raising the issue. The new Typescript definition for Storage is shipped with the latest release which will hopefully solve the issues you have. 😄

[2021-09-24 00:18] #8925 closed

[2021-09-24 00:19] jamesaucode commented on #7667
The latest Typescript improvement for Storage has been merged and released. That includes conditional return type 😄

[2021-09-24 00:19] #7667 closed

[2021-09-24 07:46] galgord commented on #8928
Hi @chrisbonifacio sorry for the late reply, I was away for a little while. Here is everything you asked for. Please let me know if thats enough or if any further information is needed. Thank you!
Here are the logs:

                        #######
                   ################
                #########     #########
            #########             ##########
        #########        #####

[2021-09-24 12:23] Morph89 commented on #3184
OMG! Still having this issue.

[2021-09-24 14:26] mansdahlstrom1 opened #8945 "Incorrect AppSync:GraphQL Policies for unauthenticated users"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-24 16:15] Fitux commented on #8727
Hey @chrisbonifacio I'm having the same issue, were you able to reproduce the issue?
If not I could schedule some time to help you reproduce it.

[2021-09-24 18:02] chrisbonifacio commented on #8727
Hi @Fitux ! Sure, feel free to set up a date and time that works for you!

[2021-09-24 18:29] agloks opened #8947 "The issue #6000 still happening (App doesn't open on tapping the Notification)"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-24 22:38] jacdx commented on #8302
I had this issue. It was a configuration issue on my end. In order to setup the oAuth provider on Cognito for Apple (via Terraform) and I suspect CloudFormation, too, I could specify the scopes as "email,name" or "email name". Both succeeded in configuring Cognito correctly, but the "email,name" scope caused 'invalid client scope' errors in practice.

[2021-09-25 01:50] sacrampton commented on #8868
Hi @iartemiev,

We had an issue where a client using our app with 50K records was reporting 3.5GB in mobile data usage per day due to the sync essentially doing a complete resync almost continuously.

So if I'm following this correctly - if we increase DeltaSyncTTL to 720 minutes (12 hours for example) then it shouldn't do a base sync during the day.

Also, is there a way in Amplify to specify thi

[2021-09-25 02:16] returnzer0 commented on #1792
One other way could be to attach listeners, so that if/when the token refreshes or fails to refresh you can trigger some kind of a hook (could be a context API call or some call to a state variable). It will update that variable every so often and the developers can rely on that variable to see synchronously if a user is authenticated or not.

For our case that would work as well.

[2021-09-25 14:23] zachjonesnoel commented on #2487
@tcchau `adminCreateUser` sets the temporary password same the console. If your use-case involves a custom message, `CustomMessage_AdminCreateUser` trigger could be used for `CustomeMessageTrigger`.

You can check the blog for more info on [Message Customization on Cognito](https://dev.to/awscommunity-asean/message-customization-on-cognito-2bme).

[2021-09-25 14:31] tcchau commented on #2487
Thanks for your contribution @zachjonesnoel but you might be misunderstanding the issue.

The problem is, how do you provide your own custom temporary password in the custom message template? I don't want to use Cognito's generated password, because it may contain unescaped illegal characters that might be used in a URL. I want to provide my own "clean" temporary password.

[2021-09-25 14:37] zachjonesnoel commented on #2487
Oh! Cool thanks for clarifying @tcchau.

The `adminCreateUser` can set the custom password and also from console you can add the custom password instead of Cognito's generated password.
![Console create user with password field](https://user-images.githubusercontent.com/12515425/134775234-67cc129d-4e77-4cca-adf2-7a3dac5b3667.png)

[2021-09-25 15:37] tcchau commented on #2487
@zachjonesnoel Nice! Glad they added this to the console. When I wrote about my workaround originally, the only place you could do it was from the CLI. Obviously, you can also do this using the API, which we do from our backend.

[2021-09-26 01:40] michaelbrewer commented on #3436
[The Ultimate Guide to handling JWTs on frontend clients](https://hasura.io/blog/best-practices-of-using-jwt-with-graphql/) has some good recommendations for how to store your JWT

[2021-09-26 07:18] inventivejon commented on #1218
any news?

[2021-09-26 09:43] gHashTag commented on #7541
How to remove @aws-ampify/datastore if it is generated automatically in the models folder?

[code]

[2021-09-26 10:28] ventocis commented on #8381
@slimandslam I am having the same issue. It sounds like you may have figured out how to attach the credentials using the methods below? Where are you getting these methods? I didn't see them in the Auth documentation. Thanks!

[2021-09-26 13:04] Parkseokje opened #8949 "Push notifications are repeating indefinitely"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-26 14:18] ViVa98 commented on #7276
@sammartinez @manueliglesias

I want to connect the existing Cognito user pool to Amplify and access Appsync APIs. The existing user pool is custom-created to use Azure AD as a SAML Identity Provider. What are the necessary steps to follow in order to connect this user pool to Amplify?

My frontend is React Web Application

[2021-09-26 15:21] slimandslam commented on #8381
I believe that one of the maintainers of the  AWS SDK for JavaScript V3 API created an example somewhere (after I asked him about it) but I don't recall where.

The code below is what I use in React, but I assume it's pretty generic AWS SDK for JS V3 code.......

Note that there are examples of how to do this using AWS SDK for JS V2. (VERSION TWO), but not V3.
I see no way to do this using AWS Amp

[2021-09-26 20:45] ahtokca opened #8950 "PushNotification.initializeAndroid: Get the token from Firebase Service null"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-27 00:27] hanna-becker commented on #6202
This is my current list of warnings after clearing the npm cache and deleting node_modules (Angular CLI v12.2.7):

[code]
When upgrading my Amplify CLI, this deprecation warning caught my eye:

[code]

Just a wild guess, but maybe @aws-amplify and othter aws npm packages use a similarly old version of uuid and other dependencies, which do not have es6 module support, yet. May be a low hanging frui

[2021-09-27 01:23] seunghwako commented on #8727
Hi @Fitux! Did you go through the same situation as me?

[2021-09-27 05:57] camello222 commented on #2286
WHy hasn't this been solved yet? It's been almost three years.

[2021-09-27 07:02] revmischa opened #8951 "Support Google login_hint for auth [react]"
### Is this related to a new or existing framework?

React

### Is this related to a new or existing API?

Authentication

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

When calling `Auth.federatedSignIn({ provider: CognitoHostedUIIdentityProvider.Google })}` I'd like to be able to provide the `login_hint` parameter to Google since I know w

[2021-09-27 14:34] marcosilvestroni commented on #1437
hi guy I found a solution maybe on uploading file but, the signature process for some reason fails. In this way I can Upload a File

[code]

so the solution was not wrapping file into an object

[2021-09-27 18:06] chrisbonifacio commented on #8727
@Fitux @seunghwako So, after doing some digging and trying to reproduce the issue on my end, the only similarity I could find between your configurations that was different from mine was that you configs are using a custom domain. Unfortunately, the [CLI does not support custom domains](https://github.com/aws-amplify/amplify-cli/issues/1880#issuecomment-515133249) out of the box and so this is an

[2021-09-27 21:54] ravenscar commented on #3436
@michaelbrewer this guide looks sensible but it is suggesting features such as silent refresh, which cognito doesn't have. A lot of the decisions would make you change from the Cognito UI as well which will mean you lose access to a bunch of OAuth stuff like code flow etc, so if using Cognito you will have to reimplement code flow using your own server side crypto and storage.

What I am saying is

[2021-09-28 03:01] Fitux commented on #8727
I think that comment is related to the Hosted UI which I'm not using right now

[2021-09-28 03:52] dcssi commented on #4652
As show in the above example it works for me.

[2021-09-28 11:27] paulsjohnson91 commented on #8905
Hi Chris, I've just attempted a sign in with a non existant user with both USER_PASSWORD_AUTH and USER_SRP_AUTH and the results were the same, NotAuthorizedException

ICan confirm that all those auth flows are selected for my cognito

[2021-09-28 11:29] paulsjohnson91 commented on #8905
I've also tried the same scenario with a user that hasn't been verified yet, this is an issue because if the user restarts the app and isn't verified there is no way for me to know if I need to provide the option to resend the verification email

[2021-09-28 12:27] joppehoekstra commented on #8567
This does not seem to work for me unfortunately. Any updates on when Quasar is addressing this?

[2021-09-28 14:19] chrisbonifacio commented on #8895
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-09-28 14:19] #8895 closed

[2021-09-28 15:43] #8868 closed

[2021-09-28 15:48] chrisbonifacio commented on #8868
@sacrampton The only way to configure the TTL, other than the console, seems to be through the AWS CLI.

https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/time-to-live-ttl-how-to.html

[2021-09-28 17:27] levelingup commented on #8758
Hello, I wanted to see if there's any updates on this? I'm getting no current user when I'm doing getServerSideProps as well with a different query. But when I'm in the AWS AppSync website to query the same thing, its allowing me to actually query. I've Logged in using the same login I'm using in my app.

[2021-09-28 19:00] jasiek-net opened #9826 "[React Native] RangeError: Maximum call stack size exceeded on sign in and sign out, sometimes Auth not resolve at all"
When I perform sign in and sign out with `Authenticator` in react native app (IPhone 11 Simulator) I've got:

**On Successfully Sign In** - three unhandled errors
[code]

**On Successfully Sign Out** - one unhandled errors
[code]
Sometimes it's event crash all flow (user stays on sign in screen with disabled button, so the experience is terrible).

I'm using (plus some other stuff)
[code]
I tried

[2021-09-28 19:20] chrisbonifacio commented on #8855
Hi @rakeshkumar331 👋 It seems you're calling `Storage.put` from within a `map` function, so I can't be sure what values are being passed to `Storage.put`. Could you confirm that only trying to upload one item works?

If uploading a single file works, you might want to wrap your map (which will return an array of promises), in a `Promise.all` and await it like so:

[code]

[2021-09-28 19:30] janhorubala opened #8957 "[React Native] Sign In and Sign Out results in RangeError: Maximum call stack size exceeded. Sometimes Auth methods not resolve at all."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-28 21:19] #8955 closed

[2021-09-28 23:46] Gab1988 commented on #7989
Hi @iartemiev

Exactly same here, we want to allow CRUD operations authorised based on dynamic and static groups to enable collaboration among invited members to a group and admins
Our approach for now is to add the below to the shareable models, then at start-up fetch which data the user should have access to (if online otherwise bummer) and then set syncExpressions on each sharable model
[code]

[2021-09-29 00:24] Samaritan1011001 commented on #8869
@markl-vesper If you do not want to downgrade the `react-native-camera` package, you can try either of these two.
Add the following to your dependency in `/android/app/build.gradle`

1. You can exclude the colliding items from the camera package. This will prevent the clash and use the firebase dependencies specified in your `build.gradle`
[code]
OR

2. You can use an upgraded `firebase-core` and

[2021-09-29 01:27] markl-vesper commented on #8869
downgraded camera is working fine for now.

thanks for suggestions should we need to update

appreciated @Samaritan1011001

[2021-09-29 02:34] markl-vesper opened #8959 "log failed with error: Event attribute value length should be less than 200"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-29 08:03] abdullahmujahidali opened #8962 "[ERROR]: {"code":"7","message":"No ssrResources.json file"} when deploying a SSR Next Js App"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-29 11:00] Daniyal-star commented on #2160
Im facing issues when using custom attribute in signup . My custom attribute is custom:Username .
How im gonna add this in signUpconfigField : [{ }] ?
can anyone help me on this

[2021-09-29 14:29] RomanBob123 opened #8964 "No current user error"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-29 14:41] chrisbonifacio commented on #8727
@Fitux what steps did you take when setting up your custom domain in Amplify? I'm going through this [documentation](https://docs.aws.amazon.com/amplify/latest/userguide/to-add-a-custom-domain-managed-by-a-third-party-dns-provider.html) but I want to be sure that I'm recreating your configuration.

[2021-09-29 16:42] marck0zz commented on #1234
Sorry to be intrusive but I'm having exactly the same situation in the SDK for .NET so, maybe is not only a issue with a specific SDK. I'm just looking for a solution or workaround haha.

[2021-09-29 17:46] janhorubala commented on #8957
I work now with `API` module and I get similar errors, debug log below. I created simply, unprotected endpoint ("Hello from Lambda!") and I run `API.get("testapi", "/test", {})` (it works in browser).

[code]

Btw. this project was at the begging ignite boilerplate (with `--expo` option), then I eject it (`expo eject`), so maybe there are some dependencies that triggers error in amplify. I erased

[2021-09-29 18:29] tylerjames commented on #1234
Yeah the errors are returned by Cognito and just forwarded by the SDK so until Cognito provides better errors there's not much the SDK teams can do about it.

[2021-09-29 18:39] chrisbonifacio commented on #8727
@Fitux if you can screenshot that console error that mentions a 400 status code and invalid client after the redirect from Google, please post it here so that I can share with the team.

[2021-09-29 19:29] Fitux commented on #8727
@chrisbonifacio

The way I created my hosted zone in Route 53 was to migrate the dns service from my domain in Godaddy to Route 53, which is basically make the Godaddy DNS name servers to point to the ones in AWS Route 53. Similarly to the guide below.

https://virtualizationreview.com/articles/2020/07/14/migrating-dns-services-aws.aspx

After I created my hosted zone in Route 53, I used the steps

[2021-09-29 19:29] riceboyler commented on #7570
Can part of that deeper dive mentioned above include figuring out why using the `@aws-amplify` specific libraries (i.e. `@aws-amplify/core, @aws-amplify/analytics, etc.) causes an error related to credentials, region or appid that is only resolved by using `aws-amplify` (the full library) instead? (FWIW, I dug into that error specifically, and it appears that for some reason, using `@aws-amplify/c

[2021-09-29 19:33] evcodes commented on #8888
Hey @daniel22506 and @lawrenceswang I am going to take a look at this issue.

[2021-09-29 23:40] nypinstripes opened #8967 "49 new webpack build warnings about __ spreadArray in tslib"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [x] I have done my best to in

[2021-09-30 01:28] alivemachine commented on #6942
Same, this has not been solved and is an issue for me too.

[2021-09-30 02:37] seunghwako commented on #8727
Hi @chrisbonifacio Can this be a way to solve my problem?

[2021-09-30 03:19] MatrixFrog commented on #8464
If I could get a review on https://github.com/aws-amplify/amplify-js/pull/8960 that would be great :) It won't eliminate all instances of this warning but it's a step in the right direction!

[2021-09-30 03:53] Gab1988 commented on #8068
Hi @chrisbonifacio

We are also experiencing the same issue with the following schema when I attempt to delete a parent object (workspace)
While instead deleting the children objects (entity) does work

[code]

Here the packages I'm using :

[code]

[2021-09-30 05:09] Pablion commented on #8464
@MatrixFrog  I would like to review but I dont know how. Can you give me some hint like a documentation?

[2021-09-30 05:11] MatrixFrog commented on #8464
It's just removing a dependency that doesn't need to be there. I just did `cd packages/api-graphql; git grep uuid` to find that the uuid package is never used within the api-graphql package.

[2021-09-30 05:13] MatrixFrog commented on #8464
(I also tried in a separate PR to upgrade to the latest version of `uuid`, in the other package.json's that reference it, but that caused some build errors that I haven't had a chance to track down the cause of yet.)

[2021-09-30 06:19] chrisbonifacio commented on #8727
@Fitux According to the [docs](https://docs.aws.amazon.com/cognito/latest/developerguide/token-endpoint.html), the error code you're getting is because:

Client is not allowed for code grant flow or for refreshing tokens.

Could you double check your app client settings in Cognito and make sure you have these enabled?

[2021-09-30 06:23] chrisbonifacio commented on #8727
@seunghwako you should add this line above your amplify configuration and see what error you're getting from Auth after being redirected from Google during oauth flow.

`Amplify.Logger.LOG_LEVEL = "DEBUG"`

[2021-09-30 06:28] sacrampton commented on #8868
Hi @chrisbonifacio / @iartemiev - I set the TTL following Ivan's suggestions - was only looking to see if there was a way to do it in code for a fully automated config - not a big issue.

What I really wanted to check was whether you thought my suggestion of setting TTL to 720 minutes on all tables to ensure that base sync doesn't happen within 12 hours is a valid approach.

[2021-09-30 07:36] valin0k opened #8968 "using MMKV storage instead of Async-storage doesn't work in android"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-30 07:50] JosephVasse commented on #6467
Hello, I'm facing the same issue today, Facebook is asking me to provide a valid url for the website where I had put
```https://myapp.auth.eu-west-1.amazoncognito.com/oauth2/idpresponse```

@wesam80 @vmittal89 sorry for disturbing you but can you confirm adding a "classical" url such as "https://myapp.com" will not broke my authentication system ?

Thanks
Joseph

[2021-09-30 12:27] jordanmonier opened #8969 "Better typings"
### Is this related to a new or existing framework?

_No response_

### Is this related to a new or existing API?

Authentication

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

The typings aren't correct, they only have to methods and they often returns `any`. Maybe we are missing something but in a Typescript environment this is very painf

[2021-09-30 12:53] jordanmonier commented on #8969
I just wrote some types if you want to use them :
[code]

[2021-09-30 13:03] jrobbins-LiveData opened #8970 "Error message assumes the Storage provider for amazon-cognito-identity.js is "LocalStorage""
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-30 13:09] wesam80 commented on #6467
Yes, it worked for me in all three environments, sit, uat, and prod :)
Better you change it and keep watching your website for some time, just to
make sure

On Thu, Sep 30, 2021 at 3:51 AM JosephVasse ***@***.***>
wrote:

[2021-09-30 13:24] vmittal89 commented on #6467
Hi Joseph - it worked for me as well. No issues encountered so far and everything is working as expected as far as Facebook login.

[2021-09-30 14:33] chrisbonifacio commented on #8970
Hi @jrobbins-LiveData would you like to submit a PR for this?

[2021-09-30 14:51] chrisbonifacio commented on #8891
I was able to reproduce the issue. Although this is currently expected behavior, I'm going to label this as a feature request that needs discussion because I do see the inconvenience in having to validate the result of the `DataStore.save` operation in order to check whether or not the GraphQL mutation was successful.

[2021-09-30 15:04] jrobbins-LiveData commented on #8970
Happy to!

[2021-09-30 15:25] Pablion commented on #8464
I still don't know how to test it for you.

[2021-09-30 15:36] DarkestMisery opened #8972 "Not able to connect to graphql"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-09-30 17:00] chrisbonifacio commented on #8880
Hi @johnEthicalTechnology 👋 thanks for raising this issue! How did you try to reach your API? It looks like you chose only the `update` http method during the api configuration for authenticated users.

The request you made seems to be a POST request, which would correlate to the `create` option in the CLI prompt.

I think you should do a PUT request instead, or extend the methods available to the

[2021-09-30 17:00] #8880 closed

[2021-09-30 17:40] PhilippS93 commented on #987
We also encountered this issue in our company, very disappointing..

[2021-09-30 18:45] chrisbonifacio commented on #8822
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-09-30 18:45] #8822 closed

[2021-09-30 18:53] hkjpotato commented on #7251
For web, the endpoint id is created and cached in local storage.

Normally it will be persisted so you should not run into the issue of creating another endpoint and reach limit, but if you are using Incognito or manually clean the localStorage, then the endpoint id will be recreated.

For now, if the endpoint channel type is "PUSH" ( e.g. ADM, PUSH, GCM, APNS, APNS_VOIP, APNS_VOIP_SANDBOX, BAIDU)

[2021-09-30 21:40] katiegoines commented on #2131
Hi! Unfortunately versionId doesn't exist on `list` with S3. I'd love to gather some information on whether adding versionId to `get` would be useful without list and about your use cases in general. Thanks!

[2021-10-01 02:09] applyinnovations commented on #8891
Thank you @chrisbonifacio for following up on this. I believe using the error handler to repair local state is an essential feature, however it is useless unless it covers all mutation events!

[2021-10-01 05:35] Gab1988 commented on #8068
Never mind the issue was a misspelling in the configuration of the key for the connection between the workspace and another entity
If it can help anyone this issues occurs if you declare incorrectly the connection between 2 entities (e.g. my case)

`type Workspace
  @model
  @auth(
    rules: [
      { allow: private }
      { allow: public } # Allows access with API key
    ]
  )
  @key(name: "Us

[2021-10-01 09:36] rutwick-alic opened #8974 "Multiple PageView events being fired in a single batch for the same page"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-01 10:32] BabyDino commented on #7251
Thanks for the clarification. But since when is this active? Because 1 have one EMAIL, 1 TEL and 13 GCM (due to testing), and ran into the error 2 weeks ago...

[2021-10-01 12:27] paulsjohnson91 opened #8976 "Apple Oauth signup has stopped working"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-01 12:32] paulsjohnson91 commented on #8976
This means that currently no apple users are able to sign up for the app. I would settle at this point for any workaround to be able to sign up users again, via either an app update or cognito update, even if that meant that the name fields are populated with dummy information

[2021-10-01 14:34] franquitt opened #8977 "Setting device as remembered does not suppress MFA challenge"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-01 15:33] pwnreza commented on #8908
Thanks for the fix. The Signup does work with the amplify/cli v6+

But after signing up with email and getting a autogenerated username the signin does not work.

signup works
`
Auth.signUp({
    username: "myemail@provider.com",
    password: "somepassword",
    attributes: {
        email: "myemail@provider.com",
    }
});
`

signin afterwards does not work
`
Auth.signIn("myemail@provider.com",

[2021-10-01 15:37] DarkestMisery commented on #8972
I found the error, the last time I did amplify pull and I build my project, for some reason, my cognito user pool changed.

Sorry for the issue, but I can hardly find it.

[2021-10-01 15:37] #8972 closed

[2021-10-01 15:52] evcodes commented on #8977
Hey Franquitt, thanks for opening this issue. I am going to take a look

[2021-10-01 15:57] chrisbonifacio commented on #8976
Hi @paulsjohnson91 👋 Thank you for raising this issue. I changed my attribute mapping for Apple to yours but I wasn't able to reproduce the exact issue you're getting (Invalid+user+attributes). I was still able to sign up. Only thing I noticed was that I wasn't getting the newly checked off given_name or family_name attributes.

The reason for that seems to be:

So, in order to provide new user in

[2021-10-01 16:02] paulsjohnson91 commented on #8976
Hi @chrisbonifacio thanks for the quick response. I've been doing some further research and have reached the same conclusion, the users I was testing with had previously had an account and creating a new Apple account I was successfully able to sign in. A very frustrating feature from Apple, it doesn't sound like there is any possible work around for this from amplify / cognito perspective.
For an

[2021-10-01 16:05] chrisbonifacio commented on #8970
Hey @jrobbins-LiveData can you point that PR to this repo's `main` branch? Looks like it's trying to merge into your fork instead.

[2021-10-01 16:42] #8976 closed

[2021-10-01 17:16] jrobbins-LiveData commented on #8970
Hey @chrisbonifacio, I'm inexperienced at Pull Requests.  I tried to do it better this time.  Hope I got it!  If not, please let me know.

[2021-10-01 18:40] hkjpotato commented on #7251
Hi, thanks for the information. I am still trying to understand the root cause of it by talking to pinpoint team. Can you help me confirm if it is the case:
1. You have one user id linked to 15 endpoints now (13 GCM, 1 TEL, 1 Email) and you cannot add new endpoints to the same user.
2. By testing are you deleting the endpoint id in storage? Are you using react-native or just JS?

[2021-10-01 18:43] hkjpotato commented on #6896
@GeorgeBellTMH Here is some information I collect so far, I am still thinking of a possible way to fix it.
https://github.com/aws-amplify/amplify-js/issues/7251#issuecomment-931579550

For now my understanding is only if you delete the endpoint id from localStorage, the endpoint id will be lost. Can you help me understand what do you mean by developer beta?

Another thing I think might be helpful

[2021-10-01 19:01] dotnexttech commented on #3653
can you describe your solution more?

[2021-10-01 19:34] chrisbonifacio commented on #8970
Perfect! Now I'm able to link this issue to the PR so this will be automatically closed if it's merged. Thanks! 😃

[2021-10-01 20:00] #8970 closed

[2021-10-01 22:00] roiavidan commented on #4439
FWIW, we've discovered that if you're doing a phone/email validation as part of your registration process and use the confirmRegistration() method then sending the clientMetadata with that confirmation call does surface it in the postConfirmation trigger.

[2021-10-02 02:37] BoltsJ commented on #4376
This also affects Auth, which seems to throw plain `Object`s instead of Errors

[2021-10-02 03:06] MatrixFrog commented on #8464
There's really nothing to test. If the package still builds successfully with the change, then the change is good.

[2021-10-02 07:50] NiksanJP commented on #5127
Hey guys I searched around and I found myself the solution.

1. Fix your Sign in and Sign out URIs
2. Check your Cognito
3. Fix your JS code

**Fix your Sign in and Sign out URIs**
So here you wanna enter where the user will be navigated after sign in and after sign out.
For example
![image](https://user-images.githubusercontent.com/40626274/135708236-13ca56e4-2247-4215-a0d8-b47e88b18e80.png)
I wa

[2021-10-02 15:55] aepmont commented on #8888
I have the same issue in Angular AppSync
Subscriptions just dont work
Returning errors as 'message: "AppSync Realtime subscription init error: undefined"
Documetation does not help at all, being at this issue for the last 10 days

[2021-10-02 20:07] Naes0 commented on #8011
I'm still experiencing this issue, the above fixes didn't work for me.

After the sign-in callback to localhost:3000/ seems like the Auth from withSSRContext is outdated.

By console logging the Auth I can see on the initial callback its missing my idToken, accessToken, refreshToken and lastAuthUser in the _storage: Universal storage.store attribute.

After a reload this attribute is populated and

[2021-10-02 23:33] Pablion commented on #8464
Glad to hear that. BTW, I moved to firebase for GitHub OAuth, and they have the same issue just like this one (UUID package) 😢.

[2021-10-03 01:23] DeniferSantiago opened #8980 "Allow to set multiple notification channels on android"
### Is this related to a new or existing framework?

React Native

### Is this related to a new or existing API?

Push Notifications

### Is this related to another service?

pinpoint

### Describe the feature you'd like to request

In android the notification channel used is static and by default it has the name of the application package, which is a bad experience for people who enter the config