[2018-10-01 14:22] NikoMontana opened #1796 "Flow type support?"
** Which Category is your question related to? **
Types and code hinting

** What AWS Services are you utilizing? **
AppSync

** Provide additional details e.g. code snippets **
I chose Flow as Type Language for my project and adding api via amplify generates also Flow types. So the typescript is disabled to enable flow code hinting. How do you guys configured your projects? Because I have to gues

[2018-10-01 15:44] pmd30011991 opened #1797 "No Targetable Endpoint After Register Pinpoint"
Look seems OK but no targetable endpoint on Pinpoint

**Describe the bug**
{[DEBUG] 41:12.675 AWSPinpointProvider - endpointId from cache: Array(3)}
[DEBUG] 41:12.676 AWSPinpointProvider - init clients
{[DEBUG] 41:12.676 AWSPinpointProvider - init clients with credentials: {…}}
{"[DEBUG] 41:12.686 AWSPinpointProvider - updateEndpoint with params: ": {…}}
{[DEBUG] 41:12.703 AWSPinpointProvider - en

[2018-10-01 15:51] Uzairrrr opened #1798 "react-native Connect to existing user Identity pool"
can we connect our new project of react-native to existing user Identity pool?

[2018-10-01 16:01] NikoMontana commented on #1796
My fault. Sorry

[2018-10-01 16:01] #1796 closed

[2018-10-01 16:27] romainquellec commented on #1770
I have the same issue. And window is poluted, so style-jsx think its client side and goes wild.

[2018-10-01 17:04] powerful23 commented on #552
@mwarger thanks for the feedback, investigating.

[2018-10-01 17:07] powerful23 commented on #1790
@aldarund sorry about that. I just approved another pr to fix that #1786

[2018-10-01 17:10] #1762 closed

[2018-10-01 17:11] aldarund commented on #1790
@powerful23 not quite follow, the pr #1786 u referenced now is for totally different piece of code.

[2018-10-01 17:15] QuinnyPig opened #1800 "URL Encoding Issue"
When encoding an entire URL as a positional parameter, the generated canonical string for request singing has... challenges.

Reproduction: Pass any given URL as a positional parameter to an API gateway call. Trailing slashes are encoded differently, and thus break this use case. It would appear https://github.com/aws-amplify/amplify-js/blob/master/packages/core/src/Signer.ts#L98 may be the culpri

[2018-10-01 17:17] aaayushsingh commented on #1790
@aldarund try using a polyfill. set `global["window"] = {};`

[2018-10-01 17:18] #1785 closed

[2018-10-01 17:20] haverchuck commented on #1798
@Uzairrrr - Yes!  Please check out the instructions [here](https://aws-amplify.github.io/amplify-js/media/quick_start#step-5-host-your-app), under the heading "Existing AWS Resources".

I'm closing this issue for now, but please feel free to re-open it if your question has not been addressed.

[2018-10-01 17:20] #1798 closed

[2018-10-01 17:21] aldarund commented on #1790
@aaayushsingh zzz. it should be fixed properly on lib level ( e.g. checking for typeof of window), not via hacks in user land code. There could be other libs used as well that check for window properly and setting it like that will  make them think its browser and fail because of it.

[2018-10-01 17:27] mlabieniec commented on #1790
Amplify is a client side library and we want to stay focused on that (client-side not server-side, browser, mobile, RN etc). Adding actual support for node/server would take **a lot** more than just a global polyfill for example, a fetch polyfill etc and more. So adding a polyfill to just fill this window global object would not give support for node.

[2018-10-01 17:27] aldarund commented on #1790
Right now im using it only for cognito auth, and it work fine if that check for window fixed properly

[2018-10-01 17:31] powerful23 commented on #1790
@aldarund sorry about that. I submitted another one for this issue.

[2018-10-01 17:35] powerful23 commented on #1759
@ZebGirouard the warning will be removed in our next release and will only show up if sending events failed.

[2018-10-01 17:55] haverchuck commented on #1783
@dominiklessel  - We've merged a PR that should hopefully address this into our master branch.   You can pull it directly from GitHub or using the 'unstable' tag in npm (keep in mind it may take a bit of time to propogate to npm, as I merged the code seconds before writing this).

[2018-10-01 17:55] #1783 closed

[2018-10-01 18:42] powerful23 commented on #1781
@KylePalko of course you can submit one for that. But one thing is that can you try to keep the backward compatibility so that it won't break the current default behavior? Thanks.

[2018-10-01 19:06] KylePalko commented on #1781
@powerful23, good idea.

Would you imagine they pass through a configuration to `initializeIOS()` to preserve backward compatibility? Something like,

[code]

[2018-10-01 19:30] haverchuck commented on #1792
@jrp-23  - We do not have this at the moment, but I am marking this issue as a feature request.

[2018-10-01 19:39] haverchuck commented on #1795
@AntonSmatanik I believe that the usage of certs you've cited out is specific to IoT.  Amplify does not currently offer this functionality, although we will pass this request along.  Thanks for reaching out.

[2018-10-01 19:39] #1795 closed

[2018-10-01 20:15] richardzyx commented on #895
@markmckim I've tried building amplify enabled project with RN 53 & 55, and I found that if I add amplify after adding in pod libraries (e.g. VS AppCenter) it will introduce several exceptions. The PR mentioned referenced React which requires adding React as a dependency in pod file. The workaround is then reference the React within node-modules rather than from pod to resolve the ambiguous refere

[2018-10-01 20:19] haverchuck commented on #1784
@anupsarkar377  - Are you installing amazon-cognito-identity-js separately from aws-amplify?  If so, perhaps you are ending up with two versions of amazon-cognito-identity-js - the one you've installed and the one required by amplify?  Perhaps you can deleting your node modules and package-lock and then modifying your package.json so that it doesn't include amazon-cognito-identity as a dependency.

[2018-10-01 20:20] #1759 closed

[2018-10-01 20:20] #1790 closed

[2018-10-02 00:18] edgarelc commented on #1445
Any news on this issue? Still having problems with ionic 3 when building prod builds. I'm using aws-amplify version 1.1.4 and aws-amplify-angular version 2.0.7

[2018-10-02 01:03] lshe7842 opened #1805 "CognitoUser is still using MemoryStorage even with custom storage object configured."
**Describe the bug**
What I'm trying to do is to authenticate user using Cognito user pool via amplify-js on nodejs server side.
Followed the official amplify-js guide to configure Auth to use my custom storage object. Upon inspecting the codes during runtime, I found CognitoUser is still using MemoryStorage instead of the custom storage object I configured. This very likely leads to issue with ``

[2018-10-02 01:13] pmd30011991 commented on #1797
Thanks for replying
I’m trying to push notification to both ios and android phones which are install my application

I also share cognito user data to analytics as well

I also test with mobile push configurations with device token to make sure the config correct.

[2018-10-02 01:31] elorzafe commented on #1793
Hi @mllrmat how are you integrating Amplify Auth with Apollo cache?

[2018-10-02 03:27] jadbox opened #1806 "Parcel fails to bundle amplify: Cannot resolve dependency 'aws-sdk/global'"
parcel-bundler: "^1.10.1"

[code]

[2018-10-02 04:37] nedlowe opened #1808 "Automatic Page View Tracking"
** Which Category is your question related to? **
Analytics - Automatic Page View Tracking:
https://aws-amplify.github.io/amplify-js/media/analytics_guide.html#page-view-tracking

** What AWS Services are you utilizing? **
Pinpoint

** Provide additional details e.g. code snippets **
Has anyone managed to get this working using the link above (POJO, I'm not using React/Angular or anything else tha

[2018-10-02 04:43] bingtimren commented on #876
Hi if you just want to use AppSync service with node client I built a template project here.
https://github.com/bingtimren/aws-appsync-nodejs-template.js

Hope it helps.

[2018-10-02 05:58] builtbyproxy commented on #1528
For additional information:

The library required is this: https://www.npmjs.com/package/react-native-vector-icons

My understanding to fix this is:
- 1. `yarn add react-native-vector-icons` || `npm i react-native-vector-icons`
- 2. `react-native link`

You should get an image similar to this:
![Console Result](https://i.imgur.com/sk3R0Wo.png)

Can this be closed thanks to the Merged PR above?

[2018-10-02 07:44] dominiklessel commented on #1783
@haverchuck Thank you very much! This works as expected 👍

[2018-10-02 09:00] edxxgardo opened #1809 "POST https://cognito-idp.us-east-1.amazonaws.com/ 400"
I hope you can help. I downloaded this application from GitHub:

https://github.com/tensult/ngx-s3-upload

I installed it on my OSX and its running. Then I open my browser, tried to log in with email and pwd and I get the error you see in the attachment. It looks like the error is due to a malformed request, something related to the amplify framework. Not to mention that I tried all kind of settin

[2018-10-02 09:30] psycura opened #1811 "window is not defined error on next.js project"
`package.json`

[code]

Server start ok, but on first page load receive:
[code]

[2018-10-02 11:02] goodryanboy commented on #1347
``

can you send your code?

[2018-10-02 12:35] mattbryce93 opened #1812 "AWS Cognito optional TOTP MFA error "Unknown error, the response body from fetch is: undefined""
** Which Category is your question related to? **
amazon-cognito-identity-js
** What AWS Services are you utilizing? **
Cognito User Pool
** Provide additional details e.g. code snippets **
I am attempting to get TOTP MFA working with my User Pools. The issue I am running into is that I want to have the MFA set to optional. This is the code that handles the authentication:

[code]
Currently, authe

[2018-10-02 13:42] bh213 opened #1813 "Auth.currentSession keeps calling https://cognito-idp.<region>.amazonaws.com/"
**Describe the bug**
Whenever Auth.currentSession() is called, it will do a request to https://cognito-idp.us-east-1.amazonaws.com/ (AWSCognitoIdentityProviderService.GetUser). I think session should be cached until it expires.

**To Reproduce**
Steps to reproduce the behavior:
Call:
[code]
Check network tab in (say) Chrome and see new request to https://cognito-idp.us-east-1.amazonaws.com/
Header

[2018-10-02 14:21] jannikweichert commented on #825
@powerful23 Any updates on this?

[2018-10-02 14:47] darreko commented on #1415
@goodryanboy @pmd30011991 I'm also having issues not seeing the endpoints. Any help would be awesome!

[2018-10-02 15:03] haverchuck commented on #1811
@psycura - The Amplify library does not officially support Node.js usage at this point (and I believe Next.js uses server side rendering, yeah?).  You are seeing this error because the library is expecting the window object that is present in the browser.  You can try using a polyfill for the window object, and you might also need to use something like [node-fetch](https://www.npmjs.com/package/no

[2018-10-02 15:06] haverchuck commented on #1808
@nedlowe  - Which version of Amplify are you using?  Are you receiving any sort of error output?

[2018-10-02 15:21] BronxBombers opened #1814 "Overriding existing s3 data on iOS is broken"
**Describe the bug**
I have amplify configured correctly and working for Auth and Storage (s3). All s3 operations work, except when trying to override an existing file with put, or delete. The issue only happens on iOS, and works perfectly fine on Android. The specific error message I am getting is a "501 Error: A header you provided implies functionality that is not implemented".

**To Reproduce*

[2018-10-02 15:36] haverchuck commented on #1814
@BronxBombers Are you using React Native?

[2018-10-02 15:43] BronxBombers commented on #1814
Yes react native

[2018-10-02 15:47] haverchuck commented on #1809
@edxxgardo -  I am not seeing where this application is using the Amplify library.  What part of the stack trace is pointing to Amplify?

[2018-10-02 15:48] haverchuck commented on #1797
@pmd30011991  Did you set up analytics with the Amplify-CLI?

[2018-10-02 16:08] sanudatta11 commented on #1738
I am in the same issue

[2018-10-02 16:50] powerful23 commented on #1797
Related to #1779

[2018-10-02 16:54] mattbryce93 commented on #1738
@isamsamet Try adding this within the authenticate user function and use the log to to see what is needing defined:
[code]
Some of these will be required depending on the User Pool configuration. Have a look at use case 23 and 27 for how these blocks should be configured. [Use cases here.](https://github.com/aws-amplify/amplify-js/tree/master/packages/amazon-cognito-identity-js)

[2018-10-02 16:59] sanudatta11 commented on #1738
I removed the remember device and set it to no. It worked.

[2018-10-02 17:03] powerful23 commented on #1813
@bh213 thanks for you feedback. I agree that we should provide an option for the user to get the user/session only from the cache without sending a request to Cognito. This would also allow us to let Auth module work under offline scenario. Mark as feature request.

[2018-10-02 17:08] elorzafe commented on #1814
Hi @BronxBombers I try to reproduce your use and put and remove works for me. (I used "aws-amplify": "^1.1.4", "aws-amplify-react-native": "^2.0.4") My simulator is an iPhone 6 with iOS 11.2

Which version of aws-amplify aws-amplify-react-native are you using?

[2018-10-02 17:10] LiquidSean opened #1815 "Amplify Init Run on each machine used to develop?"
So I am working on a project and my team decided to go with amplify-js and react.js. My question is realated to 'amplify init'. Does that command need to be run on each developers machine when the pull the code? I noticed when I ran the command it created hardcoded paths to locations on my macbook. Also it looks like running amplify init on another machines destroys the previous instance

[2018-10-02 17:10] BronxBombers commented on #1814
I was using ^1.1.3 and ^2.0.3. i will try upgrading and see what happens.

[2018-10-02 17:12] elorzafe commented on #1814
@BronxBombers, how are you configuring Amplify?

[2018-10-02 17:14] BronxBombers commented on #1814
Using `Amplify.configure(AWSCONFIG);` with that being my aws-exports.js file which I did not touch, and was generated by my calls to Amplify init, Amplify add storage, Amplify add auth.

[2018-10-02 17:22] elorzafe commented on #1800
@QuinnyPig thanks for your feedback I will try to reproduce your issue and find a solution for this.

[2018-10-02 17:29] powerful23 commented on #1781
@KylePalko exactly, I would prefer an option in the configuration.

[2018-10-02 17:30] KylePalko commented on #1781
That works, will do!

[2018-10-02 17:36] haverchuck commented on #1811
@psycura I'm not sure what's being invoked that's causing this, but you might want to try putting it in componentDidMount.  It's my understanding that this would cause the code to be hit in the browser when 'window' is present.

[2018-10-02 17:37] QuinnyPig commented on #1800
While likely a crappy answer, I've been able to work around this using https://github.com/commenthol/url-safe-base64. "Suboptimal" doesn't really do it justice, but it's working for the time being.

[2018-10-02 17:52] haverchuck commented on #1806
@jadbox  - trying to reproduce this in a parcel-bundler [Vue example](https://github.com/parcel-bundler/examples), and so far unable.  Can you provide a little more detail as to how you're importing/using Amplify?

Much appreciated!

[2018-10-02 18:11] haverchuck commented on #1770
Related to #1811

[2018-10-02 18:27] dhanesh-kapadiya commented on #1770
@haverchuck
I'm using core@1.0.9 build which is safe. and it has polyfill for window object.
It was removed in core@1.0.13-unstable.1 update

I have tried using it inside componentDidMount, but still throws error.
Do you recommend us to use window and node-fetch polyfill ?
For me, I dont need polyfills for my projects, My thought is to keep those polyfills in aws-amplify@core module, which should

[2018-10-02 18:29] dbrookes commented on #1770
This seems to be fixed in the latest unstable via https://github.com/aws-amplify/amplify-js/pull/1802/files

[2018-10-02 18:45] psycura commented on #1811
I cant use it in componentDidMount because this error happen before component is load, i should init the aws graphql client first, and i cant skip this step.
Strange, but until the last update everything works fine, and i tried to revert back to the previous version, but with no success.

Did you plan to add node.js support in the near feature? This is very crucial for our project

[2018-10-02 18:58] bjclark13 commented on #137
@mlabieniec I see this was removed from the 2.1 milestone? Are there still any plans for implementing this functionality into Amplify?

[2018-10-02 18:59] dabit3 commented on #1528
@builtbyproxy yes it does look like #1543 should have fixed this.

[2018-10-02 18:59] #1528 closed

[2018-10-02 19:29] haverchuck commented on #1811
@psycura -  We are discussing Node / SSR interoperability, yes.  For the moment, can you try the unstable build of Amplify?  It appears that there is a fix that might address your specific issue in `@aws-amplify/core/lib/RNComponents/index.js`

[2018-10-02 19:55] jadbox commented on #1806
There's not a lot of code in my project. I've included my line of imports below.

[Latest] Versions:
* "aws-amplify": "^1.1.4",
* "aws-amplify-react": "^2.0.5"

Toolchain:

* Typescript 3.1.1 + react-scripts-ts
* Parcel bundler 1.10.1

[code]

tsconfig:
[code]

[2018-10-02 19:59] powerful23 commented on #1811
@psycura according to the error, this should have been fixed in #1802

[2018-10-02 20:17] jadbox commented on #1401
@ddddave thanks for the heads up, I've been working with the Hosted UI with the hopes of using it for a PWA on iOS and Android. The issue you mentioned seems rather dire for this strategy. I agree that it would be a lot more idea if the "Authenticator HOC" could encompass the functionality of the Hosted UI, namely, that it populates with all the right fields and has proper verifications. As it sit

[2018-10-02 20:57] goughjo02 commented on #1002
restart and clear cache 'R',  followed by actually quitting and restarting the packager fixed this for me

[2018-10-02 22:30] natebushman commented on #876
Using some of the aforementioned hacks I was able to get an older version of aws-amplify (0.4.8) to work with Node.js v10.3.0.  However there are some bugs in that version of aws-amplify and I'd really like to upgrade to aws-amplify 1.1.4.  However the same hacks don't work and I can't seem to get aws-amplify 1.1.4 working with Node.js.

Has anyone successfully nudged aws-amplify 1.1.4 to work wit

[2018-10-02 22:54] natebushman commented on #882
@powerful23  Hey, thanks for addressing this.  Do you have any idea when a solution will appear in the latest stable aws-amplify NPM module?  And will it also fix issue [876](https://github.com/aws-amplify/amplify-js/issues/876)?

Like many others, we'd love to be able to use aws-amplify with Node.js in order to run test scripts and utility scripts.  However even with the most recent version of aw

[2018-10-02 23:06] ryanwmarsh opened #1819 "Auth/Unauth roles"
Could you help me understand the necessity for the auth/unauth roles? I’d like to understand more of what’s going on with the CloudFormation that Amplify is generating and how it’s used, especially before putting it into prod.

** Which Category is your question related to? **
Roles in the CFN templates

** What AWS Services are you utilizing? **
This is in the base template

** Provide additional

[2018-10-02 23:48] elorzafe commented on #1800
@QuinnyPig how are you trying to call the api using Amplify?

[2018-10-03 00:00] nedlowe commented on #1808
1.1.4

No error I'm afraid. Session tracking and custom events are fine, it's just the automatic pageView ones.

If you have a working example, I'd love to see your app.js - I can use that to work backwards and work out what I'm doing wrong.

Many thanks

[2018-10-03 00:01] elorzafe commented on #1819
Hi @ryanwmarsh

One option to give access to your app end users to AWS resources is by giving them temporary AWS credentials. (Those temporary credentials are provided by Amazon Cognito Federated Identities (IdentityPool))

Your App IdentityPool can give credentials to authenticated and unauthenticated users (guest user that didn't signup in your app). Each group of users (auth and unauth) has an

[2018-10-03 02:34] pmd30011991 commented on #1797
I just upgrade aws-amplify to version 1.1.4 then solved.

[2018-10-03 02:34] #1797 closed

[2018-10-03 02:34] pmd30011991 commented on #1347
@goodryanboy : Actually I just upgrade the aws-amplify to 1.1.4 then solved THanks

[2018-10-03 05:48] BronxBombers commented on #1814
@elorzafe Actually my last comment was not the whole truth! I'm unable to override/delete admin created data, and more broadly, **any data that was not created in the current session**. For example, I upload data, and before logging out, I am able to delete/change it. However, once I close the app, and re-log in, I get the 501 error when trying to change that data that I was just able to manipulat

[2018-10-03 06:00] jinjingbo commented on #1734
@meatherly

Typo, it should be @types...

[2018-10-03 07:10] gabehollombe-aws commented on #1272
👍  I'd like this, too.

My specific use case is that I'm using semantic-ui-react and am rendering some images captured by a webcam, with the img src passed directly to Semantic UI React's Image component. I'm rendering these images alongside existing images in an S3 bucket via aws-amplify-react's S3Image component.

My problem is that I want the S3Image images to render similarly to the Image imag

[2018-10-03 08:11] bh213 commented on #1813
@powerful23 Is there a best practice on how to cache `idToken.jwtToken` that would also properly handle signout/switch user scenario?

From my debugging it seems idToken gets stored in local storage while user data (attributes and such) are always refreshed using `AWSCognitoIdentityProviderService.GetUser`. So just loading id from storage might actually work but unfortunately there is no expire da

[2018-10-03 08:39] orucrob commented on #1772
Playing with this issue a little bit and found a problem: claims are not available, when you are using access token here: https://github.com/aws-amplify/amplify-js/blob/0116b637ff1809310df5ee9dad48a98af91040bc/packages/api/src/API.ts#L295

when you change it to :
`Authorization: session.getIdToken().getJwtToken()`

your claims are available and I'm able to get them this way in resolver:

`#set( $p

[2018-10-03 08:39] MathiasGruber opened #1823 "Allowing API users to run lambda using execution role from Cognito"
What I want to do is have a lambda function, which assumes the cognito roles, so as to allow it to access the S3 buckets of the user making the request and nobody else. I've followed this guide for setting up API gateway:
https://aws.amazon.com/premiumsupport/knowledge-center/cognito-user-pool-group/

But "cognito:roles" key never appears in the event variable in the lambda handler. Everything els

[2018-10-03 09:01] sflamme commented on #1772
!!!! respect
you're the man.
Totally works and solve it indeed....
Not sure if there is any unwanted associated border effect?

On Wed, Oct 3, 2018 at 10:39 AM Rob <notifications@github.com> wrote:

[2018-10-03 09:11] mattbryce93 commented on #1812
I have done more investigation and on the response after trying to verify my token the response gives:
[code]
And after testing the login after running a function to change the users MFA preferences:
[code]
They are now required to use the TOTP software token. The only issue is that my code is not ingesting that Success response correctly to take it to the onSuccess function block.

[2018-10-03 09:53] markmckim commented on #895
Hmmm that's interesting. Something in the pod install must be messing up the Xcode proj from the sounds of it. Thankfully amplify was the first thing I added, however even when i do a pod install from a fresh clone of the repo, i don't see this issue.

[2018-10-03 10:00] orucrob commented on #1772
I **believe** there is no unwanted effect.

Because from the [doc](https://docs.aws.amazon.com/cognito/latest/developerguide/amazon-cognito-user-pools-using-tokens-with-identity-providers.html#amazon-cognito-user-pools-using-the-access-token):

This is the only difference:

So that's why I believe it has no side effect in context of this issue.
But it wants at least one more opinion... ;-)

[2018-10-03 10:35] sflamme commented on #1772
Lots of thanks!!! Makes my app security logic so much easier and my
resolver more straight forward.

On Wed, Oct 3, 2018, 12:00 PM Rob <notifications@github.com> wrote:

[2018-10-03 10:53] stormit-vn opened #1824 "Enabling federation to AWS via Cognito User Pool using AD, ADFS, and SMAL2"
** Which Category is your question related to? **
**Authentication**

** What AWS Services are you utilizing? **
**AWS Cognito**

** Provide additional details e.g. code snippets **
We would like to implement the authentication flow to Cognito User pool that connects to our Windows Active Directory. This instruction https://aws.amazon.com/blogs/mobile/building-adfs-federation-for-your-web-app-usin

[2018-10-03 10:56] stormit-vn opened #1825 "Provide a set of built-in example projects"
**Is your feature request related to a problem? Please describe.**
Like other authentication modules such as Okta. They built some example projects that allow developer easy to clone and work on that project without spending the time to set up new empty project even using CLI. If we have the example projects, then we only focus to learn how to use this module and its APIs

**Describe the solution

[2018-10-03 10:57] jonasao commented on #1791
Thanks @jordanranz

[2018-10-03 11:00] jonasao opened #1826 "ReactJS - Auth - missing I18n support"
**Description**
The text "or" between the federated identity choice and username/password in the authentication form cannot be translated to du missing support for I18n.

This bug resides in the following file:
https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-react/src/Auth/FederatedSignIn.jsx

**Expected behavior**
Support for I18n, allowing the user to translate this te

[2018-10-03 11:02] mattbryce93 commented on #1812
When testing with a User Pool with MFA set to required the response I receive is:
[code]
So there is definitely a difference, all I can think of is that I am already authenticated in the MFA Optional Pool (which is necessary to associate and verify a software token).

[2018-10-03 11:11] paolocaminiti commented on #1772
Great!

[2018-10-03 11:14] fabianleeaws commented on #159
Thanks for sharing @PaulRBerg, ran into the same issue. Will prob go with option 3 as well. Hopefully they look at this eventually

[2018-10-03 11:28] leesolway commented on #1730
Would love to see this feature added.

[2018-10-03 14:05] Jeyloh opened #1827 "Documentation mismatch with functionality. Regarding "pull from console""
** Which Category is your question related to? **

Amplify-CLI in general. Regarding editing in Console and pushing from CLI later. The specific question is related to: https://aws-amplify.github.io/amplify-js/media/api_guide#customization

** What AWS Services are you utilizing? **

All except Chatbots. This is directly related to Cloud-API: Lambda and API Gateway.

** Provide additional details

[2018-10-03 15:02] mattbryce93 commented on #1812
So I have managed to get this working and want to update this here to allow anyone else having issues to be able to resolve it.

This would only ever happen to a User Pool where the MFA settings are set to "optional". Which is fine for me as that is what I want for this use case. With the authenticateUser method called on cognitoUser the onSuccess method within it takes in a result variable. This

[2018-10-03 15:02] #1812 closed

[2018-10-03 15:20] haverchuck commented on #1825
@stormit-vn - Thanks for reaching out.  This is a great suggestion.   We have several starters that are in the works or just need to be updated, but for now here is a Vue.js starter that you can take a look at:

 [AWS Amplify Vue Starter](https://github.com/aws-samples/aws-amplify-vue)

[2018-10-03 15:40] richardzyx commented on #895
Yeah I can verify that as well, which is why it was very difficult to pinpoint what exactly caused this issue. We are guessing it's how react-native link works with cocoapods and there's several unresolved issues on a couple other libraries that also added a dependency on react in their pod files.

After we figured out we have a good sense of the issue we did the real project upgrade using the pod

[2018-10-03 15:42] markmckim commented on #895
Good luck!

[2018-10-03 16:15] rojagit commented on #1344
Awesome ! Will give it a shot soon ..Thank you!

[2018-10-03 16:40] BronxBombers commented on #1814
@elorzafe Same user. The error message I'm receiving is not a permission denied. I tried granting administrator permissions to the user group, and got the same error message back so it definitely has nothing to do with permissions. Just to be clear on what is happening, I log in with a user. I am able to get the user's data, create new data, and modify/delete data that was created only in the curr

[2018-10-03 16:56] powerful23 commented on #1378
@bbernays hi we've escalated this issue to the service team. Waiting for their response.

[2018-10-03 17:34] elorzafe commented on #1734
I've just tried aws-amplify@unstable (1.1.6-unstable.1) with create-react-app typescript project, and the typescript error is not there anymore.

[2018-10-03 17:36] elorzafe commented on #1532
@ffxsam did you pull the latest code?

[2018-10-03 17:38] haverchuck commented on #1808
@nedlowe  - Are you building a single page app, and if so did you set the Analytics 'type' config value to `'SPA'`?

[2018-10-03 17:48] ffxsam commented on #1532
That fixed it. Pulled upstream master to my remote, rebased my feature on top of that, ran yarn. Good to go!

PS: I got a warning about having both `yarn.lock` and `package-lock.json`. We probably shouldn't have both, and then it should be enforced in `CONTRIBUTING.md` to use either npm or yarn.

[2018-10-03 17:50] dhanesh-kapadiya commented on #1770
No, I only used stable version, which installed **core@1.0.13-unstable.1** through yarn, that update have this error, after that I couldn't get a chance to test new releases again. I'll update my project with the latest unstable build of amplify and I'll update you on this issue as soon as I can.  Thanks man.🥂

[2018-10-03 17:53] ffxsam commented on #1532
PR opened, awaiting review.

[2018-10-03 17:57] haverchuck commented on #1826
@jonasao -  we just merged a fix for this into our unstable branch.  You can install it from npm using the '@unstable' tag.

[2018-10-03 17:57] #1826 closed

[2018-10-03 18:23] jadbox opened #1831 "GraphQL always gets bundled (webpack)"
These are the only imports I have of Amplify, and I'm not using any of the GraphQL features. However, when using Webpack Bundle Analyzer, I see that almost 150kb of my project hundle is the GraphQL module that Amplify imports. I did try to tell Webpack to exclude the module from my build, but then Amplify fails to load because it explicitly imports GraphQL in one of its files (there was no stack t

[2018-10-03 19:08] nedlowe commented on #1808
Hi,

1. No.
2. No.
3. Thanks.

Do you have an example of it working in any situation?

Thanks

[2018-10-03 19:14] jordanranz commented on #1791
Going to go ahead and close this issue now. Please reopen if you experience any issues.

[2018-10-03 19:14] #1791 closed

[2018-10-03 19:15] haverchuck commented on #1808
Yeah - working on getting a Vue example pushed outt to GH but it might be a little while before that happens.
When you do verbose logging, are there any Pinpoint entries in your console?

[2018-10-03 19:44] #1819 closed

[2018-10-03 19:53] powerful23 commented on #1831
@jadbox can you try removing `aws-amplify` and only installing `@aws-amplify/auth`?

[2018-10-03 20:30] haverchuck commented on #1806
@jadbox  I was able to import these modules in a parcel build with [this sample app](https://github.com/jaredpalmer/react-parcel-example). This leads me to think it has something to do with your tsconfig and/or react-scripts-ts.

Out of curiosity, why do you have webpack files in your exclude array?  Are you using webpack and paracel concurrently somehow?

[2018-10-03 20:34] haverchuck commented on #1811
@akaufmann  The file you cited above has been updated in the aws-amplify '@unstable' build.

[2018-10-03 20:35] #1811 closed

[2018-10-03 20:50] jadbox commented on #1831
@powerful23 So installed `@aws-amplify/core'` (I need it for Hub unless there's another way to get it) and  `@aws-amplify/auth`. However, I forgot I was importing aws-amplify-react for the hosted UI redirect feature and now it complains about missing all sorts of amplify modules... I didn't get through them all but a good guess might be that graphql might be one of them. This is my only import for

[2018-10-03 20:55] daanoz commented on #1143
If you don't want to switch code to the PR branch, this workaround also works for me:
[code]

[2018-10-03 21:20] jadbox commented on #1806
@haverchuck Hah nice catch, I've been currently trying out both to see which one would be better for my project.
I'm going to close this ticket for now since you have a working test, and I've had to move on and decided to go with Webpack as it wasn't giving me this issue.

[2018-10-03 21:20] #1806 closed

[2018-10-03 21:33] chai86 opened #1834 "Basic user signin issue in starter app"
In the _aws-mobile-react-native-starter app_, when using the app to sign in (having successfully signed up), i get the error:  **cannot read property of 'signIn' undefined**. It appears in the login screen window on the iOS iPhone simulator.

I'm trying to use the username and password combination that i signed up with, but it returns this error and i don't know why. The error appears to be thrown

[2018-10-03 22:07] gwander commented on #1718
@zyzski Can you pm me your some of your sample requests? like request id with timestamp, or har file

[2018-10-04 00:27] QuinnyPig commented on #1800
[code]

You can swap the `encodeURIComponent()` for a variety of things; url-safe-base64 is the only thing I've found so far that works reliably.

[2018-10-04 02:32] stormit-vn commented on #1825
@haverchuck  Thanh you for your response. I am looking for angular/react project. Much appropriate if anyone can share your example that you are working on.

[2018-10-04 02:46] stormit-vn opened #1836 "Missing Paho type definitions"
I am getting this error when importing AmplifyAngularModule into Angular project

ERROR in node_modules/@aws-amplify/pubsub/lib/Providers/MqttOverWSProvider.d.ts(11,72): error TS2694: Namespace ''*'' has no exported member 'Client'.
node_modules/@aws-amplify/pubsub/lib/Providers/MqttOverWSProvider.d.ts(28,70): error TS2694: Namespace ''*'' has no exported member 'Client'.
node_modules/@aws-amplify

[2018-10-04 03:40] Dashfire commented on #717
+1

[2018-10-04 04:30] stormit-vn commented on #439
@danieladams456  I am also looking for a sample implementation with Angular and ADFS. Are you able to share your sample? Are you using built-in AWS Cognito Web UI or build your own sign in form and use initiateAuth API?

[2018-10-04 04:41] stormit-vn commented on #525
We have a project that needs to implement our own sign form (not using built-in Cognito web UI), we have an ADFS to manage our user in an Active Directory. We will have a Cognito User Pool create and configure SMAL provider to integrate with our ADFS.

User access to our sign in page, enter their AD username/password, then clicks Sign In. Basically, it works for users are managed in Cognito User P

[2018-10-04 06:55] nedlowe commented on #1808
OK so through the use of VERBOSE I could see that when I reloaded the page it was giving the 'the url is same' mentioned above (it's not SPA, it doesn't have a router - I was just reloading).  I guess that that was invalidating my debugging/testing, as anytime I changed anything I was reloading the page - and that was probably being filtered I guess.  I got it to work now.   Thanks.

[2018-10-04 08:20] callmekatootie commented on #1759
I have updated the module in my app and I no longer get the error. Thank you for the fix.

Out of curiosity, why did we get the error even if we are not using analytics?

[2018-10-04 08:37] jexh opened #1837 "True multi-tenant support and modelling with @auth"
I have tried modelling my application with Amplify but, as far as I can see, the auth config using Cognito  does not currently support true multi-tenancy. By true multi-tenancy I mean that users belong to one or more organisations with a particular session being bound to a single organisation at a time. Data associated with one organisation should never be visible to another organisation. Like use

[2018-10-04 09:03] jexh opened #1838 "Support for global services"
I have tried modelling my application with Amplify but it doesn't currently have the multi-region support that I require.

I am building a complex service spread across multiple regions. Some of the data used by the service would most naturally fit in Dynamo global tables, other data would be region specific. It would be great to have Amplify support the tagging of @model directives to control the

[2018-10-04 09:26] guanzo opened #1840 "Customize how Cognito JWT's are stored"
** Which Category is your question related to? **

Auth

** What AWS Services are you utilizing? **

Cognito

** Provide additional details e.g. code snippets **

Is it possible to connect this lib: https://github.com/zendesk/cross-storage with aws-amplify? As far as I know, you can tell amplify to either store the JWTs in localStorage or cookies. Can the Auth module accept some sort of class that

[2018-10-04 09:36] jexh opened #1841 "Support for separate GraphQL and Data Layout schemas"
I have tried modelling my application with Amplify but it doesn't currently have an abstraction layer that allows for different GraphQL and Dynamo schemas.

In my project, the data held in the DB does not have a one-to-one relationship with the queries and mutations described in the associated GraphQL schema. Business needs dictate that the GraphQL queries and mutations cannot translate directly o

[2018-10-04 11:12] engharb commented on #825
I have followed https://github.com/aws-amplify/amplify-js/issues/1143 and using amazon-cognito-auth-js to SignUp/SignIn using Social Accounts i.e FB, Google providers.

[2018-10-04 15:33] mwarger commented on #552
@powerful23 can this be re-opened?

[2018-10-04 15:34] mwarger commented on #1836
I raised this as well with a previously closed error: https://github.com/aws-amplify/amplify-js/issues/552

[2018-10-04 15:36] haverchuck commented on #1838
@jexh - thanks for reaching out.  We've tagged this as a feature request.

[2018-10-04 15:37] mwarger commented on #1836
@haverchuck this isn't just an Angular issue.  This happens as well for me for a React project using TypeScript.  I think it's a more general issue with the types.

[2018-10-04 15:46] mwarger commented on #1815
This seems related to https://github.com/aws-amplify/amplify-cli/issues/233

[2018-10-04 15:52] haverchuck commented on #552
@mwarger -  I'm continuing this discussion on #1836 .

[2018-10-04 15:54] haverchuck commented on #1836
@mwarger and @stormit-vn - I just made a fresh angular 6 app and imported these amplify libraries...
[code]
...and integrated the authenticator module.  No problems so far.  Could you provide a little more detail about your project(s) so I can reproduce this issue?

[2018-10-04 15:57] stormit-vn commented on #1836
@haverchuck ha are you able to share your sample project? You are using angular with webpack bundler or with angular cli starter project?

FYI - I used [angular starter](https://github.com/gdi2290/angular-starter)  and tried to import modules and getting above error

[2018-10-04 15:57] haverchuck commented on #1808
@nedlowe - thanks for letting use know it's resolved.

[2018-10-04 15:57] #1808 closed

[2018-10-04 15:58] haverchuck commented on #1836
@stormit-vn I used the angular cli.  I'll pull down the project you linked to above and try to repro.

[2018-10-04 16:12] zyzski commented on #1831
graphql is bundled in mine even after removing aws-amplify-react. here's a screenshot of my bundle generated by create-react-app.

![screen shot 2018-10-04 at 12 08 10 pm](https://user-images.githubusercontent.com/4314335/46487605-6f579000-c7ce-11e8-8ae7-c32b43a4cc03.png)

this is my only import statement:
`import Amplify, { Auth } from 'aws-amplify';`

[2018-10-04 16:16] stormit-vn commented on #1836
@haverchuck  you can use my fork repo at https://github.com/stormit-vn/angular-starter/

[2018-10-04 16:34] haverchuck commented on #1836
@stormit-vn and @mwarger -  try:
[code]
I believe this issue has been fixed on those builds.  Using the unstable builds I got the starter to work without issue.

Closing for now, but feel free to re-open!

[2018-10-04 16:34] #1836 closed

[2018-10-04 16:48] ken0x0a commented on #786
About "AmplifyMessageMap.js",

https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-react-native/src/AmplifyMessageMap.js#L37

I think this line should be
`return I18n.get(msg, msg);`

or

[code]
are unnecessary code.

[2018-10-04 16:57] powerful23 commented on #1831
The root cause is the `aws-amplify` which will import all the modules. And if you are using `aws-amplify-react`, you have to import the whole `aws-amplify` library for now.

[2018-10-04 16:58] powerful23 commented on #552
@mwarger this issue should have been fixed by #1821

[2018-10-04 17:12] powerful23 commented on #525
@stormit-vn so you want to make the ADFS as one of the provider for your Cognito User Pool? If it is, you have to use the Cognito Hosted UI to do that for now.

[2018-10-04 17:14] syang commented on #565
I think item 1 is a commonly needed feature for a web app (though Item may be a bit advance and not necessarily needed by every web app), has it been supported by Amplify?

[2018-10-04 17:32] powerful23 commented on #1840
@guanzo You can try to provide a storage interface to the Auth module: https://aws-amplify.github.io/amplify-js/media/authentication_guide.html#managing-security-tokens

[2018-10-04 18:10] zyzski commented on #1831
thanks for the quick response. is there any way to configure the auth module with cognito pool info without including Amplify?

[2018-10-04 20:07] haverchuck commented on #1758
This would be problematic at the moment, but there might be some changes to Amplify in the near future to make it easier.

[2018-10-04 21:07] mlabieniec commented on #1635
@callmekatootie The aws-exports file should not be committed to source control, nor should the amplify folder generally. This contains your backend AWS information. it is at your discretion ultimately (private repos), but we recommended not committing it. We try not to  modify too much of your project/code i.e. edit your .gitignore etc.

The difference between the CLIs is the AWS Mobile CLI uses A

[2018-10-04 21:07] #1635 closed

[2018-10-04 22:01] guanzo commented on #1840
Great, this looks like exactly what I need, thanks.

[2018-10-04 22:01] #1840 closed

[2018-10-04 22:39] rogueturnip opened #1844 "PubSub reconnect"
**Is your feature request related to a problem? Please describe.**
When used in React Native on iOS having the app go into background ends the websocket connection.  Trying to detect the AppState and then resubscribe does not reconnect the connection

**Describe the solution you'd like**
Ability to use the paho-mqtt reconnect flag

There does not seem to be a way to keep the MQTT connection alive

[2018-10-04 22:45] elorzafe commented on #1844
Hi @rogueturnip I tried this to do reconnection on app state change and it works for me
[code]

[2018-10-04 22:58] rogueturnip commented on #1844
@elorzafe Thanks so much!  I'll give this a try.

[2018-10-04 23:41] elorzafe commented on #1739
I tried to reproduce the error but is working for me.

I tried the following code on my App.js file (I used create-react-native-app)
[code]

callApi1 is invoking an api that only allows access for authenticated users, callApi2 allows unauth and auth users. Both works fine after refreshing the app several times.

[2018-10-05 00:06] danieladams456 commented on #439
@stormit-vn, here are some snippets.  It is pretty solid but can't handle refreshes.  There is some complicated iframe stuff you can do for that type of thing, but I'm not a web developer enough to implement that myself.  We did a small app with this, but looking to use Azure AD and custom Lambda authorizers going forward.  Doing different roles in AD and passing those in SAML attributes to Cognit

[2018-10-05 00:56] elorzafe commented on #1824
@stormit-vn

Here is more detailed information for federation authentication to ADFS
https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-saml-idp.html

[2018-10-05 02:56] stormit-vn commented on #1824
@elorzafe Thank you for you information. Actually, I am able to implement the authentication flow to ADFS federation, but it uses built-in web UI of AWS. What I am looking is how we can implement our own login form without redirecting user to AWS Cognito login page

This also referred in #525 #439

[2018-10-05 06:46] Abhishek2kr commented on #165
@powerful23  This is still returning the warning
for the following code
                <form className="myform" onSubmit={this.validateLogin()}>
                   <div className="myformgroup">
                       <label>Email</label>
                       <input type="text" placeholder="Email" id="email" required></input>
                    </div>
                    <div className="myformg

[2018-10-05 07:40] Prithivraj200 opened #1846 "getSignInUserSession returns nulll"
Hi,

  userPool.getCurrentUser().getSignInUserSession() returns null.

[2018-10-05 09:30] stormit-vn commented on #1218
I'm also seeking for a resolution to handle refresh token for implicit flow since we are working on the SPA. Using authorization code flow can retrieve refresh token but its good because of security concern.  In [this](https://medium.freecodecamp.org/how-to-secure-microservices-on-aws-with-cognito-api-gateway-and-lambda-4bfaa7a6583c) example, you will see the response_type=code is required, but it

[2018-10-05 10:32] jliebrand commented on #488
I'm probably missing something here, but if I do:
[code]

Things work, but if I do
[code]

It fails with TypeError: Amplify.configure is not a function

?

[2018-10-05 10:45] stormit-vn opened #1847 "Expose api to retrieve authenticated status"
**Is your feature request related to a problem? Please describe.**
I want to determine whether we have any authenticated user to allow or not allow user access to a particular component of the app such as using Guard in Angular

**Describe the solution you'd like**
It would be better if we can expose an API in the auth module to retrieve the authentication state (i.e. auth.isAuthenticated() => ret

[2018-10-05 13:04] danieladams456 commented on #1824
@stormit-vn From what I remember, the Cognito hosted login page adds a nonce in the `RelayState` that it expects back from ADFS to prevent replay.  Like in my code in the other issue you referenced, you can add `&idp_identifier=` query parameter to select the ADFS server.  It will quickly redirect through the Cognito hosted login page but not require the user to click anything.

[2018-10-05 13:52] noellaby opened #1848 "User/device not recognized in AWS Pinpoint console during PushNotification.onRegister"
** Which Category is your question related to? **
React Native
** What AWS Services are you utilizing? **
'@aws-amplify/pushnotification'
** Provide additional details e.g. code snippets **

extracted from my source code (below) in the app.js file. but in the console aws pinpoint the endpoint is not register to receive push notifications? .

[code]

NB: aws-amplify analytics works perfectly
Nb: I

[2018-10-05 14:11] matamicen commented on #1727
thanks @powerful23

[2018-10-05 14:58] pachu4u commented on #941
I am using version 0.4.1 and I dont get custom attributes when I call Auth.currentUserInfo().
I have given read write permission as well as suggested here, although by default it should have read, write permissions.

Am I missing something here?

I am surprised, such a basic use case is a struggle.

[2018-10-05 15:33] schavaLogi opened #1849 "PushNotification open action deeplinking"
Push Notification deep-linking behaviour:
Would like to know how to detect the notification open and detect deeplink uri from the pinpoint object. Based on deeplink would like to open particular screen in the application

Current Behaviour:
Application launching directly but there is no information in Linking.getInitialUrl()

[2018-10-05 15:47] vdotniemykin commented on #1728
Are there any ways to display user's email or name just after signing in?
Thank you in advance.

[2018-10-05 16:35] antonsamper commented on #1734
I just tested on version `1.1.6` and can confirm its working as expected.

[2018-10-05 16:35] #1734 closed

[2018-10-05 17:19] elorzafe commented on #1846
Hi @Prithivraj200 can you give more details. Library Version, code snippet on how are you configuring the library.

Thanks!

[2018-10-05 17:26] coalaroot opened #1850 "Typo in authentication_guide"
You have a typo under link

https://aws-amplify.github.io/amplify-js/media/authentication_guide

in section #sign-in in code example
"// If MFA is enabled, sign-in should be confirmed with the **congirmation** code"

[2018-10-05 17:44] powerful23 commented on #941
@pachu4u can you try using the latest version of amplify? Also can you check the network request of the `Auth.currentUserInfo()` to see if there is any error message

[2018-10-05 17:47] powerful23 commented on #488
@jliebrand can you try `Amplify.default.configure()`

[2018-10-05 18:08] #1068 closed

[2018-10-05 18:55] elorzafe commented on #1814
@BronxBombers How large are the files?

[2018-10-05 18:59] BronxBombers commented on #1814
@elorzafe small text files <100 Bytes

[2018-10-05 19:58] elorzafe commented on #1814
I tried this code on my App.js file
[code]

This is my package.json
[code]

Can you try that code? Let me know how it goes

[2018-10-05 20:03] #1761 closed

[2018-10-05 20:04] BronxBombers commented on #1814
https://github.com/BronxBombers/Simpacta-Notes/blob/master/Mobile/package.json

[2018-10-05 20:08] BronxBombers commented on #1814
Here is the code for my delete: https://github.com/BronxBombers/Simpacta-Notes/blob/eb546ced36937864ef5dc3ff1e9d1009251e978d/Mobile/App/NotesScreen/Notes/NotesContainer.js#L50

[2018-10-05 20:10] BronxBombers commented on #1814
And this is the update code: https://github.com/BronxBombers/Simpacta-Notes/blob/eb546ced36937864ef5dc3ff1e9d1009251e978d/Mobile/App/NotesScreen/Notes/Note.js#L44

[2018-10-05 20:33] zyzski commented on #1324
@PedroS11 are you storing the access key and secret key in your front end code?

[2018-10-05 20:43] elorzafe commented on #1814
The code looks good to me, can you try a couple of things?

Can you verify the key of the object (There is a debug message: [DEBUG] 40:34.998 StorageClass - put...) When you are trying to update the file. Just compare if is the same.

The other is more challenging but it will be use withAuthenticator HOC and wrap your app around it like this.
[code]
You will need to disable your login flow :/

[2018-10-05 21:11] PedroS11 commented on #1324
No, I'm storing in the backend. For example when the front end does a request to /listUsers, in the backend I call that function and return the list

[2018-10-05 21:52] reggie3 commented on #1002
@powerful23
This problem still happens.  Hopefully, the following details will be useful:

Debug Output:
[code]

Code:

[code]

The `checkIfUserAlreadySignedIn `function is called from an `async` function using the code shown below:

[code]

I've additionally tried calling `curretAuthenticatedUser` directly from the async function like so:
[code]

At this point, I'm using Amplify 1.1.6

[2018-10-06 01:28] rogueturnip commented on #1844
So I gave it a try with much simpler function (no retry timeout) and I'm not getting the flow into the error so it can't do the retry.  I confirm it's doing the Next cause I see the output.
[code]

[2018-10-06 02:26] arsewizz opened #1852 "Flutter support"
is there any roadmap for flutter with amplify-js ?

[2018-10-06 02:50] mlabieniec commented on #1852
Hello, we don't currently have this on our immediate roadmap but I we can definitely mark this as a feature request and track the interest here.

[2018-10-06 02:57] arsewizz commented on #1852
Thanks for the reply

[2018-10-06 03:53] Akumar96 commented on #1538
Facing this issue as well

[2018-10-06 05:09] pachu4u commented on #941
@powerful23 - Tried with latest version 1.1.6, still do not see the custom attribute in response. All pre-defined attributes are present in the response.

[2018-10-06 06:43] pachu4u commented on #941
@powerful23 - It is working. I was expecting the attribute to show up even when the value is empty. I did a new registration with the custom attribute and then I could see the custom attribute when I call Auth.currentUserInfo()

[2018-10-06 08:39] stormit-vn commented on #1824
@danieladams456  Yeah, I have used that param and it works in the same way as you mentioned above. But I am still not sure whether we have a way to develop our own form login to ADFS Login page, then redirect with the tokens after handling the SMAL response from ADFS. This isn't a kind of SSO, but if in case if we want to hide the federation between Cognito and ADFS, that is reasonable.

[2018-10-06 08:46] stormit-vn commented on #1813
I am facing this issue too, there are a lot of calls to Cognito when calling currentUserInfo(), sometimes, there are 6 requests. Hopefully, we can fix this issue soon.

[2018-10-06 11:44] jocactus commented on #717
I am also interested in that. In the meantime, what is the recommended approach?

[2018-10-06 13:35] jaxondu commented on #1852
Very much interested.

[2018-10-06 13:48] nireak commented on #1460
Hi, In the main routine inside the lamdba function I solved the timeout adding this line

`context.callbackWaitsForEmptyEventLoop = false // avoid timeout for uncleared handles (Amplify)`

[2018-10-06 14:43] dimitarrusev commented on #122
@ehorodyski You can't. By opting to use modular imports, the `aws-amplify-angular` package is rendered useless. You have to write your own custom version.

Obviously, they won't state this publicly because it's already advertised that the library has "first-class support for Angular" (whatever that means) which makes things even more confusing in addition to their half-baked documentation. Smh.

[2018-10-06 16:04] rogueturnip commented on #1844
So I think I figured it out.  The addPluggable is where the websocket connection is made (client.connect) so I've put that into the sample spot where I check for active.  This then creates a new connection and things seem to start working.

[2018-10-06 16:42] CodySwannGT commented on #1460
Great find. Thanks a ton!

[2018-10-06 16:45] bocodigital commented on #1730
Me too!!

[2018-10-06 22:11] bmoquist commented on #612
Hi @yuntuowang - is there any update on this? This is a basic feature for so many applications and significantly improves the user experience. Furthermore, it has been a feature request from your customers for a long time (the above SO article is from Nov. 2017).

[2018-10-06 22:54] scottdewald commented on #1852
Interested! Lack of this SDK is why I didn't consider AWS when looking at cloud providers.

[2018-10-07 00:34] jagregory commented on #1189
Setting `authState='signUp'` doesn't work, because when the Authenticator component is mounted it calls `Auth.currentAuthenticatedUser()` and sets then goes through the signout flow, resulting in authState being set to `signIn` again. See: https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-react/src/Auth/Authenticator.jsx#L58

As far as I can tell, there isn't a way to show

[2018-10-07 07:18] dguisinger opened #1853 "Local storage is missing an ID Token, Please authenticate"
** Which Category is your question related to? **
Authentication

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
I am using Amplify within Angular 6.   Before Angular 6, I was using a much older version of Amplify that didn't support much more than Cognito with Angular 5 and this workflow worked just fine.   I keep seeing this error message

[2018-10-07 16:45] bmoquist commented on #612
@guanzo - Your solution worked brilliantly!

Create the Lambda function above. Then, in the Cognito User Pool UI, set the Message Customization trigger to that function under the Triggers section and set the verification type to code in Message Customizations section.

Here is the second half needed on the server (Node here) using the AWS SDK for everyone's reference:

[code]

[2018-10-07 19:13] DocCaliban commented on #610
Sorry, but who would rely on this? No one wants case sensitive email addresses or usernames, it's only going to lead to confusion.

@EssyTech I ended up just do the toLower() myself everywhere which is not ideal, but it works.  I was hoping that they would actually try to fix it though, instead of making excuses.

[2018-10-08 04:29] danielhep opened #1855 "CORS error when trying to invoke cloud-api function created in AWS Mobile."
** Which Category is your question related to? **
Cloud API/Lambda function
** What AWS Services are you utilizing? **
AWS Mobile, AWS Lambda
** Provide additional details e.g. code snippets **
I am getting a CORS error when I use API.get() in my code to invoke a private cloud-API that I created using the AWS Mobile CLI. It's an auto-generated lambda function based on a dynamo DB. When I invoke th

[2018-10-08 04:52] belarusrulez opened #1856 "Wrong schema generated. Missing body of input."
**Schema that I tried to feed in amplify:**

[code]

**Schema that got generated (check line 121):**

[code]
Thank you :)

[2018-10-08 05:18] dguisinger commented on #1377
Any solutions to this?
I'm having the same issue while calling Auth().userAttribute()

[2018-10-08 06:35] dguisinger commented on #1853
Additional information.
I have sat here trying to find a way to resolve this,and have been walking through the AWS Amplify code in a debugger.

I have found StorageHelper appears to be working.  When it starts up, it gets the window.localStorage object, and then sets a test value and removes it.   I can verify that the item is added and removed from local storage.

I have found that when this.stor

[2018-10-08 06:39] dguisinger commented on #1377
Saturday I opened issue #1853 regarding the issue I was having with userAttribute(), also seems to apply to change password now that I have tried to dig into it with a debugger, just like this ticket.  In my case, the user was a new user created from the AWS console and needed a change password upon login.  It appears that the code doesn't put that user into the local storage since they aren't log

[2018-10-08 08:28] stormit-vn commented on #671
I also facing this issue too, sometimes it sends to Cognito 6 times with the same request

[2018-10-08 12:11] sam-webchef opened #1857 "Amplify API get request example for listing all items throws an error"
I followed all the steps in the official doc and when used the code in the [example](https://aws-amplify.github.io/amplify-js/media/api_guide#get) as below replacing the API name and path, it doesn't return the list, instead it throws 404 error. I haven't made any manual changes in the API or related Lambda function.

[code]

But, if I pass an id of an existing record with the same request, it ret

[2018-10-08 13:01] noellaby opened #1858 "Conflict zo0r/react-native-push-notification and @aws-amplify/pushnotification"
Hello

I do not know how to do it because I have a conflict of package namely:
i am using @aws-amplify/pushnotification for remote push notifications and i want to use zo0r / react-native-push-notification for local notifications and badge. Here is the problem :

in the MainApllication.java file for the @ aws-amplify / pushnotification package we need to include importing this import com.amazonaws

[2018-10-08 14:50] BronxBombers commented on #1814
@elorzafe
The keys are 100% valid and I have checked and verified that this error message only happens when I am performing an operation with a key that already exists. For some reason whenever I try to use any Amplify UI components I get this error
<img width="342" alt="screen shot 2018-10-08 at 10 46 31 am" src="https://user-images.githubusercontent.com/28161704/46616093-c9ff2d80-cae7-11e8-84b9-

[2018-10-08 14:51] BronxBombers commented on #1814
I checked to make sure that mentioned file exists on my computer, and have ran all of the usual commands to resolve something missing from the Haste module map.

[2018-10-08 15:44] LoganArnett opened #1859 "Cannot find module '@aws-amplify/api' from 'Connect.js'"
**Describe the bug**
Getting this error when integrating aws-amplify-react GraphQL client into my application:
`Cannot find module '@aws-amplify/api' from 'Connect.js'`
`Can't resolve '@aws-amplify/api' in '/node_modules/aws-amplify-react/dist/API/GraphQL'`

**To Reproduce**
Steps to reproduce the behavior:
1. Init a create-react-app
2. Use the GraphQL client from aws-amplify and aws-amplify-react

[2018-10-08 16:04] LoganArnett commented on #1859
I was able to get my app working again by installing the missing module manually like so:
[code]
I can open a PR for this if that is indeed the fix needed, otherwise please let me know how else I can get around this issue

[2018-10-08 16:35] talhaZahidch opened #1860 "POST https://cognito-idp.ap-southeast-1.amazonaws.com/ 400 Client.js:47"
I am doing IAM authentication for my API gateway, when i login using cognito hosted UI it redirect me to app then this errors comes in console...

[2018-10-08 16:41] mtraynham commented on #1521
@powerful23 is there any timeline on when that would be completed?

[2018-10-08 16:44] zyzski commented on #146
has anyone been able to resolve this? my user is in an admin group with a special arn, but when I call the credentials they are still using the default federated `Auth_Role` arn

[2018-10-08 16:49] ZebGirouard commented on #1739
Thank you @elorzafe .  It seems that this is fixed on my app as well, after `npm i` changed my versions to

[code]

i.e. not "unstable" versions.  Thanks for looking into this.

[2018-10-08 17:16] armedoctopus opened #1861 "Unable to customize Builtin Vue Components (no examples / incorrect documentation )"
** Which Category is your question related to? **
Amplify Builtin Vue Auth Component customizing
** What AWS Services are you utilizing? **
IAM S3 LAMBDA DYNAMODB APPSYNC
** Provide additional details e.g. code snippets **
I am trying to customize the amplify vue sample using https://aws-amplify.github.io/amplify-js/media/vue_guide#signup-fields documentation to remove the phone number requirement

[2018-10-08 17:18] powerful23 commented on #1189
@jagregory good catch, will try to fix this later on.

[2018-10-08 17:37] mlabieniec commented on #1861
Have to tried the vue sample? This has been updated to use the new components:
https://github.com/aws-samples/aws-amplify-vue

which part are you finding to be incorrect in the documentation?

[2018-10-08 17:50] johncade commented on #83
👍

[2018-10-08 18:32] powerful23 commented on #1002
@reggie3 thanks for reporting. I found it might be caused by a missing catch in the Auth code. Have submitted a pr to fix that.

[2018-10-08 18:53] armedoctopus commented on #1861
I am using https://github.com/aws-samples/aws-amplify-vue
The default SignUp Vue component is in /src/router/index.js
From what I understand I need to customize the Auth component inside of that index.js using AmplifyEventBus I was researching how to do this and came across https://stackoverflow.com/questions/52578961/how-to-pass-objects-to-aws-amplify-vue-signup
After reading this I am unsure how

[2018-10-08 21:41] r3-yamauchi opened #1865 "I18n support Vue Authenticator"
I want to add I18n support to Vue.js version of authenticator components
in the same way as the React version.

[2018-10-08 21:47] elorzafe commented on #1859
@LoganArnett how did you installed amplify at the first place?

[2018-10-08 21:50] elorzafe commented on #1857
@sam-webchef did you create the API with CRUD operations on an Amazon DynamoDB table?

[2018-10-08 21:55] elorzafe commented on #1855
@danielhep is your api restricted to signed in users, are you configuring Amplify using `aws-exports.js` file?

[2018-10-08 21:58] elorzafe commented on #1850
Thanks, for pointing this!

[2018-10-08 22:02] elorzafe commented on #1849
@schavaLogi you can redirect your app when you get the notification on the `onNotification` event handler. Take a look [here](https://aws-amplify.github.io/amplify-js/media/push_notifications_setup#working-with-the-api)

I will close this issue for now, but feel free to reopen in the case you have issues with this.

[2018-10-08 22:02] #1849 closed

[2018-10-08 22:02] sam-webchef commented on #1857
Hi @elorzafe,

Thanks for your response. Yes, I created the API with CRUD operations.

[2018-10-08 22:03] powerful23 commented on #1865
@r3-yamauchi thanks, we will review that pr later on.

[2018-10-08 22:17] powerful23 commented on #1848
@noellaby did you follow the steps in https://aws-amplify.github.io/amplify-js/media/push_notifications_setup ?

[2018-10-08 22:19] powerful23 commented on #1860
@talhaZahidch can you provide more details like code snippets and  the request or response context of this http call?

[2018-10-08 22:27] ASteinheiser commented on #311
Yeah, I got Facebook logins working on React Native, but my only issue now is that the token seems to be expiring and give me an "Access Denied" on all my requests, until I re-auth with FB. It would be nice if it was handled the same way as the web sdk worked, where it automatically refreshed your tokens. Such a headache...

[2018-10-08 22:29] ASteinheiser commented on #39
Seems to be released, but I am experiencing token expiration issues with FB logins. The fb token has a long expire time, but for some reason, getting "Access Denied" on my API requests after a little while. Almost seems like the aws token is failing to refresh my fb access token.

[2018-10-08 22:39] powerful23 commented on #1377
@saikumar-madana maybe it's too late but `cognitoUser.changePassword` or `cognitoUser.changePassword` will throw error when the user is not authenticated.

@dguisinger if you created a user from the cognito console, you need to call `Auth.completeNewPassword(cognitoUser, password, required_attrs)` to submit the new password and finish the sign in process.

[2018-10-08 23:00] #1189 closed

[2018-10-08 23:10] dguisinger commented on #1377
Wait, that error message actually does mean the user must be authenticated and that the call requires an authenticated user?

Can we get a better error message?  The internet is full of people asking what the heck this error message means, I can't imagine how many others are getting this message and have no idea what it means.

[2018-10-08 23:16] ivanji commented on #1548
Hi guys, I see this has been marked as an 'enhancement'. A bit strange then that this wasn't the normal behaviour in the first place, I thought I was doing something wrong.

I wonder now what's the purpose of returning the key only. Is there any way of getting all the object details from the key only? please advise. Glad to implement an alternative approach until this enhancement is added.

[2018-10-08 23:33] #1002 closed

[2018-10-08 23:35] ASteinheiser opened #1867 "react-native-fbsdk and AWS Amplify token refresh"
**Describe the bug**
I am building a mobile app with React Native, `react-native-fbsdk` and `aws-amplify`. I was able to successfully login with email and facebook using Cognito. Now the issue that I'm having is this:

After a while, I get "Access Denied" when I try to make API requests. This only happens with a facebook authed user in my system. It appears the facebook token is not getting refres

[2018-10-08 23:46] mlabieniec commented on #1548
The library doesn’t make an additional call to retrieve the item for you but simply just puts the item you can then retrieve it via the key with a storage.get. This not only limits network requests but there could also be permissions involved I.e. your client might have put permissions but not get etc. It is marked as an enhancement since we could potentially put in an additonal arg to perhaps ret

[2018-10-08 23:48] powerful23 commented on #1867
@ASteinheiser Hi as you know the aws credentials will not be successfully refreshed if the token itself is expired. Amplify could refresh facebook tokens automatically in the web environment but not in React Native. You need to refresh it yourself or pass a refreshHandler to the Auth module: https://aws-amplify.github.io/amplify-js/media/authentication_guide#enabling-federated-identities -> refres

[2018-10-08 23:56] bingtimren commented on #697
Why do you need have multiple graphql endpoints?

I would add a use case and upvote the multiple graphql endpoint feature. It's common that some api is secured by IAM or cognito user pool authentication while other api is open. Currently AppSync does not support multiple authentications (that's another feature request to AppSync) so one work around would be to use multiple endpoint with different

[2018-10-09 00:18] ivanji commented on #1548
I totally understand your reasoning behind the current implementation. The additional arg would certainly help to go that extra step - and it'd seem like a more complete solution. Thanks for your explanation and help with this.

[2018-10-09 00:20] tarciomota opened #1869 "Support to ValidationData on Auth.SignIn"
I needed to send extra parameters in SignIn through ValidationData

Today the SignIn method allows us to only send user and password.
I needed to send other parameters to be treated in the PreAuthentication trigger.

Something like:
[code]

[2018-10-09 00:45] syang commented on #1120
@powerful23 does Amplify client currently support a Cognito User Pool sign-up / sign-in page, for Facebook and Google IdP, https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-social-idp.html

I wanted to build a sign-up page like this
[landing page](https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiOxrPNkPjdAhXjGTQIHTFBDRUQjRx6BAg

[2018-10-09 00:57] danielhep commented on #1855
@elorzafe Thanks for the reply. I did set up Amplify using the instructions provided, using the aws-exports.js file that is provided by AWS Mobile. The API is restricted to signed in users.

After doing some more research, it looks like this kind of error is likely caused by Amplify not attaching the authentication information to the request, and the 403 response not having correct CORS headers. S

[2018-10-09 01:02] mattgogerly opened #1870 "Styling missing for amplify-authenticator (Angular 6)"
**Describe the bug**
When using the <amplify-authenticator> component in an Angular app the view appears, but has no styling at all.

**To Reproduce**
Steps to reproduce the behavior:
$ `amplify init`
$ `amplify add auth`

Add following to main.ts
[code]
and import the AmplifyAngularModule/AmplifyService into the module. Then try to use the <amplify-authenticator> component in the app.

**Expected

[2018-10-09 02:03] mattgogerly commented on #1870
Figured out I need to install `@aws-amplify/ui` separately. However, country flags seem to be missing and the forms don't fit in their container.. any suggestions?

[2018-10-09 02:51] mattgogerly opened #1871 "Requirements to have required attributes displayed by authenticator?"
So when I run amplify add auth I can specify required attributes. If I specify "name" for example, it doesn't get displayed as an input when registering with the amplify-authenticator Angular component. As a result registration fails as the attribute is missing.

Is the component supposed to display the required attributes or is that something I need to do myself?

[2018-10-09 03:31] bingtimren commented on #1302
I got the same issue with AMAZON_COGNITO_USER_POOLS as authentication method for AppSync.
If I remove REST API configuration then AppSync could work. However if I add it back I got "No graphql endpoint provided."

`  // appSync settings, extracted from the downloaded setting file
  "aws_appsync_graphqlEndpoint": "https://kafqkss4qbgchb276gagbq767a.appsync-api.us-east-1.amazonaws.com/graphql",
  "a

[2018-10-09 04:36] schavaLogi commented on #1849
@elorzafe The callbacks are not intuitive to handle all scenarios.
Android: When app killed and notification received then also onNotification triggered but not in react lifecycle context.
I think https://github.com/aws-amplify/amplify-js/pull/1434 PR will help to handle in global and react life cylces scopes.

[2018-10-09 08:03] MattiaCostamagna commented on #690
Same problem here. My code is exactly like @rqton mentioned in his post.
I'm making a post request, and in my cast the lambda function needs to be called by unauthenticated users, so I created a IAM role with the following conditions:
`"Condition": {
        "StringEquals": {
          "cognito-identity.amazonaws.com:aud": "eu-west-1_xxxxxxxxx"
        },
        "StringLike": {
          "cognito

[2018-10-09 11:16] sam-webchef commented on #1857
Actually, I found out that it is required to add my own get method to scan the database. Added the following function in the app.js file of the Lambda Function. **IT IS REQUIRED TO ADD THIS FUNCTION ABOVE OTHER `get` FUNCTIONS.**

[code]

[2018-10-09 11:16] #1857 closed

[2018-10-09 11:59] MattiaCostamagna commented on #1302
Hi everybody,

I had the same problem described above, and I managed to solve id by moving the appsync configuration ("aws_appsync_graphqlEndpoint", "aws_appsync_region", "aws_appsync_authenticationType", ecc) inside the "API" object.

Seems like if you've got no API endpoints, you can place the appsync data at root level, but if you have some endpoint, you have to put everything inside the "API"

[2018-10-09 12:15] koolkav1 opened #1872 "Cannnot get setupTOTP function to work"
** Which Category is your question related to? **
Auth()

** What AWS Services are you utilizing? **
aws-amplify
aws-amplify-angular

** Provide additional details e.g. code snippets **
https://stackoverflow.com/questions/52720807/cannot-get-setuptotp-in-amplify-js-to-work-associatesoftwaretoken

[2018-10-09 12:43] Prithivraj200 commented on #1846
[https://stackblitz.com/edit/angular-n6wtdr?file=src%2Fapp%2Fapp.component.ts](url)

[2018-10-09 17:14] powerful23 commented on #1872
@koolkav1 hey from you code snippet the `user` object you passed into `setupTOTP` is undefined.

[2018-10-09 17:37] powerful23 commented on #1120
@syang you can add your customized UI in your app and use the Cognito Hosted UI to login from Google/Facebook: https://aws-amplify.github.io/amplify-js/media/authentication_guide#launching-the-hosted-ui

[2018-10-09 17:41] powerful23 commented on #1377
@dguisinger make sense. I'll send a pr to improve that error message.

[2018-10-09 17:58] powerful23 commented on #1871
@mattgogerly this is not implemented in yet, will mark as feature request.

[2018-10-09 17:59] powerful23 commented on #1656
@SogoGolf I am going to close the issue. Reopen it if you still have this issue.

[2018-10-09 17:59] #1656 closed

[2018-10-09 18:00] powerful23 commented on #1675
@guillaumecodet I am gonna close the issue. Reopen it if you still have the issue.

[2018-10-09 18:00] #1675 closed

[2018-10-09 18:01] powerful23 commented on #1597
@brianfitzgerald I am gonna close the issue. Please reopen it if you still have the question.

[2018-10-09 18:01] #1597 closed

[2018-10-09 18:22] rygo6 opened #1874 "How to publish .env file with environment variables?"
Hello, I am not seeing how I would get my .env file with environment variables deployed with my app. Is there a way to do this?

[2018-10-09 18:31] sivaramit14 opened #1875 "authenticateUser always calls SMS MFA by default"
How to allow users to choose between SMS MFA and TOTP MFA during signing in and how to setup TOTP MFA for users?
However the user pool is configured as
MFA - Required
Second Factors - SMS and TOTP enabled

The user pool has confirmed users with phone number and email verified. I tried to execute the use case 27 in the link [link](https://github.com/aws-amplify/amplify-js/tree/master/packages/amazo

[2018-10-09 18:38] LoganArnett commented on #1859
I installed amplify and amplify-react via npm

[2018-10-09 19:21] hszeto opened #1876 "Amplify withAuthenticator React Native createSwitchNavigator Auth.signout() does not return to Sign In page"
packages:
[code]

My project was created by `expo init partyTime` with default tab navigators.

`withAuthenticator` works. However, Auth.signout doesn't go back to sign in page.

I've tried suggestions in here https://github.com/aws-amplify/amplify-js/issues/1529  , but without success.

There is no `this.props.onStateChange` in the MainScreen component.

How do I pass `onStateChange` from App.js

[2018-10-09 19:56] mlabieniec commented on #1770
Great! Let us know if you need to reopen this.

[2018-10-09 19:56] #1770 closed

[2018-10-09 23:20] danielhep commented on #1654
@TigerSheng Was the problem the version and was it fixed by simply updating? A bit confused by your response I guess.

[2018-10-09 23:29] TigerSheng commented on #1654
@danielhep problem was I had AWS_IAM authorization for my OPTIONS method in API gateway. Made it none and solved the problem.

[2018-10-09 23:42] danielhep commented on #1654
Ah, I see. So you weren't trying to make an API that required authorization? I'm having this problem but I do want my API to be authenticated. :/

[2018-10-09 23:53] TigerSheng commented on #1654
@danielhep I wanted to make an API that required authorization. But for API gateway, it will create an options method for all the lambda proxy method I created. That method should not be authenticated because the browser will request that method first for appropriate headers and etc. That request to options method is not signed and thus if you have authentication on options method you will get 403

[2018-10-10 01:37] danielhep commented on #1654
@TigerSheng Oh, I see what you're talking about now. Looking into it, my OPTIONS method has no authentication, so I must not have the same cause. Thanks for the help though.
As for logging:
I also set up logging and it looks like a logging group was created, but none of the event streams have any items in them, which isn't making this easier to debug. :/

[2018-10-10 01:47] TigerSheng commented on #1654
@danielhep No problem for the help. However it seems that you have a different problem.

Just for logging, maybe you can try to go to API gateway -> stage, find the corresponding stage to log, then select INFO log level for more detailed logs even when no error occurred on your API side. Good luck debugging.

[2018-10-10 03:06] armedoctopus commented on #1861
Here is a screenshot of the signUp component with the phone_number computed option object I would like to remove when loading the signUp component. I thought with Vue it is possible to dynamically change option objects of vue components? Otherwise what is the recommended way to change these builtin Vue components for Authorization, or are we forced to use the defaults? However, that wouldn't make

[2018-10-10 04:31] alexapam commented on #1853
I am having the same problem as dguisinger.

After Auth.signIn() returns the User object but tokens are not found in browser's localStorage.
calling Auth.userAttributes will produce same error trace as bove.

I am using **Ionic 3** & **Angular 5.**

Can we escalate this problem? Thank you.

[2018-10-10 05:20] #1856 closed

[2018-10-10 06:07] mrowles commented on #1614
This is for verifying the phone number, but what about resending the MFA after the phone has already been a verified attribute (say, user is on a new device)? I cannot find anything.

[2018-10-10 06:21] hszeto commented on #1876
I figured it out. In App.js, add screenProps to AppNavigator component:

`<AppNavigator screenProps={{...this.props}} />`

screenProps will be passed to the Tab Navigator in the app.

Add a logout button somewhere in the app. On press:

[code]

[2018-10-10 06:21] #1876 closed

[2018-10-10 08:47] rfdc opened #1878 "Auth.verifyCurrentUserAttribute - Error: No current user"
**Describe the bug**
The process to verifying the attribute like 'email', via Auth.verifyCurrentUserAttribute(attr), is not finding the user and sending the 'the_verification_code' to email.

I already have successfully implemented every other Authentication feature needed in the app.

**Code To Reproduce**
Redux Action that connects w/ AWS:
[code]

**Expected behavior**
find user and send the_ver

[2018-10-10 12:18] jonasao commented on #1031
@vutronic @ossareh
FYI; I have attempted to override SignIn form by overriding the `showComponent()` method, and it wasn't pretty straight forward... I had problems importing the different UI-components used in the original SignIn form, as I didn't want to change the look too much. It seems that there is a bug in the aws-amplify-react component which prevents all UI-components from being exported

[2018-10-10 12:42] jonasao commented on #1436
@wdm954
You do not need co remove the `hide` code from `showComponent()`, you will just have to replace the name of the SignIn class with the name of your own class, e.g. "CustomSignIn":
[code]

[2018-10-10 13:05] jonasao opened #1879 "amplify-react-js - withAuthenticator() HOC - Custom components not absorbing federated setting"
**Describe the bug**
When overriding the custom AWS Amplify React.js `SignIn` component, the new component does not seem to absorb the `federated` setting set on the withAuthenticator() HOC.

**To Reproduce**
Create a new `SignIn` component:
[code]

Use the new `CustomSignIn` component:
[code]
Observe that when running the application with this configuration, `federated: undefined` is logged to th

[2018-10-10 14:57] sbrickner commented on #705
When using the /login endpoint and "token" grant the Access and ID tokens are both returned on the URL after logging in. However, only the accessToken is automatically written to localStorage which causes an error with Auth.configure: "Error: Local storage is missing an ID Token, Please authenticate". Is this a bug?

[2018-10-10 15:04] vutronic commented on #1031
@jonasao - yeah that's correct.  Not really a bug. You have to import the child components used by the SignIn class in 'showComponent' when you're extending 'SignIn' to tweak 'showComponent'.

[2018-10-10 15:09] haverchuck commented on #1861
@armedoctopus -  There was indeed a mismatch between the docs and the Authenticator component - thanks for calling this out.  The fixed code should be available on our unstable npm tag shortly.  If you need to get it to work ASAP or don't want to download a new version of aws-amplify-vue, simply replace the props name `authConfig` with `authOptions`.

Additionally, to answers your question - the A

[2018-10-10 15:14] maksimsemenov commented on #1761
I'm still seeing this bug. I installed the latest stable release for `@aws-amplify/auth`:
`package-lock.json`
[code]
But in `node_modules/@aws-amplify/core/lib/Credentials.js` I'm still seeing:
[code]

Is it how it supposed to be? What will be the workaround?

[2018-10-10 16:12] haverchuck commented on #1861
@armedoctopus - The fix has been merged in github and should be on it's way to NPM.  I'm closing this issue but feel free to let us know if there is still a problem.

[2018-10-10 16:12] #1861 closed

[2018-10-10 16:12] svstartuplab commented on #1520
Sorry it has taken a couple of weeks to get back to you.  I was traveling.  The issue is that different resources can be in different regions.  The Amplify setup doesn't seem to understand that.  The setup needs to include more flexibility.   I didn't notice a CLI solution in the docs but I've been off this topic for a couple of months.

[2018-10-10 16:47] strykerCrew commented on #1753
@powerful23 any updates on this?

[2018-10-10 16:51] powerful23 commented on #1614
@mrowles you mean resending the code when signing in?

[2018-10-10 17:02] powerful23 commented on #1761
@maksimsemenov sorry for the confusion but the fix is not published yet. We will make a release ASAP.

[2018-10-10 17:17] powerful23 commented on #705
@sbrickner can you provide some code snippets about how are u using the feature? Also you can open the debug mode to find more logging info. `window.LOG_LEVEL='DEBUG'`

[2018-10-10 17:28] UnleashedMind commented on #1874
could you please provide more information?

[2018-10-10 17:37] powerful23 commented on #1875
@sivaramit14 as far as I know currently you can only choose the MFA type after you get signed in. By default when you first sign in, you will always be asked for SMS verification unless you didn't choose SMS in your user pool configuration.

After you get signed in, you can set your preferred mfa type but for TOTP you need to setup before turning it on by using `associateSoftwareToken` method.  Yo

[2018-10-10 17:43] maksimsemenov commented on #1761
Oh, got it. Thanks!

[2018-10-10 18:28] mrowles commented on #1614
Yeah, when authorizing a new device and, for whatever reason, the user
wants to manually resend themselves a code:

1) user signs in
2) new device, user is sent SMS and needs to confirm challenge
3) for whatever reason, let’s say user didn’t receive initial SMS, they
want to be able to resend it to themselves
4) user uses second code and successfully completes MFA challenge,
effectively registerin

[2018-10-10 20:09] sbrickner commented on #705
@powerful23  I am using the GET /login endpoint with the appended fields it needs. The code is just the auth.configure() with the correct config values. Below is the console log.
![capture](https://user-images.githubusercontent.com/9054029/46763069-d8477800-cca6-11e8-951b-f967d3e9a761.JPG)

[2018-10-10 20:38] ciekawy commented on #1445
the problem is caused by https://github.com/graphql/graphql-js/issues/1182 - currently suggested solution is to use `NODE_ENV=production` which does not make sense for mobile app as this is a static bundle served from a device filesystem. I recommend to put a comment in `graphql-js` ticket  or open a new one

[2018-10-10 20:57] chjalmar commented on #1429
Hi! Same problem here. Working on a proof of concept for a while for a project involving a big AWS client in Chile, and the only problem stopping us from adopting Amazon Cognito is the current inability to customize Hosted UI's text so we can translate it to spanish.

If there's any chance this feature could be included this month or the next, we could still be on track to using this service, whic

[2018-10-10 21:10] kingstonfung opened #1882 "React Native: "Confirm" AmplifyButton not linked to theme"
**Describe the bug**
The "Confirm" button inside `ConfirmSignIn.js` and `ConfirmSignUp.js` is missing the `theme` parameter, making the buttons at those screens unstyleable.

**npm package version**
aws-amplify-react-native@2.0.5

**To Reproduce**
Please implement the following snippet to reproduce the issue:
[code]

**Expected behavior**
The "Confirm" button styling should respect the theme style

[2018-10-10 22:13] goatandsheep opened #1883 "Cannot unsubscribe for AppSync observable after putting them in vue data attribute"
**Describe the bug**
I'm getting the following error: `TypeError: this.createObservable.unsubscribe is not a function`

**To Reproduce**

This is a rough run-down of the component:

[code]

As you'll notice, I'm saving the Observable as a property.

**Expected behavior**
The observable to unsubscribe

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please c

[2018-10-10 22:21] undefobj commented on #1800
@QuinnyPig we have looked at this and we're not sure why you are trying to encode your query string parameters with `encodeURIComponent `. The point of `encodeURIComponent` is to cleanse input of characters with the friendly, human readable version. Could you let us know why you were trying to do it like this? Perhaps there is a use case we're missing that we can improve, or something that could b

[2018-10-11 00:16] andrej-vasilj opened #1884 "How do I use amazon-cognito-identity-js to get scopes in the access_token?"
** Which Category is your question related to? **
amazon-cognito-identity-js

** What AWS Services are you utilizing? **
AWS Cognito User Pools

** Provide additional details e.g. code snippets **
How do I use amazon-cognito-identity-js to get the scopes in the access_token? When I login using the web sign-in page I can see all default and custom scopes inside the access token, but when I use amaz

[2018-10-11 02:07] syang commented on #1120
@powerful23 the code snippet for React App does not seem to work.

`import { withOAuth } from 'aws-amplify-react';

class MyApp extends React.Component {
    // ...
    render() {
        return(
            <button onClick={this.props.OAuthSignIn}>
                Sign in with AWS
            </button>
        )
    }
}

export default withOAuth(MyApp);`

How should one incorporate the "Launching

[2018-10-11 02:38] SteveHoggNZ opened #1886 "Confirm Sign Up - Username can not be set after refresh"
**Describe the bug**
If a user refreshes the page between creating an account and entering the confirmation code the confirmSignUp form has a blank username that can not be changed.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an account
2. Refresh the page
3. Login
4. Go to enter your code, but notice the username is blank and can not be changed

**Expected behavior**
The username

[2018-10-11 03:58] evilmaniac opened #1887 "Light Code Review"
- Interfaces are not included within modules. This is not in-line with `aws-sdk` where all Types associated with a client can be referenced as follows: `AWS.<ServiceClient>.Types` to avoid importing fragmented type files such as:
[code]
- Analytics events are not associated with an interface and event structure is loosely defined on how Providers consume an event.
- Analytics module is not provide

[2018-10-11 05:51] deftomat commented on #1813
Just a reminder:  `"@aws-amplify/auth": "1.0.3"` didn't make a request to Cognito servers. It returned a cached session. We are really missing this behaviour in the latest version.

[2018-10-11 06:39] deftomat commented on #1813
My current workaround:

[code]

The last `if` is there just for the case when Amplify is already trying to refresh the token. But to be honest, I'm not sure if `Auth.currentSession()` returns a new token or not. However, it is an edge case so it is probably enough for now.

[2018-10-11 08:16] jonasao commented on #1031
@vutronic I perfectly understand, but in my opinion the components FormSection, SectionHeader, SectionBody and Link are on the same level as the ones (FormField, Input, InputLabel...) i needed to make a "hack" to import. That is why I am referring to it as a bug.

I am fully aware that I have to import the child-components required by the `showComponent()`method.

[2018-10-11 11:28] msert29 commented on #1377
I do agree, the messages should be explicit. However adding a section regarding this issue within the AWS Amplify authentication guide would be a better approach.

[2018-10-11 13:00] SebastianNiemann commented on #678
It is the same for VuePress projects.

[2018-10-11 13:54] ChrisWun commented on #825
@powerful23 I definitely need this.

[2018-10-11 15:21] chai86 commented on #1834
@nidsharm Would you be able to assist/delegate here? The issue is just in the initial sign in when first loading the original app, no changes to the code have been made at this point.

[2018-10-11 16:19] lroy83 commented on #1089
did anyone solve this?

[2018-10-11 16:59] canivel commented on #1871
Just happen to me too... so how we add the extra field to the <amplify-authenticator></amplify-authenticator> ? is there a example?

[2018-10-11 17:03] powerful23 commented on #1120
@syang if you only want to use the facebook/google sign in, you need to write your own button component which will take you to that url in https://aws-amplify.github.io/amplify-js/media/authentication_guide#launching-the-hosted-ui

[2018-10-11 17:57] kesteinbakk opened #1889 "Pinpoint event count does not match created events"
I followed the "Getting started" web app instructions using aws cloud9. Everything went as expected but when I had clicked two times on the "Generate Analytics event" the report showed 5 events. When I had clicked another time (a total of three clicks), the report showed 7 total events.

I thought the Analytics report should match the number of events sent from the demo app. What am I missing here

[2018-10-11 18:05] jenasubodh commented on #1089
So it's just not me, Looks like the whole world is facing this issue.

[2018-10-11 18:30] vutronic commented on #1031
@jonasao yeah you are right. Those components are not getting exported from 'aws-amplify-react'. Maybe they didn't expect you to go this deep :)  You should file a ticket.

Anyway, since I'm using 'aws-amplify-react-native', I  can import those sub React elements used in SignIn.showComponent directly from 'aws-amplify-react-native' So kudos to the native team:).

[2018-10-11 18:52] #1889 closed

[2018-10-11 18:53] kesteinbakk commented on #1889
My bad: Did not select Tutorial events only

[2018-10-11 21:17] BronxBombers commented on #1814
@elorzafe I archived the project and ran it on a new device through test flight, and the same exact behavior is still happening. So this is not an issue with a development build, or the simulator...

[2018-10-11 22:30] ASteinheiser commented on #1867
Understood! That's good news.

Are there any examples of passing a handler like this to the Auth module?

[2018-10-11 22:35] powerful23 commented on #1884
@andrej-vasilj can you try `accessToken.decodePayload()` to see if the payload contains any info about scopes?

[2018-10-11 22:38] powerful23 commented on #1887
@SauronKitty thanks for you feedback.

[2018-10-11 22:41] powerful23 commented on #1867
Maybe you can take a look at this: https://github.com/aws-amplify/amplify-js/blob/master/packages/core/src/OAuthHelper/FacebookOAuth.ts#L39

[2018-10-12 00:44] andrej-vasilj commented on #1884
I've been using https://jwt.io/ for quick debugging since it has a nice visual interface to decode tokens. The 'scope' section of the access token is always set to 'aws.cognito.signin.user.admin'. Today I was also trying to use boto3 for Python instead of javascript and I'm running into the same situation. It doesn't even matter if I deselect the 'aws.cognito.signin.user.admin' scope directly in t

[2018-10-12 00:49] rfdc commented on #1878
Hi @powerful23,

Based on the documentation I believe this method is used for account recovery. So I guess the user cannot login into account thus needs this method. Or have restarted the app without entering the verification code, so needs a new code to be sent either to the user's phone number or email address.

Is that right?

Thanks

[2018-10-12 01:36] JustFly1984 opened #1891 "Please update graphql to 14.0.2"
I have a project, which renders `React` app to static files on build with` react-static`. It uses webpack 4 and Babel7 to compile source code to static and dynamic pages. Similar to `gatsby.js`
Currently I have an issue with aws-amplify dependency on `graphql@0.13.0`. I have installed graphql@14.0.2 as dependency to my project, but then I run `npm ls graphql` I see this:

[code]

and I do not see

[2018-10-12 01:37] uclaeagit commented on #1386
Can someone point me to the documentation and examples for implementing Cognito Hosted UI on the client side?  react, angular, vanilla is all fine. I've been googling for a long time and this is the closest thing I've been able to find.

[2018-10-12 01:50] JustFly1984 commented on #1386
If your app is not SSR, and you do not need to serialize your redux store, you can simply store your Cognito object in redux. Don't forget to reset your reducers to initialState on logout.

This is my example of signIn redux-thunk action with immutable.js, but it general you should get an idea. history object I get from withRouter() HOC from 'react-router v4` in login button component.

This is no

[2018-10-12 10:15] simonemazzoni commented on #1560
Same problem for me.
Any news about the issue?

@powerful23 I checked the `node_modules` folder as you pointed out but there is no such folder in `@aws-amplify/auth` folder.

[2018-10-12 10:31] engharb opened #1892 "No userPool with aws-amplify"
I am using aws-amplify 0.3.4. with my Mobile Application. When I try to login I used to get "No userPool"

I followed the configuration as mentioned and it was working perfectly. Suddenly I used to get such error.

My configuration:
* I am using Ionic and Cordova,
* in my app.module
[code]
[code]

I do not know where is the problem and why I used to get such error?!

Any idea?

regards,

[2018-10-12 10:41] mihaiblaga89 commented on #1779
@powerful23 any updates on this?

[2018-10-12 14:17] mlabieniec commented on #1779
We have a story in our backlog to address this awaiting review

[2018-10-12 14:20] mlabieniec commented on #1892
Your amplify version is very old so it would be hard to determine what is going on here without a debug log. Usually this error occurs when your amplify core library is not in sync with a component library and the component library ends up using its own instance of amplify core in that case, hence no user pool. Are you using the aws-amplify-angular package as well? Can you try upgrading your ampli

[2018-10-12 14:29] simonemazzoni commented on #1560
@mlabieniec I'm not including explicitly the `aws-sdk` since I think it is already included by `@aws-amplify`. Anyway I tried also to include that package explicitly but nothing changed.

[2018-10-12 14:33] mlabieniec commented on #1560
Can you check your node_modules/aws-sdk and see what version it is. Or I think npm info command might tell you also. How did you install amplify? Via modules like npm install @aws-amplify/auth or global npm install aws-amplify?

[2018-10-12 14:37] simonemazzoni commented on #1560
@mlabieniec I actually use yarn, which shouldn't change anything.
This is the installed `aws-sdk` version (which looks like it is the latest)
`yarn list v1.10.1
└─ aws-sdk@2.333.0
`

Notice that I'll install `@aws-aplify/auth` using `yarn add`, but installing the complete `@aws-amplify` package doesn't change the result.

[2018-10-12 14:58] Zilvinaskli commented on #1518
Maybe you could provide any tips how to migrate from awsmobile to amplify?

[2018-10-12 16:23] nirmalkumarv opened #1894 "Getting 404 Not Found"
**Describe the bug**
After following the tutorial and deployed the application it says 404 Not Found

404 Not Found
Code: NoSuchKey
Message: The specified key does not exist.
Key: index.html
RequestId: 9F9924995AC1F5F9
HostId: GMygtS5R2Q3Mbof/G+q5SYiotbfFF5UeATieQJ0Xab2gZAyul4ekh4qw3vh5gM9wiy+LCX5jV/0=
An Error Occurred While Attempting to Retrieve a Custom Error Document
Code: NoSuchKey
Message:

[2018-10-12 17:00] mlabieniec commented on #1894
Are you using a framework or plain js. Basically S3 can not find your index.html file so if you run amplify configure project make sure your build script is building your app correctly and then try amplify configure hosting and make sure the dist path is correctly pointing to the built files and your index.html. Note, on angular your dist may need to change to dist/app-name. Just check your dist d

[2018-10-12 17:10] mlabieniec commented on #1518
@Zilvinaskli we don’t have any way currently to migrate an existing Mobile Hub (what the AWS Mobile ClI uses) project to a cloudformation project. We do have on our roadmap functionality to allow usage of existing AWS resources which should then allow you to use the AWS resources that Mobile Hub provisoned for you. I don’t have a timeline for that yet but we can definitely track this as a +1 to pr

[2018-10-12 17:36] sbrickner commented on #705
@powerful23 The issue I'm experiencing is that there is no object. I only get the error you see there at the bottom of the logs. If I take the id_token from the response url and manually write it to the .idToken localStorage key and refresh then it finds a user and returns the object but the session property is always null. I have tried listening to the various events with the Hub class but unless

[2018-10-12 17:38] simonemazzoni commented on #1560
No I didn't use create-react-app. I could try to setup a test app using create react, but I don't think it will resolve the issue.

My setup uses babel7 also. I don't know if it can be part of the reason of the error.

[2018-10-12 17:43] powerful23 commented on #1884
@andrej-vasilj I think the scope setting in the Cognito web admin console is only effective for OAuth(Cognito Hosted UI). @yuntuowang what do you think?

[2018-10-12 17:48] ASteinheiser commented on #1867
So, just to confirm... If I set the configure the refresh handler on the Auth for 'facebook' it should work?
[code]

[2018-10-12 17:56] powerful23 commented on #1878
@rfdc no the `verifyCurrentUserAttribute` method can only be used when the user is logged, and is to be used to verify the user's email/phone_number. When to reset password, you need to call `Auth.forgotPassword()` to initiate the process and `Auth.forgotPasswordSubmit()` to submit the code you received from phone/email

[2018-10-12 17:58] powerful23 commented on #1867
@ASteinheiser yes

[2018-10-12 19:01] mlabieniec commented on #1560
Hm yes this is likely the issue since it’s failing at the compile stage. I don’t think the aws-sdk compiles to this target right now (assuming that’s es next or 7)

[2018-10-12 19:46] daneprime8 commented on #987
Also experiencing this issue. Cognito, please advise.

[2018-10-12 19:55] bocodigital opened #1895 "window.assign is not a function"
When attempting to use SignIn the error window.location.assign is not a function
When  debugging I console the window object and it is not the dom window so it does not have the assign function.

[2018-10-12 22:32] aldarund opened #1896 "Cognito passwordless authentication via link"
I'm trying to implement auth via link without password. E.g. user enter his email -> cognito send an email with link that user can click and login. It

It is supported by cognito via custom challenge. E.g. https://aws-amplify.github.io/amplify-js/media/authentication_guide#using-a-custom-challenge

I have created DefineAuthChallenge, CreateAuthChallenge, VerifyAuthChallenge lambda function that as

[2018-10-12 22:49] powerful23 commented on #1265
Closing the issue. Feel free to reopen if you still have this issue.

[2018-10-12 22:49] #1265 closed

[2018-10-12 22:50] powerful23 commented on #1295
Closing the issue. Feel free to reopen if you still have this issue.

[2018-10-12 22:50] #1295 closed

[2018-10-12 22:51] powerful23 commented on #941
Closing the issue. Feel free to reopen if you still have this issue.

[2018-10-12 22:51] powerful23 commented on #817
Closing the issue. Feel free to reopen if you still have this issue.

[2018-10-12 22:51] #817 closed

[2018-10-12 22:54] powerful23 commented on #1320
Closing the issue. This should have been fixed in the latest version. Feel free to reopen if you still have this issue.

[2018-10-12 22:54] #1320 closed

[2018-10-12 23:38] powerful23 commented on #1737
@mohanrao sorry to be late. If the user clears the cache (like localStorage) or their session is expired(usually caused by the expiration of id token and refresh token). Can you check if either of these two happened?

[2018-10-12 23:41] uclaeagit opened #1897 "Is there documentation for aws-amplify-react - Authenticator component?"
The aws-amplify docs don't go into that at all. I don't know what options I can pass to it. The source code gives me some idea, but it's still very unclear how how to use. Thanks and sorry my googling just missed it.

[2018-10-13 00:11] BaumDigital opened #1899 "React Native. Multiple endpoints created on app register."
**Describe the bug**
Multiple endpoints created for the first app run. Amplify push notification creates up to 8 endpoints for the same device. Those endpoints have all the same addresses and the same user Id, which are auto generated by amplify.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up amplify 1.1.6 and @aws-amplify/pushnotification 1.0.15.
2. Configure a project with amplify-

[2018-10-13 03:07] mlabieniec commented on #1897
The Authentication section under API Guides has docs, specific examples and code snippets around the Authenticator and withAuthenticator (same as React). Also there is a VSCode extension you can install with code snippets. Let us know if you are looking for something in particular that’s not covered:

https://aws-amplify.github.io/amplify-js/media/authentication_guide

[2018-10-13 06:24] 0xdevalias opened #1900 "[aws-amplify-react] Connect component mutation causes "Variable 'channelID' has coerced Null value for NonNull type 'ID!'""
**Describe the bug**

When I try and perform a simple mutation with the `Connect` component, I get a pile of errors.
[code]
[code]

**To Reproduce**
Steps to reproduce the behavior:

[code]

`operations.js`
[code]

When I click on the 'SendCommand' button, I get the errors described below. The request sent to the API contains the following:

[code]

Which implies to me that the way I am passing in

[2018-10-13 06:28] uclaeagit commented on #1897
Thanks. I found that. I was particularly looking for some documentation on the <Authenticator> component in react. I found an example that added Greetings and some other params. But I can't find any documentation on what params are available and what they do.

[2018-10-13 15:37] mlabieniec commented on #1897
The details for the Authenticator and withAuthenticator options/params are outlined here for react: https://aws-amplify.github.io/amplify-js/media/authentication_guide#using-components-in-react

[2018-10-13 17:49] armedoctopus opened #1901 "cannot remove Phone Number Field UI in signUp Component using props in router.js"
** Which Category is your question related to? **
To get a context for this usage question please read https://github.com/aws-amplify/amplify-js/issues/1861

** What AWS Services are you utilizing? **
S3 DynamoDB Cognito Appsync
** Provide additional details e.g. code snippets **
These are the computed signUpFields props that are hardcoded in SignUp.vue:
computed: {
    options() {
      const def

[2018-10-13 19:29] mohanrao commented on #1737
@powerful23 Either one of them is not the case. The user was keep accessing the app. Actually it happening when app is used as PWA one scenario we know

[2018-10-13 20:19] lroy83 commented on #1089
found this:
https://docs.aws.amazon.com/cognito/latest/developerguide/amazon-cognito-integrating-user-pools-with-identity-pools.html

worked for me...

[2018-10-14 03:06] ASteinheiser commented on #1867
@powerful23 So when exactly should the refresh token function get called by Auth? It doesn't seem to get called when I reopen my app. I'm saving the token in the redux state, and expected that on app open, the refresh func would get called since the request fails.

[2018-10-14 04:42] kushanson commented on #1858
Hi, I am working on making these libraries compatible in my own project.

I found that I can get around the error you are seeing by doing the following:

- In ./node_modules/react-native-push-notification/android/src/main/java/modules/RNPushNotification.java make these changes:
before:
`@Override
    public String getName() {
        return "RNPushNotification";
    }`
after:
`@Override
    public

[2018-10-14 13:57] weibeld commented on #469
This is a solution with observables (used in Angular):

[code]

[2018-10-14 14:45] joebernard opened #1902 "amplify push error - resolvers directory not found"
**Describe the bug**
After adding a graphql API and pushing I receive this error:
ENOENT: no such file or directory, scandir '/opt/projects/myApp/amplify/backend/api/myApp/build/resolvers'

**To Reproduce**
Steps to reproduce the behavior:
`amplify init`
`amplify add api`
use default options
`amplify push`
error

**Expected behavior**
The API service should deploy

**Desktop (please complete the f

[2018-10-14 15:01] angineering opened #1903 "Split the React and React Native documentation. Usage and Setup are really confusing."
**Is your feature request related to a problem? Please describe.**
It is very frustrating and confusing to try to get started with AWS amplify when building for react native, as the documentation does not make it clear on many accounts what work for react and what works for React Native. A lot of the examples error when trying them in React Native. I have so far spent several days making very litt

[2018-10-14 15:03] angineering commented on #1897
I have the same issue. The documentation is really poor. There are no working examples, no full documentation of the API. Just random snippets that make it incredibly hard to use.

Have spent several days trying to make anything that works, and I'm seriously considering scrapping amplify for firebase.

[2018-10-14 15:10] joebernard commented on #1902
Moving to amplify-cli

[2018-10-14 15:10] #1902 closed

[2018-10-14 15:45] etwillbefine commented on #1252
I have the same issue. Identity Pool is configured to accept unauthenticated identities. Amplify is configured with `Auth: { mandatorySignIn: false }` identityPool and oauth settings for the hosted UI. AppSync and Amplify use `AMAZON_COGNITO_USER_POOLS` auth. Unauthenticated role from my Identity Pool is allowed to invoke and request graphql/AppSync.

The request I want to be publicly available wi

[2018-10-14 20:17] henkesde92 commented on #1755
I successfully installed the UI package using:

`npm install -S @aws-amplify/ui`

But I still don't have a 'ui' folder in my node_modules/@aws-amplify and thus the styles can't be loaded.

Can someone check this please?

[2018-10-14 20:58] ajhool commented on #1779
@mlabieniec would you please consider attaching https://github.com/aws-amplify/amplify-js/issues/1787 to that story? It's a similar conceptual issue but refers to Storage/S3 instead of Pinpoint. Storage also uses identityId rather than cognito:sub

[2018-10-15 06:40] jenasubodh commented on #1089
Fixed it. Had to enter exact information in the aws-amplify-config. In my case, just this & nothing else.

`
const amplifyConfig = {
  Auth: {

      // REQUIRED only for Federated Authentication - Amazon Cognito Identity Pool ID
      identityPoolId: 'identity-pool-id',

      // REQUIRED - Amazon Cognito Region
      region: 'us-east-1',

      // OPTIONAL - Amazon Cognito Federated Identity Poo

[2018-10-15 06:42] jenasubodh commented on #1089
After this i was able to see the config objects in the local storage.

[2018-10-15 13:29] kevinyea commented on #1894
I was able to repeat the problem as Kumar by creating an https (production) version.
The public bucket was empty at the end of the procedure - hence the 404. I copied index.html and main.bundle.js into the production bucket from the successful dev attempt and the front end ran as https.

[2018-10-15 15:01] schavaLogi opened #1905 "Pushnotification JS layer not receiving pinpoint.jsonBody"
**Describe the bug**
When we send FCM push message from pinpoint with pinpoint.jsonBody it's not giving to JS layer but data received in native layer

**To Reproduce**
Steps to reproduce the behavior:
1. Update Endpoint from Android device and send push notification with silentPush as false

**Expected behavior**
JS layer must receive all the data which sent from the pinpoint

Logs:
RNPushNotifica

[2018-10-15 15:36] ajb3ck commented on #1585
We are also looking at this, however, cannot find how to have cognito send back an auth code for a user in a cognito user pool. Our goal is to replicate the same oauth2 flows available with the built in pages to a ui we fully control.

Has anyone found how to have an auth code generate for a user pool native (not a social login) account without using the hosted ui?

Thanks!

[2018-10-15 15:45] ChrisWun opened #1906 "cognito-idp.eu-central-1.amazonaws.com: Access Token does not have required scopes (Http - 400)"
** Which Category is your question related to? **
Auth

** What AWS Services are you utilizing? **
AWS Cognito

** Provide additional details e.g. code snippets **
For some requests to "cognito-idp.eu-central-1.amazonaws.com" I get the error:
[code]
I think that the call `Auth.currentSession` has this consequence.

Request Header:
[code]

Request Payload:
[code]
Response Header:
[code]

General:
[

[2018-10-15 16:14] Zilvinaskli opened #1907 "Uncaught (in promise) Api does not exist"
So I'm trying to use API gateway to put data to the table in the database. I'm using vue.js and whenever I run this function I get an error: Uncaught (in promise) API scenariosCRUD does not exist even if API name is certainly correct.

Here's my function:
post: async function () {
[code]
`

[2018-10-15 16:50] powerful23 commented on #1759
@wraila can you paste the your configuration part and the debug log info?

[2018-10-15 16:59] powerful23 commented on #1878
@rfdc you can use `Auth.resendSignUp(username)` to get the verification code again.

[2018-10-15 17:18] uclaeagit commented on #1897
Thanks that helps a lot. A link or reference to this from the react section of the amplify docs would be really helpful. I assumed those were the only react docs.

+1 to the others who would like to see a documented API.

[2018-10-15 17:31] powerful23 commented on #1867
@ASteinheiser the function will be called when the credentials and the tokens are both expired. It doesn't matter if you reopened your app or not. As long as the jwt token cached in the AsyncStorage is not expired,  you should be able to get the credentials. Can you open the debug mode to get some debug info? put `window.LOG_LEVEL='DEBUG'` in your code.

[2018-10-15 17:40] ASteinheiser commented on #1867
Gotcha, I think I'm understanding. It may take up to a day or so for that jwt to expire, and then the refresh will be called?

[2018-10-15 17:49] powerful23 commented on #1867
@ASteinheiser yeah, it happens when some function tiggers the action to get you a new credentials, and then Auth module will read the token from the cache and find it expired, then will call the refresh function

[2018-10-15 18:42] powerful23 commented on #1896
@aldarund for now there is no way to get a user object which is in the middle state of signing in. We will mark this as feature request.

Maybe you can try a work around which is to construct the user object your self like:
[code]

[2018-10-15 18:43] dabit3 opened #1908 "Error when using Sumerian scene that has Polly text to speech enabled."
**Describe the bug**
When loading a Sumerian scene using Amplify, everything works fine. Once I add a Sumerian Host, I can test it out in the Sumerian dashboard & everything works as expected. When I republish the same scene with the Polly text-to-speech enabled in the Sumerian scene, I get the following error:

`An unhandled error has occured: AWS.Polly is not a constructor TypeError: AWS.Polly i

[2018-10-15 18:45] powerful23 commented on #1899
Related to #1121

[2018-10-15 19:52] powerful23 commented on #1906
@ChrisWun what's your `aws_appsync_authenticationType`?

[2018-10-15 20:06] dabit3 commented on #1908
Update, I'm thinking this may be a bug in Sumerian. Polly is no longer working at all even in the Sumerian dashboard. I'm continuing to look into this but I would hold off investigating this until I figure out what is going on with the service.

[2018-10-15 20:21] noellaby commented on #1858
Nice Hack

[2018-10-15 20:21] noellaby commented on #1858
@kushanson very nice hack. Is working very well.

[2018-10-15 20:29] ChrisWun commented on #1906
@powerful23 its `AMAZON_COGNITO_USER_POOLS`.

[2018-10-15 20:41] madebythose commented on #1844
@rogueturnip - is it possible to share you fix for this as I'm still trying to find a way to do this myself with pubsub. Thanks!

[2018-10-15 21:29] goatandsheep opened #1909 "[Storage] cannot authorize user to access private bucket"
**Describe the bug**

* 403 error when Storage tries to access private bucket
* I can click on file and it opens successfully
* I tested the federated identity role in the Policy Simulator and could access the resource that Storage was trying to obtain

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Cognito User+Identity Pool
2. Roles for unauth and auth users with `GetObject` and `

[2018-10-15 23:30] 0xdevalias commented on #1900
My workaround has been to implement my own component to handle subscriptions, rather than using the included one. Slightly specific to my use case, but could easily be refactored to pass in the subscription operation + variables and it would become generic.

[code]

[2018-10-15 23:41] mlabieniec commented on #1903
Thanks for the feedback, and apologies for your frustration. Our `aws-amplify-react-native` package actually utilizes the @aws-amplify/core and @aws-amplify/auth, storage etc. core modules (and coincidentally the core library API), so the API **is** actually the same code as the JS side. The only difference is the actual UI components, however, the API remains exactly the same as web.

We purposef

[2018-10-16 01:06] rfdc commented on #1878
Thanks, I will try

[2018-10-16 01:07] reggie3 commented on #1002
@powerful23 Thanks.  Do you know when a version of aws-amplify will get published with your PR now that it's been merged?

[2018-10-16 02:02] angineering commented on #1903
Thank you for the feedback. Very happy to hear the docs are being worked on.

In brief this is my status for react native.

The good :
- the Auth component from aws-amplify is working fine. I can use it directly. Really wish the api clearly specified the structure of the returned objects.
- I ended up combining Auth with react- navigation rather than using the Authenticator component. This worked.

[2018-10-16 02:15] goatandsheep commented on #1909
I'm importing an aws-exports file at my base.

I actually set it to public because all users have to be able to read and write to the same directory (but must be logged in).

[code]

I also have:

* Created a Cognito User+Identity Pool
* Roles for unauth and auth users connected to a role with `GetObject` and `PutObject` permission on the S3 bucket
* Configured Amplify.Auth and it's working great

[2018-10-16 03:11] mlabieniec commented on #1903
Thanks @angineering this is really good information and I appreciate you taking the time to put it together. I think most of this is pretty clear and straight forward to address. I will try and get some of this addressed in the next major update which is (i'm hoping) to be this week. I'll update this issue with it for review if you are up for taking a look and letting me know if it covers these ad

[2018-10-16 08:41] karlmosenbacher commented on #1871
This should be implemented for react as well.

[2018-10-16 08:59] angineering commented on #1903
Thank you, I would be happy to have a look.

It's really great to hear it's already being addressed!

[2018-10-16 09:42] pmd30011991 opened #1910 "Pinpoint - Update OptOut with custom UserId Bug"
Hi, I'm facing an issue with Pinpoint (React Native)
I'm using Amplify version 1.1.6
This is my update

[code]

![image](https://user-images.githubusercontent.com/1608649/47007380-aa60a880-d16a-11e8-953f-727d969f5c88.png)

If I take out the OptOut everything back to normal, why I need update OptOut to NONE is that because OptOut by default is 'ALL'.

[2018-10-16 10:06] karlmosenbacher opened #1911 "Required attributes on signup"
**Is your feature request related to a problem? Please describe.**
Required attributes rom cognito userpool arent showed as inputsfields when doing signup with Authenticator.

**Describe the solution you'd like**
That the number of inputfields reflects the required attributes from the userpool.

[2018-10-16 10:45] schavaLogi commented on #1905
@powerful23 I added as VERBOSE I see a lot of logs related pinpoint specific(AWSPinpointProvider - Keys and tokens) logs but not Android PushMessage related logs.

Please do let me know is there any other option to get FCM notification parse related logs

[2018-10-16 15:13] maziarz commented on #1218
This is unfortunately still not possible. I spend some days last year to resolve this problem, but ended up with a cookie-based solution utilising passport.js with nuxt.js. Not exactly ideal, but there was simply no other way around implicit grant with Cognito without having to re-login the user.

[2018-10-16 15:43] wraila commented on #1759
Looks like latest version of amplify (or perhaps appsync) makes the warning go away. I had thought I was on latest but in writing the message above I realized I was behind by a little. Now using
[code]

No longer see warning. Thanks @powerful23 for the follow-up.

[2018-10-16 16:04] hisham opened #1912 "storage().get documentation should be updated - can return presigned url or downloaded object"
In https://github.com/aws-amplify/amplify-js/blob/master/packages/storage/src/Storage.ts, we have:

[code]

Since this method returns a presigned URL, it should really return a `Promise<String>` so should be changed to:

`    public async get(key: string, options?): Promise<String> {
`

[2018-10-16 16:05] hisham commented on #1912
Wait, I see this code in the method:

[code]

It seems like the code supports downloading the file directly, in this case, the documentation around this method needs to be updated.

[2018-10-16 16:56] powerful23 commented on #1269
@jonasao `Auth.signOut()` only clears the tokens stored in cache. In order to change the state back to `signIn` when using `withAuthenticator` or `Authenticator`, you need to do something like:
[code]

[2018-10-16 16:59] powerful23 commented on #1002
@reggie3 I am not sure but we will do that ASAP.

[2018-10-16 17:29] manueliglesias commented on #1907
Hi @Zilvinaskli

How are you configuring amplify? (e.g. `Amplify.configure(...)`)

[2018-10-16 17:39] powerful23 commented on #1905
@schavaLogi if there is no message returned from native side , you should see a logging info like: `no notification payload received`

[2018-10-16 17:42] powerful23 commented on #1910
@pmd30011991 related to #1801. For now `OptOut` is not supported in Analytics module.

[2018-10-16 17:54] powerful23 commented on #1906
@ChrisWun then I think there is nothing todo with the identity pool. I guess you need to configure your appsync service to accept tokens from user pools. @manueliglesias what do you think?

[2018-10-16 18:21] powerful23 commented on #1906
@ChrisWun can you provide more details about this error? Does this error happen when the app starts? Also can you provide some debug log by putting  `window.LOG_LEVEL='DEBUG'` in your code?

[2018-10-16 19:02] karlmosenbacher commented on #1903
I can agree that the documentation of how to implement a custom UI with authenticator needs improvement. As @angineering have I spent multiple days trying to implement a custom signup screen without success.

[2018-10-16 19:47] BaumDigital commented on #1899
Thanks for the help @powerful23

[2018-10-16 20:24] mrowles opened #1916 "Typescript Issues with `crypto-js`"
**Describe the bug**
The `crypto-js` library is forcing a `typescript@2.9.*` compilation error when using `angular@6.*` AOT compilation flag. The error seems to be with the `getJSDocTags` function (see errors below).

I have tried installing `@types/crypto-js`, installing `crypto-js` locally, setting the `allowJs` flag in the `tsconfig.ts` file..no combination seems to work.

Upgrading to `angular

[2018-10-16 20:46] matwerber1 opened #1917 "amplify add hosting - Option to Disable Word-Readable S3 Buckets"
Hi,

The Amplify's "add hosting" command deploys a public-readable S3 back end. I find the tool kit useful but would prefer that the default bucket's configuration does *not* include public-readable access so that developers start with a "least privilege" security model and only make the bucket public if needed. This reduces the chances of a private S3 hosted site accidentally being made public.

[2018-10-16 20:54] isgallagher commented on #1824
SAML support would be pretty nice to have.

[2018-10-16 20:57] IamManchanda commented on #1035
Please also add support for https://github.com/nativescript-vue/nativescript-vue

[2018-10-16 21:20] edxxgardo opened #1918 "Missing required key 'Bucket' in params"
<img width="995" alt="screen shot 2018-10-16 at 23 14 43" src="https://user-images.githubusercontent.com/8612773/47047938-528d6600-d199-11e8-8a60-a041c6c7f766.png">

Please check the error in the subject. It's a very basic Vue setup with amplify. I followed the steps mentioned in:

https://hackernoon.com/how-to-build-serverless-vue-applications-with-aws-amplify-67d16c79e9d6

Everything went well (

[2018-10-16 22:00] manueliglesias commented on #1917
Hi @matwerber1

Let me know if I am missing something, but couldn't you just not enable hosting until you actually need it/want it?

[2018-10-16 22:58] edxxgardo commented on #1918
Fixed. I ran again the amplify storage again.

[2018-10-16 22:58] #1918 closed

[2018-10-16 23:11] BaumDigital opened #1919 "React Native. Push opened without tracking percentage"
**Describe the bug**
Push notification campaign with incomplete metrics. Push open rate and total push opened have no tracking percentage.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up  push notification environment for react native using amplify-cli
2. Create push campaign using channelType filter for the segment in pinpoint.
3. Write a campaign message and launch campaign immediat

[2018-10-17 00:09] matwerber1 commented on #1917
Good point - and thinking through use case a bit more... to your point, my suggestion seems counter-intuitive to the whole point of the CLI "add hosting" command. Closing this issue, thank you for your time.

[2018-10-17 00:09] #1917 closed

[2018-10-17 03:28] pmd30011991 commented on #1910
@powerful23 Thanks, btw I can fix it by adding device token to `Address` field. then everything is fine. however without Device Token I can't update OptOut, so can I say after this feature merged we can just update OptOut without Device Token ?

[2018-10-17 07:06] edxxgardo opened #1921 "Multiple file uploads <amplify-photo-picker>"
Hello,
I'm trying the awesome amplify Vue components. Even though for a simple upload <amplify-photo-picker> works well, I'm wondering whether there is a possibility to select many files at the same time using the same component. Thanks for any feedback.

[2018-10-17 07:38] simonemazzoni commented on #1560
@mlabieniec I see that there were 3 updates to the `aws-sdk` package since 5 days ago. Assuming that, as you said the problem is in `aws-sdk`, maybe could be fixed?

[2018-10-17 08:02] jonasao commented on #1269
@powerful23 Thanks, you made my day! Unfortunately I think the "Amplify Team" should have a look at this - either adding your information to their docs, or by changing the `Auth.signOut()` method.

Proposed change to the `Auth.signOut()` method:
Add an argument/flag, which allows the user to completely sign out the user when using a single-page application using `withAuthenticator` or `Authenticat

[2018-10-17 10:13] lexakozakov commented on #1466
I got the same error, Im using Web browser to login.

[2018-10-17 10:59] huszzsolt opened #1922 "react-native Auth federated re-login, federatedInfo with options undefined"
** Which Category is your question related to? **
react-native Auth
** What AWS Services are you utilizing? **
amplify, cognito, auth

** Provide additional details e.g. code snippets **
I am trying to add federated login to app. The google federated login works, however, the login in does not persists after the app is restarted:
 Auth.currentAuthenticatedUser() returns "not authenticated"

I have

[2018-10-17 11:53] wnkz commented on #1891
`0.13.0` also has a bug on IE11 https://github.com/graphql/graphql-js/issues/1356

[2018-10-17 14:20] epicfaace opened #1923 "Auth.currentAuthenticatedUser() should return cognito:groups attribute"
**Is your feature request related to a problem? Please describe.**
I have to parse the JWT token myself to actually see the groups the user is in.

**Describe the solution you'd like**
It's be nice if `Auth.currentAuthenticatedUser()` returns the `cognito:groups` attribute.

[2018-10-17 14:32] k3j123 opened #1924 "ConfirmSignUp: Code cannot be empty"
** Which Category is your question related to? **
Usage
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **

[code]

running the code above to confirm a user and the verification code that is sent to them returns error:
"Code cannot be empty"

Even though I supply the email/username and code sent to the email. I can confirm that the data is being

[2018-10-17 14:40] mikeRChambers610 commented on #1577
Hi I have a very similar issue. I have a few queries without variables that are exactly the same but are working fine. Now I am executing this query and getting "items" of undefined.

In the queries console I am getting the correct output for the group messages of the group where I provide the ID. Please let me know if you see anything wrong with the below :

graphql(ListGroupMessages, {
    optio

[2018-10-17 14:44] mikeRChambers610 commented on #1402
Hi I have a very similar issue. I have a few queries without variables that are exactly the same but are working fine. Now I am executing this query and getting "items" of undefined.

In the queries console I am getting the correct output for the group messages of the group where I provide the ID. Please let me know if you see anything wrong with the below :

graphql(ListGroupMessages, {
options:

[2018-10-17 16:29] powerful23 commented on #1910
@pmd30011991 you mean you can't update `OptOut` even your endpoint has been updated with the device token in `Address`?

[2018-10-17 16:52] powerful23 commented on #1269
@jonasao I agree we need either enhance the doc or we can make the `Authenticator` listen on the `Hub` event so that when a `signOut` event emitted from the library, it will change the state back to `signIn`.

[2018-10-17 18:32] learningacct opened #1926 "Multi-tenancy with Amplify @auth GraphQL transformer"
** Which Category is your question related to? **
GraphQL directives/transformers.

** What AWS Services are you utilizing? **
Appsync/Cognito/Amplify.

** Provide additional details e.g. code snippets **

I am building a multi-tenant messaging app with a GraphQL backend. Users are held in a single Cognito user pool. A user can be in multiple organizations (these are the tenants), multiple groups

[2018-10-17 18:36] vaddanki commented on #1715
Same error..
e = TypeError: user.completeNewPasswordChallenge is not a function at eval (webpack:///./node_modules/@aws-amplify/auth/lib/Auth.js?:783:18) at new Promise (<anonymous>) at AuthClass.completeNewPassword (webpack:///./node_modules/@aws-amplify/auth/lib/Auth.js?:782:16) at HTMLButtonElement.SubmitVerifyUserButton.addEventListener (webpack:///./src/app.js?:110:58)

CognitoUser {username:

[2018-10-17 18:52] LoganArnett commented on #1630
Are there any updates on this?

[2018-10-17 19:00] ASteinheiser commented on #1867
Okay, I have one more question.

My current setup does not use the refreshToken handler, and just gets the cached token from AccessToken on react-native-fbsdk. This token appears to be a [long-live](https://developers.facebook.com/docs/facebook-login/access-tokens/refreshing/) token, as it's valid for more than a day (seems like it should last months). The web facebook sdk seems to use a short-liv

[2018-10-17 23:18] huszzsolt commented on #1922
I found that I had an aws-amplify < 1.0.0. After updating manually in package.js to 1.1.6 amplify works, and federatedSignin does work both with Google and Facebook with ReactNative. Happy times!

[2018-10-17 23:18] #1922 closed

[2018-10-17 23:58] mlabieniec commented on #1903
@karlmosenbacher @angineering can you take a look at the following update to the authentication guide and let me know if this helps:

https://github.com/mlabieniec/docs/blob/master/js/authentication.md#using-components-in-react--react-native

I haven't exactly split these up completely yet, but provided a high-level overview of all the options available on the `Authenticator` and `withAuthenticato

[2018-10-18 00:07] powerful23 commented on #1867
@ASteinheiser it doesn't matter if it's a long live one or not, Amplify will check its expiration time and based on that it will trigger the refresh function. When you get the token from Facebook, you should also get a time which tells you when the token will expire right?

[2018-10-18 00:13] ASteinheiser commented on #1867
Yeah, I understand that. The only difference between long live and not is how long the expire time is.
The token I get back expires in a few months. So I assume at that point, it will try to refresh?

[2018-10-18 00:38] CGregoryDunn commented on #1755
I'm seeing the same behaviour as @alsco77 on macOS 10.14

[2018-10-18 02:42] goatandsheep commented on #1715
you're missing a lot in your workflow. Here let me help you out:

[code]

[2018-10-18 02:47] stormit-vn commented on #525
@powerful23 po yeah, I think we'll have to use organization login page as it is SSO functionality. Some people suggest using cookie-based solution utilising passport.js and nuxt.js.

[2018-10-18 02:49] stormit-vn commented on #1824
Yeah, I agree, we should support SMAL provider, for an example provide an interface to open self-hosted UI. As of now, I have to write a function like below

[code]

[2018-10-18 03:41] kangks opened #1927 "How do I get Subscribe working properly with Amplify in Angular"
** Which Category is your question related to? **
Subscribe to AppSync using Amplify API in Angular 6

** What AWS Services are you utilizing? **
AppSync, aws-amplify-angular@2.0.10

** Provide additional details e.g. code snippets **
I am following the example of subscription in https://aws-amplify.github.io/amplify-js/media/api_guide#subscriptions, but encountered error subscribing to the API.gr

[2018-10-18 04:15] sweepy84 commented on #1852
Same - I would have used AWS if flutter integration was available.

[2018-10-18 07:13] mrowles commented on #1916
This issue has moved a bit, check out https://github.com/Microsoft/TypeScript/issues/24963#issuecomment-429803003

[2018-10-18 09:01] angineering commented on #1903
Thank you for the quick update @mlabieniec .

The new definitions of props are _super helpful_. **Great addition**!

Would you be able to add a note on how to:

- [ ] Configure auth setup to use email instead of username? I haven't been able to do this, and would love to.

- [ ] How to use email link verification instead of code?

- [ ] How to turn off email verification

### Other comments:

I th

[2018-10-18 09:04] angineering commented on #539
Any updates on this issue? Weird that it's not available in Amplify but I can edit it in the browser

[2018-10-18 09:46] Zilvinaskli commented on #1907
I don't configure it manually.
I use:
[code]

[2018-10-18 09:47] davevh commented on #993
I am facing the same issue with using wild cards. It is not working. Is there a work around. If i subscribe without wildcards it works. But can i subscribe to more then one at once ?

[code]

[2018-10-18 11:00] nirmalkumarv commented on #1894
I tried once again all the steps and this time i ran the build process to ensure the dist folder are created. Now i can able to see the hosted files. You can close this ticket.

In the Tutorial, You can add this as a Note that "ensure the dist folder is there or run the build to create the dist folders before publishing to s3"

[2018-10-18 12:01] fkguygu opened #1929 "React Native Login with Amazon"
Any solution on how to perform a Login with Amazon using Amplify for React Native?
I tried to find some examples using the Auth.federatedSignIn() function but couldn't find any.

[2018-10-18 12:15] JustFly1984 opened #1930 "I have exactly 6 400 requests to https://pinpoint.us-east-1.amazonaws.com/v1/apps"
I do not know how to fix it.

full link: https://pinpoint.us-east-1.amazonaws.com/v1/apps/41cb864403584ffa8d7c2225060ee4fc/endpoints/d2479cb0-d2cc-11e8-a990-21493bfb5f09

<img width="1004" alt="screenshot 2018-10-18 07 13 23" src="https://user-images.githubusercontent.com/2255993/47153467-56a6aa00-d2a5-11e8-93cb-a9a1dc03ea60.png">

and response is: {"Message":"Exceeded maximum endpoint per user co

[2018-10-18 12:15] sankranti2018 commented on #1715
Thank you for the help. I have few additional questions. 1. I am stepping through the code and see that the user.challengeName === "NEW_PASSWORD_REQUIRED" is true. The user status in cognito is FORCE_CHANGE_PASSWORD. So, the completeNewPassword is called but returns error *TypeError: user.completeNewPasswordChallenge is not a function at eval *. Although, the workflow steps you mention will have t

[2018-10-18 15:49] karlmosenbacher commented on #1903
@mlabieniec  thanks for the updated docs! Really appreciated.

I have one thought tho regarding the authenticator docs.
https://github.com/mlabieniec/docs/blob/master/js/authentication.md#using-the-authenticator-component-directly

It says in the docs that when using the authenticator it will give you more customization options for your UI. Does this mean that I can create my own SignUp screen or

[2018-10-18 16:15] SMJ93 commented on #1759
Has anyone managed to get this working?

[2018-10-18 16:16] phatcatmatt commented on #940
Any progress happening on this?

[2018-10-18 16:17] callmekatootie commented on #1759
@SMJ93 Not sure where you are stuck. You only need to update the module to the latest version to resolve the issue

[2018-10-18 16:18] mohanrao opened #1931 "How to merge user identities"
** Which Category is your question related to? **
Auth

** What AWS Services are you utilizing? **
Pinpoint, Cognito user pool, Coginto Identity Pool

** Provide additional details e.g. code snippets **
Hi,

I am trying to find the sample code on the client side (ours is a web app) and on the server side how to achieve merge identities like fb, google with matching email.

I found adminLinkProvide

[2018-10-18 16:19] mohanrao commented on #1737
Hi @powerful23 I noticed this behavior in Safari. And also if the user refreshes the page it recognizes the user and shows the user is logged in

[2018-10-18 16:50] ARA59 commented on #915
you need to call completeNewPasswordChallenge on the authenticated cognito user (the cognito user that logged in with temp password)

[2018-10-18 16:52] mlabieniec commented on #1903
@karlmosenbacher thanks for the input. Recently the withAuthenticator has been updated to also provide more customization, so it's not as locked down as before. However, you can't obviously place it where you'd like in your app or position it anywhere in particular is the caveat where you would probably use the Authenticator at this point. Does that make sense?

For the using particular parts of t

[2018-10-18 17:03] powerful23 commented on #1867
@ASteinheiser yes.

[2018-10-18 17:46] karlmosenbacher commented on #1903
@mlabieniec that makes absolutely sense, but Im afraid thats not the issue I am having, and I am trying to go away from using the API and take advantage of Authenticator (or withAuthenticator) as mush as possible.

Please correct me if Im wrong now, but I try to use the Authenticator in this way:

This would be in the App.js file (not index.js).

[code]

and then in my MyCustomSignUp-component
[co

[2018-10-18 18:30] powerful23 commented on #1903
@karlmosenbacher it should be like:
[code]

And yes in your signUp component, you should render it or not based on the `authState`, and you can jump to other state by:
[code]

[2018-10-18 18:31] manueliglesias commented on #1930
Hi @JustFly1984

Could you share here how you are configuring Amplify?

[2018-10-18 18:34] karlmosenbacher commented on #1903
@powerful23 thanks for clarifying it!

[2018-10-18 18:41] kangks commented on #1927
Apparently it was due to name conflict, over Observable from rxjs and zen-observable, renaming one of them fix the issue:

[code]

[2018-10-18 18:41] #1927 closed

[2018-10-18 19:14] lennybr opened #1932 "@auth Combining Owner/Groups rules for Multi-Tenant Apps"
**Is your feature request related to a problem? Please describe.**
Ability to support multi-tenancy thru AppSync where individual items are "owned/belong" to a tenant instead of a user and we still have the ability to permission queries and mutations. Generated resolvers today effectively use ``isOwner || isInGroup(x for x in cognitoGroups)`` logic so multiple @auth rules cannot be combined to cre

[2018-10-18 19:31] lennybr commented on #1932
This should be in amplify-cli, can be deleted here.
https://github.com/aws-amplify/amplify-cli/issues/317

[2018-10-18 19:44] cdaringe commented on #940
i dropping the project that motivated this, so no work from my end

[2018-10-18 19:47] #1912 closed

[2018-10-18 19:49] manueliglesias commented on #1932
Thanks @lennybr

[2018-10-18 19:49] #1932 closed

[2018-10-18 20:33] goatandsheep commented on #1715
How are you calling `Auth.completeNewPassword`? Put the line here. It must have the following params:

1. The user object **directly from Auth.signIn**
2. The user's new password
3. An object containing additional settings ( use `{}` if you don't have any)

[2018-10-18 21:52] onyii5119 commented on #993
Hi Dave,
I have not been able to get PubSub to work for me. Could you please publish an outline of what works for you (even without wild cards). Also, please include your code for receiving messages.

My platform is Angular/Ionic. AS a matter of fact this simple code does not compile clean for me.
PubSub.subscribe('+/mytopic').subscribe({
  next: data => console.log("Message:", data.value),
  erro

[2018-10-18 22:34] dominictwlee opened #1933 "Getting 'Auth module is not registered with Amplify' when using PubSub module"
** Which Category is your question related to? **
Having issues with the PubSub module. I'm getting 'Auth module is not registered in Amplify' warning when calling PubSub.subscribe. Cognito/Auth seems to work perfectly fine with API and SignIn stuff though.

** What AWS Services are you utilizing? **
Auth, API, PubSub.

** Provide additional details e.g. code snippets **
Configs for Amplify:
[code

[2018-10-18 23:05] uclaeamsavino commented on #1386
I have an issue with the

I have one issue with this method. If I use it on my home page, then a user signs in later through a different page. The home page listener still fires and I get the warning about component not mounted:
[code]
Does anyone know how I can unsubscribe to this when my Home component unmounts? Thanks a lot.

[2018-10-19 01:41] mrowles commented on #1916
Resolved with updates, see linked issue

[2018-10-19 01:41] #1916 closed

[2018-10-19 04:53] mohanrao commented on #1846
Hi,

In your code you are using the amazon-cognito-identity-js not the amplify-js library ?

In that case may be this is not the right place for the question. not sure

[2018-10-19 05:07] mohanrao commented on #1737
Sure. Also i am trying to fix the code by changing the order of app initiation logic and will see if it fixes the problem

[2018-10-19 05:52] JustFly1984 commented on #1930
Sure thing!

In index.js before rendering React, I do `Amplify.configure(awsmobile)` passing correct `awsmobile` according to environment. In this case it is development environment and hostname is `https://localhost:3000`

Also I'm using Amplify.Auth in React components and nothing else. I was planing to use GraphQL, but currently I'm stuck with https://github.com/aws-amplify/amplify-cli/issues/1

[2018-10-19 07:21] rfdc opened #1934 "Amplify w/ Next.js"
Hi there,
Is there a work flow example for Nextjs with:
- Sing-up and Login
- AuthenticatedRoute and UnauthenticatedRoute

Thanks

[2018-10-19 07:43] aldarund commented on #1896
@jaehyeon-kim hm, isnt it will create a new session so a challengeAnswer will be different too?

[2018-10-19 07:52] dominictwlee commented on #684
Had anyone encountered any issues with the Author module while using PubSub.subscribe? I've followed the setup instructions, for Amplify, Auth, and PubSub, managed to get those to work with sign in, sign out and API calls but I get a "No Auth Module is registered with Amplify" when using PubSub.subscribe?

[2018-10-19 08:01] #1934 closed

[2018-10-19 08:28] Prithivraj200 commented on #1846
Hi Mohanrao,

     NPM points to this git repo. So I believe this is the right place

[2018-10-19 08:29] sankranti2018 commented on #1715
Thank you. Your response helped in identifying my mistake. The user object passed to Auth.completeNewPassword was different from the one returned by signin method so it was failing. After changing to use the object returned by signin it works correctly. Confirmed in cognito console that the status of user does change correctly.

[2018-10-19 09:12] jaehyeon-kim commented on #1896
@aldarund

You mentioned you've already created all lambda triggers + code, which is a challenge answer. I consider only username is missing in this case.

See the relevant section of the Amplify document - https://aws-amplify.github.io/amplify-js/media/authentication_guide#defining-a-custom-challenge (actually it's in _Verify Challenge Response_ section just below it, which cannot be tagged.)

[2018-10-19 09:13] aldarund commented on #1896
@jaehyeon-kim not what i mean. I mean challenge answer created during login and by logic should be tied to session. When u do Auth.signIn(this.username) it will create new challenge code with new session

[2018-10-19 09:33] kylekirkby commented on #552
I'm still getting this issue - any ideas people?

[2018-10-19 10:10] SMJ93 commented on #1759
We are using:

[code]

But still get the error:

`AWSPinpointProvider - Please ensure you have updated you Pinpoint IAM Policywith the Action: "mobiletargeting:PutEvents" in order tocontinue using AWS Pinpoint Service`

[2018-10-19 11:31] aldarund commented on #1896
@jaehyeon-kim yes, but that still will send user new email on second login call

[2018-10-19 12:02] sam-webchef opened #1936 "API.put request with modified data creates a new record when the primary sort key is edited"
I'm using aws-amplify/api version 1.0.17. I used the [code example in the Amplify documentation](https://aws-amplify.github.io/amplify-js/media/api_guide#put) to update an existing record.

Following is my code

[code]

When I edited any field other than the primary sort key, it updates the record. But when I edit the primary sort key, it creates a new record with the same primary partition key. A

[2018-10-19 12:10] kylekirkby opened #1937 "awsmobile vs awsconfig in the aws-exports.js file?"
** Which Category is your question related to? **
aws-amplify

** What AWS Services are you utilizing? **
aws-amplify

** Provide additional details e.g. code snippets **

When the generated aws-exports.js file is added to my project it contains the awsmobile constant but the docs state it should be awsconfig. Why is this?

const awsmobile =  {
vs
const awsconfig = {

[2018-10-19 12:44] sam-webchef commented on #1936
Found out that it is the default behaviour. Closing.

[2018-10-19 12:44] #1936 closed

[2018-10-19 14:07] jaehyeon-kim commented on #1896
@aldarund

Maybe I don't fully understand what you're going to implement.

I'm building a portal that supports single sign on. In the portal, a user signs in and then a list of apps that the user has access are shown. If the user clicks one of them, it opens the app while passing the username (email) and a challenge answer that can be independently verified (guess which may be a good challenge ans

[2018-10-19 14:17] aldarund commented on #1896
@jaehyeon-kim i just need sign in via mail. E.g. user enter his email on site -> cognito send mail to him -> user click email and get logged in.
So with your solution one email would be send when he tried to login, and second email will be send when he click link from first mail to actually login.

[2018-10-19 14:46] aldarund commented on #1896
yes, it can be, just tried to implement it as a cognito since it does support all this triggers :)

[2018-10-19 14:52] mduecker commented on #909
Which release?
For me it's not working on aws-amplify@1.1.8-unstable.1

[2018-10-19 17:06] powerful23 commented on #1929
@fkguygu you need to perform the Login with Amazon by your own. What Amplify could help is to use the token you get from the Amazon Login to get you a credentials from Cognito Identity Pool by using `Auth.federatedSignIn()`

[2018-10-19 17:29] Enalmada commented on #1613
@romainquellec Can you elaborate?  I am considering building an AppSync react native app for a client and an admin interface to manage things is a requirement.  A Next.js Amplify AppSync admin client "backend" would be ideal.  Is Amplify with Next.js really not possible?

[2018-10-19 17:31] powerful23 commented on #552
@kylekirkby are you using the latest version?

[2018-10-19 17:46] powerful23 commented on #1759
@SMJ93 are you using Pinpoint Analytics in your app? The error message will show up if the request sent to pinpoint service failed.

[2018-10-19 18:05] karlmosenbacher opened #1938 "Can't resolve '@aws-amplify/analytics'"
**Describe the bug**
Trying to run npm run start with the (at the moment) latest stable versions of aws-amplify and aws-amplify-react and get this error message:

***
Failed to compile.
./node_modules/aws-amplify-react/dist/Analytics/trackUpdate.js

Module not found: Can't resolve '@aws-amplify/analytics' in ' ... node_modules/aws-amplify-react/dist/Analytics'
***

**To Reproduce**
Steps to reprod

[2018-10-19 21:49] zeesulehria opened #1940 "aws-amplify AWSAppSyncProvider.js exception on subscription"
**Describe the bug**
Application crashed sometimes in the middle generating console log pasted below.

**Screenshots**
JavaScript stack trace:
1   @file:///app/tns_modules/@aws-amplify/pubsub/lib/Providers/AWSAppSyncProvider.js:113:49
2   forEach@[native code]
3   onDisconnect@file:///app/tns_modules/@aws-amplify/pubsub/lib/Providers/AWSAppSyncProvider.js:112:36
4   onConnectionLost@file:///app/tn

[2018-10-19 23:01] j0b0sapi3n commented on #1124
Was this ever figured out? I want to automatically log a user in after they've confirmed their sign up, instead of having them go back to sign in which is unnecessary friction for a user sign up flow. Can't seem to find any additional info about this elsewhere.

[2018-10-20 01:44] s-tkachenko commented on #1813
I faced the same issue and found the cause:

- **[currentSession()](https://github.com/aws-amplify/amplify-js/blob/master/packages/auth/src/Auth.ts#L952)** calls **[currentUserPoolUser()](https://github.com/aws-amplify/amplify-js/blob/master/packages/auth/src/Auth.ts#L859)** inside
- after getting current (from cache, if it's still valid) or new session token calling **[user.getSession((err, sessi

[2018-10-20 14:13] #1937 closed

[2018-10-20 23:17] noellaby opened #1943 "Not able to update channel type in aws pinpoint"
Hello,
I have just started to use the AWS pinpoint, and I was trying to update the channelType in with the updatePinpoint call, but it is not using the provided value in the code, and setting it to by default to APNS,

The same issue is happening with the location and some other fields.

`Analytics.updateEndpoint({
    Address: user.email,
    Attributes: {
      userProfile: [user.companyId]

[2018-10-21 00:36] ceich commented on #218
@russelltaga are you looking at the 2.1.x version of aws-amplify-react? I just upgraded today and see what @hernangarcia is seeing.

[2018-10-21 00:39] russelltaga commented on #218
@ceich My bad, I'm definitely on an older version (completely forgot to upgrade to the latest for the test). Will try to verify soon.

[2018-10-21 05:12] jakebenn commented on #882
Since the older, Node-compatible JavaScript SDK (https://github.com/amazon-archives/amazon-cognito-identity-js) is no longer supported, and the new JavaScript SDK, Amplify, doesn't support Node, does that mean that Amazon officially no longer supports server-side JavaScript for Cognito?

[2018-10-21 06:29] fkguygu commented on #1929
Hey, Thanks for the reply - I understood that, but I couldn't find any documentation to perform that with React Native and Expo. Any suggestions?

[2018-10-21 08:47] hszeto opened #1949 "Custom theme for withAuthenticator in React Native"
I'm trying to use my theme for withAuthenticator in React Native.

According to the docs, https://aws-amplify.github.io/docs/js/authentication#props , withAuthenticator takes a theme argument.

The code base reflect that:
https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-react/src/Auth/index.jsx#L37

That's for aws-amplify-react.

However, I'm using aws-amplify-react-nativ

[2018-10-21 09:13] aussieweever commented on #1715
Anyone can confirm that save the user object returned from signIn can be stored in the session storage via JSON.parse()?
When the user sign in at the first time, I redirect the page to the change password one, however when I use the stored user object to call the completeNewPassword() it always says the error as user.completeNewPasswordChallenge is not a function

[2018-10-21 11:55] SMJ93 commented on #1759
Yeah we are. So the first initialise event works, but then all of the others seem to fail with this error message.

All of these events were tested and working before this pinpoint change.

[2018-10-21 13:18] goatandsheep commented on #1715
I tried this (long story above - sessionstorage stores the same format as localstorage) and the object wasn't recognized properly. It needs to be a CognitoUser object. You're going to have to figure out how to pass it, put it in a 3rd party store like Redux or even Amplify Cache

[2018-10-21 16:08] noellaby commented on #1848
@powerful23 is not working always ?
pls help me

[2018-10-21 16:09] noellaby commented on #1848
@powerful23 is not working always ?
pls help me

[2018-10-21 17:16] noellaby commented on #1943
@powerful23 help me pls?

[2018-10-21 20:39] ysfmag commented on #1624
I created a lib that help you customise amplify authentication UI,  please check https://github.com/ysfmag/aws-amplify-react-custom-ui

[2018-10-21 20:47] ysfmag commented on #442
I created a lib that help you customise amplify authentication UI, please check https://github.com/ysfmag/aws-amplify-react-custom-ui

[2018-10-21 21:54] rush86999 commented on #1652
same issue please bump this problem

[2018-10-21 23:28] noellaby opened #1950 "AWS Pinpoint : Active targetable endpoints is Nul"
Hello

I integrated AWS Amplify into my project react native. I use facebook Account Kit for connecting users. I'm having problems with aws pinpoint.

- The analytics module works very well
- the push notification module does not work very well:
- the golds of tests to know to send a push notification according to the token FCM, I receive very well the message push notification.
- In the dashboard

[2018-10-22 04:29] differentsmoke commented on #915
1. That is what I'm doing.
2. `completeNewPasswordChallenge` doesn't seem to be described in the Docs.

[2018-10-22 08:42] MatteoGioioso commented on #671
Same issue here, every time I switch tab and go back, Amplify is sending exactly 2 requests

[2018-10-22 09:33] kacpermigala commented on #1556
No, I'm not using expo, I use the android virtual device to run an application in dev environment.

[2018-10-22 09:46] Exitialis1 commented on #1733
Is there any chance of at least a workaround to this problem? This bug is a very good reason to not continue using Amplify.

[2018-10-22 10:12] shengliZh opened #1951 "login failed"
Login failed:
null is not an object(evaluating 'info.username')

![image](https://user-images.githubusercontent.com/25652977/47287770-f8bbee80-d625-11e8-81ec-80f6dd8b884b.png)

[2018-10-22 12:53] buggy commented on #1896
When the user enters their email address invoke a Lambda via the API GW to send the sign-in link. After the user clicks the link and reloads the app then use `Auth.signIn()` with a custom auth flow to complete the process. You might need to include the email address in the sign-in link.

[2018-10-22 13:11] chai86 commented on #1834
@luigibaute @mlabieniec @swaminator @UnleashedMind can you assist here please?

[2018-10-22 13:29] koolkav1 commented on #1872
Okay, thanks. I finally got it to work.

[2018-10-22 14:09] noellaby commented on #1950
@powerful23 pls help me.

[2018-10-22 14:33] dominictwlee commented on #993
same issue here

[2018-10-22 14:48] PrasannaLearnyst opened #1954 "Amplify stop session event is not received in pinpoint"
Configuration
===========
[code]

=============

**Describe the bug**
1. The _session_start events are automatically pushed to pinpoint but unable to receive the _session_stop, do it need to send manually

2. AWS auth credentials are not getting updated on init

Error stack

`[DEBUG] 05:39.335 AuthClass - failed to get or parse item aws-amplify-federatedInfo: SyntaxError: Unexpected token u in JSO

[2018-10-22 17:02] powerful23 commented on #1124
@j0b0sapi3n you can achieve this by directly calling `Auth.signIn()` when confirming sign up succeeded. But it's not available by using aws-amplify-react by now.

[2018-10-22 17:13] manueliglesias commented on #1938
Hi @karlmosenbacher

Can you share a little bit more code? (e.g. how are you configuring Amplify).

I am having trouble reproducing the issue, this is what I am doing and I can see analytics events being logged:

[code]

App.tsx:
[code]

[2018-10-22 17:33] powerful23 commented on #671
@MatteoGioioso these two requests are sent as the session event for the Pinpoint Analytics. If you do not want the auto tracking feature, you can turn it off in your Analytics configuration: https://aws-amplify.github.io/docs/js/analytics#manual-setup

[2018-10-22 17:44] SMJ93 commented on #1759
We get this error message on repeat:

[code]

We have updated the policy as explained [here](https://aws-amplify.github.io/docs/js/analytics#update-your-iam-policy) and updated to the latest version.

[2018-10-22 18:02] powerful23 commented on #1759
@SMJ93 I mean could you check your network requests and find the those failed requests?

[2018-10-22 18:14] nidsharm commented on #1951
Hi @shengliZh , could you please tell us if you are using the Cognito SDK or Amplify , and which API to make the call ?

[2018-10-22 19:36] powerful23 commented on #1834
@chai86 hey we found the version of `aws-amplify` used by react native starter is pretty old and has sent a pr to update it: https://github.com/aws-samples/aws-mobile-react-native-starter/pull/78

[2018-10-22 19:51] powerful23 commented on #1943
@noellaby for now it's not available, Related to #1801

[2018-10-22 19:59] powerful23 commented on #1954
@PrasannaLearnyst
1. Could you check if you have this message when the app is switched to background: https://github.com/aws-amplify/amplify-js/blob/master/packages/analytics/src/trackers/SessionTracker-rn.ts#L73

2. The credentials do get updated when the request is sent. The debug info you pasted is not an error message.

3. Why do you want to restore the UserId? Are you using your own? By defau

[2018-10-22 20:43] ceich opened #1956 "Race condition between AppSync and Cognito on signin from hosted UI"
** Which Category is your question related to? **
How to use Cognito hosted Auth with Amplify React and AppSync.

** What AWS Services are you utilizing? **
See above.

** Provide additional details e.g. code snippets **
I am using Cognito hosted auth UI, configured in file scope in `App.js`:
[code]
Further down the file, I pass the Cognito access token to AppSync as follows. Note the error handli

[2018-10-22 20:44] ceich commented on #1956
Here is a log file of the first time the hosted UI redirects to `/signin`:

[auth.grancentral.ai-1540238277620.log](https://github.com/aws-amplify/amplify-js/files/2503325/auth.grancentral.ai-1540238277620.log)

[2018-10-22 21:44] guanzo opened #1958 "How to verify user attributes as an admin?"
For context: When a user signs up, my lamba function customizes the confirmation email with a link to my own server, and sends all parameters available in the lambda function as query params. This server calls Cognito's [ConfirmSignup](https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_ConfirmSignUp.html) method through [boto3](https://boto3.amazonaws.com/v1/documentat

[2018-10-22 23:51] bionicles opened #1959 "major security hole in cognito sign up"
**Describe the bug**
We have waited 42 days to get a simple change, we need to simultaneously verify user email and phone, because a hacker could get a new sim card from an ISP, or spoof a number, or use an IMSI catcher, or steal someone's device, or any number of other things, and verify an account using the fake number even without owning the email in question.

That is a huge security problem a

[2018-10-22 23:57] bionicles commented on #1685
this is a major security problem and needs to be fixed ASAP because hackers with IMSI catchers or social engineering to get sim cards can easily verify accounts for emails they don't own. this delays our platform launch. this is really frustrating

what is the reason to wait around for 30+ days on this @nidsharm @yuntuowang ?

do you think i should email jeff bezos AGAIN about this issue, 42 days

[2018-10-23 01:15] goodryanboy commented on #1950
did you attach mobile policy in your cognito role? like this
"Statement": [
        {
            "Effect": "Allow",
            "Action": [
                "mobileanalytics:PutEvents",
                "cognito-sync:*"
            ],
            "Resource": [
                "*"
            ]
        }
    ]
}

[2018-10-23 01:20] noellaby commented on #1723
add Amplify.configure(aws_exports); before Analytics.configure(aws_exports);

[2018-10-23 02:14] kalzoo opened #1960 "hex is not a function"
**Describe the bug**
React Authenticator UI SignIn fails in simple usecase

**To Reproduce**
1. Use Authenticator to wrap app, with no props or custom behavior
2. Create a cognito user pool which uses email as the username
3. Create a user in Cognito user pool using the AWS console
4. Attempt to sign in

**Expected behavior**
It should work

**Screenshots**
![screen shot 2018-10-22 at 10 05 43 pm]

[2018-10-23 02:20] kalzoo commented on #1960
Just for kicks, I rebuilt the user pool to use standard username instead of email. No change, same error appears on SignIn form submit.

[2018-10-23 02:35] kalzoo commented on #1960
Built a custom form component and now still receiving that error. This time, got a stack trace:

[code]

[2018-10-23 03:03] mlabieniec commented on #1959
Hello, the service team has outlined a solution per your last comment. The solution is outlined in the Cognito docs under the important section:
https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-settings-email-phone-verification.html

If you can let us know what the issue is with this solution I’d be happy to relay the feedback for you on why this doesn’t work for your use case.

[2018-10-23 03:06] mlabieniec commented on #671
Looks like this is solved per the above feature. Please feel free to reopen if you are still having issues with the auto tracking disablement.

[2018-10-23 03:06] #671 closed

[2018-10-23 03:10] goatandsheep opened #1961 "Allow to put secure cookies into CookieStorage"
**Is your feature request related to a problem? Please describe.**
I'm trying to use secure cookies for an HLS video player pulling private content from CloudFront. My current understanding is that CookieStorage only allows for one cookie.

**Describe the solution you'd like**
I'm content with the auth token my users get from my Federated Identity Pool, but I'd need to store a second one if I want

[2018-10-23 03:13] mlabieniec commented on #1930
@JustFly1984 do you have analytics enabled in your application? If so do you have your iam policies setup via the cli or manually? Seems like this may be related to session tracking events , which you can turn off:
https://aws-amplify.github.io/docs/js/analytics#manual-setup

Also this error will generally occur if an endpoint id can not be cached and reused for some reason I.e. local storage not

[2018-10-23 04:53] shengliZh commented on #1951
Yes, I'm use aws-amplify, and I have call the API   Auth.signIn(username,password);

[2018-10-23 05:33] karlmosenbacher commented on #1938
@manueliglesias thanks for the answer, but the thing is that I don't even use analytics in my application at all.

Below is how I configure amplify
[code]
and thats it. The only module I am using is the Auth module from the aws-amplify library and the authenticator component from aws-amplify-react.

[2018-10-23 05:36] PrasannaLearnyst commented on #1954
@powerful23
thanks for the reply

1. Could you check if you have this message when the app is switched to background
No i'm unable to get "App has come to inactive/background, recording stop session"

2. The credentials do get updated when the request is sent. The debug info you pasted is not an error message.
Yes, its not a error, i have checked [Auth.ts](https://github.com/aws-amplify/amplify-js

[2018-10-23 07:28] noorahmed94 opened #1962 "Device not getting remembered after login from Cognito Hosted UI"
** Which Category is your question related to? **
My question is related to AWS Auth (Federation of Cognito User Pools).

** What AWS Services are you utilizing? **
I am using Amazon Hosted UI for social signin using React JS.

** Provide additional details e.g. code snippets **
I am using AWS Amplify's Hosted UI Feature for supporting Social Signin (Facebook and Google). The problem I am facing i

[2018-10-23 09:52] louiskhenghao opened #1963 "Getting error when implement to nextJs"
**Describe the bug**

I've implemented aws-amplify to nextjs and it work just fine until i import aws-amplify-react, there is an error when i tried to load up the site and the error i getting was:
[code]
I was trying to fix the issue and unfortunately i have no luck. But i find out that If i goes to the files below and uncomment certain part of the code, the site will be loaded without any error b

[2018-10-23 09:55] bionicles commented on #1959
Phone numbers are not secure, and it's possible to gain access to the SMS messages in numerous ways, so it's more secure against adversaries (and makes philosophic sense) to expect simultaneous verification of email and phone. It simplifies the user interface and reduces the code. If we use this current system, someone can successfully create a user in our user pool without having access to the em

[2018-10-23 11:02] ahmetcetin opened #1965 "SignOut component is not automatically redirect to SignIn"
**Describe the bug**
When you use SignOut component in a page, it doesn't automatically show SignIn component. I use customized auth components (including SignIn) passed to withAuthenticator.

**To Reproduce**
Just use SignOut component anywhere on the page. When you click it signouts the user but user still sees the page which shouldn't be visible to unauthenticated users.

**Expected behavior**

[2018-10-23 11:27] noellaby opened #1966 "AWSPinpointProvider - ensure credentials error : [ResourceNotFoundException: IdentityPool 'us-east-1:38837447-7d66-4bd0-9d20-5aXXXX' not found.] }"
Hello
I receive Error
`AWSPinpointProvider - ensure credentials error : [ResourceNotFoundException: IdentityPool 'us-east-1:38837447-7d66-4bd0-9d20-5aXXXX' not found.] }`
Sincerely

aws-amplify: 1.1.7
aws-amplify-react-native: 2.0.7
@aws-amplify / pushnotification: 1.0.16

[2018-10-23 11:28] wzup opened #1967 "[Auth.confirmSignUp] Do you have functionality to test 'confirmSignUp' method? We need to mock confirmation code."
How to test `Auth.confirmSignUp` method? https://aws-amplify.github.io/amplify-js/api/classes/authclass.html#confirmsignup
I takes two params: username and confirmation code.

I have username. But how do I fake/mock confirmation code?
I need to have fake and real confirmation codes to test our app's signup behavior.
Does `amplify-js` provides some fake codes for testing.
Because it doesn't look ni

[2018-10-23 12:08] jtaylor1989 commented on #576
what data do you put in base64Image ?

[2018-10-23 13:31] SMJ93 commented on #1759
It returns a `202` so it looks like it is not being completed.

[2018-10-23 13:48] amymc opened #1968 "onSubscriptionMsg usage in the React Connect component"
Hi,
I'm using the `Connect` component in the `aws-amplify-react` library.

My component executes a query and subscribes to an update action in the underlying dynamo table. I would like to receive the updated record in the table when the update action has been triggered.

This is how my component looks currently
[code]

This works but I have a feeling calling the `GetBot` query again in `onSubscrip

[2018-10-23 15:53] angineering commented on #1903
hi @mlabieniec  thank you again for working on this.

I was wondering if you would be able to quickly explain how to set up aws amplify to use email instead of username? as in the photo https://aws-amplify.github.io/docs/js/authentication#sign-up . It always sets up with username and makes it unchangeable whenever I do it. Can't wait for the new documentation :)

[2018-10-23 16:12] sflamme commented on #1772
Hi,

Coming back to this issue. It seems there is security concern regarding the
use of IdToken for accessing an API.
Standard seems to indicate that only access token should be used.

https://auth0.com/docs/api-auth/why-use-access-tokens-to-secure-apis

So that triggers the following questions:
 - when using the local AWS appsync query builder why this is working?
where does the context info come

[2018-10-23 16:42] michaelcaterisano opened #1969 "Generated mutations don't include array of objects field"
** Which Category is your question related to? **
`amplify push`

** What AWS Services are you utilizing? **
amplify, aws appsync, graphql

** Provide additional details e.g. code snippets **

I'm using `amplify push` to generate my GraphQL queries and mutations. Here's my schema:

[code]

`amplify push` successfully generates queries and mutations, but the `createOrder` mutation accepts a `create

[2018-10-23 16:54] angineering commented on #104
Any updates on this? Would be useful to be able to create a user pool with email.

[2018-10-23 16:55] noellaby commented on #1848
yes i receive token .
`10-23 12:23:00.528 12221 12367 I ReactNativeJS: 'in app registration', 'd88ShJZ3mCI:APA91bF-HUkl7hTHS8nzNd_AC2JSwzohCU8AqqdlLJlUURIVY5n48inkpDmjyHMiBwZNV1lI6OmEAsPxsq1W8GuSWa6_uj7VLAIn7JtavkPA_HfobWFhLi_DqS7u7L01yBzrXWfFCH3L'`

[2018-10-23 17:05] powerful23 commented on #1930
This issue is related to #1378

[2018-10-23 17:22] powerful23 commented on #1954
@PrasannaLearnyst I am not understanding how you are initing. The desired way is first configuring Amplify(by the way the configuration is not correct):
[code]

The library will automatically get a credentials(guest or authenticated based on whether you are signed in or not) before sending the start session event.

[2018-10-23 17:35] PrasannaLearnyst commented on #1954
@powerful23

can you please guide me which part of the init is incorrect

[2018-10-23 17:42] powerful23 commented on #1759
@SMJ93 yeah does it has a response which contains an error message?

[2018-10-23 17:52] PrasannaLearnyst commented on #1954
@powerful23

In this file [Auth.ts#L1012](https://github.com/aws-amplify/amplify-js/blob/master/packages/auth/src/Auth.ts#L1012)

you are getting the user details but its not stored in this key, rather its stored in key

[code]

can you please cross check once

[2018-10-23 17:58] powerful23 commented on #1848
@noellaby then the pinpoint should be updated with this address. Could you try cleaning up the AsyncStorage and then restart the app to see if the library send an `updateEndpoint` request to pinpoint with this token in the `address` property. You should see this request under this debugging message: `refresh the device token with ...`

[2018-10-23 17:59] ceich commented on #1956
If I just comment out the catch block, `/signin` sometimes works (once in my experiments), but mostly I just get a blank page with "Loading...", which comes from this code:
[code]
Browser reload correctly renders `Signin`.

[2018-10-23 18:41] powerful23 commented on #1959
@bionicles Hi so if I am understanding this correctly the purpose of doing this is to ensure that the user has verified both his email and phone number before signing in right? We can't verify both during registration because of the service only asks for phone number verification even both attributes are required. I think the workaround could be check the user's attributes before getting them sign

[2018-10-23 18:59] PrasannaLearnyst commented on #1954
@powerful23
Sorry,

just checked code of Auth.ts, its getting data from reactnative.ts StorageHelper class.

The StorageHelper.getItem it will be taken from datastorage, for the datastorage the source is sync method of StorageHelper.

the sync is not called, how to make the data sync.

thanks

[2018-10-23 19:47] elorzafe commented on #1968
Hi Amy, onSubscriptionMsg callback receives two params. The first is the previous data (the one you got from the query), and the second is the data coming from the subscription. You can do something like this.

[code]

[2018-10-23 20:40] demsey2 commented on #1556
make sure node_modules/react-native/Libraries/polyfills/Object.es6.js is spec-compliant if not remove Object.assign from
node_modules/@aws-amplify/api/lib/API.js: 2

[2018-10-23 21:20] nidsharm commented on #1967
Hi @wzup ,

We do not provide confirmation code mock-ups through Amplify. You could set your preference to receive the conformation code via email and the text rates wouldn't apply to those.

[2018-10-23 21:47] nidsharm commented on #1966
Hi @noellaby ,

Do you use Auth.configure() in your code to configure the Identity Pool ? If so, can you check if you are specifying the region in the configure options as well ?

[2018-10-23 22:01] weasnerb opened #1970 "Change Auth.Login Cognito Identity Pool Url"
** Which Category is your question related to? **
Authentication

** What AWS Services are you utilizing? **
Cognito User and Identity Pools

** Provide additional details e.g. code snippets **
I am wondering if there is a way for me to change the URL that the Auth.signIn function calls to login to my Amplify App. I am using LastPass, which is throwing an error saying that my form is insecure, and

[2018-10-23 22:01] nidsharm commented on #1951
I'm assuming that you are passing info.username to the SignIn API as the username. Could you try printing it out in console.log before passing it to SignIn ?

[2018-10-23 23:11] mayteio opened #1971 "DynamoDB Stream emits multiple INSERT events on GraphQL create mutation"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
AppSync, DynamoDB/Streams, Lambda, SES

** Provide additional details e.g. code snippets **
I am trying to send an invitation email to an address that gets added to a DymamoDB record upon insertion or update. I do this by creating a Lambda that is triggered by a DynamoDB stream, grabbing the email add

[2018-10-24 00:16] hollyewhite opened #1972 "Force Token to Expire"
** Which Category is your question related to? **

Authentication

** What AWS Services are you utilizing? **

AWS Amplify Authentication

** Provide additional details e.g. code snippets **

I know the login or refresh time is in the `jwt` but I feel like there is another way I'm missing to force a logout.

I'm having some trouble understanding the best way to log a user out after, say 5 minutes,

[2018-10-24 00:17] kashgupta commented on #1436
@wdm954 When I extend the SignIn class, none of the functions or imports are inherited. Could you provide a full sample of your MySignIn.js file? I'm having trouble reproducing how you extended the SignIn class.

[2018-10-24 03:24] agongdai opened #1973 "How to login through Identity Pool via Identity Provider Cognito"
** Which Category is your question related to? **

Authentication

** What AWS Services are you utilizing? **

Identity Pool; User Pool; Dataset/Storage

** Provide additional details e.g. code snippets **

Our website uses both User Pool (for user management) and Identity Pool (for custom data storage). So we would like to use Amplify to sync the users between them.

I think that we need to sign-

[2018-10-24 06:01] hyoungbin opened #1974 "Best way to persist Auth Credentials during developing app"
Hi, I'm trying to build a react-native app with serverless features (cognito, api gateway, s3 etc)

On my app, I use only facebook login and google login, and I get cognito credentials like
[code]
So I get cognito credentials when user clicks login button (I made my own button. not built in UI)
(actually not checking whether user is logged in when restart the app. I think this could be a problem.)

[2018-10-24 07:00] abirtley commented on #54
@yuntuowang any updates?

[2018-10-24 07:09] annjawn commented on #500
Yes but `Storage` still needs a federated identity pool it seems.

[2018-10-24 07:35] noellaby commented on #1848
Thanks.
How to cleaning up the AsyncStorage ?
Cordially

[2018-10-24 07:39] shengliZh commented on #1951
Yes, you are right. I have console.log it before signIn, the value is right, but call the api will failure.

![image](https://user-images.githubusercontent.com/25652977/47414077-b0760b00-d7a2-11e8-8132-90799fcca484.png)

[2018-10-24 07:43] noellaby commented on #1966
Hello

Hello
i not use Auth.configure
This is My Code file App.js
`import React from 'react';

import {AppState} from 'react-native';
import { AppNavigator} from './Navigation/Navigation'
import {Root} from "native-base"
import Store from './Store/configureStore';
import {Provider} from 'react-redux';
import {persistStore} from 'redux-persist'
import {PersistGate} from 'redux-persist/es/integratio

[2018-10-24 07:59] grudelsud commented on #1436
hey @kashgupta if it's of any help, I've created a Gist with my SignIn class extension using Material UI, and working fine for me 😄 you can find it [here](https://gist.github.com/grudelsud/3a944749acdb38ff1d009a8b9fb2d8ba) hope it helps!

[2018-10-24 08:03] shengliZh commented on #1951
I have find the reason, because I have call this api:
const info = await Auth.currentUserInfo();  after signIn success, but I don't know why?

[2018-10-24 10:28] fhenri commented on #1183
Hi,

There are numbers of concerns regarding this on github/aws forums (see https://forums.aws.amazon.com/message.jspa?messageID=749743#749743) so it will be good to have AWS standing on this -

[2018-10-24 10:28] maheshmgopi opened #1975 "Use custom login page for AzureAD login using Oauth"
I am developing a reactjs application which uses the Oauth of aws amplify for signing in to AzureAD. I configured the aws as following.

[code]

The redirecting to the azure ad login page was not happening automatically from within the aws amplify library which happens automatically with adal(for angular). So I redirected to the azure ad login page manually. Now I want to show my own login page in

[2018-10-24 12:30] noellaby commented on #1848
`10-24 13:13:58.589  5944 29446 I ReactNativeJS: pas de challenge en attente de confirmer

10-24 13:14:08.740  5944 29446 I ReactNativeJS: hello

10-24 13:14:08.788  5944 29446 W ReactNativeJS: Warning: Can't call setState (or forceUpdate) on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in the c

[2018-10-24 12:30] noellaby commented on #1848
`10-24 13:14:08.788  5944 29446 W ReactNativeJS: Warning: Can't call setState (or forceUpdate) on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in the componentWillUnmount method.

10-24 13:14:08.788  5944 29446 W ReactNativeJS:     in Slider1 (at CodePush.js:510)

10-24 13:14:08.788  5944 29446

[2018-10-24 12:35] noellaby commented on #1848
`10-24 13:14:30.563  5944 32713 I ReactNativeJS: { '[DEBUG] 14:30.563 Notification - refresh the device token with': 'cAWB3-2ej4M:APA91bG4EkFRtg42ilG33jWVky02hsIX5r4SUQ722HasEo3jMFtnR2OfvRA_nfADVk1jCe-qy8bsahJ-0gTKTzRslTpgEsrwPANGZbgviMOdiNuXrn_XtG8B_C79x9xz-06ZxP2qkXDU' }

10-24 13:14:30.564  5944 32713 I ReactNativeJS: [DEBUG] 14:30.563 Notification - Analytics module is not registered into Ampl

[2018-10-24 12:37] kacpermigala opened #1976 "withAuthenticator renders greetings with flag value false"
As I mentioned in title, I see that authPiece is rendered even if you use includeGreetings=false flag.

For react-native it is hard to style custom auth UI, because of it.
Screenshot below shows how View component looks with `flex:1` styling (it should take full screen & it's working like that without withAuthenticator HOC).

<img width="322" alt="screen shot 2018-10-24 at 14 42 24" src="https://u

[2018-10-24 12:37] SMJ93 commented on #1759
I am using Reactotron with React-native, show no response.

[2018-10-24 12:50] noellaby commented on #1848
`
10-24 13:47:10.787  6000  6000 D ReactNative: ReactInstanceManager.onJSBundleLoadedFromServer()

10-24 13:47:10.793  6000  6000 D ReactNative: ReactInstanceManager.recreateReactContextInBackground()

10-24 13:47:10.793  6000  6000 D ReactNative: ReactInstanceManager.runCreateReactContextOnNewThread()

10-24 13:47:10.794  6000  6000 D ReactNative: ReactInstanceManager.tearDownReactContext()

10-2

[2018-10-24 13:21] lafiosca commented on #1759
Along the lines of what @ehorodyski said, the official latest Pinpoint documentation does not even list `PutEvents` as an API action for IAM policies: https://docs.aws.amazon.com/pinpoint/latest/developerguide/permissions-actions.html#permissions-actions-apiactions

Is there anything the Amplify team can do to apply pressure to the team responsible for updating that documentation?

[2018-10-24 13:30] SMJ93 commented on #1759
It is listed [here](https://aws-amplify.github.io/docs/js/analytics#update-your-iam-policy):

![screenshot 2018-10-24 at 14 28 52](https://user-images.githubusercontent.com/2145641/47433904-473dca00-d799-11e8-9dfa-4747b851f00d.png)

[2018-10-24 14:20] kaustavghosh06 commented on #1733
@Exitialis1 what’s the frontend framework that you’re using?

[2018-10-24 14:34] jliebrand commented on #488
@powerful23 sorry for the delay, been a bit snowed under. Yes that does work, although there are some more gotchas.

1- the configure doesn't do anything, unless you had also loaded the modules that you are trying to configure. This threw me, as I'm using those modules elsewhere and the configure didn't complain. So to get it working properly, you have to do something like this:
[code]

2- this ac

[2018-10-24 14:38] Exitialis1 commented on #1733
@kaustavghosh06 my project was started create-react-app. It does yes: "start": "react-scripts start",

[2018-10-24 14:41] kaustavghosh06 commented on #1733
@Exitialis1 can you try manually running npm run-script start from the root of your project and see if that works?

[2018-10-24 14:44] lafiosca commented on #1759
Yeah, but that's bogus. In fact, through experimentation I was able to determine that this policy is sufficient to get past the errors:

[code]

[2018-10-24 14:54] Exitialis1 commented on #1733
@kaustavghosh06 "npm run start" works but it fails to compile with this error: ./node_modules/aws-amplify-react/dist/Analytics/trackLifecycle.js
Module not found: Can't resolve '@aws-amplify/analytics' in '/home/alex/Git/capt-america/node_modules/aws-amplify-react/dist/Analytics'

Then I had a look in package.json on the working machine and there is no start script.

[2018-10-24 15:21] kaustavghosh06 commented on #1733
I believe the root cause for the errors on the “amplify serve” and “amplify publish” commands were the error you mentioned in the comment above. The commands didn’t expose the actual error whcih I believe was confusing. We’ll work on exposing the actual error message as a part of the serve and publish commands.
@powerful223 @mlabieniec Could you help out here in the meanwhile in roof causing the J

[2018-10-24 15:22] lisandrolan opened #1977 "No Auth module registered in Amplify when try to use Storage.get"
**Describe the bug**
Im getting the error
No Auth module registered in Amplify
When Im doing the following call
 Storage.get( 'images/1540344600001.JPEG', { level: 'protected' })
        .then(result =>  resolve( result))
        .catch(err => console.log(err));
       ;
I am already logged in and when I verify with
  await Amplify.Auth.currentAuthenticatedUser().then(response=>console.log(respons

[2018-10-24 15:35] karlmosenbacher commented on #1965
perhaps:
https://github.com/aws-amplify/amplify-js/issues/1269

[2018-10-24 15:45] ahmetcetin commented on #1269
Maybe not very elegant solution, but I extended the SignOut component to change the render, and using this component instead of original one, so far it works until there is a fix published:

[code]

[2018-10-24 15:46] ahmetcetin commented on #1965
indeed, thx!

[2018-10-24 15:46] #1965 closed

[2018-10-24 16:05] aldo-roman opened #1978 "Undeclared dependencies on aws-amplify-react"
**Describe the bug**
During runtime, `aws-amplify-react` depends (at least) on:
[code]
But these dependencies are not declared on the respective `package.json`.
They seem to be expected to be installed by `aws-amplify`.
That wouldn't be a problem, but at least having them as `peer-dependency` would warn the developer about the problem.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a

[2018-10-24 16:24] bluefig99 opened #1980 "User should be able to remove ""sign in with AWS" in signIn page"
**Describe the bug**
As we are using AWS Amplify HOC , we need to have an option to remove the "sign in with AWS". As we do not have any option to change the background color of the page in case of Hosted UI ,we are using AWS Amplify HOC.

So , please provide us the option to remove ""sign in with AWS" from signIn page.

[2018-10-24 16:37] aldo-roman commented on #1980
I could remove that button by disabling OAuth. Just sign in against Cognito using:
[code]

[2018-10-24 16:51] uclaeamsavino commented on #104
This works for me:
[code]

[2018-10-24 16:54] bluefig99 commented on #1980
@aldo-roman I tried to remove it.But still i can see the button.

 Amplify.configure({
     Auth: {
        //   oauth: oauth,
          userPoolWebClientId: 'xyz',
          region: 'us-east-1',
          userPoolId: 'us-east-1_xyz',
     },
 });

[2018-10-24 16:55] uclaeamsavino commented on #104
I can even sign in through the client-side component generated when using the withAuthenticator HOC. But it seems that the user still has to enter email twice. If we could just hide one of those fields it would be perfect.

![image](https://user-images.githubusercontent.com/43759901/47447643-dd122e80-d772-11e8-87cc-20c2f58e51a9.png)

[2018-10-24 17:13] aldo-roman commented on #1980
are you using any federated setup? the signin button loads from Federated component

[2018-10-24 17:39] bluefig99 commented on #1980
i am just using this

 class App extends Component {

   render() {
       return(
            <div>
               <SecondPage />
            </div>
       )
   }
 }
 export default withAuthenticator(App);

[2018-10-24 17:57] josoroma opened #1981 "Is there a way to change or update user's email using amplify from the front end?"
** Auth **

** Cognito / MobileHub **

Using Email address to sign in... Is there a way to change or update user's email using amplify from the front end?

I don't get the flow yet.

Thanks.

[2018-10-24 18:03] bluefig99 commented on #1603
same issue . Can someone look in to this issue?

[2018-10-24 18:29] wdm954 commented on #1436
@kashgupta Here is a basic example. I've created a sandbox where you can see this in action: https://codesandbox.io/s/k2jl5p6vrr

    import { SignIn } from "aws-amplify-react";

    class MySignIn extends SignIn {
        componentDidMount() {
            console.log("MySignIn mounted");
            console.log(this.onKeyDown);
            console.log(this.checkContact);
            console.log(t

[2018-10-24 21:54] powerful23 commented on #1970
@Weasnerb what do you mean by `Auth.login` function? There is no such method in Amplify.

[2018-10-24 21:55] powerful23 commented on #1978
@aldo-roman for now you must install `aws-amplify` when using `aws-amplify-react`.

[2018-10-24 21:58] powerful23 commented on #1977
@lisandrolan can you provide the code snippet about how you are importing and using Amplify? The error usually happens when you are using modularized libraries and didn't import them in a correct order.

[2018-10-24 22:01] powerful23 commented on #1972
@hollyewhite if you want to expire/revoke the tokens, you can check this doc: https://aws-amplify.github.io/docs/js/authentication#sign-out

[2018-10-24 22:05] powerful23 commented on #1974
@hyoungbin we do cache the tokens into the AsyncStorage to keep the user logged in. Can you do a check if the AsyncStorage is not working or something is clearing your AsyncStorage?

[2018-10-24 22:11] powerful23 commented on #1973
@agongdai There is no relationship between the `Authentication provider` and the Cognito User Pool. You can set either Cognito User Pool or other providers in the identity pool but users from other identity providers won't be mapped into the Cognito User Pool.

So if you want to login from Cognito User Pool and then get the AWS credentials from the identity pool, you should set Cognito User Pool a

[2018-10-24 22:12] Weasnerb commented on #1970
@powerful23  My bad, I meant the `Auth.signIn(email, password)` function

[2018-10-25 01:14] #1951 closed

[2018-10-25 02:01] mayteio commented on #1213
👆

Also, we have achieved this using the Post Confirmation Lambda trigger.

Very simplified from our implementation, however, here's the general gist:

[code]

It's important your Lambda has an IAM policy that specifies `Allow cognito-idp:AdminAddUserToGroup` too.

[2018-10-25 02:02] lafiosca commented on #1759
After further experimentation, I realized the policy above could be refined further:

[code]

The first resource is for the actual updateEndpoint calls, and the second resource is what the API is using when it complains about the "mobileTargeting:PutEvents" permission.

[2018-10-25 02:08] 0xdevalias commented on #1900
@manueliglesias any thoughts?

[2018-10-25 03:05] mriccid commented on #1977
I've had similar problems caused by modular imports and managed to get around it by configuring the module then registering it with the Amplify singleton using [this](https://github.com/aws-amplify/amplify-js/blob/master/packages/core/src/Amplify.ts#L25) method.

[2018-10-25 03:34] kashgupta commented on #1436
Thanks @grudelsud  this is helpful!
@wdm954 Even using your sandbox, I am still confused how to render the UI. I understand that we have access to the "showComponent" method, but I have had zero success getting anything to render in the MySignIn object. Even if it's just a "<div> hello world </div>" and I'm not sure how to get the MySignIn object to render.

[2018-10-25 05:12] nathanbirrell commented on #176
Was this resolved?

I would like to know the error codes too. For example, we can tell a user is logged out with a 403, and handle appropriately.

Right now all we get is a string: `Network Error`.

[2018-10-25 05:35] bluefig99 commented on #1980
@nidsharm Can you please help with this issue? Is anyone looking in to it?

Thanks
Aravind

[2018-10-25 05:52] ScubaDrew commented on #1342
Storage.get(key, { download: true })

Can someone post some example code using this to access the actual data that is downloaded?

[2018-10-25 07:46] PrasannaLearnyst commented on #1954
@powerful23 can you please provide me any guidance on this i'm importing all the classes from

[code]
for react native do i need to import from any other package.

I have changed my config as you said

[code]

i've checked in cache the details persist, kindly help me in restore of credentials on app restart

[2018-10-25 07:47] wdm954 commented on #1436
@kashgupta you stated that none of the functions or imports are inherited so I was showing that they were in my example.

`showComponent` is the method you'll use to render. If you look at the `AuthPiece` component you'll see the logic behind it since `SignIn` extends `AuthPiece`.

https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-react/src/Auth/AuthPiece.jsx

@jonasao com

[2018-10-25 08:16] davidgatti commented on #1213
Wait!, so there is an API for working with groups o_O. In this case this is OK with me :D

[2018-10-25 08:47] mayteio commented on #1213
There is. Not intuitive at all, from docs either. But it's all good - aws
is a spaghetti - beautiful spaghetti.

On Thu, 25 Oct 2018 at 7:16 pm, David Gatti <notifications@github.com>
wrote:

--

Cheers

*Harley Alexander*
Head of digital
0422 808 381 - LinkedIn <https://www.linkedin.com/in/harleytalexander/>

[2018-10-25 09:04] ahmetcetin opened #1983 "User profile with federated login"
**Is your feature request related to a problem? Please describe.**
Using withAuthenticator with federated authentication (facebook), the logged in user has only name and id, no other info like email, user photo, etc. Tried to setup mapping in User Pool, but still doesn't work. It looks amplify only uses Federated Identities only.

**Describe the solution you'd like**
Either it should use Cognito U

[2018-10-25 10:01] ChrisWun commented on #1906
@powerful23
Any updates on this issue?

[2018-10-25 11:56] namya-r opened #1985 "Selectors to style Amplify UI Nav and Toast components in aws-amplify-react"
I'm able to add custom styling to Amplify UI components by using selectors from [this template](https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-react/src/Amplify-UI/Amplify-UI-Theme.jsx).
[code]
I'm passing my theme as a parameter to withAuthenticator in React.

Are there any selectors I can use to style the Amplify UI Nav (including NavBar, NavItem and NavButton) and To

[2018-10-25 12:33] PrasannaLearnyst opened #1986 "How to configure pinpoint analytics for offline"
Is there support for storing events in storage while there is no network and push pinpoint while mobile connects to network?

[2018-10-25 13:19] novellizator commented on #1672
had the same issue with `cognitoUser.getUserAttributes`. my hack: i found the data _was_ fetched in the internal structures, despite triggering the error. So I am accessing the internal properties (in my case user attributes) through good old notation

[2018-10-25 13:19] novellizator commented on #1406
had the same issue with `cognitoUser.getUserAttributes`. my hack: i found the data _was_ fetched in the internal structures, despite triggering the error. So I am accessing the internal properties (in my case user attributes) through good old dot notation

[2018-10-25 13:55] davidgatti commented on #1213
Amazing, thank you @mayteio!

[2018-10-25 13:55] #1213 closed

[2018-10-25 13:59] lisandrolan commented on #1977
The problem was related to AWS-SDK previous instalation.
What I did was delete all the node_modules folders. and then npm install again

[2018-10-25 17:46] powerful23 commented on #1759
@lafiosca the reason why the `mobiletargeting:PutEvents` policy for now is totally unnecessary is that we are calling a `legacy` endpoint when putting events as you already found out. That `legacy` endpoint only needs `UpdateEndpoint` policy so that your app won't break because of the IAM policy. But the correct policy for `putEvents` should be `mobiletargeting:PutEvents` and we hope users can cha

[2018-10-25 18:16] lafiosca commented on #1759
@powerful23 Will `mobiletargeting:PutEvents` be added to the official documentation and the IAM web console at that time? Right now if you try to use it, the web console doesn't recognize it and complains. (You can ignore the warnings.)

Additionally, does it make sense to have us add a policy that is currently meaningless in support of a future version we haven't installed yet? I prefer for my IA

[2018-10-25 18:28] powerful23 commented on #1954
@PrasannaLearnyst yes, the way you import is correct. We will test if stop session events are sent as expected.

[2018-10-25 18:43] powerful23 commented on #1970
@Weasnerb According to the Cognito team for now you cannot do that but they will mark this as feature request.

[2018-10-25 19:08] noellaby opened #1988 "error aws pinpoint when apps is foreground"
Hello

when the application is in foreground mode, Aws Aplify Push notification does not display the notification, I use the zo0r / react-native-push-notification library to display a local notification. i have this errorr
`undefined is not an object (evaluating 'dataPayload['pinpoint.campaign.campaign_id']')`

### my source code

`

PushNotification.onNotification((notification) => {

[2018-10-25 19:09] noellaby commented on #1988
@noellaby

[2018-10-25 19:18] noellaby commented on #1988
@powerful23  help me

[2018-10-25 19:31] nidsharm commented on #1980
@bluefig99 , I used the [Amplify CLI](https://github.com/aws-amplify/amplify-cli) to add Auth to my basic app that I created using CRA. I only have SignIn with UserPools enabled (no federated identities) and my app code looks like this :

[code]

and my authenticator component looks like this

<img width="542" alt="screen shot 2018-10-25 at 12 27 05 pm" src="https://user-images.githubusercontent.c

[2018-10-25 19:32] nidsharm commented on #1980
@bluefig99, could you please tell us more about your Auth configuration like are you using any of the federated identity providers or just Cognito User Pools ?

[2018-10-25 21:54] lambrospetrou opened #1989 "Amplify Analytics does not batch submit events"
**Describe the bug**
The AWS Amplify Analytics do not batch the events, even when using the buffering capabilities offered, but instead submit each event individually (two requests per event, OPTIONS+submission).

I was using the old [amazon mobile analytics](https://github.com/aws/aws-sdk-mobile-analytics-js) and it was batching the events just fine, but upgraded to amplify for the new features a