[2020-04-10 20:42] houmark commented on #5354
Thanks for your effort @Amplifiyer — what does your aws-exports.js show in relation to S3? From reading the code that fails, I think it's not finding the data in mine which may be the CLI not having generated it correctly, but I am really not sure on this one.

As mentioned earlier, I am not able clear caches on Amplify Console and it happens both there and in my local app when I run `npm run buil

[2020-04-10 20:44] agentlewis commented on #5359
Yes the stack from the expo metro log is wayyyy more helpful. Please note the other two images are just what is seen on the `expo client`

[code]

[2020-04-10 20:45] ashika01 commented on #5357
@Maheshkumar094 : Looks like this got to do with cloudfront. Gonna redirect this to the CLI team

[2020-04-10 20:49] Amplifiyer commented on #5354
@houmark, your aws_exports is perfectly fine. However, I think I can guess the root cause now. In your current setup, can you call `Storage.configure(aws_exports)` before using Storage APIs.

It's because the instantiation of the S3 provider is in the configure method

https://github.com/aws-amplify/amplify-js/blob/master/packages/storage/src/Storage.ts#L156-L158

And with the modularization updat

[2020-04-10 20:49] ashika01 commented on #5358
@karrettgelley could u provide a sample of ur code and brief a little bit more on what you are trying to achieve?

[2020-04-10 20:54] houmark commented on #5354
I will try, and report back in a bit! Thanks!

[2020-04-10 21:07] houmark commented on #5354
Happy to report, that fixed it. So yes, this should be added to breaking change. 2 lines needed, import the exports file and `Storage.configure`.

Thanks for your feedback!

[2020-04-10 21:08] houmark commented on #5354
Ooops, hang on... I did not do my production build yet, I jumped it, will test and report back in a moment.

[2020-04-10 21:08] valtrem commented on #5363
Hi @ashika01,
Yes, It's probably related.

Please note I can't get this to work even if I remove username-alias prop.

The formFields simply don't seem to be taken into account at all.

[2020-04-10 21:11] agentlewis commented on #5359
not a great title - I'll update it to something more descriptive later.

[2020-04-10 21:12] ashika01 commented on #5363
@valtrem yeah we are aware of this. we configured our UI to spin up formfields based on `usernameAlias` which is defaulted to `username`. we are revamping that to check for the required login fields and then to allow other fields to be customizable.

[2020-04-10 21:12] houmark commented on #5354
It **does work** on my production build also, sorry about that.

On a related note to that, it is weird that locally when not creating the production build it did work, but that may be npm cache?

Also, a nice side effect of this major version update is that my main chunk was shrunk and is now HALF the size (was ~750kb and it's now ~367kb) as it seems web pack is now able to proper tree shake this

[2020-04-10 21:14] ashika01 commented on #5363
I am going to close this ticket and track this with #5298. Please feel free to comment on that issue for more info.

[2020-04-10 21:14] #5363 closed

[2020-04-10 21:16] ashika01 commented on #5298
@NastyZ98 @budevelop : Update this is being tracked now and we are working on this to provide this customization.

[2020-04-10 21:16] Amplifiyer commented on #5354
Thanks @houmark for confirming.

This is because tree shaking is activated only in prod builds (typical create-react-app webpack configs) and local development builds do not have any tree shaking applied, so if you have add aws-amplify package, you have all the categories in your local development "build"

Happy to hear that, there are many changes beneath the hood which will influence your bundle

[2020-04-10 21:17] houmark commented on #5354
Spamming on here.

I searched our source code and I am now wondering if I also need to do `Auth.configure` to ensure it works. We have custom made Authentication components, but we are using `Auth.signOut()` and it does seem like it works without any modification, but is the correct use now to configure each feature / API before using it?

[2020-04-10 21:19] houmark commented on #5354
Yes, that was my thought also right after sending my last message.

May I suggest adding a better console output message when Storage fails due to this error and tell the dev to maybe ensure doing `Storage.configure` (of course for all features / APIs).

[2020-04-10 21:22] Amplifiyer commented on #5354
You need to ensure to do it once before each usage to correctly bootstrap it. All amplify categories are supposed to be singletons and do not need multiple configure/instantiations. The only breaking change(and what users need to ensure) is that `Amplify.configure()` will only configure the categories that you have imported in that file.

[2020-04-10 21:24] houmark commented on #5354
So it should not hurt to do `Auth.configure` and is best practice as I understand it.

[2020-04-10 21:25] grigull commented on #1252
When you say "log in" do you mean that you create a single dummy user in cognito which is part of a group called "public" with some random email and password and give that email and password to any user that is not logged in?

[2020-04-10 21:49] sammartinez commented on #4141
@gHashTag Are you still experiencing this issue on the latest version of Amplify?

[2020-04-10 21:55] jordanranz commented on #5314
Was able to speak offline about this and find a built-in workaround. Going to build better handling into the new UI components.

[2020-04-10 22:04] sammartinez commented on #4213
@streppa Are you still experiencing this issue on the latest versions of Amplify? Please let us know.

[2020-04-10 22:11] sammartinez commented on #4530
@prasadkesarkar Are you still looking for this use case? Please let us know.

[2020-04-10 22:12] sammartinez commented on #4585
@oliverandersencox Does the above callout work for your use case? Please let us know.

[2020-04-10 22:13] ashika01 commented on #4398
@millarm We have made some upgrades and non pinpoint push messages crashes has been corrected. https://github.com/aws-amplify/amplify-js/pull/4845

If you are still seeing issues in our newer version please open up a new issue.

[2020-04-10 22:13] #4398 closed

[2020-04-10 22:15] sammartinez commented on #4592
Resolving as based on the above PR

[2020-04-10 22:15] #4592 closed

[2020-04-10 22:18] rudyhadoux commented on #1252
You can log-in in your front-end with a public "dummy" user yes.
And the real user knows nothing about that, but has access to public datas.

[2020-04-10 22:19] pkspks commented on #5311
@Amplifiyer , seems to be working fine. Thanks for looking into this.

[2020-04-10 22:24] sammartinez commented on #4606
@jmpolitzer Are you experiencing with the latest version of `aws-amplify`? Please let us know. Thanks!

[2020-04-10 22:38] #5287 closed

[2020-04-10 22:44] Ashish-Nanda commented on #5359
Can you try the following:

Delete node modules:
`rm -rf node_modules`

Install specific version of netInfo:
`expo install @react-native-community/netinfo@4.7.0`?

Does this not work? It would then install a version compatible with both.

[2020-04-10 23:21] mlabieniec commented on #5354
@swaminator @litwicki FYI

[2020-04-10 23:32] agentlewis commented on #5359
@Ashish-Nanda Hey there, I tried the above and:

It updates expo to `37.0.7`

and

then installs `netinfo 5.5.1`

resulting package.json
[code]

[2020-04-10 23:39] mlabieniec commented on #5351
@togro this could potentially be an angular / routing lifecycle issue. It could be related to redirecting to soon. Where/when are you redirecting in the app lifecycle? You might need to do this on something like `afterViewInit` or later with deep linking. Another way to validate this is the issue is to put your redirect in a `setTimeout`, or you could use [`ngZone`](https://angular.io/api/core/NgZ

[2020-04-11 00:26] Ashish-Nanda commented on #5359
@agentlewis I just cloned your app which has a package.json file like the one above. I used this branch: https://github.com/Ecosify/COVID-Community-Health-App/tree/chor/readme-and-build

I then deleted the `yarn.lock` and `package-lock.json` files.
Deleted node_modules

I edited the `package.json` file directly to set the correct version of NetInfo:
[code]
Then ran `yarn`

Now my package.json, yar

[2020-04-11 00:41] jordanranz commented on #5346
Hey @nirLumigo,

Does `federatedSignIn` work in if done before a user sign-in with username+password?

[2020-04-11 01:23] agentlewis commented on #5359
Hey @Ashish-Nanda

Sorry you couldn't build the project - we should have added a default file in git.

Try creating and adding this to src/aws-exports.js
[code]

It should be able to build then - but may error. To get the correct version of that file you need to go through the `amplify configure` and `amplify pull` process.

Regarding your steps to force set the version. I had done this previously

[2020-04-11 01:53] Ashish-Nanda commented on #5359
I see. Its possible that this version is incompatible with Expo 37. When using Expo 36 you did not face issues right? I see thats what you have on your master branch. Is there a need for you to upgrade?

Regarding NetInfo, I will need to do a bunch of tests and see if the upgrade to 5.5.1 works in `aws-appsync`. Will give it a try and keep you posted.

[2020-04-11 01:59] agentlewis commented on #5359
Hey @Ashish-Nanda yes we started on 36. But as I worked through building for android I encountered other problems. Upgrading got rid of those.

[2020-04-11 02:33] agentlewis commented on #5359
Ok I can confirm that downgrading back to `expo 36.0.2` and `netinfo 4.7.0` I now have a working build.

just tested with `aws-amplify-react-native 4.0.3` (previously  removed to debug) and thats working as well - so Yay we have an interim fix.

Thanks so much for helping me navigate this config. Hopefully we can get redux-offline and appsync to "just work" with expo sdk 37. But until than I can k

[2020-04-11 03:14] vikas5914 commented on #5283
@amhinson I checked yesterday and yes we are getting the token and push notification.

[2020-04-11 03:21] amhinson commented on #5283
Did you add `android:exported="false"` to `AndroidManifest.xml`? And is the warning gone?

[2020-04-11 04:32] karrettgelley commented on #5358
@ashika01 I'm just trying to use <Connect> (found in aws-amplify-react) using the modular imports. I'm just not sure which package it was moved to, or is planning to be moved to

[2020-04-11 05:50] livingmine opened #5367 "OTP SMS Not Delivered Despite Success Status on Log"
**Describe the bug**
Lately we've been experiencing an intermittent issue in which the user's sign up OTP via SMS is **not delivered** to the user's phone number, despite the fact that the Cloudwatch SNS log showed a **success** status of delivery.

**To Reproduce**
Steps to reproduce the behavior:

1. Select Phone number as an answer in

at user pool's MFA and verifications section

2. Use Amplif

[2020-04-11 08:03] dsoegijono opened #5368 "AmplifyService authState is receiving states that aren't listed"
**Describe the bug**
Following the angular code sample [here](https://aws-amplify.github.io/docs/js/angular#subscribe-to-authentication-state-changes), and using the Cognito Hosted UI. After sign in, I'm getting `authState.state` that's different than [what's listed](https://github.com/aws-amplify/amplify-js/blob/a047ce73/packages/aws-amplify-angular/src/providers/auth.state.ts#L2). What should I

[2020-04-11 10:02] UseItApps commented on #1852
Definitely interested in Flutter support for Amplify! Any update on the feature request?

[2020-04-11 16:35] andreialecu commented on #4859
We started seeing the same error while doing a big refactoring.

The error appears to come from here:

![image](https://user-images.githubusercontent.com/697707/79049265-474eb580-7c2b-11ea-835d-374680da6a35.png)

Upon debugging with Chrome I can see that `b` is undefined. That piece of code is generated by typescript.

It's possible something fundamental got broken in the build process, resulting

[2020-04-11 16:37] andreialecu commented on #4859
Also noticed this:

[code]

There are a bunch of require cycle warning related to amplify libs.

[2020-04-11 16:40] karocksjoelee commented on #3435
Waiting this feature + 1

[2020-04-11 16:46] andreialecu commented on #4859
Was able to find the problem, it was related to adding `module-resolver` to `babel.config.js` in order to allow path aliases in the build.

The `babel.config.js` file, for reference:

[code]

Removing `module-resolver` from it resulted in getting rid of the error, but we lost the ability to use aliases in imports.

I think if there weren't any require cycles in the amplify code base this problem w

[2020-04-11 16:52] andreialecu opened #5371 "Require cycles in amplify libs"
**Describe the bug**

We've noticed the following warnings being logged:

![image](https://user-images.githubusercontent.com/697707/79049672-b1685a00-7c2d-11ea-8bb0-ca653353052d.png)

It seems that under certain circumstances, this can lead to this problem: https://github.com/aws-amplify/amplify-js/issues/4859

**Expected behavior**

No require cycles should exist.

[2020-04-11 17:44] andreialecu commented on #5371
This specific line of code can result in a lot of problems:

https://github.com/aws-amplify/amplify-js/blob/c28851a6379f3ba05c4fef529bb5be7f18ebe316/packages/predictions/src/types/Providers/AbstractConvertPredictionsProvider.ts#L12

If the babel config is set up to allow path aliases, or a different `module-resolver` root is configured (see https://github.com/aws-amplify/amplify-js/issues/4859#iss

[2020-04-11 18:37] karrettgelley commented on #5115
@manueliglesias Is there any update on this bug? Do we still need to use the workaround?

[2020-04-11 18:49] carlos357 commented on #446
After some trial an error I have found that the answer from @jamesoflol is the most correct.
Here it is the code that worked for me, adapted to Angular HttpClient:

[code]

[2020-04-11 21:29] rachelgould commented on #5284
@0xdevalias Thanks so much for posting this example!! I've been struggling with integrating Cognito Facebook login into my Next.js app using the Hosted UI.

I'm using your useAuthentication hook example, and additionally have Auth.Configure(...) outside my App function component within _app.js.

The issue I'm running into is:
Although I can redirect to Facebook, login, and then come back with to t

[2020-04-11 21:38] karrettgelley opened #5373 "Consecutive Mutations Fail"
**Describe the bug**
When I try to mutate an object, and then mutate it again with different data, the object does not change.
The update mutations operations, on all my models, are nonfunctional.

**To Reproduce**
Steps to reproduce the behavior:
1. npx create-react-app awsbug
2. cd awsbug
3. npx amplify-app@latest
4. amplify init
5. amplify update api (add User Pool auth with default configurati

[2020-04-11 21:46] undefobj commented on #5373
This is by design as you're using `amplify-app` which is for DataStore and has conflict detection and resolution enabled. When using the DataStore client API it includes the `_version` argument to the GraphQL API allowing the checks to take place. In your mutations above you're manually crafting GraphQL statements without the argument in update operations and hence they will fail.

If you wish to

[2020-04-11 21:47] DeniseJames commented on #5303
@jordanranz  This is how I use AmplifyService, which noticed I cannot use it with the UI angular amplify.  How will I know if I am signed in or not?

`constructor(
    public amplifyService: AmplifyService, public router: Router)
  {
    this.amplifyService = amplifyService;
    this.amplifyService.authStateChange$.subscribe(authState => {
      console.log('authState', authState);
      if (authS

[2020-04-11 21:54] karrettgelley commented on #5373
@undefobj Huh. Ok, so how do I know what my _version is?

[2020-04-11 22:02] undefobj commented on #5373
Normally you shouldn't need to unless you're doing an out of band operation. If that's the case then you'll need to run a query first and then do the update.

[2020-04-11 22:05] karrettgelley commented on #5373
@undefobj Well in my case, I'm not trying to use DataStore.put, but instead API.graphql. I was under the impression that DataStore works along with the conventional API module. So how would could I make an API.graphql call to update the task?

[2020-04-11 22:12] undefobj commented on #5373
If you're not using DataStore at all, then I'd recommend you don't setup your API with amplify-app. It's only a convince for setting up the sync service pieces which is why it's only in the DataStore docs. There's nothing stopping you from using both in the same app but it might be a bit cumbersome. I suppose you could run a query from the client or maybe try a local DataStore query (though I'd ha

[2020-04-11 22:24] karrettgelley commented on #5373
@undefobj I was hoping to use DataStore for mobile and API for desktop (sharing the same backend). Is there a chance to eject the DataStore stuff now? I may opt in later, but I'm not ready to use it in prod

[2020-04-11 22:28] rachelgould opened #5374 "Authentication through Facebook not working in Next.js"
**Describe the bug**
I'm trying to get the Hosted UI for authentication working in my Next app. I'm able to use `Auth.federatedSignIn()` to get to the Facebook login in Hosted UI on my custom domain, I log in, and it brings me back to my app.

Back in my app, I now have cookies with these names: cognito, XSRF-TOKEN, and cognito-fl. The url back in my app I'm redirected to has the `code` url param.

[2020-04-11 22:32] 0xdevalias commented on #5284
@rachelgould Sorry to hear you’re having trouble with it too :( I don’t believe I ever saw that error.

My `Auth.configure` is one of the first things in my `index.js`, so it’s guaranteed to run before I `render` React (and thus before any of my hook code will be run) Is yours in a similar position in the app? Also, what keys are you passing through to it? Are you able to post a redacted example o

[2020-04-11 22:32] undefobj commented on #5373
There's no "eject button" but you can use `amplify update api` and turn off conflict detection, however it will need to be done for every field so depending on your schema it might be a lot of updates.

Another idea is on the systems you're using just API module, make sure to ask for `_version` in the selection set for all your queries, mutations, and subscriptions. Then in your app logic make sur

[2020-04-11 22:44] karrettgelley commented on #5373
@undefobj I agree that DataStore is the right way (for me) in a conceptual sense. I saw your talk on youtube and I was immediately won over. But I have no idea how much it will cost, and its fairly new (I had bad luck w/ v1 and moved on) so theres less docs, etc. Anyways, for now I'll just try to "eject". Thanks for your tip and I'll now close the issue :)

[2020-04-11 22:44] #5373 closed

[2020-04-11 22:52] rachelgould commented on #5284
@0xdevalias Thanks for such a quick reply! I made a separate issue here: https://github.com/aws-amplify/amplify-js/issues/5374

[2020-04-11 22:54] undefobj commented on #5373
No worries. This is already helpful for us to think about improving the interoperability between API and DataStore categories.

[2020-04-11 23:13] karrettgelley commented on #5119
@tslocke @kwoxford I second yalls thoughts. If I'm going to use DataStore, I can't be syncing the entire db. That sounds really expensive. I really just need to cache queried data. [Firebase approaches it this way](https://firebase.google.com/docs/firestore/manage-data/enable-offline) and I hope amplify goes is a similar way. Maybe I'm wrong and just don't understand DataStore, but what I really w

[2020-04-12 02:37] melbit-anthonyw commented on #5323
I just hit the same problem

Amplify versions
[code]

API call
[code]
Request
[code]

Request headers
[code]
Response headers
[code]
Response
[code]

[2020-04-12 06:10] #5052 closed

[2020-04-12 06:58] nirLumigo commented on #5346
@jordanranz
We weren't able to try it because the cache was deleted so we can't reproduce it again.

[2020-04-12 07:16] kwoxford commented on #5119
Since Datastore is supposed to be client-first, caching queried data client side is back to front. The issue surely is that when you have multiple copies of an app each with different user data you don’t want every app to have a copy of the entire dataset.

[2020-04-12 09:15] wagneramaral opened #5399 "DataStore with OPENID_CONNECT sync error: No federated jwt"
I'm trying to integrate DataStore to a project that uses OAuth to authenticate users.

Before the DataStore I was able to make queries with the GraphQL API

The original code that works, before DataStore implementation was:

[code]

But with DataStore and the following code bellow I receive the "No federated jwt" error:

[code]

I also tried to change the default authorization mode from OpenId Con

[2020-04-12 09:51] jackatgh commented on #5311
@Amplifiyer, it st working on @unstable. Thanks.

[2020-04-12 10:08] mk-nickyang commented on #4549
+1 for this.

`Authenticator` component should let user handle `SafeAreaView` on their own for custom child components, otherwise the extra paddings can be really annoying sometimes (e.g. when using `react-navigation` in App component).

Also, the `SafeAreaView` used by `aws-amplify-react-native` is imported from `react-native`, but it actually has a known bug (see https://github.com/react-native-

[2020-04-12 11:29] lambda0xff opened #5376 "S3: header errors when uploading file"
**Describe the bug**
When uploading a file to S3, I get error/warning messages from the browser:
`Refused to set unsafe header "content-length"`
`Refused to set unsafe header "host"`
in chrome

`Attempt to set a forbidden header was denied: content-length`
`Attempt to set a forbidden header was denied: host`
if firefox

**To Reproduce**
Using the `aws-amplify` library: `storageClass.put(key, blob,

[2020-04-12 13:29] guioum opened #5377 "amplify mock function ignore the configured profile for aws credentials"
**Describe the bug**
amplify mock function ignore the aws profile configured for the project, it uses the default one for credentials.
In the amplify config, we have useProfile: true & profileName:"sandbox".
AWS.config.credentials contains the 'default' profile credentials instead of the 'sandbox' profile credentials.

**To Reproduce**
Steps to reproduce the behavior:

1. create an amplify project

[2020-04-12 13:56] timoschlueter commented on #5117
I was running into the same problem and because I didn't notice that there is a "email_verified" attribute on Googles side to map to. This fixed my problems with the Google IDP, thank you!

But how do you set the email_verified attribute for Facebook, Apple or any other IDP that does not offer the email_verified attribute? I am currently implementing social logins into my React Native app using th

[2020-04-12 14:35] smoothwood opened #5378 "couple of issues when using aws-amplify@3.0.7 and aws-amplify-react@4.1.6"
In my amplify project I used **npm install aws-amplify aws-amplify-react** to install below two libraries
+ aws-amplify@3.0.7
+ aws-amplify-react@4.1.6

Then I observed below issues.

Issue 1:
I used **amplify add auth** to enable authentication, but the default Sign Up page is not the same as usual (amazon default styling), now there is no any styling applied to that page.

Issue2:
I used **ampli

[2020-04-12 16:07] helloanil commented on #5298
Sorry to necrobump this but does that mean there's no way of removing Phone Number field from Sign Up form, using latest UI Components?

[2020-04-12 19:28] TamsynJennifer4 opened #5380 "The URL response from Storage.get doesn't render image in React-Native"
**Describe the bug**
The response from

`Storage.get(key,
        {
            level: 'protected',
  })`

is a URL that doesn't render an image in React-Native.

When pasting the URL in a web browser (Chrome) it returns an error saying the key does not exist.

When I click on the image in the s3 console and click "open" it opens a new tab with the image which I can see/ download. If I paste this

[2020-04-12 21:32] rpostulart opened #5382 "There are no docs available about AWS Amplify Datastore Security"
I am looking for more background information in the docs about how Datastore security is working. Are there any additional security measures on top of a localstorage, is something encrypted and how does this work? For what kind of privacy related use case it can and can't work?

So my question is if there can be made more docs available about this by a security wizard?

thx

[2020-04-12 22:55] andrewterraii commented on #5313
I'm still seeing this error. I'm testing `Auth.signUp` locally with invalid usernames / passwords to see what the returned error messages are.

I pass the string "asdfasdf" to the username field. My Cognito is configured to expect emails as usernames only. The network request to Cognito errors with the message
`{__type: "InvalidParameterException", message: "Invalid email address format."}`
but th

[2020-04-13 00:03] undefobj commented on #5119
Hi as noted in the [above comment](https://github.com/aws-amplify/amplify-js/issues/5119#issuecomment-607624854) this is on our upcoming roadmap to address, and we just had an internal design session last week. We're starting work in the upcoming sprints to deliver the feature.

Caching is actually not the correct way to address this request, and DataStore doesn't use a "cache". Caches are not dat

[2020-04-13 02:52] matwerber1 opened #5383 "Within custom Authenticator, unable to show SignOut without Greetings"
**Describe the bug**

When using `hide={Greetings}` option of a customized `<Authenticator>`, this also unexpectedly hides the `<SignOut>` button, as if the SignOut is nested within Greetings.

I want to be able to show the Greeting without the SignOut button. Actually, what I'm doing is displaying the Authenticator sub-components in different places in my page... so its not that I don't want the

[2020-04-13 04:22] nihp commented on #5345
Yes, I found

I have used phonenumber insatead of phone_number

Can you clarify this another thing it will be helpful for me.

1. Error message is retaining in the same screen if I go back to the previous screen(Which shows an error before)

**Steps:**
   1. Launch app shows login screen
   2. Then not enter user name it will shows error (Username cannot be empty)
   3. Then click on the Forgot Pa

[2020-04-13 04:46] swaroop55 opened #5384 "Kinesis Firehose Integration not working"
Hi,

I'm building a react-native app with Amplify. I want to send data to a firehose stream. I did the configuration as mentioned in the wiki - https://aws-amplify.github.io/docs/js/analytics#using-amazon-kinesis-firehose. There are no errors in the app but the data is not available on the mentioned stream.

**Configuration**:
[code]

**Implementation:**

[code]

Only "Analytics start" log is disp

[2020-04-13 06:34] rozhali opened #5385 "Upload an image in React Native app - status 403"
**Describe the bug**
When I try to follow the amplify doc for uploading image from React Native I get "Request failed with status code 403"

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
It goes through successfully if I remove blob and enter file uri, but the file is unreadable in S3

**Screenshots**
<img width="1196" alt="Screen Shot 2020-04-12 at 11 29 58 PM"

[2020-04-13 07:12] #5380 closed

[2020-04-13 07:20] TamsynJennifer4 commented on #5380
THIS DOES WORK!! I was just being stupid. It's because I managed to send a different uuid() to appsync and s3 for the key so there was a mismatch.

[2020-04-13 08:00] masbaehr opened #5387 "Storage.put does not save UTF-8 plain text anymore"
Hi, i'm experiencing the following issue - the same code was still working on Amplify v2

It also still works while replacing Привет with "Hello". I've also tried specifying the contentType to text/plain. Same error

[code]

Error: 403 forbidden:
<Error><Code>SignatureDoesNotMatch</Code><Message>The request signature we calculated does not match the signature you provided. Check your key and signi

[2020-04-13 08:12] alex-iancu commented on #5332
I managed to get around my issue by using the aws sdk and getting the signed URLs that way which worked on both Android and iOS but I would prefer to use amplify if possible, if anyone could get to the bottom of this problem.

[2020-04-13 10:00] li8607 commented on #1852
+1

[2020-04-13 10:35] idanlo commented on #5252
+1

[2020-04-13 10:39] idanlo opened #5389 "Push Notifications and Analytics - more examples and documentation"
**Describe the bug**
The Analytics and Push Notification section of the docs is very poorly written and it doesn't cover many use cases, for example I have listed some open GitHub issues, most of them opened more than 2 weeks ago with no comments at all.
As for myself - for more than 3 weeks, I cannot send push notifications to my app users because of the unclear usage of this module and the error

[2020-04-13 11:05] vitordeoliveira commented on #5313
""Username could not be created. Please make sure that the username you have entered is between 1 and 128 characters." - is happen to me doesnt matter what I change in my code ....

[2020-04-13 11:33] LaszloDev commented on #5313
Same issue with the React `<AmplifySignUp>`-component. Entering an invalid phone number show the username error.

![image](https://user-images.githubusercontent.com/10655255/79116864-d671df80-7d89-11ea-8bd0-0cae7f21551d.png)

Webpack used for building with:
[code]

[2020-04-13 12:41] dmdmd commented on #469
Is it possible to add a layer of security to the `deleteUser`? Something like a "confirm password before deletion"?

[2020-04-13 13:18] EnzoDomingues commented on #5313
same problem...

[2020-04-13 13:21] MontoyaAndres commented on #1613
Hi, I'm looking for adding Next.js to my apps with Amplify. I don't know if this example works only with create-react-app: https://github.com/aws-samples/aws-amplify-auth-starters/tree/react because it does not use localstorage manually, it just uses the methods that Amplify auth offers, I don't know if these methods are the enough smart to detect if the app is using ssr or not, even with ssg. Alg

[2020-04-13 13:44] samstr commented on #1613
Just deploy to [now](https://zeit.co/). It works perfectly with serverless functions & SSR as it's built by zeit (nextjs). It uses AWS Lambda behind the scenes.

[2020-04-13 13:48] EnzoDomingues commented on #5313
3.0.8-unstable.9 works from me.

[2020-04-13 13:51] TheSilentDev commented on #4306
@arhoy this can be done with a post confirmation trigger:

[code]

[2020-04-13 14:07] andraz-at commented on #5174
I have landed on the same bug. Fixed it with manual configure like suggested above.

It is confusing having network sync work only when running it on localhost, but then breaking when deployed to amplifyhosting.

[2020-04-13 14:22] vikas5914 commented on #5283
@amhinson correct.

[2020-04-13 14:23] pks90 commented on #4315
Well, I am using ionic (angular) with amplify and this bugged me too. Therefore, I had to update my main.ts file with the following,

[code]

The above code does what the error asks for. Unfortunately there are a lot of issues with the Amplify Framework and I don't think this is production ready at all.

[2020-04-13 14:23] vikas5914 commented on #5272
@amhinson We got error when using `System.currentTimeMillis()` for the seed.

So we removed it and its worked.
Final code :

`SecureRandom randomNumberGenerator = new SecureRandom()`

[2020-04-13 14:39] amhinson commented on #5283
Ok great!

[2020-04-13 14:39] #5283 closed

[2020-04-13 14:43] amhinson commented on #5345
This sounds like another unrelated issue. Could you create a new issue so we can have a more focused discussion around that?

[2020-04-13 14:43] #5345 closed

[2020-04-13 15:48] jordanranz commented on #5384
Hi @swaroop55,

Can you please post which versions of `aws-amplify` you are using?

[2020-04-13 15:56] swaroop55 commented on #5384
4.18.0

[2020-04-13 16:06] jordanranz commented on #5383
Hey @matwerber1,

`SignOut` is nested inside of the `Greetings` component so this is expected. To clarify, you still want the `Greetings` component to show up with `SignOut` living in a different place or would you just like to manually place the `SignOut` component without the `Greetings`?

FWIW, we just released a new React library that should alleviate some of the customization problems that th

[2020-04-13 16:42] amhinson commented on #4025
I was able to reproduce this issue with the repo that @milo- provided above as well as a brand new React Native Amplify project with `aws-amplify@latest` using the same `babel.config.js` as the example repo.

However, the problem does seem to be related to `babel-plugin-module-resolver` usage and not `aws-amplify` itself. When I remove `root: ['./']` as @OtavioBraga mentioned above, the error goes

[2020-04-13 17:24] Amplifiyer commented on #5378
@smoothwood
Issue #1 is a breaking change with amplify V3: https://github.com/aws-amplify/amplify-js#amplify3xx-has-breaking-changes-please-see-the-breaking-changes-below
Issue #2, we are looking into it
Issue #3: Same as https://github.com/aws-amplify/amplify-js/issues/5320

[2020-04-13 17:42] madStitcher commented on #5289
@collinped Do you not get the error when using it Universal mode?

[2020-04-13 18:08] jordanranz commented on #5384
@swaroop55, that may be your amplify cli version. Which version of `aws-amplify` is in your `package.json`

[2020-04-13 18:37] amhinson commented on #5258
Hey @nihp here are the docs for customizing your own components for Auth. Does this give you what you're looking for?

https://aws-amplify.github.io/docs/js/authentication#customize-your-own-components

[2020-04-13 19:08] amhinson commented on #5328
@sri7vasu Depending on your Amplify configuration, you won't be able to get the user attributes immediately after sign up until the user is confirmed. Then you should be able to get the attributes after sign in, either using the UI provided by `aws-amplify-react-native` or calling `Auth.signIn` explicitly.

[2020-04-13 20:15] Nabrok opened #5393 "Storage get with download option Body is string instead of Uint8Array"
**Describe the bug**
In version 3 when using the download option on Storage.get the Body in the resulting object is a string.  In version 2.3 this was a Uint8Array.

**To Reproduce**
[code]

**Expected behavior**
result.Body should be a Uint8Array.

[2020-04-13 20:52] #4869 closed

[2020-04-13 21:00] collinped commented on #5289
@madStitcher I still get the error in all modes, including Universal Mode. But the generate function is completely broken because Nuxt detects an error and rolls back any pages with errors when building. The application is useable in Universal Mode and SPA, but the console shows the error on every single page.

[2020-04-13 21:34] bneigher commented on #5385
@rozhali  if you're new to amplify - try using aws-amplify ^2.3.0.. it looks like the new 3.x.x modules are not working on react native.

If that doesn't work, make sure the policies are correct in aws for the roles that the cognito users assume.. I had issues with this in the beginning of my setup

[2020-04-13 21:43] amhinson commented on #5385
Hey @rozhali, we have a [recent update](https://github.com/aws-amplify/amplify-js/pull/5342) that might fix this issue. Could you try changing your `aws-amplify` version to `unstable` (temporarily) and see if the error goes away?

[2020-04-13 21:59] matwerber1 commented on #5383
Hi Jordan,

Thanks for the info! Yes, I want the Greetings and SignUp to be in different places.

I am using the custom <Authenticator> component, and to give you an idea of what I'm doing...

I have a <header>, <body>, and <footer>, and I'm using the custom `<Authenticator>` from the aws-amplify-react library.

I wrapped the Amplify `<Authenticator>` in a custom component called `<CustomAuthentic

[2020-04-13 22:14] brene commented on #5396
cc @sammartinez - I think this is a JS issue

[2020-04-13 22:33] ters52 opened #5397 "Refresh token request is going right after Auth.SignIn with two active JWT tokens at the same time"
**Describe the bug**
After using Auth.SignIn I see 4 requests to Cognito. The 4th request is a refresh token request and it happens right after sign in. The problem is that old JWT token which Amplify got on the sign-in process
is still active and in this case, I have 2 active Bearer tokens at the same time.

**To Reproduce**
To reproduce it just check requests after Auth.SignIn with
`AuthFlow: "U

[2020-04-13 22:56] Quix0tic opened #5398 "No credentials available, the request will be unsigned"
**Describe the bug**
After a successful login (username+pass), session token could not be used to call the API (which has restricted access), hence the **API Gateway fails to authorize the request**.

**Screenshots**
![image](https://user-images.githubusercontent.com/5829628/79168268-b8d46280-7de9-11ea-837b-a1f002418b2d.png)

_index.jsx_

[code]

[code]

_aws-exports.json_
[code]

[2020-04-13 23:01] Tee88 commented on #54
Just here to say that this issue is **855** days old.
Way to go **Cognito** team!

[2020-04-14 00:32] rozhali commented on #5385
@bneigher reverting back to 2.3.0 worked. Thanks for your help

@amhinson Do you want me to test out the unstable version? How do I do that?

[2020-04-14 00:36] amhinson commented on #5385
You can just change the version in `package.json` for `aws-amplify` to be `unstable`. Let me know if that fixes the issue.

[2020-04-14 00:49] rozhali commented on #5385
@amhinson `unstable` works

[2020-04-14 00:52] amhinson commented on #5385
Ok that’s great to hear! We should be getting a new stable release out this week, so keep an eye out for that.

[2020-04-14 00:58] rozhali commented on #5385
Sounds great 👍 thanks

[2020-04-14 00:58] srobbin commented on #5211
@AvneeshD, @smn-snkl  I think there's an error in the generated schema. Try changing `blogID: String!` to `blogID: ID!`

[2020-04-14 01:03] #5385 closed

[2020-04-14 02:04] swaroop55 commented on #5384
^2.2.7

[2020-04-14 06:25] CasperAlant commented on #54
@undefobj do you have any feedback from the Cognito team please?

[2020-04-14 09:30] Quix0tic commented on #5398
This is the log right after a successful login

![image](https://user-images.githubusercontent.com/5829628/79209160-53ad5b00-7e43-11ea-8525-f5636369aab3.png)

[2020-04-14 10:10] Quix0tic commented on #5398
Removing `node_modules` and `package-lock.json` solved this issue.

[2020-04-14 10:10] #5398 closed

[2020-04-14 10:11] Stephan221713 opened #5403 "No notification when websocket closes"
**Describe the bug**
When AppSync-WebSockets close, the observer is not notified.

**To Reproduce**
Observed on Android devices running Google Chrome. When the device is in standby mode (+ maybe power save mode), webosckets often get closed. Our observer, which uses Amplify to subscribe to AppSync, is not notified of this, so we cannot tell if we need to reconnect after returning to the device.

*

[2020-04-14 13:36] dcarlstedt commented on #5398
Thanks for posting your resolution. It solved my issue as well.

For anyone else that may run into this one. You may also notice that Chrome and Firefox will mention a CORS error stating `'Access-Control-Allow-Origin'` is missing even after enabling CORS on API Gateway.  If you take a closer look the request causing the CORS error it's actually a 403 Forbidden with the message  `{"message":"Missin

[2020-04-14 13:39] LuXDAmore opened #5405 "🐞 Bug on IE 11 - Syntax error on version 3.*.* (not present before in 2.*.*)"
🐞 **Describe the bug**
I'm using the `@aws-amplify/auth` and `@aws-amplify/core` packages to add the AWS login functionality to a website.

Everything is fine in the previous releases:
- `@aws-amplify/auth: ^2.1.8`
- `@aws-amplify/core: ^2.3.0`

But, updating to the new one:
- `@aws-amplify/auth: ^3.2.3`
- `@aws-amplify/core: ^3.2.3`

**Cause (only in IE 11) a _Syntax error_ in the console.**

P.S

[2020-04-14 13:44] togro commented on #5351
@mlabieniec I try , but deeplinks,  only works on main.ts .

I try to put deeplinks on login.ts on AfterViewInit , but is no triggering .

And with router.navigate does'nt works, only with document.location.href .

I read and investigate a lot, but not found any example with android/ionic. + deeplinks + social login with cognito

I think you are right about life cycle , is something with lifecycle

[2020-04-14 14:20] joebernard commented on #5311
When can we expect this to be released?

[2020-04-14 14:58] #5328 closed

[2020-04-14 15:00] F-JJTH opened #5406 "[v2-feedback] Require example for event handler"
**Page**: [`https://docs.amplify.aws/ui/auth/authenticator?framework=angular

Hi,

First, I really like the new documentation ! And specifically the large number of example for each framework (I'm using Angular, so Angular example are very welcome :) )

Can you give an example how to use event on component ?
For instance, I try to use `handleSubmit` because I want to set custom properties during s

[2020-04-14 15:25] kresdjan commented on #4681
Please fix. Maybe even use Schematics.

[2020-04-14 16:10] sim1camporeale opened #5407 "DataStore - Sync error, subscription failed Connection failed: {"errors":[{"message":"Validation error of type FieldUndefined: Field 'blogDemoPostsId' in type 'PostDemo' is undefined @ 'onCreatePostDemo/blogDemoPostsId'"}]}"
**Describe the bug**
When I try to query/observe and save an object into the datastore I get following error:
[code]

I get this error when I interact with DataStore with this snippet:
[code]

**To Reproduce**
Steps to reproduce the behavior:

- Initialised a new project with Expo SDK 37.0.0 and Amplify Cli 4.18.0 and aws-amplify 3.0.7 and @aws-amplify/pubsub 3.0.7.
- added api, and auth.
- used p

[2020-04-14 16:15] AshwiniRaysecur opened #5408 "Wrap the item list to display first set of items after the last set, given pagination size"
**Description**

The UI has 'Next set' button, which calls Amplify auto-generated 'listAll' query.
'Next set' button does not wrap the item list to show the first set of items again after the last set is displayed

**Steps to Replicate**
1. Set 'limit' (of displaying number of items in the list) equal to X (eg. 10) in listAll query function
2. Make the number of items in database (dynamo db table)

[2020-04-14 17:34] SaucyJack commented on #3123
This is a critical feature for us as well and we need it available to our Node back-end, _not_ in the CLI. Is there any timeline on this? The PHP SDK has this functionality built in.

[2020-04-14 17:58] undefobj commented on #3123
@SaucyJack the AWS NodeJS SDK already supports this. That's a separate project from Amplify which is designed for mobile and web apps. The CLI functionality outlined above uses the NodeJS SDK in a Lambda function.

[2020-04-14 18:50] KingDarBoja commented on #4681
I just tried again by updating to the latest version of `aws-amplify-angular` (v5.0.7) and now getting a new error.

[code]

[2020-04-14 19:14] SebSchwartz commented on #5231
Any news on that @sammartinez ?
Thanks,
Sebastien

[2020-04-14 19:26] #5154 closed

[2020-04-14 19:54] sammartinez commented on #5231
@SebSchwartz Apologizes for not following up sooner, I am marking this as a feature request as we as we use the accessToken within DataStore instead of your implementation looks to be using the idToken

[2020-04-14 20:11] mauerbac commented on #5348
This looks to be more specific to S3 in general and not Amplify Framework. We recommend to ask this question via [AWS Forums for Storage](https://forums.aws.amazon.com/category.jspa?categoryID=23). However, it looks like @Quix0tic's comment looks to solve your issue, we are resolving this as the above comment and based on our recommendation that this seems to be S3 specific and not Amplify. Please

[2020-04-14 20:23] #5348 closed

[2020-04-14 21:30] SebSchwartz commented on #5231
@sammartinez  Yes but why it's not taking the idToken as i'm passing it through the auth header and in the message sent via the websocket, this idToken is well sent?
When checking the code (getAuthorizationInfo function), it's returning the information with the other auth rule first and it's never going to this rule with the custom claims. Maybe there should be a new priority param involved to res

[2020-04-14 21:36] sammartinez commented on #4680
@dbroadhurst Can you provide the link to the documentation you are calling out? This is by default that we do use CSS in order to disable the button until all form fields are filled in.

[2020-04-14 21:37] rpostulart commented on #3928
I have the same issue after upgrading from 2.7 to the latest 3.x

[2020-04-14 21:45] sammartinez commented on #4733
Im marking this as a feature request as we do not have a listening event in Hub today for Web socket statuses. Also want to put the label on for improving the documentation on this.

[2020-04-14 21:49] sammartinez commented on #4736
@pranaypratyush Are you still pinned to this version of `aws-amplify` or are you still experiencing this with the latest version of Amplify. Please let us know.

[2020-04-14 21:52] sammartinez commented on #4738
@intagen Can you provide some code snippets or a gist if possible of your setup?

[2020-04-14 21:54] sammartinez commented on #4739
Closing as the above callout

[2020-04-14 21:54] #4739 closed

[2020-04-14 21:56] sammartinez commented on #4741
@waqas-syed Can you provide us a gist or a code snippet of your code you are working with? Thanks ahead of time.

[2020-04-14 22:25] sammartinez commented on #4761
@heitorseesdragons Can you provide insight into your Auth Guard and using location.assign(), this could potentially cause the race condition you are experiencing. We do recommend to to use [Auth.federatedSignIn()](https://aws-amplify.github.io/docs/js/authentication#oauth-and-hosted-ui) for the above approach.

[2020-04-14 22:26] jordanranz commented on #4999
Hey @ShahoG,

`aws-amplify-angular` is not supported for Angular 9 as noted [here](https://aws-amplify.github.io/docs/js/angular#angular). Which components are you trying to use?

[2020-04-14 22:32] sammartinez commented on #4853
Resolving as the original bug is resolved, @raelmiu Can you open up a new bug for your above comment?

[2020-04-14 22:32] #4853 closed

[2020-04-14 22:44] manueliglesias commented on #4751
Hi @atlowell-smpl

What @dantasfiles  points out is correct, the console uses the ID token and Amplify uses the acces token.

With code like this you can make Amplify use the ID token too:

[code]

I hope this helps.

[2020-04-14 23:59] houmark commented on #4733
Thank you. Hope to see that added soon, as sockets are really the basics of many web/native apps these days. I wonder why others don't have problems with this.

[2020-04-15 02:46] wickstargazer commented on #4681
So version 5.0.7 is working now?

[2020-04-15 05:02] nihp opened #5410 "How can I pass params while onStateChange and how can I use that in another class in overide component of Authenticator"
I need to pass params from SignIn to another screen. How can I make this param to pass from one class to another in aws-amplify onStateChange

`this.props.onStateChange('signIn',{});`

[2020-04-15 05:06] nihp commented on #5143
Any solution for the above.

I have customized the UI now, and again it showing the same error (Error message is retained in the screen.)

I have customized and override the SignUp, SignIn, ForgotPassword

[2020-04-15 05:07] nihp commented on #5345
For [2] I already created a ticket but no reply from anyone.
https://github.com/aws-amplify/amplify-js/issues/5143

If you have any idea kindly let me know. It will be useful for me

[2020-04-15 06:11] karrettgelley opened #5411 "Better Support For Pagination With API Package"
**Is your feature request related to a problem? Please describe.**
Most apps needs to paginate their queries. Whether its chat app, marketplace, or social network, everyone is going to need to be able to fetch small amounts of data at first, and more as the user interacts with the UI. This is very difficult to do with amplify's API module on queries that have relations. Yes, listMessages can be pa

[2020-04-15 08:06] rpostulart opened #5412 "Predictions throws an error: Cannot read property 'identityPoolId' of undefined at Credentials"
When I use this code:

[code]

and run this function:

[code]

Then I receive this error
[code]

when I replace the import statements with this:

[code]

Then I receive this error:
[code]

this is my package.json:
[code]

[2020-04-15 09:23] speed-of-light commented on #4015
hi I've also stuck on this now, after seeking a lot of documentations, blog posts from aws there seems no official way to do it programmatically. The only way I observed is when user try to login with `Authorization code grant` process, it first redirect user to the hosted UI, and after hit submit, it will try to post the data to `[your domain]/login` and the scope may hence get.

However in the `

[2020-04-15 10:14] ashika01 commented on #5298
**_Update:_** Got the customization working with form fields. Needs update for supporting all standard and custom user attributes and should have a PR soon.

<img width="475" alt="Screen Shot 2020-04-15 at 3 09 11 AM" src="https://user-images.githubusercontent.com/35131273/79325719-85b3d100-7ec6-11ea-8c28-6c259093cab1.png">

[2020-04-15 10:19] jesper-bylund opened #5413 "Observing data model changes between clients doesn't work, at all."
**Describe the bug**
Using the "observe" method to subscribe to data updates simply does nothing.

This is my model:
[code]

This code triggers ONLY on local update. It is never triggered when on another client:
[code]

There are no errors. And nothing wrong, that I can see, with the Websocket. Any ideas on how to debug?

versions
[code]

[2020-04-15 10:46] tabrza opened #5414 "Cannot effectively style Chatbot Component in react"
**Describe the bug**
I am unable to style the chatbot component to the point of targeting to the granular point of input styling and response styling.

**I tried two approaches:**

**Approach one**
Use and override amplifytheme. I tried playing around with different sections but only ever affect the overall styling. And not to the point where i could for example create a border around the input an

[2020-04-15 11:20] raelmiu commented on #5413
Update:
After removing the access connection
`access: [UserTing] @connection(keyName: "byUser", fields: ["id"])`

I get this following error, that has at least one other open issue.
[code]

I'm unable to roll back, I get the "update many" errors when using Amplify Push. So I'm not stuck with an app that no longer works, at all.

[2020-04-15 11:36] tabrza commented on #5414
essentially, it would be nice to know how to style the Chatbot component to the point where i could style the button, the input container, the messages, show an icon, time message was sent etc. to make it look like the way it does on this page: https://aws-amplify.github.io/media/ui_library

[2020-04-15 12:41] Johnniexson commented on #5407
I'm facing this same problem for some days now, and i'm still stuck here. Querying data form the datastore works perfectly well before syncing with cloud. But now it doesn't.
![amplify warning](https://user-images.githubusercontent.com/33484116/79338189-c3444880-7f1e-11ea-8222-b18a4ecc2fe6.jpg)

[2020-04-15 12:48] sim1camporeale commented on #5407
Hi I was able to go on...
Try doing the following:
Check Dependecies, use only these
* "@aws-amplify/pubsub": "^3.0.7",
* "@react-native-community/netinfo": "5.5.0",
* "aws-amplify": "^3.0.7",

aws-amplify already includes datastore.

Downgrade amplify cli 4.17.2
* npm install -g @aws-amplify/cli@4.17.2

Install latest codegen modules from amplify
* npm i -g @amplify-cli/amplify-codegen-appsync-mo

[2020-04-15 12:54] garytraceylp commented on #1429
Has anyone from AWS even replied with any idea when this will be done? or if they are even intending on doing it? Its almost like they prefer the Hosted UI not be used, and if this was the case, they should make it easier to replace (Amplify is OK but you would almost need to replicate the entire OAuth 2 server side of things session state etc)

[2020-04-15 13:48] josh-tncarry commented on #5298
Facing the same issue. I noticed that in the code for both [AmplifySignIn](https://github.com/aws-amplify/amplify-js/blob/master/packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in.tsx) and [AmplifySignUp](https://github.com/aws-amplify/amplify-js/blob/master/packages/amplify-ui-components/src/components/amplify-sign-up/amplify-sign-up.tsx), that it completely ignores any

[2020-04-15 13:57] VXConsulting commented on #5346
Hello,

We have exactly the same problem.
We can reproduce it each time on some computers but not all machines are impacted.

First we have the 400.
We refresh the page.
Application asks again for authentication.
And then, it works.

We identified that the problem is for the first time, when the problem happens, the code-verifier is not attached to the token request.

Seems that :
`const code_veri

[2020-04-15 14:34] Johnniexson commented on #5407
Hi, do i still import DataStore from "@aws-amplify/DataStore" or can it be imported from "aws-amplify"

[2020-04-15 14:42] mauerbac commented on #5339
Hi @bneigher - a few thoughts after speaking with the team:

- It looks like you are on v2, so you can try to use the underlying aws-sdk [here](https://github.com/aws/aws-sdk-js/blob/master/lib/services/s3.js#L1035).
- If you want to migrate to v3, you could use [this](migrate to V3, they can use https://github.com/aws/aws-sdk-js-v3/tree/master/packages/s3-request-presigner).

Today, Amplify only

[2020-04-15 14:44] DheerajArora5 commented on #2777
Hi [yannicklaclau](https://github.com/yannicklaclau)
Email verification type set to Code .

With the current specification defined in the AWS Docs - it is very much unclear on how to set the **Verification Type to Link** - the solution provided seems to be hanging around.

After doing a bit of research - finally I got to a workaround:

Replace the
[code]

With
[code]
The Code will look like :
[cod

[2020-04-15 15:45] mauerbac commented on #5284
Hey everyone -- looks like you were able to figure this out, so will close out. I've flagged both the repo @thiagozf created and the code snippet @0xdevalias wrote. Will try to get this into the docs or similar.

Will also look into issue #5374

[2020-04-15 15:45] #5284 closed

[2020-04-15 15:47] mauerbac commented on #5272
HI @vikas5914 - looks like that is working for you, so will close out. Let me know if you need further help.

[2020-04-15 15:47] #5272 closed

[2020-04-15 15:49] mauerbac commented on #5259
Thanks for the feedback @xitanggg . I will share this with the team. Closing this question out.

[2020-04-15 15:49] #5259 closed

[2020-04-15 15:53] vikas5914 commented on #5272
@mauerbac will you accept the pull request for this?

[2020-04-15 15:55] mauerbac commented on #5272
do you have a link to the PR @vikas5914 ?

[2020-04-15 15:56] daniloalfredo commented on #3435
Waiting this feature + 1

[2020-04-15 15:58] mauerbac commented on #5251
Closing from this repo as this is regarding AWS SDK for Cognito

[2020-04-15 15:58] #5251 closed

[2020-04-15 16:02] binarydud opened #5416 "AuthState is not exported from @aws-amplify/ui-components"
**Describe the bug**
In a typescript based react app, when using the AmplifyAuthenticator, i'd like to change the initalAuthState parameter, described here https://docs.amplify.aws/ui/auth/authenticator?framework=react#prop-initial-auth-state. However, the enum AuthState from ui-components is not exported so typescript fails with an error similar to: `node_modules/@aws-amplify/ui-components/dist/t

[2020-04-15 16:04] mauerbac commented on #3422
hi @alexpanov - sorry to hear that. Following up on this -- are you still facing this issue?

[2020-04-15 16:13] janpoltan commented on #3435
I'm using the user pools hosted ui for oauth flow when integrating 3rd party apps. Even the logout endpoint won't invalidate the current access tokens.

+1 for this feature.

[2020-04-15 16:31] tomhirschfeld commented on #5330
you can suppress some user attributes being returned on a pretoken lambda. There are good examples in the docs.

[2020-04-15 16:52] mauerbac commented on #3978
Looks like @visusnet helped out here. Thank you! Closing out.

[2020-04-15 16:52] #3978 closed

[2020-04-15 17:03] mauerbac commented on #4020
Hello @TanKenny - this workshop goes through adding groups with Auth: https://github.com/dabit3/aws-appsync-react-workshop. Let me know if it helps!

[2020-04-15 17:05] mauerbac commented on #4094
Thanks for the feedback @amzhang . Looks like @manueliglesias helped out here, so will close.

[2020-04-15 17:05] #4094 closed

[2020-04-15 17:09] mauerbac commented on #4171
Hey @aej11a - here are our [docs](https://aws-amplify.github.io/docs/cli-toolchain/graphql#auth). If you still need assistance on this, can you send over a code snippet?

[2020-04-15 17:12] mauerbac commented on #4178
Hi @iamgerardm - this constraint is mainly suggested for development and can be changed [here](https://aws-amplify.github.io/docs/js/api#automated-configuration-with-cli)

[code]

[2020-04-15 17:13] mauerbac commented on #4541
hi @c0deWookiee - following up on this. Do you still need assistance here?

[2020-04-15 17:14] mauerbac commented on #4530
Hi @prasadkesarkar , we haven't heard back so I will close this out. Let us know via a new issue if you have questions. Thanks

[2020-04-15 17:14] #4530 closed

[2020-04-15 17:17] mauerbac commented on #4510
Looks like Eric solved this, so going to close out. Let us know if you have other questions.

[2020-04-15 17:17] #4510 closed

[2020-04-15 17:20] amhinson commented on #5143
@nihp There isn't a way right now to refresh the error messages, but we will look into it in the future. Thanks for bringing it to our attention 👍

[2020-04-15 17:23] mauerbac commented on #4419
Hi @schoenbl - curious if you still need assistance here ? Let us know!

[2020-04-15 17:50] amhinson commented on #4656
Closing this for now, as it seems you found a solution. However, we will create a backlog item to look into documenting usage with React Navigation.

[2020-04-15 17:50] #4656 closed

[2020-04-15 17:56] atlowell-smpl commented on #4751
@manueliglesias that is actually what we have been doing to get this to work, but it seems more like a workaround than a fix. Considering appsync has support for claims, and cognito claims expect the id token, I think the default token passed to appsync by amplify should be the id token. But as @dantasfiles also mentioned, there should at least be consistent use of tokens across services.

[2020-04-15 17:59] amhinson commented on #5093
This isn't possible with aws-amplify-react-native at this point, so I'm just going to label this as a feature request for now. We will take this into consideration as we continue to make improvements to the library though!

[2020-04-15 18:02] amhinson commented on #5092
This seems to be a duplicate of #5143. I'm going to close this issue for now and we can track any progress in the other ticket.

[2020-04-15 18:02] #5092 closed

[2020-04-15 18:06] amhinson commented on #5110
@nihp Are you still seeing this issue? If so, could you provide a code snippet of your usage, or maybe even an example repo we could test out?

[2020-04-15 18:08] amhinson commented on #5108
@nihp Could you elaborate a bit on the issue you're seeing? The verification email should only contain the code, in which the user would enter into the mobile app.

[2020-04-15 18:45] Amplifiyer commented on #5311
@joebernard, this fix is now released on a stable version.

[2020-04-15 18:47] ashika01 commented on #5389
@idanlo We are working on making some improvements for this specifically. We will putting out a RFC soon. Will comment back here once thats out.

[2020-04-15 18:51] ashika01 commented on #5412
@rpostulart Could you share your aws-exports file with secrets grayed out?

[2020-04-15 18:55] ashika01 commented on #5367
@livingmine could you check, in the cognito console, if the user has `enable sms` enabled on them?

[2020-04-15 19:12] vikas5914 commented on #5272
@mauerbac https://github.com/aws-amplify/amplify-js/pull/5418

[2020-04-15 19:30] mauerbac commented on #5331
Hi @lebnic - I'm going to move this to our [Amplify Doc Repo](https://github.com/aws-amplify/docs) so we can get this assigned and fixed.

[2020-04-15 19:37] rpostulart commented on #5412
// WARNING: DO NOT EDIT. This file is automatically generated by AWS Amplify. It will be overwritten.

const awsmobile = {
    "aws_project_region": "eu-west-1",
    "aws_appsync_graphqlEndpoint": "https://****.appsync-api.eu-west-1.amazonaws.com/graphql",
    "aws_appsync_region": "eu-west-1",
    "aws_appsync_authenticationType": "AWS_IAM",
    "aws_cognito_identity_pool_id": "eu-west-1:c******"

[2020-04-15 20:15] manueliglesias commented on #5074
I am closing this issue, feel free to create a new one if you face more issues

[2020-04-15 20:15] #5074 closed

[2020-04-15 20:20] iartemiev commented on #4396
Should be fixed now in the latest **unstable** release. Will be released to stable in the near future as well. Closing this issue.

[2020-04-15 20:20] #4396 closed

[2020-04-15 20:20] iartemiev commented on #5043
Should be fixed now in the latest **unstable** release. Will be released to stable in the near future as well. Closing this issue.

[2020-04-15 20:20] #5043 closed

[2020-04-15 20:20] iartemiev commented on #2534
Should be fixed now in the latest **unstable** release. Will be released to stable in the near future as well. Closing this issue.

[2020-04-15 20:20] #2534 closed

[2020-04-15 20:45] emmafass commented on #1272
@ericclemmons I am trying to pass className to S3Image and I am not able to get it to recognize the className prop.

`<S3Image imgKey={profilePictureKey} className="img-thumbnail" />`

Does this look right to you?

[2020-04-15 21:40] jordanranz commented on #5410
Hey @nihp, which UI framework/Amplify UI library are you using?

[2020-04-16 00:08] ericclemmons opened #5422 "TypeScript ^3.8.3 errors with DataStore.query(Post)"
**Describe the bug**

`DataStore.query(Post)` has a TypeScript error:

[code]

**To Reproduce**

1. `yarn create next-app datastore`

1. Convert to TypeScript:

   1. `touch tsconfig.json`

   1. `yarn add --dev typescript @types/react @types/node`

   1. `mv pages/index.{js,tsx}`

1. `amplify init`

[code]

1. `amplify add api`

[code]

1. `amplify push`
1. `amplify codegen models`

**Expected be

[2020-04-16 00:10] ericclemmons commented on #5422
Related: https://github.com/aws-amplify/amplify-js/pull/5032

[2020-04-16 00:17] joebernard opened #5423 "Pinpoint: Exceeded maximum endpoint per user count: 10"
**Describe the bug**
If I re-install my app enough times it hits the 10 endpoint limit and does not clear unused ones. I've only installed this app on a single test device so there should be plenty of unused endpoints to delete.

It seems this line isn't recognizing the error message correctly and not attempting to clear out the old endpoints:

https://github.com/aws-amplify/amplify-js/blob/master

[2020-04-16 01:43] MontoyaAndres commented on #5307
Ignore this... Now I use the createdAt and updatedAt that DynamoDB creates, and it works great :D

[2020-04-16 01:43] #5307 closed

[2020-04-16 02:29] swaroop55 commented on #5384
Hi, Any update on this?

[2020-04-16 02:30] shrishtychandra opened #5424 "PhotoPicker throwing error on react-native"
**Describe the bug**
I wanted to use PhotoPicker component provided by Amplify but its throwing this error.

**To Reproduce**
Add this in render method
[code]

I get following error:
[code]

[2020-04-16 02:32] inferaince commented on #5412
I am also having problems with the comprehend API from a vue application.  (400 bad request error) throwing asyncToGenerator.js?1da1:6 Uncaught (in promise) Not authorized, did you enable Interpret Text on predictions category Amplify CLI? try: amplify predictions add.

** Have already added the predictions category and checked in my cloud formation logs that everything has been provisioned.

I ha

[2020-04-16 05:40] nihp commented on #5143
@amhinson Thanks for your reply

Any temporary solution will help for me.

[2020-04-16 05:41] nihp commented on #5093
Okay thanks.

[2020-04-16 05:50] nihp commented on #5110
This issue will raise if the user using the default screens from the  **aws-amplify-react-native**.

Yes, you can also reproduce this by adding the below code and check the sign Up screen with the following steps

1. Go to sign up screen
2. Hit the Sign Up with out filling any details. It shows **Username cannot be empty**
3. Again fill the username and hit the Sign Up. Again it will shows the err

[2020-04-16 05:54] nihp commented on #5108
I am using phone number and email. I am receiving the code for phonenumber. But i not received the acknowledgement or anything regarding this in my email.

[2020-04-16 05:57] rpostulart commented on #5412
I have added predictions via the amplify cli and it only happend when I upgraded to the latest amplify modular versions. So yes I am up to date. With version 2.7.0 it worked

[2020-04-16 05:59] nihp commented on #5410
I am using aws-amplify-react-native

Authenticator component with my custom UI.

[code]

[2020-04-16 07:24] raelmiu commented on #5413
Another update, not sure what happened here but when I looked through the project for `onCreateUserTing`I realized this should be a part of the model that was removed `User`.  And in `schema.js`I could actually see my old models still referenced.

For some reason, my schema was not being updated. But there was no error.
Running `Amplify codegen`didn't resolve this.
Running `npm run amplify-modelge

[2020-04-16 08:33] sim1camporeale commented on #5407
Hi aws-amplify is a meta package you can import
* import DataStore from "@aws-amplify/DataStore"
using the metapackage you are sure that all dependencies are aligned

[2020-04-16 09:46] weisisheng opened #5426 "API Import error, from '@aws-amplify/api'"
**Describe the bug**
Can not compile react.js app

**To Reproduce**
1. "Yarn start"
2. Compile Tries to Run
3. Error surfaces...

 "@aws-amplify/analytics": "^2.0.0",
    "@aws-amplify/api": "^2.0.0",
    "@aws-amplify/auth": "^2.0.0",
    "@aws-amplify/core": "^2.0.0",
    "@aws-amplify/interactions": "^2.0.0",
    "@aws-amplify/pubsub": "^2.1.1",
    "@aws-amplify/storage": "^2.0.0",
    "@aws-a

[2020-04-16 10:01] weisisheng commented on #5426
Ahh, upgrading the respective amplify subcomponents to 3.1.7 or 3.2.4 respectively cleared up all the problems.  Had versions pinned to 2.0.0

[2020-04-16 10:01] #5426 closed

[2020-04-16 10:52] apoorvmote opened #5427 "Datastore optional string array crashes the app"
**Describe the bug**
I have following schema
[code]
the generated datastore model is `  readonly complaint?: string[];`

But when I save new product
[code]
then I get following error

`Field complaint should be of type string[], object received. null`

### This is not silent error. The app crashes

**Expected behavior**
I should be able to save null complaints and add complaints as needed

[2020-04-16 11:04] charleswduk commented on #3501
I'm struggling with this one too...I've configured Amplify to use cookie storage for auth, but using Auth.signOut() doesn't work properly. Clicking on Auth.federatedSignIn() signs users straight in again because the cookies set by cognito remain.

I tried adding the cookie @ottokruse suggested, but this did not work.

Does anyone have a working implementation using Amplify, Cognito Hosted UI and c

[2020-04-16 14:00] rahulje9 commented on #3399
I'm having trouble redirecting to the app after login.

here is my config

`oauth: {        domain: 'your_cognito_domain',
            clientID: 'your_cognito_clientid',

           redirectSignIn: 'myapp://',
            redirectSignOut: 'myapp://',
            responseType: 'code'
       }`

![Screenshot_1587045359](https://user-images.githubusercontent.com/22475675/79465025-72b11600-8018-11ea-8

[2020-04-16 14:06] rahulje9 commented on #4800
I'm having the same error, But not with expo.

[2020-04-16 14:09] rahulje9 commented on #4244
I'm also facing the same issue in react native both android and ios.

I've given redirect url as follows

`redirectSignIn: 'myapp://',
            redirectSignOut: 'myapp://',`

[2020-04-16 14:15] rahulje9 commented on #4141
@sammartinez  I'm having the same issue, I tried with the latest version of Amplify

[2020-04-16 14:44] VictorAtPL commented on #5273
@Amplifiyer
After I saw the fix was merged with stable branch, I reverted code (from `Buffer.from()` method to `fetch`/`blob`) and it looks like the `contentType` and `metaData` is not properly saved in `S3` if the filesize is greater than 5MB.

My code right now:
[code]

If I upload file < 5MB, I can see 3 metadatas in S3 console (`Content-Type == 'image/jpeg'`). If the file is > 5MB, there is on

[2020-04-16 14:46] rahulje9 commented on #4854
@qmau94 can you please help me with the linking part?

[2020-04-16 14:49] rahulje9 commented on #4854
@qmau94 In my case my app is not getting redirected back, can you please help me with this. Also, I haven't done the linking part too.

[2020-04-16 15:38] amhinson commented on #5108
This sounds like a Cognito configuration for your app. You can check what you have enabled if you go to your Cognito User Pool and see what attributes you have selected to verify. It sounds like you only have phone verification enabled.

[2020-04-16 15:46] mdoesburg commented on #5427
I've been trying to get a fix for this as well. I opened a similar issue a few days ago: [https://github.com/aws-amplify/amplify-js/issues/5292](https://github.com/aws-amplify/amplify-js/issues/5292)

[2020-04-16 15:55] amhinson commented on #5110
Can you also post how you're using those components?

[2020-04-16 17:09] F-JJTH opened #5429 "GraphQLAPIClass crashes with Angular 8 and build optimization=true"
**Describe the bug**
I created an Angular 8 application with GraphQL (amplify add api)
When I compile in production mode with the `optimization` tag set to `true` the compilation is OK however the application crashes immediately when visiting index.html

With `optimization` tag set to `false` the application does not crash.
(`optimization` flag is located in angular.json at the root of Angular pro

[2020-04-16 18:11] iartemiev commented on #4438
When the refresh token expires, Amplify does not automatically sign the user out nor send the user to Hosted UI.

Hub does not currently emit an event when a refresh token expires.

What behavior would best work for your use case in this scenario? Please feel free to describe it in a new feature request.

[2020-04-16 18:18] kay-is opened #5431 "Improve missing auth package error message"
**Is your feature request related to a problem? Please describe.**

I used the core, auth and ui-react package, but I didn't import the auth package, because, well I wasn't using it *directly*.

I got the following error:

    Error: Amplify has not been configured correctly.

With some link to a docs page that talked about `Amplify.configure()` etc.

In the end, I fixed the error by importing the

[2020-04-16 18:20] iartemiev commented on #4735
Have you tried federating with Identity Pools utilizing Facebook Login directly? (Instead of using Hosted UI) i.e., https://aws-amplify.github.io/docs/js/authentication#facebook-example-in-react-native-expo

Are you using React Native or Ionic?

[2020-04-16 18:25] iartemiev commented on #4278
Hi @anarerdene, they work if you use them separately, but if you use them at the same time, you need multiple Apollo clients. A simpler way would be using Amplify Datastore instead of Apollo.

[2020-04-16 18:25] #4278 closed

[2020-04-16 18:32] iartemiev commented on #4514
It seems that the problem is due to your using a different Client ID in the web view. Could you try utilizing the Client ID from your native app in the web view?

[2020-04-16 18:55] iartemiev commented on #5318
Have you tried utilizing the [Amplify CLI](https://aws-amplify.github.io/docs/cli-toolchain/quickstart) to configure Cognito with a Lambda trigger?

[2020-04-16 19:12] iartemiev commented on #5316
Any time an event is recorded in Pinpoint, it will include a timestamp. I don't think there's a way to achieve your exact use case via the Pinpoint console, but you can try exporting the data and then taking the difference between the timestamps for `_session.start` and `_session.stop` events.

[2020-04-16 19:16] iartemiev commented on #5427
Closing, because this is a duplicate of https://github.com/aws-amplify/amplify-js/issues/5040. We're actively working on fixing this. Please track the progress via the linked issue.

[2020-04-16 19:16] #5427 closed

[2020-04-16 19:16] Ashish-Nanda commented on #5292
Hi @mdoesburg, we are currently looking into this issue. It is being tracked here: https://github.com/aws-amplify/amplify-js/issues/5040

[2020-04-16 19:16] #5292 closed

[2020-04-16 19:31] angelarw opened #5432 "S3 multipart upload using storage.put does not propagate metadata"
**Describe the bug**
When using Amplify's `storage.put`, i noticed when the file to upload is larger than a few MB, the upload is completed using s3 multipart upload. However, when this happens, the metadata args passed into `storage.put` is not sent to S3.
When i use the same code to upload a small file, i can see the metadata being successfully sent to S3.

**To Reproduce**
Steps to reproduce th

[2020-04-16 19:44] crolly opened #5433 "DataStore API Updating _version field can not be set from the client."
**Describe the bug**
Using the DataStore API I am unable to update a model as described in the docs.
It is only updating the local model and not syncing it with the cloud.

**To Reproduce**
[code]

**Expected behavior**
1. Update of the local model
2. Sync with the cloud

**Screenshots**
<img width="1660" alt="Bildschirmfoto 2020-04-16 um 21 43 36" src="https://user-images.githubusercontent.com/30

[2020-04-16 19:47] jordanranz commented on #5416
Hey @binarydud,

You can access this `AuthState` enum by using:
[code]
in your `App.tsx`

It may however be better if we pass this through to `@aws-amplify/ui-react` so you can do something like:
[code]

I'll test passing it through and mark this as a feature request

[2020-04-16 19:48] jordanranz commented on #5410
Ok, gotcha.

Which params are you trying to pass?

[2020-04-16 20:08] jordanranz commented on #5383
@matwerber1, awesome, thanks for the explanation.

It is currently not support to keep the `Greetings` component and hide the `SignOut` from the `Authenticator` prop level since `SignOut` is contained within the `Greetings` component.

What you can do however is hide the `Greetings` and construct your own header without the `SignOut` component. You can also use the `SignOut` component independentl

[2020-04-16 20:12] binarydud commented on #5416
@jordanranz what version of ui-components is exporting AuthState, if i add that import statement i get the following error when compiling:
[code]

i have the following version of ui-components installed: @aws-amplify/ui-components@0.3.2

[2020-04-16 20:18] rpostulart opened #5434 "Datastore show performance issues on Safari."
When there are for example 600 records in your DB and you init/start your app with

DataStore.configure(awsConfig)

DataStore.observe(Quiz).subscribe(Quiz => {
      console.log(Quiz)
    })

The first time all the records are loaded. In seems like in chrome it's working well and in Safari there is some idle time and looks like your application crashes, your app continues working after all the rec

[2020-04-16 20:37] mauerbac commented on #5272
Yes @vikas5914 - the team is on it!

[2020-04-16 20:38] jordanranz commented on #5416
Did you use:
[code]
or
[code]

[2020-04-16 20:42] binarydud commented on #5416
`import { AuthState } from '@aws-amplify/ui-components'`

[2020-04-16 20:50] jordanranz commented on #5416
Ok, got it. I was accidentally testing in a non-Typescript app.

Looking into why `AuthState` is not being properly exported now.

[2020-04-16 21:41] ericclemmons opened #5435 "Server-Side Rendering (SSR) with Next.js"
Given Next.js’ popularity, customer impact, and being a hybrid framework supporting both SSR & SSG, solving for Next.js first unblocks other frameworks (e.g. Gatsby, Nuxt).

There is additional work to be done for CLI & Console support (particularly around deployments), but this Epic focuses on JS support.

**This feature is live! See the [Getting Started](https://docs.amplify.aws/start/q/integrat

[2020-04-17 00:00] ericclemmons commented on #4704
Confirmed that https://github.com/aws-amplify/amplify-cli/pull/3495 gets DataStore + API syncing!

1. `amplify add api`
1. `amplify update api`

[code]
1. `amplify push`
1. 🎉

[2020-04-17 00:30] #4981 closed

[2020-04-17 01:00] #4916 closed

[2020-04-17 01:00] #4871 closed

[2020-04-17 01:00] #4925 closed

[2020-04-17 01:00] #5158 closed

[2020-04-17 01:11] TheSilentDev opened #5438 "Signed in user denied access to graphql query"
**Describe the bug**
Using multi auth with amplify and react, when unauthenticated I'm able to run queries but If I sign in with Cognito then I'm denied access to graphql, error message below:
``{errorType: "UnauthorizedException", message: "Permission denied"}``

My schema is as follows:

[code]

The query I'm running is as follows:

[code]

**Expected behavior**
I expected that as a signed-in us

[2020-04-17 02:37] miguelocarvajal commented on #1779
This problem is still occurring, using the default user id is not a workable solution because we'd have to call it early in the initialization process where the user id (Cognito sub) is not available.

Calling Amplify.configure multiple times is also not very workable as it was generating invalid requests to the server from my brief tests.

[2020-04-17 03:20] jordanranz commented on #5416
@binarydud the `AuthState` type is not properly being exported by `@aws-amplify/ui-components`

Can you try installing `@aws-amplify/ui-react@unstable` then try:
[code]

Let us know if that worked for you.

[2020-04-17 03:44] nihp commented on #5410
I need to pass the email values.

[2020-04-17 03:48] nihp commented on #5110
For default screens
[code]

[2020-04-17 03:58] wattanakorn495 opened #5440 "No identityID return from currentUserInfo after federatedSignIn with apple"
**Describe the bug**
I try to integrate sign in with apple to my react-native app by using identityToken from
[@invertase/react-native-apple-authentication](https://github.com/invertase/react-native-apple-authentication)
and put AppID(bundleID) to ServiceID field in Cognito identity pool
[Sign in with Apple (Identity Pools)](https://docs.aws.amazon.com/cognito/latest/developerguide/apple.html)
the

[2020-04-17 05:29] kinoroy opened #5442 "AuthState.user has extraneous nesting after signUp where MFA required in aws-amplify-angular"
**Describe the bug**
In the `@aws-amplify/auth` package, the method signature for signUp is
[code]
In the `aws-amplify-angular` package, it adds additional behaviour to the signUp method using the auth decorator. In `auth.decorator.ts` it assumes the method signature for signUp is
[code]
so it if the user tries to sign up using the `SignUpParams` object then the auth state will get set as

[code]

[2020-04-17 06:42] crolly commented on #5433
Btw, as delete with certain index constellations was not working either directly through `DataStore.delete(...)` I was able to work around that problem by running the GraphQL mutation through the API package right afterwards:

[code]

I have tried the same with the update mutation, however I am still getting the same error regarding the `_version` attribute, so this may actually be an API or AppSy

[2020-04-17 06:56] F-JJTH commented on #5429
I activated DEBUG mode (for those interested, you just have to add `(window as any).LOG_LEVEL = 'DEBUG';` in `polyfills.ts`) so I can provide more log :

![image](https://user-images.githubusercontent.com/6074450/79540965-4a153480-8089-11ea-84ce-00a3c0f48ff6.png)

[2020-04-17 07:33] F-JJTH commented on #5429
Well, after digging in AWS source code I realized the APIClass.configure() is not called.

As a workaround I call it myself just after `Amplify.configure(awsconfig)` in `main.ts`

`main.ts` :
![image](https://user-images.githubusercontent.com/6074450/79542061-4387bc80-808b-11ea-9b99-40e170479db5.png)

Maybe someone can update the documentation :
![image](https://user-images.githubusercontent.com/6

[2020-04-17 07:38] #5429 closed

[2020-04-17 10:03] Spy-Seth commented on #5318
I did not have try the Amplify Cli but the Cognito GUI and Cloud Formation deployment template. Is the CLI is mandatory?

[2020-04-17 10:20] mrichman opened #5444 "Example using Cognito Hosted UI with Vue.js (OAuth 2.0 Auth Code Grant Flow)"
I am using Vue.js and the Cognito hosted UI. My app client is set for OAuth 2.0 authorization code grant flow.

How can I use this library to integrate my logins in this manner?

[2020-04-17 10:40] mrichman commented on #5284
Are there any examples for doing the above using Vue.js?

[2020-04-17 11:38] zolcsi commented on #4636
Still does not work with CLI 4.18.0. This scenario is so common.

[2020-04-17 13:00] matyashlavacek opened #5445 "CSS stylesheets missing when using withAuthenticator from the aws-amplify-react package version 4.1.7"
**Describe the bug**
CSS stylesheets missing when using `withAuthenticator` from the `aws-amplify-react` package version `4.1.7`

**To Reproduce**
Steps to reproduce the behavior:

1. `npx create-react-app my-app && cd my-app`
2. `npm i aws-amplify aws-amplify-reac@4.1.7`
3. Configure:
[code]
4. Wrap React `App` component with `withAuthenticator`
[code]
5. `npm run start`
6. Open `http://localhost

[2020-04-17 14:09] crolly commented on #5433
Another update: running the mutation from a GraphQL client against the endpoint either returns the same error `Updating _version field can not be set from the client.` if the `_version` is sent as input or if not sent, increases the version number, returns no error, but does not change any attributes.

[code]
returns
[code]
returns
[code]

Don't know, if these information help at all. Any ideas, t

[2020-04-17 15:12] karrettgelley opened #5447 "Subscription Typescript Error"
**Describe the bug**
When I try to create a subscription I get the following error `Property 'subscribe' does not exist on type 'Promise<GraphQLResult<object>>'.ts(2339)`.

**To Reproduce**
1. Create a blank amplify react app
2. Create a subscription:
 ` useEffect(() => {
      let userSubscription: any;
      try {
        userSubscription = API.graphql(
          graphqlOperation(onUpdateUser, {

[2020-04-17 15:31] apoorvmote opened #5448 "In production datastore doesn't sync"
**Describe the bug**
I manually deployed 3 different react app with
- graphql api dynamodb
- cognito auth with email
- everything default with `create-react-app` settings
- using typescript with react

Everything syncs in development (localhost) but doen't sync in deployed app in both cases amplify app domain & custom domain.

### auth works in production but graphql api doesn't sync

I am able to

[2020-04-17 15:44] dabit3 commented on #5435
@ericclemmons you are the man.

[2020-04-17 16:40] louisholley commented on #54
I tried the solution @djkmiles provided to no avail. Worked out it's because I'm using AWS_IAM as my appsync authentication type rather than cognito...

BUT I was inspired to check what treasures were hidden inside `$ctx.identity`, logging the whole thing in lambda gives the following:

[code]

sure enough, storing and then using that `cognitoIdentityId` lets me access users protected files on S3.

[2020-04-17 17:19] amhinson commented on #5424
@shrishtychandra Where are you importing `PhotoPicker` from? `aws-amplify-react-native` doesn't have a photo picker component exported.

[2020-04-17 17:55] grigull commented on #4636
how are you handling the dummy account for a visitor role in terms of storing the dummy email and password in your website/app for anyone to be able to access?

[2020-04-17 17:59] livingmine commented on #5367
@ashika01 can you elaborate more on

I believe i have done the right setting in the user pool's setting as this only happened occasionally to a few users.

[2020-04-17 18:18] ashika01 commented on #5445
@matyashlavacek As of aws-amplify-react@4.x.x, the Authenticator is not styled. To include default styling in JavaScript, add this line before Amplify.configure:
[code]

Are you doing this?

[2020-04-17 18:24] amhinson commented on #5252
@alexkaduk Could you post your IAM policy with the Pinpoint actions?

[2020-04-17 18:35] helloanil commented on #5298
Hey @ashika01 and @jordanranz,

Thanks for taking a look at this but I'm not sure if this is solved. My code:

[code]

But I'm still seeing this:

![image](https://user-images.githubusercontent.com/6314657/79602508-df94e080-80ea-11ea-962f-8d27300dc69e.png)

[2020-04-17 21:47] mdoesburg opened #5452 "Amplify project progress/milestones"
**Is your feature request related to a problem? Please describe.**
Over the past couple of weeks I have been working on a React Native app using AWS Amplify, and specifically using the DataStore. I am really liking it so far, keep up the good work!. Nevertheless I've run into some issues with the DataStore for which I opened issues on here and on @aws-amplify/cli.

I am wondering where I can best

[2020-04-17 21:48] mdoesburg commented on #5452
@brene @sammartinez @undefobj

[2020-04-17 22:20] mdoesburg commented on #4808
My use case: Upon logging out the DataStore is cleared for privacy reasons. I want to warn users before logging out that they may lose content if a sync has not been completed.

[2020-04-17 22:29] ashika01 commented on #5298
Hi everyone,

Posting update here - Changing form field is going to need documentation update. In meanwhile, here is a sample code for customizing form field.

[code]

In short, `handleInputChange` of form field needs to invoke a callback like shown above in order for us to handle the state internally. `handleInputChange` needs the signature `(event,cb) => { cb(event) }`

Note: The update is in `u

[2020-04-17 22:47] mdoesburg commented on #5452
Also seems like the DataStore docs could use some updating. Took me awhile to find out how to [observe changes on one item](https://github.com/aws-amplify/docs/issues/1545) and how to use [connection's on the DataStore](https://github.com/aws-amplify/amplify-js/issues/5039). I am still confused about the last one actually. :/

[2020-04-17 23:46] rrrix commented on #5445
I think this is a _NEW / breaking_ change from previous versions (3.x to 4.x).

I've been staring at this un-styled ugly UI for a couple of weeks (I think) and finally started looking around.

The `withAuthenticator` HoC previously "just worked" and didn't need this extra CSS import.

Is there a way for the `withAuthenticator` to be like, smart about this and import the CSS by default if no other

[2020-04-17 23:55] rrrix commented on #5445
@ashika01 thanks for the link to that documentation!

I was entirely confused since I was looking at the _other_ `withAuthenticator` documentation - [Using withAuthenticator HOC
](https://aws-amplify.github.io/docs/js/authentication#using-withauthenticator-hoc) - since that's where Google sent me when searching for `withAuthenticator`.

Unfortunately this page has no mention of the new 4.x.x behav

[2020-04-17 23:59] #5337 closed

[2020-04-18 00:19] DanielWFrancis commented on #612
Adding to the long list of people who want to see this. Seems exceptionally simple to implement.

[2020-04-18 00:26] iartemiev commented on #5337
Hey @vincekd, this should be fixed now in the latest **unstable** version of Amplify (`npm i -S aws-amplify@unstable`) and will be part of the next stable release.

As a side note, when setting the value of `data`, you can stringify your json if you'd like, but you don't have to. You can just pass an object to `data` and Amplify will stringify it for you before sending it in the request.

[2020-04-18 01:08] Swaroop-Bhupathiraju commented on #5036
@chinnawatsut  @kevinlin505 any workarounds?

@nihp I don't think customizing error messages is the problem here

[2020-04-18 02:13] apoorvmote commented on #5448
In case there is confusion it doesn't sync in react production build on amplify app or custom domain. It does sync on react development build on localhost. I checked the build folder and in `build/static/js/mainxxxxchunk.js.map` has actual graphql endpoint.

[2020-04-18 02:27] jono-allen commented on #2365
I got around this by using patch package and patching @types/react-native with
[code]

[2020-04-18 03:00] vincekd commented on #5337
Thanks @iartemiev!

Regarding the stringifying, if you are trying to access the data from Athena, it needs a newline at the end of each entry for it to be properly read (unless something has changed in the last couple of months).

[2020-04-18 04:21] juuyan commented on #5376
Same here. Any updates? What is the latest safe version with which these errors could be avoided?

[2020-04-18 05:03] #4035 closed

[2020-04-18 05:03] #4606 closed

[2020-04-18 05:03] #4585 closed

[2020-04-18 05:03] #4213 closed

[2020-04-18 05:03] #4526 closed

[2020-04-18 09:01] qmau94 commented on #4854
@rahulje9  make sure you follow the instruction from amplify webpage and everything will be fine. In case you haven't done the linking part, amplify will not able to redirect to your app.

[2020-04-18 09:58] rahulje9 opened #5457 "AWS cognito social login throwing NotAuthorizedException:does not have identity providers configured React Native"
Hi,
I'm using user pool. I have completed signup with email now trying to implement social login.
I'm using `Auth.federatedSignIn({ provider: 'Google' })` for google and
`Auth.federatedSignIn({ provider: 'Facebook' })` for facebook.
Here is my config for OAuth
[code]
I have added google, Facebook id and secret in aws.

But in the hub listener, I'm getting the following error.

signIn_failure [NotA

[2020-04-18 10:03] rahulje9 commented on #3210
I've figured out the part till deep linking, social auth is working but not as expected. The hub was not listening for the given events and then I dig deep and found that it was throwing
`signIn_failure [NotAuthorizedException: Identity pool - * poolid * does not
have identity providers configured.]` but at the same time, the user details got registered in the aws, Any help would be appreciated.

[2020-04-18 10:30] rahulje9 commented on #4854
Hi it was due to that and I had fixed that, now it's a new error
`signIn_failure [NotAuthorizedException: Identity pool - * poolid * does not
have identity providers configured.]`

[2020-04-18 13:36] humphreylitan commented on #5447
I'm also experiencing this same issue. I couldn't seem to find the solution in the internet. I've seen some but they didn't work. 😪

[2020-04-18 14:01] matyashlavacek commented on #5445
Ah I see, I was using `aws-amplify-react@3.x.x` before, which had the CSS included. I found out about the `withAuthenticator HOC` in the same place in the docs as @rrrix did. It would be nice to include it into these [docs](https://aws-amplify.github.io/docs/js/authentication#using-withauthenticator-hoc) too indeed. Thanks for the info! @ashika01

[2020-04-18 14:01] #5445 closed

[2020-04-18 14:13] rahulje9 commented on #3399
I have added google, Facebook id and secret in aws.

But in the hub listener, I'm getting the following error.

signIn_failure [NotAuthorizedException: Identity pool - * poolid * does not have identity providers configured.] However, the users who tried login using facebook and google is registered and is showing in the user list. I'm pretty much stuck at this point, any help would be appreciated.

[2020-04-18 17:13] binarydud commented on #5416
Sorry about the delay. The unstable package worked for me, thanks.

[2020-04-18 23:25] manueliglesias commented on #5422
Investigating, for now, can you try

[code]

[2020-04-19 03:03] PHironaka opened #5458 "Amplify not working in production - get blank white screen"
**Describe the bug**
I've deployed my Gatsby project to netlify, and when I tried signing in, the entire screen goes white. I'm not sure if it's an issue with the aws-exports.js file (it did create the user upon signup), or another issue.

**To Reproduce**

This project was built following along this tutorial: https://hackernoon.com/building-jamstack-applications-with-gatsby-and-aws-amplify-framew

[2020-04-19 03:04] PHironaka commented on #5458
Here is a staging link of the gatsby site I'm working on: https://gatsby-shopify-store-example.netlify.app/dashboard

[2020-04-19 04:07] ranman opened #5459 "Support Amazon Connect Chat in @amplify-js/interactions"
## Problem Statement
Interactions currently supports Amazon Lex but many interactions still rely on human agents to resolve.

Amazon Connect is used by many customers as a call center service and it is increasingly used for [chat interactions](https://aws.amazon.com/blogs/contact-center/reaching-more-customers-with-web-and-mobile-chat-on-amazon-connect/) as well.

Ideally we could expand the inter

[2020-04-19 04:23] Giddyrino commented on #3524
it boggles my mind there isn't some sort of built in support to access generated application logs in the amplify console.

it's like they didn't expect users would want to look at the logs if their deployment failed.

[2020-04-19 06:18] fireflysemantics opened #5460 "Remove the Need for Globals in Angular"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

When working with Angular we need to add globals to `tsconfig.app.json`,  `polyfills`, and `index.html`.

The specifics are in the Amplify documentation and also here.  It would be great if Amplify were refactored removing the need to take

[2020-04-19 07:33] djoyrocks commented on #4681
Hi, I have faced the same issue with Angular 9.0.1.
I have upgraded to the latest angular version  9.1.1 and the project started to compile.

 "dependencies": {
    "@agm/core": "1.1.0",
    "@angular/animations": "9.1.2",
    "@angular/cdk": "9.0.0",
    "@angular/common": "9.1.2",
    "@angular/compiler": "9.1.2",
    "@angular/core": "9.1.2",
    "@angular/fire": "6.0.0",
    "@angular/flex-lay

[2020-04-19 08:45] tomeraz commented on #54
Whoever gets here, maybe this bit helps:

https://serverless-stack.com/chapters/mapping-cognito-identity-id-and-user-pool-id.html

[2020-04-19 09:20] djoyrocks commented on #4681
Hi After tackling CSP error again getting an error
ERROR TypeError: Cannot read property 'viewContainerRef' of undefined
    at ChatBotComponent.push../node_modules/aws-amplify-angular/__ivy_ngcc__/dist/src/components/interactions/chatbot/chatbot.factory.js.ChatBotComponent.loadComponent

![amplify csp error 1](https://user-images.githubusercontent.com/9305598/79684166-e76c9600-824c-11ea-882a-609f

[2020-04-19 10:06] NutterzUK commented on #5298
Sorry for being a bit new to this, how do I set up npm to use the `unstable` build so I can try this out?

[2020-04-19 14:23] rahulje9 commented on #5036
any update on this?

[2020-04-19 15:22] sovattha commented on #5435
It took me a day to realize that Amplify does not work well with the SSR of Next.js.

Going to the competition (Auth0) for the time being.

[2020-04-19 15:25] subhendukundu commented on #4527
Can I observe for a particular keyId? What I mean, is it possible to filter the data on observe?
Something link `onCreateComment(postId: ID!)`?

[2020-04-19 17:20] tombuckley91 commented on #5101
Subscribed, thank you @ericclemmons for your work on this, it's so frustrating when working in Next.

[2020-04-19 18:50] #4960 closed

[2020-04-19 19:50] saevarb commented on #5323
I am also getting this error

[2020-04-19 21:50] thebarada commented on #5376
same here

[2020-04-20 00:30] carlosortizpacheco commented on #5376
Same here

[2020-04-20 01:00] luissombra commented on #5448
the same issue here

[2020-04-20 03:00] mattiLeBlanc commented on #4515
Any update on these annoying old browser support issues? IE11 is still having issues when I added  these polyfills
[code]
It is still complaining about `Uint32Array.from` being undefined.

[2020-04-20 04:29] GuillaumeSarfati commented on #5458
Same problem with the error
Uncaught (in promise) API not configured
in the console

[2020-04-20 06:12] shrishtychandra commented on #5424
@amhinson Sorry for responding late, I imported it from `aws-amplify-react`.  I tried importing from `aws-amplify-react-native` but looks like `PhotoPicker` component is not available in `aws-amplify-react-native`. Please correct me if I am missing something.

This is the error I got when I imported from:
[code]

[2020-04-20 06:36] cnkhandar commented on #755
Hi there,

I am facing same issue as of today. I have selected OAuth 2.0 option in App Client Settings as suggested. But still same error.

[2020-04-20 06:48] dan8f commented on #5448
Having the same problem with the sync here.

In my case, a React web app created with create-react-app, DataStore does not sync with the cloud when the production version of the app is published but it does sync with development build.

[2020-04-20 07:16] TheMoums commented on #5050
@undefobj @elorzafe
This limit is still a huge limitation for me.
Any news on this?

[2020-04-20 08:00] saevarb commented on #5452
I too am worried about the lack of communication and the quality of documentation and the project in general.

We are trying to build our platform using amplify and it has just been such an incredible pain to get working. The documentation is incredibly lacking in the worst places or sometimes so badly structured you miss out on important pieces, particularly because even though this is a "package

[2020-04-20 08:28] mattiLeBlanc commented on #4315
I am running latest Amplify :
[code]

I assume I could remove the olde `aws-amplify` package and we are now all modular, correct.
So I try to initialise my amplify in my Angular `main.ts`.

It used be like this:
[code]

and I trying to move to this:
[code]

I am not sure if that `graphql_headers` is going to work, but I am have not been able to test yet.
I am getting:
[code]

but I am not really s

[2020-04-20 08:30] saevarb commented on #5447
I would highly recommend you use the DataStore API instead of trying to use the generated types and queries. They are nearly impossible to work with in any generic way, and the DataStore stuff automatically generates proper models for all your schemas and lets you do crud operations much more easily.

[2020-04-20 08:39] mattiLeBlanc commented on #3278
Yeah, if you start to modularise the API and the other parts of Amplify, why not AUTH.
We only use AUTH and API. I don't want the rest `polluting` my bundle. It is already over 5 mb because of `aws-amplify`.
When can we expect `@amplify/auth` to be released? It is still sitting at version 1.6.3?

[2020-04-20 08:42] karrettgelley commented on #5447
@saevarb DataStore is, in my opinion, not production ready and very expensive (see #5119 ). It is still undergoing large changes and I can't ship with that kind of volatility. Also it operates under a completely different paradigm. Long term I would love to use it, but not now. Thanks for your suggestion though

For now I just ignored the error with `// ts-ignore`. The problem might be as simple a

[2020-04-20 09:18] iKev opened #5463 "Amplify on Kinesis Firehose Analytics saves corrupt data."
**Describe the bug**
I created a clean react app using aws-amplify 2.2.6 and aws-amplify-react 3.1.7 then I sent events (Analytics.record) to Kinesis Firehose and the data on S3 files looks good. When I updated to aws-amplify 3.0.8 and aws-react 4.1.7 the data was sent successfully but when I checked the data on S3 files the entries appear with strange characters (encryption is disabled).

**To Re

[2020-04-20 09:27] helloPiers commented on #5224
I see there are now v2 versions of @aws-amplify/ui, so the specific issue of this ticket is resolved.

The changelog https://github.com/aws-amplify/amplify-js/blob/release/packages/amplify-ui/CHANGELOG.md doesn't really justify the "major" version bump, but I guess this is part of a (welcome) rationalising of the version numbering across this project.

[2020-04-20 09:27] #5224 closed

[2020-04-20 10:26] Nutriadmin opened #5464 "Error when migrating from aws-amplify-react to @aws-amplify/ui-react"
**Describe the bug**
I followed the steps at [the docs](https://docs.amplify.aws/ui/auth/authenticator?framework=react#migration) to migrate from `aws-amplify-react` to the newer ui library: `@aws-amplify/ui-react`. But I get the following error when running the app:
[code]

**To Reproduce**
Here is how I handled authentication with `aws-amplify-react`:

[code]
This worked as expected. Here is how

[2020-04-20 10:29] luissombra commented on #5448
I ran the  command `yarn upgrade --latest` to update the packages but the problem persists. The versions of my dependencies are as follows:
[code]

[2020-04-20 14:15] cshouts-tasc commented on #4515
@mattiLeBlanc It's not a great long-term solution, but if you downgrade to aws-amplify v2.2.7 it should work on IE11.

[2020-04-20 14:20] amhinson commented on #5424
None of the UI components from `aws-amplify-react` will work in React Native, and there is no `PhotoPicker` in the `aws-amplify-react-native` package. However, we will take this into consideration in the future.

[2020-04-20 14:20] #5424 closed

[2020-04-20 14:56] saevarb commented on #5447
@karrettgelley Thank you very much for bringing that issue to my attention! I was not aware of this.

I have been perusing the thread and linked threads, and I just need to make sure I'm not misunderstanding this: Is DataStore syncing the *entire database*, with no regard for auth, so that I have other users' data on every other client? Because I am having a hard time believing that someone would

[2020-04-20 15:10] MohsinGhani commented on #699
facing same issue.

[2020-04-20 15:16] MuhammadAhmed1994 opened #5465 "Unable to dismiss keyboard in react native"
- I am using aws-amplify-react-native **Authenticator**. module. I have wrapped it in TouchableWithoutFeedback but the keyboard is still not disappearing.

- On tapping **sign in** or **sign up** button should be disabled. Currently, we can submit multiple times in the mobile app.

[2020-04-20 15:39] faroceann opened #5466 "Pressing enter does not trigger Sign In in AmplifySignIn"
**Describe the bug**
When signing in using AmplifyAuthenticator, hitting the enter key does not trigger sign in. I am using the React component, but this is likely the case for all of the wrappers. Users must instead click the "Sign in" button.

It looks like this was previously fixed in #1023, but as far as I can tell this repo has been refactored to have common components since then and a regres

[2020-04-20 15:40] russelldias98 commented on #5464
Facing a similar issue!

When I use `@aws-amplify/ui-react`

`./node_modules/@aws-amplify/ui-components/dist/esm-es5/amplify-amazon-button_5.entry.js
Attempted import error: 'Auth' is not exported from '@aws-amplify/auth'.`

[2020-04-20 15:41] bmilesp commented on #2401
Hello I'm still getting this Logger error after using @cliffordh 's solution. I cannot seem to get this to work with the <amplify-authenticator> component with the router plugin.

 I'm using the router in vue and have the code in these files:

main.js:
[code]
router/index.js:
[code]
App.vue.js
[code]

views/Home.vue:
[code]

[2020-04-20 15:49] iartemiev commented on #5463
Hey @iKev, this got fixed last week and is in the current **unstable** version of amplify (`npm i aws-amplify@unstable`. It will be part of the next stable release.

[2020-04-20 15:49] #5463 closed

[2020-04-20 15:51] russelldias98 commented on #5464
Assuming it needed `@aws-amplify/auth` and I install it.
This is the new error that comes up.

`./node_modules/@aws-amplify/ui-components/dist/esm-es5/app-globals-93ab0f5a.js
Attempted import error: 'browserOrNode' is not exported from '@aws-amplify/core'.`

Assuming it needed `@aws-amplify/core` and I install it.
This is the new error that comes up.

`AuthError -
Error: Amplify has not been confi

[2020-04-20 16:25] karrettgelley commented on #5447
@saevarb I appreciate the input but please only comment if you have a fix or a related concern. This post is not about DataStore, and you can read through other issues if you want to know more. This issue also doesn't have to do with my schema or the generated types from my schema. It has to do with the types defined in the aws packages (likely `@aws-amplify/api`). The subscribe function is not re

[2020-04-20 16:40] amhinson commented on #5465
@MuhammadAhmed1994 What version of `aws-amplify-react-native` are you using?

[2020-04-20 17:19] ELRuncho commented on #4430
Hi everyone. I starting getting this error when authenticating any user on my userpool, it started showing up all of a sudden. Has updating to the latest version worked for anybody here?

[2020-04-20 17:27] miguel258 commented on #699
The same history for me...., its incredible, i think so this is simple thing.....

[2020-04-20 17:43] ahansson89 commented on #5273
I tried the base64 and blob method, both are failing failing with axios-http-handler for me on latest release.

[2020-04-20 18:07] jordanranz commented on #5466
We opted to not implement this from a `document` level due to conflicts with shadow DOM. I will however PR adding this back to listen to the keyboard event from a component level.

[2020-04-20 18:09] ericclemmons commented on #5422
@manueliglesias Confirmed `DataStore.query<Post>` and `DataStore.observe<Post>` both work well.

[2020-04-20 18:11] ranjeev75 commented on #4351
I'm getting a similar error, where after authentication I can get files from my S3 bucket. the logs reflect this:

`[DEBUG] 00:39.767 Credentials - getting credentials
ConsoleLogger.js:76 [DEBUG] 00:39.768 Credentials - picking up credentials
ConsoleLogger.js:76 [DEBUG] 00:39.769 Credentials - getting new cred promise
ConsoleLogger.js:76 [DEBUG] 00:39.769 Credentials - checking if credentials exis

[2020-04-20 18:24] elorzafe commented on #5397
@ters52 I reproduced this issue, I will be working on a fix

[2020-04-20 18:26] mauerbac commented on #3622
@wmcbain - closing since we haven't heard back. Please create a new issue if you have further questions!

[2020-04-20 18:26] #3622 closed

[2020-04-20 18:32] mauerbac commented on #4016
Hello - picking up this issue? Is anyone still experiencing issues?

[2020-04-20 18:33] mauerbac commented on #4151
Looks like this has become a Feature Request. Will close the issue out.

[2020-04-20 18:35] mauerbac commented on #4164
Hi @madmed88 & @LanderN - are you still experiencing issues with this?

[2020-04-20 18:36] aldo-roman commented on #4151
@mauerbac Shouldn't we leave this open _precisely_ because it is a feature request?

[2020-04-20 18:37] mauerbac commented on #4168
It looks like there might be follow-up issues. Let's continue the convo on Issue #4164. Will close this out.

[2020-04-20 18:37] #4168 closed

[2020-04-20 18:39] mauerbac commented on #4304
hi @Graig123 & @michalgarcarz -- was this issue resolved?

[2020-04-20 18:40] ashika01 commented on #5464
@russelldias98 : Did you try cleaning the `node_modules` and re-installing for this https://github.com/aws-amplify/amplify-js/issues/5464#issuecomment-616642005?

[2020-04-20 18:41] russelldias98 commented on #5464
Yes! No luck

[2020-04-20 18:41] mauerbac commented on #4379
This seems like a great discussion question. If there's further follow-up, let's start a new discussion in the Discussion tab.

[2020-04-20 18:41] #4379 closed

[2020-04-20 18:42] ashika01 commented on #5464
@russelldias98 what version are u using? I had this issue too, but cleaning up `node_modules` solved it for me.

[2020-04-20 18:43] mauerbac commented on #4386
Hi @VicFrolov - this seems like a great GraphQL general question. I'll convert this to a discussion.

[2020-04-20 18:43] #4386 closed

[2020-04-20 18:45] russelldias98 commented on #5464
@ashika01  here!

`"dependencies": {
    "aws-amplify": "^2.2.0",
    "aws-amplify-react": "^3.1.9",
  }`

[2020-04-20 18:56] LanderN commented on #4164
I've given up on using amplify framework (and aws-amplify-angular in particular) and am using cognito-identity-js directly now. While I am still disappointed by the shortcomings of Cognito (those have been reported by others in other issues, so I won't list them here), the "lower-level" library seems to work much better, because every layer of abstraction seems to break some more stuff.

In additi

[2020-04-20 18:59] ahansson89 commented on #5273
Looking through CloudTrail it does not look like a PUT request is attempted.

[2020-04-20 19:28] mauerbac commented on #4151
Yes, sorry @aldo-roman. Will just remove the question label!

[2020-04-20 19:29] goatandsheep commented on #4151
@mauerbac are were closing out feature requests? Regardless, you should indicate on the docs that auto track doesn't work with kinesis for the time being

[2020-04-20 19:45] #5082 closed

[2020-04-20 19:51] ashika01 commented on #5063
@rvanbael Apologies. Completely got sidetracked. Did you figure this out by yourself? Could u see if you could created `aws-exports.js` out of the values in `awsconfiguration.json` file and check if that works?

[2020-04-20 19:57] ashika01 commented on #5464
@russelldias98 : This probably might be why - `aws-amplify-react` newer version needs `aws-amplify` new version. Could you update aws-amplify to **latest** and cleanup node_modules and try it again.? If it is a gap in the document I can update it.

[2020-04-20 20:01] mauerbac commented on #5359
Hi @agentlewis - wanted to follow-up on this. is it safe to close this issue out?

[2020-04-20 20:03] ashika01 commented on #5464
@Nutriadmin : Looking at this, could you paste your code where you do `Amplify.configure`? Looking at your config, looks like you are on old version of `aws-amplify` too `("aws-amplify": "2.2.2")`. Could you update it to latest?

`yarn add aws-amplify@latest`

let me know how it goes.

[2020-04-20 20:12] amhinson commented on #4290
@michalgarcarz Are you still experiencing this issue? Would you be able to retry this with the latest version of `aws-amplify-react-native`?

[2020-04-20 20:25] amhinson commented on #5110
When you ran `amplify add auth`, what option did you select for how the user should login?
username, phone, or email?

[2020-04-20 20:45] elorzafe commented on #5459
@ranman thanks for your feedback,

What about the use of having both (bot and human) interactions available, for example **bot** will ask some questions before connecting to the human in order to get more info or even resolve the problem without the human. Is like having a chain of interections where the output of one is the input for the next.

[2020-04-20 20:50] elorzafe commented on #5457
@rahulje9
- Are you using identity pools?

- Can you share your the whole config (obscure XXXX the endpoint information) .

- Are you able to use Cognito tokens?

[2020-04-20 20:53] ranman commented on #5459
@elorzafe typically that's taken care of in Amazon Connect itself in a "Get Customer Input" block that's connected to a Lex bot.

https://aws.amazon.com/blogs/aws/new-amazon-connect-and-amazon-lex-integration/

I would be hesitant to build out an entire IVR system within the interactions package though.

[2020-04-20 20:56] #5466 closed

[2020-04-20 21:07] #5416 closed

[2020-04-20 21:25] elorzafe commented on #5448
@apoorvmote

I reproduced the issue, meanwhile can you try doing?

[code]

We will be root causing the issue to publish a fix soon

[2020-04-20 21:56] chai86 opened #5470 "Get 'id' from a row entry in DynamoDB/AppSync?"
I want to do something seemingly so simple, but i am a bit lost as to how to do it: I have a table with user information already in it. Here's the Schema:

    type Users @model {
      id: ID!
      userName: String
      firstname: String
      weblink: String
      email: String
      mobileNum: String
     .
     .
     .
    }

    //**Here's my current Query.js**
    export const getUsers =

[2020-04-20 23:50] jordanranz commented on #5303
Hi @DeniseJames, apologies for the delay getting back to you. `AmplifyService` is simply a wrapper on top of our categories modules (API, Auth, etc.) To access category modules you can do something like:

[code]
or
[code]
In addition to the category modules, there is a helper to listen to auth state changes as you mentioned. This should now be done using [Hub](https://docs.amplify.aws/lib/utilitie

[2020-04-21 00:13] luissombra commented on #5448
thanks @elorzafe, this solved my problem.

[2020-04-21 00:40] #4730 closed

[2020-04-21 01:09] sri7vasu commented on #5298
If you are using TypeScript, here is the solution:

[2020-04-21 01:11] sri7vasu commented on #5298
If you are using TypeScript, here is the solution:

import { FormFieldTypes } from '@aws-amplify/ui-components/dist/types/components/amplify-auth-fields/amplify-auth-fields-interface';

function SignUp() {
  return (
    <AmplifyAuthenticator usernameAlias="email" initialAuthState={AuthState.SignUp}>
      <AmplifySignUp
        headerText="Sign Up"
        usernameAlias="email"
        formFields

[2020-04-21 01:44] mauerbac commented on #5470
hi @chai86 - this seems more like a general GQL question. Will move into your discussion section!

[2020-04-21 01:45] #5470 closed

[2020-04-21 01:59] apoorvmote commented on #5448
@elorzafe

[code]
Like I said I use typescript and `DataStore` takes `DatastoreConfig`

[code]
`awsconfig` absolutely does not match with `DataStoreConfig`

I get following error

`Type '{ aws_project_region: string; aws_cognito_identity_pool_id: string; aws_cognito_region: string; aws_user_pools_id: string; aws_user_pools_web_client_id: string; oauth: {}; aws_cloud_logic_custom: { ...; }[]; aws_a

[2020-04-21 03:00] wongcyrus opened #5472 "Predication API Error for comprehend and translate - Unhandled Rejection (InvalidSignatureException): The request signature we calculated does not match the signature you provided. Check your AWS Secret Access Key and signing method. Consult the service documentation for details."
**Describe the bug**
After upgrade to  "aws-amplify": "^3.0.8" and  "aws-amplify-react": "^4.1.6",
Prediction API for comprehend and translate with error.

Unhandled Rejection (InvalidSignatureException): The request signature we calculated does not match the signature you provided. Check your AWS Secret Access Key and signing method. Consult the service documentation for details.
(anonymous funct

[2020-04-21 03:11] tarundvarma49 commented on #1557
Did you get this ANSWER?

[2020-04-21 03:21] tarundvarma49 commented on #1557
Did you get the answer @ToddHoff

[2020-04-21 04:46] nihp commented on #5110
In development I am using email to login and in production I am using phone number to login the app

[2020-04-21 04:59] rvanbael commented on #5063
Hello @ashika01, thanks for your response. No I am still at the same place, I switched to the front-end, waiting for your response. Yes it is what I had in mind if I had no response, trying to manually create the aws-exports.js file. But if you could save me this pain, and include this use case to roadmap, it would be great! I think it is not weird to have a project on both mobile & web with same

[2020-04-21 05:04] mattiLeBlanc commented on #4515
@cshouts-tasc  Or implement a Babel conversion of the es6 file that is causing the error?
I was getting a hickup on a fat arrow in the source code, I think that also came from the es6 file that was part of one of the amplify dependencies.

[2020-04-21 05:14] Swaroop-Bhupathiraju commented on #3410
Having the same problem even with a custom scheme. Compared with some existing user experiences of other apps using federated sign in (Quora for example) and none of them have this experience especially a text describing 'XYZ' wants to use 'ABC' to sign in. This is so confusing and misleading. Can we please have a workaround at least?

[2020-04-21 05:14] rahulje9 commented on #5457
I had config for Identity Pools too, after adding the app id in the identity pool authentication section, everything works fine except from yesterday after login redirect to app makes it start from `splash screen` rather than from `Login screen` in android only. It is working fine in iOS.
Any idea regarding this?? this was working fine before.

[2020-04-21 05:17] russelldias98 commented on #5464
This seems to have fixed it! Updated the packages to latest!

[2020-04-21 05:53] ashika01 commented on #5063
@rvanbael: Yeah, I just wanted to check where you are at. This looks more like issue around CLI or maybe feature request. I will transfer this issue to the CLI repo in wither case.

[2020-04-21 05:58] ashika01 commented on #5464
@Nutriadmin The same should probably fix your issues too. Closing this issue. If you still face some issues, just ping me on this one and I will reopen the issue need be

[2020-04-21 05:58] #5464 closed

[2020-04-21 09:38] Nutriadmin commented on #5464
Thanks for the quick responses. I finally managed to get it to work. I had to change several packages though:

- upgraded `@aws-amplify/core` from v2.2.2 to v3.2.4
- installed `@aws-amplify/auth` v3.2.4, as it was not required previously (thanks @russelldias98 )
- upgraded `aws-amplify` from v2.2.2 to v3.0.8
- removed `aws-amplify-react` (this is replaced b `@aws-amplify/ui-react` as far as I unde

[2020-04-21 09:41] avner-hoffmann opened #5474 "Are test artifacts deployed as well?"
**Describe the bug**
I connected my amplify project to a custom domain. On the Deploy section it seems that the test artifacts are being deployed as well. Why ?
And the more important question, does that somehow affects the bundle size when loading the site?

[2020-04-21 11:25] cy6581 commented on #3457
+1. This issue still exists because Cognito has no way of distinguishing between different flows.

[2020-04-21 14:05] crolly commented on #5433
Investigating further I suppose the issue is, that the AppSync Engine is unable to handle the custom index:
[code]

[2020-04-21 14:27] remyferre opened #5477 "JWT Token verification"
**Is your feature request related to a problem? Please describe.**
I'm using Amplify for a react-native app. According to this [Cognito page](https://docs.aws.amazon.com/cognito/latest/developerguide/amazon-cognito-user-pools-using-tokens-verifying-a-jwt.html), JWT tokens should be first verified in order to be trusted. The article suggests it *might* already be handled by SDKs, but I haven't foun

[2020-04-21 14:37] vchaddha commented on #4177
I am still getting the error with the following versions:
[code]
**Error:** Username could not be created. Please make sure that the username you have entered is between 1 and 128 characters.

Whereas the error should say something about Password not being valid.

[2020-04-21 14:39] amhinson commented on #5110
Might be related to this PR: https://github.com/aws-amplify/amplify-js/pull/5469

[2020-04-21 14:48] dabit3 commented on #4527
@subhendukundu Yes, check out the docs [here](https://docs.amplify.aws/lib/datastore/data-access?platform=js#observe-data)

[2020-04-21 14:48] dabit3 commented on #5435
@sovattha check back with us soon, this is already being developed and tested.

[2020-04-21 14:49] vchaddha opened #5478 "Signup with an invalid password gives username error message"
**Describe the bug**
In continuation to this issue:
https://github.com/aws-amplify/amplify-js/issues/4177

I am still seeing this issue, wherein if I enter an invalid password, I am getting the error:
Username could not be created. Please make sure that the username you have entered is between 1 and 128 characters.

I am still getting the error with the following versions:
[code]
**Error: Username

[2020-04-21 16:26] ThomasCarca opened #5479 "SyntaxError: Cannot use import statement outside a module, using aws-amplify-react-native in a Jest environment"
I am working on a react-native project with amplify to help me sign in users via Cognito.
Everything has been ok so far but I've been stuck on the following issue the past days :
When running tests, some fail unexpectedly with the following error :
![image](https://user-images.githubusercontent.com/24562239/79881590-ae215b00-83f1-11ea-85b8-8f27a282ecd7.png)

After doing some research, it seems a s

[2020-04-21 16:49] pechisworks opened #5480 "Amplify UI - Angular - amplify-authenticator doesn't fire (handleSubmit) Event"
**Describe the bug**
On the new amplify-authenticator component I am trying to hook in the `handleSubmit` Event for adding additional validationData. But it doesn't get fired, neither on the `amplify-sign-up` or the `amplify-sign-in` component. I've also tried it with the newest unstable version.

**To Reproduce**

[code]

In my Typescript-File:
[code]

**Expected behavior**
handleSubmit Event sho

[2020-04-21 17:01] amhinson commented on #5479
@ThomasCarca I'm looking into the 1st error you are seeing. But it also looks like that 2nd error message is for a different library (`react-native-flash-message`). Could you try adding that library to the `transformIgnorePatterns` list as well to see if that allows your tests to run?

[2020-04-21 17:26] pabloVoorvaart commented on #3123
Wouldnt it be usefull that the create/delete endpoints are created by default?
I think create/delete are critical actions regarding user administration.
I would be more than happy to code this implementation and create a pr.

[2020-04-21 17:35] ericclemmons commented on #5435
@sovattha Do any of issues in https://github.com/aws-amplify/amplify-js/milestone/26 match your experience?  `withAuthenticator` works with the latest release:

1. Create or Update `pages/_app.tsx` with `Amplify.configure`:

[code]

1. Wrap `pages/index.tsx` with `withAuthenticator`:

[code]

If you have any issues, feel free to create a new issue so I can track it here 🙏

[2020-04-21 17:46] thiagoboa commented on #1852
Also interested! Any alternatives?

[2020-04-21 18:00] gleysonmelo commented on #1857
Just as a feedback, it didn't work for me :( I got an error 500 anyway (I looks like it is trying to convert the ":" to a number.

[2020-04-21 18:29] iKev commented on #5463
Thanks @iartemiev

[2020-04-21 18:33] Amplifiyer commented on #5273
@ahansson89, can you post your code snippet here. Are you also facing issues with >5MB files or with any files?

[2020-04-21 18:34] Amplifiyer commented on #5378
Marking this as duplicate and closing. Please follow up on the related issues.

[2020-04-21 18:34] #5378 closed

[2020-04-21 18:42] damianrr opened #5482 "'IdentityPoolId' not found in stack"
I've 2 backend environments, dev and prod that maps to git branches dev and master.
For a while I've been working on my dev branch/environment, I added a couple cognito triggers, nothing too fancy and when I merge to master and push to prod environment I get this error:

UPDATE_FAILED UpdateRolesWithIDPFunctionOutputs Custom::LambdaCallout Tue Apr 21 2020 14:29:55 GMT-0400 (Eastern
 Daylight Time)

[2020-04-21 18:45] #5422 closed

[2020-04-21 19:14] rpostulart commented on #5434
Anyone?

[2020-04-21 19:43] ranjeev75 opened #5483 "Session not persisting after app reload in React Native"
**Describe the bug**

When fetching protected images with `Storage` method from aws-amplify, user is authenticated using  federated login and credentials are persisted in react native app. So when calling:
` Storage.list('images/', { level: 'protected' })` it can use the identityId to get images fine. But when the app is reloaded and try to get these images get `AWSS3Provider - list error Credenti

[2020-04-21 19:44] ThomasCarca commented on #5479
Putting
[code]
yields the following error :
![image](https://user-images.githubusercontent.com/24562239/79905901-3ebe6200-8417-11ea-87e0-ed7ced530e38.png)

Then
[code]
gives :
![image](https://user-images.githubusercontent.com/24562239/79906518-3581c500-8418-11ea-87e3-15d04d6eafce.png)

Looking at other files, I'm getting all kinds of errors of the same type :
![image](https://user-images.githubus

[2020-04-21 19:53] amhinson commented on #5479
Can you post your babel and/or jest configuration as well?

[2020-04-21 20:01] ThomasCarca commented on #5479
babel.config.js :
[code]

Most of our jest configuration is directly in the package.json file :
package.json :
[code]

We're using a setup-tests.ts file to do some setup :
setup-tests.ts :
[code]

[2020-04-21 20:58] mauerbac commented on #4164
Hi @LanderN -- so sorry to hear about your frustrations with communication from the Amplify team. This is something we are addressing actively this quarter and will hopefully lead to visible improvements soon. It looks like there was some confusion on this issue -- today, Amplify does not invalidate tokens globally. There is a FR [here](https://github.com/aws-amplify/amplify-js/issues/3435). I als

[2020-04-21 21:13] rifflock opened #5486 "verifyUserAttribute does not appear to send clientMetadata"
**Describe the bug**
While implementing MFA I'm attempting to add a phone number attribute to the user. UpdateUser works fine (though it doesn't trigger the CustomMessage_UpdateUserAttribute lambda, but that's not an amplify issue).
When I call `Auth.verifyUserAttribute(user, 'phone_number', { product: 'myProductName' }` the cloudwatch logs show no `clientMetadata` property in the event.

Error fr

[2020-04-21 21:40] sovattha commented on #5435
I'll keep an eye on your progress guys. The progress of the project is exciting. Thanks for noticing about the milestone.

[2020-04-21 22:07] sammartinez commented on #5014
@vmontanheiro are you still experiencing this issue with the latest versions of Amplify? Please let us know

[2020-04-21 22:11] Jun711 commented on #5457
@elorzafe

Can u provide a sample Auth Config for social media federated login?

I checked https://aws-amplify.github.io/docs/js/authentication#oauth-and-hosted-ui and got this but it doesn't specify social media federation.
I started using Amplify before Amplify CLI and thus I have to do manual configuration in order not to create any unexpected issue.
[code]

[2020-04-21 22:14] sammartinez commented on #5222
Resolving this issue in favor of the open feature request that is open

[2020-04-21 22:14] #5222 closed

[2020-04-21 23:21] albertbenitez commented on #5363
Is this fixed in PD? I'm having the same issue with Vue still.

[2020-04-21 23:30] Amplifiyer commented on #5432
I have found the root cause and created a PR for the fix. The root cause is an undocumented mysterious behavior which removes the content-type header if the post body is empty. I'm using the workaround suggested to unblock for now.

[2020-04-21 23:31] Amplifiyer commented on #5273
@VictorAtPL, your issue is same as #5432, I've a PR out for that and will be publishing soon.

[2020-04-21 23:42] undefobj commented on #3123
@pabloVoorvaart no there are extra associated costs for those endpoints. It's a simple command to run and spin it up if needed: https://aws-amplify.github.io/docs/cli-toolchain/quickstart#administrative-actions

[2020-04-21 23:52] ashika01 commented on #5363
@albertbenitez it should work in unstable. we will be doing release soon and update in the issue tracked.

[2020-04-22 00:08] elorzafe commented on #5474
@avner-hoffmann this is a question related to Amplify Console team, I will transfer this issue them where they can answer this better than me.

[2020-04-22 00:29] #5448 closed

[2020-04-22 00:36] Amplifiyer commented on #5458
@GuillaumeSarfati @PHironaka can you try adding Amplify.configure(aws_exports) in the dashboard.js file? Like below

[code]

[2020-04-22 00:43] marlonmarcello commented on #5211
The default boilerplate generates it with the wrong type. Thanks @srobbin !

[2020-04-22 01:02] elorzafe commented on #5448
@apoorvmote I merged a PR with the fix, you could try the unstable version

[2020-04-22 01:02] Amplifiyer commented on #5472
@wongcyrus, can you post your request headers and request body/payload here (remove any sensitive information such as credentials)

[2020-04-22 01:39] Amplifiyer commented on #5412
@rpostulart, can you try importing Auth from `@aws-amplify/auth` and call `Auth.configure(awsexports)` on it, OR alternatively try changing your Amplify import from `@aws-amplify/core` to `import Amplify from 'aws-amplify'` and let us know if either or both work?

With the modularization, we have removed importing all Amplify categories _by default_ in your app. Guest access/unauthorized access re

[2020-04-22 02:59] arnm commented on #5448
Is there a workaround until a new version of amplify is released?

[2020-04-22 03:04] apoorvmote commented on #5448
And how do I install unstable version? I am searching on google but not finding anything that works.

[2020-04-22 03:42] grigull opened #5490 "Tagging in Storage.put doesn't work with v3"
Previously working in V2 was the ability to add tagging to a file that is uploaded through the Storage.put function.
[code]
The files do successfully upload, but the tags are no longer present on the objects in the s3 bucket.

Amplify core - 3.2.4
Amplify storage 3.1.7

[2020-04-22 05:21] codeglider commented on #4175
Hi, I've been working with react native and seemed to have been having a similar issue. I've fixed it. Works for me in all cases. Now you can toggle between email and username signin and signup pages with configuration.
[PR-5491](https://github.com/aws-amplify/amplify-js/pull/5491)

[code]
putting this in the signUpConfig will impact both the signin and signup pages.

[2020-04-22 05:21] codeglider commented on #4175
![awsreactnativeattributeissue](https://user-images.githubusercontent.com/1178161/79943721-a7b5d200-8437-11ea-94be-e09bc5dc86aa.gif)

[2020-04-22 05:34] rpostulart commented on #5412
Thanks @Amplifiyer !

This did the job.

[2020-04-22 05:34] #5412 closed

[2020-04-22 06:34] Amplifiyer commented on #5358
@karrettgelley, the `Connect` [component ](https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-react/src/API/GraphQL/Connect.tsx) from aws-amplify-react has not been moved or refactored. Can you please let us know your code snippet along with the errors you are facing with the new version of the library?

The only caveat is that if you are importing aws-amplify-react and not

[2020-04-22 06:37] AhmedNourJamalElDin commented on #1852
![image](https://user-images.githubusercontent.com/18269514/79948558-c12d3d00-847c-11ea-8eb3-013e71ad65f8.png)

Any update?

[2020-04-22 06:42] #5432 closed

[2020-04-22 07:12] greimela commented on #4346
We noticed that as well.

After upgrading amplify from 2.x to 3.x the pre-Chromium Edge is not able to authenticate using Cognito.
Which means that our app is no longer usable by Edge users...

[2020-04-22 07:12] Amplifiyer commented on #5490
@grigull can you confirm if you are experiencing this issue with >5MB files only? We had an issue which is now fixed in PR #5487 and is available to test on unstable version of aws-amplify. Please let us know if using the unstable version fixed it for you.

[2020-04-22 07:13] severi commented on #5330
I don't think this is the issue that causes the 431 problems in this case, we are anyway using a very limited amount of user attributes. In addition, this issue only arises overtime, everything works initially. Now that I think about it, it seems like the cookies created by Amplify are either "growing over time", or it starts creating duplicate/new cookies without deleting old ones, which would th

[2020-04-22 07:29] faroceann commented on #5298
Things are working ok on unstable, but I wasn't able to get the `phone_number` field to work.

[code]

When it gets sent to the Cognito IDP, it appears that either only the country calling code is sent, or only the bare phone number is sent.

[2020-04-22 07:55] CiprianSt opened #5493 "Wrong getUserData() signature in index.d.ts"
**Bug description**
https://github.com/aws-amplify/amplify-js/blob/5314076b68bf3f2c8a5e7e958b98945c3ef9054e/packages/amazon-cognito-identity-js/index.d.ts#L220

The signature in the interface has a single attribute, while the one in the [CognitoUser.ts](https://github.com/aws-amplify/amplify-js/blob/5314076b68bf3f2c8a5e7e958b98945c3ef9054e/packages/amazon-cognito-identity-js/src/CognitoUser.js#L12

[2020-04-22 07:58] ThomasCarca commented on #5479
I have successfully resolved my issue this morning after semi-randomly tweaking the transformIgnorePatterns array.

The resulting array is the following :
[code]
Please note I have removed the `/` character in the regexp, and it helped a lot :
from
[code]
... in my previous posts, to :
[code]

Now, all tests pass successfully.
I still think this is a hack and the problem should be addressed.

[2020-04-22 08:30] AhmedMesawer opened #5496 "Just updating aws-amplify from 3.0.4 to 3.0.8 get app crashed in react-native"
[code]

[2020-04-22 08:39] erald14 commented on #5483
same issue here

[2020-04-22 09:29] faroceann commented on #5466
@jordanranz  Thanks, this is so much better. But, this very reliably triggers an error when using `AmplifySignIn`, for example. If you enter some credentials and hit enter, the password is not populated in state yet. This triggers the `Custom auth lambda trigger is not configured for the user pool.` error, because a request goes out to the Cognito IDP without a `password`. If instead of hitting en

[2020-04-22 09:45] faroceann opened #5498 "Problem customizing placeholder for email field"
**Describe the bug**
The [default placeholder for the email input field ](https://github.com/aws-amplify/amplify-js/blob/025028d48bda5236751878c85ce669d2433a3067/packages/amplify-ui-components/src/common/Translations.ts#L18) should be something more generic, like, "Enter your email", rather than a reference to Amplify (`amplify@example.com`).

This is primarily an issue because customizing that fi

[2020-04-22 10:47] Amaanuddin commented on #565
Did anyone resolve this issue?

[2020-04-22 10:51] hakimio commented on #565
@Amaanuddin The only "solution" is to just retry when you get `Already found an entry for username` error because of `adminLinkProviderForUser()`. Second login attempt always succeeds.

[2020-04-22 11:09] LanderN commented on #4164
Hi @mauerbac! I'm glad to hear that the team is working on improving the communication.
The comment I posted in October is admittedly beside the point of this issue, it was posted while looking for potential causes for an issue I was having and had not yet found the root cause.
That said, I would like to see the feature implemented, so I gave it a thumbs up.

I did notice some highly necessary cha

[2020-04-22 11:34] paulsjohnson91 commented on #5496
I'm also getting this error after updating to 3.0.8

[2020-04-22 11:45] arthurliebhardt opened #5502 "federatedSignIn not working in Safari "Safari cannot open the page because the address is invalid""
**Describe the bug**
Hello Amplify Team,

Unfortunately I cann not use the `Auth.federatedSignIn({provider: 'xxx'})` Method as it crashes with the following message in Safari (Safari cannot open the page because the address is invalid).
To get it running I need to implement the `#import <React/RCTLinkingManager.h>` in the `AppDelegate.m` of my iOS folder with the following code

[code]

I also nee

[2020-04-22 11:57] nihp opened #5503 "User is disabled. (Service: AWSCognitoIdentityProviderService; Status Code: 400; Error Code: NotAuthorizedException;)(aws-amplify-react-native)"
I got an error as an internal server error in my UI. While checking the Cognito it shows for User is disabled. NotAuthorizedException.

In which case the user is disabled and how can I know the user is disabled for the end-user in aws-amplify-react-native

[2020-04-22 12:54] crolly commented on #5376
same here

[2020-04-22 12:54] omar-dulaimi opened #5504 "Unable to use library in a simple nodejs script"
**Describe the bug**
I've been trying to use Storage to list s3 objects and then reupload them, since the library has a better api. But errors of
[code]
keep showing up for some reason everytime I try to list an s3 bucket objects.
**To Reproduce**
Steps to reproduce the behavior:

    Storage.list(`${s3Prefix}/`, {
      level: "public",
    }).then((res) => {
      console.log("getS3ImagesOfAd ->

[2020-04-22 14:33] WGriffing commented on #4850
I'm having the same problem in my application. At the moment, I'm leaning towards using a timeout to update the token every 3599 seconds. I was curious if you solved your issue.

[2020-04-22 14:35] spiii commented on #5298
Hey I have the same issue with the @aws-amplify/ui-angular
Is there any fix on unstable as well ?

[2020-04-22 14:35] escar commented on #4850
Not really, we're actually refreshing the token manually too...

[2020-04-22 15:33] twistapp opened #5506 "Stuck at "GraphQL schema compiled successfully." after generating GraphQL code"
**Describe the bug**
I've used the CLI to connect to my Aurora MySQL and generate the GraphQL annotations, and now I'm trying to push my changes with `amplify push`, but the CLI seems to be stuck at:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Generate GraphQL annotations with `amplify api add-graphql-datasource`
2. Publish it with `amplify push` or `amplify publish

**Expected

[2020-04-22 15:47] ErikOwen commented on #4438
**Is your feature request related to a problem? Please describe.**
When the current user's refresh token expires, there is no easy way for the application to know when that happens. When refresh tokens expire certain applications may want to send the user to re-authenticate, or display a dialog notifying the user that their session has expired and they need to log in again.

**Describe the solutio

[2020-04-22 15:51] amhinson commented on #5479
Ok thanks for the update! It does look like the code isn't being transpiled (which doesn't cause any issues when running the app). I'll mark this as a feature request for now so we can come back around to it in the future.

[2020-04-22 16:01] #4835 closed

[2020-04-22 16:03] elorzafe commented on #5448
For install unstable release:

`yarn add @aws-amplify/datastore@unstable` using yarn

`npm install @aws-amplify/datastore@unstable` using npm

[2020-04-22 16:21] twistapp commented on #4328
Not really. Did you?

[2020-04-22 16:27] apoorvmote commented on #5448
this is my `package.json`
`"@aws-amplify/datastore": "^2.0.8-unstable.33",`

I deployed twice. And error still persists. Nothing is syncing. I tested with congnito window.

I uninstalled datastore from `package.json` and re installed it. And in 2nd deployment everything was skipped because I had it right the first time.

[2020-04-22 17:03] ericclemmons commented on #4346
@greimela You experienced this issue _after_ upgrading Amplify and not before?  I was able to reproduce this in 2.x (https://github.com/aws-amplify/amplify-js/issues/4346#issuecomment-569825588), but if there was something in 2.x that was working & reproducible, I'd like to investigate it!

[2020-04-22 17:04] alexandrzavalii commented on #5435
Hi @ericclemmons , thanks for taking a look at the issue!
I still see the error in Next.js `ReferenceError: window is not defined`
I am using `"aws-amplify": "^3.0.8",`, should I be using `unstable`?

[2020-04-22 17:08] amhinson commented on #5496
@AhmedMesawer Can you post your `package.json`?

[2020-04-22 17:22] ericclemmons commented on #5435
@alexandrzavalii I saw the same thing here: https://github.com/aws-amplify/amplify-js/issues/5293#issuecomment-610673005 (But the app still works)

If your Next.js is getting a different TypeScript/compilation/breaking error, open up a new issue and tag me: @ericclemmons.  I'm happy to take a look!

[2020-04-22 17:25] AhmedMesawer commented on #5496
@amhinson
[code]

[2020-04-22 17:26] vmontanheiro commented on #5014
Sorry, I can't say, we migrated to Firebase, we lost a lot of time with Amplify.

[2020-04-22 17:27] amhinson commented on #5496
Ok thanks! I'll take a look. Are you seeing this error at build time?

[2020-04-22 17:31] chekodev commented on #5376
same here

[2020-04-22 17:33] AhmedMesawer commented on #5496
No, app is built successfully

[2020-04-22 17:35] alexandrzavalii commented on #5435
@ericclemmons in Chrome console I got this error as well
[code]
No idea if it is caused by SSR or sthg else

[2020-04-22 17:39] PHironaka commented on #5458
@Amplifiyer  that worked for me, thanks!

[2020-04-22 17:39] #5458 closed

[2020-04-22 17:40] ericclemmons commented on #5435
@alexandrzavalii Definitely open up an issue with some more about your usage (including how/where you're doing `Amplify.configure`).  I have working examples that'll make their way into the docs once we thoroughly test it, but I'd like to unblock you if I can :)

[2020-04-22 18:29] Jun711 commented on #4310
@silinski @kaustavghosh06 @Amplifiyer
Do we have to set up Federated Identities pool  Authentication providers as well? Can it be done without?

@ilrein
What did you mean by `Federated Identity which can only be found by cross referencing the "Resource name".`

[2020-04-22 18:34] jordanranz commented on #5498
Merged your PR. I will mark this as a feature request to improve passing in values like `placeholder` without having to reimplement something like the `hint`

[2020-04-22 19:07] Jun711 commented on #1521
@powerful23
Regarding `https://aws-amplify.github.io/docs/js/authentication#oauth-and-hosted-ui`, is it only for hosted UI as the links has #oauth-and-hosted-ui?

I think this thread is asking for using custom UI?

[2020-04-22 19:22] Jun711 commented on #1316
@peetss
What did you mean by using amazon-cognito-js to save user-specific information for users logged in with federated identities?

Did you use it to create a User Pool user for FB / Google / other IdP logged in users?

[2020-04-22 20:15] amhinson commented on #5496
Can you describe when/where this error is occurring? I've got a sample Amplify app running with the same `react-native` and `aws-amplify` versions as what you posted but I'm not seeing any errors.

A sample app repo or code snippet could be helpful as well, if possible.

[2020-04-22 21:30] mdoesburg commented on #5040
@sammartinez I really need nullable lists in my schema for the app I am working on. Can this be added to the DataStore milestone?

[2020-04-22 21:47] agentlewis commented on #5359
Hey @mauerbac - the dependency of appsync on redux-offline which depends on netinfo 4.7 is still a blocker for us upgrading.

I would think the best thing would be to leave this open until either:

 - appsync works out a work around for the netInfo dependency
 - redux-offline is updated

From our dev team perspective this is still an open issue. I respect your team may have a different view on thi

[2020-04-22 22:10] Amplifiyer commented on #5376
The issue is when the list operation returns empty results. I've a PR opened to correctly handle that case. Thanks everyone for providing the necessary information to fix this.

[2020-04-22 22:11] Amplifiyer commented on #5323
The issue is when the list operation returns empty results. I've a PR opened to correctly handle that case. Thanks everyone for providing the necessary information to fix this.

[2020-04-22 22:15] Amplifiyer commented on #5496
@AhmedMesawer and @paulsjohnson91 can you try after deleting your node_modules directory and let us know if that that helped?

[2020-04-22 22:19] jnapprogs commented on #1234
Just going to shout in the echo chamber:

Is there any update on this issue yet?  Did the team forget about this issue or forget to post here???

[2020-04-22 22:45] grigull commented on #5490
@Amplifiyer I can confirm that it is working for smaller files, but not for larger ones. I installed the unstable version using ```npm i aws-amplify@3.x.x-unstable.xx``` but it doesn't appear to be any different with that. Is this the correct way to test the current unstable build?

[2020-04-22 23:58] Jun711 opened #5511 "Unable to use Auth.federatedSignIn({provider: 'Google'}) for Cognito User Pool federation"
**Describe the bug**
A clear and concise description of what the bug is.

Maybe my configuration is incorrect as I couldn't find documentation for manual configuration.

I have set up social media federation and able to use the hosted UI by launching on AWS Cognito console. I can log in using Google Auth and see that an new account with External Provider is created in my user pool.

When I tried t

[2020-04-23 00:03] jordanranz commented on #5480
Hey @pechisworks,

Since `handleSubmit` is a `prop` and not an `event` the code should be:
[code]

Let me know if that works

[2020-04-23 00:23] albertbenitez commented on #5363
@ashika01 maybe @valtrem can verify but I've tried with:
Dependencies": @aws-amplify/ui-vue": "^0.2.3-unstable.35"
And it still doesn't work, but I can wait for the stable version to try again.

Tried with:
[code]

[code]

[2020-04-23 00:40] Jun711 commented on #5511
It is able to redirects to Google login after I updated Amplify to version 3.0.8

However, there is new error after redirecting back to `http://localhost`

![Screen Shot 2020-04-22 at 5 39 54 PM](https://user-images.githubusercontent.com/6880939/80046757-60275880-84c0-11ea-98a8-b46a25ca8567.png)

[code]

[2020-04-23 00:43] lucianomlima commented on #5371
Same here!

[2020-04-23 00:44] jordanranz commented on #5460
Hey @fireflysemantics, which version of Angular are you using?

[2020-04-23 00:44] #5376 closed

[2020-04-23 00:45] Amplifiyer commented on #5376
The fix will be soon available on an unstable version of aws-amplify and on a stable version when we do a production release.

[2020-04-23 01:16] AntonioAngelino commented on #5061
We have exactly the same use case and issue described by @Groot90 !
We need to redirect the user to a route that is not `oauth.redirectSignIn`.

I'd suggest implementing the solution explained by @hotgazpacho here: https://github.com/aws-amplify/amplify-js/issues/3391

[2020-04-23 01:30] faroceann commented on #5498
Thanks @jordanranz 👍

[2020-04-23 02:08] fireflysemantics commented on #5460
Hi @jordanranz - I'm using version 9.

[2020-04-23 02:10] fireflysemantics commented on #5460
I was thinking about building a schematic that will automatically installed the amplify library, do the imports in `main.ts` etc. and it's easier to produce one if the scaffolding is minimal.

[2020-04-23 02:24] faroceann opened #5512 "Pressing enter does not trigger signInWithPassword"
**Describe the bug**
After #5466 was merged, it looks like when signing in, typing in a password, and quickly hitting "Enter" –  which now triggers the `handleSubmit` in `amplify-auth-fields`– the `signInWithoutPassword` flow is triggered, due to the state not yet populating with the password. If the users clicks to submit the form instead of hitting Enter, the library goes through the correct flo

[2020-04-23 03:35] wongcyrus commented on #5472
**Header:**
POST / HTTP/1.1
Host: comprehend.us-east-1.amazonaws.com
Connection: keep-alive
Content-Length: 56
Pragma: no-cache
Cache-Control: no-cache
authorization: AWS4-HMAC-SHA256 Credential=XXXXXXXXX/20200423/us-east-1/comprehend/aws4_request, SignedHeaders=content-length;content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token;x-amz-target;x-amz-user-agent, Signature=56e90a5fff

[2020-04-23 04:09] #5258 closed

[2020-04-23 04:09] #4316 closed

[2020-04-23 04:09] #4419 closed

[2020-04-23 04:09] #4541 closed

[2020-04-23 04:09] #4178 closed

[2020-04-23 04:09] #4171 closed

[2020-04-23 04:09] #4020 closed

[2020-04-23 04:09] #3979 closed

[2020-04-23 04:09] #3422 closed

[2020-04-23 04:09] #4761 closed

[2020-04-23 04:09] #4741 closed

[2020-04-23 04:09] #4738 closed

[2020-04-23 04:09] #4736 closed

[2020-04-23 04:09] #4680 closed

[2020-04-23 04:09] #5102 closed

[2020-04-23 05:00] ahansson89 commented on #5273
```await Storage.put("test.txt", "hello")```
returns Access Denied

[2020-04-23 05:04] ahansson89 commented on #5273
Happens on...

    "aws-amplify": "^2.2.6"
    "aws-amplify-react-native": "^3.2.2"

...too, so maybe my issue is unrelated.

[2020-04-23 07:04] silinski commented on #4310
@Jun711 it didn't work without Federated Identities pool Authentication providers for me in January.  Without Federated Identities pool Authentication providers Amplify CLI didn't push tokens to the AWS Cognito however, they were configured locally in the CLI.

There is a chance that it was fixed with new releases, but I didn't check

[2020-04-23 07:48] greimela commented on #4346
@ericclemmons I looked into it again. The CORS warning was also present in 2.x.

However, after the upgrade to 3.x the pre-Chromium Edge is no longer able to authenticate.
Downgrading to 2.x fixes this issue.

But it seems like it is not related to this issue here.
I will open a separate issue.

[2020-04-23 09:05] AhmedMesawer commented on #5496
@Amplifiyer Thank you, the files mentioned in error stack has been downloaded when I delete @aws-amplify/storage folder and install it again

[2020-04-23 09:05] #5496 closed

[2020-04-23 09:12] rupertlssmith commented on #3732
I think it is also true that not every user wants the admin scope

`aws.cognito.signin.user.admin`

A regular user of an application does not need user admin rights on Cognito, probably just wants some sort of read/write access to parts of an application back-end.

[2020-04-23 10:26] carayolthomas commented on #1852
+1

[2020-04-23 11:14] nir099 commented on #2605
did anyone get a solution?

[2020-04-23 11:33] pabloVoorvaart commented on #3123
Sorry for the misunderstanding, I meant by default when spinning up the administrative-actions api.

[2020-04-23 12:55] ialpert commented on #5330
The exact same issue is happening to us, so I will watch the issue

[2020-04-23 13:52] ThomasCarca commented on #1583
I'm having the same issue. Has something been done to prevent using a hack such as manually calling a formatted url ?

[2020-04-23 14:17] VXConsulting opened #5515 "cdk synth does not include the metadata in the json generated file"
When running `cdk synth MyStackName` CDKMetadata are shown but not included in the template.json generated file.

We have a simple stack containing 3 parameters and 3 outputs, with no resource.
`cdk deploy MyStackName` works fine

But in a pipeline, CodeBuild will generate the template.json without any resource.
Then the CloudFormation action will generate a ValidationException :
`"errorMessage":

[2020-04-23 14:35] sebboe opened #5516 "Angular Amplify + DataStore: no cloud syncing, no error logs."
**Describe the bug**

Data are added locally but not synced to DynamoDB.
- No logs on the client-side.
- No CloudWatch logs.

When data is directly sent through API, it's correctly written on DynamoDB, and I can see CloudWatch logs. I also have the "AmplifyDataStore-xxxxxxxx" table generated.

Already tried to:
- Clean the local database and DynamoDB table.
- Re-generate "amplify codegen".
- Re-ge

[2020-04-23 14:57] DeniseJames commented on #5303
@jordanranz  I need the boolean value of signIn in your switch statement. I now get it from the amplifier service. It does not work with angular 9, but I was given this beta service that does work with angular 9.

[2020-04-23 14:59] DeniseJames commented on #5303
@jordanranz  I found flowaccount package on another issue thread, it is uploaded here as beta for angular 9 https://www.npmjs.com/package/@flowaccount/aws-amplify-angular  I  would like to use this service and also be able to change the size of the sign-in component. I would rather not use hub.

[2020-04-23 16:07] dorontal opened #5518 "Getting 401 erros with @auth {allow: owner} but user logged in - perhaps this is related to multiple authorization rules being used"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Here is the entire schema that produced this error (the relevant type to look at is `type PrivateTrack` as the error is caused when calling the generated angular service function `CreatePrivateTrack`, but I am providing the entire schema for reference):
[code]

**Steps to reproduce the behavior:**

1. Using

[2020-04-23 16:24] pechisworks commented on #5480
Hi @jordanranz.
Yes, using a `prop` instead of an `event` works.

[2020-04-23 16:24] #5480 closed

[2020-04-23 16:39] mauerbac opened #5519 "Announcing the Discussions Tab"
Previously, the Amplify community has interacted with questions via GitHub Issues, utilizing the Questions label. This seemed to work well but in an effort to find a solution that feels like a true forum, we are trying GitHub's new Discussion feature to facilitate Questions from the community. Please keep in mind, this feature is in Alpha.

The tab can be found [here](https://github.com/aws-amplif

[2020-04-23 18:30] rmelo commented on #1429
AWS don't care about their clients, I used Cognito in my last job around 2016, and there's nothing is changing. They don't put basic features, the documentation is very bad and they don't say anything about Cognito roadmap. It's very seems that Cognito project is stopped.
To put a text customisation on labels or language support is basic!

[2020-04-23 18:34] tammomueller commented on #5058
@ashika01 Has there been any movement on this ticket. We are facing the same issues where we want to manage role-based access to resources in S3.

[2020-04-23 18:44] dorontal commented on #5518
I thought that perhaps the order in which we set up the authorization type matters, so I tried the above (without changing any of the code) `amplify add api` command differently: by choosing as the default authorization type (the first one specified) to be Cognito (in the above it's IAM) instead of IAM. Then I chose IAM for the second authorization type. Of course in both cases above and this one,

[2020-04-23 18:51] dorontal commented on #5518
Just saw this: "As of this post, the AWS Amplify CLI GraphQL Transform library does not yet support multiple authorization types though it is on the roadmap & being worked on."

In [this blog](https://aws.amazon.com/blogs/mobile/using-multiple-authorization-types-with-aws-appsync-graphql-apis/), dated May, 2019.

That sheds a light...

But the blog is from almost a year ago. Is it true that Amplif

[2020-04-23 19:04] elorzafe commented on #2516
@carlschroedl @cliffordh @99hats

This was fixed with the new amplify-ui-components package. More information on how to use it you can find it [here](https://github.com/aws-amplify/amplify-js/tree/master/packages/amplify-ui-components#amplify-authenticator-federated)

[2020-04-23 19:04] jordanranz commented on #5515
Hey @VXConsulting, this seems to have nothing to do with the `amplify-js` library.

Please open an issue in the AWS CDK library [here](https://github.com/aws/aws-cdk/issues).

[2020-04-23 19:04] #5515 closed

[2020-04-23 19:04] nagey commented on #2691
Would be really great here if the imported styles avoided the use of global color variables that don't carry any sort of namespacing…

For example, a color named `--amplifyGrey` is a lot better than one named `--grey`

[2020-04-23 19:34] dorontal commented on #5518
I've even tried to follow the instructions in the abovementioned blog -- [https://aws.amazon.com/blogs/mobile/using-multiple-authorization-types-with-aws-appsync-graphql-apis/](https://aws.amazon.com/blogs/mobile/using-multiple-authorization-types-with-aws-appsync-graphql-apis/) -- without success. Here's the new attempt, this time adding the special directives mentioned in the above blog to the s

[2020-04-23 19:41] pechisworks opened #5522 "Auth - federatedSignIn - add additional validationData"
**Is your feature request related to a problem? Please describe.**
I would like to add some `validationData` on `Auth.federatedSignIn()` so that i can access this data on some Cognito triggers like `Pre authentication` or `Post authentication`.

[2020-04-23 19:49] #4549 closed

[2020-04-23 19:52] ashika01 commented on #5363
@albertbenitez I got this issue too. Looks like its the flow between stencil and vue. Could you try this? I guess it should solve your problem.

[code]

Make the change in your template from `:form-fields` to `:form-fields.prop`

[2020-04-23 19:57] ashika01 commented on #5058
@danielblignaut Looks like this one happen in the CLI Configuration phase. I will transfer it to the CLI team. They should be able to help you :)

[2020-04-23 20:14] dorontal commented on #5518
I now have tried the above "new" schema with the new directives `@aws_iam` and `@aws_cognito_user_pools` and did an `api push` both ways: (1) having Cognito as the default auth type and IAM as the 2nd default auth type; (2) having IAM 1st, Cognito 2nd -- same errors as above.

At this point I am giving up on using Amplify unless this is resolved. It is totally a blocking issue. Is something wrong

[2020-04-23 20:16] Jun711 commented on #5511
It is caused by multiple initialization by a micro service to configure Amplify similar to what reported by other users.
https://github.com/aws-amplify/amplify-js/issues/4729#issuecomment-575627595

[2020-04-23 20:16] #5511 closed

[2020-04-23 20:55] albertbenitez commented on #5363
Yes, that solved the issue! **Thank you**

[2020-04-23 21:26] undefobj commented on #1234
Hello - We've passed this information to the Cognito team internally and they're tracking it. I'll go ahead and close this issue but if you'd like to raise it on another channel you could also open an AWS support case.

[2020-04-23 21:26] #1234 closed

[2020-04-23 22:19] ashika01 commented on #5512
@faroceann Thanks for raising this issue. I was able to reproduce this and working on PR for fix. Testing it out with different browsers before PR.

[2020-04-23 22:48] #5512 closed

[2020-04-23 23:06] Bug-Reaper commented on #4345
Don't mean to necrobump this issue. But @axvolfson 's solution didn't work for me and I'm sure I'm not the only one maintaining weird legacy npm projects.

For me the issue was that `mime.lookup()` was causing an error. However when I changed it to the new mime syntax that caused `Cannot find name 'unknown'`.

Definitely related to other NPM deps using different versions of mime.

I simply added `

[2020-04-23 23:29] peetss commented on #1316
@Jun711

Mainly I used this `var client = new AWS.CognitoSyncManager();` for saving user-specific data.

[2020-04-23 23:32] magjack opened #5528 "No Cognito Federated Identity pool provided when using withAuthenticator"
**Describe the bug**
When using withAuthenticator(app, {federated: federateConfig}) my user is not being authenticated after a successful login with federated buttons and returns to the signIn state of the app.

I get a error code in the console. :
![image](https://user-images.githubusercontent.com/40371034/80157984-520c3180-85bf-11ea-921f-78f7fa5d4dcf.png)

**To Reproduce**
Create an app with fed

[2020-04-24 00:54] Jun711 commented on #3458
@fgrillo
Hi Filipe, did you find another way to make it one click?

[2020-04-24 03:36] jsgphd opened #5529 "MINOR... but changing maxDepth in graphqlconfig.yaml doesn't trigger an update signal to amplify push"
**Describe the bug**
MINOR, but still worth fixing... When changing the depth using aws config codegen it does not generate a dirty state to know to push the graphql api.

The work around is to just add a space into your schema.graphql to trigger an update to make the amplify push succeed.

**To Reproduce**
do an amplify push to make sure nothing is pending.
Change the depth using aws config codeg

[2020-04-24 04:44] abhishek199-dhn commented on #1852
+1

[2020-04-24 09:14] mtscsoftware commented on #4927
The way I did to overcome this problem (at least temporary) was to create a new custom type like that extends the base CognitoUser type like following:

`
type MyCognitoAttributes = {
   'custom:xxx': string;
   ...
}

type MyCognitoUser = CognitoUser & {
    attributes: MyCognitoAttributes;
}
`

This way I am covering my custom attributes also

[2020-04-24 09:16] arthurliebhardt opened #5531 "custom urlOpener shows dialog before open."
**Describe the bug**
I implemented federated sign in with a custom provider with amplify and react native but unfortunately, I get always the dialog from the image. Im Using the InAppBrowser from 'react-native-inappbrowser-reborn' and calling the openAuth method there, I recognized that when I call the only open method it don't show the dialog but I'm not sure if this correct. Are there any tips /

[2020-04-24 09:19] arthurliebhardt commented on #5502
Issue can be closed, the amplify documentation states that Linking needs to be done. Sorry dont't looked in the Setup Amplify auth backend as I'm using serverless framework and Amplify only for the UI.

[2020-04-24 09:19] #5502 closed

[2020-04-24 09:21] kimfucious opened #5532 "Incorrect error messages from Auth.signUp"
**Describe the bug**

When running the following command with a known bad property for `phone_number`:

[code]
The following error is logged to the browser console and in Hub when the auth listener "hears" `signUp_failure`.
[code]
🤔 I *knew* that the username was there, but I did wind up chasing this red herring for longer than I'd like to admit.

Finally, I checked the HTTP response in the dev-to

[2020-04-24 10:06] johannesspohr opened #5652 "Mock subscriptions fail due to SSL error in 4.18.1"
First of all, thanks for the effort to get subscriptions working. I've been eagerly waiting for this. However, it still fails for me, even in a newly created environment.

**Describe the bug**
When using subscriptions with `amplify mock`, the WebSocket connection goes to a secure WebSocket address, which then fails due to SSL problems.

**Amplify CLI Version**
4.18.1

**To Reproduce**
- Init ampli

[2020-04-24 11:05] Stereobit opened #5534 "Authentication with hosted UI fails on Edge 18 with TypeError: Invalid Argument"
**Describe the bug**
Authentication with any Identity prover fails when redirecting back to WebApp

**What AWS Services are you utilizing?**
Amplify, Auth

**Environment**
Web

**To Reproduce**
Steps to reproduce the behavior:

1. Initialise with `Auth.configure`
2. Redirect to Hosted UI
3. Authenticate
4. Redirect back
5. See error

**Expected behavior**
Authentication and removal of code query p

[2020-04-24 12:27] ThomasCarca commented on #5531
I think this is a default behavior for iOS unfortunately... We have the same "issue" for our project but with a different -- less intrusive -- message :
![image](https://user-images.githubusercontent.com/24562239/80211439-0ba5e980-8636-11ea-855c-99b0906d7461.png)

See this [Stackoverflow thread](https://stackoverflow.com/questions/43510652/custom-url-scheme-without-confirmation-prompt-swift) for m

[2020-04-24 12:27] andreialecu opened #5537 "Changing type of field is not updating resolvers on `amplify push`"
**Describe the bug**

`amplify push` does not update appsync resolvers when changing type declaration.

**To Reproduce**

Consider this schema:

[code]

Run `amplify push`

Change the type of `AvailabilityHours` like the following:

[code]

Run `amplify push` again. The schema is not updated in appsync and the updated type is not usable, resulting in being unable to query the model at all:

[code]

[2020-04-24 12:43] arthurliebhardt commented on #5531
So actually as I wrote above, when I use the open() method instead of openAuth(), it works without this dialog.

[2020-04-24 12:47] chnkrydv commented on #1852
+1

[2020-04-24 12:51] ThomasCarca commented on #5531
Ah sorry I missed that part. The documentation states for openAuth() :
"_Opens the url with Safari in a modal on iOS using SFAuthenticationSession/ASWebAuthenticationSession, and Chrome in a new custom tab on Android. **On iOS, the user will be asked whether to allow the app to authenticate using the given url (OAuth flow with deep linking redirection)**._"

It therefore looks like it is expected

[2020-04-24 13:03] arthurliebhardt commented on #5531
ahh right, thank you. So you are also don't using some other in-app browser or amplify have no other options here also right?

[2020-04-24 13:11] ThomasCarca commented on #5531
I am personally not using any in-app browser library because I did not know any before, but the one you're using looks nice, I might give it a try !
I think by default aws-amplify opens the stock browser on your phone and you can't alter this behavior other than using urlOpener in the configuration. I might be wrong, can anyone confirm ?

[2020-04-24 13:21] arthurliebhardt commented on #5531
yes amplify opens by default the safari app, but this is not accepted by Apple app store and also not convenient from UX perspective.

[2020-04-24 13:37] jfaq89 opened #5539 "Auth.signIn() promise takes more than 30 seconds to resolve on Android"
**Describe the bug**
Auth.signIn() promise can take more than 30 seconds to resolve on Android. On iOS and Web we could not reproduce the bug.
It happens when we start the app and we click "Login" for the first time. It doesn't always happen, we have to try a few times to reproduce it.

**To Reproduce**
Steps to reproduce the behavior:

1. Close all apps on device.
2. Start React Native app using

[2020-04-24 13:50] dorontal opened #5540 "Multiple authorization types (IAM & Cognito) returns 401 error on type create mutation, regardless of which authorization type you start with as the default, via Amplify CLI"
The following initial schema, supplied to `amplify add api` returns 401 response on create mutation of `type PrivateTrack`, when setting up multiple authorization types, with IAM being the default authorization type, even though the Cognito user-pool user that has been created & confirmed is successfully logged-in when making the call to `CreatePrivateTrack({ path: 'some-path' })` (using Angular g

[2020-04-24 13:51] dorontal commented on #5518
See Issue #5540 for a more concise description of this problem.

[2020-04-24 13:52] dorontal commented on #5540
See Issue #5518 for a lengthy description of this problem.

[2020-04-24 14:09] mk0sojo opened #5541 "type script definition for signUp is incorrect"
Describe the bug
The typescript definition for cognitoUserPool.signUp is missing parameter clientMetadata.

To Reproduce
Create a typescript file and try to call cognitoUserPool.signUp passing clientMetadata. You will get an error

Minor change, I will raise a pull request

[2020-04-24 14:25] amhinson commented on #5110
@nihp We've made an update that might address the issue you're seeing. Could you try testing out the `unstable` version of `aws-amplify-react-native`?

[code]

[2020-04-24 14:25] ykbryan opened #5550 "Amplify DataStore not working in AWS but it works locally"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
Amplify datastore works locally but not in AWS.

**Amplify CLI Version**
4.18.1

**To Reproduce**
git clone https://github.com/ykbryan/aws-amplify-datestore-notes
amplify init
amplify push

then setup AWS Amplify Console and point to a repo. Save & Deploy.

**Expected behavior**
Ampl

[2020-04-24 14:35] amhinson commented on #4953
@birken92 Could you provide your `aws-exports` file and/or any manual configuration you've added?

_Be sure to remove any sensitive data_, i.e.:
[code]

[2020-04-24 14:53] Johnniexson commented on #5407
@sim1camporeale how can i DM you? i have some questions to ask as regards ur Datastore use case in production. Thanks

[2020-04-24 15:28] fgrillo commented on #3458
Hey @Jun711 I solved it the way I described earlier, by keeping both users in my userpool and once the user sign-in with Google User I exchange the tokens for the Local User tokens using Custom Auth Flow.

It is not ideal and we have to pay for both active users. All this times and I have other issues as well without any word back from AWS, feels to me like this project is abandoned on their end.

[2020-04-24 15:29] mezalejandro opened #5543 "Apple Signing Token is not from a supported provider of this identity pool."
**Describe the bug**
I can't signing with federated using https://github.com/invertase/react-native-apple-authentication
In the provider I tested with SignInWithApple or appleid.apple.com

**Code Snippet**
await Auth.federatedSignIn('appleid.apple.com', {token: data.identityToken, expires_at: null})

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is Configured

[2020-04-24 16:05] CthompsonCL opened #5544 "Data does not reach Aws Kinesis from React Native correctly"
When i send data with:

[code]
This is executed through a lambda that sends the data through python correctly, but when I deal with react native the data reaches me as:

In Cloudwatch of my lambda:
**15:34:35**
**Before decoding:** AAAAAAAAAAAAAAAA

My lambda decode is:
[code]
My kinesis job has data encryption disabled, so I don't know why amplify converts the data to "AAAAAAAAA".

Thanks.

**To

[2020-04-24 16:20] krimple commented on #4744
We have a client that we might use Amplify & Angular on - is Angular 9 / Ivy support moving forward or is the version above stable enough across all of Angular to get the job done?

[2020-04-24 16:41] amhinson commented on #5539
@jfaq89 I see that you're testing with a development React Native build. Could you also test with a production build on a physical device and verify that you're seeing the same behavior?

[2020-04-24 16:55] khiner commented on #5298
This workaround solved my problem of not being able to exclude phone number fields from the form input, but it removes the "Forgot password" flow, since that's added as a hint to the `formField` in [`amplify-sign-in`](https://github.com/aws-amplify/amplify-js/blob/master/packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in.tsx), and it uses a private `handleAuthStateChange

[2020-04-24 16:57] Jun711 commented on #3458
@fgrillo Thanks for replying. Could you share the documentation that you used for `exchange the tokens for the Local User tokens using Custom Auth Flow.`?
I will give it a try if I can't find other solution.

[2020-04-24 17:15] onlybakam opened #5547 "aws-amplify/ui-react - renders component when user is not signed in"
**Describe the bug**

@aws-amplify/ui-react": "^0.2.3

With

[code]

user is not signed in but `App` is still "rendered" (though not visible). The useEffect hooks are triggered, indicated that it was rendered. the `App` should not be rendered until a user has signed in.

[2020-04-24 17:29] brene commented on #5550
cc @sammartinez - looks like this is a JS issue

[2020-04-24 17:34] amhinson commented on #5532
Similar to: https://github.com/aws-amplify/amplify-js/issues/5313

Looks like a fix was pushed for this recently. Can you try using `aws-amplify@unstable`?

[2020-04-24 17:35] amhinson commented on #5478
Similar to: https://github.com/aws-amplify/amplify-js/issues/5313

Looks like a fix was pushed for this recently. Can you try using `aws-amplify@unstable`?

[2020-04-24 17:36] ashika01 commented on #5547
@onlybakam : could you provide us with a sample of ur code?

[2020-04-24 17:56] hauntingEcho opened #5551 "[react] Greetings message does not display"
**Describe the bug**
The greetings message (Hello, $USERNAME) does not display.

**To Reproduce**
Go to the greetings documentation example, and see no message:
https://docs.amplify.aws/ui/auth/authenticator/q/framework/react#greetings

If you right click and inspect the greetings element in Firefox, you'll be able to see a span element containing the text `Hello, Test Username` in the DOM.  It is

[2020-04-24 18:02] #5323 closed

[2020-04-24 18:10] Amplifiyer commented on #5273
@ahansson89, yes your issue seems unrelated. Can you open another issue with as much details as you can to reproduce your issue? Also check your IAM roles if they have the right access and the user has right credentials.

[2020-04-24 18:10] onlybakam commented on #5547
[code]

[2020-04-24 18:13] onlybakam commented on #5547
expectation is that `App` is not rendered if state is not signedIn. so something like

[code]

![image](https://user-images.githubusercontent.com/554722/80243626-2f186680-862d-11ea-85ce-b88fa94a7bfc.png)

[2020-04-24 18:13] manueliglesias commented on #5550
@ykbryan

Thanks for reporting this, I tested your repo and was able to replicate the issue and I can confirm that it will be fixed by https://github.com/aws-amplify/amplify-js/pull/5488

You can expect new versions in npm with the fix soon

[2020-04-24 18:45] mauerbac commented on #5318
Hi @Spy-Seth - the CLI flow is recommended. You could spin up a sample project with the CLI and let us know if that works? This will help determine if it's a potential issue.

[2020-04-24 18:53] Jun711 commented on #4522
@ashika01
This issue has been around since maybe 2017 or earlier based on Cognito discussion forum, do you think it can be resolved in 2020?

[2020-04-24 19:03] AlessandroAnnini commented on #4522
Something good must happen in 2020

[2020-04-24 19:10] mauerbac commented on #4438
Hi @ErikOwen - thanks for providing this info. I will make this a feature request and leave this open so the team can address it.

[2020-04-24 19:42] elorzafe commented on #5504
@omar-dulaimi

Amplify doesn't officially support NodeJS, where are you trying to use it?

[2020-04-24 19:44] elorzafe commented on #5516
@sebboe are you using prod build?

[2020-04-24 19:45] kimfucious commented on #5532
Hi @amhinson, thanks for the follow up.

Yes, #5313 is pretty much what I'm seeing.

I dread using anything with the word unstable in it, and it's really not a blocker at this point.

So I'm fine sticking with stable for the now, knowing that you folks are already aware of this issue.

I'll leave this open for you to close, tag, or process per your workflow.

[2020-04-24 19:51] fgrillo commented on #3458
Here are some of the stuff I used:

https://docs.aws.amazon.com/cognito/latest/developerguide/amazon-cognito-user-pools-authentication-flow.html#amazon-cognito-user-pools-custom-authentication-flow

https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-lambda-challenge.html

In my case I sent the Google user JWT token as the custom auth response and checked in the lambda if the user

[2020-04-24 20:02] elorzafe commented on #5540
@dorontal
When using `owner` authorization for a type you will have to use `AMAZON_COGNITO_USER_POOLS` as the auth_mode for that operation.

[2020-04-24 20:02] onlybakam opened #5552 "aws-amplify/ui-react - Warning: findDOMNode is deprecated in StrictMode"
**Describe the bug**

using `withAuthenticator` yields error (chrome and firefox):

<pre>
Warning: findDOMNode is deprecated in StrictMode. findDOMNode was passed an instance of
AmplifyAuthenticator which is inside StrictMode. Instead, add a ref directly to the element you
want to reference. Learn more about using refs safely
here: https://fb.me/react-strict-mode-find-node
</pre>

[2020-04-24 20:06] elorzafe commented on #5540
I will close this issue because is a duplicate of #5518 the other issue you posted

[2020-04-24 20:06] #5540 closed

[2020-04-24 20:06] elorzafe commented on #5518
@dorontal

When using owner authorization for a type you will have to use AMAZON_COGNITO_USER_POOLS as the auth_mode for that operation.

I closed the other issue, so keep communicating on this issue

[2020-04-24 20:08] jordanranz commented on #5552
This is fixed here: https://github.com/ionic-team/stencil-ds-plugins/commit/e3cd7091d80f6258c6ae20fe6b551d781e80dad9

Looking at getting this into our core library now. Will post an update when it is ready

[2020-04-24 20:09] elorzafe commented on #5522
@pechisworks why you cannot use `Auth.signIn(...)` instead of `Auth.federatedSign(..)`, what is your use case?

[2020-04-24 20:10] elorzafe commented on #5529
@jsgphd thanks for your feedback, I will transfer this issue to Amplify CLI repo where they can answer this issue better than me.

[2020-04-24 20:11] sebboe commented on #5516
@elorzafe I tried with ionic serve and ionic build --prod, same result; no error and no sync.

[2020-04-24 20:19] sevensys commented on #5433
I'm also struggling with this issue

My GraphQL schema:
`"""
Users will come from the cognito user pool
"""
type User
@model
@versioned(versionField: "_version")
@key (fields:["id"])
@auth(rules: [{allow: owner, ownerField: "id"},{ allow: groups, groups: ["admin"]}])
{
    id: ID!
    countryId: ID!
    stateId: ID!
    munId: ID!
    email: AWSEmail!
    dateOfBirth: AWSDate!
    gender: Gender!

[2020-04-24 20:24] jordanranz commented on #5551
The `Greetings` component has a username prop that you can pass in to display the username.

[2020-04-24 20:26] shouze commented on #5318
@mauerbac I work with @Spy-Seth and [we have an example repository to reproduce the issue](https://github.com/Spy-Seth/cognito-passwordless-bug).

BTW we've not used Amplify CLI here but terraform. At the end it's the very same I guess. We've also used a cognito cloudformation stack in another try and every time we have this same issue with the never invoked pre authentication lambda.

Could it be

[2020-04-24 20:26] dorontal commented on #5518
@lorzafe - thanks for the response, but:

I am. I am using  AMAZON_COGNITO_USER_POOLS for that operation.

The CreatePrivateTable is the operation (mutation).

The user (owner) is logged in, successfully, at the time that I call that mutation.

I get a 401 error.

This is what this entire issue is about.

Did I miss something?

[2020-04-24 20:27] dorontal commented on #5540
@lorzafe - thanks for the response, but:

I am. I am using AMAZON_COGNITO_USER_POOLS for that operation.

The CreatePrivateTable is the operation (mutation).

The user (owner) is logged in, successfully, at the time that I call that mutation.

I get a 401 error.

This is what this entire issue is about.

Did I miss something?

[2020-04-24 20:30] dorontal commented on #5540
Oops, just saw the comment to keep communicating on issue #5518.  Apologies for responding here. I will only communicate in that other issue from now on.

[2020-04-24 20:32] omar-dulaimi commented on #5504
@elorzafe On Aws Lambda.

[2020-04-24 20:49] elorzafe commented on #5528
@magjack If you are using Social Federation with Cognito User Pools you should use `withOAuth` HOC instead of `withAuthenticator`.

More info you can find [here](https://docs.amplify.aws/lib/auth/social/q/platform/js#facebook-instructions)

[2020-04-24 20:54] elorzafe commented on #5518
@dorontal can you check on your network request (on dev tools) and check `Authorization` header if it has a token there?

[2020-04-24 20:57] russell-dot-js commented on #5332
+1, I am also seeing this issue in IE and Edge

[2020-04-24 20:57] hauntingEcho commented on #5551
right - the example on the documentation page passes "Test Username" to that property, and is not displaying anything

[2020-04-24 21:02] dorontal commented on #5518
@elorzafe - okay, just did, and it does seem to have that header (though it is all lowercase: 'authorization'). There were several back and forth POST-OPTIONS-POST... in the network tab, but here is the one that was the last one and came back with an error:
[code]

[2020-04-24 21:03] elorzafe commented on #5518
@dorontal is not sending the token, is sending a sigV4 signing instead, that is why you are getting the 401.

Maybe is an issue with AmplifyService. Can you share the code you are using with API category?

[2020-04-24 21:08] dorontal commented on #5518
Sure @elorzafe, Amplify  generated a service (for Angular). That service is, in my code, referred to as `this.awsAPI`. Here is the call:
[code]
I am not sure what you meant by "API category". Hopefully the above is what you were asking me to post. This is as much code as there is, really, it's pretty much all of it (which is the beauty of Amplify).

[2020-04-24 21:14] dorontal commented on #5518
@elorzafe - perhaps the reason it is not sending the token has to do with the fact that there are multiple authorization types in this schema. Perhaps the Amplify service / code-generation did not properly pick the right Authorization header in this case and it's picking the Authorization header for the other authorization type (which was IAM)?

[2020-04-24 21:48] amhinson commented on #5532
We just released a new version (3.0.9) that should address this issue (among other things). Give it a go and let us know if anything else comes up 👍

[2020-04-24 21:48] #5532 closed

[2020-04-24 21:48] amhinson commented on #5478
We just released a new version (3.0.9) that should address this issue (among other things). Give it a go and let us know if anything else comes up 👍

[2020-04-24 21:48] #5478 closed

[2020-04-24 22:03] amhinson commented on #5483
@ranjeev75 I see in your `aws-exports` the `oauth` object is empty. When you ran `amplify add auth` did you set it up with Federation?

[2020-04-24 22:29] elorzafe commented on #5318
@shouze can you see the `validationData` as part of the data request?

[2020-04-24 22:51] jordanranz commented on #5547
Investigating a change to this behavior

[2020-04-24 22:51] amhinson commented on #5543
Related: https://github.com/aws-amplify/amplify-js/issues/3395
https://github.com/aws-amplify/amplify-js/pull/5402

[2020-04-24 22:57] ashika01 commented on #5318
@shouze : I dont see how the validationData is being passed in. [From the code](https://github.com/Spy-Seth/cognito-passwordless-bug/blob/master/frontend/src/app/sign-in/sign-in.component.ts#L32), I only see email is sent in.

For pre authentication or pre sign up, it is important to pass in validationData - https://docs.amplify.aws/lib/auth/advanced/q/platform/js#pre-authentication-and-pre-sign-u

[2020-04-24 23:01] karrettgelley opened #5553 "This XML file does not appear to have any style information associated with it."
**Describe the bug**
When I reload a page in my dev or master environments (served with amplify console/S3) I get the following error: `This XML file does not appear to have any style information associated with it.`. To be specific, if I type in a url like `masterenv.com/somepage`, or reload the page at that point I get the error. However, if I navigate using the links in my app to the same page

[2020-04-24 23:04] elorzafe commented on #5518
@dorontal

Yeah, is picking the default authorization mode. You can overwrite that on each query/mutation/subscription like this

[code]

[2020-04-24 23:12] jhockett commented on #5211
Fixed the boilerplate in the Amplify CLI. Changes will be available in the next release.

cc @sammartinez

[2020-04-24 23:16] elorzafe commented on #5516
@sebboe

We just did a release that fixed an issue with production builds using DataStore maybe that can help the issue. Can you try the latest release of DataStore (2.0.9)?

[2020-04-24 23:18] amhinson commented on #5036
@chinnawatsut Is the app crashing, or is it just show the red error screen? Based on my testing, I do see the red screen, but that is just because the code is calling `console.error`, which will only show in dev mode and doesn't actually crash the app.

Also, if you want to do a particular action if the request fails, you can listen to the `Hub` events and take the appropriate action ([see docs fo

[2020-04-24 23:21] dorontal commented on #5518
Thanks very much, @elorzafe!

This will be fixed in the future, right?  I mean, the auto-generated Angular service will be able to supply the proper `authMode:` depending on the initial schema that was used to generate that code, and on the Mutation being used, right?  If this is going to be fixed, then I prefer to just wait for it and work on other stuff. But if it takes Amazon too long to fix th

[2020-04-24 23:22] amhinson commented on #4800
@JSDevelopment17 Does @Graig123git's answer fix your issue?

[2020-04-24 23:24] elorzafe commented on #5477
@remyferre  The tokens are not validated on the client, the library can ask for tokens and refresh those in case they are expired however the tokens should be always verified on the backend for Authorization purposes.

What is your use case to validate the token on the client?

[2020-04-24 23:31] amhinson commented on #4141
@gHashTag Based on the repo you provided, it doesn't look like you've setup the redirect URIs in your iOS app yet.
https://docs.amplify.aws/lib/auth/social/q/platform/js#sign-in-redirect-uris

You'll need to add this to `AppDelegate.m`:
[code]

and then add something like this to `Info.plist`:
[code]

[2020-04-24 23:37] amhinson commented on #4962
@dimonchik-com I see that your sample repo is no longer available. Are you still having issues?

[2020-04-24 23:39] #5541 closed

[2020-04-24 23:45] amhinson commented on #5543
@mezalejandro Can you provide some more information about how to reproduce the issue?

[2020-04-24 23:59] Ashish-Nanda commented on #5255
Hi @Raynos, that would have been ideal, but as far as I know, the React Native packager does not support catching dependency exceptions at runtime. I had tried this initially.
Here is an issue similar to what you are pointing out https://github.com/facebook/react-native/issues/5079

For now I have removed the NetInfo dependency from Core and moved it to DataStore. So you should only get the peer d

[2020-04-24 23:59] #5255 closed

[2020-04-25 00:02] elorzafe commented on #5518
@dorontal

I am happy that worked for you.

The other problem related to Angular service, it requires changes to be addressed on Amplify CLI. I will transfer this issue to that repo where they can handle this properly.

[2020-04-25 00:13] #5551 closed

[2020-04-25 00:16] jordanranz commented on #5551
This will be released to `@aws-amplify/ui-react@unstable` in the next few minutes.

[2020-04-25 00:19] jordanranz commented on #5553
May be related to: https://github.com/aws-amplify/amplify-console/issues/591 or https://github.com/aws-amplify/amplify-console/issues/436

Moving to the Amplify Console repo for better exposure

[2020-04-25 00:21] jordanranz commented on #5512
We release this fix to the latest version of all UI libraries.

[2020-04-25 00:24] jordanranz commented on #5253
Hey @foragerr, to get more context, which angular library are you using? `aws-amplify-angular` or `@aws-amplify/ui-angular`?

[2020-04-25 00:55] caioproiete commented on #1183
For others arriving here from search engines, here is the documentation explaining how to prevent `UserNotFoundException` errors from Cognito:

Basically, go to your `User Pool` in Cognito, select `App clients`, click `Show Details`, and enable `Prevent User Existence Errors`:

![image](https://user-images.githubusercontent.com/177608/80267294-4fb8de80-8676-11ea-9ea4-3e80aa2d234c.png)

[2020-04-25 01:04] amine250 commented on #3435
+1 waiting

[2020-04-25 01:26] tommedema commented on #2014
Any update on this? This is now more important since Amplify 3 does not support AWS.config, we can no longer manually work around this using:

[code]

[2020-04-25 02:31] ykbryan commented on #5550
tested. it works now, thx!

[2020-04-25 02:31] #5550 closed

[2020-04-25 03:05] undefobj commented on #5504
Amplify is a library designed for use in frontend mobile/web application. It's not supported in backend. For those use cases - please leverage the AWS nodejs SDK

[2020-04-25 03:06] #5504 closed

[2020-04-25 03:23] undefobj commented on #1429
Hello we have provided feedback on this issue to the Cognito team. Please note that while Amplify leverages Cognito, it is an open source framework and not run by that service team. We recommend opening up official requests via AWS support tickets or the official AWS support forums.

[2020-04-25 04:00] mtliendo commented on #5519
This is a great iteration, though are there any blockers to having a dedicated slack/discord for a more real time approach?

[2020-04-25 04:08] mtliendo commented on #5551
Is there a release cycle for when items move from unstable?

[2020-04-25 04:24] russell-dot-js commented on #5332
I've found the issue here, your feedback is appreciated https://github.com/aws/aws-sdk-js-v3/issues/1107

[2020-04-25 04:24] russell-dot-js commented on #5534
I've detailed the issue here, your feedback is appreciated https://github.com/aws/aws-sdk-js-v3/issues/1107

[2020-04-25 04:47] 24jr opened #5557 "Many-To-Many connection requiring odd input"
In the version "aws-amplify": "^3.0.9" there seams to be a change in many-to-many connections that doesn't quite work. Looking at the example from the docs as a reference

https://docs.amplify.aws/cli/graphql-transformer/directives#many-to-many-connections

using that middle connection model as of now in a new query requires an additional post field with post input which of course shouldn't be nee

[2020-04-25 04:56] #4983 closed

[2020-04-25 04:56] #3819 closed

[2020-04-25 04:56] #4926 closed

[2020-04-25 04:56] #3541 closed

[2020-04-25 04:56] #5316 closed

[2020-04-25 04:56] #4514 closed

[2020-04-25 04:56] #4735 closed

[2020-04-25 04:56] #5339 closed

[2020-04-25 04:56] #4561 closed

[2020-04-25 05:07] mayank-kanzariya opened #5558 "aws-amplify AWSIoTProvider is not a constructor with Angular 8"
I have followed below official link document [official link](https://docs.amplify.aws/lib/pubsub/getting-started/q/platform/js#aws-iot). It is working fine with ng serve But when I build and than visit that page it is showing error like "AWSIoTProvider is not a constructor ". I am not getting any solution for this.

[code]
Above issue occurred, after upgrading the "aws-amplify" from "^2.2.6" to "^

[2020-04-25 07:19] Raynos commented on #5255
Removing it from core is very helpful.

The only modules I need are core and auth

I don’t use any amplify features. I just want to sign in and sign up with cognito pools

[2020-04-25 07:56] #5142 closed

[2020-04-25 10:02] kirantpatil commented on #469
How about "DisableUser" support ?

I would want to disable a cognito user for temporary purpose. How to do it, since I couldn't find a API to achieve that goal.

Thanks.

[2020-04-25 10:10] remyferre commented on #5477
No use case really. I thought the client also had to validate tokens for security purposes, but your response seems to imply that only the server really do.
Thanks for clearing that up!

[2020-04-25 10:10] #5477 closed

[2020-04-25 10:42] tkjaergaard commented on #987
New to using Congnito / Amplify and ran into this issue as well.

Nothing new on my part to add to the discussion, just wanted to show the Cognito team that we're many facing this issue.

[2020-04-25 10:53] rahulje9 commented on #4141
Hey Thanks for the reply, I found these after posting the comment.

I also have a question if you know please answer this

https://github.com/aws-amplify/amplify-js/discussions/5538

[2020-04-25 11:41] jfaq89 commented on #5539
Hi. We already saw the error in production. Many people from my team have tested using different physical devices and everyone managed to reproduce the error.

We tested using the latest version of AWS-amplify.

[2020-04-25 12:20] sebboe commented on #5516
@elorzafe
The update didn't fix my problem; I'm still working on my code to find what's wrong. I'll try on a fresh project today, without auth module. Thank you for your help!

[2020-04-25 13:32] ranjeev75 commented on #5483
@amhinson I set it up following the instructions at https://aws-amplify.github.io/docs/js/authentication#federated-with-auth0. So I can log in from auth0 and fetch assets from S3, but on reload of the app I start getting the issues I discussed above.

[2020-04-25 14:27] magjack commented on #5528
I managed to do a few work arounds to get the federated buttons to grant a user access to the app however they are unable to use it any further because a user is not created as part of the sign in.
Work arounds where:

I needed to add this config to my app

`Auth.configure({
  identityPoolId: 'eu-west-1:dfggrr-fffde-eert-yuu-eerrt45r'
})`
This was already under the aws-exports.js as aws_cognito_id

[2020-04-25 14:39] alexandrzavalii commented on #2777
Hi @DheerajArora5
You solution looks promising, however I didnt find `EmailVerificationType: Link` in my `backend/auth/awsapp/awsapp.yml` file.
In the meantime is there a config option in amplify auth that would set it?

[2020-04-25 14:51] mezalejandro commented on #5543
Hello @amhinson I followed all the steps https://aws.amazon.com/blogs/security/how-to-set-up-sign-in-with-apple-for-amazon-cognito/

Then using https://github.com/invertase/react-native-apple-authentication

In Auth of was-amplify I see the options:
export declare enum CognitoHostedUIIdentityProvider {
    Cognito = "COGNITO",
    Google = "Google",
    Facebook = "Facebook",
    Amazon = "LoginWi

[2020-04-25 14:55] mezalejandro commented on #5543
There is a pull request requesting to add SignInWithApple https://github.com/aws-amplify/amplify-js/pull/5402

[2020-04-25 15:04] 24jr commented on #5557
Actually Idk if I wasn't in latest version or what. I think its fine now on "aws-amplify": "^3.0.10-unstable.2",

[2020-04-25 15:04] #5557 closed

[2020-04-25 16:11] mlafo opened #5560 "Predictions - InvalidS3ObjectException"
Env : React-native
    "aws-amplify": "^3.0.8",
    "aws-amplify-react-native": "^4.0.4",
    "react": "16.11.0",
    "react-native": "0.62.2",

Predictions configuration for Amplify.configure() :
predictions: {
    identify: {
      identifyText: {
        proxy: false,
        region: "us-east-1",
        defaults: {
          format: "ALL"
        }
      }
    }

Issue :
When I user Prediction

[2020-04-25 16:58] nuthankumarhr opened #5561 "Greetings header in withAuthenticator is taking unnecessary space"
![WhatsApp Image 2020-04-25 at 10 24 56 PM](https://user-images.githubusercontent.com/64323880/80285678-2d8d9200-8744-11ea-92b6-4e7134a03a90.jpeg)

is there any solution to this problem???

[2020-04-25 18:05] sebboe commented on #5516
I tried a clean app.
- Sync is working without Cognito auth
- Sync is working with default angular auth UI + Cognito until page refresh, after page refresh... Connection refused error.

In my original app, I have a custom auth form. It could be related to that.

[2020-04-25 23:06] sebboe commented on #5516
Ok, so I think the problem was the use of "[aws-amplify-angular](https://www.npmjs.com/package/aws-amplify-angular)".

By rewriting my auth service directly with the aws-amplify import, it's working.

Before:
`import { AmplifyService } from 'aws-amplify-angular';`
After:
`import { Auth } from 'aws-amplify';`

For now, I need to make two times the call to avoid "Connection refused" error. Didn't tr

[2020-04-26 01:21] eshacham opened #5564 "Unhandled error in SignUp using ionic when phone_number field is blank: TypeError: Cannot read property 'replace' of undefined"
**Describe the bug**
phone_number is a non-required signUpField using the AWS Amplify Auth UI with Angular and Ionic. If a user tries to sign up leaving phone number blank, an unhandled error occurs:

TypeError: Cannot read property 'replace' of undefined
    at composePhoneNumber (common.js:24)
    at SignUpComponentIonic.push../node_modules/aws-amplify-angular/dist/src/components/authenticator/s

[2020-04-26 01:53] karrettgelley opened #5565 "Social Federation Not Working with Custom Domains"
**Describe the bug**
I am unable to get the signIn method of the hub listener to fire upon signin via Auth.federatedSignin().

**Expected behavior**
When a user signs in via Google or Facebook (i.e. Auth.federatedSignin({provider: 'facebook/google'})) they should be redirected back to my app (e.g. customdomain.com) and the signIn method of the hub listener should fire.

**Screenshots **
Here is a

[2020-04-26 04:08] 24jr opened #5568 "@key in graphQL not working properly"
If I add `@key( fields: ["id", "username"])` the getUser requires both id and username rather than require id and have username be used like eq or gt like it used to. Like this

[code]

Also when I add `@key(name: "byUsername", fields: ["username", "createdAt"])` no query byUsername gets added to my schema like used to happen on previous versions.

[2020-04-26 04:09] 24jr opened #5569 "@auth private IAM vs everyone Cognito group on graphQL"
Is there a difference in usage of allowing IAM auth on a graphQL and adding users to an everyone group on sign up in cognito and using that.

Mainly because I am having trouble working with private and even public with accessing nested types and just usage in general. One solution https://stackoverflow.com/questions/59588247/why-cant-i-read-relational-data-when-i-use-iam-for-auth-but-can-read-when

[2020-04-26 04:48] InnerPeaceStudios commented on #1852
same here

[2020-04-26 06:44] marcmathys commented on #1852
I need this

[2020-04-26 12:38] Rolando-Barbella commented on #4813
I am having the same issue, can't do a simple crud with this component

[2020-04-26 12:55] lambda0xff opened #5571 "[API - Observable]: Would it be possible to "dump" zen-observable in favor of RxJS ?"
**Is your feature request related to a problem? Please describe.**
API subscriptions return Promise or Observable from zen-observable
This can be confusing/annoying when using RxJs

**Describe the solution you'd like**
Dump zen-observable and zen-push in favor of plain RxJs

[2020-04-26 13:07] Jobel91 commented on #4089
Following @dantasfiles response and his medium tutorial.
In combination with https://firebase.google.com/support/release-notes/android#latest_sdk_versions, which say that:

 "The Firebase Android library firebase-core is no longer needed. This SDK included the Firebase SDK for Google Analytics.

Now, to use Analytics or any Firebase product that recommends the use of Analytics (see table below), y

[2020-04-26 13:42] abnerlee opened #5572 "`Analytics.record` will send request to localhost"
**Describe the bug**
Analytics.record("xxx") will send request to localhost, instead of the AWS endpoint

**To Reproduce**
I followed the Web app analytics guide in Pinpoint -> All projects -> My App -> Settings -> Web app analytics.

Using following code:
[code]
And Analytics.record will send a fetch request to `https://localhost/` with request payload `{IdentityPoolId: "us-west-2:XXXXXXXXX"}`

*

[2020-04-26 13:49] Rolando-Barbella commented on #2713
@wizawuza did not work for me, doesn't even console something

Subscription
[code]

My Connect
[code]

[2020-04-26 15:34] alexandrzavalii commented on #5435
Hey @ericclemmons, Looking forward for your example! It would be very helpful to have SSR example.
Like having a navbar rendering "signin" or "profile" depending on user status.

[2020-04-26 15:44] sebboe commented on #5516
Confirmation: working on dev but not with prod build. Same issue as #5448 .

[2020-04-26 15:44] #5516 closed

[2020-04-26 17:04] sebboe commented on #5448
Same problem in an Angular project.

I tried with:
"@aws-amplify/datastore": "^2.0.9"
and
"@aws-amplify/datastore": "^2.0.10-unstable.2"

No sync with production build. Building with "ionic build --prod".