[2019-09-21 04:02] ChrisLFieldsII opened #4057 "React-Native Authenticator w/ Custom SignOut button fails to update the authState"
**Describe the bug**
Using the drop-in `withAuthenticator` HOC and a custom Sign Out button within the App that calls `Auth.signOut()` fails to change the Authenticators `authState` causing the User to appear as if they are still signed in.

**To Reproduce**
I have created a [repo](https://github.com/ChrisLFieldsII/amplify-auth-test) as well as a [video](https://drive.google.com/file/d/1-CUNuEOtsu

[2019-09-21 07:34] mevert commented on #3039
Sorry, I had typo when writing it here. However, were are using `string[]` in our real case. Any idea that did your previous changes to PubSub affect to this subscription problem since I don't have the same problem with "@aws-amplify/pubsub": "1.1.0" ?

[2019-09-21 10:31] saurabhpati commented on #3984
@elorzafe Well, I think I made a mockery of myself and even logged it by opening an issue for everyone to see for times to come.

Thank you very much for the help much appreciated.

[2019-09-21 10:31] #3984 closed

[2019-09-21 10:35] saurabhpati commented on #3984
I think we can include something like this in index.css (or less or scss). Just a suggestion

div.amplify-section-body > div >div:nth-child(2n+1) {
  color: red;
}

[2019-09-21 16:03] usmansbk opened #4058 "Unable to stream models to ElasticSearch"
**What is the current behavior?**
When I create a mutation, the `lambda` function that streams `dynamodb` `model`s to `elasticsearch` fails and logs `Unable to import module 'python_streaming_function': cannot import name 'BotocoreHTTPSession'`.
I haven't edited any of the code as it is automatically generated by the `GraphQL Transform`

**What is the expected behavior?**
I should be able to searc

[2019-09-21 17:57] cynosurecreative commented on #3733
@iamkevinwolf I can confirm this is still an ongoing issue as I've only just come across it. Its probably been abit too long for this reply to be of any good to you but for the interim as a quick fix i've resorted to the following:
[code]

[2019-09-21 19:28] 24jr commented on #3928
I still get same error. I'm sure it works fine by itself but prob problem with having all the amplify stuff run collectively

[2019-09-21 20:37] #2951 closed

[2019-09-22 02:07] 24jr commented on #4035
K I just don't know. I just want usernames to be case-insensitive now trying
[code]
and just getting super messy and still not working

[2019-09-22 03:52] WinstonN commented on #2702
I had this very same error
What I realised, is that I needed to run node v8 and that I use nvm to set that version. I think what happened was I ran a node install on the wrong version? Whatever the real cause was, removing node_module, and doing a
```npm use 8; npm install for me fixed it```

Your commands might be different, but essentially, removing node_modules, and reinstalling my dependencies

[2019-09-22 06:54] #3855 closed

[2019-09-22 06:56] PerfectedApp commented on #4023
Are you using Yarn or NPM?

[2019-09-22 08:48] emilcardell commented on #4023
My main project is using Yarn.
I think I have tested NPM when I recreated the problem, did it a couple of times.

Let me get back.

[2019-09-22 09:23] emilcardell commented on #4023
Using NPM works. 👍

Using YARN on both OSX/IOS and Windows/Android fails. Hope it helps someone else.

[2019-09-22 09:23] #4023 closed

[2019-09-22 10:49] pwfcurry commented on #3484
Thanks, this worked!

You can also suppress the warning if disabling analytics doesn't fix the issue:

[code]

[2019-09-22 13:48] borisdering opened #4059 "Unnecessary Amplify init on Codegen"
** Which Category is your question related to? **
Why do I need to init a project when I just want to use the codegen subtooling?

** What AWS Services are you utilizing? **
- Amplify cli

** Provide additional details e.g. code snippets **
amplify codegen types --nodownload

[2019-09-22 14:25] feudadrien commented on #3124
This problem was solved for me by going in Xcode to **Runner -> Signing & Capabilities -> Signing (Debug) -> Check "Automatically Manage Signing"** +Add Team

[2019-09-22 15:23] leosoaivan opened #4060 "Refreshing tokens for Developer Authenticated identities"
** Which Category is your question related to? **
Auth, API

** What AWS Services are you utilizing? **
AWS Lambda, Cognito Identity Pools

** Provide additional details e.g. code snippets **
I'm attempting to implement refresh tokens for LinkedIn users that are federated through an identity pool, and get some overall insight on how `refreshHandlers` work.

At the moment, I'm manually testing this

[2019-09-22 15:25] chris2k2 commented on #2233
Why is this closed? I have the same issue as @s-hood. I have set the limit way above my table size and can't find certain results. Any ideas?

[2019-09-22 15:35] leosoaivan commented on #4060
My apologies for the rubber-ducking, after looking it over, it was multiple mistakes on my part 😬.

Closing :).

[2019-09-22 15:35] #4060 closed

[2019-09-22 20:54] #3796 closed

[2019-09-22 20:58] philohelp commented on #1324
Why not adding this much requested feature as an amplify lambda template that could be deployed with the CLI ?

[2019-09-23 00:18] sollipse commented on #4058
+1 We have started seeing this issue in an extremely similar timeframe.

Has the version of Botocore made available to AWS Lambda changed? Alternatively, have the amplify team made any changes to the underlying zipfile housing this Streaming code?

Please treat this as a high severity issue. As Amplify does not offer a way to "refresh" entries in ES, the only remedy to missing ES records at them m

[2019-09-23 00:37] sollipse opened #4062 "[SEVERE]: Updates to default Botocore Version in AWS Lambda for Python 3.6 BREAKS Amplify ElasticSearch Lambda Streaming Function"
**Describe the bug**
Root cause of the symptoms discussed in https://github.com/aws-amplify/amplify-js/issues/4058

I have performed a local test of Python 3.6 Lambda Execution environment to confirm:

printing BOTOCORE version available by default in lambda
according to AWS Docs, this should be 1.10.74 for Python 3.6
ACTUAL BOTOCORE VERSION:
1.12.221

In this botocore version, attempts to import

[2019-09-23 01:02] danawoodman commented on #122
Same here, we added `@aws-amplify/auth` import and our bundle went from ~30kb to 130kb 😩

[2019-09-23 01:56] emonhaider commented on #3635
@manueliglesias is it a requirement to create the Cognito resource through Amplify (amplity auth add)? I have a an existing user pool that I want to leverage from an Angular app. How can I do that? Thanks!

[2019-09-23 04:10] Chad-chaehoon opened #4063 "Uncaught DOMException: Failed to read the 'localStorage' property from 'Window': Access is denied for this document."
** Which Category is your question related to? **
Authentication
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **
After setting up aws-amplify and Auth in my react-create-app, there is a localStorage error when I turned off the function of cookies in the chrome browser.
Even though I added a polyfill empty localStorage, it was not caught from t

[2019-09-23 07:22] JakubRakus commented on #3938
I have the same issue, in my app roles and permissions of a user are changing when user make specific actions. Tried various solution form #446 and other related bugs/issues but they doesn't work. The problem is that Amplify lacks an ability/function/method to manually reload the session and get new tokens. I've checked session tokens before and after invoking various solutions from #446, but toke

[2019-09-23 08:26] Cayce commented on #3938
This will refresh credentials(access key, secret key and session token):

But the user will still have the same permissions.

[2019-09-23 08:39] mevert opened #4064 "PubSub unsubscribe breaks subscribe to topics again"
**Describe the bug**
Updating aws-amplify version to "1.1.40" broke our PubSub subscribe function when calling it again after unsubscribe.

For example, if I subscribe to ['myTopic1','myTopic2'] and then call unsubscribe and subscribe again to those topics later I can no longer receive any IoT messages to related topics. I do not receive any errors when subscribing again. it just does not work.

I

[2019-09-23 11:59] selcuksnad opened #4065 "How to grant access to existing API Gateway endpoints?"
** Which Category is your question related to? **
IAM
** What AWS Services are you utilizing? **
API Gateway with AWS_IAM authorization
** Provide additional details e.g. code snippets **
I have an existing API Gateway endpoint which is setup with AWS_IAM authorization. This endpoint was not generated with amplify. I have a web app developed with amplify (react) using Cognito identity federation.

[2019-09-23 12:43] CoonHouse commented on #661
@adam-harwood and /or @simonbuchan ,
Is there some documentation, tutorial or sample project that follows this approach?

I would like to implement it this way, but I am lost. I find myself constantly starting over without the desired result.

Thanks,
Wilco

[2019-09-23 13:50] Gtosta96 commented on #2806
Hey guys,

I've achieved what I wanted doing the following:

[code]

[code]

[2019-09-23 15:46] darko-dev commented on #4001
HI @elorzafe,

I was looking at the `Auth` class code and it seems odd to me that the `currentAuthenticatedUser` code decides whether the user is federated or not just based on the `aws-amplify-federatedInfo` key from storage. The case where this fails (and the case I am having trouble with) is the initial app load when the storage is empty. The problem with this case is that the code is trying to

[2019-09-23 15:46] y-yeah opened #4066 "AppSync Subscriptions returns error at MqttOverWSProvider.js:280"
**Description of the bug**
When I use AppSync subscriptions in React app (.tsx file), following the instructions of Amplify API, it always returns "Uncaught TypeError: Cannot read property 'clientId' of null" at MqttOverWSProvider.js:280.

**To Reproduce**
Steps to reproduce the behavior:

1. Follow the instructions of AppSync subscriptions on [https://aws-amplify.github.io/docs/js/api](https://aw

[2019-09-23 16:21] darko-dev commented on #4001
Also, I see a couple of pull requests (https://github.com/aws-amplify/amplify-js/pull/3991, https://github.com/aws-amplify/amplify-js/pull/4027) where the idea is to switch from `AsyncStorage` from `react-native` package to the one from `"@react-native-community/async-storage"`...

`amazon-cognito-identity-js` is using `react-native@0.44.0` in which `AsyncStorage` is present. No need for react-nat

[2019-09-23 16:23] cyrfer opened #4067 "POSSIBLE BUG: 401 error with Amplify GraphQL Subscription"
** Which Category is your question related to? **
AppSync Subscription

** What AWS Services are you utilizing? **
AppSync

** Provide additional details e.g. code snippets **

I am using the small snippet of code here to make a subscription. It fails with 401.
https://aws-amplify.github.io/docs/js/api#subscriptions

I would like to see a demo of `Subscriptions` working with the Amplify client lib

[2019-09-23 17:29] ak37165 opened #4068 "Switching between multiple users"
** Which Category is your question related to? **
cognito-identity-js

** What AWS Services are you utilizing? **
AWS Cognito

** Provide additional details e.g. code snippets **
The AWS Cognito service API allows multiple users to be logged in from the same device. The JS SDK also seems to support this by saving a separate id-token, refresh token etc. for each user. However, it is not clear what

[2019-09-23 17:42] manueliglesias commented on #4063
Hi @Chad-chaehoon

Are you adding your polyfill before importing amplify? That might do it

[2019-09-23 18:40] luizfilipe commented on #1355
There's any update on that? I'm facing the same problem

[2019-09-23 19:38] elorzafe commented on #4064
@mevert I am sorry you are experiencing this problems.

Can you give more information about your IoT endpoints (in which region are they), are you trying to subscribe with authenticated or guest users?, How are you configuring permissions?. Is it a Web App (which framework are you using?) or React-Native App (iOS or Android or both)?

[2019-09-23 19:39] elorzafe commented on #3039
@mevert I will look into this

[2019-09-23 21:11] anjanbhattrai commented on #1824
Did you find it? Can you share it if you manage to do?

[2019-09-23 22:38] adam-harwood commented on #661
Let me try. So assuming you have a React component that shows your login form (username field, password field, "sign-in" button). When the user clicks sign-in, it would invoke this super-simplified-but-instructional method:

[code]

A few important notes about the above code:
- It's embedding the tenant configuration information (i.e. pool ids, web client ids) in code. This information isn't secre

[2019-09-23 23:00] elorzafe commented on #4064
@mevert I tried to reproduce your problem by unsubscribing and resubscribing having multiple topics, still no issue found. If you can share the code snippet that you are using will it can be useful.

[code]

[2019-09-23 23:47] simonbuchan commented on #661
Also, of course, you could simply show a list of pools (e.g. workspaces, organizations, etc...) on the login screen, or hit an endpoint that has a table of userid to pool info (though that would make public that the account exists and what org they are in) or whatever other system you have.

It is ugly, and has the problems @adam-harwood points out, but from testing there doesn't seem to be a bett

[2019-09-24 00:47] elorzafe commented on #4064
@mevert do you have multiple subscriptions. I could reproduce that problem when unsubscribing one. I will submit a PR to fix this soon.

Thanks for pointing this issue

[2019-09-24 03:36] junejie commented on #1241
removing of node_modules didn't work for me.

[2019-09-24 07:27] IonutRealDevs opened #4070 "React Native Subscription"
** Which Category is your question related to? **
Subscriptions

** What AWS Services are you utilizing? **
AppSync, Dynamo

** Provide additional details e.g. code snippets **
I have two components in my app, one is used to create a group, the other is used to list all the groups. How can i do to display groups in real time? If I use one single component to create and display groups, it works, bu

[2019-09-24 08:24] mevert commented on #4064
Thanks for the reply. This is for guest (unauthenticated) users. So we do not need to set specific IoT policies in this case.

I created you the simplest possible example code for this problem:

`import React from 'react';
import './App.css';

import Amplify, { PubSub } from 'aws-amplify';
import { AWSIoTProvider } from "@aws-amplify/pubsub/lib/Providers";

Amplify.configure({
  Auth: {
    mandat

[2019-09-24 08:57] JIoJIaJIu opened #4071 "Unable to connect application to Bitbucket repo"
**Describe the bug**
Unable to connect application to Bitbucket repo through AWS Amplify Console

**To Reproduce**

1. Connect new application through AWS Amplify Console
2. Select Bitbucket as source provider
3. Connect to Bitbuket
...
4. On **Save and deploy**
[code]

**Expected behavior**
Sufficient permission should be requested

**For community**
For avoiding the problem I proceed following s

[2019-09-24 09:10] JIoJIaJIu opened #4072 "AWS Amplify console doesn't open with application contained ssh repository url"
**Describe the bug**
When I created a application on amplify as described in case #4071 and pointed git+ssh url
[code]
After that I wasn't able to open AWS Amplify console - continuous loading and error in web-console
![amplify](https://user-images.githubusercontent.com/601863/65497795-684cf480-deed-11e9-9a6d-f82439f5ce33.png)

**To Reproduce**

1. Create amplify application through aws cli and wi

[2019-09-24 10:16] CoonHouse commented on #661
@adam-harwood  and @simonbuchan ,
Thanks for your replies.

@adam-harwood, what I ment was, how to place this in an self created HOC. Sorry I had to be more precisely.
And when going with this approach, I cannot use "amplify push" anymore, i guess?

@simonbuchan do you think this is bad practice? Would you advise another way to implement multi-tenant functionality?

Thanks,
Wilco

[2019-09-24 10:32] jclough96 commented on #4008
@undefobj @elorzafe Is there anything further to add to this discussion? I appreciate you're busy but this is an urgent problem for us.

I was wondering whether cognito has the ability to handle the tokens given from the native sdks? If we implemented a custom solution until something more stable is available from your end?

[2019-09-24 11:30] Qunkero opened #4073 "Auth.signUp. getting token"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Auth (cognito userpools)
** Provide additional details e.g. code snippets **
My question is **How to get token after user signup.**

In my application Frontend have to pass the token on each request. For communication with AWS we use **aws-amplify**. For _signIn_ , I invoke Auth.signIn(username, passw

[2019-09-24 11:40] Arjanvanmaren commented on #4025
@elorzafe Yes that is correct. We do not use the predictions api. But we need the withauthenticator HOC which is only available from the aws-amplify-react-native package.

@PeteOyable We still experience the same issue. I temporarily fixed this issue by downgrading to

[code]

[2019-09-24 12:49] PeteOyable commented on #4025
@Arjanvanmaren thank you, I will give it a try with your solution. But it would be nice if a contributor could see the problem. Because it seems nobody else encounters it, I haven't found anything on the internet except here.

[2019-09-24 13:56] Arjanvanmaren commented on #4025
@PeteOyable Yes indeed I couldn't find anything either on the internet, and spend some time to find a solution. I also hope a contributor sees this 👍 Good luck implementing

[2019-09-24 14:33] JenilynnB commented on #1283
@livioso In `onError` I resubscribe to the query. It seems to be working so far. Though the data I'm subscribing to isn't coming at the speed of a chat app, so I'm not as concerned about missing any data when reconnecting. Here's the general idea of what I had to do to get it working.

Component function (along with similar function for subscribing to item deletions):

    milkUpdateSubscriptionFu

[2019-09-24 15:22] allanweir commented on #1006
This is definitely a problem we're seeing as well, has there been any success with it yet?

[2019-09-24 15:57] ArmorDarks commented on #1006
So far the only way is to hijack errors in a `catch`, check the error and if it's fitting, serve data from the local storage. Of course, you'll also need to keep in sync retrieved from Congito data with the one in the local storage.

[2019-09-24 15:59] undefobj commented on #4008
@jclough96 unfortunately I don't have any information on this as it seems to be something on the Facebook side. Reading online forums for Expo and React Native it seems that sometimes Facebook will incorrectly enforce this policy. It seems to be hit and miss on when they respond with this message. There's nothing that Amplify is doing outside of the guidelines for Facebook or other AppStores, incl

[2019-09-24 16:10] jclough96 commented on #4008
@undefobj thanks for your response. I will raise with Facebook regarding the policy issue. It would still be good to have native SDK support as the hosted ui provides an awkward User experience

[2019-09-24 17:09] undefobj commented on #4008
@jclough96 please do let us know how it goes. To be clear you can use the Hosted UI endpoint for OAuth **without** showing the UI itself. You can simply pass the provider in when leveraging `Auth.federatedSignIn({provider: 'Facebook'})` or use the provider passed down as props when leveraging `withOauth`: https://aws-amplify.github.io/docs/js/authentication#oauth-and-hosted-ui

[2019-09-24 18:10] jordanranz commented on #4044
@mdsadique2 thanks for the additional detail. I marked this as a feature request to evaluate with the team.

[2019-09-24 18:45] CinnyCao opened #4075 "Federated Sign In example if using amazon-cognito-identity-js only"
Hi,

We have a Cognito user pool with federated OpenId Connect. Is there's any code example for doing federated sign in with amazon-cognito-identity-js only? Our app is an Angular app.

Many thanks for any help.

[2019-09-24 19:51] amirmishani opened #4090 "AWS Appsync Optimistic Response and Models that have relationships using @connection"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
AWS Appsync SDK

** Provide additional details e.g. code snippets **
How do you get AWS Appsync Optimistic Response to work when your models have relationships using @connection?

The generated mutation input fields don't take "jobs" as input but the optimistic response requires it to work. I get this

[2019-09-24 21:55] adam-harwood commented on #661
I think you might find it easiest to build your own HOC, rather than re-use Amplify's Authenticator in any way. A component that checks if the user is logged-in, in componentDidMount (assuming React), and if so displays the app or if not display the Sign-in form should be all you need.

I don't have much experience with amplify push (I manage all of my resources with cloud formation running from a

[2019-09-24 21:59] #3966 closed

[2019-09-24 23:25] simonbuchan commented on #661
*Specifically* using email suffixes, hard coded into the app? Probably fine for getting off the ground, but you'll probably want something fancier pretty quick, whether that's a token in a sign-up link, db lookup, etc.. Do be careful to do security threat modelling and make sure you're not leaking info though.

Where "this" is using your business logic to determine which pool to log into? Perfectl

[2019-09-24 23:42] manueliglesias commented on #4068
Hi @ak37165

I think this is currently not supported in Amplify, I am labeling this issue as a feature request

Thanks!

[2019-09-25 00:08] manueliglesias commented on #4070
Hi @IonutRealDevs

are you using the [Connect](https://aws-amplify.github.io/docs/js/api#connect) component? If so, you'll find a code sample in the docs I linked to show you how to use subscriptions.

Let us know how it goes

[2019-09-25 00:15] manueliglesias commented on #4075
Hi @CinnyCao

The `amazon-cognito-identity-js` package is not recommended for direct consumption. We'd recommend using Amplify's Auth category to achieve this.

Take a look at [this section in the docs](https://aws-amplify.github.io/docs/js/authentication#oauth-and-federation-overview) for more info.

Is there a reason why you want to use `amazon-cognito-identity-js` only? Hopefully AmplifyJS can

[2019-09-25 00:16] manueliglesias commented on #4067
Hi @cyrfer

What auth mode is your AppSync graphql api using?
Are queries/mutations working for you?

[2019-09-25 00:22] manueliglesias commented on #4073
Hi @Qunkero

I think your approach is sound, ideally, the password is kept in memory only for a brief period between the `confirm` and `signIn` calls

As of today, I think that's the only option. I'll bring this up to the team for discussion.

Thanks for using Amplify!

[2019-09-25 00:22] #4073 closed

[2019-09-25 00:38] cyrfer commented on #4067
@manueliglesias We can close this ticket. I got a subscription to work finally. However, I can see the community really needs a demo using the latest versions of libraries in order to support Hooks for GraphQL queries.

I am using IAM auth, and my Cognito UserPool had multiple Groups.

My problem was that I had overlooked the necessary `appsync:*` or `iot:*` permissions required on the Group my Co

[2019-09-25 01:32] manueliglesias commented on #4067
I am glad you got it working, thanks for posting your solution so other users can benefit from it.

Thank you for the feedback around a demo using hooks, @dabit3 has a very good [medium post](https://medium.com/open-graphql/react-hooks-for-graphql-3fa8ebdd6c62) showing this, hopefully it helps.

[2019-09-25 01:32] #4067 closed

[2019-09-25 02:10] elorzafe commented on #4064
@mevert thanks for your code snippet I have a PR in place to fix this issue.

Thanks again

[2019-09-25 02:39] MatteoGioioso commented on #2417
Our use case is to add an additional step for the user to send the email.
As my understanding the email is already changed after the `updateUserAttributes` has been called successfully.

[2019-09-25 04:34] kevinold opened #4080 "Joint access to DynamoDB record with AppSync using Dynamic Group Authorization"
** Which Category is your question related to? **
Authentication and Authorization

** What AWS Services are you utilizing? **
Amplify, AppSync, Cognito, DynamoDB

** Provide additional details e.g. code snippets **

I have a requirement of having 2 users with shared access to a DynamoDB Item.

I cannot use a Cognito Group for the users, as I wish to have 2 users that sign up via social authentica

[2019-09-25 05:02] blairtaylor opened #4081 "Using enums in our graphql schema"
We are using enums in our graphql schema in Amplify/AppSync.

We are confused as to what Amplify enforces and how to use the enums. Simply saving the string values works fine but we'd really like to limit available options to enums to add integrity to the code.

What is the best way to save an enum using a mutator and to compare queried values using the enum. The generated /src/graphql files don't

[2019-09-25 05:17] kevinold commented on #4080
Closing to post in the amplify-cli repo

[2019-09-25 05:17] #4080 closed

[2019-09-25 07:03] ErickMwazonga commented on #3190
++
same problem
@apollo/react-hooks@3.1.0 requires a peer of graphql@^14.3.1
@apollo/react-common@3.1.0 requires a peer of graphql@^14.3.1

[2019-09-25 08:02] ricardoribas commented on #4049
@jordanranz i wonder if there is any progress on this topic. 🤓

[2019-09-25 08:33] TalUser commented on #3401
Hey, did you find an answer for this, I'm experiencing the same issue.

[2019-09-25 08:39] sandaruny commented on #3699
![Uploading image.png…]()
Can confirm @bneigher scenario. Since it can be retry, is there a way to catch it and retry?

[2019-09-25 08:46] Rayv1 commented on #1852
@BerndWessels do you have any documentation about using amazon_cognito_identity_dart with subscriptions?

[2019-09-25 08:48] MatthieuLab commented on #1852
Hi @mlabieniec

Any update about a roadmap on this topic ?
Thanks

[2019-09-25 10:31] ViggoV commented on #3635
But what if you want to use Cognito in a another setup, that isn't published to S3 and don't need any of the other resources that Amplify creates? We are migrating our K8S cluster to EKS and would like to explore the possibility of creating a shared Cognito User Pool across our product family. However, almost every resource I've found on Cognito promotes Amplify as the way to use it. Since Amplify

[2019-09-25 11:35] AshleyTharpTL commented on #1613
I also want to use prerender.io on my site hosted with Amplify but I cannot find a way to do this.

[2019-09-25 11:54] ashish-dirkmedia-de opened #4082 "Angular 6 federatedSignIn buttons not showing"
I am using Angular 6. Have done all as in the doc. Userpool login works but the social login like facebook, google is not showing in my form.

[2019-09-25 15:32] ak37165 commented on #4068
Sounds good.

Here is a suggestion to implement this feature. Since the method refreshSession is part of CognitoUser.js, and cognitoUser object already has a username, there is no need to overwrite that with the LastAuthUser (Line https://github.com/aws-amplify/amplify-js/blob/0b7ec212960e87d88b30ef8bf7028f19f041dac1/packages/amazon-cognito-identity-js/src/CognitoUser.js#L1339).

CognitoUser objec

[2019-09-25 17:41] camilobern commented on #3635
The problem comes when you want to integrate Cognito with an existing application.
We have an existing pipeline and existing user pools. Here we just want to be able to leverage Cognito as an IdP. Bringing in Amplify implied changing our deployment pipeline and recreating our existing user pool.

[2019-09-25 18:15] mlabieniec commented on #3622
@wmcbain is this app you are seeing this on an Angular app? Otherwise, what does your stack look like? This looks like a network timeout ultimately, but i've seen this in an angular app recently as well, specifically on Ubuntu OS and Angular 7

[2019-09-25 19:26] kosterar commented on #1852
Any news?

[2019-09-25 19:57] evanemolo opened #4083 "Does `Auth.forgotPassword()` have a `Hub` event associated with it?"
** Which Category is your question related to? **
Using `Hub` with `Auth`-related methods

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
Calling [`Auth.forgotPassword(<some value>)`]() has no associated `Hub` event on the `auth` channel. Is this intentional or a bug? Considering forgetting a password is an auth-related method, one might exp

[2019-09-25 21:16] CoonHouse commented on #661
@adam-harwood and @simonbuchan ,
Thanks,
@adam-harwood: I will try to create my own HOC for authentication.

@simonbuchan: I will investigate which route to take. Using multiple user pools or using some sort of "tenantid". I want to provide each customer (tenant) the possibility to create users and assign them specific rights to selected data inside their own environment (tenant). So my guess woul

[2019-09-25 21:41] elorzafe commented on #4064
@mevert it was published the unstable version for pubsub `@aws-amplify/pubsub@1.1.3-unstable.18+61ec13f2` this version contains the fix for the problem you have. Let me know if you have any issues.

[2019-09-25 21:48] manueliglesias commented on #4057
Hi @ChrisLFieldsII

Thank you for the very detailed repo and video. After a quick look, seems like our react native `Authenticator` component is not listening for auth events using the `Hub` [the way the react version does](https://github.com/aws-amplify/amplify-js/blob/33be94c3302985f0d84ce275dfdf8e6b3ca69e98/packages/aws-amplify-react/src/Auth/Authenticator.tsx#L137-L163)

I don't have a good wo

[2019-09-25 22:19] udeshx commented on #4042
I am having a similar issue with a search being generated by amplify.
The data exists and can be access via List queries but search does not work.
![appsync search not working](https://user-images.githubusercontent.com/28942294/65643992-69d60400-e036-11e9-942d-24ddbf9d9d47.PNG)

[2019-09-26 00:15] manueliglesias commented on #4066
Hi @y-yeah

Do you see requests to the `/graphql` endpoint in your network tab when doing the subscription? If so, are these requests successful?? (e.g. http status 200 and data in the response)

[2019-09-26 00:25] manueliglesias commented on #4083
Hi @evanemolo

`forgotPassword` is missing its associated Hub event, thanks for reporting this

[2019-09-26 00:32] sacrampton opened #4085 "FILTER OFFLINE CACHE - ALTERNATE RESOLVERS FOR OFFLINE"
**Is your feature request related to a problem? Please describe.**

Any query that is made is cached and available for offline access. So if I'm online and query for all assets in a facility all of those records will be cached. When I'm offline I can repeat the query for all assets in the facility and see those records. However, if I would like to filter that offline cache by modifying the query (

[2019-09-26 00:33] udeshx commented on #4042
Could the problem may be that the elasticsearch indices  are not being built?
![no indices](https://user-images.githubusercontent.com/28942294/65649233-099c8d80-e049-11e9-800c-199618963eb4.PNG)

[2019-09-26 03:11] dennisrjohn opened #4086 "Executing a function from an anonymous user"
** Which Category is your question related to? **
Appsync, authorization, Cognito

** What AWS Services are you utilizing? **
Appsync, Lambda

** Provide additional details e.g. code snippets **
We have the following query in our Graphql Schema which execute a lambda function:
type Query {
  randomAccounts: RandomAccounts @function(name: "GetFeaturedAccounts-${env}")
}

We need the randomAccounts

[2019-09-26 04:03] CodySwannGT commented on #3814
Any action here?

[2019-09-26 07:59] emilcardell opened #4087 "How to get auth.login to save to storage"
**Which Category is your question related to?**
Authentication custom session storage

**What AWS Services are you utilizing?**
Cognito

**Provide additional details e.g. code snippets**

So I'm trying to use this code.
https://github.com/aws-amplify/amplify-js/blob/master/packages/core/src/StorageHelper/reactnative.ts

I init the storage.

[code]

I've added console.log first line before set and

[2019-09-26 08:09] ckedar commented on #4023
To make it work with yarn, pin the version of `@amplify/core` to `1.1.2` in your `package.json`

    "resolutions": {
         "@aws-amplify/core": "1.1.2"
    }

[2019-09-26 09:54] tasos-eft commented on #3706
@haverchuck I think it returns an authentication error

[2019-09-26 10:44] lapair commented on #3831
This is still an issue!

On Thu, 26 Sep 2019 at 10:36, stale[bot] <notifications@github.com> wrote:

[2019-09-26 12:43] IonutRealDevs commented on #4070
Subscription still doesn't work... I don't know i'm doing wrong. Here is my code if you can check it.

List.js
[code]

Create.js
[code]

Also, i want to insert data from Create component. I don't want that Create component to be rendered in List component if is possible.

[2019-09-26 13:33] jkeczan commented on #4028
We are seeing the same. @selipso do you have a workaround already in place?

[2019-09-26 13:34] murribu commented on #2562
My solution was to combine the `SignUp` and the `ConfirmSignUp` Components:

[code]

[2019-09-26 14:17] sarahgriffis commented on #2562
Would love an update on the Cognito team!  This feature seems like a no brainer.

[2019-09-26 14:36] y-yeah commented on #4066
Hi @manueliglesias

I saw all the graphql working with status 200, but I think all of which come from queries and mutations.

[2019-09-26 15:38] Fawwad-Khan opened #4088 "Single API request makes 2 requests"
** API Requests **

** Lambda **

When making http requests using the API module, and noticed that upon calling the function once APP.get() for example, it makes 2 requests, 1 with OPTIONS method and it makes the original request after the first ones response. Im looking to improve the performance of My application and this is really getting in the way.

Please help me understand why is it so, any

[2019-09-26 16:11] jkeys-ecg-nmsu commented on #4088
That's standard HTTPS practice, you'll see the same thing if you use axios to invoke your AppSync endpoint directly.

[2019-09-26 16:34] bernhardt1 opened #4089 "support RN-0.60.+ for @aws-amplify/pushnotification"
**Describe the bug**
There are many issues with this library when installing it in a RN0.60.+ project. The worst part is, none of these are mentioned in the installation docs.

The vast majority of other libraries provide detailed instructions for installation depending on the projects RN version. When using RN0.60.+ they almost all provide support for autolinking. For those using versions less th

[2019-09-26 16:41] moorStef commented on #1035
+1

[2019-09-26 17:36] manueliglesias commented on #4048
Hi @rawadrifai

You can find an example on how to do this in the docs ([GraphQL from Lambda
](https://aws-amplify.github.io/docs/cli-toolchain/quickstart#graphql-from-lambda))

Please note that using Amplify in node is not fully supported but some use cases work (YMMV). This specific one, it is better to use the lambda provided in the docs.

I hope this helps

[2019-09-26 17:36] #4048 closed

[2019-09-26 17:57] manueliglesias commented on #4088
Hi @Fawwad-Khan

Yeah, as @jkeys-ecg-nmsu mentioned, this is standard practice in web browsers.

If you'd like more info about it, take a look at [Preflight request](https://developer.mozilla.org/en-US/docs/Glossary/Preflight_request)

[2019-09-26 17:57] #4088 closed

[2019-09-26 18:42] manueliglesias commented on #3622
Hi @wmcbain

Can you provide a request id for the request that timed out? (You can find it as a response header in the network tab of the developer tools)

[2019-09-26 18:53] manueliglesias commented on #4085
Hi @sacrampton

Are you using https://github.com/awslabs/aws-mobile-appsync-sdk-js/ ?

I am a little confused about your use case, could you elaborate a little bit more? specially around the resolvers aspect.

It is my impression that you are somehow providing "local resolvers"to the apollo client, is that correct?

[2019-09-26 19:10] Jun711 commented on #3693
bump

[2019-09-26 19:30] bernhardt1 commented on #4089
Update: Android is working without explicitly linking the package.

I was able to skip much of the documentation to get notifications working on android.
parts of step 3, 6,  and 7.

The iOS documentation seems to have similar problems.

[2019-09-26 19:49] 2advancesolutions commented on #2012
This example makes no sense

[2019-09-26 19:56] camilobern commented on #991
Keeping this issue alive.

This is a feature we'd like to be introduced, it's especially important for user retention on registration.

[2019-09-26 19:56] manueliglesias commented on #4087
Hi @emilcardell

Which version of react-native are you using?

You shouldn't have to specify a custom storage if you want to use the default one. Can you try removing the `    storage: new StorageHelper().getStorage(),` line?

[2019-09-26 19:59] manueliglesias commented on #4066
This is strange, can you double check if any of those requests are for subscriptions? also, take a close look at the response tab, there should be some data in there

[2019-09-26 20:08] KBB99 commented on #2951
Still having this issue.

[2019-09-26 20:19] manueliglesias commented on #4082
Hi @ashish-dirkmedia-de

This should be addressed by #2900

[2019-09-26 20:41] manueliglesias commented on #4090
Hi @amirmishani

The `graphqlMutation` helper doesn't work on types with connections at the moment. For now you'll have to write your own apollo update functions, I am sorry I don't have a better suggestion at the moment.

I am labeling this as a feature request.

[2019-09-26 20:57] manueliglesias commented on #4070
That looks good to me :D I am happy you got it working

[2019-09-26 20:57] #4070 closed

[2019-09-26 21:04] McCrearyD opened #4091 "S3 Upload: CredentialsError: "Missing credentials in config""
**Describe the bug**
After authenticating a user, and using the Storage component to put an object, it gives the error CredentialsError: "Missing credentials in config".

I followed the instructions of other issues on this repo, however all of them say to uninstall the node_modules/package-lock.json & reinstall. This simply does not do anything for me. There is no duplicate aws-sdk versions and aw

[2019-09-26 21:15] McCrearyD commented on #4091
I figured it out, since I have roles being assumed due to the "choose from token" feature, I need to add their inline permissions for those users to adhere to the standard:

https://aws-amplify.github.io/docs/js/storage#using-amazon-s3

[2019-09-26 21:24] manueliglesias commented on #4086
Hi @dennisrjohn

AppSync supports "multi-auth", take a look at this blog post: [Using multiple authorization types with AWS AppSync GraphQL APIs](https://aws.amazon.com/blogs/mobile/using-multiple-authorization-types-with-aws-appsync-graphql-apis/)

Hopefully the blog post helps, if not, feel free to post an update here

[2019-09-26 21:26] manueliglesias commented on #4091
@McCrearyD  Nice! Thanks for sharing your solution

[2019-09-26 21:26] #4091 closed

[2019-09-26 21:29] dennisrjohn commented on #4086
I had read that post and tried to apply what it said, it seems to only apply to models, not queries.

[2019-09-26 21:29] sacrampton commented on #4085
Hi @manueliglesias

Yes using the sdk for a react native app. Let me try explain my use case.

I have a custom searchable resolver for executing fuzzy full text queries against ElasticSearch and sorting them by multiple conditions. So when I'm on-line I can use the full capabilities of ElasticSearch. When I'm offline I can retrieve any query that I've previously executed as it is cached.

For exam

[2019-09-26 21:30] amirmishani commented on #4090
@manueliglesias Thanks for the info. After I opened the issue I did end up writing my own apollo update functions and it's working perfectly. Obviously the boilerplate is a bit much but it's worth getting the offline capabilities.

[2019-09-26 22:01] manueliglesias commented on #4085
Thanks @sacrampton

That's a very interesting use case!

Not being able to freely query previously fetched results is an issue derived from the fact that Apollo uses a *cache* and not a *database/datastore*.

We've been thinking about this lately, what would you think of a datastore that stores data locally and give you the option to query it with some sort of predicates?

e.g.

[code]

Imagine th

[2019-09-26 22:11] sacrampton commented on #4085
Hi @manueliglesias

My app is used in really remote places (offshore oil rigs, remote mining camps, etc.) and my users can be offline for days or weeks. Before they go to site they download all assets they need to work on. Then they can filter for the assets they need. A large facility could have 200K assets. At the moment I can get those 200K records onto the device - but I can't really do much w

[2019-09-26 22:12] bneigher commented on #4089
Yea amplify-js is getting very antiquated regarding it's support on modern react native.  I'm about ready to remove it from my app.   Feels like the web is treated more like a first class citizen and react native is an afterthought

[2019-09-26 22:24] bernhardt1 commented on #4089
@bneigher

I've thought about that. AWS is pretty integrated into my app at this point though. Authentication, storage, push notifications. Not to mention appsync and lambda.

If you decide to remove it let me know. Would be interesting to talk about alternative options. @ me here or twitter @JasonBernhardt1

[2019-09-27 03:09] y-yeah commented on #4066
@manueliglesias

Oh sorry, I found subscription. Its state was 200.

As for the data, it was something like this:

[code]

[2019-09-27 03:22] rawadrifai commented on #4048
Does help @manueliglesias. Thank you.

[2019-09-27 03:52] jdnichollsc commented on #678
awesome, thanks!

[2019-09-27 05:26] chrismcdonald0111 opened #4094 "Plaintext Password Visible for 'SignUp' ONLY using USER_SRP_AUTH as CognitoUser.authenticationFlowType"
**Describe the bug**
Plaintext password is visible on the client-side (web browser) when using Amplify to authenticate with Cognito for the 'SignUp' method only, the 'SignIn' method does not have this issue.

Using Chrome dev tools, when Amplify's 'SignUp' method is called, it displays the password as plaintext in the 'Password' field in the 'AuthParameters' HTTP(s) header request payload.

**To R

[2019-09-27 05:58] thinhvo0108 commented on #4094
This is a serious security issue, I have exactly the same problem!

[2019-09-27 06:10] Fawwad-Khan commented on #4088
@jkeys-ecg-nmsu, @manueliglesias Thanks a lot for clearing it up, oddly enough I didn't find anything on it while I was google, maybe I didnt phrase it right :sweat_smile: , Thanks again :smiley:

[2019-09-27 08:45] #2739 closed

[2019-09-27 08:59] hp0210 opened #4095 "signIn_failure error when user logging with Oauth - SAML provider"
**Describe the bug**
Several of our users that reported they can no login via the SSO flow (oauth flow via hosted ui to SAML provider) after we upgrade aws-amplify library. Aws-amplify dispatch signIn_failure event

**Additional conext**
We recently upgraded our aws-amplify library from 1.1.9 to 1.1.36 and aws-amplify-react from 1.0.19 to 2.3.12:
* In this update we also replaced the way we initia

[2019-09-27 10:22] KristineTrona commented on #2487
@tcchau were you able to implement working link in the custom message for the case where triggerSource  is 'CustomMessage_AdminCreateUser' ?

While my custom message lambda trigger works correctly for sending a link for triggerSource 'CustomMessage_ForgotPassword', for some reason it does not for 'CustomMessage_AdminCreateUser'. The subject of the received email is set correctly by the lambda, but

[2019-09-27 11:33] KristineTrona commented on #2487
Nevermind, I figured it out. In case somebody else is struggling with the same thing:

Your custom message has to involve both event.request.codeParameter and event.request.usernameParameter. I was using event.userName instead of the usernameParemeter, which was automatically invalidating my custom message. Another thing to keep in mind is that if you are using an email address as username - you c

[2019-09-27 14:16] ntrabue opened #4096 "401 error only in Amplify deployment"
** Which Category is your question related to? **
AppSync? Cognito? Amplify

** What AWS Services are you utilizing? **
AppSync,
Cognito,
Amplify CLI,
Amplify console,
DynamoDB

** Provide additional details e.g. code snippets **
Sorry, I'm sure this is something simple that I'm missing. Deployment to S3 and working locally I'm able to log in, query and mutate data but I get a 401 error on my Ampl

[2019-09-27 14:28] CaptainChemist commented on #1613
@AshleyTharpTL you might want to try https://www.prerender.cloud/ because I know that works for static sites created with create-react-app so it would likely work here. The idea is you deploy a cloudformation template that sets up a lambda function which will be in front of your website. As requests come in, the lambda will pre-render everything which will give you server-side rendering.

[2019-09-27 15:42] cmckni3 commented on #3906
Any updates? I have resolved this by fixing my IAM role.

[2019-09-27 17:32] manueliglesias commented on #4066
Thank you @y-yeah , that response looks correct.

What version of amplify are you using?

[2019-09-27 17:32] johhansantana commented on #122
Following some of the suggestions here using `@aws-amplify/auth` instead of `aws-amplify` reduced our bundle where we use the login form by almost 90% I would say:

<img width="352" alt="Screen Shot 2019-09-27 at 1 31 02 PM" src="https://user-images.githubusercontent.com/9933887/65789295-172a4400-e12b-11e9-958d-dfa7443733bd.png">

vs

<img width="347" alt="Screen Shot 2019-09-27 at 1 27 34 PM" src

[2019-09-27 18:43] manueliglesias commented on #4094
Hi @chrismcdonald0111

Thanks for creating this issue, let me share my thoughts on this

Cognito uses SRP for Authentication and passwords are not stored at all on the service

From https://en.wikipedia.org/wiki/Secure_Remote_Password_protocol

This assumes that the server had, at some point, knowledge of the "password" (or a cryptographic verifier derived from the password), SRP doesn't cover the

[2019-09-27 18:52] tcchau commented on #2487
@KristineTrona Glad to hear that you've resolved the issue!

A couple other notes that may or may not help you:

- We generate our own UUIDs for use as the Cognito username. We avoided using the email address because the Username field cannot be changed/updated; it's permanent. We allow logins via email by allowing email addresses to be used as an alias for Username. We also use the preferred_user

[2019-09-27 19:03] j0b0sapi3n commented on #122
So just to confirm, instead of doing this which my app current does:
`import { Auth, API, Storage } from 'aws-amplify';`

I should do this:
`import Auth from 'aws-amplify/auth';`
`import API from 'aws-amplify/api';`
`import Storage from 'aws-amplify/storage';`

Or should I also be changing my package from `aws-amplify` to adding each individual package from `@aws-amplify`? Thanks for the help!

[2019-09-27 19:04] manueliglesias commented on #4095
Hi @hp0210

I've seen `{"error":"invalid_grant"}` in the past when for some reason `/oauth2/token` is called twice. Is this the case?

[2019-09-27 19:11] manueliglesias commented on #4086
@dennisrjohn

It should work with queries too, the blog post has an example like this:

[code]

It is poorly formatted because it is not very clear that in this case that the `@aws_api_key` directive is added to the `getAllPosts` query.

Also, I found this other resource that might be helpful for you
https://github.com/dabit3/appsync-auth-and-unauth

[2019-09-27 19:20] brandondurham commented on #2834
It’s unfortunate that the theming system here is so limiting. I can style some aspects of the toast errors, but not, for instance, the “x” button with pseudo elements.

[2019-09-27 19:25] mlabieniec commented on #122
@j0b0sapi3n you would want to do this:

[code]

See example here:
https://github.com/mlabieniec/photo-translate/blob/master/src/main.ts#L7-L12

[2019-09-27 19:51] Jun711 commented on #3436
@mlabieniec
I wonder how accurate device tracking is. Is there an easy way for users to reset the tracking id?

[2019-09-27 20:51] sambecker commented on #1853
@tqhoughton you really helped me with the recommendation to use `completeNewPassword`.

Per the original question from @dguisinger I am also attempting to create user credentials with pre-defined passwords. Is there any way to avoid the password challenge on these types of accounts?

I would prefer to set the credentials upon account creation and then not provide a UI for passwords to be overridde

[2019-09-27 22:05] djheru commented on #3895
I'd like to first comment that I'm really impressed with this library, and I'd like to give a hearty thank you to the teams that have added so many useful, well-integrated, and multi-faceted features

I disagree that this is "normal behavior". The CLI has the capability to add multiple `redirectSignIn`/`redirectSignOut` values to the config, but it adds them in such a way that breaks the functiona

[2019-09-27 22:20] tqhoughton commented on #1853
I don't believe that pattern is possible. All users created through adminCreateUser must change their password as part of the auth flow or they will remain in the COMPLETE_NEW_PASSWORD state.

[2019-09-27 23:52] hp0210 commented on #4095
Hi @manueliglesias, from our the investigation session with an impacted user, we can confirm that there was only a single call to the token endpoint. We don't have any access to the logging of cognito hosted UI logging for that endpoint, so it is really hard to see what went wrong there.

Do you know anything else that could cause this?

[2019-09-28 06:05] y-yeah commented on #4066
Here is the screenshot of the dependencies regarding AWS.
<img width="259" alt="スクリーンショット 2019-09-28 15 04 08" src="https://user-images.githubusercontent.com/39003567/65812365-57f48c80-e201-11e9-847e-55f85cfa4193.png">

[2019-09-28 16:43] munkk opened #4098 "How can i minify amplify app"
Hello. I'm using react/amplify stack. After publishing app, i realized that all code there is not minified, i'm able to open any component and see it's unminified source code. As i understood, amplify builds app based on it's amplify.yml file. I didn't change there anything and it looks like this:
`version: 0.1
backend:
  phases:
    build:
      commands:
        - '# Execute Amplify CLI with the

[2019-09-29 05:03] rutum commented on #1368
+1 (or +233323232323 - if that can speed up the process to support this)

[2019-09-29 13:13] LucianGalea commented on #3590
Any updates on this? This issue prevents me from using the Amplify Library in production.

[2019-09-29 15:10] akucharczyk commented on #2702
I have the same error message but I do not have any storage in my `aws-export.js`.

[code]

I am now searching since three weeks at this bug my you could help me.

[2019-09-29 16:15] Benassou commented on #3590
I just used `Auth.currentAuthenticatedUser()` to get the current user. You can then sign out the user using the returned user object.

[2019-09-29 19:55] MaffooBristol commented on #4089
The library forces the use of the bundled RN push notifications library and every single workaround I've tried has not worked. It seems it simply needs to be updated to allow the `@react-native-community` version of the library to work. Hopefully there can be some solution soon because I'm trying to integrate amplify with a new RN-0.61 project and I'd rather not have to downgrade RN just for this.

[2019-09-29 19:55] MaffooBristol commented on #4089
Also, for the sake of Google, this is the error I get after it has built:

[code]

[2019-09-29 21:36] carnesen commented on #3409
AFAIK this issue still exists in the software.

[2019-09-30 01:02] #3458 closed

[2019-09-30 06:53] hp0210 commented on #4095
In the meantime, we have reverted the solution back to manually construct the hosted UI URL and redirect user to that instead of using Auth.federatedSignIn method.

We suspect that something in our application logic (maybe sth to do with cookies/localStorage) that may conflict with the way aws-amplify generate and handle the random state but we are not really sure

[2019-09-30 07:09] nickchauhan opened #4100 "AWS Amplify SPA React + Cognito (Microsoft Azure Ad Enterprise SSO Enabled ) + Microsoft Graph API"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
I'm using React for developing a single page application and AWS Amplify for serverless integration. To Sign-in the user, I have successfully configured the AWS Cognito console with SAML so that our organization users can log in the applicat

[2019-09-30 08:32] mevert commented on #4064
Thanks. I tried with following packages in package.json:
[code]
Removed package-lock.json and node_modules and reinstalled everything but I still have the same problem. Tried importing PubSub with `import PubSub from '@aws-amplify/pubsub'` and `import Amplify, { PubSub} from 'aws-amplify';` Tested with same code example as I already provided. Any idea why it won't work? @elorzafe

[2019-09-30 14:37] LucianGalea commented on #3590
Thank you, this is a good workaround.

[2019-09-30 14:42] JohnGrisham opened #4101 "IdentityId does not get cleared between logins when uploading files into storage."
**Description of Issue**

When logging out as one user and signing in as another the first users identity id will be used for the second when uploading a photo via the storage.put method. Resulting in the error: **Logins don't match. Please include at least one valid login for this identity or identity pool**

**To reproduce**

1. Log in with a user.
2. Upload a photo with storage.put method.
3. I

[2019-09-30 15:27] haverchuck commented on #4100
@nickchauhan - How would you normally go about authorizing these calls to the MS Graph API?  What kind of credentials are typically needed?

[2019-09-30 18:14] haverchuck commented on #4101
@JohnGrisham I have been unable to reproduce this.  When you signout as user 1, do you see local storage (or whatever storage mechanism you are using) getting cleared out?

[2019-09-30 18:20] haverchuck commented on #4095
@hp0210 According to the [Cognito documentation](https://docs.aws.amazon.com/cognito/latest/developerguide/token-endpoint.html), this error can be caused by the following:

- Refresh token has been revoked.

- Authorization code has been consumed already or does not exist.

[2019-09-30 18:22] haverchuck commented on #3893
Closing due to inactivity.

[2019-09-30 18:22] #3893 closed

[2019-09-30 21:17] martin19 opened #4104 "Get username when authenticating with email alias."
I'm trying to get the username for a user who logs in via email alias.

The following call does send a getUser call to cognito which contains the username and attributes.
[code]
However calling user.getUsername() will return the email alias instead of the username.
My current workaround gets the somehow cached response from the storage:

[code]

I feel this is a bug and the real user name should b

[2019-09-30 21:29] sambecker commented on #3283
@Senneseph same issue. I am using cookies. My `signOut` wasn't working so I tried `signOut({ global: true })`. After that no sign in for this user has worked and I keep getting the console error `AuthClass - Failed to get the signed in user No current user`. I've deleted all cookies for `localhost` but nothing has worked so far. Any ideas?

[2019-09-30 21:36] sambecker commented on #3283
@Senneseph @ricky-sb quick follow-up, I removed the following from `Amplify.configure`:

[code]

And everything started working again.

What's weird is that if I uncomment those lines it breaks again.

In other words, I can't go back to storing sessions in cookies. `signOut({ global: true })` seems to have corrupted how cookies work for this user. Is it possible I have to wait out my tokens refres

[2019-09-30 22:03] Senneseph commented on #3283
Can you try in a private browsing window, does it result in the same thing?

And if you try to get a cognito token from the aws cli, is it successful?

[2019-10-01 02:18] jasonwadsworth commented on #3464
I'm having this same issue. Has anyone found a workaround or fix?

[2019-10-01 04:40] jskrt commented on #3854
Any updates on this?

[2019-10-01 05:57] severi commented on #3458
Is there some code regarding your solution you could share? Im facing a similar issue (only 1 user gets generated for Google, but getting the "Already found an entry for username")

This problems seems to have been there since 2017 already (https://forums.aws.amazon.com/thread.jspa?threadID=267154&tstart=0) .... I can't understand how something this critical is not working. Makes me reconsider usi

[2019-10-01 06:43] pravgupt commented on #3906
There are no retries when CORS error happens in Amplify library. I'm thinking is your application is trying to track multiple events (pageviews, sessions, clicks etc.) and each request is failing once and so you see multiple requests made in the browser.

[2019-10-01 07:05] nickchauhan commented on #4100
@haverchuck
There are 2 methods to call the Graph.

1. **[OAuth 2.0 Implicit grant flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-implicit-grant-flow)** - This flow can be implemented using the [MSAL.js](https://github.com/AzureAD/microsoft-authentication-library-for-js) but it redirects to Sign in Page or opens up a popup window, which we don't want because of we

[2019-10-01 07:14] DIGITALSQUAD opened #4108 ""; charset=UTF-8" appended when Storage.put with react native for a specific file."
When put a specific movie file, the 'Content-Type' becomes **video/mp4; charset=UTF-8.**
The contentType option of put method seems to be ignored.
`Storage.put('uplload_path', buffer, { level: 'public', contentType: 'video/mp4' })`
Related to this issue? aws/aws-sdk-js#1011

I've tested some movie files recorded by an iOS real device, and some of them are appended '; charset=UTF-8' and some of the

[2019-10-01 07:59] jukkamarttinen commented on #3854
I'm curious about this too. Anyone got this working?

[2019-10-01 11:50] chai86 opened #4109 "Auth.signIn() issue: cannot read property 'username'"
I'm getting the error: Cannot read property 'username' of undefined when trying to sign in with a valid and confirmed user in Cognito. Even if i manually put the username and password in the Auth.signIn( , ) function, i still receive the same error.

I'm using iOS and React Native. I have also updated and done `react-native link amazon-cognito-identity-js` (version @3.0.15)

How can I log in?

[co

[2019-10-01 11:53] chai86 commented on #1775
@haverchuck @jordanranz i'm experiencing what appears to be the same issue same issue #4109

[2019-10-01 13:05] JohnGrisham commented on #4101
@haverchuck Our team uses cookies and yes everything seems to be cleared on logout.

[2019-10-01 13:11] JohnGrisham commented on #4101
I still believe this is an issue that should be solved in amplify but for anyone who comes across this I was able to get around this issue by using Auth.currentUserInfo to get the current users Identity Id and then pass that in the storage.put options. The first attempt will still fail with the same error but it will retry and not throw an error to the user.

[2019-10-01 14:37] #3862 closed

[2019-10-01 15:32] haverchuck commented on #4109
@chai86 I am unable to reproduce this.  Would you mind posting a stack trace?

[2019-10-01 15:47] evbo commented on #3436
What about SPA use-cases, requiring a user to stay logged in greater than 1 hour but no more than 8 hours?

Would the Cognito team (I presume amplify works closely with them) take as feedback to please allow either:

- refresh token expiration less than 1 day (so that if stolen has very limited TTL)
- access token expiration at most 8 hours (obviates the need for refresh token, but still limited T

[2019-10-01 16:04] chai86 commented on #4109
I don't know how much help this will be of to you:

[code]

[2019-10-01 17:17] #3937 closed

[2019-10-01 17:34] imyjimmy commented on #3854
As a temporary stopgap I published my own package, https://www.npmjs.com/package/aws-amplify-react-jz, which is a fork of aws-amplify-react minus the offending line, and it seems to work. It reflects their version `2.3.12`

[2019-10-01 17:35] haverchuck commented on #4100
@nickchauhan So how exactly are you attempting to call this graph right now?  What kind of headers or request params do you need to send to authorize it (authorize, not authenticate)?  Is that where it's execting an access token from Azure?

[2019-10-01 18:06] selipso commented on #4028
@jkeczan I switched to yarn and used the [Selective dependency resolution](https://yarnpkg.com/lang/en/docs/selective-version-resolutions/) feature

[code]

[2019-10-01 18:37] clearwaterstream opened #4112 "Persist and expose AuthErrorType in AuthError. Also, allow AuthErrorTypes to be referenced."
**Is your feature request related to a problem? Please describe.**

I need to check the error type for my flow. If I call `Auth.signup()`, for example, in the `catch(err)` block I need to do something like:

[code]

I think checking for errorType vs the actual error message (which can vary by locale) creates a cleaner and more readable code.

**Describe the solution you'd like**
A clear and concis

[2019-10-01 18:54] haverchuck commented on #4104
@martin19  - I was unable to reproduce this.  How exactly have you configured your userpool?  Is it like this?

![image](https://user-images.githubusercontent.com/10621276/65991419-2ae2ec80-e442-11e9-8987-a633331b1f32.png)

[2019-10-01 18:56] haverchuck commented on #4101
@JohnGrisham Thanks for your response - I'll continue trying to reproduce this using cookie storage.

[2019-10-01 19:40] martin19 commented on #4104
@haverchuck Thanks for your feedback. The pool is configured like this:
![image](https://user-images.githubusercontent.com/4746984/65993519-b3d54480-e491-11e9-8fc2-7f7b12d6bc13.png)

Here is a session that shows the email being returned as username:
![image](https://user-images.githubusercontent.com/4746984/65994492-b20c8080-e493-11e9-8b75-1be58f9bb231.png)
Sending a request to cognito via aws-sdk

[2019-10-01 20:11] kkemple commented on #1145
I'm currently working with someone who experiencing this issue as well. The problem is that they can't call download because the files are very large and that would be a terrible user experience, and doing `Storage.list()` seems like a bad workaround as well. As file number increases it could require looking through 100s or 1000s of items to see if it exists. Is there really no better way to tell

[2019-10-01 20:42] mlabieniec commented on #3436
@Jun711 If you delete local storage, a new device ID will get generated.

[2019-10-01 21:01] #4109 closed

[2019-10-02 03:12] russeg commented on #1145
Return null or throw, but not url. Yes technically returning a 404 url is correct, but it does not make sense. The api should be practical and right now it is not.

[2019-10-02 03:49] Kunie-dev opened #4115 "Amplify Console: How to skip checking back-end environments?"
Amplify Console: How to skip checking back-end environments?
It was spent a lots of times on deployment pipelines.
When we knew what back-end environments were not changed, we want to skip that.
+ Does It have only the option '--simple'  from the command 'amplifyPush' of amplify.yml?

[2019-10-02 06:08] IonutRealDevs opened #4116 "Multiple GraphqlOperations using Connect"
** Which Category is your question related to? **
AppSync, Graphql

** What AWS Services are you utilizing? **
AppSync, DynamoDB

** Provide additional details e.g. code snippets **
Hello.
I have a question about Connect component.
Is there a way to use multiple graphqlOperation, like queries, mutations, subscriptions in same Connect component? If so, how can i achieve that? If not, what is the al

[2019-10-02 07:30] neoPix opened #4117 "Compatibility with Relay"
** Which Category is your question related to? **
- Relay
- Schema

** What AWS Services are you utilizing? **
- Amplify with GraphQL

** Provide additional details e.g. code snippets **

I'm currently trying to make Amplify work with relay.js. This graphQL client requires a  standard way of organizing the GQL schema which is not the way Amplify does things.

https://relay.dev/docs/en/graphql-serv

[2019-10-02 08:30] ziggahunhow commented on #1715
this happened yesterday since we were using Immutable in redux reducers, which created a clone of the user object. If you are doing the same, please be aware and pass the user object **directly.**

[2019-10-02 09:40] cantwelc opened #4118 "Track Cognito admin API on Amplify Hub"
**Is your feature request related to a problem? Please describe.**
Amplify Hub does not listen for Cognito Admin API calls

**Describe the solution you'd like**
For Hub to listen for all Cogntio calls

**Describe alternatives you've considered**

**Additional context**
If one of my users becomes compromised I want my support agent to be able to do an admin global sign out and for this to be tracke

[2019-10-02 11:33] chai86 opened #4119 "How do i properly unmount Auth tasks? Error: cancel all subscriptions and asynchronous tasks in the componentWillUnmount method"
How do i properly unmount after using Auth?

[code]

[2019-10-02 14:35] rabellino12 commented on #4095
Hi, looking at the console screenshot, the last error in Auth.js 2208 `cannot read property accessToken of undefined` might be related to this error reporting bug i issued here #4004

[2019-10-02 15:17] haverchuck commented on #4118
@cantwelc So you want hub to listen to notifications from the backend, is that correct?

[2019-10-02 15:24] haverchuck commented on #4119
@chai86 What exactly needs to be 'unmounted'?  In the code above, it looks like a function is being called once in the lifecycle method.  If my understanding is correct, the componentWillUnmount lifecycle method would be used to do things like clean up the DOM, destroy an Observable subscription, etc.

[2019-10-02 15:28] haverchuck commented on #4104
@martin19 I've matched your configuration in my user pool, and I'm still unable to reproduce this.  I will try bringing this up with the service team.

Have you customized the storage of auth data at all, or are you using the default local storage?

[2019-10-02 15:44] #4119 closed

[2019-10-02 15:49] vinyoliver commented on #1324
Any new on this? I believe this's a very common need...

[2019-10-02 16:16] martin19 commented on #4104
@haverchuck The local storage configuration is left to defaults. Thanks for helping.

[2019-10-02 16:59] undefobj commented on #1324
We are working on a feature for this that is in PR here: https://github.com/aws-amplify/amplify-cli/pull/2443
When this releases you'll have an API that you can call from your app and perform Cognito Admin actions, such as listing all users in the User Pool. You'll also be able to restrict it down to specific Groups in the User Pool, and assign fine grained IAM permissions to those Groups if you w

[2019-10-02 17:26] haverchuck commented on #4001
@GWilman @darko-dev  - Just to confirm the problem here:  you are seeing this error, but the app still appears to be functioning properly?

[2019-10-02 17:54] philohelp commented on #1324
Great news, those features are really needed here.

[2019-10-02 17:55] djkmiles commented on #54
This took us about 8H to solve, the tidiest secure solution we currently have for our closed AppSync + Cognito UP + Cognito IP / AWS system is running a Lambda as a mutation that takes no parameters. The user's exact current JWT is put into the Lambda request by the AppSync VTL resolver along with the CUP ID and then the Lambda requests the Cognito IP user-identity using the CognitoIdentity module

[2019-10-02 18:31] ambientlight opened #4120 "Confusion regarding additional permissions granted to lambda: API category"
**Which Category is your question related to?**
amplify-category-function

**What AWS Services are you utilizing?**
Lambda to add execution calling graphql API

**Provide additional details**
When adding additional permissions to lambda to call Graphql API, it is confusing that **operation** create actually is what adds `appsync:GraphQL` action to execution policy statement. I messed it up origina

[2019-10-02 21:18] haverchuck commented on #4104
@martin19 - When you look at local storage after signIn, what do you see for `CognitoIdentityServiceProvider.<id>.LastAuthUser`?

[2019-10-02 21:58] cmckni3 commented on #3906
Would a demo URL help?

I think you may be onto something about multiple events. Seems like the `scroll` and `click` events fire. It's touch to track down.

I'll see if I have time to investigate some more.

[2019-10-02 22:45] haverchuck commented on #4116
@IonutRealDevs  Currently, no - I'm marking this as a feature request. However, you could try nesting the Connect components in order to achieve a similar result.

[2019-10-02 22:51] martin19 commented on #4104
@haverchuck
When logging in with email address, the value in local storage is the email address.
When logging in with username, the value in local storage is the username.

[2019-10-03 05:20] IonutRealDevs commented on #4116
Ok, thank you for response

[2019-10-03 08:50] GWilman commented on #4001
@haverchuck that is correct - all functionality is fine and I see no more errors after this when using the app (using amplify api graphql operations etc.)

[2019-10-03 13:17] sorokinvj opened #4122 "is there facebookSignUp method in withFederated component methods?"
** Which Category is your question related to? **
Authentication with Social Buttons

** What AWS Services are you utilizing? **
Amplify, Cogntio

** Provide additional details e.g. code snippets **

Hey guys, sorry if this was answered in the past, but I couldn't find anything related.

My goal is to make custom SignUp component and I want my users to have an ability for signing up with Facebook,

[2019-10-03 13:36] ludwikd commented on #1340
As they say better late, then never ;)
You should call (pass list of params, not an object)
`Auth.completeNewPassword(user,newPassword: this.state.newPassword)`
not
[code]

this should solve Your issue

[2019-10-03 13:55] gustavosooeiro opened #4123 "How to setup congnito to use email as username?"
Using AWS Amplify to create an authentication (Cognito) with Reactjs, the default username is a UUID. So when I log in to the system I see:

Hello f725e4a2-1f24-487d-9265-864947f5c5eb

How do I change this behavior? There may be a way of changing this in the frontend, but I would like to change this in the backend, because the list of users in Cognito has UUIDs as the identifier as well. I would l

[2019-10-03 13:55] gustavosooeiro opened #4130 "How to setup congnito to use email as username?"
Using AWS Amplify to create an authentication (Cognito) with Reactjs, the default username is a UUID. So when I log in to the system I see:

Hello f725e4a2-1f24-487d-9265-864947f5c5eb

How do I change this behavior? There may be a way of changing this in the frontend, but I would like to change this in the backend, because the list of users in Cognito has UUIDs as the identifier as well. I would l

[2019-10-03 14:52] haverchuck commented on #4001
@GWilman -  Thanks for the response.  I *think* we have a fix for this, but it might take awhile to test.

[2019-10-03 14:56] vinyoliver opened #4124 "Manage Cognito User Pool using JWT"
** Cognito **

I have a Node.js lambda API that's called by an authenticated user. The user is able to access the API passing a valid JWT token. Now I'd like to interact with Cognito User Pool to change the user's email, password and etc but I haven't figured out how to achieve this using just the JWT.

I've made several tests using amplify-js and amazon-cognito-identity-js

[2019-10-03 14:59] GWilman commented on #4001
@haverchuck thank you, please let me know once tested 👍

[2019-10-03 15:29] haverchuck commented on #4122
@sorokinvj -

At a high level there are two primary means of achieving this:

1. Federating with Cognito Identity Pools
2. Federating with Cognito User Pools

You can use option 1 if you don't particularly care about using Cognito to persist information about the users who are logging in; it is simply a means of provisioning temporary credentials for AWS resources to users who have authenticated w

[2019-10-03 15:32] sakhmedbayev opened #4125 "How to decrease spending on ElasticSearch Service usage"
** Which Category is your question related to? **
Billing

** What AWS Services are you utilizing? **
AWS ElasticSearch

** Provide additional details e.g. code snippets **
I wonder if there is a way I can decrease my spending on ElasticSearch Service that was created for me by AWS amplify cli by default. A DynamoDB database that is connected to ElasticSearch has only a few records but I am still

[2019-10-03 16:10] davidbiller opened #4126 "Amplify - Database like Tinder - best practice"
I am currently using a Lambda function for a principle similar to Tinder.
The user swiped cards, the wiped cards I save in an extra table.
In a lambda function I query all cards and delete the wiped ones.
I can do this because the total number of cards will be 1400. I think the performance is sufficient here.

The question is now, if I would want to build the same system without limiting the cards

[2019-10-03 16:16] davidbiller opened #4127 "Filter article by categories - possibilities"
The user specifies categories and I would like to get suitable articles from the DB over AppSync GraphQL.

What is the best way to do this with Amplify?

Using AppSync filter is lala, because I can't query all articles. Let's say there is no topic X in the first 20 items, then the first call would be with an empty array as answer and i have to use the nextToken.

I can go via a SortKey, but this w

[2019-10-03 16:33] gustavosooeiro commented on #4123
@haverchuck I am following the instructions at the "amplify init" process. Yes I am using the Cognito user pool, and nothing else. Besides choosing Cognito for authentication, I've choosen nothing else different, all defaults.
ps: I wonder who is @guilhermebruzzi ... :)

[2019-10-03 16:46] haverchuck commented on #3764
@packerfan626 Is there any reason why you could not write the post-signup trigger to wait for the insertion of the record into the database before responding, and then send an error in the event of failure (I'm assuming that the database can respond with an error)?

For example, here is the template that the[ Amplify CLI ](https://aws-amplify.github.io/docs/cli-toolchain/quickstart#adding-a-lambda

[2019-10-03 17:12] haverchuck commented on #4123
Sorry about the name mixup @gustavosooeiro... I blame GitHub's autosuggest ;)

Cognito User Pools provide the ability to have uses signup with email as username, but unfortunately this configuration is immutable once the User Pool is created.  If you are ok creating fresh resources, you can remove what you have and then start with `amplify add auth`, and then select 'Email' for the question 'How d

[2019-10-03 17:54] sorokinvj commented on #4122
@haverchuck Dustin, thanks for the quick reply!

The problem is that all the examples you mentioned use 'SignIn' case but not 'SignUp', so I'm struggling to understand the whole process. Could you please clarify step by step what do I need to for signin up users with Facebook/Google?

Shall I first call Auth.federatedSignIn then collect email and send it to Cognito User Pool?

Sorry, I confused an

[2019-10-03 18:02] sorokinvj commented on #4122
oh enlightenment!

Maybe I don't need at all a "Sign Up with Facebook"?  Is it possible to sign in user with his Facebook/Google without even creating the user in the Pool?  – it would be awesome!!!

[2019-10-03 18:56] evbo commented on #3436
@mlabieniec thank you.

Just wanted to emphasize that my second suggestion: **increasing access token expire** is really the preferred solution.

Here's some additional useful context for the Cognito team. I hope they receive this feedback well:

1. The security issue at hand is well stated here: https://github.com/aws/amazon-cognito-auth-js/issues/92

1. Allowing access time expire configuration

[2019-10-03 19:10] andrew-aernos opened #4128 "@function directive to query and store User fields for @model types"
** Which Category is your question related to? **
GraphQL transform

** What AWS Services are you utilizing? **
Amplify, Amplify CLI, Cognito User Pool

** Provide additional details e.g. code snippets **
GraphQL transformer generates the API.service.ts, the API is setup to authenticate with cognito user pool. The ability to annotate a custom field resolver with lambda is awesome. My question is "

[2019-10-03 19:17] andrew-aernos commented on #4128
I realized this should be a Amplify CLI question.

[2019-10-03 19:17] #4128 closed

[2019-10-03 20:15] haverchuck commented on #4124
Hi @vinyoliver

Is this a [token](https://docs.aws.amazon.com/cognito/latest/developerguide/amazon-cognito-user-pools-using-tokens-with-identity-providers.html) that has been returned by the Cognito User Pool?  If so, it should have an access token.  This access token is what would typically be passed in authenticated calls to User Pool API methods such as [Change Password ](https://docs.aws.amazo

[2019-10-03 21:38] haverchuck commented on #4001
@GWilman If you want to take a look at the PR, it's [here](https://github.com/aws-amplify/amplify-js/pull/4131).

[2019-10-03 21:54] haverchuck commented on #4130
@gustavosooeiro - Ok, so it looks like if you signup with an email address, it stores the email address as it normally would in the email field in the user's record in Cognito, but then assigns a UUID in place of a username.

However - I think you can still achieve what you are hoping to do.

If you are using the `Authenticator` component in aws-amplify-react,[ you can customize the Greetings comp

[2019-10-03 22:12] haverchuck commented on #4122
@sorokinvj  - If you are using Hosted UI (i.e. federation with User Pools), then a user pool record will be created for you.  Federated sign_up_ is not needed.

[2019-10-03 22:17] pepemiso16 opened #4132 "FederatedSigin for Social Signin returns 'No current user' or 'not authenticated'"
**Describe the bug**
Using AWS Amplify and VueJS, I have successfully configured AWS Cogntio, Facebook and Google. I am using Auth.federatedSignIn({provider: 'Facebook'}) and Auth.federatedSignIn({provider: 'Google'}) for their respective sign-in pages. However, after successful sign-in and once redirected to the web app the result shows the error message
'No current user' or  'not authenticated'

[2019-10-04 00:04] dabit3 commented on #4126
Hey @davidbiller, are you wanting to still continue using only Lambda or are you open to using AppSync / GraphQL / DynamoDB?

[2019-10-04 00:22] dabit3 commented on #4127
I would suggest creating a GSI for the category fields so when creating a new article you can concatenate the categories and save them for each article which will make them searchable, i.e. a category field may look like: `automotive#home#sports`. Then you can query on the category:

[code]

[2019-10-04 01:10] harmohan-a commented on #3278
this is an actual issue, can we reopen it

[2019-10-04 01:50] hp0210 commented on #4095
Hi @rabellino12, I think it is just a part of the problem. The main issue of this is that aws-amplify failed to resolve the granted code (oauth2/token endpoint return error in this case for some reason)

[2019-10-04 07:29] davidbiller commented on #4127
Thx @dabit3

That would actually be a possibility as well, that's true. I didn't have that in my head. Thanks for that first of all.

As soon as I need a geospital search, would I still need to use ElasticSearch correct?

But first start with your suggestion :)

[2019-10-04 07:47] vsatyav007 opened #4133 "How to get Channel-type in Lex Request"
I'm Using ChatBot react component from aws-amplify react to build the frontend.ChatBot communicates with lex and sends a request to lambda. In Lex, I connected it with facebook and Twilio. In Lambda I'm able to access the sessionAttributes.Is there a way to get the channel-type?

Lambda index.js
exports.handler = async (event, context, callback) => {
    try {
        // 1. Gather information from

[2019-10-04 08:00] davidbiller commented on #4126
@dabit3 Thanks for help. Would be nice if we find a good solution...

Okay now it gets a bit more complex, but so that other people might find a setting here as well, I'll make it more detailed. Since I have already tested a few things.

So what i have:

GraphQL:
--------------------------------------------------------------
[code]
------------------------------------------------------------------

[2019-10-04 09:03] nickchauhan commented on #4100
As we are already signing in the user via Cognito I tried to call the /token endpoint to fetch token. (I understand that it is not the correct way of doing it. We thought that the accessToken and IdToken we have in the Auth is of Microsoft Azure but now I understand that it's of Cognito)

[code]
Now I have tried the [OAuth2 client credential flow](https://docs.microsoft.com/en-us/azure/active-dire

[2019-10-04 09:47] ricardoribas opened #4134 "Different behavior between mock feature and real environment"
**Describe the bug**
The behavior while executing amplify API (graphql) requests using the `mock` feature from amplify seems to be different than the API requests from a real environment. Is that a normal behavior or is an issue that is already addressed?

**To Reproduce**
Steps to reproduce the behavior:

1. Execute `amplify mock`
2. Execute end to end tests (for instance execute a request that w

[2019-10-04 11:30] nzwi commented on #1852
Any idea if the Amplify team is working an SDK for Flutter

[2019-10-04 12:50] loganwedwards commented on #4003
@oriharel I have been following all matter of oauth flow-related issues (FB, specifically) with an ejected Expo 33 app and just stumbled upon this issue. I believe I am experiencing the exact same root problem on iOS. I went as far as attempting to manually monkey patch it without success and your linked PR looks like a nice improvement. When you specifically mention, you `overriding Linking.addEv

[2019-10-04 13:37] mlabieniec commented on #3436
@evbo I have discussed with the cognito team this feature and they have informed me that this is in their backlog as a feature. I do not have a completion date on this yet tho will keep this issue open to track progress from their side.

[2019-10-04 13:49] yareyaredesuyo commented on #3080
@saadq

Me too, it works in fireabase console, but not work in pinpoint.

document itself is very obsolete ( https://aws-amplify.github.io/docs/js/push-notifications ).

this does not work (firebase console).

[code]

this works (firebase console).

[code]

document is obsolete..., and implementation is blackhole...

so amplify team should make update to date documents and examples, that works wel

[2019-10-04 14:57] haverchuck commented on #4122
Closing this issue, as I think the question has been answerd.

[2019-10-04 14:57] #4122 closed

[2019-10-04 15:34] henning101 commented on #1241
same here unfortunately

[2019-10-04 15:35] haverchuck commented on #4100
@nickchauhan - Let me confirm that I understand the situation:

1. You have configured Cognito (I am assuming a Cognito User Pool, not Identity Pool) to allow federation with SAML, with Azure AD as the idenity provider.

2. You can successfully login, and receive tokens from Cognito.

3.  Now, you need to query AD for user data.

Assuming this is correct, then the problem is that you have tokens f

[2019-10-04 16:00] haverchuck commented on #4132
@pepemiso16 -  Just to be clear, are you federating via the User Pool (hosted UI) or the Identity Pool?  I have a very simple Vue app which just performs login via User Pool federation w/ Facebook, and I cannot reproduce the error:

[code]

I wonder if perhaps your application is trying to actually make a request of an AWS resource upon redirect, and maybe there is some sort of race condition wher

[2019-10-04 16:05] haverchuck commented on #4075
Closing due to inactivity.

[2019-10-04 16:05] #4075 closed

[2019-10-04 16:06] haverchuck commented on #4087
Closing due to inactivity.

[2019-10-04 16:06] #4087 closed

[2019-10-04 16:07] haverchuck commented on #4083
A fix for this has been merged into the unstable build (`npm i aws-amplify@unstable`).  It will be in the build build shortly.

[2019-10-04 16:07] #4083 closed

[2019-10-04 16:07] haverchuck commented on #4086
Closing due to inactivity.

[2019-10-04 16:07] #4086 closed

[2019-10-04 16:08] haverchuck commented on #4063
Closing due to inactivity.

[2019-10-04 16:08] #4063 closed

[2019-10-04 16:15] rogueturnip commented on #4025
I'm also seeing this problem when I version bumped to 1.1.40.

[2019-10-04 16:16] haverchuck commented on #4032
@ajhool Why did you make the redirect for the identity provider the url your site?  Basically, the redirect for the social provider (i.e. Facebook, Google, Amazon) should be the hosted ui endpoint, while the redirect for the hosted ui should be your application (this applies even if your bypassing the actual interface for the hosted ui).  Have you tried chaning your provider app to use `https://<y

[2019-10-04 16:32] ajhool commented on #4032
Does the hosted endpoint mean that the user will need to interact with the interface provided by AWS / Cognito? My goal is just to have the user interact with my custom signup form on my website -- and my understanding of the hosted UI is that the user is redirected to a UI designed by Amazon and mildly configurable

[2019-10-04 17:24] pperron commented on #2951
A bypass (which is probably really not the best) I'm using is setting main <View> component of my custom signin page with "marginTop: -20" and "marginBottom: -20"... My app is still in development and only running in the Android simulator, so not sure if can fit all cases...

[2019-10-04 19:29] haverchuck commented on #3906
@cmckni3  - A demo URL would definitely help.

[2019-10-04 19:36] ericclemmons commented on #1145
It looks like the problem is that `Storage.get` isn't getting an object, but getting a signed URL to the (potentially missing) object:

Validating the existence of an object via https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#headObject-property prior to returning the signed URL could work.

That would result in 2x the API calls for even valid images, so there may be a need to intr

[2019-10-04 20:02] elorzafe commented on #4108
This is an issue with aws-sdk, there is an open issue there https://github.com/aws/aws-sdk-js/issues/2510 for this. I will ping aws-sdk about this.

Thanks for your feedback

[2019-10-04 20:02] #4108 closed

[2019-10-05 00:41] #3905 closed

[2019-10-05 04:53] rajkharvar commented on #3829
I can work on it @jordanranz

[2019-10-05 06:14] mbejda commented on #4014
@tomaszs  I ran the following the issue went away.
[code]

[2019-10-05 08:30] patfeldman commented on #222
Add new file
aws-exports.d.ts
`
export = awsmobile;
declare const awsmobile: any;
`

[2019-10-05 14:26] hagaigold opened #4136 "AuthClass configure fire twice"
**Describe the bug**
Auth configuration execute more the once which can be observed by Auth._handleAuthResponse.
This creates unexpected results for the login process with "Authorization code grant".

**To Reproduce**
Steps to reproduce the behavior:

this behavior happen when using **Amplify.configure** (e.g. to configure API in different module) after Auth.configure.
replacing the order of execu

[2019-10-05 17:17] pperron commented on #2951
Ok, since previous reply was a strange fix, I took a look at the "AmplifyTheme.js" in Amplify source code and seen the "container" styling info, so I just copy pasted it into my custom theme and changed 2 things, the "paddingTop" and "marginBottom" (that one cause I had the "please sign in / signup" menu at bottom of window) to 0 and -20:

`
const MyTheme = Object.assign({}, AmplifyTheme, {
  cont

[2019-10-05 17:56] vinyoliver commented on #4124
Hi @haverchuck

Tks for the fast response! I was not aware that there's an admin API. I looked at the documentation but I couldn't find to which endpoint should I send my requests and what config is necessary; If by any chance do you know this and could point me in the right direction I'd be grateful.

[2019-10-05 21:03] shbhmbnsl1 commented on #2562
Any update from the amplify team? I am also working on a project with a similar use case, if this feature could be added then it could be very helpful in building a customer friendly onboarding flow. We see customers getting off the application when prompted to sign in just after sign up.

[2019-10-05 22:30] #3941 closed

[2019-10-06 01:03] pepemiso16 commented on #4132
@haverchuck I am using federating via User Pool (hosted UI). On my scenario, I have a login page and a dashboard page and I am working on it locally. I have configured everything at AWS and when I login using Facebook (same code as yours), my configured link for redirection will be the Dashboard page (http://localhost:8080/). However when gmail or facebook redirect to the Dashboard (http://localho

[2019-10-06 07:05] rawadrifai commented on #3232
@marioaae - did you figure this out? I have a similar question.
I'm developing a slack clone. If the user already signed in once, then next time they open the app it should auto sign in. Still tinkering around. Let me know if you have any suggestions pls.

[2019-10-06 07:14] rawadrifai commented on #3232
This was easier than I thought.. Auth.currentSession() returns the current authenticated session after closing the app (if the user did not sign out)

[2019-10-06 16:36] y-yeah commented on #4066
Ok I fixed this problem, but this still may be a bug of Amplify:
`aws-exports.js` auto-generated by Amplify did not have `aws_appsync_apikey` in my React app, so I had to add this manually when configuring Amplify.
Below is my configuration:

[code]

It is strange that I did not have to add the other variables regarding AppSync such as `aws_appsync_graphqlEndpoint` in `Amplify.configure` (although

[2019-10-06 18:04] #3488 closed

[2019-10-06 22:19] sacrampton commented on #4085
Hi @manueliglesias - just checking back in after your initial input whether this is something that is looking likely to get implemented?

[2019-10-06 22:24] paddlefish commented on #3965
This is not stale. Your backlog is too big relative to your staleness bot’s configuration.

[2019-10-07 01:49] CodySwannGT opened #4137 "Breaking Change with @auth?"
**Describe the bug**
Prior to the latest update, field-level auth rules worked for mutations. Now they don't seem to.

For example

[code]

Then with the mutation:
[code]

In that instance, pendingBalance is always null on the returned updateUser.

Prior to updating, I would get the pendingBalanced returned regardless of whether the user was in the Admins groups

[2019-10-07 05:07] rawadrifai commented on #4048
@manueliglesias question: if I am using a lambda as a custom resolver, i.e. `type Mutation`, to insert data in a dynamo table, do you know how I can have it also generate the necessary events like `onCreateTodo`? I'm using the dynamodb sdk to insert the data.

[2019-10-07 09:20] rawadrifai opened #4138 "Subscriptions not working for authorized types"
**Describe the bug**
I am following the basic example here:
https://aws-amplify.github.io/docs/cli-toolchain/graphql#authorizing-subscriptions
When if I turn subscription level to public everything works fine. If not, and I provide an owner as described in the example, it crashes my react native app.

**To Reproduce**
https://aws-amplify.github.io/docs/cli-toolchain/graphql#authorizing-subscriptio

[2019-10-07 09:30] rawadrifai commented on #4138
Please Ignore. Ugh. I was passing a username that's not the same as the authenticated one.

[2019-10-07 09:30] #4138 closed

[2019-10-07 10:36] rawadrifai opened #4139 "Subscriptions with @auth and ownerField as String array"
** Which Category is your question related to? **
Subscriptions

** What AWS Services are you utilizing? **
Amplify, AppSync

** Provide additional details e.g. code snippets **
I have in my schema this type:
[code]

When I subscribe to onCreate, and provides the Cognito id in the users field for the subscription, I don't get anything when records are created.
If I do the default "owner" as a Stri

[2019-10-07 13:05] giacomocarrozzo commented on #2455
Any update on this?

[2019-10-07 13:18] rabellino12 commented on #4095
@hp0210 I know, I just wanted to state that the screenshot error is related to that other issue, and is a big problem, the current version won't catch the correct error for the frontend.

[2019-10-07 13:27] mormsbee commented on #1324
Could REALLY use this feature... like right now. lol Any update on the Pull Request?

[2019-10-07 15:03] gHashTag opened #4141 "Safari cannot open the page because the address is invalid"
**Describe the bug**
I go into the application through Facebook authentication, but after all the steps in the tutorial, I get an error.
`Safari cannot open the page because the address is invalid`

[code]

**To Reproduce**
## 1. I call the provider of Facebook in react-native app
```Auth.federatedSignIn ({provider: 'Facebook'})```

## 2. Window opens Facebook
![IMG_0789](https://user-images.githu

[2019-10-07 16:02] sammartinez commented on #4136
@hagaigold I do want to let you know that under `Amplify.configure` both Auth and API are [automatically](https://aws-amplify.github.io/docs/js/authentication#configure-your-app) configured when passing the awsconfig via `aws-exports` which I believe that is what you mean by your understanding. However, I can mark this as a feature request for the documentation call out that we can either pass a w

[2019-10-07 16:34] PiffPaffM opened #4142 "Authentification for API calls on the same domain"
** Which Category is your question related to? **
Authentification for API calls on the same domain using an elastic loadbalancer

** What AWS Services are you utilizing? **
Cognito with an elastic load balancer and ECS

** Provide additional details e.g. code snippets **
Dear community,

I am building an application based on Angular 7. I would like to use Cognito for my user handling in order to

[2019-10-07 17:17] AaronOverton commented on #1324
This is my Lambda function for solving this problem, delivering a complete user list. It has some assumptions, like one role per user and a known set of group names. It handles where there might be more than 60 users in a particular group. I don't know what would happen with tens of thousands of users.

`import AWS from "aws-sdk";
import { success, failure } from "Libs/response-lib";

export async

[2019-10-07 17:23] davidwav commented on #2487
@KristineTrona Can you share your code for the lambda function for triggerSource 'CustomMessage_ForgotPassword' that you said was working? We have a similar issue, but it is not working to replace the {####} for the codeParameter.

[2019-10-07 18:28] elorzafe commented on #4064
@mevert can you removing both @aws-amplify/pubsub and aws-amplify and then add
the latest unstable for aws-amplify@unstable.

Another option is to install separately each package. With other packages are you using?

Thanks

[2019-10-07 18:43] mormsbee commented on #1324
to be honest, what I would really like here is for Cognito interaction to be exposed through GraphQL...  and if amplify could handle all of the queries, mutations, lambda functions, etc, that would be great!

[2019-10-07 18:52] KristineTrona commented on #2487
@davidwav are you trying to generate your own custom code parameter? I am simply using the cognito auto generated codeParameter for the forgotPassword case:

[code]

[2019-10-07 19:25] alvaro1728 opened #4144 "Need to get my JSON response when API fails."
I'm using these in a React Native project:
[code]
In AWS, I've set up a REST API bound to a Lambda function. Here's my Lambda handler:
[code]
On the React Native side, I have this:
[code]
Everything works fine, except when the Lambda's "eventProcessor" throws an exception.
On the React Native side, I get an Error with this message: "**Request failed with status code 400**". I would like to get the

[2019-10-07 19:53] mevert commented on #4064
@elorzafe  see my example codes from https://github.com/mevert/aws-iot-pubsub-test and the full package.json. I just tried the latest "aws-amplify": "1.1.41-unstable.20". If you try my code, remember to fill your aws configs to App.js. The full console log of
1. subscribe
2. publish (works)
3. subscribe
4. publish (message not received):

[code]

[2019-10-07 19:56] mevert commented on #4064
@elorzafe see my example codes from https://github.com/mevert/aws-iot-pubsub-test and the full package.json. I just tried the latest "aws-amplify": "1.1.41-unstable.20". If you try my code, remember to fill your aws configs to App.js. The full console log of

subscribe
publish (works)
subscribe
publish (message not received)

[2019-10-07 20:05] sammartinez commented on #61
@amitport I am seeing a series of PRs that were merged into this e.g [feat(amplify-category-storage): add s3 multipart upload to cfn #579](https://github.com/aws-amplify/amplify-cli/pull/579). What else were you looking for as this seems to be the original FR is complete. Please let us know

[2019-10-07 20:10] sammartinez commented on #104
In looking at the original feature request, I am seeing that this is now complete. Resolving this feature request. @rlmartin Please let us know if something isnt complete.

@jpyne17 @plisitza Please open up a separate issue with us if you are still experiencing issues after @haverchuck comment.

[2019-10-07 20:10] #104 closed

[2019-10-07 20:14] davidwav commented on #2487
@KristineTrona Thanks, we are trying to use the cognito auto generated codeParameter for the forgot password case but send our own email using SendGrid through their email API. When reading the cognito code parameter in console logs, event attributes, or the SendGrid template, it is always just the placeholder {####}. It doesn't seem possible, or easy, to display the code outside of the standard c

[2019-10-07 20:17] sammartinez commented on #218
Looking at responses from @russelltaga I do see that he was able to resolve this other ways and there are other FRs open for similar things, as referenced above. I am going to resolve this feature request. Please feel free to make comments on the RFC if there are further callouts.

[2019-10-07 20:17] #218 closed

[2019-10-07 20:26] sammartinez commented on #432
Resolving as there has been no traction on this issue since December and it looks like buggy was able to help with answering questions. This seemed to be more of a question and a documentation vs. a feature request

[2019-10-07 20:26] #432 closed

[2019-10-07 20:32] sammartinez commented on #468
Resolving as #3897 adds messaging for this.

[2019-10-07 20:32] #468 closed

[2019-10-07 20:42] sammartinez commented on #488
@jliebrand I have referenced this issue to the overall RFC that we are currently working on.

[2019-10-07 20:53] sammartinez commented on #583
@defionscode I am going to close this FR since the last update from yourself was April of 2018. We are still open to a PR! Please feel free to reopen once a PR is created for this or you are still looking for this use case. Thanks ahead of time

[2019-10-07 20:53] #583 closed

[2019-10-07 20:55] pbirsinger commented on #3949
This is a large issue. Not only is it not expected and took us awhile to track down the issue, it doesn't make sense when this is not how things work almost everywhere else on the web.

[2019-10-07 20:55] sammartinez commented on #3365
#634

[2019-10-07 20:57] sammartinez commented on #634
We currently have an open RFC that we are tackling modularization. I am going to resolve this issue in favor of the RFC and no update since April 2018. Please feel free to comment on the RFC.

[2019-10-07 20:57] #634 closed

[2019-10-07 21:02] pbirsinger commented on #3853
This would be quite useful. Very odd that it's not there. It would be massively preferable to have a confirm PW field (like every other website in the world), and then not require the user to re-login after they verify their email

[2019-10-07 21:04] pbirsinger commented on #4035
Need this feature. Right now though we can't force all names at login to be lowercase because some users already signed up with uppercase emails. Need a toggle to just make the field case insensitive

[2019-10-07 21:11] sammartinez commented on #659
Resolving this Feature request in favor of #518

[2019-10-07 21:11] #659 closed

[2019-10-07 21:21] rogueturnip commented on #4089
Is there any assessment to how long it will before this will be supported in RN 0.60+ since I'm sure it's blocking alot of people from moving to the new code base.

[2019-10-07 21:30] sammartinez commented on #661
@kerly @simonbuchan can you speak more to the use cases that you have in regards to this. I am trying to understand why not using IAM polices and defining roles for specific users would not suffice for this use case. For [soft limits](https://docs.aws.amazon.com/cognito/latest/developerguide/limits.html#limits-soft) on how many users there can be in a user pools, you are allowed 20M users. Just wa

[2019-10-07 22:00] Ashish5591 commented on #4089
Hi,
Thanks for your patience. We are looking into the issue at this time and working on a fix to support push notifications in RN 60+
It seems the issue is on iOS only. We are planning to move to the `@react-native-community` version of the library.
Regarding documentation, we are working on more comprehensive examples specifically for React Native and are adding installation/setup instructions ba

[2019-10-07 23:17] rogueturnip commented on #4089
Thanks!  Is this also going to switch out the AsyncStorage (and in other spots too like Auth) because without doing that it will have issues with RN 0.60+

[2019-10-07 23:42] beaurushton commented on #61
Is this available for React Native projects now?

[2019-10-08 02:49] simonbuchan commented on #661
@sammartinez Depends. We originally went with separate user and identity pools per tenant as we wanted to let tenants set their password policy differently in theory (though I don't think it ended up being a thing), it is much easier to enforce tenant data separation by using identity pool ids, since they're available in IAM condition variables and lambda context, and because the triggers are easi

[2019-10-08 07:02] amitport commented on #61
This is a very old issue. We use evaporatejs by now and I don't have time to review another solution.
In any case, this issue is about recovering page refreshes and other types or interruptions during upload.

[2019-10-08 07:40] jliebrand commented on #488
@sammartinez thanks! Any guestimate when the preview work will be rolled up into the master release?

[2019-10-08 08:19] #3975 closed

[2019-10-08 08:43] defionscode commented on #583
I'm still looking for this use case. :)

[2019-10-08 09:36] Luckygirlllll commented on #3682
I have the same error both in Android and IOS, any updates regarding this error? ` "react-native": "0.59.10",`

[2019-10-08 09:37] kfwebdev opened #4147 "Auth.signIn always throwing NotAuthorizedException error after changing to new userpool."
** Which Category is your question related to? **
Auth.signIn()

** What AWS Services are you utilizing? **
AWS Amplify

** Provide additional details e.g. code snippets **
Auth.signIn() was working properly with a pervious userpool. I created a new userpool to perform[ email and phone_number alias checks](https://github.com/aws-amplify/amplify-js/issues/1067#issuecomment-436492775) with Auth.conf

[2019-10-08 10:30] waydelyle commented on #1896
It took me a while but I figured out how to do it.
[code]

[2019-10-08 10:30] waydelyle commented on #3500
I managed to get it working and left a comment
https://github.com/aws-amplify/amplify-js/issues/1896#issuecomment-539452876

[2019-10-08 10:38] gastzars commented on #4016
Facing this issue happen when running and debugging with react-native-debugger

[2019-10-08 10:48] Luckygirlllll commented on #3776
I have used aws-amplify in expoKit and it was working fine, however, I'm getting the same error in bare expo workflow, any updates regarding this issue?

[2019-10-08 12:18] pointcast-dev commented on #1896
Thanks @waydelyle for your proposal. It would actually make sense for me to store/retrieve the session information using the local storage.

When I run your code, then the call of sendCustomChallengeAnswer() with the correct code (and session) does not trigger onSuccess or onFailure, but the customChallenge callback. Therefore it seems, it does not work for me. When I try to retrieve the session a

[2019-10-08 12:35] Luckygirlllll opened #4148 "null is not an object evaluating RNAWSCognito.-computeModPow)"
**Describe the bug**
I'm getting an error: "null is not an object evaluating RNAWSCognito.-computeModPow)", when I'm trying to Log In

**To Reproduce**
Steps to reproduce the behavior:

1. Create expo project
2. Eject it to bare workflow project
3. Add aws-amplify

**Expected behavior**
App works

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please compl

[2019-10-08 12:53] waydelyle commented on #1896
It seems to do that if `signIn` and `answerCustomChallenge` are triggered within the same session. In my case, I'm sending a magic link to the user for login which triggers `answerCustomChallenge` separately. If signIn is triggered within the same session you can just reference `user.sendCustomChallengeAnswer` instead.

[2019-10-08 13:10] pointcast-dev commented on #1896
We are actually using also magic link mechanism and having a new browser window (i.e. new session), but I messed up with providing the code. Now the solution works fine for me too. Thanks @waydelyle

[2019-10-08 13:45] waydelyle commented on #1896
No problem!

[2019-10-08 13:48] cliffordh commented on #1896
The only problem I see with this approach over my suggestion with #3500 is that access to localStorage is required, as are Lambdas, which could become a maintenance headache.

[2019-10-08 14:08] michelem09 commented on #3875
I cannot understand how this works, I don't want to redirect my users to the HostedUI website.

[2019-10-08 16:21] sammartinez commented on #4148
@Luckygirlllll Can you provide which versions of `aws-amplify` you are using and which versions of `aws-amplify-react-native` you are using?

[2019-10-08 16:23] sammartinez commented on #4147
@kfwebdev Can you provide the versions of `aws-amplify` you are using? Also, are you using a framework with this such as React / Vue / Angular ?

[2019-10-08 17:53] amirmishani commented on #3559
I'm also interested to see how you resolved this. Thanks!

[2019-10-08 18:54] rawadrifai commented on #3559
oh wow sorry guys just saw this @davidbiller  @amirmishani
If I remember correctly I wanted to be able to query the table with the non key field which was a @connection field. No point to create a gsi around, since @connection I believe creates a gsi under the hood. So You really just need to go to the table being referenced. In my case for example, table `User` has `memberships` and if I say user

[2019-10-08 19:09] diosney commented on #3749
https://github.com/aws-amplify/amplify-js/issues/987

[2019-10-08 19:27] Luckygirlllll commented on #4148
@sammartinez I have tested 2 version of `aws-amplify`: 1.1.26 and 1.1.40, I got this error with both versions.
I don't use in the project  `aws-amplify-react-native`

[2019-10-08 20:14] cheeseandcereal commented on #3435
Any news on this? It seems ridiculous that you can't invalidate a single set of tokens on the back end.

[2019-10-08 20:45] sammartinez commented on #836
This is the [documentation](https://aws-amplify.github.io/docs/js/authentication#retrieve-current-session) we have on this. Resolving

[2019-10-08 20:45] #836 closed

[2019-10-08 21:05] sammartinez commented on #898
@degaray Are you still experiencing this issue with later updates to this starter? In testing the [starter](https://github.com/aws-samples/aws-mobile-react-native-starter) I was unable to reproduce this issue. If you are still using this starter, please report back if not, please go ahead and close this issue.

[2019-10-08 21:14] gkpty commented on #2582
Hey guys, know the issue has been closed for inactivity but i just ran into this.

my work around (not using the cognito SDK)
1. i implemented authorization with groups.
2. i switched confirmation message in cognito to a link
3. implemented a custom field in users called parentUser (or organization in my case)
4. i check for user group and give admin users access to a component called inviteUsers

[2019-10-08 21:54] kfwebdev commented on #4147
@sammartinez thanks for your response Sam! I was using ```
"aws-amplify": "1.1.36",
"aws-amplify-react": "2.3.12"
[code]
to see if that changed anything but so far the result still seems to be the same.

[2019-10-08 22:19] sammartinez commented on #909
This [documentation](https://aws-amplify.github.io/docs/js/authentication#manual-setup) shows the manual setup to change the default value of `USER_SRP_AUTH ` to what you prefer. Resolving as this is implemented

[2019-10-08 22:19] #909 closed

[2019-10-08 22:22] sammartinez commented on #925
Closing due to inactivity. Please feel free to reopen if this use case is something you are looking for

[2019-10-08 22:22] #925 closed

[2019-10-08 22:32] sammartinez commented on #979
This is now implemented, please see the documentation [here](https://aws-amplify.github.io/docs/js/react#sign-upin-with-emailphone-number). Resolving.

[2019-10-08 22:32] #979 closed

[2019-10-08 22:45] sammartinez commented on #1013
resolving this feature request as the above statement of the feature being available.

[2019-10-08 22:45] #1013 closed

[2019-10-08 22:46] sammartinez commented on #1028
Resolving as this now done. Thanks for working with us so much on it @buggy !

[2019-10-08 22:46] #1028 closed

[2019-10-08 22:50] sammartinez commented on #1020
@jsyrjala are you still looking for this use case? Can you provide a little more detail on what you're looking for? Seems that you may want to SignUp to show but want to hide other links? Please let us know.

[2019-10-08 23:01] aldo-roman opened #4151 "Cannot use autotrack with AWS Kinesis"
**Describe the bug**
Cannot use autotrack with AWS Kinesis

**To Reproduce**
Steps to reproduce the behavior:

1. Setup Analytics with Kinesis
2. Setup session and/or pageview autotrack

**Expected behavior**
Sessions and/or Pageviews should appear in Kinesis dashboard

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following informatio

[2019-10-08 23:03] aldo-roman commented on #4151
Kinesis provider expects an attribute `streamName` to be injected on *each* record.

https://github.com/aws-amplify/amplify-js/blob/9a1055a2eeaf15a1406032bf4c039137edd09fe1/packages/analytics/src/Providers/AWSKinesisProvider.ts#L175

A quick solution would be to specify a `streamName` on `Analytics.configure` and make it default for all records.

[2019-10-09 01:02] cbernardes commented on #3435
@cheeseandcereal funny comment but true. I wrote an article approaching this, so if someone has reached this page, the article may help.

https://medium.com/@cbernardes/serverless-things-i-wish-i-had-known-before-i-started-part-1-aws-cognito-cf5d3a0c3d9d

[2019-10-09 03:34] jsyrjala commented on #1020
I am using different kind of authentication solution now.

The idea was basically to hide some of the links depending on the features which are used in the authentication.

[2019-10-09 04:42] harmohan-a commented on #3495
yup, completely agree with everything. I'm trying to get our team away from this plague knows as amplify

[2019-10-09 06:24] jskrt commented on #3854
@imyjimmy thanks for that. Using it as - hopefully - a temporary solution.

[2019-10-09 08:18] sonufrienko commented on #3120
_React Native + TypeScript + Jest_
I got a warning:

[2019-10-09 10:15] Luckygirlllll commented on #3682
This steps, solved my problem:

[code]

[2019-10-09 10:16] Luckygirlllll commented on #4148
This steps solved my problem:

[code]

[2019-10-09 11:45] chamathpali commented on #3268
Any solution for this issue?
Happens only when the device is offline and it doesn't crash the app in iOS but crashes in Android.

[2019-10-09 11:47] haolinj opened #4155 "Auth.federatedSignIn with customProvider and customState do not work as intended."
**Describe the bug**
Hi, I'm trying to use `Auth.federatedSignIn` with both `customProvider` and `customState`:
[code]
The above should construct a URL to `/oauth2/authorize` with param `identity_provider=my-provider`, instead it creates with URL with param `identity_provider=COGNITO` (I believe this is the default value when `provider` is undefined).

If I remove the `customState` in the call: `A

[2019-10-09 11:58] lenarmazitov commented on #3422
I have same bug, and as a result I have troubles with my own redux-persist store. I can not clean it.

[2019-10-09 12:29] chamathpali commented on #3268
I was able to do a quick fix by editing the **AWSPinpointProvider.js** file in @aws-amplify/analytics/lib/providers by making the below change in the **_pinpointPutEvents** function

This
[code]
to
[code]
And it prevented the app crash.
This is a bit ugly fix but got it stop crashing the android app on offline state for now!

[2019-10-09 12:30] mikan3rd commented on #1445
I have same issue when NODE_ENV is NOT 'production'.
I'm not sure, but I can fix it by downgrading `graphql` to `0.11.7`.

[code]

[2019-10-09 13:33] Luckygirlllll commented on #4148
However, I still have an issue in Android

`react-native link  amazon-cognito-identity-js` didn't help

[2019-10-09 13:34] Luckygirlllll commented on #3682
However, I still have a problem with Android, I'm still getting an error there,
react-native link amazon-cognito-identity-js didn't help

[2019-10-09 15:00] jdrobert commented on #3395
@sarahcec It has been over 3 weeks since the last response. Can we get an update on this?

Our app is set to launch sometime this month. It would be nice to know how I need handle social login.

[2019-10-09 16:58] rjjlucy commented on #2460
I added
`    "noImplicitAny": false,`
in my tsconfig.json and seems like the error is gone.

[2019-10-09 16:59] davidbiller commented on #4126
@dabit3 Do you have an Idea here? Or a recommendation who can help me here?
Thanks

[2019-10-09 17:21] ecomonestop commented on #3371
I'm still facing the same issue.  As @shenshen-whitecoat  said, I had to use "amplify-auth-sign-in-core" instead of  "amplify-auth-sign-in"  .

[2019-10-09 17:23] rafaponieman commented on #4144
@alvaro1728, something like this maybe?
[code]

[2019-10-09 17:34] alvaro1728 commented on #4144
@rafaponieman, that actually works. Thanks!

[2019-10-09 17:34] #4144 closed

[2019-10-09 17:41] Audace opened #4157 "Optionally use SMS MFA vs. Custom Auth"
**Which Category is your question related to?**
Usage

**What AWS Services are you utilizing?**
Cognito, Lambda, Amplify

**Provide additional details e.g. code snippets**
Hi there, we'd like to differentially route users through a passwordless SMS MFA or a custom challenge. We want to do this to allow QA testers to not have to receive an MFA SMS and instead have a hard-coded token they can always

[2019-10-09 18:30] stemwinder commented on #3818
I had success by passing `google_client_id` as a prop to a component wrapped by the `withGoogle` HOC.

[2019-10-09 19:45] Ashish5591 commented on #3682
@Luckygirlllll what version of react native are you using? Did you run react-native link, before it started working in iOS as well?

Either you have < 0.60 and need to use react-native link, but wont have to do pod install.

Or you have > 0.60 in which case there is [autolinking](https://github.com/react-native-community/cli/blob/master/docs/autolinking.md) enabled (do not do react-native link). I

[2019-10-09 19:47] Ashish5591 commented on #4148
@Luckygirlllll what version of react native are you using? Did you run react-native link, before it started working in iOS as well?

Either you have < 0.60 and need to use react-native link, but wont have to do pod install.

Or you have > 0.60 in which case there is [autolinking](https://github.com/react-native-community/cli/blob/master/docs/autolinking.md) enabled (do not do react-native link). I

[2019-10-09 19:48] Luckygirlllll commented on #3682
@Ashish5591 0.59.10, in I`OS` it started to work without `react-native link `

[2019-10-09 20:04] Ashish5591 commented on #4148
@Luckygirlllll just out of curiosity, what version of expo are you using? As per the [docs](https://docs.expo.io/versions/latest/sdk/overview/) it seems the latest version of RN is 0.59.8.

I can try to reproduce this, but was curious if you have considered using the RN CLI to create the app since you are ejecting anyway.

[2019-10-09 20:07] Luckygirlllll commented on #4148
Expo 35,  I have created app using RN CLI as well, I was getting the same error as well, I'm using react-native-unimosules in the project.

[2019-10-09 20:32] sammartinez commented on #1085
@golatoye is this still a valid use case for you? Please let us know.

[2019-10-09 21:05] sammartinez commented on #1120
Here is our documentation on [Authentication](https://aws-amplify.github.io/docs/js/authentication) within Amplify. Resolving this as the documentation is present today

[2019-10-09 21:05] #1120 closed

[2019-10-09 21:12] sammartinez commented on #1205
Closing due to inactivity. Please feel free to reopen if this is still a use case for you.

[2019-10-09 21:12] #1205 closed

[2019-10-09 21:18] sammartinez commented on #1209
@clementAC From Jordans response above this is possible today, Im curious if you have an idea of what the client side implementation would look like for this. Can you share or if this is not a use case you are looking for anymore please feel free to close the issue

[2019-10-09 21:24] sammartinez commented on #1258
@reggie3 Is this still a use case for you? Please let us know. Thanks!

[2019-10-09 21:31] sammartinez commented on #1288
In looking at the above PR, I do see that this feature was implemented. Resolving

[2019-10-09 21:31] #1288 closed

[2019-10-09 21:36] sammartinez commented on #3365
#1336

[2019-10-09 21:38] sammartinez commented on #1336
We are actively working on this. Please see the RFC reference link

[2019-10-09 22:01] sammartinez commented on #1514
Resolving as this is now possible in the `ForgotPassword` component that it will send a code to the user's email

[2019-10-09 22:01] #1514 closed

[2019-10-09 22:04] sammartinez commented on #1548
Resolving this as the above comment from @mlabieniec

[2019-10-09 22:04] #1548 closed

[2019-10-09 22:10] rush86999 opened #4158 "two issues: InvalidLambdaResponseException for email link verification and Auth.forgotPasswordSubmit"
**Describe the bug**
A clear and concise description of what the bug is.

As described in the title, implementing both of these amplify cognito functions results in the response above:

[code]

**To Reproduce**
Steps to reproduce the behavior:
for cognito
1. go to console
2. select email link verification
3. try amazon subdomain or your own domain, same results.
4. there was also a bug with code v

[2019-10-09 22:12] dabit3 commented on #4126
I see you have the Decision set as an `Int`, is this basically going to be 0 or 1 depending if the person has seen it?

Also, I think you may want to dive a little deeper into data modeling with DynamoDB because I think this is entirely possible without elasticsearch if you use composite keys.

Check out this talk (disregard the evangelism around a single table, most importantly around data modeli

[2019-10-09 22:32] ricky-sb commented on #2754
What's the current solution to this? Is it running a Lambda using a pre-signup trigger and AdminLinkProviderForUser?

[2019-10-09 22:36] #4147 closed

[2019-10-09 22:36] kfwebdev commented on #4147
Update: My user pool id was being set incorrectly. One of the config files was passing a string and not the global constant so it did was referring to an old user pool id. Other functions like Auth.signUp and Auth.forgotPassword still worked but Auth.signIn did not. After updating to the global constant containing the new user pool id, all is working properly now.

[2019-10-09 22:37] sammartinez commented on #4147
Great! Glad it got worked out :)

[2019-10-09 22:39] sammartinez commented on #1781
Resolving as the implementation has been done along with the documentation

[2019-10-09 22:39] #1781 closed

[2019-10-09 22:40] sammartinez commented on #1788
@hannersmatto Is this still a use case you are looking for. Please let us know

[2019-10-09 22:48] sammartinez commented on #1847
@stormit-vn Is this still a valid use case for you, please let us know.

[2019-10-09 22:52] sammartinez commented on #1871
Closing as implemented from the above PR

[2019-10-09 22:52] #1871 closed

[2019-10-09 23:09] sammartinez commented on #1923
Resolving as per the above comment

[2019-10-09 23:09] #1923 closed

[2019-10-09 23:11] sammartinez commented on #1970
Resolving this as per the comment above

[2019-10-09 23:11] #1970 closed

[2019-10-09 23:15] sammartinez commented on #2021
@noellaby Is this still a valid use case for you? Can you please provide a little more context on this? Please let us know. Thanks!

[2019-10-09 23:40] mtorcutt commented on #3197
I am also having the same issue.

[2019-10-10 03:18] kahwooi commented on #2219
Any update on this feature?

[2019-10-10 06:18] bastianbb commented on #3395
We are almost ready to put our app on the Apple App Store, this is the only thing that is blocking us.
An alternative is to setup the signin/signup with a User Pool alongside socials, so you can avoid adding Apple Sign in but we don’t want to maintain a pool.

[2019-10-10 06:18] danhumphrey opened #4160 "Fatal error: Check failed: stack_overflow()."
**Describe the bug**
I updated the amplify cli today (version 3.12.0) and now get an error when attempting to run `amplify storage update`

The full error is:

#&#x2060;
#&#x2060; Fatal error in , line 0
#&#x2060; Check failed: stack_overflow().
#&#x2060;
#&#x2060;
#&#x2060;
#&#x2060; FailureMessage Object: 0x7ffeefbfcc10Illegal instruction: 4

**To Reproduce**
`npm install -g @aws-amplify/cli`
`a

[2019-10-10 06:20] danhumphrey commented on #4160
Sorry, wrong repo..

[2019-10-10 06:20] #4160 closed

[2019-10-10 07:20] hyprstack opened #4161 "withAuth0 HOC the auth0 client is not configured"
**Authentication**

**withAuth0 HOC**

Having posted this question on [stackoverflow](https://stackoverflow.com/questions/58232242/aws-amplify-withauth0-hoc-the-auth0-client-is-not-configured-error) and not having had a response, I'm hoping someone here can help me.

When using the withAuht0 HOC I am getting the error `the auth0 client is not configured`.
Which client is this referring to and how

[2019-10-10 08:28] palak-kansal opened #4162 "My IOS app got rejected because Auth.federatedSignIn method not using Safari View Controller API"

[2019-10-10 09:37] davidbiller commented on #4126
@dabit3

Nope. This is if a user liked it our disliked the card.
Careerinteract is table for the saved swipes. If there is a entry with UserID and CareerID, the user has seen this card already.

Mhhh with a geospital search too?

I need a query like this:
Give me all unswiped cards in radius of 20 km.

[2019-10-10 11:42] olivoil commented on #3395
@bastianbb that might not be a viable alternative according to [the clarification in this TechCrunch article](https://techcrunch.com/2019/09/12/apple-tweaks-app-store-rule-changes-for-childrens-apps-and-sign-in-services/). It states that in the case of apps that use a social sign on service as well as their own sign on service, they must offer Sign in with Apple as well.

So adding a user pool alo

[2019-10-10 11:44] davidbiller commented on #4126
@dabit3
I've been looking at your links. Thank you.

As far as I understand it now, you recommend to use the SortKey, something like this:

There is a table with open jobs. PrimaryKey = UDID.
SortKey could be something like that:
userID1#userID3#UserID202

Then I can query something like that:
Gives me all jobs that don't contain userID1.

A few questions:
1. if this job was viewed by 100k users,

[2019-10-10 11:53] phcorp commented on #3395
FYI expo integrated Apple sign-in https://github.com/expo/expo/blob/master/docs/pages/versions/unversioned/sdk/apple-authentication.md

[2019-10-10 12:19] #4161 closed

[2019-10-10 12:20] hyprstack commented on #4161
Passing in the configuration object defined in your docs to withAuth0 Hoc resolves this issue

[2019-10-10 13:28] stavros-zavrakas opened #4163 "Transcribe Streaming (Predictions) Support for React Native"
**Is your feature request related to a problem? Please describe.**
The documentation for Predictions that is under the React Native section they are not for React Native but just for ReactJS. Specifically, AWS Transcribe and streaming by using React Native and Expo are not documented at all. The documentation specifies that you have to provide bytes which are the bytes that you collect from the mi

[2019-10-10 13:41] Luckygirlllll commented on #4148
@Ashish5591 Hey, is there any updates regarding this issue?

[2019-10-10 13:49] Darkxylitol commented on #3732
Any Update on this?.

[2019-10-10 14:49] dvyue commented on #2605
Have the same issue with React. The set up works with the AWS web UI, but doesn't work with amplify Auth.

[2019-10-10 15:02] madmed88 opened #4164 "How to detect revoked access token"
** Which Category is your question related to? **
Authentication
** What AWS Services are you utilizing? **
Cognitio
** Provide additional details e.g. code snippets **
I am using globalSignOut to revoke the access token for a User. My Java code checks the validity of the access token but does not detect a revoked access token since this information is not included in the token. How can I check if

[2019-10-10 15:25] Luckygirlllll commented on #4148
More info about this error: `"Error: Unable to resolve module `amazon-cognito-identity-js` from `/Users/iryna/Documents/Projects/my_project/node_modules/@aws-amplify/auth/lib/Auth.js`: Module `amazon-cognito-identity-js` does not exist in the Haste module map`
"

[2019-10-10 15:36] Luckygirlllll commented on #563
When I'm trying to import in `MainApplication.java`:

[code]
I'm getting cannot find error in `Android Studio`. How is possible to fix it?

I have already installed `amazon-cognito-identity-js` and liked it.

[2019-10-10 15:54] sammartinez commented on #4164
@madmed88 Can you provide a little more information on this? Are you using Amplify with this? If so, can you provide the versions of Amplify you are experiencing this with?

[2019-10-10 15:58] sammartinez commented on #2040
Here is documentation on using our [PubSub](https://aws-amplify.github.io/docs/js/pubsub) category. I do see that you went with another solution. Resolving as the documentation talks about subscribing and unsubscribing

[2019-10-10 15:58] #2040 closed

[2019-10-10 17:25] damianrr opened #4166 "Cannot find template and update failed due to cognito even when it's not updated"
**Describe the bug**
Hello, recently I tried to push my changes to amplify, I've touched the code of only 2 functions, no cognito, no appsync.
Yet I'm having 2 errors that I don't understand:
The first seems like a warning (yellow letters) as soon as I `amplify push` it saids:
`Could not read cloudformation template at path: /.../portal/amplify/backend/api/portal/build/cloudformation-template.json

[2019-10-10 19:50] Jun711 opened #4168 "Token not invalidated when changing password on different browsers"
**Describe the bug**
A clear and concise description of what the bug is.
JWT tokens aren't invalidated when users change password.

**To Reproduce**
Steps to reproduce the behavior:

1) login the same account on browser A and browser B
2) change password on browser A
3) use Auth.currentAuthenticatedUser() to check user object on browser B
4) session is still valid

**Expected behavior**
A clear an

[2019-10-10 20:31] madmed88 commented on #4168
you can use Auth.signOut({ global: true }) after changing the password to make sure the tokens are invalidated

[2019-10-10 20:35] Jun711 commented on #4168
@madmed88
ok, I will try that.

Does doing this means when a user changes password, the user has to re-logs in?

[2019-10-10 22:16] #4130 closed

[2019-10-10 23:45] Jun711 commented on #4168
@madmed88

I tried `Auth.signOut({ global: true })` but `Auth.currentAuthenticatedUser()` still returns authenticated user on the other browser.

[2019-10-10 23:55] madmed88 commented on #4168
try Auth.currentAuthenticatedUser({ bypassCache: true })

[2019-10-11 00:17] Jun711 commented on #4168
ok. will try that.

on the other issue, you mentioned you use `Auth.signOut({ global: true })` when users change their password. How does your app opened on other browsers detect whether the token is still valid? What do you use?

[2019-10-11 01:51] cbaron opened #4169 "AppSync local mock lambda returning boolean `false` throws exception"
**Describe the bug**
Using GraphIQL to test against my locally mocked AppSync environment, I get a success when the hello world method returns `true`, an exception when I return `false`

**To Reproduce**
Steps to reproduce the behavior:

1) In graphql.schema

[code]

2) Create a function using amplify add function:

[code]
3) Run `amplify mock`
4) Execute mutation in GraphiQL

See error:
[code]

T

[2019-10-11 02:28] kaustavghosh06 opened #4170 "RFC: Other installer options for the Amplify CLI"
Currently, the CLI uses npm as a package manager and requires users of the CLI to install npm with node version > 8.2 for successful installation of the CLI.
This RFC is to gauge community interest around the CLI being published to other package managers if there's a disinterest in installing the CLI via npm or yarn.

Some of the options which we're considering are the following:
* brew for macOS

[2019-10-11 03:18] aej11a opened #4171 "Is there a way to allow any User to add only themselves to an array of Users?"
** Which Category is your question related to? **
API (GraphQL Transform), Auth
** What AWS Services are you utilizing? **
DynamoDB, Cognito User Pools
** Provide additional details e.g. code snippets **
For example, I want to add a list of Users called "Fans" to a "Movie" type. Authenticated users should be able to add themselves to this "Fans" array of Users, but shouldn't be able to add/remove

[2019-10-11 09:50] ronkot commented on #991
I also thought that user would be signed in after sign up, but managed to get along by doing sign in request immediately after sign up:

[code]

[2019-10-11 10:56] davidbiller commented on #4126
@dabit3

I looked again.
I didn't find a way to combine that with a geo search.
An item is viewed by a maximum of 5,000 users. Therefore a concat solution would be fine I think. What does your experience say?

Otherwise I looked at the has_Child function of ElasticSearch. Maybe it would be a solution, too. But of course I would like to stay serverless, if that works.

[2019-10-11 11:21] davidbiller commented on #4127
@dabit3
We can query only for one category here until appsync supports the IN operator. Any thoughts?

[2019-10-11 12:48] sonufrienko commented on #3840
Right now, multiple authentications don't work only on **Amplify Console**.

**Amplify CLI** works well.

[2019-10-11 14:13] gavin771 commented on #3949
Willing to work on a pr for this as this is a high priority for my team.

[2019-10-11 15:02] oliverandersencox commented on #2455
any of the aws team care to give us any sort of feedback on this?

[2019-10-11 16:04] #4100 closed

[2019-10-11 16:11] pbirsinger commented on #3949
@gavin771 you’d be a hero

[2019-10-11 16:59] madmed88 commented on #4168
I did not figure that out yet, I have a similar issue open regarding that #4164

[2019-10-11 19:51] madmed88 commented on #4168
As a workaround I run this code whenever a user interacts with the page:
[code]

[2019-10-11 20:55] paul-doherty opened #4172 "Auth - computeModPow - React Native 0.61"
**Describe the bug**
How am I supposed to use Amplify auth with RN 0.60+?
I am in the process of upgrading RN versions but Amplify is not playing ball and is throwing when I run `Auth.signIn`.

I am on `"aws-amplify": "^1.2.2"` and when I attempt to login I get the computeModPow
 issue [https://github.com/aws-amplify/amplify-js/issues/563](https://github.com/aws-amplify/amplify-js/issues/563)

Fol

[2019-10-11 21:43] sammartinez commented on #4172
@paul-doherty Have you gotten a chance to look at React Native [documentation](https://aws-amplify.github.io/docs/js/start#option-2-use-react-native-cli-recommended-if-you-have-mobile-development-experience)?

[2019-10-11 21:44] sammartinez commented on #4172
#4148

[2019-10-11 22:21] alkurop commented on #4066
I also had similar issue
The solution is:
[code]

[2019-10-11 23:19] matapo commented on #3958
Hi guys, any updates on that?

[2019-10-11 23:49] Ashish5591 commented on #4148
@Luckygirlllll I was able to get it working with ios and android with RN 0.59.10. I will add the detailed installation steps in a comment below so you can try that, but here is something you can try first with your existing project:
Make sure amazon-cognito-identity-js present in your node_modules. It should be present when you do `yarn add aws-amplify`.  You should not have to install it yourself

[2019-10-11 23:57] gkpty opened #4173 "Amplify CLI - issues switching to a local env"
**Describe the bug**
Getting an error in the amplify CLI when trying to switch to another environment called test. i set up CD for the environment in the Amplify console and its working fine but i cannot switch to this environment locally.

i get the following error:
[code]

I have made sure that all the attributes in the team-provider-info.json are correct and i have deleted the enviornment and r

[2019-10-12 00:06] kaustavghosh06 commented on #4173
Duplicate of https://github.com/aws-amplify/amplify-cli/issues/2572
Closing this issue in the JS repo.

[2019-10-12 00:06] #4173 closed

[2019-10-12 01:04] #3738 closed

[2019-10-12 01:26] oystagoymp opened #4174 "Enabling MFA in code and then remembering the device does not suppress MFA"
**Describe the bug**

Does not suppress MFA when device is remembered if MFA is set to optional and enabled in code.

**To Reproduce**
Steps to reproduce the behavior:
1. In Cognito set MFA to optional in the "MFA and verifications" tab. Set User Opt in and Yes to supress MFA in the "Devices" tab.
2. Create a new user and retrieve it:
`const user = await Auth.currentAuthenticatedUser({bypassCache:

[2019-10-12 01:48] DoctahPopp871 commented on #2458
This issue just hit us as well. We've been able to avoid the 1 hour token limit, by forking the storage module and adding transfer acceleration. Anything longer than an hour, the upload fails. We leverage cognito identity pools.

[2019-10-12 04:40] jkeys-ecg-nmsu commented on #3471
@aldegoeij experiencing this in \@latest?

[2019-10-12 06:37] rlimberger commented on #3978
@visusnet what does the "subscription" argument look like for multiple events?

[2019-10-12 06:44] visusnet commented on #3978
@rlimberger See the example above for multiple events in onSubscriptionMsg. However, you are asking for the subscription argument of <Connect />. It is the same as for single subscriptions. The difference is the subscription itself.
The subscription for this example could look like this:
[code]
Please note: This is not allowed by the GraphQL spec. However, AppSync supports it.

[2019-10-12 11:21] paul-doherty commented on #4172
@sammartinez yep, I've read the documentation but it doesn't seem correct

It suggests
[code]

The issue you linked to is for RN 0.59 and so linking is ok there. As I said I am on RN 0.60 and so amazon-cognito-identity-js should be autolinked on Android and indeed I do see it pulled in by a gradle sync in Android studio after I add it yarn add it.

Debugging further I see this is a direct response

[2019-10-12 15:10] jimbol commented on #3682
@bangersandflash Did you ever get it working when running react-native run-ios **from Terminal**.

[2019-10-12 15:35] rlimberger commented on #3978
@visusnet Danke! Got it working. But where/how do I add this custom (multi) subscription? The subscriptions.js file in src/graphql is auto-generated, so can't add it there. I got it working by creating this subscription manually inside App.js like this:

[code]

Whats the right place for this? Thanks again!

[2019-10-12 15:54] visusnet commented on #3978
@rlimberger There is no right or wrong. Put it where it works for you. You can put it in the graphql folder if you want though. It won‘t be overwritten. Just create a new file, e.g. graphql/customSubscriptions.js and put it there. That‘s what I do. However, you are free to put it wherever you want (except for automatically overwritten files).

[2019-10-12 16:20] jasper72 opened #4175 "withAuthenticator with usernameAttributes not working"
My cognito pool is set up to use email as my username.

![image](https://user-images.githubusercontent.com/939156/66704426-daa63d00-ed13-11e9-9a04-966e4a619c8d.png)

And I am using withAuthenticator with usernameAttributes:

![image](https://user-images.githubusercontent.com/939156/66704483-2b1d9a80-ed14-11e9-889a-aa9b3fab5274.png)

But I still get validation errors in the browser complaining abou

[2019-10-12 16:29] aej11a commented on #234
Workaround in case anyone needs it in the future: wrapping the component giving the error in a React fragment will remove the errors.

ex:

[code]

[2019-10-12 21:23] jimbol commented on #4172
I'm also having this issue.
[code]

This fix worked for me - https://github.com/aws-amplify/amplify-js/issues/563#issuecomment-377733312

[2019-10-12 21:47] vladistan commented on #3526
Got the same problem.  I am not using amplify,  just regular OIDC client library.

I get this error when using Google and SAML login through ADFS.   Also doesn't matter if it's one of the standard attributes or a custom one.  I tried to map 'name' attribute from google to customName,  and now I am getting an error message saying 'customName' could not be updated

[2019-10-13 02:49] imedmar opened #5607 "Facebook token refresh doesn't seem to be working."
I read the following in the documentation

But how exactly is this achieved? I've installed `aws-amplify` and `aws-amplify-react` on my ReactJS app. While I'm able to do Facebook login, after about 1.5 hours the token expires and amplify fails to refresh it.

FB login is successfully performed by doing `Auth.federatedSignIn()` and I can see that amplify is checking if token is still up to date whe

[2019-10-13 04:45] dhyeysejpal commented on #2951
Thank you for the fix! I will try it out and update here.

On Sat, Oct 5, 2019 at 10:47 PM pperron <notifications@github.com> wrote:

[2019-10-13 07:04] idanlo commented on #3842
Not stale

[2019-10-13 11:31] alkurop commented on #2184
I'm having this issue again.
I'm using next.js.
When I run dev build, everything good.
But on prod build my page crashes with `No pubsub module applied for subscription`

[code]

[code]

[2019-10-13 11:38] paul-doherty commented on #4172
@jimbol that fix is for iOS. Were you able to get it working on Android?

[2019-10-13 12:55] hakimio commented on #565
@anuradhawick Did you find any solution for the `adminLinkProviderForUser ` issue?

[2019-10-13 16:57] mcg5de opened #4176 "Updating User Attributes in Auth.updateUserAttributes() gives error with certain area codes"
**Description**
When using the Auth.updateUserAttributes() call as part of an "Edit Profile" page on my website, a certain subset of phone number area codes results in an "InvalidParameterException" saying that the phone number format is invalid, despite following the +XXXXXXXXXX format that is specified. The area codes that it doesn't seem to work for are 857, 858, & 859. There have been no issue

[2019-10-13 20:24] philiiiiiipp opened #4177 "Signup with an invalid password gives username error message"
**Describe the bug**
If you signup with a password that does not satisfy the password constrains the message since #4102 always refers to the username.

**To Reproduce**
Signup with an invalid password

**Expected behavior**
The message before was "1 validation error detected: Value at 'password' failed to satisfy constraint: Member must have length greater than or equal to 6", where the satisfy c

[2019-10-13 21:57] anuradhawick commented on #565
@hakimio actually No. I made a workaround my self by handling the error from front end. You can have a look at this. https://github.com/anuradhawick/vinly-search/blob/master/viny-site/src/app/shared-modules/auth/auth.service.ts

If it fails with Google, we can force signup with Facebook and vice versa. (You can give a custom message and proceed). For me this is the best way as I deal with senior u

[2019-10-13 22:05] blairtaylor opened #4178 "Best practice for public and private access to Amplify resources"
Our project will require a user to initially have public access to some of our schema types and once they have chosen the products they would like to purchase, they will be required to authenticate and pay/purchase the items. We have most of the authenticated site built (and working) and are now looking at the design for the public site. We are using Cognito user pools.

One additional requirement

[2019-10-13 23:12] DoctahPopp871 opened #4179 "Refreshing Auth Token for Unauthenticated Cognito Users during storage.put"
** Which Category is your question related to? **
Auth/Storage
** What AWS Services are you utilizing? **
Cognito, s3
** Provide additional details e.g. code snippets **
We are able to successfully authenticate and initiate uploads to s3. We have added transfer acceleration to the storage module and it works very well. Our current issue is that the auth token expires after 1 hour, and our uploads

[2019-10-14 01:26] #3566 closed

[2019-10-14 02:16] bradgreens commented on #1857
Emphasis that @sam-webchef's example is missing the closing `});` ❗️

I was troubleshooting this in CloudWatch logs and found `Runtime.UserCodeSyntaxError: SyntaxError: Unexpected end of input"` on my recent lambda requests.

For completeness:

I had the same Issue where adding a _REST API_ with Amplify's `amplify add api` command generated the `/amplifiy/backend/function/myApi/src/app.js` file an

[2019-10-14 02:27] Ashish5591 commented on #4172
Hi @paul-doherty, If I understand correctly,  I think the issue in your title is not the problem you are actually facing.

It seems initially you got the computeModPow issue, but once you added `amazon-cognito-identity-js` as per the docs, that particular issue went away as expected.
You are correct that it should autolink on Android, and it does which is why you dont see that issue anymore. The d

[2019-10-14 06:50] hakimio commented on #565
@anuradhawick Thanks for sharing your solution.

In our case we have admin added users to Cognito user pool, then in `PreSignUp_ExternalProvider` Cognito hook we check if the user trying to login with social provider is one of the already existing users and if it is, we use `adminLinkProviderForUser` to link social provider account to Cognito user. The first time it results in `Already found an en

[2019-10-14 09:32] GWilman commented on #4001
@haverchuck looks okay to me - is it likely to be merged soon? Thanks

[2019-10-14 09:44] paul-doherty commented on #4172
@Ashish5591 you are correct I have moved past the issue and am experiencing the `SerializationException`

This app is being upgraded and the call used to work. The app code hasn't changed `Auth.signIn(username, password)` but it is still giving me that issue

[2019-10-14 12:54] davidbiller commented on #4126
@dabit3 Any news here? Else we can check if its easier to talk about that per mail?

[2019-10-14 14:01] paul-doherty commented on #4172
I am going to close this issue out. I found my problem was my own fault. As part of updating to RN 0.60 I added my own storage class to work around the AsyncStorage issue https://github.com/aws-amplify/amplify-js/issues/3422 and there was an issue with my implementation.

Thanks for the assistance

[2019-10-14 14:01] #4172 closed

[2019-10-14 14:59] haverchuck commented on #4001
@GWilman - We merged a fix for this into our unstable build (`npm i aws-amplify@unstable` or `npm i @aws-amplify/auth@unstable`).  It will be in the main build when we do our next release.

[2019-10-14 15:00] #4001 closed

[2019-10-14 15:03] GWilman commented on #4001
@haverchuck That's great. Thank you.

[2019-10-14 17:07] ashish-dirkmedia-de opened #4180 "Auto filled username and password on login shows "Username cannot be empty" in firefox"
I am using angular 6 with amplify. All works but in firefox when username and password are autofill shows username and password cannot be empty. Only works when edited.
Can you please help I tried lots of things.

[2019-10-14 17:13] Ashish5591 commented on #4172
Glad you were able to isolate the issue and fix it!

[2019-10-14 17:30] ashika01 commented on #3950
Closing the issue on back of the merged PR. Thank you for brining the issue up.

[2019-10-14 17:30] #3950 closed

[2019-10-14 17:57] elorzafe commented on #4174
@oystagoymp just to clarify, after step 4 you are trying to signIn without signOut first?

[2019-10-14 18:21] njdullea opened #4181 "Memory Leak."
**Describe the bug**

aws-amplify-react-native 2.2.2 (current) is using react-native-vector-icons 5.0.0, which is using yargs 8.0.2, which is using os-locale 2.0.0, which is using mem 1.1.0 which has a memory leak.

Please upgrade to the most recent react-native-vector-icons version to remove this memory leak.

[2019-10-14 19:18] elorzafe commented on #4175
Thanks @jasper72 we will take a look at this

[2019-10-14 19:20] elorzafe commented on #4176
@mcg5de the phone number starts with +1?

[2019-10-14 19:40] elgutierrez opened #4182 "Querying AWS IoT Thing registry/thing shadow using GraphQL"
** Which Category is your question related to? **
GraphQL API

** What AWS Services are you utilizing? **
AWS IoT

** Provide additional details e.g. code snippets **
I would like to use Amplify with AWS IoT. Is it possible to integrate the thing registry and thing shadow? How could I map it to a GraphQL schema and use the queries, mutations and other resources generated by Amplify?

[2019-10-14 23:21] sammartinez commented on #2082
@pronevich Is this still a valid use case for you? Please let us know, thanks!

[2019-10-14 23:29] sammartinez commented on #2111
@YikSanChan Is this still a valid use case, I do want to point out that we do have documentation on the[ Storage category](https://aws-amplify.github.io/docs/js/storage#put) and also React Components in regards to this. Please let us know if you are still looking for this.

[2019-10-14 23:32] sammartinez commented on #2186
@matamicen from @brettnovak's call out above, this seems to suit your use case. Im going to resolve this issue. Please feel free to open it if this is not what your are looking for. Thanks!

[2019-10-14 23:32] #2186 closed

[2019-10-15 00:08] South-Paw commented on #987
It's absolutely crazy to me that a company as large as Amazon is unable to find the resources to fix what seems to be a pretty large flaw in their auth 'solution'... 😕

[2019-10-15 00:27] jkeys-ecg-nmsu commented on #1604
@mlabieniec https://github.com/aws-amplify/amplify-js/issues/1604#issuecomment-420047781 contains a dead link

[2019-10-15 01:30] mlabieniec commented on #1604
@jkeys-ecg-nmsu updated link (very last section here): https://aws-amplify.github.io/docs/js/start#next-steps

[2019-10-15 01:41] mcg5de commented on #4176
Ah yes, thank you very much. That would be the thing I missed.

[2019-10-15 01:41] #4176 closed

[2019-10-15 02:16] elorzafe commented on #4177
@philiiiiiipp I tried the latest amplify and I have the correct message.

- What is the configuration of the userpool? signup with username, email or phone number?
- Are you using a particular framework or just `Auth.signUp`?

[2019-10-15 02:22] elorzafe commented on #4175
@jasper72 I just tried it and is working for me, are you sure that username does not exist on the userpool?

[2019-10-15 02:39] elorzafe commented on #4178
@blairtaylor any reason you need to use SSR?

[2019-10-15 02:43] elorzafe commented on #4179
@DoctahPopp871 how large are your files? or is because is a slow connection? We may need to consider this use case @pravgupt

[2019-10-15 02:56] elorzafe commented on #4181
@njdullea thanks for pointing this out

[2019-10-15 03:02] elorzafe commented on #4182
Hi @elgutierrez, What problem are you trying to solve? You want to send data from a thing to AppSync and then query that data?

[2019-10-15 03:11] elorzafe commented on #4151
@aldo-roman can you try adding the pluggable doing configure? I think that can solve the problem meanwhile we find a fix for this.

[2019-10-15 03:23] elorzafe commented on #4151
Dont consider that [comment](https://github.com/aws-amplify/amplify-js/issues/4151#issuecomment-542016806), this is what you should do
[code]
[reference](https://aws-amplify.github.io/docs/js/analytics#session-tracking)

[2019-10-15 03:31] blairtaylor commented on #4178
The consultant handling our SEO has indicated that we need SSR so that the web crawlers can properly index our site. He has told us that client rendered React sites will not work well with SEO.

[2019-10-15 04:52] #2111 closed

[2019-10-15 07:34] pronevich commented on #2082
@sammartinez no, currently not using it

[2019-10-15 07:47] LanderN commented on #4164
For me, calling `Auth.signOut({ global: true })` only seems to log out the user locally.
No request is sent to Cognito when calling it, so it looks like a bug?

[2019-10-15 08:21] jasper72 commented on #4175
username is a confusing word in this context so I shall carefully say that the email is unique (its an empty pool).

Even if that was not true it would still be a bug because the error message is not that it is not unique but that the format is wrong.

I have also tried this using Auth.signup with the same error message although I can't find an example of the syntax so I may have this wrong.

[2019-10-15 10:08] jasper72 commented on #4175
I'll make a general comment about amplify: why am I configuring this at all? It should configure itself on the basis of the pool it is attached to just as the default signup page does for the pool.

[2019-10-15 10:32] jasper72 commented on #4175
Random thought: could the difference between our environments be because I use Amplify.configure() to establish the pool rather than using a pool generated by Amplify?

[2019-10-15 10:59] elgutierrez commented on #4182
Hey @elorzafe, yes that's it, I would like sending data from a thing, applying rules, etc using AWS IoT and querying (current and past data) on my frontend using the default GraphQL API. Also, is it possible to query the things registry from GraphQL?

[2019-10-15 12:14] srinivasaravind5 commented on #3778
Any updates on this ?

[2019-10-15 14:30] Lollipop001 commented on #3938
We are dealing with the same issue!
We have policy in role for "Authenticated role" which allows invoking API gateway, and looks something like this(asterisks here only for simplicity):

Then, I have a rule for "Authenticated role selection" that "says" if some user custom attribute equals **true**, then it should assign a different role to the user. The different role policy looks something like

[2019-10-15 15:15] sammartinez commented on #2082
@pronevich Thanks for the response back, going to close this as per your comment.

[2019-10-15 15:15] #2082 closed

[2019-10-15 15:43] sammartinez commented on #2403
Closing as the above implementation is complete from the reference

[2019-10-15 15:43] #2403 closed

[2019-10-15 19:11] Ashish5591 commented on #4148
@Luckygirlllll were you able to resolve the issue? If not try the setup of a new project below:

**Here are the setup steps to use Auth in a new React Native (0.59.10) project**
1) Create the project using React Native CLI:
`react-native init rnAuth59 --version 0.59.10`
2) Go to the project root and do amplify init:
`cd rnAuth59 && amplify init`
3) Add Auth to you project using the CLI:
`amplify a

[2019-10-15 21:08] #898 closed

[2019-10-15 21:36] aldo-roman commented on #4151
@elorzafe yes, that is what I did. The autotrack events fire, but there is no way to indicate which AWS Kinesis stream it should report to. That's why I thought about using a default stream, but there can be other solutions.

[2019-10-15 21:57] elorzafe commented on #805
@ceich We are missing you around here ❤️  I hope you are still using Amplify.

[2019-10-15 22:34] johncblandii opened #4186 "Type 'Props["usernameAttributes"]' cannot be used to index type '{ [UsernameAttributes.EMAIL]: string; [UsernameAttributes.PHONE_NUMBER]: string; [UsernameAttributes.USERNAME]: string; }'. TS2536"
**Describe the bug**

React production builds are failing with the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. `docker build -t client:latest -f ./client/Dockerfile-release ./client`

`package.json`

[code]

**Expected behavior**

Dev builds work as expected. They do not have a problem during the build or run process.

Release builds should work.

**Screenshots*

[2019-10-15 22:52] viktor commented on #3495
I have a lot of problems setting up cognito with lambda and apigateway, am using serverless and am getting CORS exceptions, I dont understand why am getting them, everything works without cognito.

[2019-10-15 23:41] jkeys-ecg-nmsu commented on #4182
AppSync supports Lambda resolvers so you can always implement this logic in a Lambda. Not sure how to get started beyond writing the lambda tho.

[2019-10-16 04:55] hoang-innomizetech opened #4188 "Can we refresh token sooner"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
E.g. Cognito
** Provide additional details e.g. code snippets **
We are using Amplify for authentication to our Angular app with Cognito User Pool, sometimes our user is getting access token has expired error. We are trying to figure out a solution to allow refresh token easier instead of extract 1h.

[2019-10-16 07:23] dhyeysejpal commented on #2951
I can see that the theme container component is modified with the values we set, but there is still a white bar remaining on top. I will dive deeper and give it another try

[2019-10-16 07:27] jclough96 commented on #4008
Hey @undefobj, we've had some back and forth with Facebook regarding this issue. They are keen to stress that Platform Policy 8.2 requires the use of the native SDK when using Facebook login in a native environment.

Any further thoughts?

We have attempted a few custom solutions to try and integrate with cognito. We wrote a custom Auth flow which worked a treat in our dev apps but as the app whic

[2019-10-16 07:56] kelvinliang-seekers commented on #612
We need this features as well lol

[2019-10-16 09:02] vsatyav007 commented on #4133
can anyone update me on this?

[2019-10-16 09:47] philiiiiiipp commented on #4177
It is the latest version as of now.

[code]

[code]

We signup with email, the CF portion looks like:

[code]

We do use Auth.Signup directly. Its a nodejs integration test.

I am now always getting the same error

[code]

Which I believe is because of #4102

[2019-10-16 10:34] ashish-dirkmedia-de commented on #4180
Please give me some idea to fix the issue. Just to brief the issue:
When the username and password are already saved in browser so we dont actually enter these fields it is automatic when we go to login page. I get username and password null.
If I type in then allworks.
Please help

[2019-10-16 10:36] ashish-dirkmedia-de commented on #4082
I checked recommended link. It says to add components. Can you please guide me more on it like how to copy whole of this as a new module in my angular app.

[2019-10-16 11:18] LucasSubli commented on #1318
+1

[2019-10-16 11:19] sachinrajgire commented on #3854
Any update on this , Already spend couple of hours on this ,
I wondering why
:root <---- is not picked up ..its just normal css file . I looked at all the css selectors here ,
According to Mozilla https://developer.mozilla.org/en-US/docs/Web/CSS/:root

The :root CSS pseudo-class matches the root element of a tree representing the document. In HTML, :root represents the <html> element and is identi

[2019-10-16 12:00] jkeys-ecg-nmsu commented on #4188
This doesn't directly answer your question, but I believe if you add this line:

[code]

It will refresh the tokens if they have expired. Then your code can proceed as normal with fresh tokens. I'm sure an Amplify dev will correct me if I'm wrong :P

[2019-10-16 12:09] hoang-innomizetech commented on #4188
Yeah, we are doing likes this since we are using Angular interceptor to get the access token and add to HTTP request header, but access token has expired error still occur. Also, that error is rarely happening and hard to reproduce.

Basically, Amplify does have a job to auto refresh token, but right now it seems doesn't refresh ahead of expiration time

[2019-10-16 12:30] jkeys-ecg-nmsu commented on #4188
Oh I see.

I checked the AuthClass and didn't see a method for forcing a token refresh before the expiry, so the Amplify team will probably have to add a method for that or you'd have to manually send the refresh token to the TOKENS endpoint and grab new tokens, then inject them into a new service client and execute your request. I don't know if you can inject them into the global AWS client direc

[2019-10-16 13:37] hoang-innomizetech commented on #4188
Well, access token and id token valid within 1h and cannot be changed. Your solution might work, but it add complexity, amplify does refresh, so we just need to adjust function to refresh it on time, maybe add a new prop

[2019-10-16 13:49] loganwedwards commented on #4003
@oriharel @schellack I dug into this a bit more and discovered the issues is actually partly my fault in how I installed the project or an architectural one on the Amplify side. I disccovered that the `urlListener` is in fact executing the code flow twice, *but* it was only happening once in `@aws-amplify/auth`. Come to find out, there is a separate `node_modules` directory under `aws-amplify` (se

[2019-10-16 15:20] imyjimmy commented on #3854
@sachinrajgire you have a couple options:

either delete everything in `@aws-amplify/ui/dist/style.css` or delete the import statement in the corresponding file (can't remember which file off the top of my head but you can search for it in your favorite code editor) or use my own custom package: https://www.npmjs.com/package/aws-amplify-react-jz

[2019-10-16 17:22] elorzafe commented on #4064
Thanks @mevert I will try this now

[2019-10-16 18:19] johncblandii commented on #4186
I tried this config with `typescript 3.6.3` and it failed as well.

[2019-10-16 19:02] schellack commented on #4003
Interesting. Any particular reason why you are using the scoped package imports (e.g., `@aws-amplify/auth`) and also importing the full `aws-amplify` library?

I will take another look at my project to see if that's at all related to the issue I see. Personally I only use the scoped imports.

[2019-10-16 19:41] loganwedwards commented on #4003
It's been a while, but I think I was trying to trim my deps down (I only need API, Auth, Core) instead of everything (don't use Analytics, MQTT, Chatbot, etc...). The idea was to get rid of just `aws-amplify`, but it seems it's required by the Amplify RN package.

@schellack Are you using React Native?

[2019-10-16 19:51] schellack commented on #4003
For what it's worth, I don't see multiple code flow events. I track every auth event published to the Hub on the 'auth' channel and only see a single `codeFlow` event.

@loganwedwards if you are still seeing multiple codeFlow events, then you should probably look at only using the scoped packages (and removing aws-amplify) or only use aws-amplify (and removing scoped packages).

My app is all Reac

[2019-10-16 20:36] vgaltes commented on #4177
Hi, I'm facing something similar. I've set up a User Pool where the user can log in with username and with email and given_name as standard attributes. If I try to sign up without sending any of the attributes, the error I'm getting is `"Username could not be created. Please make sure that the username you have entered is between 1 and 128 characters."`

What it's worse, is that if I sign up with

[2019-10-16 21:18] DoctahPopp871 commented on #4179
Hello @elorzafe,

These are large genomic files, 100GiB. Our use-case, is unique, but we have high speed low latent connections we are utilizing when moving these large files. We can move 60-70GiB files under the hour mark easily. ~100GiB seems to be when we reach the hour token timeout threshold.
As mentioned, we ensured the fastest transmission by enabling transfer acceleration on our buckets, a

[2019-10-16 21:30] #1258 closed

[2019-10-16 21:30] #1209 closed

[2019-10-16 21:30] #1085 closed

[2019-10-16 22:43] dieguinho3 opened #4191 "https://www.freelancer.com/jobs/project-21794044/?uniqid=39941763-38535-5da69989-677d3af4&linkid=3"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-10-16 23:05] amey91 commented on #2362
@hoang-innomizetech I would ideally not want to skip type check for dependencies. Can we get a better fix for this?

[2019-10-16 23:30] #2021 closed

[2019-10-16 23:30] #1847 closed

[2019-10-16 23:30] #1788 closed

[2019-10-16 23:39] sachinrajgire commented on #3854
Thanks @imyjimmy

[2019-10-16 23:46] tcchau commented on #3778
@srinivasaravind5 I never got a confirmation either way, but from my own use and testing of Cognito, they seemed to have restored the former behaviour, i.e. it's now possible to receive more specific error messages, other than just a general exception, from the Cognito backend. For example, I can return specific/custom error conditions from my PreTokenGeneration lambda.

To project maintainers: I'

[2019-10-16 23:47] afanslau commented on #4029
I'm also facing this same issue. Any updates?

[2019-10-16 23:51] tcchau commented on #2487
@davidwav To my knowledge, what you are doing is not possible if you are trying to leverage Cognito's verification system for the ForgotPassword case. In my particular case, my CustomMessage lambda can send a confirmation code of my choosing, only because when I create users I use adminCreateUser, and that API allows me to create my own temporary password. Cognito then receives my email template w

[2019-10-17 00:23] rjjlucy opened #4194 "Cannot use e "__Schema" from another module or realm"
**Describe the bug**
Observe the error in developer console in Chrome when I run the app locally.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Integrate with `Amplify` and import it like this
`import Amplify, { Analytics } from 'aws-amplify';`
2. Regular way to consume it
`Amplify.configure(amplifyConfig);`
`Analytics.record(event);`

Version: Amplify 1.1.40

[2019-10-17 00:26] rjjlucy commented on #4194
I tried to set `process.env.NODE_ENV = 'production'` and it seems like the error is gone. But it is not an ideal solution for us. We cannot simply set it to `production` when it's actually `development`

[2019-10-17 00:44] santi8194 opened #4195 "API.graphql Filter over same attribute with different values"
**Describe the bug**
It is not possible to use a query with a filter that has the same attribute more than once. Javascript doesn't allow having duplicate properties on an object.

**Expected behavior**
I would expect to be able to pass a list of attribute filter objects (`{endTime: { ge: "2019-10-01T00:00Z" }}`) to the filter object

[code]

**Desktop (please complete the following information):*

[2019-10-17 01:27] ajhool commented on #3640
Keeping open for auth v2 milestone round 2

[2019-10-17 01:38] undefobj commented on #4008
@jclough96 I'm not sure if there is anything in our control here but I'm going to ask around to some industry contacts I have.

[2019-10-17 03:45] jmandivarapu1 opened #4197 "Amplify currentUserinfo returns null"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
When I used ```authenticationFlowType: 'USER_PASSWORD_AUTH'``` in my configuration of amplify. After I signin with my usrname and password then Auth.currentUserInfo() is returning null.

I doubled checked it. If I remove authenticationFlowtype it shows all the user properties

**To R

[2019-10-17 04:49] jkeys-ecg-nmsu commented on #4197
@jmandivarapu1 as a temporary patch, can you see if you can use this to replace currentUserInfo?

[code]

(that's the syntax off the top of my head, you may need log currentSession() to see how to get the idToken payload if that doesn't work)

[2019-10-17 05:09] sepo-one commented on #3278
facing the same using AuthClass directly:
[code]

[2019-10-17 05:57] rpostulart commented on #3128
I am also very curious how to do this?

I can I stream application specific logs and aws services logs to cloudwatch to analyze them later?

[2019-10-17 06:02] rpostulart opened #4198 "How to deal with application logs with AWS Amplify?"
Is there a way to stream (client side) application logs (errors) to Cloudwatch so you can analyse your app behaviour for improvements of your app?

[2019-10-17 11:40] loganwedwards commented on #4003
It seems the actual errors/flows are subtly different in our use cases, but I am sure the steps you outlined above will help other Android users.

[2019-10-17 12:54] jclough96 commented on #4008
@undefobj I appreciate that. Are there any particular hurdles as to why native solutions are not deliverable?

[2019-10-17 13:45] christensen143 commented on #1324
I'm sure there are plenty of people that are probably struggling with this so I'm posting what I'm using with React to create my admin table. Note that I don't include the code for the actual table as that is beyond the scope. The code below will get you an array of user objects that can easily be mapped over with BootstrapTable or MDBootstrap table.

[code]
Huge thanks to @AaronOverton for postin

[2019-10-17 14:43] Jeff-Duke opened #4200 "Typescript Compiler errors from @aws-amplify/auth"
**Describe the bug**
After adding `@aws-amplify/auth` to a project, and using `federatedSignIn` I'm getting multiple errors from Typescript stating:
[code]
These errors are coming from
`node_modules/@aws-amplify/auth/lib/Auth.d.ts`

**To Reproduce**
Steps to reproduce the behavior:
Install `@aws-amplify/auth` and add it to a typescript project.

**Expected behavior**
We should not get any TS compi

[2019-10-17 15:22] blairtaylor commented on #4198
Similar question was posted here https://github.com/aws-amplify/amplify-js/issues/3524

We all seem to be looking for a CloudWatch appender for the Amplify logger.

[2019-10-17 16:11] undefobj commented on #4008
@jclough96 Amplify & Cognito are compliant with the [OAuth RFC8252](https://tools.ietf.org/html/rfc8252) including using the proper iOS and Android user agents (View Controllers and Custom Tabs) which come from the Native OS extensions. This is what doesn't make much sense on why it's being rejected.

[2019-10-17 16:26] jclough96 commented on #4008
Understood. I mean we also use third party payment which uses the appropriate controllers which some would argue is more sensitive. Thanks for you help up to now.

[2019-10-17 16:53] njdullea commented on #4177
I have also had this issue. Something I noticed was that I would receive the username error when I would add custom attributes in the Auth.signUp() call, that the user pool was not  configured to receive.

Per elorzafe's questions, I am using signup with email, and calling Auth.signUp directly. Hope this helps.

[2019-10-17 17:54] ijavierTek commented on #4195
Try including them as 1 attribute:
[code]

[2019-10-17 18:12] #4162 closed

[2019-10-17 19:21] DoctahPopp871 commented on #4179
I started looking into where this change might be implemented, and notice there already seems to be a function handling the refresh of tokens in the storage provider https://github.com/aws-amplify/amplify-js/blob/master/packages/storage/src/Providers/AWSS3Provider.ts#L195

Which leverages the core credentials file, and this function `_pickupCredentials` https://github.com/aws-amplify/amplify-js/bl

[2019-10-17 20:02] ericclemmons commented on #3841
I was able to reproduce this when going through the following flow:

1. Visit <http://localhost:3000/> unauthenticated.
1. Enable debugging: `window.LOG_LEVEL = 'DEBUG';`. (I also added debugging to a custom `useAuth` hook I have).
1. "Sign in", which redirects to the federated hosted UI.
1. Get redirected back to <http://localhost:3000/?code=...>.
1. URL gets replaced with <http://localhost:3000/

[2019-10-17 20:04] singha53 commented on #1368
+1 although it works with amplify auth add (with client secret)

[2019-10-17 20:24] pravgupt commented on #1336
@ArmorDarks , We have published ES6 builds in our [unstable release](https://www.npmjs.com/package/aws-amplify/v/1.2.3-unstable.5). Please try and let us know if you have any feedback.

[2019-10-17 20:29] pravgupt commented on #2309
@aldo-roman We are doing a phased release and have published ESM builds in our [unstable release](https://www.npmjs.com/package/aws-amplify/v/1.2.3-unstable.5) (publishing both ES5/CJS and ES5/ESM builds for maximum backwards compatibility).  Please try and let us know if you have any feedback.

[2019-10-17 20:33] jkeys-ecg-nmsu commented on #4188
@hoang-innomizetech are you sure that the max role duration is 1 hour? I think that's the default. I don't know if Amplify supports setting the DurationsSecond parameter for the internal authentication logic.

@elorzafe does Amp support DurationSeconds, and if not is there any way to monkey patch OP's code to get them unblocked?

![image](https://user-images.githubusercontent.com/22964702/67045120

[2019-10-17 20:43] pravgupt commented on #3909
@sopranolinist can you [enable the debug logs](https://aws-amplify.github.io/docs/js/logger) for both edge 17 and edge 18 and paste the corresponding logs to this issue?

[2019-10-17 20:55] jkeys-ecg-nmsu commented on #2458
@rohitshetty @SidneyNiccolson @DoctahPopp871 @wildcat63

Have you considered generating presigned S3 urls for your uploads? Make a Lambda that generates the URL and allow your authenticated users to invoke the Lambda, then grab the presigned URL from the response and invoke the upload for them.

That also allows you to avoid having to use sts.assumeRole in the client, which I think is not a best p

[2019-10-17 21:09] elorzafe commented on #4188
@hoang-innomizetech I am looking the clock skew problem now, we want to have a solution for this, there are other related issues #3719 #3699 #2014

[2019-10-17 21:25] sammartinez commented on #4180
@ashish-dirkmedia-de Do you have a code example by chance for this you can link us? Also can you provide the amplify versions you are using and which version of `aws-amplify-angular` you are using?

[2019-10-17 21:30] MatthieuLab commented on #4089
@Ashish5591 hi! any news on this topic?

[2019-10-17 22:21] elorzafe commented on #4175
@jasper72 the issue is that you have `name` attribute required but that is not part of the signUp form. You can customized your signUp form like this

[code]

Attribute `name` will be sent to Cognito. The bug from the library is that the error message is not helping you to discover that. I will mark this as a bug and I will sent a PR to fix this.

Thanks for pointing this out!

[2019-10-17 22:27] dabit3 commented on #3543
I'm having the same issue. I've tested this in the AppSync console and everything works fine.

Here is my API call:
[code]

Here is what my headers look like:

[code]

I see that there is an `undefined` parameter in my headers. Could that be causing the issue? If so, any ideas around what I could do?

[2019-10-17 22:48] dabit3 commented on #3543
Ok, this issue was because I did not have Cognito properly configured to use `unauthenticated` access. For me the solution was this:

[code]

[2019-10-17 22:48] #3543 closed

[2019-10-17 23:41] McCrearyD opened #4203 "GraphQL mutator input from graphql generated database"
** Which Category is your question related to? **
GraphQL / DynamoDB

** What AWS Services are you utilizing? **
Cognito, AppSync, DynamoDB

** Provide additional details e.g. code snippets **

So I have the following type definitions:

[code]

This task property I want 2 different functions for: One to be called when the route is first created (because this task is going to be sent to ECS). And o

[2019-10-17 23:51] santi8194 commented on #4195
Thanks @ijavierTek, I didn't know how to use the filter properly.

Closing

[2019-10-17 23:51] #4195 closed

[2019-10-18 00:56] jkeys-ecg-nmsu commented on #4197
@jmandivarapu1 did that put you back into prod?

[2019-10-18 00:58] jmandivarapu1 commented on #4197
Nope Unfortunately because I am using the ```Auth.currentUserInfo()```  to get all the custom variables.

Hoping from someone AWS will reply. But they transferred the issue.

[2019-10-18 01:38] jkeys-ecg-nmsu commented on #4197
@jmandivarapu1 run the command I gave you to get the custom attributes...

[2019-10-18 01:54] jkeys-ecg-nmsu commented on #4133
@vsatyav007 I think you'll need to take this up with the Lex service team. If the event sent to your validation/fulfillment lambda doesn't contain the attribute you need, there's nothing the Amplify team can do about it until the service team updates the API to include the channel-type in the event.

That being said, is there any reason you can't store the channel-type as a sessionAttribute?

[2019-10-18 02:01] jkeys-ecg-nmsu commented on #4178
@blairtaylor if that's the only reason for SSR you might be able to get away with a solution like [prerender.io](https://prerender.io/).

[2019-10-18 02:15] dabit3 commented on #3543
Follow up: comment from @undefobj cc @kaustavghosh06:

This should actually be configured automatically or the schema compilation should throw a warning - e.g. if public using provider with IAM, and unauth wasn’t enabled in auth category we should enter the auth flow to either enable it or automatically do it under the covers

[2019-10-18 02:31] jmandivarapu1 commented on #4197
Yeah I like the idea.  But don't know what's happening why session is null and all.

But it's throwing error **No current user**.

But when I did  var cognito_resp= await Auth.signIn(this.state.email, this.state.password);

<img width="530" alt="Screen Shot 2019-10-17 at 10 30 21 PM" src="https://user-images.githubusercontent.com/21245519/67061264-cd32ed80-f12d-11e9-95b3-a828320310a3.png">

[2019-10-18 02:52] jkeys-ecg-nmsu commented on #4197
Have you tried updating `aws-amplify` and `aws-amplify-react` to the latest build to see if that resolves the issue with `No current user`? `npm install aws-amplify aws-amplify-react`

Still, I think you can grab the tokens from `signInUserSession` which looks like it has a valid session. I've never noticed that Session prop in the CognitoUser type. Did you look at `signInUserSession` to see if it

[2019-10-18 02:59] elorzafe commented on #3756
@drodriguez56 I was able to reproduce your concern.

If  the user has No MFA selected  and is trying to do `Auth.confirmSignIn`  the attribute `Session` will be `null`. Let me know if you have any other concerns otherwise I will close the issue.

Thanks for your question

[2019-10-18 03:04] elorzafe commented on #4197
@jmandivarapu1 Can you share the `package.json` file of your App?

[2019-10-18 03:05] jmandivarapu1 commented on #4197
This Stack deletion proved to be a never ending night mare for me. Everything feels like interrelated.

Yeah I just update but still the same
<img width="487" alt="Screen Shot 2019-10-17 at 11 04 19 PM" src="https://user-images.githubusercontent.com/21245519/67062862-a7f4ae00-f132-11e9-9a18-747392c89720.png">
<img width="530" alt="Screen Shot 2019-10-17 at 10 59 47 PM" src="https://user-images.git

[2019-10-18 03:06] jmandivarapu1 commented on #4197
Yeah sure.

{
  "name": "@coreui/root-react-admin-template",
  "version": "2.1.0",
  "description": "Root React Admin Template",
  "author": {
    "name": "Łukasz Holeczek",
    "url": "http://holeczek.pl",
    "github": "https://github.com/mrholek",
    "twitter": "https://twitter.com/lukaszholeczek"
  },
  "contributors": [
    {
      "name": "Andrzej Kopański",
      "url": "https://github.com

[2019-10-18 03:18] elorzafe commented on #4197
@jmandivarapu1 for getting user attributes I used this:

[code]

[2019-10-18 03:21] jmandivarapu1 commented on #4197
Thank you for your reply. But,I tried that too. But it's throwing Not Authenticated error. Even though you can see clearly that I am authenticated in the before line

<img width="497" alt="Screen Shot 2019-10-17 at 11 19 53 PM" src="https://user-images.githubusercontent.com/21245519/67063406-b47a0600-f134-11e9-965d-4add4a358bd5.png">

[2019-10-18 03:26] jmandivarapu1 commented on #4197
I am also surprised by the effect of these below lines in my aws_export.js on my overall application. I added these lines for transferring my users between pools. But Once I add these all my authentication and workflows are spoiled. **If I comment these lines then everything works like a magic.**

"Auth": {
        "identityPoolId": "XX",
        userPoolId:  "us-wes",
        userPoolWebClientId:

[2019-10-18 03:30] elorzafe commented on #4197
You have on your exports file both userpool?

[2019-10-18 03:31] jmandivarapu1 commented on #4197
No. Only one Userpool Current one.

[2019-10-18 03:38] elorzafe commented on #4197
Can you share your aws-exports (XXXX the endpoints)?

[2019-10-18 03:39] blairtaylor commented on #4178
Thanks. We'll investigate prerender.io.

Still would appreciate opinions on the best way to offer a public flow for our site which involves around 20% of the site and the two options I outlined to access the DynamoDB types. To clarify, we have an order flow which will behave differently between authenticated and non-authenticated users.

[2019-10-18 03:42] jmandivarapu1 commented on #4197
let me know if you need any variable values?
[code]

[2019-10-18 03:42] elorzafe commented on #3943
@singulli1 it could be a chance that your App is calling `Auth.currentSession()` when the users are logged out or didn't sign in yet?

[2019-10-18 03:44] jkeys-ecg-nmsu commented on #4197
Related to #2480? (Which I think may be undocumented, I should probably submit a pull request on documenting that b/c a lot of that conversation took place over Slack with @jordanranz )

[2019-10-18 03:49] jkeys-ecg-nmsu commented on #4197
@jmandivarapu1 maybe I overestimated how important your fire was, but you could just create a `temp/session` branch, make your changes in that branch, and publish from there until this issue is resolved.

Personally if this were happening to me in realtime I wouldn't say no to a temporary patch because it would mess up my mainline.

[2019-10-18 03:53] elorzafe commented on #4064
@mevert I found the problem, there is a race condition that is trigger when you do unsubscribe and subscribe as you are doing. The problem is on [this line](https://github.com/aws-amplify/amplify-js/blame/master/packages/pubsub/src/Providers/MqttOverWSProvider.ts#L111) `onDisconnect` callback is invoked after the new subscription.

From your code sample:
If you add an `unsubscribe` button to separ

[2019-10-18 03:55] elorzafe commented on #3699
@iartemiev can you update this issue when you have your fix. Thanks!

[2019-10-18 04:08] elorzafe commented on #4197
@jmandivarapu1 why do you need `USER_PASSWORD_AUTH` instead of `USER_SRP_AUTH`?

[2019-10-18 04:10] jmandivarapu1 commented on #4197
Thank you for your suggestions.

I kept one of my server up. But unfortunately it's a dependency issue if I remove the "AUTH" in 'exports.js" then I can't export the User and if I comment it then the user need to signup which I don't want in the first case. So, i basically now doing trail and error and hoping someone will throw in a solution after my **"Amplify analytics mess"**

[2019-10-18 04:11] jmandivarapu1 commented on #4197
i am glad you used. It all started with the crazy amplify.

https://github.com/aws-amplify/amplify-cli/issues/2593

[2019-10-18 04:12] #3985 closed

[2019-10-18 04:18] ashish-dirkmedia-de commented on #4180
"@aws-amplify/ui": "^1.0.25"
"aws-amplify": "^1.1.40",
"aws-amplify-angular": "^3.0.15",

[2019-10-18 05:16] elorzafe commented on #4203
@McCrearyD I will transfer the issue to amplify-cli where it can be handled better.

Thanks for your feedback

[2019-10-18 05:18] elorzafe commented on #4198
@rpostulart @blairtaylor thanks for the feedback. I will close the issue as mention is duplicated from #3524 feel free to +1 to that issue.

Thanks!

[2019-10-18 05:18] #4198 closed

[2019-10-18 05:23] elorzafe commented on #4197
@jmandivarapu1 can you try this.

[code]

[2019-10-18 05:35] jmandivarapu1 commented on #4197
Thankyou for the response.
Just Tried it returned the same response "not authenticated"

[2019-10-18 06:46] jkeys-ecg-nmsu commented on #4197
@elorzafe Also,

Because the migration lambda requires it and once you've got a business use case where you need to migrate old users, it's tough to disable.

This is yet another case of Amplify working around service limitations that make it hard to provide plug-n-play solutions. In the use case of user pool -> user pool migration, it should be possible to migrate with SRP auth because you don't

[2019-10-18 06:59] jkeys-ecg-nmsu commented on #4178
I think the Amplify team has added field-level `@auth` directives. Check the GraphQL Transformer docs for this use case.

If that doesn't work, you could create another schema and AppSync API that mirrors your private schema and that uses the same data sources but only exposes the public models/fields. (Not sure if this is possible with the current CLI.)

Note: before deploying a solution like tha

[2019-10-18 07:15] SidneyNiccolson commented on #2458
I tried using presigned urls before with Boto3, however there is no way to generate a presigned url for multipart uploads. See also this issue: https://github.com/aws/aws-sdk-js/issues/1603

[2019-10-18 09:52] pwfcurry commented on #1735
You can use a custom storage & filter out cookie keys you don't want to use.

https://aws-amplify.github.io/docs/js/authentication#managing-security-tokens

Related: https://github.com/aws-amplify/amplify-js/issues/1545

[2019-10-18 09:53] oliverandersencox commented on #3537
@giacomocarrozzo have you had any luck here? I am going to try one approach today and hopefully get around this MASSIVE BLOCKER.

[2019-10-18 09:59] kristianmandrup commented on #1436
I'm having problems when using TypeScript. I'm told that with `render: void` it is not a valid JSX element and a component extending SignIn cannot be used as a JSX component.

I can see that `Signin` component extends `AuthPiece`:

[code]

Please advice how to resolve this type error.

[code]

[code]

[code]

[2019-10-18 10:03] kristianmandrup commented on #1436
If I change the render return type to `JSX.Element` it works :)

[code]

Please fix this. Cheers!

[2019-10-18 10:12] kristianmandrup commented on #1436
I  found another way around it:

[code]

[2019-10-18 10:54] rfatcakr commented on #3240
Hi i am having same issue when i install react-native-elements on my working project. is there any solution?

react-native-cli: 2.0.1
react-native: 0.57.8

[2019-10-18 11:15] singulli1 commented on #3943
The error is usually received by processes running on an interval timer after a period of time.  We suspect some type of "failed to load resource: net::ERR_NETWORK_IO_SUSPENDED" but this type of error message is 'hidden' by the current code and replaced with "No current User".

I think changing the error handling would help others with these type of problems.

[2019-10-18 11:55] jasper72 commented on #4175
Sorry but this isn't true. I had, of course, already tried that but just for kicks tried your config which also doesn't work for me,

[2019-10-18 12:09] anarerdene opened #4207 "Cannot read property '0' of undefined"
**Describe the bug**
A clear and concise description of what the bug is.

Im using AWS Amplify

"aws-amplify": "1.2.2",
"aws-amplify-react": "^2.5.2",
"react-apollo": "^3.1.3"

**To Reproduce**

I'M trying to connect Apollo hooks to aws Enpoint but throwing this error "Cannot read property '0' of undefined"

My query is :

![image](https://user-images.githubusercontent.com/2210568/67092975-30328c0

[2019-10-18 12:52] iartemiev commented on #3699
@elorzafe will do 👍🏻

[2019-10-18 13:19] tmburt04 commented on #3537
Please post your solution if you figure it out @oliverandersencox .  This is brick-walling my deployment, as well as everyone else' I'm sure.

[2019-10-18 13:26] ChrisInspect commented on #1324
Any updates respectively a date, when this feature will be implemented?

[2019-10-18 14:48] potatopotaro opened #4208 "Amplify hosted React app throws generic "Network Error" for everything"
**Describe the bug**
My "hosted" website (using hosting category) always throws the following error for virtually every `aws-amplify` submodule/method I use:

`{code: "NetworkError", name: "Error", message: "Network error"}`

In particular, I want to use the Auth module's `signUp` method (I don't want to use any of the pre-made Auth UI), however this error appears to also apply in the API category

[2019-10-18 15:17] jeffsheets commented on #446
FWIW in case it helps anyone else, I was initially thinking that `Auth.currentSession()` was not refreshing the token. But in my case we are listening for auth changes with `Hub` to store our token and make api calls outside of the amplify api library by using axios direct. But when `Auth.currentSession()` refreshes the token it does not fire a `Hub` event so our application did not know that a to

[2019-10-18 15:33] vgaltes opened #4209 "AccessToken doesn't work for authenticating calls to API GW but IdToken does."
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **
Amplify Auth version: 1.4.2
Amplify Api version: 1.2.2

Hi, I've created a simple Cognito User Pool using the serverless framework:
[code]

And then I created an authenticated API endpoint:
[code]

Then, when I make a call using the API objec

[2019-10-18 15:40] giacomocarrozzo commented on #3537
@oliverandersencox I didn't try to solve this issue anymore. If you take some step ahead and you would like to share it, I'll be happy to try to help you.

[2019-10-18 15:44] jmandivarapu1 commented on #4197
Yeah I can do that. But here is the thing I found out when I add
[code]

and I basically looked at the localstorage where the amplify actually log information and something happening there. After I login before I reach to get the variables and login information. amplify automatically clearing the login information in the localstorage

![error](https://user-images.githubusercontent.com/21245519/671

[2019-10-18 16:11] warrify opened #4210 "Consecutive logins with different social providers fail"
**Describe the bug**
I set up google and facebook social providers and was able to log in with both of them, even multiple times. But once I logged in one of them the other won't work.

**To Reproduce**
Steps to reproduce the behavior:

1. Sign in with Facebook using `withOAuth` and `facebookSignIn`
2. Sign out with `Auth.signOut`
3. Try to sign in with Google using `withOAuth` and `googleSignIn`

[2019-10-18 17:07] ericclemmons commented on #3822
Hi @StefanV85,

I was able your example this morning with a small sample app:

**Good news!** This should be readily fixable via the steps outlined here:

[code]

[code]

After making these changes, the greeting uses the `email`

@StefanV85 If this doesn't work, be sure to let us know.

[2019-10-18 17:23] elorzafe commented on #4175
@jasper72  sorry to hear that, can you share the error you are getting from Network request?

[2019-10-18 17:33] jasper72 commented on #4175
Retested, to get network error, and it actually worked. Which is great. I must have messed up in test earlier, or it cached. You can close and If it turns out to be intermittent I can always reopen. Many thanks.

[2019-10-18 17:34] #4175 closed

[2019-10-18 17:50] elorzafe commented on #3756
We will mark this as feature-request to improve error messages when `Auth.confirmSignIn` is invoked but No MFA was configured for that user.

[2019-10-18 17:53] elorzafe commented on #3756
@drodriguez56 You can follow [this guide](https://aws-amplify.github.io/docs/js/authentication#sign-in) to configure confirmSignIn on your app

[2019-10-18 18:05] jordanranz commented on #4174
I believe `Auth.setPreferredMFA` will re-enable MFA which will take precedence over step 1 where you suppress MFA.

[2019-10-18 18:13] jordanranz commented on #4174
I believe `Auth.setPreferredMFA` will re-enable MFA and force the challenge name of `SMS_MFA` to be returned. I am curious why `Auth.setPreferredMFA` is being called in this call flow?

[2019-10-18 18:42] justingrant commented on #446
@jeffsheets - care to share the code you used for that interceptor in case it might be useful to others?

[2019-10-18 19:15] jeffsheets commented on #446
@justingrant Oh yep, here you go! This uses the Axios Interceptors setup to inject the Auth token on every call. I can't remember why our app uses idToken instead of accessToken, so depending on the app that might have to change, but here's the general idea. https://github.com/axios/axios#interceptors

[code]

[2019-10-18 19:41] nikhil-dabhade commented on #3995
@Ashish5591 : Any insights in this issue?

[2019-10-18 19:57] jkeys-ecg-nmsu commented on #4197
How are you configuring Amplify, and where in your project are you doing it? Move it to the top of your app entry point if it's anywhere besides that. Then, can you try adding this underneath `Amplify.configure(awsmobile)`:

`Auth.configure(awsmobile)`

If that still doesn't work, can you add this in your app's entry point if you haven't already and post the [Auth] logs?

`window.LOG_LEVEL = 'DEBU

[2019-10-18 20:15] jmandivarapu1 commented on #4197
Thank you for u r reply. I tried it It didn't work. Here is my

<img width="521" alt="Screen Shot 2019-10-18 at 4 12 30 PM" src="https://user-images.githubusercontent.com/21245519/67125183-349a7d00-f1c2-11e9-978a-792496f28b4a.png">
<img width="535" alt="Screen Shot 2019-10-18 at 4 12 43 PM" src="https://user-images.githubusercontent.com/21245519/67125194-3b28f480-f1c2-11e9-93e5-6675e5acf365.png">

[2019-10-18 21:09] jkeys-ecg-nmsu commented on #4197
That `Invalid Refresh Token` error message is a bit eyebrow raising.

Can you try temporarily replacing your login flow with the Amplify login flow provided by `withAuthenticator` in `aws-amplify-react` and see if that fixes it?

[2019-10-18 21:11] streppa opened #4213 "Amplify developer authentication identity provider refresh handler fails silently"
** Which Category is your question related to? **
Amplify, React Single Page App

** What AWS Services are you utilizing? **
Cognito, Appsync

We're trying to refresh the session on page reload.

In the cognito federated identity pool  both the `unauthorized` and `authorized` roles have complete access to the AppSync API (while we're developing).

The identity pool has the custom authentication pr

[2019-10-18 21:39] jmandivarapu1 commented on #4197
Do you mean removing below from aws_exports.js. If I remove it then it works but then the user's wont be migrate from my old pool to the new one.
[code]

[2019-10-18 21:57] patspam opened #4214 "Documentation"
Documentation for the Amplify Framework, which lives here on GitHub, doesn't seem to be up to the same standard as regular AWS services that live on https://docs.aws.amazon.com (for example the [Amplify Console](https://docs.aws.amazon.com/amplify/latest/userguide/welcome.html) documentation). This is a shame as the project seems really useful, but gaps in documentation and overall lack of coheren

[2019-10-18 23:39] Amplifiyer commented on #4209
@vgaltes Have you setup your resource servers that would validate your access tokens and provide access to the configured resources as mentioned in this [guide](https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-define-resource-servers.html)? IdToken specifies a signed in user in cognito user pool which would have the right policies for API access (added by Amplify CLI) a

[2019-10-18 23:56] jkeys-ecg-nmsu commented on #4197
No, I'm saying can you try replacing your login screen with the login screen provided by `aws-amplify` and `aws-amplify-react` HOC to see if the problem could be in how you've implemented your login page.

https://aws-amplify.github.io/docs/js/authentication#using-withauthenticator-hoc

[2019-10-19 00:21] Amplifiyer commented on #4208
@potatopotaro I just tried to use your hosted react app and I was able to signup properly and get the response back with confirmed user.
Can you test again and let us know if you are still facing the issue?

[2019-10-19 00:32] jkeys-ecg-nmsu commented on #3524
I asked an AWS trainer about this, and he said it would probably be more flexible to ship logs to S3 so they can be more easily loaded into various other services (Athena, Redshift, EMR).

That being said, I am +1 for shipping application logs to one service or the other as an option for the Logger class.

FWIW I tried prototyping it myself just by extending Logger (don't own the code so I can't c

[2019-10-19 00:38] jmandivarapu1 commented on #4197
I am not open to changing my signin screen at this point. Because I already messed a lot of code for this.
My SIgnin is working well from 1 year. Only thing is that my  I added auth according to what mentioned in the aws documents. So, I am thinking it's the aws bug in handling the ``` authenticationFlowType: 'USER_PASSWORD_AUTH'```

[2019-10-19 02:05] jkeys-ecg-nmsu commented on #2255
No longer relevant to our use case.

[2019-10-19 02:05] #2255 closed

[2019-10-19 03:05] #3947 closed

[2019-10-19 06:25] jkeys-ecg-nmsu commented on #4197
Okay, I understand. I wasn't asking you to permanently change your login screen, I was asking you to conduct an experiment.

It's hard to be helpful when you won't accept a temporary patch, won't try to debug it by comparing your login flow against the provided flow, haven't provided any sample source code, etc.

I'll leave it to the Amplify team to fix the issue. Good luck, I hope you find a way

[2019-10-19 07:28] ehemmerlin opened #4217 ""process is not defined" in AWS Amplify API dependency graphql 0.13.0"
**Describe the bug**
Creating a Sapper project from scratch (using webpack) then adding AWS Amplify and running it in dev is a success, but run it in production throws a GraphQL error in the console (Uncaught Error: Cannot use e "__Schema" from another module or realm).

Fixing this error thows another one (Uncaught ReferenceError: process is not defined).

A solution is to upgrade GraphQL from 0.

[2019-10-19 09:07] AlessandroAnnini opened #4218 "@searchable directive Elasticsearch costs"
** Which Category is your question related to? **
Appsync + Elasticsearch
** What AWS Services are you utilizing? **
Cognito + Appsync
** Provide additional details e.g. code snippets **
I am using `@searchable` directive on one or two appsync graphql nodes and used it a few times for a search query but my amazon bill is very high, this is the Elasticsearch detail for September:
![image](https://u

[2019-10-19 09:21] vgaltes commented on #4209
Thank you very much, I missed that!

[2019-10-19 09:21] #4209 closed

[2019-10-19 13:27] ajhool commented on #3744
[code]

[2019-10-19 13:38] ajhool commented on #3744
Out of curiosity and a desire to move towards a custom Cloudfront solution, is the gist of the Storage module...

1. Key transforms to insert cognitoId into the path (along with IAM path-to-cognitoId auth rules)
2. Create the aws-sdk s3 client using the Credentials retrieved in the Auth module
3. use the aws-sdk s3 client?

[2019-10-19 14:00] jmandivarapu1 commented on #4197
Thank you for your reply. But I did everything from my  creating new pools,resources, environment ,contact aws support..etc and spent lot of time on this. But changing the source is something I don't want to do at this point. Because if i comment the 'Auth' it's work which means the aws flow is working according to me.

[2019-10-19 17:56] bionicles commented on #2102
look, i get you have megacorporation issues and maybe can't open source cognito (and I disagree)
however, huge numbers of corporations, governement organizations and people depend on Cognito Multifactor, by law, because HIPAA (and common sense) demands multifactor authentication, but this 1 little piece of AWS has been broken / screwed up for years. 
you need it for hipaa compliance. you need cogn

[2019-10-19 18:34] juanr2001 commented on #1355
@luizfilipe I am facing the same issue. I cleared the local storage, logged correctly and still returns

`1 validation error detected: Value null at 'deviceKey' failed to satisfy constraint: Member must not be null`

[2019-10-19 19:27] justingrant opened #4219 "./scripts/build.js/tsc() function will always fail due to undefined symbol `allDiagnostics`"
**Describe the bug**
#4007 added a new [./scripts/build.js](https://github.com/aws-amplify/amplify-js/blob/94b7181d0c37fa9dbfaec8d09b93c0c9f1246ec3/scripts/build.js#L62) file with a `tsc()` function.  This function will always throw because `allDiagnostics` is always undefined. In fact there's no other place in the amplify-js codebase where this symbol is used.

https://github.com/aws-amplify/ampl