[2020-03-21 23:06] ivanzvonkov commented on #1437
+1

[2020-03-22 00:54] ryosuke-hujisawa commented on #2345
Just do

[code]

[2020-03-22 07:42] ralphsomeday commented on #1437
@dabit3 can anyone from the team help with this issue as it has been staling for a while and it is an important feature that should be supported by amplify to be able to upload documents or any binary format files. thank you.

[2020-03-22 11:11] hutch120 commented on #104
Amplify is looking great, but some of these default settings boggle the mind.

A simple email and password login is the most common signup process in the world. No one wants to bother their users to have to enter some weird username (which is most likely their email anyway) or phone number, or any one of the 20 other weird fields (what on earth is zoneinfo?). Also, no one is going to put their pho

[2020-03-22 13:31] dagda1 opened #5165 "a call to CognitoUser#confirm password fails with "Start of structure or map found where not expected.""
**Describe the bug**
A call to `CognitoUser.confirmPassword` errors with HTTP 400
Start of structure or map found where not expected.

**To Reproduce**
Steps to reproduce the behaviour:

[code]
**Expected behavior**
I expect it to return a 200 and allow me to progress

The body that is posted to the cognito server looks like this:

`"{"ClientId":"dfsfsd","Username":"paul.cowan","ConfirmationCode":

[2020-03-22 13:54] cbernardes commented on #3435
I wrote an article approaching this, so if someone has reached this page, the article may help.

https://medium.com/javascript-in-plain-english/serverless-things-i-wish-i-had-known-before-i-started-part-1-aws-cognito-cf5d3a0c3d9d

[2020-03-22 15:58] intagen commented on #4738
@Ashish-Nanda, still got this, any ideas?

[2020-03-22 19:06] seanaye commented on #488
@luchoman08
This doesn't work for me using aws-amplify-vue. Could you provide your full config please?

Here's mine

`
import Auth from '@aws-amplify/auth'
import API from '@aws-amplify/api'
import { AmplifyPlugin } from 'aws-amplify-vue'
Amplify.configure({...})
Vue.use(AmplifyPlugin, { Auth, API })
`

[2020-03-23 00:46] gyandeeps commented on #5111
No to sound monotonous here but having the same issue. I am also using the example right from the docs. Feels little weird that datastore has been active since December and you would think the examples from the docs would work. Unless i am totally missing something here.

[2020-03-23 01:10] michaelcuneo commented on #5064
My initial problem found that it was actually Amplify + Sanitize.css not Amplify + Bootstrap, Bootstrap was something I could do without, so I removed it and switched to something that wasn't so old and annoying. Sanitize.css on the otherhand, was the ultimate cause of this, and still is.

Will this PR account for Sanitize.css as well as Bootstrap...

[2020-03-23 03:02] ericclemmons commented on #5064
Yes, #5073 does.

[2020-03-23 04:05] #4801 closed

[2020-03-23 05:51] undefobj commented on #5111
@gyandeeps @mdebo can you post your GraphQL schemas and client code so that we can take a look?

@jonperryxlm @nikgavalas when querying relations such a "comments on a post" you will need to obtain a reference to the parent and then perform a filter on the results at this time, such as in the following example:

https://aws-amplify.github.io/docs/js/datastore#querying-relations

This will eagerly

[2020-03-23 06:48] rpostulart commented on #5161
Same issue here with this schema:

`type Quiz @model @auth(rules: [{ allow: public, provider: iam }]) {
  id: ID!
  title: String!
  subscribers: [Subscribers] @connection(name: "QuizSubscribers")
  resonses: [Responses] @connection(name: "QuizResponses")
  started: Boolean!
}

type Questions @model {
  id: ID!
  question: String!
  answers: [Answers] @connection(name: "QuizAnswers")
  resonses: [

[2020-03-23 07:31] akku007 opened #5167 "Auth.currentAuthenticatedUser() always return "Not Authenticated" causing Infinite reloads"
** Which Category is your question related to? **
Correct implementation of Auth.currentAuthenticatedUser()
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **
I have a use-case wherein, I first want to check if a user is authenticated or not on the first visit to the site. If the user is not authenticated, I want to redirect the user to the OIDC

[2020-03-23 08:49] elledienne commented on #5117
Hi Sam, do you have an update on this?

[2020-03-23 08:50] nihp commented on #104
@johnmesotech Thanks.

I have another one clarification. Can you clarify? The error messages are retaining in all the screens if I revisit that screen after creating or it will shows an error with wrong input.

[2020-03-23 09:00] cpmech commented on #2115
I'm not using expo, but the same problem happens (iOS only). So, based on your fix, I'm doing this:

[code]

[2020-03-23 12:30] nihp opened #5168 "Confirmation code is sent to the user when the phone number field is blank in forgot password screen"
I have received the confirmation code and the send button is enabled in the below scenario

**Steps to reproduce:**

1. Do not turn the wifi
2. Say 'Forgot Password' in Sign In screen. It takes to Forgot password screen
3. Type your mobile number and click 'Send'
4. You will see an error as 'Network Error'
5. Click 'Back to Sign In'
6. Now, turn the wifi on
7. Say 'Forgot Password'
8. Do not enter

[2020-03-23 13:57] nishantWM commented on #332
Found a way to do this,

[code]

This saves the file in the root of the bucket, inside folder "folderName".

[2020-03-23 14:11] mlabieniec commented on #642
Hello, The Cognito team has launched an update to support this:

Relevant doc: https://docs.aws.amazon.com/cognito/latest/developerguide/how-to-recover-a-user-account.html
Announcement on forum: https://forums.aws.amazon.com/ann.jspa?annID=7293

Please let us know if this does not solve your use case or you feel this issue should be reopened.

[2020-03-23 14:11] #642 closed

[2020-03-23 14:14] MontoyaAndres opened #5169 "How to use Amplify AppSync API in other project"
I have a project made with Amplify, in this, I have integrated AppSync, Storage, Cognito, etc. I want to use the AppSync api in other React project. So I checked the Getting Started page and it gave this:

![config](https://user-images.githubusercontent.com/15065852/77323976-13473b00-6ce4-11ea-91c4-2e460f0bc51b.PNG)

I executed the command init, like this:

[code]

It works well, then I executed t

[2020-03-23 14:38] gyandeeps commented on #5111
### Schema

[code]

### Queries

Here is the getPicture query generated, which i am not sure if it is correct or not.

#### First run

[code]

#### Second run

then i delete the api `apmlify remove api` and regenerated it and this time its different.

[code]

### Problems

1. Whenever i save Picture object, all the `_` fields are undefined. It does get saved as i can verify in local.
1. It never m

[2020-03-23 15:14] AntoineJanvier opened #5170 "Amplify import error after 'modelgen' gradle task"
**The bug**

After the **modelgen** gradle task, in the generated `AmplifyModelProvider` file, there is one import that is not correctly set.
The import is : `import com.amplifyframework.util.Immutable;` and have to be set to `import com.amplifyframework.core.Immutable;`.

**To Reproduce**

Details from [the amplify documentation](https://aws-amplify.github.io/docs/android/api#optional-add-gradle-

[2020-03-23 15:20] nelsynelz commented on #4315
Using Nuxt in SPA mode generally defeats the purpose of using Nuxt for 99% of people.

[2020-03-23 18:02] ericclemmons commented on #5159
The original issue came from `^3.2.0` not including the `crypto` library for React Native, breaking apps.

To resolve this security notice, bump to `^3.3.0` and perform regression tests:

[2020-03-23 18:08] ericclemmons commented on #5159
❗Include @Ashish-Nanda to review the PR

[2020-03-23 18:31] undefobj commented on #5111
@gyandeeps What does your DataStore app code look like? Could you create a gist of it for us to see? The above GraphQL queries don't need to bee built by you, the DataStore sync engine will do these conversions automatically. For example how are you saving the Picture object with `DataStore.save()`? Did you initialize your project with `amplify-app` or manually with `amplify update api` to enable

[2020-03-23 18:38] gyandeeps commented on #5111
To save a picture:

[code]

To add tags I do this:

[code]

[2020-03-23 20:02] alexkaduk commented on #2186
Used PushNotificationIOS.getInitialNotification() from `import PushNotificationIOS from '@react-native-community/push-notification-ios'`

PushNotificationIOS.getInitialNotification()
  .then(notification => {
    if (notification) {
      navigateOnNotification(notification);
    }
  })

[2020-03-23 20:40] guanzo commented on #642
I'm pleasantly surprised at this update, thank you.

[2020-03-23 21:32] subhendukundu commented on #4695
I am getting the same issue. `Error: Models are not topologically sortable. Please verify your schema.`.
I added amplify-app to my existing project and ran an `npm run amplify-modelgen`.
Well, it doesn't particularly say where's the issue with a huge schema as bellow as I started adding datastore offline ability to my app.

The schema looks like,
[code]
My system info
[code]

Any help please?

[2020-03-23 21:49] #5165 closed

[2020-03-23 22:06] onlybakam opened #5173 "Sync processor does not follow @model subscriptions level"
**Describe the bug**
Give this type definition:

[code]

the graphql transform generates this subscription:

[code]

however the JS datastore implementation does not follow the convention and tries to set up a subscription filtered on the owner. This causes the subscription to return an error and breaks datastore.

**To Reproduce**
generate schema as shown above

**Expected behavior**
datastore sh

[2020-03-23 22:14] rpostulart opened #5174 "Datastore sync not working, only locally"
With this schema I am not able to sync to the cloud.

[code]

when execute this code
[code]

the data is added to the local data store but not synced to the cloud, the returned data looks like this (subscribersQuizId: null):
`
name: "ramon"
score: 0
subscribersQuizId: null
id: "f5462124-63d6-4a77-9607-2c0e5549a47b"
_version: undefined
_lastChangedAt: undefined
_deleted: undefined
`

I used the NPX

[2020-03-23 22:55] waltermvp commented on #4695
@subhendukundu try this:

1. comment out all the @connections you have in your schema then deploy
2. If it works then add them + deploy one at a time

[2020-03-23 23:39] markhker commented on #4025
I had the same issue, with expoKit 36.0.0, the error was only on iOS simulator (working correctly on android device and web).
Uninstalling `aws-amplify` and installing individual packages (core, auth and api only) worked for me.

[2020-03-24 00:51] mrowles commented on #642
@mlabieniec Thanks for the update. It's a bit of a shame that the team/s weren't able to communicate what was happening. Will you be able to provide API usage docs for this library soon?

[2020-03-24 00:57] luchoman08 commented on #488
maybe should be
[code]

[2020-03-24 01:22] undefobj commented on #2120
Hello everyone. As @haverchuck and @elorzafe mentioned in their comments we had an RFC for this feature last year to address the request in a scalable and secure way. It was shipped but commenting on this issue and closing it slipped through the cracks unfortunately.

You can read how to add this functionality here: https://aws-amplify.github.io/docs/cli-toolchain/quickstart#administrative-actions

[2020-03-24 01:22] #2120 closed

[2020-03-24 02:25] andrew-makarenko commented on #4223
Any news?

[2020-03-24 05:06] Graig123git commented on #4304
was this issue resolved and if so where can i find the proposed solution ?

[2020-03-24 07:40] apoorvmote opened #5177 "How to get IdentiyID all users from Admin Queries"
**Which Category is your question related to?**
Auth, Storage

**What AWS Services are you utilizing?**
Cognito, AWS AppSync, Lambda, Storage

**Provide additional details e.g. code snippets**
as mentioned in #2203 I need each users `IdentityID` to just to read `protected` images stored in S3.

It also mentions that you can get current user's `IdenitityID` by
[code]
But how do I get `IdentityID` a

[2020-03-24 08:16] DavidWells commented on #3732
I'm also unable to protect API gateway endpoints with the `scope` only set to `aws.cognito.signin.user.admin`

For example, (using serverless framework), I'm only able to check for `aws.cognito.signin.user.admin` & not real scopes like `user/add`, `user/delete` etc.

[code]

How are people working around this amplify/cognito limitation? Only using IAM roles?

[2020-03-24 10:23] rpostulart opened #5178 "Datastore - npm run amplify-modelgen not working for non @model types"
I have this schema

`
type Quiz @model @auth(rules: [{ allow: public, provider: iam }]) {
  id: ID!
  title: String!
  subscribers: [Subscribers] @connection(name: "QuizSubscribers")
  resonses: [Responses] @connection(name: "QuizResponses")
  questions: [Questions] @connection(name: "QuizQuestions")
  seconds: Int!
  started: Boolean!
}

type Questions @model @auth(rules: [{ allow: public, provid

[2020-03-24 12:44] egoossens commented on #5178
See https://github.com/aws-amplify/amplify-cli/issues/2988#issuecomment-601499881.
Hopefully they'll release the feature soon, as I'm also unable to use DataStore without it.

[2020-03-24 13:16] dabit3 commented on #5169
It looks like you have the authentication type for the API set to `AMAZON_COGNITO_USER_POOLS`, unless a user is signed in this will not work. You need to have an alternate auth type, either `IAM` or `API key` and use that as the auth type for this to work.

[2020-03-24 13:24] ambriglia opened #5179 "AppSync graphql query filter for nulls on nullable string type"
Given this AppSync model...
`type Animal @model  {
  id: ID!
  name: String
}
`
And this graphql query...
`query MyQuery {
  listAnimals (filter: {name: {eq: null}}) {
    items {
      id
     name
    }
  }
}
`
I expect to only return the animals that do not have a name. However, everytime I run this query, nothing is returned. Does the eq filter not work with a null check for nullable string ty

[2020-03-24 14:45] richAtreides commented on #5137
@ashika01, I have tried again yet but I solved it by just implementing my own custom TOTP using soft tokens. It works fine, I built it using the auth API directly and integrating it with Material-UI.

[2020-03-24 14:45] #5137 closed

[2020-03-24 15:40] MontoyaAndres commented on #5169
Yeah! That's the problem! Thanks!

[2020-03-24 15:40] #5169 closed

[2020-03-24 15:45] apoorvmote opened #5206 "Deleting optional string doesn't work with Datastore"
**Describe the bug**
I save image on S3 and the url for the image on Dynamodb with optional String. When I delete image I tried to set it to undefined and I get following error
`Field imageKey should be of type string, undefined received. undefined`

**Amplify CLI Version**
4.17.1

**To Reproduce**
1. `npx create-react-app test --use-npm --template typescript`
1. `amplify init`
1. `amplify add aut

[2020-03-24 17:47] sammartinez commented on #5117
@elledienne Circling back, still waiting to hear from Amazon Cognito on this, apologizes on the delay.

[2020-03-24 17:47] nabezokodaikon opened #5180 "My challenge is to go to the authenticator only page after authenticating with Cognito. The dedicated page handles HTML, CSS, JS or images. All those files are hosted on S3."
I am using amazon-cognito-identity.

 implemented the process by learning below.
[Accessing AWS Services Using an Identity Pool After Sign-in](https://docs.aws.amazon.com/cognito/latest/developerguide/amazon-cognito-integrating-user-pools-with-identity-pools.html)

So, my challenge is to go to the authenticator only page after authenticating with Cognito.
The dedicated page handles HTML, CSS, JS o

[2020-03-24 18:59] #5159 closed

[2020-03-24 19:10] #3829 closed

[2020-03-24 20:10] #3550 closed

[2020-03-24 20:10] #4003 closed

[2020-03-24 20:10] #3925 closed

[2020-03-24 20:21] ashika01 commented on #5137
@richAtreides Cool. we have a beta of new UI components out and we are working on making this follow better. If u want to give it a try we have it in preview. https://github.com/aws-amplify/amplify-js/issues/3279#issuecomment-589909938 we are working on documentation for this right now. But we have a TOTP flow integrated in this.

[2020-03-24 20:31] undefobj commented on #5178
Yes the other issue's related PR has been merged and we are working on a release both of the JS library and CLI. Can we close this issue or is there a separate problem?

[2020-03-24 21:02] Klastic commented on #5163
Hey @chai86,

Here is one way to go about checking usernames.

First make sure you have Username selected as your sign in method for the userpool.
![image](https://user-images.githubusercontent.com/11662370/77473892-293c2500-6de4-11ea-9e49-20e49fb5b1af.png)

I assume if you also check "Also allow sign in with verified email address" that this method will work for email as well, however, I have not

[2020-03-24 21:04] kivilahtio commented on #2588
I'm having this exact same issue right now

[2020-03-24 22:02] TheJoshuaEvans commented on #2777
I have also encountered this issue, except I am using the AWS SDK directly:
https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/CognitoIdentityServiceProvider.html#adminCreateUser-property

Perplexingly, I was able to find a forum post from somebody having the exact opposite problem (links always being sent instead of codes).
https://forums.aws.amazon.com/thread.jspa?messageID=927559&#927559

[2020-03-24 22:40] #5163 closed

[2020-03-24 23:56] cipriancaba opened #5183 "Querying items by GSI"
** Which Category is your question related to? **
DataSource DynamoDB GraphQL API
** What AWS Services are you utilizing? **
AWS AppSync
** Provide additional details e.g. code snippets **

[code]

I have the above schema for a simple Meal datatype and using the `listMeal` query generated by amplify. Authentication works via Cognito

** Expected result **
All the `Meal` items that have the userId

[2020-03-25 03:05] xitanggg opened #5185 "Error in GraphQL Transform @auth documentation?"
** Which Category is your question related to? **
GraphQL API
** What AWS Services are you utilizing? **
AWS AppSync
** Provide additional details e.g. code snippets **
I am reading the GraphQL Transform documentation. At the @auth section, there seems to be an error of the example on giving Draft's Editors ability to update and read Draft objects. The section is quoted as follow:

[code]

If we d

[2020-03-25 07:34] mk0a1a opened #5186 "Support for Multiple APIs"
**Is your feature request related to a problem? Please describe.**
We currently have **two AppSync APIs** from **two different AWS accounts**. The APIs are made by different teams and we would like to use APIs from the first account to the other. The second API is secured using Cognito User Pools while the other is secured using IAM which delegates access to the other account (We made a role and a

[2020-03-25 12:56] xitanggg commented on #5185
Another contradiction in the documentation?

In early part of the documentation, it says
[code]

and in a later part of the documentation, it says

[code]

We are being told two different things, if we set a group, by default, all operations (CRUD) should be assigned to this group if not specified.

To correct it, shouldn't it be `updatedAt: AWSDateTime! @auth(rules: [{ allow: groups, groups: ["Fo

[2020-03-25 13:53] rafaponieman commented on #4319
I'm having the exact same problem in React.

[2020-03-25 16:08] Graig123git commented on #399
Still no way to use graphQl resource while using federated.signIn, I keep getting no current user, FYI am doing this in react native and i am not using hosted UI.

[2020-03-25 16:46] #5178 closed

[2020-03-25 19:13] waltermvp opened #5188 "Incorrect variables"
**Describe the bug**

Anyone else experiencing this?, I get it for other vars as well. have no clue when/how  it actually happens

<img width="1031" alt="Screen Shot 2020-03-25 at 3 11 45 PM" src="https://user-images.githubusercontent.com/1158238/77576172-12acd100-6eab-11ea-8775-e4035854b579.png">

[2020-03-25 19:18] waltermvp commented on #5188
it also pollutes the IAM resources, both were added using the cli
<img width="848" alt="Screen Shot 2020-03-25 at 3 16 15 PM" src="https://user-images.githubusercontent.com/1158238/77576579-cf069700-6eab-11ea-8ab2-54885e24fddc.png">

[2020-03-25 19:45] kaustavghosh06 commented on #5188
@waltermvp I have a few questions which would help us reproduce this issue:
1) Which analytics resource did you add via the CLI? Pinpoint or kinesis?
2) What was your amplify add/update function flow and did you give access to the above mentioned analytics resource added in step 1)?

[2020-03-25 19:46] sammartinez commented on #4049
@ricardoribas As Erics ask above, can you please share your code snippets of your implementations? This will help us further narrow down this issue for you. Thanks ahead of time!

[2020-03-25 22:35] charl8182 commented on #2588
I managed to fix this. It seems to be being fixed during build time. I’m under the impression that the “amplifyPush  - -simple” command is fixing it.

[2020-03-25 23:21] manueliglesias commented on #5174
Hi @rpostulart

Thank you so much for the repo, it helped a lot when troubleshooting

Looks like DataStore is not being configured automatically (this is a bug)

For now, please do an explicit:

[code]

[2020-03-25 23:30] rawadrifai opened #5191 "How do you want users to be able to sign in?"
** Which Category is your question related to? **
Auth

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
During the add auth process, one of the questions is this:
How do you want users to be able to sign in?

What does that really mean? I couldn't find the proper documentation for it.
If I choose `email` instead of `username`? Does that mean

[2020-03-25 23:54] Thomazella opened #5192 "[amazon-cognito-identity-js] check if native modulo is not undefined"
**Is your feature request related to a problem? Please describe.**
using react-native, if the app is run without the native module built, it will result in an opaque error.

**Describe the solution you'd like**
Lib should throw immediately if native dependencie is falsey

**Describe alternatives you've considered**
I did debug and find this out

**Additional context**
react native, affects only am

[2020-03-26 00:08] manueliglesias commented on #5174
@rpostulart I've sent a PR to your repo with the changes I had to make

[2020-03-26 00:12] manueliglesias commented on #5174
I hope this helps, I am closing the issue, let us know if you need it re-opened or create a new one

[2020-03-26 00:12] #5174 closed

[2020-03-26 00:14] #4779 closed

[2020-03-26 00:34] Thomazella opened #5193 "Attempt to call AWS.CognitoIdentityCredentials results in error"
** Which Category is your question related to? **
aws-sdk/global/CognitoIdentityCredentials

** What AWS Services are you utilizing? **
Cognito, appsync
** Provide additional details e.g. code snippets **
I want to set the config object to then call `AWS.config.credentials.refresh()` use case 4 in readMe here: https://github.com/aws-amplify/amplify-js/blob/master/packages/amazon-cognito-identity-j

[2020-03-26 01:07] manueliglesias commented on #5099
Hi @apoorvmote

Thanks for the feedback,

This seems to be an error in the typescript definition. I'll be labeling this issue as a bug.

Now, internally, the storage adapters return that array and we use it for book keeping purposes, it shouldn't be in the public facing API

---

Now, regarding your question:

The answer would be with a regular loop, e.g. `for`

[2020-03-26 03:38] Graig123git commented on #4800
I am facing the same error was this resolved ?

[2020-03-26 03:46] Graig123git commented on #4800
look at what port Expo app is running on turns out mine was on exp://192.168.2.135:19000
so i updated the urls to reflect this.

[2020-03-26 04:50] DavidWells commented on #1884
Was anyone able to solve this?

Is the answer to use https://github.com/aws-amplify/amplify-js/tree/master/packages/amazon-cognito-identity-js & re-implement `Auth.login` from amplify with the base library?

[2020-03-26 06:20] imoldfella commented on #2517
Would also like a solution to this. I can see that It is ticking up the identity pool and the identity pool has role with policy AmazonLexRunBotsOnly. ConsoleLogger.js?36de:84 [ERROR] 17:01.869 Chatbot - Missing required key 'userId' in params. This doesn't make a lot of sense to me, there is no obvious place for it to get a userId since it is forcing a unauthenticated access.

[2020-03-26 10:22] bearsworth opened #5195 "Unable to change :hover and :focus effects on theme"
I'm attempting to do this from react, but I'm having an issue with getting the `:hover` or `:focus` effect to work on a button. Everything works so far, but for some reason I can't quite get the syntax for this. I'm implementing my own theme using `<Authenticator theme={MyTheme} />`. Inside that theme here is the button object.

[code]

I put quotes around '&:hover' so that it would work with Reac

[2020-03-26 10:24] rafaeltc commented on #3933
I am facing the same issue with federated sign in on microsoft (azure) AD. After signing out, the login requests still carry the cognito cookie and therefore I am never truly signed out nor redirected to the federated sign in page. As a result, the user is always signed in.

[2020-03-26 10:43] selbekk opened #5196 "UsernameAttributes type isn't exposed"
**Describe the bug**
When using the `<Authenticator />` component with TypeScript, I can't specify the `usernameAttributes` prop without using `any`. I get the following error:

[code]

[`UsernameAttributes`](https://github.com/selbekk/amplify-js/blob/master/packages/aws-amplify-react/src/Auth/common/types.ts) is an enum, where "phone_number" is a valid value. However, I can't get to this enum bec

[2020-03-26 12:57] tschoffelen opened #5198 "Manually set refresh token"
**Which Category is your question related to?**

Auth

**What AWS Services are you utilizing?**

Cognito

**Provide additional details e.g. code snippets**

We're building a custom authentication flow where the user will get a refresh token (generated from a Cognito user pool) externally from Amplify. What is the
easiest way of passing that refresh token into Amplify?

I was hoping to find somethi

[2020-03-26 15:07] mdoesburg opened #6137 "Authorizing subscriptions without allowing mutations"
**Which Category is your question related to?**

GraphQL Transform: @auth

**Amplify CLI Version**

4.17.1

**What AWS Services are you utilizing?**

- Amplify
- AppSync
- DynamoDB
- Cognito

Within the Amplify framework I am using:
- Auth
- DataStore

**Provide additional details e.g. code snippets**

I am using Amplify and React Native to build a todo app. All users in this app share one todo li

[2020-03-26 15:29] #5140 closed

[2020-03-26 17:51] PHironaka opened #5200 "'User Does Not Exist' after adding Auth Gatsby.js site"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
Getting a 'User Does Not Exist' error message when trying to create a user w/ withAuthenticator

**Amplify CLI Version**
4.17.1

**Expected behavior**

I'm trying to set up Authentication on my gatsby site for demo purposes. I've followed these steps from the CLI:

1. amplify configu

[2020-03-26 18:53] amhinson opened #5201 "UI Components: session not persisted after sign up"
**Describe the bug**
When using the new `<amplify-authenticator>` in Vue, after I sign up and enter the confirmation code I can see in the browser that I am automatically signed in. However, after refreshing the page, the auth session didn't persist and I see the sign in screen. Once a sign in again and refresh the page, the session is persisted.

**To Reproduce**
Steps to reproduce the behavior:

[2020-03-26 19:09] maxlordks opened #5203 "Customizable channel name for android"
Could you please add ability to change notification channel name from default package name to something custom for android? This value is visible for user at system [notification settings](https://developer.android.com/training/notify-user/channels) screen.

It will be ok for me when we can pass custom NOTIFICATION_CHANNEL_NAME with PushNotifications configuration.

There are no other ways to do t

[2020-03-26 20:07] #5099 closed

[2020-03-26 20:18] rpostulart commented on #5174
Woehoe, this definitely helps! Now is my serverless online quiz almost ready with 100% datastore!
thx

[2020-03-26 20:19] rpostulart commented on #5174
BTW I keep that repo open for further issues, so we can collaborate on that!

[2020-03-26 20:50] PHironaka commented on #5200
closing this - I ended up deploying to AWS Amplify and set up private access control instead.

[2020-03-26 20:50] #5200 closed

[2020-03-26 22:58] sammartinez commented on #5117
@elledienne Thanks for being patient so there was a couple follow up questions to this, are you providing an attribute mapping for Google for the email_verified attribute? Amazon Cognito did state by default they assume that any email/phone number they get from the result of a federated sign up or sign in is not verified so they don not set any values for the attribute for the user.

Another note,

[2020-03-26 23:28] juniarz commented on #4257
Here's how I did it!

API.graphql() declaration:
`
...
    graphql<T>({ query: paramQuery, variables, authMode }: GraphQLOptions): Promise<GraphQLResult<T>> | Observable<T> & { [key: string]: any };
...
`

GraphQLResult declaration:
`
...
export interface GraphQLResult<T> {
    data?: T;
    errors?: [object];
    extensions?: {
        [key: string]: any;
    };
}
...
`
1) Added `graphql<T>` for

[2020-03-27 01:07] ngnathan commented on #2908
I just ran into the same issue with @djonk.   But I think I have a resolution, inspired by @danielblignaut 's strategy to update the UserGroup Role with proper permissions [https://github.com/aws-amplify/amplify-js/issues/5058#issuecomment-598647367](https://github.com/aws-amplify/amplify-js/issues/5058#issuecomment-598647367) (different issue, but similar root cause).

Reproducible issue:
- I've

[2020-03-27 02:24] #5196 closed

[2020-03-27 03:36] #5180 closed

[2020-03-27 03:54] nabezokodaikon opened #5210 "Access to the URL generated by Amplify will be denied access."
Access to private S3 content using Amplify will be denied access.
Are there any missing settings?

Do I need to set bucket policies or IAM roles?
How should it be set?

aws-exports.js
[code]

Login process.
[code]

Help me.

[2020-03-27 04:09] manueliglesias commented on #5157
Hi @waltermvp

You can create a predicate for the `id` field as a function and pass it to the DataStore instance

e.g.

[code]

[2020-03-27 04:11] manueliglesias commented on #5156
Hi @waltermvp

You can observe one item like this:

[code]

[2020-03-27 04:23] apoorvmote commented on #5115
I had lots of issues because I was running many different project at localhost. Assuming you are using Chrome for testing. Make sure to go into settings and remove all data for localhost from time to time. Especially if you are getting error. Or like I said use incognito. But switching to incognito is annoying every time.
From google search there used to be setting for developers to automatically

[2020-03-27 04:28] manueliglesias commented on #5198
Hi @tschoffelen

This is currently not supported, but one thing you can try is to look into localStorage for the key where it is stored:

https://github.com/aws-amplify/amplify-js/blob/16b669541e55452091db5944fd8c73503312a319/packages/amazon-cognito-identity-js/src/CognitoUser.js#L1323-L1328

[2020-03-27 04:36] manueliglesias commented on #5195
Hi @bearsworth

Looks like it is not possible to specify pseudo-classes with the `style` prop in JSX, you can explore using a stylesheet that targets `.button:hover` or take a look at some of these suggestions in SO:

https://stackoverflow.com/questions/28365233/inline-css-styles-in-react-how-to-implement-ahover

Hope this helps!

[2020-03-27 04:36] #5195 closed

[2020-03-27 05:29] wickstargazer commented on #4681
Hi guys, i have published `@flowaccoun/aws-amplify-angular` version `4.2.11`

[@flowaccount/aws-amplify-angular](https://www.npmjs.com/package/@flowaccount/aws-amplify-angular)

Its working with angular 9 now, the issue with the PR here is the auto-build isn't working because of `yarn version` and I changed the way its packaged, so it will take time for them to publish

We need to use it now, so I

[2020-03-27 05:29] wickstargazer commented on #4744
Hi guys, i have published `@flowaccoun/aws-amplify-angular` version `4.2.11`

[@flowaccount/aws-amplify-angular](https://www.npmjs.com/package/@flowaccount/aws-amplify-angular)

Its working with angular 9 now, the issue with the PR here is the auto-build isn't working because of `yarn version` and I changed the way its packaged, so it will take time for them to publish

We need to use it now, so I

[2020-03-27 06:52] AvneeshD opened #5211 "id field is not of type String, There was an error adding the API resource"
I'm using this guide,
https://aws-amplify.github.io/docs/js/start?ref=amplify-rn-btn&platform=react-native

I'm getting the error described in the title on step 3 of the tutorial. The following are the steps I took:

Do you want to configure advanced settings for the GraphQL API No, I am done.
Do you have an annotated GraphQL schema? No
Do you want a guided schema creation? Yes
What best describes

[2020-03-27 09:33] ramanasak commented on #2160
how to change background colors, label color text color, etc

[2020-03-27 10:59] madsbrydegaard commented on #5081
I can confirm this issue.

After switching from Hosted UI to amazon-cognito-identity-js integration my Migration Lampda script is NOT executed upon signin of users.

Version: "amazon-cognito-identity-js": "^3.2.6",

[2020-03-27 11:34] tombayo86 commented on #3410
Is there any update/workaround regarding this issue?
I'm having the same problem - showing a system alert on login and on logout (" AppName Wants to Use "amazoncognito.com" to Sign In").

[2020-03-27 13:08] rathoregee opened #5213 "no cognito federated identity pool provided"
**Unauthenticated access is not supported for this identity pool.**
When we do not provide or keep empty 'identityPoolId' we get this error.

*To Reproduce**
Steps to reproduce the behavior:

1. setup json object for Auth

{
  "Auth": {
    "identityPoolId": "",
    "region": "some data",
    "userPoolId": "some data",
    "userPoolWebClientId": "some data",
    "oauth": {
      "domain": "some da

[2020-03-27 13:41] ak37165 commented on #5081
That is NOT the issue I described above. The Migration Lambda script does get executed when using the amazon-cognito-identity-Js SDK. Rather the issue is that the migration lambda check is not performed during Sign Up (it’s only done in sign In).

Possible fix is to perform similar checks in PreSignup Lambda that does get called in the Sign Up flow.  However that lambda gets called after the migra

[2020-03-27 15:18] beeto commented on #4117
@neoPix Any success integrating Amplify with Relay?  I'm working on a project now, and checking if there any any lessons to share on the integration.

[2020-03-27 16:31] frederikprijck opened #5214 "AWS Amplify Auth is not using Rotating Refresh Tokens"
** Which Category is your question related to? **
**Auth**
** What AWS Services are you utilizing? **
**Cognito**
** Provide additional details e.g. code snippets **

As discussed on twitter with @undefobj I had a question/concern about the way AWS Amplify is handling Refresh Tokens. As it was hard to explain the full story on twitter, I was told to open a GitHub issue for further explanation of m

[2020-03-27 17:34] #5144 closed

[2020-03-27 18:41] nganoro commented on #4244
@JSDevelopment17 Hey man, i am struggling with the same issue for my android app using android studio, were you able to figure it out?

thanks

[2020-03-27 19:03] dmjesus89 commented on #3435
I found a way that you dont need call a lambda just decompile the token but I've just implemented by Java

[2020-03-27 19:06] dmjesus89 commented on #3435
I've found this way.

`  JWSObject jwsObject = JWSObject.parse(header);
                if(jwsObject.getState() == com.nimbusds.jose.JWSObject.State.SIGNED) {
                	//signed
                }  if(jwsObject.getState() == null) {
                	//not signed
                }`

[2020-03-27 19:06] dmjesus89 commented on #3435
`  JWSObject jwsObject = JWSObject.parse(header);
                if(jwsObject.getState() == com.nimbusds.jose.JWSObject.State.SIGNED) {
                	//signed
                }  if(jwsObject.getState() == null) {
                	//not signed
                `}``

[2020-03-27 19:12] hckr commented on #3435
@dmjesus89 How does it relate to this issue?

[2020-03-27 20:45] manueliglesias commented on #5088
Thank you @apoorvmote

We are tracking this together with the cli team.

There's work already started: https://github.com/aws-amplify/amplify-cli/pull/3680

[2020-03-27 21:22] r-moore commented on #5214
Some related discussion about the security implications of this in #1972

[2020-03-27 21:22] jomuhm opened #5218 "Using custom state with Cognito Hosted UI leads to OAuth Error while validating state"
**Description**
I am attempting to implement redirect after signin following this pattern https://reacttraining.com/react-router/web/example/auth-workflow. I start the auth flow from a page that is auth protected and want to end at the same location after users successfully authenticate. In order to do so, I am passing the pathname of the page as customState to  ```Auth.federatedSignIn({customStat

[2020-03-27 21:29] DeniseJames commented on #4681
@wickstargazer I am using amplify-angular for the second time, first time with Ivy. I am getting this error after installing "@flowaccount/aws-amplify-angular'. do not know how to verify the version but it installed. Here is my error in the brower:

`core.js:5882 ERROR TypeError: Cannot read property 'viewContainerRef' of undefined
    at AuthenticatorComponent.push../node_modules/aws-amplify-angu

[2020-03-27 22:02] sammartinez commented on #2327
Resolving as this is not a case we are looking to support at this time. For Amazon Cognito, it is required to Sign Up with a country code when using their APIs

[2020-03-27 22:02] #2327 closed

[2020-03-27 22:05] #5080 closed

[2020-03-27 22:09] sammartinez commented on #2460
As the above callouts and merged PRs, this is resolved. Closing this issue

[2020-03-27 22:09] #2460 closed

[2020-03-27 22:36] manueliglesias commented on #5115
Hi @karrettgelley

I cloned your repo and noticed that `Amplify.configure()` is not being called, try adding this to your App.js

[code]

Also, looks like you might need to generate a new API_KEY since the one in your repo seems to be expired.

[2020-03-27 22:46] frederikprijck commented on #5214
Hey @r-moore, thanks for pointing that out. That thread definitely has some interesting comments!

It looks like most of that thread is talking about the expiration date, however I think this is probably the comment that relates the most to the issue I created: https://github.com/aws-amplify/amplify-js/issues/1972#issuecomment-544886675

As much as I agree with what is being said there about short

[2020-03-27 22:57] manueliglesias commented on #5111
I think this might be a duplicate of #5054

See https://github.com/aws-amplify/amplify-js/issues/5054#issuecomment-598868471

Closing it for now, let me know if it needs to be re-opened

[2020-03-27 22:57] #5111 closed

[2020-03-27 23:01] karrettgelley commented on #5115
@manueliglesias I checked the API and _version is indeed there. I'll fix the configuration and update the repo, but how do I update the api key? I tried setting CreateAPIKey to 0, but I still get an unauthorized exception.

[2020-03-27 23:12] rpostulart opened #5219 "Datastore not initiated when deployed to AWS Amplify hosting"
I have build a Gatsby website with AWS Amplify datastore enabled.

Locally it's working fine, but when deployed the datastore is not initiated.

First load is showing an error:

`Uncaught (in promise) TypeError: Cannot read property 'version' of undefined
    at datastore.js:892
    at datastore.js:168
    at Object.next (datastore.js:98)
    at datastore.js:70
    at new Promise (<anonymous>)

[2020-03-27 23:22] manueliglesias commented on #5115
@karrettgelley I've sent a PR
https://github.com/karrettgelley/datastore-demo/pull/1

It is doing a DataStore.observe on useEffect to kick off the sync on component mount. Let me know if that works for you

[2020-03-27 23:53] manueliglesias commented on #5090
Hey @jackatkoeln auth is supported today, if you are still having issues please feel free to open a new issue

[2020-03-27 23:53] #5090 closed

[2020-03-28 04:04] wickstargazer commented on #4681
Hi @DeniseJames it seems like you are still importing `import 'aws-amplify-angular'
you have to change it to `import '@flowaccount/aws-amplify-angular' and it shall work :)

Because there is no more code in the `ngOnInit()` as well! 😄

[2020-03-28 07:52] rpostulart commented on #5219
Seems like you have to init the datastore with listening to a real model.

So like: DataStore.observe().subscribe((MODEL) => {})

But on the index page I don't want to listen to anything so not sure if this is a bug or a need to change my requirements?

[2020-03-28 12:27] egoossens opened #5220 "Using email instead of sub for ownership"
**Which Category is your question related to?**

Auth

**What AWS Services are you utilizing?**

Cognito, AWS AppSync

**Provide additional details e.g. code snippets**

In multiple online examples, such as https://aws-amplify.github.io/docs/cli-toolchain/graphql#ownership-with-create-mutations, the user's email is used instead of the automatically generated sub. How can I configure this? I want m

[2020-03-28 14:41] asmajlovicmars commented on #960
Slightly modified to include the env, etc, but this works perfect for me. Thank you @XC3S

`
    "S3BucketPolicy": {
      "Type": "AWS::S3::BucketPolicy",
      "Properties": {
        "Bucket": {
          "Fn::Join": [
            "",
            [
              { "Ref": "bucketName" },
              {
                "Fn::Select": [
                  3,
                  {

[2020-03-28 17:17] DeniseJames commented on #4681
@wickstargazer  It works!  Thanks. I no longer have the styling, nor the button to create a new account. What is missing now?

![Capture](https://user-images.githubusercontent.com/17970321/77829130-08c6e000-70ee-11ea-95ce-841edf827c32.PNG)

[2020-03-28 18:02] smp opened #5221 ""Learn More" Amplify Plugin Init Event Prompt"
**Describe the bug**
When initializing a new Amplify CLI plugin and selecting the "learn more" radio button for "Which CLI events do you..." the CLI continues on as if I had selected "continue." It should emit information about each event to enable the user to make a choice regarding events.

**To Reproduce**
$ amplify plugin init
? What should be the name of the plugin: amplify-chat
? Specify the

[2020-03-28 18:07] DeniseJames commented on #4681
@wickstargazer  I found out I was not using the css styleing,

npm i --save @aws-amplify/ui

Also include these imports to the top of styles.css
@import "~@aws-amplify/ui/src/Theme.css";
@import "~@aws-amplify/ui/src/Angular.css";

I nominate closing this issue.

[2020-03-28 19:17] rpostulart opened #5222 "Amplify datastore is not supporting multitenant"
The observe is listening to all model data, but it is not possible to only listen to specific data on the model and then apply specific queries and filters on that data.

[2020-03-28 19:29] gyandeeps commented on #5111
Since i am new to all this so with limited understanding, i dont think all the problems discussed in here are present in #5054 . Their might be some overlap i guess.

[2020-03-28 19:53] Temkit commented on #4681
Don't close the issue, this is no more than  a workaround, thank you @wickstargazer for what you've done !

[2020-03-28 20:40] madsbrydegaard commented on #5081
Ok I hear you.
It does however seem to me that the migration script is not executed. I will have to investigate more.

That said I agree with your point on the complexity.
I have for that reason abandoned the use of the migration script and moved the migration logic back into my own signup proces for better control. So now only using PreSignup for auto-confirming users.

[2020-03-28 21:33] #5191 closed

[2020-03-29 00:11] simpleshadow commented on #4990
See https://github.com/aws-amplify/amplify-js/issues/1613.

[2020-03-29 01:03] wickstargazer commented on #4681
Hey guys, thankz for the response, i opened a PR for this and waiting for them to officially
1. Update yarn version to support ivy
2. Review the code and confirm the tests
3. Merge the pr and we can move back to the official package!

Regards,
Wick

[2020-03-29 03:07] ak37165 commented on #5081
If using just your own signup process and own login process (ie, only your server will call Cognito) then you should disable the App client created for JavaScript (else an attacker can call Cognito using your Java script public key and bypass your server logic).

[2020-03-29 04:06] #4728 closed

[2020-03-29 04:09] wickstargazer commented on #3762
Hi guys, i have published @flowaccoun/aws-amplify-angular version 4.2.11

[@flowaccount/aws-amplify-angular](https://www.npmjs.com/package/@flowaccount/aws-amplify-angular)

Its working with angular 9 now, We need to use it now, so I took the liberty :)

For the official version, the below steps need to be taken with the following [Pull request](https://github.com/aws-amplify/amplify-js/pull/4963)

[2020-03-29 04:32] jskrt commented on #728
Any updates on this?

[2020-03-29 08:46] r3-yamauchi opened #5223 "DataStore | Not working with Vue.js subscribe from other device mutation"
** Which Category is your question related to? **
Amplify DataStore with Vue.js
** What AWS Services are you utilizing? **
AWS AppSync, DynamoDB, Cognito User Pools.
** Provide additional details e.g. code snippets **
[code]
https://github.com/r3-yamauchi/amplify-shopping-list-vue/blob/master/src/views/Home.vue#L59

I am trying to use Amplify DataStore with Vue.js.
Mutations on DataStore are synch

[2020-03-29 10:05] zainulabd786 commented on #951
Any update?

[2020-03-29 12:13] rpostulart commented on #5111
I have the same problem:

Schema:
`
type Quiz @model @auth(rules: [{ allow: public, provider: iam }]) {
  id: ID!
  title: String!
  subscribers: [Subscribers] @connection(name: "QuizSubscribers")
  questions: [Questions] @connection(name: "QuizQuestions")
  seconds: Int!
  currentQuestion: String
  questionOrder: String
  started: Boolean
  view: Int
}

type Questions @model @auth(rules: [{ allow

[2020-03-29 14:14] helloPiers opened #5224 "aws-ampify-react: peer dep refs non-existent major version @aws-amplify/ui ^2.0.0"
The package.json peer deps for aws-amplify-react contain:
https://github.com/aws-amplify/amplify-js/blob/d630c34f3132ef38ebacc27bb5cb49d2733e4010/packages/aws-amplify-react/package.json#L104

npmjs knows nothing of such a version. I was only able to find this obscure thing https://libraries.io/npm/@aws-amplify%2Fui/2.0.0-preview.1

[2020-03-29 14:16] helloPiers commented on #5224
Leads to unresolvable WARN messages like

Which lead to a lack of confidence in the project 😞.

[2020-03-29 15:43] mrcoles commented on #2160
@elorzafe cool! I see this can’t be applied to an existing pool. Do you know where the most updated guide is to migrate from one user pool to another? Is this the best one? https://medium.com/collaborne-engineering/migrate-aws-cognito-user-pools-ff2a91a745a2

[2020-03-29 15:52] BearFRA commented on #5098
Same question. How to query with multiple IDs?

[2020-03-29 15:58] ZhuBoao commented on #1852
+1

[2020-03-29 16:37] togro opened #5225 "Filter is not working on Api AdminQueries"
** Which Category is your question related to? **

Auth AdminQueries

** What AWS Services are you utilizing? **

   Cognito AppSync S3 Pinpoint Hosted UI

** Provide additional details e.g. code snippets **

We update to amplify 4.17.1 on project with Angular + Ionic , before that filters on AdminQueries works fine, but now show all users and not filter by email ^= "xxxx@xxx.com" (by example).

W

[2020-03-29 16:47] polson commented on #1521
Can this be done on native app clients (iOS and Android?)

[2020-03-29 17:18] lakersr8ers commented on #4814
Any update on this? I'm also seeing a similar issue.

[2020-03-29 17:25] vadiraja opened #5226 "Unable to use jest to run test on components that are using AWS AppSync client."
**Describe the bug**
Unable to use jest to run test on components that are using AWS AppSync client.

**To Reproduce**
    fetch is not found globally and no fetcher passed, to fix pass a fetch for
          your environment like https://www.npmjs.com/package/unfetch.

          For example:
            import fetch from 'unfetch';
            import { createHttpLink } from 'apollo-link-http';

[2020-03-29 17:29] arjunsk commented on #4814
Cognito to Okta, is a service to service authentication. So we don’t enable PKCE flow in Okta.

Full Post: https://medium.com/@arjunsk/configuring-cognito-user-pool-federated-identity-okta-1349d4aec1f

[2020-03-29 17:30] #4814 closed

[2020-03-29 19:23] humatic commented on #5075
I'm experiencing this also. In lieu of a proper fix, I'm disabling the warning with
[code]
It's not clear to me whether the underlying issue is something that RN needs to fix, Amplify needs to fix, or is something that I need to patch. Can anyone shed any light?

[2020-03-29 19:53] lucianomlima commented on #4580
Now we have a deadline: https://developer.apple.com/news/?id=03262020b

[2020-03-29 20:08] polson commented on #825
Also wondering if there is any way to do this

[2020-03-29 21:30] kinetik06 commented on #1755
I don't know who needs to see this, but on my machine, it was theme.css (all lowercase) not Theme.css

[2020-03-29 21:39] Tom-T opened #5227 "The argument 'file' cannot be empty. Received ''"
**Describe the bug**
I'm not exactly sure, it just started happening recently. I'm not sure what the cause is. It started with an existing project and has since plagued me. I'm not sure if it is related to the auth module, the hosting module, or something else. This time I didn't use API, so it isn't that.

**To Reproduce**
I'm sure some of the options are important so I've included a log. To star

[2020-03-29 22:05] Tom-T commented on #5227
I'm starting to think this was caused by selecting federation, but then not selecting any of the options to federate with....

[2020-03-30 07:47] Manzia opened #5228 "App Store rejects binary because AWS Amplify launches Safari for Facebook Login"
**Which Category is your question related to?**
Amplify Facebook Login Integration

** What AWS Services are you utilizing? **
Amplify, Auth

** Environment:
React Native 0.61

** App Store Rejection message **
`Guideline 4.0 - Design

We noticed that the user is taken to Safari to sign in or register for an account, which provides a poor user experience.

Specifically, your app exit to Safari in

[2020-03-30 08:20] alastair-todd commented on #4754
Just to add - having bumped amplify-js  packages to the latest in our angular app, getting this compile error too.

[code]

[2020-03-30 09:49] 129emma opened #5229 "CognitoUser.refreshSession to update token manually"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **
aws-amplify: 2.2.6

Hi there, I'm trying to refresh tokens especially idToken after update user attributes by calling `Auth.updateUserAttributes`.
Tried solution from [here](https://github.com/aws-amplify/amplify-js/issues/446) , something li

[2020-03-30 12:53] lip-andrade commented on #1429
Can't believe they still haven't implemented this. Seriously, quite disappointed to see such an essential and simple request being ignored.

[2020-03-30 13:08] madsbrydegaard commented on #5081
Ok so just for the record I can confirm that Migration trigger is called upon signin - if auth flow is USER_PASSWORD_AUTH.

This took me a while to understand and the documentation on the subject is not very acurate.

However the trick is to set the authenticationFlowType prop to USER_PASSWORD_AUTH on cognitoUser object before signin - and it works like a charm.
(Default is USER_SRP_AUTH which sig

[2020-03-30 13:36] glauberfc opened #5230 "How to sync DataStore w/ the local DB when we're mocking the API"
** Which Category is your question related to? **
DataStore

** What AWS Services are you utilizing? **
AWS AppSync and Amplify

** Provide additional details e.g. code snippets **
@aws-amplify/core: ^2.2.6
@aws-amplify/datastore: 1.1.0

Is there a way to sync DataStore w/ the local DB created when we're mocking the GraphQL API? I already added data to the local DB, but the DataStore can't get it.

[2020-03-30 15:28] SebSchwartz opened #5231 "DataStore subscription with custom claims"
**Describe the bug**
When using "owner" auth rule, the subscriptions all fails with error: **"Validation error of type MissingFieldArgument: Missing field argument clientId @ 'onCreateContact'"**

**To Reproduce**
_Here is an example of my schema entity_:
[code]
_What the network send as request (in the websocket)_: (payload.data)
`{"query":"subscription operation {\n  onCreateContact {\n    id\n

[2020-03-30 15:55] elledienne commented on #5117
That's embarrassing - I fixed the attributes mapping and now it works like a charm! @sammartinez thanks for the help and sorry for posting a non-issue :)

[2020-03-30 17:06] ImedAdel commented on #3365
@Amplifiyer can I suggest one more thing? Moving `aws-sdk` to peer dependencies :)

[2020-03-30 17:23] karrettgelley commented on #5115
@manueliglesias  Tested it and it works. Can you explain this wizardry? Also, did you mean to use useEffect, or useState? In the PR you call useState

[2020-03-30 17:46] ericclemmons commented on #5117
For those who discover this issue via Google, here are the related Cognito docs:

Example app:

[2020-03-30 18:20] manueliglesias commented on #5115
@karrettgelley oops, yeah, it should be `useEffect` 😅

The explanation is that by doing a `DataStore.observe()` (or e.g. a `DataStore.query()`) on app mount, it kicks off the sync mechanism. Without this, if your first operation against the DataStore is a save, it might not get executed. This is a bug that we are tracking, so my PR is mostly a workaround to make DataStore start the sync as soon as

[2020-03-30 18:20] #5115 closed

[2020-03-30 18:22] karrettgelley commented on #5115
@manueliglesias Thank you very much! Where can I track the bug?

[2020-03-30 18:49] iartemiev opened #5232 "UI Components: Fed sign in with Hosted UI bug"
**Describe the bug**
Federated sign in using Hosted UI does not show user as logged in after getting redirected back to the app. Requires user to refresh browser twice before correct logged in state is shown. Reproduced with React and Angular 9.

**To Reproduce**
Steps to reproduce the behavior:

1. Configure federated sign in via Amplify CLI (issue occurs with Sign in with Amazon, fb, etc.)

2. S

[2020-03-30 19:07] waltermvp commented on #5156
@manueliglesias this is it thank you

[2020-03-30 19:07] #5156 closed

[2020-03-30 19:07] waltermvp commented on #5157
@manueliglesias  thank you

[2020-03-30 19:07] #5157 closed

[2020-03-30 19:31] ryanweaver718 commented on #4636
Any updates on this?

[2020-03-30 19:35] rpostulart commented on #5222
So something like this:

const subscription = DataStore.observe(Post, 123).subscribe(msg => {
  console.log(msg.model, msg.opType, msg.element);
});

So we only listen to Posts with id 123

[2020-03-30 21:15] ashika01 commented on #5201
This is happening on all framework.

[2020-03-30 21:21] grigull commented on #4636
Still same problems with CLI 4.16.1

[2020-03-31 00:26] amhinson commented on #5201
Resolved with https://github.com/aws-amplify/amplify-js/pull/5236

[2020-03-31 00:26] #5201 closed

[2020-03-31 01:20] Amplifiyer commented on #5229
This is related to #4396, #2534, #5043. We will be working on these related issues, until then if you are able to find a workaround that works for you from these related issues, let us know.

[2020-03-31 01:20] #5229 closed

[2020-03-31 01:38] ericclemmons commented on #5232
Here is the order of events I used:

1. http://localhost:3000/
1. Sign in with Google
1. Redirected back to http://localhost:3000/, **not** logged in.
1. Refreshed, which magically changed the URL to http://localhost:3000/?code=..., only showing **Loading...**
1. Refreshed again, which kept the URL **but successfully loaded the app!**

**tldr; `<amplify-authenticator>` isn't listening to `Hub` eve

[2020-03-31 01:44] Amplifiyer commented on #5228
Seems related to #4950

[2020-03-31 01:50] Amplifiyer commented on #5224
@helloPiers thanks for catching this. The warning is not critical, since there is an obvious wrong version in the library's peer dependency which is unmet-able. If you can confirm that you are using 1.x version of @aws-amplify/ui that would be sufficient to know you are using the right version. I'll fix the dependency in library.

[2020-03-31 01:51] Amplifiyer commented on #5227
Transferring to CLI repo

[2020-03-31 04:51] Amplifiyer commented on #5225
Seems related to amplify CLI. Passing to CLI repo for them to check.

[2020-03-31 04:52] Amplifiyer commented on #5221
transferring to amplify cli repo

[2020-03-31 08:29] nihp commented on #1949
I have used the Login, SignUp, ForgotPassword, ComfirmSignUp and other files too from aws-amplify-react-native.

Now I need to customize the screen as per my modified screens (Login, SignUp, ForgotPassword, ComfirmSignUp).

What is the best practice and how can I customize this by replacing with my customized screens.
[code]

Now I am going to replace only 4 screens. Can I make this with the cogni

[2020-03-31 10:03] JonathanTaws opened #5238 "Session event names hardcoded, not consistent with other trackers"
**Is your feature request related to a problem? Please describe.**
I am interested to use the session tracking capability of Amplify, however I would like to set the event names and not rely on the hardcoded `_session.start` and `_session.stop` event names:
https://github.com/aws-amplify/amplify-js/blob/d630c34f3132ef38ebacc27bb5cb49d2733e4010/packages/analytics/src/trackers/SessionTracker.ts#L146

[2020-03-31 10:13] AndrewJack commented on #5027
One of our apps got rejected with the same message. Strangely the others were approved 🤷‍♂️
My appeal was also rejected.

I'll attempt the workaround you've suggested.

Rejection message:
[code]

[2020-03-31 11:13] lissau commented on #4574
I encountered the same problem on "@aws-amplify/pushnotification": "^2.1.6", "aws-amplify": "^2.2.6",

Setting the `requestIOSPermissions` in `Analytics.configure` works as well

`Analytics.configure({
		...config,
		PushNotification: {
			requestIOSPermissions: false
		}
	});`

[2020-03-31 11:18] tschoffelen commented on #5198
Okay, that's a shame. Is this not a use case that you expect to come across more often?

[2020-03-31 12:25] r3-yamauchi commented on #5223
I tried this on Node.js v12.13.0 on Windows 10 and v10.16.0 on Ubuntu 18.04.
But it doesn't work in any of them.

[2020-03-31 12:49] avlonder opened #5239 "Facebook federated signin returns empty page in chrome browser (and does not bring the app to the foreground) if the user is already signed in with Facebook in the Chrome browser"
**Describe the bug**
If I press my Facebook login button, the Chrome browser opens the amazon cognito redirect url, but the page remains blank. If I go to www.facebook.com, sign out, return to my app and press the Facebook login button again, the Chrome browser opens a Facebook login page. After signing in and going back to my app and again pressing the login button, I am finally logged in.

I onl

[2020-03-31 14:30] cedvdb commented on #4744
@wickstargazer did you make a pull request here for this ? so we can upvote it ?

[2020-03-31 14:33] wickstargazer commented on #4744
Yes indeed i did, its here
[Pull Request] (https://github.com/aws-amplify/amplify-js/pull/4963)

[2020-03-31 14:40] MattiaCostamagna commented on #5075
Thank you for your reply @humatic

Even if your solution works, I don't think it's a good idea to just hide a warning, especially when it can cause performance issues. There are already too many apps that slow down our smartphones due to heavy background processing or stuff like that :thinking: .

This problem happens to me only when I use API subscription, so I think it is something related to ke

[2020-03-31 15:40] rahulje9 commented on #2605
We're having the same issue with a react-native app. any solution for this?

[2020-03-31 17:35] glauberfc opened #5241 "Problems to mock Amplify locally"
**Which Category is your question related to?**
API

**What AWS Services are you utilizing?**
AWS AppSync

**Provide additional details e.g. code snippets**
@aws-amplify/core: ^2.2.6
aws-amplify: ^2.2.7

**Model:**
`type Task @model {
  id: ID!
  title: String!
  description: String
  status: String
}`
`type Note @model {
  id: ID!
  content: String!
}`

I'm w/ some problems to mock Amplify locall

[2020-03-31 17:52] dabit3 commented on #5241
Are you using DataStore? If so, then Mock will not work as you can just run the app locally (turn network off), and test locally. You can delete the local data in the browser but deleting any data in IndexDB in the browser when you'd like to reconnect to the back end.

[2020-03-31 18:01] glauberfc commented on #5241
@dabit3 I'm not using the DataStore. I'm adding a Note using the GraphiQL tool and trying to fetch it using the Amplify JS client with the auto generated query `listNotes`. But as the auto generated query includes the `_lastChangedAt` field, I'm getting the error message described above

[2020-03-31 18:24] dabit3 commented on #5241
Also, if the GraphQL schema does not include that field, you can not query for it. Do you need a _lastChangedAt or _version value?

[2020-03-31 18:28] glauberfc commented on #5241
Ok. I was only thinking that maybe more interesting use the auto generated queries as it is always updated than write manually a query. But I'll do this. Thanks again, man!

[2020-03-31 18:40] tommedema commented on #2014
I am unable to reproduce this when using `Storage.put`. I changed my clock to 4 hours forward, then called it, and it succeeded without issues.

Having said that, I think amplify should enable `correctClockSkew` by default.

[2020-03-31 18:50] #5241 closed

[2020-03-31 18:50] #5230 closed

[2020-03-31 19:30] DylanBruzenak commented on #4808
I'm going to add an additional use case here: When booting the app we ask the user for some details about themselves. How do we know whether that data exists so that we can know whether to ask ? Query will return nothing until sync is finished, even if the data exists.

What's worse, is that now that we mis-detect this we have customers with multiple copies of what is supposed to be a single setti

[2020-03-31 19:50] mdoesburg opened #5290 "DataStore subscriptions with combined authorization rules not working (bug)"
**Which Category is your question related to?**

GraphQL Transform: @auth

**Amplify CLI Version**

4.17.1

**What AWS Services are you utilizing?**

- Amplify
- AppSync
- DynamoDB
- Cognito

Within the Amplify framework I am using:

- Auth
- DataStore

**Provide additional details e.g. code snippets**

I've created a React Native app in which users can create contacts. This is the schema:

[code]

[2020-03-31 19:58] cyberfox1 commented on #2014
I don't think anyone here understands what the issue/problem is. #4251 is a joke, setting an explicit offset when you don't know what the actual offset between any given client and the server will be? You have to be kidding me (apparently he wasn't).

The actual problem is for any given client/server there may be a clock offset. If that offset is too great, then sigv4 signed requests will fail val

[2020-03-31 20:23] mk0sojo commented on #4888
We are having the same issue. Looking at the code, I think sendMFACode should call  authenticateUserInternal in the RespondToAuthChallenge callback?

[2020-03-31 21:54] ericclemmons commented on #2014
We're in agreement. #4251 (via #4844) is the building block to handle this automatically.

I apologize for the delay, as we've been getting a major release out the door before addressing this.

I'm tracking this issue (among others) in the [Auth Clockdrift](https://github.com/aws-amplify/amplify-js/milestone/17) milestone so we can resolve them all.

[2020-03-31 21:56] tommedema commented on #2014
@ericclemmons good to hear. Since this is open since 2018, is there a short term workaround for organizations that cannot wait for this to be resolved?

[2020-03-31 22:08] sammartinez opened #5246 "putEvents for Analytics is throwing random TS errors when using DEBUG"
**Describe the bug**
EventsBuffer fails with a Type Error

[code]

**Expected behavior**
No errors that come up if using debug. - `window.LOG_LEVEL = 'DEBUG';`

[2020-03-31 22:20] ericclemmons commented on #2014
@tommedema Not that I can recommend.  There were reports that you could basically "retry" with the corrected clock skew (after the first one failed) here:

In my testing, errors were thrown (due to clock skew of course), but the offset wasn't available to customers via this error for setting offset manually.

@sammartinez Let's bring this into tomorrow's grooming session.

[2020-03-31 22:25] ericclemmons commented on #5232
Fixed via https://github.com/aws-amplify/amplify-js/pull/5244

[2020-03-31 22:25] #5232 closed

[2020-03-31 22:31] tommedema commented on #2014
@ericclemmons is there a way to get the response headers of e.g. a failed Storage.put call? That way we could programmatically retry with a systemClockOffset defined as a workaround.

[2020-03-31 23:32] mdoesburg opened #5248 "DataStore subscriptions with combined authorization rules not working?"
I created an issue in aws-amplify/amplify-cli, but don't know if it should be in here instead.

https://github.com/aws-amplify/amplify-cli/issues/3814

[2020-04-01 00:03] MattWlodarski opened #5250 "Unauthenticated Login"
** Which Category is your question related to? **
Auth.
** What AWS Services are you utilizing? **
Cognito and GraphQL API
** Provide additional details e.g. code snippets **
Hello,

I am trying to send a create mutation from my app as a guest user. I set up my auth through cognito to allow unauthenticated access in conjuction with IAM. Also I added this line to my model:

@auth(rules: [{allow: pu

[2020-04-01 00:20] humatic commented on #5075
I agree wholeheartedly. I will also try the temporary work around you linked. Thanks.

[2020-04-01 00:28] rachitdhall commented on #5214
Thanks for raising this question. We are monitoring the [draft specification](https://tools.ietf.org/html/draft-ietf-oauth-browser-based-apps-05) and will evaluate supporting it.

Rachit Dhall
Amazon Cognito

[2020-04-01 01:17] michaelcuneo opened #5251 "Backed up and restored Cognito User Pool. Users are now locked into 'FORCE_CHANGE_PASSWORD' with no recovery."
** Which Category is your question related to? **
Cognito Auth

** What AWS Services are you utilizing? **
Cognito Auth

** Provide additional details e.g. code snippets **
I have a huge list of people in a User Pool.
I had to recreate the User Pool, so I backed everyone up, recreated the user pool, restored all of the users, and the users had no password, because obviously that side of things can

[2020-04-01 05:34] alexkaduk opened #5252 "Multiple endpoints are register for one device"
We are using Amplify and React Native for mobile application. Have configured push notifications.
Have done new installation on the device and run the application.

Download report from PinPoint (All segments). iPhone device has been register, **although several endpoints were created for iOS**. For Android device one endpoint is created.

Examples of reports

![image](https://user-images.githubus

[2020-04-01 06:10] #4829 closed

[2020-04-01 07:15] foragerr opened #5253 "Can amplify-authenticator render hosted UI for federated logins?"
** Which Category is your question related to? **
Auth

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
[code]

I have a cognito user pool with only google as an Identity provider. When I addd `<amplify-authenticator></amplify-authenticator>` to my angular component, it renders a username/password form.

Can amplify-authenticator show a "Logi

[2020-04-01 07:16] nihp commented on #2281
I have my UI as same from the aws-amplify-react-native.

Now I needs to change for the custom UI.

If I change my UI, Shall I add the withAuthenticator and the screens.

I have AuthenticatorScreen.js file (<Loading/>, <SignUp/> etc...) before. It has all the screens from aws-amplify-react-native.

How to add my custom screens inside the Authenticator.

The withAuthenticator file has an app. How it

[2020-04-01 07:18] foragerr commented on #5253
Or perhaps I'm looking for an angular equivalent of this: https://aws-amplify.github.io/docs/js/authentication#google-sample-in-react

[2020-04-01 07:20] nihp commented on #3986
I created custom screens.

But here my imports are used in side the Authenticator component.

How can I use this screens inside the Authenticator.

Note:

I have added all my screens in the createStackNavigator and navigated back and forth. Any easy way to add the navigation and handling signIn, signUp, ForgotPassword and Confirmation in custom screens.

If I use the same calls of the Auth can I a

[2020-04-01 07:20] nihp commented on #3986
How to set the userAtrributes as different for different environment?

[2020-04-01 08:01] nihp commented on #1031
I need to customize all login screens for my app. Here already I have the Authenticator compoent and all other are imported inside this component.

I have two approach.  Can anyone suggest the best practice.

1. If I add withauthenticator and import all custom screens it will works (My guess)
2. Need to add all custom screens under the stacknavigation and make appropriate changes with Auth.SignIn

[2020-04-01 09:45] avlonder commented on #5239
I deleted my whole root stack in CloudFormation, reinstalled all services, and now the Facebook login seems to work. Weird. My apologies

[2020-04-01 09:45] #5239 closed

[2020-04-01 09:49] anjananeema1102 commented on #4491
Anyone have any idea how to resolve this issue? I am also facing same problem while Sign up. I am following this tutorial : https://itnext.io/aws-amplify-react-native-authentication-full-setup-7764b452a138

[2020-04-01 10:07] satishmolletipipra opened #5254 "Auto filled username and password on login shows "Username cannot be empty" in firefox"
I am using angular with amplify. All works but in firefox when username and password are autofill shows username and password cannot be empty. in chrome it is working fine. some one logged the same issue in following url https://github.com/aws-amplify/amplify-js/issues/4180 but i did't get any solution from that.

[2020-04-01 10:44] Raynos opened #5255 "Unmet peer dependency react-native netinfo"
**Describe the bug**

When install `@aws-amplify/auth` to do authentication in my website I get

[code]

This is from
[code]

The `@react-native-community/netinfo` is a dependency from `@aws-ampliyf/core@2.3.0` and my website does not use react native.

**To Reproduce**

Install `npm i @aws-amplify/auth -S`

**Expected behavior**

Installing and `npm ls` should not complain about unmet peer depend

[2020-04-01 11:15] mdebo commented on #5119
@tslocke i agee with you i don'ht think eager loading all datas is a the right way to do it even in the case of a simple app (not a multi tenant one)
For me, a good strategy would be to do something more closer to the cache-and-network apollo cache strategy . We could return result from datastore (so local database first) to be as fastest as possible, and ant the same time query network to update

[2020-04-01 11:20] shadrech opened #5256 "Hosted UI blank page and errors"
**Describe the bug**
When I go to the cognito hosted UI to login I'm met with a blank page with following errors:
![Screen Shot 2020-04-01 at 12 15 04](https://user-images.githubusercontent.com/6001129/78131470-0678c480-7413-11ea-8b37-d6af5ed2f501.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to your hosted Cognito UI

-- or --

Link to sample code

**Expected behavior**
Expect to

[2020-04-01 11:21] #5256 closed

[2020-04-01 13:17] glauberfc opened #5257 "Add other ways to add data to the DataStore indexDB"
**Is your feature request related to a problem? Please describe.**
I'm a beginner using Amplify and I'm trying to use DataStore on my MVP project. The problem is that I want to mock a list of products only to test it locally before push my API to AppSync, but the only ways to add data to DataStore locally are:
1. creating a screen where I can register these products using the DataStore library;
2.

[2020-04-01 14:08] nihp opened #5258 "How can I customize the UI alone without changing any functions in aws-amlify-react-native"
I am using aws-amplify-react-native default screen to login my app.

Now I need to customize the screen and only need 4 screens.

Can anyone suggest the best practice  for this and easy and simpler way to customize the UI alone.

Here I have. created custom screens alone and need to know how can I add inside the Authenticator or Shall I add it in the stackNavigator.

1. How can I make the signUp a

[2020-04-01 16:18] xitanggg opened #5259 "Quick Question: Is there a way to manually change Authenticator Sign In/Sign Up state"
** Which Category is your question related to? **
Auth

** What AWS Services are you utilizing? **
Authenticator Component

** Provide additional details e.g. code snippets **
I am using the Authenticator Component `<Authenticator />` for Sign In and Sign Up. I also created a navigation bar on top of the page with "Sign In" and "Sign Up" tabs. Is there a way to change the state to the Authenticato

[2020-04-01 17:07] xitanggg commented on #5259
Here is a quick workaround I thought about if you use `<Authenticator />` with your custom `SignIn`, `SignUp` components and use ReactRouter for page navigation.

In the navigation bar, when the `Sign In` tab is click, redirect user to '/signin'. And when the `Sign Up` tab is click, redirect user to '/signup'

At your route module, redirect `/signin` to `/login` (or how your path is set up for `Au

[2020-04-01 17:28] atlowell-smpl commented on #4346
We are having this issue on Edge 44 Angular 8. Our Auth requests seem to hang until the edge console displays the error message:

"The origin 'http://localhost:4200' used the maximum Access-Control-Max-Age value of '172800' as the provided value exceeded this for a cross-origin request to 'https://cognito-idp.us-east-2.amazonaws.com/'."

At this point, the app fails to authenticate, preventing fur

[2020-04-01 17:43] blairtaylor commented on #5019
Would appreciate if someone from the Amplify team could comment. Is the answer no?

[2020-04-01 19:03] bneigher commented on #4388
any chance someone of the amplify team can test out federated login with auth0 on react-native?  I've had issues where I need to manually re-login the user when S3 requests and pinpoint requests start failing.  Been an issue for a year that I've had this library in my app and have had to write a lot of defensive code to mitigate it.  Happens randomly, sometimes when app updates are pushed to the a

[2020-04-01 19:09] Manzia commented on #5228
**Partial workaround to this issue **

Utilizes the https://github.com/proyecto26/react-native-inappbrowser library.

`import Amplify from 'aws-amplify';
import config from './aws-exports.js';
import InAppBrowser from 'react-native-inappbrowser-reborn'

const urlOpener = async (url, redirectUrl) => {
    //const deepLink = getDeepLink("");
    if (await InAppBrowser.isAvailable()) {
        return

[2020-04-01 19:51] tanguy-roberjot opened #5261 "PushNotification Token not refreshing on Android"
**Describe the bug**
I implemented PushNotification with amplify as described in the documentation and it's working well, but after few days using my app, i got an "Unregistered or expired token" error in Android while sending Push Notification. It seems that the token has expired and the endpoint is not updating with the new one. The only way that make it works again is uninstalling and installin

[2020-04-01 19:55] richanna commented on #5214
To elaborate on @rachitdhall's reply, part of that evaluation involves looking at how refresh token rotation would contribute to our overall threat mitigation strategy. As @frederikprijck  rightly noted, refresh token rotation can provide some reduction in the impact of token theft via XSS in some circumstances. However, since it does not prevent theft, it cannot be seen as a replacement for other

[2020-04-01 21:10] #4049 closed

[2020-04-01 22:30] totaland commented on #4117
Would love to know too. @neoPix @beeto

[2020-04-02 03:50] zeritte commented on #5167
see https://github.com/aws-amplify/amplify-js/issues/4420

[2020-04-02 05:11] undefobj commented on #5119
@mdebo The different network strategies are unnecessary in DataStore and a mental overhead for developers, the same behavior is automatically in the sync process by hitting the local models first and GraphQL subscriptions update them immediately in the background. The effect is the same you just don't need to think about it.

To be clear DataStore does not just pull down "the whole database" even

[2020-04-02 05:55] bneigher opened #5267 "TypeError: response.blob is not a function"
**Describe the bug**
Seems that on the newest release (3.0.4) of amplify-js, http requests are erroring out on react-native with network inspect on (react-native-debugger)

**To Reproduce**
Steps to reproduce the behavior:

Install 3.0.4.
Open react-native-debugger, toggle network inspect ON

Observe error in console

![image](https://user-images.githubusercontent.com/4627728/78215222-df9aac80-746

[2020-04-02 06:38] jwooo opened #5268 "How handle email is valid but not confirmed and password is not valid?"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **
situation is user not confirm email code but trying to login. user typing email(not confirmed), invalid password. then amplify return UserNotConfirmedException. However i want to amplify return NotAuthorizedException in this situation. becaus

[2020-04-02 07:17] jwooo commented on #5268
oh i resolve this problem.

[2020-04-02 07:17] #5268 closed

[2020-04-02 07:36] cfaure004 opened #5269 "Cognito Auth using custom provider, hub auth listener is never triggered"
**Describe the bug**

"aws-amplify": "3.0.4"

I'm using aws-amplify to sign-in using cognito with an external auth provider (AzureAD). All the authentication process is working fine but when callback url is called (with hash params access_token,...),neither hub.listen("auth",...) or Auth.currentAuthenticatedUser() is triggered.

Do i have to parse hash params by myself and check if access_token is

[2020-04-02 08:40] arhoy commented on #2713
In the graphql subscriptions file I see the following the top
/* eslint-disable */
// this is an auto generated file. This will be overwritten

That is a bit of a concern no?

[2020-04-02 08:50] mcjlnrtwcz opened #5270 "Automatic sign out on refresh incognito/private mode"
Whenever user is in private mode and reloads the page, after doing `Auth.currentSession()`, I see `AuthClass - user sign out` in the console (with debug mode enabled). Is that by design, or is it a bug in Amplify? Or it rather shouldn't happen and it's bug in my code?

It didn't happen when using `amazon-cognito-identity-js` library with same identity/user pool etc.

[2020-04-02 09:36] charleswduk opened #5271 "Auth.verifyTotpToken returning NotAuthorizedException and stopping new users from setting up TOTP"
**Summary:**
Auth.verifyTotpToken returns a {code: "NotAuthorizedException", name: "NotAuthorizedException", message: "Invalid session for the user."} error when trying to set up MFA for a new user.

**Detail:**
I have set up a sign in function as described in the Amplify documentation [here](https://aws-amplify.github.io/docs/js/authentication#sign-in).

When the _challengeName_ equals _MFA_SETUP

[2020-04-02 09:53] vikas5914 opened #5272 "Mobsf Report: Insecure Random Number Generator."
Recently we ran a security scanner (MobSF) on our application and got an error regarding insecure random number on the following line:

https://github.com/aws-amplify/amplify-js/blob/b82c5119ce231f44ba97a81d788546c3f50b6b5a/packages/pushnotification/android/src/main/java/com/amazonaws/amplify/pushnotification/RNPushNotificationMessagingService.java#L110

CVSS V2: 7.5 (high)
CWE: CWE-330 - Use of I

[2020-04-02 10:29] #5270 closed

[2020-04-02 11:04] sandeepsingh91 opened #5273 "Error in Uploading file to S3 Bucket"
I tried to upload the file to S3 Bucket using the below code

RNFS.readFile(this.state.photo.uri, 'base64').then((res) => {
              Storage.put(filename, base64.decode(res)).then((stored) => {
        console.log('stored', JSON.stringify(stored))
      }).catch(err => {
        console.log(err)
      });
    }).catch(err => console.log(err))

It gave me  AWSS3Provider - error uploading [Erro

[2020-04-02 13:10] tslocke commented on #5119
@undefobj replying to your comment from a couple of weeks ago, asking what my data model looks like, I'm not building anything with DataStore right now, so I can't give you anything specific.

I'll probably check back in a few months time to see what capabilities you've added. It's a really nice vision for a high level DB API, but right now it seems like it's only suitable for single user apps.

[2020-04-02 14:13] sakhmedbayev opened #5320 "While in the mock mode, I cannot upload a file. The `PUT` request is sent to the `https` endpoint instead of the `http`"
**Describe the bug**
While in the mock mode, I cannot upload a file.  The `PUT` request is sent to the `https` endpoint instead of the `http`

**Amplify CLI Version**
`4.13.4`

**To Reproduce**
- `amplify add auth`
- `amplify add storage`
- `amplify mock`
- observe message in terminal `Mock Storage endpoint is running at http://localhost:20005`
- try to upload a file
- go to Chrome's console
- obs

[2020-04-02 14:27] t-moedano commented on #4580
Any news about the null issue? It is still happening to me

[2020-04-02 14:34] t-moedano commented on #4580
It is been close to a month that the null issue is know by the team I see no answer for this problem. We are concerned that Apple will not accept the app showing null in the Sign In. Could anyone please give if at least we have a progress on that ?

[2020-04-02 16:10] danielblignaut commented on #1613
Would be good to get opinions on this... May seem slightly hacky but I've managed to at least get the Auth category storage running on SSR... From what I can tell, a great step forward for SSR in this library would be allowing us to universally configure the data storage across all categories. for example, in @aws-amplify/core package, storage is configured to use either window.localstorage and if

[2020-04-02 17:31] sammartinez commented on #5273
@sandeepsingh91 Can you please provide your environment information with the following command:
[code]

This will help us with understanding your issue more so. Thanks ahead of time

[2020-04-02 17:35] sammartinez commented on #5267
@bneigher Can you provide your environment information? Please run the following command:
[code]

Thanks ahead of time

[2020-04-02 17:45] anarerdene opened #5275 "IdentityId undefined"
**Describe the bug**
IdentityId undefined

**Expected behavior**
Im using identity id of my guest user. After update amplify 3.0.4 identity id not working properly.

[code]
![image](https://user-images.githubusercontent.com/2210568/78282120-59a36200-754e-11ea-8d82-4bbd25a5d594.png)

sometimes identity is ok.

[2020-04-02 17:45] sammartinez commented on #5254
@satishmolletipipra Can you provide us more information on your environment? Please running the follow command so we are able to troubleshoot:

[code]

[2020-04-02 17:50] anarerdene commented on #5250
I think have to use multiple client.

1. Registered user client: AMAZON_COGNITO_USER_POOLS,
2. guest users client: AWS_IAM

because u cant do same thing using single client. I think so.

[2020-04-02 18:01] Amplifiyer commented on #5269
@cfaure004 did this problem start appearing after amplify version upgrade or was it happening with amplify version 2 as well? I've tested hub events with default auth provider and the events seem to be working fine there

[2020-04-02 18:04] sammartinez commented on #5251
@michaelcuneo This issue seems to be specific to Amazon Cognito. Can you please open up a forum issue on [Amazon Cognito AWS Forums](https://forums.aws.amazon.com/forum.jspa?forumID=173) for this?

[2020-04-02 18:06] sammartinez commented on #5248
@mdoesburg I do see traction on the Amplify CLI issue. I am resolving this in favor of the other issue

[2020-04-02 18:06] #5248 closed

[2020-04-02 18:07] sammartinez commented on #5238
@JonathanTaws Thanks for your feedback on this. I'm marking this as a feature request

[2020-04-02 18:11] sammartinez commented on #5224
@helloPiers Can you confirm the above statement of @Amplifiyer ?

[2020-04-02 18:14] sammartinez commented on #5275
@anarerdene Can you provide us more information on your environment? Or a code snippet ? Thanks ahead of time

[2020-04-02 18:18] anarerdene commented on #5275
@sammartinez

i think Auth.currentCredentials() is bugged. First time "identityId" received ok like

[code]

and when i refresh page "identityId" is gone like:

[code]

[2020-04-02 18:32] cfaure004 commented on #5269
@Amplifiyer i just downgraded to version 2.2.6 and no hub event is trigger (on auth channel) after being redirect with callback url (including access_token in hash params). So it's happening on both versions.

Did you tried using a custom provider ?

Actually it's really strange because if i trigger again microsoft authentication (after the first attempt), hub event "signIn" in "auth" channel is s

[2020-04-02 18:39] MadisonEhlers-Vertex commented on #3435
Looking for updates here as well. It looks like the Global Sign Out is not an option, because the id and access tokens are still valid [for an hour after they were created](https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_GlobalSignOut.html) per aws' global sign out documentation.

[2020-04-02 18:59] Ashish-Nanda commented on #5255
Hi @Raynos
Its a warning for React Native developers who need to install the peer dependency, so you can ignore it if you dont use React Native.

We are looking at how we can remove the dependency on `@react-native-community/netinfo` for `@aws-amplify/core`, but till then need it to be a peer dependency, which I dont believe can be platform specific.

Let us know if you are seeing any bug because

[2020-04-02 19:02] sysless commented on #5027
Just got rejected too, I will try the in-app browser.

@AndrewJack any luck?

[2020-04-02 19:07] Manzia commented on #5228
Setting a timeout handles the signOut issue above but this definitely a hack...but at least gives a workable solution.

`case 'oAuthSignOut':
                // console.log('default auth: %j', data.payload.data);
                // Dismiss Facebook Modal
                if (Platform.OS === "ios") {
                    setTimeout(function() {
                        InAppBrowser.close();

[2020-04-02 19:25] bneigher commented on #5267
I changed it back to 2.3.0 because I need to continue software development, but here is everything else:

[code]

[2020-04-02 19:37] jca41 opened #5277 "NextToken always being returned with @searchable queries"
**Describe the bug**

Apologies if this is not the right place for this.

I've noticed that `nextToken` is always being returned with `@searchable` model queries, even if there's no more items to fetch.

**To Reproduce**
Steps to reproduce the behavior:

Schema:

[code]

Query:

[code]

`result` always has a `nextToken`. Calling it returns 0 items.

**Expected behavior**

It shouldn't return `next

[2020-04-02 19:45] #5017 closed

[2020-04-02 20:21] mdoesburg opened #5292 "DataStore doesn't work with nullable lists in schema (bug)"
**Describe the bug**

DataStore doesn't work with nullable lists in schema, and causes the app to throw the following error upon syncing:
[code]

**Amplify CLI Version**

4.17.2

**To Reproduce**

I created a React Native app in which I use DataStore. My schema looks like this:

[code]

After the user logs in, the app navigates to the home screen, on which the DataStore starts observing the UserCo

[2020-04-02 21:51] helloPiers commented on #5224
Oh, I didn't take "if you can confirm" to mean on this ticket ☺. Yep, I'm using a 1.0 version - as that's the only version (the entire point of this issue) ☺.

[2020-04-02 21:56] joebernard opened #5278 "Unable to resolve module `axios` from `node_modules/@aws-amplify/storage/lib-esm/providers/axios-http-handler.js`"
**Describe the bug**
Unable to resolve module `axios` from `node_modules/@aws-amplify/storage/lib-esm/providers/axios-http-handler.js`: axios could not be found within the project.

axios is not specified as a dependency. Workaround is to manually install axios.

**To Reproduce**
"@aws-amplify/storage": "^3.1.3",

**Expected behavior**

Should it be a dependency?

<details>
  <summary><strong>Envi

[2020-04-02 22:02] Amplifiyer commented on #5269
my guess is its because of the component's lifecycle. Basically the parsingCallbackUrl is the very first event that is fired and by that time your app's component may not have mounted. Can you try moving the hub listener into the constructor of your app?
Can you also just listen to every auth event and post it here?

[2020-04-02 22:06] mrrainey opened #5279 "AdminCreateUser administrative actions support as in the Amazon Cognito Identity Provider API"
Is your feature request related to a problem?
No. I'm frustrated with the out of the box support for administrative actions.

Describe the solution you'd like:
Support for additional administrative actions in the AdminQueries API.

Describe alternatives you've considered
Lambda functions through API gateway using the Amazon Cognito Identity Provider API

[2020-04-02 22:20] dilloncoffman commented on #578
Looks like this is still an issue.

[2020-04-02 22:51] Amplifiyer commented on #5278
@joebernard, yes it should be, I'll roll out a fix for this soon. Thanks for letting us know.

[2020-04-02 22:55] #5275 closed

[2020-04-02 23:43] ajpaulingalls commented on #5273
I'm getting 403 errors using Storage.put now that I have updated to the latest aws-amplify js code.  It worked fine before.

Let me know what data you need, I'm happy to help.  This currently has me blocked...

[2020-04-02 23:56] ajpaulingalls commented on #5261
I'm seeing this too.  sigh...

[2020-04-02 23:57] somq commented on #3326
Shouldn't this solution imply some security concerns?

[2020-04-03 00:32] ajpaulingalls commented on #5273
I rolled back a number of amplify packages and all works again...

Here is the new envinfo:

[code]

[2020-04-03 01:17] #5278 closed

[2020-04-03 01:25] undefobj commented on #5279
What additional features are you looking for OOTB? It's worth noting you can always edit the existing function that admin queries creates for other features and just do a push.

[2020-04-03 02:01] jordanranz commented on #5259
Hey @xitanggg, this is challenging to do with the `aws-amplify-react` package. We have just released a [new Authenticator UI component](https://docs.amplify.aws/ui/auth/authenticator?framework=react) that might make this a bit easier as it uses [Hub](https://docs.amplify.aws/lib/utilities/hub?platform=js) to listen for Authenticator UI events. This part of it however is not yet documented.

Can yo

[2020-04-03 02:02] alexabidri commented on #4580
@t-moedano I opened a ticket to apple through https://forums.developer.apple.com/thread/129899 + https://feedbackassistant.apple.com/
They may reply me soon.

Just to let u know, my company has the issue since 5 months, still our app got approved many times. I would be surprised if you got rejected for this issue.
From what I conclude, this issue is an iOS issue. FYI, I even dont use aws amplify.

[2020-04-03 02:11] t-moedano commented on #4580
@alexabidri Thank you very much for the information! I saw the thread in Apple also but it is good to hear that someone is looking at this problem. And it is a relief that Apple is not reproving for that.

Thanks again for clarification =)

[2020-04-03 02:43] ajatakia opened #5282 "ReferenceError: exports is not defined"
**Describe the bug**
SIM Reference: https://t.corp.amazon.com/amplify-889
Integrated aws-amplify sdk to a react project that was created using create-react-app package.
Below are the webpack, amplify and babel core versions in the app. Webpack config is the one that gets generated with create-react-app package.
"webpack": "4.41.0",
"aws-amplify": "^3.0.4",
"@babel/core": "7.6.0",

When I run the a

[2020-04-03 04:26] bneigher commented on #5273
I'm seeing this too.  I have a separate issue with react native and the 3.x.x. https://github.com/aws-amplify/amplify-js/issues/5267

[2020-04-03 05:13] rpostulart commented on #4652
I also have this need, now I still use seperate appsync calls insteand of datastore queries

[2020-04-03 05:28] satishmolletipipra commented on #5254
Hello @sammartinez please find environment information

 System:
    OS: Windows 10 10.0.18362
    CPU: (4) x64 Intel(R) Core(TM) i5-5200U CPU @ 2.20GHz
    Memory: 11.30 GB / 15.91 GB
  Binaries:
    Node: 10.16.3 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.19.1 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.8.0 - C:\Program Files\nodejs\npm.CMD
  Browsers:
    Edge: 44.18362.449.0

[2020-04-03 06:12] vikas5914 opened #5283 "Mobsf Report: Service is not Protected. An intent-filter exists."
Continue of the #5272

We are getting following security with high SEVERITY: activate to sort column descending: "A Service is found to be shared with other apps on the device, therefore, leaving it accessible to any other application on the device. The presence of intent-filter indicates that the Service is explicitly exported."

Services:
	1. com.amazonaws.amplify.pushnotification.RNPushNotifica

[2020-04-03 06:24] cfaure004 commented on #5269
@Amplifiyer i'm using Next.Js. I moved my hub listener initialization in _app.js (in componentDidMount and even add a cleanup function Hub.remove("auth", listener) in componentWillUnMount) but still no event in called.

On the file attached, you can see parsingCallbackUrl and configured events are trigger when Auth.federatedSignIn({ customProvier: .... }) is called. After being redirect on callbac

[2020-04-03 07:00] #5148 closed

[2020-04-03 07:01] nipun3560 commented on #2833
@bonillam i'm working on same what you asked here. but i'm working on Android, however if you find any solution please share it with me. Thanks in adavance :)

[2020-04-03 07:26] 0xdevalias opened #5284 "Cognito User Pool Hosted UI: minimal code grant sign in example from a React web app"
**Which Category is your question related to?**

Auth

**What AWS Services are you utilizing?**

Cognito User Pools Hosted UI

**Provide additional details e.g. code snippets**

Can you please provide an absolute bare minimum 'manual' implementation example for using the OAuth code flow with the Cognito User Pools Hosted UI within a React app.

I've spent literal hours upon hours trying everything

[2020-04-03 08:34] Raynos commented on #5255
One approach that I’ve taken for this in the past is to make optional dependencies a runtime exception instead of an Npm install or npm ls warning.

Basically remove it from peer dependencies and wrap the require in a try / catch and throw a friendly exception if the dependency is missing.

Warning at runtime for react native users is more friendly / fail fast then warning at install time.

[2020-04-03 08:56] Zhuravlev1 opened #5285 "Variable 'appendToCognitoUserAgent' implicitly has an 'any' type."
I use amazon-cognito-identity-js v4.2 for node.js typescript project.
When I run check types I have an error **Variable appendToCognitoUserAgent implicitly has an 'any' type**.
index.d.ts file has export **appendToCognitoUserAgent** but hasn't type.

[2020-04-03 08:56] SwapnilShoreline opened #5286 "Verification email link send"
Hi Team,
Which method used to send verification link over mail id.

Scenario is -
1. After registration, I want to send (resend verification mail) verification link over mail.

I used verifyCurrentUserAttribute() method but getting "No current user" error.

Do needful,
Thanks

[2020-04-03 09:09] elledienne opened #5287 "autoVerifyEmail not working with identity providers"
**Describe the bug**
I created a pre-signup lambda trigger to set `autoVerifyEmail = true` and `autoConfirmUser = true` when users sign up using Facebook as IdP (when they sign up using Google I can simply use attributes mapping but Facebook doesn't seem to providing any attribute for that).
The function seems to work perfectly when users sign up with email/password but has no effect when they sig

[2020-04-03 11:31] smythluke commented on #2713
This solution doesn't work for me.
It throws the error `Connection failed: {"errors":[{"errorType":"DuplicatedOperationError","message":"Duplicated operation with id af9796e9-e246-441a-28ab-416256b72067"}]}`

Looks like an update to AppSync disabled this ability as descibed in more detail on this issue: [https://github.com/aws-amplify/amplify-js/issues/4813](https://github.com/aws-amplify/amplify-

[2020-04-03 11:43] matthiashub-porsche commented on #5285
Just ran into the same issue. If I interpret the code correctly it should be exported as `void`, can you try following:

[code]

[2020-04-03 12:32] 0xdevalias commented on #5284
Honestly i'm at my wits end at this stage and am considering that switching away from Cognito User Pool to Auth0 is going to be a way less painful experience in the long run..

[2020-04-03 13:48] raelmiu commented on #4218
Same issue, but 12kb of data is costing $30+ per month.

I think it's due to the ES node size that is set by default. I'm getting the "t2.small" where a "t2.micro" would cost half as much. And there doesn't seem to be any way of turning them off without removing @searchable from the project.

Warning to new devs!

[2020-04-03 15:19] cedvdb commented on #4681
I'm getting this and we are not even using Ionic.

`node_modules/@angular/forms/forms.d.ts:2699:22 - error NG6002: Appears in the NgModule.imports of AmplifyIonicModule, but could not be resolved to an NgModule class`.

[2020-04-03 16:37] pawelphilipczyk commented on #2702
In case anyone is using next.js framework and has similar issues but Auth configuration looks fine: in my case the issue was running the query in getInitialProps. It was too early or done on server side, I'm not sure which one was it or maybe both.

Anyway after switching to using data fetching with SWR on render time (after user is signed in) fixed the issue.

[2020-04-03 17:05] Amplifiyer commented on #5287
@elledienne, this looks like related to cognito and not Amplify. Can you create a support case with AWS cognito or post in Cognito forums?

[2020-04-03 17:12] Amplifiyer commented on #5286
@SwapnilShoreline, I believe what you are looking for is `resendSignUp()`. See docs [here](https://aws-amplify.github.io/docs/js/authentication#sign-up)

`verifyCurrentUserAttribute` is used to verify a change in username or email for a registered customer.

[2020-04-03 17:12] #5286 closed

[2020-04-03 17:14] AlessandroAnnini commented on #4218
I wonder if is it now possible to turn off this feature that I don't use!

[2020-04-03 17:18] Amplifiyer commented on #5285
Thanks @matthiashub-porsche for catching and submitting a PR. I've assigned this to @jordanranz to take a look as well.

[2020-04-03 18:46] madStitcher opened #5289 "Auth Error: Amplify has not been configured correctly using Nuxt.js"
This is essentially the same problem as issue [4315](https://github.com/aws-amplify/amplify-js/issues/4315), except I'm using "aws-amplify": "^3.0.3"

The developer console is stating the below error, however this is NOT impacting any functionality. I am able to Sign In, Sign Up, Confirm Code, Fetch Current Authed User with no errors or issues.

    [ERROR] 30:01.743 AuthError -
                 E

[2020-04-03 19:20] tommedema commented on #4468
What's the status on this?

[2020-04-03 19:41] brene commented on #5290
Hi @mdoesburg - I'm transferring this issue to the Amplify JS Library team

[2020-04-03 19:51] Raz-SB commented on #3744
I was seeing the same error with a Gatsby app when published to an S3 host. Everything worked fine locally. I was able to solve it by updating the auth resource and adding a user pool group for `guests`. (`amplify update auth` -- follow prompts)

[2020-04-03 19:54] mcroker opened #5291 "GraphQLResult import error in generated API.service.ts"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
Generated src/app/API.service.ts generates this compile error
[code]

This seems to be a new regression defect, following updating aws-amplify package to 3.0.5. (@latest at time of issue).

**Amplify CLI Version**
4.17.2

**To Reproduce**
Generate any schema using amp-cli 4.17.2 with

[2020-04-03 19:54] brene commented on #5291
Transferring this to Amplify JS repo. cc: @sammartinez

[2020-04-03 19:58] AndrewJack commented on #5027
@sysless Yes they accepted the app when using the in app browser. I've implemented something similar to what's written above.

I used this library to handle the in app browser - https://github.com/proyecto26/react-native-inappbrowser

[2020-04-03 20:01] brene commented on #5292
Transferring this to the JS repo. cc @sammartinez

[2020-04-03 20:15] gpawlik commented on #3818
@dbly @stemwinder could you please provide full example of your solution?

[2020-04-03 20:18] sammartinez commented on #5291
Thanks for transferring this over @brene. @mcroker Can you share a gist with us of your code snippet? There are [breaking changes](https://github.com/aws-amplify/amplify-js#amplify3xx-has-breaking-changes-please-see-the-breaking-changes-below) that we introduced into our Version 3 that I want to make you aware of. I just want to verify based on your code snippet if this related to one of our callo

[2020-04-03 20:36] ericclemmons commented on #5253
@foragerr If you're using User Pools then you may better served by a custom "Login with Google" button and calling `Auth.federatedSignIn({ provider: "Google"})`:

Currently, our `<amplify-authenticator>` supports Identity Pools' configuration, but we're actively investigating supporting _both_ User Pools & Identity Pools without breaking backwards compatibility.

I'm going to update the labels for

[2020-04-03 20:47] Amplifiyer commented on #5273
I'm able to reproduce it, debugging to see what the issue is.

[2020-04-03 20:51] karrettgelley commented on #4218
@raelmiu It turns out that you get charged per instance of ElasticSearch. _In my case_, I had master, dev, and feature backends which all used @searchable. Despite the fast that there was 0 use, I was getting billed for three months time of ElasticSearch. You can probably stay within the free tier if you only use ElasticSearch in production (at least early on), but this should be readily advertise

[2020-04-03 21:12] mcroker commented on #5291
I think the issue is that latest version of amplify-cli codegen doesn't handle the breaking changes, in amplify-js v3.

The issue is line 27 of
https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-graphql-types-generator/src/angular/index.ts

[2020-04-03 21:14] #5285 closed

[2020-04-03 21:21] sawyerh opened #5293 "Server-side rendering not supported in @aws-amplify/ui-components and @aws-amplify/ui-react"
**Describe the bug**
`@aws-amplify/ui-components` and `@aws-amplify/ui-react` reference web-only interfaces like `window` and `document`. This breaks React apps that utilizes server-side rendering, since `window` and `document` are not defined in a Node.js environment.

**To Reproduce**
Steps to reproduce the behavior:

1. Clone https://github.com/sawyerh/amplify-nextjs-ssr
1. Run the app locally,

[2020-04-03 21:24] 0xdevalias commented on #5284
@thiagozf Just tried that out, seems still no luck :(

----

These are the details of the failing 405 request to exchange the code for the token:

General:
[code]

Response Headers:
[code]

Request Headers:
[code]

----

I have a custom domain configured for the User Pool, i'm starting to wonder if maybe it's a CloudFront blocking it thing, and if I didn't have a custom domain set if it would #Jus

[2020-04-03 21:35] undefobj commented on #4218
Transferring to CLI repo

[2020-04-03 21:56] fireflysemantics commented on #4988
I think Hub has the right idea here.  The right way to update the app post redirect is to wait for a Hub to release a signin notification.

The app should create an Observable that perform centralized signin notification.

[2020-04-03 21:58] thiagozf commented on #5284
@0xdevalias Yes, CloudFront could be blocking something here. The `405` code is very suspicious. Have you setup a CORS policy? The `Default Root Object` property in the distribution settings also should be blank for it to work. I would give it a try without the custom domain and see what happens. If it works, def indicates it is a CloudFront configuration problem.

[2020-04-03 22:01] 0xdevalias commented on #5284
@thiagozf I don't control anything in CloudFront for the Cognito Hosted UI. I get to set a custom domain name, that's all. And then it magically sets up some CloudFront resources in some other account presumably owned/operated by AWS that I don't have access to.

I'll see if I can disable it and check if that works.

Amplify doesn't make things easier because it doesn't work. I'm here  trying to s

[2020-04-03 22:09] thiagozf commented on #5284
@0xdevalias I don't have any experience setting up a custom domain for the hosted UI. I supposed Cognito created a distribution on CF and you could tweak it :(

Yes, your code should be equivalent. But like you said, Amplify does some strange things behind the scenes. I have a working code that is pretty much your starting point, calling `Auth.federatedSignIn()` directly, and it works. The only di

[2020-04-03 22:10] jordanranz commented on #5293
Looking at a fix asap. Thanks for reporting

[2020-04-03 22:11] 0xdevalias commented on #5284
Just tried adding a 'domain prefix' url to access it as well: `https://my-foo.auth.us-east-1.amazoncognito.com/oauth/token`

Unfortunately, still seems to be getting the 405 on the token exchange request.

[2020-04-03 22:14] ericclemmons commented on #5267
@bneigher Which network requests are affected? @Amplifiyer is researching #5273, which may be related.

[2020-04-03 22:18] ericclemmons commented on #5282
`@aws-amplify/ui-react` is using the same build process as [ionic-team/stencil-ds-plugins-demo](https://github.com/ionic-team/stencil-ds-plugins-demo/blob/master/packages/component-library-react/package.json#L12)

https://github.com/aws-amplify/amplify-js/blob/2f27a6e2d002364af5c44b9f38542ce1e2c8c119/packages/amplify-ui-react/package.json#L14-L18

Instead, we should use the same build script as `a

[2020-04-03 22:34] bneigher commented on #5267
I'm pretty sure it's all amplify requests, not just Storage

[2020-04-03 23:29] thiagozf commented on #5284
@0xdevalias Hey! Created a quick example, check out [this repo](https://github.com/thiagozf/cognito-react).

[2020-04-03 23:45] camilodelvasto commented on #2875
I decided to build upon @ngrosso 's answer (native speaker here), I found it a little tricky (had to add a space after certain strings), so here's for the record:

[code]

[2020-04-03 23:52] miguel77mex commented on #1852
+1

[2020-04-04 00:01] Amplifiyer commented on #5267
I'm able to reproduce this with react native debugger, but not with chrome debugger. My guess is that because of the proxy created by the react native debugger, the response object is getting changed.

[2020-04-04 00:03] 0xdevalias commented on #5284
@thiagozf Amazing! I will check it out a little later today and see if it works for me (and then from there reverse engineer why my setup is so broken). Thank you for chiming in and being so helpful! I screamed into the void (of the internet), and the internet provided! <3

[2020-04-04 00:06] Amplifiyer commented on #5291
@mcroker, thanks for bringing this to our attention. The correct way to import types should be `import { GraphQLResult } from "@aws-amplify/api"` or even better `import { GraphQLResult } from "@aws-amplify/api-graphql"`

Passing this to CLI repo to make the changes. CLI team, we are deprecating use of import paths that have `lib` in them (as it's not a good practice), please see if there are other

[2020-04-04 02:09] ryanweaver718 commented on #4308
I'm having the exact same issue where it was working on my local host and when I stoop up my cloudfront/s3 https site and added that as redirects along with my localhost.
Has anyone gotten to a solution?

[2020-04-04 03:00] singhrawatbipin commented on #4681
I had the similar issue and this is how I resolved it.
Go to the **angular.json** file then search for **aot** and if the value of **aot** is **true** then replace it with **false**.

[2020-04-04 03:02] singhrawatbipin commented on #4681
I had the similar issue and this is how I resolved it.
Go to the **angular.json** file then search for **aot** and if the value of **aot** is **true** then replace it with **false**.

[2020-04-04 03:07] wickstargazer commented on #4681
Did u use the package I published?

[2020-04-04 03:34] singhrawatbipin commented on #4681
Or we can just set the **aot** to **false** in _angular.json_ file.

[2020-04-04 04:01] singhrawatbipin commented on #4681
No, I have been using default.

[2020-04-04 04:48] 0xdevalias commented on #5284
So I just put my env vars into your minimal project and it seems to have worked, and retrieved the refresh token and such! So, awesome! It can work!! That's far less hassle than having to rip everything out and transition to a different provider.

Skimming the code, the thing that stands out to me the most that I don't believe I ended up trying was this bit:

[code]

In particular, from  memory my

[2020-04-04 06:09] SwapnilShoreline commented on #5286
@Amplifiyer, I tried `resendSignUp()` also.
but getting `No current user` error every time

[2020-04-04 08:14] 0xdevalias commented on #5284
Ok.. so it seems you need to have cors mode enabled with `fetch` (I had it originally, then disabled it during debugging as i was having issues). I didn't have state in my original code sample either, not sure if that's required (it shouldn't be.. but who knows..)

Using a combination of the following sources as references, along with @thiagozf sample + encouragement to not give up, here is a plai

[2020-04-04 08:18] rasensio commented on #5127
Remember to add your redirect url to the facebook developer dashboard
https://YOUR-DOMAIN.auth.us-east-1.amazoncognito.com/oauth2/idpresponse

[2020-04-04 11:05] 0xdevalias commented on #5284
So now that I have proven to myself it can be done without needing to rely on external libraries, or the depths of Amplify.. and @thiagozf has shown me how to properly use the Amplify functions, I think I will just use Amplify ;p (but at least if anyone needs to pick it apart and understand the inner workings, this reference is here now..)

As a bonus, here is the React hook I put together to wrap

[2020-04-04 12:48] andreialecu opened #5296 "Storage.get() with Authorization header instead of signed Query String"
**Is your feature request related to a problem? Please describe.**

Currently images uploaded via the `Storage` api cannot be cached at all. Calling `Storage.get()` will return an URL which changes every single time.

To work around this and keep the URL static, S3 supports http header based authorization.

We are using react-native and would like to use [react-native-fast-image](https://github.co

[2020-04-04 12:54] andreialecu commented on #5296
Related: https://github.com/aws-amplify/amplify-js/issues/3449

[2020-04-04 13:17] lcx1204 commented on #1613
@undefobj, do you think SSR could become available next few months? thank you

[2020-04-04 13:45] Luke-1988 commented on #3436
@mlabieniec any update here please? Thanks

[2020-04-04 14:05] helloPiers commented on #5224
Actually, I'll leave open until it's fixed in aws-amplify-react 3.1 branch. Or should I move to v4?

[2020-04-04 15:41] rpostulart commented on #5222
A better requirement description: tell datastore to only get data  locally from a certain model with a certain ID

[2020-04-04 16:24] undefobj commented on #1613
We don't have any specific timelines but we are actively looking into this.

[2020-04-04 16:44] gaegaelab opened #5297 "Error in `amplify api add-graphql-datasource`"
**Describe the bug**
Executing `amplify api add-graphql-datasource` resulted in an error.
I tried to change the API connection to Aurora Serverless.

**To Reproduce**
https://aws-amplify.github.io/docs/cli-toolchain/graphql?sdk=js#relational-databases
I set up while watching the Relational Databases connection tutorial above.

Steps to reproduce the behavior:
1. Execute `amplify add api`.
2. Finis

[2020-04-04 17:10] andreialecu commented on #5296
I noticed there is a https://github.com/aws-amplify/amplify-js/blob/master/packages/core/src/Signer.ts#L290 but couldn't find any documentation.

In the mean time I was able to implement this using [react-native-aws4](https://www.npmjs.com/package/react-native-aws4) and it works beautifully with [react-native-fast-image](https://github.com/DylanVann/react-native-fast-image)

Leaving some code here

[2020-04-04 17:31] undefobj commented on #5222
Could you give more specific information about the use case?

[2020-04-04 19:01] tigran10 commented on #446
@nomadus trying your custom storage class now as a shortcut, If it works, I will buy you a coffee after the pandemic :)

[2020-04-04 22:07] budevelop opened #5298 "UI Components - AmplifyAuthenticator - How to use formFields for Sign Up? [React]"
** Which Category is your question related to? **
Auth

** What AWS Services are you utilizing? **
Amplify, Cognito, API GW, Lambda

** Provide additional details e.g. code snippets **
I want to change the fields shown in the Sign Up form. Currently Username, Password, Email and Phone Number is displayed. I only need to get Email and Password. How can I change SignUp form fields?

I was able to do

[2020-04-05 02:04] glauberfc commented on #5101
+1

[2020-04-05 03:35] victoryurkin commented on #4878
Was this resolved? I tried a number of ways (including the one mentioned above) to configure DataStore to sync with remote, but getting:
`Possible Unhandled Promise Rejection (id: 20):
TypeError: null is not an object (evaluating '_b.aws_appsync_region')`

[2020-04-05 04:35] AakashPat commented on #4245
Has anyone been able to find a permanent solution to this problem?

[2020-04-05 04:46] xitanggg commented on #5259
Ok. No worries. My workaround works fine so I will use it for now then.

This usage is rather typical app usage, check out [Robinhood](robinhood.com), [LinkedIn](https://www.linkedin.com/)... Basically, you first land on a home page called landing page. Then you will have a navigation menu on top that shows you can either Sign Up or Log In.

[code]

[2020-04-05 07:23] blairtaylor opened #5299 "limit on Amplify list queries"
Our question relates to using the generated Amplify queries, specifically the listXXX queries.

Using DynamoDB and AppSync, when we specify a listXXX query, this is our understanding:

- a query is generated with limit of 10 by default or whatever limit is provider as a param (let's say 100)
- if the underlying table was "Country" for example, the query would retrieve 100 country records then appl

[2020-04-05 08:01] Luke-1988 commented on #3224
@rmclaughlin-nelnet how is your solution gonna work with Google Login for example? I am facing very same situation and it looks like I am migrating to Auth0 due this security hole. However your solution could work, but how about 3rd party IDP like Google or FB

[2020-04-05 10:42] #4991 closed

[2020-04-05 10:53] raelmiu opened #5300 "Adding @versioned to existing model breaks syncing"
**Describe the bug**
Adding the @versioned directive to a model breaks syncing, resulting in no changes being saved to the cloud.

Versions:
CLI: 4.17.2
JS: "@aws-amplify/core": "^2.2.5",
    "@aws-amplify/datastore": "^1.0.8",
    "@aws-amplify/pubsub": "^1.3.3",

This model syncs perfectly:
[code]

But adding @versioned like this:
[code]

Gives the error:
`
"Variable 'input' has coerced Null val

[2020-04-05 11:31] elledienne opened #5301 "Signup with phone number throws validation error"
**Describe the bug**
When I try to signup using a phone number (Auth is configured to use phone_number) I get a validation error. Interestingly, if I try to use the HostedUI it works.

`"1 validation error detected: Value at 'username' failed to satisfy constraint: Member must satisfy regular expression pattern: [\p{L}\p{M}\p{S}\p{N}\p{P}]+"`

**To Reproduce**
1. amplify add auth
2. Select `Phone

[2020-04-05 13:16] gaegaelab commented on #5297
I didn't know the CLI was a different repository. 💦
Moved below.

https://github.com/aws-amplify/amplify-cli/issues/3872

[2020-04-05 13:16] #5297 closed

[2020-04-05 14:01] daniel500tech commented on #4262
@Amplifiyer
I'm facing something similar, but not consistent.
The federated signin always works, but sometimes the `signIn` message is not fired so my listener is not invoked.
So, it seems like the page is waiting (I have a loader rendered) for something and nothing really happens.
Once I refresh the page all works well, the user is signed in etc.
My code is very similar to what's posted in this i

[2020-04-05 14:07] usmansbk commented on #5273
I hope they fix this soon

[2020-04-05 15:22] monika2104yadav commented on #69
I have a similar issue. I generated access key and secret access key id and configured it using aws configure and ran amplify -init after that; however it is posting signature mismatch error. I had read from other posts and made the secret access key without the '/' sign but it does not work. Following is the log.
root@wynud7-Inspiron-15-3567:~/AndroidStudioProjects/sudoku2# amplify init
Note: It

[2020-04-05 17:41] undefobj commented on #5300
`@versioned` is not meant to be used with DataStore, that's a directive for older functionality. The sync enabled resolvers in AppSync handle object versioning automatically.

[2020-04-05 22:28] arhoy commented on #4306
During sign up I am trying to sign users up into different groups.
How can I do this in aws amplify?

Thank you!

[2020-04-06 04:50] raelmiu commented on #5300
That was not clear in the docs, but sounds amazing. Thank you.

[2020-04-06 04:55] mkaschke opened #5302 "React Amplify query with @connection"
I am currently building a React application with Amplify Cli.

**The schema.graphql**

    type Ticket @auth(rules: [{ allow: owner, operations: [create, update, delete] }]) @model @searchable  {
      id: ID!
      location: String
      city: String
      comment: String
      owner: String
      startDate: String
      endDate: String
      status: String
      request: [Request] @connection(ke

[2020-04-06 05:52] satishmolletipipra commented on #5254
@sammartinez  Can you please help me onthis.

[2020-04-06 06:49] rpostulart commented on #5222
I have this schema. The idea is to build an online quiz.
So an admin can create the quiz and send the gamecode to those who want to subscribe. Based on that gamecode they log in and see to quiz data.

But if you look in de localstorage you see all the quiz data and questions

`
type Quiz @model @auth(rules: [{ allow: public, provider: iam }]) {
  id: ID!
  title: String!
  subscribers: [Subscriber

[2020-04-06 06:52] aswin-github commented on #4046
Any updates on this? Is this working for react native app? I am trying this, and getting an empty string as response.

 How to test Prediction.Convert with a sample audio file as input?

[2020-04-06 06:52] cfaure004 commented on #5269
Hello @Amplifiyer  !
I guess i figured it out. I was initializing oauth not at initial amplify configuration. I moved oauth setup in global amplify setup and it's now working properly.
Thank you !

[2020-04-06 06:52] #5269 closed

[2020-04-06 08:57] RossWilliams commented on #5251
Update your "forgot password" flow to trigger a lambda that resends a new one-time password.

here are the pseudo steps with the aws-sdk for the Cognito service:
1. List users using an email or other filter: `Filter: 'email = "' + event.email + '"'`
2. Find your user (listUsers) and see if they are in the state where you need to do something special: ` user.UserStatus !== "FORCE_CHANGE_PASSWORD"`

[2020-04-06 09:21] sandeepsingh91 commented on #5273
@sammartinez  I'd run the command. Below is the output of that command

`sandeepsingh@Sandeeps-MacBook-Pro amplifys3 % npx envinfo --system --binaries --browsers --npmPackages --npmGlobalPackages

  System:
    OS: macOS 10.15.3
    CPU: (4) x64 Intel(R) Core(TM) i5-3210M CPU @ 2.50GHz
    Memory: 4.55 GB / 16.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 12.11.1 - /usr/local/bin/node

[2020-04-06 09:28] fitwin commented on #1852
+1

[2020-04-06 09:48] elledienne commented on #5301
Please close. Not sure what exactly I was doing wrong before but it was not an issue with Amplify

[2020-04-06 09:48] #5301 closed

[2020-04-06 10:45] NastyZ98 commented on #5298
Hello I am facing the same issue.

Here is my code below:
[code]
![Capture d’écran 2020-04-06 à 12 43 19](https://user-images.githubusercontent.com/7148684/78550531-841e4500-7804-11ea-9e5f-49de603b1fb8.png)

Thank you.

[2020-04-06 10:48] lissau commented on #4574
Just updated to "@aws-amplify/pushnotification": "^3.0.5", "aws-amplify": "^3.0.5"

and this is again not working, neither configuring though `Analytics.configure` or PushNotification.configure`

By downgrading to `aws-amplify": "^2.2.6"` I can again configure through `Analytics.configure`

Should I open a new issue with this?

[2020-04-06 11:12] lissau commented on #4574
Just updated to "@aws-amplify/pushnotification": "^3.0.5"

and this is again not working, neither configuring though Analytics.configure or PushNotification.configure

By downgrading to `@aws-amplify/pushnotification": "^2.1.6"` I can again configure through `Analytics.configure`

Should I open a new issue with this?

[2020-04-06 11:31] daniel500tech commented on #4262
What I guess is happening is that the `signIn` event is dispatched and the listener is not ready yet, so the event is not catched (@Amplifiyer does that make any sense?)

What I eventually ended up doing, is set a timeout in the page where the `Hub.listen('auth', callback)` is defined, and when the timeout callback fired I check for `Auth.currentAuthenticatedUser()`, these are the relevant parts o

[2020-04-06 11:49] RossWilliams commented on #5302
The generated code for graphql queries is meant as a template starting point to help you write your own queries. In general, don't use them as-is. When you created your project, you can select the 'depth' you want for the autogenerated queries. In your case the depth is greater than the request { items {} } level, so its not in the autogenerated query.

Copy and paste the autogenerated query into

[2020-04-06 12:52] andreialecu commented on #5296
Alternative implementation without the need for any external packages. Some magic was needed, ideally this could be exposed in a friendlier manner.

[code]

[2020-04-06 13:28] RossWilliams commented on #5299
1. Filter is very unfortunate as it is meant as a DynamoDB filter expression (see a great guide [here](https://www.alexdebrie.com/posts/dynamodb-filter-expressions/) ), but many users come to Amplify from an RDBMS background and expect it to behave as a 'WHERE' clause. I wouldn't call it a framework or AppSync issue, except for a documentation or naming fault.

2. The best way depends on your data

[2020-04-06 14:30] rmclaughlin-nelnet commented on #3224
My application will not support 3rd party IDP so I have not considered that situation. Do 3rd party IDP even support SRP? If not then you would just develop a separate login workflow for those.
https://docs.aws.amazon.com/cognito/latest/developerguide/google.html
https://docs.aws.amazon.com/cognito/latest/developerguide/facebook.html

[2020-04-06 15:07] waltermvp commented on #5161
@rpostulart this appears to be fixed, have you tried with the latest version? Save no longer returns an array.  Also saving with the relation object now establishes the connection.

[2020-04-06 15:07] #5161 closed

[2020-04-06 16:10] DeniseJames opened #5303 "How May I Style the Angular Amplify-Authenicator Sign in"
I am using Angular 9 and he Amplify Angular Module to get the following sign in screen. It works functionally. It is too large for mobile devices. How can I make it small enough for a mobile device?

![image](https://user-images.githubusercontent.com/17970321/78579822-220b1300-77f7-11ea-8bbb-6be29a2bd710.png)

[2020-04-06 16:22] sawyerh opened #5304 "Authentication error messages are not accessible to assistive devices"
**Describe the bug**
The "toast" component used for displaying authentication error messages, such as "Username cannot be empty", lacks sufficient markup to achieve an accessible experience for assistive device users, such as screen readers. Additionally, there is no built-in way to create a custom error message component to create a more accessible experience. For projects that are required to be

[2020-04-06 16:25] jordanranz commented on #5293
@sawyerh Merged #5294 to get rid of document usage for the server. I will pull down your sample repo and test. You mentioned "but doesn't completely fix", can you elaborate on this?

[2020-04-06 16:37] sawyerh commented on #5293
@jordanranz I believe there are other places Web APIs are being used, such as `window`. It's a game of whack-a-mole to find all the places `document` or `window` are used since the build fails at the first instance, rather than reporting all instances.

[2020-04-06 16:46] rpostulart commented on #5161
Not yet, but I will test later

[2020-04-06 16:52] jordanranz commented on #5303
Hi @DeniseJames, which version of the angular module are you using for this?

[2020-04-06 17:05] ashika01 commented on #5304
@sawyerh : Thank you for reporting. We are aware of this. We have a task to do accessibility audit and update the components.

[2020-04-06 17:08] sawyerh commented on #5304
@ashika01 Great to hear, I appreciate the quick response. Any chance there's an estimate on the timeline for the accessibility updates?

[2020-04-06 17:11] ashika01 commented on #5304
@sawyerh We have as fast follow up item. I will update this ticket with an estimate soon.

[2020-04-06 17:21] ashika01 commented on #5298
@budevelop : If you are trying to achieve sign in or sign up with `email` or `phone_number` instead of `username` , I would suggest you use the property `usernameAlias`. You just add
[code]

[2020-04-06 17:33] jordanranz commented on #5293
Looks the like build failures are gone now using @aws-amplify/ui-react@unstable. @sawyerh can you verify? I will look into the `window` use cases to see what we can do there.

[2020-04-06 17:41] NastyZ98 commented on #5298
Hello @ashika01 ,

The problem is that for instance if I pass a custom placeholder for the email, even if I use usernameAlias, it's seems to don't work.

You can easily reproduce the problem with the following code, you will see that the placeholder still the default one for instance.

[code]

[2020-04-06 17:45] jordanranz commented on #5289
Hey @madStitcher, where are you executing `Amplify.configure`? Could you also post a code snippet for how you are executing it?

[2020-04-06 17:52] DeniseJames commented on #5303
@jordanranz  I do not know how to check for the version but I used this command from the aws amplify angular website

$ npm install aws-amplify aws-amplify-angular

[2020-04-06 17:55] Amplifiyer commented on #4262
@daniel500tech, can you check if your issue is similar to #5269. If it's not, please open a new issue with all the information.

[2020-04-06 17:55] ashika01 commented on #5298
@NastyZ98 That is expected since we setup the form fields internally based on `usernameAlias` (i.e, based on the method of authentication).  However I understand the use case and the way to achieve it is slots for sure. Will do some discussion with team and update on how we would wanna go about this.

[2020-04-06 17:57] Amplifiyer commented on #4574
@lissau yes, please create a new issue?

[2020-04-06 18:09] NastyZ98 commented on #5298
Thank you @ashika01 ! For the moment, as a workaround, I use aws-amplify-react with Authenticator and signUpFields configuration.

[2020-04-06 18:29] jordanranz commented on #5300
Hey @raelmiu, the documentation [here](https://aws-amplify.github.io/docs/cli-toolchain/graphql#versioned) does mention:

 "_Do not use this directive when leveraging DataStore as the conflict detection and resolution features are automatically handled inside AppSync and are incompatible with the @versioned directive_"

I am going to close this issue for now. Please open a new issue if you have an

[2020-04-06 18:29] #5300 closed

[2020-04-06 18:32] madStitcher commented on #5289
I'm including a plugin on nuxt.config.js..

    plugins: [
    {
      src: '~plugins/vuedraggable',
      mode: 'client',
    },
    {
      src: '~/plugins/amplify-client.js',
      mode: 'client',
    },
    ]

And then here is my amplify-client.js.  I've added the process.BROWSER_BUILD in a failed attempt to force client side...

    import Vue from 'vue'
    import Amplify, * as AmplifyModule

[2020-04-06 18:41] #4802 closed

[2020-04-06 18:41] ericclemmons commented on #4802
The prototype is up & running: https://www.pivotaltracker.com/n/projects/2431346

This is powered by https://github.com/ericclemmons/sync-github-pivotal.

Knowing what I know today, I **do not** believe that GitHub and Pivotal should be synced 1-to-1, at least in the state GitHub is today.

My take is that GitHub issues are great for gathering input, but not as making work _actionable_.

Discussio

[2020-04-06 19:00] Can-Sahin commented on #987
[code]

[2020-04-06 19:05] jordanranz commented on #5303
Ok got it. We have just released a [new `amplify-authenticator` for Angular](https://docs.amplify.aws/ui/auth/authenticator?framework=angular) and the usage is very similar to the legacy `aws-amplify-angular` version. The new `amplify-authenticator` should not have the problem you are experiencing above.

Could you try out the [new component](https://docs.amplify.aws/ui/auth/authenticator?framewor

[2020-04-06 19:33] lukepushlabs commented on #5273
Downgrading to @aws-amplify/storage@2.2.2 made things work again.

[2020-04-06 19:42] DeniseJames commented on #5303
@jordanranz  I cannot find aws-exports.js  after installing

import awsconfig from './aws-exports';

[2020-04-06 21:49] EllianCarlos commented on #1852
+1

[2020-04-06 22:16] jordanranz commented on #5303
`./aws-exports` is most like at `/src/aws-exports`

Can you find where `aws-exports.js` file is relative to you `app.module.ts`?
or try:
`import awsconfig from '../aws-exports';`

[2020-04-06 22:33] cnwork commented on #4535
Same thing for me in a Quasar project. I have a form that triggers a Datastore.save() and the first entry gets saved locally but not in the DynamoDB. From second on onwards they all get saved properly. Why is the first one not being synced to the backend?

[2020-04-06 22:43] jordanranz opened #5306 "Angular 9 without Ivy build error"
**Describe the bug**
- `@aws-amplify/ui-angular` fails build for Angular 9 with Ivy disabled

Repro:
- Add
[code]
to `tsconfig.app.json`

[code]

[2020-04-06 22:52] MontoyaAndres opened #5307 "Sort by createdAt of type AWSDateTime"
** Which Category is your question related to? **
E.g. Api Graphql
** What AWS Services are you utilizing? **
E.g. AWS AppSync
** Provide additional details e.g. code snippets **

I just want to organize the data by the date, when I insert a "publication"  for example, I inserted like this:

PD: this is the model of a publication:

[code]

When I insert a new publication is using the current data

[2020-04-06 23:05] mcroker opened #5309 "Auth.federatedSignIn() : NotAuthorizedException: Invalid login token. Can't pass in a Cognito token"
**Describe the bug**
This code was previously working with aws-amplify@^2.2.6; on upgrade to aws-amplify@^3.0.5 the call to `Auth.federatedSignIn` now throws an error `NotAuthorizedException: Invalid login token. Can't pass in a Cognito token.`

auth_token generated server-side...
[code]

auto_token used client-side to authenticate with Cognito.
[code]

**To Reproduce**
Steps to reproduce the beha

[2020-04-06 23:26] amhinson commented on #4730
Hey @jeanverster, are you still seeing this error? So far, I have been unsuccessful in reproducing the issue with version 2.2.2.

Would you be able to try with the latest major version of `aws-amplify` (currently `3.0.5`) and let me know if the error persists?

Also, if you could provide some additional details to the steps to reproduce or a basic example repo, that would be great. 😄

[2020-04-06 23:48] undefobj commented on #4535
@cnwork could you open up a new issue with all the details of your project setup

[2020-04-06 23:56] joebernard commented on #1378
@powerful23 This still seems to be a problem as of `"@aws-amplify/analytics": "^3.1.4"`. If I re-install my app enough times it hits the 10 endpoint limit and does not clear unused ones. I've only installed this app on a single test device so there should be plenty of unused endpoints to delete.

It seems this line isn't recognizing the error message correctly and not attempting to clear out the o

[2020-04-07 00:03] pkspks opened #5311 "Expo blob fails to upload with Storage.put"
**Describe the bug**
A blob read using RN/expo fetch()/blob() is not supported by Storage.put resulting in a 403 error

**To Reproduce**
Steps to reproduce the behavior:

Use expo `expo-image-picker` to pick an image use `fetch()/blob()` to fetch the picked uri as a blob.
Pass the blob to be uploded with `Storage.put`

**Expected behavior**
Picked image should be uploaded

<details>
  <summary><st

[2020-04-07 00:17] jordanranz commented on #5289
[code]
seems to export `awsmobile`

In the code above you have `import awsconfig from '~/aws-exports'`

You may need to try:
[code]
Depending on the name of the file from your manual config listed above.

You can also try:
[code]

Let me know if either of those approaches help.

[2020-04-07 01:31] danrivett opened #5312 "When a User signs out any User-scoped data in DataStore remains"
**Describe the bug**
When a user signs out (`Auth.signOut()`) all existing data is still available to the now unauthenticated user. It's only cleared when the user performs `DataStore.clear()` manually such as by registering an Auth Hub listener to do it there.

This is a security concern because that data can include that which is scoped to the previous user through either [Owner Authorization](h

[2020-04-07 02:01] valtrem commented on #4878
I have a similar problem using DataStore with Typescript.

Everything works fine in dev environement.

But when  building for production Amplify.configure(awsconfig) is not applied and therefore the app won't sync with the backend.

A quick fix
[code]

[2020-04-07 03:54] ansoncen opened #5313 "(BUG) Auth signUp give wrong error message"
**Describe the bug**

Auth signUp give wrong Error information when it receives `InvalidParameterException`,

It will always show `Username could not be created. Please make sure that the username you have entered is between 1 and 128 characters.`

**aws-amplify Version**

3.0.5

**Desktop:**

OS: macOS Catalina
Node Version: v13.5.0
Project: React Native

**To Reproduce**

I created a React Nativ

[2020-04-07 05:20] vchaddha opened #5314 "PreSign Up trigger with autoConfirm user does not seem to work with Authenticator component"
With the authenticator component, if I use the pre SignUp trigger to autoconfirm user, I am still able to see the confirmation code prompt, though I do not receive any verification email.
When I enter a garbage value it gives me an error message as follows:

[code]
I tried searching in git issues, though not able to find anything there on this behavior.
Closest was this:
https://github.com/aws-amp

[2020-04-07 06:58] undefobj commented on #5312
cc @drochetti @jamesonwilliams

[2020-04-07 07:13] cinash opened #5315 "Analyzer for field in ElasticSearch"
** Which Category is your question related to? **
`@searchable` annotation
** What AWS Services are you utilizing? **
AWS Elasticsearch
** Provide additional details e.g. code snippets **
How can I specify the analyzer on a field in elasticsearch? The question is more general, but what I have is a field that is a list of elements separated by comma, and would like to index them using pattern analy

[2020-04-07 08:16] chai86 opened #5316 "Track how long a user has been on a tab and send to PinPoint?"
I understand that you can track when an app comes to the foreground (using React Native here on iOS) through using AppState from react-native. e.g.

[code]

What i'd like to do, is to be able to know how long in seconds, a user has spent on a particular tab (i'm using react native bottomTabNavigator).

Any idea how this can be achieved and sent to PinPoint?

[2020-04-07 08:46] GeorgeBellTMH opened #5317 "Syntax Error when generating models"
When running amplify codegen models I get the following (amplify codegen works fine)...note 'repeatable' does not occur in my schema, so not sure where this is coming from..
--

GraphQL schema compiled successfully.

Edit your schema at /Users/georgebell/Code/mobile/amplify/backend/api/jcmobile/schema.graphql or place .graphql files in a directory at /Users/georgebell/Code/mobile/amplify/backend/a

[2020-04-07 08:52] apoorvmote opened #5396 "Datastore have issue saving AWSJSON type"
**Describe the bug**
I have a field `content: AWSJSON!` in graphql api.
When I generate models for Datastore then its converted to `content: string`.
The output from [draft-js](https://draftjs.org/) is converted to string with
`content: JSON.stringify(convertToRaw(editorState.getCurrentContent()))`
the actual content is
`"{"blocks":[{"key":"872eg","text":"this is a test message","type":"unstyled",

[2020-04-07 09:05] smn-snkl commented on #5211
Having the same issue ...

[2020-04-07 09:19] usmansbk commented on #5273
Error still exists in `aws-amplify: 3.0.6`

[2020-04-07 10:55] cnwork commented on #4535
@undefobj sure, what kind of details are needed?

[2020-04-07 11:45] DeniseJames commented on #5303
@jordanranz  Do you know why I may be getting this error after adding the new angular amplify UI component

`ERROR in ./node_modules/@aws-amplify/ui-components/dist/esm/amplify-authenticator.entry.js 72:31-35
"export 'Auth' was not found in '@aws-amplify/auth'`

[2020-04-07 12:33] mcroker commented on #5309
Due to the nature of this (requires client/server) the reproduce case is more complex than I would like...  the below repo is the smallest I can get it.  In practice there's only two bits of code amidst the boiler plate required.

1) server/src/auth.ts
2) client/src/app/app.component.ts

https://github.com/mcroker/amplify-js-issue-5309-reproduce

[2020-04-07 13:03] mcroker commented on #5309
Updated the issue description now includes reproduce repo.

[2020-04-07 13:05] idanlo commented on #5162
@manueliglesias Can I get an update? My notification service is pretty much broken

[2020-04-07 13:09] fabien-ml commented on #1852
+1

[2020-04-07 13:10] mcroker commented on #5213
In a similar way userPoolId and userPoolWebClientId are both required even if only identify pools are required, and generate a similar error.

In the case of userPoolId and userPoolWebClientId - adding string of 'x' which match the format of the pool and client IDs is sufficient to 'trick' the validation.  As the values are not used, this appears to be a workaround which might also work in your ca

[2020-04-07 13:27] armandabric opened #5318 "PreAuthentication trigger not triggered"
** Which Category is your question related to? **
Auth

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **

I have an issue with the Cognito PreAuthentication trigger not triggered when an user sign-in

We are using a Cognito user pool with only  `CUSTOM_AUTH_FLOW_ONLY` auth to do a passwordless authentication system.

I my CloudFormation templa

[2020-04-07 13:29] hardchor commented on #5088
The new warning looks good 👍 @manueliglesias!
Is there a ticket to track support for `keyName`?

[2020-04-07 13:57] sawyerh commented on #5293
@jordanranz Thank you, that does seem to fix the build in the test repo, so I believe this is resolved. I can open a separate issue if I rediscover where I was running into a `window` usage.

[2020-04-07 14:30] lambda0xff opened #5319 "Typescript: can no longer access AuthClass"
**Describe the bug**
In a typescript project, I need to have access to AuthClass  in order to subclass them.

In previous versions of aws-amplify, `import { AuthClass } from 'aws-amplify'` would work.
With the latest release, this doesn't work anymore.

I don't have the same issue with APIClass or StorageClass.

[2020-04-07 14:42] sammartinez commented on #5314
@vchaddha can you provide a code snippet of your Authenticator component? Thanks ahead of time

[2020-04-07 14:44] sammartinez commented on #5313
@ansoncen Can you provide the format of what your phone number looks like that you are passing? I am seeing the message of `Invalid phone number format` so would like to confirm. Thanks ahead of time

[2020-04-07 15:01] sammartinez commented on #4321
Resolving as this fixed within our new UI Component implementation. Please let us know if you are still experiencing this issue and we can reopen. Thanks!

[2020-04-07 15:01] #4321 closed

[2020-04-07 15:05] sammartinez commented on #3053
Resolving issue as this is solved in version 3 of Amplify. Please review what @ericclemmons statement is above and please let us know if you are still experiencing this issue. Thanks!

[2020-04-07 15:05] #3053 closed

[2020-04-07 15:27] mdoesburg commented on #5039
@Ashish-Nanda Following the recommended way as described in the docs is giving me the following error:

`DataStore does not support connection directive with keyName`

**CLI version:** @aws-amplify/cli@4.18.0

With the following schema:

[code]

Should I use the way as described in the DataStore section, and use "name" instead?

[2020-04-07 15:30] sammartinez commented on #4338
Resolving issue as this is now part of our new UI Components. Please let us know if you are experiencing any issues with the newer implementation and we can reopen this issue. Thanks!

[2020-04-07 15:30] #4338 closed

[2020-04-07 15:36] mdoesburg commented on #5290
@brene Thank you! I hope someone can help with this since I am working on a project that needs this functionality.

[2020-04-07 15:37] brene commented on #5290
Cc @sammartinez for triage

[2020-04-07 15:44] daniel500tech commented on #1583
@imewish can you explain why `Auth.federatedSignIn({provider: 'Google'})` is not recommended?
Is there another recommended way?

And does manually calling the url (`'https://' + cognitodomain + '/logout?client_id=' + clientId + '&logout_uri=' + signoutUrl`) you suggested is still a valid solution?
Because I can see in the source code that it's being called only if the user has signed in via hosted

[2020-04-07 15:58] #5306 closed

[2020-04-07 16:02] amhinson commented on #4316
This should be fixed in the latest release (v3) of `aws-amplify`. Would you be able to test it out and see you're seeing the same issue?

[2020-04-07 16:03] jordanranz commented on #5293
Ok, I'll close this now as the root cause was fixed. It should also be released to `@latest`. Thanks again for reporting this.

[2020-04-07 16:21] amhinson commented on #4835
Hey @jitendra-koodo, I've got a few follow-up questions:

- It looks like this happened with a debug build. Would you be able to reproduce this with a production build as well, just to confirm?
- Could you post some sample code or a repo we could try to reproduce the issue on our side as well?

[2020-04-07 17:00] madStitcher commented on #5289
Thank you for your help jordanranz, but neither of these get rid of the error. I'm not sure why it was working (albeit with the error) when I was passing awsconfig.

When I changed it to awsmobile, it gave the same error.  And when I tried your 2nd suggestion (and changed awsconfig to awsmobile in Amplify.configure) I'm still getting the same error...

<img width="597" alt="Screen Shot 2020-04-07

[2020-04-07 17:08] Amplifiyer commented on #5320
Transferring this issue to amplify-js. I believe the issue is with new major version release where underlying aws-sdk-js-v3 is not honoring the overridden end point protocol. I have an issue opened with them.

[2020-04-07 17:59] lambda0xff commented on #5319
In the published module, it seems it can be fixed easily:

1. In `node_modules/aws-amplify/lib-esm/index.d.ts` replace line 3 with:
`export { Auth, AuthClass } from '@aws-amplify/auth';`

2. In `node_modules/@aws-amplify/auth/lib-esm/index.d.ts`:
[code]

[2020-04-07 18:06] mdoesburg commented on #5290
Still having this issue on CLI version 4.18.0.

[2020-04-07 18:12] vchaddha commented on #5314
<amplify-authenticator [signUpConfig]="signUpConfig" [hide]="['Greetings']"></amplify-authenticator>

[2020-04-07 18:59] jackatgh commented on #5311
I can confirm it on @aws-amplify/storage@3.1.5

[2020-04-07 19:19] DeniseJames commented on #5303
Ignore the previous. I started a new project and it is fine.

[2020-04-07 19:45] jordanranz commented on #5303
Ahh ok, I was going to ask which version of `aws-amplify` you were using in your `package.json`. Were you able to test the new `amplify-authenticator`?

[2020-04-07 19:46] sawyerh commented on #5313
This is occurring with `aws-amplify-react` as well. When sending the sign up request to Cognito with a password that doesn't meet the password requirements, Cognito returns the following response:

[code]

However Amplify renders:

[2020-04-07 19:47] jordanranz commented on #5298
I believe a good solution for this will be to intelligently populate the form field custom data like `hint`, `placeholder`, and `label`. I am looking into how to support this.

[2020-04-07 19:50] DeniseJames commented on #5303
@jordanranz  So far it works. I need to add the amplifyservice.. From another github I was using import { AmplifyService } from '@flowaccount/aws-amplify-angular'; for Angular 9 and it worked. I am about to install it and hopefully it works in the new project with what you gave me.

[2020-04-07 19:59] amhinson commented on #4483
Just merged a fix for this, and it should be in the next release. I'm going to go ahead and close this issue for now, but feel free to open a new issue if the issue persists 👍

[2020-04-07 19:59] #4483 closed

[2020-04-07 20:23] sbaxter commented on #2556
I was thinking of putting together a PR that allows for a user of amplify to wrap IndexedDB put and get calls with a function that one could use to encrypt the data in IndexedDB, but avoid having the encrypted blobs synced to DynamoDB. I found [Datastore.storage.adapter.indexeddb](https://github.com/aws-amplify/amplify-js/blob/a047ce73abe98c3bf82e888c3afb4d2f911805f3/packages/datastore/src/storage

[2020-04-07 21:15] mdoesburg commented on #5292
@sammartinez Could your team have a look at this bug please?

[2020-04-07 21:15] jordanranz commented on #5033
This should be fixed in the latest release. Please open a new issue if you have any related questions or concerns.

[2020-04-07 21:15] #5033 closed

[2020-04-07 21:25] Ashish-Nanda commented on #5292
@mdoesburg I'm going to look into reproducing this issue today.

[2020-04-07 21:49] ericclemmons commented on #3854
With the latest release of `aws-amplify-react`, #5138 resolves this by moving the CSS to a separate import:

[code]

Please open a new issue if your experience differs!

[2020-04-07 21:49] #3854 closed

[2020-04-07 22:03] ericclemmons opened #5322 "@aws-amplify/ui-react doesn't transpile ES6 to ES5"
**Describe the bug**

_Originally discovered by @sawyerh: https://github.com/aws-amplify/amplify-js/issues/5282#issuecomment-608615158_

When using `@aws-amplify/ui-react` in a Next.js project, I get:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. `yarn create next-app`
2. Update `pages/index.tsx` with:

[code]

3. http://localhost:3000/

**Expected behavior**

Work like `aws-ampli

[2020-04-07 22:04] ericclemmons commented on #5322
Potential solution: https://github.com/aws-amplify/amplify-js/issues/5282#issuecomment-608715936

[2020-04-07 22:06] ericclemmons commented on #5282
@sawyerh I'm able to reproduce your issue, but it seems to be different from what @ajatakia has raised.  I moved it here: https://github.com/aws-amplify/amplify-js/issues/5322

@ajatakia Can you share more about your setup?  I'm not able to replicate this with `create-react-app` alone, but based on your logs it looks like the target is Electron?

Is there a custom `webpack.config.js` in this proje

[2020-04-07 22:30] Quix0tic opened #5323 "Storage.list crash: TypeError: Cannot read property 'map' of undefined"
Hey, I have this project using react that is not able to list items in S3 storage but is able to put.

[code]

Error stack
[code]

[2020-04-07 22:31] mdoesburg commented on #5292
@Ashish-Nanda Thank you!

[2020-04-07 23:21] mysticaltech commented on #1852
Please add urgent support for Flutter, it doesn't make sense to support React Native and not Flutter! When you will add support for Flutter, you will win a lot of hearts!

[2020-04-07 23:28] mysticaltech commented on #1852
That separate initiative seems like our best shot for now, as the Amplify team does seem to want to dip their toes in Dart.

[2020-04-07 23:42] ericclemmons commented on #5293
I'm able to reproduce this.

SSR is broken because Stencil outputs:

[code]

You can see this here:

There _is_ a PR to address this in a way, but it's not specific to SSR:

I'm looking into how this can be addressed in the interim...

[2020-04-07 23:59] Amplifiyer commented on #5311
I'm able to reproduce this, the issue seems to be with axios provider as I tried with fetch and it worked without an issue.

Treating blobs as string is certainly a bug which we will fix but not the cause of this error since uploading less than 5MB files is not even using the sanitized body output https://github.com/aws-amplify/amplify-js/blob/aws-amplify%403.0.6/packages/storage/src/providers/AWS

[2020-04-08 00:02] ericclemmons commented on #5293
Ok, upon doing some more researching this is an unhandled, _non-blocking_ error since `applyPolyfills` is returning a Promise:

[code]

I confirmed that the UI is now rendering with `unstable` using `<AmplifyAuthenticator>`:

**However**, there are more issues to be addressed around `withAuthenticator` and `form.requestSubmit()` that I'm exploring.

[2020-04-08 00:15] ericclemmons opened #5325 "TypeError: form.requestSubmit is not a function"
**Describe the bug**

Introduced in ce74563b427cb2713ad0f1a778441b8f1f3f3ac5, `form.requestSubmit` does not work in Firefox (current version is **68**):

- https://developer.mozilla.org/en-US/docs/Web/API/HTMLFormElement/requestSubmit (Will land in _future_ Firefox **75**)
- https://www.stefanjudis.com/today-i-learned/requestsubmit-offers-a-way-to-validate-a-form-before-submitting-it/#a-new-method

[2020-04-08 00:23] dubchoi opened #5326 "Directly passing third-party oauth tokens to cognito user pool authentication endpoint"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito User Pools w/ Social Federation, Amplify React Native
** Provide additional details e.g. code snippets **

I have a cognito user pool set up to federate with Google as an identity provider. It is working well.

However, if I want to use the official SDK for google log In, and let the user go t

[2020-04-08 00:31] dubchoi commented on #5326
Realized this is basically the same problem as https://github.com/aws-amplify/amplify-js/issues/4008 albeit with different motivation. Closing

[2020-04-08 00:31] #5326 closed

[2020-04-08 00:50] sri7vasu opened #5328 "Get User attributes using Amplify withAuthenticator on signUp"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **
I'm setting up react-native app with cognito and Amplify withAuthenticator. Trying to get user data on click of signUp. Using Hub right now like this , still on SignUp cant get user email and phone number.

    Hub.listen('auth', (data) => {

[2020-04-08 01:02] sri7vasu commented on #5328
I tried something like this as well to capture signUp event but its not hitting the method

class App extends React.Component {
signUp = async () => {
    try {
      await Auth.signUp({
        username,
        password,
        attributes: { email, phone_number }
      })
        .then(user => console.log("signup info:" + user))
    }
    catch (err) {
      console.log('error signing up user..

[2020-04-08 01:40] martin-luo commented on #5313
Agree, I think this is what @ansoncen want to express: the error message is not precise enough, which makes developer hard to locate the real problem.

[2020-04-08 02:03] ansoncen commented on #5313
hey @sammartinez , some random characters in phone_number can reproduce the issues.

for example

[code]

The error caught and console log will be `Username could not be created. Please make sure that the username you have entered is between 1 and 128 characters.`

[2020-04-08 02:33] Amplifiyer commented on #5311
It seems to be the issue is with axios checking the request body for blob here https://github.com/axios/axios/blob/master/lib/utils.js#L134-L136

In react native environment, the blob object results in `"[object Object]"` rather than what axios expects, i.e. `"[object Blob]"` and that results in JSONification of the blob object https://github.com/axios/axios/blob/master/lib/defaults.js#L50-L53 (Co

[2020-04-08 05:40] Swaroop-Bhupathiraju commented on #5036
Same here, please let me know if anyone was able to resolve this

[2020-04-08 09:58] ayush987goyal opened #5329 "Support sending events data to multiple providers for Analytics"
**Is your feature request related to a problem? Please describe.**
I want to send the events data to Pinpoint and Kinesis. Currently this is not supported. We can only send to one provider.

**Describe the solution you'd like**
Amplify Analytics can support sending the data to all the configured providers instead of just one.

**Additional context**
I want to take advantage of various features of

[2020-04-08 10:36] severi opened #5330 "431 error when using cookieStorage for authentication"
**Describe the bug**
Currently when enabling cookiestorage option for authentication eventually always leads to an 431 error code (431 Request Header Fields Too Large).

I understand this problem can be usually circumvented by raising the allowed http header size (e.g. in case of NodeJs adding a flag like `--max-http-header-size 81000`, but unfortunately in our situation this is not possible.

We

[2020-04-08 13:01] missak-boyajian commented on #4681
Is Angular 9 supported now? Can I build my Angular 9 project in AWS Amplify? Because the documentation is saying now it's not supported.

[2020-04-08 13:17] nihp commented on #5036
Use errorMessage={map}

Refer here https://aws-amplify.github.io/docs/js/authentication#customize-error-messages

[2020-04-08 13:59] lebnic opened #5331 "completeNewPasswordChallenge with SR"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **
According to your doc, it is said that "The password features use the Secure Remote Password (SRP) protocol to avoid sending cleartext passwords over the wire." , which is awesome IMO. I've tested it for "standard login" (ie: authenticateUser

[2020-04-08 14:17] tncbbthositg commented on #4730
I'm currently having this issue on a react-native project.  :(

[code]

I'll keep digging . . .

[2020-04-08 15:02] amhinson commented on #4730
@tncbbthositg Could you post the output of this so we can try to reproduce the issue?

`npx envinfo --system --binaries --browsers --npmPackages --npmGlobalPackages`

Also, if you have a code snippet of how you're using Amplify in your project, that would be helpful as well.

[2020-04-08 15:09] dongerardor commented on #2714
+1

[2020-04-08 16:13] alex-iancu opened #5332 "AWSAccessKeyId set as undefined from Android platform but works correctly on iOS or browser"
**Describe the bug**

We developed an app using the MEAN stack. We integrated it with AWS S3 for data storage using Amplify by following [this tutorial](https://aws-amplify.github.io/docs/js/storage). We also enabled Auth in this step. We are not signing in the user, and we are only using the unauthenticated user in the app at this point.

When running the application on the iOS emulator or in the

[2020-04-08 16:14] vinnichase commented on #5313
I encounter similar strange behavior but with different input (considering default pw policy with minimum 8 characters and at least one number):

using '123' as password gives:
[code]
using '123123' as password gives:
[code]
For me it would be enough when error types are `InvalidPasswordException` if they are related to password and `InvalidEmailException` if they are related to email. A more gene

[2020-04-08 16:21] tncbbthositg commented on #4730
@amhinson, here's the environment:

[code]

I'm not explicitly using amplify analytics.  I'm explicitly using `I18n`, `Auth`, `Storage`, and `Logger` from Amplify.

I tend to use `index.js` files for groups of components.  I changed one of my tests to import the component specifically and the test runs and passes.

I then added this and the error came back:
[code]

This makes sense to me because i

[2020-04-08 16:31] amhinson commented on #4730
Thanks for the info! What error are you seeing with 3.0.6?

[2020-04-08 16:38] tncbbthositg commented on #4730
It's `Invariant Violation: Native module cannot be null.` when importing `react-native-purchases`.  I don't think it's amplify related because I can mock that library out and most of the tests pass without error.

Just to make sure I was clear, I didn't update amplify yet (because we're prepping for a release and updating amplify can be effortful sometimes).  I just patched the JS.js file in `node

[2020-04-08 16:46] amhinson commented on #4730
Ah ok. Well when you get some time, I'd recommend updating to the latest version of aws-amplify  because there are quite a bit of improvements in the v3 release 🙂

[2020-04-08 17:18] tncbbthositg commented on #4730
@amhinson, will do!  Thanks a lot for all the hard work.  Amplify has helped us out quite a bit.

Also, I put this in my test setup as a very hacky temporary fix to the current issue (don't judge me):

[code]

[2020-04-08 17:40] Amplifiyer commented on #5311
Maybe related https://github.com/axios/axios/issues/2677

[2020-04-08 18:13] Amplifiyer commented on #5332
Logs to notice are
[code]

Can you try reinstalling the app or completely clearing your android's app state and try again?

[2020-04-08 18:16] Amplifiyer commented on #5323
@Quix0tic, can you also post what you see in your network tab (request and response) for the list API request.

[2020-04-08 18:31] alex-iancu commented on #5332
Thank you for your answer.

I tried deleting the app from the emulater, wiping data and doing a cold boot but that did not work.
I also tried doing `ionic cordova platform remove android` and `ionic cordova prepare android`, followed by `ionic cordova run android -l --consolelogs` and this did not help either, I am seeing the same error logs.

Is there anything else I could try?

Many thanks!

[2020-04-08 18:36] Quix0tic commented on #5323
I get the following response:
[code]

[2020-04-08 19:21] ericclemmons commented on #5325
Fixed via #5333

[2020-04-08 19:21] #5325 closed

[2020-04-08 19:55] chai86 opened #5336 "[ERROR] AWSPinpointProvider - record event failed. NetworkingError: Network Failure"
I just received this error when reloading my react native app. No user in my user pool can sign in.

`[ERROR] AWSPinpointProvider - record event failed. ", {"message":"Network Failure","code":"NetworkingError","time":"2020-04-08T10:07:43.349Z","region”:”us-west-1","hostname":"pinpoint.us-west-1.amazonaws.com","retryable":true}`

Under my role, this is the PinPoint policy:
[code]

Can someone pleas

[2020-04-08 20:10] #5322 closed

[2020-04-08 20:52] sammartinez commented on #5336
@chai86 Can you provide a code snippet along with versions of Amplify you are using? Thanks ahead of time.

[2020-04-08 20:57] vincekd opened #5337 "Analytics Firehose encodes data improperly"
**Describe the bug**
The data files in s3 produced from the firehose are no longer json text after switching to amplify analytics. There is no data transformation functions or lambda conversion set up on the firehose stream.

**To Reproduce**
Steps to reproduce the behavior:

1. Set up an angular web page using the instructions on the analytics page:
https://aws-amplify.github.io/docs/js/analytics

[2020-04-08 21:16] chai86 commented on #5336
@sammartinez The below code is on my main `App.js` screen. The thing is is that i never reach it, because i'm on the login screen to sign in (the first page of my app) and this is where i'm get the error (without attempting even logging in!).

I'm using `"aws-amplify": "^1.1.29"`

When in App.js all i do is this:

[code]

[2020-04-08 22:02] bneigher opened #5339 "Manually generate signed url for react-native background upload issue"
Context: react-native, amplify-js 2.3.0
iOS and Android

** Which Category is your question related to? **
Auth, Storage

** What AWS Services are you utilizing? **
Cognito, Pinpoint, Storage.

Question:
I'm trying to leverage more powerful native features to avoid the pitfalls of mobile usage / e.g. uploading while in the background.  I'm following a guide here:
https://github.com/Vydia/react-nat

[2020-04-08 22:07] jordanranz commented on #5158
Hi @dakoller, thanks for submitting this issue.

Can you elaborate on "builds on aws fail"?

Also, I noticed `aws-amplify` is not listed in your `package.json`. `aws-amplify` is required to use the `aws-amplify-angular` library.

If you are only using the `amplify-authenticator` you can also try upgrading to use our latest Angular UI package: https://docs.amplify.aws/ui/auth/authenticator?framewor

[2020-04-08 22:12] jordanranz commented on #5303
Not sure what `@flowaccount/aws-amplify-angular` is but it may have helped with Angular 9 support? Curious how are you using `AmplifyService` from that package?

Let us know if the new UI package works for you for the initial issue you posted about :D

[2020-04-08 23:04] NastyZ98 opened #5340 "signUp method of SignUp class from aws-amplify-react return void"
**Describe the bug**
Hi, I realized by extending the SignUp class that his `signUp()` method was not returning a promise ([source](https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-react/src/Auth/SignUp.tsx#L206)), compared to the `SignIn()` method of the SignIn class, which return a promise ([source](https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-ampli

[2020-04-09 00:57] Amplifiyer commented on #5273
Hi everyone, as suggested in the aws-sdk issue https://github.com/aws/aws-sdk-js-v3/issues/1078, please try using `Buffer.from()` instead of `base64.decode()` as follows and let us know the results

[code]

We are trying to figure out the root cause with using base64 library.

[2020-04-09 01:00] Amplifiyer commented on #5319
Hi @lambda0xff, I wanted to understand your use case of extending the AuthClass. These internal Amplify classes are supposed to be singleton and instantiated once (when you import through `@aws-amplify/auth`) and that's why we wanted to remove these exports for public consumption.

But I want to learn more about the use cases that require these classes and if there are other ways to solve such use

[2020-04-09 01:11] bishonbopanna commented on #2363
@dabit3 - Has there been any updates around this ? I mean to be able to use AMAZON_COGNITO_USER_POOLS for both auth and unauth users ?

Another question - Can we use 2 AppSync APIs - one with AMAZON_COGNITO_USER_POOLS and other with AWS_IAM against the same DB ? Idea is to expose the one with AWS_IAM for UnAuth users and Auth users can get all benefits of using the API with AMAZON_COGNITO_USER_POO

[2020-04-09 01:55] Amplifiyer commented on #3365
@ImedAdel Do you mean aws-sdk version 2.x or the new aws-sdk-js-v3? We have completely removed the dependency on aws-sdk version 2.x and only depends on aws-sdk-js-v3. I'm not completely convinced that moving that to peer dependency is better mostly because currently the whole Amplify library extensively depends on it and have strict requirements on which version to use.

Since peer dependencies d

[2020-04-09 02:55] sandeepk000 commented on #4722
hi @bstrech is there any way we can reset MFA by using admin CLI commands because currently when I am using adminsetuserpreference and i am only able to set preferredMFA to NONE.
but on next on login ChallengeName doest change to 'SETUP_MFA' instead its struck at 'SOFTWARE_TOKEN_MFA'

[2020-04-09 03:11] apoorvmote commented on #5088
This is upsetting now I get following error.
`Error: DataStore does not support connection directive with keyName`

Why did it not warn me before I did `amplify push`.
Breaking changes like this should have some kind of warning on blog post or on cli or change log or anywhere.

I am also interested in the same

[2020-04-09 03:22] apoorvmote commented on #5088
There should also be warning on datastore. Because everything is saved in datastore locally but when you push to cloud then lots of things start to break. Many things don't sync with API for whatever reason.
So I always push to cloud before testing the app. I cannot just start testing/developing app with datastore alone.
There are lots of thing that can go wrong when `amplify push`. So I used to g

[2020-04-09 03:48] Amplifiyer commented on #5309
@mcroker, thank you so much for the reproduction repo, I really appreciate it and commend you for putting in the effort (which I know was not small), without which this would have taken a while to debug (or even understand the use case)

I've found the issue and will be publishing a PR soon.

[2020-04-09 03:58] Amplifiyer commented on #5313
I think I know the root cause, it was because of an incorrect merge that caused a previous reverted commit to reappear. I'm reverting that.

[2020-04-09 04:10] sandeepsingh91 commented on #5273
is it possible that I can directly pass the path of file instead of convert it into base64 and Buffer.from(res, 'base64') ??

[2020-04-09 05:22] undefobj commented on #5088
@apoorvmote by chance we actually looked at this earlier today, and there are two issues at play. First the `keyName` is indeed not supported yet for DataStore. We're looking at designing something simpler there but it is on our radar. The check put in place was to avoid problems but unfortunately it was added in a newer CLI version which I think you've upgraded to. I'd suggest reverting and updat

[2020-04-09 06:12] lambda0xff commented on #5319
Hello @Amplifiyer , my use case is simple: testing.

When using the amplify framework, I wrap classes like Auth, API and Storage in "service classes"

For instance (pseudo-code)
[code]
Then when writing tests for my ServiceAuth class I can inject a mock authClass object.  In order to create that mock object, I need to have access to the Auth object's class:

[code]

ps: I think just exposing an in

[2020-04-09 08:05] usmansbk commented on #5273
@Amplifiyer This is how I use `Storage` to save non-image files, so I don't think the `Buffer` solution above is feasible in my own case.

[code]

[2020-04-09 08:26] nihp opened #5345 "How to fix “A client attempted to write unauthorized attribute” issue in cognito? in react-native custom UI(It works fine with default signUP screen))"
I am customizing the UI for signUp screen. I got an error as A client attempted to write unauthorized attribute. Here I have used the attributes as mentioned below.

**Note:** Before I have used the default screens with the below-mentioned attributes from the aws-amplify-react-native. Now also I have the same attributes, but it failed to signUp.

**Attributes:**

[code]
**Error:**

[code]
**My cus

[2020-04-09 10:43] NastyZ98 commented on #5340
Hi,
I found a workaround by getting the parent state (`loading` for the signIn component and `requestPending` for the signUp component).
The fact that the state of signIn component has been initialized with an empty object confused me. This is why when I logged the state in the child constructor I was getting an empty object.
[code]
https://github.com/aws-amplify/amplify-js/blob/master/packages/aw

[2020-04-09 11:57] greimela commented on #5319
We ran into the same issue and fixed it by using `typeof Auth` instead of `AuthClass`.

[2020-04-09 12:07] lambda0xff commented on #5319
hello @greimela
I remember trying that as well but it didn't work for me.  For instance, I tried
[code]
but I get the following typescript error: `'AuthClass' only refers to a type, but is being used as a value here.`
Did you try something else ?

[2020-04-09 12:43] adilusman51 commented on #5273
@Amplifiyer
I using the same approach as @usmansbk but getting error

`AWSS3Provider - error uploading, [Error: Request failed with status code 403]`

logs are attached below

`[DEBUG] 12:10.63 AWSS3Provider - put assets/A63FA107-E9B9-4C63-9BE5-9D604CBEE958.jpg to public/assets/A63FA107-E9B9-4C63-9BE5-9D604CBEE958.jpg
[DEBUG] 12:11.459 axios-http-handler Event {
  "isTrusted": false,
  "lengthComp

[2020-04-09 13:11] greimela commented on #5319
Oh, I missed your second code snipped.

You can not extend `typeof Auth` since it is no class itself.
However, you can just create a mock object that looks like `Auth`:

[code]

[2020-04-09 13:40] lambda0xff commented on #5319
@greimela
I may have done something wrong, but that still doesn't seem to work for me:
[code]
will have the compiler complain with the following message: `Type '{ signIn(usernameOrSignInOpts: string, pw?: string | undefined): Promise<string>; }' is missing the following properties from type 'AuthClass': _config, userPool, user, _oAuthHandler, and 51 more.`

[2020-04-09 14:58] VictorAtPL commented on #5273
@Amplifiyer

My code:
[code]

Result from console:
[code]

I console log'ed first 100 chars of `buffer` and reading file looks ok.

[2020-04-09 14:59] amhinson commented on #5153
Hey @spanky411, thanks for opening this. No issue is too small 🙂

Would you be able to provide a bit more details in reproducing this, and possibly even some screenshots so we can have a better understanding of the issue?

[2020-04-09 15:06] VictorAtPL commented on #5273
*Update:*
It works.

I had to install `buffer` using `npm` - `npm install buffer` as stated here: https://github.com/aws-amplify/amplify-js/issues/2188#issuecomment-441350477

Also do not forget about importing proper module:
[code]

However, the solution with `fetch` instead of `RNFS` was much more nicer, so I'd love to know how to fix the original bug.

[2020-04-09 15:59] nirLumigo opened #5346 "federatedSignIn fails after sign-out"
**Describe the bug**
We use Cognito and we’re adding the option to sign in into our platform using Google accounts.
On the client-side we use aws-amplify@2.3.0.
For sign-in with google we use `Auth.federatedSignIn({   provider: CognitoHostedUIIdentityProvider.Google  })`.
For sign-out the user we use `Auth.signOut()`.
Usually it works fine, but sometimes we encounter a problem, we don’t know exact

[2020-04-09 16:24] sammartinez commented on #5336
@chai86 You are using a previous version of `aws-amplify`, we just released version 3 last week. Is there anyway you are able to upgrade to at least version 2 and see if you receive the same error message?

[2020-04-09 16:27] karrettgelley opened #5348 "Upload Remote Image to S3"
** Which Category is your question related to? **
Storage

** What AWS Services are you utilizing? **
S3 Bucket

** Provide additional details e.g. code snippets **
How can I fetch an image from a url and then upload it to s3? For instance, if I want to save an image at example.com/someimage to my s3, how can I fetch the remote image and then upload it?

edit: In general, is it best practice to sa

[2020-04-09 16:37] vincekd commented on #5337
Here's some more info. Looks like however the data is being encoded before the request is broken.

### CODE:
[code]

### CONSOLE OUTPUT:
[code]

### REQUEST:
[code]
### S3 DATA:
`\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0`

[2020-04-09 16:42] kimfucious opened #5349 "Cognito federated login across separate apps sharing same backend"
**Which Category is your question related to?**
Auth

**What AWS Services are you utilizing?**
API Gateway, Cognito, DynamoDb, Lambda, S3

**Amplify CLI Version**
4.18.0

**Scenario:**

React (web) project created with amplify-cli

Second React Native project (expo), using first project’s backend via amplify pull

A Cognito user pool is used for Auth, and I’ve setup FederatedSignIn.

Both apps can

[2020-04-09 17:09] chai86 commented on #5336
@sammartinez this has been the most stable version i've tried, and i can't jeopardise a 1 year project and have it fail 😔. Is there any way to identify what the root of the problem is before we assume its Amplify version related?

[2020-04-09 17:22] sammartinez commented on #5336
@chai86 Can you provide us more about the `package.json` you have? And what version of Amplify CLI you are using. For clarity on this, we are moving away from previous versions with them moving to maintenance mode so this is the reason for asking on the major version bump. If you have a gist you can provide that is your code we can take a look into it.

[2020-04-09 17:32] chai86 commented on #5336
Thanks @sammartinez, here's what i'm working with below:

[code]

I believe that i'm using `@aws-amplify/cli@4.11.0` in my terminal (if you know the command to check version i can double check, but i'm sure this is it). Any other info needed....i'm all ears 👂🏼

[2020-04-09 17:40] jordanranz commented on #3279
The Phase 1 of the post I made above has been released for the Auth category components!

Here is the blog post:
https://aws.amazon.com/blogs/mobile/amplify-framework-announces-new-rearchitected-ui-component-and-modular-javascript-libraries/

Here is out new preview Docs:
https://docs.amplify.aws/ui

We will now be working on adding additional category support for Storage, API, etc. and then movin

[2020-04-09 17:40] #3279 closed

[2020-04-09 18:00] jordanranz commented on #4936
We have upgraded `aws-amplify` to v3. Closing this.

[2020-04-09 18:00] #4936 closed

[2020-04-09 18:19] Amplifiyer commented on #3365
Closing this RFC as all the proposed solutions have been launched, see https://aws.amazon.com/blogs/mobile/amplify-framework-announces-new-rearchitected-ui-component-and-modular-javascript-libraries/

Thank you everyone for great feedback and all the contributors for making this happen.

[2020-04-09 18:19] #3365 closed

[2020-04-09 18:36] jordanranz commented on #5022
Hi @andsee, this is currently not supported inside of Amplify and needs some work done in the Cognito service to properly resolve the link you are trying to achieve. I'll mark this as a feature request for now and we can check back on this when we have more information about retrieving the linked identity id.

[2020-04-09 18:42] jordanranz commented on #4526
Hey @jonCliq, which component from `aws-amplify-vue` are you trying to use?

[2020-04-09 18:58] jordanranz commented on #4966
Hey @johnmesotech, I am marking this as a feature request and we are looking into providing better support for this use case.

[2020-04-09 19:02] ericclemmons commented on #5319
Hey there @lambda0xff,

I created a demo of how you can mock `signIn` using a service layer:

The key takeaways with this approach are:

• Amplify provides singletons (e.g. `Auth`) over instantiation (via `new AuthClass`), primarily for configuring via `Amplify.configure`.
• `AuthClass` is being upgraded, so relying on implementation details is risky to depend on. This is true for the underlying S

[2020-04-09 19:09] jordanranz commented on #4925
@raygerrard, can you elaborate a bit more on your use case? Are you trying to retrieve the Cognito Identity ID inside of a labmda after calling API Gateway?

[2020-04-09 19:20] jordanranz commented on #4796
Closing this issue as it seems to be fixed now. Please open a new issue if you experience any related problems

[2020-04-09 19:20] #4796 closed

[2020-04-09 19:24] jordanranz commented on #4871
Hey @vitali-yablonski, could you try using the latest version of `aws-amplify`. There has been some work done on the reconnections and timeouts in the latest.

[2020-04-09 19:29] jordanranz commented on #4863
Hey @brianarpie, what are you trying to change that link to? With the [new UI Component library](https://docs.amplify.aws/ui/auth/authenticator?framework=react#sign-in) @sammartinez mentioned above this may be possible depending on what you are trying to change the link to.

[2020-04-09 20:17] togro opened #5351 "Amplify with Ionic and Social Login on Android (Federated) with Cognito pools"
**Which Category is your question related to?**

Auth

**What AWS Services are you utilizing?**

 Cognito, AWS AppSync, Analytics , S3

**Provide additional details e.g. code snippets**

Hi

We have a app with amplify and ionic ( 5.4.9, below more info) . All works fine , s3, auth , analitycs , admin queries , auth .

But with auth and Federated Social Login we have problems with Android , on Web

[2020-04-09 20:23] lambda0xff commented on #5319
hello @ericclemmons,
Thank you so much for your detailed answer. Just a few remarks if I may.

As you pointed in your example, using a service layer is great since it allows to test an app with mock services and I'm already doing that.

However, I also need to be able to unit test the service itself because in many cases, the service is more than just a wrapper around the 'working class'; for exam

[2020-04-09 20:34] ericclemmons commented on #5319
I hear you.  I'm the same way when it comes to adopting new tools vs. a simpler, hand-rolled solution.

To be honest, my first solution actually did `Auth.signIn = async () => ...mock...`. Would that work?

The issue for us allowing subclassing is that it breaks the singleton pattern we rely on through all categories, depended on by `Amplify.configure`, where we could no longer guarantee that your

[2020-04-09 20:49] amhinson commented on #5336
@chai86 I'm trying to reproduce the issue you're seeing with the same versions of `react-native`, `aws-amplify`, `aws-amplify-react-native`, and `amazon-cognito-identity-js` but no luck so far.

- Did this error happen all of a sudden without any other changes on your end?

-  Is that policy for auth or unauth users?

Also, this previous issue seems to be giving the same error you're seeing #2908,

[2020-04-09 20:51] lambda0xff commented on #5319
@ericclemmons
I'm not too sure I understand what you mean with: `Auth.signIn = async () => ...mock...`  It's getting late where I am so it's probably me. Sorry :)

I see your point re Singleton pattern.  In that case, as I suggested, maybe the cleanest solution would be to provide public interfaces because:

1. we can implement the Singleton pattern
2. the interfaces being public, I can create moc

[2020-04-09 21:07] brianarpie commented on #4863
@jordanranz thanks for replying. I've ultimately stepped away from aws-amplify-react and am using aws-amplify with my own custom forms now. Thanks anyways!

[2020-04-09 21:07] #4863 closed

[2020-04-09 21:08] chai86 commented on #5336
@amhinson I tried to follow some simple steps in that case (#2908) yesterday, but it was of little use. The policy should be for only authorised users. I didn't get to the root of the issue but i did run an experiment. I tried my react native project on an older machine, and the project runs without this error. I believe that my current machine (a work machine) may have had put a block on outbound

[2020-04-09 21:11] amhinson commented on #5336
Ah ok, well I'm glad you were able to get things working! 👍

I'm not too sure on your Pinpoint question, but feel free to open another issue if you're seeing problems.

[2020-04-09 21:11] #5336 closed

[2020-04-09 21:56] Amplifiyer commented on #5273
@usmansbk, yes, Buffer is only applicable to use with base64 encoded strings. Since you are using blobs, your issues seems to be https://github.com/aws-amplify/amplify-js/issues/5311? (I can verify that the fix for this #5342 works with react native cli apps as well)

[2020-04-09 22:36] spanky411 commented on #5153
Unfortunately I don't, but I did see it on the phone where it was happening and can verify text entered in the fields (signup and login components) was not rendering in the textinput field.

I was hoping someone else might have seen a similar issue. I haven't seen this behavior in other react native textinput, or in these components on other phones in the same app. I'll see If I can get a hold of

[2020-04-09 23:06] calarconpieriz commented on #4319
Same problem in angular. I've tried lots of different configurations and still not able to make it work.

[2020-04-09 23:15] ericclemmons commented on #5319
@lambda0xff I updated https://codesandbox.io/s/amplify-jsissues5319-dvu7v?file=/src/App.tsx:135-461 with my suggestion, which is basically _overriding_ `Auth.signIn` (or any call your app would normally make) with a mock function:

[code]

You can consider `Auth` to be the public, typed interface for mocking & overriding as you see fit for testing.

The main difference is that the instantiation ha

[2020-04-09 23:19] amhinson commented on #5283
@vikas5914 After looking at the [Cloud Messaging docs](https://firebase.google.com/docs/cloud-messaging/android/client#manifest), could you try adding `android:exported="false"` to both of those services in your `AndroidManifest.xml`:

[code]

After you add that, can you confirm you are still receiving push notifications and that the Mobsf warning is gone?

[2020-04-09 23:20] collinped commented on #5289
Experiencing the same issue in  "aws-amplify": "^3.0.7"

Things work fine in Universal or SPA mode, but using the **npm run generate** produces the same error and does not allow for deploying of a static application.

[2020-04-09 23:30] usmansbk commented on #5273
@Amplifiyer I looked at https://github.com/aws-amplify/amplify-js/pull/5342 but couldn't figure out the said fix. It uploads files alright but the contentType is broken

[2020-04-09 23:52] bneigher commented on #4782
I'm struggling with this, federated with auth0... empty refreshCallbacks.. react-native

[code]

[2020-04-10 00:04] manueliglesias commented on #4916
Hi @midimurphdesigns

How did you set up your API? was it from an annotated schema? (e.g. using the `@searchable` directive)

When using the `@searchable` directive together with `@model`, Amplify will create all the machinery needed to make your writes to DynamoDB flow to both Subscriptions and ElasticSearch

[2020-04-10 00:19] Amplifiyer commented on #5273
@usmansbk Tahnks for trying out the fix #5342, can you let us know what issues are you facing with the content type? if you pass blob.type as contentType, is it not getting honored when you upload or facing an error?

[2020-04-10 00:26] usmansbk commented on #5273
@Amplifiyer Thanks. The `contentType` is not getting honored at all. The uploaded media files are broken when downloaded.

[2020-04-10 01:17] Amplifiyer commented on #5273
@usmansbk, after applying the fix #5342 in your local app, what's the content type being sent in the request (You can add a breakpoint in axios-http-handler to inspect) vs what you sent in the storage.put() api call?

[2020-04-10 01:23] #4649 closed

[2020-04-10 01:51] trevcor commented on #5332
I'm able to see this exact same behavior when i run my deployed React app in IE or edge.  The same app works fine in all other browsers.  But in IE the `X-Amz-Credential` query param is undefined.
 The React app uses the Storage api like this:
[code]

[2020-04-10 02:24] houmark opened #5354 "Storage broken in amplify-js 3.x"
**Describe the bug**
After updating to 3.x we cannot use Amplify Storage. We are using named imports and Storage has been configured and in aws-exports.js we have the following lines (auto-generated) in relation to storage:

[code]
There's no AWSS3 value in that aws-exports.js file, and I'm frankly confused what is the right setup. Documentation seems to be related to 2.x and manual configuration

[2020-04-10 04:51] #5219 closed

[2020-04-10 05:20] undefobj commented on #5222
It is possible to observe one object like so:

[code]

This also came up here: https://github.com/aws-amplify/amplify-js/issues/5156
I'm adding a note internally to get this added to our docs. Additionally we have a feature we're working on related to the sync and filter functionality so that you can apply finer grained controls to the base query functionality. You can track that here: https://git

[2020-04-10 05:30] rpostulart commented on #5222
Ok cool, so then only that data will be locally in the store and not the other data. Thx

[2020-04-10 05:43] rpostulart commented on #5222
Is tracked here: https://github.com/aws-amplify/amplify-js/issues/5119

[2020-04-10 05:44] Nyazuki opened #5355 "Cannot pass theme.sectionFooterContent for SectionFooterContent styling"
[code]

SectionFooter will create a new `<span>` child element SectionFooterContent, similar like FormSection that creates a child FormContainer.

[code]

the above theme props will apply to SectionFooter but SectionFooterContent will not receive style props in sectionFooterContent, which I believe is a bug.

https://github.com/aws-amplify/amplify-js/blob/50f99713572a4c692c3f4bd9da3a4859093bd9e9/p

[2020-04-10 05:55] rpostulart commented on #5222
When I trigger this on a page load:

  const id = "71192197-67f4-4e2d-9569-bbfd67085253"
    const subscription = await DataStore.observe(Quiz, id).subscribe(msg => {
      console.log(msg.model, msg.opType, msg.element)
    })

It still loads all the models and data in the store

<img width="666" alt="Screenshot 2020-04-10 at 07 54 31" src="https://user-images.githubusercontent.com/21346629/78966

[2020-04-10 06:05] undefobj commented on #5222
Observing a model is different than loading all the models. If you're looking to just load specific ones that's handled by the feature #5119

[2020-04-10 06:24] Maheshkumar094 opened #5357 "403 ERROR The request could not be satisfied."
**Issue I am Facing**
This distribution is not configured to allow the HTTP request method that was used for this request. The distribution supports only cachable requests. We can't connect to the server for this app or website at this time. There might be too much traffic or a configuration error. Try again later, or contact the app or website owner.
If you provide content to customers through Cl

[2020-04-10 06:24] lokeshsharma596 commented on #3685
this issue is still exist.. in response i am getting undefined  not data

Auth.forgotPasswordSubmit(username, code, new_password)
.then(data => console.log(data))
.catch(err => console.log(err));

[2020-04-10 06:30] rpostulart commented on #5119
Ok, I am looking forward for this feature, here you can find the data model and use case I am using:
https://github.com/aws-amplify/amplify-js/issues/5222#issuecomment-609598129

[2020-04-10 06:45] lambda0xff commented on #5319
@ericclemmons
Oh, now I see what you mean.  It's a nice way to go around our problem here, eventhough we may end up doing a lot (too much ?) in the constructor.  I would also have to look at it with more complex setups and tests.

In the meantime, I may have found a solution based on @greimela input by using Typescript's `Partial`:
[code]

I'll probably go with this for the moment, but if we take

[2020-04-10 08:59] lyziane commented on #3591
+1

[2020-04-10 09:09] karrettgelley opened #5358 "Connect Component Modular Import"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
AppSync

** Provide additional details e.g. code snippets **
I'm trying to refactor my code to use the newish modular imports but I can't figure out where the \<Connect\> react component is. How can I import \<Connect\> using modular imports?

[2020-04-10 09:10] pokey commented on #5153
This happens when I use `withAuthenticator(App, true)` and only occurs when I run on my actual iPhone X (iOS 13.3.1).  When I run on an iPhone X simulator running iOS 13.3, I can see the text just fine.  Here's a screenshot of my iPhone:
![IMG_9987](https://user-images.githubusercontent.com/755842/78979097-0a8f9b00-7b13-11ea-93f7-4ca7202f60ac.PNG)
I am using the following versions:
[code]

Please

[2020-04-10 12:29] mdoesburg commented on #5292
@Ashish-Nanda Hi, I was wondering if you got a chance to reproduce this yet? Let me know if you need any more details from my end.

[2020-04-10 12:54] agentlewis opened #5359 "aws-appsync/redux-offline/netinfo is at 4.7.0 which conflicts with expo 37 which requires 5.5.0"
Hi team,

I am currently  working in an expo/amplify project in response to [Covid19](https://github.com/Ecosify/COVID-Community-Health-App) - different because of the emphasis on privacy unlike other app initatives.

In any case I am running into an issue where expo have moved to using netinfo 5.5.1 on the latest SDK 37 and it looks like the api changed  in  the last major release.

[Looking at t

[2020-04-10 13:13] amhinson commented on #5153
Excellent. Thanks @pokey! We'll check on this and get back to you with an update.

[2020-04-10 13:20] amhinson commented on #5153
@pokey One other question. Are you using the `aws-amplify-react` library at all in your project?

[2020-04-10 13:21] pokey commented on #5153
I don't think so.  I think I installed it by accident while I was flailing
trying to get things to work initially 😊

On Fri, Apr 10, 2020 at 2:20 PM Alex Hinson <notifications@github.com>
wrote:

[2020-04-10 14:16] amhinson commented on #5153
So it seems like a [recent React Native issue](https://github.com/facebook/react-native/issues/27696) related to dark mode. I was able to reproduce this on a physical device as well as the simulator (Settings > Developer > Dark Appearance).

It seems we can update this within `aws-amplify-react-native` by specifying the `color` style as well as the `placeholderTextColor`.

However, you should be a

[2020-04-10 15:44] nihp commented on #1529
Shall I able to pass any params while onStateChange() in <Authenticator/> component.

In my custom screen while navigating **this.props.onStateChange('signIn',{});** I need to pass params and how can I get this in my signIn screen?

Another one clarification kindly clarify, If I got any error in anyone of my authentication screen, it still there if I go to anyother screen and back to the screen wh

[2020-04-10 16:08] amhinson commented on #5359
Hey @agentlewis, we can definitely take a look at this. Just for reference, what is the current behavior you're seeing in Expo? Is the app crashing, or just showing a warning?

[2020-04-10 16:32] amhinson commented on #5272
@vikas5914 Seems like we could replace that with [SecureRandom](https://docs.oracle.com/javase/7/docs/api/java/security/SecureRandom.html) and potentially resolve that issue. Would you be able to make the following changes to that file in your node_modules and see if the error goes away?

[code]

[2020-04-10 16:44] Amplifiyer commented on #5354
@houmark, can you try after deleting your node_modules to see if it resolves the issue for you?

[2020-04-10 17:02] houmark commented on #5354
This first failed in Amplify Console. I can’t control that. I don’t think it’s caching anything but to the best of my knowledge I can’t change anything related to that in Amplify Console.

When I realized this had broken I then did the production build on my local machine with the same error happening. As I mentioned, this did not happen when running locally in development mode where it does not p

[2020-04-10 17:16] jordanranz commented on #5355
Fixed merged, thank you for contributing! Please open a new issue if you have any related questions or concerns.

[2020-04-10 17:16] #5355 closed

[2020-04-10 17:33] ericclemmons commented on #5319
@lambda0xff `Partial` is pretty handy in that situation!

I think you're right, there probably is some benefit to having `Auth` implement an `AuthInterface`.

To recap, there were 2 themes in this thread:

1. Exporting `AuthClass` for instantiation.
1. Leveraging TypeScript's `Partial` or `typeof` when overriding/mocking/stubbing `Auth`

Since both needs are around testing and we have a way to wor

[2020-04-10 17:45] Quix0tic commented on #5348
I think you could either download the image on the user browser (if you have a website and the users have access to S3) or trigger a lambda function with the URL to download and save the image to S3 (which I think is preferred)

[2020-04-10 17:53] Amplifiyer commented on #5354
@houmark, below are the steps I tried to reproduce this issue

[code]
Using the above steps, I can see correct results in the browser console when I click the button getStorage.

I might be missing something specific to your setup. Can you help with providing a reproduction repo which we can clone and see the error? (Or at a minimum repro steps that allow us to reproduce)

[2020-04-10 18:05] lambda0xff commented on #5319
Absolutely.  Thanks again for your help @ericclemmons

[2020-04-10 18:21] amhinson commented on #5345
Hey @nihp, could you go into the Cognito User Pool app client settings and see if all of the attributes you're trying to write are enabled?

General settings -> App clients -> Show details -> Set attribute read and write permissions link

Also, can you confirm that you're using the `custom:` prefix for the custom attributes in your code?

Reference: https://docs.aws.amazon.com/cognito/latest/devel

[2020-04-10 18:37] ericclemmons commented on #5319
Awesome!  I'll close this issue and start on a feature request for `AuthInterface` 👀

[2020-04-10 18:37] #5319 closed

[2020-04-10 18:50] #5311 closed

[2020-04-10 19:14] MontoyaAndres commented on #2502
any news?

[2020-04-10 19:18] Ashish-Nanda commented on #5359
Hi @agentlewis. Can you give more detail about the issue you are facing with NetInfo. What all are you using from Amplify? The version of the dependency you linked is a devDependency.

If you are installing NetInfo in your app, you should be able to use 5.5.1, as can be seen from the peerDependencies [here](https://github.com/aws-amplify/amplify-js/blob/0a5ce97f4248cca941d222b8f6b4729f99958d36/pac

[2020-04-10 19:21] Amplifiyer commented on #5273
@usmansbk, #5342 is out on the unstable tag, can you try with @aws-amplify@unstable and let us know if it works for you. If it doesn't please share your code snippet or reproduction repo/steps on #5311.
Thanks!

[2020-04-10 19:22] Amplifiyer commented on #5311
@jackatgh, @pkspks the fix is out on the unstable tag, can you try with aws-amplify@unstable and let us know if it works for you.

[2020-04-10 19:25] #5309 closed

[2020-04-10 19:25] #5313 closed

[2020-04-10 20:10] #5153 closed

[2020-04-10 20:22] Ashish-Nanda commented on #5359
Ok I can see your package.json file includes `aws-appsync`.
Could you share the exact error you are getting? Also does SDK 37 not allow you to use v4.7.0, like you could if you used a RN CLI app?

Based on your answers to the above we can look at some paths forward.

[2020-04-10 20:26] valtrem opened #5363 "amplify-ui-components @aws-amplify/ui-vue Signup formFields not respected"
** Which Category is your question related to? **
amplify-ui-components

** What AWS Services are you utilizing? **
DataStore, Cognito, S3,

** Provide additional details e.g. code snippets **

"dependencies": {
    "@aws-amplify/core": "^3.2.1",
    "@aws-amplify/datastore": "^2.0.5",
    "@aws-amplify/ui-vue": "^0.2.2"
}

[code]
[code]
[code]
![image](https://user-images.githubusercontent.com/43

[2020-04-10 20:29] lebnic commented on #612
Cognito should at least update the doc / interface... The link simply "does not work out of the box..." contrary to what is "advertised" :

<img width="1183" alt="Capture d’écran, le 2020-04-10 à 16 29 11" src="https://user-images.githubusercontent.com/6682795/79021036-7fc99300-7b48-11ea-802d-33e1fdb64413.png">

[2020-04-10 20:33] usmansbk commented on #5273
@Amplifiyer Thanks a bunch. So far everything works as expected in the `unstable` release.
[code]

[2020-04-10 20:39] ashika01 commented on #5363
@valtrem - I guess you issue is related to this https://github.com/aws-amplify/amplify-js/issues/5298.  We are investigating to enable this function.

[2020-04-10 20:41] agentlewis commented on #5359
Hey @amhinson and @Ashish-Nanda thanks for getting back to me.

You are indeed both correct - after posting this I carried on going through the logs/dependencies and realised that indeed aws-async uses redux-offline which need 4.7.0.

Yes of course :

Screenshot of pop over error in expo-client loading on Android (newish phone)

![Screenshot_20200411-082720_Expo](https://user-images.githubusercont