[2020-06-12 15:34] sammartinez opened #6076 "Overriding the .section class within the Vue Authenticator component"
**Is your feature request related to a problem? Please describe.**
Customer within the discussion issue is looking to have the ability to override the `.section` class within the Vue Authenticator component.

**Describe the solution you'd like**
Provide a solution in order to override the `.section` styling within the Authenticator component.

**Additional context**
#6047

[2020-06-12 15:35] Saqlain-Piecyfer opened #6077 "[ERROR] 31:59.625 AuthError - Username cannot be empty"
**Describe the bug**
Empty username or password during login throws exception.
I'm using default UI

**To Reproduce**
Just enter empty user/password and signin

**Expected behavior**
It should show the error message....

**Code Snippet**
import * as React from 'react';
import { Platform, StyleSheet, Text, View, SafeAreaView, StatusBar } from 'react-native';
import WS from 'react-native-websocket'

[2020-06-12 15:48] amhinson commented on #4870
@Saqlain-Piecyfer The red screen is just coming from [the use](https://github.com/aws-amplify/amplify-js/blob/master/packages/core/src/Logger/ConsoleLogger.ts#L82) of `console.error` when `signIn` is not successful to make it more visible, but there isn't actually an error happening.

Also, the `SignIn` button isn't disabled because it still needs to handle the use-case of passwordless sign in.

W

[2020-06-12 15:53] amhinson commented on #6077
I commented on this similar issue, but the red screen is just coming from[ the use ](https://github.com/aws-amplify/amplify-js/blob/master/packages/core/src/Logger/ConsoleLogger.ts#L82)of `console.error `when `signIn` is not successful to make it more visible, but there isn't actually an error happening.

https://github.com/aws-amplify/amplify-js/issues/4870#issuecomment-643344902

[2020-06-12 15:53] #6077 closed

[2020-06-12 16:10] GavinSawyer commented on #3474
Would love to see this happen. SSR is essential for any major app!

[2020-06-12 16:18] sammartinez commented on #3474
All,

Wanted to give you an update here, we are actively working on an SSR feature for Amplify. While we don't have a date for the feature to be out I wanted to share that we are working on this.

Thanks!

Sincerely,
The Amplify JS team

[2020-06-12 17:14] iaarnio commented on #5836
I had these amplify dependencies:
[code]
Hard locking the versions to few days older versions (and removing node_modules and the lock file) fixed the issue for me:
[code]

[2020-06-12 17:27] damien-monni opened #6080 "Auth.verifyUserAttribute() does not handle clientMetadata"
I want to resend the email verification code on user request so I try to use Auth.verifyUserAttribute:

[code]

I need to send clientMetadata that are set on Auth.configure but it seems that no metadata are sent.

I don't understand why because it seems to be implemented:
https://github.com/aws-amplify/amplify-js/blob/a047ce73abe98c3bf82e888c3afb4d2f911805f3/packages/auth/src/Auth.ts#L1352

Any he

[2020-06-12 18:02] amhinson commented on #6013
@bigzidane Have you followed this example in the documentation about [Identity Pool Federation with Facebook](https://docs.amplify.aws/lib/auth/advanced/q/platform/js#facebook-sign-in-react)?

[2020-06-12 18:05] amhinson commented on #6015
@nihp It's difficult to replicate the behavior you're seeing without a clear reproduction example. Would you be able to create a basic repo to show the behavior you're seeing and share that with us?

[2020-06-12 18:20] amhinson commented on #6060
Duplicate of https://github.com/aws-amplify/amplify-js/issues/5934

[2020-06-12 18:20] #6060 closed

[2020-06-12 18:46] Ashish-Nanda commented on #6050
@johnmesotech do you want this integration in UI components? Could you give some more details.

[2020-06-12 18:58] jordanranz commented on #6071
You should be able to do:
[code]
We can look into passing that through to `@aws-amplify/ui-vue`.

Thanks for the feedback.

[2020-06-12 19:10] jordanranz commented on #6045
Hey @JohnnyK84 @thenetimp,

This is currently the way to do this:
[code]
It may be useful for us to add a prop to `amplify-sign-in` for this to improve the experience since it seems like a pretty common use case.

[2020-06-12 19:17] ericclemmons commented on #5738
We've made some fixes with https://github.com/aws-amplify/amplify-js/pull/5869. Can you confirm if this issue still persists?

[2020-06-12 19:18] jordanranz commented on #6073
@mspoulsen,

Could you post the css file content for this. Also, which framework are you using?

I am able to use the css var like so:
[code]

[2020-06-12 19:48] BarbaraPruz commented on #5231
I am running into similar problem. I thought this was possible user error and so I tried to start a discussion thread [https://github.com/aws-amplify/amplify-js/discussions/6067](https://github.com/aws-amplify/amplify-js/discussions/6067) which has some details and background.
Let me know if other information would be helpful. I'm also open to other approaches to meeting my requirements.
Note: at

[2020-06-12 19:52] diegovincent commented on #1035
I managed to _nodeify_ my whole application and it did not work because Amplify simply does not support it. They literally have a line saying "Node is not supported". I cannot tell you exactly where out of my head, but I am thinking that, since {N} has direct access to the native APIs (unlike React Native, that needs bridging / injection), it should be even easier than React Native. Especially tak

[2020-06-12 20:25] johnmesotech commented on #6050
I have my own forms. Don't need graphical widgets, components, etc. Don't let me limit the design though. Form validation flags might make some folks happy.

AWS Cognito needs phone numbers in a certain format. AWS provides a service and API that validates and may adjust phone numbers you send, returning corrected entries where it can. Seems to make some sense that the Amplify Auth API manage that

[2020-06-12 21:13] quorth0n commented on #5019
+1

[2020-06-12 21:19] elorzafe commented on #5916
@zsid `Authenticator` components doesn't use OAuth flow, OAuth flows are available using Cognito HostedUI and is the mechanism that Cognito returns custom scope on the access token.

[2020-06-12 21:47] melvinmt commented on #5543
Awesome this seems to work. But when I add an api with `amplify add api` do I use `Amazon Cognito User Pool` as authorization type or `OpenID Connect`?

[2020-06-12 22:00] elorzafe commented on #5147
Amplify is an open source library that allows customers to interact with Cloud Services such as Amazon Cognito.
Amazon Cognito provides a mechanism to get different scopes on the access token. This mechanism is only supported on OAuth flow using Cognito HostedUI. We’ve communicated the feedback to the Cognito team for their backlog, but I would also encourage you to open a case through your suppor

[2020-06-12 22:00] elorzafe commented on #3732
Amplify is an open source library that allows customers to interact with Cloud Services such as Amazon Cognito.

Amazon Cognito provides a mechanism to get different scopes on the access token. This mechanism is only supported on OAuth flow using Cognito HostedUI. We’ve communicated the feedback to the Cognito team for their backlog, but I would also encourage you to open a case through your suppo

[2020-06-12 22:00] elorzafe commented on #3732
Amplify is an open source library that allows customers to interact with Cloud Services such as Amazon Cognito.

Amazon Cognito provides a mechanism to get different scopes on the access token. This mechanism is only supported on OAuth flow using Cognito HostedUI. We’ve communicated the feedback to the Cognito team for their backlog, but I would also encourage you to open a case through your suppo

[2020-06-12 22:01] elorzafe commented on #1370
Amplify is an open source library that allows customers to interact with Cloud Services such as Amazon Cognito.

Amazon Cognito provides a mechanism to get different scopes on the access token. This mechanism is only supported on OAuth flow using Cognito HostedUI. We’ve communicated the feedback to the Cognito team for their backlog, but I would also encourage you to open a case through your suppo

[2020-06-12 22:04] jordanranz commented on #6072
@mspoulsen, could you help me understand which styles are affected in your app?

[2020-06-12 22:19] IsaacTrevino commented on #4535
So once I updated via amplify-cli `amplify update api` , then `enable DataStore for entire GraphQL` ,
I had to remove my items from the dynamo db table and reinsert them via DataStore instead of GraphQL, the Fields were now included and ready to roll. Thanks

[2020-06-12 22:55] #5038 closed

[2020-06-12 22:55] #5999 closed

[2020-06-12 23:08] thenetimp commented on #6045
@jordanranz,  I just tried to add the above and got the following linting error  "'amplify-sign-in' is not a known element" in my signin module.  I have read the docs and made sure to import (and export) what it said it needed in my shared module.   My shared module is then imported into my lazyloaded signin module.

`import { AmplifyAngularModule } from 'aws-amplify-angular';
import { AmplifyUIAn

[2020-06-12 23:55] #5973 closed

[2020-06-13 00:45] 24jr opened #6081 "image compression on s3 upload"
I was looking at an ideal solution to compress image uploads (png, jpeg, svg, gif, idk others potentially). I'm using vue and I didn't know if there was some client side function I should use to minify the photos before I send them with Storage.put which I failed at trying to figure out with an npm package called imagemin.

Or I could upload the images and then have a lambda function trigger when

[2020-06-13 00:55] Ashish-Nanda commented on #6050
Thanks for the details @johnmesotech, that makes sense. Just wanted to make sure I capture the scope of this feature request. Will review it with the team.

[2020-06-13 03:02] tvald commented on #6037
fwiw, I ended up using a state transition listener to immediately bump the `AuthState` from `VerifyContact` to `SignedIn`, as if the user had clicked on the "skip" butten.

[2020-06-13 03:33] nihp commented on #6060
Any update for this issue in Duplicate of #5934

[2020-06-13 07:24] atedevby commented on #5926
I have the same problem

[2020-06-13 07:29] undefobj commented on #5926
Can you post your exact schemas and steps you followed, as well as versions of library and CLI? Link to sample code would help as well. We're not able to reproduce this, I suspect there is some workflow that is causing an issue.

[2020-06-13 11:09] sebinbenjamin commented on #1126
any updates on this ?

[2020-06-13 11:12] gHashTag commented on #5926
Once again I reproduced the problem on this [tutorial](https://fullstackserverless.github.io/docs/amplify-04/). All the same, there is data locally, but App Sync is not.

[Code](https://github.com/fullstackserverless/startup/tree/bug)
[Model](https://github.com/fullstackserverless/startup/blob/bug/amplify/%23current-cloud-backend/api/startup/schema.graphql)
[Mutatiton](https://github.com/fullstack

[2020-06-13 11:44] mspoulsen commented on #6072
@kendevops That is not the issue. The issue is that when I wrap my app in `<amplify-authenticator>` then the styling of my app is affected.

Here is one example from my app:
Before:
![before](https://user-images.githubusercontent.com/10956790/84567805-67aa0600-ad7b-11ea-8623-46e2dc23695b.png)

After:
![after](https://user-images.githubusercontent.com/10956790/84567808-71336e00-ad7b-11ea-990f-03575

[2020-06-13 11:51] mspoulsen commented on #6073
I am using Vue. Ok, since you were able to I tried again and made it work when using a css file. Before I was applying it as style to the app where `--amplify-primary-color` was working but `--amplify-text-sm` was not. Weird, but everything is good now. Thanks :+1:

[2020-06-13 11:56] mspoulsen commented on #6071
Yes, I am thanks! Funny thing it that I am not able to re-export them directly though

Would like to be able to do this:
[code]

But I have to do this:
[code]

But I can export AuthState directly:
[code]

[2020-06-13 12:11] dbybanez commented on #1035
+1

[2020-06-13 15:51] ahultgren commented on #5279
@undefobj I cannot see that neither amplify nor the amazon-cognito-identity-js package provides any admin query at all. Could you perhaps provide an example of what you mean by modifying the existing function? My need is simply to call AdminCreateUser as documented [here](https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_AdminCreateUser.html) from a browser.

[2020-06-13 16:42] MontoyaAndres commented on #5435
Hey @ericclemmons how can we use the `/pages/api/*` routes with `API.graphql` 😲 can we use this feature right now?

[2020-06-13 19:07] hisham commented on #678
+1. Still facing this issue with Angular 9 and aws-pubsub library (required by @aws-amplify/app library).

[2020-06-13 21:31] undefobj commented on #5279
@ahultgren The Admin Queries API referenced by @mrrainey is documented here: https://docs.amplify.aws/cli/auth/admin

[2020-06-14 05:48] trungtin opened #6084 "[ui-react] Authenticator component render children even if not signed in"
**Describe the bug**
From reading the documentation and source of the Authenticator component I expect that it will only render the children if the user already signed in, but it not to be the case here.

**To Reproduce**

1. with this source
[code]

**Expected behavior**
I expect that MyApp should not be rendered (but it does, behind the SignIn form)

[2020-06-14 05:51] trungtin commented on #6084
duplicate https://github.com/aws-amplify/amplify-js/issues/5547

[2020-06-14 05:51] #6084 closed

[2020-06-14 06:05] trungtin commented on #5547
any update on the Authenticator component part? Still having problem with `@aws-amplify/ui-react@0.2.9-unstable.27`
Thanks

[2020-06-14 07:00] zsid commented on #5916
@elorzafe getting scopes (custom and standard ones) on the token via the `Authenticator` is a big requirement for us.

What are the plans to get them outside the `HostedUI`? Speaking to fellow colleagues, only getting the scopes via `HostedUI` have pushed people to use other providers rather than `Cognito` and is seeing as big blocker. I am also getting in big arguments with other suppliers to mov

[2020-06-14 11:00] nirsnappy opened #6086 "add the option to change cognito url"
**Is your feature request related to a problem? Please describe.**
we want to do complex stuff in the cognito triggers but there is a lot that missing like the user ip, so we basically want to work with a lambda that will proxy the request and add meta data but then we cant use amplify

**Describe the solution you'd like**
the simplest solution  will be to control this via env variable the code ch

[2020-06-14 14:17] ahultgren commented on #5279
@undefobj thank you for your reply. I think I have misunderstood what this issue is about. Is it not possible to call the AdminCreateUser endpoint directly, just like all the other endpoints, without needing the CLI to create a gateway and lambda layer in between? Assuming the user has a role or identity that supports it.

[2020-06-14 18:30] undefobj commented on #5279
It's possible, but I wouldn't recommend doing that from an architectural & security standpoint. You're basically giving uncontrolled credentials to clients and losing a lot of other benefits of having an API.

[2020-06-14 19:55] alaeri commented on #5769
We have the same bug in our project. Is there a workaround available?

[2020-06-14 20:23] IsaacTrevino commented on #3123
I followed this approach, by editing the `cognitoActions.js` and adding `adminCreateUser`. Though I will need to follow @shaleenmundra approach for the identity pool for customers.

[2020-06-14 20:27] rahul-nath commented on #4832
I don't like this solution, although it works. What if you make updates to fields as an admin and would like only some of the updated information propagated to real time users? This could be a security risk as a nefarious user would simply inspect their network tab to find compromising information if the data updated is not their own. Amplify needs to document this and change it, it's not the Grap

[2020-06-14 20:35] srchulo opened #6091 "[Feedback] ability to disable sign up on sign in component"
**Page**: [`/ui/auth/authenticator/q/framework/vue`](https://docs.amplify.aws/ui/auth/authenticator/q/framework/vue)

**Feedback**:

It looks like in the latest version of the Vue UI components, there's no way to hide "Create account" on the sign in component. It would be great to have this!

[2020-06-14 21:34] JohnnyK84 commented on #6045
@jordanranz That worked perfect. Thanks for the great help!!!
On another note, is there any plan to add support for Ionic as was with the previous version of this framework which can be found [here](https://aws-amplify.github.io/docs/js/tutorials/building-ionic-4-apps/) to support Ionic 5/Angular9.

Thanks again!

[2020-06-14 21:39] asp3 commented on #4580
having the same problem: Do you want to sign in to `null`. Looking forward to a fix as the apple deadline is approaching!

[2020-06-14 21:55] oliverandersencox commented on #4580
Is there really still no fix for this?

[2020-06-14 22:45] IsaacTrevino commented on #5433
+1 I am getting this error too. I don't want to edit my @keys.

[2020-06-15 00:13] thenderson55 commented on #3682
Installing ```amazon-cognito-identity-js``` solves the issue but does your login persist?

I get logged out on every refresh. Some other older issues mention this and the solution was to upgrade from ```aws-amplify``` v1 to v2. I am now on v3 doesn't persist.

I will probably try ```redux persist``` but it seems like amplify should automatically access asyncStorage to persist login

[2020-06-15 00:34] srchulo opened #6087 "amplify-authenticator component shouldn't render default slot when not authenticated"
**Is your feature request related to a problem? Please describe.**
Currently when using the `amplify-authenticator` Vue component, the inner content will be hidden, but still be evaluated. This can lead to API requests failing, but also weird behaviors with lifecycle methods like created because the component has been created, even if it hasn't been shown yet.

**Describe the solution you'd like**

[2020-06-15 03:45] shrishtychandra commented on #3197
I am also facing similar issue..

[2020-06-15 03:56] DuhamelPhilippe commented on #5769
After one month, I'm "happy" to see that I'm not the only one having this issue.
Nothing new on my side except that Microsoft has updated his browser Edge, about 2 weeks ago. We don't have this issue anymore with updated Edge browsers.
But the issue still remains with previous versions.

[2020-06-15 04:13] cristhian-boc commented on #1583
@ThomasCarca I've managed to solve this using an "incognito" web browser, so Google/Facebook can't cache anything there.

[2020-06-15 05:06] tvergho commented on #6041
I'm also getting a similar issue – creating an initial user through Facebook works fine, but using the preSignUp script to link an existing user with a social account results in the `OAuth - Error handling auth response. Error: invalid_grant` error. Would like to hear about any solutions to this!

[2020-06-15 05:58] melvinmt commented on #5543
@amhinson

I keep getting

@amhinson thanks so much for sharing this, the Identity Pool Federation thing is like the only thing that works for me (I've been at this for 5+ days...). The big question is: what to do with the `credentials`? How do you authenticate against the GraphQL API (or other AWS APIs) with just the credentials? I'm only seeing examples for OAuth Hosted UI but that frankly doesn

[2020-06-15 06:23] satishmolletipipra commented on #2104
is there any way to capture and customize the error message in Amplify Angular.

[2020-06-15 08:00] nihp commented on #6015
Here I have

actions.js defines Redux Actions.

[code]

[code]

For communicating with the backend using

[code]

[2020-06-15 08:27] #6073 closed

[2020-06-15 09:38] screendriver opened #6088 "Send emails from a contact form"
**Is your feature request related to a problem? Please describe.**

I want to build a website with a contact form. The contact form should send an email to stake holders. I'm aware of [Amazon Simple Email Service](https://aws.amazon.com/ses/) (aka `Amazon SES`) and [Netlify Forms](https://www.netlify.com/products/forms/) but unfortunately there isn't something out of the box in `Amplify`.

**Descr

[2020-06-15 09:45] waleedshkt commented on #122
Both aws-amplify and firebase sdk quicken and ease the web-app development. But they come at the expense of large bundle size. Same goes for Expo which allows rapid react-native app development.

[2020-06-15 09:47] waleedshkt commented on #122
Both aws-amplify and firebase sdk quicken and ease the web-app development. But they come at the expense of large bundle size. Same goes for Expo which allows rapid react-native app development but adds many MBs of unwanted code

[2020-06-15 10:20] #5440 closed

[2020-06-15 11:37] crcommons opened #6089 "Unable to hide or disable sign up in Amplify UI"
**Is your feature request related to a problem? Please describe.**
Previous version of the Amplify UI allowed you to hide or disable various UI components in both the the authenticator component and the withAuthenticator HOC. However, with the new release, I am unable to hide/disable the sign up component. I can't find any information about this in the documentation either. I'm not sure if it's mi

[2020-06-15 11:48] joergbs commented on #3818
Below is what I got working using:
* Angular
* Cognito hosted login page
* Google G Suite as an SAML2 Identity provider (setup manually on cognito user pool after amplify add auth and amplify push)

src\aws-exports.ts
[code]

src\app\app.module.ts
[code]

src\app\app.component.ts
[code]

src\app\app.component.html
[code]

[2020-06-15 13:50] mauerbac commented on #6091
@srchulo - curious what the use case for hiding create new account is? To not confuse users?

[2020-06-15 14:05] batical opened #6092 "[Auth][Cognitio][AppSync] authorization token is missing"
**Describe the bug**
In some case, the authorization token is not present int the api graphQL. Mainly after the Refresh token expiration expire.

**To Reproduce**
On dev env, I set the expiration token to one day in Cognito UI. When I try to bring my application back from background, I am still connected, but no request are done. error 401.

[code]

I add a little piece of code in the jwtToken: as

[2020-06-15 14:10] aniljaiswal commented on #5121
This is great @ericclemmons . I have been waiting for NextJS support within the AWS Amplify ecosystem.

[2020-06-15 14:55] mlafo opened #6093 "Prediction Identify plain text requests failed when response lasts more than 10 seconds"
Env : react native

"aws-amplify": "^3.0.8",
"aws-amplify-react-native": "^4.0.4",
"react": "16.11.0",
"react-native": "0.62.2",

Prediction Identify plain text Works fine with image stored in S3 with few texts.
But when I increase the number ok texts to be detected i get always a "Network request failed" with an "Unhandle Promise Rejection" after almost 10 seconds. Is there a way to get around th

[2020-06-15 15:11] magjack commented on #1582
I would like to see a re enter password feature.

[2020-06-15 15:19] egyangel commented on #5019
+1

[2020-06-15 15:37] prabhatsharma commented on #4687
Still facing this.

[2020-06-15 16:26] srchulo commented on #6091
Most of the apps that I build are invite only and don't usually support a sign up flow. Or it's a more complicated sign up flow that they don't do on the site, but we handle together in a meeting before they can actually login.

[2020-06-15 16:27] srchulo commented on #6091
And yes, to not confuse users. I actually have sign ups turned off in the user pool, so you can go through the create account flow, but then you get an 400 error.

[2020-06-15 16:45] mluis commented on #6008
+1

[2020-06-15 16:59] sammartinez commented on #6080
@damien-monni Can you provide us with your `package.json`? Thanks ahead of time!

[2020-06-15 17:26] danluszcz-pariveda commented on #6069
I'm seeing a possibly related issue, our Cognito Pre Token Generation lambda function was triggered 82 times in less than a second for the same user.

[2020-06-15 17:47] njdullea commented on #4151
Where does this feature request to fill in the development timeline? Do y'all expect it to be implemented in the near future?

[2020-06-15 18:12] ericclemmons commented on #5435
@MontoyaAndres Yes, so long as the data is public (e.g. not requiring auth credentials, which is in progress)!  Here's a snippet from a working example of mine:

[code]

[2020-06-15 18:13] ulpsilva commented on #4687
"node_modules\@aws-amplify\analytics\lib-esm\Providers\AWSKinesisFirehoseProvider.js" remove the "()" in line number 25

[2020-06-15 18:54] amhinson commented on #6089
@crcommons Could you share what Amplify libraries you are you using and their versions?

[2020-06-15 20:11] crcommons commented on #6089
@amhinson I'm using @aws-amplify/ui-react 0.2.8 and aws-amplify 3.0.17

[2020-06-15 20:16] amhinson commented on #6091
This looks to be a duplicate of another recent feature request. I'm going to close this in favor of the (slightly) older issue: https://github.com/aws-amplify/amplify-js/issues/6089

[2020-06-15 20:16] #6091 closed

[2020-06-15 20:28] jjzazuet commented on #3410
Just chiming in as well. Our app is also affected by this UX issue. Thanks!

[2020-06-15 20:32] goatandsheep commented on #4151
I think someone should make a pull request saying that `autotrack` does not work for Kinesis so people don't get confused as it seems like this very important feature is being overlooked.

[2020-06-15 21:05] CompleteScone commented on #4927
Just noting that a similar thing occurs with challengeName (as has been noted) and was brought up almost a year ago but then closed (#3733).

[2020-06-15 21:38] ashika01 commented on #6081
@24jr We are working on storage improvements. Will take this into account as feature request

[2020-06-15 21:43] ltaljaard commented on #5119
@manueliglesias Hello, could you advise on the expected timelines for this development?

[2020-06-15 22:32] dtelaroli commented on #329
I'm used to use one bucket and event trigger by environment/account.
It would be great a native cli support for that.

[2020-06-15 22:52] sammartinez commented on #5952
Closing due to inactivity

[2020-06-15 22:52] #5952 closed

[2020-06-15 23:17] jordanranz commented on #6089
Same question as: https://github.com/aws-amplify/amplify-js/issues/6045

For React it would be:
[code]

[2020-06-15 23:30] #5122 closed

[2020-06-15 23:30] #5106 closed

[2020-06-15 23:51] 24jr commented on #6081
@ashika01 ok great also wonder if there would be a good way to intertwine the predictions that detects inappropriate content on the upload or if that should be handled separately

[2020-06-16 01:28] WSorban commented on #3435
Subscribing to this issue as well... There must be a way to invalidate a single token on sign out...

[2020-06-16 03:14] proevilz commented on #4351
I'm using the following and have this exact issue... when reloading, login is not persisted. There are so many comments/workarounds on here but I'm unsure which one I'm supposed to do, or if it's supposed to be working/patched now considering this issue is closed?

[code]

[2020-06-16 03:47] proevilz commented on #5167
"aws-amplify": "^3.0.16",
"expo": "~37.0.9",
"react-native": "https://github.com/expo/react-native/archive/sdk-37.0.1.tar.gz",

Same problem, this needs to be reopened.

[2020-06-16 05:39] bsdahl commented on #1182
I realize many people are still having this issue, and it hasn't been resolved yet. I want to share my solution with you.

Basically, I got around the problem by emailing the user a new temporary password, every time the user attempted to login to our application.

I accomplish this by having a multi part login flow.

1. First the user enters their email
2. The client application sends the email a

[2020-06-16 07:35] illiteratewriter commented on #5964
I've also faced the same issue. But `npx react-native start --reset-cache` fixed the issue for me.

[2020-06-16 07:52] crcommons commented on #6089
Thanks, @jordanranz! It would be great to add this to the documentation if possible.

[2020-06-16 10:08] prabhatsharma commented on #4687
I was using vue. Created a new vue project and ported the code manually. This seems to have fixed the error.

[2020-06-16 10:58] paulsjohnson91 commented on #6020
Sorry for the late reply, I've just tried this and am still getting the same error.

[2020-06-16 11:34] nihp commented on #6015
Any updates?

[2020-06-16 13:11] paulsjohnson91 commented on #6020
As a side note, I've considered using openid instead but can find absolutely no documentation on google oauth with openid on react native, does anyone have any?

[2020-06-16 13:55] iartemiev commented on #5926
@gHashTag are you experiencing the issue in the [error_data_store branch](https://github.com/fullstackserverless/startup/tree/error_data_store)? If so, please upgrade to the latest versions of aws-amplify and @aws-amplify/datastore. We released some changes recently that improve syncing performance, amongst other things.

[2020-06-16 14:05] paulsjohnson91 commented on #6020
ok I switched to using OpenID Connect instead and this seems to work. A separate issue though is that I'm not sure what to do next, I have successfully used federated sign in and have an access key, secret access key, session token etc but now if I do Auth.currentSession it says no user so how do I get a token to access api gateway?

[2020-06-16 14:08] paulsjohnson91 commented on #6020
I don't now see a user with the logged in users email address in the cognito user pool

[2020-06-16 14:57] paulsjohnson91 commented on #6020
To be clear, when I logged in with Google I was given an object of form:
     `{idToken: "<token", serverAuthCode: null, user: {…}, scopes: Array(3)}`

And when I used federated signin I was left with an object of form:
 `{accessKeyId: "<key>", secretAccessKey: "<secret key>", sessionToken: "<session token>", expiration: <time>, authenticated: true}`

I was expecting this to mean that my user was

[2020-06-16 15:00] darnmark64 opened #6096 "AWSS3Provider - ensure credentials error No Auth module registered in Amplify"
**Describe the bug**
After upgrading aws-amplify (and supporting package @aws-amplify/auth, @aws-amplify/api, @aws-amplify/pubsub, and @aws-amplify/storage) to the latest versions (3.0.17, 3.2.13, 3.1.16, 3.0.17, 3.2.6 respectively), I'm unable to get a signed URL from S3 using the following AmplifyService call:

`this.amplifyService.storage().get(date, {level: 'public', expires: 120 }).catch((err

[2020-06-16 15:09] darnmark64 commented on #6096
I forgot to mention that I have deleted my node_modules directory and re-install the NPM packages several times and that has not fixed the issue.

[2020-06-16 15:27] sammartinez commented on #4613
@hfahlbusch This is resolved in the new UI Implementations, please verify that this is resolved for you and works as expected.

[2020-06-16 15:32] amhinson commented on #6015
A couple of thoughts:

- Is this `get` function ever called while the user is not logged in? If so, `Auth.currentSession()` would throw the error you are seeing. Try adding some logging in that function to see when it is actually being called.

- I don't see your actual app inside `<Authenticator>`. Did you leave it out just for the example, or is it rendered somewhere else?

[2020-06-16 16:28] wrightkris opened #6097 "[React] Providing value to AmplifySignIn username formField causes 'Username cannot be empty' error"
**Describe the bug**
It appears that in order to provide an initial value to the username/email fields of <AmplifySignIn /> you must provide it via the `formFields` prop of the component. However, by doing so the signInAttributes state object is not populated with the provided values as they are only stored via an input change event with `handleFormFieldInputChange`. Thus, when attempting sign in

[2020-06-16 16:41] damien-monni commented on #6080
@sammartinez sure:

[code]

[2020-06-16 16:42] jordanranz commented on #6045
@thenetimp, if you are using the new `@aws-amplify/ui-angular` you shouldn't need:
[code]
Any reason for importing both?

[2020-06-16 19:19] ismyrnow commented on #4958
I should add that we went ahead and implemented our own CookieStorage class, copying the existing one and adding samesite support. The solution works well until #5726 gets approved.

[2020-06-16 19:24] mobee-bill commented on #699
I have been working with Apple Sign in.  The only way I have been able to get the identityToken or any for that matter is through the Hosted UI.  When doing a federated sign in I am unable to get any tokens back.  It appears my users may end up stuck with a hosted UI.

[2020-06-16 20:42] amhinson commented on #5543
@melvinmt What did you end up using here? That could be related to why `API.graphql()` isn't working as expected.

[2020-06-16 20:48] amhinson commented on #6020
There are currently different behaviors here, depending on whether you use Identity Pool Federation or User Pools with Cognito Hosted UI.

Before diving into what you're seeing, have you considered using [Hosted UI](https://docs.amplify.aws/lib/auth/social/q/platform/js)? This would allow all the users to authenticate with Google, but still exist in the User Pool alongside your regular Cognito use

[2020-06-16 21:35] LucasAndrad commented on #4306
Shouldn't this be documented somewhere?

[2020-06-16 22:17] elliottower opened #6099 "Integration With Existing AWS CLI IAM User"
**Is your feature request related to a problem? Please describe.**
In order to sign into the Amplify CLI, all the documentation says you need to create an IAM account or give the info there, but for my case we use Azure SSO for logging in to the regular AWS CLI using [aws azure login](https://github.com/sportradar/aws-azure-login). This creates temporary 1 hour logins which are saved to the creden

[2020-06-16 22:18] mezalejandro commented on #5543
Hello everyone, I have this error while redirecting to appleid.apple.com
![Screen Shot 2020-06-16 at 19 15 29](https://user-images.githubusercontent.com/568141/84833555-ef0aaa00-b005-11ea-92f9-918e736a6427.png)

`Amplify.configure({
    Auth: {
        mandatorySignIn: true,
        region: 'us-east-1',
        userPoolId: 'us-east-1_xxxx,
        identityPoolId: 'us-east-1:xxxx-xxxx-xxx-xxxx-xxxx

[2020-06-16 22:20] amhinson commented on #6099
Transferring from JS to CLI repo

[2020-06-16 22:47] jordanranz commented on #6087
Yes, this is a limitation with how the default slot work for web components in Stencil. I am unsure if we will be able to get around this limitation so I have documented the recommended way to work around this: https://docs.amplify.aws/ui/auth/authenticator/q/framework/vue#manage-auth-state-and-conditional-app-rendering.

This documentation will highlight how to manage auth state and app rendering

[2020-06-17 00:55] srchulo commented on #6091
@amhinson thanks for linking that issue. That actually had a solution for me!

    <amplify-authenticator>
        <amplify-sign-in slot="sign-in">

            <div slot="secondary-footer-content"></div>
        </amplify-sign-in>

        <nuxt />
        <amplify-sign-out></amplify-sign-out>
    </amplify-authenticator>

[2020-06-17 01:49] srchulo commented on #6087
I think that documentation helps-- example is simpler than mine!

One question, now `amplify-authenticator` doesn't wrap the rest of the content. I still left that around the content to be safe, but I guess in your example you're saying that it's not needed because the `onAuthUIStateChange` listener is effectively doing the same thing?

Also, I think the example is nice with a computed property:

[2020-06-17 01:54] srchulo commented on #6087
Also, it might be nice if the documentation explained why `onAuthUIStateChange` is returned in beforeDestroy, unless that documentation is already covered wherever `onAuthUIStateChange` is documented?

[2020-06-17 03:36] #5944 closed

[2020-06-17 03:50] nocoli opened #6100 "Failing to verify email via updateUserAttributes"
I am trying to mark an email address as verified which is available as per the docs https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_AdminUpdateUserAttributes.html using the adminUpdateUserAttributes call.

I am currently trying to do this via the corresponding non-admin version of this method like so as the admin version doesn't seem to be available (I can see it's

[2020-06-17 04:02] nihp commented on #6015
Auth.currentSession() only called while am in the app. After logout it not get called for sure.

Authenticator is a screen it is handled in the naviagation.

[2020-06-17 05:06] coooldevops opened #6101 "Amplify Datastore : Schema is created partially on the local IndexedDb"
**Describe the bug**
Schema is created partially on the local IndexedDb
 DataStore - Sync error DOMException: Failed to execute 'transaction' on 'IDBDatabase': One of the specified object stores was not found.

I am calling the datastore query api to get the list of objects in a Vue application. I think schemInit fails as it can not create a schema

**To Reproduce**
The model generated successfull

[2020-06-17 06:21] coooldevops commented on #6101
I had queries=null in my mode , removed that , still no chance!

[2020-06-17 06:32] sacrampton opened #6103 "DataStore/Conflict Detection/AppSync - ALLOW UNDELETE OF DELETED ITEMS (RECYCLE BIN)"
**Describe the bug**
With conflict detection enabled, the schema.graphql that is generated automatically adds the following fields to types. It also needs to add the _ttl value to each type so that you can see when items are going to be removed from DynamoDB

  _version: Int!
  _deleted: Boolean
  _lastChangedAt: AWSTimestamp!

Only the _version is added to input lists (ie: input create* / input u

[2020-06-17 06:36] sacrampton commented on #6103
Hi @undefobj - thanks for getting back to me on this - appreciate it.

I've been trying to do this in custom resolvers, but it fails when I try to null the _deleted/_ttl fields through AppSync. With _ttl is says it can't be modified through the client.

[2020-06-17 06:47] undefobj commented on #6103
You're most likely going to need to do a regular DynamoDB resolver with a custom data source. The AppSync resolvers have constraints on what can be done from a client for good reason - mistakes can lead to data loss and consistency issues.

My .02 I'd think a little more through your business use case for such a feature. It's you're looking to recover from mistakes as an admin, I'd probably recomm

[2020-06-17 09:33] ashika01 opened #6104 "[RFC]: Amplify Storage UI Component Refactor"
This issue is a **Request For Comments (RFC)**. It is intended to elicit community feedback regarding a proposed change to the Amplify JS UI components. Please feel free to post comments or questions here.

## Background:

The Phase 1 of Amplify UI components refactor was completed around  March 2020 where we refactored existing codebase into newer web components that would bring parity for all Au

[2020-06-17 13:42] GrahamFord opened #6106 "TypeError: callback.totpRequired is not a function thrown by completeNewPassword()"
**Describe the bug**
If a user has MFA enabled and their password is reset by an admin, on login the call to completeNewPassword() will throw the error `TypeError: "callback.totpRequired is not a function"`

**To Reproduce**
Custom UI calling the Auth component from @aws-amplify/auth.

1. Setup Software Token MFA for a user in a Cognito User Pool
2. Reset the user's password and make it expired (I

[2020-06-17 14:08] cedricgrothues commented on #6093
Hi @mlafo, thank you for the report! I am able to reproduce the behavior you are seeing.

Using an image with just a few words works as expected, but when using an image that contains a few sentences (see example below) the response is `undefined` and an uncaught exception is thrown.

[code]

This is the image I used:
![text-long](https://user-images.githubusercontent.com/34948511/84908367-ab22ae0

[2020-06-17 14:55] mauerbac commented on #6088
Hi @screendriver - I'm not very sure what you mean by "I want to easily send an Email out of a contact form on a website.". Can you expand on this? What details does the form capture? Who submits the form? when the form is submitted what happens?

[2020-06-17 15:32] screendriver commented on #6088
Hi,

I'm not quite sure what I should explain there 🤔 You have a normal HTML form with some input fields and when I click on "Submit" or "Send" I want to send the filled out input fields via Email to a person. A classic normal contact form as on almost every website.

Name. Maybe a last name. Could also be a birth date. Or an email address (your sender email address for example). A textarea with f

[2020-06-17 15:46] gHashTag commented on #5926
@iartemiev last check 4 days ago in the [bug](https://github.com/fullstackserverless/startup/blob/bug/package.json) branch

[2020-06-17 15:54] amhinson commented on #6015
Would it be possible to create a full working basic example repo or [Expo Snack](https://snack.expo.io/) to show the problem you are seeing so we can actually run the app to replicate the behavior?

[2020-06-17 16:03] amhinson commented on #5543
@mezalejandro Do you think you could create a new issue for what you are seeing? This seems to be related but separate from the original issue you posted, so it would be easier to track in a new issue since this one is already pretty long.

[2020-06-17 16:26] mrgoos opened #6107 ""responseType":"code" but Amplify is doing a token request"
**Describe the bug**
I have SAML setup in Cognito and I call `Auth.federatedSignIn();` in my Angular client to get the "enter corporate email" text box from Cognito hosted UI.
Everything works well and I get redirected back to the FE APP after login and I get the code but then I see that Amplify is doing a request to get JWT tokens (`/oauth2/token`).
By doing that, the granted code is being used a

[2020-06-17 16:27] #6045 closed

[2020-06-17 16:32] jordanranz commented on #6089
I ended up adding a first class prop to the sign in component. It is available on `@aws-amplify/ui-react`. Usage:
[code]
Let me know if you are able to test this out

[2020-06-17 16:38] jordanranz commented on #5547
@mtliendo this is good feedback. It auto closes from the hook in the PR but it may be better to hold off on using that.

@kmbro and @trungtin, this is a known limitation to the web component default slot. The recommended way to to manage the application mounting would be to use this guide: https://docs.amplify.aws/ui/auth/authenticator/q/framework/react#manage-auth-state-and-conditional-app-render

[2020-06-17 17:35] cedricgrothues commented on #6093
@mlafo – from what I can tell, this is an issue with `@aws-sdk/client-textract`.

Using `Predictions` with images containing fewer than fifty words works fine because for that `amplify-js` uses `rekognition` (see https://github.com/aws-amplify/amplify-js/blob/master/packages/predictions/src/Providers/AmazonAIIdentifyPredictionsProvider.ts#L178), but if an image contains fifty or more words `textra

[2020-06-17 17:57] iartemiev commented on #5926
@gHashTag thanks, I'll be attempting to reproduce using that branch

[2020-06-17 18:59] ashika01 commented on #6093
As @cedricgrothues has mentioned, this seems to be a limitation from the service itself. Not specific to Amplify. I will close this issue, if you have further comments or clarification that needs to answered. Feel free to ping and I can reopen the issue.

[2020-06-17 19:14] ashika01 commented on #5075
@MattiaCostamagna Looks like this issue can be closed since this can be corrected without amplify patching anything. Let me know if thats not the case and I can reopen the issue.

[2020-06-17 19:14] #5075 closed

[2020-06-17 21:52] alexandprivate commented on #6108
Thank you so much guys to looking into this again, let us know, so we can update our schemas

[2020-06-17 21:55] Jun711 commented on #4720
@leosoaivan
what did you do to properly handle the promise returned by Auth.signOut()? Could you provide  more information? Thanks

[2020-06-17 22:52] Jun711 commented on #4720
@manueliglesias
[code]
Do you know how I can resolve this issue?

Note that the question is NOT about signing out from app should sign out from social IdP such as Google.

The situation is user signing out from social IdP AND also from the app. After that, the user can log in automatically by using federatedSignIn via Amplify without requiring social IdP login again.

@leosoaivan
It seems that Cog

[2020-06-17 23:36] #5447 closed

[2020-06-17 23:36] #5271 closed

[2020-06-17 23:36] #5226 closed

[2020-06-17 23:36] #5168 closed

[2020-06-17 23:36] #5150 closed

[2020-06-17 23:44] Ashish-Nanda commented on #6093
@mlafo what region are you using in your config currently? Could you try making a request to one of the valid regions listed [here](https://aws.amazon.com/textract/faqs/#:~:text=A%3A%20Amazon%20Textract%20is%20currently,and%20Asia%20Pacific%20(Sydney).) to see if it works.

[2020-06-18 00:16] ashika01 commented on #6093
@cedricgrothues Could you comment on this too? How did you set it up?

[2020-06-18 00:21] iartemiev commented on #5926
@gHashTag looking at the yarn.lock, there are old versions of DataStore that could be getting picked up. (E.g. [here](https://github.com/fullstackserverless/startup/blob/bug/yarn.lock#L142) and [here](https://github.com/fullstackserverless/startup/blob/bug/yarn.lock#L3743)

When I ran the app in the branch as is, it wasn't syncing for me either.

However, I was able to get the app in the **bug** b

[2020-06-18 04:27] mrgoos commented on #6107
More info:
I enabled the debugger and I see the events that are invoking the token request.
I will try to catch them and disable it, if possible.
But that's the thing, IMO this event shouldn't be invoked in code grant flow.
![image](https://user-images.githubusercontent.com/2561935/84978278-29269980-b135-11ea-8049-edba323ec152.png)

[2020-06-18 07:55] mrgoos commented on #5935
@cnorthwood - I actually suffer from the [SAME](https://github.com/aws-amplify/amplify-js/issues/6107) issue now.
Everything works except that I see requests to get the token from Amplify where instead, I'd want that to happened on the backend.

I tried this and it didn't help.
![image](https://user-images.githubusercontent.com/2561935/84993622-330ac580-b152-11ea-856f-6be1c6b1aa73.png)

That's jus

[2020-06-18 08:02] cnorthwood commented on #5935
yes, that's what @elorzafe recommended which is what I did

[2020-06-18 08:10] FunkyLambda commented on #5218
Does someone from the Amplify team mind taking ownership of this and fixing the custom state problem once and for all? Or should I submit a PR myself? Happy to...

Here are a couple other related issues:
https://github.com/aws-amplify/amplify-js/issues/4550
https://github.com/aws-amplify/amplify-js/issues/3783

[2020-06-18 08:20] mrgoos commented on #5935
Interesting.
The only difference between me and you as that you installed `@aws-amplify/auth` and I installed the whole lib, `aws-amplify`.
And when looking inside node modules I see that I have `@aws-amplify/auth@^3.2.13` so it's not the issue I think.

What's strange, is that you put configuration in separate for `aws-exports` and for `Auth.configure` and I don't have `Auth.configure` anywhere.

[2020-06-18 09:24] cnorthwood commented on #5935
So my aws-exports.ts doesn't contain anything related to oauth, I'm guessing yours is generated differently? Ours is generated by the serverless Amplify plugin. I'm not entirely sure why it'd be any different. I call Auth.configure immediately after Amplify.configure.

I note that the repo https://github.com/amazon-archives/aws-amplify-serverless-plugin for that is now archived, do you know what's

[2020-06-18 09:30] cnorthwood commented on #5935
I'm not sure what you mean by this. I'm seeing token exchange happen with Cognito in my front-end, which is what I'd expect. It sounds like your issue is different to this, which is for federated users, if the scopes are included, Cognito is rejecting the token exchange with "invalid_grant", and the workaround is to disable the scopes option so Cognito grants all scopes.

[2020-06-18 10:10] mlafo commented on #6093
@Ashish-Nanda  Region setting is an essential point.
Thanks to @cedricgrothues Despite an unvailable region, I clearly understrand the problem and the reason why it partially works because of the switch between rekognition and textract.

I actually use eu-central-1 but I can't try a valid region for my production application because of another issue between S3 and Prediction Region.
It seems Predi

[2020-06-18 11:36] cedricgrothues commented on #6093
@ashika01 @Ashish-Nanda I tried using `textract` in a supported region (`eu-west-1`) without enabling it in the cli, but that would have caused an `AccessDeniedException` not a network error.

[2020-06-18 12:03] mlafo commented on #6093
@cedricgrothues Do you use Storage for you file ?
If yes, is eu-west-1 too ?

[2020-06-18 12:06] crcommons commented on #6089
@jordanranz just tested and it works! Thanks!

[2020-06-18 12:38] mrgoos commented on #5935
I love SF, use it as well. Don't know why that repo was archived, I'm not using SF in my FE flow.
I use Angular and we use Amplify to communicate with Cognito and S3.
I use code grant because I wanted the exchange of code->token to happen in the BE.
But since Amplify is exchanging code with tokens automatically in the FE, I cannot use this flow.
It's actually really surprising to me that I use `"r

[2020-06-18 12:58] gerbyzation commented on #5330
We are experiencing the same issue. I have a CRA app which manages authentication via cognito using `@aws-amplify/auth`. Our API is hosted on AWS Fargate behind an ELB, where the ELB seems to bounce some requests with a 431 reply.

[2020-06-18 13:31] paulsjohnson91 commented on #6020
Hi @amhinson thanks for the suggestion, initially was looking to not have to use hosted ui to keep the user in the app, particularly since I wasn't using deep linking.
I've now set up deep linking and have gotten hosted ui to work except for one issue.
Initially I set up the cognito userpool to need birthdate as a required field however it doesn't look like you can get this from google, only birth

[2020-06-18 13:58] paulsjohnson91 commented on #6020
I've added https://www.googleapis.com/auth/user.birthday.read to the authorization scope and added attribute mapping from birthdays to birthday however despite the hosted ui confirming that date of birth is being requested. I still get the same error

[2020-06-18 14:20] #6089 closed

[2020-06-18 15:05] andrew-belac opened #6111 "[Feedback]SVELTE UI Components"
**Page**: [`/start/q/integration/js`](https://docs.amplify.aws/start/q/integration/js)

**Feedback**:

Would be great if svelte UI components could be added.

[2020-06-18 16:46] jordanranz commented on #6111
The new UI components in `@aws-amplify/ui-components` are web components which are supported in svelte. @sw-yx and I can collaborate on adding some documentation and example for this use case.

[2020-06-18 17:09] ialpert commented on #5330
I have seen the same behavior with localStorage (2 sets of Cognito records at the same time)

[2020-06-18 18:11] ashika01 commented on #6093
@cedricgrothues Thanks for checking it out. @mlafo I think cedric is looking at that issue you opened up.

[2020-06-18 18:23] cedricgrothues commented on #6093
@mlafo – Both my S3 bucket and predictions are in `eu-west-1`.

[2020-06-18 18:36] guilr opened #6114 "feat(@aws-amplify/storage): add support to Delimiter when listing objects"
**Is your feature request related to a problem? Please describe.**
Listing content from s3 does not support the delimiter parameter, which provides ability to list keys hierarchically: <https://docs.aws.amazon.com/AmazonS3/latest/dev/ListingKeysHierarchy.html>

**Describe the solution you'd like**
Ability to pass through listObjects params the `Delimiter` field : <https://docs.aws.amazon.com/AWSJa

[2020-06-18 18:42] liamaws opened #6115 "Inconsistent Translation Behaviour for Amplify UI Components"
**Describe the bug**
When providing translations for amplify UI components only some fields update with the provided translation.

**To Reproduce**
Steps to reproduce the behavior:

1. Clone https://github.com/xavierraffin/fizz-demo
2. Checkout branch noformfields
3. npm install
4. npm start
5. amplify init
6. toggle the lang using the top button

**Expected behavior**
The language of all fields t

[2020-06-18 18:53] LucasAndrad commented on #3153
What happened with this issue @jordanranz ?

[2020-06-18 19:01] liamaws commented on #6115
Somewhat related to https://github.com/aws-amplify/amplify-js/issues/5679

[2020-06-18 19:54] herath commented on #6008
+1

[2020-06-18 20:58] Jun711 commented on #469
@kimfucious It doesn't seem to remove a social IdP linked user (for example, user who logs in with Google)

@mauerbac
how to delete a social IdP linked user?

[2020-06-18 21:30] oliverandersencox commented on #5351
This is a 6 month long pain for me. Are there seriously no fixes for something that is supposed to be integrated (Ionic)!!

[2020-06-18 21:38] oliverandersencox commented on #5959
@Andyluchina I don't have this folder and I'm on the most recent amplify?

[2020-06-18 21:44] Jun711 opened #6121 "delete social idp linked user / delete EXTERNAL_PROVIDER user"
**Is your feature request related to a problem? Please describe.**

I have been using user object returned by currentAuthenticatedUser to deleteUser. It has been working but recently I added login with Google and noticed that it doesn't delete the linked account in Cognito (the entry with EXTERNAL_PROVIDER status).
[code]

**Describe the solution you'd like**

Could it be made to delete linked ent

[2020-06-18 21:50] oliverandersencox commented on #5351
@togro just to let you know I have managed to get it working even with your error after deep linking, however since the recent update it has stopped! INFURIATING!

[2020-06-18 21:53] oliverandersencox commented on #5351
@togro, I have managed to find a work around - shall post code tomorrow morning

[2020-06-18 21:55] oliverandersencox commented on #5351
However could @sammartinez please comment on why the hub - after a successful social Ionic login - first emits sign in success but immediately after will emit a sign in failure

[2020-06-18 22:07] dubchoi opened #6122 "If using hosted oauth flow, "remember device" setting is not respected."
**Describe the bug**
Hosted oauth flow does not respect "remember device" settings.

**To Reproduce**
1. Configure cognito user pool to always remember user devices & to use an oauth hosted UI.
2. After signing in using `Auth.federatedSignIn`, check that the returned `CognitoUser` object does not have a `deviceKey`. Hence, none of the device-related methods (e.g `getDevice`, `setDeviceStatusRememb

[2020-06-18 22:51] myspivey opened #6123 "Inconsistent and Unclear refresh session experience."
**Describe the bug**
We have a need to keep sessions alive. We are using Cognito federated with Auth0. As others have noted the [docs](https://docs.amplify.aws/lib/auth/overview/q/platform/js) state that calling `Auth.currentSession` however we have not found success in that as we are finding the same issue as found in this [ticket](https://github.com/aws-amplify/amplify-js/issues/4850). I came ac

[2020-06-19 00:05] melvinmt commented on #5543
I actually just ended up allowing the following 3 authorization types: API key, Amazon Cognito User Pool, OpenID Connect. It still didn't work until I passed the configuration to the AWSAppSyncClient directly:

This works:
[code]
And then I came across 401 errors, which I resolved by adjusting the IAM authrole to give access to `appsync:GraphQL`.

That worked. Now... I'm running into another issue

[2020-06-19 00:12] Andyluchina commented on #5539
I am experiencing the same issue, but with ionic+angular on android devices.
    "@ionic/angular": "^4.11.10",
    "aws-amplify": "^3.0.10",
    "aws-amplify-angular": "^5.0.10"

The tester is reporting a long wait time for sign in, and it seems to me that amplify is calling the cognito server about 12 times for a single Auth.signin, and the accumulated time of all these requests took this long. I

[2020-06-19 00:47] Andyluchina commented on #5959
@oliverandersencox
"@ionic/angular": "^4.11.10",
"aws-amplify": "^3.0.10",
"aws-amplify-angular": "^5.0.10"

This is really under aws-sdk
Here are my relevant dependencies

[2020-06-19 00:51] Andyluchina commented on #5539
relevant npm package here

[2020-06-19 00:52] Andyluchina commented on #5539
https://www.npmjs.com/package/@aws-sdk/stream-collector-browser

here this the specific package I am referring to

[2020-06-19 00:56] morficus commented on #5879
has anyone heard anything on this?

[2020-06-19 01:41] linden-dg commented on #6037
@tvald  do you have a sample of the code you used? I'm trying to achieve the same thing.

[2020-06-19 04:40] tvald commented on #6037
[code]

[2020-06-19 07:28] gHashTag commented on #5926
@iartemiev Everything is working 🚀 Thank you for the decision 🙏🏻

[2020-06-19 08:43] john-harding commented on #2541
Thanks @Luckygirlllll .  Literally took 30 mins with onesignal after 5+ hours of debugging Amplify/Pinpoint.

[2020-06-19 08:44] ThomasCarca commented on #5228
Following this issue. Any update on this ?
We can not deploy our app in production for ios because of this and using react-native-inappbrowser-reborn does not seem like a viable solution to us, especially considering the different hacks that need to be implemented.

We're seriously considering moving away from amplify as we have been facing several unresolveed issues lately.

[2020-06-19 09:16] oliverandersencox commented on #5351
@togro so my approach is fairly similar to yours, however I am using capacitor (highly recommend) which has deep links out the box, however the approach taken for that is very similar.

So after triggering the reload of the application - I still get exactly the same error as you however this doesnt actually effect the next step (this may be useful - but I havent tried myself - https://stackoverflo

[2020-06-19 09:39] oliverandersencox commented on #5959
odd, after i install those into npm, the package is still no there

[2020-06-19 10:13] oliverandersencox commented on #5351
@togro I now have ti fully working without your error.

My redirect URL is - capacitor://localhost/welcome/ as I am using capacitor

I also opted to use the capactior in app broswer so as to not navigate away from the application as Apple rejected mine for that.

to do that I do this for the Facebook login:

[code]

which opens the browser in a modal. Then once the reload has finished I have to ma

[2020-06-19 10:21] oliverandersencox commented on #5351
@togro even better, now the error message you were having has been resolved for me, the hub is no longer needed and the amplify auth state subscriber works as it should do!

[2020-06-19 13:50] nihp commented on #6015
Did you need full app code to debug this issue.

[2020-06-19 14:25] cedricgrothues commented on #5560
Ok, I just had a look, and it seems like @mlafo and @onlybakam are right, this issue describes two different "problems" that both cause an `InvalidS3ObjectException`:
1. `Rekognition` / `Textract` and `S3` have to be in the same region.
2. The `S3Object` name, extracted from the object URL, is still percent-encoded.

While the first "problem" seems to be by design, the second one describes a bug t

[2020-06-19 14:53] amhinson commented on #6015
If you could create a small example that replicates the issue you are seeing, that would be great!

[2020-06-19 15:17] amhinson commented on #5543
@melvinmt This seems to be steering away from the original issue that was opened. Do you think you could create a new issue for what you are seeing so we can get more focused attention on it?

With that said, when you run `amplify add auth` or `amplify update auth`, there are options to do a manual configuration, which might be what you're looking for.

[2020-06-19 15:27] amhinson commented on #6020
Sorry for the problem you're seeing @paulsjohnson91! It does appear that Cognito doesn't allow removing required attributes. You could either just create a new User Pool (assuming your app is still in development), or potentially add a pre-sign-up lambda function trigger to add the required attribute.

Also, if you would like to keep the user in the app with Hosted UI, here's an [example](https://

[2020-06-19 15:51] NickLiffen opened #6126 "Allow IAM Permission Boundary to be added to IAM Roles created by Amplify CLI"
**Is your feature request related to a problem? Please describe.**

I'm always frustrated when I can't use Amplify as whenever the IAM Roles try to get created in our AWS environment, due to the fact there is no IAM Permission Boundary applied to the roles, the IAM Roles fail to create 😢 . This means we can't use Amplify CLI to pre-create the AWS Resources.

**Describe the solution you'd like**

W

[2020-06-19 16:44] amhinson commented on #6126
Transferring from JS, as this appears to be CLI-related.

[2020-06-19 16:48] cedricgrothues commented on #5971
Hey @shide1989, I tried to recreate your issue, but unfortunately I wasn't able to reproduce it using the default `aws-serverless-express` lambda template.

I added key parts of my project below. Please let me know if there anything I am missing.
[code]

[code]
[code]

[2020-06-19 18:48] leosoaivan commented on #4720
@Jun711 As I mentioned above, `Auth.signOut()` returns a promise that needs to be properly resolved, either with `await` or `then/catch`.

Our problem was we were doing a lot of logic on our logout, like so:

[code]

We switched to the following, which somehow resolved our issue:

[code]

Hope this helps.

[2020-06-19 19:08] mdoesburg opened #6128 "DataStore unable to delete item right after update"
**Describe the bug**
When you try and delete an item from the DataStore, right after doing an update, it gets inserted again.

**To Reproduce**
Use a delete function like this, in which you update a model right before deleting it:
[code]

GraphQL schema:
[code]

The example above is from the React Native app I am building. In the component which contains the checklist, I also observe the model. Af

[2020-06-19 19:11] mdoesburg commented on #6128
@Ashish-Nanda Hey! Do you think we will be able to get a quick fix on this? This doesn't seem like a complicated issue.

It seems like even though I am using `await`, DataStore is not actually done updating the item at the time I call delete on the same item.

[2020-06-19 21:12] cedricgrothues commented on #5889
@kannieWeesNie Could you provide us with steps to reproduce the issue?

[2020-06-19 21:32] fuhreeus commented on #4351
I'm getting this same error without expo...still
    "aws-amplify": "^3.0.11",
    "aws-amplify-react": "^4.1.10",
    "bootstrap": "^4.5.0",
    "formik": "^2.1.4",
    "react": "^16.13.1",

[2020-06-19 21:53] mdoesburg commented on #6108
@sammartinez Any timeline on this? As @johanbuys states, the docs outlined an example for multiple authorization rules which seems to not be working on DataStore.

The ability to limit certain mutations to an owner, for example delete & update, but still allow other users to subscribe to all changes (create, update, delete), seems like a common use case for a lot of apps.

This is a crucial featur

[2020-06-19 22:02] #5560 closed

[2020-06-19 22:56] MontoyaAndres commented on #717
+∞

[2020-06-19 22:59] Jun711 commented on #4720
@leosoaivan
Mine is already with `then/catch` and I printed out the response from the promise and it is undefined.
Even though mine is already `then/catch`, the issue `User can sign in automatically even after signing out from the app and social IdP layer (Google)` still happens.
same with the hosted UI, could you double check hosted ui?

[code]

[2020-06-20 02:52] #5254 closed

[2020-06-20 08:39] cedricgrothues commented on #5560
@mlafo @onlybakam – #6129 was merged and is available at `aws-amplify@unstable`. I'd appreciate it if you could give it a try and see if your issue has been fixed.

_If you do, please make sure `Predictions` and `S3` are in the **same** region_

[2020-06-20 14:24] mujeex commented on #3215
Hey! I am currently encountering this same issue. I keep see the `authenticationFlowType:'CUSTOM_AUTH'` whenever I log out my console, but my app someone still uses `USER_SRP_AUTH` which is the default flow type. Were you able to find a solution to this issue please?

[2020-06-20 18:16] Davidson-Mike commented on #6031
Hello, I'm having the same issue as well with aws-amplify@3.0.18
The async storage warning I'm not too concerned about but the require cycles should be resolved right away.

[2020-06-20 19:52] Andyluchina commented on #5959
"dependencies": {
    "@angular/common": "~8.2.14",
    "@angular/core": "~8.2.14",
    "@angular/forms": "~8.2.14",
    "@angular/platform-browser": "~8.2.14",
    "@angular/platform-browser-dynamic": "~8.2.14",
    "@angular/router": "~8.2.14",
    "@aws-amplify/ui-angular": "^0.2.4",
    "@ionic-native/camera": "^5.19.1",
    "@ionic-native/clipboard": "^5.19.1",
    "@ionic-native/core": "^5.0

[2020-06-20 21:38] SteeveGL opened #6130 "export 'Amplify' was not found in '@aws-amplify/core'"
**Describe the bug**
When I build my project I got that error:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Build project
4. See error

**Expected behavior**
No error

**Code Snippet**
[code]

[code]

**What is Configured?**
If applicable, please provide what is configured for Amplify CLI:
* Which steps did you follow via Amplify CLI when configuring your resources.
* Which resour

[2020-06-20 22:03] e-e commented on #5019
🦗

[2020-06-20 23:39] elchicofrommo commented on #4652
So is sorted results from DataStore still not working? Here's an example of a super simple model and query I'm using and I'm not getting the results in sorted order
Schema:
type Gratitude @model @auth(rules: [{allow: owner}])
  @key( fields:["email", "time"])
{
  email: String!
  title: String!
  time: Int!
  entries: [String]!
}

Query:
DataStore.query(GratitudeModel, c=>{c.email("eq", email).tim

[2020-06-21 11:30] ionutmiftode commented on #5117
@tim

Did you managed to verify the email address from facebook?

I have the same issue, using react native, google works fine but facebook requires an extra step to have the email verified

[2020-06-21 16:37] IvanCaceres commented on #960
@asmajlovicmars @GeorgeBellTMH

I tried adding the S3BucketPolicy to s3-cloudformation-template.json under Resource: { }
However when uploading with Storage.put(a, b, { acl: 'public-read' }) i'm getting 403 access denied on the upload request and not sure why

[2020-06-22 01:03] sigitp-git commented on #4957
I had similar use case, on a React app, I store Expenses in Amplify DataStore. I have to do Query with "owner" predicates to only show list of expenses created by the owner that logged in.

I use combination of async functions from Cognito `Auth.currentUserInfo()` and `useEffect()` React hooks

**Here's the code**

[code]

**My GraphQL schema**

Note that the "owner" field defined as String to sto

[2020-06-22 05:15] secretshardul opened #6251 "For multiple frontends, assign different Cognito user pool group based on frontend"
**Which Category is your question related to?**
Authentication

**Amplify CLI Version**
4.18.1

**What AWS Services are you utilizing?**
Cognito, DynamoDB, Appsync

**Provide additional details e.g. code snippets**
My web app has 2 frontends for 2 user groups- 'advertisers' and 'players'. As per the GraphQL schema, advertisers create data and players read it. Users should be assigned a Cognito use

[2020-06-22 06:40] rudijs commented on #5989
I reinstalled Firefox in my debian laptop and the issue has gone away.

It's the same version of Firefox though: v68.9.Oesr.

So I'll mark this as closed for now.

![Screenshot from 2020-06-22 14-40-06](https://user-images.githubusercontent.com/1711940/85256194-4e4d3c00-b496-11ea-87f0-161052c0618a.png)

[2020-06-22 06:40] #5989 closed

[2020-06-22 09:00] FunkyLambda opened #6134 "Auth.signIn throws error: AuthClass - Failed to get the signed in user – "No current user""
**Describe the bug**
`Auth.signIn` throws error: AuthClass - Failed to get the signed in user – "No current user"

**To Reproduce**
Steps to reproduce the behavior:

1. Call `await Auth.signIn(<username>, <password>)`

**Expected behavior**
I get back a valid user

**What is Configured?**
I have a Cognito User Pool configured and the username/password I'm trying to sign in with exists and is confi

[2020-06-22 09:52] jpimentel-primeit commented on #5879
We are also facing this issue since the day R20200330-p1 was released. We contacted aws support at 21/05 but we got no answer yet.
I really don’t know why there isn’t more people complaining about this problem as this issue has been around for almost two months now.

[2020-06-22 09:58] paulsjohnson91 commented on #6020
I've tried to add a pre-sign-up lambda function trigger to add the attribute however using the hosted UI doesn't appear to trigger it.
I've tested it with signing up regularly and I can see cloud watch logs appearing for the pre sign up trigger however using hosted ui I don't get any logs making me thing it isn't being used.

`
exports.handler = (event, context, callback) => {

    event.request.u

[2020-06-22 10:00] paulsjohnson91 commented on #6020
I'm reluctant to use a new cognito user pool as I already have my app out live

[2020-06-22 10:55] Cigoler commented on #6072
Yeah I noticed this as well.

In the CSS for the amplify-authenticator tag if you untick box-sizing: inherit it should go back to normal but i don't know what is adding it.

[2020-06-22 11:55] rawadrifai commented on #2652
@paulreimer @bng-dev did you guys find a solution for this?

[2020-06-22 14:11] rawadrifai commented on #1031
Hi everyone.. When I used <Authenticator> to wrap my app, my app inside does not show if my app is exporting a stack navigator. If my app is just a component with no react navigation, it works just fine. Any ideas? I hope I'm not the only one.

[2020-06-22 15:04] kjetilge opened #6136 "How to hide the Authentication toast in a vuejs app"
I'm using the Amplify UI for auth in a Vue app. In the docs there is no description of how to customize or hide amplify-toast when auth errors occurs.

I expected to be able to do something like this:
[code]

Well, that doesn't work. Any suggestions ?

[2020-06-22 15:04] kjetilge opened #6167 "How to hide the Authentication toast in a vuejs app"
I'm using the Amplify UI for auth in a Vue app. In the docs there is no description of how to customize or hide amplify-toast when auth errors occurs.

I expected to be able to do something like this:
[code]

Well, that doesn't work. Any suggestions ?

[2020-06-22 15:15] mezalejandro commented on #5543
Ok i close this issue and open a new one

[2020-06-22 15:15] #5543 closed

[2020-06-22 17:04] elorzafe commented on #6136
@kjetilge can you share your package.json?

[2020-06-22 17:36] jordanranz commented on #6091
I have just added a prop to the sign-in component to handle this more intuitively if you'd like to use it instead:
[code]

[2020-06-22 18:51] mdoesburg commented on #6108
@brene @Ashish-Nanda @undefobj @SwaySway @amhinson @manueliglesias @sammartinez @yuth @iartemiev @elorzafe Like I said in my previous comment, I am currently working on a React Native app which utilizes the great power of DataStore to allow users to use the app while being offline. With that being said, just like a lot of other people I am running into issues when trying to use DataStore in conjun

[2020-06-22 19:23] timoschlueter commented on #5117
@ionutmiftode I actually did! Its not the way I would have chosen in the first place, but for my app it actually works perfect:

The key is too use a "post confirmation trigger" and set the attribute through the AWS SDK itself (adminUpdateUserAttributes Method).
The following code works for me:

[code]

What it does is: After the user authenticates successfully via federation, the post confirmatio

[2020-06-22 19:26] mdoesburg commented on #6137
Maybe we should close this issue in favor this one: https://github.com/aws-amplify/amplify-js/issues/6108 as I think the issue is related. I also left a more in-depth comment here: https://github.com/aws-amplify/amplify-js/issues/6108#issuecomment-647708908

[2020-06-22 19:29] kjetilge commented on #6136
package.json
[code]

[2020-06-22 19:45] ionutmiftode commented on #5117
that's awesome @timoschlueter

I'll give it a try! Also do you use profile picture from facebook? I saw that the picture format is not coming as expected form, it gets stored as an object that has a prop with the profile picture, while from google comes as an url - the expected format

[2020-06-22 19:47] timoschlueter commented on #5117
@ionutmiftode unfortunately not. Our app uses just the email address :(

[2020-06-22 20:10] mpgo13 opened #6138 "No MFA Challenge anymore ???"
Hi,

We are facing all of a sudden an issue with Cognito not asking it's users for MFA Challenge anymore.

1. We haven't changed anything related on our site.
2. Tested with different Browsers and IP's

Would you be able to look into this?

Have a look at these requests in eu-central-1 region:

date: Mon, 22 Jun 2020 19:46:18 GMT
x-amzn-requestid: 84d8f97b-3704-4c95-bc28-dfc69d9471fa
x-amzn-reques

[2020-06-22 22:41] sw-yx opened #6157 "[Feature request] `Storage.get` to return headers, not just URL"
**Is your feature request related to a problem? Please describe.**

In https://github.com/aws-amplify/amplify-js/discussions/6135, @mtakac wanted to check the headers of a file instead of downloading it, but we only expose the URL with `Storage.get`. it'd be nice to give the option to return headers (or just expose headers anyway if it is no cost to us)

**Describe the solution you'd like**

as ab

[2020-06-22 22:58] mchilds04 opened #6139 "Authenticator authState is not updated on successful Auth.SignIn request"
**Describe the bug**
I'm using the aws-amplify-react-native Authenticator's authState prop to manage showing and hiding my signin/signup screen s and my main screen. On a successful sign in request the authState is not updated and as a result the app just sits on the sign in screen until I reload the app. Once the app is reloaded this triggers the authState to transition from "loading" to "signedI

[2020-06-23 00:23] srchulo commented on #6091
@jordanranz That works great, thanks!

[2020-06-23 00:29] elorzafe commented on #6134
@FunkyLambda I couldnt reproduce your problem. Can you pase Amplify configuration (hiding endpoint details).

And if you can paste App client info as well (please also hide specific endpoint info)
`aws cognito-idp describe-user-pool-client --user-pool-id <value> --client-id <value>`

[2020-06-23 00:40] elorzafe commented on #6130
@SteeveGL you have duplicated package inside your app, for example `@aws-amplify/core` is also inside `aws-amplify` package.

Can you try removing from your `package.json` file
[code]

[2020-06-23 00:43] elorzafe commented on #6138
@mpgo13 What is the MFA configuration on the userpool? If is optional the user can disable.

[2020-06-23 00:47] mpgo13 commented on #6138
@elorzafe userpool is configured with optional MFA, but users have setup MFA and they used to get MFA challenge before.

Here one user (output of admin-get-user):

[code]

[2020-06-23 00:58] SteeveGL commented on #6130
I removed those packages, start a fresh node_modules folder and it's working now.

I don't remember where those packages were from.

Thanks @elorzafe

[2020-06-23 00:58] #6130 closed

[2020-06-23 03:19] ehtulhaq commented on #6069
I see this issue too..specially on android when using social federated sign up

[2020-06-23 07:58] manhncse02926 commented on #5903
I still get the error on version 3.0.17.

[2020-06-23 08:18] MoonCheung opened #6144 "How does the Vue login property use the event method"
**Describe the bug**
After clicking the amplify-sign-in component attribute to add event method, there is no reaction and no information is printed out from the browser console. Is it wrong for me to operate the added event method correctly? Please help my component to work, thank you

**To Reproduce**
Steps to reproduce the behavior:

1. The code in auth.vue is as follows
[code]
2. Clicking the l

[2020-06-23 09:55] jitenjindal commented on #1852
Eagerly waiting to test beta @mlabieniec :)

[2020-06-23 12:04] loganpowell commented on #1445
I just got this same error, but I'm not using Ionic. I _am_ using Parcel along with these dependencies in my `package.json`:

[code]

Would it be possible to reopen the issue? Setting `NODE_ENV=production` did not work for me 😭

[2020-06-23 12:08] evanlarkin10 opened #6145 "Analytics Record [Unhandled promise rejection: Error: No credentials, applicationId or region"
**Describe the bug**
Analytics record function throws error:
[Unhandled promise rejection: Error: No credentials, applicationId or region]
- node_modules/@aws-amplify/analytics/lib-esm/Providers/AWSPinpointProvider.js:173:41 in __generator$argument_1
......
.....

**Expected behavior**
Analytics logs record event without error.

**Code Snippet**
Analytics.record({name: 'profileVisit',attributes: {

[2020-06-23 12:33] evanlarkin10 commented on #4448
Has anyone found a solution for this? I am getting the same issue.

"@aws-amplify/analytics": "~3.2.1",
"@aws-amplify/api": "~3.1.9",
"@aws-amplify/auth": "~3.2.5",
"@aws-amplify/core": "~3.2.5",
"@aws-amplify/storage": "~3.2.0",
Expo SDK 37 => react-native 0.61

const awsmobile = {
 "aws_project_region": "us-east-1",
 "aws_cognito_identity_pool_id": "us-east-1:xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

[2020-06-23 12:35] SlimKh commented on #4982
Hi! Same for me :(
Did anyone find a workaround ?

[2020-06-23 12:43] pperron commented on #4982
Hi,
I decided to updated my amplify packages to latest versions and solved that issue for me. But after updating, it caused an other issue when using Storage.get with JSON files, needed to change a bit the code to get the JSON content...

[2020-06-23 13:00] nyahan commented on #3478
@sammartinez any update on this?

[2020-06-23 13:08] tobinbc commented on #5893
In case it helps anyone, I have run into this quite a few times and it's always when a project was started using Yarn, and then I clobbered it using `npm i` without a package-lock file.

[2020-06-23 13:28] namnv16 commented on #5273
Any update here?
I'm still get this error with newest version 3.0.18

[2020-06-23 14:03] antoinebrault commented on #4915
I get the same error message. How are we supposed to enforce a required password ?

This is the default behavior of the sign-in component: password field is marked as required*

[2020-06-23 14:31] Ricool06 commented on #5893
Sounds like you must have updated the package to a version that did not exhibit this issue.

[2020-06-23 15:08] simmbiote commented on #5582
I bumped aws-amplify version up to 3.0.18, but still getting the same error.

![image](https://user-images.githubusercontent.com/11704483/85420676-cfc6cc00-b573-11ea-9dcc-74006e702c4d.png)

I've also tried a variety of polyfills:
[code]

Still not working. Any help would be appreciated!

[2020-06-23 15:09] sammartinez commented on #6144
@MoonCheung Can you provide us with your `package.json` along with which versions of our UI Components you are using?

[2020-06-23 15:11] #6048 closed

[2020-06-23 15:17] sammartinez commented on #6136
Transferring this to our Amplify Docs repo as its a miss in documentation

[2020-06-23 15:36] #4613 closed

[2020-06-23 15:45] sammartinez commented on #5708
Resolving as there has been no response. Please let us know if you are still experiencing this issue.

[2020-06-23 15:45] #5708 closed

[2020-06-23 15:51] sammartinez commented on #5767
In looking at the issue, this would be more of a feature request since the`JSON.parse(...)` would be something that doesn't exist within our DataStore category.

[2020-06-23 15:58] sammartinez commented on #5652
From reading the above, @johannesspohr this seems to be resolved? Can you confirm? thanks

[2020-06-23 16:55] Ashish-Nanda commented on #5228
@ThomasCarca @Manzia

Thanks for your patience. We are looking into the issue this week and evaluating the use of `react-native-inappbrowser`. We will provide an update soon once we have validated an approach.

[2020-06-23 17:12] de1mat commented on #1852
I would be keen to hear more details about the overall plan / roadmap / timeframe. This is more important than a beta in the short term as it will guide potential decisions being made right now about tools and frameworks to use. Very pleased to hear there are plans in the first place 👍😀 @mlabieniec

[2020-06-23 17:34] spencerbeggs commented on #6086
PRs for this are here, waiting for review:

https://github.com/aws-amplify/amplify-js/pull/6124
https://github.com/aws-amplify/amplify-js/pull/4930

[2020-06-23 20:51] steinybot opened #6148 "aws-amplify-react peer dependencies pinned to 2.x"
**Describe the bug**

The peer dependencies of aws-amplify-react are pinned to the 2.x series.

**To Reproduce**
Steps to reproduce the behavior:

`npm install aws-amplify aws-amplify-react`:

[code]

**Expected behavior**

The latest aws-amplify-react should work with the latest aws-amplify and it should satisfy the dependencies.

**Additional context**

Is this just an overly strict version spec

[2020-06-23 21:08] sahaam commented on #4606
I am still experiencing this issue with the latest version of aws-amplify.

Looks like the issue happens because response header for url `https://pinpoint.${region}.amazonaws.com/v1/apps/${ApplicationId}/events` has `Content-Type: application/json`, but request header has `Content-Type: text/plain;charset=UTF-8` (due to navigator.beacon supports that). So here we have a mismatch of the Content-Typ

[2020-06-23 22:13] sahaam opened #6150 "Receiving CORB warning for Pinpoint `_session.stop` event when navigating to new tab in Chrome."
**Describe the bug**
Receiving CORB warning for Pinpoint _session.stop event when navigating to new tab in Chrome.

**To Reproduce**
Steps to reproduce the behavior:

1. Create amplify (3.2.1) app using create-react-app (3.2.0) and set up Analytics following instructions in documentation.
2. Open in Chrome 83.
3. Navigate to new tab.
4. Return to tab in which the amplify app is running.
5. Observe

[2020-06-24 00:27] andrewbtp opened #6151 "AmplifySignOut redirection stalls on Loading..."
**Describe the bug**
Using `AmplifySignOut` in conjunction with `Auth.federatedSignIn({ provider: 'Facebook' })` will randomly get stuck on the screen "Loading..." from within `AmplifyAuthenticator`. It will also get stuck "Loading..." occasionally when logging in with `Auth.federatedSignIn({provider: 'Facebook'})`.

**To Reproduce**
1. Create auth in Amplify CLI
2. Setup Facebook social provider.

[2020-06-24 01:05] andrewbtp commented on #6151
Seems to be a Next.js issue when running the app with `next dev`, but `next build && next export && next start` works.

[2020-06-24 01:05] #6151 closed

[2020-06-24 02:11] MoonCheung commented on #6144
@sammartinez My related project package.JSON contains amplify UI Component，You can see below：
[code]

[2020-06-24 02:14] mdoesburg commented on #6128
@iartemiev Update: This doesn't seem to happen when I turn off my internet connection. So I am assuming this has something to do with conflict handling?

I am just guessing here, but it seems like something like this is happening:
1. I update the item
2. The update gets send to the cloud
3. I delete the item, but I receive the updated item (from the cloud) on my subscription at the same time or be

[2020-06-24 02:28] peetss commented on #4943
I have a use case for this as well.

Are there viable workarounds, how can we help contribute this feature?

[2020-06-24 07:27] allens01 commented on #4580
Any update on this issue? I am still seeing the sign in to null issue and the Invalid+user+attributes%3A+name%3A+The+attribute+is+required%0Aemail%3A+The+attribute+is+required%0A+

[2020-06-24 08:26] nlindroos commented on #976
@jordanranz The answer [posted above](https://github.com/aws-amplify/amplify-js/issues/976#issuecomment-423061773) only works as a solution in some environments as pointed out by @HintikkaKimmo and the original issue is therefore not solved. `ServiceWorker` or `dom` is hardly available in a React Native app for example even if you would falsely tell the TS compiler that they are, as the supposed s

[2020-06-24 09:31] nlindroos opened #6153 "Faulty TypeScript types in a React Native project"
**Describe the bug**
Faulty TypeScript types in a React Native project.

**To Reproduce**
Steps to reproduce the behavior:

1. In a React Native + TypeScript project
[code]
2. Import anything from _aws-amplify_, e.g.
[code]
3. Get a host of TypeScript errors, including
[code]

**Expected behavior**
TypeScript compilation without errors in all targeted environments.

**What is Configured?**
_tsconf

[2020-06-24 11:08] tarasowski opened #6154 "Failed to execute 'setItem' on 'Storage': Setting the value of 'amplifyUser' exceeded the quota"
**Describe the bug**

User logs-in into the application and receives the following error: Error: QuotaExceededError: Failed to execute 'setItem' on 'Storage': Setting the value of 'amplifyUser' exceeded the quota.

**To Reproduce**
I can't reproduce it on my machine and in production. The app is under app.okrstudio.com. I have no access to the client`s machine.

**Expected behavior**
It should not

[2020-06-24 11:43] roeemz commented on #728
This should definitely turn into a feature, Amplify shadow integration should be easier than having to manually implement this using MQTT messages.

[2020-06-24 12:47] tarasowski commented on #6154
The issue is fixed. I did a mistake and was setting amplifyUser two times. It was throwing an error only in some cases.

[2020-06-24 12:47] #6154 closed

[2020-06-24 14:30] ecomonestop opened #6155 "invalid_request and invalid_grant causing intermittent login failures - React Web"
**Describe the bug**
I get invalid_grant every time I signin via Facebook.  This doesnt cause the login failure alone.  However, when I get invalid_request and invalid_grant together this is when the login fails.  This happens intermittently.  I looked around at other issues and what was told is that Auth.configure or Amplify.configure is called twice; however, I searched my code and this is not t

[2020-06-24 15:38] sammartinez commented on #6138
@mpgo13 Are you using Amplify with your Amazon Cognito service?

[2020-06-24 17:01] JohnAtFenestra opened #6158 "FIXED IN 3.0.19-unstable.6 - Auth.completeNewPassword seems to leave Auth in unstable state"
Adding commentary from my own reply. This bug no longer evidences in 3.0.19-unstable.6 from https://cdnjs.com/libraries/aws-amplify

Original __completeNewPassword followed by signOut followed by immediate signIn produces a NotAuthorizedException__

Renaming to describe the scenario more accurately and to hopefully get a response

Yesterday, I opened this as a discussion, but I carried out an expe

[2020-06-24 19:28] SunstroUS opened #6159 "Auth.signup not returning a promise"
**Describe the bug**
When a user goes to signup through our site, after submitting a form we call Auth.signup({..}) and await a promise before we continue. In the network traffic I can see that we are getting a promise back, and the user is being created successfully in Cognito, but no promise.

**To Reproduce**
[code]

**Expected behavior**
Return a successful promise when there are no errors

De

[2020-06-24 19:36] mpgo13 commented on #6138
I’m using amplify-js in frontend. The issue seems to be happening only with
my existing user pool, whereas it works with a new user pool.

On Thu, 25 Jun 2020 at 1:38 am, Sam Martinez <notifications@github.com>
wrote:

[2020-06-24 19:37] IamFlowZ commented on #6159
I've also experienced this issue.

Device: Linux (Fedora 32)
    OS: 5.6.18
    Browser Firefox
    Version 77.0.1

[2020-06-24 19:58] manueliglesias commented on #6108
Thank you @mdoesburg

I just want to post an update here to let you know that we are looking into this, thank you so much for the super thorough breakdown!

[2020-06-24 21:52] kimfucious commented on #469
Hi @Jun711,

My use case may be different from yours, as I require--in this case--users to first have a user/password Cognito user *before* they can create a social/federated user.

Regardless, how I've been able to delete a social/federated user is by using the below (`node.js`) in a lambda function (as part of a larger function that does other stuff).

In short, the `adminDeleteUser()` method is

[2020-06-24 22:04] ehtulhaq commented on #4580
One of the many reasons i'll have to reconsider amplify in the future projects

[2020-06-24 23:07] thenderson55 opened #6160 "cannot add TTL feature to @searchable"
**Describe the bug**
TTL (Time To Live) feature can be added to dynamodb using AWSTimestamp but if using @searchable query then it fails with error:

"Can't serialize value (/searchChats/items[0]/expirationEpoch) : Unable to serialize `1.592994882478E12` as a valid timestamp. Ensure that the value provided is an Integer that lies within the limits specified in this scalar's description."

**To Rep

[2020-06-24 23:29] undefobj commented on #4580
All - As others have stated this is an underlying iOS issue outside of Amplify control. However it appears that it is on it's way to being resolved, if you try to test on iOS 13.6 beta you should no longer see the "null" issue.

[2020-06-25 00:02] Jun711 commented on #469
@kimfucious
thanks for replying. I figured it out after checking other issues. I had to go to my user pool on AWS Console for Cognito > "App client settings" > "Allowed OAuth Scopes" and check "aws.cognito.signin.user.admin" to authorize delete account action.

[2020-06-25 00:05] Jun711 commented on #6121
I figured it out after checking other issues. I had to go to my user pool on AWS Console for Cognito > "App client settings" > "Allowed OAuth Scopes" and check "aws.cognito.signin.user.admin" to authorize delete account action.

[2020-06-25 00:38] mdoesburg commented on #6108
@manueliglesias Thank you! I appreciate the update.

[2020-06-25 01:07] adammanderson commented on #5435
@ericclemmons, really encouraging to see progress on SSR for Auth :smile: It's been overlooked for too long!

Any ETA on when we can get to use it?

[2020-06-25 02:57] #5252 closed

[2020-06-25 02:57] #5716 closed

[2020-06-25 03:35] ecomonestop commented on #6155
Spent a better time of a day and a half.  Turns out, only in Gatsby develop do I get this error.  When doing a production build this error goes away.  Hope this saves time for anyone using Gatsby and Amplify

[2020-06-25 03:35] #6155 closed

[2020-06-25 05:39] watanabeshuji commented on #1025
`data.provider.getTopicForValue(data.value)`
https://github.com/aws-amplify/amplify-js/blob/main/packages/pubsub/src/Providers/MqttOverWSProvider.ts#L93-L95

But, I want to get topic simply and generally...

[2020-06-25 09:17] weaponsforge commented on #369
Thank you so much for the amplify tips and insights. @buggy 's solution worked best for me.

@bsdkurt  can I confirm if the Cognito user pool settings that you've mentioned apply for detecting & blocking the same email registration for Email/Password sign-up only?

I expect Google sign-in to be automatically rejected (or maybe synced to its existing Cognito user _previously registered using Email/

[2020-06-25 10:21] nubpro opened #6162 "Datastore timeout when internet drops intermittently and app in background for too long"
**Describe the bug**
Datastore loses realtime sync as soon as network disconnects and reconnect immediately. Few minutes later, Datastore shows up a bunch of warning errors.
`15:31:20.149	client_log	[WARN] 31:20.155 DataStore - Timeout disconnect`

**To Reproduce**
Steps to reproduce the behavior:
1. Open the React Native app on device A and B.
2. Starts the syncing process with `Datastore.start()

[2020-06-25 12:20] mishellnovosel opened #6164 "Auth.updateUserAttributes - custom attribute with '_verified' gets filtered"
**Describe the bug**
I've created a new custom attribute in Cognito called 'custom:dmb_verified'. I'm setting value to it upon registration and everything is working, value is added to the user under this attribute. The problem is when I try to update the value using Auth.updateUserAttributes:

[code]

The request to the AWS is created, but the attribute is missing, it's sending empty object [].

[2020-06-25 12:37] arlyon commented on #5997
Yeah actually, that would be cool. I've got some free time this weekend so I'll take a crack at it. I'm not sure what the api would look like but as I see it amplify would come with a basic hub with the predefined channels built in, and users could 'update' it with their own channel types.

[2020-06-25 12:55] kylekirkby commented on #5177
Any update on this? I also need to get the users identity id... I can't retrieve a users protected file from s3 without it...

[2020-06-25 16:44] dubchoi commented on #6122
I've been taking a closer look at the Auth code, and it's clear that hosted flow completely bypasses a lot of the logic for authentication that Cognito otherwise provides.

Maybe I missed it, but It should at least be documented that many/most of the cognito features (including device remembering, email verification, SMS MFA, custom lambda challenges) will not work if you choose the hosted oauth f

[2020-06-25 17:55] richmondu commented on #4908
This is not applicable to MFA scenario so please remove link to feature 2010.

[2020-06-25 17:59] richmondu commented on #2010
Having the same issue for MFA.
Resending OTP is possible for signup, forgot/reset password, verify email/phone number but currently NOT for MFA.

[2020-06-25 18:41] ThatMate commented on #6031
Any updates?

[2020-06-25 19:38] KevyVo opened #6168 "How to achieve passing hidden attributes to Cognito with new components?"
**Is your feature request related to a problem? Please describe.**
I am having trouble with making user attribute locale hidden then passing them to AWS Cognitio. I was able to able to do this in the old version of amplify but now with @aws-amplify/ui-react this is no longer possible.

**Describe the solution you'd like**
I would like the amplify team to advise me a solution to my problem or add t

[2020-06-25 20:05] Jun711 commented on #6121
@amhinson
It seems that it cannot delete both cognito account and linked account at the same time.

Considering these 3 cases in user pool
1) Google login (EXTERNAL_PROVIDER) account
2) Cognito account
3) Cognito account + linked Google login (EXTERNAL_PROVIDER) account

When I run the following code, it can delete case 1 and 2 from user pool. For case 3, it would only delete the Cognito account,

[2020-06-25 20:09] ztnark commented on #1962
Having this same issue. Wonder if anyone here ever found an answer/solution?

[2020-06-25 20:10] ztnark commented on #6122
+1

[2020-06-25 21:00] Jun711 commented on #469
@kimfucious
Could you try deleting a cognito account + linked google account? I found out that it only deletes the cognito account from user pool in this case.

Considering these 3 cases in user pool

1. Google login (EXTERNAL_PROVIDER) account
2. Cognito account
3. Cognito account + linked Google login (EXTERNAL_PROVIDER) account
When I run the same code, it can delete case 1 and 2 from user pool

[2020-06-25 21:27] sammartinez commented on #2230
This was resolved back in March. Please let us know if you are still having issues.

[2020-06-25 21:27] #2230 closed

[2020-06-25 21:35] Outer-net commented on #2454
Is it possible to embed very simple 3D assets of art/paintings in AR onto a site using AWS Without 8th Wall ?
All the best

[2020-06-25 22:36] PedroBern opened #6169 "event.identity is null in Lambda Function, even when the request comes from an authenticated user"
**Describe the bug**
`event.identity` is `null` in Lambda Function, even when the request comes from an authenticated user

**To Reproduce**
Steps to reproduce the behavior:

1 - amplify add auth
2 - amplify add api ... select the cognito option
3 - amplify add function... hello world template
4 - See the code snipped section below to see the lambda function and the schema

**Expected behavior**
`

[2020-06-26 00:26] PedroBern commented on #6169
Got it working after adding the auth directive, but the example in the docs does not use it.

[code]

[2020-06-26 00:26] #6169 closed

[2020-06-26 00:41] KevyVo commented on #6168
@jordanranz Was able to help me test the code and we found that if we try to make a user attribute hidden in the form field, then set a pre set a value, it bypasses the logic to set the request value. Jordan is currently working to fix the bug and will get back to me when he has fix the bug.

[2020-06-26 01:16] Jun711 commented on #5829
@D0berm4n
There seems to be 2 token request. You probably configured Amplify twice. Check this https://github.com/aws-amplify/amplify-js/issues/3185#issuecomment-492786930 out

[2020-06-26 01:24] balmacefa opened #6171 "Query a @key sorted by an Int field, wrong sorted when int = 0"
**Describe the bug**
I try to query a model and ordered by an Int field (range: 0 -> n+), but the output always puts the row with index = 0 at second, instead of first.

**To Reproduce**
I have this model in the schema :

[code]

When I run this query:

[code]

Output:

[code]

**Expected behavior**
The object with index = 0 to be in the first place:

[code]

<details>
  <summary><strong>Environme

[2020-06-26 01:30] Jun711 opened #6172 "OAuth - Error handling auth response. Error: invalid_grant for Federated Google Login after deleting account"
**Describe the bug**
A clear and concise description of what the bug is.
After deleting a google EXTERNAL_PROVIDER account, within the next hour, if I create a Cognito account using the same gmail and link them, I cannot use `Auth.federatedSignIn({provider: 'Google'})` to log in again and the error is `Error: invalid_grant`.

It would work fine without first deleting a google EXTERNAL_PROVIDER acc

[2020-06-26 01:30] Jun711 commented on #6041
@kimfucious
I got this same error through different steps. Refer to the above linked issue.

1. login with google (this gmail doesn't exist in user pool yet)
2. delete google account
3. sign up cognito using the same gmail
4. login with google (link account)

[2020-06-26 02:29] ehtulhaq commented on #4580
@undefobj  I checked on v14 beta and I still see null in place of app name. Can you link to the apple issue where this is being tracked?

[2020-06-26 03:13] AlexeyKhmelev commented on #3184
Have exactly the same issue. I tried to do smth like this on cancel verification dialog
[code]

 but it doesn't work.

[2020-06-26 04:46] timoschlueter commented on #4580
@undefobj I can confirm that this is still an issue on iOS 14 Beta.

[2020-06-26 04:48] rahuljeevansayone commented on #5228
This is how we solved our issue, we had to use react-native-inappbrowser-reborn package.

add this to the config file

            import { Linking } from 'react-native';
            import InAppBrowser from 'react-native-inappbrowser-reborn';

            oauth: {

            domain: 'xxxxxxxxxxxx',
            userPoolId: 'xxxxxx',
            scope: ['email', 'profile', 'openid'],

[2020-06-26 05:47] alexabidri commented on #4580
Confirming @undefobj message, the issue is now fix on the lastest 13.6 public beta. After having this issue for more than 8 months and contacted Apple many times, it has been resolved by them now!

If it still doesnt work on iOS 14 Beta, this is mainly due because IOS 14 beta has been released to deliver brand new changes and features, not currently to fix this type of issue. 13.6 beta is there fo

[2020-06-26 06:07] mrgoos commented on #565
It's still not working and I can't see how it can be handled without promoting the login screen again.
I'm using SAML and in SAML flow the user must provide a corporate email.
So if it fails with `Already found an entry for username` I can catch it in the FE only and then I need to invoke `Auth.federatedSignIn()` again which will initiate the whole login screen from the beginning.
I hope it'll be

[2020-06-26 07:03] hakimio commented on #565
@mrgoos
[Here](https://gist.github.com/hakimio/be2b028d83ab4ec2f232f77e2e47a0ef) is Angular Google Authentication service which allows you to redirect user directly to google login without using AWS sign-in screen. If the user confirms Google authentication the first time and he is not using Incognito browser mode, the second time he won't be asked to confirm again.
It has two public methods you c

[2020-06-26 07:15] hakimio commented on #369
@weaponsforge you need to link users in your Cognito pre-signup hook:
[code]

[2020-06-26 07:22] mrgoos commented on #565
Thanks @hakimio but Im using SAML so the IDP could be anything for me.
This is why I go through the corporate ID screen.
![image](https://user-images.githubusercontent.com/2561935/85831406-f1ec6400-b796-11ea-9704-7964959f33c4.png)

[2020-06-26 08:34] SlimKh commented on #4982
@pperron, thank you, worked for me.

[2020-06-26 08:49] D0berm4n commented on #5829
I am prety shure that it is configured once but it's true that there are 2 token requests.

![image](https://user-images.githubusercontent.com/10137916/85838881-e0a95480-b7a2-11ea-9fea-d558d9be5906.png)
![image](https://user-images.githubusercontent.com/10137916/85839050-1b12f180-b7a3-11ea-8ae7-06f2201a0862.png)

[2020-06-26 09:33] aibrahim3546 commented on #1583
How did you call this? When i use get method, it throws me `Network Error`.

[2020-06-26 10:30] lorentzca opened #6174 "Do you plan to migrate legacy UI components such as amplify-photo-picker?"
**Is your feature request related to a problem? Please describe.**
In latest UI components it seems that only the Authentication component can be used.

- [Amplify UI Components](https://tiny.amazon.com/ubnn4bwo)

I want to use other components as well.

**Describe the solution you'd like**
Migrate components other than the Authentication component to latest UI components.

**Describe alternatives

[2020-06-26 10:34] harshraj93 opened #6175 "Auth.Signout() method not clearing session token on Chrome"
**Describe the bug**
When constructing an SPA backed by cognito authentication, a logout call (Auth.signOut()) appears to work properly using  Edge /Safari.
When initiating that amplify call from a react hosted application in cloudfront on the Chrome version listed blow, when clicking logout and then the back button, users are not redirected to a login page, but are rather granted access back into

[2020-06-26 11:31] sam-webchef opened #6176 "hideSignUp prop is not working in AmplifySignIn"
**Describe the bug**
I'm using the `AmplifySignIn` component in my React App. According to the [official doc](https://docs.amplify.aws/ui/auth/authenticator/q/framework/react#sign-in) if `hideSignUp` is set to `true`, it should hide the signup link. But it doesn't hide when I add the code as follows.

`<AmplifySignIn hideSignUp={true} headerText="Sign in to the CRM"  ></AmplifySignIn>`

**Update 2

[2020-06-26 11:59] GBanaphal-Fintech opened #6177 "Build error when configured Push Notification > Task :@aws-amplify_pushnotification:compileDebugJavaWithJavac FAILED"
Describe the bug
Working on React Native Project .when configured aws push notifications got the following build error
To Reproduce
0.  **React Native ver: "0.62.2", react-native-cli ver:”2.0.1”,  amplify ver:"3.2.6",  amplify push notification ver:" 3.1.4",  node ver: "12.16.1",   firebase ver: "17.2.0"**
Start with:
1. **Created Firebase Project (Firebase ver: "17.2.0 )**
  npm install aws-ampli

[2020-06-26 12:58] joebernard commented on #4580
Does this mean the app could still be rejected by Apple if it targets any iOS version below 13.6?

[2020-06-26 13:12] timoschlueter commented on #4580
@joebernard our app has been accepted by Apple even with the problem. The app is live on the App Store and shows „null“ to every user using „Sign In with Apple“.
Maybe we were lucky, but the bug has not been an issue for us other than users asking for an explaination.

[2020-06-26 13:28] mdoesburg commented on #6066
I don't know if I fully understand the problem your having, but doesn't `DataStore.save()` return the item with all the fields afterwards? Like this:

[code]

[2020-06-26 13:30] mdoesburg commented on #6066
Or you can get all the posts like this:
[code]

[2020-06-26 14:07] Ashish-Nanda commented on #5228
@Manzia @ThomasCarca

The PR: aws-amplify/docs#2015 will update our documentation with details of how to set up the urlOpener to use an in-app browser for federated signIn both for Expo and RN CLI apps. It is currently being reviewed and will be merged today.

By default, Amplify will opened the Cognito Hosted UI in Safari/Chrome, but you can override that behavior by providing a custom urlOpener:

[2020-06-26 14:33] SergiiNikolayev commented on #3685
same ¯\_(ツ)_/¯

[2020-06-26 15:03] nihp commented on #6015
I have used the customized screen with existing or default screens.

Also, the above GET call code makes interaction with backend and aws-amplify.

My code structure

Snack expo: https://snack.expo.io/@niph/auth

[2020-06-26 15:26] nihp opened #6179 "How can I send an acknowledgement or welcome to the users email address after confirm signup in aws-amplify-react-native"
I am using aws-amplify-react-native.

Here If a new user sign up the app, it send the code to the phone number. But here i wish to send the acknowledgement or welcome message to the users email address.

How can i enable this?

[2020-06-26 15:40] amhinson commented on #6015
Thanks for that @nihp! However, is there a way you could make that example a bit more complete? It doesn't need to be your exact code, but just a simplified version of it that can actually run to show the behavior you're seeing. The key here is just providing us a complete reproduction sample so we can determine if there's a bug or documentation that needs to be updated.

You can keep the `aws-exp

[2020-06-26 16:18] sammartinez commented on #6123
@myspivey Are you using `aws-amplify` or are you just using `amazon-cognito-identity-js` only? I'm not seeing either within your environment information. Also, which versions of those packages are you using? Thanks ahead of time

[2020-06-26 16:20] myspivey commented on #6123
Sorry, here you go @sammartinez!
  "aws-amplify": "3.0.18",
  "aws-appsync-auth-link": "^2.0.2",
  "aws-appsync-subscription-link": "^2.1.0",

[2020-06-26 16:27] elorzafe commented on #6179
@nihp you mean after the user confirm signUp?

[2020-06-26 16:29] anhaya commented on #3435
Still waiting

[2020-06-26 16:52] kimfucious commented on #469
Hi Jun,

For me, it's a two step process.  Here's a code block with some annotation, which may help.

This particular app is using Redux, which is what all the dispatching is about, and I'm too lazy to clean this up for you.

- identities are being pulled from `cognitoUser.attributes`.  I'm only checking for Apple and Google.
- look for STEP ONE & TWO, as that's what matters for you, I think.

It'

[2020-06-26 16:59] kimfucious commented on #6121
Hi Jun,

I commented on your other thread [here](https://github.com/aws-amplify/amplify-js/issues/469#issuecomment-650284148).

Hope it helps.

Best,

Kim

[2020-06-26 17:04] undefobj commented on #4580
I'm unsure about iOS 14 as thats still in preview mode, not public beta. iOS 13.6 beta is what we've tested that seems to resolve the issue.

[2020-06-26 17:07] sammartinez commented on #6123
Thanks ! We'll have someone dive deep on this as soon as we can.

[2020-06-26 17:08] myspivey commented on #6123
@sammartinez Awesome! I am happy to help jump on a call to talk through the problem as well if needed.

[2020-06-26 17:48] Jun711 commented on #6008
I updated aws-amplify from 1.1.19 to 3.0.18 in my Angular 7 app and got similar errors.

[code]

[2020-06-26 18:03] Jun711 commented on #6008
@ender-code
I am not sure if you can upgrade Angular to Angular 9. I could in stall aws-amplify 3.0.18 in my Angular 9 project but not Angular 7.

[2020-06-26 19:18] invzdev opened #6181 "Users randomly getting ExpiredTokenExceptions and 403s on API calls"
**Describe the bug**
We have a React Native app that uses Amplify via manual configuration. Auth is done via a Cognito User and Identity Pool and our APIs are currently just Lambda functions that the app users are permissioned to be able to call without any API Gateway in between.

We're sporadically seeing a lot of 403 ExpiredTokenExceptions from our users whenever their app tries to call any of

[2020-06-26 19:58] elorzafe commented on #6181
@invzdev how you are checking the token on the lambda function?

[2020-06-26 20:01] ashika01 commented on #6176
@jordanranz any thoughts? ^^

[2020-06-26 20:02] elorzafe commented on #6171
@balmacefa I will transfer this issue to Amplify CLI repo, they can this problem better than me.

[2020-06-26 20:05] ashika01 commented on #6174
@lorentzca Hi we are working on it right now...

For more info, there is a RFC here - https://github.com/aws-amplify/amplify-js/issues/6104

Any there is a PR out for review - https://github.com/aws-amplify/amplify-js/pull/6110

We would be doing more testing before we launch 🚀

[2020-06-26 20:08] elorzafe commented on #6162
@nubpro You see the warning but dont see the data?

[2020-06-26 20:17] nubpro commented on #6162
No data is received by the client, as stated in step 5.

[2020-06-26 20:22] elorzafe commented on #6159
I tried with the latest Auth version `3.2.14` and is working for me on Chrome and Firefox.

Are you sure your promise is not being reject because of `UsernameExistsException`?

Can you check the network response from the service ?

Do you have enabled Pre SignUp triggers on your userpool?

[2020-06-26 20:24] elorzafe commented on #6153
@nlindroos can you paste your `package.json` file?

[2020-06-26 20:29] elorzafe commented on #6138
@mpgo13 could be a chance `Time-based One-time Password` setting on the User Pool to be disabled?

[2020-06-26 21:02] mpgo13 commented on #6138
@elorzafe both TOTP and SMS are checked in AWS console.

![image](https://user-images.githubusercontent.com/1078584/85900921-ffabf300-b843-11ea-8319-5abfbac8995c.png)

here is my userpool config output from `aws cognito-idp describe-user-pool`:

[code]

[2020-06-26 21:02] invzdev commented on #6181
@elorzafe The 403 is coming from the Lambda control plane itself before it ever reaches my function. No lambda function invocation happens at all when we get the `ExpiredTokenException`. Not all of our Lambda functions do anything with the JWT token either. It's the IAM session credentials themselves that seem to be expired and not swapped out with the refreshed ones.

But to answer your question,

[2020-06-26 21:19] raelmiu commented on #3271
Hows the blogpost coming @janhesters ?

[2020-06-26 22:17] invzdev commented on #6181
Is this related to these other two issues maybe?

https://github.com/aws-amplify/amplify-js/issues/6123
https://github.com/aws-amplify/amplify-js/issues/4850

[2020-06-26 22:19] invzdev commented on #6181
We are effectively calling and awaiting the result of `Auth.currentSession()` before every API call with this approach. I would expect that to be forcing a credential refresh if they're expired, but it seems like the API client under the hood isn't using updated creds.

[2020-06-27 00:00] mdoesburg commented on #6162
I have also witnessed this timeout disconnect warning after closing my laptop while my app was still running on iOS Simulator. The only way to make the app/connectivity work again was a reload of the simulator or reboot of the app.

[2020-06-27 00:31] nubpro commented on #6162
The main problem is that in our productiom environment, we could not tell based on just looking at the app. We would only know when no new records are getting received by the device and this is not great, imagine missing out all the orders placed by your customers. We are losing money here and it impacts the business.

Is there a way that we could monitor the healthiness of the websocket connectio

[2020-06-27 05:13] jacdx commented on #3435
I think we need to hit up the Product team about this issue, we’re not
getting a response here. Anyone know of who that would be?

On Fri, Jun 26, 2020 at 10:29 AM Carlos <notifications@github.com> wrote:

[2020-06-27 06:10] nubpro commented on #6162
I would also like to add, if the app is in background mode for too long, the subscription will fail - `Datastore - Timeout Disconnect`.

Listening to the Datastore's networkStatus from Hub listener, is not useful in detecting a socket failure. It still shows active network despite the timeout disconnection.

Diving into the source code, the exact warning is thrown at [line 360 @ subscription.ts](h

[2020-06-27 09:51] metafounder commented on #1852
+1

[2020-06-27 10:42] tolivestone opened #6183 "Audio is not being captured while publishing Sumerian scene with Amplify"
I have implemented hands free solutions(followed steps given in the below link) in Sumerian and privately published via Amplify but it's not capturing audio. I see below error in console

AudioContext.js:36 The AudioContext was not allowed to start. It must be resumed (or created) after a user gesture on the page. https://goo.gl/7K7WLu

https://docs.sumerian.amazonaws.com/articles/hands-free-voice

[2020-06-27 16:24] #4828 closed

[2020-06-27 19:50] quorth0n commented on #5458
@Dawidpol's solution is required when deploying a Next.js project to Vercel

[2020-06-27 21:23] nguyenxndaidev commented on #1852
I would like to develop a mobile app using Flutter. I don't have time to care so much about backend.

The app requires these features:
* Authentication/Authorization
* Real-time/offline/cache/sync databases (allow to sync in background)
* Real-time/offline/cache/sync small to medium sized images/videos (allow to sync in background)

And like to have feature: GraphQL

My plan is to use Firebase and

[2020-06-27 22:44] mrgoos opened #6186 "CLI - cannot use my own domain in setting up OAuth flow"
**Describe the bug**
While creating an Auth category I'm doing the full walkthrough.
When I try to add my ouw domain I get an error.

**To Reproduce**
Run the wizard and in the step:
` What domain name prefix do you want to use?`
Type your own. I typed: `auth-dev.<My company domain>.com`

**Expected behavior**
To pass this step and have the domain created in aws-exports.

Instead I get:
[code]

**

[2020-06-28 00:39] #5856 closed

[2020-06-28 03:49] GantMan commented on #4643
I just ran into this issue as well.   Is there any update on how to get withAuthenticator to log out?

[2020-06-28 04:34] ananthananth commented on #1906
thanks. i tried both changes, it works now.

[2020-06-28 07:43] chantii opened #6189 "Override COUNTRY_DIAL_CODE_SUFFIX in AmplifySignUp component"
**Is your feature request related to a problem? Please describe.**
Looks like we +1 is the default countryDialCode in React AmplifySignUp component.

**Describe the solution you'd like**
Allow the Phone number form fields to override the countryDialCode

[2020-06-28 07:47] invzdev commented on #6181
As a stopgap measure, how can we forcibly make the client used by the Amplify `API.post` construct use refreshed credentials?

[2020-06-28 08:19] mynameisguy opened #6190 "Location Not Capture for Amplify Analytics in Pinpoint in React Native"
**Describe the bug**
When reporting events using Amplify Analytics Location is empty

**To Reproduce**
check any event reported from react-native using amplify analytics and check the location field.

**Expected behavior**
the location should be reported at least at a country level.

[2020-06-28 10:05] nlindroos commented on #6153
@elorzafe Sure, although the same info is available in the original post.

Relevant parts of package.json
[code]

[2020-06-28 10:06] taebox commented on #3435
I guess I wouldn't hold my breath. Cognito could put a band-aid on this by storing a unique identifier for each token that was 'invalidated'. It would be slightly antithetical to do with JWT as they are designed so that there is no need to have a database filled with sessions. Sessions sound like what you want, you will have full control over whether they are valid or not. There are plenty of solu

[2020-06-28 11:57] KOSSOKO commented on #473
@andrewheekin i'm having the same issue, did you find a solution ?

[2020-06-28 12:00] KOSSOKO commented on #5137
@nihp did you find a solution ?

[2020-06-28 14:34] AhmedMesawer opened #8023 "Update @aws-amplify/pushnotifiaction react native to support androidx library in android"
**Describe the bug**
When try to build release in android it gives me that build failed because of syntax error. that happens because @aws-amplify/pushnotifiaction android depends on deprecated v7 support library and react-native 60 and above uses androidx

**To Reproduce**
Steps to reproduce the behavior:
1. migrate @aws-amplify/pushnotifiaction to use androidx

 - OS: android 9
- react-natvie 60

[2020-06-28 15:13] karocksjoelee commented on #3435
Just a quick thought of workaround of this, if we write the same logic of sign-in with sign-out, the difference is sign-out doesn't return access token, refresh token, and id token.
When you sign-in again, the old token will invalid ( that's the same meaning of sign-out )

Any thoughts about this?

I would plan 100% drop off AWS Cognito in the near future of my application.
Still need to figure ou

[2020-06-28 15:15] muriloSanto commented on #3435
A response from AWS Technical Support

[code]

[2020-06-28 15:16] muriloneo commented on #3435
A reply from AWS Technical Support.

[code]

[2020-06-28 15:21] owenashurst commented on #3435
In that case this thread needs to be closed to stop the spam since it's now been verified that's it's being worked on internally. That work will be prioritized accordingly as you don't know if there's something more important that needs to be worked on first.  You can still use cognito and it doesn't break anything so it's not that big of an issue.

[2020-06-28 18:36] naripok commented on #4957
I also had some problems in may app that may be correlated to this issue:
- I have an App parameterized on its contents, like a site builder which uses pre-made components, fetching the component content from Origin.
- At the first visit, the app queries DataStore for the appID related to the visited domain, and then uses this appID to fetch the contents for the site /  components building.
The ma

[2020-06-28 19:27] jamesthesken commented on #728
Would using the PubSub API still give you the benefits that the device shadows offer?

I am trying to understand how this might work in an offline scenario. e.g if I wanted to view the most recent device shadow wouldn't I have to "wait" for the shadow to publish?

Thank you for any help @manueliglesias

[2020-06-28 20:36] mlafo commented on #5560
@cedricgrothues - I gave a try in eu-west-1 region.
It's fixed. Predictions works with private and protected Storage.
Thank a lot.

[2020-06-28 20:46] liebrand opened #6192 "HTTP 400 (MalformedXML) on Storage.vault.put on anything over a few mb"
I'm using
[code]

Which seems to work fine on anything of a few MB or so. But as soon as I try something of 10mb or more, it causes an HTTP 400 in the console (although oddly enough, the code returns as if everything is fine - e.g. it doesn't throw an exception).

Is this some multipart problem? If it's not supported, shouldn't it throw an exception? And if it's not supported, how do I upload anyt

[2020-06-28 20:52] cedricgrothues commented on #5560
Glad it works, thanks for giving it a try!

[2020-06-29 00:26] lukeburns opened #6193 "DataStore: copyOf does not validate drafts"
**Describe the bug**

The following throws an error as expected, using the [Post example](https://docs.amplify.aws/lib/datastore/getting-started/q/platform/js#sample-schema) in the docs.
[code]

I expect the following code to throw the same error, but it does not.
[code]

The following code successfully saves to Indexed DB locally, which propagates type errors when querying the local DataStore.
[c

[2020-06-29 00:55] lukeburns commented on #4515
DataStore also uses proxies, which are not supported in IE11. https://github.com/aws-amplify/amplify-js/blob/e85640a4e18fa1d55411038fee58919ad73121fa/packages/datastore/src/predicates/index.ts#L47

Proxies can't be fully polyfilled, so if IE11 support is a goal, predicate handling would have to be changed.

[2020-06-29 01:45] ProdigySim commented on #3435
This repo uses a stale bot to close issues. So, if we stop bumping the issue, it gets closed. I'd rather see the issue stay open personally, but I am not a maintainer.

[2020-06-29 04:11] lorentzca commented on #6174
Thank you for your reply!
I'm looking forward to it 😃

[2020-06-29 04:11] #6174 closed

[2020-06-29 04:44] aibrahim3546 commented on #4720
@manueliglesias Hi, This issue is still occuring for my react native app.

I don't have any hosted UI, I am using the federate sign in.

Here is my issue
- My user signin using google acc for firs time. He get to select an account.
- My user logout from app and want to sign in with another account. He can't, aws auto log in the user with prevs credentials.
- My user logout from both app and logout

[2020-06-29 07:12] tvb commented on #565
I'm struggling with this too still. I think we should ask the Cognito team to look into this, however I have no paid AWS Support subscription yet.

[2020-06-29 08:43] hakimio commented on #565
@tvb [They've known about this issue at lease since 2017](https://forums.aws.amazon.com/thread.jspa?threadID=267154#jive-message-819443) but they haven't done anything about it. They just don't seem to care.

[2020-06-29 08:51] tvb commented on #565
Uhh

But they do allow, just only for one IDP. If you link multiple it will break..

[2020-06-29 11:01] rennehir commented on #5318
@Spy-Seth have you heard more regarding the bug? I am also finding that the pre-authentication trigger is not called while using custom auth flow. This was the only thread I could on the topic so far.

[2020-06-29 11:33] IamFlowZ commented on #6159
1.) Not sure how to verify this.
2.) Network is responding with 200.
3.) No, our user pool doesn't have a pre-signup trigger.

[2020-06-29 11:34] svrcekmichal commented on #5435
@ericclemmons is somewhere available example repo where we can see what part of work is done and how to setup it all?

[2020-06-29 11:54] joshua1 commented on #1035
+1

[2020-06-29 12:44] Jobel91 commented on #5228
Hello @Ashish-Nanda ,

Thanks for your post. It was helpful for me.
I'm now able to social signIn on React Native with Android and **iOS**, following this [tutorial ](https://dev.to/dabit3/the-complete-react-native-guide-to-user-authentication-with-the-amplify-framework-ib2) of Nader Dabit.

For future user, be sure to enable deep linking on iOS by adding the code to your appDelegate.m, [here](htt

[2020-06-29 13:09] Jahans3 opened #6195 ""Invalid identity pool configuration. Check assigned IAM roles for this pool.""
**Describe the bug**
It appears the AWS SDK is not being configured correctly.

I was adding storage to my app but I kept getting 403 errors every time I tried to upload. After some digging I tried calling `Auth.currentUserCredentials`, which returns the following error:

[code]

In the console I have checked the IAM roles and user pool and they are configured correctly, so I assume the issue lies

[2020-06-29 13:16] Jahans3 commented on #6195
I've confirmed it's an issue with credentials not being properly applied by downgrading to 2.1.1, where I received a different error:

[code]

[2020-06-29 13:24] avlonder commented on #5903
On 3.0.18 as well

[2020-06-29 13:56] ASchwad opened #6196 "HTTP Request is not signed by library --> UNAUTHORIZED"
**Describe the bug**
When i am logged in the react-native app and make a request via the API Module to an endpoint (which is secured by cognito user groups authorizer) I get an 401 unauthorized error. When I manually read the token of the logged in User and provide it in the request options, the request is successful.
Is it even possible to use cognito user pools as authorizer in aws-amplify-js? A

[2020-06-29 14:49] kimuhjin commented on #1857
I Tried this code:

app.get('/<YOUR_PATH>', function (req, res) {
  var params = {
    TableName: tableName,
    Select: 'ALL_ATTRIBUTES',
  };
  dynamodb.scan(params, (err, data) => {
    if (err) {
      res.json({ error: 'Could not load items: ' + err.message });
    }
    res.json({
      data: data.Items.map(item => {
        return item;
      })
    });
  });
});

but data returned not in o

[2020-06-29 15:02] danilojpferreira commented on #3070
UP

[2020-06-29 15:18] ripley opened #6197 "Have Amplify work in chrome extension context."
**Is your feature request related to a problem? Please describe.**
It seems Amplify auth cannot work when being integrated with chrome extension, where normally the UI logic resides in content script (the auth happens), and the main App logic resides in background scripts (where the backend API got called), the two kinds of script cannot access a sharing localStorage.

IMO chrome extension should

[2020-06-29 15:25] sw-yx commented on #6197
thanks. just curious, does Firebase support this?

[2020-06-29 15:58] diegovincent commented on #1035
Public repository where the bug is reproduced. As soon as I manage to make it work, the results will be published here:

https://github.com/diegovincent/nativescript-aws-amplify-demo

[2020-06-29 15:58] mrgoos commented on #5935
OK, seems like I misunderstood how it's supposed to work.
I was surprised that Amplify immediately exchanging the tokens and it's by design.
Thanks.

[2020-06-29 16:02] praveshkhatana commented on #1035
You can try this

https://github.com/praveshkhatana/nativescript-iot/tree/master/demo

[2020-06-29 16:08] diegovincent commented on #1035
Does it work for Amplify v3+ with Angular 8?

[2020-06-29 16:11] praveshkhatana commented on #1035
Haven’t tried it with latest version. Will check and update you all.

[2020-06-29 16:16] mrgoos commented on #6107
Apparently it's by design and I misunderstood how it's supposed to work.
It seemed weird to me that the FE is getting the tokens after it gets the code...

[2020-06-29 16:16] #6107 closed

[2020-06-29 16:16] elorzafe commented on #6159
@IamFlowZ on the catch section can you check if an error is being thrown?

[2020-06-29 16:17] diegovincent commented on #1852
Any advice on how to do Data Store without AWS Amplify?

[2020-06-29 16:31] SunstroUS commented on #6159
@elorzafe Thank you, we had been checking for a set of predefined errors and had gotten a new one unrelated to auth library. Appreciate your help!

[2020-06-29 16:31] #6159 closed

[2020-06-29 16:51] dtelaroli commented on #5435
+1

[2020-06-29 17:11] dtelaroli commented on #4178
AppSync uses multiple auth type with different header.
I was trying use like this:

[code]

The cognito auth does not work if I send the X-Api-Key.
It's hard to configure multiples Apollo Client and I will use group auth to authorise the public data after login.
AppSync it's very discouraging sometimes.

[2020-06-29 17:26] jordanranz commented on #6176
@sam-webchef which version of `@aws-amplify/ui-react` are you using? Also the code sample you posted seems to have `slot="sign-in"` missing. Should be: `<AmplifySignIn slot="sign-in" hideSignUp={true} headerText="Sign in to the CRM" ></AmplifySignIn>`

[2020-06-29 17:27] jordanranz commented on #6097
Related to: https://github.com/aws-amplify/amplify-js/issues/6168

[2020-06-29 18:09] anuradhawick commented on #1395
Is it possible to initiate the social login protocol on a new tab and listen on Hub for the change of auth state? Thanks in advance

[2020-06-29 18:17] Amplifiyer commented on #6195
@Jahans3 just to confirm, you did run amplify push after adding auth and storage resources? If yes, can you paste your aws_exports.js file generated. (Obfuscate any sensitive information as needed).

[2020-06-29 18:21] Jahans3 commented on #6195
Yes, of course

Here's my aws-exports:

[code]

[2020-06-29 18:23] Amplifiyer commented on #6197
For any solution to work, wouldn't you need some sort of local storage that **can be** accessed from both places? Is `chrome.storage` not a viable options for that?

Since I don't have context on chrome extensions, can you expand on (Amplify works in this scenario by giving some config options without massive code change.), specifically what kind of config options or solution in Amplify would be r

[2020-06-29 18:33] ericclemmons commented on #5435
@adammanderson @svrcekmichal Unfortunately, not public yet! I'm addressing security concerns and don't want to risk code getting adopted without those addressed 😅

[2020-06-29 18:35] millarm opened #6198 "Amplify Datastore sync stops"
**Describe the bug**
Symptoms:

Amplify react native application that's is working reliably under test conditions, but when I use it for real it stops syncing.

It's an application that's for tracking location data, so testing requires getting up, and away from a desk!

Symptoms are:

App is working fine locally on device, but there is no sync to the backend from DataStore, so other clients don't

[2020-06-29 18:38] Amplifiyer commented on #6195
thanks @Jahans3, it looks related to https://github.com/aws-amplify/amplify-js/issues/3744
Check the amplify imports you are including, avoiding `@aws-amplify/core` and instead using 'aws-amplify' or check other solutions mentioned in the related issue. Let us know if one works.

[2020-06-29 18:46] millarm commented on #6198
More details - the root cause here appears to be the Segment model, and, at a wild guess... the JSON object in locations

This is... an array of locations, so is of variable size.

GraphQL request

[code]

Response
[code]

[2020-06-29 18:51] millarm commented on #6198
Notes:   the locations array is likely to be around 60 objects -> but could go as high as 150 objects.   It's dependent on how fast you are travelling.  :-)

[2020-06-29 18:57] millarm commented on #6198
And... Seem to have fixed this issue by following instructions here:

https://github.com/aws-amplify/amplify-js/pull/5181

Adding this:

    DataStore.configure({
      syncPageSize: 100,
  })

Seems to have worked around the current issue

[2020-06-29 19:03] liebrand commented on #6192
FYI - I think I've resolved this. The problem was that my s3 bucket did not have the etag exposed in it's CORS configuration. Simple fix, although amplify Storage could have provided a better error I s'pose

In serverless yml:
[code]

[2020-06-29 19:24] elliottower commented on #6145
I have gotten this same issue with trying to use analytics with auth, tried solutions from this thread (https://github.com/aws-amplify/amplify-js/issues/3484) and disabling analytics fixes it, but I would like to find a real fix.

[2020-06-29 19:28] Amplifiyer commented on #6198
thanks @millarm for confirming. Closing this since the issue is resolved for you.

[2020-06-29 19:28] #6198 closed

[2020-06-29 19:28] charleslouis commented on #5044
@enigmablue
Have you considered VOD with `amplify video` ?
https://codingcat.dev/lessons/aws-amplify-video/

[2020-06-29 19:41] Jahans3 commented on #6195
Thanks @Amplifiyer

I can confirm it's an issue with how `Amplify.configure` handles the `aws-exports.js` file. Hopefully we can get this issue resolved before long (I'm happy to help), will also save other people time if this is mentioned in the docs while a fix is being worked on.

I was able to workaround the issue by manually applying the properties from `aws-exports.js` to `Amplify.configure`

[2020-06-29 20:03] JohnAtFenestra commented on #6158
Adding this as documentation. I attempted to replicate this in a browser and stumbled across this CDN:

https://cdnjs.com/libraries/aws-amplify

Which supplies 3.0.19-unstable.6

This version did not generate the error I describe. I then replaced the src with 3.0.18 and the error showed up. The current node version is 3.0.18.

Is there a release schedule for the next version?

[2020-06-29 20:15] Jun711 commented on #469
@kimfucious
I see. In short, it is not totally done using Amplify then as it would involves sending a request if the account is linked.

[2020-06-29 20:58] invzdev commented on #6181
After further digging, it seems this was because the storage adapter expects the `syncPromise` value to be returned in the `sync` method, not just set. This wasn't explicitly stated anywhere, but the documentation example on the Amplify docs website at least added TypeScript types now, so that cleared some things up. Among other things, it seems the values being passed to `setItem` will always be

[2020-06-29 21:24] SwagMuffinMcYoloPants commented on #6176
I had the same issue too but I was on version 0.2.6 of `@aws-amplify/ui-react`...updating to 0.2.9 fixed my issue... @jordanranz 's code worked for me

[2020-06-29 23:18] Amplifiyer commented on #6192
@liebrand , thanks for reporting and identifying the issue. Can you try enabling the debug mode and let us know of all the logs you see?

[2020-06-29 23:22] Amplifiyer commented on #6195
@Jahans3 , is this instead of calling Amplify.configure() or are you calling Amplify.configure(manual overriden configuration) elsewhere, e.g. where you call Storage APIs?

[2020-06-29 23:29] Amplifiyer commented on #6175
@harshraj93, can you check the local storage of your browser (Dev console -> Application -> Storage) to see if the tokens are getting cleared or not? And when you get back to the signed in page/view, are you able to make any amplify calls successfully?

[2020-06-30 00:48] colinfindlay-nz commented on #3435
@owenashurst
Statements about the Cognito team working on issues are also no guarantee that the issue will be resolved in any sort of timeframe, or at all.
There are _many many_ basic features that aren't supported in Cognito (Removing custom attributes, password expiry etc) - that have "Been raised to the Cognito team and are being worked on internally" that are still undelivered after 4 years of

[2020-06-30 04:10] harshraj93 commented on #6175
The tokens are not stored in browser's local storage as the login authentication is managed by cloudfront itself. The authentication tokens are stored in cookies and they retain themselves when click on back button.
Additionally I am not sure whether this would be blocking the whole process as we get an additional following warning in chrome when the logout button is clicked:
**Cross-Origin Read B

[2020-06-30 04:27] mybluedog24 commented on #5303
You could just create an observable like AmplifyService:
https://github.com/aws-amplify/amplify-js/blob/e85640a4e18fa1d55411038fee58919ad73121fa/packages/aws-amplify-angular/src/providers/amplify.service.ts
For more info about Hub:
https://docs.amplify.aws/lib/utilities/hub/q/platform/js#working-with-the-api

Here is what I do:

app.module.ts:
[code]

in your auth service:
[code]

[2020-06-30 05:01] coleHafner commented on #2365
Just in case anyone is wondering, the best case to declare this file is to create a `types.d.ts` file in `src/`

[2020-06-30 05:52] ripley commented on #6197
I tried to add a TokensStorage with chrome.storage but it didn't work, looks like the **setItem** is never called. This is probably the way to go and I need to dig more, I didn't find anyone have done this though.

Ideally I'm expecting to pass a flag to Amplify.configure or Auth.configure to indicate it's gonna be working in chrome extension context and a workable storage scheme is selected autom

[2020-06-30 05:56] ripley commented on #6197
I never used firebase, but looks like there're quite a few articles discussing their integration, I guess it has better support.

[2020-06-30 07:20] owenashurst commented on #3435
Fair enough

On Tue, 30 Jun 2020, 01:48 colinfindlay-nz, <notifications@github.com>
wrote:

[2020-06-30 07:23] nihp commented on #6179
Yes ater confirm signup

[2020-06-30 11:02] Ivelraj1997 opened #6201 "Amplify Hub event not firing in cognito hosted UI- angular"
Amplify Hub event not firing in cognito hosted UI but cognito sign in work well.

package.json

  "aws-amplify": "^3.0.18",
 "@aws-amplify/ui-angular": "^0.2.9",

please look this.
![image](https://user-images.githubusercontent.com/37973269/86119153-f61ec700-ba9f-11ea-8d0c-1ee5b5dd6d50.png)

[2020-06-30 12:58] kannieWeesNie commented on #5961
@ashika01 any luck with resolving the problem?

[2020-06-30 13:01] Jahans3 commented on #6195
@Amplifiyer this is instead of calling `Amplify.configure`. It also works like this too:

[code]

[2020-06-30 13:22] ShahidIqbal452 commented on #2643
It worked for me.
Project Saver.

[2020-06-30 16:53] ErikHDev opened #6202 "Lots of warnings in Angular 9 CommonJS or AMD dependencies can cause optimization bailouts."
**Describe the bug**
Installing the latest version of @aws-amplify/ui-angular and aws-amplify causes many warnings in the console when adding authentication.

**To Reproduce**
Steps to reproduce the behavior:

1. Install latest version of Angular CLI. (Tried on Angular 9 and Angular 10)
2. Follow instructions from here https://docs.amplify.aws/start/getting-started/installation/q/integration/angul

[2020-06-30 17:01] Amplifiyer commented on #6201
@Ivelraj1997 can you provide your code where you are subscribing and listening to hub events.

[2020-06-30 17:16] Amplifiyer commented on #6202
These warnings seem to be red-herring and something angular introduced in version 10. See https://github.com/angular/angular-cli/issues/18057 and https://github.com/angular/angular-cli/issues/18058. We will follow these issues closely to see if there are any fixes we can add in the library to suppress them. For now it should be safe to use Amplify library even with the presence of these warnings.

[2020-06-30 17:18] SwagMuffinMcYoloPants commented on #3123
@IsaacTrevino , did you have the same problem as @julescsv or did you make a brand new function and not append to the existing admin queries api?

[2020-06-30 17:54] IsaacTrevino commented on #3123
@julescsv applies to my situation as well.

I was able to append to AdminQuery src files generated by amplify cli.  So I am now able to Create, Update, and Delete Users
by **adding** my own function to `app.js`, & `cognitoActions.js` **only**.

But I believe to @shaleenmundra issue was to switch between `USER POOLS` is why he mentions to update `AWS.config`, where as I have both Employee and Custo

[2020-06-30 17:58] nubpro opened #6203 "Can Datastore sync every offline changes of the same record to the server?"
**Is your feature request related to a problem? Please describe.**
In our use case, we would like keep track all the changes performed by the client during offline mode and sync all the changes back to the server when its back online.

1. Client is online and receives record A
2. Client goes offline
3. Client updates record A to _order accepted_ (offline)
4. Client updates record A to _order is be

[2020-06-30 18:05] alexandprivate commented on #6108
Hi there @manueliglesias any good news to share so far?

[2020-06-30 18:20] batical commented on #5539
When I wrote my previous message, I was getting amplify by package in react native
@aws-amplify/auth api and storage.

I switch to using aws-amplify full package (with latest version) and the issue seems to have disappear. (in release mode)

[2020-06-30 18:48] ohlr commented on #6190
The same happens for amplify within react (web). While all standard attributes are reported, location remains empty.

[2020-06-30 19:17] dlucatero opened #6204 "Datastore getDefaultAdapter fails, window is not defined"
**Describe the bug**
I have set up Datastore in a worker thread using ThreadsJS, any function call to DataStore (save, query) fails as window is not defined here:

https://github.com/aws-amplify/amplify-js/blob/38350d7e581d4341ca569ecea57988ff38779faf/packages/datastore/src/storage/adapter/getDefaultAdapter/index.ts#L4

globalThis.indexedDB is available in this context, would there be any concerns

[2020-06-30 20:15] Jun711 commented on #469
@kimfucious
I noticed that you use `Auth.signOut({ global: true });`. Could you tell me how to set up the scope for this?

I got this error when I used it for linked google account logout.
[code]
![Screen Shot 2020-06-30 at 1 12 35 PM](https://user-images.githubusercontent.com/6880939/86172707-ace86a80-bad3-11ea-8104-32907a241fab.png)

[2020-06-30 20:19] Jun711 commented on #5744
@ericclemmons
I tried to use `Auth.signOut({ global: true })` for a linked google account logout but I got this error from `https://cognito-idp.us-east-1.amazonaws.com/` request.

[code]
![Screen Shot 2020-06-30 at 1 12 35 PM](https://user-images.githubusercontent.com/6880939/86172707-ace86a80-bad3-11ea-8104-32907a241fab.png)

Could you tell me how to set up the scope for this?

This is what I hav

[2020-06-30 21:18] hagaigold commented on #5758
@pnm563 upgrade node (to 12.8.2) helped for me

[2020-07-01 01:55] Amplifiyer commented on #6196
@ASchwad, let me know if you have already tried this https://docs.amplify.aws/lib/restapi/authz/q/platform/js#cognito-user-pools-authorization and the issues you faced with this?

[2020-07-01 02:15] Amplifiyer commented on #6179
You can use cognito's lambda triggers to achieve that. Please see https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-lambda-post-confirmation.html which also have an example for this use case.

[2020-07-01 02:15] #6179 closed

[2020-07-01 02:26] Amplifiyer commented on #6157
`Storage.get()` without `download:true` doesn't actually make a request. It just provides a presigned URL that you can load to get the file. This signed URL can also be parsed to capture the request headers generated by Amplify using SIG_V4. However again note that no service calls are made.

With `download:true` the file is downloaded by the Amplify itself and given to the client. The file is of

[2020-07-01 02:26] #6157 closed

[2020-07-01 04:00] purushottam858 opened #6205 "Aws amplify with kivy"
I am new to aws services, I want to use aws amplify as backend for kivy application (python framework).
I didn't find any information how to do it?
Does aws amplify support only JavaScript Frameworks ?

[2020-07-01 06:47] jiwabob commented on #987
Is the below what Option 2 looks like?  If so, we're still haing the same issue:

![image](https://user-images.githubusercontent.com/49421256/86211949-c3f98c00-bba9-11ea-8c4c-c9e0b1d3075e.png)

[2020-07-01 07:15] Spy-Seth commented on #5318
@reedyrm We have no news about this bug. We are waiting to see if this bug is resolved

@elorzafe I miss your message sorry.
We a are looking to inject validation data (a token in our case) in the login process to be able to open the passwordless link in another device than the one than generate it: start to use you mobile, check your mail on the desktop and click on it, and get back back to the s

[2020-07-01 07:21] ohlr opened #6206 "Add auto track session duration"
**Is your feature request related to a problem? Please describe.**
https://stackoverflow.com/questions/42355311/pinpoint-session-duration

Pinpoint does not support session duration.

**Describe the solution you'd like**
I wonder if it is possible to compute the session duration client side using the [autotrack functionality ](https://docs.amplify.aws/lib/analytics/autotrack/q/platform/js)

[2020-07-01 07:47] Ivelraj1997 commented on #6201
![image](https://user-images.githubusercontent.com/37973269/86217427-751e0900-bb4d-11ea-8b9d-164e201c7761.png)

[2020-07-01 08:04] mspoulsen commented on #6072
Yeah, it is really annoying :roll_eyes:

[2020-07-01 08:21] mspoulsen commented on #6072
I wrote the AWS support team and they send me the solution:

In order to troubleshoot the issue, I did some research on my end and:
1. I came across this GitHub notice [1] which mentions that Amplify @3.x.x has some breaking changes.
2. I found out that for using aws-amplify-react's Authenticator Component, you will need to import the styles within your application . Please import the following li

[2020-07-01 08:42] mspoulsen commented on #6072
I use `onAuthUIStateChange` from ```@aws-amplify/ui-components``` instead.

[2020-07-01 09:18] ohlr opened #6208 "Analytics autoTrack "event" fails with Gatsby (SSR)"
**Describe the bug**
following this setup: https://docs.amplify.aws/lib/analytics/autotrack/q/platform/js#page-event-tracking

while Analytics.autoTrack("pageView") and Analytics.autoTrack("session") work fine with Gatsbys Server Side rendering (SSR)

Adding Analytics.autoTrack("event") produces the following error during production builds:

[code]
In development mode everything works fine.
I gues

[2020-07-01 11:24] avlonder commented on #4562
Same issue here (on Android device)

[2020-07-01 11:43] dylan-westbury commented on #1094
Very critical part missing from documentation.

**IF YOUR APPLICATION HAS COGNITO GROUPS (AKA LOGGED IN USER IS PART OF A GROUP)**
You also need to add the bucket to the IAM roles for **the group**

[2020-07-01 12:04] dylan-westbury commented on #329
1 year and 1 week ago I was commenting on this issue, today I have stopped by again, I have some more comments to add for the value in having support for multiple S3 buckets.

We are building a new project that uses React Native to upload videos that users record. Videos the size of about 50mbs were taking well **over 5 minutes to upload** From ap-southeast-2 (Sydney) to us-east-1 (North Virginia)

[2020-07-01 12:24] kimfucious commented on #469
Hi @Ladvace,

That code block is from a lambda using AWS SDK for Node.js.

In this case, `cognito` is a variable assigned to the `CognitoIdentityServiceProvider`.  You can name it anything you want, really, when declaring it.

This can be configured like the below in the lambda function:

[code]
I hope that helps.

[2020-07-01 12:34] kimfucious commented on #469
Hi @Jun711,

I've never come across that error, and I've not done anything (intentionally) to affect the scopes.

I believe this is referring to the settings found in User Pool => App Client Settings => OAuth 2.0 => Allowed OAuth Scopes.

In my case, related to the examples I've shared prior, these are all checked (phone, email. openid, aws.cognito.signin.user.admin, and profile), and these have b

[2020-07-01 13:19] shide1989 commented on #5036
Same error here on Amplify JS

[2020-07-01 13:20] shide1989 commented on #6172
Having the same error with "@aws-amplify/auth": "^3.2.4", but with an External OIDC Provider

[2020-07-01 14:24] noahking27 commented on #3591
+1

[2020-07-01 14:49] ehtulhaq commented on #6069
Since i had business logic that was being called many times my workaround was to move the business logic out from Hub.listen and add another middle layer where my business logic gets executed. Sign in event in Hub.listen would redirect the user to the middle layer where my business logic gets executed and which then redirects to the appropriate screen.

[2020-07-01 15:25] clintfoster commented on #987
@jiwabob If you're still having the issue with Option 2, I wonder if it's a different problem?

Consider this **Option 1** example:

- Username: `NedFlanders` (or could be something like a generated UUID)
- Email alias: `ned@flanders.net`

To reproduce the specific problem described here, you would change the email address and fail to confirm it in time. Now you can't sign in with either the old o

[2020-07-01 15:37] egyangel commented on #5019
+1

[2020-07-01 16:03] monscamus opened #6209 "Cannot get guest credentials when mandatory signin enabled - Cognito and Encryption SDK+KMS"
**Describe the bug**
I am using Cognito and Amplify to authenticate users into my React application. I want to use the Javascript Encryption SDK [](https://www.npmjs.com/package/@aws-crypto/client-browser) which requires that the IAM Key and Secret credentials be passed to it. To get those I'm calling currentUserCredentials after my user has definitely logged in using withAuthenticator. The call t

[2020-07-01 16:13] monscamus commented on #6209
Ah - here's how the Encryption SDK wants to be called:

[](https://github.com/aws/aws-encryption-sdk-javascript/tree/master/modules/client-browser)

[2020-07-01 16:51] avlonder opened #6210 "oauth invalid_client error after redirecting from apple sign in"
**Describe the bug**
My react-native app has an Apple login button whose onPress fires Auth.federatedSignIn({'SignInWithApple'}).
It opens the browser. I insert my apple ID and password, and follow the remainder of Apple's login flow. Right after redirection, my app crashes with the oauth error "invalid_client". The Hub listener also finds this error.

**To Reproduce**
I literally followed Nader D

[2020-07-01 17:18] nckswt commented on #5957
Just wanted to note that this is a bug we currently have to work around.

I manually updated my `package-lock.json` to bump `react-native-elements` to `2.0.4` and no longer experienced the `Module not found: Can't resolve 'react-native-web/dist/exports/ViewPropTypes'` error I'd been experiencing:

[code]

Would it be helpful if I provided a PR with a version bump of `react-native-elements`?

[2020-07-01 17:19] jordanranz commented on #6176
@sam-webchef, let me know if this solution works for you

[2020-07-01 17:36] Amplifiyer commented on #6208
@ohlr, as you correctly pointed out, SSR is currently not officially supported. I will mark this as a feature request and work along with #5435. cc @ericclemmons

[2020-07-01 17:44] witalobenicio commented on #5918
And what to do if you use Analytics?? (which is my case)

[2020-07-01 17:52] Amplifiyer commented on #6209
@monscamus, can you [enable ](https://docs.amplify.aws/lib/utilities/logger/q/platform/js#setting-logging-levels)debug logs and paste here all the logs resulted from `Auth.currentCredentials()` call? Also I believe you should be calling `currentCredentials` instead of `currentUserCredentials` which gets called automatically if there are no cached credentials.

My suspicion is that getting the sess

[2020-07-01 17:57] Amplifiyer commented on #6205
@purushottam858, Amplify currently supports Javascript client side frameworks and native iOS and Android frameworks only https://docs.amplify.aws/ and currently there is no plan to support kivy.

[2020-07-01 17:57] #6205 closed

[2020-07-01 18:23] ikakara commented on #5957
please,  I tried the following (w/o success):

    "aws-amplify-react-native": {
      "version": "4.1.2",
      "resolved": "https://registry.npmjs.org/aws-amplify-react-native/-/aws-amplify-react-native-4.1.2.tgz",
      "integrity": "sha512-PBbxgqcICtsS8p92MZjTePdyZlrSj14xn7Apm7Z4vJtzXyhzgXPuwowFvXwoP/C+o41fqZj7ke3tv2i3n9Gxjw==",
      "requires": {
        "babel-preset-es2015": "^6.24.1",

[2020-07-01 18:30] ashika01 commented on #5918
@witalobenicio Ideally you shouldn't see the error if use analytics.. If you do see it then, then there is something you are missing while configuring Analytics

[2020-07-01 18:38] ikakara commented on #5957
I'm an idiot ... this works for me

"aws-amplify-react-native": {
      "version": "4.2.1",
      "resolved": "https://registry.npmjs.org/aws-amplify-react-native/-/aws-amplify-react-native-4.2.1.tgz",
      "integrity": "sha512-J08OL5f8irWPDYbcgUYTS/cmNBBmHgf4hpmNvqGDJdcXpSIbnRR+nFQQXDVkvyJ5UJQnfgMpUXpBEASfSMBUow==",
      "requires": {
        "babel-preset-es2015": "^6.24.1",
        "buffer":

[2020-07-01 18:39] ikakara commented on #5957
I'll test some more ... thanks Nick!

[2020-07-01 18:42] ArionMiles commented on #4441
`Amplify.configure(awsconfig);`

should be in your `index.js` file, not `App.js`

[2020-07-01 19:21] ikakara commented on #5957
i created a branch https://github.com/ikakara/expo-amplify-bug/tree/workaround

The bug can be found here: https://github.com/ikakara/expo-amplify-bug/tags

[2020-07-01 19:29] nckswt commented on #5957
To be clear, that workaround's a hack and would only allow things to work if you install `node_modules` from the `package-lock.json` directly (`npm ci` instead of `npm i`).

The proper fix (unless it breaks testing, which I haven't looked at) would be to change the [package.json](https://github.com/aws-amplify/amplify-js/blob/main/packages/aws-amplify-react-native/package.json#L32) from `"react-na

[2020-07-01 19:45] ikakara commented on #5957
Sometimes a hack is better than nothing.  Thanks for finding it.

I imagine there are dependencies for react-native-elements@0.19.1 in other aws packages which will need to be tested against too.  It's not a trivial change (I'm guessing) ... so I wait patiently

[2020-07-01 21:03] rudyhadoux commented on #3474
Hi,

Maybe with scully.io ?

[2020-07-01 21:08] clintfoster commented on #3679
I believe this ticket should be re-opened per the original description, which is slightly different than the last comment above. Steps to repro:

1. Sign up
2. Do not confirm email
3. Try to sign in
4. Expected: Some kind of specific error like `UserNotConfirmedException`
5. Actual: `UserNotFoundException `

This leaves the client app no way to distinguish between a user trying to sign in who neve

[2020-07-01 21:36] clintfoster commented on #3679
@Amplifiyer in similar issue https://github.com/aws-amplify/amplify-js/issues/4307 you indicated `UserNotConfirmedException` should be returned when the user attempts to sign into an unconfirmed account. In that issue the question was whether it should be returned both for correct & incorrect password. In our case we are getting `UserNotFoundException ` instead of `UserNotConfirmedException` eithe

[2020-07-01 21:45] Amplifiyer commented on #6197
By passing the flag, Amplify (or any other library) would have to figure out a storage scheme that works in exactly this context. Rather, Amplify takes a more generic approach and let users provide their own storage implementations. Amplify library doesn't make assumptions on how custom storage should be implemented and if provided, skips local storage.

This may be related to [supporting SSR](htt

[2020-07-01 21:51] Amplifiyer commented on #3679
@clintfoster, are you seeing this exception in latest amplify-js library? If yes, please create a new issue for us. For issues with `aws-sdk-ios 2.13.4` sdk please cut an issue here https://github.com/aws-amplify/aws-sdk-ios/issues

[2020-07-01 23:01] Amplifiyer commented on #6190
@ohlr and @mynameisguy, how are you adding the location information, in the default config while configure Analytics https://docs.amplify.aws/lib/analytics/getting-started/q/platform/js#set-up-existing-analytics-backend or while updating the end point https://docs.amplify.aws/lib/analytics/getting-started/q/platform/js#update-endpoint

Do you see the location information being present in the http

[2020-07-01 23:30] clintfoster opened #6212 "Cognito: Email alias should return UserNotConfirmedException"
Whether signing in with **username** or **email alias**, `UserNotConfirmedException` should be returned if the confirmation code hasn't been entered yet.

**To Reproduce**

1. Set up user pool w/ [Option 1](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-settings-attributes.html#user-pool-settings-aliases-settings-option-1) (email _alias_ instead of email _username_)
1. Sign up

[2020-07-01 23:56] elorzafe commented on #6123
@myspivey just to be clear, you are doing social federation with Cognito User Pools right?

[2020-07-02 00:39] elorzafe commented on #6123
@myspivey how did you configure Auth0 as OpenID provider on Cognito UserPool?

[2020-07-02 00:44] myspivey commented on #6123
It is setup through SAML not OpenID.

[2020-07-02 01:09] bneigher commented on #5903
version 3 has been out for several months and I still can't upgrade from aws-amplify 2.3.0 because of the terrible support for react-native.  what's going on with this library guys.

- can't use network inspect in RND
- 403 errors on endpoint PUT requests
- can't read / write to private s3 with storage.

Is there a v2 to v3 upgrade that I missed?  or is everyone else also not using v3 yet...

[2020-07-02 02:12] aprilmintacpineda commented on #563
For anyone still having trouble with this https://www.npmjs.com/package/amazon-cognito-identity-js#install-for-react-native

[2020-07-02 02:23] aprilmintacpineda opened #6213 "Auth.signIn should throw code InvalidParameterException when email/password is empty"
**Is your feature request related to a problem? Please describe.**

Currently, when you call `Auth.signIn(email, password)` with the password being empty, it will throw an error:

[code]

But calling it with the `email` empty throws a completely different error that says: `[ERROR] 22:19.549 AuthError - Username cannot be empty`, for consistency's sake, I think it makes sense to just throw `Invalid

[2020-07-02 03:01] v1pz3n commented on #5926
Here I am also experiencing the same problem.
If I insert through react it updates locally and registers in DynamoDB through DataStore.save ()

If I do this directly through AppSync it does not sync with the device.

[2020-07-02 03:33] v1pz3n commented on #5290
Here I am also having the same problem but with a slightly different rule

type Idea @model @auth (rules: [{allow: owner}])

Amplify CLI: 4.21.3
Datastore: 2.2.4

[2020-07-02 04:22] hashamhabib commented on #4580
Any update on following issue.

react native = 0.61.4
aws amplify = ^2.2.5

Error:

`Invalid+user+attributes%3A+name%3A+The+attribute+is+required%0Aemail%3A+The+attribute+is+required%0A+`

 Hub.listen('auth', async ({ payload: { event, data, message } }) => {

event = [signIn_failure] message= The OAuth response flow failed
event = [cognitoHostedUI_failure] message= A failure occurred when returni

[2020-07-02 07:36] #5652 closed

[2020-07-02 07:40] ohlr commented on #6190
My setup:
https://docs.amplify.aws/lib/analytics/getting-started/q/platform/js#configure-your-app
https://docs.amplify.aws/lib/analytics/autotrack/q/platform/js#session-tracking

[code]
![image](https://user-images.githubusercontent.com/26937880/86330377-e510ba00-bc47-11ea-9bf8-88e39889f065.png)

[2020-07-02 08:11] mynameisguy commented on #6190
I'm not adding the location information manually. Should I?

[2020-07-02 09:06] nihp commented on #5918
Again I am facing the same error. But now I didn't have any solution.

After adding analytics true it worked and after two days we again faced the same error. Now I didn't have any solution for this., but still facing the same

[2020-07-02 09:25] jiwabob commented on #987
@clintfoster What we've seen is that if the user changes their email address (which IS the username as you say), but doesn't confirm it, their email is updated, and they are able to log in with the new email address regardless of the new email's confirmation status.  This becomes an issue if the user entered the _wrong_ email address, as they would no longer be able to log in.   What I believe sho

[2020-07-02 09:38] KwFung7 commented on #4515
I am using latest version, but the arrow function in amplify still crash my whole app in IE 11,
when can it be fix ?

[2020-07-02 09:40] madhavhambar opened #6216 "Custom message on login or signup failure and validation"
Angular 9, amplify ui
No option for changing the message text on any failure or at validation

[2020-07-02 10:01] KwFung7 commented on #4515
I got same issue with @masbaehr, I must use amplify to connect to aws, but my client request browser support on IE as well

[2020-07-02 10:06] joetancy commented on #4699
You probably have Prevent User Existence Errors turned to Enabled.
Read more about it here
https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pool-managing-errors.html

change it to legacy if you want Cognito to throw an error if its not found.

[2020-07-02 10:52] monscamus commented on #6209
ConsoleLogger.ts:99 [DEBUG] 48:23.983 GraphQLAPI - configure GraphQL API {opt: {…}}
ConsoleLogger.ts:91 [DEBUG] 48:23.983 GraphQLAPI - create Rest instance
ConsoleLogger.ts:99 [DEBUG] 48:23.984 RestClient - API Options {aws_project_region: "eu-west-2", region: "eu-west-2", header: {…}, Auth: {…}, endpoints: Array(3)}
ConsoleLogger.ts:99 [DEBUG] 48:23.984 Interactions - configure Interactions {opt:

[2020-07-02 10:55] purushottam858 commented on #6205
Is there any other possible way to make use of amplify services with python 3 or aws console ?

[2020-07-02 11:04] monscamus commented on #6209
Altered as you suggest to currentCredentials rather than currentUserCredentials with the same effect:

edentials from session
ConsoleLogger.ts:91 [DEBUG] 03:57.958 Credentials - No Cognito Federated Identity pool provided
ConsoleLogger.ts:99 [DEBUG] 03:58.7 AuthClass - getting session failed No Cognito Federated Identity pool provided
ConsoleLogger.ts:91 [DEBUG] 03:58.11 Credentials - setting cred

[2020-07-02 11:06] monscamus commented on #6209
My user pool has no associated identity pool - is that required to have IAM credentials?

[2020-07-02 12:05] monscamus commented on #6209
Ah ok - this scenario explained it to me: https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-scenarios.html#scenario-aws-and-user-pool

Feel free to close this issue - I guess maybe the error code could be better worded but the Logger output that you suggested was fairly definitive.

[2020-07-02 12:10] avlonder commented on #6210
-- resolved --

I restarted from a clean stack and now it works. No idea why.

[2020-07-02 12:55] raywhiteside commented on #1852
+1, would love to hear more about even a super rough timeline (1 month, 6 months, 1 year?) for planning reasons.

[2020-07-02 15:12] mdegrees commented on #5435
@ericclemmons is there any hack to go around this issue https://github.com/aws-amplify/amplify-js/issues/5101 while waiting for this milestone to complete. I want to use Datastore with Next js in a not SSR way for the time being.  Then go SSR when it's fully supported.

[2020-07-02 15:31] yonimor commented on #1316
Any updates?

[2020-07-02 15:38] Ashish-Nanda commented on #5228
@Jobel91 Glad to know that the post was helpful and you were able to get it working.

Closing this issue as the solution above has been validated, and the docs have been updated with the relevant examples: https://docs.amplify.aws/lib/auth/social/q/platform/js#full-samples

[2020-07-02 15:38] #5228 closed

[2020-07-02 15:44] clintfoster commented on #987
@jiwabob If I'm understanding correctly there seems to be a pattern here with both Option 1 (email is _alias_ for username) and Option 2 (email _is_ username): Allowing an email address change to proceed in any way on the service side before the user has confirmed it is a bad idea. This harkens back to my earlier quote from @timwhunt:

Thinking like a programmer, I'm guessing the original service

[2020-07-02 15:46] svrcekmichal commented on #5435
@ericclemmons ok, no pressure, thanks for all the time you put into this :)

[2020-07-02 16:40] witalobenicio commented on #5918
@ashika01 My error is just on ReactNative. On ReactJS (web) it works.

[2020-07-02 16:51] opmftw commented on #987
Same issue as @jiwabob.

1. Using **Email address**  as the **username**  for sign up and sign in.
2. Email verification is required in the user pool.
3. The user requests an Email change, but doesn't verify the new email with the code.
4. The new email is already updated in the users attributes in the user pool, even though it wasn't verified.
5. If the user logs out they can only log in with the

[2020-07-02 18:36] jordanranz commented on #6176
Going close this for now since there is a solution and workaround

[2020-07-02 18:36] #6176 closed

[2020-07-02 18:56] Amplifiyer commented on #6209
thanks @monscamus for providing the solution, will help other folks. Closing this.

[2020-07-02 18:56] #6209 closed

[2020-07-02 18:58] #6210 closed

[2020-07-02 19:37] ASchwad commented on #6196
@Amplifiyer thanks for your answer. This is exactly how i resolved the issue. But i was not sure if it was the default behaviour or an error on my side. I've read about [auto signing of requests](https://github.com/aws-amplify/amplify-js/blob/main/README.md#3-sign-http-requests) and got confused.

I am figuring, why is auto signing possible with IAM Authorizer but not Cognito User Groups? I was ho

[2020-07-02 19:42] rvit34 commented on #3435
What do you think about this workaround? - https://forums.aws.amazon.com/thread.jspa?messageID=879594

[2020-07-02 19:55] Jun711 commented on #469
Thanks @kimfucious I will look into it more.

My app client has all scopes but phone checked.
https://github.com/aws-amplify/amplify-js/issues/5744#issuecomment-652021202

[2020-07-02 20:09] Amplifiyer commented on #6205
Unfortunately no. You would have to use aws-sdk for python I believe https://aws.amazon.com/sdk-for-python/

[2020-07-02 20:41] Amplifiyer commented on #6190
yes, the location is supposed to be provided by the user, either in the `udpateEndPoint()` API's attributes or while configuring Amplify or Analytics category. I have provided the link for both in my previous comment.

Code for reference:
https://github.com/aws-amplify/amplify-js/blob/a75e9c30348d4230fb3649e099c531f4521b3191/packages/analytics/src/Providers/AWSPinpointProvider.ts#L752-L755
and wha

[2020-07-02 20:41] #6190 closed

[2020-07-02 20:56] Amplifiyer commented on #6175
@harshraj93, thanks for providing additional details. I don't have a way to sign up in your hosted app so can't reproduce. Let me know if there is a way for me to get an account or reproduce it in another way.

Also just wanted to ensure that oauth.domain in the config your provided earlier is just a typo in this issue but not actually in your app since your app works fine in other browsers.

[2020-07-02 21:01] Amplifiyer commented on #6196
That's just an architecture decision in Amplify. Amplify library provides defaults for most common use cases or opinionated approach while simultaneously providing escape hatches to allow more complex or less frequent use cases. Closing this since your issue is resolved.

[2020-07-02 21:01] #6196 closed

[2020-07-02 21:35] ohlr commented on #6190
@Amplifiyer Google Analytics as far as I know provides user location based on ip address... I wonder why a paid service like pinpoint/amplify does not provide that

[2020-07-02 23:54] Amplifiyer commented on #6201
@Ivelraj1997 thanks for the code snippet. The event name when sign in happens through hosted UI is "cognitoHostedUI", see https://github.com/aws-amplify/amplify-js/blob/8dd92959fbe11c328ec4f8e467c0929ed1e7e5ca/packages/auth/src/Auth.ts#L1917-L1926 and the example here https://docs.amplify.aws/lib/auth/social/q/platform/js#full-samples

[2020-07-02 23:54] #6201 closed

[2020-07-03 00:34] TheVaporTrail opened #6220 "AccessDeniedException on DynamoDB and S3 calls with Auth.federatedSignIn only after upgrading to Amplify 3.0.18 from 1.1.10"
**Describe the bug**
I recently upgraded the libraries in my project from Amplify 1.1.10 to 3.0.18. I am now getting AccessDeniedException with federated logins only (Google). I do not have the issue with non-federated logins. I am currently only testing with localhost. (I am not using React or Angular or any other frameworks.)

AccessDeniedException: User: arn:aws:sts::XXXXXXX:assumed-role/polygo

[2020-07-03 01:25] Amplifiyer commented on #6220
I believe the issue is with the following lines if you are relying on that to be available.
[code]

With Amplify major version V3, AWS.config global namespace doesn't exist anymore, please see https://github.com/aws-amplify/amplify-js/#amplify3xx-has-breaking-changes-please-see-the-breaking-changes-below

If the above is not related to your issue, please turn on the debug logs and paste the logs h

[2020-07-03 02:05] TheVaporTrail commented on #6220
@Amplifiyer, thank you very much for your quick response.

Any guidance on how to correctly use Auth.federatedSignIn in Amplify 3.x.x (as compared to 1.x.x)? Should I still be using that call or are federated logins handled differently now?

[2020-07-03 04:45] elorzafe commented on #4850
@escar I just tried with Amplify latest version and it works after one hour.

It refreshed the token and got new credentials.

Is this for signed in users or also unauthenticated users?

The code snippet I tried was this. I tried with an authenticated user and I federated using Cognito Hosted UI with Google login.

[code]

This is my `aws-exports.js` file

[code]

[2020-07-03 05:41] ohlr commented on #6190
Besides seeing this as a feature request I would also appreciate if the docs could be updated with respect to what is captured automatically and what not.
Knowing in advance that features such as location / session duration are not supported yet would improve comparability to other frameworks out there

[2020-07-03 07:00] harshraj93 commented on #6175
I have masked the oauth.domain in the details above and the actual domain works fine. **Ben Eichrost** and **Scott Francis** are contacts from AWS team who will be able to provide access or we can connect over Zoom to discuss this issue

[2020-07-03 08:04] zilurrane commented on #928
+1

[2020-07-03 08:50] ohlr opened #6222 "Spam protection / Recaptcha"
I see Amplify/pinpoint as competitor to Googles Firebase/analytics.

The only google service I still rely on is Google Recaptcha.
And I would love to get rid of it for privacy purposes.

It would be great if AWS / Amplify could build a competing service in that field that integrates seamlessly into Amplify.

[2020-07-03 09:26] mdegrees commented on #5101
Here is a hack that worked for me:

instead of this:
`` import { Post } from "src/models" ``
Do this:
[code]

[2020-07-03 10:35] ripley commented on #6197
I successfully replaced local storage with chrome.storage.local API and it works great in content script alone. Problem now is content script and background script are so separated that the MyStorage instance (get the name from this guide: https://docs.amplify.aws/lib/auth/manageusers/q/platform/js#managing-security-tokens) in both places are not syncing dataMemory properly.

The MyStorage in back

[2020-07-03 12:57] witalobenicio commented on #5918
This error happens if I use `@aws-amplify/analytics` and `@aws-amplify/core`. When I use just `import Amplify from 'aws-amplify';` it works.

The problem is that this package is a waaaay huge to just use it for analytics.

Can we have a solution?

[2020-07-03 13:45] andreialecu commented on #4542
Is it possible to refresh the "refresh token" without forcing the user to re-enter the credentials?

Did you find a workaround @oriharel ?

[2020-07-03 18:23] Amplifiyer commented on #6220
Everything remains the same except that there is no AWS.global namespace available for storing credentials. The only other issue I can see is that `Auth.federatedSignIn()` resolves before (it's a race condition) the credentials are made available and hence calling `Auth.currentAuthenticatedUser()` right after resolving `Auth.federatedSignIn()` may not work. The correct way (which is not a breaking

[2020-07-03 18:42] chantii opened #6224 "Phone number sign in error"
**Describe the bug**
Trying to customize the sign up and sign in with phone number with below auth configuration. This renders the appropriate forms and works well for happy cases. But if we click on the sign in button without entering the phone number, there is a an error in validation and state is not being handled.

[code]

**To Reproduce**
See above.

**Expected behavior**
Handle the validatio

[2020-07-04 03:59] #5332 closed

[2020-07-04 05:05] ajitgoel opened #6225 "Local Machine: No plugin found in Storage for the provider, Production: 403 error"
I am trying to upload a user's private file to AWS storage and I am facing 2 issues,
a. Storage.put throws a `Uncaught (in promise) No plugin found in Storage for the provider` on my local machine
b.. when I publish the application to aws, I get a `r[a].trim is not a function, the server responded with a status of 403 (Forbidden)`.
I am using "@aws-amplify/storage": "^3.1.9", "@aws-amplify/ui-vue"

[2020-07-04 06:31] RobertUpchurch opened #6226 "Continuous Deployment with Azure Repos"
**Is your feature request related to a problem? Please describe.**
Our company has moved to using Azure DevOps mainly for the Azure Boards and Azure Pipeline features. To keep things simple we have started to migrate our Github repos to Azure Repos. Many of our applications are using AWS Amplify and CD with Amplify console through Github. We are investigating and finding no clear way to connect th

[2020-07-04 09:47] Rafcin opened #6227 "Cognito and IAM 401 or not called."
The issue is I have created a schema that utilizes cognito groups and IAM. I wanted to use IAM for general read access and cognito to allow specific users to perform action such as creating posts etc.

My current model uses the following auth.
[code]

The problem I run into is, I can't user Cognito and IAM. If try to set the authmode by doing
``` Auth.currentAuthenticatedUser ? "COGNITO..." : "IAM

[2020-07-04 15:43] krikork commented on #5091
I was getting this problem when adding storage. What fixed it for me is upgrading Node to the latest version.

[2020-07-04 16:59] #5913 closed

[2020-07-04 17:03] krakrak commented on #3541
Hello, I'm  having the same issue, even when testing with the AWS Appsync console. In the logs $context.arguments doesn't have the values that are removed in the request template

[2020-07-04 18:21] anuradhawick commented on #3399
I am still getting this error in Angular JS with the latest amplify (I got this in v2 also).
<img width="404" alt="Screen Shot 2020-07-05 at 4 18 05 am" src="https://user-images.githubusercontent.com/9621844/86518693-9bf27d00-be76-11ea-95e1-0b9aa008ded9.png">

However, this only happen in the first attempt. The failing network request has the following params;
[code]

The successful token request

[2020-07-04 22:15] Rafcin commented on #6227
It seems this issue is actually the result of guest credentials not generating for guest users. I looked at a few of my project and they all log credentials for guest users except for this project even though I have the unauthorized credentials active in cognito.

[2020-07-05 01:11] sam-webchef commented on #6176
@jordanranz, I'm sorry for the late reply. Yes, the solution worked. Thanks, guys.

[2020-07-05 03:10] danrivett commented on #5729
@kaustavghosh06 thanks for your detailed reply a few weeks ago. I did read it, but needed to digest it more and then 2 other projects I'm involved in decided to take my time away, so only just circling back to this issue.

I've just re-read your comments. The last part about the comparison between Auth permissions vs Storage permissions makes sense to me as they use different constructs with the l

[2020-07-05 03:26] soumickdasgupta-loyaltapp opened #6231 "Amplify function won't build in Python framework"
I am trying to build a lambda REST function in Python 3.8 using Amplify and I am getting the below error. I have tried to find a resolution online but could not find one.

Courtesy Notice: Pipenv found itself running within a virtual environment, so it will automatically use that environment, instead of creating its own for any project. You can set PIPENV_IGNORE_VIRTUALENVS=1 to force pipenv to ig

[2020-07-05 05:39] #5519 closed

[2020-07-05 06:26] rahulje9 commented on #6041
I had this issue, this happened when I tried to log in after signing out from the app, how I got this fixed was while signing out I called `Auth.signOut()` which solved the issue for me.

[2020-07-05 06:44] andrija78 commented on #1852
You can try and use existing dart packages, I use this one and it works great for me: [https://pub.dev/packages/amazon_cognito_identity_dart_2](url) Note that it claims to be based on amazon-cognito-identity-js.

I setup my workspace with two project: back-end project with Amplify (i use JavaScript template), and front-end flutter app project.

I use Amplify project to develop and deploy Lambdas,

[2020-07-05 08:26] rahulje9 commented on #6041
can you please share the `preSignup script` as I want to merge the social login with the email and password login.

[2020-07-05 10:33] ArionMiles commented on #5261
This is still happening. A day or two later the token is expired and I have to re-register the endpoint. Is there a way to automatically refresh the token in the background periodically?

[2020-07-05 10:41] ArionMiles commented on #5389
Any progress on this? Push Notifications documentation is very poor.

[2020-07-05 10:52] ArionMiles opened #6232 "Allow grouping Push Notifications"
I don't know if this is a good place to file this issue, since it mostly pertains to AWS Pinpoint and not Amplify in general.

**Is your feature request related to a problem? Please describe.**
Every notification sent through Pinpoint becomes an individual notification. For a usecase like a chat application, it's preferred if notifications coming from the same "group" were grouped together in the

[2020-07-05 13:31] kannieWeesNie commented on #5961
problem solved!

datastorage always accesses the local storage which is then synced with the backend.

i was logging in using different users and creating, updating, deleting items. the result was a lot of different items in the local storage, owned by different users.

calling any query or mutation, no matter the logged in user, would access all the data in the local storage without using the @au

[2020-07-05 13:32] #5961 closed

[2020-07-05 14:21] ripley commented on #6197
I ended up implement two storage classes, one for content script with chrome.storage support the other for background with only an object to hold the tokens, and shadow it with the one in content script with chrome storage event, it works as expected.

[2020-07-05 14:21] #6197 closed

[2020-07-05 19:35] ahmadfs commented on #3410
We are using hosted UI and native swift and this is a super annoying and confusing user experience. Is there a workaround to solve this issue?

[2020-07-05 23:22] jufemaiz commented on #4117
👀

[2020-07-05 23:39] #4552 closed

[2020-07-06 01:22] jairenee commented on #6061
+1

This issue is in @aws-amplify/api 3.1.17. It sets a peer dependency of pubsub@2.1.1, but also has api-graphql which has a peer dependency of pubsub@3.0.18. @aws-amplify/datastore requires pubsub 3.0.18 as a peer dependency, so currently, aws-amplify@3.0.18 demands a peer dependency of both 2.1.1 and 3.0.18.

[2020-07-06 03:35] morficus commented on #5879
@ashika01  * ping * any updates on this? it's been 6 weeks and neither this issue nor the thread on the AWS Forum have been updated 😢

[2020-07-06 04:48] ajitgoel commented on #6225
I was ale to this working by using promises instead of async\await, i.e by changing
changed `let result =await Storage.put('test.mp4', objectToBeUploaded, config);` to

[code]

[2020-07-06 04:48] #6225 closed

[2020-07-06 07:37] shubham234 commented on #6000
Keep the issue open.

[2020-07-06 12:00] nihp opened #6235 "How to make force signout if the admin disable the user account in cognito"
I have used the Auth.currentAuthenticatedUser and it return as not authenticated error. But here if I try to signout as Auth.signOut() it not worked.

It always updating the **Authenticator - authState has been updated to signedIn**. The payload event not changed to signOut()

[2020-07-06 12:22] davidgengenbach opened #6236 "Allow OAuth 2.0 Authorization Code Grant flow via a custom UI (Single-Sign-On, SSO)"
**Is your feature request related to a problem? Please describe.**
I would like to authenticate via Cognito and Amplify Auth - and provide a "third-party" app access via a OAuth Authorization code.

While I use the normal `Auth.signIn(...)` approach to receive Access- and Id-Tokens (which works fine), I also need to receive a Code via the [OAuth 2.0 Authorization Code Grant flow with PKCE](https:/

[2020-07-06 13:50] iartemiev commented on #5945
@pokey thank you for identifying the issue and providing reproduction steps. We've opened a PR to resolve this. I will update this ticket once it's merged.

[2020-07-06 15:28] siboulet opened #6238 "Cognito SignUp User Enumeration"
**Describe the bug**

If users are allowed to sign themselves up on the user pool, Cognito is returning a UsernameExistsException which allows for user enumeration on signup.

A similar [issue with InitiateAuth (Login) was reported and resolved here](https://github.com/aws-amplify/amplify-js/issues/1183).

**To Reproduce**
Steps to reproduce the behavior:

1. Create a User Pool. Make sure "Allow u

[2020-07-06 15:33] urfnaino opened #6239 "[aws-amplify-angular 3.X.X] Can't resolve '@aws-amplify/*' while using just the auth module"
**Describe the bug**
I'm currently on version 2.X.X and here are my aws-amplify dependencies in package.json:
[code]
This configuration works without any issue.

But when I try to upgrade to version 3.X.X, the exact set of dependencies doesn't work. Here're the ng serve logs:
[code]
The new version of aws-amplify-angular directly references other packages in its [provider service](https://github.c

[2020-07-06 16:45] ArionMiles opened #6241 "PushNotification.onRegister() is never called on Android"
**Describe the bug**
This has been reported in the past too, but IDK why I'm still facing this. I'm on the latest packages.
I am aware that this only happens the first time the app is installed, but even if I uninstall my app and re-run `npx react-native run-android` it doesn't seem to ever get printed in the Metro server terminal.

Also, the firebase dependencies in the docs are outdated, the `fi

[2020-07-06 17:09] ashika01 commented on #5879
The open ticket mentioned above in the forum is probably the best way to get info from the service team. I would suggest pinging there for info.

[2020-07-06 17:42] jordanranz commented on #6224
Taking a look at this as part of this PR: https://github.com/aws-amplify/amplify-js/pull/6211

[2020-07-06 18:06] esthor commented on #1949
the theme file @jimbol linked has been converted to a TypeScript, so its `AmplifyTheme.ts` now instead of .js : https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-react-native/src/AmplifyTheme.ts

[2020-07-06 18:26] LeoLiiiiiii commented on #5879
Hi @morficus, if it is possible, can you try to reproduce it on your local again and share me that request ID? Cause I'm suspecting this is a known and fixed issue.

[2020-07-06 19:48] TheVaporTrail commented on #6220
@Amplifiyer, I am now listening to `Hub` events and am mapping them to the events I have for managing the authentication state in my app. This allowed me to move the federated sign-in processing into the state machine (and out of the code I posted above, in the issue description).

I am still having the same issue with the credentials.

Also, when I removed all of the calls `global.AWS.config.cred

[2020-07-06 20:25] sammartinez commented on #5702
Closing in favor of the feature request

[2020-07-06 20:25] #5702 closed

[2020-07-06 20:27] sammartinez commented on #5737
@sorokinvj Apologizes for taking this long to respond on this. Can I ask, are you able to use a later version of `aws-amplify`?  I am seeing you on version 1 which we are on version 3. Please let us know.

[2020-07-06 20:29] sammartinez commented on #5788
@Steinliiippp Please fill in the bug report template so we are able to assist you further on this. Thanks ahead of time

[2020-07-06 21:04] sammartinez commented on #6053
@bklebe Thanks for this feedback to us, I have marked this as a feature request as we have work slated later this year to improve this.

[2020-07-06 22:00] TheVaporTrail commented on #6220
Keeping the code changes mentioned above (specifically, using `Hub` to listen for `Auth` events), I do not have the access denised problem when I downgrade to amplify@2.3.0.

[code]

[2020-07-06 22:04] dlucatero commented on #6204
Testing with the following code, this solves the issue with the adapter

[code]

Also bumped into the same issue in here, other places might pop up as my implementation progresses, so maybe more changes would be needed to support this.

https://github.com/aws-amplify/amplify-js/blob/c6e8162bd9a148453f3cb1f58960ed3a59a50a0b/packages/core/src/Util/Reachability.ts#L14

[2020-07-06 22:23] TheVaporTrail commented on #6061
This is very easy to reproduce. In an new, empty directory:
[code]

<details>

[~/Desktop/Development/Javascript/AmplifyTest]$ npm init
This utility will walk you through creating a package.json file.
It only covers the most common items, and tries to guess sensible defaults.

See `npm help init` for definitive documentation on these fields
and exactly what they do.

Use `npm install <pkg>` afterw

[2020-07-06 22:37] sammartinez commented on #5816
@sonphnt Can you provide us with your `package.json` ? Thanks ahead of time

[2020-07-06 23:25] Amplifiyer commented on #6220
@TheVaporTrail it seems you were using aws-amplify V3 and aws-sdk V2 which is fine, but yes that would require you to set the global AWS credentials for services that you are using aws-sdk directly (i.e. outside of Amplify).

Listening to Hub events is the right way to get the User credentials for both V2 and V3 of aws-amplify

[2020-07-06 23:43] manueliglesias commented on #6204
Thanks for the report and the details.

I am labeling this as a feature-request so we can look into better supporting Workers across all the library

[2020-07-06 23:45] TheVaporTrail commented on #6220
@Amplifiyer, I was unsuccessful getting User credentials for federated sign-in using the `Hub` with aws-amplify V3. Not only did I have problems outside of Amplify, with dynamoDB, but I also had problems with the Amplify S3 Storage calls.

In response to which Auth event can I call `Auth.currentUserCredentials()` when using federated sign-in?

Also, shouldn't the Amplify modules already have the u

[2020-07-07 00:13] iartemiev commented on #5945
The fix has been released as part of **@aws-amplify/datastore@2.2.5**

[2020-07-07 00:13] #5945 closed

[2020-07-07 00:35] invzdev commented on #6181
Reopening because it turns out that didn't actually fix things. I even tried completely removing our custom storage adapter and we *still* see random 403s come up from some users. Over the last week, we've observed nearly 100 users across Android and iOS on our latest release run into this issue.

Can you please provide some advice on what we can do to force refresh the tokens used by the underlyi

[2020-07-07 01:23] githubflub opened #6244 "PubSub nightmare: "No Cognito Identity pool provided for unauthenticated access""
There's nothing on google about this issue, so I'm documenting it. I was trying to set up PubSub. Did everything right - all the setup on AWS, using the AWS CLI. Here's my Amplify related code.

[code]
But in the midst of the PubSub.subscribe.subscribe call, there would be a mysterious Unhandled Exception error with the following message "No Cognito Identity pool provided for unauthenticated acces

[2020-07-07 01:23] githubflub commented on #6244
Closed because this is resolved.

[2020-07-07 01:23] #6244 closed

[2020-07-07 03:53] stayingcool opened #6246 "Total count of a type using Appsync Serverless (using aurora)"
**Is your feature request related to a problem? Please describe.**
How can we get the total count of a type using appsync serverless (using aurora)?
I'm not able to figure out a way to get the total counts of a particular table from the database.

**Describe the solution you'd like**
This is something I see in [Hasura called Aggregate of results](https://hasura.io/docs/1.0/graphql/manual/queries/p

[2020-07-07 09:22] ohlr opened #6248 "[Analytics]: Location based on ip-address"
Google Analytics as far as I know provides approximate user location based on ip address.

I would expect Amplify/Pinpoint to provide the same service.

(If I shall move this to Amplify/amplify-console please let me know)

[2020-07-07 09:41] manusharian opened #6249 "NotAuthorizedException: Invalid login token. Token expired"
**Describe the bug**
After using `Auth.federatedSignIn(
    'google',
    { token, expires_at: 1978332974 * 1000 + new Date().getTime() },
    user
  )`
with google provider after an hour the token expires. To prevent this at regular intervals currentCredentials() is called and the token is refreshed. If the application is closed or there is no internet connection to refresh the token the applicat

[2020-07-07 09:44] UmerMIB commented on #639
I'm also facing this issue I want to refresh my expired token as mentioned in docs "This method will automatically refresh the accessToken and idToken if tokens are expired and a valid refreshToken presented. " but tokens are not refreshing

[2020-07-07 14:02] jonasduever commented on #2052
Has such a feature/parameter been integrated in the meantime?
Or is there a workaround (using Amplify)?

[2020-07-07 14:32] sammartinez commented on #6246
@stayingcool Is this a feature request or more so a question?

[2020-07-07 15:20] sammartinez commented on #3699
@libeanim can you confirm with the changes that were merged that this resolved your issue? Please let us know

[2020-07-07 16:10] Jonathan0wh commented on #3682
This should be added to README documentation of `aws-amplify`, especially for the React Native part.
I followed the normal README guide to install `aws-amplify` but also got this error before I googled it and went here.
It should be emphasised that both `aws-amplify` and `amazon-cognito-identity-js` should be installed for React Native.

[2020-07-07 18:11] brene commented on #6251
This seems to be JS specific. cc @sammartinez

[2020-07-07 19:21] #5610 closed

[2020-07-07 19:21] wrightkris opened #6252 "UI-Components Sign Up assumes uncofirmed after sign up submit"
https://github.com/aws-amplify/amplify-js/blob/941e6a8f1e6dee2630ca239b00889ca479ecba84/packages/amplify-ui-components/src/components/amplify-sign-up/amplify-sign-up.tsx#L151

**Describe the bug**
The sign up component makes the assumption that the user signing up is not confirmed after `Auth.signUp` is called. As Cognito supports triggers that modify the "default" authentication flow it may be th

[2020-07-07 19:35] wrightkris opened #6253 "UI-Components Forgot Password submit button text does not change after code send"
https://github.com/aws-amplify/amplify-js/blob/941e6a8f1e6dee2630ca239b00889ca479ecba84/packages/amplify-ui-components/src/components/amplify-forgot-password/amplify-forgot-password.tsx#L33

https://github.com/aws-amplify/amplify-js/blob/941e6a8f1e6dee2630ca239b00889ca479ecba84/packages/amplify-ui-components/src/components/amplify-forgot-password/amplify-forgot-password.tsx#L184

**Describe the bu

[2020-07-07 20:10] Somtozech commented on #1213
Is there a way one can specify the group they want to add the user. All the examples am seeing are expecting you to add a user to a particular group pre-specified in the environment variables. How do I solve a use case where a user can be added to any of 3 groups eg manager, clerk, and customer at signup?.

[2020-07-07 20:20] jordanranz commented on #6252
Great feedback @wrightkris, this should be a fairly straightforward fix to make. I'll see if I can submit a PR for this.

[2020-07-07 20:24] jordanranz commented on #6253
This seems to be a side effect of: https://github.com/aws-amplify/amplify-js/pull/5771.

I think reverting it to the default `Submit` text should do the trick

[2020-07-07 20:28] wrightkris commented on #6252
Thanks @jordanranz ; I'll also look to get the codebase setup locally for dev so I can hopefully just submit PRs alongside these small issue reports to be a bit more helpful.

[2020-07-07 20:47] rpostulart commented on #5119
How are things going on this topic?

[2020-07-07 20:57] sammartinez commented on #3098
Resolving as per the above implementation has been complete

[2020-07-07 21:21] Huetarded commented on #1213
@Somtozech  - Assuming you are using the Auth classes to signup your users, you can take advantage of the "clientMetadata" property of the "SignUpParams" object to pass along additional information during the signup process. This data will get passed along to your Lambda function where you can put users in the correct group based on that data.

https://aws-amplify.github.io/amplify-js/api/classes/

[2020-07-07 21:23] Huetarded commented on #1213
@secretshardul - Yes, I'm seeing that it's fixed now as well. I just tried it the other day and I'm now seeing the same file structure you illustrated above!

[2020-07-07 21:50] stayingcool commented on #6246
@sammartinez - Do we have the requested functionality in Amplify/AppSync?

[2020-07-07 23:41] sahaam commented on #6150
Hi. Any update on this ?

[2020-07-07 23:43] jsnavarroc commented on #238
I have the same problem I try this
![image](https://user-images.githubusercontent.com/28201235/86855553-35d94600-c080-11ea-88fa-f26a623be6fb.png)
But it doesn't work, and another thing is that if, for example, I access with a federated login, according to I read, neither can data be updated, for example, if I enter through Facebook, I cannot validate my phone number if it is not in Cognito. And ho

[2020-07-07 23:52] jordanranz commented on #6097
@wrightkris I have added a change to pass the value into the component state which gets sent to Cognito. If possible could you test if this is fixed in the `@unstable` version of the component library: `@aws-amplify/ui-react@unstable`

[2020-07-08 00:37] hasanbaloch opened #6255 "AWS Lambda Custom Authorizer: Inconsistent Authorization header name"
**Describe the bug**
The authorization header name inside the lambda function is not consistent with the authorization header name set in Lambda Authorizer.

**To Reproduce**

Create custom lambda authorizer from the API Gateway service and choose the header name as "authorization"
Make an api call using Postman and set the header name to "authorization". The lambda authorizer will not throw any e

[2020-07-08 01:43] apoorvmote commented on #5435
Hey guys I am interested in using nextjs with amplify(auth and api). There was an update/release yesterday to amplify-js.
How will I know that nextjs is supported in any release/update??
And how will I know which features(e.g. SSG, auth, api) of Nextjs are currently supported on any release/update??

[2020-07-08 05:10] nubpro commented on #6162
Can we at least get an acknowledgement from DataStore engineers on this?
@sammartinez

[2020-07-08 06:44] nihp commented on #2829
Facing the same issue. How can I make the session to clear

[2020-07-08 06:54] nihp opened #6256 "After signout it updating the authState to signedIn (User is disabled and made force signout)"
I disabled the user and try to force signout and it did the signout event.

But again the Auth Data is being set in the Authenticator - authState has been updated to signedIn

Authenticator - authState has been updated to signedIn

I am using   **Auth.currentAuthenticatedUser({ bypassCache: true })**

[2020-07-08 07:07] nihp commented on #4351
Here I am not using storage in config.

I need to reload the app after logout to navigate the login screen

[2020-07-08 08:05] nihp opened #6257 "After Auth.signOut() hub listen showing the state as signedIn and needs to reload the app to show the state as signIn (If the user state is disabled and make force signout for the disabled user )"
I disabled a user from pool and make force logout for that user.

Here after logout it returning the Hub.listen with Auth.currentAuthenticatedUser({ bypassCache: true }) returns the Auth data and changing the state as signIn to signedIn.

[code]
Then I will reload the app. It works and the state goes to signIn and able to see the SignIn screen,

https://github.com/aws-amplify/amplify-js/pull/5587/

[2020-07-08 08:40] ionutmiftode commented on #5117
@timoschlueter used you solution, works as expected! I also fixed the profile picture issue here which is great!

One more thing, I added the logic in 'Post Authentication' lambda trigger, but this one is called when user sign in, not when he sign up, so I think the logic should be added in a Post Sign-up lambda trigger, but there is no such option.

the options from amplify cli for lambda trigger

[2020-07-08 09:53] andreacavagna01 opened #6258 "Signing with GitHub"
I want to enable OAuth login with GitHub, like in the example [here](https://developer.github.com/v3/guides/basics-of-authentication/).

It is in the roadmap?

[2020-07-08 11:49] sacrampton opened #6260 "Limit of 100 subscriptions reached Datastore"
**Is your feature request related to a problem? Please describe.**

This is a continuation of  issue  #5050.

My solution has a mobile app and a Web/Desktop back end. I have 45 Tables/Models which means that I'd have to have 135 subscriptions. Many of the tables I have in my database do not need to go anywhere near the mobile app and are there to support back end functionality. So I need the abili

[2020-07-08 11:55] ruodingt opened #6261 "feature request: federatedSignInToUserPool"
First thanks for the team for your great work.

## Is your feature request related to a problem? Please describe.

### Use Case
Our app is built on top of Ionic + Angular
We are using appsync with auth method CognitoUserPool.

Previously our our team has been using normal `Auth.signIn()`, which works perfectly.

With Auth.signIn, the amplify SDK could automatically pickup the user pool user info a

[2020-07-08 15:04] sorokinvj commented on #3098
I will open this one, because API.cancel() as mentioned [here](https://github.com/aws-amplify/amplify-js/pull/5753#issuecomment-654481080) has not solved this issue.

But feature is very needed! In my app (but I suspect in any app), user may start upload huge file by mistake and there is no workaround to cancel it

[2020-07-08 15:15] sammartinez commented on #6162
Yes, @nubpro I can let them know. Apologizes on the delay!

[2020-07-08 15:37] jordanranz commented on #6224
Hi @chantii, I have merged a PR that will properly display error messages when phone_number is empty. Could you please try and test using `@aws-amplify/ui-react@unstable`

[2020-07-08 15:41] jordanranz commented on #6189
Hey @chantii,

`@aws-amplify/ui-react@unstable` (and other `@unstable` Amplify UI libs) includes the ability to pass the `dialCode` and `value` to the `phone_number` form field.
*Usage*
[code]

Let me know if this works for ya.

[2020-07-08 15:48] wrightkris commented on #6097
I'll give it a try today and let you know the outcome.

[2020-07-08 16:19] wrightkris commented on #6252
@jordanranz out of curiosity is there a recommend method of manually transitioning `AuthState` when using the `AmplifyAuthenticator`? I've seen https://github.com/aws-amplify/amplify-js/issues/5825#issuecomment-631759616 and we're using that in order to render post-authenticated components, but as a potential workaround to the above I haven't had success in setting the state back to `AuthState.Sig