[2021-10-03 05:28] phuctm97 commented on #7251
Thanks for clarifying @hkjpotato, can you also clarify that are `INACTIVE` endpoints counted in `maximum endpoints` and will Pinpoint ever auto-delete INACTIVE endpoints?

[2021-10-03 05:30] #8886 closed

[2021-10-03 12:15] mdesousa opened #8981 "Refresh token not usable for OAuth authentication when Cognito is enabled to remember devices"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-03 13:28] javadtaghia commented on #2365
Install npm install graphql --save-dev

[2021-10-03 15:54] DeniferSantiago commented on #8076
The same problem happens to me.
![image](https://user-images.githubusercontent.com/41799285/135761773-850636f5-db43-489f-9d4b-7203a7a4e567.png)

[2021-10-03 17:16] leaky commented on #4689
This is still very much an issue, this should not be closed.

[2021-10-04 03:25] duckbytes commented on #6758
Does anyone have an update or know a workaround for this problem? I'm hitting this issue too, where a lot of my UI depends on createdAt to exist (so that I can sort in chronological order), but when working offline the value isn't created by DataStore. If I try to set the value during DataStore.save, it comes up with an error that it is "read only".

A workaround might be to add an extra field lik

[2021-10-04 12:50] janhorubala commented on #8957
Any updates on this? I cannot develop the app since all data came from AWS API, I cannot get currentUserInfo etc.

[2021-10-04 13:53] chrisbonifacio commented on #8917
Hi @oliverschenk 👋 Thank you for raising this issue! After reading over it, it seems to be more related to the CLI than the JS libraries so I will transfer it over to that repo.

[2021-10-04 13:56] zacharywenner commented on #6467
I've had this issue off and on, even up until now.

Normal URL to our main website seems to work fine and not break the authentication. Thanks!

[2021-10-04 14:00] vmittal89 commented on #6467
Hi @zacharywenner it didn't break the authentication yet.. It's working good so far for me but keep any eye out on it for sometime after making the change.
Replacing your current URL with classical one should work!

[2021-10-04 16:20] janhorubala commented on #8957
Ok, I created today five new projects (react native, expo, expo eject, ignite, ignite eject) and I could replicated error only on `ignite` project - so I guess there must be some problem with their dependencies
[code]

[2021-10-04 16:42] codercodingthecode commented on #3661
With 2FA usage increase, this should most definitely be a feature.

[2021-10-04 17:16] chrisbonifacio commented on #8928
Hi @galgord 👋 I wasn't able to reproduce this behavior, but I do see this line in the logs you shared that might have something to do with why a record might update or be created locally but not in the remote db. DataStore only queries the local db and the graphql calls to AppSync happen as a separate process in the background as DataStore syncs with the remote db.

You may have to check the `look

[2021-10-04 17:42] hkjpotato commented on #7251
As far as I know, `INACTIVE` endpoint will only be created if you have two endpoints with same "address". The problem here is Pinpoint is doing auto-delete based on channel type, not INACTIVE status.

[2021-10-04 17:53] chrisbonifacio commented on #8957
Hi @janhorubala thanks for raising this issue. We haven't targeted Ignite to be supported by Amplify or vice versa so I can't label this as a bug since the React Native CLI and Expo, which are explicitly targeted by our library, still work as intended. Hopefully the issue with Ignite can be resolved on their end. If not, I'd have to recommend using Expo for quick startup or React Native CLI for th

[2021-10-04 17:53] #8957 closed

[2021-10-04 17:58] #8869 closed

[2021-10-04 21:46] wlee221 opened #8983 "graphql Typescript build failure on strict mode"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-05 06:37] brijesh2609 commented on #8947
hey, @chrisbonifacio any update or eta on this? Facing the same issue with a lot of users. any temporary solution/fix for this?

[2021-10-05 06:40] shadow-light commented on #54
For those using the builtin Cognito user pool username field, the mapping needs to be `username` -> `cognito:username`, as `sub` is just a uuid.

[2021-10-05 10:10] janhorubala commented on #8957
Ok, for future generations: you have to remove `<ToggleStorybook>` component (or change order), details here: https://github.com/infinitered/ignite/issues/1745

[2021-10-05 11:08] bunatl commented on #4580
Guys, I had similar problem. Namely: `error_description=Invalid+user+attributes%3A+name%3A+The+attribute+is+required%0A+&error=invalid_request`

Cognito + Apple Dev Console were set up correctly. The issue was actually in collaboration between Apple and Cognito User pool.

**The solution is to create a new user pool, where no parameters are required! I also added a client app without client secret

[2021-10-05 11:49] hukus commented on #8645
Same issue here with NextJS.

Error ONLY happens when the site is built and **EXPORTED** (we use static version of NextJS: yarn build -> yarn export).

Stuff works normally on dev build (yarn dev)

Amplify config:
[code]

[2021-10-05 15:45] sammartinez commented on #8968
Thanks for reaching out on this, I have converted this issue to a feature request as we do not currently support MMKV as a Storage option for React Native. Please upvote this feature request if you are looking for this. Thanks!

[2021-10-05 16:00] chrisbonifacio commented on #8964
Hi @RomanBob123 Because the issue seems to happen intermittently, we're going to need more information in order to reproduce it consistently or be able to tell what might be going on. If you can get the error to occur again, please capture the network request and response or any information from the console.

If you are able to reproduce this locally, please add this line to your project where you

[2021-10-05 18:03] chrisbonifacio commented on #8964
@RomanBob123 Can you confirm whether the users experiencing this issue might be authenticating through a social provider? If so, please share the code that shows how the oauth flow is implemented in the app.

[2021-10-05 18:21] bfreed commented on #8567
The full line, combining what Herman and Jack said is:
build: {
    ... lots of stuff ...,
    chainWebpack: chain => chain.module.rule('esm').test(/\.m?jsx?$/).resolve.set('fullySpecified', false),
    ... potentially more stuff ...
}

[2021-10-05 19:14] rpostulart opened #8991 "Object is not an instance of a valid model"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-05 20:02] rpostulart commented on #8991
I have noticed that when I push the API then it seems to work, but you should be able to test locally, right

[2021-10-05 20:46] jsnavarroc commented on #4854
**I have the same situation when it makes sign-out in the _parsingCallbackUrl_ event:**
[code]
In React Native, I don't know what configuration I need to set because inside the aws-exports I have this:
[code]
And the sign-in is working, but when trying to make a sign-out, not working. And the deep link SignIn is a screen where I have the function where checks all the events, is where I handle the

[2021-10-06 04:18] hkjpotato commented on #8574
This issue should be fixed already from the cognito service side and I cannot reproduce it. @mousedownmike can you double check if it is still a problem?

[2021-10-06 07:36] m-bilal-dev9 opened #8995 "Confirm password field on withAuthenticator signUp form"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-06 08:03] RomanBob123 commented on #8964
This is how I update the token

`

    const isConnected = (await NetInfo.fetch()).isConnected;
    if (isConnected) {
      const data = (await Auth.currentSession()).getIdToken();
      const token = data.getJwtToken();
      return token;
    }
`

[2021-10-06 08:04] RomanBob123 commented on #8964
We turned on debug and are trying to track it, but this does not happen regularly.

we are not using federation but are but a cognito user pool.

[2021-10-06 08:05] RomanBob123 commented on #8964
User login:

`

    Auth.configure({
      authenticationFlowType: "USER_PASSWORD_AUTH",
    });
    const cognitoUser = await Auth.signIn(username, password);
`

[2021-10-06 08:26] aarunjith commented on #6695
Found this. But still had mixed content error. Why would that be?
https://keliris.dev/aws-apigw-https-proxy/

[2021-10-06 11:26] ThomasRooney commented on #5054
My workaround is this: https://gist.github.com/ThomasRooney/89faeed810d1d18dfa16d0dd16eef0b2

It is a react hook that will resolve the connection before it returns the full structure.

It will also only follow 1 layer of connections, but when you have a deep structure you can layer them next to each other, similiar to @arabold's answer.

Interface for returning many items looks like (for a N:M con

[2021-10-06 14:50] leonardopaiva commented on #3435
I'm asking why I'm implementing my first backend authentication flow... would it be a big security issue to just let the token expire? whereas the token expires in 60 minutes.

Currently what I do is clear the localstorage that holds my token, and every request my endpoint receives depends on receiving the token in the autorization bearer, so without the token in the localstorage the user will hav

[2021-10-06 17:34] hkjpotato commented on #8574
Thank you, I also need to double check as it seems still an issue if you delete the phone number.

[2021-10-06 20:17] chrisbonifacio commented on #8812
Hi @DanProudfoot 👋 are you still experiencing this issue and in need of assistance?

[2021-10-06 21:34] #2906 closed

[2021-10-06 22:21] ahansson89 opened #8997 "Object Lambda Access Point support"
### Is this related to a new or existing framework?

Angular, React, React Native, Vue, Web Components, Next.js

### Is this related to a new or existing API?

Storage

### Is this related to another service?

S3

### Describe the feature you'd like to request

I would like to use Object Lambda Access Points to transform objects before serving them to users

### Describe the solution you'd like

M

[2021-10-06 22:35] ahansson89 commented on #3851
This would solve #8997 too I think

[2021-10-07 14:27] duaneking commented on #987
I'm getting really tired of all the lies and be from Amazon about this.

We have waited years for a fix to a very basic thing, something that is expected of us to fully support as part of simple common standard regulatory and legal compliance; Amazon's abject failure to maintain secure systems or maintain credibility or compliance with the regulatory standards that they are now falsely claiming to

[2021-10-07 16:45] chrisbonifacio commented on #8727
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-10-07 16:45] #8727 closed

[2021-10-07 17:38] oshoemaker opened #9000 "@aws-amplify/pubsub package missing"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-07 17:39] #9000 closed, assigned to nobody

[2021-10-07 19:50] chintannp commented on #8776
Hi @neats-returns 👋.  I was not able to reproduce the issue. It is working as expected `next :() =>` callback is even called after locking and unlocking the phone. I tested it out by locking the phone for 30 seconds and the callback is fired even after unlocking the phone.

I have tested this out using both `React Native CLI` and `Expo`. Additionally, I have tested the behavior on **Android** and

[2021-10-07 23:32] Fitux commented on #8727
Sorry I thought I did answer your querstion @chrisbonifacio
Yeah I have those enabled, and the issue only happened when we used the url that was not the custom domain.
I don't think the unauthorized_client is related to the main issue

[2021-10-08 07:13] rpostulart opened #9002 "Geo [Error: not implemented] in React Native"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-08 07:56] rpostulart commented on #9002
Import these 2 libraries solve the problem. I have written it in my own blog: https://dev.to/aws-builders/the-guide-to-connect-aws-amplify-to-any-aws-service-2-0-40ne :(

import "react-native-get-random-values";
import "react-native-url-polyfill/auto";

[2021-10-08 07:56] #9002 closed, assigned to nobody

[2021-10-08 11:09] dautushenka commented on #4646
Any updates here?

[2021-10-08 11:44] iartemiev commented on #8699
@sacrampton, I believe you were able to resolve this issue by increasing the DeltaTTL for certain tables. If so, are you fine with us closing this issue? Or is there more to this that has yet to be addressed?

[2021-10-08 14:12] justin-ad commented on #1218
Looks like @agileurbanite is no longer with AWS... does @aws-amplify-ops have someone else working on this item?

[2021-10-08 19:17] CerberusAI opened #9004 "Can't import withSSRContext from "aws-amplify""
**Describe the bug**
Can't import withSSRContext from "aws-amplify"
Getting error "TypeError: (0 , aws_amplify__WEBPACK_IMPORTED_MODULE_0__.withSSRContext) is not a function"

**To Reproduce**
Steps to reproduce the behavior:
import { withSSRContext } from 'aws-amplify';

**Expected behavior**
Import withSSRContext as a function

**Screenshots**
![image](https://user-images.githubusercontent.com/5

[2021-10-08 20:30] justin-ad commented on #7953
Same here, this actually fails in both Webpack 4 and 5 for me...

[2021-10-09 02:34] nubpro commented on #8699
This sounds like a hacky workaround and seems to me, will likely come back and bite u

[2021-10-09 02:37] sacrampton commented on #8699
Hi @nubpro  - always open to any suggestions that help us move forward. So if you have any ideas on better ways to proceed please share. Welcome any and all suggestions. Thanks.

[2021-10-09 03:06] iartemiev commented on #8699
@nubpro, can you elaborate on why increasing the DeltaSyncTableTTL is “hacky” or a “workaround”? This is a well-documented property of sync-enabled AppSync APIs. We default it to 30 minutes because we think this is a sensible default for most customers, but a longer TTL is certainly valid for certain use cases, such as @sacrampton’s.

[2021-10-09 03:07] CerberusAI commented on #9004
Hi Chris,
I ran that command but same error.
For reference, I'm on Amplify 6.0.1 & NPM 7.24.0
Just trying to work through this Next.js / Amplify auth tutorial:
https://dev.to/dabit3/the-complete-guide-to-next-js-authentication-2aco

Everything works until I created the protected.js page:

[image: image.png]

Logs after starting the local server and navigating to "
http://localhost:3000/protected".

[2021-10-09 11:42] callmekatootie opened #9022 "Getting user attributes from currentAuthenticatedUser() function when user signs in through Google"
**Which Category is your question related to?**

Auth / Cognito

**Amplify CLI Version**

6.0.0

**What AWS Services are you utilizing?**

Auth / Cognito

**Provide additional details e.g. code snippets**

In my app, the user can sign in using Google. I use `Auth.federatedSignIn({ provider: "Google" })` to login. This works fine.

Problem is when I need to read the user's attributes. As per [the d

[2021-10-09 16:43] zachjonesnoel commented on #8888
+1
Encountered the same issue on a Vue app which is subscribing to multiple subscriptions.

[2021-10-10 02:16] nubpro commented on #8699
My bad I have read incorrectly. I'd thought if u increase the deltaTTL to a large number, you are simply delaying the memory usage issue to a later time.

Instead:
Increasing the deltaTTL, will force the client to sync using the delta table instead of a full base sync.

[2021-10-10 16:48] saad8it opened #9006 "Redirect to url after clicking email verification link "
### Is this related to a new or existing framework?

_No response_

### Is this related to a new or existing API?

_No response_

### Is this related to another service?

Cognito

### Describe the feature you'd like to request

Opening the issue again previously posted by another user

When the user clicks on the email verification link, they're taken to a confirmation page, located at
https://APP

[2021-10-11 20:29] christianguevara opened #9008 "too many open files on "amplify push""
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-11 22:02] mojodna opened #9009 "Geo: Geo API / Category isn't selectable in the GitHub "Bug report" template"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-11 22:39] sethfitz opened #9012 "Geo: `Geo` singleton is not initialized by `Amplify.configure()`"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-11 22:53] mojodna opened #9013 "Geo: first-class support for react-map-gl"
### Is this related to a new or existing framework?

React

### Is this related to a new or existing API?

_No response_

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

[`react-map-gl`](https://visgl.github.io/react-map-gl/) is the defacto React wrapper for Mapbox GL JS / MapLibre GL JS. Amplify's Geo category should support it as a first-cl

[2021-10-12 01:32] #9008 closed, assigned to nobody

[2021-10-12 09:33] MuhammadAbdullah54321 opened #9016 "Auth.federatedSignIn is not executing promise properly"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-12 11:57] amneeshsoftobiz opened #9017 "Amplify graphQL API update query is not working."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-12 16:06] mojodna commented on #9012
This was caused by having multiple versions of Amplify installed in the same project (`aws-amplify@3.4.3` and friends via `package.json`, `@aws-amplify/core@4.3.2` via `@aws-amplify/geo@1.1.2` via  `maplibre-gl-js-amplify@1.1.0`).

[2021-10-12 16:06] #9012 closed, assigned to nobody

[2021-10-13 04:37] callmekatootie commented on #9022
Interesting. I don't see the "attributes" key at all in my CognitoUser.:

![image](https://user-images.githubusercontent.com/2317133/137067324-0d9c99d8-1f73-4c58-b3a0-e3fd5bef3b85.png)

1. I am using `"aws-amplify": "^4.2.4",`
2. User clicks on a button in `/login` route which calls `Auth.federatedSignIn({ provider: "Google" })`. We have our App Client Settings as:

    ![image](https://user-image

[2021-10-13 11:49] futurebenmorris commented on #2828
Did we ever get a resolution to this?

I'm having exactly the same problem. Amplify seems to be hard coded under the hood to expect 'public', 'protected' and 'private' folders in an S3 bucket. I don't want to use the Amplify CLI to build my cloud resources (I want to do that myself) but I do want to use the 'aws-amplify' library in my frontend React project to handle auth and S3 access.

Currently

[2021-10-13 16:34] cfbo commented on #8891
We also have this issue. I can reproduce it for authorization errors (similar to that https://github.com/aws-amplify/amplify-js/issues/8891#issuecomment-922582761).
From what I understood there isn't any workaround at the moment, right?

[2021-10-13 16:48] callmekatootie commented on #9022
That did it! Thank you for your help. This issue can now be closed.

[2021-10-13 17:08] #9022 closed

[2021-10-14 11:08] claudiopastorini commented on #6236
Thanks @willianantunes for your work, you save me a lot of hours...
Waiting for this feature

[2021-10-14 12:21] davidfannar98 commented on #8011
I manually set the auth cookies to not expire after the session, you can set whatever expiry date you want.
The following code works for me. I call this function on user sign in if he chooses "remember me".

[code]

[2021-10-14 13:14] andav51 opened #9027 "npm install aws-amplify : No matching version found for @aws-crypto/util@^1.2.2"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-14 14:18] #9027 closed

[2021-10-14 15:58] chrisbonifacio commented on #9016
Hello @MuhammadAbdullah54321 👋 thank you for raising this issue. I was able to reproduce it but I don't think this is necessarily a bug. If your intention is to be able to set a user's credentials to some local state, I would not rely on the OAuth flow. For instance, in a browser, calling `Auth.federatedSign` triggers a series of redirects that, once gone from the original page, any state or refer

[2021-10-14 15:58] #9016 closed, assigned to chrisbonifacio

[2021-10-14 18:25] #8837 closed

[2021-10-14 22:03] duckbytes opened #9034 "DataStore: Unhandled Rejection (TypeError): Cannot read properties of undefined (reading 'association') when updating ID for a one to many connection."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-14 22:24] duckbytes opened #9035 "Hub listener datastore networkStatus event isn't triggered on Chrome, but is on Firefox."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-14 23:25] david-mcafee opened #9037 "Local Development Wiki is outdated"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-14 23:48] PeteDuncanson commented on #8868
Also is there an opposite to Predicate.ALL? Sort of a Predicate.NONE?

I'm doing `return (data) => data.id("eq", "NEVER_MATCH_ME");` but it feels a bit dirty.

[2021-10-14 23:52] sacrampton commented on #8868
@PeteDuncanson - if you have created or updated a bunch of records on the device and the sync back to server has not occurred yet and you resync with a new syncExpression then all your changes on device will be lost. So before you change that syncExpression and sync you need to check the state to ensure there are no pending sync.

[2021-10-15 13:53] mlohbihler opened #9040 "Allow signingDate to be passed through Storage to SignatureV4"
### Is this related to a new or existing framework?

_No response_

### Is this related to a new or existing API?

Storage

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

It is already possible to provide the `expires` option to set the number of seconds until a presigned URL expires. It would also be useful to provide the `signingDate` to f

[2021-10-15 15:54] chrisbonifacio commented on #8974
How are you handling routing in your Vue app?

[2021-10-15 18:01] chrisbonifacio commented on #8974
Hi @rutwick-alic When first visiting a page, do you see this `events` network request being made once? It seems like it fires once as long as I remain on the page but if I change tabs or from the browser and return to the page, the event will fire again.

<img width="890" alt="Screen Shot 2021-10-15 at 1 53 44 PM" src="https://user-images.githubusercontent.com/16952986/137531488-03877db9-2c0b-4d3f

[2021-10-15 18:01] synapdk opened #9041 "Administrative MFA TOTP reset feature"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-15 19:28] chrisbonifacio commented on #8905
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-10-15 19:28] #8905 closed

[2021-10-15 19:28] chrisbonifacio commented on #8855
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-10-15 19:28] #8855 closed

[2021-10-16 02:27] jeremygustine commented on #6845
Is there any movement on this issue?  It looks like `amplify-react-native/src/AmplifyUI.tsx` still has the offending code in place.  There was a PR some time ago that appeared to fix the issue (https://github.com/aws-amplify/amplify-js/pull/6871), but it looks like it was closed without being merged.  Any updates?

[2021-10-16 03:00] chris-lee-code opened #9047 "aws-amplify package too heavy @Next.JS even with tree-shaking."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-16 05:51] tanuj-chaine commented on #987
This solution perfectly worked for me and it looks clean also

[2021-10-16 16:07] jeremygustine commented on #6845
BTW, I'm happy to submit a new PR for this, just want to make sure there isn't any duplicate effort in progress.

[2021-10-16 17:18] ekeklol opened #9112 "Invariant Violation: Picker has been removed from React Native. It can now be installed and imported from '@react-native-picker/picker' instead of 'react-native'. See https://github.com/react-native-picker/picker"
Hope I'm submitting this to the appropriate place.

Trying to use the default auth UI provided by amplify but, when pressing the Sign Up button, this error appears

`Invariant Violation: Picker has been removed from React Native. It can now be installed and imported from '@react-native-picker/picker' instead of 'react-native'. See https://github.com/react-native-picker/picker`

<img width="463" al

[2021-10-16 19:20] carolynwang commented on #8888
Hi @evcodes, are there any updates on this issue?

[2021-10-17 04:06] rpmansion commented on #1585
Any update on this? This is also a challenge for not having a shared login UI for multiple products. Each time, we have to create a login UI for each product using Amplify.

[2021-10-17 05:15] orangegrove1955 opened #9049 "Storage.put / Storage.get attempting to use localhost bucket not deployed AWS S3 bucket"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-17 09:12] rpostulart commented on #8901
I believe this is the same like I needed above:

https://github.com/aws-amplify/amplify-js/issues/7544#issuecomment-767706669

[2021-10-17 11:50] ibliskavka opened #9050 "AWSCloudWatchProvider fails to log to a brand-new log stream"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-17 12:47] v1pz3n commented on #54
I had to recreate the userpool and this workaround stopped working.

${aws:PrincipalTag/username}

Apparently the cognito team made updates to the product and we didn't know about it.

[2021-10-17 13:05] irakli-g opened #9051 "Query entity with @searchable directive based on filters applied to array property"
### Is this related to a new or existing framework?

React Native

### Is this related to a new or existing API?

GraphQL API

### Is this related to another service?

Amazon OpenSearch Service

### Describe the feature you'd like to request

Hello, I've a Group table which contains "members" property. It is a list of emails.
<img width="780" alt="Screenshot 2021-10-17 at 16 57 36" src="https://us

[2021-10-17 13:56] shadow-light commented on #54
You probably have to enable "Attributes for access control" in the identity pool again as it is tied to a specific user pool (the one you deleted)?

[2021-10-17 19:27] irakli-g commented on #9051
SOLVED!

For anyone who stumbles upon this issue just use "list" query which it automatically generated by Amplify CLI. So in my case listGroups like this.

<img width="483" alt="Screenshot 2021-10-17 at 23 26 01" src="https://user-images.githubusercontent.com/70649220/137642039-5a91a370-35de-4f9a-aa50-de8f4f0777be.png">

Apparently, contains does not work when using searchable directive.

Also, i

[2021-10-17 22:34] arnm commented on #3099
+1

[2021-10-19 07:31] dohomi commented on #4112
@haverchuck is there any workaround? Its quite common to have some error specific code and I don't understand why the AuthErrorTypes aren't re-exported?

[2021-10-19 08:27] siammridha opened #9429 "Make apiName and Init parameter optional"
**Page**: [`/lib/restapi/fetch/q/platform/[platform]`](https://docs.amplify.aws/lib/restapi/fetch/q/platform/js/#get-requests)

**Feedback**:

it's really annoying that you have to pass the init parameter every time you are making an API request. Not really sure why it's required now because it definitely was not in version 1.2.4 which is when I used it last. Also it would be a good idea to make t

[2021-10-19 14:11] PeteDuncanson commented on #8868
@iartemiev yes it does. That is problematic if so and not how I understood it to work at all.

[2021-10-19 15:15] #8812 closed, assigned to chrisbonifacio

[2021-10-19 16:09] weewoo64 opened #9054 "Able to add AnalyticsMetadata in the amazon-cognito-identity-js package"
### Is this related to a new or existing framework?

_No response_

### Is this related to a new or existing API?

Authentication

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

I am using the amazon-cognito-identity-js package in my SPA.
I would like to use AWS PinPoint in combination with Cognito but for that to work I have to add in some

[2021-10-19 16:44] ashika01 commented on #8977
Hi @franquitt , I pulled your sample and run it. To understand the exact issue, I might have to build a replica of your flow to find the issue you are facing. Could you maybe share order of your Amplify calls?

[2021-10-19 17:33] #9009 closed

[2021-10-19 17:55] iartemiev commented on #8868
A dynamic sync expression like you have here will perform a base sync on the specified model when it evaluates to something different than the last time it ran for the reason I mentioned above. If it evaluates to the same thing, DataStore will still try to perform a delta sync.

E.g. if `zone  === "SUDS"` when the app first launched and changes to `"TAPP"` after reload, the resulting expression re

[2021-10-19 17:56] chrisbonifacio commented on #9017
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-10-19 17:56] #9017 closed, assigned to chrisbonifacio

[2021-10-19 18:24] chovyprognos opened #9056 "error with svelte-kit"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-19 19:25] #9056 closed

[2021-10-19 20:59] theogravity commented on #4068
A bit more clarity here:

https://stackoverflow.com/questions/53072762/can-aws-amplify-support-multiple-concurrent-logins-that-can-be-switched-amongst

[2021-10-19 22:05] shanejearley commented on #6122
+1

[2021-10-20 01:08] VicFrolov opened #9057 "Running into auth issue when using custom vtl resolver for one of two auth methods"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-20 01:36] acusti opened #9058 "Support custom cognito attributes in @auth directives"
### Is this related to a new or existing framework?

Framework-agnostic

### Is this related to a new or existing API?

GraphQL API, DataStore

### Is this related to another service?

AppSync, Cognito, maybe API Gateway

### Describe the feature you'd like to request

* i want to use `@auth` directives to allow CRUD access to the current user’s own items
* i want to use a custom attribute as my `

[2021-10-20 02:07] chovyprognos commented on #9056
What goes in that runtimeConfig.js file?

[2021-10-20 10:42] RomanBob123 commented on #8964
Yea. We still have it sometimes.

[2021-10-20 11:45] Jukez17 opened #9059 "Allow user to deleter their own account"
### Is this related to a new or existing framework?

React Native

### Is this related to a new or existing API?

Authentication

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

I would like to allow user to delete their own account when they press button.

### Describe the solution you'd like

It should be simple auth function that takes eit

[2021-10-20 13:04] iuyt9003 opened #9060 "Amplify Cognito PostConfirmation trigger default code (callback doesn't exists) showing an error."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-20 14:23] ShreyasBhandari opened #9061 "Datastore update with typescript gets wrong type"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-20 15:19] chrisbonifacio commented on #8727
@Fitux sorry for the delay. If you're still experiencing this issue, can you open an issue and fill out the Bug Report form with your environment information? Going to close this issue since the original customer has not commented or provided any updates. Also, if you can still reproduce the issue, please [export a HAR file](https://support.zendesk.com/hc/en-us/articles/204410413-Generating-a-HAR-

[2021-10-20 15:34] ladawellness opened #9062 "Amplify interactions with Lex and Lambda is broken"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-20 16:02] chrisbonifacio commented on #9062
Hi @ladawellness 👋 Thanks for raising this issue. I was able to reproduce it following your reproduction steps. I will label this a bug and transfer it to the CLI repo.

[2021-10-20 20:04] chrisbonifacio commented on #9059
Hi @Jukez17 👋 thanks for opening this feature request. This is technically already possible. You can have a user delete themselves like so:

[code]

as mentioned on this [issue](https://github.com/aws-amplify/amplify-js/issues/469#issuecomment-640509418)

[2021-10-20 20:05] #9059 closed

[2021-10-20 21:52] duckbytes commented on #9034
That works. Thank you.

My mistake, I misread the documentation.

[2021-10-20 21:52] #9034 closed

[2021-10-20 22:28] martinrojas opened #9065 "DataStore AWSPhone validation doesn't match AppSync and data is lost"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-20 23:27] chovyprognos commented on #9056
i tried this:

[code]

Doesn't seem to have any effect and what is the runtimeConfig.browser file?

On Tue, Oct 19, 2021 at 12:25 PM Chris Bonifacio ***@***.***>
wrote:

[2021-10-21 01:26] acusti commented on #9058
i did another search through the issues in this repo for anything related and came across #7824, which led me to https://github.com/aws-amplify/amplify-cli/issues/3794#issuecomment-606757449. i tried using the `graphql_headers` `Amplify.configure` option as suggested there, and it is exactly what i need!

[code]
sorry for the unnecessary noise; hopefully this issue and the keywords it contains pro

[2021-10-21 01:26] #9058 closed

[2021-10-21 13:19] PeteDuncanson commented on #7831
Hey, todays my birthday! Any chance of a comment on this one as a present? It got raised again today in Discord and I still don't know why it behaves the way it does.

[2021-10-21 14:56] Anthony-Mckale opened #9068 "License in NPM incorrect for amazon-cognito-identy-js"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-21 16:25] chrisbonifacio commented on #9065
Hi @martinrojas 👋 Thanks for raising this. I was able to consistently reproduce the issue.

Here are my findings:

From the AppSync [documentation](https://github.com/aws-amplify/amplify-js/pull/7212)

When I attempt to create a record with the following phone number format: `(678) 198-2162`
DataStore throws an error as expected, since it does perform local validation against AWS scalar types:

<i

[2021-10-21 18:27] chrisbonifacio commented on #9065
Here's a follow-up question just out of curiosity:

Since any phone number not including a country code will be validated as a US/North American number by AppSync, what is the country code for the `678 198 2162` number? It's in the correct format but may not adhere to [NANP](https://en.wikipedia.org/wiki/North_American_Numbering_Plan#Numbering_plan)

[2021-10-21 21:33] aldodaquino commented on #6494
Ours customers are facing this issue too. We have used one workaround to set clockskew on API calls. Is there any similar workaround for storage.get() calls?

[2021-10-22 00:57] david-mcafee commented on #6494
Clock skew errors appear to have affected both API calls, and S3 uploads. While investigating this, it appears we had [a previous fix for API calls](https://github.com/aws-amplify/amplify-js/pull/5869).

@thava and @aldodaquino - can you provide us with additional reproduction steps? Are you only experiencing this for Storage, or somewhere else? Thank you!

[2021-10-22 02:37] sunpan3213 opened #9109 "Conflict resolver rejects mutation"
When I use the amplify API to call ModelMutation.delete(model), it prompts Conflict resolver rejects mutation, but when I call delete in the amplify datastore, it is successful.
Please tell me why this happens and how to solve it, thank you

[2021-10-22 08:57] rudyhadoux opened #9080 "Amplify Geo doesn't work with Angular"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-22 10:45] ShreyasBhandari opened #9081 "Datastore contains predicate typescript operand is never"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-22 14:29] #9065 closed, assigned to chrisbonifacio

[2021-10-22 17:41] david-mcafee opened #9084 "Using the `resumable` flag for `Storage.put` breaks the progressCallback"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-22 20:41] #9084 closed, assigned to jamesaucode

[2021-10-22 21:48] #9080 closed, assigned to thaddmt

[2021-10-23 00:46] synapdk commented on #9041
@ashika01 we are using a pretty vanilla implementation of the Angular sign in component:

[code]

There is no other code in that component. In a service we use the hub to listen for an auth event, but this is never received when the sign in component is stuck with a spinner.

[code]

Is that helpful? It would be a fair amount of work to create a publicly accessible example, is there some kind of s

[2021-10-23 01:58] acusti commented on #6103
like others in this thread, i am querying a DataStore/AppSync API from a lambda and i want to filter out deleted items, e.g. `{ filter: { _deleted: { ne: true } } }`. currently, trying to add that as is to my GraphQL variables results in an error: `The variables input contains a field name '_deleted' that is not defined for input object type 'Model<TypeName>FilterInput'`. is there any reason why `

[2021-10-25 21:07] joelzwarrington opened #9104 "List of Cognito authentication error codes and messages"
### Is this related to a new or existing framework?

_No response_

### Is this related to a new or existing API?

Authentication

### Is this related to another service?

Cognito

### Describe the feature you'd like to request

I would like to be able to find a list of common Cognito authentication error codes and messages so that I could provide a mapping for translation purposes.

### Describe

[2021-10-26 14:01] rudyhadoux opened #9107 "createAmplifyGeocoder does not work without OPTIONS"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-26 16:45] cybexai opened #9110 "aws-amplify datastore sqlite-adapter [Error: The predicate is not valid]"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-27 05:16] #9107 closed, assigned to TreTuna, chrisbonifacio, Amplifiyer, thaddmt

[2021-10-27 07:02] rudyhadoux opened #9116 "/places/v0/indexes/ExamplePlaceIndex/search/text is not an API URL"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-27 08:54] nickyeung425 opened #9117 "React Native: AuthError - Error: Amplify has not been configured correctly."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-27 14:15] lf-devs opened #9118 "Lambda Trigger ends execution on Amplify GraphQL query"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-27 15:08] revmischa opened #9119 "@aws-amplify/core@4.3.1 brings in react-native"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-27 18:16] #9116 closed, assigned to chrisbonifacio

[2021-10-28 01:53] #9117 closed, assigned to chrisbonifacio

[2021-10-28 11:47] PeteDuncanson opened #9123 "DataStore: Changes to schema don't seem to cause a new fresh base sync as documented"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-28 19:58] dizhang168 opened #9127 "UserLambdaValidationException for Cognito Passworldess Authentication with Lambda Triggers"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-28 21:18] #9110 closed, assigned to chrisbonifacio, iartemiev

[2021-10-29 11:09] cybexai opened #9128 "aws-amplify datastore sqlite-adapter issue with connections [NOT NULL constraint]"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-29 20:00] naaaateeee opened #9131 "Pinpoint integration causes `Error: No credentials, applicationId or region` on multiple versions"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-29 21:18] PeteDuncanson commented on #9123
Hey @chrisbonifacio we meet again :)

Yes as far as I know. We'd done a release (only to staging) via the Amplify CI which builds anything anyway. Go to hit the site and it died with the above.

[2021-10-29 21:31] ShepSims commented on #8220
Hi!  I am getting the same error, and was wondering if you were ever able to reproduce it.

Similar to Op, my oauth is empty in aws-exports.js and I know it shouldn't be.   When I amplify pull, it does not bring the data back in.

 Unlike op, I can fix it manually because I have copy/pasted the correct aws-exports before, so had it handy.

 If I manually change aws-exports.js to the correct config

[2021-10-30 13:35] perspectivus1 opened #9133 "Authorization Code Flow fails when using Cognito User Pool OIDC Provider"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-30 14:14] TheDicko commented on #6845
Any update on this? I have literally no way to create my react native app with amplify

[2021-10-30 15:08] anil1712 commented on #612
@TheRedshift how was your meeting with AWS team regarding this issue?

[2021-10-30 15:10] sverraest commented on #612
@sammartinez Can we at least re-open this, it's clearly an issue / missing basic functionality that is causing a lot of concern for a lot of developers. Why leave it closed (and completely ignore it)?

[2021-10-30 16:20] Seanmclem commented on #612
I literally just spoke with the new product manager for AWS Amplify on the phone for a half an hour yesterday, almost entirely about this exact issue. I referenced it directly and she was able to look it up. We'll see if they do anything about it.￼

[2021-10-30 17:19] pratyaksh123 commented on #6845
No idea why it wasn't reviewed.

[2021-10-30 19:08] emreedgu commented on #6845
I made a patch . I hope that makes it easier 😃

1. get the modified AmplifyUI.js from this gist (for convenience) https://gist.github.com/emreedgu/0194b25ffa5376b0ba16adb8bb636094 .  And name it as AmplifyUI.js
2. replace the faulty file with modified one at node_modules/aws-amplify-react-native/dist/

[2021-10-31 01:18] jvliwanag opened #9134 "Return code delivery details list after updateUserAttributes"
### Is this related to a new or existing framework?

_No response_

### Is this related to a new or existing API?

Authentication

### Is this related to another service?

Cognito

### Describe the feature you'd like to request

UpdateUserAttributes when called directly on the Cognito API returns a code delivery details list in its response as documented [here](https://docs.aws.amazon.com/cognito-

[2021-10-31 16:02] kirkryan opened #9135 "withAuthenticator HOC has invalid dependency since React Native 0.66.1"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-31 20:25] kirkryan commented on #9135
@renebrandel - one to be aware of amigo.

[2021-11-01 00:05] watanabeshuji commented on #3039
Please help me, too.

[2021-11-01 00:16] e-simpson commented on #9084
@jamesaucode
Is there any way to get around this and have progressCallback call more frequently than every 5mb chunk while using resumable functionality?

[2021-11-01 02:45] campidelli commented on #5318
I got this from AWS support today (almost 2 years after this issue was open):

[2021-11-01 03:13] Eduard-Hasa commented on #8147
Bump. Much needed now especially with nextjs 12 middleware authentication capabilities

[2021-11-01 15:05] tl1993 opened #9136 "validationData not passed for "signInWithoutPassword""
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-01 15:26] sammartinez commented on #612
Hello folks, please see the above comment that I posted on March of this year. This is what we currently support and our recommendations. Since we do not have control over the Hosted UI experience as this is owned by the Amazon Cognito team, we still recommend to open a feature request via the [Amazon Cognito forums](https://forums.aws.amazon.com/forum.jspa?forumID=173).

[2021-11-01 16:07] chrisbonifacio commented on #9133
Hi @perspectivus1 👋 I don't think anything's changed for the authorization code flow with an OIDC provider. This issue could be caused by several things. This issue might be helpful: https://github.com/aws-amplify/amplify-js/issues/3055.

Does your app client have the client secret box checked? I believe this is enabled by default but it should be disabled/unchecked.

[2021-11-01 16:19] calebpollman commented on #9135
@kirkryan Thanks for opening the ticket, we are aware of the issue and working towards resolving it.

Closing as a duplicate of https://github.com/aws-amplify/amplify-js/issues/6845

[2021-11-01 16:19] #9135 closed

[2021-11-01 16:43] kirkryan commented on #6845
@renebrandel - could we have some visibility on this please?

Kirk
AWS Community Builder

[2021-11-01 16:57] chrisbonifacio commented on #9136
Hi @tl1993  👋 how did you implement passwordless authentication? Did you follow this guide?
https://aws.amazon.com/blogs/mobile/implementing-passwordless-email-authentication-with-amazon-cognito/

[2021-11-01 18:02] chrisbonifacio commented on #9131
Hi @naaaateeee :wave: can you please share the dependencies related to `aws-amplify` in your package.json?

Sounds like you did try to check for duplicate package versions but just in case, seeing what you're working with might still help in reproducing your issue. This page might be helpful as well if you haven't already seen it.

https://docs.amplify.aws/lib/troubleshooting/upgrading/q/platform/

[2021-11-01 18:04] david-mcafee commented on #7435
@getglad - closing this issue, but please re-open if you are still experiencing problems. Thanks!

[2021-11-01 18:04] #7435 closed

[2021-11-01 18:42] naaaateeee commented on #9131
Hey @chrisbonifacio!
The only amplify related package I got installed on the web app is `"aws-amplify": "^3.3.27"`

[2021-11-01 19:38] Nxtra opened #9138 "Amplify analytics: Unhandled Rejection (TypeError): event is undefined"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-01 19:39] david-mcafee commented on #6494
As @jamesaucode mentioned in his closed PR, "we decided to upgrade the @aws-sdk version (that includes a patch that will fix this clockskew issue) instead of rolling out our own middleware." Will update this ticket once we've made that upgrade.

[2021-11-01 19:40] david-mcafee commented on #5433
@crolly, @atlesp and @IsaacTrevino - closing this ticket. Please reopen if you encounter further issues. Thanks!

[2021-11-01 19:40] #5433 closed

[2021-11-01 20:40] david-mcafee opened #9140 "Cognito bug on Safari 15.0 - QuotaExceededError: The quota has been exceeded."
### Discussed in https://github.com/aws-amplify/amplify-js/discussions/8986

<div type='discussions-op-text'>

<sup>Originally posted by **chengjiaapraamcos** October  4, 2021</sup>
This happened on the latest Safari 15.0 on both Mac system and IOS system.

Seems like sometimes the localstorage stopped working sometimes, and it could be solved by refreshing the page etc.

Anyone can help?</div>

[2021-11-01 21:05] david-mcafee commented on #7583
Related discussion: https://github.com/aws-amplify/amplify-js/discussions/7569

[2021-11-01 22:35] sammartinez commented on #2131
Hey folks, as @katiegoines has mentioned above, the `versionId` does not exist on `list` for the S3Client. That being stated, we were trying to gather more information on what you would use this for if it was only available via the `get` method. We are going to close this feature request out for now as we have not heard from you on your use case. If we receive use cases where we feel its worth for

[2021-11-01 22:35] #2131 closed

[2021-11-02 09:32] carlosriveroib commented on #7547
Yes, for me is not converting images too.

On the other hand, I'm using NextJS i18n https://nextjs.org/docs/advanced-features/i18n-routing
I have the default locale configured in `en` and my browser is configured in `es`. It should redirect to `es` automatically. It works on Vercel but not in AWS

[2021-11-02 09:58] tl1993 commented on #9136
Hi,
I did implement passwordless authentication but i changed the createAuthChallenge because i need to send a SMS using an external provider.
Also i need to pass a phone number and verify that it is the user phone number in another external system so i can't verify it with cognito phone number field. , i tried to send the phone number as a validationData.

[2021-11-02 11:34] Leandros commented on #7526
I'm having the same issue as well.

[2021-11-02 11:46] Leandros commented on #7526
Hey @amhinson / @chrisbonifacio: I've uploaded the CLI created templates for inspection.

Similar case compared to @PeteDuncanson. I've got an authenticated user. With some cognito groups. No further customizations.

Trying to upload throws a 403.

[s3storage.zip](https://github.com/aws-amplify/amplify-js/files/7460315/s3storage.zip)

[2021-11-02 12:05] jimmyl-cgair commented on #3537
I have the same problem. Do you have a fix or other way to make this works?

[2021-11-02 12:05] mkrn commented on #7574
@Jun711  can you share the whole policy JSON? Check the version
The action exists: https://docs.aws.amazon.com/AmazonS3/latest/API/API_CreateMultipartUpload.html

Here's my example:
[code]

[2021-11-02 13:45] mkrn commented on #4468
Sorry for the late comment, this option doesn't work with the new `resumable` option in `Storage.put`. *(Due to how new S3 client is created)
Will file a new issue.

[2021-11-02 13:53] mkrn opened #9143 "Storage.put resumable and useAccelerateEndpoint options do not work together"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-02 14:31] chrisbonifacio commented on #9138
Hi @Nxtra 👋 thanks for raising this issue. Looks like you're calling `Analytics.record` without any arguments. It expects either a string or an object in the shape of `{ name: string }`. So, just need to include that for it to work. Looking to adjust the code snippet in the documentation as that is probably confusing.

[2021-11-02 15:02] mkrn commented on #8781
Please test this with `resumable: true` as well as with `useAccelerateEndpoint`.
It would resolve the Storage.put even if you go Offline mid-upload.
It will also call onComplete and would not invoke onError  of the resumable callbacks.

[2021-11-02 15:37] jamesaucode commented on #9143
Thanks for opening the issue. I submitted a PR that should fix this problem

[2021-11-02 15:53] adi518 commented on #3928
I've just spent almost 5 hours debugging this and still no solution.

[2021-11-02 16:14] #9143 closed

[2021-11-02 17:55] chrisbonifacio commented on #9123
Hey 😃 would you happen to remember what change you might've made to the schema, like if you had removed a model or just changed some fields around before encountering this error? Trying to figure out how to consistently reproduce this.

[2021-11-02 18:02] jamesaucode commented on #8781
Hi @mkrn , I merged in https://github.com/aws-amplify/amplify-js/pull/9144 which should solve the `useAccelerateEndpoint` issue.

Can you elaborate a little bit on the last 2 points? Will be nice if you can open a new issue with more details. Thank you! 😄

It will also call onComplete and would not invoke onError of the resumable callbacks.

[2021-11-02 18:26] Samaritan1011001 commented on #8506
@ahtokca Can you please provide the following two pieces of information?
- changes you made to satisfy the requirements to target API level 30. Did you have to upgrade firebase? if so, to which version?
- react-native versions -- before and after the changes to target API level 30

[2021-11-02 18:52] bluetoken-luke opened #9145 "Amplify Causing Errors With Next 12 middleware"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-02 19:24] DavidBrear commented on #6195
I ran into this error but it wasn't to do with the `authRole` as listed above. Mine was because I had manually created a group on Cognito and then was using that group and its associated role with some users. I wanted to document what I did in case anyone gets to this point and isn't able to solve the problem.

**TL;DR: Don't manually create groups and roles if you're going to be using them for Am

[2021-11-02 19:40] chrisbonifacio commented on #9136
@tl1993 I implemented passworldless authentication with sms today and I see what you mean about the validationData not being passed to the CreateAuthChallenge lambda event. However, this is outside the control of the Amplify library as it is up to Cognito to expose that to the trigger.

If I understand your use case correctly, why do you need to send the phoneNumber as metadata if the user provide

[2021-11-02 20:36] chrisbonifacio commented on #9136
So, looking deeper into this, it seems that this is expected behavior and is documented in the Cognito docs here:

https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_InitiateAuth.html#API_InitiateAuth_RequestSyntax

...

So, you might have to use a pre-authentication trigger to access the ClientMetaData and perform validation there.

That being said, closing this issue

[2021-11-02 20:36] #9136 closed

[2021-11-02 21:30] #2350 closed

[2021-11-02 21:33] #2430 closed

[2021-11-02 22:17] calebpollman commented on #9112
Closing as a duplicate of https://github.com/aws-amplify/amplify-js/issues/6845

[2021-11-02 22:17] #9112 closed

[2021-11-02 22:29] Samaritan1011001 commented on #8950
Hello @ahtokca, I updated the other [issue](https://github.com/aws-amplify/amplify-js/issues/8506#issuecomment-958019258) with some questions that can further help.

[2021-11-02 23:09] Nxtra commented on #9138
@chrisbonifacio , thanks man.
Yes, the documentation did mention otherwise. I see you've updated it. Thanks!

[2021-11-02 23:09] #9138 closed

[2021-11-03 03:05] yonatanganot commented on #8506
Hey @Samaritan1011001,

We are having the same issue.

To replicate it, please go `android/app/build.gradle` file and change these lines:

[code]
to those:
[code]

Our react-native version is `0.66.1`.

Upon searching, I have found that `aws-sdk-android` does use the new API:
https://docs.amplify.aws/sdk/push-notifications/getting-started/q/platform/android/#set-up-your-backend

[2021-11-03 03:14] mitchconquer commented on #7555
I had this issue and the source of the problem turned out to be that I was using a combination of `aws-amplify` and `@aws-amplify/auth`, `@aws-amplify/core`, etc. In addition, we have a yarn workspaces mono-repo and they were using different versions of the dependencies.

I used [syncpack](https://github.com/JamieMason/syncpack) to synchronize the various versions in the packages and then imported

[2021-11-03 12:06] evcodes commented on #7583
@TheVirtuoid, we definitely hear you and we (I) have opened an issue for the cli team to take a look at here: https://github.com/aws-amplify/amplify-cli/issues/8178. I am going to see if I can improve this for both CLI and JS. Thank you for bringing this to our attention.

[2021-11-03 12:14] rennehir opened #9150 "Trim inputs before submit"
### Is this related to a new or existing framework?

React Native

### Is this related to a new or existing API?

Authentication

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

As Cognito does not accept whitespace in the username, the library should trim the username input before submitting to avoid one of the most common validation error:

[2021-11-03 13:52] mkrn commented on #9143
Thank you, it looks LGTM, when can the new version be expected @jamesaucode ?

[2021-11-03 13:58] mkrn commented on #8781
@jamesaucode I'm sorry, what I meant is:

Since "resumable" uses different callbacks, both variants should be tested when fixing this issue:

Non-resumable:

[code]

Resumable:

[code]

The simple way to reproduce the bug is to switch to "Offline" in Dev Tools "Network" panel. I expect that non-resumable await would throw. And resumable version `errorCallback` and promise `reject` would be called

[2021-11-03 14:07] chrisbonifacio commented on #9131
Just to be sure, are you importing the `Analytics` library in your project and calling `Analytics.record()` to record events? If so, can you share code snippets of how it's being called?

[2021-11-03 16:29] chrisbonifacio commented on #9131
thank you! curious, how are you importing and using the Analytics library in your code?

[2021-11-03 16:52] hisham commented on #4775
+1

[2021-11-03 16:57] hisham commented on #4775
https://github.com/aws-amplify/amplify-js/issues/450#issuecomment-385287902 is implying monetization events are supported?

[2021-11-03 17:18] hisham commented on #6289
+1, I'm just starting to get into using pinpoint via aws-amplify and I'm finding the documentation is very lacking, and from issues like this, the feature set supported seems to be very minimal as well. Would be great if Amplify team can invest more into the pinpoint aws-amplify js lib + documentation.

[2021-11-03 17:22] chrisbonifacio commented on #9131
I was able to reproduce this issue and found that you need to configure a Cognito Identity Pool with an unauthenticated role with permissions to allow PutEvents and UpdateEndpoints on your pinpoint resource.

So, in the Pinpoint console,

1. Go to the Settings tab on the left and click Web App analytics and from there you can get a convenient policy to copy/paste

2. You can click "Create an ident

[2021-11-03 17:26] chrisbonifacio commented on #9131
If you're curious, this is how I was able to see that you needed to configure an Identity Pool by using the Amplify Debug Logger.

index.js
[code]

Output with no `identityPoolId` property in Auth config

<img width="1452" alt="Screen Shot 2021-11-03 at 1 24 28 PM" src="https://user-images.githubusercontent.com/16952986/140151292-866a4b93-4a3e-48b6-ad2e-bd1d91f25e10.png">

[2021-11-03 18:42] ashika01 opened #9153 "Multiple domains in cookiestorage"
### Discussed in https://github.com/aws-amplify/amplify-js/discussions/5446

<div type='discussions-op-text'>

<sup>Originally posted by **killrazor** April 17, 2020</sup>
Looking for a way to specify multiple domains in cookiestorage. Right now we can accomplish this by using a static list and checking that against the window location for the client side code. This should be handled in package. <

[2021-11-03 18:43] ashika01 commented on #9153
I will trying to reproduce the issue mentioned and figure out how to document this use cases in our docs.

[2021-11-03 19:04] talyh commented on #8594
@chrisbonifacio  - Yes, this is still an issue

https://github.com/aws-amplify/amplify-js/issues/8594#issuecomment-893975315 provides the latest information requested by the AWS team, but I haven't seen any further action on it

[2021-11-03 20:47] ChadBradThad commented on #8766
Just came across this myself. Any update on this request? I would also like to add, specifically for fields that are populated by Amplify itself, like "createdAt", "updatedAt", etc.

[2021-11-03 21:03] #8325 closed

[2021-11-03 22:40] naaaateeee commented on #9131
@chrisbonifacio thanks for the help!
Thing is, my issue happened with an authenticated user.
The way I'm importing Amplify is sort of like this:
[code]
I don't export Analytics because I don't record any specific events myself, I just want to have Auth events captured as part of Cognito Analytics (see cognito => user pool => general settings side menu => analytics)
I also did not configure an iden

[2021-11-04 01:15] hisham opened #9156 "Pinpoint error in Angular prod builds: No credentials, applicationId, or region"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-04 01:38] hisham commented on #9156
I enabled debug log and I see this error, but I do have Auth registered. However I'm using [Angular lazy loaded modules](https://angular.io/guide/lazy-loading-ngmodules), and the Analytics lib is used in a separate module than where Auth is registered. Maybe that's the issue. I'll look into further tmrw.

You can see that Analytics is succesfully configured in the beginning but then later it fails

[2021-11-04 03:35] clay-spfmlp opened #9157 "Request for support for react version 17+"
### Is this related to a new or existing framework?

React

### Is this related to a new or existing API?

Authentication

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

I would like for react ui to be able to support for version 17 of react. I have to force the install because it on has support for react 16.

### Describe the solution you'd

[2021-11-04 04:49] krrby commented on #9135
I am also getting this error at the moment :( I've tried to install picker it doesn't recognise it (for windows and Android

[2021-11-04 06:38] hisham commented on #9156
I also had similar error when using Storage category.

At the end, what fixed is before I had the following:

`Amplify.configure({ ...awsmobile, Auth: { authenticationFlowType: 'USER_PASSWORD_AUTH' })`

And when I changed it to:

[code]

Why? I have no idea.

[2021-11-04 14:27] chrisbonifacio commented on #9156
You may have to import Analytics and configure it separately, like you did with Auth. That should guarantee that it's included in the build and not lost due to tree shaking, which has been known to happen.

That being said, are you already using Analytics in the file where you're configuring Amplify, as in creating any events or enabling any auto tracking, etc?

[2021-11-04 14:42] #9109 closed

[2021-11-04 14:51] chrisbonifacio commented on #9050
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-11-04 14:52] #8593 closed

[2021-11-04 16:10] hisham commented on #9156
No I'm not using Analytics in the file where I'm configuring Amplify.

It turned out I guess I had to import Auth or else that would get lost in the tree shaking and caused Analytics and Storage to not work due to no Auth provider.

Though API and logging into Cognito worked fine, perhaps because it was in same module or something.

[2021-11-04 17:29] Samaritan1011001 commented on #8506
Hi @yonatanganot, thank you for the steps! Are you also looking to target API level 30 and upgrade firebase? If so, are you trying to do it like OP in the `package.json` through the `@react-native-firebase/messaging` version as shown [above](https://github.com/aws-amplify/amplify-js/issues/8506#issuecomment-871989807)?

[2021-11-04 18:49] chrisbonifacio commented on #9131
Oh okay, I think I understand your use case. You'll still need to have an identity pool ID if using the Amplify Analytics library to record any events.

However, based off your use case, you can enable Cognito analytics in the console by navigating to your User Pool -> Analytics -> select an App Client and Pinpoint project.

You will need to adjust the IAM role permissions for the Auth Role of you

[2021-11-04 19:44] ashika01 commented on #9041
@synapdk I am not sure how this relates to Amplify. I would suggest reaching out in AWS forum to discuss the strange behavior. With respect to, Amplify's support this is the admin queries we support at the moment - https://docs.amplify.aws/cli/auth/admin/

And I dont see a clear way you can do this at the moment for `AdminSetUserMFAPreference`, I will mark this as a feature request and will see ho

[2021-11-04 19:58] jimmyl-cgair commented on #3537
Instead of  `Auth._handleAuthResponse(url);`

Try like that :

`(Auth as any)._handleAuthResponse(url);`

That helps me a lot.

[2021-11-04 20:08] aladevlearning opened #9160 "Amplify Chatbot does not render response cards when deployed on web-site"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-04 22:18] hisham opened #9162 "Typescript: Better Typings for Analytics methods"
### Is this related to a new or existing framework?

Angular

### Is this related to a new or existing API?

Analytics

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

Analytics.record is confusing, I see multiple uses for it, well first here's what the typings say:

[code]

So is the second parameter provider or attributes?

And then the doc

[2021-11-04 23:12] jamesaucode commented on #6494
Turns out upgrading the @aws-sdk is going to take a little longer than we thought and will probably need another discussion with the team before we do that. Meanwhile we merged #9125 that should fix this issue

[2021-11-04 23:59] HMilbradt commented on #5117
Why is this closed?  There's still no built in way to do this for Facebook, and writing a lambda just for this is a bit ridiculous.

[2021-11-05 09:04] t-lm opened #9165 "@searchable | allow sorting search results by dates"
### Is this related to a new or existing framework?

React

### Is this related to a new or existing API?

_No response_

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

Hi, would it be possible to allow sorting search results by date?

### Describe the solution you'd like

Allow sorting search results on "date" field (similar to what is avai

[2021-11-05 09:17] t-lm commented on #9165
Problem solved with date defined as AWSDatetime and not as String. Thanks

[2021-11-05 11:58] shoaib30 commented on #7784
This issue still appears in `"@aws-amplify/ui-react": "^1.2.19"`

Any plans on fixing this issue? makes the ui-react component unusable when sending an invite to the user.

[2021-11-05 13:37] iartemiev commented on #9128
Thank you for opening the issue. We've opened a PR with the fix: https://github.com/aws-amplify/amplify-js/pull/9166

[2021-11-05 13:58] chrisbonifacio commented on #9156
Okay, yeah if you import it and use it that should fix the problem, even just configuring it should do the trick. Let me know if that helps.

[2021-11-05 14:46] synapdk commented on #9041
Thank you @ashika01 . I should note that #8103 would work for me also, but in the absence of that feature I was hoping it would at least be possible for an administrator to reset TOTP for a user, that's what I was after here. If there is another way to accomplish that I would love to know.

[2021-11-05 14:49] jbellos commented on #8967
I'm running into this as well. It started happening when I moved from aws-amplify v3.3.23 to v4.3.4.

[2021-11-05 15:19] sammartinez commented on #9162
Thanks for this feedback and feature request @hisham. We will take this into consideration as this may lead to breaking changes. We will provide an update on a timeline for this work once we have groomed this item and gotten clarity on next steps

[2021-11-05 15:22] sammartinez commented on #9150
Thanks for this feedback and feature request @rennehir. Since this would be a smaller feature, we always look on having community members contribute when possible. Let us know if you would be interested on contributing to this! In the meantime, we will need to groom this and see where it fits into current priorities for our React Native work.

[2021-11-05 15:26] sammartinez commented on #9134
Thanks for opening up this feature request @jvliwanag. Can you provide a little more information on your use case. We do have this functionality built into our UI components with sending the event to a `ConfirmSignUp` which will change the UI state to the confirmation code section. Currently, the code is sent via email for users to put into.

[2021-11-05 15:31] sammartinez commented on #9104
Thanks for the feature request on this @joelzwarrington. Are you looking for something like this? https://github.com/aws-amplify/amplify-js/blob/main/packages/auth/src/Errors.ts

[2021-11-05 15:36] vamshi9666 commented on #8604
@chrisbonifacio This issues needs to be reopened. This is still happening to me

[2021-11-05 15:39] rennehir commented on #9150
@sammartinez I can make a PR, no problem :)

Do you have any ideas fornthe implementation? Should we implement the trimming logic in the AuthPiece or in the individual components?

[2021-11-05 15:44] sammartinez commented on #9150
I look to place this within the individual components themselves. Thanks!

[2021-11-05 16:11] joelzwarrington commented on #9104
@sammartinez hello - I am looking for something similar to what you've shown. `AuthErrorStrings` is the only thing exported from `@aws-amplify/auth` top-level module, that does seem like a good thing to improve so that it covers more use cases.

I've started #9167, where I'll add all of the error messages I've encountered and a description of how I've encountered them so other developers implement

[2021-11-05 17:46] jonatassales commented on #6320
+1

[2021-11-05 18:54] ashika01 commented on #9041
@synapdk Yeah I see your use case. It is definitely one of the use case we have been trying to work around cognito limitations. But we need support from cognito service to make it smoother. At the moment this has been marked as feature request and we are very much aware and looking into how to get this experience.

So if I have understood your usage here right, you are trying to use this Admin API

[2021-11-05 19:58] justinphilpott commented on #8147
Curious if anything will happen with this...

[2021-11-05 20:08] podlebar commented on #7570
btw.. the same happens if you are using NuxtJS.
`import Auth from '@aws-amplify/auth'` adds 73.5 kb gziped to the bundle..

[2021-11-05 20:21] synapdk commented on #9041
@ashika01 You've got it, yes. I sent feedback on the [AdminSetUserMFAPreference doc page](https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_AdminSetUserMFAPreference.html). Is there anywhere else I should push for improvements on the Cognito side?

[2021-11-06 03:50] hisham commented on #9156
Yes that's what I ended up doing. Still the reality that this issue happened in prod and not dev caused me some downtime and another developer of aws-amplify can easily run into it again.

[2021-11-06 03:54] OkkarMin commented on #8726
Hey @mimccio I see that you have closed the issue.

Were you able to figure out and solve the issue? I am having the EXACT same issue over in my own project

Thank you!

[2021-11-06 14:32] MuhammadAbdullah54321 opened #9948 "How to handle when user cancels the pop up for federated Sign In"
I am developing app in React Native

When a user clicks on the button to sign in with google, a pop up appears but I don't see an option to handle the situation if user clicks on cancel on the top of pop up(in iOS). It do not trigger any event in the Hub listener

**Provide code snippets (if applicable)**
![WhatsApp Image 2021-11-06 at 7 25 12 PM](https://user-images.githubusercontent.com/34376568

[2021-11-06 14:47] dreamorosi opened #9173 "Geo MapStyle type is missing the region"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-06 20:49] yonatanganot commented on #8506
Hey @Samaritan1011001,

Yes.

[2021-11-06 21:09] serjiosilent opened #9176 "cookieStorage does not work"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-06 22:04] jvliwanag commented on #9134
Hi @sammartinez . The code delivery details list I believe is the indicator what, if any, are the required confirmation steps right after calling updateAttributes. If there are cognito lambda hooks to auto verify, then there's no need to prompt the user for verification. If there are none, then updating special fields such as email/mobile can put the identifiers to an awaiting verification state,

[2021-11-07 14:34] adi518 opened #9177 "Error: More than one or no providers are configured, Either specify a provider name or configure exactly one provider"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-07 21:11] aaronlna commented on #9050
Why was this issue closed? This issue still exists, I ran into it this morning. The steps that were originally posted look correct in how to reproduce the problem.

When writing to an empty log-stream for the first time then all writes will fail because `_nextSequenceToken` will be an empty string that fails input validation to `PutLogEventsCommand`. This means you can never begin writing events.

[2021-11-07 22:29] priestor opened #9179 "Datastore warning: User is unauthorized to query sync with auth mode."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-08 02:07] aaronlna commented on #8354
Thanks for releasing this feature.

I was trying to track down if there may be any future support for writing EMF logs or support for writing custom formatted logs, e.g. JSON log format for better querying with CW Insights. Are these improvements still being tracked anywhere or is support for these features at all planned?

[2021-11-08 07:44] cybexai commented on #9128
thanks

[2021-11-08 15:40] #9156 closed

[2021-11-08 15:45] chrisbonifacio commented on #8385
Hi @rajashril are you still experiencing this issue and in need of assistance?

[2021-11-08 15:59] theneekz commented on #976
I'm not sure ignoring all *.d.ts files is the best solution

[2021-11-08 16:03] chrisbonifacio commented on #9133
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-11-08 16:03] #9133 closed

[2021-11-08 16:10] theneekz commented on #6153
Still having this issue and wondering if anyone has found a fix

[2021-11-08 16:14] Twipped commented on #3635
I too have landed here trying to find a solution. The aws-amplify library added nearly a whole MB of dependencies to our react build, and even when I paired down to just using @aws-amplify/auth it was still half a MB. That is a LOT of code when the only thing I want to do is handle third-party federated login.

[2021-11-08 16:14] ericclemmons commented on #9119
Confirmed that this was a bug in https://unpkg.com/browse/@aws-sdk/middleware-retry@3.6.1/package.json but resolved in https://unpkg.com/browse/@aws-sdk/middleware-retry@3.40.0/package.json.

A PR `@aws-amplify/core` updated `@aws-sdk/client-cloudwatch-logs` to `^3.40.0` should resolve this.

[code]

[2021-11-08 18:24] ffxsam opened #9185 "Dependency on paho-mqtt should be removed - package is no longer maintained and contains bugs"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-08 18:35] tnghia944 commented on #4876
.

[2021-11-08 19:51] thetaPC commented on #7064
@sammartinez Here's an open issue for #7974
What is the status of this issue?

[2021-11-08 20:03] nlindroos commented on #6153
@theneekz If no fixes to erroneous types have yet been introduced, your only option AFAIK might unfortunately be to use [skipLibCheck](https://www.typescriptlang.org/tsconfig/#skipLibCheck). I haven't used this library since the summer of 2020 so can't comment on the current state of it.

[2021-11-08 21:21] cxonexus-github-admin commented on #8933
+1 Setting up SAML Federated access and am working on this exact issue right now.

[2021-11-09 05:43] iris-rcrimp opened #9188 "User Attributes (Cognito Federerated Identity) breaks the Storage component"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-09 11:31] danilojpferreira commented on #8023
I was resolving this issue follow this steps:

1. Add supportLibVersion at android/build.gradle, inside buildscript > ext:

[code]

2. Add appCompat implementation in android/app/build.gradle inside dependencies

[code]

Right now, i'm trying to remove this implementations or revert com.android.support:appcompat to androidx.appcompat:appcompat

[2021-11-09 15:27] crowers commented on #8184
We also need to support Google One Tap with Cognito. Any solutions anyone? Thanks

[2021-11-09 16:26] bluetoken-luke commented on #9145
So been digging into this as we badly want this feature.  What I have found is that in the networkMonitor in Reachability there is a check for if this is running in node (which being on the server it should be).  However, that check is coming back false.  This allows the networkMonitor to continue on in its code thinking presumably its in a browser.  isWebWorker() winds up returning false which ma

[2021-11-09 16:50] aiji42 commented on #9145
Very interesting. I ran into the same problem and couldn't understand why the function for node required a window, but your pursuit has cleared up that question for me.

The sandbox for running Next.js middleware is quite limited in its functionality (probably to ensure the performance of running Edge), so I hope that amplify will change its implementation to one that does not depend on process.ve

[2021-11-09 17:25] Jemisson commented on #8947
Any updates for this issue? Are there PRs that haven't been accepted yet? We are experiencing the same problem.

[2021-11-09 18:45] chrisbonifacio commented on #9123
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-11-09 18:45] #9123 closed

[2021-11-09 19:13] SaileshKumar commented on #4326
Is there any update here? I'm able to have multiple uris configured (like localhost, and then my production uri), but I'd love to be able to pass one on the fly. I have several places on my site that require login to view, so I'd rather not add each of them to the static callback url list.

Even a way to run code after a successful google login would be great too, I can always do a manual redirect

[2021-11-09 20:55] evcodes commented on #9119
Issue is not resolved yet as upgrading the package leads to breaking changes

[2021-11-09 22:15] TreTuna commented on #9173
Thank you for bringing this to our attention.

This is due to the `region` being something specific to the `AmazonLocationServiceProvider` and not to the `Geo` class method here. We'll have to probably build a new generic in order to properly fix this.

Until then, you can typecast it to `AmazonLocationServiceMapStyle` as is currently done in our MapLibre plugin: https://github.com/aws-amplify/map

[2021-11-09 23:17] calebpollman commented on #6845
Have merged a fix available for testing under the `unstable` tag:
- yarn: `yarn @react-native-picker/picker aws-amplify aws-amplify-react-native@5.0.6-unstable.14`
- npm: `npm install @react-native-picker/picker aws-amplify aws-amplify-react-native@5.0.6-unstable.14`
- expo: `expo install @react-native-picker/picker aws-amplify aws-amplify-react-native@5.0.6-unstable.14`

[2021-11-09 23:20] iris-rcrimp commented on #9188
Here are the `AuthData` objects retrieved by `onAuthUIStateChange()`.

The only difference I can see are the order of the fields.

### User Attributes disabled (default). Working as expected.
[code]

### With User Attributes enabled. Breaks the Storage object.
[code]

[2021-11-10 00:27] shwetajoshi601 commented on #7526
I am using a similar setup, but in my case I want to download an image file stored in S3. I get a 403 error for GetObject operation.

[2021-11-10 00:29] ianpogi5 commented on #8382
@martinmalia were you able to make this work?

[2021-11-10 01:39] eettaa commented on #2286
+1 to resolving this issue

[2021-11-10 10:25] meducati commented on #7544
A year later on this important issue. Any updates?

[2021-11-10 10:55] meducati commented on #7534
Any updates on this?

[2021-11-10 13:27] bluetoken-luke commented on #9145
Thank you for this.  It helped become the base of us being able to work around this for now.

[2021-11-10 13:55] iartemiev commented on #7534
The AppSync team recently posted an [RFC](https://github.com/aws/aws-appsync-community/issues/186) detailing their proposal for Enhanced Subscription Filtering. Once this feature is released, DataStore will be able to take advantage of it to enable use cases such as this one.

[2021-11-10 14:43] meducati commented on #7534
Nice timing on my post then :)

@iartemiev
Do you think this will enable us to have an iterative Datastore syncExpression experience, so that we sync Model A, wait and sync Model B based on results from the first sync?

[2021-11-10 15:20] ramzihizi opened #9193 "Zipping the Local lambda dependencies after checking if the node modules exist"
### Is this related to a new or existing framework?

_No response_

### Is this related to a new or existing API?

_No response_

### Is this related to another service?

Amplify

### Describe the feature you'd like to request

Currently when running `amplify push` building the zip files for local lambda function does not alert when the node_modules is missing, and get pushed without dependencies.

[2021-11-10 16:13] flogy commented on #6845
`aws-amplify-react-native@5.0.6-unstable.14` works for me with `0.66.2`

[2021-11-10 16:20] iartemiev commented on #7534
@meducati, no, not in and of itself. This feature will allow you to use dynamic auth rules like [list of owners](https://docs.amplify.aws/cli/graphql-transformer/auth/#multiple-authorization-rules), [dynamic groups](https://docs.amplify.aws/cli/graphql-transformer/auth/#dynamic-group-authorization), and [field-level auth](https://docs.amplify.aws/cli/graphql-transformer/auth/#field-level-authoriza

[2021-11-10 16:25] adamlbailey commented on #5834
Confirming that this is still an issue using (v4.3.4). I understand Auth.sendCustomChallengeAnswer should resolve to a CognitoUser assuming the Define Auth Challenge Lambda handler responds with `response.failAuthentication` set to False. This would enable the client to retry a challenge in the same session by calling Auth.sendCustomChallengeAnswer again with the CognitoUser object returned from t

[2021-11-10 16:39] meducati commented on #7534
Sorry for not being clear. I understand some extra work is necessary on the Datastore side, but will this RFC have sufficient (once implemented), new features to allow for such an iterative sync process (else maybe we should post a comment?).

[2021-11-10 17:38] iartemiev commented on #7534
This is a separate feature altogether and it's not tied to the proposal in this RFC. It's possible that additional features will be required on the AppSync side, but they would be out of scope for this RFC.

[2021-11-10 17:58] kirkryan commented on #6845
I'll test in my latest RN project later tonight and report back my findings. 🤟

[2021-11-10 21:29] chrisbonifacio commented on #9131
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-11-10 21:29] #9131 closed

[2021-11-10 21:31] rabbitXIII commented on #8967
Upgraded from `aws-amplify` v3.3.3 to v4.3.5 and I'm now seeing the same issue.  I have no direct dependency on `tslib` within my project

[2021-11-10 21:42] evcodes commented on #8376
Hi, we have been able to reproduce this issue and are looking into a solution for you. Thank you for bringing this up

[2021-11-10 23:09] zakyg commented on #6320
First I've had to jump through hurdles to get passwordless SMS signup to work (a basic login/signup flow these day), and now this. Maybe there is a way I can enable username/password login only for server to server calls, then I can use the dummy password to auto sign-in users at confirmation?

Given that authentication is such a fundamental part of AWS (integrating a different solution would have

[2021-11-10 23:28] slikk66 opened #9194 "Unable to pass API gateway host name to calculate signature on custom cloudfront domain"
### Is this related to a new or existing framework?

React

### Is this related to a new or existing API?

REST API

### Is this related to another service?

APIGateway, Cloudfront

### Describe the feature you'd like to request

I have an existing API gateway with IAM protected functions.  I also have a Cloudfront distribution in front of it matches my website name.  I have a behavior setup on th

[2021-11-10 23:55] jlapier commented on #4729
I see the same behavior, posting here in the hopes it helps someone else out. My config has both Auth and API in it, and I think Amplify is double-parsing these, which has the same effect as configuring twice (and thus seeing the errant behavior where the token request happens twice). My work around was to configure them each individually.

Originally, I had this in my index:
[code]

And saw:
[cod

[2021-11-11 00:23] Yuanyuan-Shen commented on #3928
Where to find main.ts?

[2021-11-11 00:25] rabbitXIII commented on #4890
Can we get an update here?  I'm writing my own react login component using `aws-amplify` and see a similar issue.

`FORCE_PASSWORD_CHANGE` account status does not throw an error when the user logs in, so we have a CognitoUser to continue with a password reset flow using `Auth.completeNewPassword`.
`RESET_REQUIRED` account status from the Cognito console UI throws an error when the user logs in, so

[2021-11-11 00:38] Yuanyuan-Shen commented on #3928
I followed the tutorial to create a web app with language translation and text-to-speech function, and met `Error: More than one or no providers are configured, Either specify a provider name or configure exactly one provider`
![Error- More than one or no providers](https://user-images.githubusercontent.com/80495585/141215828-9de68694-d586-4170-9dad-c67959257624.JPG)

Has anyone found the solution

[2021-11-11 01:06] ranopriyo-neogy opened #9196 "Trying to hide Username, Password and SignIn button completely in React but not able to override default Amplify function"
### Is this related to a new or existing framework?

React

### Is this related to a new or existing API?

_No response_

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

I am trying to remove the two text fields along with Sign In button for the default login page but am not able to do so. I just want to keep Sign in with AWS and clear everyt

[2021-11-11 04:20] chrisbonifacio commented on #4890
@rabbitXIII If you're not using the ui components, which have been moved to their own repo, please open a new issue in this repo with your environment information and steps to reproduce the issue.

For anyone experiencing this issue with the UI components, I'm going to transfer this issue over to the UI repo and re-open for visibility. I'll also reach out to the UI team tomorrow to get some feedba

[2021-11-11 09:59] serjiosilent commented on #9176
Any thoughts?

[2021-11-11 15:38] gillkyle commented on #1792
I found a workaround that gets the job done for me, I'm using Amplify authentication to connect to Cognito without the rest of Amplify so I have all the Cognito variables I need to configure things as environment variables:

[code]

Amplify saves the `idToken`, `refreshToken`, and `accessToken` with a key in `localStorage` that includes the user pool client ID _as well as_ the last authenticated u

[2021-11-11 15:59] chrisbonifacio commented on #9176
Hi @serjiosilent 👋 I'm curious why you're using `aws-cognito-identity-js` separately if it is already a dependency of `aws-amplify`? I configured cookieStorage similar to you in my project and did not run into this issue.

[code]

localStorage

<img width="1455" alt="Screen Shot 2021-11-11 at 10 54 10 AM" src="https://user-images.githubusercontent.com/16952986/141328935-62e9f47c-674a-4f48-abbe-768

[2021-11-11 16:03] slavco86 commented on #9050
Same here! When trying to follow instructions in #8309 to get Amplify to send logs to Cloudwatch, at first I was unable to because of exactly same error - sequence token.
Once I have manually added a log inside the stream with some dummy data - everything worked as expected

[2021-11-11 16:22] evcodes commented on #9119
Hello @revmischa, we are currently blocked on this issue because one of our dependencies brings in the polyfills so we need to wait for the sdk team to fix that. Afterwards we can remove the react-native dependency in the core package.

[2021-11-11 16:42] serjiosilent commented on #9176
Hi @chrisbonifacio! Thanks for respond. I'm using CUSTOM_AUTH flow type for password less authentication and I had an error relates on `sendCustomChallengeAnswer` method - user object didn't contained this method. And using `CognitoUser` instance from `aws-cognito-identity-js` resolved this issue

[2021-11-11 17:11] serjiosilent commented on #9176
@chrisbonifacio I found a bug. I saved user object from response to redux-store and after that put it to sign in, but this user does not have `sendCustomChallengeAnswer` method. So, right now I'm saving user object on a temp variable on the code and it works without `CognitoUser` instance. Also, removing `CognitoUser`  fixed issue with cookieStorage

[2021-11-11 17:11] #9176 closed

[2021-11-11 17:12] talaikis commented on #4040
This issue is fired every time null message is published in order to delete retained message.

[2021-11-11 17:13] chrisbonifacio commented on #9176
oh 😮 I was going to point out this code snippet from the docs on using `Auth` library with a custom auth flow
https://docs.amplify.aws/lib/auth/switch-auth/q/platform/js/#custom-authentication-flow

`import { Auth } from 'aws-amplify';

Auth.configure({
    // other configurations
    // ...
    authenticationFlowType: 'CUSTOM_AUTH'
});

let challengeResponse = "the answer for the challenge";

Aut

[2021-11-11 18:06] josuemy commented on #6845
@floggy what steps did you take to make it work? It doesn't work for me with RN 0.66.2

[2021-11-11 18:29] gweisz-440it opened #9198 "API.cancel doesn't work"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-11 18:31] ashika01 commented on #9041
@synapdk I tried setting up Admin Query support for the API you called out. I was able to update the settings as need. Please refer to [this doc](https://docs.amplify.aws/cli/auth/admin/)

I added a function in `cognitoActions.js` created by our CLI for AdminMFA,
[code]

In my function/AdminQueriesXXX/app.js
[code]
async function setMfa() {
  let apiName = "AdminQueries";
  let path = "/mfaPref";

[2021-11-11 20:02] david-mcafee commented on #9198
Hi @gweisz-440it - perhaps you haven't included it in your sample, but have you tried `if(API.isCancel(error))` in your try / catch block, as outlined in the docs?

[2021-11-11 20:10] gweisz-440it commented on #9198
Hey @david-mcafee in the example isCancel receives an error, I have no error, since the api.graphql promise resolves correctly after some time (even though it was cancelled), please see the log times

[2021-11-11 20:16] moneebalalfi commented on #8758
@levelingup Hi, have you found the solution?

[2021-11-11 20:48] Hideman85 commented on #7534
I'm wondering, are you deeply involve with the AppSync team? Maybe the best would be to try to solve certain real world use cases together. User based policies and group based polices with transitive permission are pretty common in real world applications.

If you can demonstrate some cases like:
- Team > Channels > Messages
- Forum > Sub Forum > Sub Forum > ... > Post > Replies
- Organization > F

[2021-11-11 21:02] ranopriyo-neogy commented on #9196
I am able to remove the username and password fields however not able to remove the Submit Button. I don't see any available documentations at Amplify to achieve it.

<img width="581" alt="Screen Shot 2021-11-11 at 3 58 38 PM" src="https://user-images.githubusercontent.com/68603179/141368330-1bd78316-83fb-4fdc-bb58-d2fb0c462ac2.png">

[code]

[2021-11-11 22:05] kirkryan commented on #6845
I can confirm this has fixed the issue on RN 0.66.1

I simply ran npm install @react-native-picker/picker aws-amplify aws-amplify-react-native@5.0.6-unstable.14 and then a pod update (with repo update), rebuilt the project in Xcode and voila - working.

[2021-11-11 22:21] julien-tamade commented on #6212
I'm trying to find a way around this as well. I use an email alias for users to sign in and their cognito username is essentially a uuid. So if they wait too long to verify account or try to log back in without verifying, they get a user not found error instead of not confirmed because the alias isn't verified.

Few ideas I'm toying with:
Auto confirm user and alias in the presignup trigger and th

[2021-11-11 22:28] ranopriyo-neogy commented on #5298
I ran into similar issues while trying to remove the Submit Button; however, there is limited documentation on how to achieve it. Can anyone suggest how to do it?

**Code:**

[code]
 **Current:**

![Screen Shot 2021-11-11 at 5 26 16 PM](https://user-images.githubusercontent.com/68603179/141377855-b791e1e9-fa51-4c20-887a-18fa828dcab1.png)

**Expected**

![Screen Shot 2021-11-11 at 5 27 22 PM](https

[2021-11-11 22:53] flogy commented on #6845
Same as described by @kirkryan above 👍

[2021-11-12 02:34] Yuanyuan-Shen opened #9201 "Error: More than one or no providers are configured, Either specify a provider name or configure exactly one provider"
### JavaScript Framework

React

### Amplify APIs

Predictions

### Amplify Categories

predictions

### Environment information

<details>

[code]

</details>

### Describe the bug

I followed a tutorial to create a web app with the language translation and text-to-speech functions. After running the command `npm start`, the web page (localhost:3000) is shown.
![image](https://user-images.githubu

[2021-11-12 06:59] ShreyasBhandari opened #9202 "Datastore selective sync on multiple amplify environments"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-12 10:49] aneesrehman commented on #6291
Can we have some more explanation on this one?

[2021-11-12 10:53] mohammadid52 opened #9203 "No map resources found in amplify config"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-12 11:05] pawlako93 commented on #8967
I got this same problem

[2021-11-12 11:53] MRadzynski commented on #8967
Same here @chrisbonifacio @evcodes

[2021-11-12 17:17] revmischa opened #9204 "Cannot use namespace 'Observable' as a type"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-12 18:13] ashika01 commented on #9041
To reach out to cognito forum - https://forums.aws.amazon.com/forum.jspa?forumID=173.

I am moving this to discussion since this is more of a question than issue or bug.

[2021-11-12 18:13] #9041 closed

[2021-11-12 18:22] ashika01 commented on #9196
@ranopriyo-neogy is there a reason to wrap the `OAuthButton` inside the formsection? That might be bringing in the submit button.

Also is there a reason for not making use of `federated` prop here? Ref: https://github.com/aws-amplify/amplify-js/tree/main/packages/amplify-ui-components#amplify-authenticator-federated

[2021-11-12 18:27] ashika01 commented on #9188
@iris-rcrimp can you provide a code snippet for your storage calls? just to see what params are passed in these calls.

[2021-11-12 19:47] PeteDuncanson opened #9208 "Having ?code= on the query string seems to always be caught by some Cognito code"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-12 20:19] mguja-fcc opened #9212 "Getting error "error on fetching instances Error: No current user" with initial login."
Getting error "error on fetching instances Error: No current user" with initial login. If I refresh the browser than no issue fetching data from the database. It works fine until authentication token expires. I implemented authentication as per the example https://docs.amplify.aws/ui/auth/authenticator/q/framework/react/#use-cases below. I am fetching initial data under useEffect().

[code]

**Amp

[2021-11-12 20:56] ashika01 commented on #9208
@PeteDuncanson thanks for bringing this up. We will get on triaging this. While we do that, I just wanted to make a callout, the reason we might be looking for `?code` instead of what you are asking for in expected behavior would be for 3rd party /federated auth use cases. We gotta look deeper on this since we understand weirdness in implementation you are doing to get around.

[2021-11-12 21:11] jcoyne opened #9209 "Adding to package.json causes npm to report 23 new high vulnerabilities"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-12 21:13] jcoyne commented on #9209
It looks like this is related to https://github.com/aws-amplify/amplify-js/discussions/7569

[2021-11-12 21:25] hkjpotato commented on #5834
@adamlbailey
Can you provide your `package.json` along with your environment settings?

Please use the follow command:
[code]

Thanks ahead of time!

[2021-11-12 21:55] adamlbailey commented on #5834
@hkjpotato absolutely and thank you for taking a look!

environment:
[code]

package.json

[code]

Also, I have an aws premium support case open on this topic (case id: 9177186151). I believe there is a line out to an amplify SDM who was able to recreate.

Let me know how else I can be helpful.

[2021-11-14 11:48] tl1993 opened #9215 "Local storage is missing an ID Token, Please authenticate error when using SignIn with custom authentication on react-native"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-14 11:51] timorss commented on #9215
Same happens to me

Did someone solve it?

[2021-11-14 19:45] sacrampton opened #9218 "DataStore SQLite not compatible with Android API Level 30 - Invalid Database Handle"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-14 20:00] dbeck121 commented on #2498
I have the same problem and I did not find a solution. I tried thousands of regex strings but no solution so far. I am super frustrated now. Working for houres on this problem now.

[2021-11-14 23:50] sacrampton commented on #9218
Hi @iartemiev - one for your SQLite Adapter.

[2021-11-15 00:59] iartemiev commented on #9218
I just loaded up the application I use for testing DataStore with the SQLite adapter on react-native@0.65.2 on a virtual Pixel 5 device running Android 11 / API 30 and did not get any errors. Tested `DataStore.start`, `clear`, `observe`, `save`, `query`, and `delete`.

Could you try deleting the application from the device (including any application data) and then re-installing it?

If that doesn'

[2021-11-15 01:03] iartemiev commented on #9218
Another thing you can try: https://github.com/andpor/react-native-sqlite-storage/issues/496#issuecomment-963869396

[2021-11-15 07:34] sacrampton commented on #9218
Hi @iartemiev - we try this (https://github.com/aws-amplify/amplify-js/issues/9218#issuecomment-968413088) - \ - andpor/react-native-sqlite-storage#496 (comment)'

The errror gets resolved, but response of datastore query gets very slow like the way it was working before introducing sqlite in datastore.

[2021-11-15 07:48] sacrampton commented on #9218
@iartemiev - responses to your questions:

1. What are the steps you took to upgrade to Android API 30?

2. Which version of React Native are you on?

3. Do you see this error when your app first starts up or after some user action is taken?

4. If on start, which DataStore method is getting called right before you see this error?

5. Are you experiencing this in an emulator or a physical device?

[2021-11-15 18:50] calebpollman commented on #6845
Fix has been released in `aws-amplify-react-native@6.0.1`

[2021-11-15 19:37] chrisbonifacio commented on #9212
Hi @mguja-fcc 👋 thanks for raising this issue. I tried setting up a new amplify app with a basic auth flow and used the code snippet you shared but did not run into any issues. Maybe I'm not understanding your use case.

Can you copy/paste the contents of your package.json file here?

1. Are you getting this error before or after logging in?
2. What do you mean by "How can I fetch data only after

[2021-11-15 20:03] sacrampton commented on #9218
Hi @chrisbonifacio & @iartemiev - some further updates

We have upgraded the react-native version to 0.65.2 but sqlite issue is still there for API level 30.

The AWS lib version which we are using currently is - "aws-amplify": "^4.1.3-rn-sqlite.5"

[2021-11-15 20:27] iartemiev commented on #9218
Looks like you're still on the preview version of Amplify. You can upgrade to latest, but then just make sure to follow the React Native > Use SQLite portion of [this section](https://docs.amplify.aws/lib/datastore/getting-started/q/platform/js/#option-1-platform-integration) of the docs. I'm not sure that would have any effect on this issue, but it's still a good idea to upgrade to the stable ver

[2021-11-15 23:56] mguja-fcc commented on #9212
Hi,

   I was able to figure it out. It actually worked the way it should. I moved my pos authentication event to `<AmplifyAuthenticator handleAuthStateChange={handleAuthStateChange}>` where `handleAuthStateChange` function is fetching data from the database. I do not fetch data from `useEffect` react hook since it tries to fetch data before authentication happens.

[2021-11-16 00:32] 24jr opened #9224 "SvelteKit support"
### Is this related to a new or existing framework?

New framework

### Is this related to a new or existing API?

_No response_

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

I along with many others are running into some issues trying to use sveltekit with aws amplify. I'm not sure if there is a formal feature request to get support for i

[2021-11-16 00:32] 24jr opened #11421 "SvelteKit support"
### Is this related to a new or existing framework?

New framework

### Is this related to a new or existing API?

_No response_

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

I along with many others are running into some issues trying to use sveltekit with aws amplify. I'm not sure if there is a formal feature request to get support for i

[2021-11-16 01:14] chrisbonifacio commented on #9212
Ahh, nicely done! Glad to hear it's working for you 😄

[2021-11-16 01:15] #9212 closed

[2021-11-16 09:48] ltrojan opened #9225 "formFields not working in Vue 3.2.22"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-16 12:57] willianantunes commented on #6236
Hi everyone! I've made a blog post explaining [how to do SSO (single sign-on) with Cognito](https://www.willianantunes.com/blog/2021/11/sso-with-cognito-through-the-authorization-code-grant-type/). All the code can be consulted [here](https://github.com/willianantunes/tutorials/tree/master/2021/11/sso-cognito-authorization-code-grant-type), including the functional tests. I explain there the limit

[2021-11-16 13:10] revmischa commented on #9204
Also getting this error from `subscription-handshake-link.d.ts`

[code]

Setting `zen-observable-ts@0.8.19` at the top level package.json didn't seem to help much
[code]

[2021-11-16 16:05] chrisbonifacio commented on #9225
Hi @ltrojan 👋 thank you for raising this issue. We've since moved our UI library to a separate repo so I will transfer this issue over for you for better support.

[2021-11-16 16:28] hkjpotato commented on #5834
Yes, I am trying to reproduce the issue. I think in my case it works fine in happy path (if the I provide the correct secret code in the response), but sometimes fails and I cannot retry. I need to restart the whole initAuth.

I will look more into it.

[2021-11-16 16:39] abel30567 opened #9226 "Subscription Timeout too short, ack from AWSRealTime was not received on CONNECTION_INIT_TIMEOUT"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-16 16:48] adamlbailey commented on #5834
Thanks @hkjpotato that is consistent with my findings.

[2021-11-16 18:40] chrisbonifacio commented on #8356
Hi @coe720 👋 I have not been able to reproduce this issue. I see that you mentioned having created a new RN project and it seemed to be working there but that it was still happening in others. Let me know if you're still in need of assistance.

[2021-11-16 21:20] ashika01 commented on #9224
@24jr Could you detail us some of the workaround you did and why you have to do it? Right now, we are also waiting on https://github.com/aws/aws-sdk-js/issues/3673. (Side note: Erik who opened up the issue is from our team). But if you have other things you think can be done in amplify that can unblock svelte usage, we would like to learn more of this.

[2021-11-16 22:12] ericclemmons commented on #9196
So I can better understand your use-case, it sounds like you need to replace the entire Sign In screen with just the _Sign in with AWS_ button (and perhaps some header text.

Does the `Authenticator` provide any additional value to you then?
(It also looks like the Sign Up screen is hidden/removed, too).

It sounds like a custom button that calls `Auth.federatedSign()` would meet your needs more e

[2021-11-16 22:33] Samaritan1011001 commented on #8506
@yonatanganot and @ahtokca the PR has been merged and released. Please try out the latest version `@aws-amplify/pushnotification@4.3.4`

[2021-11-16 22:39] 24jr commented on #9224
Yeah that one was one I looked at and I don't want to repeat stuff of course but not sure if there was really a sveltekit focused issue to find solution but rather a mish mash of a bunch of things.  So for me this is where I'm at. I'll just go over everything best I can remember

Standard skeleton svelte-kit project https://kit.svelte.dev/
[code]
I used aws amplify admin ui to create my backend so

[2021-11-16 22:57] lindsaybloomsonos opened #9231 "Next.js SSR Build Error"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-16 23:34] kmagilavy commented on #8967
Seems to be an issue specific to the new geo module of aws-amplify, which is only available starting with 4.3.0.

I downgraded (npm i aws-amplify@4.2.11) and the issue went away. Going to hold there and look into it more.

It appears that **@aws-amplify/geo** introduced in 4.3.0 has a dependency on **@aws-sdk/client-location: 3.22.0**.

**@aws-sdk/client-location: 3.22.0** has the dependency on ts

[2021-11-16 23:37] ranopriyo-neogy commented on #9196
Thanks, @ericclemmons / @ashika01  - I solved it using Oauth button wrapping it in AmplifyAuthenticator.

[code]

[2021-11-17 00:24] #9196 closed

[2021-11-17 05:03] mozadeh commented on #3410
I used https://www.npmjs.com/package/react-native-inappbrowser-reborn with "ephemeralWebSession" set to on and alert was not shown

[2021-11-17 05:09] sacrampton commented on #9218
Hi @iartemiev & @chrisbonifacio

We have tried everything, by upgrading react native version to 0.65.2 & upgrading aws-amplify version to 4.3.6

It works find on Android 10 - but fails on Android 11 with API Level 30. It works on Android 11 with API Level 29.

With Android 11 / API Level 30 the following error is thrown as soon as you start datastore.

[code]

[2021-11-17 05:10] rubant commented on #9231
+1 I'm also seeing this issue. Started happening today.

[2021-11-17 13:34] vkanagarajan opened #9236 "Can't find variable : self"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-17 13:57] iartemiev commented on #9218
Have you been able to reproduce this issue on an Android emulator as well?

[2021-11-17 14:55] dreamorosi opened #9237 "Cache utility in browser support for async callback"
### Is this related to a new or existing framework?

_No response_

### Is this related to a new or existing API?

Cache

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

Allow to use async functions as `callback` for the `Cache.getItem()` function. This would help implementing a lazy loading caching mechanism with a remote call when there's a

[2021-11-17 15:53] hkjpotato commented on #5834
@adamlbailey sharing what I have found so far. I use postman to send out the request, and check the cloudwatch log of the "retry" on "VerifyAuthChallenge" lambda, and notice that even I change the "ChallengeResponses" in request, that lambda call does not receive any input. I need to check more on the cognito/ambda side, will keep you updated.
![Screen Shot 2021-11-17 at 10 52 12 AM](https://user-

[2021-11-17 16:31] sammartinez commented on #9236
Thanks for opening this issue @vkanagarajan. Can you provide your `package.json` along with your environment settings?

Please use the follow command:
[code]

Thanks ahead of time!

[2021-11-17 16:35] vkanagarajan commented on #9236
System:
    OS: macOS 11.0.1
    CPU: (6) x64 Intel(R) Core(TM) i5-8500B CPU @ 3.00GHz
    Memory: 42.70 MB / 16.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 13.10.1 - /usr/local/bin/node
    npm: 6.13.7 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  Browsers:
    Chrome: 96.0.4664.45
    Firefox: 94.0.1
    Safari: 14.0.1
  npmPackages:
    @babel/core: 7.4.5 => 7.4

[2021-11-17 16:40] sammartinez commented on #9236
Thanks for this, super helpful. In looking at your dependencies, I am noticing that your `aws-amplify` version is a previous version to what is current. For Amplify DataStore dependencies for version `^3.6.1` does have a dependency on our version 4 of the library. Please see [this](https://github.com/aws-amplify/amplify-js/blob/main/packages/datastore/package.json#L51-L53). Please look to upgrade

[2021-11-17 16:58] kevinRR opened #9238 "Trigger changed to initial default after every deployment"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-17 18:22] sammartinez commented on #9231
For clarity for us, are you using Amplify JavaScript for this? I am not seeing any dependencies related to us and wanted to make sure this issue goes to the location. Please let us know.

[2021-11-17 18:27] hkjpotato commented on #5834
I find out the mistake I made for the testing, I am using the template here https://aws.amazon.com/blogs/mobile/implementing-passwordless-email-authentication-with-amazon-cognito/ first to create those lambdas, and in the "CreateAuthChallenge" lambda I use the sample code regex to extract the previous secretCode
` secretLoginCode = previousChallenge.challengeMetadata!.match(/CODE-(\d*)/)![1];`

Th

[2021-11-17 18:46] adamlbailey commented on #5834
@hkjpotato

No, the issue I am referencing has to do with the DefineAuthChallenge lambda responding back to the client not to fail authentication and not to issue tokens. In this case, my understanding is we should be able to retry the challenge without needing to initiate a new authentication session.

More specifically here, when I call Auth.sendCustomChallengeAnswer with the wrong challenge ans

[2021-11-17 18:48] #7901 closed

[2021-11-17 19:02] hkjpotato commented on #5834
@adamlbailey I see, I will play around with the Amplify Auth category this afternoon. At least from Postman, I can see the retry working, so if anything wrong it should be an issue in the frontend code itself. Will update you with my finding.

If helpful, maybe we can hop on a discord call to pair programming on this sometimes later.

[2021-11-17 19:10] ashika01 commented on #9224
@24jr Thanks for the very detailed summary. This is super useful. To support svelte, it would be cross team effort and some help from SDK side as well. We have this discussion in our UI framework - https://github.com/aws-amplify/amplify-ui/discussions/469

I am going to move this issue to UI since they will be helping with the framework and if there are bits that needs to be implemented on JS and

[2021-11-17 19:12] chrisbonifacio commented on #9238
Hi @kevinRR this is more of a CLI issue but I believe this is the expected behavior. If you change resources in the console, your local project won't know about it and the next time you run `amplify push` it will override any changes you might've made.

So, I think the only way to avoid this is to setup the trigger through the CLI by running `amplify update auth` and selecting `Walkthrough all the

[2021-11-17 19:22] hkjpotato commented on #5834
@adamlbailey when I use the Auth js code to test in browser the retry still works. Below is the call I made.
![Screen Shot 2021-11-17 at 2 17 52 PM](https://user-images.githubusercontent.com/9324418/142267923-9fa37104-4e44-467f-8cf8-0f0504114626.png)

 I am not sure if it is because our lambda triggers setting is different, I setup them manually as follow
![Screen Shot 2021-11-17 at 2 21 22 PM](ht

[2021-11-17 20:27] adamlbailey commented on #5834
@hkjpotato that's helpful. Yes, that's what I'm expecting but not experiencing. Would be great to hop on a call so we can look together. I joined the amplify discord and sent you a friend request. Let me know how best to connect there.

[2021-11-17 20:43] fernandomoraes commented on #3933
@abhishek6498

`Auth.federatedSignIn({ provider: 'Google', customState: 'random' });`

This is the snippet code that I am using here, I've tested with a lot of browsers.

[2021-11-17 21:01] hkjpotato commented on #5834
@adamlbailey I accept the request on discord but it seems you are offline now. We can also sync sometimes 12PM-6PM EST tomorrow if you want.

[2021-11-17 21:28] zandvakiliramin opened #9241 "AWS Amplify customized Auth sign-in gets stock (pending) randomly on android, but works perfectly on ios and both simulators"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-17 22:20] Phoenixmatrix commented on #9204
Hitting this issue myself. A pain since I'm not sure how to fix it without breaking something else...

[2021-11-17 22:59] sammartinez commented on #7662
Hey folks, I wanted to provide an update here. We are looking to add this support of Lex 2. However, at this time, it's looking to be early next year, 2022, that this will be worked on. We will provide more details in the coming weeks around this. Thanks for using Amplify !!

[2021-11-17 23:00] ashika01 commented on #1550
@tiomun this seems like a limitation even from s3 sdk side. There was FR -> https://github.com/aws/aws-sdk-js/issues/1181

I would suggest reaching out S3 directly if this is a feature for s3 to provide. A workaround in mentioned in the linked issue above. You can try to use that.

[2021-11-17 23:05] adamlbailey commented on #5834
Huge thank you to @hkjpotato for helping me figure this out!

My issue was that the CreateAuthChallenge lambda was not returning the triggering event after setting `response.privateChallengeParameters` **every time**. I was making the incorrect assumption that setting `response.privateChallengeParameters` once was sufficient for the entire session.

Here is that lambda with the appropriate correct

[2021-11-18 13:08] yogeshwar607 commented on #9145
@chrisbonifacio any updates over this ?

[2021-11-18 15:31] geauser commented on #8585
Any solution to this issue in sight?

[2021-11-18 15:38] hkjpotato commented on #5834
@adamlbailey glad to help :)

[2021-11-18 15:43] geauser commented on #6320
@elorzafe It's been a while since this issue has been open, can we get at least some visibility on when the proposed feature will be implemented?

[2021-11-18 18:51] catherine-augustine commented on #3474
Amplify build fails with the error .. `The specified command ("build:ssr") is invalid.  `
Do we have SSR support?

[2021-11-18 18:53] #5834 closed

[2021-11-18 18:54] hkjpotato commented on #5834
Close since the issue is being addressed.
We can use this for future reference when similar issues occur.

[2021-11-18 20:18] chovyprognos commented on #443
I'm having issue with svelte-kit and `adapter-static` working

[2021-11-18 21:24] Visible-Radio commented on #1069
I've got a similar use case and am wondering what the best way to handle it is.

[2021-11-18 21:43] chrisbonifacio commented on #9226
Hi @abel30567 👋 thanks for raising this issue. Currently trying to reproduce this. So, the behavior you're seeing is that the websocket is taking more than 15 seconds to connect? That seems unusually long.

I did notice that one of your dependencies, `@react-native-community/netinfo`, is out of date. Could you try upgrading it to the latest version of 7.1.2 and see if that makes a difference in co

[2021-11-18 22:30] sammartinez opened #9249 "Unable to have Content management working on Amplify console after migration to CLI 7+"
### Discussed in https://github.com/aws-amplify/amplify-js/discussions/9245

<div type='discussions-op-text'>

<sup>Originally posted by **duranmla** November 18, 2021</sup>
Hi!

I am using `amplify-cli` (@aws-amplify/cli) version `7.3.6`, and I have migrated as suggested https://docs.amplify.aws/cli/migration/override/ my resources, while everything within the app seems to be working fine that pr

[2021-11-18 22:39] TreTuna commented on #8967
We just shipped `aws-amplify@4.3.8`, which uses `@aws-amplify/geo@1.1.8` and updates `@aws-sdk/client-location` to version `3.41.0`. This should solve the problem here, but if you do still see this, please let us know!

[2021-11-18 22:39] #8967 closed

[2021-11-18 22:44] #9249 closed

[2021-11-18 23:25] ashika01 commented on #9185
@ffxsam Whats the issue on amplify you are seeing as result of the `paho-mqtt` broken??

[2021-11-18 23:44] ffxsam commented on #9185
@ashika01 It's all detailed in the link above.

[2021-11-18 23:50] ashika01 commented on #9185
I am working on trying to reproduce the issue locally in a sample but I am having issues with just trying to connect. I keep getting `websocket connection failed` errors

[2021-11-19 00:15] sasssssssa opened #9252 "Storage API doesn't throw error even if the CORS error"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-19 02:51] niallmc opened #9254 "Next.js SSR Build Error - Lambda Issue"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-19 05:55] alanbo commented on #3391
What about if somebody only uses `@aws-amplify/auth` without the whole `aws-amplify` library, to reduce the bundle size? There is not hub so it's not possible to listen for events. Ideally, amplify library would allow to configure the final redirect or prevent it altogether, just removing the code from the url.

[2021-11-19 08:27] SofiyaDSRC commented on #6177
Still we are facing this issue

Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0.
Use '--warning-mode all' to show the individual deprecation warnings.
See https://docs.gradle.org/6.7/userguide/command_line_interface.html#sec:command_line_warnings
404 actionable tasks: 2 executed, 402 up-to-date
C:\Project\dara_mobile_app\node_modules\@aws-amplify\pushnoti

[2021-11-19 08:56] chrisbonifacio commented on #9254
Hello @niallmc 👋 thanks for raising this issue. This seems more related to the console than the JS library so I will transfer the issue over for better support.

[2021-11-19 10:30] Akash-T2S opened #9255 "Datastore throws duplicate subscriptions - Intermittent"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-19 10:45] uzbeki commented on #1145
waiting on the fix....

[2021-11-19 14:13] ZOICloudServicesCompany opened #9257 "Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'byteLength')"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-19 14:57] DarkestMisery opened #9258 "ResourceConflictException when deploying my App"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-19 16:41] chrisbonifacio commented on #9258
Hi @DarkestMisery 👋 thanks for raising this issue. However, it seems this is more related to the console than the JS library so I will transfer this issue over for better support.

[2021-11-19 16:58] eettaa opened #9259 "Using mocked JWT's with Frontend Libraries to Call Mock API"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-19 17:13] abel30567 commented on #9226
@chrisbonifacio I tried updating it and got the same issue. I figured out my issue though. It turns out the device I was developing with had it's time delayed for more than 30 seconds. I synced my device's NTP Server and now it seems to be working with that update.

[2021-11-19 17:13] #9226 closed

[2021-11-19 19:30] ashika01 commented on #9257
@ZOICloudServicesCompany what are you migrating from? What is your amplify package version?

[2021-11-19 20:24] revmischa opened #9260 "Browser Extension Support (Auth)"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-19 23:05] joebernard opened #9263 "Amplify build fails for Next.js v12"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-20 00:54] joebernard commented on #9263
Same issue with the package `eslint-config-airbnb: 19.0.0`. I imagine there are others that now require a newer version of node. Looks like at a minimum we need v12.22.0.

[2021-11-20 04:02] ZOICloudServicesCompany commented on #9257
It was from an older version of Amplify to 7.3.  I was testing out GEO and had to move up from 4.3 to 7.3.  Storage was one of the assets that were migrated in the process.  As soon as we did this, S3 stopped working.  We can't figure out how to get uploads to work again.  Our code didn't change.  Can we move back to 4.3 until all this is worked out?  Not sure if that will result in other issues.

[2021-11-20 12:10] BernhardSmuts commented on #612
I really want to buy into amplify, been trying to use it for 1.5 years now, but it feels like it's been forgotten about and it would almost be easier to just custom code everything.
Mocking not working most of the time.
Auth is a nightmare and not easy to use unless you jump through the exact hoops they want you to (ie: THIS 2 YEAR OLD ISSUE).
Docs cover 0.1% of the details needed to implement any

[2021-11-20 14:55] henobi opened #9264 "urgent: Facebook login issue"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-21 10:04] jleskovar commented on #6072
To anyone else that still sees this issue - be sure to use <amplify-auth-container>, and have your main "Logged In" component as a conditional sibling along side <amplify-sign-in>, like so:
[code]

[2021-11-21 12:29] ZOICloudServicesCompany commented on #9257
hey guys migration is the wrong word.  I upgraded the resources.  https://docs.amplify.aws/lib/troubleshooting/upgrading/q/platform/js/

[2021-11-21 17:07] nubpro commented on #9255
did u unsubscribed the observables within the return function of the useEffect?

[2021-11-21 21:53] nypinstripes commented on #8967
Thanks

[2021-11-21 23:27] hisham opened #9265 "aws-crypto lib: Cannot read properties of undefined (reading 'byteLength')"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-22 05:45] Akash-T2S commented on #9255
We do unsubscribe at componentWillUnmount. The issue which I reported is not consistent. Out of 10 subscriptions 3 gets duplicated.

[2021-11-22 16:55] evcodes commented on #9264
Hey @henobi, I am reproducing this now. Give me at most 2 days and I will get back to you.

[2021-11-22 17:19] chrisbonifacio commented on #9263
Hi @joebernard 👋 Thanks for raising this issue. Because this is a console issue, I will transfer to that repo for better support.

[2021-11-22 18:26] zandvakiliramin opened #9269 "Amplify lambda functions error: jest-haste-map: Haste module naming collision"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-22 18:34] evcodes commented on #9264
I was able to successfully

[2021-11-22 18:40] ZOICloudServicesCompany commented on #9265
we are having the same issue.

[2021-11-22 19:14] chrisbonifacio commented on #9269
Hi @zandvakiliramin 👋 this seems like it might be more related to the CLI if this behavior is being experienced on more than one framework. I'm going to transfer this over to the CLI repo for better support.

[2021-11-22 20:07] cespin commented on #9238
@chrisbonifacio , I'm having the exact same issue in multiple projects. In one of these projects it's always the same Cognito trigger that appears blank all the time. In the other one it's all of them.

I've tried multiple combinations of `amplify update auth ` with the `Walkthrough all the auth configurations` option like you recommended. I've even tried removing the functions, doing and `amplify

[2021-11-22 20:16] SaileshKumar opened #9270 "OAuth - Error handling auth response. Error: invalid_grant"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-22 20:43] henobi commented on #9264
Hi @evcodes, thank you for reproducing this issue.

The error I'm running into is
[code]

[2021-11-22 21:07] juanD1 commented on #8776
Hello, I am experiencing this issue

I have tested this out using React Native CLI v0.64.1
 "aws-amplify": "3.4.3",
    "aws-amplify-react-native": "4.3.2",
    "aws-sdk": "^2.831.0",

    in iOS 15

[2021-11-22 22:10] hisham commented on #6494
@jamesaucode - I verified the s3 uploads now work when clock is wrong, however the original bug I filed this ticket for (cognito / rest requests) still exists and I still have to keep the workaround I detailed in https://github.com/aws-amplify/amplify-js/issues/6494#issuecomment-669592409.

[2021-11-22 22:30] ashika01 commented on #9257
What do you mean by amplify to 7.3? Could you copy your amplify `package.json`?

[2021-11-22 22:43] cespin commented on #9238
@kevinRR , I fixed this with:

- Using the new [amplify override functionality](https://docs.amplify.aws/cli/auth/override/)
- Adding a [custom stack ](https://docs.amplify.aws/cli/custom/cloudformation/)

My _override.ts_ looks like this:

[code]

At this point what's missing is a resource policy for the Pre Signup Lambda. I put that in the custom stack, the resource looks like this:

[code]

You

[2021-11-22 23:30] ashika01 commented on #9050
I have merged in #9181. Thank you @aaronlna. It is now in `aws-amplify@unstable` and should be released in `@latest` thursday during our weekly release cycle. Could you verify by upgrading to `unstable` and let us know if there are any issues?

[2021-11-22 23:54] jamesaucode commented on #6494
@hisham Thanks. I will look into the cognito/rest issue.

[2021-11-23 02:42] txnico opened #9273 "API requests error with axios createError"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-23 05:04] the-smart-home-maker opened #9274 "Can not build React Native app on Android any more since package upgrade - error "local variable mReactInstanceManager is accessed from within inner class; needs to be declared final""
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-23 08:15] chrisbonifacio commented on #9270
Hi @SaileshKumar 👋 thanks for raising this issue. Did you only update the `@aws-amplify/auth` package? It looks like that's in v4 but `aws-amplify` is still in v3. Could you upgrade all your amplify packages to make sure they're compatible?

This page might help: https://docs.amplify.aws/lib/troubleshooting/upgrading/q/platform/js/

Otherwise, I noticed that you have two redirect signin and signou

[2021-11-23 09:24] brandart opened #9275 "method param missing at CognitoUser.updateAttributes(...) in index.d.ts of amazon-cognito-identity-js package"
### JavaScript Framework

Not applicable

### Amplify APIs

Authentication

### Amplify Categories

auth

### Environment information

<details>

[code]

</details>

### Describe the bug

the `CognitoUser.updateAttributes(...)` from `amazon-cognito-identity-js` in `index.d.ts` file is missing `clientMetadata?: ClientMetadata` as a method parameter.

The `updateAttributes(...)` method in CognitoUse

[2021-11-23 11:09] henobi commented on #9264
It's related to that: https://github.com/aws-amplify/amplify-ios/issues/1492

[2021-11-23 11:11] henobi commented on #9264
And also here: https://forums.aws.amazon.com/thread.jspa?threadID=347111

[2021-11-23 11:56] yonatanganot commented on #8506
Hey @Samaritan1011001,

Thanks, it is fixed the issue!

[2021-11-23 12:55] guibovo commented on #6845
@calebpollman I have just created a new project using aws-amplify-react-native@6.0.1 and I still get this error

[2021-11-23 13:57] joseasanchezzz91 commented on #6177
Hello, I am also having the same issue.

Running npx jetify not working for me

Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0.
Use '--warning-mode all' to show the individual deprecation warnings.
See https://docs.gradle.org/6.5/userguide/command_line_interface.html#sec:command_line_warnings
467 actionable tasks: 6 executed, 461 up-to-date
/Users/acl/De

[2021-11-23 14:53] SofiyaDSRC commented on #6177
1) Delete the .gradlew and build files inside android folder.
2)Delete the package-lock.json and node modules.
3) Without push notification package install and then install the push notification package with version 4.2.9

Its worked for me

[2021-11-23 17:03] evcodes commented on #9264
Are you running into this issue on the browser, react native, or ios?

[2021-11-23 18:18] henobi commented on #9264
In the browser (React)

[2021-11-23 18:55] brandart commented on #9275
hi, I created a PR for that :) maybe you can review it

[2021-11-23 19:28] chrisbonifacio commented on #9264
@henobi can you try re-entering your FB App ID and App Secret through the CLI by running `amplify update auth`?

If you can get a jwt from FB, can you check the token's payload at jwt.io and see what the `iss` (Issuer URL) property might be? Maybe it's changed from Facebook?

[2021-11-23 19:29] calebpollman commented on #6845
@guibovo 👋 That is expected and is documented in our [README](https://github.com/aws-amplify/amplify-js#amplify-4xx-has-breaking-changes-for-react-native-please-see-the-breaking-changes-below).

[2021-11-23 21:26] KalvinWei commented on #9140
I experienced the same.

[2021-11-23 22:52] jamesaucode commented on #6494
I was able to repro the problem. I will track down the root cause and give an update here when I do 😄

[2021-11-23 22:52] jamesaucode commented on #6494
re-opening this so I can track it

[2021-11-24 01:06] tyler-morales commented on #8011
Where is this in the docs? I've been looking for this solution, but I have been unable to find this solution?

Thanks so much for this!

[2021-11-24 02:01] ibrahimcesar opened #9277 "Forgot password needs "space" to be properly traslated"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-24 05:49] the-smart-home-maker commented on #7251
Is there any update on this issue? I am still running into this issue with aws-amplify 4.3.8:

<img width="1061" alt="Bildschirmfoto 2021-11-24 um 06 47 06" src="https://user-images.githubusercontent.com/818329/143182092-c6970ab9-47b3-4a8c-af23-3048a33fc31b.png">

Strangely, even after deleting all endpoints for the given user with delete-user-endpoint, the problem persists...

[2021-11-24 09:29] kylekirkby commented on #7251
@the-smart-home-maker there definitely needs to be something done with this issue, it has been going on for way too long and needs some crazy "workarounds" that are not guaranteed to work :D

[2021-11-24 15:46] hackrx commented on #5924
@Afrogoth are you able to solve this issue? I am also facing the same issue.
I added one more path to the rest api by following this command:
[code]
before that for the first time I only created single restapi named as `checkUsername` with path `/checkusername`. It works fine, I can do a query from front-end, but if I am adding another path to it let's say `/checkifuserexists` then it is giving no

[2021-11-24 16:09] BigPun86 commented on #9264
+1

[2021-11-24 16:19] chrisbonifacio commented on #9236
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-11-24 16:19] #9236 closed

[2021-11-24 17:16] frenjaso commented on #3410
+1 on what bitcot's comment.  From reading through the chat here, it seems that it's possible to customize both the app name and url in the pop-up message, but the fact the message reads "...to **Sign In**" when calling `signOut` is extremely confusing for users.

Note that I'm using the Swift library.

Any help on this would be greatly appreciated :)

[2021-11-24 18:00] ashika01 commented on #5924
@Afrogoth Apologies for not getting on this. I was on break with Amplify for a while. I would like to reproduce the issue if it is still an issue.

@hackrx did you have the rest api was working the first time but not after the updating the backend resource I would check with aws-amplify/cli team first.

[2021-11-24 22:15] benkirbycodes opened #9279 "Field-level using Groups returns null on CREATE/UPDATE calls"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-25 05:54] hamedhemmati opened #9280 "GraphQL transformer V2 @index not creating queries"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-25 06:55] sacrampton commented on #9218
Hi @chrisbonifacio  @iartemiev

To fix this we added AsyncStorage_db_size_in_MB=1024 in the gradle.properties file.

[2021-11-25 06:55] #9218 closed

[2021-11-25 16:58] hisham opened #9281 "Pinpoint requests fail if client's clock is not accurate with error "Signature expired" or "Signature not yet current""
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-25 16:59] hisham commented on #6494
Thanks @jamesaucode , fyi, I also found similar issue with analytics (pinpoint) requests - I filed https://github.com/aws-amplify/amplify-js/issues/9281 for it. Thanks!

[2021-11-25 19:35] edwint88 commented on #7951
I kind of have the same problem, the analytics works on dev and test and then on prod they don't work at all. Is a must to have identiyPool with the analytics?
The strange part is that on the first 2 envs I don't have any identityPool and works

[2021-11-26 05:55] felixolivares commented on #5903
I had this same problem when uploading/listing files: axios-http-handler Error: Request failed with status code 403. I went  through all the related issues and tried all posible solutions and couldn't make it work. But then I tried something different, I knew it was a permissions error so I went again to the configuration: `amplify storage configure` and selected Both for the Auth/Guests Users and

[2021-11-26 05:56] felixolivares commented on #5273
I had this same problem when uploading/listing files: axios-http-handler Error: Request failed with status code 403. I went through all the related issues and tried all posible solutions and couldn't make it work. But then I tried something different, I knew it was a permissions error so I went again to the configuration: amplify storage configure and selected Both for the Auth/Guests Users and In

[2021-11-26 09:46] renegoretzka commented on #9118
Hi, did you give the Lambda function permissions to query from the API? If not, you would need to update your function and give it permissions for the API by using `amplify update function`.

[2021-11-26 09:52] laclance opened #9282 "DOMException: Failed to execute 'transaction' on 'IDBDatabase': The database connection is closing."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-26 15:16] paulsjohnson91 opened #9283 "Amplify Auth authenticator in React Native has no date picker"
### Is this related to a new or existing framework?

React Native

### Is this related to a new or existing API?

Authentication

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

I'm currently trying to incorporate the Amplify HOC Authenticator in a react native application.

As a required field I have birthdate on cognito (due to apple's lega

[2021-11-26 16:57] JamieSlome opened #9284 "Backend Deployments Fail When Run at the Same Time"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-26 17:38] jo2 commented on #9279
I'm facing the same error.

[2021-11-26 18:08] eettaa commented on #4751
+1 for making this consistent. I just spent many hours debugging the details of the Amplify Auth library (access token), the Amplify mock api GraphIQL auth mocking (id token afaict), and the cloud-based AppSync Query generator (id token).  This behavior is inconsistent and totally undocumented.

[2021-11-26 23:45] sergiorodriguez82 opened #9285 "getting DOMException: Failed to execute 'get' on 'IDBIndex': No key or key range specified when deleting item in datastore"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-27 04:04] jhechtf opened #9286 "Update types for Promises on Auth calls"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-27 05:58] dylan-westbury commented on #9274
Also getting

[code]

[2021-11-27 09:26] Itamaram opened #9287 "`CognitoUser.authenticateUserDefaultAuth` does not respect the flow in which a credential sign in gets redirected to a `CUSTOM_CHALLENGE`"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-27 15:32] sansavision opened #9289 "DataStore save wont persist updated data to DynamoDB"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-27 15:33] hackrx commented on #5924
@ashika01 I will let you know soon!. I was outside for a few days.
Will update my observations here.
Thanks for the follow-up.

[2021-11-28 05:33] the-smart-home-maker commented on #9274
Hi @dylan-westbury,

thank you! I can confirm that this quick fix works and allows me to build again. But I think this should be integrated into the master branch as well.

Best,
the_smart_home_maker

[2021-11-29 09:47] revmischa commented on #3435
I'm having a problem where a user logs out in a browser extension, invalidating their access token which is shared by the website associated with the extension. The token is successfully revoked, however the Auth API doesn't seem to know what to do when it gets an error from the API.

<img width="1273" alt="Screen Shot 2021-11-29 at 11 46 09 AM" src="https://user-images.githubusercontent.com/24513

[2021-11-29 14:44] chrisbonifacio commented on #9282
Hi @laclance 👋 thanks for raising this issue. In our [documentation](), we recommend listening to the signout event from the Auth category to trigger a `DataStore.clear` call.

I think there might be a race condition happening between the graphql call datastore makes and the clear/signout operations but this should work.

ex.
[code]

[2021-11-29 14:46] chrisbonifacio commented on #9284
Hi @JamieSlome 👋 thanks for raising this issue. Because it is related to backend builds in the console, I will transfer this to the console repo for better support. Thank you!

[2021-11-29 14:51] laclance commented on #9282
ok thank you but how do I trigger the signOut event?

[2021-11-29 15:39] Afrogoth commented on #5924
@ashika01 thanks for the feedback. We have since discontinued using Amplify.
The issue is easy to replicate...
Create an Amplify project and enable unauthenticated access and then expose a resource by assigning the role to a policy.
At first we thought that it was because we enabled the feature via the Ui although we had initially pushed and created the Amplify project using cli toolchain. We have

[2021-11-29 16:19] matthewapps opened #9290 "GraphQL auth rules : Datastore & Flutter and NextJS"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-29 17:11] sammartinez commented on #9264
Hey @henobi, did @chrisbonifacio comment above resolve your issue? Please let us know

[2021-11-29 17:14] sammartinez commented on #9209
Thanks for this @jcoyne, in installing now, I am not receiving the high vulnerabilities. Can you please confirm with the latest you are no longer seeing the high vulnerabilities? Thanks ahead of time.

[2021-11-29 17:18] SaileshKumar commented on #9270
Ahh you're right. Thank you so much!!

[2021-11-29 17:18] #9270 closed

[2021-11-29 18:02] jcoyne commented on #9209
Yes, it looks like cache-base 4.0.2 was released which fixes this: https://github.com/jonschlinkert/cache-base/commit/afb51c80fb54682bae3a4b0ad458dbbcdbfd69f9

[2021-11-29 18:06] sammartinez commented on #9209
Awesome! That being stated, I am going to close this issue in favor of the above. Thanks for confirming!

[2021-11-29 18:06] #9209 closed

[2021-11-29 18:33] sammartinez commented on #9290
@matthewapps Thanks for opening this issue, I do need to understand a couple of things. I am seeing that your issue is specific to Flutter. Are you using `amplify-flutter`? If so, this issue may fit better on the [Amplify Flutter repo](https://github.com/aws-amplify/amplify-flutter/issues/new?assignees=&labels=&template=bug_report.md&title=). If is not, can you please provide the steps to reproduc

[2021-11-29 18:37] chrisbonifacio commented on #9282
Ohh okay. Well, in that case, maybe you could use the `API.graphql` method to create that record before DataStore gets cleared? I think the issue is mainly that you're trying to save a record to the local database, which DataStore will always do, the graphql queries happen separately apart from the DataStore operations. So, it might make more sense to make a call directly to the API so you don't h

[2021-11-29 18:42] laclance commented on #9282
Ok yeah thank you that's probably the best idea.

[2021-11-29 18:44] chrisbonifacio commented on #9282
No problem 😄  Let me know if that works for you!

[2021-11-29 18:51] zoellner commented on #3732
Another problem adding to this is that the hosted UI doesn't properly support two factor authentication that was finally added recently. So there is no solution that actually works to use custom scopes and 2FA because one requires you to use the hosted UI and the other requires you to handle the login yourself.

[2021-11-29 19:06] chrisbonifacio commented on #9289
Hi @sansavision 👋 Thanks for raising this issue.

I noticed that you're not including the DynamoDB table's id for the record. It looks like the graphql mutation that datastore is making behind the scenes to update the server record is trying to use the auto-generated `id` field.

See:
<img width="1053" alt="Screen Shot 2021-11-29 at 1 01 46 PM" src="https://user-images.githubusercontent.com/169529

[2021-11-29 19:52] Samaritan1011001 commented on #9274
Hi @the-smart-home-maker, thanks for opening the issue. I was not able to reproduce it.
Can you please tell me which `react-native` version you are using?

[2021-11-29 19:54] moneebalalfi commented on #8147
@justinphilpott Me too! found something! ?

[2021-11-29 21:11] theogravity commented on #3933
This does not work for me for google. Added a randomized string to the customState and logging out / logging back in will not prompt switching for google.

Is there another thing you need to do?

[2021-11-29 21:13] chrisbonifacio commented on #9290
@matthewapps I would also share the schema you're working with so we have a full view/context of where and how you're using the auth directives.

If you don't specify an `operations` field it is assumed that all are allowed, so you don't even need to specify `read` for the owner if you'd like for them to have full control over a record they've created.

Also, it's not clear what you mean by "doesn

[2021-11-29 22:04] felixolivares commented on #6260
Is there any updates on this issue ? I'm not sure if there is a status on where you are trying to find a feature to be able to subscribe or unsubscribe on-demand. I'd really appreciate your input. Thanks!

[2021-11-29 23:40] sammartinez commented on #9286
Thanks for this feedback @jhechtf. I have marked this as a feature request as this is something we are currently evaluating for the Auth Category. While we don't have a timeline at this moment as to when to expect for this TypeScript work to be completed, we will keep you updated once we have an update on this front. Thanks!

[2021-11-30 01:16] dylan-westbury commented on #9274
@Samaritan1011001 `0.63.4` for us

[2021-11-30 01:29] jhechtf commented on #9286
Thanks; let me know if there is anything i can do to assist.

[2021-11-30 01:50] rajkinkhabwala commented on #1213
I am still not able to add a user to a group while the user is registering. I don't know it keeps showing me that user group exists. I tried the solutions mentioned in the above comments but non of them are working.

[2021-11-30 02:29] jamesaucode commented on #6494
Hi all, I spent a good chunk of today trying to debug this issue. So, It looks like this is **not a library issue** but is instead an API Gateway / CLI issue.

The way we correct any clock skew error, as pointed out by @hisham is as follow
1. Make a request
2. Gets an error response from the server
3. Check the type of error to see if it's related to a clock skew
4. If yes, check the `Date` header

[2021-11-30 05:29] the-smart-home-maker commented on #9274
@Samaritan1011001 I am using react-native 0.64.2

[2021-11-30 07:47] matthewapps commented on #9290
@chrisbonifacio and  @sammartinez, Thanks for the replies. Here are my answers to your questions

1. **Part of the schema here**
type Part @model @auth(rules: [{allow: public, operations: [read]}, {allow: public, operations: [read], provider: iam}, {allow: owner}]){
  id: ID!
  make: String
  carmodel: String
  Name: String
  registrationNumber: String
  .......
   ......
  Listed: AWSDateTime
  a

[2021-11-30 09:12] Dilip-Solanki-Logistic-Infotech opened #9293 "Warning: No GraphQL endpoint configured"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-30 11:00] sansavision commented on #9289
@chrisbonifacio  Thank you so very much for all your help, adding the id field did resolve the issue.
From the docs I assumed that ID would be auto-generated so I never thought of adding that filed.
Have a wonderful day.

[2021-11-30 11:37] raj-durai commented on #6723
Still, We can't find the solution for this.

Any updates from the team?

[2021-11-30 12:29] alexrogo commented on #9140
Any updates?
Experienced the same.

[2021-11-30 13:28] OskarD opened #9294 "Authorization events occur in pairs"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-30 13:28] OskarD opened #9295 "Authorization events occur in pairs"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-30 14:54] OskarD commented on #9294
Big thanks to Thomas Rooney on [the Discord server](https://discord.gg/VSyrAK94) who figured this out for me!

My problem was that I was calling `Hub.listen` inside the component on each render, causing it to trigger multiple times and never close. Here is what it should look like instead:
[code]
Looking at [the documentation](https://docs.amplify.aws/lib/utilities/hub/q/platform/js/#listening-for

[2021-11-30 15:47] laclance commented on #9282
@chrisbonifacio is there a way to check a record has been synced to the cloud? Comparing the SubscriptionMessage when offline and online they seem to be identical?

[2021-11-30 16:12] #9295 closed, assigned to nobody

[2021-11-30 16:41] rudyhadoux opened #9296 "Unknown directive "primaryKey""
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-30 16:46] chrisbonifacio commented on #9293
Hi @Dilip-Solanki-Logistic-Infotech 👋 I created an amplify project with the dependencies and versions you listed but have not been able to reproduce this issue. Can you share the code where you're importing and using DataStore?

[2021-11-30 16:49] yonatanganot commented on #9127
@dizhang168
Because `PreventUserExistenceErrors` is set to `Enabled` by default for new user pools in Cognito, you need to change it `Legacy` to see specific authentication errors other than generic errors.
To do that, go to Cognito > App clients > Show Details > Prevent User Existence Errors- Change to `Legacy`.

[2021-11-30 16:51] rudyhadoux opened #9297 "Unknown directive "primaryKey"."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-11-30 17:06] frickjack commented on #5214
this should really be filed as a feature-request for Cognito rather than on amplify-js
for example - Auth0 supports refresh token rotation: https://auth0.com/docs/security/tokens/refresh-tokens/refresh-token-rotation

[2021-11-30 18:01] chrisbonifacio commented on #9290
@matthewapps thank you for providing more information. I'm not experienced with Flutter but I tried to reproduce the issue with a JS project. I observed that I was able to create/update/delete records locally while signed in (Cognito User Pools) but when I looked at the graphql network calls, they were all unauthorized. When I signed out, the calls were still unauthorized because public was limite

[2021-11-30 18:09] JakeRuth commented on #9140
I am also having a few users of our application reporting this issue, the are getting the error: "The quota has been exceeded" when trying to login using aplify/cognito.  This is preventing users from being able to log into our app from their iphones

I will edit/add to this as I learn more and debug.

[2021-11-30 18:10] chrisbonifacio commented on #9297
Hi @rudyhadoux 👋 what version of the CLI are you using? If you're on v7, did you run `amplify migrate api` first?

[2021-11-30 18:11] alambertt commented on #3474
Any update?? I need this too

[2021-11-30 18:16] rudyhadoux commented on #9297
7.5.4
I had answers in ampli-cli repository.
Thanks.

[2021-11-30 18:16] #9297 closed

[2021-11-30 19:05] #9289 closed

[2021-11-30 20:11] #8506 closed

[2021-11-30 20:27] jleskovar commented on #54
While it's great there's a workaround, I don't think this is acceptable long-term. Re the question of "persistence" from @danielblignaut , it's still a valid question. I'm not sure how to persist the changes to our code repository - not sure if you've had any thoughts on this @dorontal ? The latest version of amplify-cli basically adds all of the cloudformation JSON directories (amplify/backend/..

[2021-11-30 21:05] chrisbonifacio commented on #8807
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!

[2021-11-30 21:05] #8807 closed

[2021-12-01 00:23] jamesaucode commented on #6494
https://github.com/aws-amplify/amplify-cli/pull/9158 I have submitted a PR on the CLI side to add this behavior as a default 4xx / 5xx gateway response

[2021-12-01 05:21] laclance commented on #9282
The problem I'm having is similar to this one https://github.com/aws-amplify/amplify-js/issues/6488. If the internet goes down and I do a Datastore.save to the local db while still offline and then when the internet comes on again datastore does not sync right away and if a user wants to log out before the sync occurs I can't tell which items in the local db have been synced to the cloud or not.

[2021-12-01 05:58] Dilip-Solanki-Logistic-Infotech commented on #9293
@chrisbonifacio
I have put the query in App.js.
Like,
[code]

Also, I have added the Authenticator and Hub listen of auth and datastore in this App.js file.

[2021-12-01 08:05] jleskovar commented on #54
After spending about a day trying to get the workaround working - I think I'm going to have to admit defeat and try something else. The problem for me is that - at least in the newer versions of CLI (7.5.5 as of writing) - there is no way to modify those CF templates within the Git repo. Making the changes to the JSON files in the repo has no effect. Even after manually making the edits through th

[2021-12-01 08:36] matthewapps commented on #9290
@chrisbonifacio many thanks Chris for the prompt responses. This explains a lot, however the documentation relates to the GraphQL api for flutter. I am using Datastore and because the crud commands are different  I went  to the Datastore [documentation.](https://docs.amplify.aws/lib/datastore/setup-auth-rules/q/platform/flutter/#static-group-authorization-with-oidc-provider) The information here i

[2021-12-01 09:13] bcs-gbl commented on #3474
We're buliding a complex microservice based sys with Nuxt/Nodejs and Amplify (from 2019).
Signing up techs with Nuxt and AWS skills, working and spent ~30000 hours. We cannot afford to switch Next.js (SSR available from may).
Our decisions based on an AWS post that says SSR available since Sep 15, 2020 and we can wait for that ~1-2 year.
I hope Angular and Nuxt will be available soon.

[2021-12-01 11:15] laclance commented on #9282
Also tried this and get some error.

[2021-12-01 12:29] laclance commented on #9282
Can also get the same error without trying to save right before clearing. If you do a datastore.save while offline then at any point in time clear the db and then at any point in time go online again you will get the error. So doesn't matter whether or not I try to save data before clearing will still get the error if I clear the db at any point in time while there are unsynced records.

[2021-12-01 13:17] iartemiev commented on #9293
Please try re-installing your NPM dependencies:

[code]

[2021-12-01 13:20] Dilip-Solanki-Logistic-Infotech commented on #9293
@iartemiev Already I tried many times.

[2021-12-01 13:23] iartemiev commented on #9285
It looks like you've got both `aws-amplify` and `@aws-amplify/datastore` packages installed. This can cause unexpected behavior.

Please do the following and let us know if you're still experiencing this issue:
[code]

[2021-12-01 13:30] iartemiev commented on #9293
Can you try executing this script: https://docs.amplify.aws/lib/troubleshooting/upgrading/q/platform/js/#check-for-duplicate-versions

[2021-12-01 13:32] Dilip-Solanki-Logistic-Infotech commented on #9293
Yes

[2021-12-01 13:34] iartemiev commented on #9293
Thanks, let us know what the output of the script is

[2021-12-01 13:49] Dilip-Solanki-Logistic-Infotech commented on #9293
Check for duplicate versions
![image](https://user-images.githubusercontent.com/61177438/144245503-5bca63bd-6920-4093-b3c5-5142002c798d.png)

Upgrade Amplify packages
![image](https://user-images.githubusercontent.com/61177438/144245974-0c09ef85-3b7e-4962-b419-809ea0f18705.png)

[2021-12-01 14:02] iartemiev commented on #9293
The duplicates script is showing that you have duplicate Amplify packages installed in your app. That's most likely what's causing the behavior you're seeing here.

Can you share your lock file contents?

[2021-12-01 17:22] chrisbonifacio commented on #9293
I have a feeling the duplicates are being caused by the `aws-amplify-react` package, all of its peer dependencies are listed there and they seem to be v2-3 in its package.json.

https://github.com/aws-amplify/amplify-js/blob/main/packages/aws-amplify-react/package.json

If you're using the `@aws-amplify/ui-react` package, should be okay to remove `aws-amplify-react` from your dependencies and then

[2021-12-01 17:25] iartemiev commented on #9128
Closing, as this is fixed as of `@aws-amplify/datastore-storage-adapter@1.1.11`

[2021-12-01 17:25] #9128 closed

[2021-12-01 18:34] chrisbonifacio commented on #9290
@matthewapps Ahh yeah, I didn't realize I was reading the GraphQL documentation. I also didn't realize that Flutter still wasn't up to feature parity with the other frameworks 😕 .

I just asked the flutter team for an update and they said that multi-auth is expected release soon after the release of 0.3.
Flutter's pretty new to our platform so we're still working towards full feature parity. Apolo

[2021-12-01 18:34] #9290 closed

[2021-12-01 19:33] pedrohff360 commented on #6676
Same here... there's some update?

[2021-12-01 20:35] chrisbonifacio commented on #9282
As far as I know, there are two ways:

1. Using the Hub utility

[code]

console logs

<img width="1438" alt="Screen Shot 2021-12-01 at 2 59 23 PM" src="https://user-images.githubusercontent.com/16952986/144304938-2eef2f78-5bed-49a8-991f-0cfea8becaf7.png">

2. Using `DataStore.observeQuery`

[code]

[2021-12-01 20:38] Samaritan1011001 commented on #8947
@Jemisson The PR got in. Let me know if that fixes it for you.

[2021-12-01 20:47] chrisbonifacio commented on #9282
Maybe I'm misunderstanding the use case here, but why are you clearing the local database if you are anticipating the user to perform operations offline? Do you expect multiple users to be logged into the same device? If the same user is signing in, it might be best to leave the data cached locally and only clear the database if a different user logs in.

https://docs.amplify.aws/lib/datastore/syn

[2021-12-02 03:30] laclance commented on #9282
Thanks but those solutions don't tell me if data has synced to the cloud only locally because even when offline datastore says items are synced. Yes there are multiple users and their data needs to be private.

[2021-12-02 05:26] laclance commented on #9282
So whether online or offline this is what I get:
[code]

If offline then will get event: 'modelSynced' when I come online again which is great because I can check if 'outboxMutationEnqueued' fires then wait for 'modelSynced' to check if data has been synced but if online then 'modelSynced' events only fires when I refresh the page.

[2021-12-02 06:06] Dilip-Solanki-Logistic-Infotech commented on #9293
@chrisbonifacio @iartemiev
I removed the `aws-amplify-react` and it is working fine now.
Thank you.

[2021-12-02 06:35] laclance commented on #9282
That I can manage though but main issue is still if app is online I want to clear datastore but save unsynced data before doing so but I get the 'Failed to execute' error.

[2021-12-02 07:01] thejuan commented on #9208
Having the same issue with gsuite auth enabled. This is a regression of a previous issue that was fixed, can't find it currently but will add if i do.

[2021-12-02 09:15] kieran-bellew commented on #9208
Having the same issue with bitbucket oauth. I downgraded to latest-3 in the meantime. Hopefully this is fixed soon.

[2021-12-02 10:35] vdhpieter commented on #8964
@chrisbonifacio We also have this issue.here are our debug logs:
[code]

Is this helpfull? Anything else I can do to help the investigation if this issue?

[2021-12-02 15:48] chrisbonifacio commented on #9282
@laclance ah okay, I see what you mean. Hmm, I'm not really sure if there's a reliable way to make sure records are synced to the server before clearing.

Personally, I wouldn't clear the local database unless a different user logs into the same device to try to avoid the edge case of a user logging out while offline causing records to be lost before synced. But, I may just be missing some experie

[2021-12-02 15:52] #9293 closed

[2021-12-02 16:53] matthewapps commented on #9290
@chrisbonifacio this is really unfortunate. Any view on timelines for resolution , are we talking days, weeks or months? The documentation is misleading - none of the graphql auth rules apply. The Flutter docs look like a cut and paste of the Javascript docs but unfortunately are not available in this release.

[2021-12-02 17:01] laclance commented on #9282
Ok cool thanks so much, the only problem with not clearing is that other users can see the data in the indexdb via browser dev tools.

[2021-12-02 17:17] chrisbonifacio commented on #9290
Unfortunately, I can't know for certain when a feature is to be released exactly, only that it's in the pipeline.

There was a [PR Draft](https://github.com/aws-amplify/amplify-flutter/pull/807) recently that has been closed until further notice that started on this feature.

I would recommend tracking the [feature request](https://github.com/aws-amplify/amplify-flutter/issues/815) for any further

[2021-12-02 17:26] pbergue commented on #7199
I had the same issue and found a workaround. I give to the federated props of AmplifySignIn component an empty string and use a button with Auth.federatedSignIn() for each social you want to log in with.
For example:
`<AmplifyAuthenticator usernameAlias="email">
    <AmplifySignIn  slot="sign-in"  federated="" usernameAlias="email" />
    <Button sx={sxBtn} onClick={() => Auth.federatedSignIn({ pr

[2021-12-02 17:42] chrisbonifacio commented on #9282
No problem! As a quite note, the team has pointed out that the event for when a local change has been synced to the cloud would be `outboxMutationProcessed`, rather than the enqueued changes.

Still in talks about this with the team. Thank you for bearing with me in the meantime!

[2021-12-02 18:01] laclance commented on #9282
No problem thanks, yes I did see that but it's the same problem as the 'modelSynced' event, the events don't always get fired if you do not have a stable internet connection.

[2021-12-02 18:48] ashika01 commented on #9208
@thejuan @kieran-bellew When did u start seeing the regression ? Could you point what upgrade triggered this?

[2021-12-02 19:01] colehendo commented on #9208
@ashika01 (I'm working with @kieran-bellew) we first saw it after upgrading `aws-amplify/auth` from 1.6.3 -> 4.3.16 and `aws-amplify/core` from 1.3.3 -> 4.3.8. After rolling back both packages to 3.4.34 and 3.8.24 respectively we stopped seeing the issue. The issue we encountered was not with `?code=foo` in our path, but rather `#auth_token=foo`. It caused the same behavior described by @PeteDunca

[2021-12-02 19:22] ashika01 commented on #9208
@colehendo Thank you for the info. Let me look into it and get back to you.

[2021-12-02 19:25] ashika01 commented on #9208
Also, @colehendo if u have a sample running out in github, point it out here. Helps speed up debugging :)

[2021-12-02 19:34] colehendo commented on #9208
@ashika01 I don't have the code in github, but I can describe our process.

We have a component on our site which requires Bitbucket authentication to access. The user clicks on the link in our site (built using Angular), and get rerouted to `https://bitbucket.org/site/oauth2/authorize?client_id=<CLIENT_ID>&response_type=token`.

That url then automatically routes them back to `https://my-site.com

[2021-12-02 22:00] adityasrini commented on #9140
I got this same error, only for it to work on Chrome Incognito.

[2021-12-02 23:26] Nicktho opened #9302 "npm ERR! notarget No matching version found for @aws-amplify/ui@2.0.4."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-12-02 23:41] wesleymilan commented on #9302
+1

[2021-12-02 23:58] sammartinez commented on #9302
Thanks for reporting this @Nicktho, we are looking to resolve this within the next hour. Please give us time to resolve this.

[2021-12-03 00:02] sammartinez commented on #9302
https://github.com/aws-amplify/amplify-js/pull/9303

[2021-12-03 01:04] sammartinez commented on #9302
@Nicktho we have resolved this issue, can you please re test with a new build and let us know if you are still experiencing this issue?

[2021-12-03 01:23] drag0022 commented on #9302
Issue is fixed on my end. Thank you for the prompt fix

[2021-12-03 01:25] sammartinez commented on #9302
Awesome! I will go ahead and resolve this issue then

[2021-12-03 01:25] #9302 closed

[2021-12-03 01:26] Nicktho commented on #9302
All good thanks @sammartinez

[2021-12-03 05:19] the-smart-home-maker commented on #9274
@Samaritan1011001 same issue occured with react-native `0.66.3` (I had just upgraded)

[2021-12-03 10:57] taouichaimaa commented on #6444
I'm having the same problem, however, won't this overwrite any configuration I have already set? for example, I have Apple, Facebook and Google already setup and their respective generated userpool groups, making this update requires me to re-enter all of that configuration again and it would create other pools for these same providers, won't it?

[2021-12-03 12:39] wesleymilan commented on #9302
Thank you @sammartinez for resolving this issue so fast, everything is ok now

[2021-12-03 14:02] laclance commented on #9282
All of a sudden getting this error and can't get rid of it.
```index.ts:594 Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'lastFullSync')```

[2021-12-03 16:11] MjdBh opened #9307 "Amplify app build successfuly but dont deploy correctly. It's working perporly for long time."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-12-03 19:32] chrisbonifacio commented on #9307
Hi @MjdBh 👋 thank you for raising this issue. I'm going to transfer this issue over to the console repo because it has more to do with deployment than the javascript library and for better support in that knowledge area.

[2021-12-03 20:43] chrisbonifacio commented on #8356
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. Thank you!