[2020-08-21 02:31] healthlake commented on #5416
any solution yet? I got the same error after installation and using S3 Image Picker

[ng] ERROR in ./node_modules/@aws-amplify/ui-components/dist/esm/Translations-dbe7c89e.js 112:67-83
[ng] "export 'AuthErrorStrings' was not found in '@aws-amplify/auth'

[2020-08-21 02:42] nubpro commented on #6488
Yes, I believe this issue is still present on the latest Amplify.
I don't think there's any changes that attempt to fix this underlying issue yet.

Currently DataStore would only restart the sync process if:
1. NetInfo detects the Wi-Fi is unreachable (by default, it would ping Google every 60s to check the network connectivity). If the device internet went offline and online, before NetInfo is ab

[2020-08-21 04:18] Ivelraj1997 commented on #6569
@amhinson  got it.   we used other places Auth Custom class like Auth.signIn and Auth.resetPassword

[2020-08-21 04:21] srchulo commented on #6573
It seems like I can reproduce this when:

- Load my app
- Let the page sit for a while (maybe 20 minutes)
- Come back and refresh the tab

I think the token has expired.

BUT, after looking into this more, I think it's possible that this may not be an Amplify UI bug, and could be an issue with the `asyncData` method in Nuxt being called when the page is loaded before the page component is even sho

[2020-08-21 05:31] undefobj commented on #5926
@ajonp we've been thinking about this. How do you think this debugging would work? Since a GraphQL endpont can be used with the [API category](https://docs.amplify.aws/lib/graphqlapi/getting-started/q/platform/js) or [DataStore category](https://docs.amplify.aws/lib/datastore/getting-started/q/platform/js) we would need to give the proper information for you to debug easier depending on the path y

[2020-08-21 05:59] nitindatta commented on #37
If anyone facing issue with this I did following to get it fixed
    const token = await (await Auth.currentSession()).getIdToken().getJwtToken();
    const options = { headers: { Authorization: token } }
 // console.info(  await (await Auth.currentSession()).getIdToken().getJwtToken());
    return API.get("tickets", "/tickets",options);

[2020-08-21 07:13] severi commented on #5319
Any update on the AuthInterface? Not being able to access to AuthClass is currently blocking us from upgrading Amplify from version 2.3.0 to the newest one...

[2020-08-21 10:13] Hideman85 opened #6615 "Allow to set our proper ID when using DataStore and generated models"
It would be great to allow us to manage IDs ourself. I see already two case where built-in IDs management is not efficient.

**UserID from Cognito (sub)**
How many devs wanted to save a User object with the sub as ID? But currently we can't and need to save it as separate property with an index.

[code]

**Support of Union?**
[code]

By having the typename as prefix of the ID we could determine wh

[2020-08-21 13:21] janejjshen opened #6616 "Unable to retrieve guest/unauthenticated credentials after identity becomes disabled"
**Describe the bug**
During Cognito's identity merge, a guest identity ID can become disabled. I believe this automatic identity merge is currently supported in the Mobile SDKs but not the JS SDK. Afterwards, if the web user tries to use the same identity again to retrieve IAM credentials, they would receive an error `Access to identity 'us-east-2:xxxxx is forbidden'`, and unable to proceed. The J

[2020-08-21 17:34] ShawnYcx opened #6619 "Graphql queries works fine on AppSync Console but throw errors on client side"
My schema and queries are working fine on amplify console but throwing a type mismatch error on the client side. This happens only when there are more than one records in the object returned

**Data successfully returned when there's only one record**

[![enter image description here][1]][1]

**Error when object contains more than one record**

[![enter image description here][2]][2]

**Schema:**

[2020-08-22 15:33] leopsidom opened #6621 "HandleAuthResponse clears the history.state and makes `current` undefined"
**Describe the bug**
After authentication `window.history.state` gets cleared, and `current` route becomes undefined which causes issue for routing related features.

**To Reproduce**
The problematic line: https://github.com/aws-amplify/amplify-js/blob/main/packages/auth/src/Auth.ts#L1942

[code]

**Expected behavior**
The current history should be kept. https://github.com/vuejs/vue-router-next/is

[2020-08-23 03:53] smithad15 opened #6625 "DataStore does not sync if using owner @auth and API auth default is API_KEY"
This is more of an observation of behaviour that could either be considered a bug, or a lack of clear documentation. Either way, it might be useful to others or the team.

I was converting an existing application from the AppSync SDK to DataStore. This application had been built out through successive prototyping stages. I started out with a basic GraphQL API (which utilized an API key) and the Ap

[2020-08-23 14:01] dfang opened #6626 "cypress can't select authenticator inputs for @aws-amplify/ui-react"
**Describe the bug**
cypress can't select authenticator input in @aws-amplify/ui-react

**To Reproduce**
Steps to reproduce the behavior:

1. add amplify auth to a react app
2. add amplify auth and cypress
3. write simple test on authenticator, eg. login

**Expected behavior**

[selectors in this blog](https://aws.amazon.com/blogs/mobile/run-end-to-end-cypress-tests-for-your-fullstack-ci-cd-deploy

[2020-08-23 16:59] MaazDev commented on #5435
@ericclemmons Hello , is there any plan to do something similar for nuxtjs ?

[2020-08-23 17:28] srchulo commented on #6573
It may be nice if there was a Nuxt [auth middleware](https://nuxtjs.org/guide/routing#middleware) provided by amplify-js, that could check that tokens are fresh, user is logged in, before going to the next page, and refresh the tokens if needed.

I imagine this is similar to what the [API](https://aws-amplify.github.io/amplify-js/api/classes/apiclass.html) module does for you if tokens are expired

[2020-08-23 18:56] elchicofrommo opened #6627 "Call Auth functions inside Jest context"
**Describe the bug**
Calling any of the methods in Auth running in a Jest container returns empty objects.

**To Reproduce**
I have Auth set up with Auth and Unauth users with an identity pool. This test is for Unauthenticated Guest user. I run code (see below) in Jest.  I have Jest installed globally.

### Baseline: node ./tests/test.ts
[code]
gives expected values, see partial logs below:

[code

[2020-08-23 19:10] srchulo commented on #6573
I tried adding this as my auth middleware, and I think it worked. I wonder if something official like this would be good for people using Nuxt?

[code]

Then in nuxt.config.js:

[code]

[2020-08-23 19:35] vhuerta commented on #6580
Is this issue back? Happened to me upgrading from `2.2.9` to `2.2.10`

[2020-08-23 21:11] sadooghi commented on #6621
I have a this problem as well for using this with react native. The errors happens randomly when logged in and out multiple times.

[2020-08-23 23:02] YasunoriOka commented on #5926
I'm using Angular 9.

[2020-08-24 02:55] dfang commented on #6626
this is more of cypress shadow DOM support, not amplify problem. so i'll close it.

for those who want to use cypress to test react application with amplifyAuthenticator in hosted UI, [see here](https://github.com/cypress-io/cypress/issues/830#issuecomment-678876572)

[2020-08-24 04:27] lindachenau commented on #6329
@Rouche01 I figured it out that you don't have to replace authentication method. The following code works for me. Thank you so much for finding this solution.

import {
  CognitoUserPool,
  CognitoUserAttribute
} from 'amazon-cognito-identity-js'

const poolData = {
  UserPoolId: 'pool_id',
  ClientId: 'client_id',
}

const userPool = new CognitoUserPool(poolData)

const authenticatedUser = await

[2020-08-24 05:49] loukmane-issa commented on #5435
First of all, thanks a lot @ericclemmons for all the work being done here. I have been able to get the authentication working on a page using SSR and the documentation you provided here. I have a question though, I was planning to use React Context to store if the user has been authenticated or not. This would allow me to conditionally choose layout and also make other logic for pages based on the

[2020-08-24 06:06] Rafcin opened #6629 "Duplicate Properties when running GraphQL update"
I noticed a bug today, while I was working on an editor. When running the update mutation, my properties that use arrays are duplicated leaving me with the original array and the new array stored together. How the editor works is I get the data for x object, set the state and then with the same state if the user modified it and confirms it then it updates. I was under the impression it would overr

[2020-08-24 07:55] Hideman85 opened #6630 "DataStorage (with AppSync backend) saving issue"
There is my testing app: https://github.com/Hideman85/TestApp

[code]

[code]

[code]

[2020-08-24 09:07] thomasdowell commented on #3928
Updating from version 3.1.21 to 3.1.22 and the latest 3.1.23 resulted in this error.

[2020-08-24 14:48] ajonp commented on #5926
I am still having issues with Sync, I am starting to wonder if I am pushing too many calls, but that worries me if it can't handle a call every .5 seconds.

Feel free to try out what I have, maybe someone will have better luck. I am working through the Basics of Amplify tutorial so this should come later anyways but I was hoping I could maybe start with Datastore like I would start with Firestore.

[2020-08-24 15:20] joeltio opened #6634 "CompleteNewPassword requiredAttributes is not optional"
**Describe the bug**
The `Auth.completeNewPassword` should only require two arguments: `user` and `password` but the types do not reflect so. The signature of the function is:
[code]
Notice how `requiredAttributes` is not optional. However, [the docs](https://docs.amplify.aws/lib/auth/manageusers/q/platform/js#complete-new-password) say that it is optional.

**To Reproduce**
Steps to reproduce the

[2020-08-24 15:23] Nickman87 commented on #5435
I'm using this preview and got Authentication up and running.
However I cannot seem to get API working trough the `withSSRContext`.

When I do the following:
`const { Auth, API } = withSSRContext();`
API is null, even though the API works fine using `import { API } from "aws-amplify";`.

I'm using `"aws-amplify": "^3.0.18-preview.46",`

Is there something I can do to debug this?

Another question:

[2020-08-24 15:42] srchulo commented on #1069
@undefobj Also, it would be nice to use this to refresh tokens before API calls. I'm getting errors from API calls sending no authentication token. `{"message":"Missing Authentication Token"}`

[2020-08-24 16:39] iartemiev commented on #6580
@mdoesburg I was able to reproduce the issue you're describing. What's interesting, is that if I remove all of the `@auth` rules from the schema, I no longer get those errors. I'll be investigating the cause today and will be working towards a solution. WIll update this issue once I've made progress.

[2020-08-24 18:24] ioannist commented on #1355
You have to populate the device key by calling

`cognitoUser.getCachedDeviceKeyAndPassword()`

The name of the method is misleading. It doesn't "get" or return anything. It just pulls the device key from local storage into js.

[code]

[2020-08-24 18:27] ioannist commented on #3040
You have to populate the device key by calling
`cognitoUser.getCachedDeviceKeyAndPassword()`

see #1355

[2020-08-24 18:27] jordanranz commented on #6626
Hey @dfang, Cypress does now support shadow dom in their [Experiments section](https://docs.cypress.io/guides/references/experiments.html#Shadow-DOM)

[code]

[2020-08-24 18:34] ericclemmons commented on #5435
@loukmane-issa Can you help me understand exactly what's happening here?

It sounds like, _on the server_, the user isn't authenticated. But running that logic on the client works (as expected)?  I did find a bug recently with this, but haven't updated `@preview`.  Let me know if if my understanding is correct!

@Nickman87 Can you share a snippet of your code?  I was aware of this potential proble

[2020-08-24 18:43] eryon commented on #6572
@AstroneCommons do you have a link to the chromium bug?

[2020-08-24 19:03] jordanranz commented on #6590
Hey @neojp, could you try using the latest version of the `@aws-amplify/ui-vue` package? This should be fixed in that version.

[2020-08-24 19:09] BenoitDel commented on #6572
here you go: [bug #1116990]( https://bugs.chromium.org/p/chromium/issues/detail?id=1116990#c21).

[2020-08-24 19:53] srchulo commented on #6573
I also added logging around `Auth.currentSession()`, and I log the session out to the console once I get it, and I do get a session object back, but then I immediately make my API call and that fails. I see a failed `AWSCognitoIdentityService.GetId` request with this response:

`{"__type":"NotAuthorizedException","message":"Invalid login token. Couldn't verify signed token."}`

And then my API cal

[2020-08-24 20:33] srchulo commented on #6573
It actually looks like CognitoUserSession.isValid checks if it has expired and does not check if it will expire soon, although it seems unlikely that I would run into this issue at the exact right milliseconds:

https://github.com/aws-amplify/amplify-js/blob/9761ead5665aca598b64578d29caf9d47eeee583/packages/amazon-cognito-identity-js/src/CognitoUserSession.js#L85-L93

[2020-08-24 21:35] sregg opened #6637 "React Native - Apple Sign In"
I followed the doc to add Sign in with Google, Facebook and Apple from here:
https://docs.amplify.aws/lib/auth/social/q/platform/js

Google and Facebook work perfectly fine but I couldn't make Apple work after a whole day debugging.

Here's some screenshots of the flow:
<img width="250" alt="Screen Shot 2020-08-24 at 5 12 21 PM" src="https://user-images.githubusercontent.com/1479283/91097365-8e16d

[2020-08-24 22:10] Robert-Murphy commented on #2777
+1.
Verification **link** is set in my cognito user pool console to be sent for the verification email. This is successful on the initial account creation, however when updating the email address a verification code is sent.

[2020-08-24 22:35] amhinson commented on #6637
Similar to https://github.com/aws-amplify/amplify-js/issues/6547. I will take a look into this soon 👍

[2020-08-24 22:36] amhinson commented on #6547
Just checking in to see if you have any progress updates @mezalejandro

[2020-08-24 23:29] iartemiev commented on #5926
@YasunoriOka I'll attempt to reproduce your issue in Angular 9.

@ajonp Will also be attempting to reproduce the issue by running your project locally.

I will let you both know what I find soon.

[2020-08-24 23:36] igorborgest commented on #4927
Meanwhile I was able to work around following some internal code [[1]](https://github.com/aws-amplify/amplify-js/blob/528466e8000cffc3ee4340a03798f4a01ace0022/packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.tsx#L105) and [[2]](https://github.com/aws-amplify/amplify-js/blob/528466e8000cffc3ee4340a03798f4a01ace0022/packages/amplify-ui-components/src/componen

[2020-08-25 00:11] sregg commented on #6637
Thanks Alex.
Let me know if you'd like to have access to my code and setup to help reproduce

[2020-08-25 01:20] dfang commented on #6626
@jordanranz i've already put the link in the comment

[2020-08-25 01:20] #6626 closed

[2020-08-25 01:26] iqaldebaran commented on #5037
I need this feature too¡¡¡
Use Case:
I am working in an app that have a free function with Datastore locally, and a pay function with cloud storage, and this feature proposed by @nylki is so useful for me.

[2020-08-25 03:37] dfang opened #6641 "[ui-react] Manually to show hosted UI component"
**Is your feature request related to a problem? Please describe.**

with hosted ui for @aws-amplify/ui-react,  How to put a sign in btn/link and sign up link/btn on the navbar, when user click sign up, show sign up component, when user click sign in link, show sign in component.

ui-react hosted ui should provide an easy way to cover this kind of use case .

**Describe the solution you'd like**
pr

[2020-08-25 10:03] mezalejandro commented on #6547
Hello @amhinson , first of all I want to thank you for the help.
I was in contact with amazon support and they replied this:
"**As for the error you are getting, one of the causes of the failure happens when the client id you are using is incorrect for signing in on web. This means that you maybe using the primary app's id (iOS app's ID) instead of the services ID. Since the primary app does not h

[2020-08-25 10:07] rspuler commented on #3436
@gary-archer: Do we need Lambda@Edge for this or could we not just use lambda behind API Gateway to do the same?

[2020-08-25 12:40] gary-archer commented on #3436
Hi @rspuler. You can run my AWS hosted SPA from my [Quick Start Page](https://authguidance.com/home/code-samples-quickstart/), to see what the end result looks like. The key point around wrapping refresh tokens in cookies is that a **same domain cookie** works best, since these days browsers such as Safari will aggressively drop cross site cookies - especially on POST requests. I would have used a

[2020-08-25 12:46] lianguage commented on #1323
Hi Guys.

I was having this problem just now too.
It seems when you run:

`Amplify.configure(awsconf);`

your conf needs to have the oauth section populated, eg:

[code]

I was missing this and my page no longer crashed after populating it.

[2020-08-25 14:24] mauerbac opened #6643 "[New] JS Samples Repo"
We recently launched a [JS Samples Repo](https://github.com/aws-amplify/amplify-js-samples) to help developers use Amplify, as well as reproduce potential bug using our end to end apps.

Please let us know what you think!

[2020-08-25 14:27] xxcheckmatexx opened #6644 "[Feedback]More Control over the styling."
**Page**: [`/ui/customization/customizing-css/q/framework/react`](https://docs.amplify.aws/ui/customization/customizing-css/q/framework/react)

**Feedback**:

It is very difficult to remove the boxshadow of the authenticator, individual styling for the elements will be very uselful rather than changing css vars.

[2020-08-25 14:42] csarathm opened #6645 "getting error "TypeError: callback.customChallenge is not a function" in OTP based authentication"
Hi
I am using amazon-cognito-identity-js for **OTP** based authentication and i deployed success fully coginito based lambda functions and created user for login.
But when try login am getting `"TypeError: callback.customChallenge is not a function"` error. But am getting **OTP**

Am using node 12.8.3

here is my code :
[code]
Please suggest

[2020-08-25 15:43] amhinson commented on #6547
Thanks for that info! Just to clarify, you're still having the issue, correct?

[2020-08-25 15:45] mezalejandro commented on #6547
Correct, I continue with the problem

[2020-08-25 17:32] elorzafe commented on #6645
@csarathm You need to provide `customChallenge` callback like this

[code]

[2020-08-25 17:33] amhinson commented on #6637
@sregg Could you reach out to me on our Discord? It's just `amhinson`. That could help streamline things a bit

[2020-08-25 17:56] elorzafe commented on #6634
Thanks @joeltio I will send a PR to fix this

[2020-08-25 18:02] elorzafe commented on #6630
@Hideman85 thanks for providing so much details. I am trying your sample app now

[2020-08-25 18:54] jefelewis commented on #991
Has there been any resolution to this?

**Process:**
1. `yield call([Auth, 'signUp'], email, password);`
2. User gets a Verification Code sent to their email
3. With the Verification Code, the user completes the Sign Up process with `yield call([Auth, 'confirmSignUp'], email, verificationCode);`

**Options:**
1. Use `yield call([Auth, 'signIn'], email, password);` with the existing email and passw

[2020-08-25 19:06] Rafcin commented on #6629
Another issue that goes with this is that when I set the values to be null or empty the action goes through but never actually makes the arrays empty or null.
[code]

[2020-08-25 19:39] jordanranz commented on #6644
You are able to modify the `box-shadow` of the Authenticator by using:
[code]

There are also:
[code]

As these were added pretty recently, we are working on auto-documenting the css API on the Authenticator docs page. Thanks for the feedback!

[2020-08-25 20:07] elorzafe commented on #6630
@Hideman85 I ran your app with this schema

[code]

And I didnt get the error you mentioned before, however with the original schema it failed.

DataStore autogenerates the ids, there are synchronization issues behind this, that is why you are not allowed to change.

Why do you need a custom id?

I will keep looking the issue with the other schema

[2020-08-25 20:28] Ceycok opened #6653 "getSession in amazon-cognito-identity-js returning undefined sporadically"
I figured one problem about on https://github.com/aws-amplify/amplify-js/issues/3613
It was never solved so i though sharing it, would be usefull.

I am using amazon-cognito-identity-js for authentication for my project and whenever I am using ```getSession()``` it returns undefined and Local Storage was empty. So I couldn't save the session info.

When ```authenticateUser()``` fonction works it o

[2020-08-25 20:34] JoeBakalor commented on #5440
@bernhardt1 Any luck finding a workaround?

[2020-08-25 20:44] bernhardt1 commented on #5440
@JoeBakalor Yea

They had changed the login logic pretty heavily since the old version I had been using.

you no longer pass an identity token to federatedSignIn.

1. Instead do sign in with just the provider as an argument:
- Auth.federatedSignIn({ provider: 'Facebook' });

2. attach a listener to catch sign in events
[code]

3. The identityId should be part of the userCredentials after signing i

[2020-08-25 21:55] sregg commented on #6637
Alright. After another afternoon debugging this with the amazing help of @amhinson, I finally made it working.
It basically was something like this:
<img width="300" src="https://media1.tenor.com/images/d1501c6a22fb9568b14c921bf749ec29/tenor.gif?itemid=17823069"/>
Here's the steps I did (not sure which one helped):
- I didn't have the Sign in with Apple capability added in my project in Xcode (pre

[2020-08-25 22:12] #6637 closed

[2020-08-26 02:49] pperron commented on #6413
Hi,
did some more tests and the same code on Android is working fine but on IOS, it seems to result of a cached info. So problem seems to exist on IOS devices. I'm running my tests on an iPhone XR IOS 13.6.1.

[2020-08-26 03:31] pperron commented on #6413
I created a simple code to test the problem and running those lines:

[code]

And on Android, the log from Storage.put and log from the Storage.get are identical and on IOS, they are different, the Storage-get returning me old data instead of new one...

[2020-08-26 03:34] sarvesh05 commented on #3264
I was facing the same issue, here's how I resolved it.
When I was doing 'aws configure' and creating a profile, I was choosing the region incorrectly(not the one I chose when I was setting up my account).
Created another profile with right region.
Did 'amplify init', worked like charm.

[2020-08-26 04:05] escodel commented on #888
@ioannist same here. Attempted to get a svelte app running with amplify, switched from rollup to webpack and still no luck. Compiling but getting a `utilUtf8Browser is not defined` in my main.js for both cases for some reason and found myself here.

I know this issue is closed, but wondering if this needs more attention. Tried @sw-yx approach and couldn't get it working. Also saw the [samples](htt

[2020-08-26 05:14] genisgen opened #6658 "[amplify-s3-image][angular] binding to img-key is not working while binding to path is working"
**Describe the bug**

With the following `app.component.ts`
[code]
and the following `app.component.html`
[code]
**the stored images are not shown**.

If `app.component.html` is changed to
[code]
where `example.png` is one of the stored images, **the image is shown**.

If `app.component.html` is changed to
[code]
**all the stored images are shown** as I wished.

**To Reproduce**
With the above `ap

[2020-08-26 06:40] KevinToala commented on #3537
In ionic with android until a while ago I used the following approach:

[code]

[code]

But after update aws-amplify version from 3.0.13 to 3.0.24 this no longer works.
I was checking and the problem is in Auth.ts
the next code is the problem
https://github.com/aws-amplify/amplify-js/blob/85cb5ca42dc2bc7171f4d535ba2fa2ee270a955f/packages/auth/src/Auth.ts#L1940

[code]
Because in the new updates, t

[2020-08-26 07:32] csarathm commented on #6645
I tried this after this am getting `"Incorrect username or password."`
What i am missing . Can you Please suggest

[2020-08-26 07:37] dylan-westbury commented on #5167
After you sign up a user, I believe you need to also sign in. For example:

1. Auth.signUp
2. Auth.confirmSignUp
3. Auth.signIn

[2020-08-26 08:19] Hideman85 commented on #6630
Hi @elorzafe thanks for looking my case,

.

You're right I've just tested with only the Comment model and it's working I don't know what causing this issue in my current schema

.

Yes I can understand the synchronization issue if you are using incremental IDs but if you are unique ID there is no issues.

.

[There is my response](https://github.com/aws-amplify/amplify-js/issues/6615)

[2020-08-26 08:43] jenitha-j commented on #6000
for me also the same issue, Please help me if you guys already find out the solution.

[2020-08-26 10:45] sacrampton commented on #6260
@iartemiev Any update on this issue?

I first created an issue related to an offline searchable cache back in September last year (#4085) and am trying to implement DataStore to solve these issues in my production app. My mobile app doesn't need 33 @models - but my total solution (of which the mobile is a component) needs probably double this amount of models. My total solution is comprised of mob

[2020-08-26 15:00] mezalejandro commented on #6547
Hello @amhinson In amazon support it asks me this:
"Could you please confirm the full website URLs that you have registered within your Apple account"
Where do I register the url in apple?

Thanks again

[2020-08-26 15:51] amhinson commented on #6547
It sounds like they are referring to step 7 & 8 under the "Sign In with Apple" tab: https://docs.amplify.aws/lib/auth/social/q/platform/js#configure-auth-category

[2020-08-26 16:08] #6634 closed

[2020-08-26 16:52] sis-dk commented on #2191
Any updates on this?

[2020-08-26 17:44] ericclemmons commented on #6330
As I was testing out #6146 I experienced the same problem after signing in with Google:

![Screen Shot 2020-08-26 at 10 42 01 AM](https://user-images.githubusercontent.com/15182/91337868-e31b3100-e788-11ea-891a-6e21ad9dfd61.png)
![Screen Shot 2020-08-26 at 10 42 10 AM](https://user-images.githubusercontent.com/15182/91337876-e57d8b00-e788-11ea-961d-c7972dbbd28c.png)

The second calls is missing `c

[2020-08-26 17:53] kennedysam97 commented on #54
Is there any timeline we can get on when this basic functionality will be available? On my services backend we are creating many user accounts, importing from json.. but we need to store the IdentityId of each account at the time of creation. For some reason getId only supports unauthenticated access.. when I supply the Login params with a proper token, the IdentityId that's returned is not the sa

[2020-08-26 20:43] Rafcin commented on #6629
Would using ```AWSJSON``` be appropriate for this case?
[code]

[2020-08-26 20:53] bigxalx commented on #6575
I am experiencing the same issue -- but only when running a gatsby.js site in production on first load -- when I run the same code by opening the react app at a different route and then navigating to the affected component, there is no error.
I'm by all means no expert but, but this leads me to suspecting that the issue is related to dehydration or similar.

[2020-08-26 21:10] Rafcin commented on #6629
Also I should note that looking at other issues online I noticed some people had issues because of @versioned and I have the version stamps on my DynamoDB items and yet I never added the version tag to my schema....

[2020-08-26 21:51] Rafcin commented on #6629
Fixed it. The issue is caused by the conflict detection. Although I removed the conflict detection through the CLI I had to manually remove
[code]

[2020-08-26 22:41] elorzafe commented on #6645
@csarathm

Are you able to see logs on the `Define Auth Challenge` lambda?

[2020-08-26 22:45] elorzafe commented on #6644
I am closing this issue and leaving in this repo so other can see the response here.

I will create an issue on docs repo that will point to this one

[2020-08-26 22:45] #6644 closed

[2020-08-26 22:50] hirocsingh commented on #3066
Having the smae issue with v3.0.24 using SOFTWARE_TOKEN_MFA. Always getting back CodeMisMatchException

[2020-08-26 22:57] elorzafe commented on #6630
Thanks for you feedback @Hideman85 ! We can continue id discussion on the other issue

I will continue looking the issue you are having the schema

[2020-08-26 22:58] elorzafe commented on #6615
Thanks for your feedback @Hideman85

We need an internal discussion with the team about this.

[2020-08-26 22:59] Defwentz opened #6661 "can't find response body when API fails"
**Describe the bug**
The lambda is setup with APIGateway and in the lambda it is set to return with
[code]
but I can't find the `body` in the error object. Things should be setup properly because in the browser network tab, I was able to find my response body. Or please let me know if this is hidden for a particular reason.
**To Reproduce**
Steps to reproduce the behavior:

1. Setup a lambda and a

[2020-08-26 23:02] sandramedina commented on #2588
@ivandimov Were you able to find a solution to this by any chance? Running into the same issue.

[2020-08-26 23:40] asatvilker opened #6662 "S3 storage.get()"
**Describe the bug**
When i run storage.get() function and retrieve the object url of a picture stored in s3 (public folder and storage bucket is the one created when you add storage from cli in amplify project). I save that url to a dynamo db table and then on another page I attempt to get that object url from the table and display it. For some reason when i do this, it displays in some browsers

[2020-08-26 23:40] yairau commented on #1896
Another approach is to persist the challenge code as a custom property on the user object in Cognito. This means you can separate the link creation from the sing in session. For detailed implementation check [this post](https://medium.com/@tschoffelen/serverless-magic-links-with-aws-cognito-92eff1351123).
The only point I would add to that post is that you properly should hash the challenge code s

[2020-08-26 23:53] iartemiev commented on #6556
@mahayash315 thanks again for the PR. It's been merged and is currently available via `npm i aws-amplify@unstable` and will be part of the next release.

[2020-08-26 23:53] #6556 closed

[2020-08-27 01:37] #6134 closed

[2020-08-27 02:11] xxcheckmatexx commented on #6644
Thank you for this :)
I've used this https://aws-amplify.github.io/amplify-js/api/classes/authclass.html with formik for more control of styles for now .

[2020-08-27 03:25] MontoyaAndres commented on #5435
@ericclemmons is a good practice to call the method `Amplify.configure` just once in the page `_app.js` or is necessary to call it on each page?

[2020-08-27 03:43] user32-2 opened #6663 "Interactions category creates resources in the wrong region"
**Describe the bug**
I created a new interactions bot but couldn't find the resource in the console. After changing regions I found the bot was created in ap-southeast-2 as opposed to ap-southeast-1

**To Reproduce**
Steps to reproduce the behavior:

1. amplify add interactions
2. Follow the prompts with default values
3. amplify push

**Expected behavior**
Expected the bot to be created in ap-sou

[2020-08-27 03:49] user32-2 commented on #6663
Potentially the same issue as https://github.com/aws-amplify/amplify-js/issues/6574

[2020-08-27 03:57] user32-2 commented on #6663
Ok found the issue, in the cloud formation template the region is incorrectly set to `ap-southeast-2`. Sample below:

[code]

[2020-08-27 04:03] smithad15 commented on #5054
Any update on this? I was quite excited about the prospects of DataStore, it's API, and how it works, however without this ability I cannot use it at all within my app. Being able to lazy-load relations would obviously be the preferred method to match the capabilities of GraphQL, but I would even just settle for the ability to manually pull records by filtering on IDs at this point. It feels like

[2020-08-27 05:03] mezalejandro commented on #6547
Hello @amhinson ,
i was in contact with amazon support using amazon chime looking at my desktop and testing cognito the amazon support concluded that the problem is on the apple side.

[2020-08-27 05:10] asumaran opened #6664 "Can't upload file to S3 using aws-amplify possibly due to slash in bucket name"
**Describe the bug**
Can't upload file to S3 due to bucket name after upgrading to aws-amplify `3.0.24` from `1.3.3`.

**To Reproduce**
1. Pick file using browser dialog
2. Upload file to s3 using aws-amplify
3. following error returns. File is not uploaded apparently.

[code]

Also the following error is returned from Appsync (could be related)

[code]

**Expected behavior**
File should be upload

[2020-08-27 05:18] klintan commented on #2602
@vrunda-thacker did you ever solve this issue ?

I have the exact same issue: Importing users works, status is `RESET_REQUIRE` but amplify always gives the error `NotAuthorizedException` and not the proper `PasswordResetRequiredException` which is expected. Using amplify.signIn() pretty much makes it impossible to use now, since we can't import several 100 of users (or we can import them but none

[2020-08-27 05:36] justin8 commented on #3635
Since this still comes up in search results often; what I believe most of you want is this: https://docs.amplify.aws/lib/auth/start/q/platform/js#re-use-existing-authentication-resource

You can use amplify as a library in your react app without needing to use amplify to create *any* of the backing resources.

short example code below for authing against a resource without creating any infrastruct

[2020-08-27 05:58] jefelewis commented on #6320
I'm having the exact same dilemma. Has there been any resolution to this? These are the issues I'm having/possible scenarios, but I feel like there should be an easier way.

**Overview:**
After the user receives a Verification Code, the user enters the Verification Code, and the `Account Status` becomes `CONFIRMED`. Now that the sign up process is completed, I want to automatically sign in the use

[2020-08-27 06:21] morgler commented on #3635
Thanks for clarifying @justin8. Long ago I actually surrendered to using that solution. However, it feels wrong: I have to import the whole Amplify library although I do not want to use Amplify. Apart from the extra kB it also confuses developers, because it looks like we would use Amplify.

I would prefer a cleaner solution where CognitoJS is its own lean library. That way we could use it separat

[2020-08-27 06:43] Kumaro87 commented on #5979
Is it a good solution to add the aws-exports file to github? Is there not data which should be secured and not pushed to the repo? Maybe is it possible to configure this properties directly into the amplify console?

[2020-08-27 07:18] rspuler commented on #4462
Nobody seems to understand the question problem:

We want to have the option to sign-in with OAuth/OIDC workflow with the following options on the login screen:

- Cognito User Pools (with a custom UI and **NOT** the hosted UI)
- Facebook
- Google
- Any other compatible IdP.

All the solutions is saw in this thread and others are always involving the **hosted UI**  if logging in through Cognito Us

[2020-08-27 07:21] AstroneCommons commented on #6572
fixed with Version 86.0.4240.8.
The bug has been fixed by chrome team. Amplify team is still wondering if the bug can be reproduced.

[2020-08-27 07:21] #6572 closed

[2020-08-27 08:04] ywroh opened #6666 "nextjs gatsby app amplify build error : aws-exports.js .gitignore"
**Describe the bug**
I am currently developing an ecommerce application with nextjs and gatsby. When deployed to amplify, the build fails with "Module not found: Can't resolve'../aws-exports' in ~" during the build process, because .gitignore is processed.

**To Reproduce**
Commenting out the aws-exports.js file in the .gitignore file really builds.

Please refer to it when working.

[2020-08-27 08:47] bigxalx commented on #6575
Turns out I didn't import aws-export in the right component component. Importing it in a parent of the affected component made solved the error.

[2020-08-27 09:20] paulsjohnson91 opened #6667 "Auth sign in is no longer returning correct username"
**Describe the bug**
I've had to do a user migration to get google auth to work and to preserve the 'sub' of the original users, I've set up the migration script so that the sub becomes their username. However the response from Auth signin is the username as the email address.

<img width="1105" alt="Screenshot 2020-08-27 at 10 16 15" src="https://user-images.githubusercontent.com/28013436/9142187

[2020-08-27 10:08] ianmartorell commented on #6320
I'm using verification by link and as it currently stands I see no possible way to reliably (and securely) sign users in after confirming their account. This would have to be integrated into the `confirmSignUp` method. 😕

[2020-08-27 11:03] damonmiller commented on #4462
This is exactly correct! The customization options available for Hosted UI are very limited.  And there is no way to recreate the OAuth/OIDC flow of the Hosted UI in you own custom implementation.

[2020-08-27 11:21] adamm-monek commented on #6175
Is this just the same as this issue: https://github.com/aws-amplify/amplify-js/issues/614 ?

I am calling `Auth.signOut()` as described in https://docs.amplify.aws/lib/auth/emailpassword/q/platform/js#sign-out
and the local storage is not cleared in Chrome or Firefox

[2020-08-27 11:27] harshraj93 commented on #6175
The issue is different in terms of Sign in as it is not done using Amplify. The sign-in is based on the traditional Cognito method. We have just implemented both the suggested solution in #614 but doesn't seem to work.

[2020-08-27 11:57] vidhyasagarj commented on #3474
Any update on this item ?

[2020-08-27 13:01] iartemiev commented on #6580
@mdoesburg I've had a chance to spend some time with your schema.

The sync issue is resulting from some of the generated GraphQL queries and mutations when defining specific operations for owner auth, e.g., `{ allow: owner, operations: [create] }`, like you have in your `Question` model.

If I change the auth rules for `Question` to `{ allow: owner }` everything seems to be working.

By the way,

[2020-08-27 13:09] BardiaN commented on #3558
This issue is back or it hasn't been resolved completely.
So I have a pre signup lambda that checks for a secret and the button stays enabled during the lambda runtime, so user is able to press the button so many times. (And Cognito has a known bug that let the same user being created if requests are too close to each other)
@all-iver Was your problem fixed?

[2020-08-27 13:11] mdoesburg commented on #6580
@iartemiev Thank you! Really appreciate all the effort you guys are putting in these issues. I'll let you know if it works.

[2020-08-27 13:28] mdoesburg commented on #6580
@iartemiev Just installed unstable versions for the following packages (which are the ones I use):

[code]

It already seems to be working without making the suggested schema change. So to be clear, it seems to already work without modifying the `Question` auth directive.

[2020-08-27 13:32] iartemiev commented on #6580
@mdoesburg that's great to hear! I would suggest keeping an eye on the logs and if you see errors from `AWSAppSyncRealTimeProvider` mentioning `onDeleteQuestion`, `onCreateQuestion`, etc. I would try adjusting the schema.

[2020-08-27 13:38] iartemiev commented on #6580
I'll go ahead and close this issue if you don't object.

If you happen to run into more problems with sync using that same (or a similar) schema, please open a new issue and reference this one. I'll hold on to my sample app with your schema, so I'll be able to debug any future issues quickly (should they arise).

[2020-08-27 13:38] mdoesburg commented on #6580
@iartemiev Alright, noted. Thank you so much for your help!

[2020-08-27 13:39] mdoesburg commented on #6580
@iartemiev Yeah go ahead and close it.

[2020-08-27 13:41] iartemiev commented on #5290
@mdoesburg for this one are you using Expo or just RN? (I want to make sure I reproduce in the same environment)

[2020-08-27 13:43] mdoesburg commented on #5290
@iartemiev Just RN.

[2020-08-27 13:44] mdoesburg commented on #5290
@iartemiev This was a while back, and honestly this might already work in the newer versions of Amplify.

[2020-08-27 13:47] iartemiev commented on #5290
@mdoesburg got it. If you'd like to try it out with `@unstable` and let us know.I'll be happy to take a look if it's still giving you trouble. As mentioned in the other issue, this was working fine for me in React.

[2020-08-27 13:48] mdoesburg commented on #5290
@iartemiev Alright I'll give it try.

[2020-08-27 13:51] iartemiev commented on #6580
@mdoesburg one more thing I forgot to mention.
When saving a new Contact without arrangements, I would use the following empty values:
[code]
As there's currently a bug with optional arrays. It will be fixed soon as well, and you'll be able to just omit them if they're optional in the schema.

[2020-08-27 14:19] mdoesburg commented on #5290
@iartemiev I am unable to get this to work right now, but I think this not being able to work is related to: https://github.com/aws-amplify/amplify-js/issues/6580 So I'll go ahead and post in there.

[2020-08-27 14:21] mdoesburg commented on #6580
@iartemiev I thought everything was working, but running a mutation from the AWS console didn't show the changes for a user in the app, which it did before. This is after changing the schema as you suggested. Did you change the `User` model at all? That's the only one that still gives warnings after making the suggested changes.

[2020-08-27 14:23] mdoesburg commented on #6580
@iartemiev So to summarize:

- The websocket disconnect is gone/fixed
- Initially all the data gets pulled into the DataStore when the user logs in (I clear the DataStore upon logout)
- But now new data updates don't seem to be reflected in the app

[2020-08-27 14:25] mdoesburg commented on #6580
@iartemiev Also I am aware of the optional array bug, and do something very similar to what you posted. :p

[2020-08-27 14:27] iartemiev commented on #6580
I did not make any changes to the `User` model. The only thing I changed in the final test of this was I removed the `identityClaim` argument with the custom field, just to speed up the set up on my end. I don't think that would be causing this issue though.

Were you performing a mutation on the `Contact` model via the AWS Console?

[2020-08-27 14:53] jeromeheissler opened #6668 "[aws-amplify-react-native] Ability to change colors errorIconColor, errorIconColor, placeholderColor with theming"
**Is your feature request related to a problem? Please describe.**
Colors defining in `AmplifyTheme.ts` : `errorIconColor` `errorIconColor` `placeholderColor`  can't be changed with theming because there are directly imported and used as constant.

**Describe the solution you'd like**
A way to change those variable with extra props.
For example we can add to SignIn component a prop placeholderColo

[2020-08-27 15:17] iartemiev commented on #6580
@mdoesburg I will attempt to reproduce with an RN app specifically, checking to see if mutations executed via the Console are detected in the app's subscription.

[2020-08-27 15:31] mdoesburg commented on #6580
@iartemiev Sorry I am just walking through all the steps again to see if I missed anything. I'll post a reply in a couple minutes.

[2020-08-27 15:41] elchicofrommo commented on #6627
Just wanted to check on this status. It's a little annoying but manageable at the moment, I just have to remove all my auth rules when I'm doing local testing with mock so I'm still able to move forward with most test cases, but in probably 3-4 days i'll need to move to the writing up the Auth tests. Need any help reproducing?

[2020-08-27 15:45] silmat01 commented on #678
Is this issue fixed?

[2020-08-27 16:17] iartemiev commented on #6580
No worries! Take your time

[2020-08-27 16:18] mdoesburg commented on #6580
@iartemiev Ok, I have some bad news. I still get `AWSAppSyncRealTimeProvider - closing WebSocket...` even when I allow all operations for owners on the `Question` model. I forget to set the log level to debug so this was probably the case earlier too. 😂

[2020-08-27 16:21] iartemiev commented on #6580
@mdoesburg Are you seeing any specific errors in the logs? When I was testing this, a few times I'd see the `closing Websocket` message but without any other errors and if I performed a DataStore operation (e.g., creating a Contact), it would still sync fine

[2020-08-27 16:26] mdoesburg commented on #6580
@iartemiev Yeah I get `Not Authorized to access onCreateUser on type Subscription` for onCreateUser, onUpdateUser, and onDeleteUser, but I don't know if that might be the cause.

[2020-08-27 16:29] mdoesburg commented on #6580
And right after one of those: `AWSAppSyncRealTimeProvider - Error while unsubscribing undefined`

[2020-08-27 16:31] mdoesburg commented on #6580
@iartemiev Should I share the whole log in the repo I created?

[2020-08-27 16:37] panayi commented on #2777
This works:

[code]

Don't change `emailVerificationMessage` in `parameters.json` as it will fail to push. Instead, use a separate email message (see `EmailMessageByLink` above). See docs for `VerificationMessageTemplate` [here](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-cognito-userpool-verificationmessagetemplate.html).

[2020-08-27 16:39] mdoesburg commented on #6580
@iartemiev I went ahead and added the log to the private repo.

[2020-08-27 16:41] iartemiev commented on #6580
Are you logged in with a user pool user?

[2020-08-27 16:43] mdoesburg commented on #6580
@iartemiev That log reflects the following:

- Initially I am not logged in
- Then I proceed to log in with one of the user pool users

[2020-08-27 16:44] iartemiev commented on #6580
@mdoesburg if you log in and then reload the app, are you still seeing the `Not Authorized to access onCreateUser on type Subscription` error? Or any other errors?

[2020-08-27 16:45] mdoesburg commented on #6580
@iartemiev Yes, I still get those errors, and there is no other errors.

[2020-08-27 16:54] mousedownmike commented on #6320
Until this gets resolved, my low tech solution is to redirect the user to the sign-in page with their email address pre-populated and the following message:

Onboarding users is something I want to make as frictionless as possible and this is the best approach I've come up with in light of the `confirmSignUp` limitations.  It's not great, but it's something the user experiences only once so it isn

[2020-08-27 18:10] jefelewis commented on #6320
Thanks for the help! This seems like the best route as that I'm not storing the password anywhere. Autofill should also come up on web or iOS/Android.

Ultimately, the less steps the better and it would flow better if it automatically logged in. I think Amplify should improve `confirmSignUp` to automatically sign in the user in OR add a new method of `confirmSignUpAndSignIn ` to automatically sign

[2020-08-27 19:58] Guttz commented on #812
I had this error simply because I had some additional logic inside onAuthUIStateChange( ... ) before setting the user state.

[2020-08-27 20:20] Reenagrg100 commented on #4580
@kbokarius I'm also facing the exactly same issue. In my case it is only working on "Dev" not on "staging" and "prod".

Did you get any update on this? Please share!

[2020-08-27 20:31] liamaws opened #6670 "AmplifyAuthenticator UI Component automatically displays "Sign in with AWS" button after configuring federated sign in"
**Describe the bug**
Configuring federated sign in using the amplify cli makes the AmplifyAuthenticator UI Component automatically display a "Sign in with AWS" button in the UI.

**To Reproduce**
1. Configure federated sign in using the amplify cli.
2. Use the AmplifyAuthenticator UI Component.

**Expected behavior**
The ability to remove or toggle the "Sign in with AWS" button from being displaye

[2020-08-27 20:46] kbokarius commented on #4580
@Reenagrg100 unfortunately not. It appears that a user pool created a few months ago works fine, but newer user pools have this issue. I'm hoping AWS folks @sarahcec @@iartemiev have some insight.

[2020-08-27 22:29] duwerq commented on #6327
I don't know if this is helpful, but when digging around I came across this pr -> https://github.com/aws-amplify/amplify-js/commit/528466e8000cffc3ee4340a03798f4a01ace0022#diff-01dcb02e57a6e70dff551961f32338c5

I can not seem to understand why the password disappears from `signUpAttrs: this.signUpAttributes` when passing the data from amplify-sign-up to to amplify-confirm-sign-up via `handleAuthSt

[2020-08-27 23:03] elorzafe commented on #6662
@asatvilker

Is not recommend to persist the URL storage.get(), that url is signed url that expires, so I am thinking that what you are experiencing is that the url is expired.

The `public` prefix means that any user (guest/authenticated) that you have enabled on that Amplify project can have read/write access. It doesnt mean the bucket is public (that is a bad practice)

What use case are you tr

[2020-08-27 23:07] elorzafe commented on #6663
@user32-2 this is an Amplify CLI issue, I will transfer this to that repo where they can handle better than me.

Thanks for your feedback

[2020-08-27 23:09] elorzafe commented on #6574
@nlarif can you share a code snippet of your usage and a redacted `aws-exports.js` file

[2020-08-27 23:12] elorzafe commented on #6666
@ywroh are you using Amplify console to deploy this?

Can you share more details?

[2020-08-27 23:20] amhinson commented on #6547
Ok thanks for the update! We'll keep this issue open for now. Let me know if things get resolved on that side. 🙏

[2020-08-27 23:34] elorzafe commented on #6488
@nubpro

Are you still experiencing this issue, I did the same thing you mentioned (iPad > Developer setting > Network Link Conditioner > Enable Bad network.) and everything works as expected.

Have you tried the latest release?

[2020-08-27 23:44] mezalejandro commented on #6547
Thank you very much I will keep you posted

[2020-08-28 00:34] mogarick commented on #6552
It looks the problem is definitely related with `Auth.signIn` behavior when called from jest vs called from UI and not from the way a user account is created (either via UI or jest).
If I create and confirm an account using the UI and then I use the same user and password in jest (without creating an account through the jest test), I get the same error `Incorrect username or password` when trying

[2020-08-28 00:53] mogarick commented on #6627
Hi @elchicofrommo. I have some related problem reported in #6552.
In my case I'm having problems with `Auth.signIn` in jest vs calling from UI.
I'm using a workaround for the moment but I'm stuck because when a call need to call a graphql operation using AWS_IAM I get a 403. Maybe is related to the workaround or to the reported problem. I don't know.

I'm leaving this comment in order to help out

[2020-08-28 02:14] entraigas commented on #5998
Any update on this matter?
I need this feature too.

[2020-08-28 02:19] abdielou opened #6671 "Non-syncable models prevent SyncEngine start"
**Describe the bug**
Non-syncable models prevent SyncEngine start. Sync Queries are NOT generated for Non-Syncable Models, but the `syncQueriesObservable` method still tries to wait on them.

This is an unusual error because Models in the generated schema (`src/models/schema.js`) have the property `syncable` set to true by default.

**To Reproduce**
Steps to reproduce the behavior:

1. Init Amplif

[2020-08-28 03:53] Reenagrg100 commented on #4580
So, what do you think @kbokarius is it the problem with Cognito or Apple? I'm not able to figure it out from which side it is breaking up. Also, any workaround this? then as per the scenario how did you handle it in your app?

[2020-08-28 04:01] kbokarius commented on #4580
@Reenagrg100 it's almost certainly Cognito. We have two user pools configured in the exact same way, one of which was created maybe 5 months ago, another that was created a week ago; the older one works fine, the newer one results in this error for Apple Sign In. Everything on the Apple side is configured the same way too, so it's probably a recent Cognito update that broke it.

I don't think ther

[2020-08-28 04:06] Reenagrg100 commented on #4580
Okay, thanks for the descriptive update @kbokarius.
Well, in my case both the pools are created at the same time and for Dev one its working and not for others. It's looking like very weird because both have exactly the same configurations.
Btw I'll be exploring more about it today, will update you as well if I get some solution.

[2020-08-28 04:48] all-iver commented on #3558
I just tried to replicate and it seems to be fixed for me, but I haven't updated in quite a while so there could have been a regression.  I'm still on aws-amplify-react 4.1.7.

[2020-08-28 05:31] nubpro commented on #6488
This is fairly difficult to reproduce but it does happen. I don't have any more details to share as we departing from using the websockets.
Hence, I highlighted the two sections where DataStore wouldn't reconnect if the scenarios happen.

[2020-08-28 06:43] Reenagrg100 commented on #4580
Hey @sarahcec @iartemiev please let us know if there is any update on this. This is very urgent to solve this issue quickly else we need to use some 3rd party other than aws. I think this feature is need of every app who uses any kind of social authentication. Please provide any solution asap.

[2020-08-28 08:18] Ivelraj1997 commented on #6569
Angular Target version - es5

build the project with ng build --prod

Deploy any hosting environment  then open hosted url in IE 11

[2020-08-28 09:56] BardiaN commented on #3558
Thanks for the reply @all-iver
So I tested my scenario and I guess I found my problem, but I think I have to open a new issue for it. It's related to the user being in `Unconfirmed` status and it happens because it takes a while for my user to be created due to existence of the PreSignUp trigger.

So when a user is in `Unconfirmed` status you can create duplicates, but Amplify is preventing that o

[2020-08-28 10:00] bukerok opened #6675 "Not possible to use MqttOverWsProvider in graphql subscription requests"
**Describe the bug**
Before 2.* version (1.3.3 latest version where everything works) graphql subscription request [was executed](https://github.com/aws-amplify/amplify-js/blob/aws-amplify%401.3.3/packages/api/src/API.ts#L476) and data from the response (`extensions`) was ussed to create subscription. From version 2 all subscription requests doesn't get executed and [tries to start web socket conn

[2020-08-28 13:31] aoloo commented on #2010
Any movement on this issue? I am on the same boat as @mrowles .

[2020-08-28 14:23] meddjelaili commented on #4958
why only Lax and Strict? None should be a valid value too

[2020-08-28 14:42] aoloo opened #6676 "Resend MFA Code API"
**Is your feature request related to a problem? Please describe.**
Our workflow MFA is required in Cognito via (SMS). The user enters the login username and password and is redirected to verify the MFA code page. Now comes the edge case where a user does not receive the MFA code due to network issues or other interference. Therefore we need to provide users with the option to resend an MFA code.

[2020-08-28 15:41] chanlito commented on #3635
@morgler I'm looking to use cognito without amplify as well but google search keeps showing amplify which is very annoying. Have you found any resources?

[2020-08-28 15:54] amhinson commented on #6616
This fix is available with `aws-amplify@unstable` right now. We should have a release to `latest` early next week 👍

[2020-08-28 16:15] elorzafe commented on #6664
@asumaran

Buckets doesnt supposed to contain slashes, You are using that `cognito/project-ui` prefix?

How did you configured those policies (public/private/protected)

[2020-08-28 16:16] deldrid1 commented on #4257
I'm also trying to follow along with https://docs.amplify.aws/start/getting-started/data-model/q/integration/react-native#connect-frontend-to-api with Typescript by trying to add a new screen inside of https://github.com/ethanneff/react-native-web-typescript.

My issue is with the type to useState

[code]

I've solved it by for now by passing `<any[]>` and putting a guard around `setTodos` but tha

[2020-08-28 16:26] Reenagrg100 commented on #4580
**Hey Guyz,**

I read out the above whole conversation and found that lots of people also faced this kind of issue and I was also facing this similar issue since yesterday morning.
_error_description=Invalid+user+attributes%3A+name%3A+The+attribute+is+required%0A+&error=invalid_request"_

**Let me first explain what was the issue in my case:**

I'm using 3 different environments DEV, QA, and PROD

[2020-08-28 16:31] kbokarius commented on #4580
@Reenagrg100 that makes sense, thanks. So in that case, how do we use multiple different environments with the same Team ID/Apple Developer Account? We obviously want to store the Name in each of our environments (stage, prod), which means that we would need to receive the Name field more than once. Is there a way to force Apple to provide it again? Is there another workaround I'm not seeing?

[2020-08-28 16:46] Reenagrg100 commented on #4580
Thanks for asking this @kbokarius as I forgot to mention this above. You can now look at my reply again to find the answer to your question.

[2020-08-28 17:19] morgler commented on #3635
Unfortunately no, @chanlito :(. To me it seems like Amazon tries to force developers into their half-baked Amplify library instead of selling Cognito separately. This is sad and makes me look for other solutions than Cognito (I used Firebase and Auth0 before, but they were both not production-ready when I used them). However, for the time being I have more important things on my plate and so I sti

[2020-08-28 17:26] elchicofrommo commented on #2886
Any movement on this? I just spent yesterday beating my head against this. I opened up another defect WRT testing and Amplify. I kind of have a love/hate relationship with the stack at this point.

[2020-08-28 18:00] asumaran commented on #6664
@elorzafe Thanks for respond. I'm not too familiar with AWS but I guess you are asking for this:

[code]

Where
[code]

The devs whom implemented the AWS stack are not in charge of the app anymore. So I'm trying to figure out the best way to fix this error without renaming all our S3 buckets..

[2020-08-28 18:04] manusharian commented on #4580
Hello,
I had similar problems but in this thread I found the quoted message which stated that Apple sometimes do not provide name, email or both. If I recall correctly when you login with Apple for the first time you have the option not to share name or email with the app. Therefore the app should consider not receiving this information from sign in.

[2020-08-28 18:30] elorzafe commented on #6664
@asumaran of course happy to help!

You can do this after doing `Amplify.configure(...)`

[code]

That will use the custom prefix and you should use the original bucket name until the first `/`

[2020-08-28 18:32] loukmane-issa commented on #5435
@ericclemmons about:

I don't believe this is what's happening. I am not a Next.js expert, but from what I understand, The ```getInitialProps``` will either run on the server or on the client depending if it's the first load. In both cases, the authentication is working properly if I place the authentication code within the get initial props of the page itself (e.g. *pages/dashboard.tsx*). However

[2020-08-28 18:40] Reenagrg100 commented on #4580
@manusharian no this is not the case that sometimes it gives us or sometimes not. It is fully certain that it gives Name only on first time and email every time. even if you are hiding the email, it will auto create an email for you and will return everytime.

[2020-08-28 18:50] ashika01 commented on #6671
@abdielou : Just wanted to confirm, I see you mention `push` after modifying the scheme, did you run codegen again after modifying the scheme before pushing the changes?

[2020-08-28 18:52] AlexWang-16 commented on #3055
II'm also getting this issue with my react application while using amplify. I have version 3.0.23.

[2020-08-28 19:10] kbokarius commented on #4580
@manusharian how would you handle a situation where Apple doesn't send back a name? Wouldn't you need to know in advance and not request it?

The problem is that it's not currently possibly to use Apple Sign In for the same iOS app, same Apple ID, but two different Cognito user pools.

[2020-08-28 19:47] marianolc commented on #399
Facing the same issue:

I've created my own identity pool in cognito. For the server/client auth workflow I followed this documentation:

https://docs.aws.amazon.com/cognito/latest/developerguide/developer-authenticated-identities.html

https://docs.amplify.aws/lib/auth/advanced/q/platform/js#identity-pool-federation

Server side code to create the token/identityId:

  var params = {
    IdentityP

[2020-08-28 19:55] all-iver commented on #3558
@BardiaN , my setup uses username plus email.  Cognito seems to prevent me from making a duplicate account with the same username, regardless of whether the existing account is confirmed or not.  However, it seems happy to let me have multiple accounts with the same email address but different username.  I can log in with username on either of them, but only one of them can have a verified email a

[2020-08-28 20:08] jefelewis commented on #1718
You solved my issue too! Thank you!!

Was:
cognitoUser.challengeName === 'Enabled / FORCE_CHANGE_PASSWORD'

Now:

[2020-08-28 20:23] manusharian commented on #4580
In our case we created the UI for the user to insert their name. We use cognito only to login and keep the password safe. Anyway the name will be display in our app (user profile), so we just ask for name if there is no name. This happened only on Apple, since on FB and G+ we do not faced this.

I misunderstood the topic, since we asked for the name we did not faced this error, yet.

[2020-08-28 21:42] elorzafe commented on #6675
@bukerok why you need to connect to GraphQL subscription using that provider instead of API category?

[2020-08-28 21:45] elorzafe commented on #6676
@aoloo

doing `Auth.signIn(..)` will resend the code, in that case you will need to store in memory the username and password for that purpose.

[2020-08-28 21:47] elorzafe commented on #6671
@abdielou why happen if you dont use `@model` directive for the type you dont want to sync?

[2020-08-28 21:49] elorzafe commented on #6666
@ywroh I will transfer this issue to Amplify console repo, they can answer that better than me

[2020-08-28 21:50] asumaran commented on #6664
@elorzafe that seems to have fixed the file upload. There's no warning and the file is put in the S3 Bucket. Thanks you! I'll report back if anything comes up regarding the custom prefix.

[2020-08-28 21:51] elorzafe commented on #6664
That is great to hear. I will close this but feel free to create another issue if you need.

[2020-08-28 21:51] #6664 closed

[2020-08-28 21:51] asumaran commented on #6664
@elorzafe sounds good to me. Thank you again.

[2020-08-28 21:53] elorzafe commented on #6625
@smithad15 this is great feedback I will take a look into this problem

[2020-08-28 21:54] elorzafe commented on #6616
I will close this issue for now, we will do a release early next week.

[2020-08-28 21:54] #6616 closed

[2020-08-28 22:17] jeffsteinmetz commented on #6145
I can confirm a similar issue still.  It is a plain vanilla react-native expo application, using the exact steps prior to, and up to this step in the getting started guide:
https://docs.amplify.aws/start/getting-started/auth/q/integration/react-native
relates to
https://github.com/aws-amplify/amplify-js/issues/3484
package.json snippet:
[code]

[2020-08-29 01:03] yuth commented on #6683
I have transferred the issue to Amplify JS team as they should be able help you better

[2020-08-29 05:02] srchulo commented on #6573
For anyone else who runs into this issue, I wasn't able resolve the root issue (hopefully we can still get this fixed!), but in addition to my auth.js middleware, I also made an API call wrapper that tries up to three times to refresh the current session before making an API call. Here are the two files I ended up using:

**~/middleware/auth.js:**

[code]

And here is my API call wrapper. Some of

[2020-08-29 05:44] bukerok commented on #6675
@elorzafe

Could you please explain, what do you mean by "API category"?

[2020-08-29 07:22] iamchathu commented on #3635
@morgler Agreed!

[2020-08-29 08:20] #6537 closed

[2020-08-29 08:41] superCarton opened #6685 "@aws-sdk v1.0.0-gamma.4 does not export ESM"
**Describe the bug**
In an ESM application using aws-amplify library 3.4.6, we encounter a runtime issue when the library is calling functions on @aws-sdk/credential-provider-cognito-identity.

Eg. of javascript runtime issue when calling :
`object(...) is not a function`

In my case, it was breaking on the [following line](https://github.com/aws-amplify/amplify-js/blob/aws-amplify%403.0.24/packag

[2020-08-29 14:33] ignaciolarranaga opened #6692 "Is it possible to customize/change the default username generated for identify federation?"
I've basically follow the instructions to set up the federated sign in (here for example: https://docs.amplify.aws/lib/auth/social/q/platform/js#setup-frontend) but I noticed the created username refers to the ID of the federation (e.g. Facebook_23469123419831).

The issue I have is that I doesn't want to expose the real user identity.

Is there any way to change the generated user id? (e.g. assig

[2020-08-29 14:50] meddjelaili commented on #4958
@ericclemmons can you please check this; It's critical for a project I'm working on

[2020-08-29 15:24] Ricardo1980 commented on #2853
@andriworld I would say you have to do nothing when the user logs out, but remove the endpoint when the user removes or deactivates his/her account, right?

[2020-08-29 18:03] Danm72 commented on #5435
I'm getting no current user when using the preview

[2020-08-29 19:20] #5729 closed

[2020-08-29 19:23] srchulo commented on #122
I'm still seeing this issue with huge bundle sizes. My app takes a few seconds on initial load largely due to many AWS libraries that end up being included in my build that I don't think are actually needed. Would be great to have this reduced! I love the convenience of the amplify libraries, but now I'm trying to think about what parts I can rewrite so I can reduce my app size.

[2020-08-29 19:34] MaazDev commented on #3474
@vidhyasagarj I don't know if it works also for angular universal but there is something in preview for nextjs https://github.com/aws-amplify/amplify-js/issues/5435#issuecomment-655660103

[2020-08-29 20:39] iartemiev commented on #6580
@mdoesburg I've done some more testing, this time specifically in RN.

I also ran into issues performing a `createContact` mutation via the AppSync Console, however, I believe it's unrelated to the issue at hand. I saw the following warning in my instance of React Native Debugger:

[code]
It appears the subscription is sent before all of the necessary data has been populated. I'll dig into that so

[2020-08-29 21:17] nikevp commented on #5416
+1 on error after upgrade

[2020-08-30 01:47] zhengligs commented on #6291
Just wanted to say that we're seeing exactly same problem.

[2020-08-30 03:32] iartemiev commented on #5926
@ajonp - I don't think the issue is with too many calls. I've created a sample app where I create and save items sequentially using `setInterval`, and even when the interval is set as low as 10ms, DataStore handles it fine and keeps syncing. At 200ms, it syncs live with no delay (i.e., it completes a round trip and will have values for `_version` and `_lastChangedAt` almost at the same time as it'

[2020-08-30 12:25] bukerok commented on #6675
I'm connecting to AppSync (AWS GraphQL implementation) via Amplify.
Earlier subscription request was executed to GraphQL endpoint, and data from the response was used to create websocket connection. As I understood, now subscription request tries to create websocket connection to GraphQL endpoint provided in configuration.

./awsconfig.js
[code]

How can I configure Amplify in such manner to use a

[2020-08-30 15:38] doraeball22 commented on #2739
I have the same issue. I have attached policy by following the amplify pubsub document. Anyone has some example?

[2020-08-30 21:38] mattAtPropertyMe commented on #6530
Confirmed targeting `es5` removes the `Unhandled Promise rejection` error, thanks @WolfWalter

Agreed @etjenkins, at a minimum we should be able to target es2015/es6.

It also seems the recent change/re-launch from v2 to v3 for the Amplify JavaScript libs was supposed to introduce 'Modularized Amplify libraries' which enable tree shaking, however I can't see how this is 100% achievable, given it's

[2020-08-30 21:51] kbokarius commented on #4580
@manusharian how do you determine if there is no name? Does Cognito just pass back an empty string for the name?

[2020-08-31 05:48] Woodz commented on #2166
Most of the scenarios observed in this issue would be a lot simpler to resolve if the error message was not misleading and contained resolution steps. For example, I think that we should replace
`Codegen support only one GraphQL API per project` with `Amplify currently only support creation of a single GraphQL API codegen configuration file (.graphqlconfig.yml) per project.`

[2020-08-31 06:58] mayt opened #6689 "[ui-component] AmplifySignUp formFields does not accept a type"
**Describe the bug**
AmplifySignUp formFields does not accept custom types like date, time, etc.

**To Reproduce**
[code]

**Expected behavior**
Expect a date picker to show up. But a text field is rendered.

[2020-08-31 07:19] saachitech commented on #6547
I have written a small story on how everything should be set up. Here is the [link ](https://medium.com/@saachitech/react-native-social-sign-in-with-apple-and-amplify-6c803b2971d6) if you are interested.

[2020-08-31 07:52] meducati opened #6691 "Datastore initialization fails because one model do not sync"
**Describe the bug**
This is driving me crazy....

Following the event order from Datastore start as described here: https://docs.amplify.aws/lib/datastore/datastore-events/q/platform/js

For some reason, one of my models (1 of 8) do not sync. This issue only apples on one my three ENVs (same app, different backends). The data in this model (compared to its dev + test counterparts) is slightly big

[2020-08-31 08:11] ivandimov commented on #2588
@sandramedina we did kinda workaround. When they register we autoconfirm the account, so they will be able to login. On their first login, we are sending an attribute(email) verification email, using the client sdk and prompt the user with a message, that they will have to confirm their email. It's a little hacky, but will do the job for us.

[2020-08-31 08:24] manusharian commented on #4580
@kbokarius no, it will not pass a name. We use redux and the name will be undefined. We have the following flow, first time the user logs in we launch onboarding sequence and there we ask for the name if not provided (on Apple signing situation), afterwards we use DynamoDB to store info about the user, including their name. Therefore, on next login we already have the name in DDB and we do not rel

[2020-08-31 11:35] alichherawalla commented on #5522
@elorzafe  is this possible?
can we pass validationData to federatedSignIn?

For my particular use case there is a precursor step that they need to take before they can sign in using facebook, so I pass the result of that step in the validationData to ensure that the user is valid

[2020-08-31 12:01] abdielou commented on #6671
@ashika01 yes

[2020-08-31 12:04] abdielou commented on #6671
@elorzafe I need this be a top entity with `@auth`, `@key`, and `@connection`. It just can't be synced locally because it's going to be a big collection. It will still be accessed through pure GQL.

[2020-08-31 12:15] aoloo commented on #6676
@elorzafe @amhinson  we are currently implementing that, but the authentication code does not always get sent? There some instances where calling `Auth.signIn()` does not work.
[code]

This is my current implementation within a on click event when a user submits a form. It will be really nice to have a resendMFA api call. This can benefit the community implementing MFA.

[2020-08-31 13:27] bronhy commented on #5813
@manueliglesias Is there a bug ticket for this so we could follow the progress?

[2020-08-31 13:49] mdoesburg commented on #6580
@iartemiev Ran your sample app with the same exact setup (2 simulators, 2 users etc.), and I am getting the same results as you. So that seems to be working, which is great news! :)

I am going to try and update the packages again on my real app to see if I still get the websocket disconnect. The only difference I see right off the bat is that your sample app uses a newer RN version and newer `@re

[2020-08-31 13:57] iartemiev commented on #6580
@mdoesburg glad to hear that! Hopefully, we're on track to getting this working for you 🙂
I'll go ahead and close #5290

[2020-08-31 13:57] iartemiev commented on #5290
Closing as discussed in #6580

[2020-08-31 13:57] #5290 closed

[2020-08-31 14:06] kbokarius commented on #4580
@manusharian got it. What's interesting is that on our end, using iOS's native Apple Sign In UI, the user is only asked whether to show their email, not their name. So we always get the name if it's the user's first time signing into one of our Cognito user pools. We still run into the issue of Apple not sending the name again when using a different user pool, but that's a separate issue.

[2020-08-31 14:15] astenmies commented on #5435
Thanks so much @ericclemmons it works well in Next.js. I'm not completely done with the refactor, but if anyone needs a Next.js example, here is mine:

## Install AWS Amplify `@preview`

[code]

## Create a HOC that will be used in `_app.js`

[code]

## Use withAmplify in `_app.js`

Wrap your App with `withAmplify` HOC previously created.

[code]

## Create a login page

[code]

[2020-08-31 14:23] aoloo commented on #5888
@nihp  for your last quest on `If the confirmation code is not received how the user will proceed signUp (i.e) any option to trigger the MFA for that user via our Auth.signUp`. You use `Auth.resendSignUp()` for that usecase. Here is documentation [resendSignUp](https://aws-amplify.github.io/amplify-js/api/classes/authclass.html#resendsignup)

[2020-08-31 14:35] mezalejandro commented on #6547
Hello @saachitech , can I get in touch with you?
Thanks

[2020-08-31 14:43] saachitech commented on #6547
@mezalejandro of course. Contact me at sameer.jain@saachitech.com Thanks

[2020-08-31 15:12] mezalejandro commented on #6547
Thank you very much @saachitech  I already sent you the email

[2020-08-31 15:35] mdoesburg commented on #6580
@iartemiev How come on the sample app we don't get the unauthorized error for the `User` model?

[2020-08-31 15:47] iartemiev commented on #6580
@mdoesburg Just tried it and if I attempt to create a `User` while signed in with my user that doesn't belong to the Admin group, I get the following error:
[code]

When signed in with the other user (the one belonging to Admin), I'm able to create a `User` successfully, which is what I would expect given the `@auth` rules defined on the model.

Are you seeing a different result?

[2020-08-31 16:14] mdoesburg commented on #6580
@iartemiev Your right in your observation that the mutations are properly protected, but the issue is that I instantly get this when the DataStore starts and sets up all the subscriptions:

[code]

When I change the User model to this:

[code]

After adding the `{ allow: private }` rule as shown above, I no longer get the websocket disconnect and everything works.

These specific [changes](https:/

[2020-08-31 16:16] karthikReigns commented on #1908
I created a Sumerian host and Cognito identity pool also applied and I give the speech as well as behavior too.....but it was not speaking

[2020-08-31 17:05] mdoesburg commented on #6580
@iartemiev To answer my own question, this is clearly not intended considering the `_closeSocketIfRequired` method starts with an if statement to check if there is any active subscriptions:

[code]

So the question is why it actually thinks there is no more active subscriptions, and thus closes the websocket?

[2020-08-31 17:32] nlarif commented on #6574
Here is my code snippet:
`
import React from 'react';
import { StyleSheet, View } from 'react-native';
import { ChatBot } from 'aws-amplify-react';

export default function App() {
  return (
    <View style={styles.container}>
    <ChatBot
        botName='BookTrip_dev'
        welcomeMessage='Hello'
        //onComplete={this.handleComplete}
        clearOnComplete={false}
        styles={StyleS

[2020-08-31 17:56] iartemiev commented on #6580
@mdoesburg

Got it, sorry I had misunderstood originally. I'm confused about why those `User` subscriptions are erroring out in your app but are working fine in the sample...

Exactly (: it was a false negative before.

I'm going to look into this some more and get back to you.

[2020-08-31 18:29] jeffsteinmetz commented on #6404
Similar issue.  In Expo / react-native / Android
How would you specify .mp4 as the encoding / file type for AWS Transcribe, via the javascript amplify prediction class (instead of PCM)?

https://docs.amplify.aws/lib/predictions/transcribe/q/platform/js#working-with-the-api

Expo on android supports .mp4 AAC and not PCM

According to the Transcribe docs, Transcribe supports FLAC, .mp3, .mp4 and .wa

[2020-08-31 18:51] mdoesburg commented on #6580
@iartemiev

This boggles my mind too... I get no `User` subscription errors in the sample app, and I am using the same package versions...😂

I've been adding some `console.log` statements to `AWSAppSyncRealTimeProvider.js`, but can't really seem to figure out what the issue is. I do see that `_sendUnsubscriptionMessage` is called for all subscriptions right after this subscriptionError is logged:

[2020-08-31 18:53] cedricgrothues commented on #6404
@jeffsteinmetz – Amplify uses the `Transcribe Streaming` web socket API instead of `Transcribe`'s REST API, and that, as of now, only supports PCM.
https://github.com/aws-amplify/amplify-js/blob/abf8e824308c229e09e585a7995d17a51f36c652/packages/predictions/src/Providers/AmazonAIConvertPredictionsProvider.ts#L398

For reference, the [`Transcribe Streaming` docs](https://docs.aws.amazon.com/transcri

[2020-08-31 19:00] iartemiev commented on #6580
@mdoesburg just out of curiosity, have you tried creating a new cloud environment for your app?
[code]

If that doesn't make a difference, you can always go back to the previous env and delete this one with:
[code]

I'm just wondering if maybe the error you're getting is the result of some combination of iterative changes to the schema... Obviously, that shouldn't be leading to errors, but I thoug

[2020-08-31 19:07] akshbhu commented on #6692
Hi @ignaciolarranga

This question seems related to JSLib while setting up frontend. I am transferring this to JS team , they will help you for this issue.

[2020-08-31 19:43] coljzh214 opened #6693 "Storage.get( { download: true } ) does not get latest version of S3 bucket file after modifying"
Unsure if this is a bug, but encountered some weird caching behaviour with Storage.get() when retrieving file data contents, so this should be clarified. I have an Amplify project that gets data from a text file stored in an S3 bucket made with initializing Amplify storage. The issue is when recent updates are made on a specific file, like updating the file directly on the management console or ca

[2020-08-31 19:50] ChristopheBougere commented on #5623
Any update or workaround on this @ashika01?
I tried the `Auth.configure({ authenticationFlowType: 'USER_PASSWORD_AUTH' })` as well but this doesn't seem to work :/

[2020-08-31 19:55] mdoesburg commented on #6580
@iartemiev I already had 2 environments, but tried making another one because you never know. :p Unfortunately it didn't work, and I am getting the same subscription error and the websocket closes.

[2020-08-31 19:57] rajinonnet commented on #3771
Hey @springcoil, I am also getting the same error, I converted the **verification code** in to **int** before call, still no luck ?

Guys anyone still getting the same error ?

![image](https://user-images.githubusercontent.com/64529654/91761271-3ad6f380-ebf2-11ea-92bd-c46e3f0ad7d0.png)

[code]

[2020-08-31 20:21] iartemiev commented on #6580
Got it. Thanks for trying that!

Does the shape of the schema in src/models/schema.js for `User` look the same in the sample app vs your app?
What about the generated graphql schema in amplify/backend/api/app-name/build/schema.graphql

[2020-08-31 20:29] nikevp commented on #6479
+1

[2020-08-31 20:32] mdoesburg commented on #6580
@iartemiev `schema.js` for `User` is an exact match, so is the `type User` in `schema.graphql` for both apps.

[2020-08-31 20:46] iartemiev commented on #6580
Are you getting the error for any signed-in user? Or just those that don't belong to the Admin group?

[2020-08-31 21:06] mdoesburg commented on #6580
@iartemiev Only users that don't belong to the Admin group get the error.

[2020-08-31 21:16] #5024 closed

[2020-08-31 21:36] astenmies commented on #5435
While digging deeper in my implementation, I was hoping to override the path of the cookies options via [`cookieStorage`](https://github.com/aws-amplify/amplify-js/blob/main/vscode/auto_snippet_documentation.md#prefix-amplify-manual-setup-2), however, this has no effect on the [`CognitoIdentityServiceProvider`](https://github.com/aws-amplify/amplify-js/blob/main/packages/amazon-cognito-identity-js

[2020-08-31 21:39] wlee221 commented on #5024
Hello @matulef and @jonasduever, sorry about the delay. We just released a new chatbot ui component that fixes this issue. It will take few hours to get through the pipeline, and I'll keep you updated when it gets released. Please see the [documentation](https://docs.amplify.aws/ui/interactions/chatbot/q/framework/angular) for getting started.

[2020-08-31 22:04] ericclemmons commented on #5435
@astenmies Good catch! I've locally updated `UniversalStorage` to add `path: "/"`.

There's not a compelling reason _yet_ to allow that customization, as I'd like to get more real-world usage examples to figure out what signature `UniversalStorage` should have.  (The fact that it uses cookies behind the scenes is an implementation detail with it's own flaws)

[2020-08-31 22:18] mrowles commented on #6535
I am also seeing this over the last 24 hours. It happened in an app that had no updates in the last fortnight, so it seems to be a Cognito issue.

[2020-08-31 23:05] RylandCapital opened #6695 "Mixed Content: was loaded over HTTPS, but requested an insecure XMLHttpRequest endpoint"
**Describe the bug**
I have a react app that works perfectly in development/and production build when being served up via "serve build." I went through the AWS amplify process pretty quickly, and the app built is no issues and was deployed, However the page was blank and the console gave the error:

 ag_signaltab.js:5 Mixed Content: The page at 'https://master.d1n9105puc6llp.amplifyapp.com/' was l

[2020-09-01 01:23] iartemiev commented on #6580
@mdoesburg, you're correct that if a single subscription fails, we currently close all subscriptions. We will be changing this behavior to allow other subscriptions to continue when this happens.

[2020-09-01 01:30] wlee221 opened #6696 "[RFC]: Amplify Chatbot UI Component Refactor"
This issue is a **Request For Comments (RFC)**. It is intended to elicit community feedback regarding a proposed change to the Amplify JS UI components. Please feel free to post comments or questions here.

## Background

As part of [Amplify UI components refactor](https://github.com/aws-amplify/amplify-js/issues/3279) phase 2, we are introducing a refactored chatbot UI.

##  Previous Chatbot UI P

[2020-09-01 01:44] santuvytla commented on #5623
you can use toastify for custom messages if above solution doesnt work...
import { toast } from "react-toastify"
 signUp = async form => {
    const { username, email, password } = form
    try {
      const user = await Auth.signUp({
        username,
        password,
        attributes: {
          email, // optional
          // phone_number,   // optional - E.164 number convention
          /

[2020-09-01 01:56] jeffsteinmetz commented on #6404
@cedricgrothues Ahh!  Gotcha.  Looking at
https://github.com/aws-amplify/amplify-js/blob/abf8e824308c229e09e585a7995d17a51f36c652/packages/predictions/src/Providers/AmazonAIConvertPredictionsProvider.ts#L401

I see it has `sample-rate=16000` hard coded in the URL generation.

These docs
https://docs.amplify.aws/lib/predictions/transcribe/q/platform/js#set-up-the-backend
don't make mention of the f

[2020-09-01 05:11] iamytg commented on #6327
`<AmplifyConfirmSignUp slot="confirm-sign-up" usernameAlias="email" />`

[2020-09-01 07:04] psaks opened #6697 "Hide Skip link in VerifyContact (force users to verify contact)"
Hi,

It does not seem to be possible to hide Skip link in VerifyContact.

Specifically, when we invite users to join (setting email to not verified), they get sent an email with username and temporary password.

Upon login they get prompted to change their password, and then to verify their contact. However, in the VerifyContact form they can just click Skip instead of being forced to verify.

[2020-09-01 07:54] jfhidakatsu commented on #5075
How can this be corrected? Is it safe to hide the warning as above?

[2020-09-01 09:47] bukerok commented on #6675
@elorzafe Could you, please, help?

[2020-09-01 10:23] jernejc commented on #2089
2 years almost ?

[2020-09-01 10:49] aoloo commented on #6676
@elorzafe Just to note when calling `Auth.signIn` it returns `{"__type":"CodeMismatchException","message":"Invalid code or auth state for the user."}`. So it is crucial that we have an api for re sending mfa authentication code.

[2020-09-01 11:44] shox-harri opened #6698 "Bundling amplify is not working with rollup/typescript"
**Describe the bug**
Bundling amplify is not working with rollup/typescript, some packages are considered as external dependencies and rollup is not able resolve it.

To explain more check the following example:
One of the dependencies is middleware-retry (from aws sdk v3):
node_modules/@aws-sdk/middleware-retry -> package.json:
[code]
This package doesn't contain `./dist/es` files while it's spec

[2020-09-01 12:05] yh54321 commented on #3635
@morgler I see however that Cognito has a seemingly thorough documentation which does not reference Amplify [https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools.html](url). If I follow this guide, will I get stuck eventually...?

[2020-09-01 13:19] mitchgillin commented on #6676
Seconding! This is an issue for me as well. Would be great if I could resend confirmation codes, without having to make users re-sign in.

[2020-09-01 14:36] sakhmedbayev commented on #6327
Hmm, any news? We need a solution to this issue.

[2020-09-01 15:16] meducati commented on #6691
Follow up:
To circumvent this issue until I find a solution, whenever I normally would use "Database.query", I now have to await and check if the array returns empty. If it is empty, I do an API.GraphQL call, using the Amplify-constructed "syncQuery", which return all my 462 entries correctly.

It feels like this is not related to the DB size, but rather a conflict somewhere. Because we are on the

[2020-09-01 15:22] jaivinodha commented on #6604
It has started working. Sms limit is the problem :) thank you once again 👍

[2020-09-01 15:22] #6604 closed

[2020-09-01 15:38] ajonp commented on #5926
@iartemiev I would love to take a look at the repo, maybe I am just setting something up incorrectly on the Angular side.

[2020-09-01 15:48] iartemiev commented on #5926
@ajonp here it is: https://github.com/iartemiev/datastore-speed-test

It's just an extremely basic POC and it's in React but I don't think the framework plays any role at all with how many calls you can make. The only thing I can think of is making sure to create the DataStore subscriptions in the correct component lifecycles. I don't know Angular particularly well, but most likely you'd want to m

[2020-09-01 16:02] jasontripleps opened #6700 "Multi-Level @auth across connections"
**Is your feature request related to a problem? Please describe.**
I'm unable to authenticate child types with a dynamic group from the parent.

Consider the following schema

[code]

From TypeA, I want to be able to access `typeB/parent/name` for example through the 'editors' groups.

I'm getting the error `Not Authorised to access typeB on type TypeB` (which doesn't make much sense as an error?)

[2020-09-01 16:24] ChristopheBougere commented on #5623
@santuvytla Thanks for your answer. That means doing your own authentication workflow though, and I'd like to keep the authentication UI component (react in my case) if possible.

[2020-09-01 16:39] inklingsofreality commented on #6411
I'm having a similar issue to the OP, but mine's happening on `npm run serve`. This is also a project run from the tutorial as indicated in the OP. I thought it could be a difference between using Yarn and NPM, but I proved that false by trying both. I'm including code from my main.js and from my package.json as well as the error message. It seems that @aws-amplify-ops/ui-vue is broken.

main.js
[

[2020-09-01 16:43] siegerts commented on #6411
@inklingsofreality have you tried on a v2.x version of Vue instead of Vue 3?  https://github.com/aws-amplify/amplify-js/issues/6411#issuecomment-668915751

[2020-09-01 16:46] inklingsofreality commented on #6411
I had tried it, but ran into other issues. I'll try again and see if that solves it.

[2020-09-01 16:53] inklingsofreality commented on #6411
And more errors, but it could be because my cli-service is 3.0.

`cannot find module 'vue-template-compiler/package.json`

[2020-09-01 18:07] zacharywenner commented on #6467
Does anyone have any workarounds or ideas? We want to deploy Facebook login ability for our 90,000+ users.

[2020-09-01 18:33] ShawnYcx commented on #2498
Hi, I'm having issues with react url param routes and it's giving out error on amplify.

**Example routes with url params**
[code]
**This is the error I'm getting**
![image](https://user-images.githubusercontent.com/7292742/91891773-355fc480-ec57-11ea-9013-556727460efb.png)

**On amplify I have these redirects setup**
![image](https://user-images.githubusercontent.com/7292742/91891884-5fb18200-ec5

[2020-09-01 19:23] mogarick commented on #6552
Hi again @khanson98 @amhinson.
I made a new test using now the web version of my app. It worked without any trouble for signing in.
I could make some parallel tests through my web app to use the same request to make the HTTP call manually. I debugged  `CognitoUser`. I used the `PASSWORD_VERIFIER` server response to the `InitiateAuth`call and then I used the `challenge` value generated for the call

[2020-09-01 19:30] sammartinez commented on #6685
@superCarton Thanks for reporting this, We are aware of the export to ESM is not being export because of `gamma.4` version. We are working on testing the later version, `gamma.6` in order to validate non breaking changes in order to get this issue fixed. I will provide another update later on in the week. Thanks!

[2020-09-01 19:43] inklingsofreality commented on #6411
After much troubleshooting and refactoring, I finally got it. Apparently, the tutorial is broken. Anyways, here's what my package.json and main.js look like now.

package.json
[code]
main.js
[code]

[2020-09-01 20:41] Jaftem commented on #6413
Posting to say I'm seeing the same with Amplify for Node. In my web app users can edit CSV files on a S3 bucket. After saving the CSV file and then re-opening the file, an older version of the CSV file is retrieved which I've also suspected is due to caching. On the S3 console I can see that the latest updates have been made.

[2020-09-01 20:56] Jaftem commented on #6693
Similar issue (that's also unresolved) here: @6413

[2020-09-01 21:38] mrowles commented on #6535
This was solved by reverting from `aws-amplify@3x` to `aws-amplify@2x`. We were live with 3x for a little while, so I'm not sure how the break came about, nevertheless reverting back to 2x fixes this. Thanks @maxflores

[2020-09-01 22:02] elorzafe commented on #6697
@psaks you are using UI components?

Can you give more details on which framework you are using?

[2020-09-01 22:20] mogarick commented on #6667
@paulsjohnson91 the reason your are getting the email as username may be related precisely to the USER_PASSWORD_AUTH that you used. I've reported an issue a few days ago (#6552) and while digging into it I stumbled with the same behavior when I needed to force the `authenticationFlowType` to `USER_PASSWORD_AUTH`. (https://github.com/aws-amplify/amplify-js/issues/6552#issuecomment-682259256).

[2020-09-01 22:48] mkwatson commented on #5179
@ambriglia did you ever figure this out? I'm also having this problem

[2020-09-01 23:11] green-turtle opened #6702 "Missing Translations in Amplify18n.d.ts"
**Describe the bug**
Some labels in react Auth views are not translated in `Spanish` and `Chinese`. As I need to display `Amplify` auth views in `Spanish`, I have to add my own vocabularies after getting someone to translate them for me.

**Code Snippet**
The cause is that `Amplify18n.d.ts` under `aws-amplify-react/lib-esm` is missing quite a lot of translations for `Spanish` and `Chinese` compari

[2020-09-01 23:17] rorobolla opened #6703 "Async Storage -- AWS amplify error"
<img width="909" alt="asyncstorageerror" src="https://user-images.githubusercontent.com/70610965/91915034-87204300-ec87-11ea-8d0e-a8056aa3df96.png">

**Hi all I am getting this error with AWS amplify and it only started coming recently. Can someone please point me in the right direction?**

this is my package.json
{
  "name": "masterapp",
  "version": "0.0.1",
  "private": true,
  "scripts": {

[2020-09-01 23:32] matansagee opened #6704 "Adding support for adminUpdateUserAttributes"
**Is your feature request related to a problem? Please describe.**
Yes, we are trying to build a user management tool and let the admins to change other users attributes
adminUpdateUserAttributes

**Describe the solution you'd like**
Support adminUpdateUserAttributes in the Admin Queries

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or fe

[2020-09-01 23:32] green-turtle opened #6705 "Unable to Step into the Code in @aws-amplify/core/lib-esm/I18n using Chrome DevTools"
**Describe the bug**
Chrome `DevTools` can't display the right execution line of code, neither to show the right variable values.

**To Reproduce**

1. Launch a `React` application that utilizes `I18n` in `@aws-amplify` `core` in Chrome
2. Lauch `DevTools`
3. Go to source and locate the `index` file under `@aws-amplify/core/lib-esm/I18n`
4. Put a breakpoint at `line 61``I18n.checkConfig();` or any

[2020-09-02 03:17] amlcodes commented on #3197
same

[2020-09-02 04:18] mayt commented on #6689
I created a pr to resolve this issue https://github.com/aws-amplify/amplify-js/pull/6690

[2020-09-02 05:03] #6590 closed

[2020-09-02 06:09] Can-Sahin commented on #987
LoL 656 issues are open right now and stale bot is a nice way to get away from the things they ignore

[2020-09-02 06:51] NikoMontana commented on #2089
Yeah, glad I decided back then to roll with my own solution.
It was a pain in the ass at first, but man - totally worth it!
As I can see other guys still struggling with this kind of shit.

AWS is not interested in AppSync, it´s just another service
in their chain, but fo real - firebase is still better even
if firebase sucks.

Am Di., 1. Sept. 2020 um 12:23 Uhr schrieb Jernej <notifications@githu

[2020-09-02 07:11] psaks commented on #6697
Yes @elorzafe , this is what we have,

`import { AmplifyAuthenticator, AmplifySignIn } from '@aws-amplify/ui-react';`

[code]

The `<div slot="secondary-footer-content"></div>` is to hide signUp.

[2020-09-02 07:23] theothertaxman commented on #612
Hi! September '20 and still waiting for an easy way to redirect users back to my site after clicking on the email validation link.

I will use the lambda workaround, but still it would be nice if you could push this feature in your backlog 🥰

[2020-09-02 09:36] paulsjohnson91 commented on #6667
Yes I believe that USER_SRP_AUTH is the default auth flow in amplify that's why I set my config to `USER_PASSWORD_AUTH` however my response still has USER_SRP_AUTH in

[2020-09-02 11:47] ambriglia commented on #5179
@mkwatson it sounds like we would need to create our own custom resolvers. Amplify does not offer this type of query out of the box. I have not actually tested it out though.

[2020-09-02 11:48] peterjungx opened #6707 "DataStore generated sync query results in error "InternalFailure""
DataStore does not work. Spending hours I have identified the following root cause, which renders DataStore unusable due to downstream problems.

**Describe the bug**
I have several tables defined in my `schema.graphql`.  The generated `listX` queries all work, but there is one `syncX` query that fails:
[code]
results in
[code]
All other `syncX` queries do work (in the AppSync console and from the

[2020-09-02 11:54] peterjungx commented on #6707
Here is an excerpt from relevant logs with `Amplify.Logger.LOG_LEVEL = 'DEBUG';` enabled.

[code]

and then syncing will be retried 12 times, after that DataStore gives up.

[2020-09-02 12:26] krikork commented on #1145
+1 ... there's a direct financial and performance cost impact to using Storage.list before Storage.get

[2020-09-02 15:05] meducati commented on #6707
Out of curiosity, are you getting the same errors as me via Utils - error ?? https://github.com/aws-amplify/amplify-js/issues/6691#issue-689000532

[2020-09-02 15:13] Alk3m1st commented on #6330
Also experiencing this when using Auth.federatedSignIn({provider: 'Google'}) unfortunately.

[2020-09-02 17:18] peterjungx commented on #6707
meducati, thanks for asking. No I do not see the timeout errors you reported in #6691. When I open that errors array in the console I always see just one item with `"errorType": "InternalFailure"` as reported above.

[2020-09-02 18:24] peterjungx commented on #6707
A new finding is this: This error does **not** occur when I bootstrap a new env with `amplify add env`. Same schema.

So I'd like to avoid the hassle of recreating the production env. This would involve migrating data not only for the API but also cognito. Assuming the problem persists, what would be a suggested better strategy?

[2020-09-02 20:09] TheMasterDanis commented on #5926
I'm also having problems in syncing data via DataStore. It reads data from the database assigned to it, but when i create something to send to it, it generates it offline, but doesn't send it to the cloud. It also doens't assign a owner field to it, even when localy.

This is my schema.graphql

`type Post @model
  @auth(rules: [
    { allow: owner}
  ])
{
  id: ID!
  name: String!
  description: S

[2020-09-02 20:11] liamaws opened #6710 "AmplifyAuthenticator - Verify Contact Information Screen displays "your.adress@example.com""
**Describe the bug**
After federated sign in, the verify contact information screen displays "your.adress@example.com" as the email address for verification

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://master.dw8p5s05jola3.amplifyapp.com/
2. Sign in using an external IdP (Google for example)
3. You will see an "Account recovery requires verified contact information" screen

[2020-09-02 20:32] wlee221 commented on #6698
Hello @shox-harri, thanks for reporting the issue. This seems to be duplicate of #6685, so we will be closing this issue in favor of #6685. We are testing the latest `aws-sdk-js@gamma.v8` in order to validate non-breaking changes and will provide you with an update. Thank you!

[2020-09-02 20:32] #6698 closed

[2020-09-02 20:47] nullptrerror commented on #446
How would you re-route the request on an unauthorized request?

[2020-09-02 20:48] tejpowar opened #6711 "User cannot be confirmed. Current status is FORCE_CHANGE_PASSWORD"
**Describe the bug**
Currently I have my app in beta and therefore inviting users from the userpool as admin. When they receive the email with the verification code they are redirected to the register page.

So the user then fills details in and submits I get the error

"User cannot be confirmed. Current status is FORCE_CHANGE_PASSWORD

Does amplify support this kind of journey?

**To Reproduce**

[2020-09-02 21:11] neojp commented on #6590
I can confirm it's working with the current version of `@aws-amplify/ui-vue@0.2.15` . Thank you @jordanranz!

![image](https://user-images.githubusercontent.com/127994/92037085-3f5cf280-ed3f-11ea-98dd-067f9e861ab1.png)

[2020-09-02 21:14] mkarsene commented on #2605
@benjeater  I also faced this issue, e.preventDefault() worked for me as well!

[2020-09-02 21:56] bowty14 commented on #2611
if you have your app wrapped with "withAuthenticator" then where ever you need the username, email whatever all you need to is set up a function to get the current user.
function getUser() {
    let user = Auth.user.username;
    return user;
  }
  console.log( "username is: ", getUser() )
this will give you that username that you can use anywhere in the app. if you just do Auth.user you will get

[2020-09-02 23:03] #6645 closed

[2020-09-03 00:14] mogarick commented on #6552
I found out the problem is similar to aws/aws-encryption-sdk-javascript#126. The problem is with this code fragment in the `lib-typedarrays.js`

[code]

the condition fails presumably due the value coming in from the jest test being generated in other nodejs vm instance or something like that.

TL;DR I created a custom testEnvironment file as commented by @wi-ski in https://github.com/facebook/jes

[2020-09-03 01:59] MatteoInfi commented on #2545
That broken completely my web app

[code]

[2020-09-03 02:07] MatteoInfi commented on #2545
Turns out that the AWS docs contains a wrong solution, this is what works:

[code]

The docs should be fixed

[2020-09-03 02:17] rorobolla commented on #6703
@Ashish-Nanda --> I've tried editing the various files like you mentioned in a previous issue like this but I still get the same error. Can you please advise? Thank you so much!

[2020-09-03 05:05] harrycjy1 opened #6715 "Storage.get() gives me a url even i gave the wrong key"
**Describe the bug**
when i give the wrong key to Storage.get() method it gives me a url anyway.
and if i put that url chrome it gives something like this
(i gave key "dfsdfadfasdf" here)

![image](https://user-images.githubusercontent.com/42664575/92073558-efd5ff80-edee-11ea-8ef2-90695b05dd5d.png)

if it's not a bug then is there anyway that returned url has no such key error?

i'm using amplify

[2020-09-03 05:12] #6715 closed

[2020-09-03 05:12] harrycjy1 commented on #6715
duplicate #1145

[2020-09-03 08:34] novoselovaleksandr commented on #5926
Data is created, but it is not available in App Sync and as a result, there is no sync of this data between
 [MyRepository](https://github.com/novoselovaleksandr/amplify_dataStore)

[2020-09-03 09:14] pabloVoorvaart commented on #2648
I can confirm using /{configured path}/object makes .get .del requests work

[2020-09-03 09:49] Shmublon commented on #5539
I have the same issue on android, it takes minutes to sign in. I can reproduce it only on android real device

[2020-09-03 10:55] pabloVoorvaart commented on #2648
This has been added to the documentaion.

https://docs.amplify.aws/cli/restapi#set-up-a-rest-api-with-amazon-dynamodb

[2020-09-03 12:19] p12y commented on #6711
You need to call `completeNewPassword` to allow the user to create their own password.

https://aws-amplify.github.io/amplify-js/api/classes/authclass.html#completenewpassword

[2020-09-03 12:20] jasontripleps commented on #6700
Having thought some more about this - a lambda function resolver in the @auth may be a much better solution.

So the following:

@auth(rules: [{allow: function, function: "myfunction-${env}", operations: [create, update, read]}])

and then in the function  it would take the query or mutation as parameters and be resolved to true or false. That way complex logic can be applied to the auth.

[2020-09-03 12:55] getsbydev opened #6718 "Build fails due to missing dependency in @aws-amplify/pubsub"
**Describe the bug**
We're using `@aws-amplify/api-graphql`, `@aws-amplify/auth`, `@aws-amplify/core` and `@aws-amplify/storage` in our react app.
All of the todays builds in our CI/CD fails due to an unresolved dependency in the @aws-amplify/pubsub package.

**To Reproduce**
Steps to reproduce the behavior:

1. create a new react app
2. add these dependencies:
    `@aws-amplify/api-graphql`
    `

[2020-09-03 14:13] cristhian-boc commented on #1583
Hi @Reenagrg100 . I've already posted a workaround. Did you try it?

[2020-09-03 14:23] Reenagrg100 commented on #1583
No, I only found that URL to hit and that doesn't seem to be work in my case. Any other solution?

[2020-09-03 14:29] cristhian-boc commented on #1583
@Reenagrg100 we used https://github.com/proyecto26/react-native-inappbrowser in our project. It will only work with iOS though. This is our code:
[code]

[2020-09-03 14:32] yuyokk commented on #3635
@CaveSeal I second this! Did the same - setup Cognito via AWS Dashboard, installed `@aws-amplify/auth` and added Cognito resources manually to amplify setup. Works with no issues.

[2020-09-03 14:32] Reenagrg100 commented on #1583
Okay, so in my project, I'm using react-native safari view for iOS. I'm not getting how you are fixing that problem by above code. Can you please elaborate more.
Thanks in advance!

[2020-09-03 14:43] cristhian-boc commented on #1583
@Reenagrg100 the trick is using this property:

`ephemeralWebSession (Boolean) | Prevent re-use cookies of previous session (openAuth only) [true/false]`

It will not store cookies from Amplify, so whenever the federated UI is presented, it will be a fresh page. The library I shared with you is using Safari as a modal (when using openAuth method). It's the required method by Apple for them to appr

[2020-09-03 14:47] enteleca commented on #54
This is such an important issue, how has this not been solved for nearly 3 years? Thanks for all those with potential resources and solutions, I will need to be allocating time to comb through them.

[2020-09-03 14:48] Reenagrg100 commented on #1583
Thank you so much, @cristhian-boc !! I know about this library to open the in-app browser. The same behaviour is achieved by react-native safari view library. Well I'll look into it how can I achieve same in my case.

[2020-09-03 15:03] DavidWells commented on #3732
@jj0b interesting... How are you doing this? 😃

Also, are you using the raw cognito sdk's in your client instead of `amplify`'s `Auth` package?

[2020-09-03 15:07] enteleca commented on #54
After looking around in the Amplify files in Swift, I found that one can retrieve the identityId by fetching the current auth session, casting the result.get() as AuthCognitoIdentityProvider, and running .getIdentityId().get(). Same process as retrieving the userSub. It seems this functionality may have finally been added!

This solution works for me.

[2020-09-03 15:32] IvanLjubicic commented on #6670
Hi guys,

do we have any solution to remove in the current version? I try to play around with css a bit, but unsuccessful at the moment.

Thanks.

[2020-09-03 15:54] getsbydev commented on #6718
[code]

[2020-09-03 16:04] ffxsam commented on #5330
@severi Could you please edit this issue (subject & your 1st post) to correct the HTTP error? It's 413, not 431. It'll make it easier for people to find issues related to this problem.

[2020-09-03 16:39] andriworld commented on #6670
I made the Sign in with AWS button go away by passing an empty federated config to the AmplifySignIn component

VueJS:
`<amplify-sign-in :federated.prop="{}" ...`

React (haven't tried this as I am on VueJS):
`<AmplifySignIn  federated={{}}  ....`

FYI - in previous versions, I was just removing the oauth configuration, but this no longer seems to work:
`delete awsconfig['oauth']`

[2020-09-03 16:42] IvanLjubicic commented on #6670
Did you maybe tried Angular version? I am using Ionic with Angular

[2020-09-03 16:45] andriworld commented on #6670
@IvanLjubicic the underlying code is the same on all platforms. As long as you know how to pass an empty object {} to the federated property, it should work.

[2020-09-03 16:49] morgler commented on #3635
@CaveSeal thanks for this solution. The sample code I used actually had `Amplify.configure(amplifyConfig)` in it and I didn't know I could configure stuff directly on the Auth module! Thanks!

Now I just have to find a maintained VueJS lib for Cognito without Amplify in it or I will still be stuck with `aws-amplify-vue`.

[2020-09-03 16:56] liamaws commented on #6670
I'm using react and tried `<AmplifySignIn federated={{}}`.
When I first load the page I see the "Sign in with AWS" button but when I toggle translation (re-render) it disappears.

First like this
![image](https://user-images.githubusercontent.com/67014943/92144246-6f120600-ede4-11ea-847e-e4c730521e1d.png)
Then after clicking top button to translate to French then back to English
![image](https://u

[2020-09-03 17:01] ericclemmons commented on #4958
@meddjelaili Merged and released!

[2020-09-03 17:12] crolly commented on #6718
I second this. Latest update of the @aws-amplify modules causes this error.

[2020-09-03 17:13] meddjelaili commented on #4958
legend

[2020-09-03 17:23] ericclemmons commented on #6718
@crolly @getsbydev Sorry for this. We're getting #6719 through the pipeline now.  I'll validate with the (excellent!) reproduction steps above...

[2020-09-03 17:39] ericclemmons commented on #6718
Confirmed the bug:

[code]

[code]

## Quick Fix

Use `aws-amplify` (which brings in all sub-dependencies):

[code]

[code]

[2020-09-03 17:50] ericclemmons commented on #5435
@dberhane Are you referring to the `revalidate` property in https://github.com/vercel/next.js/discussions/11552?

This effort is ensuring Amplify works within Next.js v9.3's SSG/SSR methods, so if you're deploying to Vercel (which takes advantage of `revalidate`), this should work as expected 👍

[2020-09-03 17:51] ericclemmons commented on #5435
@MontoyaAndres I'd recommend putting `Amplify.configure` in `_App.js`.  For `/api` routes, I don't think that's used, so you'll need to duplicate `Amplify.configure` in those files. (Or put it in a utility folder and import from there)

[2020-09-03 17:53] jordanranz commented on #6710
Hey @liamaws, unfortunately I don't have access to that repo but It seems it is you are using `Translations` to customize the `SIGN_UP_EMAIL_PLACEHOLDER` or `VERIFY_CONTACT_EMAIL_LABEL` and that might cause a conflict for retrieving the correct value here. Can you find `your.adress@example.com` in your codebase and share the code with me?

[2020-09-03 17:58] ericclemmons commented on #6718
Confirmed fixed on `unstable`:

[code]

[code]

We'll get this out soon!

[2020-09-03 18:10] liamaws commented on #6710
Oh good catch. I searched `your.adress@example.com` in the amplify-js repo and couldn't find where it was coming from but I didn't think to look in my own code. :man_facepalming:

I will pm you the code.

[2020-09-03 18:14] MontoyaAndres commented on #5435
Thank you @ericclemmons !

[2020-09-03 18:24] Danm72 commented on #5435
@ericclemmons do you have any sample project you could share that shows everything working together?

I'm having a good bit of trouble and trying to piece together the configuration is a little tricky!

Really appreciate your work here!

[2020-09-03 18:24] pchevallier opened #6721 "Python backend build failure"
I've been pretty succesfull building and using a NodeJS function without any issues but when it comes to Python, I'm running into some packaging issues.

This is a copy of the messages from the console when the backend tries to build :

[code]

**To Reproduce**
1. Create a function Python base
2. commit and push your code into github
3. wait for the build to execute, and ultimately fail:
4. See er

[2020-09-03 18:24] andriworld opened #6722 "Amplify UI Components add 30 extra http requests to the page"
**Describe the bug**

Hi, I'm using the Amplify UI  components (VueJS) for the authentication forms.

When I build (using NodeJS and Webpack) **the package @aws-amplify/ui-components gets split into 30+ chunks**.

This slows down page load time. Please advise. Thank you

**To Reproduce**
Steps to reproduce the behavior:

1. Import and use a UI component. E.g using NodeJS+VueJS:

[code]
See https:/

[2020-09-03 18:25] raj-durai opened #6723 "Auth using JWT created through API"
**Is your feature request related to a problem? Please describe.**
I am developing the LTI application using Amplify, signup and sign are on the backend using Lambda when a user launches the application inside the LMS, we need to create the Cognito user through lambda and login in lambda and pass the JWT token to Client. I can't able to login in the client using that JWT token

**Describe the solu

[2020-09-03 18:53] ericclemmons commented on #6718
This is fixed!

[code]

[code]

[2020-09-03 18:54] #6718 closed

[2020-09-03 19:11] ta1bbty commented on #6444
@leosoaivan
I've these set in my aws pool.
[![Oauth Scope][2]][2]

I have been working with AWS cognito and trying to update the `preferred_username` attribute.

I tried the `Auth.updateUserAttributes` call but in vain.

Here's the whole code :
[code]

I have also checked the **app client settings** for read/write permission on the `preferred_username` attribute.
[![Read/Write attribute settings][

[2020-09-03 19:28] ericclemmons commented on #6718
@getsbydev Happy to help! Thanks for the excellent description. Made it a cinch to solve 🤗

[2020-09-03 19:34] ta1bbty commented on #6329
Hi @lindachenau,
I tried this doesn't seem to work.
Also, how are you getting the current user in the above code :thinking:
[code]
I replaced this with `Auth.currentAuthenticatedUser` this also seems to return `CognitoUser`
However, i doubt if both the classes ( `CognitoUser` ) are same or not.

[2020-09-03 19:45] jordanranz commented on #6722
Hey @andriworld, could you share what it looks like without using `@aws-amplify/ui-components`? Both the request list and bundle image would help.

[2020-09-03 20:27] gvelasquez760 commented on #987
not stale!

[2020-09-03 20:34] chrisleyva commented on #6411
For me, this was the issue. I didn't realize that I was using the Vue 3 Beta. Commenting out the import allows the app to compile and run, though I'm sure I'll have to use Vue 2.X in the meantime.

Hopefully the plugin can be updated soon.

[2020-09-03 21:12] rpostulart opened #6725 "Add Storage for multi env is creating different names"
when adding storage and using multi envs it is creating different buckets but within the end a kind of random number. This is not helpful you you want to set the "arn:aws:s3:::bucket........160007-${env}/*", policy.
No I have to add two buckets to the policy which grants dev access to prod and vice versa.

bucket55217-master
bucket60007-develop

**Before is was just**

bucket-master
bucket-develop

[2020-09-03 22:25] sammartinez commented on #6685
@superCarton ETA next week in getting a deployment out for this. Just wanted to provide another update.

[2020-09-04 01:07] vallard commented on #1437
@pclements12 thanks, I'm trying that but seems my serverless setup may not be right as I'm getting 403 error saying its not supported.

[2020-09-04 01:47] ivankokus commented on #5019
Having a @default directive for fields is quite an important feature.  I hope you reconsider and add it in asap.  Thank you.

[2020-09-04 03:23] lindachenau commented on #6329
I believe they are the same because my user is signed in with Auth.signin before I call userPool.getCurrentUser()

[2020-09-04 06:05] Patrice974 opened #6727 "Amplify push duration"
**Describe the bug**
The command line `amplify function push` take a lot of time: 10mins +

**To Reproduce**
1. Create a lambda function & associated api with amplify
2. Add **aws-sdk** dependency for business usage
3. Deploy on backend with `amplify function push`
4. The deployment take more than 10 minutes

**Expected behavior**
`amplify function push` take less than 2-3 minutes.

**Screenshots*

[2020-09-04 07:01] atulBriqsdata commented on #4755
Hello There,

Since yesterday, we are receiving same error in our application...

We did not change anything in code.. It was working fine till yesterday...

But later we checked and many of the **aws-*** libraries updated... So may be that can be the issue... But still looking into the issue from my end.

So please help me if anyone has solution.

Thanks :)

[2020-09-04 07:34] #6727 closed

[2020-09-04 08:28] emilio-martinez commented on #678
Nope.

[2020-09-04 09:04] brianjychan commented on #888
Facing the same errors when working on a svelte + amplify app like @escodel.

I wanted to provide a fuller error output:

1 (same error and config as @ioannist , showing the error is Unresolved Dependencies)
[code]

I also have 3 other errors:

2
[code]

3
[code]

4
[code]

[2020-09-04 12:12] SebSchwartz commented on #5119
@mauerbac  Any updates on this?

[2020-09-04 12:43] IvanLjubicic commented on #6670
I used

`<amplify-authenticator *ngIf="isCordova" framework="ionic" class="white-text" federated></amplify-authenticator>`

on Angular/Ionic and it works fine currently.

Is there some elegant way to change "Sign in with AWS" text on the button?

[2020-09-04 13:26] AlessandroAnnini opened #6729 "@aws-amplify/ui-react cannot to be used as a webpack external"
**Describe the bug**
`ui-react` is not setting the public path “on the fly,” which is necessary for CDN usage.
The creation of this issue is possible thanks to @joeldenning that analyzed a problem on my [single-spa](https://single-spa.js.org/) project.

**To Reproduce**
1. create a single-spa "root config" project
2. create a single-spa "application" project
3. add amplify libraries to root config

[2020-09-04 13:37] abdulqudoosmm commented on #4755
We are also facing same issue. yesterday our Angular build was working fine, but since from today morning its not working and we are facing same error.
`main-es2015.3a412c60369097305fdc.js:1 [ERROR] 31:57.727 AuthError -
            Error: Amplify has not been configured correctly.
            This error is typically caused by one of the following scenarios:

            1. Make sure you're passin

[2020-09-04 13:43] diegomarzo commented on #1298
I found today that if the URL you have specified in the Console for Logout is different than the one you specify in the logout call it also fails.

It is interesting that in the documentation states "optional" and if you do not pass it crashes

[2020-09-04 13:57] atulBriqsdata commented on #4755
I found the solution...

Earlier we were passing aws config using below line:
Amplify.configure(awsConfig)

But according to new version of **aws-amplify** we need to pass the same configuration ion Auth as well...

So just add the same configuration for Auth as below...
Auth.configure(awsConfig)

try it.. it will work.

[2020-09-04 14:15] ChristopheBougere commented on #5623
For anyone interested, I was able to customize the error message like this:
[code]
I wish this could be constants instead of strings, [like for other translations](https://github.com/aws-amplify/amplify-js/blob/main/packages/amplify-ui-components/src/common/Translations.ts) in the new UI components version, but still a workaround.

[2020-09-04 14:40] abdulqudoosmm commented on #4755
Thanks
Now its working fine .

[2020-09-04 15:40] Hideman85 opened #6730 "DataStore failed to handle models with hash and range key as primary key"
DataStore failed to subscribe to a model that has a composed primary key instead of the default one.

[code]

GraphQL schema
[code]
To reproduce simply create a new amplify app with this schema, deploy, compile models then subscribe with DataStore

[2020-09-04 16:34] Hideman85 commented on #6630
I still have issue:
[code]

The weird aspect is that error block all other actions (queries, mutations, subscriptions)

To reproduce clone the TestApp and create follow the steps describe for initializing an new amplify app. Take the file `schema.graphql` as testing.

[2020-09-04 16:40] div5yesh commented on #5218
The issue is due to inconsistent encoding of the `state` in URL when cognito redirects to the app after login.

The state is in decoded format when user returns from cognito hosted UI after login: [http://localhost:3000/?code=90c6b7c0-5b66-4429-a2c4-dfacbbfb26a5&state=4zmiIxppiNpIUlHPxbzSXpkh4UfeIWuM-**http://localhost:3000?test**]()

The state is encoded when user is already logged in and cognito

[2020-09-04 17:56] Hideman85 commented on #6707
I have the same issue just the mentioned line is different in mine https://github.com/aws-amplify/amplify-js/issues/6630#issuecomment-687256401.

In my case this is a fresh app but with a bigger schema (should be scalable so shouldn't be the cause).

PS: Once this error happen DataStore only work locally for the queries & mutations nothing is no longer sync back to the backend.

[2020-09-04 17:57] Hideman85 commented on #6630
Looks to be the same issue: https://github.com/aws-amplify/amplify-js/issues/6707

[2020-09-04 18:14] joeldenning commented on #6729
To add a bit of context here - the problem is that `@aws-amplify/ui-react` simply cannot currently be used from CDN. The single-spa / systemjs community often uses libraries from CDNs, which is why it surfaced there, but the issue itself is very easy to demonstrate when using `@aws-amplify/ui-react` via CDN by any means (not just single-spa/systemjs).

The reason is that dynamic imports compiled w

[2020-09-04 19:49] jj0b commented on #3732
@DavidWells in my client that is using Amplify I'm using the Auth.SignIn method, not raw Cognito SDK, which gets me the token but not the scopes.

In a separate client that needs to access the same resources I am not using Amplify at all; instead I am using an OAuth 2 Client Credentials Grant flow (this client is a Raspberry Pi) and I am able to get the token as well as the scopes in that case by

[2020-09-04 21:57] #6662 closed

[2020-09-04 22:19] bmilesp commented on #3123
Piggy-backing off of @GeorgeBellTMH , a `@cognitoModel` directive that can use @auth directives would be the crème de la crème:

[code]

This directive could auto-apply the necessary Lambda functions that connect directly to Cognito through Appsync.

[2020-09-04 22:49] obonyojimmy opened #6731 "ClientMetadata not passing to Cognito Trigger, with `Auth.signIn({... , validationData: {foo: 'bar'}})`"
**Describe the bug**
ClientMetadata not passing to  Cognito Trigger, when using Amplify Custom Ui components and Auth.signIn()
 `Auth.signIn({... , validationData: {foo: 'bar'}})`, even with static preconfigured ClientMetadata,
 `Auth.configure({  authenticationFlowType: 'CUSTOM_AUTH', clientMetadata: {foo: 'bar'}  })` or
`Amplify.configure({ Auth: {  authenticationFlowType: 'CUSTOM_AUTH', clientM

[2020-09-04 22:55] jordanranz commented on #6670
After some investigation, this behavior is expected and carried over from the previous version of the UI library's authenticator.

This being said, I am going to work on a new PR to expose a `slot` to customize (or remove) both the `federated-buttons` section and each individual button.

[2020-09-04 23:40] harrysolovay commented on #4691
The revocation & re-requesting of permissions is handled by the given OAuth provider. If you're using Facebook, you can use the Facebook SDK directly and specify `auth_type`([docs here](https://developers.facebook.com/docs/facebook-login/reauthentication/)). [This StackOverflow post](https://stackoverflow.com/questions/7494005/how-to-force-oauth-dialog-to-re-prompt-the-user-for-permissions-even-if

[2020-09-05 00:31] 5t33 commented on #1578
https://stackoverflow.com/questions/42645932/aws-cognito-difference-between-cognito-id-and-sub-what-should-i-use-as-primary/42965465

[2020-09-05 00:33] 5t33 commented on #1578
Does anyone know the answer to @jeyashankher's question? Does sub exist for non-cognito federated users? such as facebook/google?

[2020-09-05 10:22] ablbol commented on #3213
Was this issue fixed?  I am using aliases with subscription but it does not work.

[2020-09-06 05:03] hisham commented on #6202
Definitely still needed.

[2020-09-06 06:42] WojciechMatuszewski commented on #5435
Hi guys, I've made a short video showcasing how to use `Auth` within `getServerSideProps`

https://www.youtube.com/watch?v=Fc5kgSq1lpw

Also here is the repo of a sample project I've made - authenticating and fetching data within `getServerSideProps`.

https://github.com/WojciechMatuszewski/next-appsync-cdk

[2020-09-06 12:44] florian-sander commented on #3537
@KevinToala thanks! I'm not using Ionic, but this helped me get it working with React + Capacitor.

By the way, for me it works with amplify 3.1.1. It still logs a bunch of errors because amplify does not expect the host to be changed and therefore fails to update history after processing the callback. But it works nevertheless and I can do the history update myself.

Still, a more stable solution

[2020-09-06 13:58] abhisheksett commented on #5783
Facing the same issue. Did anyone get any solution/workaround?

[2020-09-06 15:01] Danm72 commented on #5435
@WojciechMatuszewski  Hey! Code looks great. If you use user pool auth does it still work for you? Or what auth are you using for your schema/models?

For example:
amplify update api

Does it still work? I'm still getting 'no current user'

[2020-09-06 15:09] WojciechMatuszewski commented on #5435
@Danm72 I'm using user pools since I'm using Cognito (see `config.json` within `frontend` directory). I cannot speak for amplify-cli as I do not use that tool.

[2020-09-06 15:19] dabit3 commented on #5435
@WojciechMatuszewski **nice video**, thanks for sharing!!

[2020-09-06 17:22] sureshUngarala commented on #2605
👍  event.preventDefault() did the trick.

[2020-09-06 21:09] rorobolla commented on #6703
@sammartinez Hey Sam are there any updates on this issue? Please let me know. Thanks!

[2020-09-06 23:09] KesleyDavid commented on #329
Also needing this feature

[2020-09-07 08:22] Hideman85 opened #6736 "DataStore failed to handle recursive models like tree"
Recursive object like in my case a tree causing DataStore to crash (infinite loop).

[code]

In my case I need to separate the tree data from the tree relation itself mostly because the same TreeData can be reused in different Trees.
[code]

[2020-09-07 10:57] Graham-Stein commented on #3862
**Describe the bug**
I am still seeing the behaviour described by kennu when a user leaves a trailing space after their user name.
**To Reproduce**
Attempt to log in using Amplify UI with a trailing space after username.
**Desired behaviour**
Present the user with a more user friendly error message.

![image](https://user-images.githubusercontent.com/39591264/92379938-32098480-f100-11ea-8484-671d7

[2020-09-07 11:20] Graham-Stein opened #6737 "User friendly invalid username error"
**Describe the bug**
I am still seeing the behaviour described by kennu in  [User friendly invalid username error #3862](https://github.com/aws-amplify/amplify-js/issues/3862)  when a user leaves a trailing space after their user name.
**To Reproduce**
Attempt to log in using Amplify UI with a trailing space after username.
**Desired behaviour**
Present the user with a more user friendly error mes

[2020-09-07 13:21] mllrmat commented on #5275
@bernhardt1 sorry for the late reply. Downgraded to the latest 2.x version again, and planing the migration away from cognito.

[2020-09-07 13:25] andriworld commented on #6722
Hi @jordanranz, thank you for your response.
I have added the webpack configuration to the original post.  It's just the default configuration in VueJS. Note that all the other modules (including amplify) are bundled together. Only the amplify UI components are chunked into separate bundles.

Here's what it looks like if I don't import `'@aws-amplify/ui-vue'`

[code]

![bundles-without-amplify-ui]

[2020-09-07 14:08] mdoesburg commented on #6580
@iartemiev That would be nice! Any timeline on when this will be added?

[2020-09-07 15:26] tejpowar commented on #6711
had a look at that but as the admin has created the user then i would ideally need this right https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_AdminConfirmSignUp.html

[2020-09-07 16:18] snowleopardAlex opened #6739 "Safari cannot open the page because the address is invalid"
**Describe the bug**
When I click Sign in with Facebook button and React Native, I see my error in the ios emulator IPhone11 : Safari cannot open the page because the address is invalid. I am using domain generated by Amplify, not my own.

**To Reproduce**
Steps to reproduce the behavior:

1. I followed successfully the setup of the app in the Facebook Developer
2. I added Facebook app to AWS conf

[2020-09-07 16:47] vhuerta commented on #6580
This is happening to me as well with the following schema:

[code]
when I upgrade to:

@aws-amplify/datastore@2.2.7+

2.2.6 works fine

[2020-09-07 18:33] sureshUngarala commented on #6555
@ericclemmons @janhesters Had the same problem. Completing the flow with `ui-react`'s `withAuthenticator` on first time solved for me.
In my case, user wasn't confirmed and I was trying with `Auth.signIn` API to signin user with temp pwd following which `Auth.currentAuthenticatedUser` API wasn't returning loggedIn user(cached/stored).
Would like to see this issue fixed with `Auth.signIn` rather th

[2020-09-07 20:57] mezalejandro commented on #6547
Hello,
after a long time I think the login with apple works.
Now after logging back to the app but I can't detect if the user is logged in with federated.
![Screen Shot 2020-09-07 at 17 54 28](https://user-images.githubusercontent.com/568141/92416310-3d29d800-f133-11ea-8152-bf18c3c6a0ab.png)
I am following these steps:
https://docs.amplify.aws/lib/auth/social/q/platform/js#configure-auth-category

[2020-09-08 00:14] guanzo commented on #4958
Is this only released for `@aws-amplify/auth` v3? If so, could you also release it for v2? v3 has major breaking changes, and I can't upgrade yet, but I need to be able to configure the same site setting now, with v2.

[2020-09-08 03:22] nodroglegin opened #6742 "DataStore no syncing with cloud with Sveltejs"
**Describe the bug**
DataStore works offline and saves successfully. But hooking up AWS Amplify to cloud gives errors for syncing.

This is error I get when listing Todos:
[code]

And this error when doing a new   add todo:

[code]

**To Reproduce**
Code base is here:
[https://github.com/nodroglegin/aws-svelte-offline-first/tree/master/src](https://github.com/nodroglegin/aws-svelte-offline-first/t

[2020-09-08 04:21] saachitech commented on #6739
@snowleopardAlex Have you configured Amplify with the correct redirect URL for signing in and out? I have following set up and it worked fine

Amplify.configure({
  Auth: {
    ....
    oauth: {
      domain: <your_domain>',
      scope: ['phone', 'email', 'profile', 'openid', 'aws.cognito.signin.user.admin',],
      redirectSignIn: '<redirect_sign_in_url>',
      redirectSignOut: '<redirect_sign_

[2020-09-08 06:06] andrea66x commented on #4542
I have the same problem with the refresh token. I set the expiration time to 60 minutes, because I need the user to sign out after 1 hour of inactivity. I can refresh the session (to get a new accessToken) within this time when the user is still active, but the session can not be refreshed after 1 hour since the authentication and a new sign in is required. Is there any method that can reset the e

[2020-09-08 07:52] doutori opened #6743 "Is domain property required? - CookieStorage Interface"
**Is your feature request related to a problem? Please describe.**
Auth / Cognito with cookieStorage

CookieStorage interface is below.
[code]
Is there a reason a domain property is required?
When we specify the domain of the cookie, it will be sent to the subdomain.
It's not secure.

**Describe the solution you'd like**
Cookie domain property should be Optional.

**Describe alternatives you've co

[2020-09-08 08:56] kjellski commented on #5782
This looks like a bug to every end-user - any hints on how to help fix this here?

[2020-09-08 09:48] sw-yx commented on #6742
thanks for filing! it looks like you have two errors here:

- during read: `"errorType":"ConditionalCheckFailedException","errorInfo":null,"locations":[{"line":2,"column":3,"sourceName":null}],"message":"No existing item found in the data source"`
- during add: `Variable 'input' has coerced Null value for NonNull type 'Boolean!'`

for the first one, i suspect it is your usage of `Predicates.ALL` h

[2020-09-08 10:04] Vivek205 commented on #3410
Hi. Is this issue close? Is there any progress on this issue?

[2020-09-08 11:42] pinpointpanda commented on #2010
This is a problem for us too. Definitely do not like the idea of holding onto the password in order to trigger a secondary request for signing in. Which means, there's no sensible way to re-send the MFA code during a sign in operation. Other than asking the user to login again, which is a pretty horrible UX.

Seems a bit of a miss not to have an MFA resend option.

[2020-09-08 12:21] abdielou commented on #6611
I'm going to close this as it seems architectural in nature. As I said, I think the real solution is a custom Resolution Strategy. That being said, a note in the DOCs could help avoid this trap.

[2020-09-08 12:21] #6611 closed

[2020-09-08 12:25] aoloo commented on #2010
@pinpointpanda  I created a feature request issue https://github.com/aws-amplify/amplify-js/issues/6676 . If you can comment or get other developers needing this feature to comment on the feature request it can motivate the amplify team to get this done for us. Thanks!

[2020-09-08 12:34] pinpointpanda commented on #6676
Yeah, also seeing this. We'll workaround with posting to `Auth.logIn` again, but it does feel like there ought to be an api method for this - it's the only part of the sign up/sign in/reset password etc... workflows that doesn't have a re-send.

[2020-09-08 12:53] gbouteiller commented on #5435
First of all, great job for the feature!!
However, if you only use it for **Auth**, it looks like it adds a lot to the bundle size.
As `withSSRContext` is imported from `aws-amplify`, maybe it's because of a tree shaking problem?

[2020-09-08 13:00] igorkosta commented on #4954
@dimonchik-com I know it was a long time ago but, in case you remember, could you share with me how you fixed the issue or at least what was the problem in your case?
I'm having the same problem and have no freaking idea how to fix it or what exactly fails.

[2020-09-08 13:04] igorkosta commented on #4962
@manueliglesias @amhinson  I know it was a long time ago but, in case you remember, could you share with me how you fixed the issue or at least what was the problem?
I'm having the same problem and have no freaking idea how to fix it or what exactly fails.

[2020-09-08 13:11] JPVan commented on #5037
I would also love this feature. Both for a free vs paid user scenario, and also to have control over the number of writes to AppSync. In my use case, users edit only their own data, and only view data from other users. This data needs to be updated in the cloud only once per day, but will be entered locally several times a day. It would be nice to save to the cloud once per session, or only once p

[2020-09-08 13:54] mezalejandro commented on #6547
Hello,
following the tutorial of @saachitech  by console it returns me this:
![Screen Shot 2020-09-08 at 10 53 09](https://user-images.githubusercontent.com/568141/92485686-a526ff80-f1c1-11ea-9ea5-87deeb033139.png)

Token is not from a supported provider of this identity pool.

Thanks

[2020-09-08 15:04] amhinson commented on #4962
@igorkosta Do you have a sample repo we could take a look at and reproduce the issue you are seeing?

[2020-09-08 15:28] Disgruntled commented on #3436
Having Authorization servers put tokens into cookies is directly against the Oauth Spec - Tokens are returned in response bodies.

This basically re-introduces the security problem that existed before 'httponly' cookies - if someone can pull off XSS, they can steal the users credentials and act as the user without the need to persist inside their browser. This is particular problematic with Singe

[2020-09-08 16:11] antonfrancisjeejo commented on #5075
To fix this issue...

Navigate to your node_modules/react-native/Libraries/Core/Timers/JSTimers.js file.

Look for the variable MAX_TIMER_DURATION_MS

Change its value to 10000 * 1000

Save the changes (with auto format turned off) and re-build your app.

It worked for me

[2020-09-08 16:11] antonfrancisjeejo commented on #5075
To fix this issue...

1. Navigate to your node_modules/react-native/Libraries/Core/Timers/JSTimers.js file.

2. Look for the variable MAX_TIMER_DURATION_MS

3. Change its value to 10000 * 1000

Save the changes (with auto format turned off) and re-build your app.

It worked for me

[2020-09-08 16:24] Hideman85 opened #6744 "DataStore failed to handle optional attributes"
[code]

[code]

[2020-09-08 16:32] PtkFerraro opened #6745 "I18n not trasnlating constant files"
Hi.

Let]s say I have a constant file (constants.js):

import { I18n } from 'aws-amplify';

[code]

When I call Amplify I18n to translate my app, the constant entries are not translated.

I am using Amplify in my React app that uses Amplify + Cognito (I am not using CLI module)

[2020-09-08 17:32] PauloDerney commented on #6202
@Amplifiyer , some feedback on this problem, i understand that you make use of the CommonJs modules that affect the size of the angular packages, you are plan to release a version using ES modules?

[2020-09-08 17:42] xavierraffin commented on #6670
Can you please give control on the link and text of the component too?
Like being able to remove the _No account?_ __Create account__ section
That will be very helpful to give full control over the component content to Amplify users.

[2020-09-08 18:42] gary-archer commented on #3436
Good debate and I welcome this type of feedback. I don't especially like my own solution, since it is complex. I would like to simplify it while still meeting requirements and avoiding blocking issues.

**REQUIREMENTS**

* My SPA must not fail PEN tests and Security Reviews
* My SPA must have great login usability, including areas such as multi tab browsing and rendering secured views in mobile ap

[2020-09-08 19:28] iartemiev commented on #5926
@novoselovaleksandr please try changing your auth rule to `@auth(rules: [{ allow: owner }])`
Followed by
[code]
Let me know if that gets your app syncing.

We're currently working through some issues with specifying operations for owner auth.

[2020-09-08 19:54] minimalistinnovator opened #6747 "Having issues integrating with pinpoint/personalize"
Issue:
After enabling Analytics.addPluggable(new AmazonPersonalizeProvider()), I am experiencing issues with the application (React/Amplify).

[code]

Configuration (App.js):
[code]

[2020-09-08 21:19] enrique-gil-vessi opened #6749 "Using federated singin with developer identities lost when refresh"
**Describe the bug**
When using singin with developer identities, get not authenticated on refresh.

**To Reproduce**

With a lambda returning a openId token with GetOpenIdTokenForDeveloperIdentity
1. In the front-end generate AWS credentials with the idenityId and token from the lambda with GetCredentialsForIdentity.

[code]

2. Sign up with
[code]

It should sign in the user.

3. Refresh the pag

[2020-09-08 21:24] elorzafe commented on #5403
@greimela fix was already published to latest, are you still having this issue?

[2020-09-08 21:30] andriworld commented on #6670
Along the lines of @xavierraffin's suggestion, since you're adding slots, I would like to be able to add HTML text: "By creating an account, I agree to the Terms and Conditions" with hyperlink.

[2020-09-08 21:46] jordanranz commented on #6670
@andriworld, this may already be possible. Where would this text be located? Feel free to ping me on Discord if you want to DM.

[2020-09-08 21:58] igorkosta commented on #4962
For everyone who's potentially experiencing the same issue. I had to update the `aws-amplify` package to the latest version and `nuke` and reinstall everything. I also removed the unused `@aws-amplify/api` and `@aws-amplify/pubsub`  but I don't think it had any effect.

So, in a nutshell what I did was:

[code]

[2020-09-08 21:59] jordanranz commented on #6747
@minimalistinnovator, could you try moving the `configure` methods above any usage of the categories (like Analytics.autoTrack)

[2020-09-08 22:15] minimalistinnovator commented on #6747
Thank you for prompt response Jordan. The issue persists in the local development environment (amplify serve) even after the switch in code. However, the problem does not occur when I publish to production using amplify publish. The site is [here](https://master.d3i74sih14e4fh.amplifyapp.com/#/) if you want to look into the scripts.
[code]

[2020-09-08 22:16] jordanranz commented on #6745
Could you provide the code usage from these constants? Currently `i18n` is best used inside of the React render method where you would pass the constant to it.

Something like:
[code]

[2020-09-08 22:21] jordanranz commented on #6747
`Amplify.configure(aws_exports)` should configure both `Auth` and `Storage` so you should need those 2 configure lines. I'll keep investigating.

[2020-09-08 22:22] jordanranz commented on #6737
Could you post which npm version of the amplify libraries you are using from your `package.json`

[2020-09-08 22:32] obonyojimmy commented on #6731
SO : https://stackoverflow.com/questions/62548852/aws-cognito-and-amplify-clientmetadata-not-sent-when-session-is-refreshed?noredirect=1#comment112752281_62548852

[2020-09-08 23:43] abhjaw opened #6750 "Auth.currentCredentials() fails with exception "No Auth module registered in Amplify""
**Describe the bug**
Auth.currentCredentials() fails with exception "No Auth module registered in Amplify". The same code was working a couple of weeks back (in fact I have it working in a Cloud9 environment). Any new installs however are not working for this code.

**To Reproduce**
Steps to reproduce the behavior:

1. Have a cognito identity pool and user pool configured with identity pool having

[2020-09-08 23:47] PtkFerraro commented on #6745
Hi @jordanranz

I know that, but even using inside the render method, it fails to translate when comes from constant file... take a look at these tests:

**Constants.js**

[code]

**FormExample.js (not working)** (here I will omit some parts to make the example simple)

[code]

**Menu.js (not working - I18n in constant file only)**

[code]

## Even if I change to this won´t work:

**Menu.js (not w

[2020-09-09 00:17] sw-yx commented on #6750
frustrating bug indeed.

i dont know the codebase well so i took a look. this is the only place this error occurs: https://github.com/aws-amplify/amplify-js/blob/1cb1afd1e56135908dceb2ef6403f0b3e78067fe/packages/core/src/Credentials.ts#L111

therefore it probably is that `Amplify.Auth` is falsy. based on this comment, `Auth` has to be imported: https://github.com/aws-amplify/amplify-js/blob/1cb1af

[2020-09-09 00:27] elorzafe commented on #6750
@abhjaw are you running Amplify on a node environment or this runs on a browser?

[2020-09-09 00:29] abhjaw commented on #6750
I am using Cloud9 IDE and I am using the preview browser in Cloud9.

[2020-09-09 00:36] xavierraffin opened #6751 "Expose the Auth state to outside world"
**Is your feature request related to a problem? Please describe.**

__WRITE:__

When using UI components (in React), I need to customize some aspect of the UI further than basic changes.
For example I use the `secondary-footer-content` web component slot of Sign-In component to create a custom Forgot password link.
But to override it with a link I build myself I need to have a way to change the au

[2020-09-09 00:38] abhjaw commented on #6750
Thank you :)

My imports statements are the same:
import React from "react";
import Button from 'react-bootstrap/Button';
import Search from "./search/Search";
import { indexId, region } from "./services/Kendra";
import { facetConfiguration } from "./search/configuration";
import S3 from 'aws-sdk/clients/s3';
import AWS from 'aws-sdk';
import aws_exports from './aws-exports';
import Kendra from 'a

[2020-09-09 00:46] xavierraffin opened #6752 "More UI style and slots customization"
**Is your feature request related to a problem? Please describe.**
Today it is hard to customize the Amplify UI component deeply. While there is the alternative of not using UI components at all, it is a lot of work to reproduce all the screen, manage the auth state and the auth API myself to change a button border radius (this is an example).

**Describe the solution you'd like**
What I like to h

[2020-09-09 00:55] sw-yx commented on #6750
@abhjaw you are using modular imports there: https://docs.amplify.aws/lib/auth/advanced/q/platform/js#using-modular-imports

did you run `Auth.configure();`?

[2020-09-09 01:01] abhjaw commented on #6750
Yes, I am doing Auth.configure(aws_exports);

[2020-09-09 01:13] abhjaw commented on #6750
I just changed Auth.currentCredentials() to Augh.currentUserCredentials() and the thing started working.

[2020-09-09 01:18] mjhecht commented on #6479
+1. I am trying to figure out how to customize the toast. It looks like the `theme` property on the `AmplifyAuthenticator` component isn't being used any more (as of the 4/2020 release). Using `.toast {}` in my app's CSS isn't affecting the toast. Our issue is that our sign-up form is long, so the toast shows off the screen, at the top of the page (because it has `position: absolute`). I've been d

[2020-09-09 01:42] foranuj opened #6754 "PostConfirmation lambda runs very slow"
**Describe the bug**
The post confirmation lambda function where we add the user to a cognito user pool once confirmed, take on average 3500milliseconds.

**Expected behavior**
I would imagine this function call to return within a few milliseconds, not take 3500 msecs.

**Code Snippet**
I've added the post confirmation function using amplify cli.

**Log Messages**
START RequestId: fc5976a8-6e26-45

[2020-09-09 01:45] foranuj commented on #6754
This is the source of the add-to-group.js file.

/* eslint-disable-line */ const aws = require('aws-sdk');

exports.handler = async (event, context, callback) => {
  const cognitoidentityserviceprovider = new aws.CognitoIdentityServiceProvider({ apiVersion: '2016-04-18' });
  const groupParams = {
    GroupName: process.env.GROUP,
    UserPoolId: event.userPoolId,
  };

  const addUserParams = {

[2020-09-09 01:48] HMilbradt commented on #4691
After some poking around in the code, I realized that this is actually a problem with Cognito rather than Amplify.  However, it sort of defeats the purpose of an auth package if you need to reach for the underlying social providers just to fix a fairly common problem.

After more snooping around, I saw that Auth0 works around this by [allowing the user to supply additional parameters in their logi

[2020-09-09 01:55] xavierraffin commented on #6670
See also #6752 @andriworld

[2020-09-09 03:05] chantlong opened #6755 "Auth.updateUserAttribute sends a verification code"
I have trouble understanding the point of this method sending a verification code, when...
1. the method updates the attribute anyways regardless if you use the verification code or not.

Am I missing something?

This happens when I update the `email` attribute.

[2020-09-09 03:13] evbo commented on #3436
@gary-archer I mentioned it in comments above and it's been emphasized in [newly updated docs from Auth0](https://auth0.com/docs/tokens/token-storage) that all efforts should be made to avoid persisting tokens client-side in SPA applications, BUT for everyone like us who must (e.g. to maintain login across browser refresh or multiple tabs) then the best thing you can do is limit the expiration of

[2020-09-09 03:16] ghost opened #6756 "Vue 3.x - export 'config' was not found in 'vue'"
**Describe the bug**
When trying to import the Vue UI components with `import '@aws-amplify/ui-vue'` in a fresh Vue 3.x app, the console throws the error message `export 'config' was not found in 'vue'`

**To Reproduce**
Steps to reproduce the behavior:

1. Create new Vue 3.x app with `vue create myamplifyproject`
2. Add Amplify packages `npm install aws-amplify @aws-amplify/ui-vue`
3. Import comp

[2020-09-09 06:28] gary-archer commented on #3436
I agree with evbo - that this is a good starting point for most companies:

* Keep access tokens short lived - around 60 minutes
* Keep refresh tokens fairly short lived - around 4 hours perhaps
* Store both in the SPA's local storage
* Implement browser best practice, such as a Content Security Policy that prevents tokens being sent out of the browser, via connect-src
* Get your solution PEN test

[2020-09-09 07:52] rob3c commented on #6202
Hiding the warnings is not a fix - it just masks the problem and probably makes it less likely to be fixed properly.

Which issue can we follow where the use of legacy commonjs modules is being tracked and migration progress can be followed?

[2020-09-09 07:57] Hideman85 opened #6758 "DataStore should automatically fill createdAt and updatedAt"
Since the mapping templates generated by `amplify-cli` only populates the id, createdAt and updatedAt if the client don't provides them DataStore should fill them.

[code]

The second point is when the client is offline (or even in Optimistic UI) these values should exist locally.

[2020-09-09 08:30] Graham-Stein commented on #6737
Thanks for the reply.

`"dependencies": {
    "@aws-amplify/ui-react": "^0.2.8",
    "aws-amplify": "^3.0.17",`

[2020-09-09 08:43] Hideman85 opened #6759 "DataStore should handle empty string in frontend before calling backend"
Since DynamoDB hates empty string it's useless to send the mutation to the backend it rather filter out empty string attributes (issue https://github.com/aws-amplify/amplify-js/issues/6744) before calling the backend or throw an exception as you want.

Currently this error happen in the observer (subscription) and not during the saving call.
Note: In my case the attribute is also attached to an in

[2020-09-09 08:50] rob3c commented on #5571
Yes, this zen-observable dependence is incredibly disappointing!

It's obvious the Amplify team heavily favors React over all other platforms, which is fine as far as it goes. React is a nice framework with a great ecosystem.

However, if the Amplify team has any hope of winning over and keeping Angular users, forcing us to load an additional observable implementation that's incompatible with (and

[2020-09-09 09:04] rob3c commented on #3704
I agree with the OP that rxjs should replace zen for the observable implementation 👍

While it may seem obvious that promises should be used for requests that only return single values and observables should be used for those that stream multiple values over time, that's not necessarily the case.

The reason that libraries like angular use observables instead of promises for even simple http reque

[2020-09-09 10:20] adamkowalczykB2M opened #6760 "AmplifyOAuthButton component does not pass provider to Auth.federatedSignIn"
Apologies, I'm not sure if this is bug or a feature request, but the way the federated sign in buttons work seems to mean that we cannot currently use an oauth config with a custom provider.

**Describe the bug**

The `AmplifyOAuthButton` component in the `ui-components` package calls `Auth.federatedSignIn` with [no arguments](https://github.com/aws-amplify/amplify-js/blob/main/packages/amplify-ui

[2020-09-09 10:45] crcommons commented on #6327
I'm also experiencing this problem and can't use the hosted UI because we are using custom attributes. Would really love to not build our own auth components. Any updates on this bug? Or a workaround?

[2020-09-09 11:06] sw-yx commented on #6369
related feedback from 1 year ago: https://github.com/aws-amplify/amplify-js/issues/3704#issuecomment-514769571

[2020-09-09 11:28] eifr0980 opened #6761 "AmplifyClass not getting configured on production build"
**Describe the bug**
I'm building an angular app and when I run the production build, amplify modules doesn't work.

![image](https://user-images.githubusercontent.com/5452613/92592382-28bb1c00-f2a8-11ea-8d6e-1e20d4e0bb93.png)

**Expected behavior**
It's suppose to configure itself and run like it works on "ng serve"

[2020-09-09 12:38] kkbava commented on #3311
reminds me of age-old SQL Server SOP we had - store certain fields in both "as-typed" and also in uppercase.
All searches would be by comparing uppercase version of user criteria, against the uppercase column.
But the "as-typed" column would be shown.
Cant do that for EACH column though

[2020-09-09 13:58] hocnx commented on #5940
I had the same problem.
I have an update function  inside of the event listener.
2 fires of UPDATE with the same content cause double execution.Any suggestions to separate this 2 UPDATE?

[2020-09-09 14:42] llprudente commented on #5623
Workaround!
Use the "AmplifyConfirmSignUp" and force the user to type the password again, and process should work as expected.
Looks like when you submit the form without password, it get's identified as "CUSTOM"

[code]

[2020-09-09 14:42] llprudente commented on #6327
Workaround!
Use the "AmplifyConfirmSignUp" and force the user to type the password again, and process should work as expected.
Looks like when you submit the form without password, it get's identified as "CUSTOM"

[code]

[2020-09-09 14:43] llprudente commented on #4473
Workaround!
Use the "AmplifyConfirmSignUp" and force the user to type the password again, and process should work as expected.
Looks like when you submit the form without password, it get's identified as "CUSTOM"

[code]

[2020-09-09 15:19] IgorMing commented on #5167
I'm facing the same problem, here. Did anyone find a solution?

[2020-09-09 15:23] duwerq commented on #6327
@llprudente niiiiiice 🙌🏻

[2020-09-09 16:22] sakhmedbayev commented on #6327
@llprudente, your solution helps to eliminate `Custom auth lambda trigger is not configured for the user pool.` error, however, the user stack on that screen. What should happen after the user enters all required fields on  `AmplifyConfirmSignUp`? Should he get signed in???

[2020-09-09 16:23] escar commented on #3478
Hi,
I'm also trying to overcome this issue.
Instead of using amplify from the webapp, I have a couple api endpoints to `initiateAuth` and to `respondToAuthChallenge`. The idea is to, if the code is expired, generate a new one and validate it immediately.

I didn't get to that point yet though, because I'm having problems authenticating the user.
`respondToAuthChallenge` works fine, it returns the

[2020-09-09 16:45] duwerq commented on #6327
@sakhmedbayev you're right.  It' not capable of passing the password, here's a bit of code from the `AmplifyConfirmSignUp` when changing the input for password:

[code]

[2020-09-09 16:47] mlabieniec commented on #3478
Great blog i found that runs through custom otp auth with sms/sns:
https://blog.bitsrc.io/building-otp-authentication-with-reactjs-and-aws-amplify-c5fd2e517fac

[2020-09-09 16:58] duwerq commented on #6327
How I'm fixing this now is using the Hub to listen for auth event changes, specifically the one that has the custom auth error message.  How my code looks:

[code]

Then I redirect to a different route with the same login page, so it reinitializes the `AmplifyAuthenticator` to the login intialAuthState

[2020-09-09 18:04] harrysolovay commented on #6755
@chantlong `email` is a verifiable attribute (as is `phone_number`). This is the correct behavior––especially if email serves as the `username` for authenticating users (how is your user pool configured)?

[2020-09-09 18:06] jordanranz commented on #6756
Since Vue 3.x is currently in beta we do not officially support it in Amplify. I'll mark this as a feature request to investigate this so we can prepare for the Vue 3.x official launch.

[2020-09-09 18:10] jordanranz commented on #6761
Could you provide more information about how you are using Amplify? Also, could you included environment information or version numbers.

[2020-09-09 18:15] jordanranz commented on #6327
Hey all, could you post which version of the Amplify UI library you are using? If you are not using the latest version, please try to bump to that version.

In the meantime, I'll look into reproducing!

[2020-09-09 18:47] WojciechMatuszewski commented on #5435
Sure, no problem. Thanks!

[2020-09-09 19:23] ericclemmons opened #6763 "Export GRAPHQL_AUTH_MODE from aws-amplify"
**Is your feature request related to a problem? Please describe.**

I'm always frustrated when I have `import { API, Auth } from 'aws-amplify'` but need to specify `authMode` for my `API.graphql` call, but don't remember if it's `IAM` or `AWS_IAM`.  Instead, I want to use `GRAPHQL_AUTH_MODE`, but that requires a separate import to `@aws-amplify/api` or `@aws-amplify/api-graphql`.

**Describe the s

[2020-09-09 19:35] rpostulart opened #6764 "Speed up deploying to test Content Security Policies"
Via the build settings in de AWS Amplify Console you can set Content Security Policy Headers in the customer headers section.

But setting and testing headers is sometimes trail and error. To deploy each time takes 10 minutes approx. Is there a way to speed this up?

[2020-09-09 19:57] Disgruntled commented on #3436
@gary-archer Have you also considered putting session management responsibilities onto the OpenID Provider/Authorization Server(or whatever system the user uses to authenticate to them).

What I mean is if the users browser had a session cookie (samesite/secure/httponly) for the OP/AS, there would be no need to persist the refresh token to storage. Upon seeing an unauthenticated user/no tokens, th

[2020-09-09 20:56] jordanranz commented on #6764
Moving to the Amplify Console repo for better exposure.

[2020-09-09 20:59] jordanranz commented on #6760
I'd say this is more of a feature request to add this functionality to that particular button. Thank you for the feedback!

[2020-09-09 21:01] jordanranz commented on #6710
After speaking offline, we determined that this was a translation assignment in your application. Going to close this particular issue as the originally described issue is solved.

[2020-09-09 21:03] KillerPrints commented on #2893
I'm having the same issue and I tried adding this to my polyfills.ts but it didn't help. Any idea what else I could try?

[2020-09-10 03:49] chantlong commented on #6755
@harrysolovay My `email` is used as a username. I understand it is verifiable attribute, but even if I do not verify the `email` attribute (ignoring the verification code), I was able to login my account with the new email with no problem.

This brings me to the question what `email_verified` being `false` prevents you from doing?

[2020-09-10 04:43] Albert-Gao opened #6765 "Update the outdated react-native-elements dependency for preventing errors when using react-native-amplify with react native web"
Currently when using `aws-amplify-react-native` (v.4.2.5) with react-native-web and Typescript, it causes error when building:

Module not found: Can't resolve 'react-native-web/dist/exports/ViewPropTypes' in '/Users/AlbertGao/codes/teamingCloud/tcFrontend/node_modules/react-native-elements/src/config'

The problem is mentioned here:

- https://github.com/aws-amplify/amplify-js/issues/5865
- https

[2020-09-10 05:36] foranuj commented on #6754
Let me know if you need more information about this, I've got a bunch of request ids that are all in the upwards of 3500msecs.

REPORT RequestId: 14ace21a-dcea-43b6-b62f-c13a8b007632	Duration: 5812.14 ms	Billed Duration: 5900 ms	Memory Size: 128 MB	Max Memory Used: 90 MB	Init Duration: 158.69 ms

[2020-09-10 05:39] foranuj commented on #6754
Here's another example

@billedDuration
5700.0
@duration
5679.88
@ingestionTime
1599716081316
@initDuration
158.47
@log
604532617488:/aws/lambda/rethinkingyearbooks6314901dPostConfirmation-release
@logStream
2020/09/10/[$LATEST]40b3a09f06364f12aca71e61eabef1ed
@maxMemoryUsed
9.0E7
@memorySize
1.28E8
@message
REPORT RequestId: 5f014e80-72ae-49ae-bd88-2478682897f0 Duration: 5679.88 ms Billed Duratio

[2020-09-10 06:57] wlee221 commented on #6685
Hello, this is fixed in [#6748](https://github.com/aws-amplify/amplify-js/pull/6748) and is now published on `unstable` [npm tag](https://www.npmjs.com/package/aws-amplify/v/3.1.2-unstable.6). We will update you once it gets released to latest -- meanwhile, please feel free to use `aws-amplify@unstable` to unblock yourself, thanks!

[2020-09-10 07:37] greimela commented on #5403
@elorzafe We upgraded to the latest amplify version and the issue is fixed for us!

[2020-09-10 08:19] jefelewis commented on #3612
I have the same issue with the following packages:

[code]

Has anyone found a solution without installing `install amazon-cognito-identity-js`? Since I'm using React Native with auto linking + have the `aws-amplify` package, it feels like there are extra steps that are unnecessary.

[2020-09-10 09:15] eifr0980 commented on #6761
Latest version of amplify, on windows 10 2004.
When I 'ng serve' everything works fine... Maybe it's something with the build configuration.. but I dont know what may affect it

[2020-09-10 09:23] #6685 closed

[2020-09-10 10:04] Graham-Stein commented on #6737
I also get the same result with the latest versions:
    "@aws-amplify/ui-react": "^0.2.18"
    "aws-amplify": "^3.1.1"

[2020-09-10 10:11] semirenko commented on #5318
here is the way, how I did multienv support:

[code]

[2020-09-10 10:36] tobiasfeil opened #6767 "'Rate exceeded' when calling listGroupsForUser admin action a couple times"
**Describe the bug**
I have an app with 60 users and am calling `listGroupsForUser` for all of them at the same time. This generates a lot of `400` errors with the following content: `{"message":"Rate exceeded"}`. Is there a way to fix this?

[2020-09-10 12:41] slatemates commented on #6330
Exactly same issue when trying to sign in using google federated SignIN

[2020-09-10 13:07] crcommons commented on #6327
@jordanranz I was using 0.2.14 and then updated to 0.2.18 and still experience the same bug. Thanks for looking into it.

[2020-09-10 13:13] Hideman85 commented on #5131
Could be seen as a feature request

[2020-09-10 13:41] matt-d-webb commented on #5729
@taylornewton is there a way to retrospectively change this in your amplify S3 config?

[2020-09-10 14:09] taylornewton commented on #5729
@matt-d-webb If I remember correctly, I manually updated the permissions in S3 to allow the Admin group role to have permissions to the bucket. I did not do anything with the Amplify config.

[2020-09-10 15:03] duwerq commented on #6327
@jordanranz 0.2.15 over here and bumped it to 0.2.18 with the same results.

[2020-09-10 15:24] kevinsperrine commented on #6750
I ran into a similar issue when trying to update pinpoint endpoints, so instead of calling configure for the individual packages, called configure from the core package and it solved the problem.

[code]

[2020-09-10 15:24] RylandCapital commented on #6695
I have figured this out. simply needed to configure nginx to allow port 443 and get rid of mixed data.

[2020-09-10 15:24] #6695 closed

[2020-09-10 15:39] sammartinez commented on #6703
One thing i do notice @rorobolla is that you are using an older version of `aws-amplify`, have you upgraded to our latest version to validate these errors and warning messages are still present? Please let us know

[2020-09-10 15:51] achaphiv commented on #6750
Same issue here, but I don't have unauthenticated users enabled.

In my `nuxt` project:

`plugins/aws-amplify.client.js`

[code]

I had to downgrade dependencies to work again.

`package.json`
[code]

What|Bad|Good
-|-|-
`@aws-amplify/auth`|3.4.1|3.3.6
`@aws-amplify/core`|3.5.1|3.4.7

[2020-09-10 15:57] rorobolla commented on #6703
@sammartinez Just updated and ran and I am still getting the same error.
<img width="734" alt="Screen Shot 2020-09-10 at 11 57 07 AM" src="https://user-images.githubusercontent.com/70610965/92758520-cbcd6d80-f35c-11ea-8351-cd84564cdbb6.png">

[2020-09-10 16:02] sammartinez commented on #6703
Can you provide the your update `package.json`?

[2020-09-10 16:03] rorobolla commented on #6703
{
  "name": "masterapp",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "android": "react-native run-android",
    "ios": "react-native run-ios",
    "start": "react-native start",
    "test": "jest",
    "lint": "eslint ."
  },
  "dependencies": {
    "@react-native-community/async-storage": "^1.12.0",
    "@react-native-community/masked-view": "^0.1.10",
    "@react-native-community

[2020-09-10 16:24] elorzafe commented on #5403
@greimela that is great to read!!

I will close the issue and thank you for your contribution!

[2020-09-10 16:24] #5403 closed

[2020-09-10 16:32] mdegrees opened #6770 "Federation requires either a User Pool or Identity Pool in config"
**Describe the bug**
After updating  `@aws-amplify/core` to  "^3.5.1"  and `@aws-amplify/datastore` to "^2.3.1", I started hitting the error `Federation requires either a User Pool or Identity Pool in config`.

I'm using Auth inside a Next.js app. The setup is done in the `_app.js` file, so I believe this has nothing to do with SSR. Plus it used to work before.

the error appears to be caused by t

[2020-09-10 16:33] mdegrees opened #6768 "Federation requires either a User Pool or Identity Pool in config"
**Describe the bug**
After updating  `@aws-amplify/core` to  "^3.5.1"  and `@aws-amplify/datastore` to "^2.3.1", I started hitting the error `Federation requires either a User Pool or Identity Pool in config`.

I'm using Auth inside a Next.js app. The setup is done in the `_app.js` file, so I believe this has nothing to do with SSR. Plus it used to work before.

the error appears to be caused by t

[2020-09-10 16:35] eliecer2000 opened #6769 "packages too large, how can it be reduced?"
I have been using amplify for a long time for a web app, but lately I use it for a mobile app, and when compiling I see the number of packages that are possibly unnecessary, it takes an app from 200K to almost 5mb for me, the number of unused dependencies seems to be excessive, there is a way to remove or limit the amount of dependencies?

[2020-09-10 16:56] bertinnv commented on #3591
+1

[2020-09-10 17:11] iartemiev commented on #6580
@mdoesburg we're currently reviewing a PR that fixes this, so it will be very soon

[2020-09-10 17:11] harrysolovay commented on #6770
@mdegrees can you please share your `aws-exports` so that I can more effectively diagnose? (and please swap out any sensitive field strings with `"<the-given-field-key>"`)

[2020-09-10 17:27] harrysolovay commented on #6769
Below is my first attempt to help out! This issue might be (in part) the result of your bundler configuration––incase the solution below doesn't apply to you, please follow up with details about your workspace (CRA, CRA ejected / patched, NextJS, etc.).

The AmplifyJS lib depends on the [`aws-sdk`](http://github.com/aws/aws-sdk-js), which unfortunately takes [a toll](https://bundlephobia.com/resul

[2020-09-10 17:35] sw-yx commented on #6769
importing the scoped modules shouldn't matter because treeshaking is supposed to work.

there may be an [xy problem](https://en.m.wikipedia.org/wiki/XY_problem) here. what is root cause of the 5mb? we need a breakdown. OP, can you run https://www.npmjs.com/package/webpack-bundle-analyzer or the Rollup equivalent?

[2020-09-10 18:16] shouze commented on #5318
Are you sure this is related to current topic

[2020-09-10 18:31] hhemmati81 opened #6771 "Get type mismatch when using array of dynamic groups in @auth rules"
I am trying to use an array of dynamic groups in the @auth rules and I get type mismatch error. It works in the mock just fine though. It also works if I use a single group instead of an array. Here are my schema and the error message that I am getting.

[code]

My sample mutation.
[code]

And the error message.
[code]

[2020-09-10 19:14] semirenko commented on #5318
Sorry, my bad. Wrong issue

[2020-09-10 19:31] ashika01 commented on #6767
@tobiasfeil Could you provide us with more information? What are using amplify for? API thats getting called? Maybe a sample app/code snippet

[2020-09-10 19:43] eliecer2000 commented on #6769
de esta manera estoy importando mis componentes, como tu dices, las dependencias de @ aws-sdk son muy pesadas

[2020-09-10 19:43] #6769 closed

[2020-09-10 19:44] eliecer2000 commented on #6769
this way I am importing my components, as you say, the @ aws-sdk dependencies are very heavy

[2020-09-10 19:44] eliecer2000 commented on #6769
![Screenshot_74](https://user-images.githubusercontent.com/27373195/92793624-2f16ca00-f374-11ea-8694-2e40095f09c3.png)

[2020-09-10 19:48] eliecer2000 commented on #6769
1.13 mb of the libraries that I am using more, 1.8 mb of @ aws-sdk is 2mb, so far I have achieved this by configuring the webpack, but if there was a way to download it more it would be great.

[2020-09-10 20:24] renenw commented on #5926
there's clearly something broken here.

Setup a basic model. Push. Change the schema (you don't even need to change model, you can add or auth, or add another unrelated model). Push. Call listVenue via the AWS console, you get results - as exected. But, calling:
[code]
get's me an empty array.

Here's my schema:
[code]
The git diff doesn't suggest that anything to do with Venue was changed.

Delet

[2020-09-10 20:28] iartemiev commented on #5926
@renew there is currently a bug with specifying `operations` for owner and static group auth. We're actively working on resolving this.

[2020-09-10 20:30] iartemiev commented on #5926
@renenw there is currently a bug with specifying `operations` for owner and static group auth. We're actively working on resolving this.

[2020-09-10 20:34] renenw commented on #5926
thanks - but i'm not specifying groups and owners. But, point taken.

Do you have an ETA? Or an workaround? Or do I delete and recreate?

[2020-09-10 20:38] #6763 closed

[2020-09-10 21:10] dwardu89 commented on #6527
I've also got this problem with the new one, and i had to revert to the legacy framework.

I created a class and exported as follows

[code]

the test prop is not being stored in the constructor of the component.

[2020-09-10 21:45] ibrt commented on #2588
This looks like (yet another) weird server-side behavior of Cognito - confirming the user in the pre sign-up handler (but not verifying the e-mail) causes it to ignore the auto-verify email setting and not send the verification email. This is needed for  a pretty common use case: allow the user to immediately start using their account and later verify the email address.

It can be worked around by

[2020-09-10 22:05] jordanranz commented on #6327
Ok, I wasn't able to reproduce with sign up via username, but I was able to reproduce with sign up via email.

@duwerq, your investigation is really thorough and highlights part of the root cause. For some reason the password field value is not being passed properly to the confirm sign up form.

I am working on a fix ASAP. Thank you all for your patience.

[2020-09-10 23:06] harrysolovay commented on #6692
Unfortunately this is unsupported by both the AmplifyJS library and the Cognito service itself. You could, however, utilize a `pre-sign-up` trigger to add a custom attribute to the user. This attribute could then serve as the user's unique identifier within your application.

[2020-09-10 23:06] #6692 closed

[2020-09-10 23:06] amhinson commented on #6703
@rorobolla The first "Error" you are seeing is really just a warning from React Native because of our use of `AsyncStorage`. We are planning to update this soon, but that probably isn't what is causing the issue you are seeing here.

The error `Reference Error: Can't find variable: i` seems to be the actual error and potentially the 2 below that as well.

Would you be able to share a code sample o

[2020-09-10 23:18] wlee221 commented on #6685
The fix is now released. Thanks for bringing this to our attention 👍

[2020-09-10 23:52] rorobolla commented on #6703
So this error only started showing up recently and there are no variables in my code that are referenced as "i". The two below those errors arise when a different error crashes the program so it can't be those two. What parts of the project would you like to see? The project only runs into an error only with the aws-amplify code not when I remove the aws amplify.

[2020-09-10 23:56] amhinson commented on #6703
If you could provide a small sample app that reproduces the issue you're seeing, that'd be great!

[2020-09-11 00:26] fireflysemantics commented on #1323
I'm also having this issue with Angular.  I have not run the Amplify CLI in a while though, so I'm going to try upgrading and running it from scratch.

Perhaps there's been a field configuration name change.  This is the error I'm getting when running in production mode:

[code]

[2020-09-11 01:01] rorobolla commented on #6703
@amhinson -- I just made a copy and found the error. Was a very stupid mistake. Sorry for wasting your time! Thank you for reaching out and helping though. Really appreciate it.

[2020-09-11 01:08] amhinson commented on #6703
No problem at all! Glad you figured it out 🙂

[2020-09-11 01:08] #6703 closed

[2020-09-11 01:28] anastasialanz opened #6774 "The Auth channel 'signIn' event does not get returned after a first time password reset/TOTP login"
**Describe the bug**
Using the [Vue Amplify UI Authenticator Component](https://docs.amplify.aws/ui/auth/authenticator/q/framework/vue), when a first time Cognito user logs in with a password reset and QR scan code to get a TOTP token, no auth `signIn` event happens.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new Cognito user that has MFA.

2. In `App.vue`, within the `beforeC

[2020-09-11 01:35] fireflysemantics commented on #4315
I had the same thing just now.  I'm going to try the above fix.  This is the error I am getting.  I'm not configuring `Auth` specifically, as `Amplify.configure(awsconfig);` has been enough in the past to configure everything.

[code]

[2020-09-11 02:06] nodroglegin commented on #6742
Thanks @sw-yx : almost working. Now it is sending data to Dynamo db successfully but any changes on Dynamo (eg editing a record there) never come back to the local DataStore.
1. Whether I use Predicates.ALL or not it still works - so you don't seem to have a bug there
2. the edits to todo seem to work.

What I get now on network is:

<img width="717" alt="Screen Shot 2020-09-11 at 9 56 53 am" src=

[2020-09-11 02:49] vidhyasagarj commented on #6330
Stuck with the same issue. Any Idea on the root cause?

[2020-09-11 04:06] undefobj commented on #6767
This is a Cognito service rate limit. You may want to open a support ticket with the Cognito team.

[2020-09-11 07:31] pedramp20 opened #6775 "The conditional request fails when updating sort key of the primary index"
**Describe the bug**
A model defined with a primary index (a key directive without specifying the name) containing a hash and sort key, when updated by a graphql update mutation in which the sort key is changed, the following error is received

[code]
**To Reproduce**
define a models as follows:

[code]
try to update the model's NAME attribute using an update mutation

[code]

[2020-09-11 07:35] superCarton commented on #6685
Thanks a lot for your help @wlee221 @sammartinez

[2020-09-11 09:07] sw-yx commented on #6742
at this point I would refer you to datastore experts who can help you better

[2020-09-11 09:44] mdegrees commented on #6770
Apparently this was caused by some versions conflict. Solved it by replacing:
[code]
with
[code]
removing `aws-amplify`, `rm -rf node_modules & rm -rf package-lock.json`

[2020-09-11 09:44] #6770 closed

[2020-09-11 10:36] mdegrees commented on #6768
Somehow this issue got created twice. It's a duplicate #6770

[2020-09-11 10:36] #6768 closed

[2020-09-11 12:48] abhisheksett commented on #5783
Is there any way we can prioritize this issue?

@watanagarwal did you find any solution?

[2020-09-11 13:05] TheMoums commented on #6560
Ran into the same issue.

Any news on this @mahayash315 ?

[2020-09-11 13:38] anaibol commented on #5019
+1

[2020-09-11 13:43] fireflysemantics commented on #4315
https://stackoverflow.com/questions/63838978/moving-aws-exports-js-to-another-angular-project/63848309#63848309

[2020-09-11 15:22] s-g-r commented on #3771
@rajinonnet I have also come across this issue, I have not parsed to int for verification codes when a user originally signs up, however custom auth flows that need to access to forgot password functionality giving the same error.

[2020-09-11 15:33] ShehryarKh opened #6777 "amplify storage returns 403"
**Describe the bug**
Retrieving images using `amplify-s3-image` returns 403 forbidden.

I have no issue adding to s3 bucket via `amplify-s3-image-picker`  retrieving throws a 403. I've tried adding files to public folder directly and trying to retrieve, returns 403 .

**To Reproduce**
Steps to reproduce the behavior:

1) setup auth `amplify add auth`
2) setup api  `amplify add api`
3) setup storag

[2020-09-11 15:55] sammartinez commented on #6685
Thanks for reporting this @superCarton !! Always happy to help

[2020-09-11 18:09] harrysolovay commented on #6777
@ShehryarKh can you please provide the complete error message. Is there a user currently logged in?

Please try the following as well:

Retrieve the logged-in user's identityId:

[code]

Then, in your component, specify the `identity-id` attributes:

[code]

[2020-09-11 18:32] ShehryarKh commented on #6777
@harrysolovay I followed your advice and I am still getting 403.

Yes, there is an authenticated user logged in. Also, I will need the ability to show non authenticated users photos from storage.

Full error below:
[code]

I am also not getting cors issue, I was not getting this before.
[code]
Thanks for the continuous help.

[2020-09-11 18:34] ashika01 commented on #6777
@ShehryarKh So when you try to retrieve image as both auth and unauth user you get 403?

[2020-09-11 18:37] ShehryarKh commented on #6777
@ashika01 Yes. I am not sure why. I can put to the s3 bucket fine.
[code]

but 403 on
[code]

[2020-09-11 18:46] ashika01 commented on #6777
Couple of thing:
1. I see you set your permission create only for auth and read only for un-auth. Can you confirm if thats the case?
2. `s3-image-picker` actually takes does both put and get. So can you check if that works without any error remove any `s3-image` code to test this?
3. Do you actually see the file in the s3 bucket? Looking at your code, s3-image should automatically put the code in

[2020-09-11 18:48] ashika01 commented on #6777
Also, I notice you save in path `imgpath` but when you trying to retrieve you are not using it. So you need to call with something like this,
[code]

[2020-09-11 18:59] ShehryarKh commented on #6777
@ashika01 I am not sure what you mean by `s3-image-picker` take both `get` and `put` How and what does the code look like?  I'm sorry for the confusion there, but I added a ball.png manually into the public folder in s3 and tried to retrieve it via
`amplify-s3-image`
Yes I have seen photos being added to s3 from the `<amplify-s3-image-picker>` and that works perfectly.

How can I confirm permissio

[2020-09-11 19:07] harrysolovay commented on #6755
If you want Cognito to save user emails without the need for verification, my recommendation is that you configure a custom attribute `custom:email`. You can then use a `pre-sign-up` lambda trigger to set the initial value for this custom attribute, and then update it at your leisure, without the verification.

As for what `email_verified` prevents you from doing: depends on your own business logi

[2020-09-11 19:07] #6755 closed

[2020-09-11 21:30] dabit3 commented on #5416
Also getting this error when using version: `^0.2.19` in package.json, installed version `0.2.19`

`Attempted import error: 'AuthErrorStrings' is not exported from '@aws-amplify/auth'.`

[2020-09-11 21:39] ashika01 commented on #6777
Right here,
[code]

So in the`selectedAuthenticatedPermissions`, it says you have only given put permission. Can you try updating the storage to give get permissions there,

try `amplify update storage` and make sure to select both get and put for auth users. And lets see if that does the job.

[2020-09-11 22:31] #6469 closed

[2020-09-12 00:05] dorontal commented on #61
@amitport it would be great if we could use `evaporatejs` as well but looking at the github documentation, the configuration they require needs to have a signed URL and an "aws key" - both of which we do not know how to generate and obtain in our Amplify angular code. Any pointers as to how to integrate `evaporatejs` with Amplify? Thanks!

[2020-09-12 05:06] amitport commented on #61
@dorontal, I didn't use Amplify.

wrapping evaporatejs in Angular is the easy part, getting "aws key" is a bit more tricky depending on your exact use-case (you don't need Amplify for that). I suggest that you start by making raw evaporatejs work and only then add Angular integration.
(in any case, any support question should go to evaporatejs or aws-sdk, not here)

[2020-09-12 08:16] slatemates commented on #6330
Yes , the user is signed in sometimes. Sometimes the user needs to refresh
while sometimes the user is automatically logged in . Basically sign in
experience is not consistent

On Sat, Sep 12, 2020 at 12:34 AM Eric Clemmons <notifications@github.com>
wrote:

[2020-09-12 08:52] JaredJacobsen commented on #5407
I've been having the same problem with version 4.29.1, but it seems to work when I pass `name` to `@connection` rather than `keyName`, following [this](https://docs.amplify.aws/cli/graphql-transformer/overview#create-a-graphql-api) example:
[code]
I don't understand why the [documentation](https://docs.amplify.aws/cli/graphql-transformer/directives#connection) for `@connection` doesn't mention tha

[2020-09-12 11:52] rajinonnet commented on #3771
@s-g-r

You should not convert into INT. If the verification code entered by user is "000891" it will be converted into 891 and authentication will fail ultimately.

Just take the input from UI as it is and send it exactly as follows. It works like a charm.

`const confirmSignUpResponse = await Auth.confirmSignUp(this.state.email,this.state.verificationCode) ;`

[2020-09-12 13:57] ShehryarKh commented on #6777
@ashika01 Thank you. That was the issue. I'm not sure why it got set up that way. I got it to work by upgrading the storage to those permissions.
Closing Issue.

[2020-09-12 13:57] #6777 closed

[2020-09-12 14:37] iartemiev commented on #6580
@mdoesburg just merged the PR, so please try with the latest unstable versions

[2020-09-12 15:59] ignaciolarranaga commented on #6692
@harrysolovay / @renebrandel the problem with the workaround (use a different ID) is that it will totally eject the owner related amplify transformer auth functionality, none of the things related to owner will work as the owner field will not really match the identity.

[2020-09-12 16:24] wmcons commented on #5435
Thanks @ericclemmons,

Just noticed, API.post works fine from client but server side API.post its throwing error with  'The security token included in the request is invalid.' using Auth,API from withssrcontext. Rest API is iam authenticated. But if i change the service cognito authorizer it does work. Any example with withssrcontext API.post works with iam authenticated rest api.

[2020-09-12 19:03] srchulo opened #6782 "amplify-authenticator component prevents save password"
**Describe the bug**
Browsers do not prompt to save username/password after logging in with amplify authenticator:

https://docs.amplify.aws/ui/auth/authenticator/q/framework/vue

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a login page with amplify authenticator on it
2. Enter username and password
3. Login

**Expected behavior**
Browsers should prompt you to save username/password

[2020-09-12 20:33] #5738 closed

[2020-09-12 20:33] #6517 closed

[2020-09-13 01:42] jacdx commented on #4720
@aibrahim3546 Did you find a solution yet?

[2020-09-13 10:14] djou-13 opened #6779 "Query M2M models using DataStore"
**Is your feature request related to a problem? Please describe.**
Using DataStore with a M2M model.
Storing data using Datastore is great and easy... getting it back is another story.

To get back the list of editor for a post I ended up writing the following code:
`const editors = (await DataStore.query(PostEditor)).filter( pe.post.id === "123").map( pe => pe.editor );`
Which has one major issue

[2020-09-13 10:44] madhu-sudhan-bhat commented on #5479
import React, { Component } from "react"
[0] ^^^^^^
[0]
[0] SyntaxError: Cannot use import statement outside a module

getting same error in react.js

[2020-09-13 11:53] kjellski commented on #3090
Did this ever really make it into the package? I can't find it...

[2020-09-13 14:48] RossWilliams commented on #6775
DynamoDB does not allow this. You need to delete the item and create a new one with your new sort key. This isn't an Amplify issue

[2020-09-13 14:53] RossWilliams commented on #6754
You have configured the smallest size lambda, and you have two network requests, which takes more CPU than you may realise. If you increase the memory size to 1024 this should drop to 100ms or so.

[2020-09-13 17:22] oguzhanali commented on #4993
I have faced same issue. Anybody figured out something new about it? I am on aws-amplify 3.1.1 and aws-amplify-react-native 4.2.5 and expo

[2020-09-13 20:46] sacrampton commented on #6260
@sammartinez @iartemiev @manueliglesias

Are there any work arounds for this problem? Currently it would appear that if your entire AppSync schema has more than 33 models you cannot use DataStore. I'm trying to get this confirmed whether we are truly dead in the water on this, or if there is a work around.

My application has a WEB/Backend component and a MOBILE component. The TOTAL solution has 4

[2020-09-13 21:24] manueliglesias commented on #6260
Hi @sacrampton

One thing you can try for now is to manually modify the schema.js file generated in your models folder to remove the models you don't care about on your mobile app.

Please note that you would have to do this every time you change the schema since the modelgen command works out then back again

[2020-09-13 21:26] sacrampton commented on #6260
@manueliglesias - WOW - THANK YOU!!!! That is a fantastic suggestion.

[2020-09-14 05:38] nodroglegin commented on #6742
Thanks @sw-yx
@jordanranz - are you able to offer any suggestions?

[2020-09-14 06:12] Albert-Gao commented on #6765
And the purpose of importing this library is to use one icon of it...

![image](https://user-images.githubusercontent.com/18282328/93049718-b1c1c100-f6b5-11ea-850a-34ba3c2e766f.png)

I think it might be better if we can switch to a simple image (should be totally fine for such a small icon on screen), and yields a smaller bundle as well.

[2020-09-14 07:16] Danm72 commented on #5435
The details in the #2381 helped me a lot to get things running

[2020-09-14 07:42] nihp commented on #6257
Didn't got any solution for this

[2020-09-14 09:10] TonyAsbestosAlert commented on #6479
Two options seem appropriate:
1) the toast should be stylistically compatible with the rest of the Amplify UI - at the moment it isn't and looks like an afterthought
2) It would be great if you could register a toast callback, which would enable integration with, for example, Bootstrap toast

[2020-09-14 10:23] shox-harri commented on #6685
Many thanks @sammartinez and @wlee221 for the super fast fix I really appreciate it.

[2020-09-14 13:40] mauerbac commented on #6560
Hey @TheMoums - just spoke to the team. Not current ETA, but pushing the team to take a look.

[2020-09-14 13:42] mauerbac commented on #6257
Let me ping @amhinson about this @nihp .

[2020-09-14 13:58] amhinson commented on #6257
@nihp would you be able to provide a full code snippet or repo that shows this behavior you're seeing? I haven't been able to reproduce it so far, unfortunately.

[2020-09-14 14:11] nihp commented on #6257
@amhinson Follow this steps. You can able to reproduce the same.

1. Login to your app (Auth.signIn)
2. Then you can able to go inside the app
3. Then go to the aws cognito and disable the user in pool(which you have used to login the app in step1)
4. Then go to the app. Here you can able to access the app for one hour.
5. Here still the user can able to access the app. **It is not good to access

[2020-09-14 14:29] katrinacrisostomo commented on #4197
Was experiencing the same issue and found that bumping my `history` package from `v4.9.0` to `v5.0.0` fixed the issue. I don't quite understand why though. (I am on `aws-amplify` version `3.0.17`)

[2020-09-14 15:49] amhinson commented on #6257
Following the steps you provided, on step 4/5 Cognito my "logged in" user (who I just disabled) is no longer authorized to make any requests, and running `Auth.currentAuthenticatedUser({bypassCache: true})` gives me a `not authenticated` error. This sounds like the behavior you are expecting. At this point in your app, you can redirect them to the login screen.

If you are still having issue, I wo

[2020-09-14 16:58] sammartinez commented on #6775
@pedramp20 As based on the feedback above, this seems to be related to DynamoDB specifically instead of Amplify. Resolving

[2020-09-14 16:58] #6775 closed

[2020-09-14 18:07] nikhilknoldus commented on #1715
You can simply use the predefined amplify method like below.
    `  const currentUser = await Auth.currentAuthenticatedUser();`

[2020-09-14 18:15] WolfWalter commented on #6761
I'm running in the same issue on Ubuntu with Anguar 10.0.5 and 10.1.1.

[2020-09-14 18:51] BenjaminNielsen opened #6796 "[Feedback]Application doesn't work for Angular production builds"
**Page**: [`/start/q/integration/angular`](https://docs.amplify.aws/start/q/integration/angular)

**Feedback**:

When I follow these instructions the application will run with ng build. However, when running ng build --prod the resulting distribution will not run either locally or with the amplify console. The browser inevitably throws the error
ERROR TypeError: Cannot read property 'aws_appsync_r

[2020-09-14 18:51] danielbressan commented on #2602
Any updates on this? I believe it's the same/similar problem to:
https://github.com/aws-amplify/aws-sdk-ios/issues/2298
Which identified the bug on the AWS side and was supposedly being fixed.

[2020-09-14 19:45] dorontal commented on #61
Rather than using one of the few available 3rd party libraries on Github for this, none of which integrate nicely with Amplify today, we've decided to wait for Amplify to implement pausable / resumable multi-part uploads and would like to offer help in solving this issue more quickly. This issue will probably be solved sooner rather than later because it is crucial for any Amplify app that handles

[2020-09-14 20:32] walter-scott commented on #3410
Hello. We also very badly need this fixed.

[2020-09-14 20:35] cbishop-fv commented on #5416
using CRA and "@aws-amplify/ui-react": "^0.2.19",

import { withAuthenticator, AmplifySignOut } from '@aws-amplify/ui-react';

from example https://docs.amplify.aws/lib/auth/getting-started/q/platform/js#option-1-use-pre-built-ui-components

Failed to compile.
./node_modules/@aws-amplify/ui-components/dist/esm-es5/Translations-392acb9b.js
Attempted import error: 'AuthErrorStrings' is not exported

[2020-09-14 21:41] sammartinez commented on #6420
This seems like this may have been closed in error, @naripok please let us know if you are still experiencing this issue and we can look to dive deep into this.

[2020-09-14 21:53] ashika01 commented on #6104
Closing this issue. We will open up separate RFCs for any new components as we plan.

[2020-09-14 21:53] #6104 closed

[2020-09-14 22:28] ericclemmons opened #6786 "SSR not working with @aws-amplify/ui-react AmplifyAuthenticator"
**Describe the bug**

When wrapping my application with `<Authenticator />` and signing in with a `username`, `aws-amplify-react` correctly persists my credentials to cookies while `@aws-amplify/ui-react` **does not**.

👍  `import { Authenticator } from "aws-amplify-react"
❌  `import { AmplifyAuthenticator as Authenticator } from "@aws-amplify/ui-react"

A clear and concise description of what the

[2020-09-14 22:37] kkomaz opened #6787 "AmplifyConfirmSignIn - How to call default handleSubmit condition when customizing"
**Is your feature request related to a problem? Please describe.**
Per documentation the default handleSubmit will call `this.confirmSignup(event)`

![Screenshot of Google Chrome (9-14-20, 5-33-53 PM)](https://user-images.githubusercontent.com/8473884/93144715-a2904280-f6b8-11ea-9d9d-f57b3660ca39.png)

I would like to do some custom function calls AFTER the user successfully confirms his or her ac

[2020-09-14 23:10] ericclemmons commented on #6786
PR incoming...

[2020-09-15 00:13] sandramedina commented on #2588
@ibrt Thank you for the suggestion - I tried this and it works in the sense
that I do get a confirmation code sent after hitting the API, however it
breaks when I try to actually use the confirmation code with
confirm_sign_up (
https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/cognito-idp.html#CognitoIdentityProvider.Client.confirm_sign_up)
It gives me an error saying "Use

[2020-09-15 00:32] teamzz111 commented on #699
Same problem here...

[2020-09-15 02:00] oguzhanali commented on #4993
@sammartinez this an ongoing issue, can you take a look?

[2020-09-15 03:09] Ammatech commented on #6761
In Angular development mode it is working (ng serve). Here is my console log with Amplify debugging on -

import Amplify from 'aws-amplify';
import awsmobile from './aws-exports-ammatech';

Amplify.Logger.LOG_LEVEL = 'DEBUG';

Amplify.configure(awsmobile);

OUTPUT-

[DEBUG] 57:12.800 Amplify - amplify config {aws_project_region: "ap-southeast-2"…}
[DEBUG] 57:12.801 I18n - configure I18n
[DEBUG] 57

[2020-09-15 04:22] RD-Harry commented on #165
Hello, I also encountered the same problem, however when I use Firfox without any error message,
may I ask how to solve it finally?

[2020-09-15 04:56] Albert-Gao commented on #6787
I was wondering this too,

Based on the current class component implementation,

you have 2 options:

1. Check their source code, pick the part you need, and bring it to your project, I know, I know
1. `class MySignIn extends SignIn {}`, I know, anti-pattern, but this works, and can lead to minimal changes. Something like, if you just want to change UI, you rewrite the `showComponent()` method aft

[2020-09-15 10:44] Albert-Gao opened #6789 "[aws-amplify-react-native] email field on ConfirmSignUp is not auto-filled after redirecting from SignUp page"
**Describe the bug**
aws-amplify-react-native v4.2.5

After signed up, the auth flow goes to ConfirmSignUp correctly, however, the email field is not been auto filled

**To Reproduce**
Steps to reproduce the behavior:

1. Create an app with <Authenticator> (`usernameAttributes="email"`)
1. Go to 'SignUp'
1. fill out email and password and sign up
1. network request returns 200 and page redirected

[2020-09-15 11:34] anilp1291 opened #6791 "FaceID in amplify Predication module"
We have successfully configured all the steps given in document,
also images for predication collection going on given path,
But when we performing the matching , its giving the response but in that no unique faceID found just like we get in Android.

Sharing the response that we get when on predication success from collection.

{"entities":[{"boundingBox":{"__type":"BoundingBox","height":0.502099

[2020-09-15 13:17] lucasMobee commented on #6553
Has anyone seen any progress here? I'm running into a similar issue, trying to get https://docs.amplify.aws/lib/auth/manageusers/q/platform/js#retrieve-current-authenticated-user to work as described and refresh the session.

Given what the doc states, are there any known examples of this working? Everything else I've seen relies on using AWS global to configure the credentials, which we don't do

[2020-09-15 13:42] ADringer commented on #6761
I'm having the same issue, works fine when running locally but when running the production build it doesn't seem to configure properly. Only just started happening so might have been introduced in a recent build. My code:

[code]

Note that the object passed in is same as the documentation e.g. `{Auth: { ..., oauth: { ... } }`.

I then call:

[code]

But this causes the error as seen by other peop

[2020-09-15 13:59] RadagastCH opened #6792 "Pushes are not shown inside the app if our app was opened via tapped push on Notification center (Android)"
Pushes are not shown inside the app if our app was opened via tapped push on Notification center (Android)

**To Reproduce**
1)Send the push via aws/pinpoint
2)push is shown
3)Minimize app to background
4)Send a push - tap on a banner on device screen
5)App launches
6)send a push again

Actual: Notification is not received

**Expected behavior**
Notification is received

**Code Snippet**
 PushNoti