[2020-01-07 19:41] piraka9011 commented on #4387
It appears this is resolved. Thanks!

[2020-01-07 19:41] #4387 closed

[2020-01-07 20:58] ericclemmons commented on #4430
@julamb @allencart We merged down fixes with #4520 and released it a few days later via [2.2.1](https://github.com/aws-amplify/amplify-js/releases/tag/aws-amplify%402.2.1).

This issue should be resolved, but if you update to `latest` and still experience problems, please comment so we can re-open!

[2020-01-07 20:58] #4430 closed

[2020-01-07 21:30] Amplifiyer commented on #4409
thanks @lambda0xff, I think we need to first fix #4311 and then try to reproduce this. I believe I have a fix for that.
Based on your last comment about Using latest aws-amplify (^2.2.1), I was a little confused.

[2020-01-07 22:50] dlydiard commented on #1852
+1 i want to use AWS Amplify and not Firebase with my Flutter apps

[2020-01-08 00:28] ericclemmons commented on #4375
I opened #4679 that will prevent the destructuring of `undefined`.  Once that's merged & released, we can get visibility into what error is happening specific to your use-case.

[2020-01-08 00:29] Amplifiyer commented on #4666
@ajhool, we updated our webpack config to mark aws-amplify packages as external in amplify in hope to reduce the webpack bundle size but it seems we missed the predictions package. The idea was for clients to include the corresponding bundles (Such as only api + it's dependencies such as core and cache) rather than one giant bundle that includes everything.

Looking at the aws-amplify package, tha

[2020-01-08 00:34] Amplifiyer commented on #4311
@ryanmalesic @weizliu @aliankarali @lambda0xff @simpleshadow We have just merged in the fix. Can you please try with aws-amplify@unstable version and let us know if it's fixing the issue?

[2020-01-08 00:36] Amplifiyer commented on #4499
@anis-shaikh @anywhereiromy @ifielder We have just merged in the fix. Can you please try with aws-amplify@unstable version and let us know if the issue is resolved for you?

[2020-01-08 00:44] dbhagen commented on #3524
The route I'm taking on this is to add a lambda function that the logger can send content to do that will perform the CloudWatch logging for me.
[code]
And then I'm looking at https://www.npmjs.com/package/lambda-log to handle log shipping for me.
If I limit access to the function to only authed endpoints, I should protect myself from spam.

I'll report back when I have it working. Obviously, it w

[2020-01-08 01:06] Amplifiyer commented on #4409
@lambda0xff, can you try after upgrading the aws-amplify version to unstable @aws-amplify@unstable and see if this error still persists? Also keep all the graphql packages at v14.0.0

[2020-01-08 01:34] ferdingler commented on #3524
Sounds good! @dbhagen , a couple of comments though:

Be aware of the Lambda concurrency limits; Log shipping may be an operation that happens fairly frequently and depending how many clients (frontend apps) you have, you may be hitting your lambda function a lot: https://docs.aws.amazon.com/lambda/latest/dg/limits.html .

I also believe that the biggest challenge in doing Log shipping is not so m

[2020-01-08 01:56] dbroadhurst opened #4680 "Auth hosted UI create user button is permanently disabled"
Using the standard browser react auth example the create user button becomes disabled when the phone number is missing. The create button becomes permanently disabled.

Create a standard react auth app and create a user with the hosted UI

[2020-01-08 01:58] Amplifiyer commented on #4658
I'm not sure which issue you are referencing here. Can you provide the link of the issue?

Also are you able to reproduce it again? If yes, please provide detailed reproduction steps so we can try to debug it.

[2020-01-08 02:51] Amplifiyer commented on #4657
@juuyan I again tried with NextJs prerendered pages and I still couldn't reproduce what you are observing.

Will you be able to host your sample app so I can see that in action? If not, can you provide a minimal app in a repository where you can reproduce it, I will run it locally to reproduce it.

[2020-01-08 06:22] ajhool commented on #4666
@Amplifiyer thanks, there also might have been a minor discussion at some point about hosting amplify on a cdn. That would also be a nice feature. My clients usually have the aws sdk imported via cdn in html/javascript and do not know how to do something similar with Amplify because it is more involved.

https://github.com/aws-amplify/amplify-js/issues/4471

[2020-01-08 08:16] lambda0xff commented on #4311
Seems to fix the issue for me.
`aws-amplify": "^2.2.1-unstable.21`

[2020-01-08 08:20] lambda0xff commented on #4409
Using `@unstable` seems to fix #4311 for me, but I now get this `DocumentNode` error ('Cannot use namespace 'DocumentNode' as a type') for two files:

xxx/node_modules/@aws-amplify/api/lib-esm/types/index.d.ts
xxx/node_modules/@aws-amplify/api/lib/types/index.d.ts

I've kept all the graphql packages at v14.0.0

[2020-01-08 08:49] boxabirds commented on #1852
Reality: AWS Amplify support for even iOS is still in preview, so I’d not hold my breath for Flutter support any time soon.

[2020-01-08 09:14] alexAlchemy opened #4681 "After upgrade to Angular 9 get error "ERROR in Cannot read property 'length' of undefined" when building aws-amplify-angular"
**Describe the bug**
The application used aws-amplify and aws-amplify-angular. It was building as expected when on angular version 8 but after upgrade to angular version 9 the build process throws up the following error:

![image](https://user-images.githubusercontent.com/32409073/71964256-22464300-31f5-11ea-867a-fb661e6a9e2d.png)

Tried uninstalling and installing the npm packages to makes sure i

[2020-01-08 10:18] rehanbabertkxel commented on #3934
I am having the same issue. Is there any way we can run it with mock server?

[2020-01-08 10:22] rehanbabertkxel commented on #4311
@Amplifiyer , yes installing the unstable version resolved the adapter issue but when I use the Mock Server and call my lambda function which is using the unstable amplify version, it gives the following error:
"connect ECONNREFUSED 127.0.0.1:80"

I have read about this in another github issue:
"https://github.com/aws-amplify/amplify-js/issues/3934"

But don't know if its related.
Can you please a

[2020-01-08 10:32] rehanbabertkxel commented on #4311
Yes, it seems to resolve the issue @Amplifiyer .

[2020-01-08 11:26] #4464 closed

[2020-01-08 11:47] jdathueyt commented on #4670
Hi, i have the same problem.
And if i remove headers, i have CORS problem...

[2020-01-08 12:24] ZainlessBrombie commented on #4670
"Access-Control-Allow-Credentials": true,
True is a boolean. It needs to be a string I think

[2020-01-08 14:36] mackattack3k commented on #3504
@tncbbthositg With my packet manager e.g. `yarn add aws-sdk` or `npm i aws-sdk`

[2020-01-08 15:46] hfahlbusch commented on #4681
@alexAlchemy Have you switched your rendering engine to Ivy in Angular 9 or have you already opted for Ivy in your Angular 8 project?
At the moment there are issues with template checking and/or ivy renderer.
You could try switching off Ivy and disabling "fullTemplateTypeCheck" in your angularCompilerOptions in tsconfig.json

[2020-01-08 16:57] s3ru opened #4682 "How to specify cognito group at cognitoUser.authenticateUser(...)"
As a cognito user can be member of multiple groups i am wondering how to specify the group the user should adopt in the current session.
We are using the [amazon-cognito-identity-js](https://github.com/aws-amplify/amplify-js/tree/master/packages/amazon-cognito-identity-js) package along with the code of use case 4: _Authenticating a user and establishing a user session with the Amazon Cognito Iden

[2020-01-08 16:58] oliverandersencox opened #4683 "Authed subscriptions not working"
I have been trying to get subscriptions working for a few days no to no avail.

I am using the most recent Angular and Amplify with the following model:

[code]

And am calling this method to subscribe, with nothing ever being returned:

[code]

I am passing the owner to the function (the cognito ID/username, and then creating a message with the owner field containing this ID and it never returns

[2020-01-08 17:58] ericclemmons commented on #4681
@hfahlbusch Those issues are specific to Amplify, or is there a broader issue thread or PR for `fullTemplateTypeCheck`?

[2020-01-08 18:28] ericclemmons commented on #4681
I'm looking into this, but we do have a note in our docs regarding Ivy support:

[2020-01-08 18:38] ericclemmons commented on #4681
@alexAlchemy Can you confirm if you've opted out of ivy (per @hfahlbusch's suggestion) and are still experiencing issues?

If so, then this would be a bug for us to reproduce & address.  Otherwise, we can mark this as a feature request to go into #3279 for Ivy support with Angular 9.

[2020-01-08 18:52] elorzafe commented on #4683
Thanks @oliverandersencox for your feedback. I am currently working on a fix for this in #4617

Duplicate of #4602 so I will close but please look into the other issue when this is solved.

Thanks!

[2020-01-08 18:52] #4683 closed

[2020-01-08 19:52] shadycuz commented on #4168
Make sure you are sending them to the signout endpoint.

https://docs.aws.amazon.com/cognito/latest/developerguide/logout-endpoint.html

[2020-01-08 19:52] shadycuz commented on #4164
Make sure you are sending them to the signout endpoint.

https://docs.aws.amazon.com/cognito/latest/developerguide/logout-endpoint.html

[2020-01-08 20:08] hfahlbusch commented on #3620
@pubkey Seems there is a PR pending since a few month -> https://github.com/aws-amplify/amplify-js/pull/3793

This could save time. Could someone merge it?

[2020-01-08 21:55] esuarezz opened #4684 "Using the federation to log with gmail and facebook always going out of the APP?"
Im using cognito to log in with facebook and gmail and my question is.. when I log, it is going to a different url to log in and its is quite "unsafe". In other apps it seems like "native" , it is open another windows but inside the app but in this case is like opening in a new tab.

I am using expo but the log in is from here

[2020-01-08 22:00] pubkey commented on #3620
@hfahlbusch ah haven't seen that. Maybe we can`@` someone who is able to merge this?

[2020-01-08 23:15] sam-jg commented on #1437
@emanuelherrmann if your CSV's are always going to be that small it might be possible to just extract the CSV data to a JSON object client-side and send a regular post request.

[2020-01-08 23:58] FooBarRaz commented on #3210
I was experiencing similar issues with federated signin on ReactNative (no Expo). There were a couple of crucial things related to Linking that I was missing or had misconfigured --

* You need to set the `oauth.redirectSignIn` (and `redirectSignOut`) in your AWS configuration to a URI specific to your app, e.g. `myapp://main/`.
* In Xcode, you must edit your Info.plist to configure your build to

[2020-01-09 01:26] #3824 closed

[2020-01-09 01:55] Amplifiyer commented on #4409
I'm out of ideas, looking at similar issues faced by others, there is one of the two root causes. Either the @types/graphql is not installed or mismatched with the graphql version or skipLibCheck:false is added in the tsconfig.json

Can you turn the following commands in your package root and let me know the results
[code]

I don't believe that skipLibCheck:false is required for Amplify, but it do

[2020-01-09 05:15] ulpsilva opened #4687 "after update aws-amplify "Object prototype may only be an Object or null: undefined" issue"
i update my react project aws-amplify to version 2.2.1 from version 0.3.4 and after i am getting this error
![Annotation 2020-01-09 104414](https://user-images.githubusercontent.com/6129644/72039982-0d3ce300-32cd-11ea-93f7-9358c5411b9c.png)

[2020-01-09 06:26] mohaumpoti commented on #2166
Thanks @wallowabk

[2020-01-09 08:19] lambda0xff commented on #4409
@Amplifiyer : here's an app that reproduces the bug on my end.
Look at the commit messages to reproduce all steps.

Hope this helps.
[bug.zip](https://github.com/aws-amplify/amplify-js/files/4039351/bug.zip)

[2020-01-09 08:57] benjamin79 commented on #4634
I get the error in the browser console when i run Datastore.save... You just can add the models above from a project you already have and run the Datastore.save and you see the error. But i can make a repo next week if you still need it.

Don´t you think it might be the reason what Soek22 described?

[2020-01-09 09:40] joroe commented on #2534
I would say this is unexpected behavior. I would expect the local storage to be updated when updateUserAttributes is called.

[2020-01-09 09:47] alexAlchemy commented on #4681
I did not have ivy on angular 8 and when I switched to 9 it was enabled by default.

I can confirm that by opting out of Ivy the build passed.

[2020-01-09 10:02] Prudhvi1357 opened #4688 "Object.assign is not a function"
Describe the bug
TypeError · Object.assign is not a function
../node_modules/@aws-amplify/cache/lib/StorageCache.js:37t.e

@param config - the configuration of the cache
--
  | */
  | function StorageCache(config) {
  | this.config = Object.assign({}, config);
  | this.cacheCurSizeKey = this.config.keyPrefix + 'CurSize';
  | this.checkConfig();
  | }

Smartphone (please complete the following info

[2020-01-09 10:07] hfahlbusch commented on #4681
@ericclemmons The template check is root cause of multiple issues. For example this issue => https://github.com/aws-amplify/amplify-js/issues/3620

Sadly there is already a PR pending since a few month, that could prevent these additional issues.
https://github.com/aws-amplify/amplify-js/pull/3793

[2020-01-09 11:49] Soek22 commented on #4634
@ashika01 I am getting exactly same error on Amplify-iOS plugin, as stated here: https://github.com/aws-amplify/amplify-ios/issues/284  (with references to the source code where the problem is located)

I think it is a behaviour miss-alignment that breaks previously deployed backends, making them unable to work with the new API/Datastore plugins. Because of that, I have opened a more "generic" iss

[2020-01-09 14:33] devTechi commented on #3478
Hi @KristineTrona

"expanding" of the code does work, but not with the intended way. You need to cancel the login flow, even everything works as expected within the first attempt. Save some hash in backend (DynamoDB or something like that) and send the code after the first login attempt and challenge answer.

Now you have the code and information (session + salt or something) on both sides and you

[2020-01-09 15:18] rothalex commented on #3478
Hi @KristineTrona

I totally agree with the comments above. Currently, there is no way in implementing progressive authentication with a larger TTL than 3 mins using the custom workflow. I had a long and exhausting discussion with senior security specialists from AWS.

In order to realize it I'd also suggest using the solution proposed by @devTechi . You just need to extend the custom workflow wit

[2020-01-09 15:23] rmaroun opened #4689 "Amplify with Apple Sign in using Expo: NotAuthorizedException: Invalid login token. Issuer doesn't match providerName"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito, AWS Amplify
** Provide additional details e.g. code snippets **
Hi I am trying to use Amplify SignInWithApple together with Expo SDK v36 for my react-native app and I am getting

 when trying to authenticate.

I am currently using Amplify  "aws-amplify": "2.2.0", "aws-amplify-react-native": "

[2020-01-09 15:25] rmaroun commented on #4689
@dabit3 any idea how to solve this? thanks

[2020-01-09 15:45] hookercookerman opened #4690 "Allow of Custom Providers For Interactions."
_This issue is a Request For Comments (RFC). It is intended to elicit community feedback regarding a proposed change to the library. Please feel free to post comments or questions here._

## Summary

`Interactions Package`

Allow for exporting the abstract provider and the types so pluggable providers can be provided for bots, at present only LexProvider is exported.

https://github.com/aws-amplif

[2020-01-09 16:17] iartemiev commented on #4687
Hi @ulpsilva, please provide a code sample of how you're using Amplify, as well as your config (aws-exports.js file with any sensitive information removed)

[2020-01-09 16:19] iartemiev commented on #4684
Does the URL it's going to look like `https://your-app.auth.us-east-1.amazoncognito.com`?

[2020-01-09 17:11] iartemiev commented on #4688
Hey @Prudhvi1357 this seems to be related to the versions of JavaScript being run on those older versions of Android. 5.1 and 6 are 5 and 4 years old respectively at this point, and `Object.assign` has been widely supported for many years (as of ES6).

Could you please tell us more about your use case with these older version of Android so that we can understand it better?

[2020-01-09 17:54] ericclemmons commented on #4681
@hfahlbusch Thanks for cross-linking these issues/PRs!  The error from @alexAlchemy is different from #3620, but given the same solution, I think the best course of action is to validate #3793 against this issue as well and finally get it merged.

Thanks again for your help on this!

[2020-01-09 17:55] ericclemmons commented on #4681
(Calling this a bug, because it seems to be more of a compatibility issue than a feature request.)

[2020-01-09 18:07] #1368 closed

[2020-01-09 18:32] HMilbradt opened #4691 "Re-prompt users for OAUTH consent"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **
Hi team,

We have an application using `Auth.federatedSignIn({ provider: 'Facebook' })`, but ran into a slight problem.  We have a Lambda trigger that ensures the user has granted access to their email and returns an error if they disallow it

[2020-01-09 19:05] rychtation opened #4693 "Wrong country code for Czech Republic in aws-amplify-angular and aws-amplify-vue"
In aws-amplify-angular and aws-aplify-vue packages wrong phone country code is defined for Czech Republic. The correct code is '+420', not '+42'.

Here are links to the respective source files to be fixed:

Angular:
https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-angular/src/assets/countries.ts

Vue:
https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-ampl

[2020-01-09 19:20] tehOPEologist commented on #4599
is there an ETA on this getting into a stable version?  i can't use this unstable version in prod and this issue breaks my applications amplify integration using node v13

[2020-01-09 20:05] elorzafe commented on #4695
@raelmiu

I confirmed the issue, the cause is self referencing types,  I am working on a fix for this.

With this schema I was able to reproduced the problem

[code]

`Post` has a self reference on `reference` field.

[2020-01-09 20:30] iartemiev commented on #4693
@rychtation thank you for letting us know! The fix has been deployed to @unstable and will be in the next stable release

[2020-01-09 20:30] #4693 closed

[2020-01-09 21:45] #4602 closed

[2020-01-09 21:51] ashika01 commented on #3586
Closing the issue since the PR has been merged. Please verify and close the issue.

[2020-01-09 22:13] fireflysemantics opened #4697 "Has domain been removed from aws-exports.js?"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **

The first time I generate an `auth` configuration it had `domain` included like this:

[code]

However it's no longer included in `aws-exports`after I updated the CLI.  Has this been removed?

[2020-01-10 00:27] #4311 closed

[2020-01-10 00:30] Amplifiyer commented on #4599
@tehOPEologist We will be releasing a stable version soon, most likely end of this week or early next week.

[2020-01-10 02:00] Amplifiyer commented on #4409
@lambda0xff thank you for the app and for having the patience 🙏

I ran it locally and was able to successfully reproduce the issue you are getting. I believe the error is with the line `declare module 'graphql/language/ast'` in vue-shim.d.ts which effectively overrides the `@types/graphql` declarations. Removing that line and adding @types/grpahql@14.0.0 fixed the issue for me. Can you try these t

[2020-01-10 02:11] #4660 closed

[2020-01-10 04:03] genk1 commented on #4534
@cpalanzo I also had same problem in the course.
I figured it out by creating getUser function and use promise for subscription

here is a code for you.

[code]
  const getUser = async () => {
    const user = await Auth.currentUserInfo();
    return user;
  };

[2020-01-10 06:18] juuyan commented on #4657
@Amplifiyer thanks. I will try to make one sample repo this weekend.

[2020-01-10 06:34] juuyan commented on #4658
@Amplifiyer
I failed to reproduce it. I tried to delete the identity id for the guest, but the identity pool recreate one when the guest visit the app again within the same environment...

I don't know why last time identity pool did not behavior like this but instead reassign the same disabled id to the guest.

I'd close the issue. Thanks for your support.

[2020-01-10 06:34] #4658 closed

[2020-01-10 07:07] raelmiu commented on #4695
That's really interesting. Not all that surprising either I guess. Thank you!

[2020-01-10 07:27] lambda0xff commented on #4409
Yes, it looks like the underlying issue is that @types/graphql version 14.5.0 is listed in npm/yarn as the latest available version but is right now and empty repo without any definition files. So typing `yarn add @types/graphql` will download an empty repo ...

It looks like the latest working version is 14.2.3.

Thanks @Amplifiyer

[2020-01-10 08:27] KristineTrona commented on #3478
@devTechi @rothalex Thank you for your answers! For the project I was working on at the time it is no longer necessary, but it is good to know this workaround for the future.

[2020-01-10 08:39] stefkwan commented on #3985
This solution worked! Pausing Kapersky did not solve the problem but unchecking the "Inject script into web traffic to interact with web pages" removes these "ns.GetCommandSrc is not a function" errors.

[2020-01-10 09:05] devTechi commented on #3159
Thanks @obonyojimmy

This is helping a lot. Though it isn't intuitiv at all. I already thought about changing the challenge from `SRP_A` to `CUSTOM_CHALLENGE` at the backend.

[2020-01-10 10:55] ChristopheBougere commented on #4468
I'd love to see this feature as well available Amplify.
My current use case is to let users upload raw video files (possibly in GB) from the frontend, so the faster the better.
I could possibly have a look and submit a PR, is there any current plan?

[2020-01-10 11:29] DirkPodolakEssquare commented on #2534
As you have the user at hand, you may update the attribute manually and trigger storing.

[code]

But of course this should be part of `Auth.updateUserAttributes()` in the first place.

[2020-01-10 13:01] MihirGosai opened #4699 "Auth.forgotPassword() does not throw proper exception if user does not exist"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito.
** Provide additional details e.g. code snippets **
Using https://www.npmjs.com/package/aws-amplify

[code]
Is there any way to check if user does not exist?

[2020-01-10 16:46] kaybee99 commented on #4687
I'm facing the same issue.

Managed to get it working by only importing the modules I needed. I'm using Vue, but I've basically done [this](https://stackoverflow.com/questions/53925177/aws-amplify-modular-imports-with-vue)

[2020-01-10 17:37] ajhool commented on #4666
@Amplifiyer additionally, I would like to leverage the modularized import functionality to reduce bundle sizes on plain javascript/html sites, but I am hesitant to do so because the behavior is not well-documented and I'm only confident in importing the whole aws-amplify package.

I'm confident from experience, but not documentation, that importing the aws-amplify package will create a `window.["a

[2020-01-10 17:38] iamgerardm commented on #4178
How can we rely on API key when it changes every 7 days?

[2020-01-10 17:43] dantasfiles commented on #2807
@callagga

I had these questions too, and coded up some examples of using the types in the `src/API.ts` in [Using Typescript with AWS Amplify API](https://medium.com/@dantasfiles/using-typescript-with-aws-amplify-api-3788d722869)

[2020-01-10 17:54] #4409 closed

[2020-01-10 22:09] camin-mccluskey commented on #4580
Hi @iartemiev any update on this? Happy to provide more information or help in any way.

[2020-01-10 22:14] Amplifiyer commented on #4599
The stable version is released `v2.2.2`. Please let us know in case if you face any issues with the latest stable version.

[2020-01-10 22:14] #4599 closed

[2020-01-10 22:15] lukevandekieft opened #4704 "How are local DataStores connected to existing AppSync endpoints?"
** Which Category is your question related to? **
DataStore

** What AWS Services are you utilizing? **
AppSync

** Provide additional details e.g. code snippets **
I've successfully created a local DataStore using the [Amplify tutorial](https://aws-amplify.github.io/docs/js/datastore) but have been unable to connect & sync it to an existing AppSync application. The instructions mainly mention the

[2020-01-10 22:18] Amplifiyer commented on #3906
@cmckni3 are you also following up with AWS support and Pinpoint service? If yes, this issue can be closed.

[2020-01-10 23:05] #4302 closed

[2020-01-11 00:05] #4638 closed

[2020-01-11 01:38] elorzafe commented on #4602
@kevinold @stevensacks a fix is already publish on @latest tag on npm

[2020-01-11 02:03] Rafcin opened #4707 "Registration w/ Formik"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **
I'm trying to create a registration form from scratch. Using Formik i've been able to check if users are entering info correctly and so on. The issue I can't figure out is how to check if a user already exists or if the username or password i

[2020-01-11 02:05] #4420 closed

[2020-01-11 02:26] luizdanieldesouza commented on #2478
Hi,

I'm getting exactly the same error. Let me know if you might find a resolution for this issue.

Thanks, Dan

[2020-01-11 05:19] cmckni3 commented on #3906
I believe the support ticket is closed.

From my side it has been fixed after I added the appropriate permissions to the cognito auth and unauth roles.

[2020-01-11 05:19] #3906 closed

[2020-01-11 10:39] dimonchik-com opened #4708 "undefined is not an object (evaluating 'window.location.href')"
**Describe the bug**
I updated react-native from 0.61.4 to 0.61.5 and I got warning

[code]

It's warning arise when i run next code

[code]

[2020-01-11 13:00] idanlo commented on #3842
Not stale

[2020-01-11 13:36] ilyador commented on #2498
Hi, I am having the same problem.
Root works fine, any other path redirects to `index.html`

<img width="1100" alt="Screen Shot 2020-01-11 at 20 36 16" src="https://user-images.githubusercontent.com/703551/72205123-0cb17180-34b2-11ea-899f-5744d5bc79b0.png">

[2020-01-11 16:02] johnray987 commented on #987
How about we don't call this one stale until we hear some real answers?

[2020-01-11 17:00] alvaroPazosDEV commented on #4070
I also need subscriptions with amplify in my project. Please, tell me what version of **aws-amplify** and **aws-amplify-react-native** did you use and also, in config object do you have the amplify values under API?

[2020-01-11 18:31] OElesin commented on #4527
Any updates on this yet and when shall we be expecting?

[2020-01-11 19:00] davidbiller commented on #4527
Curious about expo compatibility than

[2020-01-11 21:05] amlcodes opened #4709 "Workflow and aws-exports"
** Which Category is your question related to? **
Auth, API
** What AWS Services are you utilizing? **
Cognito

What am I supposed to do, use ```amplify publish``` after every git push and get a cloudfront domain? Is it possible to use the amplify CI/CD pipeline with hosting? Or do I ```amplify push``` my backend, and create a front end connection within the amplify GUI to take advantage of CICD o

[2020-01-12 02:01] ryanmalesic opened #4710 "Add Auth Fails"
Resource Name: UserPoolClientLambda (AWS::Lambda::Function)
Event Type: create
Reason: The runtime parameter of nodejs8.10 is no longer supported for creating or updating AWS Lambda functions. We recommend you use the new runtime (nodejs12.x) while creating or updating functions. (Service: AWSLambdaInternal; Status Code: 400; Error Code: InvalidParameterValueException; Request ID: 66cdc39e-b2fb-4b

[2020-01-12 03:13] buixuanhai commented on #1213
This looks useful:
https://aws.amazon.com/blogs/mobile/amplify-cli-enables-creating-amazon-cognito-user-pool-groups-configuring-fine-grained-permissions-on-groups-and-adding-user-management-capabilities-to-applications/

[2020-01-12 12:17] geoseong commented on #4667
I've found the solution

Key problem is

just input this code in root `js` file(e.g., App.js, index.js) of your project
[code]

for example,
[code]

I think `Buffer` related error sometimes happen in Amplify project..

I solved this problem with the other following Buffer related issue case [#840](https://github.com/aws-amplify/amplify-js/issues/840#issuecomment-389459988)

I think amplify need so

[2020-01-12 18:46] dantasfiles opened #4711 "Analytics creates a new AWS Pinpoint endpoint every time the app is run, because it never finds an existing endpoint in the cache"
**Describe the bug**
I ran into this issue while trying to set up Push Notifications, which rely on the Analytics service.
Analytics creates a new AWS Pinpoint endpoint every time the React Native app is run, because it never finds an existing endpoint in the cache

**To Reproduce**
- Run `npx react-native init EndpointTest`
- Run `amplify init`
- Run `amplify add analytics`
[code]
- Run `amplify

[2020-01-13 06:50] jukkahuuskonen commented on #3586
Good to hear it should be fixed, unfortunately I'm unable to verify it myself for now. I'm closing the issue anyways. When I'm able to verify it, I'll reopen the issue, if necessary.

[2020-01-13 06:50] #3586 closed

[2020-01-13 09:40] tiendq commented on #3495
Unfortunately I also read this too late :(

[2020-01-13 10:12] wilcoschoneveld commented on #4704
I have the same question.

I have set up my app using:

[code]

But it looks like my calls to `DataStore.save` are not synced with the backend. I see the data in IndexedDB in the browser but not in DynamoDB on AWS.

Thanks!

[2020-01-13 10:52] ulpsilva commented on #4687
this is my aws-export.js
`const awsExports = {
  Auth: {
    // REQUIRED - Amazon Cognito Identity Pool ID
    identityPoolId: config.identityPoolId,
    // REQUIRED - Amazon Cognito Region
    region: config.region,
    // OPTIONAL - Amazon Cognito User Pool ID
    userPoolId: config.userPoolId,
    // OPTIONAL - Amazon Cognito Web Client ID
    userPoolWebClientId: config.userPoolWebClientId,

[2020-01-13 11:02] ulpsilva commented on #4687
**this is my aws-export.js**

[code]

**this is how I am using it**
[code]

[2020-01-13 11:04] ulpsilva commented on #4687
I did this. didn't work for me

[2020-01-13 11:23] aksyuma opened #4712 "Amplify Analytics "update-endpoint-batch" missing"
**Describe the bug**
Amazon Pinpoint service allows users/developers to add or update multiple endpoints in a single operation in batches using this [API.](https://docs.aws.amazon.com/pinpoint/latest/apireference/apps-application-id-endpoints.html#UpdateEndpointsBatch)

I want to achieve the same using aws-amplify but in the code I only see "update-endpoints" and there's no "update-endpoints-batch

[2020-01-13 13:35] irfanbaigse commented on #1852
Waiting .... 👍

[2020-01-13 15:41] mulhoon commented on #4035
Just started using Cognito and Amplify and am horrified to see what I'm reading across the internet; endless threads about this with no responses for the AWS team. @mrmaiko is right - this is really basic. It really should be fixed at Cognito level, but at the ui level would help for now.

This guy outlines the issue well...
https://medium.com/@richbuggy/4-simple-features-that-would-make-a-big-dif

[2020-01-13 15:46] Zerquix18 commented on #518
Currently the only workaround to this is removing the sign from the URL?

[2020-01-13 15:52] DanielMuller opened #4713 "[VueJS] amplify-connect passing authMode"
** Which Category is your question related to? **
API
** What AWS Services are you utilizing? **
Appsync, Cognito
** Provide additional details e.g. code snippets **
I am defining a model with multi-auth for public read (Cognito_identity_pool and IAM). Cognito_identity_pool is set as the default authorization
[code]
I want to use the `amplify-connect` component to execute my query.
This work fine

[2020-01-13 17:57] leosoaivan commented on #4044
Alternatively, is there a specific way to sign out a user authenticated via a social IdP, such that the next time they sign-in with that IdP, they aren't automatically signed in?

[2020-01-13 18:55] ericclemmons commented on #4375
Once #4679 is tagged & released this week, let's follow-up to see which error still occurs...

[2020-01-13 18:58] oliverandersencox commented on #4375
Hi @ericclemmons, sorry for the late response!

So i've tried both scenarios, that being I am still signed in when deleting and when I'm signed out. Both yielded the same result.

[2020-01-13 19:02] ericclemmons commented on #4601
@NKHenry I'm still working on reproducing this locally, but the biggest difference between our projects is the version of the packages:

[code]

Can you verify the behavior against `1.6.3` (the last `1.x` release) and `2.1.3` (latest)?

[2020-01-13 19:08] ericclemmons commented on #4375
Let's await this tagged release & see what happens.  I think the error you're seeing may be the same as what I reproduced here: https://github.com/aws-amplify/amplify-js/issues/4375#issuecomment-569963165

We'll know for sure once the tag is out 👀

[2020-01-13 21:16] JSDevelopment17 commented on #4244
I'm using Expo and amplify to login via facebook using the federated login.
This works for me fine on my simulator but when I actually use on the device I can successfully 'Continue' using Facebook (web), but when it redirects back to expo I get an error:
"There was a problem loading the requested app"
![fullsizeoutput_1ee3](https://user-images.githubusercontent.com/33499076/72292727-e4f51180-3649

[2020-01-13 21:22] yuvsc opened #4714 "Using Amplify Auth with SAML SSO"
### Question related to
Auth
### Services utilizing
Cognito, Amplify, SSO
### Summary
I have set up an AWS solution from CloudFormation template in https://github.com/awslabs/aws-media-insights-engine
This solution sets up a Cognito User Pool to allow users to authenticate using a username and password. I am trying to enhance this solution to allow users to use SSO to authenticate to the solution.

[2020-01-13 21:43] camin-mccluskey commented on #4305
having this issue when running tests in a react-native project. Tried upgrading aws-amplify but no luck. Any ideas? @mlabieniec

[2020-01-13 23:27] dantasfiles commented on #4410
You could modify [the Project-Team example in the docs](https://aws-amplify.github.io/docs/cli-toolchain/graphql#connection)
[code]

[2020-01-14 00:14] #3627 closed

[2020-01-14 05:49] juuyan commented on #4657
@Amplifiyer Thanks. I've solved it. The reason is bit silly...: the file is too small (1mb).. I got more updates when uploading bigger files...

[2020-01-14 05:49] #4657 closed

[2020-01-14 07:18] tomasyaya opened #4716 "Trigger GraphQl query with federation identity credentials"
** Which Category is your question related to? **
E.g. Auth, Predictions, Storage, etc.
** What AWS Services are you utilizing? **
E.g. Cognito, AWS AppSync, etc.
** Provide additional details e.g. code snippets **
E.g. Sample code, versions of Amplify you are using

Hi everybody, thank you in advance for you time and patience.

I have a federation sign in in place working correctly with salesforc

[2020-01-14 07:35] kangchals commented on #4650
It was my mistake.
remove () at wrong place.
https://stackoverflow.com/a/59558088/3846998

[2020-01-14 07:35] #4650 closed

[2020-01-14 07:39] rickcha commented on #2513
Are we NOT supposed to use both GraphQL and REST apis on Amplify architecture?

[2020-01-14 11:00] atul-chaudhary commented on #1852
please provide the sdk as soon as possible

[2020-01-14 11:13] markmckim commented on #4580
Without knowing if the Amplify team are even looking at this issue, (and a similar experience a few months back with zero communication on general availability of Sign in with Apple), it's becoming harder to justify continuing to use Amplify / Cognito.

I'm also in the position that I cannot release my app to the store because of this. I've had to disable Sign in with Apple until this defect is fi

[2020-01-14 11:21] amzhang commented on #2906
I suspect that the "Enable SMS MFA" button in the AWS Console is using a deprecated API (probably SetUserSettings). The "SMS MFA Status" field is likely to be also using the same deprecated field.

So do not use the "Enable SMS MFA" button. It will put the system into a state you can't change. Although, I haven't tried this, but maybe you can use the deprecated SetUserSettings API call to disable

[2020-01-14 11:34] alfrejivi commented on #1852
any update? haha

[2020-01-14 12:11] dimonchik-com commented on #4708
I don't know where the problem is and at the moment just changed this code
[code]

[2020-01-14 14:44] cassidylaidlaw commented on #4305
I'm also having the issue when running RN Jest tests.

[2020-01-14 14:46] dantasfiles commented on #4716
Have you tried setting the aws_appsync_authenticationType?
https://aws-amplify.github.io/docs/js/api#using-openid_connect

[2020-01-14 16:55] ajhool commented on #3495
Does anybody have suggested alternatives to Cognito user pools? These are the things that I like about Cognito and would like to see in other implementations:

1. Easy fine-grained access control to AWS resources. By placing the cognito "sub" in an IAM policy for S3, I can limit user access by path (eg. allow s3://private/{sub}/) would allow cognito users to access that sub. Maybe custom claims ca

[2020-01-14 17:22] EnzoDomingues commented on #2965
did anyone have a solution for this?

[2020-01-14 17:47] EnzoDomingues commented on #2965
@snooplsm  didn't work with me

[2020-01-14 19:00] EnzoDomingues commented on #2965
const blob = await new Promise((resolve, reject) => {
      const xhr = new XMLHttpRequest();
      xhr.onload = function () {
        resolve(xhr.response);
      };
      xhr.onerror = function () {
        reject(new TypeError("Network request failed"));
      };
      xhr.responseType = "blob";
      xhr.open("GET", this.video, true);
      xhr.send(null);
    });

i found this solution ˆˆ

[2020-01-14 19:57] lucas-dolsan commented on #1857
Is this solution still the way to go?

[2020-01-14 21:12] bradgreens commented on #1857
Try it? We're not all actively still in the codebase. If it doesn't work I'd suggest opening a new issue as that would imply the solution here is no longer effective.

[2020-01-14 23:37] Amplifiyer commented on #4670
@danielcai1987 and @jdathueyt did ZainlessBrombie@ solution worked for you?

[2020-01-14 23:44] dm-grinko commented on #3620
Did you `amplify add ...` using the dev environment?
and now you are trying to run `ng build --prod`?

[2020-01-15 00:40] #4499 closed

[2020-01-15 00:46] NKHenry commented on #4601
@ericclemmons Tried against the lastest 1.x.x versions and experienced the same behaviour (modern browsers behave normally, IE breaks).

Interestingly with the 2.1.3 versions the app broke on modern browsers as well. On chrome the authorization header wasn't being included at all and the API responded with a "missing authentication token" 403 error

[2020-01-15 01:04] manueliglesias commented on #4716
Hi @tomasyaya

I've seen similar behavior when for some reason you have more than one version of the `@aws-amplify/auth` or `@aws-amplify/core` packages

Can you verify if that's what's happening here?

e.g.
`npm ls | grep @aws-amplify`

or

`yarn list --pattern @aws-amplify`

[2020-01-15 01:07] hryktrd commented on #4515
Hi.
How is the progress of this fix?

I'm looking forward to your update.
Best regards.

[2020-01-15 01:20] manueliglesias commented on #4714
Hi @yuvsc

Amplify uses Cognito Uer Pools' Hosted UI OAuth flow, this flow uses JWT tokens.

Can you try with [these instructions](https://aws-amplify.github.io/docs/js/authentication#oauth-and-hosted-ui)?

[2020-01-15 01:55] manueliglesias commented on #4708
Hi @dimonchik-com

Did changing the code help with the warning?

if so, the original code was

[code]

Could it be possible you have another import that could be defining the global `window` object? (e.g. some polyfill or similar)

[2020-01-15 02:01] manueliglesias commented on #4707
Hi @Rafcin

Yes, this would be the way to do it, in fact this is the way it is currently implemented in our react helpers/components:

https://github.com/aws-amplify/amplify-js/blob/7154314496360f2dc6614300184cf778bf338b64/packages/aws-amplify-react/src/Auth/SignIn.tsx#L93-L127

I hope this helps

[2020-01-15 02:01] #4707 closed

[2020-01-15 02:38] manueliglesias commented on #4699
Hi @MihirGosai

I understand this has implications for the UX, but I think this is intentional in the Cognito Service, it is a best practice to not make that kind of information available as it can be used to attack apps.

e.g. take a look at the [OWASP Authentication cheat sheet](https://cheatsheetseries.owasp.org/cheatsheets/Authentication_Cheat_Sheet.html#password-recovery)

The account does no

[2020-01-15 02:58] gabehollombe-aws commented on #2233
This could be because AppSync limits the amount of iterations for VTL forEach loops to 1,000.  So, limit values higher than this won't have any effect. Instead, you should keep limit to 1,000 and paginate through your results with the nextToken value returned in the response.

[2020-01-15 03:02] Neuroforge opened #4718 "Aws Amplify Lambda File modification for long running process."
** Which Category is your question related to? **
Lambda, Auth and Storage

** What AWS Services are you utilizing? **
Lambda, S3 and GraphQL

** Provide additional details e.g. code snippets **

I am working from 'Serverless React with AWS Amplify - The Complete Guide' from Packt Publishing. It's great and has been an amazing springboard into using Amplify and amplify-react for the first time. So

[2020-01-15 03:06] Amplifiyer commented on #4648
Hi @namgk, were you able to follow https://aws-amplify.github.io/docs/js/api#manual-setup for a manual setting up your own custom API? How are you protecting your custom API?

The API gateway used by the automated setup in Amplify CLI is protected with cognito user pools and you can specify whether just authenticated or unauthenticated users as well should have permissions and for which APIs.

[2020-01-15 03:33] Amplifiyer commented on #4699
@MihirGosai, can you share your aws_exports file which is auto-generated by Amplify CLI (please obfuscate any AWS account or other sensitive information)

[2020-01-15 03:45] Neuroforge commented on #4718
It appears there is some documenatation that appears to have a dynamoDB lambda trigger, and examples of GraphQL here....

https://aws-amplify.github.io/docs/cli-toolchain/quickstart#graphql-from-lambda

[2020-01-15 05:31] safetydank commented on #4008
We have an app using React Native and the hosted UI for Facebook login. We received an enforcement notice from them requiring us to switch to their native mobile SDK before a set date. Unfortunately there doesn't appear to be a way to integrate this with our existing Cognito User Pool. @jclough96 did you get this resolved with Facebook?

[2020-01-15 07:52] tomasyaya commented on #4716
Thank you both of you.
The issue was with the app sync authorization being cognito and not open id.

[2020-01-15 07:52] #4716 closed

[2020-01-15 08:10] jclough96 commented on #4008
@safetydank unfortunately not. Facebook went frustratingly silent with no response to our questions in the community either.

We ended up using custom Auth flow and migrating users to a new pool (our previous pools config didn't allow for our solution). It was messy in this case, but we've managed to get it to work.

[2020-01-15 08:28] safetydank commented on #4008
Ah damn, hoping to avoid this kind of change. Thanks for the info.

@undefobj Is there any plan for native SDK support for Facebook logins in the future? The Hosted UI is still the recommended way to implement Facebook logins in the Amplify documentation, but it seems this is not acceptable to Facebook.

[2020-01-15 09:55] ronkorving commented on #1368
This is still an issue when for development purposes on a client app that in normal situations should use a secret, where one wants to create a dev-user from a local environment in that pool.

[2020-01-15 14:21] leosoaivan opened #4719 "Documentation for Google Social Provider Setup appears to be out of order"
**Describe the bug**
This is more of a "bug" with the documentation.

The [steps to setup Google](https://aws-amplify.github.io/docs/js/cognito-hosted-ui-federated-identity) as a social IdP in one's Cognito User Pool appears to be out of order.

The first step assumes that Amplify users have already created a project, while the finishing steps have you create a project.

**To Reproduce**
Steps to

[2020-01-15 14:32] lissau commented on #4667
Thank you for sharing your solution @geoseong . I was really struggling to find the cause of the problem

[2020-01-15 14:55] leosoaivan opened #4720 "User can sign in automatically even after signing out from the app and social IdP layer (Google)"
Currently, I have an app setup with Google login in conjunction with Cognito User Pools, bypassing the Cognito Hosted UI via `Auth.federatedSignIn({ provider: 'Google' })` attached to an `onClick` event on a button.

The sign out functionality simply calls `Auth.signOut()`, which successfully clears localStorage:

<img width="745" alt="Screen Shot 2020-01-15 at 9 50 35 AM" src="https://user-images

[2020-01-15 15:01] mguay22 commented on #3210
@FooBarRaz You are a life saver.. my problem was the missing code snippet in AppDelegate.m

Is there any chance we can update the docs with a more specific explanation of deep linking related to Amplify? IMO the one FB offers is pretty lack luster and it took me as a newcomer to the library about half a day to wade through various scattered docs to hack together the solution that @FooBarRaz just e

[2020-01-15 17:09] ericclemmons commented on #1368
@ronkorving Thanks for the response.  I don't fully understand your example, can you provide more details?

For those situations, is "Generate client secret" checked/unchecked?

[2020-01-15 18:51] ericclemmons commented on #4601
This helps a bit.  Ideally, your app works in modern browsers with the latest version (including bug fixes), as well as IE11 (with polyfills).

I've been able to successfully make API calls in a local project using the latest versions in all browsers, but that project is using `aws-exports.js` from the Amplify CLI:

[code]

Is your project setup with the Amplify CLI, or are forced to configure it

[2020-01-15 18:59] sarahcec commented on #4580
Thanks for the tag, @markmckim! We have replicated the behavior, and we've reached out to Apple to try to debug together.

One of the causes for this is that Cognito user pools can be configured to require an email address, and Apple only sends an email address on the first login. Apple has no way to know whether a user has been deleted from a Cognito user pool or not, so if a user is deleted, App

[2020-01-15 19:42] rjjlucy opened #4721 "No 'Access-Control-Allow-Origin' header is present on the requested resource for Pinpoint enpoint"
**Describe the bug**
[code]
**To Reproduce**
1. Open our web app in Chrome.
2. Open the developer console.
3. See the error

**Expected behavior**
No error

- Device: OSX Mojave
- Browser: Chrome
- Amplify version: 2.2.1

**Sample code**
Ping me through Chime renjingy@ and I can show you the codes.

[2020-01-15 19:53] dantasfiles commented on #3819
I wrote up my experiences using endpoints for verification and testing in [Testing Push Notifications with AWS Amplify](https://medium.com/@dantasfiles/testing-push-notifications-with-aws-amplify-9126bd621d3a)

[2020-01-15 19:57] rjjlucy commented on #4721
Inside Amplify SDK, when you make calls to pinpoint, you need to trigger a CORS preflight OPTION request. With this preflight request, the response header will include `Access-Control-Allow-Origin: *`  and the problem should be solved.

[2020-01-15 20:03] dantasfiles commented on #4419
I wrote up [my experiences setting up push notifications in Android](https://medium.com/@dantasfiles/setting-up-android-push-notifications-with-aws-amplify-e6334c6356d8). See if the way you set it up diverges from the way I did.
Also, there's currently a [weird endpoint bug](https://github.com/aws-amplify/amplify-js/issues/4711) that might be causing some of your problems.

[2020-01-15 21:01] namgk commented on #4648
What I'm looking at is to have my api behind an ELB, the ELB is authed with cognito, therefore I don't need to build auth into my api anymore.

I can achieve this on the web basis (e.g. with an api-powered web app behind ELB): User go to my web app, ELB intercept and ask for login, user login with Cognito and ELB let them through. All subsequent requests to my server are automatically authed with

[2020-01-15 21:11] ak37165 commented on #4068
Any update on this?

[2020-01-15 22:58] camin-mccluskey commented on #4580
@sarahcec can you explain how this is related to Apple not sending the email past the first login? Auth0 handles this by sending the email on each login regardless. In addition users (new, existing, deleted but recreating etc) **CAN sign in as long as they don't use touch or Face ID** - as demonstrated in this issue tracker by @markmckim, @aaxx, @iamdavidmartin myself and others. All in all Amplif

[2020-01-15 23:30] manueliglesias commented on #4704
Hi @lukevandekieft

The local DataStore uses the AppSync API specified in the `aws-exports.js` file. One important thing to mention here is that, for now, it assumes the API was provisioned/created with the `npx amplify-app` command (since that command creates datasources with `"Enable data source versioning"` as `true`)

[2020-01-15 23:40] manueliglesias commented on #4721
Hi @rjjlucy

The CORS preflight is done automatically by the browser, is this not happening?

[2020-01-15 23:43] manueliglesias commented on #4720
Hi @leosoaivan

This is expected behavior of a federated sign in.

This SO answer might be useful to understand the details:

https://stackoverflow.com/a/12909563/194974

(Specially the `When you logout of your app, you're logging out of your app:` part)

[2020-01-16 00:13] manueliglesias commented on #4699
@MihirGosai

@Amplifiyer and I tried your code on a brand new app and couldn't get the behavior you mention.

And regarding my previous comment, the advice is sound, but please note that Cognito **DOES** return a non-generic message for the scenario you describe and you should be getting an exception when calling `Auth.forgotPassword`:

[code]

We might need more information, or even better, a [co

[2020-01-16 00:36] ErikHDev commented on #3531
FYI, having the same exact issue with Nrwl and this amplify library "unable to require '.d.ts' file". I was able to fix the " Jest encountered an unexpected token" by adding this into my jest.config file.

[code]

[2020-01-16 00:43] rjjlucy commented on #4721
No. From [this post](https://stackoverflow.com/questions/20035101/why-does-my-javascript-code-get-a-no-access-control-allow-origin-header-is-pr), I think CORS headers has to be added to the backend server to allow cross origin access. So I think this has to be fixed by Amplify side.

[2020-01-16 00:59] emanuelherrmann commented on #1437
@sam-jg Yes I am currently doing that in some cases. But I will still like to be able to post a file to my API.

Using a bucket + a lambda notification on s3 only works in cases where the front end does not need the result .

Parsing the file in the front end convert to JSON and send to the APU is extra work that the front end shouldn't need to do.

Base 64 encoding does not work well with excel f

[2020-01-16 01:29] bstrech opened #4722 "Users need a way to recover their account when MFA is enabled and the user doesn't have access to their device"
When users have configured MFA with SMS or TOTP and lose access to their device, amplify should support a method for account recovery.
For example:
Allow the user to generate a new verification code to be sent to their email address
Create a recovery code when enabling MFA which could be used to reset their account
Setup a secondary phone or email for recovery.

Ideally this wouldn't disable MFA b

[2020-01-16 02:46] frostini commented on #661
I'd also kindly request support for this out of the box.

My use-case is for a two-sided marketplace with different user types on the supplier side. Primarily, we want to keep our user pools separate for consumers and suppliers for better isolation of concerns and for security reasons (only want supplier staff accessing supplier pool, etc)

Ideally I think the ability to configure one or more inst

[2020-01-16 02:53] frostini commented on #661
@simonbuchan thanks for sharing your experience with this, learned from your comments and will keep them in mind as I work toward a solution!

[2020-01-16 03:00] frostini commented on #661
btw just found related issue and merged PR [1916](https://github.com/aws-amplify/amplify-cli/pull/1916)

[2020-01-16 03:10] ronkorving commented on #1368
I'm doing local development, with a user pool on my development account.
Generate client secret is checked, because that's my normal flow. I want to be able to create test users quickly though, not having to go through any confirmation process. The user is just for development, but I do want the user pool client's auth flow to be identical to production.

What I did now as a workaround was to crea

[2020-01-16 07:46] deansimcox commented on #4515
Like others here, I got around this by importing core-js components and a promise polyfill.
So I ran:
[code]
And then my import list looks like this:
[code]
Hope that helps someone.

[2020-01-16 11:12] lissau commented on #4667
The fix @geoseong proposed did fix part of my problem, but unfortunately i'm still getting this error. I figured out the error message by debugging. The error message is
{ message:"Timeout disconnect" } and is being send by AWSAppSyncRealTimeProvider.

![Screen Shot 2020-01-16 at 12 11 20](https://user-images.githubusercontent.com/10071866/72520292-6a024580-3859-11ea-82a7-1a631a204938.png)

[2020-01-16 11:56] MihirGosai commented on #4699
This is what I get on passing non-existent username and password to Auth.forgot
![image](https://user-images.githubusercontent.com/7599834/72522996-db0b2280-3884-11ea-8876-e686a64ff31b.png)

[2020-01-16 13:23] sasitha commented on #4708
Having the exact same issue. What would be the cause for this?.

[2020-01-16 13:31] markmckim commented on #4580
Great. Thanks for the feedback @sarahcec . Good to know you guys are actively working this issue as a priority. If I know it will be a short term (days rather than weeks) then I'll hold off migrating to another auth provider.

I do agree with @camin-mccluskey that Cognito is a great product, but some more timely feedback on at least acknowledging defects and that they are being investigated would

[2020-01-16 15:06] Rahul-Reddy94 commented on #3336
@haverchuck Does amplify support authentication for Identity provider via **google** (Open Id connect )??

[2020-01-16 15:14] MHarutunian opened #4723 "browserOrNode() breaks pages with strict Content-Security-Policy headers"
**Describe the bug**
The `JS.browserOrNode()` function uses eval-like expressions that prevent amplify-js from running when a strict Content-Security-Policy is in place. The eval-like expressions I'm talking about are `new Function("...")`, which are not allowed in a Content-Security-Policy, that doesn't allow `eval()`.

This leads to the following error message in the browser (in this case Firefo

[2020-01-16 16:57] guillemmateos commented on #4326
I was searching for a solution to do this. I think your proposal is nice @ajhool but I would probably consider adding `redirectSignIn` to `FederatedSignInOptions`(defined in types/Auth.ts). That way it can be checked in a similar way to what its done with `provider`.

I will see if I get some time to submit a PR for this, as it should be fairly easy and potential side-effects minimal.

[2020-01-16 18:04] kldeb commented on #3744
In my case the wrong identity pool id in unauth role trust relationship. The value in `cognito-identity.amazonaws.com:aud` was wrong.

[2020-01-16 18:48] michelschmit commented on #4515
Hi, is someone find a solution to have colors on IE11 ? Since `aws-amplify` set colors with `var()` and the css variables aren't supported by IE...
(cf:
  - https://github.com/aws-amplify/amplify-js/issues/4515#issuecomment-565464963
  - https://github.com/aws-amplify/amplify-js/blob/master/packages/amplify-ui/src/Theme.css#L31
  - https://caniuse.com/#search=css%20variable)

thanks !

[2020-01-16 18:50] IronLuffy55 commented on #4708
@manueliglesias
I ran into the same warning on a bare bones (i.e. react-native init) project running v0.59.10.

It looks like react-native wants to setup some global variables on start up.

See https://stackoverflow.com/questions/49911424/what-does-the-variable-window-represent-in-react-native

List of globals provided by react-native: https://github.com/facebook/react-native/blob/master/Libraries

[2020-01-16 18:55] ericclemmons commented on #4515
@michelschmit That's an excellent callout!  Can you add this to https://github.com/aws-amplify/amplify-js/issues/3279 so we can track it as part of our UI efforts?

[2020-01-16 19:12] DavidHospital commented on #2103
It appears that this error was reintroduced in commit: 86310899b68a537f050e14da68d3649ce7476cfb.

[2020-01-16 19:17] michelschmit commented on #3279
Hi, following the discussion here : https://github.com/aws-amplify/amplify-js/issues/4515#issuecomment-575290910

can you add this to your things to do on amplify-ui :
currently you use `var()` to handle colors but the css variables aren't supported by IE11.

(@ericclemmons, tell me if it's enough or if i have to open a specific issue and link it here. )

Thanks !

[2020-01-16 19:30] agustinavarela commented on #4580
In case it helps anyone else, this post fixed my `Invalid State/RelayState provided.`error: https://forums.aws.amazon.com/thread.jspa?threadID=310618

[2020-01-16 19:57] IVB107 commented on #3157
Also having this same issue. Would appreciate if this issue is addressed with the next update for aws-amplify

[2020-01-16 20:05] damianrr commented on #4637
Thanks @jordanranz I'll wait for the refactoring.

[2020-01-16 20:13] damianrr opened #4726 "Authenticator bypass auth requirement for certain URLs"
** Which Category is your question related to? **
E.g. Auth.
** What AWS Services are you utilizing? **
E.g. Cognito.
** Provide additional details e.g. code snippets **

Hello guys,

I've my app protected with the Authenticator component, something like this:
[code]
And inside the App component I've my routes
[code]
And I want `/unauthaccess` to be accessible unauthenticated. I'm trying to avoid

[2020-01-16 20:31] #4688 closed

[2020-01-16 22:14] leosoaivan commented on #4720
@manueliglesias Thanks for the quick reply.

I did come across that SO post after making the issue, so I figured there wouldn't be any user-friendly solution.

My main concern is with security, especially if a user were to access my app on a public computer or walk away. Would revoking all tokens via `Auth.signOut({ global: true })` help with this?

[2020-01-17 00:31] paulsocal commented on #4197
@kevin-renier Where is that setting? I'm unable to find it in the console. How do you update it?

[2020-01-17 03:14] yunau commented on #3120
I am getting the same warning.

Warning: componentWillReceiveProps has been renamed, and is not recommended for use. See https://fb.me/react-async-component-lifecycle-hooks for details.

* Move data fetching code or side effects to componentDidUpdate.
* If you're updating state whenever props change, refactor your code to use memoization techniques or move it to static getDerivedStateFromProps. Le

[2020-01-17 08:07] lissau commented on #4667
What I did to fix the above issue was to listen for AppState changes and manually unsubscribe when the app is in the background and subscribe again when the screen get focus

[2020-01-17 09:37] wolrd opened #4728 "Build error with aws-amplify-react-native"
**Describe the bug**
I use React Native. And I want to use Push Notifications. But I get errors.

**To Reproduce**
0. I'm trying to configure Android. React Native ver: "~0.61.4"
1. Start with:
[code]
2. I use Expo Bare Workflow.
`yarn add aws-amplify aws-amplify-react-native`
3. Run:
`amplify init `
4. Setup Analytics:
[code]
5. Setup Push:
[code]
6. And add to android/build.gradle:
[code]
7. Als

[2020-01-17 10:16] dantasfiles commented on #4728
I was able to build push notifications successfully [with the following settings](https://medium.com/@dantasfiles/setting-up-android-push-notifications-with-aws-amplify-e6334c6356d8). You can try them and see if they make things better or worse for you.

[2020-01-17 10:26] JoraCardan opened #4729 "oauth/token endpoint called twice"
**Describe the bug**
I'm trying to do a federated authentication. I do understand the process of how a federated sign in works. It all works for me until the last moment. After I do manage to signup/sign-in with my social identity (Facebook/Google) I'm stuck with a double call from the aws-amplify js-sdk to the `${domain}/ouath2/token` endpoint. One results successfuly returning the `idToken`, `ac

[2020-01-17 12:13] wolrd commented on #4728
@dantasfiles thank you! It works. Now I will test push notifications. If this will work, then I will close the issue.

[2020-01-17 12:15] jeanverster opened #4730 "ReferenceError: document is not defined"
**Describe the bug**
I recently updated my aws-amplify version to the latest (2.2.2) and now all my tests are failing with the error `ReferenceError: document is not defined`. The issue seems to be with the `@aws-amplify/analytics` package. A workaround for the time being is to add a resolution in my package.json to resolve the analytics package to an older version (pre version 2.x.x) seems to wor

[2020-01-17 13:17] dantasfiles commented on #4728
Be aware during testing there's an endpoint bug that might affect your results. https://github.com/aws-amplify/amplify-js/issues/4711

[2020-01-17 13:34] leosoaivan commented on #4729
@JoraCardan I had a similar issue, where we created an Amplify micro-service authentication script to authenticate users, which lived on top of our Amplify project. In our initial setup, we ended up configuring Amplify multiple times, which caused 3 calls to the OAuth endpoints.

Just a wild guess, but could this be the source of the issues:
[code]

[2020-01-17 15:02] JoraCardan commented on #4729
OMFG YOU"RE A FU**ING GENIOUS! I had exactly the same problem, I love you! Thank you so much!!!

[2020-01-17 15:02] #4729 closed

[2020-01-17 17:03] yemi commented on #239
@rclarkburns Did this end up working out for you? Im in a similar situation and am wondering what to do.

[2020-01-17 17:09] rclarkburns commented on #239
Hi @yemi Yes, if I recall correctly using SAMIL 2.0 got around this however the project I was working on ended up abandoning the HOC in favor of a custom auth flow.

[2020-01-17 17:10] Dr1992 commented on #2990
This is still not working guys, any solutions ?

[2020-01-17 17:38] sammartinez commented on #4684
@esuarezz similar callout to what @iartemiev point out, if the URL looks like the above, Cognito is actually the one handling the redirect to different Social Providers. Please let us know if there is a different URL that doesnt seem to be the above.

[2020-01-17 17:51] rickcha commented on #3365
For those who use auth only, I found this way to reduce the bundle size significantly.
[code]

[2020-01-17 17:53] sammartinez commented on #4726
@damianrr While Amplify CLI and AWS Cognito have support for multiple redirects, currently the client doesn't have this support. I will mark this as a feature request as I feel this is a valid use case and one to explore.

[2020-01-17 17:53] damianrr commented on #4726
Thanks @sammartinez

[2020-01-17 18:24] #4695 closed

[2020-01-17 18:45] elorzafe commented on #4695
@raelmiu the fix for this is already merged in master, you can try on your app by installing @aws-amplify/datastore@unstable

We should publish a new @latest version soon

[2020-01-17 18:45] timeconsumer commented on #4668
+1

[2020-01-17 18:55] manueliglesias commented on #4723
Thanks for the report and the detailed repro steps @MHarutunian

I'll be taking a look and reporting back here

[2020-01-17 19:36] GenesisChris opened #4731 "Step Functions"
**Is your feature request related to a problem? Please describe.**
Integrating Step Functions is not currently supported, but is something I find myself using

**Describe the solution you'd like**
I would love it if Step Functions were to become officially supported to be provisioned and given access in the Amplify CLI.

**Describe alternatives you've considered**
I'm currently manually integratin

[2020-01-17 23:11] sammartinez commented on #4035
We have taken this to the Cognito Service team and they have let us know they are actively looking into this use case. While we don't have an eta on when this work will be complete, we will provide an update on this as soon as we are aware. Thanks!

[2020-01-18 01:51] elorzafe commented on #4320
@vgaltes what is your api config on Amplify (specially the end of the url). I think the path that you are specifying can have some overlapping with the endpoint.

I followed the same steps you mention and it works for me using access token. That is why I think it could be an issue with the endpoint that is configured on Amplify.

[2020-01-18 03:46] houmark commented on #4726
Meanwhile have a search around the web for ProtectedRoute and ProppedRoute alternatives. Those with some adjustments to your App / Routes can achieve the same.

[2020-01-18 03:54] houmark opened #4733 "Subscriptions sometimes fail, no error, no way to detect"
**Describe the bug**
We are seeing random fails when connecting to a subscription. There are no errors, looking at Chrome dev tools WS socket, it looks like the socket connects, but no data/messages are sent back.

The subscription is a standard subscription to GraphQL.

**To Reproduce**
I'm afraid this one is somewhat hard to reproduce. We are using the very latest version of `amplify-js` and the

[2020-01-18 09:26] jayalog opened #4734 "Storage.get - Download progress tracking"
** Which Category is your question related to? **
 Storage.
** What AWS Services are you utilizing? **
Cognito, Auth, Storage.

I am using aws amplify Auth and storage in web application. I am using Storage.get to download a file from S3 bucket. How to track progress of the download?

[2020-01-18 14:23] wolrd commented on #4728
@dantasfiles  yes, I get a new endpoint every build. How do you solve this problem?

[2020-01-18 14:25] wolrd commented on #4728
@dantasfiles and another question. Do you know how to add buttons for push notifications on Android?

[2020-01-18 14:43] mguay22 opened #4735 "Open FB app directly instead of using the browser during federated auth flow"
** Which Category is your question related to? **
Authentication
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **

It looks the URL used to launch the federated OAuth flow is hardcoded with `http`
https://github.com/aws-amplify/amplify-js/blob/9fc0e596/packages/auth/src/OAuth/OAuth.ts#L91

It would be a more ideal UX to open the FB app directly

[2020-01-18 14:55] dantasfiles commented on #4728
I didn't, the problem is in AWS code.
If you get a chance, post a comment in that bug saying you're experiencing the problem too and your environment etc to give them as much information possible so AWS can fix it faster.

[2020-01-18 16:16] morgler commented on #3635
I also need Cognito WITHOUT Amplify. We tried to use Amplify and it only fits a very narrow kind of use cases. Cognito however can be used in many cases where Amplify fails or makes things more complicated. This is even true when starting a completely new application architecture. Please, please provide ways and documentation to use Cognito without Amplify!

[2020-01-18 17:39] sw-yx commented on #3365
i think this is critical particularly for the React developer experience, which i imagine is important.

[2020-01-18 17:42] sw-yx commented on #4734
maybe get the file metadata to see the size of the file, and then track bytes downloaded to calculate the %?

[2020-01-18 18:08] pranaypratyush opened #4736 "PubSub throws error suggesting identityPoolId is not set, when in fact it is."
Auth.currentCredentials() shows correct identityPoolId but when I try to publish or subscribe it throws the error
[code]

I was working on a project from scratch and had simply added default auth config with phone number as username, nothing custom. I didn't implement the signUp confirmation yet so I manually verified the test user from AWS console.

**Expected behavior**
SignIn works perfectly so

[2020-01-18 18:13] ksloan commented on #2777
Still having this problem

[2020-01-18 19:16] sandeepsdixit commented on #3732
Same problem here... How do I get custom scopes in access token?

[2020-01-18 19:24] ksloan commented on #367
@jeffjvick This question was never answered, but I would like to do the same ^^^

[2020-01-19 02:19] cinnabarhorse commented on #3744
I also encountered this issue and fixed it by importing Storage from "@aws-amplify/storage" and running Storage.configure(awsExports) in the class where I need Storage.

This is because in my original app.js I imported "@aws-amplify/core" instead of the main Amplify object, to save space. If you are doing that, you will also encounter this issue.

Hope this helps someone.

[2020-01-19 07:21] CarlosBalladares commented on #4522
It would be helpful if anyone could provide an example

[2020-01-19 09:00] scharissis commented on #4057
I am experiencing this exact issue as well. Using react-native + Expo + amplify auth (default settings) via the withAuthenticator() HOC. My code is almost the same as @ChrisLFieldsII, except I'm using class Components.

[code]

[2020-01-19 10:08] Haseeb717 commented on #1852
Its 2020...any news?

[2020-01-19 13:20] dimonchik-com commented on #4708
Hi IronLuffy55 thanks for you comment I have new snippet

[code]

Please someone who develop this library fix this warning.

[2020-01-19 16:21] raelmiu opened #4737 "DataStore "Invalid field for model" unhelpful error"
**Describe the bug**
When trying to use DataStore for my Models, some of them get the following unhelpful error: "Error: Invalid field for model. field: id, model: Profile" on both _create_ and _get_ even when there are no models.

**To Reproduce**
1. Use the following model for AppSync
2. generate DataStore models manually
3. Try to create a new model or read an old (see my example)

### model
[c

[2020-01-19 16:30] raelmiu commented on #4737
I figured out what was happening, but I'm not sure why.

For some reason two of my models (including Profile) was being added to my `models/schema.js´ _without_ id as a field. Despite them being present in the AppSync graphql schema.

This must be a model generation bug?

[2020-01-19 18:08] pranaypratyush commented on #4736
So it seems like it's trying to log me in as `guest` even though it should be `session`

[2020-01-19 21:45] intagen opened #4738 "SerializationException: Expected map or null"
When enrolling MFA device in AWS Cognito under UserPool with SOFTWARE_TOKEN_MFA and then trying to confirm signIn, I'm getting an error that I haven't had months back (code hasn't changed).

`{"__type":"SerializationException","Message":"Expected map or null"}`

Typical Amplify confirmSignIn is in place.

`await Auth.confirmSignIn(user, code, SOFTWARE_TOKEN_MFA);`

Always worked, ideas?

[2020-01-20 00:05] NKHenry commented on #4601
We started this project with aws-amplify a long time ago, before the CLI existed. I think amplify was at version 0.2.3 back then.

We chose to continue with the manual configuration as we only needed some parts of the AUTH and API modules and wanted to avoid bloat.

I'll try using the CLI to generate the environment.

[2020-01-20 01:09] geddawi commented on #2588
There is a huge setback with this scenario:

1. **Step 1:** User needs to signup and get a confirmed account right away (not a confirmed email; this will be prompted by the application to unlock extra features and extend usability etc) At this point user can sign in but is a limited user.
2. **Step 2:** User is sent a standard and very common welcome email + verification link (created with the ver

[2020-01-20 02:09] danmight commented on #3405
In regards to the "access token" undefined error, I was getting this and realized I was calling the Amplify.configure method too many times. I was doing it in an App.js file and then again in several other files where I had signup forms. It was triggering multiple calls that were causing the error.

If you have something like this in your code, make sure you only call it once:

import awsconfig fr

[2020-01-20 02:59] jmandivarapu1 commented on #4635
Does anybody know answer to this?

[2020-01-20 06:38] toddsampson commented on #1035
Haven't seen any updates in a few months... Any progress/thoughts on this? Would love to see nativescript-vue + amplify happen.

[2020-01-20 08:29] sasitha opened #4739 "React native Amplify Auth.federatedSignIn federated login error [InvalidParameterException: Please provide a valid public provider]"
**Describe the bug**
AWS Amplify federated sign in throws the above-mentioned error when trying with the provider `accounts.google.com`.

**To Reproduce**
1. Go to [firebase](https://console.firebase.google.com/) and set up an app. Get the client id for later usage.
2. Go to IAM and create a new identity provider with provider url as `https://accounts.google.com` and use web client id as `Audience

[2020-01-20 08:43] Thembelani commented on #3737
Hi guys, any update to this? @jmazala did you find a workaround for this?
Thanks

[2020-01-20 09:00] soyiatgit commented on #3435
Facing the same issue with cognito-identity for JS. `user.signout()` just removes the token from local storage. Anyone who had preserved the id token can still connect to the gateway with it. Any updates or resolution around this ?

[2020-01-20 09:04] jayalog commented on #4734
@sw-yx Thank you. How to track bytes downloaded since we don't have control over http call, amplify is handling it.

[2020-01-20 09:12] maros96 commented on #3435
Only way(for now) that is verified from AWS technical support team is explained here:
https://dzone.com/articles/aws-cognito-user-pool-access-token-invalidation-1

So, idea is to user CognitoIdentityServiceProvider. More about all its methods here: https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/CognitoIdentityServiceProvider.html

CognitoIdentityServiceProvider.globalSingOutUser(accessTok

[2020-01-20 09:23] g-ioannidi5 opened #4740 "SSL Pinning and potential thread when not in place"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **
This is more of a concern that arises from the fact that SSL Pinning is not yet supported by amplify-js.

We are implementing a React Native mobile application. Would a potential man-in-the-middle attack obtain access and retrieve the user's

[2020-01-20 09:54] soyiatgit commented on #3435
Thanks @maros96  for the detailed explanation. However, when I tried using accessToken as the Authorisation header to connect with API gateway, my API call failed with 401 -Unauthorised. The same call works fine while sending idToken in the Authorisation header. The AWS doc [here](https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-integrate-with-cognito.html) says we can use e

[2020-01-20 10:48] jeremyputeaux commented on #1511
Please, I'm also looking forward to this. Is there a progress?

[2020-01-20 11:29] waqas-syed opened #4741 "signUpConfig not updating fields"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito
** Provide Additional Details **
I am following the [tutorial](https://aws-amplify.github.io/docs/js/angular#signup-configuration) exactly as it is but my fields don't update and remain as they should without the signUpConfig parameter.
Referring to issue #2897, I added public to the signUpCon

[2020-01-20 12:02] tanguy2508 commented on #4736
I am facing the same problem, did you find a way to make it work ?

[2020-01-20 12:09] karrettgelley opened #4742 "Graphql Transform Schema Question"
** Which Category is your question related to? **
Graphql Transform
** What AWS Services are you utilizing? **
Cognito, AWS Amplify
** Provide additional details e.g. code snippets **
So I have been using Amplify in a development setting and it is great for the tutorial projects. I especially like the Graphql Transform feature. It seems to decrease my time to market on most features. However, I am

[2020-01-20 12:10] JulianKl opened #4743 "Racing Condition: Auth events dispatched before Hub.listen() are lost"
**Describe the bug**

In my React application that is using Amplify Auth I noticed that signing in is flakey and sometimes just does not work.

After investigation, I found that the Function "_handleAuthRespons" in Auth.ts is sometimes dispatching the 'signIn' event before my application is able to call Hub.listen(). In cases where my application runs the Hub.listen() first, the events are process

[2020-01-20 12:19] pranaypratyush commented on #4736
No. Still working on it. The problem it seems is that amplify credentials is running the `guest` login code for my case but it should run the `session` case. Check `@aws-amplify/core/lib/Credentials.js:392`

[2020-01-20 12:45] maros96 commented on #3435
Yes, thing is that Authorizer can depend on ID Token OR Access Token, but implementation of Authorizer is not the same for those 2 cases. You've created your authorizer to use ID Token. If you want to change it to use Access Token, you have to change firs implementation of authorizer and then put accessToken in Authorization header. That is why you get Unauthorized when you pass accessToken - Auth

[2020-01-20 12:53] tanguy2508 commented on #4736
i did an upgrade of aws-amplify dependency and it seams to work now, which version of it do you have in your package.json? i'm now with version 2.2.2

[2020-01-20 12:55] pranaypratyush commented on #4736
Also on 2.2.2

[2020-01-20 12:56] tanguy2508 commented on #4736
how is your Amplify.configure( ... ) ?

[2020-01-20 13:00] pranaypratyush commented on #4736
I am doing the configure in my root App file. My `aws-exports.js` looks like the following.
[code]

[2020-01-20 13:03] tanguy2508 commented on #4736
was doing this too but for PubSub to work it seems you had to had it this way :

`const awsmobile = {
   ...
   Auth: {
       identityPoolId: 'us-east-1:xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxx',
       region: 'us-east-1',
       userPoolId: 'us-east-1_xxxxxxxxxx',
       userPoolWebClientId: 'xxxxxxxxxxxxxxxxxxxx',
   },
   ...
  },`

[2020-01-20 13:07] pranaypratyush commented on #4736
Hmm... Let me try that.

[2020-01-20 13:48] alexAlchemy opened #4744 "angular 9 with amplify authenticator UI"
**Describe the bug**
I recently upgraded to angular 9 and after a previous issue with amplify and angular deactivated ivy. (I mention this for context in case somebody suggests I opt-out).

I tried using the amplify authenticator component and it won't render. Looking at the error and debugging in the console it seems to be failing here.

![image](https://user-images.githubusercontent.com/32409073

[2020-01-20 13:50] wolrd commented on #4728
@dantasfiles do you know how to make auth without Cognito? I have own backend and Authorization: Bearer <token>.

[2020-01-20 14:24] AdanJSuarez commented on #4599
It works for me! Thank you very much!

[2020-01-20 15:45] vdumouchel commented on #997
@sambshapiro  did you manage to solve the storage.list problem? I have the same problem currently giving me back a 403: Access Denied on storage.list specifically.  I did add inline policies to my IAM roles auth and unauth like specified in the Amplify documentation without any success.

[2020-01-20 16:12] PeterBurner commented on #3831
+1 to reopen

[2020-01-20 16:16] PeterBurner commented on #3831
duplicate of https://github.com/aws-amplify/amplify-js/issues/4374

[2020-01-20 16:33] jmazala commented on #3737
I haven’t but I can review the code again

________________________________
From: Thembelani <notifications@github.com>
Sent: Monday, January 20, 2020 1:43:18 AM
To: aws-amplify/amplify-js <amplify-js@noreply.github.com>
Cc: jmazala <mazala.2@osu.edu>; Mention <mention@noreply.github.com>
Subject: Re: [aws-amplify/amplify-js] Is addPluggable with AWSIoTProvider really Async? (#3737)

Hi guys, any

[2020-01-20 17:35] pranaypratyush commented on #4736
Now get a slightly different error
[code]

[2020-01-20 17:41] pranaypratyush commented on #4736
I had initially assumed that the error is a result of me manually verifying the user from the console and that's why Amplify is probably treating this signin as guest (which would still be a bug).

[2020-01-20 17:48] tanguy2508 commented on #4736
looks like the error you sent here is the same

[2020-01-20 17:51] pranaypratyush commented on #4736
Oh yes. Exactly the same error. Apparently, this config format didn't help.

[2020-01-20 18:43] minaairsupport commented on #2184
I have the same issue I tried all these solutions but none of them work
any hint why I am still getting this issue

[code]

[2020-01-20 21:54] Amplifiyer commented on #4666
@ajhool as mentioned in the #4471 we have discussed it internally but haven't reached a consensus whether  we will be able to do it or not.

Also as you mentioned, we don't have official documentation or support for plain javascript apps as of right now. I'll be fixing the regression so that the full bundle from "aws-amplify" package is usable again. But to make it modularized is something we need

[2020-01-20 22:07] iartemiev commented on #4562
@oliverandersencox just want to make sure, have you enabled "Sign in with Apple" in the Enabled Identity Providers section for the client(s) you're using in your Amplify app? (in the AWS Console: Cognito -> User Pool -> App Integration -> App client settings -> Enabled Identity Providers).

Also, have you configured Attribute mapping for the Apple IDP?

[2020-01-20 22:17] Ashish-Nanda commented on #4731
Transferring this feature request to the amplify-cli repo since it is a CLI feature.

[2020-01-20 23:06] ashika01 commented on #4644
@giovas94 : How does your setup for Datastore look like? I just created a sample nextJS app and implemented Datastore in it. Since Datastore uses indexedDB for offline storage, I used [noSSR](https://nextjs.org/docs/advanced-features/dynamic-import#with-no-ssr) to set it up. And once that is set, I was able to use Datastore as usual completely synced with cloud.

Could you provide more details or

[2020-01-20 23:19] Ashish-Nanda commented on #4417
Hi @ejdoh1 . Are you still facing this issue?
The fix for this problem has been available since version 2.2.0

[2020-01-21 00:09] sammartinez commented on #4743
@JulianKl Do you have any sample code that you could share with us to help with looking into your issue? Also, could you provide the versions you are seeing the race condition occur on? Thanks ahead of time.

[2020-01-21 00:18] #4476 closed

[2020-01-21 01:55] Amplifiyer commented on #4635
Hi @jmandivarapu1 sorry for missing this issue for this long. I tried to reproduce the issue and learn more about remembering the device. On the first login of the user on a device, you'll get a `DeviceKey` and `DeviceGroupKey` which is supposed to be persisted in the client (at user scope). Right after the first call, amplify will make another call `AWSCognitoIdentityProviderService.ConfirmDevice

[2020-01-21 02:01] Amplifiyer commented on #4699
@MihirGosai, we are not seeing this behavior based on the reproduction steps you mentioned. As Manuel asked, can you provide a very minimal sample repo or a [codesandbox](https://codesandbox.io/) where we can easily reproduce the exact issue you are seeing?

[2020-01-21 04:44] cjardine commented on #3762
@haverchuck Is there any progress on this? Ivy delivers some compelling performance improvements (when I remove Amplify) but I'm now having to consider moving to other serverless solutions in anticipation of Angular 9 release (Ivy on by default; now in RC). Any information either way would be helpful and appreciated :)

[2020-01-21 08:41] JulianKl commented on #4743
@sammartinez I am using Version 1.2.4.

The Hub code looks as follows:

[code]

The Hub.listen() is executed through useEffect on the first rendering of the Login Page. It is used to change the application UI to the logged-in state and to track a couple of events. Federated Logins are used (Facebook). If you need anything else, please let me know!

[2020-01-21 09:26] arnab-roy-13 opened #4746 "GET/LIST specific version of an object from s3"
I want to get a specific version of an object from s3. But I haven't seen any way to pass the specific `versionId` to my `get` request of `amplify-storage`. Is there any way around to do that?

detailed question can be found [here](https://stackoverflow.com/questions/59836539/get-put-specific-version-of-an-object-via-aws-amplify).

The gist is -

When I am calling -
[code]
I want to pass a `versio

[2020-01-21 10:24] pranaypratyush commented on #4736
Anything new on this?

[2020-01-21 10:58] tanguy2508 commented on #4736
I got my PubSub to work following this article, maybe you should try this exemple, and then if works, integrate it to your code
[https://medium.com/serverlessguru/serverless-real-time-reactjs-app-aws-iot-mqtt-17d023954045](url)

[2020-01-21 11:48] richAtreides opened #4747 "AuthError on deploy but not locally"
**Describe the bug**
Hi when I run my app locally using NPM start it works fine and I can sign in. However when I deploy to a feature branch for testing I get the following error:

"Cannot read property 'clientMetadata' of undefined"

The logs state the following:

"[ERROR] 28:45.925 AuthError -
            Error: Amplify has not been configured correctly.
            This error is typically cause

[2020-01-21 12:29] pranaypratyush commented on #4736
I got it mate. I set `Amplify.configure({Auth:{madatorySignIn:true}})`. Amplify had generated it as false. My hypothesis is that now Amplify is logging in as `session` instead of `guest`.

[2020-01-21 13:58] michelschmit opened #4748 "[VueJS] Firefox autofill don't work"
**Describe the bug**
On Firefox with `amplify-js-vue`. Since the only trigger event of `UserNameField` inputs is `v-on:keyup`, select a  value from the firefox autofill dropdown only with mouse doesn't call the `usernameChanged` function.

**To Reproduce**
Steps to reproduce the behavior:

1. Click in username input
2. Click on a saved username from the Firefox autofill dropdown

Link to sample co

[2020-01-21 14:44] schieble commented on #4649
Hi   Any news on the fix for this?

[2020-01-21 14:49] sw-yx commented on #4734
good question. amplify probably needs to expose a callback for that, or you need to hack it in yourself.

[2020-01-21 15:41] morgler opened #4749 "Amplify "add hosting" not setting "Restrict Bucket access" in Cloudfront"
Adding hosting via `amplify add hosting` while selecting the PROD environment (i.e. with Cloudfront enabled) will lead to an `AccessDenied` error when accessing the published website via the Cloudfront URL.
Manually setting the `Restrict Bucket Access` to `Yes` in the Cloudfront panel solves the issue. See also https://stackoverflow.com/questions/59822923/amplify-publish-causes-accessdenied-error/

[2020-01-21 15:48] anija commented on #4708
https://github.com/aws-amplify/amplify-js/pull/3230

The same issue was raised and fixed 6 months ago...

[2020-01-21 15:54] elorzafe commented on #4324
@ajhool I have some questions.

- With which Auth provider are you experiencing this error?
- In which part of your code is `Amplify.configure(...)` being invoked
- Can you share the configuration of the User Pool in particular App Client Settings?
- Can you also share Amplify configuration?

[2020-01-21 15:56] elorzafe commented on #4324
I created an app with Hosted UI using Google as Auth provider and I don't see the errors you mention either with code and implicit grant.

[2020-01-21 16:06] morgler commented on #4749
Closing this issue, because it belongs to `amplify-cli`. I recreated the issue there: https://github.com/aws-amplify/amplify-cli/issues/3229

[2020-01-21 16:06] #4749 closed

[2020-01-21 18:20] davegariepy opened #4750 "Chatbot error at end of interaction"
**Describe the bug**
when interaction ends I get this error in the chrome console:

[code]

**To Reproduce**
Steps to reproduce the behavior:

install amplify, add sample code for react per:
https://aws-amplify.github.io/docs/js/interactions

**Expected behavior**
no error

[2020-01-21 19:31] ericclemmons commented on #4601
From what I've been able to reproduce, it may be a difference in configuration from when you started and what exists today (which is streamlined to match the CLI `aws-exports.js` artifact).

For example, I see that you specify `API.endpoints` like our docs indicate for custom headers:

But docs for AppSync indicate using `Amplify.configure`:

For next steps, using the latest versions, could you tr

[2020-01-21 20:40] atlowell-smpl opened #4751 "Identity token passed to appsync resolver causes missing email claim"
This is half bug, half feature request, but I have decided that it fits better as a "bug" due to reasons listed below.

**Describe the bug**
The issue is described [here](https://stackoverflow.com/questions/57127211/appsync-resolver-no-email-in-claim), but I will summarize it below.

When using Appsync with a cognito user pool with email enabled, $ctx.identity.claims.email is missing in the resolv

[2020-01-21 20:44] atlowell-smpl commented on #3326
I have opened an issue [here](https://github.com/aws-amplify/amplify-js/issues/4751) where I make the case not only for why this should be addressed, but why it's actually a bug that goes against the latest documentation for AWS services.

[2020-01-21 21:21] ericclemmons commented on #3944
@gsans I created a demo here to reproduce using the latest CLI/Vue/Amplify:
https://github.com/aws-amplify/amplify-js/issues/3944

It's not quite matching up with what you're seeing:

Can you visit the sandbox and screenshot what you see?

I'm also interested to see what the computed properties are, especially if there's a font difference:

[2020-01-21 21:26] ericclemmons commented on #3944
I was primarily looking at the weird height differences, but I did confirm that adjusting `padding` and `background-position` to match your code the caret doesn't overlap as much:

[code]

The `margin` changes must be for the height bugs you're seeing, but I need your help to reproduce it.

[2020-01-21 22:29] camin-mccluskey commented on #4580
@sarahcec @iartemiev Is there any update on this? We are completely blocked on pushing updates to our iOS app. Thanks

[2020-01-21 22:56] Amplifiyer commented on #4648
Amplify is not integrated with ELB out of the box, if you have configured ELB to work with Cognito and you have custom API end points configured, then you can take one of the following options.

* Provide `Authorization` header which ELB/Your API will use for authentication and in this case Amplify will completely [skip signing your request](https://github.com/aws-amplify/amplify-js/blob/master/pa

[2020-01-21 23:11] namgk commented on #4648
Thanks Praveen,

    "want your requests signed with those credentials"

This is the part that I don't know how to do. Because with custom API, what
I'm having is a simple plain Javascript fetch.

On Tue, Jan 21, 2020 at 2:56 PM Praveen Gupta <notifications@github.com>
wrote:

[2020-01-21 23:12] namgk commented on #4648
Further if I want to put in an Authorization header to make ELB happy, what's its content?

Thanks

[2020-01-21 23:15] cyrfer opened #4752 "custom cloudformation parameters for environments"
How can I pass custom cloudformation parameters to a stack that varies in different environments? I'd like to leverage Amplify Environments but I don't know what I need to do to get environment specific CF parameters passed to each CF stack. Does the Amplify CI/CD Console help?

I discovered if I create the "parameters.json" file in my Function stack folder, the values are passed to CF deploy. Wha

[2020-01-21 23:17] Amplifiyer commented on #4648
You'll be using API.get() in this case and Amplify will pick up the (cognito) credentials and sign your request with them. To configure amplify with your custom API, check my previous link https://aws-amplify.github.io/docs/js/api#manual-setup

[2020-01-21 23:18] Amplifiyer commented on #4648
In that case, it will be completely driven by your Auth implementation and Amplify will not interfere and will behave simply as an http client (using axios as provider)

[2020-01-21 23:22] namgk commented on #4648
For API.get(), would ELB be able to authenticate such signed request with
the Cognito user?

On Tue, Jan 21, 2020 at 3:17 PM Praveen Gupta <notifications@github.com>
wrote:

[2020-01-21 23:28] Amplifiyer commented on #4648
That's something you'll have to try and verify. Amplify only supports API gateway out of the box with cognito authorization.

But I can't see why you shouldn't be able to do that. You may have to configure IAM roles in ELB

[2020-01-21 23:33] namgk commented on #4648
Thank you very much Praveen, that's the main purpose of this issue, I
wanted to make sure it works that way before implementing.

I'll test it myself then.

On Tue, Jan 21, 2020 at 3:28 PM Praveen Gupta <notifications@github.com>
wrote:

[2020-01-21 23:44] #4181 closed

[2020-01-21 23:52] andrestone commented on #3495
Thank God I found this thread before even starting. God bless you guys.

[2020-01-22 01:11] dantasfiles opened #4753 "If app is closed, Android push notifications do not trigger onNotificationOpened handler function"
**Describe the bug**
If the `PushNotification.onNotification*` configuration functions are called from within the `App` React Native component (like in [@dabit3 example code](https://medium.com/react-native-training/react-native-push-notifications-with-amazon-pinpoint-ios-b2efa89ced32)), the `onNotification` and `onNotificationOpened` handler functions are not triggered when the app is opened *fro

[2020-01-22 02:33] Amplifiyer commented on #4663
@heythisisnate thank you for finding the issue and letting us know. Would you be able to take a stab at it? Most likely the change would be [here](https://github.com/aws-amplify/amplify-js/blob/ce0b2fb934afdeec9c1bc294fe949734dbab12a9/packages/aws-amplify-angular/src/components/authenticator/common.ts#L26-L28) to validate the phone number before calling the replace method.

[2020-01-22 03:14] #4670 closed

[2020-01-22 05:09] dantasfiles commented on #3326
You can manually pass the id token
[code]

[2020-01-22 08:51] yooouuri opened #4754 "implicitly has an 'any' type (zen-observable, graphql/language/ast)"
**Describe the bug**
I am using AWS amplify in a Vue.js with Typescript.

While running `yarn serve` aswel `yarn build` it fails because of some missing modules.

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Create empty Vue project with `vue create ...`
2. Add AWS amplify (`yarn add aws-amplify`)
3. Add the configuration to `main.ts` (`Amplify.configure`)
4. Perform some login ac

[2020-01-22 10:23] KristineTrona commented on #4351
This issue should indeed be reopened:

My package.json:
[code]

I have also tried using "aws-amplify" 2.2.0 and this did not fix the issue.
Also tried calling ``Auth.currentAuthenticatedUser({ bypassCache: true })`` - also does not fix the issue.

Closing the app and reopening it sometimes does and sometimes does not remove the Cognito user session.

[2020-01-22 10:28] adamAtDemarq opened #4790 "No types when installed for Vue 1.1.2"
**Describe the bug**
no type definitions for official supported use of typescript however the project has typescript as a tag. Looks like great work and its a shame this isn't supported yet, any update on when this could be implemented?

[2020-01-22 13:48] crtl opened #4755 "Cannot read property 'clientMetadata' of undefined"
**Describe the bug**
Using amplify CLI I have created a simple sign in following the docs.
Calling `Auth.signIn(username, password)` throws following error:
[code]

**To Reproduce**

[Sample code (crtl/amplify-demo)](https://github.com/crtl/amplify-demo)

**Expected behavior**
No error

[2020-01-22 14:09] crtl commented on #4755
It was my fault.
I havent called `Amplify.configure()` correctly.

[2020-01-22 14:09] #4755 closed

[2020-01-22 14:28] dantasfiles commented on #4753
I think this may be a solution for my problem so I'm going to close this for now and reopen it later if this doesn't work.
https://github.com/react-navigation/react-navigation/issues/742#issuecomment-405592288

[2020-01-22 14:28] #4753 closed

[2020-01-22 15:01] dantasfiles commented on #4751
Heh, I argued in the other direction.
https://github.com/aws-amplify/amplify-cli/issues/3062
Either way, you're right that the mock API and the real API should match behaviors (either both pass id tokens or both pass access tokens), which they currently don't.

[2020-01-22 18:20] #3563 closed

[2020-01-22 18:35] ericclemmons commented on #3944
Confirmed the caret padding issue exists across multiple browsers:

I could not reproduce the vertical padding screenshot provided by @gsans. (It may have been addressed since)

[2020-01-22 18:40] ericclemmons commented on #4517
@iartemiev Can you weigh in on the option for introducing a flag vs. customers intervening with `event.stopPropagation()`?

[2020-01-22 18:45] Ashish-Nanda commented on #4747
Can you tell us a bit more about the app you have built? If you could share some sample code for how you are implementing the login usecase we can try and reproduce it.

[2020-01-22 18:57] raelmiu opened #4756 "DataStore only keeping a subset of models data"
**Describe the bug**
I'm setting up a new API based on a complex GraphQL schema, but none of my models seem to work properly.

After some testing I'm findin that only a part of my models are actually being handled my DataStore, the models are being added to DynamoDb, but I cant Get the rest of the model data.
With this model I can save changes to DynamoDb, but I can only read or Get the following:

[2020-01-22 19:02] iartemiev commented on #4580
@camin-mccluskey The Cognito team is actively working on this issue with Apple. As soon as we have an update, we will post it here.

[2020-01-22 19:03] Ashish-Nanda commented on #4752
Transferring to the CLI repo as the question seems related to CLI/console

[2020-01-22 19:12] miyasudokoro commented on #3435
We still need a way to invalidate an individual refresh token. I don't want to use Global Sign Out because a user might want to be signed in on multiple devices but just want to sign out of one specific device. It would be a poor user experience.

The current system relies solely on each device just "forgetting" the refresh token if a user logs out on that device. This is not a very secure or reli

[2020-01-22 19:20] ericclemmons commented on #4004
This is interesting! In attempt to get visibility into #4375 I made the fix in https://github.com/aws-amplify/amplify-js/pull/4679.

I'll approve #4399 to give credit to your contribution & help :)

[2020-01-22 19:30] #4004 closed

[2020-01-22 19:30] gsans commented on #3944
Thanks for the follow up.

It seems the input field total width issue that I missed initially was
fixed as well.

Once the caret is fixed is good to go.

Cheers!
Gerard.

On Wed, 22 Jan 2020, 18:35 Eric Clemmons, <notifications@github.com> wrote:

[2020-01-22 19:48] clearwaterstream commented on #4723
I'm having the same issue. My CSP policy is `"script-src 'self' 'unsafe-inline'"`. I do NOT want to add unsafe-eval to the CSP as it is not recommended (will also lower my Mozilla Observatory score). I am using the Amplify framework mainly for the Logger, Hub, and the i18n. Looks like GoogleOAuth and FacebookOAuth are calling browserOrNode().

[2020-01-22 20:04] clearwaterstream commented on #4723
The master branch has eval: https://github.com/aws-amplify/amplify-js/blob/master/packages/core/src/JS.ts

The version tagged with 1.3.3 is not using eval: https://github.com/aws-amplify/amplify-js/blob/aws-amplify%401.3.3/packages/core/src/JS.ts

[2020-01-22 20:07] ericclemmons commented on #4033
https://github.com/aws-amplify/amplify-js/pull/4099 has been merged addressing this.

[2020-01-22 20:07] #4033 closed

[2020-01-22 20:24] richAtreides commented on #4747
I fixed it. For some reason amplify added conflicting requirements in the package.json. I deleted them manually and now it works.

Thanks!

[2020-01-22 20:51] #4666 closed

[2020-01-22 22:08] #1272 closed

[2020-01-22 22:29] ericclemmons commented on #4346
@SidneyNiccolson We're tracking this internally with the Cognito team. (Internal link for other maintainers: https://t.corp.amazon.com/P32497337)

Unfortunately, this is external to the Amplify JS library so there isn't any immediate action we can take as part of this project.

Thanks for bringing this to our attention, and we'll work with Cognito to get this important issue resolved!

[2020-01-22 23:08] Amplifiyer commented on #4746
Hi @arnab-roy-13, it is currently not possible to specify a version in Amplify, it is same as #2131 which we have marked it as a feature request. Please +1 or add comment to #2131. If you would like to take a shot at adding this feature in amplify, we will be happy to help you and prioritize your PRs. Closing this in favor of #2131

[2020-01-22 23:08] #4746 closed

[2020-01-22 23:36] sammartinez commented on #4747
Resolving as above statement. Glad you were able to solve your issue!

[2020-01-22 23:36] #4747 closed

[2020-01-22 23:49] Ashish-Nanda commented on #4593
Hi @platon1993

Please take a look at this [comment]([url](https://github.com/aws-amplify/amplify-js/issues/4728#issuecomment-575563945)) on a related issue. It contains a link to a recent article detailing the steps for setting up push notifications on android. The React Native version being used there is 0.61.5 based on the linked github [repo](https://github.com/dantasfiles/AmplifyAndroidPush).

[2020-01-23 00:23] Amplifiyer commented on #4712
Hi @syumaK, We have recently added the batch functionality for Analytics.Record() such that amplify will group multiple putEvents in a single batch, however it is not yet implemented for updateEndpoints. I've marked this issue as a feature-request.

If you would like to take a shot at adding this feature in amplify, we will be happy to help you and prioritize your PRs.

[2020-01-23 00:32] Amplifiyer commented on #4668
Passing over to amplify CLI repository

[2020-01-23 00:51] Amplifiyer commented on #4672
@vtbs, can you try with `Auth.currentCredentials` instead of `Auth.currentUserCredentials` which seems to be refreshing the credentials on every call.

[2020-01-23 01:31] leosoaivan commented on #4720
@manueliglesias I gave more thought to the issue to better explain what I'm seeing.

Indeed, logging out of Google will not log me out of Cognito. However, after logging out of Google **and** my app, I expect that a federated sign-in process on my app would ask me to re-authenticate against Google's authentication servers, thereby forcing me to manually sign in again. In fact, this is the behavior

[2020-01-23 04:08] heitorseesdragons opened #4761 "2 redirects needed to Hosted UI to authenticate user"
I am using amplify with Angular, and in my AuthGuard file, the currentAuthenticatedUser method fails in the first redirect from the hosted UI, redirecting BACK to the hosted UI. This is the flow:

1. I try to access a protected route in my app

2. I get redirected to the hosted UI page, as expected

3. I sign in and get redirected back to the app by the hosted UI, with the "code" parameter properl

[2020-01-23 05:09] chris commented on #4669
Sorry, I'm thinking maybe I need to file this in amplify-cli? @Amplifiyer can you do that (I can't transfer it)?

[2020-01-23 05:57] yvescoinpass opened #4762 "How to make a relationship of data from user pool to aws appsync model"
** Which Category is your question related to? **
Auth, API
** What AWS Services are you utilizing? **
 Cognito, AWS AppSync,
** Provide additional details e.g. code snippets **

I am new to amplify and appsync. I am trying to create a Post model that needs to have a relationship of the user who is creating the Post. The problem is my user is from cognito user pool.

How should I create a relation

[2020-01-23 10:27] johngrayuk commented on #3732
Given that you can request custom scopes when authenticating using the hosted UI via the Cognito User Pool (as opposed to Facebook), I expect authentication via the Amplify Authenticator React/VueJS component to support exactly the same feature. In both cases (hosted UI or Authenticator component), you are still using Cognito User Pool as an IdP and should be able to request your desired scopes.

[2020-01-23 11:05] maros96 commented on #3435
There isn't any way to invalidate any token(their purpose is to be stateless and to be valid until they expire). There is either a way (1) to revoke all tokens that are valid and not revoked at that time for one user or (2) to track everything by yourself. Which would mean that you should have a database or any storage system to store tokens that are "invalid"(they are valid but you want them not

[2020-01-23 14:42] esuarezz commented on #4684
Yes, its the url from cognito, that long url, how can I avoid this url? also it feels not native with expo, perhaps can I modify that?

[2020-01-23 14:53] iartemiev commented on #4684
That's just how Cognito Hosted UI functions. It's a tool that creates a login form for you to save you time.

@esuarezz if you want to avoid using the Hosted UI, you can create your own buttons by passing in the social provider you want to use to that method call. https://aws-amplify.github.io/docs/js/authentication#social-provider-federation

Your code would look something like this:

[code]

If

[2020-01-23 14:57] jsalcedo1987 commented on #1852
+1

[2020-01-23 15:03] esuarezz commented on #4684
We are not using the hosted UI, we are using as you said.
<View style={styles.formContainer}>
              <Button
                icon={"facebook-box"}
                onPress={() => Auth.federatedSignIn({ provider: "Facebook" })}
                mode="outlined"
                style={styles.loginButton}

[2020-01-23 16:02] iartemiev commented on #4684
@esuarezz what do you see when you get redirected to the Cognito URL?
E.g. are there social provider buttons? If so, which ones?

[2020-01-23 16:19] esuarezz commented on #4684
the social screen to choose the email for example in the case of GMAIL. So it is the normal stuff to do the auth, but is going to that URL opening a new window when we are on mobile app. But perhaps if we are using our login we have to go to external window?

[2020-01-23 16:27] dantasfiles commented on #4654
For custom queries, a lot of people use lambda functions as they're easier than custom resolvers. There's a good discussion here:
https://github.com/aws-amplify/amplify-cli/issues/3221

[2020-01-23 17:52] BhanukaUOM commented on #2478
Include **googleAppIdUserPool** and **googleAppSecretUserPool** in auth categories flag.

[code]

[2020-01-23 18:58] Ashish-Nanda commented on #4351
@KristineTrona what version of react native are you using? The issue was not related to not using the community edition of AsyncStorage, since it is still part of react native (atleast till 0.61.5) and there are some more details in this [comment](https://github.com/aws-amplify/amplify-js/issues/4351#issuecomment-556682870)

Please give some more details about your project, and maybe some sample c

[2020-01-23 19:32] yvescoinpass opened #4763 "How to make a relationship of data from user pool to aws appsync model"
** Which Category is your question related to? **
  Auth, API

** What AWS Services are you utilizing? **
Cognito, AWS AppSync

** Provide additional details e.g. code snippets **
    aws-amplify: "^2.2.1",
    aws-amplify-react: "^3.1.2",

I am new to amplify and appsync. I am trying to create a Post model that needs to have a relationship of the user who is creating the Post. The problem is my u

[2020-01-23 19:54] heitorseesdragons opened #4764 "Is there a way to logout from the pool, or multiple app clients at once?"
I have a cognito pool setup with two clients (lets call them client 1 and client 2). The two clients are angular apps and you can navigate between them. Similar to a google "Single Sign On" where once you are logged in to any of their apps (like mail.google.com) you are logged in to all of their apps (like calendar.google.com). The same is true for logout. Once you logout from one you logout from

[2020-01-23 20:40] sammartinez commented on #4763
Resolving as a duplicate to https://github.com/aws-amplify/amplify-cli/issues/3251

[2020-01-23 20:40] #4763 closed

[2020-01-23 20:56] Dishify commented on #2098
Thanks @aldarund !!!! I did an `npm update`, deleted the folder @aws-amplify from node_modules folder, and then did a `npm install`. After doing that, it worked.

[2020-01-23 21:03] sw-yx opened #4765 "Datastore: Uncaught (in promise) DOMException issue when logging into SECOND concurrent session"
Code repro: https://github.com/sw-yx/svelte-amplify-auth-demo
Deployment repro: https://d1tdmagl19vwso.cloudfront.net/

**Describe the bug**

[code]

I know that #4577 has the same title, but i have checked and verified i don't have that issue. I'm also not SURE it is a SECOND concurrent session issue, but that is how it is presenting to me right now.

Link to sample code: https://github.com/sw-yx

[2020-01-23 21:39] chunyenHuang commented on #1949
Based on the current code
https://github.com/jimbol/amplify-js/blob/master/packages/aws-amplify-react-native/src/Auth/index.js#L45

Documentation should be changed.
https://aws-amplify.github.io/docs/js/authentication#customize-ui-theme
[code]

[2020-01-23 21:48] Amplifiyer commented on #4673
I'm able to reproduce the issue, passing to CLI to take a look on why mock server is failing for arrayBuffer.

[2020-01-23 21:59] peterecofit commented on #3039
Bumping again.  We need a clear solution!

[2020-01-24 00:37] camin-mccluskey commented on #3842
definitely not stale

[2020-01-24 02:40] #4550 closed

[2020-01-24 02:56] miyasudokoro commented on #3435
I am keeping this thread alive because it is AWS's job to implement this. They are the only ones who can implement a true invalidation measure for refresh tokens because it is possible to call the token refresh API directly if you know the user pool and client id (and client secret if needed). Global sign out is a poor user experience, period. It is a copout to say we should use it as a workaround

[2020-01-24 06:32] vivmaha commented on #3495
I'm looking into alternatives myself. This one looks fairly mature and is free until you hit 1000+ users. https://developer.okta.com/

[2020-01-24 12:49] KristineTrona commented on #4351
@Ashish-Nanda Thanks for the reply -  I am using RN 0.61.4, no expo. In my project I am initially rendering a launch screen and checking whether there is a current authenticated cognito user and based on that route the user to either home screen or login screen respectively.

In LaunchScreen.js:

[code]

Sometimes re-opening the app does not cause any problems, but sometimes it does. It is very ra

[2020-01-24 13:19] RokoDeveloper2 commented on #2714
+1

[2020-01-24 13:21] bitcrumb commented on #4708
We're seeing the came issue pop up in our crash loggin of our RN application. However, it is unclear which code is defining the window object.

[2020-01-24 13:30] rudyhadoux opened #4768 "How to set LIMIT globally ?"
Hi,
It seems that limit of returned objects is 10.
So, how to set and increase LIMIT globally ?

[2020-01-24 13:41] MR-Neto commented on #4089
@Ashish-Nanda, I followed the documentation to install amplify push notifications into my RN app, but my app is breaking. Is the documentation updated for RN 0.61?

[2020-01-24 14:02] shaybc commented on #1852
-1, i'll just use Firebase for my flutter apps

[2020-01-24 15:43] dantasfiles commented on #4656
This should work
[code]

[2020-01-24 16:03] tomasyaya opened #4769 "API graphql lamda OK in local ERROR deployed"
Hello.

Im working on an Amplify project.

I have a GraphQl lamda function that receives a token and fetches an access token.

When invoke local with the token hardcorded everything goes OK.

But when I run it with API.grapqh(graphqlOperation . . .. and so on, it gives me a SyntaxError: Unexpected identifier.

Here is my Schema

`type Query {
  useRefreshToken(input: RefreshTokenInput): AccessToke

[2020-01-24 16:18] HMilbradt opened #4770 "undefined is not an object (evaluating 'o.accessToken')"
**Describe the bug**
This bug occurs when a "Pre Sign Up" lambda trigger returns an error when using `Auth.federateSignIn({ provider: social_provider })`.  Just before it is thrown, another error is thrown: `OAuth - Error handling auth response. Error: PreSignUp+failed+with+error-Error-message-here` internally.

**To Reproduce**
Steps to reproduce the behaviour:

1. Add a Pre sign up trigger that

[2020-01-24 16:19] dantasfiles commented on #4768
Globally, don't know.

But you can alter the `list*` graphQL operations in `./src/graphql/queries.js` to include a limit that is used on every call.

So change:
[code]
to:
[code]

[2020-01-24 16:40] sammartinez commented on #3435
Thank you to everyone with the feedback and concerns presented in this issue. I apologize that we have not made comments on this issue and I do want to state that we are working internally with the AWS Cognito team on this specific issue. Once we have an update from Cognito regarding this issue, we will provide one. Again, thank you for your concern and feedback.

[2020-01-24 16:47] tomasyaya commented on #4769
Solved, import is not supported in Node . . . .
Changed it to require and its done

[2020-01-24 16:47] #4769 closed

[2020-01-24 17:07] rudyhadoux commented on #4768
Thanks. I just read that 10 is the limit of NESTED objects.

I use :
type Post @model {
  id: ID!
  title: String!
  comments: [Comment] @connection(limit: 50)
}

It would be great to set it globally for a default value.

[2020-01-24 18:01] yvele commented on #3495
I also agree... I love Cognito ❤️ but `amplify-js` is such a mess and buggy 😭 I hope AWS will hear from us and improve this project

[2020-01-24 18:18] dimonchik-com opened #4771 "Can't connect DynamoDB with my function"
I create DynamoDB database use command
`amplify add api`
and the when I try create function what will be working with my DynamoDB i got the error
**-There are no DynamoDB resources configured in your project currently**
Steps for reproduce:
amplify add api
amplify add function updateDynamoDB

? Provide a friendly name for your resource to be used as a label for this category in the project: update

[2020-01-24 18:54] sammartinez commented on #4569
Resolving this issue as your above work around.

[2020-01-24 18:54] #4569 closed

[2020-01-24 19:36] XC3S opened #4772 "Datastore: TS error while using a query (Angular)"
**Describe the bug**
The build fails if I use Datastore.query(ToDo)

Error:
[code]

the model is the basic Todo schema and generated using `amplify codegen models`
[code]

**To Reproduce**
1. add an qraphql api
2. generate the models
3. add Datastore
4. use Datastore.save (work)
5. use Datastore.query (build error)

Sample Repo:
https://github.com/XC3S/RealtimeOfflineTest

The main logic is in the

[2020-01-24 19:45] raelmiu opened #4773 "DataStore error in example in the documentation"
In [this example in the documentation](https://aws-amplify.github.io/docs/js/datastore#query-data), we're shown how to get the first 100 models of Post.
<img width="813" alt="Screenshot 2020-01-24 at 20 39 53" src="https://user-images.githubusercontent.com/186083/73098501-d3cdbf80-3ee9-11ea-8eec-d70c89bb3e10.png">

But when I actually run this on my own model I get an error.
Code:
<img width="403"

[2020-01-24 21:24] mguay22 commented on #3495
Agreed to all above. Tried really hard to love `amplify-js` and Cognito for a recent project, but there were so many issues when trying to do very simple authentication. Better off implementing authentication yourself with jwt: https://github.com/auth0/node-jsonwebtoken

[2020-01-24 21:36] hckr commented on #3435
@sammartinez Great! When can we expect the update?

[2020-01-25 06:29] SysCoder commented on #997
I was able to solve this issue by adding ""arn:aws:s3:::BUCKET_NAME" without "/*"
s3:ListBucket requires a bucket not an object resource.

[2020-01-25 07:41] ravz opened #4775 "Monetization Events"
I can't seem to find anywhere how to create a Monetization event from this Javascript library, is it not supported ?

** Which Category is your question related to? **
Analytics
** What AWS Services are you utilizing? **
Pinpoint
** Provide additional details e.g. code snippets **
here is example from the Android SDK https://aws-amplify.github.io/docs/sdk/android/analytics#monetization-events

[2020-01-25 07:50] raelmiu commented on #4756
After extensive testing this turns out to be a mismatch between an **amplify-cli** version and  DataStore v1.0.4.
I'm afraid I don't have any way of finding out which CLI version it was.
But updating CLI solved the issue, and future reports of the same issue will look like DataStore locally storing only a partial model.

[2020-01-25 07:50] #4756 closed

[2020-01-25 15:58] samstr commented on #4268
Amplify needs SSR. I've been trying to deploy a NextJS app to Amplify and I will probably have to abandon this idea soon enough if it's an impossible concept

[2020-01-25 16:42] samstr commented on #1613
We want SSR! ✊

[2020-01-25 17:13] jackblackCH commented on #4649
Is this fix on a roadmap of aws?

[2020-01-25 23:34] sorokinvj commented on #4721
hey guys, having a similar issue, and because of the internal auth, I can't even debug API with Postman. My Lambda function set cors and in API Gateway I test the function and see that all access headers are set up. But Chrome said – no no headers in preflight requests. So how to solve it?

[2020-01-26 00:30] #4545 closed

[2020-01-26 00:30] #4361 closed

[2020-01-26 02:00] GaurangBhatt opened #4776 "AuthError - Challenge response cannot be empty"
**Describe the bug**
I am stuck with the below error when using aws-amplify in my react app. Auth.signIn is returning the confirmed user from cognito pool. I also receive the verification code via SMS. However, when I try to call Auth.sendCustomChallengeAnswer I am getting below error. Note that Auth.signIn and Auth.sendCustomChallengeAnswer are in two different methods. Please advise.

**Expected

[2020-01-26 02:20] GaurangBhatt commented on #4776
This issue fixed.

I changed how I was sending values to Auth. sendCustomChallengeAnswer

**Error**
[code]

**Working**
[code]

[2020-01-26 02:20] #4776 closed

[2020-01-26 04:52] steevegldev commented on #4772
Angular and typescript is new for me, so I'm not really sure what I'm doing.

I got the same as yours, but I succeed to fix it with a T type. In your case:
```let todos:any = await DataStore.query<Todo>(Todo);```

I but like I said, I don't know why it's working that way.

[2020-01-26 07:16] pranaypratyush commented on #4736
It seems the issue was caused by me installing both `aws-amplify` and `@aws-amplify/pubsub`. I removed the latter and the issue disappeared but now I get `AMQJS0007E Socket error:undefined.` when I try to publish even though all my auth roles are in place.

[2020-01-26 09:53] XC3S commented on #4772
@steevegldev thank you, it works now!

[2020-01-26 20:11] mkozjak opened #4778 "Use @aws-amplify/api with pure html/js"
Is there a way to use the API package from aws-amplify in pure html/js?

What I'm trying to do is basically requesting API Gateway endpoints like this:
[code]

** Which Category is your question related to? **
API
** What AWS Services are you utilizing? **
Cognito, API Gateway

[2020-01-26 22:32] CiscoKidxx commented on #2184
Why is the total of Storage, API, Auth and PubSub greater than importing the entire aws-amplify?! It seems API and PubSub are 90% identical and both over 1MB.

[2020-01-27 01:44] #4574 closed

[2020-01-27 05:03] shivawahi commented on #3435
This is a much needed fix. Please provide a fix at the earliest

[2020-01-27 07:10] mkozjak commented on #4778
This also appears on page load: ```TypeError: undefined is not an object (evaluating 'new a.ConsoleLogger')```

[2020-01-27 07:43] mkozjak commented on #4778
Ended up using [cognitocurl](https://github.com/nordcloud/cognitocurl) and [Postman](https://www.getpostman.com).

[code]
Add that token to `Bearer Token` type under `Authorization` in Postman.

Would be good to know how to use `aws-amplify-api.min.js` without all those magical frameworks, though.

[2020-01-27 10:45] schimini commented on #4346
Will there be an external follow link for us to know when the issue is solved?

[2020-01-27 10:53] yvele commented on #4723
I'm having the same problem, is there any workaround here?

Something I don't understand is why are `GoogleOAuth.js` and `FacebookOAuth.js` executed? I don't use OAuth at all! 🤔

[2020-01-27 11:04] kuklinm opened #4779 "withAuthenticator refresh token"
Auth, Cognito

I am using withAuthenticator with federatedSignIn:
`withAuthenticator(hot(module)(App),
  false,
  [<FederatedSignIn federated={{google_client_id: AppConfig.GOOGLE_CLIENT_ID}}/>],
  null,
  {
    oAuthSignInButton: {
      display: 'none'
    },
    strike: {
      display: 'none'
    }
  });`

After session set, I got aws-amplify-federatedInfo key in local storage. I work with toke

[2020-01-27 11:37] Showcase-Joz commented on #4420
hey @Luckygirlllll did you resolve this issue??

I am experiencing the same/similar in a Vue project.
So, for me, I can mitigate this problem like this...

`async beforeCreate() {
    try {
	await Auth.currentAuthenticatedUser()
		.then(user => {
    		    if (user) {
			user = this.$store.state.user = user;
			this.$store.state.signedIn = !!user;
			this.signedIn = !!user;
		}
	})
	.catch(err =>

[2020-01-27 11:47] Luckygirlllll commented on #4420
@Showcase-Joz yeah, in my case it was a problem with `AsyncStorage`, I migrated to new  `AsyncStorage` and it started working fine.

[2020-01-27 12:55] nikomon commented on #4722
The main purpose of MFA is to secure your account if your email gets compromised. So..

[2020-01-27 13:06] pubkey commented on #4652
@elorzafe thank you.

[2020-01-27 14:48] clearwaterstream commented on #4723
The libs are included bc of Amplify includes the relevant libraries for Cognito. Amplify lib is not split into fine grain packages. It's all or nothing.

[2020-01-27 15:24] 0x6c23 commented on #4736
Check your stack in CloudFormation and look for the AuthRole. This should be the authRole from your federated identity pool. Attach `AWSIoTDataAccess` to it. Also you should attach the IoT policy (created in IoT Core) to your user. You can do so with:

`aws iot attach-principal-policy --policy-name 'myIoTPolicy' --principal '<YOUR_COGNITO_IDENTITY_ID>'`

[2020-01-27 15:30] iartemiev commented on #4711
Hi @dantasfiles, thank you for the detailed repro steps and analysis. As you pointed out the issue appears to be related to the Cache package implementation in RN specifically. I was able to reproduce this in React Native on iOS as well.

I also tried this on web with React and there the `endpointId` was being retrieved successfully from cache, therefore further supporting this bug being RN-specif

[2020-01-27 15:52] pranaypratyush commented on #4736
Both are done in my case. Also how do I make it so that all users in a cognito user pool/group can access some or all of my iot topics.

[2020-01-27 15:54] pranaypratyush commented on #4736
Also, I think access denied should have some other error code.

[2020-01-27 16:35] imyjimmy commented on #3854
@jskrt can you describe what's still broken for you? I've transitioned away from using AWS Amplify and haven't had time to look at this thread, but I think it's still relevant to lots of people.

[2020-01-27 17:59] silinski commented on #4310
The issue was actual for me as well. Identity poll was created but I have to put manually Facebook App Id and Google App Id to Authentication providers list

[2020-01-27 18:01] ericclemmons commented on #4346
Not publicly, so I'm going to re-open this issue so we have can keep it tracked until resolution. 👍

@schimini @SidneyNiccolson If this is affecting your _production_ application or preventing launching your project, we can get this escalated.  Let us know if that's the case!

[2020-01-27 18:06] schimini commented on #4346
Tbh we haven't tested in edge for a while ( we have been kindly ignoring it because we've observed that only a few of our users use edge) but we had the issue in a production application that's still running.
Nonetheless we look forward to see it solved. Thanks for re-opening the issue and for your amazing support on it.

[2020-01-27 18:39] SidneyNiccolson commented on #4346
Same here. It is not breaking our application, although it is nice to keep track on any updates on this.

[2020-01-27 18:52] yelkamel commented on #1852
any update ?

[2020-01-27 19:14] #3944 closed

[2020-01-27 19:21] sammartinez commented on #4772
Resolving as per the above statement.

[2020-01-27 19:21] #4772 closed

[2020-01-27 21:22] steevegldev commented on #4772
As this it not documented as well. I think we should keep open to get an official answer on "Why" it's that way.

[2020-01-27 22:38] tomasyaya opened #4782 "Auth.configure refresh access token for OpenId providers"
**Which Category is your question related to?**

Authentication

**Amplify CLI Version**

4.12

**What AWS Services are you utilizing?**

Cognito
GraphQl Api

**Provide additional details e.g. code snippets**

Hello.

Im currently doing Auth through openId with salesforce.

Im retrieving the access token, refresh token an profile info and getting AWS credentials through Federated Sign In.

At some

[2020-01-27 22:44] #4562 closed

[2020-01-27 23:13] nissane opened #4783 "Authenticator HOC and authentication codes"
I am using Cognito with amplify JS.  The workflow I am trying to accomplish is:

- authorize via cognito
- receive back an authentication code
- convert it to an authorization token

when I use the Authenticator HOC, I am not able to get back a authentication code, I immediately get back an authorization_token, and refresh_token. This is the case even when I set the responseType: 'code'.

How can

[2020-01-27 23:44] #4417 closed

[2020-01-27 23:44] #4644 closed

[2020-01-28 01:44] #4714 closed

[2020-01-28 04:20] michaelcuneo opened #4784 "Storage issues after update to aws-amplify 2.2.2."
** Which Category is your question related to? **
Storage
** What AWS Services are you utilizing? **
Storage
** Provide additional details e.g. code snippets **

I have these two functions that used to work pre aws-amplify 2.2.2.

I've just started a new project with my old functions, and whenever I use putS3 or getS3, I now come across an error that I never used to see...

`[DEBUG] 17:32.807 Stor

[2020-01-28 04:46] #4635 closed

[2020-01-28 09:54] sidhant1608 commented on #717
+1

[2020-01-28 11:01] MartijnHarmenzon commented on #4510
@groundswel Did you manage to get this working? Would you be willing to share what you have to do to get this working in a Vanilla JS app? So without frameworks or bundlers.

[2020-01-28 11:48] MartijnHarmenzon commented on #4510
@ericclemmons Do you have a simple Amplify Auth example for webpack? I would like to try the following.

[code]

But all examples that I can find seem to fail when building.

[2020-01-28 11:50] suzannechang commented on #699
Same problem here

[2020-01-28 14:44] Gautierrr opened #4787 "[WARN] AuthClass - No AWS.config even if Amplify is configured"
**Describe the bug**
The warning `[WARN] AuthClass - No AWS.config` appears in my console during app initialization even if Amplify is configured and functional. Everything works fine! But I have this warning...

![image](https://user-images.githubusercontent.com/16082250/73272487-bf880c00-41e2-11ea-951d-d0c7841e53bc.png)

**To Reproduce**
Steps to reproduce the behavior:

Launch the application w

[2020-01-28 15:16] Aelaiig commented on #3693
Did you resolve your issue ?

Unless you have cors problem, I think you have to catch your error in your lambda and send it with headers. You did use amplify API correctly.

[2020-01-28 16:39] ericclemmons commented on #4321
This is interesting.  I'm attempting to reproduce this based on https://aws-amplify.github.io/docs/js/authentication#letting-user-select-mfa-type and when I go through the reset password steps I also receive the _New Password_ prompt alongside the MFA code prompt:

Can you share how the MFA is set for users?  Or is MFA optional?

[2020-01-28 17:22] jitendra-koodo commented on #4527
AWS as usual, no updates on timelines for fixing this half baked product (atleast mention in the document that its not ready yet for React Native)..  I spoke to AWS support and they mentioned that it is still atleast couple of weeks away.

[2020-01-28 18:08] ericclemmons commented on #4321
@AlpacaGoesCrazy Can you share steps on how the user got created & into the `FORCE_CHANGE_PASSWORD` state?

[2020-01-28 18:10] elorzafe commented on #4770
@HMilbradt I reproduced the problem you mention, we will be working on fix. Thanks for your feedback.

[2020-01-28 18:12] HilSny commented on #4388
@ericclemmons do we know when a fix might be available for the oauth token request being called twice. We tested a bunch of versions of the amplify library and discovered that the issue started when the new _handleAuthResponse flow was added (the one that is indicated to be removed in a future release because its a breaking change).

 We are experiencing this issue on our react-native (61.4, no ex

[2020-01-28 18:29] tncbbthositg commented on #197
This issue may be back.  Before I updated to  2.2.2, adding `paddingTop: 0` removed the white space.  Now, the space is back but I can't find the source of the spacing in the inspector.  If I set `marginTop: -20` the space goes away correctly.  If anybody else finds a less hacky fix, I'd love to hear it.  Thanks!!

[2020-01-28 18:29] ericclemmons commented on #4388
@HilSny We don't have a fix ready, but we could get @mithunkalan's fix in quickly if you're able to confirm it works for you:

[code]

In the interim, I'll revisit my test app for validation...

[2020-01-28 18:35] sammartinez commented on #4787
@Gautierrr Have you configured Amplify CLI with this? From the code snippets you're providing, I am not seeing an `import awsconfig from './aws-exports';` which could cause this issue. Please verify the [pre-reqs](https://aws-amplify.github.io/docs/js/start#prerequisites) needed to use our React package

[2020-01-28 18:47] HilSny commented on #4388
Thanks @ericclemmons, I am testing now and it is working but we want to be extra sure so I'll get back to you in a few hours if we think its consistent.

[2020-01-28 19:09] HilSny commented on #4388
Hi @ericclemmons we've actually confirmed that this definitely works with a series of logging. Are you planning to PR this fix?

[2020-01-28 19:12] ericclemmons commented on #4388
@HilSny Wow, awesome work! Thanks so much!  I can work on a PR for this if you're unable to.

If you can share more about the logging you have, that would help the PR review process!

[2020-01-28 19:23] HilSny commented on #4388
@ericclemmons we're about to have our product meeting and I don't have aws-amplify building locally on my machine at the moment, so if you could PR that would be awesome. The logging we did was fairly simple, we turned on debug logging in our RN app and then logged out the url and auth step in the changed code.

With the logging, we could see in our app that the url is caught twice by the listener

[2020-01-28 19:46] #4699 closed

[2020-01-28 19:47] Pieterism opened #4788 "How to get out of a users RESET_REQUIRED state in a react-native amplify app?"
** Which Category is your question related to? **
E.g. Auth, Predictions, Storage, etc.
** What AWS Services are you utilizing? **
E.g. Cognito, AWS AppSync, etc.
** Provide additional details e.g. code snippets **
E.g. Sample code, versions of Amplify you are using

[2020-01-28 19:47] #4788 closed

[2020-01-28 21:32] grant-d commented on #4527
From the [twitter link](https://twitter.com/undef_obj/status/1221099288354119681) in the link immediately above, it looks like there is finally some movement:

[2020-01-28 21:34] sammartinez commented on #4527
Update everyone, we believe we have a path forward for a release soon. Will reply when we have an ETA

[2020-01-28 22:38] keithdmoore commented on #4721
I am having a similar issue but its with a HTTP POST request using API gateway.  My GET requests work fine.

[2020-01-28 22:58] ARChatco opened #4791 "(node:61503) UnhandledPromiseRejectionWarning: Error: Duplicated files or mocks. Please check the console for more info"
**Describe the bug**
I do amplify add function.

**To Reproduce**
1) I create the function
2) function is created correctly
3)  when I run expo I get:

(node:61503) UnhandledPromiseRejectionWarning: Error: Duplicated files or mocks. Please check the console for more info

`jest-haste-map: Haste module naming collision: funcionlambdaparadietas
  The following files share their name; please adjust y

[2020-01-28 22:59] #4791 closed

[2020-01-28 23:03] esuarezz opened #4792 "jest-haste-map: Haste module naming collision: -> namefunction <-"
**To Reproduce**
1) amplify add function
2) function is created locally correctly
3) amplify push and pushed correctly
4)  when I run expo I get:

[code]

###

[2020-01-28 23:25] esuarezz opened #4793 "Created a lambda in console and try to apply to dynamo and get"
**Describe the bug**
Cannot access stream arn:aws:dynamodb:eu-west-1:317290818279:table/DietsTable-t62bsuje4vee7lnunwdyk3cs7a-hapstodev/stream/2020-01-06T05:01:31.321. Please ensure the role can perform the GetRecords, GetShardIterator, DescribeStream, and ListStreams Actions on your stream in IAM. (Service: AWSLambda; Status Code: 400; Error Code: InvalidParameterValueException; Request ID: 838ca

[2020-01-28 23:46] #4648 closed

[2020-01-29 00:14] ericclemmons commented on #4510
@MartijnHarmenzon I just ran through https://aws-amplify.github.io/docs/js/start?platform=purejs to validate your use-case and believe I found the solution!

Try moving the code from `index.html`'s `<script>` tag to `src/app.js`, after the `Amplify.configure(aws_exports)`, like in the example here:

Webpack is bundling `src/app.js` and its dependencies (`aws-amplify/auth`) into `main.bundle.js`.

[2020-01-29 02:43] dantasfiles commented on #4792
https://github.com/aws/awsmobile-cli/issues/172#issuecomment-502989258

[2020-01-29 02:43] manueliglesias commented on #4765
Hi @sw-yx

I can't reproduce the behavior you are seeing, I've cloned your repo and also tried from your cloudfront distribution.

Are you still having the problem?

[2020-01-29 04:34] kian-barba opened #4796 "Unable to use complex object S3Object in in appsync"
**Describe the bug**

Hello, I suspect there is a step missing, or something otherwise wrong with this project: https://github.com/aws-samples/aws-amplify-graphql

After following the setup steps and trying to run the app, here is the error I see:

Error: The parameters: App client Id, App web domain, the redirect URL when you are signed in and the redirect URL when you are signed out are required

[2020-01-29 05:19] soyiatgit commented on #3435
@maros96  here you say, you can still use ID token for authorizer, but the [link](https://dzone.com/articles/aws-cognito-user-pool-access-token-invalidation-1) that you attached says that

May be I didn't get the idea behind this approach. Can you try to elaborate it a bit. Many thanks.

[2020-01-29 05:34] Rafcin commented on #3279
This probably isn't right but as of now I think in terms of signup/signin forms aren't all bad. The default auth ui sucks but you can easily make your own! I Found using formik works well for auth forms, it's simple where you can make checks for basic things like "is it an email" or "is it a zipcode", but what I think would be nice is a way to check something like isValidPassword() for when you lo

[2020-01-29 08:17] MartijnHarmenzon commented on #4510
@ericclemmons Thank you for your quick response! I can confirm this approach works. However, this is not the way I would like it to be. My preferred method would be to use Amplify Auth without any build proces. Alternatively, generating the required main.bundle.js file only once and using Auth in any file *.html or *.js. Is this somehow possible?

[2020-01-29 08:26] tomasyaya commented on #4782
Hello.

I have created a proxy so I can call my refresh token from the front end, in case thats the environment from where amplify triggers the callback.

The proxy itself works fine, if I trigger the callback from the web its fetches the the data OK.

Nevertheless when added to the Auth.configure, at some point the credentials expire and there is no refresh being done.

Some corrections I did to

[2020-01-29 08:26] MartijnHarmenzon commented on #4510
I managed to accomplish this by following the instructions here:
https://github.com/aws-amplify/amplify-js/tree/master/packages/amazon-cognito-identity-js

I included the following files:
[code]

I managed to reduce the size of the aws-sdk-*.min.js file by building a custom SDK which only includes the AWS.CognitoIdentity part: https://sdk.amazonaws.com/builder/js/

Now my total size is 315kb unzip

[2020-01-29 08:39] Gautierrr commented on #4787
No, I wrote my config thanks to the documentation. See:
- https://aws-amplify.github.io/docs/js/start#next-steps
- https://aws-amplify.github.io/docs/js/authentication#manual-setup

So my config looks something like this:

[code]

**Everything works fine**! Except i get this warning 🤔

**Note**: I only use Amplify for authentication with Cognito.

[2020-01-29 08:49] mlecoq opened #4797 "Have server side generated values"
Hi, I would like to have **creationDate** and **updateDate** that are automatically filled/updated by my Appsync serveur.

I would like to be able to customize velocity file in order to change the _Mutate.createX.req.vtl_ resolvers generated by Amplify :
 I want to modify the line `$util.qr($context.args.input.put("createdAt", $util.defaultIfNull($ctx.args.input.createdAt, $util.time.nowISO8601())

[2020-01-29 09:00] oriharel commented on #4388
https://github.com/aws-amplify/amplify-js/pull/4005

[2020-01-29 09:01] MartijnHarmenzon commented on #4666
@Amplifiyer @ajhool I am also hoping for a Vanilla JS method and example whith minimal required file sizes. I am trying to keep my websites as small as possible (<14kb gzipped). Adding Amplify or SDK increases the size significantly, while I guess I only want to use the Auth method.

At the moment, to keep file size as small as possible, and to keep Vanilla JS without any frameworks or bundlers, I

[2020-01-29 13:41] ItayKatzCC commented on #3224
Any updates?

[2020-01-29 14:24] anija commented on #4708
Any news on this?

[2020-01-29 14:33] tomasyaya commented on #4782
[https://github.com/aws-amplify/amplify-js/issues/4782](url)

[2020-01-29 14:33] tomasyaya commented on #4782
[ssss](https://github.com/aws-amplify/amplify-js/issues/4782)

[2020-01-29 14:35] tomasyaya commented on #2549
Hi @elorzafe I have a related question in issue [4782](https://github.com/aws-amplify/amplify-js/issues/4782). I provided the callback for the refresh but it deosn't seem to work.

If you have any suggestion that would be great

[2020-01-29 14:36] cvrajeesh commented on #3405
@danmight any suggestions on how to ensure `Amplify.configure(awsconfig);` is called once

[2020-01-29 15:15] slashinski commented on #583
Updating here for the changes I would like to contribute, following the suggested approach above, to have a fips flag set so that the cognito-idp-fips endpoint is called.  Use case is that through a security check, the man-in-the-middle attack could possibly downgrade the call to cognito-idp endpoint as cognito still allows version TLS 1.0 protocol.

Suggested changes would be as follows:
* packag

[2020-01-29 15:29] HilSny commented on #4388
@ericclemmons I submited a PR with the code from yesterday. We have it building in a forked version of the repo and it is working.

[2020-01-29 15:37] cshouts-tasc commented on #932
Same problem here. The workaround is appreciated but is not always an option. In our case, we allow the user to choose whether they would like the device to be remembered or not.

[2020-01-29 15:43] elorzafe commented on #4557
Hi @AlessandroAnnini

I think your AppSync API has Cognito User Pools as authorization mode (correct if I am wrong please). In this case Amplify library try to get session credentials (Cognito User Pool token) in order to have access to the AppSync endpoint.

To get a Cognito User Pool token you some options
- Login with username and password (Cognito User Pool user)
- Federate a user with third p

[2020-01-29 15:51] tomasyaya commented on #4782
Another thing, I don't know if its related but:

After calling Auth.configure({ refreshHandlers: ... }) if I call Auth.currentAuthenticatedUser() the refreshCallbacks array is empty, does it has anything to do?

Maybe the Auth.config is not persisting?

[2020-01-29 16:12] davekiss commented on #612
Here's a bit cleaner version of the confirm step for anyone using Lambda proxy integration instead / HTTP APIs instead of the API Gateway. Make sure your lambda has permission to confirm users in Cognito.

[code]

[2020-01-29 16:27] elorzafe commented on #4274
@navilan I think this issue should be fixed with pr #4679. Can you try installing amplify on @unstable tag.

[2020-01-29 17:02] robbytx commented on #4723
To avoid future issues of this type, I'd recommend ensuring the following rules are enabled:
 * https://eslint.org/docs/rules/no-new-func (this issue)
 * https://eslint.org/docs/rules/no-eval
 * https://eslint.org/docs/rules/no-implied-eval

[2020-01-29 18:38] danmight commented on #3405
Rajeesh, I was manually calling it several times in different files when I
was using certain Amplify features. I just did a cmd + f on my IDE to
search for all the places it was in the code. The only one I left was in my
react app.js file since it is the first file that basically gets called.

On Wed, Jan 29, 2020 at 7:36 AM Rajeesh C V <notifications@github.com>
wrote:

[2020-01-29 19:00] ashika01 commented on #4415
@Sytree : I am unable to reproduce the issue. I will post a gif shortly, when I kill the background app and tap the notification , the app opens up.

[2020-01-29 19:00] rafaeh1 commented on #4580
any update? my team and I we are stuck to publish in App Store

[2020-01-29 19:02] JSDevelopment17 opened #4800 "Expo federated login redirect error"
![fullsizeoutput_1f29](https://user-images.githubusercontent.com/33499076/73388274-d7868b00-42c9-11ea-9c47-60f1c62bddef.jpeg)
I've configured my Expo React Native project to use Federated login with Facebook according to this great tutorial: https://dev.to/dabit3/the-complete-react-native-guide-to-user-authentication-with-the-amplify-framework-ib2

On my simulator all works as planned. However, wh

[2020-01-29 19:13] maros96 commented on #3435
Yes, thing is that you can configure your API Gateway Authorizer to work with either ID Token or Access Token. Depends on your needs.
I wrote that in some previous comment, it starts with: "Yes, thing is that Authorizer can depend on ID Token OR Access Token, but implementation of Authorizer is not the same for those 2 cases. ".
I suggest you to read the AWS documentation(especially for this case)

[2020-01-29 19:18] ashika01 commented on #4627
@akashnsmahaswami : Hi, I am unable to reproduce this bug. I tried on android device and I am able to change the state value in my react native app based of `onNotification`. Could you provide with sample code and give us context on how you setup your app?

[2020-01-29 19:19] mayteio commented on #3279
Is there a list of issues related to this RFC, or is it still in discussion? I'd love to start contributing and it would be awesome if related issues could be triaged with a label for it and good-first-issues too.

[2020-01-29 19:38] Amplifiyer commented on #4666
@MartijnHarmenzon , what you are doing is still valid, in our next major version release (along with aws-sdk) our focus is to provide [modularized imports and reduced bundle sizes](https://github.com/aws-amplify/amplify-js/issues/3365) with Amplify using webpack's tree shaking. However, I'm not sure how that can be beneficial in vanilla JS apps.

[2020-01-29 19:39] ashika01 commented on #4793
@esuarezz are using aws amplify in this app?

[2020-01-29 19:39] esuarezz commented on #4793
Yes, suee

El El mié, 29 ene 2020 a las 19:39, Ashika <notifications@github.com>
escribió:

[2020-01-29 19:40] Amplifiyer commented on #4268
@samstr, what issues are you facing while deploying the NextJS app? Can you create another issue with a detailed repro steps?

[2020-01-29 19:45] ashika01 commented on #4793
@esuarezz could you provide some sample code and explain the use case you are trying to achieve?

Also looking at this, it looks like you might be missing some IAM permissions?

[2020-01-29 20:01] ashika01 commented on #4796
@kian-barba could you post the just the keys of your `awsConfig` ? Looks like backend might not configured correctly.

[2020-01-29 20:27] Andrei94 opened #4801 "Incorrect username/password error is not displayed when using <amplify-authenticator> tag in Angular"
**Describe the bug**
When trying to login as an nonexistent user using the <amplify-authenticator> tag in Angular, the error message is not displayed and the <amplify-authenticator> tag disappears from the view.

**To Reproduce**
Steps to reproduce the behavior:

1. Configure a user pool with hosted UI
2. Use the <amplify-authenticator> tag for sign in
3. Try to login with an incorrect user and/or

[2020-01-29 21:10] ericclemmons commented on #4510
@MartijnHarmenzon You're right on file-size: we have a branch in the works that will help slim that down, but that also relies on bundling tools (e.g. webpack & parcel) to statically analyze your application so it can leave out unused code.

If you want to avoid bundling entirely and expose just the parts you need (e.g. `API` or `Auth`), it should only take a few lines!

1. First, update `webpack.

[2020-01-29 23:00] ericclemmons opened #4802 "Test Syncing Pivotal Tracker with GitHub"
**Is your feature request related to a problem? Please describe.**

Amplify sprints & projects are managed internally via Pivotal Tracker, while work takes place in GitHub.

**Describe the solution you'd like**

With the intent to have a public project board that has visibility within Amazon and the Amplify community, GitHub should be bidirectionally synced with Pivotal Tracker.

Via webhooks, Git

[2020-01-29 23:02] jeffsheets commented on #3635
Has anyone found any AWS documentation for the Cognito API that AmplifyJS uses? I can't seem to find it posted anywhere.

Watching the network tab, it appears that all calls are a POST against `https://cognito-idp.us-east-2.amazonaws.com/` with the `X-Amz-Target` set to the desired action like `AWSCognitoIdentityProviderService.InitiateAuth` and `AWSCognitoIdentityProviderService.RespondToAuthChal

[2020-01-29 23:12] navilan commented on #4274
Thank you @elorzafe

[2020-01-29 23:28] sammartinez commented on #4790
@adamAtDemarq Thanks for the feedback on this. As you have found, we currently don't have type definitions contained within our `aws-amplify-vue` package. I'm marking this as a feature request in order to take this into consideration for the future. While we don't have an ETA on when this work will be completed, we do always want to empower people like yourself to contribute if you'd like. If you

[2020-01-29 23:54] rwilson-tile commented on #488
Almost 2 years later...

[2020-01-30 00:16] ericclemmons commented on #4802
@sammartinez Yes, I am ;)

[2020-01-30 01:10] mikedizon opened #4805 "Cognito Lambda Triggers Cold Start Fires Multiple Times"
**Describe the bug**

I am using SNS to dispatch a SMS message to suppport passwordless authentication for my users. On a cold start, the lambda function fires three times, sending three different codes to the user.

**To Reproduce**
Steps to reproduce the behavior:

Call Auth.signup();

Link to sample code

**Expected behavior**
A clear and concise description of what you expected to happen.

**S

[2020-01-30 01:17] na-o-ys commented on #3591
+1

[2020-01-30 01:18] erikdao commented on #3495
I could see a lot of people are dealing with the cumbersome in `amplify` like myself. I hope someone from AWS would have a sound explanation for the situation.

[2020-01-30 01:24] #4672 closed

[2020-01-30 03:37] SeanRenet commented on #4649
@jackblackCH I think Amplify is dead. No one answers the chat and all the repo errors are left unanswered

[2020-01-30 03:50] grigull commented on #4636
I recently tried to figure out the problem, I am pretty sure it is coming from the fact that i am using cognito user groups. I get the following error `No current User` when i attempt to query with `authMode: AWS_IAM` when not logged in. I now have it working for logged in users but not for unauthenticated users, even though they have been set up for access in amplify.

[2020-01-30 04:10] sw-yx commented on #4765
yes, i am. to be clear, first login on https://d1tdmagl19vwso.cloudfront.net/ is fine, and then i open up incognito and login on https://d1tdmagl19vwso.cloudfront.net/ and get the error in incognito (so it is not due to any extensions). any other way i can help you reproduce?

[2020-01-30 05:02] michaelcuneo opened #4807 "Two connections to the one reference possible with GraphQL?"
** Which Category is your question related to? **
GraphQL API, AppSync
** What AWS Services are you utilizing? **
GraphQL API, AppSync
** Provide additional details e.g. code snippets **

I have the following Graphql Schema setup...

[code]

In my Project and Post models, I have a Gallery... both galleries connect to ProjectGallery. Is this going to be an issue, or should it work fine?

[2020-01-30 08:39] Erlix322 commented on #2162
push...

[2020-01-30 08:41] mlecoq opened #4808 "Datastore - sync status"
Hi, it's actually difficult to know which behavior will have Datastore and we would like to notify our users in which mode is currently our app.
It will be great if Datastore could notify its status :

- DELTA-SYNC (receiving all stored data since last connection)
- ONLINE (Datastore is online - Data are pushed remotely and data from Appsync are received through subscriptions)
- OFFLINE (Datastore

[2020-01-30 08:42] mlecoq commented on #4808
It also may helps during development and testing

[2020-01-30 08:49] Erlix322 commented on #2471
+1

[2020-01-30 09:30] cedvdb commented on #991
@mlabieniec saving the info in memory isn't a good solution. If the user does a refresh (F5) of the application the password is lost

[2020-01-30 09:49] SebSchwartz commented on #3776
I got same issue and the problem was with the blacklistRE param in metro.config.js. Be sure to put **/#current-cloud-backend\/.*/** and NOT /amplify\/*./

[2020-01-30 10:53] mlecoq opened #4809 "DataStore - TypeScript - Type inconsistency"
Hi

Here is my types

[code]

I am using CRA with typescript template on client side.

I observe _Report_ in order to add it to my list when I create a new one:

[code]

Generated models are
[code]

It does not work because msg.element is not a _Report_ with a _project_ key. When I log the element received in msg, I have

[code]

I can cast the type to read `reportProjectId` but it would be more c

[2020-01-30 11:35] mlecoq opened #4810 "Datastore - observe - only local data are seen"
I have the following code to be able to list projects in my react component.

[code]

I have a form to create new projets:

[code]

Here is my model

[code]

I have opened 2 browsers and opened the same page to check that if I create a project in one browser, It pops up in the second. But I have to refresh the second page to see it

Reading the docs of observe method :

_You can subscribe to chang

[2020-01-30 14:17] martinjuhasz commented on #2202
This is an absolute must.
My usecase: Users provide additional information about themselves on signup. I cannot do a graphql query when a user doesn't have an account yet.

I will use user pool attributes for the moment but they are not an exact match for some user informations.

It would be nice if i could do requests with a user directly after signup that is not yet confirmed and reflect that in

[2020-01-30 14:49] jessedoyle commented on #3422
This is still very much a significant issue. Please don't mark the issue as stale.

[2020-01-30 15:41] AlessandroAnnini commented on #4557
Hi @elorzafe,
thank for your response, I can confirm you that I am using Cognito User Pool as authorization mode of my AppSync API.
Now it is more clear, I will try to use OAuth flow.

Is there another way to accomplish this result (signup email+fb+googlel) or this is the only possible flow?

[2020-01-30 16:13] mlecoq opened #4811 "DataStore - authorization breaks sync"
Hi,

I have modified my model from

[code]

to

[code]

Then it works fine with Appsync console but Datastore does not call Appsync anymore. Data are local only. I have tried to find something in the logs and I have just some info on Subscriptions

[code]

Is there something special to do at Datastore level ?

[2020-01-30 16:14] mlecoq commented on #4811
I am using amplify-cli 4.13.1 and amplify-datastore 1.0.4

[2020-01-30 17:44] ashika01 commented on #4807
@michaelcuneo : have you run the codegen locally? do you see any issue with the generation?

[2020-01-30 17:58] pranaypratyush commented on #4736
This problem was finally resolved by downgrading all amplify packages to `2.1.0`. Still unsure what was the peculiar case causing this problem for me.

[2020-01-30 18:32] #4770 closed

[2020-01-30 18:41] elorzafe commented on #4557
That is correct, you will need to enable Hosted UI on your Cognito userpool to achieve this. Are you using Amplify CLI to create resources?

[2020-01-30 18:50] elorzafe commented on #4274
@navilan did you tried the @unstable package?

[2020-01-30 19:27] elorzafe commented on #4810
@mlecoq did you make a change on the `schema.graphql` file and run `npm run amplify-modelgen` without running `npm run amplify-push`?

[2020-01-30 20:16] #4723 closed

[2020-01-30 20:17] ashika01 commented on #4133
@vsatyav007 : Looks like there is much amplify could do here. as @jkeys-ecg-nmsu mentioned, is there a reason for not using sessionAttribute for this?

Do you feel Amplify team could do something more here?

[2020-01-30 20:20] mlecoq commented on #4810
Yes I run `amplify model codegen` and `amplify push` after every changes.

Here is my was-export.js (generated by amplify cli, I have made no customization)

[code]

[2020-01-30 20:52] #876 closed

[2020-01-30 21:07] mattmbrightside commented on #3531
Same issue, please help!

`
● Test suite failed to run

    Jest encountered an unexpected token
 Details:

    /node_modules/aws-amplify-angular/index.ts:1
    ({"Object.<anonymous>":function(module,exports,require,__dirname,__filename,global,jest){export { AmplifyAngularModule } from './src/aws-amplify-angular.module';

[2020-01-30 21:17] AravindTReddy commented on #4315
Still having the same issue. Any help ?
Thanks

[2020-01-30 21:19] mattmbrightside opened #4812 "Jest/Nrwl tests using amplify fail"
**Describe the bug**
Jest + Nrwl tests using amplify fail

**To Reproduce**
Steps to reproduce the behavior:
Create an Angular application using Nx
Inject AmplifyService into an Angular component
Write a Jest test for that component
Run the test

**Expected behavior**
Tests can execute using nx test or jest cli commands

Same issue as reported in closed issue #3531

[code]

In package.json I have

[2020-01-30 21:33] elorzafe commented on #4811
@mlecoq thanks for your feedback, if you try all operations enabled is it working?

it Is not possible for `owner` authorization in case you don't allow `create` operation to perform any changes for that type. We will have an internal team discussion and have posted here.

I would use `group` authorization rather than `owner` for this case, so a group can create projects an another can make change

[2020-01-30 21:51] ashika01 commented on #4627
I see what you are saying here. I am doing some investigating on this.

[2020-01-30 22:03] mlecoq commented on #4811
I will create another type to check. What surprises me is that all works fine when I directly make a graphql mutation. So I do not understand what prevents Datastore to make it

[2020-01-30 22:05] mlecoq commented on #4811
I prefer owner authorization because in the app I want to build users can give access to their own data to other users directly (so using groups will make me generates dynamically many groups)

[2020-01-30 22:19] kian-barba commented on #4796
We fixed the problem bby running `npm update` and update "aws-amplify" package to the latest version (v1.3.3 at this time).

[2020-01-30 22:26] mlecoq commented on #4811
I have added a third type Post

[code]

And created post are also not sent to backend

[2020-01-30 22:31] mlecoq commented on #4811
I have tried to set authorized operations explicitly:

[code]

and I have the same result (works only on Appsync side)

[2020-01-30 23:00] AmmarKureja commented on #3053
When I use aws-amplify-react and withAuthenticator in my react app. it throws the following error. Shouldn't it pick the CSS automatically? when I manually add the CSS path into my webpack css-loader, it works. However, when I build my app in the AWS Codebuild it throws the same error again. Please help.

![Screen Shot 2020-01-30 at 4 03 54 pm](https://user-images.githubusercontent.com/19740536/73

[2020-01-30 23:40] ericclemmons commented on #4802
Issues are only created once now, by `external_id`:

Issues now have external links and also a special icon:

[2020-01-30 23:55] lrivera commented on #1857
actually the code
`/********************************
 * HTTP Get method for list objects *
 ********************************/

app.get(path + hashKeyPath, function (req, res) {
  var condition = {}
  condition[partitionKeyName] = {
    ComparisonOperator: 'EQ'
  }

  if (userIdPresent && req.apiGateway) {
    condition[partitionKeyName]['AttributeValueList'] =
      [req.apiGateway.event.requestCo

[2020-01-31 00:22] Mitchell-Stone commented on #2619
Is it possible for an update on this issue? I used the automated process to setup the S3 Storage. I can put, get and remove but not list.

[2020-01-31 00:23] michaelcuneo commented on #4807
I should have added more information with my initial question.

I did actually successfully run a codegen, and an API generation up in the back end... the project gallery addition/edit/delete works 100%, but when adding a gallery and linking it up to a post, it ends up with null values.

It appears as though the API does successfully create and operate, but will only allow one link to the gallery.

[2020-01-31 02:02] taschik commented on #1006
Is there any best practice provided by the AWS team here?

[2020-01-31 02:58] kjetilge opened #4813 "Multiple subscriptions in connect stopped working after upgrade"
**Describe the bug**
After upgrading to ```
{
    "aws-amplify": "^2.2.2",
    "aws-amplify-vue": "^1.1.2",
}
[code]
  <amplify-connect :query="listVideosQuery"
    :subscription="onCreateOrDeleteVideoSubscription"
    :onSubscriptionMsg="onCreateDeleteUpdateVideo"

   ...
</amplify-connect>
[code]
    onCreateOrDeleteVideoSubscription () {
      const onCreateOrDeleteVideo = `subscription onCreat

[2020-01-31 06:49] AlessandroAnnini commented on #4557
Yes, I am using Amplify CLI whenever possible

[2020-01-31 08:04] Andrei94 commented on #4748
This issue happens with the angular version as well. If after using the auto fill functionality the user presses the up key for each of his fields, then amplify detects the values. However this is counterintuitive for the average user

[2020-01-31 09:52] navilan commented on #4274
@elorzafe - I am not involved with this project anymore.  @perunthagai-memorang should be able to respond to this.

[2020-01-31 10:53] deepak-kundapur commented on #2214
Please find the below code . It worked for me.

async changePassword() {
  var poolData = {
    UserPoolId: "Your pool Id",
    ClientId: "Your client Id"
  };
    var userPool = new AmazonCognitoIdentity.CognitoUserPool(poolData );
    var userData = {
      Username: "current logged in username here",
      Pool: userPool
    };
    var cognitoUser = new AmazonCognitoIdentity.CognitoUser(userDat

[2020-01-31 13:02] arjunsk opened #4814 "Passing code challenge to Cognito Federated Identiy via Amplify [Okta]"
I Integrated Cognito Userpool with Federated Identity [Okta - As Secure Web Authentication]. The flows works fine with Authorization Code Flow without PKCE (Using Amplify with Angular).

Created a similar app as SPA(in Okta), to enable PKCE and integrated with Cognito federated identities. When we redirect to Hosted UI, the challenge is getting passed to hosted UI in the URL.

![image](https://use

[2020-01-31 13:08] mariotsi opened #4815 "AWSPinpointProvider - Initial endpoint update failed"
**Describe the bug**
We have a remote logging system. Suddenly we started to get flooded by `AWSPinpointProvider - Initial endpoint update failed` errors. This error message doesn't come with any reason or why is failing or the context or the error

**To Reproduce**

`AWSPinpointProvider - Initial endpoint update failed`
Cannot be reproduced. Is the error fired at https://github.com/aws-amplify/am

[2020-01-31 13:17] kiitos-smasri opened #4816 "RedirectUri not registered"
Once i log in using Google federated sign in
app opens and directly error appears

console.error: "[ERROR] 59:27.380 OAuth - Error handling auth response.", Error: RedirectUri+is+not+registered+with+the+client+

prototype._log
    ConsoleLogger.js:96:12
prototype.error
    ConsoleLogger.js:152:18
__generator$argument_1
    OAuth.js:231:31
step
    OAuth.js:56:22
<anonymous>
    OAuth.js:37:52
<ano

[2020-01-31 13:59] michaell94 commented on #3053
The same for me.

[2020-01-31 14:40] alexladerman commented on #3495
@viktor @outofgamut I have a React SPA frontend using the withAuthenticator HOC. I can't get it to talk to the backend. IDid you guys manage to get a REST API backend to work with access restricted to  Cognito authenticated users, with the out-of-the-box setup from amplify add api?

I've been pulling my hair out: CORS errors, Authorization errors, https, cloudfront caching issues. I've almost give

[2020-01-31 15:31] zipper1972 commented on #3395
SignIn with Apple at the User Pool level is useless for me (we're not web, we're mobile only), using Unity (iOS/Android). I need this functionality at the Identity Pool level as it is with Facebook and Google. Looks like I'm going to have to leverage OpenID, or perhaps proxy through CogIDP to CogUP, as CogIDP supports User Pool as an identity source... Or, convert the Amplify code to C# (for Unity

[2020-01-31 16:14] elorzafe commented on #3495
@alexladerman did you try Amplify CLI to create the API?

Can you create another issue so we can keep better track of it?

[2020-01-31 16:19] dan-rivett commented on #2624
Any update on this? Be great to have a valuable changelog file similar to the ones already listed at the top of this RFC.

I would also like to see a "Not Yet Released" section in the master version of the file that gets updated as the in-development branch is developed to allow us to see what's upcoming in the next release before it drops.

For example with RN: https://github.com/react-native-com

[2020-01-31 17:13] dabit3 commented on #3495
@andrestone Thanks for the comment. Thanks also to everyone on this thread voicing their concerns. Many of the issues here have to do with the Cognito service itself; to address these as quickly as possible we are working directly with the team to prioritize and address all of the issues raised in this thread.

As for the `amplify-js` issues themselves, we are also prioritizing and addressing any

[2020-01-31 17:23] attilah opened #4817 "HubPayload is not accessible for package consumers"
**Describe the bug**
In a TypeScript project I wanted to use ```Hub.listen``` for ```auth``` events and when I defined my callback function I wanted to use the ```HubPayload``` type as the [documentation](https://aws-amplify.github.io/docs/js/hub#sending-messages.) suggests, but I did not find it exported from ```@aws-amplify/core``` where ```Hub``` lives.

**Expected behavior**
```HubPayload``` t

[2020-01-31 17:41] tomasyaya commented on #4816
Dont know if its my place to cheap in but, did you register the callback url?

[2020-01-31 17:44] tomasyaya commented on #4779
I think that if you call Auth.currentSession() it Amplify refresh the tokens it self.

[2020-01-31 18:35] manueliglesias commented on #4552
@lazy-var we are tracking this as a feature request, we can provide an ETA once we are clear with the design and integration with the CLI

[2020-01-31 18:42] manueliglesias commented on #4808
Thank you @mlecoq, this is a good use case that we've talked about, we'll be tracking this as a feature request

[2020-01-31 18:54] #4324 closed

[2020-01-31 18:54] #4320 closed

[2020-01-31 19:19] elorzafe commented on #4274
@perunthagai-memorang let me know how it goes.

[2020-01-31 19:23] elorzafe commented on #4817
Thanks @attilah for your feedback I will mark this as a feature-request, IMO is not a bug but definitely is something we should include

[2020-01-31 19:25] ashika01 commented on #4815
@mariotsi : we are looking into this. Will keep you posted.

[2020-01-31 19:27] elorzafe commented on #4064
@mevert can you share the production code, what is the difference between that and the test app?

[2020-01-31 19:42] t-moedano opened #4818 "Amplify OAuth documentation not updated with SignInWithApple"
**Describe the bug**
If you look at Amplify authorization documentation and tutorials there is any information about SignInWithApple but the feature is implemented

**To Reproduce**
1. Go to https://aws-amplify.github.io/docs/js/authentication#oauth-and-federation-overview
2. See there is not instruction about SignInWithApple
3. Go to https://aws-amplify.github.io/amplify-js/api/enums/cognitohoste

[2020-01-31 20:48] bbbryan14 commented on #500
I feel the pain, I use Sentry and I'd see tons of unhandled promise rejection.

[2020-01-31 21:12] ramburg commented on #3435
+1 on this one. The token lives only one hour, but immediate invalidation would be the clean way to go @sammartinez

[2020-01-31 21:18] stephankaag commented on #3894
@GuidoBeutlerHRS Great! Someone with the same issue that I ran in today. Did you find a solution?
What I found so far is that ALB only returns an AccessToken (in the header) and not the ID & refresh tokens that Amplify needs to function. Do you agree?

[2020-01-31 21:36] aschimmel opened #4819 "Facebook token is not automatically refreshing"
**Describe the bug**
We are logging in users with `Auth.federatedSignIn({ provider: "Facebook" });` and the login expires after 60 minutes. AWS Cognito is configured for 3650 days for refresh token validity. This issue was not happening on earlier versions of amplify.

This is specifically with the React package.

**To Reproduce**
Steps to reproduce the behavior:

Setup authentication via the fede

[2020-01-31 21:44] eyalabadi98 opened #4820 "Bug when re-signing in"
**Describe the bug**
When a user signs out, and tries to sign back in they get a blank screen and cannot see home

**To Reproduce**

1. Login succesfully
2) Sign out using the code below
3) Try to sign back in
4) blank screen

If you reload the app after signing out, and sign back in, it works well

Link to sample code

**Expected behavior**
I would expect it to go back to Home

**Screenshots**
If

[2020-01-31 22:45] iartemiev commented on #4775
Hi @ravz, that is not supported in Amplify, however, you can use the Mobile Analytics SDK: https://github.com/aws/aws-sdk-mobile-analytics-js#record-monetization-event

[2020-01-31 23:01] dbhagen opened #4821 "Amplify Cloud Build - Amplify Pull using Service Role"
**Is your feature request related to a problem? Please describe.**
I'm trying to figure out a way to have the cloud builds of my projects generate the aws-exports.js file during the build. Right now, it seems I have to commit that into the repo for the project to build successfully, which means my keys are stored in a repo. Not the best standard.
My thought is that I'm providing a service role to

[2020-01-31 23:07] dbhagen commented on #4821
Oh, one other thing I'm about to try. Storing AWS Key and Secret into the environment variables and using those to auth AWS CLI/Amplify CLI. Still don't like having to put access keys in variables.

[2020-01-31 23:10] JacksonGariety opened #4822 "Redirect to callback URL occurs twice when using `federatedSignIn()`"
**Describe the bug**
When using `federatedSignIn()`, the cognito redirects the browser to the URL specific in the cognito app configuration (the "sign in callback url") at the point in the authorization process where the `?code=blah-blah-blah` is passed to the client.

But the redirect occurs again on the frontend on this exact page, because when Amplify finishes exchanging the code for the token,

[2020-02-01 00:33] WinstonN opened #4824 "Uncaught (in promise) Error: No credentials, applicationId or region at AWSPinpointProvider.js:349"
Fresh install of amplify with versions

[code]
Auth.signIn succeeds but throws console error

[code]

![image](https://user-images.githubusercontent.com/1143789/73583477-5c0a2100-44f7-11ea-962f-36009f5e91a9.png)
![image](https://user-images.githubusercontent.com/1143789/73583489-7217e180-44f7-11ea-995f-57af3d2135a9.png)

[2020-02-01 00:37] ericclemmons commented on #4802
Milestone creation & issue adding is working:

[2020-02-01 00:44] ashika01 commented on #4824
@WinstonN : Could you provide us with steps to reproduce this? How are you adding auth and analytics?

[2020-02-01 00:59] ashika01 commented on #4388
@mithunkalan : Since the fix merged in by @HilSny ? If everything is good , can we close this issue?

[2020-02-01 01:46] HilSny commented on #4388
Go for it. We've had a fork of this working in production for two days @ashika01

[2020-02-01 03:11] zhongwen-unnoo commented on #1852
+1

[2020-02-01 07:02] mithunkalan commented on #4388
@ashika01 Yes please.
Glad it helped.

[2020-02-01 07:05] Harshu53 commented on #4371
Is there any solution to do this( SignIn across multiple subdomains )?

[2020-02-01 14:04] apoorvmote commented on #4535
@kevinold your advice/trick did work for my fresh/new project. I can't believe they didn't mention this issue in documentation with the trick. Thank god I found this page.

But it also created 2 different tables in Dynamodb(cloud) for same Todo type. Following are names for both tables
1) Todo-xxxxx
2) Amplify-Datastore-xxxxx

And every data from Todo table is replicated into the Amplify-Datastore

[2020-02-01 14:06] justinjoyn commented on #3039
Keeping this from going stale. Need a fix soon

[2020-02-01 14:07] kiitos-smasri commented on #4816
actually i did but it was a spelling mistake in callback url :S

[2020-02-01 15:51] AlessandroAnnini commented on #4557
Fixed following your advice and this: [Complete Guide to User Authentication with the Amplify Framework](https://dev.to/dabit3/the-complete-guide-to-user-authentication-with-the-amplify-framework-2inh) by Nader Dabit

Thanks!

[2020-02-01 15:51] #4557 closed

[2020-02-01 17:08] spendres commented on #500
This is a tough one since there has to be some boundary to the expected
domain of the module. If you provide your own federated identify manager,
then that should fall into the normal use pattern and should produce no
unhandled promise rejections.

On Fri, Jan 31, 2020 at 3:48 PM bryan <notifications@github.com> wrote:

[2020-02-01 20:31] rickysychan commented on #4268
@Amplifiyer I've tried to do the same, the deploy is successful but  when I got to the app it says there is an error and I've been redirected too many times.

Here are my build deets

version: 0.1
frontend:
  phases:
    preBuild:
      commands:
        - npm ci
    build:
      commands:
        - npm run build
  artifacts:
    baseDirectory: .next
    files:
      - '**/*'
  cache:
    paths:

[2020-02-01 21:17] altabayoyon commented on #2461
jordanranz if haven't already stashed a fix for this issue and are interested, I have fixes for this issue on my fork's "Angular5_issue-2461" branch and can initiate a pull request.
The 5 files I modified are in the aws-amplify-angular package:
    src/components/authenticator/
        autnenticator/
            authenticator.component.core.ts
            authenticator.component.ionic.ts
        r

[2020-02-01 22:45] michaelbrant commented on #4670
Same issue here. I tried:
"Access-Control-Allow-Credentials" : "true"

but that causes a CORS error

[2020-02-01 22:51] jdathueyt commented on #4670
We need to remove totally the header like this
`let myInit = {
    body: {}
  }; `

And verify on api gateway if response 200 have cors correctly configured

[2020-02-01 23:12] michaelbrant commented on #4670
Here's what I have for my OPTIONS method on my resource for response status 200.

API Gateway > Resources > Method OPTIONS >  Integration Response  >  Header Mappings
Access-Control-Allow-Headers  '*'
Access-Control-Allow-Methods  'OPTIONS,POST'  
Access-Control-Allow-Origin  '*'

[2020-02-01 23:17] jdathueyt commented on #4670
What is the request you make with the API?  And what error do you have?

[2020-02-01 23:21] michaelbrant commented on #4670
Here's my request I'm making:
[code]

I get this error:
Access to XMLHttpRequest at 'https://mydomain.com/dashboard/api' from origin 'http://localhost:3000' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.

So then I change
`"Access-Control-Allow-Credentials" : "true"`
to
`"Access-Control-Allow-Credentials" : true`

And I get this error

[2020-02-01 23:26] jdathueyt commented on #4670
`finition getData(){
  let apiName = 'myApi';
  let path = '/api';
  let myInit = {
  }
  API.post(apiName, path, myInit).then(response => {
      console.log(response)
  }).catch(error => {
      console.log(error)
  });
} `

Try to remove totally the header from myInit and tell me if there is an error

[2020-02-01 23:28] michaelbrant commented on #4670
Removing the headers gives me this error:
`No 'Access-Control-Allow-Origin' header is present on the requested resource.`

[2020-02-01 23:58] jdathueyt commented on #4670
In my opinion, the problem comes from the API gateway. Do you use a lambda_proxy on your integration request ?

[2020-02-02 00:04] michaelbrant commented on #4670
No, should I ?

[2020-02-02 00:09] michaelbrant commented on #4670
You're right, changing API Gateway to use Lambda Proxy integration worked! Thank you!

[2020-02-02 00:14] jdathueyt commented on #4670
Awesome !  I'm glad I could help you :-)

[2020-02-02 02:44] jfo8000 opened #4825 "Federated Google tokens not refreshing after an hour if you dont use <Greetings>"
**Describe the bug**
I have a pretty ancient AWS amplify project that I hid the greetings bar on because it didn't fit my client's spec.  I manually instead show the sign in state inside a menu.

**To Reproduce**
Use an aws amplify project where you hide the Greetings bar
User signs in using Google,
Does stuff for an hour

Result
Prompted to log back in after 1 hour

Expected
Google to successfull

[2020-02-02 10:01] dimonchik-com opened #4826 "I can't work with the DynamoDB database if I sign in through Social Providers like google and facebook"
I create a table
[code]
and when I authentication user with help Auth.federatedSignIn i can't write or read any data from table. All new user aws put in two group us-east-1_NM3KOol4v_Facebook and us-east-1_NM3KOol4v_Google how allow for user who use Social Providers use DynamoDb like usual user?

[2020-02-02 11:41] Jobel91 commented on #4805
Hello,

Cognito Lambda triggers are limited, see the docs : https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-working-with-aws-lambda-triggers.html#important-lambda-considerations

[2020-02-02 13:11] sorokinvj commented on #4048
@manueliglesias @rawadrifai  hey guys, did you make it work? I followed an article in the docs and I managed to run mutation but my front-end never received a subscription event connected to this mutation I run in Lambda. How do I debug this?

[2020-02-02 14:21] ishai-b commented on #3405
I will tell you how to fix it and why it happens mainly to people who worked with the tutorial and also probably with the amplify cli 'add auth' auto-generation code and it explains why @danmight  suddenly solved it after he found he used more than one configure.

The problem and issue are a collision between the online example 'full react sample' and the 'add auth' auto-generation code, people wh

[2020-02-02 19:04] simpson commented on #2602
Can we get this re-opened?

[2020-02-02 19:19] eyalabadi98 commented on #4820
The issue did not involve Amplify, but rather firebase crashing my app and not handling errors, making it look like it navigated to a white screen.

If you encounter this issue, deploy a release version of your app and use xcode to look at the logs.

[2020-02-02 19:19] #4820 closed

[2020-02-02 19:40] emersonhsieh commented on #3120
I have the exact same issue as well when using `Authenticator` from `aws-amplify-react-native` without Expo. Here is my `package.json`:

[code]

[2020-02-02 20:18] kodless commented on #987
Not stale

[2020-02-02 23:12] manueliglesias commented on #4634
Thanks, we'll look into this together with the CLI to better support previously deployed backends

[2020-02-03 07:11] krlm commented on #1585
@powerful23 Please confirm if I understand it correctly. The UI can be changed only for a particular Amplify application. It's not like a shared, hosted UI which can be used to provide Single Sign On experience among a few different applications?  If so, how can I create custom UI which would behave as hosted UI, without creating custom oauth server over cognito user pool?

[2020-02-03 09:17] mlecoq opened #4827 "Datastore - Typescript - Predicates"
Hi,

I am using Create React App with typescript template.

When I write this line:

` const posts = await DataStore.query(Post, Predicates.ALL);`

I have the following error:

[code]

I have to write

[code]

[2020-02-03 09:30] carlschroedl commented on #2516
Hi! Could this please be re-opened?

[2020-02-03 09:31] mlecoq commented on #4810
Ok I have found the cause of the issue while comparing my project with this one: https://github.com/awsed/AppSyncGraphQLNotes

We should have a warning somewhere during schema compilation. I make a separate issue in amplify cli

[2020-02-03 09:31] #4810 closed

[2020-02-03 09:38] zhongwencm commented on #1015
Same issue

[2020-02-03 09:42] carlschroedl commented on #2516
@OrozcoJonathan 's attempt looks pretty good. There's additional inspiration here:
https://stackoverflow.com/questions/54162881/facebook-login-component-using-vue-js-and-amplify

[2020-02-03 10:04] apoorvmote opened #4828 "How to recover account on failed MFA or phone is lost"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito, Amplify
** Provide additional details e.g. code snippets **
I am using TOTP as MFA. If user deletes the google authenticator app then how to recover account?

Also in that case if I was using SMS MFA and user changed their phone number then how to recover account?

[2020-02-03 11:01] mlecoq commented on #4811
Same issue as https://github.com/aws-amplify/amplify-js/issues/4810

Missing `owner` field breaks datastore

[2020-02-03 11:04] EugeneDraitsev commented on #4815
I have same issue with aws-amplify upgrade from 2.1.1 to 2.2.1 or 2.2.3-unstable.16

[2020-02-03 11:31] bitcrumb commented on #4708
@dimonchik-com This error doesn't only manifests itself when calling `Amplify.configure`.

We are mainly seeing this error when our app becomes active again (after the user navigated away to Safari for instance, to visit an external link and then comes back). This is due to `isBrowserOrNode` being called whenever app state changes (see `urlListener.native.ts` file) & it checks for a deeplink (our

[2020-02-03 12:05] alexladerman commented on #3495
Managed to get communication to work between frontend and backend as a PoC only after going through the whole setup process twice in a clean separate folder eventually with almost every option set to defaults. So, all in all, it has taken me about 4 weeks to get to this point.

By way of comparison, I got an equivalent setup working in Google Firebase in just one afternoon over the weekend. The wh

[2020-02-03 13:05] andrestone commented on #3495
I'd like to point a couple of things because I often see people comparing Amplify and Firebase and it might be helpful for some.

If you don't care about cost effectively scaling your application, Firebase is a good one-stop shop framework for sure. But, being the black box it is, Firebase is a much simpler solution, as it doesn't let you control the underlying resources it uses.

Amplify is in th

[2020-02-03 13:32] alexladerman commented on #3495
@andrestone I take your point about scaling, but both products are being marketed as turn key environments with which bootstrap a new project in a breeze, which is exactly what I need right now that i'm just starting out.

Given the low probability of overnight success scaling should be much less of a concern than development speed. I can throw money at that problem if this product goes viral!

[2020-02-03 13:45] mlecoq commented on #4811
An error is raised when I store new items:

Error: Field editors should be of type string[], object received. null datastore.ts:262

[2020-02-03 14:47] martinlytics opened #4829 "Error in amplify-js Auth module bundle (aws-amplify-auth.js) - TypeError: Cannot read property 'ConsoleLogger' of undefined"
**Describe the bug**
Error in amplify-js Auth module bundle (aws-amplify-auth.js) - TypeError: Cannot read property 'ConsoleLogger' of undefined

**To Reproduce**
(1) Download / clone Amplify JS from https://github.com/aws-amplify/amplify-js
(2) NPM install required dependencies
(3) Build bundle under amplify-js\packages\auth: npm run build
(4) Load the bundle file (amplify-js\packages\auth\dist\a

[2020-02-03 15:03] richAtreides opened #4830 "Stacks stuck in rollback"
**Describe the bug**
My stacks are stuck in rollback after I had to ctrl+c exit a push that would never finish.

**Error Details**
Stack:arn:aws:cloudformation:eu-west-1:307939272879:stack/amplify-controlsnlp-prod-144642/65378280-0f92-11ea-9cf0-0abd335268a4 is in UPDATE_ROLLBACK_IN_PROGRESS state and can not be updated.
An error occured during the push operation: Stack:arn:aws:cloudformation:eu-we

[2020-02-03 16:30] undefobj commented on #3495
@alexladerman can you open a new issue with your setup details and errors you are seeing so that the team can troubleshoot? If you have a REST API with simple Auth it should be straightforward [as outlined here](https://aws-amplify.github.io/docs/js/api#using-rest) but CORS errors can sometimes represent a setting being misconfigured in API Gateway or a general browser authorization issue.

While

[2020-02-03 17:15] andrestone opened #4831 "Using the GraphQL API codegens in the backend"
** Which Category is your question related to? **
Functions
** What AWS Services are you utilizing? **
AWS Lambda
** Provide additional details e.g. code snippets **

Is there a standard workflow to consume the GraphQL API codegens in a lambda function? If not, what would be a good approach?

[2020-02-03 19:13] ericclemmons commented on #4829
@martinlytics Thanks for reaching out!  It looks like you'd like to use Amplify's Auth category without a build-process (e.g. Webpack, Rollup, Parcel, etc.).

Can you share more about your use-case so we can address that need?

[2020-02-03 20:04] martinlytics commented on #4829
@ericclemmons Thank you for helping out. We have a legacy app that was created using ExtJS framework. It's not organized with NPM or any of the modern package managers. The only way I thought of to use the Amplify Auth module in our app (for integration with Cognito identity service) was to build a JS bundle and include it using <script></script> tags. That's how I hit the issue described above.

[2020-02-03 20:27] iartemiev commented on #4580
Just spoke with the Cognito team and they are planning on releasing a fix in the near future. Will post another update once I get word that it's been deployed.

[2020-02-03 20:50] jitendra-koodo opened #4832 "Subscription not working in app (though it works on console), returning "null" all the time"
**Describe the bug**
[code]

Log always shows `new{"onCreateBank":null}`

while for the same new created object, console subscription shows

`{
  "data": {
    "onCreateBank": {
      "id": "6abcc124-8e83-4192-a331-de187b660f96",
      "name": "8abcdef",
      "__typename": "Bank"
    }
  }
}`

**To Reproduce**
https://aws-amplify.github.io/docs/js/start?ref=amplify-rn-btn&platform=react-native

*

[2020-02-03 21:29] ericclemmons commented on #4832
@jitendra-koodo Can you clarify what you mean by the following, or provide a screenshot?

	{
	  "data": {
	    "onCreateBank": {
	      "id": "6abcc124-8e83-4192-a331-de187b660f96",
	      "name": "8abcdef",
	      "__typename": "Bank"
	    }
	  }
	}`

If you've been following along with https://aws-amplify.github.io/docs/js/start?ref=amplify-rn-btn&platform=react-native, could you also provide `a

[2020-02-03 21:45] mikedizon commented on #4805
Found the source of the issue. Moved the require outside of the function and the issue went away.

https://github.com/aws-amplify/amplify-cli/issues/3212

[2020-02-03 21:45] #4805 closed

[2020-02-03 22:05] ericclemmons opened #4833 "Cannot find module 'amplify-frontend-javascript'"
**Describe the bug**

Following along to https://aws-amplify.github.io/docs/js/datastore#using-npx in a `/tmp` folder results in:

[code]

**To Reproduce**

1. `cd /tmp`
1. `npx create-react-app amplify-datastore --use-npm`
1. `cd amplify-datastore`
1. `npx amplify-app@latest`

**Expected behavior**

Expected `npx amplify-app@latest` to work.

**Screenshots**

<details>
  <summary><strong>Environm

[2020-02-03 22:06] ericclemmons commented on #4833
Where is `amplify-app` located?  There's no repository URL associated with it:

[2020-02-03 22:09] ericclemmons commented on #4805
Thanks for the update @mikedizon!  Should we close https://github.com/aws-amplify/amplify-cli/issues/3212 as well, based on:

?

[2020-02-03 22:10] ericclemmons commented on #4833
Was working on reproducing https://github.com/aws-amplify/amplify-js/issues/4827 when I ran into this problem

[2020-02-03 22:15] ericclemmons commented on #4825
@jfo8000 Wow, great job debugging this!

Can you share the code snippet where you're using `withAuthenticator` or `<Authenticator>` with greetings hidden/disabled?

You're right on: `Greetings` shouldn't be necessary for this at all, and it should be managed by `Auth`.

[2020-02-03 22:16] ericclemmons commented on #4819
Noting that this sounds related to #4825...

[2020-02-03 22:27] mikedizon commented on #4805
@ericclemmons the generator could be refactored to not out the require inside of the function :)

[2020-02-03 22:33] #4711 closed

[2020-02-03 22:50] undefobj commented on #3405
@ishai-b I suspect that there has been iteration on the docs since this issue was originally published causing this issue. Would you mind opening up a PR with any changes you suggest to the docs? It's as simple as editing this file: https://github.com/aws-amplify/docs/blob/master/js/authentication.md

If you send me the PR I can review.

[2020-02-03 23:49] ericclemmons commented on #4822
@JacksonGariety Thanks for bringing this to our attention.  This totally makes sense, and it seems that (since `history.replace` is synchronous), what we could do to fix it is move our `replaceState` call _above_ the `signIn` event:

https://github.com/aws-amplify/amplify-js/blob/cf8738ac5e7961a163ce158a7383bc27f693475f/packages/auth/src/Auth.ts#L1857-L1861

In the meantime, check out this unit te

[2020-02-04 00:04] ericclemmons commented on #4831
@andrestone Can you share more about your use-case and how it'd help?  (This sounds like it may be a feature, but I want to confirm!)

In my personal experience, generating `./src/graphql` from my `schema.graphql` file greatly simplifies the code I write in my front-end app.  However, when I was within a lambda, I was unsure even if I could call `API.graphql(createTodo)` successfully.  (The though

[2020-02-04 00:37] camin-mccluskey commented on #4580
@iartemiev thanks for the update, it's greatly appreciated! Can I ask what sort of timescale you might estimate - days, week(s)?

[2020-02-04 00:59] Jun711 commented on #3567
@jordanranz
I added API Gateway response and found out that the 403 is mapped to `INVALID_SIGNATURE`. Thus, I believe the error that I got could be caused by the same reason except that I am using Amplify in an Angular app.
[code]
https://github.com/aws-amplify/amplify-js/issues/4312

Another possibly related issue: https://github.com/aws-amplify/amplify-js/issues/4556

This issue has been happeni

[2020-02-04 01:07] houmark commented on #3567
@manueliglesias You were at some point looking into this issue, but nothing seems to have come out of that. I think it's pretty clear now, that the main reason for this happening from all these reports, is clock drift and that should be possible to correct/fix in the library. Could you work on this?

[2020-02-04 01:11] ericclemmons commented on #4805
@mikedizon Of course!  The generator's the problem.  Great, let's keep it open so that gets addressed 👍.

[2020-02-04 01:20] ericclemmons commented on #4708
@manueliglesias Do you believe https://github.com/aws-amplify/amplify-js/pull/4803 may address this? If so, we can queue it for release 🤞

[2020-02-04 01:23] ericclemmons commented on #4816
@kiitos-smasri Glad to hear that you got this resolved!  Let us know if there's something else going on.

(I ran through our internal federated sign in sample and confirmed things are working there, at least 👍)

[2020-02-04 01:23] #4816 closed

[2020-02-04 02:26] computationalcore commented on #3567
@houmark is absolutely right. I can reproduce  this problem just changing the mobile clock a little bit.
I have published an app this recently with several thousands of users and at least 3k users (8% of total) are having this issue and can't actually do nothing, useless app for them. I fell so sorry for choosing amplify as a viable solution.

[2020-02-04 02:28] minsanity6 commented on #1145
If anyone is using React Native, there is a work-around by checking the image's size.
`Image.getSize(imgUrl, (width, height) => {
    console.log('image exists.')
}, err => {
    console.log('image not found')
})`

[2020-02-04 02:35] dtelaroli commented on #1852
+1

[2020-02-04 02:41] houmark commented on #3567
I have seen a potential fix in #4251 which has met nothing but silence from AWS. Please everyone, comment/vote that fix to be merged, so this one at least can be temporarily solved until AWS may come up with a better solution.

Alternatively, write AWS support (especially if you have a high-level support agreement) to ask them to fix it.

[2020-02-04 03:10] esuarezz opened #4834 "Not sure if bug"
so I am running the app with expo:

I have a subscription:

`const subscription = API.graphql(
      graphqlOperation(onCreateDietsTable)
    ).subscribe({
      next: eventData => {`

I do a mutation in that table and I get the reaction, so its fine.
I am doing a invoke to lambda, and its fine, just one new mutation one new lambda call.

if I do it again, its fine, just once again.

But if I chan

[2020-02-04 05:23] jitendra-koodo commented on #4832
type Bank @model {
	id: ID!
	name: String!
	logoUrl: AWSURL!
	popularityScore: Int!
	dirty: Boolean
	disabled: Boolean
	smsCodes: [SmsCode!]! @connection(name: "BankSmsCodes")
}

type SmsCode @model {
	id: ID!
	code: String!
	shortCode: String!
	bank: Bank! @connection(name: "BankSmsCodes")
	disabled: Boolean
}

![subs](https://user-images.githubusercontent.com/47494921/73716263-84369180-473c-11ea

[2020-02-04 05:28] jitendra-koodo opened #4835 "Soak test : Left app running overnight and got TypeError undefinded is not an object"
To Reproduce
https://aws-amplify.github.io/docs/js/start?ref=amplify-rn-btn&platform=react-native

Followed this guide and left it running...

*Additional context
Add any other context about the problem here.
Windows 10

"dependencies": {
"aws-amplify": "^2.2.2",
"aws-amplify-react-native": "^3.2.0",
"react": "16.9.0",
"react-native": "0.61.5"
},

![soak_test](https://user-images.githubusercontent

[2020-02-04 05:32] ryanwalters commented on #4371
Yes, using the `cookieStorage` or custom `storage` options in `Auth.configure`.

https://aws-amplify.github.io/docs/js/authentication#manual-setup

[2020-02-04 06:02] andrestone commented on #4831
That's pretty much it.

By design, my application has to do most of the logic on the backend and perform a CRUD operations as a result.

Also, there will be scenarios where I'll need to call other functions from within lambdas and ideally it should be done via a custom mutation (that calls the lambda / pipeline resolver), just like it's done on the frontend.

[2020-02-04 07:43] siddharthsharma94 opened #4836 "Many to One Relationship question."
** Which Category is your question related to? **
E.g. Auth, Predictions, Storage, etc.
** What AWS Services are you utilizing? **
App Sync / GraphQL Transform

`Amplify Version 4.12.0`
** Provide additional details e.g. code snippets **
So I'm essentially trying to create the following relationship.

I have the following models.

[code]
I'm doing a many to many relationships approach, and while t

[2020-02-04 09:35] gabehollombe-aws commented on #4704
@manueliglesias For adding DataStore to existing projects, is it sufficient to just run `amplify update api` and go through the CLI menu to enable conflict detection for the API? Similar to what @dabit3 shows here: https://github.com/dabit3/amplify-datastore-example#adding-datastore-to-an-existing-graphql-api

[2020-02-04 09:35] juuyan opened #4837 "Best practice for working with endpoint created via Apollo-Server-Lambda & Serverless"
**Which Category is your question related to?**
API

**What AWS Services are you utilizing?**
API Gateway, Lambda

**Provide additional details e.g. code snippets**
I use Apollo-Server-Lambda and Lambda to create a graphql endpoint, via serverless framework.
But in the client, what is the best practice/flow to use Amplify to query it?

I've read the documents and am following the 'Flow 5: Introspe

[2020-02-04 10:18] markmckim commented on #4580
Thanks @iartemiev - Should we expect a transparent update to Cognito server side that requires no action on our part? Or an updated version of Amplify to integrate into our apps? Thanks!

[2020-02-04 10:39] idanlo opened #4838 "AWSPinpointProvider - Initial endpoint update failed."
**Describe the bug**
*Sometimes* when the app starts I get an error saying that the initial endpoint update for AWSPinpoint failed. the screen says AWSPinpointProvider - Initial endpoint update failed. But there is console.warn in the console saying that the endpoint update failed after 5 retries

**Expected behavior**
If there are already 10 endpoint choose one that is not used and delete it. If

[2020-02-04 11:01] #4133 closed

[2020-02-04 12:08] mlecoq commented on #4811
I have modified locally Datastore code locally to support 2 owner auths. It works fine for querying but not for subscriptions : generated subscriptions requires 2 parameters (owner and editors) so setting both when you’re not the owner leads to having a subscription that never sents anything

[2020-02-04 12:16] mlecoq commented on #4811
Pb explained here: https://github.com/aws-amplify/amplify-cli/issues/1043 (proposal 3)

[2020-02-04 12:26] sushi30 commented on #3854
Hook don't work with this solution. Has anybody found a solution that doesn't break hooks?

[2020-02-04 13:22] alexladerman opened #4839 "Migrate project to another AWS Account"
** Which Category is your question related to? **
Installation
** What AWS Services are you utilizing? **
Amplify CLI, Cognito, React Frontend, Backend CRUD(APIGateway+RestrictedToCognitoUsers+Lambda+DynamoDB)
** Provide additional details e.g. code snippets **
I need to move my amplify setup to another AWS account. How can I do that without repeating all the amplify cli commands and menus I alrea

[2020-02-04 13:23] LosD commented on #4681
I'm pretty sure that's not an issue with the template checker.

It seems to be an issue with the module using the spread operator and how it is pre-compiled (apparently it's targeted for old JS?), which makes the compiled module be a function instead of an array:

`amplify-angular-module.ts`:
[code]

Precompiled `aws-amplify-angular.module.js`:
[code]

[2020-02-04 13:23] alexladerman commented on #3495
@undefobj happy to open new issues about specific problems I can describe accurately.

Here's one https://github.com/aws-amplify/amplify-js/issues/4839