[2018-03-22 12:57] stripathix opened #498 "Invalid Refresh Token."
Bug.

**Configuration:**
1) I have set refresh token expiry to 3064 days
2) I have setting Device Tracking as ALWAYS

Code to refresh Session I have:

`if (cognitoUser !== null) {

                cognitoUser.getSession(function (err, oldSession) {
                    if (!err) {
                        var refreshToken = oldSession.getRefreshToken();
                        console.log("Refreshin

[2018-03-22 13:17] mogusbi commented on #493
Forgive me if this comes across as a bit of a stupid question but how would you tell Amplify to use memory storage when you configure it?

Looking at the code, if you pass in `cookieStorage` in your config you then set `userPoolData.Storage`

https://github.com/aws/aws-amplify/blob/b439e08f927305ffa1b030c123165f0ee82c55f7/packages/aws-amplify/src/Auth/Auth.ts#L96-L98

but I can't see how else you

[2018-03-22 13:25] bbernays commented on #446
There seems to be a lot of questions on how to do this. Could it be possible that an example of this be added to the documentation?

[2018-03-22 13:26] tipsfedora commented on #446
**yeeeeeeeeeeeeeeeeeeeeeeeeeeeah, after almost 2 weeks i finally solved it.**

you need the refresh token to receive a new id token. update the aws.config.credentials object now with this new token.

here is an example of my code, which runs smoothly!

[code]

[2018-03-22 13:28] bbernays commented on #446
@tipsfedora thank you very much for this! I will definitely check it out!!

[2018-03-22 13:38] tipsfedora commented on #405
After almost 2 weeks i finally solved it.

The problem was, that i didn't update the AWS.config.credentials Object with the new Id Token.

**In case someones reading this and is having similar issues, do the following:**

You need the refresh token to receive a new id token. update the aws.config.credentials object now with this new token.

here is an example of my code, which runs smoothly!

refr

[2018-03-22 15:34] spendres opened #500 "Amazon Cognito Identity Pool ID is NOT REQUIRED for non federated auth"
The online manual states under Manual Setup that:

REQUIRED - Amazon Cognito Identity Pool ID.

But this is only true for Federated auth.

see:
https://aws.github.io/aws-amplify/media/authentication_guide#common-authentication-use-cases
under section 'Manual Setup'

My pool uses AWS-auth (non-federated) and works fine without it.

[2018-03-22 17:00] mbahar commented on #496
@tyson-kubota  Thanks for letting us know. This is for `typedoc` automatically creates the links based on the forked repo. We will fix that.

[2018-03-22 17:45] yuntuowang commented on #405
Hi @tipsfedora, glad it worked and thank you so much for posting your solution.
Hi @mlabieniec, can you work on putting this solution into Amplify doc in a suitable way? Thanks a lot!!

[2018-03-22 18:35] sballa12 commented on #487
I get the same error when trying to call cognitoUser.authenticateUser from within AWS Lambda Function (Node.js 4.3 or 6.10) as per Use case 4 in https://github.com/aws/aws-amplify/tree/master/packages/amazon-cognito-identity-js
{
    "code": "UnknownError",
    "name": "UnknownError",
    "statusCode": 200,
    "message": "200"
}

[2018-03-22 18:41] tyson-kubota commented on #452
@michaelcuneo I ran into this last week too. It turns out that `hideDefault` was broken until recently: https://github.com/aws/aws-amplify/issues/357

If you use the latest aws-amplify (0.2.11, which includes aws-amplify-react v0.1.36), it should be fixed: https://github.com/aws/aws-amplify/releases/tag/aws-amplify%400.2.11

[2018-03-22 18:54] powerful23 commented on #483
@xdl Can you turn on the debug mode by putting ```window.LOG_LEVEL = 'DEBUG'``` to see if we could have more details. Also could you try calling this method in  ```componentDidMount``` to see if it works. In my opinion it's not a good behavior to call this method in ```constructor``` as you said maybe caused by some timing issue.

[2018-03-22 18:55] powerful23 commented on #483
@Larsrdev How did you call these methods?

[2018-03-22 20:25] mlabieniec commented on #487
@stephen1706 what version of cognito sdk are you using?

[2018-03-22 20:33] #467 closed

[2018-03-22 20:53] Knowledge91 opened #502 "Storage.put(params.ContentDisposition: 'attachement')"
The Storage did not allow me to update the `ContentDisposition` metadata.
I created a pull request for the feature. #501

[2018-03-22 23:56] MacMcIrish commented on #487
@mlabieniec I'm getting the same result, at version 2.0.1

[2018-03-23 04:11] mlabieniec commented on #487
We are checking with the service teams to see if we can identify anything in the logs.

[2018-03-23 06:18] dagda1 opened #505 "Configure cognito refresh token expiration time"
In my app, I make a call to getSession if the user refreshes the page or tries to access a client side rout that requires the user to be authenticated.

The problem I am seeing is that the refreshToken never expires.

So I do this:
[code]

But having stepped through the code and if the cachedSession.isValid() call returns false then a call is made to refreshToken which always appears to return new

[2018-03-23 07:40] Sathyanarayan09 opened #506 "Cannot read property 'accessKeyId' of null, when trying to make API request."
Bug: “Cannot read property 'accessKeyId' of null” error

when trying to make API request getting an error mentioned above, after terminating the application and restarting, everything works fine.

 **this is the log  after performing window.LOG_LEVEL = 'DEBUG' , before terminating the application and trying to make API request**

 `Get item: key is federatedInfo with options undefined
ConsoleLogge

[2018-03-23 07:41] DocCaliban opened #507 "Auth.currentCredentials() always returning a promise when using .then"
In React map aws-amplify session data to props using redux connect.

My problem is that even when I use a .then I always get a promise returned, the result looks like so:

    Promise {<resolved>: CognitoUserSession}
      __proto__: Promise
      [[PromiseStatus]]:"resolved"
      [[PromiseValue]]:CognitoUserSession

And the code is as follows.

    import LoginForm from './LoginForm';
    import

[2018-03-23 08:40] stephen1706 commented on #487
@mlabieniec i fork this library from master branch and add node-fetch as a dependency to solve the fetch problem.

[2018-03-23 09:17] tipsfedora commented on #505
By default, the refresh token expires 30 days after the user authenticates. When you create an app for your user pool, you can set the app's Refresh token expiration (days) to any value between 1 and 3650.

[2018-03-23 12:35] sballa12 commented on #487
I'm using amazon-cognito-identity-js version 2.0.1.
I needed to add the following to Client.js file of the above package as a workaround to Fetch API error:
var fetch = require('node-fetch');

After that, Fetch API error was resolved, but started seeing the 'UnknownError' with status code 200 on call cognitoUser.authenticateUser

[2018-03-23 15:46] joemastersemison commented on #432
@buggy -- can you explain more about how you could do #1 with lambda triggers? It seems to me that it would have to be the preauth trigger, and it doesn't seem to let you auto-log a particular user in; it just seems to let you reject users that might otherwise have been authenticated?  (Judging by the fact that the trigger doesn't take any response?)

[2018-03-23 17:09] rasmus-storjohann-PG commented on #281
On Ubuntu I needed to tweak the sed call
[code]

[2018-03-23 17:19] mlabieniec commented on #52
Pinpoint currently now supports direct device messaging with device token. The new Push notification support for react native supports this as well. Please re-open if you feel appropriate.

[2018-03-23 17:19] #52 closed

[2018-03-23 17:28] MacMcIrish commented on #487
Hey @mlabieniec , I did some more looking into this for my case.
I added in
[code]
To get the stacktrace, and it was as simple as I hadn't implemented the (newPasswordRequired)[https://docs.aws.amazon.com/cognito/latest/developerguide/using-amazon-cognito-identity-user-pools-javascript-example-authenticating-admin-created-user.html] function in the callback.
The output was TypeError: callback.newP

[2018-03-23 17:37] powerful23 commented on #507
@DocCaliban can you try ```Auth.currentSession().then(res => console.log(res));``` or ```const res = await Auth.currentSession();```. The way you are using will only return a promise to you.

[2018-03-23 17:44] DocCaliban commented on #507
I tried using await, but still always get a promise.

When I log the result, i do actually get the CognitoUserSession, but it's not very helpful in the console, and my session constant still returns a promise.

[2018-03-23 18:10] richardzcode commented on #507
Hey @DocCaliban , Most of the Auth methods are async, returns a promise. So by assigning you will always get a promise. `.then` of a promise also returns a promise, that makes promise chain-able.

The logics with resolved value need to be implemented inside `.then` callback. Like this:

[code]

`await` keywords makes it possible to 'block' and wait until promise resolve. Then your calling method h

[2018-03-23 20:45] rinick opened #509 "federated user has different IdentityId on different browser"
using latest version of amplify js code in browser
google login, `Auth.federatedSignIn(...)`  then use private storage : `Storage.vault.put(..)`

I login with same google account on 2 different browsers. they don't shared same storage.
and when I console.log the users, their IdentityId are different.

I then tried different computers, different browsers,  all create new IdentityId.

[2018-03-23 21:34] powerful23 commented on #388
@dannymcpherson This issue should be fixed in beta version. Can you try out that version to see if it works for you? P.S install it by ```npm install aws-amplify@beta``` Thanks!

[2018-03-23 22:21] tyson-kubota opened #510 "'cannot get guest credentials' error on clicking Sign Out button in Greetings component"
**Do you want to request a feature or report a bug?**
Bug

**What is the current behavior?**
When signed in as a Cognito user, clicking "Sign Out" in the default `<Greetings>` component throws an error, as shown:

<img width="947" alt="screen shot 2018-03-23 at 3 12 15 pm" src="https://user-images.githubusercontent.com/317573/37855593-4e2b64fc-2ead-11e8-93d3-2d9018c80d3b.png">

With the correspond

[2018-03-23 22:27] powerful23 commented on #510
@tyson-kubota Can you turn on the debug mode to see why the guest credentials can't be loaded?

[2018-03-23 22:33] tyson-kubota commented on #510
@powerful23 sure, here's the debug output.

<img width="856" alt="screen shot 2018-03-23 at 3 32 57 pm" src="https://user-images.githubusercontent.com/317573/37856053-8882a992-2eaf-11e8-9379-ff1eac0df2c9.png">

[2018-03-23 22:36] powerful23 commented on #510
@tyson-kubota Seems like the http call to load the guest credentials failed due to some reason. Can you check that http request?

[2018-03-23 22:39] tyson-kubota commented on #510
Yes, I saw that 400 too, but that request occurs on basically every interaction, including the initial pageload.

The response is:
`{"__type":"NotAuthorizedException","message":"Unauthenticated access is not supported for this identity pool."}`

[2018-03-23 22:45] powerful23 commented on #510
@tyson-kubota Seems like you didn't allow unauthenticated access into your identity pool.
![screen shot 2018-03-23 at 3 42 12 pm](https://user-images.githubusercontent.com/11042868/37856321-303dfad2-2eb1-11e8-86aa-b4400d76b429.png)

[2018-03-23 22:51] tyson-kubota commented on #510
Right, I didn't enable unauthenticated users for this pool because I don't anticipate needing that setting. Is that setting a requirement for using the prebuilt React components of aws-amplify?

Unless I'm misunderstanding, it seems like the Authenticator component handle that case and still update its state to `signIn`, instead of erroring? This is the behavior on initial pageload:

<img width="1

[2018-03-23 23:01] powerful23 commented on #510
@tyson-kubota It's not a requirement for using those React components. I think the library shouldn't send errors to users if there is no guest credential available. We can log this in the background saying there is no guest credential available. Other categories like Analytics will check AWS credentials so when they find there is no credentials available they will stop working.

[2018-03-23 23:04] tyson-kubota commented on #510
Sounds good. Thanks for the explanation!

[2018-03-23 23:07] powerful23 commented on #510
@tyson-kubota Thanks for the finding! That's why we made the beta version. 👍

[2018-03-23 23:43] powerful23 commented on #509
@rinick Hi I tried in Chrome and Firefox and seems working for me. Can you give us more details like which browser?

[2018-03-23 23:49] powerful23 commented on #495
Closed as a duplicate of #61

[2018-03-23 23:49] ruhkopf commented on #388
Also faced the issue that credentials would get lost upon page reload. Upgrading to `0.2.12` fixed this. Thanks!

[2018-03-23 23:59] dannymcpherson commented on #388
For `0.2.12` (beta) It looks like new identities are no longer being created on page reload.  However, it still creates extra identities at some point around login/logoff.  If you know of related tickets, let me know.  Thanks!

[2018-03-24 00:01] powerful23 commented on #388
@dannymcpherson Can you give more details about when getting those extra identities? Thanks!

[2018-03-24 00:12] rinick commented on #509
when I send same user in Auth.federatedSignIn("google",response, user)
these are the results I got in differenet browsers
https://gist.github.com/rinick/0b206647adae2baf5dfb656b2c4e19c9

response is a map of {"access_token":xxxxx} which I got from google, which are 2 different value
the user is same google userId string

[2018-03-24 00:54] dannymcpherson commented on #388
@powerful23 - the extra identities were my fault.  I was accidentally passing a null token to `Auth.federatedSignIn(...)`.  However, when I pass the actual token I get back from the server (from calling `cognitoIdentity.getOpenIdTokenForDeveloperIdentity(...)`), aws-amplify now receives an error from AWS:
[code]

Looking at the request payload, I don't see the federated IdentityId making it throug

[2018-03-24 01:52] manueliglesias commented on #495
I haven't tested this, but I think multipart should be working for files with a size > 5mb

- Storage is using the S3 client to do a `s3.upload()`
https://github.com/aws/aws-amplify/blob/2e83916927c64946dd51d931395e742b53556971/packages/aws-amplify/src/Storage/Storage.ts#L172

- That one, in turn uses `AWS.S3.ManagedUpload`
https://github.com/aws/aws-sdk-js/blob/5880e725ca12f559fcead5cac2c305e55de

[2018-03-24 04:10] mlabieniec commented on #502
pr merged

[2018-03-24 04:10] #502 closed

[2018-03-24 04:12] #495 closed

[2018-03-24 04:19] mlabieniec commented on #457
@uptimestar github doesn't currently have support for creating releases with a mono repo. We tend to just follow the same way most do it for example [react](https://github.com/facebook/react). I imagine better support for package releases should be coming soon given the popularity of the mono repos. Until then please let us know what might help that we could do differently with the releases / chan

[2018-03-24 04:19] #457 closed

[2018-03-24 08:54] cekvenich commented on #457
In the mean time, for the users, can you just put inside the .js file name the release version # like is common. You have license, etc. in there.

[2018-03-24 14:10] Larsrdev commented on #483
OnClickLogin via Button ->
[code]
credentials are fetched and showed via log. I get a valid CognitoAccessToken, CognitoIdToken and CognitoRefreshToken.

But calling:
[code]
rejects.
And accessing credentials:
[code]
Returns `Unhandled Rejection (TypeError): Cannot read property 'accessKeyId' of null`

I also got this INFO: `[INFO] 59:16.438 Cache - Get item: key is federatedInfo with options undef

[2018-03-24 18:07] mlabieniec commented on #462
@GerDner Ember has some trouble importing node_modules. you can put this in a service then access it through the service for abstraction:

First, in your broc file:

[code]

Then generate a service i.e. ember g service amplify. Within the service, if you are using `aws-exports.js`, make sure it's in the `app/` directory of your ember app:

[code]

Then you can reference Auth or Anylytics (or anyth

[2018-03-24 18:07] #462 closed

[2018-03-24 19:13] nonzeronucleus opened #512 "0.2.11 - Stack overflow when running without analytics"
Bug

What is the current behavior?

Running a React app using aws-amplify v0.2.11 with analytic disabled (aws_app_analytics: "disable" in my config) results in a repeated "uncaught (in promise) exceed buffer size" error after running for a couple of minutes.

The error is coming from

./node_modules/aws-amplify/lib/Analytics/Analytics.js.AnalyticsClass._putToBuffer

What is the expected behavior?

[2018-03-24 19:36] powerful23 commented on #512
@nonzeronucleus You need to disable Analytics module in your code by ```Analytics.disable()``` or set ```disable``` in the configuration. Details in this [doc](https://aws.github.io/aws-amplify/media/analytics_guide). And also for now this is only implemented in the beta version which you can install by ```npm install aws-amplify@beta```

[2018-03-24 19:38] powerful23 commented on #388
@dannymcpherson Are you using the federation sign in with those supported providers?

[2018-03-24 19:50] nonzeronucleus commented on #512
Thanks. The beta seems to fix the issue.

[2018-03-24 19:50] #512 closed

[2018-03-25 04:55] powerful23 commented on #509
Did you call thie method like:
[code]

[2018-03-25 08:54] Soren-Knudsen opened #513 "Federated identities put into my user pool (React Native)"
I'm in the progress of building a React Native app and want to utilize Cognito for handling my users.

**Problem:**
When a user registers themselves via e.g. Facebook/Google in the app, I also want their information to be put in my User Pool.

**What I'm after:**
The flow I'm wishing for (which I haven't been able to find documentation for):
1. I utilize the Facebook SDK in the app and gets their

[2018-03-25 09:28] mbudm commented on #442
Related perhaps, in this line you hide defaults if any children are added to a withAuthenticator() call. This means that if you attempt to compose a use a standard Amplify components they render null - because they are in the hide default list

https://github.com/aws/aws-amplify/blob/master/packages/aws-amplify-react/src/Auth/index.jsx#L80

[2018-03-25 10:42] tomshabtay opened #514 "Refreshing the session without having a CognitoUser Object"
Do you want to request a feature or report a bug?
Request a feature

Hi, we are using Cognito in our Angular web app and I have a question about refreshing the token.
To refresh the token we are using refreshSession() from the CognitoUser Object like this:

[code]

the problem is that when I close the browser I cant save the CognitoUser Object (only strings in cookies files).
is there another reco

[2018-03-25 15:44] jflayhart opened #515 "AmplifyConfig not applying headers set in APIOptions"
I am using latest Amplify version for react and even following documentation and sifting through the API docs, the supplied headers are NOT applied to the request when set within [APIOptions](https://aws.github.io/aws-amplify/api/interfaces/apioptions.html#headers).

For example, my AWSConfig looks like this:
[code]

For me, the ONLY way for the headers to be applied is to set it per request, whic

[2018-03-25 16:17] mlabieniec commented on #514
@tomshabtay if you use aws-amplify the session/s will be automatically refreshed for you. You can also retrieve current user with Auth.currentAuthenticatedUser().

For refreshing with the cognito SDK, there is a PR #499 that outlines refreshing the token, but with the sdk i do believe you would need to retrieve the current user first. If you are currently using the Cognito SDK, you should be able

[2018-03-25 16:17] #514 closed

[2018-03-25 16:24] mlabieniec commented on #515
@jflayhart API configuration doesn't support sending the APIOptions i.e. headers. This is passed to the method directly i.e. API.get() configuration takes [manual or auto config from aws-exports](https://aws.github.io/aws-amplify/media/api_guide).

[2018-03-25 16:27] mlabieniec commented on #513
@Soren-Knudsen, currently our federation support is in React with HOCs and is done with Cognito Federated Identities. We are in the process of building similar native modules for React Native. We are hoping to complete this next sprint which will allow you to do this. It requires native modules in React Native.

[2018-03-25 16:28] #513 closed

[2018-03-25 16:31] mlabieniec commented on #506
@Sathyanarayan09 looks like you are on a pretty old version. I'm also not familiar with the react-native-aws-cognito-js lib you are using there. If you use aws-amplfiy + aws-amplify-react-native packages you should be able to do this just make sure your credentials and related IAM roles have the appropriate permissions. You could use the [awsmobile-cli](https://github.com/aws/awsmobile-cli) to aut

[2018-03-25 16:33] jflayhart commented on #515
Then the API docs for [APIOptions](https://aws.github.io/aws-amplify/api/interfaces/apioptions.html) ([and here's the code](https://github.com/mbahar/aws-amplify/blob/2164c5f/packages/aws-amplify/src/API/types/index.ts#L63)), which are part of the [AmplifyConfig](https://aws.github.io/aws-amplify/api/interfaces/amplifyconfig.html#api), need to change because that is very misleading.

It would be e

[2018-03-25 16:33] mlabieniec commented on #505
Please feel free to repoen if @tipsfedora solution doesn't work for you.

[2018-03-25 16:33] #505 closed

[2018-03-25 16:39] mlabieniec commented on #498
@stripathix it looks like based on that error that you may just be sending the incorrect token to the refresh method. One thing to note, if you use the amplify lib this will all be automated for you.  The refresh occurs in the background (in amplify) if it is required and is cached/managed for you as well.

There is also a PR from @tipsfedora on documentation for session refresh:
https://github.co

[2018-03-25 16:41] mlabieniec commented on #487
@MacMcIrish thank you for that!

@sballa12 have you tried this to see if it returns similarly ?

[2018-03-25 16:55] mlabieniec commented on #485
@jeprojects can you check the App clients section of your user pool for the one you have attached to your Federated Identity? Make sure these match in identities you should see/have added user pool AND client ID. The client ID in user pools should NOT have "App client secret" also if they are matching. Let me know if this helps.

[2018-03-25 16:58] mlabieniec commented on #507
@DocCaliban please feel free to reopen if you still have an issue here.

[2018-03-25 16:58] #507 closed

[2018-03-25 17:05] rinick commented on #509
when I use `token`, federatedSignIn failed.  seems it has to be `access_token`

[2018-03-25 17:08] mlabieniec commented on #470
@smsenesac do you know where i.e. which line the error is thrown and via which method? Also, have you given aws-amplify a try to try and simplify this flow a bit? If you use that and react-native lib it would handle/automate this process for you. There is a good example here:
https://github.com/dabit3/react-native-auth-starter

Which only uses the core lib and the APIs (not the HOCs).

[2018-03-25 17:11] #452 closed

[2018-03-25 17:28] smsenesac commented on #470
We tried using aws-amplify a few months ago before aci-js was pulled into the repo and it just didn't expose all the functionality that we needed. It looks like some of those things are now available via the amplify apis, but we are busy working to add features for beta and don't have the resources to see if switching back to amplify will allow us to maintain the functionality that we already have

[2018-03-25 17:32] smsenesac commented on #470
My understanding is that the BodyInit error is usually an indication that the request body was not stringified before calling fetch, but from looking at the code and inspecting the request body in the RN debugger, the request body seemed properly stringified to me. I noticed in the RN 0.54.2 release notes that changes were made to RN's fetch implementation. Maybe they have a defect? I didn't have

[2018-03-25 18:42] mwarger commented on #427
@cdellinger - If it helps, I've written an article about this situation [here](https://medium.com/@mwarger/barebones-authentication-with-aws-amplify-a0961e5b91fb)

Perhaps it can help others that come across this issue.

[2018-03-25 19:55] satiewaltz opened #516 "What's the difference between aws-amplify and the Node.js SDK?"
Hello! Sorry if this question is a no-brainer. But after reading the documentation and website I didn't really get the purpose of this library.

What's the difference between this library and using the Node.js SDK? What are the main goals aws-amplify is trying to achieve? Is it supposed to offer a cleaner API to interact with commonly used AWS services? Again sorry and thanks!

[2018-03-25 20:00] powerful23 commented on #509
Or can you try the HOC component we provided? Also you can have a check about this [implementation](https://github.com/aws/aws-amplify/blob/master/packages/aws-amplify-react/src/Auth/Provider/withGoogle.jsx)

[2018-03-25 21:26] powerful23 commented on #357
Closing the issue as it has been fixed in the latest release.

[2018-03-25 21:26] #357 closed

[2018-03-25 21:28] powerful23 commented on #164
Closing this issue as the TOTP feature has now been implemented in the lastest release.

[2018-03-25 21:28] #164 closed

[2018-03-25 21:35] simonbuchan opened #517 "[amazon-cognito-identity-js] "es" dir missing in NPM package."
See [unpkg.com's listing](https://unpkg.com/amazon-cognito-identity-js@2.0.2/) - although the directory exists in source (a bad practice, but I won't get into it here), the published package does not include it.

This is potentially an issue for bundlers, as the package.json lists `es/index.js` as the `module` entrypoint - either they will error or not be able to do as good tree-shaking.

To be fr

[2018-03-25 22:19] mwarger opened #518 "aws-amplify Storage.get() and S3Image components should allow access for public files in buckets"
Do you want to request a feature or report a bug?
Featurebug

What is the current behavior?
Storage.get() attempts to ensure there are credentials for getting objects from a bucket.

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other

[2018-03-25 22:20] mwarger commented on #518
I'm also looking into this - would be happy to help and submit a PR.

[2018-03-26 00:07] mwarger commented on #518
After a bit more research, it seems there may be a more fundamental issue with the S3 SDK.  It appears as if it might be necessary for S3 instance to have credentials.  If this is true, then there may not be a way to implement what I want.  Would love some input from someone who has more experience with the underlying aws-sdk.

[2018-03-26 03:10] funkfinger opened #520 "Authentication documentation error"
The signup section of [https://aws.github.io/aws-amplify/media/authentication_guide#working-with-user-attributes](https://aws.github.io/aws-amplify/media/authentication_guide#working-with-user-attributes) has attributes that **look** like standard attributes, but are not. I believe according to [this](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-settings-attributes.html#cogn

[2018-03-26 03:14] funkfinger commented on #520
I assume that the [aws.github.io]( https://aws.github.io/aws-amplify/media/authentication_guide#working-with-user-attributes) site is getting generated from [the markdown file in the repo](https://github.com/aws/aws-amplify/blob/master/docs/media/authentication_guide.md)? If so, should I fix?

[2018-03-26 03:30] ykbryan opened #521 "Unable to run awsmobile init and error on s2-choose-strategy.js:104"
Do you want to request a feature or report a bug?
Bug

What is the current behavior?
I am unable to do `awsmobile init` at the project folder.
![awsmobile-init-failed](https://user-images.githubusercontent.com/1001146/37885558-8063b91e-30e8-11e8-83f0-69f689f8e6da.png)

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug wi

[2018-03-26 03:51] rinick commented on #509
yes, using that input finally fixed my issue

user paramter is supposed to be ` {email: profile.getEmail(), name: profile.getName() }`
and response parameter is supposed to be ` { token: id_token, expires_at }`

this is not mentioned in the doc at all, and this page even says it needs access token
https://docs.aws.amazon.com/cognito/latest/developerguide/google.html

[2018-03-26 04:35] wcken84 commented on #487
I get the same error when trying to call cognitoUser.initiateAuth for custom Authentication, with version 2.0.2 (using Runkit)
The Lambda function was executed but it returned :
[code]
**Stacktrace error** :
[code]

[2018-03-26 05:44] jeprojects commented on #485
@mlabieniec Double checked all that. Still not working

I can signup from the React Native application, but can not login.

The account is created correctly in the user pool, and I can login to it from the console in appsync, so everything is fine there.

Are you sure the React Native Amplify library allows signin using a different User Pool and not the standard one Mobile Hub creates for your?

F

[2018-03-26 06:02] stripathix commented on #498
Thanks, @mlabieniec.  Yeah, I am sure that refresh token is valid if the configuration of setting refresh token expiry to 3064 is working right because my app is like 2-3 months old and this was a new user so his refresh token should be valid.

I am not using aws-amplify rather I am using following:

"amazon-cognito-identity-js": "1.31.0",
 "amazon-cognito-js": "1.1.0",
"aws-sdk": "2.152.0",

[2018-03-26 06:04] jeprojects commented on #485
@mlabieniec I just updated the Amplify Library to the latest version released 4 days ago: v0.2.11 and it is working!

[2018-03-26 08:36] dfrkp commented on #517
Note: For what it's worth, the folder is only missing starting v2.0.2

[2018-03-26 09:36] ipuris opened #522 ""Failed to update project" after cloud-api configuration with 'Create CRUD API for an existing Amazon DynamoDB table'"
I'm using AWS Mobile Hub and AWS Amplify for my React Native project.
I successfully have integrated User Sign-in (Amazon Cognito), Cloud Logic (Amazon API Gateway and AWS Lambda), and NoSQL Database (Amazon DynamoDB).

I have tried to create CRUD API using command-line tool according to documentation in
https://docs.aws.amazon.com/aws-mobile/latest/developerguide/react-native-access-databases.htm

[2018-03-26 09:40] Sathyanarayan09 commented on #506
@mlabieniec thanks for the reply, after upgrading the version to 0.2.11 got this problem #512 and
after upgrading to beta version everything seems to work fine..

[2018-03-26 10:56] DamickDoni opened #523 "cognitoUser.authenticateUser: Error at Object.onFailure"
Hi there,

I created a Cognito user-pool and try to play with some examples in my backend.
1st I created a simple registration and it works with my user-pool.
2nd I want to sign-In (auth) the created user.
This is my sample Code:

[code]

But I get these Error stack:

I don't know where I should start to debug it.

[2018-03-26 14:50] lunaroyster commented on #516
Disclaimer: I'm new to this too.

Reading the [aws-amplify introduction](https://aws.amazon.com/about-aws/whats-new/2017/11/introducing-aws-amplify-a-declarative-javascript-library-for-cloud-development-with-mobile-or-web-applications/), one word used is declarative.

Aws-amplify seems to abstract away features provided by aws-sdk. Looking at cognito for instance, The [amplify version](https://aws

[2018-03-26 15:46] #523 closed

[2018-03-26 16:16] Brulogaz opened #524 "Loading an expired federated user's token from cache leave the authenticator stuck in an invalid state"
Do you want to request a feature or report a bug?
Bug

What is the current behavior?
Tested with google:  If the cache provide the user with an expired token he will be stuck in an invalid state preventing the signout method from working.

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we

[2018-03-26 16:20] dannymcpherson commented on #388
In my case, I'm using developer authenticated identities with javascript (frontend and backend), and here are some snippets that describe the flow.

Get the token from the backend, after validating the username and password ("user" is an object representing the user being validated):

[code]

Here's the relevant part of the response received by the client:
[code]

And then I call federatedSignIn:

[2018-03-26 16:20] mlabieniec commented on #516
Thanks @lunaroyster, the wiki also has an overview of the inception:
https://github.com/aws/aws-amplify/wiki

[2018-03-26 16:23] mbahar commented on #516
@satiewaltz, in addition to previous comments,
- AWS Amplify is 'client-first' with support for modern JavaScript workflows and React Native.
- Comes with ready-to-use implementations that you can be up and running in minutes. (Auth, Storage ...)

[2018-03-26 16:32] Brulogaz commented on #524
The token refresh fail because googleAuth.currentUser.get() return null while trying to refresh the token.

I assume it is impossible to refresh an expired token when loading back the app without prompting the user or a refresh token.  The currentuser is always loaded from cache, even while the app is running, which makes it a bit harder to distinguish if the refresh was caused by the app reloadin

[2018-03-26 16:56] satiewaltz commented on #516
Hi everyone,

Thank you for your explanations! I now have a better understanding of the purpose behind aws-amplify, why it exists, and how it differs from the Node.js SDK. The wiki hits home about what are the motivations behind the library. Like how it aims to enhance development experience through a declarative API design, reduction in boilerplate code, and simplifying various methods the SDK pr

[2018-03-26 16:56] #516 closed

[2018-03-26 17:02] powerful23 commented on #509
@rinick you may need to check this [doc](https://aws.github.io/aws-amplify/) which is the official one for AWS Amplify. And also we will improve the doc based on this issue, thanks!

[2018-03-26 17:04] dannymcpherson commented on #388
I was just playing around with the generated AWS Amplify js code, and if I pass in the IdentityId to federatedSignIn, through to the CognitoCredentials [here](https://github.com/aws/aws-amplify/blob/master/packages/aws-amplify/src/Auth/Auth.ts#L1117-L1123), then it seems to work, and no new identities are created.

However, when I signout of my app, it still creates a new unauthenticated identity.

[2018-03-26 17:15] rinick commented on #509
@powerful23  yes, I've been using the doc, and this part really need more information
https://aws.github.io/aws-amplify/api/classes/authclass.html#federatedsignin

[2018-03-26 17:22] powerful23 commented on #520
@funkfinger yes you can do that with a pull request. Thanks!

[2018-03-26 18:11] apmontgomery opened #525 "Custom authentication flows"
Is there a method similar to aws.cognitoIdentityServiceProvider.initiateAuth that would allow me to start a custom auth flow?  I'm using a passwordless email/sms one time passwords.

I see TOTP, but that seems to be a type of MFA, not user signup/sign in

[2018-03-26 18:34] powerful23 commented on #483
@Larsrdev Can you give a try on aws-amplify@beta to see if it works for you? From the debug log I think the problem is that the credentials is not loaded when you call this method which should be fixed in the beta version.

[2018-03-26 18:42] elorzafe commented on #522
I have reproduced the bug. I will send a PR to fix this

[2018-03-26 19:26] elorzafe commented on #521
Also which node version are you using?  I think that should be the problem. I am using 8.9.3

[2018-03-26 19:36] abemusic commented on #525
You could look at `CognitoUser.initiateAuth`

https://github.com/aws/aws-amplify/blob/master/packages/amazon-cognito-identity-js/src/CognitoUser.js#L141

[2018-03-26 20:00] abemusic commented on #525
Nevermind, I can't seem to get either `CognitoUser.authenticateUser` or `CognitoUser.initiateAuth` to handle SRP_A flow. initiateAuth expects auth details to be provided which could include SRP_A, but I don't think it's intended for users of the library to handle any of the SRP details (could be wrong on that).

It appears SRP_A flow is handled when using authenticateUser, but it won't let you use

[2018-03-26 20:13] mlabieniec commented on #518
Hi @mwarger thanks for the detail here. Yes, I believe you are correct in that the low level sdk will require credentials for ***all*** calls made to aws...I think what we could do here though is provide some sort of flag or similar that basically turns this into a standard `fetch` request. We will look into this as a feature i.e. bypassing credentials / sdk for public calls basically.

[2018-03-26 20:40] mbahar commented on #520
Thanks @funkfinger, your correction has been approved.

[2018-03-26 20:41] #520 closed

[2018-03-26 21:53] powerful23 commented on #524
@Brulogaz Good catch! We didn't catch this error in the ```signOut``` method. I have created a pr to fix this issue. As you suggested, the idea is to clear out the cache so that users will be logged out on reloading the page once they cannot get the federation credentials from cognito. You can also catch this case when you call ```Auths.currentCredentials()``` and handle this case on your need.

[2018-03-26 21:57] powerful23 commented on #453
@nomadus This should have been fixed in aws-amplify@beta. Can you have a try on that version?

[2018-03-26 23:17] MacMcIrish commented on #487
Hey, @wcken84 , for this [catch](https://github.com/aws/aws-amplify/blob/master/packages/amazon-cognito-identity-js/lib/Client.js#L73), try doing what I've done above with refactoring it as
[code]
If you're lucky (like I was), it may show you the method you need to implement in your callback

[2018-03-26 23:59] yuntuowang commented on #498
Hi @stripathix, did you always use the same user pool id and client id? Did this issue happen intermittently or you always see this issue? Thanks!

[2018-03-27 01:26] thanmyintwai commented on #487
I got the same error as @wcken84. I used 'amazon-cognito-identity-js' and assigned to 'am_cog_id'. Then called am_cog_id.AuthenticationDetails and others by creating objects. What should I do?
Thanks,
Than

[2018-03-27 04:41] mlabieniec commented on #509
docs updated, please let us know if you think it needs more clarification!

[2018-03-27 04:41] #509 closed

[2018-03-27 06:49] stephen1706 opened #533 "sign up user using username not email or phone number"
Hi is it possible to sign up a user only by username (no email and password) ? when i try to sign up cognito user using a string (not email and phone number) it returns "Username should be either an email or a phone number."
in the user pool attribute i checked the "Also allow sign in with preferred username (a username that your users can change)"

<img width="562" alt="screen shot 2018-03-27 at

[2018-03-27 06:58] #533 closed

[2018-03-27 10:27] tuanluu-agilityio commented on #78
I  saw on `Auth` have `user` object when `signedIn`:
[code]
Look like docs missing update or I'm missing things here?
[code]
Refer: https://aws.github.io/aws-amplify/media/authentication_guide#using-withauthenticator-hoc

[2018-03-27 10:58] MatteCarra commented on #176
I would need to handle each error separately to show better messages to users and implement custom logic.
For example: My frontend needs to know if a user has a subscription plan active. So I query the backend and I receive back the subscription plan and all its details, but if the user is not yet subscribed I send a 404 and the frontend displays all the subscription plans and let the user subscri

[2018-03-27 11:15] TheRealRed7 opened #535 "[Help Wanted] First react native app fails with federatedinfo error"
Creating my first React Native app which can connect to AWS services with Amplify and I am running into problems with authentication.

On **npm start** the app builds to 100% but then throws the following errors:

**09:43:03: Finished building JavaScript bundle in 98737ms
09:43:11: Get item: key is federatedInfo with options undefined
09:43:11: Get item: key is federatedInfo with options undefined

[2018-03-27 11:26] LT-Joshi commented on #506
@Sathyanarayan09 How did you upgrade to the beta version?

[2018-03-27 12:50] Larsrdev commented on #483
seems to be fixed in 0.2.12. 👍

[2018-03-27 13:56] jkettmann opened #536 "400 after adding custom attribute"
I created a user pool and realized after some while that I needed a new custom attribute. So I added the new attribute to my existing user pool. Now I get a `400` status code when I try to set the new attribute on some user

[code]

When I create a new user pool and add the custom attribute before adding any users everything works as expected.

Does this mean, that I need to decide upfront on all

[2018-03-27 14:43] MohammedShabeeb opened #537 "Aws_Amplify "No Credentials" Error"
I am using AWS amplify to connect with Mobile Hub back end. On connecting with S3/API i am getting a error back "No Credentials".

I already set "Enable Un Authenticated Access" in the Federated Identity pool. Please let me know whether AWS Amplify is supporting "Un Authenticated Access"? or Is there any alternative to acheive this behaviour. I also would like to integrate with Lex too.

[2018-03-27 16:26] mbahar commented on #537
@MohammedShabeeb First-class Lex support is on the roadmap.

Until then, you can use 'AWS Service Interface Objects' as documented here;

https://aws.github.io/aws-amplify/media/quick_start#working-with-aws-service-interface-objects
https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/LexRuntime.html

[2018-03-27 17:11] tomquisel opened #538 "Slow Auth signin performance: perform user and device auth in parallel?"
Do you want to request a feature or report a bug?
bug

What is the current behavior?
When `Auth.signIn` is called, signIn takes just under 2 seconds to complete, even with a fast connection. This is primarily because user auth and then device auth happen in series rather than in parallel.

To reproduce:
call `Auth.signIn` for a user pool that has device remembering on, and watch the Network pane i

[2018-03-27 17:13] powerful23 commented on #535
@TheRealRed7 These messages are not errors. You need to import ```withAuthenticator``` from ```aws-amplify-react-native``` and you also need to link the cognito library. Please check this [doc](https://docs.aws.amazon.com/aws-mobile/latest/developerguide/react-native-add-user-sign-in.html)

[2018-03-27 18:31] powerful23 commented on #536
@jkettmann You can also add this attribute first in the user pool console and then that call should work

[2018-03-27 18:53] twils0 opened #539 "Email Verification by Link"
Do you want to request a feature or report a bug? Feature

What is the current behavior? This feature is not supported.

What is the expected behavior? In the AWS Console, under Cognito, User Pools, and then the Message Customization tab, there's an option to customize an email message to send a link. It would be helpful if aws-amplify had a method to send an email with a verification link and to

[2018-03-27 20:05] powerful23 commented on #485
Closing the issue.

[2018-03-27 20:05] #485 closed

[2018-03-27 20:07] powerful23 commented on #446
Closing the issue. Feel free to reopen it if necessary.

[2018-03-27 20:10] retwedt commented on #446
It would be nice to get some guidance on how to do this with the Amplify lib.  It appears to me that the session is automatically refreshed if expired, but there is no way to refresh the token early.  Is that the case?

[2018-03-27 20:21] mlabieniec commented on #446
@retwedt that's correct, the session is automatically refreshed, you could technically refresh the token yourself however by doing this same approach since the amplify lib uses the cognito lib under the covers. We are working on giving more flexibility / simplifying this as well (in our backlog) to both refresh and also disable automatic refresh.

[2018-03-27 20:49] retwedt commented on #446
Great thanks!

[2018-03-28 01:25] ykbryan commented on #521
I’m using node version 6.11.0, npm version 4.6.1 on the iterm2

[2018-03-28 05:13] powerful23 commented on #431
@nomadus I think you can access it through ```this.props.authState``` if you component is the children of ```Authenticator```

[2018-03-28 05:17] powerful23 commented on #390
Closing the issue.

[2018-03-28 05:17] #390 closed

[2018-03-28 05:18] powerful23 commented on #360
Closing the issue. Please feel free to reopen if necessary.

[2018-03-28 05:18] #360 closed

[2018-03-28 05:20] powerful23 commented on #399
@epicfaace you can retrieve the current user by ```currentAuthenticatedUser``` for federated identities and ```currentCredentials``` to get the credentials

[2018-03-28 06:16] nipasarker01 commented on #408
I am still having this error is it fixed??

[2018-03-28 06:34] simonbuchan commented on #408
Not sure what you mean? The post describes the extra steps required in Android, the PR is to update the docs to include them.
You could make the case that it shouldn't need anything extra (e.g. merge `amazon-cognito-identity-js` so `react-native link` works out of the box, not erroring if there is no firebase info etc...) but I wouldn't say it's broken - it's basically all pretty normal react-nati

[2018-03-28 07:02] MohammedShabeeb commented on #537
Thank you for the Information.
But what about the Anonymous user access to Cognito. Currently 'No Credentials' Error is throwing back while connecting with API. In Federated Identity Pool Anonymous access is enabled.

[2018-03-28 08:52] engharb opened #542 "Login using Identity Provider i.e Google"
Do you want to request a feature or report a bug?
bug

What is the current behavior?
I still using aws/amazon-cognito-identity-js.
I want to login in my Mobile App to Cognito Pool using i.e my google credentials. When I logged in successfully using my google account I call the following code
[code]

the result:  IdentifierId is null.

Question:
How can I authenticate my current google account to A

[2018-03-28 10:41] JakeSidSmith opened #543 "Issues signing in and out after upgrade (0.2.12)"
#### Do you want to request a feature or report a bug?

Bug

#### What is the current behavior?

Sign in and sign out stopped working in `0.2.12`. Unsure exactly which version we had installed prior to the upgrade, but our `package.json` has `^0.2.9` in it.

#### If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get

[2018-03-28 13:55] MohammedShabeeb commented on #537
Got the answer, it was a mistake from my side. My Un Authenticated roles trust policy was not correct. When i added trust policy to access the Cognito for un authenticated users the error is not coming

[2018-03-28 13:55] #537 closed

[2018-03-28 14:12] Sathyanarayan09 commented on #506
@LT-Joshi  npm install aws-amplify@beta

[2018-03-28 14:18] TheRealRed7 commented on #535
Thank you for the input. I followed your advice and the doc as suggested.

The app still outputs the federatedInfo messages but I am going to close this question and create a new one as I realise now that my question is unclear.

Thanks again.

[2018-03-28 14:18] #535 closed

[2018-03-28 17:11] powerful23 commented on #542
@engharb you need to load your credentials after construct it by ```AWS.config.credentials.getPromise()```. Please check the details [here](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/Credentials.html#getPromise-property)

[2018-03-28 17:16] powerful23 commented on #543
@JakeSidSmith this issue seems to be related to #510 which will happen when unauthenticated access is not enabled in the identity pool.

[2018-03-28 20:55] phstc opened #546 "Uncaught TypeError: Cannot set property 'createCredentials' of undefined"
This is just to continue the thread left in the archived repo: https://github.com/aws/amazon-cognito-identity-js/issues/679

![image](https://user-images.githubusercontent.com/105652/38055811-c50cf334-32a8-11e8-8b87-64013b592449.png)

[2018-03-28 20:55] phstc commented on #546
@PrashanthThugaiah are you also using `babel-polyfill`?

[2018-03-28 21:36] richardzcode commented on #83
Federated auth is already part of our implementation. Please have a look at: [Authentication Guide](https://aws.github.io/aws-amplify/media/authentication_guide), section "Federated Identities (Social Sign-in)"

Also, maybe this [step by step sample](https://github.com/richardzcode/Journal-AWS-Amplify-Tutorial) can help in some way for other requests.

[2018-03-28 21:46] simlu commented on #517
This breaks our tests. Would love to see this fixed.

[2018-03-28 21:49] powerful23 commented on #346
Closing the issue as this should have been fixed in the latest version

[2018-03-28 21:49] #346 closed

[2018-03-28 21:49] powerful23 commented on #179
Closing the issue as this should have been fixed in the latest version

[2018-03-28 21:50] #179 closed

[2018-03-28 21:50] powerful23 commented on #180
Closing the issue as this should have been fixed in the latest version

[2018-03-28 21:53] powerful23 commented on #388
@dannymcpherson this issue should have been fixed in the latest version. The identityId you passed in that function won't work with the library. Please fire a new issue if you still have this issue. Thanks!

[2018-03-28 21:53] #388 closed

[2018-03-28 21:54] powerful23 commented on #453
Closing the issue as this should have been fixed in the latest version

[2018-03-28 21:54] #453 closed

[2018-03-28 21:56] #244 closed

[2018-03-28 22:18] Jun711 opened #549 "Feature request: user's created time and last updated time."
Do you want to request a feature or report a bug?
To get user's createdTime and lastUpdatedTime.

What is the current behavior?
 user's createdTime and lastUpdatedTime aren't exposed via any method.
I have tried with the following 2 methods (with my required attributes being name and email):
with userAttributes, I can get sub, email_verified, name, email
with currentUserInfo, I can get id, usernam

[2018-03-28 22:19] powerful23 commented on #483
Closing the issue as this should have been fixed in the latest version.

[2018-03-28 22:19] #483 closed

[2018-03-28 22:36] powerful23 commented on #416
Closing this issue as the pr has been merged.

[2018-03-28 22:36] #416 closed

[2018-03-29 01:33] andrewheekin commented on #249
still getting an undefined id here, amplify version is 0.2.11:
[code]

[2018-03-29 07:31] MobileAppVault opened #550 "Expo 25.0 - Storage.put - file upload - image/jpeg - iOS"
Hi,

I've build my own aws helper class which handle a simple upload of an image which I taken with the iOS Camera ( `expo.Camera.takePictureAsync({base64:true})` ).

I tried different approaches to upload the local file with no success and I came through the following solution:

**Code Snippet**

[code]

**What is the current behavior?**

Convert from base64 to binary taking a lot of time with bi

[2018-03-29 07:41] engharb commented on #542
@powerful23 thank you very much. But I still facing problems. Here I will type the parts of signing-in using the google account and please correct me if there is error.

[code]
then
[code]
then
[code]

I do not know why I got ```config->credentials->expired:true``` is expired????

Do you have a complete example or idea, let me know about your inspiration.

regard.

[2018-03-29 08:01] PrashanthThugaiah commented on #546
No.

[2018-03-29 08:46] JakeSidSmith commented on #543
Signing in with debug enabled.

<img width="759" alt="screen shot 2018-03-29 at 09 44 14" src="https://user-images.githubusercontent.com/5850625/38079050-038089cc-3336-11e8-9679-6c253dff8da0.png">

[2018-03-29 08:52] JakeSidSmith commented on #543
Need any more detailed screenshots?

[2018-03-29 09:54] MatteCarra commented on #180
Ok thank you
I will test it!

[2018-03-29 12:29] buggy commented on #525
I've been working patch to add passwordless login support but it's not ready yet. It makes the password parameter optional for `Auth.signIn()` and calls `initiateAuth()` instead of `authenticateUser()` when there is no password provided. You can respond to the custom challenge by using a new `Auth.sendCustomChallengeAnswer()`. A PR should be ready in the next few days.

[2018-03-29 17:03] powerful23 commented on #543
@JakeSidSmith I had this issue too which is caused by caching and did some fix around that yesterday. Could you try the latest version of amplify to see it works? And also could you check that bad http request to cognito?

[2018-03-29 17:09] powerful23 commented on #549
@Jun711 No you can't. You can only check this info in the Cognito console -> users and groups

[2018-03-29 17:23] Jun711 opened #551 "Questions / need clarification - Which sdk should I use for Cognito?"
Thank you for providing amplify.
However, I would like some clarification if it is possible. There are amplify, amazon-cognito-identity-js, aws-sdk (CognitoIdentityServiceProvider) and maybe other sdks that support cognito that I am not aware of. It would be great if someone could clarify these for me.

1) Will amplify cover all amazon-cognito-identity-js functions in the near future?
Is there a t

[2018-03-29 17:25] Jun711 commented on #549
@powerful23 so, at the moment, if I want to access createdTime and lastUpdatedTime, I have to use [aws-sdk CognitoIdentity](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/CognitoIdentity.html#describeIdentity-property), right?
Thanks

[2018-03-29 17:25] ashishsoni opened #552 "Cannot find type definition file for 'paho-mqtt'."
typescript: node_modules/aws-amplify/lib/PubSub/Providers/MqttOverWSProvider.d.ts, line: 1
            Cannot find type definition file for 'paho-mqtt'.

       L1:  import { Client } from 'paho-mqtt';
       L2:  import * as Observable from 'zen-observable';

[packagejson.txt](https://github.com/aws/aws-amplify/files/1861205/packagejson.txt)

[2018-03-29 17:26] Jun711 commented on #552
You need to install these for type definitions
npm i –save-dev @types/zen-observable
npm i –save-dev @types/paho-mqtt

[2018-03-29 17:29] yuntuowang commented on #549
Hi @Jun711, it is not available by using cognito-identity package directly either. You can only check this info by logging to cognito console and check the "Users and groups" tab to see the "createdTime and lastUpdatedTime" info of every user.

[2018-03-29 17:30] ashishsoni commented on #552
for which module, i ran the command as you provided but same error

[13:29:55]  typescript: node_modules/aws-amplify/lib/PubSub/Providers/MqttOverWSProvider.d.ts, line: 1
            Cannot find type definition file for 'paho-mqtt'.

       L1:  import { Client } from 'paho-mqtt';
       L2:  import * as Observable from 'zen-observable';

[13:29:55]  typescript: node_modules/aws-amplify/lib/PubSub

[2018-03-29 17:31] powerful23 commented on #549
@Jun711 Yeah I think you can try that.

[2018-03-29 17:40] powerful23 commented on #549
@Jun711 But it seems like that's only for the Cognito identity not Cognito user.

[2018-03-29 17:47] jamespolanco opened #553 "Chrome 65 throwing warnings about SSL distrusted in M70"
**Do you want to request a feature or report a bug?**

Bug

**What is the current behavior?**

Console warning:

When using AWS React federation, the Amazon SSO/Oauth login1.js file is being fetched from https://api-cdn.amazon.com which uses a Symantec Cert. These certs do not comply with Google's SSL standards and they will stop trusting them in an upcoming release.

I realize this is a configura

[2018-03-29 17:48] yuntuowang commented on #549
Hi @powerful23, are you talking about amazon-cognito-identity-js which is under Amplify, or aws cognito identity service sdk?

[2018-03-29 17:49] Jun711 commented on #552
You need to install these for type definitions
`npm i –save-dev @types/zen-observable`
`npm i –save-dev @types/paho-mqtt`

my previous comment had formatting issue.

[2018-03-29 17:50] powerful23 commented on #549
@yuntuowang I mean the aws-sdk CognitoIdentity is only for the identities in the Cognito identity pool right?

[2018-03-29 17:52] yuntuowang commented on #549
@powerful23, yes.

[2018-03-29 17:53] powerful23 commented on #542
@engharb There are two "pool" in Cognito: User pool and Identity pool. From the code you provided I think you are actually using Google OpenId to get a federated identity from the Identity Pool. If you want to login in that way, you can either use [aws-amplify](https://aws.github.io/aws-amplify/media/authentication_guide#comment-3829447888) or write your own code. You can have look at this [implem

[2018-03-29 17:53] jamespolanco opened #554 "Allow opt-in/out of which OAuth providers an Amplify React app supports"
**Do you want to request a feature or report a bug?**

Feature

**What is the current behavior?**

Using Amplify React `withFederated()` out of the Auth/Provider automatically wraps/adds Amazon, Google and Facebook federation. This then reaches out and injects the Amazon, FB and Google libraries to support SSO/OAuth.

**What is the expected behavior?**

The `withFederated` HoC should allow either

[2018-03-29 17:53] Jun711 commented on #549
@yuntuowang @powerful23, in that case, is there no way to retrieve createdTime and lastUpdatedTime?

[2018-03-29 17:57] yuntuowang commented on #549
Hi @Jun711, for Cognito User Pool service, we don't currently support retrieving createdTime and lastUpdatedTime in JS SDK. But we can mark this as a feature request!

[2018-03-29 18:01] Jun711 commented on #549
thanks @yuntuowang and @powerful23. Hope that it would be supported soon.
 I guess, for now, I have to use a custom attribute to save createdTime.

[2018-03-29 18:04] yuntuowang commented on #549
Hi @Jun711, sure, that is a good work around solution!

[2018-03-29 18:55] nomadus opened #555 "Not authenticated is thrown"
I am trying to run the following code, and it always returns "not authenticated' error.
Why this is not working? I would expect, that Auth.currentAuthenticatedUser() runs correctly and returns user object, but it does not.

[code]

[2018-03-29 19:02] powerful23 commented on #422
Closing the issue as it should have been fixed in the latest version.

[2018-03-29 19:27] nomadus commented on #555
@powerful23 Hi, thanks for quick response. I am not sure if I understood you correctly.
The user I am signing in, has already been confirmed, email has been verified. I logged the user, which comes from Auth.SignIn, there is no challengeName attribute.

[2018-03-29 19:28] Jun711 commented on #551
Hi @yuntuowang, maybe you know the answer to 1 and 3? Thanks

[2018-03-29 19:35] wesleyfsmith commented on #487
Same error @wcken84 , but on sign in. Very vague and difficult to determine what is wrong...

[2018-03-29 19:40] saachinsiva opened #557 "await Promise not working"
Hello All

Our app is written in typescript with NodeJS using ES6 and we are trying to use Promise method provided by the sdk but for some reason the control returns to the caller before the promise is resolved. Please find below our code.

[code]

When we call authenticateUser, the controls goes to if condition even before the AuthService.adminInitiateAuth() is completed. Please advise.

[2018-03-29 20:22] scvnathan commented on #487
Hey all,
I was running into this same issue for the past few days. For me, I was getting the error because I had the "Do you want to remember your user's devices" set to "Always". I set it to "No" and that fixed it.
I'm wondering if its because this library is meant for the client-side (I'm using this in a lambda) and with that option enabled, the library is trying to use some browser-specific way

[2018-03-29 21:06] powerful23 commented on #557
@saachinsiva oh I see. Does it work now?

[2018-03-29 23:07] engharb commented on #542
@powerful23
I appreciate yours, thanks a lot. But i still wondered why AWS Cognito login stuff is difficult as it is. They explain binding the Cog. Pool with Social Providers as it is a piece of cake, while it is not. And I have seen videos and docs for other Clouds i.e ionic one, the authentication issue especially with FB, google ... is very easy in few lines and calling a function like: Faceboo

[2018-03-29 23:42] powerful23 commented on #510
Closing this issue as this should have been fixed in the latest version.

[2018-03-29 23:42] #510 closed

[2018-03-29 23:50] pabloow commented on #539
You can use Lambda to send a the message with a customized link (unfortunately this is not very intuitive). For this go to "Triggers" (inside the User Pools console) and then "Custom Message" and select the function that you will have to create.

Follow this link to create a message with a customized url: https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-lambda-trigger-e

[2018-03-30 00:15] wesleyfsmith commented on #487
@scvnathan Thank you so much! This did fix the issue for me. We're also running inside of a lambda. Now, there's still the question of what we need to do to fix remembering devices, but at least I can move forward with my auth flow...

[2018-03-30 00:17] mlabieniec commented on #462
@GerDner Post here on setup with ember as well:
https://medium.com/@mlabieniec/adding-aws-amplify-to-an-ember-js-application-72683167c476

[2018-03-30 04:40] MeixnerTobias commented on #311
@mlabieniec Is there a way to generate a user from Cognito user pool directly within the federatedSignIn?
We would like to send a cognito id_token to our API across from a federated sign in - is that currently possible?

As I understand current workaround is to recognise session of the user and then validate in the backend wheter token is issued from accounts.google.com or cognito endpoint?

Thank

[2018-03-30 08:11] thegamenicorus commented on #487
For me, It's because I try to sign in with user/password generated from Admin. So, I add newPasswordRequired callback and problem gone.

[code]

[2018-03-30 09:03] jimshell opened #558 ""No internet connexion" case not handled in amazon-cognito-identity-js ?"
Hi,

Using Amplify Auth to sign users in, I've just run a few tests with no internet connexion (by setting Chrome to "offline"), and I noticed that the promise on Auth.signIn was not rejected properly, so catch() was never fired.

I had a proper look at the error in console:

**OPTIONS https://cognito-idp.eu-central-1.amazonaws.com/ net::ERR_INTERNET_DISCONNECTED
Uncaught (in promise) TypeError: C

[2018-03-30 09:06] rayhaanq opened #559 "Unexpected error: Token is not from a supported provider of this identity pool"
Bug

I've been working on an app for a while now and I've setup cognito and everything to work with the app. Sign up/sign out/sign in has been working all this time. I haven't worked on the frontend for some time now and it's been untouched. I've been working on the backend since then which is using lambda and API gateway but nothing is connected to the app yet. (with the exception of sign up whic

[2018-03-30 09:32] kanteankit commented on #550
I am facing the same problem on Android.
My Stack

- expo version 26.0
- react-native 0.54
- Android App
- S3 Storage

[code]
Here's what I have tried:

- `this.capturedImage.uri`: The local file path of the captured image
- `this.capturedImage.base64`: The base64 encoded string of the image
- `'data:image/jpg;base64,'+this.capturedImage.base64`: Adding prefix to the base64 string

None of the abo

[2018-03-30 10:21] AlexThomas90210 commented on #390
I have been looking around for a while, I feel the answers here didn't really answer the problem, which is getting the user's attributes or username who made the request.

The example above only shows how to get a user's attributes if you already have their Username, but that won't be the case. Unless the client sends up that information

[code]

If you want to test this out quickly to see if it w

[2018-03-30 13:19] epicfaace opened #560 "API doesn't work with local (or non-AWS) endpoints"
I'm running an AWS API locally (through Chalice) but can't get it to work with AWS Amplify.

In my config, I have:
[code]
And my code calls this function:
[code]

Here's the error I'm getting:
[code]

This only happens when the endpoint is set to localhost:8001. If I set it to an actual AWS published API, (*.execute-api.us-east-1.amazonaws.com.amazonaws.com), everything works fine.

[2018-03-30 15:15] Jun711 commented on #551
Thanks @yuntuowang.
yea, i was aware of that. The README states that v1.0.0 supports `Search users in your pool using user attributes` function there is no example or documentation for the method.
in the README, there are only use cases, there isn't a doc similar to amplify where I can see all the methods available. Is that right?
Thanks

[2018-03-30 16:54] powerful23 commented on #557
Closing the issue.

[2018-03-30 16:54] #557 closed

[2018-03-30 16:56] yuntuowang commented on #551
Hi @Jun711, yes, in the README.md, there are all the use cases with the code snippet showing how you code.

[2018-03-30 16:58] powerful23 commented on #559
@rayhaanq Could you go to your identity pool console to check if your user pool is correctly setup as one of the provider?

[2018-03-30 17:20] powerful23 commented on #560
@epicfaace could you try set endpoint to ```http://localhost:8001``` so the endpoint joins the path correctly

[2018-03-30 17:26] epicfaace commented on #560
I tried:
[code]

and it gives me the same issue. When I use an actual AWS endpoint instead, however, it works fine.

[2018-03-30 17:32] powerful23 commented on #560
@epicfaace could turn on the debug mode and search for ```Signed Request``` to check the params used by ```axios```?

[2018-03-30 17:40] Jun711 commented on #551
Thanks @yuntuowang
 If it is ok, could you please share the method name for this `Search users in your pool using user attributes` function? I think I must have missed it.
There are
Use case 8. Update user attributes for an authenticated user.
Use case 5. Retrieve user attributes for an authenticated user.
There doesn't seem to have `Search users in your pool using user attributes` or something si

[2018-03-30 17:54] epicfaace commented on #560
@powerful23 is this what you need?

![image](https://user-images.githubusercontent.com/1689183/38147796-cf082820-3421-11e8-87d5-ae9016904c7f.png)

[2018-03-30 18:02] yuntuowang commented on #551
Hi @Jun711, we have "Search users in your pool using user attributes" feature for Cognito User Pool service. You can do this on Cognito console or low level SDKs with developer credentials.

We don't support this on this JS SDK.

[2018-03-30 18:06] daannijkamp commented on #390
Thanks @AlexThomas90210 😀!

[2018-03-30 18:28] dannymcpherson opened #561 "Better support for cognito developer authenticated identities"
Do you want to request a feature or report a bug?
feature request

What is the current behavior?
Cognito developer authenticated identities are not fully supported

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than AWS Amplify.

[2018-03-30 18:34] powerful23 commented on #560
@epicfaace I tried on my machine and seems working for me. Can you make sure you are using the latest version of amplify and also re-install all the node modules?

[2018-03-30 19:58] jdeanwaite opened #563 "Unable to use signIn - Cannot read property 'computeModPow' of undefined"
**Do you want to request a feature or report a bug?**
Report a Bug

**What is the current behavior?**

Unable to use `signIn`, fails with the error: `Cannot read property 'computeModPow' of undefined`

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have

[2018-03-30 20:10] powerful23 commented on #524
Closing the issue as it should have been fixed in the latest version.

[2018-03-30 20:10] #524 closed

[2018-03-30 20:14] powerful23 commented on #563
@jdeanwaite this is often caused by some react-native link issues. One of the things you need to check is that whether this module is correctly linked in to the android/ios native module. For example, you can check the ```MainApplication.java``` under ```android/app/src/.../``` to see there is one ```RNAWSCognitoPackage()``` under ```MainReactPackage```. Hope that could help you.

[2018-03-30 20:15] jdeanwaite commented on #563
@powerful23 Do you know the location to check for iOS? Thanks for the reply!

[2018-03-30 20:20] powerful23 commented on #542
@engharb yeah it's a bit trivial to figure all the things out. That's why we are developing AWS Amplify as well as Awsmobile CLI to make life much easier for developers. Currently we are working on to integrate the Cognito hosted UI into our library and give users detailed documentation about how to setup with those stuff and that won't be too far. Thanks for your feedback!

[2018-03-30 23:03] Jun711 commented on #551
@yuntuowang I see. thanks.

[2018-03-30 23:31] powerful23 commented on #517
@simonbuchan sorry about that. We will publish a new version to fix it.

[2018-03-31 02:47] sanjosedennis7593 opened #565 "Integrate facebook/google login to userpool"
Hi guys,

Anybody out there know how to integrate facebook/google login to userpool ? Can you provide a detailed instruction? I've been struggled with this issue for the past few months now. I can't find any documentation on how to merge it properly.

Below are some of the use case scenario that i want to happen in my app.

1. If i register using social media provider (facebook, google), then it w

[2018-03-31 07:03] Samuel-Chan commented on #521
I has the same issue before upgrading node version (was using v7.2.1)
It works fine after upgrading to the newest version

[2018-03-31 09:27] ykbryan commented on #521
Probably? If so, this needs to be documented in the README.md

[2018-03-31 12:25] epicfaace commented on #565
You can integrate facebook/google login to an *identity pool* through the federated options in the Amplify Auth API. I don't think Amplify supports connecting it to a user pool yet.

[2018-03-31 12:27] epicfaace commented on #560
Yes, by reinstalling all the node modules it works now. Thanks!

[2018-03-31 12:27] #560 closed

[2018-03-31 14:26] no-on3 opened #567 "remove LocalStorage when using Amplify on the backend."
I want to know if there's a way to disable LocalStorage when accessing Identity Pool on the backend?

the intended behaviour is to compare details sent from Frontend with datasets on the Identity Pool, I cannot achieve this without passing localStorage when trying to access a Dataset on the backend.

the error is : "window is not defined" I read that I can mock the window object, but any other sol

[2018-03-31 16:25] mattwalter91 commented on #487
I'm getting the same issue as @wcken84 on cognitoUser.authenticateUser. Both the following:

`{
  code: "UnknownError",
  name: "UnknownError",
  statusCode: 200,
  message: "200"
}`

`
at Object.onFailure (~\index.js:78:25)
at ~\node_modules\amazon-cognito-identity-js\lib\CognitoUser.js:376:31
at ~\node_modules\amazon-cognito-identity-js\lib\CognitoUser.js:361:22
at ~\node_modules\amazon-cognito-

[2018-03-31 16:39] mattwalter91 commented on #487
Fixed it...

I'm new to NodeJS, so not sure if this is how it works, but there was an error in my onSuccess function, which then caused the script to fall into onFailure and return this un-useful error message.

I was trying to also use 'aws-sdk', but hadn't installed or imported it. Not sure if it's the same issue for you @wcken84, but all I did was install+import, and it worked.

[2018-03-31 16:45] mattwalter91 commented on #487
Also, if I now turn 'Remember user's device' back on, I'm getting the 'UnknownError' response again, so @scvnathan's fix may well work for some people still!

[2018-03-31 16:55] jdeanwaite opened #568 "[React Native] Android build fails"
**Do you want to request a feature or report a bug?**

Bug report

**What is the current behavior?**

After adding `aws-amplify` to the project and linking both `aws-amplify-react-native` and `amazon-cognito-identity-js`, Android build fails with the following error:
[code]

Reverting back to a commit without amplify allows me to build again. Comparison of the two branches confirm that only aws-am

[2018-03-31 23:06] baharev opened #570 "In Safari I cannot enter username or password on the signin page"
**Do you want to request a feature or report a bug?**

Bug report.

**What is the current behavior?**

I cannot enter the user name or password on the signin page. Only Safari on iOS seems to be affected.

These text fields don't seem to get focus, I don't get the cursor blinking in them. The keyboard does pop up if I keep touching these text fields. But when I start typing, it stops accepting inp

[2018-03-31 23:47] raphadko commented on #565
You should check https://github.com/aws/amazon-cognito-auth-js/. But it's not perfect too, achieving this with Cognito is either poorly documented / undocumented or currently broken. Looking for a solution as well

[2018-04-01 00:25] jdeanwaite commented on #563
Okay so that was the problem: even though RN says it linked `amazon-cognito-identity-js` correctly, it did not link iOS correctly. To fix I did the following:
1. opened the XCode project and dragged `node_modules/amazon-cognito-identity-js/ios/RNAWSCognito.xcodeproj` to the `Libraries` folder in the XCode project.
2. Then I opened up `Build Phases` and dragged `libRNAWSCognito.a` to the `Link Bina

[2018-04-01 02:14] Der1906 commented on #563
@jdeanwaite i read this, and works for me. https://github.com/aws/aws-amplify/issues/194,
Hope that could help you.

[2018-04-01 03:15] Der1906 commented on #563
do you tried `react-native link amazon-cognito-identity-js` istead of `npm link amazon-cognito-identity-js`?

[2018-04-01 06:12] jdeanwaite commented on #563
@Der1906 haha yes that was simply a typo on this issue. I’ll update it. But yes, I was doing ‘react-native link’.

[2018-04-01 06:46] Der1906 commented on #563
it seems a problem with node_modules, could you delete that folder?, and run npm install again. Sometimes xcode doesn't make the correct link with node_modules. If you install some dependencies with yarn, this will cause problems. I had one with another dependencie (react-native-navigation), and i fixed by this way.

Sorry by the obvious, but i prefer check this common issues first.

[2018-04-01 19:32] powerful23 commented on #568
@jdeanwaite there is no need to link aws-amplify-react-native unless you want to enable pinpoint push notification in your app. And if you linked this module, you will have to do some extra configuration to make it work.

[2018-04-02 03:42] wcken84 commented on #487
Fixed with
1. Turn off Remember user's device in cognito user pool.
2. with @thegamenicorus  solution. Added newPasswordRequired callback and it returned the CognitoUserSession with tokens.

Thanks guys !!! 😄

[2018-04-02 05:03] BWillis98 commented on #550
I'm not using expo and I cannot find any documentation on how to upload an image. I tried the method suggested by @kanteankit , but I'm getting an error for fetching the url. I don't really want to debug this error because I feel as though there's a better solution than fetching for the blob.

[2018-04-02 09:18] tuanluu-agilityio opened #572 "[Question] completeNewPassword/changePassword different?"
Hi guys,

I wonder what is different between two methods `completeNewPassword` and `changePassword` in `aws-amplify`. Because when I custom UI change password for first time login, I have using method `changePassword` but it have error: `Local storage is missing an ID Token, Please authenticate`
https://github.com/aws/aws-amplify/blob/0124c02cdccfbea5064c1b81cc403fe3b68c6383/packages/amazon-cognit

[2018-04-02 09:25] MatteCarra commented on #180
I still have a problem.
Yesterday I've logged in with Google and everything worked fine.
Today when I opened again the site aws-amplify called https://cognito-identity.eu-west-1.amazonaws.com/ (Target AWSCognitoIdentityService.GetCredentialsForIdentity) and the endpoint correctly returned `{"Credentials":{"AccessKeyId":"hidden","Expiration":1.522664214E9,"SecretKey":"hidden","SessionToken":"hidden

[2018-04-02 12:44] hotgazpacho commented on #439
Is it safe to assume that "SAML Federated Identities" means federated with Cognito?
From outside observation, it seems that these federated IdPs are exposed to clients via OpenID Connect, or a conceptually similar flow. If we could get some pointers to details on how SAML Federated IdPs are exposed, I'd be more than happy to take a crack at adding the functionality to Amplify.

[2018-04-02 12:49] DavidHe1127 opened #573 "Signature mismatch on PUT request"
I am using `Auth.signIn` to retrieve `idToken` which is then be set in the header of `PUT` call to my api gateway being authorised by cognito user pool.

The server responds with the following error:

[code]

The request url looks like `https://2g9vfrrytb.execute-api.us-east-2.amazonaws.com/beta/parrodise-test-2`. `parrodise-test-2` is the url param.

Please help

[2018-04-02 15:07] sballa12 commented on #487
@scvnathan solution of turning off 'Remember user's device' in cognito user pool fixed the issue with cognitoUser.authenticateUser

[2018-04-02 17:07] powerful23 commented on #408
@jdeanwaite that's because the AWS Pinpoint service uses GCM/FCM to push notifications to Android devices so we need developers to have a corresponding Firebase project.

[2018-04-02 17:11] jdeanwaite commented on #408
@powerful23 Ah, I see. I am very new to the Android world, so it was confusing that Firebase would be included because I always saw Firebase and AWS as competing services.

As the documentation improves, hopefully we will run into less of these questions :)

[2018-04-02 17:23] powerful23 commented on #573
@DavidHe1127 You can use our API category to make signed ```PUT``` call as it can correctly sign up the API call with your AWS credentials.

[2018-04-02 17:30] powerful23 commented on #572
@tuanluu-agilityio from my understanding:
```completeNewPassoword``` is when the admin assigned an account to the user and then the user logged into the app in the first time.
```changePassword``` is used for the current user to change his password which can only be used when the user logged in.

[2018-04-02 17:44] powerful23 commented on #434
Closing.

[2018-04-02 17:44] #434 closed

[2018-04-02 17:46] powerful23 commented on #383
This should have been fixed in latest version.

[2018-04-02 17:48] powerful23 commented on #517
Closing as this should have been fixed in the latest version of Cognito.

[2018-04-02 17:48] #517 closed

[2018-04-02 17:49] powerful23 commented on #405
Closing.

[2018-04-02 17:49] #405 closed

[2018-04-02 17:51] powerful23 commented on #447
Closing.

[2018-04-02 17:51] #447 closed

[2018-04-02 18:23] powerful23 commented on #180
@MatteCarra in the current version the ```currentAuthenticatedUser``` method will look into the localStorage to find a user. So did you check your localstorage to see if it was cleaned?

[2018-04-02 19:08] zt7584 commented on #563
I am having this issue as well. @jdeanwaite Are you having an ejecting app? or using expo?

[2018-04-02 19:09] jdeanwaite commented on #563
@zt7584 I use an ejected app.

[2018-04-02 19:34] nelyo1 commented on #390
i am currently working on getting a lambda  with RESTapi endpoint to return just the IdToken from cognito.
i see there are various node.js implementation on this git page,  but am very new to NODE code so making the lambda a Rest endpoint to respond with IdToken from cognito with GET method is unclear.

am looking for code help/solution on this issue.

Thank you

[2018-04-02 20:26] mmcaptton commented on #568
Just for help:

Adding aws-amplify on Expo26 causes: Couldn't find preset "es2015" ..... from amazon-cognito.identity-js
it seems that Expo forget to add  babel-preset-es2015 in CRNA process ...

Solve:
npm i --save-dev babel-preset-es2015

[2018-04-02 22:29] timroesner opened #574 "Documentation Suggestion"
I noticed that error handling in the signUp and other functions can be a little confusing for new users and wanted to suggest a change, that makes it more descriptive.

This is specifically for the Amazon Cognito Identity SDK for JavaScript.

Currently:
[code]

which results in the alert `[Object object]`

Proposed:
[code]
which results in an alert like `User already exists`

If you agree give thi

[2018-04-02 22:47] powerful23 commented on #497
@kasperbe thanks for your feedback! The Cognito team is tracking the issue now.

[2018-04-03 00:01] mbahar commented on #574
Hey @timroesner, thanks for the feedback. Go for it!

[2018-04-03 00:07] DavidHe1127 commented on #573
@powerful23

Thanks for your reply.  Doesn't my PUT request get signed automatically?

From the docs, it says:

But,  in the **Installation and Configurations** section, it says

Does it indicate that to enable signing process on your request, API Authorization needs to be set to AWS_IAM not Cognito User Pool ?

[2018-04-03 04:23] BWillis98 opened #576 "Request Better Documentation/Question"
Do you want to request a feature or report a bug?
Request better documentation

To keep this short, I removed the rest of the questions. Simply put, there's no documentation on uploading an image without using the built-in inputType. We have been using react-native-image-picker and I just need to know what is Storage.put() expecting? I've tried uploading the local file uri and the base64 represent

[2018-04-03 04:43] kpolley commented on #550
Here is how I achieved it! Must have the latest RN (if your using expo like I am, it must be SDK 26)

[code]

[2018-04-03 05:24] DavidHe1127 commented on #573
@powerful23 Any code example to use API category?

[2018-04-03 05:36] daannijkamp commented on #390
@nelyo1 Are you using Amplify/Cognito JavaScript for the front-end?

[2018-04-03 06:01] stripathix commented on #498
Hi @yuntuowang,
Sorry for late response.

I always use same user pool id, but different client id. I have one clientId for Web applicaition and another for Cordova mobile application.
My Pool configuration looks like this:
`  var poolData = {
            UserPoolId: AccountConst.awsCognito.userPoolId,
            ClientId: utilityService.isCordovaApplication()
                ? AccountConst.awsCog

[2018-04-03 06:34] nomadus opened #578 "Returning user custom attributes"
I am looking a guaranteed way to return user attributes.
I have set one custom attribute, which is an accountId and it is a key information to retrieve user details from the database.
When I call Auth.currentAuthenticatedUser() it sometimes (when user just signed up and logins first time), does not return user attributes. What API function should I use which always returns the user attributes?

[2018-04-03 07:44] supun19 commented on #546
I also have this issue. any updates

[2018-04-03 08:09] engharb commented on #542
@powerful23 Thanks a lot for details. But I have another Idea and I do not know if it works. I tried to get the IdentityId of unauthenticated Facebook on AWS-External-provider and then call ```getCredentialsForIdentity()```. Unfortunately it gives me error as e is not a function.
[code]

Do you have any Idea if that does work or not?

regards,

[2018-04-03 08:49] Tee88 opened #579 "Is AWS-Amplify mature enough for production?"
Thank you for making Amplify.
1.Amplify's current version is 0.2.11 , is it safe to use it at this stage in production?
2.How soon is AWS IoT expected to come to PubSub?
Thanks in advance.

[2018-04-03 09:43] vonkanehoffen opened #580 "Null response and no current user session from `Auth.federatedSignIn`"
**Do you want to request a feature or report a bug?**
Bug

**What is the current behavior?**

When calling `Auth.federatedSignIn` as shown [here](https://aws.github.io/aws-amplify/media/authentication_guide#enabling-federated-identities), supplying `id_token`etc. from `ga.signIn`, I receive `null` from it's returned Promise, instead of user credentials.

After the call completes, I can see `aws-am

[2018-04-03 10:28] JakeSidSmith commented on #543
Have just tried `0.2.14`.

Signout fails, but returns no errors.
Upon reload `currentAuthenticatedUser` still returns the user.
Signin still gives `signin failed` error.

Here's the signout call:

<img width="909" alt="screen shot 2018-04-03 at 11 25 28" src="https://user-images.githubusercontent.com/5850625/38244300-1cff509a-3732-11e8-97b4-00b580f5351b.png">

[2018-04-03 12:56] nelyo1 commented on #390
@daannijkamp
No am not using Amplify JavaScript.

I checked the website, couldn't find any sample code that could be used to return only an IdToken from cognito or any idp.

[2018-04-03 13:35] TheRealRed7 opened #581 "[Question] [Help Wanted] AWS Amplify - how to query DynamoDB table"
I have created an app using react-native.

After a little struggling I can now connect it to my Dynamodb table and using AWS Amplify I can insert items with PUT and get a specific item back with GET.

So far so good.

I now want to be able to query the table and get back a subset of records. The aws documentation suggests using aws-sdk and that the syntax should be like this:

// Return all of the

[2018-04-03 14:05] daannijkamp commented on #390
@nelyo1 For an IdToken, a Cognito User needs to be authenticated/have a valid session.  (JavaScript SDK example: [Get the Current User](https://docs.aws.amazon.com/cognito/latest/developerguide/using-amazon-cognito-user-identity-pools-javascript-examples.html#using-amazon-cognito-user-identity-pools-javascript-examples-get-user-from-local-storage)).
IdToken is often used in the Front-End.
Maybe yo

[2018-04-03 15:26] seblegall opened #582 "Request for more more detailed example in the API documentation"
Hi,
I'm currently trying to POST data to my aws lambda functions triggered by aws api-gateway using aws-amplify.

Concerning the main case, the `API.post() ` is well documented. But for the (not so) edge case such as API error handling, it's quite hard to understand what is the expected behaviour.

From my point of view, when the API returns a status code 400, aws-amplify throw an error that looks

[2018-04-03 15:49] nelyo1 commented on #390
@daannijkamp,

if i decide to go Amplify/Cognito route how easy will it be to implement a lambda that returns Only an IdToken in the header.

am open to any solution to resolve this issue as long it uses lambda and cognito.

and correct me if am wrong this amplify is pretty new, so it may have better support going forward.

thanks in advance

[2018-04-03 16:01] daannijkamp commented on #390
Can you maybe describe what you have/want to make?
A web app - API gateway - Lambda?
iOS/Android  app - API gateway - Lambda?

[2018-04-03 16:58] richardzcode commented on #576
Hey @BWillis98 in this guide, https://aws.github.io/aws-amplify/media/storage_guide#put

[code]

Basically you can specify 'contentType' of the upload.

I agree it is not very obvious though.

[2018-04-03 17:00] Rafaell416 commented on #550
@kpolley I tryed that solution but it throws me an error.
![screenshot_2018-04-03_11-59-30](https://user-images.githubusercontent.com/18080929/38263752-82efb206-3736-11e8-9986-c10168a983d1.png)

[2018-04-03 17:05] richardzcode commented on #578
Hey @nomadus have you tried `userAttributes`?

[code]

[2018-04-03 17:06] powerful23 commented on #573
You can check the [doc](https://aws.github.io/aws-amplify/media/api_guide)

[2018-04-03 17:16] richardzcode commented on #572
@tuanluu-agilityio please feel free to reopen this issue if needed.

[2018-04-03 17:16] #572 closed

[2018-04-03 17:18] powerful23 commented on #543
@JakeSidSmith Signout fails is correct if you didn't enable unauthenticated users in your identity pool.
Can you check your localStorage when signing out to see if items with prefix ```CognitoIdentitySerivceProvider``` are removed?

[2018-04-03 17:19] richardzcode commented on #552
@ashishsoni I believe with @Jun711 updated commands the issue should be fixed. Please reopen this issue if problem remains.

[2018-04-03 17:19] #552 closed

[2018-04-03 17:40] powerful23 commented on #542
@engharb I am not sure as I didn't try this way to get the credentials. But can you make sure ```AWSCognito.config.credentials``` is an instance of ```CognitoIdentityCredentials```?

[2018-04-03 18:28] defionscode opened #583 "Feature Request: Let users enable FIPS mode instead of default AWS endpoints for API calls"
Do you want to request a feature or report a bug?
Feature

What is the current behavior?
Skimming through the code and looking through the docs, there doesn't seem to be a way to overwrite the endpoint used by amplify for a given thing. For example, I need to use endpoints with FIPS validated TLS which can be found here [https://aws.amazon.com/compliance/fips/](https://aws.amazon.com/compliance/fi

[2018-04-03 18:32] MatteCarra commented on #180
![image](https://user-images.githubusercontent.com/11074527/38268323-163bdc64-377e-11e8-9a9b-460bcb261e8b.png)

[2018-04-03 18:44] powerful23 commented on #180
@MatteCarra I see. It's caused by the Google sdk is not loaded when calling refreshing credentials so it would fail to fetch new credentials for you. Then because of that the library will log user out since they do not have valid credentials now so they need to sign in again.

[2018-04-03 18:56] mlabieniec commented on #581
@TheRealRed7 You can do this a few different ways.

1. Use Lambda / API Gateway (basically what you are saying)
This would be the most secure way, with the most "overhead" in terms of back-end. When you bootstrap using `awsmobile init` and enable cloud-logic, you would get a default backend lambda function that you could then include and query dynamo. You can see an example of something similar to

[2018-04-03 18:58] powerful23 commented on #580
@vonkanehoffen can you try aws-amplify@0.2.14 and also for now ```Auth.currentSession()``` only works with users logged with Cognito. You can get current credentials by ```Auth.currentCredentials()```

[2018-04-03 19:07] guanzo opened #584 "Python Backend?"
The docs only show examples with a javascript backend, seen here: https://aws.github.io/aws-amplify/media/install_n_config

Is it possible to use this library with a python backend? If I only need authentication, do I have to use a backend?

[2018-04-03 19:52] defionscode commented on #584
You can/should use Auth entirely client-side, so the backend itself shouldnt really matter

[2018-04-03 20:02] yuntuowang commented on #583
Hi @defionscode, we already have service endpoints with FIPS deployed to all regions. Exactly as you mentioned, you can try:
cognito-sync-fips.us-east-1.amazonaws.com

cognito-identity-fips.us-east-1.amazonaws.com

cognito-idp-fips.us-east-1.amazonaws.com

<your_user_pool_domain>.auth-fips.us-east-1.amazoncognito.com

[2018-04-03 20:04] defionscode commented on #583
well yes, but how do you ensure that aws-amplify leverages those endpoints

[2018-04-03 20:06] yuntuowang commented on #583
@mlabieniec, does aws-amplify Auth leverage these endpoints?

[2018-04-03 20:27] defionscode commented on #583
To clarify my request, while my desire is for Auth, this enhancement should ideally be implemented for the other things like Storage, etc. Any amplify _thing_ that also has FIPS endpoints available under the hood.

@yuntuowang it is not currently implemented since amplify just uses the implicit default endpoint for aws APIs. For example, take a look here:
https://github.com/aws/aws-amplify/blob/39

[2018-04-03 20:28] defionscode commented on #583
oh and to be clear, no aws does not implicitly use endpoints with fips validated encryption

[2018-04-03 21:03] mlabieniec commented on #579
Hi @Tee88

1. We do have many customers (in the hundreds right now) running production apps with amplify and amplify react native. We have a build phase and are implementing any refactoring etc. to be backwards compatible. If we do any major updates / breaking changes they will be documented and will be major version updates so as to not be pulled down via your package.json.

2. Currently you can

[2018-04-03 21:44] mlabieniec commented on #584
@guanzo you can use whatever backend i.e. lambda runtime etc. you like. Within Amplify we have an [API](https://aws.github.io/aws-amplify/media/api_guide) category which will allow you to call API gateway, or even lambda directly via invoke API. The lambda can be running either Java, Python,  JavaScript, GO, or any other runtime lambda is supporting.

[2018-04-03 21:52] yuntuowang commented on #498
Hi @stripathix, thank you so much for the info. We will investigate this issue and I will post the newest status ASAP. Thanks!

[2018-04-03 21:53] #584 closed

[2018-04-03 22:01] mlabieniec commented on #583
@defionscode I think what you are proposing makes sense. I think it would be good to add this to the url generation within the section you outlined there that generates the URL. It looks like we can similarly use the region generated and the prefixes. Feel free to submit the pr for review and thank you.

[2018-04-03 22:26] defionscode commented on #583
Just to clarify, we're going the fips boolean flag route as opposed to
completely customizable endpoint selection, right?
On Tue, Apr 3, 2018 at 6:02 PM Michael Labieniec <notifications@github.com>
wrote:

[2018-04-03 22:27] mlabieniec commented on #583
I think that's the simplest way to start here and support the feature without needing to do to much refactoring on the existing functionality.

[2018-04-03 22:28] defionscode commented on #583
I agree. I'll get started on this soon. Thanks for the feedback.
On Tue, Apr 3, 2018 at 6:27 PM Michael Labieniec <notifications@github.com>
wrote:

[2018-04-04 00:06] BWillis98 commented on #576
@richardzcode , perhaps this is just because of my lack of experience, but what do I do for images. It's fairly obvious that for text you send text as the content, but what about for images? Is there some universal understanding to send the base64 representation of the image or something?

I'm not understanding what exactly the second parameter is looking for when uploading an image.
[code]

[2018-04-04 00:08] powerful23 commented on #567
@no-on3 I think for now the only way is to mock the window object as a work around since the backend development is not fully supported in Amplify. We will track this issue and hopefully bring out a way to solve it.

[2018-04-04 01:04] BWillis98 commented on #576
[code]

The above is my function to handle uploading images to S3. imageData is the Base64 encoding of the image. I verified it is correct by copying the imageData passed into this function and going through https://www.base64decode.org/ . This worked perfectly as when I hit `decode` the image was downloaded to my machine. What am I doing wrong? The image upload process appears to go flawlessly, b

[2018-04-04 01:34] BWillis98 commented on #576
I have a feeling this is one of those time where there's some universal understanding I'm not aware of for what data needs to be sent when uploading an image, and no one else is going to have this problem, but here's my solution.

1. Add the `buffer` npm module.
`yarn add buffer`

2. Define the buffer by putting this in your App.js file
`global.Buffer = global.Buffer || require('buffer').Buffer`

[2018-04-04 01:41] no-on3 opened #587 ""UnknownError" with status 200 when auth a user"
I have this piece of code :
[code]

quite simple and basic, on the logs it's showing an error :
![image](https://user-images.githubusercontent.com/10501299/38284083-cb820266-37b9-11e8-8fbb-4d929a925274.png)
it fails to login, but when I check the request on Network tab, I see that last request has the access tokens in the body :
![image](https://user-images.githubusercontent.com/10501299/38284149-

[2018-04-04 01:50] nelyo1 commented on #390
a web app --API gtwy - Lambda  path will be most ideal. --

the idea was to fetch the IdToken of an authenticated user (in cognito) with a web app (possibly using lambda or a container) .

....
console.log('idToken + ' + ret.idToken.jwtToken);
            callback(null, {
                statusCode: 200,
                body: JSON.stringify({
                }),
                headers: {

[2018-04-04 06:05] engharb commented on #542
@powerful23 I would expect when I call
[code]
to get a sessionKey contains the three different key, id/access/refreshTokenkey, but unfortunately I do not.
Some references mentioned that but I do not know how they get these three keys.

[2018-04-04 06:11] engharb commented on #366
@yuntuowang I have solved that by using ionic-push. It will be a great feature if we can get i.e DeviceId of the mobile hosting our App using aws-cognito-sdk-js. this device Id is required for sending Notifications (in AWS SNS).

Regards,

[2018-04-04 06:27] adityabansal123 commented on #342
Can anyone demonstrate how private files can be accessed by any other user in any react or react native app.

[2018-04-04 06:56] timroesner commented on #587
I've had a similar issue recently, here is what caused it for me:

[code]

[2018-04-04 08:57] JakeSidSmith commented on #543
@powerful23 I can't find any documentation about `unauthenticated` users. What does this mean? Can you link me to some info?

[2018-04-04 09:06] JakeSidSmith commented on #543
Upon loading my app initially there is a single `CognitoIdentitySerivceProvider`:

<img width="188" alt="screen shot 2018-04-04 at 10 03 13" src="https://user-images.githubusercontent.com/5850625/38298530-8361ed80-37ef-11e8-9b78-3087adec4a26.png">

If I try to sign in, which errors with `signin failed` I get these:

<img width="207" alt="screen shot 2018-04-04 at 10 03 36" src="https://user-images

[2018-04-04 13:06] no-on3 commented on #587
@timroesner super wonderful man! that was the issue! gracias

[2018-04-04 13:59] MobileAppVault commented on #550
Hi,

thanks for the help but I am having still the same problem with the performance. :(

Is there any other solution to achieve better performance with the upload?

@Rafaell416: Could you please check if the pic really accessible or try to copy the file to your local app folder `Expo.FileSystem.copyAsync`.

[2018-04-04 15:20] JustFly1984 opened #588 "SSR bug with importing aws-amplify related to dependency paho-mqtt"
Do you want to request a feature or report a bug?

Bug

What is the current behavior?

This bug happens on server side rendering.

I'm setting up `react-static` app, and embedding the code from `aws-mobile-react-sample`

The bug happens on
[code]
I have this error in console:
[code]

I found the workaround:

instead of `import {Auth} from 'aws-amplify';` I do
[code]

If the current behavior is a b

[2018-04-04 15:37] baseten commented on #469
@elorzafe how about disabling a user?

We're having an issue with an app where users may only use their email address as a username to log in. We also allow them to update this email address. When a user does this they are left in a strange state where the user is confirmed, but the email address isn't verified. The user can log in to the app successfully with the new email address (unlike when th

[2018-04-04 15:38] vonkanehoffen commented on #580
Ah didn't know about the difference between `currentSession` and `currentCredentials`. Thanks! Still looks broken though. I set up a demo of the issue here:
https://codesandbox.io/s/48kwy1v7z4

Think something to do with Google's iFrame and the way CodeSandbox catches errors stops them reporting fully, so I put the code in a repo here too:
https://github.com/vonkanehoffen/amplify-test

Run that lo

[2018-04-04 15:59] asalia-marine commented on #192
Getting the same error with react-native. aws-amplify version 0.2.14
`TypeError: user.sendMFACode is not a function`

Somehow the CognitoUser object received in response of Auth.signIn(username,password) doesn't have this sendMFA function. It does contain `challengeName : "SMS_MFA"`

[2018-04-04 16:49] JustFly1984 commented on #588
it generates html files with js and css code splitting. It uses `webpack` to generate assets, and serves assets with webpack-dev-server on https://localhost:3000 in dev environment.

There also staging environment and production build.

I'm not a fan of keeping frontend and backend in the same repo, and I do not want to host my frontend on aws, cos I'm happy to host it with netlify.com.
I already

[2018-04-04 16:58] JustFly1984 commented on #588
PS. My workaround is definitely hacky, cos it contradicts SSR rules of importing dependencies. Basically it ignores those files in SSR, and requires in production. This leads to DOM inconsistency for SSR html and frontend virtual DOM, which in turn leads to warnings in browser console and extra render, which is bad UX.

[2018-04-04 17:12] mlabieniec commented on #588
@JustFly1984 understood, we are working on a set of polyfills, the initial being for this pubsub issue and paho client so that it works in node specifically as well. So hoping that will address this issue for you at least initially, we should have that in PR today will reference this issue for your review. @elorzafe fyi

[2018-04-04 17:24] n-9891-b opened #589 "Cannot sign in after calling Auth.completeNewPassword"
Do you want to request a feature or report a bug?

Bug

What is the current behavior?

Call to Auth.completeNewPassword catches error "signin failed" with no other information.
Subsequent signin attempt calling Auth.signin catches error "signin failed" with no other information.

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.

[2018-04-04 17:25] powerful23 commented on #543
@JakeSidSmith the error message you received when signing out is saying that you cannot get the guest credentials from Cognito identity pool because you didn't allow unauthenticated access to that pool. You can check this setting in the identity pool console.

Can you clean up the localStorage and try again with sign in. If it fails again because of "cannot load cognito credentials", please confir

[2018-04-04 18:26] powerful23 commented on #589
@n-9891-b can you turn on the debug mode to check the details. I guess it is caused because it fails to get the cognito credentials when signing in. Also could you check the http requests?

[2018-04-04 18:50] n-9891-b commented on #589
I turned on debug mode and get the following. I does appear that it is not getting the cognito credentials.

[code]

200 HTTP post request. Here is what the response looks like:

[code]

Not sure what I'm doing wrong here.

[2018-04-04 18:58] powerful23 commented on #589
@n-9891-b can you check those http requests which hit the endpoint ```cognito-identity.your-aws-region.amazonaws.com``` which should return a credentials to you

[2018-04-04 20:40] shanonvl opened #592 "Auth.currentUserInfo() returns {} in componentDidMount"
Do you want to request a feature or report a bug?

BUG

What is the current behavior?

GOAL:  I need to get the full user object ( id, username and attributes ).

ISSUE:  `Auth.currentUserInfo()` seems to work if signing in, however does not when reloading a page with an authenticated session.

React version: 0.16.x ( via `create-react-app` )

I'm using `withAuthenticator` and this is the `compone

[2018-04-04 21:02] n-9891-b commented on #589
Not sure which one you are referring to. No endpoints hit ```cognito-identity.your-aws-region.amazonaws.com``` they only hit ```https://cognito-idp.us-east-2.amazonaws.com/``` The first two request occur after calling Auth.signin:
[code]
Response is:
[code]

[code]
Response is:
[code]

The third request is called after calling Auth.completeNewPassword:

[code]
Response is:
[code]

Following this l

[2018-04-04 21:36] n-9891-b commented on #589
@powerful23 I will try with the Authenticator. Is there a problem with the way I am passing the returned user object from Auth.signin directly into Auth.completeNewPassword?

The following worked for me, but I would much prefer to use the less verbose version that I have been trying.

[code]

[2018-04-04 21:40] powerful23 commented on #589
@n-9891-b The authentication process looks good for me. The problem is that you are notting getting the correct AWS credentials with the jwt Token you get from Cognito.

[2018-04-04 23:38] #496 closed

[2018-04-05 02:15] #579 closed

[2018-04-05 02:20] abemusic commented on #525
We were having to extend the CognitoUser interface with our own to expose the authenticateUserDefaultAuth method which is commented as "PRIVATE ONLY", so obviously we don't want to do that. PR #594 fixes our issue of not being able to set the CUSTOM_AUTH flow type and then call the `authenticateUser` method. Hoping this is useful to others.

[2018-04-05 02:37] abemusic opened #595 "Fix sendCustomChallengeAnswer typings"
Do you want to request a feature or report a bug?

Bug

What is the current behavior?

Current typings for `CognitoUser.sendCustomChallengeAnswer` are invalid. See https://github.com/aws/aws-amplify/blob/master/packages/amazon-cognito-identity-js/index.d.ts#L57 and notice the callback of type NodeCallback...then, look at the actual code https://github.com/aws/aws-amplify/blob/master/packages/amazo

[2018-04-05 02:55] vincentsolutions commented on #238
By inspecting the source, I realized something and wanted to to point it out in case others would need it.

Currently, the docs says that you can retrieve userAttributes like this:
[code]
But this doesn't return the User Attributes directly. You then need to make another call like this:
[code]

[2018-04-05 04:08] causingchaos2 commented on #69
I believe i'm having issues with this topic as well..  How do you access queryStringParameter, if I remove the extra JSON argument in the call to API.get it works perfect! I'm just trying to figure out if this is indeed a problem with AWS amplify and how i'm sending the JSON parameter.

My client side code (aws-amplify 0.2.11 ):
`return API.get('trips','/days', {'queryStringParameters': {'param1':

[2018-04-05 04:14] causingchaos2 opened #597 "API.get() Cannot access event.queryStringParameters when using Amplify and Serverless"
I believe i'm having issues with API.get() . How do you access queryStringParameter?, if I remove the extra JSON argument in the call to API.get it works perfect! I'm just trying to figure out if this is indeed a problem with AWS amplify and how i'm sending the JSON parameter. Thank you in advance if you can push me in the correct direction.

My client side code (aws-amplify 0.2.11 ):
return API.g

[2018-04-05 04:16] causingchaos2 commented on #597
Tried this:

@roosi @ephopper when you pass query string parameters, you need to pass them as part of the initargument object with the queryStringParameters object on the API request. This is because the rest api setup with the cli is a lambda proxy integration:let items = await API.get('sampleCloudApi', '/items', {   'queryStringParameters': {     'test': '1'   } }); You can then access them with

[2018-04-05 06:33] zhulika opened #599 "Please improve the README"
Thank you for producing all of this but please would you improve the README so that someone coming to it for the first time has some chance of getting things up and running without having to absorb your entire SDK when starting up?

This comment, for example, is not helpful when the user is unaware of what her "client id" is, therefore does not know what to put in the field:

![aws_ids](https://us

[2018-04-05 06:59] Jun711 opened #600 "forgotPassword not working?"
#### Do you want to request a feature or report a bug?
I think it could be my configuration of user pool? or the way I signed up a user using Auth is not correct?

#### What is the current behavior?
I got this error when I try to reset password for a registered and confirmed user (because I could authenticate and sign in with that email).
`Cannot reset password for the user as there is no register

[2018-04-05 07:55] Jun711 commented on #600
I deleted and re-signed up using the same user and it is working now. not sure what the bug was.

[2018-04-05 07:55] #600 closed

[2018-04-05 07:58] engharb commented on #542
@powerful23 I also tried
[code]

the result contains the identityId with expired:true ????!

[2018-04-05 08:56] hszeto opened #601 "How to confirm user's updated email?"
Is there a way to send a confirmation email when user changes the email? Just like when user signup.

For example,

[code]

will update user's email on Cognito...

 However, should a confirmation email be sent to "blahBlah@example.com" before updating the record?

[2018-04-05 11:31] yovetichg commented on #472
On https://docs.aws.amazon.com/toolkit-for-visual-studio/latest/user-guide/deployment-ecs-aspnetcore-ec2.html, the "Specify your AWS credentials" link is broken.

[2018-04-05 11:33] yovetichg opened #602 "Broken link on documentation site"
On https://docs.aws.amazon.com/toolkit-for-visual-studio/latest/user-guide/deployment-ecs-aspnetcore-ec2.html, the "Specify your AWS credentials" link is broken.

[2018-04-05 11:33] #602 closed

[2018-04-05 14:16] salomao-rodrigues commented on #493
I'm getting the same error while running unit tests for components that include aws-amplify.
Looking at Amplify.configure options I can't find where such memory storage would go as a setting.

https://github.com/aws/aws-amplify/blob/1dba7093af821d2c9d152c32b715d45cb90fe0ff/packages/aws-amplify/lib/Auth/types/Auth.d.ts#L13-L20

[2018-04-05 14:42] bntamm commented on #568
i got the same error

[2018-04-05 16:42] mlabieniec commented on #69
@causingchaos2 to use query params depends on how your Lambda is setup i.e. API Gateway lambda proxy. If you are using a standard API Gateway lambda proxy (for example if you've bootstrapped your app with the [awsmobile-cli](https://github.com/aws/awsmobile-cli)) you will need to update the express backend `awsmobilejs/backend/cloud-api/sampleLambda/app.js` file with the middleware:

[code]

Then

[2018-04-05 17:19] mlabieniec commented on #599
@zhulika the client id comes from your Amazon Cognito User Pool:
https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-settings-client-apps.html

You can create / automate the create of all this with the [awsmobile-cli](https://github.com/aws/awsmobile-cli), you will need to just make sure you have you access keys for interacting with AWS (see instructions on the awsmobile-cli for se

[2018-04-05 17:35] leezen commented on #127
Relatedly, it doesn't appear that the SDK is properly encoding path parameters either. For example, if a path parameter has a '%' or '@' in it, the signature will be incorrect and the request will fail.

[2018-04-05 17:38] nuttmeister commented on #127
Sorry for the late reply, I have been away for a while. I will try to update the coverage this weekend so the PR can be merged. The fix should fix the %, @ as well.

Have you tried the PR manually @leezen ?

[2018-04-05 19:38] leezen commented on #127
Are you referring to this PR? https://github.com/aws/aws-amplify/pull/378/files -- if so, I think it won't address the problem I'm mentioning because nothing is touching the path segments. Referring to https://docs.aws.amazon.com/general/latest/gr/sigv4-create-canonical-request.html -- the path segments must be URI encoded. So I think you would need to also apply fixed_encodeURIComponent to each o

[2018-04-05 19:45] causingchaos2 commented on #127
I can confirm this works fine:
[code]
You can easily pull out stuff from the body.

However, this does not work:
`return API.get('trips','/days', {'queryStringParameters': {'param1': "99b60260-363c-11e8-b7ca-250a890d0675"}})`

This will ALWAYS send a null parameter for the JSON object, whether it be body, or queryStringParameter JSON object.

and event.queryStringParameter  will == null on the API

[2018-04-05 19:46] causingchaos2 commented on #127
I hope they add this to amplify soon! :) ... Appending the query parameters is fine for now I guess.

[2018-04-05 19:48] Jun711 commented on #536
Should custom attribute keys have prefix **custom:** when I signUp or updateUserAttribute using Amplify?
I got this error: `A client attempted to write unauthorized attribute` when I tried to signUp a mutable custom attribute.

[code]

[2018-04-05 19:52] hotgazpacho commented on #439
It looks like Cognito User Pools expose an OIDC interface over the top of the configured SAML federated IdPs. So, auth is initiated by visiting the `/oauth2/authorize` endpoint and providing a set of query string parameters. The two most important ones that I see, that would need explicit configuration for usage, are:
  - `client_id`
  - `identity_provider`

That latter parameter tells Cognito whi

[2018-04-05 19:52] nuttmeister commented on #127
@leezen ahhh, ok. yeah, it's just going to be uriencoded by axios default uri encoding. so will not work in that case.

i can add the fixed uri encoding to the path segment as well this weekend if that will make you happy :P

[2018-04-05 19:55] BerndWessels commented on #589
@n-9891-b @powerful23 I am seeing this `{[WARN] 49:04.613 API - ensure credentials error: "Failed to load creadentials"}` just now - Yesterday it was still working and now without any changes to my code or infrastructure it gives me this warning.

[2018-04-05 20:03] leezen commented on #127
Sure! That will save me from having to make an additional PR :) Looking forward to seeing the change merged in!

[2018-04-05 20:47] powerful23 commented on #589
@BerndWessels can you try reload and see if this happens again?

[2018-04-05 20:50] n-9891-b commented on #589
@powerful23 tried with the Authenticator with the same failed result. The only way that works for me is with the amazon-cognito-identity-js package.

[2018-04-05 21:02] powerful23 commented on #589
@n-9891-b Still the issue is that you didn't hit the endpoint ```cognito-identity.your-aws-region.amazonaws.com``` which is to get the AWS credentials for you. Your authentication flow is correct and do get the jwt token back. The problem is that for now Amplify will ensure the user to get the credentials before change the state to ```signin``` or it will just tell you ```signin fails```. So if yo

[2018-04-05 22:56] buggy commented on #525
@abemusic  _Use case 25. Authenticating a user with a passwordless custom flow_ on https://github.com/aws/aws-amplify/tree/master/packages/amazon-cognito-identity-js shows how to initiate a custom auth flow. If you're using Javascript it works fine now. If you're using TypeScript you'll need to wait until #566 is finished and merged because the type definition for `initiateAuth()` is missing.

[2018-04-06 06:02] hotgazpacho commented on #439
Another thought here:

Not specific to SAML-federated User Pool users, but a quick way to get an integration win might be to expose a way to register a token refresh handler. Right now, these are added automatically in the constructor for `Auth`. When `Auth.currentUserCredentials()` is called, it checks to see if you have logged in with a federated provider. If you have, it then checks to see if t

[2018-04-06 06:36] AlpacaGoesCrazy commented on #174
Oh well, i just noticed that component wrapped in `withAuthenticator()` is supplied with `onStateChange()` props. And it works perfectly like this:
[code]

[2018-04-06 13:31] vithmel opened #606 "How to immediately disable user?"
I wrote yesterday in the comments:
https://aws.github.io/aws-amplify/media/api_guide
---
Hi, I have some problems with Api Gateway and Auth in my React Native App. I configure Cognito user pool, and Api Gateway manually. I can sign up, sign in, sign out. In Api Gateway I use Authorization: AWS_IAM and api was deployed.
Api Gateway trigger Lambda function, everything works fine, then I manually del

[2018-04-06 15:08] mathewpower commented on #543
Hi @powerful23 I'm working on this with @JakeSidSmith . We're a little confused as to what we need to set up. We are not actually using Identity Pools. Instead we have a User Pool which we are using in API Gateway to authorise against.

From what I can tell, Identity Pools are used to grant federated access to AWS services which isn't what we're doing so granting unauthenticated access also doesn'

[2018-04-06 16:28] richardzcode commented on #606
If I understand correctly, this is a feature request for Cognito backend to sign out all devices when disable / delete a user. Cognito SDK has a method `globalSignOut` however that is meant for the user to trigger, not admin.

[2018-04-06 16:41] richardzcode commented on #576
@BWillis98 Glad you made it work! If you are building a web app, you may just assign `event.target.files[0]` to `whatGoesHere` on file input change event, and don't need ContentEncoding. PR #593 is going to address this in document.

[2018-04-06 17:04] vithmel commented on #606
Yes, you are right, it must be on the server side. If Cognito caches tokens, then at the moment when the user is disabled or deleted, it is necessary to update the cache, otherwise there are security problems.

[2018-04-06 17:15] powerful23 commented on #543
@mathewpower we use the jwt token from the user session to create an identity in that identity pool so that the user can get an aws credentials which allows him to use other aws services like S3, Pinpoint. For now we bind these two together(user pool and identity pool) as this is the most common use case but yes, we might need to support the case if developer just want to use the User Pool to get

[2018-04-06 18:34] yuntuowang commented on #606
Hi @vithmel, I will create this feature request on your behalf.

[2018-04-06 21:49] powerful23 commented on #574
Closing as the pr has been merged. Thanks for the contributing!

[2018-04-06 21:49] #574 closed

[2018-04-07 01:36] tyson-kubota opened #609 "`authData` not set upon new user signin and password reset"
Do you want to request a feature or report a bug?
Bug

What is the current behavior?

Background: I am using `Authenticator` component with child components, including `RequireNewPassword`.  Users can't sign up on their own for my application; they are pre-created in the AWS Cognito console.

Steps:
1. I create a new Cognito user in the AWS Cognito console, and require that user to change their pa

[2018-04-07 05:53] BWillis98 commented on #576
We actually use the [react-native-image-picker module](https://github.com/react-community/react-native-image-picker), so using `event.target.files[0]` wouldn't work in our case. It made much more sense to upload a file given the URI of the file on the local device than to figure out how to make it work with events. I have a feeling it's obvious to most others using AWS what kind of data needs to b

[2018-04-07 11:03] baharev commented on #570
Upgraded to:

[code]
and (from `package.json`):

[code]
also:

iPhone OS 11.3

In short, everything is at the latest stable release (as far as I can tell).

It makes no difference; I have the exact same buggy behavior.

[2018-04-07 15:54] raphadko commented on #565
Did you find a solution?

[2018-04-07 20:16] zhulika commented on #599
@mlabieniec Thank you very much for your detailed and very helpful description. I know what to read, now :)

[2018-04-07 20:16] #599 closed

[2018-04-07 20:21] DocCaliban opened #610 "Usernames and emails are case sensitive (Bug)"
Usernames and emails are case sensitive

**Repro:** Create user with email Test@Test.com then Create user with email test@test.com
**Results:** In the Userpool, both users are created

**Repro:** Create user with username Dave then Create user with username dave
**Results:** In the Userpool, both users are created

I have read all the comments in cognito issue's [524](https://github.com/aws/amazon

[2018-04-08 03:06] ffxsam opened #611 "Storage file structure and S3 lifecycle transitions"
Just a quick note—a flaw, maybe—on Storage:

I realized due to the directory structure `(public|private)/<userId>/...`, it's impossible to have an S3 lifecycle transition rule use a prefix. Typically I might set a prefix like `files/original/`, but this isn't possible with Amplify. If prefixes supported wildcards, we could do something like `private/*/original/`, but that's not possible.

This isn

[2018-04-08 05:00] saxenankit123 commented on #558
Hello jimshell - I am also stuck with this same issue ! Any luck on solution ?

[2018-04-08 08:42] amiram commented on #552
@Jun711 @richardzcode Adding types of packages is the responsibility of the package developer, not the consumer, otherwise any package consumer will find himself adding many types for packages he doesn't know about, and he doesn't know when to update or delete them in case their usage was changed by the package developer. Those two definitions should be included by aws-amplify in the `dependencies

[2018-04-08 22:37] guanzo opened #612 "Redirect to url after clicking email verification link"
When the user clicks on the email verification link, they're taken to a confirmation page, located at

https://APP.auth.us-east-2.amazoncognito.com/confirmUser?client_id=CLIENT_ID&user_name=USERNAME&confirmation_code=CODE

I'd like the ability to specify a URL that the confirmation page will redirect to, thereby auto logging in the user. This will make the signup flow more streamlined. Perhaps the

[2018-04-09 04:36] rmit-s3613862-Anushka-Kalinga commented on #589
I'm facing the same issue and is there any new update on this issue.

[2018-04-09 05:32] AlexSun98 opened #613 "Does this lib has anything like Redux-Saga to handle async calls & side effects?"

[2018-04-09 08:20] omatrot opened #614 "signOut does not work in the browser"
Do you want to request a feature or report a bug?

**bug**

What is the current behavior?

**signOut does not work in the browser**
https://aws.github.io/aws-amplify/media/authentication_guide.html#sign-out

What is the expected behavior?
The expected behavior is that after **signOut()**, **currentSession()** returns null or undefined.
This is working correctly on React Native, tested OK on Androi

[2018-04-09 08:37] pimvernooij commented on #87
Hi, is there an update on the timelines?

[2018-04-09 11:49] cgarvis commented on #493
Don't have full SSR yet, but I was able to check if there user is authenticated by looking at the cookie for `CognitoIdentityServiceProvider.${userPoolWebClientId}.LastAuthUser` and then the JWT which is also in the cookie.

[2018-04-09 12:16] dev-jpnobrega commented on #399
@powerful23 currentAuthenticatedUser returns "not authenticated" for federated users

[2018-04-09 15:00] baseten commented on #589
I'm having the same issue. Login works correctly when running the app from my local machine on `localhost`, but fails in production over https.

On my local machine, the login network calls proceed as follows:

* X-Amz-Target: AWSCognitoIdentityProviderService.InitiateAuth
* X-Amz-Target: AWSCognitoIdentityProviderService.RespondToAuthChallenge
* X-Amz-Target: AWSCognitoIdentityService.GetId
* X-A

[2018-04-09 15:42] ashishsoni opened #615 "Could Not load Image after Upload to S3 as JPEG File"
I am able to upload the image to s3 but when i try to view or download back i am getting below error

![s3_upload_image_error](https://user-images.githubusercontent.com/877509/38507544-d0636d08-3bea-11e8-9d5c-a8ace26ceadc.png)
After capturing from camera

this.camera.getPicture(options).then(
        imageData => {
          this.base64Image = "data:image/jpeg;base64," + imageData;
});

Storage.pu

[2018-04-09 15:57] AbhideepChakravarty commented on #500
As per your example given at https://github.com/aws/aws-amplify/blob/master/docs/media/authentication_guide.md

 // REQUIRED - Amazon Cognito Identity Pool ID
        identityPoolId: 'XX-XXXX-X:XXXXXXXX-XXXX-1234-abcd-1234567890ab'

is not needed. We are so badly stuck at the logout process. The /logout URL is not killing the token. Token remains alive even after login. Hoping amplify would help b

[2018-04-09 16:07] steffenmllr commented on #308
@jordanskole did you figure this out? I'm also looking for a working solution / demo to use Developer Authenticated Identities with aws-amplify and a `federatedSignIn`. Is this even supported at the moment ?

[2018-04-09 16:08] mlabieniec commented on #615
@ashishsoni can you see what the response code is from the service? 404 / 500 ? Also, how do you have Storage configured i.e. Public / Private? Can you add a [debug log](https://aws.github.io/aws-amplify/media/logger_guide) here as well, thanks.

[2018-04-09 16:09] mlabieniec commented on #614
@omatrot how did you SignIn via API or via Authenticator? Can you add a [debug log](https://aws.github.io/aws-amplify/media/logger_guide) as well i.e. Amplify.Logger.LOG_LEVEL="debug"

[2018-04-09 16:14] mlabieniec commented on #613
@AlexSun98 most of all calls within the library return / utilize asynchronous promises which can be used with either `await` or `then().catch()` within `async` functions.  See [here](https://aws.github.io/aws-amplify/media/authentication_guide#sign-up) for a simple example.

[2018-04-09 16:14] #613 closed

[2018-04-09 17:16] yuntuowang commented on #610
Hi @DocCaliban, thanks for pointing out this issue. We already track on it and we are working on the fix. Thanks!

[2018-04-09 17:17] jordanskole commented on #308
@steffenmllr, I didn't. I think I reached a similar conclusion as @buggy and am now using JWTs with a custom authorizer for protected routes w serverless.

JWT verifies the token, checks the dynamo "users" table and then builds the resource policy.

[2018-04-09 17:29] #609 closed

[2018-04-09 18:45] tyson-kubota commented on #609
@powerful23 @richardzcode Thanks for the fix. Per https://github.com/richardzcode/aws-amplify/blob/master/packages/aws-amplify-react/src/Auth/AuthPiece.jsx#L60-L61, is the `changeState` method expected to work with an undefined `data` argument?

If not, maybe the `handleStateChange` at https://github.com/aws/aws-amplify/blob/master/packages/aws-amplify-react/src/Auth/Authenticator.jsx#L51-L58 coul

[2018-04-09 19:14] jwdinker commented on #588
This also seems to be happening with the manual setup of Auth.
![2018-04-09_14-13-07](https://user-images.githubusercontent.com/2313028/38517657-47475014-3c00-11e8-9aa5-36f322e7cd92.png)

[2018-04-09 19:25] danieladams456 commented on #439
Here is [the flow](https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-saml-idp-authentication.html).  Currently I'm using this with Angular and ADFS.  It would be awesome to take out some of my custom code for a more declarative Amplify implementation.  Since Angular is a work in progress, maybe they'll come out around the same time.

[2018-04-09 19:34] dev-jpnobrega commented on #399
aws-amplify  0.2.14
aws-amplify-react 0.1.38

After the federated authentication it returns the access_token, however Auth.currentAuthenticatedUser () returns "not authenticated"

[2018-04-09 20:08] powerful23 commented on #399
@dev-jpnobrega can you turn on the debug mode by ```window.LOG_LEVEL='DEBUG'```? And also could you check your localStorage to see if there is an item named like ```aws-amplifyfederatedUser```

[2018-04-09 21:38] richardzcode commented on #615
Hey @ashishsoni , If upload with base64 encoded, you'll need to set 'ContentEncoding' with 'base64'

#576 has more discussion on this.

[2018-04-09 22:43] jimshell commented on #558
Hello saxenankit123,

I have not tried to find any temporary workaround for this, I'm confident that the AWS/Amplify Team will sort this out quickly :)

The only thing I can think of at the moment would be to use a timeout wrapper around the signin call, and consider it "failed due to network" if it does not complete within the given time range (could be 10, 15, 30s... 10s is already pretty long i

[2018-04-09 23:35] guanzo opened #618 "Auth.setPreferredMFA(user, 'TOTP') requires phone number verification?"
I'm trying to setup MFA with TOTP. Everything works, including `Auth.verifyTotpToken`. However, when I try to set the preferred MFA with `Auth.setPreferredMFA(user, 'TOTP')`, I get an `InvalidParameterException`, with the message, `User does not have a phone_number set to turn on SMS MFA`. The phone number shouldn't matter, it's wholly unrelated to TOTP authentication.

Since `Auth.setPreferredMFA

[2018-04-10 01:39] spendres commented on #500
Are you calling Auth.signout() during the logout process? The token is a
temporary credential, so I don't think the JWT would be destroyed until you
call the global signout. That is, an Auth.signout() by Amplify from your
federated app, wouldn't preclude the user from using other resources or
other federated apps if they existed at the creation of the token.

On Mon, Apr 9, 2018 at 11:57 AM, Abhid

[2018-04-10 02:27] mrowles commented on #382
@mlabieniec @yuntuowang Just noticed that the `enhancement` tag was removed, does this mean that this is not being considered for work anytime in the near future?

[2018-04-10 06:56] wichert opened #619 "Signout breaks with unconfigured google auth"
I am walking through https://github.com/richardzcode/Journal-AWS-Amplify-Tutorial which seems to be a decent tutorial. I did run into a bug in the Greetings widget related to logout: if the gapi javascript is loaded but not configured `getAuthInstance()` will return `null`:

[code]

Greetings does not handle that situation, resulting in this error when you try to logout:

[code]

The simplest fix

[2018-04-10 07:25] engharb commented on #542
@powerful23 thank you. I am waiting for your updates soon. But I still have a question what if I do not what to use Cognito Hosted UI feature.?

[2018-04-10 10:26] omatrot commented on #614
@mlabieniec Id did SignIn via API.
I'll add debug log tonight.

[2018-04-10 10:28] AbhideepChakravarty commented on #500
There are two concerns:
1- I am not able to create the Auth object as it is mandatorily asking for identityPoolId, which I dont have because I dont need. I am not able to proceed. Identity Pool Id must not be REQUIRED field because people can only use User Pool. Making IdentityPoolId mandatory forces the Amplify user to have Federated Identities. That might not be required in many cases like yours

[2018-04-10 11:34] JustFly1984 commented on #347
110kb to validate the phone number in production React app? I better make a lambda function and validate phone number with throttled thunk. Thanks for and idea. In other project I had user input phone validated with calls to Twillio. Now I can save some money, and ditch Twillio for next project.

[2018-04-10 13:40] pbeshai commented on #614
Amplify version is 0.2.14. Reverting to 0.2.11 (my previously used version) fixes the problem.

Same issue is happening to me. Unfortunately setting LOG_LEVEL does not appear to do anything. I've tried both `window.LOG_LEVEL = 'debug'` and `Amplify.Logger.LOG_LEVEL = 'debug'` before and after configuring Amplify and nothing seems to affect the logger used in Auth, which still shows up as `ConsoleL

[2018-04-10 14:41] omatrot commented on #614
@mlabieniec Nothing to add, then. This is it.

[2018-04-10 14:47] dev-jpnobrega commented on #399
Hi @powerful23,

![image](https://user-images.githubusercontent.com/28389807/38563563-8c64605c-3cb3-11e8-9c61-c5eda359bf50.png)

![image](https://user-images.githubusercontent.com/28389807/38563594-a043c5b8-3cb3-11e8-8f08-96e59b0a96b6.png)

[localhost-1523370483986.log](https://github.com/aws/aws-amplify/files/1895063/localhost-1523370483986.log)

[2018-04-10 14:56] dev-jpnobrega commented on #399
If I use the Auth.federatedSignIn it creates the localstorage aws-amplify-cachefederatedInfo and aws-amplify-cacheCurSize, but Auth.currentAuthenticatedUser returns not authenticated

aws-amplifyfederatedUser is not created

[2018-04-10 15:24] wesgrimes opened #621 "API.get() results in CORS error when running from localhost React project"
I used the 'AWS Mobile Hub' web site to create a Mobile Hub for my project and selected JS Web as the project type. I added Cloud Logic to the Mobile Hub using the web page.

In my React app, the authentication works, but when I try to call API.get(), I receive a CORS error 'Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the r

[2018-04-10 16:08] wesgrimes commented on #621
I just started over and used "awsmobile cloud-api enable" from the command line, and was able to get it to work.

It looks to me like there is an issue with adding "Cloud Logic" to a mobile hub by using the web interface. It creates a different solution for the backend than if you use the CLI to add cloud-api.

[2018-04-10 16:22] ajmontero opened #622 "API.get() not adding security credentials"
Do you want to request a feature or report a bug? bug

What is the current behavior?

I am using Auth to include authentication in my React(web) app using
`import Amplify, { Auth } from 'aws-amplify';
import aws_exports from './aws-exports';
import { withAuthenticator } from 'aws-amplify-react';
Amplify.configure(aws_exports);
...

export default withAuthenticator(DashApp);`

In a sub container I

[2018-04-10 17:57] nidsharm commented on #621
@wesgrimes ,
Thanks for trying out Amplify and reporting this to us. We'll take a look into the issue with Mobile Hub and CORS policies for API Gateway.
I'm closing this for now, please feel free to re-open this if you have any questions.

Thanks.

[2018-04-10 17:57] #621 closed

[2018-04-10 19:10] richardzcode commented on #619
Hey @wichert Thanks for reporting this! Yes this is a bug, and the fix is valid. Do you want to make a PR for it? Or else we'll make sure it get fixed in next release.

[2018-04-10 21:53] bloveless opened #624 "Add custom refresh handlers for custom federated identities."
I'd like to request a feature.

What is the current behavior?
I'm using `$cognito_client->getOpenIdTokenForDeveloperIdentity([/* custom things here */])` in php to get a developer token which I then pass into AWS Amplify by issuing the following:

[code]

On the first request this works great! I get logged in and all is great. The second request I get

[code]

When this message is displayed the cr

[2018-04-10 22:47] bloveless commented on #624
I feel like I'm doing this wrong anyway :) I'll investigate more and close this if I am doing something wrong.

[2018-04-10 23:32] powerful23 commented on #399
@dev-jpnobrega do you have cognito identity pool and pass its id into Amplify? You are using a federated provider named "NaturaAD" but did you set it as a provider in that cognito identity pool? If you didn't, you cannot get a valid credential from Cognito.

[2018-04-10 23:43] HopScotch47 opened #625 "CognitoUser.prototype.setUserMfaPreference is missing from typescript index"
Do you want to request a feature or report a bug?
Bug

What is the current behavior?
Method is missing.

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than AWS Amplify.

What is the expected behavior?
The function should be expo

[2018-04-11 00:26] quangv opened #627 "Amplify global"
Do you want to request a feature or report a bug?

Have an Amplify global namespace, (or maybe AWS.Amplify), to use Amplify outside of npm/webpack tooling.

What is the current behavior?

Not sure if there's a way to use aws-amplify without npm/webpack.

What is the expected behavior?

It'll be great to easily use this without npm/webpack, maybe have it be on a CDN.

[2018-04-11 01:33] wichert commented on #619
@richardzcode I would happily have made a PR, but due to timezones it was already fixed it while I was asleep :)

[2018-04-11 08:20] ildar-icoosoft opened #629 "Error while building: Cannot find type definition file for 'paho-mqtt'."
Do you want to request a feature or report a bug? bug

What is the current behavior?

When I build my project I get this error in console:
[code]
Which versions of Amplify, and which browser / OS are affected by this issue? Did this work in previous versions?

aws-amplify 0.2.14

[2018-04-11 08:30] wichert opened #630 "Add signout component to aws-amplify-react"
This is a feature request: when creating a custom UI you can reuse a lot of existing components normally used in the greeter such as `SignIn` and `SignUp`. It would be very practical if there was a `Signout` component as well. At the moment all the logout logic is hardwired in `Greetings`, which also insists on adding a navbar-structure around the logout button making it unusable in your own UI.

[2018-04-11 10:01] ankitkante opened #631 "Support Push Notifications for non-ejected CRNA apps"
Do you want to request a feature or report a bug?
Feature

What is the current behavior?
The docs mentioned [here](https://aws.github.io/aws-amplify/media/push_notifications_setup.html) describes in detail, how to setup notifications in a react native app. But, from the looks of it, this will not work for non-ejected CRNA apps

What is the expected behavior?
If no support available, then provide s

[2018-04-11 10:34] slackday commented on #588
This bug must have been introduced in the last couple of versions. After not working on my hobby project for couple of weeks I upgraded to versions

[code]

I use aws-amplify and Cognito for the first time so I'm a little too green to dig deeper at the moment I'm afraid.

@JustFly1984 I have a similar setup as you with React SSR. I downgraded to my previous versions where SSR works and I hope it h

[2018-04-11 11:32] seblegall commented on #582
up? Any idea how I could handle errors from my API?

[2018-04-11 11:33] JustFly1984 commented on #588
@slackday Thank you, but It works for me with my workaround now, and I'm not sure that it wont break the other way if I downgrade. I'll wait till the bug will be fixed, and will remove workaround then. I'm glad to know that this wasn't an initial aws-amplify's bug though! It means that it could be fixed pretty fast. On other hand it is a week went since I catch this bug. Hope it will be fixed soon

[2018-04-11 12:28] MobileAppVault opened #632 "Expo 26.0 - Storage.put - blob - "Expected params.Body to be a string""
Hi,

a few days ago I've reported some performance issues for `storage.put` and I got a working solution
which will reduce the time from 30 seconds to 5 seconds.

My use case is to upload >4MB images to the S3 bucket which was taken by `expo.Camera.takePictureAsync()`.

Now I have a strange issue which only occures when I publish my app via expo to make it available on expo.io.

**What is the curr

[2018-04-11 12:31] MobileAppVault commented on #550
I've created a new issue for my blob upload problem with published expo app and will close this one.

**Conclusion**

Expo 26.0 with react-native 0.54 and the blob type will reduce the upload time with 4MB images on ios from 30 seconds to 5 seconds.

[code]

[2018-04-11 12:31] #550 closed

[2018-04-11 16:06] quangv commented on #140
I'm getting `Uncaught ReferenceError: Buffer is not defined` when trying to compile with `shadow-cljs` that could be related?

[code]

[2018-04-11 17:41] nidsharm commented on #632
Hi @MobileAppVault ,

Could you try using something similar to fs in nodejs to create a read stream (for eg: in fs, the method would be createReadStream). There are npm packages that are available for this in react-native too.

[2018-04-11 17:42] richardzcode commented on #629
Hey @ildar-icoosoft could you run `npm install @types/paho-mqtt`?

[2018-04-11 17:48] nidsharm commented on #631
Hi @ankitkante ,

Thank you for trying out Amplify. Push notifications cannot be added to non-ejected CRNA apps. This is because there are some differences in how push notifications are handled in iOS and Android. This causes us to update the platform folders of the app for the feature to work.
Please feel free to re-open this issue if you have any questions.

[2018-04-11 17:48] #631 closed

[2018-04-11 17:59] mlabieniec commented on #627
@quangv you can use Amplify without webpack, it's a little different setup but even if you include the amplify.min.js dist in your head tag you can still access and configure it, this can give you a bit of an idea on that with for example ember.js: https://itnext.io/adding-aws-amplify-to-an-ember-js-application-72683167c476

Also, we have a request on cdnjs that is prioritized: https://github.com/

[2018-04-11 18:01] nidsharm commented on #622
Hi @ajmontero ,

Can you please check if you have CORS enabled on API Gateway?

[2018-04-11 18:14] cheedep opened #634 "Amplify should only create modules configured and should provide a way to 'clean-up'"
Do you want to request a feature or report a bug?
Bug
What is the current behavior?
After Unit tests are completed, mocha does not terminates as something from the Amplify module is preventing it.

What is the expected behavior?
There should be a way to clean-up the Amplify module. There should be a way to just use select modules from Amplify. For example if I just want to use Auth and API, it sho

[2018-04-11 18:42] MobileAppVault commented on #632
Hi @nidsharm ,

I guess I have to eject my expo app if I want to do that.
Correct me if I'm wrong?

[2018-04-11 19:10] richardzcode commented on #630
This might help: https://github.com/richardzcode/Journal-AWS-Amplify-Tutorial/tree/master/step-02#4-greetings

[2018-04-11 19:58] mlabieniec commented on #634
@cheedep totally agree! We are working on moving from webpack to rollup to do this. It requires a bit of refactoring and cleanup on the typescript side which we will be working on next! And the plan is to do exactly this i.e. allow importing only of specific modules.

Yes paho-client is used for the PubSub category.

[2018-04-11 20:03] mlabieniec commented on #611
@ffxsam thanks for the feedback, we are working on making those prefixes configurable (this sprint). If the prefixes were configurable would this solve for this particular use case? Also can you provide some more details in regards to what you might want to see there. @powerful23 fyi

[2018-04-11 20:30] ffxsam commented on #611
Yes, it would definitely solve this use case!

One of my issues with Amplify so far is that it boxes us in too much by removing customizability. Allowing us to specify our own key prefix would be really helpful.

[2018-04-11 20:36] richardzcode commented on #619
👍 :)

[2018-04-11 20:58] #576 closed

[2018-04-11 22:06] quangv commented on #627
@mlabieniec Thanks, that helped. I guess you can access it via `window["aws-amplify"]`

This solved the problem for me, I'll close the ticket. If anyone feels the need, feel free to re-open. :)

[2018-04-11 22:06] #627 closed

[2018-04-11 22:57] ZebGirouard commented on #302
@mlabieniec , any update on this?  Would love for React Native support, at least for Google and FB.  We have an enormous amount of S3 video traffic (like an upload every couple minutes, and an enormous amount of GETs), and we would love to standardize on Amazon.  Trying to get a mobile app now, but we're blocked...seems like you guys are close?

[2018-04-12 00:28] jfo8000 opened #637 "Accessing window.localStorage causes SecurityException on ios private browsing"
Do you want to request a feature or report a bug?
Bug

What is the current behavior?

- Start with an iphone device, a react.js website created using create react app that uses amplify.
- Use the built in Safari browser to navigate to the website
- Turn on private mode browsing, (which will cause a security exception whenever someone calls window.localStorage)

The source of the problem appears to

[2018-04-12 06:04] ildar-icoosoft commented on #629
@richardzcode Why does aws-amplify has not @types/paho-mqtt in package.json? I don't want to know about all your dependencies. This is a bug and you should not close this issue

[2018-04-12 07:23] 7772 opened #638 "Running on device(ios), undefined is not a function (...window.addEventListener )"
#### My environment..

  "dependencies": {
    "amazon-cognito-identity-js": "^2.0.3",
    "aws-amplify": "^0.1.36",
    "aws-amplify-react-native": "^0.2.7",
    "aws-sdk": "^2.224.1",
    "immutable": "^3.8.2",
    "react": "^16.3.0-alpha.1",
    "react-native": "0.54.0",
}

import Amplify, { API } from 'aws-amplify';
import aws_exports from '../../aws-exports';

Amplify.configure(aws_exports);

[2018-04-12 08:00] karlmosenbacher opened #639 "Correct way of using currentSession"
Do you want to request a feature or report a bug?
Feature

What is the current behavior?
When calling Auth.currentSession() after updating user attributes with Auth.updateUserAttributes, the current session wont have the updated user attributes. Is this the expected behavior?
If so, is there a way to update the current session without having to authenticate the user again?

And is the user session

[2018-04-12 08:43] mg131 commented on #629
Followed the documentation and looked at nothing else, had the same issue on building an Angular application from scratch. Thankfully someone had a similar issue.

[2018-04-12 12:22] cgarvis opened #640 "New polyfill to fix PubSub for SSR breaks checks for SSR."
**Versions**:
aws-amplify@0.2.15
next.js@5.0.1

**What is the current behavior?**
When using the latest amplify code with polyfill, it doesn't polyfill the `window` object fully so it breaks other SSR checks liked here: https://github.com/zeit/next.js/blob/085b2f806afd4d16e6f4754cce62e88d7bd47518/lib/router/router.js#L45-L50 which in `getUrl` is looking to the `href` on `location` which hasn't bee

[2018-04-12 13:00] rdingwell commented on #505
I know this issue is closed but I figured it would be useful to answer this question in the context of the original question here.

How do you set the refreshToken expiration period?  I have not seen how to do this in the documentation or in the AWS Management consoles for either Cognito or my MobileHub app.

If it needs to be done in code is there an example available?

Thanks

[2018-04-12 13:45] rdingwell commented on #505
Never mind, found it under App Clients in the Cognito management console

[2018-04-12 15:25] shanonvl commented on #630
@wichert I worked around this using [Auth.signOut](https://github.com/aws/aws-amplify/blob/master/packages/aws-amplify/src/Auth/Auth.ts#L839) directly:

[code]

[2018-04-12 16:38] vccabral commented on #375
@wilmsoft I am receiving the same errors and am trying to work out a solution. The window being undefined is highly suggestive to me. I am not sure exactly how to phrase this but, the window is part of a browser dom and my tests are for an expo react-native project so I think a window object doesn't nor should exist.

 FAIL  ./App.test.js
  ● Test suite failed to run

    TypeError: window.addEven

[2018-04-12 17:16] nidsharm commented on #640
Hi @cgarvis,

Thank you for reporting this bug. We will fix it soon.

[2018-04-12 17:19] nidsharm commented on #638
Hi @7772,

Can you try running the app with the latest version of Amplify?

[2018-04-12 17:28] vipseixas commented on #592
I have the same problem and based on your log:
[code]
I tryed putting a `await Auth.currentCredentials()` before the `await Auth.currentUserInfo()` to force it to load the credentials and apparently it worked around the issue...

[2018-04-12 17:30] richardzcode commented on #637
The way iOS safari treats local storage in private mode is a bit different than other browsers. I'll make a fix soon.

[2018-04-12 17:33] nidsharm commented on #632
Hi @MobileAppVault ,

You are right, if you have to use react-native-fs package you will have to detach your app.

I would suggest you print out the value of blob in console logs before sending it, and also check if you are uploading only jpeg images here.

[2018-04-12 17:46] nidsharm commented on #622
@ajmontero , CORS is used to add additional HTTP headers to let user agent get permission to access resources from a different domain than the website. It is designed specifically for a script from a foreign domain, running in the browser, sending a request to your server that includes your authorization cookies.

In a native app, there won't be any foreign scripts that are able to make a request

[2018-04-12 17:46] #622 closed

[2018-04-12 17:50] guanzo opened #642 "forgotPassword() sends code through SMS instead of email"
**Do you want to request a feature or report a bug?**
Feature

**What is the current behavior?**
The forgotPassword() function sends code through SMS, if users phone number is verified.

**What is the expected behavior?**
I can choose whether to send the code through SMS or Email.

**Which versions of Amplify, and which browser / OS are affected by this issue? Did this work in previous versions?**

[2018-04-12 17:54] yuntuowang commented on #625
Hi @HopScotch47, I have sent a PR about this fix to Amplify team. They will review it and merge it soon! Thanks.

[2018-04-12 18:47] nidsharm commented on #642
Hi @guanzo,

You can set your preference for where you would want to receive the verification code on your user pool in the Cognito console.

You need to go to the Cognito User Pool console for your pool, and on the left pane click on MFA and Verifications. Then untick Phone Number for "Do you want to require verification of emails or phone numbers?" and save your changes.

![screen shot 2018-04-1

[2018-04-12 19:12] nidsharm commented on #612
Hi @guanzo ,

You can go to Cognito User Pool console for your pool, then on the left pane click on App Client Settings under App Integration. There is an option to set your Callback URL there.
We don't currently support specifying the Cognito settings on awsmobile-cli. I'm adding this to our backlog.
Let us know if you face any issues adding your url.

[2018-04-12 21:11] Jasminou opened #646 "SignIn with confirmed user failed"
Do you want to request a feature or report a bug?
report bug
What is the current behavior?
confirmed user can not signIn, i'm getting an error message: signin failed,
If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than AWS Amplif

[2018-04-12 22:37] wilmsoft commented on #375
Chris,

"are you also using the aws-amplify sdk for a react-native application?"

Yes! Sorry I didn't make this clear in the issue.  But, I'm with you,
window object should not exist in react-native.

Quoting Chris Cabral <notifications@github.com>:

Links:
------
[1] https://github.com/wilmsoft
[2] https://github.com/aws/<span%20index=
[3]
https://github.com/notifications/unsubscribe-auth/AJMC9ba

[2018-04-12 22:55] richardzcode commented on #646
Hey @Jasminou could you set LOG_LEVEL to 'DEBUG'? Then we can have detailed logs of what was happening during sign in.

[2018-04-12 23:04] richardzcode commented on #638
It is a side effect of Polyfills.ts. The latest version of Amplify should have fixed the issue.

@7772 could you run `npm install aws-amplify@latest` and see if problem persists?

Thanks,
Richard

[2018-04-12 23:52] 7772 commented on #638
@nidsharm @richardzcode

I solved this error after $ npm install aws-amplify@latest

Thanks a lot Friends!

[2018-04-13 00:43] hardingmatt commented on #589
I stumbled across this thread because I was also getting a generic "`signin failed`" message from the AWS Amplify call to `Auth.signIn(...)`.

Not sure if this will help anyone else, but _my_ problem was:
1. My User Pool had 2 AppClientIds (one for iOS, one for Javascript)
1. **but** my Identity Pool was only linked to one of them.

This meant I was getting a token back, but it was failing validat

[2018-04-13 01:17] shouvik44 commented on #392
@nuttmeister @mlabieniec I also got this "no user pool" error today on Amplify.SignUp and SignIn after updating my npm packages. I'm using MobileHub web interface to manage a wide range of AWS services as the serverless backend for ReactNative customer app, and a React web admin app. It seems most problems go away if you cut out the Amplify layer, and just use the more rigorous AWS SDK for javascr

[2018-04-13 01:25] jfo8000 commented on #637
@richardzcode Thanks!! :)

[2018-04-13 03:21] shouvik44 opened #651 "Cognito Amplify Auth.confirmSignIn fails"
Do you want to request a feature or report a bug?
- A bug

What is the current behavior?
- I've manually configured Auth/Cognito in 2 apps, one is a mobile app in React-Native and one is a web app in React.
- I've required MFA with an SMS
- I can login and confirm signin just fine in the React-Native mobile app
- I can login - but can't confirm sign in in the web app
- The React/Redux function to

[2018-04-13 04:04] #638 closed

[2018-04-13 04:15] guanzo commented on #642
My app provides the option to setup Multi Factor Authentication with SMS. If the user chooses to do that, they must verify their phone number. According to https://github.com/aws/amazon-cognito-identity-js/issues/464, if their phone number is verified, cognito will always send verification codes through SMS.

Unfortunately unticking the Phone Number box didn't fix it. Cognito will only send codes

[2018-04-13 04:25] guanzo commented on #612
@nidsharm That callback URL seems to be for cognito's hosted UI. I'm using my own UI.

[2018-04-13 04:46] Jasminou commented on #646
@richardzcode  here is the network request
status code 200
{"ChallengeName":"PASSWORD_VERIFIER",
"ChallengeParameters":{"SALT":"8644d44fff86479d76d93ebeeada0501",
"SECRET_BLOCK":"mAJRhJhJPTWxxxxxc/nk",
"SRP_B":"d8xxxxxxxxxx",
"USERNAME":"yasmine",
"USER_ID_FOR_SRP":"yasmine"}}

status code 200
{"AuthenticationResult":
{"AccessToken":"e8q_xxxxxxxx,"ExpiresIn":3600,
"IdToken":"uDxxxxxxxxg",
"Refresh

[2018-04-13 06:57] MobileAppVault commented on #632
Ok, will give it a try the next days and let u know if this works.

[2018-04-13 07:01] dolezel opened #652 "Please pre-compile `aws-amplify-react/dist/API/GraphQL/Connect.js`"
When building app with this dependency with create-react-app it throws error:

[code]

Please pre-compile `aws-amplify-react/dist/API/GraphQL/Connect.js`

see http://bit.ly/2tRViJ9

[2018-04-13 09:46] engharb commented on #542
@itrestian @powerful23
after getting sessionToken, secretAccessKey and accessKeyId. Is it possible to authenticateUser with these keys instead of 'username and password'?

if yes, How?

regards.

[2018-04-13 13:38] MikaelSvenn commented on #589
This issue occurs from Amplify version 0.2.12 onwards.
Downgrading back to 0.2.11 resolves it for now.

[2018-04-13 16:07] Jasminou commented on #629
@mg131 how did you solve this problem ?

[2018-04-13 16:27] mlabieniec commented on #629
@ildar-icoosoft thanks for the feedback, agreed, this should be added we will add this into the next release.

[2018-04-13 16:35] richardzcode commented on #651
Hey @shouvik44 could you turn LOG_LEVEL to 'DEBUG'? So we can get detailed logs.

`Amplify.Logger.LOG_LEVEL = 'DEBUG'`

[2018-04-13 16:43] richardzcode commented on #646
Looks like it is not challenging with 'PASSWORD_VERIFIER' which Amplify does not handle right now. I am looking into this right now.

[2018-04-13 17:19] Jasminou commented on #646
ok thx, do you think its possible to have a work around to change the 'password_verifier' and use another challenging that is supported ?

[2018-04-13 17:28] richardzcode commented on #646
Sorry @Jasminou . I was wrong. Actually 'PASSWORD_VERIFIER' was not the cause, it is handled internally in cognito, so we don't need to do anything for it. From the sequence of network and logs, confirmation actually succeeded. But loading credentials with the session failed.

I am guessing you are not using Mobile Hub aws_exports.js? Is it okay for you to share what you have configured to identit

[2018-04-13 17:32] ganap commented on #513
Any update on the ETA for federated login HOC for React Native?

[2018-04-13 17:32] ganap commented on #311
Any update on the ETA for federated login HOC for React Native?

[2018-04-13 17:34] richardzcode commented on #651
We have another issue #646 may be same. From network and logs looks like `identityPoolId` config is the potential cause.

@shouvik44 is it okay for you to share your `identityPoolId` config? If not, could you confirm if it follows pattern of ` [\w-]+:[0-9a-f-]+`?

Basically that means something like: us-east-1:b0ee1234-5ae6-7c89-0123-45dd67890c1d, notice latter part must not have letters outside o

[2018-04-13 17:34] richardzcode commented on #646
If not, could you confirm if it follows pattern of ` [\w-]+:[0-9a-f-]+`?

Basically that means something like: us-east-1:b0ee1234-5ae6-7c89-0123-45dd67890c1d, notice latter part must not have letters outside of a - f.

[2018-04-13 17:39] shouvik44 commented on #651
Hey @richardzcode - I ran the detailed logs and am seeing these issues.
1) AuthClass - gettingSessionSuccess.
2) AuthClass - set credentials from session
Post 1: There's a Post to the cognito-identity server that's returning a 400 error.
3) AuthClass: "Failed to load credentials: CognitoIdentityCredentials" with an object the expired is true, expireTime is null, and accessKeyId is undefined.
4) Au

[2018-04-13 17:41] shouvik44 commented on #651
@richardzcode The identityPoolId is us-east-1:23b582de-690e-43a0-b9c5-fff3deac112d

Think that passes the regex test you gave.

[2018-04-13 17:43] richardzcode commented on #651
it is same as #646 . confirm MFA succeeded but load credentials failed. The server side complain about 'identityPoolId' is invalid.

Could you run `npm install aws-amplify@latest`? Just to make sure.

[2018-04-13 17:44] Jasminou commented on #646
@richardzcode , yes i'm not using mobile Hub aws_export.js, yes it's possible to share, below my config:
` amplify: {
    Auth: {

      identityPoolId: 'us-east-2:829033370241:userpool/us-east-2_HBVMSuMGx',
      region: 'us-east-2',
      userPoolId: 'us-east-2_HBVMSuMGx',
      userPoolWebClientId: '369dr816imj748s1oqik954f08',
}
}

[2018-04-13 17:49] richardzcode commented on #646
I think the 'identityPoolId' is wrong. Remove the userpool part may work.

[code]

[2018-04-13 17:54] richardzcode commented on #651
In logs,

right after '[DEBUG] ..:..:... AuthClass - set credentials from session',
and before '[DEBUG] ..:..:... AuthClass - getting session failed "Failed to load credentials",
there is a CognitoIdentityCredentials object.

Could you expend it, and check 'params' -> 'identityPoolId' value of it?

[2018-04-13 17:55] Jasminou commented on #646
@richardzcode, removing the part with the userpool don't fixe the problem, also i've this message error, when i remove the userpool part: {"__type":"ResourceNotFoundException","message":"IdentityPool 'us-east-2:829033370241' not found."}

[2018-04-13 18:09] Jasminou commented on #646
@richardzcode , how the sign in work fine when i create a user from the console of the identityPoolId is wrong, the identityPoolID is suppose to match the Pool ARN config right ?

![capturepp](https://user-images.githubusercontent.com/14798195/38750811-1cf9b334-3f24-11e8-8bb4-aa436efea41a.PNG)

[2018-04-13 18:10] shouvik44 commented on #651
I expanded CognitoIdentityCredentials and params.IdentityPoolId is what I
expect -  us-east-1:23b582de-690e-43a0-b9c5-fff3deac112d.

However, after the npm install to the latest aws-amplify, I'm seeing more
details in the error. After AuthClass - Failed to Load Credentials, am
seeing

"AuthClass - getting session failed: Error: Token is not from a supporter
provided of this identity pool."

Here's

[2018-04-13 18:27] richardzcode commented on #646
yes that thread is correct. Basically user pool is for user management, identity pool for authenticating aws service requests.

[2018-04-13 18:37] Jasminou commented on #646
ok thx i will try to follow what they said thx again for u help

[2018-04-13 19:33] Jasminou commented on #646
@richardzcode you were right, the pool id was wrong, its working now

[2018-04-13 19:33] #646 closed

[2018-04-13 20:45] richardzcode commented on #646
@Jasminou we are working on #655 which means your sign in wouldn't fail without identity pool. However in this case client don't have credentials although signed in. Theoretically if you don't consume other AWS services this should be okay.

[2018-04-13 21:15] nidsharm commented on #642
We have a HOC in aws-amplify-react package to handle MFA using TOTP token. You can find the details of setting it up here in the Authentication guide: https://github.com/aws/aws-amplify/blob/b516278bff53addf856ef71efa37a4cb1b4baa70/docs/media/authentication_guide.md under the Enabling MFA section.
This should ensure that SMS is not set as the default option for forgotPassword.
Can you try it out?

[2018-04-13 21:26] #281 closed

[2018-04-13 21:32] mlabieniec commented on #311
@ganap we found some issues we need to work out within the core Auth class prior to completing the HOC for react native. Once we get past that we will complete / launch the hoc.

[2018-04-13 21:34] mlabieniec commented on #326
@ffxsam TOTP was launched so closing this issue for now, please let us know if you want to re-open it to track anything else.

[2018-04-13 21:34] #326 closed

[2018-04-13 21:37] mlabieniec commented on #347
closing this in favor of using the recommended utility. Please feel free to re-open and let us know if you think we should build this in.

[2018-04-13 21:37] #347 closed

[2018-04-13 21:39] mlabieniec commented on #364
Added docs for this:
https://aws.github.io/aws-amplify/media/quick_start#working-with-aws-service-interface-objects

[2018-04-13 21:40] #366 closed

[2018-04-13 21:47] mlabieniec commented on #387
@yuntuowang any suggestions on this?

[2018-04-13 21:51] #401 closed

[2018-04-13 21:52] mlabieniec commented on #402
this enhancement has been released

[2018-04-13 21:52] #402 closed

[2018-04-13 21:53] mlabieniec commented on #403
will get this added to the readme

[2018-04-13 22:02] yuntuowang commented on #387
Hi @RameshRM, I am not entirely we have this feature now.
About custom message, Amazon Cognito invokes this trigger before sending an email or phone verification message or a multi-factor authentication (MFA) code, allowing you to customize the message dynamically. Static custom messages can be edited in the Message Customizations tab of the Amazon Cognito console.

https://docs.aws.amazon.com/cog

[2018-04-13 22:02] mlabieniec commented on #411
@jfo8000 can you let us know if our new docs and updates address your issues? Please feel free to reopen if you feel we should fix anything. Thanks!

[2018-04-13 22:02] #411 closed

[2018-04-13 22:04] #427 closed

[2018-04-13 22:09] mlabieniec commented on #431
@nomadus please feel free to re-open this if you think there is anything we should add for this.

[2018-04-13 22:09] #431 closed

[2018-04-13 22:25] #433 closed

[2018-04-13 22:32] ffxsam commented on #326
Rad! Thanks @mlabieniec, I'll check it out next time I'm working on auth.

[2018-04-13 22:39] ganap commented on #311
Do you have a timeline on that ?

Sent from my iPhone

[2018-04-13 22:40] mlabieniec commented on #456
#437 has been merged

[2018-04-13 22:40] #456 closed

[2018-04-13 23:06] mlabieniec commented on #473
@aloukissas were you able to get an answer from support on this?

[2018-04-13 23:07] richardzcode commented on #651
Is it possible your identity pool doesn't have the user pool setup as one of the providers? In AWS Console, it is in "Authentication Providers" section of the identity pool.

[2018-04-13 23:16] richardzcode commented on #639
@karlmosenbacher just wanted to confirm. What attributes are you trying to retrieve? Are you calling `Auth.userAttributes(user)` to get attributes?

[2018-04-14 01:08] mg131 commented on #629
@Jasminou I created a new app through Angular CLI (CLI version 1.7.4 and Node at version 9.11.1 if that matters).

`ng new <app-name>`

After that, the only package I installed was aws-amplify.

`npm install --save aws-amplify`

Now, if you start using amplify (I only used Auth as a test) and building your application using `ng serve`, you'd notice a ton of errors pop up.

node_modules/aws-amplify

[2018-04-14 01:11] Jasminou commented on #629
@mg131 yes thx this is what i did after few research thx :)

[2018-04-14 02:09] shouvik44 commented on #651
@richardzcode This was exactly the issue! Thanks for your help figuring this out!

My UserPool and IdentityPools were out of synch. The IdentityPool was pointing to the wrong userpool and the wrong client id. In case anyone runs into this problem, I actually did 2 separate things that caused this.

Here's my use case - which I imagine is fairly common. I am building a mobile app for customers, and

[2018-04-14 04:32] guanzo opened #658 "API use case"
Is the API module only used for making requests to AWS endpoints?

I'm running my own server and would like to secure my REST endpoints by verifying the cognito users JWT. Does the API module automatically add the JWT, specifically the ID Token, to the request headers? Or do I need to manually add the JWT to my requests?

[2018-04-14 10:48] chrisehlee commented on #104
@mlabieniec you're doing an awesome job on following this up. However, what's the ETA for 0.4 though?

[2018-04-14 12:37] AlexThomas90210 opened #659 "Files uploaded to /public should not need a signed url to access"
Do you want to request a feature or report a bug?
feature

What is the current behaviour?
Currently, when using Storage.put it uploads files to the public/ directory of the user-files s3 bucket. These files require a signed URL to access.

What is the expected behaviour?
Currently, there are 3 directories in the user-files by default, they are
**/public**          -> files here should be accessibl

[2018-04-14 18:42] mwarger commented on #659
Related to https://github.com/aws/aws-amplify/issues/518?

[2018-04-15 03:01] mg131 opened #660 "Appsync subscriptions not working"
**Do you want to request a feature or report a bug?**
Bug

**What is the current behavior?**
Running a fresh Angular application with no other dependencies aside from `aws-amplify@0.3.0` and type definitions to get the package to work: `@types/paho-mqtt@1.0.3`, `@types/zen-observable@0.5.3`, and `@types/node@6.0.106`.

I'm not sure if I missed anything here but when using the API module to subscri

[2018-04-15 03:31] reyhaan commented on #500
Although I did add identity pool for my user pool and my life is once again happy, but I would really love to remove this identity pool, which I cant right now

[2018-04-15 10:51] marcolanaro commented on #500
On the same boat: it's possible to workaround setting up federation identity.
Still, if you want to integrate with appSync through API using AMAZON_COGNITO_USER_POOLS, it will not work because of this
https://github.com/aws/aws-amplify/blob/master/packages/aws-amplify/src/API/API.ts#L290
AUTH needs to allow user pool authentication without federation identity.

[2018-04-15 11:05] sreyseng commented on #500
@spendres Completely removing `identityPoolId` property from `Amplify.configure` still causes `Auth.signIn` to hit the error condition for me (I get "signin failed" error message). Although I do see tokens being populated when calling `Auth.currentSession()`.

[2018-04-15 11:36] marcolanaro commented on #500
Something very related that could help troubleshooting.

Assume Identity Pool ID is set up and this is the configuration:
`Amplify.configure({
  Auth: {
    identityPoolId: process.env.REACT_APP_IDENTITY_POOL_ID,
    region: process.env.REACT_APP_REGION,
    userPoolId: process.env.REACT_APP_USER_POOL_ID,
    userPoolWebClientId: process.env.REACT_APP_USER_POOL_WEBCLIENT_ID,
    mandatorySignIn: t

[2018-04-15 15:56] sanjosedennisns7593 commented on #512
currently tackling the same issue, i tried to install aws-amplify@beta, still ain't working.

[2018-04-15 23:55] kerly opened #661 "Feature Request: Support for multiple Auth user pools"
I would like to request that the Auth class have support for multiple user pools similar to the way the API class has support for multiple endpoints. Currently I am unable (as far as I am aware) to configure multiple user pools in the same application. If there is already a solution for this please point me in the direction of the documentation as I was not able to find it.

Use cases for this fea

[2018-04-16 02:16] smsenesac commented on #470
Figured this out. I had code in my startup logic to enable debugging of network requests:

`
if (__DEV__) {
  GLOBAL.XMLHttpRequest = GLOBAL.originalXMLHttpRequest || GLOBAL.XMLHttpRequest;
}
`

This apparently causes issues with newer versions of react following changes to the fetch implementation. The correct way to debug network requests in the simulator now is to enable request inspection in t

[2018-04-16 10:09] nomadus opened #663 "Clarify some steps in Storage related documentation"
Do you want to request a feature or report a bug?
This is mainly a documentation clarification request

What is the current behavior?
Some steps needs to be clarified, such as:
1. Do we need to change S3 permissions apart CORS configuration provided in the documentation https://aws.github.io/aws-amplify/media/storage_guide? By default S3 bucket is created with private access only and upload of a f

[2018-04-16 10:57] manueliglesias commented on #660
Hi @mg131, thanks for pointing out the docs error, as you correctly mention, `API.graphqlSubscribe()` doesn't exist, the correct one for all GraphQL operations is `API.graphql()`.

Regarding not receiving data, can you verify in your network tab of the developer tools that a network request to start the subscriptions handshake is made and that a websocket connection is opened?

[2018-04-16 11:30] navjotdhanawat commented on #238
How to update custom attribute @vipseixas ?

[2018-04-16 12:03] engharb commented on #542
@powerful23
bug

I want to integrate/install Aws-Amplify and use hosted UI in my Ionic mobile project. Project src/Assest contains the following files:
amazon-cognito-identity.min.js, aws-sdk.js ...

I have run ```$ npm install aws-amplify --save```. And when I start run ```$ ionic cordova run android``` I got the following exception:
[code]

The goal is:
to use AWS-Amplify for authenticating user

[2018-04-16 16:08] alexsmartens opened #666 "How to explicitly set accessKeyId and secretAccessKey?"
I'm working on multiple RN projects. For one of the projects I have to use S3 to access the data, and I'm having the following error:
[code]
After rigorous debugging, I figured out that that I'm making request with the credentials of a different project. This is happening despite I explicitly set up awsmobile credentials with `awsmobile configure`.

I tried to set up credentials over again with  `

[2018-04-16 16:25] mlabieniec commented on #666
@alexsmartens you shouldn't need to do this, perhaps this is an issue with the CLI configuration, @UnleashedMind what do you think?

As for credentials, these are set by Cognito when using Amplify after logging in. They are temporary credentials. It's highly recommended you don't hard code the access key / secret key onto the front end application. The underlying low-level JavaScript SDK is what u

[2018-04-16 16:44] elorzafe commented on #666
Hi @alexsmartens when you call Amplify.configure(aws_exports); This will load credentials from your cognito identitypool, this could be unauth or auth credentials depending on how did you configure your project. That is why you have different credentials as you are using on awsmobile configure.

How are you trying to upload your file?

[2018-04-16 16:53] richardzcode commented on #663
I can answer the third question.

Pickers are widgets which help load files. They are not tied with S3 service.

S3Image and S3Text wrap PhotoPicker and TextPicker respectively. They work with S3 service. By providing `path` to S3Image and S3Text they manage upload/update/display by themselves without additional code.

S3Image and PhotoPicker work with image files. S3Text and TextPicker work with

[2018-04-16 17:25] bloveless commented on #624
Also, see this PR https://github.com/aws/aws-amplify/pull/665 which fixes an issue with providing the identity_id to the developer token.

[2018-04-16 17:27] alexsmartens commented on #666
Hi @elorzafe,
here is how I'm trying to upload my files:
[code]

[2018-04-16 17:30] alexsmartens commented on #666
@mlabieniec: I think I really might be an issue with CLI configurations

[2018-04-16 17:47] powerful23 commented on #512
@sanjosedennisns7593 can you try the latest version?

[2018-04-16 18:15] alexsmartens opened #668 "How to disable default bucket level prefix?"
Here is original MyS3Bucket  structure:
[code]

After using Amplify it's changed to this:
[code]

Here is how I put objects to the storage:
[code]
I also tried
[code]
and
[code]
which basically stores the files to directories with the `public `or `private ` root correspondingly.

PROBLEM: how to disable the default prefix (`public` or `private ` ) to be able to store files directly to folders in t

[2018-04-16 18:30] vomc opened #669 "Unable to resolve module `./src/aws-exports` in demo app"
I am reporting a bug in the aws react-native starter demo app: https://github.com/aws-samples/aws-mobile-react-native-starter

Following all steps here verbatim in terms of install and config and then doing `npm run ios`.

App builds and then I get the ios simulator with an iPhone 6 open and a confirmation that the build succeeded.

However then when the app starts I get that typical red reactNati

[2018-04-16 18:40] powerful23 commented on #542
@engharb you can check this [sample](https://github.com/ionic-team/starters/tree/master/ionic-angular/official/aws). For that error we will make a fix on that, thanks.

[2018-04-16 18:48] dhumeniuk commented on #542
@powerful23, you mention adding support for Cognito Hosted UI. Is there a issue tracking this feature? I would be interested in being able to use this.

[2018-04-16 18:53] powerful23 commented on #542
@dhumeniuk It has been merged in master branch but not published yet. We are going to publish a beta version this week.

[2018-04-16 19:18] bloveless opened #671 "Many redundant requests, even though properly caching"
**Do you want to request a feature or report a bug?**

I think this is a bug. Or a misunderstanding on my part.

I checked here https://docs.aws.amazon.com/cognito/latest/developerguide/limits.html and didn't see any specific rate limits for the GetCredentialsForIdentity, but wanted to make sure before I invested too much time into this.

**What is the current behavior?**

On every page load, even

[2018-04-16 19:39] richardzcode commented on #668
The default public/private directories has default security policy setup by MobileHub. They are convenient for many use cases. However we do see other cases. My colleague is working on the request. Will be available soon.

[2018-04-16 20:09] alexsmartens commented on #666
I tried to explicitly set up the credentials for testing:
[code]
which caused the following error:
[code]

[2018-04-16 21:05] richardzcode commented on #669
Hey @vomc , I just tried to follow steps and had no problem running the starter. This is what I did:

[code]

Could you check if you have `src/aws-exports.js` file in project folder?

One possible cause is maybe if you are having older version of awsmobile-cli. Could you try `npm install -g awsmobile-cli@latest` and see if it works?

[2018-04-16 22:11] elorzafe commented on #666
Can you paste the data inside of awsmobilejs/backend/mobile-hub-project.yml

[2018-04-16 22:29] alexsmartens commented on #666
My awsmobilejs/backend/mobile-hub-project.yml:
[code]

[2018-04-16 22:42] richardzcode commented on #669
is there a `src/aws-exports.js` file? it contains AWS configurations

[2018-04-16 22:45] powerful235 commented on #601
@hszeto hi can you check this doc [Verifying When Users Change Their Email or Phone Number](https://docs.aws.amazon.com/cognito/latest/developerguide/signing-up-users-in-your-app.html)

[2018-04-16 22:47] #619 closed

[2018-04-16 22:47] yuntuowang commented on #612
Hi @guanzo, yes, I understand your situation. It is a good point to add a parameter: https://APP.auth.us-east-2.amazoncognito.com/confirmUser?client_id=CLIENT_ID&user_name=USERNAME&confirmation_code=CODE&redirect=URL

I will mark this as a feature request. Thanks!

[2018-04-16 22:51] vomc commented on #669
Yup that was it. I can confirm that there is now a `src/aws-exports.js` and the app launches from the simulator. Thanks for the help!

[2018-04-16 23:44] ceich opened #673 "S3Image uses path prop inconsistently"
_Do you want to request a feature or report a bug?_
Bug (or else my confusion ;-)

_What is the current behavior?_
When S3Image is given `picker="true"` and `path` props (and not `imgKey`), `handlePick` treats the `path` prop as a prefix, tacking on the result of `calcKey`, when putting the image. However, the `load` method always uses `path` unmodified to get the image. This makes it impossible t

[2018-04-17 00:06] #669 closed

[2018-04-17 02:57] mg131 commented on #660
Hey @manueliglesias, I took a look at the network tab and yes, a network request was sent.

Image of network request here (XHR tab):
[https://imgur.com/Die7CTK](url)

But it doesn't seem to create a websocket to the subscription.

Image of websockets in Chrome here (WS tab):
[https://imgur.com/TJwR9I5](url)

This is pretty much the only code I did for Amplify. Am I doing something wrong here? No r

[2018-04-17 05:44] engharb opened #675 "Possible Bug in aws-amplify/lib/Analytics/types/Analytics.d.ts"
Bug

I ran ```$ npm install aws-amplify --save```. And when I start run ```$ ionic cordova run android``` I got the following exception:
[code]
those two constants values must be numeric ones not string i.e.
[code]
in order to solve problem from angular transpile.js ? Hope that will be fixed soon.

regards,

[2018-04-17 05:54] engharb commented on #542
@powerful23 thanks a lot for your help and responses. I am eagerly looking for the coming feature utilizing hosted UI (especially in social login). and regarding to the sample that you announce I have successfully configured and implemented the complete login process for our Mobile App and Web App using aws-cognito-sdk.js .

Now I am thinking weather to use ```aws-cognito-sdk.js``` directly or use

[2018-04-17 07:27] karlmosenbacher commented on #660
Im facing the same issue with aws-amplify-react-native library. Queries works fine, but I cannot use subscriptions. When I try subscriptions in the AppSync console it works fine.

[2018-04-17 07:38] kyeljmd opened #676 "How to perform social Login with Google Account"
Do you want to request a feature or report a bug?
Bug.

What is the current behavior?
In the documentation, there is no instruction on how to use Login using an external identity Provider.

What is the expected behavior?
Detailed example on how to login to cognito using external Identity Provider like Google.

I already configured all of the necessary configurations for cognito, and google however

[2018-04-17 07:57] sanjosedennisns7593 commented on #512
@powerful23  yup, i'm currently using the latest version.

[2018-04-17 11:02] stevemao commented on #390
@ldgarcia how do you get `userId` in your example?

[2018-04-17 11:05] stevemao commented on #390
You are not answering the question. how to get `AccessToken` then?

[2018-04-17 12:20] tunecrew opened #677 "withOAuth missing from dist in aws-amplify-react"
In aws-amplify-react master branch, withOAuth is present in the src dir but not in the dist dir, although it is referred to in the dist/index file exports.

To use withOAuth I had to clone the repo and manually rebuild the package

[2018-04-17 13:05] richardsengers opened #678 "Uncaught ReferenceError: global is not defined in latest Angular 6 RC"
**Do you want to request a feature or report a bug?**
Feature / Bug

**What is the current behavior?**
A dependencies of Buffer.js is causing an error on global node variable.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other tha

[2018-04-17 13:29] engharb commented on #542
@powerful23 I am sorry for asking you frequently. I am able to use
[code]
The result consists of accessKeyId, sessionToken .... The Question :
Is it possible to use this sessionKey or token by using pre-defined function in order to get (idToken, accessToken, refreshToken) and automatically assign/store those values in the session?

I think such a function is needed to be implemented or workaround?

[2018-04-17 16:10] VicFrolov opened #679 "forceAliasCreation defaults to true when calling confirmSignup, opposing what the AWS docs say, and there is no way to edit this value."
### Do you want to request a feature or report a bug?

bug

### What is the current behavior?

When calling confirmSignUp, forceAliasCreation seems to be set to true, with no ability to set it to false. The docs state "By default set to False", but with amplify it seems to be set to true. This makes me very nervous to use this in production.

### If the current behavior is a bug, please provide th

[2018-04-17 16:47] richardzcode commented on #675
@engharb the problem is incompatibility between angular and typescript. Could you provide detailed steps so we can see if we could reproduce the issue?

Also, could you provide the output of these two command?

[code]

Thanks!

[2018-04-17 16:49] richardzcode commented on #676
Hey @kyeljmd is this what you are looking for?

https://aws.github.io/aws-amplify/media/authentication_guide#enabling-federated-identities

Also this might help
https://github.com/richardzcode/Journal-AWS-Amplify-Tutorial/tree/master/step-03#3-federated-sign-in

[2018-04-17 17:31] richardzcode commented on #677
@tunecrew thank you for reporting this! It was an issue in our build process. We'll correct that very soon.

[2018-04-17 17:46] richardzcode commented on #677
made a new build, withOAuth is now present in dist dir.

[2018-04-17 17:46] #677 closed

[2018-04-17 20:11] jack-wells commented on #351
Hello! Can I make a suggestion that there be a way to pass parameters to the withAuthenticator HOC other than through a call to ReactDOM.render()? I'm trying to use withAuthenticator() with Gatsby, and it hides the ReactDOM.render() call. It would be nice to pass the theme as a parameter to withAuthenticator.

[2018-04-17 20:57] surmer commented on #652
Hello! Thanks for plugging the issue - I was using withAuthenticator() on a Gatsby starter site and was getting that error. Now I'm getting a "No userPool" error when I try to log in. I've associated my Gatsby project with a new AWS Mobile Hub backend, but still getting the same error when I try to sign up. It is most definitely associated with a Cognito user pool. Thoughts?

[2018-04-18 02:11] kyeljmd commented on #676
@richardzcode  Honestly, I am not quite sure. I was looking for a way to login with Google as an Identity Provider since  I registered it in AWS Cognito. But the AWS documentation is not really helpful, and vague. Can anyone else chime in in this one?  Is that the same as logging in with cognito using an external identity provider such as Google?

[2018-04-18 07:12] kyeljmd opened #681 "NotAuthorizedException: Token is not from a supported provider of this identity pool when using Google as Identity Provider"
Do you want to request a feature or report a bug?

What is the current behavior?
Upon calling federatedSignIn using Google it returns a

"NotAuthorizedException: Token is not from a supported provider of this identity pool when using Google as Identity Provider"

I'm using a 3rd party library namely angular5-social-login for logging in social providers such as google. I believe I have configured t

[2018-04-18 09:47] buddhikajay opened #684 "Documentation about Pub-Sub Module with AWS IoT"
We did not find a good documentation on how to use PubSub module with AWSIoT. Had to go through the code to figure out how it works. I'm happy to help with documentation, if we can discuss what should be documented.

[2018-04-18 12:04] supun19 opened #685 "cognitoIdentityId"
`options = {
        headers: {
          Authorization: token,
        },
        body: payload,
      };`

event.requestContext.identity.cognitoIdentityId is null.
i send a request using API.post();
could you help me.

[2018-04-18 15:37] lusentis commented on #453
I confirm that this works correctly in `aws-amplify@^0.2.12` and `aws-amplify@0.3.0`.
Thanks!

[2018-04-18 16:43] mbahar commented on #684
Hi @buddhikajay, we have documented available API for Pub/Sub. We'd be glad to see your PR for suggested improvements. Thanks!

[2018-04-18 16:57] richardzcode commented on #681
@kyeljmd from error message it does look like a configuration problem. Could try to follow instructions here: https://aws.github.io/aws-amplify/media/authentication_guide#enabling-federated-identities

It uses gapi directly, may eliminate possible causes from integrating plugin.

[2018-04-18 17:16] hassankhan commented on #663
I might have some answers for 1 and 2, but I'm afraid they're incomplete since I haven't managed to figure out what else is missing.

If you are using Cognito for authentication, then you must add a policy allowing your federated users access to the S3 bucket. This policy can also be used to restrict users from accessing each others' files.

The best way to see what it's doing is to create a fresh

[2018-04-18 17:29] TheVaporTrail opened #686 "aws-amplify 0.3.0: "Uncaught ReferenceError: require is not defined" when packaged with webpack"
Do you want to request a feature or report a bug?
**Bug**

What is the current behavior?
**Absolutely minimal app (only uses 'import Amplify') results in browser [MacOS Chrome v65] _'Uncaught ReferenceError: require is not defined'_ error when loading page**

**Chrome reports that the error is on the "require" line:**
[code]

If the current behavior is a bug, please provide the steps to reproduce

[2018-04-18 17:47] richardzcode commented on #686
Hey @TheVaporTrail what is your webpack config?

[2018-04-18 18:07] TheVaporTrail commented on #686
For _sampleProj_, I did not specify a webpack config; webpack is using its default config. I do have a webpack config for the new project that I created yesterday where I first encountered this problem; in that config I set _module.exports.target = web_ and also tried _module.exports.output.libraryTarget = umd_

Please let me know if there is a particular webpack config you would like me to test.

[2018-04-18 21:08] elorzafe commented on #652
Hi aws-amplify-react@0.1.41 fixed that problem.

The issue you mention with No userPool it happen to me.
Please check if exists ```node_modules/aws-amplify-react/node_modules/aws-amplify```

If that happen I fixed by installing aws-amplify with the same version that is required for aws-amplify-react. And then install aws-amplify-react that should remove the folder I mentioned before.

[2018-04-18 21:27] #589 closed

[2018-04-18 22:15] #611 closed

[2018-04-19 01:05] simonbuchan commented on #661
Tooling doesn't support it well, but this is possible already to an extent:

[code]

Or you could detect if login returns "username not found" and reconfigure with the next, etc., don't have tested code for that.

We're doing something like this for a developer mode that lets us at runtime switch the backends for the same build of a react-native app for testing purposes.

[2018-04-19 01:30] Jun711 opened #690 "[Question] How to invoke lambda without using API Gateway and access the params?"
What is the current behavior?
I got 403 error when calling API.get(). Did I miss some steps?
err message is
Unable to determine service/operation name to be authorized

I configured Amplify based on the following example. Does yourFuncName have to be an arn?
https://aws.github.io/aws-amplify/media/api_guide
[code]

Which versions of Amplify, and which browser / OS are affected by this issue? Did t

[2018-04-19 01:45] mlabieniec commented on #690
403 is a permissions (forbidden) error. Are you sure you credentials/role has invoke permissions? If you are using cognito you will need to make sure either your auth or unauth role has lambda invoke permissions. https://docs.aws.amazon.com/lambda/latest/dg/intro-permission-model.html

[2018-04-19 01:55] Jun711 commented on #690
right, I figured out that it is the credential error. The unauth role didn't have lambda invoke permission.
Thanks.

[2018-04-19 01:56] #690 closed

[2018-04-19 01:58] surmer commented on #652
Hi @elorzafe, thanks for the tip! I tried upgrading to the latest aws-amplify (0.3.0) and aws-amplify-react (0.1.41) and made sure neither module was installed in node_modules, but to no avail. Maybe I'm doing something wrong?

To recreate this:

[Create new Mobile Hub project, note the id number, and add a Cognito user pool]

Edit the src/pages/page-2.js to add:
  import {withAuthenticator} from

[2018-04-19 02:03] elorzafe commented on #652
Where did you initialize this?
[code]

I usually do this in the entry point of my app

[2018-04-19 02:27] mlabieniec commented on #684
@buddhikajay Thank you, we are aware that the setup on the IoT side is a bit difficult to configure. We are going to try and work with the IoT team to try and simplify this and also would like to build / automate some of this into the awsmobile-cli. If there is anything you'd like to contribute / PR in the meantime that would be greatly appreciated.

[2018-04-19 05:44] kyeljmd commented on #681
@richardzcode I'm working with typescript, and I needed to use a wrapper for the gapi, and I ended up using this one.

I was able to retrieve the id token, and expires at, however after passing it to Auth.federatedSignIn I still receive the error for this one.

[2018-04-19 07:09] engharb commented on #675
@richardzcode
[code]

[code]

[2018-04-19 10:08] manueliglesias commented on #660
@mg131 @karlmosenbacher

I couldn't reproduce the issue you are seeing, I created a small codesandbox with working vanilla js code. I would suggest looking closely at how Amplify is being configured there.

The code assumes a schema from the sample API in the AppSync console, but shouldn't be too complex to adapt to yours.

[![Edit 3yq2nkv2p](https://codesandbox.io/static/img/play-codesandbox.svg)

[2018-04-19 16:15] #387 closed

[2018-04-19 16:29] ldgarcia commented on #390
@stevemao
In order to call `adminGetUser` you need to know the `username`. [I configured my pool](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-settings-attributes.html#user-pool-settings-usernames) to use the email address as an alias, and the `username` to be created automatically. In this case the `username` is the same as the userId (`sub`).

My Lambda function receives t

[2018-04-19 16:36] karlmosenbacher commented on #660
@manueliglesias thanks! I'll take a look

[2018-04-19 16:51] #470 closed

[2018-04-19 16:53] mlabieniec commented on #480
@NRaf Angular components have been launched, see
https://aws.github.io/aws-amplify/media/angular_guide

[2018-04-19 16:53] #480 closed

[2018-04-19 16:56] mlabieniec commented on #487
@mbahar perhaps we can add some of these to a troubleshooting section in the docs?

[2018-04-19 16:56] #487 closed

[2018-04-19 17:00] mlabieniec commented on #521
@mbahar can we add to the docs the node requirements for cli

[2018-04-19 17:00] #521 closed

[2018-04-19 17:04] mlabieniec commented on #536
@mbahar can we add a note about this in the docs related to Auth / Custom Attributes

[2018-04-19 17:04] #536 closed

[2018-04-19 17:07] #542 closed

[2018-04-19 17:10] #549 closed

[2018-04-19 17:14] mlabieniec commented on #558
I believe this is related and should get merged soon:
https://github.com/aws/aws-amplify/pull/605

[2018-04-19 17:25] #587 closed

[2018-04-19 17:26] mlabieniec commented on #588
polyfills have been merged which should address this. Please re-open if there is still an issue.

[2018-04-19 17:26] #588 closed

[2018-04-19 17:27] sballa12 commented on #487
@mlabieniec Although clear documentation in troubleshooting section would definitely help, I still feel that it would be good to enhance the library code to handle this error gracefully.

[2018-04-19 17:29] mlabieniec commented on #597
to access the query string params on the lambda function when using the awsmobile-cli and express stack. you need to use the express middleware, see example here:
https://github.com/awslabs/aws-serverless-express/blob/master/example/app.js#L6

[2018-04-19 17:29] #597 closed

[2018-04-19 17:30] elorzafe commented on #652
:-)

[2018-04-19 17:30] #652 closed

[2018-04-19 17:30] #606 closed

[2018-04-19 17:30] #610 closed

[2018-04-19 17:30] #612 closed

[2018-04-19 18:02] Jun711 commented on #690
@mlabieniec I realized post worked after I added lambda invoke permission but API.get still gets 403 error.

[2018-04-19 19:33] hassankhan opened #696 "Add Authorization header to GraphQL operations"
Feature Request

What is the current behavior?

Currently if a user uses a GraphQL endpoint, `aws-amplify` does not seem to apply any headers that would usually be on a request made from `API.post()`.

What is the expected behavior?

It would be nice to be able to specify that the GraphQL endpoint is also `AWS_IAM` authorized.

---

Amplify v0.3.0

[2018-04-19 19:54] hassankhan opened #697 "Simplifying the endpoints configuration"
Feature request

What is the current behavior?

Currently the configuration for the `API` object somewhat awkwardly requires defining two extra properties aside from `endpoints`.

[code]

What is the expected behavior?

I would like to propose adding three new properties to an endpoint:
`type`, `authorization` and `headers`.

The authorization would(should?) allow for Cognito Federated Identities

[2018-04-19 20:33] #629 closed

[2018-04-19 20:44] #558 closed

[2018-04-19 20:55] jimshell commented on #558
Excellent! Thank you! :)

[2018-04-19 21:45] rdingwell opened #698 "When are credentials considered expired?"
I'm using the amplify-react components (version 0.1.33) along with withAuthenticator as shown below.  The issue that I am running into is that once I login to the my application I seem to never be prompted for authentication again unless I explicitly logout.

For instance, I say I login on Friday, do somethings,  and then just close my browser or simply stop using the app.  Come in on Monday  load

[2018-04-19 22:03] MysteryMachine opened #699 "Federated Sign In Does Not Return an Access Token"
When I do a federated sign in, I get back a CognitoIdentityCredentials object that contains an a sessionToken, but no accessToken. I need this accessToken to validate users in some services. When doing a non-federated sign in, I get this authToken.

In general, I would love to be pointed to good documentation about how federated sign-in works. I can sign in with Google just fine, but I do not see

[2018-04-19 22:33] MysteryMachine commented on #699
I do see issue #402 where you mentioned doing

[code]

But this doesn't actually solve the issue. This is the token issued by Google, not a token issued by Cognito. It means my backend validates users by checking google, instead of Cognito. If I'm doing that, Cognito is largely an unneeded middleman in the process.

In

https://www.youtube.com/watch?v=KWjgiNgDfwI&t=1122s

At around 20 minutes a "C

[2018-04-19 23:51] Benno007 commented on #403
Would recommend adding it as a breaking change to the changelog between cognito 1.x and 2.x (on the other repo and here) as well, we didn't know because there was no mention of it and it caused an outage on IE11 for us :-1:

[2018-04-20 00:02] shark404 opened #701 "Graphql library included even if you don't want to use graphql"
#### Do you want to request a feature or report a bug?
I guess you could say it's an optimisation feature request.

#### What is the current behavior?

Since v0.3.0 with the introduction of graphql in the API module the graphql library is forced upon users of the Amplify library even if you're not using the graphql functionality. This is a ~140kb library so the affect on a webapp bundle size is ac

[2018-04-20 01:02] richardzcode commented on #701
Hi @shark404 this is a very valid request. Modularized Amplify is in our plan. We are exploring approaches right now, not just graphql but also all categories.

[2018-04-20 04:28] JustFly1984 commented on #588
Can you please point me to the polyfills code?

2018-04-20 1:26 GMT+08:00 Michael Labieniec <notifications@github.com>:

[2018-04-20 04:56] stevemao commented on #390
I'm using Mobile Hub and it uses express when I generate a CRUD on my dynamoDB. Here's what I have for my `event` object:

[code]

[2018-04-20 05:28] DocCaliban commented on #610
So this is resolved?

[2018-04-20 06:25] kyeljmd commented on #699
I would like to know this as well. I am having the same problem as well. I need the token issued by Cognito after performing a federated login

[2018-04-20 06:30] kyeljmd commented on #681
I was able to fixed the issue thanks to the gapi libray. I'm workingw with typescript, and angular5 so I ended up using a wrapper for the gapi libray(ng-gapi)

[2018-04-20 06:30] #681 closed

[2018-04-20 08:32] jfo8000 commented on #351
@surmer - I believe you can wrap any component in withAuthenticator() around any component anywhere in the tree...  it does not particularly have to be the one passed into ReactDom.render().

I think the main reason the example has it around the entire App is the greetings bar is designed to appear at the top of the screen. But after a bit of lion taming I figured out how to turn it off.

I found

[2018-04-20 09:47] stripathix opened #702 "amazon-cognito-identity-js : Cannot read property 'headers' of undefined"
Do you want to request a feature or report a bug?
Report a bug

What is the current behavior?
This is an intermittent problem. While refreshing a session an error occured inside lib amazon-cognito-identit-js.

Error:
`Cannot read property 'headers' of undefined`

I was trying to refresh session to make sure that access token do not expire. No respose was returned, netither error was returned. Only

[2018-04-20 10:28] kyeljmd opened #703 "[QUESTION] How to retrieve AccessToken/IDToken By Cognito when a user has logged in via FederatedSignIn?"
Hello,

I've set up an application where users can register to my site/web application. Where

A.) A User can either join the site via registering their email/password combination and these users will be registered inside a Cognito User Pool.

B.)  A User can join the site via logging in with Google/Facebook.

Bullet point A works as as expected. The user will submit their username and password, t