[2020-05-27 22:38] BruceWheaton commented on #4346
As of this afternoon, the latest is 3.0.13. Updating to that is causing me problems (did update and then push) with the configuration object. Going back to 3.0.12 functions, but the CORS error still shows up.

[2020-05-27 22:52] #5907 closed

[2020-05-27 23:05] Amplifiyer commented on #5708
@bdpaul99 can you test again with latest amplify and let us know if it's fixed?

[2020-05-27 23:05] Amplifiyer commented on #5387
@masbaehr  can you test again with latest amplify and let us know if it's fixed?

[2020-05-27 23:06] Amplifiyer commented on #5472
@wongcyrus can you test again with latest amplify and let us know if it's fixed?

[2020-05-27 23:08] Amplifiyer commented on #5393
@Nabrok with Amplify V3, the response type is now a Blob in both web and react native environments. Let us know if you face any issues with using blobs.

[2020-05-27 23:08] #5393 closed

[2020-05-27 23:09] Amplifiyer commented on #5332
@alex-iancu, @russell-dot-js, can you confirm that the issue is fixed with the new amplify release?

[2020-05-27 23:10] Amplifiyer commented on #5534
@Stereobit can you confirm if the issue is fixed with the new amplify version?

[2020-05-27 23:14] akshbhu commented on #5729
Hi @danrivett

It doesn't work like this. If you have added user to the cognito user group and you must set IAM policy on the bucket to peform crud actions on S3.You can do this ```amplify update  storage```.
If a user is part of a group , it uses groupRole rather than AuthRole.

The request is failing because the storage doesn't have permissions assigned for the group to perform actions on it.

[2020-05-27 23:44] jordmax12 commented on #4689
We seem to be having this SAME issue. Not sure why this is closed lol.

https://stackoverflow.com/questions/62054475/amplify-federated-saml-sign-in-not-authenticated

I documented my issues here. Can this get looked into?

[2020-05-27 23:55] undefobj commented on #5926
Do you know if the endpoint is Sync Enabled? The steps in that article seem to use `amplify init` followed by `npx amplify-app@latest` which shouldn't be needed, just run the later.

[2020-05-28 00:49] sveins12 commented on #54
How can I find the IdentityId from a cognito sub or the other way around, without a session user session?  I have a table with information only linked to IdentityId, but I don't know which cognito-user they are linked to. Is it possible figure out somehow?

[2020-05-28 01:00] peterschwarz21 commented on #54
that's the problem in this discussion. I ended up building a mapping table
to match them.

On Wed, May 27, 2020 at 6:49 PM sveins12 <notifications@github.com> wrote:

[2020-05-28 01:51] integraitco commented on #3010
This is key issue for us, any progress?

[2020-05-28 02:48] nikhil-shrestha commented on #5813
@manueliglesias any luck with trying to reproduce the bug

[2020-05-28 04:52] nihp commented on #5918
For me it happening before as well as after upgrading the latest version too.

[code]

[2020-05-28 05:53] secretshardul commented on #5775
@suraj-eai I assume you were using ```userAlias``` property for phone or email based login. In this case you also need to pass ```userAlias``` to ```<AmplifySignIn/>``` and ```<AmplifySignUp/>```
[code]

![image](https://user-images.githubusercontent.com/49580849/83104045-91a1ce00-a0d5-11ea-9684-d5c5694cd56c.png)

Slots method is verbose but lets you display new components and modify the entire pa

[2020-05-28 06:13] masbaehr commented on #5387
It seems to be working again 👍

[2020-05-28 06:53] thekrol01 commented on #5903
Installed the 3.0.13 version and still get the error unfortunately.

[2020-05-28 07:42] gHashTag commented on #5926
@undefobj in such a blow, the script stops working `npm run amplify-modelgen`

[2020-05-28 07:45] gHashTag commented on #5926
The [documentation](https://docs.amplify.aws/lib/datastore/getting-started/q/platform/js#automated-model-generation-with-npx) says that you need to use the `npx amplify-app@latest`

[2020-05-28 07:58] sveins12 commented on #54
How did you find the mapping, did you make it when the user was logged in, or where you able to find them later?

[2020-05-28 08:16] gHashTag commented on #5926
Collected without a script `npx amplify-app@latest`. The result is the same. [Repo](https://github.com/fullstackserverless/startup/tree/error_data_store)

<img width="1096" alt="Снимок экрана 2020-05-28 в 11 16 28" src="https://user-images.githubusercontent.com/6774813/83116608-ae89d180-a0d4-11ea-967d-5c10a3a40a03.png">

[2020-05-28 08:20] Stereobit commented on #5534
@Amplifiyer Updated last weekend, happy to confirm that this is now fixed. Thank you!

[2020-05-28 08:20] #5534 closed

[2020-05-28 08:20] gHashTag commented on #5926
Could the problem be in my model?

[code]

[2020-05-28 09:47] masbaehr opened #5932 "Incompatibility with Office-Addin Node enviroment"
Hi i was trying to write an Add-In for Microsoft Office following this guide, which uses some special build tools. The App itself is basically a React Application like every other.

https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/word-tutorial

Everything worked fine until i added amplify for implementing a cognito-based authentication. Also other UI-related react libraries worked fi

[2020-05-28 10:51] lenarmazitov commented on #4235
@amcdnl why are you refused from ** createAppSyncLink**?

[2020-05-28 11:39] ionutcirja opened #5933 "Webpack not found"
I have an issue with my last project when trying to run the build.
I have to mention I did the same thing in some other project and never had this issue.

After I'm running yarn install, I run yarn build and it tells me it can't find webback although it was just installed.

Here are the logs:

2020-05-28T11:11:28.678Z [INFO]: [4/4] Building fresh packages...
2020-05-28T11:11:28.710Z [INFO]: Done i

[2020-05-28 11:42] ialpert commented on #5330
Hey guys,

Library versions from NPM:

"@aws-amplify/auth": "^3.2.9"
"@aws-amplify/core": "^3.2.9"

Approximately 21kb of cookies, over default limit of 16kb (for Node 14.x)

[cookies.txt](https://github.com/aws-amplify/amplify-js/files/4695255/cookies.txt)

[2020-05-28 12:21] ondojo commented on #5767
Just ran into the same issue. Somewhere along the way the `AWSJSON` type of the GraphQL schema messes up the JSON string.

Thanks @yirako!

Your workaround does the trick for now.

[2020-05-28 12:44] LaszloDev commented on #4822
Same issue here, the user is redirect back to my application with the `?code=123` param added and I would like to redirect when the authentication is successful.

My suggestion would be to add an option param in the `federatedSign()` function call to not `replace` the url and let the us implement our own logic for it.

[2020-05-28 13:53] taylornewton commented on #5729
Is this somewhere in the documentation? (If not, could it be added?)

I also interpreted the CLI prompts to imply that setting up "Authorized users" would include all authorized users, regardless of Group - especially when I did not set up Group authentication. It is not clear from the prompts that a group role will replace an auth role.

[2020-05-28 14:15] LordParsley commented on #5801
I have a similar issue with federated identities affecting my `Auth0` sign-in flow.

The credentials returned are missing an `identityId`:

[code]

I am using

[code]

This was previously working under

[code]

[2020-05-28 14:19] iartemiev commented on #5926
Are you passing the object from aws-exports to `Amplify.configure`? I.e., https://docs.amplify.aws/lib/datastore/sync/q/platform/js#existing-backend

I didn't see that being performed in the tutorial you linked, so I just wanted to make sure.

[2020-05-28 14:25] amcdnl commented on #4235
@lenarmazitov - See: https://github.com/awslabs/aws-mobile-appsync-sdk-js#using-authorization-and-subscription-links-with-apollo-client-no-offline-support

[2020-05-28 14:31] undefobj commented on #5932
Amplify isn't supported in NodeJS

[2020-05-28 14:32] #5932 closed

[2020-05-28 14:40] nihp commented on #2155
I am getting

401,{"message":"The incoming token has expired"}

How can i regenerate or refresh the token in this case?

[code]

[2020-05-28 14:46] nihp opened #5934 "Getting "message": "The incoming token has expired" when I am using Auth.currentSession();"
I am using Auth.currentSession() to get the token. But i am facing the incoming token has expired issue.

[code]

[2020-05-28 14:59] sammartinez commented on #5918
@nihp Are you installing the `aws-sdk` package as well as the `aws-amplify` package? We do have a dependency on `aws-sdk` that we install for you. Please let us know

[2020-05-28 15:22] luisfuertes commented on #5228
a question, if i use https://github.com/facebook/react-native-fbsdk answer with
[code]

Could it work to replace web react-native fb login?

[2020-05-28 15:47] cnorthwood opened #5935 ""invalid_grant" when performing token exchange for SAML federated auth"
**Describe the bug**
Upon upgrading to `@aws-amplify/auth` 3.2.8, federated signin using SAML failed with an "invalid_grant" error being returned from the token endpoint.

**To Reproduce**
Steps to reproduce the behavior:

1. Configure federated signin via linking to the hosted UI, follow the process and end up back at the application. When Amplify tries to obtain the token, invalid_grant is retur

[2020-05-28 15:49] alexandprivate commented on #5836
I can confirm this works for me! Thanks @ryanhinojosa

[2020-05-28 15:49] cnorthwood commented on #5935
suspect this regression was introduced in https://github.com/aws-amplify/amplify-js/pull/5844 or https://github.com/aws-amplify/amplify-js/pull/5850

[2020-05-28 16:38] gHashTag commented on #5926
@iartemiev Sure. This is done was done

[2020-05-28 16:40] cakpep commented on #2296
Is there any update?

[2020-05-28 16:46] suraj-eai commented on #5775
@secretshardul Thank you for the explanation.  I did use `usernameAlias` in `<AmplifySignIn />` & `<AmplifySignUp />` and was having issue with the `<AmplifyConfirmSignUp />`.

And I found no clear way to center the signin/sign up screens and tried the above approach.

[2020-05-28 17:07] masbaehr commented on #5932
i don't think this is related to node-js, it's not running on server-side or something like that (in debug mode everything is ok)
More it seems related to this: https://github.com/aws-amplify/amplify-js/issues/4387
So i guess i need to modify the webpack

[2020-05-28 18:11] ericclemmons commented on #4346
@BruceWheaton Correct, it's a warning based on a response header from Cognito **but the delay is unrelated**.  Are you saying that you experience the delay with `aws-amplify@3.0.13`, but not `aws-amplify@3.0.12`?

[2020-05-28 19:46] elorzafe commented on #5935
@cnorthwood

Previous the change you mention the library was sending the query string param `scopes` instead of `scope` which is the correct param. The default behavior by Cognito when the `scope` param is missing is that it will return (as is mentioned on this [Authorization endpoint Cognito docs](https://docs.aws.amazon.com/cognito/latest/developerguide/authorization-endpoint.html)) all the scop

[2020-05-28 19:50] elorzafe commented on #5921
@mtraynham as I mentioned on the issue #5935. Previous the change you mention the library was sending the query string param scopes instead of scope which is the correct param. The default behavior by Cognito when the scope param is missing is that it will return (as is mentioned on this [Authorization endpoint Cognito docs](https://docs.aws.amazon.com/cognito/latest/developerguide/authorization-e

[2020-05-28 19:56] cnorthwood commented on #5935
It seems to be. It works fine with users who are not federated. See attached.

![Screenshot 2020-05-28 at 20 55 46](https://user-images.githubusercontent.com/462992/83187186-ad34c500-a125-11ea-9a95-79aee0d1d487.png)

[2020-05-28 20:02] elorzafe commented on #5916
@zid
As I mentioned on the issue #5935 and #5921. Previous the change you mention the library was sending the query string param `scopes` instead of `scope` which is the correct param. The default behavior by Cognito when the scope param is missing is that it will return (as is mentioned on this [Authorization endpoint Cognito docs]()) all the scopes available.

Can you check if the scope you have

[2020-05-28 20:26] elorzafe commented on #5841
@blasco

The way to delete all the files under a prefix is by listing the files first and then delete each key one by one.

Buckets are not File systems, the bucket can be organized under prefixes so you can get the list of keys under the prefix but you cannot perform actions like the one you mention.

[2020-05-28 20:29] jordanranz commented on #5799
Hey @jdchmiel,

Just pushed an update for this. Can you try installing `@aws-amplify/ui-vue@unstable` and you can either change the global amplify themes `background-color`:
[code]
or specifically the `amplify-authenticator`:
[code]

[2020-05-28 20:53] blasco commented on #5841
@elorzafe It can be done in the web console though

[2020-05-28 21:17] elorzafe commented on #5935
@cnorthwood could be a different issue, can you check if you see two network request to `.../token`endpoint.

If you see more than one network request and the first succeed, try to only `configure` Amplify or Auth only once.

[2020-05-28 21:19] ericclemmons commented on #3719
I tested this flow with a +5 hour clock drift and confirmed that username + password logins work, thanks to aws-sdk-v3's auto-drift correction.

For anyone affected, be sure to upgrade to the latest `aws-amplify` (v3) and let me know if you still experience any issues!

[2020-05-28 21:19] #3719 closed

[2020-05-28 21:53] BernhardSmuts commented on #5320
Same here.

Some services need Https, especially with federated auths.
Yet mock only serves over HTTP.

[2020-05-28 21:58] cnorthwood commented on #5935
No, the network panel shows only a single one succeed. Downgrading does fix it.

[2020-05-28 23:09] elorzafe commented on #5935
Can you try commenting the `scope` attribute from `oauth` configuration. Does it return the correct scope on the token with the old version of the library if you only pass one?

[2020-05-28 23:13] ashika01 commented on #5920
Looks like this is what you are asking for as well - https://github.com/aws-amplify/amplify-js/issues/5299

[2020-05-28 23:20] ashika01 commented on #5920
Also, gonna reference this here - https://github.com/aws-amplify/amplify-cli/issues/1865

This is FR with CLI that discusses use-cases and limitations. Also possible workaround based on situation.

[2020-05-28 23:20] #5920 closed

[2020-05-28 23:22] ashika01 commented on #5299
Closing this on back of https://github.com/aws-amplify/amplify-cli/issues/1865 too. I would suggest tracking the above mentioned Feature request for more info.

[2020-05-28 23:22] #5299 closed

[2020-05-28 23:45] BruceWheaton commented on #4346
3.013 didn't work for me so I went back - something about missing configuration. I tried update auth but didn't really want to make a new project. The clue wasn't great, sorry.
Not sure what you mean about 'delay' - I get a CORS warning on edge but not an error now. Sorry - not going too much further, my React app on edge is a bomb site so I'm putting that on the backlog.

[2020-05-28 23:50] ashika01 commented on #5933
@ionutcirja : This doesn't seem to be on amplify side from what I see here. Could you point to error log that specifies amplify? Please check your webpack config , this is most likely some configuration mismatch.

[2020-05-29 02:19] akshbhu commented on #5729
Hi @taylornewton

Thanks for reporting this. We have taken up this task in our queue to improve the documentation so that this confusion can be avoided.

Let me know if anyone is still stuck on this issue.

[2020-05-29 02:32] danrivett commented on #5729
@akshbhu I feel like this is a pretty disappointing design limitation, and I would really ask if it has to remain like this, or if this can be improved.

The reason being is Amplify isn't necessarily the centre of the universe when it comes to user permissions and so users can be added to groups for other reasons outside of Amplify permissions, and certainly outside of Amplify Storage permissions,

[2020-05-29 02:59] kaustavghosh06 commented on #5729
@danrivett Sorry for the confusion here. To be clear, is the ask out here that if a user is in a Cognito userpool group - then there should be an option in the CLI for the group to just inherit all the auth permissions?
We could assign the auth role to the groups - but the nuance out there would be that then you won't be able to have different rule-set for that group and it would always be tied to

[2020-05-29 03:02] zid commented on #5916
Looks like you meant to ping @zsid

[2020-05-29 03:13] wongcyrus commented on #5472
The problem solved with the latest version.
    "aws-amplify": "^3.0.13",
    "aws-amplify-react": "^4.1.12",
    "aws-sdk": "^2.686.0",

[2020-05-29 03:13] #5472 closed

[2020-05-29 03:18] danrivett commented on #5729
@kaustavghosh06 I think the main confusion and issue I have is the CLI already asks the following question:

And the options are for either restrict by Auth/Guest Users, or by Groups, or by both.

I would expect that if just Auth/Guests were selected, it would be immaterial what group membership a user is in because I explicitly didn't select the Groups option in the CLI config.

Let me know if I'

[2020-05-29 07:04] ionutcirja commented on #5933
It doesn't even go to the step where webpack should run.

/bin/sh: ./node_modules/.bin/webpack: No such file or directory

Webpack doesn't exists although it was just installed in the previous step, it has nothing to do with webpack config.

[2020-05-29 07:27] dhavalsoni2001 commented on #5167
Why this issue has been closed? Is there any update on this issue? I am also facing same issue.

[2020-05-29 08:42] nihp commented on #2389
Here I am also using the Auth.currentAuthenticatedUser. I am experiencing the {401,{"message":"The incoming token has expired"}.

How can I re-initialize or refresh the token in such conditions.

Auth.currentAuthenticatedUser({
    bypassCache: true
}).then(user => console.log(user))

[2020-05-29 08:48] nihp commented on #5918
In the latest update of aws-amplify, they removed aws-sdk dependency and we need to install separately according to this doc.

So here I have used aws-amplify, aws-amplify-react-native and aws-sdk v2

Update of amplify 3..x.x:

Amplify@3.x.x has breaking changes. Please see the breaking changes below:

[code]

[2020-05-29 09:35] brataaaan commented on #5407
Hey @manueliglesias ,

can you please describe how you managed to solve this problem? :-)

[2020-05-29 09:44] sim1camporeale commented on #5407
@undefobj  I'll retry updating amplify cli and amplify depndecny to latest version and let you know if issue persists. Can you share the reference verisons?

[2020-05-29 10:09] ottokruse commented on #3431
Note that this can also happen if you make a mistake in the link command. When linking to existing User Pool users make sure to use the "sub", not the email, of the user as username:

[code]

@MJRuskin is right that to correct the situation you just have to create the link in a valid way again. Either to a new user (just for the purpose of throwing away again later) or to an existing one.

[2020-05-29 10:10] nihp commented on #639
I am using currentSession = await Auth.currentSession();.

But I am getting 401,{"message":"The incoming token has expired"}.

But the Auth.currentSession will automatically refresh the accessToken and idToken if tokens are expired and a valid refreshToken presented. So you can use this method to refresh the session if needed.

[code]

[2020-05-29 10:36] zsid commented on #5916
@elorzafe This is still not working. The name for the custom scopes I am using is similar to what you have pointed out i.e. `https://examlpe.com/Hello` and it is selected in the app client settings.

In addition, I am also not getting `openid, profile, email` which are the rest as well. So coming back to your point, looks like they are not included at all and we are getting the default behaviour w

[2020-05-29 10:50] nihp commented on #2827
@powerful23 I am using  Auth.currentAuthenticatedUser({ bypassCache: true }) and Auth.currentSession();

Still I am facing the 401,{"message":"The incoming token has expired"}

Here Auth.currentSession will handle the token expiry and refresh tokens. Then how I am facing this error?

[code]

[2020-05-29 12:19] jacola commented on #3776
On a new project following the Amplify tutorial, I had the same issue. Installing 1.2.4 fixed it for me too.

[2020-05-29 12:59] dabit3 commented on #5926
@gHashTag Out of curiosity, what client platform are you on?

[2020-05-29 13:01] gHashTag commented on #5926
@dabit3 Mac OS Catalina 10.15.5

[2020-05-29 13:04] dabit3 commented on #5926
I guess I meant, is this web or React Native?

[2020-05-29 13:05] nihp commented on #2560
I am using Auth.currentSession();. But sometime it failed to give the token

I am getting 401: {message:'The incoming token has expired'}

Then how the token is automatically refreshing here?

[code]

[2020-05-29 13:05] gHashTag commented on #5926
:) React Native

[2020-05-29 13:06] gHashTag commented on #5926
[This article](https://fullstackserverless.github.io/docs/amplify-04)

[2020-05-29 13:18] dabit3 commented on #5926
Got it.

Have you tried providing an error handler to see if there is any error message when the mutation is made?

https://docs.amplify.aws/lib/datastore/conflict/q/platform/js#optional-configurations

[2020-05-29 13:22] kierancrown commented on #5873
How is it possible to do this!?

[2020-05-29 13:25] kierancrown commented on #5873
Can confirm upgrade to aws-amplify@3.0.13 has worked. Will take precautions next time I look to upgrade the lib!

[2020-05-29 13:41] AlexGoranov commented on #812
I am running into this issue without having Cookie Storage in my config file.

The config looks like this:
`
const awsmobile = {
  aws_project_region: ****,
  aws_cognito_region: ****,
  aws_user_pools_id: ****,
  aws_user_pools_web_client_id: ****
};

export default config;
`
My code looks like this:

`
const signedInUser = await Auth
      .signIn(username, password);

const authUser = await Aut

[2020-05-29 13:49] mtraynham commented on #5921
<img width="1194" alt="cognitoConfig" src="https://user-images.githubusercontent.com/5741321/83266777-4c42d680-a191-11ea-8694-60749dbff2b9.png">
<img width="1194" alt="cognitoConfig" src="https://user-images.githubusercontent.com/5741321/83266880-6da3c280-a191-11ea-8a4f-e052ac8fb799.png">
I believe I'm passing the `scope` param correctly...

[2020-05-29 13:54] gHashTag commented on #5926
No. Something new to me.

[2020-05-29 13:55] AlexGoranov commented on #1853
I am having the same issue. After running `.completeNewPassword` with the user, comes the error:

    InvalidParameterException

[2020-05-29 13:58] lenarmazitov commented on #4235
@amcdnl I tested both configs you provided
 - the first one with **createAppSyncLink** and **AppSyncClient**.
 - the second one with ApolloClient.

AppSyncClient works fine, I did not notice some troubles so far.
ApolloClient: There is one problem with it, I lost ability to upload files via GraphQL like described [here](https://docs.amplify.aws/cli/graphql-transformer/storage)

Did you have some t

[2020-05-29 14:41] amhinson commented on #4360
Closing this issue, as it has been addressed in https://github.com/aws-amplify/amplify-js/pull/5475.

[2020-05-29 14:41] #4360 closed

[2020-05-29 14:51] amhinson commented on #5543
It looks like you don't have the `redirectSignIn` and `redirectSignOut` in your config. Can you add your URL scheme here (i.e. `myapp://`) and see if that fixes your problem?

[2020-05-29 15:09] nubpro opened #5940 "Datastore.observe update is called twice in a row"
**Describe the bug**
In my app.js
[code]

Then I insert a new record into the Config table.
The subscription would observe 3 changes, as follow.

1. Optype is INSERT
`{"KDSCancelMsg": "XX", "_deleted": undefined, "_lastChangedAt": undefined, "_version": undefined, "id": "62e202b2-24b4-40a4-9fe1-dfbafa33b5be"}`

2. Optype is UPDATE
`{"KDSCancelMsg": "XX", "_deleted": null, "_lastChangedAt": 1590764

[2020-05-29 16:34] elorzafe commented on #5921
@mtraynham Can you check removing `phone` from authorized scopes, also check the settings for the App client like this
![Screen Shot 2020-05-29 at 9 31 40 AM](https://user-images.githubusercontent.com/28815678/83283147-962abd00-a18f-11ea-9360-ab182a7cb7bc.png)

[2020-05-29 16:35] elorzafe commented on #5916
Thanks @zid

[2020-05-29 16:48] ashika01 commented on #5933
I see.. Might be because, the production code uses a different built version of aws-amplify. we set it using NODE_ENV. can you try the combination where you do prod build when its set to production enviornment and see it works?

[2020-05-29 16:53] ashika01 commented on #5911
@kjetilge Yeah.. So now we use StencilJS to build our core UI and use [stencil bindings](https://github.com/ionic-team/stencil-ds-plugins) to generate different framework's code. So some functionality might be missing.

[2020-05-29 17:21] sammartinez commented on #4964
@fireflysemantics In our version 3 of Amplify JS we do have the ability to import as the ideal. Please see our [`index.js`](https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify/src/index.ts) file for our `aws-amplify` package for more information on this. I'm going to resolve this feature request as the above. Please let me know if this not what you were looking for and we ca

[2020-05-29 17:21] #4964 closed

[2020-05-29 17:43] ionutcirja commented on #5933
Actually, I just removed NODE_ENV env var and used the default provided by webpack. It seems to be the only solution.

[2020-05-29 17:43] #5933 closed

[2020-05-29 17:44] sammartinez commented on #5590
@aprilmintacpineda is this a request for Amplify JS or Amplify CLI? I only ask as Amplify JS version is only on version 3 so I wanted to clarify with you prior to moving this to Amplify CLI. Please let us know

[2020-05-29 17:48] asterikx commented on #612
From what I understand we need to do two things

1. Customize the confirmation link sent to the user (to point to sth. we have control of to redirect the user after confirmation)
2. Call the Cognito API to confirm the user (based on the information in the confirmation link) and redirect the user to where we want to

For the first step, we need to create a [Custom Message Lambda Trigger](https://do

[2020-05-29 17:53] sammartinez commented on #3401
@dementiev Amplify JS is used as a pass through to make calls to Amazon Cognito's hosted UI component. We, as Amplify, don't have control over this feature and we recommend to open up a feature request via the [Amazon Cognito forums](https://forums.aws.amazon.com/forum.jspa?forumID=173). Resolving feature request as this use case is controlled by Amazon Cognito

[2020-05-29 17:53] #3401 closed

[2020-05-29 17:54] nubpro commented on #5686
You need to subscribe to the tables and wait until the client fully synchorize with the backend.

[2020-05-29 18:23] deanbutler71 commented on #5445
Thanks a million, that was breaking my heart,  If I want to now customise this login page to match the rest of my site/app, add logos etc, is this easy enough to customise?  Can anyone point me in the right direction to do this? Creating first gatsby site, would appreciate any help. thanks!

[2020-05-29 18:28] gHashTag commented on #5926
@dabit3 Added DISCARD in the[ project](https://github.com/fullstackserverless/startup/blob/b8c0d7b58a7ddc1a14d25c2be170d5d0d8e91b73/src/screens/Jobs/JobAdd.js#L9), but did not receive an error in response.

[2020-05-29 19:00] kaustavghosh06 commented on #5729
@danrivett Ah, I see your confusion here. I'll dive into some details out here for explaining this behavior.
**TLDR** - Groups do not inherit permissions from the auth permissions/role. Groups have their own set of permissions which are completely independent of the auth and guest users permissions.
**Explanation:** When we add a Cognito user pool group using the CLI - each group gets an IAM role

[2020-05-29 19:50] mtraynham commented on #5921
We have other providers that use phone, Google just doesn't provide that, so I can't really remove it ☹️

[2020-05-29 19:52] starlabs007 commented on #5010
Why is this not a project dependency???

**_At the very least_**, you need to include the step of adding `netinfo` in your installation documentation...

[2020-05-29 20:08] #5133 closed

[2020-05-29 20:09] gHashTag commented on #4315
```yarn remove aws-amplify```

and after

```yarn add aws-amplify@latest```

helped me

[2020-05-29 20:18] gHashTag commented on #5926
Checked in the region us-east-1 works!
There are no eu-west-1 eu-west-2 regions

But USA is a long way from Russia. How to be?

[2020-05-29 20:33] manueliglesias commented on #5940
Hi @nubpro, this is expected behavior, you are seeing events that are happening throughout the item's journey to get synced to AppSync and also on its way back via a real time notification (the graphql subscription):

1. INSERT with no version: This is the event generated when the item is first created and persisted locally
2. UPDATE with version 1: This is from the response of the GraphQL mutatio

[2020-05-29 21:03] amhinson commented on #5543
Do you also have the same URL Scheme in the Cognito User Pool for "Callback URL(s)" and "Sign out URL(s)"? Also, do you have two App clients, and do they have the same configuration?

[2020-05-29 22:02] elorzafe commented on #5133
@jcardus

I merged a fix for this, currently is published to `unstable` tag on npm if you can try out. We will publish to `latest` soon.

[2020-05-29 22:02] elorzafe commented on #4992
@fireflysemantics

I merged a fix for this, currently is published to `unstable` tag on npm if you can try out. We will publish to `latest` soon.

Using `Auth.currentAuthenticatedUser()` for Auth Guard should work now when using OAuth flows with HostedUI

[2020-05-29 22:03] elorzafe commented on #4988
@fireflysemantics

I merged a fix for this, currently is published to `unstable` tag on npm if you can try out. We will publish to `latest` soon.

[2020-05-29 22:03] #4988 closed

[2020-05-29 22:03] elorzafe commented on #4385
@ctlai95

I merged a fix for this, currently is published to `unstable` tag on npm if you can try out. We will publish to `latest` soon.

[2020-05-29 22:03] #4385 closed

[2020-05-29 22:04] elorzafe commented on #3841
@tinymarsracing

I merged a fix for this, currently is published to `unstable` tag on npm if you can try out. We will publish to `latest` soon.

[2020-05-29 22:08] manueliglesias commented on #5843
Hi @yirako

I just tried the scenario you outlined in a fresh app and I can see the network traffic for the mutations and incoming subscription messages.

These are the versions I am using:

[code]

I used [Flipper](https://fbflipper.com/) to inspect the network traffic on React Native.

The other thing you could try is to increase Amplify's logger level to see what's happening:

[code]

[2020-05-29 22:17] manueliglesias commented on #5926
Hi @gHashTag

Can you verify what your CLI default region is?

You can run `amplify configure` to see it

Reference: https://docs.amplify.aws/lib/project-setup/prereq/q/platform/ios#option-2-follow-the-instructions

[2020-05-29 22:21] manueliglesias commented on #5898
Hi @MrHertal

Can you try the suggestion in this comment:

https://github.com/aws-amplify/amplify-js/issues/5687#issuecomment-631185661

[2020-05-29 22:24] manueliglesias commented on #5821
Hi @lenarmazitov

This is a duplicate of aws-amplify/amplify-cli#3108, please see @undefobj [comment](https://github.com/aws-amplify/amplify-cli/issues/3108#issuecomment-592279776).

[2020-05-29 22:24] #5821 closed

[2020-05-29 22:29] manueliglesias commented on #5764
Hi @nubpro

Yeah, this is the number of minutes before a baseQuery runs again:

[2020-05-29 22:31] manueliglesias commented on #5686
Hi @atedevby

`DataStore.clear()` doesn't delete records remotely, it just clears the local storage and stop the graphql subscriptions.

[2020-05-29 22:36] manueliglesias commented on #5648
Hi @bastiancleverfit

What's the scenario that you're trying to solve for, and how does disabling `onCreate` solve it for you?

[2020-05-30 00:47] pmclachlan commented on #4808
Can there also be a state for 'something went wrong (e.g. permissions on subscribe) and the  SubscriptionProcessor threw an exception and isn't currently running?'  Because then calls to DataStore silently succeed but will never read/write from the backend - and digging through the debug logs in the console is a giant pain.

[2020-05-30 02:54] chittasec opened #5944 "Country Code in SignUp screen cannot be changed"
**Describe the bug**
Did the tutorial app for Amplify on React -native.
Used the default Auth screen . On the signup or login screen country code for phone number cannot be changed. it is always +1 .

[2020-05-30 03:56] #4808 closed

[2020-05-30 03:56] #5077 closed

[2020-05-30 03:56] #5434 closed

[2020-05-30 03:56] #5592 closed

[2020-05-30 03:56] #5632 closed

[2020-05-30 03:56] #5764 closed

[2020-05-30 04:35] manueliglesias commented on #5434
Hey @rpostulart

We just published new versions to the `unstable` npm tag with a bunch of improvements, it would be great if you can take a look and try them

[2020-05-30 05:26] rpostulart commented on #5434
Will try immediately, thanks team great job. I will provide you the feedback soon

[2020-05-30 06:02] #5846 closed

[2020-05-30 06:21] baughp commented on #5926
I have the same issue. Information is saved locally but never synced to cloud. I am using the React library.

I tried the following:

- removing my api config and starting from scratch
- switching regions
- Removing @model and @key directives and using a very basic schema containing just one Task object with one string field.

Data is created locally and can see the database in the chrome debugger

[2020-05-30 07:08] undefobj commented on #5926
How did you create your project? Using `npx amplify-app@latest` or using `amplify add api`? If the latter did you enable conflict resolution for your whole API? If you look at the data source in the AppSync console is it a versioned enabled data source with a base and delta table?

[2020-05-30 07:25] gHashTag commented on #5926
@manueliglesias
After `amplify configure` I switched to  `us-east-1` and that solved my problem. But I am not closing the task yet, as in other regions there are problems.

[2020-05-30 08:17] gHashTag commented on #5926
@undefobjIf I do not use a script `npx amplify-app@latest`, do I need to do this [step](https://fullstackserverless.github.io/docs/amplify-04#updating-api)?

[2020-05-30 08:23] chad-codeworkshop commented on #5801
@LordParsley luckily I was fetching the identityId and storing it in DynamoDb with user settings etc so I was able to fetch this with startup and then enabled me to do the upload to the private folder on the bucket

[2020-05-30 08:40] baughp commented on #5926
@undefobj Thanks for your reply.

I used `npx amplify-app@latest` to generate basic Task and Note models. I then used `npm run amplify-modelgen` and finally `npm run amplify push` This creates the following data source

![image](https://user-images.githubusercontent.com/64201785/83323856-61833800-a259-11ea-97ae-b84263e7d069.png)

If i then start my React app locally with `npm start` then I can see

[2020-05-30 11:31] pokey opened #5945 "Conflict handler not running on conflict"
**Describe the bug**
When the server reports a ConflictUnhandled error in response to a mutation from DataStore, it provides a `null` field in `error.data`.  Here is the `error` object as captured from a breakpoint on https://github.com/aws-amplify/amplify-js/blob/67fac50cd734338ac76797d06111fc5ca911bd48/packages/datastore/src/sync/processors/mutation.ts#L248:

[code]

Thus when `error.data` is pa

[2020-05-30 11:37] tolivestone opened #5946 "Audio is not being captured while publishing Sumerian scene with Amplify"
I have implemented hands free solutions(followed steps giving the below link) in Sumerian and privately published via Amplify but it's not capturing audio. I see below error in console

AudioContext.js:36 The AudioContext was not allowed to start. It must be resumed (or created) after a user gesture on the page. https://goo.gl/7K7WLu

https://docs.sumerian.amazonaws.com/articles/hands-free-voice-t

[2020-05-30 11:47] antwaven commented on #4982
+1. Amplify seems to add If-None-Match randomly to API calls for me as well. Would be good to know how to avoid.

[2020-05-30 12:10] MrHertal commented on #5898
Hi @manueliglesias

I have tried and it still does not work.

It seems to me that it still the early age of Datastore, specially with React Native (it was released a couple of months ago for React Native). I have tried to set up the Datastore in my app, and my conclusion is that as long as you have a simple schema, without @auth rules, it's working well.

I have many types and @auth rules in my ap

[2020-05-30 12:57] aleckzts commented on #3484
The following solution is working for me. Have to manually disable Analytics when using with React Native:

[code]

[2020-05-30 13:13] mrgoos opened #5947 "Modular import of storage is not working as expected, Angular app."
**Describe the bug**
When importing `Storage` from `@aws-amplify/storage` I get `No credentials` error after a while.
If I import from `aws-amplify` like this: `import  Storage  from 'aws-amplify';` I have no issues.

**To Reproduce**
Steps to reproduce the behavior:

1. Use this to import storage: `import  Storage  from '@aws-amplify/storage';`
2. Save and run the app with `ng serve`
3. See error

[2020-05-30 13:15] joostfarla commented on #5918
I had the same issue (running on the latest Amplify v3) and worked around it by changing the following:

[code]

The strange thing is that I'm not using Analytics at all, but apparently the error is gone.

[2020-05-30 17:13] mrgoos commented on #5947
I tried [this approach](https://github.com/aws-amplify/amplify-js/issues/5574#issuecomment-620258084) and it worked but I don't know what are the implications of using it. In addition I saw different logs when debug was on. Logs included my key+secret to AWS while when when not doing this, I got the logs as in the original screenshot.

[2020-05-30 17:53] nandkv opened #5948 "<amplify-authenticator> doesn't work with angular 9"
**Describe the bug**
Following the instructions here the login components don't work....https://docs.amplify.aws/lib/auth/getting-started/q/platform/js#option-1-use-pre-built-ui-components

**To Reproduce**
Follow your own guide @ https://docs.amplify.aws/start/getting-started/hosting/q/integration/angular and Create an amplify project using your own instructions with     "@angular/core": "~9.1.9"

[2020-05-30 18:08] frederikprijck opened #5949 "Upgrading AWS Amplify from 2.3.0 to 3.0.13 breaks TypeScript compilation"
**Describe the bug**
A clear and concise description of what the bug is.
On a project, that has been using AWS Amplify succesfully using aws-amplify `2.3.0`, TypeScript compilation breaks as soon as I upgrade `aws-amplify` to `3.0.13`.

The TypeScript compilation error that I get is the following:

[code]

Things I've tried so far:

- removing package-lock.json
- removing node_modules
- npm instal

[2020-05-30 18:29] rpostulart commented on #5434
I added some error details at the merge page, is that ok?

[2020-05-30 18:41] elchinillo commented on #5320
Just upgraded to @aws-amplify/cli 4.21.0 and is still an issue.

[2020-05-30 18:53] frederikprijck commented on #5949
I have a few extra findings I want to inform you about:

- I noticed the amplify-js API repo is using `zen-observable-ts` as of 3.0.13
- The API Service is generated using `import * as Observable from zen-observable` (no ts), which brings me to this line in the CLI: https://github.com/aws-amplify/amplify-cli/blob/2df1b9374cbbd26c18f05e92a01521474cf3dee0/packages/amplify-graphql-types-generator/src

[2020-05-30 18:54] frederikprijck commented on #5949
Offtopic question (but tangibly related):

https://github.com/aws-amplify/amplify-js/blob/master/packages/api-graphql/__tests__/GraphQLAPI-test.ts#L16
https://github.com/aws-amplify/amplify-js/blob/1123cef546e906ba1beecedecdc60b3844f38297/packages/api-graphql/src/GraphQLAPI.ts#L18

Is it expected that the test file uses the none-ts version whereas the GraphQLApi file is using zen-observable-ts ?

[2020-05-30 19:00] mrgoos commented on #5947
OK, I followed option 2 in the Angular related docs [here](https://docs.amplify.aws/start/getting-started/nextsteps/q/integration/angular#option-2-configuring-the-amplify-provider-with-specified-amplify-js-modules).
Now I'm using a service after installing `aws-amplify-angular` which is needed and it also works.
I'm only wondering why every time that I change a config I get different logs in debug

[2020-05-30 19:43] undefobj commented on #5898
@MrHertal When you added in the `owner` did you run `amplify codegen models` again? Also are you logging in with the [Auth category](https://docs.amplify.aws/lib/auth/getting-started/q/platform/js) in your app? The issue is that `@auth` with owner based authorization requires an owner field to be passed in the subscription argument, which DataStore uses from the Auth category. However modelgen doe

[2020-05-30 19:49] undefobj commented on #5926
@baughp when you click on the table and select **Edit** does it show **Enable data source versioning** at the bottom with a Delta sync table populated? If not then please run `amplify update api` to sync enable the endpoint.

Also what region are you working in?

[2020-05-30 19:56] undefobj commented on #5926
@gHashTag I'm  not sure what you mean by the issue repeated. Can you clarify? You had a  working API before and you wanted to add DataStore, or something else?

There are two ways to use DataStore. The "quickest" is navigate into a project (no amplify in it at all) and run `npx amplify-app@latest` as outlined in the [getting started](https://docs.amplify.aws/lib/datastore/getting-started/q/platfor

[2020-05-30 20:48] baughp commented on #5926
@undefobj Yes that is enabled

![image](https://user-images.githubusercontent.com/64201785/83338761-464b1380-a2bf-11ea-8588-963b25327055.png)

region is US_EAST-1

[2020-05-30 20:50] MrHertal commented on #5898
Yes I ran `amplify codegen models` again after adding the owner field, and yes I am logged in with the Auth category.

I let the cli generates the queries, mutations and subscriptions so in `src/graphql/subscriptions.js` I have this:

[code]

There is also `OnUpdateCall` and `OnDeleteCall`.

So yes the issue is simple, Datastore does not pass the owner variable when it subscribes.

Note that using

[2020-05-30 21:43] Bulletninja commented on #369
I have the same question as @Patryk-Szylin
We are supposed to trust these providers for auth, that's why we are able to delegate it to them. And the common identifier among them is an email. Shouldn't that be de default behavior? If we trust the providers we know it's basically the same person if the email matches.

[2020-05-30 22:54] ashika01 commented on #5948
@nandkv : From the docs you have pointed to, it looks like you are using `@aws-amplify/ui-angular`. Am I right? Could you look into [this doc for the UI components](https://docs.amplify.aws/ui/auth/authenticator/q/framework/angular#usage) and make sure you have got all of these bits in your code.

We are working on moving some parts of docs to reflect our recent launch of UI components.

[2020-05-30 23:24] ashika01 commented on #5944
@chittasec I was able to reproduce this. Thanks for reporting the bug. We will look into this.

[2020-05-30 23:26] ashika01 commented on #5946
@jordanranz any thoughts?

[2020-05-30 23:31] ashika01 commented on #5949
@frederikprijck - Looks like this issue might be related ? https://github.com/aws-amplify/amplify-js/issues/5741

[2020-05-30 23:36] nandkv commented on #5948
Yes seems like the docs were not in sync...thanks for providing the correct documentation.

[2020-05-30 23:36] #5948 closed

[2020-05-30 23:38] ashika01 commented on #5947
@mrgoos We dont support Angular 9 with aws-amplify-angular. I am closing this issue as we are aware of this and we are working on providing angular 9 with new ui-components `@aws-amplify/ui-angular`.

We already have angular 9 support for authenticator components and we are working on getting storage components next.

[2020-05-30 23:38] #5947 closed

[2020-05-31 02:06] nandkv opened #5950 "Select MFA Type Angular Directive doesn't seem to work"
**Describe the bug**
having issues with activating amplify-select-mfa-type

**To Reproduce**
Add auth to amplify app and enable the mfa on the user pool.

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Verify option with the MFA options

**Code Snippet**
`<amplify-authenticator usernameAlias="email">
  <amplify-sign-up
    slot="sign-up"
    username

[2020-05-31 02:30] undefobj commented on #5898
Thanks @MrHertal. This is supported in DataStore as @manueliglesias link and there are many customers who've used successfully, I think there's something up with the configuration or perhaps you've found a codepath that needs more investigation. Could you provide a link to a gist/repo of your code (or a similar reproduction of the issue) so that we can review this upcoming week?

[2020-05-31 02:32] undefobj commented on #5926
@baughp Thanks much yes this is sync enabled. Could you tell us if you see any network activity in your dev tools? Perhaps you could place your project in a gist/GitHub repo (or similar project with reproducing the issue) so that we could see what the issue is? I wonder if there's an issue with the app code.

[2020-05-31 05:09] ghost opened #5952 "Expo Web - ReferenceError: process is not defined"
**Describe the bug**
It seems there is an issue that pops out from the graphql libraries when running the React-Native App through the Expo Web feature

**To Reproduce**
Steps to reproduce the behavior:
Just run "Expo start:Web" and navigate to the project URL

**Expected behavior**
The React Native app would appear

**Code Snippet**
https://console.aws.amazon.com/cloud9/ide/b35fe6bc37294b7fabd467

[2020-05-31 05:44] zolcsi commented on #4636
No need to access it for the users, it will autologin and stored in the client.
But anybody can see it, it is intendedly dummy, like username: 'PublicUser' password: 'PublicUser'.
still waiting for the fix though...

[2020-05-31 07:36] frederikprijck commented on #5949
I don't think this is the same thing actually. It's both about observables, but I think what I am experiencing is a conflict between amplify-cli and amplify/API.

I opened a pr on the CLI repo to fix and discuss the matter.

[2020-05-31 08:19] mrgoos commented on #5947
Thanks @ashika01 - so I'll just use the solution I put in the [1st self comment](https://github.com/aws-amplify/amplify-js/issues/5947#issuecomment-636359090) and hope it's OK.

[2020-05-31 08:28] baughp commented on #5926
@undefobj I do not see any network activity at all from within my browser debugger

A very simple gist can be found [https://gist.github.com/baughp/919f53973f6d79c7c77c24f9cb9a9427](url)

I hope it is something I am doing incorrectly. I removed the API key details from aws-exports.js for the purposes of publishing here.

Thanks

[2020-05-31 12:21] gHashTag commented on #5926
@undefobj ✅ The second way worked for me. Thank you 🙏🏻

[2020-05-31 14:28] nubpro opened #5954 "Upsert in DataStore"
It would be nice to have this feature - upsert. Update data if record exists, otherwise insert.

I think I'm as descriptive as I can be. This feature would eradicate lots of boilerplates in our production use!

[2020-05-31 14:37] nubpro commented on #5954
on second thought, we probably dont need this at all, since anyway, we had to query the item before we can update it.

[2020-05-31 14:37] #5954 closed

[2020-05-31 14:46] roballsopp opened #5955 "DataStore: saving relation doesn't work"
**Describe the bug**
When attempting to save the id of a relation in a foreign key field, the saved value is null

**To Reproduce**
My graphql schema is:
[code]
I've enabled datastore through the amplify cli, and I'm able to save `SurveyTemplate`s correctly to Dynamo. When I go to save a `SurveyResponse`, I do so [according to the documentation](https://docs.amplify.aws/lib/datastore/relational/q/

[2020-05-31 15:40] gHashTag commented on #5926
Yet something is going wrong.
Started working with another model.
Created a mutation. The model locally is:
<img width="896" alt="Снимок экрана 2020-05-31 в 18 34 49" src="https://user-images.githubusercontent.com/6774813/83356302-fbd4a000-a36d-11ea-898b-20efd9f9bf6e.png">

There is no DinamoDB.
<img width="1278" alt="Снимок экрана 2020-05-31 в 18 34 58" src="https://user-images.githubusercontent.

[2020-05-31 16:46] BatelLuzon commented on #4321
Hi
We use Cognito without the UI component, and having this issue (2fa required, user can't reset their passwords). Any chance this will be fixed in Cognito server and not the UI component?

[2020-05-31 16:47] ashika01 commented on #5950
@nandkv Could you provide some your angular code to reproduce this?

[2020-05-31 16:52] ashika01 commented on #5949
No worries I can transfer this issue to CLI team and link it to your issue 👍

[2020-05-31 16:59] ashika01 commented on #5908
Closing this issue as duplicate of https://github.com/aws-amplify/amplify-js/issues/5911

[2020-05-31 16:59] #5908 closed

[2020-05-31 16:59] nandkv commented on #5950
The html and the component code is in the original issue. Let me know if that is not sufficient and I can provide link to a repo.

[2020-05-31 17:01] ashika01 commented on #5924
@Afrogoth : Where does amplify come in play? Could you provide us with sample code that could help us reproduce your issue?

[2020-05-31 17:21] ashika01 commented on #5775
@secretshardul - The new authenticator uses CSS custom properties for theming unlike legacy theme object.

With confirm-sign-up slot, you might wanna [mimic our implementation](https://github.com/aws-amplify/amplify-js/blob/master/packages/amplify-ui-components/src/components/amplify-confirm-sign-up/amplify-confirm-sign-up.tsx#L56) if you want the confirm signup to have the username filled.

[2020-05-31 18:44] #5293 closed

[2020-05-31 18:44] #3037 closed

[2020-05-31 18:56] morficus commented on #5879
Here is an ongoing thread on the AWS support form about this as well.

https://forums.aws.amazon.com/thread.jspa?messageID=943553&tstart=0

[2020-05-31 22:58] ikakara commented on #5865
Ashish - https://github.com/react-native-elements/react-native-elements/issues/2368 - fixed this issue and deployed it in 2.0.1 has been released.  Can you update aws-amplify-react-native to import the latest release?

[2020-05-31 23:23] ikakara opened #5957 "Expo-Amplify project: aws-amplify-react-native broken using latest react-native-web 0.12.x"
This bug was closed prematurely: https://github.com/aws-amplify/amplify-js/issues/5865

Related to this bug: https://github.com/react-native-elements/react-native-elements/issues/2368 which has been fixed in 2.0.1.

The latest aws-amplify-react-native v4.2 depends on react-native-elements@0.19.1

Please update aws-amplify-react-native to use react-native-elements@2.0.1

Thanks

[2020-06-01 00:08] macrouch commented on #5918
This fixed my error, thanks!

[2020-06-01 01:03] Andyluchina commented on #3537
In my situation the hub did get the information and event but it was a bad event....
event type is signin failure...
TypeError: the given value is not a Promise
    at Object.push../node_modules/@aws-sdk/stream-collector-browser/build/index.js.exports.streamCollector (http://localhost/vendor.js:232048:10)
    at collectBody (http://localhost/vendor.js:117186:21)
    at collectBodyString (http://lo

[2020-06-01 01:34] si0005hp commented on #5925
@elorzafe Hi, thanks for paying attention to this.
Seems you've fixed the problem in this [PR #5929](https://github.com/aws-amplify/amplify-js/pull/5929/files#diff-1cf5b10c87e919f81d5f1ea503f15074R1907) ?
(In that case I guess I can close this issue and my [PR](https://github.com/aws-amplify/amplify-js/pull/5927). )

[2020-06-01 03:50] Andyluchina opened #5959 "Hub not receving a Promise in ionic app for android"
I am working on an ionic app that uses amplify and cognito to do federated sigin.
sign in code as follows:

      doLoginGoogle() {
        this.ngZone.run(async () => {
          try {
            await Auth.federatedSignIn({
              customProvider: "google"
            });
          } catch (error) {
            console.log(error);
          }
        });
      }

and then it opens up the

[2020-06-01 03:53] Andyluchina commented on #5959
not sure if this issue is with the auth publishing a bad event or the hub not being able to parse events as promise

[2020-06-01 05:40] Andyluchina commented on #5959
the issue is really with the stream-collector-browser
Solution: go into node_modules>>@aws-sdk>>stream-collector-browser>>build>>index.js
Change the existing code to

"use strict";
Object.defineProperty(exports, "__esModule", { value: true });
exports.streamCollector = function(stream) {
  var reader = stream.getReader();
  return reader.read().then(({ done, value }) => {
    return value;
  });
}

[2020-06-01 05:51] Andyluchina commented on #3537
@togro

I have this worked out. check my issue.
[https://github.com/aws-amplify/amplify-js/issues/5959](url)

[2020-06-01 05:53] Andyluchina commented on #5959
related article here
https://medium.com/@tobinc/create-a-multi-platform-app-using-ionic-4-aws-amplify-in-app-oauth-with-social-idp-deep-linking-6b8de9bc6878

[2020-06-01 06:11] ashika01 commented on #5950
@nandkv - can you link the original issue here for reference?

[2020-06-01 06:20] ashika01 commented on #5387
Closing this issue since it is not happening with the latest version which merged in aws-sdk gamma version.

[2020-06-01 06:20] #5387 closed

[2020-06-01 06:28] ashika01 commented on #4381
@Spat915 I am closing this issue as this should be fixed with the new UI components changes. For more info check here - https://docs.amplify.aws/ui/auth/authenticator/q/framework/ionic.

The live example on page shows this is fixed. If you still face any issue or have any feedback for with the new UI. Please feel free to open up new issue.

[2020-06-01 06:28] #4381 closed

[2020-06-01 06:35] cp10000 commented on #3283
Thanks sambecker !   Removing those cookie configurations worked for me!

[2020-06-01 06:37] ashika01 commented on #5879
@dogsonacid I suggest you track the thread. I will bring up with the service team internally.

[2020-06-01 06:40] xai1983kbu commented on #3933
@saaniaki I can find cookies by clicking the button "view site information" which located right before URL
![cookies_cognito](https://user-images.githubusercontent.com/14042193/83378346-2875cf80-a3e1-11ea-9df2-073bd9f19d5e.png)

beside Cognito pool's domain cookies I can see Facebook's domain cookies
![cookies](https://user-images.githubusercontent.com/14042193/83378617-ec8f3a00-a3e1-11ea-8df0-fb0

[2020-06-01 07:01] xai1983kbu commented on #4720
@leosoaivan check out my comment [here](https://github.com/aws-amplify/amplify-js/issues/3933) please.

[2020-06-01 07:08] xai1983kbu commented on #3933
I found the related question without an answer
https://stackoverflow.com/questions/50623919/aws-cognito-with-google-federated-identity-logs-me-in-with-the-last-user

[2020-06-01 07:42] Afrogoth commented on #5924
@ashika01 - I am using amplify Auth for the authentication within an Angular 8x application... although in order to access other parts of the AWS SDK I use the above code to authenticate the user (update AWS.config.credentials)… it works just fine for an authenticated user although when a user is not authenticated, I receive a CognitoCredentials object and pass that in as AWS.config.credentials. T

[2020-06-01 08:10] luisfuertes commented on #5228
Ok I've tried it and not work

[2020-06-01 08:28] nihp commented on #5918
Your solution worked for me. Thanks

[2020-06-01 08:34] nihp commented on #2534
I have a clarification, Auth.currentCredentials sometimes giving expired token
(i.e) while i am in the app, it shows your incoming token has expired (401 message).

[2020-06-01 10:15] kannieWeesNie opened #5961 "DataStore @auth not working as per docs in Vue app"
**Describe the bug**
using Vue, amplify datastore the @auth directive not working as per documents.

any user (authorized and unauthorized) can create, list and delete all todo objects

**To Reproduce**
Steps to reproduce the behavior:
using amplify, create Vue app, install authentication and datastore libraries

create object:
`var result = await DataStore.save(
          new Todo({
           na

[2020-06-01 10:44] zsid commented on #5916
@elorzafe, did you manage to replicate it?

[2020-06-01 12:31] cnorthwood commented on #5935
yes, removing the scope attribute on the new version of the library seems to be successfully working for both username/password and federated users. If I'm understanding you correctly, previous versions of the library were ignoring that setting (I'm not sure of the history of it in this piece of code, I suspect it dates from a tutorial or similar that was followed), so removing it should have no o

[2020-06-01 12:47] dogsonacid commented on #5879
thanks - we got developer support so i've sent in a ticket myself about a week ago but issue is still on going

[2020-06-01 13:14] hyprstack commented on #5836
I am still unable to replicate the fix provided by @ryanhinojosa . I have in the meantime used an entirely new laptop and tried following the solution provided above. I then tried following the docs and used the `AmplifyAuthenticator` component. With the docs from using an already existing user pool, there was no login page and the app simple seemed to proceed as if the user was logged in, althoug

[2020-06-01 13:41] nubpro commented on #5940
On Stage 2, it's not safe to assume that the data is updated yet in DynamoDB, correct?
DynamoDB is only updated in Stage 3.

---
Is this the lifecycle for update?
1. Data is updated locally.
2. Send to DB
3. DB received update.

Here comes the issue, when I update an item through Datastore, I got Stage 1. But it would never progress to 2 and 3. The client just never syncs with the backend and I be

[2020-06-01 13:47] nubpro commented on #5940
yarn list v1.22.4

[code]

[2020-06-01 13:57] nihp opened #5962 "Clarification: Without Bearer before the token in Header in aws-amplify-react-native it will work fine or not(without any error 401)"
I am using aws-amplify and aws-amplify-react-native for authentication. Here my question is does the  Headers will works without Bearer before the headers section.

(or) it is mandatory to add Bearer before

[code]

[code]

[2020-06-01 14:00] togro commented on #5351
Any update about Social Login on Android with ionic ?

[2020-06-01 14:10] amhinson commented on #5962
@nihp Can can you provide some additional information:
-  larger code snippet of where you are trying to use this
- What Amplify categories are you using?
- What version of the libraries are you using?

[2020-06-01 14:14] amhinson commented on #5952
@rodhoff Could you post the code snippet here? The link you posted doesn't seem to work. Also, what Amplify categories are you using and what version of Amplify are you on?

[2020-06-01 14:26] mrgoos commented on #5935
@cnorthwood - where did you find docs/guide on how to setup amplify with SAML?
I have configured Cognito with auto0 and when I want to use it from my App (Angular) with the CLI, I only see options to auto configure Facebook, Google and Amazon identity providers.

[2020-06-01 14:35] cnorthwood commented on #5935
@mrgoos the code was initially set up a while ago by a dev who left the team so I'm not sure what guide was promised. We don't use the Amplify CLI though, just the libraries with aws-amplify-serverless-plugin to generate the exports file for each environment during deploy. We're configuring the SAML integrations using the Cognito console, as as far as I can tell CloudFormation doesn't support that

[2020-06-01 15:25] leosoaivan commented on #4720
@xai1983kbu I've figured out my particular issue, at last. In my case, we were not properly handling the promise returned by Auth.signOut().

Again, this was causing an issue where even if a user signed out of their Google account, they would be able to sign in automatically into our Amplify app after signing out. By properly handling the promise, users signed out of their Google accounts AND our

[2020-06-01 15:25] #4720 closed

[2020-06-01 16:03] trusktr commented on #3435
Hello you all! Here's a solution: don't use AWS for authentication (obviously they don't care enough to add this small but important feature).

Besides, have you seen AWS's UI and UX in other areas? It is quite bad, and should really make one rethink the choice of using AWS.

[2020-06-01 16:34] nubpro opened #5963 "[Datastore] Improve error handling when data is syncing"
**Describe the bug**
The console does not produce error (actually it does, read along) when one of the AWSDateTime field stored in DynamoDB is not in the correct format. Took us a long time to figure out why our query isn't returning anything.

**To Reproduce**
1. Create schema.graphql:
[code]

2. Populate the table with orderDate as `2020-05-19T11:5:29.000Z`. It's missing a zero before the 5.
3.

[2020-06-01 16:39] mauerbac opened #5964 "Unable to resolve "./httpHandlerOptions" from "node_modules\@aws-amplify\storage\lib-esm\providers\AWSS3Provider.js""
I'm creating a react native expo application with AWS. I got this error once I added storage to the amplify using amplify add storage.

_Originally posted by @rmit-s3705430-rajesh-choudhari in https://github.com/aws-amplify/amplify-js/discussions/5878_

[2020-06-01 16:44] nubpro opened #5965 "[Datastore] Error when user logs out during syncing"
**Describe the bug**
Console spams _possible unhandled promise rejection_ when a client logs out while it is still syncing with the backend.

**To Reproduce**
1. Login with Auth from amplify.
2. Then, subscribe to a table.
3. Immediately logs out when client is still syncing with the backend.
4. Console errors:
[code]
[code]

**Expected behavior**
I have no idea where to put try and catch for this

[2020-06-01 17:17] ericclemmons commented on #3037
Keeping this open to track with #5435

[2020-06-01 17:18] ericclemmons commented on #5121
This is being worked on, so re-opening for tracking purposes.

[2020-06-01 17:19] ericclemmons commented on #5293
Leaving this closed, as I've been able to confirm that `withAuthenticator` from `@aws-amplify/ui-react` renders within Next.js.

There has also been a recent update that should get rid of the warning as well!

[2020-06-01 18:47] ashika01 commented on #5964
@rmit-s3705430-rajesh-choudhari could you let us know what versions of amplify are using? also how your configuration looks like?

[2020-06-01 19:21] manueliglesias commented on #5965
Hi @nubpro

We just merged a PR #5942 that I think fixes this issue. Could you try the unstable version?

These are the unstable versions, you might need to use `--save-exact`

https://docs.npmjs.com/cli/install

[code]

[2020-06-01 19:22] yiw679 commented on #5133
I'm having the same issue as well. It's not the race condition since getCurrentAuthenticatedUser returns "not authenticated" even after refreshing the page.

For me, this social login issue only exists when I deploy my frontend to Amplify console, it works perfectly without problem on localhost.

It's worth mentioning that even though it returns not authenticated and hub.listen won't catch any eve

[2020-06-01 19:52] xai1983kbu commented on #3933
Next step of cookies exploring revealed some useful information (at least for me).

If my logout function runs next line of code:
`window.location = https://${AUTH_DOMAIN}/logout?client_id=${cognito_client_id}&logout_uri=https://localhost:3000/register`
then Cognito pool's domain cookie - "cognito" will be invalidated by changing expiration datetime:
a) for the first logout (running my logout func

[2020-06-01 19:54] undefobj commented on #5926
@baughp That link doesn't seem to exist

[2020-06-01 19:57] undefobj commented on #5926
@gHashTag I'm not sure what is happening here in your workflow. From the trace your have `_version`, `_lastChangeedAt`, and `_deleted` are undefined which could be a reason you're seeing an issue. Did you just  add a model,  run modelgen, push, then do a `DataStore.save()` on an instance?

[2020-06-01 19:57] baughp commented on #5926
@undefobj My bad, please try [here](https://gist.github.com/baughp/919f53973f6d79c7c77c24f9cb9a9427)

[2020-06-01 20:02] ObedAmpah commented on #2702
I'm also getting this issue.

- my window.LOG_LEVEL  is set to 'DEBUG'

- I do not have any federated user pool, just a cognito user pool, but **please, let me know if I need one**

- I do not have asyncStorage in my config, but **please, let me know my config looks correct**:

`awsAmplify.configure({
  Auth: {
    authenticationFlowType: 'CUSTOM_AUTH',

    // REQUIRED only for Federated Authenti

[2020-06-01 20:12] ashika01 commented on #5961
@kannieWeesNie : How did you configure your app in the CLI? Also could you share your aws-exports removing sensitive info?

[2020-06-01 20:55] ericclemmons commented on #5133
@yiw679 Ah!  That's helpful.  After sign-in, is the redirect working correctly at least? (You may be having similar experiences as https://github.com/aws-amplify/amplify-js/issues/5565)

[2020-06-01 20:55] jordanranz commented on #5946
Hey @tolivestone, are you using `XR.loadScene` for this scene or a UI component?

[2020-06-01 21:08] yiw679 commented on #5133
Yeah it will redirect back to my app, but the Auth.getCurrentAuthenticatedUser call (as well as all other currentXXX methods including Hub.listen will not work). This only happens with social OAuth (Google, Facebook), Auth.SignIn() works perfectly fine.

I have tried to do Amplify remove auth and create another new instance of auth resource, but didn't work though.

I will check out this post and

[2020-06-01 21:14] baughp commented on #5926
I too see undefined for these values? I think the issue @gHashTag and I have is the same issue

[2020-06-01 21:27] doraeball22 commented on #5448
@sebboe  Thank, it's works for me in my Angular project

import PubSub from '@aws-amplify/pubsub';
import API from '@aws-amplify/api';
import awsconfig from './aws-exports';
import Amplify, { DataStore } from 'aws-amplify';

API.configure(awsconfig);
PubSub.configure(awsconfig);
Amplify.configure(awsconfig);
DataStore.configure();

[2020-06-01 21:28] yiw679 commented on #5133
@ericclemmons I came across redirecting issues before and [this](https://github.com/aws-amplify/amplify-js/issues/5127#issuecomment-524629101) solution is what I currently implemented.

My app only has one single env, and I have tried one redirect url and multiple redirect url. As for domain, I'm using the .amplifyapp.com domain.

The thing is that it will log in successfully on localhost, and no

[2020-06-01 21:31] ashika01 commented on #4613
@hfahlbusch - Looks like this is fixed with new UI when testing on desktop. I am working on testing this on mobile

[2020-06-01 21:36] ashika01 commented on #4390
Closing this issue as duplicate since we would be tracking this issue in the new UI components `@aws-amplify/ui-components` . Look at https://github.com/aws-amplify/amplify-js/issues/5623 for updates.

[2020-06-01 21:36] #4390 closed

[2020-06-01 21:50] tolivestone commented on #5946
@jordanranz  Yes

`async loadAndStartScene() {
    await XR.loadScene(this.props.scene, "sumerian-scene-dom-id");
    const controller = XR.getSceneController(this.props.scene);
    this.props.onLoaded(controller);
    XR.start(this.props.scene);
  }`

[2020-06-01 23:01] ashika01 commented on #5923
@edoardo849 - Could you update to our unstable version and try if this still exists. we have introduced some major changes to datastore.

These are the unstable versions, you might need to use --save-exact due to semver's handling of build metadata

[code]

[2020-06-01 23:02] ashika01 commented on #5923
I am seeing some problems in firefox and safari (working on this) but everything seems to work perfectly in chrome.

[2020-06-01 23:20] ashika01 commented on #5893
@Ricool06 - You are facing this error when trying to send a mutation query using `amplify.graphql` right?

To simplify things, could you just post the code snippet of your model schema and the api.graphql call that causing this issue?

[2020-06-01 23:59] #4811 closed

[2020-06-01 23:59] #5648 closed

[2020-06-02 00:15] rodhoff commented on #5952
Hello @amhinson, here is my code attached...
[src.zip](https://github.com/aws-amplify/amplify-js/files/4713991/src.zip)

Apliy version:
´´´
ubuntu:~/environment (master) $ amplify version
4.21.0
´´´

Please let me know if you need anything else...

[2020-06-02 01:47] rmit-s3705430-rajesh-choudhari commented on #5964
@mauerbac @ashika01 Thank you for your response. I don't know this was a very weird issue that I was facing. Later I cleared the cache using 'expo start -c' and it worked.

[2020-06-02 01:50] DavidBrear commented on #4244
@chunyenHuang thanks for your advice on the script; it worked really well to get the local expo instance working. I'm still having a problem getting my stand alone app to work with it. I am using facebook auth and it kicks back to my application but does not catch the auth and goes right back to the login page. My scheme is called `fanscout://` and i tried adding `fanscout://--/` to see if that wo

[2020-06-02 04:06] #5964 closed

[2020-06-02 04:10] mrgoos commented on #5087
@angesh3 - were you able to resolve this?

[2020-06-02 04:16] ashika01 commented on #5828
@marykatenawalaniec Thanks for this. I am marking this as feature request for UI components.  Meanwhile you can use [slots to create the UI](https://docs.amplify.aws/ui/auth/authenticator/q/framework/react#customization) that would suit your need.

[2020-06-02 04:26] ashika01 commented on #5923
@edoardo849 My issues with firefox and safari was due my cached old indexed db. Clearing the local data and trying it again solved it.

With respect to your refresh problem, with the latest unstable version, we have introduced datastore sync status. You can make use of it for sync to happen properly.

[code]

Let us know how it goes.

[2020-06-02 04:31] ashika01 commented on #5408
@AshwiniRaysecur Could you post some sample code.? Also, I am unclear to which ui component you are using or where this issue is happening.

[2020-06-02 04:32] ashika01 commented on #5006
@amuresia Apologies on getting back on this late. Where are you with this? Have you found your solution?

[2020-06-02 04:37] rgilbert90 commented on #4346
I was on `aws-amplify@3.0.11` before, and I could authenticate, but the API failed to fetch. I just updated to `aws-amplify@3.0.13` and that seemed to fix the Cognito auth issue. There is a significant delay when logging in, however. It can take up to 30s, but the rest of our app is working as expected now.

[2020-06-02 04:45] ashika01 commented on #5498
Closing this issue since the formfields now have defaults for hint, this way you dont have to implement hint separately. Info - https://github.com/aws-amplify/amplify-js/issues/5298#issuecomment-626837509

[2020-06-02 04:45] #5498 closed

[2020-06-02 05:16] ashika01 commented on #5002
Hi, we have now support for ionic with our new UI components - https://docs.amplify.aws/ui/auth/authenticator/q/framework/ionic. Maybe this could help ease social federation for you?

[2020-06-02 05:18] xai1983kbu commented on #4720
@leosoaivan sorry, misunderstood your needs.

[2020-06-02 05:26] secretshardul commented on #5019
Any updates here?

[2020-06-02 05:42] nihp commented on #5962
I am using Auth.currentSession(); from the import { Auth } from 'aws-amplify'.
I am using the latest version of the aws-amplify("^3.0.11") and aws-amplify-react-native(^4.1.2)

[2020-06-02 06:50] gHashTag commented on #5926
yes

[2020-06-02 07:14] amuresia commented on #5006
Hi, I don't think I did, I am no longer using amplify-js.

[2020-06-02 07:14] #5006 closed

[2020-06-02 07:47] sagun786 commented on #3055
Hi I am using the browser to hit the manually created url to test it before using Postman/Insomnia to test whether facebook login has been correctly integrated or not and to generate a token. I am getting the same error of invalid state when I use insomnia but when I use the browser it works fine. What optional parameters can I include like STATE AND PKCE params that will solve this

https://mydom

[2020-06-02 09:32] edoardo849 commented on #5923
Hey @ashika01 thanks for your reply! I'm testing it today and will update asap how it goes :-)

[2020-06-02 09:46] richa18b opened #5969 "Not receiving the authorization code after signIn, needed for account linking with Alexa"
I use Amazon Cognito as my Identity provider for my application, and while trying to link my app's account with Alexa, I am using my own custom UI, instead of going ahead with the hosted UI, due to few requirements.
I use aws-amplify for signing in the user from my custom UI page, and don't seem to receive an authorization code in the response received, which would be needed to pass on in the 'cod

[2020-06-02 10:52] MrHertal commented on #5898
I started a new project and was able to reproduce the issue. Here is the repo:

https://github.com/MrHertal/datastore-test

Everything worked fine until this commit:

https://github.com/MrHertal/datastore-test/commit/0bc9a241902ec0b97e0ef1e609297f616f0945b5

You will find in the README the config I used with the CLI to configure Amplify.

Thanks for your help.

[2020-06-02 10:56] kannieWeesNie commented on #5961
@ashika01 : How did you configure your app in the CLI? - honestly i have forgotten each step i took but basically followed the documentation - installed amplify, created Vue app, installed api's (graphql & rest), authentication, storage and then updated the graph api to use datastore. i made a few updates to some, if not all the libraries i installed. initially i set the api to use the api key for

[2020-06-02 10:57] Ricool06 commented on #5893
Model snippet:
[code]

This is how I am calling it in a redux saga:
[code]

This is an example of the call it makes as a result:
[code]

[2020-06-02 12:47] UnSciPreneur opened #5970 "Node.js build fails due to unneccessarily low default values on memory limit"
I am developing an Angular project using CodeCommit integration. The project builds locally on my Node.js 12 environment but fails to build with a warning "`An unhandled exception occurred: Call retries were exceeded`" in AWS Amplify.

After fiddling around on an EC2 instance with Node.js 10 I have found that (on the EC2 instance)
a) the build process fails with the above warning but
b) succeeds i

[2020-06-02 13:21] #5871 closed

[2020-06-02 13:29] secretshardul commented on #1213
Amplify CLI now has an official way to add users to groups. Like @MainAero's answer Amplify performs this using a *post-confirmation Lambda trigger*.
[code]

Here's the generated Lambda code
[code]

[2020-06-02 13:39] shide1989 opened #5971 "[API] Null result from API.post() or (put)"
**Describe the bug**
I'm using `aws-amplify` API to call the Rest API I've setup using Amplify,
but the return value is always `null`

It used to work fine using the Lambda `Hello World` template, but switching to the `lambda express` template made this happen.

Inspecting the request shows that the result returned from the API is a correct JSON value , but once received the Amplify SDK seems to m

[2020-06-02 13:53] mark-hayward commented on #5445
This seems like a big breaking change. Had me stumped for ages.
I didn't expect such a breaking change from AWS.

[2020-06-02 14:11] shide1989 commented on #5971
One of my guesses, is that it's linked to this issue : https://github.com/awslabs/aws-serverless-express/issues/99

[2020-06-02 14:30] mrgoos commented on #3336
@haverchuck - CLI is one thing, but how can it be accomplished with the JS lib? Angular or whatever?

[2020-06-02 14:46] lucido-apps commented on #5898
Thanks to all for looking into these issues. What is the status of `DataStore` functionality with other types of `@auth`, something a bit more involved such as:

`{ allow: groups, groups: ["Admins", "Editors"] }` ?

Or:

`{ allow: groups, groupsField: "myGroups", operations: [create, update, read] }` ?

Planning to build an application that will need `@auth` directives like the ones above and are

[2020-06-02 14:47] crolly commented on #5433
I have one question because this is throwing me off.

On one hand the amplify docs say:
`When using the @key directive with DataStore, as long as you specifcy a name you can use any value(s) in fields. However, if the name property is omitted, the first item in the fields array must be "id". E.g., @key(fields: ["id", "content"]).`
At the same time it says this about the `name` attribute of the `ke

[2020-06-02 14:55] #3157 closed

[2020-06-02 14:55] shide1989 commented on #5971
I think it's definitively linked to this issue, since the body returned by the API is encoded in base64. It seems to me that Axios or the RestClient class (used by amplify) is unable to decode the base64 string

[2020-06-02 14:55] #3841 closed

[2020-06-02 14:55] #4992 closed

[2020-06-02 15:05] atelic opened #5973 "signIn event on Hub auth channel is never fired"
**Describe the bug**
I've set up a listener on the auth channel as described in the documentation [here](https://docs.amplify.aws/lib/utilities/hub/q/platform/js#authentication-events). The `signOut`, `configured`, and `parsingCallbackUrl` events all fire as expected, but the `signIn` never does.

**To Reproduce**
Steps to reproduce the behavior:

1. On my sign in page, call `Auth.federatedSignIn(

[2020-06-02 15:27] batical commented on #5539
one of my beta tester is facing this issue but worse.
I took more than 10 minutes on her android. She tried with 3 different android in the same network wifi, same version of app and 4 iOS device with no issue.

I will be able to to more test in debug mode with this phone Friday. Don't know exactly what to look

[2020-06-02 16:30] amhinson commented on #5794
@joebernard Sorry for the trouble!

I'm testing this and have been able to reproduce this behavior. I added some logging and It looks like the `configure` method for `PushNotification` is being called twice. The first time is from `Amplify.configure()` (https://github.com/aws-amplify/amplify-js/blob/master/packages/core/src/Amplify.ts#L43) and the 2nd is from `PushNotification.configure()`.

Since

[2020-06-02 16:51] Yukimune commented on #4652
Also I need "ScanIndexForward" option on DataStore.

[2020-06-02 17:21] sujitsagar commented on #5783
I am also facing the same issue.

[2020-06-02 17:23] ashika01 commented on #5961
@kannieWeesNie Before I go down the route to debug, could we try setting up datastore directly instead of having the api put in first? Like follow the steps here - https://docs.amplify.aws/lib/datastore/getting-started/q/platform/js#automated-model-generation-with-npx

We have some mishaps in the past with converting api to datastore. I find this way faster. If its impossible, let me know and we c

[2020-06-02 17:28] stephendmalloy commented on #5825
Had the same issue here. This worked for me.

[2020-06-02 17:55] Ricool06 commented on #5893
@ashika01 thanks! You rule

[2020-06-02 19:25] ashika01 commented on #5893
@Ricool06 something as simple as this works fine for me.

[code]
Are you passing S3Object as object in your real code?

[2020-06-02 19:27] Ricool06 commented on #5893
@ashika01 that's strange. Can I see your package.json and package-lock.json so I can compare your version to mine?

[2020-06-02 19:27] joebernard commented on #5794
I tried the config change but it still requests permissions when the app loads.

[2020-06-02 19:33] ashika01 commented on #5893
I am not using auth or storage. I merely tested the core functionality of `API.graphql()`.

I am using the latest amplify version `"aws-amplify": "^3.0.13"`

[yarnlock.txt](https://github.com/aws-amplify/amplify-js/files/4719258/yarnlock.txt)

[2020-06-02 19:33] ashika01 commented on #5893
My code is super simple

[code]

[2020-06-02 19:53] amhinson commented on #5794
Sorry about that! I just submitted a PR to address this issue.

[2020-06-02 20:02] joebernard commented on #5794
Thanks! Once this PR lands, is the correct way to configure `PushNotifications` with

[code]
or should the PushNotification config be broken out to a sub-object?
[code]
 or with a separate `PushNotification.configure()`?

[2020-06-02 20:36] Ashish-Nanda commented on #5794
@joebernard we will update it to be:
[code]

Is that how you were using it before the bug?

[2020-06-02 20:39] ignaciofuentes commented on #4744
I believe the issue is that you are still using the legacy npm package, which is not supported with Angular 9.

"Angular 9 is not supported in the legacy version of the Angular UI Components. If you app in using Angular 9, please see our new Angular UI Component package."

https://docs.amplify.aws/ui-legacy/q/framework/angular

[2020-06-02 20:42] joebernard commented on #5794
Yes, though I was calling it with an `appId` from Pinpoint as well. Here is my complete config.

[code]

[2020-06-02 22:16] ashika01 commented on #5893
@Ricool06 I am closing this issue since I cant reproduce the issue. `API.graphql` is working with the provided schema. If you figure out the cause for the error and is tied to the JS api, feel free to ping me and I will reopen this issue.

[2020-06-02 22:16] #5893 closed

[2020-06-02 22:18] Ricool06 commented on #5893
@ashika01 okay thanks for looking. I'll guide it another try.

[2020-06-02 22:19] mrcportillo opened #5978 "Type error in Cognito custom Number attribute update"
The update process for authenticated user attributes on Cognito fails with a casting error for `Number` attributes.
 I created a user pool in Cognito using cloud formation with this schema:

[code]
When I try to update the user's attributes with:

[code]

it fails with the error:

[code]
If a try to update just strings attributes it works.

I'm using version 3.0.11.

[2020-06-02 22:20] #5794 closed

[2020-06-02 22:23] #5848 closed

[2020-06-02 22:24] govindat415 commented on #5848
I was blacklisting 'amplify' in my metro config, but I thought it would only blacklist the amplify folder with my backend code, but it turns out it blacklisted everything with amplifying in it!

[2020-06-02 22:29] ashika01 commented on #5969
@richa18b We dont have an issue on our side. When I try to do the confirm-sign-in flow I am able to receive the code to continue sign in.

To move forward could you provide with sample code and `aws-exports`(removing sensitive info) to reproduce the issue.

Note: you could look into our `ui-component` implementation for example.

[2020-06-02 22:58] amhinson commented on #5794
@joebernard yep the config you posted should work now. Can you test with the `unstable` tag:

`yarn add @aws-amplify/pushnotification@unstable`

[2020-06-03 00:06] joebernard commented on #5794
It works with my config and the `@unstable` tag.

[2020-06-03 00:08] bholbrook73 opened #5979 "Build Fails Only on Amplify with Error "Cannot find file '../aws-exports' in './src/components'.""
**Describe the bug**

The build in Amplify fails with error message "Cannot find file '../aws-exports' in './src/components'."

This works locally with `npm run build` and I'm able to access the API using the aws_exports locally. `amplify push` works as expected without issue.

When pushing to the repo and triggering a build, the build fails on all branches.

**To Reproduce**
Push a change to any

[2020-06-03 00:34] aprilmintacpineda opened #5982 "changes in schema.graphql does not reflect on elastic search mappings"
**Describe the bug**

When changing a type in `schema.graphql`, from `Float` to `String`, I saw that elastic search mappings did not update resulting to bugs in the app.

**To Reproduce**

1. Create app
2. Create a model, make 1 field `Float`
3. Deploy app
4. Insert records on that model
5. Change type `Float` to `String`

**Expected behavior**

Elastic search should follow `schema.graphql`

**Cod

[2020-06-03 01:17] mtimbs commented on #1411
I'm also running into this issue with Vuex. The issue with Vuex/Redux is you are serialising the response when putting it in state. This means you only get the user data and none of the methods on .__proto__ (which is where confirmSignIn is accessed).

The Amplify library also doesn't have an easy way to new up a CognitoUser from the user data that can be serialised in state from what I can see. I

[2020-06-03 01:57] mtimbs opened #5983 "API for Auth.confirmSignIn that doesn't require a CognitoUser OR ability to easily create a new CognitoUser from an Auth signIn response"
**Is your feature request related to a problem? Please describe.**
Related to this issue (and similar issues like it) https://github.com/aws-amplify/amplify-js/issues/1411

The current Auth workflow expects local state to be preserved between the Sign In and MFA screens. Any architecture that uses Redux/Vuex or some form of state management for sharing state between SignIn and MFA wont work as the

[2020-06-03 02:51] mtimbs commented on #5983
**Update:** I managed to work dig deeper and find that this issue is actually caused by a shallow clone in state and not the proto methods being dropped in serialisation process.

for example I was doing setState('user', {...user}) which was dropping the prototype methods.

The issue is that Auth.confirmSignIn mutates the user object passed in which was causing errors if I wasn't using a clone. Pa

[2020-06-03 02:51] #5983 closed

[2020-06-03 03:08] youngchingjui commented on #3818
Before using Amplify, I had Cognito setup with Federated Sign in with Facebook. I started with the Cognito Hosted UI, and everything worked.

I wanted to customize my own auth forms, but the Cognito docs weren't too clear to me how to manually connect my front-end with Cognito's API. Some docs suggested I move to Amplify to simplify things (including managing tokens), so I did.

Using Amplify's CL

[2020-06-03 03:59] richa18b commented on #5969
@ashika01 Hey, I am not talking about the code for continuing the sign-in, I am talking about the authorization code that I expect in the response object, once the user is successfully authenticated by Amazon Cognito.

Check point number 4 on this link: [https://developer.amazon.com/en-US/docs/alexa/account-linking/configure-authorization-code-grant.html#overview-of-the-authorization-code-grant-fl

[2020-06-03 04:21] ashika01 commented on #5979
@bholbrook73 do your repo has aws-exports in that location? It is not git igonored?

[2020-06-03 04:25] ashika01 commented on #5979
If you still have an issue, ping here and I will reopen the issue.

[2020-06-03 04:25] #5979 closed

[2020-06-03 04:59] si0005hp commented on #5925
@elorzafe Hi, sorry for many ping and bothering, but today I've upgraded to the version `3.0.14` (which includes your fix #5929) and confirmed the problem has gone.
Thank you so much for your work! it's helpful for us :pray:.
I'll close this issue and #5927 (should be no longer necessary).

[2020-06-03 04:59] #5925 closed

[2020-06-03 05:26] ashika01 commented on #5978
@mrcportillo Thanks for bringing up this issue. I was able to reproduce it. I will further investigate and keep you updated here.

[2020-06-03 05:58] bholbrook73 commented on #5979
@ashika01 Thank you - yes, it was gitignored.

[2020-06-03 06:30] mtakac opened #5985 "Unify errors in Auth module"
**Is your feature request related to a problem? Please describe.**
Most functions from Auth module throw error object with `code` attribute. However `currentAuthenticatedUser` throws only a string `not authenticated`. I think this is a little confusing and unexpected.

**Describe the solution you'd like**
Make `currentAuthenticatedUser` throw object with same structure as other Auth module functio

[2020-06-03 06:34] xai1983kbu commented on #3933
I managed to de-authorize an application after that facebook application goes to the tab - "Removed"
![app_remove](https://user-images.githubusercontent.com/14042193/83600449-49702900-a577-11ea-94de-672508d28bdb.png)
I used facebook sdk for javascript:
![facebook_sdk](https://user-images.githubusercontent.com/14042193/83602242-d7014800-a57a-11ea-964e-3a8921de9fe6.png)
and next code:
[code]
I put "

[2020-06-03 07:03] ashika01 commented on #5978
@mrcportillo Hey after some investigation this is what I found. With respect to cognito, the [request syntax expects value as a string in user attributes](https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_AdminUpdateUserAttributes.html#API_AdminUpdateUserAttributes_RequestSyntax). You can see the attribute type [here](https://docs.aws.amazon.com/cognito-user-identity-

[2020-06-03 07:03] #5978 closed

[2020-06-03 07:14] ashika01 commented on #5862
@khalilchris Whats your use case for doing that? Once the user is signed in you can use `currentAuthenticatedUser` or `currentUserInfo` to get their details.

[2020-06-03 07:17] ashika01 commented on #1004
I guess this should be possible with the new amplify UI - more info https://docs.amplify.aws/ui/auth/authenticator/q/framework/vue

To improve the typescript support further or have any suggestion. Feel free to open up a new issue.

[2020-06-03 07:17] #1004 closed

[2020-06-03 07:24] ashika01 commented on #5973
@atelic Would it be possible for you to [try something like this](https://github.com/aws-amplify/amplify-js/blob/master/packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.tsx#L42)

Basically, in case of hostedUI, you listen for event payload `cognitoHostedUI` and set the state based of that.

[2020-06-03 07:41] ashika01 commented on #5657
@danluszcz-pariveda - it is unclear as to what bugs you face when you are not using slots. This way we can try and guide you with the proper usage of slots.

[2020-06-03 08:15] JasonZhang91503 commented on #5873
Thanks, 3.0.13 works for me.

[2020-06-03 08:31] odiaseo commented on #5435
@TimNZ I share the same pain and sometimes shocked beyond words, I acknowledge the work the team is doing with amplify but really amplify is not production ready.

[2020-06-03 09:02] sichiu commented on #5359
Any update on this?

[2020-06-03 10:13] Thembelani commented on #3039
Hi everyone. Has this issue been resolved ?

[2020-06-03 10:56] kiitos-smasri opened #5986 "react native s3Album doesn't show images under protected level"
i was trying to use s3Album in react-native app using protected level but it seems that level and identityId is not passed to called s3Image

https://github.com/aws-amplify/amplify-js/blob/a047ce73abe98c3bf82e888c3afb4d2f911805f3/packages/aws-amplify-react-native/src/Storage/S3Album.js

`const list = this.state.images.map(image => {
			return (
				<S3Image
					key={image.key}
					imgKey={image.

[2020-06-03 11:01] kiitos-smasri opened #5987 "react-native s3Images doesn't show other users images under protected level"
am trying to use s3Image in react-native app under protected level but seems you need to pass identityId when getting images from storage

https://github.com/aws-amplify/amplify-js/blob/a047ce73abe98c3bf82e888c3afb4d2f911805f3/packages/aws-amplify-react-native/src/Storage/S3Image.js

`	getImageSource() {
		const { imgKey, level } = this.props;
		Storage.get(imgKey, { level: level ? level : 'public

[2020-06-03 11:05] Thembelani commented on #2692
Hi. Any update on this ...?

[2020-06-03 11:35] Enase opened #5988 "Api package does not specify core version"
**Describe the bug**
[This file](https://github.com/aws-amplify/amplify-js/blob/1123cef546e906ba1beecedecdc60b3844f38297/packages/api/src/API.ts#L19) imports `{ Amplify }` from `@aws-amplify/core`
That package [doesn't specify](https://github.com/aws-amplify/amplify-js/blob/1123cef546e906ba1beecedecdc60b3844f38297/packages/api/package.json#L40) the version of `@aws-amplify/core` it depends on, so

[2020-06-03 11:53] prateek-singh-wcar commented on #3040
You may need to specify AuthorizationType: NONE , for your resource properties.

[2020-06-03 12:21] rudijs opened #5989 "FireFox: Credentials - Failed to load credentials"
Hi,

I'm seeing a deserializing error in FireFox after a successful `Auth.signIn(email, password)`.

It works fine in Google Chrome and Brave Browser, but shows up in Firefox.

Those are the only 3 browsers I have access to on my Debian Linux workstation.

Enabling debugging with `Amplify.Logger.LOG_LEVEL = "DEBUG"` this is the relevant console log output.

Google Chrome and Brave Browser is all g

[2020-06-03 13:02] Darapsas opened #5990 "API graphqlOperation update doesn't seem to do anything"
**Describe the bug**
After recent updates, I noticed that API.graphql update operation doesn't work properly (it seems that it doesn't do anything at all).

**To Reproduce**
Steps to reproduce the behavior:

1. execute await API.graphql(graphqlOperation(updateUserData, {...})
2. nothing changes

**Expected behavior**
Expecting some changes to the data, for example below funds should be updated, bu

[2020-06-03 13:13] Darapsas opened #5991 "DataStore queries don't do anything on the first load of the application"
**Describe the bug**
After newest update, DataStore queries don't do anything on the first load of the react-native application. Only on the second load, it starts to work properly.

**To Reproduce**
Steps to reproduce the behavior:

1. Open react-native application
2. Sign in with a user
2. Try to get some data with DataStore.query(Something)
3. Don't get anything (well it spits empty arrays, so

[2020-06-03 13:15] Darapsas commented on #5991
Forgot to mention, I tried to use your fanyc  await DataStore.start() before first queries, didn't seem to do anything.

[2020-06-03 13:34] kannieWeesNie commented on #5961
@ashika01 thank you for your help. the link you gave refers to building a React app and not a Vue app. i tried following the video tutorial, substituting vue for react but got errors with the push. here are the errors:

There is no top level schema object defined.

is there a Vue specific tutorial on how to include DataStore in to a Vue app?

thanks

[2020-06-03 13:44] danluszcz-pariveda commented on #5657
We have moved on to custom UI components given the issues with this library.

[2020-06-03 13:44] #5657 closed

[2020-06-03 14:27] atelic commented on #5973
Hi @ashika01, thanks for the reply. I updated my listener to look like this:

[code]
But I never see the `'cognitoHostedUI'` get fired either. It did make me think about two things though:
1. My app is a SPA and coming back from an external domain causes the app to have to remount. Could the event happen before the listener is set up? I'm creating it at the earliest lifecycle hook possible.
2. Aft

[2020-06-03 14:31] SavagePencil commented on #5946
This is the autoplay-blocking enforced by some browsers.  It will require the customer to do a physical input before audio will function.  You may need a start button or other similar input to get past Chrome's blocking of audio.

[2020-06-03 14:43] nubpro commented on #5991
I'll tag along, same problem here on react native too.

[2020-06-03 14:54] lenarmazitov commented on #5898
I think problem is in

[code]

As workaround you can remove iam auth and run **amplify codegen models**

It helped me.

[2020-06-03 15:38] manueliglesias commented on #5991
Hi @Darapsas and @nubpro

When enabling syncing to the cloud on the DataStore, queries you run might yield empty or incomplete results if the initial sync process hasn't completed or there is not enough data synced locally at the time of the query. In this scenario, you can either wait for the sync process to finish (by listening to the `'ready'` event on the `'datastore'` Hub channel) or you can

[2020-06-03 16:08] mezalejandro commented on #5543
Hi @amhinson I was changing the configuration in aws
![Screen Shot 2020-06-03 at 13 04 11](https://user-images.githubusercontent.com/568141/83660140-d7a9d680-a59a-11ea-93c6-4a6cc7db07e4.png)

And added Callback URL(s) the redirect to the app.
Now using Auth.federatedSignIn({provider: 'SignInWithApple'}) directly open the browser with the login:
![Screen Shot 2020-06-03 at 13 06 40](https://user-im

[2020-06-03 16:27] kleky commented on #4681
I've had enough. **aws-amplify does not work with Angular 9.**

[2020-06-03 16:37] ashika01 commented on #5961
the setup should be same right? We dont have vue code in there. But we are working on our docs right now and we have action items to get that done.

[2020-06-03 16:39] jordanranz commented on #5946
Yep, as @SavagePencil mentioned (and highlighted in that Google link) user interaction is required to enable audio. There is an API on the XR category that is implement to do this:
https://github.com/aws-amplify/amplify-js/blob/master/packages/xr/src/Providers/SumerianProvider.ts#L311
[code]

There is also an event that is fired on the scene that will tell you when audio is disabled, here is an ex

[2020-06-03 16:39] ashika01 commented on #5961
Basically, I want you try using these steps for setup

[code]

So your datastore base is setup for you.

[2020-06-03 16:41] sim1camporeale opened #5992 "Invalid opType: undefined"
Hi all,
in this point there is some cases where the returned opType from merge function will be undefined. If the function put undefined value inside the opType array then the following switch case returns Invalid opType error. If think that you should handle the case when opType is undefined.

https://github.com/aws-amplify/amplify-js/blob/da2726d029c63d7472a32deffd1431322ec628ad/packages/datasto

[2020-06-03 16:43] ashika01 commented on #5987
@kiitos-smasri What does your code look like? For protected you need to pass in `identityId` to get the image.

[2020-06-03 16:46] xai1983kbu commented on #3933
Finally, I decided to don't use the method described above.
I found one additional setting - "Force Web OAuth Reauthentication", and switched to - "YES"
https://developers.facebook.com/docs/facebook-login/reauthentication/
I think this setting will increase safety for some extend. This is enough for me, now.
![force_web_oauth](https://user-images.githubusercontent.com/14042193/83662096-c0d1a700-a5

[2020-06-03 16:55] ashika01 commented on #5987
The same goes for this issue as well - https://github.com/aws-amplify/amplify-js/issues/5986
I am closing the other one to track it here.

[2020-06-03 16:55] #5986 closed

[2020-06-03 16:56] Amplifiyer commented on #5320
@elchinillo and @BernhardSmuts what's the amplify-js version are you using? Are you still facing issues with using Storage in mock mode?

[2020-06-03 17:00] ashika01 commented on #5657
@danluszcz-pariveda Sorry to hear that. We have a lot of customers who is using the ui-components in production. Also, these components are released recently and we are working on the components to get standards higher on this. Customer feedback is crucial to keep the components growing. Saying there are issues wont help us improve the components. If possible, please provide feedback on the issues

[2020-06-03 17:17] #5874 closed

[2020-06-03 17:33] ericclemmons commented on #5435
I've updated the PR description with more information on _how_ SSR support is progressing. If you have any feedback related to SSR support & features, please share!

If you have other feedback, you can raise an issue, start a discussion, or join our Discord community:

- https://github.com/aws-amplify/amplify-js/issues/5519
- https://github.com/aws-amplify/amplify-js/issues/5716

[2020-06-03 17:36] atelic commented on #5973
@ashika01 here is a repository with the minimum required to reproduce:
https://github.com/atelic/aws-amplify-bug-repro

[2020-06-03 17:38] ashika01 commented on #5973
@atelic : I will be on it shortly.

[2020-06-03 17:59] sw-yx commented on #3640
I've received another request for amplify auth react hooks today from https://twitter.com/PipoPeperoni

[2020-06-03 18:32] amhinson commented on #5794
This fix is now published to `@latest` (3.1.1).

[2020-06-03 18:55] neilime opened #5995 "Grapqhl list query combining filter and limit does not work as expected"
**Describe the bug**

Hi,

Let's assume that I have query a list using "filter" and "limit" variable :

[code]

With those variables:
[code]

Let's assume that I have hundreds of items in DynamoDB but only 10 are matching to the expected filter

When I execute the query, I expect to receive an array of 10 items

However, I receive an array of items with variable size and I have to paginate using `

[2020-06-03 19:11] egyangel commented on #3470
+1 password confirm

[2020-06-03 19:54] sammartinez commented on #4911
@rush86999 We do recommend to use the latest version of Amplify CLI, seeing that you are on `amplify-cli@1.3.3` and current version is `4.21.1`, but we also wanted to confirm if you were still experiencing this issue with the above work arounds. Please let us know.

[2020-06-03 19:58] ajhool commented on #3640
Not stale, please reopen

[2020-06-03 20:09] arlyon commented on #4983
Is a better solution not to simply make it `void | Promise<void>`?

[2020-06-03 20:24] rush86999 commented on #4911
I abandoned the current project for this issue. I will try this on a future project. Thanks for your help. I m leaving this open so someone else can confirm that this problem is in fact resolved.

[2020-06-03 20:25] arlyon opened #5997 "Fully typed hubs"
**Describe the solution you'd like**

Currently there is nothing in the way of typing for hubs. I would like my IDE / editor to know based on the type of the event which parameters I am expected to pass it. So, a hub is configured with a number of known events at compile time, each with expected payloads. It may look something like this:

[code]

**Describe alternatives you've considered**

I've c

[2020-06-03 20:26] rpostulart opened #5998 "AWS amplify StorageClass not supporting copyObject while AWS S3 SDK does"
I need a feature where I can copy file within a bucket to another 'folder'

This option is provided by https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#copyObject-property

but not with https://aws-amplify.github.io/amplify-js/api/classes/storageclass.html

Can we make this functionality available to AWS Amplify

[2020-06-03 20:57] ashika01 commented on #5987
@kiitos-smasri Apologies, I looked into the component we dont have the `protected with identityId` yet for react native. We have feature request open here - https://github.com/aws-amplify/amplify-js/issues/3433

I am closing this issue and will track the updates there.

[2020-06-03 20:57] #5987 closed

[2020-06-03 20:58] ashika01 commented on #3433
The team is working on some react native improvements right now. This feature would become part of that development.

[2020-06-03 20:59] baughp commented on #5926
@gHashTag did you get any further with this? Find a solution?

[2020-06-03 21:10] arlyon commented on #5997
As an addendum, here is a simple wrapper around Hub that adds type information:

[code]

[2020-06-03 21:18] ashika01 commented on #5969
@richa18b I am confused here. If you are using hosted UI, then you need to setup like this https://docs.amplify.aws/lib/auth/social/q/platform/js#setup-frontend

And use `Auth.federatedSignIn()` not `Auth.signIn` right?

[2020-06-03 21:20] ashika01 commented on #5997
@arlyon Would be interested in opening a PR for this? We could have someone in the team help you see this to closure.

[2020-06-03 21:28] ashika01 commented on #5995
@neilime That is the behavior right now. We have a feature request with the [CLI team](aws-amplify/amplify-cli#1865). That talks about this and you can brief your usecase there .

[2020-06-03 21:32] manueliglesias commented on #5992
Hi @sim1camporeale

That `opType` comes from one of the storage adapters. Are you using DataStore in a browser or on react native?

Also, could you share the schema you are using?

[2020-06-03 21:35] #5995 closed

[2020-06-03 21:36] Huetarded commented on #1213
@secretshardul Yes, I am using this and it works great at adding users to whichever group you'd like after they are verified.

However, I would add that there is a bit of a bug present when using this feature. The file that is created by Amplify is called "add-to-group.js", but the handler for that function that gets assigned in AWS is "index.handler". So, upon first push, I have found that I need

[2020-06-03 21:55] damianrr opened #5999 "PubSub not working: No Cognito Federated Identity pool provided"
Hello,

I'm following this guide: https://docs.amplify.aws/lib/pubsub/getting-started/q/platform/js for subscribing to IoT messages from my web app. I:
1. imported and configured the classes as stated in the guide:
[code]
2. Created the IAM Policy and made sure it has sufficient permissions

Now, I'm getting this error on my console:
[code]
If I:
[code]
I get exactly the same error.

Does anyone k

[2020-06-03 22:36] manueliglesias commented on #5992
@sim1camporeale I am also curious, under what circumstances do you get undefined back from the merge function?

[2020-06-03 22:45] shubham234 commented on #4415
I'm also facing same issue with below dependencies:
"react-native": "0.59.8",
"@aws-amplify/pushnotification": "3.0.9"

**Device Details**
Model: OnePlus A6000
Android Version: 10

**Actual Error**
[code]

I'm able to reproduce the issue using below steps:
1. Kill the App. Send yourself a notification.
2. Open the App by clicking on the App Icon (Not Notification).
3. Kill the App again.
4. Tap on

[2020-06-03 23:24] shubham234 opened #6000 "App doesn't open on tapping the Notification"
**Describe the bug**
On tapping the received notification, the App should open.

**To Reproduce**
Steps to reproduce the behavior:
1. Kill the App.
2. Send yourself a notification.
3. Open the App by clicking on the App Icon (Not Notification).
4. Kill the App again.
5. Tap on the notification.
6. You'll see that notification closes but App doesn't open.

**Expected behavior**
The app should open

[2020-06-03 23:26] shubham234 commented on #4415
@Sytree @dylan-westbury @atsneves @Yuvi7447

Were you able to solve this issue?

[2020-06-03 23:59] charlie0077 opened #6002 ""Missing credentials in config" error when using Auth.currentCredentials()"
**Describe the bug**
Hi, We are using Amplify to manage the coginto credentials and once a while we will get this error when using the credentials: Missing credentials in config, if using AWS_CONFIG_FILE, set AWS_SDK_LOAD_CONFIG=1

It does not happen often, happens once a day for us. Very hard to trigger.

The way we use it is like this:
[code]
According to the stacktrace, we are getting the error

[2020-06-03 23:59] ashika01 commented on #5999
@damianrr I thinking the docs is missing few step.

Your code should look like this

[code]

- Importing from `lib/provider` could be one bit.
- Amplify configure bit might be another missing piece.

Could you confirm if you have this setup?

[2020-06-04 00:15] #5992 closed

[2020-06-04 00:37] ashika01 commented on #6002
@charlie0077 You dont see this if you are not using `Auth.currentCredentials()`? This is looks like its not something in Amplify. I see similar issues reported to aws-sdk team in the past -
- https://github.com/aws/aws-sdk-js/issues/1955
- https://github.com/aws/aws-sdk-js/issues/1483

I would suggest you identify where its coming from and report the issue to aws-sdk git repo.

[2020-06-04 00:46] ashika01 commented on #2562
This should be now be the natural behavior for the new ui-component - https://docs.amplify.aws/ui/auth/authenticator/q/framework/react

If there is still some parts missing, please feel free to comment here and I will reopen the issue.

[2020-06-04 00:46] #2562 closed

[2020-06-04 00:50] ashika01 commented on #2994
Closing this feature request. Since the new UI components handles theming through CSS custom properties. For more info - https://docs.amplify.aws/ui/customization/theming/q/framework/react

If there are improvement / bugs or suggestions for the new UI component feel to open up a new issue.

[2020-06-04 00:50] #2994 closed

[2020-06-04 00:50] ashika01 commented on #2161
Closing this feature request. Since the new UI components handles theming through CSS custom properties. For more info - https://docs.amplify.aws/ui/customization/theming/q/framework/react

If there are improvement / bugs or suggestions for the new UI component feel to open up a new issue.

[2020-06-04 00:50] #2161 closed

[2020-06-04 02:02] mdoesburg commented on #5991
@manueliglesias When I use the "Observing a Model until enough data is available" method you laid out above, I end up with no data. I am actually not receiving any messages on the observe call anymore since the latest update. Where normally I would get "msg.element", I don't get anything.

[2020-06-04 02:09] damianrr commented on #5999
Hey @ashika01 yes, I do have my `Amplify.configure(aws_exports);` in place, just like in your snippet I changed the import to `import { AWSIoTProvider } from '@aws-amplify/pubsub';` and I still get the same error.

[2020-06-04 02:33] mdoesburg opened #6003 "DataStore observe single item by ID doesn't seem to be working anymore"
**Describe the bug**
Since the new DataStore update (tested this on DataStore 2.2.1), observing a single item by ID doesn't seem to be working anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an Amplify app for React Native.
2. Don't use the new DataStore.start(), instead try to observe a model with a specific ID. (make sure a Note with the specified ID exists)

Note: When I r

[2020-06-04 02:34] manueliglesias commented on #5991
Hi @mdoesburg

I went through my code again and try it in fresh apps and it worked as expected, do you have a codesandbox with your code or similar where I can take a closer look at it?

[2020-06-04 02:38] mdoesburg commented on #5991
@manueliglesias Yeah sorry about that, it seems like your code does work. It doesn't work when I pass an ID in. I've created a new issue here: https://github.com/aws-amplify/amplify-js/issues/6003

[2020-06-04 03:04] rifflock commented on #5486
Hey @mauerbac! Did the team get back to you on this? Thanks!

[2020-06-04 03:54] nubpro commented on #6003
Quick question, is the same when you use Hub.listener on Datastore?

Basically, you would query your specific data only when the client is synced up.
https://github.com/aws-amplify/amplify-js/issues/5991#issuecomment-638278364

Does it yield the same issue?
Cuz' we're evaluating upgrading to the newer version.

Thanks a bunch!

[2020-06-04 04:19] richa18b commented on #5969
@ashika01 My identity provider is still Amazon Cognito, I don't think I need `federatedSignIn()` in this case!
Also, this is the case, I am not going with the hosted UI, I have built a custom UI of my own, without using the `ui-components` facility provided in aws-amplify. I am using my own components in there!

[2020-06-04 04:19] nihp commented on #5918
Can anyone explain what is the root cause of the error? And after adding the **Analytics: false** it worked.

[2020-06-04 05:26] bharathkinto opened #6004 "aws-amplify-cognito"
I just am trying to achieve the demo given in AWS cognito demo. But i end up with

    at next (C:\Bharath\src\web\Kinto Projects\cognito3\node_modules\express\lib\router\route.js:137:13)
    at Route.dispatch (C:\Bharath\src\web\Kinto Projects\cognito3\node_modules\express\lib\router\route.js:112:3)
    at Layer.handle [as handle_request] (C:\Bharath\src\web\Kinto Projects\cognito3\node_modules\e

[2020-06-04 06:14] satishmolletipipra commented on #5254
@alertme-edwin We are using amplify angular. this is not working for me.

[2020-06-04 06:52] Muttaki-Khan commented on #2949
my html heading is
<h3> Hello there! </h3>
so i want this Hello there! in chinese while loading my website
i wrote this code
I18n.setLanguage('ch');
const dict = {
  'bh': {
    'Hello there!': "Apa khabar di sana!"
  },
  'ch': {
    'Hello there!': "你好！"
  }
};

I18n.putVocabularies(dict);
I18n.get('Hello there!');

But how can i tell my html to show chinese???
how to call this I18n function

[2020-06-04 07:19] slewis77 opened #6006 "Subscription msg element is not a Model"
**Describe the bug**
Subscribe element is not a Model, so can't use it directly

**To Reproduce**
Create a Datastore project with a simple model and create a subscription
When using DataStore.query the returned data is an array of Models
This means you can edit the Model by creating a copyOf and use it in a DataStore.save

If you get notification that the data has changed, the subscription msg con

[2020-06-04 07:38] sim1camporeale commented on #5992
Hi manueliglesias,
I'm using DataStore in react-native with expo.
My schema is slighty complex if you want I can show it on discord.
The object that causes issues was this EdgeMetaData:

[code]
It happens after some requests sometime. It happens more often when we write multiple times EdgeMetaData .

[2020-06-04 07:42] slewis77 commented on #6006
Just to add, this is new behaviour since datastore 2.2.1 (which otherwise has some great updates!)

[2020-06-04 08:16] sim1camporeale commented on #5407
I confirm that with latest version everything works.

[2020-06-04 08:52] MrHertal commented on #5898
Hi, I tried this but I still have the warning.

[2020-06-04 08:54] gHashTag commented on #5926
@baughp No. Everything is in the same place. I'm waiting for the engineers to fix it. And they will write about it here :) I follow the notifications, therefore, the issue.

[2020-06-04 09:30] lenarmazitov commented on #5898
@MrHertal did you push changes?

[2020-06-04 09:35] MrHertal commented on #5898
You mean, did I `amplify push` and `amplify codegen models`, yes don't worry :)

I did not push in the repository because I still have the warning, and I need that @auth rule anyway because I have a Lambda function that manipulates calls.

[2020-06-04 09:41] kleky commented on #4681
Thanks, but there must be something weird in our app that's causing issues. I'm trying to move from using only amazon-cognito-identity-js, to using Amplify, but no matter what I do it won't build. I tried turning off aot and ivy, upgrading to latest ng v9, upgrading tslib and types/node, removing node_modules and re-installing and lots of other random installs in the hope of success.

[code]
 I'll

[2020-06-04 10:41] tvb commented on #565
@hakimio do you mean by retrying to retry the complete auth flow? Because this means the end user will see the Social Provider authentication popup/window twice on the first attempt. Kinda sucks and is bad UX.

[2020-06-04 12:23] mousedownmike commented on #2562
@ashika01, this request (at least from my perspective) was to support logging in after confirming a signup with the [AuthClass confirmSignUp](https://aws-amplify.github.io/amplify-js/api/classes/authclass.html#confirmsignup) method.

I don't see how a UI specific implementation resolves the fundamental issue with `confirmSignUp`.  Is the react component storing the password locally and using that

[2020-06-04 12:42] Darapsas commented on #5991
Hello there, @manueliglesias,
So this morning I have upgraded packages to the newest "stable" versions:
[code]

And then I tried your code snippet (in theory everything should work, it looks very clean) with Hub.listen (the first one) and then my terminal spits this into my face:
![20200604_154059](https://user-images.githubusercontent.com/20926795/83757968-f59a3880-a679-11ea-9327-fae379090a33.png

[2020-06-04 12:53] hakimio commented on #565
@tvb The second time the user won't have to confirm or select anything unless he is using incognito mode. He will only see the browser page reloading.
If you don't like this workaround, you'll have to create some separate UI for linking accounts and only allow to login with social provider once this is done.
Anyway, you can tell AWS Cognito developers that they are doing a craptastic job, but [it

[2020-06-04 12:56] tvb commented on #565
Hmm, I need to look into it again I guess, as I thought a reload wasn’t enough to get it working

[2020-06-04 13:17] ender-code opened #6008 "ERROR in ../node_modules/@aws-amplify/datastore/lib-esm/types.d.ts:73:38 - error TS2304: Cannot find name 'Omit'."
**Describe the bug**
Following docs here: https://aws-amplify.github.io/docs/js/tutorials/building-ionic-4-apps/

Error:
`ERROR in ../node_modules/@aws-amplify/datastore/lib-esm/types.d.ts:73:38 - error TS2304: Cannot find name 'Omit'. function getJSType(scalar: keyof Omit<typeof GraphQLScalarType, 'getJSType'>): 'string' | 'number' | 'boolean';`

**To Reproduce**
Following the tutorial, went upto

[2020-06-04 14:12] yepes commented on #3435
+1

[2020-06-04 14:24] kannieWeesNie commented on #5961
@ashika01 thanks for the help but unfortunately i still cannot get it to work.

after installing as per your instructions, i installed the Auth library, then changed the schema. then had to update the api to link to cognito pools:
`amplify update api
? Please select from one of the below mentioned services: GraphQL
? Select from the options below Update auth settings
? Choose the default authoriza

[2020-06-04 14:53] mtltechtemp commented on #2706
@jordanranz I made it working by defining the following types:
[code]

And then:
[code]

In front:
[code]

I just had to define `S3ObjectInput`and `S3Object` otherwise it doesn't work.

I think we can close this issue if the documentation is updated.

[2020-06-04 15:01] manueliglesias commented on #5992
Yesterday afternoon we published new versions, can you try with the latest?

[2020-06-04 15:19] dvago commented on #4681
same issue is happening in a non Angular project, my build is using vue.js

[code]

this is the error coming up:
[code]

[2020-06-04 15:38] sim1camporeale commented on #5992
Hi @manueliglesias  that issue was solved. But now we have an issue starting DataStore.
At first launch after we authenticate we wait for DataStore sync event using HUB. When HUB says that DataStore is ready we try to do a query against DataStore and it is empty. But we see subscription. If we close and reopen app we see data and we will be able to perform query.
We tried adding a sleep of 10 seco

[2020-06-04 16:20] atelic commented on #5973
@ashika01, I was able to upgrade `aws-amplify` to the most recent version that was released a day ago and I am now seeing the `cognitoHostedUI` event. However, `currentSession` and `currentAuthenticatedUser` never return user info. Is there something I need to do with hosted UI to get these to work?

[2020-06-04 16:55] mdoesburg commented on #6003
@nubpro As long as your not trying to observe a single item by ID, you should be fine. All the code samples shown by @manueliglesias in the issue you linked work. It just doesn't seem to work when you pass an ID into the `DataStore.observe` method like so:

[code]

[2020-06-04 17:08] amhinson commented on #5543
This seems related to an existing open issue we have: https://github.com/aws-amplify/amplify-js/issues/4580

[2020-06-04 17:19] amhinson commented on #5962
It appears you're hitting a non-Amplify endpoint, so the use of `Bearer` depends on your server's implementation.

[2020-06-04 17:27] ashika01 commented on #5973
How does you payload data look like? I think that should be the user info right?

[2020-06-04 17:28] amhinson commented on #5952
@rodhoff Based on the error you posted, it doesn't appear this is directly related to Amplify. Could you also run this command to share what packages and version you are using in your app?

[code]

[2020-06-04 17:30] ashika01 commented on #5961
@kannieWeesNie could you post a sample schema for me with you trying to get it working? I can try reproduce this in vue and post you the steps.

[2020-06-04 17:51] amhinson commented on #6000
Hey @shubham234, thanks for opening up this issue! I am able to reproduce the behavior you are seeing. We are in the process of revamping our Push Notification implementation, so I'll make sure we can address this issue as well.

[2020-06-04 17:53] ashika01 commented on #6004
@bharathkinto how did you configure your app? Follow this doc to setup amplify based on the framework you are using - https://docs.amplify.aws/start/getting-started/setup/q/integration/react

To add auth to your project, follow this - https://docs.amplify.aws/lib/auth/getting-started/q/platform/js

I am closing this issue because this is not a bug on Amplify. It is configuration mismatch. Please l

[2020-06-04 17:53] #6004 closed

[2020-06-04 17:58] eduardosousaufjf opened #6016 "[Feedback]Need more customization on theme"
**Page**: [`/start/getting-started/nextsteps/q/integration/vue`](https://docs.amplify.aws/start/getting-started/nextsteps/q/integration/vue)

**Feedback**:

Using the Authentication button I can't change the spinner color, because it is fixed on fill.
Usage of the color variables would simply solve it.

[2020-06-04 19:09] ashika01 commented on #6003
@mdoesburg What is the error that you are seeing? I have no problem with observe by id using `@aws-amplify/datastore@latest`

Here is my sample code, my useEffect looks something like this

[code]

my render UI is simple
[code]

[2020-06-04 19:25] ashika01 commented on #6003
Preview of whats happening for me. Let me know if I am missing anything

![ds](https://user-images.githubusercontent.com/35131273/83801663-616ea800-a65e-11ea-9ab7-97138acfd887.gif)

[2020-06-04 19:32] sammartinez commented on #5069
@DavidAlvarado23 Please let us know on the sample application and we can circle back with you.

[2020-06-04 20:01] atelic commented on #5973
Yes I do get a CognitoUserSession object with an access and id token inside. This is great! However my concern is that if the `currentSession` and `currentAuthenticatedUser` functions always return null or throw an error, even after sign in, I will not be able to easily refresh tokens

[2020-06-04 20:09] ashika01 commented on #5973
Your `currentAuthenticatedUser` shouldn't be null. Can you check your implementation with [our UI to get an idea](https://github.com/aws-amplify/amplify-js/blob/master/packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.tsx)

In our lifecycle we wait till the redirect is finished to get user info,[ around here](https://github.com/aws-amplify/amplify-js/blob/ma

[2020-06-04 20:48] roballsopp opened #6009 "codegen doesn't generate scalars"
I'm using the [JS GraphQL plugin](https://github.com/jimkyndemeyer/js-graphql-intellij-plugin) for IntelliJ, and I can't get proper code highlighting/completion in my graphql because `amplify codegen` (and it seems the `aws appsync get-introspection-schema` command as well) doesn't generate the AWS scalar types in my `schema.json` file that it needs for the `createdAt` and `updatedAt` fields it ad

[2020-06-04 20:59] cardinalm7 commented on #5198
Our team is having similar issues. We would like to be able to ingest a refresh token between apps for an SSO solution. Here is a reference to our Amazon support ticket:

Case ID 7031693371
https://console.aws.amazon.com/support/home#/case/?displayId=7031693371&language=en

Summary of problem:

We have multiple apps under ellen umbrella on which we want to implement SSO flow using Cognito User Poo

[2020-06-04 21:10] mdoesburg commented on #6003
@ashika01 Ok, so it seems like the subscription is now actually showing an insert, even when I pass in an ID:
[code]

However, when I query right after the insert, I get no data. Here's the code of the custom React hook I wrote:
[code]

[2020-06-04 21:24] ashika01 commented on #6003
@mdoesburg You wouldnt get any subscription data on query since the query happens in the local storage (indexeddb) and not to appsync backend. You would get subscription data only in cases of datastore insert/update/delete

[2020-06-04 21:44] mdoesburg commented on #6003
@ashika01 If I query something right after it has been inserted, shouldn't I get the data?

[2020-06-04 21:47] mdoesburg commented on #6003
@ashika01 Running a query right after the subscription receives a message is literally something shown in the [Example React Native Application](https://docs.amplify.aws/lib/datastore/how-it-works/q/platform/js#example-react-native-application) in the documentation, and it used to work prior to DataStore version 2.2.0.

[2020-06-04 21:49] ashika01 commented on #6003
@mdoesburg Your query result should have the inserted data. But it wouldn't trigger a subscription event right? Sorry if I misunderstood your question. The whole query operation happens in local storage.

[2020-06-04 21:51] mdoesburg commented on #6003
@ashika01 Yes, sorry for the confusion. I don't expect a subscription event after a query. I am observing a model with a certain ID, once I receive a message I run a query against the DataStore for that model with the same ID, but I am not receiving any data.

[2020-06-04 21:52] mdoesburg commented on #6003
@ashika01 I see the following in my console:

[code]

[code]

[2020-06-04 23:19] ashika01 commented on #5955
@roballsopp It is supposed to have `surveyTemplateId`. It something we use under the hood to establish connection thats the reason you dont see it in the graphql schema modelgen. On first glance at your code, I dont understand why you are setting the ID using `Datastore.save()` you shouldn't set the ID.

Could you explain what you are trying to achieve?

[2020-06-04 23:24] mdoesburg commented on #5991
@manueliglesias Ok, so I think I found the culprit to why I am getting mixed results. See the following example:

[code]

I get data when I query, but after clearing the DataStore queries stop working. Hard reloading after clearing shows the data again, but my app clears the DataStore when a user logs out, so this issue is problematic for me.

[2020-06-04 23:25] mdoesburg commented on #6003
@ashika01 I guess the issue I am having is literally this: "DataStore queries don't do anything on the first load of the application". So closing this in favor of: https://github.com/aws-amplify/amplify-js/issues/5991

[2020-06-04 23:25] #6003 closed

[2020-06-04 23:28] manueliglesias commented on #5991
@mdoesburg There's a PR that might help you, #6010

Once it is merged, you will be able to try it on `@unstable`

[2020-06-04 23:31] #5991 closed

[2020-06-04 23:45] roballsopp commented on #5955
In my data modal, `SurveyResponse`s always have one `SurveyTemplate`, so there is a foreign key on `SurveyResponse` to establish this relationship. Here's the DataStore documentation I linked to:

![image](https://user-images.githubusercontent.com/6366105/83820243-6432c280-a689-11ea-8f00-6a06441c5c1d.png)

That's pretty much exactly what I'm trying to do. The only difference in my code is I have n

[2020-06-05 00:06] ashika01 commented on #6003
There is a change out in unstable for that now.

[2020-06-05 00:35] mdoesburg commented on #5991
@manueliglesias I tried `@unstable`, and get no events when listening to 'datastore' on the Hub, after running `DataStore.start();`. Even if I just observe, and don't run start, I get no events.

[2020-06-05 00:35] ashika01 commented on #5955
@roballsopp So you want to establish 1:1 relationship then between `surveyResponse` and `surveyTemplate`? or are you saying `many surveyResponse` has `one surveyTemplate`? Understanding the schema could help me.

Also, when I said not setting the ID, I meant, instead of doing this
[code]

You should be doing something like
[code]
or
[code]

[2020-06-05 00:36] mdoesburg commented on #5991
@manueliglesias DataStore version: 2.2.3-unstable.1

[2020-06-05 00:36] ashika01 commented on #6006
@selwis77 Could you paste you app code or simple sample code so I can reproduce this?

[2020-06-05 00:46] roballsopp commented on #5955
I'm saying `many surveyResponse` has `one surveyTemplate`. Its not 1:1. Also, I am in the habit of setting primary key ids on the client for offline purposes. I am actually moving code from Apollo to DataStore, and with Apollo its nice to have the real id in my optimistic updates to the cache. Maybe DataStore handles this nicely somehow, not sure.

[2020-06-05 00:49] manueliglesias commented on #5991
@mdoesburg  The publish to npm just finished, try again, these are the versions:

[code]

[2020-06-05 00:57] mdoesburg commented on #6003
@ashika01 Thanks for the heads up!

[2020-06-05 01:01] ashika01 commented on #5955
@roballsopp Let me try you schema in an app. I am going by your first schema code.

[2020-06-05 01:09] mdoesburg commented on #5991
@manueliglesias Thank you, it works now. Keep up the great work.

My use case for data sync notifications is so I can warn users before logging out if the data they created while offline has not yet been synced with the cloud. Is there a chance that use cases like this will be added to the Amplify documentation? How can I check if theres still items that were created offline that haven't been sync

[2020-06-05 01:32] mdoesburg commented on #5991
@manueliglesias Nevermind I figured out I can listen to the outboxStatus event:
`outboxStatus {"isEmpty": false}`

[2020-06-05 04:19] #5799 closed

[2020-06-05 04:19] #5884 closed

[2020-06-05 04:19] #5905 closed

[2020-06-05 05:31] popschoolonline commented on #5825
I'm having the same issue but I am using Angular. Is there a similar solution for Angular?

[2020-06-05 07:01] hryktrd commented on #987
Hi team. Do you have any idea of solute this problem?

Changing the email address is important to us as it is a basic user management system. Is there another way to safely change my email address?

[2020-06-05 08:39] emersonhsieh commented on #2115
@ponchautf this code is placed in the urlOpener example function provided by the Amplify js docs: https://docs.amplify.aws/lib/auth/social/q/platform/js#hosted-ui-with-expo

[2020-06-05 10:12] kannieWeesNie commented on #5961
@ashika01 thanks very much. here's my schema:
`type Todo @model @auth(rules: [{ allow: owner }]) {
  id: ID!
  name: String!
  description: String
  owner: String
}
`
thank you

[2020-06-05 10:18] yepes commented on #606
I'm also interested on this. @yuntuowang can you share the FR?

[2020-06-05 10:45] BernhardSmuts commented on #5320
Hi, @Amplifiyer.

I have recreated my test code for this and it is as follows:

My schema.graphql file has the following:

[code]
Using ReactJS, The select image and upload image functions are as follows:

[code]
This works fine when using with the actual AWS services... and after upload I get returned the key which in this case is `TestingImage.jpg`

I am hosting the ReactJS app using `($env:HTTP

[2020-06-05 10:50] lukeramsden commented on #5320
I actually resorted to changing the AppSync endpoint port to 20005, on which I was running an `mitmproxy` command with a self-signed and system-wide trusted root certificate - and I modified my `/etc/hosts` file to redirect my `env:dev` S3 URL to another instance of `mitmproxy`, because the port for S3 is hardcoded in the JS library, which is very annoying.

[2020-06-05 10:56] BernhardSmuts commented on #5320
Cool, thanks will try something like this. The whole point of mock it to not have to go through all those configs. It would be nice if they could let you define the SSL env to run mock on.

[2020-06-05 11:26] HardikShah-PFG commented on #1390
Any update? looks like issue still exist.

[2020-06-05 11:34] HardikShah-PFG commented on #2301
Hi, which version need to use for fix. I am facing the same issue.
 "aws-amplify": "3.0.17-unstable.2",
    "aws-amplify-react": "^4.1.15",

need to get a new credential or refresh the existing one
ConsoleLogger.ts:91
[DEBUG] 02:46.218 AuthClass - Getting current user credentials
ConsoleLogger.ts:99
[DEBUG] 02:46.221 AuthClass - failed to get or parse item aws-amplify-federatedInfo SyntaxError: Un

[2020-06-05 11:48] michalmikolajczyk commented on #3197
I managed to connect via https://github.com/aws-amplify/amplify-js/issues/1907#issuecomment-439537834

[2020-06-05 12:00] bigzidane opened #6013 "Not able to receive AWS Token (ID Token, Access Token, Refresh Token) & Federation Login"
**Describe the bug**
Not able to receive AWS Token (ID Token, Access Token, Refresh Token) after Auth.federatedSignIn with 'facebook' provider

**To Reproduce**
Steps to reproduce the behavior:

1. Auth.federatedSignIn
2. Auth.currentAuthenticatedUser

**Expected behavior**
I'm expecting AWS token so I can use it to call AWS Services accordingly

**Code Snippet**
[code]

**Screenshots**

**What is

[2020-06-05 12:05] lukeramsden commented on #5320
I agree completely, there was a relevant conversation [here](https://github.com/aws-amplify/amplify-js/pull/3806/files/5c218499ee22a6ab1f671177a69c036814480bf5#diff-c7c081aa778dae8f92ac9eee463ebaff) but it still feels like a design oversight.

These are the commands I'm using with [mitmproxy](https://docs.mitmproxy.org/stable/tools-mitmdump/)
[code]

And then you add an entry in `/etc/hosts`:
[cod

[2020-06-05 12:08] Alegero7 opened #6014 "React Native. Got SerializationException" after Auth.signUp"
App.js :
`
import Amplify, { Auth } from 'aws-amplify';
Amplify.configure({

    Auth: {

      region: 'eu-central-1',
      identityPoolRegion: "eu-central-1",
      userPoolId: 'eu-central-1_xxxxxx',
      userPoolWebClientId: 'xxxxxx'

    }
  });
`

SignUp.js:
`import { Auth } from 'aws-amplify';

async signUp(email: string, password: string): Promise<void> {

            this._logger.debug('

[2020-06-05 12:32] pperron commented on #4982
+1. Same thing, works fine on Android, Storage.Put fails with the error on IOS...

[2020-06-05 12:36] nihp opened #6015 "No current user while I am in app (using aws-amplify-react-native) with Auth.currentSession()"
Frequently facing No current user while I am in app. Here I am using Auth.currentSession()  to get the token and successfully inside the app.

Why the above issue is getting. Any thoughts on this?

Using latest aws-amplify and aws-amplify-react-native .

[code]

[2020-06-05 14:15] clintfoster commented on #987
If you have the ability to do so, I would go with user pool Option 2, as described [here](https://github.com/aws-amplify/amplify-js/issues/987#issuecomment-531025897) in this same issue by Cognito team member @timwhunt last fall.

As Tim described, the Cognito team solved this problem (sort of) by allowing the username to literally be the email address (instead of having a separate username with a

[2020-06-05 14:30] pperron opened #6019 "'aws-amplify' version '3.0.16': `Unable to resolve module `./providers` from `node_modules/@aws-amplify/storage/lib-esm/index.js`:`"
**Describe the bug**
Updated my 'aws-amplify' react native package to version '3.0.16' and on XCODE IOS, started to have a problem when build ends and metro builder start compiling, started to get errors like:
`Unable to resolve module `./providers` from `node_modules/@aws-amplify/storage/lib-esm/index.js`:`

**To Reproduce**
Steps to reproduce the behavior:

1. Updated my  'aws-amplify' lib with

[2020-06-05 14:54] paulsjohnson91 opened #6020 "NotAuthorizedException: Token is not from a supported provider of this identity pool - google auth"
**Describe the bug**
I'm trying to use Google Auth with AWS Cognito in a React Native configuration but when I use federatedSignIn, I'm getting an error saying NotAuthorizedException: Token is not from a supported provider of this identity pool.

**To Reproduce**
My Config file:
[code]
The code I'm using to sign in
[code]
My package.json file
[code]
In the federated identities console I have my au

[2020-06-05 15:08] michalisAsp opened #6021 "Batch actions with versioned data sources"
Hi, this is more of a question.

According to [docs](https://docs.amplify.aws/lib/datastore/how-it-works/q/platform/android#writing-data-from-the-appsync-console
) we can use batch actions with DataStore. But, I am having trouble setting it up using custom resolvers. I keep getting this error.
[code]

Perhaps this is not supported? If not which batch actions are?

[2020-06-05 15:09] TheMoums opened #6022 "Updating DataStore from version 2.1.1 to 2.2.2 @connection issues"
**Describe the bug**
I have updated aws-amplify to the latest versions and this caused links issues between my `@model`. Everything was working fine with previous version, but now the entities linked are not populating with all the fields. There are, in fact, only populated by their id and _deleted. This happens no matter the connection type (`@connection`, `@connection(name:...)`, `@connection(ke

[2020-06-05 16:09] elorzafe commented on #5935
I followed the guide [Set up Okta as a SAML identity provider in an Amazon Cognito user pool](https://aws.amazon.com/premiumsupport/knowledge-center/cognito-okta-saml-identity-provider/)

[2020-06-05 16:44] stephendmalloy opened #6023 "AmplifyAuthenticator auth state is signedin after email confirmation but user is not authenticated"
I'm not 100% sure if this is a bug.

I'm using AmplifyAuthenticator component using React. I've used the CLI to set up Authentication and require that a user enter a confirmation code sent via email. When a user registers for the App they receive a confirmation code and the AmplifyAuthenticator component shows the AmplifyConfirmSignUp screen as expected. When the confirmation code is entered, the

[2020-06-05 16:50] michalisAsp commented on #6021
@mauerbac Thanks but I see now that what I wrote might not be clear. So, let me try again.
According to the docs you can use batch actions to write data when using versioned enabled tables(DataStore is using those).
 But the error logs in my case(and probably in general) say that we can't. I think it would be useful if the the docs made this clear and gave options. E.g. write directly to DynamoDB.

[2020-06-05 17:20] damianrr commented on #5999
if I do this:
[code]
I get the same error. So it seems like an auth thing, not IoT. Still clueless about it.

Any help would be appreciated.

[2020-06-05 17:20] dazinator commented on #1218
Why not have the server return a secure cookie containing the refresh token. The soa need not then worry about submitting a refresh token, it will be sent by the browser automatically, adapt your server side code to check for it..?

[2020-06-05 17:38] ashika01 commented on #5999
yeah its auth for sure. Thats why I thought You are missing the config. Could you post you `aws-exports`

[2020-06-05 17:50] annjawn commented on #2115
@cpmech In my case (expo) the Redirect URL is `undefined` at sign out. The app's URL is included in the `&logout_uri` query parameter of the `url`, so I don't believe your code would work for me. The URL is of the pattern `https://xxxxxxxxx.auth.us-east-1.amazoncognito.com/logout?client_id=xxxxxxxxxxxxxxx&logout_uri=exp%3A%2F%2Fbz-6qb.app.myapp.exp.direct%3A80` and to me it looks like there isn't

[2020-06-05 17:50] damianrr commented on #5999
I had my auth as:  `User Sign-Up & Sign-In only (Best used with a cloud API only)` and did an `amplify auth update` and selected: `User Sign-Up, Sign-In, connected with AWS IAM controls (Enables per-user Storage features for images or other content, Analytics, and more)`
And it moved! (Not sure if that change would break other parts of the system). Now I'm having a more IoT related error, namely:

[2020-06-05 18:09] ashika01 commented on #5955
@roballsopp Hi, My initial guess was right. Our codegen looks for specific schema pattern to generate the model gen.

I had success following the pattern in the docs exactly because the connection has to be established from both sides.

My schema
[code]

Screenshot:
<img width="783" alt="Screen Shot 2020-06-05 at 11 01 39 AM" src="https://user-images.githubusercontent.com/35131273/83908510-14e9a20

[2020-06-05 18:09] #5955 closed

[2020-06-05 18:19] #5590 closed

[2020-06-05 18:23] ashika01 commented on #6022
@TheMoums I dont know exactly what error you are seeing but I am using the same schema you posted and I dont have any error or get the expected output you have mentioned.

This is my schema:
[code]

This is the output on query after insert,
<img width="782" alt="Screen Shot 2020-06-05 at 11 20 11 AM" src="https://user-images.githubusercontent.com/35131273/83910064-c4c00f00-a71e-11ea-827b-fa528d42d

[2020-06-05 18:23] #6022 closed

[2020-06-05 18:43] sammartinez commented on #6019
@pperron Did you remove your lock files as you were upgrading? Please let us know and if you can provide us with your `package.json` this will help us with investigating this further for yourself.

Thanks ahead of time

[2020-06-05 18:52] jordanranz commented on #6017
Hey @cezarneaga, there is no simple way to do this with the new Authenticator. We can improve the formFields object by allowing a user to pass in the default country code to their phone field. I'll mark this as a feature request and we can get this prioritized. Thanks for the feedback.

[2020-06-05 18:55] small4all commented on #5898
@MrHertal: I can confirm this behavior

**1) Prepare model and push to aws backend**

`@auth(rules: [{ allow: owner }, { allow: private, provider: iam}])`

`npm run amplify-modelgen`

`amplify push`

**Not working on client side:**
`ConsoleLogger.ts:99 [WARN] 44:15.805 DataStore - Sync error subscription failed Connection failed: {"errors":[{"message":"Validation error of type MissingFieldArgument

[2020-06-05 19:40] pperron commented on #6019
Hi,
here is my package.json:

{
  "name": "XXXX",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "android": "react-native run-android",
    "ios": "react-native run-ios",
    "start": "react-native start",
    "test": "jest",
    "lint": "eslint .",
    "postinstall": "patch-package"
  },
  "dependencies": {
    "@react-native-community/async-storage": "^1.8.0",
    "@react-native-com

[2020-06-05 19:53] ashika01 commented on #5999
I think that might be it. From what I tested , PubSub with Auth is working. Could you try the setup on a sample app.

Setup your federation following the docs here - https://docs.amplify.aws/lib/auth/social/q/platform/js

Followed by setup PubSub based of this - https://github.com/aws-amplify/amplify-js/issues/5999#issuecomment-638521724

[2020-06-05 20:06] ashika01 commented on #5940
@nubpro Do we need to keep this issue open? I know the sync at start is being tracked here https://github.com/aws-amplify/amplify-js/issues/5926 right?

[2020-06-05 20:09] ashika01 commented on #5783
@sujitsagar @mlescaudron Could one of you post sample code to reproduce this?

@sujitsagar are you using `node-fetch` as well?

When tried with the react UI, which uses this same API underneath we dont see any issue. We get the error with type `UserNotFoundException`. We think it could be related to some caching.

[2020-06-05 20:14] MrHertal commented on #5898
Thanks @lenarmazitov and @small4all, I have tested that and I don't have the warning anymore! But the calls don't sync...

Here is the commit:

https://github.com/MrHertal/datastore-test/commit/c8d798b3dd578ece13f9bd346678af8e6605ac26#diff-9c67ad799cff6b9698d6f01b26c960b0L50

I get this in the console:

[code]

Of course there are calls in my database with the owner field correctly set.

[2020-06-05 20:21] kylekirkby commented on #2477
Is this still the case for getting user attributes into Pinpoint? @kaustavghosh06 @dabit3

[2020-06-05 20:23] kylekirkby commented on #2477
Not sure how I unassigned @powerful23 ? Is this a feature of GitHub? :D

[2020-06-05 20:30] mauerbac commented on #6021
Hi @michalisAsp - ah, thanks for the clarification. I did misunderstand. Datastore core functionality is the same across all platforms but as you know the implementation does vary. I see you are using the Android implementation and the docs aren't super clear around the batch operation. I will move back into docs repo and tagging @jpignata who can help prioritize a docs update.

Appreciate you tag

[2020-06-05 20:39] ashika01 commented on #6019
@pperron I am not sure what is wrong in your case? but looking at the build folder, we are looking for `./providers` in `lib-esm`

<img width="324" alt="Screen Shot 2020-06-05 at 1 37 09 PM" src="https://user-images.githubusercontent.com/35131273/83920786-cd6e1080-a731-11ea-87fd-54772d615ce1.png">

[2020-06-05 20:43] ashika01 commented on #6019
I am closing this issue. Since this isn't an amplify bug as far as I know. Let me know if it causes problem I can reopen this issue.

There was a similar issue earlier this week soon after we pushed a change out around storage. It was the cache that was causing the issue.

https://github.com/aws-amplify/amplify-js/issues/5964#issuecomment-637218858

[2020-06-05 20:43] #6019 closed

[2020-06-05 21:22] ashika01 commented on #5990
@Darapsas tried the same in react things seem to work as expected.

<img width="775" alt="Screen Shot 2020-06-05 at 2 19 43 PM" src="https://user-images.githubusercontent.com/35131273/83923741-b7fbe500-a737-11ea-93a1-af5d6ef512d1.png">

I also see the data changed in dynamodb table.
<img width="1205" alt="Screen Shot 2020-06-05 at 2 21 39 PM" src="https://user-images.githubusercontent.com/35131273

[2020-06-05 21:53] ashika01 commented on #2310
Closing this feature request, since this is how the [new UI components](https://docs.amplify.aws/ui/auth/authenticator/q/framework/react) implement the form handling. Though there were some frictions and we had to work around for shadow dom introduced.

Reference: https://github.com/aws-amplify/amplify-js/blob/master/packages/amplify-ui-components/src/components/amplify-form-section/amplify-form-s

[2020-06-05 21:53] #2310 closed

[2020-06-05 21:58] dgogia commented on #405
Is it necessary to call get() method of AWS.config.crendentials to get latest cognitoIdentityId because it is taking too much time like 6-7 secs

[2020-06-05 21:59] amhinson commented on #6020
Hey @paulsjohnson91, could you try using `google` instead of `accounts.google.com` as the first argument for `federatedSignIn` and see if that fixes the issue you're seeing?

[2020-06-05 22:01] #4416 closed

[2020-06-05 22:03] amhinson commented on #6015
@nihp Could you provide some reproduction steps so we could replicate this behavior you're seeing?

[2020-06-05 22:03] ashika01 commented on #4375
@oliverandersencox Is this still an issue? Looks like the fix was out a long time ago?

[2020-06-05 22:09] amhinson commented on #6014
@Alegero7 Could you provide an example of the email you are using to sign up? Also, does the password you are providing anything other than the [default allowed characters](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-settings-policies.html)?

[2020-06-05 22:19] paulsjohnson91 commented on #6020
Hi @amhinson, thanks for the quick response. I've changed my code as below but unfortunately the error didn't change.
[code]

[2020-06-05 22:21] ashika01 commented on #5038
@craig-o-curtis I think the new ui components have a loading indicator which disables the button while the request is being processed. Are you expecting something different?

[2020-06-05 22:29] ashika01 commented on #5223
@r3-yamauchi I doubt it would work with node.js since we use local storage indexedDB. However looks like subscribe is working as expected. So I am closing this issue. If you encounter an issue, let us know.

Also, feel free to ask the community on any questions you have in our discord channel - https://discord.gg/Px5YVfQ

[2020-06-05 22:29] #5223 closed

[2020-06-05 22:32] ashika01 commented on #5213
Closing this issue due to inactivity. Let us know if its still an issue, I can reopen the issue for you.

[2020-06-05 22:32] #5213 closed

[2020-06-05 22:46] ashika01 commented on #5179
@ambriglia This might be a service restriction. Have you reached out to the [Appsync forum](https://forums.aws.amazon.com/forum.jspa?forumID=280&start=0)

[2020-06-05 22:56] #5146 closed

[2020-06-05 23:07] ashika01 commented on #5367
@livingmine Apolozies for late reply. Did you get this working?

[2020-06-05 23:11] ashika01 commented on #5396
I think this issue is related to https://github.com/aws-amplify/amplify-js/issues/5767

Closing this issue and we will track the progress in the above mentioned issue. There is a workaround posted there. Hope that helps.

[2020-06-05 23:11] #5396 closed

[2020-06-05 23:19] ashika01 commented on #4375
I am closing this issue. If you still continue have this issue, let us know and we can reopen this ticket for you.

[2020-06-05 23:19] #4375 closed

[2020-06-05 23:26] ashika01 commented on #5988
@Enase could clear any cache, remove your lock files and try doing an install.? Also, could you post your package.json info if the issue still exist?

[2020-06-05 23:36] amhinson commented on #6020
Hm interesting! I've got an example app running for iOS using the code you've provided and it all seems to be working correctly, which leads me to believe the issue might just be configuration-related between Cognito & Google/Firebase.

When you were setting up [this step](https://github.com/react-native-community/google-signin/blob/master/docs/get-config-file.md) for `@react-native-community/goog

[2020-06-05 23:41] cezarneaga commented on #6017
That is great. Thanks for this and keep up the great work.

[2020-06-05 23:56] ashika01 commented on #6002
Closing this issue via my previous comment. Let us know if its something on amplify and I will reopen the issue.

[2020-06-05 23:56] #6002 closed

[2020-06-05 23:57] paulsjohnson91 commented on #6020
I already had firebase set up so I used Firebase for that step.
When logging into the google cloud platform, this meant that all my client IDs were already created
<img width="798" alt="Screenshot 2020-06-06 at 00 45 31" src="https://user-images.githubusercontent.com/28013436/83930382-359f0f80-a78f-11ea-881d-33990830e6f9.png">

I used the web one as I read was recommended elsewhere as this one had

[2020-06-06 00:58] nubpro commented on #5926
@gHashTag whats your Appsync conflict resolution set to?

[2020-06-06 00:59] nubpro commented on #5940
I will close this until I have more information about my issue to open a ticket. Thanks!

[2020-06-06 00:59] #5940 closed

[2020-06-06 05:00] Alegero7 commented on #6014
@amhinson
juking89@gmail.com
Jane3105!

[2020-06-06 06:14] slewis77 commented on #6006
I’ll put something together this weekend. It’s readily reproducible with any subscription using the latest version of datastore

[2020-06-06 07:47] gHashTag commented on #5926
I did not touch this setting. Means by default. What is the default and where to look?

[2020-06-06 14:32] ranjeev75 opened #6028 "Aws-amplify-react-native library cannot show another user’s protected image"
**Describe the bug**
I'm using these libraries to store and display images for other users:

` "aws-amplify": "2.2.2",
        "aws-amplify-react-native": "^4.0.4",`

[code]

But this results in an error as below:

[code]

Where it has ignored the user `identityId` and has replaced it with the `identityId` of the current user. So it should be `protected/eu-west-2:ebbd16a0-ce2d-457a-a3ea-fb6e92b90b

[2020-06-06 18:58] elchinillo commented on #5320
I'm using aws-amplify@3.0.11

Here is what I get when I run `npm list | grep amplify`, I'm hopping this gets you more details.

[code]

[2020-06-06 20:52] HardikShah-PFG commented on #232
I am facing this issue though it is fixed longed back. I have set response:true and calling error.response to get error detail, but getting undefined. Instead getting generic message 'Network Error' in error.message. please help.
![image](https://user-images.githubusercontent.com/65756215/83954287-8bde8200-a865-11ea-86b0-0133cb9bc78e.png)

[2020-06-06 21:16] cdac901 commented on #5019
+1

[2020-06-07 05:49] jeyashankher commented on #5871
I apologise for not responding earlier. I missed that documentation about the new ui-react library.

Is there documentation on customise the look and feel of the UI (including styling)?

[2020-06-07 06:56] slewis77 commented on #6006
This can be closed as I can't recreate it. I tried on 2.2.2 and 2.2.1 and the subscriptions return Models. I wonder if it was a quirk of upgrading an exisitng project, not sure, anyway, doens't appear to be a real issue.

Thanks.

[2020-06-07 06:56] #6006 closed

[2020-06-07 10:53] ThatMate opened #6031 "Require Cycle and Async Storage warning"
I am using `aws-amplify@3.0.16` which is the latest at this point. I am using it for my React Native project. I am seeing two warnings:

[code]

AND

[code]
I see a PR (https://github.com/aws-amplify/amplify-js/pull/5372)  merged a few days ago, but it does not seem to fix the issue.

[2020-06-07 13:10] kylekirkby commented on #1779
This is still an issue... I've tried initializing the endpoints with:

[code]

This adds users attributes into Pinpoint but when I go to test the transactional email templates, the email fails to send when specifying the Cognito User Sub as the Endpoint ID.

[2020-06-07 14:24] kimfucious commented on #469
Using `cognito.adminLinkProviderForUser` in a preSignUp lambda, can result in multiple accounts for the same user.

For example, if there is federated sign-in with Google, an account such as `Google_1012514589345043xxxxx` will be present.

Amazon, Facebook, and Apple, will add their own with a potential of 4, including the original, email/username, based user entry.

There really should be an easy

[2020-06-07 14:53] diegovincent commented on #1035
I am interested simply in NativeScript + Amplify. Not just Nativescript-Vue, there are people who use NativeScript Core, others (myself) use NativeScript Angular and then there's NativeScript-Vue people. I am trying to follow the instructions as if it were React or React Native to no avail.

Apparently I have to nodeify my whole application to make it work, I will keep you guys updated.

[2020-06-07 20:12] jonasduever commented on #5582
https://github.com/aws/aws-sdk-js-v3/pull/1245 has been merged - looks like this problem will be solved soon 👍

[2020-06-07 20:24] IDGallagher opened #6032 "Subscriptions fail silently when using @auth(owner) rule with a schema with no owner field in React Native"
**Describe the bug**

When using the @auth(owner) rule in React Native, if you don't add an owner field to the schema, the field is automatically added in the backend and fetching from the backend works fine but subscriptions fail silently. Took me a day of poking around to figure out why my clients weren't syncing with each other!

**To Reproduce**

Use a schema like:

`type Post
  @model
  @auth

[2020-06-07 20:51] bwalsh commented on #3471
Still happening

[2020-06-07 23:20] thenetimp commented on #3474
also looking for an update to this

[2020-06-08 03:20] sujitsagar commented on #5783
I am using these versions.

[code]

Attaching request, response screenshots for reference.

<img width="674" alt="Screenshot 2020-06-02 at 10 36 29 PM" src="https://user-images.githubusercontent.com/647175/83989723-f3c7c200-a964-11ea-8bde-1c0e3cef1499.png">
<img width="718" alt="Screenshot 2020-06-02 at 10 34 50 PM" src="https://user-images.githubusercontent.com/647175/83989729-f9250c80-a964-11ea-

[2020-06-08 06:31] hryktrd commented on #987
@clintfoster
Thank you for your advice. I'll consider to use user name instead of email address.

[2020-06-08 09:24] ppanchal97 commented on #3591
+1

[2020-06-08 10:11] kimfucious commented on #469
Having said that, the below is pretty straight-forward for deleting a single user, and does **not** require `amazon-cognito-identity-js` to work.

[code]

[2020-06-08 12:25] jonmifsud commented on #3494
Does anyone have a workaround? We need to use some oAuth 2.0 third party verification and this really messes up the experience :(

[2020-06-08 12:34] small4all commented on #4808
The hub channel of the datastore is not listed in the documentation (https://docs.amplify.aws/lib/utilities/hub/q/platform/js#channels) please note:

The channel is `datastore`

[code]
[code]

Will produce:
[code]

[2020-06-08 12:50] mdoesburg commented on #5037
I need this feature too. Use case:

I am working on an app in which people might be in remote locations (in the jungle, top of a mountain etc.). In the app users have to be able to set if they only want to sync if they are for example on a WiFi network to prevent data charges.

[2020-06-08 13:01] mdoesburg opened #6034 "DataStore: only sync on WiFi"
**Is your feature request related to a problem? Please describe.**
This is related to this older issue: https://github.com/aws-amplify/amplify-js/issues/5037

Basically, in the app I am developing, users want to be able to prevent syncing while on a 4G network for example, to prevent data charges.

**Describe the solution you'd like**
I know DataStore uses [reat-native-netinfo](https://github.com/

[2020-06-08 13:17] Darapsas commented on #5990
Hello, @ashika01 ,
I see that it is working properly for you (it worked for me too - a few weeks back), but right now I am still hanging here with API graphql update operation doing nothing, I am almost certain that there is something with DataStore conflict resolution, that is not allowing for it to properly work.

I mainly use DataStore, but there was an exception for which I wanted to use API g

[2020-06-08 13:43] jordanmcdougall commented on #2312
@jordanranz Did this ever make it in as a feature?

[2020-06-08 15:07] Yallan commented on #4689
I have the same issue.  My client_id match both side.
It's work with **appleid.apple.com** instead of **SignInWithApple** but I would like to have Apple user in User Pool instead of Identity Pool, is it possible ?

[2020-06-08 15:31] damien-monni commented on #4517
Hi! Can you share how did you override the visibilityChange event? I am trying to prevent sessions stops on tab change.

[2020-06-08 15:55] TheMoums commented on #6022
@ashika01
Thank you for your reply. One of the things we noticed is that the data is stored differently in the indexedDB.
Before the data was stored this way in the indexedDB
![before_1](https://user-images.githubusercontent.com/22890903/84052289-a8d39c00-a9b0-11ea-9e34-82180a2c267a.PNG)
With relations like this
![before_2](https://user-images.githubusercontent.com/22890903/84052294-aa04c900-a9b0-

[2020-06-08 16:25] amhinson commented on #5871
There is a [section](https://docs.amplify.aws/ui/customization/theming/q/framework/react) on customization via CSS Variables in the docs. Is that what you are looking for?

[2020-06-08 16:29] ashika01 commented on #5783
@sujitsagar Could you post sample code to reproduce this? When we tried we definitely did not see this weirdness. Also could you post you `aws-exports ` removing sensitive info?

[2020-06-08 16:50] germain-receeve commented on #4517
@damien-monni
Sure, here is my solution to circumvent the problem 😄

[code]

[2020-06-08 17:05] sw-yx commented on #3773
for those finding this from the future, the modularization effort shipped in April 2020 and you can use Amplify with Rollup with a few small tweaks: https://dev.to/swyx/making-aws-amplify-work-with-rollup-2d9m

[2020-06-08 17:05] sw-yx commented on #888
for those finding this from the future, the modularization effort shipped in April 2020 and you can use Amplify with Rollup with a few small tweaks: https://dev.to/swyx/making-aws-amplify-work-with-rollup-2d9m

[2020-06-08 17:47] ashika01 commented on #5990
@Darapsas That could totally be it. The Datastore (Appsync) setup is a little different from that API. I would suggest sticking to Datastore e2e. I will close this issue for now. Because from API perspective everything is working fine. If you have issue while doing Datastore, thats on back of this, Please post more info and I can reopen the issue for you.

[2020-06-08 17:47] #5990 closed

[2020-06-08 17:52] ashika01 commented on #6028
@ranjeev75 If you are using ReactNative the S3Image component doesn't supported `protected` yet. Apologies that our docs isn't clear on that. We are working on the documentation bit of it.

There is a open feature request for this, I would suggest track that for changes - https://github.com/aws-amplify/amplify-js/issues/3433

[2020-06-08 17:52] #6028 closed

[2020-06-08 18:00] jordanranz commented on #6023
@stephendmalloy could you post which version of `@aws-amplify/ui-react` you are using.

[2020-06-08 18:08] stephendmalloy commented on #6023
@jordanranz sure thing.

"@aws-amplify/ui-react": "^0.2.7",

[2020-06-08 18:10] jordanranz commented on #6023
Can you try installing the latest: `"@aws-amplify/ui-react": "^0.2.8"` and let me know if the same behavior exists. We added an auth guard to `onAuthUIStateChange` in [this PR](https://github.com/aws-amplify/amplify-js/pull/5930/files#diff-e71cd29314568b797d5e2ac4518ed740R62-R72) recently.

[2020-06-08 19:06] ranjeev75 commented on #3433
In the meantime what's the best way to display another user's protected images?

[2020-06-08 20:24] Ashish-Nanda commented on #5793
@danrivett
Hope the above suggestion was helpful in enabling you to unit test DataStore in React Native.

As promised here is a link to our unit tests which we merged recently: https://github.com/aws-amplify/amplify-js/blob/master/packages/datastore/__tests__/AsyncStorage.ts

Closing the issue as you should be able to use either [mock-async-storage](https://www.npmjs.com/package/mock-async-storage

[2020-06-08 20:24] #5793 closed

[2020-06-08 20:30] danielfranca opened #6036 "Storage.get doesn't respect `expires` argument"
**Describe the bug**
The [documentation](https://docs.amplify.aws/lib/storage/download/q/platform/js#private-level) mentions to use the `expires` parameter in order to change the expiration time of the pre-signed URL.
However, on my tests, it doesn't seem to have any effect on the pre-signed URL

[code]

[code]

In both cases, it returns a URL with expiration in 900 seconds:
`X-Amz-Expires=900` th

[2020-06-08 21:02] danielfranca commented on #6036
It seems that my library was outdated... just updated it and now it works

[2020-06-08 21:02] #6036 closed

[2020-06-08 21:35] Gabiras12 commented on #5218
Does anybody have a solution for this?

[2020-06-08 21:40] Gabiras12 commented on #4550
@Amplifiyer
first encode for customState: https://github.com/aws-amplify/amplify-js/blame/023f4960d80c9774d85cbc7593175d7380fcbed2/packages/auth/src/OAuth/OAuth.ts#L76
second encode for customStae: https://github.com/aws-amplify/amplify-js/blame/023f4960d80c9774d85cbc7593175d7380fcbed2/packages/auth/src/OAuth/OAuth.ts#L94

[2020-06-08 22:09] stephendmalloy commented on #6023
@jordanranz unfortunately the issue persists.

[2020-06-08 22:56] sammartinez commented on #5106
@alanmv01 we have updated this as of late, can you verify on the signature?

[2020-06-08 22:58] sammartinez commented on #5113
@brooksidesw Can you please provide us with your `package.json` to us? Seems you may be using an older version of Amplify JS and want to confirm. Thanks ahead of time.

[2020-06-08 23:01] sammartinez commented on #5122
@ricardoribas Apologizes on circling back on this until now, can you provide your `package.json` you are using for this ?

[2020-06-08 23:19] amhinson commented on #5252
Hey @alexkaduk, I've been working on reproducing this issue and I just want to make sure your use-case is covered as well in the testing. Could you share your usage of `Analytics`/`PushNotification`?

[2020-06-09 00:31] #5950 closed

[2020-06-09 01:42] tvald opened #6037 "suppress prompt to verify contact information when verification not enabled"
**Describe the bug**
I have configured a Cognito User Pool such that email address and phone number are neither collected from users, nor verified. Password resets may not be performed automatically, and instead users must contact an administrator.

When I wrap my application with `withAuthenticator` from `amplify/ui-react`, a user can successfully log in. However, the user is always prompted to v

[2020-06-09 04:06] ecomonestop commented on #6023
@jordanranz - I'm having similar behavior.  However, if I don't supply my own slot for AmplifyConfirmSignUp, then the behavior is as expected, i.e. email is pre-populated in username field and when user confirms email, he is taken into the app.

On the other hand, when using a custom slot for confirm signup, just wrapping the component AmplifyConfirmSignUp, this doesn't work.  Email is not pre-pop

[2020-06-09 04:31] #5408 closed

[2020-06-09 05:26] sujitsagar commented on #5783
Here is content of our

**aws-exports.js**
`
import {Auth} from 'aws-amplify';
import Constants from './utils/constants';

const awsmobile = {
    Auth: {

        // REQUIRED only for Federated Authentication - Amazon Cognito Identity Pool ID
        identityPoolId: aws_exports.identitypool_id,

        // REQUIRED - Amazon Cognito Region
        region: aws_exports.cognito_region,
        // OPT

[2020-06-09 06:31] #5002 closed

[2020-06-09 07:46] mannau commented on #5696
Same issue here using React aws-amplify 3.0.13.

[2020-06-09 07:59] dexster commented on #5696
I've wrapped "Auth.currentCredentials" with my own method which checks for this and clears it

[code]

I've now moved from responseType: token to responseType: code. Let's see if that helps.

[2020-06-09 09:14] adriantomas commented on #3433
@ranjeev75 using Storage.get() or Storage.list() works fine

[2020-06-09 10:24] Alegero7 commented on #6014
Hi @amhinson Do you have any ideas what is going wrong?

[2020-06-09 10:47] carstenmuellerlemberg opened #6039 "Hub event is not fired after upgradeing"
Hello,

I started to upgrade amplify for my react project:

 "@aws-amplify/auth": "^1.3.1"   to 3.2.13
 "@aws-amplify/core": "^1.0.29" to 3.3.3

Now the event is not fired to get the "auth" event from hub, which worked with the older version pretty good.

Here is some code extracts:

In App.js:

`Amplify.configure(myAuth);
  Auth.configure(myAuth)
`
In my login screen I have the following code:

`

[2020-06-09 10:50] christiankaindl commented on #5696
Thanks for the heads up @dexster! We now use something similar to your suggestion as a workaround in our React app. The main difference is that we don't clear the whole localStorage, but only the item with the identityId.

So instead of `localStorage.clear()` we only remove the specific item:
[code]

where `IDENTITY_POOL_ID` is your own Identity Pool ID.

[2020-06-09 11:21] stephendmalloy commented on #6023
I'm experiencing the same behavior. My apologies for not mentioning that. The email field is also not pre-populated and I too am using custom slots as well. I'm not doing anything crazy, though. Here's my confirmation code UI:

`import React from 'react';
import {
    AmplifyConfirmSignUp
} from '@aws-amplify/ui-react';

import AuthAvatar from './AuthAvatar.js';
import DoormanPoweredBy from './Doo

[2020-06-09 11:47] dexster commented on #5696
You've just pointed out a bug in my code. I should also only be clearing that item :)

[2020-06-09 12:16] damien-monni commented on #4517
@germain-receeve I needed to pass true to the third addEventListener param. It works perfectly now, thank you!

[2020-06-09 12:51] ranjeev75 commented on #3433
@adriantomas `Storage.list()` retreives the images, but how to display ie. what is the best way to obtain the url for each image from another user e.g.

`<Image
                                    style={{
                                        width: 100,
                                        height: 100,
                                    }}
                                    source={{ uri:

[2020-06-09 12:54] danrivett commented on #5793
Thanks @Ashish-Nanda that example is really helpful, I'll pass it onto my team.

[2020-06-09 13:04] Enase commented on #5988
@ashika01 If you try to install `aws-amplify@latest` you will see that `@aws-amplify/pubsub@^2.1.1` is required.
[code]

If you add `@aws-amplify/pubsub@^2.1.1` to your package.json - as a result you will have two different versions of `@aws-amplify/core` module.

Full example you can find a [repository by url](https://github.com/Enase/babel-issue) provided in issue description.
there is a link to

[2020-06-09 13:07] Enase commented on #5988
@ashika01 I can update all the dependencies to latest if you need. Issue still exists.

[2020-06-09 13:35] mauerbac commented on #5359
Pinging @AshanFernando / @sammartinez

[2020-06-09 14:27] plus- opened #6040 "Subscription filter on mutation result"
Apollo server let you filter a subscription based on the mutation result (see: https://www.apollographql.com/docs/apollo-server/data/subscriptions/#subscription-filters). In the subscription resolver you have access to the payload which represent the mutation result you want to filter on.

**This is usefull if for example a particular mutation doesn't have as a parameter the arguments you want to

[2020-06-09 14:29] kimfucious opened #6041 "OAuth - Error handling auth response. Error: invalid_grant"
This is a weird one, but I've exhausted myself trying to get to the bottom of it, so I'm asking it here, thinking it is a bug, due to the very specific behaviour.

The behaviour is similar to [#3185](https://github.com/aws-amplify/amplify-js/issues/3185), but different, I think.

- I've got a React web app that uses Amplify Auth for user authentication
- users can sign up and sign in with a userna

[2020-06-09 14:31] #5564 closed

[2020-06-09 14:53] undefobj commented on #6040
Thank you for the feedback. This is a request that would be best directly to the AppSync team in their OSS feedback repo: https://github.com/aws/aws-appsync-community

[2020-06-09 14:53] #6040 closed

[2020-06-09 15:13] brooksidesw commented on #5113
Attached is the package.json that I was using at the time.  I have since upgraded to "aws-amplify": "^2.3.0".  I have not tested to see how 2.3.0 behaves.

[package.json.march.zip](https://github.com/aws-amplify/amplify-js/files/4752967/package.json.march.zip)

[2020-06-09 15:18] brooksidesw commented on #5113
An update to "How to reproduce": also disable access to unauthenticated identities on the Identity Pool.

[2020-06-09 15:40] manueliglesias commented on #5813
Hi @nikhil-shrestha I am looking into it, will circle back with an update soon

[2020-06-09 15:48] sammartinez commented on #2638
marking this as a duplicate from the above comment and resolving issue

[2020-06-09 15:48] #2638 closed

[2020-06-09 16:04] Alegero7 commented on #6014
Here I got error from file Auth.js:
_this.userPool.signUp(username, password, attributes, validationData, function (err, data) {
                if (err) {
                    dispatchAuthEvent('signUp_failure', err, username + " failed to signup");
                    reject(err);
                }
                else {
                    dispatchAuthEvent('signUp', data, username + " has signe

[2020-06-09 16:06] HenryDavies commented on #5961
I'm having the same problem in a React Native project set up with expo, with api and auth added via `amplify add`

[2020-06-09 16:08] amhinson commented on #6014
Could you share more of error you are seeing in the console?

Also, could you run this command to provide your project environment?
[code]

[2020-06-09 16:20] amhinson commented on #6020
@paulsjohnson91 Since you are using the native Google SDK to provide the token, I think the Identity Pool would expect to have the iOS client ID. Could you try using one of the iOS client IDs instead of web and see if that solves your issue?

[2020-06-09 16:23] amhinson commented on #5962
That sounds like another issue unrelated to the original. Could you open a new issue for that and provide some reproduction steps so we can replicate the behavior as well?

[2020-06-09 16:23] #5962 closed

[2020-06-09 16:39] niclego commented on #3410
Hello!! Has there been any progress here? Again, I would love for amplify to to say "sign out" in the alert when I call the sign out function.

[2020-06-09 16:45] jordanranz commented on #6023
@ecomonestop @stephendmalloy, passing the user object into the slotted `AmplifyConfirmSignUp` may resolve the issue for you.

Something like:
[code]
then in `AmplifyConfirmSignUp`:
[code]

We can probably improve this experience by checking for a user inside of the component load whenever you use a slotted component like `AmplifyConfirmSignUp` that requires a user object to be passed in.

[2020-06-09 17:04] mynameisguy commented on #4573
+1

[2020-06-09 17:23] amhinson commented on #5944
@chittasec We are looking to improve this country code picker in the future, but would you be able to provide a video of the behavior you're seeing? I've got an app running with the latest version of `aws-amplify-react-native` and the picker seems to be working.
![Jun-09-2020 10-21-52](https://user-images.githubusercontent.com/17091790/84179716-3e1b7280-aa3b-11ea-9f6f-ba195d0b77f7.gif)

[2020-06-09 17:31] #5923 closed

[2020-06-09 17:43] ashika01 commented on #3433
@ranjeev75 What @adriantomas suggested. Ultimately we use storage api to achieve our goal underneath the UI.

[2020-06-09 18:13] #2014 closed

[2020-06-09 18:23] Amplifiyer commented on #5320
@elchinillo can you try with the latest aws-amplify version and not the amplify-cli? Regarding the https end point, it is outside the scope of this issue. Please open a new feature request for that.

[2020-06-09 18:28] ecomonestop commented on #6023
@jordanranz - This is still not working for me. I tried both versions ^0.2.7" and ^0.2.8", essentially copying and pasting your code (I confirmed user prop is being populated on the AmplifyConfirmSignUp component)   I still get the behavior as previously described.

[2020-06-09 18:31] #4822 closed

[2020-06-09 18:48] Ashish-Nanda commented on #6031
@ThatMate investigating the require cycles.

Regarding AsyncStorage migration to the community package we are working on the change. Will have a PR for that in the near future.

[2020-06-09 19:18] jordanranz commented on #6023
@ecomonestop can you provide a code snippet of the `AmplifyAuthenticator` render logic

[2020-06-09 19:52] ericclemmons commented on #4312
This should be fixed via https://github.com/aws-amplify/amplify-js/pull/5869!

[2020-06-09 19:52] #4312 closed

[2020-06-09 20:27] ecomonestop commented on #6023
Below is just the layout code that wraps the Amplify components:

`
const LayoutForAuth
 = ({ AmplifyComponent, slot, ...rest }) => {
  const classes = useStyles()
  return (
    <div
      slot={slot}
      className={classes.pageHeader}
      style={{
        backgroundImage: "url(" + image + ")",
        backgroundSize: "cover",
        backgroundPosition: "top center",
        justifyContent:

[2020-06-09 20:47] mlabieniec commented on #1852
The Amplify team is actively working on official support for Flutter. Stay tuned, we’ll have more news soon. 😃

[2020-06-09 21:54] rodydavis commented on #1852
Thank you! I would love to beta test or make videos/blog post when available too! 😎 So exciting to hear 🥳

[2020-06-09 22:12] JohnnyK84 opened #6045 "Customization to allow Create Account to be removed from UI"
Hey Guys, Thanks for the great library.
We have just implemented the angular-ui as part of our application but our users currently dont have the ability to Create an account themselves hence we are wanting to remove this from the UI component.

Is there currently anyway to remove or hide this from the amplify-authenticator, amplify-sign-in?

I've attached pic for reference:
![Capture](https://user

[2020-06-10 00:08] saurabhroongta commented on #3564
ilyador: What was the change required for this fix?

[2020-06-10 00:17] manueliglesias commented on #5813
Hi @nikhil-shrestha

I've confirmed that the token refresh is no longer being called right after signIn, please upgrade to the latest version of Amplify.

But, while investigating this, I found that at the moment, amplify is not sending the claims you used to sign in when you refresh the token. This means that when the time to refresh the tokens comes, your lambda won't receive the client metadata

[2020-06-10 00:51] thenetimp commented on #6045
I am in a similar place, except for a different reason.    For SEO reasons I don't want Registration and Login on the same page.  There seems to be no easy way to separate them out without dismantling the entire component and remaking it as separate components...

[2020-06-10 01:22] elchinillo commented on #5320
I'll try again over the weekend. Regarding the https endpoint, isn't that why this issue started?

[2020-06-10 01:46] Amplifiyer commented on #5320
No, the issue was started because amplify-js library was **incorrectly** sending requests to https endpoint instead of the server running on http end point.

[2020-06-10 02:08] csells commented on #1852
@mlabieniec do you plan to support AWS Amplify on web and desktop as well as mobile?

[2020-06-10 06:27] nihp commented on #3943
I am facing the same any solution?

[2020-06-10 06:31] nihp commented on #6015
Just I have launch the app and navigating from a screen to another screen

I have using Authenticator from the aws-amplify-react-native

`ConsoleLogger.ts:99 [DEBUG] 53:23.994 AuthClass - currentSession: No current user`

[code]

[2020-06-10 07:17] Alegero7 commented on #6014
System:
    OS: macOS 10.15.5
    CPU: (12) x64 Intel(R) Core(TM) i7-8700B CPU @ 3.20GHz
    Memory: 112.70 MB / 16.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 10.21.0 - /usr/local/bin/node
    Yarn: 1.17.3 - /usr/local/bin/yarn
    npm: 6.14.4 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  Browsers:
    Chrome: 83.0.4103.97
    Firefox: 51.0
    Safari: 13.1.1

[2020-06-10 07:18] nihp opened #6046 "Getting "no current user" while i am navigating from a screen to another screen in aws-amplify-react-native"
Getting "no current user" while i am navigating from a screen to another screen in aws-amplify-react-native.

I am using Auth.currentSession() from amplify and Authenticator from aws-amplify-react-native.

Here my package .json shows the version as

[code]

But the yarn list shows
[code]

[code]

[2020-06-10 07:24] nihp commented on #2702
https://github.com/aws-amplify/amplify-js/issues/6046 Any update.

[2020-06-10 07:28] Kleak commented on #1852
Please support Dart instead of only Flutter :)

[2020-06-10 07:54] masbaehr commented on #4515
Same issue, this needs a fast fix, as it makes it impossible to use amplify for business-applications where IE11 is still used

For me the error is here:

![image](https://user-images.githubusercontent.com/38694044/84241841-543f3680-ab00-11ea-8a89-8615a92e612a.png)

[2020-06-10 07:58] #5843 closed

[2020-06-10 07:58] #5862 closed

[2020-06-10 07:58] #5965 closed

[2020-06-10 08:30] kimfucious commented on #6041
I've made an interesting discovery, which I'll share, but first a little background.

This user pool serves both a web-app and a react-native app (Expo).  There are actually three user pools for : dev, staging, and prod.

This means that the callback and sign-out urls are mixed, like the below:

**dev:**
callbacks:  exp://192.168.1.116:19000/--/, https://localhost:3000/auth-callback
sign-outs: exp

[2020-06-10 09:08] Alphavader commented on #2552
Thanks for the help guys - I have exact the same issue and that helped me out! (@MattM31 )

[2020-06-10 09:24] AlexandruCalinica commented on #6031
I'm having the same issues with aws-amplify@3.0.17 and aws-amplify-react-native@4.2.0. Fresh install of a react native project. Are these warnings going to affect my project in the longterm?

[2020-06-10 09:45] Alegero7 commented on #6014
Also I found that cognitoUserPoll.storage is a function. Is this ok?

[2020-06-10 10:27] katerinaonair commented on #4430
I have the same issue

[2020-06-10 13:30] atoiv opened #6048 "Missing dependencies"
**Describe the bug**
Missing dependencies in `package.json`s of multiple workspaces:
* Internal dependencies between workspaces are not defined.
* external dependencies to packages under @aws-sdk organization are not defined.

For example "@aws-amplify/api" uses "@aws-amplify/core", without listing it in package.json.

This becomes a show stopper when trying to use aws-amplify from a regular yarn

[2020-06-10 13:57] asterikx opened #6049 "Auth.signIn throws TypeError: attributes.expires.toUTCString is not a function"
**Describe the bug**
`Auth.signIn` fails to store retrieved tokens in local storage after successful sign in:

[code]

**Expected behavior**
`Auth.signIn` stores retrieved tokens in local storage without errors.

**Code Snippet**
Custom `SignIn` component:

[code]

**What is Configured?**
Manual setup **without** Amplify CLI:

[code]

<details>
  <summary><strong>Environment</strong></summary>

[c

[2020-06-10 15:42] John867530nine opened #6050 "E.164 validation and correction"
**Is your feature request related to a problem? Please describe.**
Phone number validation and correction per E.164

**Describe the solution you'd like**
Integrate AWS pinpoint service, ref: https://docs.aws.amazon.com/pinpoint/latest/developerguide/validate-phone-numbers.html

Or Twilio,

Or Whomever.

**Describe alternatives you've considered**
Rolling my own. Use static third party libraries. T

[2020-06-10 20:36] bklebe opened #6053 "Return types of functions in AuthClass are unsafe"
I want to start by saying that I write this issue without a solid understanding of the history of the project and its philosophy of TypeScript usage, and with as much an intention of learning what guarantees I should expect from this library so I can work with it more effectively as it is, as suggesting that they be made stronger.

**Describe the bug**
`Auth.currentAuthenticatedUser()`, `Auth.curr

[2020-06-10 22:46] TheSilentDev commented on #5438
Not quite, however, I've worked around it. Which was just tracking AuthMode in a ContextProvider which swaps out 'AWS_IAM' and 'AMAZON_COGNITO_USER_POOLS' as its value.

I guess I was just hoping that amplify would execute queries with the correct authMode, if I'm signed out, use either 'API_KEY' or 'AWS_IAM' and COGNiTO_POOLS if signed in.

[2020-06-10 22:46] #5438 closed

[2020-06-10 22:55] sammartinez commented on #5686
Resolving this issue as the above comment.

[2020-06-10 22:55] #5686 closed

[2020-06-11 00:07] kodless commented on #987
@clintfoster
It depends on the use case and what you want the user to sign in with.

I still prefer user pools with aliases and i'm not willing to use user pool with usernames even even for fresh user pool because the users can sign in with their verified email and verified phone number and preferred username.
We can't have this luxury when using user pools with usernames.

I think AWS should fix

[2020-06-11 00:21] ltaljaard commented on #5119
@undefobj Could you give us a rough estimation on when beta support for multi-tenant support will be coming out? Also, when will it become a Project?

[2020-06-11 02:46] amhinson commented on #5252
@alexkaduk @idanlo I'm still having some trouble replicating this issue. Are you still experiencing this behavior with the latest version of all of the Amplify libraries you're using? There have been some significant updates related to core that could have had a positive effect on this behavior you were seeing.

Also, we've recently made an update so there is no need to call `Analytics.configure()

[2020-06-11 02:55] amhinson commented on #6053
@beeuhtricks I think the reason the return type is `CognitoUser | any` is partly due to the fact that when using Identity Pool Federation, `user` could essentially be anything that a provider returns as a user, which won't be the same as `CognitoUser`.

Reference: https://docs.amplify.aws/lib/auth/advanced/q/platform/js#identity-pool-federation

[2020-06-11 03:08] ecomonestop opened #6056 "Resend Code link broken when using formFields"
**Describe the bug**
When using formFields with AmplifyConfirmSignUp, clicking "Resend Code" link always gives error (toast) that states "Username Cannot be empty" even tho the username field is filled out.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Confirm Sign Up
2. Click on resend code
3. See error - "Username Cannot be empty"

**Expected behavior**
Shouldnt receive error if u

[2020-06-11 03:11] Xuhan-Liu opened #6057 "Cognito Forgot password verificiaton code API"
**Describe the bug**
I am using Cognito authentication in amplify.js. I implemented a forgot password function by using the following code to get verification code
`import {Auth} from 'aws-amplify'`
`Auth.forgotPassword(username).then(res=>console.log(res))`

I am sure that I have configured amplify and Cognito correctly, because I am able to register and log in. However, when I call the function

[2020-06-11 03:13] beeuhtricks commented on #6053
This makes sense, however there are ways to express this without totally obliterating the other type in the union, for example `CognitoUser | { payload: any }`, and then we could write a type guard for CognitoUser that would allow us to branch safely on the result, yes?

[2020-06-11 04:46] nihp commented on #6015
Here i will took the token from the below code and pass for my API calls to fetch the data. Here while I am in the app doing any fetches it will show the **no current user**.

`AuthClass - Failed to get the current user', 'No current user'`

[code]

Also I have referred lot of suggestions or solutions for this. But I can't able to rectify this. I need to know what causes this issue and need to deb

[2020-06-11 04:49] nihp commented on #6015
Duplicate https://github.com/aws-amplify/amplify-js/issues/6046

[2020-06-11 06:56] Alegero7 commented on #6014
@amhinson

System:
    OS: macOS 10.15.5
    CPU: (12) x64 Intel(R) Core(TM) i7-8700B CPU @ 3.20GHz
    Memory: 1.01 GB / 16.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 10.21.0 - /usr/local/bin/node
    Yarn: 1.17.3 - /usr/local/bin/yarn
    npm: 6.14.4 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  Browsers:
    Chrome: 83.0.4103.97
    Firefox: 51.0
    Safari:

[2020-06-11 07:13] satishmolletipipra commented on #5254
@sammartinez Thanks for the response. please let me know whether the latest amplify fixed the "Username cannot be empty" in firefox issue? if yes then i will update the amplify version.

[2020-06-11 07:51] Afrogoth commented on #5924
@ashika01 - I have added the question to stackoverflow and have added Cloudtrail logs to the post. Please see: [](https://stackoverflow.com/questions/62037997/cognitoidentitycredentials-is-not-authorized-to-perform-apigatewayget-on-resou)

[2020-06-11 07:53] diamanthaxhimusa commented on #5945
The same thing is happening to me!

[2020-06-11 07:54] DeltaByte opened #6059 "pasring error in oauth callback handling"
**Describe the bug**
Error handling auth response. TypeError: Cannot read property 'substr' of null

**To Reproduce**
1. set up Cognito User Pool with facebook as identity provider
2. call `Auth.federatedSignIn({ provider: 'Facebook' })`
3. go through oauth flow until you get redirected back to your application

**Expected behavior**
SDK makes call out to Cognito to complete the auth flow, using t

[2020-06-11 08:18] ngtrhieu commented on #4993
Same problem on React Native. The auth events look sth like this:
[code]
console log outputs:
[code]

![Screenshot 2020-06-11 at 4 16 51 PM](https://user-images.githubusercontent.com/8876396/84362003-1aa12500-abff-11ea-8f26-17a89f60d626.png)
![Screenshot 2020-06-11 at 4 16 59 PM](https://user-images.githubusercontent.com/8876396/84362019-212f9c80-abff-11ea-9cdc-529c85a55bfa.png)

[2020-06-11 08:48] katerinaonair commented on #4430
Resolved

[2020-06-11 08:50] katerinaonair commented on #4430
Resolved with "Legacy", many thanks to @zcmgyu

[2020-06-11 09:01] jerry-le commented on #3435
Still waiting ...

[2020-06-11 09:07] davidbiller commented on #2777
@alexandrzavalii
Did you find the settings?

@DheerajArora5
i don´t have this code in my .yml

[code]

[2020-06-11 09:28] LuXDAmore commented on #5405
@sammartinez Thank You very much for your support! 🚀

I've updated to the latest versions:

But unfortunately the same issue still persist on IE 11 😭

[2020-06-11 09:52] nihp opened #6060 "401,{"message":"The incoming token has expired"} (aws-amplify-react-native)"
I am getting 401,{"message":"The incoming token has expired"} issue while i am in the app.

[code]

[2020-06-11 10:52] atlesp commented on #5433
I believe this is the same issue as https://github.com/aws-amplify/amplify-cli/issues/4355 .

I worked around the issue with replacing the update request resolver with a modified one, see https://github.com/aws-amplify/amplify-cli/issues/4355#issuecomment-642565027

[2020-06-11 11:10] davidbiller commented on #2777
same here...

send Mail per customMessage trigger

[2020-06-11 11:28] secretshardul commented on #1213
@Huetarded at the time of writing this issue(#4475) seems to be fixed. Here's the Lambda function code

![image](https://user-images.githubusercontent.com/49580849/84380064-7621e180-ac04-11ea-9635-92506b40f5b3.png)

[code]
![image](https://user-images.githubusercontent.com/49580849/84379485-82f20580-ac03-11ea-827e-129228a631b9.png)

The handler in ```index.js``` is invoked first. It calls ```add-t

[2020-06-11 11:32] Ashish-Nanda commented on #6046
Closing this issue as its a duplicate of #6015 which is being tracked.

[2020-06-11 11:32] #6046 closed

[2020-06-11 12:32] hisham commented on #2605
Am also having some users reports this. Angular app.

[2020-06-11 14:02] TheVaporTrail opened #6061 ""peer dep missing" errors installing aws-amplify@3.0.17"
_2020.07.06: I realize that the `-g` option is incorrect, but this does not affect the issue._

**Describe the bug**
Installing aws-amplify@3.0.17 generates "peer dep missing" errors that I can not resolve by installing the missing packages

**To Reproduce**
I removed all but the minimum packages from npm global

[code]
and then installed aws-amplify:
[code]
which resulted in the following warning

[2020-06-11 14:27] Alegero7 commented on #6014
@amhinson I have found error in amazon-cognito-indentity-js Client.js file. Maybe It will be helpfull

![Screen Shot 2020-06-11 at 5 26 13 PM](https://user-images.githubusercontent.com/66474730/84398612-d61a8700-ac08-11ea-85b2-e71046e34070.png)

[2020-06-11 14:50] uxtx commented on #3128
I saw this as well - I'm not sure there's any other option other than extend with a 3p solution, or roll your own lambda that pushes logs to cloudwatch via `cloudwatchlog.putLogEvents` https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/CloudWatchLogs.html#putLogEvents-property or wherever else you want them to go. Any other thoughts?

[2020-06-11 14:52] uxtx commented on #3128
There's also this thread: https://github.com/aws-amplify/amplify-js/issues/3524

[2020-06-11 15:15] sammartinez commented on #5405
@LuXDAmore When you tried the latest version, did you remove your lock files and re installed?

[2020-06-11 15:23] IsaacTrevino commented on #1715
So this problem troubled me for some time. Amplify Cache didn't seem to work and caching username and password is a bad idea, however my work around was just include the username and password in the Require-New-Password form, so I have 4 inputs  instead of just newPassword & confirmPassword which now is username, oldPassword, newPassword, and confirmPassword.

Good luck!

[2020-06-11 15:29] clintfoster commented on #987
@kodless Good point. Modern apps should allow signing in with either phone number or email, which you can only do with Option 1. For example, I heard the author of whatsapp say one of the keys to its viral growth was allowing people to sign up & sign in by phone number.

[2020-06-11 15:44] LuXDAmore commented on #5405
@sammartinez Yes, i've also tried to deleted the entrire `node_modules` folder (just to be sure to have everything up-to-date).

[2020-06-11 15:55] LuXDAmore commented on #5405
@sammartinez

IDK if this can help, but in my `package-lock.json` i can see the **gamma-version** used everywhere, except for the `@aws-sdk/client-cognito-identity` that is still requiring an **alpha-version** of the `@aws-crypto` libraries.

[code]

[2020-06-11 16:03] sammartinez commented on #5405
@Amplifiyer Any idea on this?

[2020-06-11 17:20] sammartinez commented on #5254
Correct, in the newer implementations of our [Angular UI Components](https://docs.amplify.aws/ui/auth/authenticator/q/framework/angular) the firefox issue is resolved. Will leave this open for you to test.

[2020-06-11 17:22] amhinson commented on #6014
Are you using any Lambda Triggers on the User Pool?

Could you describe the steps you took when setting up the Auth category?
i.e. `amplify add auth` with default configuration

[2020-06-11 17:24] ericclemmons commented on #4430
Thanks for the update @katerinaonair!

[2020-06-11 17:25] econtentmaps opened #6066 "How to find out the automatically assigned ID of an object created by a datastore.save operation"
Title says it all, I think:

How on earth does one find out the ID automatically generated for an object when you create it using DataStore.save()?

I'm building a text editor and I want to store its state along with some metadata (e.g. slug, etc) and a UUID. This all works fine. But when I want to conditionally update an existing record or save a new one (depending on the presence or not of the U

[2020-06-11 17:43] UnderSampled opened #6064 "PubSub subscription callback"
**Is your feature request related to a problem? Please describe.**
I need to send a message to an MQTT topic after subscribing to it, so I can hear the response. Currently, I'd have to set a dumb timeout to give the broker just a little time to process the subscription request

**Describe the solution you'd like**
A callback/promise/connection event for `PubSub.subscribe`

**Describe alternatives

[2020-06-11 17:53] nzayatz14 commented on #1464
+1

[2020-06-11 19:18] #3349 closed

[2020-06-11 23:21] hisham commented on #2605
For anyone running into this, I'm able to repro my issue if my system's clock is off. See https://github.com/aws-amplify/amplify-js/pull/5869. The actual call to Cognito was working, I had a followon call to API Gateway that was failing. So I believe users had some clock drift. Fortunately the amplify team just merged in a fix for this 2 days ago.

[2020-06-11 23:27] cooperhurt opened #6068 "AWS Amplify Storage Put - ProgressCallBack"
**Is your feature request related to a problem? Please describe.**
I am not sure if this is desired behavior or a bug that Storage.put has but when you use the ProgressCallback it only spit out when the put has been completed (unless the file is fairly large)

**Describe the solution you'd like**
I think using the progressCalback from past experience and other options is to have progressCalback co

[2020-06-12 01:09] mdoesburg commented on #5290
@sammartinez Still having the same issue. Amplify CLI version 4.21.3, and DataStore version 2.2.3.

[2020-06-12 01:24] ooridoori opened #6069 "Sign in event gets registered multiple times when using regular Auth.signIn()"
**Describe the bug**
When a user signs in using Auth.signIn() the "signIn" event is registered multiple times in the Hub listener

**To Reproduce**
1. Add a log inside the "signIn" event in the Hub.listener callback
2. Open devtools
3. Sign in using Auth.signIn()
4. Notice there is at least 4 or more logs and the same amount of network calls

**Expected behavior**
The sign in event should only hap

[2020-06-12 06:52] carstenmuellerlemberg commented on #6039
I could solve the issue deleting package-log.json and node_modules and using a fresh npm install.

[2020-06-12 06:52] #6039 closed

[2020-06-12 06:55] #5069 closed

[2020-06-12 07:01] mspoulsen opened #6071 "Export types from @aws-amplify/ui-vue"
I suggest better access to the typescript types (let me know if I am missing something)

To get to the types I do this:
`import { FormFieldTypes } from '@aws-amplify/ui-components/dist/types/components/amplify-auth-fields/amplify-auth-fields-interface'`

This would be better:
`import { FormFieldTypes } from '@aws-amplify/ui-vue'`

[2020-06-12 07:22] TheMoums commented on #6022
Upgrading to version 2.2.3 seems to have solved my problem!

[2020-06-12 07:43] mspoulsen opened #6072 "Amplify Auth component affects my styling"
Hi,
I am using the Amplify Vue Auth component with my vue app.
https://docs.amplify.aws/ui/auth/authenticator/q/framework/vue

It is working, but after successful login the styling of my (vuetify) app has changed. If I remove `<amplify-authenticator>` my styling is back to normal.

Does amplify apply styling that could affect my app? And what can I do about it?

Thanks

[2020-06-12 08:39] Alegero7 commented on #6014
@amhinson Hi, I have fixed this issue. aws-amplify is not working with node module rn-fetch-blob 0_0 I have removed it and api is working now...

[2020-06-12 08:47] trentmurray commented on #1035
If you're working in a public repo, I'd love to help if I can.

[2020-06-12 09:54] roots-ai commented on #5296
This misses out on some images.

[2020-06-12 12:58] mspoulsen opened #6073 "Auth UI Component: customizing text size has no effect"
Customizing the font-family and colors work:

[code]

But the text size has no effect:

[code]

Anyone experienced the same problem?

[2020-06-12 12:58] kendevops commented on #6072
Quick question:
- When you say "if i remove my styling is back to normal", do you mean when you remove your styling for vuetify?

[2020-06-12 13:32] mspoulsen commented on #6072
Forgot the include `<amplify-authenticator>` in quotes so it disappeared from the question. I have update my question :+1:

[2020-06-12 14:00] wtrevena commented on #3288
@cliffordh
I am glad to see that someone else recognized this same opportunity! If you have a second could you please share the workaround that you found? Thanks!

[2020-06-12 14:20] mdoesburg opened #6074 "DataStore subscription warnings when limiting operations"
**Describe the bug**
Whenever I don't allow certain operations on a model, DataStore will log a bunch of warnings for subscriptions.

[code]
[code]
[code]

I see a PR that has recently been merged which seems to be related to similar issues: https://github.com/aws-amplify/amplify-js/pull/5968

Might also be related to my other issue: https://github.com/aws-amplify/amplify-cli/issues/3777

I guess

[2020-06-12 15:02] amhinson commented on #6014
Thats good to hear you got it working! I'll close this issue for now, but we will make note of `rn-fetch-blob`.

[2020-06-12 15:02] #6014 closed

[2020-06-12 15:30] Saqlain-Piecyfer commented on #4870
This error is still happening after the update, empty username/password throws exception

[2020-06-12 15:31] kendevops commented on #6072
Can you look at https://docs.amplify.aws/ui/customization/theming/q/framework/vue#for-typography to see if you need to override the CSS of the Authentication Component

[2020-06-12 15:32] ryanhollander opened #6075 "SSML support for Polly feature in Predictions"
Hello, A minor feature request for your consideration.

**Is your feature request related to a problem? Please describe.**
Although Supported in Polly, it is not possible to provide SSML from the Amplify Client to the Predictions/Polly TTS Feature.

**Describe the solution you'd like**
It would be great if a method could be added to the API to indicate the payload is SSML vs. TEXT. It would be gre