[2018-05-29 10:27] Targettrade commented on #768
@Jasminou I don't understand what you mean by "when we put the code in the custom message trigger". In any case, no, the above code will NOT send a verification code to the user's email as it will auto-verify them. If you are doing something else as a result of some trigger you have set up then perhaps a code is being sent but it is not the behaviour of AWS in this context

[2018-05-29 10:30] Targettrade opened #936 "Cognito: Add email verification code to subject of email"
How is it possible to add the email verification code sent by AWS Cognito to the subject of an email?

[2018-05-29 10:31] Hugodby commented on #841
I have the same issue. Setting 'cookieStorage' in the config break the authentication methods. No cookies are saved but the tokens are still written in the localstorage. If I remove the cookieStorage option, authentication methods work again. I would like to use the cookie storage. Below my configuration :
[code]

[2018-05-29 12:33] umangm99 opened #937 "How to add user to group after signup using "admin-add-user-to-group""
How to use admin-add-user-to-group in react app environment?

I'm trying

 var params = {
        GroupName: 'unisorter-user',
        UserPoolId: 'ap-south-1_ABCDEXYG',
        Username: 'e8bda141-abcde-1234-bf1f-5b90ae78859e'
      };

      const responseAws = AWS
        .CognitoIdentityServiceProvider
        .adminAddUserToGroup(params, function (err, data) {
          if (err) {

[2018-05-29 13:09] amls commented on #934
have you found a fix @whatsdis  ?

[2018-05-29 14:12] Jasminou commented on #768
@Targettrade  I Mean I used this code in lambda function who will be triggered by cognito when user update his email, the above code don't send an email Ièm totaly agree with you.

[2018-05-29 15:09] #934 closed

[2018-05-29 15:22] iuliuvisovan commented on #722
What was the problem in your case?

[2018-05-29 16:08] Jasminou commented on #786
@Adwich  AmplifyMessageMap.js doesn't contain all the errors

[2018-05-29 16:41] yedeba commented on #632
Why do they publish the sdk26 with blob if it really does not work?

[2018-05-29 17:49] powerful23 commented on #399
@kanteankit you can get the jwt token by using the `Cache`:
[code]

Sorry we didn't mention this in the doc, will send a pr for that.

[2018-05-29 17:51] Jasminou commented on #936
@Targettrade I don't think it's possible, I already tried to add  {####} in the subject email from the web console cognito under message cutomization tab, but it didn't work. Also I tried with a custom message for the forget password verification using triggers, It's not replacing the code verification place holder by the real code parameter in subject as it's done for the email body.

[2018-05-29 18:33] powerful23 commented on #399
@kanteankit how are you using that jwt token to make calls to API. As I know the jwt tokens are only used to fetch a AWS credentials from your federated identity pool.

[2018-05-29 19:08] halaharr commented on #933
If that is the case it should not be working on any phone. It works on some phone. I am passing in data as per the doc.

const data = await Auth.signUp({
      username: signUpData.email.trim().toLowerCase(),
      password: signUpData.password,
      attributes: {
        email: signUpData.email.trim().toLowerCase(),
        phone_number: signUpData.phone_number,
        given_name: signUpData.na

[2018-05-29 21:00] cdaringe opened #940 "RFC: react component HOCs allowing for bringing your own component"
## Do you want to request a feature or report a bug?

**feature**

## current behavior

The current set of `react` components bring their own, strongly opinionated DOM.

Example:

[code]

brings it's own specific versions of `<AmplifyUI.InputRow />` , `<AmplifyUI.FormRow />`, etc, and each of those brings an explicit `<html>` element of its own choosing.

This is problematic because it hinders ext

[2018-05-29 21:14] OlivierPT commented on #868
Hi,

I re-tried to update my project to "aws-amplify": "^0.4.1" and "aws-amplify-react": "^0.1.47" today and I don't get the error as mentioned in this issue! I didn't had to update/change any part of my code so... maybe the issue was coming from a dependencie!?

Anyway, I close the issue.

Thank you

[2018-05-29 21:14] #868 closed

[2018-05-29 21:44] swaminator commented on #930
@whatsdis: We can't seem to find where you read that the React starter is a PWA. If you can send a screenshot that will be great!

[2018-05-29 22:32] haverchuck commented on #678
We updated the Amplify documentation to describe how to fix this issue for an Angular 6 app.  A more permanent solution will be forthcoming when we are able to update dependencies.

[2018-05-29 22:32] #678 closed

[2018-05-29 23:05] mlabieniec commented on #935
@elmoGrummelig the error your seeing is coming from Cognito, your user pool is requiring the attributes given_name, family_name, and website. You can configure it the cognito console what is required if you don't want them to be required, or send them up with your signUp request in the attributes param: https://aws.github.io/aws-amplify/media/authentication_guide#sign-up

[2018-05-29 23:07] mlabieniec commented on #933
Hm, this is strange.... Do you have any info on which phones/OS/version that are failing?

[2018-05-30 00:06] halaharr commented on #933
It worked on iPhone 6 plus  but did not work on iPhone 6.

[2018-05-30 00:11] elorzafe commented on #399
Hi @kanteankit how are you configuring you Authorizers on API GW?

[2018-05-30 02:31] chrisbnyc opened #941 "Custom attributes not returned in Auth.currentUserInfo()"
Do you want to request a feature or report a bug?

Not sure if this is a feature or a bug - according to https://aws.amazon.com/blogs/mobile/aws-amplify-adds-support-for-custom-attributes-in-amazon-cognito-user-pools/, it appears custom attributes should be retrievable (they use the example of a 'favorite_flavor')

What is the current behavior?

I have a Cognito user pool with limited standard att

[2018-05-30 04:42] vaultcode opened #942 "Issue while running npm run android"
The development server returned response error code: 500

URL: http://10.0.2.2:8081/index.android.bundle?platform=android&dev=true&hot=false&minify=false

Body:
{"from":"C:\\Users\\UserName\\my-project\\src\\Screens\\First.js","to":"theme","message":"Unable to resolve module `theme` from `C:\\Users\\Prashanth\\my-project\\src\\Screens\\First.js`: Module does not exist in the module map\n\nThis mig

[2018-05-30 05:40] elmoGrummelig commented on #935
@mlabieniec i know. i configured cognito to require the fields given_name, family_name, and website. I expect aws-amplify-angular AuthenticatorComponent to automatically adapt. AuthenticatorComponent should display input fields so the user is able to enter the required attributes.
The Auth SignUp method is not a solution, because aws-amplify-angular AuthenticatorComponent hides this from me.

[2018-05-30 06:57] davidgatti opened #943 "Error: User is not authenticated when .setDeviceStatusRemembered()"
# Do you want to request a feature or report a bug?

Report a bug

# What is the current behavior?

When I login the user, I use `.getDevice()` to check if the browser is remembered or not. if not, I do redirect the logged in user to a special page where they have two options: either remember the browser or not. When on this new page the logged in user triggers `.setDeviceStatusRemembered()` funct

[2018-05-30 12:04] uasaigoli commented on #942
I have similar issue is mac.

error: bundling failed: "Unable to resolve module `theme` from `/Users/newuser/github/my-project/src/Screens/First.js`: Module does not exist in the module map\n\nThis might be related to https://github.com/facebook/react-native/issues/4968\nTo resolve try the following:\n  1. Clear watchman watches: `watchman watch-del-all`.\n  2. Delete the `node_modules` folder: `r

[2018-05-30 14:20] CHR15- opened #944 "setPreferredMFA returning a 400: "User has not set up software token mfa""
**Do you want to request a feature or report a bug?**

Bug

**What is the current behavior?**

`setPreferredMFA(user, SMS);` causes a 400 to be raised by cognito, responding with:
"User has not set up software token mfa"

We only have SMS enabled, but amplify is sending:

[code]

I'm guessing including SoftwareTokenMfaSettings in the payload is causing an issue?

**What is the expected behavior?**

[2018-05-30 15:24] mlabieniec commented on #933
Is that consistent on the iPhone 6 device or sporadic ? I'm not able to reproduce yet. Also I just noticed you are using a pretty old version 0.2. Can you give the latest a try and see if you are able to reproduce on the iPhone 6 device?

[2018-05-30 15:30] halaharr commented on #933
It is happening all the time. It also happened yesterday on iPhone 7. It works fine on simulator or my iPhone 6 Plus. I will try the latest version. Thanks

[2018-05-30 15:54] mlabieniec commented on #928
@karlmosenbacher thanks for the awesome feedback! We will add this to the backlog :)

[2018-05-30 17:18] jordanranz commented on #726
Warning is thrown at this line:
https://github.com/aws/aws-amplify/blob/180a996345e878b51badb34031ab1e69bc480e2c/packages/aws-amplify/src/API/API.ts#

GraphQL queries hit this block of code to make a 'post' request:
https://github.com/aws/aws-amplify/blame/180a996345e878b51badb34031ab1e69bc480e2c/packages/aws-amplify/src/API/API.ts#L399

The post function seems to check credentials from Auth even

[2018-05-30 17:40] #846 closed

[2018-05-30 17:44] powerful23 commented on #578
Amplify@0.4.1 should have fixed this issue. #859

[2018-05-30 17:45] powerful23 commented on #921
@vincen7su can you try aws-amplify@0.4.1? It should have been fixed in that version.

[2018-05-30 18:19] mlabieniec commented on #924
@simon998yang you can use the Authenticator directly, so that you can place it where-ever you like in your app, then manage/check the state yourself:
https://aws.github.io/aws-amplify/media/authentication_guide#using-authenticator-component

You can also use the stateChange event directly on the component params.

[2018-05-30 18:32] mlabieniec commented on #926
@michaelcuneo I think you can use the Hub class for this:
https://aws.github.io/aws-amplify/media/hub_guide#listen

Since the <Authenticator> is canned for using with user pool sign in, i don't think the onStateChange will fire as you said for federated / social login since those HOCs are separate...but i think if you listen with Hub you will get it. Let me know what you think.

[2018-05-30 18:36] #922 closed

[2018-05-30 21:31] OlivierPT opened #949 "Amplify GraphQL support for local cache, refetchQueries and optimisticResponse"
Do you want to request a feature or report a bug?

Feature report or documentation addition

What is the current behavior?

I can't find any documentation to know if Amplify GraphQL client supports local cache and refetchQueries, optimisticResponse option for Mutations and how to use it.
Is it planned?  Do we have, or should we have the same feature with the Amplify API and with the Connect compon

[2018-05-30 22:15] #871 closed

[2018-05-30 22:15] danielhep commented on #871
Turned out this was my own error for misspecifying the build artifacts during setup.

[2018-05-31 00:14] michaelcuneo commented on #926
I've managed to get some authData from that... now I'm having more issues that I'll make a new post about. I'm literally baffled by the complete differences of structure and the inability to have a complete working example of either of the three login types. (Completely custom, Authenticator, Hosted) I've got all three login systems running side by side here for comparison, and for fallback, so I

[2018-05-31 00:27] michaelcuneo opened #950 "Auth.userAttributes error?"
I have Authenticator logging people in perfectly with Cognito User Pools and with Federated, which is creating a valid user full of attributes from the mapped attributes, into their respective user in Cognito User Pools. I have a lot of custom user attributes within the Cognito User Pool. After I login and have a valid user, I use UserAttributes to return me the attributes of the user.

The result

[2018-05-31 05:03] lolcoolkat opened #951 "How can I check if a user is logged in via server?"
I have a Next.JS application (SSR'd react) and i'd like to check whether there the user is logged in or not. I've got Apollo client hooked up and working with Coginto User Pools but for some reason this code here.. (which is run on the server) does not return a user. (When i'm definitely logged in)

[code]

And i'm calling the function by running:

[code]

Is there a better way to check if a user

[2018-05-31 06:06] vincen7su commented on #921
@powerful23 aws-amplify@0.4.1 works correctly.
Thank you!

[2018-05-31 06:06] #921 closed

[2018-05-31 11:02] RoyAppeldoorn commented on #238
Is there a way to retrieve the updated user object instead of the 'SUCCESS' code?

[2018-05-31 12:44] tarundhillon opened #953 "Access to non-amplify features post Amilfy-Auth"
Do you want to request a feature or report a bug?
Access to non-amplify features post Amplify-Auth

I am trying to use credentials from Amplify-Auth to access other AWS features such as SQS.

1. user is signed in using --
`Auth.signIn(username, password)
`
2. Fetch credentials and use to initialise SQS
[code]
3. make an SQS call
`this.sqs.receiveMessage(params, (data)=>console.log('data::',data));

[2018-05-31 15:39] #726 closed

[2018-05-31 16:36] kanteankit commented on #399
@elorzafe
As mentioned in my previous comments,I am familiar with Amazon Cognito and  I am already using `Auth.signIn` for authenticating via email. That email authentication is creating a user in Cognito User Pool and giving me a JWT token that I can use in Authorization header.

The entire point of my question is how can I do a similar thing with `Auth.federatedSignIn`. After calling `Auth.feder

[2018-05-31 17:04] mlabieniec commented on #942
Looks like this is a RN error not finding "theme" in Screens/First.js. What is the module "theme" your including?  If it's a module you have installed, you should try the info suggested i.e. clear modules/cache etc.

[2018-05-31 17:41] powerful23 commented on #926
@michaelcuneo which version of Amplify are you using? The latest one is 0.4.1 which have a fix around the user object. Also you are saying using the cognito hosted ui to add those federated users into user pool right? Did you do the attributes mapping configuration in the Cognito User Pool console?

[2018-05-31 17:44] nidsharm commented on #953
Hi @tarundhillon,

The AWS credentials returned to you by Auth.signin can be used to access all AWS resources in your account.  Can you try updating the credentials on AWS config before initializing SQS?

You can use :
[code]
to update your config with credentials. Do let us know if you face any other issues.

[2018-05-31 17:52] nidsharm commented on #940
Hi @cdaringe,

Thank you for the suggestion. We do accept PRs, and I have added this to our backlog too.

[2018-05-31 18:15] vitrukroman commented on #851
It's not the type any, type should be { PreferredMfa : true, Enabled : true } for each mfa: SMS and TOTP
};

[2018-05-31 18:27] manueliglesias commented on #949
Hi @OlivierPT

For now, Amplify's GraphQL support is basic (query, mutations and subscriptions), at the moment there is no caching, refetchQueries or support for optimistic UIs.

This first release is intended to be a simple and very easy to use client. As for future plans, there's nothing concrete yet but feedback like yours is very welcome and great to help us plan.

[2018-05-31 18:31] tarundhillon commented on #953
Thanks !! I have tried to update AWS.config as proposed it but still getting the same error... seems like an issue with AIM

[2018-05-31 18:35] powerful23 commented on #944
@CHR15- we will bypass this error when you are only setting the MFA preference to 'SMS'. https://github.com/aws/aws-amplify/blob/master/packages/aws-amplify/src/Auth/Auth.ts#L406 So can you confirm that SMS is actually enabled afterwards.

[2018-05-31 18:40] richardzcode commented on #639
`Auth.currentUserCredentials` makes sure token is not expired, `Auth.userAttributes` gives most up-to-date attributes.

I will make an enhancement request to update token in `currentSession` after `updateUserAttributes`

[2018-05-31 18:51] uasaigoli commented on #942
Issue resolved after replacing following line -

import { colors } from 'theme';
 with
import { colors } from '../Utils/theme';

changed were in 15-16 files

[2018-05-31 19:10] OlivierPT commented on #949
Hi @manueliglesias,

Thanks for these informations.
Indeed, current Amplify Graphql implementation is easy to use but I am pretty sure than I am not the only one to wait for the implementation of the other features than come with graphql and which are the real power of it. :)
I really hope it will come!

In the mean time, I feel the most complete solution remains aws-appsync and appollo client.

[2018-05-31 19:51] OlivierPT commented on #949
Hi @undefobj ,

I am working on the development of a PWA for a startup, so I am definitely looking for all the features of GraphQL and AppSync : refretchQuery after mutation, cache for offline and optimisticUI...
Currently, I don't use Redux or Mobx but I would not be surprised to have to integrate it later...

At one point, I was thinking that the point of Amplify would be to unify the existing A

[2018-05-31 20:06] nidsharm commented on #942
Hi @vaultcode ,

I tried out our React Native starter from scratch on Android and iOS and couldn't reproduce the issue. Have you made any changes to the project since you cloned it? If not, I think the issue is with the node modules dependencies. Could you clone the repo again and try it out? Do let us know if you still see the error.
Thanks.

[2018-05-31 20:11] bhao-speedline commented on #610
It seems this hasn't been resolved yet.

[2018-05-31 20:42] nrubin29 opened #959 "aws-amplify-angular not compatible with Angular 6"
Do you want to request a feature or report a bug?
Bug

What is the current behavior?
AWS Amplify does not work with Angular 6 (import errors related to RxJS among other issues.

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than

[2018-05-31 20:47] nidsharm commented on #959
Hi @nrubin29 ,

The updates to aws-amplify-angular for compatibility with Angular 6 are in PR right now : https://github.com/aws/aws-amplify/pull/958.

[2018-05-31 20:49] richardzcode commented on #950
Hi @michaelcuneo could you paste code snippet on how you are calling the `userAttributes` method? I am guessing you are not passing `user` object as parameter.

Thanks,
Richard

[2018-05-31 21:42] undefobj commented on #949
@OlivierPT the goals of Amplify aren't around unification of SDKs, though that may be a natural byproduct. It might be good to read the goals of the project here: https://github.com/aws/aws-amplify/wiki

What I'm mostly curious is do you actually need controls of things like refetching queries or optimistic UI, or could it just happen automatically for you?

[2018-05-31 22:43] brianfoody commented on #906
So this should do it?

`Amplify.configure({
      ...
      Analytics: {
        autoSessionRecord: false,
      }`

[2018-05-31 23:06] brianfoody commented on #906
When can we expect a release with this code @powerful23 ?

[2018-05-31 23:15] powerful23 commented on #906
@nidsharm will publish a new version by this week.

[2018-05-31 23:27] buggy commented on #610
The problem is caused by Cognito User Pools and needs to be fixed there. The best that could be done inside aws-amplify is to always lower case email and username fields before calling Cognito.

[2018-05-31 23:37] michaelcuneo commented on #950
Oh. I didn't even realise that I had to send userAttributes something to get a response.

I figured it was getting the data the way the other functions do, with the cached user data, etc...  So I gave it my currentsession... which appeared to be a valid user object. In this particular case I gave userAttributes this object...

{"id":"ap-southeast-2:bc76b6b9-7965-4f80-a483-0b066228deb4","email":"mi

[2018-05-31 23:39] michaelcuneo commented on #950
Sorry I versioned the wrong program ... I'm running 0.4.1

[2018-05-31 23:44] michaelcuneo commented on #926
I am using 0.4.1 The Authenticator object was mapping my attributes into my User Pool as well as the Hosted UI. I think? I'm sure I got some mapped attributes into the UserPool from the Authenticator HOC. Either that or it's just matching them up after using the Hosted UI at least once when I tested the other login system at some point.

[2018-06-01 00:35] michaelcuneo commented on #950
It appears as though I can get the userAttributes from a CognitoUserPool user, but not from a Federated User, even though they are both within the User Pool as users, so I would now need to somehow manually make a UserPool user for Federated Signins, to fix the issue of User Pool users not being created when logging in with the Authenticator HOC?

[2018-06-01 02:20] thejuan opened #960 "Storage.put should set ACL public-read for public files"
public files should be put with ACL of public-read

Inside the Storage.put
[code]

[2018-06-01 02:27] sheldonbarnes commented on #192
I am experiencing the same issue in Angular

[2018-06-01 03:51] matsuo-ts opened #961 "Response data was mutated by API.get method?"
Probably it's a bug.

I send a GET request to API Gateway by below code.

[code]

then `DATA_1` is looks like.
![screen shot 2018-06-01 at 12 38 41](https://user-images.githubusercontent.com/25472199/40819978-c61a54e2-6598-11e8-8d11-26fca192534a.png)

But expected data to be like this as I see in `Network` tab of chrome dev tool.
![screen shot 2018-06-01 at 12 39 52](https://user-images.githubuser

[2018-06-01 04:07] allanpope opened #962 "Updating a user attribute to an empty string does not work"
**What is the current behavior?**

You are unable to remove a user attribute by passing in an empty string, undefined or null.
It is stripped off the request and does not work.

Does not work with empty string.
[code]

Works with a space in an empty string.
[code]

**What is the expected behavior?**

You can pass through an empty string to clear/remove a user attribute value.

[2018-06-01 04:36] kanteankit commented on #793
@powerful23
Could you describe how to use the credentials returned by `Auth.federatedSignIn` to manage a session myself?

[2018-06-01 06:02] iqbal125 opened #963 "Is this secure to use in production?"
I was wondering if this library is ok to use in a production app or if it is still in active development?

[2018-06-01 07:29] OlivierPT commented on #949
Hi @undefobj

Actually, I was expecting Amplify to handle refetchQuery after a mutation call and to manage  the cache, the optimisticResponse and so on "automatically"... Despite I think it is necessary to have some params and callbacks. Indeed, I think it would suite to most of my uses cases, at least for now, since we are just starting the project and we are targeting a simple first version.

Th

[2018-06-01 09:05] hrmoller opened #964 "InvalidParameterException when deleted user signs up again"
**Do you want to request a feature or report a bug?**
Bug

**What is the current behavior?**
The below error is thrown when a deleted user signs up again, but the user is added to the user pool anyways and no confirmation mail is sent.

[code]

1. New user signs up successfully using a custom form that implements `Auth.signUp`
2. The new user is deleted manually using the AWS Console
3. The user s

[2018-06-01 09:47] hrmoller commented on #964
Just a short follow up to the above.

1. It seems as even though the user is deleted in the AWS Console it isn't really removed which in my eyes is annoying, but also troubles GDPR compliance as users should be removed completely.

2. Using the AWS CLI (`aws cognito-idp admin-delete-user`) seems to do the job and remove the user as expected. When a user signs up again with the same credentials eve

[2018-06-01 14:58] creedmangrum commented on #960
I'm running into this same issue

[2018-06-01 15:17] hrmoller commented on #964
Well the issue seems to have disappeared now. I'll monitor and close this issue if I can't reproduce shortly.

[2018-06-01 15:20] jchang10 commented on #854
@setuk thanks for the update. Yes, working now. I just upgraded to the latest versions.

Previously, the error occured with:
"aws-amplify": "^0.4.0",
"aws-amplify-react": "^0.1.46",

Working now with:
├─ aws-amplify-react@0.1.47
│  ├─ aws-amplify@^0.4.1
├─ aws-amplify@0.4.1

[2018-06-01 15:20] #854 closed

[2018-06-01 16:31] mlabieniec commented on #880
@jatindera can you post some response codes/data for the failing API calls? I'll run through some tests on my ionic app and see if I can reproduce.

Just to be clear, when using the sample api (with the cli), things are setup with lambda, api gateway with a lambda proxy, and [lambda-express](https://github.com/awslabs/aws-serverless-express). The permissions are also bootstrapped with Cognito Fede

[2018-06-01 16:41] mlabieniec commented on #953
@tarundhillon did you use the awsmobile-cli to create your project? If so, it will setup a Federated Identities Pool AND a User Pool. So you should have access to both unless you setup yourself and are using the hosted UI. Your code looks correct (I tested with Route53 and Kinesis)...usually the only reason you'd get this permission denied error would be either the Auth or UnAuth Role (which ever

[2018-06-01 16:46] mlabieniec commented on #964
@hrmoller thanks for reporting this. @yuntuowang are you guys aware of any issues here?

[2018-06-01 17:05] powerful23 commented on #793
@kanteankit since Amplify will automatically refresh the jwt token from Facebook or Google, or you can also provide a refresh handler yourself, the user will always have a credentials to use your AWS resources. So if you don't want the user stayed logged in forever, you need to develop your own logic to sign the user out.

[2018-06-01 17:31] powerful23 commented on #951
@lolcoolkat For now that function is not supported in the server side. You need to store that user by yourself. Also we can expose an interface for you to pass a storage object to the library. Mark this as enhancement

[2018-06-01 17:33] yuntuowang commented on #964
Hi @mlabieniec, we are not aware of this. Thanks @hrmoller, let me know if this issue still happen. We will look into it at the meantime.

[2018-06-01 17:38] powerful23 commented on #42
Closing as Amplify now will automatically refresh the session. https://github.com/aws/aws-amplify/wiki/FAQ

[2018-06-01 17:38] #42 closed

[2018-06-01 17:45] powerful23 commented on #779
Please feel free to reopen if necessary.

[2018-06-01 17:45] #779 closed

[2018-06-01 19:27] lolcoolkat commented on #951
@powerful23 is there a way to get the user info by passing the JWT into a some function :D That would be nice hehe

Essentially all I want to be able to do is get the username and email of the Cognito user server sided ;)

[2018-06-01 19:43] bhao-speedline commented on #610
@buggy Thanks! I'm aware of that, but didn't notice that this is NOT the repository for Cognito. Sorry about that.

[2018-06-01 19:47] j0b0sapi3n commented on #950
I've been receiving the exact same error by using the following code after logging in (in case it's helpful for an additional data point):

[code]
The `CognitoUser` object I receive back from `currentAuthenticatedUser()` seems to have everything set properly except `Session` is set to `null`. What's your `CognitoUser` object look like?

[2018-06-01 21:02] j0b0sapi3n commented on #238
@vipseixas what's the point of doing `currentCredentials` in your example? You're not using it at all in `updateUserAttributes()`

Do you mind sharing the `CognitoUser` object that `currentAuthenticatedUser()` is returning? Is the `Session` value `null`?

[2018-06-01 21:06] ASteinheiser commented on #950
Experiencing the same thing.

My cognitoUser looks like this:
[code]
and my code:
[code]
using:
[code]

[2018-06-01 21:13] ASteinheiser commented on #941
Just tried this on v0.3.3 with the code:
[code]
and got the result:
[code]

[2018-06-01 21:15] ASteinheiser commented on #950
After further investigation, I believe we might be looking for is Auth.currentUserInfo(), like so:
[code]

[2018-06-02 03:45] tarundhillon commented on #953
i have used awsmobile-cli to setup the project and I have both Federated Identities pool and User pool setup as part of the configuration automatically. But for my auth flow I have created a user using Cognito Pool and I use the username & password for the auth steps listed above, hence I believe I am not using Federated Identities Pool.

I have done further digging around and found that the crede

[2018-06-02 06:31] batulthegreat opened #968 "CookieStorage not working with v2.0.3 in Chrome"
Do you want to request a feature or report a bug? Report a Bug

What is the current behavior?
I created a simple Angular project with a login screen, imported the amazon-cognito-identity-js library.
Included the line - **Storage: new CookieStorage({ domain: '.<myCognitodomain>.auth.<aws region>.amazoncognito.com'})** in both userData & PoolData map. However, once I login using the login screen, au

[2018-06-02 15:26] stranger9811 commented on #891
Hi Team,

Any updates on this?

[2018-06-02 15:45] ggeoffrey commented on #153
Got this issue today with both npm and yarn. Dirty patched it with
[code]
Because I have a guaranty my code will never run on Node.
This is obviously not clean at all but it worked, took 2 lines of code, and now I can move on.
I wouldn't call it a solution, but still hope it helps :)

[2018-06-02 17:48] #964 closed

[2018-06-02 17:54] mlabieniec commented on #953
@tarundhillon You can do this with [Groups](https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-user-groups.html). If you create a group you can assign an IAM role to it. You can also signin directly to User Pools (not federating with identity pools) using the [Hosted UI](https://aws.github.io/aws-amplify/media/authentication_guide#using-amazon-cognito-hosted-ui) option.

[2018-06-03 05:04] sarchak opened #969 "AWS Amplify Permission denied"
I am trying to access an API gateway endpoint using AWS amplify but I keep getting permission denied.

However, I can directly access the api using the api gateway url directly.
Any idea as to what the reason could be?

Here is my setup
CloudFront -> ReactApp -> API Gateway

I have mandatorySignIn: false in Amplify configure. Also for the endpoint I am testing here are the configuration.
[code]

[2018-06-03 05:16] sarchak commented on #969
Another interesting point is that it works fine when testing locally but when deployed to production I get Access Denied

[2018-06-03 06:22] matteovinci opened #970 "aws-amplify-react-native:compileDebugJavaWithJavac FAILED: cannot find symbol `notification.setChannelId(channelId)`"
My dependencies in `package.json`:
[code]

On Android -> Gradle sync is ok but when I run `react-native- run-android` the build is failing for the following error:

[code]

[2018-06-03 07:50] tarundhillon commented on #953
@mlabieniec thanks .. by default the APPNAME_auth_MOBILEHUB_2026850xxx was Role added to the Group. The issue in my case was that since the user was created manually in the Cognito Pool I had to reset the password because authState wasn't signedIn

[code]
This link was also helpful.
https://stackoverflow.com/questions/40287012/how-to-change-user-status-force-change-password

Thanks for the help.

[2018-06-03 07:50] #953 closed

[2018-06-03 14:37] sanjosedennisns7593 opened #971 "Access denied in storage upload s3, when use social signin."
Hi,

I have a problem in s3 upload of aws-amplify, i'm always getting an access denied issue error, the problem only happen when i signin using my facebook/google account. I think the problem is about the role policy in the cognito, is there anyone out there solve similar issue like this? I did a lot of research about this one, still haven't find any solution.

[2018-06-03 16:17] mlabieniec commented on #891
@stranger9811 seems as though you may be using an older version linked to the cognito sdk...the crypto lib is a dependency of the amazon-cognito-identity-js, which had some issues back around v2.0.2/3...also, if you are not using the sdk directly, you don't need to include as a dep in your app since amplify will handle that...so if you `npm install --save aws-amplify`, you should get the latest an

[2018-06-03 16:59] #969 closed

[2018-06-03 17:00] sarchak commented on #969
Figured it out.

[2018-06-03 20:05] alexandprivate commented on #950
Any solution so far ?? I am using aws-amplify "aws-amplify": "^0.4.3" and "react": "^16.3.2"

[2018-06-03 20:10] alexandprivate commented on #238
I am getting Session: null when calling var user = await Auth.currentAuthenticatedUser(); that;s the reason for the error on currentCredentials() ... any ideas ?

[2018-06-03 22:39] cjsauer commented on #875
Does this mean creating one MobileHub project per environment? If so, are there methods for managing multiple projects using the `awsmobile` CLI tool?

Also, how does this work on the backend side of things?

[2018-06-04 00:11] andidev opened #972 "Authenticator onStateChange called with wrong state when signing out with Auth.signOut()"
Given
[code]

When signing out with `Auth.signOut()`

Then `handleAuthStateChange` is called with `state === 'signedIn'` instead of a state saying that the user is signed out.

[2018-06-04 01:51] buggy commented on #610
@bhao-speedline It's good to discuss this. Even if the problem is caused by Cognito User Pools there are a large number of people using Amplify who are going to suffer. It probably makes sense to add a feature that automatically lower cases certain fields inside Amplify before calling Cognito User Pools.

[2018-06-04 02:03] buggy commented on #949
@OlivierPT It's probably better to use Apollo's React components rather implement the same functionality inside Amplify. They've put a lot of though and effort into making a GraphQL client that's power and easy to use. The mobile appsync sdk provides a compatible client for Apollo that you integrate with Amplify to handle authentication and everything else.

[2018-06-04 03:17] michaelcuneo opened #973 "Feature Request: All script auto-generated by aws-amplify in ES6"
Do you want to request a feature or report a bug?

**Feature.**

What is the current behavior?

All JS pulled in from awsmobile to the project is in ES5 format.
Could it be changed to ES6? Why isn't it ES6 already?

[2018-06-04 08:50] hrmoller commented on #875
@cjsauer seems as it was added as a feature request on the `awsmobile` repo ~one month ago: https://github.com/aws/awsmobile-cli/issues/114

@mlabieniec `aws-export.js` is added to `.gitignore` when setting up a new project but are there any problems related to having the file added to git (or any other CVS)?

My use case: I want use different backends based on the environment my app is run in. Ad

[2018-06-04 09:10] quantranlinh-agilityio commented on #970
I got the same issue.
Any update?

[2018-06-04 09:19] stripathix opened #974 "Get session returns error : Access Token has expired"
Do you want to request a feature or report a bug?
Bug
What is the current behavior?
In some case on trying to get session aws Cognito return **Access Token has expired**. We have configured refresh token expiry days as 3650. So even if access token has expired we can refresh users Access token by using refresh token.

So to get refresh token I do cognitoUser.getSession() but this is returning resp

[2018-06-04 14:17] supun19 opened #975 "S3 upload Error"
when upload pdf to s3 i got this error what would be the course??

Storage: {
    bucket: 'bucketname', // REQUIRED -  Amazon S3 bucket
    region: 'us-west-2', // OPTIONAL -  Amazon service region
  }
`<?xml version="1.0" encoding="UTF-8"?>
<Error>
<Code>AuthorizationHeaderMalformed</Code>
<Message>The authorization header is malformed; the region 'us-east-1' is wrong; expecting 'us-west-2'</Mess

[2018-06-04 17:00] mlabieniec commented on #933
@halaharr were you able to test this out and find anymore information with the latest?

[2018-06-04 17:02] mlabieniec commented on #937
@umangm99 what is the error you are receiving? In order to accomplish this you would need to be sure your credentials (secret key/access key) have the appropriate permissions to perform this task in the appropriate IAM role/policy. Can you provide some more details i.e. debug log, and platform/browser, sdk version etc.

[2018-06-04 17:09] halaharr commented on #933
Hi,
     Thanks for looking into the issue. It was a issue on my side. The same app is used to login for two different types of customers. I change the AWS config depending on who is logging in. In one particular use case I forgot to change the config. I really appreciate you looking into it.

Thanks

[2018-06-04 17:09] #933 closed

[2018-06-04 18:23] creedmangrum commented on #960
i've gotten around this for now just by adding a bucket policy that makes all items public read.

[2018-06-04 18:43] powerful23 commented on #974
Can you describe those cases when you are not able to get the session? @yuntuowang any idea? I look through the code snippet which looks good to me.

[2018-06-04 18:53] stripathix commented on #974
@powerful23
**One case that I have noticed recently:**
When I use like some browser for ex:firefox and login into it. Now I leave it as logged in.

Now I use chrome to login again and keep using chrome for few days. Here I would do all kind of activities like refreshing my access token, logout, coginto sync etc.... No problem faced here.

Now If I return to firefox again after few days, throws thi

[2018-06-04 19:00] stripathix commented on #974
I mean why should getSession give me **Access Token Expired.** I just need refreshToken to refresh my access token. And as my refresh token does not expires in like 3650 days so it sounds right to get new access token easily.

 I think something not right with refresh token expiry days setting in aws cognito because few time I have also received:
`
{
code: NotAuthorizedException,
message: Invalid

[2018-06-04 20:30] andidev commented on #972
Closing this cause it's not a valid issue. Most probably my codes fault somehow.

[2018-06-04 20:30] #972 closed

[2018-06-04 20:44] fabiocbr75 opened #976 "Typescript compiler errors using AWS-Amplify in a custom app"
Hello,
I tried to convert my application from AppSyncSDK to Amplify but I have some compiler errors when I import it.
The errors are:

- node_modules/aws-amplify/lib/Cache/types/Cache.d.ts:38:15 - error TS2304: Cannot find name 'Storage'.
- node_modules/aws-amplify/lib/Cache/types/Cache.d.ts:39:13 - error TS2304: Cannot find name 'Cache'.
- node_modules/aws-amplify/lib/Common/RNComponents/index.d.

[2018-06-04 20:57] youngbob opened #977 "aws-amplify-react does not verify contact information after "challenged" login"
#### Do you want to request a feature or report a bug?

Bug.

#### What is the current behavior?

If the user signs in and there is no "challenge" (such as `NEW_PASSWORD_REQUIRED` or `SMS_MFA`), the `SignIn` component will then call `Auth.verifiedContact(user)`, which will optionally move the state to `verifyContact` and seems to have the side effect of setting `attributes` on the authData/user. I

[2018-06-04 20:59] vvusts commented on #334
What is status with progress? Is there any possibility to track it now?

[2018-06-04 21:10] OlivierPT commented on #949
Hi @buggy ,
Thank you for your answer. I agree with you that appsync-sdk and apollo-client seems to be the best solution for my needs with appsync/graphql.

[2018-06-04 21:59] guanzo opened #978 "Allow custom s3 endpoint"
This is a feature request.

I'd like to specify a custom endpoint that the S3 module will send requests to. This feature is available in the AWS SDK seen here: https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/Endpoint.html

There are many S3 clones out there, such as ceph, swift, minio, zenko etc. Most S3 client libraries allow you to specify an endpoint because they know these clones exist

[2018-06-04 22:03] grgaortiz commented on #192
@elorzafe @richardzcode - Should we open a new issue or is there a way to re-open this specific one? Either way, any thought on the details above?

[2018-06-04 22:18] powerful23 commented on #970
It is fixed in the latest patch.

[2018-06-04 22:18] #970 closed

[2018-06-05 00:12] j0b0sapi3n opened #979 "Hiding/renaming default fields for the SignIn form when using Authenticator"
**Do you want to request a feature or report a bug?**
Feature

**What is the current behavior?**
Right now, the Authenticator's provided SignIn form defaults to showing username, password, email, and phone number. However, my Cognito user pool only allows users to sign up with email and password, which seems like it'd be a common set up for a lot of apps. I _could_ write an entire new SignIn form

[2018-06-05 00:50] vipseixas commented on #238
@j0b0sapi3n There was a bug that prevented Auth.currentAuthenticatedUser() to fill the user credentias and that's why I used the Auth.currentCredentials() to force the credentials to be loaded inside the user object. I think that this is not the case anymore at newer versions.

[2018-06-05 01:02] michaelcuneo commented on #950
Auth.currentUserInfo() doesn't return any UserAttributes. It returns an ID, an email, and a name.

[2018-06-05 01:42] alexandprivate commented on #950
KK guys solution here... it works as expected on Amplify version 0.4.3, just update the amplify to the last version simply running the install again and you can safely use Auth.currentAuthenticatedUser()... I've been working with this for the last 2 days and it's working perfectly. Hope it's helps

[2018-06-05 02:05] bdeo commented on #891
I'm seeing this as well.
[code]

Code running on page load thats causing issue AFAIK
[code]

[2018-06-05 02:49] michaelcuneo opened #980 "Cache.getItem('federatedInfo') for .JWT Token"
Hey guys,

I've been trying to pull a .JWT token to supply some details to my Cognito User so it can be all linked from the Authenticator after login, set the username and picture of people from their respective Google/Facebook accounts. I was able to do this easy when I had a full custom login flow, but now I can't seem to get a valid Auth Token from Facebook. Whatever is stored in there now isn'

[2018-06-05 03:04] yellowred opened #981 "Cognito update_user_attributes hijacks verified phone_number from another account"
Hi,
I have a user pool with aliases enabled so `Alias attributes phone_number, email, preferred_username`. I expect the phone_number property to be unique across the user pool.

The problem is a user can update it's attribute `phone_number` (using `update_user_attributes`) it receives an SMS with confirmation code and can confirm his phone even though that phone is already confirmed in another acc

[2018-06-05 03:45] supun19 commented on #975
when I make a public s3 bucket upload is working. do I need to set permission in cogntio to access bucket?. I am using serverless framework

[2018-06-05 05:35] hrmoller commented on #969
Anything you wanna share?

[2018-06-05 10:16] fabiocbr75 commented on #976
I add a missing information. I want to use in a node application.

[2018-06-05 12:41] davidgatti commented on #943
Any day now ;)

[2018-06-05 14:00] Lasim commented on #546
Same here.

[2018-06-05 15:49] youngbob opened #982 "VerifyContact "skip" button sets authData to undefined"
#### Do you want to request a feature or report a bug?

Bug.

#### What is the current behavior?

If the user clicks the "Skip" link on the VerifyContact page, the state is changed to `signedIn`, but the user data is set to undefined. Or at least, undefined gets passed as the data to any `onStateChange` handler.

This is happening here: https://github.com/aws/aws-amplify/blob/master/packages/aws-a

[2018-06-05 16:29] sarchak commented on #969
I was missing the root object for the cloudfront domain.

[2018-06-05 17:52] hardchor commented on #828
@edzillion Did running this from a fresh install solve your problems?

[2018-06-05 18:46] powerful23 commented on #974
@stripathix will try to reproduce it.

[2018-06-05 19:05] dehuszar opened #984 "IncompleteSignatureException error response from GraphQL request"
Do you want to request a feature or report a bug? Bug

What is the current behavior?
In our other app utilizing `amazon-cognito-identity-js` I could send a request with the header `Authorization: Bearer token` and authenticate via our APIG's custom authorizer.  Using Amplify I get the error `IncompleteSignatureException` returned when making my request.

If the current behavior is a bug, please pr

[2018-06-05 19:53] vipseixas commented on #827
"noImplicitAny: false" does the trick but I agree with @hassankhan, this should be treated like a bug.

[2018-06-05 19:56] edzillion commented on #828
I never did run it again; had to attend to other things. You can close this and if I can recreate I will come back.

[2018-06-05 23:08] danielgeri opened #987 "Cognito: unable to login with email if user attempts to update email address"
Do you want to request a feature or report a bug?
reporting a bug

What is the current behavior?
Our cognito pools are set up so that users can log in with their email. We also utilize attribute verification so that once a user signs up, they will need to verify their email address. Where we get stuck is when a user needs to update their email address. We call `updateAttributes` and pass their ema

[2018-06-05 23:12] mlabieniec commented on #87
this is supported now via amplify api in React Native. You can use the [federatedSignIn](https://aws.github.io/aws-amplify/api/classes/authclass.html#federatedsignin) method to pass in your social provider credentials and receive Cognito tokens (be sure your provider is configured in Cognito Federated Identities)

[2018-06-05 23:12] #87 closed

[2018-06-05 23:20] mlabieniec commented on #222
You can also just rename aws-exports.js to aws-exports.ts and import './aws-exports';

[2018-06-05 23:22] #222 closed

[2018-06-05 23:26] mlabieniec commented on #311
You can now use [federatedSignIn](https://aws.github.io/aws-amplify/media/authentication_guide#enabling-federated-identities) on React Native via API and send in the token from any of the providers.

The PR you are referencing will provide actual react **native** components for google signin without needing to do yourself and pass the token.

[2018-06-05 23:26] #311 closed

[2018-06-06 02:37] stevemao opened #989 "Add the ability to cancel any API call"
Do you want to request a feature or report a bug?
feature
What is the current behavior?
an api call can't be canceled once made.

What is the expected behavior?
https://github.com/axios/axios#cancellation

[2018-06-06 04:32] yonisetiawan opened #990 "code: "UnknownError", message: "Unkown error" When Sign in Using AWS-AMPLIFY"
i have problem when i sign in using aws-amplify ?

[code]

i get error like this

`{code: "UnknownError", message: "Unkown error"}`

i already set "NO" on `Do you want to remember your user's devices?`

<img width="659" alt="screen shot 2018-06-06 at 11 22 04 am" src="https://user-images.githubusercontent.com/14344276/41022148-d7e85ef0-6992-11e8-98a3-4b5e12d1472f.png">
<img width="636" alt="screen

[2018-06-06 07:13] ianpogi5 opened #991 "Auto signin after successful signup"
After a successful signup with MFA, how do I automatically sign in the user? It would be annoying for the user and costly for developer to send another SMS for sign in.

I don't see in the docs how to do this. Is this possible with current amplify?

[2018-06-06 07:38] hrmoller commented on #964
Seeing this again

[2018-06-06 07:38] hrmoller commented on #964
@yuntuowang @mlabieniec so now it occurs again. Let me now if you need any pool IDs on anything

[2018-06-06 09:03] dmitryyankowski opened #992 "Need to be able to get JWT token and refresh accessToken server sided"
Wanted to get an issue open so that I can track the status of this issue :)

I have 2 things that I need to be able to do.. currently in my Next.JS application.

**1) Get the AWS Cognito user's JWT token via cookies like the following**
[code]

**Note**: Obviously this doesn't work because this is a client request.. There needs to be a solution that allows to do this same method.. but grabs the ac

[2018-06-06 13:22] npellegrin opened #993 "PubSub module: subscribing with wildcards"
Hello !

We are using the AWS IoT broker with Amplify, and we observed that PubSub module do not work when we try to subscribe with wilcard characters (as we can do in the AWS console). The two example below will "work" without error, but nothing will be received:

[code]

[code]

There is nothing in the documentation about it. Is it a limitation of the AWS IoT broker, the websocket transport prot

[2018-06-06 16:49] mlabieniec commented on #993
@npellegrin thanks for reporting this. Does your IoT policy have the correct permissions for subscribing via wildcard?
https://docs.aws.amazon.com/iot/latest/developerguide/pub-sub-policy.html

[2018-06-06 16:57] mlabieniec commented on #992
@lolcoolkat thanks for the excellent details and suggestions here to improve ssr. We will add this to the backlog. I'll update this with a milestone once we spec it out, and/or feel free to provide suggestion/pr

[2018-06-06 16:59] mlabieniec commented on #991
@ianpogi5 this will depend on if you have MFA setup for both signin/signup. Since if you have MFA on signin you obviously won't be able to accomplish this. If you don't have MFA on signin, then you can do it by storing the signin info in memory and just running Auth.signIn after the completion of comfirmSignUp.

[2018-06-06 17:04] mlabieniec commented on #990
@yuntuowang do you have any insight here on why this would be returning unknown error?

[2018-06-06 17:14] stripathix opened #994 "Unknown error on refreshing session"
Do you want to request a feature or report a bug?
Bug occured inside aws-cognit-identity.js

What is the current behavior?
cognitoUser.refreshSession() throws Unknown error.

`{code: UnknownError, message: Unkown error}
`

Below code caused UnknownError.
`cognitoUser.refreshSession(refreshToken, function (err, refreshedSession) {});`

Error occured inside aws-cognito-sdk.

Look at the message: "Un

[2018-06-06 18:03] swaminator commented on #930
Closing this issue as OP hasn't responded to where he saw the PWA text. Please re-open if you identify where this text appears.

[2018-06-06 18:03] #930 closed

[2018-06-06 18:50] #138 closed

[2018-06-06 18:53] #305 closed

[2018-06-06 19:00] powerful23 commented on #977
Hi I just include the fix in another pr which also fix other issues around `verifyContact` component.

[2018-06-06 19:03] richardzcode commented on #442
@michaelcuneo you may listen to event of `Authenticator`, something like this:

[code]

This example uses `Greetings` but idea is similar: https://github.com/richardzcode/Journal-AWS-Amplify-Tutorial/tree/master/step-02#5-home-page-aware-of-authstate

[2018-06-06 19:50] Cloud887 commented on #994
Reading around the Client.js it stating if an error is thrown from there it was likely a request failure. If it had been a TypeError it would likely be a network issue.  I think it is a request failure that is passing null or something as the error since no message is being created.

[2018-06-06 20:20] Magnusalt opened #995 "VerifyContact component sends "true" instead of "email""
Do you want to request a feature or report a bug?
-A bug

What is the current behavior?
-Whit the VerifyContact component rendered and clicking in the radio button to verify email this function is executed in the AuthPiece component:

`handleInputChange(evt) {`
`     this.inputs = this.inputs || {};`
`     const { name, value, type, checked } = evt.target;`
`     const check_type = ['radio', 'chec

[2018-06-06 20:22] Magnusalt commented on #995
Also: Breaking the application in the debugger and changing the value from "true" to "email" makes it work.

[2018-06-06 20:56] dehuszar commented on #984
Looks like the ApplicationId error is regarding the Pinpoint configuration.  The IncompleteSignature error appears to be the only indication of what's happening so far.

After discussing the issue with AWS support, it seems clear that the signing of the token is not in alignment with our application's configuration.

As I'm using a Lambda custom authorizer and trying to utilize the `withAuthentica

[2018-06-06 21:19] richardzcode commented on #995
PR #986 addresses this issue.

[2018-06-06 21:27] #977 closed

[2018-06-06 21:28] #982 closed

[2018-06-06 21:54] ianpogi5 commented on #991
Yes I do have MFA for both. Can I request this feature?

On Thu, Jun 7, 2018, 12:59 AM Michael Labieniec, <notifications@github.com>
wrote:

[2018-06-06 23:09] michaelcuneo commented on #442
@richardzcode I managed to do it in an entirely different manner. Instead of wrapping my components, the Authenticator is it's own entirely seperate path. So now I can run a Hub listener in there, run an onStateChange, and wrap all of that into it's own component, with listeners, sagas, reducers, and actions. Now it manages it's own state irrelevant of the rest of the app, but I can pull that stat

[2018-06-07 00:12] ldgarcia opened #996 "TypeError: undefined is not an object (evaluating 's.headers')"
_Do you want to request a feature or report a bug?_

Possible bug

_What is the current behavior?_

`TypeError: undefined is not an object (evaluating 's.headers')`
Please see: https://sentry.io/share/issue/bc98bb1121614f6baaf8d04e47b319f6/ for the stack trace.

_If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get

[2018-06-07 01:00] ianpogi5 commented on #991
I managed to figure out a workaround as per your suggestion. I made MFA optional on signin. On first signin, I enabled MFA. But still I think this should be a built in feature.

Note that my use case is make it password-less login for user and use MFA to authenticate.

[2018-06-07 03:41] buggy commented on #992
@lolcoolkat You might also want to reach out to Nader Dabit (Developer Advocate at AWS Mobile). He just posted [SSR GraphQL with Next.js & AWS AppSync](https://medium.com/open-graphql/ssr-graphql-apps-with-next-js-aws-appsync-eaf7fbeb1bde) on Medium.

[2018-06-07 05:48] yonisetiawan commented on #990
Done

How to solve 👍
disable optional value on CONFIG

like this

[code]

[2018-06-07 05:49] #990 closed

[2018-06-07 06:10] lolcoolkat commented on #992
@buggy Yep I was one of the first people to see the post hehe :D Unfortunately I can't really do much with it besides using an API key with AWS Appsync. Since your JWT functions aren't SSR compatible I can't use the ```Auth.currentSession()``` function :/ I'm building my application using Cognito User Pools so i'm kinda in a stand still atm :D

That is the purpose of this thread though :)

[2018-06-07 15:46] npellegrin commented on #993
Hi @mlabieniec thanks for the reply :)

I have temporary set an "open-world" policy for debugging on IoT policy and the federated IAM policy. Both were:
[code]

When I try to suscribe to a topic without special characters it works (messages are received):
[code]

I am not sure it is a permission problem, when I put a restrictive policy, and try to subscribe to a topic I am not authorized to, I hav

[2018-06-07 17:36] powerful23 commented on #980
@michaelcuneo Sorry to be late. Are you using the cognito hosted ui feature?

[2018-06-07 18:09] shufankang commented on #880
@jatindera There are some limitations if you choose to use AWS Mobile Hub Console to configure an API that was created by awsmobile-cli. Alternatively if you directly modify
`/my-app/awsmobilejs/backend/mobile-hub-project.yml`,
under `!com.amazonaws.mobilehub.v0.API` section -> `attributes`  ->
add `disable-aws-auth: true`
and make sure `requires-signin: false`. It will work for you. I will also s

[2018-06-07 19:42] #841 closed

[2018-06-07 19:43] #812 closed

[2018-06-07 20:58] dehuszar commented on #984
After digging around a little more, it looks like the IncompleteSignatureException error was due to my Authorization header using the "Bearer <token string>" pattern as I've done with the previous stand-alone aws-cognito-identity-js library.  This pattern _does_ work when using curl or Insomnia, but not with AWS-Amplify.  After removing that `Bearer ` prefix I'm seeing the following error in my DE

[2018-06-07 21:14] michaelcuneo commented on #980
I’m using <Authenticated/>

[2018-06-07 23:57] powerful23 commented on #980
@michaelcuneo so you are following this (doc)[https://aws.github.io/aws-amplify/media/authentication_guide#enabling-federated-identities]?

[2018-06-08 01:38] michaelcuneo commented on #980
I have ... but it is broken.
__WEBPACK_IMPORTED_MODULE_4_aws_amplify__.Cache.getItem(...).then is not a function

[2018-06-08 02:14] annjawn commented on #500
Why is `identityPoolId` mandatory? I don't get it. We don't need Federated identities in our app. This doesn't make any sense. Falling back to `amazon-cognito-identity-js` is the only option we are seeing as of right now.

[2018-06-08 02:28] spendres commented on #500
Also, you will see that the .configure data is auto updated within the
mobile hub environment. I was lost until I deployed an awsmobile hub react
app, then it all made sense.

On Thu, Jun 7, 2018 at 9:22 PM Steven Endres <spendres@gmail.com> wrote:

[2018-06-08 02:46] annjawn commented on #500
That sounds like a LOT of un-necessary work especially for an app that has no need of a Federated Identity pool.

[2018-06-08 04:32] michaelcuneo commented on #980
And when it does work... it's not a token that comes full of data, it's not a .JWT Token.

[2018-06-08 04:53] supun19 opened #997 "storage list"
cannot list the object in s3 bucket private level but can upload file to bucket.
this is error message

`<Error><Code>AccessDenied</Code><Message>Access Denied</Message><RequestId>B2074181219831D6</RequestId><HostId>mJR/44QoRcUm6ZE0gW4WfMj01tQbS2wXQ4+BzTCeQgDs7siv81OhfCpVpPfXoUAPNZtluk0PouA=</HostId></Error>`

can you add admin privileges it can be list all object in s3 bucket?

[2018-06-08 09:09] pjarts opened #998 "Example of using current authenticated user's credentials with aws-sdk clients"
Do you want to request a feature or report a bug?
Documentation improvement

Could you provide an example of how to keep the IAM credentials for aws-sdk clients in sync with the current authenticated user's credentials? I need to make admin requests to the user pool using the CognitoIdentityServiceProvider client from the 'aws-sdk' pacakge.

[2018-06-08 15:00] phoenecke commented on #311
I used `federatedSignIn` with a google token I got using https://github.com/react-native-community/react-native-google-signin.  But, if I ever call `Auth.currentUserCredentials()` I will get the error: `"refreshing federation token failed: no gapi auth2 available"`.  The code in Amplify trying to refresh is expecting a `window.gapi` object.

My understanding is that, before each API call, the AWS

[2018-06-08 15:43] markmckim commented on #895
PR #752 did indeed fix the issue. App is building without issue when using the latest AWS Amplify package.

[2018-06-08 15:43] #895 closed

[2018-06-08 16:05] cdinu commented on #984
@dehuszar i don't know if this helps, but I've just managed to solve a very similar issue by changing the settings of my [AppSync API](https://eu-west-1.console.aws.amazon.com/appsync/home) (use your region) -> \<My API\> -> Settings -> Authorization type -> Amazon Cognito User Pool.

[2018-06-08 16:42] dnutels commented on #122
Looking forward to it @mlabieniec

[2018-06-08 18:10] #962 closed

[2018-06-08 19:19] spendres commented on #500
I need all the other backend services that mobile hub offers, but was architecting it all myself with instances and containers. So using identity pools simplifies my life. But you are still not required to use an identity pool if you only need a user pool.

If you are getting a “no user pool” error then you need to update your libraries.

Sent from my iPhone

[2018-06-08 20:59] richardzcode commented on #673
`imgKey` means one thing, the identifier for the existing image.

When rendering a S3Image, there are two cases: 1) already have an image; 2) do not have an image.

In the second case, there is no `imgKey`. by specifying `path` you indicate where the new image should be put. And then `imgKey` is calculated during put.

So basically if you know exactly the uri of the image (existing image or predef

[2018-06-08 20:59] #673 closed

[2018-06-08 21:04] richardzcode commented on #828
This was caused by using localStorage in node env. Should be fixed already.

[2018-06-08 21:04] #828 closed

[2018-06-08 22:49] #369 closed

[2018-06-09 18:05] oderza commented on #950
Sweet, thanks! I was struggling with updating custom attributes yesterday. I kept getting:
`NotAuthorizedException A client attempted to write unauthorized attribute`
After updating from 0.4.3 to 0.4.4 it works great. For anyone trying to use custom attributes make sure to prefix with 'custom:'
`Auth.updateUserAttributes(user, {"custom:foo":"bar"})`

It would be good to update this page to mention

[2018-06-09 21:01] reggie3 opened #1002 "Auth.currentAuthenticatedUser() Not Returning or Throwing a Catchable Error"
**Do you want to request a feature or report a bug?**
bug

**What is the current behavior?**
Auth.currentAuthenticatedUser() does not resolve nor does it throw a catchable error.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other

[2018-06-09 21:13] annjawn commented on #301
@jimmone could you please share which lib you installed for this and how you used it? I am trying to figure this one out but the documentations aren't very helpful :(

[2018-06-10 03:08] johneast opened #1003 "Ionic 3 production builds not working after installing amplify"
Do you want to request a feature or report a bug?
A bug

What is the current behavior?
After building the app with the `ionic build --prod` command and deploying to S3 for hosting, the following error is found in the browser console

[code]

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if

[2018-06-10 19:05] michaelmerrill commented on #992
I'm stuck on this issue as well. I'm using next.js and want to access` Auth.currentSession()` in `getInitialProps()` so that I can determine if the user should be redirected to another page if not logged in. Any help on this would be great!

[2018-06-10 19:58] shaunc opened #1004 "vue starter -- typescript support?"
Do you want to request a feature or report a bug?

Feature request:

What is the current behavior?

No typescript support

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than AWS Amplify.

What is the expected behavior?

Vue supp

[2018-06-11 00:52] andidev commented on #639
@richardzcode
Looks like the JWT idToken does not get updated until it gets refreshed (I guess). Is there a way to manually trigger a JWT idToken refresh? This bug practically makes the idToken useless unless there is a way to refresh it after calling `Auth.updateUserAttributes`.

[2018-06-11 08:59] SeunghunSunmoonLee opened #1005 "Does this work in china?"
sorry quick question.
Does this work in china?

Do you want to request a feature or report a bug?

What is the current behavior?

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than AWS Amplify.

What is the expected behavior?

W

[2018-06-11 10:34] stripathix commented on #498
Hi @yuntuowang,  any update on this? We are still getting lots of error logs related to invalid refresh token.

[2018-06-11 13:21] HeiligesLicht commented on #1005
I'm also interested in this question.

[2018-06-11 13:21] lolcoolkat commented on #992
Yeah hopefully it will be worked on soon @michaelmerrill :D I'm really looking forward to SSR support!

[2018-06-11 13:55] #906 closed

[2018-06-11 14:01] dehuszar commented on #984
So, the tricky part here is that we have an API (via Serverless deployment, not AWS-MobileHub) that already works using the Bearer token string as it's Authorization header.  This new application using the Amplify library is the only client that can't connect.

I'm a little reticent to just flip switches before I understand what has changed between the deprecated aws-cognito-identity-js library an

[2018-06-11 14:15] ArmorDarks opened #1006 "Handling authentication offline"
**Do you want to request a feature or report a bug?**

Request a feature

**What is the current behavior?**

When `Auth.currentSession()` is used and the client is offline, an error will be thrown and there won't be possible to retrieve user's session, alongside with his data.

**What is the expected behavior?**

Should be a way to get current user session, if the user has been authenticated recen

[2018-06-11 15:07] shaunc opened #1007 "vue example -- error in sign-in"
Do you want to request a feature or report a bug?

What is the current behavior?

Using canned example from ws-samples/aws-amplify-vue,

After signing in, I get the error:
[code]
If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other tha

[2018-06-11 16:32] paunovic commented on #869
Any updates on this issue? We would like to allow our users to use whitespaces in their passwords.

[2018-06-11 17:19] powerful23 commented on #944
Feel free to reopen it if necessary.

[2018-06-11 17:19] #944 closed

[2018-06-11 18:01] powerful23 commented on #941
@chrisbnyc do you still have this problem?

[2018-06-11 18:30] elorzafe commented on #399
@kanteankit Your should get an Authorization token from your auth provider. Once you get that token you can do this.
[code]

[2018-06-11 19:13] elorzafe commented on #685
@andidev I think what you are doing is correct, let me confirm with a teammate to be 100% sure

[2018-06-11 20:27] dehuszar commented on #984
I figured out the issue.  APIG just returns misleading error messages.

I have the create-react-app proxy configuration in place.  The what the proxy sends out is not console'd anywhere, so I did not see that the proxy configuration was appending a path segment to the target endpoint.  This was creating the 403.  The fact that AWS doesn't just say that endpoint doesn't exist is what threw me off.

[2018-06-11 22:05] powerful23 commented on #994
#1008

[2018-06-11 22:14] powerful23 commented on #927
@supun19 you can get the user attributes by `Auth.currentUserInfo()` and there will be two attributes: `phone_verified` and `email_verified`

[2018-06-11 22:53] CarlosV89 opened #1009 "Auth issues"
Do you want to request a feature or report a bug?

What is the current behavior?
Im getting a JWT with AWS Amplify,  trying to verify said JWT but the `kid` in the header is not in my public list; `'https://cognito-idp.' + region + '.amazonaws.com/' + userpool_id + '/.well-known/jwks.json';`

What is the expected behavior?
`kid` should be among the jwks?

[2018-06-11 23:34] anstosa opened #1010 "Uncaught TypeError via Buffer on import of aws-amplify"
Do you want to request a feature or report a bug?

Bug

What is the current behavior?

I have a react/webpack/babel project where I'm trying to import aws-amplify. It's the first import in the entry file. It builds fine, but when run, it fails on the import line itself with a stack that ends up in buffer:

[code]

What is the expected behavior?

Don't fail on import or provide more useful error. I

[2018-06-12 00:49] michaelcuneo opened #1011 ".JWT return from Cache.getItem('federatedInfo') isn't a proper token."
When I log people in, I'm using session.idToken.jwtToken to get a token for the Cognito user information, which works fine...

When I log federated users in, I'm using the result from Cache.getItem, to get a token for the Federated Info...

Google will return me a valid .JWT token full of user information, name, picture, email, etc.

Facebook returns me some kind of Token that isn't a valid .JWT

[2018-06-12 01:53] eranation commented on #889
Happened to me, retrying solved it as well

[2018-06-12 02:51] shridharns commented on #498
@stripathix The refresh_token is bound to the app client that generated it. Only that app client can be used to generate a new access/id token using that refresh token. This is the same use-case even we have, so tested this. Additionally, found this SOF link as well: https://stackoverflow.com/a/43195252/2994423

[2018-06-12 05:57] stripathix commented on #498
@shridharns We have two platforms web/Cordova.
Web uses client XXX
Cordova mobile app uses client YYY

Even if refresh token is tied to the app client that generated it, why would I get Invalid refresh Token, because website will always use XXX app client and Cordova will always use YYY app client to generate refresh token?

I am not using same refresh token for different app clients.

When authen

[2018-06-12 06:32] BenjaminWatts commented on #171
Hey = I am stuck with these issues on Android with an ejected project too, have tried adding the `compile project(':amazon-cognito-identity-js')` and linking using `react-native link amazon-cognito-identity-js`. No issues on ios. Also, I am importing the Auth module using `import Amplify, {Auth} from 'aws-amplify';`. Have been completely stuck on this for hours now though, does anyone know if cogn

[2018-06-12 07:14] BenjaminWatts commented on #563
hey - what was the resolution for this issue.  I am getting the same problem in android only (works fine in ios)

[2018-06-12 07:19] BenjaminWatts commented on #65
Hey - i am having the same problem in Android. Getting the ` #171
TypeError: Cannot read property 'computeModPow' of undefined` error, though it seems to work fine on ios.

Is there a fix for this bug?

[2018-06-12 08:25] amant opened #1012 "Signing-out throws 'Warning: Can't call setState(or forceUpdate) on...'"
New to aws-amplify-react-native library. When I sign-out I get this warning.

[code]

![android emulator - nexus_5x_api_25_5554](https://user-images.githubusercontent.com/661338/41278552-61782e0c-6e2a-11e8-8f0a-014f05c80bca.png)

Here is a simple code that I used. Am I doing something wrong?

[code]

[2018-06-12 08:50] stripathix commented on #974
Hi @powerful23, any update on this?

[2018-06-12 09:36] rzubrycki commented on #707
Any fix for this error?

[2018-06-12 10:07] ipuris commented on #522
Oh, thank you!
I'll wait for the fixed version to be launched. 😄

[2018-06-12 12:36] slvlntsv opened #1013 "Way to change user password as an admin using developer credentials (Cognito)"
Hi,
There is already similar thread in old "amazon-cognito-identity-js" reposiory, but since it's in read-only state, and I couldn't write, I decided to open another one here.

Currently there is no way to set user's password as Admin, on behalf of user.
Something similar to AdminResetUserPassword, that I can run from back-end.
It's been mentioned in old thread 1/2 year ago that this feature is in

[2018-06-12 14:17] mlabieniec commented on #65
@jatazoulja @BenjaminWatts see [here](https://aws.github.io/aws-amplify/media/quick_start#install-aws-amplify) (click on react native)

[2018-06-12 14:21] anishsam commented on #707
I came across this error today, and after some investigation, found that the issue was happening because I recently enabled 'organize imports' in my VS Code, and it was changing the order of imports, putting below imports before environment:
import * as STS from "aws-sdk/clients/sts";
import * as AWS from "aws-sdk/global";

this caused 'Unkown Error" issue for me. I disabled organize imports and i

[2018-06-12 15:57] alishah-edgy opened #1014 "changePassword is calling callback twice on success."
[code]
Change password calls this result function twice. if correct values are provided
first time will be
err => null
result => SUCCESS
Second time will be
err => Object {code: "UnknownError", message: "Unkown error"}
result => null
If incorrect values are provided it only gets called once.

[2018-06-12 17:09] powerful23 commented on #974
@stripathix I am trying to reproduce it like what you did, but for now it looks working for me.

[2018-06-12 18:56] powerful23 commented on #998
@pjarts you can use `Auth.currentCredentials()` to get the credentials and use it to initialized the `CognitoIdentityServiceProvider`

[2018-06-12 19:03] powerful23 commented on #1011
@michaelcuneo sorry about that but for now there is some confusing part about the federate user sign in. We are working to provide a uniformed way to retrieve the jwt token. Can you tell me which way you are signing the federated users in? Using `Cognito hosted UI` or `Auth.federatedSignIn`? Or any component from `aws-amplify-react`?

[2018-06-12 19:03] powerful23 commented on #1011
Related to #980

[2018-06-12 19:09] powerful23 commented on #1009
@CarlosV89 can you provide more info on this issue like how did you verify and what's the `kid` in the headers?

[2018-06-12 19:23] powerful23 commented on #1002
@reggie3 can you open the debug mode to check what happened when that function was called?

[2018-06-12 19:24] #618 closed

[2018-06-12 20:13] Jun711 opened #1015 "Linked logins disabled on Federated Identities"
Do you want to request a feature or report a bug?
Bug?

What is the current behavior?
Unauthenticated users are not linked properly to the cognito User Pool and resulting in Linked logins DISABLED status for those identities on Federated Identities console.
Thus, some unauthenticated users gets 403 requests upon landing on our web page. This happens intermittently.

If the current behavior is a bu

[2018-06-12 20:20] SamVerschueren opened #1016 "PubSub connection does not reconnect after connection lost"
**Do you want to request a feature or report a bug?**
bug

**What is the current behavior?**
We use `PubSub` to connect to a GraphQL topic. When our device goes offline, the websocket gets closed and it does nothing to try to reconnect.

**What is the expected behavior?**
I would expect the socket connection to try to recover after the device goes back online. This is also what Firebase does, it k

[2018-06-12 20:28] elorzafe commented on #1016
Hi @SamVerschueren. Thanks for your feedback!

I would say that is more a Feature request than a bug. There are some use cases, for example if you get disconnected maybe you want to do something else like re-subscribe and get all the information that you may lost when you were offline. In that case re-subscribing only is not the solution, maybe we can add to the PubSub provider a callback in case

[2018-06-12 21:43] #874 closed

[2018-06-12 21:57] elorzafe commented on #932
Hi @yuntuowang any updates on this?

[2018-06-12 21:58] elorzafe commented on #497
Hi @yuntuowang what do you think?

[2018-06-12 23:13] powerful23 commented on #382
@mrowles can you check [this](https://github.com/aws/aws-amplify/blob/master/packages/aws-amplify/src/Auth/Auth.ts#L325) and [this](https://github.com/aws/aws-amplify/blob/master/packages/aws-amplify-react/src/Auth/SignIn.jsx#L57) which handles the MFA verification process in React?

[2018-06-13 00:20] michaelcuneo commented on #1011
Slightly different to #980 It is indeed the same purpose, but using different methods. I'm using the aws-amplify-react's Authenticator HOC.

[2018-06-13 01:42] michaelcuneo opened #1018 "Small issue in your documentation with the Jekyll Page Generator."
BUG

Small issue in your documentation with the Jekyll Page Generator.

AWS Amplify Authentication module exposes set of APIs to be used in any JavaScript framework. Please check [AWS Amplify API Reference]({%if jekyll.environment == 'production'%}{{site.amplify.baseurl}}{%endif%}/api/classes/authclass.html) for full API list.

[2018-06-13 03:50] SamVerschueren commented on #1016
I was fiddling around with this myself and was sending the disconnect error to the Observable instead of just logging. Then I did something like this

[code]

I've wrapped the ZenObservable in a RxJS Observable so that I have more operators (also, it's an Angular app). Whenever an error occurs, it will retry the subscription 5 seconds later. This didn't work for some reason. Maybe you guys have a

[2018-06-13 07:09] jsyrjala opened #1019 "Enter doesn't submit signIn form while the focus is in password field"
Do you want to request a feature or report a bug?

Hitting enter key from the keyboard should submit the signIn

What is the current behavior?

1.  Go to signIn form
2. Write correct username
3. Switch to password field
4. Write correct password
5. While the focus is in password field, hit enter key
6. Nothing happens

What is the expected behavior?

Common functionality in signIn forms would be t

[2018-06-13 07:52] SamVerschueren commented on #1016
Also, I changed [this block](https://github.com/aws/aws-amplify/blob/master/packages/aws-amplify/src/PubSub/Providers/MqttOverWSProvider.ts#L151-L152) to the following

[code]

The reason I used the `try-catch` is because `client.subscribe(topic);` throws if the client is in a disconnected state.

[2018-06-13 07:59] mrowles commented on #382
@powerful23 Thanks for the response.

Amplify didn't really exist/wasn't publicised when I started building, so I've built it all "using `amazon-cognito-identity-js@2.0.1`" - as it was still in it's own repository + was supported.

So let's say I have to rebuild and fix my React Native mobile app using this code, pain in the butt but fine - this still does **not** remove the fact that you only hav

[2018-06-13 08:38] jsyrjala opened #1020 "aws-amplify-react to support for out of band registrations"
Do you want to request a feature or report a bug?

Feature request

What is the current behavior?

I have an use case where creating a new account creation is not allowed via the login form. Instead the accounts are created by administrators to Cognito.

However, the https://github.com/aws/aws-amplify/blob/master/packages/aws-amplify-react/src/Auth/SignIn.jsx shows always the `Sign Up` link. Click

[2018-06-13 08:41] tobiastornros opened #1021 "Cognito: Support 2 step login process"
Do you want to request a feature or report a bug?
Feature

What is the current behavior?

When we authenticate users we need to provide both username and password via the hosted UI or SDK to see if username/email/phonenumber is used or not.

What is the expected behavior?

Split username and password inputs to two separate operations.
Google, Apple and other services are moving to two step login p

[2018-06-13 10:34] imewish opened #1022 "Get user info created by social login(federarted provider) in user pool"
Hello,

How do i get user info of a user, generated by social login. For example ,

for a user, signed in by
[code]
method, you can  get the user info from the pool by,

`Auth.currentAuthenticatedUser()` once he signed in.

I have another set of users geneterated by federated login which is connected to the user pool.

by this method,

`https://<your_user_pool_domain>/login?response_type=code&clie

[2018-06-13 11:37] davidgatti commented on #943
Got it.

[2018-06-13 11:37] #943 closed

[2018-06-13 12:56] SamVerschueren commented on #1016
By the way, if you can point my in a specific direction on how you think the resubscription could/should work, please feel free and I will do a PR.

[2018-06-13 13:54] CarlosV89 commented on #1009
I've fixed it but I'll document what was happening; When I authenticated using the react app, I used the network tab to grab the tokens, the browser was not displaying the whole jwt strings and the result, was an actual jwt that was malformed, I grabbed the response JWT and decoded it to get the idToken/accessToken/refreshToken trio, which then I tried validating and it worked since it now had the

[2018-06-13 13:54] #1009 closed

[2018-06-13 15:47] mlabieniec commented on #1005
Amplify will use the aws-exports.js file or your [manual configuration](https://aws.github.io/aws-amplify/media/quick_start#manual-setup-to-work-with-existing-aws-resources) to communicate with your AWS resources. Amplify doesn't care what region it's in, you just need to make sure your configuration is correct and pointing at the resources in the correct region, AND that the services you are poin

[2018-06-13 16:56] powerful23 commented on #1011
@michaelcuneo can you paste some code snippet about how you are using the Authenticator HOC?

[2018-06-13 17:06] powerful23 commented on #1022
You need to go to Cognito User Pool console -> Federation -> Attributes mapping to map user attributes from Google to your Cognito User Pool

[2018-06-13 17:30] #409 closed

[2018-06-13 17:30] #449 closed

[2018-06-13 17:30] #679 closed

[2018-06-13 22:42] paolavness commented on #839
Hi there, I'm placing this here rather than starting a new thread as its related.

I'd like to upgrade/update our underlying packages to work entirely off Amplify. Right now, we're using the amazon-cognito-identity-js stand alone library - legacy from before Amply Auth existed - and want to integrate new Amplify goodies. Rather than running the scenario of maintaining two packages, I like to creat

[2018-06-13 23:27] michaelcuneo commented on #1011
The Authenticator HOC is inside it's own component, and it's being shown or not based on loggedIn() ? results in my react-router switch. All of this is irrelevant as to why aws amplify is storing and returning an 'authToken instead of a .JWT' from the cache, but here's my code anyway.

AuthLogin container.
https://pastebin.com/Q8vikADi

App Container.
https://pastebin.com/UGQ6UcWi

Inside the SAGA

[2018-06-13 23:48] michaelcuneo commented on #1011
I can get a .JWT from my Cognito User Pool users, and my Google users, which can be used to grab their name, email, photos, etc... but not Facebook. The code doesn't appear to be the problem, it's the cache, or storage, storing something that isn't a .JWT for Facebook logins. I don't know what it is though... I've tried modifying the project end on Facebook, but still no .JWT's for FB.

If I was a

[2018-06-14 02:20] phoenecke commented on #1012
Adding:
[code]
to Authenticator.js and guarding the `setState` call fixes it.. but I don't know if that is the right fix...

[2018-06-14 03:57] bightg30098 opened #1025 "PubSub: How do I know data from which topic"
Do you want to request a feature or report a bug?

Feature

What is the current behavior?

PubSub.subscribe(['myTopic1','myTopic2']).subscribe(myHandler);
In callback I can get value and provider object.
But how do i know data from which topic ?

[2018-06-14 04:41] imewish commented on #1022
@powerful23 Sorry if my question was not clear.  I have already done the mapping and i can see the details of the user in the GUI. My question is how to get the user info of those (Google users in the pool) programmatically.

For the users generated by amplify SDK i could get their details by `Auth.currentAuthenticatedUser()` method once he signed in.

I'm stuck on to get the details of Google use

[2018-06-14 07:13] kasperbe commented on #497
@elorzafe Sorry, I didn't actually comment back on this issue, but I fixed this, as this was somehow an issue with my user pool. I deleted it and recreated it, and it worked. It had something to do with validation of properties in the pool. I removed all validation and all was good

[2018-06-14 07:30] fangleen commented on #375
I have the same issue

[2018-06-14 08:06] Leandros opened #1026 "Update/Delete/Add UserAttributes to *unauthenticated* Cognito user on server"
I'm doing Cognito authentication, using amazon-cognito-identity-js on the server.
The current flow is to create and login the user on the server, and send the jwt we're getting from Cognito to the user.
This means we can't keep the authenticated `CognitoUser` around. How do I update a users attribute, based on just their email address on the server?

[2018-06-14 08:34] jliebrand commented on #488
Hey guys, any update on this?

I still only need Auth and API, but just checking the latest version I'm using (0.4.4) and it's pulling in a whopping 792kb!

![image](https://user-images.githubusercontent.com/23407884/41400835-19e25f4e-6fb6-11e8-8c59-3828320b4061.png)

[2018-06-14 09:46] buggy opened #1028 "Typescript support for aws-amplify-react"
Do you want to request a feature or report a bug?

Feature

What is the current behavior?

The aws-amplify-react package is written in Javascript instead of TypeScript which is used by aws-amplify and aws-amplify-angular. This prevents the TypeScript definitions from being automatically generated (see #305).

What I'm proposing is to convert the code base from Javascript to TypeScript so the defin

[2018-06-14 09:50] robmoorman opened #1029 "ReactNative JWT and User data not encrypted (via ASyncStorage)"
Hi,

We noticed that JWT- and user data is stored via ASyncStrorage on the device. With this implementation we conclude that the credentials are not secure (e.g. in comparison to storing a JWT token in the Keychain on iOS).

You have situations were phones get stolen or and/or backups are in hands of others. In that case, the data is not encrypted and could be retrieved.

Could you please elaborat

[2018-06-14 11:12] thevishnup commented on #388
We are using amplify version 0.4.4 and still seeing the same.

[2018-06-14 13:43] josoroma opened #1030 "Is it possible to use AWS Amplify with a testing framework like Jasmine?"
I am quite happy using React and AWS Amplify on a personal project, it works like a charm against the Cognito Authentication.

Buuuut I was wondering... Is it possible to use AWS Amplify to test Cognito endpoints or at least the login with a testing framework like Jasmine?

Thanks in advance.

[2018-06-14 13:47] amant commented on #1012
If I use <Authenticator /> component directly and signout, I don't get this warning. For me then, it seems like issue is with how the withAuthenticator() is implemented.

I have been trying to follow the callstack, and for life of me I can't understand why Authenticator.js's checkUser() method in this part Auth.currentAuthenticatedUser()....catch(...) triggers this warning.

[2018-06-14 16:34] powerful23 commented on #388
@thevishnup can you give more details?

[2018-06-14 16:38] elorzafe commented on #1030
@josoroma AWS Amplify uses jest for unit testing. For integration test you can use something like [cypress](https://www.cypress.io/)

[2018-06-14 16:45] powerful23 commented on #1022
Can you try:
[code]

[2018-06-14 16:55] MynockSpit commented on #493
Was this pushed? Seems like this is still happening. It shows a warn like this four times, then hangs. The debug reveals that 'AWSPinpointProvider' is trying to connect, but (since I didn't configure it) it fails. Could be a red herring.

[code]

Should I create a new issue for this?

[2018-06-14 17:09] powerful23 commented on #1026
@Leandros for now we don't have the method to update attributes without `CognitoUser` but you can do it by sending a request to Cognito service with the jwt token manually according to [this](https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_UpdateUserAttributes.html) and [this](https://github.com/aws/aws-amplify/blob/master/packages/amazon-cognito-identity-js/src/Cog

[2018-06-14 17:34] wzup opened #1031 "Is it possible to customize default Sign Up, Sign In screens of aws-amplify-react-native package?"
### Do you want to request a feature or report a bug?

Issue

### What is the current behavior?

Default login/sign up screen

### What is the expected behavior?

Customized login/sign up screen

### Question

In order to have default auth screen, I can merely do this (https://github.com/aws-samples/aws-mobile-react-native-starter):

[code]

And I get pretty ugly default out-of-the-box login scree

[2018-06-14 17:45] powerful23 commented on #1011
First I want to make it clear is that there are two different ways for users to "sign in" with federated users:
1. via [Cognito Hosted UI](https://aws.github.io/aws-amplify/media/authentication_guide#using-amazon-cognito-hosted-ui): By this way you are actually mapping those federated users into your Congito Pool as `external` users and you can use `Auth.currentSession()` to get the current sessio

[2018-06-14 18:05] supermock commented on #1002
I'm having problem with the **Auth.currentAuthenticatedUser()** method, there are times I call it, and Promise does not return either **then()** or **catch()**.

I activated the debug mode `Amplify.Logger.LOG_LEVEL = 'DEBUG';` below are the AuthClass outputs.

Thank you in advance, I await a return

[2018-06-14 21:43] josoroma commented on #1030
@elorzafe I will take a look, thanks a bunch. Will be great to find some sample codes ;)

[2018-06-14 21:46] dnalbach commented on #399
@elorzafe Auth does not have a 'federate' method? I checked the source code for Auth in Amplify. There is only a federatedSignIn method, which @kanteankit has already done. Can you elaborate?

[2018-06-14 23:50] buggy commented on #1028
@powerful23 I think you're the code owner for aws-amplify-react. I'm happy to work on the PR's but I realize you might have other plans so I want to check first.

[2018-06-15 01:10] michaelcuneo commented on #1011
Just to test this out properly, I've reproduced it in an App that I set up from scratch just now.

Here are my methods to reproduce.

npx create-react-app test-app
cd test-app
npm install aws-amplify
npm install aws-amplify-react
npm run start

opened the project and replaced the App.js with the following code.
(Important info replaced with xxxxx's for this post)

[code]

The aws-exports.js is set

[2018-06-15 10:52] vithmel opened #1032 "Questions about Cognito"
Do you want to request a feature or report a bug?
I do not know whether this is a bug or not.
What is the current behavior?

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than AWS Amplify.

In my React application, I use registr

[2018-06-15 13:36] pjarts opened #1033 "Sign in with USER_PASSWORD_AUTH flow"
Feature request.

We want to migrate users using the "Migrate Users" trigger in our Cognito user pool, but in order for the triggered lambda to be able to verify the user password against our current user directory we need AWS Amplify to sign in the user with the `USER_PASSWORD_AUTH` flow, according to the documentation [here](https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-

[2018-06-15 14:05] buggy commented on #1032
If you've setup your Cognito User Pool for users to sign in with usernames and optional email addresses then email addresses are not unique to one user. While multiple users can have the same email address it will be an alias for just one of those accounts. The other accounts need to login with their username.

If you want email addresses to be unique then you need to configure the Cognito User Po

[2018-06-15 14:20] vithmel commented on #1032
My Cognito User pool configuration:
![cognitosettings](https://user-images.githubusercontent.com/15888026/41472802-2ccb6fbe-70c0-11e8-9591-876d597375f6.png)

[2018-06-15 14:34] vahdet opened #1034 "Reading AWS Cognito User Pool attributes of another user"
**[Feature Request]**

**Current behavior**
For authentication `Auth.currentAuthenticatedUser()` fits well with an AWS Cognito User Pool attached. to a MobileHub project. However, in Cognito User Pool, there are also [attributes](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-settings-attributes.html) for managing user profile e.g. `profile`, `picture`. If a user visits his/he

[2018-06-15 14:42] vithmel commented on #1032
In addition, I have a Post confirmation trigger - Lambda function. When it fires the user's data are recorded in DynamoDB. So after login using Google, the data was added to DynamoDB, it turns out Cognito decided that a new user was registered. But at the same time when I upload the file on s3 everything works correctly - the user logged in using Google, uploads files into the same folder as the u

[2018-06-15 17:00] powerful23 commented on #1032
@vithmel The Cognito Hosted UI feature will allow federated users to sign in and creates an external in your user pool so in that case you are actually allowing a user account from Google to map itself into your user pool which has nothing to do with the one registered by Cognito.

[2018-06-15 17:03] powerful23 commented on #1028
@buggy thanks but can we just add a `index.d.ts` file under that package instead of changing those js files like what `amazon-cognito-identity-js` does?

[2018-06-15 17:08] #1022 closed

[2018-06-15 17:21] powerful23 commented on #1031
I think you can either implement your own UI component or pass a theme object. Can you check this [doc](https://aws.github.io/aws-amplify/media/authentication_guide#create-your-own-ui)?

[2018-06-15 17:44] powerful23 commented on #1011
@michaelcuneo yeah you are right. Facebook returns an `access token` rather then a `.JWT token`. Seems like you need to `fb.api('/me', response)` to get those user attributes.

[2018-06-15 17:48] ossareh commented on #1031
@wzup the customization options within the react native packages are sort of limited. You start by extending the classes that you're interested in, for example you can have

[code]
[SignIn Class](https://github.com/aws/aws-amplify/blob/master/packages/aws-amplify-react-native/src/Auth/SignIn.js)

When you're ready to trigger a SignIn you just call `this.signIn()` and you'll call the super's method

[2018-06-15 17:53] Jun711 commented on #1015
I wonder under what situations an identity browser will be disabled.
1) Amplify doesn't seem to have any function to disable / enable it. Not even on Federated identities console. So, I don't think we have accidentally disabled it.

2) is there a way to re-enable it?

[2018-06-15 18:04] arpit2438735 opened #1035 "Nativescript aws amplify"
**[Feature Request]**
Support for nativescript

Currently we don't have nativescript support for aws-amplify.Do you guys any plans/milestone to support for nativescript or shall I contribute and create from scratch?

[2018-06-15 18:04] arpit2438735 opened #9760 "Nativescript aws amplify"
**[Feature Request]**
Support for nativescript

Currently we don't have nativescript support for aws-amplify.Do you guys any plans/milestone to support for nativescript or shall I contribute and create from scratch?

[2018-06-15 18:18] ossareh commented on #1031
@wzup You can, it's not too hard. As @powerful23 says you need to follow the steps in the doc.

`aws-amplify-react-native` provides a set of base classes that you can extend. https://github.com/aws/aws-amplify/tree/master/packages/aws-amplify-react-native/src/Auth

So if you want to create a Sign Up component you have it extend `SignUp` and provide your `render()` method. The good thing about this

[2018-06-15 20:22] Jasminou opened #1039 "Invalid CORS request using put : API Gateway"
Do you want to request a feature or report a bug?
ask question
What is the current behavior?
I'm trying to reach the API gateway(on localhost) to be able to update an item in my DB table, but I keep receiving this: (the get method work fine), can you please give me some help to understand what is happening.thx

![image](https://user-images.githubusercontent.com/14798195/41487756-d4f6cae8-70b7-11e8

[2018-06-15 23:44] praveshkhatana commented on #1035
+1

[2018-06-15 23:49] praveshkhatana commented on #754
@manueliglesias how to fix it

[2018-06-16 06:43] buggy commented on #1028
@powerful23 It's possible to write and maintain definitions independent of the code base but in my experience the definition files fall behind pretty quickly and never catch up. While converting the code base sounds daunting most of the work is in changing the build tools because TypeScript is a superset of Javascript so once that tools have been changed the rest is virtually just renaming file ex

[2018-06-16 14:29] ramamoob opened #1043 "setupTOTP issue"
Do you want to request a feature or report a bug?
bug

What is the current behavior?
I upgraded AWS Amplify from 0.3.3 to 0.3.4. Trying to setupTOTP results in error e.associateSoftwareToken() is a not a function in Auth.js on line number 541. I am not encountering this issue with 0.3.3.

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the

[2018-06-17 07:45] jsyrjala opened #1044 "Disable autocomplete from ForgotPassword.jsx"
Do you want to request a feature or report a bug?

Bug.

What is the current behavior?

Currently `Code` and `New password` fields have autocomplete enabled. This means that you can you can store the both fields to password managers. At least with the `Code` there is no point doing that, because the value of Code changes every time you start the Forgot Password flow.

If the current behavior is a

[2018-06-17 13:30] halaharr opened #1045 "Could not resolve all files for configuration ':amazon-cognito-identity-js:lintClassPath'"
Do you want to request a feature or report a bug?
Bug

What is the current behavior?
Cannot build APK for android

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than AWS Amplify.

What is the expected behavior?
Build APK for and

[2018-06-17 21:51] ggeoffrey commented on #525
Happy to see custom authentication has been added!
The current documentation at https://aws.github.io/aws-amplify/ is mentioning the possibility to call `Auth.signIn(username)`. However the npm package `aws-amplify` version 0.4.4 still provide only the 2-arity version requiring both `username` and `password`. Version 0.4.4 has been released 13 days ago and the PR merged 6 days ago, so this makes s

[2018-06-17 22:41] buggy commented on #525
@ggeoffrey I don't think you're missing anything. Development is using the `master` branch which is also used to generate the docs. This means the docs reflect the most recent development version rather than the most recent release version.

[2018-06-17 22:58] ggeoffrey commented on #525
This makes sense but can be quite confusing :)

[2018-06-18 00:39] michaelcuneo commented on #1011
Is that even possible? fb doesn't exist in my app... I'm using Authenticator. That's the whole point of using this HoC... to have it automatically do all of the stuff that I would normally have done manually.

So if there's no Cache < -- > response or Auth.<function> < -- > response that could ever possibly give me this user information, then I can't get this information... Can't the HoC store the

[2018-06-18 01:55] buggy commented on #1028
@ossareh Some interfaces and types will get fixed in step 4 but not all. My goal is to get it on par with aws-amplify which still makes heavy use of `any` but with a focus on having the public interfaces defined.

[2018-06-18 03:42] johneast commented on #781
How do you add the IAM Policy to the cognito pool? I can't see how to do this.

[2018-06-18 03:56] rogueturnip commented on #781
You have to add it from the aws cli. Three commands I found useful.
aws iot attach-policy --policy-name 'IoT_Access' --target 'us-west-2:XXXXX'
aws iot list-attached-policies --target 'us-west-XXXXXXX'
aws iot detach-policy --policy-name 'IoT_Access' --target 'us-west-2:XXXXXXX'

We found that the best way was to build a lambda function that did this when the user signs up.  You can find the api i

[2018-06-18 08:06] thevishnup commented on #388
We are using developer auth flow to get token and IdentityId using aws-sdk.

[code]
Where Params are
[code]
What we get, we are passing to the client side and then to the`Auth` object of `aws-amplify`
[code]

Here at this point we get error:
[code]

[2018-06-18 08:17] tongzahub opened #1046 "Amplify - GraphQL Client Subscribe not working"
Do you want to request a feature or report a bug?
ask question

  GraphQL Client Subscribe not working some subscribe (React Js)

           componentDidMount = async () => {
            const subscriptionDeleteProduct = API.graphql(graphqlOperation(SubscribeProductDelete)).subscribe({
			next: (eventData) =>{
				this.handleSubscriptionDelete(eventData)},
				error:(error)=>{
					console.log('er

[2018-06-18 10:24] jsyrjala opened #1047 "Improve documentation about OAuth logins"
Documentation for OAuth logins should be improved:

1. https://aws.github.io/aws-amplify/media/authentication_guide.html

Section `Launching the Hosted UI in React` says that "With React, you can simply use withOAuth HOC to launch the hosted UI experience. Just wrap your app’s main component with our HOC"

But actually the example code shows how a button to start OAuth flow is wrapped inside `with

[2018-06-18 12:16] jaemsnrg commented on #707
I was using this method on the client side without a problem, but switched to a node backend implementation for security sake. Is this something that is only happening when implemented in node?

[2018-06-18 12:48] nikhilsharma8193 commented on #388
@thevishnup The second parameter of the federatedSignIn call is `FederatedResponse` which accepts `token`, `identity_id` and `expires_at`.
Just change the key name from `IdentityId` to `identity_id`, this should fix your problem.

[2018-06-18 13:33] jamesvsshark opened #1048 "yarn add aws-amplify error"
Hi all,

Great library, attempting to make the move from react-cognito to AWS amplify. We use Yarn for our package manager and seeing the below error during install:

`Couldn't find package "@types/paho-mqtt@^1.0.3" required by "aws-amplify@^0.4.4" on the "npm" registry.`

Yarn -v 1.7.0

Tried clearing node_modules directory and removed yarn lock file but continue to get the above error.

Thank yo

[2018-06-18 14:21] ildar-icoosoft opened #1049 "Different user object in Auth.currentAuthenticatedUser()"
Do you want to request a feature or report a bug? bug

What is the current behavior?

The promise Auth.currentAuthenticatedUser() resolves CognitoUser object if I login using AWS user pool email and password (Auth.signIn(username, password)). But if I login using Google authentication provider (Auth.federatedSignIn()) then Auth.currentAuthenticatedUser() resolves another one object:
[code]

If the

[2018-06-18 15:26] oluomoniyi opened #1050 "How do I persist a logged in user in a React Native app, so that is is available in the getAuthenticatedUser method?"
Hi Guys,

I am using the amplify Auth API in my react native project, works great until I try to get the currentAuthenticatedUser which is required for the Change password method.

I have tried to persist the user I get from the SignIn in local storage, with the key 'federatedInfo' and then try to use that in the change password, but it gives an error which says getSession is not a function, then

[2018-06-18 15:36] mlabieniec commented on #1050
@oluomoniyi Persistence occurs when you use the Auth.signIn() API in amplify. It looks like you are interacting directly with the underlying Cognito SDK which i believe will by pass the persistence that's done within the Auth Class in Amplify on both web and react native. If you use Auth.signIn API your session will be persisted to AsyncStorage within React Native. To retrieve the user details you

[2018-06-18 15:42] Jasminou commented on #1039
@elorzafe no we are using spring boot instead of express.

[2018-06-18 16:53] haverchuck commented on #1048
Hi @jamesvsshark ,

Thanks for reaching out.  I'm currently unable to reproduce your issue using a simple create-react-app setup.   Will you please clarify a couple of things?

1.  Please confirm that you are using a React applicaiton (I'm assuming the answer is yes since you were migrating from react-cognito).
2.  You are seeing this error after executing the `yarn add aws-amplify` command?

[2018-06-18 17:13] haverchuck commented on #1046
Hi @tongzahub ,

Thanks for reaching out!  Will you please clarify what you mean by "doesn't work"?  Are you receiving an error, and if so what does it say?  Or are you seeing unexpected behavior without any error output... and if so what is the unexpected behavior?

Thanks in advance for your clarification.

[2018-06-18 17:18] haverchuck commented on #1045
Hi @halaharr ,

Thanks for reaching out!  Are you using Ionic for your application, and if so which verison?

Thanks!

[2018-06-18 17:20] halaharr commented on #1045
Hi,
    I am using react native not ionic.

RN ver 0.54

Thanks

[2018-06-18 17:20] powerful23 commented on #1011
@michaelcuneo you can get the facebook object by using `window.fb`. The HOC is just a wrapper around the [facebook login](https://github.com/aws/aws-amplify/blob/master/packages/aws-amplify-react/src/Auth/Provider/withFacebook.jsx#L22) and Facebook only provides a token which is not .JWT. You are right that we should provide a uniformed way to get user info.

[2018-06-18 17:38] powerful23 commented on #525
@ggeoffrey sorry for that. You can try the unstable version which will have this feature. `npm install aws-amplify@unstable`

[2018-06-18 18:00] powerful23 commented on #1028
@buggy That's a good point. But do we really need to use `webpack`, to generate a bundle? As I know we can generate  by only `tsc`. Also I would prefer working on `aws-amplify` first for the typescript enhancement. @manueliglesias @mlabieniec what do you think?

[2018-06-18 19:17] #1044 closed

[2018-06-18 19:35] jsyrjala opened #1052 "CHANGELOG.md is not up-to-date"
[CHANGELOG.md](https://github.com/aws/aws-amplify/blob/master/CHANGELOG.md) is not up-to-date.

It list e.g. these package versions as latest from 05/18/2018
- aws-amplify - 0.4.1
- aws-amplify-react - 0.1.47
- amazon-cognito-identity-js - 2.0.6

When actually the latests releases (known by npmjs.com) are from 04/06/2018
- aws-amplify - 0.4.4
- aws-amplify-react - 0.1.50
- amazon-cognito-identity-

[2018-06-18 20:14] mlabieniec commented on #1052
@jsyrjala the changelog in the root is no longer used and we need to remove it. We now use [Conventional Commits](https://conventionalcommits.org/) with lerna and each individual packages changelog.md is updated.

[2018-06-18 20:17] powerful23 commented on #1043
@ramamoob can you try the latest version which is `0.4.4`

[2018-06-18 20:49] jsyrjala commented on #1052
Ok. I think that also wiki needs updating in that case: https://github.com/aws/aws-amplify/wiki/Release-Cycle

[2018-06-18 20:50] mlabieniec commented on #1052
Thanks for pointing that out, we will get that updated.

[2018-06-18 20:56] mlabieniec commented on #1052
Updated the wiki and will note in the root change deprecation.

[2018-06-18 20:56] #1052 closed

[2018-06-18 22:31] #755 closed

[2018-06-18 22:32] #758 closed

[2018-06-18 22:34] #813 closed

[2018-06-18 23:08] haverchuck commented on #1045
Hi @halaharr ,

I was just able to build a APK for Android on an app I generated with the react-native cli and which imported aws-amplify 0.4.4 and aws-amplify-react-native 0.2.15.    The react-native version is 0.55.4 (so pretty close to what you're using).

Do you have any specific error output you can share?

[2018-06-18 23:10] buggy commented on #1028
@powerful23 `aws-amplify` already uses TypeScript so the hard part is done there. The rest can be achieved by slowly making the tsconfig more strict. I'm happy to skip webpack with `aws-amplify-react`. I only suggested it to bring the build process into line with `aws-amplify`.

[2018-06-18 23:27] halaharr commented on #1045
Thanks for looking into it. I had updated my build.gradle which caused this issue. Once I rolled back to the old version that error went away. I really appreciate you looking into it.

Thanks

[2018-06-18 23:27] #1045 closed

[2018-06-18 23:30] ossareh commented on #1028
as an invested `aws-amplify-react-native` user I'd love to see these changes also occur over there. I'm happy to help in making this happen.

[2018-06-18 23:30] haverchuck commented on #1045
@halaharr : no problem!

[2018-06-18 23:56] ramamoob commented on #1043
@powerful23 - Thanks for your response. I did upgrade it to the latest version and can confirm that it is working.

[2018-06-19 07:28] wzup opened #1054 "Can I validate user input w/o subsequent signup? Only validation"
### Do you want to request a feature or report a bug?

Issue

### What is the current behavior?

DOn't know, can't find methods in docs

### What is the expected behavior?

Validate user input WITHOUT subsequent sign up action. Please see example below

[code]
SO question
https://stackoverflow.com/questions/50922919/can-i-validate-user-input-w-o-subsequent-signup-only-validation-no-signup

[2018-06-19 09:13] bemazo opened #1055 "push icon on android"
Do you want to request a feature or report a bug?
yes

What is the current behavior?
if I send a push message from aws pinpoint, in the status bar from android I see only a gray square

What is the expected behavior?
show the configured icon in AndroidManifest.xml

[code]

If I send the message over the firebase console the right image is picked and shown correctly.

Do I need to insert a second i

[2018-06-19 12:46] tongzahub commented on #1046
Hi @haverchuck
Thanks for responded

The error didn’t happen in this situation cause of the client couldn’t subscribe data as usual.
Then I made it like a 2 components and other situation such as when I had registered user on conito first time to login, I could normally use all functional subscribe action.

compoent 1
subscribe  create - work
subscribe  update- work
subscribe  delete- work

compoe

[2018-06-19 13:22] kevex91 commented on #750
This is still an issue on the current version of aws-amplify. Had to apply the small fix to Signer.js otherwise TypeScript complains.

[2018-06-19 14:59] haverchuck commented on #1054
Hi @wzup ,

Thanks for reaching out.  Can you please clarify what you mean by 'validate' user input?  Specifically - do you mean validate that the inputs fall within predefined parameters (for example, correct password length and character restrictions) or do you mean validate that the actual user credentials (username/password combination) are correct?

If you are actually trying to verify that t

[2018-06-19 15:11] haverchuck commented on #1003
Hi @johneast ,

We recently addressed some issues related to Angular's AOT compilation, which could be part of the issue here.  I was just able to successfully do a prod build in an ionic app using AOT Amplify patch. I'm closing this issue for now, but if you find that the latest Amplify deployment doesn't fix your problem please speak up.

Thanks!

[2018-06-19 15:28] Jasminou commented on #1039
the probleme was the add the cors config in spring boot side thx :)

[2018-06-19 15:28] #1039 closed

[2018-06-19 17:49] haverchuck commented on #1003
Reopened issue - investigating whether this is truly related to AOT.

[2018-06-19 18:20] powerful23 commented on #1028
@buggy great! I think that's a good start. Really appreciate if you could take a lead on this.

[2018-06-19 20:39] jsyrjala commented on #1047
Related issue #705

[2018-06-19 21:24] fazelmk opened #1057 "Auth.currentCredentials returning session of user after Auth.signOut is called."
Bug.

So I'm using federated identity to log in to a user pool ( I don't know if it's mandatory or not, but I created and I'm currently using ).

Sign in, and using ok. But after I call signOut the currentCredentials still point to the session I just sign out of.

[code]

My amplify config

[code]

What is the expected behavior?

User credentials be removed/revoked.

log of the problem

[code]

Ge

[2018-06-19 23:36] ossareh commented on #1050
@mlabieniec I happened to be poking around in this code today and noticed that this is true. Though it seems a bit odd that it is true. Is it intended to be true? I ask mostly because [this code](https://github.com/aws/aws-amplify/blob/d325f7f7f37a518e81b131050ce7ecb8d4f7f531/packages/amazon-cognito-identity-js/src/StorageHelper-rn.js#L33), imported 5 months ago, smells odd.

 - It is persistent s

[2018-06-20 00:58] marktorrance commented on #632
I am having the same problem with trying to send audio to the Amazon Lex API.  It works in development but not on the actual phone:

      const response = await fetch(uri);
      const blob = await response.blob();
      let params = { ...
                  inputStream: blob,
      }
      await lexRuntime.postContent(params, this._handleLexResult);

console output appears the same for the blob i

[2018-06-20 01:44] oderza commented on #324
Is the ability to make unauthenticated requests to API Gateway available yet or that still in the backlog?

[2018-06-20 06:12] tarundhillon opened #1060 "Angular - signedIn user is not persisted"
Do you want to request a feature or report a bug?
Once the user sign's in the authenticated details are not persisted. .

[code]
Now refresh your window  and user is not persisted
[code]

The documentation indicates that the persistence is managed by Amplify in React, but does that also hold true for Angular or we will need to manage it ourselves

Thanks

[2018-06-20 08:48] BrianSHenderson opened #1061 "CORB Problem with API Call"
When using the following:
`API.get('Img', '/readQR', { headers: {}, response: true, queryStringParameters: { uri: oImg.url } })`
I'm occasionally receiving:
`Cross-Origin Read Blocking (CORB) blocked cross-origin response https://XXXX with MIME type application/json.`

Do I need to add something to the header object here?  I'm running from http://localhost:3000

[2018-06-20 09:26] MadhavShah opened #1062 "Graphql library not included : graphqlOperation can not be imported"
Hello, currently I am using AWS Amplify library which was provided default with AWS starter template for ionic.
When I tried to import graphqlOperation from AWS-Amplify , it showed error. After AWS-Amplify library file, there was no code regarding graphql. Please tell me How can I add graphql in AWS-Amplify.

[2018-06-20 09:33] jsyrjala commented on #1047
I can make a PR to improve docs in near future.

[2018-06-20 10:34] #1062 closed

[2018-06-20 12:57] andythedandyone commented on #408
Ok, so I've been digging a bit in the older working versions I have with the non working new one.

Despite updates in both app builds, it seems not be the case. Also, new gradle build has not affect in the issue.

The only real difference in the `MainApplication.java` is this line 7 which I commented out after unlinking amplify.
```import com.amazonaws.amplify.pushnotification.RNPushNotificationPa

[2018-06-20 14:14] wzup opened #1063 "Lib throws "Username cannot be empty" on SignUp when no "username" needed for sign up"
### Do you want to request a feature or report a bug?

Bug

### What is the current behavior?

Lib throws

### What is the expected behavior?

Accept **signUp** action without errors.

### Example

I've set up my cognito so that it doesn't use username, only email and password.
So why your lib throws `Username cannot be empty`? This is definitely wrong behaviour!

If I call `.signUp` this way (par

[2018-06-20 14:29] wzup commented on #104
@ldgarcia

How can it be that you use **email** in place of **username**? Can you use **integers** where system requires **string** types? You can't! Then why do you pass one type in place of the other?
https://github.com/aws/aws-amplify/issues/104#issuecomment-366693354

[code]

[2018-06-20 14:29] dallinwright commented on #1063
I had a very similar issue too, when you go into AWS cognito make sure that the signup type is set to email not username or email aliases configurations. I would recommend walking through in the UI the creation of the user pool in the aws mobilehub to see what you can do.

[2018-06-20 14:36] wzup commented on #1063
@dallinwright
It is already set. That's why I don't understand their error

![screen shot 2018-06-20 at 5 34 29 pm](https://user-images.githubusercontent.com/3880497/41665365-6ee04f84-74b0-11e8-8ee6-b2f54663b8e9.png)

[2018-06-20 14:37] wzup commented on #104
Error still exists

https://github.com/aws/aws-amplify/issues/1063

[code]

[2018-06-20 14:38] dallinwright opened #1064 "Error: Network Error generic message"
I think I have experiencing a bug.

Current I am trying to do a simple get for my webapp. Currently I am trying to do a get and getting a generic network error response. My function looks like this and I am tyring to simply log to the console the response from my lambda.

[code]

And that is it. I can invoke via Postman, via this command from awsmobile `awsmobile cloud-api invoke decks get /decks`

[2018-06-20 14:42] dallinwright commented on #1063
Ah I see a potential error. Even though it is set to email, you have to pass the email as the username like my function below. I would agree that it makes 0 sense from a logic standpoint but you have to do it this way.

[code]

[2018-06-20 15:35] GokulDharumar opened #1065 "Push Notification not working when app is in foreground"
We followed the sample code
https://aws.github.io/aws-amplify/media/push_notifications_setup

We used console to send push notification to particular device token and we are getting the message when app is in background. But nothing happens when the app is in foreground.

[2018-06-20 15:42] haverchuck commented on #1060
Hi @tarundhillon

Thanks for reaching out!

Are you using the [authenticator components](https://github.com/aws/aws-amplify/tree/master/packages/aws-amplify-angular/src/components/authenticator) for Angular?  These include components such as <amplify-authenticator>, which provides a set of child components and services for sign-up, sign-in, password recovery, etc.  You can also use any one of thes

[2018-06-20 15:47] haverchuck commented on #1055
Hi @bemazo ,

Are you setting up your AndroidManifes as described in step 8 [here](https://aws.github.io/aws-amplify/media/push_notifications_setup#setup-for-android-devices)?

[2018-06-20 15:53] haverchuck commented on #1065
Hi @GokulDharumar ,

Thanks for reaching out!

It sounds like this might be typical behavior for foreground apps.

Are you handling the notification using an override of the [onMessageReceived](https://firebase.google.com/docs/cloud-messaging/android/receive) method?

[2018-06-20 16:08] GokulDharumar commented on #1065
@haverchuck,
 Thanks for the response. We are not doing android version. We are implementing it using react-native. We use the below code

PushNotification.onNotification((notification) => {
  });

[2018-06-20 16:46] haverchuck commented on #1057
Thanks for reaching out.  When you attempt to get the session, you are indeed getting the last session, but since it is now invalidated by the signout action users will not be able to hit API endpoints (provided that the API is private and accessible only to signed in users). However, it is admittedly confusing that the session doesn't show that it is expired, so I am submitting a feature request

[2018-06-20 16:59] fazelmk commented on #1057
@haverchuck Appreciate the fast response.

If I may add I looked myself to the code to see why it does it. And it seems to only do that with `mandatorySignIn: true`. Otherwise it gives a guest session back.
Seems only a condition missing to clean the session on mandatorySingIn.

And for those who get here with this problem `Auth.currentAuthenticatedUser` will return error, just call it after getti

[2018-06-20 17:27] powerful23 commented on #1047
@jsyrjala yes it would be great if you could provide some sample code to the doc.

[2018-06-20 17:33] wzup opened #1066 "ReferenceError: fetch is not defined"
Do you want to request a feature or report a bug?

bug

What is the current behavior?

[code]

What is the expected behavior?

No errors

### Example

[code]

Why error?

[2018-06-20 17:40] wzup commented on #876
Same error
https://github.com/aws/aws-amplify/issues/1066

[2018-06-20 17:40] wzup commented on #1066
Same here https://github.com/aws/aws-amplify/issues/876

[2018-06-20 17:44] haverchuck commented on #1065
@GokulDharumar
You are using the react-native-push-notification npm package?
And if so, is the onNotification function receiving the notification datat when the app is in the foreground, but just not popping in the ui?

[2018-06-20 17:54] GokulDharumar commented on #1065
@haverchuck
Yes you are right... we are using
import { PushNotification } from 'aws-amplify-react-native';

Amplify.configure(aws_exports);
PushNotification.configure(aws_exports);
PushNotification.onNotification((notification) => {
    console.log('in app notification', notification);
  });
We are getting message on the console but not popping up in the phone .

Thanks for the reply

[2018-06-20 17:58] wzup opened #1067 "How to verify if a user with a given email already exists in User Pool?"
Do you want to request a feature or report a bug?

Question

What is the expected behavior?

Check is user exists

### example

Is there such a method?

[code]

Because now I can find out if a user exists ONLY during `signUp` action. But I want to check it before I do `signUp`. Because if a user doesn't exist it will be created right off the bat. And it is not what expected

[code]

[2018-06-20 17:59] bellkev opened #1068 "Unable to safely call `unsubscribe` on an AppSync subscription in some cases"
With React Native on iOS, after locking the screen and reopening, calling `unsubscribe` on an AppSync subscription (using Amplify version 0.4.4) results in the following error from paho-mqtt:

[code]

The tricky thing is that wrapping it in a try/catch doesn't help, because Zen Observables [rethrow errors](https://github.com/zenparsing/zen-observable/blob/3d059a3a46421224135d876136a694fd9e35c098/s

[2018-06-20 18:16] haverchuck commented on #1067
@wzup

There is not function that does this and only this; however, I think if you use the confirmSignUp function and are using email as an alias you will get back an AliasExistsException error.

In any case I am marking this as a feature request, as it seems useful.

Thanks for your feedback.

[2018-06-20 18:28] haverchuck commented on #1065
@GokulDharumar

I am marking this as a feature request.

[2018-06-20 18:28] powerful23 commented on #408
@andythedandyone You don't need to link `aws-amplify-react-native` if you are not using the push notification feature.

[2018-06-20 18:52] GokulDharumar commented on #1065
@haverchuck ,
 Thanks for the update. Also i have another question/doubt. Right now i don't see any actions on the notification pop up. Is it possible to add actions to the notification? Or if it is already there can you please point me to the right documentation?

Thanks again for the help

[2018-06-20 19:11] haverchuck commented on #1065
@GokulDharumar I don't believe we have action support yet, but this too is a great feature request.

[2018-06-20 19:41] gitsome commented on #20
For others... we were using Firehouse instead of Amplify Analytics. By default it seems Amplify Analytics tries to record events even if you don't have things configured. We disabled it and then it doesn't send out requests and avoids this error. See this documentation for setting the disabled flag to true and autoSessionRecord to false:

https://aws.github.io/aws-amplify/media/analytics_guide

[2018-06-20 20:11] bellkev commented on #1068
(As a debugging tip, I could only get the issue to occur on a phone, but I could debug it on a desktop by setting a breakpoint [here](https://github.com/eclipse/paho.mqtt.javascript/blob/master/src/paho-mqtt.js#L921) and setting `this.connected = false` in the console.)

[2018-06-20 20:33] #1066 closed

[2018-06-20 21:01] josoroma-zz opened #1069 "How to add an Axios Interceptor to all Auth calls and to all API calls as well?"
How to add an Axios Interceptor to all Auth calls and to all API calls as well?

Thanks!

[2018-06-20 21:38] haverchuck commented on #1069
@josoroma

Thanks for reaching out... Amplify already uses axios under the hood in it's API module, but I don't think there is an OOB way to define your own intercepters.  Can you let us know a little bit more about your use case?

In any case, I'm marking this as a feature request.

[2018-06-20 21:59] #1003 closed

[2018-06-20 23:01] andythedandyone commented on #408
@powerful23 , yes, but the post is talking about out of the box. There are some incongruences to it.
A lot of people care less about pinpoint services and more about commonly used features such as user authentication/Cognito.
Out of the box, the packages work fine. Otherwise, if need some of the other features, there are more steps to go thru.

For notifications, follow this documentation:
https:/

[2018-06-20 23:23] powerful23 commented on #408
@andythedandyone yeah I agree for now it will bring some trouble if you link the `aws-amplify-react-native` but don't follow those steps. We have this in our roadmap to move the push notification module out of the react native package.

[2018-06-21 00:36] josoroma commented on #1069
@haverchuck it comes up because I need to add a kind of global interceptor to catch all failure responses.

[2018-06-21 00:44] josoroma opened #1072 "Annoying pinpoint project analytics requests (even if the feature is disabled in the Mobile Hub Service)"
Just after a user logs into the system, a set of 400 bad request responses are back from the following endpoint: `https://pinpoint.us-east-1.amazonaws.com`, with a request payload that sends  Demographic and User information.

I already disabled the Messaging and Analytics backend feature in the Mobile Hub, then I ran `awsmobile pull`, buuut messages continue to be shown on the console.

![image](

[2018-06-21 00:50] drewdecarme commented on #684
I had some trouble as well figuring out exactly what I needed to do to attach the current user to the the IoTProvider. The documentation really is clear but isn't clear enough when you're working directly on the client side.

Assuming you've authenticated the user, you just need to get the current credentials of the current user and then add the resolved credentials object, along with the `aws_pub

[2018-06-21 03:29] johneast commented on #783
Can we get the interface definition fixed for AWSIotProvider please? It makes it awkward to use Amplify  to connect to IOT when using Angular.

[2018-06-21 03:46] michelmob commented on #1067
I did:

 userExist(userName: string) {
      return Auth.signIn(userName, '123');
    }
and

userExist(email: string) {
    return this.cognitoService.userExist(email.toLowerCase()).then(res => {
        return false;
    }).catch(error => {
        const code = error.code;
        console.log(error);
        switch (code) {
            case 'UserNotFoundException':
                return !this.re

[2018-06-21 03:51] michelmob opened #1073 "How do I get Cognito Access token using Federated SignIn?"
Do you want to request a feature or report a bug?

What is the current behavior?

What is the expected behavior?

Which versions of Amplify, and which browser / OS are affected by this issue? Did this work in previous versions?

You can turn on the debug mode to provide more info for us by setting ```window.LOG_LEVEL = 'DEBUG';``` in your app.

[2018-06-21 06:08] wzup commented on #1067
[code]

[2018-06-21 06:13] wzup commented on #1067
@michelmob , thank you.

One question though.
What is `this` in your example? Where does `.cognito` live?

[code]

[2018-06-21 06:21] bemazo commented on #1055
as I get a question by mail, I have added these lines out of the doc into my Manifest:

https://aws.github.io/aws-amplify/media/push_notifications_setup#setup-for-android-devices

[2018-06-21 06:28] wzup commented on #1054
@haverchuck

This variant:

Because there is **Policies** section where for example you can set up password strength:

![screen shot 2018-06-21 at 9 19 52 am](https://user-images.githubusercontent.com/3880497/41701255-7ddfc1de-7534-11e8-9eb0-6d481730b7ae.png)

So we end up having password restrictions in Cognito, but not on client-side. We have to manually create regex that match Cognito's setting

[2018-06-21 08:11] jimmyn opened #1075 "Error: Bot AWSIoTProvider has wrong category"
## Bug report:

`Amplify.addPluggable` in the latest `aws-amplify@0.4.5`
returns an error

Adding PubSub provider as described in the [docs](https://aws.github.io/aws-amplify/media/pub_sub_guide)

[code]

Raises an error: **`Bot AWSIoTProvider has wrong category`**

## How to reproduce:

[![Edit 0y4yzql18p](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/0y4yzql18

[2018-06-21 09:33] paul-doherty commented on #915
I tried your suggestion and indeed that function executes but it does not execute successfully.

The signature to this function is
[code]

So supplying a callback to actually receive the response like
[code]

still returns the underlying error

[code]

Your example simply ignores it by not supplying a callback.

[2018-06-21 09:56] akashbits commented on #399
@elorzafe any update ?

[2018-06-21 10:00] fangleen opened #1077 "Jest failed in react native project when import aws-amplify"
Do you want to request a feature or report a bug?
**report**
What is the current behavior?
Jest fail with the simple test in Expo project.

All I did was add in Amplify, now my Jest tests fail on testing components in React-Native (using Expo) I get the fail for: "TypeError: window.addEventListerner is not a function at Object. (node_modules/aws-amplify/lib/common/ClientDevice/browser.js" (and one

[2018-06-21 10:27] wzup opened #1078 "code: 'UnknownError', message: 'Unkown error'"
### Do you want to request a feature or report a bug?

Bug

### What is the current behavior?

Lib throws

### The steps to reproduce

[code]

ANd error

### What is the expected behavior?

User is signed in

Same error https://github.com/aws/aws-amplify/issues/990
Solution doesn't work for me

[2018-06-21 10:39] wzup commented on #1078
https://github.com/aws/aws-amplify/issues/487#issuecomment-377360591

[2018-06-21 11:33] michelmob commented on #1067
This is an abstraction of cognito using aws amplify.

Sent from my iPhone

[2018-06-21 12:01] marcusegues opened #1079 "Cannot read property 'match' of undefined when running `react-native link amazon-cognito-identity-js`"
What is the current behavior?
I'm following the `react-native` Quick Start.
I have an already existing RN project created using `react-native init`.

Steps I've taken:
[code]
Now when I type in:
`react-native link amazon-cognito-identity-js` I get
![image](https://user-images.githubusercontent.com/14809309/41717401-f8d6a400-7559-11e8-861f-246d2814cd36.png)

Here is my `package.json`:
[code]

[2018-06-21 12:49] yonisetiawan commented on #990
change to be

`global.fetch = require('node-fetch');
const Amplify = require( 'aws-amplify' ).default;
const Auth = Amplify.Auth;

Amplify.configure( {
    Auth: {
        // REQUIRED - Amazon Cognito Identity Pool ID
        identityPoolId: 'us-east-2:...',
        // REQUIRED - Amazon Cognito Region
        region: 'us-east-2',
        // OPTIONAL - Amazon Cognito User Pool ID
        userPoolId

[2018-06-21 13:08] marcusegues commented on #1079
Solution:

From the [docs on linking for ios](https://facebook.github.io/react-native/docs/linking-libraries-ios.html):
![image](https://user-images.githubusercontent.com/14809309/41720931-d03492ea-7564-11e8-85e1-71bb05bf4f4d.png)

I had to add `# Add new pods below this line` to my app's podfile. Then I could link.

[2018-06-21 13:08] #1079 closed

[2018-06-21 15:32] bhalvy commented on #632
Having this problem as well. Currently using the base64 workaround but would MUCH rather be able to use .blob()

[2018-06-21 15:45] haverchuck commented on #1073
@michelmob

Thanks for reaching out!

How are you trying to retrieve the token after login?

Have you tried this?

import { Cache } from 'aws-amplify';
Cache.getItem('federatedInfo').token;

(Answer also posted to SO)

[2018-06-21 16:00] mlabieniec commented on #399
@dnalbach the method is [federatedSignin](https://aws.github.io/aws-amplify/media/authentication_guide#enabling-federated-identities) apologies for the confusion. The docs here explain what to do with the token, you send it to them method as an arg along with the provider:

[code]

[2018-06-21 16:08] haverchuck commented on #1072
Hi @josoroma

Thanks for reaching out.

I understand you attempted to disable this in mobile hub and then pulled down into your project, but what happens If you  execute:

`awsmobile analytics disable`
`awsmobile push`

This should prevent the requests from firing at all.

If it does not, check you aws-exports file.  Is there anything about analytics in there?

[2018-06-21 16:09] #1072 closed

[2018-06-21 16:26] josoroma opened #1080 "AWS S3 + CloudFront + Route 53 build and deploy howto"
Is there any recommendation or guide available that explains how to build and deploy to AWS using `awsmobile init` instead of the manual conf (no using awsmobile publish)?

[2018-06-21 17:15] haverchuck commented on #1080
Hi @josoroma

Please see [this documentation](https://aws.github.io/aws-amplify/media/quick_start#automatic-setup)

Thanks!

[2018-06-21 17:16] #1080 closed

[2018-06-21 17:21] powerful23 commented on #915
@paul-doherty can you try it with the latest version of `amazon-cognito-identity-js` which is 2.0.10? It fixes a bug which may help you to get rid of those unknown error

[2018-06-21 17:32] haverchuck commented on #1073
Hi @michelmob ,

The github wiki FAQ has an [entry on this topic](https://github.com/aws/aws-amplify/wiki/FAQ#how-can-i-get-jwt-token-when-using-amplify-to-get-federated-users-login)

tldr:

If you are using federated identities, then you will only have access to the token that is received from the provider (Facebook, Amazon, etc), not from Cognito.  You can access this token by importing Amplify'

[2018-06-21 17:32] #1073 closed

[2018-06-21 17:37] josoroma commented on #1080
@haverchuck thanks!

Yep, I follow every step there. It works with npm run start but not with awsmobile publish. No console logs.

[2018-06-21 17:43] mlabieniec commented on #1080
@josoroma can you let us know how you setup the CLI and what version of node you are using? awsmobile publish should push your app to your configured S3 bucket. But you need to make sure hosting is enabled, check `awsmobile features` and make sure hosting is enabled on your project.

[2018-06-21 17:44] josoroma commented on #1080
I will try to use the manual conf and not the automatic conf:

https://serverless-stack.com/chapters/configure-aws-amplify.html

[2018-06-21 18:06] febbraro opened #1081 "Add TVMLKit Support"
When attempting use this library via TVMLKit (the Javascript runtime within Apple TV) we run into a problem that `storage` is null.

`[WARN] 40:14.48 Cache - getItem failed! TypeError: null is not an object (evaluating 'this.config.storage.getItem')`

This is happening because in `packages/aws-amplify/src/Common/StorageHelper/index.ts` when it tries to attach to `localStorage`, it uses the followi

[2018-06-21 18:25] haverchuck commented on #1069
Thanks @josoroma - We will leave this open as a feature request.

[2018-06-21 19:26] RedHatter opened #1083 "301 when attempting to upload to S3"
I'm attempting to upload a file to S3 using the follow code.

    Auth.currentCredentials()
      .then(credentials => {
          return Storage.put(this.state.file.name, this.state.file, {
            contentType: this.state.file.type,
            credentials: Auth.essentialCredentials(credentials)
          }))
      })
      .catch(console.error)

It produces an network error.

    Failed to l

[2018-06-21 19:36] #1075 closed

[2018-06-21 21:54] aaayushsingh opened #1084 "Manually set current session credentials."
Do you want to request a feature or report a bug?
Support Request / Feature Request

What is the current behavior?

I'm using Nativescript, and session is cleared after app refresh. I get no user from Auth.currentSession()

However I store the jwt from login and can access endpoints manually by passing that as header.
I would like to use this to make Amplify believe that a user is logged in to use

[2018-06-21 23:03] haverchuck commented on #1054
@wzup
So essentially you're trying to avoid calls to the backend that you already know will result in a failure because of the field constraints?

[2018-06-21 23:20] #1043 closed

[2018-06-22 03:40] golatoye opened #1085 "Support for EMAIL channelType for AWSAnalyticsProvider"
**Do you want to request a feature or report a bug?**
Feature

**What is the current behaviour?**
only GCM and APNS pinpoint changes are supported for recording events

**What is the expected behaviour?**
I would like to be able to specify channel type explicitly and choose "EMAIL"

[2018-06-22 04:39] josoroma commented on #1072
@haverchuck it works, thanks!!!

[2018-06-22 04:52] garyfanglee opened #1086 "No matching version found for aws-amplify@^0.4.6"
**Do you want to request a feature or report a bug?**

Bug

**What is the current behavior?**

The following error prevents install:

For some reason, a non-existent version of Amplify is being looked up.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn'

[2018-06-22 05:14] praveshkhatana commented on #1084
Looking for a solution. **Auto Login after APP relaunch**, so they have no need to manually sign in again n again (until they sign out manually). Just like any other APP, AMAZON etc.

[2018-06-22 06:06] josoroma commented on #1086
@garyfanglee same her!

Temporary solution: use yarn instead of npm.

Good luck!

[2018-06-22 06:30] josoroma commented on #1080
my current `.gitignore` file:

[code]

[2018-06-22 08:01] jsyrjala opened #1087 "Change log files are showing signs of merge conflicts"
- https://github.com/aws/aws-amplify/blob/master/packages/aws-amplify/CHANGELOG.md#043-2018-06-02
- https://github.com/aws/aws-amplify/blob/master/packages/aws-amplify-react/CHANGELOG.md#0148-unstable33-2018-06-04
- https://github.com/aws/aws-amplify/blob/master/packages/aws-amplify-react-native/CHANGELOG.md#0214-2018-06-02
- https://github.com/aws/aws-amplify/blob/master/packages/amazon-cognito-i

[2018-06-22 08:18] wenruiliau commented on #1086
Encountering this error as well whilst working through https://github.com/aws-samples/aws-mobile-react-sample.

[2018-06-22 09:57] CHR15- commented on #1086
RIP anyone under "0.x" versioning! Not sure how this was forgotten 👎

[2018-06-22 10:14] chrisgrg commented on #563
@BenjaminWatts after you link using
`react-native link amazon-cognito-identity-js`
try uninstalling your app in android and
`react-native run-android`
again.

[2018-06-22 10:52] EgidioCaprino opened #1089 "Unauthenticated access is not supported for this identity pool"
Hi all 👋

I'm authenticating the user with

[code]

which completes finely. But when I try to get the credentials with

[code]

I get this error: `Unauthenticated access is not supported for this identity pool`

I'm setting up `Amplify` in this way:

[code]

(with actual values instead of `xxx`)

How do I authenticate in the Identity Pool and get temporary IAM credentials to use with the AWS SDK?

[2018-06-22 11:48] vahdet commented on #469
How about **disabling** a user rather than **deleting**? Like deactivating the account.

[2018-06-22 14:40] mlabieniec commented on #1089
@EgidioCaprino does your federated identity pool which has your user pool attached as an identity provider have an unauthenticated role attached to it? See here for detas:
https://docs.aws.amazon.com/cognito/latest/developerguide/identity-pools.html

In the federated identities console, go-to your identity pool, edit, then make sure you have unauthenticated role enabled. Then make sure the role ha

[2018-06-22 15:07] haverchuck commented on #1086
This should be resolved, please try again.

[2018-06-22 15:13] #1086 closed

[2018-06-22 15:32] michelmob commented on #1073
OK, thank you so much.

[2018-06-22 15:48] Cris87 commented on #324
+1 on knowing if we can now make unauthenticated requests, I also have some methods that I have to call before user log in and am currently getting the following error:
`API - ensure credentials error: Error: Unauthenticated access is not supported for this identity pool.`
I'm assuming this is because amplify API.get() is trying to getCredentials to add the headers but since the user is not logged

[2018-06-22 15:57] yuntuowang commented on #1021
I will create a feature request on your behalf. However, we cannot comment on the delivery time. Thanks!

[2018-06-22 16:00] dehuszar opened #1091 "Having trouble constructing complete cookie-based session that can complete globalSignOut"
Do you want to request a feature or report a bug?
both

What is the current behavior?
I am attempting to implement a basic cross-site cookie implementation.  We have two applications.  The first an Ember app which uses Ember-Simple-Auth to manage internal session state which is stored separately from the tokens.  Tokens are managed by the amazon-cognito-identity-js package.  Initial implementation

[2018-06-22 17:04] haverchuck commented on #1078
Hi @wzup

I am having trouble reproducing this.  What type of application are you running this in?

[2018-06-22 17:40] dehuszar commented on #1091
A few supporting code snippets:

In my Ember app, before loading the landing page, I check to see if the Ember-Simple-Auth tool has an existing session, and if not, whether there are any cookies in the CookieStorage.
[code]
  Because we don't expect any authentication credentials, we send an empty object to the cognito authenticator (Ember parlance for the Ember-Simple-Auth abstraction that uses t

[2018-06-22 17:44] dehuszar commented on #1091
One thing I think would be very helpful for the library, which might mitigate the kinds of issues I'm having would be to have a 30,000ft view of what the Cognito authenticated session looks like; what it contains, and what needs to be in place for all methods to function.  The step-by-step instructions in the amazon-cognito-identity-js package README.md is useful for the majority of scenarios, but

[2018-06-22 17:49] jwdinker commented on #498
I am having the same issue.  This has worked in the past as well.  I generate the tokens and then even try to refresh them afterwards and it throws an InvalidTokenError.

[2018-06-22 18:15] swaminator commented on #875
@hrmoller : I'm a PM on the team. Would love to chat with you further about your usecase. We do not recommend adding the aws-export.js to git and instead recommend using environment variables in your build system. I would love to chat with you if you if you have the time.

[2018-06-22 18:23] mlabieniec commented on #875
@cjsauer not directly. What you could do is either use something like grunt/gulp or just npm scripts to symlink the .awsmobilejs folder from an environment specific folder you have in your repo. For example, if you setup a project with the awsmobile-cli, you will end up with a .awsmobilejs folder. You could then rename this folder to .awsmobilejs-dev, and create a symlink .awsmobilejs -> .awsmobil

[2018-06-22 18:33] yuntuowang commented on #625
@powerful23 will merge in the fix very soon.

[2018-06-22 18:39] #497 closed

[2018-06-22 18:46] haverchuck commented on #1081
@febbraro

Are you using navigationDocument as a typescript type in the amplify code?

[2018-06-22 18:48] powerful23 commented on #1091
@dehuszar thanks for you feedback!
1. The way Amplify finds whether the user is logged in or not is to use the Cognito method [userpool.getCurrentUser()](https://github.com/aws/aws-amplify/blob/master/packages/amazon-cognito-identity-js/src/CognitoUserPool.js#L125) which will check the localStorage/CookieStorage. So I think in your ember app you should also use this method to check if the user is

[2018-06-22 18:50] haverchuck commented on #1064
@dallinwright

Thanks for reaching out!  Have you tried passing '/decks' as the path parameter in .get()?

`this.amplifyService.api().get('decks', '/decks', {headers: authHeader})`

[2018-06-22 18:53] haverchuck commented on #1057
@fazelmk

Thanks for your feedback... I'm changing this from a feature request to a bug (as you originally marked it).

[2018-06-22 18:56] dehuszar commented on #1091
That's very helpful, thank you!  I'll report back after some testing

[2018-06-22 19:37] mlabieniec commented on #1084
@aaayushsingh we don't have official support for NS yet. The way the persistence is set is with storage on a PER platform basis. So on react native it uses AsyncStorage, in browser local storage etc. Similarly some bridge would need to be provided to NS to use to store the session and the library would need modifications to support it. Looks like there is a module here:
https://www.npmjs.com/packa

[2018-06-22 19:47] dallinwright commented on #1064
Thanks for responding! I ended up figuring it out, it turns out that if you click and enable the cors header through the aws mobile UI, it doesn't necessarily add it to the api gateway and it doesn't update your lambdas. You have to do a `awsmobile pull` and verify inside the yaml that it is actually set. It seems the UI is wonky and doesn't do it.

In case others stumble upon this here is what I

[2018-06-22 19:47] #1064 closed

[2018-06-22 20:36] dehuszar commented on #1091
Okay.  So, I've done a few tests and have some thoughts.  One thing that might be worth doing is differentiating the var names for different implementations of cognitoUser in the docs.  One cognitoUser is the result of the `new AmazonCognitoIdentity.CognitoUser(userData)` statement, and then again cognitoUser is created later in step 17 cognitoUser is defined from `userPool.getCurrentUser()`.  Bec

[2018-06-22 20:45] #1087 closed

[2018-06-22 21:14] haverchuck commented on #1083
@RedHatter

Did you [setup your S3 bucket's CORS policy](https://aws.github.io/aws-amplify/media/storage_guide#setup-amazon-s3-bucket-cors-policy)?

[2018-06-22 21:29] powerful23 commented on #1091
@dehuszar yeah I think the readme is quite old which those code samples are following ES5 standard. If you are coding in ES6, you can do like:
[code]
You can have a look at how Amplify starts the authentication process: https://github.com/aws/aws-amplify/blob/master/packages/aws-amplify/src/Auth/Auth.ts#L371
and how it get the current authenticated user: https://github.com/aws/aws-amplify/blob/mas

[2018-06-22 21:32] febbraro commented on #1081
@haverchuck this was my initial attempt that generated the error above:

https://github.com/phase2/aws-amplify/commit/3dd5833d1a1b9a32c4a98c54d863f635ee2c13fd

[2018-06-22 23:36] oderza commented on #324
Thanks for the tip. I did have 'Enable access to unauthenticated identities' checked. What worked for me was to clear the application local storage from the browser and now everything works fine.

What might have gone wrong?

I signed up in my app several times with the same email address and then would delete the user from the Cognito User Pool. I was doing this while testing signup flow with my

[2018-06-23 13:55] Cris87 opened #1093 "Getting 403 error on API.get() Federated Identities with aws_iam authorizer - Angular 6"
**Do you want to request a feature or report a bug?**
Report a bug

**What is the current behavior?**
I'm using Federated Identity pool only, no User Pool. I've enabled unauthenticated identities in order to make API calls required before user authentication. All of that is working correctly. However for all other API calls I've enabled `aws-iam` authorizer. When I call API.get() on the `aws_iam`

[2018-06-23 14:46] pjarts commented on #1060
I can confirm this issue. After upgrading aws-amplify from 0.4.4 to 0.4.6 and aws-amplify-angular from 0.1.4 to 0.1.6 the `signedOut` status is emitted after page reload.

[2018-06-23 15:39] owensesaldo commented on #493
Yup, still getting the same issue:

WARN] 26:47.552 Cache - getItem failed! TypeError: Cannot read property 'getItem' of null

Page hangs.

[2018-06-23 20:41] guycassidy commented on #1078
I'm having the same issue. Using a web app:

If I try to log in as a user that doesn't exist, it fails and reports that the user doesn't exist.
If I dry to log in with the wrong password, it fails and reports that the password or user are incorrect
If I log in with the right credentials, it returns:
{
  code: "UnknownError"
  message: "Unkown error"  <- typo?
}

My code:

`document.getElementById(

[2018-06-23 21:46] RedHatter commented on #1083
I have to CORS set exactly as the link shows.

[2018-06-23 22:53] vivekFAGH opened #1094 "403 AccessDenied on Storage.Put"
Using amplify version 0.4.6 in an ionic 3 app. Manually configured amplify:
Amplify.configure({
  Auth: {
      identityPoolId: 'us-east-xxxxx',
      region: 'us-east-1',
      userPoolId: 'us-east-xxxxx',
      userPoolWebClientId: 'xxxx',
  },
  API: {
    endpoints: [
        {
            name: "xxx",
            endpoint: "https://xcvcxvcx.execute-api.us-east-1.amazonaws.com/v1"
        },

[2018-06-23 23:44] mlabieniec commented on #1084
tracking support feature request in #1035

[2018-06-23 23:44] #1084 closed

[2018-06-23 23:46] mlabieniec commented on #1083
@RedHatter you do not need to set the credentials this way on the Storage category. Please check out the [Quick Start[(https://aws.github.io/aws-amplify/media/quick_start) to configure your Auth. Once that's configured, you can just do `Storage.put(file,path)`.  The Storage category will automatically use the configured credentials and session if you authenticate with Auth prior.

[2018-06-23 23:48] mlabieniec commented on #1081
@febbraro you could possible use a polyfill for the window object similar to [here](https://github.com/aws/aws-amplify/blob/master/packages/aws-amplify/src/Common/Polyfills/Polyfills.ts#L31), perhaps add a similar line for window.localStorage to use the memory storage...

[2018-06-24 04:52] roysG opened #1095 "notifications stop working if user send more than 47 notifications"
I build a chat app style like whatsapp.
The messages work fine, but i pay attention, when i send more than 47 messages, i will not see any push notifications until the user clean the previous notification from bar, it look like the notification become like a mute/ignore for the user.

This behavior is very strange cause in "whatsapp"  i can send unlimited notification without any problem.
This fea

[2018-06-24 07:58] pjarts commented on #1060
My bad. I was configuring `Auth` through the `AmplifyService` like so:

[code]

The `AmplifyService` has a decorator that automatically tries to get the current authenticated user from Local Storage. Previously I must have had some asynchronous luck, so that the configuration was done before The service attempted to get the user.

My advice is, make sure you configure`Auth` directly and not via `A

[2018-06-24 09:17] MiroslavPetrik commented on #639
@mbahar As you have mentioned that the docs are wrong stating that `currentSession()` returns an object - is there a way to get the session synchronously, without awaiting the promise?

[2018-06-24 11:41] aaayushsingh opened #1096 "[Help Wanted] Federated Signin against current user group in cognito identity pool"
I am able to sign in using auth.federatedSignin()

I would like to add the user thus signed in to a group (eg: Admin) on an already existing Identity Pool(eg: sales-app) and then treat this user as any other user that signs in using email and password.

I need this to allow federated users to be able to access my graphql endpoint.

I've looked up the documentation but couldn't find anything.

[2018-06-24 16:40] #1095 closed

[2018-06-24 17:24] guilhermebruzzi opened #1097 "Missing notification pinpoint context on onNotification"
Do you want to request a feature or report a bug?

Bug

What is the current behavior?

Send a notification using amazon pinpoint with a `url` or `deep link` param and check the notification object received on:

[code]

What is the expected behavior?

The object received should include the `url` and `deeplink` params.

I believe this bug is present on all versions of `aws-amplify-react-native`

[2018-06-24 22:46] haverchuck commented on #1096
@aaayushsingh

Here is some documentation you might find helpful:

[Accessing AWS Services Using an Identity Pool After Sign-in](https://docs.aws.amazon.com/cognito/latest/developerguide/amazon-cognito-integrating-user-pools-with-identity-pools.html)

[Getting Started with Amazon Cognito Identity Pools (Federated Identities)](https://docs.aws.amazon.com/cognito/latest/developerguide/getting-starte

[2018-06-24 22:59] haverchuck commented on #1093
@Cris87

When you say that you enabled CORs on your lambda, you mean that you enabled it via [API Gateway](https://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-cors.html)?

I ask becaue it sounds like you could very well be having a CORs issue outside of Amplify, since Postman typically doesn't care about CORs and will allow requests to succeed in cases where browsers would not.

[2018-06-24 23:10] haverchuck commented on #1061
@BrianSHenderson

Thanks for reaching out!

You may need to [enable CORs on your API gateway resource](https://aws.github.io/aws-amplify/media/api_guide#using-custom-http-request-headers).

[2018-06-24 23:10] #1061 closed

[2018-06-24 23:13] haverchuck commented on #1060
@pjarts

Thanks for letting us know what the issue was.

[2018-06-25 02:53] alishah-edgy commented on #1014
@powerful23 Hi, any updates on this?

[2018-06-25 04:55] aaayushsingh commented on #1096
@haverchuck
I can sign in already and also access the graphQL endpoint, so authentication is working fine.

The problem is that the users signed in using facebook are not showing up in any group or pool in the cognito console. A separate 'group for facebook users' is created in identity pool, but even after multiple federated logins, it still says no user.

So I want to know how to add federated s

[2018-06-25 07:01] pjarts commented on #1060
No worries. I just commented on this issue though. My solution may not solve the author's problem.

[2018-06-25 09:44] nielsgl commented on #789
@UnleashedMind I have a similar issue.

In a new project I'm using auth type `AWS_IAM`, and `awsmobile configure aws` is set to region `us-west-2`. When I enable and push `cloud-api` everything gets deployed to `us-west-2` as expected, then enabling `database` it also works and creates a database in `us-west-2`.

However, when I enable and push _appsync_ next, it does create the AppSync app in `us

[2018-06-25 10:02] paul-doherty commented on #915
@powerful23 I updated there to 2.0.11 and I am afraid it still behaves the same way. I also unlinked and relinked and it made no difference.

[2018-06-25 12:10] Cris87 commented on #1093
@haverchuck

Thanks for getting back to me so quickly 👍

Yes, you are correct I did mean the API Gateway :). I'm using `Serverless` framework and my backend is a small Express.js app, I've installed `cors` npm and initialize it using: `app.use(cors());` as per npm instructions. When that did not work I manually enabled it directly in API Gateway as well but got the same result.

[2018-06-25 14:21] EgidioCaprino opened #1100 "In this environment the sources for assign MUST be an object. This error is a performance optimization and not spec compliant."
[code]
Produces:
[code]
In `package.json` I have:
[code]

[2018-06-25 15:36] grugna opened #1101 "BUG - cannot get guest credentials when mandatory signin enabled"
I set up my reactJs app with Amplify for the login:

Amplify.configure({
  Auth: {
    mandatorySignIn: true,
    region: config.cognito.REGION,
    userPoolId: config.cognito.USER_POOL_ID,
    identityPoolId: config.cognito.IDENTITY_POOL_ID,
    userPoolWebClientId: config.cognito.APP_CLIENT_ID
  }
  ,
  Storage: {
    region: config.s3.REGION,
    bucket: config.s3.BUCKET,
    identityPoolId: co

[2018-06-25 15:53] dehuszar commented on #1091
Okay.  I've made it a quick step forward, but hit another hurdle.  As before I can sign in from the React / Amplify app, refresh my Ember app (using just the amazon-cognito-identity-js package) and it will properly restore it session.  I can now also sign _out_ from either app and have the cookies properly invalidated / removed.

I am still unable to sign _in_ from the Ember app and have the React

[2018-06-25 16:52] #1048 closed

[2018-06-25 17:38] powerful23 commented on #1014
@alishah-edgy sorry for the late. I tried to reproduce it but seems fine to me. Are you using the latest version of Amplify? Can you provide more details around this issue?

[2018-06-25 17:57] powerful23 commented on #1091
@dehuszar in your ember app, did you pass your cookieStorage when initializing the user pool object? like:
[code]

[2018-06-25 18:39] powerful23 commented on #915
From your error log seems like it was complaining about you are trying to cache something on immutable object. Are you using the default storage which is `localStorage` in the browser?

[2018-06-25 18:56] powerful23 commented on #1101
@grugna if you set `mandatorySignIn` to true, then users are not allowed to get the aws credentials and use the S3 unless they are signed in.

[2018-06-25 19:31] kaxcode opened #1102 "Update documentation on how to bootstrap this project and get tests running."
Do you want to request a feature or report a bug?
Neither? Missing Documentation.

What is the current behavior?
No documentation on how to bootstrap this project and get the tests running.

[2018-06-25 19:37] dehuszar commented on #1091
Yup, I am using the Storage property on all my invocations of the user pool

[2018-06-25 21:00] powerful23 commented on #1091
From I know Amplify doesn't do anything to that Storage part. Can you try to sign in with the ember app and then iterate all the items from the CookieStorage from both apps to see if there is any difference?

[2018-06-25 21:48] mlabieniec commented on #1102
@kaxcode here are the docs for local dev / setup:
https://github.com/aws/aws-amplify/wiki/Local-Development

[2018-06-25 21:48] #1102 closed

[2018-06-25 21:54] powerful23 commented on #1077
@fangleen I think you need to tell Jest that you are running the tests in react-native environment so it should pick up the right file which should be https://github.com/aws/aws-amplify/blob/master/packages/aws-amplify/src/Common/ClientDevice/reactnative.ts

[2018-06-25 22:29] #712 closed

[2018-06-25 22:36] powerful23 commented on #994
@stripathix are u still facing this issue?

[2018-06-25 23:51] powerful23 commented on #1063
Feel free to reopen it if you are still facing this issue.

[2018-06-25 23:51] #1063 closed

[2018-06-26 01:42] fangleen commented on #1077
Thanks @powerful23, after change the preset from "jest-expo" to "react-native", the test pass.
` "jest": {
    "preset": "react-native"
  },
`

[2018-06-26 03:13] qispark opened #1106 "federatedSignIn with Google provider not working if Unauthenticated Identities not enabled"
**Do you want to request a feature or report a bug?**

Bug, I think

**What is the current behavior?**

I'm currently using 'react-native-fbsdk' and 'react-native-google-signin' in conjunction with Amplify to provide social sign-in.

With Unauthenticated Identities enabled, I have Auth.federatedSignIn working with both providers and returning a Cognito Federated IdentityId.

However, when I turn U

[2018-06-26 03:38] jamesvsshark commented on #1048
Hey sorry I missed the notification of your comment. My app is a react app but it was not created with CRA but I was able to resolve the issue by adding this line into my .yarnrc file

`registry "https://registry.npmjs.org"`

Thanks for your help and your attention!

[2018-06-26 06:06] tarundhillon commented on #1060
Thanks for the replies and suggestions. I have tried the below two suggestion on configutatoin within the main.ts but I am still not able to persist the user

[code]
[code]

I am using "aws-amplify": "^0.4.4",. Is there a different implementation for Angular and React ?
Thanks

[2018-06-26 07:30] krystiangw commented on #642
+1

[2018-06-26 08:00] caojianfei opened #1107 "aws-amplify-angular is only support angular5 now. will that package update soon?"
In angular 6.x , aws-amplify-angular is no longer supported

[2018-06-26 09:28] hassankhan commented on #663
@powerful23 Can you clarify why you closed the issue without any explanation, please? This is a significant issue for people who haven't used the `awsmobile-cli` tool to create their AWS stacks.

[2018-06-26 09:48] pjarts commented on #1060
@tarundhillon Do you use the `AmplifyService` from  the _aws-amplify-angular_ package at all?

[2018-06-26 10:25] romainquellec opened #1108 "Typescript 2.9.2 and type error"
Hi ! I just updated typescript to escape a crafty bug with previous version of typescript.
Now, I've got this error with aws-amplify.

[code]

[2018-06-26 11:45] alishah-edgy commented on #1014
@powerful23 Yes I am using latest version of 2.0.11. Here is trace of both results.

I call the changepassword once but it responds twice.

![image](https://user-images.githubusercontent.com/35536928/41909322-2ca59bba-7960-11e8-9e56-13b079522f70.png)

[2018-06-26 12:12] mrspeaker commented on #1096
I think it's possible, because I think I accidentally did it following one random blog: but I don't know which one!

In my initial Cognito test I set up a web app with a signup page with text fields for user/password. A new user would then correctly appear in the Congito user pool as "STATUS: UNCONFIRMED". Next I tested adding a "signup via google" - the button would redirect to google, the user l

[2018-06-26 14:11] EgidioCaprino commented on #1100
Do you know a workaround I could use until fixed?

[2018-06-26 14:11] #1089 closed

[2018-06-26 14:14] Loghrenar opened #1109 "[Storage & Angular6] Error on put method with aws-amplify"
Do you want to request a feature or report a bug?

In my opinion it's a **bug**

What is the current behavior?

I was working with latest version of **Angular5** with aws-amplify and **Storage** service to upload files in a specific **S3** bucket (which was working). For reasons i switched to **Angular6** and it seems like i'm facing errors i never saw before.

=> `StorageClass - ensure credential

[2018-06-26 14:28] Jasminou opened #1110 "Bug When sign in/sign up /forget password using aws amplify with ionic"
Do you want to request a feature or report a bug?
Bug

What is the current behavior?
Can't sign in or sign up or forgot password(email are not even send) with aws amplify on mobile (with ionic-cordova). and getting this error message:
{code: "UnknownError", message: "Unkown error" }
Also is working fine on webApp

If the current behavior is a bug, please provide the steps to reproduce and if possi

[2018-06-26 14:48] grugna commented on #1101
@powerful23 thank you for the response. I didn't mention it but I do the login like suggested on the documentation:

await Auth.signIn(this.state.email, this.state.password);

[2018-06-26 15:24] edzillion opened #1111 "awsmobile-cli using wrong/old aws credentials"
### Do you want to request a feature or report a bug?

Bug

### What is the current behavior?

[code]

I can't figure out what is setting the old credentials. I uninstalled awsmobile-cli and also the normal aws-cli just in case that was conflicting. Once I reinstall awsmobile-cli it already has the OLD credentials set.

I checked my environment variables just to see if something was set there. not

[2018-06-26 15:31] vivekFAGH commented on #1094
To clarify, I've added S3 privileges on the auth role asssigned to the identity pool

[2018-06-26 16:03] edzillion commented on #1111
OK I found [this help page](https://www.npmjs.com/package/awsmobile-cli#awsmobile-configure) on the awsmobile-cli npm package page

which states

Running `awsmoblie configure aws` outside the project directory **and** inside fixed this problem.

I guess if it is a bug it is something to do with the cli not using the local settings.

[2018-06-26 16:16] youngbob opened #1112 "Changelog not updating"
The root `CHANGELOG.md` has not been updated between the 0.4.1 and 0.4.6 (currently) releases.

[2018-06-26 16:31] grugna commented on #1101
My problem was that the user in the User Pool was flagged to change is password, so he would never get his role until the password was updated.

[2018-06-26 16:31] #1101 closed

[2018-06-26 16:49] jchirschy commented on #685
Hello,

Using Express with the middleware or not with this on the lambda side :
[code]
`cognitoIdentityId` remains null.
`Auth.currentAuthenticatedUser();` shows me clearly that the user is logged in.

Did I miss something ?
Thanks for your help.

[2018-06-26 17:11] JacobMGEvans commented on #994
@powerful23  Almost certain that was the issue and your [#1008 Fix](https://github.com/aws/aws-amplify/pull/1008) solved it. The additional error handling would also give more information on this threads error anyways.

[2018-06-26 17:21] josoroma opened #1113 "Does using AWS Mobile Hub + AWS Amplify will carry or rise problems with a HIPAA Audit process?"
Hi,

Just a concern about using AWS Mobile Hub + AWS Amplify in order to make easier our tasks on the frontend side:

Does the use of AWS Mobile Hub + AWS Amplify will carry or rise problems with a HIPAA Audit process?

Thanks!

[2018-06-26 17:24] powerful23 commented on #1077
Cool, feel free to reopen if you are still facing this issue.

[2018-06-26 17:24] #1077 closed

[2018-06-26 17:33] josoroma commented on #1113
We don't see Mobile Hub listed as service here:

 * https://aws.amazon.com/compliance/hipaa-eligible-services-reference/

ooooooor... is it just a tool that will help our app to securely and easiily talk with a plethora of Amazon Web Services?

[2018-06-26 17:51] powerful23 commented on #707
@apanagos @kickthedragon Sorry for the late. Can you provide more details like what's your Cognito User Pool settings and the auth flow type when calling the function so that I can try to reproduce it.
@jaemsnrg for now I have no idea about this issue.

[2018-06-26 18:22] powerful23 commented on #663
@hassankhan Sorry about that. I thought you have answered that question but seems like not, will reopen it.
Also I have some supplement about question 1 and 2:
1. To make your S3 bucket public to your guest users, if you are using Cognito Federated Identity Pool, you can assign an IAM role to your unauthenticated access and in that role grant the permission to access certain public path in your bu

[2018-06-26 19:51] Birowsky commented on #542
@powerful23 Hey there, thanx for actively helping out. In Cordova apps, we cannot use the Cognito hosted UI for Google auth. What is the recommended approach for auth with Google?

I went [this route ](https://stackoverflow.com/a/51050200/592641)with no success.
What do you recommend?

[2018-06-26 20:41] powerful23 commented on #542
@Birowsky if you only want to get a valid AWS credential from Cognito Federated Identity Pool, then `Auth.federatedSignIn` would be enough for you to retrieve one once you provide the token from Google. Check this: https://aws.github.io/aws-amplify/media/authentication_guide#enabling-federated-identities and also this: https://docs.aws.amazon.com/cognito/latest/developerguide/google.html#JavaScrip

[2018-06-26 20:45] Birowsky commented on #542
@powerful23 ah, no, I need to end up with a session from a user pool, not identity pool. Any input there?

[2018-06-26 20:52] powerful23 commented on #1106
Hey thanks for your feedback. Did this error pop up when you are signing In using `Auth.federatedSignIn()`? Can you provide some code snippets?

[2018-06-26 21:04] powerful23 commented on #1108
@romainquellec can you set the `noImplicitAny` to `false` in your typescript config? Unfortunately for now amplify hasn't eliminated all the implicit any types yet.

[2018-06-26 21:18] powerful23 commented on #1110
Can you look into the network tab and provide some info around the sign in http request?

[2018-06-26 21:21] Jasminou commented on #1110
@powerful23 it's not possible for me now to reproduce the issues its working again sinece few minutes ( didn't work all day. It's first time that I was facing this issues

[2018-06-26 21:23] Jasminou commented on #1110
@powerful23 I did see 302 http code in the request and 200 for the get one, I don't know if its related to the 302

[2018-06-26 21:36] yuntuowang commented on #542
Hi @Birowsky, we haven't supported this feature yet. It is on our roadmap. Thanks!

[2018-06-26 21:38] Birowsky commented on #542
@yuntuowang oh dear.. just spent a day on it :} Good to know it's being considered. Where do I track progress on it? Any vague estimation?

[2018-06-26 21:42] mattychen commented on #975
@supun19, yes you should set permissions in cognito. This can be achieved by adding a policy to your identity pools auth role.

[2018-06-26 21:48] yuntuowang commented on #542
It is hard to comment on the delivery time at this point. Once this feature is released, I will post on this issue!  TOKEN and AUTHORIZATION endpoints are for cognito flows.

[2018-06-26 22:55] wzup opened #1120 "Q: Cognito Auth vs. Cognito Identity? Difference?"
What's the difference?
Why two?
Why no docs about difference?
What to use for what use cases?

https://github.com/aws/amazon-cognito-auth-js
https://github.com/aws/aws-amplify/tree/master/packages/amazon-cognito-identity-js

[2018-06-26 23:05] ddemoll opened #1121 "react-native PushNotification.onRegister called twice on Android"
PushNotification.onRegister is called twice on android causing duplicate endpoints in Pinpoint segment. This bug causes duplicate push notifications sent to android devices.

Code:
[code]

Console output:
{[DEBUG] 56:04.895 Notification - update endpoint in push notification: "d-BxWr2r6sU:APA91bHyoJ7bocoq4KeF3wyBIM8XQwMIGSTgt8…T737-LwwpzEvSTDL6cdyuS1n9XOwhuLKatDv7gFblh2u-h9Ig"}
 in app registratio

[2018-06-26 23:52] wzup opened #1123 "What is Auth.currentUser()? Why not documented?"
#### Do you want to request a feature or report a bug?

Bug

#### What is the current behavior?

Nobody knows. No any info in docs

#### What is the expected behavior?

At least some info in docs

#### Issue
Here is your code. `Auth` class uses [Auth.currentUser()](https://github.com/aws/aws-amplify/blob/1c0073b220ed8273392ff0fa4088cc8b6b9d6537/packages/aws-amplify-react/src/Auth/AuthStateWrapper.

[2018-06-26 23:54] powerful23 commented on #1112
Hi recently we are moving on to use `lerna` to produce change logs automatically so that one is deprecated. We will update it later on

[2018-06-27 00:43] mlabieniec commented on #1123
@wzup thanks for the feedback and apologies for the confusion. We are working on revamping our docs as well as getting the API docs (which are auto-generated) updated with each build. Also, we are working on a revamp on the Auth class, it's been through a lot and has some confusing methods. We have a plan on cleaning this up and will have an update with fixes to the parts that have been vocally co

[2018-06-27 00:53] mlabieniec commented on #1112
@youngbob apologies for the confusion here. We've been working this sprint moving towards automatic publishing and conventional commits. This updates each individual packages/**/changelog.md files. We have a PR to update this file currently
https://github.com/aws/aws-amplify/pull/1115

[2018-06-27 04:11] qispark commented on #1106
Yes, I was using Auth.federatedSignIn().

My approach is very similar to to the example here: [https://github.com/patw0929/react-native-amplify-cognito-example](https://github.com/patw0929/react-native-amplify-cognito-example).

[2018-06-27 04:55] jaehyeon-kim commented on #941
I have the same issue either by `Auth.currentUserInfo()` or `Auth.userAttributes(user)` - both don't return custom attributes.

Checked with Python boto3 as well - GetUser doesn't return custom attributes while AdminGetUser does. The former requires access token while pool id and username are necessary for the latter.

I wonder if GetUser is called instead of AdminGetUser.

[2018-06-27 06:13] ChandruNextbrain commented on #612
Hi @yuntuowang ,

Is that feature is implemented. Please respond asap. Thanks.

[2018-06-27 07:04] wzup commented on #1067
@haverchuck

Here is why the method I ask for is important.

With current authflow we have to signin and then signout a user just to check if an email (username) already exists:

[code]

[2018-06-27 07:06] wzup commented on #1120
@mlabieniec

Amplify doesn't have very important method - check if a username (email) already exists in Codnito User Pool.
Here is my issue on that
https://github.com/aws/aws-amplify/issues/1067#issuecomment-400565311

[2018-06-27 07:15] wzup commented on #1123
@mlabieniec

But which one of those to use instead? https://aws.github.io/aws-amplify/api/classes/authclass.html

The goal is initially on app bootstrap to check if a user is authenticated or not. Forward a user to personal area or display a Login screen.

`Auth.currentUser()` did exactly that I guess. Why do you deprecate it? There are no alternatives currently

[2018-06-27 08:09] wzup opened #1124 "Q: What Auth method to use after confirmSignUp method?"
### Do you want to request a feature or report a bug?

Question

### What is the current behavior?

Nobody knows, it's not documented

### What is the expected behavior?

Seamless login. After confirmation a user is logged in smoothly, no additional login screen required.

[code]

"aws-amplify": "^0.3.3",
Chrome Version 67.0.3396.87 (Official Build) (64-bit)

[2018-06-27 08:31] Jp3rd commented on #399
@mlabieniec I am experiencing the same issue. You are still not getting what @kanteankit is saying.

We are talking about the **JWTOKEN** from Cognito. Not the one from the identity provider(eg. Facebook, Google.)

After using Auth.federatedSignIn it only returns the Cognito credentials Obj. So the question is, How do we get the **JWTTOKEN from Cognito** after the use of Auth.federatedSignIn?

[2018-06-27 11:55] svzi commented on #606
@yuntuowang Could you please share the link of the feature request? I'm interested in that topic as well.

[2018-06-27 12:29] pjarts opened #1125 "Possibility to specify role ARN for IAM credentials"
Feature request.

Currently, is it not possible to specify which role arn to use when creating `CognitoIdentityCredentials`. According to [the documentation](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/CognitoIdentityCredentials.html) you can specify a `RoleArn` to use when creating `CognitoIdentityCredentials`.

I have multiple applications with a shared user pool. Each application ha

[2018-06-27 13:01] Birowsky opened #1126 "Support Google auth in Cordova apps"
# Basic Cognito feature request

In Cordova app, currently there is no way to use Google to authenticate user into a Cognito user pool.

In web-apps, the hosted ui approach works nicely, but Google [has banned the use of in-app browser](https://developers.googleblog.com/2016/08/modernizing-oauth-interactions-in-native-apps.html?m=1) for mobile apps. Now, altho there are AWS libraries that solve au

[2018-06-27 13:04] Birowsky commented on #542
For anyone interested, I logged the [Google auth in Cordova issue here](https://github.com/aws/aws-amplify/issues/1126). Let's hope for results as soon as possible. Have a good one!

[2018-06-27 13:20] andidev commented on #685
@mlabieniec
I think I need more assistance. This context does not get populated for me. I do however not use Aws Mobile. Just plain Cognito User Pool and Cognito Identity Pool. Is that a problem? I have configured my identity pool to use my User Pool as a Authentication provider (just as aws mobile does). I have tried to configure AWS_IAM on my API but that does not seem to work since I get a 403

[2018-06-27 13:33] EgidioCaprino opened #1127 "Setting Authorization header by default"
## Do you want to request a feature or report a bug?
Feature.

## What is the current behavior?
When setting up Amplify with `Amplify.configure` I'm not setting `API.graphql_headers`. When calling `API.graphql` I get a `401` unauthorized error, even though the user is authenticated. I'm using `aws_appsync_authenticationType: 'AMAZON_COGNITO_USER_POOLS'`.

If I manually set
[code]
then `API.graphql

[2018-06-27 13:38] wzup opened #1128 "What is verifiedContact method? Why?"
What does it do in React Native environment?

https://aws.github.io/aws-amplify/api/classes/authclass.html#verifiedcontact

[2018-06-27 14:17] goldenbearkin opened #1129 "Angular: Cannot read property 'Storage' of null"
Do you want to request a feature or report a bug?
bug

What is the current behavior?
<img width="1139" alt="screen shot 2018-06-27 at 10 11 49 pm" src="https://user-images.githubusercontent.com/11225712/41979548-fac96732-7a56-11e8-9b44-9d01b035c462.png">

Steps to reproduce:
I haven't done much, just
1) ng new test-amplify
2) add below to main.ts
[code]
What is the expected behavior?
no error

Whi

[2018-06-27 15:55] adezeeuw commented on #707
I had the same issue. Appears to be related to not implementing the optional "new password required" callback in my authenticate user call.

https://docs.aws.amazon.com/cognito/latest/developerguide/using-amazon-cognito-identity-user-pools-javascript-example-authenticating-admin-created-user.html

If that's the case, it would be great if you guys could give us a meaningful error (like "newPassword

[2018-06-27 15:59] goldenbearkin commented on #1129
My bad. Need to fill some of the parameters even the amplify configure states optional.

[2018-06-27 15:59] #1129 closed

[2018-06-27 16:17] mlabieniec commented on #1128
This method provides a map of verified contact methods e.g. email and/or phone number and which ones are/have been verified:
https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-settings-email-phone-verification.html

[2018-06-27 16:45] yuntuowang commented on #612
Hi @ChandruNextbrain, this feature is not released yet. Thanks

[2018-06-27 16:54] itchingpixels commented on #1066
@wzup : simply do require('node-fetch') before you load amplify.  it works for me

[2018-06-27 17:30] powerful23 commented on #1106
@qispark I tried to reproduce it but it works for me. Can you confirm this error shows up after you sign in with google? Thanks

[2018-06-27 17:58] powerful23 commented on #941
@jaehyeon-kim can you leave that `Set attribute read and write permissions` as default and try again? I just found if you don't configure anything then it will return all the attributes you have.

[2018-06-27 18:21] powerful23 commented on #399
@Jp3rd sorry for the confusion but with `Auth.federatedSignIn` you are only getting the credentials but not a Cognito User back so there is no JWT token from Cognito but only tokens from your federation providers.

https://github.com/aws/aws-amplify/wiki/FAQ#how-can-i-get-jwt-token-when-using-amplify-to-get-federated-users-login

[2018-06-27 20:33] luisgurmendez commented on #974
Correct me if I'm wrong, but doesn't getSession automatically refreshes the accessToken?

https://github.com/aws/aws-amplify/blob/master/packages/amazon-cognito-identity-js/src/CognitoUser.js#L1160

[2018-06-27 21:31] jaehyeon-kim commented on #941
@powerful23

I tried multiple amplify versions without checking custom attributes to be readable and they weren't returned.

Testing with Python is, with leaving custom attributes unchecked, they are not returned with GetUser. It is AdminGetUser that returns all attributes regardless.

[2018-06-27 22:03] powerful23 commented on #1124
After confirmation you need to jump back to your sign in page and ask users to sign in with `Auth.signIn()`

[2018-06-27 22:58] #1097 closed

[2018-06-27 23:16] powerful23 commented on #941
@jaehyeon-kim can you try `Auth.updateUserAttributes(user, attributes)` to see if you could update those custom attributes?

[2018-06-28 01:46] Josecc commented on #1063
I have the same issue using the react `aws-amplify` lib.

[2018-06-28 02:25] benevolentprof opened #1135 "What is returned by Storage.get when the file doesn't exist?"
If I make a call to Storage.get, such as the code snippet below, and test.txt doesn't exist in the S3 bucket, what is returned?

Storage.get('test.txt')
    .then(result => console.log(result))
    .catch(err => console.log(err));

I'm finding that it returns a URL that results in a 404.

Which versions of Amplify, and which browser / OS are affected by this issue? Did this work in previous versio

[2018-06-28 02:59] smellysocks12314 opened #1136 "How can I change the Section Header words on Authenticator React Native?"
Apologies for the naive question but I was scratching my head for quite some time going through the source code and I can't seem to find forums for this question. I'm using the default withAuthenticator component for my React Native application. The default works well for my purpose but I only need to change the default header text of "Sign In" to another String Value Is there an easy way to do th

[2018-06-28 06:55] SamVerschueren opened #1137 "AWS AppSync multi client support"
Do you want to request a feature or report a bug? *Not Sure*

**What is the current behavior?**

I described a lot of our use case on the [AWS forum](https://forums.aws.amazon.com/thread.jspa?threadID=284905), it might be interesting for some background of how our architecture works.

Currently, the result of a `subscription` call returns an array of 2 `mqttConnections`. In the source code, we not

[2018-06-28 08:11] clementAC opened #1138 "Cognito user administration/management"
Do you want to request a feature or report a bug?

It's a feature request

What is the current behavior?

Currently it's not possible to make simple user administration without going to cognito web GUI. For exemple, listing users from user pool, deleting or deactivate users.

What is the expected behavior?

The expected behavior is the possibility to interrract via amplify with cognito to make sim

[2018-06-28 14:53] #1112 closed

[2018-06-28 16:20] mlabieniec commented on #1086
Just to add a resolution/clarification here. Our build system (circleci) does publish to npm. Npm had a recent outage that seems to have caused this version from not getting published correctly. We verified that our system said successfully published but npm's website didn't show the version. We published again and it worked. We then also verified it was part of the issues there.

[2018-06-28 18:16] mlabieniec commented on #1135
That is correct. 404 is a file not found http error code which is correctly returned.

[2018-06-28 18:16] #1135 closed

[2018-06-28 18:40] Antonyselt commented on #1109
I have the same issue here! It works just fine in angular 4, I follow a tutorial and it works but I try to duplicate the example with angular 6 and I always getting this Error: ` Cannot read property 'Stream' of undefined`

[2018-06-28 18:45] dehuszar commented on #1091
@powerful23 Other than the time-related attributes, `dti` is the only attribute which might be of issue (though I don't fully understand what it's purpose is).

Would ports on domains be an issue?  HTTP vs HTTPS?  I have `secure` set to off for the moment.

[2018-06-28 19:01] ArmorDarks commented on #1006
Here is some of my experience in solving this issue.

Actually, `Auth.currentSession()` works just fine offline, as well as `Auth.currentAuthenticatedUser()`.

If you're offline, both will return data from already created by Amplify localStorage entries — current session and current user.

So, you can use those safely to ensure that user actually has authenticated and his session at least _seems t

[2018-06-28 20:39] powerful23 commented on #1135
@benevolentprof you can use [Storage.list()](https://aws.github.io/aws-amplify/media/storage_guide#list) to get all the keys under a specified path and then you can check whether the file is among those keys.

[2018-06-28 20:50] powerful23 commented on #1091
Sorry but what's `dti`? I don't know if HTTP or HTTPs matters. As long as your apps are under the same domain then they should be able to access the CookieStorage. @mlabieniec if you know about `dti`

[2018-06-28 21:36] powerful23 commented on #1091
By the way, if you have `secure` on then you need to have to use HTTPS, according to https://github.com/js-cookie/js-cookie#secure

[2018-06-28 22:01] baharev commented on #570
@powerful23 Don't know yet. After upgrading the packages, I cannot event start my application. I just love npm, and upgrading packages: It usually takes several hours to get everything up and running again.

[2018-06-28 22:16] baharev commented on #570
Please help, I am unable to upgrade to the latest version. I am definitely not using ChatBot in my application, 100% sure about that. It seems to me aws-amplify is causing the problem:

[code]

**What piece of information do you need to figure out what went wrong?**

[2018-06-28 23:19] powerful23 commented on #885
Closing the issue. Feel free to reopen if you have any question about that.

[2018-06-28 23:19] #885 closed

[2018-06-28 23:51] #927 closed, assigned to nobody

[2018-06-29 01:18] jnreynoso commented on #760
+1

[2018-06-29 02:07] VicFrolov opened #1143 "Signing into a user pool with facebook/google, user not persisting? (REACT-NATIVE)"
We are using `Auth.signIn` for users in our user pool, and all is working as expected. We use an idToken to authorize users. We have all custom UI, and are using react-native and Amplify.

When we tried setting this up to log in with Facebook/Google, we are running into issues. Our two options were:

1) Use Cognito web portal:
a) Open up the web view for Cognito -> Federation Identity Providers.
b

[2018-06-29 03:44] qispark commented on #1106
My bad - looks like I put in the wrong Google Android Client ID in the Mobile Hub User sign-in setup. After putting in the right ID, it now works.

Though, I find it strange that "Unauthenticated access is not supported for this identity pool." comes up as the error, maybe that can be altered to be more useful?

[2018-06-29 03:44] #1106 closed

[2018-06-29 04:45] tarundhillon commented on #1060
@pjarts yes i do, I am using it for

[code]
but for signIn and currentAuthenticatedUser I am using  Auth  from 'aws-amplify' as shown at the top

[2018-06-29 05:20] pjarts commented on #1060
@tarundhillon I would try and enable verbose logging to see in which order Amplify does stuff.
Change `var logger = new Common_1.ConsoleLogger('AuthClass');` to `var logger = new Common_1.ConsoleLogger('AuthClass', 'VERBOSE');` in your _node_modules/aws-amplify/lib/Auth/Auth.js_ file and rebuild your app. That's how I noticed it was trying to get the current user before it was configured.

[2018-06-29 05:52] bentranmyriota opened #1144 "Fail to authenticate users on Safari mobile"
Hi all,
I have this weird issue that only occurs on safari mobile. Whenever trying to call cognitoUser.authenticate function to login, it throws WDS disconnected error. Wonder if anyone knows the solution for this issue.

Thanks

[2018-06-29 08:38] mrowles commented on #382
@powerful23 Can I ask that you please read the entirety of the request at hand? I also have an issue with how we have to implement this in a non-react application. It is fundamentally flawed.

[2018-06-29 08:49] benevolentprof opened #1145 "Storage.get('file') should throw an error if file does not exist"
**Do you want to request a feature or report a bug?**
Feature

**What is the current behavior?**

Storage.get('file') resolves to a presigned URL, whether or not the file exists.

This is a problem because the URL results in a 404, which means an extra step is needed to check the validity of the URL.

It's especially a problem in Angular, when using constructs such as the following in the ionic aw

[2018-06-29 14:19] dehuszar commented on #1091
Yeah, I'll turn `secure` on as we move towards production, but it's not critical while we stand things up.

The jti attribute is shorthand for the [JWT id](https://tools.ietf.org/html/rfc7519#page-10).  It appears to just be a token uniqueness tool, but I wasn't sure if that uniqueness might be being enforced in some way.  I'm going to try getting the React server running on HTTPS and see if that

[2018-06-29 14:30] mrchief commented on #488
This needs to be prioritized! I'm trying to use auth APIs but I'm also getting Chatbots and stuff - which is extra bad because Chatbot requires me to add babel-polyfill to my site - which is another bloat.

Tree shaking can be supported without moving to rollup. I hope this can be done soon.

[2018-06-29 14:51] dehuszar commented on #1091
Looks like even with `secure: false`, the tokens won't work across sites unless they share the same protocol.  Switching the React app to use HTTPS did the trick.

Thanks for everyone else's help

[2018-06-29 14:51] #1091 closed

[2018-06-29 17:04] powerful23 commented on #488
Hey guys we are working on to make the whole library modularized which means you can import only certain module as you want. For now it's in the branch `version-1.0.0` as you can have a look and may give us some feedback!

[2018-06-29 17:30] powerful23 commented on #239
@lorecrafting it's in our roadmap. Recently we are working on another project but we will try to bring this out ASAP. Thanks!

[2018-06-29 18:09] NathanH81 opened #1146 "PubSub with Cognito Auth User Closing Socket When Trying To Subscribe"
Do you want to request a feature or report a bug?

Bug

What is the current behavior?

When trying to connect to PubSub with a Cognito Authorized user, the socket closes when trying to subscribe to topic. It was working previously and stopped all of a sudden after no changes. Unauthorized user is able to connect to PubSub. Can confirm that the IoT policy is attached to the cognito identity as well

[2018-06-29 18:10] powerful23 commented on #570
@baharev thanks for reporting. It's a bug. We will publish a patch to fix it today.

[2018-06-29 18:28] NathanH81 commented on #1146
Saw another error that I'm placing here

[code]

[2018-06-29 18:33] mrchief commented on #488
@powerful23 That's great news. Is it published on npm under some tag? I cannot use github branches as package sources due to corporate policy.

[2018-06-29 18:48] powerful23 commented on #488
@mrchief Not yet but we will publish a beta version ASAP

[2018-06-29 18:49] powerful23 commented on #1145
Related to #1135

[2018-06-29 18:57] powerful23 commented on #1144
Hi can you provide more details like which version of cognito, IOS, and safari module you are using. Also can you check your webpack config? https://stackoverflow.com/questions/36917722/keep-getting-wds-disconnected-error

[2018-06-29 19:10] powerful23 commented on #1143
Hi thanks for your feedback.

For the first option, do you mean using Cognito hosted UI to get you sign in with Facebook/Google?

For the second option, you are actually signing with Facebook/Google and get a AWS credentials from Cognito Federated Identity pool, for details: https://github.com/aws/aws-amplify/wiki/FAQ#how-can-i-get-jwt-token-when-using-amplify-to-get-federated-users-login

Also we

[2018-06-29 19:36] baharev commented on #570
@powerful23 Please do, I would like to work on my project during the weekend.

[2018-06-29 19:51] powerful23 commented on #570
@baharev I think for now you can just rollback to previous version like `aws-amplify-react@0.1.52`

[2018-06-29 19:56] elorzafe commented on #250
Hi @just4give now amplify supports lex on Interactions category.
https://aws.github.io/aws-amplify/media/interactions_guide

[2018-06-29 19:57] elorzafe commented on #537
Hi @MohammedShabeeb amplify now support Amazon Lex on Interactions category. Take a look!
https://aws.github.io/aws-amplify/media/interactions_guide

[2018-06-29 20:41] lorecrafting commented on #239
Awesome, thanks for the quick update! Going to get my hands dirty soon.

[2018-06-29 21:10] powerful23 commented on #570
@baharev new version published FYI.

[2018-06-29 21:49] baharev commented on #570
@powerful23 I upgraded to the latest version (the new version you just published) but now I get "No userPool" error when I try to sign in. Any ideas?

It used to work with the old version.

[2018-06-29 21:51] powerful23 commented on #570
@baharev please ensure you both update `aws-amplify` and `aws-amplify-react` in your app or you will have duplicate `aws-amplify` pakcages in your node_modules which would cause this error.

[2018-06-29 21:52] powerful23 commented on #570
@baharev to be specific, one is under `node_modules/` and one will be under `node_modules/aws-amplify-react/node_modules`

[2018-06-29 21:54] baharev commented on #570
@powerful23 I did. When I upgrade, I delete the **entire** node_modules folder first. Furthermore, all the packages are installed locally (under the node_modules folder).

If I roll back to the old version, everything works just fine. It is the upgrade that triggers the "No userPool" error.

[2018-06-29 22:06] powerful23 commented on #570
@baharev can you confirm your amplify version is `0.4.8` and its under `node_modules/` and then your aws-amplify-react is `0.1.54` and under `node_modules/aws-amplify-react/node_modules` there should be no anther `aws-amplify`

[2018-06-29 22:07] elorzafe commented on #570
I have that problem when there are multiple amplify versions installed on node_modules. e.g.
[code]

You should remove the ones that are nested

[2018-06-29 22:38] baharev commented on #570
OK, the good news is that now I can run the latest version, finally. The package.json was pinning the aws-amplify version to an old version. My bad, sorry.

**The bad news is that I have the exact same buggy behavior on the device, as if nothing has changed.**

The iOS and the browser is at the latest stable version as far as I can tell: iOS 11.4.

By the way, I wouldn't trust the emulator. I am t

[2018-06-29 22:45] powerful23 commented on #570
@baharev thanks. We will reproduce in the native device and try to fix that.

[2018-06-29 22:48] baharev commented on #570
@powerful23 I think that is wise. I once had an issue in Chrome, and it was only reproducible natively.

[2018-06-29 23:40] SrujithPoondla opened #1149 "Type error while trying to set custom endpoints using API"
It is not a feature request or bug.

How to add custom endpoints in aws Amplify API  setup?

If I follow the [docs](https://github.com/aws/aws-amplify/blob/master/docs/media/api_guide.md#manual-setup) and use Amplify.configure(aws_exports, API:{...........}), it throws an error. TypeError: One of the sources for assign has an enumerable key on the prototype chain. Are you trying to assign to a pro

[2018-06-30 09:02] daanoz commented on #1100
I have a similar issue; my debugging lead to the graphql_headers that I have set:
[code]

Looking at the stacktrace from the OP, it could be the same cause.

[2018-06-30 12:46] Cris87 commented on #1093
@elorzafe hello, please let me know if you require any more information. I'm currently building a solution for a client and really need this to work. Thank you.

[2018-06-30 16:05] SrujithPoondla commented on #1149
This issue is resolved. The problem was I didn't add authorization token to the configure method manually.

[2018-06-30 16:05] #1149 closed

[2018-06-30 16:13] SrujithPoondla opened #1150 "AWS Rekognition in Amplify"
Do you want to request a feature or report a bug?
Request for documentation

Is there any way to call rekognition service using amplify. I tried using rekognition endpoint to post the data.

I was getting the below response:
[code]
I couldn't find any documentation related to calling other services such as rekognition using API endpoints. It would be flexible if we can have some documentation to u

[2018-06-30 16:29] mlabieniec commented on #1150
You can call any underlying service via the SDK as long as your Authentication credentials have permission see docs [here](https://aws.github.io/aws-amplify/media/quick_start#working-with-aws-service-interface-objects)

[2018-06-30 16:29] #1150 closed

[2018-06-30 17:44] oste opened #1151 "awsmobile appsync enable forces schema creation"
**Do you want to request a feature or report a bug?**
Feature

**What is the current behavior?**
When running `awsmobile appsync enable` awsmobilejs/backend/appsync is created with default comment and events schema and data tables.

**What is the expected behavior?**
It would be great if it was possible to start with an empty "Custom Schema" in the same way this is possible when choosing Create ne

[2018-07-01 00:59] johneast commented on #1003
I've rebuilt and redeployed with the latest version and can confirm it works now.

[2018-07-01 09:55] jonixj commented on #1094
+1

[2018-07-01 13:48] workforfilmsGithub opened #1152 "I am using inidan number +9198*****270 in aws amplify to sign in. it gives me error of invalid format. is there a way that i can specify country for the phone number."
Do you want to request a feature or report a bug?

What is the current behavior?

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than AWS Amplify.

What is the expected behavior?

Which versions of Amplify, and which browser / OS

[2018-07-01 13:59] workforfilmsGithub commented on #367
do anyone know how to set any other country for phone numbers in aws amplify.

[2018-07-01 14:18] workforfilmsGithub commented on #166
how to set phone_number country fromat to any other country then default US in AWS AMPLIFY.

[2018-07-01 22:15] epicfaace opened #1153 "Login with userpool works but not able to get credentials"
When I log in with a user from my user pool from the AWS amplify component, the login completes successfully. Even my `onAuthStateChange` callback is called properly with the auth data. However, when I then try to call `Auth.currentSession()`, it gives me an error, "No current user". Any idea what I'm missing here?

[2018-07-01 23:00] michaelcuneo opened #1154 "No callback from federated logins when app is saved to HomeScreen in iOS and Android."
Do you want to request a feature or report a bug? BUG

What is the current behavior? Authenticator works with federated logins for Facebook and Google inside the browser on iOS and Android. If I add my app to the HomeScreen federated sign in's never come back from the call out... it will open a Facebook window to process the login request, authorise, but never return to the app.

If the current be