[2018-09-04 16:54] mkrn commented on #1541
I'm trying to do the same with Amplify on the react side:

[code]

This works as expected but it will not update ID (identification) token used by Amplify...

Now that old ID token is sent the claims in there are not updated, server receives the old claims.

Is there any way to refresh / regenerate the id token?

[2018-09-04 17:04] powerful23 commented on #1378
@hounded yes

[2018-09-04 17:30] powerful23 commented on #1390
@andidev will try to reproduce it

[2018-09-04 17:47] hawkett commented on #1564
Yep - sorry about that! https://github.com/aws-amplify/amplify-cli/issues/107

[2018-09-04 17:55] blakeage commented on #1445
I have the same issue.  We're using Amplify 1.0.8 and Expo/React Native, and when starting Expo with --minify option, we get the same error in the simulator.  It works fine if it's not minified.  We're also including the API module, which depends on GraphQL.

[2018-09-04 18:01] #1564 closed

[2018-09-04 19:46] henrysachs commented on #1568
@haverchuck  maybe you can help me i tried forking the lib but even without any changes i get errors in Tests. Therefore I cant commit anything.

[2018-09-04 20:52] haverchuck commented on #1571
Hi @fadur -

This error message is returned when Amplify's API module doesn't receive the data from your aws-exports file... in otherwords, when the API functionality is called before Amplify.configure is successfully called.

Are you positive that 'call' is only being invoked AFTER Amplify.configure?

[2018-09-04 21:03] haverchuck commented on #1472
@jgmurray23  We have updated aws-amplify-angular so that it no longer uses Ionic as a dependency... so this error should now be addressed without manipulating typescript versions.  I'm closing the issue but feel free to reopen if the latest build doesn't fix your problem.

Thanks!

[2018-09-04 21:03] #1472 closed

[2018-09-04 21:03] fadur commented on #1571
Yes, I believe so, I keep get the same error.

[code]
<img width="1632" alt="screen shot 2018-09-04 at 23 02 03" src="https://user-images.githubusercontent.com/4476/45057710-a4b97280-b096-11e8-98d7-7c8b8005827e.png">

[2018-09-04 21:32] elorzafe commented on #1571
Hi @fadur
[code]
You are missing the export piece,`aws-exports.js` should be like this

[code]

[2018-09-04 21:33] Jun711 commented on #781
Note that list-principal-policies is deprecated. You can use list-attached-policies instead.
https://docs.aws.amazon.com/iot/latest/apireference/API_ListPrincipalPolicies.html
https://docs.aws.amazon.com/cli/latest/reference/iot/list-principal-policies.html

[2018-09-04 21:52] haverchuck commented on #1354
@jrrewers I took a look at the repository and it looks like the package-lock.json file is still using the older aws-amplify-angular package?  Does it help if you delete the package-lock.json and reinstall?

[2018-09-04 21:57] haverchuck commented on #1469
I've been digging into this a bit, and here is the current bundle size for the aws-amplify-angular package (i.e. just the amplify-angular package, not the main amplify package):

[code]

Part of the issue here is that we aren't declaring `@angular/core` as an external in our rollup config.  Doing so changes the bundle size like so:

[code]

This is a not-insignificant reduction and I'm going to op

[2018-09-04 21:58] fadur commented on #1571
@elorzafe it's there.  I just didn't paste it ,sorry.
Edited.

I've also tried configuring it manually.

[2018-09-04 22:39] markl-vesper commented on #1143
tks @powerful23

Will get the app guys to take a look if they have not already

[2018-09-04 22:41] haverchuck opened #1574 "Amplify.configure does not work when only userpool pool created"
**Describe the bug**
The new cli supports the creation of a userpool without an identity pool.  However, Amplify.configure does not configure auth unless and identity pool is present.

[2018-09-05 00:29] #1574 closed

[2018-09-05 01:14] tarunguddeti opened #1576 "Ability to specify existing dynamodb source when adding Graphql api."
When adding graphql api , the amplify cli is creating a new dynamodb table and using it as a Data Source for Graphql. It would be really useful if there could be a feature where we can add an existing Dynamodb Table as the data source.

[2018-09-05 02:47] msweetland commented on #1143
Big thanks @VicFrolov @powerful23

[2018-09-05 02:57] danmardzo commented on #29
Small note, the main docs are still not updated [Angular quick start](https://aws-amplify.github.io/amplify-js/media/quick_start#existing-aws-resources). `userPoolWebClient`  still has a different format.

The more detailed Authentication page has the correct format though.

[2018-09-05 06:23] JeremyKirkham opened #1577 "TypeError: Cannot read property 'items' of undefined inside API react Connect component"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
API (GraphQL AppSync)
Auth

** Provide additional details e.g. code snippets **
Error:
<img width="544" alt="screen shot 2018-09-05 at 4 22 07 pm" src="https://user-images.githubusercontent.com/7122713/45074716-e3e3d400-b127-11e8-8f4b-6e10befdeea6.png">

My App.js:
[code]

[2018-09-05 08:36] henrysachs commented on #1568
just reran the install commands. Seems to work now.
I think this had to do with me uninstalling the old sdks, because i used these before amplify.

[2018-09-05 10:36] engharb commented on #1565
Here is my solution:
[code]

[2018-09-05 10:36] #1565 closed

[2018-09-05 11:47] fadur commented on #1571
I've got it to work when i tried using modular imports.
So this works, as opposed to the examples in the doc.

[code]

[2018-09-05 12:42] avichopra1989 commented on #1143
@VicFrolov so with above changes from @powerful23 you are able to solve the problem? Is your user getting populated to the UserPool?

[2018-09-05 13:27] lazydragon commented on #1577
I am having similar issues, the same query succeed with API.graphql call directly, but fail with Connect.

[2018-09-05 15:10] haverchuck commented on #1571
@fadur - Glad to hear that you got it working.  I'm leaving this issue open since I think it demands further investigation.

[2018-09-05 15:11] #1568 closed

[2018-09-05 17:32] powerful23 commented on #1143
@VicFrolov there are different OAuth flows for the Cognito Hosted UI. One is `Authorization code grant`  which will return a code in the callback url and then using this code to get tokens including id token, access token and refresh token. Another one is the `Implicit grant` by which the tokens are included in the callback url but without refresh token.

So if you want to get the refresh token, y

[2018-09-05 17:39] haverchuck commented on #1566
@AntonSmatanik : Have you followed the steps listed [here](https://aws-amplify.github.io/amplify-js/media/pub_sub_guide#installation-and-configuration)?

[2018-09-05 17:45] richardzyx commented on #1410
@D2KX thanks for your response! Is it still the case with the latest release of Amplify CLI toolchain? I couldn't find any documentation on this topic, but it seems that `graphqlOperation`API doesn't have any offline and caching support even when configured with AppSync, which we rely on for our projects, and it's still better to use AppSync's offline helper https://github.com/awslabs/aws-mobile-a

[2018-09-05 18:13] sashafklein commented on #1544
Thanks @mlabieniec -- I looked into whether my serverless setup was configured for lambda or lambda-proxy, and it was the latter (more details on SO), so that doesn't seem to be the issue! Any other thoughts about what might be mucking this up?

[2018-09-05 18:16] elorzafe commented on #1530
@wbeuil can you paste some network info?

[2018-09-05 18:29] manueliglesias commented on #1554
Hi @garyrutland

Amplify issues a POST request when invoking a GraphQL query:

https://github.com/aws-amplify/amplify-js/blob/10c8edd3f48d21f5c55926679e5d5136ce0b0954/packages/api/src/API.ts#L396

[2018-09-05 18:40] manueliglesias commented on #1547
Hi @aaayushsingh

The client SDK sends two separate fields to the server: `query` and `variables`. Then the server does the replacement and executes it

[2018-09-05 18:44] #1547 closed

[2018-09-05 19:21] jorgedavila25 opened #1578 "Difference between cognitoIdentityId and cognito's sub"
**Which Category is your question related to?**
Auth
**What AWS Services are you utilizing?**
Cognito + Amplify
**Provide additional details e.g. code snippets**

I have an authenticated user that when hitting an authenticated API, the `APIGatewayEvent` request identity object in the lambda function looks like the following:

[code]

In most tutorials I've seen people use the `cognitoIdentityId` a

[2018-09-05 19:38] keitzer commented on #1521
@mlabieniec In our instance, and I believe in @itaied246 as well... we're trying to use AWS Amplify with our React Native app in order to sign users in with Facebook / Google... BUT... into the User Pools.

We've followed this guide
https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-social-idp.html?shortFooter=true

And it works with that suggested URL at the bottom of th

[2018-09-05 19:58] cevatkerim commented on #498
This is the exact issue we were having. Turning off device tracking fixed it.

[2018-09-05 21:01] powerful23 commented on #1487
@theGlenn the bug has been confirmed, will work on to fix it.

[2018-09-05 23:52] mlabieniec commented on #1477
You can find the principles of what we are providing here:
https://github.com/aws-amplify/amplify-js/wiki

Amplify in-general is meant to be a **client-focused** (mobile/web) library with escape hatches to lower-level functionality via the SDK.

[2018-09-05 23:52] #1477 closed

[2018-09-06 00:02] #1571 closed

[2018-09-06 00:52] klcantrell commented on #711
I'm running into some trouble trying to setup for guest access with federated identities.  My auth config:

[code]
And I get this error in the console:

![amplify error](https://user-images.githubusercontent.com/24497389/45128688-6b900980-b14d-11e8-88ea-fd0907c30681.JPG)

I must be missing something, but haven't found any answers on what it may be.  I shouldn't need a cognito user pool to accompli

[2018-09-06 02:22] gutobrz opened #1580 "Cognito changePassword returning "Incorrect username or password.""
When try to change password for an user already authenticated, I got "Incorrect username or password."

[code]
Response headers
[code]

My user poolId 'us-east-1_aMHyGfO7d

[2018-09-06 03:43] guanzo commented on #612
I managed to implement the redirect myself with the help of this SO post: https://stackoverflow.com/questions/47159568/how-to-redirect-after-confirm-amazon-cognito-using-confirmation-url

In Cognito's "Message Customizations" tab, under the option "Do you want to customize your email verification messages?", select "Code".

Create a cognito trigger for "Custom message". Here's my lamba code:

[cod

[2018-09-06 10:34] wdevon99 commented on #1143
Any update on the how much longer it will take to resolve this issue ! Please reply . Thank you very much :)

[2018-09-06 14:32] mikaelwecode commented on #1143
I get [Error: Cannot open, already sending] when trying to parse the webResponse

`cognitoAuthClient.parseCognitoWebResponse(webResponse)`

the response look like this "exp://localhost:19000/--/expo-auth-session?code=88ace2cc-9866-4740-b180-e3daef645f7

I use expo auth to get the code from my custom oidc from cognito.
https://docs.expo.io/versions/latest/sdk/auth-session

The users is created in t

[2018-09-06 15:13] wbeuil commented on #1530
@elorzafe I don't know why but I re-tried yesterday and it worked... Thanks anyway

[2018-09-06 15:37] haverchuck commented on #1580
@gutobrz - Thanks for reporting this.  Just from the information provided, it looks like you actually have the wrong username/password.  Assuming that isn't the case though, you might want to try using the [AWS-Amplify library Auth category](https://aws-amplify.github.io/amplify-js/media/authentication_guide.html#configure-your-app), which would also enable you to enable a [logger](https://aws-amp

[2018-09-06 15:40] dcsena commented on #297
Any update on this? Definitely something I would like added

[2018-09-06 16:07] haverchuck commented on #1469
@MainaWycliffe @dave-irvine  @gege251  -
We have merged a PR for this issue and will be deploying it to NPM soon.  It addresses the bundle size of the actual aws-amplify-angular package.  Here is the improvement:

BEFORE:
[code]
AFTER:
[code]

The bundle size issues you've noted in the other amplify modules (such as api) will need to be addressed seperately.  Thanks.

[2018-09-06 16:07] #1469 closed

[2018-09-06 16:24] TheVaporTrail opened #1582 "Is it possible to re-authenticate a password while a user is signed-in?"
** Which Category is your question related to? **
Authentication/Cognito

** What AWS Services are you utilizing? **
Authentication, Storage, Analytics

** Provide additional details e.g. code snippets **
I would like to the user to enter their password again before I perform a dangerous action, in particular, before deleting all of the user's stored data and then the user's account (with CognitoU

[2018-09-06 17:36] elorzafe commented on #1530
Cool!

[2018-09-06 17:36] #1530 closed

[2018-09-06 18:31] powerful23 commented on #1143
@tobiastornros you mean you want to use `react-native-fbsdk` to login from Facebook and use the token to exchange for a Cognito User Pool token?
@wdevon99 I can't give a timeline for that. We are still waiting for the Cognito team to provide a sdk to login into User Pool with federated providers instead of using Cognito Hosted UI.
@mikaelwecode did you give your callback function to the user handl

[2018-09-06 18:40] tobiastornros commented on #1143
@powerful23 Yes, correct.

[2018-09-06 20:30] SpainTrain commented on #1573
I think it depends on the requirements of your app.

It may be an obvious point, but Redux isn't needed (or even perhaps desirable) for simpler apps.  The basic dispatch/reduce/select functionality can be trivially implemented with recompose for small/simple apps (https://github.com/acdlite/recompose/blob/master/docs/API.md#withreducer).

The value of Redux IMO is the ecosystem of middleware and e

[2018-09-06 21:00] gutobrz commented on #1580
hi @haverchuck, I will try the Amplify and if the issue continue I let you know.

[2018-09-06 21:00] #1580 closed

[2018-09-06 21:53] nikkon226 commented on #1218
I am also having this same issue. Will a dev take a look at this please?

[2018-09-06 22:31] VicFrolov commented on #1143
@mikaelwecode @powerful23 AYYYY I got everything working! Including continue sign in :)

So

1) Commented out line 541, as the if/else seems to apply it anyway.
(https://github.com/aws/amazon-cognito-auth-js/blob/808e304aac9f61b4a1e8d9af0f8f5196d32f3ce8/src/CognitoAuth.js#L541)

2) (https://github.com/aws/amazon-cognito-auth-js/blob/808e304aac9f61b4a1e8d9af0f8f5196d32f3ce8/src/CognitoAuth.js#L273

[2018-09-06 23:36] #1525 closed

[2018-09-07 05:05] izzy26 commented on #1218
A followup to my original post:

After spending quite some time on the issue together with my colleagues and investigating different options, we came to a conclusion that this is simply **not possible with Cognito**. It is not an Amplify issue but rather Cognito as is. There is currently no way to perform a silent refresh when using the implicit flow. The reasons are following:
- Cognito does not

[2018-09-07 05:36] imewish opened #1583 "Sign Out Federated(google) users"
** Which Category is your question related to? **
AWS Amplify
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **

Hello,

I am using AWS amplify to SignUp and SignIn my user pool users and federated users in the pool,

For Cognito User pool user's I use,

`Auth.signIn(this.username, this.password)`

and for federated(Google) users to log in to th

[2018-09-07 06:42] jfo8000 opened #1584 "Cannot localize SignIn dialogs - two instances of I18n?"
For AWS Amplify React login UI - recently the localization imports for SignIn.js changed to '@aws-amplify/core' .

[code]
This means if someone localizes the dialog using the aws-amplify import, the dictionary is not picked up. It seems as if there are now two localization dictionary instances floating around?

[code]

If I immediately do a `I18n.get('Sign In') ` I get the correct key, but my dict

[2018-09-07 08:27] damien-monni commented on #925
I can't believe there is no way to handle it... We can't built app containing confidential data without this feature. Any update on this feature request?

[2018-09-07 13:27] guillaumecodet opened #1585 "AWS Cognito : How to create my own UI"
** Which Category is your question related to? **
Authentication

** What AWS Services are you utilizing? **
AWS Cognito

** Provide additional details e.g. code snippets **

At the moment I'm using the Amazon Cognito domain ( example: https://.auth.eu-west-2.amazoncognito.com ), but the customization is very limited, so I would like to create my own oauth2 ui.

I looked at the documentation, but

[2018-09-07 13:42] avichopra1989 commented on #1143
@VicFrolov can you help with the sample, our team is stuck in the same phase.

[2018-09-07 14:05] mikaelwecode commented on #1143
I think i got it. Just one question.

If i add the storage to cognitoAuthParams the token are saved in the  @MemoryStorage

But ` Auth.currentAuthenticatedUser()
          .then(user => console.log(user))
          .catch(err => console.log(err))`

Is still showing not authenticated

But I guess I can use `this.cognitoAuthClient.isUserSignedIn()` instead to check if user is logedIn or not.

So whe

[2018-09-07 14:54] nickygb commented on #1488
@powerful23 is it possible to do it without using the Cognito Hosted UI? I have to use my own UI instead

[2018-09-07 15:27] hannahbennett27 commented on #1436
Hi wdm954 - have you made any progress on your query? I'm working on a near-enough-identical example.
withAuthenticator works through its modals and renders the app once logged in when using the default settings, but seem to stay static when the log in etc components are personalised as per the docs. I'd appreciate feedback if you've had any success- Thank you!

[2018-09-07 16:31] hollsteinm commented on #375
Commenting in here as well - this is an issue for me.

[2018-09-07 16:45] haverchuck commented on #1577
@JeremyKirkham  @lazydragon

I think the issue here is that because you have placed everything in the render method, it is trying to render the element(s) before the query has completed.

Try setting a condition on the <ListView> like so:

`
    return (
      <div className="App">
        <Connect query={graphqlOperation(ListCompanys)}>
          {({ data: { listTodos } }) => (
             **lis

[2018-09-07 16:48] #1577 closed

[2018-09-07 17:04] mlabieniec commented on #925
@kbitgood @damien-monni JavaScript does not provide a native event for "close" or anything like that. The only even we would be able to use here is `onunload`:
https://developer.mozilla.org/en-US/docs/Web/API/WindowEventHandlers/onunload

The problem with this is, that this onunload occurs when the user navigates away from the page (by clicking on a link, submitting a form, closing the browser win

[2018-09-07 17:40] TheNew000 commented on #1406
I'm getting this same error from a web app.  Has anyone discovered the solution to this?

[2018-09-07 17:41] konverse commented on #1557
I search everywhere for help on this same error and rafachurre's comment helped me the most. Here is exactly how I had to pass 'this' into the cognitoUser.authenticateUser method to be able to change state after successful login.

This was the critical line for me (inside the button component):
`clicked={this.loginHandler.bind(this, this)}  `

and the following lines in the authenticateUser method

[2018-09-07 17:46] konverse commented on #487
I was having this same issue and finally got it to work with this:

rafachurre's comment on a similar thread led me in the right direction. He mentioned that the 'this' context needed to be passed into the Authentication method. Here is exactly how I had to pass 'this' into the cognitoUser.authenticateUser method to be able to change state after successful login.

This was the critical line for me

[2018-09-07 17:48] powerful23 commented on #1488
@nickygb maybe you can try this: https://github.com/aws-amplify/amplify-js/issues/1316#issuecomment-408228241

[2018-09-07 17:55] powerful23 commented on #1585
If you want to have you own customized ui, maybe you can take a look at this: https://github.com/aws-amplify/amplify-js/issues/1316#issuecomment-408228241

[2018-09-07 17:56] haverchuck commented on #1584
@jfo8000

If I understand you're question correctly, you are asking if you can continue to import I18n from `aws-amplify` in your app when the aws-amplify-react components are importing it form `@aws-amplify/core`?

If so , I believe the answer is yes.

For example, I tested with the following:

[code]
I'm importing I18n from `aws-amplify`, while the `<Authenticator />` is importing it from `@aws-

[2018-09-07 18:17] itaied246 commented on #1585
I'm also working on designing my own UI.
Didn't find a complete solution though, still try to find a way to combine all the pieces.

I would recommend you read the [docs](https://aws-amplify.github.io/amplify-js/media/authentication_guide).
Specifically, is you are using`react`, there are higher order components you can integrate and even modify the pages / components.

I would like to hear from y

[2018-09-07 18:18] VicFrolov commented on #1143
Yes, I'll be able to do it later this weekend.

@mikaelwecode
1) yes you are correct about the line, my apologies was using an old link.
2) It should set it to the same place in memory (AsyncStorage), but if it doesn't, I would erase all contents and settings in simulator, and then log a user in via Amplify. I'd then print out where it's being saved, and compare to amazon-cognito-auth-js. I didn't

[2018-09-07 18:20] TheNew000 commented on #1249
For anyone else running into this issue I resolved it by looking at the response from the network call and saw `"ChallengeName":"NEW_PASSWORD_REQUIRED"`  Then I looked up **Use case 23** in the readme docs:

[](https://github.com/aws-amplify/amplify-js/tree/master/packages/amazon-cognito-identity-js)

[2018-09-07 18:44] haverchuck commented on #1442
The { String } import has been removed from `photo-picker-factory.ts`.

[2018-09-07 18:44] #1442 closed

[2018-09-07 18:45] wdm954 commented on #1436
@hannahbennett27 Yes, I've made progress! Initially I wasn't extending Amplify's `SignIn` class.

https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-react/src/Auth/SignIn.jsx

I copied the rendered portion from the above linked class and made my desired changes. My custom `SignIn` component now looks more like this:

    import { SignIn } from 'aws-amplify-react';

    clas

[2018-09-07 19:02] #1584 closed

[2018-09-07 19:33] powerful23 commented on #1497
@sachita011993 the object you get from `AWS.config.credentials.get` is an AWS credentials which is used to sign your http request to AWS resources. I am not quite understanding why you would want to validate it?

[2018-09-07 19:36] zacharywenner opened #1587 "Typo on "Retrieve Current Authenticated User" Documentation"
**Describe the bug**
Hi, there's a small typo in "Retrieve Current Authenticated User" in the documentation.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to
https://aws-amplify.github.io/amplify-js/media/authentication_guide#retrieve-current-authenticated-user
2. There's a typo, a semicolon after ".then..." statement.

**Expected behavior**
No semicolon after then .then statement, sinc

[2018-09-07 19:57] haverchuck commented on #1587
@zacharywenner - Nice catch! I'm submitting a PR.

[2018-09-07 19:59] #1587 closed

[2018-09-07 20:09] tcchau commented on #1353
I have not even gotten to the point where I'm handling scenarios like password reset required; have had to spend an afternoon stepping into Amplify JS code to arrive at the same conclusion that there's essentially a race condition set up by the ```currentUserPoolUser``` call: the call to ```getUserData``` will always fail at least once.

This make it impossible to refresh the user's session when t

[2018-09-07 20:31] powerful23 commented on #1353
@tcchau can you provide some detailed info about your info like how you are using the library and what's the error when calling `currentUserPoolUser`. Also recently we did some fix around that method so can you ensure you are using the latest version?

[2018-09-07 22:57] jfo8000 commented on #1584
My code which used to work, broke upon upgrade to aws amplify 0.1.54.

I have since copied the code for SignIn.js to my own codebase and changed the import to the old import style... leaving everything else the same.   This seems to have fixed it?  I think there's a bug.

I don't want to have my own copy of SignIn just to change the strings.  Also this solution will break in the future, as I see y

[2018-09-07 23:17] jfo8000 commented on #1584
(For reference I am attempting to format the sign dialog to look and feel like the Pintrest login).

I can do most of it through themes.

![image](https://user-images.githubusercontent.com/16273166/45247012-f5a3c200-b347-11e8-8371-95f5c66759e3.png)

[2018-09-08 00:10] bellkev opened #1591 "Mobile number should actually be required in React HOC"
The mobile number input field in the Auth HOC is missing a required "*", though it does seem to be required in practice (you get an error if it's left blank): https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-react/src/Auth/SignUp.jsx#L113

[2018-09-08 00:28] swaminator commented on #875
@jadbox: I'd be happy to chat with you. Just share your email address here and I'll set something up.

[2018-09-08 00:28] swaminator commented on #875
@hrmoller: I don't think we were able to connect either. Can you share your email address?

[2018-09-08 02:02] tcchau commented on #1353
@powerful23 In fact, I checked the code in Auth.ts in the master branch and it does appear that it is fixed. Essentially, ```getUserData``` is called in the callback passed into ```getSession```. Thus, the library will only attempt to ```getUserData``` after ```getSession``` is completed, rather than immediately after the ```getSession``` call as it was previously.

From the blame, it actually loo

[2018-09-08 03:46] dloh007 opened #1592 ""amplify init" terminates suddenly after code editor selection with nodejs 10.10.0"
**Describe the bug**
"amplify init" terminates suddenly after code editor selection.
I'm not sure if it is a nodejs 10.10.0 bug or @aws-amplify/cli bug.
Reverting to nodejs 8.11.4 LTS fixed my issue.

[code]

**To Reproduce**
running nodejs 10.10.0 & @aws-amplify/cli@0.1.18

1. Run "amplify init" in a new project
2. Select a code editor: VS Code in my case
3. Script terminates by itself, throwing

[2018-09-08 03:47] #1558 closed

[2018-09-08 04:31] #1592 closed

[2018-09-08 05:46] thrixton commented on #54
Hi @yuntuowang, is there a feature request for this publicly accessible that we can track?

[2018-09-08 06:01] thrixton opened #1593 "AmplifyService events not emitted doing federated sign in / out actions"
** Which Category is your question related to? **
AmplifyService state events with federated identities

** What AWS Services are you utilizing? **
AuthClass, AmplifyService

** Provide additional details e.g. code snippets **
When I call `AuthClass.federatedSignIn`, no `AmplifyService.authStateChange$` event is emitted.
Likewise when `AuthClass.currentCredentials().then(creds=>creds.clearCachedId

[2018-09-08 10:13] Megajin commented on #803
Ok, after some testing today I can confirm that `Error: evaluating 'global.TYPED_ARRAY_SUPPORT'` is 100% caused by `babel --presets env` in combination with `amazon-cognito-identity.js`.

I did change this:

[code]

To this:
[code]

Thanks to @AceNorth for confirming this.

Remember to completley rebuild your app and remove all temporary files to be clean:
1. remove all from `C:\Users\Megajin\AppD

[2018-09-08 11:54] mikaelwecode commented on #1143
@VicFrolov

woho!! It works! Just erased as you said and now it started to work!

Thanks! :D

[2018-09-08 12:49] mickadoua opened #1594 "how custom Graphql Schema (eg: Add mutation)"
** Which Category is your question related to? **
API GraphQl Scheam

** What AWS Services are you utilizing? **
AppSync

** Provide additional details e.g. code snippets **
Hello, I would like to know the best way to add Custom mutation, type...

= What I tried
1) I tried to Add a mutation "updateUserLocation" on Schema.graphql. This mutation was never Added on aws appsync or on build/schema.grap

[2018-09-08 20:02] mickadoua opened #1595 "API Graphql : Parameter count xx is greater than max allowed 60"
**Describe the bug**
when I run Amplify push i received
`Template format error: Parameter count 68 is greater than max allowed 60`
if I remove one @connection, the number decrease to 64, and it i remove another couple of @connection, its work

**To Reproduce**
Steps to reproduce the behavior:
1) amplify add API and choose Graphlql API
2) edit schema.graphql
[code]
3) run amplify push

**Expected b

[2018-09-08 21:36] kaustavghosh06 commented on #1595
@mickadoua Whats the Amplify CLI version that you're using? This issue was fixed with the Amplify CLI version -> 0.1.18

[2018-09-08 21:47] mogadanez opened #1596 "How to hide Create account in sign in dialog?"
I choose "Only allow administrators to create users"
but  create account link is still present.
How to hide it? maybe it some config option?

[2018-09-09 02:49] brianfitzgerald opened #1597 "Cognito: Unable to access authentication details"
**Describe the bug**
A clear and concise description of what the bug is.

Here's my code (written in React with the latest version of Amplify):

    Auth.signIn(this.state.username, this.state.password)
      .then(user => {
        console.log("sign in success");
        console.log(user);
        userStore.setUser(user);
        Auth.currentSession()
          .then(sess => {
            console

[2018-09-09 02:55] brianfitzgerald commented on #1597
I also get `    const combinedPlugins = { ...categoryPlugins, ...providerPlugins };
                              ^^^

SyntaxError: Unexpected token ...`

when I run `amplify configure`, but I suspect that is unrelated.

[2018-09-09 04:32] kaustavghosh06 commented on #1597
Hey Brian. The above error is due to an old version of Node that you must be using. Please upgrade to the latest node version and you should be fine.

[2018-09-09 06:49] kaustavghosh06 commented on #1576
@tarunguddeti That's a great question. Could you please open this as in issue/feature request in this repo -> https://github.com/aws-amplify/amplify-cli

[2018-09-09 09:24] Gerharddc opened #1598 "CSS of withAuthenticator easily broken"
**Describe the bug**
When you wrap a component that uses something like semantic-ui-css for its styling with withAuthenticator then the styling of the Authenticator is automatically broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a barebones React app that uses withAuthenticator
2. Install semantic-ui-css
3. Import semantic-ui-css in any of your components

**Expected behavior

[2018-09-09 10:14] mickadoua commented on #1595
@kaustavghosh06  Hello,
I dont know which version I had, but after update to 0.1.18, its working,
thank you !

[2018-09-09 10:14] #1595 closed

[2018-09-09 10:28] cor commented on #1067
Are there any updates on this issue?

[2018-09-09 11:56] #803 closed

[2018-09-09 19:02] nicklee1990 opened #1599 "React Signup and Forgot Password Links not Hidden on SignIn Page Component"
**Describe the bug**
When using the default SignIn component provided by the `aws-amplify-react` package, if the SignUp and ForgotPassword components are omitted from the `authenticatorComponents` argument to withAuthenticator, or omitted as children of an `Authenticator`, the links should on the SignIn page should be hidden (L121 and L122 - set unused variables). Clicking these links causes an er

[2018-09-09 23:56] aldarund commented on #122
380kb just for auth seems excessive. Is there any plans to make it smaller?

[2018-09-10 01:32] jadbox commented on #1089
I have the same issue where Auth.currentAuthenticatedUser() gives a successful user login, but `currentCredentials` fails.

[2018-09-10 02:05] mlabieniec commented on #122
My lighthouse score for Auth+Analytics with gzip compression is around 199 KB and scores 100 on performance for PWA @aldarund @otbe

![auth analytics-no-throttle-gz](https://user-images.githubusercontent.com/1417045/45272612-1b71b980-b463-11e8-985d-6d124c394ca2.png)

[2018-09-10 02:54] alangault opened #1601 "User credential is not available after successful sign-in"
I am trying to setup federated SSO using Ping Federate and OpenID Connect.  Code hits AWS Cognito and is redirected PingFed.  After logging in successfully, AuthenticationCallback is called.

The call to Auth.currentAuthenticatedUser() in getCreds() returns "No current user".  If I continue, I see "message": "Missing Authentication Token" in the API Gateway log with a 400 error.

I've attached the

[2018-09-10 03:23] thrixton opened #1602 "Cannot "signOut" federated session"
**Describe the bug**
It is not possible to clear the session of a federated session.

**To Reproduce**

1. Sign in with a federated provider
[code]
2. Clear cached Id
[code]

**Expected behavior**
Local storage keys `aws-amplify-cachefederatedInfo` and `aws-amplify-federatedInfo` should be cleared.
`Auth.currentCredentials` should be null.

**Desktop (please complete the following information):**

[2018-09-10 07:05] DmitryNefedov opened #1603 "React customize-withauthenticator doesnt work on v2.0.0-2.0.1"
**Describe the bug**
Using `withAuthenticatior` with passed elements [as described in the guide](https://aws-amplify.github.io/amplify-js/media/authentication_guide#customize-withauthenticator) works on v 1.0.8 but shows an empty page on v 2.0.0 or 2.0.1

**To Reproduce**
Steps to reproduce the behavior:
1. use code based on Docs
[code]

**Expected behavior**
Login form should be shown, after logi

[2018-09-10 10:47] simodroussi commented on #546
I've had the same problem when I build my app (in dev mode its working well). I have pinned down the problem to aws-amplify installing amazon-cognito-identity-js in /node_modules with crypto-browserify@^1.0.9 dependency. I fixed it by updating crypto-browserify to 3.12.0 in amazon-cognito-identity-js but that only works in my local machine. When my colleagues use 'npm install' in their machines, t

[2018-09-10 13:07] bforian commented on #685
@andidev
I had similar issue with Amplify together with an Electron native app. Turned out, that `Amplify.configure()` has populated `AWS.config.credentials` with a wrong `SharedIniFileCredentials` object. Later on, Amplify tried to pick up this object instead of loading user credentials from the session.

I could force Amplify to pick up the right credentials by clearing `AWS.config.credentials`:

[2018-09-10 15:05] haverchuck commented on #1596
@mogadanez  - Are you using a particular front-end framework?  If so, which one?

[2018-09-10 15:29] mlabieniec commented on #122
@otbe thanks for the info, understood. This is definitely something we are continuing to work on, will keep this thread up-to-date as we make more progress

[2018-09-10 15:31] mogadanez commented on #1596
React

пн, 10 сент. 2018 г., 18:06 Dustin Noyes <notifications@github.com>:

[2018-09-10 15:57] henrysachs opened #1604 "Use Amplify + Aws SDK"
Hey Guys,

i would really like the S3 Part of the AWS SDK because i'm missing some of the features in amplify currently but like the auth part. Is it somehow possible to use both?

[2018-09-10 17:04] mogadanez commented on #1599
it was  there  and reverted back again

https://github.com/aws-amplify/amplify-js/blame/e1507586f5e654420822841dc2ec22014402c61f/packages/aws-amplify-react/src/Auth/SignIn.jsx

https://github.com/aws-amplify/amplify-js/blame/master/packages/aws-amplify-react/src/Auth/SignIn.jsx#L172

[2018-09-10 17:09] mogadanez opened #1605 "enabling css modules in react application broke Auth styles"
**amplyfy-react**

steps:
enable css modules:
[code]
reload project:
SignIn screen completely unstyled:
<img width="488" alt="screen shot 2018-09-10 at 19 08 11" src="https://user-images.githubusercontent.com/790307/45312641-eaf65200-b52c-11e8-8a32-a5f1b39e75a0.png">

[2018-09-10 17:26] powerful23 commented on #1601
@alangault if you are using Cognito Hosted UI, I would recommend you to use the react component we provided: https://aws-amplify.github.io/amplify-js/media/authentication_guide.html#launching-the-hosted-ui-in-react
If you would prefer to do it yourself, you can follow this doc: https://github.com/aws-amplify/amplify-js/pull/1552/files to check the user after redirecting back.

[2018-09-10 17:38] powerful23 commented on #1602
@thrixton for now you can only clear the cached info by calling `Auth.signOut()`

[2018-09-10 18:19] pigmanbear opened #1608 "Make withAuthenticator Composable"
**Is your feature request related to a problem? Please describe.**
In order to compose withAuthenticator a helper function must be created e.g.:

[code]
in order to
[code]
And also pass in an object instead of args
**Describe the solution you'd like**
Instead of :
[code]
Perhaps:
[code]
or I guess if we are using 'function':
[code]
then using withAuthenticator can be part compose, and arity is jus

[2018-09-10 18:40] zimmelbc commented on #1241
I was able to resolve the issue by updating aws-amplify from 1.0.2 to 1.0.10.

[2018-09-10 18:55] henrysachs commented on #1604
So I found a possibility.. If i export the whole aws-sdk in the Facet.js it seems to work.. But for me that doesn't feel right.

[2018-09-10 19:29] henrysachs commented on #1604
Sorry guys i found the Solution myself. For everyone using Angular this is how you can import things from the AWS-SDK even if your IDE doesn't show any recommendations.

[code]

[2018-09-10 19:32] #1604 closed

[2018-09-10 19:48] stimms commented on #1241
I also ran into this problem and found that the solution was to remove aws-sdk from my package.json, delete the package-lock.json, remove all node_modules and do a full npm install. With that done everything was fine again.

[2018-09-10 20:33] henrysachs commented on #1604
The Problem was just that vscode doesnt identify this. I was a bit too reliant on my ide there. Vs code(and maybe others) tried to import the AWS object from amplify/core.

[2018-09-10 20:46] powerful23 commented on #1189
@yasithph does this work for you? I am going to close this issue. Feel free to reopen if you still have this issue.

[2018-09-10 20:49] behnamx opened #1609 "Can't use amplifyjs with federated identities with cognito user pools authorizer on api-gateway"
My ultimate goal is to make a user only able to read/delete/insert photos they own into S3 in addition to my regular note-taking app (note context with photo). From my understanding I have to use federated identities. However whenever I put the identity pool id into my amplifyjs config file it breaks all api-gateways calls that use cognito user pools authorizer. If I can get help with this that wo

[2018-09-10 20:54] behnamx commented on #1609
I think I get a different jwt token from the user session when the federated identities ID is in the config file. That gives me 401 unauthorized and/or a cors issue.

[2018-09-10 20:55] behnamx commented on #1609
Cognito User Pools Id with User Pools client ID works perfectly in config file.

[2018-09-10 21:50] elorzafe commented on #1609
Hi @behnmax did you take a look into this sample https://github.com/aws-samples/aws-amplify-graphql You will see a similar use case.

For API Gateway you could AWS_IAM to protect your api. [amplify-cli](https://github.com/aws-amplify/amplify-cli) has a built-in functionality to create protected APIs, and also implement CRUD  operations.

[2018-09-10 22:05] arocki7 commented on #960
We are having the same problem.

[2018-09-10 23:29] hutch120 commented on #960
@nidsharm @arocki7 Hi Guys, I've put a workaround on this thread that requires no code changes, or you could implement @JohnJohnXia PR referenced above. Or you have the option to use the low level AWS S3 API... there are plenty of options here for you to get this working.

[2018-09-10 23:46] thrixton commented on #1602
Thanks @powerful23 , that works. I tried that previously and was getting an error with a federated identity, must have been something else.
However I'm still seeing one element left in local storage which has the user's email address in it, is this a bug?
`CognitoIdentityServiceProvider.XXXXX.user@email.com.clockDrift`

[2018-09-11 00:01] hotgazpacho commented on #488
Hey guys, great progress on modularizing thing! However, still some work to be done. For example, I don't use the GraphQL part of Amplify, but it is being pulled in, along with a HUGE chunk of `graphql` itself: (v1.0.10)

![image](https://user-images.githubusercontent.com/7071/45330588-21839b00-b534-11e8-87d1-96205a833a12.png)

[2018-09-11 00:12] mlabieniec commented on #488
@hotgazpacho thanks for the feedback. Yes we are aware of this one and are working on this.

[2018-09-11 00:42] selfordering commented on #711
Dear Aws-amplify developer

Do you have any update on this toppic?
especially how to sey up the configure file or the attach the accesstoken to aws-amplify-graphOperation

I am stuck with this for long time.
If you have any sample code please share me

thanks

[2018-09-11 09:05] hannahbennett27 commented on #1436
@wdm954, thank you!

[2018-09-11 14:12] romainquellec commented on #1410
Suggestion : create a page with a clear comparison between the two solutions can help a lot a people. Cache and offline is the two subject to come to my mind but i'm sure i'm missing some stuff.

And, where can we find the roadmap about AWS Amplify & AppSync ? Thanks !

[2018-09-11 15:30] romainquellec opened #1613 "AppSync, AWS Amplify and SSR"
AppSync, AWS Amplify and SSR :
Hi ! Is Amplify (GraphQL Client) is SSR compatible ? Can't find any information on docs right now. Thanks !

[2018-09-11 16:44] CHR15- opened #1614 "SMS Verification Resend"
**Describe the bug**

Resending the verification code for a user during MFA using SMS seems to be broken.

As for some context, we're currently using this Amplify function:
https://github.com/aws-amplify/amplify-js/blob/master/packages/auth/src/Auth.ts#L269

**To Reproduce**

Say we have the flow of:
1: User signs up with an email/password, they confirm they own the email and login
2: Once logged

[2018-09-11 16:55] powerful23 commented on #1353
@tcchau the fixed version should be published as `aws-amplify@1.0.10`

[2018-09-11 17:10] powerful23 commented on #1602
@thrixton this item is not related to the federation login. It's created when you log in with your Cognito Account. It should be deleted after signing out. Will look into that.

[2018-09-11 17:33] itaied246 commented on #1521
Anyone?

[2018-09-11 17:40] jorgedavila25 commented on #1578
@yuntuowang @haverchuck just want give this ticket item a bump and see if there are any clarifications i should make. thanks

[2018-09-11 17:47] powerful23 commented on #1521
@keitzer @itaied246 if you want to sign in to the Cognito User Pool with federated providers, you should use Cognito Hosted UI: https://aws-amplify.github.io/amplify-js/media/authentication_guide.html#configuring-the-hosted-ui

Also #1143 may help you to make it work in React Native.

[2018-09-11 17:57] itrestian commented on #1578
1) Yes, you should be able to access sub through cognitoAuthenticationProvider. See this stackoverflow post explaining just that: https://stackoverflow.com/questions/42359990/is-there-any-way-to-get-the-cognito-username-in-aws-lambda
2) IdentityId is the Id of your user in the Identity pool from Cognito Federated Identities.
3) I don't see why you can't do that.

[2018-09-11 18:13] dattajoshi opened #1616 "Rename/Update AWS service names through React Amplify"
I'm trying to use Amplify in my React application, if I try to create a API through API gateway, the name of the API is different from the way I want it to be. So is there a way that I can configure the service names ?

[2018-09-11 18:44] itaied246 commented on #1521
But that's the point, I don't want to use the hosted UI...
There too many customizations I need to do and the hosted UI don't offer

[2018-09-11 19:12] undefobj commented on #1613
We have a tutorial published for this with Next.js: https://medium.com/open-graphql/ssr-graphql-apps-with-next-js-aws-appsync-eaf7fbeb1bde

[2018-09-11 19:42] tcchau commented on #1353
@powerful23 Cool, I see it now! I will give it a try and report back if there are problems.

[2018-09-11 19:59] haverchuck commented on #1566
Closing due to inactivity.
@AntonSmatanik if you are still having an issue please feel free to reopen.

[2018-09-11 19:59] #1566 closed

[2018-09-11 20:05] hsavit1 commented on #229
Try checking for duplicate node_modules installations. check for node_modules in the library aws-amplify-react and if it's there, delete it

[2018-09-11 20:14] 8vius commented on #369
@buggy I have it set up the way you indicate to do as to not allow duplicates, but it still allows duplicates. From what I've been reading what it doesn't allow is having 2 enabled accounts with the same email, when confirming it just moves the alias to the most recent confirmed account and this is done by design by the Cognito team. I keep seeing the sign in workaround everywhere, it seems like a

[2018-09-11 20:51] powerful23 commented on #1614
@CHR15- Thanks for reporting. We will talk to Cognito team about this issue.

[2018-09-11 21:00] powerful23 commented on #1614
@CHR15- by the way, maybe you can try `verifyUserAttribute`: https://github.com/aws-amplify/amplify-js/blob/master/packages/auth/src/Auth.ts#L1030 and `verifyUserAttributeSubmit`: https://github.com/aws-amplify/amplify-js/blob/master/packages/auth/src/Auth.ts#L1052 to verify the phone number.

[2018-09-11 22:14] undefobj commented on #1608
@pigmanbear can you give an example of why you would need to wrap more than one component for an authentication routine? It's almost always the top level route of your UX. To take your example:

`export default compose(withThis, withThat, withAmpAuth)(Component)
`
What would `withThis` or `withThat` do in an application?

[2018-09-11 22:52] powerful23 commented on #1521
@itaied246 maybe you can try this: https://github.com/aws-amplify/amplify-js/issues/1316#issuecomment-408228241

[2018-09-12 03:21] 0xdevalias opened #1620 "Add Golang/other lambda backend language support"
**Is your feature request related to a problem? Please describe.**
I would like to be able to automagically deploy non-javascript based lambda functions (eg. golang)

**Describe the solution you'd like**
Add support for using any supported lambda languages, particularly Golang

**Describe alternatives you've considered**
* Manually adding the required CloudFormation/etc to my repo.
* Using pre-dep

[2018-09-12 03:23] 0xdevalias opened #1621 "Possible to use with AWS SAM?"
**Which Category is your question related to?**

AWS SAM

**Provide additional details e.g. code snippets**

Is it possible to use AWS [SAM](https://github.com/awslabs/serverless-application-model) / [SAM CLI](https://github.com/awslabs/aws-sam-cli) together with Amplify?

[2018-09-12 04:05] itaied246 commented on #1521
Ok thanks, I'll try it.
Why doesn't amplify encapsulate it?

[2018-09-12 04:21] #1621 closed, assigned to nobody

[2018-09-12 04:38] mlabieniec commented on #1620
@0xdevalias can you please open this issue on the cli repo:
https://github.com/aws-amplify/amplify-cli/issues/new?template=feature_request.md

[2018-09-12 04:38] #1620 closed

[2018-09-12 06:17] Nadesri opened #1622 "How can I confirm sign-up with a default aws-mobile-react-sample setup?"
** Which Category is your question related to? **
aws-mobile-react-sample

** What AWS Services are you utilizing? **
Cognito/IAM

** Provide additional details e.g. code snippets **
I'm trying to play around with aws-mobile-react-sample for the first time, but I can't get past the "Confirm Sign Up" screen. I was following the instructions on Readme.md; specifically I tried the following:
1. Ran:

[2018-09-12 07:38] 0xdevalias commented on #1620
https://github.com/aws-amplify/amplify-cli/issues/156

[2018-09-12 08:52] CHR15- commented on #1614
@powerful23 thanks for the swift reply, much appreciated as always.

So the order of functions we run is:

[code]

I guess I'm saying something more explicit inbetween steps 1-2 would be beneficial. It's not quite clear how to dispatch the first event again if it didn't come through. I've attempted to rerun updateUserAttribute('phone_number') again but the API just seems to confirm the change with

[2018-09-12 10:19] yalamber commented on #1332
for me even upgrading to latest version did not fix the issue.

[2018-09-12 11:54] markmckim commented on #1529
Great. Thanks @dabit3. However do we know if there is a reason the original behaviour was changed / no longer works? I'm guessing it should continue to work the way it always has without the steps needed above?

[2018-09-12 13:37] jorge-sanz opened #1623 "Analytics.record() is not sending data to Pinpoint"
** Which Category is your question related to? **

** What AWS Services are you utilizing? **
AWS Amplify Analytics + AWS Pinpoint

** Provide additional details e.g. code snippets **
I configure Analytics on my React Native Expo app like this:
[code]

And I call the method like this at some point of my app:

[code]

But it doesn't work. That event is not sent to AWS Pinpoint.

What should I check

[2018-09-12 14:57] chgasparoto opened #1624 "Customize AWS Amplify Authentication UI for React"
** Which Category is your question related to? **
Auth

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
I'm trying to create a customized UI for all the pages related to the authentication on a React app. I need a big form with various fields to be inserted when the user is signing up.

I was following this tutorial (https://github.com/richar

[2018-09-12 15:19] mlecoq commented on #1269
Hi, here is how I handle it (I had to read aws-amplify-react code to understand the behavior)

I use a react context to have a reference on the method to change state of the Authenticator

[code]

[code]

An redirect works fine.

First time I used amplify it was with react native. I was very surprise with amplify-react behavior. On react native I did not have to make all this stuff.

[2018-09-12 15:54] haverchuck commented on #1578
1. You may be able to do some claim mapping. Similar example can be found [here](https://forums.aws.amazon.com/thread.jspa?threadID=236366).

2. cognito identity id simply stands for the unique id for each identity. It can be used as public id.

3. Yes, since sub value is unique, so it can be use as primary key for sure.

I am closing this issue for now, but please feel free to reopen it if your q

[2018-09-12 15:54] #1578 closed

[2018-09-12 16:43] powerful23 commented on #1624
@chgasparoto Hi, I guess that's because you didn't can you try to include `Greetings` component:
[code]

Also can you provide some debug info by putting `window.LOG_LEVEL='DEBUG'` in you code.

[2018-09-12 17:13] elorzafe commented on #1616
When you configure API category you specify a friendly name, e.g., myapi and the endpoint url.
It should look like this
[code]

[2018-09-12 17:14] powerful23 commented on #1521
@itaied246 good point. I will update this in our doc.

[2018-09-12 17:40] itaied246 commented on #1521
@powerful23 is there a way to federate with `user pool`?
In the thread you sent, after authenticating with the URL you still have to federate to cognito.
In their discussion they show how to use the identity pool.

I see this question pops up a lot, in the gitter and in other issues.
This simple thing is not clear, not from amplify docs and not from cognito docs.

[2018-09-12 20:18] powerful23 commented on #1614
@CHR15- the flow should be like:

1. The user has the attribute updated: 'phone_number'. At that time the 'phone_number' is not verified.
2. The user wants to verify the phone_number, at that time, call
[code]
3. The user inputs the verification code, call
[code]
4. Now you can get the current authenticated user and set mfa to sms

[2018-09-12 20:43] powerful23 commented on #1622
@Nadesri can you check the network requests to see if sign up request failed? If not, the most probable reason is that the sms service is not responding.

[2018-09-12 20:48] pigmanbear commented on #1608
@undefobj Certainly, I can share some scenarios.

Subsequently, I have taken a deep dive into the project, viewing docs and source. I have implemented custom components for the sign in flow, etc. using the Authenticator component as opposed the HOC to start. Now, I have started working on rolling some of my own, favoring composition over inheritance and components doing a little less work.

I will

[2018-09-12 21:02] powerful23 commented on #1521
@itaied246 yeah for now the only way to get federated with Cognito User Pool is through Cognito Hosted UI and it brings bad user experience. The Cognito Service team is currently working on to provide another way to do that without Hosted UI and once they are done(the similar way like `Auth.federatedSignIn()` which is used to federate with Cognito Identity Pool), we can integrate it into Amplify A

[2018-09-12 21:14] jfo8000 opened #1629 "React - Federated buttons - cant turn off icons in theme"
**Describe the bug**

In react, the FederatedButtons for google and facebook login include a new SVG element that looks strange and you can't theme to turn off.

I would also like proper theme support for styling the facebook button differently to the google button, etc.  The old way of doing it was based on the id of the element, which seems to have changed in the new UI.  My specific need is to

[2018-09-12 21:44] POANG1 opened #1630 ""Cannot read property 'challengeParam' of undefined" when resetting password"
**Describe the bug**
I set a cognito user to REQUIRE_PASSWORD_CHANGE (from the AWS console), now I am asked to reset the password using the amplify auth UI (without any changes). When submitting the new password and pressing the change button I get a "Cannot read property 'challengeParam' of undefined". The issue is on line 98 of RequireNewPassword.js where user is undefined.

**To Reproduce**
Ste

[2018-09-12 21:45] dattajoshi commented on #1616
Thanks for the reply. Yes I get it, we can configure manually. But suppose if we opt for manual configuration can I still use the amplify commands to maintain code push?
Because if I do a manually configuring and do a "amplify status" I don't see the changes getting noticed.
So question is does manual configuration affect the code push?
I'm doing the manual configuration changes in **aws-exports.j

[2018-09-12 21:58] powerful23 commented on #1630
@POANG1 can you provide more details like some code snippets about how you are using amplify. Also you can turn on the debug mode by putting `window.LOG_LEVEL='DEBUG'` in your code.

[2018-09-12 22:40] yuth commented on #1624
The current implementation of react component require `Greetings` component to be always present to render the Auth UI. Changes in  #1632 should fix this

[2018-09-12 23:18] itaied246 commented on #1316
@powerful23 hello again :)
I'm trying to integrate this call you posted but I get `cors` from facebook.
Do you know how can I solve it?

[2018-09-13 01:42] dabit3 commented on #1529
Hey @markmckim, good question. Let me cc @haverchuck @powerful23 & see if they have any insight on this.

[2018-09-13 08:32] yalamber commented on #1332
I am using the latest version but using Authenticator component instead of withAuthenticator HOC. I will check with withAuthenticator HOC as well.

[code]

[2018-09-13 08:48] yalamber commented on #1332
ok seems like ncu did not update the packages properly. With latest version. it seems to be working great. nice designs as well. great work.

[2018-09-13 12:40] chgasparoto commented on #1624
@powerful23 @yuth it worked! Thanks!

[2018-09-13 15:06] ZebGirouard opened #1634 "Impossible to force email uniqueness with Amplify CLI"
**Is your feature request related to a problem? Please describe.**
In the [Amplify Auth Documentation](url), it states that

[code]

...but this is impossible.  Once a user pool is created, using the CLI, we cannot change the attribute configuration.  In fact, AWS's own documentation says so.

**Describe the solution you'd like**
Currently it does not seem possible to create the configuration pict

[2018-09-13 16:51] gcid12 commented on #875
@swaminator , it would be great if you can keep the conversation going in this ticket. There's a lot of us that have the same question about managing different environments.  Thanks!

[2018-09-13 16:56] callmekatootie opened #1635 "Git ignore"
**Which Category is your question related to?**
Usage

**What AWS Services are you utilizing?**
Amplify / Auth (Cognito)

**Provide additional details e.g. code snippets**
I am trying to use AWS Amplify with React Native and intend to use the Auth feature.

Earlier, I had followed [this tutorial](https://youtu.be/5uPNmq8TUoA) on Youtube and in there, we used AWS Mobile CLI. Now, I am using Amplify

[2018-09-13 17:00] powerful23 commented on #1529
@markmckim Hi can you provide some code snippets about how you are using Amplify to sign out?

[2018-09-13 17:17] markmckim commented on #1529
Sure, I was literally just using `auth.signout()` hooked up to a button click on one of my app components. Nothing else, just that one line (and importing the auth module at the top of the file).

[2018-09-13 17:22] j2d2 opened #1636 "[Storage] How to put item to 'uploads'"
I can't figure out how to put a file to the 'uploads' folder in S3 for the mobilehub userfiles.
The [docs](https://aws-amplify.github.io/amplify-js/media/storage_guide) clearly explain how to interact with the other 'levels' such as public|private|protected, but i don't see any mention of this uploads folder which appears to be a peer in functionality, and created by mobilehub automatically with p

[2018-09-13 17:42] elorzafe commented on #1623
Hi @jorge-sanz Analytics required Auth to be configured (it needs an identityPoolId). We updated the docs to make it more explicit on Manual setup section [here](https://aws-amplify.github.io/amplify-js/media/analytics_guide#manual-setup). I hope this works for you. I will close the issue but feel free to reopen if it doesnt work for you.

Is much easier if you use amplify-cli to create your resou

[2018-09-13 17:42] #1623 closed

[2018-09-13 17:43] powerful23 commented on #1622
@Nadesri No I think, but we will look into that. So the request [`signUp`](https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_SignUp.html) didn't fail right? Maybe you can try again in your local.

[2018-09-13 17:46] elorzafe opened #1637 "Github.io docs # titles links not displayed correctly"
**Describe the bug**
When you go thru github.io docs to a #title like this https://aws-amplify.github.io/amplify-js/media/analytics_guide#automated-setup The title is being hidden by the orange bar.

**To Reproduce**
Clicking on a # title or go click to this [link](https://aws-amplify.github.io/amplify-js/media/analytics_guide#automated-setup)

[2018-09-13 17:59] powerful23 commented on #1332
@yalamber hideDefault is used to hide those default auth components so you can put your customized ones. I am not fully understanding your question. You mean you the `AppContainer` doesn't show up when signed in if `hideDefault` is true?

[2018-09-13 18:29] powerful23 commented on #1583
@imewish To federatedSignIn() method is to get the aws credentials from the Cognito Federated Identity Pool and has nothing to do with Cognito User Pool. To login federated users into the User Pool, you need to use the Cognito Hosted UI: https://aws-amplify.github.io/amplify-js/media/authentication_guide#create-your-own-ui

[2018-09-13 20:27] jliebrand commented on #1544
Hmm i might actually be seeing a different problem...

It looks like the cognito access token (or the id token, not sure yet) in local storage has become corrupt. Causing the API call to fail... not quite sure how it got messed up, but if you manually edit the access token in local storage, you'll see API calls start failing and you get the bogus CORB error.

If the token is not right anymore, sho

[2018-09-13 20:58] powerful23 commented on #1636
@j2d2 you can try using [customizing your own s3 path](https://aws-amplify.github.io/amplify-js/media/storage_guide#customization) so you can upload files to that uploads folder.

[2018-09-13 20:58] pigmanbear commented on #1630
I received this error as well implementing some custom components and copy and pasted the 'signIn' method on the Amplify component SignIn from github. Reverting back to the default and the error went away, so comparing the node_modules v the current implementation:
Current:

[code]

Previous
[code]

The RequireNewPassword Component needs a user object, but the changeState call in current version c

[2018-09-13 21:11] j2d2 commented on #1636
Good idea, thanks @powerful23 , but then you lose the option to use of those levels, which are already configured and useful.
I noticed that the 'uploads/' path is also preconfigured with a readme specifying the usage, and an IAM policy (auth_mobilehub role) when setup with mobilehub, so i'd expect that this could be a 4th 'level' that Amplify might support?

[2018-09-13 21:45] jadbox commented on #684
^ this seems like major hackery. Surely there should be a cleaner way.

@pveller where do I even find the aws_pubsub_endpoint address? That's also not in the docs.

[2018-09-13 21:49] jadbox opened #1638 "Pub-Sub from Lambda?"
How would I publish a message to an Amplify client via a Lambda function creating an event in a IoT pub-sub topic? Does the Lambda func need to use Amplify or can you publish messages using the aws-sdk?

[2018-09-13 21:52] powerful23 commented on #1630
@pigmanbear thanks. I will submit a fix for this bug.

[2018-09-13 22:56] Sonic-Ninja commented on #1150
Did this work for anyone, i did use the setup instructions and have an authenticated user.  Here is my code from [this](https://medium.com/@glen.bray/text-detection-with-mobile-camera-using-react-native-and-aws-rekognition-7826b3e2aeef) tutorial. I've tried it both with the tutorial and a new build with authentication using the the link above but still get the same response as above.

`
Amplify.co

[2018-09-13 23:04] SogoGolf opened #1639 "please provide details on how to change the URL of a hosted website"
** Which Category is your question related to? **
amplify hosting

** What AWS Services are you utilizing? **
amplify

** Provide additional details e.g. code snippets **
we've created a great React web app and published it without issue to Amplify "hosting".

now we want to change the default URL for that site (eg. "http://xxxxxxxxx-hostingyyyyyy.s3-website-ap-southeast-2.amazonaws.com") to "http

[2018-09-13 23:15] powerful23 commented on #1599
@nicklee1990 Hey this has been fixed in #1632

[2018-09-13 23:34] nicklee1990 commented on #1599
Nice!

[2018-09-13 23:34] #1599 closed

[2018-09-13 23:42] SogoGolf opened #1641 "<PhotoPicker preview="hidden" /> does not work"
**Describe the bug**
the ```preview``` prop in ```<PhotoPicker preview="hidden" />``` does not work

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://aws-amplify.github.io/amplify-js/media/storage_guide#picker
2. follow instructions to install and use this component

**Expected behavior**
the preview is hidden after setting the ```preview="hidden"``` prop

**Desktop (please compl

[2018-09-14 04:36] FLavalliere commented on #1377
Hello,

Somehow this issue is also there when we simply create a new user and the user is in "NEW_PASSWORD"  required...

In short : Auth.changePassword does not work as it expect a valid JWT token ...

[2018-09-14 07:57] engharb commented on #542
@yuntuowang I hope that I will be confirmed about the coming features. Is there a way to decode and verify the Identity-Pool sessionToken using i.e PHP-SDK? I solved that for user-pool JWT but not for Identity-pool sessionToken!.

[2018-09-14 08:00] engharb commented on #1126
@powerful23 , @yuntuowang
I'm looking to hear from you soon.

[2018-09-14 08:52] AntonSmatanik commented on #1566
Still no luck, currentCredentials method give me error every time:

    Auth.currentCredentials().then((info) => {
        const cognitoIdentityId = info._identityId;
    });

NotAuthorizedException: Unauthenticated access is not supported for this identity pool.

[2018-09-14 09:29] jliebrand opened #1642 "API request signature failure results in unrecoverable config for amplify"
We are seeing a small percentage of our users failing their API requests to our server with generic Network Errors. Whilst I've not yet determined how they got their devices in a bad state, I *am* now able to reproduce the problem. I appreciate the following might appear to be contrived (manually editing localStorage), but my point with this bug is that storage *can* get corrupted, and when it doe

[2018-09-14 09:30] jliebrand commented on #1544
I've raised a separate issue #1642  as i suspect my problem might be different to this one...

[2018-09-14 11:13] mogadanez opened #1643 "Assumed role is from Identity pool configured, but not from"
env: web, react.

I'm  trying  to make resource based access to lambdas
created to users in pool with groups "admin" and "user" and each group have roles  with  permissions to  run different lambdas like `arn:aws:execute-api:xxx:xxxxx:xxxxx/*/GET/test`

in identity pool I have  Authenticated role `Cognito_test_cctvAuth_Role`

when I try call some endpoints
```API.get('airbnb','/test')```

I get er

[2018-09-14 13:46] epicfaace commented on #825
@powerful23 exactly.

[2018-09-14 14:04] amymc opened #1644 "Sign-up confirmation not working"
Hi,

I'm unable to register a new user. I'm following this 'hello world' react tutorial [here](https://github.com/aws-amplify/amplify-cli/blob/master/amplifycli_react_tutorial.md).

I'm getting stuck on the confirmation sign up screen. I can enter the confirmation code I received but I can't type in the username field.

I've tried on Chrome 69 and Firefox 62 (on Mac 10.13.6).

Here's the [url](htt

[2018-09-14 15:08] seang96 opened #1645 "Refresh permission changes manually"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **
I am currently using this code below which will update the tokens, and update the credentials that amplify is using. From the logs and network connections, it appears the tokens change and the session contains the groups that the user is now

[2018-09-14 15:25] sgresh opened #1646 "POST requests failing using Amplify/api v1.0.11"
**Describe the bug**
Amplify API version 1.0.11 breaks POST requests to API Gateway.
It appears v1.0.11 is adding 'content-type' twice to the signedHeaders section of the **Authorization** request header

**To Reproduce**
Steps to reproduce the behavior:
1. Specify "@aws-amplify/api": "1.0.11" in package.json (or use "^1.0.#")
2. Use "API.post()"
3. Request fails with a 403

**Desktop (please comp

[2018-09-14 16:05] seang96 commented on #1645
Found the solution, all that was needed was after adding to groups in the lambda function to list groups for that user, then they were added on Cognito User Pools, and the token refresh refreshed the session.

[2018-09-14 16:05] #1645 closed

[2018-09-14 17:04] powerful23 commented on #1636
@j2d2 I can mark this as feature request but I can't give the word that we will have the 4th level.

[2018-09-14 17:26] powerful23 commented on #1529
@markmckim so if I am understanding correctly, is it something like:
[code]

[2018-09-14 17:32] markmckim commented on #1529
@powerful23 - No, previously, this worked just using something like this...

[code]

[2018-09-14 17:41] powerful23 commented on #1529
@markmckim that's weird. I don't know how it would work but you need to let the Authenticator know that the auth state has changed by using `onStateChange`.

[2018-09-14 17:42] markmckim commented on #1529
Was there any changes recently to Authenticator/withAuthenticator that would have caused this? I took a quick look but didn't see anything that jumped out.

Worst case scenario, I can pass down the onStateChange down to the app, but I guess it would be better to understand what changed / why it worked before

[2018-09-14 17:48] markmckim commented on #1529
Maybe this commit caused it: https://github.com/aws-amplify/amplify-js/commit/8352bdb

Specifically the changes around line 90

[2018-09-14 18:39] powerful23 commented on #1560
@rezaunnabi2018 can you try the latest version of aws-amplify, we just updated the aws-sdk version in our package and that may fix your problem.

[2018-09-14 18:49] powerful23 commented on #1643
@mogadanez I think because the API will use the credentials which is emitted by Cognito Identity Pool by default so the role is `Cognito_test_cctvAuth_Role`. @elorzafe do you have any idea about how to use the role in User?

[2018-09-14 19:00] j2d2 commented on #1636
thanks @powerful23 ! just thought i'd point it out...

[2018-09-14 19:04] powerful23 commented on #1639
@SogoGolf you might need to go to the Route 53 documentation to search for how to change the default URL: https://aws.amazon.com/route53/faqs/

[2018-09-14 19:07] powerful23 commented on #1644
@amymc I think  the user name field is read-only.

[2018-09-14 22:05] pigmanbear commented on #1608
After customizing all of the Components in amplify-react by inheriting and using showComponent, etc, and then adding why-did-you-update to take a look at the renders (which can be seen also by setting log level to debug, among others):
<img width="633" alt="screenshot_2018-09-14 09 03 55_3armxv" src="https://user-images.githubusercontent.com/32139940/45574570-b1c02980-b82d-11e8-825b-710d104c8a75.p

[2018-09-14 22:49] bellkev commented on #1591
On closer inspection it looks like the error is coming from the Cognito service because the `phone_number` is `null`. Just omitting the `phone_number` key entirely from the `attributes` object on `signUp` seems to get past it. I have it working without requiring a phone number locally with this change. I'm happy to make a PR with that tweak if you like.

[2018-09-14 23:39] drewdecarme commented on #684
One of the main issues that I've found is that the documentation is pretty sparse. It's like they forgot half their API and got and then got an intern to do it. With that said though, the best thing that you can do is turn on debugging. If you turn on debugging you should be able to see all of the events that are firing when configuring Amplify.

There are a massive amount of base configurations t

[2018-09-15 00:01] powerful23 commented on #1529
@markmckim That change was to fix another bug so we can't actually revert it. So there are two different ways to set the current auth state:
1. when the page is loaded or the app is loaded, the Authenticator will be mounted and call [checkUser](https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-react-native/src/Auth/Authenticator.js#L76) to check if the user is logged in
2.

[2018-09-15 00:43] SashaMoe opened #1652 "How to make Storage.get use sigv4?"
I'm trying to use Storage.get to download server side encrypted file from S3, and get 'Request require Signature Version 4' exception. Is there a way to make Storage.get use sigv4?

[2018-09-15 00:48] drewdecarme opened #1653 "How to refresh AWSIoTProvider with Cognito credentials after the credentials expire"
** Which Category is your question related to? **
PubSub, Auth

** What AWS Services are you utilizing? **
PubSub, AWSIoTProvider, Auth, Logger

** Provide additional details e.g. code snippets **
It's unclear in the documentation on how to go about updating the credentials on the AWSIoTProvider and when you should go about doing so. Up to this point, I was unsuccessfully setting an interval timer

[2018-09-15 00:56] MainaWycliffe commented on #126
So, if I understand this correctly, this library doesn't support federated authentication using User Pools? Is there a workaround or any third party library i can use to provide me with such functionality for federated sign in/up.

[2018-09-15 06:26] TigerSheng opened #1654 "Getting 403 Error on API.get() calls with Cognito Federated Identities and IAM"
**Describe the bug**
Currently I am using API Gateway to host my backend (small express app in Lambda) and Cognito user pool and identity pool. The API is secured by AWS_IAM such that only authorized users will be able to invoke.

However, when I call API.get() I get a 403 code with a CORS error (since 403 error response does not have proper CORS headers set up). What's weird was when I called GET

[2018-09-15 09:16] SogoGolf opened #1655 "how can we style/scale the image displayed by <S3Image> component for React ?"
At the moment when I add the <S3Image> component with the following props:
```<S3Image imgKey={"somekey"} picker />```

--> the image is displayed "as-is" (which can be MASSIVE in scale if image is large) and setting a ```style``` prop on the S3Image component didn't seem to do anything. Nor did nesting the S3Image component inside a ```<div>``` and setting a style on that div.

How can we scale /

[2018-09-15 09:28] SogoGolf opened #1656 "Use React <PhotoPicker> component to upload to an S3 bucket"
Once a user chooses an image using this React component - there should be an option (prop) to then automatically upload the chosen image to the S3 bucket that is configured via Amplify. A success/fail callback should also be provided.

[2018-09-15 11:38] drewdecarme commented on #684
I'm just using plain old ES6. The notation that you see is based upon the [subscribe](https://aws-amplify.github.io/amplify-js/media/pub_sub_guide#working-with-the-api) documentation.

[2018-09-15 13:02] pronevich commented on #1603
Same issue

[2018-09-15 15:13] markmckim commented on #1529
Hey @powerful23 - I totally agree. I think what you have described makes logical sense. I think previously I was relying on a loophole/defect in the code. I just thought I would check in case that was always the intentional behaviour and something had broken it. I can easily update my code as per the examples above. Thanks!!

[2018-09-15 15:50] epicfaace commented on #439
Any plans to add this into Amplify?

[2018-09-15 16:59] temesxgn commented on #771
Any update on this?

[2018-09-15 19:12] oneduckoo opened #1658 "Is there federatedSignOut?"
** Which Category is your question related to? ** Auth

** What AWS Services are you utilizing? ** AWS Cognito

** Provide additional details e.g. code snippets **
I am using amplify for my react native app. While I have been reading several issues related to federatedSignIn, I have noticed that there is no method for signing out if a user signed in with 3rd party such as Google or Facebook.
Is th

[2018-09-15 22:00] milashenko commented on #1302
With the configuration specified by @dankuchler subscriptions will not work.

See https://aws-amplify.github.io/amplify-js/media/api_guide.html#subscriptions

[2018-09-15 22:02] milashenko commented on #1404
Seems to be related to #1302

[2018-09-16 00:32] michael-golfi opened #1659 "AWS Amplify and GraphQL Interfaces"
** Which Category is your question related to? **
Usage for AWS AppSync and AWS Amplify

** What AWS Services are you utilizing? **
AppSync, Dynamodb

** Provide additional details e.g. code snippets **
Please correct me if there's a better place to put this. How would you deal with interfaces and using them for connections in a data model using the AWS Amplify Model Transforms?

For example, I'm

[2018-09-16 07:27] RobertBrewitz commented on #1655
Here's the actual img style prop: https://github.com/aws-amplify/amplify-js/blob/7e07ebe66e9957c01c4d1fee190b48a2f33fff89/packages/aws-amplify-react/src/Storage/S3Image.js#L131

[2018-09-16 14:13] crjacinro commented on #1465
This issue occurred because the user i logged in was not yet confirmed. My fault.

[2018-09-16 14:13] #1465 closed

[2018-09-16 17:07] jocactus opened #1660 "404 error code in API GET method with angular"
**Which Category is your question related to?**
API

**What AWS Services are you utilizing?**
REST service type

**Provide additional details e.g. code snippets**
In my Angular project, I try to use the GET method to retrieve data in my DynamoDB as explained in the [documentation](https://aws-amplify.github.io/amplify-js/media/api_guide) but I have this error message:
![capture d ecran 2018-09-16

[2018-09-16 21:44] davidpbowe commented on #546
This might not be the best solution but just to get the application working I removed the `UglifyJSPlugin` from my webpack config. Then built and ran it again

[2018-09-16 22:17] RobertBrewitz commented on #960
Thanks @hutch120 for the tip!

I solved it by adding a bucket policy:

[code]

[2018-09-17 03:10] TigerSheng commented on #1654
**Update:** I have gotten rid of the CORS error from the 403 response and enabled cloudwatch logs on my API Gateway. Now the actual error message is discovered - the security token included in the request is invalid. However in debug logs my credential was successfully acquired.

[2018-09-17 13:54] jonsmirl opened #1661 "pubsub provider import in doc example is wrong"
Doc says:
import Amplify, { PubSub } from 'aws-amplify';
import { AWSIoTProvider } from 'aws-amplify/lib/PubSub/Providers';

But pubsub is now being included as a module even when you 'npm add aws-amplify'
So the include needs to be
import { AWSIoTProvider } from '@aws-amplify/pubsub/lib/Providers';

[2018-09-17 14:30] #1661 closed

[2018-09-17 16:41] powerful23 commented on #126
@MainaWycliffe as I know there is no way other than using Cognito Hosted UI for now.

[2018-09-17 16:43] powerful23 commented on #1126
@engharb the Cognito team is working on a feature which allows you to federated authenticate with user pool without using Hosted UI. But for now I don't know the timeline of this feature.

[2018-09-17 17:29] powerful23 commented on #1653
@drewdecarme if you are using Cognito Federated Identity Pool service to get the aws credentials, then you don't need to worry about the expiration because Amplify will refresh the credentials automatically when it's expired.

[2018-09-17 17:32] #1539 closed

[2018-09-17 17:32] #1641 closed

[2018-09-17 17:32] MainaWycliffe commented on #126
@mlabieniec  and @powerful23 thanks for clarifying that. I just have one more question, if i use hosted UI does AWS Amplify still manage my security tokens - getting them from the hosted UI and refreshing them?. I am willing to use it and bind my time until that future is released.

[2018-09-17 17:35] powerful23 commented on #1656
@SogoGolf Hi you can use the `S3Image` component to upload the image to S3 bucket: https://aws-amplify.github.io/amplify-js/media/storage_guide#s3image

[2018-09-17 17:42] mlabieniec commented on #126
@MainaWycliffe no problem! Yes, if you use the Hosted UI with Amplify. Amplify will manage the return of the OAuth request. If it's a code grant, Amplify will retrieve the refresh token and manage the refreshing of the session for you, for AWS credentials, as long as your User Pool is set as an IDP on your Identity Pool.

[2018-09-17 17:47] powerful23 commented on #1658
@oneduckoo if you want to sign out from Google or Facebook, you need to call the sign out method provided by their sdks. In the meantime you need to call `Auth.signOut()` to sign out from Amplify to clean up the cached tokens.

[2018-09-17 18:06] rygo6 opened #1662 ""Exceeded maximum endpoint per user count 10""
I keep getting this error back:
[code]

I have no idea what it means or how to approach it. What does this mean?

[2018-09-17 18:52] nidsharm commented on #1662
Hi @rygo6 ,

Can you please tell us more about the Amplify/Cognito API that you used, it would be useful to figure out more on the issue. As per the error message it looks like you hit the maximum limit on the number of calls allowed.

[2018-09-17 19:17] NathanH81 commented on #1638
Create the AWS IoT client using the aws-sdk

[code]

And then publish like so:

[code]

[2018-09-17 19:33] nidsharm commented on #1660
Hi @jocactus ,

Your calls look correct, we will need some more information from you to help debug the issue. Did you use [Amplify-cli](https://github.com/aws-amplify/amplify-cli) to create your AWS resources?
If not, can you add your lambda function code for the get request ?

[2018-09-17 19:41] jocactus commented on #1660
Hi @nidsharm ,

I used Amplify-cli and strictly follow the steps of the `amplify add api` with the REST endpoints which enables CRUD operations on an Amazon DynamoDB table and deployed my app.

[2018-09-17 21:00] MainaWycliffe commented on #126
@mlabieniec thanks. I am using the angular version, and can't find any documentation on how to launch the hosted UI. I have setup everything on the cognito part, but can't figure out how to wire everything up. I also tried:

 `<amplify-authenticator></amplify-authenticator>`

but it was blank.

[2018-09-17 21:05] Ch3ck commented on #891
Just ran into this issue today and my pages can't seem to load, which is very strange

[2018-09-17 21:15] sejacobsen opened #1663 "Walkthrough of Amplify Quickstart contains incorrect description"
**Describe the bug**
This report concerns the quick start for Amplify (chose default 'Javascript' at 'Select your framework') found at https://aws-amplify.github.io/amplify-js/media/quick_start?platform=purejs on 2018-09-17

The shown code for 'amplify init' uses 'dist/MyAngularProject' for the 'dist' directory. If the user types this, the command 'amplify publish' will not work, as the  'Distribu

[2018-09-17 22:08] nidsharm commented on #1660
Hi @jocactus ,

The GET operation you are trying to perform to get all the object from a path, is called a scan in dynamoDB. The Amplify CLI doesn't currently support a scan of the dynamodb table but querying is supported.

You will have modify your path on the getPersons call as follows to get data back:

path = '/persons/partition_key_value' or path = '/persons/object/partition_key_value/sort_ke

[2018-09-17 22:47] ehorodyski opened #1664 "Securing Anonymous Cognito Roles"
**Which Category is your question related to?**

APIs, Auth

**What AWS Services are you utilizing?**

API Gateway, Cognito

**Provide additional details e.g. code snippets**

In a strictly-web environment, how does one keep AWS secrets...secret? I have a web app where I don't want to have authentication, but still sign all my API calls using Sigv4. I can put the unauth cognito roles in my `aws_ex

[2018-09-17 23:05] chai86 opened #1665 "AWS Mobile react native starter - package.json naming collision"
When running "npm run ios" for the first time i get the error:
Loading dependency graph...jest-haste-map: @providesModule naming collision:

Steps to reproduce the behavior:
1. "npm run ios"

**Expected behavior**
A running screen on the iPhone simulator pf the Pet Tracker app

**Desktop (please complete the following information):**
I've used recommended versions for compatibility of react, expo

[2018-09-17 23:50] mwarger opened #1666 "Type 'CognitoUser' has no property 'username' and no string index signature."
**Describe the bug**
Type returned for CognitoUser doesn't include username.  I'm using typescript with this project.

Error:
[code]

FYI - current workaround is to just type it as any for now...
`const { username }: any = await Auth.signIn(email, password);`

**To Reproduce**
Steps to reproduce the behavior:
1. `import { Auth } from 'aws-amplify';`
2. `const { username } = await Auth.signIn(email

[2018-09-18 03:44] leantide commented on #1378
I would even be content to workaround this by disabling Analytics. Unfortunately, the issue persists even when I set aws_app_analytics to 'disable' in aws-exports (I am using Mobile Hub) and also persists even when I call Analytics.disable().

The only way I can shut it down is to remove aws_mobile_analytics_app_id and aws_mobile_analytics_app_region from aws-exports altogether.

[2018-09-18 07:16] jliebrand commented on #1642
It looks like calling currentCredentials() will trigger amplify to "reset" the tokens. So that's the way out of this.

Unfortunately our users are still seeing 403s unrelated to corrupt tokens. But that is a separate issue I'll debug further (and might raise a separate bug for)

[2018-09-18 07:16] #1642 closed

[2018-09-18 09:07] psycura opened #1668 "Error on App start - Cannot read property 'prototype' of undefined"
I`m building `next.js` app.
And till yesterday everything work fine,
but today i updated 2 packages:
[code]
And from this moment i cannot start the app, i mean i receive an error in console:

Tried to rollback this packages, also removing `/node_modules` folder at all with no success

[2018-09-18 09:13] jliebrand commented on #1654
@TigerSheng - can I ask how you enabled the api cloudwatch logging? I tried doing the same thing, but I'm not seeing the 403s in the logs? Checking the documentation seems to imply that auth errors aren't logged?
"Also failed requests due to throttling (429) or access (403) errors are not logged and will not be included in the report."
from https://docs.aws.amazon.com/apigateway/latest/developergu

[2018-09-18 10:48] demsey2 commented on #1556
I have the same issue, did you find a solution?

[2018-09-18 12:12] rajwilkhu commented on #1218
I have the same issue as well. This is a real blocker for using Cognito with implicit flow. Has any one solved silent refresh using cognito?

[2018-09-18 13:06] TigerSheng commented on #1654
@jliebrand - I enabled api gateway cloudwatch logging through a setting identical to below:

![image](https://user-images.githubusercontent.com/22460252/45689356-c2201f00-bb21-11e8-8179-af71abbdc393.png)

Also interesting enough - the docs said 403 errors are not logged as you mentioned, but I was seeing 403 logs like below:

![image](https://user-images.githubusercontent.com/22460252/45689441-fc8

[2018-09-18 13:31] TigerSheng commented on #1654
@jliebrand - Agree with what you said about doc. I have done some research and seems like a lot of people are getting 403 because they are accessing resource that never existed. Not in my case though and that's why my request ended up in logs.

Also I have noticed a lag in logging. So if you see 403 in your user but not in your logs you might want to wait for a bit. Also for enabling these logs yo

[2018-09-18 14:14] romainquellec commented on #1613
Well, in this example, you re not using amplify.

[2018-09-18 14:28] jliebrand commented on #1654
Yep - got that all set up... but it's not showing any 403s... not even from yesterday (when I know there were some...) Will tweak some settings and see if I can get it to work

[2018-09-18 14:44] shurik239 commented on #1668
same issue on running ```gatsby develop ```
downgrading just only @aws-amplify/analytics to 1.0.9 with [yarn resolutions](https://yarnpkg.com/en/docs/selective-version-resolutions) directive:
[code]
solved for me the issue

[2018-09-18 15:24] tcchau opened #1669 "Setting preferred_username attribute on unconfirmed account during signup problem"
** Which Category is your question related to? **
Authentication/Sign Up

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
We are using AWS Amplify v1.0.8, and the Amplify.Auth.signUp API call in particular.

When we try to sign up a user with the user attribute, preferred_username, set to "firstName.lastName", we get an error back,

"Preferre

[2018-09-18 17:14] Ch3ck commented on #891
More information on how to fix this here: https://github.com/aws/aws-sdk-js/issues/1566

[2018-09-18 17:34] 3dw1np opened #1670 "Auth.currentSession() return No userPool in React app"
I'm using the modular import of Amplify for Auth Module.
I am able to login with a cognito user and see that the credentials are stored in my browser localstorage.

But if I reload the page, the promise method Auth.currentSession() executed by my react application at the begining returns me: **No userPool**

Someone can enlighten me on this error with more details?

[code]

[2018-09-18 18:39] nidsharm commented on #1654
Hi @TigerSheng,

 Can you update the path on API.get as follows : '/notes/$primary_key_value' or '/notes/object/partition_key_value/sort_key_value' . Amplify CLI currently doesn't support the scan feature for dynamoDB but we support querying using primary key and sort key.

[2018-09-18 18:44] powerful23 commented on #1670
@3dw1np can you paste some code snippets about how you are using Amplify? If you are using something from `aws-amplify-react`, then you must install `aws-amplify` first.

[2018-09-18 18:49] #1663 closed

[2018-09-18 20:02] nidsharm commented on #1652
Hi @SashaMoe ,

Are you using your custom keys for encryption or are your keys managed by KMS/S3 ?

[2018-09-18 20:27] jliebrand commented on #1654
is 1.0.12 released yet? or just as unstable?

[2018-09-18 20:33] TigerSheng commented on #1654
@nidsharm - Thanks for all this feedback and I just resolved my problem. I have had Authorization for OPTIONS method under Resources in API Gateway to be AWS_IAM. However when my browser send a request it will send one to OPTIONS first to check for certain headers without the credentials in this request. Since I set OPTIONS with IAM authorization, the OPTIONS method then checked against IAM with t

[2018-09-18 20:39] nidsharm commented on #1654
@jliebrand , 1.0.12 is released.
I'm closing the issue for now. Please feel free to re-open if you have any other issues.

[2018-09-18 20:39] #1654 closed

[2018-09-18 20:59] cory-seatsmart commented on #487
I also had a similar problem, getting Unknown Error (misspelled as Unkown Error).

I found out that having _any_ kind of error within the `userPool.signUp()` callback function caused the error to be swallowed by the Cognito JS library.

[2018-09-18 22:34] rclarkburns commented on #239
@mlabieniec @powerful23 Any update on this one? Thanks!

[2018-09-18 23:55] jayair opened #1671 "Facebook credentials are not refreshed"
**Describe the bug**
Facebook credentials don't refresh in version `1.0.11`. And any API requests just hang.

**To Reproduce**
Steps to reproduce the behavior:
1. Implement login with Facebook using Amplify.
2. Login is successful.
3. After credentials expire Amplify tries to refresh it but just hangs.

**Expected behavior**
Facebook credentials should be refreshed.

**Screenshots**
<img width="12

[2018-09-18 23:56] d-olivas opened #1672 ""Unknown error, the response body from fetch is: undefined" at Auth.confirmSignIn"
**Describe the bug**
I am trying to send the verification code received by the user to confirm the signIn, I have the SMS_MFA enabled. However, I keep getting this error `Unknown error, the response body from fetch is: undefined` and thats all I get, there is nothing else to help me understand what the error is about. And everything else is working fine, I call signIn, signUp, confirmSignUp and re

[2018-09-19 03:53] pveller commented on #684
@drewdecarme, yes, I am using AWS Cognito also over Amplify. Didn't try using IoT without it. And I only subscribe to the channel once the user has successfully authenticated. Their identity is given a role with certain permissions but I still needed to attach the special IoT policy dynamically before I could connect like you see in my gist. I do agree that the whole ceremony is weird but once I g

[2018-09-19 04:54] smccumsey commented on #1672
I think I have the same problem with Auth.confirmSignIn. But I get it when trying to fit the [amplify vue demo](https://github.com/aws-samples/aws-amplify-vue) to my own vue app (that uses vue cli 3). The weird part is that confirmSignIn works fine in the demo app. And in my app if I remove the navigation guard on the router then the fetch from confirmSignIn works. Or it'll sometimes work if I ste

[2018-09-19 05:51] blbradley commented on #1577
@haverchuck Thanks for the tip, worked for me!

[2018-09-19 07:57] chai86 commented on #1665
Thanks @nidsharm for the prompt response.

I followed the steps precisely outlined in the aws-mobile-react-native-starter instructions. When executing commands in the iOS terminal, i did get recommendations when running "npm install" to follow up with an "npm audit fix" which forced a fix to other vulnerabilities. I've subsequently downgraded to various versions of react and react-native.

I see y

[2018-09-19 08:19] pontusab opened #1673 "Storage upload multiple files in one request"
**Which Category is your question related to?**
Storage

**What AWS Services are you utilizing?**
Storage

Is it possible to upload multiple files in one request with the Storage.put method? if so, how?

Thanks

[2018-09-19 09:08] JustFly1984 opened #1674 "Installing graphql 0.13.0 as peer dependency causes environment variables undefined."
I'm trying to setup aws-appsync to my react-static project.
After installing qraphql 0.13.0, I'm running my react app on localhost:3000, and getting weird error. I'm passing AWS_ENV in package.json sctipt:

[code]
but I get AWS_ENV undefined.

If I install graphql 0.13.2 - I got another error on build time:
[code]

I'm using node 10.10.0
npm 6.4.1

This is weirdest bug in my memory.

[2018-09-19 09:10] 3dw1np commented on #1670
My mistake the package aws-amplify-react is not used, so I removed that.
Finally I found my problem, it's was because the Amplify wasn't configured when I triggered the method Auth.currentSession() in the index.js entry of my React App, it's was done after ...

[2018-09-19 09:10] #1670 closed

[2018-09-19 11:37] guillaumecodet opened #1675 "AWS Cognito: Trigger the MFA if the user is already logged in"
Is it possible to trigger a MFA check if the user is already logged in with Cognito ? and so get a new token if successful ?

I can't ask for his password.

Thank you.

[2018-09-19 11:41] Zilvinaskli commented on #1518
It was working with awsmobile for me. I upgraded it to amplify and I'm getting the same NoUserPool error now and aws-exports.js has only region defined now.

[2018-09-19 12:20] arelaxend commented on #239
I have done it using the current version of aws-amplify, work perfectly, it's not so hard...

[2018-09-19 12:20] ZebGirouard commented on #1634
Thanks @St3Ko .  Always makes me nervous changing configuration files manually, but since the project is young, I'll give this a shot.

[2018-09-19 12:31] arelaxend commented on #239
For the moment, when I get tokens from OAuth, I generate a new aws idToken using a Lambda Java function, and the latency is.. too bad. Any idea ?

[2018-09-19 14:13] JoseWebby opened #1676 "Behaviour of updateAttributes & verifyAttribute"
** Cognito - updateAttributes, verifyAttribute **

** Cognito **

Need to understand the behaviour of updateAttributes & verifyAttribute methods.

**Scenario:**
* I have created one user in the user pool.
* Logged-in successfully using the email ID (created user pool using [Option 2](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-settings-attributes.html#user-pool-settings-ali

[2018-09-19 14:18] vutronic commented on #1160
@jordanranz I'm also having issues due to the missing import { colors } from 'theme'; Is the 'theme' package even existed? Do we have to manually create it?  I don't think it's possible to launch the AWS Starter React Native App with the missing 'theme' module. Thanks.

[2018-09-19 15:27] EthanRBrown commented on #1068
I have been experiencing this as well (ReactDOM, desktop browser), though I haven't been able to nail down exactly when/why it occurs.  I'm calling `unsubscribe` on `componentDidUnmount`

[2018-09-19 15:30] mickadoua opened #1677 "Can not use Federated entity with react native's HOC"
**Describe the bug**
Can not use Federated entity with react native's HOC

**To Reproduce**
Steps to reproduce the behavior:
[code]

Can you explain source code :
on line https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-react-native/src/Auth/Authenticator.js#L141
federaed object is pass to Signin component

but Signin component do nothing with it.
Did I miss something ?

[2018-09-19 16:27] Ch3ck opened #1679 "Update Crypto Browserify package for amazon-cognito-identity-js"
**Describe the bug**
A clear and concise description of what the bug is.
I encountered an issue as many others with the `undefined` _global variable appearing as a side effect as others have pointed out below:
1. https://github.com/aws/aws-sdk-js/issues/1512
2. https://github.com/aws/aws-sdk-js/issues/1566

I literally had to patch this package as a temporary solution, however after filing an issu

[2018-09-19 16:32] jrp-23 opened #1680 "Redirect after signUp with JWT in Authorization header"
I am using Amplify’s Authentication API with a custom login form - just a basic HTML form.  The form’s onSubmit handler function makes a call to Amplify’s Auth.signUp method.  Upon successful return from this method, I want to:
1. Redirect to my index.html on my server.
2. Add the JWT to the Authorization header for the redirect request.

How do I do this?

[2018-09-19 16:54] powerful23 commented on #1671
@jayair this is probably caused because the browser is blocking the pop-up window. Related to #1540

[2018-09-19 17:24] jrp-23 opened #1683 "Redirect after signIn with JWT in Authorization header"
I am using Amplify’s Authentication API with a custom login form - just a basic HTML form. The form’s onSubmit handler function makes a call to Amplify’s Auth.signIn method. Upon successful return from this method, I want to:
1.  Redirect to my index.html on my server.
2. Add the JWT to the Authorization header for the redirect request.

How do I do this?

[2018-09-19 17:38] jayair commented on #1671
@powerful23 I see. It'll be good if we can just log the user out, if we are unable to refresh their credentials.

[2018-09-19 17:41] nihakue opened #1684 "federatedSignIn types are too restrictive"
**Describe the bug**
https://github.com/aws-amplify/amplify-js/commit/70106843c8c50a696de3e6bfd755856182f229a4#r30566105

Before the above change, we had been happily using a custom identity provider, but now we're getting build failures due to type mismatch. Is there a reason that this was locked down? The amplify docs say that [any openID identity provider can be used](https://aws-amplify.github

[2018-09-19 18:51] nidsharm commented on #1665
@chai86 , I did fork the starter, but for testing it out right now, I just followed the exact 4 steps that I had mentioned to get the project working.
As for the versions: react-native : "0.47.1". We have a yarn.lock file which would be installing only specific versions of each package.
Also, could you install yarn first, then redo the steps on the repo as yarn is usually better in managing duplic

[2018-09-19 18:53] bionicles opened #1685 "Auth.signUp does not verify user email if phone number is provided"
**Describe the bug**
Auth.signUp does not verify user email if phone_number is provided

**To Reproduce**
Steps to reproduce the behavior:
1. make a cognito user pool with all the things, email as username
2. sign up with an email and also provide the user's phone_number

**Expected behavior**
When a user signs up with email and phone number on AWS Amplify -> Cognito I expect the system to send ve

[2018-09-19 19:40] afflitto commented on #487
I also was getting "Unkown error" on signup. In my userPool.signUp onSuccess, I was calling userPool.getCurrentUser().signOut() to sign out a previously signed in user, but this was throwing the Unkown error if there wasn't a user signed in.

This was causing signUp to be called twice, once without an error, and once with the Unkown error

[2018-09-19 19:46] nidsharm commented on #1685
Hi @bionicles,

Amplify wraps around the cognito js sdk and the signup functionality on the sdk currently doesnot support this feature directly. It's on their backlog. For the time being you could follow the Important section in this guide : https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-settings-email-phone-verification.html and work with the cognito sdk to make it work.

@yu

[2018-09-19 20:14] arelaxend commented on #1416
Hi, I found the same issue, "uncaught (in promise) TypeError: Cannot read property 'identityId' of undefined" and the permission are correct for both auth and noauth.

[code]

[2018-09-19 20:15] powerful23 commented on #1675
@guillaumecodet can you give more details about this question? Do you mean you want to check if the current user is logged in with Cognito or not?

[2018-09-19 20:16] tncbbthositg commented on #242
Did this ever get released?  I'm having the same problem with aws-amplify `1.1.1`.

In my App.js, I'm doing this:
[code]

[2018-09-19 20:36] D2KX commented on #1683
You can get the access, id and refresh tokens with Auth.currentSession() from the @aws-amplify/auth module. Passing them over to your other site is not strictly an AWS Amplify issue and depends on the HTTP client or method you want to use.

You could also attach the token to the url as a hash, similar to how the Implicit Grant Type works with OAuth2.

Another way to do what I think you're trying t

[2018-09-19 21:01] SashaMoe commented on #1652
I'm using a custom key.

[2018-09-19 21:28] jrp-23 commented on #1683
I agree that it is not strictly an AWS issue, but it seems to me to be a very basic and common use case, yet I am not finding much on the internet for how to accomplosh this.  It would be helpful if Amplify documentation at least provided options or suggestions for how to implement this portion.  They do have react component examples and a hosted UI that accomplishes this, but no example for a cus

[2018-09-19 21:38] undefobj commented on #1683
Are you looking for information on this "Add the JWT to the Authorization header for the redirect request."?

You can use the API category and just add this to the headers. For example:

[code]

The API category works with any generic backend, not just AWS for both REST and GraphQL endpoints. Or is there more out of the box functionality you're describing that you want either the Amplify APIs or s

[2018-09-19 22:03] bugeats commented on #876
It's not just the `window` object. Here the lib assumes access to the `navigator` object without doing any checking:

https://github.com/aws-amplify/amplify-js/blob/fe1324ffad3821041a324904ba8d4d52c1977688/packages/amazon-cognito-identity-js/src/CognitoUser.js#L494

You could go a long way by simply building your stuff in Node to discover these kinds of errors. There's no reason to have a hard dep

[2018-09-19 22:08] jrp-23 commented on #1683
I am looking for either a pure JavaScript solution, or via Amplify out of the box.  I am trying to avoid the additional layer of the API category, and other frameworks for that matter.

[2018-09-19 22:11] HieronymusLex opened #1686 "Unknown plugin transform-runtime specified in ..../node_modules/aws-amplify-react/.babelrc"
**Describe the bug**
I've setup a basic CRNA project, added a GraphQL API with Cognito auth and installed `aws-amplify` `aws-amplify-react` and `aws-amplify-react-native`.

When importing `withAuthenticator` from `aws-amplify-react` and running the app on the ios simulator, the following error gets thrown:

[code]

**To Reproduce**
1. Install latest CRNA CLI tool
2. Create a new app
3. Import `wit

[2018-09-19 22:27] trsteel88 opened #1687 "Using a pre-signed URL to upload a file"
** Which Category is your question related to? **

Uploading files with a pre-signed url (without cognito)

** What AWS Services are you utilizing? **

Amazon S3 Bucket Only

** Provide additional details e.g. code snippets **

Apologies if this is not the correct place to ask this question.

I have an API which already provides a pre-signed URL which will allow me to post a file to an Amazon S3 b

[2018-09-19 22:31] HieronymusLex commented on #1686
well i'm an idiot. needed to import from `aws-amplify-react-native`

[2018-09-19 22:31] #1686 closed

[2018-09-19 23:10] nidsharm commented on #1687
Hi @trsteel88 ,

We do not support uploading an object using a presigned url in Amplify yet. You could however use the AWS js sdk [S3 getSignedURL API](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#getSignedUrl-property) to upload the object.

[2018-09-19 23:58] powerful23 commented on #1679
related to #1439 #891 #888

[2018-09-20 00:00] powerful23 commented on #1684
Thanks for reporting! Will make a fix for that!

[2018-09-20 00:03] powerful23 commented on #1677
@mickadoua I'm sorry but for now this feature is not supported in React Native. You can follow this doc: https://aws-amplify.github.io/amplify-js/media/authentication_guide#federated-identities-social-sign-in to get the token from federated providers and then call `Auth.federatedSignIn()` to get the aws credentials.

[2018-09-20 01:18] felixis-1 commented on #1448
Hi @manueliglesias,

This feature is somewhat critical for us and may also be the reason for #1283. Do you think that might be the case? Also, is there any timeline available for this to be fixed so that we can plan our system accordingly.

Also, if there can be a way to detect that the subscription has ended, we can manually resubscribe to it. But I did not find any such support in the documentat

[2018-09-20 01:52] kalzoo commented on #758
I ran into this same issue in development (repeatedly signing in and out) - MFA worked for two cycles, and then afterwards, each call to `Auth.confirmSignIn` would fail with this message, `Missing required parameter Session`. Debug calls to `Auth.currentSession()` were showing that authentication was succeeding even without MFA, but the object returned by `Auth.signIn` had a null value for the key

[2018-09-20 02:50] luke-lim opened #1689 "where is the Authenticator component that is pictured in the style guide"
I would like to use the authenticator mentioned in the style guide instead of the default one provided for react.

It looks great and has a country code picker for the phone number.

[screen shot 2018-09-19 at 9 47 15 pm](https://user-images.githubusercontent.com/4475325/45792962-99994180-bc55-11e8-948d-f6dfbb2e59e3.png)

instead what i see is this

![screen shot 2018-09-19 at 9 48 24 pm](https://

[2018-09-20 02:57] mlabieniec commented on #1689
@luke-lim The new authenticator using the new UI / Styleguide is provided out-of-the-box with the latest aws-amplify-react. Are you using @latest or v1.x ? The new UI is part of v2.x in aws-amplify-react and part of the amplify-ui package now. If you install aws-amplify-react@latest you should get the latest w/the new ui

[2018-09-20 03:06] vutronic commented on #1031
@ossareh if you extend SignIn I believe you can override the showComponent and return your component. This is simpler then overriding the render method.

[2018-09-20 05:26] VicFrolov opened #1690 "Hosted UI and /oauth2/authorize seem to auto login, without having the option to confirm ("continue"), or log in to a different account"
**Describe the bug**
Neither:
a) using the hosted UI and signing in with facebook/google
`https://my-app.auth.auth.us-west-2.amazoncognito.com/login?(...)`

b) using the oauth login
`https://my-app.auth.auth.us-west-2.amazoncognito.com/oauth2/authorize?(...)`

has the user confirm / continue, by presenting them with the common view found in most apps.

Approach b) has no way to switch to a differe

[2018-09-20 06:52] vallyscode commented on #976
Just in case someone else has such problem in nodejs. Solution is to add "dom" to lib in tsconfig.json so that compiler can find definitions.

[2018-09-20 07:56] jorge-sanz opened #1692 "Question: Is it possible to track events that happened offline with AWS Amplify Analytics using React Native Expo environment?"
** Which Category is your question related to? **
Analytics

** What AWS Services are you utilizing? **
AWS Pinpoint

** Provide additional details e.g. code snippets **
I am using React Native with Expo and I would like to track offline events. Is it possible with this? Any solution for the problem?

[2018-09-20 08:12] jorge-sanz commented on #1692
This is the way to do it, right? https://github.com/aws-amplify/amplify-js/blob/master/docs/media/service_workers_guide.md

[2018-09-20 08:29] pribadi1st commented on #1245
PushNotification works on me in android.

you need to put the PushNotification.configure outside the component

[Here's an example](https://github.com/zo0r/react-native-push-notification/issues/754#issuecomment-394850342)

[2018-09-20 09:12] Amiram1 opened #1693 "Add class to the extra div generated by withAuthenticator HOC"
When wrapping withAuthenticator around a component, if the user is signed in, an extra div is created:

`            if (signedIn) {
                return (
                    <div>
                        {
                            includeGreetings?
                            <Greetings
                                authState={authState}
                                authData={authData}

[2018-09-20 09:30] jorge-sanz commented on #1692
Is it completely necessary to configure service worker for offline events tracking?

[2018-09-20 09:42] mickadoua commented on #1677
ok Thanks,
I create a PR #1694 to clarify the doc

[2018-09-20 09:56] stephannagel commented on #1337
Hi Musso,

Running in the same issue here. Do you have a working example to share?

Thanks
Stephan

[2018-09-20 10:04] simodroussi commented on #546
You are right it's not the best solution. At least for me.

[2018-09-20 11:05] musso commented on #1337
Hi @stephannagel , try this
[code]

[2018-09-20 14:03] ghost opened #1696 "How to authenticate Identity Pool User without using Amplify Components"
** **Which Category is your question related to?** **

Authentication

** **What AWS Services are you utilizing?** **

Cognito Identity Pool (_not_ User Pools)

** **Provide additional details e.g. code snippets** **

**A little background**
Our organization does not require users to use passwords, so we could not use User pools. We created a custom authentication service, but leveraged Cognito Id

[2018-09-20 14:44] rqton commented on #690
Hello ! I have the same issue as @Jun711. I also have granted my cognito role to all lambda invoking.

Here is my Amplify configuration :
[code]

And the api call in JS :
[code]

Did someone found any solution ?
Thanks in advance.

[2018-09-20 14:56] pronevich commented on #1377
Same issue in `Auth.changePassword()`

[2018-09-20 15:40] jonsmirl opened #1697 "css box-sizing and react auth component"
This is beyond my understanding of how css works, but I can describe the problem.  Some component in this large app I am working on is adding the 'sanitize.css' stylesheet.  https://github.com/csstools/sanitize.css

That stylesheet contains:
*,
::before,
::after {
  background-repeat: no-repeat; /* 1 */
  box-sizing: border-box; /* 2 */
}

This doesn't impact anything except the SVG icons on the f

[2018-09-20 17:18] powerful23 commented on #1416
@arelaxend hi did you configure the auth module in your code?

[2018-09-20 17:35] powerful23 commented on #1693
@Amiram1 the extra div is mainly used when the `Greetings` component is added. Can you explain why you want to remove the div component?

[2018-09-20 18:47] elorzafe commented on #1448
The pr that I am sending can give a solution for reconnection and handle network errors on the observable like this.

[code]

[2018-09-20 18:54] ossareh commented on #1031
@vutronic thanks for catching that, I've not dug in too deeply but that does look as though you can then avoid the `prop.authState` check.

[2018-09-20 19:27] ngouass opened #1699 "[Question] - [Analytics]: Demographic data are sent two times, the second time with invalid data !"
** Which Category is your question related to? **
Analytics
** What AWS Services are you utilizing? **
Pinpoint
** Provide additional details e.g. code snippets **
I followed the documentation for implementing analytics on my React-Native app. I'm able to see result on Pinpoint but I also get some additional data that I don't want.

**Config**
[code]

With that config I'm able to get the following

[2018-09-20 19:52] FLavalliere commented on #1377
I think the issue is due to how the Cognito is configured.

Ie: Cognito Identity must be token based otherwise it wont work....

Well i solved something due to that..  and it finally worked..

[2018-09-20 20:06] jonsmirl commented on #1697
To be more precise I added box-sizing: content-box; to the SPAN wrapping the SVG element. It does not work directly on the SVG element.

[2018-09-20 20:20] ajhool opened #1702 "Manually configuring an API Gateway Authorizer for use with @aws-amplify/api authenticated requests"
**Which Category is your question related to?**
Auth + API

**What AWS Services are you utilizing?**
API Gateway, Lambda, Cognito, AWS Serverless Application Model + Cloudformation

**Provide additional details e.g. code snippets**
We're currently using the AWS Amplify client library while configuring our backend with AWS Serverless Application Model (SAM). I just wanted to confirm that our unders

[2018-09-20 23:21] reggie3 opened #1704 "Auth.sign() Not Resolving or Throwing an Error"
**Describe the bug**
Using `Auth.signIn()` is not resolving or rejecting.  However, Logger `DEBUG` output is being produced indicating a `CognitoUserSession` exists

**To Reproduce**
Steps to reproduce the behavior:
1. Creating a React Native application
2. Used same Amplify configuration settings that work successfully in React JS web application
3. Attempt to login in using `Auth.signIn(username

[2018-09-20 23:29] mandriv opened #1705 "Refreshing user"
So I have the following scenario:

1. User signs in authenticating against user pool.
2. I am updating user's custom attribute on my backend using [AdminUpdateUserAttributes](https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_AdminUpdateUserAttributes.html)
3. `const user = await Auth.currentAuthenticatedUser()` or `const attributes = await Auth.userAttributes(user)` a

[2018-09-20 23:31] mandriv commented on #1704
Are you sure you are using `async` keyword for your function?

[2018-09-20 23:47] mandriv commented on #1705
Apologies, my bad - attribute was not set as 'Readable Attribute' in user pool settings.

[2018-09-20 23:47] #1705 closed

[2018-09-20 23:53] reggie3 commented on #1704
@mandriv Yep.
Also, I'm using the Render Prop pattern, and this is the same code that lets me successfully login in the React JS application.

[2018-09-20 23:56] reggie3 commented on #1704
Login works properly if I completely restart my development environment with `expo start`.

[2018-09-21 00:01] nidsharm commented on #1704
Shouldn't the debugger; statement be after the catch block ? I tried using try catch with a statement in the middle and got the error: Missing catch or finally after try.

[2018-09-21 00:24] reggie3 commented on #1704
@nidsharm Good point.  The debugger statement should have been after the assignment to the `res` variable.  I have updated the example in my report.

[2018-09-21 09:44] JohnnyMinty commented on #368
+1 for this issue - looking at the source code i can't see a way to add or set the TIMEOUT.

[2018-09-21 09:55] JohnnyMinty commented on #368
For feference to anyone looking to set the timeout or any other configuration option prior to sending a request- use an AXIOS request interceptor:

import axios from "axios";

axios.interceptors.request.use((config) => {
   config.timeout = 5000;
});

[2018-09-21 10:47] yuridolzhenko opened #1714 "AWS Amplify not working with latest angular universal engine / server side rendering"
Server-side rendering is not working with AWS Amplify, resulting in error:

var proto = window['Element'].prototype;
                              ^
TypeError: Cannot read property 'prototype' of undefined

that is coming from dom-utils's matches.js which is used by Amplify:

Object.defineProperty(exports, "__esModule", { value: true });
var proto = window['Element'].prototype;

Steps to reproduce

[2018-09-21 12:19] sahilkanani1812 commented on #684
**After following the steps given in the documentation, I am still experiencing the issue of "AMQJS0008I Socket closed."**

I was trying to use IOT Module to create AWS IOT Chat for my serverless application (I followed the steps given in the documentation), but it didn't worked and gave 'Socket Already Closed' error.

I have followed below steps:

 1. I have give "iot:*" rights to my cognito pool

[2018-09-21 12:32] stripathix commented on #102
What about the data already stored in Cognito sync? Is there any way to migrate that data?

[2018-09-21 13:47] mbunge commented on #1445
Same here for latest Ionic 3.9.2 and Angular 5.2.11.

Building with --minifyjs flag leads to mentioned error.

Current build environment for reference:

[code]

[2018-09-21 16:03] goatandsheep opened #1715 "user.completeNewPasswordChallenge is not a function"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Use flat aws-exports.js structure
2. Set Cognito up such that Only Admin creates accounts
3. Use Amplify but not mobile hub
3. Create an account
5. try to change the temporary password using `Auth.completeNewPassword(userFromLoginAttempt, newPassword, requiredAttributes)`

[2018-09-21 16:07] thomasmichaelwallace commented on #1714
This seems related to #1668 - which has a matching PR to get it fixed.

[2018-09-21 16:59] powerful23 commented on #1241
@Sdcxv you don't need to install aws-sdk again when you have installed aws-amplify

[2018-09-21 17:52] powerful23 commented on #1715
@goatandsheep hi can you confirm that the `userFromLoginAttempt` object should be a `CognitoUser` object?

[2018-09-21 18:19] #1602 closed

[2018-09-21 18:55] tncbbthositg opened #1716 "Storage throws 'Error: Missing credentials in config' on any operation."
**Describe the bug**
`AWS.config.update({ credentials });` does not seem to set credentials for the `S3` client.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a react native application
2. Add AWS amplify
3. Create a project on Mobile Hub
4. Configure AWS Amplify with `aws-exports.js`
5. Use AWS Amplify Storage to put an object in S3
6. Notice that the put fails and an error

[2018-09-21 19:10] nicksmithr opened #1717 "Issue installing cli"
**Describe the bug**
A clear and concise description of what the bug is.

Tried installing aws-cli from terminal, ran into ```node-modules``` issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
Terminal
2. Click on '....'
Run ```sudo npm i -g @aws-amplify/cli```
3. Scroll down to '....'
Output
4. See error
[code]

**Expected behavior**
A clear and concise description of what y

[2018-09-21 19:15] nicksmithr commented on #1717
Wrong repo, sorry

[2018-09-21 19:15] #1717 closed

[2018-09-21 19:17] kaustavghosh06 commented on #1717
I’ve seen this happen sometimes due to a previous version of the CLI installed. You either might want to first npm uninstall the CLI and then install it again. Or you might want to delete this folder -> npm ERR! enoent ENOENT: no such file or directory, rename '/usr/local/lib/node_modules/@aws-amplify/ and then install the CLI.

[2018-09-21 19:29] differentsmoke commented on #915
I'm having the exact same issue and I had a few questions:
- I can't find anything in the official documentation of how to deal with a first time user. Is there a discussion of this somewhere?
- "completeNewPasswordChallenge" also works for me, but it also throws the error when it runs (it throws, but it works). Has anyone figured out why?
Thanks.

[2018-09-21 20:12] daviskoh commented on #1377
very odd...it says in the [Authentication Guide(https://aws-amplify.github.io/amplify-js/media/authentication_guide) that local storage is optional yet if Amplify is NOT providing its own storage, then it appears that this is actually required?

[2018-09-21 20:36] daviskoh commented on #546
same issue. yikes..

[2018-09-21 20:52] #1668 closed

[2018-09-21 20:59] daviskoh commented on #546
https://github.com/MacKentoch/react-redux-bootstrap-webpack-starter/issues/5#issuecomment-335106227

worked for me though I am unsure how viable this is for everyone

[2018-09-21 21:55] zyzski opened #1718 "Auth: signIn always returns { challengeName : "NEW_PASSWORD_REQUIRED" }"
**Describe the bug**
The `Auth.signIn()` function always returns a new password challenge in the user object:
`{ challengeName : "NEW_PASSWORD_REQUIRED" }`, even after doing `Auth.completeNewPassword()`

The user status is "CONFIRMED" in the AWS Cognito user list.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new user
2. Start sign in flow:
[code]

3. Start complete password flow:

[2018-09-21 22:00] paulmand3l commented on #750
Just ran into this issue. Any progress?

[2018-09-21 22:10] elorzafe commented on #1646
Thanks for creating the issue. I have reproduced the problem and I will send a PR to fix it soon.

[2018-09-21 23:51] kevinwolfcr opened #1721 "Multi app and multi environment best approach?"
Hello, at my current work we want to implement Amplify.

Currently we have two native apps (client and employee), and an administrative dashboard. On those apps we want to share some data and authentication (through user groups).

As far as I've read, all the guides explain how to add amplify to a single app, but I haven't found any guide on how to share backend on different apps. Any approach
or

[2018-09-22 00:22] #1646 closed, assigned to elorzafe

[2018-09-22 01:27] elorzafe commented on #1646
The fix is publish on aws-amplify@unstable (1.1.4-unstable.1)

[2018-09-22 01:36] #750 closed

[2018-09-22 01:47] elorzafe commented on #750
Fix is already published on aws-amplify@unstable (1.1.4-unstable.2)

[2018-09-22 02:03] ispyinternet commented on #876
Please un-polyfill window in Node. Breaks my environment!!

[2018-09-22 04:02] #1658 closed

[2018-09-22 10:14] yuridolzhenko commented on #1714
looks like this is it! Thanks. closing this one then.

[2018-09-22 10:14] #1714 closed

[2018-09-22 10:54] jalooc opened #1722 "The "Host your App" section is not applicable to React-Native guides"
**Describe the bug**
The `Getting Started` guide for selected `React-Native` framework features the `Host your App` section. This probably doesn't make sense in the context of a mobile app.

**To Reproduce**
Go to https://aws-amplify.github.io/amplify-js/media/quick_start#step-5-host-your-app

**Expected behavior**
This section shouldn't be there, or it should explain how to fire the analytics eve

[2018-09-22 10:56] shitalpimpale commented on #1538
facing same issue for cognito login functionality

[2018-09-22 12:25] paul-doherty opened #1723 "Push Notification - React Native - bare bones project crash"
** Which Category is your question related to? **
React Native (non Expo) - Push Notifications

** What AWS Services are you utilizing? **
Pinpoint

** Provide additional details e.g. code snippets **
Hi guys, I'm trying to use Amplify for push notification (initial testing on Android device) for which I created a brand new project with just the amplify added but the app crashes immediately on rec

[2018-09-22 16:02] jbprat opened #1724 "User is not authenticated error when trying to update user attributes"
** Which Category is your question related to? **
Cognito user authentication

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
Hi,

I'm trying to implement Amazon Cognito authentication in my Angular 6 application.
I can connect my user, but I want to give the users the ability to change their informations, so I created a new service to updat

[2018-09-22 16:11] mlabieniec commented on #1722
Thanks for the feedback! The section is there (and may need better wording) for the ability to host your static assets i.e. images, videos, remote assets etc. Via cdn / CloudFront for your native apps.

[2018-09-22 17:53] Larsrdev commented on #1721
As far as I understood the apps are independent from each other?
Than every app needs his own implementation of the Amplify API. Amplify is the "connection-helper" to get connected to your AWS Backend.
At first, get some decent architectural pattern. Do you really need two apps for client and employee?
Environments can be controlled via your env-variables / build-stages / scripts, etc.
Each enviro

[2018-09-22 22:17] jadbox commented on #1638
Thanks I'll give this a try. This should be better documented as I wasn't clear at all how to get started from the aws-sdk docs.

[2018-09-22 22:17] #1638 closed

[2018-09-22 22:32] richardzcode commented on #1624
Just FYI https://github.com/richardzcode/Journal-AWS-Amplify-Tutorial/tree/master/step-03 is updated with the latest Amplify. Hope it is helpful 😄

[2018-09-22 22:44] richardzcode commented on #1360
Take a look at https://github.com/richardzcode/Journal-AWS-Amplify-Tutorial/tree/master/step-02#4-greetings. It is updated with Amplify 1.1 now. The idea is to listen to auth events through `Hub`

[2018-09-22 22:45] richardzcode commented on #630
I believe this one can be closed as `SignOut` component is available now.

[2018-09-22 23:03] richardzcode commented on #1724
Hey @jbprat one possible case is that MFA is required for your user. So until confirmed via SMS or TOTP the user is not really authenticated.

Actually with AWS Amplify you don't need to interact with Cognito directly. `Auth` module of Amplify makes all these very easy.

[code]

Once `signIn` happened you may check console logged 'user' object see if there is a `user.challengeName` property to mak

[2018-09-23 00:16] jbprat commented on #1724
@richardzcode There is no MFA on my user, but I'll try using Amplify instead of directly using Cognito!

[2018-09-23 07:17] pribadi1st opened #1727 "[IOS] onnotification not trigger when apps is killed"
**Describe the bug**
onnotification not triggered when app is killed.
Works well on background and foreground.
Works fine on android (Foreground, background, app killed).
i don't know if i'm missing something.

**To Reproduce**
Steps to reproduce the behavior:
1. I've followed the instruction at
https://aws-amplify.github.io/amplify-js/media/push_notifications_setup.html
2. Check background fetch

[2018-09-23 10:06] kodeinEU opened #1728 "No cognito user attributes in authData object"
Hi, I'm using standard amplify/cognito authentication flow in my react app.
After SignIn with SMS confirmation my App render function needs to do some checks on signin user attributes. The App component is wrapped with withAuthenticator, so I can read authData from my props.
But there is no attributes inside authData object. After page refresh (F5) attributes are there as expected.

the authData o

[2018-09-23 17:21] willycamargo opened #1729 "How to get an access token for custom audience server"
**Which Category is your question related to?**
User Auth

**What AWS Services are you utilizing?**
aws-amplify

**Provide additional details**
I want to create an API and have custom scopes etc, so I followed what I could find of the docs and did this:

- created user pool
- created app client
- created resource server + scopes

but now, I can't seem to get an access token for that resource serve

[2018-09-23 22:06] mwarger commented on #552
I'm seeing this behavior again on the latest version of aws-amplify - can this issue be investigated once more?

[2018-09-23 23:03] vmurillo opened #1730 "React Native Enabling Federated Identities working with Expo?"
** Which Category is your question related to? **
It is related to adding Federates Identities to a React Native App.

** What AWS Services are you utilizing? **
Cognito with Simplify

** Provide additional details e.g. code snippets **
After following the instructions in [https://aws-amplify.github.io/amplify-js/media/authentication_guide#enabling-federated-identities], I tried to add Facebook an

[2018-09-24 05:12] ruilunli opened #1731 "Auth.currentCredentials() authenticated becomes false after refre the page"
**Describe the bug**
Hi, I am using office365 as an identity provider and Cognito as the service provider for the authentication.
I followed these documentations [Using Amazon Cognito Hosted UI](https://aws-amplify.github.io/amplify-js/media/authentication_guide) and [How to set up AWS Cognito with federation to Office365](https://www.idea11.com.au/how-to-set-up-aws-cognito-federation-office365/)

[2018-09-24 08:28] karlmosenbacher opened #1732 "Duplicate identifier 'Subscriber with typescript"
**Describe the bug**
Getting the error:
"Duplicate identifier Subscriber" when trying to run my react application with typescript.

The error seems to be located in:
my_project/node_modules/@aws-amplify/api/node_modules/@types/zen-observable/index.d.ts

My dependencies:
"react": "^16.4.1",
"aws-amplify": "1.1.3",
"aws-amplify-react": "^2.0.4",
"typescript": "2.8.3"

**To Reproduce**
Steps to repro

[2018-09-24 09:13] Exitialis1 opened #1733 "Moving Amplify project to new computer"
I have tried to open my existing Amplify project on two separate computers (beyond the original used to create the project) and both times it has not worked. I follow the getting started steps, then open the existing project and attempt to run it with serve or publish and it fails with a missing module.

Steps to reproduce the behaviour:
On a new computer, install Node and NPM
Install and configur

[2018-09-24 09:13] stephannagel commented on #1337
Thanks, this works!

[2018-09-24 09:56] antonsamper opened #1734 "Could not find TypeScript declaration for '../vendor/paho-mqtt'"
If you are using TypeScript and you try to install the latest version of `aws-amplify` you will see the following error:

[code]

Trying to install`@types/aws-amplify__pubsub` doesnt help as it doesnt exist so the solution is to declare it yourself.

**To Reproduce**
1. Error happens when starting up (`npm start`) a Create React App TypeScript project

**Expected behavior**
No loading errors

**De

[2018-09-24 11:31] jrp-23 opened #1735 "Can you specify cookies for cookie storage?"
I’m considering using cookie storage for the purpose of sending a JWT to the server on every HTTP request.

I configured my app to use cookie storage but doing so will include all 3 JWTs (id, access, and refresh) as separate cookies.  All 3 cookies will be sent for each request, but I only need 1 (access token).  I don’t want the other 2 cookies sent as it is unnecessary additional payload which h

[2018-09-24 12:02] antonsamper commented on #1734
This is happening on both of the latest versions:
* `1.1.3`
* `1.1.4-unstable.2`

[2018-09-24 13:13] #630 closed

[2018-09-24 13:41] kaustavghosh06 commented on #1733
Run the ‘amplify configure project’ command to setup the Amplify project on a different machine.

[2018-09-24 15:27] jaredready opened #1736 "currentSession returns 'no current user' because Cookie Storage is ignored"
**Describe the bug**
When using `cookieStorage`, authentication succeeds but then fails to find the authenticated user. Tokens are stored in local storage even with `cookieStorage` configured.

Using React, though it seems to not matter which library/framework is used.

Versions:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Copy minimal Amplify Auth configuration using User Pools a

[2018-09-24 15:31] Exitialis1 commented on #1733
I just tried this, it went through the steps correctly but still cannot find the module. Am I supposed to install the module manually?

[2018-09-24 15:41] mohanrao opened #1737 "Auth.currentAuthenticatedUser() is not working in always as expected"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
AWS Cognito
** Provide additional details e.g. code snippets **

`/**
   * This method is used to get current user
   * @returns {Observable<User>}
   */
  public getCurrentUser(): Observable<User> {
    const self = this;
    return Observable.create(observer => {
      Auth.currentAuthenticatedUser(

[2018-09-24 15:45] isamsamet opened #1738 "Unknown error, the response body from fetch is: undefined"
I am using in Node.js the following versions
    "amazon-cognito-identity-js": "^2.0.29",
    "node-fetch": "^2.2.0",

I am trying to signUp and authenticateUser in my app.

Initially I was getting "fetch undefined" when I call singUp. Which was fixed by adding the node-fetch library. Now I can successfully signUp users.

Now I am getting the error "Unknown error, the response body from fetch is:

[2018-09-24 16:54] powerful23 commented on #1560
@markclayton can you show your `package.json` and also can you check if there are `aws-sdk` packages under `./node_modules/@aws-amplify/{category}/node_modules`

[2018-09-24 17:13] rclarkburns commented on #239
I've got the withOAuth HOC setup and working...somewhat. I get redirected as expected  to authenticate with Auth0 but I get an error about the username attribute mapping required along with invalid request. I've setup auth0 as an identity provider through the cognito user pool and everything seems to be in order based on the various documentation I've pieced together. Anyone have suggestions on so

[2018-09-24 17:15] powerful23 commented on #239
@rclarkburns did you configure the `Attributes Mapping` in the Cognito Console?

[2018-09-24 17:18] rclarkburns commented on #239
Hi @powerful23 thanks for the response. I did. It defaults the cognito username mapping to sub which seems correct. I actually tried to update the mapping for this to double check and cognito won't allow any value except sub.

[2018-09-24 17:21] powerful23 commented on #239
@rclarkburns could you paste the network requests or the error messages? I can try reproduce it.

[2018-09-24 17:30] ZebGirouard opened #1739 "React Native: `authuser` Role Does Not Seem to Persist"
**Describe the bug**

After signing up or logging in, I can run `API.get` and `API.post` with no issues.  However, when I try to refresh the app, I get a 403 error when running an `API.get` which claims I am in the `_unauth_` role (i.e. `assumed-role` is the `_unauth_` group, not the `_auth_` one).

**To Reproduce**
Steps to reproduce the behavior:
1. Log in with AWS
2. Run `API.get` to get user i

[2018-09-24 17:44] meatherly commented on #1734
This could be an option https://www.npmjs.com/package/@types/paho-mqtt
Not sure how much it lines up with what you need from paho-mqtt

[2018-09-24 17:47] rclarkburns commented on #239
Thanks @powerful23

Here is requests/responses after authentication.

Callback:

[code]

Request/response with error:

[code]

[2018-09-24 18:12] goatandsheep commented on #1715
## More details

upon `Auth.signIn()`, I receive a cognito user object. Unfortunately both `Auth.currentSession()` and `Auth.currentAuthenticatedUser()` came up as error instead of returning the user, so I couldn't access the `CognitoUser` object. As a workaround, I stored the user temporarily in localStorage. However, Amplify did not recognize the object after the JSON had been parsed. In additio

[2018-09-24 18:12] #1715 closed

[2018-09-24 18:18] powerful23 commented on #1715
@goatandsheep When you get resolved from `Auth.signIn()` with that user object, you are not actually signed in because you need to complete the new password. So at that moment `Auth.currentSession` and `Auth.currentAuthenticatedUser` won't work because you are not signed in. You need to directly use that user object returned from `Auth.signIn()` to help you finish the login process.

[2018-09-24 18:34] jordanranz commented on #1730
We currently do not support federated UI buttons for React Native.

The docs mention this (rather subtly) here:
https://aws-amplify.github.io/amplify-js/media/authentication_guide#enabling-federated-identities

 There is a backlog item to support this feature request but I do not currently have an ETA on completion

[2018-09-24 18:55] jordanranz commented on #1624
Closing this issue, as it seems the question has been answered. Please reopen if there are still related questions or concerns.

[2018-09-24 18:55] #1624 closed

[2018-09-24 18:55] rclarkburns commented on #239
@powerful23 Let me know if you need any additional information. Thanks again for your help with this.

[2018-09-24 19:12] Knowledge91 opened #1740 "API: graphql unsubscribe not working with multiple subscriptions within one component"
**Describe the bug**
I have a component which subscribes to three events: create, update, delete of an entity. The subscribtion happens in the componentDidMount method after all subscriptions have been "theoretically" unsubscribed. If I have too many subscriptions within one component some of them do not get unsubscribed when requested, which leads to multiple entries of the same data in my UI.

e

[2018-09-24 19:56] chris-ramon commented on #1734
- A temporary fix, working for us:
[code]

  Update your `tsconfig.json`:
[code]

[2018-09-24 19:57] #1479 closed

[2018-09-24 20:07] powerful23 commented on #1727
#1245

[2018-09-24 20:09] powerful23 commented on #1728
@kodeinEU that's caused because when the page is reloaded, the `Auth.currentAuthenticatedUser` is called and returned the attributes to you.

[2018-09-24 20:16] powerful23 commented on #1731
@ruilunli Hi you should use `Auth.currentAuthenticatedUser()` to check if the user is logged in or not. But in the meantime you should get an authenticated user if you are logged in and have those tokens stored in your local cache. Can you provide more details like some debug info?

[2018-09-24 20:18] powerful23 commented on #1735
@jrp-23 sorry but for now there is no way to do that. Will mark as feature request.

[2018-09-24 20:27] richardzcode commented on #1573
Here is a small example of integrating Redux with Amplify in an web app: [Step 05 - State Management via Redux](https://github.com/richardzcode/Journal-AWS-Amplify-Tutorial/tree/master/step-05)

[2018-09-24 20:27] jordanranz commented on #702
Going to close this issue. Please reopen if you are still experiencing related issues.

[2018-09-24 20:27] #702 closed

[2018-09-24 21:02] elorzafe commented on #1660
HI @jocactus I will close this issue for now. Feel free to reopen in case you need any help.

[2018-09-24 21:02] #1660 closed

[2018-09-24 21:48] elorzafe commented on #1664
@ehorodyski in order to secure your api is by allowing only authenticated users to have access to it. If your identityPool is allowing guest access I am not sure how to do that. @mlabieniec @powerful23   what do you think?

[2018-09-24 21:52] ngouass commented on #1699
hey guys, still waiting for any clues that could help me !! Thanks

[2018-09-24 21:53] antonsamper commented on #1734
@chris-ramon Thanks for adding the temporary fix and @elorzafe picking up this ticket.

[2018-09-24 21:58] elorzafe commented on #1518
@timheuer we will update this sample to make it compatible with amplify-cli. I saw "No User Pool" when there are multiple instances of amplify installed (nested node_modules inside of other package)

[2018-09-24 22:10] elorzafe commented on #1448
Hi @felixis-1 PR #1698 Is already published. Let me know if you need any help on this

[2018-09-24 22:12] jordanranz commented on #1160
Interesting. The 'theme' module does indeed exist:
https://github.com/aws-samples/aws-mobile-react-native-starter/blob/master/client/src/Utils/theme.js

Let me pull down the starter app and try to reproduce.

[2018-09-24 22:43] elorzafe commented on #1068
This issue was fixed. Can you try version 1.1.3?

[2018-09-24 22:48] elorzafe commented on #1721
@kevinwolfcr you are be able to share backend resources between different apps just by using the same configuration. If you use [amplify-cli](https://github.com/aws-amplify/amplify-cli) it will generate a file called `aws-exports.js` with all your resource endpoints. If you want to configure those manually, you still can copy the same configuration when you call `Amplify.configure({...})`

[2018-09-24 22:48] #1721 closed

[2018-09-24 22:51] ehorodyski commented on #122
I have to +1 the need for better documentation on tree-shaking this massive library. Especially when you already have AWS services created, and do not want to start a Mobile Hub project from scratch. I'm not a fan of the auto-naming scheme, and most of my services are created by other teams -- without our developers having access to do so.

[2018-09-24 22:53] EthanRBrown commented on #1068
Will do; I should have checked the version first.  We're pretty far
behind.  Thanks for replying, and sorry for the trouble.

On Mon, Sep 24, 2018 at 3:44 PM elorzafe <notifications@github.com> wrote:

[2018-09-24 23:07] rclarkburns commented on #239
Hi @powerful23 Any thoughts on this? I think in the interim I will stark looking at just integrating directly with Auth0 and not lean on Cognito as this has become a blocker for the project I'm working on.

[2018-09-25 00:07] powerful23 commented on #239
@rclarkburns I am working on to reproduce your problem but haven't done yet. Besides that from the error in the response there should be something not configured properly in your attribute mapping. How do you map your saml attribute to the user pool attributes. Is it something like `http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress` -> `Email`?

[2018-09-25 02:34] xtebs commented on #1538
Same here also for Sign-in. It happened after ForgotPassword function called. Probably related, still checking on this.

[2018-09-25 02:38] matamicen commented on #1245
Thanks @powerful23 and @pribadi1st for that reference, it works now, we had to place this code before the component, so now the app is receiving the push if it is killed also! (And it is also working on Emulator!)

[code]

I will Paste the whole code of the test just for help others:

[code]

[2018-09-25 02:38] #1245 closed

[2018-09-25 02:39] xtebs commented on #1538
Still the same on :
    aws-amplify : 1.1.3
    aws-amplify-react-native : 2.0.3

[2018-09-25 02:53] EssyTech commented on #610
I was just finishing up my implementation to convert to cognito and this issue came up in some tests.  What is being done, as of now, and is there going to be a solution to this?

[2018-09-25 04:32] kevinwolfcr commented on #1721
@Larsrdev we do need two different apps. Imagine Uber, they have the user (app), the driver (employee) app, and they can have a dashboard on which they activate new drivers. So yes, we need separate applications.

---

@elorzafe yes, I had that in mind and is may be the approach I will take. So I think, I will have the cloud services on one repo (aka amplify source) and then just pull the configur

[2018-09-25 08:00] ZebGirouard commented on #1646
Thanks @elorzafe , had same issue and `1.1.5-unstable.2` upgrade worked for me!

[2018-09-25 14:10] EssyTech commented on #610
Thank you for the quick reply.  However, we are currently implementing the cognito solution using the supplied cognito auth server by aws and not using amplify at this time, I just realized I posted this on the amplify issue area as I was searching this issue on google.  I will have to look into amplify for long term implementation and find out a way (maybe through lambda triggers) to implement th

[2018-09-25 14:52] rclarkburns commented on #239
Hi @powerful23 I'm not sure I follow. I've setup the auth0 identity provider using OpenID within the Cognito user pool. Perhaps I overlooked some configuration? Thanks.

[2018-09-25 15:00] stephannagel commented on #1381
Hi, any updates on this issue?

[2018-09-25 15:13] stephannagel opened #1742 "Version dependency used in amplify: crypto-browserfy not safe according to snyk"
Version dependency used in amplify not deemed safe by snyk. Snyk claims that crypto-browserfy needs to be updated. See screenshot for more info.

![screen shot 2018-09-25 at 17 03 44](https://user-images.githubusercontent.com/11136860/46023863-df3a8c00-c0e5-11e8-942c-9701ebd6c7d9.png)

[2018-09-25 15:40] mlabieniec commented on #1742
Duplicate of #1381

[2018-09-25 15:40] #1742 closed

[2018-09-25 15:42] jtaylor1989 commented on #1050
Can anybody provide a code example on how to use currentAuthenticatedUser to persist logged in users ?

[2018-09-25 15:52] Amiram1 commented on #1693
Hey @powerful23
The extra div is apparently added regardless of whether `Greetings` is used or not. It wraps the target component. Why is it needed at all?

[2018-09-25 16:36] jordanranz commented on #1160
@vutronic The sample app works for iOS. Are you attempting this on Android?

[2018-09-25 16:49] powerful23 commented on #239
@rclarkburns OpenID. I think you should add the auth0 provider using SAML2.0. According to this: https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-integrating-3rd-party-saml-providers.html

[2018-09-25 16:55] powerful23 commented on #1050
@jtaylor1989 Amplify will cache those auth tokens into the storage object(by default is you localStorage/AsyncStorage) so that the logged in users get persisted. `currentAuthenticatedUser()` method is just a way to detect whether there is a current logged in user or not.

[2018-09-25 17:15] stephannagel commented on #1742
Different version of amplify and a newer version of crypto-browserfy... Not sure if you can say it's a duplicate.

[2018-09-25 17:53] powerful23 commented on #1699
@ngouass sorry for the late response. This issue will be marked as bug. We will try to fix it ASAP.

[2018-09-25 17:56] Ch3ck commented on #1679
@powerful23 has this been fixed yet?

[2018-09-25 18:59] meatherly commented on #854
This also happens on:
[code]

[2018-09-25 19:07] felixis-1 commented on #1448
Hi @elorzafe, I am using version 1.1.3 of aws-amplify. With this version, using the example above always goes into the error block within the observable with the error "Network Error". However, my queries and mutations on that same screen are running fine. What might be missing in getting this subscription past this problem?

[2018-09-25 19:16] meatherly commented on #1734
Another fix is:
[code]
This is what they have in the `tsconfig.json` for this project. I believe that's why it's compiling.

The only reason I can't use `files` is because `fork-ts-checker-webpack-plugin` uses `files` for compiling and linting. I feel like I've went in circles all day trying to figure out this problem and the only thing that works is setting `allowJS` to `false.

[2018-09-25 19:31] vutronic commented on #1160
@jordanranz  I'm testing for iOS. Looks like  you have to change the import statement from" import { colors } from 'theme';"  to "import { colors } from '../Utils/theme'; " in the src files before it can bundle. I didn't realize the theme.js was located in Utils. Thanks.

[2018-09-25 19:32] jordanranz commented on #1160
@vutronic No problem. Curious if you used 'awsmobile start' or you just cloned the sample repo?

[2018-09-25 19:35] vutronic commented on #1160
@jordanranz - I downloaded it as zip vs cloning from Git. I use react-native run-ios.

[2018-09-25 19:45] jordanranz commented on #1160
@vutronic great, thanks for the response. I tested with the legacy 'awsmobile start' and it seemed to work. Let me try cloning it and spinning up the bundler.

For the future, I will add a task in our backlog to upgrade this sample application to use our new Amplify UI styleguide so it doesn't depend on the Util theme.

[2018-09-25 19:53] arelaxend commented on #1416
@powerful23 I solved it by doing all the tutorials again, and it works well. It's probably because I move Amplify.configure() outside index.js

[2018-09-25 20:11] #1529 closed

[2018-09-25 20:56] elorzafe commented on #1448
@felixis-1 can you paste a code snippet?

[2018-09-25 21:38] markmckim commented on #1529
@dabit3 - I've tried passing in a rerender function and calling it from my App but it doesn't appear to be triggering a rerender. The function is definitely reachable (i tried putting an alert in), but calling forceUpdate() doesn't seem to cause the withAuthenticator to rerender. Any ideas?

[2018-09-25 21:40] dabit3 commented on #1529
@markmckim did you rewrite the `withAuthenticator` component to be separate & receive the props? 👇

[code]

[2018-09-25 21:43] markmckim commented on #1529
@dabit3 I've got a slightly different pattern (as I'm passing in my own theme, and also using my own Auth components...although i don't believe this is related to the issue i'm seeing)...see below... (i've tried to replicate your example above but I may have the rerender defined and passed in the wrong place). Thanks again!

[code]

[code]

[2018-09-25 21:44] alloatech opened #1751 "XR Guide Setup Issue"
I am working through the  [XR Guide](https://aws-amplify.github.io/amplify-js/media/xr_guide) and I am getting the following error -

    at SumerianProvider.<anonymous> (SumerianProvider.js:158)
    at step (SumerianProvider.js:42)
    at Object.next (SumerianProvider.js:23)
    at fulfilled (SumerianProvider.js:14)
(anonymous) @ SumerianProvider.js:158
step @ SumerianProvider.js:42
(anonymous) @

[2018-09-25 21:56] rclarkburns commented on #239
Thanks @powerful23 I'll give that a shot.

[2018-09-25 21:56] mikecousins commented on #1532
I like this a lot. We need this functionality so that we can start uploading directly to S3 instead of through our app server.

[2018-09-25 22:00] dabit3 commented on #1529
Yeah, so the rerender method needs to be one level above the component that is the withAuthenticator component. I've rewritten my example to be clearer & in the correct order.

[2018-09-25 22:04] bernhardt1 commented on #498
I had the same issue appearing sporadically. It appears to be related to facebook rate limiting https://developers.facebook.com/docs/graph-api/advanced/rate-limiting

I noticed that my application rate limit status was above 100% whenever I got the **'Invalid login token. Token is expired.'** Error.

As far as I can tell I only call the facebook API with the following calls during login:
- Expo.Fa

[2018-09-25 22:48] jordanranz commented on #1598
Hi @Gerharddc. Thanks for the feedback.

The problem occurring here is that Semantic UI is applying a global box-sizing property. Explicitly setting this on the Amplify UI side will protect this from being set by parent or global styles. I will go ahead and make this fix.

[2018-09-25 22:55] jordanranz commented on #1697
Hi @jonsmirl,

Some third party UI libraries will add a global box-sizing: border-box; property to all elements. This makes the elements account for padding and border values: https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing

Specifically for the federated buttons, they need to be explicitly set to content-box to work with their given width, height, and padding. I am making a change to

[2018-09-25 23:00] markmckim commented on #1529
@dabit3 Perfect!!! That worked!!! I'm able to sign-out as expected from my App component. Your solution worked perfectly. Thanks for the help!

[2018-09-25 23:31] strykerCrew opened #1753 "Amplify.configure manual setup broken"
**Describe the bug**
Cannot use `aws-amplify` to login with latest react-native version due to `t.getPromise` error on release builds and cannot update `aws-amplify` library due to `Amplify.configure` not working!

**To Reproduce**
Steps to reproduce the behavior:

In a react-native application create config like follows:

[code]

Import into `App.js` and configure
[code]
Auth userPool is null and

[2018-09-26 01:42] jordanranz commented on #1629
Hi @jfo8000,

We are currently working on a better way to override styles with CSS Modules and themes. In the meantime a theme object with the correct key related to the element must be passed down.

The theme object is not being passed through to the signInButtonIcon and signInButtonContent. I will go ahead add code to propagate the theme object down to the signInButtonIcon and signInButtonConten

[2018-09-26 01:58] jordanranz commented on #1751
Hey @alloatech,

This error happens when there is something wrong with the sumerian scene configuration downloaded after publish. Unfortunately, I don't the ctrl + e export is not currently supported for this use case.

Is this a scene you have already published?

[2018-09-26 02:01] jordanranz commented on #1751
You can privately publish a scene and get the correct scene configuration used for Amplify in the upper right corner of your Sumerian console here:
<img width="262" alt="screen shot 2018-09-25 at 6 59 54 pm" src="https://user-images.githubusercontent.com/3868826/46052933-5deaf580-c0f5-11e8-996e-2a54332e7359.png">

[2018-09-26 03:47] bhuvanmishragyrix commented on #487
You Saved My Day. After one days time wasting. Figured out this was also the issue with me. Thanks a lot. Cognito Docs from Amazon are not good. I just copied their code and figured out the issue was with their code.

[2018-09-26 04:13] strykerCrew commented on #1753
Looks this this might be related to the changes here: https://github.com/aws-amplify/amplify-js/commit/ce3c510836a76a69dcd3a2e614ce085a7b28b76d#diff-bc12c34febbccc7c5bdf9ede4f4767eb

[2018-09-26 04:13] alsco77 opened #1755 "Theme not available on amplify-angular"
**Describe the bug**
CSS files are not being correctly linked from the `aws-amplify-angular/theme.css` file, meaning that none of my front end components (when using `amplify-authenticator-ionic framework="Ionic"`) show with any styling.

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh install of both `aws-amplify` and `aws-amplify-angular`
2. Navigate to `node_modules/aws-amplify-angul

[2018-09-26 04:30] vmurillo opened #1756 "AWS SDK in React Native"
** Which Category is your question related to? **
AWS Amplify integration with AWS services

** What AWS Services are you utilizing? **
SQS, SNS, etc

** Provide additional details e.g. code snippets **
I would like to know if it is possible to use the AWS Javascript SDK in a React Native project. Personally I am intending to use SQS but I dont see a mention of it in Amplify documentation. My unde

[2018-09-26 07:50] mariam1019 opened #1757 "AWS"

[2018-09-26 07:51] #1757 closed

[2018-09-26 09:40] dabit3 commented on #1529
Hey @markmckim that's awesome glad it worked :).

[2018-09-26 10:55] engharb commented on #825
@powerful23 exactly as you mentioned
[code]
but the problem is that we receive only id_Token, access_token and expires_in in the response URL?!!

[2018-09-26 13:07] yuankunluo opened #1758 "How to fake Aws Cognito User Pool"
** Which Category is your question related to? **
Auth, Cognito User Pool

** What AWS Services are you utilizing? **
Cognito User Pool, Cognito Identity Pool, S3

** Provide additional details e.g. code snippets **
no

Hi guys. I am in China and as you know, due to the government's policy the Beijing Region ( cn-northeast-1) and Ningxia Region are completely separated from AWS global.

Currently,

[2018-09-26 14:13] matamicen commented on #1727
@pribadi1st we have the same issue, @powerful23 the #1245 works for Android, not for IOS.
We are testing the app on the physical phone (iphone X) with the bundle running on the mac, so these are the steps of the test:

1) We Killed de APP in the Phone (Swiping it)
2) We send a Push from PinPoint , it arrives ok, when we tap the push the app Reload the bundle from the Mac and Start the APP without

[2018-09-26 14:39] ugurgungezerler opened #1759 "AWSPinpointProvider - Please ensure you have updated you Pinpoint IAM Policywith the Action: "mobiletargeting:PutEvents" in order tocontinue using AWS Pinpoint Service"
AWSPinpointProvider - Please ensure you have updated you Pinpoint IAM Policywith the Action: "mobiletargeting:PutEvents" in order tocontinue using AWS Pinpoint Service

[code]

[2018-09-26 15:28] monsieurTut opened #1760 "How to use aws-amplify-vue components?"
Hello,

I am trying to build a Vue.js application that uses AWS AppSync and AWS Cognito user pools.
I followed the Amplify documentation to  configure my app to use amplify vue components.

Here are the steps I took:

- Created new vue app with vue-cli 3:
  `vue create my-project`

- Initiated amplify and added api:
[code]

- Installed aws-amplify and aws-amplify-vue:
[code]

- Edited main.js:
[co

[2018-09-26 16:04] haverchuck commented on #1760
@monsieurTut - Thanks for reporting this.  We have a bug in our documentation that should be fixed shortly.

Please try this:

[code]

[2018-09-26 16:04] #1760 closed

[2018-09-26 16:40] tafelito opened #1761 "No Cache module registered in Amplify"
**Describe the bug**
I'm getting `No Cache module registered in Amplify` when using Storage.put method. Everything was working fine when I was importing everything form `aws-amplify`. Because of the bundle size, I wanted to only import the packages I'm using so I added `@aws-amplify/auth` & `@aws-amplify/storage`. I'm using federated identities for authentication. It seems that Storage needs the c

[2018-09-26 16:57] reggie3 commented on #1704
Still having the same problem, and it persists even after restarting the expo environment.

Here are all DEBUG statements that are logged by Logger when my application starts:
[code]

[2018-09-26 17:07] powerful23 commented on #1753
@strykerCrew Hi can you also update `aws-amplify-react-native` to the latest version `2.0.3`? The `no userpool` error is mostly caused by duplicate `aws-amplify` package under your node_modules.

[2018-09-26 17:18] powerful23 commented on #825
@engharb well that user could be optional. If not set, we can try to extract the user name from the jwt token.

[2018-09-26 17:29] powerful23 commented on #1727
@matamicen thanks for your feedback. Yes I agree we should get the initial notification after the app is opened from killed state. Currently we have a pr #1434 which uses the `PushNotificationIOS.getInitialNotification()` to make it work in IOS.

[2018-09-26 17:31] powerful23 commented on #1759
@ugurgungezerler hi this is warning message because the AWS Pinpoint Service has updated their API so you need to change your IAM policy. What's your concern about this message?

[2018-09-26 17:34] strykerCrew commented on #1753
We don't use the `aws-amplify-react-native` components, we only user the Amplify, Auth, and Cache for our login/authentication. Upgrading shouldn't and doesn't matter (just tried).

[2018-09-26 17:52] powerful23 commented on #1761
@tafelito can you provide some code snippets about how you are importing those modules. The error happens when the `Cache` module is not correctly registered into the `Amplify` object. The desired order is:
[code]

[2018-09-26 17:53] powerful23 commented on #1753
@strykerCrew if you don't need that package, you should remove it from package json and reinstall again. The previous version of it have a dependency on `aws-amplify` which may cause the problem.

[2018-09-26 17:55] powerful23 commented on #1718
@zyzski after finishing the auth challenge, can you go to the Cognito Console to see if the user status is changed from `FORCE_NEW_PASSWORD` to `CONFIRMED`?

[2018-09-26 17:56] ugurgungezerler commented on #1759
It is working, just wanted to inform
Thanks

[2018-09-26 18:09] strykerCrew commented on #1753
@powerful23 I removed it and did a clean and install of the node modules and have this in my dependancies:
[code]
Also, getting this in my debugger (perhaps circular import issues?):
<img width="1425" alt="screen shot 2018-09-26 at 11 03 38 am" src="https://user-images.githubusercontent.com/40576347/46099618-16f41300-c17c-11e8-9593-d07425c1dd9b.png">

If I manually configure auth:
[code]
I can get

[2018-09-26 19:07] tafelito commented on #1761
when my app starts, I do this

[code]

Then, after login, I do

[code]

And then, when I upload an image to S3, I do

[code]

[2018-09-26 19:14] blbradley opened #1762 "Connect component mutation docs are incomplete"
**Describe the bug**
Connect component mutation docs do not describe how to pass variables to the mutation function.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [relevant portion of docs](https://aws-amplify.github.io/amplify-js/media/api_guide#connect)
1. Scroll down to 'For mutations,'
4. No docs about passing variables

**Expected behavior**
Docs about passing variables

**Addit

[2018-09-26 19:15] bramski commented on #1377
What was the solution here?

[2018-09-26 19:46] jordanranz commented on #1762
Hey @blbradley, thanks for the feedback.

We are currently migrating our docs repo to this one here:
https://github.com/aws-amplify/docs

If you want to submit a PR here, it will go live by end of this week or early next week.

[2018-09-26 20:10] jordanranz commented on #1520
Hi @svstartuplab, thanks for submitting this issue.

For clarification, which resources would you like to be in the same region? Cognito and S3?

There is not explicit support to change regions for a feature's resources. However you can delete resources and re-init them using the CLI.

I'll add the CLI tag to this and someone from the CLI team can chime in on this functionality.

[2018-09-26 20:17] matamicen commented on #1727
Thanks @powerful23 , so How is the process go on? Do we have to wait the approval of the pr #1434 in order to merge to Master? Once the Master is merged you release a new verision of the library? Sorry for this basic question but I don't know how the process is :) ... Could you explain to me? Thanks again.

[2018-09-26 20:32] powerful23 commented on #1753
@strykerCrew there should be no `aws-sdk` under `node_modules/@aws-amplify/${category}/node_modules`. And The Auth will cache the session automatically so you don't need to register any cache into Amplify. Please don't include `aws-sdk` dependency in your package.json

[2018-09-26 20:45] strykerCrew commented on #1753
@powerful23  I have no `aws-sdk` in the my `package.json` otherwise I would have listed.

So, this dependency shouldn't be here? https://github.com/aws-amplify/amplify-js/blob/master/packages/analytics/package.json#L58

I tried doing the following, per the docs (before doing what I mentioned in the last comment):
[code]
and `Auth` has no user pool information aka not initialized when trying to use

[2018-09-26 21:09] strykerCrew commented on #1753
I manually went in and deleted these and it didn't matter.

[2018-09-26 21:34] eturner0 commented on #1759
Are there instructions on how to change the IAM policy to correct this error?

[2018-09-26 22:00] powerful23 commented on #1753
@strykerCrew it's `Amplify.configure()` right? The final thing we can check is to open the debug mode by putting `window.LOG_LEVEL='DEBUG'` in your code and to see if auth module is configured or not.

[2018-09-26 22:10] strykerCrew commented on #1753
`Amplify.configure(awsConfig)` (typo above) returns the config dictionary, but the `Auth` class does not appear to be configured. I followed the docs per the manual configuration and it does not work on the latest version.

Is this related? https://github.com/aws-amplify/amplify-js/issues/1323

[2018-09-26 22:39] jordanranz commented on #1629
I have merged the changes that allow for more customizability for federated buttons.

Usage will look like:

const federated = ...
const theme = {
  signInButtonIcon: { 'display': 'none' },
  signInButtonContent: { 'font-family': 'Helvetica Neue' },
  googleSignInButton: { 'backgroundColor': 'red' }
}

<Authenticator federated={federated} theme={theme} />

[2018-09-26 23:13] zyzski commented on #1718
The user status is CONFIRMED in the AWS Cognito console

[2018-09-26 23:14] jordanranz commented on #1655
Hey @RobertBrewitz,

Thanks for the feedback. This should be cleaned up and more user-friendly.

Did setting the theme style for photoImg work for resizing the image?

[2018-09-27 03:00] mlabieniec commented on #1532
1. I agree, but I think this is part of a larger cleanup task. Some of this is tech debt from early on and can/will be refactored to better support types/interfaces in the coming months (I have an item in our backlog for this)

2. All of the lib modules have Promise returns, and I think if we were to change this, it would be a larger architecture design decision we would have to look at. Personall

[2018-09-27 03:13] ffxsam commented on #1532
Seems overkill in this particular scenario. I know observables are hot right now. 😉 But I think in this case, async/await is perfectly sufficient. Nothing is being changed here about what the function returns. Any async function returns a Promise under the hood, so in fact, in the current code, `return new Promise` within this function is redundant.

[2018-09-27 04:12] jnreynoso commented on #329
Hi, what is valud @tim-thompson ? Storage.vault

[2018-09-27 05:36] mlabieniec commented on #1532
I thought [they were hot 2 years ago](https://github.com/aws-samples/aws-serverless-ember/blob/master/client/app/controllers/index.js#L23) haha ;)

I was more just referring to the [observer design pattern](https://en.wikipedia.org/wiki/Observer_pattern) in general, which is generally what i think works well in these situations we tend to lean towards. But either way, your proposal here does work

[2018-09-27 09:16] 107356019 opened #1769 "XR Guide Issue"
**Describe the bug**
The XR document in  https://aws-amplify.github.io/amplify-js/media/xr_guide has missing a comma

**Expected behavior**
Modify this issue .

**Screenshots**
![2018-09-27 5 08 51](https://user-images.githubusercontent.com/43407272/46135882-d62df400-c278-11e8-9cb6-e70d269a9db9.png)

[2018-09-27 09:40] engharb commented on #825
@powerful23 I mean that:
1- Auth.setCognitoSession is not yet implemented,
2- by calling the following link we receive only accessToken and idToken no refreshToken is available
https://<your_user_pool_domain>/login?response_type=code&client_id=<your_client_id>&redirect_uri=https://www.example.com

[2018-09-27 12:13] mihaiblaga89 commented on #429
Hey guys,

Whatever I do I can't get Cognito to push emails and phone numbers to Pinpoint. Any ideas? I tried setting the project up with awsmobile and amplify or creating everything manually, nothing works. I even gave the "Share analytics data with Pinpoint" role full permission to mobiletargeting and mobileanalytics but nothing... I get the push endpoints created but not email and mobile phone

[2018-09-27 12:31] dhanesh-kapadiya opened #1770 "Removal of Polyfill leads to window is not defined error in React web app with SSR"
After this update
[core@1.0.13-unstable.1](https://github.com/aws-amplify/amplify-js/commit/728bf203bab835a5a9ca2ec230887d20faf83aa2#diff-bdc8977fb24bf78a09783a0792edb95bL13)

We are getting **window is not defined** error.
Error points to [../../src/RNComponents/index.ts](https://github.com/aws-amplify/amplify-js/blob/728bf203bab835a5a9ca2ec230887d20faf83aa2/packages/core/src/RNComponents/index.t

[2018-09-27 12:49] amymc opened #1771 "Subscription component - Warning: Can't call setState on an unmounted component"
Hi,

I'm having an issue with a subscription on the `Connect` component.
I have a connected component with a mutation and subscription
[code]

Then in `checkId` I have this:
[code]
When `state.isFinished` is set to true I'm redirecting to another component.

It's working as expected but I'm getting this warning in the console

<img width="724" alt="screen shot 2018-09-27 at 13 19 42" src="https://

[2018-09-27 13:14] haverchuck commented on #1344
@rojagit We've just added an aws-amplify-vue package to our main amplify library, and the starter has been updated to use it.  The next step is to add the cloud persistence as you described.

[2018-09-27 13:14] haverchuck commented on #1225
This should be fixed now with the use of our aws-amplify-vue library package.

[2018-09-27 13:14] #1225 closed

[2018-09-27 13:17] sflamme opened #1772 "Aws Amplify appsync API graphql cognito custom attribute"
I've been spending hours now trying to solve the below issue. Any help is appreciated. I am using AWS appsync graphql, cognito user pool as authentication method and simple schema

type Users {
    familyId: String!
    userId: String!
    email: String
    picture: String
    givenName: String
    familyName: String
    ...
}

type Query {
    getFamily: [Users]
}
and my resolver which is using t

[2018-09-27 13:42] vutronic commented on #1529
@markmckim - I simply do this in my App component to load the sign in component again. App is passed to the withAuthenticator.

Auth.signOut()
      .then((data) => {
        this.props.onStateChange('signedOut', null);
      })
      .catch(err => {
        console.log('err: ', err)
      })

[2018-09-27 13:44] markmckim commented on #1529
Thanks @vutronic - Presumably with your solution below you did need to pass the onStateChange function down into the app component as it doesn't automatically get passed down?

(I did manage to get this working using @dabit3 's method however)

[2018-09-27 13:46] thomasmichaelwallace commented on #1668
For those of us still on the workaround- as of 1.0.6 you now need to also hold @aws-amplify/core back too:

[code]

[2018-09-27 13:56] vutronic commented on #1529
@markmckim  the onStateChange is passed to my App component automatically by the Authenticator via props.

I'm using   "aws-amplify-react-native": "^2.0.1".

[2018-09-27 16:16] ngouass commented on #1699
@powerful23 thanks for your work. Looking forward to hearing from you.

[2018-09-27 16:19] romainquellec commented on #1613
The answer is : no, you can't.

[2018-09-27 16:30] meatherly commented on #1734
After discussing with a college of mine we came up with a workaround to solve the problem. I believe this problem relates to https://github.com/Microsoft/TypeScript/issues/15031.
Work around:

1. Install `@typs/paho-mqtt` for types. `npm install -D @types/paho-mqtt`
2. create a `global.d.ts` if you haven't already.
3. Add code below this to `global.d.ts`
[code]

[2018-09-27 16:33] bkonkle commented on #1538
Seeing the same issue here on v1.0.5

[2018-09-27 16:42] jordanranz commented on #1769
Hello @107356019, good catch.

This will be fixed as soon as our new docs repo is live by end of week. Thanks for calling it out.

[2018-09-27 16:54] powerful23 commented on #1323
@maksimsemenov @taschik I tested Auth Sign In with `aws-amplify@1.1.3` and `aws-amplify-react-native@2.0.3` with no such error.

If the Auth module is not configured, it might be caused by duplicate packages under your node_modules. Can you update your `aws-amplify` and `aws-amplify-react-native`(if exists) to the latest and make sure there is no `node_modules` directory under `node_modules/aws-am

[2018-09-27 16:57] powerful23 commented on #1753
@strykerCrew I noticed your `aws-amplify-react-native` package is not the latest one. Can you try update it to `^2.0.3`, reinstall your node_modules again?

[2018-09-27 17:16] powerful23 commented on #1727
@matamicen currently the pr is not fully tested in IOS device and we have received a customer's feedback so will update that. Once it passes the test and gets approved, we will merge it and get it published in the next release. I can't tell you the exact timeline but we'll try to make it ASAP.

[2018-09-27 17:17] powerful23 commented on #1759
@eturner0 you need to go to your corresponding IAM in the AWS IAM console and change the policy like this: https://aws-amplify.github.io/amplify-js/media/analytics_guide#update-your-iam-policy

[2018-09-27 17:21] powerful23 commented on #1718
@zyzski So the first time when you sign in, you got to change the password and after that your user status is `CONFIRMED` in the cognito console. But the next time when you sign in again, the response from Cognito still contains the `challenge` right?

[2018-09-27 17:28] strykerCrew commented on #1323
@powerful23 does this work when you use your own components or are your restricted to using the `aws-amplify-react-native` `Authenticator`? Have you tried without `aws-amplify-react-native`?

[2018-09-27 17:34] jonmifsud commented on #54
@yuntuowang the above is a key flaw which essentially makes S3 Storage nearly unusable for anyone with proper application structures; unless you do some dirty work-arounds.

The cognito event trigger on new user registration does not supply the IdentityId (so it cannot be placed in say DynamoDB for access) and the only way to obtain the IdentityId is when a user is logged in having to re-submit a

[2018-09-27 17:35] powerful23 commented on #1753
@strykerCrew sorry about that. I kinda forgot that suggestion(too many issues around). I will try it with only using `aws-amplify`. Maybe you can try only using Auth to configure like:
[code]

[2018-09-27 17:37] strykerCrew commented on #1753
@powerful23 as per another previous comment I did try that, but then I get a `Cache` not registered error.

[2018-09-27 18:16] AbeEstrada commented on #1542
@engharb can you share mode details about the `unauth_role` that you created to solve this?

[2018-09-27 18:17] haverchuck commented on #1532
This looks great to me!

[2018-09-27 18:26] markmckim commented on #1529
Oh wow, yeah that's much simpler. I was totally overcomplicating it. Tried your approach @vutronic and that also worked...but without needing to explicitly pass in a rerender function.

Thanks for this!

[2018-09-27 19:35] baharev commented on #54
@yuntuowang Any news on the progress?

[2018-09-27 20:17] zyzski commented on #1718
yes. i was able to complete the reset password flow but the challenge response never goes away, so I can't determine when to correctly prompt for a reset

[2018-09-27 21:10] jordanranz commented on #1697
#1754 fixes this issue. Please reopen if you have any more related questions or concerns.

[2018-09-27 21:10] #1697 closed

[2018-09-27 21:11] jordanranz commented on #1629
#1754 should allow you to customize the styles on the requested components. Please reopen this if you run into anymore problems or have any related concerns.

[2018-09-27 21:11] #1629 closed

[2018-09-27 21:11] jordanranz commented on #1598
#1754 should fix this issue. Please reopen if you have any further questions or concerns.

[2018-09-27 21:11] #1598 closed

[2018-09-27 21:13] jordanranz commented on #1689
As @mlabieniec mentioned above the new UI is part of v2.x of aws-amplify-react. I am going to close this for now. Please reopen if you are still having trouble using the new UI.

[2018-09-27 21:13] #1689 closed

[2018-09-27 21:27] kaustavghosh06 commented on #1733
which command got you this error?

Seems like the issue is tied to the "npm run-script start" command which is running on your project.

[2018-09-27 21:51] powerful23 commented on #1753
@strykerCrew I tried to reproduce in my local environment with a blank react-native app. Here is my `package.json`:
[code]
and this is my App.js:
[code]

Tested both in development mode and release mode and no error found by far. I doubt there maybe something related to react-native@0.57.1 but I couldn't build a blank app with that version I don't know why.

[2018-09-27 22:08] strykerCrew commented on #1753
@powerful23 Ok, so you cannot create the same environment to try reproduce as I was using react-native 0.57? If you can get it working under that version, that would be great.

[2018-09-27 22:40] #1423 closed

[2018-09-27 23:12] powerful23 commented on #1756
@vmurillo I would say yes you can use `aws-sdk` in your react native project. It's just a plain javascript library.

[2018-09-27 23:41] powerful23 commented on #1736
@jaredready could you move the `Auth.currentSession()` into `componentDidmount()` or bind it to a button? The debug log for now is too messy so I couldn't find the reason.

[2018-09-27 23:42] #888 closed

[2018-09-27 23:42] #891 closed

[2018-09-27 23:42] #1010 closed

[2018-09-27 23:42] #1227 closed

[2018-09-27 23:42] #1381 closed

[2018-09-27 23:42] #1679 closed

[2018-09-28 03:16] ffxsam commented on #1532
@elorzafe Sure, I can add that in in my PR. I left it out because the total file size should already be known. But it wouldn't hurt to include it in the callback.

[2018-09-28 06:38] pmd30011991 commented on #1415
@goodryanboy : can you tell me what policy I need, I also get this issue

[2018-09-28 06:55] stevemao commented on #488
is `import Auth from '@aws-amplify/auth';` the recommended way to import only `Auth`?

[2018-09-28 07:12] iqbalt commented on #1145
Dear,
Any update on this? Does this fix?

[2018-09-28 07:59] stevemao opened #1775 "Cannot read property 'username' of undefined"
**Describe the bug**
A clear and concise description of what the bug is.
When confirmed sign up, I get an error "Cannot read property 'username' of undefined" popping up. It happens to react Authenticator

**To Reproduce**
Steps to reproduce the behavior:
1. Sign up
2. copy the code from your email
3. Paste your code to "Confirmation Code *" field
4. See error at the top "Cannot read property 'use

[2018-09-28 08:00] stevemao opened #1776 "Attribute value for phone_number must not be null"
**Describe the bug**
phone_number is optional when register so it can be left out. Also react component

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Deskt

[2018-09-28 08:03] stevemao opened #1777 "When there's an error popup, it doesn't disappear when all my input data is valid and click submit"
**Describe the bug**
When there's an error, say my phone number's format is not correct. I fixed the error by entering a valid phone number and click "register". The error popup at the top should disappear. But instead, a blank popup is still there. Also react.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected beh

[2018-09-28 08:56] Exitialis1 commented on #1733
@kaustavghosh06 Sorry, amplify serve and amplify publish both caused this error, from watching their outputs I gather that those scripts are what is calling npm run-script start. If it helps I just followed the guide on building a react app and used create-react-app when getting started as detailed here: https://aws-amplify.github.io/amplify-js/media/react_guide.

[2018-09-28 09:22] AakashRainaClairvoyant opened #1778 "Getting undefined error for push notification"
Related to push notifications

My Code:

import Amplify from "aws-amplify";
import Analytics from "aws-amplify";
import { PushNotification } from "aws-amplify-react-native";
import aws_exports from "./aws-exports";

Amplify.configure(aws_exports);
Analytics.configure(aws_exports);
PushNotification.configure(aws_exports);

componentDidMount() {
     PushNotification.onNotification(notification => {

[2018-09-28 10:31] dbrookes commented on #1770
I have the same issue, this change has broken server side rendering because window.localStorage does not exist.

[2018-09-28 11:27] #632 closed

[2018-09-28 12:22] mihaiblaga89 opened #1779 "Shouldn't PinPoint send Analytics with UserID as cognito:sub instead of IdentityID?"
** Which Category is your question related to? **
Amplify PinPoint

** What AWS Services are you utilizing? **
Amplify, Cognito, PinPoint

** Provide additional details e.g. code snippets **
<img width="812" alt="screenshot 2018-09-28 at 15 10 50" src="https://user-images.githubusercontent.com/4787898/46207757-1fda1580-c331-11e8-961c-7f2f099476be.png">

The issue goes like this:
I can't, for some

[2018-09-28 12:28] booboothefool commented on #1318
@manueliglesias I also have this use case. My auth is provided by another service, so not using Cognito, but would like to use this library for Storage to make things easier.

What is your recommendation on how this should be done manually?

Currently I am doing:
user tries to upload an image from React Native app client -> call backend server to get aws s3 signed url and return it back to the cli

[2018-09-28 13:57] ffxsam commented on #1532
@mlabieniec I need some help. I'm running into some errors when I try to commit my changes:

[code]

There's nothing in https://github.com/aws-amplify/amplify-js/blob/master/CONTRIBUTING.md that explains any kind of special setup I need, but I feel like there maybe should be.

[2018-09-28 14:14] #1014 closed

[2018-09-28 14:15] alishah-edgy commented on #1014
Newer versions seems to have fixed it.

[2018-09-28 15:10] shaila-rahman commented on #882
I'm also facing similar issue in mocha environment with typescript.

Issue:
ReferenceError: window is not defined
    at Object.<anonymous> --\node_modules\@aws-amplify\core\src\RNComponents\index.ts:22:22

Versions I'm using:
@aws-amplify: 6.4.1
node: 8.9.4
npm: 6.4.1

Any has any solution?

[2018-09-28 15:47] samazadi commented on #443
Is it possible to use this with Lambda? I'm using node-fetch and Amplify.default.configure - it resolved my TypeError issue, but now I'm getting "window is not defined". Is Amplify just not meant to be used with Lambda?

[2018-09-28 16:33] hernangarcia commented on #218
Hello @russelltaga , can you please share a sample about using the component? I am getting weird display when using it.

This is my code:
<S3Image imgKey={username + '_profile_img'} picker />

And you can see in the image what I get.
<img width="523" alt="screenshot 2018-09-28 11 32 24" src="https://user-images.githubusercontent.com/882474/46221266-3c1a8a00-c312-11e8-8e35-5d6cb572a9f3.png">

[2018-09-28 16:43] russelltaga commented on #218
@hernangarcia Over time some of the requirements we had at the time shifted and I ended up implementing a custom UI and using the Storage APIs directly. It's been many months and a little tied up right now, but will try to whip up an example next week.

[2018-09-28 17:33] powerful23 commented on #882
@shaila-rahman thanks for reporting. will merge a fix later on

[2018-09-28 17:37] powerful23 commented on #488
@stevemao yes. In that way you won't import other categories like `analytics` or `storage` in your app.

[2018-09-28 18:28] Senneseph commented on #1759
I'm getting this same warning in the console from my Angular application.

From what I can see it's originating in file `@aws-amplify/analytics/lib/Providers/AWSPinpointProvider.js`, line 74 (@aws-amplify/analytics version 1.2.0).

[code]

I'd like to get rid of this warning - I see several problems:
  1. I am not using AWS Pinpoint Service in any way that I am aware of.
  2. This warning is logge

[2018-09-28 18:29] powerful23 commented on #1778
@AakashRainaClairvoyant hi please follow the latest doc to configure pushnotification module: https://aws-amplify.github.io/amplify-js/media/push_notifications_setup#configure-your-app

[2018-09-28 18:37] KylePalko opened #1781 "Amplify on launch requests permission for notifications, which is undesirable"
**Describe the bug**
When launching an iOS React Native application the user is immediately asked to enable push notifications. This happens, I believe, because `Amplify.configure()` eventually calls `PushNotification.initializeIOS()`.

**To Reproduce**
Create an iOS React Native application and run `Amplify.configure()`.

**Expected behavior**
Request permission to send notifications later, when

[2018-09-28 19:36] jordanranz commented on #1776
Hi @stevemao,

#1774 should fix this. Thanks for submitting feedback.

[2018-09-28 19:54] blbradley commented on #1664
What secrets are in the aws-exports.js file that should not be exposed to the public?

[2018-09-28 19:55] haverchuck commented on #1344
@rojagit We have just updated the starter app so that it uses AWS Appsync to store the 'notes' instead of the cache.  I am closing this issue now, but please feel free to reopen it if this isn't what you wanted.

[2018-09-28 19:55] #1344 closed

[2018-09-28 21:08] powerful23 commented on #1781
@KylePalko thanks for your feedback. Will mark as feature request.

[2018-09-28 21:32] KylePalko commented on #1781
Awesome, I can submit a PR if that would be helpful?

[2018-09-28 21:36] powerful23 commented on #1779
@mihaiblaga89 Amplify has this automatic tracking feature which will update the endpoint automatically and for now the user Id by default would be the identity id from the aws credentials. We will talk to Pinpoint and Cognito team about the correct way to set the default user Id.

As for now you can try a work around which is to turn off that autotracking feature by setting the `autoSessionRecord`

[2018-09-28 21:46] powerful23 commented on #1759
@Senneseph understood. We will try to move this warning message to somewhere else so that people who don't use Pinpoint service won't see that message.

[2018-09-28 22:14] chai86 commented on #1665
Wow, thanks for the suggestion. I created a new project, and instead of using npm used 'yarn' and everything magically worked!!! Why such a massive difference. Huge thank you.

[2018-09-28 22:17] mihaiblaga89 commented on #1779
Apparently according to the docs Cognito should add the phone and email as endpoints in Pinpoint automatically but that does not happen.

Can't add a photo from mobile so I'll post a quote and a link.
"Tip
If your application uses Amazon Cognito user pools to handle user authentication, Amazon Cognito can add user IDs and attributes to your endpoints automatically. For the endpoint user ID value,

[2018-09-28 23:30] d-olivas commented on #1672
Hasn't anyone else had this problem? Is there anyone who can help us? =( This issue is blocking progress in the project I'm working on right now. I updated the amplify-js version to 1.1.4 but still doesn't work

[2018-09-28 23:34] haverchuck commented on #1672
@smccumsey - Have you tried using the aws-amplify-vue package, and if so are you having the same issue?

[2018-09-29 02:32] smccumsey commented on #1672
@haverchuck no I haven't. But I see it uses the AmplifyEventBus when confirmSignIn resolves. And in the updated vue example the 'signedIn' event is handled in the router. Do you think following that same approach would solve the problem I was having? Thank you!

[2018-09-29 04:10] stevemao commented on #488
Thanks @powerful23 , I was hoping that `import {Auth} from 'aws-amplify'` would tree shake.

[2018-09-29 06:46] hollyewhite commented on #773
@michaelcuneo - Did you ever find any helpful information on this or resolve it? I'm struggling with a very similar issue.

[2018-09-29 08:20] dominiklessel opened #1783 "aws-amplify-vue leaks global styles"
**Describe the bug**
When using `aws-amplify-vue` and `bootstrap-vue` in the same project everything seems fine in dev. When deployed and built for production global `aws-amplify-vue` style overwrite bootstrap styles. Also global css vars are leaked.

**To Reproduce**
Take a look at this [CodeSandbox](https://codesandbox.io/s/nn17m9jolp). Preview looks fine. If you download it, install deps, run `

[2018-09-29 09:48] yarax commented on #443
We could do it, but only with some fixed old versions of amplify. It's an
ugly hack. I really hope that aws will introduce sdk methods to run queries
from lambdas

On Fri, Sep 28, 2018, 5:47 PM Sam <notifications@github.com> wrote:

[2018-09-29 11:32] ashamalla commented on #390
Do you have an example of getting the user attributes (email) in swift (IOS) using list user.

I need to find retrieve a user email based on cognito userid?

thanks in advance

[2018-09-29 12:15] daannijkamp commented on #390
@ashamalla “List Users” is for Cognito admin related purposes.
You will probably need the “Get Current User” method http://aws.github.io/aws-sdk-ios/docs/reference//Classes/AWSCognitoIdentityUserPool.html#//api/name/currentUser

[2018-09-29 13:51] mrchief commented on #488
`import {Auth} from 'aws-amplify'` should be able to shake the tree if the module is `sideEffect` free. It needs to be marked as such but more importantly, should support that behavior. lodash is a classic example of module that went side effects free.

It's not that `import Auth from '@aws-amplify/auth';` is bad, it's just that people would expect `import {Auth} from 'aws-amplify'` to be able to

[2018-09-29 14:28] haverchuck commented on #1783
@dominiklessel - Thanks for reporting this. We will take a look.

[2018-09-29 14:41] ehorodyski commented on #1664
I suppose the IDs of the identity pools.

⁣Sent from TypeApp ​

On Sep 28, 2018, 3:55 PM, at 3:55 PM, Brandon Bradley <notifications@github.com> wrote:

[2018-09-29 17:36] anupsarkar377 opened #1784 "NPM node modules Related Issue"
**Problem Statement**
I am trying to authenticate my user using Amazon Cognito. I am facing some npm package issue.

**Current behavior**
Right now when I am trying to run my angular application it returns an error something like this in the console.
![screen shot 2018-09-29 at 11 02 38 pm](https://user-images.githubusercontent.com/37542666/46248795-cdd1e680-c43b-11e8-8ef4-352add0d5d22.png)

Follo

[2018-09-29 18:13] aaayushsingh opened #1785 "trying to read property of null"
https://github.com/aws-amplify/amplify-js/blob/master/packages/analytics/src/vendor/dom-utils/matches.ts#L5-L11

[code]
proto is set to `null` in case there is no `window` or `window['Element']`;
However on the next line we try to use `proto.matches`; Since `proto` is `null`, this can potentially lead to crashes;

[2018-09-29 23:35] ehorodyski commented on #1759
What policy do they mean? There's a million AWS policies I have. I'm having trouble figuring out the correct one to modify.

[2018-09-30 00:55] ajhool opened #1787 "Cognito's sub field (user-persistent) should be used for Storage rather than the identityId field, which is session-persistent."
**Describe the bug**
The Storage class generates a filename prefix based on the IdentityId of the Cognito User.  The correct identifier is the "sub" field of the cognito user. The sub field is also used in the S3 policy template, which is further evidence that the identityId field is the incorrect choice.

The naming schema is a little confusing, but I believe that `identityId` is a session id. So

[2018-09-30 01:04] ajhool commented on #1779
I just ran into the same problem with the Storage module. It definitely doesn't seem correct to create user-level S3 folders per user-session. The folders should be created per user rather than per user-session; each user should only have one root folder for storage. Storage and Pinpoint are different, but the distinction between `sub` and `identityId` is the core issue.

https://github.com/aws-am

[2018-09-30 01:52] hannersmatto opened #1788 "amplify graphql transform complex object support"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-09-30 01:56] hannersmatto commented on #1788
Hi Folks loving the declarative aspect to GraphQL Transform in Amplify. I would like to be able to be able to include complex objects such as S3 Objects in the schema. What do you all think?

[2018-09-30 07:14] daannijkamp commented on #390
Anything you store in cognito is accessible only to the user him/her self.
You will probably need to save for example “Seller-Buyer” relationships somewhere else (like DynamoDB).
If you need to get user attitudes from other users, you can make a backend api that uses the Cognito Admin parts.

[2018-09-30 09:45] D2KX commented on #1755
I think you need to install @aws-amplify/ui manually. It was not part of the dependencies of either aws-amplify nor aws-amplify-angular last time I checked.

[2018-09-30 10:37] mihaiblaga89 commented on #1779
@ajhool I've managed to fix my issue but I won't be making a PR because it's pretty hack-ish. I basically called Auth.currentAuthenticatedUser() and get my `sub` value from there, if not fallback to their original implementation. But giving the fact that Analytics package now depends on Auth, I had to make lerna build that first otherwise it would not build the project.

Waiting for a more elegant

[2018-09-30 11:36] Birowsky commented on #405
@david114 thanx a ton for going through this so I don't have to.

Note to AWS team:

<img width="744" alt="screen shot 2018-09-30 at 13 30 15" src="https://user-images.githubusercontent.com/3199950/46257162-94d65800-c4b5-11e8-9478-eb838deeb154.png">

`Logins` is not part of the params type.

[2018-09-30 11:44] ashamalla commented on #390
Thanks I’ve succeeded in getting the user name however I can’t get the email.
I’m using user.getdetails() !!! I’ve also set the attributes to be read (but not writing on cognito ) with no luck???

[2018-09-30 12:03] aldarund opened #1790 "Dont work on node because of window"
**Describe the bug**
Dont work on node due to use of window obj

**To Reproduce**
[code]

**Expected behavior**
No errors
**Desktop (please complete the following information):**
Node 10
    "@aws-amplify/auth": "^1.2.5-unstable.3",
    "@aws-amplify/core": "^1.0.14-unstable.0"

**Additional context**
[code]

[2018-09-30 12:07] paolocaminiti commented on #1772
Same problem here while trying to use custom attributes from cognito to manage sub users access control.

[2018-09-30 13:19] sflamme commented on #1772
Ok thanks. Will have to use Apollo client instead as custom attributes are
key to my authorization logic

On Sun, Sep 30, 2018, 2:07 PM Paolo Caminiti <notifications@github.com>
wrote:

[2018-09-30 16:12] #1673 closed

[2018-09-30 18:35] rayhaanq commented on #1252
Is there any solution/work around for this yet? I'm currently facing the same problem. For a type, I want reads to be allowed for the public, but writes only for a specific group of authenticated users

[2018-09-30 19:10] paolocaminiti commented on #1772
@sflamme Please note that mine was not an answer, we just had a similar issue and find no solution other than having a middle table for queries and gave up mutations granular access control.

Somebody from amazon should step in with a solution or the confirmation that there is a bug. For sure the inconsistency between the online dashboard and the appysinc client library is alone a major issue.

[2018-09-30 20:41] mwarger commented on #552
@richardzcode @powerful23 I just wanted to bump this in case it being closed reduces visibility.  I think this should be re-opened.  The recent changes to the library have taken out the type definitions by apparently removing the third-party dependency and dropping the file in the `src/vendor` folder.  Please let me know if I can help provide any additional information.

[2018-09-30 22:40] aldarund commented on #1790
@powerful23 the pr u referenced already in 1.0.14-unstable.0 and it dont fix the issue

[2018-09-30 22:52] aldarund commented on #1790
The correct way is to ```typeof window !== 'undefined'```
And there is already helper in project for this
https://github.com/aws-amplify/amplify-js/blob/master/packages/core/src/JS.ts#L152

[2018-09-30 23:08] ashamalla commented on #390
Here is My code.
if let username = pool.currentUser()?.username {
                print("Username Retrieved Successfully: \(username)") // prints the right username

         let  users = pool.getUser().getDetails()
                print(users)

                let  user = pool.getUser()

                user.getDetails().continueWith(block: { (task) -> Any? in
                    guard task.resul

[2018-09-30 23:53] gpolyn commented on #1466
Link fails to refer ^^^

[2018-10-01 03:54] stephenhuh commented on #159
Any updates on this from the amplify team?

[2018-10-01 11:14] JamesGalliford-Pulsion commented on #1013
This is essential functionality for many websites. It would be very useful if this could be added soon. I am currently trying to do this and will have to resort to deleting and recreating the user. This is far from ideal, as even though it has no material impact on my application, it will mean that logs can't reliably be searched based on a user's user id if they've ever had their password changed

[2018-10-01 12:03] jonasao opened #1791 "Federated identity - ReactJS: Sign-in buttons does not support translation"
The Sign-in buttons representing the different federated identity providers, Facebook, Google etc.
does not support translation.

An improvement would be to make the button texts support the I18n-format, allowing the user to translate the button text to their native language.

[2018-10-01 12:07] jrp-23 opened #1792 "Is there a synchronous way to see if the user is authenticated?"
For my SPA I want to check if the user is authenticated prior to navigating to a route.  I understand that CurrentAuthenticatedUser is used for this, but it is promise-based and I have to show a loading gif each time the user navigates (to wait for the promise to resolve).

Is there a synchronous way to check if the user is authenticated so that I don’t have to show the loading gif each time the u

[2018-10-01 12:33] knappsacks commented on #1241
I'm using aws-amplify in combination with aws-appsync. I had aws-appsync and aws-appsync-react as first-level dependencies, and kept getting this error until I removed aws-appsync (it was already a dependency under aws-appsync-react).

[2018-10-01 12:37] mllrmat opened #1793 "Unable to use local apollo cache before a user has signed in"
I am trying to use the local apollo cache. This works fine as soon as a user has signed in via cognito. But before sign in a "Possible Unhandled Promise Rejection (id: 0): No current user" error is thrown.

This is undesirable as it makes it impossible to use the local apollo cache as a local state management mechanism as advertised by Apollo: https://www.apollographql.com/docs/react/essentials/lo

[2018-10-01 14:18] romainquellec commented on #876
Breaking a lot with next right now. I'm using noSSR for now, but it's not a viable solution at the end. 👍  for this issue.

[2018-10-01 14:19] AntonSmatanik opened #1795 "Is is possible to use Amplify for authentication via secrets and certificates?"
Is is possible to use Amplify for authentication via secrets and certificates?

With aws-iot-device-sdk I just set it like:

`awsIot.device({
    keyPath: awsConfig.broker.keyPath,
    certPath: awsConfig.broker.certPath,
    caPath: awsConfig.broker.caPath,
    host: awsConfig.broker.endpoint,
    clientId: uuid.v4(),
    baseReconnectTimeMs: awsConfig.broker.reconnect,
    maximumReconnectTimeMs