[2020-11-18 11:38] nerxhan-eduongo commented on #7117
I have implement this solution on my S3 bucket https://stackoverflow.com/questions/64681196/error-uploading-on-s3-through-amplify-storage-reactjs, and is working, not sure how secure is this

[2020-11-18 12:03] xsmcemmons opened #7219 "modelName is not returned in the modelSynced Event"
**Describe the bug**
As per documentation: https://docs.amplify.aws/lib/datastore/datastore-events/q/platform/js#modelsynced

HubPayload modelSyncedEvent contains: modelName (String): the name of the model that was synced

But in the modelSynced event there's no modelName, It returns something like this.

`{"counts": {"deleted": 0, "new": 0, "updated": 0}, "isDeltaSync": true, "isFullSync": false,

[2020-11-18 12:29] guilhermebayerzup opened #7220 "Not Authorized to access createProject on type Project with Appsync and Cognito"
**Describe the bug**
I'm receiving this error message when trying to execute a mutation, I think isn't a bug, maybe I just forget to do some configuration, because I'm receiving this error executing the mutation on the Appsync dashboard, and also on the application.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a project with `amplify init`
2. Create an auth `amplify add auth`

3.

[2020-11-18 12:55] nubpro opened #7221 "Error when building amplify-ui-components on Windows"
**Describe the bug**
When I run `yarn build` on my `amplify-js` folder on my **Windows** machine. I get these errors:
[code]

I've narrowed down the issue to[ `sass()` in stenci.config.ts](https://github.com/aws-amplify/amplify-js/blob/main/packages/amplify-ui-components/stencil.config.ts#L26-L28).
I reverted it back to `sass()` without any params passed to it.
After removing the `@include md` fro

[2020-11-18 13:36] MontoyaAndres commented on #5435
@dbhagen I'm not the only one, that's great :), yes, I'm using sso. I tried to combine it with SSR but it didn't work, also sometimes the method on the function getServerSideProps does not work, and throw me to login...

[2020-11-18 14:35] thecloudslayer commented on #54
Not sure If i'm over simplifying this but this worked for me to map my Cognito identity ID path for S3.

const [test, setTest] = useState(["Loading.."]);

let test = await Auth.currentUserInfo();
setTest(test.id);

  <h1>{test}</h1>

[2020-11-18 15:35] dorontal commented on #2965
Any app that handles large file uploads to the cloud **must** also be able to pause the download or resume it and to get progress reports on how much has been downloaded thus far - without those features existing on large file uploads, the user interface would be extremely lacking.

So it is not enough to just implement `Storage.put()` properly for large files.

I noticed that the functionality ne

[2020-11-18 15:47] ShehryarKh commented on #6947
@wei Its a little difficult to reproduce. I will try to run into the same error.

[2020-11-18 15:50] wei commented on #6947
@ShehryarKh Thanks so much! If you could provide a minimal reproducible repo I'd be glad to take a look. But I highly suspect the `track: true` was left out.  : D

[2020-11-18 16:04] nubpro commented on #7219
Did some experimenting, you can expose the model name by doing so:

[code]

Perhaps the docs should have stated it clearly

[2020-11-18 16:13] xsmcemmons commented on #7219
Yep, as @nubpro  says, it works with data.model.name

[2020-11-18 16:30] dbhagen commented on #5435
@MontoyaAndres so Eric asked me to fork Nader's repo for NextJS and recreate in that. I've done so here: https://github.com/dbhagen/next.js-authentication-aws

I'll admit, the example worked fine until AWS Auth/WebUI/SSO was added. If you want to be added to that repo to set up a specific page/use case, I'd be happy to add you.

[2020-11-18 16:44] arunpatala commented on #3401
Hi i need this for terms and conditions. Is anyone able to find a solution?

[2020-11-18 17:40] amhinson commented on #7205
@ranopriyo-neogy It looks like you are using an older version of `aws-amplify` and `aws-amplify-react`. Would you be able to update to the latest for both? Based on your configuration, I don't think you should run into any breaking changes.

Also, I would recommend using the new version of the UI components `@aws-amplify/ui-react`, as any future updates we put out will be for that library and not

[2020-11-18 17:55] amhinson commented on #7207
@MaximilianSchon It looks like your usage of `withSSRContext` is incorrect. As mentioned in the [docs](https://docs.amplify.aws/lib/ssr/q/platform/js#withssrcontext), it should just be used for server side functions such as `getServerSideProps`. If you remove that, does your app function as expected?

One thing to note is that the only modules that have been thoroughly tested with Next.js right no

[2020-11-18 17:57] sammartinez commented on #6041
Hey @kimfucious, as you have found and what we recommend to solve this use case is around the pre signup scripts. We do, in the Amplify CLI, have [Lambda Triggers](https://docs.amplify.aws/cli/usage/lambda-triggers) that you are able to configure against `pre-signup` in order to use. Since this is what we would recommend to use, I am going to resolve this issue. Please let us know if there is anym

[2020-11-18 17:57] #6041 closed

[2020-11-18 17:58] wei commented on #7095
By default, the HTTP Headers returned by S3 looks something like follows:
[code]

Note there is no `Cache-Control` or `Expires` headers. When those headers are missing AND `Last-Modified` header is present, browsers calculates what's called **Heuristic freshness** and sets its own ttl in cache. e.g. [Firefox docs](https://developer.mozilla.org/en-US/docs/Web/HTTP/Caching#Heuristic_freshness_checki

[2020-11-18 18:00] wei commented on #6693
By default, the HTTP Headers returned by S3 looks something like follows:
[code]

Note there is no `Cache-Control` or `Expires` headers. When those headers are missing AND `Last-Modified` header is present, browsers calculates what's called **Heuristic freshness** and sets its own ttl in cache. e.g. [Firefox docs](https://developer.mozilla.org/en-US/docs/Web/HTTP/Caching#Heuristic_freshness_checki

[2020-11-18 18:02] wei commented on #6413
With @samicey's help I can reproduce this issue.

By default, the HTTP Headers returned by S3 looks something like follows:
[code]

Note there is no `Cache-Control` or `Expires` headers. When those headers are missing AND `Last-Modified` header is present, browsers calculates what's called **Heuristic freshness** and sets its own ttl in cache. e.g. [Firefox docs](https://developer.mozilla.org/en-U

[2020-11-18 18:06] dorontal commented on #2965
Actualy, found this -- which explains how to use aws-sdk together with Amplify.  This seems to be the solution to my point above: https://github.com/aws-amplify/amplify-js/issues/1604

[2020-11-18 18:15] MontoyaAndres commented on #5435
I've seen the code and it's implementing exactly the same I'm doing now. So, I think I'll wait until this problem with AWS Auth/WebUI/SSO is fixed :)

[2020-11-18 18:22] MaximilianSchon commented on #7207
Yes, that checks out. My bad.
I thought that the idea was that if you are going to use it on the server side, you would need the withSSRContext function call.

Thank you.

[2020-11-18 18:33] amhinson commented on #7210
@mellymelon Could you provide some additional information so we can help:
- `package.json` (particularly interested in what version of Amplify you are using
- Larger code snippet of your usage (an entire file or sample repo would be ideal here)
- Full log (and stack trace if available) of the error you are seeing

[2020-11-18 18:40] amhinson commented on #7220
@guilhermebayerzup Thanks for the great details in this issue! 🙏

I'm not quite sure about the error message specifically yet, but it does look `members` should be an array instead of a string when you are running the mutation in the console based on your schema. What happens when you change it to `members: ["<email-address>"]`?

[2020-11-18 18:44] #5916 closed

[2020-11-18 18:47] ericclemmons commented on #5435
@MontoyaAndres I love the detail you’ve put into this

Can you copy/paste this info into a new issue so we can track and address it directly?

I’ve been able to validate SSR behavior with my samples locally, but there’s something amiss here...

[2020-11-18 18:55] sammartinez commented on #5921
@mtraynham Can you let me know where you are at with this? We want to help you but I'm trying to understand if you were able to figure out a workaround for this issue? As @elorzafe [mentioned](https://github.com/aws-amplify/amplify-js/issues/5921#issuecomment-635560070), there were some changes that we made to fix the separation for string queries in order for not all scopes to be returned. Please

[2020-11-18 19:34] mellymelon commented on #7210
"aws-amplify": "^3.3.8"

[code]

[code]

@amhinson

[2020-11-18 19:35] MontoyaAndres opened #7223 "Using Auth method to check if the user is logged in with SSR and then trying to signOut does not work"
**Describe the bug**
I'm using the Auth method to know if a user is logged in and then execute the signOut method to logout but does not work. Also, the `Auth.currentAuthenticatedUser()` throws an error that the user is not authenticated even when it is on SSR. I have just implemented this on Dev, I haven't tried on Prod.

**To Reproduce**

First, I have added the `Amplify.configure({ ...config, s

[2020-11-18 19:36] sw-yx commented on #6534
we touched upon this in today's Amplify With Friends livestream. usecase from user:

[2020-11-18 19:40] MontoyaAndres commented on #5435
Hey @ericclemmons , yep, here it is https://github.com/aws-amplify/amplify-js/issues/7223

[2020-11-18 19:47] ericclemmons commented on #7210
Can you share more of your page code (e.g. `getServerSideProps`/`getStaticProps`/etc.)?

`useEffect` isn't normally fired on the server (only the client), so subscriptions should work fine on the client.

I'm curious on how `API.graphql(...).subscribe(...)` is being executed on the server 🤔

[2020-11-18 19:48] guilhermebayerzup commented on #7220
I tried with both ways as string and array, and occur the same error 😢

![image](https://user-images.githubusercontent.com/66732819/99580081-d855ee00-29bd-11eb-90ed-36b39461f629.png)

[2020-11-18 19:50] ericclemmons commented on #7223
Thanks for opening this issue @MontoyaAndres from https://github.com/aws-amplify/amplify-js/issues/5435#issuecomment-729909631 🙏

Can you share more on how you're doing sign in?  Are you using `<AmplifyAuthenticator>`, calling `Auth.sign()`, `Auth.federatedSignIn()`, etc.?

[2020-11-18 19:50] sw-yx commented on #6489
+1 from the Amplify livestream today

![image](https://user-images.githubusercontent.com/6764957/99580403-6b247600-2a1a-11eb-9fc6-4a4d22f6da61.png)

[2020-11-18 19:51] ericclemmons commented on #7223
@dbhagen You're having this same issue with https://github.com/dbhagen/next.js-authentication-aws, correct?  If I were to drop-in `aws-exports.js` with Auth configured, I should see this bug, correct?

[2020-11-18 19:54] ericclemmons commented on #7223
@dbhagen I want to better understand this comment:

Do you mean the auth from the tutorial (https://dev.to/dabit3/the-complete-guide-to-next-js-authentication-2aco), or something else?

[2020-11-18 19:55] MontoyaAndres commented on #7223
I'm using the method `Auth.signIn` and yes, I'm using the config to that project, same issue. This the aws-exports.js config:

[code]

[2020-11-18 19:56] guilhermebayerzup commented on #7220
Maybe this is util information, my `createProject` resolver (this was generated by Amplify)

[code]

[2020-11-18 19:57] MontoyaAndres commented on #7223
Maybe I can send you the cloudformation code generated by the amplify-cli? To understand what I'm doing?

[2020-11-18 20:10] guilhermebayerzup commented on #7220
I added the above I mentioned to my schema and it worked! `identityClaim: "email"`

Is it ok or I can have some problems with it?

[code]

[2020-11-18 20:11] nubpro commented on #5963
@wei Appreciate the thorough breakdown. I learnt a thing or two!

While I agree with the statement that we shouldn't be modifying the data directly, it would be awesome if the client can do something about it. I really dig your solution.

[2020-11-18 20:22] tatighm opened #7224 "CognitoUser object 'email_verified' attribute not updated to 'true' after user successfully changing email address."
**Describe the bug**
Within my app, user changes their email address. This is all done successfully with all the right 'Auth' calls and after user enters correct verification code. The problem is that after user enters correct verification code, the CognitoUser object does not get updated to reflect 'email_verified: true'. It remains false until user logs out and logs back in.

**To Reproduce**

1

[2020-11-18 20:24] dbhagen commented on #7223
Yes. In fact, this is the sanitized aws-exports.js from mine so you can make sure it matches up.

[code]

Yes, that tutorial worked perfectly with `Auth.signOut()` until I added SSO via an `amplify update auth` from the initial tutorial fork deployment.

[2020-11-18 20:31] tjleing commented on #7199
After discussing with the team, it seems like your use case is not officially supported by Amplify.  However, it seems that running a snippet such as
[code]
after the first render can achieve your desired behavior.  Please let me know if this resolves your issue.

[2020-11-18 20:42] mellymelon commented on #7210
Yes, theoretically code within `useEffect()` only runs on the client side.
I did not use `getServerSideProps` or `getStaticProps` on the page. It's a Layout component.
[code]

[code]
Is it because I passed in the ssr config option as `Amplify.configure({...config,ssr:true})`? @ericclemmons

[2020-11-18 20:51] amhinson commented on #7220
Ah ok great! Yes, that is definitely a valid use of `identityClaim` here given your Auth configuration. I'll close this for now, but feel free to open it back up if you're still having problems 🙂

[2020-11-18 20:51] #7220 closed

[2020-11-18 21:02] nubpro commented on #6488
I basically spent my entire day trying to prove there's indeed a problem(or a gap) with the underlying mechanism.

What I did was, changing [AWSAppSyncRealTimeProvider.ts#L634-L653](https://github.com/aws-amplify/amplify-js/blob/main/packages/pubsub/src/Providers/AWSAppSyncRealTimeProvider.ts#L634-L653) to force it to throw a reject error (simulating `Connection handshake error`).
![Code_2f01cYYo8

[2020-11-18 21:35] abdielou commented on #6671
@amhinson Sorry for the delay. You are right, it is working just fine. I could not reproduce the problem, so I'll assume I messed up my tests.

Thanks for checking this out!

closing...

[2020-11-18 21:35] #6671 closed

[2020-11-18 21:37] mellymelon commented on #7210
I tried removing `ssr:true` from `Amplify.configure({...config,ssr:true})`, and subscription worked. The code in `PubSubClass` seems not compatible with the `ssr` option on.

[2020-11-18 21:43] amhinson commented on #7224
@tatighm Could you try using `Auth.currentAuthenticatedUser({ bypassCache: true })`? The behavior without `bypassCache` will just be to grab the current user from what is stored locally, but setting it to `true` will fetch the latest user info from Cognito.

Reference: [documentation](https://docs.amplify.aws/lib/auth/manageusers/q/platform/js#retrieve-current-authenticated-user)

[2020-11-18 21:53] abdielou commented on #7069
@giulio-dds @hmisonne

I ran into the same issue and implemented a workaround.

You can see the details here https://github.com/aws-amplify/amplify-cli/issues/4794#issuecomment-677935432

In a gist, you need an alternative to get your notifications somewhere else (since it's impossible to subscribe based on an array filter), and you need to hack/modify the DataStore to inject incoming messages fro

[2020-11-18 21:55] tatighm commented on #7224
@amhinson Ah, yes! That did it. I had not taken notice of this very critical option for this call. Thank you!

[2020-11-18 21:56] #7224 closed

[2020-11-18 22:01] koko67 commented on #4908
@novusli according to your answer, what should be the status of the user in the Pool in Cognito NEW_PASSWORD_REQUIRED or CONFIRMED?
Because I tried with both cases without success.

[2020-11-18 22:41] tatighm commented on #6755
@harrysolovay Hi there, do you know what Auth call I need to make to resend the verification code to the user after they successfully change their email address? I can't find the call anywhere. I do want my users to verify the new email address, but if the code expires, or they never received it, how do I resend this code? Calling resendSignUp does not apply since they are not signing-up, but chan

[2020-11-18 22:52] tatighm commented on #6755
@harrysolovay So sorry, I found it on my own. It is the Auth.verifyUserAttribute call.

[2020-11-18 23:06] micstepper commented on #4695
@elorzafe  I guess we have to reopen this issue. Having the latest amplify version running I'm facing the problem again: Error: Models are not topologically sortable. Please verify your schema.

[2020-11-19 00:30] ericclemmons commented on #7210
@mellymelon You're absolutely right. This is a bug from:

https://github.com/aws-amplify/amplify-js/pull/6937

**We need both `isNode` and `ssr` checks**.

We'll get this fixed for you!

[2020-11-19 00:49] carlhaynes opened #7227 "API Gateway not receiving auth info when using withSSRContext"
**Describe the bug**

I have an nextjs app that uses Cognito and Amplify to login and out using the hosted pages (using \<AmplifyAuthenticator usernameAlias="email"\>). I'm only using email login, I don't have any federated logins

all works fine client side, I use Hub to listen for auth events and have no problem logging in and out, calling the API Gatway works fine and I receive the auth informa

[2020-11-19 02:31] Caoimhin89 commented on #2498
I added </^((?!.(xml|css|gif|ico|jpg|js|png|txt|svg|woff|ttf)$).)*$/> with a target of / and a rule of Rewrite 200.

This solution works for me for URLs that have one element after /, but anything beyond that still has the issue of resulting in a blank page.

For example:

I'm able to refresh the page while at example.com/account

If, however, I try to refresh the page while on example.com/account

[2020-11-19 04:48] justingrant opened #7229 "Orphan (and maybe unneccessary) dependency zen-observable-ts has an invalid sourcemap"
**Describe the bug**
One of the aws-amplify dependencies, [zen-obsevable-ts](https://github.com/apollographql/apollo-link/tree/master/packages/zen-observable-ts), has an invalid sourcemap. Here's the first line of its sourcemap:
[code]

This package didn't publish its source code to NPM, so the link to `../src/zenObservable.ts` will cause build-time warnings for some tools like `source-map-loader`

[2020-11-19 04:57] ranopriyo-neogy commented on #7205
Thanks a ton @amhinson , upgrading the versions fixed the  Loading issue.

[2020-11-19 05:12] #7205 closed

[2020-11-19 07:54] sacrampton commented on #1453
Hi @manueliglesias - we are also getting our app crashing when loading large files to S3. Is there any work around that you or anyone else can suggest that we can implement so that our app is not crashing. This is impacting our production customers so any inputs would be welcome.

[2020-11-19 08:10] 1443658 commented on #6479
@hrhosni
Nice solution, but it doesn't seems to work if both username and password are empty, which no auth request is sent in this case..
Do you have any ideas to deal with it? Thanks.

[2020-11-19 09:58] mdunbavan commented on #1896
Hey @robertomoreno I know this is quite a while ago now but can you share more of your implementation above? I am hitting cognitoUser Session issues with it being null for some reason.

[2020-11-19 10:10] khalid283 commented on #2906
@vic-blt does not work even after removing from the .yml file and pushing.

[2020-11-19 10:29] micstepper commented on #4695
@elorzafe fixed it, it was my mistake. Had something missing in my connection schema!

[2020-11-19 11:01] hrhosni commented on #6479
@1443658 Note that I ended up going for the `I18n.putVocabularies` solution (bottom of my answer above). It's a neater workaround.

My objective was not to create my own toast but rather to overwrite the error messages.
The default error message for leaving both username and password empty is `Username cannot be empty` I believe?
I'm totally fine with it so I didn't have to worry about overwriting

[2020-11-19 11:12] camhart commented on #5284
I'm just switching from Auth0 to Cognito because they've raised prices on me, and I get 4 days notice (over a weekend) of "upgrades" occurring and I have to make changes immediately to ensure everything still works properly.

[2020-11-19 11:23] imsaurabhdixit commented on #6419
I have the same issue. Did anybody solve this ?

[2020-11-19 12:52] illiteratewriter commented on #2965
@dorontal can you share code on how you passed the file to aws-sdk?

[2020-11-19 13:14] dorontal commented on #2965
@illiteratewriter I cannot share code because I have not coded this yet. Did you see the code in the link I share above? That seems to answer the question about how to use aws-sdk together with Amplify.

[2020-11-19 13:14] tomaszdudek7 commented on #1981
@Luckygirlllll did you find the answer to your question? :P

[2020-11-19 13:23] dorontal commented on #2965
@illiteratewriter I cannot share code because I have not written it yet. But if you follow the two links I shared above, they clearly outline how to do this. The first link outlines the functions available for you in the SDK for multipart uploads:
https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html and the second link has code in it showing how to use the SDK with Amplify: #1604

[2020-11-19 13:23] dorontal commented on #2965
@illiteratewriter I cannot share code because I have not written it yet. But if you follow the two links I shared above, they clearly outline how to do this. The first link lists and documents the functions available for you in the SDK for multipart uploads:
https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html and the second link has code in it showing how to use the SDK with Amplify: #

[2020-11-19 13:40] FabioNevesAbreu1 opened #7233 "Some translations not working using I18n"
I was trying to translate the amplify-authenticator tag in vue, using I18n.putVocabulariesForLanguage, some translations are ok, but others are not changing,

main.js
[code]

![Captura de Tela 2020-11-19 às 10 32 53](https://user-images.githubusercontent.com/55453504/99672802-af336d00-2a52-11eb-8d08-93a419b30bc6.png)

![Captura de Tela 2020-11-19 às 10 39 45](https://user-images.githubuserconten

[2020-11-19 14:11] kimfucious commented on #5774
Hi @amhinson, thanks for following up on this.

The reason for the differences in the callback URL is due to the following line in `handleSpotifyAuth`:
[code]
As, I'm using Expo for this RN app and have several environments (dev, staging, prod), the `redirectURI` will change based on what the `name` property in the `app.json` file that Expo uses.

So if you're running in dev, `getRedirectUrl(Const

[2020-11-19 14:55] pperron commented on #6413
Hi,
tried last night adding the "cacheControl: 'no-cache'" entry to:

`Storage.get(filename, { download: true, cacheControl: 'no-cache' })`

and worked OK, data doesn't seems to be caches anymore. Thanks @wei for the info :)

That solve my issue !

[2020-11-19 14:55] #6413 closed

[2020-11-19 15:25] tonykaram1993 commented on #6842
I apologize for not replying earlier, for some reason I did not get any email that someone has replied to the issue. (I should check my email preferences here on GitHub).

@thisismydesign The issue was that `onAuthUIStateChange` was firing late/incorrect timing so the page loaded with no info about the user. the proposed fix would load the user info in another way when the page was loaded using `A

[2020-11-19 15:42] thisismydesign commented on #6842
@tonykaram1993 Thanks and no worries. Ended up creating another issue: https://github.com/aws-amplify/amplify-js/issues/7123. I think my issue is a different one but there are similarities.

[2020-11-19 16:23] Luckygirlllll commented on #1981
@tomaszdudek7 I used method `verifyCurrentUserAttribute()` , here is a link to the official documentation: https://aws-amplify.github.io/amplify-js/api/classes/authclass.html#verifyuserattribute

[2020-11-19 16:27] amhinson commented on #5774
@kimfucious I'm mainly wondering why the `code` and `state` aren't in the URL when returning back to the app like you are seeing in the `parsingCallbackUrl` event. Here is what I have:
![image](https://user-images.githubusercontent.com/17091790/99693521-4d6a0780-2a40-11eb-81b0-089e6e97a664.png)

What version of Expo are you using? I am on `39.0.2`.

Feel free to reach out to me on Discord `amhinso

[2020-11-19 18:22] renebrandel commented on #7174
Hi all - just a quick update on this ticket. We've had a call with @nubpro on this issue and are now deep diving into the individual issues. We have a follow-up call scheduled with @nubpro's team to discuss progress, next steps, and reproduction steps.

[2020-11-19 18:33] ericclemmons commented on #7223
Ahhh! The SSO redirect part to `/signinreturn` is what's interesting:
https://github.com/dbhagen/next.js-authentication-aws/commit/3ec7225c614b580c85b30cdf8be0a0024b1bb020

The way SSR Auth works at the moment is _the `Auth` **client**_ handles the credentials negotiation, then sets credentials in cookies for the server to read.

If you were to redirect back to `/` or whichever page uses `Auth` or

[2020-11-19 20:42] amhinson commented on #6488
From the way I am understanding this, DataStore is still making multiple attempts to reconnect whenever it encounters `Connection handshake error` (with `jitteredExponentialRetry`) up until the maximum delay time (`MAX_DELAY_MS = 5000`) is reached, in which the error is thrown. Is your expectation here that DataStore should continue to attempt the connection indefinitely when the handshake error o

[2020-11-19 22:59] camhart commented on #7199
Are there plans to support it down the road?

[2020-11-19 23:01] ChihweiLHBird commented on #7199
Thank you, and I am going to try this method. By the way, as @camhart mentioned, is there any plan to support disable of the button?

[2020-11-19 23:07] camhart opened #7238 "Federated Buttons on Sign Up component(s)"
**Is your feature request related to a problem? Please describe.**
The current sign up components don't support showing federated buttons (I think that's the right terminology?) like Google Login, etc.  I optimize the component state between sign up vs sign in depending on a localStorage value I manually set that determines whether that browser has ever allowed someone to login before.  However th

[2020-11-19 23:10] camhart opened #7239 "Footer section for legal text on UI Components"
**Is your feature request related to a problem? Please describe.**
Right now there's no easy way to include a custom footer within the UI components that could be used to support legal text (privacy policy, terms, etc.)

**Describe the solution you'd like**
Add an additional slot to **sign up** and **sign in** that can be customized to include legal text.

**Describe alternatives you've considered

[2020-11-20 00:02] camhart commented on #6782
Is the shadow-root stuff new?  If so, that could be the cause (see https://bugs.chromium.org/p/chromium/issues/detail?id=746593).

[2020-11-20 00:02] camhart commented on #6782
What was the old system?  Do I just need to roll a version number back?

[2020-11-20 00:16] markeames commented on #7215
The workaround is to use Amplify API and graphOperation
import { API, graphqlOperation } from 'aws-amplify;
import { onCreateChangeSource } from '../graphql/subscriptions';

const subscription = API.graphql(
  graphqlOperation(onCreateChangeSource, { group: this.group })
).subscribe({
  next: (data) => console.log(data),
  error: (error) => console.error(error),
});

While this works, the issue wo

[2020-11-20 01:20] ulisescarreonalvarez opened #7240 "Social Login Required Attributes Error"
**Describe the bug**
We wan't to add Facebook login on our react application, we actually use only Google, we add the configuration and created the app on Facebook, we add the mapping attributes but only with Facebook we are getting this error:

![Captura de Pantalla 2020-11-19 a la(s) 19 17 11](https://user-images.githubusercontent.com/25987364/99743702-d95d4d00-2a9b-11eb-8cae-189f1e6e9a72.png)

[2020-11-20 05:55] wei commented on #6816
@amhinson I see you marked it as a `feature-request`, do you have something in mind? Perhaps through the use of hub events?

If you could share your thoughts on how you envision this to work and/or the location in the codebase where this should reside, me or another MLH fellow would be more than happy to help out~ 😉

[2020-11-20 06:55] HarrisonJackson opened #7241 "AmplifyTotpSetup component renders broken image for QR code"
**Describe the bug**
The QR Code image for TOTP Setup fails to render if `AmplifyTotpSetup` is used in `AmplifyAuthenticator`

**To Reproduce**
Steps to reproduce the behavior:

1. Create auth flow with `<AmplifyAuthenticator >...</AmplifyAuthenticator>`
2. Add `<AmplifyTotpSetup slot="totp-setup" />` child
3. Register a new user or sign in with one that still needs TOTP Setup
4. View broken qr co

[2020-11-20 07:06] wei commented on #6363
Would the solution be throwing an error when user is trying to save a model meeting the following condition?
 - `ID` matches AND `_version <=` the one in-flight?

Users can then catch this error on `Datastore.save`?

[2020-11-20 08:03] DavidGolodetsky commented on #5885
@joebernard are you using Hosted UI for Facebook login? I found out that you can use those triggers only with Hosted UI, (In my case PreSignUp and PostConfirmation) otherwise you would need to create your own triggers.

[2020-11-20 08:12] ChristopheBougere commented on #6782
I mean the [legacy one](https://docs.amplify.aws/ui-legacy/q/framework/react) (`aws-amplify-react` instead of `@aws-amplify/ui-react`), but going back the legacy doesn't sound as a good idea.

For my part, I decided to get rid of amplify UI (because of this and many other bugs I've been facing).
I built a custom one using [this tutorial](https://blog.logrocket.com/authentication-react-apps-aws-amp

[2020-11-20 08:13] davorian commented on #4813
I tried the Connect.tsx version above and got the same errors reported by others in this thread. So I created a version whereby you can pass in multiple subscriptions as an array - you can still pass in single a subscription too - as per the original version. Note: this version takes only a ** single query and a single onSubscriptionMessage ** - however your onSubscriptionMessage can be a wrapper

[2020-11-20 08:22] nubpro opened #7242 "DataStore.observe() is not getting called after executing clear/stop"
**Describe the bug**
After I executed `DataStore.clear()`, `DataStore.observe()` is not returning any new records anymore.
This is happening on React.

**To Reproduce**
Steps to reproduce the behavior:

1. Save a new post.
2. You'll see a 'Post subscription: INSERT....'. (this is listening to `DataStore.observe(Post)`)
3. Execute `DataStore.clear()`.
4. Save new post again.
5. You can't find the s

[2020-11-20 08:46] nubpro opened #7243 "DataStore does not restart after re-enabling WiFi on Chrome (React)"
**Describe the bug**
DataStore does not restart after I re-enabled my Wi-Fi on my laptop (Windows).
This is a React app.

Is this an expected behaviour, or do I need to get Service Worker configured on my app?

**To Reproduce**
Steps to reproduce the behavior:

1. Start DataStore.
2. Off Wi-Fi from Windows Taskbar.
3. You'll observe that DataStore tries to reconnect, ignore that.
4. After roughly

[2020-11-20 09:03] nubpro commented on #6488
It is actually PubSub doing the handshake jittered retry [here](https://github.com/aws-amplify/amplify-js/blob/main/packages/pubsub/src/Providers/AWSAppSyncRealTimeProvider.ts#L625).

I actually think increasing the `MAX_DELAY_MS` would help in this case.

Would there be any implication if DataStore were to re-attempt the connection indefinitely?
Which can be done by adding 'Connection handshake e

[2020-11-20 09:36] endigo commented on #7223
I just hit the same issue.

Before my modification on UniversalStorgage class, cookies no expiry date or maxAge configured.
When Auth.signOut() function called, universal-cookie.remove function tries to set maxAge: 0 in order to remove from document.cookie but this is not works.

Then made my modification,

[code]

it works as I expected.

[2020-11-20 09:39] endigo commented on #7223
Also, I need a `domain`, `maxAge` options on UniversalStorage.

[2020-11-20 12:31] brendonparker commented on #3090
Bump

[2020-11-20 13:11] Zilvinaskli commented on #6693
this works now. thanks. What got me confused is that in amplify docs cacheControl parameter is only mentioned in Storage.put part and not in Storage.get

[2020-11-20 13:53] danrivett commented on #6363
I haven't been following this thread in detail, bt @undefobj 's suggestion at first glance concerns me because the whole point of DataStore in my view is that it insulates the developer from having to worry about online-offline connectivity - things are queued on the way out and on the way in. What @undefobj suggests appears to deviate from this.

I don't know the internals here, but it appears to

[2020-11-20 14:47] wei commented on #6693
@Zilvinaskli Setting it in GET is overwriting whatever is stored in S3 object metadata. Setting it in PUT will store the `Cache-Control` as metadata on the object in S3. So if you are sending it in PUT, you don't need to overwrite this option in GET.

[2020-11-20 15:36] nubpro opened #7244 "Race condition in DataStore when reachability is switching back and forth"
**Describe the bug**
I actually notice this bug on production where I would see **duplicate subscriptions** of the same model but had no idea why causes it. I believe it happens because of unstable network connection which triggered Reachability on and off repeatedly.

I poked around with some testing and find it pretty easy to reproduce.

**To Reproduce**
Steps to reproduce the behavior:

1. On C

[2020-11-20 15:37] mauerbac commented on #6693
As @wei pointed out this is explained here https://github.com/aws-amplify/amplify-js/issues/6413#issuecomment-729856725

[2020-11-20 15:37] #6693 closed

[2020-11-20 16:09] amhinson commented on #6816
@DavidAlvarado23 @wei This actually has been addressed recently through `Hub` events in this PR: https://github.com/aws-amplify/amplify-js/pull/7111

[code]

I'll close this for now, but feel free to open it back up if it doesn't quite address your needs.

[2020-11-20 16:09] #6816 closed

[2020-11-20 16:29] andriworld commented on #6722
Thanks @ericclemmons.

 Is it something I can help test?

[2020-11-20 16:30] #6352 closed

[2020-11-20 17:00] amhinson commented on #6488
Calling `DataStore.stop()` and `DataStore.start()` would cover this, right?

[2020-11-20 17:11] nubpro commented on #6488
Yes that is correct, it was only recently added with the introduction of selective sync.

[2020-11-20 18:28] lukehillonline commented on #5918
Hey all, I am having this same issue and I have tried everything from all threads to get this working but I cannot. I have an existing project that has been running for many months using Amplify for API calls and user authentication, we are looking to move away from GA to Pinpoint for Web Analytics and in doing so have introduced analytics into our codebase.

I get the following error:
`Error: No

[2020-11-20 19:19] MontoyaAndres commented on #7223
It's weird... I mean, when the SSR support was released completely, I changed the Authentication of the application to use with SSR, as I showed... I don't know if this conversion affected In something?

[2020-11-20 19:45] ericclemmons commented on #7223
@endigo To be clear, sign in works for you but sign out isn't clearing cookies as expected?

Can you share which browser you're in?

[2020-11-20 19:46] vic-blt commented on #2906
I've just tested and it worked.
Can you describe your issue ?

[2020-11-20 19:56] iartemiev commented on #7242
`DataStore.clear()` will remove any active subscriptions. You'll need to re-establish them manually by calling `DataStore.observe

[2020-11-20 20:06] JordanTreDaniel commented on #2588
I am having trouble with confirming users. I want auto confirm. I don't know why we have to go set up an entire lambda just to do that. There should be an `autoConfirm` option or something within Auth.signUp

[2020-11-20 21:01] Bigbrd commented on #5539
any solution or workaround come from that offline discord investigation in July @rbrazhnyk @amhinson ?

[2020-11-20 21:10] amhinson commented on #5539
@Bigbrd We were unable to reproduce the behavior on our end, unfortunately. This is still something we are actively trying to gather more data on, but it is a difficult problem to solve without being able to replicate it consistently.

If you (or anyone else who has commented on this issue) happen to have the following data from when this occurs, it would greatly help debugging efforts:
- Amplify

[2020-11-20 21:17] tjleing commented on #7199
Thanks again for the feedback!  I hope we've found a functioning workaround to your issue.

As far as getting this feature into the library, I've marked this as a feature request so that we can more effectively gauge demand from the community.  We also welcome contributions in the form of pull requests if you're up to it!

[2020-11-20 21:38] lbatasu opened #7367 "AuthError - no matter what I do now"
**Describe the bug**
I am not sure what update/npm install or otherwise caused this to happen, however, I am unable to get auth working on an existing project or even on a new project. I receive the following message when loading the app:

[ERROR] 24:32.124 AuthError -
            Error: Amplify has not been configured correctly.
            The configuration object is missing required auth proper

[2020-11-20 22:44] martinjuhasz commented on #3611
`CognitoHostedUIIdentityProvider` is now exported by `@aws-amplify/auth` directly. You can use

[code]

[2020-11-21 00:03] camhart commented on #6134
How do you change from cookies to localStorage?

[2020-11-21 00:12] ffxsam commented on #6134
@camhart localStorage is the default option. So just make sure you're not specifying `cookieStorage` in the Auth options.

For what it's worth, I have no problems using cookies so I'm doing so now. The only potential issue is that if your site is `app.myapp.net` and you also deploy PRs to something like `pr-138.myapp.net`, you will have double the amount of Cognito cookies and you could get an err

[2020-11-21 03:27] wlee221 opened #7247 "`yarn build` is failing due to conflicting `@types/react` versions"
**Describe the bug**
With the latest `@types/react` major release (`16.x.x`), `yarn build` is failing due to conflicting `@types/react` versions among sub-dependencies.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Screenshot**
`@types/react` entry on `yarn.lock`:

![Screen Shot 2020-11-20 at 7 23 31 PM](https://user-images.githubusercontent.com/43682783/99866424-e8103680-2b65-11eb

[2020-11-21 04:45] rbrazhnyk commented on #5539
@Bigbrd @amhinson I was able to reproduce the issue everytime.
I stopped using aws-amplify, and switched to aws-sdk, which does not have this problem.

[2020-11-21 04:59] camhart commented on #5457
I'm facing this same issue using Vue.

[code]

[2020-11-21 05:45] nubpro commented on #7242
Ahh I see, could this be clarified on the docs?
ps: I've noticed `DataStore.stop()` is not documented [here](https://docs.amplify.aws/lib/datastore/other-methods/q/platform/js#clear).

Would this be the ideal way of re-estalishing the subscriptions?

[code]

[2020-11-21 07:28] #7247 closed

[2020-11-21 08:49] camhart commented on #5921
I'm running into the same issue, attempting to use Google OAuth on a Vue SPA through AWS Amplify.  I can login using the direct api calls (Amplify.Auth.signIn), however I *can't* when I use `Amplify.Auth.federatedSignIn` whether I attempt to login user Google OAuth or Cognito User Pool credentials.  I get the same error:
[code]

aws-exports oauth bit.
[code]

AppClient Scope settings:
![image](htt

[2020-11-21 11:14] niloy369 opened #7249 "add select option in amplify authenticator sign up fields using angular ui"
Is there any way to add a select option dropdown in amplify-authenticator>amplify-sign-up component

[2020-11-21 13:42] endigo commented on #7223
@ericclemmons Sign in with username and password works fine. But sometimes federated login failed.

I checked on Brave, Chrome, and Safari.

[2020-11-21 14:08] iartemiev commented on #7242
Definitely! We'll add that to the docs (:

Yep, I think the way you're re-establishing the subscription there looks good. As an alternative, if you don't want to rely on Hub events, you can do:

[code]

[2020-11-21 14:18] iartemiev commented on #7215
@markeames that's fair. I'll transfer this over to the Amplify CLI team, as they manage the codegen functionality.

[2020-11-21 15:02] nubpro commented on #7244
Here's a reliable way of reproducing the bug. No clicking involved.

[code]

[2020-11-21 15:25] AUser000 commented on #4315
3.3.8 making same problem again. I fixed it downgrading to 3.3.7

[2020-11-21 18:16] icecog commented on #5918
Hey guys,
I've been fighting this thing all day. I must say I am not impressed with the documentation of Amplify... it really makes me question the wisdom of going this route - I'm sorry to say.

But I hava a working prototype for Analytics now and thought I'd share my findings.
The error I was seeing was:

This works for me:
[code]
Where the final nail was the:
[code]

Dependencies that works tur

[2020-11-21 18:21] cybercussion commented on #4315
I bumped mine just now and did not have an issue.  Due to running a lot of 3rd party packages I had to hand roll my update to Angular 11, nuke my node_modules and `npm install` to find joy.

And I opted to not use the stock aws UI components either, so I'm mainly using:
[code]

[2020-11-21 19:10] jgiunta1 commented on #5036
I had this issue because I tried to add "birthday" to the "scope" in the "oauth" section of my aws-exports.js file. I also manually added "user_birthday" to my cognito user pool for Facebook. Removing these solved the issue. I realized I need a separate permission for birthday as facebook recently updated their API.

[2020-11-21 20:52] ltaljaard commented on #5918
If your auth type is API key then also check its validity from AWS console -> AWS AppSync -> chooses your API -> Settings -> scroll down to Default authorization mode -> check that it has not expired there.

[2020-11-21 23:18] jeffsteinmetz commented on #1578
This AWS example show what looks like sub as  `cognito-identity.amazonaws.com:sub`

https://docs.amazonaws.cn/en_us/IAM/latest/UserGuide/reference_policies_examples_dynamodb_rows.html

[2020-11-22 04:36] sacrampton commented on #1453
Hi @manueliglesias  and anyone else that might be watching this issue.

As I mentioned, this is a production impacting issue in that the app is crashing with significant memory issues by using the Amplify Storage Framework for react native apps. Have not heard any options for an approved work around for this issue, so we are going to go forward with abandoning the Amplify Storage framework and dir

[2020-11-22 05:42] icecog commented on #5918
I was just doing the basic walkthrough and selected the option of 'guests or unauthorized users' when adding the analytics.
That should probably set some flag somewhere in the project to avoid me having to specify the mandatoruSignIn setting in Auth
[code]
oh, and here is my version
[code]

But I'll keep that in mind going forward

[2020-11-22 05:52] joebernard opened #7251 "Pinpoint: Exceeded maximum endpoint per user count: 10"
**Describe the bug**
After upgrading to `"@aws-amplify/analytics": "^4.0.0"` push notifications have stopped working. I can no longer update endpoints. This was originally solved in #5423 but seems to have reappeared recently. Possibly related to the merge in #7245 .

**To Reproduce**
Install the app on a device more than 10 times.

**Expected behavior**
Amplify should clear old endpoints as menti

[2020-11-22 10:50] sergeybarinov1 commented on #2012
Inline with the above thread:

One of my API graphqlOperation issues  was with the Lambda function serving the GraphQL dat set operations was silently failing/hanging. The confusion I had was with the Lambda and API dashboard that was showing 100% success rate, however I suspect something in the pipeline between the Lambda function and GraphQL fails or hangs w/o any obvious errors.

To trouble sho

[2020-11-22 12:24] claudiorebernig opened #7253 "Amplify Auth - Password forget when not confirmed"
**Describe the bug**
When I sing-up a new user into my Congito userpool and not confirm him and then try to reset the password before confirming I am not getting an error, that the user is not confirmed. Rather I get a message that the code for the password reset was delivered, which is not the case.

**To Reproduce**
Steps to reproduce the behavior:

1. Sign-up a new user into a congito userpool

[2020-11-22 12:29] dottodot opened #7254 "challengeName not present after using verifyTotpToken"
The problem does not occur when using the aws-amplify-react components but I'm trying to create a custom component for TOTP setup and it doesn't seem to work correctly.

The following code works without an error

[code]

and results in `preferredMFA` being set to `SOFTWARE_TOKEN_MFA`

but on signing in there is no `challengeName` so the user is never asked to enter a code.

If I then try `await Au

[2020-11-22 14:41] jpignata commented on #7251
Thanks @joebernard! Are you seeing this locally in development during test or in production use?

[2020-11-22 16:27] MaximilianSchon opened #7255 "Encoding issue with rest API and NextJS"
**Describe the bug**
Characters gets encoded incorrectly when using NextJS and using the rest API client. For example "ä" gets encoded as "%E4".

**To Reproduce**
Steps to reproduce the behavior:

1. Create a next-app with `npx create-next-app`
2. Configure API
3. Send an API request to example "/ä".

**Expected behavior**
That the URL is not encoded at all, or URI encoded.

**Code Snippet**
[code

[2020-11-22 17:26] gruckionvit commented on #2958
So what if we add a `Boolean` custom attribute to our cloudformation schema then realise that only `String` and  `Number` are supported?

We can't delete the attribute.
We can't modify the attribute.

I want to convert this into a string or remove it. It's broken my authentication flow and there doesn't appear to be a solution to fix this. Am I supposed to delete my amplify backend infrastructure

[2020-11-22 18:38] joebernard commented on #7251
@jpignata I've only been able to test in development so far but the previous time this happened it was affecting production too. This only started breaking again after upgrading to `4.0.0`. I tried rolling back but then started experiencing a different issue (#6145). I can't seem to get around that one either as it seems to persist through re-installs so I'm currently blocked.

[2020-11-22 19:26] zacharyrogers1 commented on #7103
@matwerber1 I took a shot at this and created a PubSub.removePluggable() function to be able to remove and add providers as needed. This should work for being able to change region, endpoint, etc as needed.

[2020-11-22 20:32] zizipoil commented on #7156
Hello,

is there any update/progress on the issue?

thanks

[2020-11-22 22:21] v1pz3n commented on #7251
Also here

[2020-11-23 06:21] ChihweiLHBird commented on #3640
Is there any plan for implementing it in Amplify framework?

[2020-11-23 07:22] macsj200 commented on #3977
@luizcieslak I tried that but I was running into highly frustrating intermittent failures on the local fetch network request. I think there's a memory leak or something...

[2020-11-23 07:48] undefobj commented on #6363
@danrivett I think you're reading too much into the phrasing of my comment. The library should handle all of these implementations internally, not force the developer to think about them. @wei is one of the Amplify team fellows working with @iartemiev

[2020-11-23 08:20] khalid283 commented on #2906
@vic-blt
`MFA cannot be turned off if an SMS role is configured`
I had removed the entire `SNSRole` and then removed `SmsConfiguration` in `UserPool>Properties` then pushed.

But getting the same error it cannot be disabled.

[2020-11-23 08:44] tomaszdudek7 commented on #1981
@Luckygirlllll Thank you, this indeed worked.

This might be related: when you change a phone number or an email which is treated as a username, using `updateUserAttributes`, then you verify the attributes, the `username` attribute does not get updated!

Pre-update:
[code]
Post-update:
[code]
Only after logging out and logging in again, the attribute is shown properly:
[code]

Any idea how would o

[2020-11-23 09:31] nubpro commented on #6488
It seems that when DataStore does not re-attempt the subscriptions when any of the subscription has timeout (again due to network drop).

https://github.com/aws-amplify/amplify-js/blob/b7eef9dc2a03e7fa4d9a6bb7420a44b0731ecc35/packages/pubsub/src/Providers/AWSAppSyncRealTimeProvider.ts#L541-L558

[2020-11-23 10:08] lukehillonline commented on #5918
So I managed to resolve the issue for me. Instead of doing this
[code]

I now do this
`import { API, Auth, Analytics } from 'aws-amplify';`

As I said in my comment before I had tried this in the past. The difference this time is I actually uninstalled anything related to `@aws-amplify`. If both `@aws-amplify` and `aws-amplify` are in your `node_modules` then the issue will persist.

While this is

[2020-11-23 10:12] mlxyz commented on #7206
Hey @amhinson thanks for the quick fix. I just tried it and it works as expected for arrays as strings.
However, using only a single-value plain string (non array) fails with this error `ERROR Error: Uncaught (in promise): SyntaxError: JSON.parse: unexpected keyword at line 1 column 1 of the JSON data` at https://github.com/aws-amplify/amplify-js/blob/main/packages/datastore/src/sync/utils.ts#L464

[2020-11-23 10:33] Luckygirlllll commented on #1981
@tomaszdudek7 Do you use `Auth.currentUserInfo()` for getting info about the user?

[2020-11-23 13:36] tomaszdudek7 commented on #1981
@Luckygirlllll Yes, `attributes { phone_number ` are indeed refreshed. But the `userName` and `userNameKey` field (which are on the same level as `attributes` - one level above `phone_number` for example) are the same.

Only logging in and out refreshes them.

[2020-11-23 14:04] Luckygirlllll commented on #1981
@tomaszdudek7 You can try to use this method `Auth.currentAuthenticatedUser()`.

[2020-11-23 15:08] dmitri-afonin commented on #7188
@harrysolovay @elorzafe any updates on this issue?
I saw there was a new release recently, but the issue is still unchanged.
Just hope it is not lost)

[2020-11-23 15:50] macsj200 opened #7257 "Expo Blob S3 upload fails on iOS (Unable to resolve data for blob)"
**Describe the bug**
I am selecting an image via `expo-image-picker` `ImagePicker.launchImageLibraryAsync()`. This returns a `result` with a `uri` field set that points to a local image.

I want to resolve `result.uri` into a `Blob` that can be passed into `Storage.put(filename, data)`.

I've tried converting the URI to a `Blob` with these two approaches
[code]
[code]
both of the above seem to wor

[2020-11-23 15:57] jamesalester opened #7258 "Auth methods hanging on Android but not iOS in React Native"
**Describe the bug**
Auth methods such as `signIn` and `signUp` hang on Android in React Native but work fine on iOS.

**Expected behavior**
The `signIn` promise should either resolve or reject but it just hangs continuously.

**What is Configured?**
I'm using amplify in conjunction with Apollo. My app is setup like this:

[code]

[code]

I used this [guide](https://dev.to/willsamu/how-to-get-aws-

[2020-11-23 16:02] jayanthbondi opened #7259 "Error message is not cleared when the call is succesfull"
Steps:
1) click on forgot password.
2) Enter inavild email and verify.
I see this toast message on the top of the page.
**"Username/client id combination not found."**
3) Now give valid email and verify.

I'm still able to see the above toast message.
Expected behaviour: Error toast message must be cleared when API call is successful for the second time.
![image](https://user-images.githubusercont

[2020-11-23 16:58] amhinson commented on #7258
@jamesalester This looks to be the same issue people are seeing in this issue: https://github.com/aws-amplify/amplify-js/issues/5539

Could you add your findings there? We are still trying to reproduce this on our end, but have had no luck so far. I'll close this issue so we can focus on the other one.

[2020-11-23 16:58] #7258 closed

[2020-11-23 17:08] amhinson commented on #5457
@camhart I see you've updated your comment. Are you still experiencing an issue?

[2020-11-23 17:09] jamesalester commented on #5539
Thanks @amhinson for the redirect, I hadn't seen this thread. My issue may be the same or similar. I'll try leaving it logging in and see if it eventually resolves like the instances in here.

It would be interesting to know if everyone's hanging at the same point. I put logs in `node_modules/amazon-cognito-identity-js/src/CognitoUser.js` and found that it was getting stuck at line 282 where it ca

[2020-11-23 17:53] ammanvedi commented on #1792
Agree with all the points above 👍

[2020-11-23 17:55] #7210 closed

[2020-11-23 19:26] nubpro commented on #7257
I can't seem to reproduce this. I have no problem getting Blob to work on my iPhone.

This is my test expo project:
https://pastebin.com/pWsXvpEm

The code:
[code]

[2020-11-23 20:05] Shuvo-Hoque commented on #396
Try it this way :

await Storage.put(filename, file, {
                    contentType: 'application/pdf',
                    customPrefix: {
                        public:''
                     }
                }).then(result => {
                    console.log(result)
                }).catch(err => {
                    console.log(err)
                    alert(`Can't upload file: ${err}`

[2020-11-23 20:06] Shuvo-Hoque commented on #396
Found a way to do this,

let result = await Storage.put('folderName/imageName.png', blob, {
  contentType: 'image/jpeg',
    customPrefix: {
       public:''
    }
 });
This saves the file in the root of the bucket, inside folder "folderName".

[2020-11-23 20:10] macsj200 commented on #7257
@nubpro Thanks for the response! I noticed I had an intermediate step doing this `const imageData = new File([picture], imageName)`
I wonder if that's what was wrong?

[2020-11-23 20:12] macsj200 commented on #7257
Seems to be working great now, thanks!

[2020-11-23 20:12] #7257 closed

[2020-11-23 21:39] amhinson commented on #5539
Thanks for the info and investgating @jamesalester! 🙏  The logs would be very helpful here as well as knowing if the request is actually being make or not. I'd also be interested to see if there are any discrepancies in what `jsonReq` looks like for successful & unsuccessful requests.

[2020-11-23 22:03] HP4k1h5 commented on #3524
i followed the [Logger guide](https://docs.amplify.aws/lib/utilities/logger/q/platform/js) and am developing an application locally. i don't know where/if my logs are written to. the guide does not indicate where these logs get written to, nor how to configure output location.

for reference, i am only importing the `aws-amplify` package and am not using the cli. does anyone know how to configure

[2020-11-23 22:33] v1pz3n commented on #7251
Amplify updated to 3.3.10 and it worked

[2020-11-23 22:51] mmykhaylov opened #7260 "Module not found error when bundling with Webpack 5"
**Describe the bug**
I am unable to start a webpack dev server due to imports in .mjs files not having file extensions. The errors I get are:
[code]

**To Reproduce**
[code]
Look at the console and see 30 warnings and 8 errors

**Expected behavior**
Build runs without errors or warnings

[2020-11-23 23:36] j2d2 opened #7262 "Blocker for Upgrading to 3.0 - Storage timeout config"
**Is your feature request related to a problem? Please describe.**
I have a production Angular 10 webapp that requires extending the S3 upload timeout longer than the default 2 minutes to support larger files and users on slower connections. This is a blocker for me to upgrade to Amplify JS 3.0.
Hoping for ideas or workarounds, as trying to maintain my production app with less than the _latest_ Am

[2020-11-24 00:50] xavierraffin commented on #3524
@HP4k1h5 the logs are just console.log visible in Chrome inspector for example.
This is why this ticket ask to be able to set a Amazon Cloudwatch destination.

[2020-11-24 02:50] joebernard commented on #7251
Interesting. Maybe this is only broken in the modular packages. Unfortunately I cannot easily convert.

[2020-11-24 04:42] renebrandel commented on #7174
We've just had in-depth team meeting with @nubpro's development team and have identified the three core issues. We were able to resolve an issue in regards of the refresh token expiry.

For the two other issues, @sammartinez & @iartemiev will be tracking progress within the respective issues listed above. I'll be closing this issue and leverage the other issues as the main tracker issues.

@nubpro

[2020-11-24 04:42] #7174 closed

[2020-11-24 04:52] MartinsOnuoha commented on #3435
Just faced the same issue and was glad to see the last comment from @jpignata here was 19 days ago. Fingers crossed.

[2020-11-24 05:17] camhart opened #7264 "Feature Request - Configurable oauthStorage"
**Is your feature request related to a problem? Please describe.**
I'm trying to use AWS Amplify Auth with Electron with AWS Amplify running on the nodejs side and storing credentials on the local file system.  The `storage` config option has been working great, however `oauthStorage` attempts to use `window.sessionsStorage` which doesn't exist in node.

**Describe the solution you'd like**
Allow

[2020-11-24 05:20] camhart opened #7265 "Make Auth._handleAuthResponse public"
**Is your feature request related to a problem? Please describe.**
I've found a fairly simple way to use AWS Amplify using Electron.  It takes 3 tweaks.  This is one of them.  I have electron loading the Cognito Hosted UI page, and then electron parses out the redirect response.  However right now I have to call the private function `Auth._handleAuthResponse`.  I'd like this to be opened up so it'

[2020-11-24 05:23] camhart opened #7266 "Add Auth.getFederatedSignInURL function"
**Is your feature request related to a problem? Please describe.**
I'm using AWS Amplify with electron.  I found a relatively simple way to make it all work.  However I'm passing a custom implementation of `urlOpener` in order to capture the federatedSignIn url.  While this works, it feels a bit hacky.

**Describe the solution you'd like**
Add a `Auth.getFederatedSignInURL` method

**Describe alte

[2020-11-24 07:29] adampblack opened #7267 "AmplifyConfirmSignUp usernameAlias="phone_number" not working"
Using the AmplifyConfirmSignUp from '@aws-amplify/ui-react'

I have set:
usernameAlias="phone_number"

Despite this setting when I try to verify the code it says username cannot be empty.
![Screenshot 2020-11-24 at 15 27 29](https://user-images.githubusercontent.com/11552373/100061926-c36bd580-2e69-11eb-9529-980071c65971.png)

[2020-11-24 08:42] macsj200 commented on #2588
@JordanTreDaniel I totally agree. It's also very confusing to me that I have
[code]
set in my `parameters.json` but it doesn't seem to actually auto-verify the email.

I'm also not clear on the difference between verify and confirm, i.e. even if I set up an auto-verify lambda would I _also_ have to independently _confirm_ the user?

[2020-11-24 10:53] mmykhaylov commented on #7260
It seems like the error comes from the imports in the index.mjs file of graphql package not having file extensions. Explicitly writing them seems to fix the issue. Appropriate issue has been opened in the graphql-js repository. graphql/graphql-js#2856

[2020-11-24 11:21] jamesalester commented on #5539
Hi @amhinson. I left the Android simulator signing in but it never seemed to resolve (my laptop could have turned itself off before it could finish but I'm not sure).

I ran the sign in request with both iOS (which works) and Android (which doesn't) but I can't see any differences in the jsonReq.

<details>
<summary>Android (Not Working)</summary>
<code>
{
    AuthFlow: "USER_SRP_AUTH",
    AuthPa

[2020-11-24 12:44] HP4k1h5 commented on #3524
@xavierraffin  thanks for this information, but i don't see any logs in the dev console at all. im not getting any errors either. so i believe i have instantiated the Logger correctly. all of my `console.logs` are there and the app is working as expected and not throwing any errors of any kind.

im also wondering what the point of having a wrapper around `console` is, if Logger just dumps messages

[2020-11-24 13:03] jamesalester commented on #5539
Now I'm wondering if it's an issue with how Android handles fetch requests. I stuck the above Android request into Postman and got a 200 response.

[2020-11-24 14:14] iartemiev commented on #5963
@nubpro - we merged a PR that adds clientside validation for AppSync scalars (e.g., AWSDateTime, AWSJSON, etc.). It was deployed as part of aws-amplify@3.3.9.

Regarding surfacing sync errors, we're currently exploring solutions for that. The approach proposed above would cause the sync engine to stop working when a single model encounters an error, which is not the desired behavior. Instead, we'r

[2020-11-24 14:16] vanna80 opened #7268 "GraphQL Api - different naming convention (getAAAItem vs getAaaItem) in @/graphql/queries and AWS console"
I have model in schema.graphql

[code]

in AWS console / AppSync / Queries, there is
[code]

but there is **getAaaItem** in @/grapql/queries.js, so the code is
[code]
That is confusing, I would expect the query name **getAAAItem**
[code]

Amplify v4.34.0
@aws-amplify/ui-vue:"^0.2.28
aws-amplify: ^3.3.9

[2020-11-24 14:37] iuyt9003 opened #7269 "Can't use the amplify cli anymore... validatetypenamereservedwords, useexperimentalpipelinedtransformer in the cli.json file blocking it. with issue."
**Describe the bug**
After I added the API, the local cli.json file blocking me from working with Amplify.
it has an object with 3 keys which 2 of which causing the amplify to crush.

![image](https://user-images.githubusercontent.com/23431551/100107549-6f192380-2e72-11eb-82e8-237654ce65a4.png)
![image](https://user-images.githubusercontent.com/23431551/100107603-7b9d7c00-2e72-11eb-9ff3-0d51c9862b

[2020-11-24 14:38] iuyt9003 commented on #7269
if you need me to provide more information just write :) but it's a big issue. I can't work with that current situation. (I don't think this issue happen only to me but...)

[2020-11-24 15:35] amhinson commented on #5539
@jamesalester Ah ok, well its helpful to know that it at least generates the `SRP_A` value and makes the request. There is quite a bit that goes into generating that value, so I had an initial thought that it was hanging somewhere in the process of generating it, but I think we can rule that out now. Even if this value is generated incorrectly and makes it to `this.client.request(...)`, that shoul

[2020-11-24 16:02] #7102 closed

[2020-11-24 16:44] nubpro commented on #5963
Thanks for making the improvement!

Sure lemme close it.

[2020-11-24 16:44] #5963 closed

[2020-11-24 17:04] amhinson commented on #7206
Good observation @mlxyz! Just updated the implementation a bit to account for that use. It's available with `unstable` now and should be on `latest` sometime next week.

[2020-11-24 17:17] DevTGhosh opened #7270 "Fonts used in the docs is creating artifacts on normal zoom level"
**Describe the bug**
The font used in the docs has weird artifacts that are visible on a 1080p 15.6inch laptop screen. Most visible on bold text but can also be seen on normal text too if looked closely. This is visible on firefox, edge and chrome.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to: [https://docs.amplify.aws/cli/graphql-transformer/auth#owner-authorization](https://docs.

[2020-11-24 17:21] alexeimartov opened #7271 "Authentication broken"
Had a working project on 3.3.8 yesterday pushed live. By afternoon, authentication was broken.

Spun up a boilerplate using create-next-app, add amplify and a basic graphql api, could not get auth to work, generic 'authentication error'.

I had pinned to 3.3.8 as 3.3.9 broke the whole graphql framework, lost a weekend figuring that out.

I would provide more information but too tired, twice the wh

[2020-11-24 17:54] ramakrishnan opened #7272 "DataStore keeps making a full sync once the TTL of Delta Sync table is reached"
**Describe the bug**
Data store keeps making full sync on model and returns all documents instead of returning only the delta changes. What I observed is once the Delta sync table TTL is reached, the next sync call makes a full scan, even though there are no updates happened to the model.

**To Reproduce**
* I have a versioned model with base and delta table.
* The base table has 300 documents.
*

[2020-11-24 17:59] sammartinez commented on #7270
Hello @DevTGhosh, this seems to be related to Amplify CLI instead of Amplify JavaScript. I have gone ahead and moved the issue to their repository.

[2020-11-24 18:13] ericclemmons commented on #7271
@alexeimartov I'm sorry that you ran into this regression :( `3.3.9` had a regression that was address by #7237 in `3.3.10`.

I've added more tests around this to ensure it doesn't happen again, and we'll be creating more around use-cases as well.

I went through several of my Next.js apps with `3.3.10` without issue.  Just to confirm, did https://docs.amplify.aws/start/q/integration/next work suc

[2020-11-24 18:19] gruckionvit commented on #3877
This article has a nice wrapper for supporting typescript

https://dev.to/rmuhlfeldner/how-to-use-an-aws-amplify-graphql-api-with-a-react-typescript-frontend-2g79

[2020-11-24 18:51] anujmv commented on #5918
No. its not expired but throwing up error - >

GraphQLAPI - ensure credentials error No Cognito Identity pool provided for unauthenticated access

Error: No credentials

[2020-11-24 20:13] cptflammin opened #7276 "Auth.FederateSignIn() navigates to url with wrong subpath (Hosted UI, Cognito User Pool with SAML authentication MS Azure AD)"
**Describe the bug**

- User Pool > Federation > Identity Provider: Cognito User Pool with SAML Identity Provider (Microsoft Azure AD) configured
- User Pool > App Integration > App client settings > Launch Hosted UI: full authentication flow works as expected

Now:
when calling

() => Auth.federatedSignIn()

on button click in vanilla javascript web app (stencilJS), we are redirected to the right

[2020-11-24 20:18] sw-yx commented on #3877
so ugly. we need to properly support typescript.

[2020-11-24 20:20] gruckionvit commented on #3877
100% agree.

[2020-11-24 21:32] iartemiev commented on #7268
Transferring to the CLI team, as they're the ones managing codegen for the API category

[2020-11-24 22:26] ericclemmons commented on #7255
I've observed a difference in behavior between React & Next.js as well when there are spaces in URLs for S3 buckets: Getting the S3 resource URL for `path/to/My Custom Font.ttf` works in React, but fails in Next.js.

The fix for Next.js was the following, but then it broke React:

[code]

We should add tests to cover the provided examples by OP too:

[code]

[code]

[2020-11-24 22:26] ericclemmons commented on #7255
I wonder if Next.js is polyfilling the `url` package at all?  Because this isn't just on the server, it's the client, too 🤔

[2020-11-24 22:29] ericclemmons commented on #6710
Confirmed that this behavior exists and is undesirable.

1. Clicking "Sign in with Google"

1. After the redirect, I'm prompted to verify my email:

1. However, when refreshing the page, I get the desired experience:

[2020-11-24 22:35] ericclemmons commented on #7271
Thanks for spending time with me today on this @alexeimartov!

For others following along, the main takeaways I have are:

- If you experience an Auth error on page load (e.g. something saying Auth isn't configured correctly, etc.), `rm -rf node_modules` and follow the next step. Because if there are duplicate copies of Amplify or Auth on the page, its highly likely none of the features will work

[2020-11-24 22:35] #7271 closed

[2020-11-24 23:05] njdullea commented on #1378
I am getting this error with aws-amplify 3.3.10.

[2020-11-24 23:25] njdullea commented on #7251
I am not using modular packages, was on amplify 3.3.9 and encountered this issue. Updating to 3.3.10 did not resolve the issue.

[2020-11-25 00:52] carlhaynes commented on #7227
I'm going to be closing this as I do seem to be getting the cognitoId on the backend now. Not sure what changed, but it was likely my error.

[2020-11-25 00:52] #7227 closed

[2020-11-25 01:02] vitalbone commented on #5019
@ammarkarachi Is there any plans to add a `@default` type directive or something similar?

[2020-11-25 01:59] nubpro commented on #7174
I really appreciate that you guys are willing to approach us directly. Thanks Amplify Team!

Well we are far from done as the problems remains, I'm looking forward to the solutions.

I do have 1 question remain, is Amplify actively being used internally by AWS?
I understand that this probably isnt a fair question to ask as Amplify encompasses a wide array of platforms but you know, I'm kind of eag

[2020-11-25 02:02] Rifur13 commented on #3184
I have the same issues, the hosted ui authentication is broken. When some hasn't confirmed his email but tries to login, please display on option the enter the mfa code or resend the email. Thank you.

[2020-11-25 02:41] wei commented on #7150
@mchitson I'm able to reproduce by using the two browser and clear cache method. Quick question: what do you mean by "browser history refreshed" in your original comment? Why would a refresh clear out application data (IndexDB)?

[2020-11-25 03:06] Jwb81 commented on #6330
I was having the same issue in VueJS.  I found another article that suggested calling `Auth.configure(amplifyConfig)` instead of `Amplify.configure(amplifyConfig)`.  When I sign in with Google, it is no longer calling the token endpoint twice.  This leads me to believe that the main Amplify configure function is perhaps configuring something twice???  I am also using the Amplify API library which

[2020-11-25 03:26] caoheyang commented on #3954
When one of my users belongs to multiple user groups, I want the user to have a collection of multiple group permissions. Can you give me ideas about this knowledge? Thanks a lot , I have been troubled for a long time.

[2020-11-25 09:02] nick-eco-s commented on #7174
@nubpro It's used on the docs website - https://github.com/aws-amplify/docs

[2020-11-25 09:14] alissaVrk commented on #6928
any news?
having the same issue

[2020-11-25 09:44] D0berm4n commented on #7081
Hi all. Expiriencing same issue with `"@aws-amplify/ui-vue": "0.2.25"` and `"aws-amplify": "3.3.6"`

[2020-11-25 11:32] endigo commented on #7223
@ericclemmons According this [comment](https://github.com/reactivestack/cookies/issues/238#issuecomment-550056081),

in order to delete a cookie from `document`, it should have the same path and domain options passed to remove the function.

[code]

[2020-11-25 13:10] SandeshAthreyaBD commented on #5167
I'm also facing this issue, I'm using React and it returns "not Authenticated" everytime. I am manually creating users in the user pool and marking the email as "verified" and I still encounter the problem. Is there a solution?

[2020-11-25 13:33] PTaylour commented on #7271
This worked for me

after re-installing `@latest` `/auth` is deduped

[code]

and it's happy now

[2020-11-25 15:23] andriworld opened #7284 "Auth.currentCredentials outage - CORS headers missing"
**Describe the bug**
Starting today, Auth.currentCredentials() fails consistently with a CORS error.

This took down my production site.  I imagine this issue might be from an AWS service rather than Amplify. Could you please help me route it to the correct contact?

**To Reproduce**

[code]

**Observation**
The call hangs for about 10 seconds, then returns this object:
`credentials: {"$metadata":

[2020-11-25 15:25] iyz91 commented on #7284
@andriworld Multiple AWS services are down
https://www.reddit.com/r/aws/comments/k0sd0l/cloudwatch_useast1_problems_again/

[2020-11-25 15:32] Shadrack1701 opened #7285 "Amazon-cognito-identity-js all calls blocked by cors starting 11/15"
All of my cognito requests for all my aws environments using Amazon-Cognito-Identity-Js are all now failing with the following:
`Access to fetch at 'https://cognito-idp.us-east-1.amazonaws.com/' from origin 'my-example.com' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource.

[2020-11-25 15:41] AlexMayleRdn commented on #6731
@jcowley I can see the web request to the Cognito endpoint does have clientMetadata defined, so I'm not sure whether the Cognito docs are just wrong or if it's a Cognito bug.

Either way, not being able to manipulate claims in the access token, and not having client metadata in the preTokenGeneration hook make Cognito useless for anything other than the most basic auth flows.

[2020-11-25 15:43] judiel-camonapp commented on #7285
https://www.reddit.com/r/aws/comments/k0sd0l/cloudwatch_useast1_problems_again/

[2020-11-25 15:44] mkozjak commented on #6731
+1. I decided to use Cognito only for authentication and lambdas for authorization. Works for us and we won't wait for quite a while to get this one fixed.

[2020-11-25 15:50] Shadrack1701 commented on #7284
Glad I'm not the only one, I reported this here as well hoping it wasn't just me!  Where do you see the multiple AWS services down?  I only see Kineses and now Cloudwatch.

[2020-11-25 15:53] judiel-camonapp commented on #7284
@Shadrack1701  here you can see all the services affected

https://status.aws.amazon.com/

`7:30 AM PST: Kinesis is experiencing increased API errors in the US-EAST-1 Region. This is also causing issues with Cognito, IoT Core, EventBridge and CloudWatch. This issue has also affected our ability to post updates to the Service Health Dashboard.`

[2020-11-25 16:25] andriworld commented on #7284
An AWS service outage definitely seems to be the culprit.  Removing the 'URGENT' text from this issue's title.

[2020-11-25 16:27] andriworld commented on #7285
Duplicate of https://github.com/aws-amplify/amplify-js/issues/7284

[2020-11-25 16:33] boyney123 commented on #2602
Got the same issue here, wondering how we can get past this with amplify?

[2020-11-25 16:34] boyney123 commented on #2602
Did you manage to fix this @vrunda-thacker?

[2020-11-25 16:44] kylejoeckel commented on #5042
any update on this?

[2020-11-25 17:13] lafiosca commented on #7284
I just wanted to chime in here and say that depending on your version and/or config you may see other errors which have the same underlying cause. In our app (both dev and prod versions) we're seeing this error from the library when attempting to refresh credentials with Cognito in us-east-1: `undefined is not an object (evaluating '(t.__type||t.code).split')`

[2020-11-25 17:22] jamesalester commented on #5539
So after a few days of debugging and going through all of the issues on the react native Github related to fetches on Android I found a solution that works for my problem... disconnecting the wifi on the emulator and reconnecting! 😑

My colleague was getting the same problem that I was so it could be a bug in the android emulator so if anyone is getting the same issue give that a try first.

It do

[2020-11-25 17:39] avlonder commented on #7057
Is it possible to use a Hub listener to detect the disconnect error?

[2020-11-25 17:53] schrecka commented on #1949
@esthor This worked for me thank you

[2020-11-25 17:54] schrecka commented on #1949
@esthor this worked for me thank you

[2020-11-25 18:17] sammartinez commented on #7285
@andriworld is right, I am going to close this in favor of the other issue. Please follow the above issue.

[2020-11-25 18:17] #7285 closed

[2020-11-25 20:16] tncbbthositg opened #7286 "TypeError is thrown when Cognito is down"
On 2020-11-25, AWS Cognito experienced an outtage.

Our users received an error message that read:

The stack trace I was able to get at the time was as follows:
[code]

By the time I started looking into it, authentication was beginning to work more reliably so reproducing the issue became effortful.

In any case, I think this may be the culprit:
https://github.com/aws-amplify/amplify-js/blob/ba8

[2020-11-25 20:35] sammartinez commented on #7286
This is a known issue, I am going to mark this issue as a duplicate in favor of #7284. Please follow this issue, thanks!

[2020-11-25 20:35] #7286 closed

[2020-11-25 21:09] lopezdp commented on #390
Ive had it on SO for months now, here's a solution you can use to get both user attributes AND CUSTOM user attributes. Give it an UpVote if it works for ya!

https://stackoverflow.com/a/59973919/3879359

[2020-11-25 22:10] tncbbthositg commented on #7284
@sammartinez, you closed the issue @lafiosca and I mentioned.  I just wanted to make sure that the information isn't lost.

When an outage like this happens, we get a type error because there needs to be a guard in place to prevent evaluating methods on undefined.  That way, we can provide our users with more meaningful errors.

Will this card address the defect on this line:
https://github.com/aw

[2020-11-25 22:45] sammartinez commented on #7284
No worries! Apologizes on closing this issue as well, usually when I reference an issue it gives insight to other issues that come up when these issues arise. I believe we can leave the other issue closed and have this callout live here in case this occurs again. Thanks for the feedback !

[2020-11-25 23:05] matansagee commented on #6560
@abdielou Hi! When you are using the same schema you wrote in the first comment, are you able to get the **Team** object back when querying **Project**?

`type Project @model {
  id: ID!
  name: String
  teamID: ID!
  team: Team @connection(fields: ["teamID"])
}

type Team @model {
  id: ID!
  name: String!
}`

[2020-11-26 00:05] andriworld commented on #7284
The Cognito outage seems to have fully recovered. I am no longer seeing authentication issues, service latencies, CORS errors, or strange credential responses using Amplify JS.

From AWS service health dashboard:

"2:43 PM PST Between 5:15 AM and 2:28 PM PST customers experienced increased API failure rates for Cognito User Pools and Identity Pools in the US-EAST-1 Region. This was due to an issue

[2020-11-26 00:33] wywarren commented on #3933
After paying for AWS business support, the response we got so far after 40+ days is that there is no way to clear the cookie on the hosted UI domain without using the LOGOUT endpoint. We even asked if it is possible to store the cookie on the root domain instead to have other subdomains handle the clearing of the cookie. The answer we received was that it's not possible but no explanations were gi

[2020-11-26 00:47] rpostulart commented on #7072
Any updates on this?

[2020-11-26 04:46] mattiLeBlanc commented on #7098
I am still experiencing this error with Angular 11, and @aws-amplify/auth.
[code]
I have tried  installing `"amazon-cognito-identity-js": "^4.5.4-unstable.6"`,
[code]
and installing latest ampliy/core, auth and pubsub. Nothing works.

[2020-11-26 08:25] usualdesigner commented on #7106
@ericclemmons any updates?

[2020-11-26 09:19] apoorvmote opened #7289 "[Request]: Moving withSSRContext out of the aws-amplify pakage"
**Is your feature request related to a problem? Please describe.**
I am using Serverless framework to deploy Nextjs. They deploy single lambda@edge for all server side rendering pages and single lambda@edge for all api. Each lambda has limitation of 50MB storage zipped. `import Amplify, { withSSRContext } from 'aws-amplify` Adds 1.3 MB per SSR page or per SSR path. So at max I can deploy only 40 S

[2020-11-26 12:47] tramert commented on #2602
I am also having this issue, I have a user permanently logged out at this point....

[2020-11-26 13:42] meducati commented on #6534
Late to the party, but was just searching the docs for exactly this feature. Hope we can get this implemented.

Use case: My client want to go offline for long periods of time on his tablet. He will stay signed in but open/close the (web-)app frequently. When he eventually logs out, it would be great with an easy request to the local Datastore to make sure that there are no pending items that are

[2020-11-26 15:41] yshterev commented on #6469
@alexandrefilipiak Any luck with this? I am trying to do the same...

[2020-11-26 16:43] wvidana commented on #54
Is this still a thing? This issue is so old that I'm not sure what was solved and what not.

Can we trust the event that generates API Gateway if an authenticated user makes a call? From a backend in Lambda, triggered by API Gateway (REST API created with the amplify-cli), within the event I can get these two:

[code]

The `cognitoAuthenticationProvider` string has the `sub` from the user at the e

[2020-11-26 17:11] joebernard commented on #7251
Can we get an update on how to proceed now that we are stuck with this artificial endpoint limit? Are we expected to manually manage this limit within Pinpoint somehow? What was the rationale behind removing this functionality? This has become a huge blocker for my team.

[2020-11-26 17:17] jpignata commented on #7251
Hi @joebernard - we're working on this with Pinpoint and will have more to share soon. Do you have anytime to chat tomorrow on discord perhaps? I'd like to learn more about the block and see if we can help. Happy Thanksgiving!

[2020-11-26 17:57] joebernard commented on #7251
@jpignata That would be helpful. I can meet anytime between 9:00 AM and 2:00 PM ET Nov 27. Happy Thanksgiving to you as well.

[2020-11-26 21:55] iartemiev commented on #7289
@apoorvmote have you tried using Lambda layers for your node_modules as opposed to zipping them up with you lambda?

[2020-11-26 21:59] #7242 closed

[2020-11-27 00:53] wisammechano opened #7290 "add directive for computed properties to graphql schema"
**Is your feature request related to a problem? Please describe.**
It is very hard to expose a model field that is to be computed on the fly. It can be very tiny that doesn't need to be computed using lambda functions. A simple example is computing `fullname` based on db fields `firstname` and `lastname`. What I am currently doing is modifying the resolver response templates to do what I need.

**

[2020-11-27 01:24] apoorvmote commented on #7289
@iartemiev I would love to do that. But unfortunately I am just starting out with Nextjs after 2 years in React. So I am looking to deploy Nextjs without knowing Nexjs. The Serverless framework lets me do just that. And it doesn't allow for lambda layers. So until Ampliy supports hosting with SSR (not limited to static hosting) I am stuck with serverless framework.

[2020-11-27 02:37] tvbowersz commented on #5104
@Akshat0694 I"m not clear on where you are saying you are receiving the `Already+found+an+entry+for+username+xxxx_2134343141` message. We did end up with 2 users created in the User Pool with the additional "identity" listed on the user. However accessing either user returned the linked user's sub and attributes.

[2020-11-27 02:45] iartemiev commented on #7289
It would appear that Serverless Framework [supports Lambda layers](https://www.serverless.com/framework/docs/providers/aws/guide/layers/)

[2020-11-27 04:34] strange1120 opened #7291 "Cross Origin Read Blocking CORB Error"
**Describe the bug**
Trying a very simple set up to storage images and get them out on subsequent page redirect. If I store my S3Object on the Listing type and try to get with `<AmplifyS3Image imgKey={key} /> then I get this error in the browser. "Cross-Origin Read Blocking (CORB) blocked cross-origin response {url} with MIME type image/jpeg. See https://www.chromestatus.com/feature/56297098240327

[2020-11-27 06:42] apoorvmote commented on #7289
@iartemiev Technically it is serverless framework underneath. But https://github.com/serverless-nextjs/serverless-next.js is separate from serverless framework. The readme file has all possible customization. You will see huge warning that regular serverless framework deployes with commmand `serverless deploy` however to deploy nextjs you deploy with `serverless`.

Basically if customization is no

[2020-11-27 06:53] rpstreef commented on #3526
What's the resolution here because this is still happening

[2020-11-27 08:50] t-lm commented on #7046
Same issue here... Random fails after stack update. Issue seems to disappear after 15-30 minutes

[2020-11-27 09:08] martoncsikos commented on #7092
fwiw I'm getting the same warnings produced by the
`client-lex-runtime-service` dependency in `@aws-amplify/interactions` and the
`client-s3 dependency` in `@aws-amplify/storage`

All the fixes are here:
https://github.com/aws/aws-sdk-js-v3/pull/1505

[2020-11-27 10:07] ameykshirsagar commented on #4778
I was able to do it in this way. It works perfectly
[code]

[2020-11-27 10:09] ameykshirsagar commented on #4510
I was able to do it in this way. It works perfectly
[code]

[2020-11-27 10:10] ameykshirsagar commented on #4666
I was able to do it in this way. It works perfectly
[code]

[2020-11-27 11:44] Mskalba opened #7294 "Federated SignIn, configuration without AWS"
**Describe the bug**
I am trying to connect React app to existing Cognito pool with usage of aws-amplify. The configuration works fine in terms of new Cognito users. But I am unable to have federated SignIn works with both Facebook and Google.

**To Reproduce**

1. Configure AWS-amplify manually:

[code]

2. Both registering and Login works fine:

[code]

3. Try to SignIn with federated SignIn

[c

[2020-11-27 14:59] andrekovac commented on #7174
Great to see this discussion here. Thanks for initiating it @nubpro .

My current story with AWS Amplify:

- With some help from AWS support I was able to set up a nice infrastructure concerning S3 containers and authentication which I'm happy with. Recently I started to set up the database with Appsync. Here I ran into trouble:

- I first tried AWS Appsync with the approach via Apollo with the `A

[2020-11-27 15:07] andrekovac commented on #5789
I get the exact same error - but only on **Android**. It works well on iOS and also syncs to the database.
But on Android no single `read` or `write` operation is working.

I have only the `aws-amplify` package installed and import from `@aws-amplify/datastore` as @lenarmazitov describes but still get the error on Android.

@lenarmazitov Why did you have to add the polyfill `@azure/core-asyncitera

[2020-11-27 15:36] jpignata commented on #6145
@joebernard is seeing this also on `3.3.11`.

[2020-11-27 15:54] mahit777 commented on #711
how can I convert this guest user into a authenticated user ?

[2020-11-27 15:55] sammartinez commented on #7284
Resolving this issue as services have been restored. Please let us know if you are still experiencing issues. thanks!

[2020-11-27 15:55] #7284 closed

[2020-11-27 16:34] reni11111 commented on #6559
@duraz0rz  did u find any solution/workaround?

[2020-11-27 16:36] sammartinez commented on #6145
Hopped on a call with @Joe8Bit and @jpignata, @Joe8Bit is checking if pinning specific versions of the analytics package will resolve his issue.

[2020-11-27 17:26] sammartinez commented on #5918
Thank you for this feedback @lukehillonline. As of now, this is what we recommend in order to solve your issue. I apologize this is not ideal but we believe the issue is with regards to how dependencies are being referenced when installing individual packages, which leads to triggering this [error](https://github.com/aws-amplify/amplify-js/blob/d11009a8f6c7fc7245eeb397eba39f468935ac16/packages/ana

[2020-11-27 18:09] sammartinez commented on #7294
Hello @Mskalba,

Can you provide your `package.json` along with your environment settings?

Please use the follow command:
[code]

Thanks ahead of time!

[2020-11-27 19:05] andrekovac commented on #5789
Adding the package `@azure/core-asynciterator-polyfill` also made the Android error I got go away for me.

[2020-11-27 19:07] nubpro commented on #3184
![image](https://user-images.githubusercontent.com/762914/100478458-36a17000-3126-11eb-9778-1e146f36e910.png)

Perhaps I'm late to the party, I do see there's a button "Confirm a Code"  under the registration form.

In any case, I believe you can prompt the user to confirm the code again with `Auth.confirmSignUp(username, verification_code)`.
You can refer to the API [here](https://aws-amplify.git

[2020-11-27 20:38] seanvm commented on #4257
@mauerbac I fail to see how this is a feature request. The codegen feature shouldn't produce code that needs to be manually modified/overridden for it to work..

Changing the imports in the generated api.service.ts from `zen-observable` to `zen-observable-ts` does fix the errors for me, though.

[2020-11-27 21:15] EliasCoelho commented on #7070
Good afternoon, this uncaugth exception was raised in console for my web apps.
This exception can reflect an security breach for all api environment that it working with graphql...

Steps:
1. activate airplane mode
2. desactivate airplane mode
3. move to other tabs in browser
4. go the tabs with the web app and this error show for me in the console

![image](https://user-images.githubusercontent.c

[2020-11-27 22:33] mjpaton commented on #7098
+1 for mattiLeBlanc - starting a new vanilla Angular 11 project, installing Amplify and Auth

[2020-11-27 23:21] andrekovac commented on #7059
@imoby May I ask why you closed the issue? What was the reason for the big amount of data? How much of that was taken up by the DataStore?

[2020-11-27 23:23] imoby commented on #7059
@andrekovac sorry I should have posted that when I closed it. Yes the issue was that my images were taking up space and was caching them in a different folder even though the folder that original was going into I already deleted.

[2020-11-27 23:31] locnesse commented on #4257
i add any: and it fixed my problem

Le ven. 27 nov. 2020 à 21:39, Sean van Mulligen <notifications@github.com>
a écrit :

[2020-11-27 23:32] locnesse commented on #4257
but i still have this problem do you know how to solve it

Le ven. 27 nov. 2020 à 21:39, Sean van Mulligen <notifications@github.com>
a écrit :

[2020-11-27 23:33] joebernard commented on #5918
With help from the Amplify team, I fixed this issue by rolling back to these specific module versions, clearing yarn cache, cleaning the build, deleting node_modules, and `yarn install` everything fresh. I no longer get this error.

[code]

[2020-11-28 00:40] rjuevesano commented on #1378
same here with `"aws-amplify": "^3.3.2"`

[2020-11-28 00:45] marcuscodesok commented on #4270
Newb but hopefully this is helpful:

I may have a different authentication method but I was getting a 401 error with GraphQL using AWS Amplify with a GraphQL API.

With my authentication method `./src/aws-exports.js` uses `API_KEY` as `aws_appsync_authenticationType`.

After some digging, I realized in `./amplify/backend/backend-config.json` the API key by default expires in seven days (something

[2020-11-28 02:18] hrafnkellpalsson commented on #3184
Just updated to the latest versions for web
"@aws-amplify/ui-components": "0.9.5",
"@aws-amplify/ui-react": "0.2.30",
Not seeing a 'Confirm a Code' button so guessing it's only available for react native.

[2020-11-28 03:36] JordanTreDaniel commented on #2588
@macsj200 Hey, sorry you're also having trouble. But yes, _verify_ & _confirm_ are two different things from what I understand. I am certainly not an expert, as this is my first project with AWS Amplify, but to acheive what I wanted, (Auth just for the sake of being able to use the `API` & `Storage` modules) I did one thing:

1. Went to AWS Console > Cognito Service Dashboard > Manage User Pools >

[2020-11-28 06:19] mattccrampton commented on #1475
This is still an issue, not sure why it was closed.  If a user submits a change to their email address it should not take affect until they've confirmed the change.  Either the old email address should be used when the user logs in (until the new one is confirmed) or both email addresses (old and new) should be able to be used to login or reset their password until the new email address is verifie

[2020-11-28 06:27] iamcgn commented on #6330
Thanks, @Jwb81, `Auth.configure(amplifyConfig)` works for me. Glancing through the code, it's clear that the `Auth.configure` is actually called twice. The first time it appears the intention is to pass in a `null` config but when it makes the call `Amplify.register(Auth);` at the bottom of the file `Amplify.register` calls `Auth.configure()` again with an empty object (Amplify's private `_config`

[2020-11-28 06:53] mattiLeBlanc commented on #7098
@mjpaton I fixed/hacked it by doing the following:
Adding to `polyfill.ts`
[code]

Adding the following packages to my package.json:
[code]
I am happy that the errors are gone for now and Auth seems to be working.
It would be nice if there can be a proper fix for Angular 11.

[2020-11-28 07:16] aprilmintacpineda commented on #6272
I'm actually encountering this now.

[2020-11-28 12:48] rogerms commented on #2166
That fixed my problem too. Thanks

[2020-11-28 16:43] masapasa commented on #3536
Module not found: Can't resolve '../aws-exports' in '/codebuild/output/src240068493/src/nnews/next/pages'
build:
      commands:
        - echo Amplify build...
        - amplifyPush --simple
While deploying through the console with an ECR image

[2020-11-28 18:48] masapasa opened #7299 "Module not found '../aws-exports'"
Module not found: Can't resolve '../aws-exports' in '/codebuild/output/src240068493/src/nnews/next/pages'
build:
commands:
echo Amplify build...
amplifyPush --simple
While deploying through the console with an ECR image
Can someone please help?

[2020-11-28 20:01] macsj200 commented on #2588
Thanks for that! I was actually able to find that template in their docs but wasn't clear as to how to actually integrate it with the app.

[2020-11-28 20:13] aqilusman45 commented on #2498
Anybody who is coming here to solve issues related gatsbyjs site with static and client site routes, I was able to solve navigation issues using these rules:
![image](https://user-images.githubusercontent.com/46997126/100525140-6603bb80-31be-11eb-88a6-5ab9d9801c0c.png)
Note: first rule is for static content and the rule later is for handling client side routes, basically my Reach Router is in src/

[2020-11-29 11:45] #7179 closed

[2020-11-29 11:45] #7144 closed

[2020-11-29 11:45] #7138 closed

[2020-11-29 11:45] #6967 closed

[2020-11-29 11:45] #6966 closed

[2020-11-29 11:45] #6942 closed

[2020-11-29 11:45] #6880 closed

[2020-11-29 11:45] #5120 closed

[2020-11-29 11:45] #4446 closed

[2020-11-29 11:45] #7166 closed

[2020-11-29 11:45] #5718 closed

[2020-11-29 11:45] #7195 closed

[2020-11-29 11:46] #6630 closed

[2020-11-29 11:46] #7030 closed

[2020-11-29 11:46] #7126 closed

[2020-11-29 11:46] #364 closed

[2020-11-29 11:46] #7094 closed

[2020-11-29 11:46] #6892 closed

[2020-11-29 11:46] #6995 closed

[2020-11-29 11:46] #7076 closed

[2020-11-29 12:02] ravenscar commented on #3732
@elorzafe I will attempt to explain how I think scopes would help us, and also what hosted UI could do better.

We are currently looking to migrate two user bases from other systems, one is LDAP and the other is from auth0. These represent two different sets of users for us and are owned by different business units.

The LDAP users use a desktop app, it already has a login screen and we don't want

[2020-11-29 13:41] Ruu-i commented on #2365
i added `declare module 'graphql/language/ast' { export type DocumentNode = any }` to my d.ts file but I got this error `import { GraphQLError } from 'graphql/error/GraphQLError';`. so i added `declare module 'graphql/error/GraphQLError';` in to my d.ts file. but I got error `    errors?: GraphQLError[];`.  how to fix it?

[2020-11-29 14:11] nikhilavula commented on #2365
installing graphql solved the problem for me.

https://www.npmjs.com/package/graphql

[2020-11-29 14:23] Ruu-i commented on #2365
@nikhilavula i tried it but not worked for me

[2020-11-29 14:28] itsmelion commented on #6031
No bot, the require cycles still need need to be dealt with.

[2020-11-29 14:30] Ruu-i commented on #2365
@nikhilavula i tried it. it worked. but in the browser console show this error:
[code]

[2020-11-29 19:59] xitanggg opened #7300 "Auth.federatedSignIn Overwrites Cognito User Attributes [bug]"
**Describe the bug**
The bug I am reporting is that whenever `Auth.federatedSignIn` is called, it automatically overwrites the existing Cognito User Attributes from the ones by the social provider say Facebook.

To provide some context. Basically, I want to give my user the ability to set up a password even if they use social provider (Facebook) to sign in. Because social provider account user can

[2020-11-29 21:42] burntsugar commented on #7105
I am trying to resolve same - did ignoring the warning work for you @ankon ?

[2020-11-29 21:48] rpostulart opened #7301 "AWS Amplify predictions gives - No Auth module registered in Amplify - error"
this code

[code]

with this package
[code]

This gives me a **No Auth module registered in Amplify** error

I already remove node modules and lock files and did reinstalls.

[2020-11-29 22:44] amlcodes commented on #7105
Ignoring it so far, but running into auth "configured incorrectly"

[2020-11-29 23:18] wei commented on #7105
@amlcodes Please make sure both all amplify related packages are at latest:
[code]

https://github.com/aws-amplify/amplify-js/discussions/5836#discussioncomment-123904

[2020-11-30 10:15] soorajlv commented on #5167
Also facing the same issue. User is verified and confirmed. I can see that in the developer tool, amplify is sending proper code challenge and getting access token in return. The problem is, as the @TheDutchCoder  said, user data is not getting persisted in the storage. Further debugging shows that the `Hub.listen('auth')` is not fired from` _handleAuthResponse` function from `node_modules\@aws-am

[2020-11-30 10:43] mxswat commented on #5167
I remembered that this infinite reload might happen if the user you are using is not "confirmed" using the phone or email code

[2020-11-30 11:05] moriax commented on #4957
@iartemiev
Hi,
thanks for the selective sync feature. But this is only handled in frontend? What if a evil user remove the filter.. he will retreive all entries from the table ?
I have complex n-m relationships  where its complicate to work with the owner property in the model.. I want to add authorization to the Sync resolvers. This should be possible ?
And is it possible to pass a parameter to t

[2020-11-30 11:54] iGokulYadav commented on #5829
Yes Facing the same issue

[2020-11-30 12:52] winnerx7 commented on #6695
Same here..can you list down some steps you have implemented to resolve this?

[2020-11-30 15:53] iartemiev commented on #4957
@moriax you're correct in that selective sync isn't meant to be a substitute for an authorization mechanism. It provides sync query filter and optimization capabilities. Owner-based authorization is the recommended approach for limiting access to your application's data.

You can [overwrite the resolvers](https://docs.amplify.aws/cli/graphql-transformer/resolvers#overwriting-resolvers) and impleme

[2020-11-30 16:21] wlee221 commented on #7301
Hi @rpostulart, thanks for reporting this issue!

To configure Amplify with modular imports, you must import and configure `Auth` from `@aws-amplify/auth`. The code would look like this:

[code]
Note that `Amplify.register` is not needed here.

On a side note, we suggest that you use a global `aws-amplify` instead of using modular imports so that you only need to configure Amplify once: `Amplify.c

[2020-11-30 16:28] sammartinez commented on #7299
Hello @masapasa, did you follow the steps to generate the backend via our [documentation site](https://docs.amplify.aws/start/getting-started/setup/q/integration/next#initialize-a-new-backend)? Please let us know.

[2020-11-30 16:29] mathewpadley opened #7303 "Amplify JS displays blank screen in 11.630.19041.0 when used."
**Describe the bug**

Vue.js app displays a blank screen after importing the 'aws-amplify' for IE version 11, 11.630.19041.0 (Update Version 11.0.220 KB4586768).

Within vue.config.js the following has also been added:
[code]
The app displays correctly in IE 11.0.9600.19867 (Update Version 11.0.220 KB4586768).

In the failing version it throws an error:

* SCRIPT438: Object doesn't support propert

[2020-11-30 17:32] sammartinez commented on #7251
@joebernard Are you ok if we resolve this issue? Just wanted to validate if there were any other issues you were facing after our conversation last week. Please let us know

[2020-11-30 17:51] joebernard commented on #7251
Hi @sammartinez, thanks for asking. I would consider my case temporarily mitigated by rolling back, but the underlying issue re-introduced in `@aws-amplify/analytics": "4.0.0"` is still a problem. We uninstall / re-install apps so often that we quickly hit that 10 endpoint limit. It could also affect our production users though it would be more of an edge case. With no way for us to manage endpoin

[2020-11-30 18:18] sammartinez commented on #6731
Thanks for your feedback and patience on this issue. We have identified the issue and we are talking to the Amazon Cognito team internally about this. We will provide an update once we have one.

[2020-11-30 18:18] NicolasESchneider commented on #6444
Im having similar issues but just with retrieving user Attributes from my user pool.
calling Auth.userAttributes gives me the same error
[code]

[2020-11-30 18:31] hmelchander-indpro commented on #6731
@sammartinez, thanks for getting back to us on this issue. Do you have any idea when this may be resolved? We are in the progress of rewriting our authentication backend, but if this is resolved within a reasonable timeframe we will skip that rewrite.

The main thing for us is that the clientMetadata should be made available in all the available Cognito lambda triggers. It is also important that i

[2020-11-30 19:37] rpostulart commented on #7301
I have also tried that and also the global aws-amplify is providing the same errors.

[2020-11-30 19:45] mcqj commented on #7094
Finally had time to create a stripped back version of the App and the problem is not there when I striped away other packages. So, I'll have to do more analysis but it looks like the issue is not with Amplfy.
I'm happy enough for the issue to be closed.

[2020-11-30 19:51] rpostulart commented on #7301
@wlee221 can you re-open this issue?

[2020-11-30 20:16] atyshka opened #7307 "Unable to obtain original topic in PubSub"
**Describe the bug**
I am using wildcard subscriptions to subscribe to IoT topics based on a filter, and I am trying to obtain the original topic when a message comes in. Inspecting the code and the objects in the console, I notice that the library inserts a value into the data under the key ["Symbol(topic)"] when it calls the callback for the subscription. I can clearly see this both in the origi

[2020-11-30 20:38] atyshka commented on #7307
My bad, it appears Symbol is not some typescript object but in fact a new ES6 feature. Solution [here](https://stackoverflow.com/questions/44734124/access-the-value-of-symbolid-property-on-an-object) for anyone curious

[2020-11-30 20:38] #7307 closed

[2020-11-30 21:04] wlee221 commented on #7301
Apologies for closing it prematurely. I will try to repro this locally. Meanwhile, I see that your parameter is in a wrong format; it should be
[code]
Bucket that you configured with Amplify will be used. We will update the documentation to clarify parameter structure.

[2020-11-30 21:25] wlee221 commented on #7301
I was able to run the APIs locally with latest `aws-amplify`, so I suspect that this is something on the client side. Here's [my sample app](https://github.com/wlee221/amplify-js-issues-repro/tree/main/samples/react/7301-predictions-configure) for reference.

Worth noting:
- how I configured Amplify: [App.js](https://github.com/wlee221/amplify-js-issues-repro/blob/main/samples/react/7301-predictio

[2020-11-30 21:33] rpostulart commented on #7301
Ok let me check tomorrow. I am making some changes to the core of the predictions packages in amplify-js so it supports custom labels api. Therefor I used other params

[2020-11-30 21:54] wlee221 commented on #6530
Forgot to mention: This is out in the `latest`! Please let us know if the issue persists.

[2020-11-30 22:43] xitanggg commented on #7300
I just read the cognito documentation: https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-specifying-attribute-mapping.html.

Unfortunately, this seems to be the default cognito behavior. The only workaround is to add a post authentication lambda to reset `email_verified` to `true` that fires once user signs in.

`Amazon Cognito must be able to update your mapped user poo

[2020-11-30 22:43] #7300 closed

[2020-11-30 22:51] amhinson commented on #7132
@DGabriel12 @lmend22 It looks like you might need to manage the Authenticator rendering separately from your app component. If you just nest your app inside `AmplifyAuthenticator`, componentDidMount and useEffect will run (which is the expected behavior for `AmplifyAuthenticator`). Here is our recommended setup: https://docs.amplify.aws/ui/auth/authenticator/q/framework/react#recommended-usage

[2020-11-30 23:38] v1pz3n commented on #7251
I thought it worked but it was only in the web version.
For some reason, my react native on android and ios has the pinpoint error.

[2020-12-01 05:30] dbhagen commented on #7223
Hey @ericclemmons, hope you had a good holiday break!
So over the weekend I tested it out, and sure enough, if I routed straight to `/`, the SSO signout worked as expected. If I routed anywhere else and used `useEffect()` hooks to run `Auth.currentAuthenticatedUser()`, the session was still available. After some more poking, it's because I strip/leave off the `withAuthenticator()` for the page exp

[2020-12-01 05:35] dbhagen commented on #7223
Sorry, quick follow up to say I've committed my tests here: https://github.com/dbhagen/next.js-authentication-aws
Point your redirect in `amplify auth` (via `amplify auth update`) to `http://localhost:3000/` or `http://localhost:3000/profile/` and it will work. Change it to `http://localhost:3000/test/` and sign out will stop working.

https://github.com/dbhagen/next.js-authentication-aws/blob/3ec

[2020-12-01 05:51] adampblack commented on #7267
Has anyone had a go at replicating issue with **usernameAlias** not working:

<AmplifyConfirmSignUp
         headerText='Verify your mobile phone number'
          slot="confirm-sign-up"
          style={{
            alignSelf: 'flex-start',
          }}
          submitButtonText='Confirm'
          usernameAlias="**phone_number**"
/>

[2020-12-01 06:41] kennandavison commented on #5214
+1, using ssr amplify + checking authentication prior to refresh is not great UX.

[2020-12-01 07:01] Azimuthal444 commented on #7253
I can confirm this. When an unconfirmed user tries to reset his password he receives an OTP but when he submits the OTP he receives an `ExpiredCodeException`.

[2020-12-01 07:57] TheMoums opened #7310 "More flexibility with syncPageSize on DataStore"
**Is your feature request related to a problem? Please describe.**
I'm using DataStore with 30 models. I have several models that contain a lot of information on many records (e.g. 25 variables and 10.000 records). But I also have a lot of models that contain very few information on many records (e.g. 4 variables on 10.000 records).

When syncing to the cloud, I get the following error: "ErrorType

[2020-12-01 11:28] kennandavison opened #7311 "Storage.get documented as having no expiration, but expires anyways"
https://docs.amplify.aws/lib/storage/download/q/platform/js#get

https://github.com/aws-amplify/amplify-js/blob/2009e1d7a55f2960bc4cc4b7b718425479c80111/packages/storage/src/providers/AWSS3Provider.ts#L189

[2020-12-01 12:37] rpostulart commented on #7301
Strange, even when cloning your repo and add my backend, I receive the same error.
I also have removed auth and configured it manually again, still the same error.

[2020-12-01 13:32] ramakrishnan opened #7312 "On network change from offline to online data sync gets fired multiple times."
**Describe the bug**
On network change from online to offline. when `DataStore.stop()` is issued to reevaluate the syncExpression the sync queries upon online gets fired twice, the count increased by additional 1 on every switch from online / offline, or every time a syncExpression is reevaludated.
Plus the Mutation query too happen more than one time.

**To Reproduce**
[code]
1. Launch app.
2. St

[2020-12-01 13:47] huoxito opened #7313 "Considerable bundle size increase when upgrading from @aws-amplify/auth@3.2.4 to @aws-amplify/auth@3.4.13"
Hi!

We're trying to upgrade to latest `@aws-amplify/auth` and we noticed a considerable build size increase. Our vendor bundle went from 213,58KB to 304,46KB.

Looking into npm it seems the unpacked size went from [2.16 MB](https://www.npmjs.com/package/@aws-amplify/auth/v/3.2.4) to [6.47 MB](https://www.npmjs.com/package/@aws-amplify/auth/v/3.4.14). Any chance there's a way to decrease this bund

[2020-12-01 14:59] Mskalba commented on #7294
@hello @sammartinez

[code]

[2020-12-01 15:36] alexfromapex commented on #7188
I see this has the label `to-be-reproduced` so I'll confirm this is happening for me as well

[2020-12-01 15:54] baleksandr48 commented on #5214
@kennandavison do you mean that you know how to refresh this token programmatically?

[2020-12-01 17:38] #7311 closed

[2020-12-01 17:40] iartemiev commented on #7312
Thanks for opening the issue, @ramakrishnan, we will be looking into it.
As an aside, just want to point out that attempting to pass a sort predicate to the `syncExpression` will not have any effect.

[2020-12-01 18:44] p-gag opened #7314 "Auth stopped working with Jest version 26.0.0, with Jest testEnvironment to default."
**Describe the bug**
With default Jest configuration, AWS Cognito authentification stopped working with Jest 26.0.0. I reproduced the same issue using cognitoUser.authenticateUser or Amplify Auth.signIn. The effect is a "NotAuthorizedException: Incorrect username or password.". Note that the issue wont happen with Jest 25.5.4 or with Jest 26.0.0 and testEnvironment: 'node'.

**To Reproduce**
Steps

[2020-12-01 18:51] iartemiev opened #7315 "Setting custom ownerField breaks DataStore sync"
**Describe the bug**
Using DataStore with an API with owner-based auth containing a custom `ownerField` currently breaks sync.

**To Reproduce**
Create a sync-enabled API with the following schema:
[code]
Followed by calling `DataStore.start()` from the app.

This results in the following error:
[code]

This is due to us automatically adding an `owner` field to the GQL selection sets for all opera

[2020-12-01 19:22] nsquires413 opened #7316 "Angular production build fails with Amplify.configure() using pre-existing user pool and auth domain"
**Describe the bug**
- Adding `Amplify.configure(config)` to 'main.ts' succeeds with `ng serve` but fails with `ng serve --prod` .
- When using `ng serve --prod` the page loads completely blank with an error in the console.
- When using `ng serve` the page loads correctly and all the code leveraging the aws-amplify library works as expected.
- The error in the console: `Uncaught TypeError: Cannot

[2020-12-01 21:13] rpostulart commented on #7301
Sorry, it had to do with running amplify-js locally.

I had not link the whole framework but just predictions.

[2020-12-01 21:13] #7301 closed

[2020-12-01 22:09] mlxyz opened #7318 "DataStore fails to initialize subscriptions when @auth directive with ownerField is used"
**Describe the bug**
Consider the following schema:
[code]
DataStore fails to properly initialize the `User` related subscriptions throwing this exception:
[code]
As far as I can tell this is caused by these lines:
https://github.com/aws-amplify/amplify-js/blob/d9dfff3eef7e5909f76fdea6054f8c02eb7ac8a2/packages/datastore/src/sync/utils.ts#L61-L64
which assume that DataStore will receive the implici

[2020-12-01 22:27] iartemiev commented on #7318
Hey, @mlxyz this is a duplicate of https://github.com/aws-amplify/amplify-js/issues/7315. This bug will be fixed once we merge PR https://github.com/aws-amplify/amplify-js/pull/7317.

One thing to note though is that primary keys (`id` field) in DataStore are not customizable. DataStore will set it to a UUID under the hood, so you should use a different `ownerField` value.

[2020-12-01 22:27] #7318 closed

[2020-12-01 22:42] amhinson commented on #7315
Closing with #7317

[2020-12-01 22:42] #7315 closed

[2020-12-01 23:37] alexfromapex commented on #7188
@harrysolovay @elorzafe I believe this is causing anyone who uses this library with the `strict` type checking compiler option enabled to have a TypeScript error.  I have been trying to find a good workaround for hours, I think a simple stopgap code change [here](https://github.com/aws-amplify/amplify-js/blob/a047ce73/packages/auth/src/types/Auth.ts#L32) would fix it:

[code]

It already looks lik

[2020-12-02 06:18] wlee221 commented on #7303
Hi @mathewpadley, with IE11 you would need to add polyfills to your app. Can you try adding polyfills as suggested [here](https://github.com/aws-amplify/amplify-js/issues/4515#issuecomment-671087115), or try other suggestions mentioned in #4515? I will be closing this as this is a duplicate of #4515, but please let us know if this issue persists and we can reopen this issue accordingly.

[2020-12-02 06:19] #7303 closed

[2020-12-02 06:27] wlee221 commented on #7221
Hi @nubpro, thanks for letting us know. This should be fixed by #7309. I'll look at #7222 tomorrow and check if #7222 + #7309 resolve build issues on windows.

[2020-12-02 06:27] #7221 closed

[2020-12-02 06:35] #6926 closed

[2020-12-02 08:34] Mulyu opened #7320 "AmplifyAuthenticator(@aws-amplify/ui-react) not work on Internet Explorer 11"
**Describe the bug**
An error occurs when using AmplifyAuthenticator in Internet Explorer 11.

**To Reproduce**

1. install `@aws-amplify/ui-react`
2. add `AmplifyAuthenticator` component to index.tsx
3. open with IE11

**Expected behavior**

**Code Snippet**
[code]

**Screenshots**
![スクリーンショット 2020-12-02 165347](https://user-images.githubusercontent.com/6552219/100847503-440e7f80-34c3-11eb-9d89-0

[2020-12-02 09:43] alissaVrk opened #7321 "not authorized auth state for the authenticator"
**Is your feature request related to a problem? Please describe.**
if you have content with a specific authorization rule, for example, only a specific group can view the content. you cannot use the `withAuthentication` component to block access

**Describe the solution you'd like**
I suggest to add another property for the Authorizer with a predicate function that will get the logged in user and

[2020-12-02 10:12] lucre74 opened #7323 "Auth.forgotPassword() does not throw any exception if the user does not exist and Prevent User Existence Error is Disabled"
**Describe the bug**
A call to Auth.forgotPassword(username) must not succeed if the user does not exist. Otherwise, there is no way to tell the user that something went wrong (most probably the user does not exist).

Currently, the call raises a "UserNotFoundException" if the Prevent User Existence Errors is LEGACY on the AppClient of the User Pool. The call succeeds if the Prevent User Existence

[2020-12-02 11:03] mathewpadley commented on #7303
In the end it needed the transpire options in The Vue.config.js changing slightly, no polyfills needed:

`transpileDependencies: ['@aws-amplify', '@aws-crypto']`

not

`transpileDependencies: [
    /node_modules\/@aws-amplify/,
    /node_modules\/@aws-crypto/
  ]`

[2020-12-02 15:27] harrysolovay commented on #7323
If the User Pool's `PreventUserExistenceErrors` is enabled, then we wouldn't want to call out the request as faulty. This would give bad actors a way to validate whether a given username is registered. Aka., this is the correct behavior.

If you do want to enable special handling of this case on the client, I'd recommend leaving `PreventUserExistenceErrors` enabled and catching and handling the er

[2020-12-02 15:27] #7323 closed

[2020-12-02 15:30] harrysolovay commented on #7321
Thank you for the feature request / prospect of a PR! For clarity, can you please provide a snippet of example usage?

[2020-12-02 15:34] harrysolovay commented on #7320
This is a transpilation configuration issue and is therefore out of scope. That being said, I'd love to point you in the right direction! Can you please describe your project? Is its build system using react-scripts (create-react-app), Gatsby, NextJS, etc.?

[2020-12-02 15:39] harrysolovay commented on #7314
Hi @p-gag –– unfortunately this isn't enough information for us to diagnose. If the project is public, can you please provide a link? Otherwise, can you please provide more context. For instance, I don't see where `USER` and `PASSWORD` are defined.

One thing that might be useful––move the `Amplify.configure` call to the outer-most scope. It's meant to be called once. Hopefully you're not calling

[2020-12-02 15:44] humblepie commented on #3853
Are we ever going to get an update on whether or not this is going to be done?

[2020-12-02 15:45] harrysolovay commented on #7294
Hi @Mskalba –– can you please describe how you configured the service-side––that is, how you configured an identity pool with Google and Facebook OAuth2 credentials? Did you do so with the Amplify CLI, the Cognito Console, ...? An error would be expected if you'd only configured the User Pool. More context would be greatly appreciated! Otherwise, it'll be difficult to diagnose.

[2020-12-02 15:53] harrysolovay commented on #7291
Hi @strange1120 –– often times, CORS issues are a matter of your local development server configuration. Can you please try running a production build, `cd`-ing into the build directory, and running `serve` (you'll need to `npm i -g serve`)?

[2020-12-02 16:13] harrysolovay commented on #7289
The `withSSRContext` functionality depends on `@aws-amplify/core`, meaning that its separate packaging would NOT mean its decoupling. Us making such a change would not result in the weight-reduction for which you're looking.

I believe this comes down to an issue of deployment options for NextJS. I personally enjoy using [AWS Fargate](https://aws.amazon.com/fargate). While I'd normally opt for ser

[2020-12-02 16:13] #7289 closed

[2020-12-02 16:53] harrysolovay commented on #7253
This is the correct behavior. One needs first confirm the sign up. As for the delivery message––I believe you're looking for the `PreventUserExistenceErrors` flag. Setting this User Pool config flag to `false` will allow you to see that the user does not exist (or is not verified) from the client.

[2020-12-02 16:53] #7253 closed

[2020-12-02 17:32] amlcodes commented on #4911
running into this, is programmatically changing the config the only way to support unauthenticated users? currentSession() errors with no current user. I remember this working back in the day without a programmatic if else

[2020-12-02 17:50] wlee221 commented on #7303
I see, thanks for letting us know! We'll keep a note of that.

[2020-12-02 18:01] humblepie commented on #6787
The request to be able to access and call the default handler needs to be added to all the handlesubmit events.  ie, sign up, sign in, sign out, etc.

Right now if you hook the handlesubmit event you lose the ability to use the base functionality as well.

[2020-12-02 18:42] manueliglesias commented on #7276
Hi @cptflammin

Both endpoints ([LOGIN](https://docs.aws.amazon.com/cognito/latest/developerguide/login-endpoint.html) and [AUTHORIZATION](https://docs.aws.amazon.com/cognito/latest/developerguide/authorization-endpoint.html)) let you do OAuth flows. They behave almost the same, the AUTHORIZATION one can completely skip the hosted ui if you use a federation provider.

Do you get an error message i

[2020-12-02 18:48] harrysolovay commented on #7264
Management of `customState` in the OAuth flow is `SessionStorage` for security reasons (this is what we reviewed and deemed reliable). Enabling customization of the storage mechanism for that one field is currently out-of-scope.

[2020-12-02 18:48] #7264 closed

[2020-12-02 18:56] harrysolovay commented on #6787
It looks like you have a type:

[code]

[2020-12-02 19:04] harrysolovay commented on #5214
There is no a way to achieve refresh token rotation without a fresh `InitiateAuth` flow. And there isn't a good workaround. Closing this issue (as it's a service limitation) and delegating to the service team.

[2020-12-02 19:12] amhinson commented on #5351
@togro Did the solution presented above work for you? Just let me know 👍  Also, would you be able to open a feature request on the [docs repo](https://github.com/aws-amplify/docs) for adding an example?

[2020-12-02 19:17] iartemiev commented on #7244
Reproduced this on macOS as well. Also, confirmed that the linked PR fixes this issue

[2020-12-02 19:23] frederikprijck commented on #5214
I am a little bit confuses about your reply and why this issue is getting closed. My initial report did not involve InitiateAuth. Are you saying Refresh Token Rotation is supported and I was basically using things wrongly?

[2020-12-02 19:38] nubpro commented on #7244
Thanks for the reviewing my PR!
Since this is now fixed, I will be closing this

[2020-12-02 19:38] #7244 closed

[2020-12-02 19:48] sammartinez commented on #5214
Thanks for this feedback @frederikprijck, as discussed on Discord, I am going to reopen this issue.

[2020-12-02 20:08] #6947 closed

[2020-12-02 20:17] #7127 closed

[2020-12-02 20:20] mauerbac commented on #6986
hey @ericclemmons - can you take a look at this ?

[2020-12-02 20:20] #6962 closed

[2020-12-02 20:25] strange1120 commented on #7291
@harrysolovay it is CORB and not CORS, will that make a difference in next steps ?

[2020-12-02 20:30] camhart commented on #7264
What's the difference between sessionsStorage and in memory storage from a security perspective?

The react native solution you guys built uses in memory storage.  I'm simply indicating that same in memory solution should be able to be used for electron or any other non-web solution.

I understand electron is out of scope.  However with 3 relatively small/simple changes, amplify could be used for

[2020-12-02 20:32] Anybowdy opened #7324 "Amplify subscription is not working"
I am trying to make a basic subscription using AWS Amplify when an object is updated.
I should get a response containing the new updated object but instead, I get a provider object.

To make the update, I use the App sync console.

[code]

The fetched object is the following:

`Object {
  "provider": AWSAppSyncRealTimeProvider {
    "_config": Object {
      "aws_appsync_apiKey": ...
      "aws_ap

[2020-12-02 21:24] amhinson commented on #7316
@nsquires413 Thanks for the reproduction steps! I created a brand new Angular app with Amplify Auth configured via the CLI. However, I am not seeing any issues with the production build as you are. Even though I created the User Pool with the CLI, I don't think that should have any effect on the particular `TypeError` you are seeing.

Would you be able to share a repo that shows the behavior?

[2020-12-02 21:33] amhinson commented on #7324
@Anybowdy There should also be a `value` object in what is returned, based on the Amplify code:
https://github.com/aws-amplify/amplify-js/blob/daca2ab654159dfdb43527b42703497c105c2bf6/packages/pubsub/src/PubSub.ts#L175

Is that there for you?

[2020-12-02 21:39] togro commented on #5351
I am using it with cordova, not capacitor, I checked last month and it doesn't work.

I appreciate any working example, I see that the process works fine, but it always fails in:

 **Failed to execute ‘replaceState’ on ‘History’**

@amhinson @sammartinez

[2020-12-02 22:20] Anybowdy commented on #7324
Thank you @amhinson, how come this is not mentionned in AWS Amplify Docs ?

[2020-12-02 22:36] nsquires413 commented on #7316
Yeah here's the link to the reproduction: [https://github.com/nsquires413/amplify-angular](url)

[2020-12-02 23:04] amhinson commented on #7324
Good idea! Just put up a PR to add more details there. Thanks @Anybowdy 🙏

https://github.com/aws-amplify/docs/pull/2736

[2020-12-02 23:04] #7324 closed

[2020-12-02 23:38] p-gag commented on #7314
Hello,
Sorry if I removed the user/psw, I did not want to expose our credentials. In my repro, I've removed everything but this test so yes, I call configure only once.

If I provide a small frontend sample, do you have a existing backend to test it? I have two ways to repro it: with an Amplify backend or directly with cognito in which case we only need a UserPoolId and ClientId with existing user

[2020-12-02 23:48] Mulyu commented on #7320
Thanks for the help!
I use create-react-app for this build.
And package.json is as follows.
[code]

[2020-12-03 00:14] neighlyd opened #7326 "Unable to authenticate using either amplify init or amplify pull"
**Describe the bug**
I am attempting to create a new amplify app. I am following along with the [Build a Full-Stack App](https://aws.amazon.com/getting-started/hands-on/build-react-app-amplify-graphql/) tutorial on AWS' website.

However, when I attempt to "initialize the local app", as discussed in module 3, I am unable to proceed.

If I try to use `amplify init --appId XXXXXX` I receive the foll

[2020-12-03 00:17] amhinson commented on #7316
@nsquires413 Thank you for the repo! 🙏  I was able to see the same behavior. It does look like your repo is using Angular 9, whereas mine is working with Angular 11. Is it possible for you to upgrade?

[2020-12-03 00:24] neighlyd commented on #7326
Addendum:

If I run `amplify init` without an `--appId` flag specified, it fails with the following error:

[code]

[2020-12-03 00:49] xitanggg commented on #4636
I had similar issue. When a user is part of a Cognito group, `AWS_IAM` doesn't work.

[2020-12-03 00:57] nsquires413 commented on #7316
Thanks! We are relying on a library that currently only supports Angular 10 but should be updated to Angular 11 hopefully by the end of the month (ng-zorro-antd) and then we could make the change to Angular 11. I am going to see if I can reproduce this for Angular 10 to see if there is still an issue.

[2020-12-03 01:49] apoorvmote commented on #7289
@harrysolovay
Do you have good resources/tutorials on deploying Nextjs on fargate? possibly with AWS CDK?

Ideally I would prefer lambda deployment with CDK. But I have been learning docker, ecs and fargate for past week now. Its very brand new to me. So I would appreciate any tips on how to optimize nexjs for fargate with amplify framework.

Also in reinvent 2020 they announced custom lambda imag

[2020-12-03 03:36] hanslai commented on #3732
@elorzafe Scope value can protect WebApi because **Cognito's Resource Server's Scope**s are returned as scope in Access Token by Cognito.

API **have to** examine if the Access Token contain this resource in its scope before it allow authorization to the Api resource.

Returning the custom scope is particularly important for Cognito, because Cognito Access Token **does not include "Aud"**, (There

[2020-12-03 06:55] mybluedog24 opened #7327 "API request doesn't have geolocation headers"
**Describe the bug**
CloudFront now has additional geolocation headers, but the API call doesn't contain these headers:
https://aws.amazon.com/about-aws/whats-new/2020/07/cloudfront-geolocation-headers/
Is there a way to get these additional geolocation headers?

Current headers are:
[code]

[2020-12-03 09:06] alissaVrk commented on #7321
the usage should be something like:

    withAuthenticator(() => <Comp />, {
    //maybe the predicate should be inside a config object,
      to allow for easy addition of properties in the future

    authorizationPredicate: user =>
        user.signInUserSession.accessToken.payload["cognito:groups"].indexOf('myGroup') >= 0,

    children: [
        <Unauthorized slot="unauthorized" message="you

[2020-12-03 10:56] theninadoge commented on #7098
@mattiLeBlanc do you mind posting your full tsconfig.

I'm hoping something within that a clue to get this working.

Also using Angular 11,
I've tried every permutation between adding `global.crypto = require('crypto')` to the top of main.ts or not, using ` "amazon-cognito-identity-js": "^4.5.4-unstable.6"` or `latest`,
I've tried with and without the polyfills, and the compiler paths you listed,

[2020-12-03 11:15] mattiLeBlanc commented on #7098
@theninadoge

Pretty much standard generated by angular, except for the paths.
[code]

[2020-12-03 12:06] rpostulart commented on #7072
I have created a pull request for this change:

https://github.com/aws-amplify/amplify-js/pull/7328

[2020-12-03 12:06] #7072 closed

[2020-12-03 13:40] Mskalba commented on #7294
@harrysolovay @sammartinez More detail information about server side configuration will be provided by our BE and Devops. Hope it will happen today. Looking forward to hearing from you soon.

[2020-12-03 14:39] sw-yx commented on #7127
@mauerbac we still were at "Definitely still worth more discussions." in the previous comment

[2020-12-03 14:56] jjaimez commented on #987
@marcelloromani I think that it was just an example to show how to resolve the problem to the Cognito team, I don't think that `UpdateAfterVerification ` exists.

Still waiting for the fix :(

[2020-12-03 16:08] harshhpaatel commented on #7326
Have the same issue happening

[2020-12-03 16:23] amhinson commented on #7098
@mattiLeBlanc Are you seeing an Error that crashes your app, or are you just seeing the warning in the console? I think that the warning might just be coming from this `require`, which isn't relevant for web:
https://github.com/aws-amplify/amplify-js/blob/e98217cf13f2ab82730861fe91f9690d7ed2fa38/packages/amazon-cognito-identity-js/src/utils/cryptoSecureRandomInt.js#L18-L23

With that said, I don't

[2020-12-03 17:14] CodySwannGT opened #7330 "Updates to model with @key directive with 3 or more fields"
I'm so confused about how to use the @key directive with 3 or more fields.

Do you have to provide the joined keys with *every* update?

Given the following ``@key(fields: ["email", "status", "date"])``,  I know you have to provide all three fields IF you are updating any of them. Meaning, in an update, if you update the object's "email" field, you have to provide the "status" and "date" as well.

[2020-12-03 17:39] danrivett commented on #6869
I'm trying to understand this issue, as a developer on my team ran into something very similar today and I am working under the assumption it's an issue on our end, but this ticket makes me question that.

Are you saying that in the example `Post` and `Comment` example documented in [AWS Docs](https://docs.amplify.aws/lib/datastore/relational/q/platform/js) that the `Post.comments` field isn't aut

[2020-12-03 18:00] iartemiev commented on #6869
That's correct, `comments` currently does not get populated. The docs specify [retrieving them separately](https://docs.amplify.aws/lib/datastore/relational/q/platform/js#querying-relations) by passing in the related `postID` in the predicate.

We are currently working on a solution to retrieving related child items when querying a parent, so it will be possible to do in the near future.

[2020-12-03 18:05] danrivett commented on #6869
Thanks @iartemiev I appreciate the clarification that helps us going down rabbit holes on our end, and I'm also glad to see it's something on your radar for a future enhancement.

It's great to see DataStore being actively worked on and enhanced to fill these gaps, as really does make a huge difference for our use of DataStore as it's typically death by a thousand papercuts for us, but you guys ar

[2020-12-03 18:09] ericclemmons commented on #1453
@sacrampton When looking into this, what is considered large enough to crash the app?  Does it need to be several GBs to exhaust memory?

@ngocketit mentions 200Mb, but that wasn't enough in my testing to crash the app.

But still, the proposed API (`Storage.put({ uri })`) makes sense to handle this issue.  The only consideration is exactly what this API will be since there likely isn't web-equiva

[2020-12-03 18:23] neighlyd commented on #7326
1) It appears I submitted this issue to the wrong library (go figure). It ought to be in `aws-amplify/amplify-cli`. My bad!

2) It looks like this is an issue with the most recent version (4.37.0). If you run `amplify configure` and `amplify init` without creating the project in the console things _should_ work. You just then need to go to the console to create the FE application. See [issue 6037]

[2020-12-03 18:23] #7326 closed

[2020-12-03 20:01] ericclemmons commented on #5782
There's a lot of research in this thread to look into, thanks for that!

In the meantime, @simon-lanf can you provide more info on you how Cypress isn't working?  We have Cypress tests using commands like the following successfully:

[code]

[2020-12-03 20:21] amhinson commented on #7327
@mybluedog24 Could you provide some more information about your setup? The following info would be helpful:
- `package.json`
- code snippet of your Amplify usage, particularly for the API request you are making

[2020-12-03 21:00] sacrampton commented on #1453
Hi @ericclemmons - I have an app that is used in industrial applications where network access may be good, intermittent, or non-existent. In the case of intermittent network access when we are getting photos banked up and the newer phones with larger phone sizes cause the issue - that after a while of usage the App would crash giving out memory errors in Crashlytics that we traced to this. Don't k

[2020-12-04 02:29] ravenscar commented on #3732
It's so weird that AWS have implemented the ability to use scopes to protect resources in API Gateway but not set them up to be useful in Cognito. So if you are using a compliant authorization server then you can have a finer grained control over scopes and then all good with APIGW but if you're using User Pools then:

* you can't choose scopes on login
* you can't use refresh to downscope as AWS

[2020-12-04 03:29] FinestV opened #7334 "Pinpoint Provider does not handle clock skew and breaks down"
**Describe the bug**
The Pinpoint provider does not account for clock skew. Requests to Pinpoint endpoints will fail with a 403 and not be retryed. Further requests will not be sent and analytics events from these user sessions are lost We get alot of these errors each month from our user base.

**To Reproduce**
1. Enable Pinpoint using @aws-amplify/analytics call Analytics.configure({ AWS.Pinpoin

[2020-12-04 05:55] hanslai commented on #3732
Even I am still trying to use Cognito myself because I try to use the same cloud provider for everything, but actually Azure AD B2C has the same price now.  50,000 user free per month.   And I learned people have switched to other IDP due to the fact that Cognito is difficult to use especially for Blazor programmers.

[2020-12-04 06:00] tobilg commented on #3732
Basically @ravenscar summed up all the concerns an problems we're having. Thanks for the write-up!

[2020-12-04 07:04] DevTGhosh opened #7335 "Datastore Query sort showing 'SortDirection' is not defined"
**Describe the bug**
When using the datastore query sort it is showing `'SortDirection' is not defined`

**To Reproduce**
Datastore code
[code]

Schema

[code]

[2020-12-04 10:21] blacksheep-- commented on #2692
@ericclemmons this is wrong, as the mentioned PR #6448 covers changes to AWSAppSyncRealTimeProvider and the necessary (and also mentioned by OP) MqttOverWSProvider has not been touched since 20th March 2020. So this bug is still alive.

[2020-12-04 10:25] blacksheep-- opened #7341 "How to catch PubSub errors if MQTT connection lost or broken? (Re-report of #2692)"
This is a re-report of #2692 as the issue was erroneously closed, because the mentioned PR #6448 did not touch the necessary file MqttOverWSProvider.ts (which has not been touched since 20th March 2020).

---

** Which Category is your question related to? **
PubSub connection problems

** What AWS Services are you utilizing? **
PubSub in aws-amplify 1.1.19

** Provide additional details e.g. code

[2020-12-04 10:26] aquile commented on #6031
Long story short:
I've dealt with Async Storage warning by patching the @aws-amplify source.

Long story long  🙄:
After I've read this [comment](https://github.com/aws-amplify/amplify-js/pull/4027#issuecomment-628050861) and reviewed this [PR#4402](https://github.com/aws-amplify/amplify-js/pull/4402/commits/1207227cae5874d3f42599a6eecc5c05f3d6d86d) and because we don't use Expo I decided to not wa

[2020-12-04 10:34] hideokamoto commented on #3119
Hi team!
I think the feature is very good for us 👍

So I've made a new PR to add it.
feat: delete user attributes #7342

Thanks.

[2020-12-04 11:07] AlessandroAnnini opened #7343 "ownerField not working on > 1001 elements string array"
**Describe the bug**
I store user more than 1000 ids on a field used by ownerField autorization. The ids that have index >1001 are not used by the auth rule and they won't have any access to the entity

**To Reproduce**

on Appsync UI

schema.graphql
[code]

on Appsync queries ui

one admin (user in "Admin" Cognito group) create the entity with 1002 ids inside `users: [String]`
[code]
then the use

[2020-12-04 14:36] iartemiev commented on #7335
@DevTGhosh you need to import `SortDirection` from `@aws-amplify/datastore` before you can use it.

[2020-12-04 15:18] iartemiev commented on #7243
@nubpro I've tested this on Chrome and Firefox on macOS and Windows and could not reproduce the behavior you're describing. Disabling WiFi triggers the `offline` event and enabling it triggers the `online` event. [According to MDN](https://developer.mozilla.org/en-US/docs/Web/API/Window/offline_event), this behavior is supported in all major browser.

Any chance you remained connected to the inter

[2020-12-04 16:07] donnrri opened #7344 "Amplify allows non alphanumeric lambda function name and then fails on amplify push"
I used amplify add api to create an api for my project
I use amplify add api

I wanted to create a RESTful api
During this process I created a new Lambda function
There was no warning when I named a lambda function using a non alphanumeric name

When I try to use amplify push I get the following error:

Template format error: Resource name functionfind-buddies is non alphanumeric.
An error occurre

[2020-12-04 16:57] harrysolovay commented on #987
Following up with the Cognito service team. Thank you everyone for your patience!

[2020-12-04 17:16] harrysolovay commented on #7321
This kind of protection likely should not happen on the front end, unless you were to include a build step which serializes the predicate and sends it to a secure back-end resource for later use in safeguarding group data. This would be a cool experience, but definitely falls outside of Amplify's scope.

While there is not a front-end component visibility "rule" system surrounding `withAuthenticat

[2020-12-04 17:21] harrysolovay commented on #7289
I thought [this](https://github.com/srhise/nextjs-fargate-cdk/blob/master/_cdk/lib/cdk-stack.js) was a very nice & minimal example. As for CDK tutorials, I'd recommend following along with [CDK Workshop](https://cdkworkshop.com/).

I have no immediately-obvious advice on ensuring a smooth NextJS + Fargate + AmplifyJS experience: I think it'll be pretty smooth even without the advice ;) but if you

[2020-12-04 17:22] dmcd2 opened #7345 "Sync query not updated after calling DataStore.configure() with new SyncExpression"
**Describe the bug**
Trying to update a DataStore sync expression when a user logs in does not have the effect of changing the initial table sync.

In our application would would like to filter records from a contacts table when the user logs in. Ideally we only want the contact for the user currently logged in to be held in DataStore. I am trying to achieve this using a sync expression on the ini

[2020-12-04 17:31] harrysolovay commented on #7320
I don't know if the browserlist actually changes the transpilation (conversion of modern JS to versions compatible with IE 11).

I'd recommend looking into tools such as [rescripts](https://github.com/harrysolovay/rescripts) and [react-app-rewired](https://github.com/timarney/react-app-rewired#readme). They'll let you update the [Babel](https://babeljs.io/docs/en/) configuration such that the targ

[2020-12-04 17:31] #7320 closed

[2020-12-04 17:50] harrysolovay commented on #7314
Can you confirm that the user exists and that the account is confirmed? Are you getting any other log information? Are there other tests executing `Auth` methods (which could potentially set conflicting state)?

[2020-12-04 17:51] amhinson commented on #7345
@dmcd2 See this [comment](https://github.com/aws-amplify/amplify-js/discussions/7128#discussioncomment-123377) from a similar issue. Basically, you shouldn't call `DataStore.configure()` more than once. You can set `userContactId` as a globally scoped variable, and then just update its value anytime you change users. The function you pass to `syncExpression` will be re-evaluated each time you run

[2020-12-04 18:00] harrysolovay commented on #7264
It's not about security––it's about persistence. When you redirect away from the site (to get an OAuth code), the OAuth state is lost, unless persisted with a mechanism such as session storage. Upon being redirected (with the code) back to your site, that state needs to be available in order to get a valid access token.

Are you being successfully brought back to your electron app, with the code?

[2020-12-04 18:51] harrysolovay commented on #7259
Clearing is not the expected behavior. This behavior might however make sense under a special flag / attribute. Changing this to a feature request.

[2020-12-04 18:53] harrysolovay commented on #7249
Can you please give more detail about the feature / API change that you're requesting?

[2020-12-04 19:06] harrysolovay commented on #7241
Can you please try passing in the current authenticated `CognitoUser` via the `User` prop in the `AmplifyTotpSetup` component? Aka.

Wherever you return the UI:

[code]

[2020-12-04 19:11] harrysolovay commented on #7123
Can you please also try not returning the result of `onAuthUIStateChange` from within the `useEffect` hook. Only clean-up handlers are meant to be returned from `useEffect`, and `onAuthUIStateChange` does not output a cleanup handler. This could be part of the issue you're seeing.

[2020-12-04 19:21] harrysolovay commented on #7081
This is likely because upon a second refresh, there is another attempt to use the code in the query params to get a token from the given OAuth provider. Can you please try clearing the query parameters & see if that fixes this?

[code]

[2020-12-04 19:27] DevTGhosh commented on #7335
Thank you I tried that but must have messed the spelling up. I dunno maybe we need to mention about importing `SortDirection` and `Predicates` in the docs there isn't a lot of info available on it.

Also another question can you chain another filter with sorting

For e.g fetching posts by type and then sorting according to rating
[code]

How would you combine both these queries?

[2020-12-04 19:31] harrysolovay commented on #7055
You can use the produced component alongside a context:

[code]

Then, within `MyPageComponent`, you can make use of the `propsCtx`.

[code]

[2020-12-04 19:31] #7055 closed

[2020-12-04 19:38] harrysolovay commented on #7032
I see you're not adding any second argument to `React.memo`. The second argument is usually a prop-equality-checking function. Otherwise, React has little ability to check between renders if there are changes / whether to re-compute the UI. Please remove the `React.memo` wrapping and let us know if the disabled-UI change takes effect.

[2020-12-04 19:49] camhart commented on #7264
Yes--because Amplify is running on nodejs.  I have electron launch a new window to the hosted sign in ui, then I capture the redirect in that browser window.  The oauth storage is all being handled in nodejs--but nodejs doesn't have window.sessionStorage :D.

I'll give it a go.

[2020-12-04 19:50] harrysolovay commented on #6898
Is [this](https://github.com/aws-amplify/amplify-js/blob/4636e964281213c07a8cc6450bf8dcb7793a0f03/packages/amplify-ui-components/src/common/Translations.ts#L3-L106) the list of possible translations which you would like better-documented?

[2020-12-04 19:58] iartemiev commented on #7335
Yes, you can do:
[code]

[2020-12-04 20:03] camhart commented on #7264
There are two ways to handle my specific use case:

1. Allow passing a custom implementation of `oauthStorage` through the `OAuthOpts` config.
2. Default to oauthStorage.native.ts **if** window is not defined (ie, not in a browser environment).

To be up front--I don't have any real experience with typescript.   I'm happy with either approach mentioned above.  #1 offers more flexibility--but is th

[2020-12-04 20:10] DevTGhosh commented on #7335
Thanks a lot! Maybe the team could consider adding these examples in the docs? The doc examples are very straight forward. Closing the issue for now.

[2020-12-04 20:10] #7335 closed

[2020-12-04 20:15] xsmcemmons commented on #6994
Having this same issue, 5000 records, 5 sec to get 10 (using pagination), 100 records takes 5 sec also

[2020-12-04 22:18] wlee221 commented on #6756
Thanks for this @csbszb! This is the intended workaround while we work on vue3 support. Note that if you used `vue-cli` to bootstrap the project, you would need to add `isCustomElement` arguments to `vue.config.js` [as such](https://github.com/vuejs/vue-next/issues/1414#issuecomment-648998826).

[2020-12-04 22:43] wlee221 commented on #6756
As per official vue3 support, we are working on a plan that would support both Vue 1/2 and Vue 3. Keep reading if interested!

As you all have noted, Vue 3 deprecated global configuration `Vue.config` and scoped it down to an [instance level](https://v3.vuejs.org/guide/migration/global-api.html#config-ignoredelements-is-now-config-iscustomelement).  In doing so, Vue has deprecated `default export`

[2020-12-04 22:53] iartemiev commented on #7343
@AlessandroAnnini you're running into a [service limit](https://docs.aws.amazon.com/general/latest/gr/appsync.html#limits_appsync) here (see the **Iterations in a foreach loop in mapping templates** row).

You should be able to achieve the same result by using another group.

For example:
[code]

[2020-12-04 23:55] xavierraffin commented on #6898
I am not sure for that one.
The initial ask was about the i18n translation provided off the shelf by Amplify before new components: https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-react/src/AmplifyI18n.tsx

And the second ask is a translation of the error from Cognito.
For that I understand that having an error code from Cognito is something that will help. I already tal

[2020-12-05 08:27] ahtokca commented on #4950
My app just got rejected with the same reason
[code]

Is there any easy way to comply with Apple requirements using amplify Auth?

[2020-12-05 08:32] ahtokca commented on #4622
My app just got rejected by Apply because of redirect to browser for login

[2020-12-05 08:49] ahtokca commented on #4008
Any updates here?
I've just got my app reject by apple because of using browser for sing in. That renders amplify standard/default method for federated sign in completely useless and even hostile since it makes 'go to market' longer and troublesome.

Could you please rise priority to the issue and reconsider amplify defaults?

[2020-12-05 09:27] AlessandroAnnini commented on #7343
Thanks for the answer, but I cannot use groups because every group would represent an event and they could be a lot!
Do you know if i can increase the limit paying or do you have any advice? I cannot seem to find a workaround because of my customer needs in terms of db complexity and permissions

[2020-12-05 10:49] ahtokca commented on #4008
Hi @jclough96, may I ask you share details of how u solved the issue? Thank you in advance

[2020-12-05 10:51] ahtokca commented on #5055
Hi @t-moedano, did u find a way?

[2020-12-05 10:55] ahtokca commented on #6637
I'm afraid apple will reject such integration since it opens browser vs TouchId or FaceScan

[2020-12-05 10:59] ahtokca commented on #5718
@t-moedano, how did u configured react to show touch id? In my case it always opens Safari. What did i miss?
Any help appreciated. Thank you in advance

[2020-12-05 11:25] yaquawa commented on #612
I know how to redirect to a URL after confirmation, but how to login the user automatically??

[2020-12-05 11:29] sverraest commented on #612
Step 1: Stop using Cognito and Amplify unfortunately.

[2020-12-05 16:19] danrivett commented on #6260
Would love to see some progress on this front as we're going to be running up against this in the month with the extra models we have to implement.

[2020-12-05 16:49] mgm1313 opened #7348 "NPM error while installing @aws-amplify/datastore"
**Describe the bug**
I'm trying to install the `@aws-amplify/datastore` package, but ending up with an npm error. I already tried deleting the `node_modules` and `package-lock.json` folder and file, and reinstalling. But without succeed.

**To Reproduce**
Steps to reproduce the behavior:

1. In any node project try `npm i @aws-amplify/datastore`
2. See an NPM dependency error appear

**Code Snippe

[2020-12-05 16:56] iartemiev commented on #7343
I doubt this is a limit that can be increased, as there would be performance implications.

Could you please explain your use case in detail?

[2020-12-05 17:14] iartemiev commented on #7348
@mgm1313 this is due to the fact that NPM 7 now automatically installs peer dependencies. We'll make the requisite changes on our end to prevent this error from being displayed, but for now, feel free to ignore the peer dependencies with:
[code]

[2020-12-05 18:27] nubpro commented on #7243
Did you setup service worker?

In my case, I did not.

[2020-12-05 19:11] half2me commented on #1252
@naedx thanks so much for this, it saved me valuable time reading through outdated documentation 🙄 .
I'd like to add a piece of info here, I'm not sure about React, but in vue, the `authStateChange` is only triggered on changes, and on first load if the user is logged in. In the case of no users being logged in, when you first load the page, that bit of code will never run, so you have to assume t

[2020-12-05 20:58] koterthecoder commented on #6195
@timoteialbu Is your solution of manually changing the trust relationship required to make it work?

I'm encountering this issue with my production environment (dev environment works fine). Even after upgrading packages I'm still encountering the issue.

[code]

I'm able to authenticate my user just fine. But when trying to upload a file using Storage.put, i'm getting four 400s from Cognito, then

[2020-12-05 21:00] julescsv commented on #3943
I'm having the same issue, `Auth.currentSession()` work intermittently as if sometimes it can't retrieve the data.

[2020-12-05 21:23] FrankySnow commented on #2556
Is there some progress on it ? 2020 is nearing its end... Thanks !

[2020-12-05 21:58] Caoimhin89 opened #7350 "Getting invalid_request / invalid_grant Errors from Amplify Hosted UI On Mobile Devices Whenever OTP Code Is Used"
**Describe the bug**
I have a web app built with AWS Amplify that relies on Amplify Hosted UI for authentication.

I started receiving complaints from users that they are not able to register or sign-in from their mobile devices. On desktop/laptop, everything seems to work fine. After testing more heavily on mobile I eventually encountered an error.

I noted that I was getting `invalid_request` an

[2020-12-06 01:44] singulli1 commented on #3943
Here is my best guess....hope it helps some folks out:

1) Amplify uses shared browser storage - window.localStorage to store security tokens by default.
2) Any browser application can call window.localStorage.clear()  (say as part of logging out)
3) It seems possible to impact the operation of application A (open in browser tab 1) by running application B (in tab 2) - for example, application B c

[2020-12-06 15:21] eyalella opened #7352 ""No credentials found for appId" - Can't checkout existing amplify env using "amplify env checkout""
**Describe the bug**

For some reason `amplify env checkout` is not working anymore (for any env). I'm getting the following message:

[code]

Running `amplify configure --appId d2ozwytiqikfvz` doesn't solve the issue. It helps in creating another set of IAM credentials but when done I'm still getting the same errors.

**To Reproduce**

Not sure how to reproduce...

**Expected behavior**

I expect

[2020-12-06 15:26] eyalella commented on #7352
BTW, comparing with my Cloudformation stack, I can confirm that all the data in my `team-provider-info.json` is correct

[2020-12-06 15:30] eyalella commented on #7352
When trying to logout using the CLI I get the following:
[code]

[2020-12-06 15:47] eyalella commented on #7352
Apparently, this is returning `false`:
[code]

Trying to figureout why

[2020-12-06 18:38] iartemiev commented on #7243
This should have nothing to do with the service worker.

Here's a video of my running your jsfiddle in Edge and Chrome on Windows 10: https://streamable.com/o0dd97. It responds as expected when network connectivity is lost/reestablished.

I don't have access to a physical Windows machine, so I'm running it in a VM but there's no reason the behavior should be any different on a physical machine. I

[2020-12-06 19:48] ozanbatuhankurucu commented on #3072
How we can solve this problem it throws an network error
![image](https://user-images.githubusercontent.com/50013838/101290702-0450dc00-37d2-11eb-8dd2-987fdb44865b.png)

[2020-12-06 20:08] ammanvedi commented on #7106
👍

[2020-12-06 23:06] jcbdev commented on #5764
I think this type of offline first local datastore db has become the white whale of modern app development and I definitely think the amplify team have put too many eggs in the datastore basket.  Whilst I believe it has it's place for simple PARTS of a model within a complex platform it currently takes over the whole application with the belief you want to use datastore for every entity which it i

[2020-12-06 23:30] dmcd2 commented on #7345
@amhinson thanks, exactly what I needed.

[2020-12-07 01:23] undefobj commented on #5764
@jcbdev thanks for the feedback. DataStore is not the only part of the Amplify platform that is prioritized, and it is currently optional. We prioritize functionality based on customer reactions and demand in the community such as GitHub and Discord. It won't be the right choice for all apps but we have many customers very successful and asking for more features including fully running DataStore w

[2020-12-07 02:20] norahsakal commented on #4439
@nicolasheady Are you sure you're doing exactly as @krlm does in the first post? I tried the same code below and my pre sign-up lambda receives the `clientMetadata` in the request just fine;

[code]

[2020-12-07 06:06] nubpro commented on #7243
I see, I see.

Anways, it does not detect if you manually off the wifi from the taskbar.
https://streamable.com/lbfjzg

Looking at this stackoverflow post, https://stackoverflow.com/questions/14283124/navigator-online-not-always-working
`Navigator.onLine` does not seem to reliable compared to NetInfo.

Here's another one:
https://stackoverflow.com/questions/2779367/navigator-online-still-true-when

[2020-12-07 07:43] nubpro commented on #711
I think this is a great question. Many of them have raised the same question of discord without getting any answers.
Can someone from the Amplify team please answer this query?

@manueliglesias @dabit3 @undefobj

[2020-12-07 07:49] shweta-codeprism opened #7353 "Sending formData over API.post"
**Bug Description**
Getting xhr status 0 on sending formData over API.post

**Code Snippet**
[code]

**Expected behavior**
Getting a proper html response code.

**Additional context**
1. Using the Latest version of amplify ( which also has the avoid stringyfying FormData Fix #6899 ), so request payload successfully contains the formdata.
2. Also tried with adding multipart/form-data as a binary ty

[2020-12-07 08:54] vidhyasagarj commented on #3474
Any updates on this?

[2020-12-07 10:30] mithunkalan commented on #711
Wouldn't they just follow a sign up process?

On Mon, Dec 7, 2020 at 9:44 AM nubpro <notifications@github.com> wrote:

--

Mithun Kalan
mithunkalan@gmail.com

[2020-12-07 10:30] sysless commented on #7081
When should I do this?

If this is to clear the `#idToken`, it is not present when I have the issue.

In the meantime, I added a 2-second timeout that will force refresh if it is not cleared on the first `handleAuthStateChange`.

[2020-12-07 10:47] AlessandroAnnini commented on #7343
Thanks again @iartemiev, here is a brief explanation:

Imagine that `MyEntity` is Actually `Event` and I can have a LOT of events.
Every event can be attended by even more than 1000 users (online events) and this list is always different for every `Event`
So I cannot relay on Cognito Groups because it would be not dynamic enough for my use case (I need a different group for every new event).

[2020-12-07 12:07] nubpro commented on #711
Hmm that do sounds reasonable but I thk what they are asking is, the records are already inserted into DB as a guest. And now they would like to convert these records under their newly signed up account.

Is this doable?

I wonder whats the owner value stored under guest users?

[2020-12-07 12:15] walvekarnikhil commented on #6419
Here is a small wrapper I created, using the Storage plugin. It supports reading files in chunks. https://github.com/walvekarnikhil/amplify-s3-chunk-upload

[2020-12-07 12:46] KendallWeihe commented on #1585
@raffibag agreed. I'll hone in on, _is this even possible?_ Sifting through the API docs, I see [`InitiateAuth`](https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_InitiateAuth.html) followed up by [`RespondToAuthChallenge`](https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_RespondToAuthChallenge.html). It seems to me that with these two t

[2020-12-07 16:04] nabezokodaikon commented on #6411
I had the same problem, but it doesn't work.
The environment is as follows.
[code]

[code]

[code]

Please treat me well.

[2020-12-07 16:19] MrHertal opened #7358 "Manage 404 page in Next app deployment"
Hi,

I am following these [instructions](https://docs.amplify.aws/guides/hosting/nextjs/q/platform/js) to deploy a Next app with the CLI.

Everything works great.

However, I have a question regarding 404 page. I have set up a custom 404 page which is correctly exported by Next in the `/out` folder. This 404 is showing well in `dev` mode when I try to access a wrong URL.

After deploying my app wi

[2020-12-07 16:36] IvanCaceres commented on #612
Why does clicking the  email verification link just lead the user to a constant loading spinner/indicator?

Why won't it redirect back to my amplify site?

[2020-12-07 16:40] beevekmgr commented on #612
Are you still stuck at this?

On Mon, Dec 7, 2020 at 10:22 PM IvanCaceres <notifications@github.com>
wrote:

[2020-12-07 16:42] #7345 closed

[2020-12-07 17:58] ericclemmons commented on #7161
I was able to reproduce this behavior, which definitely appears to be a race-condition:

- Signing in **separately** returns different tokens (e.g. even a second or two apart).
- Signing in **simultaneously** returns the same `jwtToken`:

So we can help prioritize this issue, can you provide some detail on why two separate user accounts are being signed in **simultaneously**? Thanks!

[2020-12-07 18:47] iartemiev commented on #7243
When I toggle WiFi on macOS or iOS, it responds as expected. I only have physical devices that run on those OSs, so, unfortunately, I can't locally test other platforms without a VM. I'll try testing this on Windows using Device Farm to see if I can reproduce that way.

FWIW those SO questions are from ~8 and 10 years ago respectively, current `navigator.onLine` implementation should be much more

[2020-12-07 18:55] #6343 closed

[2020-12-07 19:01] garrettmaring commented on #1269
When using `<AmplifySignOut />`, a user is redirected to the login page after signing out. This is the expected UX. However, when using `Auth.signOut()` this does not happen. It would be convenient if there was an option when calling `signOut` to trigger the same behavior.

[2020-12-07 19:15] defish1962 opened #7357 "Add HideSignIn property to SignUp"
**Is your feature request related to a problem? Please describe.**
Similar to how HideSignUp works with SignIn I would like to be able to hide the Have an account? Sign In link on the Sign up form.

**Describe the solution you'd like**
See problem description above. Add a HideSignIn property to AmplifySignUp

**Describe alternatives you've considered**
I have to create my own sign up and sign in f

[2020-12-07 19:40] wlee221 commented on #6343
Hi, this should be fixed by #7288. Please let us know if the issues persists!

[2020-12-07 21:21] sammartinez commented on #987
Thanks for the feedback on this everyone. As @harrysolovay has mentioned above, we are raising this to the Amazon Cognito team internally. As [others](https://github.com/aws-amplify/amplify-js/issues/987#issuecomment-489446257) have called out above, we, Amplify are an Open Source project for development of mobile and web applications and not run by the Amazon Cognito team or any specific AWS serv

[2020-12-07 21:41] amhinson commented on #7312
@ramakrishnan I was able to reproduce the issue you are seeing. Thanks for the instruction! 🙏

One question I have is: why are you calling `DataStore.stop()` when the network connection goes offline? In my testing _without_ calling `stop()`, the app comes back online and syncs appropriately. Offline functionality is already handled by default with DataStore, so there might not be a need for you to

[2020-12-07 22:26] ericclemmons commented on #7106
@hugomn I was able to validate that `Auth.currentSession()` works on the server when logged in on the client-side:

[code]

Leaving this feature request open, since this is this issue is about SSR behavior when the token expires...

[2020-12-07 22:54] ericclemmons commented on #4510
@ameykshirsagar Thanks for sharing!  Confirmed that creating `index.html` with the following (then running `npx serve`) worked!

[code]

[2020-12-07 23:40] attilah commented on #7358
This seems to be an Amplify JS related question, perhaps something we could enhance in the guide as well.

[2020-12-08 07:47] lr001dev opened #7360 "Trying To Remove Api Key & Get Error: Output 'GraphQLAPIKeyOutput' not found in stack"
**Describe the bug**
So when using amplify push after I have tried removing the use of API Key in graphql api using amplify update api I receive this error: Output 'GraphQLAPIKeyOutput' not found in stack

I have a lambda function that was setup to access this api. The above error seems to be related to my Serverless Express Lambda function.  I've tried different things and can't seem to figure ou

[2020-12-08 09:12] dylan-westbury commented on #7251
I believe new endpoints not only occur when you uninstall apps, but just by clearing local storage.

[2020-12-08 09:35] jclough96 commented on #4008
We used the custom auth flow. First interacting with the fbsdk before completing the call and response flow using the custom flow, from here we managed the users into cognito ourselves.

[2020-12-08 10:41] mattiLeBlanc commented on #7098
@amhinson I am currently seeing errors during build and `ng serve`, because I added this to my polyfill:
[code]
If I leave that out the app crashes.

[2020-12-08 11:01] ahtokca commented on #4008
@jclough96,  thanks, we found your article describing how to make it work  👍, thank you so much. We are in app store as of now.

[2020-12-08 11:13] FadilaNuzha opened #7361 "Verify email using verifyUserAttribute is not working"
**Describe the bug**
I'm developing the project using angular 10. I have set MFA to verify the phone number on sign up. I am trying to verify the user's email using verifyUserAttribute(). I have passed the attribute as 'email'. Still I'm receiving the verification for the mobile number, not the email

**Expected behavior**
To receive an email with a verification code

**Code Snippet**
![image](htt

[2020-12-08 11:16] masbaehr opened #7362 "AuthError with manual configuration in amplify after update to 3.3.11"
This error now happens. After rollback it works again. Any idea? Is manual config still supported?

[code]

[code]

config sample.
[code]

[2020-12-08 16:52] txnico commented on #6390
I revisited this issue this week and found out that the issue was being caused by the lack of serialization in the body of the response object within my lambda function. It must have been a change in AWS API since previous API.post calls with the unedited lambda functions worked previously for months.

[2020-12-08 16:52] #6390 closed

[2020-12-08 18:05] MahsaMaslahati commented on #7032
Hi @harrysolovay , thank you for your reply. I just removed the `React.memo` wrapping and tested the SignUp and ConfirmSignUp process, the same happened and it did not solve the problem.

I actually ended up developing custom components in my project. In order to do that I've been checking the code of components [amplify-confirm-sign-up](https://github.com/MahsaMaslahati/amplify-js/blob/bbe97b1054

[2020-12-08 18:10] kingferiol commented on #7105
Hi all, any news here? Experimenting the same here.

[2020-12-08 18:27] theelk801 opened #7363 "Feature request: Merged build previews"
As far as I can tell, a PR's preview is only based on the source branch's code and not on what the result of merging the PR into the target branch would give. Given that other PRs could be merged into the target branch in the meantime, I'd like to have build previews that show, assuming no merge conflicts, how changes in the target branch could affect the preview without necessarily having to merg

[2020-12-08 18:56] sammartinez commented on #7362
@masbaehr can you validate that you have all the correct versions installed for this version?

Here is the link to the tag release: https://github.com/aws-amplify/amplify-js/commit/548eb4ca1193f2363e4c48195eb2d71c93d9ecb1.

Please let us know if you are still experiencing this error after the validation. Thanks!

[2020-12-08 21:07] raffibag commented on #3591
+1... we need this:

[code]

[2020-12-08 23:30] davegravy opened #7364 "double POST to cognito /token endpoint (localhost development server only)"
**Describe the bug**
Calls to `auth.<region>.amazoncognito.com/oauth2/token` intermittently fail with 400
Underlying cause appears to be double POST request

**To Reproduce**
Steps to reproduce the behavior:

1. In browser, click "Sign in with AWS"
2. Click the button for the identity provider
3. Provide username & password if prompted, and click Sign In.
4. Repeat 1-3 several times, observe multi

[2020-12-09 01:49] jeremysouthon commented on #5103
I don't think there is a way to use `adminUpdateUserAttributes` via Amplify. The way I managed to use this was by creating a lambda function, importing the `aws-sdk`  and using `adminUpdateUserAttributes` from there.

My use case was to allow an admin to update users emails.

[2020-12-09 03:33] enzoames commented on #6330
I am certain I am not calling `Amplify.configure()` multiple times. I have it declared at the top on my `_app.js` file for my nextjs app. Any progress on this issue or additional work arounds? thanks!!!

[2020-12-09 03:37] jeffsteinmetz opened #7368 "No navigator object available to get browser client info"
**Describe the bug**
When using SSR, specifically Gatsby, it appears that a recent update to amplify started to use an unchecked reference to `Navigator`

**To Reproduce**
start a gatsby project,
Gatsby CLI version: 2.14.1
Gatsby version: 2.28.1
add amplify
[code]

Add a page that uses Auth:

[code]

**Expected behavior**
`gatsby build` should pass without the following error
`ClientDevice_Browser

[2020-12-09 04:27] ravenscar commented on #3436
I originally opened up a similar ticket in the old repo, almost three years ago: https://github.com/amazon-archives/amazon-cognito-auth-js/issues/92

I sure am surprised that this is still an issue and prompt=none hasn't been implemented, we have been using auth0 for years now and I guess we are spoiled, but now are moving back to cognito for price reasons (auth0 OTP SMS prices are _high_).

We ha

[2020-12-09 07:23] marianoc84 opened #7370 ""API <name> does not exist" but configuration seems OK"
’m trying to introduce some Amplify features (without Amplify CLI) into a vanilla JS app. I managed Auth (sign in/up/out) without a problem, now I want to use API REST module to make a call to a pre-existing API Gateway resource (in this test environment I used the PetStore API).
This is the code that I have:
[code]
and somewhere else:
[code]
it builds (Webpack) without problems, but, when execute

[2020-12-09 08:33] laclance commented on #6260
we have 47 models, that are all needed and have started hitting this limit

[2020-12-09 09:17] SebastianHurubaru commented on #6317
Hi Erick,

I have seen you have closed this issue. How did you manage to solve it, as I have the same issue.

Thanks!

[2020-12-09 09:54] dmcd2 opened #7371 "Secondary application windows missing subscription updates"
**Describe the bug**

Our customers typically run multiple instances of our application in the same browser so that they can view data in different ways. They will open up multiple (2 or 3) browser windows on the same user login within the same browser instance (typically Chrome). As well as viewing data they can make edits. The problem we are seeing is that when an edit is make the change is not

[2020-12-09 09:56] ivmakk commented on #6330
Faced with the same issue on Angular 11 (but deep research shows that the issue isn't connected to the frontend framework). Helped to switch to the `production` mode in the local environment (for Angular CLI that's `ng serve --prod=true`).

In my case, the core of the issue is a broken singleton of imported amplify packages, that causes "doubled" initialization of some amplify components (in some

[2020-12-09 13:40] bobbyhadz commented on #7358
You can add a custom redirect for folders and paths that can't be found and map it to your `/404.html` page.

In your AWS Amplify console - click on the app and then click **Rewrites and redirects**. Add the `/<*>` source address to map to `/404.html` target address (your next.js custom page), with the type of **404 (Rewrite)**.

The rewrites and redirects for my site look like:
![redirects](https

[2020-12-09 14:11] krunaldodiya opened #7372 "Please add query builder support for Datastore"
This is amazing, thank's for this amazing library, however It would be great if there are some query builder function that will make it more flexible, easy to read and complex query can be easily possible for example, I come from Laravel background, and there are many query methods which is readable and easy to use

[code]
This would be awesome if possible

[2020-12-09 14:27] brightfuture commented on #6344
+1 with this problem
my user pool is in ap-southeast-1
and i've tried to send to US and CN numbers
all failed

[2020-12-09 14:39] MrHertal commented on #7358
Hi @bobbyhadz, thanks for suggesting that solution.
I guess this would work when there is no dynamic routing.

But let's say you have a dynamic route such as `/posts/[id].js` and you want to redirect to your 404 page when user tries to access a non existing id.

In that case, instead of showing a 403 forbidden, Amplify could add a server rule that redirect to `/404`.

[2020-12-09 14:55] bobbyhadz commented on #7358
Hello @MrHertal ,

On my site [bobbyhadz.com](https://bobbyhadz.com) I use Next.js to `export` to static html files. My `fallback` property in the return value of the `getStaticPaths` function in Next.js is set to false.

I do have a dynamic route - `/blog/[slug].js` - [an-existing-blog-path](https://bobbyhadz.com/blog/hosting-nextjs-amplify) which does `404` when I go to [non-existing-blog-path](

[2020-12-09 15:01] MrHertal commented on #7358
Is your blog hosted by Amplify? @bobbyhadz

[2020-12-09 15:09] bobbyhadz commented on #7358
@MrHertal Yes, it is hosted on Amplify, which uses S3 and Cloudfront under the hood, pushes to my [blog-repo](https://github.com/bobbyhadz/bobbyhadz.com) initialize the build and deploy to Amplify.

[2020-12-09 15:49] shinpeiyamagiwa opened #7373 "When I use sign in with apple in amplify, it jumps to safari, so it is rejected by the App Store review."
[code]
When I use this code, it jumps to safari, so it will be rejected by the app review.
Is there a way to use sign in with apple without jumping to safari?
<img width="826" alt="スクリーンショット 2020-12-10 0 52 55" src="https://user-images.githubusercontent.com/49158626/101652822-0ccf3e00-3a82-11eb-9142-59d2ce3f563f.png">

[2020-12-09 19:16] jeffsteinmetz commented on #7368
looks like this may be a typescript problem actually, a bare bones .js gatsby project with amplify works fine.
closing until we have more details.

[2020-12-09 19:16] #7368 closed

[2020-12-09 19:30] samicey commented on #7233
Hello @FabioNevesAbreu1 I reproduced the issue and found out that
you are missing up the Translations property.

You can use the translations below to solve the issue.

I18n.putVocabulariesForLanguage("en-US", {
  [Translations.SIGN_UP_SUBMIT_BUTTON_TEXT]: "Crie sua conta",
  [Translations.SIGN_IN_HEADER_TEXT]: "Entre na sua conta",
  [Translations.SIGN_IN_ACTION]: "Acessar",
  [Translations.SIGN_

[2020-12-09 20:08] mauerbac commented on #7233
@FabioNevesAbreu1 - are you able to try Sam's suggestion and let us know if that works ?

[2020-12-09 20:09] amhinson commented on #7272
@ramakrishnan If I'm understanding your issue correctly, this is the intended behavior with how AppSync handles sync operations. Since the Delta sync TTL has passed, it will do a scan of the base table instead of a query of the Delta. Here's a link to the AppSync docs for more info:

https://docs.aws.amazon.com/appsync/latest/devguide/conflict-detection-and-sync.html#aws-appsync-conflict-detection

[2020-12-09 20:09] #7272 closed

[2020-12-09 20:14] amhinson commented on #7373
@shinpeiyamagiwa Yes! We have a section in the docs about setting up an in app browser so that the OAuth flow happens within your app instead of jumping over to Safari: https://docs.amplify.aws/lib/auth/social/q/platform/js#full-samples

[2020-12-09 20:16] chrispruitt commented on #7175
I am seeing this in `@aws-amplify/ui-vue` as well. Currently confusing most users.

[2020-12-09 20:17] amhinson commented on #7367
@lbatasu Could you share your `package.json`?

[2020-12-09 20:31] MrHertal commented on #7358
Thanks @bobbyhadz problem solved!
I added exactly the same redirect rule as you and it works.

I misunderstood those redirect rules and thought I would have to explicitly add a rule for each URL.
But it actually works with dynamic routing as you told me.

[2020-12-09 20:31] #7358 closed

[2020-12-09 21:23] micstepper commented on #5054
Would be nice to get at least a short update about your plans....

[2020-12-09 23:04] nschneider-sommset commented on #5921
Im getting the same error whenever I attempt to even Read the user attributes of a cognito user. Any update on this?

[2020-12-10 01:28] designworxz commented on #3858
Hi Ciao. Am new to Amplify and could you provide help. How can i implement Stripe subscription using Aws amplify and angular front end

[2020-12-10 01:51] lbatasu commented on #7367
I was able to resolve this late last week. I uninstalled and reinstalled the aws-amplify package and then added auth. I noticed that one of the errors (I don't have a screen shot) mentioned no user pools. Even though I had created the auth with default config, I decided to go through the auth config via amplify auth update. I walked through all configurations and added a user pool and was then abl

[2020-12-10 01:51] #7367 closed

[2020-12-10 02:40] sdsanders opened #7378 "Auth component autocomplete behavior is broken in Chrome"
**Describe the bug**
Hovering into the list of autocomplete suggestions in an auth component field (like username within the Sign In component) and then out of it will make it look like the field has been filled, but the text in the field is not actually editable.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any of the Amplify auhenticator docs pages, for example https://docs.ampli

[2020-12-10 02:53] HarrisonJackson commented on #7241
It still renders a broken image instead of the QR code.

If I remove the `<AmplifyTotpSetup ... />` it fast refreshes and the qr code works. I've tried a number of props to try and get the `<AmplifyTotpSetup />` slot component to work without luck.

[2020-12-10 04:23] krikork commented on #6885
I recently migrated to @aws-amplify/ui-react from aws-amplify-react so I can leverage the support for SSR with nextjs and am struggling with the same issue.

[2020-12-10 05:48] ramakrishnan commented on #7312
@amhinson
Thanks for the response.
I had to do a `DataStore.stop()` in order to reevaluate the syncexpression as mentioned by
https://docs.amplify.aws/lib/datastore/sync/q/platform/js#selectively-syncing-a-subset-of-your-data
As mentioned in a description above, I need a latest updatedAt to be used on next sync call.

[2020-12-10 06:16] kirandash commented on #927
Is there a way to check if a user is verified without logging in? Any method that tells if a user is verified with just username

[2020-12-10 08:56] ameykshirsagar commented on #4510
I have put up a small blog post in how to do it.
https://arcoirislabs.medium.com/aws-amplify-in-vanilla-javascript-6c4d8b3f29b0

[2020-12-10 10:21] mcarlstein commented on #7373
Hello i use the in app browser but still got rejected. :(

Anyone have the same problem and know how to fix it?

response from apple.

![Skärmavbild 2020-12-10 kl  11 20 09](https://user-images.githubusercontent.com/4611678/101759366-cb6a7d00-3ad9-11eb-821a-7efa1767151d.png)

[2020-12-10 11:22] amin79 opened #7381 "Unable to install aws-amplify and aws-amplify-react-native in expo project with the latest expo and amplify versions"
I'm trying to run this command in my expo project:

npm install --save aws-amplify aws-amplify-react-native

But I get the following error:

While resolving: undefined@undefined
Found: react-native@0.63.2
node_modules/react-native
  react-native@"https://github.com/expo/react-native/archive/sdk-40.0.1.tar.gz" from the root project

Could not resolve dependency:
peer react-native@"^0.59.5" from rea

[2020-12-10 12:00] masbaehr commented on #7362
I think npm messed something up. can't reproduce it anymore on a new npm install from scratch

[2020-12-10 12:00] #7362 closed

[2020-12-10 14:03] noobling commented on #3640
.

Heres what im using in my application. Please make suggestions so we can come up with a better solution

[code]

I am using https://recoiljs.org/ instead of react context because its more performant. Simply call this hook once somewhere at the top level. And reference the data with its recoil state.

[2020-12-10 14:38] jerocosio opened #7382 "AmplifyAuthenticator component formFields hint prop only works for the last one"
**Describe the bug**
When adding a hint on the formFields prop for AmplifySignUp, AmplifySignIn, AmplifyConfirmSignUp and AmplifyConfirmSignIn only the last input displays the hint correctly, the rest don't and I can't even see it when looking at the generated HTML.

**To Reproduce**
Steps to reproduce the behavior:

1. Add the AmplifyAuthenticator from @aws-amplify/ui-react
2. Add AmplifySignUp a

[2020-12-10 16:41] amhinson commented on #7373
@mcarlstein Could you share a code snippet of your Amplify configuration and `Auth. federatedSignIn()` usage?

[2020-12-10 16:43] amhinson commented on #7312
Ah ok. Well the fix is available now with `aws-amplify@unstable`, so let me know if you're still having issues here!

[2020-12-10 16:43] #7312 closed

[2020-12-10 16:58] sumanthyedoti opened #7383 "InvalidDirectiveError: @auth directive with 'apiKey' provider found, when using Social Provider"
Using only Google Sign-in from **Default configuration with Social Provider (Federation)**

The auth rules:
[code]
giving the following error:
[code]

Please help!

[2020-12-10 17:02] jcf commented on #2083
I think the fix here is quite straightforward. Something like this gets us 80% of the way there, and after two years I think even 80% would be amazing! :pray:

[code]

I hope someone on the Amplify team notices this. Not all APIs use JSON, and nor should they.

[2020-12-10 17:09] mjpaton commented on #7098
Yep confirmed I'm still getting about a dozen warnings in the console - @amhinson any update on how they can be suppressed if they truly are spurious for web?

I've not noticed an impact aside from them blowing up the console - auth works, refreshing tokens work, API calls work to cognito secured endpoints.

[2020-12-10 17:16] amhinson commented on #7381
@amin79 What version of the NPM CLI are you running? This appears to be related to the recent [NPM update](https://github.blog/2020-10-13-presenting-v7-0-0-of-the-npm-cli/) in 7.0.0 to automatically install peer dependencies. I will look into what we can do on our side to fix this, but for the time being, you should be able to use the latest `6.x` release or use `yarn` to get around this.

[2020-12-10 17:40] sumanthyedoti commented on #7383
Resolved the error by using `provider: userPools`

Then it says
[code]
Removed `public` rules.

[2020-12-10 17:40] #7383 closed

[2020-12-10 17:51] amin79 commented on #7381
@amhinson Thank you for your answer. Following are what I use:

├── @aws-amplify/cli@4.38.2
├── expo-cli@4.0.13
└── npm@7.1.0

[2020-12-10 17:53] amhinson commented on #7381
We've got a pending PR for the fix, but for now one of those options I presented should work for you 👍

[2020-12-10 18:00] amin79 commented on #7381
@amhinson Yes. Thank you. With npm 6.14.9 I was able to install the packages. Could you please write here when it is fixed then I can update my npm again. Thank you again

[2020-12-10 18:04] esteban-uo commented on #5186
hi @mk0a1a! how did you manage to workaround this limitation in the meantime? thanks

[2020-12-10 18:23] SebastianHurubaru opened #7385 "Lambda layer with additional software does not work"
**Describe the bug**
Created a custom lambda layer with ImageMagick and ghostscript software, installed with [yumda](https://github.com/lambci/yumda) where all the binaries were installed in the opt folder.

When doing though amplify status or amplify push I get the error: An error occurred hashing directory

**To Reproduce**
Steps to reproduce the behavior:

1. Install ImageMagick and ghostscript

[2020-12-10 18:44] amhinson commented on #7381
It is fixed now with the `unstable` release, and should be on `latest` within a few days. You can try it out now with:

`npm install --save aws-amplify@unstable aws-amplify-react-native@unstable`

[2020-12-10 19:40] mcarlstein commented on #7373
` Auth.federatedSignIn({ provider: 'SignInWithApple' })`

**then config**

` Amplify.configure({
    // OPTIONAL - if your API requires authentication
    Auth: {
      // REQUIRED - Amazon Cognito Identity Pool ID
      identityPoolId: AWS_AUTH.identityPoolId,
      // REQUIRED - Amazon Cognito Region
      region: AWS_AUTH.region,
      // OPTIONAL - Amazon Cognito User Pool ID
      userPoolId:

[2020-12-10 20:07] amhinson commented on #7373
Thanks for all the info @mcarlstein! 🙏

This is the first I've heard of Apple rejecting this behavior. We will look further into alternative solutions for this, but unfortunately it is not likely to be simple due to how Cognito currently handles the OAuth2 flow. For the time being if you are in a bind, you could call `Auth.federatedSignIn()` without the `provider` to show the Cognito Hosted UI, in

[2020-12-10 20:31] #7161 closed

[2020-12-10 20:35] mcarlstein commented on #7373
Yes okey thanks!

Maybe apple just having a bad day. I will try to contact them to get more information about this.

Will post here when i have more.

[2020-12-10 22:47] garrettmaring commented on #1234
I think most of us agree that the Amazon UX is ideal ✅  Passwords when registering should *always* require confirmation input.

![Screen Shot 2020-12-10 at 2 46 02 PM](https://user-images.githubusercontent.com/8270120/101839045-886ad280-3af6-11eb-9627-f339382f0b28.png)

[2020-12-10 23:19] garrettmaring commented on #3853
I think most of us agree that the Amazon UX is ideal ✅  Passwords when registering should *always* require confirmation input.

![Screen Shot 2020-12-10 at 2 46 02 PM](https://user-images.githubusercontent.com/8270120/101839045-886ad280-3af6-11eb-9627-f339382f0b28.png)

[2020-12-10 23:31] amhinson commented on #7381
@amin79 We just did a release that contain this fix, so it is available to use now. Let me know if you are still having issues.

[2020-12-10 23:31] #7381 closed

[2020-12-10 23:52] mk0a1a commented on #5186
Hey, @esteban-uo. We didn't use Amplify's API module for this, instead we used Apollo client. For the auth, it's just a matter of fetching the token from Cognito and passing it along with the request. So basically we fetch 2 tokens from 2 Cognito endpoints and then pass them to their respective APIs.

[2020-12-11 06:54] mowais-10p opened #7391 "Analytics.updateEndpoint throwing error `.map is not a function`"
**Describe the bug**
I am trying to updateEnpoint with address and more details but it is throwing an error that `.map is not a function`

Here is my code to configure Analytics in react then updating endpoint
[code]

Then on some action click:
[code]
What am I missing here, is there any required attribute that i am missing when updating the endpoint?

<details>
  <summary><strong>Environment</str

[2020-12-11 08:18] #7316 closed

[2020-12-11 08:18] #6787 closed

[2020-12-11 08:18] #7132 closed

[2020-12-11 08:18] #6061 closed

[2020-12-11 08:18] #6543 closed

[2020-12-11 08:18] #6092 closed

[2020-12-11 08:18] #5457 closed

[2020-12-11 08:18] #6997 closed

[2020-12-11 08:24] rahulje9 commented on #5457
Actually, it got fixed itself, created a new project and tested everything and it was working fine, and then tried running the current project again and it was working. no changes or anything was made in the code.

[2020-12-11 10:18] esteban-uo commented on #5186
makes sense. Thanks a lot for your answer @mk0a1a

[2020-12-11 10:20] usuhaya commented on #6926
@tomaseti
I have the same problem.
I can't figure out how to extract the components I need from @aws-amplify/ui-vue.
Please let me know how you extract it.

[2020-12-11 12:38] sw-yx commented on #7260
cc #7013

[2020-12-11 16:02] mmykhaylov commented on #7260
What does cc mean? I don't have much experience contributing to open source, so some slang is unknown to me

[2020-12-11 16:35] amhinson commented on #7098
@mjpaton This appears to just be limited to Angular apps from my testing. As you mentioned, there should be no effect on the functionality here. I'll look into what we can do on our side to suppress  and superficial warnings.

[2020-12-11 16:50] amhinson commented on #7098
It appears that there may not be much we can do on our side with this. The implementation we have is [similar](https://github.com/brix/crypto-js/blob/develop/src/core.js#L36-L40) to `crypto-js`, and it looks like they have the same issues:
https://github.com/brix/crypto-js/issues/262
https://github.com/brix/crypto-js/issues/290
https://github.com/brix/crypto-js/issues/291
https://github.com/brix/c

[2020-12-11 17:10] soorajlv opened #7393 "Cognito '/oauth2/token' end point not returning 'id_token' for Authorization Code Grant with PKCE"
**Describe the bug**
Cognito '/oauth2/token' end point not returning 'id_token' for Authorization Code Grant with PKCE even though the documentation says it will be returned ([Link](https://docs.aws.amazon.com/cognito/latest/developerguide/token-endpoint.html#post-token-positive-exchanging-authorization-code-grant-with-pkce-for-tokens))

**To Reproduce**
Steps to reproduce the behavior:

1. Config

[2020-12-11 17:12] ericclemmons commented on #7353
Hmmm, yes this one's tricky. We need to validate if `boundary` is necessary for this to work or not:

In the meantime, if you're constructing `FormData` from scratch, JSON would be the best workaround.

[2020-12-11 17:12] AbirAbbas commented on #5918
This worked for me, thanks!

[2020-12-11 17:27] chrispruitt commented on #7241
I am seeing this same issue using vue.js. I was unable to get it to work with the above recommendation.

[2020-12-11 18:23] amhinson commented on #7391
@mowais-10p It looks like the `userAttributes` values should be an array instead of a string. Here's the Pinpoint API documentation for more info:
https://docs.aws.amazon.com/pinpoint/latest/apireference/apps-application-id-endpoints.html#apps-application-id-endpoints-prop-endpointuser-userattributes

[2020-12-11 18:57] ericclemmons commented on #7223
Ah, so running your example that `withAuthenticator` makes a big different.  It _may_ be a race-condition, but it looks more like a bug due to #6330:

Notice how the in progress check is `true` at the start (which is what we want!), but an error is thrown, preventing the `user` from resolving correctly.

https://github.com/aws-amplify/amplify-js/blob/4b5841984727794217295adb37f2f9f7fddb509e/packag

[2020-12-11 19:21] ericclemmons commented on #7223
Oh, another note: it "just worked" with a username/password. The Google sign-in is where I saw the failure, leading me to believe this is an issue with #6330 .

[2020-12-11 19:37] ericclemmons commented on #6986
I'd be interested in seeing how well https://github.com/aws-amplify/amplify-js/pull/6346#issuecomment-710227501 works, but the problem may be with Stencil's re-rendering potentially blowing away values in internal `state` or `<input>`s.

[2020-12-11 19:38] jjalonso commented on #2562
Totally agree, on all websites when you sign up, you are already signed in, it should be already available like firebase and the rest of the world does, we use Amplify to have a almost-ready-easy-to-use platform and doing that is quite bad for us/it

[2020-12-11 19:39] jjalonso commented on #6320
Totally agree, on all websites when you sign up, you are already signed in, it should be already available like firebase and the rest of the world does, we use Amplify to have a almost-ready-easy-to-use platform and doing that is quite bad for us/it

[2020-12-11 21:55] amin79 commented on #7381
@amhinson I confirm that the packages are successfully installed with node7.1.2.
Thank you again.

[2020-12-11 23:05] sammartinez commented on #7334
@FinestV thanks for reporting this issue. This is a known issue, and we are looking to pull this into our backlog to address. Once we have this groomed, we can provide a timeline when to expect a fix for this. Thanks again for reporting this!

[2020-12-12 00:34] amhinson commented on #7378
Thanks for the details @sdsanders! 🙏

This does appear to be related to our usage of shadow DOM with StencilJS (and Web Components in general). Here is an open issue that also shows the behavior you are seeing: https://github.com/WICG/webcomponents/issues/894

With that said, I'm not sure if there's much we can do at this point, as the underlying issue is out of our control. I'm going to close thi

[2020-12-12 00:34] #7378 closed

[2020-12-12 14:26] oliverandersencox commented on #5351
@sammartinez this issue with ionic has been going on for years now. There are example for react but nothing to help with angular ionic, and now out of nowhere my hacky way has stopped working.

I see this has been added where we can define a function to deal with the auth on devices however this doesnt work with ionic:

[code]

Can you guys help direct us as to how to do this is angular as there a

[2020-12-12 15:20] oliverandersencox commented on #4585
@sammartinez social logins stopped working out of no where, it seems now the window refresh main url being different to the redirect url (has to be as the app is opened using app.bal.. but in order to trigger amplify authentication check we have to reload the actual window.

Why is this now happenning?

how can we use the urlOpener function feature in angular as we cant add it in the main.ts where

[2020-12-12 16:42] heitorlessa commented on #6167
I've just hit this - Any suggestions on how to move forward @mauerbac @sammartinez ?

[2020-12-12 17:32] mowais-10p commented on #7391
Thanks @amhinson, it worked. I think the documentation or typescript typings should be improved of amplify. I would love to give the PR for the above.

[2020-12-12 17:32] #7391 closed

[2020-12-12 18:16] RBrNx opened #7398 "currentUserCredentials doesn't return expected authenticated value"
**Describe the bug**
Calling `Auth.currentUserCredentials` after signing into Cognito with `Auth.signIn()` returns valid credentials, but for an unauthenticated user; `autheticated` is set to `false`.

**To Reproduce**
Steps to reproduce the behavior:

1. Sign into Cognito with a valid Username/Password - `await Auth.signIn(username, password)`
2. Request Credentials with `await Auth.currentUserCr

[2020-12-12 22:06] Haga14 opened #7399 "App not in Console"
**Describe the bug**

I created a Vue Amplify project a few months ago and I just published it a few days ago. The app publishes fine and every thing works perfectly at the web address provided by the Amplify CLI. However, the app isn't listed in the Amplify console and when I run amplify console the address console takes me to doesn't include the app region. When the amplify console opens it thro

[2020-12-13 03:57] wei commented on #6730
I can reproduce the issue. Repo: [wei/aws-amplify-react](https://github.com/wei/aws-amplify-react/tree/6730) branch `6730`

## Reproduction

Looks like the generated models includes `id` as a required field even though it's not present in the graphql schema:

![image](https://user-images.githubusercontent.com/5880908/102001946-8d31b100-3cc5-11eb-9f70-0d2588602f1d.png)

and the error originates fro

[2020-12-13 14:15] cnbrkkaya commented on #3123
Is there any progress in this subject? Or do we have to write our own createUser functions?

[2020-12-13 18:59] humblepie commented on #7267
@adampblack

This doesn't work for **usernameAlias="email"** either.
Appears that the error message will always specify email.

[2020-12-13 19:21] ludwigward commented on #2702
Late to the party but I encountered this issue and the problem for some reason that happened with aws-cli/2.0.17 or so was that cognito became the default and even though API was an alternative method it did not fall back to API key. Hence look into that if you have issues

[2020-12-14 03:54] jazzdragon commented on #1268
https://github.com/aws-amplify/amplify-js/issues/498#issuecomment-413204103

[2020-12-14 07:38] EveryWeekDEV commented on #3399
After a long debugging,
Steps to solve the problem:

1. Check that all aws libraries are up to date.
2. Please note:
Conflict can form between 2 apps that use the same Deep Linking URL.
for example:
app1 -> myapp: //
app2 -> myapp: //

Remove the applications from the simulator / device.
Build and run from scratch :)

[2020-12-14 09:57] laclance commented on #6994
same issue on slower internet

[2020-12-14 10:26] laclance commented on #6363
same issue with react

[2020-12-14 15:48] mikerudge commented on #6320
+1

[2020-12-14 15:59] iartemiev commented on #7371
@dmcd2 - thank you for opening the issue. This is the expected behavior at the moment. DataStore creates a single IDB database per origin.
However, I will mark this issue as a feature request and we will explore ways to enable this use case.

[2020-12-14 16:06] mtliendo commented on #3904
@abhishek125 can you describe a bit more about your use case?

[2020-12-14 16:40] iartemiev commented on #7348
This has been fixed in the latest version of @aws-amplify/datastore - **2.9.1**

[2020-12-14 16:40] #7348 closed

[2020-12-14 16:49] amhinson commented on #7398
@RBrNx I can't seem to replicate the issue you are seeing. I'm seeing the expected behavior of `authenticated` being `true` after `Auth.signIn(...)` with brand new React and React Native apps and Amplify freshly setup and configured. Would you try creating a new app with Amplify and see if you're still seeing the same behavior? If so, can you share the exact steps you selected when setting up the

[2020-12-14 17:14] sdsanders commented on #7378
Thank you for the quick response @amhinson!

Since this is an upstream issue, it would be nice to have the option to disable autocomplete until it is fixed. #5048

[2020-12-14 17:17] RBrNx commented on #7398
Hey @amhinson, thanks for taking a look at this issue.

So I can definitely say that I didn't use the Amplify CLI at all when setting up this project (mostly because I only need the `Auth` API).
Instead I simply have it configured with
[code]

where `awsConfig` is the following object:
[code]

I'm happy to create a new project and try the same configuration though if you think it will help?

[2020-12-14 18:01] amhinson commented on #7398
Ah ok thanks for the info! It could be helpful to try creating a new project with the CLI and then (assuming the CLI project works as expected) compare your existing resources and particularly the IAM roles. Let me know what you find! 🙂

[2020-12-14 18:47] #5623 closed

[2020-12-14 18:54] wshihdehx commented on #3435
What happened to this issue? Has it been fixed @jpignata ?

[2020-12-14 19:56] wlee221 commented on #5623
Hi all, this should be fixed by #7401. Sorry this took a while to respond. This is on `unstable` tag now and I'll let you know again when this gets released. Please let us know if the issue persists.