[2019-02-13 10:09] ngocketit commented on #1316
Regarding react-native, looks like someone here has found a workaround https://github.com/aws-amplify/amplify-js/issues/1143

[2019-02-13 10:12] mapkbalaji commented on #104
How do you make this configuration using cli?

[2019-02-13 10:18] ngocketit commented on #1316
We have similar problem and we ended up having a separate user profile in DynamoDB, which will be populated in the post-confirm trigger. The main problem is having different accounts if user chooses also to sign in/sign up with Facebook/Google and currently there seems to be no proper way of doing the accounts merging automatically based on Cognito triggers. So we had to build an UI for the users

[2019-02-13 10:47] sivang commented on #1852
This seems very interesting: https://github.com/jonsaw/amazon-cognito-identity-dart

[2019-02-13 11:09] LosD commented on #2596
`transformRequest` and `transformResponse` is unfortunately also not forwarded. Those makes serializing to proper objects, much easier when using non-simple objects (e.g. using `JSON.parse` with a reviver, or `JSON.stringify` with a replacer)

In general, I think it would make most sense to pass all params (that Amplify doesn't use itself) as-is.

XSRF prevention is also a crucial feature that is

[2019-02-13 12:39] djarmoluk commented on #1907
I don’t recall during setup being prompted for what stage/environment to use. Perhaps I missed it. Prod was what was setup though.

On Feb 13, 2019, 12:09 AM -0500, Kemal Ahmed <notifications@github.com>, wrote:

[2019-02-13 12:42] BlackbitNeueMedien commented on #2642
Thanks you, that solves the problem for me as well. In hindsight, that even makes a lot of sense.

I think that the Amplify CLI should list `email_verified` as a readable attribute by default if you choose to use email verification.

[2019-02-13 12:53] goatandsheep commented on #1907
Oh you mentioned /Prod earlier! Sorry I missed that. Did you include /Prod in the endpoint name or path?

[2019-02-13 13:03] djarmoluk commented on #1907
Yes.

Sent from my iPhone

[2019-02-13 13:30] OrangeDrangon commented on #2694
To further flush out what I was saying

User One -> Image provider
User Two -> Image consumer
User Three -> Crafty User

`User one` signs in and has a picture they want to send to `User Two`. The flow I want is `User One` to upload to s3 and restrict access to either `User Two` or `User One + User Two`. This means that `User Three` would have no way to see the image sent between the two other user

[2019-02-13 13:45] OrangeDrangon commented on #2685
Could I make a recommendation of just having Amplify have a option (default?) for signup / login to lowercase the email before sending it to Cognito.

Another option is to just document this concern and give people a solution such as:

[code]

Note according to cursory testing in the Firefox console `toLowerCase()` is not destructive to the original string. [MDN Documentation](https://developer.mo

[2019-02-13 13:57] OrangeDrangon commented on #2694
As I am relatively new to the AWS ecosystem could this be accomplished with a Lambda function of some nature that has admin permission in the S3 ecosystem.

[2019-02-13 15:34] schof opened #2701 "Custom props.inGreeting is ignored by the Greetings component"
**Describe the bug**
The result of the custom function passed through `inGreeting`  property is ignored.

**To Reproduce**
See the following simple example:

[code]

**Expected behavior**
We should see "Hello foo" instead of the default greeting which uses the username in the "header bar." I can confirm the function I'm passing is being called because I see "Hello inGreeting" in the console as exp

[2019-02-13 15:45] jkeys-ecg-nmsu commented on #2689
What is a JSON object? That sounds like bad documentation imo.

[2019-02-13 16:44] isocra opened #2702 "Getting "no current user" after successful login to Cognito UserPool"
When I call `Auth.currentSession()` I always get "no current user" even though I'm logged in successfully.

I'm using AWS Amplify and AWS Gateway API in a React Native app.

We already have a Cognito UserPool and API set up and working with an existing web-based UI. I'm now trying to create a mobile app using React Native and Amplify. So first off, I created a config that pointed at our User Pool

[2019-02-13 16:57] josephbridgwaterrowe commented on #2686
Thanks @JustFly1984,

I added this to my .babelrc file and tried again, but I received the same error. Although I think this was already being included by the modified [Jest preprocessor file](https://github.com/josephbridgwaterrowe/amplify-and-jest-sample/blob/master/jest.preprocessor.js#L73).

Can you confirm that the code in that preprocessor is in fact including that plugin for transformations

[2019-02-13 17:08] timgivois commented on #1316
@undefobj
[code]
Do you have an example for this? I couldn't find a way to federate Cognito with Identity Pools to interface it with AppSync.

[2019-02-13 17:19] uclaeagit commented on #1316
Hi @undefobj - thanks for the response. Is there any roadmap to support social login with Custom UI and User Pool (not Federated Identity Pool) - other than the workaround shown by @powerful23 above?

[2019-02-13 18:26] manueliglesias commented on #2694
Yes, this is possible. I would start by looking into how S3 [manages permissions](https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-access-control.html).

Maybe this SO answer is also a good start https://stackoverflow.com/questions/7687841/is-it-possible-to-share-files-for-selective-users-using-amazon-s3

[2019-02-13 19:07] djarmoluk commented on #1907
The end point in my 404 error is the exact same as what is in AWS Gateway... and like I said before, I'm seeing that my Lamba function is getting called, so the incoming call is making it through, but the return is somehow getting translated into a 404.

<img width="1480" alt="screen shot 2019-02-13 at 2 03 26 pm" src="https://user-images.githubusercontent.com/1471759/52736758-a3bb3400-2f98-11e9-8

[2019-02-13 19:17] goatandsheep commented on #1907
@djarmoluk I'm not sure as it looks okay for the most part. do you have any 404 error messages in the lambda itself?

[2019-02-13 19:37] manueliglesias commented on #2701
Hi @schof

I think I see the problem, looks like when `includeGreetings` is true (second param or `withAuthenticator`), the Greetings component is added (a new one, not the one you passed in the `myComponents` array)

https://github.com/aws-amplify/amplify-js/blob/e7157dc797c76b66b79f069705428a0bc8e2d054/packages/aws-amplify-react/src/Auth/index.jsx#L76-L86

Can you try this and see if it still sh

[2019-02-13 19:50] manueliglesias commented on #2702
Hi @isocra

I've seen this message before when for some reason you end up with multiple versions of the same dependency.

Can you paste the output of this command?

[code]

or

[code]

[2019-02-13 19:56] undefobj commented on #1316
@ngocketit we have actually been working on React Native support for hosted UI and are very close. It's a bit tricky since The OAuth spec https://tools.ietf.org/html/rfc8252 requires specific View Controller implementations on iOS and custom tabs on Android, otherwise customers will get rejected from the AppStore for security reasons. On web you have more flexibility since the browser doesn't need

[2019-02-13 20:00] amlcodes commented on #2645
Maybe its because I added an auth directive ``` @auth(
    rules: [
      {
        allow: groups
        groups: ["Members"]
        queries: [get, list]
        mutations: null
      }
      {
        allow: groups
        groups: ["Admin"]
        queries: null
        mutations: [create, update, delete]
      }
    ]
  ) ``` where is the IAM role defined for your own aws account?

[2019-02-13 20:01] undefobj commented on #1316
Yes, an example is here: https://github.com/dabit3/appsync-auth-and-unauth

This is fair feedback and something we identified in recent weeks as well. We just put this example together in the past couple weeks to address the demand, however we're going to automate it in the CLI and make the process easier as there is too much heavy lifting for customers to wire up all the pieces. An RFC for the wo

[2019-02-13 20:12] undefobj commented on #1316
@uclaeagit By roadmap do you mean Cognito roadmap to make their hosted UI more customizable? If so that's not something I can comment on and as noted previously, it's better to ask that team on their support forum: https://forums.aws.amazon.com/forum.jspa?forumID=173

However that being said, the above code by @powerful23 is being referred to as a "workaround" however I'm not sure that's a complet

[2019-02-13 20:18] blbradley opened #2703 "using Service Worker yields `TypeError: undefined has no properties`"
**Describe the bug**
Service Worker is unusable out of the box.

**To Reproduce**
Steps to reproduce the behavior:
[code]

Then observe your browser's console.

**Expected behavior**
`TypeError: undefined has no properties`

**Screenshots**
![service-worker-error-screenshot](https://user-images.githubusercontent.com/1435085/52741102-2e506300-2f9a-11e9-8f93-c139c92d8dca.PNG)

**Desktop (please comp

[2019-02-13 20:35] uclaeagit commented on #1316
@undefobj - I'm not sure if we're talking about the same thing, but a helper API sounds great.

FYI - I am talking about fully CustomUI. The Hosted UI (the Cognito-hosted version or the locally-hosted Amplify version) won't work for us.

**Just to be clear what we're talking about, here's our stripped down sign in code for regular Cognito, implemented following the aws-amplify documentation:**
[co

[2019-02-13 20:55] undefobj commented on #1316
@uclaeagit thanks for the details. We are actually talking about the same thing but unfortunately the architecture and industry nomenclature in this area can confuse some things. To be clear when you construct this URL:

[code]

You **are** using the Cognito User Pools Hosted UI. That's what I mean when I say it's not a workaround, you're just interfacing directly with the endpoint and entering th

[2019-02-13 21:14] isocra commented on #2702
Hi @manueliglesias

Here you go:
[code]
In fact I had also wondered if I maybe had old versions of some modules, so earlier I deleted yarn.lock and the whole node_modules directory and removed all the modules from package.json and then re-added them all with yarn. Above is the new list. Unfortunately it still doesn't work.  Here's the trace
[code]
Thanks for looking into this for me!

[2019-02-13 21:19] timgivois commented on #1316
This seems fair, and its another workaround. The only problem is that it doesn't integrate with `auth` directives in the schema. I believe it's one of the coolest things that AppSync has, and also it's the reason we've chosen it instead of other Graphql servers like Apollo server. Plus, we'll need to add additional logic to add the user info to a Dynamo Table/User Pool.

For the moment, we'll hand

[2019-02-13 21:51] manueliglesias commented on #2618
A workaround for react-native >= 58

[code]

[2019-02-13 21:54] manueliglesias commented on #2702
I see two different versions of `aws-sdk`, can you lock your dependency to the same one amplify and aws-appsync use? (`aws-sdk@2.329.0`)

[2019-02-13 21:56] djarmoluk commented on #1907
There are no errors in the Lambda service log at all.

I do see that the body of the lambda call is empty though. Doing a simple get from a dynamo table that is not empty, so looking at how my roles are setup.

Regardless, I wouldn’t expect a 404 in this case.
On Feb 13, 2019, 2:17 PM -0500, Kemal Ahmed <notifications@github.com>, wrote:

[2019-02-13 22:04] mrowles commented on #2362
@fredericomaia10 What's worse is that they parked their [old repository](https://github.com/amazon-archives/amazon-cognito-identity-js) and forced everyone over to this, and it barely work.

[2019-02-13 22:08] manueliglesias commented on #2703
Hi @blbradley

Looking at
https://github.com/blbradley/amplify-vue-issue/blob/d06316c56892c61670b88d6495f61200db41a703/src/main.js#L9-L11

you need to change your code to this

[code]

and provide a `service-worker.js` file (e.g. https://serviceworke.rs/strategy-network-or-cache_service-worker_doc.html)

Take a look at our docs for [ServiceWorker](https://aws-amplify.github.io/docs/js/service-work

[2019-02-13 22:26] uclaeagit commented on #1316
@undefobj - thanks - I think I understand now. We're basically hacking the Cognito Hosted UI. Which is always a little scary because who knows when they're going to change something and one morning all our social logins don't work anymore.

So yeah - any other means which we can use to login to social providers would be very welcome here. Your proposal sounds great.

[2019-02-13 22:55] goatandsheep commented on #1907
@manueliglesias do you have any suggestions? I'm out of ideas

[2019-02-13 22:58] undefobj commented on #1316
@timgivois This should actually be able to use the `@auth` directive in the GraphQL Transformer. That directive uses the OIDC JWT token from User Pools to perform conditional logic in the AppSync resolvers (I was on the design team for this feature). You **do** need to define the authorization metadata somewhere which represents what users/groups have rights to a specific resource, and the way we

[2019-02-13 23:16] mkrn commented on #1316
I am trying the following work-around, but unsure it will work eventually:

- Adding a Facebook login button in front-end on sign up form (onboarding)
- Reading facebook id and passing it through validationData to Auth.signUp call
- Saving facebookId in pre-signup lambda trigger to DynamoDB (along with some other onboarding data)
- Reading facebookId in post-confirmation lambda trigger from Dynamo

[2019-02-13 23:19] undefobj commented on #1316
@uclaeagit We communicate with Cognito team so we're not going to do anything here to get you in trouble in the future, and in general AWS has a policy to not make breaking changes. It's not really hacking just more baking in the OAuth flows into an easier to use API. In general this AuthN/AuthZ space is a little tricky in the industry so I can see why it might look like a workaround. Let me work

[2019-02-13 23:40] OrangeDrangon commented on #2694
Thanks I will look into that for now. Thanks. I will leave this open in case you guys want to pursue this.

[2019-02-13 23:41] manueliglesias commented on #1316
Hi @mkrn

Could you open a separate issue and add some more details for your specific scenario?

[2019-02-14 00:12] blbradley commented on #2703
Hey @manueliglesias. Thanks for the response.

This was actually copy/paste from the docs; I should have read more deeply but did not.

I propose changing the docs to match something that would work by directly copying the doc examples.

[2019-02-14 00:46] mHou407 opened #2705 "Device tracking call failed at login with error "Invalid device key given" for CUSTOM_AUTH flow"
**Describe the bug**
Error "Invalid device key given" is return when device tracking is enabled in Cognito and custom auth flow is used. This error only occurs when custom auth flow is used without password.

**To Reproduce**
Steps to reproduce the behavior:
1. Set device tacking to "always" in Cognito
2. Set up lambda hooks for custom auth flow.
3. Sign in without supplying the password
4. Receiv

[2019-02-14 02:07] timgivois commented on #1316
Well, this is a cleaner way to user pools with AppSync. I'm not sure if we can find this in the docs.

[2019-02-14 03:22] danzuck commented on #2218
What if you are using a Federated login like Facebook?

[2019-02-14 03:58] michaelcuneo opened #2706 "GraphQL AppSync S3 Upload with Complex Objects"
** Which Category is your question related to? **

GraphQL AppSync, and S3 Uploads with Complex Objects.

** What AWS Services are you utilizing? **

GraphQL AppSync, and S3 Uploads with Complex Objects.

** Provide additional details e.g. code snippets **

I have set up a simple Blog, but each article will require a single Feature Image, so I set up my schema as follows...

[code]

I have read th

[2019-02-14 04:35] ToddHoff commented on #2682
So trying once more, but this time with some progress...

User: arn:aws:sts::369659351212:assumed-role/Cognito_BasisAuth_Role/CognitoIdentityCredentials is not authorized to perform: dynamodb:PutItem on resource: arn:aws:dynamodb:us-east-1:369659351212:table/User

I noticed that it mentioned Cognito_BasisAuth_Role. I had put the clause

Condition": {
"ForAllValues:StringEquals": {
"dynamodb:Leadin

[2019-02-14 09:30] supun19 opened #2708 "amazon social login in react"
** Social Login**
I am developing react webapp. I integrated amazon social login to my application
[code]
then I warape the my component
[code]

I have also added amazon client id to the identity pool as an authentication provider.
when signing I have received an error

```{"__type":"NotAuthorizedException","message":"Token is not from a supported provider of this identity pool."}```

I have also

[2019-02-14 09:57] isocra commented on #2702
I've done that here's the new list
[code]
I think we can ignore the serverless uses of the sdk because they're not used at runtime, only for deployment.

Unfortunately no change.

I've tried single stepping through the code but it's that easy since it's data and state driven. However, I think I've found the problem (though not the solution).

Here's the debug log again, you'll see that at 58.265 i

[2019-02-14 14:20] xkollar commented on #2356
@dannymcpherson I see the error in response when calling API Gateway.

[2019-02-14 16:19] skdigital commented on #1613
Its a real shame that nextjs is not compatible with AWS Amplify, its a massive short fall in my eyes.

[2019-02-14 16:32] roborourke opened #2710 "Analytics: On web there's a new session every page load"
**Describe the bug**
Using page view auto tracking on a website I'm seeing a new session ID for every page view. Given that this was me clicking around a site I would assume this should constitute a single session. It's difficult or impossible to query for a user's journey without a single session ID.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a web app with a few pages that incl

[2019-02-14 17:17] ffxsam opened #2711 "[Auth] [Critical] Authentication cookie lockup when multiple user data exists"
I've identified an edge case where "bad cookies" can cause a site to be prevented from loading (shows "pending" in Chrome DevTools Network tab) and is stuck indefinitely.

I've set Auth to use cookies for storage.

**To Reproduce**
Steps to reproduce the behavior:
1. (web) Create a new user
2. (web) Log in as user
3. (AWS console) Delete user in Cognito interface
4. (web) Create new user

**Expect

[2019-02-14 17:22] ffxsam commented on #2711
Amplify config:

[code]

[2019-02-14 18:17] kmb266 commented on #1702
any update here?

[2019-02-14 18:39] manueliglesias commented on #2634
Amplify by default uses 'USER_SRP_AUTH', and you can override this, see https://aws-amplify.github.io/docs/js/authentication#manual-setup

[code]

[2019-02-14 19:01] manueliglesias commented on #2617
Related comment:
https://github.com/aws-amplify/amplify-js/issues/498#issuecomment-413204103

[2019-02-14 19:26] acumulus8 commented on #1181
@mrowles I'm wondering the same thing. Running "@aws-amplify/auth" v. 1.2.6 in create-react-app. Everything runs fine in Android, browser, and >= iOS 7. As far as I can tell, my issue is with `Auth.signIn` only. I'm having good luck with `Auth.forgotPassword` and `Auth.forgotPasswordSubmit` but the authentication flow fails there being that `Auth.signIn` must be called at the end of `Auth.forgotPa

[2019-02-14 19:28] manueliglesias commented on #2703
Thank you for the PR @blbradley !

[2019-02-14 19:30] #2703 closed

[2019-02-14 20:53] undefobj commented on #1852
Thank you all for the interest. As Amplify is an OSS project, we are constantly working through customer requests, PRs, and issues. Currently, there is no support in the Amplify Framework for Flutter. While we cannot commit to support Flutter at this time, knowing your use cases helps us with our roadmap planning.

That said, please could community members provide more details on the specific Flut

[2019-02-14 20:56] manueliglesias commented on #1181
Hi @mrowles

Can you elaborate a little bit on this (bundler used, flags, config)?

I ask for this details because @acahinton mentioned he mentioned seeing this with the `--prod` flag only.

[2019-02-14 20:57] undefobj commented on #2700
Hello @sivang this is a very nice offer. Please see the following comment for Flutter with Amplify: https://github.com/aws-amplify/amplify-js/issues/1852#issuecomment-463791682

There are certain design principles we have with Amplify including category based programming model and declarative APIs. If we were to accept contribution on Flutter we would want to stay consistent with this model, and a

[2019-02-14 21:05] lafiosca commented on #1848
Regarding my last comment, I caught another instance of updateEndpoint not actually updating the endpoint, and I logged it and posted to the AWS forum here: https://forums.aws.amazon.com/thread.jspa?threadID=298569

It's long and detailed, but the point is: sometimes updateEndpoint receives a successful response even though the data is not updated. If this occurs when Amplify is storing the device

[2019-02-14 21:08] mrowles commented on #1181
@manueliglesias Apologies, that’s what I meant. In my production builds, it fails. Assume it’s some tree shaking or typescript compilation ‘issues’. I use webpack to build my stuff but will try and run an angular-cli ‘build —prod’ to see if it causes the same issues, assume it will as it has for others.

I tried with just AOT (ahead of time compilation) flag this morning and it actually seemed oka

[2019-02-14 21:42] guiaamaral commented on #2605
@goalguy10 I'm with the same problem but my code is for React Native. I tryed to simulate the problem with another two smartphones (iPhone X - iOS 12 and Moto G5 - Android 8.1) and worked! I'm using Android 9.0... It's possible to be an OS problem?

[2019-02-14 21:48] joybro opened #2713 "How to subscribe Create and Delete with <Connect />"
** Which Category is your question related to? **
API / GraphQL

** What AWS Services are you utilizing? **
AWS AppSync

** Provide additional details e.g. code snippets **
Hello all,

I'm trying to subscribe any updates including create, delete and update in my GraphQL backend using ```<Connect />```, but all I could find from [Amplify API doc](https://aws-amplify.github.io/docs/js/api) was just

[2019-02-14 22:43] bgetsug commented on #1852
I've been watching this conversation for a while and would like to share my experience. I am currently developing a Flutter app which uses Amplify Storage (S3) for file uploads, while leveraging federation so I can continue to use Firebase for authentication. In short, I desire excellent offline-to-online and background behavior for file transfers, and I'm uncertain whether Firebase Storage delive

[2019-02-14 22:46] sandeshakya opened #2714 "How to set session token expiry timeout?"
** Which Category is your question related to? **
Authentication session
** What AWS Services are you utilizing? **
S3, Cognito
** Provide additional details e.g. code snippets **
Hello,
I'm working on a ReactJS project where I'm using Amplify for signup/signin, and user information is stored in cognito. I'm trying to set the timeout for a session token to be ~1 hour. From my understanding, the ti

[2019-02-15 00:11] manueliglesias commented on #1181
@mrowles

Ok, I can reproduce with a simple
[code]

vs

[code]

Let me keep looking into this, definitely a bundling issue

[2019-02-15 00:34] mrowles commented on #1181
@manueliglesias Thanks mate, appreciate it!

[2019-02-15 00:51] blbradley commented on #2703
No problem; once again, thanks for the speedy response.

[2019-02-15 01:21] kjetilge commented on #1613
I'm having the same issue. Maybe it would it be possible/easy to trigger prerendering of routes from a lambda function ? Perhaps using PrerenderSPAPlugin ?

[2019-02-15 04:20] undefobj commented on #2675
Would the Fine Grained Access Control option in this RFC meet your needs? https://github.com/aws-amplify/amplify-cli/issues/766

This has the benefit of being controlled by the backend rather than needing to pass this in the client, which could be compromised and also leaks backend implementation into the API (which we would rather avoid).

[2019-02-15 04:22] undefobj commented on #1205
@goatandsheep I believe this is the better solution rather than multiple user groups. @nipasarker01 is there a reason why you would need two user pools rather than using two cognito groups?

[2019-02-15 04:24] undefobj commented on #2582
How would the third party have access to the email address of the user which the admin wishes to send a sign-up invitation? You still need to own the verification channel (email, phone, etc.) where the invite is being sent.

[2019-02-15 04:28] undefobj commented on #2528
How would you trigger this from happening? Does Facebook have the ability to execute a script or HTTP request whenever someone removes the app in their platform? I'm not sure this is possible to implement without an event source.

[2019-02-15 04:29] epicfaace commented on #2433
@elorzafe

[2019-02-15 04:40] undefobj commented on #2156
@mayteio @JakeStoeffler the `@auth` directive supports Cognito User Pools per the Transformer documentation: https://aws-amplify.github.io/docs/cli/graphql#auth
IAM via Cognito Identity Pools is not supported and you will need to set that up manually right now. We have a sample created for this: https://github.com/dabit3/appsync-auth-and-unauth
There will be more automation for that use case in th

[2019-02-15 08:42] barroij commented on #2675
I'm not talking about the CLI but the javascript plugin. And not about configuring CognitoUserGroup but dynamically assigning a role to a user in my client app.

My Identity Pool do use the fine grained access control based on group membership, but in case of a user belonging to two groups with the same precedence, no princial role is assigned to the user, but it is possible to ask credentials for

[2019-02-15 09:05] romainquellec commented on #1613
The specific GraphQL part was not SSR compatible (months ago).
I'm using Auth and Storage with Next with no problem (for now).

[code]

is OK.

[2019-02-15 09:05] romainquellec commented on #1613
And you still could load some components with <NoSSR> component with React if something is broken.

[2019-02-15 09:06] VexyCats opened #2715 "Creating new user fails on ConfirmSignUp with "NotAuthorizedException","message":"Unauthenticated access is not supported for this identity pool" - but it worked last week fine"
**Describe the bug**
Feb 13th I created a new user fine, today I tried to do the same - have not changed AWS-amplif configure settings, or any Cognito/User pool settings. Today it gives me an unauthorized error and will never send the verification email.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Sign new user up.
2. Information submitted and passes checks (such as password requir

[2019-02-15 09:19] ngocketit commented on #1613
I'm using Amplify with Appsync and Nextjs and it works pretty ok. I had a setup where I use Api key on server and Cognito user pool on client. SSR is for public, anonymous user so you don't need to handle authentication etc. For all the protected pages that require user login, I render it on client.

[2019-02-15 09:51] #2715 closed

[2019-02-15 14:39] scorphus commented on #1183
It's still an issue. Not really a good thing to let an attacker know a particular username exists and only the password remains to be exploited. This must be fixed ASAP.

cc @yuntuowang

[2019-02-15 15:37] undefobj commented on #2675
Yup, I understand you are talking about doing it in the client app. However as stated this is generally not good practice as clients are spoofable, it also leaks implementation into the client which we try to avoid in Amplify design. In that RFC you will see it's not only talking about Cognito Groups for dynamic access but also dynamic role assignment based on rules in claim attributes.

Could you

[2019-02-15 16:56] djarmoluk commented on #1907
I’ve tried a few different things. Among them, starting from scratch, and trying to build out an API where the user doesn’t have to be authenticated. I haven’t been able to make a successful API call yet from my React app.

I started getting CORS errors. Corrected those by setting the headers in each of any service/functions app.js files like so:

app.use(function (req, res, next) {
  res.header("

[2019-02-15 17:10] goatandsheep commented on #1907
@djarmoluk personally I've had issues with the console too so I stay away from it, instead pushing to an s3 bucket connected to cloudfront the old fashioned way.

[2019-02-15 17:10] undefobj commented on #2513
@JulioBarros @aaronhayes would this feature request address your needs: https://github.com/aws-amplify/amplify-cli/issues/689

[2019-02-15 18:55] OrangeDrangon commented on #2685
@robotlemons Just tagging you to make sure you have seen this.

[2019-02-15 19:39] manueliglesias commented on #1181
@mrowles

I think I found the issue, while I send a PR, can you try adding this import before you import `aws-amplify`?

[code]

[2019-02-15 20:29] mrowles commented on #1181
Nuts, looks good on local prod build! Pushing to my prod env to see if all swell, but positive outlook so far 😁Cheers @manueliglesias

[2019-02-15 21:50] undefobj opened #2716 "RFC: Auth Enhancements - Easier Federation with Cognito User Pools and Hosted UI"
**Overview**: Based on feedback there is a fair amount of confusion when using User Pools for Social Provider Federation, especially when building a custom UI and bypassing the default Cognito Hosted UI. While Amplify documentation gives an overview of using redirects within the OAuth flow, this is cumbersome, error prone, and seen as difficult by customers who are unfamiliar with these flows. The

[2019-02-15 21:53] undefobj commented on #1316
Hello everyone, we have created an RFC for feature work that should make the challenges found in this issue easier in the future. If you have a moment please read through the details and add any comments: https://github.com/aws-amplify/amplify-js/issues/2716

Your feedback in the RFC will help us ensure that we are delivering the best experience possible. Thank you.

[2019-02-15 21:53] undefobj commented on #2644
Hello everyone, we have created an RFC for feature work that should make the challenges found in this issue easier in the future. If you have a moment please read through the details and add any comments: https://github.com/aws-amplify/amplify-js/issues/2716

Your feedback in the RFC will help us ensure that we are delivering the best experience possible. Thank you.

[2019-02-15 21:54] undefobj commented on #2543
Hello everyone, we have created an RFC for feature work that should make the challenges found in this issue easier in the future. If you have a moment please read through the details and add any comments: https://github.com/aws-amplify/amplify-js/issues/2716

Your feedback in the RFC will help us ensure that we are delivering the best experience possible. Thank you.

[2019-02-15 21:54] undefobj commented on #2525
Hello everyone, we have created an RFC for feature work that should make the challenges found in this issue easier in the future. If you have a moment please read through the details and add any comments: https://github.com/aws-amplify/amplify-js/issues/2716

Your feedback in the RFC will help us ensure that we are delivering the best experience possible. Thank you.

[2019-02-15 21:54] undefobj commented on #2518
Hello everyone, we have created an RFC for feature work that should make the challenges found in this issue easier in the future. If you have a moment please read through the details and add any comments: https://github.com/aws-amplify/amplify-js/issues/2716

Your feedback in the RFC will help us ensure that we are delivering the best experience possible. Thank you.

[2019-02-15 21:54] undefobj commented on #2512
Hello everyone, we have created an RFC for feature work that should make the challenges found in this issue easier in the future. If you have a moment please read through the details and add any comments: https://github.com/aws-amplify/amplify-js/issues/2716

Your feedback in the RFC will help us ensure that we are delivering the best experience possible. Thank you.

[2019-02-15 21:54] undefobj commented on #2503
Hello everyone, we have created an RFC for feature work that should make the challenges found in this issue easier in the future. If you have a moment please read through the details and add any comments: https://github.com/aws-amplify/amplify-js/issues/2716

Your feedback in the RFC will help us ensure that we are delivering the best experience possible. Thank you.

[2019-02-15 21:55] undefobj commented on #2456
Hello everyone, we have created an RFC for feature work that should make the challenges found in this issue easier in the future. If you have a moment please read through the details and add any comments: https://github.com/aws-amplify/amplify-js/issues/2716

Your feedback in the RFC will help us ensure that we are delivering the best experience possible. Thank you.

[2019-02-15 21:55] undefobj commented on #2423
Hello everyone, we have created an RFC for feature work that should make the challenges found in this issue easier in the future. If you have a moment please read through the details and add any comments: https://github.com/aws-amplify/amplify-js/issues/2716

Your feedback in the RFC will help us ensure that we are delivering the best experience possible. Thank you.

[2019-02-15 21:55] undefobj commented on #2283
Hello everyone, we have created an RFC for feature work that should make the challenges found in this issue easier in the future. If you have a moment please read through the details and add any comments: https://github.com/aws-amplify/amplify-js/issues/2716

Your feedback in the RFC will help us ensure that we are delivering the best experience possible. Thank you.

[2019-02-15 21:55] undefobj commented on #2168
Hello everyone, we have created an RFC for feature work that should make the challenges found in this issue easier in the future. If you have a moment please read through the details and add any comments: https://github.com/aws-amplify/amplify-js/issues/2716

Your feedback in the RFC will help us ensure that we are delivering the best experience possible. Thank you.

[2019-02-15 21:56] undefobj commented on #2156
Hello everyone, we have created an RFC for feature work that should make the challenges found in this issue easier in the future. If you have a moment please read through the details and add any comments: https://github.com/aws-amplify/amplify-js/issues/2716

Your feedback in the RFC will help us ensure that we are delivering the best experience possible. Thank you.

[2019-02-15 21:56] undefobj commented on #2115
Hello everyone, we have created an RFC for feature work that should make the challenges found in this issue easier in the future. If you have a moment please read through the details and add any comments: https://github.com/aws-amplify/amplify-js/issues/2716

Your feedback in the RFC will help us ensure that we are delivering the best experience possible. Thank you.

[2019-02-15 21:56] undefobj commented on #1585
Hello everyone, we have created an RFC for feature work that should make the challenges found in this issue easier in the future. If you have a moment please read through the details and add any comments: https://github.com/aws-amplify/amplify-js/issues/2716

Your feedback in the RFC will help us ensure that we are delivering the best experience possible. Thank you.

[2019-02-15 21:56] undefobj commented on #1521
Hello everyone, we have created an RFC for feature work that should make the challenges found in this issue easier in the future. If you have a moment please read through the details and add any comments: https://github.com/aws-amplify/amplify-js/issues/2716

Your feedback in the RFC will help us ensure that we are delivering the best experience possible. Thank you.

[2019-02-15 21:57] undefobj commented on #1392
Hello everyone, we have created an RFC for feature work that should make the challenges found in this issue easier in the future. If you have a moment please read through the details and add any comments: https://github.com/aws-amplify/amplify-js/issues/2716

Your feedback in the RFC will help us ensure that we are delivering the best experience possible. Thank you.

[2019-02-15 21:57] undefobj commented on #1386
Hello everyone, we have created an RFC for feature work that should make the challenges found in this issue easier in the future. If you have a moment please read through the details and add any comments: https://github.com/aws-amplify/amplify-js/issues/2716

Your feedback in the RFC will help us ensure that we are delivering the best experience possible. Thank you.

[2019-02-15 21:57] undefobj commented on #1281
Hello everyone, we have created an RFC for feature work that should make the challenges found in this issue easier in the future. If you have a moment please read through the details and add any comments: https://github.com/aws-amplify/amplify-js/issues/2716

Your feedback in the RFC will help us ensure that we are delivering the best experience possible. Thank you.

[2019-02-15 22:58] manueliglesias commented on #1181
Awesome news @mrowles !

post-mortem:

`amazon-cognito-identity-js` is doing an import like this:
[code]

where `TypedArrays` is unused; this is presumably making bundlers drop it when doing tree-shaking.

the import was changed to:

[code]

Reference:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import#Import_a_module_for_its_side_effects_only

Import an entire mod

[2019-02-15 23:01] mrowles commented on #1181
Mate nice find, I stepped through hours of unminified vs minified code and was at a
complete loss, no idea how you came across this but well in 😂

[2019-02-15 23:13] manueliglesias commented on #1181
VS Code gave me a big clue 😛

![screen shot 2019-02-15 at 3 12 14 pm](https://user-images.githubusercontent.com/6154160/52889310-30e6c000-3134-11e9-8ce5-ba867a3b1d89.png)

[2019-02-15 23:39] manueliglesias commented on #2711
Hi @ffxsam

I haven't been able to reproduce it (I am using `withAuthenticator` in a react app)

would it be possible to create a codesandbox or similar where I can see some more of your code?

[2019-02-15 23:48] manueliglesias commented on #2708
Hi @supun19

Can you confirm you see the Amazon identity provider when you run:

[code]

[2019-02-15 23:53] skdigital commented on #2613
for some reason, amplify have only included s3 as hosting options for deployment so as far as I know the hugely popular NextJS and Nuxt dont work with Amplify....

[2019-02-16 00:00] supun19 commented on #2708
Hi @manueliglesias

It says
[code]

[2019-02-16 00:13] baffleinc commented on #2716
Cannot +100 this enough 🙏

[2019-02-16 00:46] manueliglesias commented on #2708
@supun19

Are you sure that's the correct identity pool id? Also, could you verify you are using the right credentials?

https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-files.html

[2019-02-16 00:51] supun19 commented on #2708
Yes, I have a double check I am also confusing. I check identity pool id and I also give administration access for a role ? and google signin working. I also check the identity pool there is amazon client Id.

[2019-02-16 00:54] supun19 commented on #2708
Hi @manueliglesias
 Sorry I have change default region It gave me amazon client id

[2019-02-16 01:12] manueliglesias commented on #2708
When I run the command with my identity pool id, I see something like this:

[code]

do you see an entry in yours for `"www.amazon.com"`?

[2019-02-16 01:15] supun19 commented on #2708
@manueliglesias  it something like this
[code]

[2019-02-16 01:28] supun19 commented on #2708
@manueliglesias I added identity providet to the cognito pool but also not working google login is working
[code]

[2019-02-16 04:10] hectomg commented on #1907
Totally diferent issue. Please dont insert "noise" to this thread. This issue is about how to configure the API in Amplify, yours is about deployment.

[2019-02-16 04:41] goatandsheep commented on #1907
@hectomg true, but he has an issue and it needs to be solved. It would have been better if he created his own ticket, but here we are.

[2019-02-16 05:48] khola commented on #2716
Yes yes yes! This sounds awesome and will be really helpful. 😍😍😍

[2019-02-16 08:44] callmekatootie opened #2719 "How to verify email address if user information does not exist"
** Which Category is your question related to? **
It is related to the Auth module

** What AWS Services are you utilizing? **
Cognito and Identity Pool

** Provide additional details e.g. code snippets **
This is my scenario:

1. User gives their details, including email address at the time of registration. I have Cognito set up such that they need to verify their email address and cannot proceed

[2019-02-16 20:26] sivang commented on #2700
hey there @undefobj , thank you most very much about this reply!

I am familiar with that item, as well with some of the comments there. And am familiar with the MVP's reqs as per support in VueJS (it seems most reasonable to match with that, as Vue seems to follow more closely, at least from the API standpoint, Flutter's declarative flavor ).

Is there a document somewhere for interested prospect

[2019-02-16 20:28] liangguohun opened #2720 "Could not find com.android.support:appcompat-v7:28.0.0"
** Which Category is your question related to? **
**amazon-cognito-identity-js**
** What AWS Services are you utilizing? **

** Provide additional details e.g. code snippets **

Error:A problem occurred configuring project ':amazon-cognito-identity-js'.

     Required by:
         project :amazon-cognito-identity-js > com.facebook.react:react-native:0.58.4
and all other module in android will
Coul

[2019-02-16 20:47] manueliglesias commented on #2705
This seems related to #2087

[2019-02-16 20:58] manueliglesias commented on #2706
Hi @michaelcuneo

I've noticed you are using Amplify's API category (`await API.graphql(graphqlOperation(createPost, { input: this.state }))`).

The automatic upload of complex objects is a feature of the [`aws-appsync`](https://github.com/awslabs/aws-mobile-appsync-sdk-js/) package. The docs you looked at were probably for this package. You can look at this [sample app](https://github.com/aws-sam

[2019-02-16 22:12] destpat commented on #1342
You can access to a `level: 'public'` or `level: 'protected'` picture without signature, just remove the signature before adding the url in a dom.

`photoUrl.substring(0, photoUrl.indexOf('?'))`

[2019-02-16 22:18] mHou407 commented on #2705
#2087 seems to be about Amplify trying to track device for USER_PASSWORD_AUTH flow, which does not support device tracking, according to this comment https://github.com/aws-amplify/amplify-js/issues/2087#issuecomment-445592537. In my case, I'm using a passworless CUSTOM_AUTH flow. I guess the nature of the issue is different event though the symptoms are similar

[2019-02-17 00:13] ffxsam commented on #2711
@manueliglesias Do you mind if I create a private repo and add you to it? And I can put some instructions for you in the README.

[2019-02-17 00:55] michaelcuneo commented on #2706
So I either have to wrap my app in Apollo and use the old way of auth, api setup, etc... or use a really really old, way of doing the upload myself and ignoring the fact that amplify-is is now an Apollo wrapper when using API GraphQL? This means it’s impossible.

Why would amplify-js wrap Apollo automatically, but disable most of its useful function like, ComplexObjects?

[2019-02-17 05:07] akalana commented on #2708
Hi @supun19 @manueliglesias  ,
I am also trying to integrate amazon social login.Unfortunately, I've had this exact same issue.

[2019-02-17 05:22] johnf commented on #2147
I ran the equivalent search against elastic search directly and the error is
[code]
So I think this is related to how AppSync is creating the index in ElasticSearch.

[2019-02-17 05:26] johnf commented on #2586
I did hours of research on this today. I think the implementation is incorrect.
The code is assuming that search works the same way as list and that the entry in sort can be used as a nextToken.

That is how DynamoDB backend works, but not how the ElasticSearch backend works.
ElasticSearch implements from and it should be an offset. i.e. if you want the 11-20th records you would set from to 11. Si

[2019-02-17 17:49] NisaarAgharia commented on #2403
its available for react and vue, why is this issue with angular? can any one please help

[2019-02-17 17:51] NisaarAgharia commented on #2403
@holtc , hi chris,
i changed the node_modules files of aws amplify angular, but the html page cant recognize the signInConfig, my packages updated pages are not getting picked up.

[2019-02-17 19:31] mHou407 commented on #991
Hi @ianpogi5, you mentioned in your comment that you are using "password-less login for user and use MFA to authenticate". I'm just wondering did you achieve this by using CUSTOM_AUTH flow or MFS with pre-set password? I'm trying to achieve the same on-boarding/log-in flow, but noticed that Congito won't initiate SMS MFA unless a correct password is supplied in CUSTOM_AUTH flow.

[2019-02-17 20:02] nkaplatt commented on #1159
Have also just come across this error. Changing the attribute settings hasn't solved it and there doesn't seem to be any mention of it anywhere else online - would be helpful if the error in question gave any hint at what is actually wrong rather than a generic 'Network Error'

[2019-02-17 20:25] mHou407 opened #2721 "Q: [Cognito] Is there any concerns with auto confirming account in pre-sign-up hook?"
** Which Category is your question related to? **
Cogntio auto-confirm account / best practice

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
I'm using a CUSTOM_AUTH flow to achieve password-less sign in (SMS passcode only). Here is the desired on-boarding / sign-in flow:
1)	User enters a phone number.
a)	If phone number doesn’t exist, prom

[2019-02-17 22:07] tetreault commented on #2618
This was great thanks @manueliglesias ! Does anyone have any recommendations on fixing the busted styling on iPhone X simulator?

<img width="437" alt="screen shot 2019-02-17 at 5 03 51 pm" src="https://user-images.githubusercontent.com/5934354/52920051-835fe200-32d6-11e9-8b69-7ced8097b301.png">
<img width="476" alt="screen shot 2019-02-17 at 5 03 46 pm" src="https://user-images.githubusercontent.

[2019-02-17 23:04] undefobj commented on #2363
@NikoMontana @dimitarrusev @floric we are working on automating this & making it easier. You are correct that the `@auth` features of the GraphQL transformer only work for User Pools at the moment and if you want to have Auth & UnAuth access to an AppSync API you will need to use AWS_IAM via Cognito Identity Pools right now. If you could take a moment and read our RFC please do so to ensure that w

[2019-02-17 23:19] undefobj commented on #1772
@sflamme comment is correct, the token information in the AccessToken is not the same as the IdToken. This seems to be working as expected. Can we close this issue?

[2019-02-17 23:24] undefobj commented on #297
@peetss @stephenhuh @dcsena @ceich we are looking at an enhancement for `Auth.federatedSignIn()` at this time which could potentially address this use case. Please see the RFC here: https://github.com/aws-amplify/amplify-js/issues/2716

I'd be interested in seeing what you expect the overloaded scope experience would look like in a more simplified API. Could you please comment in the RFC?

[2019-02-17 23:25] undefobj commented on #2716
Potentially include scopes per: https://github.com/aws-amplify/amplify-js/issues/297

[2019-02-17 23:28] undefobj commented on #2487
@tcchau we are looking at automating the setup of scenarios like this for you. Can you take a look at our RFC and either +1 or comment on it if it would meet your use cases? https://github.com/aws-amplify/amplify-cli/issues/766

[2019-02-17 23:30] undefobj commented on #2202
@fredrivett We are working on automating this & making it easier. You are correct that if you want to have Auth & UnAuth access to an AppSync API you will need to use AWS_IAM via Cognito Identity Pools right now. If you could take a moment and read our RFC please do so to ensure that we are capturing your requirements: [aws-amplify/amplify-cli#766](https://github.com/aws-amplify/amplify-cli/issues

[2019-02-18 00:30] michaelcuneo commented on #2706
What I mean is... amplify-js does away with the complex writing your own queries and mutations and provides them in an easy automated setup, and wraps it all in Apollo, (If I remember correctly)... so to use Complex Objects I have to completely do away with amplify-js... how can I wrap apollo twice? How can I have a bunch of predesigned mutations and queries, and just start writing my own? It's as

[2019-02-18 02:55] sakhmedbayev commented on #2586
Thank you @johnf! To see a detailed implementation would be great.

[2019-02-18 05:06] rcbrown commented on #2716
Is this correct?

Seems that if the call to `federatedSignIn` can redirect to the hosted UI, then token should not be required (because it is a return value from the hosted UI, whether it be through user pool username/password or social IdP). It should only be required if a custom UI has already obtained it from `Auth.signIn()` to the user pool or from a social IdP.

[2019-02-18 05:09] rcbrown commented on #2716
Might also be more orthogonal if `provider` were instead passed as `cognito_userpool` or such, instead of having Cognito user pool inferred from the absence of provider. Would it still then be required at `Auth.configure()`?

[2019-02-18 06:26] JoePassanante commented on #992
I managed to get the access token from
let jwt = Auth.currentAuthenticatedUser()
        .getSignInUserSession()
        .getAccessToken()
        .getJwtToken();

[2019-02-18 08:26] BoaPi opened #2722 "How to set API token in axios headers, after sign in (react)"
**Which Category is your question related to?**
Authentication, usage of tokens

**What AWS Services are you utilizing?**
only Authentication service of AWS

**Provide additional details e.g. code snippets**
* react 16.7.0
* axios 0.18.0

Currently we are using the Authenticator Wrapper inside our App.js component. In all components inside the wrapper we are referring to the `authState` to determi

[2019-02-18 08:59] barroij commented on #2675
My use case is :
I have a web app in which user can sign up. Users are grouped by Team/Compagny. The user that creates the team becomes the "team owner". A Team has different projects. The "team owner" assign team members to one or several projects. And the permission to access/modify ressource of a user depends on the projects it has been assigned to and/or whether it the "team owner" or equivale

[2019-02-18 13:22] djarmoluk commented on #1907
@hectomg - my primary issue is with configuration.  Fair enough though… should have created another thread for deploy comments.
On Feb 15, 2019, 11:41 PM -0500, Kemal Ahmed <notifications@github.com>, wrote:

[2019-02-18 13:47] vanpra1 opened #2723 "Cognito token not refreshing automatically"
**Describe the bug**
I am using AWS Amplify with OpenID as part of my ReactJS application. For authentication I am using a different library redux-oidc. I am passing the user token to Auth.federatedSignIn(), based on whether there are credentials currently available when I call Auth.currentCredentials(). I notice that on the first hour after the conigto tokens get refreshed Auth.federatedSignIn()

[2019-02-18 14:09] roborourke commented on #1759
I'm seeing this issue when trying to use the `Analytics.record()` method too. I only set this up in January and had the latest version of amplify at the time. Both `mobiletargeting:UpdateEndpoint` and `mobiletargeting:PutEvents` are present - there are quite a few different IAM roles that were created via amplify CLI.

[2019-02-18 14:37] amwill04 commented on #2365
Still no resolution to this?

[2019-02-18 14:42] tszebeni commented on #960
Was it merged?

[2019-02-18 15:42] kenji4569 opened #2724 "Some iOS devices does not receive Push Notifications"
My iPad Pro 11 inch does not receive Push Notifications with AWS-Amplify (The version is v 1.1.18 but I think the problem will occur in the latest master).

After investigation, I found that an error is occurred on `updateEndpoint` with validation errors: `...Demographic.Make to be a string ... Demographic.Model to be string...`.

At this point, the input to the `updateEndpoint` was `{...Make: {},

[2019-02-18 16:20] vanpra1 commented on #1218
I am having a similar scenario and a similar issue. Has anyone solved this one yet?

[2019-02-18 16:50] haverchuck commented on #2708
@supun19  (and possibly @akalana) - I think the issue might be that you seem to have entered the client_id in the cognito identity pool instead of the application id.  So you what you have in the 'federated' object is right, but the value in the identity pool should be something like 'amzn1.application.***'.  You can find this value in the security profile management screen in your Amazon develope

[2019-02-18 16:52] haverchuck commented on #2710
@roborourke What kind of application are you developing (React? Angular? Vanilla JS?), and what kind of routing mechanism are you using?

[2019-02-18 17:32] haverchuck commented on #2723
@vanpra1 It's a bit hard to say anything conclusive without knowing more about how you are using redux-oidc; however, you might want to investigate two potential areas.

1) It looks like you are using Google signin.  If so, I believe that Amplify will need the Google API library ('gapi') on your window object.  Please see the Google section of these [code samples](https://aws-amplify.github.io/doc

[2019-02-18 17:56] manueliglesias commented on #2711
@ffxsam that would be great!

[2019-02-18 17:59] jkeys-ecg-nmsu commented on #2634
@manueliglesias I'm not certain when the authentication flow type needs to be set, but this code in my App.js (before declaration of App class) does not successfully set the authentication type:

`Amplify.configure(aws_exports,` {Auth: {authenticationFlowType: "USER_PASSWORD_AUTH"}});`

I've also tried manually setting it with Auth.configure(), both before and after the above declaration, and it h

[2019-02-18 18:00] haverchuck commented on #2501
@ajhool  - We have an [RFC](https://github.com/aws-amplify/amplify-cli/issues/766) up in our CLI repo which I think addresses your use case (if not the actual implementation you describe).  The functionality described in this RFC would still utilize a single Amplify object, but would allow for the configuration of more granular permissions.  I am closing this issue for now - but please feel free t

[2019-02-18 18:13] ffxsam commented on #2711
Great, gimme some time, I'll also put together a video demonstrating the issue, too.

[2019-02-18 18:28] vanpra1 commented on #2723
The comments may be misleading, but i am using auth.xxx.com OpenID fro signing in. I dont think I will be able to setup refresh handler(See https://github.com/aws-amplify/amplify-js/issues/1218). Its a single page application following implicit flow for OpenID. I am using a different mechanism for getting the tokens. redux-oidc takes care of signing in and getting tokens from OpenID into 'user' ob

[2019-02-18 18:30] vanpra1 commented on #2723
The comments in the code above may be misleading(i just updated them), but i am using auth.xxx.com OpenID fro signing in. I dont think I will be able to setup refresh handler(See #1218). Its a single page application following implicit flow for OpenID. I am using a different mechanism for getting the tokens. redux-oidc takes care of signing in and getting tokens from OpenID into 'user' object abov

[2019-02-18 18:42] ialmoqren opened #2725 "aws-amplify-react-native UI Components"
In the [Amplify docs](https://aws-amplify.github.io/docs/js/ui#album) it says that the album component is only available for React or Angular, and Vue, which means that there is not an album component for react native
![image](https://user-images.githubusercontent.com/26797924/52970279-538f0800-33c4-11e9-96c7-fa9bea1c159e.png)

But when I look into the [aws-amplify-react-native source code](https:

[2019-02-18 19:51] haverchuck commented on #2722
@BoaPi  -  I am not well-versed in redux-sagas,  but I would imagine there is a way to make the dependant components not mount unti lthe token is set (again, I'm not sure).  Is that not so?  If I am misunderstanding the problem can you please share some more of the relevant code?

[2019-02-18 20:02] haverchuck commented on #2529
Closing this due to inactivity.  Please feel free to reopen!

[2019-02-18 20:02] #2529 closed

[2019-02-18 20:08] haverchuck commented on #2719
@callmekatootie I believe Auth.verifyCurrentUserAttribute is used to verify and attribute or attributes for a user who has already been confirmed in the signup process.  Instead, try calling Auth.confirmSignUp like so:

[code]
Whether or not you need to have them proceed to confirm their email address after this depends on your configuration.

I'm closing this for now, but please feel free to reop

[2019-02-18 20:08] #2719 closed

[2019-02-18 20:11] haverchuck commented on #2720
@liangguohun What kind of project are you developing?  Native Android?  React Native?

[2019-02-18 20:58] haverchuck commented on #2708
I am going to close this issue as I think the cause was identified in my previous comment; however, please feel free to reopen this!

[2019-02-18 20:58] #2708 closed

[2019-02-18 21:04] jkeys-ecg-nmsu opened #2726 "How to use ApolloProvider with withAuthenticator HOC"
** Which Category is your question related to? **
Auth, API, aws-amplify-react HoCs

** What AWS Services are you utilizing? **
AppSync, Cognito, Amplify

** Provide additional details e.g. code snippets **
When I try to add the ApolloProvider to my React-based Amplify project, I am met with a slew of errors while trying to compose `withAuthenticator` with my own Higher Order Component.

This is p

[2019-02-18 21:04] haverchuck commented on #2633
@mrname I've merged a fix for this into our unstable build (npm i aws-amplify-vue@unstable).  It should be available on the main build in the near future.

Closing this issue for now; please feel free to reopen.

[2019-02-18 21:04] #2633 closed

[2019-02-18 21:06] undefobj commented on #2716
@rcbrown Good catch, I was actually commenting more with respect to the implementation but yes you are correct that token **isn't** required here as the IdP will pass it back. I'll update the posting.

[2019-02-18 21:12] undefobj commented on #2716
As a design principle Amplify uses configuration for making these decisions which allows tooling, such as the Amplify CLI, to scaffold things out. The goals are to reduce the need for Frontend engineers needing to learn all of the backend implementations and by pushing it into config we can keep a nice abstraction.

[2019-02-18 22:04] undefobj commented on #2675
Hi @barroij I understand now. Essentially you are looking for a Union of permissions. You are correct that per https://docs.aws.amazon.com/cognito/latest/developerguide/role-based-access-control.html#using-tokens-to-assign-roles-to-users in the case of multiple possible roles (which happens if precedence is equal) then your only option might be setting `CustomRoleArn` on the client which is not id

[2019-02-19 00:08] ElektrikSpark commented on #1012
I am still getting this warning when signing out after navigating to another page using aws-amplify-react:

Is this still a known issue for aws-amplify-react or is my implementation wrong by chance?

[2019-02-19 00:36] ffxsam commented on #2711
@manueliglesias I've added you to my private repo. Check out issue #80 for some details.

[2019-02-19 02:25] hectomg commented on #1907
I had the same error in console: "error: Uncaught (in promise) API <API name> does not exist".
My error was I recently upgraded my configuration proccess from an Angular Service to use environments files and for my DEV stage i was using "ng build --prod" and I forgot to changed it to "ng build -c dev". My deploy proccess used "ng build --prod" and this way the build bin used environment.prod.ts fi

[2019-02-19 03:17] callmekatootie commented on #2719
I am not getting the option to reopen this ticket. But I get a feeling that what I am looking for is not currently supported

The issue with the solution that you have proposed is that `Auth.confirmSignUp()` expects the code - correct me if I am wrong, but doesn't the code expire after a period of time - Also, what I am looking at is sending the confirmation code through email once more (say the u

[2019-02-19 04:37] vanpra1 commented on #180
@imewish were you able to progress further on this one? I am pretty much getting same errors as you do. The only difference in my case is that I am using openid. Please share your findings

[2019-02-19 04:50] imewish commented on #180
@vanpra1 my issue got solved.

The issue with my settings was, I was configuring `oauth` inside my signIn component. Had configure the same inside project's `main.js` file.

[code]
Which made the app to send correct `auth` events to cognition.

then use `onHubCapsule` to capture the `auth` events and to login/logout users.

[code]

[2019-02-19 05:22] funkfinger opened #2727 "Amplify Console build issue"
I have a build that deploys fine using the CLI but not with the Amplify Console. The build log reports that it `Cannot find file './components/SurveyContainer' in './src'.` The repo is currently private, but I can show more if necessary.

The response during the frontend build activity is:

    # Starting phase: build
    2019-02-19T05:14:34.755Z [INFO]: # Executing command: yarn run build
    201

[2019-02-19 09:40] BoaPi commented on #2722
Hi @haverchuck - thx for the quick response.
I think the approach you describe should be work.
I thinking of extending the TokenHandler Component with render-props to decide if the components should be rendered. And as long the API token is not set render nothing or push back to '/'.

One last question, is there a way to to extends the functionality of the Authenticator component, in a way that, t

[2019-02-19 10:19] barroij commented on #2675
Thanks a lot for your answer @undefobj ! I'll have a look at grahQL and see which option is better.

[2019-02-19 10:51] roborourke commented on #2710
@haverchuck sorry, it's vanilla JS on a standard WordPress site. No routing other than plain old links.

[2019-02-19 11:25] edmundojr commented on #1055
I ran into the same issue, the workaround is to put the notification icon named as `ic_notification.png` inside the `mipmap` directories instead.

[2019-02-19 12:34] vanpra1 commented on #180
@imewish thanks for sharing. Did you include refreshHandlers?

[2019-02-19 12:41] imewish commented on #180
@vanpra1 when you use the above method, you don't need a refresh handler. When the user logs in, refresh token is generated and will be stored in your local storage.

[2019-02-19 14:40] benoj opened #2728 "listQuery is limited to 10 by default"
**Describe the bug**

The default limit on the list{Model} query is 10, which means that as the table grows as more items are added by different owners - then people lose their items as not returned.

[code]
Is there a better way to queryItems by an owner without setting limit to a really high number? If not then this should be documented..

[2019-02-19 14:54] cliffordh commented on #2213
any update on this one?

[2019-02-19 15:08] sanket-tubbr commented on #2414
How to hide Sign Up link in amplify-authenticator?

[2019-02-19 15:15] robotlemons commented on #2685
@OrangeDrangon I saw.. was hoping an option would be available to pass autocapitalize=off so maybe the form wouldn't do it naturally on mobile and a user would be forced to put capital if they registered with capital letter email

[2019-02-19 15:37] JoWolp commented on #2230
Hi @jordanranz,
Thank for working on this issue.
I am currently using the same setup as @robbylucia described with the react-electron-boilerplate, but I'm stuck at the error issued here.

Can you or someone else maybe elaborate more on the css loader workaround you mentioned?

[2019-02-19 16:01] gvlachos opened #2729 "DynamoDB, ElasticSearch results order with list and with search queries"
I use the latest version of the Amplify and created a GraphQL endpoint with `@model` and `@searchable`  :

[code]

I then entered the following 3 values through the AWS AppSync in the following order

1.
[code]

2.
[code]

3.
[code]

If I use a list query I get the results in the following order, this seems random as if I run it again I may get a different order:

[code]

[code]
My problem is if I

[2019-02-19 16:26] jkeys-ecg-nmsu commented on #2726
@haverchuck this issue persists when attempting to just use actual Authenticator component:

[code]

I assume that we want Authenticator to wrap ApolloProvider, and not vice-versa, because the user needs to be logged in before they can make queries.

Is there any way to unblock myself here without writing my own authenticator components?

**index.js**
[code]

[2019-02-19 16:55] swaminator commented on #2727
@funkfinger can you share your build settings? Found in App settings > Build settings in the nav bar on the left.

[2019-02-19 16:58] swaminator commented on #2666
@nagey thanks for reporting. We will have a fix shortly and get back to you.

[2019-02-19 17:35] jeancochrane opened #2730 "Cognito users have to verify email every time they log in"
**Describe the bug**

When logging into an app using `aws-amplify-react`, the user is prompted to verify their email address every time they log in. This persists whether or not email verification is enabled in the user pool configuration.

**To Reproduce**

I'm not sure if there's an easy way to reproduce this. I stood up one version of the stack and it worked fine, but then when standing up anot

[2019-02-19 17:39] funkfinger commented on #2727
Sure, I have not made any changes to the original generated build settings:

[code]

[2019-02-19 17:43] funkfinger commented on #2727
Let me add that the the code was bootstrapped from `create-react-app` - here is my `package.json`

[code]

[2019-02-19 17:44] haverchuck commented on #2726
@jkeys-ecg-nmsu - I was able to get the code from your original post working.  However, I reproduced the error you cited by not importing the `<ApolloProvider>` and `<Rehydrated>` properly.

Please make sure you are doing:

[code]

Does that fix your issue?

[2019-02-19 17:50] haverchuck commented on #2551
@michaelcuneo - Are you saying that you want to use the Amplify Console to manage your frontend and backend resources (the ones created via the CLI), or that you want to simply manage your frontend with the Amplify Console and have said frontend use the resources originally created via the CLI, and have those resources remain unchanged?

Also, when you say the 'old amplify-cli', do you mean the aw

[2019-02-19 18:03] haverchuck commented on #2730
@jeancochrane -  To debug this, try setting a log level.  In index.js or similar entry you can do:  `window.LOG_LEVEL = 'DEBUG';`.   This will turn on Amplify's logger.  Then, look for an entry like `[DEBUG] 57:38.864 Authenticator - authenticator state change verifyContact`.  You can then see the CognitoUser data being used the component(s).  There is a property called 'unverified' which contains

[2019-02-19 18:31] jkeys-ecg-nmsu commented on #2726
No, here are what my imports look like. I did make sure I was using named exports where appropriate.

[code]

I bootstrapped my application with create-react-app. Could you share your webpack.config.js?

[2019-02-19 19:52] jkeys-ecg-nmsu commented on #2726
@haverchuck I will start from scratch without create-react-app and see if I can get past this problem. Ty for letting me know that my code works. I'd like to leave this issue open until I've identified the problem (I'm leaning heavily towards webpack atm), if you don't mind.

[2019-02-19 20:07] jkeys-ecg-nmsu opened #2731 "FR: Export existing environment as a config file to be re-imported in new environment"
**Is your feature request related to a problem? Please describe.**
Pretty much all my Amplify applications involve the hosting and auth categories, and a good subset of those also use API, and most of them share configuration (e.g. disable user-signup, use optional TOTP email, require email, production hosting environment).

**Describe the solution you'd like**
I would like to be able to export th

[2019-02-19 20:09] jkeys-ecg-nmsu commented on #2731
Wrong issue page, sorry.

[2019-02-19 20:09] #2731 closed

[2019-02-19 21:02] askpatrickw commented on #935
@haverchuck  I installed aws-amplify@beta & aws-amplify-react@beta. I added auth (with required fields) and hosting to a new react app. The 'hello-world' create-react-app is wrapped `export default withAuthenticator(App, true);`. But, when I get to the create account page, I don't see the required fields.

Are there more steps documented someplace? I don't see the beta version of the docs online.

[2019-02-19 21:19] swaminator commented on #2727
Thanks. Two more things:
1) What is your apps directory structure? (Eg. CRAs directory structure looks like this: https://facebook.github.io/create-react-app/docs/folder-structure) When you run builds locally, what is the working directory from which you execute the build commands?
2) Can you share your app ARN? Found under App settings > General

[2019-02-19 21:37] askpatrickw commented on #935
I see  now you have to pass in a signUpConfig object. Nevermind. thank you !

[2019-02-19 21:51] haverchuck commented on #2726
@jkeys-ecg-nmsu - We're happy to leave this open! Please just keep us posted.

[2019-02-19 22:12] leobudima commented on #1094
@ngocketit - same here - we get "Access denied" randomly, then it works again a minute later, then again stops working randomly...I'm guessing that, if the problem was with any permissions, it wouldn't get through at all...

[2019-02-19 22:39] michaelcuneo commented on #2551
@haverchuck  Yeah, I've got an old project using awsmobile-cli and it's very slow... I forgot what it was called, and used the name wrong... was going to refactor the entire login authManagement system, and get it all set up under the new amplify-js client. There are only test users and test data in there right now, but I needed to migrate it over easily without breaking the production. I guess I

[2019-02-19 23:46] askpatrickw commented on #104
You can see how to do it here: https://github.com/aws-amplify/amplify-cli/issues/102#issuecomment-432730047

It does require manual config file editing before you push your config.

[2019-02-20 04:05] funkfinger commented on #2727
Here is the AWS app ARN:
[code]
I do everything from the root of the project. All of the source files are in the `src` folder. `amplify publish` runs correctly from the project root directory as does `yarn build`, `yarn start`, `amplify push`, etc....

Here is the directory structure of the project (ignoring `node_modules`, `.git` and `coverage` folders)- sorry if it's more than you need
[code]

[2019-02-20 05:17] Lenois opened #2732 "Slow subscribe notifications"
So I have the following code which is based on trying to get a collaborative editor around monaco
[code]
and then this code that listens to changes
[code]
What is happening is that if key presses are done in quick sucession it sends two updates before receiving the first event

so
sent event a
sent event ab
recieved event a

resets the values in the field
Is there a better way to try to get real t

[2019-02-20 06:00] kingtut commented on #2603
Also getting this error. User pool is not configured, would like to use Federated Identities only.

[2019-02-20 09:38] jarodsmk commented on #875
If anyone comes across this, I believe this is the solution going forward:

https://github.com/aws-amplify/amplify-cli/issues/508

[2019-02-20 10:09] romainquellec commented on #1613
Closing this. There is (at least) one issue on SSR improvement for aws-amplify.

[2019-02-20 10:10] romainquellec commented on #1108
Closing this.

[2019-02-20 10:10] #1108 closed

[2019-02-20 12:32] vparpoil commented on #1252
I ran into the same issue, which is really blocking in a real use of amplify to build an app. It make me really question the choice we made of using amplify...
I just tried the proposal [given above](https://github.com/aws-amplify/amplify-js/issues/1252#issuecomment-459920695) in order to allow unauthenticated users to run a mutation with the following :
[code]

Here is my JS :
[code]
And I always

[2019-02-20 13:45] medelman17 opened #2733 "Storage Put Method Should Return Prefixed Key"
**Is your feature request related to a problem? Please describe.**
Regardless of the protection `level` specified in `opts`, Storage.put() returns the same value for `key` upon success, obfuscating the fact that the actual key value for the object differs and requiring users to imperatively set the `right` value should the user wish to persist the correct key/object location. For example:

Call |

[2019-02-20 14:18] bichotll commented on #1089
Just for the record...I left the default `cookieStorage` configuration there by mistake:
[code]

I suppose many people have that issue because of the config?

[2019-02-20 14:26] Paddy-Hamilton commented on #992
@lolcoolkat Just wondering why you closed this ticket? Did you find a solution ? It would be great if you could provide some update to the status of this. did you use @gpolyn 's suggestion?

Thanks 👍

[2019-02-20 16:18] haverchuck commented on #2732
@Lenois Just to clarify - you are sending updates as the user is typing into an input field?  If this is the case, perhaps try using a [debounce technique](https://codeburst.io/throttling-and-debouncing-in-javascript-646d076d0a44)?

[2019-02-20 16:43] haverchuck commented on #2723
#1218

[2019-02-20 16:46] haverchuck commented on #2722
@BoaPi I don't believe there is an OOTB way to configure `Authenticator` in this way, but it's not a bad enhancement request if you want to make one.  I'm going to close this issue for now, but if you continue to have trouble please feel free to reopen it.

[2019-02-20 16:46] #2722 closed

[2019-02-20 17:21] jeancochrane commented on #2730
Thanks for the debug instructions @haverchuck! Will give that a try when I have a free minute and let you know what the output says.

[2019-02-20 17:40] matt-paul commented on #2609
I am struggling with the same error - the suggestion to resolve the issue does not rectify it unfortunately

[2019-02-20 18:00] holtc commented on #2403
I actually cloned the repo and then built it and pointed my dependency to my local copy, and that should fix it

[2019-02-20 18:01] rmitula commented on #2247
Did you figured it out?

[2019-02-20 18:09] gerrytsui commented on #2247
In our environment we add the equivalent of "Prod" to the AWS API Gateway console -> Custom Domain Names -> Base Path Mappings -> Path.
My guess is you(someone) specified  "Prod" there.

[2019-02-20 18:10] jamstooks commented on #1386
Hi, @undefobj - the proposed changes in #2716 look promising. I'm not quite sure how they will affect the lag after successful authentication where we see the sign in component displayed briefly. Will you be implementing @powerful23's [suggestion](https://github.com/aws-amplify/amplify-js/issues/1386#issuecomment-411578014) of adding the `isAuthenticating` state?

[2019-02-20 18:47] jeancochrane commented on #2730
Interestingly, the `CognitoUser` object in the debug output says that the email address is unverified:

[code]

However, when I grab the `userPoolId` from the `pool` attribute and use the AWS CLI to `list-users`, the user has a truthy value for `email_verified`:

[code]

[code]

[2019-02-20 19:15] schellack commented on #1824
@stormit-vn are you using Amplify auth to handle the response from the Cognito Hosted UI? I am doing something similar right now, but have had trouble getting Amplify to see that the user is logged in after being redirected back.

[2019-02-20 20:29] skoschik commented on #2713
Hey I'm also struck by this question, this would be a fantastic feature to have on <Connect/>.
The only way I could subscribe to multiple event sources was to modify the connect component.  Please excuse any hackiness in the PR I'm still getting familiar with the amplify code base.
Thanks!

[2019-02-20 20:44] #2234 closed

[2019-02-20 20:45] nayan27 commented on #2007
Any update on this topic ? We really need an interface to handle connection status! Thank you!

[2019-02-20 20:52] wizawuza commented on #2713
You can also extend the connect component, which is what I did. See here: #2527

[2019-02-20 21:14] mkaschke commented on #1252
@vparpoil  - it is still not working right?

[2019-02-20 21:15] vparpoil commented on #1252
@mkaschke It's working now. I can get a unauthenticated user to run a graphql mutation using this setup

[2019-02-20 21:17] skoschik commented on #2713
[wizawuza](/wizawuza), could you give an example of how that would look?
In the source it looks like `<Connect />` can only be bound to one subscription at a time.

`this.subSubscription = observable.subscribe(...)`

How can you extend the component to listen for multiple events (create,update,delete) if only one subscription can be bound to `<Connect/>` internally?

[2019-02-20 21:31] haverchuck commented on #2693
@ritesh -  Just wanted to give you an update.  We have found the root cause and are closing in on a solution.  We need to do a bit of testing, and will publish this to our unstable branch as soon as we can.

[2019-02-20 21:33] wizawuza commented on #2713
I just realized I misread your post (sorry, busy day).
So my other post may not answer your question, but maybe this will:
you'll have to use a custom subscription. For example, amplify probably creates something like this in a subscriptions.js file:
[code]
And then you can only select onCreatePost OR onDeletePost

But you could create a new subscription in a custom file:
[code]

I think that'll w

[2019-02-20 21:40] zyzski commented on #1340
looks like it's not possible to reset the user password if they are in the `FORCE_CHANGE_PASSWORD` state

unfortunately, might have to use the aws-sdk with a cloud function to handle this. otherwise I can see a solution where you create users with the same initial password and automatically complete the `Auth.completeNewPassword` function. wouldn't be very secure.

[2019-02-20 21:42] skoschik commented on #2713
[wizawuza](/wizawuza) that worked!
I'm still new to GraphQL but your solution is making me see the light!

Also this solution is way cleaner then dealing with an array of subscriptions like in my PR.  I'll take the trade off of having to manage a separate subscription file.

[2019-02-20 21:52] garyleefight commented on #2727
@funkfinger, it seems like you simply can't find the module. Did you check your repo contains that file. If yes, you can add more commands like find ./src/component/ -name "*.js" to see what's exactly under
that folder.

[2019-02-20 22:02] ianpogi5 commented on #991
hi @mHou407 No. Here's how I did my password-less login.
I created two rest api:
1. To store auto generated username and password with phone number as key in ddb.
2. To retrieve the username and password using phone number.

I only have one form which accepts phone number. When user submits form, I check api if phone number exists, if yes I do login process. If not, I do signup process.

Signup pr

[2019-02-20 23:07] michaelcuneo commented on #2329
I am using it the way it was intended I assume... the authenticator and signout/greetings HOC have always meant to be seperate? No one ever assumes to have a login screen with a massive sign out component in it's place... it's not UX/UI logical.

I have my entire project set out like this... I run an AuthManager which is a provider. It wraps <App />

[code]

AuthManager is a single provider contai

[2019-02-20 23:39] michaelcuneo commented on #2329
I would have just used the Authenticator alone and triggered directly from it, for my login/logout, but the Authenticator HOC doesn't trigger it's onSignIn action in a way that synchronises with the actual response from it's own service... so by the time you look at the results from onSignIn, they're actually null... but... if you use the Hub.Listen, this method is actually filled with data by the

[2019-02-21 00:20] michaelcuneo commented on #2329
Sorry, had to update again, I was wrong, the Greetings / SignOut component is still receiving no theme from my custom theme. I can customise the Authenticator component, but not Greetings or SignOut.

[2019-02-21 01:16] josoroma opened #2736 "<S3Image /> - Warning: Can't perform a React state update on an unmounted"
[code]

![image](https://user-images.githubusercontent.com/69951/53136239-e4d8b880-3543-11e9-9074-51f335f19a1f.png)

[2019-02-21 03:59] michaelcuneo opened #2737 "File name pattern for graphql query generation ignored."
**Describe the bug**

GraphQL compiled files never placed into the directory stated in amplify step by step questions.

**To Reproduce**

When I run

`amplify api add`

Then select GraphQL, create a schema, and finish generating my Schema...

I run,

`amplify push`

Then it asks if I want to generate the code for the GraphQL API... I say **YES.**
Chooses my code generation language. ... I say **ja

[2019-02-21 04:26] kenziyuliu opened #2738 "Amplify's compatibility with PhantomJS"
**Describe the bug**
When importing the following Amplify modules (`@aws-amplify/auth` and `@aws-amplify/analytics`) into the client side of my application, the app couldn't be loaded with PhantomJS

**To Reproduce**
Steps to reproduce the behavior:
1. Create a web app and include references to Amplify Analytics/Auth modules
2. Before rendering the page, try creating a `new AWSKinesisProvider()` i

[2019-02-21 06:44] mailyokesh commented on #2618
Am seeing this in the latest version of react native vs the amplify react native library i installed today. Was any one able to get this fixed? also am noticing that the AmplifyTheme.js is not present inside node_modules/aws-amplify-react-native/src , its empty

[2019-02-21 09:30] dylan-westbury commented on #2544
I am having similar issues with updating endpoints too, for react native application.

I update an endpoint as a user registers for push notifications.
[code]

I can manually send a push notification to the device using the token generated with pinpoint.

Throughout the app, I update userId once user is authenticated (e.g. login, signup, even tried other places)
[code]

I use a lambda function tha

[2019-02-21 09:56] BenediktMiller opened #2739 "PubSub Websocket: "AMQJS0008I Socket closed." when trying to subscribe"
**Describe the bug**
I followed the tutorial to create Auth for my React App, then I followed the tutorial on using PubSub with AWS IoT. The first Problem I encountered was that using the pubsub endpoint: `wss://xxxxxxx-iot.eu-central-1.amazonaws.com/mqtt` resulted in a "legancy certificate error" (I am using chrome) so i replaced the endpoint with `wss://xxxxxxx-ats.iot.eu-central-1.amazonaws.com

[2019-02-21 12:24] surajSDM commented on #2517
hi same error here  **Missing required key 'userId' in params**

this is mine configuration for aws-export:
const awsmobile = {
  aws_project_region: "****",
  aws_cognito_identity_pool_id:
     "****",
  aws_cognito_region: "****",
  aws_user_pools_id:  "****",
  aws_user_pools_web_client_id:  "****",
  Auth: {
    identityPoolId:  "****",
    region:  "****"
  },
  Interactions: {
    bots: {

[2019-02-21 14:52] vparpoil commented on #1252
Another issue with this setup that happens to me : when running `amplify push`, the aws-exports.js file is overwritten and the `aws_appsync_authenticationType` switch back to AMAZON_COGNITO_USER_POOLS, resulting in 403 errors.
It's quite annoying, but is it a bug or a feature ?

[2019-02-21 16:12] haverchuck commented on #2738
@kenziyuliu Would you mind posting any error output you are receiving?

[2019-02-21 18:13] jkeys-ecg-nmsu commented on #2726
@haverchuck I started from scratch with a new create-react-app application and a new Amplify backend. Here are my index.js and
index.js (unchanged from create-react-app default):
[code]

App.js:
[code]

As far as I can tell, this is the minimal set of imports required to hook up the AWSAppSyncClient with the ApolloProvider. But, I'm still getting this error:

 `index.js:1446 Warning: React.createE

[2019-02-21 18:38] Jun711 commented on #606
@vithmel
have you tried admin-user-global-sign-out? I tried but it doesn't seem to make users' sessions invalid.

I have tried these Auth Class functions after running admin-user-global-sign-out command:
currentCredentials, currentSession, currentAuthenticatedUser, currentUserCredentials, userSession and essentialCredentials
They return result for current user or session without any error.

[2019-02-21 19:13] jkeys-ecg-nmsu commented on #2721
I think your solution is fine, and a perfect example of why the Cognito triggers exist and why Cognito provides an admin API.

[2019-02-21 19:25] Jun711 commented on #469
@elorzafe
this is a related issue.

Hopefully this feature request will be able to achieve what is described in https://github.com/aws-amplify/amplify-js/issues/606: to disable user and user's access to API Gateway endpoint authorized by Cognito token immediately?
It seems that the tokens are valid for at least an hour which I saw on IAM Roles console.

maybe Amplify can expose a function to check

[2019-02-21 20:21] undefobj commented on #469
@Jun711 could you take a look at the RFC we have posted for the Amplify CLI here: https://github.com/aws-amplify/amplify-cli/issues/766
The "Admin Queries" might be what you are looking for. If so could you comment in the RFC with more details of how you might like this DX to work?

[2019-02-21 22:53] haverchuck commented on #2721
@mHou407 - Your solution seems like it would work from a technical perspective, but the answer to whether you should have any concerns is a bit tricky.   It would depend on the needs of the application and your specific security requirements.

[2019-02-21 22:53] #2721 closed

[2019-02-21 23:04] haverchuck commented on #2676
@apradillap  It is possible to call ChangePassword for authenticated users, but they need to actually know their current passwords.  If they've authenticated and THEN forgotten their password, then I believe that the verificationCode will need to be used.

[2019-02-21 23:04] #2676 closed

[2019-02-21 23:16] haverchuck commented on #2730
@jeancochrane - This does look like some sort of configuration issue.  Could you:

a) Post the client code you are using for authentication (unless you are just using an unmodified version of the aws-amplify-react Authenticator component)
b) a screen shot of your user pool settings in the Cognito console (feel free to redact senstive values)
c) your aws-exports key/values (again, with anything sen

[2019-02-22 00:06] jeancochrane commented on #2730
Sure thing! I've replaced potentially sensitive values with `${variable_notation}` below.

I believe this is the component in question:

[code]

Here's a gist containing the implementation of `withAuthenticator`: https://gist.github.com/jeancochrane/4bcc7faeaa6b615e5f4e52619a77fc4f

There are a few custom components passed in here that mostly adjust styling. I can post code for any of them that se

[2019-02-22 00:26] kenziyuliu commented on #2738
@haverchuck Unfortunately I wasn't able to get error output from Amplify by setting `window.LOG_LEVEL = "DEBUG"`.

Another way to tell is to insert a `console.log` statement after creating a `new AWSKinesisProvider()` and use PhantomJS's `page.onConsoleMessage` to observe that the console.log isn't run. I'm using the following versions:
NodeJS-aws-amplify-analytics = 1.2.x;
NodeJS-aws-amplify-auth

[2019-02-22 00:33] haverchuck commented on #2738
@kenziyuliu off the top of my head it could be something with the window object or something, but I'm not sure.  PhantomJS is not being actively developed at this time, so we don't actively support it unfortunately.

[2019-02-22 00:56] kenziyuliu commented on #2738
@haverchuck Thanks for your response! I'll take it as this won't be fixed. The prefix is just what our Config file uses, I should have removed it before pasting.

[2019-02-22 00:56] #2738 closed

[2019-02-22 01:39] sohara opened #2742 "Generated GraphQL declarations not written to project config source directory"
**Describe the bug**
It appears that the generated GraphQL declarations are always written a directory called `src` instead of respecting the `sourceDir` config atttribute that appears in `amplify/project-config.json`. This is a nested config attribute under `javascript.config`.

Steps to reproduce the behavior:
1. Create a new amplify js project
2. Choose e.g. the Ember framework option (which de

[2019-02-22 01:44] aroder opened #2743 "<Authenticator> not hiding default SignIn or SignUp when built using create-react-app"
**Describe the bug**
The SignUp and SignIn components should be hidden and replaced. They are not when the app is built using create-react-app. You can see the out of the box component above and my custom component below.

![image](https://user-images.githubusercontent.com/23650/53213975-d90af600-3618-11e9-88fe-03c16f35af7d.png)

I've tried with and without the "override" attributes. Here is the c

[2019-02-22 03:35] supun19 commented on #2708
Now its working thank you @haverchuck

[2019-02-22 03:37] supun19 opened #2744 "amazon social login scope"
I have setup scope as profile of Amazon social login of the identity provider. The amplify successfully login but authData does not contain email. amazon response something like this

[code]

[2019-02-22 05:08] annjawn commented on #215
Any updates on this? This a desirable feature. MFA through email will simplify the off boarding process for users who use corporate email domains to signup for an application.

[2019-02-22 05:11] supun19 commented on #2744
The Amazon social login only get Name from profile.
https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-react/src/Auth/Provider/withAmazon.jsx#L81

how to get email from profile.

[2019-02-22 05:12] undefobj commented on #215
While we've passed on this feedback to the Cognito team, we also suggest you open up a request on their official support forum: https://forums.aws.amazon.com/forum.jspa?forumID=173

[2019-02-22 06:37] rfdc commented on #1213
Is this feature supported yet?

If not, how do we deal with groups on API?
[code]
Thanks

[2019-02-22 06:49] AdamShechter9 commented on #2456
looking forward to this.
Need third party login (google) to work with aws-amplify for my angular application.
would be great if it could be just work with the hosted UI.  (custom UI would be amazing).

[2019-02-22 09:03] vparpoil commented on #2202
Many of us are in an edge case then ;) The user experience you describe as being unauthenticated at first with optional sign up seems pretty natural to me and the good way to design apps

[2019-02-22 09:06] vparpoil commented on #2742
This is an amplify-cli issue, maybe you should add your bug description here, it seems pretty similar : https://github.com/aws-amplify/amplify-cli/issues/916

[2019-02-22 13:20] supun19 opened #2745 "completely logout user from social login"
I login with social login then logout but when I again login doesn't popup social login, directly login to the app. can I logout completely user.

[2019-02-22 14:27] sartios opened #2746 "Empty cookieStorage object saves the tokens as cookies"
**Describe the bug**
The Auth module stores the tokens as cookies when the cookieStorage is an empty object. If it is undefined it uses the local storage.

**To Reproduce**
Steps to reproduce the behavior:
Amplify.configure({
  Auth: {
    region: "AWS_REGION",
    userPoolId: "COGNITO_USER_POOL",
    userPoolWebClientId: "CLIENT_ID",
    mandatorySignIn: true,
    cookieStorage: {}
  }
})

**Expe

[2019-02-22 14:28] surajSDM commented on #2517
@Jefftopia  @elorzafe @powerful23 @robbevan please let me confirm any update on this?

[2019-02-22 14:34] Jefftopia commented on #2517
@surajSDM I dropped this line of work in favor of using the aws-sdk directly which unblocked me.

For some reason, the only way I can get some amplify services to work is if I create anonymous Cognito users with the appropriate roles. This makes sense if I'm using a front-end, but I was using amplify on a node server that had secure access to my credentials.

[2019-02-22 15:58] bush commented on #612
Has there been any movement on this?  It looks like cognito really needs the extra redirect parameter ... I really think this should be re-opened.  If its not going to be reopened it would be nice to confirm there is an actual feature request in the backlog.

[2019-02-22 16:11] haverchuck commented on #2745
@supun19  - Can you please share the code that you are using to perform the signIn and signOut, as well the social provider you are using?

[2019-02-22 16:22] supun19 commented on #2745
This is log out function
[code]
not use custom signin function

social providers amazon,google.

[2019-02-22 16:32] haverchuck commented on #2726
@jkeys-ecg-nmsu - When I use your import statements, I can reproduce the error.

I am pretty sure that the issue is that you're trying to import `Rehydrated` from aws-amplify-react.  Trying importing it from 'aws-appsync-react'.

[2019-02-22 16:55] springcoil commented on #2686
I run into that exact error too.

[2019-02-22 17:19] jkeys-ecg-nmsu commented on #2726
@haverchuck we figured this out at roughly the same time as you :P What a stupid mistake to make. Sorry for wasting your time.

[2019-02-22 17:19] #2726 closed

[2019-02-22 19:13] nayan27 commented on #2692
This seems closely linked to my own issue: #2007 . I believe we really need a way to handle connection status properly. I also believe that should be fairly easy to implement/test/release. After looking at the lines provided above, the only missing thing is a connection event callback which we could pass to the MqttOverWSProvider. This callback could then be called in the MqttOverWSProvider.onDisc

[2019-02-22 19:14] fresnizky commented on #1852
👍

[2019-02-22 21:07] haverchuck commented on #2745
@supun19 - Hmmm.... do you see localStorage being cleared out?

[2019-02-22 23:29] ffxsam opened #2748 "Please delete"
disregard/delete

[2019-02-22 23:36] #2748 closed

[2019-02-23 01:22] supun19 commented on #2745
no it's not clear.

[2019-02-23 02:34] undefobj commented on #2669
Hello @jkeys-ecg-nmsu. I've looked into this a bit. We had already been looking into some possible improvements for Hub so your suggestions are timely. There have been some patterns we were considering including changing Hub into a full blown Observable, but right now we don't want to introduce any breaking changes and are unsure of the long term benefits here. However I think we can make some cha

[2019-02-23 03:12] undefobj commented on #2669
Do you have any use cases that require data to be processed in-order? The current thought in this new implementation is not to enforce any callback ordering or allow mutating the payload by middleware you introduce. There would be some potential implications of this which worry me:

1. It could have security implications, such as impacting Auth flows
2. It would require a stricture function protot

[2019-02-23 05:44] malcomm opened #2750 "Angular theme suport"
** Which Category is your question related to? **
aws-amplify-angular v2.1.6

** What AWS Services are you utilizing? **
aws-amplify-angular / Cognito

** Provide additional details e.g. code snippets **
I'm just trying to figure out if theme support is there for Angular. React seems to have a ton of support for themes, but Angular seems to have no love.

Getting down to the core, after importing

[2019-02-23 05:49] funkfinger commented on #2727
Thanks for looking into this- did you fork the `dev` branch? The error that is showing in the build process is:

[code]

but the file is there...

[code]

The build works fine from the `amplify` CLI - IE `amplify publish`

[2019-02-23 10:49] mannau opened #2751 "White screen after browser refresh with Facebook federated sign in"
I'm getting a white screen (of death) after a browser refresh with a Facebook federated sign-in. The steps to reproduce this issue:

1. Log in with Facebook federated sign-in
2. Refresh browser
3. White screen

The only way to fix the white screen is to clear the browser's Local Storage and re-login.

The problem seems to be related to #1282 but should already be fixed in my amplify version used (

[2019-02-23 14:49] tmjordan commented on #825
@powerful23 Please, how to use the new function to set session manually. I installed the beta version of amplify, but i can't find the new function.
Thanks

[2019-02-23 15:42] RodionChachura opened #2752 "Federated sign-in buttons have broken styles."
When using Authenticator component:
[code]
Component looks like this:
![image](https://user-images.githubusercontent.com/17750556/53288565-ac7ee780-379a-11e9-845c-9ffc69f4faea.png)
There are problems with icons in buttons.

[2019-02-23 18:39] jkeys-ecg-nmsu commented on #2669
I have no such use cases in mind, but can see how others might, eg using a channel to serialize network calls or shard data. That's probably a rare edge case though.

Just FYI, making "channel" a String type will not break _our_ codebase, but we currently use payload to send unstructured objects (as in, no "name" and "data" fields) in a number of cases, but refactoring that should be simple enough

[2019-02-24 00:18] undefobj commented on #2669
Ok I think for now I'm going to consider this a possible future enhancement unless we hear more feedback to the contrary this next week or so.

Do you have an example of what your objects look like? E.g. how many levels deep the keys are nested, etc.

[2019-02-24 00:47] annjawn commented on #2115
I have a similar issue as the OP. Instead of Facebook, I am using my Orgs OneLogin in OAuth with User Pool with Auth Code Grant. I am also bypassing the hosted UI and taking my users directly to the OneLogin login page and login works fine. But when logging out from the app using `Auth.signOut()` Cognito redirects back to the OneLogin login page. My App settings has the proper Sign out URL(s) and

[2019-02-24 06:22] matwerber1 commented on #2692
+1 request for connection event handlers and methods to retrieve current status. Same for subscriptions if not already present.

[2019-02-24 07:00] coreylee33 commented on #2746
Clear cookies

[2019-02-24 12:51] LucasRouckhout commented on #2750
I had the same issue. I'm building an Angular app and using the <amplify-authenticator> and when importing the styling it completely screws up the rest of my styling.

A quick look in the actual CSS reveals why this is so. `~aws-amplify-angular/Theme.css'` actually contains three other imports:
[code]
It is the Angular one that contains most of the _irritating_ css.
[code]

So what I did as a work

[2019-02-24 13:54] faermanj opened #2753 "Add cloud9 to editors list on amplify init"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-02-24 20:23] jkeys-ecg-nmsu commented on #2634
I'm closing this for now while I play around with it, let you all know how it goes.

[2019-02-24 20:23] #2634 closed

[2019-02-24 20:28] jkeys-ecg-nmsu commented on #2669
From the looks if it very flat, usually unnested objects.

[2019-02-24 22:22] eugeniogalioto commented on #584
Hi, in case you need a simple backend configuration I wrote a medium article about a Flask integration (the same concept can be applied to all the other frameworks): https://medium.com/@eu.galioto/the-simplest-server-configuration-for-your-aws-amplify-cognito-app-a074c01c743d

I hope you find it useful

[2019-02-25 05:58] virtualahmadraza commented on #1049
Did anyone find solution to this issue? I'm having same problem.

[2019-02-25 08:56] johanrin opened #2754 "Merge two accounts in Cognito created with same email (email and social)"
**Which Category is your question related to?**
Authentication

**What AWS Services are you utilizing?**
Amazon Cognito Hosted UI

**Provide additional details e.g. code snippets**
In my app, I have Amazon Cognito Hosted UI configured to handle Authentication by email and social (facebook and google).

_The problem:_
When a user create an account by email (ex: gmail) and later sign up by social (e

[2019-02-25 09:45] Myreage commented on #885
Any news about this ?

[2019-02-25 11:03] troymclure1 opened #2755 "appsync subscriptions not firing - Angular 6.1.1 / ionic 4"
**Describe the bug**

Appsync subscription not working with an Ionic 4 project, Angular 6.1.1.

**To Reproduce**
Cloned a new project from [here](https://github.com/ashteya/ionic4-tutorial-appsync) and then installed amplify and ran the amplify configure and amplify init, added an API and then pushed. I verified that the schema was created a long with the database etc. I then added the cognito aut

[2019-02-25 12:38] mannau commented on #2751
Never mind - turns out it was no amplify issue.

[2019-02-25 12:38] #2751 closed

[2019-02-25 16:26] haverchuck commented on #2720
Closing due to inactivity.  Please feel free to reopen.

[2019-02-25 16:26] #2720 closed

[2019-02-25 16:30] haverchuck commented on #2745
@supun19 -  Assuming you haven't set up your own custom storage of credentials, it seems like investigating why credentials aren't being cleared from local stroage is a good first step here (sorry - I should have been more precise in my earlier question and specified that user data is what should be cleared from local storage).

Try turning on the Amplify logger using the DEBUG log level, as descr

[2019-02-25 18:12] #1181 closed

[2019-02-25 18:39] selipso commented on #1252
While the above setup instructions by @dabit3 work when using `API.graphql`, when following the following example from Amplify, the same `no current user` error occurs.

[code]

[2019-02-25 19:51] #2356 closed

[2019-02-25 19:52] elorzafe commented on #2356
@silvanaweb @dannymcpherson I merged into master now, I will do more testing on the unstable release before doing a publish.

[2019-02-25 21:17] benoj opened #2757 "Make DynamoDB tables an output from cf templates"
Is is possible to set the dynamodb table name/streamarn as an output from the amplify cli. I need access to the tables from another CF based deployment.

[2019-02-25 21:23] haverchuck commented on #2730
@jeancochrane I'm working on trying to reproduce this (so far without luck).  You say that this works on your staging stack but not on your production stack.  Are you using the Amplify CLI and/or console to manage these environments?  Do you see any differences between the two user pools?

[2019-02-25 21:51] jeancochrane commented on #2730
We're using Amplify CLI to manage both environments. As far as I can tell, the user pools are close to identical -- the only differences are A) some minor differences in the password requirements and B) users in the production stack (the one seeing the unexpected behavior) cannot create their own accounts, while users in the staging stack can.

I've tried creating users both ways, with no luck. He

[2019-02-25 22:27] elorzafe commented on #762
@andersforsell I've just tried version 1.1.19 and it works as expected. Feel free to reopen or create a new issue if this problem persists. (tested there https://jsfiddle.net/zog84ej9/)

[2019-02-25 22:27] #762 closed

[2019-02-25 23:24] devotebest commented on #1066
@Mulperi how could we use on angular app?

[2019-02-25 23:28] abhishek0207 opened #2759 "Best Practice to have multiple apps share common amplify backend"
My application has a web project and a react native project. Both of them uses a common amplify backend.
What are the best practices or patterns that can be used in order to maintain the sync between the amplify files of the two projects?
Both web and mobile are separate project with their own git repositories.

Thanks in Advance

[2019-02-25 23:41] josephbridgwaterrowe commented on #2686
Hi @springcoil,

Are you experiencing the `Jest encountered an unexpected token` or `ReferenceError: dict is not defined` error?

I'd like to try and determine if my changes made above to get to `ReferenceError: dict is not defined` were correct, and I should continue debugging that error or not.

Thanks.

[2019-02-26 00:31] springcoil commented on #2686
Hi Joseph,
I am indeed experiencing that error.
ᐧ

On Mon, Feb 25, 2019 at 11:42 PM Joseph Bridgwater-Rowe <
notifications@github.com> wrote:

--
Peadar Coyle
Interested in levelling up your Machine Learning skills? Here is my
Probabilistic
Programming Primer <https://probabilisticprogrammingprimer.podia.com/>!!!
Skype: springcoilarch
www.twitter.com/springcoil
peadarcoyle.wordpress.com

[2019-02-26 00:55] selipso commented on #1252
After hours of struggling with converting my Cognito code to IAM, I've found the solution with migrating to AppSync with IAM. The [angular-chat-starter](https://github.com/aws-samples/aws-mobile-appsync-chat-starter-angular) repository helped, but I had to make a few changes.

Example source code for doing a mutation:

[code]

The above code is very similar to the app sync chat starter. However th

[2019-02-26 01:19] elorzafe commented on #2730
@jeancochrane I tried to reproduce the problem using `withAuthenticator` component like this.

[code]

When I created the user without confirming the email, I see the **Account recovery requires verified contact information** screen. By selecting the email radio button and verifying the code that is sent to the email change the status of the user and never ask for that again.

I think the problem

[2019-02-26 01:39] JustFly1984 commented on #1891
Hello, please update graphql dependency - it causes a lot of frustration.

[2019-02-26 01:46] ruiyang commented on #705
const oauth = {
      // Domain name
      domain : '<your domain>.auth.<region>.amazoncognito.com',
      // Authorized scopes
      scope : ['email'],
      // Callback URL
      redirectSignIn : 'http://localhost:8000/',
      // Sign out URL
      redirectSignOut : 'http://localhost:8000/',
      // 'code' for Authorization code grant,
      // 'token' for Implicit grant
      responseType: 'c

[2019-02-26 01:56] ruiyang commented on #1218
@vanpra1 The current parsing url to get authentication function is bounded with the use of hosted UI. In my case, I don't use the hosted UI. So I use the following codes to parse the URL and create the Auth user session.

const oauth = {
// Domain name
domain : '[your domain].auth.[region].amazoncognito.com',
// Authorized scopes
scope : ['email'],
// Callback URL
redirectSignIn : 'http://localhos

[2019-02-26 02:38] joshstir commented on #2524
I'm not sure if you figured this out yet, but here is how I got it to work:

in my component:
`public myOptions: StorageOptions = {level: `private`};`

then in my template
`<amplify-photo-picker [storageOptions]="myOptions"></amplify-photo-picker>`

Hope this helps!

[2019-02-26 03:11] joshstir commented on #2223
I'm not sure if you figured this out yet, but here is how you can use the options:
in my component:
`public myOptions: StorageOptions = {level: `private`};`

then in my template
`<amplify-photo-picker [storageOptions]="myOptions"></amplify-photo-picker>`

Hope this helps!

[2019-02-26 03:12] nikkon226 commented on #1218
This is what I'm currently testing. Not sure if it's perfect or handles everything, but it seems to work. It's part of a Vue SPA using vue-router. This is called on every router page change. There are commented out lines that I used when figuring out everything.

    return new Promise(function(resolve, reject) {
      Auth.currentAuthenticatedUser()
        .then((user) => {
          // console.

[2019-02-26 03:22] jkeys-ecg-nmsu commented on #2669
@undefobj since this isn't getting much feedback, maybe you could just create a new RFC thread and unpin this one?

[2019-02-26 06:29] XC3S commented on #2524
@joshstir thanks for the info, I will try it out today

[2019-02-26 07:16] ffjanhoeck commented on #2365
Same problem

[2019-02-26 08:16] justinbrush702 commented on #612
Whether you add a redirect parameter to the `AmazonCognitoIdentity.CognitoUserPool` or **just let us add a custom url in the Cognito user pool UI**, this feature should be added ASAP!

[2019-02-26 14:22] zainmusani commented on #2609
@matt-paul and @tarunmehta-quovantis did you got any solution?

[2019-02-26 14:32] duytq94 commented on #65
I don't know why command link just effect on Android, iOS does nothing.
Then I have to link manually, so for people stuck issue like me:
1. Find RNAWSCognito.xcodeproj in node_modules folder and add to Libraries
![screen shot 2019-02-26 at 9 30 04 pm](https://user-images.githubusercontent.com/24253421/53420113-bd835f00-3a0d-11e9-96d5-953b7eaa2b5c.png)
2. Click on your main project file (the one th

[2019-02-26 15:01] mike-casey-easyknock commented on #2498
This worked for me

source:
</^((?!\.(css|gif|ico|jpg|js|png|txt|svg|woff|ttf)$).)*$/>

target address:
/index.html

type:
200 (Rewrite)

[2019-02-26 16:09] aneeshjoshi opened #2760 "amplify configure doesn't show "canada" as a region"
Can canada be added as a region for aws amplify?
[code]

[2019-02-26 16:22] timkuilman opened #2761 "Granting access to S3 bucket for authenticated users"
** Which Category is your question related to? **
Accessing files in an S3 bucket

** What AWS Services are you utilizing? **
AWS Amplify with Auth added

** Provide additional details e.g. code snippets **
Hi!

I'm currently working on a React Native app that I am buildign with Amplify. I did add Auth and a GraphQL to the app and implemented both.

I am currently trying to load some images in my

[2019-02-26 17:46] elorzafe commented on #1066
@devotebest do you have issues with angular 6? [Here](https://aws-amplify.github.io/docs/js/angular#angular) are instructions on how to use it.

[2019-02-26 18:18] elorzafe commented on #612
@bush @justinbrush702 there is a RFC on [this issue](https://github.com/aws-amplify/amplify-cli/issues/766), we are discussing auth enhancements there.

[2019-02-26 18:37] elorzafe commented on #2761
@timkuilman I would add Storage to the project with `amplify storage add` and use that bucket in your app. You will have different access level according to your needs working out of the box. Take a look [here](https://aws-amplify.github.io/docs/js/storage#file-access-levels) for more information.

[2019-02-26 20:29] aireater opened #2763 ""Neither Email nor Phone Number selected" Message"
**Describe the bug**
Anytime I login to my react app using withAuthenticator I get the following message: Account recovery requires verified contact information. I can click skip but when i click verify I get an error: "Neither Email nor Phone Number selected"

**To Reproduce**
Steps to reproduce the behavior:
1. wrap main component with withAuthenticator
2. create an account in cognito web consol

[2019-02-26 20:45] mfreeman451 opened #2764 "vue example - cant create new todo"
**Describe the bug**
I've cloned the aws sample for vue, successfully issued the amplify commands, but when I try to add a 'todo' in the browser, I am getting this error:

message: "Validation error of type WrongType: argument 'input' with value 'ObjectValue{objectFields=[ObjectField{name='note', value=VariableReference{name='note'}}]}' is missing required fields '[name]' @ 'createTodo'"

message:

[2019-02-26 21:41] swaminator commented on #2727
@funkfinger can you email aws-amplify-customer@amazon.com? We'll try and schedule 15 mins with you since we aren't sure why your build is failing.

[2019-02-26 22:05] jeancochrane commented on #2730
@elorzafe The user pool ID in the `CognitoUser` object matches the one I'm expecting to see in the console, and when I run `aws congito-idp list-users` with the pool ID I can confirm that the attribute `email_verified` for my user is set to `"true"`.

I'll give it a try using the component that you posted, just to rule out that it's a frontend issue.

I tried to stand up a new version of the stack

[2019-02-26 22:41] tcchau commented on #2487
@jordanranz @undefobj I reviewed the RFC and don't really have anything to add.

I do want to point out something odd I observed though. It seems like for short period of time starting about a month ago, the temporary passwords being generated by Cognito started getting properly escaped.

We, of course, got a bunch of complaints from users signing up because their confirmation link wouldn't work,

[2019-02-26 22:42] blazinaj opened #2765 "Question Regarding 1-Many relationships with Named Connections using Amplify/Appsync"
**Which Category is your question related to?**
Appsync API
**What AWS Services are you utilizing?**
Amplify, Appsync, Cognito, S3, SES
**Provide additional details e.g. code snippets**

Question regarding Using Amplify/Appsync/Graphql/React, and the `@connection` directive. I have a 1-Many relationship schema that is similar to
[code]
The `Link`s will usually be created before the `SingleResource

[2019-02-27 00:18] aroder commented on #2743
Within the custom SignUp component, I had a simple component that in rare cases would return undefined. Correcting this to return null instead resolved the error. https://reactjs.org/docs/error-decoder.html/?invariant=152&args[]=Ge

So it was my fault, but I'll leave this here in case someone else does the same thing. It was lucky chance that I came across the source of the issue.

[2019-02-27 00:18] #2743 closed

[2019-02-27 01:27] agabardo commented on #1927
I am running with the same problem here for 2 days and cannot fix it.

Property 'subscribe' does not exist on type 'Promise<GraphQLResult> | Observable<object>'.

If I log the variable with console.log I can see a Promise there

Observable {_subscriber: ƒ}
_subscriber: ƒ (observer)
__proto__: Object

Anyone could come to a solution?

[2019-02-27 02:32] rmadugula opened #2769 "No way to use IPv6 for amplify storage?"
**Describe the bug**
No way to use IPv6 S3 dualstack buckets as described here:
https://aws.amazon.com/blogs/aws/now-available-ipv6-support-for-amazon-s3/
Using amplify as per instructions generates ipv4 only hostnames for s3 bucket access.

**To Reproduce**
Steps to reproduce the behavior:
1. make a simple s3 use case scenario using amplify
2. Turn off ipv4 and test in a pure ipv6 env

**Expected

[2019-02-27 06:40] michaelwills commented on #2613
It's doable but it's kind of bleeding edge so some things may break. I had a project working in an earlier version of Amplify where the Vue components worked under Nuxt but I see a new error in the current version. `this.$Amplify` is undefined when it mounts the `Authenticator` component. `aws-amplify` code still works though. You can even use `$nuxt.$Amplify` in the browser console to inspect thi

[2019-02-27 10:19] brylie opened #2771 "Parameters: [bucketName] must have values"
**Describe the bug**
When adding hosting to a project and running the `amplify publish`, the command fails with the following:

My *parameters.json* looks like this:

[code]

**To Reproduce**
1. issue `amplify add hosting`
2. use default values offered
3. run `amplify publish`

**Expected behavior**
I expected the app to be published successfully.

[2019-02-27 10:30] brylie commented on #2771
Here is full console log:

[code]

[2019-02-27 10:31] brylie commented on #2771
Here is full console log:

[code]

[2019-02-27 11:41] sakhmedbayev opened #2772 "aws-amplify-graphql example repo does not work as expected"
**EDIT:** I noticed that the example repo is working only with `visibility` key set to `private`. It does not work with `public` level. I need that unauthenticated user can download files.

**Describe the bug**
[aws-amplify-graphql](https://github.com/aws-samples/aws-amplify-graphql) example repo does not work as expected

**To Reproduce**
Steps to reproduce the behavior:
1. Follow instruction in

[2019-02-27 12:44] sakhmedbayev commented on #2772
@undefobj can you please look at this issue?

[2019-02-27 14:10] sebastienfi opened #2773 "How to contribute?"
Hi Team,

Can someone explain how to develop using a fork of this repo in order to create PRs and facilitate debugging? Of course, there is the [CONTRIBUTING](https://github.com/aws-amplify/amplify-js/blob/master/CONTRIBUTING.md) guide which gives some guidance for best practices, but how do you get to a valid development environment on this project?

Let's say I am on Windows, I have a React basi

[2019-02-27 15:33] josephbridgwaterrowe commented on #2686
I'm going to assume you're referring to the `ReferenceError: dict is not defined` error. Once I get some more time I'm going to try and determine what is the cause.

[2019-02-27 15:39] springcoil commented on #2686
`I'm going to assume you're referring to the ReferenceError: dict is not
defined error. Once I get some more time I'm going to try and determine
what is the cause.` -- Yes this is true.
ᐧ

On Wed, Feb 27, 2019 at 3:33 PM Joseph Bridgwater-Rowe <
notifications@github.com> wrote:

--
Peadar Coyle
Interested in levelling up your Machine Learning skills? Here is my
Probabilistic
Programming Primer <ht

[2019-02-27 18:19] undefobj commented on #2669
@jkeys-ecg-nmsu I think that's ok, not everyone is using Hub in anger yet and we're looking to slowly evolve it. Is the current functionality in the sample repo good for you? Or would you like us to make changes based on the payload structure above, or any other functionality that you would need for your functionality.

Another thing we have been thinking about is potentially using Hub with some s

[2019-02-27 18:36] bush commented on #612
@elorzafe thanks for the update!  Appreciate the feedback.

[2019-02-27 18:54] JakePartusch opened #2775 "Reverse proxy rewrite doesn't proxy failure status codes"
**Describe the bug**
When using a reverse proxy rewrite, as described here:
https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#reverse-proxy-rewrite
Only 200 response are successfully proxied. Failure responses are not proxied.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a reverse proxy as described here: https://docs.aws.amazon.com/amplify/latest/userguide/red

[2019-02-27 19:17] alxx commented on #2039
What version do you use now? My mutations still don't trigger the subscriptions and I'm using the latest as of today, 1.1.19

[2019-02-27 19:51] jeancochrane commented on #2730
Finally got to the bottom of this! Turns out it was a configuration error on my end -- during the CLI wizard, I neglected to set `UserPoolClient.ReadAttributes` to include `email_verified`. In the CLI, this corresponds to the following steps in `amplify add auth`:

[code]

Thanks for your debugging assistance @haverchuck and @elorzafe, I appreciate it!

[2019-02-27 19:51] #2730 closed

[2019-02-27 19:54] jkeys-ecg-nmsu commented on #2669
The payload structure you've proposed is fine, and honestly I should have enforced a similar payload object interface in the first place.

I do have concern with [replacing the supplied callback with the holder's onHubCapsule method](https://github.com/undefobj/hub_reboot/blob/master/src/Hub.ts#L81) if it exists; I think it would be more stable to console.warn that a legacy onHubCapsule implementa

[2019-02-27 20:16] yannick-fernand commented on #1013
Hi,
did you already add this feature? i do need this feature also. and i am using aws-sdk-java in backend java.
Thanks

[2019-02-27 20:37] jkeys-ecg-nmsu commented on #2754
The API you need to use is [adminLinkProviderForUser](https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_AdminLinkProviderForUser.html), I believe.

I don't think Amplify currently has a built-in federation mechanism, i.e. automatically calling adminLinkProviderForUser when a Cognito-authenticated user signs in through social provider.

[2019-02-27 20:42] jordanranz commented on #2595
Reopening until published to release branch.

[2019-02-27 21:47] swaminator commented on #2775
@JakePartusch thanks for reporting this issue. I think it isn't proxying it through because there's a conflicting 404 rule setup in your redirects. Try deleting that rule and you should see the error codes returned. Out of curiosity, what's your usecase for wanting error codes returned for the reverse proxy?

[2019-02-27 21:57] JakePartusch commented on #2775
@swaminator Thank you. It seems like the default 404 rule for `<*>` to `index.html` was causing the problem. I replaced that with the SPA redirect here:
https://docs.aws.amazon.com/amplify/latest/userguide/redirects.html#redirects-for-single-page-web-apps-spa

The reverse proxy is to an API Gateway, where error codes are necessary to service the frontend effectively.

[2019-02-27 21:57] #2775 closed

[2019-02-27 22:02] mitchellsimoens opened #2776 "How to "upgrade" an unauthorized user to an authorized user?"
** Which Category is your question related to? **
Auth

** What AWS Services are you utilizing? **
Cognito User Pool and Federated Identities, DynamoDB, Pinpoint

I have my Cognito User Pool and Federated Identities configured to work with an oauth/openid server. This works great and I can login just fine and get the jwt tokens as expected. However, I also want to support unauthorized identities w

[2019-02-27 22:08] d-olivas commented on #1560
I was having the same issue in my react project. What fixed it for me was to update the node version I am using, I was using node 8.11.4 and updated to 11.3.0. What was causing the problem was this line `var params = require('util').inspect(censoredParams, true, null);` in `./node_modules/aws-sdk/lib/event_listeners.js` the problem was that the require was missing './' and that did't allow the app

[2019-02-27 22:28] jkeys-ecg-nmsu commented on #2677
@headz68 Sorry for never replying. What do the request headers to Cognito look like when you're getting this error?

[2019-02-27 23:02] elorzafe commented on #2772
@sakhmedbayev this example demonstrates the usage of uploading private files.

Do you only need a sample to upload/download shared files? Or do you need the additional information and control like aws-amplify-graphql sample but for unauth users?

[2019-02-27 23:38] undefobj commented on #2754
This is potentially a candidate for Triggers or Admin Queries as part of the following RFC: https://github.com/aws-amplify/amplify-cli/issues/766

[2019-02-28 00:45] dylan-westbury commented on #703
If identityId was available in the claims (like the sub / userId is), for a proxy lambda. All my problems would go away.

[2019-02-28 00:46] dylan-westbury commented on #54
If identityId was available in the claims object for a lambda proxy, like the sub / userId is. All my problems would go away.

[2019-02-28 00:57] sakhmedbayev commented on #2772
Thank you @elorzafe for the response. My web app have to provide a way for auth and unauth users to download files.

I have already figured out uploading mechanics.

Basically, I need to make files publically available for downloading.

[2019-02-28 04:59] RamyaChinnadurai commented on #612
Is this feature implemented? Please, someone, give a reply.

[2019-02-28 05:10] temesxgn commented on #2362
Any update on this? This is fix is urgent for me

[2019-02-28 12:54] yannicklaclau opened #2777 "Email verification only sending code, not link"
**Describe the bug**
- Email verification is sent with a Code, not a Link

**To Reproduce**
Steps to reproduce the behavior:
1- Cognito user pool and app client are created; sign in with with *either* Email or Phone
2- MFA is set to Optional
3- SMS is enabled
4- Attributes to verify: Email or Phone
5- Message customizations: Phone verification is with SMS, but for Email verifcation, "Link" is sele

[2019-02-28 13:03] Strenget opened #2778 "Custom forgotPassword"
Hello! I need help with implementation custom forgotPassword, I have template and it works fine, but I have problem with change state to requireNewPassword before Auth.forgotPassword.
I get error "**Cannot read property 'requiredAttributes' of undefined**" when I call my function

`resetPassword () {
        Auth.forgotPassword(this.state.email)
            .then(data => super.changeState("require

[2019-02-28 16:21] yannicklaclau commented on #2777
"tweet" length summary of this problem: doing Auth with first SMS for phone number, then with Link for email....seems impossible.

Once you have SMS validating the phone number, it appears you are stuck with SMS...(on amplify at least...)

[2019-02-28 16:45] christopherdiehl commented on #1759
Still receiving 403 errors when using the policy outlined in the docs for unauthenticated users.
[code]

Receiving the following error from the node sdk:

 `Analytics.record`: `[ERROR] 37:18.135 AWSPinpointProvider - Please ensure you have updated you Pinpoint IAM Policywith the Action: "mobiletargeting:PutEvents" in order tocontinue using AWS Pinpoint Service`

Does anyone have a fix? `@aws-ampli

[2019-02-28 16:55] sprucify commented on #867
Do you have a good tutorial on that?

[2019-02-28 17:46] lazharichir commented on #987
Is there any update on that issue?

[2019-02-28 18:04] powerful23 commented on #1759
@christopherdiehl is this policy attached to the unauth role you set in the Cognito Federated Identity Pool?

[2019-02-28 18:08] elorzafe commented on #2730
@jeancochrane I am glad you issue was solved. Good catch!

[2019-02-28 18:09] christopherdiehl commented on #1759
@powerful23 yes it is

[2019-02-28 18:29] powerful23 commented on #2776
@mitchellsimoens is this related to #2089 ?

[2019-02-28 18:29] elorzafe commented on #2772
@sakhmedbayev Cool, so you already figure out the upload part and AWS_IAM auth mode on AppSync, so in order that unauth users can download the files from S3 you should do the following.

Change this line
https://github.com/aws-samples/aws-amplify-graphql/blob/master/src/Components/AddPhoto.js#L40
from `const visibility = 'private';` to `const visibility = 'protected';` That will upload the files i

[2019-02-28 19:39] #2776 closed

[2019-02-28 20:02] elorzafe commented on #2104
@hoang-innomizetech Sorry for the late response, but this is still on our backlog.

[2019-02-28 20:05] #2594 closed

[2019-02-28 20:09] acumulus8 commented on #1159
We're getting the same error, albeit inconsistently throughout our user pool. We don't want to have to change those attributes since we want our application to allow login with `email` and not with `username`.

[2019-02-28 21:51] acumulus8 commented on #1181
The line of code `import 'crypto-js/lib-typedarrays';` is not working for us on localhost. Imported where you mentioned @manueliglesias  but haven't seen any different results (Still the same as original result - UserNotAuthorizedException - even though user is set up and credentials are correct).

[2019-02-28 21:53] bradennapier opened #2781 "Modularlization doesnt work with aws-amplify-react?"
** Which Category is your question related to? **

`aws-amplify-react`

** What AWS Services are you utilizing? **

`auth`

** Provide additional details e.g. code snippets **

I am guessing I am missing something but I do not want to include the libs for every single package.  I only need auth and nothing else - but importing `aws-amplify-react` requires `@aws-amplify/xr` which I am not using and

[2019-02-28 21:53] undefobj commented on #825
Hello everyone. We have been tracking this issue and working on solutions. The root use case seems to be making the OAuth flow easier, not only with React Native but in general. Setting the session manually appears to be an effect of the root problem. To this there are two things I wanted to update this issue and get some feedback on:

1. On React Native we are in the final stages of releasing a n

[2019-02-28 23:40] henhen87 commented on #1538
Encountering this issue for custom application. During sign up process for my app two scenarios can happen:
1) If a user leaves before validating the email code sent out by `Auth.signUp` and they return to the sign up flow, we have it setup so they don't fill out personal info again such as Name, Password etc since they are already signed up. We use the existing signed up email that is not verifie

[2019-03-01 00:02] goatandsheep commented on #1538
@henhen87 instead of giving them a blank password, can you send a random initial password to their email?

[2019-03-01 01:21] henhen87 commented on #1538
@goatandsheep I do not think that will work, because the user is already signed up at this point with a Password associated with their account; they are just not verified. So if I try to Auth.signIn() and pass a wrong password, it will probably give a wrong password error.

[2019-03-01 01:36] elorzafe commented on #2763
@aireater what is your configuration on Cognito?

[2019-03-01 02:22] V1j1 opened #2783 "GraphQLError: Request failed with status code 401"
** Which Category is your question related to? **
Amplify graphql react-native
** What AWS Services are you utilizing? **
Amplify
** Provide additional details e.g. code snippets **
My code was working perfectly fine for weeks and today all of a sudden I am getting this error:
Opening exp://127.0.0.1:19000 in iOS simulator
error:  Object {
  "data": Object {},
  "errors": Array [
    [GraphQLError

[2019-03-01 02:57] elorzafe commented on #2773
Hi @sebastienfi

After doing `yarn build` on the root directory of `aws-amplify`, I go to `./packages/aws-amplify` and do `yarn link`.

In order to test my changes on an app. First I install `aws-amplify` package and then do `yarn link aws-amplify`.

Pro-tip: When I use VS Code I use `tsc: watch - package/auth/tsconfig.json` (cmd+shift+b) so every time I make a change on any src file inside of tha

[2019-03-01 02:59] elorzafe commented on #2783
@V1j1 your api key should be expired, you can go to AWS AppSync console to create a new one and you will need to update that key on your aws-exports file/amplify config as well.

[2019-03-01 03:23] elorzafe commented on #2765
@blazinaj currently guided schema creation thru amplify-cli enables the way you mention, you first need to `CreateSingleResource` and then update each of the `MultipleLinks` to reference the previously created `SingleResource`, we can discuss with the team a way to allow create/update the `SingleResource` on `amplify-cli` I will transfer this issue to that team to keep track of this more closely.

[2019-03-01 04:06] jahirfiquitiva opened #2784 "Enable more fields in sign up"
**Which Category is your question related to?**
Authentication

**What AWS Services are you utilizing?**
Cognito

**Provide additional details e.g. code snippets**

I want to enable the `Given Name` field since I made it required in AWS.

I'm trying to do so like this:

[code]

But it shows a field without a title, and when "registering" an account, it shows this error:
`A client attempted to writ

[2019-03-01 05:14] roborourke commented on #1759
@christopherdiehl can you paste the record call you’re using? I found I got this when some of my custom attributes weren’t strings. Also make sure your metrics if any are numbers. The permission error seems to be a default fallback one, I lost hours finding that out 🤦‍♂️

Try enabling debug mode and check the console, hopefully there’s something more specific that will help you figure it out.

[2019-03-01 07:45] troymclure1 commented on #2755
@haverchuck & @elorzafe After re-testing with a completely new project, new API & casting my subscription  `as Observable<object>;` its working.

[2019-03-01 09:41] jonvanputten commented on #642
Any update on this? Would really like to send the MFA code via email for the forgot password feature.

[2019-03-01 12:36] sebastienfi commented on #2773
Thanks for the heads up!

[2019-03-01 12:52] #2773 closed

[2019-03-01 12:53] sebastienfi commented on #2773
@mlabieniec Would this be a nice addition to the docs?

[2019-03-01 13:22] sebastienfi commented on #2603
Same as @vkulov here.

[2019-03-01 13:54] mihaerzen opened #2786 "Using Auth.currentCredentials() server side"
## Which Category is your question related to?

Using `Auth.currentCredentials()` server side.

## What AWS Services are you utilising?

`aws-amplify`, `aws-appsync`

## Provide additional details e.g. code snippets

Hi!

I'm using `AWSAppSyncClient` with my `nuxt.js` project and I stumbled into an issue. I'm running `nuxt` app in the AWS Lambda behind API Gateway.

When I'm using the `AWSAppSyncC

[2019-03-01 17:35] elorzafe commented on #2773
@sebastienfi we are going to update our wiki/README with this information.

[2019-03-01 17:43] powerful23 commented on #1759
@christopherdiehl maybe you can check the http response to see what is the root cause of this error. Also as @roborourke commented, turn on the debug mode by putting `window.LOG_LEVEL='DEBUG'` in your code.

[2019-03-01 17:47] elorzafe commented on #2603
@kingtut @sebastienfi @vkulov I usually have that problem when is duplicated aws-amplify on my `node_modules` can you double check inside your app on `./node_modules/aws-amplify-react-native` if there is another `node_modules` with `aws-amplify` on it?

[2019-03-01 20:02] mitchellsimoens opened #2787 "Typo in recording analytics?"
Was just walking thru some code and saw what I think are typos in a `switch`:

https://github.com/aws-amplify/amplify-js/blob/3e715598b20f3ba940240f9cac26ef4a4e2ae785/packages/analytics/src/Providers/AWSPinpointProvider.ts#L245-L247

Shouldn't these be like the `switch` throughout the class like:

https://github.com/aws-amplify/amplify-js/blob/3e715598b20f3ba940240f9cac26ef4a4e2ae785/packages/anal

[2019-03-01 20:21] elorzafe commented on #546
Closed by PR #1773

[2019-03-01 20:21] #546 closed

[2019-03-01 20:25] elorzafe commented on #747
@39ro @jan1za, @haverchuck is looking into this issue.

[2019-03-01 20:31] manueliglesias commented on #781
The [documentation](https://aws-amplify.github.io/docs/js/pubsub#aws-iot) has now a section that mentions the steps needed to get it working.

Also, to debug, you can enable logging using these [instructions](https://aws-amplify.github.io/docs/js/logger#setting-logging-levels)

[2019-03-01 20:31] #781 closed

[2019-03-01 20:37] elorzafe commented on #783
@Jun711 the PR needs a change that @manueliglesias will be updating soon.

[2019-03-01 20:40] haverchuck commented on #784
@dppower Are you using the code flow for the hosted UI?

[2019-03-01 20:51] elorzafe commented on #785
@rogueturnip we updated the docs https://aws-amplify.github.io/docs/js/pubsub I will close the issue for now, but feel free to reopen or create a new one. Thanks!

[2019-03-01 20:51] #785 closed

[2019-03-01 20:56] V1j1 commented on #2783
thank you @elorzafe . That fixed the problem!

[2019-03-01 20:56] #2783 closed

[2019-03-01 20:58] elorzafe commented on #815
@harleyguru we will discuss with Cognito team.

[2019-03-01 21:11] elorzafe commented on #823
@Matthcw we are working on it. @manueliglesias will work on this.

[2019-03-01 21:14] elorzafe commented on #829
@jfo8000 did you try the latest version of aws-amplify-react? That should have this issue solved

[2019-03-01 21:18] elorzafe commented on #845
@powerful23 will take a look into this.

[2019-03-01 21:20] harleyguru commented on #815
Thanks @elorzafe , I wish you to update me as soon as possible you get update and solution for this issue because we are closing to the release soon.
Thanks a lot for your investigation and help

[2019-03-01 21:22] elorzafe commented on #845
@haverchuck will fix the docs.

[2019-03-01 21:28] elorzafe commented on #851
@powerful23 will be working on this. Thanks @AhmedAdes @vitrukroman

[2019-03-01 21:32] gerrytsui commented on #2784
regarding "a field without a title", I believe you will have to specify the "label" as in:
        {
          label: 'Given Name',
          key: 'given_name',
          required: true,
          displayOrder: 1,
          type: 'string',
        },

see doc at https://aws-amplify.github.io/docs/js/react#signup-configuration

I do something similar, but in Angular, so I am not 100% sure about the

[2019-03-01 21:50] elorzafe commented on #730
@ajmontero we will take over this because of merge conflicts and close your PR meanwhile. THanks for your contribution

[2019-03-01 22:09] elorzafe commented on #928
@karlmosenbacher
* Get initial notification (A notification that starts an application if pressed) is already implemented. The other are still in our backlog.

[2019-03-02 03:52] amisra24x7 commented on #430
This bug seems to be still affecting. Has this bug been resolved?

[2019-03-02 04:53] jfo8000 commented on #829
Great.  Will have a go of uninstalling it on my next upgrade.

[2019-03-02 07:15] karlmosenbacher commented on #928
@elorzafe Great! Thanks for the reply!

[2019-03-02 12:25] sebastienfi commented on #2603
[code]

[2019-03-02 17:00] msweetland commented on #2365
Reporting the same issues. A workaround I found is only installing the modules of Amplify that are needed and not the entire library.

`yarn add @aws-amplify/auth`

Most likely will not solve your issues if you're using the module that requires the graphql types.

[2019-03-02 17:08] phjardas opened #2791 "React: SignIn captures global keydown event to submit form"
**Describe the bug**
The SignIn form registers a [global event handler for `keydown`](https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-react/src/Auth/SignIn.jsx#L53). The handler checks whether `[enter]` was pressed and then submits the form.

However, the event handler is triggered when `[enter]` is pressed _anywhere_ on the page, even in another form. That means when a

[2019-03-02 17:53] JohanRin commented on #1066
@devotebest You can try with [whatwg-fetch](https://github.com/github/fetch) as mentionned in this [post](https://github.com/aws-amplify/amplify-js/issues/1498).

[2019-03-02 20:18] davo301 opened #2792 "Can install AWS amplify"
Can install AWS amplify. First I tried the following command "npm install -g @aws-amplify/cli" bit got installation error related to access, then tried "sudo npm install -g @aws-amplify/cli", entered password, after some steps again I got error related to access. Can anyone help with this? My account is the only account on my MacBook pro with Admin level access, so I can't understand where is the

[2019-03-03 01:04] rozhali opened #2793 "API put "AccessDeniedException" does not end catch"
**Describe the bug**
API.put, getting "AccessDeniedException" error back but it is not ending up in the catch block

**To Reproduce**
Steps to reproduce the behavior:

`API.put(apiName, "/orders", myInit).then(response => {
                // Add your code here
                console.log("response: ", response);
                navigation.navigate("ConfirmReceipt");
            }).catch(error =>

[2019-03-03 02:25] komikoni commented on #1183
Why is this problem neglected for a long time?Does AWS neglect security?
Do users who use Cognito for their business correctly recognize this threat?

[2019-03-03 05:04] jeff-rogers opened #2794 "AWS Amplify Gateway REST - React & React Native (403)"
I am looking to create one API via AWS Amplify that I can query/post to from React **and** React Native. I set up the API and Lambdas via serverless, and a user pool manually via the Cognito console, with separate app clients for each platform.

- The React setup went swimmingly, all gets/posts/puts to the API work as expected.
- The React-Native REST API calls return 403s.

I manually configured

[2019-03-03 08:31] slavagu commented on #2160
This snippet worked for me:
[code]

Note the 1st field key is set to `username` instead of `email`, which works as expected when the User Pool is created with
[code]
so that Users can use an email address or phone number as their "username" to sign up and sign in:
![image](https://user-images.githubusercontent.com/3827291/53692786-d7e08280-3de9-11e9-957a-fd26fb41f707.png)

An interesting (and desi

[2019-03-03 08:38] mikekhristo commented on #2160
I think you’ll also need to force the email value to be lower case.
On Sun, Mar 3, 2019 at 12:31 AM slavagu <notifications@github.com> wrote:

[2019-03-03 08:52] slavagu commented on #2160
Just tried with upper case and it worked fine. Sign Up and Sign In both worked for email like  MixedCase@example.com

[2019-03-03 15:40] chadgarlandscg commented on #54
+1 for this! I was happy to stumble across this and I'm surprised that it's still open.

My use case is to allow "host" users to upload images to S3, then let all types of users view the images when viewing a particular host. I couldn't find a way to attach the identity id to the hosts on the server side, stateful authentication is required to retrieve the identity id, which only makes sense from

[2019-03-03 19:17] jtaylor1989 commented on #2706
Facing a similar issue. Is there a detailed example on how to achieve this in React Native using AppSync (i.e. uploading files to S3 with Amplify GraphQL Client and storing pointers to those files in DynamoDB).

[2019-03-03 19:36] yazoonic opened #2795 "cognito is checking verify email before check correct password using swift"
**Describe the bug**
when user is signed up and not confirmed. and you want to sign in again

even if you enter incorrect password, error will come as user is not verified, it should first check the if the username/password is correct before sending user is not confirmed

unless I misunderstood the flow in cognito API  using swift

**To Reproduce**
Steps to reproduce the behavior:
1. signup with e

[2019-03-03 20:26] fcwheeler commented on #104
I am using the SignUpConfig prop for Authenticator to hide the username and phone_number fields.
[code]

Maybe this is a recent enhancement, or i am not understanding the question

[2019-03-03 21:16] harryleesan commented on #1203
I found what worked for me using `aws-amplify-angular` is to omit all fields in `hiddenDefaults` and re-add them in `signUpFields` (excluding `phone_number`):

[code]

[2019-03-03 21:19] edward-hong opened #2796 "Can't init project with Amplify"
Hi I'm trying to initialize a project by running the command `amplify init` but after I make the selections, it comes back with an error:

[code]

How do I opt in? I was wondering how do I fix this issue?

[2019-03-03 21:58] thrixton commented on #54
@dylan-westbury & @chadgarlandscg ,
I'm a bit confused as to which IdentityId you're after.
If you're after the IdentityPool IdentityId, this in a lambdaa event, this is available via the
`APIGatewayEvent.requestContext.identity.cognitoIdentityId` property, the APIGEvent class is available in the lambda event.
I can't find the docs for this class but it's listed at the below type link.
https://git

[2019-03-03 22:14] michaelcuneo commented on #2706
I was made aware ages ago that amplify-cli was no longer being developed, and it was becoming amplify-js... but recently I've been looking at the git-hub for aws-amplify, and there's two now being developed side by side? What's the deal with that? Why would anyone still use amplify-cli if it's now called amplify-js, and what's the difference between the two.  I remember Amplify-cli made a folder i

[2019-03-04 00:03] kennu opened #2797 "aws-amplify-react: User cannot be confirm. Current status is CONFIRMED"
Scenario: User signs up with **aws-amplify-react** and enters the **Confirm Sign Up** view, where they are expected to enter the confirmation code from an email.

While in this view, let's say the user is simultaneously confirmed by an alternative method, such as link-based confirmation (which opens in another browser window).

In this situation the user will get stuck in the sign-up flow with thi

[2019-03-04 09:39] timkuilman opened #2798 "UPDATE_FAILED GraphQLAPIKey AWS::AppSync::ApiKey - ApiKeyValidityOutOfBoundsException after adding REST API"
**Describe the bug**
For a React Native project using Amplify (Auth, Storage, GraphQL api) I am trying to add a REST api. This api should only be accessible for users that are logged in. After adding the api via de CLI I run the `amplify push ` command. This is when the error shows up.

_Before update_

[code]

_Adding a new rest api via CLI_

[code]

_Creating the backend resources by running amp

[2019-03-04 11:25] dzegel-blockcrowd commented on #1181
I'm sorry but I'm not following that the fix is. Do we simply need to add `crypto-js/lib-typedarrays; ` topackage.json and add `import 'crypto-js/lib-typedarrays';` before `import 'amazon-cognito-identity-js';`?

Is there a fix in the `'amazon-cognito-identity-js'` npm package being developed?

[2019-03-04 14:12] athJ opened #2799 "Is there any way to assign custom metadata while uploading object using Storage ?"
I am uploading a video file to S3 using Storage , is there any way to send custom metadata along with the request .
This is my current code:
[code]
I am getting error when using "x-amz-meta-key" which is standard way to define custom metadata.

[2019-03-04 15:17] maziarz commented on #2205
I have recently noticed same issue, and use-case as @mllrmat

[2019-03-04 15:43] supun19 commented on #2744
Any update ??

[2019-03-04 15:46] jkeys-ecg-nmsu commented on #2799
Is that valid JavaScript syntax? I think you might need to make that a computed property name, like this:

[code]

See this reference for computed properties syntax. https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Object_initializer

[2019-03-04 16:37] sakhmedbayev commented on #2772
Thank you @elorzafe for your help!

as for this question:

Yes, it took me a while to figure out it. I hope that the amplify docs were more clear on the subject, at least on that time when I have been working on that issue.

[2019-03-04 16:37] #2772 closed

[2019-03-04 16:56] haverchuck commented on #747
@39ro @jan1za - Yes, I think this is a decorator issue.  Continuing to look into it.

[2019-03-04 17:07] matt-paul commented on #2618
Same issue here, not found a good fix yet

[2019-03-04 17:30] 7hibault opened #2803 "CORS request blocked in Firefox but not other browsers"
I'm using aws-amplify to query API Gateway (configured through serverless) to trigger a lambda.

I have no trouble accessing some resources except for one, which I get using query string parameters. This is the only difference with the other queries. Yet, I get CORS error and cannot see any log for the lambda that should have been triggered nor can I see the query in the browser network console.

[2019-03-04 18:50] #2792 closed

[2019-03-04 18:54] athJ commented on #2799
@jkeys-ecg-nmsu Thanks , I tried using computed property but it didn't work .I am not getting an error while using computed property but the properties aren't reflected in the uploaded object either.

[2019-03-04 19:36] #845 closed

[2019-03-04 19:36] #851 closed

[2019-03-04 19:59] powerful23 commented on #2803
@7hibault How did you pass your aws credentials to the Amplify library?

[2019-03-04 20:06] powerful23 commented on #2799
@athJ this is a feature request since currently there is no way to do that. We will discuss it in our team meeting. Thanks!

[2019-03-04 20:07] stayingcool commented on #1324
Any update on this? Need this functionality for my web application.

[2019-03-04 20:16] powerful23 commented on #2797
@kennu I will mark this as feature/enhancement request as the user could still go back to the sign in page by clicking the link in the sign up component. Thanks for your feedback!

[2019-03-04 20:19] Nanobrainiac commented on #2562
Okay, so here we are feb 4, 2019...has this feature been added yet??

[2019-03-04 20:20] 7hibault commented on #2803
@powerful23 I have a config file with the aws credentials and then

[code]

I manage to successfully call other endpoints from the app using this configuration

[2019-03-04 21:42] PedroS11 commented on #1324
@stayingcool my workaround works, while this isn't implemented you can give it a try

[2019-03-04 21:45] JoahG commented on #2714
I am also trying to find this. no luck thus far.

[2019-03-04 22:29] elorzafe commented on #2791
@phjardas which frontend framework are you using?

[2019-03-04 22:36] powerful23 commented on #2794
@jeff-rogers I don't think you need to configure the custom_header because Amplify will do that for you. Can you check the following items:
1. Did you correctly configure the app client id for your RN app?
2. What's your app client settings?
3. Did you use Cognito Federated Identity Pool to retrieve the AWS Credentials?
4. Which authorization type are you using? https://aws-amplify.github.io/docs/

[2019-03-04 23:10] jordanranz commented on #2566
The fix has been released to the latest amplify release.

[2019-03-04 23:10] #2566 closed

[2019-03-04 23:13] elorzafe commented on #2041
This was fixed by PR #2631

[2019-03-04 23:13] #2041 closed

[2019-03-04 23:14] elorzafe commented on #2005
@woodpav is ok to close the issue?

[2019-03-04 23:15] #747 closed

[2019-03-04 23:31] powerful23 commented on #2781
@bradennapier what components are you using from `aws-amplify-react`. If you are just using Auth related components like `Authenticator`, you can do `import { Authenticator } from 'aws-amplify-react/dist/Autg'` which would avoid importing all the other modules.

[2019-03-04 23:52] haverchuck commented on #2784
@jahirfiquitiva I believe that @gerrytsui 's answer is correct.  I'm closing this issue for now, but please feel free to reopen.

[2019-03-04 23:52] #2784 closed

[2019-03-04 23:55] haverchuck commented on #1596
@mogadanez Yes - you can hide specific components.  Please see [this documentation](https://aws-amplify.github.io/docs/js/authentication#using-the-authenticator-component-directly).

I'm closing this issue for now, but please feel free to reopen it.

[2019-03-04 23:55] #1596 closed

[2019-03-04 23:57] #2744 closed

[2019-03-05 00:13] jahirfiquitiva commented on #2784
I can't reopen it @haverchuck ...

The problem is not only about the missing title, from the op:

when "registering" an account, it shows this error:
`A client attempted to write unauthorized attribute`

[2019-03-05 00:20] alexlhanson opened #2806 "Using Amplify Auth with SAML"
# Using Amplify Auth with SAML
## Summary
I have added Amplify Auth to my project with Cognito User Pool.  Auth works with Cognito fine. After adding a SAML identity provider to Cognito I expect get redirected to my identity provider but I just get the same amplify login screen.

How can I configure amplify to redirect to the IP rather than the default login?

## Expectation
Expecting to be direct

[2019-03-05 01:02] callagga opened #2807 "Intended use for API.ts?"
What is the intended use for API.ts? (I’m using react and typescript)

Is it just intended to be used by the AWS amplify generated queries to support these when you do your Query / Mutation calls to the backend only? Or are people utilising the types within their javascript application as well? Perhaps good not to so as not to couple your own code with the automatic generated types amplify creates

[2019-03-05 01:08] #2005 closed

[2019-03-05 01:29] donaldev commented on #399
I'm experiencing the same issue. To clear this up when you create an API and add an Authenticator to it, it expects a Token to prove that the user accessing the API came from cognito, i.e. it is safe to provide access.

When you call Auth.currentSession() after a cognito user pool login you are given the following response
`CognitoUserSession {idToken: CognitoIdToken, refreshToken: CognitoRefreshT

[2019-03-05 03:22] undefobj commented on #1521
Hello everyone, in addition to the above RFC we have also now released React Native support for the Hosted UI which includes an HOC which allows you to build out UI components in your app: https://aws-amplify.github.io/docs/js/authentication#launching-the-hosted-ui-in-react-native

[2019-03-05 03:25] undefobj commented on #825
Hello everyone, we have released the new HOC for React Native with the OAuth process of the Cognito Hosted UI (e.g. #1 above). Please see the instructions here: https://aws-amplify.github.io/docs/js/authentication#launching-the-hosted-ui-in-react-native

[2019-03-05 07:04] phjardas commented on #2791
@elorzafe Sorry forgot to mention: `aws-amplify-react`.

[2019-03-05 09:42] chiubaka commented on #2686
I'm having a similar issue, but in a slightly different context. In my case, I'm using `haul` as my React Native packager, and as soon as I add the `withAuthenticator` import, I start seeing either invalid character errors or `ReferenceError: dict is not defined` errors.

Sounds to me like `haul` also doesn't transpile `node_modules` by default, so I think these issues are related. If you've found

[2019-03-05 10:19] mastertinner opened #2808 "Module not found: Can't resolve 'react-native'"
Since upgrading to `@aws-amplify/auth` from `1.2.15` to `1.2.17`, I'm getting the following error from `eslint`:

[code]

[2019-03-05 11:28] callagga opened #2809 "server side validation approach for cross attribute checks? ("
What would be the best approach to utilise for a React (typescript) single page application, using amplify to create a graphql API backend, to carry out backend validation checks on API calls?   I'm assuming the concept from a security perspective should still be validate at the backend.

Interested in answer for:
A. new object that the "start date" is prior to the "end date" - so across different

[2019-03-05 12:11] deinspanjer commented on #2808
I'm getting this too.
Maybe it is related to this commit that adds react-native as a peer dependency?
https://github.com/aws-amplify/amplify-js/commit/ac4d232a8ada0fd4f2e19c2e7196a8937dc63e0e

[2019-03-05 13:25] eibay commented on #941
This resolved case is an additional help on the original posted issue. [issue:1084](https://github.com/aws/aws-sdk-js/issues/1084)

[2019-03-05 13:27] sc-pulsion commented on #2808
Getting this as well. Worked yesterday.

[2019-03-05 13:30] apertureless commented on #2736
Got the same error in a `react-native` project.

[2019-03-05 13:52] khaledshamat commented on #1093
I have tried @elorzafe suggestion but still getting 403! any other suggestions?

[2019-03-05 14:22] khaledshamat opened #2810 "AWS-Amplify API is always returning 403 unauthorized with angular"
AWS-Amplify using API.get() with angular to call Serverless API with IAM authentication is always returning 403 unauthorized, even though that I have followed all the instructions posted on GitHub and stackoverfolw,

here is my code for using api.get:

`  async testApiCall() {
    const user = await Auth.currentAuthenticatedUser();
    const token = user.signInUserSession.idToken.jwtToken;

    co

[2019-03-05 14:42] garlic0708 commented on #1884
Since we cannot have scopes associated with access tokens given in non-OAuth 2.0 ways, I wonder if there is any alternative, maybe less delicate way, as a compromise, to do scope management with it?

[2019-03-05 16:02] LewisJarrod commented on #1094
Not sure if this is the same issue, I've been getting 403 Errors when trying to upload files larger than 5mb?

[2019-03-05 16:27] haverchuck commented on #2375
@mikeskiddle -  Any update?  Are you still experiencing crashes after ruling out extensions or other browser related issues?

[2019-03-05 16:29] haverchuck commented on #2314
Closing this issue due to non-activity, and also it looks like @powerful23 's answer is sufficient.  Please feel free to reopen if needed.

[2019-03-05 16:29] #2314 closed

[2019-03-05 16:35] haverchuck commented on #2120
@PedroS11 @rawadrifai @mcammaert  - Please see [this RFC](https://github.com/aws-amplify/amplify-cli/issues/766).  I think it would address some of the functionality you are requesting.  Feel free to comment on it!

Thanks.

[2019-03-05 16:44] haverchuck commented on #1696
@ghost I believe you could have your identity pool[ federate with a developer-created identity provider](https://aws-amplify.github.io/docs/js/authentication#federated-identities-social-sign-in), which would enable the use of Amplify's federated signin and credential storing features.

I'm closing this issue for now, but please feel free to reopen.

[2019-03-05 16:44] #1696 closed

[2019-03-05 16:45] haverchuck commented on #1677
The documentation PR listed above was merged, so I'm closing this issue for now.  Please feel free to reopen.

[2019-03-05 16:45] #1677 closed

[2019-03-05 16:50] haverchuck commented on #1203
@plingampally I think this has been implemented.  Please see [these docs](https://aws-amplify.github.io/docs/js/react#signup-configuration).  Thanks!

[2019-03-05 16:50] #1203 closed

[2019-03-05 16:53] haverchuck commented on #869
Closing this issue due to inactivity and reactions to @alshdavid 's comment.  Please feel free to reopen if you do not feel this has been addressed.

[2019-03-05 16:53] #869 closed

[2019-03-05 17:19] caseyrodgers commented on #2808
I'm getting this too .. and, I'm trying to create an ionic app .. not react.

`[ng] WARNING in ./node_modules/@aws-amplify/auth/lib/Auth.js
[ng] Module not found: Error: Can't resolve 'react-native' in node_modules\@aws-amplify\auth\lib'
`

[2019-03-05 17:38] powerful23 commented on #2803
@7hibault the `mandatorySignIn` is set to true in your config which means **no** aws credentials will be granted when the user is not signed in. Are you sure you are using the API get when logged in?

[2019-03-05 17:46] gerrytsui commented on #2784
Not sure this applies to you, another common mistake is make sure custom attributes are prefixed with custom:field_name . e.g. I have "custom:company"

[2019-03-05 18:20] mrcoles commented on #2160
@slavagu just to warn you—from my experience with AWS Cognito, it is case-sensitive with emails, so you can have different accounts for both MixedCase@example.com and mixedcase@example.com.

This is really strange, considering amazon.com itself (along with every other website I can think of) allows case-insensitive email logins.

If you’re using this UI for login, you can update things client-side

[2019-03-05 19:04] kennu commented on #2160
Technically the local-part of email addresses may be case-sensitive and it's decided locally by each email system, so it would be false to assume that email addresses are always case-insensitive. https://tools.ietf.org/html/rfc5321#section-4.1.2

Regardless of that, it would be nice to have more control to override things in the Cognito Lambda event handlers.

[2019-03-05 19:08] epicfaace commented on #825
@undefobj thanks for the update. However, I still need the functionality to set current credentials manually. I am storing my JWT in a cookie and sharing the token between multiple sites, so that is my use case.

[2019-03-05 19:31] powerful23 commented on #2806
@alexlhanson are you federating SAML with the Cognito User Pool? If so, you need to use the Cognito Hosted UI to do it. https://aws-amplify.github.io/docs/js/authentication#using-amazon-cognito-hosted-ui

[2019-03-05 19:58] mrcoles commented on #2160
Yeah, you hit the nail on the head. The RFC spec does say that and it’s at odds with how every major website uses emails to identify users, so the technical interpretation of the spec doesn’t service the needs of most people using the product. I agree it’d be really helpful to have an option to override this.

I would prefer this were an option in the Cognito pool itself, so it could be set correc

[2019-03-05 20:11] christopherdiehl commented on #1759
Thank you @roborourke  and @powerful23, I had to shift gears for a little bit, but I'll be sure to try out @roborourke's advice when I come back to the integration.

[2019-03-05 20:38] jahirfiquitiva commented on #2784
@gerrytsui No, `given_name` is one of the default attributes provided in cognito

![captura de pantalla 2019-03-05 a la s 3 38 23 p m](https://user-images.githubusercontent.com/10360816/53835979-c075d680-3f5c-11e9-8bf4-631fc33b44dc.png)

[2019-03-05 21:30] donaldev commented on #2716
This all looks very useful, any idea on when it will be implemented? Trying to figure out whether to put a workaround in place for Social Sign-in users receiving JWT tokens or to just wait for the feature.

[2019-03-05 21:33] flybayer opened #2813 "How can I get other cognito user attributes like created_at?"
**Which Category is your question related to?**
Authentication

**What AWS Services are you utilizing?**
Cognito

**Provide additional details e.g. code snippets**
I can get the user sub, email, and other attributes like first_name by doing this
[code]
However, I can't find any way to get the created_at datetime.

[2019-03-05 21:48] powerful23 commented on #2807
For the API category this doc can tell you the details: https://aws-amplify.github.io/docs/js/api

For the issues you have when using API category, can you provide some code snippets to make it more intuitive? Thanks!

[2019-03-05 22:08] powerful23 commented on #2808
Hi All, we are looking into this issue. Thanks for reporting!

[2019-03-05 22:21] powerful23 commented on #2810
@khaledshamat  I don't think you need to configure the header because Amplify will do that for you. Can you check the following items:

1. Did you use Cognito Federated Identity Pool to retrieve the AWS Credentials?
2. Which authorization type are you using? https://aws-amplify.github.io/docs/js/api#manual-configuration

[2019-03-05 22:26] JustFly1984 opened #2814 "[@aws-amplify/auth@1.2.17] has unmet peer dependency react-native and buffer@4.x"
I have issues with graphql dependency hell in my gatsby.js app, so I did install only Auth part of aws-amplify instead of full package.

warning " > @aws-amplify/auth@1.2.17" has unmet peer dependency "buffer@4.x".
warning " > @aws-amplify/auth@1.2.17" has unmet peer dependency "react-native@^0.44.0".

Should I install `buffer` to my direct dependencies?

I'm sure that I do not need react-native,

[2019-03-05 22:32] khaledshamat commented on #2810
Dear sir,

First of all let me thank you for the quick reply I really appreciate it.

I am Using Cognito to authenticate users, with IAM authentication in my rest api. And I have successfully did that without signing my request, but I have a weird behavior which I don’t know why it’s happening, I think that the user session should be saved somewhere, please check my post on stack overflow.com<http

[2019-03-05 22:35] powerful23 commented on #2813
@flybayer hi, the only way to achieve that data is to use the `AdminGetUser` API provided by Cognito team: https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_AdminGetUser.html which is not available when using Amplify.

[2019-03-05 22:38] powerful23 commented on #2814
@JustFly1984 this issue is related to #2808 . We are currently working on it.

[2019-03-05 22:50] callagga commented on #2807
Perhaps a specific question:

I note that when calling the API e.g.

[code]
The graphqlOperation call references "updateEvent" from API.ts

[code]

So I can see that amplify uses this to help call the interface.

My question was just whether anything in API.ts would typically be used by a react developer within his own react code (i.e. for view layer)?   Or another way to ask the same question, wh

[2019-03-05 23:56] credator commented on #2799
I may be misunderstanding, but it appears that metadata can be specified in the `config` parameter (3rd parameter) of `Storage.put`

e.g.
[code]
Creates an S3 Object with metadata: `x-amz-meta-foo = bar`

At least it seems to for me.

[2019-03-06 00:20] undefobj commented on #2716
@donaldev it's a pretty complex piece of work and the goal is to have it work across JS and React Native, so there are some particulars to work through. Additionally there are some security related topics such as PKCE that customers have asked for to be included that I need some design around. I have a rough skeleton functioning in my local environment but it could be mid/late April depending on a

[2019-03-06 00:25] JustFly1984 commented on #2814
@powerful23 #2808 is related to react-native, but what should I do with buffer@4 ?

Thank you for quick response

[2019-03-06 00:40] #2808 closed

[2019-03-06 00:40] #2814 closed

[2019-03-06 00:45] lclghst commented on #2461
Any way to get around this?
Currently cannot log in using an admin created user

[2019-03-06 00:59] jordanranz commented on #2595
This is now in the latest release.

[2019-03-06 00:59] #2595 closed

[2019-03-06 02:30] JustFly1984 opened #2816 "warning " > @aws-amplify/auth@1.2.18" has unmet peer dependency "buffer@4.x"."
Should I install this `buffer@4` or leave it as it is?

[2019-03-06 04:26] athJ commented on #2799
<img width="655" alt="screenshot 2019-03-06 at 9 53 37 am" src="https://user-images.githubusercontent.com/16134050/53855941-c7045c80-3ff5-11e9-93ce-ceff82ce6ae7.png">
@credator The config properties that are supported are specified in this comment within the source code, metadata isn't one of them.

[2019-03-06 07:00] datoml commented on #2808
I can confirm that the issue is fixed now.
Thanks!

[2019-03-06 07:48] 7hibault commented on #2803
@powerful23 Yes. And I'm ensuring that the user is signed in at this point

[code]

Could you elaborate on why you think this could come from the configuration? I don't think this is the issue:

- I'm querying the API in the same manner from another page to get content with no trouble (the only differences being the query string parameters)
- The GET query works from chrome but not from firefox

[2019-03-06 07:54] joseph-d-p opened #2817 "How to achieve subscription with filters without datasource?"
### Which Category is your question related to?
Amplify

### What AWS Services are you utilizing?
Appsync

### Provide additional details e.g. code snippets
Is there a way for subscription to receive input filters as parameter similar to queries and mutation?

Currently, my subscription doesn't have a data source and I wanted to only receive subscriptions if this field begins with this value.

**S

[2019-03-06 08:04] brylie commented on #2673
It might also be good to document how to manually create the `aws-exports.js` file, e.g. if someone already has a Cognito configuration that they would like to use. In effect, this would allow people to use the Amplify Auth component on pre-existing infrastructure.

[2019-03-06 11:15] DJWoodZ opened #2818 "Access user pool configuration information and metadata (DescribeUserPool)"
**Is your feature request related to a problem? Please describe.**

I would like to access user pool configuration information and metadata via the **amazon-cognito-identity-js** package.

**Describe the solution you'd like**

The [DescribeUserPool](https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_DescribeUserPool.html) Action appears to offer the required informatio

[2019-03-06 11:32] yannicklaclau commented on #2777
BTW, I have a hacked together workaround that involves using lambda, api gateway, and dynamoDB. Not as bad as it sounds. If anyone finds this message and is interested in details, reply and I'll write it up here

[2019-03-06 13:41] sprucify opened #2819 "Howto i18n translate the signin input labels of amplify-authenticator"
Since the latest release today, we have more i18n translate options.
But how do I control and translate the input labels of the SignIn form of the amplify-authenticator?
For SignUp I use signUpConfig to do the translation

[2019-03-06 13:47] credator commented on #2799
The source comment may not be up to date as the source itself shows support for a lot more options (a few lines down):

https://github.com/aws-amplify/amplify-js/blob/master/packages/storage/src/Providers/AWSS3Provider.ts#L157

[code]

These are converted to the corresponding aws-sdk S3 parameter (which the Storage class uses), which are documented here:
 https://docs.aws.amazon.com/AWSJavaScriptS

[2019-03-06 14:05] sprucify commented on #1538
Stumbled into this bug as well today
It happens when you try to submit the signin form with a valid existing username and an empty password field.

I use the i18n module to translate the error to a human understandable error message.

[2019-03-06 14:39] Joao-Leite commented on #2818
2nd that.
Does anyone know if there's a workaround to fetch the password policy from Cognito with Amplify? (which could be achieved with the getUserPoolData() you mentioned)

[2019-03-06 16:08] athJ commented on #2799
@credator Thanks , you got a point . I'll give it a try using metadata.

[2019-03-06 16:42] jdrydn commented on #2562
I'm with @Nanobrainiac here - three plus years have gone by and the "best solution" to this currently is:

It's also strange how poorly documented the Amazon Cognito Identity JS package is. Plenty of examples, sure, but zero documentation.

[2019-03-06 16:50] haverchuck commented on #2819
@sprucify Assuming you installed via the unstable branch (npm i aws-amplify-angular@unstable), you should be able to do something like this:

main.ts:
[code]

Username * is the text in the current sign in username label, so this dict object will automatically translate it to 'Nom d\'utilisateur' or whatever you enter.

You can also access the I18n module within an actual angular component using th

[2019-03-06 16:50] #2819 closed

[2019-03-06 18:07] powerful23 commented on #2810
@khaledshamat if you are using IAM authentication, and as I could assume based on your config, you are using the Cognito Federated Identity Pool service right? In that case, you shouldn't do the following:
[code]

The amplify library will fetch the credentials internally and sign the request. Can you also open the debug mode by putting `window.LOG_LEVEL='DEBUG'` to get more info?

[2019-03-06 18:32] aireater commented on #2763
@elorzafe I'm not sure what you're asking for? Do you want the settings page for the cognito user group?

[2019-03-06 18:42] 7hibault commented on #2803
This drove me crazy but I think I figured it out...

Turns out my browser was caching an incorrect preflight response. I didn't figure this out right away because the behavior was the same in private mode. I deactivated my addons one by one and after deactivating Ghostery, the request went through.

@powerful23 Thanks for investigating :smiley:

[2019-03-06 18:42] #2803 closed

[2019-03-06 19:08] jtaylor1989 opened #2820 "Handling complex objects with GraphQL AppSync for a React Native front-end"
** Which Category is your question related to? **

GraphQL AppSync, handling complex objects.

** What AWS Services are you utilizing? **

AWS Amplify, GraphQL AppSync, S3, and DynamoDB.

** Provide additional details e.g. code snippets **

I am trying to implement file upload to S3 and saving their references in DynamoDB using GraphQL AppSync for my React Native application.

The documentation fo

[2019-03-06 19:12] khaledshamat commented on #2810
yeah after long time of researching I managed to get my request signed automatically but with this approach Im getting a weird behavior you can check my stack overflow post again I have updated it, I can get the right data from the request after signing in, but if I signed out and signed in again without refreshing the page it will throw 403 error till I hit refresh it will get the data.

If I sig

[2019-03-06 19:19] powerful23 commented on #2816
@JustFly1984 hi you can leave it. We are going to remove it in our next release. Thanks for reporting.

[2019-03-06 19:21] drphelps commented on #2638
The `CognitoUser` object returned by `Auth.currentAuthenticatedUser({ bypassCache: true })` after global sign-out has no `attributes`. Additionally, `user.signInUserSession.isValid()` returns `true`. This is pretty counter-intuitive.

The call to the Cognito IdP throws a 404 with the following debug info and no clear way to recover gracefully from this state.
[code]

[2019-03-06 19:24] wstewartii commented on #2603
I'm getting this issue as well. Is there a suggested workaround?

[2019-03-06 19:36] powerful23 commented on #2820
@jtaylor1989 can you check this repo: https://github.com/aws-samples/aws-mobile-appsync-events-starter-react-native ? Hope that would help you.

[2019-03-06 19:41] powerful23 commented on #2795
@yazoonic to make your issue resolved/responded more efficiently, can you submit your request/issue to the AWS Discussion Forums? https://aws.amazon.com/premiumsupport/knowledge-center/send-feedback-aws/ Thanks!

[2019-03-06 19:57] LuisUrrutia commented on #2609
Same error here

[2019-03-06 20:23] jtaylor1989 commented on #2820
Sadly no. My question is specific to complex objects such as pictures and videos.

[2019-03-06 22:05] logabstract commented on #2806
Hello, It would be posible in the case I have Cognito User Pool and SAML federation, create a Login component in my React app and create a button to redirect to the authorize endpoint of SAML?

https://<domain_prefix>.auth.us-east-1.amazoncognito.com/authorize?idp_identifier=cognito.com&response_type=token&client_id=<app client id>&redirect_uri=<your redirect URI>

And once I get redirected to my

[2019-03-06 22:12] jadbox commented on #2808
Latest version on npm is still broken

[2019-03-07 00:43] powerful23 commented on #2657
Closing this issue due to no further response. Please reopen if you still have this issue.

[2019-03-07 00:43] #2657 closed

[2019-03-07 00:47] chadgarlandscg commented on #2668
Since upgrading from aws-amplify 1.1.6 and aws-amplify-react 2.0.7, I'm also seeing this issue. I've tried aws-amplify-react 2.3.0, 2.3.1, and now 2.3.2, but have faced this with each version.

I had to upgrade in order to use these changes: https://github.com/aws-amplify/amplify-js/issues/2424

For me, there is a handful of others errors also present:
```{ Error: Cannot find module './recorder.js

[2019-03-07 00:55] powerful23 commented on #2511
@MohibWasay sorry to be late. Are you still having this issue? I noticed the building process complains about the `Java AWS dependencies` but in amplify js there is no dependency on that. Can you double check it?

[2019-03-07 00:56] powerful23 commented on #2501
Closing this issue due to no further response. Please feel free to reopen if you still have this issue.

[2019-03-07 01:00] powerful23 commented on #2562
Related #991

[2019-03-07 01:06] powerful23 commented on #2617
Closing the issue due to no further response. Also the remembering device feature request is duplicated to #137
Feel free to reopen if you still have this issue.

[2019-03-07 01:06] #2617 closed

[2019-03-07 01:08] powerful23 commented on #2642
@BlackbitNeueMedien I am going to close this issue as the issue has been resolved. Feel free to reopen if you still have this issue. Also if you want to send any request to the amplify-cli, you can go to the repo and open an issue: https://github.com/aws-amplify/amplify-cli  Thanks!

[2019-03-07 01:08] #2642 closed

[2019-03-07 01:17] ajhool commented on #2501
Sorry @powerful23 , I have temporarily moved away from the Amplify part of my code. The reason I did not reply to the @haverchuck RFC comment is because I initially didn't think that RFC is related to this issue in any way. I wanted to double-check that the RFC was unrelated before replying, but got sidetracked.

That RFC talks about performing Amplify Admin tasks related to AWS resources. That's

[2019-03-07 01:21] elorzafe commented on #2810
@khaledshamat can you open your developer tools and check on Application section -> Local Storage., there you could find the data that is stored by the library. On sign out should clean the tokens.

[2019-03-07 02:01] kernwig commented on #2223
@joshstir That option was implemented per my feature request in issue #2222. It did not exist yet when this issue was opened.

[2019-03-07 02:44] flibbertigibbet commented on #2668
I've been able to work around this with [modular imports](https://aws-amplify.github.io/docs/js/authentication#using-modular-imports) to avoid bringing in the full library.

[2019-03-07 04:02] truongluong1314520 commented on #2464
Wow, @JohanRin , I have the same problem, still dealing with it

[2019-03-07 04:14] DaleMatthews commented on #488
Currently, aws-amplify is a whopping 2/3rds of my web app bundle size. I'd love to see graphql out of my bundle, and clear documentation for importing modules a la carte like @jliebrand is attempting [above](https://github.com/aws-amplify/amplify-js/issues/488#issuecomment-432682942)

[2019-03-07 04:28] michaelcuneo commented on #1655
I know this is a really old post... but further to this... how would I manipulate the image further, i.e. ... Add &:before, or &:hover to the image, when it's written in this object format instead of a string literal?

[code]

[2019-03-07 04:44] #2794 closed

[2019-03-07 04:46] jeff-rogers commented on #2794
Thanks for this... closing the issue as I figured it out while looking into #1 and #2 above. I didn't correctly configure the 2nd app client ID (for the RN app) in the identity pool. Once I did that, all was good.

I'm a little confused as to why my calls to Auth via Amplify (non-REST) worked fine before fixing the above. But I'm clear of the issue now. Thanks again.

[2019-03-07 09:43] rawadrifai opened #2821 "amplify status always needs update"
Whenever I would use `amplify status`, it would show that all my functions need to be updated, even when I do not update them. My environment on the cloud is clearly out of sync with my local. I have tried initializing new environments and start over, it doesn't work.

There are 3 things that cause this behavior:
1- using some library in my function/lambda that needs to be imported `yarn add ...`

[2019-03-07 12:36] sprucify commented on #2819
Ah ok that works.
Didn't know the fields had an * behind it, since that is not showed on the signin form

[2019-03-07 14:49] RickCraig opened #2822 "AppSync: Custom stack not pushing"
**Describe the bug**
Using version 0.2.2-multienv.1, I have created a custom stack that adds resolvers for a mutation. I have followed the guide and used the example: https://github.com/mikeparisstuff/amplify-cli-nested-api-sample. But the stack is not being pushed when I call `amplify push`

**To Reproduce**
The custom stack (`amplify/backend/myAPI/stacks/custom.json`):
[code]
The request resolve

[2019-03-07 15:35] kicoo7 commented on #1728
Still no answer for this???? :hocho:

[2019-03-07 15:54] jonvanputten commented on #1884
Any update on this? A roadmap or anything giving information on getting custom scopes from the access_token?

[2019-03-07 17:02] undefobj commented on #2818
@DJWoodZ I believe that API requires administrative permissions and as such isn't designed to be called by a client application, which is what the Amplify library is designed for. Can you give us details on your use case and why this is needed?

@Joao-Leite similar question - is there a reason you need the password policy in a client application? Is this for a particular workflow?

We are looking

[2019-03-07 17:05] Joao-Leite commented on #2818
@undefobj The idea would be to show the password requirements on the frontend side without having to hardcode the rules on the application

[2019-03-07 17:22] undefobj commented on #2818
@Joao-Leite currently Cognito doesn't support that, and there would be questions that need to be asked on if that opens up any security concerns related to information disclosure of the policy. I think the RFC above would fit your needs for the time being.

[2019-03-07 17:29] buchanaf opened #2824 "TOTP Session Expiration after Email/Password"
** Which Category is your question related to? **
Authorization/Cognito

** What AWS Services are you utilizing? **
AWS Amplify

** Provide additional details e.g. code snippets **
We've enabled TOTP on our application.
The session ID obtained from the email and password login (`Auth.signIn`) seems to expires after roughly 3ish minutes. So if a user sits on the two-factor code page for 3 minutes,

[2019-03-07 18:38] powerful23 commented on #2806
@logabstract yes you can create a button to redirect to the authorize endpoint. When you are redirected back from SAML, the url should contain the id token and access token. You need to make your code flow work like this: https://aws-amplify.github.io/docs/js/authentication#make-it-work-in-your-app to ensure you can integrate your app with Amplify.

[2019-03-07 18:59] powerful23 commented on #2501
@ajhool thanks for your clarification! As a conclusion, the feature is to make the Amplify library handle/manage multiple AWS resource stacks. I will mark this as feature request.

[2019-03-07 19:00] ajhool commented on #1963
Can confirm that when using the workaround, this issue does not occur

[2019-03-07 19:01] ajhool commented on #2501
Correct, that's a good characterization of the issue, thanks!

[2019-03-07 19:02] ajhool commented on #1613
I'm not sure why this issue was closed. This is an ongoing issue that I think a lot of people will stumble upon as nextjs and amplify grow in popularity.

[2019-03-07 19:16] ajhool commented on #1934
I have a potential workaround flow that leverages next's dynamic imports. I'm not sure why it's necessary, but the internals of Amplify-react seem to require it.

This solution DOES NOT render any auth information on the server side. It is merely a patch that allows the Authenticator component to be used in the nextjs ecosystem, but it is unable to leverage SSR for rendering the components that li

[2019-03-07 19:18] elorzafe commented on #2791
@phjardas the issue is reproduced, @jordanranz what do you think?

[2019-03-07 19:19] aggied commented on #2213
bump

[2019-03-07 19:20] elorzafe commented on #2791
@phjardas Please feel free to submit a PR, if you reference it to this issue it will be great. Thanks!

[2019-03-07 19:25] #2787 closed

[2019-03-07 19:35] DJWoodZ commented on #2818
@undefobj Thank you for responding. We are using the Amplify library client-side. Our current requirement is to access the `AllowAdminCreateUserOnly` value so that we dynamically enable/disable our application's sign up feature.

[2019-03-07 19:50] powerful23 commented on #1884
@jonvanputten since this is an issue/request about the Cognito service, we can't give any roadmap or statement here. It would be more efficient if you can go to the [AWS forum](https://aws.amazon.com/premiumsupport/knowledge-center/send-feedback-aws/) and submit this issue to the service team directly. Thanks for your understanding!

[2019-03-07 20:01] powerful23 commented on #2824
@buchanaf I am sorry but seems like there is nothing we can do in the Amplify side to extend that session. Can you go to the AWS Forum: https://aws.amazon.com/premiumsupport/knowledge-center/send-feedback-aws/ to send your request to the Cognito Service team directly? Thanks for your feedback!

[2019-03-07 21:13] jordanranz commented on #2791
Seems related to:
https://github.com/aws-amplify/amplify-js/commit/f872234f6466765b62fb7c36821ff03228f9f137

@powerful23

[2019-03-07 21:38] jkeys-ecg-nmsu opened #2825 "How to perform client-side validation of AWSPhone input (which requires valid / registered telephone number)"
I discovered that the AWSPhone resolver, by default, only accepts valid phone numbers. That is, putting in fake numbers that satisfy a traditional phone regex (e.g. `[0-9]{3}-[0-9]{3}-[0-9]{4}`) will result in a failed GraphQL operation.

How can the phone number be validated against the AWSPhone resolver -- which I guess looks up some national directory of registered phone numbers? -- from the cl

[2019-03-07 23:21] undefobj commented on #146
Can we close this issue? Per the discussion above it appears to be resolved.

[2019-03-07 23:52] jkeys-ecg-nmsu commented on #2807
I use the API object for smaller projects that don't need ApolloProvider or the AWSAppSyncClient.

You can still perform the fundamental operations with API.graphql, so it's probably best to start with that unless you need caching, offline query caching, etc.

For reference you could use the generated gql operation above with the API object like this:

[code]

[2019-03-08 00:18] callagga commented on #2807
thanks - mind if I ask then how you manage the data "objects" within your react client project?  i.e. do you just pass basic javascript arrays, objects, or do you actually use classes/objects (with associated method) and then make use of these in your actions/redux layer through to your UI/react layer?

(background was I was wondering whether to what extend auto-generated code/types/objects by amp

[2019-03-08 00:21] callagga opened #2826 "how to include validation across two model attributes? (e.g. startDate < endDate)"
Using AWS Amplify how does one update the schema.graphql model file so as to cause backend validation across multiple fields for the graphql API that is created.

For example with the following schema.graphql file for amplify, how could I update this (or with the additional of other files in the project), so as to include a server side validation check on the graphql API it created such that:

"st

[2019-03-08 00:38] chadgarlandscg commented on #54
@thrixton apologies for the late reply! I'm actually trying to do this in a Node server, not a Lambda.

My users ("guests" and "hosts") authenticate with Cognito via Amplify. Hosts can upload an image via Amplify, which saves the image under their protected folder in S3. Then, guests (authenticated or not) as well as other hosts can browse for hosts and see their saved image.

Hosts are registered

[2019-03-08 00:39] #146 closed

[2019-03-08 00:40] powerful23 commented on #525
Closing this issue as it should have been implemented in the latest version: https://aws-amplify.github.io/docs/js/authentication#switching-authentication-flow-type

[2019-03-08 00:40] #525 closed

[2019-03-08 00:49] powerful23 commented on #561
Closing this issue as this feature has been implemented. Please check the doc: https://aws-amplify.github.io/docs/js/authentication#federated-identities-social-sign-in

[2019-03-08 00:49] #561 closed

[2019-03-08 00:54] #2340 closed

[2019-03-08 00:55] powerful23 commented on #684
Closing this issue due to: https://aws-amplify.github.io/docs/js/pubsub#aws-iot

[2019-03-08 00:55] #684 closed

[2019-03-08 00:56] jkeys-ecg-nmsu commented on #2807
Well, without violating my NDA, I can tell you that AppSync (GraphQL) subscriptions are very useful for components that need to react to changes to your data source in (near-) real time, and it makes more logical sense to me to put subscription-based code in the component whose view will be affected. Then you could modify your component's local state in your subscriptions' next callbacks, allowing

[2019-03-08 01:03] #734 closed

[2019-03-08 01:06] powerful23 commented on #774
Closing this issue as this is an issue related to the Cognito service. Please your feedback to the Cognito service team via AWS Forum: https://aws.amazon.com/premiumsupport/knowledge-center/send-feedback-aws/

[2019-03-08 01:06] #774 closed

[2019-03-08 01:06] powerful23 commented on #784
Closing this issue due to no further response. Please feel free to reopen if you still have this issue.

[2019-03-08 01:06] #784 closed

[2019-03-08 01:07] powerful23 commented on #760
For how to use Cognito Hosted UI with Amplify, please check the doc: https://aws-amplify.github.io/docs/js/authentication#using-amazon-cognito-hosted-ui

[2019-03-08 01:07] #760 closed

[2019-03-08 01:12] powerful23 commented on #829
@jfo8000 I am going to close this issue now but if you have any further issue, please reopen it.

[2019-03-08 01:12] #829 closed

[2019-03-08 01:21] jkeys-ecg-nmsu commented on #2669
@undefobj @jordanranz To me, the ideal (event-driven) application is one where every piece of state is reactive to all relevant event streams. In BaconJS parlance, `[every piece of state should be a Property](https://github.com/baconjs/bacon.js/#property)`.

If literally every piece of state of your application is reacting to EventStreams, doesn't that

[2019-03-08 01:38] htobenothing opened #2827 "currentAuthenticatedUser bypassCache true, dosesn't get the latest user information"
**Describe the bug**
when assign new group to user in Cognito, and try to get group information from accessToken. The group information not update.

[code]

version:     "aws-amplify": "^1.1.10"

[2019-03-08 01:47] jkeys-ecg-nmsu commented on #2817
Have you considered making the relevant models `@searchable` and using ElasticSearch to filter your response?

Personally I don't like the idea of using an (expensive) NLP service to simulate relational queries, but I think AppSync & Amplify team will be adding features in the near future that will ameliorate this problem.

[2019-03-08 01:51] jkeys-ecg-nmsu commented on #2773
@elorzafe Are there any essential readmes for first-time FOSS (Javascript) contributors? I'd like to contribute some code in my free time to the Amplify codebase, but I really don't know how to get started. Plus I don't want to slow down the work on a project with learning how to FOSS-contribute.

[2019-03-08 01:52] justingrant commented on #2716
Today we're using federatedSignIn() with Cognito Identity Pools *without* Cognito User Pools. It's great to make federation easier for the User Pools case, but please don't break our existing use-case of being able to login to Facebook and to use Amplify to make calls to API Gateway without a User Pool!

Below is the TypeScript code that we're (successfully) using to enable login through Facebook

[2019-03-08 01:54] jkeys-ecg-nmsu commented on #2825
To clarify, this is the input that fails:

`575-111-1111`, `575-222-2222`

Area code (575) -- **southern New Mexico represent!** -- does not use `111` or `222`, so the AWSPhone validation may simply be recognizing that (575) does not use `111` or `222`. (In other words, my original supposition that a national database of registered phones is conjecture, b/c a phone number can be found invalid just

[2019-03-08 02:54] willkara opened #2828 "Storage.list doesn't list contents. Though config correctly displays bucket-name."
**Describe the bug**
Storage.list does not list bucket contents. I've tried tons of permutations of paths, but nothing lists.

**To Reproduce**
[code]

**Expected behavior**
A list of keys/objects from my bucket.

**Screenshots**

1. Example code
2. Output of code.

![storage_snip](https://user-images.githubusercontent.com/3278887/54004282-02507980-4123-11e9-8d43-f96ccb8eb35f.PNG)
![storage_snip2]

[2019-03-08 02:58] undefobj commented on #2716
@justingrant thanks for the feedback here. If we ever change APIs we would do it in major version releases so that you could upgrade accordingly.

That being said, your code above mixes both Amplify's Auth category with the AWS SDK. Anything in that SDK, such as `AWS.config.getCredentials()`, isn't controlled by the Amplify library. However, you don't actually need to be making those calls to `AWS

[2019-03-08 06:59] mashraf22 opened #2829 "Token is not expiring on signOut/globalsignOut"
I am using angular6 inside using this amazon-cognito-identity-js. I am also using AWS user pool with federated identities.
When I am calling singOut/globalSignOut, Token is not beign exipired/invalidated.

[2019-03-08 07:55] TomiLahtinen commented on #54
Cognito Identity ID is passed by AWS client SDK at least to some extent to backend services. But there's no way of mapping that identity id to an actual user account in Cognito's user pool

Cognito Identity id can obtained from Lambda context yes, but it cannot be mapped to an actual user account in Cognito's user pool

[2019-03-08 07:57] TomiLahtinen commented on #54
Cognito Identity id can obtained from Lambda context yes, but it cannot be mapped to an actual user account in Cognito's user pool

[2019-03-08 08:53] nloui opened #2830 "Cannot read property 'line' of null"
**Describe the bug**

When building a project with aws-amplify using parcel and running "yarn build", receiving this error:

🚨  /Users/XXXX/Dev/XXXX/XXXX/node_modules/@aws-amplify/ui/dist/aws-amplify-ui.js: Cannot read property 'line' of null
    at SourceMap.originalPositionFor (/Users/XXXX/Dev/XXXX/XXXX/node_modules/parcel-bundler/src/SourceMap.js:309:30)
    at extension.eachMapping.mapping (/U

[2019-03-08 09:05] foxfl commented on #2645
@amlcodes `@auth` directive only works for Cognito User Pools
https://aws-amplify.github.io/docs/cli/graphql
Take a look at the Task App

[2019-03-08 09:29] Hugodby commented on #2148
Any news on this? I still have the issue.
Let me know what can I do to move things forward.

[2019-03-08 09:34] skdigital commented on #1613
I agree this shouldn't be closed.. I, along with many others are holding our breath for amplify support for server rendered apps.

[2019-03-08 10:30] andidev commented on #2534
This have been driving me crazy for a year now. Thanks for workaround! It works like a charm! After calling `Auth.currentAuthenticatedUser({ bypassCache: true })`, `Auth.currentUserPoolUser()` now returns all updated attributes.

[2019-03-08 15:17] lucasbastianik commented on #539
+1

[2019-03-08 17:26] justingrant commented on #2716
Thanks @undefobj - API changes are OK with us as long as the new API will support the same capabilities as the current API for logging in with a social identify using an Identity Pool but without a User Pool.  From reading the RFC it looks like this is already the plan, which is great.

Cool.  I was able to remove the non-Amplify code and Facebook login still worked. This is an ancient part of our

[2019-03-08 18:47] powerful23 commented on #2827
@htobenothing I will mark this as bug.

[2019-03-08 18:49] powerful23 commented on #2827
The root cause is that currently when setting `bypassCache` to true, the library only gets the latest user attribute which doesn't contain the user group info. Since the user group info can only be achieved from access token, we need to refresh the accessToken as well.

[2019-03-08 18:54] powerful23 commented on #2828
@willkara can you provide more info like the response of `Storage.list` or any debug info? You can open the debug mode by `window.LOG_LEVEL='DEBUG'`

[2019-03-08 18:57] powerful23 commented on #2829
@mashraf22 can you provide more info?

Are `federated identities` federated with Cognito Federated Identity Pool or Cognito User Pool?

Is the token from the Cognito User Pool or from the federated provider?

[2019-03-08 19:18] powerful23 commented on #2830
@nloui Hi, did you run `yarn && yarn bootstrap` before `yarn build`?

[2019-03-08 20:27] powerful23 commented on #2809
Related #2826

[2019-03-08 21:05] willkara commented on #2828
@powerful23 here's the output with debug mode enabled for listing '/'. I get the same for:

- 'images/photos'
- 'images'
- '/'

![list_pub](https://user-images.githubusercontent.com/3278887/54055698-d7feca80-41bb-11e9-94c5-aad46bac25a8.jpg)

What's curious is the line that states:

`[DEBUG] 03:19.706 AWSS3Provider - list images from public/images`

Does that mean it's trying to list something from

[2019-03-08 21:06] jtaylor1989 commented on #2828
The uri of the image is surprisingly absent from the object item of the Storage.list() response.
Only by calling Storage.get() on every item of the list that we will get the uri.
To list content, try similar code to the one below.

<img width="579" alt="list" src="https://user-images.githubusercontent.com/26605247/54055690-bd414b80-41e5-11e9-967d-03c75b70bc99.png">

You can call your fetchImages i

[2019-03-08 21:06] manueliglesias commented on #2820
Hi @jtaylor1989

We'll be opening a PR in the docs repo to add a file upload example for react native.

For now, you can try this:

To use files in react-native, the [Amplify docs for the Storage category](https://aws-amplify.github.io/docs/js/storage#put) have sample code using `react-native-fetch-blob`.

[code]

Then, you can pass the buffer to your mutation like [this](https://github.com/aws-sa

[2019-03-08 21:06] #2820 closed

[2019-03-08 21:16] manueliglesias commented on #2825
Hi @jkeys-ecg-nmsu

We don't offer validators that complex in Amplify, but I have  suggestion for you, you could try [libphonenumber](https://github.com/googlei18n/libphonenumber/tree/master/javascript) for client side validation of phone numbers.

I hope this helps.

[2019-03-08 21:16] #2825 closed

[2019-03-08 21:19] jtaylor1989 commented on #2706
I struggled a lot in implementing file upload using Amplify, AppSync, and S3 for my React native application.

As far as I understand, Amplify AppSync GraphQL Client does not support complex objects. You must switch the AppSync SDK (with the Apollo Client) to achieve this.

I wanted to share with you my methodology on how I made it work. Probably this will give you some insights.

I am using Expo

[2019-03-08 21:39] manueliglesias commented on #2807
Hi @callagga

I am closing this issue as it seems that @jkeys-ecg-nmsu gave you great answers and pointers.

Thanks!

[2019-03-08 21:39] #2807 closed

[2019-03-08 21:50] haverchuck commented on #570
Closing this issue per @baharev saying the issue can be closed.  Please feel free to reopen.

[2019-03-08 21:50] #570 closed

[2019-03-08 22:02] callagga commented on #2809
More specific question here (agreed): https://github.com/aws-amplify/amplify-js/issues/2826

(I'll see if I can delete this one)

[2019-03-08 22:02] #2809 closed

[2019-03-08 22:03] callagga commented on #2807
ok thanks

[2019-03-08 22:13] manueliglesias commented on #2793
Hi @rozhali

Looks like the [sample lambda code](https://github.com/aws-amplify/amplify-cli/blob/d7d4b3f947747bc4be5deb4cca4bea06cfff3cf5/packages/amplify-category-function/provider-utils/awscloudformation/function-template-dir/crud-app.js.ejs#L147) generated by the cli doesn't have robust error checking and therefore it doesn't set an error status (this is why your catch is not being called).

On

[2019-03-08 22:13] #2793 closed

[2019-03-08 22:15] jkeys-ecg-nmsu commented on #2825
@manueliglesias The AWSPhone scalar type does the validation on the backend, so I'm primarily interested in what rules AppSync has to determine whether an AWSPhone type is valid input.

The library you suggested doesn't tell me how AppSync validates, so I don't know if it will catch all invalid numbers.