[2019-03-29 09:06] vparpoil commented on #2960
Seems similar to https://github.com/aws-amplify/amplify-cli/issues/1144 , sorry for duplicate in wrong repo

[2019-03-29 09:18] khirodAsurion commented on #2932
Sure ,
I create a link to redirect the App to PINGSSO on hit of my App URL like below

`import React from 'react';
import { withOAuth } from 'aws-amplify-react';
import Spinner from '../spinner/Spinner';
import config from '../../appconfig/config';
class Landing extends React.Component {
  componentDidMount() {
    const { domain, redirectSignIn, responseType, scope } = config.Amplify.Auth.oauth;

[2019-03-29 10:07] robbiemu commented on #1002
what was the outcome of this?

[2019-03-29 10:18] mithunkalan opened #2961 "S3 Access Denied - node_modules/aws-sdk/lib/services/s3.js"
**Describe the bug**
Unable to upload image to S3 using a FederatedSignIn from Google

**To Reproduce**
Steps to reproduce the behavior:
1. Get google token `const { type, accessToken, user } = await Google.logInAsync({ clientId });`
2. Signin into Cognito `Auth.federatedSignIn("google", { accessToken }, { name: user.id })`
3. Upload image   `Storage.put(text, Buffer.from(result.base64, "base64"),

[2019-03-29 10:54] koolkav1 commented on #2947
Sorry, I will rename the function to something better.

I want to create an app with two types of users,  user and admin. Admins have access to mobile phones and therefore would need to use TOTP to access the application. Normal users would use a custom authorisation flow to answer a series of challenges to verify them.

https://github.com/koolkav1/aws-mfa  (You need to add your own aws-exports.ts

[2019-03-29 11:01] spdionis commented on #2375
I cannot reproduce it consistently but I can confirm I have had the same issue of Chrome crashing sometimes right after logging in, probably while storing JWT to localStorage, even in Incognito. We use the amplify login component in `aws-amplify-react`. Let me know if I can add any other useful info.

Chrome version: 73.0.3683.86

[2019-03-29 11:09] MagneH commented on #2502
Hey guys! I experienced the same issue. I solved it by exposing the id facilitating the connection, explicitly on the type.

For instance, if you want to filter projects based on the company it belongs to:

[code]

then you can do filtering with:

[code]

NOTE: Its only filtered client side!

Hope this helps!

[2019-03-29 12:35] gl2748 commented on #1252
@vparpoil regarding the way `aws_appsync_authenticationType` is overridden you can do this to preserve your change outside editting the `aws-exports.js` directly.
[code]

[2019-03-29 14:54] ffjanhoeck opened #2962 "Bug in amazon-cognito-identify-js"
Hey, we have installed the version 3.0.10  amazon-cognito-identify-js and we noticed a bug.
If we use this version, an additional API call to https://cognito-idp.eu-central-1.amazonaws.com/ will be fired. This call breaks our app, because we receive a 400er.
Is that true, that a new call was added?

The Version 3.0.9 works great. In this version just one call gets fired. X-Amz-Taget: AWSCognitoIde

[2019-03-29 15:00] rogueturnip commented on #1318
Hi there,
I'm back on this problem.  I tried the above configuration with IAM credentials and I'm still getting an access denied on the list even with the bucket being a public bucket.  I can use the failed get url and access it from the browser directly.

[2019-03-29 15:06] rogueturnip commented on #1318
I also noticed the documentation has the configure JSON slightly different so I tried that with no luck:
Storage.configure({
    AWSS3: {
        bucket: '',//Your bucket name;
        region: ''//Specify the region your bucket was created in;
    }
});

[2019-03-29 15:13] rogueturnip commented on #1318
Figured it out from looking at the amplify storage code.  You can't define credentials in the configure, it's not used at all but you an assign the credentials directly to each call (get, list, put) like this:
        let result = Storage.list('', {credentials: {
                accessKeyId: 'xxx',
                secretAccessKey: 'xxx'
            }});

I think the credentials should also be supp

[2019-03-29 15:26] peetss commented on #2958
Custom attributes can only be defined as a string or a number, from: https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-settings-attributes.html#user-pool-settings-custom-attributes

[2019-03-29 15:52] rogueturnip commented on #1318
This also means you can't use any of the components (S3Album) because you can't pass in a credentials prop in this setup.

[2019-03-29 16:22] cor1 commented on #488
Any luck or updates on getting graphql out?

[2019-03-29 16:47] ebuychance opened #2963 "aws-amplify-vue RequireNewPassword component missing `sent` property"
**Describe the bug**
A new admin created user sees an error when setting a new password.

[code]

https://github.com/aws-amplify/amplify-js/blob/1ced773385aeff309b97ce13fc2bc759b13b4a41/packages/aws-amplify-vue/src/components/authenticator/RequireNewPassword.vue#L36

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new user with CognitoIdentityServiceProvider.adminCreateUser
2. Attemp

[2019-03-29 16:57] anthony-tietjen-navex commented on #2908
Any update? Is this happening to all Website Pinpoint projects? Or are we doing something out-of-the ordinary to cause this?

[2019-03-29 17:07] powerful23 commented on #2962
@ffjanhoeck the `IntiateAuth` request is triggered by the `refreshSession` function which is added into the `GetUser` function in the latest version. This function is aimed to get the latest accessToken and idToken when getting the user data.

Can you paste the request and response body of your `IniateAuth` request here?

[2019-03-29 17:26] powerful23 commented on #2947
@koolkav1 as I know the user attributes can only be achieved after signing in successfully so there is no way to tell whether the user is admin user or not based on those attributes before signing in. I would suggest that in the Sign In UI page, the users can select themselves whether they are admin or not and thus they will sign in with different flows.

I can also raise this question to the Cogn

[2019-03-29 17:35] ebuychance commented on #2955
@powerful23 It would be nice if you posted the issue link you raise.

[2019-03-29 18:07] enzo-beltrami commented on #2555
i had this problem and using the snippet + `Auth.currentCredentials()` worked, thanks!

[2019-03-29 18:16] powerful23 commented on #2932
@khirodAsurion I don't think you are using amplify correctly.
- In the <Landing/> component, the url is triggered as long as the component is mounted, which means the user will be directed to the OAuth login page, in that case you don't need to use the `withOAuth` HOC

- Once you are redirected back to your app, you would need to use the `Hub` module to detect whether you are signed in or not: htt

[2019-03-29 18:18] powerful23 commented on #2960
@vparpoil It's OK. I will close this now but if you want to reopen it, pls let us know. Thanks!

[2019-03-29 18:18] #2960 closed

[2019-03-29 19:09] TheVaporTrail commented on #1759
@powerful23, I am getting these errors in the console:

This is the name of my role: `polygonia_unauth_MOBILEHUB_XXXXXX`

The same policy is listed in the identity pool settings:
`Unauthenticated role: polygonia_unauth_MOBILEHUB_XXXX `

These are the statements I have in IAM for the role listed above:
[code]

I made the change to the role some time ago.

Can you tell me what I need to do to resolv

[2019-03-29 19:20] mikhael28 commented on #2160
The configuration settings for the SignUp Fields work perfectly, except the defaultCountryCode when set to 256 (which is an available preset) doesn't work. In fact, any code doesn't work - it just defaults to 1. I had to go into the node_module and update the preset to 256.

A question - are there currently any ways to update the signIN forms? All these configuration options are for the signUp. I

[2019-03-29 19:36] cor1 commented on #488
So i spent some time today trying to remove graphql since I dont use it. A workaround that is working for me is I used craco to modify the webpack config without ejecting create react app to ignore graphql, and my build doesnt include the dependency anymore.

here is my craco.config.js
`module.exports = {
  webpack: {
    configure: {
      externals: {
        graphql: {
          commonjs: 'grap

[2019-03-29 20:52] ceich commented on #2716
Currently I use Cognito Hosted UI but Amplify CLI doesn't support it (at least last I looked ... wishing for Release Notes for Amplify CLI because it's hard to keep up). I wrap my app using `withAuthenticator` but the only `authComp` is a little redirector that calls `props.OAuthSignIn` after a delay.

As I understand the RFC, I'd be able to use the standard `authComps`, not Hosted UI, and still h

[2019-03-29 21:09] undefobj commented on #2716
@ceich we're about to release a new version with this support. You can see this here: https://github.com/aws-amplify/amplify-cli/tree/hosted-ui-and-crud
This is the first stage of us delivering on the following RFC: https://github.com/aws-amplify/amplify-cli/issues/766

The idea is that yes you'll be able to leverage the OAuth endpoints that are created when you setup the Hosted UI, but you don't

[2019-03-29 21:54] ngocketit commented on #1453
Any update on this please? Currently, uploading a large video file (about 200MB) makes my app crash.

[2019-03-29 22:07] ngocketit opened #2965 "What is the best way to upload large file (video)?"
Hi,

I'm using `Storage.put` to upload video files to S3 but the app crashes if file size is large. Here is the code:
[code]

Does amplify support multi-part upload yet? If not, what's the workaround?

Thanks!

[2019-03-29 22:16] undefobj commented on #2927
Hi @RoniqueRicketts the information contained in the `aws-exports.js` file is necessary to construct the service endpoints in order for your client to communicate with the backend and not secret information to access your AWS account. This information is acceptable for your client application and shouldn't risk inappropriate access to resources as long as you leverage the proper workflows outlined

[2019-03-29 22:16] #2927 closed

[2019-03-29 22:21] jarrettj commented on #2750
Hey,

Good day.

Yup, it really does not play nice with Angular Material. Weird why it would have to mess things up. Should the theme not be specific to amplify components only? Instead of changing global styles.

Regards.

[2019-03-29 22:54] powerful23 commented on #2961
@mithunkalan yes there should be no difference between login from Fb or Google as long as both providers are configured correctly in the Cognito Federated Identity Pool. Can you do a research that when you federated sign in with Google, you will get an identity id. Can you search the identity id in the Cognito Federated Identity Pool -> Identity Browser to see if it's linked Google correctly.

[2019-03-30 16:22] laurachevalier4 commented on #2422
*Update* also tried with user groups in the same way as my webapp and still facing the same error.

[2019-03-30 17:38] Firefox2005 commented on #2403
+1

[2019-03-30 17:44] awan2008 commented on #171
Strange. When I run `react-native link amazon-cognito-identity-js`, I got this error:
`error EPERM: operation not permitted, scandir 'D:\myapp\android\app\build\intermediates\signing_config\debug\out\signing-config.json'`

what happen?

[2019-03-30 18:19] ffjanhoeck commented on #2962
Sure but first let me explain what we do, because at this point we don't use aws-amplify as expected.
We have a backend service which are able to login into cognito. This backend service sends us the idToken, refreshToken and accessToken back to the frontend. After the frontend receives the tokens, we do the following:

`    /**
     * Directly insert the cognito token into the storage
     * @par

[2019-03-30 18:39] leantorres73 commented on #1844
Same issue here, if you need to reconnect to a topic it fails, and adding plugabble creates a new clientID, that means everytime we reconnect or change topics we need to execute addPlugabble and this will end up with memory issues.

A method like removePlugabble must be included to fix and have the ability to unsubscribe and start over again.

[2019-03-30 20:44] amaingot commented on #1284
Is anything happening with this issue? Looks like it is still happening for me too. I'm on v1.1.23.

[2019-03-31 00:41] jkeys-ecg-nmsu commented on #2945
@guanzo why can't you just add a call to `Auth.signOut()` as the first statement in your login callback?

[2019-03-31 00:53] jkeys-ecg-nmsu commented on #2726
@haverchuck I just want to circle back and reflect that your original response, if I had read it carefully, I would have seen that it contained the answer. I made an assumption that wasted both our time. Lesson learned (hopefully) =)

[2019-03-31 02:09] chengjia0807 opened #2966 "Server side rendering is broken after versions 0.15"
Hi,

Server side rendering is broken after versions 0.15.

I gives me this error: "Error: Not supported"

I checked the source code:

[code]

I guess it's because that the code is actually checking browser, it there is no "window.location" then it throws "Not supported" error.

However SSR does not have window at all.

Thanks

CJ

[2019-03-31 03:50] khalaniaiyaj commented on #2838
@powerful23 I don’t want to use inbuilt UI, i want federated user in cognito pool via custom UI. Is it possible?

[2019-03-31 12:03] idiglove opened #2967 ""No Current User" with Cognito User Pools for accessing App Sync"
** Which Category is your question related to? **

API

** What AWS Services are you utilizing? **

Cognito and App Sync

** Provide additional details e.g. code snippets **

I used Coginto User Pools for accessing my App Sync.

I have added below code in my unauth role IAM policy, but I still get `No current user`
[code]

[2019-03-31 13:04] cottageGrove opened #2968 "Nested queries are being returned as nil in Swift when you call a fetch request"
**Describe the bug**
I've been trying to get the orders that are linked to the user object I've created through AppSync in my iOS application with the generated methods. The query tab in the AppSync GUI returns the orders that have a relationship with the user, but the generated API.swift file doesn't seem to be able to retrieve nested data or objects.

**To Reproduce**
Steps to reproduce the beha

[2019-03-31 13:32] bishonbopanna commented on #2706
@dabit3 can you please comment.

Starting from this tutorial - https://github.com/aws-samples/aws-amplify-graphql

I have run into a similar requirement where I have to upload an image and do it while creating/updating an object (appsync + dynamo) as an atomic operation but the below just puts an entry into dynamo and _not_ upload to S3. Does amplify-js does _not_ have this capability to deal with

[2019-03-31 15:18] johnomalley opened #2969 "Switching from 'aws-amplify' module to '@aws-amplify/auth' and '@aws-amplify/api' seems to require extra config that I cannot find"
** Which Category is your question related to? **
Auth and API modules

** What AWS Services are you utilizing? **
+ Cognito Federated Identity - using Google as an IDP
+ API gateway with IAM authorizer
+ aws-amplify auth and api modules

** Provide additional details e.g. code snippets **
I was previously using the 'aws-amplify' NPM module to perform a federated login via google and to securely c

[2019-03-31 18:26] Scottyaim opened #2970 "React Native google auth without expiration token?"
** Which Category is your question related to? **
Authentication, Federated Login

** What AWS Services are you utilizing? **
AWS Cognito, DynamoDB, Amplify

** Provide additional details e.g. code snippets **

Hi, I just transistioned from Firebase to AWS/Amplify and I'm trying to implement Google
Authentication in my React Native app.

I've followed the https://aws-amplify.github.io/docs/js/auth

[2019-03-31 18:41] johnomalley commented on #2969
After much investigation this appears to be an NPM issue or some other configuration problem.  The api, core, and auth modules are all bringing in their own versions of core, aws-sdk, etc.  Looking at the versions there does not appear to be any reason why NPM would not dedupe the dependencies.  Still looking into it...

![amplify-duplicated-dependencies](https://user-images.githubusercontent.com/

[2019-03-31 18:50] viniciusfont commented on #2643
Hi @sourabhdadapure , did you managed to solve this? I'm having the same problem, thanks.

[2019-03-31 18:54] johnomalley commented on #2969
`npm dedupe` fixed the problem so I suppose this is an npm issue.

[2019-03-31 18:54] #2969 closed

[2019-03-31 19:16] JustFly1984 commented on #2969
@johnomalley  More than that, after getting rid of `aws-amplify` and implementing `@aws-amplify/auth` instead, we met an issue, where error handling changed, and we were getting different kind of response. I advise you to try wrong login/password to test `auth`

[2019-03-31 19:28] johnomalley commented on #2969
@JustFly1984 Thanks for the advice - much appreciated.  Will comment if I learn anything more.

I think the problem was that I had aws-sdk as a separate dependency.  I don't know why that would cause the duplication of modules with the same version but I was unable to reproduce the issue with just the three @aws-amplify deps as depenedencies.

[2019-03-31 23:59] nickjanssen opened #2971 "Analytics.record should throw an error if no config is provided"
**Describe the bug**

`Analytics.record` should throw if no config was provided. I can't imagine why you wouldn't want to throw without any config.

**To Reproduce**
[code]
The above works and doesn't do anything. (Demo: https://codesandbox.io/s/2vxo88rj2n)

**Expected behavior**
An error should throw.

[2019-04-01 03:06] BerndWessels commented on #1852
With [amazon_cognito_identity_dart](https://medium.com/@wesselsbernd/flutter-and-aws-as-of-march-2019-1ad7f40fa9e4) we can **unofficially** use most of `AppSync` and all the other `AWS services` already.

I personally don't need all the noise that `Amplify` adds - but rather make basic `GraphQL queries` and sort out offline caching myself (even though there are already flutter plugins that help wi

[2019-04-01 04:58] michaelcuneo commented on #2502
@MagneH This appears to completely defeat the purpose of having a linked @Connection in the first place. The company in Type Projects @model in my instance... will be null, no matter how many Projects I add, they won't be placed into Company under projects, the @connection to Company, doesn't actually exist, so adding a CompanyId: to make it filterable, is basically ignoring the fact that @connect

[2019-04-01 05:10] SokichiFujita commented on #518
I also hope that `Storage.put()` with `level:public` option sets actual public ACL to the file. Using `Storage.get()` to get the file URL causes slow file fetching and increases unnecessary complexity of frontend development.

[2019-04-01 06:46] jarrettj commented on #2634
Hi,

Good day.

Any updates? I'm using the angular auth component.

In my view I added <amplify-authenticator></amplify-authenticator>.

And I have manually enabled the flow in the App clients of the Cognito User Pool to USER_PASSWORD_AUTH.

But the lambda function does not get triggered.

Is this a known issue with User Migration? Thanks.

Regards.
Jarrett

[2019-04-01 07:40] pribadi1st commented on #2643
@viniciusfont did you put the configuration outside your component ?

[2019-04-01 08:26] koolkav1 commented on #2947
@powerful23, thank you. Please let me know if the Cognito team comes back to you.

[2019-04-01 09:25] mithunkalan commented on #2952
- I logged in via google, got a new federated ID. Made a note of it.
- Sign out, and sign in again. Got a new Fed ID.
- Look at old Fed ID, no change. No words like disabled on it. Seems like its still active.

Interestingly I see in the identity browser that there are no Google linked logins. I must have logged in via google a few dozen times and it still shows 0 google logins. The cognito and fa

[2019-04-01 11:34] junaidatique opened #2973 "Using AWS SAM to test REST API generated using Amplify"
** Which Category is your question related to? **
Trying to test  REST API that uses API gateway generated from aws amplify locally using AWS SAM CLI
** What AWS Services are you utilizing? **
I have generated serverless rest api using `Serverless express function (Integration with Amazon API Gateway)` option. the api works fine when pushed to the cloud. I am trying to use AWS SAM on local to test

[2019-04-01 12:05] jarrettj commented on #419
Hi,

Good day.

Took me a while to figure this out. But I'm using angular and to set the flow I did the following in my app.component.ts:
[code]

Hope that helps somebody else out there. (who's a noob like me:)

Regards.
Jarrett

[2019-04-01 12:12] gaborcsontos commented on #1181
I have the same problem! Always gives back an incorrect password or username no matter what i'm doing.

[2019-04-01 12:46] tmjordan commented on #1150
@SrujithPoondla @Sonic-Ninja, hi guys,  have you find a way to use amazon rekognition with amplify?
Thanks

[2019-04-01 12:56] philiiiiiipp commented on #2961
I am seeing the same issue, but with Cognito, after updating to the latest version.

After reverting back to:
[code]

It works fine.

[2019-04-01 13:49] swarnim89 commented on #2345
Same issue i m facing while running the application in iphone 5s

[2019-04-01 14:29] viniciusfont commented on #2643
I put it in the App.js outside the App class component

The device successfully appears at Pinpoint dashboard (as a endpoint without a address), but the @amplify/push_notifications module doesn't get the FCM token to update the endpoint (neither onRegister is called)

[code]

[2019-04-01 14:31] viniciusfont commented on #1858
@GraemeAllanBryce with this setup, I can successfully build the app, but I think I broke the amplify google services connection.

I put the amplify + pushnotification logic in the App.js outside the App class component.

The device successfully appears at Pinpoint dashboard (as a endpoint without a address), but the @amplify/push_notifications module doesn't get the FCM token to update the endpoin

[2019-04-01 15:08] mithunkalan commented on #2961
@powerful23  @philiiiiiipp I think i got it fixed.
I investigated the identity browser. Saw that there were no google logins. Checked the response of Auth.federatedSignIn and saw that webIdentityCredentials.params.Logins."accounts.google.com" was always blank. This means that I was making an unauthenticated ID all the damn time.
After a million combinations of ClientID , I find that I need to add

[2019-04-01 15:22] mithunkalan commented on #2952
@powerful23 I fixed this.
CognitoPool>Federation>IdentityPool requires the App's ID and not the Web ID.
I now get reliable Fed IDs and they are linked.
This is the page that gives the wrong instructions that caused my problem.
https://docs.aws.amazon.com/cognito/latest/developerguide/google.html

[2019-04-01 15:23] #2952 closed

[2019-04-01 15:23] #2961 closed

[2019-04-01 15:23] mbonig commented on #2739
Having the same problem, and it seems like all the solutions on all other forums are not working here. Can say I'm seeing the exact same issue (except using Ionic instead of React)

[2019-04-01 15:31] lookitsatravis commented on #2586
@johnf or @Futhark is there a work around for this issue? We’ve run into it as well.

[2019-04-01 15:58] blazmag commented on #869
While it seems like spaces are accepted between words, I still get the same validation error if I use the whitespace at the end

[2019-04-01 17:33] Ch3ck commented on #804
@tomquisel I wonder if there's been any updates on generating the recovery codes for a user account with MFA on Cognito

[2019-04-01 17:53] packerfan626 opened #2974 "Adding Tags in S3 upload in React Native"
This is for the Storage feature of AWS-Amplify. I am using the 'Put' method which is successfully uploading a video. I have figured out how to add metadata to the video, but I would like to use the tagging feature instead.

I have an S3 trigger when a file gets uploaded, and I want to extract the information that is passed up with the video and store it within DynamoDB. So the tags that I add, I w

[2019-04-01 18:21] powerful23 commented on #2838
@khalaniaiyaj as I know it's impossible. You can go to the AWS forum and post this issue to Cognito service team: https://aws.amazon.com/premiumsupport/knowledge-center/send-feedback-aws/

[2019-04-01 18:23] alspdx commented on #2955
Here's a [link to the issue](https://forums.aws.amazon.com/thread.jspa?threadID=300918&tstart=0), however nobody has responded to it so far.

[2019-04-01 18:26] elorzafe commented on #2966
@chengjia0807 thanks for reporting, we are not supporting officially SSR but we will work on address this issue.

[2019-04-01 18:28] elorzafe commented on #2967
Hi @idiglove how are you configuring Amplify? Can you share it by hidding your endpoints?

[2019-04-01 18:38] elorzafe commented on #2968
@cottageGrove there is an option for code generation, indicating the depth of the data that is going to be retrieved. Try to run the codegen process again and see what is showing. I will redirect to cli repo, so they will have more knowledge to deal with your problem

Thanks!

[2019-04-01 19:03] bernhardt1 opened #2975 "[Android] Push notification not displayed when app is killed"
**Describe the bug**
Using the standard [android notification setup from the docs](https://aws-amplify.github.io/docs/js/push-notifications#working-with-the-api) a notification is **not displayed** when the app is in a killed state even though the message data is received to android studio.

Here is the android studio log.
[code]
I followed  #1245 but it did not help.

**To Reproduce**
Steps to re

[2019-04-01 20:43] max77p commented on #1275
@powerful23 I currently have the following sign in method, where after i get response i send that to node server side and then filter through which challenge type it is.  It works fine, but If I open lets say three tabs up, and sign in using three accounts. Then sign out any ONE user, how can I implement it so that all users are not signed out and my local storage updates accordingly?

`  handleSu

[2019-04-01 20:46] skrosoft commented on #1429
Did someone has found how to translate Cognito hosted version?

[2019-04-01 20:48] jarrettj commented on #2403
+1

[2019-04-01 21:40] anjanaw opened #2976 "[Android] Voice recording not working"
**Describe the bug**
I am following the documentation here (https://aws-amplify.github.io/docs/js/interactions) and the voice recording is not working. The record button toggles between a mic and a red dot but nothing seems to be recorded.

**To Reproduce**
Steps to reproduce the behavior:
Follow everything here https://aws-amplify.github.io/docs/js/interactions
Build the apk, run on emulator or i

[2019-04-01 22:23] idiglove commented on #2967
[code]

[2019-04-01 22:37] mikhael28 commented on #1857
@sam-webchef this did indeed work for me, thank you. Makes a lot of sense, just need to add another get function to properly scan the dynamo table.

Have you thought about submitting a pull-request to the amplify team, essentiall adding a 'scan' route to the auto-generated function code?

[2019-04-01 22:41] michaelcuneo opened #2977 "All files uploaded using Storage.put are 13 Bytes."
**Describe the bug**
Not sure if this is a bug or something I've done.

All of my images uploaded using Storage.put are 13 bytes.

If I console.log the file I'm sending to Storage.put, it is a real file.

[code]

The console.log, of the result from Storage.put is a successful Key, but if I try and load the image up again with a Storage.get it's blank... so I checked my S3 Bucket, and it's full of

[2019-04-01 23:00] max77p commented on #2213
I was testing auth.signIn and I noticed it stores everything in localstorage identityid/cognitoidp/accesstoken/id token/refresh token. Why is this? This is not safe at all right or am i mistaken?

[2019-04-01 23:03] ffxsam commented on #2213
Correct. But you can override it: https://aws-amplify.github.io/docs/js/authentication#manual-setup
(see `cookieStorage` property)

[2019-04-01 23:07] max77p commented on #2213
Thanks @ffxsam. I have a followup to this: If i open 3 tabs, sign in using three different users, then signout/close one tab. What do i need to do with amplify to sign that user out only and keep the remaining three users signed in?

In addition, if I sign in to the same user three times in three different tabs, does signing out in one tab invalidate the other two tabs?

[2019-04-01 23:10] max77p commented on #2213
follow up: @ffxsam if i am using the cookie then is this how I do it for localhost?

cookieStorage: {
    // REQUIRED - Cookie domain (only required if cookieStorage is provided)
        domain: 'localhost:3000',
    // OPTIONAL - Cookie path
        path: '/cookie',
    // OPTIONAL - Cookie expiration in days
        expires: 1,
    // OPTIONAL - Cookie secure flag
    // Either true or false, in

[2019-04-01 23:42] ffxsam commented on #2213
What you're asking for is not possible. One tab or four, they're all using the same shared cookies and local storage if it's the same website. Typically you would use a different browser or an incognito/private tab to log in as a different user in a different window.

[2019-04-02 02:59] chengjia0807 commented on #2966
Hi Elorzafe,

Thanks for your reply.

Actually I hacked the code to solve it which is just delete "throw new Error('Not supported');".

Then it can work for me.

I am not sure about what is going to happen to other component if that line is deleted. But all basic functions are working for me without any issue.

Also I don't think this line was there before version 1.0.5.

Thanks for looking into i

[2019-04-02 03:17] aguilarcarlos opened #2979 "Amplify overrides AWS-SDK"
Amplify overrides AWS-SDK

I'm using the services Cognito (Auth) and AWS Firehose on the client side, in an ES5 application.

The details are: I'm trying to use the amplify authentication, so far it works well, by doing:
[code]
However, the problems start when I have to use a service from AWS-SDK, specifically *Firehose*, so if I include awsAmplify, this code does not work:
[code]
I reviewed the c

[2019-04-02 06:39] hoang-innomizetech commented on #2949
Yes, I've tried on both main.ts and app.component.ts file.

However, I just upgraded to the latest version 1.1.23 and 2.1.10 and it is working now. So I will close this issue

[2019-04-02 06:39] #2949 closed

[2019-04-02 06:44] hoang-innomizetech opened #2980 "object HTMLInputElement displays on the text box of reset password form"
When using the latest version, I noticed that the  reset password form display **[object HTMLInputElement]**

![image](https://user-images.githubusercontent.com/43955692/55381305-05d1f780-554d-11e9-881a-ce05edcaa054.png)

Also, when I try to modify the label of both items on the Sign In form to remove unclickable span element, I got another unexpected issue that the title of the reset password for

[2019-04-02 07:30] mfreeman451 commented on #2496
@CrashyBang I'm using the AppSync SDK for my AppSync needs (instead of Amplify), and Amplify for Auth and Storage and everything else. You can definitely mix and match and the documentation that I've read sort of seems to indicate that as well. For instance, the Amplify docs say if you need offline access, you should use the AppSync JS SDK.

[2019-04-02 07:51] jarrettj commented on #2980
Hi,

Good day.

I can confirm that as well.

Regards.

[2019-04-02 08:35] janhesters commented on #2922
Is there any solution to this? This ties to [this issue](https://github.com/aws-amplify/amplify-cli/issues/1058) and [this issue](https://github.com/aws-amplify/amplify-cli/issues/1078).

[2019-04-02 10:42] KarthikMuthuvel commented on #2639
Hi Manuel,

Thanks a lot for the update. I also tried the below approach to get other user's objects. I got this from the Amplify Storage docs : https://aws-amplify.github.io/docs/js/storage.

Here its working if i comment the > level: 'protected'

Storage.get('test.txt', {
    //level: 'protected',
    identityId: 'xxxxxxx' // the identityId of that user
})

I want to know if it is a recommended

[2019-04-02 13:07] 11csive commented on #2959
Just in case anyone else faces/is gonna face this problem, I seem to have found a fix/workaround for now.

The default userAgent settings for Axios disables keep-alive. Setting keep-alive to true seems to have stopped the random errors. Whether this will cause other problems, I'm yet to find out.

If anyone can name any consequences I might face as a result of setting the keep-alive to true, I wou

[2019-04-02 14:03] mezalejandro opened #2990 "Android resource linking failed"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Describe the bug**
I have react-native 0.59.3 and aws-amplify/pushnotification ^1.0.20
When I generate release apk I have a error.

**To Reproduce**
Steps to reproduce the behavior:
1. cd android
2. ./gradlew assembleRelease
4. See error
node_modules/@aws-amplify/pushnotification/android/build/int

[2019-04-02 14:41] apertureless commented on #2457
A temporary workaound would be to pass it as a function and wrap inside a `Text` element.

[code]

[2019-04-02 14:50] Yaroslav-Zaika opened #2982 "cors for cognito"
How I can set cors for cognito? Is it possible?

[2019-04-02 15:15] sgovindan opened #2983 "Android app crashes by throwing [TypeError: @@for is not a function (evaluating '(typeof Symbol === "function" ? Symbol.for : "@@for")('amplify_default')')]"
![IMG_0203](https://user-images.githubusercontent.com/34024493/55422376-2162ef80-5599-11e9-85f5-0da8ac7c1478.JPG)
On configuring Amplify with latest version as _Amplify.configure(config);_ throws the following error:

I/ReactNativeJS: '[DEBUG] 37:33.234 AWSPinpointProvider - Failed to generate endpointId', { [TypeError: @@for is not a function (evaluating '(typeof Symbol === "function" ? Symbol.fo

[2019-04-02 15:37] leonachan1 commented on #974
I manage our auth module that gets refreshed token calling https://xxx.auth.us-east-2.amazoncognito.com/oauth2/token. It worked well for over 6 months but now it keeps getting the expired token from cognito.

@stripathix did you already address out this issue?

[2019-04-02 15:40] binarytide opened #2984 "cannot subscribe to hasura graphql, requires websockets"
** Which Category is your question related to? **
api/graphql
** What AWS Services are you utilizing? **
graphql
** Provide additional details e.g. code snippets **
when using custom graphql server(hasura) I set `graphql_endpoint` to server and it works for regular queries/mutations etc, but when trying to subscribe I get `subscriptions are not supported over HTTP, use websockets instead` am I mis

[2019-04-02 16:10] diosney opened #2985 "Amplify integrations triggers `core.js:14597 ERROR Error: Uncaught (in promise): MissingRequiredParameter: Missing required key 'userId' in params`"
**Describe the bug**
When sending the message using the Angular Amplify integrations component, or directly the `const response = await Interactions.send('chatBot', userInput);` line, it triggers the above error, it seems that parameter `userId` is required by Lex but it don't provide the means to assign it.

When the Network tab is inspected, it shows that a query to Cognito returns the following

[2019-04-02 17:01] kmbro commented on #2682
@ToddHoff when you signed in as the user in your lambda, you assume the role that that user has, and lose the context of the lambda's IAM role.

[2019-04-02 17:12] powerful23 commented on #2908
@christopherdiehl Hi, can you check if
- Cognito Federated Identity Pool you configured in the Auth module allows unauthenticated access
- The IAM role of the unauth identities is set correctly
- Can you open the debug mode to provide more info when sending the event to pinpoint? Put `window.LOG_LEVEL='DEBUG'` in the code.

[2019-04-02 17:26] ialmoqren opened #2986 "How the query limit affects the dynamodb costs"
** Which Category is your question related to? **
Dynamodb, AppSync
** What AWS Services are you utilizing? **
Amplify
** Provide additional details e.g. code snippets **

If I have a list of 200 items, will there be any difference (in term of costs) if I:
- Limit my query by 10 items and call it 20 times
- Limit my query by 50 items and call it 4 times

Please tell me if what I mean isn't clear.

[2019-04-02 17:47] joehillen commented on #1934
@ajhool I tried your technique and it works, but it turns out that it's not necessary. To make aws-amplify-react work with Next.js, I just had to add the following to the top of my `next.config.js`:

[code]

[2019-04-02 18:02] ToddHoff commented on #2682
Then what's the point of having unauthenticated role at all if it doesn't do anything?

[2019-04-02 19:01] aldo-roman opened #2987 "Changing user roles in Cognito does not get reflected until next session"
**Describe the bug**
After changing the user groups in Cognito, the method `Auth.currentAuthenticatedUser` still returns  the old groups.

**To Reproduce**
Steps to reproduce the behavior:
1. Register a user with group 'A'
2. Sign in on AWS Amplify app
3. Change user to group 'B'
4. Invoke `Auth.currentAuthenticatedUser`

**Expected behavior**
The returned object `signInUserSession.accessToken.pay

[2019-04-02 19:20] franscal7 commented on #1429
I have the same problem

[2019-04-02 19:29] damianrr commented on #1324
@PedroS11 the main problem that I have with this is that I need to pass the access key and secret access key (in a way that also works in local and in production as well) without commiting them to the repo, and since I'm using Amplify with AppSync I really don't have a backend, I'm trying to do this as a frontend function.
To me, the ideal solution would be to "reuse" the authentication that Ampli

[2019-04-02 19:36] damianrr opened #2988 "Reuse Amplify Authentication for non supported cognito operations."
**Is your feature request related to a problem? Please describe.**
Sometimes I need to do some operations on Cognito that aren't supported by amplify libraries (ex: list users in pool, list groups in pool, etc). For that I could use, for example, code like this:

[code]
The problem with that is that I need to hardcode my access key and secret access key. Using a environment variable is not possibl

[2019-04-02 20:03] giovanib02 commented on #1150
@SrujithPoondla @Sonic-Ninja @tmjordan i have the same problem

[2019-04-02 20:06] jeronimo13 opened #2989 "Amplify custom resolver: Append to list if element is not exists"
Hi
I'm using cognito with amplify and dynamodb. I want a user to join a room. Due to some delays on client it could happend that joinRoom mutation works twice. I want to not add userId to participants array. According to documentation the correct way to achieve this is to use condition. However, I've tried a couple of different ways, but none of them is working.

This is my resolver:
[code]

Error

[2019-04-02 20:23] undefobj commented on #2988
For calling service interfaces (such as Administrative, non-client Cognito APIs above) you can always use the Amplify credentials passed through to the service interfaces as outlined here: https://aws-amplify.github.io/docs/js/start#step-5-host-your-app (see "AWS SDK Interfaces"). You will need to give the Cognito Roles appropriate IAM conditions to do this as noted in that link.

That being said

[2019-04-02 20:40] #2935 closed

[2019-04-02 21:12] SrujithPoondla commented on #1150
I tried modifying this but didn't work for me. @tmjordan I have used firebase text recognition and it worked well.

[2019-04-02 22:34] elorzafe commented on #2983
@sgovindan thanks for pointing this issue, which version of react-native are you using? I sent a PR to fix this problem, so we can publish a release soon.

[2019-04-02 22:37] elorzafe commented on #2965
@ngocketit We have a pending PR still in review to support multi-part upload. How large are the files you are trying to upload?

[2019-04-02 22:42] elorzafe commented on #2967
@idiglove are you running this on a lambda function? Or doing some kind of SSR?

[2019-04-02 22:57] ajhool commented on #1934
Thanks @joehillen I'll try that out. I did find some issues with that technique, so if anybody is coming to this page in the future, I'd recommend trying @joehillen 's solution first

[2019-04-02 23:11] idiglove commented on #2967
No. I'm using AWS Amplify with React

[2019-04-02 23:20] elorzafe commented on #2970
@Scottyaim, yes `expires_at` is required, Amplify needs this value to refresh the tokens in case you added `refreshToken` callback. https://aws-amplify.github.io/docs/js/authentication#federated-sign-in

You have other alternatives to use google authentication with Cognito HostedUI.  https://aws-amplify.github.io/docs/js/authentication#oauth-and-hosted-ui-in-react-native

I hope this helps

[2019-04-02 23:24] malithjkmt commented on #2983
I'm also facing the same issue.

Following conbination works fine.
[code]
But, when I upgrade aws packages to following, the exact error occurs!
[code]
@sgovindan @elorzafe
More to understand the issue:
![Screenshot_20190403-044440](https://user-images.githubusercontent.com/9573056/55442228-656ee800-55cb-11e9-8ca1-2e5643915508.jpg)

1. Above happens when `react-native run-android`
2. When "Debug J

[2019-04-02 23:45] #2983 closed

[2019-04-03 00:22] elorzafe commented on #2967
@idiglove The problem is this, when is configured `AMAZON_COGNITO_USER_POOLS` as auth type for AppSync, Amplify is trying to get the user that is currently logged in. That is the reason you are seeing `No current user` error.

In order to allow unauthenticated user to access your API, you need to change it to AWS_IAM. And add policy for query your api.

[2019-04-03 00:36] zyzski commented on #1324
you will need some sort of back end. create a lambda and add an API gateway to it, then add your cognito user group as an authentication method for the gateway. then you can pass the user's cognito token as a header to your lambda to auth the request. unfortunately I think this only works for the entire group and doesn't allow you to provide access based on usergroups

[2019-04-03 01:22] damianrr commented on #1324
I thought so :/ Anyway, thanks!

[2019-04-03 01:23] damianrr commented on #2988
Cool, I'll look into that. Thanks!

[2019-04-03 02:20] idiglove commented on #2967
Ok but I get this GraphQL error now when I use AWS_IAM

`"Cannot read property 'byteLength' of undefined"`

Using API_KEY is fine, no errors :/

[2019-04-03 06:10] eceramanan commented on #54
+1 for this feature request.

[2019-04-03 07:01] ngocketit commented on #2965
@elorzafe We're building a video application and users are allowed to upload videos of maximum 1 minute. So I'd say around 100-150MB. I found a workaround using signed URL but it'd be good if Amplify supports this.

[2019-04-03 07:16] ffjanhoeck commented on #2962
@powerful23 Did you got any updates on this issue?

[2019-04-03 09:24] logivadivelu commented on #2983
@elorzafe  - Also change the condition at **_Hub.ts_**  **_HubClass.prototype.dispatch_**
as below:
**_var hasAccess = ampSymbol === AMPLIFY_SYMBOL;_**

[2019-04-03 10:14] vjindalaurea commented on #2402
Hi any update on it ?

[2019-04-03 10:30] vjindalaurea commented on #1191
Hi , any update on it ?

[2019-04-03 10:47] MagneH commented on #2502
Ok, it works for me. While you wait for a solution, I am happy with my workaround. 🤗@michaelcuneo

[2019-04-03 11:55] vitalii commented on #2990
have exactly the same issue with a similar configuration.
[code]
[code]
[code]
How it could be fixed? Mb there is some workarounds

[code]
what is basically `./gradlew app:installRelease`
is working fine though...

[2019-04-03 12:27] ddennis commented on #2218
Is there any way to get an idToken or other token which can be used with both Federated Login user pools?

[2019-04-03 13:35] ddennis commented on #2716
Really looking forward to this.
Any timeline on when this will be released? should we expect weeks or months?

[2019-04-03 13:40] johnvanhulsen commented on #1878
Maybe you needs to check `confirmSignUp` for this case.
After registration and for activate the user for the first name, you must not use`verifyCurrentUserAttribute` or `verifyCurrentUserAttributeSubmit`

[2019-04-03 13:57] dhyeysejpal commented on #2951
@powerful23:

Thank you for the reply. I tried it but unfortunately it doesn't work. Is anyone able to reproduce this problem?

[2019-04-03 14:02] dhyeysejpal commented on #2951
Okay, I found this https://github.com/wix/react-native-navigation/issues/3160 that talks about the navbar appearing due to react native navigation. I will try to follow the steps given there to see if I can fix it and update the thread here.

[2019-04-03 14:13] serartmar commented on #2716
@ddennis as @undefobj specified [here](https://github.com/aws-amplify/amplify-js/issues/2716#issuecomment-469913549) it could mid/late April

[2019-04-03 14:20] jsardid opened #2994 "Allow theming for select elements"
**Is your feature request related to a problem? Please describe.**

Input elements can be customized using the "input" selector and passing as part of a theme object. The same way, I would expect select elements to be able to be customized, in order to avoid this kind of inconsistency:
![image](https://user-images.githubusercontent.com/7370399/55485877-9979f580-562b-11e9-80ba-ded703719f3d.png)

**

[2019-04-03 14:46] Scottyaim commented on #2970
@elorzafe Thanks for your quick reply it helped a lot.
How far away is #2716 ?

[2019-04-03 15:05] mickadoua commented on #2609
you dont have any error on android ?

[2019-04-03 15:11] vjindalaurea opened #2995 "amplify-authenticator [hide] does not work in case of angular ui"
I have specified :

     <amplify-authenticator [hide]="['SignUp', 'ConfirmSignUp', 'ForgotPassword', 'RequireNewPassword']"></amplify-authenticator>

in angular code , but still create account , forget password does not get hidden.

![image](https://user-images.githubusercontent.com/25425699/55491307-e1604300-5652-11e9-8eee-de1005fcff16.png)

[2019-04-03 15:29] achutkiran opened #2996 "Aws appsync subscriptions are slow"
** Which Category is your question related to? **
Aws amplify v1.1.8

** What AWS Services are you utilizing? **
Aws Appsync api

** Provide additional details e.g. code snippets **
The subscription onUpdate, onCreate is taking 15 sec to fire up

[2019-04-03 16:04] vjindalaurea opened #2997 "angular amplify-authenticator reset password UI distorted"
angular amplify-authenticator reset password UI distorted :

![image](https://user-images.githubusercontent.com/25425699/55494394-508c6600-5658-11e9-9627-1ef47c554ae1.png)

[2019-04-03 16:06] vjindalaurea opened #2998 "amplify-authenticator angular change username to emailid in UI"
How we can change the label username to email id in sign ui of amplify-authenticator :

![image](https://user-images.githubusercontent.com/25425699/55494544-96e1c500-5658-11e9-8117-b3299a7cc4ed.png)

[2019-04-03 17:04] elorzafe commented on #2967
@idiglove using AWS_IAM can you look your network type to see the http response.

[2019-04-03 17:09] elorzafe commented on #2967
@idiglove check on [this guide](https://docs.aws.amazon.com/appsync/latest/devguide/security.html#aws-appsync-security) AWS_IAM Authorization section.

[2019-04-03 17:10] mohanrao commented on #2908
Hi @powerful23 ,

I am getting same error.

- Yes the federated identity pool has unauthenticated access enabled

- Unauth identies is correct set

[code]

- After enabling the debug log Below is the error

[ERROR] 02:58.669 AWSPinpointProvider - record event failed.  NetworkingError: "Network Failure"

    handleRequest xhr.js:52 wrapped build.umd.js:2357

[2019-04-03 17:15] elorzafe commented on #2970
@Scottyaim I know the team is working on this right now. Keep looking into that issue for news. I will close this issue but feel free to open a new one in case you have any question/suggestion.

Thanks for your feedback

[2019-04-03 17:15] #2970 closed

[2019-04-03 17:20] powerful23 commented on #2962
@ffjanhoeck sorry for the late response. Questions:
- Is the cognito client id the same in both front and server side?
- How long does the refresh token live?
- When using the old version(3.0.9), can you try:
[code]
to see if you could refresh the session with the old version?

[2019-04-03 17:26] elorzafe commented on #2973
When you have an endpoint available, you will need to configure amplify manually like this

[code]

I am not sure why `sam local` is not working properly, probably you will find more help on their repo https://github.com/awslabs/aws-sam-cli

[2019-04-03 17:29] bduff9 commented on #2962
Just wanted to jump in quickly as I also ran into this over the weekend when my app's auth started breaking for seemingly no reason.  Managed to track it to the same issue outlined here, and am currently working around it by pinning my deps to the older version.  I have a somewhat more traditional React amplify app where this is working in 3.0.9 and failing in the newer version without any other c

[2019-04-03 17:32] bazsodombiandras commented on #1759
I'm very new to AWS, I keep getting this warning in my mobile app, please help me understand why I'm getting it and how to solve it.

I have created a new React Native project with AWS Amplify following the instructions from [here](https://aws-amplify.github.io/docs/js/start?platform=react-native&ref_url=/amplify-js/media/tutorials/building-react-native-apps&ref_content=Tutorial:%20Building%20Reac

[2019-04-03 17:54] elorzafe commented on #2974
@packerfan626 thanks for your feedback, I have just merged a docs update that has this options available for `Storage.put`

[code]

To add tags on your s3 object you will need to check that your IAM policy has `s3:PutObjectTagging` action. On amplify library you can add the tags like this.

[code]

I hope this helps

[2019-04-03 17:55] powerful23 commented on #2908
@mohanrao can you try using https in your localhost env? (for example,  if you are using parcel bundler or webpack you can run their watch command with —https flag)

Also can you provide more context? Like the request and response headers sent to to the Pinpoint service which will help a lot.

Another note:
"For requests without credentials, the literal value "*" can be specified, as a wildcard; t

[2019-04-03 17:58] powerful23 commented on #2962
@bduff9 can you also provide more info about this issue? Normally the refreshSession won't fail as long as the refresh token is valid.

[2019-04-03 18:16] elorzafe commented on #2975
@bernhardt1 If you have your app open, can you see the notification, can you paste a code snippet from your app, to test?

[2019-04-03 18:19] elorzafe commented on #2976
@anjanaw thanks for your feedback, I will try to reproduce the problem

[2019-04-03 18:21] elorzafe commented on #2977
@michaelcuneo can you add a code snippet for `Storage.put` that you are using.

[2019-04-03 18:23] ceich commented on #2716
See also [this amplify-cli RFC thread comment](https://github.com/aws-amplify/amplify-cli/issues/766#issuecomment-479269548) for their first release.

[2019-04-03 18:25] elorzafe commented on #2979
@aguilarcarlos can you try on your `import AWS from 'aws-sdk'`;

[2019-04-03 18:27] elorzafe commented on #2980
@hoang-innomizetech @jarrettj thanks for your feedback, we will try to reproduce this and find a fix.

[2019-04-03 18:38] elorzafe commented on #2982
@Yaroslav-Zaika what is the issue you are trying to solve?

[2019-04-03 18:51] elorzafe commented on #2985
@diosney how are you configuring the library? It seems you dont have an identityPool.

[2019-04-03 19:05] elorzafe commented on #2986
@ialmoqren you can find more information about AppSync pricing on [this thread](https://forums.aws.amazon.com/thread.jspa?messageID=862404&#862404). Please feel free to ask questions about AWS services on AWS Forums.

[2019-04-03 19:05] #2986 closed

[2019-04-03 19:15] elorzafe commented on #2987
@aldo-roman I can mark this as a feature-request rather than a bug, what you mention, it looks like a reasonable use case to support and we can add this to our backlog.

Thank you for your feedback!

[2019-04-03 19:17] elorzafe commented on #2987
@aldo-roman we have open this RFC https://github.com/aws-amplify/amplify-cli/issues/766 feel free to add any suggestion you like for auth.

[2019-04-03 19:22] giovannidegani commented on #1824
@schellack I had the same issue, only works after a manual refresh, did you figure this one out ?

[2019-04-03 20:14] Scottyaim opened #3000 "Cannot read property 'urlOpener' of undefined"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
AWS Cognito
** Provide additional details e.g. code snippets **

Hi, first timer with AWS and Amplify and I'm running into more problems
setting up Hosted UI with react native.

I have a very simple test app with one main component:
[code]

But when i run it i get an error saying "TypeError: Cannot re

[2019-04-03 20:22] markcarroll commented on #1538
Just hit this too. Valid user name, blank password, vanilla implementation of amplify auth using Cognito.

[2019-04-03 20:37] tbehunin commented on #2160
I've gotten the front-end to work as designed using the suggestions for `signUpConfig` parameter. The issue now is that **I'm not receiving the email to verify the email address** after signup.

I have the `AutoVerifiedAttributes` value on my Cognito User Pool configured as a list of just `email` specified. When I signup, the user is created in my User Pool as `UNCONFIRMED`, but the email verifica

[2019-04-03 20:43] bernhardt1 commented on #2975
Hi @elorzafe, thanks for the quick response.

Yes, the notification is shown when I have the app open in the background. My android log in this case is the following:
[code]

here is my code:
[code]

[2019-04-03 20:46] diosney commented on #2985
@elorzafe Thanks.

That was exactly the issue, sadly I I ended up using the AWS sdk directly :(

[2019-04-03 20:47] #2985 closed

[2019-04-03 20:51] elorzafe commented on #2996
@achutkiran can you give more details according to the region you have configured AppSync and from where you are calling the subscription. How are you testing it? Where is the mutation sent from, what data-source are you using?

[2019-04-03 20:55] elorzafe commented on #2997
@vjindalaurea thanks for your feedback, this issue is duplicated from #2980.

[2019-04-03 20:55] #2997 closed

[2019-04-03 21:00] elorzafe commented on #2998
@vjindalaurea a workaround to do this is using internationalization in order to change the value.

[code]

related to #2954

[2019-04-03 21:04] elorzafe commented on #3000
@Scottyaim can you paste your aws exports file (hidding the values)?

[2019-04-03 21:09] bduff9 commented on #2962
So, in my React app, with 3.0.9, everything works and I can see the tokens in the localStorage.  With 3.0.10, I see a response for AuthenticationResult, then UserAttributes (and the localStorage values are created), then I see a NotAuthorizedException from a REFRESH_TOKEN_AUTH.  This is all one after the other, and this latest call which returns a 400 code, then clears all the localStorage tokens

[2019-04-03 21:09] elorzafe commented on #915
Closing the issue because of inactivity, please feel free to open a new issue if your problem persist.

[2019-04-03 21:09] #915 closed

[2019-04-03 21:12] Scottyaim commented on #3000
from aws-exports.js
[code]

Generated by the amplify cli with only auth added

[2019-04-03 21:14] elorzafe commented on #1060
closing this because of inactivity, feel free to create a new issue if this problem persists.

[2019-04-03 21:14] #1060 closed

[2019-04-03 21:16] elorzafe commented on #1144
closing this because of inactivity, feel free to create a new issue if this problem persists.

[2019-04-03 21:16] #1144 closed

[2019-04-03 21:25] elorzafe commented on #1230
@jackywxd You can call configure on `componentDidMount` but what I would is adding a prefix/suffix on your endpoint names, something like this.

[code]

I hope this helps

[2019-04-03 21:27] elorzafe commented on #1273
closing this issue because of inactivity, feel free to create a new issue if the problem persist

[2019-04-03 21:27] #1273 closed

[2019-04-03 21:31] elorzafe commented on #1471
Closing this because of inactivity, feel free to create a new issue if your problem persist

[2019-04-03 21:31] #1471 closed

[2019-04-03 21:46] achutkiran commented on #2996
AppSync region: N.virginia
I am using Amplify Appsync graphql api. and i used codegen to create mutations and subscriptions

[2019-04-03 21:51] powerful23 commented on #2422
@laurachevalier4 Hi
- First, can you check if the configuration is passed down to the module correctly? You can call `const auth_config = Auth.configure()` and `const api_config = API.configure()` to do that.
- Second, can you open the debug mode by putting `window.LOG_LEVEL='DEBUG'` in your code.and paste some debugging info here when calling the graphql operation? We want to see if the aws crede

[2019-04-03 21:52] elorzafe commented on #1593
@thrixton are you still having this issue?

[2019-04-03 21:56] #1672 closed

[2019-04-03 21:58] elorzafe commented on #1723
closing this issue because of inactivity, feel free to create a new issue in case the problem persists.

[2019-04-03 21:58] #1723 closed

[2019-04-03 21:59] elorzafe commented on #1724
Issue seems to be fixed, feel free to create a new issue in case your problem persist.

[2019-04-03 21:59] #1724 closed

[2019-04-03 23:05] elorzafe commented on #1772
I think the is clear now, anyone feel free to create a new one in case there are any new concerns.

[2019-04-03 23:05] #1772 closed

[2019-04-03 23:06] elorzafe commented on #2159
Closing the issue because of inactivity, feel free to create a new issue if there are new concerns.

[2019-04-03 23:06] #2159 closed

[2019-04-03 23:13] elorzafe commented on #2375
I have the same chrome version and that have never happened to me before. Which extensions are you using? @spdionis @mikeskiddle

[2019-04-03 23:16] elorzafe commented on #2551
I will close this issue for now. For issues related with amplify-cli use https://github.com/aws-amplify/amplify-cli instead

[2019-04-03 23:16] #2551 closed

[2019-04-03 23:18] elorzafe commented on #2555
I will close the issue for now, feel free to create a new one if you still have any concerns.

[2019-04-03 23:18] #2555 closed

[2019-04-03 23:53] elorzafe commented on #2838
@daniyal-intellicel your code looks good to me, what is the issue you are experiencing?

@khalaniaiyaj I can explain a little and I hope this is more clear for you.
I am assuming you want to have a user database with every app user, this means users that login with username and password, Google Sign in, Facebook login, etc. Using attribute mapping you can have a single user database with the attri

[2019-04-04 00:04] Yaroslav-Zaika commented on #2982
@elorzafe I have a task to make access to Сognito only for the domain of the client.

[2019-04-04 00:17] adrianmaurer commented on #1728
I'm having a similar issue. Wish the attributes would be available when the user object is updated and at login

[2019-04-04 00:33] elorzafe commented on #2840
@selipso any updates with this?

[2019-04-04 00:42] jmannau commented on #1445
For anyone experiencing this problem and finding that setting NODE_ENV when running ionic build like  `NODE_ENV=production ionic build --prod` doesn't work, you can fix this by using webpack to inject process.env.NODE_ENV into the build package. I wrote up how I did this here - https://gist.github.com/jmannau/8039787e29190f751aa971b4a91a8901

[2019-04-04 01:35] elorzafe commented on #2996
You used amplify-cli to create the AppSync api by doing `amplify api add`?

[2019-04-04 01:39] elorzafe commented on #3000
@Scottyaim you have to configured HostedUI using amplify-cli in order to make it work. You can do that with latest amplify-cli

[2019-04-04 01:42] elorzafe commented on #2975
@powerful23 what do you think?

[2019-04-04 02:36] matamicen commented on #1727
@pribadi1st @jordanranz @powerful23 in our business case we dont need to solve this issue any more, because the app is killed so when it starts again we show to the user all the notifications in His inbox (we pull from our server). Thanks guys anyway.

[2019-04-04 03:10] jd-bell commented on #2702
Hi @isocra,

Did you make any progress on this?  I believe I'm seeing the exact same issue.

Thank you.

[2019-04-04 03:21] achutkiran commented on #2996
Yup

[2019-04-04 03:24] thrixton commented on #1593
@elorzafe
Yes, this is still an issue.

@cojack, I would expect that Auth.federatedSignIn should emit this event, unless documented otherwise.
Signing in with username / password using Auth.signIn does emit this event.

[2019-04-04 03:29] packerfan626 commented on #2974
Thank you so much for responding, I really do appreciate the example.

So I just have the tags organized key and value within a string like that?
i.e tagging: "description=SamplePicture&location=California"?

[2019-04-04 03:43] undefobj commented on #2716
Hello everyone - we have a PR for this and published to our beta tag on NPM. While I've done a lot of testing myself and with team members if the community could run some tests in the next couple days it would help us have confidence to release sooner. You'll see the instructions here: https://github.com/aws-amplify/amplify-js/pull/3005#issuecomment-479737451

Note that through our design reviews

[2019-04-04 04:41] undefobj commented on #2283
@CodingToBeWithHer @maziarz we have a PR with PKCE support here: https://github.com/aws-amplify/amplify-js/pull/3005#issuecomment-479737451
This allows you to use either the Hosted UI or just the OAuth endpoint and you'll be able to build out your own custom UX.

[2019-04-04 05:02] sgovindan opened #3006 "endpoint is not updated with the address (device token) in iOS"
I was facing #2983  and after applied the fix given there (i.e. I used the following versions to the packages explicitly). It works fine in Android but in iOS, it displays Push notification permission popup, but endpoint is not getting updated with the push notification device token.

    "@aws-amplify/pushnotification": "1.0.25-unstable.0",
    "@aws-amplify/core": "1.0.25-unstable.0",
    "@aws-

[2019-04-04 05:13] michaelcuneo commented on #2977
My mistake. I just made a really stupid error. All fixed now.

[2019-04-04 05:13] #2977 closed

[2019-04-04 05:42] dhyeysejpal commented on #2951
I was able to get rid of that topBar by changing the options of react-native-navigation, but a problem still remains. I am still unable to apply custom theme to the components.

I did this to get rid of the top space showing on the sign in screen but it has no effect.
[code]

And the sign in component looks like this:
[code]
But it still looks like this with a lot of white space up top:

![Screens

[2019-04-04 05:59] jarrettj commented on #2980
Cool, thanks man.

[2019-04-04 06:31] jarrettj commented on #621
Examples of this working on your local? Just can't seem to get it to work.

[2019-04-04 08:02] isocra commented on #2702
Hi @jd-bell,

Yes I did sort this out eventually. What I found is that I needed a Web Client that connected to an IdentityPool which in turn connected to a UserPool. This allowed me to populate a config as follows:

[code]
Note that the authentication type is `AWS_IAM`.

I was then able to connect like this:

[code]
Again notice that the auth type is AWS_IAM and that I needed to set the auth _and_

[2019-04-04 08:02] #2702 closed

[2019-04-04 09:18] ffjanhoeck commented on #2962
@powerful23 When I do the call manually causes the same behavior for me too (400 error).
Now I try to find out if the frontend and the backend are using the same clientId and userpool.

[2019-04-04 09:30] ffjanhoeck commented on #2962
@powerful23 We have two app clients registered in cognito. The backend is using a different clientId as the frontend :x

[2019-04-04 09:30] jarrettj opened #3007 "Amplify and preflight requests."
** Which Category is your question related to? **
API
** What AWS Services are you utilizing? **
APIGW, Lambda
** Provide additional details e.g. code snippets **
AngularJS app. Using the API.get() method of amplify
Generated a function using the "CRUD function for Amazon DynamoDB table (Integration with Amazon API Gateway and Amazon DynamoDB)" option. (amplify function add)
Generated an API for t

[2019-04-04 09:53] ddennis commented on #2716
Hi

I have tested. Notice i have not used the CLI.

I don't want to use the hosted-ui - and i would prefer to manually send the facebook token.
like this:

`Auth.federatedSignIn('facebook', {token, expires_at:expires},  {username:authResponse.userID, name:"test"})
`

### My test - using authorization code grant

This is my config:

[code]
Notice that the scope exist multiple times. This is copy pa

[2019-04-04 10:00] sgovindan commented on #3006
Closing this issue as It worked with the following latest version:
"@aws-amplify/pushnotification": "1.0.25",
"aws-amplify": "1.0.25",

[2019-04-04 10:00] #3006 closed

[2019-04-04 10:30] mllrmat opened #3008 "Amplify Storage does not use credentials from Auth"
**Describe the bug**
Amplify Storage module does not use the credentials from Cognito to upload files, but the local aws credentials found on the machine.

**To Reproduce**
Steps to reproduce the behavior:
1. configure aws credentials for use on the command line
2. setup a nodejs app using cognito as authentication
3. sign in with cognito
4. upload a file with the nodejs client

**Expected behavio

[2019-04-04 11:02] YaswanthC opened #3009 "Is it possible to deploy the app from amplify console to cloudfront ?"
Hi ,

**Questions**

1. How exactly `Amplify Console` is used for , is it for test and deploy for webapps before hosting them in the cloudfront or the `amplify hosted webapp url` can be used as `cloudfront url` ?

2. Is it possible to host my `webapp` to `cloudfront` from amplify console after successful deployment in the console ? Or hosting to cloudfront is only possible via `aws amplify toolcha

[2019-04-04 12:25] nwohaibi commented on #2541
docs at https://aws-amplify.github.io/docs/js/push-notifications should be updated for android, especially app/build.gradle dependencies to reflect Firebase's docs.

[2019-04-04 12:31] 0x6C38 commented on #2924
So I take it aws amplify doesn't support auth over api gateway websockets yet? Any updates on this?

[2019-04-04 12:39] MatthieuLab commented on #3000
I had yesterday this very problem. Just upgrade amplify lib to the last version and all was fine.

[2019-04-04 13:07] vjindalaurea opened #3010 "amplify-authenticator angular adding rememberme"
How can we add remember me option in amplify-authenticator of angular ?

[2019-04-04 14:19] AbhishekRaval opened #3011 "AWS Amplify Console's app build setting page is completely broken, doesn't detect the environment"
**Describe the bug**
- So AWS Amplify console's app build settings is broken. I can get list of backend environment of only default selection branch. i.e. I had production branch which had production sandbox. But I was not able to see production env in build settings.
- By default my abc-demo branch was selected in "Select a branch" dropdown. To playaround I added production sandbox in abc-demo br

[2019-04-04 15:09] undefobj commented on #2716
Thanks much for testing @ddennis .

If you are using the older version of `federatedSignIn()` where you're passing in tokens from Facebook, etc., then you don't call `handleAuthResponse()`. Note though that passing in the tokens manually from Facebook is not possible with Cognito User Pools and only possible with Identity Pools. `handleAuthResponse()` is only needed when using the newer functional

[2019-04-04 15:28] Scottyaim commented on #3000
@elorzafe @MatthieuLab I see. will update now and check if it solves it thanks.

[2019-04-04 16:12] scherroman commented on #1269
I can't understand why anyone would suggest that signing out with `Auth.signOut()` should cause AWS Amplify to automatically reload the page (which it currently does today!). The developer should absolutely be responsible for and have control over updating the application state as necessary to reset the app upon sign out. If the the developer decides they need to reload the page in order to do tha

[2019-04-04 16:21] jackywxd commented on #1230
@elorzafe I see. So endpoints accepts an array with different region endpoints. That opens my eye! Thanks a lot for your help!

[2019-04-04 16:30] Scottyaim commented on #3000
Once again thank you for your help it was resolved.
This can be closed now cheers.

[2019-04-04 16:30] jackywxd commented on #1230
I just double checked the Amplify document, now endpoints support regional endpoint by passing in service and region. Not sure if it can handle switching endpoints dynamically based on current region if passing multiple regions. If it does, it will perfectly solve this issue.

[code]

[2019-04-04 16:59] ddennis commented on #2716
Yes as stated i am using your example. [For reference, the full code is here](https://gist.github.com/ddennis/e48f4bda50f033673320cbcf7aab193d):

As shown in the previous post, this is package.json
[code]

`Auth.federatedSignIn({provider: 'Facebook'})`
I am asking for the following permissions: `public_profile, email, user_friends, pages_show_list`

### I am experiencing the same as before:

I am

[2019-04-04 17:20] elorzafe commented on #2996
@achutkiran more questions
Do you have latency issues for queries and mutations as well?
Are you uploading larger files while doing the mutations that trigger the subscriptions?

[2019-04-04 17:24] elorzafe commented on #2974
@packerfan626 yes that should be it, according to AWS docs the [constraints are](https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectPUT.html):

[2019-04-04 17:32] swaminator commented on #3011
Not quite sure I understand the issue. You have branches:
- branchA
- branchB

Backend envs:
- backend1
- backend2

Let's say when you connect the repo you connect branchA with backend1.
Then you goto connect branchB:
1. Is the issue you cannot select any backend?
2. Something else?

[2019-04-04 17:51] achutkiran commented on #2996
Queries and mutations are quick only subscriptions are slow

[2019-04-04 17:53] powerful23 commented on #1728
@adrianmaurer this issue should have been fixed in #2918 , are you still facing this issue with the latest version?

[2019-04-04 18:12] VinayakVenkataraman opened #3014 "newPasswordRequired prompt versus form on a new page"
I am using AWS Cognito with a User Pool configured such that only an administrator can create users. As such, when a new user is created, the administrator assigns a temporary password and the user is configured into the FORCE_CHANGE_PASSWORD status requiring the user to change their password after the first login attempt.

I have successfully implemented this workflow based on the documentation a

[2019-04-04 18:28] elorzafe commented on #3007
@jarrettj I suspect the problem is with the path of the api, the path is tightly coupled to the lambda function. I would create the function directly from `amplify api add` instead of creating the function first and then select it as you did.

just run `amplify api add` and then create the function from there.

Also make sure that the **path** you are specifying on `API.get('api-name', path)` is c

[2019-04-04 18:38] undefobj commented on #2716
@ddennis did you enable "Authorization code grant" check box for the "userPoolWebClientId" that you have configured on that User Pool? It's under App Integration -> App Client Settings in the Cognito User Pool console.

Note the new Amplify CLI does this automatically however if you're using an existing User Pool you'll need to manually do this.

[2019-04-04 18:41] powerful23 commented on #2962
@ffjanhoeck can you try not caching the `refreshToken` in the client side as it won't work with the client in the front?

[2019-04-04 18:42] powerful23 commented on #2962
@bduff9 are you also using two clients in your app like @ffjanhoeck ?

[2019-04-04 18:48] elorzafe commented on #2982
@Yaroslav-Zaika currently this is not supported on Cognito. I will let this marked as feature-request for the service.

[2019-04-04 18:48] BerndWessels commented on #1852
^ I did some more research and finally figured it out. It's actually pretty straight forward using AppSync's websocket subscription. Basically we can make the usual sigv4 signed post request to AppSync to request the subscription and will then receive everything we need (a websocket url with authentication in the query parameter) to create the websocket connection.

I am taking the best of amazon-

[2019-04-04 18:51] AbhishekRaval commented on #3011
The issue is basically:
1. When I select branch from "Branch Dropdown" I cannot see it's backend env. In your example the app config setting has "branchA" as default selection thus in my backend dropdown I can only see backend1. Now I select "branchB" from dropdown, still the backend environment dropdown doesn't update and it still keeps showing backend1. Whereas, it should have shown backend2.

[2019-04-04 19:11] elorzafe commented on #2955
@alspdx according to cognito docs.

Currently there is no option for the library to do this. Is a server side problem that could implemented using a lambda function.

I will close this issue because a duplicate from #1182

We have an open RFC for auth enhancements [here](https://github.com/aws-amplify/amplify-cli/issues/766) feel free to add this request or comments.

Thanks for your feedback!

[2019-04-04 19:11] #2955 closed

[2019-04-04 19:12] garyleefight commented on #3011
@AbhishekRaval Thanks for reporting this bug. We appreciate your feedback. We will work on this issue.

[2019-04-04 19:14] elorzafe commented on #1182
@mlecoq this is not possible to do it from the library, is a admin user problem. According to Cognito docs.

This admin user task can be implemented behind a lambda function. There is an open RFC [here](https://github.com/aws-amplify/amplify-cli/issues/766) where can you add this proposal for future releases on amplify-cli

Thanks for your feedback

[2019-04-04 19:17] elorzafe commented on #3008
@mllrmat amplify is officially not supported on nodejs. The library is focused to help on client apps web/mobile.

Can you paste your app code so I can try to reproduce it locally.

Thanks for your feedback!

[2019-04-04 19:24] mlecoq commented on #1182
@elorzafe thanks for your return

Yes I understand that resend can only be done on server side. My concern is about the feedback on client side, there is no way to indicate that temporary password is expired so asking a new one is useless.

[2019-04-04 19:41] jarrettj commented on #3007
Hi

Good day.

Will give your method a try, maybe the CF configuration that’s created for APIGW is a bit different when done that way. Thanks.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: elorzafe <notifications@github.com>
Sent: Thursday, April 4, 2019 8:28 PM
To: aws-amplify/amplify-js
Cc: jarrett jordaan; Mention
Subject: Re: [aws-amplify/amplify-js] Ampli

[2019-04-04 19:46] elorzafe commented on #2984
@binarytide currently graphql subscriptions are only supported with appsync.

[2019-04-04 19:47] ddennis commented on #2716
Yes - my settings is as below.

[X] Allowed OAuth Scopes
phone	[X] email	[X]openid	[X]aws.cognito.signin.user.admin	[X]profile

[2019-04-04 19:48] elorzafe commented on #2924
@alpeshgaglani
Currently amplify doesnt support API Gateway websockets. I will mark this a feature-request.
Thanks for your feedback

[2019-04-04 20:08] brookemitchell commented on #2686
As @chiubaka said this is because `aws-amplify-react-native` is untranspiled. You can fix this by adding it's regex to `transformIgnorePatterns`, https://jestjs.io/docs/en/tutorial-react-native#transformignorepatterns-customization.

If using a jest preset like jest-expo or react-native you might want to look up the regex you are over-riding to keep existing compilation

[2019-04-04 20:12] ajhool commented on #1934
@joehillen I had forgotten what the issue with that solution is, but it's a doozy. I find that your solution works when I'm navigating directly to the page with authentication on it (eg. www .site .com/user) but there is a silent error when navigating to the authenticated page via a next/link.

Let /user be the page with authentication and /hello be the page without authentication:

This works:

1

[2019-04-04 20:13] bduff9 commented on #2962
@powerful23 No I am not, only using cognito for auth so no backend and only 1 client

[2019-04-04 20:14] ddennis commented on #2716
Made a video showing my experience: https://www.dropbox.com/s/0ohk2de9gwshv9t/cognito.webm?dl=0
Maybe that helps!

[2019-04-04 21:38] undefobj commented on #2716
Both `handleAuthResponse()` and `currentSession()` are promises so if you want the second to happen after the first could you try calling them like so:

[code]

[2019-04-04 21:45] justingrant commented on #2716
@undefobj - is there a reason to avoid async/await? Seems clearer to do something like this:

[code]

[2019-04-04 22:02] undefobj commented on #2716
@justingrant no reason you can do that too.

[2019-04-04 22:02] ddennis commented on #2716
But should't there be data in localstorage? As shown in the video, everything is empty except the query string.

And whats causing the  Auth.handleOAuthResponse() to throw a 400

[2019-04-04 23:15] ajhool commented on #2966
@elorzafe Does this mean that Amplify React will not support SSR or that it will not even be compatible with SSR systems by deferring rendering until the component is client-side? Currently, when I just drop the component in, it breaks the web app. I have a workaround that seems to allow amplify-react to work alongside my app, but it has some rough edges that would be best solved internally.

Is t

[2019-04-04 23:29] ajhool opened #3015 "Remove all SSR breaking pieces of code (doesn't need to fully support SSR, just stop breaking it)."
**Is your feature request related to a problem? Please describe.**
Using Amplify in SSR environments is quite frustrating. Things don't work and the error messages are unhelpful or nonexistent. Ideally, SSR would be fully supported; however, that seems unlikely due to the complexity of this framework. It is so bad that I can't even import the Authenticator component on the server without causing a

[2019-04-05 02:46] johnbowdenatfacet commented on #2962
Also running into this error after upgrading to aws-amplify 1.1.24, adding resolution for `"amazon-cognito-identity-js": "3.0.9"` does fix it, but would like to not have to do this.

[2019-04-05 03:05] johnbowdenatfacet commented on #2962
I tried this, however I got `TypeError: user.refreshSession is not a function`

[2019-04-05 05:11] ffjanhoeck commented on #2962
@johnbowdenatfacet Yes its because this code is wrong. refreshSession has two arguments. You have to pass down the RefreshToken object. You can get it from any session.

[2019-04-05 05:11] ffjanhoeck commented on #2962
Sorry, I don't get it what you mean. I don't cache the refreshToken :x

[2019-04-05 05:33] chengjia0807 commented on #3015
@ajhool

Remove "throw new Error('Not supported')" can help.

I wrote a shell script to remove this line then it can work.

sed 's/if(\!r\.JS\.browserOrNode().isBrowser||\!window\.location)throw\snew\sError(\"Not\ssupported\")\;e({url\:window\.location\.href})//' aws.js > aws1.js && mv aws1.js aws.js

(Linux)

----------------------------------------------------------------------------------------

[2019-04-05 06:16] jarrettj commented on #3007
Hi,

Steps I took:
[code]

Instead of adding via an amplify function add and then amplify api add.

Same result. Even tried Postman to test. To eliminate having to run the app, as it is tedious. The GET/POST/PUT requests all succeed. So it is not a typo. The difference is the header.

I've gone to the APIGW and enabled CORS as well. The issue is not with the Lambda, or the angular code, like I sai

[2019-04-05 06:29] junaidatique commented on #2973
I moved to serverless to create the rest api and it was matter of minutes that it was working. Both Amplify and SAM belongs to AWS and there should be better documentation on how to use it.

[2019-04-05 06:29] #2973 closed

[2019-04-05 07:10] j0b0sapi3n commented on #987
Also experiencing this, please respond Cognito.

[2019-04-05 07:29] ashu777 commented on #2609
i am also facing the same problem in react-native 0.58.6
Unable to resolve module `axios` . Module `axios` does not exist in the Haste module map

[2019-04-05 07:37] selipso commented on #2840
With the new CLI updates, IAM seems to work much better. Closing this for now and will open another one in case I see another issue. Great progress with the updates so far!

[2019-04-05 07:37] #2840 closed

[2019-04-05 09:06] runcible commented on #2403
You could use the i18n service available from the **aws-amplify-angular** npm package, intended to provide internationalisation functionality through the use of translation libraries. The amplify-authenticator component uses this service to inject the text being displayed, so if you modify the translation library for the language in your locale, the component will display that text instead of the

[2019-04-05 09:07] totaland opened #3016 "image showing for different user"
** Which Category is your question related to? **
Image

** What AWS Services are you utilizing? **
Cognito/amplify /Storage
** Provide additional details e.g. code snippets **
![image](https://user-images.githubusercontent.com/36496259/55616571-6ecba080-57d5-11e9-954d-e46b0c5e0f01.png)
![image](https://user-images.githubusercontent.com/36496259/55616598-8145da00-57d5-11e9-9759-17050433bc09.png)
!

[2019-04-05 09:10] totaland commented on #3016
The profile picture that you see is using Avatar component from material UI. The issue when using that is everyone seeing the same profile image until someone uploads a new one. Which is not what I one. I want a different user to be able to upload their own profile picture as FB does.

[2019-04-05 10:29] edlefebvre commented on #1926
Just like @learningacct, I'm looking for a way to use custom Cognito attributes to authorize tenants.

Any idea?

[2019-04-05 11:14] MiMo42 commented on #2390
+1

[2019-04-05 12:34] totaland commented on #3016
https://gist.github.com/totaland/fc8bfdb89cdc80fb310ac96aeb30dc0e
for more info please see my gist

[2019-04-05 12:39] jarrettj commented on #3007
I think I might have tracked it down a bit further. Created another API, but this time I choose not to use authentication. Without authentication, all requests are working. So I'm not too sure what it is about the authentication.

I returned to debugging the API with authentication and made the CORS request work. The next request however after the preflight success gives a status code 403 with no

[2019-04-05 13:05] jarrettj commented on #3007
On closer inspection, https://github.com/aws-amplify/amplify-js/issues/718 is not my issue. As it fails from the S3 bucket in the same way.

[2019-04-05 15:02] vparpoil opened #3018 "How to secure subscriptions ?"
**Which Category is your question related to?**
Amplify / AppSync

**Provide additional details e.g. code snippets**
Let's create a subscription that receive updates on some user account data :
[code]
From the client, you will pass the UserAccountID that you first got from a query, and everything will work. Securing the query is doable with custom VTL logic in the resolver.

How to protect someone

[2019-04-05 16:36] elorzafe commented on #2950
@hoang-innomizetech which framework are you using?

[2019-04-05 16:38] elorzafe commented on #2864
Closing this issue because of inactivity, feel free to open a new issue if you still have concerns.

[2019-04-05 16:38] #2864 closed

[2019-04-05 16:58] YaswanthC opened #3019 "withAuthenticator HOC not sending signup code for new users"
Hi,

I am trying to setup the basic authentication using AMPLIFY by using `withAuthenticator` HOC component in my basic react app. I am using amplify cli for pushing the authentication part. I wrapped my App component in `withAuthenticator`  using [amplify documentation](https://aws-amplify.github.io/docs/js/authentication#using-auth-components-in-react--react-native)  and even followed the exact

[2019-04-05 17:15] elorzafe commented on #1169
@ddemoll currently it is possible on pinpoint to create users segments based on the user attributes. You can find more information to build your dynamic segments [here](https://docs.aws.amazon.com/pinpoint/latest/userguide/segments-building.html)

You can configure the user attributes on `updateEndpoint` like this (on `userAttributes` param)

[code]

[2019-04-05 17:23] davekiss commented on #54
Throwing my +1 in the ring here, I was pretty stunned to see this was even an issue given that Amplify leads you into this scenario ie. `Storage` module using Federated IDs but no way to relate them to User Pool IDs.

A simple extra field in one of the response or trigger payloads would seem to resolve this issue, no?

[2019-04-05 17:25] elorzafe commented on #3010
@vjindalaurea remember me Is not available right now, I will mark this as a feature request.
Thanks for your feedback.

[2019-04-05 17:32] elorzafe commented on #1926
This issue will be tracked in amplify-cli repo, also related to this issue https://github.com/aws-amplify/amplify-cli/issues/1043

[2019-04-05 17:44] elorzafe commented on #1582
@TheVaporTrail currently that is not possible to do. We have an open RFC with admin auth task [here](https://github.com/aws-amplify/amplify-cli/issues/766).

[2019-04-05 17:52] elorzafe commented on #1823
@MathiasGruber why do you need to allow access to individual buckets per user? If you need fine-grained access control you can do that with only one bucket. Amplify-cli configures permissions to one S3 bucket to allow this access control for individual users. Take a look [here](https://aws-amplify.github.io/docs/js/storage#file-access-levels) for information.

[2019-04-05 18:02] elorzafe commented on #1483
@XCarle can you add a code snippet on how you are trying to use it? You are using unauth or auth users or both? Can you see error messages on console or network?

[2019-04-05 18:26] #2643 closed

[2019-04-05 18:26] swaminator commented on #3009
@YaswanthC: The Amplify Console provides fully managed hosting for your web app - we do not expose the CloudFront distribution to you. When you use hosting with Amplify Console you get billed directly from us: https://console.amplify.aws/pricing
What is your usecase for using CloudFront instead?

[2019-04-05 18:27] tbehunin opened #3020 "Custom authData returned when using withAuthenticator and a PostAuthentication Cognito trigger"
I'm leveraging the `withAuthenticator` React HOC for my authentication workflow. I've also configured my Cognito User Pool to have a `PostAuthentication` trigger to invoke a simple lambda that would generate a 3rd party API key. Currently, my lambda function looks like this:

[code]

My hope was that if I assigned custom properties to the `response` object (as shown above), those props would flow

[2019-04-05 18:29] elorzafe commented on #2933
@michaelcuneo the problem is that connection is not updating both tables `project` and `gallery` on the same `createGallery`. One to many connections assume you will query those from the root object and not viceversa.

I suggest to create one type with all the attributes instead of one to one connections.

[2019-04-05 19:06] jordanranz commented on #2951
@dhyeysejpal,

In your example above you have
[code]
and not:
[code]

To get rid of the margin you need `const myContainer = Object.assign({}, AmplifyTheme.container, { marginTop: 0 });`

Did you try this?

Also, could you share a code snippet for the `MySignIn` component

[2019-04-05 19:48] powerful23 commented on #2962
@ffjanhoeck

Because this line in your code will do this:
[code]

[2019-04-05 19:49] vparpoil commented on #3018
I just ran into this rfc for the @auth directive : https://github.com/aws-amplify/amplify-cli/issues/1043
It’s stated that you cannot secure subscriptions yet

[2019-04-05 19:56] jessedoyle opened #3021 "aws-amplify-react-native - withOAuth HOC - Loading State"
**Is your feature request related to a problem? Please describe.**
We've implemented a custom OAuth provider login in our react native application with the functionality introduced in https://github.com/aws-amplify/amplify-js/pull/2665 and it's working great!

One issue we've noticed is that it's difficult to render a "loading" state when using the `withOAuth` HOC as there is no ideal state field

[2019-04-05 20:05] jarrettj commented on #1857
@tvb I don't understand either. This explains things, at least you helped me :). Will checkout how to submit a PR.

[2019-04-05 20:14] bazsodombiandras commented on #1730
Eagerly awaiting this feature...

[2019-04-05 20:27] elorzafe commented on #1567
I tested with the latest version of amplify, and is working without issues. Please feel free to create a new issue if you still have any concerns. Thanks!

[2019-04-05 20:27] #1567 closed

[2019-04-05 20:27] powerful23 commented on #1593
@thrixton this is not a bug since there is no relation between the Auth methods and the `AmplifyService.authStateChange`. We do dispatch events when calling Auth methods but you need to listen on those events through Hub category: https://aws-amplify.github.io/docs/js/hub

The `AmplifyService.authStateChange` will only be called when using components provided by `aws-amplify-angular`, for example

[2019-04-05 20:30] powerful23 commented on #1593
@thrixton update: there is a mix-up between Hub Category and [the subscription to the auth state](https://aws-amplify.github.io/docs/js/angular#subscribe-to-authentication-state-changes) in angular so people will be confused about how to listen on auth events. We will do a change in the future to integrate those two different ways.

[2019-04-05 20:45] mezalejandro opened #3022 "Android Push notification error"
**Describe the bug**
When execute react-native run-android in the console show :
@aws-amplify\pushnotification\android\libs\aws-android-sdk-core-2.6.13.jar: D8: Type `org.apache.commons.logging.LogFactory` was not found, it is required for default or static interface methods desugaring of `void com.amazonaws.metrics.AwsSdkMetrics.<clinit>()`

node_modules\@aws-amplify\pushnotification\android\libs

[2019-04-05 21:12] elorzafe commented on #1284
@cheeks @amaingot can you paste your `package.json` to try to reproduce the problem.

[2019-04-05 21:30] j0b0sapi3n commented on #987
I dug into this a bit more and here's what I decided to do in case it's helpful for anyone else. My Cognito is set up so that email is considered the username.

Currently, a user can sign up for a new account which requires them to confirm their email. This sets their account status to `CONFIRMED` and email verified to `true`. However, the flaw is that afterwards the user can then change their ema

[2019-04-05 22:17] powerful23 commented on #2346
@adrianhall I can't reproduce this issue in the IOS simulator. The error is shown up in the bottom. I am going to close the issue. Please let us know if you still have this issue.

[2019-04-05 22:17] #2346 closed

[2019-04-05 23:00] #2971 closed

[2019-04-05 23:05] cmaronchick opened #3028 "Auth setSignInUserSession fails to store tokens"
Platform: React Native
Additional Details: Using Expo to develop

When utilizing the Facebook OAuth flow, calling setSignInUserSession crashes on iOS and causes a non-crashing warning on Android.

**To Reproduce**
Steps to reproduce the behavior:
1. Sign in a user via Facebook using the /authorize endpoint with the grant_type of code.
(using the Expo AuthSession component)
2. On a successful login

[2019-04-06 02:54] s-hood commented on #2605
I'm having the same error but from changePassword. signIn and deleteUser both work for me. Has anyone made progress?

[2019-04-06 02:58] hoang-innomizetech commented on #2950
@elorzafe sorry, I should make it clear. I am using the latest angular and amplify version.

There are a couple of scenarios we should clear the error message before executing an action:
* sign in
* sign up
* navigate between sign in and forgot password form

[2019-04-06 06:48] dhyeysejpal commented on #2951
@jordanranz:

Yes, I did try it but unfortunately it had no effect. Here is the screenshot for the result:

![Screenshot (105)](https://user-images.githubusercontent.com/5461242/55666024-f7921d00-5865-11e9-9db1-1a20c00f6468.png)

And here is the code for my SignIn component:

[code]

[2019-04-06 07:56] ffjanhoeck commented on #2962
@powerful23 I do this because cognito does this too, when a user log in.
What do you think should happen if I remove this line?

[2019-04-06 10:59] djkingh01 opened #3030 "Missing credentials"
** Which Category is your question related to? **
Storage API, Authentication
** What AWS Services are you utilizing? **
S3
** Provide additional details e.g. code snippets **
I have a very simple use case. My users use Hosted UI for login. The user pool allows both a google as well as native cognito login with the following code.
Auth.configure(awsmobile.Auth)

I am able to access my GraphQL serv

[2019-04-06 11:08] klearchos opened #3031 "Username(mandatory), phone number and email for a new user"
** Which Category is your question related to? **
Angular
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **
Hello,
if I set the user pool to use the phone number as required/unique basically it means that this will be my username as well.
Currently the signupConfig object that we pass in the **amplify-authenticator** is able to hide the username

[2019-04-06 13:05] morgler opened #3032 "_vm.orderBy is not a function in SignUp vue component"
**Describe the bug**
I use the amplify-vue components in a Quasar web application. My "Auth" page component is pretty simple, just containing the amplify-authenticator component. The "SignIn" component displays fine and works as expected. But if I click on "Create account" to be taken to the "SignUp" component, I always get an error "_vm.orderBy is not a function" from the line https://github.com/

[2019-04-06 15:14] mohanrao commented on #2940
@powerful23 I found its failing for whiteListForItself.includes(key) . I got a screenshot

[2019-04-06 15:16] mohanrao commented on #2908
I Modified the role policy as below and its working

[code]

[2019-04-06 16:13] cmaronchick opened #3033 "Using Facebook Login, why does Amplify (using Auth.currentAuthenticatedUser()) not work immediately after login, but if I refresh the app (Command + R in the iOS simulator), the user is recognized?"
** Which Category is your question related to? **
Amplify Facebook Login Integration

** What AWS Services are you utilizing? **
Amplify, Auth

** Provide additional details e.g. code snippets **

code is now working - here's the snippet

     import {
       CognitoUser,
       CognitoIdToken,
       CognitoAccessToken,
       CognitoRefreshToken,
       CognitoUserSession,
       CognitoUserPool

[2019-04-06 19:26] brettbot7 opened #3034 "S3Album 403 Forbidden Error -- React Component"
** Which Category is your question related to? **
S3Album component for AWS-Amplify-React.

** What AWS Services are you utilizing? **
AWS Amplify with Storage/S3 and Auth/Cognito.

** Provide additional details e.g. code snippets **
I have no problem getting images from a private bucket using Storage.get() and the S3Image component; however, I keep receiving a 403 Forbidden error for S3Album.

I

[2019-04-06 19:59] undefobj commented on #2716
@ddennis Thanks for sending your gist. There are a couple things going on that we were able to simplify the beta codebase as well as clarify in our docs:
1. You won't need to call `handleAuthResponse` now. We do that automatically for you and have made it private.
2. Since `federatedSignIn()` will redirect to either the Hosted UI or your social provider (depending on the arguments passed) the prom

[2019-04-06 20:32] matamicen opened #3035 "App in background Start Over when tap notification (Android Only)"
Hi guys,

Only occurs in production when the .APK is installed on device (it is working on emulator or device in debugging).

When the App is in **background** and you Tap a Notification, the app start over like it were killed. It is working fine on iOS.

I have already tried with these code inside the Class and outside the class and no success.

[code]

**Expected behavior**
Go directly to the AP

[2019-04-06 23:46] mohanrao commented on #2940
After further research found that i had to add the below polyfill from corejs to make the app to work

[code]

[2019-04-07 04:30] #3014 closed

[2019-04-07 06:33] VinayakVenkataraman commented on #3014
Appears Case 12 has been fixed. However still does not say how to implement this fix for Case 23, the case of FORCE_CHANGE_PASSWORD. If I redirect the user to another page to enter their new password or even display a form on the same login page, I lose the context in which I just authenticated the user.

Ideally, the authenticateUser function should also return a session or, as is the case with t

[2019-04-07 10:01] webdev-nyc-air-quality commented on #2478
Im not sure whats going on but my environment initialization is failing

✖ There was an error initializing your environment.
init failed

[2019-04-07 14:34] ciguaapp commented on #2990
as a workaround:

- check if you have install the latest version of "amazon-cognito-identity-js"
- then check "../node_modules/amazon-cognito-identity-js/android/build.gradle" file

you should find something like this:

`android {
    compileSdkVersion 28
    buildToolsVersion "28.0.3"

    defaultConfig {
        minSdkVersion 16
        targetSdkVersion 28
        versionCode 1
        versionNa

[2019-04-07 14:51] kfiras commented on #1269
Hi,

I am seeing the same issue where I am able to sign out but the app does not render.  I tried the following:

`import {Greetings} from 'aws-amplify-react-native';

export default class MainScreen extends Greetings {
  signOut() {
    Auth.signOut().then(() => {
      if (this.props.onStateChange) { this.props.onStateChange('signIn', null); console.log('change state')}
      console.log('inside

[2019-04-07 18:20] davekiss commented on #54
Alright, I spent way too long trying to come up with a reasonable approach to linking the user's `sub` value from my Cognito User Pool to the `IdentityId` value from the Cognito Federated Id, and the solution I came up with isn't perfect, but it's somewhat sane and at least verifiable.

I noticed that requests to the AppSync GraphQL API's are authorized using the `idToken` value that is returned a

[2019-04-07 18:46] baharev commented on #54
@davekiss Thanks for sharing. Unfortunately, your struggle only underlines my point: It is unnecessarily complicated and brings in other services and libraries (GraphQL, AppSync, DynamoDB, Lambda in your workaround).

I see no good technical reason why the Cognito REST API could not support it directly.

[2019-04-07 19:33] jarrettj commented on #597
Hi,

Good day.

The link does not work.

Regards.

[2019-04-07 20:34] kfiras opened #3036 "SignOut not changing state to signIn"
** Which Category is your question related to? **
aws-amplify-react-native
** What AWS Services are you utilizing? **
Amplify
** Provide additional details e.g. code snippets **
Hi,

I am seeing the same issue where I am able to sign out but the app does not render. I tried the code below, but it does not seem to work:

[code]

I can see the user being signed out. It also changes the state but it

[2019-04-07 20:54] keithdmoore commented on #54
Pecked out from my iPhone

[2019-04-07 20:57] keithdmoore commented on #54
After working with AWS and DynamoDB, it seems that management must be making technical decisions in order to increase revenue.  Forcing these ugly workrounds which force you to use other services.  DynamoDB can’t do some basic things without doing scans, etc

[2019-04-07 22:12] thrixton commented on #1593
@powerful23 , thanks for the response.
However, it is called when using the Auth.signIn method, even when not using the angular components.
Regardless.
I switched to hub, however I get the below warning / error.
`[WARN] 08:52.922 Hub - error dispatching auth event to app.component`

[code]

[2019-04-07 23:50] JustFly1984 commented on #1355
I got this error today, for my own personal account in my WebApp in production. We do not have mobile app, there is nothing to remember.

[2019-04-08 00:05] viniciusfont commented on #2643
How did you solve then?

[2019-04-08 00:36] TheVaporTrail commented on #1759
@bazsodombiandras Did you get an answer yet?

[2019-04-08 01:33] JustFly1984 commented on #1355
I could swear I had login to my app as super admin successfuly, logged out, and at attempt to login again got this error message

[2019-04-08 02:26] johnbowdenatfacet commented on #2962
[code]
Gives me the error:
`{"__type":"NotAuthorizedException","message":"Invalid Refresh Token."}`

[2019-04-08 03:03] calboru commented on #1669
It is April, 2019 and this issue still exist. There are many legacy systems that use "username" as opposed to "email".

[2019-04-08 03:29] CNapo commented on #1429
I have the same problem, any update from AWS?

[2019-04-08 04:21] hoang-innomizetech commented on #1824
@schellack  Yeah. I can get the current logged user and the tokens. However, I noted that I have to implement a callback URL that redirect back to our root route (it likes a force refresh per @giovannidegani comment above)

[code]

[2019-04-08 04:48] bazsodombiandras commented on #1759
Nope, unfortunately not.

[2019-04-08 05:08] cmaronchick commented on #3028
Ok, I figured this out. When I called Auth.createCognitoUser, it only calls for the username rather than the { Username, Pool } object. When I just provided the username, it all worked as expected.

[2019-04-08 05:08] #3028 closed

[2019-04-08 06:22] ffjanhoeck commented on #2962
You have the same issue like @bduff9 and me :)

[2019-04-08 06:34] ddennis commented on #2716
@undefobj Thanks alot for your time and for helping me with this.

I never manged to get the first version to work.
But setting up a new project using the amplify CLI made it work.

I am really curious about why the first version did not work, could it be because the hosted-ui was not working? or did i not enable it?

This should be the url of the hosted UI:
[https://finewires-testing.auth.eu-cent

[2019-04-08 07:30] undefobj commented on #2716
@ddennis excellent glad you have it working. Not sure about the first one, could have been a typo in the redirect URIs inside the console.

Also we're working on a big doc update with a concepts section and easier explanation & navigation. If you or anyone else in this thread have any thoughts in the next 24 hours that would be great. Here they are on my fork:
https://undefobj.github.io/docs/js/au

[2019-04-08 07:51] YaswanthC commented on #3019
The above scenario worked perfectly today but it didnt worked as expected on the day i posted this issue( 3 days ago) . Thats why i created this thread.

Since it is working now i am closing this.

Thanks

[2019-04-08 07:51] #3019 closed

[2019-04-08 08:55] anarerdene opened #3037 "Im using AWS amplify (auth and api) on Nextjs."
AWS AppSync based on Apollo. So it means i don't need Apollo client on my Next'js project ?.
I'm really confusing with Apollo or without Apollo. Right now im using like this image.

`import App, {Container} from 'next/app';
import React, {Component} from 'react';
import {ApolloProvider, compose} from 'react-apollo';
import Link from 'next/link';
import Head from 'next/head';

// AWS Appsync Config

[2019-04-08 10:00] roborourke commented on #1759
@bazsodombiandras @TheVaporTrail have you tried setting `window.LOG_LEVEL='DEBUG'` yet? The permissions error is a default catch all error message unfortunately. I was seeing it when I was sending custom attributes with values other than type `string` (or array of strings) and metrics as values other than type `number`. It's worth double checking that.

[2019-04-08 10:15] bazsodombiandras commented on #1759
Thanks @roborourke, I'll give that a try. Still it seems odd that the tutorial sample has this problem out of the box...

[2019-04-08 13:42] edward-hong opened #3038 "WARNING onHubCapsule is Deprecated (React)"
I was using the `Hub` API with my React app to handle authentication. I just upgraded to the latest `aws-amplify` version and am now getting a warning in the console:

Note the three numbers at the beginning (i.e. 38:57:297) seem to be random. Every time I reload they are different. I don't know what the message means by 'pass in a callback'. Pass into where? And what should be in the callback?

H

[2019-04-08 14:53] leantorres73 opened #3039 "PubSub reconnect"
Related to https://github.com/aws-amplify/amplify-js/issues/1844, if I close the websocket connections and try to resubscribe does not reconnect the connection.

**To Reproduce**
Steps to reproduce the behavior:
1. Subscribe to a topic, then close the connection and then try to resubscribe to the same topic again.

**Describe the solution you'd like**
There should be a way to reconnect to a closed

[2019-04-08 15:51] medelman17 commented on #3038
Same issue here, but on react-native. Basically crippling my app. Does any one know when this change was introduced so that I can revert?

[2019-04-08 15:58] undefobj commented on #3038
We made this change in the last release but kept the older functionality so that it is backwards compatible, all that is happening now is a warning message as we will remove this functionality in a future major version. To prepare for that you can pass in an anonymous function or one you define per the documentation here: https://aws-amplify.github.io/docs/js/hub#listening-for-messages

[2019-04-08 16:13] elorzafe commented on #3014
@VinayakVenkataraman thanks for your feedback, can you create a new issue, for case 23 you mention. This way we can keep track issue better.

Thanks again

[2019-04-08 16:15] medelman17 commented on #3038
Ok, but, for the record, it does not appear to be backwards compatible. Previously, I had this code which was working fine.

[code]

After the upgrade, I started to get `this.handleAuthFlow` is not a function errors. Changing to the new API solved it:

[code]

[2019-04-08 16:22] JustFly1984 opened #3040 "SignIn Error: 1 validation error detected: Value null at 'deviceKey' failed to satisfy constraint: Member must not be null"
I have several users in my app, and I'm getting this error while trying to login in chrome canary 75 with most of my app accounts.

I can login successfully from default chrome 73 to all of my users. also can login from Safari browser

The worst thing that my other co-workers experiencing the same issue in chrome 73 on linux, he can't login in some of accounts, but can login in others. This incons

[2019-04-08 16:25] JustFly1984 commented on #3040
PS we are using @aws-amplify/auth@1.2.20

[2019-04-08 16:32] JustFly1984 commented on #3040
My co-worker tried to login from Firefox on linux and had a success, but in chrome73 it failed with same `SignIn Error: 1 validation error detected: Value null at 'deviceKey' failed to satisfy constraint: Member must not be null` response

[2019-04-08 16:40] JustFly1984 commented on #3040
The issue has been solved by clearing cookies and cache in troubled browsers. I can't understand why it happened.

[2019-04-08 16:43] elorzafe commented on #3018
@vparpoil I will move to amplify-cli repo, they can handle this issue better than us.

Thanks for your feedback

[2019-04-08 16:53] elorzafe commented on #3000
I am glad it works, cheers!

[2019-04-08 16:53] #3000 closed

[2019-04-08 17:03] powerful23 commented on #2962
@ffjanhoeck if the `refreshToken` is not cached in local, then when the session expires, it will just throw error saying `Cannot retrieve a new session. Please authenticate.` instead of trying to refresh the session. Then you should refresh the tokens in the backend and send them to the frontend.

[2019-04-08 17:12] powerful23 commented on #2908
@mohanrao cool. Sorry didn't notice that star symbol. In fact in the doc the policy is like
[code]
Which is `${appId}*`

[2019-04-08 17:13] powerful23 commented on #2908
@christopherdiehl can you check you IAM policy to see if it has the `*` symbol.

[2019-04-08 17:18] JustFly1984 commented on #3040
This issue definitely related to localStorage. I had it reproduced on my local machine, and clearing up localstorage did helped.

There is 3 records left by Cognito in LocaStorage after logout for each user. I think it could cause an issue.

[2019-04-08 17:29] JustFly1984 commented on #3040
I have it reproduced several times. The issue persists. Sometimes I can't login in some of the accounts because of broken localStorage user record or some issues with parsing that record.

[2019-04-08 17:48] manueliglesias commented on #3038
Hey @medelman17

I think you are not using the latest version (1.1.24 as of today), I created a [codesandbox.io](https://codesandbox.io/embed/z27m60zqo3?expanddevtools=1&fontsize=14&module=%2Fsrc%2Findex.ts) showing it working correctly.

The fix was in this PR #3002

[2019-04-08 17:55] inh556 commented on #2736
Hi there, I got the same issue in React-Native project. Tried to add   "_isMounted" state, but not working. Have you fixed it?

[2019-04-08 18:15] powerful23 commented on #2638
The issue is Auth is not throwing an error or do something if the tokens are revoked when calling `Auth.currentAuthenticatedUser({bypassCache: true})`

[2019-04-08 18:24] inh556 opened #3041 "Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in the componentWillUnmount method."
**Describe the bug**
I am using Amplify in a React-Native project. After signing in with Facebook or Google, it will show this warning. I have removed the listener to avoid memory leaks. And I also have tried to add a set of "_isMounted" states as some of the instructions say, but either of them worked.

**To Reproduce**
Steps to reproduce the behavior:
Can't perform a React state update on an unm

[2019-04-08 18:29] elorzafe commented on #2799
@athJ I commented [here](https://github.com/aws-amplify/amplify-js/issues/2974#issuecomment-479593590) how to use tags for S3 uploads. I hope this worked for you.

[2019-04-08 18:29] JustFly1984 commented on #3040
I found the reason of an issue, this happens only if previous user hasn't been logged out correctly only. Trying to work around.

[2019-04-08 19:38] afraser commented on #122
I'm including only `"@aws-amplify/auth": "^1.2.18",` and amplify is taking up an enormous chunk of my bundle:

<img width="257" alt="Screen Shot 2019-04-08 at 3 37 31 PM" src="https://user-images.githubusercontent.com/1179515/55751674-45e51e80-5a14-11e9-95ee-e9695f796236.png">

[2019-04-08 20:59] #2716 closed

[2019-04-08 21:07] Neil-Ni commented on #2908
Thanks for pointing out the `*` sign @mohanrao ! I was thrown off by the example in Pinpoint Console. Screenshot below if anyone started out looking at Pinpoint Console like I did. The example in this Pinpoint Console page doesn't have `*` sign but the official [document](https://aws-amplify.github.io/docs/js/analytics) has it. I did not realize the sign until this thread. @powerful23 is it possib

[2019-04-08 21:46] powerful23 commented on #2908
@Neil-Ni I will raise it to the service team.

[2019-04-08 22:34] kfiras commented on #3036
Any update on this issue? I am not sure what should I do to resolve this issue. I tried many things and rendering signin page does not happen.

[2019-04-08 23:24] #2980 closed

[2019-04-08 23:44] totaland commented on #1430
Have you been able to solve this issue man?

[2019-04-09 01:44] Dilatorily opened #3042 "Add option to specify method to send AWS Pinpoint events"
**Is your feature request related to a problem? Please describe.**
AWS Pinpoint users are currently using AWS Amplify to send analytics events through XHR POST requests. Some useful analytics metrics are the time spent on page, which would require an event to be sent when the browser is closed. However, most browsers will not send XHR POST requests when a page is closed. This makes AWS Amplify JS

[2019-04-09 02:04] undefobj commented on #2716
Hello everyone - We have merged this feature and published it to NPM. The new documentation will be going live tomorrow.

[2019-04-09 02:56] TheVaporTrail commented on #1759
@roborourke, @powerful23, When I enabled debug, with `window.LOG_LEVEL='DEBUG'` I saw the following debug output reported each time I received the `mobiletargeting:PutEvents` error:
[code]
My main source file starts like this:
[code]

The `SystemAnalytics.js` file is a wrapper for the AWS analytics. It abstracts away the AWS API, but otherwise does not do much more at present.

**The error seems t

[2019-04-09 03:06] TheVaporTrail commented on #1759
@bazsodombiandras, you can find the *Roles* and *Policies* in the **IAM** Service in the AWS Console (https://console.aws.amazon.com/iam/).

On the left, click on **Roles** to see the roles in your account

Look for a role that has the name of your app, followed by `auth` or by `unauth`, then `MOBILEHUB` and then a number. Something like `yourapp_auth_MOBILEHUB_123456789`

Click on that role. You

[2019-04-09 04:36] jarrettj commented on #2980
Awesome! Thanks. :)

[2019-04-09 05:02] jarrettj commented on #3007
Found https://github.com/aws-amplify/amplify-js/issues/1857 and realised I should just create my own functions to deal with query parameters instead of path parameters. I added the following:
[code]

It now handles getting the items by the partition key or getting all items. Hopefully this helps someone else.

I've also disabled auth on my functions. As I now have no idea what is going on there. I

[2019-04-09 05:10] ffjanhoeck commented on #2962
@powerful23 Ok I can test it but I don't think that this will work, because the received refresh token is completly new generated from the backend.

[2019-04-09 05:49] VinayakVenkataraman commented on #3014
Yes Certainly.

[2019-04-09 06:04] VinayakVenkataraman opened #3043 "Double Verification in case of using newPassword Force Change with an Input Form instead of Prompt"
In Relation to Issue #3014, the implementation is extended to Case 23.

In brief, the case pertains to Admin created users, where the users are required to reset their passwords after the first successful login with the temporary password. My particular implementation uses the newPasswordRequired implementation provided here in exactly the same form and works splendidly:
https://docs.aws.amazon.co

[2019-04-09 06:05] VinayakVenkataraman commented on #3014
Opened Case #3043 for Case 23.

[2019-04-09 06:40] 0x6C38 commented on #1316
@peetss those instructions are valid for federated identities with an identity pool not federated login with user pools.

[2019-04-09 07:02] evenvgw opened #3044 ".NET C# support"
Hi, is there a roadmap for a .NET / C# sdk?

We'd love to be able to use amplify with our C# applications

[2019-04-09 07:35] nerdyness opened #3045 "`amplify configure` removes existing comments from ~/.aws/config"
**Describe the bug**
I use many different AWS profiles and so I keep some information about the different accounts as comments in my `~/.aws/config` file. When running `amplify configure` it strips my `~/.aws/config` file clean of any comments, this is different to the behaviour of `aws configure --profile profile_name` which simply attaches the new profile to the end of my `~/.aws/config` file wi

[2019-04-09 07:46] hoang-innomizetech opened #3046 "Forgot Password? text should be clickable"
I have mentioned this issue on #2980. However, I think raising a separate issue will be easier for tracking

We should add a click event to the **Forgot Password?** text on the sign in form like **Reset your password** text. Per our user perspective, they have reported an issue, so I think we should make this change.

I tried to make this working by removing the forgot password text using i18n, ho

[2019-04-09 07:57] mevert commented on #2692
In addition to `AMQJS0004E Ping timed out` error, `AMQJS0007E Socket error:undefined` (errorCode: 7) does not trigger the error. Despite the fact that it occurs when subscription fails. Documentation of PubSub says that error is "Triggered when subscription attempt fails". However, looks like errors are not triggered...

@manueliglesias any idea when the fix for this issue is coming?

[2019-04-09 08:32] roborourke commented on #1759
@TheVaporTrail are you using `Amplify` anywhere else in that main js file? I'd probably just import the analytics and auth packages in your analytics JS file only and configure them there. You may have to configure the AWS objects in each file you use them in, depends on how your js is compiled. Either that or try creating one file where you configure them then re-export the configured objects. I'

[2019-04-09 09:05] kevin-mitchell commented on #2739
I just want to say I'm having the exact same issue. Or at least the symptoms appear the same to me.

*All of my testing is on localhost:3000 if that matters* - this is using React.

@mbonig actually helped me a bit on gitter as I believe he resolved the issue he was having and I believe his recommendation was to use the specific Cognito identity ID (rather than the `aws_cognito_identity_pool_id` f

[2019-04-09 09:55] reste85 commented on #1370
Any news on that? We need custom scopes also in the SRP auth flow (no standard OAuth2 Flow)

[2019-04-09 10:12] jarrettj opened #3047 "Should *-cloudformation-template.json files be git ignored?"
** Which Category is your question related to? **
Multi Team environments.
** What AWS Services are you utilizing? **
amplify env checkout branch
amplify publish
** Provide additional details e.g. code snippets **
Whenever amplify publish is called the *-cloudformation-template.json are updated. Should those be in version control? Thanks.

[2019-04-09 10:56] edward-hong commented on #3038
Hi thanks @medelman17 for sharing your solution for my code instead of:

[code]

I changed my code to:

[code]
And now it's working without the warning message.

[2019-04-09 10:57] #3038 closed

[2019-04-09 11:34] lucaspelloni2 opened #3048 "Federated Identities - User Data Missing (Dataset not found)"
**Which Category is your question related to?**
The identity pool works fine. Users can sign in into the app using either facebook or google (everything has been configured with the amplify CLI).
However, even if I see in the dashboard that there are new federated identities, I am not able to retrieve their data (dataset is always empty).

![image](https://user-images.githubusercontent.com/1778153

[2019-04-09 13:34] lroellin opened #3049 "nextToken Handling"
** Which Category is your question related to? **

AppSync SDK

** What AWS Services are you utilizing? **

Amplify, AppSync

** Provide additional details e.g. code snippets **

We're using the AppSync SDK as documented here: https://aws-amplify.github.io/docs/js/api#aws-appsync-sdk

We're using queries started like this:

[code]

The problem is that we're not getting all data. This is *not* spec

[2019-04-09 13:48] RomaricDel opened #3050 "Angular authenticator sign in fill login form"
Hello,
Currently when using the authenticator component for angular the input fields **username** and **password** don't have any name attribute. This implies that the form can't be filled automatically with username and password, and chrome won't ask if we want to save the password.

I've figured out a workaround by adding manually the name attribute afterwards like this
[code]

I think it would

[2019-04-09 14:03] philiiiiiipp opened #3051 "Updating @aws-amplify/storage from 1.0.26 to 1.0.27 or 1.0.28 gives an "AccessDenied: Access Denied" error on `.put`"
When updating `@aws-amplify/storage` from 1.0.26 to any of the following versions

Before:
[code]

After:
[code]

I am unable to upload to my protected bucket.
[code]

Was there a change in how this is handled, or the path to where this is uploaded?

***EDIT***

I first thought that it was something nodejs specific, but its actually also failing on our frontend.

[2019-04-09 15:45] mordka commented on #701
Module imports doesn't resolve this. graphl is a direct dependency on `@aws-amplify/api`
https://github.com/aws-amplify/amplify-js/blob/master/packages/api/package.json#L58

[2019-04-09 16:03] nihakue commented on #701
See
https://github.com/aws-amplify/amplify-js/issues/488#issuecomment-420100364

On Tue, Apr 9, 2019 at 4:46 PM Paweł <notifications@github.com> wrote:

[2019-04-09 16:03] nihakue commented on #701
See
https://github.com/aws-amplify/amplify-js/issues/488#issuecomment-420100364

On Tue, Aug 7, 2018 at 9:06 PM Jordan Ranz <notifications@github.com> wrote:

[2019-04-09 16:43] timgivois commented on #1316
I believe there is a lot of confusion between identity pool and federated login with user pools. I don't think this is a problem with Amplify, it's Cognito's documentation.

[2019-04-09 16:57] powerful23 commented on #2962
@ffjanhoeck

Since the refresh token is generated using another client in your backend, I don't think it would work in the client side.

[2019-04-09 17:14] powerful23 commented on #1759
@TheVaporTrail The `Missing credentials in config` is usually caused by duplicated packages in your `node_modules`. Can you please paste the `dependencies` of your `package.json` here?

[2019-04-09 17:30] elorzafe commented on #2967
@idiglove I tried this IAM Policy for unauth role and works without issues.

[code]

My app code is something like this

[code]

[2019-04-09 18:13] d-olivas commented on #2627
Hello, I am having the same issue with `Atuh.setPreferredMFA(user, 'SMS')`, it says success when calling it but in cognito the user still has the MFA disabled and `Auth.currentAuthenticatedUser({ bypassCache: true })` is not helping. I see there's a PR to add `bypassCache` to `setPreferredMFA`, but is there any other workaround to make it work in the meantime?

[2019-04-09 18:26] powerful23 commented on #3030
@djkingh01 usually this is caused by duplicated packages(e.x. aws-sdk) under your `node_modules`, can you paste the `dependencies` of the `package.json` here? Also you can try `Auth.currentCredentials()` after signing in, it will return the credentials as expected.

Related #1241

[2019-04-09 18:35] powerful23 commented on #3033
@cmaronchick can you try this:
[code]

By the way, the way you are using Amplify is kind of hacky and thus not recommended. Could you take a look at this about how to do federation in React-native?: https://aws-amplify.github.io/docs/js/authentication#oauth-and-federation-overview

[2019-04-09 18:36] powerful23 commented on #3051
Related to #3034

[2019-04-09 18:57] powerful23 commented on #3036
@kfiras can you provide more details about your app? I can provide a skeleton sample here for you:
[code]

You can also check the doc about how to write your own component and listen on those auth state changes: https://aws-amplify.github.io/docs/js/authentication#customize-your-own-components
or to use the Authenticator: https://aws-amplify.github.io/docs/js/authentication#using-the-authenticator

[2019-04-09 19:17] kfiras commented on #3036
Hi @powerful23
Below is my mainScreen code.  When I click on 'Sign out', it change the state to 'signedOut' and it did sign me out but it does not refresh the page to the 'Sign in' page.
[code]

[2019-04-09 20:16] ajhool commented on #3034
Would you mind posting your Bucket Policy just to double-check it, please?

[2019-04-09 20:38] dperconti opened #3053 "React Native - Unable to resolve “@aws-amplify/ui/dist/style.css”"
** Which Category is your question related to? **
`react-native` & `@aws-amplify/ui`

** What AWS Services are you utilizing? **
Amplify & Cognito

** Provide additional details e.g. code snippets **

I'm attempting to customize the AWS Amplify UI signin/signup process by following [this article](https://aws-amplify.github.io/docs/js/authentication#customize-withauthenticator). Every time I import

[2019-04-09 20:40] danludwig opened #3054 "How to avoid error "Invalid state in OAuth flow"?"
** Which Category is your question related to? **
Auth

** What AWS Services are you utilizing? **
Cognito User Pools, AWS Amplify

** Provide additional details e.g. code snippets **

Hi AWS Amplify team! Just today we started seeing a new error in fresh npm installs of `@aws-amplify/auth`:

Which we narrowed down to this line of code that looks like it was published to npm about a day ago: https

[2019-04-09 20:42] demsey2 opened #3055 "Invalid state in OAuth flow"
When I log in through the hosted UI, I am redirected to my domain with a code. All was working fine with version 1.1.23, when I upgraded to 1.1.25 I got an exception "Invalid state in OAuth flow"

The exception is thrown from
[code]
When I check savedState and returnedState, savedState is null and returnedState is undefined

 - Device: MacBook Pro
 - OS: 10.13.6
 - Browser Chrome
 - Version 73

[D

[2019-04-09 21:23] peetss commented on #1316
@0x6C38 Ahhh yes it is.

What is the use case for using federated identities with user pools?

AFAIK you will save a lot if you leverage identity pool vs saving all federated identities to user pool.

[2019-04-09 21:36] elorzafe commented on #2966
@chengjia0807 @ajhool thanks for your feedback.

We will consider this as a feature request, we have other stuff we are working on right now, but we can add this issues into our roadmap. We are always happy to review PRs that can solve this issues 😉

[2019-04-09 22:10] manueliglesias commented on #3055
Hi @demsey2

Are you using `Auth.federatedSignIn()` or manually building a url to cognito hosted ui?

With the recent changes to federation, crafting your own url to cognito hosted ui won't work, since it won't have the expected state and or PKCE params for extra security

[2019-04-09 22:12] achutkiran opened #3056 "Forgot password"
** Which Category is your question related to? **
Aws amplify angular
** What AWS Services are you utilizing? **
Cognito, lambda
** Provide additional details e.g. code snippets **
When i do forgotPasswordSubmit(). It is activating Post confirmation trigger

[2019-04-09 22:28] demsey2 commented on #3055
I create my own url

[2019-04-09 22:48] cmaronchick commented on #3033
Thanks. I figured this out, and you should update your documentation.

this line is incorrect: let authUser = Auth.createCognitoUser(userData);
It should read this: let authUser = Auth.createCognitoUser(cognitoUser.getUsername());

Regarding your documentation, it is not at all straightforward. I tried it out and got an error saying that response.token is undefined.

Since my solution is working (

[2019-04-09 22:48] jessedoyle opened #3057 "aws-amplify-react-native version 2.1.10 breaks withOAuth Custom Provider Authentication"
**Describe the bug**

After updating `aws-amplify` from version `1.1.24` to `1.1.25` and `aws-amplify-react-native` from `2.1.9` to `2.1.10`, our React Native application's authentication with a custom provider on a Cognito User Pool no longer works using the `withOAuth` HOC.

The error our app receives is (see screenshot 1):

[code]

At first glance, it looks like this PR introduced the bug: http

[2019-04-09 22:50] elorzafe commented on #2996
@achutkiran I created this react-app and subscriptions work very fast.
- First I created an AppSync api from the console using **Event App** from sample project section.
- Then I downloaded `aws-exports.js` config file from **Integrate with your app/JavaScript** section and paste it next to my `App.js` file.
App.js
[code]

After adding the first event you can copy/paste the eventId from the consol

[2019-04-09 22:56] ajhool commented on #2966
I'd be happy to add a PR, I added a related issue: https://github.com/aws-amplify/amplify-js/issues/3015

Even though Amplify does not officially support SSR, would the team be willing to officially support deferring rendering to the client? Something along the lines of "We won't break SSR, but our components might not render on the server."

[2019-04-09 22:56] manueliglesias commented on #3055
can you try with `Auth.federatedSignIn()`? let me know if it doesn't cover your use case

[2019-04-09 23:07] justingrant opened #3058 "Source maps refer to invalid dependency paths"
**Describe the bug**
Sourcemaps for Amplify packages refer to invalid paths that existed at build time but don't exist when packages are installed from npm. This in turn breaks debugging in VSCode and other IDEs.

**To Reproduce**
Steps to reproduce the behavior:
1. `npm i aws-amplify`
2. open `./node_modules/aws-amplify/dist/aws-amplify.js.map`
3. Excerpt the first few lines, adding line-breaks a

[2019-04-09 23:16] elorzafe commented on #2989
I think this is more a service related issue, I think you can find more help on aws forums [here](https://forums.aws.amazon.com/tags/appsync) I will also transfer this to CLI team in case this could be solved using graphql-transformer

[2019-04-10 00:44] LeoMoonStar commented on #2010
which means you need to save the password incase user wants to resend confirm code?

[2019-04-10 04:48] CaryLandholt commented on #3055
Yes, this was a break for us too.
Signing in via `https://<your_domain>/login?response_type=code&client_id=<your_app_client_id>&redirect_uri=<your_callback_url>`
results in an **Invalid state in OAuth** flow exception.

We have users that SSO into our site using the following scheme.
`https://<your_domain_prefix>.auth.us-east-1.amazoncognito.com/oauth2/authorize?response_type=code&client_id=<your_

[2019-04-10 05:27] tamdilip commented on #3055
Even we manually build the url to cognito hosted ui, but that approach breaks with the latest version expecting "state" in the callback url along with "code".

New approach to redirect to cognito hosted ui -

`Auth.federatedSignIn({ provider: 'your_identity_provider' });`

This seems working with the latest version, which internally handles the URL construction automatically and also the other req

[2019-04-10 05:30] CaryLandholt commented on #3055
@tamdilip thanks - that does seem to work if signing in is initiated via `Auth.federatedSignIn({ provider: 'your_identity_provider' });`, but our users initiate outside of our app, from their employer's portal, where they don't have access to the `Auth.federateSignIn` action.

[2019-04-10 05:32] 0x6C38 commented on #500
@annjawn that's not accurate, users can transitively be assigned permissions through cognito user pools

[2019-04-10 05:49] 0x6C38 commented on #1316
@peetss using a cognito user pool with groups allows for easy, granular authorization that is a lot more difficult with identity pools. Other than that I have no use for an identity pool if I can do federated login through the user pool.

[2019-04-10 06:17] ffjanhoeck commented on #2962
@powerful23 So you think we have to use the same client ids in both to fix it?
In my opinion you should revert the change of 3.0.10 and release it as a major version.

[2019-04-10 06:30] athJ commented on #2799
Gotcha , this needs to be mentioned in the Amplify docs.Thanks @elorzafe

[2019-04-10 06:30] #2799 closed

[2019-04-10 06:34] achutkiran commented on #2996
I used amplify-angular and used subscription api created by using codegen.

[2019-04-10 06:52] annjawn commented on #500
@0x6C38 can you point me to some documentation on how to do it? We would love to do it and it would actually solve a few sticking issues for us because we intend to use User Pool with User Pool SAML federation.

[2019-04-10 07:33] mfreeman451 commented on #2706
Am also having the same issue.. I should have probably choosen the AWS AppSync SDK to begin with, will have to go back and change things around...

[2019-04-10 09:31] Goues commented on #3055
Hi, we have the same problem with `@aws-amplify/auth` version `1.2.21`. Our setup is basically this:

[code]

We use Congito's UI where users can login using Google account. After logging in, they are redirected to

https://our.domain/login.php?code={code}

At this point, amplify fails with said error. This happenned after upgrading from `1.2.18`.

[2019-04-10 09:32] Goues commented on #3055
p.s.: this is a duplicate of #3054

[2019-04-10 09:54] Quelu commented on #1429
Same problem for me..
Almost two years for a 'very much on roadmap' BASIC feature development!
Really Amazon, stop talking and start considering yours users more seriously..

[2019-04-10 10:48] junaidatique opened #3061 "Can I set password for user after sendCustomChallengeAnswer?"
** Which Category is your question related to? **
Authentication
** What AWS Services are you utilizing? **
AWS Cognito
** Provide additional details e.g. code snippets **
I am signing in user using custom challenge. Can I set password for user after user completes the challenge for the first time. Here is the flow of my app.
1) User is created using `AdminCreateUser` without password
2) User is s

[2019-04-10 11:38] roborourke commented on #3042
Just about to open a similar request so +1.

In browsers that support it `Navigator.sendBeacon()` should be used to send events to Pinpoint to avoid the drawbacks of XHR.

@Dilatorily if it helps in the meantime I've implemented my own custom pageView event using `Analytics.record()` on a `beforeunload` event listener. It's annoying that there's a small delay in navigation but it's the only way I'

[2019-04-10 12:47] philiiiiiipp commented on #3051
I digged a little and it seems as if the custom prefixes are getting ignored.

If I set
[code]

It tries to upload to `https://BUCKET_NAME.s3.eu-west-1.amazonaws.com/protected/IDENTITY_ID/profile.png` instead of `https://BUCKET_NAME.s3.eu-west-1.amazonaws.com/customPlace/IDENTITY_ID/profile.png`

[2019-04-10 13:21] danludwig commented on #3055
Hi, I am the author of #3054. Does the Auth.federatedSignIn allow the passing of a custom state argument now or not? We were constructing a manual URL because at the time the code was written, amplify offered no way to pass a value for that querystring parameter.

[2019-04-10 13:37] TheVaporTrail commented on #1759
@powerful23:
[code]
My app is https://polygonia.design/

I type
[code]
right into the developer console (in Chrome) to control the debug output, so I don't have to have it on by default.

[2019-04-10 13:42] KowalskiP opened #3062 "X-ray support"
**Which Category is your question related to?**
Request tracing

**What AWS Services are you utilizing?**
Amazon X-ray

Hello.
I wonder if there is the way to use X-ray request tracing feature on React-Native app? I didn't find a way yo utilize it like web app described here
https://docs.aws.amazon.com/en_us/xray/latest/devguide/scorekeep-client.html

[2019-04-10 14:03] mzohaibqc commented on #446
Unfortunately, Amplify docs do not mention how to refresh token on demand but they always keep saying that Amplify will refresh when required but what if I want to refresh token now, I need to refresh due to some reason, they had not told us. Let's come to the point, here is now you can refresh token on demand.

[code]

[2019-04-10 14:12] mzohaibqc commented on #2560
Here is what I learned after working on two projects.
1. User `Auth.currentSession()` to get current valid token or get the new if current has expired. Amplify will handle it
2. As a fallback, use some interval job to refresh tokens on demand every `x` minutes, maybe 10 min. This is required when you have a long running process like uploading a very large video which will take more than hour (mayb

[2019-04-10 15:10] #3056 closed

[2019-04-10 16:00] khirodAsurion opened #3065 "Amplify auth not allowing to login"
Bug:-
Post latest update to aws-amplify auth (1.2.21) earlier we were using 1.2.15 version of auth ,.  I see following error when trying to login
[code]

[2019-04-10 16:34] alebiavati commented on #3044
Hi @evenvgw,

It's awesome to hear that you want to use Amplify for your app! Unfortunately C# support is not in our roadmap. I'm going to leave this issue open as a feature request for reference.

[2019-04-10 16:58] alebiavati commented on #3041
Hi @inh556,

`HUB.remove` requires the original listener function to be passed as the second argument.

Have you tried modifying your code like this:

[code]

[2019-04-10 17:35] powerful23 commented on #1759
@TheVaporTrail hi, seems like the events are being sent successfully in your app.

[2019-04-10 17:43] TheVaporTrail commented on #1759
@roborourke, my root file now looks likes this:
[code]

and all of the other files use a version of this
[code]

One file also uses DynamoDB:
[code]
It seems to be working okay, but I am still testing.

@powerful23, I think that the problem only happens using localhost, which is my oldest workspace and when I am not signed in. Once I sign in when using my localhost build, the problem goes away. Th

[2019-04-10 18:20] peetss commented on #1316
@0x6C38 Ah, what do you find to be more difficult in using identity pools for authorization?

[2019-04-10 18:22] powerful23 commented on #2962
@ffjanhoeck yes, unless you do have reason to have two different clients.

[2019-04-10 18:38] calboru opened #3066 "code: "CodeMismatchException", message: "Invalid code or auth state for the user.""
**SMS MFA is not working**
Following error happens when I enable “SMS MFA” for a user manually by using aws-console then try to enter authentication code for that particular user
![image](https://user-images.githubusercontent.com/26364385/55904449-d8fd9000-5b9d-11e9-896c-0e4035b23713.png)

User Pool settings as follow:
![image](https://user-images.githubusercontent.com/26364385/55904463-e3b82500-5

[2019-04-10 19:11] manueliglesias commented on #3055
Hi,

I am working on a fix for this, thanks for the patience.

[2019-04-10 19:11] manueliglesias commented on #3054
Hi

I am working on a fix for this, thanks for the patience.

[2019-04-10 19:12] manueliglesias commented on #3057
Hi @jessedoyle

I am working on a fix for this, thanks for the patience.

[2019-04-10 19:12] calboru commented on #3066
In addition to this issue. As soon as I receive the error cognito sends another authentication code !

[2019-04-10 19:17] 0x6C38 commented on #500
@annjawn sorry I meant to say user pool groups. As for how to do it, just assign permissions to the groups and then make sure users are part of the group you want. I think amplify added support for external providers through user pools a few days ago but I haven't checked it out yet. If its possible to assign users who have signed up with external providers to cognito groups then granular authoriz

[2019-04-10 19:32] achutkiran opened #3067 "Types for aws-amplify-angular"
** Which Category is your question related to? **
AWS Amplify

** What AWS Services are you utilizing? **
AWS Amplify

** Provide additional details e.g. code snippets **
I am using AmplifyService from aws-amplify-angular. Api docs  says for signIn() returns Promise<CognitoUser | any> but aws-amplify-angular returns Promise<any>. Is there any definitely typed package i can use for types in angular

[2019-04-10 19:55] jessedoyle commented on #3057
@manueliglesias - Great - please let me know if you need some testing done!

Thanks!

[2019-04-10 20:01] annjawn commented on #500
@0x6C38 I see, so you are talking about assigning IAM roles to User Groups in the User Pools. I guess that is one way to do it but I am curious if the ID Token returned by Cognito in this case will contain the appropriate information for the STS assume role functionality. I am going to have to take a look at User Groups and assigning IAM roles to the group without having Identity Pool however I am

[2019-04-10 20:22] sourabhdadapure commented on #2643
@viniciusfont

I'm not working on this anymore

[2019-04-10 20:41] 0x6C38 commented on #500
@annjawn yep, you're gonna need an identity pool if you want to allow your users to write directly to S3, although you could allow indirect access through a lambda or something if you want to get rid of identity pools badly enough.

That being said identity pools can be used in combination with user pool groups if you configure role selection in identity pools properly. I've tested this with user

[2019-04-10 20:43] stevensanborn opened #3068 "Vue Authenticator Component missing theme integration"
Im looking to customize the Authenticator component.

It would be nice to be able to theme the component as you can with react.

`<amplify-authenticator v-bind:authConfig="authConfig" theme="loginTheme"></amplify-authenticator>`

where login theme can set things like color etc

[2019-04-10 21:34] inh556 commented on #3041
![image](https://user-images.githubusercontent.com/22806630/55915016-71dfdb80-5b9d-11e9-96c0-9256cacbb0bf.png)

@alebiavati Hi, thanks for your replay. I just refactored my code like the sample you posted, cleaned cache, and restarted my app,  but it still shows the warning.
It actually happened in line 44 where I navigated the route to AuthLoading screen.

[2019-04-10 22:42] alebiavati commented on #3053
Hi @dperconti, thanks for using AWS Amplify!

It looks like you are using both `aws-amplify-react` and `aws-amplify-react-native`. The `aws-amplify-react` module is not meant to be used with React Native. This is because CSS cannot be parsed in RN.

Please follow [this guide](https://aws-amplify.github.io/docs/js/authentication#customize-ui-theme) to pass a theme object to the authenticator compon

[2019-04-10 23:21] #3054 closed

[2019-04-10 23:21] #3055 closed

[2019-04-10 23:41] manueliglesias commented on #3054
Hi, can you try?

aws-amplify@1.1.26-unstable.0
aws-amplify-react@2.3.6-unstable.0

[2019-04-10 23:41] manueliglesias commented on #3055
Hi, can you try?

aws-amplify@1.1.26-unstable.0
aws-amplify-react@2.3.6-unstable.0

[2019-04-11 00:01] danludwig commented on #3054
@manueliglesias I am out this week, someone else from my team may be able to, otherwise I won’t be able to test until Tuesday.

Does this mean there is still no way to pass custom relay state to the authorization url via auth.federatedSignIn? We would like to take advantage of the additional security features that were added if we should. Or would you recommend we continue to construct the url man

[2019-04-11 00:45] ChristineMLew commented on #3055
I am also encountering this issue and just tried those new versions.  Unfortunately the error still occurs `exception "Invalid state in OAuth flow`

[2019-04-11 01:02] manueliglesias commented on #3055
@ChristineMLew please make sure session storage is cleared before you try it (you might have `state` from a previous run)

Also, can you paste the output of:

[code]

[2019-04-11 02:01] readshaw commented on #2710
@roborourke Did you find a resolution to this issue? I am seeing similar behavior from a web app with trivial HTML site and also on a WordPress site.  Similar to the site you described above, the site has plain old links from page to page.

Thank you in advance.

[2019-04-11 02:34] undefobj commented on #3054
@danludwig this is an interesting use case, and one that we could support in the future. For now you should construct the URL manually but if you'd like us to support unioning that with the state and PKCE that we construct on your behalf could you open a feature request issue with details on how the experience might look?

[2019-04-11 03:33] hoang-innomizetech commented on #2624
Personally, I think we should apply this as soon as possible.

I noticed a new release of Amplify today and I am wondering, should I upgrade to latest version to apply some bug fixes and enhancements? I tried to view releases but I cannot find any details about changes have been made for that release. Then I go to issues and try to find what are issues have been fixed on version 1.1.26 (aws-amplif

[2019-04-11 04:51] johnbowdenatfacet commented on #2962
After digging around and testing, it looks like when "Device Tracking" is turned on, refreshSession won't work as this (the deviceKey) isn't implemented.  Not sure if this is documented any where.

[2019-04-11 09:49] AndriiShtoiko commented on #446
@mzohaibqc works like magic. thanks!

[2019-04-11 09:55] vikas5914 opened #3070 "DeepLinking Documentation Needed For React Native"
**Documentation needed for DeepLinking**
A clear and concise documentation is needed in order to implement fully functioning DeepLinking through Pinpoint Notification.

**Steps to required:**
1. Integration on Android
2. Integration on iOS
3. Integration on React-Native App

[2019-04-11 10:22] Luckygirlllll commented on #1308
Hello all! Is there any updates? Did anyone found working solution so far? I did expo eject, added aws push notification and getting an error now:` 'Program type already present: com.google.android.gms.gcm.PendingCallback'`

[2019-04-11 10:57] mel-michael commented on #3054
Hi @manueliglesias, thanks for looking into this issue.

I have tested the latest update i.e. `aws-amplify@1.1.26-unstable.0` & `aws-amplify-react@2.3.6-unstable.0` and noticed it works after setting a timeout of about 3s+

The behaviour I notice is that it first fails the authentication and later authenticates the user.

[2019-04-11 11:40] Luckygirlllll opened #3071 "RNAWSCognitoModule tries to override versioned host RNAWSCognitoModule in MainApplication"
**Describe the bug**
A clear and concise description of what the bug is.

RNAWSCognitoModule tries to override versioned host RNAWSCognitoModule in MainApplication

<img width="342" alt="Screen Shot 2019-04-11 at 14 32 26" src="https://user-images.githubusercontent.com/10096433/55954538-9a340c80-5c67-11e9-8fcc-a16f4671cab3.png">

**To Reproduce**
Steps to reproduce the behavior:
1. I added aws pus

[2019-04-11 12:45] Luckygirlllll commented on #3071
I did `react-native unlink amazon-cognito-identity-js` and problem disappeared

[2019-04-11 12:47] Luckygirlllll commented on #1308
@viniciusfont your solution helped me, however, I switched from 12 version to 16 version in the project, excluding firebase did the trick!

[2019-04-11 13:26] nielsmadan opened #3072 "Authenticator React Native offline behavior"
**Describe the bug**

I have wrapped my root RN Component in `withAuthenticator`. It all works fine while online, but if I start the app after previously logging in when I don't have a network connection, I just get a white screen. Looking into the source code of `aws-amplify-react-native`, it looks like on mount, it will `checkUser` (and since I logged in previously, there will be a user), and th

[2019-04-11 14:34] navraj007in commented on #104
Hi,
I am using amplify to create a sign up form. however i need a custom field called user type which will have 2 possible values(Employer/Contractor). This should be input through radio button and its essential to capture at the time of sign up. I tried to look into signupFields options and type can have only 3 values as of now: string, number and date. is there a way to incorporate Fields like t

[2019-04-11 15:29] jarodsmk commented on #1538
So I'm not sure if I can speak for the other parts of the package, but here's some info and findings from debugging the `aws-amplify-angular` side of things. :)

**The issue:**

Only a `(keyup)` event is being used on the username/password inputs, which after the field takes focus and you paste a string into it, would fire the event for the current content of the input, leaving you with the exact

[2019-04-11 15:32] uclaeagit commented on #104
Can you make it a hidden field that resolves from the radio button selection using Javascript?

[2019-04-11 17:19] manueliglesias commented on #3065
Hi,

This was fixed in #3069 and published to npm version `@aws-amplify/auth@1.2.22`

Can you try that version? Please feel free to open a new issue if you're still facing problems

[2019-04-11 17:19] #3065 closed

[2019-04-11 17:25] manueliglesias commented on #3054
Hi @mel-michael

you can try again with the @latest dist tag of the packages?, they were published to npm yesterday.

as for the issue you are seeing, when you craft you own hosted ui url, you don't have to call `Auth.federatedSignIn()` yourself. If this is not what's happening, is there a way you can share some code to look at it?

[2019-04-11 17:39] et304383 commented on #1937
I came here from Google looking for an answer to this as well.  The tutorials attempt to load "awsconfig" from aws-exports.

[2019-04-11 19:20] ovandr opened #3073 "Convert an anonymous account to a permanent account"
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **
Hello! I have implemented unauthorized access to API Gateway. When an unauthorized user signs up to my app, I want to allow them to continue their work with their new account — for example, I want to make the items the user added to their shopping cart (items in DynamoDB) before they signed up av

[2019-04-11 19:27] stevensanborn commented on #3068
I guess we can make use of deep selectors to override the the all the styles , though the class names are not the friendliest . IDK if this the perfered route ?

` .signin >>> button{
    background-color:#333333
  }`

[2019-04-11 19:29] alpjor opened #3074 "New WARNING coming from Amplify"
**Describe the bug**
My AWS project uses aws-amplify/auth (1.0.8) and aws-amplify/analyics (1.0.9) and we're getting a new warning message output into our test runs. This is slowing down the test runs quite a but.

[code]

**Expected behavior**
Since this warning is thrown from within amplify packages, I would assume that the packages need to be updated to no longer throw this warning internally.

[2019-04-11 19:30] alpjor commented on #3074
![Screen Shot 2019-04-11 at 12 27 23 PM](https://user-images.githubusercontent.com/61747/55987044-87b0d780-5c55-11e9-8c2f-8d0888c74730.png)

[2019-04-11 19:31] alpjor commented on #3074
![Screen Shot 2019-04-11 at 12 31 13 PM](https://user-images.githubusercontent.com/61747/55987160-bdee5700-5c55-11e9-9f86-6dda710bc268.png)

[2019-04-11 20:36] haverchuck commented on #3067
@achutkiran What version of AWS-amplify-angular are you using?

[2019-04-11 20:48] achutkiran commented on #3067
version 2.1.11

[2019-04-11 20:56] randuyoung opened #3075 "AWS-Amplify Ionic4/Angular7 rxjs disconnect"
I just installed aws-amplify into my Ionic4 Angular 7 project and when I build (ng build), I get the following error:

ERROR in node_modules/aws-amplify-angular/dist/src/providers/amplify.service.d.ts(1,10): error TS2305: Module '"/Users/randy/dev/ActiveBoating/ab-ionic/node_modules/rxjs/Subject"' has no exported member 'Subject'.
node_modules/aws-amplify-angular/dist/src/providers/amplify.service

[2019-04-11 21:01] calboru commented on #3066
Hi I am using V 1.1.22

[2019-04-11 21:10] powerful23 commented on #3070
@vikas5914 hi, can you provide more about `fully functioning DeepLinking through Pinpoint Notification.`? For using pinpoint notification, the doc is here: https://aws-amplify.github.io/docs/js/push-notifications

[2019-04-11 21:13] calboru commented on #3066
@alebiavati just tested 1.1.26 and I have the same issue.

[2019-04-11 22:01] kfiras commented on #3036
Hi @powerful23, any help on the above please?

[2019-04-11 22:07] alebiavati commented on #3062
Hi @KowalskiP, could you please specify what features of AWS Amplify you are using in your app? also, how exactly where you hoping to integrate AWS Amplify with AWS X-ray?

[2019-04-11 22:50] alebiavati commented on #1483
Closing issue as inactive, please open another issue with more details if you still need support.

[2019-04-11 22:50] #1483 closed

[2019-04-11 22:50] alebiavati commented on #1823
Closing issue as inactive, please open another issue with more details if you still need support.

[2019-04-11 22:50] #1823 closed

[2019-04-11 22:51] alebiavati commented on #1169
Closing issue as inactive, please open another issue with more details if you still need support.

[2019-04-11 22:51] #1169 closed

[2019-04-11 22:52] alebiavati commented on #1284
Closing issue as inactive, please open another issue with more details if you still need support.

[2019-04-11 22:52] #1284 closed

[2019-04-11 23:37] alebiavati commented on #3041
Hi @inh556, thanks! Looks like the WithOAuth component is setting its state without checking if it has been unmounted here:

https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-react-native/src/Auth/withOAuth.js#L72

Let me know if you want to submit a PR to add `_isMounted` to that component.

[2019-04-12 02:17] undefobj commented on #3074
@alpjor hello this is by design. The functionality you see is an older style of embedding `onHubCapsule` into your code. To resolve this, please pass in an explicit callback rather than just passing in `this` as outlined in the docs: https://aws-amplify.github.io/docs/js/hub#working-with-the-api

[2019-04-12 02:23] alpjor commented on #3074
No. It's not by design. Please read my whole ticket. I'm not using onHubCapsule, amplify/auth is. This warning spits out thousands of times when we run your code.

[2019-04-12 04:32] inh556 commented on #3041
@alebiavati I would like to open a PR. This will be my first PR 😊

[2019-04-12 04:40] myrcutio commented on #3075
I managed to get it to load by running `npm i && npm run build` from the node_modules directory for aws-amplify-angular.  Seems like the version downloaded from npm didn't compile properly.

[2019-04-12 04:52] inh556 commented on #3041
@alebiavati I have submitted a PR. #3076 Please check it out. Thanks.

[2019-04-12 05:42] jfoldenburg commented on #1143
@Farhadkm I've found that the issue I'm having is that the cognitoAuthClient and Auth of amplify don't seem to be using the same store. Any insight on how to use { StorageHelper } would be appreciated. I see that  you can set both in the storage key of the objects used to configure both.  However what do you specify to make sure they both are using the same? Do you create an instance before refere

[2019-04-12 06:06] daanoz commented on #1143
For the ampilify setup you can just give as a key in the config:
[code]

Then, when creating the cognitoAuthClient make sure to pass the same instance:

[code]

[2019-04-12 06:08] jfoldenburg commented on #1143
Thank you!

[2019-04-12 07:43] totaland opened #3077 "API graphQL transform"
**Is your feature request related to a problem? Please describe.**
When creating the schema with @model it automatically creates the DynamoDb table with only the primary key as id and no sort key. This really frustrating me and it takes me ages to find out that is what the @model does when trying to sort the Dynamodb table.

**Describe the solution you'd like**
The @model should have a way to allo

[2019-04-12 07:46] jkeys-ecg-nmsu commented on #3074
@alpjor @undefobj I'm pretty sure onHubCapsule is refactored out of the latest releases of Amplify. Have you tried updating to the latest releases?

[2019-04-12 07:50] Luckygirlllll commented on #2643
I have the same problem! `onRerister` method is never triggered. Any updates about this issue?

[2019-04-12 07:52] jkeys-ecg-nmsu commented on #1171
@powerful23 is the behavior described in OP still happening? We're trying to pin down some weird auth issues (e.g. getting random "missing credentials in config" errors that seemingly don't actually break anything besides the user experience) and I'm wondering if this might be related.

[2019-04-12 07:57] jkeys-ecg-nmsu commented on #3077
Have you looked at the `@connection` directive? Its main purpose is to enforce 1-to-many relationships and optionally create a sort key (so every connection maps to a secondary index).

My understanding of the current system is that your primary key for the table will always be a hash key (no sort key) named id, and indices and sort keys are specified with connections.

`directive @connection(name

[2019-04-12 08:40] dementiev commented on #1316
@peetss my use-case: I store users in user pool. Each user belongs to a group, depending on which he  has access to different appsync urls. userId (sub) is also part of rows in dynamodb, where it is clear which data belongs to user. Let's say I have a row like this in Dynamo:
user-subid | entityBelongingtoUser-uuid | entity info.
user-subid | entityBelongingtoUser2-uuid | entity2 info.

How can ac

[2019-04-12 09:34] totaland commented on #3077
Damn, just found out about that too. Cheers man

[2019-04-12 09:34] #3077 closed

[2019-04-12 10:12] anarerdene opened #3078 "Multiple Enpoint"
How i configure multiple end point. If user Logged In use cognito, else use API endpoint.

[2019-04-12 10:29] roborourke commented on #2710
@readshaw I think it must come from Cognito. I've currently worked around it with a custom attribute I'm generating using a `uuid-v4` function and `window.sessionStorage()`. So not the actual AWS session ID but I least I can query on my one.

[2019-04-12 10:46] lucadv opened #3079 "Custom verification code"
I'm developing a new Cognito adapter for my identity service. As part of our registration flow we require users to provide the domain (userpool id in cognito) and the verification code and with that we can retrieve the user which we need to confirm.

In order to confirm a user in Cognito though, we need know the username which at the moment we don't require in the endpoint.

I'd like to know if we

[2019-04-12 11:19] Luckygirlllll commented on #2643
Why this issue was closed if it's not solved?

[2019-04-12 11:54] Luckygirlllll commented on #1415
Is there any updates regarding this issue? I

[2019-04-12 11:57] Luckygirlllll opened #3080 "I'm not getting push notifications from AWS Pinpoint in react native (android) project, onRegister method is never triggered"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1.My Firebase project configured correctly, I was able to receive push notification from Firebase console
2. I enabled Push notifications in AWS Pinpoint console and added API key and Sender ID there
3. I did these commands in the project:
npm install @aws-amplify/pushnotifi

[2019-04-12 13:35] totaland commented on #3016
I made it work now using Storage to push the image in S3 then create picture table (DynamoDb) then map that with the user then query back from DynamoDB. I can close this one if you like. But if it can work only with Storage that would be nice too.

[2019-04-12 13:45] randuyoung commented on #3075
From my app directory, I did the following:
`$ cd node_modules
  $ running npm i && npm run build'

This what was returned:

audited 54778 packages in 8.448s
found 3 vulnerabilities (2 low, 1 high)
  run `npm audit fix` to fix them, or `npm audit` for details

Date: 2019-04-12T13:37:25.975Z
Hash: 9f6e65720f4fb22e7c41
Time: 13436ms
chunk {es2015-polyfills} es2015-polyfills.js, es2015-polyfills.js.m

[2019-04-12 16:43] #2959 closed

[2019-04-12 17:02] ProdigySim commented on #2686
Did anyone find a resolution for this? I've been trying a number of configurations, but seem to always either get the
[code]
 or
[code]

This is the call stack from the `dict` error:

[code]
Which suggests that the `export default dict` statement in `AmplifyI18n.js` is the issue.

[2019-04-12 17:10] Exitialis1 commented on #2853
I have finally had a chance to look at this again and I have kind of got it working. I did some experimenting with the unath IAM role and discovered that it doesn't work when I copy paste the provided example code from the Pinpoint settings page but did work if I just allowed any resource. Then I tried narrowing it down based on each part of the arn and both region and account number can be specif

[2019-04-12 17:11] alpjor commented on #3074
@jkeys-ecg-nmsu I have completely blown away node_modules and reinstalled both packages to verify that I am running the latest releases of aws-amplify/auth (1.0.8) and aws-amplify/analyics (1.0.9). The issue persists.
![Screen Shot 2019-04-12 at 10 09 48 AM](https://user-images.githubusercontent.com/61747/56054271-45e26880-5d0b-11e9-95e2-19ed3b002d5b.png)

[2019-04-12 17:16] bernhardt1 commented on #2975
@powerful23 is there any more information I could provide?

[2019-04-12 17:25] gwenf opened #3081 "Cognito: Dynamically creating groups from the cli & adding users to groups"
** What AWS Services are you utilizing? **
AWS Cognito

** Provide additional details e.g. code snippets **
I haven't been able to figure out if it's possible to create groups within cognito user pools from this CLI. I also want to be able to add users who sign up to those groups.

Does this library provide any functionality for these types of things dealing with groups? Or should I be looking som

[2019-04-12 17:33] ProdigySim commented on #2686
I managed to alleviate the error by changing

[code]
with
[code]
in `aws-amplify-react-native/dist/*.js`.

I'm not sure why my jest/node setup fails to parse that syntax, but it looks like it's a rarer form of `export default AssignmentExpression`. The name `dict` definite is never delcared, so it might be a strict-mode issue or something. No clue.

[2019-04-12 17:36] powerful23 commented on #2853
@Exitialis1 seems like it's releted to #2908
I am going to close this issue now but if you want to reopen it, please let me know.

[2019-04-12 17:36] #2853 closed

[2019-04-12 18:16] jkeys-ecg-nmsu commented on #3074
Those warnings suggest you're using Hub to dispatch on the `auth` and `analytics` channels somewhere in your source. What's the stack traces on the protected channel warnings look like?

[2019-04-12 18:19] jkeys-ecg-nmsu commented on #3081
I think this is a feature request, but you can use the aws-cli cognito-idp service to create groups.

https://docs.aws.amazon.com/cli/latest/reference/cognito-idp/create-group.html

If you want to add users to your group on sign-up, you probably want to do that in one of the Cognito Lambda triggers using the AWS SDK.

https://docs.aws.amazon.com/cli/latest/reference/cognito-idp/admin-add-user-to-g

[2019-04-12 18:46] gwenf commented on #3081
@jkeys-ecg-nmsu Thanks. That seems to answer my question exactly so I'm going to close this.

[2019-04-12 18:47] #3081 closed

[2019-04-12 19:01] alpjor commented on #3074
Here is the stack:
![Screen Shot 2019-04-12 at 12 00 28 PM](https://user-images.githubusercontent.com/61747/56060072-97462400-5d1a-11e9-91db-f3de2c610ae6.png)

Here is the src of index.js the 4th line in the stack:
[code]

[2019-04-12 19:02] alpjor commented on #3074
I can see the Analytics object using `Analytics.onHubCapsule`

[2019-04-12 19:04] alpjor commented on #3074
Here is the stack from the other warning:
![Screen Shot 2019-04-12 at 12 03 38 PM](https://user-images.githubusercontent.com/61747/56060222-15a2c600-5d1b-11e9-8d5d-26360013cc2b.png)

the src of `analytics.ts` is posted above in the statement of the issue.

[2019-04-12 19:30] powerful23 commented on #1585
With the latest version of Amplify you can customize your own UI for oauth2 login. Please check the latest doc: https://aws-amplify.github.io/docs/js/authentication#oauth-and-hosted-ui

@guillaumecodet  Please let us know if you want to reopen the issue.

[2019-04-12 19:30] #1585 closed

[2019-04-12 19:33] powerful23 commented on #1386
@tunecrew we recently did an update about how to use hosted UI in the doc: https://aws-amplify.github.io/docs/js/authentication#oauth-and-hosted-ui

I am going to close this issue. Please let me know if you want to reopen it.

[2019-04-12 19:33] #1386 closed

[2019-04-12 19:36] elorzafe commented on #3049
@lroellin can you share the schema you are using, Check out [here](https://docs.aws.amazon.com/appsync/latest/devguide/designing-your-schema.html#advanced-relations-and-pagination) in that case you can set the `limit` to a larger number to get more data.

[2019-04-12 19:59] powerful23 commented on #3073
@ovandr related to #1931

Although it's related to identity merging, we would recommend you to store the items into the cookie when you are unauthenticated and after you sign in, get the cached items from cookie. Or you can cache the unauth id and use that to get the items from S3 after signing in.

I will mark this as feature request as we need to look into this identity merging feature more and

[2019-04-12 19:59] #3073 closed

[2019-04-12 20:00] powerful23 commented on #1521
I am going to close this issue. Please let us know if you have further concern.
The documentation about how to use OAuth is here: https://aws-amplify.github.io/docs/js/authentication#oauth-and-hosted-ui

[2019-04-12 20:00] #1521 closed

[2019-04-12 20:01] powerful23 commented on #2745
Closing the issue. Please let us know if you have further concern about this issue.

[2019-04-12 20:01] #2745 closed

[2019-04-12 20:05] powerful23 commented on #2115
This issue is fixed in the latest version of Amplify. Please let us know if you have further concern.

[2019-04-12 20:05] #2115 closed

[2019-04-12 20:07] powerful23 commented on #2156
Closing this issue. Please the check the doc about how to do OAuth in Amplify: https://aws-amplify.github.io/docs/js/authentication#oauth-and-hosted-ui

[2019-04-12 20:07] #2156 closed

[2019-04-12 20:08] powerful23 commented on #2283
Closing this issue as this feature has been released with the latest version of amplify. Please let us know if you have further concern.

[2019-04-12 20:08] #2283 closed

[2019-04-12 20:21] randuyoung commented on #3075
So I decided to try a different tack and started from scratch.
1) ionic start test2 blank type=angular
2) cd test2
3) npm install --save aws-amplify aws-amplify-angular
4) added (window as any).global = window; to the polyfills.ts file.
5) amplify init
6) amplify add auth
7) amplify push
8) renamed export.js to export.ts
9) added "node" to the src/tsconfig.app.json file
"compilerOptions": {
    "t

[2019-04-12 20:31] powerful23 commented on #2644
Closing this issue.  You can make your own UI and use `Auth.federatedSignIn` to do the OAuth flow. Please check the doc: https://aws-amplify.github.io/docs/js/authentication#oauth-and-hosted-ui

[2019-04-12 20:31] #2644 closed

[2019-04-12 20:32] powerful23 commented on #2543
@Jaikant are you still experiencing this issue?

[2019-04-12 20:33] powerful23 commented on #2423
Closing the issue. Please let us know if you have further concern.

[2019-04-12 20:33] #2423 closed

[2019-04-12 20:39] powerful23 commented on #2456
@andrewryan1906 now you can customize your own ui and use `Auth.federatedSignIn` for OAuth flow. Please check the doc: https://aws-amplify.github.io/docs/js/authentication#oauth-and-hosted-ui

Closing the issue. Please let us know if you have further concern.

[2019-04-12 20:39] #2456 closed

[2019-04-12 20:41] powerful23 commented on #2512
Closing this issue. Please let us know you still have this issue.

[2019-04-12 20:41] #2512 closed

[2019-04-12 20:43] jordanranz commented on #1283
@gotripglobal The issue you are experiencing with PubSub seems related to this:
https://github.com/aws-amplify/docs/issues/460#issuecomment-481499155

We have a PR in the works to fix the documentation here.

@artista7 There is an example for using reconnect here:
https://github.com/aws-amplify/amplify-js/issues/1844#issuecomment-427193413

This example handles a failed subscription and executes e

[2019-04-12 20:48] powerful23 commented on #1593
@thrixton are you using the latest version? Can you try the latest one and follow the documentation: https://aws-amplify.github.io/docs/js/hub#listening-for-messages

[2019-04-12 20:53] powerful23 commented on #1727
@pribadi1st we need to do more testing around this issue.

[2019-04-12 21:13] #2541 closed

[2019-04-12 21:38] jordanranz commented on #3074
@alpjor, curious if you are using `aws-amplify-react`?

[2019-04-12 21:39] powerful23 commented on #2975
@bernhardt1 we couldn't reproduce that issue. Can you provide more info like the details of your Android device?

[2019-04-12 21:40] jkeys-ecg-nmsu commented on #3074
@jordanranz Looks like Authenticator.js is still using onHubCapsule.

**Authenticator.js**
[code]

[2019-04-12 21:42] jordanranz commented on #3074
@jkeys-ecg-nmsu,

I noticed that as well. Looks like the UI components have not yet been refactored for the Hub change. We will prioritize this refactor next week.

[2019-04-12 21:49] alebiavati commented on #3032
Apparently `orderBy` used to be defined in a previous version of Vue. Now their docs shows that we should use Lodash instead: https://vuejs.org/v2/guide/migration.html#Replacing-the-orderBy-Filter

Which version of Vue are you using?

In case you wanted to submit a PR for this, we could definitely add this module:
https://www.npmjs.com/package/lodash.orderby

[2019-04-12 21:51] elorzafe commented on #3043
@VinayakVenkataraman thanks for your feedback, I updated the docs with your suggesstions.

I will close the issue for now, but feel free to create a new one if you still have any concerns.

Thanks again!

[2019-04-12 21:51] #3043 closed

[2019-04-12 21:58] alpjor commented on #3074
Thanks everyone!

[2019-04-12 21:58] jordanranz commented on #3046
@hoang-innomizetech, we are working on a UI refactor that will allow more granular customization for these UI components. I'll add this enhancement to our UI refactor milestone.

[2019-04-12 22:06] readshaw commented on #2710
Thanks @roborourke. Our team reached a similar conclusion on the way forward for multi-page sites.

[2019-04-12 22:13] powerful23 commented on #3071
@Luckygirlllll are you using Expo instead of an ejected react native app? Seems like it's conflicting with a [module](https://github.com/expo/expo/blob/master/android/versioned-abis/expoview-abi31_0_0/src/main/java/abi31_0_0/host/exp/exponent/modules/api/cognito/RNAWSCognitoModule.java) in the expo.

[2019-04-12 22:51] powerful23 commented on #3036
@kfiras can you try editing the following code:
[code]

Because the root cause of this issue is that when you call `changeState` in your `MainScreen` component, the state is not transferred correctly to the `<SignInScreen/>` component.

[2019-04-12 22:54] #3058 closed

[2019-04-12 23:13] myrcutio commented on #3075
I downgraded to aws-amplify-angular 2.1.12 and it compiled without the rxjs error.  Considering 3.0.1 dropped 2 days ago I think it's likely the release is broken.

[2019-04-12 23:25] haverchuck commented on #3075
@randuyoung @myrcutio Thanks for posting - a fix is forthcoming.

[2019-04-13 00:08] NuruddinBadawi commented on #2328
I have the same issue here, the 'data:AuthState' event doesn't fire at all

[2019-04-13 00:09] NuruddinBadawi commented on #2328
@meeximum did you get a solution?

[2019-04-13 00:47] kfiras commented on #3036
Hi @powerful23 ,

I made these changes:
[code]
and this
[code]
If I cann signOut() in MainScreen, I got logged out as before but still same behavior, it never refreshes to SignIn screen. If I call handleLogout() I get warning 'can't call setState on a component that is not yet mounted. It also logs me out but same thing does not route to the SignInScreen.

Thanks and regards

[2019-04-13 02:55] totaland commented on #3016
I made it work now using the DynamoDB and graphql as the front. I store user picture data and user information in the DynamoDb then query back that information. It still will be nice to just use Storage to get it.

[2019-04-13 05:54] lroellin commented on #3049
Hmm, I think the license doesn't allow public sharing, I think it suffices to say it's the same conceptually as the Blog schema usually used in docs :)

https://aws-amplify.github.io/docs/cli/graphql#quick-start

I did see that these parameters (limit, nexttoken) etc. are automatically generated on list queries. But if I have the GetBlog query, how can I set the limit of posts I get? Simply adding

[2019-04-13 06:58] morgler commented on #3032
Thanks! Sounds like that could be it. I'm on Vue 2.9.6.

I'll see if I can create a PR for this – just don't have much spare time to set up the vue dev environment in the near future. On my software I simply fell back to using the Amplify API directly.

[2019-04-13 07:30] matthiasSchedel commented on #1181
Does anyone found a solution ?

[2019-04-13 09:44] Luckygirlllll commented on #3071
@powerful23 I'm using ExpoKit, which is expo + native iOS/Android folders

[2019-04-13 10:22] vikas5914 commented on #3070
@powerful23

Hi,

For `fully functioning DeepLinking through Pinpoint Notification`, i have mentioned steps that is required to fully implement the DeepLinking through Pinpoint in React Native.

and for the doc available on the https://aws-amplify.github.io/docs/js/push-notifications doesn't have DeepLinking inside.

[2019-04-13 12:51] randuyoung commented on #3075
@myrcutio @haverchuck Thank you for looking in to this issue. Your work around of rxjs-compat has indeed allowed me to build my project. I look forward to the new release of aws-amplify-angular. Thanks for the work around!

[2019-04-13 12:51] #3075 closed

[2019-04-13 13:41] kfiras commented on #3036
what worked for me is this: [https://github.com/aws-amplify/amplify-js/issues/1876](url)

[2019-04-13 13:42] #3036 closed

[2019-04-13 15:14] mithunkalan opened #3084 "Federated Auth in reactjs withAuthenticator Facebook"
I have a new Reactjs site with the latest amplify library as at 10 April 2019.

My website appears fine on the live URL, the withAuthenticator box appears with Google, Facebook and cognito login options. I'm sure my Amplify/Facebook/Google settings are correct because everything works in Chromium.

On Firefox, when i click on the "sign in via Facebook" button, the Facebook auth pop-up dialog appea

[2019-04-13 15:29] mithunkalan commented on #3084
Update: I started firefox with all add-ons disabled. It works.
I'll keep this issue open for a few days & then close it. Hope someone comes by and has an alternate solution.

[2019-04-13 17:00] saadq commented on #3080
I am having similar issues with my device not receiving push notifications. I have an ejected Expo app where I setup Push Notifications by following the docs. I also have the PushNotification setup code, but none of the methods seem to ever get called.

From Firebase, sending a test notification worked when I passed it my device token and I received the notification on my device.

From the Pinpoin

[2019-04-13 17:23] Luckygirlllll commented on #3080
@saadq Could you get device token through onRegister method? Or only thought Firebase console?
P.S: you need to add `address` field in `updateEndpoint` as far as I understood address should be a device token.

[2019-04-13 17:48] saadq commented on #3080
I did actually try passing a hardcoded device token to the `address` of `updateEndpoint`, but it didn't seem to resolve the issue :/

To answer your question, I was actually unable to get the `onRegister` call to run either. I just looked at the logs in Android Studio Logcat to get the device, token that I used for both Firebase/Pinpoint.

I did however see [this issue](https://github.com/aws-ampl

[2019-04-13 17:51] Umkus opened #3085 "graphqlOperation doesn't work with Jest"
**Describe the bug**
When invoking `graphqlOperation` from within a Jest spec the request always results with `Request failed with status code 403`.

**To Reproduce**
1. Invoke `Amplify.graphqlOperation` from within a jest test.

**Expected behavior**
The request comes through

**Actual result**
[code]

**Additional context**
aws-amplify: 1.1.26
jest: 24.7.1

**Sample code**
[code]

[2019-04-13 20:11] myrcutio commented on #1927
This one worked perfectly for me: https://stackoverflow.com/questions/39319279/convert-promise-to-observable

`import { from } from 'rxjs';
const observable = from(promise);`

[2019-04-13 21:14] tylerjvollick commented on #2498
I have a SPA Create react app and am trying to get these redirects figured out...
the following doesn't work at all. I get a 502 error. Any thoughts?

[code]

[2019-04-13 21:20] tylerjvollick commented on #2498
Ahh my bad. I needed my target to be "/" rather than "index.html". The following did the trick!
[code]

[2019-04-13 21:50] NuruddinBadawi opened #3086 "Unexpecting config with amplify-authenticator in Ionic"
In my case, I add phone_number as a username, so I expecting the hosting UI component load the same config I have,
it's loading
username => should be phone_number
password
and phone number input *

**First Issue**
The first fields it's sent to the server as a username but should contain a phone number, so the issue here is 1- **No Phone validation**   2- Should name **Phone Number**

**Second Issu

[2019-04-13 21:55] NuruddinBadawi opened #3087 "authenticator in ionic is it poor?"
** Which Category is your question related to? **
Ionic

I use `<amplify-authenticator framework="ionic"></amplify-authenticator>`
I see in react the documentation there are more options to customize the entry component but ionic not,
1- I can't customize any component
2- I can change labels in signUp but I can't touch SignIn.

is it really poor or what?

[2019-04-13 22:03] NuruddinBadawi opened #3088 "Auth Question in Ionic"
** Which Category is your question related to? **
IONIC

** What AWS Services are you utilizing? **
Amplify

I create custom pages for Login and SignUp, but I see there are more details comes after submitting, sometimes need to enter a new password, SMS code ...

my question is:
I prefer to you your hosted components BUT in I see the login and register form I can't customize it well, so I go to us

[2019-04-14 02:45] undefobj commented on #3057
@jessedoyle can you test again with the latest version?

[2019-04-14 03:41] jessedoyle commented on #3057
@undefobj - Sounds good, I’ll test on Monday and get back to you!

[2019-04-14 03:52] uchar opened #3089 "Error 401 when trying to call appsync from s3 bucket using aws-amplify"
**What AWS Services are you utilizing?**
aws-amplify,aws-cognity,aws-appsync,amazon s3

**Provide additional details e.g. code snippets**
After setting up *appsync with cognito user pool*, connecting to it using `aws amplify react.js library` from local host, works fine but after uploading it to an s3 bucket, I just receive 401 error :

    x-amzn-errortype: UnauthorizedException
    x-amzn-reques

[2019-04-14 07:10] dzegel-blockcrowd commented on #1181
the suggestion above worked for me.
that is just add `import 'crypto-js/lib-typedarrays';` above `import { ... } from 'amazon-cognito-identity-js';` or above the import for `aws-amplify` if your using that

[2019-04-14 07:13] dzegel-blockcrowd commented on #1181
@gaborcsontos @matthiasSchedel the suggestion above worked for me
that is simply adding `import 'crypto-js/lib-typedarrays';` above the import statement for `amazon-cognito-identity-js` or `aws-amplify`

[2019-04-14 09:16] booomch commented on #717
+1

[2019-04-14 10:05] matthiasSchedel commented on #1181
@dzegel-blockcrowd Thanks this solution is only for fixing the problem on native devices (android and ios) correct?

[2019-04-14 10:25] GutteApps commented on #2105
@powerful23 yes, I'd like to configure the storage option to use KeyChain. also, I need the updated token to be available also from the native (swift) side. can you advise on what's the best way to achieve that.

[2019-04-14 10:40] matthiasSchedel commented on #1181
<img width="807" alt="image" src="https://user-images.githubusercontent.com/15816706/56091705-626cd500-5eb2-11e9-9cdd-96a0c77d3cbb.png">
If I only checked the last option it suddenly worked! (not sure if this helps anyone)

[2019-04-14 11:03] wizcas commented on #3075
Seems like the imports of `Subject` and `Observable` are wrong in `aws-amplify-angular/src/providers/amplify.service.ts`. I changed them like this and it works for my Angular7

[code]

[2019-04-14 13:32] VicStor opened #3090 "Add Auth to React context using Provider pattern"
**Is your feature request related to a problem? Please describe.**
A pattern used for Authenticator (withAuthenticator) React component is hardly extensible.
[Prev feature request](https://github.com/aws-amplify/amplify-js/issues/2236)
**Describe the solution you'd like**
Use Provider pattern to track authentication state.

**Describe alternatives you've considered**
Here is very basic implementat

[2019-04-14 14:16] dzegel-blockcrowd commented on #1181
@matthiasSchedel I'm using in on regular webapp (desktop browser)

[2019-04-14 19:13] alecsutzuu commented on #3033
@cmaronchick I've been really struggling with oauth amplify for expo as well. If it's not too much to ask can you please help me with your working code? I can't seem to get it work with Fb login or Google login :(

[2019-04-14 19:14] ChristopheBougere opened #3092 "[I18n] Use slugs instead of English strings as keys"
**Is your feature request related to a problem? Please describe.**
The current i18n system is working but:
- Need to search in the code to find missing literals to translate.
- There is no complete list of all the existing literals, so we don't know the % of translation in a specific language.
- English strings are the translation keys. If a typo is fixed in English (or just a space added), then a

[2019-04-14 21:56] punksta opened #3093 "Connect cognito user with AppSync type"
** Which Category is your question related to? **
how to?
** What AWS Services are you utilizing? **
amplify, react-native, AppSync, Auth
** Provide additional details e.g. code snippets **
I am trying to build an app where a user can be added to friends by other user. Users should have name, avatar(image on s3), email and list of friends. Also users should be able to fetch its list of friends and

[2019-04-14 22:02] AndrewMorsillo commented on #1028
@buggy @powerful23 Is there anything I can do to help un-stall this? It would be really nice to have typings for this stuff!

[2019-04-15 03:26] pinalmdave opened #3094 "Amplify Auth with Angular 7 lack of documentation"
** Which Category is your question related to? ** How to implement authentication in Angular 7 Web App and Amplify Auth using Hosted UI Technique

** What AWS Services are you utilizing? ** AWS Cognito, Amplifier, Amplifier package for Angular (aws-amplify-angular)

** Provide additional details e.g. code snippets **

I am trying to implement Authentication in my Angular 7 App using newly released

[2019-04-15 06:42] lclghst commented on #3094
https://aws-amplify.github.io/docs/js/angular#subscribe-to-authentication-state-changes

Please follow the link to see a code example of how to subscribe to auth changes.

[2019-04-15 07:01] mattiLeBlanc commented on #1035
Hi, will this cause an issue on NativeScript?
The required polyfill `(window as any).global = window;`.
I believe nativescript doesn't have a window object?

[2019-04-15 07:52] Luckygirlllll commented on #3080
@saadq How did you find device token in Android studio, I see in LogCat only` FCM` message id:

`Logging event (FE): notification_open(_no), Bundle[{firebase_event_origin(_o)=fcm, message_device_time(_ndt)=0, message_time(_nmt)=1555314333, message_id(_nmid)=5461448130273880619}]`

[2019-04-15 08:06] Luckygirlllll commented on #2541
@powerful23 How did you read device token from `AsyncStorage`?

[2019-04-15 08:20] Luckygirlllll commented on #2541
@dusan-dragon How did you find token in Java part? I see in Logical in Android studio only FCM message id:

`Logging event (FE): notification_open(_no), Bundle[{firebase_event_origin(_o)=fcm, message_device_time(_ndt)=0, message_time(_nmt)=1555314333, message_id(_nmid)=5461448130273880619}]`

[2019-04-15 08:42] dusan-dragon commented on #2541
@Luckygirlllll see the merged code: https://github.com/aws-amplify/amplify-js/pull/2916/files#diff-5a56ffa68b87bbf8cfbc99c7aa076171R67 and if you do not want to change it in code, you can search in Android Studio logcat for a tag `RNPushNotificationDeviceIDService` and you should see `Refreshed token`

[2019-04-15 08:49] Luckygirlllll commented on #3080
@saadq I found token in Android studio logcat, however, when I'm trying to test it via AWS Pinpoint it says "Message sent. Successfully sent push message", but I don't receive any Push notification on my phone. :(

[2019-04-15 08:58] Luckygirlllll commented on #2541
<img width="389" alt="Screen Shot 2019-04-15 at 11 51 28" src="https://user-images.githubusercontent.com/10096433/56119465-dff91980-5f74-11e9-91c5-69cb5a9c380d.png">
I sent test Message from `AWS Pinpoint` console using device token (which I got in Android studio logcal), it says that message was sent successfully, but I didn't receive anything on the device.

@powerful23 Why this issue was closed

[2019-04-15 09:09] dusan-dragon commented on #2541
@Luckygirlllll it should work (because you got the token) but the thing is if you put the console.log() in `onRegister()` call you will never see it because on android it gets called only once right after the app is installed and first time opened... Also you will not see any notification if you have app opened in foreground... make sure that you close the app before sending the notification

[2019-04-15 09:33] saadq commented on #3080
For anyone else who runs into this, just search for `gcm registration token` in the logs to find it.

But yeah, I basically have the same issue. I get the successful message sent message but I don't actually get any notification to my device.

[2019-04-15 09:39] anjanaw commented on #2976
any update on this please?

[2019-04-15 10:26] millarm opened #3095 "With react-native 0.59.3 cognito-identity-js triggers a warning "Async Storage has been deprecated""
**Describe the bug**
Logging in with Cognito-identity-js on react-native 0.59.3 triggers a yellow warning

"Async Storage has been deprecated"

**To Reproduce**
Steps to reproduce the behavior:
Build and run with react-native 0.59.3

**Expected behavior**
No warning

**Sample code**

The cause of this is this line of code

import { AsyncStorage } from 'react-native';

https://github.com/aws-amplif

[2019-04-15 10:35] KowalskiP commented on #3062
Hi @alebiavati
The app is using Auth and API features.
Backend team want to trace requests from mobile app by this technology, because they already have setupped env for that.
The only way to do it from my side - generate X-Amzn-Trace-Id by myself. This way don't support segments.

[2019-04-15 11:07] Luckygirlllll commented on #2541
@dusan-dragon I know that app shouldn't be in the foreground, my app is closed, I'm not receiving Push notification on real device from `AWS Pinpoint`, even though I see in the `AWS Pinpoint` console: "Successfully sent push notification". @saadq is having the same [issue](https://github.com/aws-amplify/amplify-js/issues/3080).

I don't see that `onRegister` method was ever triggered in the app, I

[2019-04-15 11:09] Luckygirlllll commented on #2541
I have latest version of `aws-amplify` and `aws-amplify/pushnotification`
[code]

[2019-04-15 11:16] nihakue opened #3096 "Potential hazard with modular imports"
**Describe the bug**
Because each @aws-amplify/* module has a runtime dependency on @aws-amplify/core, it is possible to bundle multiple versions of core. When it comes time for modules to register, they will not be registering on the same class and will therefore never know about eachother.

**To Reproduce**
Steps to reproduce the behavior:

https://github.com/nihakue/amplify-module-registration-

[2019-04-15 11:42] nihakue opened #3097 "Modules not correctly marked as having side effects"
**Is your feature request related to a problem? Please describe.**
Amplify modules have a side effect (registration), but do not provide a [sideEffects](https://webpack.js.org/guides/tree-shaking/#mark-the-file-as-side-effect-free) config in their package.json. The effect of this is that when doing something like this:

[code]

when using tree-shaking, Auth will potentially get tree-shaken out of

[2019-04-15 12:29] saadq commented on #2541
Just confirming that I did it when the app was NOT in the foreground. It still didn't work when using Pinpoint, but sending a test notification from the Firebase console DID work. I am also on the latest version of `@aws-amplify/pushnotification` (but an older version of `aws-amplify`, which is `1.1.8`).

[2019-04-15 13:01] pippo111 opened #3098 "How to cancel Storage file upload"
I cannot find it anywhere in Amplify Storage Documantation, but is there a way to cancel file upload (put) ? It will be useful to give user possibility to cancel upload of files.

I'm using Storage.put like so:
[code]
but all I get is Promise, which I cannot cancel simply by js.

[2019-04-15 13:19] Deepak931bhaskar commented on #2609
I have similar issue. any updates?

[2019-04-15 13:50] tobiastornros opened #3099 "Support use of third party service for emails/SMS"
**Is your feature request related to a problem? Please describe.**
Can´t use codeParameter in Custom Message trigger event to send email or sms via third party service like Twilio or Sendgrid.

Its very hard to customize emails and webviews for Cognito. It would be so much better if AWS allowed us to use any service we want via Lambda triggers.

**Describe the solution you'd like**
Expose codes/to

[2019-04-15 14:01] dmongit opened #3100 "VerifyContact "Neither Email nor Phone Number selected" with Email selected"
**Describe the bug**
When using aws cli or aws console to create a user in cognito, the verify contact process in amplify is buggy. "Email" is showing as the selected item in the select. The "Verify" button is disabled. The work around is to select "Phone Number" then select "Email" again.

**To Reproduce**
Steps to reproduce the behavior:
1. Create sample React Native application using CRNA wrapp

[2019-04-15 14:16] alexrec22 commented on #1464
@jordanranz, @powerful23, I would appreciate if you could explain why this is the expected behaviour of Cognito. From what I see:

1. This behaviour reveals whether a username exists or not, which is less than ideal from a security standpoint.
2. This leads to a terrible UX as mentioned by @n1te1337. The user enters their credentials, validates the account, and is then told the credentials they en

[2019-04-15 14:32] pinalmdave commented on #3094
Thanks. I have seen this code sample and tried to implement it in my Angular App custom Auth Guard service. But it's not working, I think I am missing something. Is there any code sample that demonstrates complete authentication steps for Angular Apps using Amplify Angular Hosted UI

[2019-04-15 14:59] haverchuck commented on #3078
@anarerdene - Can you please provide a bit more detail about the services you are using and your use case?

[2019-04-15 15:01] haverchuck commented on #2375
Closing this issue due to inactivity.  Could be an issue with extensions.  Please open another issue if required, and post the extensions that are present in the Chrome instance. Thank you.

[2019-04-15 15:01] #2375 closed

[2019-04-15 15:02] haverchuck commented on #2543
Closing this issue due to inactivity.

[2019-04-15 15:02] #2543 closed

[2019-04-15 15:04] haverchuck commented on #2865
Closing due to inactivity.  Please feel free to open another issue if needed.

[2019-04-15 15:04] #2865 closed

[2019-04-15 15:10] cmaronchick commented on #3033
I've pretty much posted everything I used to get it working, but I added the updated code with the URL opener and all.

[2019-04-15 15:15] #3033 closed

[2019-04-15 15:20] haverchuck commented on #2979
Closing this issue due to inactivity.

[2019-04-15 15:20] #2979 closed

[2019-04-15 15:22] haverchuck commented on #2967
Closing this issue due to inactivity.

[2019-04-15 15:22] #2967 closed

[2019-04-15 15:37] Jaikant commented on #2543
@powerful23 I shifted to prisma.io and auth0.

[2019-04-15 15:43] jkeys-ecg-nmsu opened #3101 "AWSPinpointProvider updateEndpoint failed"
**Describe the bug**
When enabling the Analytics category and using `mandatorySignIn: true`, AWSPinpointProvider fails to validate because it expects the claims in the User.UserAttributes property to be arrays. I think this is a bug; there should only be one cognito sub per user, as well as one cognito username.

Pinpoint claims to be successfully configured after the fact, but it still throws thi

[2019-04-15 15:48] jessedoyle commented on #3057
@undefobj - I'm seeing the same behaviour as originally mentioned in the issue with the following package versions:

- `aws-amplify` - `1.1.26`
- `aws-amplify-react-native` - `2.1.10`

The error message `NotAuthorizedException: Token is not from a supported provider of this identity pool.` is still returned on our app.

[2019-04-15 15:56] #2976 closed

[2019-04-15 15:57] bernhardt1 commented on #2975
I'm testing on a samsung S9+. I haven't tried using another device.

I am able to receive a notification when I send it from firebase test messaging center.

The part I find odd is the android studio log. It is definitely catching the notification when the app is closed.
[code]

@powerful23 Are you aware of some device specific issues with other android phones?

[2019-04-15 16:25] haverchuck commented on #2958
Closing this issue as it appears to have been answered.

[2019-04-15 16:25] #2958 closed

[2019-04-15 16:26] haverchuck commented on #2953
Closing this issue for now, but it is a good point and we are actively discussing it.

[2019-04-15 16:26] #2953 closed

[2019-04-15 16:31] jkeys-ecg-nmsu commented on #3093
@punksta you can use the token's `sub` field as the ID for your User field to enforce a 1-1 constraint.

+1 because I would like to see this type of functionality built-in (what application with authenticated users won't have a User model in its schema)?

[2019-04-15 16:42] haverchuck commented on #2933
Closing this issue due to inactivity.

[2019-04-15 16:42] #2933 closed

[2019-04-15 17:07] AndrewMorsillo commented on #3093
@jkeys-ecg-nmsu Can you provide a quick example of how to do that? I'm just getting started with amplify and am also curious about how to manage user model data. Would I just create a user object immediately after signup? Can you point me to documentation about the token and sub field? Thanks!

[2019-04-15 17:10] jkeys-ecg-nmsu commented on #3093
@AndrewMorsillo this documentation shows how you can get the payload (including the sub and username claims) from the ID token. https://docs.aws.amazon.com/cognito/latest/developerguide/amazon-cognito-user-pools-using-tokens-with-identity-providers.html#amazon-cognito-user-pools-using-the-id-token

You would probably use an admin Cognito user to create your user in a Lambda trigger, which would re

[2019-04-15 17:26] powerful23 commented on #2541
@Luckygirlllll @saadq this could be related to #2975

If the device token is valid, you should receive a notification. The `onRegister` callback will only be triggered when the token is generated/updated so normally it's only called when the app is installed/first opened.

Could you double check if  something like `RNPushNotificationMessagingService: Message From: ${senderId}` in the Android log w

[2019-04-15 17:30] elorzafe commented on #3019
@YaswanthC sns has a limit for messages per month, maybe that is why you didnt get those messages.

According to [this guide](https://aws.amazon.com/premiumsupport/knowledge-center/sns-sms-spending-limit-increase/)
Amazon SNS has a restriction on the number of mobile text messages that users can send using the service. By default, this limit is set to 1.00 USD, which prevents abuse or misuse of th

[2019-04-15 17:31] powerful23 commented on #2975
@bernhardt1 No. But some other customers are also experiencing the issue of notification not showing up. Did you see any error in the Android log? Also what's the version of `react-native`?

[2019-04-15 17:33] gholland-diettable commented on #2609
same issue for me.  any resolution?  Thanks.

[2019-04-15 17:39] Ch3ck commented on #2087
@dallashuggins I had this same issue today and your solution works; I am wondering why too.

[2019-04-15 17:40] elorzafe commented on #3062
@KowalskiP you can set a custom header for API, more info [here](https://aws-amplify.github.io/docs/js/api#custom-request-headers)

[code]

We will review this feature, Thanks

[2019-04-15 17:44] Luckygirlllll commented on #2541
@powerful23 I don't see anything in logcat after sending Push notification from `AWS Pinpoint` console.

[2019-04-15 17:46] christopherdiehl commented on #2908
@powerful23

[code]

[2019-04-15 17:48] bernhardt1 commented on #2975
`"react-native": "https://github.com/expo/react-native/archive/sdk-31.0.0.tar.gz",`
Expo SDK v31.0.0 is based on React Native 0.57.

I tried uninstalling my app from the device. The fresh install does show some errors in the android log the first time I start it. These errors don't show up when I run the app after it is installed:

[code]

[2019-04-15 17:51] powerful23 commented on #2105
@GutteApps you can make it as a storage object and pass it into the auth module: https://aws-amplify.github.io/docs/js/authentication#managing-security-tokens

[2019-04-15 17:54] #3051 closed

[2019-04-15 17:58] stripathix commented on #1013
Can we do it through AWS-CLI? If not then can anyone please tell by when this feature will be available.

[2019-04-15 18:01] powerful23 commented on #3071
@Luckygirlllll make sense. Since Expo is included, you don't need to link the cognito module manually. I can send a pr to update the doc about this.

[2019-04-15 18:03] elorzafe commented on #3049
@lroellin you can change the default limit value on the request mapping template or set that as you mention as another parameter on the query next to filter.

[2019-04-15 18:06] jkeys-ecg-nmsu commented on #3097
If you're using modular imports, why wouldn't you do this?

[code]

[2019-04-15 18:18] Luckygirlllll commented on #2541
@powerful23 I still can’t get token in onRegister method, the only one way how I got token was through Java code.

[2019-04-15 18:27] haverchuck commented on #2954
Closing this issue for now.

[2019-04-15 18:27] #2954 closed

[2019-04-15 18:36] haverchuck commented on #3079
@lucadv -  It sounds like the issue here is that you are unable to confirm the user in Cognito without the username, which at this point in time your custom service does not have.  Is this correct?

If so, can you please provide a little more detail explaining how a custom code will solve this problem?

Thanks.

[2019-04-15 18:45] haverchuck commented on #3087
@NuruddinBadawi Not all of our UI packages offer the same functionality, which is something we are actively trying to address right now.  At the moment you cannot customize the SignIn component in Ionic - but again, this is something we are actively trying to address.