[2018-08-01 19:43] D2KX commented on #1326
Hi,

not sure if I was just a bit tired when I reported this, but yeah, this is related to TypeScript 2.9 which *is* supported by Angular 6.1, but will only become the default with the next Angular CLI release (6.2) for new projects.

I did not upgrade the Ionic modules, as I am not interested in Ionic anyway, but the related issue and PR on the Ionic Github issue tracker (https://github.com/ionic

[2018-08-01 19:50] D2KX commented on #1354
Can confirm. I also noticed that AmplifyService is always in the providers array in the AmplifyAngularModule, making it unnecessary to provide it ourselves, and AmplifyService should probably become a tree-shakeable provider (new with Angular 6) in the future: https://coryrylan.com/blog/tree-shakeable-providers-and-services-in-angular

I also noticed that that AmplifyAngularModule lists all of the

[2018-08-01 20:32] mordka opened #1365 "No support for Angular modularized Amplify"
Do you want to request a feature or report a bug?
bug
What is the current behavior?

[code]
Import `AmplifyAngularModule` in `app.module.ts`
[code]

This app won't compile.

[code]

I expect to use modularized Amplify in Angular application.
This is mentioned on wiki page, but it doesn't apply to Angular app when helped module from `aws-amplify-angular` is used. https://github.com/aws-amplify/ampl

[2018-08-01 20:37] segheysens commented on #925
@nidsharm @mlabieniec [Setting the Storage](https://aws-amplify.github.io/amplify-js/media/authentication_guide#managing-security-tokens) functionality is supposed to be a feature already, right? I was trying to test this using SessionStorage, but it [looks like the library is setting up LocalStorage anyway](https://github.com/aws-amplify/amplify-js/blob/fc8722ee79f5a691843901af3729be57dbadba0b/pa

[2018-08-01 20:47] powerful23 commented on #1343
@CHR15- @CHR15- sorry about that. I am working on to have a fix on that and we will also talk to the Cognito service team about this issue.

[2018-08-01 21:06] mordka commented on #1273
@elorzafe I'm having the same error when trying to send event to Pinpoint
[code]

I'm using `amazon-cognito-identity-js` separately (it was implemented before Amplify was developed). The user is logged in and credentials are available in `AWS.config.credentials`

[2018-08-01 21:14] mlabieniec commented on #1365
The aws-amplify-angular package will pull in the entire amplify library. You don't need to install aws-amplify modules separately, they are exposed via a service:
https://aws-amplify.github.io/amplify-js/media/angular_guide#using-amplify-service

If you want to use individual modules, you would just import only @aws-amplify modules and NOT use the aws-amplify-angular package. The angular package p

[2018-08-01 23:06] ganap commented on #311
@mlabieniec @nidsharm

What is the status on React Native HOC for Federated Login (FB / Google)

[2018-08-02 00:06] manueliglesias commented on #1283
@goatandsheep Are you importing/requiring a module that overrides the browser's WebSocket object?

[2018-08-02 01:12] jadbox commented on #1203
I'm also confused on this. Is amplify-react or amplify-ionic only meant as examples since their form fields are hard coded?

[2018-08-02 01:27] #1348 closed

[2018-08-02 03:27] goatandsheep commented on #1283
Likely! I am using [`webpack-dev-server`](https://github.com/webpack/docs/wiki/webpack-dev-server). I kinda messed up my subscriptions within some recent refactoring. I'll get back to you soon to see if it works without that!

[2018-08-02 04:58] haverchuck commented on #1365
@mordka Thanks for reporting this issue.  When you import AmplifyService from aws-amplify-angular and include it in the providers array like so...
`
@NgModule({
  ...
  imports: [
    ...
    AmplifyAngularModule
  ],
  ...
  providers: [
    ...
    AmplifyService
  ]
  ...
});`
... what happens?

[2018-08-02 06:42] #1334 closed

[2018-08-02 06:44] yalamber commented on #1360
@plum-shiga this one is more detailed. I have closed #1334 It seems like this issue is with the latest version. Older version seems working. The one used in https://github.com/richardzcode/Journal-AWS-Amplify-Tutorial. I kept on wondering what was wrong with my code till I looked in to the version of the aws amplify package used.

[2018-08-02 08:06] mordka commented on #1365
@mlabieniec you were right. aws-amplify-angular should not be imported when using individual modules.
We can close this.

[2018-08-02 08:06] #1365 closed

[2018-08-02 08:31] PedroS11 opened #1368 "Unable to verify secret hash for client"
When signing in or signing up with aws amplify for js, it gives that error. The user pool has client secret checked and I need it like that. Is there any solution for this problem or is still a feature to be implemented?

[2018-08-02 08:32] iarroyo5 opened #1369 "Modularization - User pool client XXX does not exist."
Do you want to request a feature or report a bug?
bug

What is the current behaviour?
I have the following code:

[code]
[code]
[code]
[code]
The first issue is that `Auth` has the correct data inside the object

<img width="875" alt="afad" src="https://user-images.githubusercontent.com/5355188/43572001-4b03ea7e-9636-11e8-9461-a1f6991c3580.png">

and it never throws the error `No Auth module found

[2018-08-02 09:03] Deliforce commented on #612
In Cognito, After creating user pool go to MFA & Verification section. There you have option to set Email & Phone number verification.

[2018-08-02 09:18] PedroS11 commented on #1368
I managed to get the sign up working based on a workaround found in stack overflow, however, the authenticateUser continues to give the same error

Here is my code

[2018-08-02 10:29] iarroyo5 commented on #1369
The user pool was recreated due to an update in the CloudFormation stack. This meant the user pool IDs had changed which is why I was unable to communicate with cognito vis Amplify.

[2018-08-02 10:29] #1369 closed

[2018-08-02 10:35] CHR15- commented on #1343
thanks @powerful23 .. appreciated as always!

[2018-08-02 10:46] juno-yu opened #1370 "oauth scope settings for Amplify.configure not respected for Auth.signIn"
The oauth settings follows
https://aws-amplify.github.io/amplify-js/media/authentication_guide.html#configuring-the-hosted-ui
in calling Amplify.configure.

After Auth.signIn succeeds, try to run
[code]
to verify it is always 'Result scope = aws.cognito.signin.user.admin'
So it means access_token was granted disrespecting the scopes specified for Amplify.configure.

other settings specified just w

[2018-08-02 13:47] shicholas commented on #1335
Another update,

I have confirmed I have the username right b/c I disabled the username in the console and I get an error that states "User is disabled," instead of "Incorrect username and password."  I noticed over the wire, the actual password doesn't get sent, instead, a `PASSWORD_CLAIM` does which is an encrypted message. Perhaps I'm messing something up on this front? I have tripled checked m

[2018-08-02 15:19] svzi opened #1372 ""No userPool" error message with aws-amplify-angular"
Hi there!

I'm currently trying to add authentication via aws-amplify (and aws-amplify-angular) to my Ionic 3 app.

When I run this piece of code:
[code]
I'm always getting this:
[code]

This is my aws-export.js file:
[code]

And I'm using this packages:
[code]

I've got one verified user in that user pool and I can access this pool via my serverless backend (AWS Lambda) with a different app clien

[2018-08-02 16:07] elorzafe commented on #1372
@svzi Can you check your node_modules/aws-amplify-angular directory to see if there is another aws-amplify installed in there, I saw that error before when there are multiple instance of aws-amplify installed on a project.

[2018-08-02 18:13] rojagit opened #1374 "Why no cloud persistence with Vue starter ?"
Do you want to request a feature or report a bug?
AWS persistence missing in  https://github.com/aws-samples/aws-amplify-vue

What is the current behavior?
browser cache persistence only
schema all wrong
resources all wrong

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your c

[2018-08-02 18:52] powerful23 commented on #1324
For now it's not implemented. We will mark this as feature request.

[2018-08-02 19:00] christo1745 commented on #935
This is how I solved this. It still needs some work to determine which input fields to require.  In a nutshell I'm just displaying the required attributes as inputs, then posting those back to cognito.

class App extends Component {

    render() {
        return (
            <Wrapper>
                <Authenticator theme={CustomAmplifyTheme} hide={[Greetings, RequireNewPassword]}>

[2018-08-02 19:43] tunecrew commented on #1269
so created a generic app using `npx create-react-app . ; npm install aws-amplify-react` and edited `App.js` as follows:

    import React, { Component } from 'react';
    import Amplify from 'aws-amplify';
    import { withAuthenticator, SignOut } from 'aws-amplify-react';

    const awsconfig = {
      Auth: {
        identityPoolId: ***redacted***,
        region: ***redacted***,
        userPoo

[2018-08-02 19:57] haverchuck commented on #1344
Should include ability to:
a) access remotely, not just local
b) persist data in dynamobdb.

[2018-08-02 19:59] haverchuck commented on #1374
@rojagit Thanks for reporting this - I am marking it as a feature request.  It definitely makes sense.  However, I'm also closing the issue and documenting it in #1344 , that way the vue-sample issues are more consolidated.

[2018-08-02 19:59] #1374 closed

[2018-08-02 20:01] haverchuck commented on #1357
Closing this issue for now, but referencing it in #1344 so that these related issues are consolidated and so that we tackle them all when we look at the vue-cli 3.0 sample app.

[2018-08-02 20:01] #1357 closed

[2018-08-02 20:30] haverchuck commented on #1372
@svzi  Could it be having an issue with the aws-exports.js (i.e. the .js extension)?

[2018-08-02 20:38] epicfaace commented on #825
+1

[2018-08-02 20:43] svzi commented on #1372
@haverchuck How can I find out? Any idea?

[2018-08-02 22:39] #1343 closed

[2018-08-02 23:48] Jun711 commented on #1195
@zimmelbc
I added `import '@babel/polyfill';` in my angular app but I still get `fetch is undefined reference error`

[2018-08-03 01:02] ume-lap opened #1376 "Object doesn't support property or method 'find' with IE11"
Do you want to request a feature or report a bug?
- just a question

What is the current behavior?
- amplify-js is not working at my S3 bucket.
- I try `npm run build && aws s3 sync build/ s3://idserverdev.energymntr.com`
- and I got below  error (sorry, it display with lang japanese)
- https://imgur.com/a/5VRo3Lg

-amplify-js is not support IE11? I needs to work with IE11. How I solove it?

If th

[2018-08-03 04:11] hutch120 commented on #960
I have some files I'd like to set to public readable and some remain private... would be useful to have the option to set ACL here rather than have to call the low level S3 API.

Below is possible solution.

Update: https://github.com/mbahar/aws-amplify/blob/986a9ec4/packages/aws-amplify/src/Storage/Storage.ts#L153

[code]

Under: https://github.com/mbahar/aws-amplify/blob/986a9ec4/packages/aws-am

[2018-08-03 04:35] hutch120 commented on #960
I found an alternative way to achieve this.

When you create a Cognito federated identity, two roles, Auth and UnAuth are created. I edited the policy attached to the UnAuth role (name is something like `oneClick_Cognito_...Unauth_Role_...`) and added S3 List Bucket and S3 Read Object permissions for the object I wanted to be public read.

[2018-08-03 04:38] tandeson commented on #1327
Sorry - I should have closed this. I came in on Monday and it all worked. I think something was happening on the AppSync back end. No code changes on my side, and I no longer can re-create this issue. I can re-open if it happen again, and I'll capture the network request, but again - I don't think this is in the Amplify library at this time.

[2018-08-03 06:11] saikumar-madana opened #1377 ""Local storage is missing an ID Token, Please authenticate" error while changing password Cognito AWS"
I am building an application. In that Sign up,  Signin and other operations are working fine. But, when I try to change password using following code, it says

`"Local storage is missing an ID Token, Please authenticate"`

Code is:

[code]

I am not sure what is wrong in this. Please help me solve this.

Thank you...

[2018-08-03 06:59] Jun711 opened #1378 "Pinpoint Analytics Exceeded maximum endpoint per user count 10"
Do you want to request a feature or report a bug?
seems like a misconfiguration issue?

What is the current behavior?

Amplify analytics configuration
[code]
When I had endpointId as a constant, I could only see one endpoint at Pinpoint. Thus, I got advice in gitter that I should let Amplify set the endpointId. Thus, I did that and I see this `Exceeded maximum endpoint per user count 10` error for

[2018-08-03 07:11] Botre commented on #1335
I have the same issue.

- Existing users are not able to sign in with existing credentials.
- Existing users are not able to sign in after they reset their password.
- New users are not able to sign in with their new credentials.

Error code I keep receiving:

{code: "NotAuthorizedException", name: "NotAuthorizedException", message: "Incorrect username or password."}

I'm using the latest version

[2018-08-03 07:32] ume-lap commented on #1376
`Object doesn't support property or method 'find' ` is occured from `Interaction.js`

[2018-08-03 07:51] ArmorDarks opened #1379 "Network connection errors now return `UnknownError`"
## Do you want to request a feature or report a bug?

A bug

## What is the current behavior?

When there is no network connection, attempts to use `API` methods like `get` or `Auth` returns `UnknownError`

![767545881997406 xcqqunleqretg56ze64z_height640](https://user-images.githubusercontent.com/4460311/43631135-043eed98-970b-11e8-97b4-5059e5d3414f.png)

## What is the expected behavior?

Previo

[2018-08-03 09:53] developerjohan01 commented on #1372
I had the same issue - always seeing the message "No userPool"

My app is just the Tutorial https://aws-amplify.github.io/amplify-js/media/tutorials/building-ionic-4-apps/ but there is a piece of _bad advice_ in there about renaming the file `aws-exports.js`

If I don't rename the file then all works - if I rename the file, it does NOT work.

The problem is that the `.ts` file isn't maintained by

[2018-08-03 10:04] svzi commented on #1372
After playing around with all the suggestions, I found a silly mistake in my implementation. I did this:

[code]

Instread of this:
[code]

So to no ones surprise it didn't work. The comment from @haverchuck pointed me in the right direction. But I need to agree heavily to @developerjohan01. It's not a good idea to rename the .js to .ts, because of the reasons he described!

[2018-08-03 10:04] #1372 closed

[2018-08-03 11:53] muhammetdemirci commented on #1286
same thing

[2018-08-03 13:00] MainAero commented on #1342
@AlpacaGoesCrazy I think your are supposed to store the signer url once you generated it.

@manueliglesias It seems that `expires` can't be greater than `Auth.currentSession().accessToken.payload.exp` time. When I passing `expires: 604800` (1 week, max allowed value) to `Storage.put` all the signed urls are expired after `Auth.currentSession().accessToken.payload.exp`

If there is no way to extend

[2018-08-03 13:14] miljojohn commented on #238
Session: null
​attributes: Object { "custom:document_id": "xx", "custom:dept_id": "xxx", "custom:institution_id": "xxxx"}
​authenticationFlowType: "USER_SRP_AUTH"

TypeError: user.getSession is not a function

It seems to be because the Session value in the CognitoUser object that is returned from currentAuthenticatedUser() is null

[2018-08-03 14:25] ArmorDarks opened #1380 "`Auth.currentSession()` and `Auth.currentAuthenticatedUser()` no longer works in offline"
## Do you want to request a feature or report a bug?

Probably a bug, or unintended breaking change

## What is the current behavior?

When there is no Internet connection, `Auth.currentSession()` and `Auth.currentAuthenticatedUser()` will return `UnknownError`

## What is the expected behavior?

In v0.4.1 `Auth.currentSession()` and `Auth.currentAuthenticatedUser()` always returned information ab

[2018-08-03 14:25] rojagit commented on #1344
@haverchuck Will the starter app include all presets ? Or at least PWA, Router & Vuex so as to show us the right way to start using it ? Thanks...and any rough ETA on this ? days/weeks/etc ?

[2018-08-03 14:48] gustavo-rios opened #1381 "amplify vulnerability in snyk due to old dependency"
I've found that snyk is reporting the following vulnerability in one of the dependencies and I just wanted you to be aware. Seems like updating crypto-browserfify to the latest version should fix this issue.

![amplifyvuln](https://user-images.githubusercontent.com/8270535/43649149-62bfea8a-970a-11e8-8b3f-d466b181077f.png)

[2018-08-03 14:50] mordka opened #1382 "Amplify Core not picking up existing Cognito credentials"
Do you want to request a feature or report a bug?
**This is a bug**
What is the current behavior?

I'm working on adding Pinpoint Analytics to the existing project, which has Cognito auth already implemented. I'm using amazon-cognito-identity-js separately (it was implemented before Amplify was developed). The user is logged in and credentials are available in AWS.config.credentials
I've imported

[2018-08-03 15:04] haverchuck commented on #1382
@mordka  - thank you!

[2018-08-03 15:09] haverchuck commented on #1372
@developerjohan01  - Great catch on the CLI support issue for .ts extensions!  I'll make sure the tutorial is updated.

[2018-08-03 15:15] christo1745 commented on #1360
Looks like onAuthEvent is undefined in AuthPiece.js

![image](https://user-images.githubusercontent.com/11634042/43650737-d192dfec-96fd-11e8-8de7-93719b726a10.png)

[2018-08-03 15:26] haverchuck commented on #1381
@gustavo-rios  - thank you for letting us know!

[2018-08-03 17:10] tunecrew opened #1386 "Documentation does not specify how to handle return from successful hosted UI authentication"
Given a generic `npx create-react-app . ; npm install aws-amplify-react` app with the following App.js:

    import React, { Component } from 'react';
    import Amplify, { Auth } from 'aws-amplify';
    import { withOAuth } from 'aws-amplify-react';

    const awsconfig = {
      Auth: {
        identityPoolId: ***redacted***,
        region: ***redacted***,
        userPoolId: ***redacted***,

[2018-08-03 19:50] shicholas commented on #1335
that would make sense for my error, everything I do is set up in `us-east-1`. thanks for the help @Botre!

[2018-08-03 20:46] shicholas commented on #1335
On second thought, I don't know if that's it as the network tab shows only traffic going to `us-east-1` from my auth queries.

Def glad I'm not alone though.

[2018-08-03 21:45] guanzo opened #1387 "MFA challenge doesn't appear after signout -> signin."
**Do you want to request a feature or report a bug?**
A bug

**What is the current behavior?**
- User has cookie storage && MFA enabled (bug occurs for both SMS and TOTP)
- User signs out
- User signs in
- User is logged in without facing a MFA challenge (this is the bug)

Codewise, the `challengeName` property is missing from `user`.

[code]

**What is the expected behavior?**
- User has cookie s

[2018-08-04 16:43] rudyhadoux opened #1389 "Amplify Storage GET with Cognito 403"
Hi,

**Everything works in my Angular 6 app but Amplify Storage GET is blocked :
Any idea ? Thanks. The buckets are private.**

1533391785159-128.png:1 GET https://notes-app-rudy-dev-attachmentsbucket-44v3jznkhfbh.s3.eu-west-1.amazonaws.com/private/eu-west-1%3A03dcba88-86a2-4add-8704-7f8c80d052bd/1533391785159-128.png?AWSAccessKeyId=ASIAURR7HJKARHL2FM4S&Expires=1533392854&Signature=Vzri1roV6DPo3PF

[2018-08-04 16:59] rudyhadoux commented on #1352
Hi, is it an Angular project ?

[2018-08-04 21:51] woodpav opened #1390 "[Auth] [Bug] [RN] User not authenticated on cold start"
### This bug is release blocking. ###

I am using Cognito to sign in users to a react-native app. I am using my own sign in flow and using Cognito as the identity provider/pool.

#### Current behavior ####
- When the app is mounted and active, `Auth.currentSession` works properly.
- When the app is opened from the background having already been mounted, `Auth.currentSession` works.
- When the app

[2018-08-05 02:40] haverchuck commented on #1389
@rudyhadoux Did you enable CORS as described in the storage docs?

https://aws-amplify.github.io/amplify-js/media/storage_guide

The error you posted seems to indicate a CORS issue.

[2018-08-05 05:26] praveshkhatana commented on #684
@drewdecarme  AWSIoTProvider doesn't allow me to add any parameters.
[code]
I am using "aws-amplify": "1.0.4", version and I importing AWSIoTProvide in this way.
`import { AWSIoTProvider, MqttOverWSProvider } from '@aws-amplify/pubsub/lib/Providers';`

[2018-08-05 06:11] rudyhadoux commented on #1389
I am going to study that today.
It is the Serverless Stack app with Angular 6 and not with React.
And there is that :
get:
    # Defines an HTTP API endpoint that calls the main function in get.js
    # - path: url path is /notes/{id}
    # - method: GET request
    handler: get.main
    events:
      - http:
          path: notes/{id}
          method: get
          **cors: true**
          autho

[2018-08-05 14:42] erez-guesty commented on #1308
@elorzafe
hi, any new updates?

[2018-08-05 18:47] vbudilov commented on #1390
I'm seeing the same exact issue. It seems like it's a recent change since it wasn't there a couple of weeks ago.

[2018-08-05 20:33] powerful23 commented on #1390
Related to #1380

[2018-08-05 20:34] powerful23 commented on #1364
Related to #1380

[2018-08-05 20:51] ArmorDarks commented on #1390
Faced same issue, definitely related to recent changes, since it isn't present in 0.4.1

[2018-08-05 22:41] jdeanwaite commented on #825
I totally get it. I put up with it from January until July, then decided to move authentication to Firebase Auth. However, I do absolutely everything else through AWS, since Cognito Identity Pools has good integration with OpenID Connect, which firebase tokens are OpenID compatible.

[2018-08-06 01:04] epicfaace commented on #825
@lcrodriguez I did end up finding a solution for this, at least for my particular use case. What you do is, set the jwt to something else in local storage. Then, when adding the Authorization header to an API call, you can pass in the jwt stored in localStorage

Additionally, in all the functions in which you get a user's profile info, etc., you would need to check and see if your custom jwt is st

[2018-08-06 01:48] saneera opened #1392 "Cognito auth and cognito identity can we use both together"
Hi All

one of my app I m going to use cognito identity as native sign in sign up but for google and face book going to use cognito auth js library

but both are is not working together

is there anyway to user cognito identity js to social login ? (without url based , i need to save token on local storage)

Thanks

[2018-08-06 02:04] guanzo commented on #1387
This is my mistake. I forgot about this cognito feature, seen on the aws console.

"Do you want to remember your user's devices?"
- Always

"Do you want to use a remembered device to suppress the second factor during multi-factor authentication (MFA)?"
-Yes

By deleting the cookies, i make cognito forget about the device, triggering the MFA. With the cookies, cognito remembers the device, and MFA

[2018-08-06 02:04] #1387 closed

[2018-08-06 02:07] btmadison opened #1393 "adding amplify-authenticator to angular 6 from aws-amplify-angular causes typescript error Type 'CustomEvent' is not generic' on prod build only"
Do you want to request a feature or report a bug?
bug

What is the current behavior?

When including the amplify-authenticator element in an angular 6 cli or angular 5 cli application, production builds are failing, but everything works properly when doing ng serve to run it locally.  Also, awsmobile run works file (can authenticate, log in/out, etc...), but awsmobile publish fails (due to the --p

[2018-08-06 02:48] M1chaelTran commented on #738
It looks like there's an issue with multipart upload on the client side.
The second part is cancelled when the first part response...
Since the second part got cancelled, a delete request is then sent out.

Would very much interested in knowing a workaround for this issue

[2018-08-06 04:33] plum-shiga commented on #1376
I found it below.
https://github.com/facebook/react/issues/8379#issuecomment-370686878

I think it is not `Bug`, you can be avoided this issue with babel.

[2018-08-06 04:34] jadbox commented on #1386
@elorzafe I have the exact same problem! Been trying to find a solution for days now.

[2018-08-06 07:25] JohnJohnXia commented on #960
@nidsharm When solve this ? Hurry

[2018-08-06 08:53] yuankunluo opened #1395 "How to handle Oauth returns?"
Hi there, my company is working on an enterprise App, which allows our employees to sign in.  Our employees are on Office 365 which I have already configured correctly use Cognito User Pool with SAML.

Cognito redirects the user back to my angular app with this url:

http://localhost:4200/authenticated?code=[some authenticate by code grant code flow]

Is there any way to make Amplify aware this su

[2018-08-06 08:57] yuankunluo commented on #1386
yes! same problem with my angular app.

#1395

[2018-08-06 09:54] yuankunluo commented on #760
+1

[2018-08-06 10:31] AlpacaGoesCrazy commented on #1342
@MainAero Thank you for this solution. While there is not much sense in storing images in Amplify cache if you have lots of them (as it's max size is capped at 5Mb), storing links to images works just fine!

[2018-08-06 14:53] giaendong commented on #399
facing the same problem but after changed the amplify configuration from
`Amplify.configure({
  Auth: {
    region: 'xx-xxxxx',
    identityPoolId: 'xx-xxxxxx',
    userPoolId: 'xx-xxxx',
    userPoolWebClientId: 'xxxxxxxxx',
    mandatorySignIn: false,
    storage: xxxxx,
  }
});`
to
`Amplify.configure({
  Auth: {
    region: 'xx-xxxxx',
    userPoolId: 'xx-xxxx',
    userPoolWebClientId: 'xxxxxx

[2018-08-06 14:57] haverchuck commented on #1393
@btmadison  Does it still fail if you do `ng build prod --no-aot?`

[2018-08-06 16:59] powerful23 commented on #1386
@tunecrew Hi, I can answer your first question. You can use the `Hub` category to listen on the `signIn` event. For exxample:
[code]

[2018-08-06 16:59] jadbox commented on #1395
I'm also having this issue with the aws Hosted UI oauth page. After login, it redirects back to my app with the Code Grant (also tried Implicit Grant). Amplify seems to make the backend calls to validate the token and succeeds. However all the APIs say that the user is not authenticated.

[2018-08-06 17:07] jadbox commented on #1386
@powerful23
How do I include this Hub as a module: `import Hub from '@aws-amplify/hub'` doesn't work.

for reference: https://hackernoon.com/modular-imports-with-aws-amplify-daeb387b6985

[2018-08-06 17:13] powerful23 commented on #1386
@jadbox you can do `import { Hub } from '@aws-amplify/core`

[2018-08-06 17:31] jadbox commented on #1386
@powerful23 thanks that works... Hub doesn't have a Typescript definition on the `core` module, which made it non-transparent. GOOD NEWS though, your example of waiting on the Hub event first allows me to then call `currentAuthenticatedUser` at the right time. I've got a couple thoughts though:

- This needs to be documented under Hosted UI for anyone to be successful
- currentAuthenticatedUser sh

[2018-08-06 17:49] jadbox commented on #1395
@yuankunluo I think there's a fix here https://github.com/aws-amplify/amplify-js/issues/1386

[2018-08-06 18:33] NextStepDev opened #1398 "No current user thrown on Auth.currentSession() after successful login"
**Do you want to request a feature or report a bug?**
bug

**What is the current behavior?**
After a user is successfully authenticated through Auth.signIn, I get the response "No current user" when calling Auth.currentSession()

**What is the expected behavior?**
There should definitely be a current session returned considering the session was just established on signIn

**Which versions of Ampli

[2018-08-06 19:00] #1364 closed

[2018-08-06 19:00] #1380 closed

[2018-08-06 19:00] #1390 closed

[2018-08-06 19:08] goatandsheep commented on #1283
A different thing that i also was doing that I changed was that my graphql function, i was using `functionName(item: ID)` but i read i should only use type `ID` in my type declarations and not in my functions, so i changed that to `String`

[2018-08-06 20:09] lcrodriguez commented on #825
Thanks much! I will give it a try in a few days and get back to you.

[2018-08-06 21:38] ddddave commented on #1395
+1

[2018-08-06 23:34] ddddave opened #1401 "social sign in like Cognito Hosted UI and Facebook analytics integration"
Do you want to request a feature or report a bug?
- feature

What is the current behavior?
- using Authenticator HOC with federated sign in with Facebook does not provide correct token to access API gateway that uses Cognito User Pool for Authorizer
- federated sign in with Facebook loads the Facebook SDK, but does not document how to use it in app, to implement facebook analytics for example.

If

[2018-08-07 00:13] jordanranz commented on #1389
Hi, @rudyhadoux

Here is a more direct link to the CORS setup:
https://aws-amplify.github.io/amplify-js/media/storage_guide#setup-amazon-s3-bucket-cors-policy

Does your CORS policy configuration match what is listed in the link above?

[2018-08-07 00:17] jordanranz commented on #1381
Seems crypto-browserify was updated in this PR: #731

[2018-08-07 00:25] jordanranz commented on #1381
Hey @gustavo-rios, thanks for reporting this.

We did actually try upgrading the crypto-browserify version: #731, but we experienced issues with it and Angular 6: #857

I will investigate the status of this.

[2018-08-07 00:32] oste commented on #1143
My org is also wondering about this. When a user signs up via facebook there is no record in the user pool. Can someone point me to docs on how this can work? I have not found anything and this is a deal breaker for using Amazon Cognito.

A custom code work around would be fine, I just have not seen any information on creating a user record with a federated auth. Is this possible?

Thanks

[2018-08-07 00:38] jordanranz commented on #1355
Hi @saaniaki, thanks for submitting feedback.

Seems that user does not have a deviceKey associated with their user object.

Have you tried calling getCachedDeviceKeyAndPassword to populate the deviceKey for the user?
https://github.com/aws-amplify/amplify-js/blob/master/packages/amazon-cognito-identity-js/src/CognitoUser.js#L1255

Here is a related Stack Overflow question:
https://stackoverflow.c

[2018-08-07 00:44] jordanranz commented on #1327
Hey @tandeson, I am going to close this as per your comment above. Please reopen if you are still having an issue.

[2018-08-07 00:44] #1327 closed

[2018-08-07 01:18] reggie3 commented on #1143
For now you have to use the Hosted UI to do what you are looking for. I
haven't tried it myself.

On Mon, Aug 6, 2018, 8:32 PM Mike Osterhout <notifications@github.com>
wrote:

[2018-08-07 01:22] rygo6 opened #1402 "Amplify React Connect is not working."
I am going through the tutorial here:
https://aws-amplify.github.io/amplify-js/media/api_guide

And this line
[code]

I just cannot get to work. It keeps giving the error:
`TypeError: Cannot read property 'items' of undefined`

Everything is most definitely hooked up properly as I can run this:
[code]

And get a nice, correct, JSON in the browser console:
[code]

But that 'Connect' command in the

[2018-08-07 01:24] VicFrolov commented on #1143
You have to use Hosted UI, however it is not compatible with react-native, nor is ample customization. The HOC itself is react-native compatible, but not identity providers.

We're most likely going to get rid of cognito all together, and just use federated identities as this is too much of a headache/waiting game.

It's a shame, because this seems like a core feature.

[2018-08-07 03:36] rygo6 commented on #1402
Also the exact syntax of whats ocurring with this method:
[code]
really confuses me. Why so many {{ (( ? Is there more documentation on what exactly this is doing? I can't find it anywhere.

[2018-08-07 04:25] rygo6 commented on #1402
OK I discovered the reason for this is initially the first time this chunk of code is evaluated 'data' object actually gets populated with this:
`{"data":{},"errors":[],"loading":false}`

Then after a few milliseconds it gets populated with the full JSON.

Is this correct? Or is this signifying something wrong?

If this is correct and how this works, whats the proper way to deal with this? To make

[2018-08-07 04:43] shicholas commented on #1335
Update, today's Amplify JS update repeated the same behavior.

Here is my Cloudformation template I used to set up my Cognito User-Pool and AppSync (which has worked fine)

[code]

[2018-08-07 04:55] rygo6 commented on #1402
Ok so for the purpose who comes flailing in after me on their react crash course. This is how you make it work:

[code]

That should be in the documentation.

[2018-08-07 04:56] rygo6 commented on #1402
Leaving it open actually for that note to hopefully go in documentation.

[2018-08-07 05:03] rudyhadoux commented on #1389
Thanks Haverchuck and Jordanranz for your responses. It is not a CORS or a network problem but just an Angular 6 one. I must do a cascade of oberservable (map and of) to get a list of items with their S3 links.

[2018-08-07 05:04] #1389 closed

[2018-08-07 06:55] ddddave opened #1403 "remove phone number from sign up"
Do you want to request a feature or report a bug?
 - feature
What is the current behavior?
 - Authenticator HOC SignUp component fields are static
If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than AWS Amplify.

What is the expe

[2018-08-07 09:46] MainAero commented on #1342
@AlpacaGoesCrazy Yes you are right. The AsyncStorage is limited to 6MB and Amplify Cache to 5MB. Furthermore AsyncStorage is not intended to cache blob data like images. I missed that in my first attempt of caching.

For me caching the signed urls is not satisfying because the signed urls will expire mostly within a 1h (see my comment above).
I wrote a Caching util which will cache the images in t

[2018-08-07 09:57] andersforsell commented on #488
Will you publish the modularized library as ES modules (which all modern browsers support)? That would save a lot of time during development by not having to rely on bundlers handling non-standard module formats.

[2018-08-07 11:07] aaayushsingh opened #1404 "Pubsub: {} in Amplify.configure conflict with appsync subscriptions"
This is _partially_ related to #823

Do you want to request a feature or report a bug?
**Bug**

What is the current behavior?

This configuration throws an error, while the configuration below it works fine
[code]

[code]
**With the second configuration, I can subscribe to Appsync graphql endpoint**

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal

[2018-08-07 11:24] s-takehana commented on #740
My `aws-amplify` version is `1.0.5` .
I can use `Auth.signIn` without `identityPoolId` .

[code]

[2018-08-07 12:04] buggy commented on #1335
@shicholas Can you go to your User Pool in the AWS Console, select `Devices` on the right hand side and check that `Do you want to remember your user's devices?` is set to `No`?

I remember having trouble logging in with User Pools created via CloudFormation until I set this option to No in the console. Unfortunately I can't find a way to set it to No via CloudFormation. The relevant option in the

[2018-08-07 12:58] AlpacaGoesCrazy commented on #1342
@MainAero You are right, I just realized that no matter what expiration time you set while retrieving signed URL the cognito token which was used to sign that URL will expire much earlier and render that link inaccessible. This makes storing signer URLs for longer period of times not an option.
However I am not sure how to implement caching in this case. Can you give me a hint on how to better imp

[2018-08-07 13:09] shicholas commented on #1335
Unfortunately, that doesn't seem to do anything. Here is the setting I've tried. Thanks for the help.

<img width="1440" alt="captura de pantalla 2018-08-07 a la s 6 08 26 a m" src="https://user-images.githubusercontent.com/889427/43777710-7482417c-9a08-11e8-8884-cd1e640c97d6.png">

[2018-08-07 14:18] simon998yang opened #1405 "how to show percentage of uploading when using Storage.put to upload file to S3?"
Hi, I just cannot find how.

[2018-08-07 14:19] mateen-hussain opened #1406 "Unknown error, the response body from fetch is: undefined when using withAuthenticator HOC on android"
Do you want to request a feature or report a bug?
Report Bug

What is the current behavior?
When I use withAuthenticator(app) out of the box on the android I get. This happens ONLY on android simulator and not iOS
[code]

my App (App was built with `create-react-native-app` and run on emulators with `expo`)

[code]

I tried removing `withAuthenticator` and use `Auth.signIn` instead

[code]

and I

[2018-08-07 16:00] miljojohn opened #1407 "Option needed to assume different Cognito Roles for an user"
Dear Team,
Scenario :  In our application, one user can assume multiple Cognito roles. For each role, the UI rendering will change. After login, all users are provided with an drop down with the Role which they can assume while using the ERP. For Example Super Admin (user type) will have roles like, Super Admin, Department Head, Course Manager etc.  student (user type) might have have some roles l

[2018-08-07 16:36] powerful23 commented on #1392
@saneera For now you can only use Cognito Hosted UI(which is url based) to sign in the Cognito User Pool with federated providers.

[2018-08-07 16:59] jordanranz commented on #1338
Hi @harshayburadkar, I was able to reproduce your issue.

When you declare `Amplify.configure(aws_exports)` inside of your App component's constructor, Amplify configuration does not get picked up by the withAuthenticator HOC because it wraps the App component and App's constructor will execute after the withAuthenticator's configuration is set.

If you move `Amplify.configure(aws_exports)` to the

[2018-08-07 17:09] andrew-aladev commented on #1353
Today we've used `"amazon-cognito-identity-js": "^1.31.0"` and implemented very small and simplified version of `Auth.ts`. Authentication flow works good.

[2018-08-07 17:15] jordanranz commented on #1405
Hi @simon998yang, this is actually a feature that we will begin work on this week.

We will update this issue when the feature has been implemented.

[2018-08-07 17:18] yarax commented on #443
If someone is interested, there is still workaround to use it in Node. It should be:
[code]
and requires support of `fetch`, e.g
[code]

[2018-08-07 17:25] jordanranz commented on #1152
Going to close this due to inactivity. Please feel free to reopen if you are still experiencing this issue.

[2018-08-07 17:25] #1152 closed

[2018-08-07 17:28] jordanranz commented on #1136
Going to close this due to inactivity. Please see the link posted above to configure custom styling for the Section Header. If you have any more related questions or concerns please reopen this issue.

[2018-08-07 17:28] #1136 closed

[2018-08-07 17:52] jordanranz commented on #1123
Hi @wzup, there is a method to get the current authenticated user:
https://aws-amplify.github.io/amplify-js/api/classes/authclass.html#currentauthenticateduser

If this returns success, you can redirect to their personal area.
If the returns a failure, you can display a Login screen.

I am going to close this issue for now. Please reopen and let us know if you are still having trouble.

[2018-08-07 17:52] #1123 closed

[2018-08-07 17:54] jordanranz commented on #1160
Going to close this due to inactivity. Please reopen if you have any more related questions and/or the method mentioned above did not work.

[2018-08-07 17:56] jordanranz commented on #1110
Going to close this as the original issue has been solved. Please reopen if you have any more related questions.

[2018-08-07 17:56] #1110 closed

[2018-08-07 18:56] powerful23 commented on #1398
@NextStepDev Can you provide some debug info for this issue? You can do this by putting `window.LOG_LEVEL='DEBUG'` in your code.

[2018-08-07 19:00] powerful23 commented on #1406
@mateen-hussain maybe it's not related but can you remove the `aws-sdk` dependency in your `package.json`? Amplify has its own dependency on `aws-sdk`.

[2018-08-07 19:16] jordanranz commented on #1156
@unasirisak as @ricsam mentioned it is currently not possible to use apollo link state with the AWS Amplify graphql client as apollo link state is specific to the Apollo client. The appsync sdk mentioned above is built to work with the Apollo client, so you can use apollo link with that.

We will be working to improve the Amplify graphql client in the near future. Stay tuned.

I am going to close

[2018-08-07 19:16] #1156 closed

[2018-08-07 19:24] jordanranz commented on #442
@jarrettj See the following url for instructions on creating custom UI:
https://aws-amplify.github.io/amplify-js/media/authentication_guide#customization

I am going to close this issue as the original issue seems to have been solved. Please reopen if there are any more related questions/issues.

[2018-08-07 19:24] #442 closed

[2018-08-07 19:33] jordanranz commented on #448
@Jun711 this seems unrelated to the Amplify library and related to CORS configuration. Are you still experiencing this issue?

[2018-08-07 19:34] mateen-hussain commented on #1406
@powerful23 when I first tried it, there was no referece to `aws-sdk` in the package.json and it still gave the same behaviour

[2018-08-07 19:34] jarrettj commented on #442
Cool thanks man. I used css to hide the signup button.

[2018-08-07 19:40] jordanranz commented on #707
@powerful23 merged a change to attach raw error messages to the response.

I am going to close this issue due to inactivity. Please reopen if you are still experiencing a related issue or have any more questions.

[2018-08-07 19:40] #707 closed

[2018-08-07 19:47] rygo6 opened #1408 "How to clone project to a new repo? With Appsync?"
This seems very undocumented and I am a bit confused. I am trying to get another developer going on this project. This is what I have done so far:

1. I push code to git relying on default generated .gitignore
2. Other developer pulls git repo.
3. Other developer runs awsmobile init <mobilehubid>

That completes rather successfully except that.

1. It does NOT configure Appsync. The aws-exports.js

[2018-08-07 19:55] jordanranz commented on #459
Hi @29er, the put method should work for what you are trying to achieve. When using put you must include all other columns you would like in that db entry. Put essentially replaces the instance of the id passed in with a new representation. In your case the entry with SettingId: '12345' would be replaced by whatever you pass with the request params.

I am going to close this issue. Please reopen i

[2018-08-07 19:55] #459 closed

[2018-08-07 19:59] jordanranz commented on #500
Going to close this issue due to inactivity. Please reopen if you have any related questions or concerns.

[2018-08-07 19:59] #500 closed

[2018-08-07 20:05] jordanranz commented on #701
Modular imports for Amplify has been implemented as part of v1.0. See docs here:
https://aws-amplify.github.io/amplify-js/media/api_guide#using-modularized-module

Going to close this issue as the release of modular Amplify seems to solve the issue here. Please reopen if there are any more related questions or concerns.

[2018-08-07 20:05] #701 closed

[2018-08-07 20:33] jordanranz commented on #570
Hey @baharev, apologies for the lack of response before.

I would like to try and reproduce your issue on the iPhone 8 and X.

To refresh my context:
- You are using the amplify and amplify-react version 1.0.2 in your **real app**.
- You created a "Hello World" app that works properly with the only difference being that you are using redux.
- Using Safari, you are experiencing the same issue initi

[2018-08-07 20:36] jordanranz commented on #1108
@romainquellec have you tried @powerful23's suggestion or do you have any update on this?

[2018-08-07 20:56] baharev commented on #570
@jordanranz Thanks for the feedback. I thought this issue was neglected... :(

Correct. (Double-checked.)

Not quite.

The "Hello World" app works 100% OK, that is correct.

In the real app I do use redux, but I use several other packages, and some hand-written CSS (but that CSS is NOT used on the login page).

The dependencies of the real app are:

[code]

So, redux is not the only difference.

M

[2018-08-07 20:59] baharev commented on #570
@mlabieniec  Hmmm, why did this question get the react native label? I am not using react native.

[2018-08-07 21:08] baharev commented on #570
@jordanranz If rumors are to be believed, iOS 12 will still support the iPhone 5s. JavaScript sees an impressive screen size of 320x454 pixels on this device.

[2018-08-07 21:10] tunecrew commented on #1386
@powerful23 thanks for this - it does work - a few comments:

* to remove the `?code...` from the url I added a `this.props.history.push('/')`  in `checkUser()` although this seems like a hack
* there is a noticeable pause sometimes between the redirect and the auth event firing - this means that when a user is redirected back from a successful authentication, they will briefly see the "Log In" bu

[2018-08-07 21:57] jordanranz commented on #1401
Hi @ddddave, your understanding that federated identities use the identity pool to gain access, not the user pool is correct. Is this the documentation you read for setting up withOauth?:
https://aws-amplify.github.io/amplify-js/media/authentication_guide#using-amazon-cognito-hosted-ui

As for the FB analytics feature request, it is possible using a custom provider for the Amplify Analytics module

[2018-08-07 22:00] jordanranz commented on #869
The is a feature request for Amazon Cognito. We will bring this up in our next meeting with their team.

We will post an update when we have received an update from the Cognito team. Stay tuned.

[2018-08-07 22:39] alshdavid commented on #869
Is there somewhere where we can see the development pipeline for cognito? What's coming up and something of a timeline?

The company I work for has recently invested in using cognito, there are lots of things we need but don't know if they are coming.

[2018-08-07 23:26] rygo6 opened #1410 "Amplify AppSync vs AWSAppSyncClient?"
I am having trouble understanding this from the documentation.

I found this example repo:
https://github.com/aws-samples/aws-amplify-graphql/blob/master/photo-client/src/App.js

In which it imports both aws-appsync module and the amplify module.

I initially thought these were mutually exclusive, meaning the amplify module came with everything you needed to connect to AppSync and the aws-appsync

[2018-08-07 23:36] vbudilov commented on #1398
Upgrade to v1.0.5 -- it was fixed there.

[2018-08-08 01:12] huihe commented on #612
Hi @yuntuowang, is there any update about redirect after confirmUser?

[2018-08-08 01:24] huihe commented on #1328
Facing the same issue here. Really hope this could be configurable, email or sms when both are provided.

[2018-08-08 03:46] gpoitch commented on #1257
I'm experiencing this regardless of the auth flow option (just using the default).
`Auth.signIn` doesn't include `attributes` while `Auth.currentAuthenticatedUser()` does.  Therefore, I have to make another request to get the attributes after a sign in.

[2018-08-08 07:29] ddddave commented on #1401
Hey @jordanranz, thanks very much for sharing those docs I will look into them and let you know.

here's my solution for using the Cognito Hosted UI with the Authenticator HOC:

[code]

The ApolloProvider is for Apollo Graphql as I'm not using the API methods from Amplify.

In Facebook App Dashboard make sure to add the redirect URI in the following format:
`https://xxxxxxx.auth.us-east-1.amazonco

[2018-08-08 08:00] mevert commented on #238
I just had similar issue and it turned out that I had old version 0.3.0. After updating aws-amplify to 1.0.5 "updateUserAttributes" started working again.

[2018-08-08 09:07] yuankunluo commented on #1395
@jadbox , thank you , your code solved my problem.

I follow these steps to add Azure AD (Office 365's User Directory) as an Identity Provider to my Cognito User Pool.

https://www.idea11.com.au/how-to-set-up-aws-cognito-federation-office365/

After successfully redirect to my localhost from AWS Cognito, i got the grant code.

The Angular Component i wrote to handle this returns looks like your co

[2018-08-08 09:07] #1395 closed

[2018-08-08 09:56] PerfectPixel commented on #661
@39ro
short question regarding your suggestion: what about the `userPoolWebClientId`? Isn't this specific to the pool or do you solve this with having an identity pool?

[2018-08-08 10:03] PedroS11 opened #1411 "Amplify - user.sendMFACode is not a function"
I'm using aws amplify login and register on my backend for an api. I created two routes, login and confirmLogin. On the first one, i have:

    router.post('/login', (req, res, next) => {
        const { username, password } = req.body

        Group().Auth.signIn(username, password)
            .then(user => {
                res.send(user)
            })
            .catch(err => next(createErro

[2018-08-08 10:59] andersforsell commented on #891
Ran into this issue using AWS Amplify 1.0.5 with a webpack configuration.

Locally patched rng.js as suggested above.

Any progress on this?

[2018-08-08 11:50] romainquellec commented on #1108
yes, its working with noImplicitAny tricks.
But it should work without these kind of tricks, right ?

(I can still close this issue if you want)

[2018-08-08 12:41] pbzona commented on #1328
I don't think there's a way to configure this currently, but it's a limit of the Cognito service, not Amplify. From the Cognito docs:

[Source](https://docs.aws.amazon.com/cognito/latest/developerguide/signing-up-users-in-your-app.html#allowing-users-to-sign-up-and-confirm-themselves)

So you can probably code in a custom verification flow that does something close to what you want, but it doesn't

[2018-08-08 13:11] rudyhadoux opened #1412 "Storage incompatible with Angular sanitizing"
Hi,

If I use <img src="AAAAAAAA"> with AAAAAAAA the item link from AWS Amplify Storage, it works with Angular 6.

But if I use a variable for the link, I must sanitize and sanitizing gives a wrong modified URL.
I do not find how to success. I have tried a lot of possibilities.

[2018-08-08 13:50] andersforsell commented on #762
I ran into a similar issue when trying to use aws-amplify.min.js: `Uncaught TypeError: Cannot set property 'createCredentials' of undefined
    at index.js:94
    at index.js:95
    at Object.<anonymous> (index.js:81)
    at t (bootstrap 515bcd2fd5c585957926:19)
    at Object.<anonymous> (AuthenticationHelper.js:21)
    at t (bootstrap 515bcd2fd5c585957926:19)
    at Object.<anonymous> (aws-amplif

[2018-08-08 14:24] rogerioc commented on #1406
Hello, I could to do work using this libs inside android project
implementation ('com.amazonaws:aws-android-sdk-cognitoauth:2.6.+@aar') { transitive = true }
implementation ('com.amazonaws:aws-android-sdk-auth-core:2.6.+@aar') { transitive = true }
implementation ('com.amazonaws:aws-android-sdk-auth-ui:2.6.+@aar') { transitive = true }
implementation ('com.amazonaws:aws-android-sdk-cognitoauth:2.6

[2018-08-08 15:14] vahdet commented on #54
This identity ID is also referred for getting other users’ objects in the docs [here](https://aws-amplify.github.io/amplify-js/media/storage_guide.html) like:
[code]
I tried to get that **the identityId of that user** via a post confirmation lambda trigger to store in DynamoDB, but no chance.

Even if it was returned by `Storage` API after a put, it would make everything easier. But it is not avai

[2018-08-08 17:15] jordanranz commented on #997
Closing this due to inactivity. Please reopen if you have any more related questions.

[2018-08-08 17:15] #997 closed

[2018-08-08 17:33] jordanranz commented on #961
Going to close this due to inactivity. Please reopen if you are still experiencing this issue.

[2018-08-08 17:33] #961 closed

[2018-08-08 17:36] jordanranz commented on #1382
Seems like the PR merged fixed the issue. Please reopen if there are any more related questions or concerns.

[2018-08-08 17:36] #1382 closed

[2018-08-08 17:53] rudyhadoux commented on #1407
Why don't you manage roles inside your app ? And Cognito only to identify users without roles.

[2018-08-08 18:09] Jun711 commented on #684
@mlabieniec
In the [doc](https://github.com/aws-amplify/amplify-js/blob/master/docs/media/pub_sub_guide.md), there is no mention of ProvidertOptions.

In the [API doc](https://aws-amplify.github.io/amplify-js/api/interfaces/providertoptions.html), there is no example given.

[code]

@drewdecarme
just wonder what JS framework u r using regarding the following syntax.
[code]

[2018-08-08 18:30] rudyhadoux commented on #1352
It works for me for S3 objects with AES-256 KMS.

[2018-08-08 19:28] jordanranz commented on #869
@alshdavid,
You can find announcements and discussion threads in the Amazon Cognito forum category:
https://forums.aws.amazon.com/forum.jspa?forumID=173

[2018-08-08 19:40] Jun711 commented on #781
What are the minimum permissions needed if anyone knows? thanks

[2018-08-08 20:20] YaswanthC opened #1413 "Does this method `adminResetuserpassword` present in Amplify ?"

[2018-08-08 20:31] volodymyrrudyi commented on #1353
Same here, basically AWS Amplify doesn't handle expired tokens correctly.

[2018-08-08 21:56] Jun711 commented on #1270
@jameshamann
What js framework r u using?

`import { AWSIoTProvider } from 'aws-amplify/lib/PubSub/Providers';` works for me in Angular

[2018-08-08 22:10] jadbox commented on #1386
I'm also having problems with the authentication persisting. Once being logged in successfully in my app with the Code token, if I redirect to remove the code... Amplify no longer recognizes that I was authenticated. I have tried both cookies and localhost options without success. Maybe I'm missing something?

[2018-08-08 22:47] tunecrew commented on #1386
@jadbox I'm not having that problem - I am not using cookies but I'm not sure what you mean by "localhost options"

[2018-08-08 22:48] powerful23 commented on #1386
@tunecrew I can answer the second question. I agree to add a state like `isAuthenticating`. For example, we can dispatch an `isAuthenticating` event by the Hub module so you can check it every time the page is reloaded. We are also working on to add a loading page for `aws-amplify-react`.

@jadbox How are you redirecting your app? The code returned by Cognito will be used to revoke another call to

[2018-08-08 23:16] ladybugcollab opened #1414 "React-Native starter project: Auth.signIn fails only in Release Mode"
Do you want to request a feature or report a bug?

Report a potential bug

What is the current behavior?

I am trying to get aws-mobile-react-native-starter running. I have things working in Debug mode, but when I switch to release mode, the call to Auth.signIn fails with message "Sign in failed". However, when I kill the app and reopen it, the user is authenticated! This only happens in release m

[2018-08-09 00:11] ddddave commented on #1401
hey @jordanranz so I have come across an obstacle based on the code I included above, Create-React-App ships with Progressive Web App features by default. When CRA is deployed in PWA mode the login with the Cognito Hosted UI does not work when the app has been added to the home screen in iOS 11.3 or later.

Progressive Web Apps in Apple iOS 11.3 and up appear to not allow redirects within a web ap

[2018-08-09 00:39] jadbox commented on #1386
I meant "localstorage", lol. Corrected the mistake above.
@tunecrew do you do anything special to persist authentication after the code/token is removed from the url?

[2018-08-09 01:38] tunecrew commented on #1386
@jadbox calling Auth.currentAuthenticatedUser() seems to be what reads the `?code=xxx` part of the url and then gets the tokens from Cognito backend (and stores them in localstorage). So once this happens you can redirect as the tokens will be in localstorage already - so I am doing the redirect after making this call.

[2018-08-09 02:07] jadbox commented on #1386
@tunecrew is there a different promise other than currentAuthenticatedUser for when the user should be authenticated what the data is in localstorage rather than coming from uri query `code=` param? I actually see that "CognitoIdentityServiceProvider" keys get saved to local storage, but as soon as I remove the "/callback?code=xxx" from the url, the reloaded page loses all those keys in localstora

[2018-08-09 02:10] goodryanboy opened #1415 "No endpoint are registered in pinpoint campaign."
I cant send push notification through campaign in pinpoint but I can send direct message through device token. Help me solved this issue i installed all the project needed for this porject

here is my setup

[code]

but i can see some endpoint in the analytics but there is nothing in the targetable endpoints
![aws pinpoint](https://user-images.githubusercontent.com/26914582/43874086-55a80d12-9bbc-

[2018-08-09 02:19] dcoellarb commented on #311
@phoenecke did you find a workaround? i'm having the same issue on react native + aws amplify + react-native-google-signin

[2018-08-09 03:28] phoenecke commented on #311
@dcoellarb I was just playing around with amplify and federated login, and I never really tried to build something real with it.  I didn't do a lot of testing, but I think I ended up with something that seemed to work with google sign in and **identity pool** integration (I had no user pool involved).  I think it is important to emphasize here, that `federatedSignIn` definitely will not do anythin

[2018-08-09 03:30] hutch120 opened #1416 "AWSPinpointProvider.js throws Uncaught error: Cannot read property identityId"
Bug

AWSPinpointProvider throws an uncaught error. `AWSPinpointProvider.js:435 Uncaught (in promise) TypeError: Cannot read property 'identityId' of undefined` Full trace below.

I'm not sure why or how this is happening. It happens regularly, but not sure how it is triggered, there is no reference to my code, so I've no idea how to reproduce it.

AWSPinpointProvider handles case of identityId bei

[2018-08-09 13:11] DIPANSHU61 opened #1417 "'no userpool' error in both android and IOS."
Hello guys,

I have use below mention version.
"react-native": "0.56.0",
"react-native-aws-cognito-js": "0.0.7",
"react": "16.4.1",

Please help me.

[2018-08-09 13:15] #1413 closed

[2018-08-09 13:26] roghib opened #1418 "npm ERR!"
npm ERR! code Z_BUF_ERROR
npm ERR! errno -5
npm ERR! zlib: unexpected end of file

npm ERR! A complete log of this run can be found in:

[2018-08-09 13:29] jameshamann commented on #1270
@Jun711 I'm using React.

I think you're right because I did double check with an older version to see if it worked, it's just an issue with renaming the folder names in the path.

I've opened a PR to update the website but it can be fixed using the suggestion above if you ever do run into the issue.

[2018-08-09 14:16] akasa9525 opened #1419 "Amplify class (Amplify.ts) of aws-amplify unpredictable behaviour"
I am using Node js - 8.11.3
[code]
throws me an error : **awsAmplify.configure is not a function**
But we see in aws-amplify/packages/aws-amplify/src/Common/Amplify.ts at line 28, there is a static function by the name of configure.

I found that this issue is happening because, all the member functions oh the amplify class are wrapped in a json with key as default.

Amplify structure:
[code]

so

[2018-08-09 14:51] Private-SO opened #1420 "Resending verification link in cognito ?"
HI,

I have scenario like this in cognito :

When the user has entered the credentials but didn't confirm it , then it will be saved as unconfirmed in the cognito. So, unless the user confirms the link it will be in unconfirmed state in cognito . For this i had used `Auth.resendSignUp`  API but after usage of this API i got an error saying that `LIMITEXCEEDEDEXCEPTON` . But `Auth.signup` API is wo

[2018-08-09 15:01] XCarle opened #1421 "More informations about the PubSubOptions please!"
Hi guys,

the only informations we get about the PubSubOptions documentation are :
`
aws_pubsub_region: 'eu-west-1',
aws_pubsub_endpoint: '',
`
The informations we can get from the code is :
`
export interface PubSubOptions {
    [key: string]: any;
}
`

May you provide a list of the configurable options for the PubSub mecanism?

[2018-08-09 15:37] dcoellarb commented on #311
tks @phoenecke it definitely point me in the right direction, i don't love having to call Auth.federatedSignIn on every app load, but hey it works ;), so is good workaround for now, just fyi i could not use GoogleSignin.currentUserAsync i had to use GoogleSignin.signInSilently, maybe i'm using a different version.

Tks again

[2018-08-09 15:43] Knewtone opened #1422 "ERROR in node_modules/aws-amplify-angular/lib/components/storage/photo-picker-component/photo-picker.factory.d.ts(3,10): error TS2305: Module '"/Users/knewtone/Dropbox/knewtone.com/projects/WorkSpace/softwares/yet.marketing/node_modules/aws-sdk/clients/cognitoidentity"' has no exported member 'String'."
Report a bug?

when starting an angular project, i have this error :

**Package.json**

[code]

If i go to the file

i see the error on

`import { String } from 'aws-sdk/clients/cognitoidentity';`

i can confirm that this can be a workarround  :

`import * as String from 'aws-sdk/clients/cognitoidentity';`

[2018-08-09 15:44] aaronseatsmart opened #1423 "Master branch amazon-cognito-identity.js is minified, probably shouldn't be"
Do you want to request a feature or report a bug?

_Bug_

What is the current behavior?

_In master branch, the file /packages/amazon-cognito-identity-js/dist/amazon-cognito-identity.js Is minified, and probably shouldn't be._

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run you

[2018-08-09 17:09] HelloQingGuo commented on #1354
I have the same issue here after using AmplifyService !!!
I checked those generated js chunks, they are ionic stuff which I did not use in the project.
I guess it did not remove ionic module when bundling.
Please help !
<img width="773" alt="screen shot 2018-08-09 at 1 08 26 pm" src="https://user-images.githubusercontent.com/31576447/43914248-592ee88e-9bd5-11e8-89ba-d9d6d2feb62c.png">

[2018-08-09 17:51] jadbox commented on #1386
@tunecrew any help would be super appreciated... I've been literally stuck on this for the last few days. I'm so close too, but I just can't seem to get authentication "to stick" when moving to another page.

[2018-08-09 21:00] jadbox opened #1426 "bug: auth by Hosted UI does not persist in localstorage"
Bug Report

Problem: after successful login, reloading the page without the code token does not persist authenticated state. It seems to be a localstorage issue where Amplify is clearing the `CognitoIdentityServiceProvider` keys out.

I cannot get Amplify to persisted an authenticated state after logging in via the Hosting UI [oauth]. I tried both Implicit Token and Code Grant, with cookies and wi

[2018-08-09 22:50] powerful23 commented on #1378
The issue happens if your localStorage are cleaned too many times or you don't have localStorage so that the Amplify will generate a new endpointId every time.

[2018-08-10 02:35] imjaroiswebdev commented on #563
@chrisgrg Thanks! This solution worked great for me

[2018-08-10 03:27] Jun711 commented on #1378
@powerful23
yea, I have it clean the localStorage specifically 2 cognito keys when I can't log in due to
Linked logins disabled on Federated Identities
https://github.com/aws-amplify/amplify-js/issues/1015

[2018-08-10 04:25] shicholas commented on #1335
I nuked everything with cloudformation, re-ran the scripts, and now everything seems to work.

Closing this because I don't think the problem is with the javascript library. Still kinda befuddled, but I'll take it.

Thanks so much for releasing this library and your work!

[2018-08-10 04:25] #1335 closed

[2018-08-10 04:42] juno-visualsquares opened #1429 "Translation / Multiple language of cognito hosted sign-in ui"
Do you want to request a feature or report a bug?
feature request

What is the current behavior?
[code]

What is the expected behavior?
N/A

Which versions of Amplify, and which browser / OS are affected by this issue? Did this work in previous versions?
N/A

[2018-08-10 08:53] byio commented on #399
hey guys, i'm using the Auth.signIn() method which returns a CognitoUser object and among its properties, the signInUserSession has a value of null.

and when i ran `await Auth.currentSession()` i got 'No current user' as well.

if it helps, i'm following a tutorial and this is the [step](https://serverless-stack.com/chapters/load-the-state-from-the-session.html) i'm currently on when i encountere

[2018-08-10 11:50] dilanthaH commented on #606
@yuntuowang Hello, do you know the status of this feature request? Thanks.

[2018-08-10 11:59] D2KX commented on #1410
AWSAppSyncClient integrates with the Apollo Client for GraphQL, which offers a few advanced features such as offline support and caching that AWS Amplify does not (currently) support, but that many people don't need anyway.

My recommendation would be to stick with AWS Amplify for AppSync until you need an advanced feature that Amplify doesn't support.

[2018-08-10 12:09] vithmel commented on #606
Now I think this is not bug. This is how JSON Web Tokens(JWT) works.

[2018-08-10 14:37] goodryanboy commented on #1347
what version did you use when you got it working?

[2018-08-10 17:21] pjay79 opened #1430 "API, graphqlOperation, AppSync"
First of all, I really think the work done on AWS Amplify is amazing, thank you.

But i'm also a bit stuck with using API with graphql, so any help would be appreciated.

I am using AWS Amplify with Cognito User Pools for authentication. I have user sign up / sign in / sign out all working nicely. I have also enabled AppSync with some basic queries and mutations and have a User table setup. When t

[2018-08-10 19:17] sashafklein commented on #1288
Agreed. Is there any way to track upload/download progress? Important feature for large files.

[2018-08-10 20:05] CHR15- commented on #42
@mlabieniec If we need to sign sig4 manually, is there a way to subscribe to the JWT refresh?

[2018-08-10 20:07] saaniaki commented on #1355
I'm using Angular, the problem was that the type mapping file doesn't have this method in it, so I couldn't call it. Anyway, I forced it to call and ignored the typescript error by adding `[x: string]: any;` to the index.d.ts file for CognitoUser class (not a good idea). Now it's working, thank you!

Hope they add it in the next update!

[2018-08-11 03:07] #1430 closed

[2018-08-11 17:42] alexchro93 opened #1431 "Node.js | Auth.signIn() | "message": "Unknown error, the response body from fetch is: undefined""
**Do you want to request a feature or report a bug?**
Bug

**What is the current behavior?**
Calling of Auth.signIn(username, password) results in the following error:

[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Node Version - v8.11.2
NPM Version - v5.6.0

package.json
[code]
login-user.js
[code]

After some de

[2018-08-12 05:11] powerful23 commented on #1415
@goodryanboy you need to configure the Auth module in order to get a valid AWS credentials for the Pinpoint service. You can call `Amplify.configure()` or `Auth.configure()`. Also you could open the debug mode to provide more info by put `window.LOG_LEVEL='DEBUG'` in the code.

[2018-08-12 05:14] powerful23 commented on #1416
@hutch120 do you have a Cognito Federetated Identity Pool to generate the AWS credentials for you? The error seems to be caused by lack of a valid credentials object.

[2018-08-12 05:15] powerful23 commented on #1419
@akasa9525  This is a expected behavior. Will this as documentation enhancement.

[2018-08-12 07:08] hutch120 commented on #1416
Hi @powerful23 thanks for getting back to me.

Yep, the login system works 100%. And provides access to the S3 bucket, etc. But I think I've figured out the problem as I was writing a response.

I configured the Federated Identity with the authenticated role selection dropbox to `Choose role from token` and set `Role resolution` to DENY. Which means the role assigned is now defined by the Cognito

[2018-08-12 07:08] #1416 closed

[2018-08-12 11:59] alexchro93 commented on #1431
This issue can be averted by providing a global value for userAgent:

[code]

[2018-08-12 16:17] rudyhadoux commented on #1412
It works.
My problem was just an "observables cascade" problem.

[2018-08-12 21:50] aaayushsingh commented on #1406
I usually see this error when the network connection on the device is unstable/not working. Can you verify if the network is fine?

[2018-08-12 22:38] goodryanboy commented on #1415
@powerful23 I already have the Amplify.configure() in my code. Sorry that i dont include it in the documentation. Do it require that the region of the pinpoint must be the same with the region of the Amazon Cognito? because i have a different region . Thank you

[2018-08-13 02:30] goodryanboy commented on #1415
Thank you I got it Already,,, Its the Policy errror, I did not update my policy

[2018-08-13 02:32] goodryanboy commented on #1347
I solve this by adding Pinpoint policy in the roles of the Cognito,, hope it helps you

[2018-08-13 03:37] syeem commented on #993
@manueliglesias Any updates on this? I have facing the exact same problem.

[2018-08-13 04:35] dguisinger opened #1435 "Latest Amplify 1.0.5 and Apollo 2.3.8 / AppSync 1.3.3 can't coexist?"
I have an Angular 6 application with Apollo 2.3.8 and AppSync 1.3.3.  I recently tried to add AWS Amplify and am getting:

ERROR in node_modules/@aws-amplify/api/node_modules/@types/zen-observable/index.d.ts(32,14): error TS2300: Duplicate identifier 'Subscriber'.
node_modules/@types/zen-observable/index.d.ts(33,14): error TS2300: Duplicate identifier 'Subscriber'.

Are these libraries not compati

[2018-08-13 06:25] wdm954 opened #1436 "Custom UI withAuthenticator"
I've created a custom **SignIn** component and I'm attempting to use it as documented here:
https://aws-amplify.github.io/amplify-js/media/authentication_guide#customize-withauthenticator

I'm assuming once **Auth.signIn** is successful the library will render **ConfirmSignIn** however this doesn't happen. It just stays on the **SignIn** component. I know the call was successful because I console.

[2018-08-13 13:07] poplapetja opened #1437 "API: Add support to send FormData"
**Do you want to request a feature or report a bug?**
New feature

**What is the current behavior?**
Blank JSON object `{}` will be sent to server

**Steps to reproduce**
[code]

**What is the expected behavior?**
Contents of [`FormData`](https://developer.mozilla.org/en-US/docs/Web/API/FormData/Using_FormData_Objects) will be sent to the server successfully.

**Version**
`"@aws-amplify/api": "1.0

[2018-08-13 13:38] bhaskardabhi-oviyum commented on #1324
Any workaround for this?

[2018-08-13 14:11] tibraga commented on #1241
In the version 1.0.5 does not working. I set versin 1.0.2 and works.

[2018-08-13 14:53] tibraga commented on #1094
+1 for documentation

[2018-08-13 16:29] #1379 closed

[2018-08-13 16:33] johneast commented on #1195
I've hit problems with auth() in iOS 9, resulting in not being able to sign in. Can anyone confirm if Amplify will work on older Safari versions?

[2018-08-13 16:40] powerful23 commented on #1416
@hutch120 if you only using AWS S3, I think you can use '@aws-amplify/storage' instead of 'aws-amplify' which will only import the storage module for you.
For example:
[code]

[2018-08-13 16:44] matrunchyk commented on #891
Same issue,
`"amazon-cognito-identity-js": "^2.0.20",`

[2018-08-13 17:11] powerful23 commented on #1195
@johneast I tested in IOS 9.3 and it works for me. Can you provide more details like what's the error?

[2018-08-13 18:11] joshjreed opened #1440 ""withOAuth" include SAML providers"
**Do you want to request a feature or report a bug?**
Feature Request

**What is the current behavior?**
When using the React component for authentication it doesn't seem possible to display the available SAML providers as options for signin. Having the option to display SAML links along with the standard username/password form (just like the default Cognito login page does) would be much nicer an

[2018-08-13 19:28] matrunchyk commented on #888
Could you please merge it?

[2018-08-13 19:34] matrunchyk commented on #891
@mlabieniec do you have any ideas how to make a workaround of this issue? Our staging environment doesn't work, people are literally waiting until it gets resolved.

[2018-08-13 19:40] manueliglesias commented on #1418
Hi @roghib

Can you provide some more details?

- What were you trying to do?
- Which environment?
- Which npm package in this repo?

[2018-08-13 20:37] powerful23 commented on #1426
@jadbox I tried in my localhost without any issue. The items with key `CognitoIdentityServiceProvider` persisted after reloading the page. Can you check if you accidentally clean the localStorage? Or you can provide more details about your app so we can reproduce it.

[2018-08-13 21:14] sconzof commented on #1440
@joshjreed - sorry to reach out to you this way, but I saw in your open issue ^^^ that you have an amplify app using SAML auth. I've been trying to get aws-amplify to work with aws-appsync, using SAML-based IdP with Cognito authentication. Did you find a good example of this working somewhere, or figure it all out yourself? _Again, apologies for hijacking your issue._

[2018-08-13 21:52] manueliglesias commented on #1435
Hi @dguisinger

I am having trouble recreating the issue, can you provide some more details? or even better, a codesandbox.io or similar showing the problem? (e.g. I did this https://codesandbox.io/s/ww6524ozk)

This is my `npm ls @types/zen-observable`:
[code]

and my `main.ts` (from `ng new my-app`)
[code]

[2018-08-14 00:17] srchase opened #1442 "photopicker component imports CognitoIdentify client unnecessarily"
Hello,

An issue has been opened on the JavaScript SDK: [https://github.com/aws/aws-sdk-js/issues/2192](https://github.com/aws/aws-sdk-js/issues/2192)

Specifically, the photopicker component is causing issues when importing the CognitoIdentity client.

https://github.com/aws-amplify/amplify-js/blob/8f6c448b8f231cf9ba93a314730a81246cd5f7c5/packages/aws-amplify-angular/src/components/storage/photo-

[2018-08-14 00:26] adambiggs commented on #500
@jordanranz please reopen this. It's still totally unresolved...

[2018-08-14 01:02] johneast commented on #1195
I should also add, I'm doing this in an Ionic 3 app. The error object thrown by Amplify is:
[code]

The code that produces this is:
[code]

The `amplifyService` is injected. I get the log line 'Logging in'. After a little pause, I get the error log line from the `catch`. I don't see the line that says 'Logged in' so I know the exception isn't coming from my own code.

My package.json looks like:
[

[2018-08-14 04:51] dguisinger commented on #1435
Odd, I tried to reproduce it in CodeSandbox like you suggested and couldn't, then I turned back to my code.... and it was no longer occurring even though I hadn't touched it since copying and pasting the error last night, and had spent several hours over multiple days trying to figure out what was going on....

Guess its working now... and I am beyond confused

[2018-08-14 04:51] #1435 closed

[2018-08-14 05:09] roghib commented on #1418
$ npm install aws-amplify --save

SyntaxError: Unexpected end of JSON input while parsing near '...el-loader":"^7.1.2","'
process._tickCallback (internal/process/next_tick.js:188:7)

Windows_NT 10.0.17134
node v8.11.3
npm  v6.3.0

[2018-08-14 06:45] Cordazar commented on #301
@annjawn

In terminal:
[code]

In code:
[code]

[2018-08-14 10:45] ledubenjamin commented on #760
+1

[2018-08-14 12:27] joshjreed commented on #1440
@sconzof I mostly pieced it together by myself. There doesn't seem to be much good documentation on Amazon's side for that setup. I wasn't able to get the Amplify sign-in component working with SAML, so instead I'm using the generated cognito login page with a redirect back to my app. I'm not really happy with the solution, so I'm hoping there are some more options I missed.  Good luck!

[2018-08-14 12:49] sconzof commented on #1440
@joshjreed thanks for the reply! Though that's disappointing to hear that you couldn't get the SAML sign-in working from within your app. I'm surprised at how much friction I'm encountering to get this all working.

[2018-08-14 13:37] harshayburadkar commented on #1338
Great, that very much makes sense.

It indeed can be mentioned in the document to avoid some bad first-use experiences for users trying the library out. Users won't always proactively think about(and shouldn't have to) when withAuthenticator might be using the config i.e. at initialization or at runtime while rendering the wrapped component.

I moved the Amplify.configure to index.js which is the

[2018-08-14 13:37] #1338 closed

[2018-08-14 16:14] AllanFly120 commented on #1442
Basically in [aws-sdk v2.287.0](https://github.com/aws/aws-sdk-js/commit/67081dcf5c07bd26cd06e9262149b522430c5e12), the unused typings are removed from the model, which contains the `String` type referred here. You can just remove the `String` import and instead use normal `string` types here.

[2018-08-14 17:12] powerful23 commented on #500
@adambiggs in the latest version of amplify you can use the auth module without providing a Cognito Federated Identity pool id.

[2018-08-14 17:15] powerful23 commented on #1414
@ladybugcollab can you update to use the latest version of `aws-amplify-react-native`. And you don't need to install `aws-amplify` or `amazon-cognito-identity-js`. Also could you try `react-native log-android` to get the log info?

[2018-08-14 17:37] powerful23 commented on #1423
@aaronseatsmart the build files in the github repo is not correctly updated with the latest version. We are going to remove those files in the recent days.

[2018-08-14 18:32] AbhideepChakravarty commented on #500
Awesome!!!

On Tue, Aug 14, 2018 at 10:42 PM Zhuo wen <notifications@github.com> wrote:

[2018-08-14 19:46] markmckim opened #1444 "Cognito Sign In -> Sign Out -> Sign In Does Not Work"
New iOS App From Scratch
Integrated React Native into existing app as per React Native Docs
Integrated AWS Amplify
Versions:
react: 16.4.1
react-native: 0.56.0
aws-amplify: 1.0.6
aws-amplify-react-native: 1.0.6
amazon-cognito-auth-js: 1.2.4
amazon-cognito-identity-js: 2.0.21

Description:
Second sign in fails

Steps To Recreate:

Create New iOS App In Android Studio
Integrate Auth using withAuthen

[2018-08-14 20:13] vivekFAGH opened #1445 "GraphQL error - Cannot use e "__Schema" from another module or realm."
Do you want to request a feature or report a bug?
Maybe a bug

What is the current behavior?
Using a ionic 3 app and amplify 1.0.5 on android and ios. I get the following graphql error:

Error: Cannot use e "__Schema" from another module or realm.

Ensure that there is only one instance of "graphql" in the node_modules
directory. If different versions of "graphql" are the dependencies of other
rel

[2018-08-14 20:13] ladybugcollab commented on #1414
Thank you. Upgrading `aws-amplify-react-native` seems to have fixed the issue.

[2018-08-14 20:13] #1414 closed

[2018-08-14 20:48] markmckim commented on #1444
May be related to this:
* https://github.com/aws-amplify/amplify-js/issues/1012
* https://github.com/imjaroiswebdev/amplify-js/commit/ae8f02eff92d9256ff7cb051aeb8bfdab1438feb

[2018-08-14 21:13] jadbox commented on #1426
@powerful23 Well I definitely know localstorage is not being cleared out, as the other cognito keys (can't remember them exactly) and even some test keys I add are persisted when the page reloads. It seems like specifically all keys `CognitoIdentityServiceProvider*` are cleared on refresh. I've tested this on two different computers using the latest version of Chrome, with addons disabled. For the

[2018-08-14 21:29] EwanValentine commented on #711
^ how do you set that up/do that?

[2018-08-14 23:55] gpolyn commented on #992
@lolcoolkat I'm a confused by your assertion re JWT handling as the block for SSR.

When I follow the `userPoolUser` logic branch of `Auth.currentAuthenticatedUser`, I pass by storage and get to JWT actions involving `amazon-cognito-identity-js/src/Client.js`, where fetch could be have been polyfilled, for example, by `isomorphic-unfetch`. So, isn't the SSR block with storage? If so, if storage is

[2018-08-15 00:58] jadbox commented on #1426
@powerful23 wow, that did it! I should have noticed point #1 though. THANK YOU. I've been banging my head on this for nearly 3 weeks. Please do document as much as possible :)

[2018-08-15 00:58] #1426 closed

[2018-08-15 02:46] theurbanforrest commented on #632
I’m also having this issue.  Works fine on development but as soon as I publish, I get the params.Body problem 😪😪

[2018-08-15 03:04] tcchau commented on #1268
Hi @tarciosaraiva, if it won't divulge any secrets or security issues, would you mind explaining what the misconfiguration is/was? I am running into the exact problem, i.e. migrated user accounts and using USER_PASSWORD_AUTH to facilitate the migration trigger.

[2018-08-15 03:25] robwhelan commented on #632
Identical problem but with audio files.

[2018-08-15 06:07] kidcosmic opened #1446 "Storage.put should accept Streams outside of Node environments"
Do you want to request a feature or report a bug?
This is a feature and a bug i believe.

What is the current behavior?

Storage.put fails in react native when passing in a stream as the file object. Error:
[code]

What is the expected behavior?

Storage uploads the file.

Which versions of Amplify, and which browser / OS are affected by this issue? Did this work in previous versions?

[code]

[2018-08-15 06:32] medarz commented on #487
Same here. Registration is successful for the user, but **signUp** is returning **"Unknown error, the response body from fetch is: undefined"**. I'm doing this request from the browser.

[2018-08-15 08:44] flashfabrixx commented on #789
@nielsgl Happens to me as well.

The workaround of overwriting the regions in the `dataSources.json` doesn't feel like a valid solution for the future.

[2018-08-15 10:44] tuhinkarmakar opened #1447 "Amplify Breaks Quick Fixes in VS Code"
#### Do you want to request a feature or report a bug?
Bug

#### What is the current behavior?
If Amplify (`aws-amplify`) is installed as a dependency of an Angular project (and imported in `main.ts`), quick fixes in VS Code stop working. This issue surfaced after upgrading to VS Code 1.26 (with TypeScript 3.0.1). Removing Amplify from the project fixes the issue. I have also tested with the indiv

[2018-08-15 11:47] PedroS11 commented on #1324
`var AWS = require('aws-sdk');

exports.getUsers= () => {
	var params = {
	  UserPoolId: USER_POOL_ID
	  AttributesToGet: [
	    'ATTRIBUTE_NAME',
	  ],
	};

	return new Promise((resolve, reject) => {
		AWS.config.update({ region: USER_POOL_REGION, 'accessKeyId': AWS_ACCESS_KEY_ID, 'secretAccessKey': AWS_SECRET_KEY });
		var cognitoidentityserviceprovider = new AWS.CognitoIdentityServiceProvider()

[2018-08-15 12:27] NextStepDev commented on #1398
<img width="1002" alt="screen shot 2018-08-15 at 2 20 31 pm" src="https://user-images.githubusercontent.com/39392048/44148087-12b2a316-a097-11e8-874d-3ae43fb2ad5e.png">

I upgraded to v1.0.6 and am still experiencing this issue. Here is some of the output I getting from calling Auth.signIn and then Auth.currentSession after successful login, with `window.LOG_LEVEL='DEBUG'` set.

[2018-08-15 13:52] tcchau commented on #498
@stripathix This is a long shot, but have you tried turning off Device Tracking in your user pool, if it's currently on, to see if it makes a difference?

I'm still investigating my particular problem: using Amplify for Auth and the migration trigger seems to result in a User object being returned that doesn't have a device key cached to local storage. Thus, when I used Auth.currentSession() to re

[2018-08-15 14:40] nikhilsinha commented on #487
I'm getting the same error as @medarz is

[2018-08-15 15:23] yarax opened #1448 "Websockets reconnection behaviour"
I've just found out, that according to https://github.com/aws-amplify/amplify-js/blob/400b1cb2f393d33efe5aa824f730b3155a2f9822/packages/pubsub/src/Providers/MqttOverWSProvider.ts#L73 doesn't handle loosing of websocket connection.

So using GraphQL subscriptions we don't have any possibility to handle reconnection.
Or I'm wrong and there is any way to do it?

[2018-08-15 15:52] sconzof opened #1449 "Amplify doesn't recognize existing Cognito Session created by ELB"
Do you want to request a feature or report a bug?
I would classify this as a question initially, depending on whether what I'm trying to do it supported.

What is the current behavior?

**Brief summary:**
The Amplify library in my AWS AppSync React App is not recognizing that users already have Cognito sessions, created by an AWS ELB. Is it possible for Amplify to recognize a user is already logge

[2018-08-15 17:11] powerful23 commented on #1398
@NextStepDev seems like you need to do an extra verification to complete the sign in process. For example:
[code]

[2018-08-15 18:50] #382 closed

[2018-08-15 18:59] ChadElias commented on #1173
+1 Just started running into this issue

[2018-08-15 19:35] manueliglesias commented on #1446
Hi @kidcosmic

The S3 implementation of the Storage category uses the aws-sdk S3 client to do the upload by setting the `Body` param. According to the [aws-sdk S3 client docs for putObject](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#putObject-property), this param accepts the following types:

[code]

With that being said, my suggestion would be to try to get a Buffer from you

[2018-08-15 19:37] manueliglesias commented on #1448
Hi @yarax

It is currently not supported, I am labeling this as a feature request so we can track it, thanks!

[2018-08-15 19:40] tarciosaraiva commented on #1268
Hi @tcchau our configuration is setup using terraform and I was fiddling with thr "Advanced Security" features in Cognito - among other things - that caused something in their engine to generate tokens with a certain signature that could not be verified using the USER_PASSWORD_AUTH method for some reason.

I've since recreated the user pool and all is well.

[2018-08-15 20:02] kidcosmic commented on #1446
Won't work out without loading the entire file into memory. You're right about this being an aws-sdk issue. I'll move this there. Cheers!

[2018-08-15 20:37] svstartuplab commented on #774
I used the console to setup an app client for a user pool and I used the default domain name.  The Cognito login page loads with non-unique id errors for #cognito-asf-data, #password, #username.  I don't see how I have control of that in the Cognito console.

[2018-08-15 21:48] haverchuck commented on #1445
Hi @vivekFAGH ,

Thanks for reporting this.  Have you updated either your version of GraphQL or your version of Amplify recently?

[2018-08-15 22:08] NextStepDev commented on #1398
Got it, thanks.

Now when Auth.confirmSignIn is called to verify the login with MFA, I get the error `ser.sendMFACode is not a function`.

seems to be related to this open issue: https://github.com/aws-amplify/amplify-js/issues/1411

[2018-08-15 23:02] powerful23 commented on #825
@Guitarkalle about this feature request if I am understanding correctly, you want to pass the tokens(idToken, accessToken) to the Auth module manually, for example:
[code]

[2018-08-15 23:07] powerful23 commented on #1398
@NextStepDev you need to make sure the user is a `CognitoUser` object. Can you provide some code snippets about how you are using the Auth module?

[2018-08-16 00:04] jbeard4 commented on #854
@avcohen installing aws-amplify@0.4.0 and aws-amplify-react@0.1.46 seemed to resolve this problem for me

[2018-08-16 01:33] tbkh91 commented on #1241
Yep same thing for me. Downgrading from 1.0.5 to 1.0.2 fixed the CredentialsError issue.

[2018-08-16 02:56] emzxcv commented on #769
I'm having the same problem @athJ  have you solved it?

[2018-08-16 08:06] plastikaweb commented on #1354
I have managed to overcome the problem by installing subpackages instead of the full package. So for example, I only need support for cognito and I only have added:

"@aws-amplify/api": "^1.0.5",
"@aws-amplify/auth": "^1.0.5",

My angular 6 build looks like this now:

<img width="754" alt="captura de pantalla 2018-08-14 a les 18 03 54" src="https://user-images.githubusercontent.com/5324001/4419624

[2018-08-16 08:42] athJ commented on #769
@emzxcv I solved it by building my own components in React, the Auth class in this sdk offers some methods that will help you build it .Building it from scratch is the only way if you want to use custom attributes . https://aws-amplify.github.io/amplify-js/api/classes/authclass.html

[2018-08-16 09:48] NextStepDev commented on #1398
My issue was that I was passing the username to` Auth.confirmSignIn` like how it is done in `Auth.confirmSignUp`, instead of passing a `CognitoUser` object. Thanks you guys for being a helpful and responsive team!

The original issue has been resolved, `Auth.currentSession()` is returning the current session information as expected, I am no longer receiving the `No current user` error.

[2018-08-16 09:48] #1398 closed

[2018-08-16 11:27] vivekFAGH commented on #1445
I do not have any other version of graphql, but yes, I have been trying to upgrade amplify from 0.4.8 to 1.0.x  without success. A clean install of the app after clearing cache still results in this error. If it helps, the only way i do not see this error after installing version 1.0.5, or 1.0.6,  is by excluding the minifyjs flag, So,

ionic cordova build android  --prod --release
---- Does not w

[2018-08-16 13:17] D2KX commented on #1354
Well, yeah, as long as you don't inject AmplifyService you can also keep using the full aws-amplify package, but that is barely a workaround.

Fortunately, it seems they are working on it, as can be seen here: https://github.com/aws-amplify/amplify-js/pull/1441 - not sure yet if it fixes all of the Angular-related issues, as it isn't merged yet.

[2018-08-16 13:25] adam3039 commented on #166
Has anyone found a solution for this? I'm 99% sure the phone number on an account I am testing is correct, it passes the validation when entering it in the Cognito dashboard, but I'm still getting this error (even with the IAM role created).

[2018-08-16 17:41] MainAero commented on #632
@marktorrance You're welcome. For my project this fix is no longer working. I'm confused. Can you describe how you applied my fix for your project?

[2018-08-16 18:48] manueliglesias commented on #1449
Hi @sconzof

Can you try waiting for the `cognitoHostedUI`event before trying to access the session? You can achieve this by using the `Hub` utility like this:

[code]

Let us know how it goes

[2018-08-16 20:42] haverchuck commented on #1393
@btmadison  That makes sense - there is an issue with typescript versions between 5 and 6 that is at play here.... Angular 6 shouldn't give you any problems.

[2018-08-16 20:55] #1012 closed

[2018-08-16 21:03] sconzof commented on #1449
Hi @manueliglesias:

Thanks so much for the assistance! One clarification though...

Are you suggesting I call `Amplify.configure(...)` prior to this component being used, and then within the `onHubCapsule` method, create the AWSAppSyncClient object, passing in the session creds?

Something loosely like this?
[code]

[2018-08-16 21:42] kidcosmic commented on #1446
So after chatting

[2018-08-16 21:42] #1446 closed

[2018-08-16 21:51] haverchuck commented on #1354
@D2KX @plastikaweb @HelloQingGuo @jrrewers
We are indeed working on this - the PR is in review, but you can try out the branch
[here](https://github.com/haverchuck/aws-amplify/tree/angular-rollup) if you wish.  Any feedback you have on it would be much appreciated.

The branch uses rollup to bundle the library and gets rid of the Ionic dependency.

[2018-08-16 21:56] lightchaser411 opened #1453 "Feature Request: Storage.put accept {uri} for React Native"
Currently, entire files have to be loaded into memory in order to upload a file in React Native.

React Native has added support for Files/Blobs in `XMLHttpRequest` and `FormData` which allows for optimal memory usage with file uploads.

`XMLHttpRequest.send({uri, name, type})`
`FormData.add({uri, name, type})`

Since, amplify-js may want to fully support React Native, amplify can add support for

[2018-08-17 02:36] scrapex commented on #669
Same here. aws-exports.js does not appear.
Using
    "aws-amplify": "^1.0.6",
    "aws-amplify-react-native": "^1.0.6",

[2018-08-17 14:33] medbz commented on #1109
Okay , I have faced the same error before in my angular 6 application . Just you have to add this code in your index.html `  <script>
    var global = global || window;
    var Buffer = Buffer || [];

  </script>`

[2018-08-17 18:32] haverchuck opened #1457 "No Linting in aws-amplify-angular"
Do you want to request a feature or report a bug?
Bug

What is the current behavior?
Linting is not configured in aws-amplify-angular package.

[2018-08-17 20:10] GavinQ1 opened #1458 "Auth.currentUserInfo() returns 'undefined' after being called for the first time"
Do you want to request a feature or report a bug?

**Bug**

What is the current behavior?

**Auth.currentUserInfo() behaves as expected in its first call after sign in but returns undefined in the following calls.**

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and

[2018-08-18 05:55] CodySwannGT opened #1460 "Can't use in Node environment?"
We've been using Amplify in several web and react native projects, but we recently tried to use it inside a lambda function, which causes the lambda function to timeout.

The code below is a file we are importing.

In client.js, the Amplify code is commented out and replaced with closer to the metal cognito code.

Like this, it works just fine.

With the Amplify code, the lambda function completel

[2018-08-18 14:04] eoinboylan commented on #1286
@aris-b This fixes the issue, Amplify docs should be updated to reflect this.

[2018-08-18 14:04] #1286 closed

[2018-08-18 14:44] onyii5119 commented on #1241
I am having the same issue. Has it been fixed?

[2018-08-18 14:50] rojagit opened #1461 "New User Registration not working"
Do you want to request a feature or report a bug? Bug

What is the current behavior? New User Registration not working via app nor console

Following https://github.com/aws-samples/aws-serverless-appsync-loyalty, after the app starts I cannot register a new user even after all validations have passed.
I dont get any email or SMS
Then I created a user manually. I did get an email asking me to chang

[2018-08-18 15:03] rojagit commented on #1461
I also set DEBUG mode, even though the core issue is on the cognito end, and it had no effect

Also, the user has "SMS MFA Status" Disabled, and even though the Pool has MFA enabled, it gives this error:

Cannot change the MFA setting when the user pool MFA is required. (Service: AWSCognitoIdentityProviderService; Status Code: 400; Error Code: InvalidParameterException; Request ID: fec55583-a2f6-1

[2018-08-18 17:35] karlmarxlopez opened #1462 "Handle push notification user interaction manually"
Do you want to request a feature or report a bug?
Feature

What is the current behavior?
No event fired when the user taps the notification.

What is the expected behavior?
There should be a way to handle the user interaction (e.g tapped or swiped) manually

[2018-08-18 22:25] sconzof commented on #1449
@manueliglesias
FYI - I tried adding a component that waits for `cognitoHostedUI`, but when I check the credentials provided by the Auth call, the `aws sts get-caller-identity` command still shows that the credentials are for an assumed role that is `Unauthenticated`.

[2018-08-19 03:27] oluomoniyi commented on #711
Hi EwanValentine,

To setup Unauthenticated Access, first off you need to set up Amazon Cognito to allow unauthenticated users.

- Choose Manage Federated Identities from the Amazon Cognito console:
- Click the name of the identity pool for which you want to enable or disable unauthenticated identities. The Dashboard page for your identity pool appears.
- In the top-right corner of the Dashboard p

[2018-08-19 11:05] n1te1337 opened #1464 "Cognito `UserNotConfirmedException` when calling `authenticateUser()`"
Hi,

This is a behaviour I came across when testing the `amazon-cognito-identity-js` library, hoping someone else had a similar issue and can point me in the right direction.

**Do you want to request a feature or report a bug?**

Not sure.

**What is the current behavior?**

When calling `authenticateUser()` for a user that didn't confirm their email the `amazon-cognito-identity-js` library throw

[2018-08-19 11:09] crjacinro opened #1465 "Auth.currentUserInfo() keeps on returning null."
Do you want to request a feature or report a bug?

What is the current behavior?

**Auth.currentUserInfo() keeps on returning null. It is being called after a successful Auth.signIn().**

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies

[2018-08-19 11:13] crjacinro commented on #1465
Current workaround is to just use the user details returned by the Auth.signIn().

![image](https://user-images.githubusercontent.com/28602346/44308223-f057f500-a3e3-11e8-9ed7-df524b11fb77.png)

[2018-08-19 11:14] crjacinro commented on #1465
Current work around is to use the user details returned by the Auth. signIn();

![image](https://user-images.githubusercontent.com/28602346/44308238-25fcde00-a3e4-11e8-8485-7f9ca73b8d13.png)

[2018-08-19 15:17] xscottx commented on #1316
Would someone (@bajzat @peetss) mind sharing out the snippet before the storage of the cognito token workaround?  I'm unclear on how you're invoking the oauth url after the Auth.federatedSignIn call.  I'm using the Facebook federated identity approach and it looks like from my react app I need to call the Cognito Oauth2 url, that then calls Facebook Oauth (https://your-cognito-domain/oauth2/idpres

[2018-08-19 15:43] AbdullahAdeeb commented on #122
@edgarelc @Ajji11 @kwoxford I had the same issue. fixed in v1.0.3
run: npm i aws-amplify-angular@1.0.3 -S

[2018-08-19 16:40] Aslamdesusa opened #1466 "Unknown error, the response body from fetch is: undefined"
When I am trying to login Getting this error
Unknown error, the response body from fetch is: undefined

Here Is my code What I have done

// console.log(request)
			const loginDetails = {
				Username: 'aslam17@navgurukul.org',
				Password: '*****************'
			}
			const authenticationDetails = new AmazonCogintoIdentity.AuthenticationDetails(loginDetails)

			const userDetails = {
				Username

[2018-08-19 19:05] myrcutio opened #1467 "Can't Disable SignUp"
Do you want to request a feature or report a bug?
Bug

What is the current behavior?
the withAuthenticator HOC only shows the default components, even when an array of components is passed as the third argument.

I'm trying to remove the SignUp component (since my User Pool isn't configured to allow it) using this code:
[code]

Instead this is what loads:
![image](https://user-images.githubusercon

[2018-08-19 21:15] mrowles commented on #382
If anyone is coming here late, this issue was not resolved here, but this helpful person over on Stackoverflow came to the rescue with a workaround: https://stackoverflow.com/questions/48801238/flow-for-authentication-when-mfa-required-for-user-in-aws-cognito/51394500#51394500

[2018-08-19 22:53] johneast commented on #1326
aws-amplify-angular 1.0.4-unstable.0 fixes it for me as well

[2018-08-19 23:05] alexchro93 commented on #1213
I agree that it would be nice to specify a group for the user during sign up.  That being said, is there any way to programmatically add a user to a group?

[2018-08-20 02:14] whisper-bye commented on #978
+1

[2018-08-20 02:30] undefobj commented on #978
@whisper-bye @workforfilmsGithub @guanzo can you give more information on the use case you're trying to accomplish that you could not achieve by leveraging the configuration of the Storage category and passing in the bucket & region name? For example:

[code]

Amplify has a goal around simplicity and settings through config, so it would help to know what you're trying to accomplish with a custom e

[2018-08-20 02:37] undefobj commented on #1213
@davidgatti @alexchro93 how would you imagine the approval for a user to be added to a group working for a feature like this? I agree with the point around not wanting to necessarily do this by hand, however just opening up a feature in Amplify, which is designed for client side programming, that interacts with Admin APIs has potential security implications that must be evaluated.

For example, if

[2018-08-20 02:53] davidgatti commented on #1213
@undefobj Hmm, lets maybe start to see what groups actually are and what are their purpose. To me a group is just a way to organize different groups of people. So then based on that I can for example show a different image.

But it seams that in this case groups here are more like groups in IAM, where policies get attached to those groups which then allow access to AWS resources, in this case, I w

[2018-08-20 08:57] Showvhick commented on #487
Same here. Although Sign up was successful, and also received response like - {"CodeDeliveryDetails":{"AttributeName":"email","DeliveryMedium":"EMAIL","Destination":"s***@y***.com"},"UserConfirmed":false,"UserSub":"*****************"}, but inside the function it's throwing error - {code: "UnknownError", message: "Unknown error, the response body from fetch is: undefined"}.

Using inside ReactJS wi

[2018-08-20 09:54] PerfectPixel opened #1468 "Expired RefreshToken is not handled properly"
**Do you want to request a feature or report a bug?**
Bug

**What is the current behavior?**
If you enter a page with expired credentials (expired refresh and access token). The error returned from AWS is swallowed and the user is handled as if they are logged in. Also, there is rather odd concurrency in `Auth.currentUserPoolUser` as `CognitoUser.getSession` and `Cognito.getUserData` are called in

[2018-08-20 10:50] gregrafferty commented on #1269
We have a similar situation when we call amplify's Auth.signOut() method manually. Previous to v1 it would result in the Authenticator component's authState updating and trigger an render in our app where it would show the correct screen.

import * as React from 'react';
import Auth from '@aws-amplify/auth';

Here's a simplified version of our component:

[code]

It doesn't seem to do this anymore

[2018-08-20 13:55] alexchro93 commented on #1213
@undefobj is the security hole that, given amplify is designed for client side programming, introducing the ability to specify a group during sign up would allow someone to modify code such that they are added to the incorrect group?  For example, I'd like all people who sign up on my website to be added to a generic free_users group.  If i also have a group for paying_users, someone could easily

[2018-08-20 15:16] Jun711 commented on #1378
Hi @powerful23, for a website, should we have a fix endpoint? or let Amplify assigns the endpoint? Thanks

[2018-08-20 15:22] haverchuck opened #1469 "Decrease AWS-Amplify-Angular Bundle Size"
Do you want to request a feature or report a bug?
Feature

What is the current behavior?
The AWS-Amplify-Angular includes all of the Amplify library as a dependency even when not strictly needed.  Attempt to include only required modules to decrease bundle size.  Other ways to decrease bundle size should also be considered.

[2018-08-20 15:34] undefobj commented on #1213
@alexchro93 it's not so much around code modification or a "hole" but rather a chicken vs egg question. Suppose you have groups of "Editors" and "Authors" in your CMS app with Amplify, and when signing up customers can specify the group to be added. What if they specify "Editors"? I would imagine you'd want an approval process of sorts to add them or a check on their email, etc., from a database.

[2018-08-20 15:51] andrei0807 opened #1471 "How to add dynamodb CURD path on already api?"
I am going to add new CURD path for Dynamo DB on existed api.
I don't want to create new api for that.

![image](https://user-images.githubusercontent.com/32348752/44351234-004f0200-a4d4-11e8-88d8-de6c87c7cb80.png)

But if i select "Create CRUD API for an existing Amazon DynamoDB table", new api was added.
How to add path for CURD function.
Please help me
Thanks.

[2018-08-20 16:11] rojagit commented on #1461
This app caused SNS overages from AWS. The registration DOES NOT EVEN WORK, and still you have managed to incur charges. Ridiculous.

Apps like this should not be made starter apps for people like us who are just seeking to experiment with AWS to see if the services are viable for our products.

I have experimented with a handful of starter apps, some which work but are very basic, and others that

[2018-08-20 16:17] jgmurray23 opened #1472 "awsmobile publish build problem - angular"
I have problem when attempting to publish an angular amplify project. I've built the project according to this page: https://aws-amplify.github.io/amplify-js/media/angular_guide

and the project, deployed locally with awsmobile run works perfectly ( ng build works fine )  However, when I attempt to publish it to s3/cloudfront (awsmobile publish and or ng build --prod ), it fails with the following

[2018-08-20 16:38] #1457 closed

[2018-08-20 16:38] haverchuck commented on #1457
fixed

[2018-08-20 16:41] powerful23 commented on #1241
@onyii5119 it should have been fixed. Please make sure you don't have duplicate aws-sdk packages.

[2018-08-20 16:50] powerful23 commented on #1378
@Jun711 the endpoint stands for the browser in the device. When using amplify, it will automatically generate an Id and store it in your browser's localStorage. It will update the endpoint details like the browser version etc. If you don't want Amplify to assign the endpoint, you can configure it by yourself: https://aws-amplify.github.io/amplify-js/media/analytics_guide#manual-setup

[2018-08-20 17:16] Jun711 commented on #1378
@powerful23 ok, I got it. Previously, I assigned only one fixed ID in the Amplify config and thus, I saw only one endpoint at PinPoint console. Because of the limit of 10, users can see a lot of PinPoint errors if they have the console open.

[2018-08-20 17:18] powerful23 commented on #1458
@GavinQ1 hi, did you set the Cognito User Pool as one of the provider in your Cognito Federated Identity Pool?

[2018-08-20 17:34] GavinQ1 commented on #1458
@powerful23 i just tried. it returns a CognitoSession after I signed in. And when i call Auth.currentSession() multiple times, they all return desired results.
[code]

[2018-08-20 17:44] GavinQ1 commented on #1458
@powerful23 ah now its working... i found out why. I assigned a new app client id but forgot to update it in identity pool settings.......... Thanks! now the issue is gone. Multiple calls of Auth.currentUserInfo() give the same result.

[2018-08-20 17:57] rojagit commented on #1461
ok nm the rant, I realized the error:

My cell phone # starts with 91 and when I do a user registration, the Cognito mechanism doesnt tell me
it expects an international # and happily accepts my US # starting with a '#' and was sending SMSs to India !! (India intl. code is 91)

jeez...Cognito...please fix this !!

but app-wise, I still dont see any unicorn stuff, all I see is a react page saying d

[2018-08-20 22:40] powerful23 commented on #1108
Mark this issue as `enhancement`.

[2018-08-21 00:34] undefobj commented on #1213
Great this is helpful for us. We're still working on things in the backlog, but we have this on the roadmap that will be made easier with some new tooling that we're releasing soon. What you outline is a bit more than just the Amplify library, so we'll incorporate this with some future plans. In the meantime we'll keep this issue open for others to comment with use cases as well.

[2018-08-21 03:30] mlabieniec commented on #1461
@rojagit On the Amplify docs we do reference the need for the phone_number needing to be E.164 number convention in the Authentication Guide: https://aws-amplify.github.io/amplify-js/media/authentication_guide#sign-up

Also, the Cognito docs do reference cost for SMS messaging:
https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-settings-mfa-sms-text-message.html

Let us know if yo

[2018-08-21 03:30] #1461 closed

[2018-08-21 03:32] mlabieniec commented on #1466
@Aslamdesusa are you using this in Node.js? If so, you need to install a node-fetch:
https://aws-amplify.github.io/amplify-js/media/authentication_guide#nodejs-support

[2018-08-21 03:35] mlabieniec commented on #1460
@CodySwannGT Amplify is a browser library, we don't have official support for node. But some users have/do run this within node environments, mainly what we've seen is requiring the node-fetch library which you are doing it looks like (https://aws-amplify.github.io/amplify-js/media/authentication_guide#nodejs-support). Try adding directly after configure:

    Amplify.Logger.LOG_LEVEL = "DEBUG";

[2018-08-21 03:45] mlabieniec commented on #1465
@crjacinro can you try `Auth.currentAuthenticatedUser()` This should return the attributes for the current logged in user:
https://aws-amplify.github.io/amplify-js/media/authentication_guide#working-with-user-attributes

[2018-08-21 03:48] #1444 closed

[2018-08-21 03:51] #1431 closed

[2018-08-21 03:53] mlabieniec commented on #1418
This looks like an npm issue, seems as though clearing cache may fix it as referenced here:
https://github.com/npm/npm/issues/19072

[2018-08-21 03:53] #1418 closed

[2018-08-21 03:54] mlabieniec commented on #1417
not familiar with the react-native-aws-cognito-js library, but you might want to post this issue there.
https://github.com/AirLabsTeam/react-native-aws-cognito-js

[2018-08-21 03:54] #1417 closed

[2018-08-21 04:01] mlabieniec commented on #1420
For limits:
https://docs.aws.amazon.com/cognito/latest/developerguide/limits.html

The verification code/link is valid for 24 hours:
https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-settings-email-phone-verification.html

For forgot password, the confirmation currently supported is code:
https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_ForgotPasswo

[2018-08-21 04:07] Yaswanth-C commented on #1420
Thanks @mlabieniec `The cognito SDK directly does support this which you can drill down and use via Amplify directly in these cases.` You mean the `adminResetUserPassword` in cognito SDK supports resetting password and without sending you a code ?

[2018-08-21 04:10] mlabieniec commented on #1420
No, what i mean is this API, the admin functionality, in general is not something that is currently supposed via Amplify, it IS supported via the Cognito SDK directly. See discussion on this here:
https://github.com/aws-amplify/amplify-js/issues/1213

[2018-08-21 04:29] mlabieniec commented on #1420
Got it, I'm not aware there is that feature, @yuntuowang do you know if this is something that is possible with the API, otherwise can you record as a feature request.

[2018-08-21 06:31] wzup opened #1474 "Why Auth.signIn() and Auth.currentAuthenticatedUser() return different Cognito user structure?"
### Do you want to request a feature or report a bug?

Bug

### What is the current behavior?

`Auth.currentAuthenticatedUser()`
and
`Auth.signIn()`
return different structure of Cognito users objects. Fields are missing.

### What is the expected behavior?

I expect to have consistent structure of Cognito user objects from both methods.

Why fields are missing in `Auth.signIn()`?

This is from `.

[2018-08-21 09:04] jan1za commented on #747
I think the reason is is not working is there is no decorator (auth.decorator.ts) for completeNewPassword. Temp workaround is to call the following when the  Auth.completeNewPassword comes back successful .
amplifyService.setAuthState({ state: 'signedIn', user: userReturned });

Where userReturned is the user I got back from  Auth.completeNewPassword.

The decorators (auth.decorator.ts) are not co

[2018-08-21 11:34] jrrewers commented on #1354
@haverchuck @D2KX I upgraded aws-amplify to 1.0.6 and aws-wmplify-angular 1.0.3 in package.json, deleted node_modules, run npm install and problem still occurs.
I also updated [repository ](https://github.com/jrrewers/amplify-large-prod-build) reproducing the problem.
Using aws-amplify-angular 1.0.4-unstable.0 doesn't help either.

[2018-08-21 14:13] n1te1337 opened #1475 "Cognito: forgetting a password after changing an email without confirming it can lock users out of their accounts"
**Do you want to request a feature or report a bug?**

Bug.

**What is the current behavior?**

As far as I can tell the following scenario can permanently (unless they contact an admin) lock users out of their account:

(a user pool uses an email address as the "username")
1. User signs up and confirms their email
2. User logs in
3. User updates their email via `updateUserAttributes()` without co

[2018-08-21 14:29] timrchavez opened #1476 "Do not filter out 'sub'"
As far as I can tell, there is no reason to do this. Let the user decide how to use this value (or not)

https://github.com/aws-amplify/amplify-js/blob/7c4d19069d27553f1e1d05493b17417b2c202aab/packages/auth/src/Auth.ts#L1296

[2018-08-21 14:32] davidgatti commented on #1213
Part of this functionality could be in the regular AWS-SDK, to add people in the admin group in a programmatic way, and then the rest in this SDK? :)

[2018-08-21 14:34] davidgatti opened #1477 "Why Amplify and not AWS-SDK?"
Hello AWS team,

I'm bit confused as of why this Amplify SDK exists. Why Cognito is not in the AWS-SDK package? Why did you decide to brake out of the browser version of the SDK to this separate project?

[2018-08-21 14:36] alexchro93 commented on #1431
@mlabieniec, could you please provide a reason for closing this issue?  Any info would be appreciated.

[2018-08-21 15:07] jay-manday commented on #375
this is an issue for me as well, i'm using react-native with expo and aws-amplify and getting the same message

[2018-08-21 17:02] XCarle commented on #1477
Moreover, Amplify seems to require (ahah) browserification

[2018-08-21 18:18] powerful23 commented on #1465
@crjacinro can you check the response of the signIn request? If you have set the MFA verification in your Cognito User Pool, then you would need to finish those verifications before getting signed in. Also could you open the Debug Mode by `window.LOG_LEVEL='DEBUG'`?

[2018-08-21 18:27] jgmurray23 commented on #1472
OK, it won't build with typescript less then 2.7.0 and I think this is the reason:

https://github.com/Microsoft/TypeScript/wiki/Breaking-Changes#customevent-is-now-a-generic-type

I bumped typescript to 2.7.0 in package.json
then I ran npm install
now ng build --prod works as well as awsmobile publish
However, the angular-cli compiler complains:
@angular/compiler-cli@5.2.11 requires typescript@'>

[2018-08-21 18:40] yuth commented on #1467
This is the issue with current implementation. Paassing `authenticatorComponents` props, to `withAuthenticator` HoC did render only the components that were passed to it, but the `SignIn` component did not check to see if `SignUp`  was allowed. I have created a #1478 which checks for this and conditionally renders the links

[2018-08-21 19:00] rojagit commented on #1461
While it's a fact that not many read or dig deep into documentation, (and you point to a comment in code, really ??  ) 'specially when coming from a HOI, Cognito / amplify or these starter-apps need to be more proactive in checking valid phone #s, and alerting developers to the fact that intl. SMS incurs charges and to maintain E.164 format which we in the US are NOT used to. This is a basic neces

[2018-08-21 20:16] powerful23 commented on #1475
@n1te1337 did this case actually happen? As far as I can tell, if the new email is not confirmed, then the old email should still be valid or there would be a problem.

[2018-08-21 21:42] markmckim opened #1479 "Cognito - VerifyContact Screen Not Appearing"
New iOS App From Scratch
Integrated React Native into existing app as per React Native Docs
Integrated AWS Amplify
Versions:
react: 16.4.1
react-native: 0.56.0
aws-amplify: 1.0.6
aws-amplify-react-native: 1.0.6
amazon-cognito-auth-js: 1.2.4
amazon-cognito-identity-js: 2.0.21

Description:
VerifyContact Screen Not Appearing

Steps To Recreate:

Register "user1" with email address in the app
Registe

[2018-08-22 00:53] ammulder opened #1480 "Cognito: substitute {username} in password reset message"
Right now a new account e-mail in Cognito lets you specify {username} and {####} parameters, which Cognito will substitute for you.

However the reset password e-mail does not substitute {username} and only substitutes {####}.

Since I am not using e-mail addresses as usernames, a reasonably common situation where a user can't sign in is that they have their username wrong (perhaps an error in the

[2018-08-22 04:59] markoliverbrawn commented on #1269
Yep, we also have the same issue and have tried settingState and even forcingUpdate, but to no avail.

[2018-08-22 07:16] tobiastornros opened #1481 "signIn() returns different Cognito object depending on authenticationFlowType"
Do you want to request a feature or report a bug?

Bug

What is the current behavior?

`Auth.signIn()` returns different Cognito object if `authenticationFlowType` is set to `USER_PASSWORD_AUTH`.
The Cognito object is missing `deviceKey` which is required to exists if you want to use Auth.completeNewPassword(cognitoUser, password, ...)

Example:
[code]

Compare Cognito user objects:

With authenti

[2018-08-22 10:38] Gautierrr opened #1482 "Authenticator: Cannot read property 'configure' of undefined"
Do you want to request a feature or report a bug?

--> Bug

What is the current behavior?

--> When I use the `Authenticator` component with an `amplifyConfig`, I get this error:

[code]

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies

[2018-08-22 13:33] theurbanforrest commented on #632
@MainAero thanks for sharing!  I did not have aws-sdk as a dependency but I did tinker with the node_modules files to match your PR https://github.com/aws/aws-sdk-js/pull/2201/files to my project.

After publishing to Expo, my Storage.put()'s are now working as expected.

I know touching node_modules is hacky but I'm just really really glad this is working for me.

[2018-08-22 15:42] n1te1337 commented on #1475
@powerful23 definitely still happening. If you sign up with an email as your username and then change it (with or without confirming it) then the old email will bebe replaced with the new one, then if you try to call `authenticateUser` or `forgotPassword` you'll get `UserNotFoundException`.

- old email
<img width="660" alt="cognito_old_email" src="https://user-images.githubusercontent.com/1946858

[2018-08-22 17:07] XCarle opened #1483 "Something i do not get for PubSub to work with a cognitoPoolId"
Hi Guys,

we have been implementing some PubSub with the aws-sdk using a cognitoIdentityPoolId. We are not yet implementing our user loggin so for now it allows us to update the AWSIotData.device WebSocketCredentials on the accessKeyId, secretKey and sessionToken update (loaded by the cognitoidentity).

After validating this behaviour, i tried implementing it on Angular (AmplifyService.pubsub() &

[2018-08-22 17:17] powerful23 commented on #1481
@tobiastornros Hi thanks for reporting the issue. How did you set your Cognito User Pool. Did you set it to remember your user's devices?

[2018-08-22 20:44] #1482 closed

[2018-08-22 21:10] yuth commented on #1467
Fixed in #1478

[2018-08-22 21:10] #1467 closed

[2018-08-23 00:55] drewdecarme commented on #1270
Amplify Package: `"aws-amplify": "^1.0.6"`

I just had this same problem. They consolidated their imports. Since AWSIoTProvider was under the PubSub directory originally, I checked their module export file and saw that the PubSub was namespaced to `@aws-amplify/pubsub`

So in order to get it working, use

[code]

For reference, here are all of their new import namespaces
[code]

[2018-08-23 01:07] mahmoudsheir opened #1486 "Amazon-Cognito Registering User using Java-Script SDK"
I'm trying to make a Java function to register a user at AWS Cognito user pool, I'm using the below Link example for the registration:

https://docs.aws.amazon.com/cognito/latest/developerguide/using-amazon-cognito-user-identity-pools-javascript-examples.html

I'v faced the below errors at Firefox and same at Chrome

  	document.getElementById('submit').onclick = cognitostandard;
	function cognito

[2018-08-23 02:17] antwaing commented on #487
I'm getting this same error using Angular 6.   I've tried all of the above and still getting the error.

[2018-08-23 06:37] tobiastornros commented on #1481
@powerful23 Yes, it is configured to always remember device.

[2018-08-23 12:07] sayboras commented on #487
I am having the same issue as I turned on device registration to `Always`. However, I can't turn it off as  we need to enable this feature. Please let me know if there is any work around.

[2018-08-23 13:53] tobiastornros commented on #311
Repost:
So just to confirm:

It is currently impossible to use the federated logins feature for user pools on mobile. Is this correct? The docs clearly state that this is for mobile and web, yet web is the only one that can actually utilize it? Is there any hacky workaround without using identity pools?

This is such a headache 😕

[2018-08-23 14:07] theGlenn opened #1487 "Credentials immediately removed from localstorage after successful login with Hosted UI"
###  Do you want to request a feature or report a bug?
Bug

### What is the current behavior?

#### Setup:
- Cognito User Pool with federated users from azuread.
- Simpl React app using `withOAuth` and `Authenticator`

With the following configuration:
[code]
##### The login flow goes as follow:

Call `OAuthSignIn()` ➡️ Redirected to Cognito login page ➡️ Select the provider ➡️ Redirected to the p

[2018-08-23 14:55] ganap commented on #311
Are you guys ever going to fix this for React Native? The document says it works for both React and React Native. But this pull request https://github.com/aws-amplify/amplify-js/pull/878
is stuck in review for the last 3 months.

[2018-08-23 16:51] nickygb opened #1488 "Federated identities put into my user pool (Angular)"
I'm developing an Angular app and I want to utilize Cognito to handle my users.

When a user registers themselves via Facebook/Google I want to put their information in the user pool.
In the documentaion I saw that is possible to do this in React and React Native by using withAuthenticator HOC.

What I need is:

*  I Get the Facebook / Google token
* The token is sent to Cognito which auth the use

[2018-08-23 16:55] yuth commented on #1486
From the error, it looks like you're loading page using local file path. Can you try loading it using a web server either spinning up your own server or using [Node HTTP Server](https://www.npmjs.com/package/http-server).

[2018-08-23 17:35] powerful23 commented on #1487
@theGlenn can you provide the debug log so we can know what's happening in the library? By putting `window.LOG_LEVEL='DEBUG'` in your app.

[2018-08-23 17:54] haverchuck commented on #1372
https://github.com/aws-amplify/amplify-js/pull/1385

[2018-08-23 19:49] powerful23 commented on #1475
@n1te1337 from what I heard from the Cognito team in that situation the user needs to contact the administrator to verify his new email or use the [api](https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_AdminUpdateUserAttributes.html) to verify the email.

[2018-08-23 19:57] powerful23 commented on #1464
@n1te1337 this is an expected behavior of Cognito Service. From what I know there is no way to tell if the password is correct or not when the user is not confirmed.

[2018-08-23 20:37] antwaing commented on #1465
maybe because I'm not getting and access token when I signIn?  Shouldn't it be returning and access_token as well.  Not just the id_token?

`access_token:
"undefined"`

[2018-08-23 20:46] mahmoudsheir commented on #1486
I have tried installing the Node HTTP server
then i started it as below:

`msheir-mbp:~ msheir$ http-server
Starting up http-server, serving ./public
Available on:
  http://127.0.0.1:8080
  http://172.29.65.61:8080
Hit CTRL-C to stop the server`

and then i have reloaded my page to try again but the problem still exist

[2018-08-23 22:03] RongoDog commented on #311
I got this working on native for google by getting federatedInfo from the cache. This gives me access to the JWT token, but facebook login does not seem to store this. Big headache..

[2018-08-23 22:50] Jun711 commented on #684
@marroyo
Are you using Angular?
You can check out [this article](https://www.language-diary.com/2018/08/how-to-set-up-aws-iot-pubsub-using.html) for some information regarding how to fix this.

[2018-08-23 22:55] tarciosaraiva commented on #1468
I'm experiencing a similar behavior.

I have my local storage keys setup with an old token that was issued a couple of hours ago. As soon as I hit the application (the token is already expired) the library executes a call to refresh the token, which succeeds.

[This line](https://github.com/aws-amplify/amplify-js/blob/master/packages/amazon-cognito-identity-js/src/CognitoUser.js#L1211) tells me th

[2018-08-23 23:08] Jun711 commented on #749
hi @leantide, I wonder if you could elaborate on this line: let all users share the unauthenticated Cognito access (with access defined in your pool policy).

thank you

[2018-08-23 23:42] rygo6 commented on #334
Any progress?

[2018-08-24 00:50] hutch120 opened #1496 "Do not autocapitalize usernames"
Bug

autocapitalize on inputs is the default behaviour in many browsers. This causes problems when entering a username and attempting to log into Cognito. Regardless of the problems, the UI should not autocapitalize, autocorrect, or spellcheck anything in a username or password input box.

Attempting to login using the auth UI... attempt to enter a lowercase username in the input box (classname =

[2018-08-24 01:35] pveller commented on #684
It should be:

[code]

[2018-08-24 07:16] sachita011993 opened #1497 "How to validate Federated Identity using cognito ,nodejs and angular and put in User pool"
I want to know that how we validate Federated Login user in cognito .
Case 1 : i'm using node js sdk and angular as front-end.
case 2 : from angular i have get Facebook access token after login . and send it to cognito using AWS.config.credentials.get method.
case 3 : after that i have get three token as ( accessKeyId : , secretAccessKe , sessionToken  identityId )
case 4 : Now i'm stuck here and

[2018-08-24 07:25] anjalitanpure opened #1498 "While registering the user get the error message as "Can't find variable : fetch" on iOS 10.1.1."
Description of a bug found on iOS 10.1.1.
- While registering the user get the error message as "Can't find variable : fetch".
- This issue is related to Safari version, I was able to produced this issue on iOS 10.1.1 and this issue is not coming on latest iOS versions.
- AWS-Amplify "amazon-cognito-identity-js", internally uses fetch API and it doesn't supports to older versions of Safari.

[2018-08-24 07:55] ume-lap opened #1499 "What code turn to signedIn?"
Do you want to request a feature or report a bug?
*just a question*

I try below sign up flow with React Auth.
signUp -> confirmSignUp -> ORIGINAL_STATE_A -> signedIn

However, when user is in ORIGINALSTATE_A, user try reflesh(F5) with his browser, authState is turn to `signedIn` because browser has LastAuthUser in localStorage, not `ORIGINALSTATE_A`.

I wanna confirm what code turn to signedIn.
A

[2018-08-24 08:18] theGlenn commented on #1487
Hi @powerful23 here is the stack trace from the moment I'm redirected to the login page.

[code]

[2018-08-24 08:33] jarrettj opened #1500 "Documentation using awsmobile?"
Hi,

Good day.

I might still be asleep, but has awsmobile cli been replaed by amplify cli?

The documentation has switched from awsmobile to amplify? Where's the old docs? And if so how do we move an existing app to amplify?

Regards.

[2018-08-24 09:12] PerfectPixel commented on #1468
@powerful23
Some environment details:

- We are using a user pools without identity pools (no federation)
- We are using amplify with react but use our own react components as we set up users via admins and there are some showstoppers in amplify-react
- We are switching over multiple pools on login

Once the component mounts we call `Auth.currentAuthenticatedUser` and catch any errors:
[code]

Let

[2018-08-24 11:52] jarrettj opened #1501 "IAM profile permissions"
Do you want to request a feature or report a bug?
Bug

What is the current behavior?
Documentation around the permissions needed to run the cli

[2018-08-24 12:01] sashokbg commented on #487
Anyone working on this issue ? I have tried the provided solutions, but still getting the error message. As @nikhilsinha mentioned the function gets called twice and the second one fails.

I have narrowed down the problem to an async call via Promise - when not using Promise everything works fine

[2018-08-24 13:53] edzillion opened #1502 "Why is there no entry under Apps (in mobile hub) for the Amplify app I have set up?"
After setting up and (awsmobile push) pushing an AWS Amplify app, when I log into the console I do not see any entry in the App section in my mobile-hub Project.

Is this the correct behavior?

[2018-08-24 16:55] powerful23 commented on #1241
@jorgedavila25 can you show me your dependencies in the package.json?

[2018-08-24 17:12] powerful23 commented on #1487
@theGlenn the Auth module reads tokens from the localStorage to and then validate them to tell whether a user is logged in or not. Seems like when the app is redirected back, it calls the `signOut()` function which will clear the localStorage. Can you find out why this method is called? As I know the library won't trigger it automatically.

[2018-08-24 17:28] Private-SO opened #1503 "How federated Identity ID is populated and sent to IAM policies?"
I want to know , from where this value is `${cognito-identity.amazonaws.com:sub}` populated . I had checked in JWT token too where `sub` will have `username` of cognito. But i cant able to see federated ID any where in JWT Id token. I can only see the ID generated in federated identity pool.

Does it is a hash of cognito and federated pool ID ?

Because if it is taking from JWT token,  i have `cus

[2018-08-24 17:33] gdsdougherty opened #1504 "Update withAuthenticator customization in docs"
The docs on the below link fail to list RequireNewPassword after ForgotPassword on the list of attributes that need to be sent in.

If a developer fails to include this, their application will fail in the event that the user requires a new password, e.g., user was sent an auto generated password.

If there are any other sections that are required, it would be a good idea to include them if they're

[2018-08-24 17:36] yuth commented on #1486
When using [amazon-cognito-identity-js](the https://github.com/aws-amplify/amplify-js/blob/master/packages/amazon-cognito-identity-js/README.md#network-configuration), you will have to white-list   the domains. You can do it with node-http by pass `--cors` flag

Run the server with the following command
[code]

[2018-08-24 17:37] powerful23 commented on #1468
@PerfectPixel thanks for the analyzing. I see what's happening. The `user.getUserData` method should only be called when the `user.getSession` succeeds. Will do a fix for that.

[2018-08-24 17:59] mahmoudsheir commented on #1486
I have tried run the server as you stated but still the issue exist.

Also i tried to whitelist "*.amazonaws.com"  for chrome using below macbook commands but still the issue exist

	sudo defaults write com.google.Chrome AuthServerWhitelist "*.amazonaws.com"
	sudo defaults write com.google.Chrome AuthNegotiateDelegateWhitelist  "*.amazonaws.com"

[2018-08-24 18:14] yuth commented on #1486
Do you still get the CORs error or some other error?

[2018-08-24 18:16] mahmoudsheir commented on #1486
I still have the CORS and the Fetch error at Firefox as below

`Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://cognito-idp.eu-west-1.amazonaws.com/. (Reason: CORS request did not succeed).
Source map error: TypeError: NetworkError when attempting to fetch resource.
Resource URL: file:///Users/msheir/Desktop/data/download%20documents(review)/le

[2018-08-24 20:24] jyoo opened #1508 "Confused with Amplify API Get"
Do you want to request a feature or report a bug?: NO

What is the current behavior?: API Post is working. API Get is working too, but cannot get the result I want (will describe more below)

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependenc

[2018-08-25 04:31] oste commented on #1151
Any updates on this feature?

[2018-08-25 11:32] arelaxend commented on #1241
Hi, I have the same issue:
    "aws-amplify": "^1.0.6",
    "aws-amplify-react": "^0.1.43",
    "aws-appsync": "^1.3.4",
    "aws-appsync-react": "^1.1.4",

[2018-08-25 11:51] arelaxend commented on #1241
Hi, it works very fine on my config!
    "aws-amplify": "^1.0.6",
    "aws-amplify-react": "^1.0.6",
    "aws-appsync": "^1.3.4",
    "aws-appsync-react": "^1.1.4",

[2018-08-25 17:40] DJWoodZ opened #1511 "amazon-cognito-identity-js storage and privacy legislation (GDPR, Cookie Law, etc.)"
Hi,

I think this is just a question (or several questions), but it could turn into feature/documentation requests.

Background
=========

I would like to use `amazon-cognito-identity-js` for a new website that I'm working on. In order to comply with privacy legislation such as [GDPR](https://www.itgovernance.eu/blog/en/how-the-gdpr-affects-cookie-policies) and [Cookie Law](https://www.cookielaw.o

[2018-08-25 21:20] #1508 closed, assigned to nobody

[2018-08-25 22:00] MainaWycliffe opened #1512 "Errors Related to Ionic in Angular (Cannot find module '@stencil/core and error TS2344: Type 'keyof B' does not satisfy the constraint 'string'.)"
**Do you want to request a feature or report a bug?**

BUG

**What is the current behavior?**

I am getting the following error:

[code]

**What is the expected behavior?**

Should compile successfully, especially considering i am not using Ionic which seems to be the issue.

Which versions of Amplify, and which browser / OS are affected by this issue? Did this work in previous versions?

Windows

[2018-08-25 22:17] haverchuck commented on #1512
@MainaWycliffe - We recently merged a fix for this problem into our unstable build of AWS-Amplify-Angular.  Please try removing @ionic and AWS-Amplify-Angular from your node modules and then running npm i aws-amplify-angular@1.0.4-unstable.2

We will be merging this into the main build soon.

[2018-08-25 22:33] undefobj commented on #1508
@oneduckoo were you able to resolve your issue? Is there something that could have helped in the documentation or the API category functionality in this case?

[2018-08-25 23:01] #1512 closed

[2018-08-25 23:16] oneduckoo commented on #1508
@undefobj I am working on it right now.
After posting this, I searched other related posts here, and noticed that I need to look at lambda files and know how it works. (I used CLI to enable API gateway, lambda and configure background, and it is excellent!) In my case, to find an item using sort key, I had to use  '/TableA/object/id' where id is the value of sort key. It was a bit confusing to me

[2018-08-25 23:52] MainaWycliffe commented on #1469
This issue needs to be addressed. I included the aws-amplify-angular into my project and the main bundle size increased over 6 MB right from just under 1MB. That's very huge considering I only need Cognito.

[2018-08-26 15:15] 7772 opened #1513 "aws-amplify@^0.1.36 undefined is not a function (near ...window.addEventListener...)"
## Related Issue
[#230](https://github.com/aws-amplify/amplify-js/issues/230)

## Do you want to request a feature or report a bug?

- report a bug and
- request a feature

## What is the current behavior?

- If do not turn on debugger

undefined is not a function (near ...window.addEventListener...)

- If turn on debugger

Worked well.

## If the current behavior is a bug, please provide the step

[2018-08-26 19:54] mahmoudsheir commented on #1486
I have tried to use amazon EC2 instance to host my application but still the same error and the attached alert is fired, can you please check it or help:

<img width="1433" alt="screen shot 2018-08-26 at 10 50 16 pm" src="https://user-images.githubusercontent.com/33501675/44632425-f4a38580-a982-11e8-97f7-63eba51f92b5.png">

[2018-08-26 22:08] ericathegreat commented on #669
@Asautali @scrapex It looks like there was a change which went in about a month ago. aws-exports.js only gets generated after syncing to cloud. If you run 'amplify publish' it should pop into existence. :)

[2018-08-27 01:00] johneast commented on #1445
I get the same issue with ionic 3, aws-amplify 1.0.6 and aws-amplify-angular 1.0.4-unstable.2 see https://github.com/aws-amplify/amplify-js/issues/1003

The issue was reported as closed with 1.0.4-unstable.0, but I think that's only with ionic 4. The problem still persists in ionic 3

[2018-08-27 01:02] johneast commented on #1003
Looking into this a bit more. Amplify works with production builds with Ionic 4, but not with Ionic 3. I think when I reported it was working, that was with my Ionic 4 project, and not my Ionic 3 project. Apologies for the confusion.

[2018-08-27 01:08] ericathegreat commented on #669
https://github.com/aws-amplify/amplify-cli/issues/23  << See here for details

[2018-08-27 02:45] scrapex commented on #669
Thanks Erica. Also seems like awsmobile cli has moved/renamed to amplify cli...

[2018-08-27 05:42] sayboras commented on #487
@sashokbg I tried with window mock and it's working now.

[code]

[2018-08-27 14:06] sachita011993 opened #1514 "Send Verification Code on Signup and send a link on forget password using Cognito User Pool"
I want to send Verification Code on Signup and send a link on forget password .
Is it possible to send two different verification strategy using user pool ?
How i could do this  ?
I have set code verification radio on while create User Pool .

[2018-08-27 14:07] tobiastornros commented on #1143
Any update on when this will be supported on React Native without hosted UI? Next month, end of this year or next year?
Can we help or is there some internal Cognito problem that needs to be solved before?

Related to #311 , #513 and PR #878

[2018-08-27 16:08] ganap commented on #1143
Why is the AWS Amplify team silent on this? Do you even have a plan to fix this? This should be a high priority item, if you claim that federated auth works in React Native with Amplify!

[2018-08-27 17:27] powerful23 commented on #1143
Currently we are working with the Cognito team to provide the api to sign in the User Pool with federated providers without using the Hosted UI. We are not sure about when it will be implemented but we will try to make it ASAP.

[2018-08-27 17:44] vivekFAGH commented on #1445
I have since tested this with earlier versions of amplify ( upto 1.0.3) and ionic app scripts, its still a problem.

[2018-08-27 18:03] ryanwmarsh opened #1516 "Bad link in amplify-js/docs/media/ui_guide.md"
This is a bad link in amplify-js/docs/media/ui_guide.md

It can be found on this line:
https://github.com/aws-amplify/amplify-js/blame/master/docs/media/ui_guide.md#L8

It currently goes to: https://**tommypraeger**.github.io/amplify-js/media/ui_library which I don't think was intended.

I thought it was intended to point to https://aws-amplify.github.io/amplify-js/media/ui_library but that link r

[2018-08-27 18:39] pablotween commented on #487
Same here, using node v8.11.2, signUp is called twice, like this:
User successfully created {"user":{"username":"example@hotmail.com","pool":{}, etc etc }
Problem creating user **{"code":"UnknownError","message":"Unknown error, the response body from fetch is: undefined"}**

[2018-08-27 19:15] VicFrolov commented on #1143
So I still don't understand how one could use the Hosted UI for facebook/google with amplify, and after they get the tokens from the callbacks, to have the user be logged in via cognito on amplify, with no HOC components.

[2018-08-27 20:12] #1516 closed

[2018-08-27 20:13] powerful23 commented on #1143
@VicFrolov when calling `Amplify.configure()`, the library will check if `oauth` is configured and if yes, it will try to parse the current url which contains the tokens, and then construct a session based on those tokens. You can call `Auth.currentAuthenticatedUser()` when the page is loaded to tell whether the user is logged in. I have a pr about how to use the `currentAuthenticatedUser` method:

[2018-08-27 20:36] VicFrolov commented on #1143
Hmmm, interesting! But if I were to be using react native + safari view for example, the user taps the facebook button, they confirm, and get the callback URL, how do I pass the url in, for it to parse it and construct a session?

[2018-08-27 21:35] powerful23 commented on #1143
@VicFrolov good question. Unfortunately for now Amplify doesn't support that but you can do a workaround by using `amazon-cognito-auth-js` to parse the url like Amplify does. If you look into the auth module: https://github.com/aws-amplify/amplify-js/blob/master/packages/auth/src/Auth.ts#L173 and https://github.com/aws-amplify/amplify-js/blob/master/packages/auth/src/Auth.ts#L149

[2018-08-27 22:08] guanzo commented on #974
@luisgurmendez It "should". But I have a `setInterval` that calls `Auth.currentSession()` every 10 minutes, yet the access token always expires within an hour.

[2018-08-27 23:01] timheuer opened #1518 "Amplify Vue Sample getting no userPool error"
Cloned the example: https://github.com/aws-samples/aws-amplify-vue
and running the instructions after running the app and trying to create a new user, the console is throwing `no userPool` error.

[2018-08-27 23:01] timheuer commented on #1518
@richardzcode

[2018-08-28 01:49] swaminator commented on #1502
The Amplify CLI directly uses CloudFormation instead of Mobile Hub so the projects don't show up in the Hub console. Checkout this link to learn more: https://aws.amazon.com/blogs/mobile/announcing-the-aws-amplify-cli-toolchain/
Here's the relevant bits: "Existing Mobile Hub projects continue to work without requiring any app changes. If you’re using the AWS Mobile CLI for existing projects, you c

[2018-08-28 03:41] grgaortiz commented on #1411
Same here. Using: aws-amplify 0.3.3, aws-amplify-react-native 0.2.9., redux-saga 0.15.6

While calling the Auth.confirmSignIn using redux-saga:

let confirmedUserData = yield call([Auth, Auth.confirmSignIn], userObj, authCode, 'SMS');

Getting the following error: "TypeError: user.sendMFACode is not a function"

The response object from Auth.signIn is the following: https://d.pr/AX6IQI. This respo

[2018-08-28 03:49] svstartuplab opened #1520 "Need To Choose AWS Region"
This is my first time with Amplify and first time setting up Cognito.  I have Cognito setup but wanted to add Amplify to my Angular app.  I went through the setup process but CloudFormation was created in the wrong region and I couldn't find a way to change this.

Do you want to request a feature or report a bug?

Bug?

What is the current behavior?

Setup in the docs for Getting Started and Angul

[2018-08-28 04:48] itaied246 opened #1521 "Authentication with User Pool and social provider"
As `cognito` docs states, one can authenticate with 3rd party providers (like Facebook) using only the `user pool`.

From `amplify` authentication docs, I followed [this](https://aws-amplify.github.io/amplify-js/media/authentication_guide.html#enabling-federated-identities) example, but it requires the `identityPoolId`.

So, how can I authenticate a user on a custom UI with a 3rd party providers u

[2018-08-28 07:44] yezarela opened #1522 "Storage.get() always returns url even if file does not exist"
Do you want to request a feature or report a bug?

`Maybe Bug?`

What is the current behavior?

Storage.get('bucket/something.jpg') will always return url even if the file does not exist on the bucket.

What is the expected behavior?

null or Error?

Which versions of Amplify, and which browser / OS are affected by this issue? Did this work in previous versions?

` "aws-amplify": "^1.0.6",`

[2018-08-28 07:45] yezarela commented on #1522
Related #1145

[2018-08-28 07:46] #1522 closed

[2018-08-28 09:39] Private-SO opened #1523 "Federated Identity allow access to others individuals to see my account ?"
It is a question .
Hi,

**MyUsecase**
{ Cognito+Federated Identity and accessing DyanamoDB via API gateway }
I have a federated identity ID for every user who logged in to my app . Using this i can restrict them access others account. Now i have additional requirement where i want to allow my team members to see my dynamodb row contents but don't want them to write or delete them.

BTW everyone wi

[2018-08-28 10:08] #1502 closed

[2018-08-28 13:39] MichZipp opened #1524 "Cloud-API: CORS Error"
Hello,

I have a mobile hub web project and I enabled the cloud api to access my database.
When i call the api with:
`API.get("sampleCloudApi","/items").then(response => {
      console.log("test");
    }).catch(error => {
        console.log(error)
    });`
I'm getting the following CORS Error:
"Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://

[2018-08-28 14:05] dave-irvine commented on #1469
@haverchuck Same issue on aws-amplify-react I'm afraid. Looks like the entire graphql lib gets imported even though a small portion gets used.

[2018-08-28 15:29] MainaWycliffe commented on #1469
@haverchuck Would it be possible to break it down into smaller modules so at least one can only import just that module they are using? Like having an AmplifyAuthModule, AmplifyStorageModule, AmplifyAnalyticsModule etc. This would allow it to be more tree shakable removing unused modules and libraries.

[2018-08-28 15:31] hotgazpacho opened #1525 "Allow optional token invalidation when calling Auth.signOut()"
Request a feature

When `Auth.signOut()` is called, the session tokens _(access, refresh, id)_ are purged from local storage. However, the tokens themselves are still usabled.

I would expect that when I end a session using `Auth.signOut()` that a request to invalidate the tokens is made, such that they are no longer valid for use. I understand that this is new behavior, thus I am suggesting that

[2018-08-28 15:38] semi-sentient commented on #122
OK, so bundle size is reduced dramatically using the modular approach, but events are no longer being sent. Am I missing something here (using v1.0.x)?

import aws_exports from './aws-exports';
// import Amplify, { Analytics } from 'aws-amplify';
import Analytics from '@aws-amplify/analytics';
import Amplify from '@aws-amplify/core';

Amplify.configure(aws_exports);
Analytics.record('page-view', {

[2018-08-28 16:48] Jun711 commented on #448
@arelaxend did you have your identity pool ID configured correctly? note that mobile hub will create another identity pool.

[2018-08-28 17:23] tuhinkarmakar opened #1526 "Angular Production Build Generates 103 Bundles When Using Amplify!"
#### Do you want to request a feature or report a bug?
Bug

#### What is the current behavior?
Angular CLI generates 103 bundles when `aws-amplify` and `aws-amplify-angular` are used in a project. As far as I can tell, most of them are related to Ionic.

**Output of the build process**
![image](https://user-images.githubusercontent.com/11135104/44738783-99ed6380-ab13-11e8-8fd0-c2db6f9d1179.png)

*

[2018-08-28 17:25] haverchuck commented on #1526
@tuhinkarmakar   - We recently merged a fix for this problem into our unstable build of AWS-Amplify-Angular. Please try removing @Ionic and AWS-Amplify-Angular from your node modules and then running npm i aws-amplify-angular@1.0.4-unstable.2

We will be merging this into the main build soon.

[2018-08-28 17:26] #1526 closed

[2018-08-28 17:42] arelaxend commented on #448
what do you mean by correctly ? I have an identity pool with auth and noauth roles with :
[code]

[2018-08-28 19:24] markmckim opened #1527 "Amplify React Native auth.signout() does not return to Sign In page"
New iOS App From Scratch
Integrated React Native into existing app as per React Native Docs
Integrated AWS Amplify
Versions:
react: 16.4.1
react-native: 0.56.0
aws-amplify: 1.0.7
aws-amplify-react-native: 1.0.7
amazon-cognito-auth-js: 1.2.4
amazon-cognito-identity-js: 2.0.22

Description:
Sign Out fails

Steps To Recreate:

Create New iOS App In Xcode
Integrate Auth using withAuthenticator into th

[2018-08-28 19:48] dsinai14 commented on #1143
@VicFrolov Till we'll have the api to create a user in the user pool from Federated token, we used the following workaround:

Used react-native-app-auth to identify with cognito using oauth 2.0, it will open the browser and ask for a login then return the user to our app where we get the parsed tokens

We are using our own buttons in the ui but calling the Facebook/Google authorize point explicitl

[2018-08-28 19:52] VicFrolov commented on #1143
@dsinai14 thank you for this!

I would ideally prefer to remain within the Amplify framework, if powerful23 was suggesting I can use amazon-cognito-auth-js in unison with Amplify, but if not this sounds like a solid alternative :)

[2018-08-28 20:11] powerful23 commented on #1143
@VicFrolov yes. So once you parse the url successfully, you can use methods in the Amplify Auth module like currentSession or currentAuthenticatedUser. The root reason for this happening is that Amplify, amazon-cognito-auth-js and amazon-cognito-identity-js share the same cache items so as long as one of the library stores those tokens into the cache, the other ones can work by reading it.

[2018-08-28 20:27] VicFrolov commented on #1143
@powerful23 oh my goodness, this is amazing, I had no idea they shared cache. This makes me very happy.

Also, slightly off topic but since we're discussing cache, is there any risk / downside to manually refreshing the tokens, and saving it to async storage in the correct place? We need to sometimes force token refreshes when users are changed to a group, as it adjusts their permissions.

Regardl

[2018-08-28 20:38] elorzafe commented on #1518
Hi @timheuer  I just tried the instructions and is working for me. Did you successfully run `awsmobile push` after enabing user-signin and user-files?

[2018-08-28 20:45] timheuer commented on #1518
Yes, just tried again.  I'm following step-by-step on the GitHub instructions.  I'm on Windows.
![image](https://user-images.githubusercontent.com/4821/44749863-aac4b780-aac8-11e8-9fce-47a11726af18.png)

[2018-08-28 21:07] mlabieniec commented on #1521
@itaied246 the identityPoolId comes from Cognito Federated Identities service. If you use the aws-amplify/amplify-cli you can just `amplify add auth` to get this setup. Then you need to configure auth (per doc you referenced above). Then pass the tokens from the third party provider (facebook etc) to the `Auth.federatedSignIn()` method, per the Auth guide.

[2018-08-28 21:15] mlabieniec commented on #1392
This can be accomplished using the OAuth implementation in Amplify Auth (and the hosted UI):
https://aws-amplify.github.io/amplify-js/media/authentication_guide#using-amazon-cognito-hosted-ui

Let us know if this works for you, feel free to re-open the issue.

[2018-08-28 21:15] #1392 closed

[2018-08-28 22:44] powerful23 commented on #1143
@VicFrolov as I know there is no risk refreshing tokens manually.

[2018-08-28 23:26] elorzafe commented on #1524
Can you paste your mobile-hub-project.yml ?

[2018-08-28 23:27] elorzafe commented on #1524
Which version of amplify are you using?

[2018-08-28 23:34] elorzafe commented on #1527
Hi @markmckim, version 1.0.7 was deprecated due to a breaking change. You can still use 1.0.6 or try newest 2.0.0

[2018-08-28 23:47] Benno007 commented on #1183
Is there any update on this?

[2018-08-29 00:15] dabit3 opened #1528 "Error with AWS Amplify React Native - Missing React Native Vector Icons dependency"
Do you want to request a feature or report a bug?
bug

What is the current behavior?
error when running project when using `withAuthenticator` HOC with `aws-amplify-react-native` dependency.

[code]

<img width="330" alt="screen shot 2018-08-28 at 5 11 38 pm" src="https://user-images.githubusercontent.com/1857282/44757762-9e028c80-aae5-11e8-8980-1621a42cfa23.png">

If the current behavior is a bug

[2018-08-29 00:17] dabit3 commented on #1528
This can be fixed locally by manually installing & linking the React Native Vector Icons library. I think this is because there is a dependency here on React Native Elements which itself has a dependency on React Native Vector Icons.

[2018-08-29 00:18] elorzafe commented on #1527
I've just tried aws-amplify-react-native@2.0.0 using create-react-native-app and is working properly

I used withAuthenticator HOC and export my class like this

`export default withAuthenticator(App, true);`

Feel free to reopen if you problem continues

[2018-08-29 00:18] #1527 closed

[2018-08-29 00:37] ffxsam commented on #1288
Seconded. This has been missing for quite awhile, and IMO is pretty crucial for large file uploads.

@sashafklein You wouldn't need it for download, right? As your browser will provide a download progress bar.

[2018-08-29 06:16] MichZipp commented on #1524
@elorzafe I use Amplify Version 1.0.6!

My mobile-hub-project.yml:
`--- !com.amazonaws.mobilehub.v0.Project
features:
  cloudlogic: !com.amazonaws.mobilehub.v0.CloudLogic
    components:
      articlesCRUD: !com.amazonaws.mobilehub.v0.API
        attributes:
          name: articlesCRUD
          requires-signin: false
          sdk-generation-stage-name: Development
        paths:
          /arti

[2018-08-29 06:34] hansontech commented on #760
+1

[2018-08-29 08:45] kasperbe commented on #1323
I sniffed around the code a little for federatedSignIn:
[code]

It seems as though the second parameters, response, is expected to carry an identity_id, however this param is used to pass in the response from the Auth provider, in this case facebook.
[code]

Here `{ token, expires_at: expires}` is passed, which obviously does not contain an identity_id.

[2018-08-29 09:08] kasperbe commented on #1323
Actually, this seems to be a feature to let the user define the identity id for the identity pool. Super nice guys. I was working with example code from: https://aws-amplify.github.io/amplify-js/media/authentication_guide and had completely forgotten that I need to import the aws-exports. This seems to be working just fine in newest version of aws-amplify. Nice. :)

[2018-08-29 09:18] raghulXander commented on #1406
same issue here in Node 8.11 with aws-sdk and amazon-cognito-identity-js

[2018-08-29 09:19] markmckimlit commented on #1527
OK so I did a bit more testing, and it seems that:

- It **does** work when you use the greetings.js component (by passing in the `true` flag as the second param in withAuthenticator)
- It does **not** work when you make a call to `auth.signout()` from within one of your app components.

Looking at the greetings.js components, it actually does two things:

1. Calls `auth.signout()`
2. Changes the

[2018-08-29 09:25] markmckim opened #1529 "Amplify React Native auth.signout() does not return to Sign In page when called from App component"
New iOS App From Scratch
Integrated React Native into existing app as per React Native Docs
Integrated AWS Amplify
Versions:
react: 16.4.1
react-native: 0.56.0
aws-amplify: 1.0.7
aws-amplify-react-native: 1.0.7
amazon-cognito-auth-js: 1.2.4
amazon-cognito-identity-js: 2.0.22

Description:
Sign Out fails

Steps To Recreate:

Create New iOS App In Xcode
Integrate Auth using withAuthenticator into th

[2018-08-29 09:40] theGlenn commented on #1487
@powerful23 Actually it does take a look here: https://github.com/aws-amplify/amplify-js/blob/master/packages/auth/src/Auth.ts#L1101

If there is no `userpool` the **Auth SDK** calls `signOut` and as I said ealier:

For me it seems like `oauth` and `userpool` configuration are not compatible.

---
### Current workaround

- I removed the `userPoolId` from the Auth config so that credentials are sav

[2018-08-29 09:40] wbeuil opened #1530 "Can't login anymore due to Credentials on Android (failed to load credentials)"
Do you want to request a feature or report a bug?
I want to request a bug as I can't login anymore with amplify. It only occurs on Android.

What is the current behavior?
When I try to login with amplify, it rejects with debug log 'Credentials - Failed to load credentials' and 'AWSPinpointProvider - ensure credentials error: Error: Network Failure at XMLHttpRequest.<anonymous>'

If the current beh

[2018-08-29 09:58] anjalitanpure commented on #1498
@JoseWebby Hey thanks Jose for the input, I ended up using 'whatwg-fetch', 'https://github.com/github/fetch' in my application and I am using Angular-5. Thanks for the issue pointer.

[2018-08-29 10:01] anjalitanpure commented on #1498
Thanks for the input Jose. I ended up using 'whatwg-fetch', 'https://github.com/github/fetch' in my Angular-5 application. Thanks for the issue pointer.

[2018-08-29 10:01] #1498 closed

[2018-08-29 11:39] oneduckoo opened #1531 "How to Update / Deploy Lambda Correctly?"
Do you want to request a feature or report a bug? No

What is the current behavior? I have difficulty in updating Lambda

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than AWS Amplify. N/A

What is the expected behavior? N/A

W

[2018-08-29 13:34] Aslamdesusa commented on #1466
Thank you @mlabieniec it was helpful

[2018-08-29 14:34] TheVaporTrail commented on #1378
@powerful23 I don't understand your previous comment: "...so I don't think the endpoint ." Is it missing a word?

I am receiving the same bad request error. Is there a recommended way to manually configure the endpoint so that I see one endpoint in the Pinpoint dashboard per user? I get the impression from @Jun711's comment that I will only see one endpoint in total if I use a fixed endpoint in my

[2018-08-29 14:51] ffxsam opened #1532 "Pre-PR discussion: upload progress for Storage class"
Hi all,

I've whipped up a modification to `Storage.put` that I wanted to run by the team before opening a PR. What do you think of the below? (also, see below the code for some questions)

@mlabieniec @mbahar

[code]

Some questions that came to mind while I was working on this:

1. If we're using TypeScript, we should use it to its fullest extent. Why aren't we using an `interface`, for example,

[2018-08-29 16:16] mlabieniec commented on #760
The recommended way to use the hosted UI with amplify is documented here:
https://aws-amplify.github.io/amplify-js/media/authentication_guide#using-amazon-cognito-hosted-ui

If you use the Amplify library the process is automated for you including the refreshing of the token when using a token grant. If using the lower level cognito sdk directly, you would also need to use the cognito auth sdk to

[2018-08-29 16:51] dabit3 commented on #1528
Just to come back around and update this issue:

This will not error out when using the Create React Native App CLI because this CLI (Expo) ships with React Native Vector Icons already included.

This is only an issue for developers creating an app using the React Native CLI.

[2018-08-29 17:10] powerful23 commented on #760
If you are using Cognito Hosted UI without `Authenticator`, please make sure you have those steps:
1. Call `Auth.configure(your_auth_configuration)` in the callback page.
2. Use `Auth.currentAuthenticatedUser()` to get the logged in user: https://aws-amplify.github.io/amplify-js/media/authentication_guide#retrieve-current-authenticated-user

If you are not using Amplify but only the Cognito librar

[2018-08-29 17:15] arelaxend commented on #448
@Jun711 fine, my config was wrong!

[2018-08-29 17:38] svzi commented on #1003
I'm stuck with the same error message. I can't run my Ionic 3 production build anymore. :-(

Error message:
[code]

I'm using this libs:
[code]

Any help would be really much appreciated!

[2018-08-29 17:52] powerful23 commented on #1487
@theGlenn https://github.com/aws-amplify/amplify-js/blob/master/packages/auth/src/Auth.ts#L1101 is under the method `signOut()`

The userPoolId is required for Amplify to configure the Auth module and has no conflict with `oauth`.
The Auth module tried to parse the callback url here:

But the handler is not triggered at here: https://github.com/aws-amplify/amplify-js/blob/master/packages/auth/src/

[2018-08-29 18:27] powerful23 commented on #1378
@TheVaporTrail the endpoint is for per device so ideally each of the device(browser) has one unique endpointId. There is a `userId` property in the endpoint context which is for the user. Each userId can have several endpointId which means the user logged in through different devices.

There is a limit for the number of endpoints of each user so that's why the bad request happens. If your device c

[2018-08-29 19:17] powerful23 commented on #1499
@ume-lap if you are using `Authenticator`, it will check the current user when the page is reloaded: https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-react/src/Auth/Greetings.jsx#L43

[2018-08-29 19:20] koterthecoder opened #1535 "Failed to compile on initial build of project, Error: @aws-amplifyui\dist\style.css Unexpected token (1:0)"
I am able to start a new project based on [aws-mobile-react-sample](https://github.com/aws-samples/aws-mobile-react-sample), using the command...
$awsmobile start mobile-react react

But after navigating to the project folder and running...
$awsmobile run
...on a clean version of the starter project, the following error is produced...

ERROR in ./~/@aws-amplify/ui/dist/style.css
Module parse faile

[2018-08-29 21:15] elorzafe commented on #1530
Hi @wbeuil I just tested with this dependencies and is working properly
"dependencies": {
    "aws-amplify": "^1.0.8",
    "aws-amplify-react-native": "^2.0.0",
    "expo": "^27.0.1",
    "react": "16.3.1",
    "react-native": "~0.55.2"
  }

my userpool is in eu-central-1, I will create a project on eu-west-1 and let you know

[2018-08-29 21:42] mbahar commented on #1531
@oneduckoo did you create your API Gateway endpoints with the AWSMobile CLI? If so, you will have a local code to change and deploy. Also, the Amplify CLI enables you to connect to a Lambda function with `amplify add api` command. https://aws-amplify.github.io/amplify-js/media/api_guide#automated-setup

[2018-08-29 21:53] johneast commented on #1003
Out of interest @svzi have you tried it with the latest 1.0.4-unstable.* of `aws-amplify-angular`? AWS did say that there was a problem with AOT that was fixed in that version. I'd be interested to know if it fixes the issues for you.

Also, I note, there is a new version of `aws-amplify-angular` (2.0.0), although I don't know what version of angular it is compatible with.

[2018-08-29 22:00] johneast commented on #1003
I've also just noticed that Amplify now supports modular imports. I don't know about your use case, but I'm not using the graphql part of amplify so I'm going to see if only importing what I need fixes the issue.

[2018-08-29 22:06] elorzafe commented on #1530
@wbeuil I create an amplify project on eu-west-1 with the same configuration and worked. Do you still have this issue?

[2018-08-29 22:13] #1468 closed

[2018-08-29 22:50] elorzafe commented on #1530
@wbeuil I tested on eu-west-1 and is working correctly. If you still have this problem feel free to reopen the issue.

[2018-08-29 23:28] elorzafe commented on #1524
@MichZipp one thing I noticed is that your error is pointing to articlesCRUD api and it should be using sampleCloudApi. can you paste the whole url on the network request tab?

[2018-08-29 23:51] hotgazpacho commented on #1525
Hi @undefobj, thanks for the thoughtful explanation!

My use case is specifically for using Access Tokens issued by a Cognito User Pool (CUP) with an API Gateway method protected by a CUP authorizer configured to expect an Access Token _(by specifying scopes)_. Basically, an OAuth2 protected resource.

I understand that, by default, the CUP authorizer breaks with the OAuth2 standard and expects ID

[2018-08-30 00:07] elorzafe commented on #1535
Hi @koterthecoder That is fixed now, you should remove `yarn.lock` file and `node_modules` directory and run `yarn`.

I've just tested that and it works without that problem

feel free to reopen the issue if the problem continues.

[2018-08-30 00:07] #1535 closed

[2018-08-30 00:28] oneduckoo commented on #1531
@mbahar Yes. I made it with CLI, and I found a local code! I really appreciate it.

[2018-08-30 02:26] DumbledoreD commented on #1524
Hi, I'm having a similar issue. I don't think it's a CORS problem. The reason being if I invoke my function in API Gateway through "Method Test", then everything works flawlessly. If left idle for about 40 minutes or so, the CORS error msg reappears. It seems the cold start and maximum execution time (timeout) are the culprits?

[2018-08-30 03:39] theharness commented on #1283
Any progress made so far? I am getting the exact error message with the same symptoms of closed connections.

[2018-08-30 03:40] johneast commented on #1445
I have been able to get around the issue by using the modular imports of amplify, rather than importing the entire amplify service.

[2018-08-30 03:50] johneast commented on #1003
Putting this here in case anyone else has a similar issue and they want to know how to get around it.

In my use case, I'm not using AppSync so have no need for graphql, this meant I was able to get around the problem by using the modular imports of amplify and only import what I needed, rather than importing the entire amplify library.

See https://github.com/aws-amplify/amplify-js/wiki/Amplify-m

[2018-08-30 05:49] stefan-lz opened #1538 "weird sign-in error: 'null failed with error Generate callenges lambda cannot be called.'"
This occurs when a valid user is signing in with a blank password (we're using a custom sign-in react component)

"aws-amplify": "1.0.6",
"aws-amplify-react": "1.0.6"

Window debug messages:
[code]

I am mapping the error to something more meaningful for the user as a workaround for now.

[code]

[2018-08-30 06:22] gabehollombe-aws opened #1539 "withAuthenticator HOC does not accept phone number in format matching input's placeholder value"
Do you want to request a feature or report a bug?
Bug

What is the current behavior?
When I'm using the withAuthenticator HOC, the phone number's placeholder text shows a phone number in the format of '555-555-1212'.  If I enter a phone number in that format, I get an error which seems to be that it doesn't like the hypens in the input, and it does indeed work if I remove the hyphens from my phone

[2018-08-30 07:34] MichZipp commented on #1524
@elorzafe Sorry for the confusion! articlesCRUD was just an other APi which I created to test, but with no luck. Here is the url on the network request for the sampleCloudApi:

`https://y92urz6isf.execute-api.eu-central-1.amazonaws.com/Development/items`

@DumbledoreD Happy to here that some have a similar issue. Trying around with this error for over 2 weeks now and I have no idea how to fix it.

[2018-08-30 08:05] cornr commented on #1282
I dived deep into the code and found out that after a refresh amplify wants to refresh the facebook token. This is triggered by an API request to our backend.
The problem is here: https://github.com/aws-amplify/amplify-js/blob/400b1cb2f393d33efe5aa824f730b3155a2f9822/packages/core/src/OAuthHelper/FacebookOAuth.ts#L62
A `login` on FB SDK is triggered which looks OK but in my case this is not trigge

[2018-08-30 12:01] vivekFAGH commented on #1445
I am using module imports as well, but still see the error. Any related changes you had to make?

[2018-08-30 12:09] ejdigby commented on #1529
+1 having this issue too

[2018-08-30 13:37] aaayushsingh commented on #1283
@theharness What platform are you using this on? There is a connect timeout and you're probably facing the issue because of that. AWS team decided to not go forward with this because I'm using NativeScript and they don't support it. We did however succeed in making some progress before we decided to stop.

[2018-08-30 14:32] sachita011993 opened #1541 "How to update user pool attribute using token"
I want to update user pool attribute using node js . i have been already authenticate user and get access_token,id_token, refresh_token . So i want to know that is any way to authenticate user using these token .And after update atributes using ( cognitoUser.updateAttributes ) method previous token got invalid .
So how to get new Token ?

Here is code sample :
var obj = ({ Username : reqParam.emai

[2018-08-30 14:49] JoseWebby commented on #1498
Wicked, glad that helped!

[2018-08-30 14:57] engharb opened #1542 "POST https://cognito-identity.eu-west-1.amazonaws.com/ 400 (Bad Request)"
Do you want to request a feature or report a bug?
Bug

What is the current behavior?
Iam using AWS Amplify JS library in my Web-Application, the problem is that in each Authentication request or refreshing my browser I used to see "POST https://cognito-identity.eu-west-1.amazonaws.com/ 400 (Bad Request)".

My understanding is that calling
[code]
leads to AWS sending post request using 'aws_cognito

[2018-08-30 16:26] theharness commented on #1283
@aaayushsingh My issues specifically has been using JavaScript on React. However, we recently observed the same behavior in both the Appsync console, and on Android using the Apollo client. The symptoms point towards the issue being on the Appsync service itself, but nothing is for sure.

[2018-08-30 16:32] vivekFAGH commented on #1445
@johneast I saw your other post about how you resolved the error. I am using the API import in my code which has a dependency on graphql.

[2018-08-30 17:38] powerful23 commented on #1511
@DJWoodZ thanks for your feedback. That's a very good topic and we will dig into this in the future. For now what I can tell is that you can pass a storage object into the library so that the library will cache those items into the storage object: https://aws-amplify.github.io/amplify-js/media/authentication_guide.html#manual-setup

I will create a story in our icebox about the storage policy. Tha

[2018-08-30 18:30] onyii5119 commented on #993
I have been trying to get Amplify PubSub to work but without success. Has anyone been able to get the current version to work? Do you have an example to share?

[2018-08-30 18:54] elorzafe commented on #1530
I will leave the issue open until the problem is root caused. How are you importing Amplify and Auth on your App?

[2018-08-30 19:05] undefobj commented on #1542
@engharb if you are not familiar with setting up unauthenticated access in Cognito, you may choose to use the new Amplify CLI: https://aws-amplify.github.io/amplify-js/media/authentication_guide

[2018-08-30 19:46] VicFrolov commented on #1143
@powerful23 Hey so unfortunately this doesn't seem to be working for me. I was able to get cognitoAuthClient to log a user in via facebook callbackURL after using the hosted UI:

[code]

if I then called

`cognitoAuthClient.isUserSignedIn()`

it returned true, and

`cognitoAuthClient.getCurrentUser()`

 returned the appropriate user. However, if I called

`await Auth.currentAuthenticatedUser();`

[2018-08-30 20:19] powerful23 commented on #1514
@sachita011993 unfortunately Cognito doesn't support sending a link on forget password. Will mark as feature request.

[2018-08-30 21:13] powerful23 commented on #1143
@VicFrolov did you check the localStorage after you are logged in?
The Cognito Auth Client will cache those tokens with the function: https://github.com/aws/amazon-cognito-auth-js/blob/master/src/CognitoAuth.js#L404
Can you confirm there is an item with the key `LastAuthUser` in your cache? Because when you call `Auth.currentAuthenticatedUser()`, it will try to get this item which happens here: ht

[2018-08-30 21:14] sashafklein opened #1544 "Bug - Amplify/Lambda reporting uninformative errors"
I describe my issue at length [on Stack Overflow](https://stackoverflow.com/questions/52009801/aws-amplify-returns-generic-network-error-on-any-lambda-failure), but I'm unsure if it is an Amplify bug, so I'm reproducing it (more briefly) here.

Basically, when I return a response from an API Gateway/Lambda with an error statusCode (>= 400), Amplify on the frontend catches the error (good), but the

[2018-08-30 21:15] powerful23 commented on #1530
@wbeuil  seems like it is the network connection problem. If you are using Android emulator, maybe it's caused by some configuration in your machine like the firewall?

[2018-08-30 21:37] guanzo opened #1545 "Cookie Storage sizes are too large"
Relevant issue: https://github.com/amazon-archives/amazon-cognito-identity-js/issues/688

The benefit of cookie storage is that it enables single sign on for a root domain and all subdomains, it's a great feature! However there are some drawbacks concerning storage size.

When I log in as User A, Cognito creates cookies with a total size of ~4.5k bytes. The largest cookies are the refreshToken, id

[2018-08-30 21:58] timheuer commented on #1518
Also curious why these instructions are using awsmobile -- isn't amplify CLI the thing to use?

[2018-08-30 22:28] VicFrolov commented on #1143
Hmmm yes you're right, they are not being stored at all in local storage. For some reason, after successfully "signing in" via google or facebook, I get:

`cognitoAuthClient.isUserSignedIn() // Google_1234567890`
`cognitoAuthClient.getCurrentUser() // true`

but when I print out all the local storage keys, they are not being generated (neither key or value). However, if I log in via amplify, it cr

[2018-08-30 23:06] powerful23 commented on #1143
@VicFrolov You can debug by setting a break point at https://github.com/aws/amazon-cognito-auth-js/blob/master/src/CognitoAuth.js#L404 to see how the CognitoAuth client stores your token after you logged in with Google.

[2018-08-30 23:07] aaayushsingh opened #1547 "[Question] API.graphql(graphqloperation(query, attrs)) are tagged on client or sent to server as it is and tagged there?"
API.graphql uses simple strings instead of gql-tags. I couldn't find this looking into the source code.

question is, suppose there's a query
[code]
when calling `API.graphql(graphqloperation(query, {id, a, b, c, d, e}))` are the attributes passed tagged into the query on the client side or are they sent as it is to Appsync service and tagged there?

[2018-08-30 23:30] hansontech commented on #760
The Auth.configure source found in https://github.com/aws-amplify/amplify-js/blob/master/packages/auth/src/Auth.ts, says :

            // if not logged in, try to parse the url.
            this.currentAuthenticatedUser().then(() => {
                logger.debug('user already logged in');
            }).catch(e => {
                logger.debug('not logged in, try to parse the url');

[2018-08-31 00:29] jadbox commented on #875
@swaminator hey folks, I'm wondering if anything has changed related to managing lifecycles, particularly coming out of the conversations had. My main use-case currently is switching Cognito client_ids depending on the url being using, so I'm considering just overriding `aws_user_pools_web_client_id` based on my project's `.env/.staging` files that are committed in the repo. I'm not wild about com

[2018-08-31 00:53] VicFrolov commented on #1143
So I'm actively trying to debug this, but to no avail. I erased all contents and settings, and tried fresh. The only guess I have is that rather than store it in AsyncStorage it's somehow storing it in memory, or somewhere else? That's how calling:

`console.log(this.cognitoAuthClient.getCurrentUser(), 'getCurrentUser');`

provides the correct username, since if I look into those methods, it clear

[2018-08-31 04:15] ivanji opened #1548 "Storage.vault.put returns key only"
Do you want to request a feature or report a bug?
- Seems like a bug.

What is the current behavior?

- I'm using Storage.vault.put which is supposed to return "promise resolves to object on success". All I get in the response is the key. Shouldn't the response contain data about the object, such as location, bucket, etc. (apart from the key)

Which versions of Amplify, and which browser / OS are

[2018-08-31 04:31] Legym commented on #1332
I upgraded my npm package aws-amplify-react to the latest version and this issue has been fixed. Really like the new design as well. Thank you!

[2018-08-31 04:31] #1332 closed

[2018-08-31 05:04] SplicePHP commented on #293
Could not find any the mandatory option.

This is what worked for me:
in: amplify/backend/auth/[PROJECT]/parameters.json
set: "allowUnauthenticatedIdentities": true

[2018-08-31 05:43] engharb commented on #1542
@powerful23 , @undefobj Already I have activated the option: Enable access to unauthenticated identities in my identity pool, but I still have the same error message. Do I need to do some changes to the configuration/settings in 'awsmobile'?

[2018-08-31 06:02] engharb commented on #1542
thanks a lot for support. Actually I have created a new Unauth_Role.

[2018-08-31 06:02] #1542 closed

[2018-08-31 06:31] taschik commented on #1323
I can't confirm that this is not working for 1.0.8 for us. Our code looks like this:

[code]
The values for `auth` are all set regarding to the Logger output.  When we then call Auth to get the federatedCredentials with this function here:
[code]
We see the following error:
[code]

If we debug and take a look at the Amplify.Auth object, it seems to be empty:

[code]

It all works with 1.0.0 but no

[2018-08-31 06:50] sachita011993 commented on #1541
Is it possible to update user pool attribute with access_token or id_token ? can anyone send sample code for this issue ?

[2018-08-31 06:51] hilkeheremans commented on #1545
The main thing to remember here is that Cognito tries to include all user data in the identity token. Especially if you include custom data, this will quickly start to add up as you add lots of data.

Here's a trick: if you want to reduce token size, the easiest way to do so is to evaluate which information you _really_ need in the identity token, and then use `claimsToSuppress` on a Pre Token Gen

[2018-08-31 06:54] hilkeheremans commented on #1545
Second thing: to avoid the issue in the first place, you should be able to log out the old user which should also delete those cookies. I don't recall if this kind of logout happened automatically in the old pre-Amplify cognito library if it detected a new user, or if I coded something manually to do that. I certainly don't know how one would go about this in Amplify.

Good luck!

[2018-08-31 10:10] wbeuil commented on #1530
@elorzafe I'm importing Amplify and Auth as below:

import Amplify from 'aws-amplify';
import { Auth } from 'aws-amplify';

@powerful23 I don't know how I can disable the firewall on the android emulator, would you help me ?

[2018-08-31 10:12] lemmingworks opened #1550 "Feature Request: Option to return object metadata with Storage.list()"
It's often very useful to store extra information about the files stored on S3 in metadata. e.g. the row count in a csv file, a user readable name etc, but this info isn't available using Storage.list().

Storage.list() uses S3.listObjects() which doesn't return object metadata, so an extra S3.headObject() call would need to be made for each file returned by S3.listObjects() in order to get the me

[2018-08-31 15:17] mlabieniec commented on #1544
This does end up depending on how you configure your API Gateway, e.g. Lambda proxy etc. If you are NOT using a Lambda proxy setup, you will need to map these error responses/codes within API Gateway, see extensive post on that here:
https://aws.amazon.com/blogs/compute/error-handling-patterns-in-amazon-api-gateway-and-aws-lambda/

If you are using a Lambda Proxy, you will just return as a specifi

[2018-08-31 16:47] powerful23 commented on #293
@SplicePHP it's in the configuration: https://aws-amplify.github.io/amplify-js/media/authentication_guide.html#manual-setup

[2018-08-31 17:13] powerful23 commented on #1143
@VicFrolov I see. So you are actually using it in React Native? Then it would be complicated. You need to pass a storage object to `CognitoAuth` to let it use the AsyncStorage because for now the `amazon-cognito-auth-js` would only choose memory storage or localStorage by default. You can try:
[code]

You can also check this doc if you want to provide your own storage object: https://aws-amplify.g

[2018-08-31 18:58] moldstadt commented on #1445
I am also seeing this error, and also using the API import, so need a different solution.

Using `--aot --uglifyjs --minifycss --optimizeJs` works, but the output is significantly bigger.

Is it perhaps possible to exclude only the aws-amplify module from minification?

[2018-08-31 20:02] cwardcode commented on #774
Yeah, this is a problem with Cognito's hosted sign-in page, not amplify. Is there any way to +1 a feature request so that the Cognito team can take care of it?

[2018-08-31 20:59] #1476 closed

[2018-09-01 02:36] guanzo commented on #1545
Thanks @hilkeheremans, I'll give the Lambda solution a try.

[2018-09-01 04:03] #1531 closed

[2018-09-01 10:02] smartcris opened #1553 "Unable to install aws-amplify/cli properly"
Do you want to request a feature or report a bug?

What is the current behavior?

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't have dependencies other than AWS Amplify.

[code]

[code]

Which versions of Amplify, and which browser / OS are affected by

[2018-09-01 10:31] garyrutland opened #1554 "GraphQL query via POST"
Hi,

Our GraphQL server only allows access via POST, I can't seem to find any way of setting this in the AWS Amplify API but assuming it defaults to GET for queries?

Is there a way of setting the method?

Thanks,
Gary

[2018-09-01 15:54] garyrutland opened #1556 "In this environment the sources for assign MUST be an object"
Hi,

Trying to use the GraphQL API with a non AppSync set up and using a server that's been created using API Gateway and a Lambda.
I can call the API perfectly fine using an ID token I've either generated myself or from the `Auth` library within AWS Amplify, but whenever trying to call the API using Amplify I get the following:

[code]

I do have another issue open at the moment regarding HTTP me

[2018-09-01 21:07] dhruvpratapsingh commented on #1173
Any fix for this fellas?

[2018-09-02 05:01] ajhool commented on #1284
Unable to run a server created with create-react-app due to this bug. This bug was also seen in ApolloGraphQL:

https://github.com/apollographql/apollo-link/pull/623

and there is an effort by @types/zen-observable to resolve it from within the zen-observable types library:

https://github.com/DefinitelyTyped/DefinitelyTyped/pull/26239#issuecomment-395925181

[2018-09-02 06:14] rafachurre opened #1557 "cognitoUser.authenticateUser() -> Unknown error, the response body from fetch is: undefined"
Do you want to request a feature or report a bug?
BUG

What is the current behavior?
When trying to loggin with the amazon-cognito-identity.js API, using the autenticateUser() function form the CognitoUser class, I receive the following error

    `Unknown error, the response body from fetch is: undefined`

When setting a breakpoint in the onFailure event, and checking the trace, you can see 2 cal

[2018-09-02 08:31] tobiastornros commented on #1143
@powerful23 Would it be possible to add React Native label to this issue?

[2018-09-02 09:16] rafachurre commented on #1557
All right I found the problem. I didn't pass the 'this' context to the 'onSuccess' event, so it failed when doing this.getRegion().

However, instead of trowin the "getRegion is not defined" error, it falls back to a previous catch() in Client.js file line 75, which forces the error to be "Unknown error, the response body from fetch is: undefined".

Please, you need to improve this error handling,

[2018-09-02 11:28] dabit3 commented on #1529
When using the Auth.signOut from within the withAuthenticator it will not sign out because it is only updating the session locally in AsyncStorage. You need to have a way to rerender the actual withAuthenticator component.

You can accomplish this with something like this:

[code]

Let me know if this works @ejdigby @markmckim

[2018-09-02 11:37] dabit3 opened #1558 "[React Native] - withAuthenticator(App, { includeGreetings: true }) no longer renders the actual app UI, only the sign out button"
Do you want to request a feature or report a bug?
bug

What is the current behavior?
when using the `{ includeGreetings: true }` argument to `withAuthenticator`, the actual application UI is no longer rendered, only the Sign Out button.

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we c

[2018-09-02 13:05] SudarAbisheck commented on #1558
Facing the same issue here.

[2018-09-02 15:34] Megajin commented on #803
Guys,

the error occured again and again from time to time. I really do not know why.
However I did some investigation on this:

`global.TYPED_ARRAY_SUPPORT` will always be `undefined`. At least in my case.
In my code I did try this:

[code]

Still the same error again. So I went and cloned the amplifyJs repository.
Searching through the `./packages/` folder I did find `s.TYPED_ARRAY_SUPPORT` in t

[2018-09-02 15:36] AceNorth commented on #803
@Megajin We eventually fixed this by removing the "env" preset from our .babelrc, so yes, it seems like that was the issue.

[2018-09-02 16:00] andidev commented on #1390
@powerful23
This is still not resolved correctly. In 1.0.8 the following bug is present:

When the app is totally closed for more than 60 minutes and then reopened the `Auth.currentAuthenticatedUser()` no longer throws an error though it does not return the user `attributes`.

This is what is returned:
[code]

I expect the user `attributes` to be returned. I hade to downgrade my aws-amplify versio

[2018-09-02 16:05] markmckim commented on #1529
Haven't had a chance to try this yet, but am I correct in assuming the last part of your example should look like this instead of what you have above:

[code]

I'll try and get a chance to test this out, but even so, do we know why this has changed with the most recent version when it has worked fine without this for some time? Some change in withAuthenticator/Authenticator?

[2018-09-02 16:59] vinaypuppal commented on #1390
@andidev You can find user attributes in `Auth.currentUserInfo`

[2018-09-02 17:17] NikitaKis commented on #1308
I have the same problem:
Execution failed for task ':app:transformClassesWithMultidexlistForDebug'.

Please help!

[2018-09-02 18:39] dabit3 commented on #1529
Hey @markmckim, I had no idea this was actually working before this update. I'm not sure what changed.

I've also updated my example above to hopefully be more clear.

Hopefully someone else that worked on the change can chime in on why it worked before & why it doesn't now, & if they will be updating the functionality to match the past or not.

[2018-09-02 21:00] markl-vesper commented on #1143
+1 for this issue. Our mobile guys have hit the same roadblock

[2018-09-02 21:47] hounded commented on #1378
Am I correct in understanding that if my user logs in many different web browsers, one at home one at work, one while traveling, eventually he is going to hit this issue?

[2018-09-03 02:57] edgarelc commented on #1003
I'm also facing this issue. I tried aws-amplify 1.0.8 and aws-amplify-angular 2.0.0 and it still doesn't work. I did some digging in my node_modules folder and I found that AWS Amplify defines graphql version 0.11.7 in its package-lock.json file (node_modules/aws-amplify/package-lock.json) but the API module uses 0.13.0 in its package.json file (node_modules/@aws-amplify/api/package.json). That mi

[2018-09-03 02:58] edgarelc commented on #1445
I'm also facing this issue. I tried aws-amplify 1.0.8 and aws-amplify-angular 2.0.0 and it still doesn't work. I did some digging in my node_modules folder and I found that AWS Amplify defines graphql version 0.11.7 in its package-lock.json file (node_modules/aws-amplify/package-lock.json) but the API module uses 0.13.0 in its package.json file (node_modules/@aws-amplify/api/package.json). That mi

[2018-09-03 03:35] nickdb93 opened #1559 "Renders both custom SignIn as well as out-of-box SignIn when hosted on S3"
Do you want to request a feature or report a bug?
Bug

What is the current behavior?
The below code causes both the default out-of-box login component as well as the custom `MySignIn` component and `Greetings` component to be rendered, contrary to the [limited] documentation.

[code]
What is the expected behavior?
Expected above code to render only `MySignIn` component when user is not signed in,

[2018-09-03 09:55] ejdigby commented on #1529
Just implemented this today and can confirm it works

[2018-09-03 11:01] rezaunnabi2018 opened #1560 "aws-amplify@^1.0.8 ERROR in ./node_modules/aws-sdk/lib/event_listeners.js Module not found: Error: Can't resolve 'util' in '\node_modules\aws-sdk\lib'"
Do you want to request a feature or report a bug?
   Report a bug
What is the current behavior?
   At project startup it throws following error:
   ERROR in ./node_modules/aws-sdk/lib/event_listeners.js
   Module not found: Error: Can't resolve 'util' in 'F:\WiptimeNew\node-10.3.0-wiptime\src\node-10.3.0-wiptimeclient\node_modules\aws-sdk\lib'
 @ ./node_modules/aws-sdk/lib/event_listeners.js 522:2

[2018-09-03 11:29] svzi commented on #1003
@johneast Thank you very much for your feedback and suggestion. I've updated aws-amplify to 1.0.8 and aws-amplify-angular to 1.0.5, but neither does solve my issue.

I've also tried your solution by implementing my own `AmplifyService` class, but with your version it doesn't work. I'm only using Auth so far, but in my app I'm listening for the authChanged event like this:

[code]

I didn't find th

[2018-09-03 12:18] kristianmandrup opened #1561 "Missing examples validating data used to make query or mutation"
Been searching for any documentation on how to best add validation to params/data used in GraphQL queries and mutations. Would it be best done from the client app such as React as part of an action or reducer (f.ex in Redux os similar store). What is the recommended approach? I can see there is now some limited validation support in the Velocity templates as well.
Please provide some guidance/exam

[2018-09-03 13:18] kristianmandrup commented on #1561
Best example I've found so far is [here](https://gyandeeps.com/aws-appsync-graphql/)

I guess it could be tweaked to sth like:

[code]

Would this be a good approach?

[2018-09-03 13:39] kristianmandrup commented on #1561
Found another good example [here](https://docs.aws.amazon.com/appsync/latest/devguide/building-a-client-app-react.html)

I guess the method such as `onEdit: (post) => { props.mutate({... ` could include a validation step before calling mutate on props?

[code]

From the project code referenced/used.

[code]

[2018-09-03 14:52] lepirlouit commented on #631
expo has a solution for this : https://docs.expo.io/versions/v29.0.0/guides/push-notifications

[2018-09-04 07:03] hawkett opened #1564 "Cloudfront & S3 not configured for gzip"
Do you want to request a feature or report a bug? **Feature**

What is the current behavior? **Cloudfront not honoring `Accept-Encoding: gzip`**

- `amplify publish` (reports 'File sizes after gzip')
- Hit cloudfront and observe that js/css files are uncompressed.

What is the expected behavior? **gzipped files**

I was able to get this working by modifying the CloudFormation files:

1. The `"Comp

[2018-09-04 08:13] TylerSustare commented on #392
I was getting the same error after the move to `amplify` instead of `awsmobile`. My issue was I put the directory for the `./aws-exports` file at the root of the project, not in the `src` file.

I moved the file to my `src` then when I tried to run `amplify add auth` it created a new `aws-exports` file at my project root. The one I was importing was in the src directory, and was outdated by the pr

[2018-09-04 08:17] kaustavghosh06 commented on #1564
@hawkett  That's a great feature request!
Could you please open this feature request in this repo -> https://github.com/aws-amplify/amplify-cli instead as I feel this is tied to the Amplify CLI and not the Amplify JS lib. Would be happy to work this out with you. Thanks!

[2018-09-04 11:17] engharb opened #1565 "lambda is not authorized to perform: cognito-idp:ListUsers"
What is the current behavior?
I want to create a lambda function trigger PreSignUp and checks if there are other users already signed up using the same email.

here is my function:
[code]

I used to get such error
[code]
Do you have any suggestion and how to configure the IAM-lambda role.
My current lambda role:
[code]

[2018-09-04 11:36] engharb commented on #146
I have such problem and I opened an issue #1565

[2018-09-04 12:13] smunukuntla commented on #392
+1

[2018-09-04 12:45] AntonSmatanik commented on #1089
I have the same problem and this is not very helpful because with unauthenticated access it is functioning OK. I need to get it functioning with authenticated access.

[2018-09-04 13:01] AntonSmatanik opened #1566 "Unhandled promise rejection: NotAuthorizedException: Unauthenticated access is not supported for this identity pool"
Is there any working example how to use authenticated access to AWS? I'm using this:

    Amplify.configure({
            Auth: {
                identityPoolId: configs.broker.identityPoolId,
                region: configs.broker.aws_pubsub_region,
                userPoolId: configs.broker.userPoolId,
                userPoolWebClientId: configs.broker.userPoolWebClientId,
            }
    });

[2018-09-04 13:12] mateen-hussain opened #1567 "Auth.signup with invalid phone number format doesnt resolve the promise"
Do you want to request a feature or report a bug?
Bug

What is the current behavior?
when signinUp a user with invalid phone number then the promise is neither resolved nor rejected with an exception. Rather the request is hung indefinetly.

[code]

What is the expected behavior?
It should give an exception that invalid phone number format is entered.

Which versions of Amplify, and which browser

[2018-09-04 13:57] henrysachs opened #1568 "Fails in Angular Production build"
Do you want to request a feature or report a bug?
-BUG

What is the current behavior?

-Production build fails with error:
``` ERROR in node_modules/aws-amplify-angular/dist/src/components/authenticator/confirm-sign-in-component/confirm-sign-in.factory.d.ts(3,24): error TS2307: Cannot find module 'aws-sdk/clients/route53domains'. ```

If the current behavior is a bug, please provide the steps to r

[2018-09-04 14:17] henrysachs commented on #1568
Would like to help implementing the fix.

[2018-09-04 14:43] fadur opened #1571 "API no configured"
I keep getting "Api no configured" when calling the API.

src/aws-exports.js looks like this:
`
[code]
I've tried setting it up manually.
Same results.

in App.js

[code]

[2018-09-04 15:12] rickydo opened #1572 "Unable to unsubscribe from specific topics for SPA"
**Do you want to request a feature or report a bug?**
Reporting a bug or maybe requesting a new feature...

**What is the current behavior?**
Creating two separate subscriptions for different React components that need to function independently and unsubscribing from one actually unsubscribes all subscriptions. For reproducing purposes, I'll assign them to window variables.

Minimally, if I write

[2018-09-04 16:30] smunukuntla commented on #392
I just amplify delete -> deleted all my node modules folder ->  package.json (lock file) -> reinitiated the project amplify init. Things worked again. But not sure what the issue with the automated process. Maybe manually set up the  things might work properly

[2018-09-04 16:43] rygo6 opened #1573 "Amplify and Redux?"
This is really more a question out of curiosity that I am hoping someone more experienced could comment on. But is Redux necessary with AmplifyJS? I notice that Amplify has Cache and Hub messaging utilities which could be used for Redux like behavior. Is the purpose of those utilities related to that in anyway? Or is it still appropriate and ideal to pull Redux in an AmplifyJS web app?