[2022-10-07 16:55] tannerabread commented on #9968
Going to close this as a duplicate of #7426

[2022-10-07 16:56] tannerabread commented on #10227
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you.

Thank you!

[2022-10-07 16:56] #10227 closed

[2022-10-07 16:58] #8810 closed

[2022-10-07 16:58] akinzalowevidation commented on #10127
Hi @tannerabread we are still following this but have made one observation:
We recently switched from `react-native-secure-storage` to `react-native-mmkv` for token storage (for the `storage` configuration option) and noticed a large decrease in the amount of `{}` thrown errors. We still see them occasionally.

We did split up our logging for `Auth.currentSession` and `session.getAccessToken().get

[2022-10-07 17:06] tannerabread commented on #10272
:wave: @karimtamerBW can you share your latest `package.json`?

[2022-10-07 17:08] #10274 closed

[2022-10-07 17:24] achirita commented on #9639
Since this is still not resolved here are a few tips:
As others already mentioned, you can fix these errors by adding the following config to `vite.config.js`
[code]
The above configuration will **FAIL** if you're using React Router 6.4 data API.
[code]

You will have to stick to using React Router components.
[code]
Hope this helps some poor soul. God knows how much time I wasted figuring this ou

[2022-10-07 17:35] cwomack commented on #10225
After discussing this with the team, we're going to label this as a feature request.  Currently, it's not a default behavior for Cognito to utilize a redirect link in emails for a new user to sign up.

[2022-10-07 18:43] abdallahshaban557 commented on #9639
We are working on removing the need for these manual configurations on Amplify, for now - for Vite customers can you try the workaround mentioned in this comment to see if that resolves build issues for you? https://github.com/kevinold/repro-vite-amplify/commit/4d6b42291dbbcc9cee08f0ec52b416efd5ed7145

[2022-10-07 19:24] ritxweb commented on #7778
Any update on this? It may be related to this [9432](https://github.com/aws-amplify/amplify-js/pull/9432)

[2022-10-07 19:46] SonofNun15 commented on #3732
As mentioned with @ravenscar, the major issue for us with the Hosted UI is that we need our users to enter their email into our portal before we redirect them to the login page so that we can migrate existing users to our Cognito user pool. Requiring them to enter their email twice is absurd and there appears to be no way to inject this into the Hosted UI. Just no customizability there. But then t

[2022-10-07 20:12] tannerabread commented on #10396
I am going to close this as disabling cookies/localStorage separately is not possible in chrome/firefox and Amplify stores data in localStorage. Feel free to comment if you feel this is not resolved so that we can re-open the issue and assist you

[2022-10-07 20:12] #10396 closed

[2022-10-07 20:40] crutchcorn commented on #2286
I would like to work on this issue and introduce `.d.ts` generation to the `aws-amplify-react-native` package.

For now, I introduced #10442 to fix TypeScript typing errors from strict mode usage in TS. Once this is merged/resolved, we can work around this temporarily by adding in a `.d.ts` file in consuming app's codebases:

[code]

[2022-10-07 21:16] abdallahshaban557 commented on #2286
Hello everyone, the aws-amplify-react-native library is on its path to deprecation. We are planning on introducing a new Authenticator library that would live in the [Amplify UI](https://github.com/aws-amplify/amplify-ui) repository.

[2022-10-08 00:17] #9818 closed

[2022-10-09 18:17] zensim opened #10447 "authenticationFlowType : CUSTOM_AUTH returns invalid authentication"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-10 11:32] anyaokpesten opened #10448 "the amount of returned data does not meet the LIMIT"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-10 12:49] zensim commented on #3159
I am using username and password to signin. Getting "authentication flow invalid message" when using CUSTOM_AUTH as the authenticationFlowType. Similar to this issue.
Is there a fix or how to resolve the error?
Thanks

[2022-10-10 13:30] zensim commented on #10447
DefineAuth Lambda code (Node16x)
exports.handler = async (event) => {
        //console.log("entering define challenge", event)
        if (event.request.session && event.request.session.length === 1
            && event.request.session[0].challengeName === 'SRP_A'
            && event.request.session[0].challengeResult === true) {
            //SRP_A is the first challenge, this will be implement

[2022-10-10 13:31] zensim commented on #10447
what I am seeing in amplifyjs/authjs file:
    AuthClass.prototype.signInWithoutPassword = function (username) {
        var _this = this;
        var user = this.createCognitoUser(username);
        user.setAuthenticationFlowType('CUSTOM_AUTH');
        var authDetails = new amazon_cognito_identity_js_1.AuthenticationDetails({
            Username: username
        });
        return new Promise(

[2022-10-10 13:32] zensim commented on #10447
signInWithPassword()  does not have the
user.setAuthenticationFlowType('CUSTOM_AUTH');

[2022-10-10 13:33] zensim commented on #10447
SignIn.js in the client side:

  async onSubmitForm(e) {
    e.preventDefault();
    try {
        console.log('entering signin');

        const userObject = await Auth.signIn(
            this.state.email.replace(/[@.]/g, '|'),
            this.state.password
        );
        console.log('userObject', userObject);
        if (userObject.challengeName) {
            // Auth challenges are pendi

[2022-10-10 14:37] chrisbonifacio commented on #10448
Hi @anyaokpesten 👋 can you share your schema?

[2022-10-10 14:45] tannerabread commented on #8557
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you.

Thank you!

[2022-10-10 14:45] #8557 closed

[2022-10-10 14:57] nadetastic commented on #10381
@anyaokpesten following up on this, we have created a streamlined experience for our developers needing to use Authentication with Cognito using the Authentication library from Amplify. You can opt in to use just the [JS library without the Amplify CLI](https://docs.amplify.aws/lib/auth/start/q/platform/js/#re-use-existing-authentication-resource) (https://docs.amplify.aws/lib/auth/start/q/platfor

[2022-10-10 15:13] brainplug commented on #10301
Hi @tannerabread,

We're still looking into trying that snippet of code but for some reason currently still unclear to us we are now running into invalid_request and/or invalid_grant type of errors from Cognito's oauth2/token endpoint. It is not entirely clear where this all of a sudden is coming from as we just rebuilt the same app (code branch) where we first encountered the issue described abov

[2022-10-10 16:35] abdallahshaban557 commented on #3159
Hi @zensim - can you please submit a Github issue for your scenario? Want to make sure we capture it accurately.

[2022-10-10 17:09] chrisbonifacio commented on #10423
To expand a little on what @cwomack mentioned about tree shaking, if you have the `aws-amplify` package installed you can still import only the scoped packages wherever you need them in your application code.

[2022-10-10 17:30] arthurhts commented on #10371
@tannerabread
looking at the version you mentioned there was no change in the push code, Is there any fix in the latest version related to this problem?

[2022-10-10 17:33] jeroenmeulendijks commented on #10423
@cwomack and @chrisbonifacio I thought using the @aws-amplify/<...> was the 'new' way to use amplify (in a modular way) and aws-amplify was the 'old' way that included 1 big lib.

But I now understand you recommend using it like:

Package.json
`
"@aws-amplify/ui-react": "^3.5.1",
"aws-amplify": "^4.3.20",
`

And than in code:
`
import { Amplify, Auth } from 'aws-amplify';
`

And have the build pro

[2022-10-10 18:17] chrisbonifacio commented on #10377
Hi @laurentlouk 👋 can you check in the Network tab of the browser, and share the logs from the websocket connection?

We're curious to see how the subscription queries are being generated, particularly whether there is an `owner` argument included. Please share for both devices/users.

[2022-10-10 18:21] uchar commented on #3526
@sammartinez Hi, I think you should reopen this issue, since it's still happening and not fixed after a couple of years

[2022-10-10 18:22] chrisbonifacio commented on #10347
Hey @duranmla are you still experiencing this issue or have you been able to resolve it as well?

[2022-10-10 18:26] tannerabread commented on #10118
hi :wave: @JosephVasse
Were you ever able to reproduce this?
I noticed that @ChrisLFieldsII 's fix was for Android 12 devices but your original post mentioned Android 5, 9, & 10, so I'm wondering if they are related or if you were able to reproduce your own issue

[2022-10-10 18:27] abdallahshaban557 commented on #3526
Hi @uchar - can you please submit a new Github issue for us following our template so that we can investigate this? https://github.com/aws-amplify/amplify-js/issues/new?assignees=&labels=&template=1.bug_report.yaml

[2022-10-10 18:35] tannerabread commented on #10252
@delighteckv I'm curious if @ChrisLFieldsII's patch helps you while we are waiting for the refactor of the push notifications category?

[2022-10-10 18:57] nadetastic commented on #10407
@Nut41tank following up on this - We have created a streamlined experience for our developers needing to use Authentication with Cognito using the Authentication library from Amplify. You can opt in to use just the [JS library without the Amplify CLI](https://docs.amplify.aws/lib/auth/start/q/platform/js/#re-use-existing-authentication-resource) (https://docs.amplify.aws/lib/auth/start/q/platform/

[2022-10-10 19:09] anyaokpesten commented on #10448
yes, i can do indexing and it will solve the problem if i need to search **_only by one_** ticketId. but if I need to do a search **_on multiple ticket IDs_**, what should I do in that case? an example of searching by multiple ticket IDs is shown in the screenshots
Code
<img width="729" alt="Screenshot 2022-10-10 at 21 56 49" src="https://user-images.githubusercontent.com/106517182/194935186-5c4cd

[2022-10-10 19:27] anyaokpesten commented on #10381
habitual approach for external scripts to fill with test data

[2022-10-10 19:28] anyaokpesten commented on #10381
Thanks

[2022-10-10 19:28] #10381 closed

[2022-10-10 19:28] tannerabread commented on #9976
Just noting here in case anyone else finds this issue, this is a known problem from the Cognito side and is on their radar. Currently there is no timeline on when it will be fixed but will update this issue if I hear anything further

[2022-10-10 19:34] tannerabread commented on #9972
Closing this as the question has been answered. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with more information so we can re-open this issue and be better able to assist you.

Thank you!

[2022-10-10 19:34] #9972 closed

[2022-10-10 19:39] tannerabread commented on #9966
@AntonKurdo are you still experiencing this issue or did you find a solution?

[2022-10-10 19:48] tannerabread commented on #6621
@leopsidom @sadooghi are either of you still experiencing this issue?

[2022-10-10 20:34] tannerabread commented on #10301
@brainplug I'm just noticing that you have both `aws-amplify` and `@aws-amplify/auth` installed in this project. It may not be the solution here but having both `aws-amplify` and scoped packages such as `@aws-amplify/auth` in the same project is known to cause issues because of version mismatches. Sometimes it can cause 2 instances of Amplify to be initialized and only one to be configured correct

[2022-10-10 20:49] sadooghi commented on #6621
no, it is resolved. thanks @leopsidom

[2022-10-10 21:12] tannerabread commented on #6621
Closing this as resolved. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with more information so we can re-open this issue and assist you.

Thank you!

[2022-10-10 21:12] #6621 closed

[2022-10-10 21:52] tannerabread commented on #10398
@efraindx I'm not sure this will work. Amplify doesn't officially support NodeJS, it is designed for frontend mobile/web applications. I believe when you package it up it converts it to a NodeJS file system which is probably the cause of this error

[2022-10-10 22:39] danderson00 commented on #2777
Folks, this issue has been open for almost 3 and a half YEARS now.

The console is quite misleading, the setting for using a verification link instead of a code simply does not do anything. At the very least, the option to send verification links instead of codes should be disabled to prevent confusion and wasted hours.

[2022-10-10 23:57] Ajmaljalal opened #10453 "Nextjs AWS amplify gql returns null for nextToken even there is data in the DB table"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-11 00:23] tannerabread commented on #10371
@arthurhts It seems like there isn't. We are working on triaging the issue though and I'll update this issue when I know more

[2022-10-11 03:48] abdallahshaban557 commented on #9208
Hi @timharsch - I am asking our team to check what needs to be done to fix this further. We will get back to you when we have more information. FYI @nadetastic @tannerabread @cwomack

[2022-10-11 04:01] weisisheng commented on #10399
Will do, although this issue is secondary.  The primary issue is the code was removed from the file, the file saved, and an error surfaces on non-existent code, making it impossible to push.

[2022-10-11 07:24] mkbctrl commented on #4927
![Screenshot 2022-10-11 at 09 18 02](https://user-images.githubusercontent.com/10107362/195022455-1073ba1e-be5f-41c4-8d8c-03fd8dad1922.png)
![Screenshot 2022-10-11 at 09 18 11](https://user-images.githubusercontent.com/10107362/195022463-80a305f9-6922-46cb-ab21-282e1286b26c.png)

For those who end up here looking for a proper interface for `Auth.SignIn` method... The differences in shape of respon

[2022-10-11 07:30] LEOJESUSMENA commented on #9179
Hi Dane,

Yes, I am sure that User is signed-in.  in fact the app lands on a screen
that the user must be signed in to be able to land on.

I noticed similar logs on different Apps (if that is what you mean by
circumstances) that connect to the same Backend.

I did the following steps, as suggested to by a friend and got different
errors. Thinking, possibly the api key was expired.
So I followed t

[2022-10-11 08:31] JosephVasse commented on #10118
Hello, i've never been able to reproduce it. However the Google Play console crash reports still reports this bug.

[2022-10-11 09:09] v1puj commented on #10312
I am getting currentAuthenticated user but not able to get response from Auth.currentUserCredentials(). Is this method working?

[2022-10-11 09:25] zensim commented on #3159
submitted yesterday.
authenticationFlowType : CUSTOM_AUTH returns invalid authentication · Issue #10447 · aws-amplify/amplify-js

|
|
|
|  |  |

 |

 |
|
|  |
authenticationFlowType : CUSTOM_AUTH returns invalid authentication · Is...

Before opening, please confirm: I have searched for duplicate or closed issues and discussions. I have read the ...
 |

 |

 |

Thanks

    On Monday, October 10, 2

[2022-10-11 09:58] v1puj opened #10456 "Auth.currentUserCredentials() is not working in React native app."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-11 10:17] chengjiaapraamcos commented on #9208
@abdallahshaban557 Thanks for looking into this. It's actually a bug so it should be fixed by the bug creator instead of someone else. :) I'm pretty sure because it was working perfectly but suddently broken from a version.

[2022-10-11 10:42] pablovargasosorio opened #10457 "Auth signin fails the very first time due to PKCE session storage issue"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-11 11:08] daveharig commented on #4927
That's it!  It's a little scarry how Bush-league AWS looks under the hood.

[2022-10-11 12:17] efraindx commented on #10398
@tannerabread `DataStore` is working good, we're able to fetch and save data to AWS without any errors in the packaged application. We're only getting the error when using `Storage`. I also realized that the file is saved correctly in AWS when we get the error.

[2022-10-11 13:23] laurentlouk commented on #10377
hi @chrisbonifacio unfortunately I had to restructure my code and remove the datastore, as it is not suitable anymore due to hazard bugs.
I needed to get on with my product and stop spending time on datastore 😣
I'm sorry I don't have more time to check with you (hard times 😅) and thank you again for your time trying to help me 🙏🏻.

I'll let you decide if you need to close this issue or not.

[2022-10-11 14:27] brainplug commented on #10301
@tannerabread We had to actually do it the other way around to get the application to compile. So: removing aws-amplify and using @aws-amplify/auth (and core which then also added cache). This then properly compiled but unfortunately did not change the error output:

ERROR] 13:25.513 OAuth - Error handling auth response. Error: invalid_request
    at e.<anonymous> (main-es2015.b00b58464a0855ce1138

[2022-10-11 15:46] abdallahshaban557 commented on #10312
Hi @v1puj - can you please use Auth.currentSession() and see if that serves your use case for getting user credentials?

[2022-10-11 15:49] abdallahshaban557 commented on #4927
We are currently working on re-writing our Auth category, and consolidating our TS types, and exposing them more elegantly. It has been long overdue, but we are working on this as our highest priority to simplify the experience of using our library, and making it as seamless as possible.

[2022-10-11 17:27] nadetastic commented on #10231
Hi @lucassilvagc 👋,

Thanks for opening this issue - I'm glad you were able to solve it.

Out of curiosity, is there a requirement/reason to use `amazon-cognito-identity-js` and not Amplify Auth?

 We have created a streamlined experience for our developers needing to use Authentication with Cognito using the Authentication library from Amplify. You can opt in to use just the [JS library without t

[2022-10-11 19:35] tannerabread commented on #10301
Maybe this is a question I should have asked before, but I was just reading through your post helping me to build the app again and want to make sure. Do you add amplify to the original angular app before the build or do you add that after to the already created cordova app?

The other issue I'm trying to figure out might be another place I'm disconnected on, but I got my app running on cordova/an

[2022-10-11 21:14] #8553 closed

[2022-10-11 22:07] efraindx commented on #10398
@tannerabread to debug the app, I enable the option to open the DevTools in the main.js
https://stackoverflow.com/a/53574566/3188036

The packaged app should be in the `dist` folder. Can you please share your app to see what I may be missing?

[2022-10-11 22:10] tannerabread commented on #10301
I missed this part when I was re-reading your latest comment. I also saw that error for just a minute while still not being able to actually log in and used the snippet and it went away.

I didn't get `invalid_request` but I did get the `invalid_grant` error you had mentioned earlier.
For me this showed up after I shut down the running local angular server, deleted my `.angular` folder and the `no

[2022-10-12 03:36] tannerabread commented on #10301
After hours of trying to figure this out myself, this is where I'm at:
I have a cordova app running with the angular code and cordova-plugin-customurlscheme which lets me click the button and then sign in through google but returns me back to the redirect route not logged in

I have been trying to catch the event in main.ts with `handleOpenURL` with no luck

[2022-10-12 05:32] v1puj commented on #10312
Thanks for the response.

Yes, I am getting the response from the Auth.currentSession(). Now I am getting the response from Auth.currentUserCrdentials().

[2022-10-12 05:52] abdallahshaban557 commented on #10312
so do you have any issues - or can we close this issue you have created? https://github.com/aws-amplify/amplify-js/issues/10456

@tannerabread

[2022-10-12 06:08] brainplug commented on #10301
It seems then that you are now where we got stuck as well (disregarding the invalid_request issue we're having for the moment). We also were able to sign in externally and then got redirected back but without actually getting logged in. Before using the Zone-snippet we then saw the replaceState exception. While this is now being ignored, I'm not sure it is an error that we can actually simply igno

[2022-10-12 07:33] #10456 closed

[2022-10-12 08:00] WouterVDW12 commented on #10301
Hi @tannerabread, so I'm glad that you got something up and running to try and help us out here. So since you are getting redirected back to the app we know that the custom url scheme is doing it's job at least. It is strange however that the handleOpenUrl event is not being triggered/called in main.ts . I don't know if it could be related but can you check or add
        <preference name="Android

[2022-10-12 08:09] heikodam commented on #3099
+1 Is there any update on this? I am also facing the same issue that there is no "code" in the event "CustomEmailSender" Lambda Trigger.

[2022-10-12 12:27] v1puj commented on #10312
yes, you can close this issue. now it is resolved.

[2022-10-12 13:18] tannerabread commented on #10312
Thank you all for your involvement in this issue. I am closing this as resolved. Please comment here if you have a related issue so that we can reopen and better assist you. 😸

[2022-10-12 13:18] #10312 closed

[2022-10-12 14:19] tannerabread commented on #10398
@efraindx
I couldn't get the debugger to work as you described, but I'm on Mac so maybe it's different

Looking at `package.json` on the build settings from the sample app you sent, it looks like the finished app gets pushed to `release/build/<system>/ElectronReact.app` by default. It does however pull the resources from the `dist` folder and `package.json`

[Check out my repo](https://github.com/

[2022-10-12 14:19] nadetastic commented on #10080
Hi @dgosar 👋,

Following up with you on this. Are you still facing issues? It also appears you switched to using `aws-sdk`

[2022-10-12 15:27] AlessioVallero opened #10463 "Incorrect warning "owners may reassign ownership for the following model...""
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-12 17:43] tannerabread commented on #8076
Hi 👋 Closing this as resolved. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with additional information so we can re-open this issue and be better able to assist you.

Thank you!

[2022-10-12 18:06] abdu355 opened #10465 "Google Federated Auth does not return email attribute (undefined)"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-12 18:38] tannerabread commented on #9005
Closing this as a duplicate of #8527

[2022-10-12 18:38] #9005 closed

[2022-10-12 20:15] tannerabread commented on #8949
@Parkseokje are you still running into this issue?

[2022-10-12 20:56] tannerabread commented on #9068
Hi 👋 Closing this as resolved. The license now displays the correct `Apache-2.0`

Thank you!

[2022-10-12 20:56] #9068 closed

[2022-10-12 21:24] GeorgeBellTMH commented on #10467
Yup, really looking for something that works in expo on web, iOS and android all at the same time...that's the dream!

[2022-10-12 21:58] darrenybarra commented on #8644
@tannerabread I just ran into this issue today trying to set up Okta OIDC authentication via Cognito. I'm getting the same error but not sure how to fix it.

[2022-10-12 23:03] tannerabread commented on #8644
@darrenybarra
Before I dive too deep into this, check out [this comment on a similar issue](https://github.com/aws-amplify/amplify-js/issues/1089#issuecomment-450810779) and the thread below it. That seemed to fix a lot of people's issues in the past and then some people didn't properly configure amplify within their app

[2022-10-13 00:12] tannerabread commented on #10301
@WouterVDW12 I did try that solution in the xml with no luck there either. I'm going to look into it some more tomorrow but I tried implementing `handleOpenURL` in a few different places and had no luck.

I was also looking at the actual plugin and it doesn't look to have any updates in quite some time so I thought maybe the CLI way of installing it was maybe wrong now and tried to install it with

[2022-10-13 02:39] emmby opened #10468 "amplify-js appears to be incompatible with chrome extension service workers under manifest v3"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-13 03:05] abdallahshaban557 commented on #10467
Hi @GeorgeBellTMH  - we are tracking a feature request to create a UI component to be used with the Amplify Geo category in this [Github issue](https://github.com/aws-amplify/amplify-ui/issues/2280). Please feel free to give this an upvote!

[2022-10-13 03:06] #10467 closed

[2022-10-13 08:37] karimtamerBW commented on #10272
Hello @tannerabread, thank you for your response.

`{
  "name": "frontend",
  "version": "0.1.0",
  "private": true,
  "dependencies": {
    "@aws-amplify/storage": "^3.4.4",
    "@emotion/react": "^11.6.0",
    "@emotion/styled": "^11.6.0",
    "@mui/icons-material": "^5.1.0",
    "@mui/lab": "^5.0.0-alpha.54",
    "@mui/material": "^5.1.0",
    "@mui/styles": "^5.1.0",
    "@mui/x-data-grid-pro"

[2022-10-13 09:30] LouisYoungGMSL opened #10469 "Ability to resume authentication flow"
### Is this related to a new or existing framework?

React

### Is this related to a new or existing API?

Authentication

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

We'd like to be able to resume an authentication flow when completing a custom challenge (MFA in this case) that requires us to navigate away from the current login page. Th

[2022-10-13 12:29] bcs-gbl commented on #10303
Hi,

Im looking for a solution for this for a long time..

DynamoDB search capabilities, pagination, counting are very limited.

So, I try to achive dynamic attribute creation and query with an AWSJSON data type in DynamoDB, but I  forward all DynamoDB data to OpenSearch and read/query from there.

The first when I stuck after the schema modification, because there's a bug in aws templates. (AWSJS

[2022-10-13 13:47] astralko commented on #439
Hi, its been over 4 years now,
is it still not possible to use SAML from cognito to login?

[2022-10-13 14:36] abdallahshaban557 commented on #10423
@jeroenmeulendijks - do you need any further support or can we close this issue now?

[2022-10-13 15:24] tannerabread commented on #10290
Hi 👋 Closing this as resolved. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with additional information so we can re-open this issue and be better able to assist you.

Thank you!

[2022-10-13 15:27] phstc commented on #10290
hi @tannerabread

I'm using `COGNITO_USER_POOLS`.

![image](https://user-images.githubusercontent.com/105652/195639260-1c0c18ad-4bd9-4d58-ad92-55cdd976eefd.png)

I couldn't resume the project yet. But I will let you know if I still face problems.

Thank you

[2022-10-13 15:29] tannerabread commented on #10290
@phstc Sorry to be hasty on closing this issue. I'll be here if you need anything else. Thanks!

[2022-10-13 16:49] fernandorosenblit commented on #9145
Hey @abdallahshaban557 . Thanks in advance for addressing this issue. Do you have any idea when it will be fixed? I'm working on an auth flow and need to access the currentAuthenticatedUser data in middleware.

[2022-10-13 17:25] abdallahshaban557 commented on #9145
@fernandorosenblit - we've made a bit of progress in figuring out what is going on - but we are still early on in our analysis. Will keep this issue updated as we discover more!

[2022-10-13 17:47] jim-jigx commented on #10252
I've implemented a similar patch and it seems to resolve the issue. This _seems_ to have happened after we upgraded to RN 0.68.

[2022-10-13 19:27] Bohdan-Kalynovskyi opened #10472 "Ability to specify query parameters for logout URL when calling signOut()"
### Is this related to a new or existing framework?

React

### Is this related to a new or existing API?

Authentication

### Is this related to another service?

Cognito

### Describe the feature you'd like to request

When the user gets logged out due to inactivity, it's particularly useful to save the page URL before redirecting him to logout page. This would allow him then to get back to wher

[2022-10-13 19:45] chrisbonifacio commented on #10436
Hi @JoshBarr 👋 A little confused by this issue. Looking at the current [AuthOptions type](https://github.com/aws-amplify/amplify-js/blob/c222d226dc1abba33a4045e62f4d608d0541fceb/packages/auth/src/types/Auth.ts#L40), it doesn't seem we support a custom fetch implementation.

I can label this a feature request but I'm curious to know where you might've seen that this was an already supported feature

[2022-10-13 21:49] nadetastic commented on #10387
@belhadjhaythem following up with you.

Let me know if you still need help here - unfortunately I haven't been able to reproduce this issue, and are getting the expected result.

Please note that when using Storage, it is common to get the error `...cannot read property 'bytelength' of undefined...` due to incorrect credentials, or attempting to `get()` with an object key that does not exist.

[2022-10-13 23:38] bearsworth opened #10474 "Automatically secure tokens for react-native apps - don't use async storage"
### Is this related to a new or existing framework?

React Native

### Is this related to a new or existing API?

Authentication

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

For react native apps, Amplify will default to using react native async storage for storing of tokens. I believe this is a vulnerability, but for now I am requesting

[2022-10-14 00:12] bearsworth commented on #3436
I posted for a feature request on a similar note. But moving forward, instead of using async storage, can't you guys just use encrypted storage solutions out there?

[2022-10-14 05:11] kceb commented on #2010
Any updates?

[2022-10-14 05:23] kceb commented on #6676
I too need a solution that does not require me to cache the password... seems pretty insecure. Thankfully I'm doing this server-side. Still would prefer an API that would just resend the code

[2022-10-14 11:20] waysnmeans commented on #3099
send me the details on the email mentioned in the above response, I will reply with the solution. Thanks

[2022-10-14 13:29] CptSpaceToaster opened #10500 "[Vue] installing aws-amplify warns about an unmet peer dependency react-native"
### Before creating a new issue, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-ui/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-ui/discussions).
- [X] I have tried disabling all browser extensions or using a different browser
- [X] I have tried deleting the node_modules folder and reinstalling my depe

[2022-10-14 14:08] #10423 closed

[2022-10-14 14:11] chrisbonifacio commented on #10423
Your understanding is correct, but what I meant was that you can have

Package.json
`"@aws-amplify/ui-react": "^3.5.1", "aws-amplify": "^4.3.20"`

and still import the scoped packages like so:

[code]

if you wanted or needed to 😃

[2022-10-14 14:41] #10407 closed

[2022-10-14 14:44] chrisbonifacio commented on #10225
A potential workaround to autoSignIn on another might be to setup a storage event listener that checks if the cognito access, id, and/or refresh tokens have been stored locally. The storage event listener will trigger if localStrage has changed from another page on the same domain, so the other tab will reload or redirect, whatever you need it to do to update state and login/logout.

something sim

[2022-10-14 14:58] dpilch commented on #10386
Custom primary key support is now released in `aws-amplify@4.3.38`/`@aws-amplify/datastore@3.13.0`. Let us know if you have an issue after upgrading.

[2022-10-14 15:13] dpilch commented on #9179
I am still having difficulty reproducing the error unfortunately. Could you run `amplify diagnose --send-report` ([docs](https://docs.amplify.aws/cli/reference/diagnose/)) in your project and comment with the outputted ID.

[2022-10-14 15:36] tannerabread commented on #10333
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you.

Thank you!

[2022-10-14 15:36] #10333 closed

[2022-10-14 15:50] tannerabread commented on #9371
Amplify UI components have been updated since this issue was written. We recommend using the new components over this old version

[2022-10-14 15:50] #9371 closed

[2022-10-14 18:02] bc4253 opened #10479 "emit new "relation changed" observe event for related object(s)"
### Is this related to a new or existing framework?

React

### Is this related to a new or existing API?

DataStore

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

type Post @model {
  id: ID
  text: String
  authorId: ID
  author: Author @belongsTo...
}
type Author @model {
  id: ID
  name: String
  posts: [Post] @hasMany
}
To display a li

[2022-10-14 18:04] xaguzman opened #10480 "React - Vite Dev breaks as soon as I import Amplify"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-14 18:37] tannerabread commented on #10480
@xaguzman
Can you try this with `import { Amplify } from 'aws-amplify'` instead of what you are currently using?
The library has switched to named exports and `import Amplify` is set to be deprecated.

[2022-10-14 19:24] cwomack commented on #10404
Hey there @josephp27 👋.  I wanted to clarify what you're looking to do with that `for` loop to create the 100x subscription so we can determine if this is a bug or if there's possibly a better way to accomplish your goal. Are you trying to ensure there's a certain number of subscriptions _per model_ possibly?  If so, [this link](https://docs.amplify.aws/lib/datastore/real-time/q/platform/js/) migh

[2022-10-14 20:24] nadetastic commented on #9381
Hi @jashsayani I'm following up with you on this.

Are you still facing this issue while using `amazon-cognito-identity-js`? And if so, is there a requirement/reason to use
 `amazon-cognito-identity-js` and not Amplify Auth?

 We have created a streamlined experience for our developers needing to use Authentication with Cognito using the Authentication library from Amplify. You can opt in to use j

[2022-10-14 21:07] ockam commented on #10480
@tannerabread Same issue with named export.

Problem has been introduced with latest version (4.3.38). Reverting to 4.3.37 fix it.

[2022-10-14 21:14] tannerabread commented on #10480
@xaguzman @ockam
v4.3.39 was just released to fix this issue. Please let me know if upgrading to this version fixes it for you

[2022-10-14 21:15] xaguzman commented on #10480
@tannerabread upgrading to 4.3.39 resolved the issue, thanks!

[2022-10-14 21:40] tannerabread commented on #10480
Hi 👋 Closing this as resolved. Version 4.3.39 should have fixed this Vite issue. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with additional information so we can re-open this issue and be better able to assist you.

Thank you!

[2022-10-14 21:40] #10480 closed

[2022-10-14 22:19] tannerabread commented on #10252
@jim-jigx If that's the case, do you know if Fabric was enabled when upgrading?

[2022-10-14 23:14] jim-jigx commented on #10252
Not to my knowledge. We have newArchEnabled=false in our gradle.properties. I hope that answers your question.

[2022-10-15 13:28] lucassilvagc commented on #10231
Hi @nadetastic,

In my previous usages (in almost all of them), amazon-cognito-identity-js provided - at the time - a better experience for custom login flows. It has been a long time since I last used Amplify Auth (back in 2020), but usage was somewhat confusing to me, and the "raw library" (amazon-cognito-identity-js) was more streamlined in my use case.

I will definitely take a look on Amplify

[2022-10-16 10:55] teetangh commented on #9807
In the future, would this issue be resolved natively with AWS AppSync? Every time, I try to fetch the comments(with @belongsTo ) for the post(with @hasMany), I get an empty array for the comments on each post.

[code]

[2022-10-16 11:10] ekofi opened #10486 ""Error: No credentials" on Amplify, works well on local"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-16 13:13] chrisbonifacio commented on #10486
Hi @ekofi 👋 thanks for raising this issue.

Can you also share your graphQL schema for the model?

[2022-10-16 13:15] duckbytes opened #10487 "DataStore: Conflict handler doesn't run when a non-nullable @belongsTo field exists and Optimistic Concurrency is used"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-16 17:35] ekofi commented on #10486
Hi, thanks @chrisbonifacio. This is the schema:

[code]

[2022-10-16 21:51] chrisbonifacio commented on #10486
@ekofi sorry, I should've also asked for the code snippets where you are calling DataStore.save. I need to know if it is being called on the client or the server.

[2022-10-17 07:06] Arnav7501 opened #10490 "User pool client xxxx does not exist."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-17 07:38] sbbailey commented on #3894
Hi, I know this thread is old, but the problem still exists. As @GuidoBeutlerHRS describes, the solution of an ALB that offsets authentication to Cognito for web traffic is a really good implementation for many reasons. The way AWS has set up Amplify is in a way that requires AppSync and API Gateway - for technical reasons, these may not be applicable, and it seems AWS have missed a beat here by n

[2022-10-17 10:05] denxorz commented on #9150
I experience this in Vue. Is it possible to port these React fixes to Vue?

"@aws-amplify/auth": "4.6.7",
"@aws-amplify/ui-vue": "2.4.22",

[2022-10-17 14:03] #10080 closed, assigned to chrisbonifacio, nadetastic

[2022-10-17 15:58] haverchuck commented on #10490
@Arnav7501 Could you please
1. Post the content from your `aws-exports.js` file or the object you're using to configure? Feel free to obscure the actual values (I just want to see the keys).
2. Post a snippet of the code you are using to call configure?

[2022-10-17 15:59] chrisbonifacio commented on #9917
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you.

Thank you!

[2022-10-17 15:59] #9917 closed

[2022-10-17 15:59] nadetastic commented on #10231
@lucassilvagc Thanks for the feedback!

What were some of the use cases with custom login flows? Curious if updates that have been made to Amplify Auth address and make for a better experience.

I'll reopen this issue for now

[2022-10-17 16:04] chrisbonifacio commented on #9762
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you.

Thank you!

[2022-10-17 16:04] #9762 closed

[2022-10-17 16:08] chrisbonifacio commented on #9761
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you.

Thank you!

[2022-10-17 16:08] chrisbonifacio commented on #9710
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you.

Thank you!

[2022-10-17 16:10] chrisbonifacio commented on #9664
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you.

Thank you!

[2022-10-17 16:13] #9582 closed

[2022-10-17 17:37] chrisbonifacio commented on #10448
@anyaokpesten the reason the limit had to be increased for results to show is because when you specify a limit AND a filter expression, you're asking DynamoDB to filter the number of records up to the limit (or 1MB max worth of data), and return the records that match the filter.

So, in your first query, there were only 5 records scanned and then the filter was applied to those. In the second, 10

[2022-10-17 17:45] #10448 closed

[2022-10-17 18:08] Arnav7501 commented on #10490
@haverchuck
Alright, I have located the main problem.
In this image, you can see i configured email and name for the signup field
<img width="914" alt="image" src="https://user-images.githubusercontent.com/90722645/196250667-e7d601cf-62d1-4d39-81dd-86cb499a9d3f.png">

However,
my  "aws_cognito_signup_attributes": [], is empty. Even after i pulled the updated environment multiple times my aws-expor

[2022-10-17 18:12] chrisbonifacio commented on #9325
Hi @maxludovicohofer @rnrnstar2 👋 we're released a potential fix a while back. If you're still experiencing this issue, could you please update to the latest version of `aws-amplify` and/or `@aws-amplify/datastore` and verify whether or not this issue persists for you?

[2022-10-17 18:12] alharris-at commented on #9573
The PR from @svidgen resolved my issue here. Resolving.

[2022-10-17 18:12] #9573 closed

[2022-10-17 18:21] tannerabread commented on #10268
@yaroslavvk I have not been able to reproduce this following your steps.

Just to clarify, I did:
1. Create new angular app by `ng new`, accepted all defaults
2. `cd newApp`
3. `npm i aws-amplify --save`
4. Added `import { Amplify, API } from 'aws-amplify'` in main.ts
5. run `ng build`

This does not produce the error you described. Please let me know if there is more information to reproduce your

[2022-10-17 18:22] tylucaskelley opened #10491 "Cannot update user password in `completeNewPasswordChallenge` due to required immutable attribute"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-17 18:28] chrisbonifacio commented on #10453
Hi @Ajmaljalal 👋 thanks for raising this issue. Can you share the outgoing request from the Next.js app (from the Network activity tab) and the one from the AppSync console for us to compare?

Is there any difference between calling `APi.graphql` on the client side vs the server?

[2022-10-17 18:40] chrisbonifacio commented on #10487
Hey @duckbytes thanks for opening this issue. Can you confirm if you've been able to reproduce this using the reproduction steps on the fresh app you mentioned on Discord? (when the `createdBy` field is required). Can you confirm that you haven't configured a conflict resolution strategy override for that particular model? Selection sets or input shouldn't have an affect on optimistic concurrency.

[2022-10-17 19:10] alexjball commented on #7314
I am writing integration tests for my client-side data layer so it is convenient to both render hooks and use the non-mocked amplify sdk. By following [this comment](https://github.com/aws-amplify/amplify-js/issues/6552#issuecomment-686153238), I am able to get auth working in a jsdom environment with Jest 28 by using the node Uint8Array implementation rather than jsdom's:

[code]

[2022-10-17 19:16] flodaniel commented on #10319
Amplify Auth does not resolve the described issue, as it uses the same API (https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_InitiateAuth.html with `AuthFlow=REFRESH_TOKEN_AUTH `.
This is another issue that is reported in the github issues of client facing libraries (such as amplify-js), but is a server-side bug.

I suspect that this bug is forcing many developers to

[2022-10-17 22:11] tannerabread commented on #10371
@ChengZh98
Were you seeing this issue on iOS and Android?
I assumed iOS when I first read this issue based on the setup guide you linked but @arthurhts was seeing the problem on Android

[2022-10-17 22:49] neaumusic commented on #10138
Matthews answer should fix this

I'm having great success with two PK/SK models and `"respectprimarykeyattributesonconnectionfield": true,` in `amplify/cli.json`

[code]

just delete `amplify/mock-data/` and `amplify mock --recreate-tables`
[code]

this should show the relationships correctly and both Content and Image have PK/SK
I would just use Matthews answer in your case, I think it's a miscon

[2022-10-17 23:25] Ajmaljalal commented on #10453
@chrisbonifacio here are the outgoing request:
from Next.js app network tab
`query: "query FeedPostsByDate($type: String!, $createdAt: ModelStringKeyConditionInput, $sortDirection: ModelSortDirection, $filter: ModelFeedPostFilterInput, $limit: Int, $nextToken: String)
variables: {limit: 2, type: "FeedPost", sortDirection: "DESC",…}
limit: 2
nextToken: "eyJ2ZXJzaW9..."
sortDirection: "DESC"
type: "

[2022-10-18 04:13] markl-vesper opened #10494 "AWSPinpointProvider - updateEndpoint failed [ReferenceError: Property 'err' doesn't exist]"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-18 06:35] meherranjan commented on #6404
@nathander Were you able to reliably use a streaming or PCM buffer package on react native that worked well for you?

[2022-10-18 08:44] ovidiu-a commented on #6676
+1, this is a needed feature

[2022-10-18 09:51] julum commented on #9580
Something new here? I got the same error with aws-amplify@4.3.39.

[2022-10-18 10:12] hoan-pham-duy opened #10495 "Allow update git repository's name"
### Is this related to a new or existing framework?

_No response_

### Is this related to a new or existing API?

_No response_

### Is this related to another service?

Connect Repository

### Describe the feature you'd like to request

When I tried to rename my GitHub repository, I couldn't continue working with the current AWS Amplify app.
I need to delete old environments and create new ones.

[2022-10-18 11:20] adilek opened #10498 "Cookie storage limit problem with Cognito"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-18 15:29] haverchuck commented on #10498
@adilek Are you using Cognito Hosted UI?

[2022-10-18 15:32] haverchuck commented on #10490
@Arnav7501 Thank you for the update. When you say "pulled the updated environment", what exactly do you mean? You cannot change the required attributes after the user pool is created.

[2022-10-18 18:49] ncarvajalc commented on #10226
# Context
Even though there is no official documentation for this feature, it is possible without major workarounds. I am currently implementing federated sign in using AzureAD as my third party provider using OpenID (It is also possible using SAML).

Notice that the `provider` argument is the `identity_provider` query parameter that you mentioned in the [Authorize endpoint API](https://docs.aws.a

[2022-10-18 19:01] tannerabread commented on #10371
@ChengZh98 @arthurhts
Can one of you give me the full environment details with
[code]

[2022-10-18 19:59] tannerabread commented on #8753
@paulsjohnson91 @biller-aivy
Are either of you still experiencing this issue?

[2022-10-18 20:16] biller-aivy commented on #8753
I created a Lambada with the pinpoint sdk and manage this by myself now.

[2022-10-18 20:21] tannerabread commented on #8947
@agloks @brijesh2609 @mtsymlov are you still experiencing this issue? Did @Samaritan1011001 's [comment](https://github.com/aws-amplify/amplify-js/issues/8947#issuecomment-1079474355) fit your use case and the PR solve the problem?

[2022-10-18 20:58] markl-vesper commented on #10494
Hi @abdallahshaban557

Thanks for reaching out. Well today the error is no longer apparent when logging in with any user. What I do notice though is that PushNotification.onRegister is never called so we never get to save the token locally or update our backend and associate with the user on our side.

After reading a few forums I attempted to debug this a bit further using

[code]

and

[code]

B

[2022-10-18 21:49] tannerabread commented on #10494
Hi :wave: @markl-vesper

Trying to get some clarity on where the current issue is. Originally you were talking about Pinpoint endpoint errors when logging in and now you are having a PushNotification error.
I see that you are no longer having the Analytics error itself, did the Push Notification error only show up after the other error went away? And is it now safe to assume there is no problems w

[2022-10-18 21:57] markl-vesper commented on #10494
Hi @tannerabread

Yes - Yesterday the errors were occuring during the Analytics.updateEndpoint. Today that error is no longer occuring. The only changes were to restart the environment in terms of node server and device emulator.

Actually the push notification error showed up as part of attempting to triage the original issue prior to opening this case. I was attempting to determine the value of

[2022-10-18 22:03] markl-vesper commented on #10494
One further update re original issue. Its just come back after restarting the app. No other changes were made. Had been in a meeting and came back to desk and sent the above reply and then started app and the original error

[ERROR] 50:36.296 AWSPinpointProvider - updateEndpoint failed [ReferenceError: Property 'err' doesn't exist]

has returned.

Would seem that this is an intermittent issue now

[2022-10-18 22:27] markl-vesper commented on #10494
running adb logcat has helped further. Looks like a config file is not being included somehow. I'll dig down deeper into this

10-19 09:35:59.528  1328  1560 E GCM     : Missing checkin config file
10-19 09:35:59.528  1328  1560 W GCM     : GCM FAILED TO INITIALIZE - missing checkin
10-19 09:35:59.531  3567  4056 E FirebaseInstanceId: Topic sync or token retrieval failed on hard failure exceptions

[2022-10-18 23:11] markl-vesper commented on #10494
upgrade of aws-amplify did not help but I believe I have found the issue

The logcat is reporting the apikey is invalid. When you download the google-services.com it contains TWO current_key entries in api_key section. These do not match the WebAPI Key in the top section on the console screen

As test I replaced the api key in google-services.json with the key from the screen instead of using the

[2022-10-19 00:51] tannerabread commented on #10494
Thanks for the updates. That's really interesting that your app is working with an old apiKey!

I'll leave this open until you have time to test the PN but I do have one more question, are you only running this on an emulated device? If so, was the triaging of the first error the first time you tried to use the PushNotification category at all?

[2022-10-19 02:38] tannerabread commented on #10398
@efraindx were you able to figure out your issue?

[2022-10-19 03:09] tannerabread commented on #10119
@estrudels are you still experiencing this issue?

[2022-10-19 03:25] tannerabread commented on #9929
@Oriole-Alex Did I understand that you were able to keep this running because of a backup you had made of the project? Did you ever get it working outside of that?

[2022-10-19 05:10] adilek commented on #10498
We do not use hosted UI due its limitations. Instead we use APIs from Amplify to work with Cognito.

[2022-10-19 10:48] PhillipFraThailand commented on #9104
+1

[2022-10-19 10:52] estrudels commented on #10119
@tannerabread

Yes I am still experiencing this issue in my tests

[WARN] 48:37.405 Hub - WARNING: auth is protected and dispatching on it can have unintended consequences

The current version we are using have been updated also

"@aws-amplify/api-graphql": "2.3.19",
"@aws-amplify/auth": "4.6.8",
"@aws-amplify/core": "4.7.6",

Thanks

[2022-10-19 13:25] SPopenko commented on #4223
Hi @Amplifiyer, do you have any updates for the community?

[2022-10-19 14:05] tannerabread commented on #10301
@brainplug @WouterVDW12
Just a little follow up as I was able to reproduce and get to where you are.

I don't think this is an Amplify issue but rather an issue with the routing through Cordova. I tried all of the plugins you suggested and a few more and had no success with any of them.

It seems the response that contains the code/state gets lost somewhere between the browser and the redirect in

[2022-10-19 14:25] brainplug commented on #10301
Hi @tannerabread ,

No, we have not yet tried anything other than Cordova because this app is essentially one we got from HQ and that we use as-is for our regional market, with the single exception of replacing a standard Cognito setup (without federation) to one that can integrate with our third party IdP (so: with federation).

I could ask @WouterVDW12 to try out Capacitor but in that case it wo

[2022-10-19 15:34] jim-jigx commented on #10371
@tannerabread : You didn't ask me specifically but we are having the same problem. Output of above command:
`
  System:
    OS: macOS 12.6
    CPU: (10) x64 Apple M1 Pro
    Memory: 21.18 MB / 16.00 GB
    Shell: 5.8.1 - /bin/zsh
  Binaries:
    Node: 14.18.2 - /usr/local/bin/node
    Yarn: 3.2.1 - /usr/local/bin/yarn
    npm: 6.14.10 - ~/jigx-com/jigx/node_modules/.bin/npm
    Watchman: 2022.10.0

[2022-10-19 17:39] tannerabread commented on #10119
@estrudels
I'm not sure that original issue you linked is related to this same warning you are seeing. I was pretty unfamiliar with this area but I noticed the warning was from Hub.

What I did find was [this documentation](https://docs.amplify.aws/lib/utilities/hub/q/platform/js/#channels) on Amplify protecting certain channels for Hub to listen on.
Are you using Hub in your tests to listen for '

[2022-10-19 17:55] tannerabread commented on #10371
@jim-jigx Is this the same problem you mentioned in #10252 ?
If so we are trying to figure out if those are the same cause, that issue seemed to be related to Android 12+

[2022-10-19 18:03] jim-jigx commented on #10371
Yes, this is the same issue on our side. This issue is the symptom we are seeing (onNotification on being called), the #10252 issue is what we see when we debug the notification handler and can see the exception being thrown.

[2022-10-19 18:07] estrudels commented on #10119
Yes we are leveraging the use of Hub as indicated in the documentation

I am just unsure why we are seeing theses errors :(

I will try to see if I can isolate the problem

[2022-10-19 18:17] tannerabread commented on #10119
Can you give a small snippet of how you are using it in the tests?

[2022-10-19 18:41] efraindx commented on #10398
@tannerabread I was able to run your project locally and it worked for me as well without any errors. I'm still trying to figure out what I'm missing from my project. I'll post here once I find this.

[2022-10-19 19:07] tannerabread commented on #10301
[This is the user](https://github.com/aws-amplify/amplify-js/issues/5351#issuecomment-646529458) that was able to get it working with Capacitor. From what I was reading on this issue, it seemed to be related to Angular lifecycle issues. All of the workarounds seem to be pretty messy but I'm also pretty determined to make one of them work

[This customer](https://github.com/aws-amplify/amplify-js/i

[2022-10-19 19:31] alharris-at commented on #8538
I'm going to close this issue. Electron is not a supported platform for Amplify Datastore, and we have no plans to support it at this point.

Because there are corner cases that may bite users down the road (as you've already experienced) I don't want to suggest a workaround to make it work in the short-term. If you wish to continue down the untested route I'd suggest operating in a fork of the re

[2022-10-19 19:31] #8538 closed

[2022-10-19 20:12] tannerabread commented on #8949
Hi 👋 Closing this as we have not heard back from you and I have not seen this elsewhere. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you.

Thank you!

[2022-10-19 20:16] tannerabread commented on #10272
@karimtamerBW
I see that you're still using v3 of amplify, is there a particular reason for that? It might help to delete your node_modules folder and reinstall with the latest v4 of amplify, if possible.

Also you should be able to get rid of the scoped `@aws-amplify/storage` package which could be causing issues with multiple instances of amplify

[2022-10-19 20:43] tannerabread commented on #9215
@tl1993 @timorss
Are either of you still experiencing this issue?

[2022-10-19 20:55] tannerabread commented on #8644
@darrenybarra Was that helpful in solving your issue or should I investigate further?

[2022-10-19 22:16] stocaaro commented on #7953
Are you still seeing this issue? I think there was a fix released related to Webpack 5 in December of 2021.  If this is still happening can you confirm with reproduction steps?

Thanks, Aaron

[2022-10-19 22:25] markl-vesper commented on #10494
Hi @tannerabread

Have tried PN on both physical device and emulator

I have completed some further debugging since yesterday

Currently the app will only build when compileSdkVersion = 33. Anything below that then the build will fail due to some android libraries complaining about requiring 33 (I can provide that output if required)

However when building app against 33 and running a test PN I ca

[2022-10-19 22:28] estrudels commented on #10119
See above code snippet

I isolated this very simple and clear test.

As only needs a few lines to setup this test.

I am assuming when we do Hub.dispatch('auth', ...) we are doing something incorrect or unsafe?

@tannerabread

[2022-10-19 23:08] cwomack commented on #10029
Hello, @armenr 👋.  This issue appears to be a duplicate and related to an existing Github issue (https://github.com/aws-amplify/amplify-js/issues/9119). I'll be closing this one to keep all information related to this behavior on a single stream to avoid any miscommunication.

 Please feel free to add your comments to the linked issue from here.

[2022-10-19 23:08] #10029 closed

[2022-10-19 23:34] jellyfisssh commented on #8755
poopy

[2022-10-20 02:05] markl-vesper commented on #10252
I also have implemented @ChrisLFieldsII patch to resolve the issue. Great work and thanks for helping out the community!!

[2022-10-20 02:32] rnrnstar2 commented on #9325
Thank you for your support!
I upgraded to the latest version and tried.
"@aws-amplify/datastore": "^3.14.0",
But I got a typo and page and limit didn't work either.

![スクリーンショット 2022-10-20 11 30 26](https://user-images.githubusercontent.com/39724729/196842162-f0d715d8-10ce-4a91-bef6-a6e3015fa70d.png)

[2022-10-20 04:49] SanjitIdigitalxp opened #10507 "Sign in with Apple configuration rejected by App Store"
In my experience since apple is making mandatory using "sign in with apple" in your project like a mobile app if you use other socials like Facebook or google, nothings seems to solve the issue that amplify with cognito using federatedSignIn with apple sign in does not work at all! I have spent days testing everything and still not having any solution! Please amplify put a clear working sample of

[2022-10-20 06:20] ChrisLFieldsII commented on #10252
Glad it could help!

I just updated the [comment](https://github.com/aws-amplify/amplify-js/issues/10118#issuecomment-1267940824) i left the patch on to include the updates I made for our projects `MainActivity.kt` (yours might be `MainActivity.java`) to handle the `notification` bundle that is attached to the notification `PendingIntent`.

One requirement that didn't work for us out-of-the-box wa

[2022-10-20 07:24] purwa-astawa commented on #3159
works for me using @obonyojimmy [suggestion](https://github.com/aws-amplify/amplify-js/issues/3159#issuecomment-566336969), passing empty string for the password

[code]

[2022-10-20 07:26] WouterVDW12 commented on #10301
Hi @tannerabread,
To anwser your- first question: yes, I was able to cacth the `handleOpenUrl `in main.ts when the redirect flow was still working for us. Here is some of the logging I did then where you can see the code and state parameters being passed from the redirect right through to the `handleOpenUrl `function (with some amplify events triggering along the way):
![image](https://user-images

[2022-10-20 07:32] uchar commented on #3526
@abdallahshaban557
As I said before, I don't use Cognito anymore, just saying this because this thread's notification is still popping up in my inventory.
Also not sure why you need a new issue,I think this thread's descriptions are pretty obvious and easy to follow for investigation

[2022-10-20 11:13] laclance opened #10508 "undefined is not an object evaluating model[f] or model[f]"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-20 11:30] muvashi opened #10509 "Support for new Google Identity Services for Web solution"
### Is this related to a new or existing framework?

React

### Is this related to a new or existing API?

_No response_

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

Hello,

The Google Sign-In JavaScript platform library for Web is deprecated, and unavailable for download after March 31, 2023.

Google is recommending to use the new Google

[2022-10-20 13:05] tannerabread commented on #10494
Hi 👋 @markl-vesper thank you for leaving your debug trail here in case anyone else encounters this same issue.

Closing this as resolved. If anyone else experiences this issue and is in need of assistance, please feel free to comment and provide us with additional information so we can re-open this issue and be better able to assist you.

Thank you!

[2022-10-20 13:05] #10494 closed

[2022-10-20 13:51] tannerabread commented on #8839
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment so we can re-open this issue and be better able to assist you.

Thank you!

[2022-10-20 13:51] #8839 closed

[2022-10-20 14:59] 8maxxam8 commented on #10024
@axel-andersson
I am also running into the same issue! Did you manage to find a solution?

[2022-10-20 15:39] abdallahshaban557 commented on #3526
Just re-opened the issue @uchar  - apologies, I did not notice that a previous automation on our repo (which we have removed) had automatically closed your issue.

[2022-10-20 16:19] ncarvajalc commented on #10487
I can confirm the issue is reproducible following the steps described by @duckbytes. I'll look into possible causes of the issue.

[2022-10-20 16:32] duckbytes commented on #10487
Thanks @ncarvajalc for looking into it.

@chrisbonifacio sorry for the delay. Maybe not needed now but I generated a report for the reproduction: d6e5f7b6ca9c454ae146353bd5eba025

This is a report for my actual app where I first discovered the issue: c483e5370c77cedae471340404b9b9de but I've already updated that so createdBy is nullable to work around the issue. So it might not be as helpful.

I w

[2022-10-20 17:14] alettieri commented on #10509
Looking forward to hearing more about this. We're currently adding federated sign-in support with amplify and noticed the deprecation warning.

[2022-10-20 20:01] nathander commented on #6404
@meherranjan I ended up abandoning React Native for my project and building in Java and Swift instead.

[2022-10-20 20:36] haverchuck commented on #10509
Reading through [Google's Deprecation notice](https://developers.googleblog.com/2021/08/gsi-jsweb-deprecation.html), we are not seeing any Amplify changes required.

_(Italics mine)_

There are two potential issues to consider with Amplify: Cognito Hosted UI and Federated Identities (i.e. the [`Auth.federatedSignIn`](https://docs.amplify.aws/lib/auth/advanced/q/platform/js/#google-sign-in-react) A

[2022-10-20 20:51] nadetastic commented on #8082
Hi @krucraft @cnbrkkaya,

Following up on this - the documentation incorrectly states to add the cognito userpool url instead of your website URL when adding a platform. [This PR](https://github.com/aws-amplify/docs/pull/4731) will clarify the  steps.

[2022-10-20 20:57] krucraft commented on #8082
We ended up disabling Facebook login and migrating those users to new accounts with email/pass login given that I reported this issue over a year ago and they needed a way to access their account. Now we're migrating off Amplify and Cognito entirely.

[2022-10-20 21:49] #8082 closed

[2022-10-20 23:02] markl-vesper commented on #10252
Hi @ChrisLFieldsII - Yes mine is MainActivity.java and unfortunately the additonal changes to MainActivity.java actually break our build. I suspect your using Expo whereas we are not.

Anyways the main issue I am facing now seems to be more of an intermittent receiving of the PN's at the O/S level but I suspect it might be some AWS limits on the sandboxed Pinpoint applications vs PROD that limit s

[2022-10-21 01:44] delighteckv commented on #10252
@tannerabread Verified the patch works fine on Android 12(API 31).

Thanks for contribution @ChrisLFieldsII

[2022-10-21 01:52] markl-vesper commented on #10252
I tested again on Android 9 device emulator and what I found was that initially no PN came thru so I went and heated up lunch and 5 mins later when I got back they had arrived. Android 12 device emulator seems to either receive them immediately from google servers or process them immediately and send on to app

[2022-10-21 02:34] ebeltran1981 opened #10514 "DataStore macOS Safari and iOS and iPadOS browsers - ConstraintError and undefined model[f] error"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-21 02:59] cshfang commented on #10405
I was able to reproduce this issue, and as @Qruiser pointed out, this issue does seem to be isolated to iOS with then new architecture enabled. I dug into this and, unfortunately, I think the fix may have to come from React Native - I will try to open an issue there to learn more. In the meantime, my findings:

1. Amplify relies pretty heavily on [Credentials](https://github.com/aws-amplify/amplif

[2022-10-21 04:35] jesuscovam commented on #9639
I confirm this works in Sveltekit with '@aws-amplify/api', '@aws-amplify/auth', '@aws-amplify/core' 🙏🏼

[2022-10-21 06:15] espenbye commented on #10514
+1 We are experiencing the same problem. Works on Chrome, but not on Safari and Brave.

[2022-10-21 12:29] DennisNurtio opened #10516 "User friendly invalid username error"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-21 13:51] nadetastic commented on #10491
Hi @tylucaskelley 👋,

Looks like you are directly using `amazon-cognito-identity-js` here - can you confirm? If so, is there a requirement/reason to use `amazon-cognito-identity-js` and not Amplify Auth?

[2022-10-21 14:55] tylucaskelley commented on #10491
I'll check w/ the team, likely just a matter of dependencies being out of date. Is the effort to migrate to the Amplify library relatively minimal? Something we can explore early next week

[2022-10-21 15:01] acc-tfi commented on #10509
Thanks for the response! I hadn't seen the deprecation notice article, only the banner on the page I linked.

However, it still appears that amplify makes use of the library being deprecated and is not directly calling the OAuth2 services. I believe the Google provider is affected as it loads the library in question: https://github.com/aws-amplify/amplify-js/blob/df95ea3724eb6406f64b03f25086cd3e86

[2022-10-21 15:22] tannerabread commented on #10044
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you.

Thank you!

[2022-10-21 15:22] #10044 closed

[2022-10-21 15:46] tylucaskelley commented on #10491
One other thing - we aren't using Amplify ourselves - would using the library still work? Otherwise we'd need to stay on the cognito-js one

[2022-10-21 15:50] chrisbonifacio commented on #5186
Closing this as a duplicate of https://github.com/aws-amplify/amplify-category-api/issues/225

[2022-10-21 15:50] #5186 closed

[2022-10-21 16:14] tannerabread commented on #10516
This needs to be addressed on the new web UI components as well as React Native. Going to transfer to the ui repo for better feedback and support.

React Native issue #9150

[2022-10-21 16:16] tannerabread commented on #9150
Transferring to ui repo for better coverage

[2022-10-21 16:20] #9966 closed

[2022-10-21 16:26] tannerabread commented on #5897
Hi 👋 Closing this as resolved. This package is now deprecated. We recommend that you migrate to the new amplify UI library.

Thank you!

[2022-10-21 16:26] #5897 closed

[2022-10-21 16:27] tannerabread commented on #3763
Hi 👋 Closing this as resolved. This package is now deprecated. We recommend that you migrate to the new amplify UI library.

Thank you!

[2022-10-21 16:27] #3763 closed

[2022-10-21 16:28] tannerabread commented on #5479
Hi 👋 Closing this as resolved. This package is now deprecated. We recommend that you migrate to the new amplify UI library.

Thank you!

[2022-10-21 16:28] #5479 closed

[2022-10-21 16:29] tannerabread commented on #3410
@AlexChaseJones are you still using `withOAuth`?

[2022-10-21 17:00] cwomack commented on #1692
Hello, @jorge-sanz 👋.  This issue appears to be a duplicate and related to Github issue https://github.com/aws-amplify/amplify-js/issues/834. I will close this Github issue to keep the updates pertaining to this feature request and related behavior on a single stream.

Please feel free to add any future comments to the linked issue.

[2022-10-21 17:00] #1692 closed

[2022-10-21 17:02] nadetastic commented on #10436
Hi @JoshBarr following up on this - as @chrisbonifacio mentioned, configuring Auth with a custom fetch is not currently supported. Based on your use case, we can mark this as a feature request. Also, I'd like to understand where you might've seen that this was an already supported feature.

Thanks!

[2022-10-21 17:18] nadetastic commented on #4163
This is a duplicate of #4046. Will close this and track this feature request on #4046

[2022-10-21 17:18] #4163 closed

[2022-10-21 18:20] rodolfomiquilarena opened #11519 "GraphQL doesn't work properly in production"
### Before opening, please confirm:

- [X] I have checked the [custom domains troubleshooting guide](https://docs.aws.amazon.com/amplify/latest/userguide/custom-domain-troubleshoot-guide.html).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-hosting/blob/master/CONTRIBUTING.md).
- [X] I have done my best to include a minimal, self-contained set of in

[2022-10-21 19:53] James-Bu commented on #9458
Exactly the same problem replaced:
`import Amplify from 'aws-amplify';`
with
`import {Amplify} from 'aws-amplify';`
and suddenly my issue was resolved!

[2022-10-21 20:19] tannerabread commented on #9990
Hi :wave:
Closing this in favor of the above mentioned [issue#945](https://github.com/aws-amplify/amplify-ui/discussions/945) in the UI repo

[2022-10-21 20:19] #9990 closed

[2022-10-21 20:36] tannerabread commented on #3494
Closing this as a duplicate of #10415. We will be tracking the progress on the more recent issue

[2022-10-21 20:36] #3494 closed

[2022-10-21 20:52] tannerabread commented on #4825
Hi :wave:
Closing this as the <Greeting> component is no longer supported. We recommend using the new <Authenticator> component and [customizing](https://ui.docs.amplify.aws/react/connected-components/authenticator) if needed.

Thank you!

[2022-10-21 20:52] #4825 closed

[2022-10-21 22:40] tannerabread commented on #10119
@estrudels
The problem is coming from this section of the code:
[code]

`clicked` is not an Amplify event so it is complaining about using the reserved channel 'auth' with that event

Dispatching internal events through one of the protected channels such as `'auth'` can have unintended side-effects elsewhere within the library. Some part of the library may respond to the event

If you are not emit

[2022-10-21 22:48] estrudels commented on #10119
@tannerabread Thank you for your analysis and response to the issue. This makes sense and will apply these changes.

I appreciate all your help and will close this Ticket

[2022-10-21 22:48] #10119 closed

[2022-10-22 12:04] Dennis-Dekker commented on #10514
+1 Same issue, also safari only.

[2022-10-22 13:08] belhadjhaythem commented on #10387
This happens when "**access to unauthenticated identities**" is disabled. Once we activate that in cognito console, this problems disappears.
You can see it ?

[2022-10-22 13:50] lucassilvagc commented on #10231
Hi @nadetastic,

It has been a long time, but as far as I can remember, the problem relied on the login flow, which wasn't handled by the library accordingly at the time. I really can't remember - as this code version wasn't even versioned on my Azure DevOps repo at the time.

I'll definitely check out the new updated Amplify library and see if I can replicate my code using it. I'm currently adopt

[2022-10-22 18:30] foobarnes commented on #10514
Same problem.

Experiencing the issue on:
- MacOS Safari
- iOS Safari
- iOS Chrome

[2022-10-22 18:39] liebharc opened #10521 "Auth.signIn takes something between 10 seconds and up to more than a minute depending on device (React Native)"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-23 07:28] didar-dev commented on #10514
Same issue , safari

[2022-10-24 07:40] ufo525 commented on #6089
does this mean someone can still forge a http request to do the sign up?

[2022-10-24 07:53] schutzelaars commented on #10514
+1 Same issue, MacOS Safari & iOS Safari.

[2022-10-24 10:34] karimtamerBW commented on #10272
@tannerabread I did update to v4 and removed the `@aws-amplify/storage` but the issue still persists.

Here is how the dependencies look like now

[code]

[2022-10-24 11:23] guy-a commented on #10514
Reverting to aws-amplify to 4.3.32 will resolver this issue for now.

This bug was probably introduced with version [4.3.33](https://www.npmjs.com/package/aws-amplify/v/4.3.33) with the changing of the DataStore indexedDB indexes.
4.3.33 is already 2 months old, and with Amplify popularity, I'm wondering how come it's only being submitted now...

[2022-10-24 11:37] Dennis-Dekker commented on #10514
We reverted to 4.3.37 and it seems to work for this version. We might check 4.3.38, but this version probably contains the problem.

[2022-10-24 11:57] schutzelaars commented on #10514
By quickly glancing over the latest DataStore commits. I think this issue originated [here](https://github.com/aws-amplify/amplify-js/commit/66bfe312f300fd6ca1bc756ab01690d36f337af9), and was merged in release: [4.3.38](https://github.com/aws-amplify/amplify-js/compare/aws-amplify@4.3.37...aws-amplify@4.3.38).  (IndexedDB version was incremented. v0.2 > v0.3).

[2022-10-24 12:34] guy-a commented on #10514
You are right, 4.3.37 is still on version 2. I had other issues with 4.3.33 that might be unrelated.
Thanks.

[2022-10-24 12:44] laclance commented on #10508
maybe related https://github.com/aws-amplify/amplify-js/issues/6488

[2022-10-24 12:46] chrisbonifacio commented on #10436
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you.

Thank you!

[2022-10-24 12:46] #10436 closed

[2022-10-24 14:39] chrisbonifacio commented on #4489
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you.

Thank you!

[2022-10-24 14:39] #4489 closed

[2022-10-24 14:50] chrisbonifacio commented on #4600
Hi 👋 closing this issue due to staleness. I just tried some queries and mutations and also don't see any preflight options requests in my network activity. It's possible the preflight requests are being cached. If anyone is still experiencing this issue, please open a new ticket for us to track.

[2022-10-24 14:50] #4600 closed

[2022-10-24 17:15] tannerabread commented on #10129
Hi :wave: @BastienFerrier, are you still experiencing this issue?

[2022-10-24 17:40] tannerabread commented on #10032
hi :wave: @groths89
I see you have some scoped packages installed separately from the main `aws-amplify` package, you shouldn't need both as `aws-amplify` will include `datastore` and `graphql` scoped packages. Are you still experiencing this issue?

[2022-10-24 17:53] tannerabread commented on #10434
Transferring to api repo for better coverage as this is a searchable issue

[2022-10-24 17:58] pedersenderekserif commented on #9639
To say that this is annoying would be an understatement.

This is a horrible developer experience. At least you could do is make this lack of integration support known up front so we don't waste our time on another amplify product.

[2022-10-24 17:59] pedersenderekserif commented on #9639
To say that this is annoying would be an understatement.

This is a horrible developer experience. The least you could do is make this lack of integration support known up front so we don't waste our time on another amplify product.

[2022-10-24 18:09] chrisbonifacio commented on #10486
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you.

Thank you!

[2022-10-24 18:09] #10486 closed

[2022-10-24 18:12] chrisbonifacio commented on #10129
Alternatively, you can run the command `amplify diagnose --send-report` and share the identifier id that is output.

[2022-10-24 18:19] chrisbonifacio commented on #10508
Hey @laclance 👋 thanks for raising this issue. Could you please share your schema so that we can more closely reproduce this issue?

I noticed your on the latest version of `aws-amplify`. The same day you posted this issue, another was opened regarding IndexedDB throwing the same `AbortError` on Safari. Please try downgrading to `aws-amplify@4.3.37` or lower and let me know if the issue persists.

[2022-10-24 18:19] chrisbonifacio commented on #10514
Related (same error): https://github.com/aws-amplify/amplify-js/issues/10508

[2022-10-24 18:21] llhyatt98 opened #10524 "Cannot access current authenticated user through Amplify Auth"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-24 18:37] chrisbonifacio commented on #9741
Hi @dragosiordachioaia and @jameswillis99 👋 We haven't been able to reproduce this issue with the reproduction steps given on the latest version of `aws-amplify`. Going to close this as stale, but if you are experiencing this issue please let us know or provide any additional context/info you might've gathered since.

[2022-10-24 18:37] #9741 closed

[2022-10-24 19:01] abdallahshaban557 commented on #9639
@pedersenderekserif - we understand this is not ideal, and are actively working on removing the need for additional configurations when using our library. We have also enriched our [documentation](https://docs.amplify.aws/lib/project-setup/create-application/q/platform/js/) with the steps you would need to get started with a Vue/Vite project.

[2022-10-24 19:01] BastienFerrier commented on #10129
Well, I still get the issue but I found a workaround with my architecture. It's not really a fix but it's fine to me so far.

[2022-10-24 19:01] BastienFerrier commented on #10129
Thanks' for the tip, didn't know about it.

[2022-10-24 19:23] MatthewChon commented on #10521
Bump

[2022-10-24 20:38] SaileshKumar opened #10526 "WebView call to federatedSignIn results in unsupported_code_challenge_method"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-24 21:09] ncarvajalc commented on #10487
@duckbytes, I looked for the reason why this is happening and found the following:

First of all, I think the Amplify Docs are not clear in describing the behavior with a required @belongsTo relationship. Let me explain:

In the DataStore documentation there is a relationships tutorial which shows an [updated schema](https://docs.amplify.aws/lib/datastore/relational/q/platform/js/#updated-schema)

[2022-10-24 21:20] chrisbonifacio commented on #7831
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you.

Thank you!

[2022-10-24 21:20] #7831 closed

[2022-10-24 22:44] raffibag commented on #1067
Solution works well, however, you run up against the Cognito limit of 15 attempts per hour.

[2022-10-25 05:04] tannerabread commented on #10526
@SaileshKumar
What platform are you experiencing this on? Android or iOS? And on emulators or physical devices? Or all of the above

Does the federatedSignIn with webview leave the app to open the browser or does it open an in-app browser?

Can you share how you are calling the method

[2022-10-25 05:28] laclance commented on #10508
[code]

[2022-10-25 05:33] laclance commented on #10508
@chrisbonifacio thanks downgraded to aws-amplify@4.3.37 and it's working on safari.

[2022-10-25 05:47] laclance commented on #10508
on my android, which is much slower than my iphone i still get `Uncaught (in promise): DOMException: Failed to execute 'transaction' on 'IDBDatabase': The database connection is closing` but then after that datastore still sync fine. Maybe also related to https://github.com/aws-amplify/amplify-js/issues/9282

[2022-10-25 06:41] liebharc commented on #10521
Thanks to all reactions so far and for putting this into progress 😊

There was a question yesterday about why we use amazon-cognito-identity-js. Looks like the comment was removed, but since we did some backtracking yesterday to answer this question I'll still post the details anyway:

We call Amplify ourselves:

[code]

amazon-cognito-identity-js is then being used by Amplify. I've added our Ampl

[2022-10-25 08:48] mariela-plaza commented on #9140
We are currently having the same issue with a user of our React app. This is the first time it occurs and we've been using Cognito for a while now.

[2022-10-25 09:27] laclance commented on #10508
Eventually to run into errors on safari:
[code]

[2022-10-25 14:20] SaileshKumar commented on #10526
It's any device (physical or emulator), and currently it's not opening any browser at all (we don't have any in-app browser built btw, it's basically just the WebView).

Web app triggers the flow like this:

`<SocialLoginButton onClick={() => Auth.federatedSignIn({ provider: "Google" })}>`

Mobile app is just a WebView like this:

[code]

In the logs I see that when I click Auth.federatedSignIn, i

[2022-10-25 14:29] Ilya93 commented on #9749
When this will be published to main ?

[2022-10-25 14:48] SaileshKumar commented on #10526
Did some more poking around, after removing the url parameter I still had the same issue. What's weird is I get to a url that in the browser redirects me to google sign in. That url looks like this(same as above):

https://<AUTH_URL>/oauth2/authorize?redirect_uri=http%3A%2F%2Flocalhost%3A3000%2F&response_type=code&client_id=<CLIENT_ID>&identity_provider=Google&scope=phone%20email%20openid%20profil

[2022-10-25 16:18] foobarnes commented on #10514
Thanks @chrisbonifacio! Is there anywhere we can add tests for this in the future? Happy to help!

[2022-10-25 16:21] nadetastic commented on #10491
Hi @tylucaskelley,

While we do provide some occasional fixes/upgrades to the `amazon-cognito-identity-js library`, we are planning on deprecating that package in the near future.

The recommendation would be to use Amplify Auth, and the effort to migrate should be minimal. You can opt in to use just the [JS library without the Amplify CLI](https://docs.amplify.aws/lib/auth/start/q/platform/js/#re

[2022-10-25 16:44] nadetastic commented on #9060
Hi @iuyt9003

Following up on this - if you are still facing this problem, you can remove the callback method from your function. However, since the underlying function is a Lambda, removing the call back requires you to update the handler from a [Non-Async handler](https://docs.aws.amazon.com/lambda/latest/dg/nodejs-handler.html#nodejs-handler-sync) to an [Async handler](https://docs.aws.amazon.c

[2022-10-25 17:35] nadetastic commented on #9381
Hi @jashsayani

Following up on this, let me know if you still need assistance on this.

[2022-10-25 17:44] nadetastic commented on #10507
Hi @SanjitIdigitalxp 👋,

I'm taking a look at this issue, and would like some additional details - looks like you are using React Native, is it with Expo or  React Native CLI? Also could you also share the versions you are using?

[2022-10-25 18:07] iartemiev commented on #10514
Hey folks, we've got a PR up that addresses this issue: https://github.com/aws-amplify/amplify-js/pull/10527. We're reviewing and testing the changes and will get a release out ASAP. We'll keep you posted in this issue.

We'll also be actively exploring options for end-to-end testing DataStore on Safari. Feel free to drop any recommendations on testing frameworks/platforms that support Safari on d

[2022-10-25 19:26] tannerabread commented on #10526
@SaileshKumar Did this completely unblock your issue?

[2022-10-25 20:18] xvimnt commented on #7662
Somebody knows how can I use this inside a react component?

[2022-10-25 21:45] tannerabread commented on #7662
@xvimnt
What is the reason for trying to configure Amplify inside of a react component?
It is recommended you add the Amplify configuration step to your app's root entry point (App.js)

[2022-10-25 21:56] tannerabread commented on #10268
@yaroslavvk are you still experiencing this issue?

[2022-10-25 22:21] abdallahshaban557 commented on #1274
We have now introduced a changelog process, and are also including any upgrade details that are needed if you were running a previous version of the Amplify library.

[2022-10-25 22:21] #1274 closed

[2022-10-25 22:23] tannerabread commented on #10083
@longnt-dev did you have device remembering enabled on your initial cognito user pool?

[2022-10-25 22:45] iartemiev commented on #10514
We just released `aws-amplify@4.3.40` that fixes this issue.

[2022-10-25 22:45] #10514 closed

[2022-10-25 22:54] iartemiev commented on #10508
We just released a fix for DataStore in Safari browsers in `aws-amplify@4.3.40`. Please let us know if this resolves this issue as well.

[2022-10-25 23:20] ahsan-abrar opened #10531 "After signin successfully try to get data from other collection"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-26 03:46] sachinsingh119 opened #10536 "Amplify build issue with angular CLI v1.6.6 and Typescript v2.6.2. ERROR in node_modules/@aws-amplify/core/lib-esm/OAuthHelper/GoogleOAuth.d.ts(4,35): error TS2304: Cannot find name 'unknown'."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-26 04:09] tannerabread commented on #10526
I have not tried this yet with webview but I did just confirm that in a vanilla RN app federatedSignIn works with or without the [in-app browser](https://docs.amplify.aws/lib/auth/social/q/platform/react-native/#full-samples) so I'm thinking it's something with the redirect. I will try to reproduce with webview soon.

What does your redirectSignIn/redirectSignOut look like in your `aws-exports`?
I

[2022-10-26 05:23] Ajmaljalal commented on #10453
@chrisbonifacio here are the outgoing request:
from Next.js app network tab

query FeedPostsByDate($type: String!, $createdAt: ModelStringKeyConditionInput, $sortDirection: ModelSortDirection, $filter: ModelFeedPostFilterInput, $limit: Int, $nextToken: String)
variables: {limit: 2, type: "FeedPost", sortDirection: "DESC",}
limit: 2
nextToken: "eyJ2ZXJzaW9..."
sortDirection: "DESC"
type: "FeedPost"

[2022-10-26 05:24] Ajmaljalal commented on #10453
@chrisbonifacio here are the outgoing request:
from Next.js app network tab

query FeedPostsByDate($type: String!, $createdAt: ModelStringKeyConditionInput, $sortDirection: ModelSortDirection, $filter: ModelFeedPostFilterInput, $limit: Int, $nextToken: String)
variables: {limit: 2, type: "FeedPost", sortDirection: "DESC",}
limit: 2
nextToken: "eyJ2ZXJzaW9..."
sortDirection: "DESC"
type: "FeedPost"

[2022-10-26 07:23] laclance commented on #10508
`Cannot find module '@aws-sdk/util-credentials'`

[2022-10-26 08:30] ori9998 opened #10537 "Amplify datastore does not sync with dynamodb when an item is added through lambda"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-26 08:32] #10537 closed

[2022-10-26 11:32] iartemiev commented on #10508
`@aws-sdk/util-credentials` is not a dependency of Amplify and is not called from the library.
Which platform are you experiencing this on? Can you share the stack trace for this error? What happens if you manually install this dependency into your application?

[2022-10-26 12:02] PeteDuncanson commented on #7831
Totally missed Ivans comment, sorry. Since then I've moved away from DataStore so maybe the updates mentioned have resolved the issue in the meantime.

[2022-10-26 12:26] laclance commented on #10508
All platforms
[code]

[2022-10-26 12:29] laclance commented on #10508
installing @aws-sdk/util-credentials  removes the error

[2022-10-26 12:32] #10508 closed

[2022-10-26 14:03] SanjitIdigitalxp commented on #10507
Hi,

I am using React Native CLI. I am attaching the package.json file for your reference and I am using amplify version 9.2.0 on my mac machine.

We have setup a react native app using Amplify framework. We have followed the following documentation https://docs.amplify.aws/lib/auth/social/q/platform/js/#full-samples
[https://docs.amplify.aws/assets/ogp.jpg]<https://docs.amplify.aws/lib/auth/socia

[2022-10-26 14:23] chrisbonifacio commented on #10531
Hi @ahsan-abrar 👋 can you share your GraphQL schema as well as the code snippets on how you are creating users?

[2022-10-26 14:33] tannerabread commented on #10526
@SaileshKumar
I tried it with webview and got to where you are at with the disallowed_useragent.

To get it working, you just need to [add the `userAgent` property](https://github.com/react-native-webview/react-native-webview/issues/162) to your WebView component.
[code]

This worked in my testing, let me know if it works for you!

[2022-10-26 14:40] SaileshKumar commented on #10526
I had tried this, but maybe it was incompatible versions. It removed the disallowed_user_agent but I got into a weird state where it was doing the amplify redirect flow:

1) Our amplify auth url
2) Google sign in
---- this is where it diverged
3) Went to a youtube link like this: https://accounts.youtube.com/accounts/CheckConnection?
4) Then I got a blank screen with a console log error:

`(m=base

[2022-10-26 15:10] tannerabread commented on #10526
Mine was also on an iOS simulator. I realize that the userAgent shows an android but it still worked for me on iOS simulator.
Check out my [React app](https://github.com/tannerabread/react-federated-no-ui/tree/main/amplify) and the corresponding [React Native Webview app](https://github.com/tannerabread/react-native-federated-webview) to see how I configured these apps.

I'm not positive on this b

[2022-10-26 15:19] SaileshKumar commented on #10526
Hmm interesting. Yea it's weird if I click the amplify generated link in browser, everything works fine and I redirect back to my web app authenticated. I hit this youtube flow only from WebView

[2022-10-26 15:53] tannerabread commented on #10526
It sounds like something with the google MFA to me, and maybe it's picking up that you're on an iOS device and trying to send you to [Google Prompts](https://support.google.com/accounts/answer/7026266) to authenticate.
Check out more on google's 2FA [here](https://support.google.com/accounts/answer/185839?hl=en&co=GENIE.Platform%3DiOS&oco=1)

I think it's safe to say though that this isn't an ampl

[2022-10-26 16:07] tannerabread commented on #10465
Hi :wave: @abdu355
I just tried to reproduce this and am not seeing the same behavior. The email is returned to me through `Auth.federatedSignIn()` and `Auth.federatedSignIn({ provider: 'Google' })`

This is also with and without using a [urlOpener outlined here](https://docs.amplify.aws/lib/auth/social/q/platform/react-native/#full-samples)

Just to confirm, you are manually calling signIn/signUp

[2022-10-26 17:22] tannerabread commented on #10393
Hi :wave: @L-U-C-K-Y
I am attempting to reproduce this and had a few questions:

I only see the `@aws-amplify/cli` and `aws-cdk` packages in your environment info, how are you using Amplify within the app itself? Can you give a snapshot of your current `package.json`

Does this happen only if the app is in a quit state?

[2022-10-26 17:36] Zak-Guetter commented on #10366
So I fixed this problem by rebuilding my Auth from the ground up. I initially must have setup OAuth with the authorization code grant and for some reason the CLI would not allow me to change it to implicit. Nor would it change if I updated the Cognito to only use Implicit.

Thanks for your help @nadetastic !

[2022-10-26 17:36] #10366 closed

[2022-10-26 17:45] john-at-mc commented on #8147
Bumping this as well, a native solution would be greatly appreciated!

[2022-10-26 17:51] ncarvajalc commented on #10487
## Progress
Using the AppSync query console I used the query generated by Datastore to try to replicate the `error.data` being `null`: The results where the following:

Request query when the `User` is required and `createdBy { id _deleted }` is used :
[code]

Response
[code]

In this case, `errors.data` is `null`.

There is a way for making the errors not `null` and it is removing the `createdBy

[2022-10-26 17:54] cwomack commented on #10447
Hello, @zensim 👋.   Were your lambda triggers set up via the CLI upon initial addition of Auth?

[2022-10-26 19:18] ncarvajalc commented on #10404
Will look into this

[2022-10-26 19:20] chrisbonifacio commented on #10138
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you.

Thank you!

[2022-10-26 19:20] #10138 closed

[2022-10-27 00:54] colebatchd opened #10545 "React TypeScript withAuthenticator documentation doesn't run"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-27 08:57] justinjaeger opened #10547 "After Amplify Push, requests are failing"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-27 09:16] justinjaeger commented on #10547
I solved this issue. It was because I made one of the NEW fields on the model mandatory. So I took out the exclamation mark (which makes it mandatory) and the requests work normally.

The weird thing is that it doesn't show any failure in AppSync or DynamoDB when testing the queries, just shows a failure on my frontend.

But for others possibly running into this, careful of creating new mandatory

[2022-10-27 09:16] #10547 closed

[2022-10-27 11:17] WouterVDW12 commented on #10301
Hi @tannerabread,
Small update from my side, I've got the login up and running again to where it was when we started encountering the issue described here. So the one-liner that you suggested does indeed ingore the error being thrown about the "HistoryState". _Could you elaborate on how we could catch the exception and retrieve the user credentials to allow login?_

I'm also doing some logging of

[2022-10-27 12:09] tannerabread commented on #10526
I am going to close this issue as I think we are passed the Amplify block. React Native with WebView should be supported so please open another issue if you experience problems elsewhere so that we can better assist you.

We also have a [discord server](https://discord.com/invite/amplify) of Amplify developers and enthusiasts if you are interested.

Thank you!

[2022-10-27 14:15] ncarvajalc commented on #10404
@josephp27 Could you share the schema you are using?

[2022-10-27 14:51] WouterVDW12 commented on #10301
@tannerabread
Update on this just now as well concerning shifting the `Hub.Listen()` logic to `app.component.ts` I see that when closing the app and restarting it, `Auth.currentAuthenticatedUser()` is getting the user credentials from login in the first time the app opened. This is being passed to the setUser when re-opening the app:
![image](https://user-images.githubusercontent.com/78215889/1983

[2022-10-27 14:56] jcollinc commented on #10219
Hi @lnxct, I attempted to reproduce this issue, however accelerated uploads worked as expected. I noticed this issue was posted before the official release of the fix referenced in the issue you've linked to. If you are still having trouble with accelerated uploads I would try updating amplify to the latest version if you haven't already done so, and see if that sorts out the problem - otherwise I

[2022-10-27 15:05] chrisbonifacio commented on #10531
@ahsan-abrar on React Native you can use a tool like https://github.com/infinitered/reactotron to log AsyncStorage. Or, if using the SQLite Adapter for DataStore, you can find the db file using this https://gist.github.com/junjizhi/e60e7e70f034aca28d668831f59bff50 and open it with https://sqlitebrowser.org/

[2022-10-27 15:40] #10219 closed

[2022-10-27 16:28] chrisbonifacio commented on #8245
Hi @rraczae there is currently no out of the box way to back fill records or fields with default values. It has to be done manually. This can be done via a python or node script similar to [this one](https://stackoverflow.com/a/58938260) posted on SO:

[code]

[2022-10-27 16:29] #8245 closed

[2022-10-27 16:31] chrisbonifacio commented on #9398
Hi @paulsjohnson91 👋 transferring this over to the UI repo for better feedback and support.

[2022-10-27 16:35] tannerabread commented on #9929
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you.

Thank you!

[2022-10-27 16:35] #9929 closed

[2022-10-27 16:36] chrisbonifacio commented on #8758
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you.

Thank you!

[2022-10-27 16:36] #8758 closed

[2022-10-27 16:44] charithreddyv opened #10550 "amplify init inside CI/CD failing for last few days."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-27 17:18] chrisbonifacio commented on #10550
Hi @charithreddyv 👋 thanks for raising this issue. Because it has to do with the Amplify CLI, I'm going to transfer this over to for better feedback and support.

[2022-10-27 17:30] chrisbonifacio commented on #10524
Hi @llhyatt98 👋 thanks for raising this issue. Can you confirm that after signing in you can see the cognito id, access, and refresh tokens in the local storage?

[2022-10-27 17:36] NtchPlayer opened #10552 "Update js-cookie package to 3.0.1"
### Is this related to a new or existing framework?

Vue, New framework

### Is this related to a new or existing API?

_No response_

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

Update js-cookie for amazon-cognito-identity-js to 3.0.1.

Version 3.0.1 is release since one year. The usage of version 2.2.1 cause error on deploying web with

[2022-10-27 17:54] chrisbonifacio commented on #10509
The packages you're referring to are outdated Amplify UI packages that are no longer being supported. We've since separated the UI components out into their own repo. This is the code we use for our OAuth flow when using the Auth library directly: https://github.com/aws-amplify/amplify-js/blob/cc35ad1943f91b0559438a832ffb8d72215558d5/packages/auth/src/OAuth/OAuth.ts#L115

You can see that we are m

[2022-10-27 18:52] #10509 closed

[2022-10-27 21:06] chrisbonifacio commented on #10498
Hey @adilek 👋 thanks for raising this issue. We've opened an internal ticket with the Cognito team to see if this can be addressed on the service side or if they have any feedback/recommendations on how to mitigate it. Will respond back with any updates.

[2022-10-27 23:40] tannerabread commented on #10301
I'm thinking I'm somehow improperly using the plugin, even though I have followed all of the steps you outlined.
I can successfully login without federation so I know the app works and Amplify is connected properly, I'm just at a different part of the redirect not working than you. I'm still not sure why my `handleOpenURL` handler is not firing at all, I basically copied what you did.

Maybe you c

[2022-10-28 00:37] TheWhiteShade opened #10560 "Join Model error: TypeError: PostEditor is not a constructor"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-28 07:47] WouterVDW12 commented on #10301
Hi @tannerabread,
I do see one thing that might be the culprit of the handleOpenUrl not firing, could you append this cordova.js script line to your `index.html` file:
[code]
The plugin also only adjusts the files during `cordova prepare` where you should see the plugin being installed:
`Installing "cordova-plugin-customurlscheme" for android`
My package.json also looks a bit different to yours wi

[2022-10-28 08:39] samirbrkovic commented on #8464
I am still facing this issue.

npm WARN deprecated uuid@3.4.0: Please upgrade  to version 7 or higher.  Older versions may use Math.random() in certain circumstances, which is known to be problematic.  See https://v8.dev/blog/math-random for details.

I am using aws-amplify 4.3.42.

[2022-10-28 14:00] tannerabread commented on #10301
That was definitely what I was missing. I really appreciate your patience through this process and all of your explanations with this issue.

I am exactly where you are at now, where the login technically works but doesn't show up until you restart the app. The hub event 'signIn' never fires from my findings either.

With my `Check Status` button I was able to see that the user is logged in before

[2022-10-28 14:05] tannerabread commented on #10301
I almost forgot. In the `handleOpenURL` I switched it back to sending through the 'redirectURL' instead of the modified one to get it to work for me

[2022-10-28 14:26] #9060 closed

[2022-10-28 14:27] #9381 closed

[2022-10-28 14:33] dpilch commented on #10291
The custom primary key feature has been released in `@aws-amplify/datastore@3.13.0`. See the docs here: https://docs.amplify.aws/cli/graphql/data-modeling/#configure-a-primary-key

[2022-10-28 14:44] TheWhiteShade commented on #10560
Suddently it's working now.

[2022-10-28 14:44] #10560 closed

[2022-10-28 16:00] nadetastic commented on #4046
This is a duplicate of #6404 which is more recent and has more details. Closing this in order to track there.

[2022-10-28 16:00] #4046 closed

[2022-10-28 16:04] tannerabread commented on #7720
hi @cnikolov :wave:
Amplify was never intended to validate JWTs. It is a client-side library and is not fully functional in a node/express environment.

There are other ways to validate the tokens, if you need more information refer to [these docs](https://docs.aws.amazon.com/cognito/latest/developerguide/amazon-cognito-user-pools-using-tokens-verifying-a-jwt.html).

[2022-10-28 16:04] #7720 closed

[2022-10-28 16:22] tannerabread commented on #4136
Hi 👋 Closing this as resolved.

Configuring most category outside of Auth is going to re-configure Auth and cause this error. The docs are pretty clear to use `Amplify.configure` now. We recommend using `Amplify.configure` to configure all of your categories at the same time or doing each category individually.

Thank you!

[2022-10-28 16:22] #4136 closed

[2022-10-28 21:30] tannerabread commented on #10032
@groths89 let me know if that doesn't solve your issue and I will look into it further

[2022-10-28 21:37] el-devgit opened #10564 "Not able to display map using Map from react-map-gl after added Auth through CLI."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-28 21:37] el-devgit opened #10616 "Not able to display map using Map from react-map-gl after added Auth through CLI."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-29 00:07] el-devgit commented on #10564
Just did a really simple test case.

Have my primary region in CA, then add auth and geo. Geo MapView will not work.

[2022-10-29 09:22] assidehfadel commented on #10465
Sorry for the late response, yes I manually calling signIn/signUp/federatedSignIn through `Auth`

[2022-10-29 23:19] contractorwolf commented on #5127
@NiksanJP's solution worked for me, with a slight modification (my example is for Vuejs 3 with Pinia):

[code]
Thanks @NiksanJP!

[2022-10-30 15:18] joebernard opened #10567 "Cache API broken/undefined in 4.3.37"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-30 17:06] nickyoung87 commented on #7583
October 2022 and still seeing this.

![image](https://user-images.githubusercontent.com/2645164/198891589-7eba39b9-a025-4795-a915-77bc27ca1584.png)

[2022-10-31 05:05] wahidzzz opened #10570 "DataStore: Client Side Encryption required to pass VAPT (Vulnerability Assessment & Penetration Testing)"
### Is this related to a new or existing framework?

React, Next.js

### Is this related to a new or existing API?

DataStore

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

We are developing an offline progressive web app with nextjs. In order to pass the Vulnerability Assessment & Penetration Testing, we are required to encrypt our localDB

[2022-10-31 06:38] #10491 closed

[2022-10-31 11:28] yaroslavvk commented on #10268
@tannerabread thanks for trying to help it was related with **aws-sdk** not with **aws-amplify** package and it was my mistake, thanks again

[2022-10-31 14:16] nadetastic commented on #9933
Hi @daspingarn 👋,

Following up on this, as mentioned I can confirm that `forceAliasCreation` for `Auth.confirmSignUp` defaults to true when using Amplify while Cognito defaults to false. I'm discussing this with the team, however note that passing `false` should also work as expected.

[2022-10-31 14:41] tannerabread commented on #10268
I'm happy you were able to resolve your mistake.

I will close this as resolved but please feel free to open up Amplify-related issues here in the future or join our [discord](https://discord.com/invite/amplify) for help from the community.

[2022-10-31 15:52] jdanielsyeah opened #10574 "graphqlOperation throws error (which isn't an error object) when fields are unauthorized"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-31 16:33] ncarvajalc commented on #10404
# Findings
## Reproducing the issue
The issue could be reproduced using the following schema:
[code]
The following error is displayed in the console 100 times when strict mode is used and the unsubscribe of all subscriptions is inside of the cleanup function:
[code]
The error doesn't display in the console when the unsubscribe of all subscriptions is inside of the cleanup function.

**Note:** The

[2022-10-31 16:44] tannerabread commented on #10567
Hi @joebernard
The team is aware of this issue and a fix for this issue is implemented and being released with Amplify@v5 via PR #10546

v5 should be released within the next few weeks

[2022-10-31 16:46] tannerabread commented on #10465
@assidehfadel
I noticed that the attribute `email_verified` is set to false. Do you know if that attribute was specifically mapped from google?

Can you share what your mapping looks like? For the app I got working that returned the email to me through `idToken`, my mapping looked like the following.
![image](https://user-images.githubusercontent.com/30082936/199049545-58d08f26-d8d4-4d77-a2ec-b6ec

[2022-10-31 17:59] chrisbonifacio commented on #10574
Hi @jdanielsyeah 👋 can you share your schema so that we can reproduce this with the same auth rules?

[2022-10-31 18:17] tannerabread commented on #10524
@llhyatt98
Does the MFA you set up (SMS/TOTP) get triggered when you try this flow?
Can you try the Amplify Logger on an app/component level to see what is shown when logging in? I realize you said there are no errors while logging in but I want to make sure there is success also
[code]

[2022-10-31 18:22] tannerabread commented on #10490
hi @Arnav7501
Just a follow up, if you were trying to update the required attributes after the user pool has been created, you will not be able to update the project. Can you confirm if this is what you were trying to do?

[2022-10-31 18:54] Arnav7501 commented on #10490
yes, that is what i was trying to do. I ultimately just gave up and created a new project and it started working

[2022-10-31 18:59] tannerabread commented on #10398
hi @efraindx just curious if you were ever able to check this? I was thinking if you couldn't find any differences in the projects, maybe following your own repo steps with a new project and seeing if you still get the issue you described

[2022-10-31 19:03] tannerabread commented on #10490
Okay I will close this issue as resolved then.

Please feel free to open up more issues if you run in to any issues with Amplify and join our [discord](https://discord.com/invite/amplify) for help/discussion with the Amplify community.

Thank you!

[2022-10-31 19:03] #10490 closed

[2022-10-31 20:21] duckbytes opened #10575 "When using withAuthenticator, users are sometimes logged out when opening the app while offline"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-10-31 20:24] tannerabread commented on #10393
It would also help to see your aws-exports

[2022-10-31 20:27] duckbytes commented on #10575
Another interesting thing is the app will become available again once a connection is restored:

- close the app
- enable airplane mode and open it which shows the login screen
- close the app again
- disable airplane mode
- restart the app and get full access to the app again (without logging in)

[2022-10-31 21:25] tannerabread commented on #10272
hi @karimtamerBW
Sorry for the delayed response, I am attempting to reproduce this now but have a few questions.

I was curious about
![image](https://user-images.githubusercontent.com/30082936/199109922-fffa1432-1e6d-45ec-8684-0a8af741a0d7.png)
this function when you are already adding the custom_header directly to your config?
I'm a little confused on where/how you are using that function in the

[2022-11-01 02:22] tannerabread commented on #10521
Probably related #5539

[2022-11-01 02:28] tannerabread commented on #9241
Closing this as duplicate of #5539, #10521

Please let me know if I closed this in error and those are not the same issue and I can re-open to better assist you

[2022-11-01 02:28] #9241 closed

[2022-11-01 06:25] jdanielsyeah commented on #10574
Thanks @chrisbonifacio I had included it in the environment section in error. I've added the schema to the Reproduction Steps now.

[2022-11-01 07:44] StephenOkeleke97 commented on #3435
This is a solid suggestion. Thanks

[2022-11-01 07:45] StephenOkeleke97 commented on #3435
Solid suggestion.

[2022-11-01 12:44] abdu355 commented on #10465
@tannerabread we've resolved the issue by replicating the values from Amplify to Cognito's user pool app client settings which were empty for some reason. Also, we set the attribute mappings manually under the user pool. It seems Amplify cli is not properly propagating changes on each push.

[2022-11-01 15:08] kxfigueira opened #10581 "Build container ran out of memory"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-11-01 15:13] tannerabread commented on #10465
@abdu355
Was the Auth config imported through `amplify import auth` or was it added new through the CLI with `amplify add auth`?

Just want to make sure we capture all the details in case someone else comes across this. And you were setting the attribute mappings for Google itself, like the one in my screenshot?

[2022-11-01 15:35] wmaca opened #10582 "NotAuthorizedException : Cannot initiate DEVICE_SRP_AUTH flow without first authenticating"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-11-01 16:07] abdu355 commented on #10465
Actually we first added auth via Amplify studio UI, then we used `amplify add auth` later to make sure we weren't missing any steps.
That's when we realized the mappings were missing. And yes we added the attribute mappings in the same UI shown in your screenshot.

[2022-11-01 16:28] mkilp commented on #9639
I am facing a similar issue right now, this time actually caused by the use of CryptoJS.

[code]

My vite config is pretty wild righ tnow as I'm trying to convert from CRA to vite and had to get around a bunch of issues.
Running the dev server works, the prod build fails. It seems like it has something to do with amplify.

[code]

Maybe someone here has an idea about that?

[2022-11-01 17:13] bregan commented on #9639
@mkilp, I just went through the same path of converting from CRA to Vite.  Same issues, dev worked, production build crashed with error about Crypto.  I also tried some of the various npm poly fill packages I see that you have as well.

I ended up doing a clean Vite install with a new amplify project and moved my project over piece by piece.  Then copied the vite.config.js back to my original proj

[2022-11-01 18:26] mkilp commented on #9639
@bregan Thanks alot for your help! Like you said i started from scratch and am now stuck with react-cookies being weird. But that has nothing to do with amplify. I hope AWS can solve this soon natively without an alias.

[2022-11-01 18:33] abdu355 commented on #10465
We did do `amplify pull` beforehand to ensure everything is in sync. But we did eventually end up with two app clients added to the Cognito User pool settings somehow after multiple pulls/pushes merged from different git branches. My guess is that some merges were overwriting our configs and causing issues on amplify when we `amplify push` the changes back.

What we ended up doing to debug the iss

[2022-11-02 02:24] tannerabread commented on #10301
@WouterVDW12
I still have someone on the team looking into it, but I'll tell you where I'm at now as I was able to unblock myself with a slightly odd workaround.

A slight variation of the DOMException from your original error shows up, even with the polyfill in place. For myself, it still correctly fills the local storage with everything needed from the Auth response, as you were seeing when you

[2022-11-02 15:03] tannerabread commented on #10320
Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you.

Thank you!

[2022-11-02 15:03] #10320 closed

[2022-11-02 15:14] tannerabread commented on #10263
@muniramachandra15
Are you using physical devices for these tests or through an emulator?
What method are you using to check the session data?
I see you are using an old version of Amplify, is there a particular reason for that?

[2022-11-02 15:47] wmaca commented on #10582
It is being developed for the browser. We don't do automatic sign-ins, users are always required to type their password, but we do not require MFA if device signed-in before. I guess this is partially related on how our custom storage works.

The id token, access token, refresh token and last auth user are stored in session storage instead of local storage. The later keeps the rest.

Not sure this

[2022-11-02 16:08] tannerabread commented on #10582
So you don't have device tracking or MFA enabled for your user pool?

[2022-11-02 16:09] wmaca commented on #10582
Yes, I have device tracking and MFA enabled.

— Walter Macambira

On November 2, 2022, GitHub ***@***.***> wrote:

—
Reply to this email directly, view it on GitHub <https://github.com/aws-
amplify/amplify-js/issues/10582#issuecomment-1300783361>, or unsubscribe
<https://github.com/notifications/unsubscribe-
auth/AA27VNYC6NOX7HSC5RA5STTWGKGW7ANCNFSM6AAAAAARUFRAWI>.
You are receiving this because y

[2022-11-02 16:45] ncarvajalc commented on #10574
Hi @jdanielsyeah. I could reproduce your issue and found a way to handle those errors safely.

This type you are mentioning:
[code]
is the intended error structure returned by AppSync when a GraphQL API is created in AWS. It might have a `data` attribute as this is used in some case scenarios, such as Datastore and conflict resolving, or your specific situation, when there is relevant data that ca

[2022-11-02 16:53] jdanielsyeah commented on #10574
That's a great help @ncarvajalc - exactly what I needed, thank you. I had a hunch that I could handle the error to utilise the `data`, but wasn't confident in the face of an error. I've updated my AppSync calls to anticipate the errors by filtering out any fields that the user doesn't have access to, but it's reassuring to know that in future I can just handle as per your example.

[2022-11-02 16:53] #10574 closed

[2022-11-02 17:42] dpilch opened #10595 "Next.js with SWC causes failure on observeQuery subscriptions"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-11-02 18:52] dpilch commented on #10595
Please comment if you are facing other issues with SWC.

[2022-11-02 19:02] iambryanwho opened #10597 "CognitoUserSession.isValid() produces `Undefined is not a function` when called"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-11-02 19:15] tannerabread commented on #10597
Hi @iambryanwho :wave:

Are you using Amplify here?
If so and you are implementing it in `'../contexts/ReliefAuth'` or `./AuthStack`, that would be helpful to see.

Also if you could run the command to get the environment info in the root of your project or provide your package.json that would be helpful as well.

[2022-11-02 19:23] iambryanwho commented on #10597
Sure no problem. Here is `RelifAuth.tsx` as seen below (I removed some calls not being used in this example)

[code]

[2022-11-02 19:57] RobertDGordon opened #10598 "aws-amplify v4 DataStore - list of AWSJSON is stringified (works in v3)"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-11-02 20:23] chrisbonifacio commented on #10598
Hi @RobertDGordon 👋 Have you tried making the field just `AWSJSON` and mutating the value as a string containing an array?

I will still reproduce this and confirm with the team whether this is intentional behavior.

Also, are those screenshots of the data modeling tab in Amplify Studio? Have you tried querying the record and checking the returned value in AppSync as well?

[2022-11-02 21:07] tannerabread commented on #10597
It may or may not make a difference but you shouldn't need `aws-amplify-react-native` in your package.json to use amplify with React Native.

Outside of that, am I interpreting this correctly and you are rebuilding the entire Auth flow yourself?

From what I see:
`Auth.configure` call only has `authenticationFlowType: 'CUSTOM_AUTH'` in it, are you configuring the rest of your resources elsewhere?

[2022-11-02 21:23] iambryanwho commented on #10597
We're using a custom auth flow that creates accounts using a phoneNumber. The remaining configurations are in my `App.tsx` which pulls configurations from my auto-generated `aws-exports.js` file:

`App.tsx`
[code]

User data is being stored in `ReliefAuth.tsx` usning AsyncStorage:

`ReliefAuth.tsx`
[code]

You can see the use of `AsynStorage` in the code snippets earlier in the `signIn()` and `con

[2022-11-02 22:02] dzpincus commented on #5539
I'm facing the same issue. The sign in call was working perfectly fine until recently, now takes up to a minute or two.
Has anyone figured out the issue yet?

[2022-11-02 22:34] salmanprk commented on #10230
I encountered a similar problem using "await DataStore.clear()" and "await DataStore.clear()" during Authentication but I received different error message. I was using SvelteKit for frontend.

[2022-11-03 00:26] seduerr91 commented on #10112
Hi thanks for providing help in here!
I got it fixed by combining your suggestions as follows in my _app.js:

  useEffect(() => {
    try {
      Amplify.addPluggable(new AmazonAIPredictionsProvider())
    } catch (error) {
      console.log('Already added pluggable')
      Amplify.removePluggable('AmazonAIPredictionsProvider')
    }
  },[]);

The logic: if I have the addPluggable error, then I ju

[2022-11-03 01:47] RobertDGordon commented on #10598
Hello @chrisbonifacio , thank you for the suggestion.  I have updated my code to just `AWSJSON` and it's working as expected with aws-amplify v4.3.42

Response is as expect as well, without needing JSON.parse, on the client side:
`moreMedia: Array(2)
[
0: {width: 1293, type: 'image/jpeg', key: 'awsjsonflatstring--c537737f-f70d-4221-8df4-d73a501cf5e6.JPG', height: 343},
1: {width: 1285, type: 'imag

[2022-11-03 02:35] nolde commented on #9134
I've made a PR to support this partially, allowing it to pass though `amazon-cognito-identity-js`. Further work would be needed to allow it to pass through `@aws-amplify/auth`.

[2022-11-03 09:59] PaulCailly commented on #7310
+1 for per model `syncPageSize`. We're experiencing the same performance issues because we have one model that forces us to set `syncPageSize` to 10.

[2022-11-03 16:43] cwomack commented on #10266
Hey @wrsulliv 👋 .  I was able to reproduce the `AWSPinpointProvider - updateEndpoint failed` error that you're seeing.  Can you try commenting out/removing the `enable: true`?  I was able to eliminate the error in the console when that happened and that may allow your events to record as expected.

[2022-11-03 18:05] nadetastic commented on #7949
Hi @hugoebarboza 👋,

Amplify was created to be used on the client side, and other than Next.js(SSR), Amplify isn't supported on Node runtimes.

As a work around, you can use an HTTP request library of your choice (fetch, axios, etc) to send graphql queries and mutations to your AppSync endpoint created by the Amplify CLI.

The CLI provisioned resources can be accessed from a backend environment wi

[2022-11-03 18:05] #7949 closed

[2022-11-03 18:34] ncarvajalc commented on #10575
@duckbytes I tried to reproduce your issue. I used an Android emulator, 2 physical Android devices and an iPhone and the app is still logged in after I close the app every time. Is there anything else you are doing to get logged out? I am not being able to reproduce the issue

[2022-11-03 19:17] nadetastic commented on #7469
Related to https://github.com/aws-amplify/amplify-js/issues/9429

[2022-11-03 19:17] #7469 closed

[2022-11-03 21:30] nadetastic commented on #6285
Currently at 15.8

[2022-11-03 21:30] #6285 closed

[2022-11-03 21:39] nadetastic commented on #1313
Related to #9429

[2022-11-03 21:39] #1313 closed

[2022-11-03 22:30] tonybs03 opened #10615 "DataStore - Constructor is not for a valid model, Object { "modelConstructor": undefined, }"
Hello everyone

I am making a react native application using EXPO along with AWS studio for backend (DynamoDB)
I started getting this error message as titled.
Does anyone know what is likely the problem?

I have checked all the models that I have, they are all capitalized.
I traced back to the the original file that gave the error, it is in node_modules\@aws-amplify\datastore\lib-esm\datastore\dat

[2022-11-03 23:44] duckbytes commented on #10575
Hi @ncarvajalc

Unfortunately it's quite difficult to reproduce because it seems to happen after a random length of time.

Sometimes I've opened the app in airplane mode a few minutes later and I've been logged out.

I tested it again today after your comment and had to wait a few hours before it logged me out. I tried at a few intervals before then, but it was still logged in.

The reason this ef

[2022-11-04 04:51] dylan-westbury commented on #8390
I was getting the error when calling updateEndpoint after user signs in _Error: No value provided for input HTTP label: EndpointId._

It seems like Analytics wasn't initialised and initialising as I called updateEndpoint.

[code]

Has seemed to fix it for me now

[2022-11-04 09:09] youssef-almardini opened #10612 "DataStoreStateError: Tried to execute `DataStore.query()` while DataStore was "Stopping"."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-11-04 12:17] masteruser20 commented on #10225
+1

[2022-11-04 17:19] chrisbonifacio commented on #10615
Hi @tonybs03 can you try running `amplify codegen models`, clearing the database and restarting the app?

If that doesn't work, please share the contents of the models/schema.js and models/index.js files?

[2022-11-04 17:28] #10598 closed

[2022-11-04 17:43] ncarvajalc commented on #10575
I could actually visualize that random sign out this morning, a few hours had passed since log in. I'll take a deeper look into it.

[2022-11-04 17:53] chrisbonifacio commented on #9853
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you.

Thank you!

[2022-11-04 17:53] #9853 closed

[2022-11-04 20:55] ncarvajalc commented on #10575
@duckbytes I could reproduce your issue successfully and now know the cause of the issue.

## Reproduction steps

Same as yours + changing token expiration time in Cognito

[code]
- Select:
❯ User Pool

- Go to **App integration**
- Scroll down to **App client list** and select your app
- Go to **App client information** and click the **Edit** button
- Change the following settings:
![image](https

[2022-11-04 21:17] tonybs03 commented on #10615
Hey there
I managed to solve this issue. Turns out I had codes that were implemented with a older model name, which is why it was bugging.

[2022-11-04 21:17] #10615 closed

[2022-11-05 01:33] chstrong commented on #9179
I have the same error.

[2022-11-05 16:59] duckbytes commented on #10575
Oh that's great, thank you. I'll try it and see if it helps.

I was wondering if there is any way to configure this using the Amplify CLI and commit it to code? Or can it only be done manually?

[2022-11-05 17:04] ncarvajalc commented on #10575
I think the only thing you can modify from the CLI is the refresh token duration (in days).

[2022-11-05 17:10] ncarvajalc commented on #10575
In the [docs](https://docs.amplify.aws/lib/auth/emailpassword/q/platform/js/#sign-out) you can see that is via `amplify console auth`

[2022-11-05 17:24] duckbytes commented on #10575
Figured that was the case. I think I can close this as solved now.

Thanks for your help.

[2022-11-07 10:41] karimtamerBW commented on #10272
Hi @tannerabread

Thank you so much for your response.

The custom header is just an async function to get the Authorization header for API requests that are made through the application. [It is an async function because Auth.currentSession() is an async function.](https://docs.amplify.aws/lib/auth/manageusers/q/platform/js/#retrieve-current-session)

This has got nothing to do with SignUp, API re

[2022-11-07 14:14] ysfaran commented on #9391
To add another use case:

My team is currently trying to migrate to AWS Pinpoint and we want to keep our Pinpoint endpoints up-to-date with our user data stored in Cognito. For example if we would run email campaigns in Pinpoint the emails should have up-to-date user data like `family_name` and `given_name` but especially the `email` needs to be up-to-date.

Since we update user attributes in more

[2022-11-07 15:20] dpilch commented on #9179
Hi @chstrong, could you use the command [above](https://github.com/aws-amplify/amplify-js/issues/9179#issuecomment-1279139400) to help diagnose the issue.

[2022-11-07 16:10] tannerabread commented on #10597
@iambryanwho sorry for the delayed response.

Before we go through a walkthrough/screenshare, I wanted to make a few observations and ask a few questions.

It is generally recommended to configure the entire app in the same location and at the root of the project. There's a chance of having multiple instances of your Auth object when configuring in multiple places. For a React Native built from th

[2022-11-07 16:28] jackhipson300 opened #10629 ""undefined is not an object (evaluating 'r.message')" after calling DataStore.start on Safari"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-11-07 17:07] chstrong commented on #9179
Hi @dpilch it looks like it's not possible to globally allow connections if Cognito is configured together with API Keys. After I deleted the backend, including the local amplify directory (deleting the local amplify directory was very important), and only used API key-based authentication, that error was gone, but I ran into another issue; the IndexDB couldn't be initialized when I added Datastor

[2022-11-07 19:24] chrisbonifacio commented on #10612
Hi @youssef-almardini 👋 thanks for raising this issue. Just curious, could you share the lambda functions and/or let us know if you might be using DataStore at all in one of them?

If this is only happening in production, could you try pinning your `@aws-amplify/datastore` and `aws-amplify` versions to the versions you are running locally? (aws-amplify@4.3.33 & @aws-amplify/datastore@3.12.8)
This

[2022-11-08 00:56] Cyru-Xu commented on #8977
Having same issue, the first device trusted will still ask for MFA code login next time. Then it's all good after that

[2022-11-08 08:18] mojansen opened #10635 "Continuous Deployment - buildspec error"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-11-08 11:48] Fomin2402 commented on #9592
Any news?

[2022-11-08 13:40] iambryanwho commented on #10597
Thanks @tannerabread . Yes, Im currently using the custom auth flow to create accounts just with phone numbers. But the idea was to use custom to have more future flexibility for changing settings such as length of the custom code sent, etc. If the OOTB solution allows equal flexibility as custom then I can switch to OOTB. Is that the case?

Also does Amplify  handle storage/retrieval even in a cu

[2022-11-08 15:24] duranmla opened #10636 "DataStore does not sync join tables for guest users"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-11-08 15:30] titiloxx commented on #10575
Hello, I am seeing this has a 1 day limit while offline.
Cognito does not let you update the token expiration time more than a day.

In my use case, I need to keep offline more than this... any ideas?

[2022-11-08 16:59] #10129 closed

[2022-11-08 22:35] bjakobson opened #10640 "Redirect Mismatch in Expo + React Native + Social Sign In"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-11-08 23:13] fitzglitz opened #10641 "Error when executing DataStore.start() and DataStore.clear()"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-11-08 23:20] fitzglitz commented on #10641
One other interesting note about this issue.

If I do not execute DataStore.start() or DataStore.clear(), and I just start executing queries to select or add records, they data is persisted correctly. But because users need to log out from the app, and a different user can log in, I really need to clear the datastore.

[2022-11-08 23:50] tannerabread commented on #10640
hi @bjakobson
Could you try adding `exp://127.0.0.1:19000/--/`  to your redirect URIs in Cognito? Unless I'm missing something it looks like you are setting that as the redirect URI in the app code but it's not present in your aws-exports (and therefore not valid in Cognito and sending you to the error page). It is curious though that it worked briefly until you refreshed the app

Also do you mind

[2022-11-09 01:26] tannerabread commented on #10597
@iambryanwho

Sorry, that is not the case. I was mistaken and it is not possible to do passwordless authentication OOTB. You would need to keep going the custom_auth route for that but I would still recommend using the methods from the `Auth` package instead of Cognito directly.

The storage/retrieval part should be automatic though whether you have a normal or custom auth flow. From my understand

[2022-11-09 01:56] bjakobson commented on #10640
@tannerabread is 'react-native-inappbrowser-reborn' possible using Expo?

[2022-11-09 01:58] nadetastic opened #10644 "Storage.put with `resumable: true` returns a key that contains the S3 bucket"
### Is this related to a new or existing framework?

_No response_

### Is this related to a new or existing API?

Storage

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

When uploading an object with resumable set to true, the response for the key contains the bucket name.

[code]
Response
[code]

### Describe the solution you'd like

Inste

[2022-11-09 02:26] tannerabread commented on #10640
@bjakobson
I'm not sure that the in-app-browser works in Expo, I just couldn't remember trying the WebBrowser before, but I found an old project though where I had tried this flow before. I tried to spin it up and it's not working properly for me either. I will look into this more tomorrow and try to find the cause and hopefully get passed your blocker as well.

[2022-11-09 02:28] bjakobson commented on #10640
@tannerabread, no worries!! Removing `urlOpen` actually worked!! Is there a downside to having it removed?

[2022-11-09 02:38] tannerabread commented on #10640
Oh I'm glad that worked! There must be something wrong with the urlOpener then that I will look deeper into

To answer your question about the downsides, the in app browser provides a smoother experience as it gets rid of the lingering browser window after the sign in is complete. The authentication should still work the same.

[2022-11-09 02:40] bjakobson commented on #10640
Awesome, thank you so much!

As for pushing to development (i.e. testflight and appstore), using `myapp://` for `redirect_url` should work, correct?

[2022-11-09 02:51] tannerabread commented on #10640
There might be a few more steps that could possibly already be done:
Follow [these steps about redirect URIs](https://docs.amplify.aws/lib/auth/social/q/platform/react-native/#configure-auth-category), particularly the changes to `info.plist`
And then also add myapp:// to your redirect URIs on cognito. You also might need to slightly modify your handler for setting the redirecturl that goes in to

[2022-11-09 15:53] tannerabread commented on #10640
@bjakobson
I have been looking deeper into it, and it seems like for expo, the redirect URL can be just `exp://127.0.0.1:19000/` if you are not going to any specific page.
Currently my config for Amplify with urlOpener is as follows:
[code]
and my aws-exports redirect URIs are like this:
[code]
This setup is working for me

I don't see any difference in your function `urlOpener`, but I modified th

[2022-11-09 16:19] nadetastic commented on #10198
Hi @mabreuortega 👋,

Following up on this - glad you were able to find a work around for this. However, I have been unable to reproduce this issue. A few questions/confirmations:

It looks like you are signing out a federated user?
What is the reason for having `event.preventDefault()`? _(Do you have the sign out button wrapped in a `<form>` element)_
Did you use the Amplify CLI to generate the Au

[2022-11-09 18:06] aleksnied commented on #9736
Hi, this is promising, will your solution include support for continuing long uploads when an app is backgrounded? At the moment they seem to be immediately suspended by the OS, but there are underlying APIs that would allow for this on iOS/Android.
If not, would you consider providing and implementation of Storage.put that simply returns the pre-signed PUT URL (in a similar fashion that we can ge

[2022-11-09 18:49] ianfmc opened #10652 "Previously working DataStore Query does not return results"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-11-09 19:17] dnoji commented on #9208
@abdallahshaban557 Any update on this one? This remains a pretty serious bug and has been creating a lot of issues for us.

[2022-11-09 19:47] erinleigh90 commented on #6676
Cognito does not currently provide the ability for us to resend the MFA code. Until they provide this functionality, we cannot implement in amplify. We will continue to stress the importance of this issue internally and provide an update as soon as we have one.

[2022-11-09 22:24] #10644 closed

[2022-11-10 00:43] AbdulmueezEmiola commented on #8043
I'm having a similar problem also. I'm not so clear on how we can implement this in amplify. An explanation would really be helpful

[2022-11-10 01:58] ianfmc commented on #10652
Please note: I updated all of the AWS and Amplify npm packages to the latest versions.

[code]

[2022-11-10 07:41] asalzillo-treedom commented on #9208
If it can help, I'm using this code to avoid the problem, waiting for the fix to be release

[code]

[2022-11-10 13:55] tannerabread commented on #10500
hi @CptSpaceToaster
Can you confirm if you are still experiencing this behavior? I tried to make a sample app following [these steps](https://vuejs.org/guide/quick-start.html) up to the `npm run dev` step and then added `aws-amplify@4.3.37` and `@aws-amplify/ui-vue` to the project. I am not seeing the error you describe.

This also looks possibly related to #9119 where react-native is being pulled

[2022-11-10 13:58] sneas commented on #4854
Hey @qmau94, I'm new to React Native and struggling with a similar issue. For some reason, adding

[code]

into my `AppDelegate.mm` doesn't take any effect. Do I need to do something else?

[2022-11-10 14:15] tannerabread commented on #10393
Hi 👋 Closing this as we have not heard back from you. The most common solution I've seen to this is to set the id/access token to a higher expiration time (max 1 day), which can be done in the Cognito console in the App Client settings.

If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our te

[2022-11-10 14:33] tannerabread commented on #4854
@sneas if you are running newer version of React Native, make sure you include the import and other code _outside_ of the `#if RCT_NEW_ARCH_ENABLED` statement

[2022-11-10 14:42] tannerabread commented on #10301
Hi @WouterVDW12
I'm not sure if my redirect was working either, I will look more into it before the weekend and get back to you.

[2022-11-10 14:54] tannerabread commented on #10272
hi @karimtamerBW
I am still trying to repro but were the following lines of your Auth config found in documentation somewhere?
[code]
I don't see those as options for the Auth config [here](https://docs.amplify.aws/lib/auth/start/q/platform/js/#re-use-existing-authentication-resource).

I'm being specific about what is allowed because multiple requests sounds like it could be a config issue

[2022-11-10 15:18] abdallahshaban557 commented on #9950
closing this as a duplicate of #2010

[2022-11-10 15:18] #9950 closed

[2022-11-10 15:18] abdallahshaban557 commented on #2550
Closing this as a duplicate of #2010

[2022-11-10 15:18] #2550 closed

[2022-11-10 15:27] abdallahshaban557 commented on #9759
Hi @ffxsam! Can you please elaborate a bit on the use case here? What are you trying to accomplish with assigning that IAM role?

[2022-11-10 15:46] tannerabread commented on #10567
@joebernard
Closing this as resolved. The fix for this went out pre-v5 with [v4.3.43](https://github.com/aws-amplify/amplify-js/releases/tag/aws-amplify%404.3.43). Let me know if you are still experiencing this issue after upgrading to 4.3.43 and I will re-open to assess further.

Thank you!

[2022-11-10 15:46] #10567 closed

[2022-11-10 15:53] aoloo commented on #6676
@abdallahshaban557  I would prefer we close #2010 and keep this one open. It is more active and recent. Thanks!

[2022-11-10 15:55] abdallahshaban557 commented on #6676
@aoloo - that is true - I see that as well. Done!

[2022-11-10 15:55] abdallahshaban557 commented on #2010
Closing as a duplicate of #6676

[2022-11-10 16:30] tannerabread commented on #1126
Hi @Birowsky, @Lokiejim1
I've been working on another issue similar to this but using the [cordova-plugin-customurlscheme](https://www.npmjs.com/package/cordova-plugin-customurlscheme) to accomplish Google Auth flows and get redirected back to the app. I am still trying options to make this seamless, but currently I have been able to return the code/state from either Hosted UI with `Auth.federated

[2022-11-10 17:05] CptSpaceToaster commented on #10500
The trouble seems to be coming from other packages in my project, and yarn's dependency resolution... after uninstalling `aws-amplify` and `@aws-amplify/ui-vue` and reinstalling them... I'm still seeing the issue as yarn pulls in `@aws-sdk@3.6.1`... when we'd need to see that bump up to 3.12.1 or later... the entire 3.6.1 dependency graph includes `@aws-sdk/middleware-retry@3.6.1` which shows up h

[2022-11-10 18:48] chrisbonifacio commented on #10652
Hi 👋 can you explain what you mean by the difference in owner here? Did you purposely re-assign the owner of the record?

[2022-11-10 18:59] david-mcafee commented on #10652
Additionally, what happens for newly created users / records? Thank you!

[2022-11-10 19:33] david-mcafee commented on #10629
@jackhipson300 - What version(s) of Amplify and / or DataStore are you using? Not seeing either of these in your environment info.

[2022-11-10 19:58] jackhipson300 commented on #10629
@david-mcafee Amplify is 4.3.43 DataStore is latest as well

[2022-11-10 20:28] ianfmc commented on #10652
Hi: thanks for the quick responses!

@chrisbonifacio: I did not change the owner field of the entry in DynamoDB. Previously, when I created a new entry, the owner was simply 'ian.mccallum' but now the entry is save with an owner of is 'c423b93c-5ae5-43e7-b191-c71fb0759647::ian.mccallum' so all I can think is that Cognito uses the username of the currentAuthenticatedUser with the API query (which i

[2022-11-10 20:41] david-mcafee commented on #10629
@jackhipson300 I just attempted to reproduce this, and was not able. Can you provide additional repro steps, and perhaps a code snippet of where / how you are calling `DataStore.start`? Lastly, do you have both `aws-amplify` and `@aws-amplify/datastore` included in your `package.json`, or only `aws-amplify`? Thank you!

[2022-11-10 21:02] svidgen commented on #10612
The error you're seeing is a result of #10450 and is intended to replace much more pernicious error states. Specifically, we had cases where query/mutation operations could become interleaved with stopping or clearing operations in unpredictable and incorrect ways. In some observed cases, this resulted in visible database/transaction errors. But, the boundary was ill-defined enough that the result

[2022-11-10 21:17] nadetastic commented on #3526
Hi @jahanarun following up on this issue. Could you share some info with me, by running the following command in your app directory: `amplify diagnose --send-report`  and sharing the ID it returns?

[2022-11-10 21:25] nadetastic commented on #10262
Hi @sydiaplatform closing this issue out for now.

If you are still facing this issue, you can re-open and confirm if this is happening on a physical iOS device or on the Simulator.

[2022-11-10 21:25] #10262 closed

[2022-11-11 10:59] joa44741 commented on #2458
any updates? :)

[2022-11-11 14:26] chrisbonifacio commented on #10652
Okay, looks like the difference in ownership between v1 of our graphql transformer and v2. Did you recently upgrade your Amplify CLI and migrate your schema to v2?

We did change the way we set the owner field from just the username or sub to sub::username. This could be the issue but if you have records with just the username as the owner that should still work.

I'm not sure why the query would

[2022-11-11 15:07] tannerabread commented on #6518
Hi 👋 Closing this as resolved. This seems to be an old issue that was not really related to Amplify and there is a supplied workaround.

If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with additional information so we can re-open this issue and be better able to assist you.

Thank you!

[2022-11-11 15:07] #6518 closed

[2022-11-11 17:02] foobarnes commented on #7505
An update for anyone having issues with @MontoyaAndres workaround:
- My issue was that `Credentials.get()` was not updating correctly with authenticated creds.
- Instead of getting credentials with `const credentials = await Credentials.get();`, use `const credentials = await Auth.currentCredentials();` since `Auth` is already available from `withSSRContext()`

[code]

[2022-11-11 17:41] tannerabread commented on #8084
Hi 👋 Closing this as resolved. We no longer support this component but you can create your own flow with selecting MFA type as shown [here](https://docs.amplify.aws/lib/auth/mfa/q/platform/js/#setup-mfa-type).

Thank you!

[2022-11-11 17:41] #8084 closed

[2022-11-11 17:43] tannerabread commented on #2410
Hi 👋 Closing this as resolved. We no longer support this component but you can create your own flow with selecting MFA type as shown [here](https://docs.amplify.aws/lib/auth/mfa/q/platform/js/#setup-mfa-type) or through the code that you supplied.

Thank you!

[2022-11-11 17:43] #2410 closed

[2022-11-11 17:46] tannerabread commented on #2549
Hi 👋 Closing this as resolved. There have been docs updates [here](https://docs.amplify.aws/lib/auth/overview/q/platform/js/#social-provider-federation) and [here](https://docs.amplify.aws/lib/auth/advanced/q/platform/js/#token-refresh) that now display this process is not automatic for federatedSignIn outside of Facebook and Google.

Thank you!

[2022-11-11 17:46] #2549 closed

[2022-11-11 17:56] tannerabread commented on #4543
Duplicate of #439

[2022-11-11 17:56] #4543 closed

[2022-11-11 18:01] ianfmc commented on #10652
Hi @chrisbonifacio: I recently did both. I am creating both an angular web application and a flutter mobile application. There was an issue with one of the newer AWS flutter libraries, so I upgraded to v2 of the transformer. Then, earlier this week I updated to the latest version of the CLI. If memory serves, I was having this issue prior to the CLI upgrade.

I'll take a look at the local DB here

[2022-11-11 18:07] ianfmc commented on #10652
Hi again, @chrisbonifacio:

There is _nothing_ in the local contact db. I see one record in the local account db (which I use to manage the stripe subscription and access to the parts of the application.

I'm checking what I get back using the AppSync console.

[2022-11-11 18:13] tannerabread commented on #3329
Absorbing this into #439 for better coverage/duplicate

[2022-11-11 18:13] #3329 closed

[2022-11-11 18:34] chrisbonifacio commented on #10652
@ianfmc that would explain why DataStore's not returning any results. Now we need to figure out why that data isn't being synced.

Are there any errors in the console when DataStore starts and tries to sync? You can also add the line `Amplify.Logger.LOG_LEVEL = "DEBUG"` to before configuring Amplify and we should be able to see what's happening during DataStore's sync process.

[2022-11-11 18:49] ianfmc commented on #10652
Using AppSync, I can get the account information from the account DB (there the owner name is 'ian.mccallum' as it was created a long time ago). the listAccounts query also returns the right data.

On the other hand, I get nothing back from the listContacts query. When I run the getContact query with an Id that has an owner with sub::owner, I get the following:

[code]

[2022-11-11 18:50] ianfmc commented on #10652
Here is the schema for the account db

[code]

[2022-11-11 18:50] ianfmc commented on #10652
One last thought @chrisbonifacio: the items that I should be getting back from listContacts were all created after 1 November 2022. Thanks!

[2022-11-11 19:18] ianfmc commented on #10652
@chrisbonifacio: I've attached the transcript from login to getting the contacts.
[localhost-1668193339929.log](https://github.com/aws-amplify/amplify-js/files/9992794/localhost-1668193339929.log)

I don't see any errors. Also, I've attached the contacts that should be returned.
[results (2).csv](https://github.com/aws-amplify/amplify-js/files/9992798/results.2.csv)

Here is the code for configuri

[2022-11-11 19:19] tannerabread commented on #10524
@llhyatt98
In regards to the 1st question @chrisbonifacio had asked, Amplify Auth automatically stores in AsyncStorage for React Native projects so you would need to look there.

I also noticed something small with this one that may or may not be your issue
[code]
This (and all of the ones you mentioned) are async functions and can't be used like this to retrieve the credentials
It would instead n

[2022-11-11 19:30] #10263 closed

[2022-11-11 19:31] tannerabread commented on #10083
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you.

Thank you!

[2022-11-11 19:31] #10083 closed

[2022-11-11 19:36] tannerabread commented on #10079
hi @ghomem
Just verifying, are you looking for a solution through Cognito as the console doesn't show this information? Or did you want Amplify to handle this through the code?

[2022-11-11 19:39] tannerabread commented on #10032
Hi 👋 Closing this as we have not heard back from you.

If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you. If you believe this was an error with our documentation, please note here or open a new issue in the [docs re

[2022-11-11 19:39] #10032 closed

[2022-11-11 19:42] ghomem commented on #10079
I would like Cognito to show the information and https://github.com/aws-amplify/amplify-js/issues/1182 was the only reference I could find, so I commented here. I opened a case with Amazon support and they very politely said they would discuss it internally but so far no news. I apologize if I created noise outside of the proper place.

[2022-11-11 19:50] tannerabread commented on #10079
Not a problem, I was just trying to clarify to see if there was something Amplify should do. I will close this now as it is a Cognito issue but feel free to open a new issue if you encounter problems with Amplify. Also, if Cognito ever gets back to you and adds this functionality to the console, feel free to open a [feature-request here](https://github.com/aws-amplify/amplify-js/issues/new?assigne

[2022-11-11 19:50] #10079 closed

[2022-11-11 20:01] tannerabread commented on #10640
Hi @bjakobson 👋 Closing this as resolved. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with additional information so we can re-open this issue and be better able to assist you.

If you run in to any different issues while using Amplify, please open a new issue so we can track it there. Also join our [discord server](https://discord

[2022-11-11 20:01] #10640 closed

[2022-11-11 20:39] tannerabread commented on #8644
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you.

Thank you!

[2022-11-11 20:39] #8644 closed

[2022-11-11 20:50] tannerabread commented on #5127
Hi 👋 Closing this as resolved. The [docs now clearly show](https://docs.amplify.aws/lib/auth/social/q/platform/js/#configure-auth-category) how to handle multiple redirect URIs. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with additional information so we can re-open this issue and be better able to assist you.

Thank you!

[2022-11-11 20:50] #5127 closed

[2022-11-11 20:57] nadetastic commented on #9287
Duplicate of #3159

[2022-11-11 20:57] #9287 closed

[2022-11-11 21:23] nadetastic commented on #3159
HI @purwa-astawa glad the work around help you out. Im following up on this issue and had a question for your use case.

Is your DefineAuth lambda verifying the password? In other words has the following check -

[code]

If possible please share the function code.

[2022-11-12 02:08] jacobcwright commented on #10198
I'm having the same issue... the client cookies are not being cleared using `Auth.signOut()` using the base email login mechanism.
And for whatever reason the setTimeout() workaround worked for me as well...

I used amplify cli to generate the auth resource, and my signOut is not wrapped in a form.

the `event.preventDefault()` is to cancel the page reload from  `window.location.href = "/admin";`

[2022-11-12 03:13] hamidgh opened #10664 "AWS Graphql API mutation does not update DataStore"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-11-12 14:52] chrisbonifacio commented on #10664
Hi @hamidgh 👋 thanks for raising this issue.

Just curious, if you're using DataStore why are you performing a mutation directly to AppSync via API.graphql instead of DataStore.save?

In any case, if you made a change to the record in the server it may not be reflected in the local store until a sync happens.

What happens when you try to access the record with DataStore.query after the API.graphq

[2022-11-12 14:57] chrisbonifacio commented on #10664
Actually, if you have DataStore enabled and you're using API.grapnel, you just need to pass the current _version of the record as part of the input variables.

[2022-11-12 15:07] chrisbonifacio commented on #10531
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested by our team members so we can re-open this issue and be better able to assist you.

Thank you!

[2022-11-12 15:07] #10531 closed

[2022-11-12 18:33] hamidgh commented on #10664
Thanks for the quick response. I added the _version in the request and now it updated. I think it should be mentioned in the documentation. I couldn't find anywhere on internet.

The main reason that I use graphql is to store the data based on the user, for example on the issue I have above user is updating its own profile. Is there a way to use `DataStore.save` based on the logged in user?

[2022-11-13 01:06] schirmerp commented on #9639
configuring like this worked for me.

**vite.config.js**

export default defineConfig({
  plugins: [vue()],
  resolve: {
    alias: {
      "./runtimeConfig": "./runtimeConfig.browser", //fix production build
    }
  }
})

[2022-11-13 10:22] purwa-astawa commented on #3159
@nadetastic  unfortunately, I'm only handling the client side. lambda was handled by the other team member, so I cannot share the function code

[2022-11-13 13:42] iambryanwho commented on #10597
@tannerabread using `Auth` works. Thanks

[2022-11-13 15:13] muniramachandra15 commented on #10263
1. Tested in physical device (Android mobile) only.
2. We are using below method to get session
      let userPool = new AWSCognito.CognitoUserPool(poolData);
      let authenticationData = { Username: username, Password: pw };
      let authenticationDetails = new AWSCognito.AuthenticationDetails(authenticationData);
      this._cognitoUser = new AWSCognito.CognitoUser({
        Username: usernam

[2022-11-13 17:07] jlaihong opened #10666 "DataStore.query missing nested data after null hasOne"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-11-14 05:00] euvs commented on #10393
Hi @tannerabread
I'm not the OP but we're experiencing exactly the same problem (mobile app + react native + app stays offline for a long period of time).

We are currently have Coginito service setup in AWS, and using `aws-amplify@4.3.38` library just for authentication (via hosted UI).

When the app launches we check user session, something like this:

[code]

The suggestion of increasing the ex

[2022-11-14 12:15] cwomack commented on #10202
Hello @sampleaccount2 👋 .  I've been able to reproduce the issue of custom events missing from the filter list on the **Pinpoint > [Project] > Analytics > Events** page after following the tutorial steps for setup.  Despite seeing the request being sent to Pinpoint for the custom event... it was not being logged within the Pinpoint console.

However, I was able to get both the custom _**event type

[2022-11-14 13:11] nadetastic commented on #3184
Following up on this issue.

For clarification, this bug with the Hosted UI is specific to Cognito and exists independent of Amplify, as the Cognito team maintains the Hosted UI page. The Cognito team is currently aware of this and are working to get it resolved, however, I am unable to provide an ETA.

In the meantime, if you are using Amplify, you can use the UI components provided by amplify-ui

[2022-11-14 13:22] tannerabread commented on #10597
Closing this as resolved. If you experience any other issues with Amplify please feel free to open a new issue so that we can assist you. Also feel free to join our [discord server](https://discord.com/invite/amplify) to speak with the community of Amplify developers.

Thank you!

[2022-11-14 13:22] #10597 closed

[2022-11-14 13:43] contractorwolf commented on #5127
cool @tannerabread, I was working off of an earlier answer that included the Auth.configure().  I will test using my code without that and get back to this thread on whether or not it works.  If so I would suggest that Amplify should assume these values and not require them in awsExports configuration:
[code]
unless there is something else that I am not understanding?  Ill update my answer after I

[2022-11-14 15:04] contractorwolf commented on #5127
**CORRECTION**
based on @tannerabread's suggestion that the Auth.configure() was not needed (and removing would be cleaner I tested and found that he was correct.  This is my current implementation (which works):
[code]

[2022-11-14 15:19] contractorwolf commented on #5127
but if the Amplify.configure() method were to just assume that the redirectSignIn/redirectSignOut values were the current location origin (window.location.origin for web and however mobile determines it) then the values would never have to be stored in the awsExports file and then edited as above.  It could just check the current location.origin url on that call of configure() against the list in

[2022-11-14 15:27] karimtamerBW commented on #10272
Hey @tannerabread
As suggested, I removed those lines from the configs, but the issue still persists.

[2022-11-14 15:48] chrisbonifacio commented on #10629
@jackhipson300 I noticed you also have some scoped packages installed, `@aws-amplify/api` and `@aws-amplify/api-graphql` that are not updated to the latest version. Can you run this command to update all amplify packages?

[code]
The issue may be caused by some incompatible versions installed of the scoped packages.

[2022-11-14 17:42] fitzglitz commented on #10641
Chris, thanks for your assistance.
Here is how I've configured Amplify and DataStore, and calling the configure methods.

`
import {Amplify, DataStore} from 'aws-amplify';
import {withAuthenticator, AmplifyTheme} from 'aws-amplify-react-native';
import awsExports from '../../src/aws-exports';

//Amplify.Logger.LOG_LEVEL = 'DEBUG';
Amplify.configure({
  ...awsExports,
  Analytics: {
    disabled: t

[2022-11-14 18:17] erinleigh90 commented on #8372
@pr1ze @prafullatandel, have you tried setting the DataStore authModeStrategyType to `AuthModeStrategyType.MULTI_AUTH` in `Amplify.configure()`? If you check the documentation [here](https://docs.amplify.aws/lib/datastore/setup-auth-rules/q/platform/js/#configure-multiple-authorization-types) it may help with your issue.

[2022-11-14 18:37] chrisbonifacio commented on #10641
@fitzglitz thanks for the quick reply!

Curious - why are you calling DataStore.configure separately from Amplify.configure and without any arguments?

You don't have to call `DataStore.configure` if you've already called `Amplify.configure`. If you still need to configure some DataStore settings, you can do so nested within the `Amplify.configure` similar to how you've configured Analytics.

Last

[2022-11-14 19:27] fitzglitz commented on #10641
Good point. I was looking at DataStore.configure() initially to use the SQLiteAdapter. I opted to not over complicate the initial configuration of DataStore. I've now removed DataStore.configure() from the code.

I am importing a model but didn't include it in the provided code because it was just an unused import - now I know.  Here is a better representation of the current code.

`
import {Ampli

[2022-11-14 20:31] svidgen commented on #8901
The new predicate grammar has been released as part of JS V5.

See https://github.com/aws-amplify/amplify-js#amplify-5xx-has-breaking-changes-please-see-the-breaking-changes-below

[2022-11-14 20:31] #8901 closed

[2022-11-14 20:48] stocaaro commented on #10331
Interesting. You've confirmed that PubSub/AWSIoTProvider is working as expected when not using AWSCloudWatchProvider, are you sure that AWSCloudWatchProvider is working when not using PubSub/AWSIoTProvider?

From what you've said, I would guess that there is a problem in how `AWSCloudWatchProvider` is configured. Are you following a specific guide to setup/configure `AWSCloudWatchProvider`?

[2022-11-14 21:27] stocaaro commented on #9855
From the information provided, this is likely an issue with Auth. Since it has been a couple months without additional detail, I am closing this issue as stale. If you have further information to add to help troubleshoot or inform other troubleshooting related problems, it would be good to capture more detail about what happened here and how to best work through the issue.

[2022-11-14 21:27] #9855 closed

[2022-11-14 21:29] stocaaro commented on #9749
Today!

---

Good news. Automated Reconnection is now available on the latest `aws-amplify` release! Review the [updated subscription docs](https://docs.amplify.aws/lib/graphqlapi/subscribe-data/q/platform/js/#connection-issues-and-automated-reconnection) and consider any application behavior you may want to add to best meet your users needs when subscriptions reconnect.

Please review our [breaki

[2022-11-14 21:29] #9749 closed

[2022-11-14 21:34] stocaaro commented on #1016
Good news. Automated Reconnection is now available on the latest `aws-amplify` release! Review the [updated subscription docs](https://docs.amplify.aws/lib/pubsub/subunsub/q/platform/js/#connection-issues-and-automated-reconnection) and consider any application behavior you may want to add to best meet your users needs when subscriptions reconnect.

Please review our [breaking change guidance](htt

[2022-11-14 21:34] #1016 closed

[2022-11-14 21:36] stocaaro commented on #8513
Good news. Automated Reconnection is now available on the latest `aws-amplify` release! Review the [updated subscription docs](https://docs.amplify.aws/lib/graphqlapi/subscribe-data/q/platform/js/#connection-issues-and-automated-reconnection) and consider any application behavior you may want to add to best meet your users needs when subscriptions reconnect.

Please review our [breaking change gui

[2022-11-14 21:36] #8513 closed

[2022-11-14 21:40] stocaaro commented on #3039
Good news. Automated Reconnection is now available on the latest `aws-amplify` release! Review the [updated subscription docs](https://docs.amplify.aws/lib/pubsub/subunsub/q/platform/js/#connection-issues-and-automated-reconnection) and consider any application behavior you may want to add to best meet your users needs when subscriptions reconnect.

Please review our [breaking change guidance](htt

[2022-11-14 21:40] #3039 closed

[2022-11-14 21:40] stocaaro commented on #4459
Good news. Automated Reconnection is now available on the latest `aws-amplify` release! Review the [updated subscription docs](https://docs.amplify.aws/lib/pubsub/subunsub/q/platform/js/#connection-issues-and-automated-reconnection) and consider any application behavior you may want to add to best meet your users needs when subscriptions reconnect.

Please review our [breaking change guidance](htt

[2022-11-14 21:40] #4459 closed

[2022-11-14 21:42] stocaaro commented on #9824
Good news. Automated Reconnection is now available on the latest `aws-amplify` release! Review the updated subscription docs for [API](https://docs.amplify.aws/lib/graphqlapi/subscribe-data/q/platform/js/#connection-issues-and-automated-reconnection) / [PubSub](https://docs.amplify.aws/lib/pubsub/subunsub/q/platform/js/#connection-issues-and-automated-reconnection) and consider any application beh

[2022-11-14 21:42] #9824 closed

[2022-11-14 21:43] stocaaro commented on #9824
Note, there are a few other issues listed here that will be solved independent of the core Connection State / Reconnection issue.

[2022-11-14 21:56] KristianLake commented on #9750
I can confirm this issue.

Auth.setPreferredMFA(user, 'TOTP'); without the following code in app.tsx

`
import { Hub } from 'aws-amplify';

const Listener = async (data: any): Promise<void> => {
    switch (data.payload.event) {
        case 'signIn':
            console.log('user signed in');
            break;
        case 'signUp':
            console.log('user signed up');
            break;

[2022-11-14 22:04] KristianLake commented on #9750
Auth.setPreferredMFA(user, 'TOTP'); will trigger the hub listener.

example in App.tsx (react app)

import { Hub } from 'aws-amplify';

const Listener = async (data: any): Promise<void> => {
    switch (data.payload.event) {
        case 'signIn':
            console.log('user signed in');
            break;
====
        case 'tokenRefresh_failure':
            console.log('token refresh failed');

[2022-11-14 22:19] stocaaro commented on #7133
Good news. Storage list pagination is now available on the latest `aws-amplify` release! See the [Storage.list docs](https://docs.amplify.aws/lib/storage/list/q/platform/js/#paginated-file-access) for help getting started using pagination.

Please review our [breaking change guidance](https://github.com/aws-amplify/amplify-js#notice) before upgrading your application.

To upgrade Amplify to versio

[2022-11-14 22:19] #7133 closed

[2022-11-14 23:03] tannerabread commented on #10582
hi @wmaca, sorry for the delayed response
I've been trying to reproduce this and haven't had any luck on my end without changing the storage. I was able to successfully log in every time when using device remembering and always type in password.

I'm also curious how you set up your app to differentiate between the local/session storage? Can you send the class you used to modify your storage?

[2022-11-15 01:27] LFMAKER commented on #6064
@stocaaro
How can I verify that my subscription has successfully connected? I have 70+ in-app subscriptions on my mqtt client, but Hub.listen doesn't tell me specifically about each subscription.

I need to do this because I can only publish to a topic after being 100% connected with some subscriptions.

[2022-11-15 01:27] LFMAKER commented on #2692
@stocaaro
How can I verify that my subscription has successfully connected? I have 70+ in-app subscriptions on my mqtt client, but Hub.listen doesn't tell me specifically about each subscription.

I need to do this because I can only publish to a topic after being 100% connected with some subscriptions.

[2022-11-15 11:06] jawobar commented on #9639
Similar thing worked for me. I am using Nuxt3:
[code]

[2022-11-15 13:39] tannerabread commented on #5127
@contractorwolf
I'm going to discuss this with the rest of the team and I will update here when we have a resolution. I don't see a problem with changing the docs to handle the frontend the way you did, but I need to check with a few people internally to know if it's feasible to handle it like you said.

[2022-11-15 15:39] stocaaro commented on #2692
Hello @LFMAKER,

Interesting. This issue and effort has been focused around whether the server connection recovers from outages/disruptions. This recovery process will re-establish all subscriptions that existed before the connection was lost.

For monitoring subscription status to a specific topic, I'm not aware of any way to verify connection short of receiving data. If your MQTT topic has some

[2022-11-15 15:43] stocaaro commented on #6064
Hello @LFMAKER,

I added a reply to this question over on #2692.

[2022-11-15 16:48] chrisbonifacio commented on #10641
You probably just need to use an imported model at least in some capacity.

For example:

unused imported model

[code]
<img width="1452" alt="Screenshot 2022-11-15 at 11 43 20 AM" src="https://user-images.githubusercontent.com/16952986/201977694-58ba8111-465b-432a-bf4e-bc29b75318f2.png">

using imported model
[code]

<img width="1452" alt="Screenshot 2022-11-15 at 11 45 07 AM" src="https://user-i

[2022-11-15 16:57] chrisbonifacio commented on #10664
We should mention this, just need to figure out where to put it. Might have to go in an advanced workflows section for DataStore.

DataStore does not enforce auth rules on the client but the server will prevent one user from changing another user's profile if you're using an auth rule like `{ allow: owner }`. Right now, as it stands, `{ allow: private }` will allowed any logged in user to update a

[2022-11-15 17:18] chrisbonifacio commented on #10666
Hi @jlaihong 👋 We recently released v5 of the Amplify JS library. For DataStore this means that lazy loading is available and might potentially make this behavior more predictable.

https://docs.amplify.aws/lib/datastore/relational/q/platform/js/#querying-relations

However, in v4, it is not recommended to rely on the initial model query. In order to get related records, we recommended querying th

[2022-11-15 17:18] #10666 closed

[2022-11-15 17:22] cwomack commented on #10447
Hi 👋 Closing this as we have not heard back from you. If you are still experiencing this issue and in need of assistance, please feel free to comment and provide us with any information previously requested so we can re-open this issue and be better able to assist you.

Thank you!

[2022-11-15 17:22] #10447 closed

[2022-11-15 17:37] chrisbonifacio commented on #10024
I would look at the outgoing request to AppSync and check the headers for how it was authorized. Only public/guest users are authorized to query `listPosts` with an api key. If there's an authorization header in the request then the request was made with a Cognito access token and therefore the auth mode was AMAZON_COGNITO_USER_POOLS which would be unauthorized according to the schema.

For the ot

[2022-11-15 17:58] ianfmc commented on #10652
Yes. I was logged in as 'ian.mccallum.'

[2022-11-15 19:06] erinleigh90 commented on #9325
@rnrnstar2, I would suggest you taking a look at the [datastore documentation on observeQuery](https://docs.amplify.aws/lib/datastore/real-time/q/platform/js/#observe-query-results-in-real-time), where it specifies that you can use predicates and sorting as in query, but does not include pagination. Specifically see this quote from the bottom of the page

ObserveQuery is meant to provide a snapsho

[2022-11-15 19:06] #9325 closed

[2022-11-15 19:44] estebandiazfront opened #10676 "Make PushNotifications compatible with Android 12"
### Is this related to a new or existing framework?

React Native

### Is this related to a new or existing API?

Push Notifications

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

I was making a test with a react native app to use push notifications, all the setup done natively was properly configured as the docs stated. However, when I tes

[2022-11-15 19:56] ianfmc commented on #10652
@chrisbonifacio: let me know if you have an update -- I have a meeting today with my customer regarding this. Thanks!

[2022-11-15 19:59] tannerabread commented on #10676
Hi @estebandiazfront, this is a known issue and is being tracked in issue #10252
There are plans to fix this in future versions but without a definite timeline
There are also some workarounds in the linked issue

I am going to close this issue in favor of the previous one but will note your solution internally

[2022-11-15 19:59] #10676 closed

[2022-11-15 20:26] tannerabread commented on #10500
Closing this in favor of the duplicate/previous issue #9119 to track with better coverage. @CptSpaceToaster if you find anything additional please add it to that issue, but I think @erinleigh90's response gives all of the context for why it has not been changed before now

[2022-11-15 20:26] #10500 closed

[2022-11-15 20:28] tannerabread commented on #10676
@estebandiazfront would you be interested in opening a PR to implement this?

[2022-11-15 21:44] cwomack commented on #3119
Closing this issue out due to #7342 and implementation of the `deleteUserAttributes`.

[2022-11-15 21:44] #3119 closed

[2022-11-15 21:58] cwomack commented on #3050
Closing this out due to the recently updated docs around using the Angular Authenticator that can be found here: https://ui.docs.amplify.aws/angular/connected-components/authenticator.

[2022-11-15 21:58] #3050 closed

[2022-11-15 22:33] hamidgh commented on #10664
Thanks for the info, that will be my last question:
I just tried to use `DataStore.save` and I see every time I save the data, it creates the new instance of the model in database. I would like to update the same instance. Is there an update function that we can use? @chrisbonifacio

[2022-11-15 22:49] tannerabread commented on #2691
Closing as this should now be possible or will be handled in the UI repo. Theming is possible with the current React Authenticator component as shown [here](https://ui.docs.amplify.aws/react/theming) and Auth methods can be used directly without the supplied components as shown [here](https://docs.amplify.aws/lib/auth/getting-started/q/platform/js/)

[2022-11-15 22:56] tannerabread commented on #3046
This should be possible now as shown [here](https://ui.docs.amplify.aws/angular/connected-components/authenticator/configuration#initial-state). Closing this issue as resolved.

[2022-11-15 22:56] #3046 closed

[2022-11-15 22:59] tannerabread commented on #3216
Closing as this issue is outdated but there have been updates to the Authenticator component for Vue which can be found [here](https://ui.docs.amplify.aws/vue/connected-components/authenticator). Any further inquiries about UI components should be directed at the [UI repo](https://github.com/aws-amplify/amplify-ui).

Thank you

[2022-11-15 22:59] #3216 closed

[2022-11-15 23:04] tannerabread commented on #3892
Closing as this should now be possible with the [Vue Authenticator component](https://ui.docs.amplify.aws/vue/connected-components/authenticator/customization#internationalization-i18n)

[2022-11-15 23:04] #3892 closed

[2022-11-15 23:16] tannerabread commented on #4566
Closing this as resolved, this should be handled better by the UI library for Vue than it was in `aws-amplify-vue`. Any new problems with that library should be opened in [that repo](https://github.com/aws-amplify/amplify-ui)

[2022-11-15 23:16] #4566 closed

[2022-11-15 23:20] tannerabread commented on #6668
Closing as this should now be possible with [CSS variables](https://ui.docs.amplify.aws/react/theming/css-variables) in UI components

[2022-11-15 23:21] #6668 closed

[2022-11-15 23:24] tannerabread commented on #6697
This is now deprecated and should be handled using the Amplify UI [React Authenticator component](https://ui.docs.amplify.aws/react/connected-components/authenticator)

[2022-11-15 23:24] #6697 closed

[2022-11-15 23:27] tannerabread commented on #8115
This should now be handled by the [UI Authenticator component](https://ui.docs.amplify.aws/react/connected-components/authenticator/configuration#sign-up-attributes) via the sign-up attributes. If you are still experiencing this with that component please open a new issue in the [UI repo](https://github.com/aws-amplify/amplify-ui) as the component mentioned in the original post is now deprecated.

[2022-11-15 23:27] #8115 closed

[2022-11-16 00:09] ianfmc commented on #10652
One more question for the day @chrisbonifacio: we have just switched to the production system and are running some 'burn in' tests, so there are only three (internal) users. Could this be solved by resetting the auth or api? thanks...

[2022-11-16 00:54] cybercussion opened #10678 "Angular API.service.ts TS2352 errors from codegen"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-11-16 01:03] cybercussion commented on #10678
Ok so rolling back zen-observable-ts fixed graphql.
But @aws-amplify/storage now throws some errors:

[code]
"@aws-amplify/storage": "^5.0.1",

[2022-11-16 01:13] fitzglitz commented on #10641
Yes, if I execute a query against the imported model, the datastore starts on its own and I am able to fully use datastore.  It's just really weird that datastore.start() fails.

I guess I'll just move past this with executing a query.

Thanks for you help!

[2022-11-16 01:14] cybercussion commented on #10678
Comment: So going thru this on a new package the modular @aws-amplify/* don't get added to package.json.  And pulling down latest zen-observable-ts seems to break current version of graphql.   In case someone else runs into this rolling back to 0.8.19 fixed my graphql issues.

[2022-11-16 01:37] tannerabread commented on #4744
This should be resolved now with new versions of the Angular Authenticator component. Please see [this comment](https://github.com/aws-amplify/amplify-js/issues/4681#issuecomment-672153203) on a similar issue that outlines all that has been done to remedy this issue

[2022-11-16 01:37] #4744 closed

[2022-11-16 02:53] #8081 closed

[2022-11-16 03:17] tannerabread commented on #8193
Closing as this should be how the current [Vue Authenticator](https://ui.docs.amplify.aws/vue/connected-components/authenticator) functions. There are also primitives on the roadmap for Vue that can be tracked better in the [UI repo](https://github.com/aws-amplify/amplify-ui)

[2022-11-16 03:17] #8193 closed

[2022-11-16 03:30] tannerabread commented on #1730
Closing this as the UI team is working on a React Native Authenticator currently. Outside of that, this is now possible by calling Auth directly and following the [steps here.](https://docs.amplify.aws/lib/auth/social/q/platform/react-native/)

[2022-11-16 03:30] #1730 closed

[2022-11-16 04:10] tannerabread commented on #3762
Closing as the package `aws-amplify-angular` is now deprecated and the UI team has fixed this issue with the new angular authenticator component. Please see [this comment](https://github.com/aws-amplify/amplify-js/issues/4681#issuecomment-672153203) detailing next steps if you are still facing this issue

[2022-11-16 04:10] #3762 closed

[2022-11-16 04:19] tannerabread commented on #5583
Closing as [`aws-amplify@5.0.0`](https://github.com/aws-amplify/amplify-js/releases/tag/aws-amplify%405.0.0) deprecated the package `aws-amplify-angular`. Please follow the [migration guides outlined here](https://ui.docs.amplify.aws/react/getting-started/migration) to migrate to new UI packages

[2022-11-16 04:19] #5583 closed

[2022-11-16 04:48] chrisbonifacio commented on #10641
No problem! Just to be clear, the query doesn't need to be executed for DataStore.start() to work. I just added that show that I was using the import by referencing it in a function. I was still calling DataStore.start() in a useEffect and whether I got the "Schema was not initialized" error depended on whether an imported model was being lazy loaded or not.

That being said, it is okay to implici

[2022-11-16 04:48] #10641 closed

[2022-11-16 05:17] abdallahshaban557 commented on #1138
Hi @clementAC - do this admin actions provide you with the functionality you need? https://github.com/aws-amplify/amplify-js/issues/1138

[2022-11-16 05:27] abdallahshaban557 commented on #2487
Hi @tcchau - it appears that the original issue has been resolved from Cognito's side if I am following this correctly. Do we still need to keep this issue open?