[2020-07-08 16:33] wrightkris commented on #6097
@jordanranz Just ran through our use cases for this and it LGTM 👍  Thanks for your work on this.

[2020-07-08 16:46] Macheine commented on #2906
Year later and this still hasn't been resolved...

[2020-07-08 16:46] niclego commented on #3410
@ahmadfs I am unaware of a workaround.

[2020-07-08 17:12] iartemiev commented on #6162
Thank you for the detailed reproduction instructions, @nubpro. I was able to reproduce. Took exactly 5 minutes for device A to show the error message you specified in step 6. We will start investigating and working on a fix for this.

[2020-07-08 17:39] ericclemmons commented on #5435
@apoorvmote You can continue following & commenting on this issue for progress: we'll update this once it's on `latest`.

🎉 **Good news though! I just shipped a Next.js preview to `aws-amplify@preview`!**

I've updated the description at the top (https://github.com/aws-amplify/amplify-js/issues/5435) with steps to get started.  `Auth`, `API`, and `DataStore` are actively developed against, but I'm

[2020-07-08 18:13] mauerbac commented on #6258
This can also solved by including documentation/tutorials around how to use Amplify Auth with GitHub. The doc request is here -> https://github.com/aws-amplify/docs/issues/755

[2020-07-08 19:30] marianolc opened #6264 "DataStore won't let me a use a custom Id as Sort Key"
**Describe the bug**

I have a model called Product for a multi-tenant project. I decided to use owner as Primary Key and id as Sort Key. In owner im setting the value obtained from Auth.currentAuthenticatedUser. But no matter what I set in 'id' DataStore is always setting a random UUID.

**To Reproduce**

1. Create the following schema:

[code]
Then push it with 'amplify push'.

2. Execute the fo

[2020-07-08 22:00] sacrampton commented on #6260
I have been through my database and added   @model(subscriptions: null) to 17 of the 45 tables. So if we could select the tables that are enabled for subscription I'd only need (45 -17) * 3 = 84 subscriptions.

[2020-07-08 22:43] sammartinez commented on #6255
@hasanbaloch This seems to be related to AWS Lambda more so than Amplify, are you using Amplify? If not, I recommend opening up a AWS forums issue for [AWS Lambda}(https://forums.aws.amazon.com/forum.jspa?forumID=186&start=0) with this feedback.

[2020-07-09 03:15] nihp opened #6269 "After disabling the user still the user is in the app. It not shows the error not authenticated immediately"
After disabling the user still the user is in the app. It not shows the error not authenticated immediately in aws-amplify-react-native

[2020-07-09 03:25] DavidWells commented on #3732
Any word from Cognito team on this?

Many folks are experiencing this https://github.com/aws-amplify/aws-sdk-android/issues/684

Thanks for your help

[2020-07-09 03:54] nihp commented on #3435
I have disabled a user in the cognito and the user is already in the app. Here it not shows any error for the user.

User can access the account after he is disabled.

So If I reload the app it shows the error that is not authenticated from Auth.currentAuthenticatedUser(). Also I can get the currentSession() of the disabled user.

How can I show the user is disabled message immediately the user is

[2020-07-09 06:07] KwFung7 commented on #5582
https://github.com/aws/aws-sdk-js-v3/issues/1319
The issue should be fixed in latest aws sdk v1.0.0-gamma.3 release (https://github.com/aws/aws-sdk-js-v3/releases/tag/v1.0.0-gamma.3

[2020-07-09 06:09] KwFung7 commented on #5405
aws/aws-sdk-js-v3#1319
The issue should be fixed in latest aws sdk v1.0.0-gamma.3 release (https://github.com/aws/aws-sdk-js-v3/releases/tag/v1.0.0-gamma.3

[2020-07-09 06:10] KwFung7 commented on #4515
aws/aws-sdk-js-v3#1319
The issue should be fixed in latest aws sdk v1.0.0-gamma.3 release (https://github.com/aws/aws-sdk-js-v3/releases/tag/v1.0.0-gamma.3)

[2020-07-09 06:33] libeanim commented on #3699
Hi all thanks for looking into this!
We are actually not using amplify analytics at the moment, so I can't immediately check if it's resolved but I'd close this issue for now :+1:

[2020-07-09 06:33] #3699 closed

[2020-07-09 07:34] nihp commented on #606
I have disabled an user account, but still the data was set for the user.

I am using aws-amplify-react-native. After disabling the user there is no immediate response for this action from cognito pool.

I need to manually reload the app. After reload I am force the user to Auth.signOut. Still the data is set for that user and he is in the app with signedIn state.

Then I will manually restart the

[2020-07-09 08:36] nihp commented on #2861
I am disabled the user in cognito, when the user is in the app. But it not return any error. Still the user can able to access the app.

How can I know the user is disabled?
How long the user can access the app after disabled?
Any calls to check this?

I am using aws-amplify-react-native.

[2020-07-09 08:40] nihp opened #6271 "User can access the app after disabled the user by admin in cognito (using aws-amplify-react-native)"
I have disabled a user in cognito. But the user is already in the app. Here he not received any error and also it will allow him to use the app.

How can I make the user to out of the app immediately after the disable action in cognito?

[2020-07-09 11:14] nihp commented on #469
Here I have disabled a user in cognito userpool. But the user still access the app.

Auth.currentAuthenticatedUser(); not returns any error immediately the user is disabled?
How can I know the user is disabled?
How long the user will access the app after disabled in this case?

[code]

I am using aws-amplify-react-native and aws-amplify.

[2020-07-09 11:27] rndgrin opened #6272 "graphql @searchable returns empty results"
**Describe the bug**
We recently added the @searchable annotation to our graph scheme. unfortunalty every searchQuery is returning ampty results. Even ones with no filter.

**To Reproduce**

1. Add @searchable annotation to an entity.
2. amplify push.
3. add some resource to the entity by using createEntity mutation.
4. use the supposedly newly created elastic search resolver with a searchEntity q

[2020-07-09 12:33] niklr commented on #1218
This is not really an issue related to amplify-js but rather Cognito. Quite a bummer that this has not been resolved within 2 years...

[2020-07-09 12:39] niklr commented on #3774
Can you provide some sort of timeline when this is gonna happen @manueliglesias ? Thanks!

[2020-07-09 13:39] mauerbac commented on #6271
Hi @nihp - this sounds more like a question rather than a bug report. Can you provide more information? What is the error?

[2020-07-09 13:39] #6271 closed

[2020-07-09 13:40] mauerbac commented on #6269
Looks like a duplicate of your previous question. Closing.

[2020-07-09 13:40] #6269 closed

[2020-07-09 13:43] mauerbac commented on #6256
Hi @nihp - I see you've opened multiple bug reports. It looks like these are all questions. It's better to use our [discussion section](https://github.com/aws-amplify/amplify-js/discussions) or our [Discord](www.discord.gg/amplify).

To be able to help we need more information. Please follow the template in the GitHub workflow.

[2020-07-09 13:43] #6256 closed

[2020-07-09 13:43] mauerbac commented on #6257
Hey @amhinson - I see your PR is linked. Are you able to take a look at this one?

[2020-07-09 13:47] mauerbac commented on #6235
hi @nihp - you've previously asked the same question. It's best to answer all related questions in the same Issue. Thank you!

[2020-07-09 13:47] #6235 closed

[2020-07-09 13:51] mauerbac commented on #6227
HI @Rafcin - I'm going to move this to our discussion form as it seems you need help with the graphQL schema and are not reporting a bug.

[2020-07-09 13:51] #6227 closed

[2020-07-09 14:05] mauerbac commented on #6123
Any updates here?

[2020-07-09 14:13] myspivey commented on #6123
Nothing from our end. We however have decided to switch away from Auth0 and using Cognito for user pools to OpenID with Okta and only federation and so far have not run into this problem.

[2020-07-09 15:16] amhinson commented on #6257
@nihp Just to make sure I am understanding correctly, are you calling `Auth.signOut()` in your code and then `Auth.currentAuthenticatedUser({ bypassCache: true })` is still returning a user?

[2020-07-09 15:20] mauerbac commented on #6013
Hey @bigzidane - we haven't heard back so we will close this issue. Please let us know if you need further help.

[2020-07-09 15:20] #6013 closed

[2020-07-09 15:26] mauerbac commented on #5934
@nihp - are you still experiencing this issue? Curious if the above PR helps?

[2020-07-09 15:37] mauerbac commented on #5410
Hey @nihp - were you able to move past this? Or is this still an issue?

[2020-07-09 15:46] sammartinez commented on #5752
@xon52 This seems to be related to Amazon Cognito instead of AWS Amplify. Please provide this feedback to Amazon Cognito's [AWS Forums](https://forums.aws.amazon.com/forum.jspa?forumID=173) board. Thanks for the feedback!

[2020-07-09 15:46] #5752 closed

[2020-07-09 16:00] abudakhmad opened #6274 "We are facing problems with Amplify related to social network login"
Here is the description of the problem:
I opened totaly new browser and swithced on incognito mode, than I entered our platform via facebook login. after that I did log-out from the system and opened facebook page and did log-out from the facebook itself, after that I opened our platform one more time and pressed sign in via facebook and it landed me directly into the system without asking any cre

[2020-07-09 16:12] jordanranz commented on #6252
@wrightkris that would be super helpful! Feel free to ping me in our Discord if you have any questions.

Internally we use [this](https://github.com/aws-amplify/amplify-js/blob/main/packages/amplify-ui-components/src/common/helpers.ts#L34) `dispatchAuthStateChangeEvent` method which is a wrapper around our Hub utility. I am thinking this might be something we can expose similar to `onAuthUIStateCh

[2020-07-09 16:48] nihp commented on #6256
@mauerbac No one is responding to any of the threads. So opened like this. Will discuss in a one thread going forward.

[2020-07-09 16:50] nihp commented on #5410
Still not an issue. I can able to get the value.

[2020-07-09 16:50] #5410 closed

[2020-07-09 16:50] nihp commented on #5934
Yes, occasionally facing this issue

[2020-07-09 17:01] nihp commented on #6257
Thanks for your response.

Yes, it returns empty data (Auth data is return to null) and then immediately changing the state as signedIn. Auth data was set after event: signout.

Note: Can you let me know the exact behaviour for the below. I have summarized my findings

1. If the user is disabled by the admin, how the user know he is disabled immediately. (Now after disabling the user he can still

[2020-07-09 18:35] BruceWheaton commented on #2312
I have this problem too. The XR system runs in the background when user routes away.The Sumerian React samples show how to stop listeners, but it's a waste of time since the whole XR system is still running but can't be accessed any more or restarted

[2020-07-09 19:17] sammartinez commented on #5405
Correct, we are testing this internally from the other changes within the release to validate it does not break any other additional Amplify use cases. We have an ETA of next week to get this change out. Thanks for the feedback!

[2020-07-09 20:16] JonEsparaz commented on #3815
Any update on the hide prop for the RN Authenticator component? I'm trying to hide Greetings.

[2020-07-09 20:21] nubpro opened #6277 "[DataStore] errorHandler failed due to unparsed JSON objects"
**Describe the bug**
On [line 302](https://github.com/aws-amplify/amplify-js/blob/main/packages/datastore/src/sync/processors/mutation.ts#L302), the variable named `variables` should be parsed before its element can be extracted out because it's a string.
Otherwise, an exception will be thrown and datastore will be unable to surface the error through errorHandler.

I believe the same should be don

[2020-07-09 20:39] nubpro opened #6278 "[DataStore] Mutation stuck in infinite retries loop when ConflictUnhandled detected"
**Describe the bug**
When DynamoDB returns an error with an errorType of 'ConflictUnhandled', Datastore will attempt to pursue its [own conflict handling](https://github.com/aws-amplify/amplify-js/blob/main/packages/datastore/src/sync/processors/mutation.ts#L233). However, I have no idea why it would trigger an infinite retry loop despite having a mechanism in place to prevent it.

Hence, I decide

[2020-07-09 20:47] mauerbac commented on #5934
@nihp - Did you see the PR ? Does that help

[2020-07-09 21:21] ericclemmons commented on #6148
@steinybot You raise a good point!  We released `@aws-amplify/ui-react` (using `@aws-amplify/ui-components` as the foundation) to be in sync with the `aws-amplify@latest`:

The "legacy" implementation isn't actively maintained, but _should_ still work with `aws-amplify@latest`:

Can you send a PR with an update to `^3.0.0` so we validate it against our test suite? 🙏

[2020-07-09 22:17] Mersmith opened #6281 "Because there are two different users when logging in with facebook"
Because there is duplication of users in AWS Cognito
Register a user with name, email and cell phone. After that, log in with Facebook. And I register another user with the same email.
I have two users with the same email.
How do I solve that problem?
AWS AMPLIFY AND COGNITO
...............................
1. AWS COGNITO
2. USERS POOL
..............................
USER 1: ID: 25dec813-1a05-44f5-8

[2020-07-09 22:21] sammartinez commented on #4681
We do have [amazon-cognito-identity-js](https://github.com/aws-amplify/amplify-js/tree/main/packages/amazon-cognito-identity-js) within our packages ? Which package are you using?

[2020-07-09 22:29] sammartinez commented on #5320
@elchinillo were you able to test the latest? Please let us know.

[2020-07-09 22:42] brene commented on #6281
cc @sammartinez

[2020-07-09 22:43] sammartinez commented on #5246
Resolving issue

[2020-07-09 22:43] #5246 closed

[2020-07-09 22:43] chai86 commented on #5738
@ericclemmons I can't risk doing a pull or upgrading my aws-amplify version in its entirety, because I always find the robustness of my amplify project in a state of limbo, and right now it's running A ok!

Which files/areas of code do i need to update to resolve this timestamp reference?

[2020-07-09 22:45] sammartinez commented on #5602
@emmafass Are you still looking for support on this use case? Please let us know on the status of the application if this is something you are still looking for

[2020-07-09 22:52] sammartinez commented on #4516
@marcpaskell Are you still experiencing this issue? Please let us know

[2020-07-09 22:59] sammartinez commented on #4446
@ralowe Apologizes, are you still looking for support on this use case? If so, can you let know how your configuration is setup for your Lambda triggers for that custom challenge. Please let us know.

[2020-07-09 23:12] Mersmith commented on #5104
The same thing happens to me too.

When I log in normally without Facebook it creates an id. But when I log in with facebook it creates another user id.

It is rare because I am the same user with the same email but with different id.

And when I make a call from all the users, they both leave with the same emails.

That happens to me when I log in with Facebook and Google.

It would be nice if a

[2020-07-09 23:18] sammartinez commented on #6281
@Mersmith can you provide us with your environment information so we can dig into this further?

Please run the following command:
[code]

This will help us further assist you on this.

[2020-07-09 23:32] elorzafe commented on #6274
@abudakhmad

[code]

For some reason the promise ` Auth.signOut({ global: true })` is resolved before the logout request is sent from the browser. I am looking at right now, `window.location.href="/"` is cancelling the request.

[2020-07-09 23:34] Mersmith commented on #6281
System:
    OS: Windows 10 10.0.18362
    CPU: (8) x64 Intel(R) Core(TM) i7-3770 CPU @ 3.40GHz
    Memory: 3.60 GB / 7.90 GB
  Binaries:
    Node: 12.7.0 - C:\Program Files\nodejs\node.EXE
    npm: 6.10.0 - C:\Program Files\nodejs\npm.CMD
  Browsers:
    Edge: 44.18362.449.0
    Internet Explorer: 11.0.18362.1
  npmPackages:
    @testing-library/jest-dom: ^4.2.4 => 4.2.4
    @testing-library/react

[2020-07-09 23:36] emmafass commented on #5602
@sammartinez thanks for reaching out. I believe the solution to [#3157](https://github.com/aws-amplify/amplify-js/issues/3157) fixes my problem.

[2020-07-09 23:37] #5602 closed

[2020-07-09 23:37] Mersmith commented on #6281
@sammartinez When I log in normally without Facebook it creates an id. But when I log in with facebook it creates another user id.

It is rare because I am the same user with the same email but with different id.

And when I make a call from all the users, they both leave with the same emails.

That happens to me when I log in with Facebook and Google.

It would be nice if a single user manages ma

[2020-07-09 23:57] elorzafe commented on #6274
@abudakhmad

Why do you need to do `window.location.href = "/"`, even if OAuth flow has sign out url?

[2020-07-10 00:20] iartemiev commented on #6260
Hi, @sacrampton your proposed solution is on our road map for DataStore. We'll keep this issue updated as we make progress on it.

[2020-07-10 00:35] #5858 closed

[2020-07-10 00:44] invzdev commented on #6181
An agent from AWS Premium Support suggested that I could try forcing a credential refresh by following this process:

-	Get the current CognitoUser [1] from ‘Auth.currentAuthenticatedUser()’;
-	Get its current session with ‘cognitoUser.signInUserSession’;
-	Refresh its session with ‘cognitoUser.refreshSession()’ with the current session’s refresh token [2];
-	Run the API call.

I added a refreshSe

[2020-07-10 00:46] Jay2113 commented on #468
Feature request:
The objective is to customize the validation error messages in Cognito. I have built a custom UI and I am using an Amplify UI component which uses the Amplify auth category to display the message. Following the above described request, it looks like the mapping of an error code to their custom message does exist in the Amplify Auth category. However, at this point in time the mapp

[2020-07-10 00:52] invzdev commented on #6181
How can I force Amplify's `Auth` object to make an API call to `AWSCognitoIdentityService.GetCredentialsForIdentity` and update it's internal values? That seems like it'd address the problem.

[2020-07-10 01:01] sacrampton commented on #6260
Hi @iartemiev  - thanks for getting back to me. It looks like I need to stand down any move to DataStore for the foreseeable future. This is obviously a big step for us to remove DataStore from our planning, and one that I'm reluctant to take so I'm going to ask for an explicit confirmation before I take that drastic step.

As it stands today, if your schema.graphql has more than 33 @models (table

[2020-07-10 01:23] invzdev commented on #6181
As for getting to a root cause here:

In cases when Amplify refreshes tokens on its own successfully, it does this without a 403 ever happening. I'm guessing it checks if the accessKey/secretKey/sessionToken credentials expiration time is before the current time somwhere? The issue here seems to be that's not triggering for some reason.

Out of desperation, I'm adding the following lines at the en

[2020-07-10 01:31] imoby commented on #6077
Sorry to bring this thread up again but you're saying in an actual production app this error or any error at all wont happen? and this only shows locally? @amhinson

[2020-07-10 02:13] BDNilsson opened #6283 "TOTP Setup doesn't work if Cognito Pool has remember devices"
**Describe the bug**
If a cognito pool has settings to remember a device (opt-in or always) the login fails when setting up MFA.

**To Reproduce**
Steps to reproduce the behavior:
1. Create cognito pool with MFA required, and devices remembered
2. Use a user created by an admin without a phone number to enforce MFA SETUP
3. Login as the new user, scan the qr code and enter the code.
4. You will ge

[2020-07-10 02:16] vincent-cy commented on #6177
I have same question.

[2020-07-10 02:18] vincent-cy commented on #6177
node_modules/@aws-amplify/pushnotification/android/src/main/java/com/amazonaws/amplify/pushnotification/RNPushNotificationMessagingService.java:28: error: cannot find symbol
import android.support.v4.app.NotificationCompat;
                             ^
  symbol:   class NotificationCompat
  location: package android.support.v4.app

[2020-07-10 03:39] nihp commented on #5934
Which PR?

[2020-07-10 04:55] frankclaassen commented on #6108
Any ETA on when DataStore will work correctly with @auth directives as this currently doesn't work and security is an integral part of any application

[2020-07-10 06:38] sakhmedbayev commented on #1437
Is there any workaround? How to accomplish it using fetch or axios?

[2020-07-10 07:09] nubpro commented on #6277
Oppsie, I made some error when hardcoding the values, my bad.

Though, this issue still persists but not because of unparsed JSON objects. Sorry :/

[2020-07-10 07:09] #6277 closed

[2020-07-10 07:32] ralowe commented on #4446
@sammartinez yes we have created a workaround but if we could get this working it would reduce our complexity.

We configured the following lambda in python to respond to `create_auth_challenge`,`define_auth_challenge`,`verify_auth_challenge_response`

[code]

[2020-07-10 08:20] kleky commented on #4681
amazon-cognito-identity-js is the only library I'm using to use cognito on the front end. I looked at swapping it to use Amplify, but it simply would not build at all.

[2020-07-10 08:59] kayuapi opened #6285 "Any chance to bump the graphql version to 14.6 and above?"
Hi, I am using amplify-js only to find out that @aws-amplify/api-graphql uses graphql version 14.0.0, is it possible to update it to 14.6 and above?

[2020-07-10 11:49] nubpro commented on #6278
@manueliglesias Would you please take a look at this, since you're pretty familiar with the architecture.

Thanks!

[2020-07-10 13:01] nihp opened #6286 "Code not received while signUp and confirmSignIn the app using aws-amplify-react-native (now it works fine before)"
Code not received while signUp the app using aws-amplify-react-native.

If I click the resend code it will shows **code resent successfully** message. But still not received the code. Same issue happens for confirmSignIn.

Note: Still yesterday it works today onwards not working.

I am using **aws-amplify** and **aws-amplify-react-native**

[2020-07-10 14:24] spina-a-d commented on #4943
Also have a use-case.  Following.

[2020-07-10 14:32] jimgroome commented on #1582
Hi,

We've got a need for this too. I've written a function to reset a user's MFA settings (for when they've lost their device, etc). It's only available to my app's admin users, but ideally we'd like the admin to confirm their admin password before the request is made.

[2020-07-10 15:19] Larsrdev opened #6287 "Sign In With Apple via IdentityPool configuration - NotAuthorizedException: Invalid login token. Incorrect token audience."
**Describe the bug**
We managed to implement Sign In With Apple in our iOS mobile application. There is still a bug with that the user is only logged in during the 10 min, until the JWT is expired:
https://github.com/aws-amplify/aws-sdk-ios/issues/2513
https://github.com/aws-amplify/aws-sdk-ios/issues/1809

Despite of this we started to add the "Sign In With Apple" for our web application. Accordi

[2020-07-10 15:26] vincent-cy commented on #6177
i solved

[2020-07-10 15:31] sammartinez commented on #4681
Understood @kleky but you mentioned that the package is archived, which it is not and is existing within our monorepo. Is this the package you are using or something else?

[2020-07-10 15:33] sammartinez commented on #6139
@mchilds04 The fix should now be in `unstable`, can you test the `unstable` version and validate it resolves your issue? Thanks ahead of time.

[2020-07-10 15:46] amhinson commented on #6077
Correct, in a production app the red error showing from React Native won't show. They will only show in a development build.

You can test this out by running a [production build locally](https://reactnative.dev/docs/running-on-device#building-your-app-for-production).

[2020-07-10 15:51] assemblethis commented on #4927
Same here. 'Property 'challengeName' does not exist on type 'CognitoUser'.Vetur(2339)
The types need to be fixed.

[2020-07-10 16:22] kleky commented on #4681
Hi, i think i took [this repo](https://github.com/amazon-archives/amazon-cognito-identity-js) to be the one pulled as `npm i amazon-cognito-identity-js` but looks like i was wrong - it actually pulls the package in the Amplify repo. My apologies.

[2020-07-10 16:37] naticaceres commented on #3635
Thank you so much @jeffsheets that is exactly what I was looking for.

I am going to give it a shot, have you found anything else of use when trying to go around amplify for an authentication workflow with Cognito?

[2020-07-10 17:30] ChrisSargent commented on #6239
I am using the following in a React project:

[code]

I also get the following error (amongst others from other imports):
[code]
Note that both the `ui-react` and `ui-angular` use the `@aws-amplify/ui-components`.

`@aws-amplify/ui-components` tries to import `@aws-amplify/storage` but it is not included in it's dependencies, which are:

[code]

So it seems like `ui-components` is just missing tha

[2020-07-10 17:57] mauerbac commented on #6286
hey @nihp - I mentioned in previous issues that we need more information to reproduce the bug you are experiencing. The template should have more info on this.

I think it would be easiest if we hopped on a call to help sort some of these issues. Are you able to join our [Discord](www.discord.gg/amplify) and send me a DM? My username is mauerbac on there and we can setup time.

[2020-07-10 19:32] amhinson commented on #6106
Hey @GrahamFord I just wanted to follow up and see if you're still experiencing this issue with the latest version on `aws-amplify`

[2020-07-10 20:18] jeffsheets commented on #3635
@naticaceres I never did find anymore info on that API. For various reasons we ended up making our own serverside auth service and calling Cognito via the node js `AWS.CognitoIdentityServiceProvider` API https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/CognitoIdentityServiceProvider.html

[2020-07-10 20:36] stephendmalloy opened #6289 "In Pinpoint, I can't associate a user with multiple endpoints"
I want to be able to create **multiple endpoints for a single user**. For example, I want the ability to be able to send a specific user emails as well as text messages and it doesn't appear that I'm able to do this. I'm only able to associate a user with a ONE channel type using the Analytics.updateEndpoint method.

If I associate the user with a different channel type they are no longer associat

[2020-07-10 20:47] ashika01 commented on #6104
Hello everyone,

We have launched Phase 1 of Storage components 🚀🚀  As mentioned in the RFC, we have introduced the following components that has the functional parity with existing ones as part of Phase 1.

- `amplify-s3-image`
- `amplify-s3-image-picker`
- `amplify-s3-text`
- `amplify-s3-text-picker`
- `amplify-s3-album`

These new components should enable better customizability and flexibility

[2020-07-10 20:51] ashika01 commented on #6174
Hi, we launched the new components. The use case you are trying to achieve is `s3-image-picker`. Feel free to open up issues or FR as you seem fit. We welcome all feedback.

https://github.com/aws-amplify/amplify-js/issues/6104#issuecomment-656882695

[2020-07-10 20:57] ashika01 commented on #4959
@dmoskovtsov We are moving to new UI component implementation for storage. I am closing this issue, since the existing components will be going into maintenance and we are actively developing in the new implementation.

Read more - https://github.com/aws-amplify/amplify-js/issues/6104#issuecomment-656882695

@ahansson89 We are working on implementing the two for new components. I would keep an eye

[2020-07-10 20:57] #4959 closed

[2020-07-10 21:37] mikalai-okun opened #6291 "Cognito Hosted UI showing Invalid state error"
**Describe the bug**
We are using cognito hosted UI and Amplify Federated login to sign-up or sign-in our users with Intuit OpenID. It actually works great for users who already have a valid session in Intuit, cognito able to find or create a user, the issue arise when we don't have a session of Identity provider and user presented with login screen, after successful authorization cognito actually

[2020-07-10 21:47] mikalai-okun commented on #6291
@sammartinez no specific reason, we will try to upgrade and check if this fixed a problem. Thank you.

[2020-07-10 21:48] sammartinez commented on #6291
@mikalai-okun Sounds good, let us know !

[2020-07-10 22:04] mikalai-okun commented on #6291
@sammartinez after update to:
[code]
I started to get error about invalid scope. I'm setting it in config like: `openid,phone,email,profile`
![Invalid Scope](https://i.ibb.co/58mcz5C/Screen-Shot-2020-07-10-at-4-02-55-PM.png)

[2020-07-10 22:22] amhinson commented on #6291
@mikalai-okun Could you also post a code snippet of your `Auth.federatedSignIn()` usage?

[2020-07-10 22:28] mikalai-okun commented on #6291
@amhinson sure, here it is:
[code]

[2020-07-10 22:44] amhinson commented on #6291
I'm going to work on replicating this, but I have a couple of observations/questions/comments:

---

Can you confirm that you have the OIDC Identity provider enabled in the Cognito User Pool console?

`App Integration > App Client Settings Enabled Identity Providers`
*There might be 2 app clients here, so check that both are selected*

---

The scopes you have in your config are different than wha

[2020-07-10 23:25] amhinson commented on #6181
@invzdev It looks like you're using an older version of Amplify `aws-amplify: ^2.1.1 => 2.3.0`. Could you try with the latest version `aws-amplify@latest`? There have been some improvements made related to the issue you are seeing. Let me know if you're still seeing the errors after upgrading.

[2020-07-11 00:05] elorzafe commented on #3402
@raquila is the first time that user is login with the hosted UI? The first time is signing up and signing in.

Basically you can enable Hosted UI for 3rd party providers but not signup

[2020-07-11 01:11] alexandprivate opened #6295 "User Pools create via Amplify has Case Insentive Issues"
**Describe the bug**
User Pool created via Amplify add auth has by default "Enable case insensitivity for username input" unmarked and disabled

**To Reproduce**
Steps to reproduce the behavior:

1. Run 'amplify add auth'
2. 'use default options'
3. Run 'amplify push'
4. Check you new User Pool with "Enable case insensitivity for username input" unmarked and disabled

**Expected behavior**
Since F

[2020-07-11 01:21] #4911 closed

[2020-07-11 01:21] #5914 closed

[2020-07-11 01:21] #5971 closed

[2020-07-11 01:21] #5889 closed

[2020-07-11 01:21] #6192 closed

[2020-07-11 01:45] githubflub commented on #3653
Another possible cause of this issue, especially when you've done everything else right, is having multiple versions of @aws-amplify/core in node_modules. So, you think you set everything up perfectly, but then internally the code uses a different version of Amplify that didn't get set up, and you get a seemingly unexplainable error.

You can try to fix this by deleting package-lock.json and node_

[2020-07-11 01:53] invzdev commented on #6181
It looks like `2.3.0` is the latest on the 2.x release line. I'm very reluctant to move onto the 3.x releases for two reasons:

1. There are backwards incompatible changes that currently have no migration plan defined. We use credentials to create AWS SDK client instances and the README currently says `Migration plan on “How to migrate to using Amplify provided credentials” will follow in the comi

[2020-07-11 02:57] brandon-twitty commented on #2012
This is ridiculous, every single Amplify product I have tried has been a pain in the a** what a joke costs me so much time. Im about to give up on Amplify all together. Its always something takes me days to figure out out. I could have just built my own login at this point.....

[2020-07-11 05:04] kimfucious commented on #469
Hi, @nihp

I'd recommend doing a [global signOut](https://docs.amplify.aws/lib/auth/emailpassword/q/platform/js#global-sign-out) and redirecting the user to a page that public, if you're using protected routes.

Also, do note the "Note" in the link I cited, as it says:

[2020-07-11 05:13] nihp commented on #6286
I think the code received issue is with limit exceeds. Can you let me know any doc related how can i check the SMS limits?

Why the amplify always shows code sent successfully message.

Thanks @mauerbac. Will let you know.

[2020-07-11 06:21] #5969 closed

[2020-07-11 08:04] githubflub commented on #2610
I "fixed" this by changing the following code in MqttOverWSProvider from

[code]
to
[code]

This causes the following try block to fail during the subscribe step, not the connect step.

[code]
The big difference is that `client` becomes defined before the fail occurs, which allows all the unsubscribe code directly below to run.
[code]
When this code is NOT allowed to run, MqttOverWSProvider will r

[2020-07-11 08:51] AdbC2011 opened #6296 "CORS Header error only when Published and only on Safari"
**Describe the bug**
I have a React app accessing a lambda function and the react app is hosted on amplify. When the react app is run on my local machine it passes the Cors checks and everything is fine; however once it is hosted on amplify the Cors headers check fails. The code just uses fetch on the api. Everything works on Chrome, but not Safari.

**Screenshots**
Here is the console log on Safa

[2020-07-11 08:51] #6296 closed

[2020-07-11 08:54] AdbC2011 commented on #6296
accidental, this could well be Safari complaining about Access Headers set to *

[2020-07-11 10:29] energyaustralia-coding-test commented on #2951
After spending much time and using both Authenticator component and withAuthenticator HOC I have finally found something that worked, hopefully this will help others , source code below.My requirement was only to change the button and link texts and also to have a custom signup config

const AmplifyCustomTheme = Object.assign({}, AmplifyTheme, {
  button: {
    ...AmplifyTheme.button,
    backgrou

[2020-07-11 10:29] iaarnio opened #6297 "Import/require path for custom lambda layer function is wrong"
**Describe the bug**

Amplify CLI creates directories `opt/` and `lib/`.  The first one is for functions that you want to share with other lambdas.  However, if you create custom function e.g. `opt/param.js` you need to require/import it in lambdas using path `/opt/opt/param`. This does not feel 'right' and is confusing for users.

**To Reproduce**
Steps to reproduce the behavior:

1. Initialize A

[2020-07-11 10:30] imehra07 commented on #2951
After spending much time and using both Authenticator component and withAuthenticator HOC I have finally found something that worked, hopefully this will help others , source code below.My requirement was only to change the button and link texts and also to have a custom signup config

const AmplifyCustomTheme = Object.assign({}, AmplifyTheme, {
  button: {
    ...AmplifyTheme.button,
    backgrou

[2020-07-11 11:44] nihp commented on #469
@kimfucious Thanks for your reply.  I have done global signout as you mentioned. But still i needs to reload the app to go for login screen.

1. Can I able to get any not authenticated message or user is disabled immediately?
2. Can I able to make the global signOut immediately if the user is disabled in cognito.

I am using mobile app. Here the user may be in any of the screen.

Admin will disabl

[2020-07-11 17:53] jonsmirl opened #6300 "How to implement "Delete Facebook!""
For various reasons some of our users want to delete their Facebook accounts.  Our app has nothing to do with Facebook, except for "Login with Facebook". And that's a problem since when these users delete their Facebook accounts they also lose the ability to login into our app.  I'm exploring solutions to address this without needing manual intervention to restore account access.

The fundamental

[2020-07-11 19:10] kimfucious commented on #469
Hi @nihp ,

I don't quite follow exactly what you're saying, but I have a feeling that you want the user to be re-directed to the login page automatically upon signOut.

It's important to note that signing out does not tell your app what to do, if simply defines what your app has access to (e.g. back-end resources).

That said, you app will not go to the login page by itself upon signOut.  You nee

[2020-07-11 19:24] javier-garderes commented on #867
Created [PR 6301](https://github.com/aws-amplify/amplify-js/pull/6301) to add I18n support for the Sign In errors. Hopefully it'll pass inspection/testing and get merged soon.

[2020-07-11 20:57] mchilds04 commented on #6139
Sorry @sammartinez I'm a little new to this is `unstable` a branch, a tag, or something else?

[2020-07-11 21:45] antantonton opened #6302 "S3 access denied when adding storage to existing project"
**Describe the bug**
When adding storage to an existing project with Auth and API enabled, any Storage.get, Storaget.put and Storage.list operation returns with error 403 (forbidden), see screenshot below.

**To Reproduce**
1. Existing project with Auth and API added
2. amplify add storage
3. amplify push
4. In main.ts, run Amplify.configure() with the aws-exports.js input given below
5. Run code

[2020-07-12 05:32] charleslouis commented on #5036
Same error here with Cognito on react.
`28:51.650 OAuth - Error handling auth response. Error: invalid_scope`

I did not have it with my previous Cognito config.
Front end hasn't changed same but I add to reinstall my backend stack a week ago (in case this info helps).

[2020-07-12 06:24] Badal1234 opened #6303 "Unappropriate behaviour during Authentication"
**Describe the bug**
I have Signed up using email and password , got security code to verify my email.when I have entered my code It shows 'Not Authenticate' error on my application but email was got verified in aws console.

When I tried to login with that email and password It shows
Object {
  "code": "UserNotFoundException",
  "message": "User does not exist.",
  "name": "UserNotFoundException"

[2020-07-12 07:01] norrischebl commented on #5544
I am still experiencing this same issue. Has this been fixed in the newest version of amplify?

[2020-07-12 07:04] mynameisguy commented on #5646
it's stale because I'm waiting for a response...

[2020-07-12 09:37] cedricgrothues commented on #6139
@mchilds04 – `unstable` refers to the package version. You can add it to your project using either `yarn add aws-amplify-react-native@unstable` or `npm i aws-amplify-react-native@unstable`.

[2020-07-12 11:42] antantonton commented on #6302
Small update.

After banging my head at this for a couple of more hours, I finally found what seems to be the cause of my authentication problems. I had removed auth from the project and added it again to change from username to email login. During this procedure the authRole and unAuthRole **did not update the trusted relationship to reference the new identity-pool name**.
I updated these manuall

[2020-07-12 15:01] maximelebastard opened #6304 "PubSub documented configuration doesn't work"
**Describe the bug**
I want to add PubSub to my Amplify app, for authenticated users. I followed exactly the procedure described here:
https://docs.amplify.aws/lib/pubsub/getting-started/q/platform/js

- I created an IoT Policy
[code]
- I attached this policy to my Cognito Identity
[code]
- I also attached the policies `AWSIoTDataAccess` and `AWSIoTConfigAccess` to my authRole and unauthRole from

[2020-07-12 15:14] mchilds04 commented on #6139
@cedricgrothues @sammartinez thanks for all of the help. I just tested the fix and everything works as expected.

[2020-07-12 16:16] XC3S commented on #4810
After I ran into the same problem, I would like to point out that just the `owner `field is missing in the schema.

[2020-07-12 16:35] dabit3 opened #6305 "Updates to "Local Development" guides"
It would be nice to update the "local development" guides to:

1. Show updated references to UI libraries - aws-amplify-react -> @aws-amplify/ui-react
2. Be more user friendly and descriptive

https://github.com/aws-amplify/amplify-js/wiki/Local-Development

[2020-07-12 17:06] ViduraPrasangana commented on #2560
This will be helpful for anyone willing to refresh Id Token.
` Auth.currentSession()
          .then((session) => {
            var idTokenExpire = session.getIdToken().getExpiration();
            var refreshToken = session.getRefreshToken();
            var currentTimeSeconds = Math.round(+new Date() / 1000);

            if (idTokenExpire < currentTimeSeconds) {
              Auth.currentAuthen

[2020-07-12 17:09] ViduraPrasangana commented on #2560
`Auth.currentSession()
 .then((session) => {
            var idTokenExpire = session.getIdToken().getExpiration();
            var refreshToken = session.getRefreshToken();
            var currentTimeSeconds = Math.round(+new Date() / 1000)
            if (idTokenExpire < currentTimeSeconds) {
              Auth.currentAuthenticatedUser()
                .then((res) => {
                  res.refr

[2020-07-12 17:11] ViduraPrasangana commented on #2560
This will be helpful for anyone willing to refresh Id Token.

     Auth.currentSession().then((session) => {
            var idTokenExpire = session.getIdToken().getExpiration();
            var refreshToken = session.getRefreshToken();
            var currentTimeSeconds = Math.round(+new Date() / 1000)
            if (idTokenExpire < currentTimeSeconds) {
              Auth.currentAuthenticatedUs

[2020-07-12 17:16] ViduraPrasangana commented on #2560
This will be helpful for anyone willing to refresh Id Token
Axios.interceptors.request.use(function (config) {
return new Promise((resolve, reject) => {
Auth.currentSession()
.then((session) => {
var idTokenExpire = session.getIdToken().getExpiration();
var refreshToken = session.getRefreshToken();
var currentTimeSeconds = Math.round(+new Date() / 1000);
if (idTokenExpire < currentTimeSeconds) {
A

[2020-07-12 17:17] ViduraPrasangana commented on #2560
` Axios.interceptors.request.use(function (config) {
      return new Promise((resolve, reject) => {
        Auth.currentSession()`

[2020-07-12 17:22] ViduraPrasangana commented on #2560
This will be helpful for anyone willing to refresh Id Token

      Axios.interceptors.request.use(function (config) {
       return new Promise((resolve, reject) => {
        Auth.currentSession()
          .then((session) => {
            var idTokenExpire = session.getIdToken().getExpiration();
            var refreshToken = session.getRefreshToken();
            var currentTimeSeconds = Math.ro

[2020-07-12 21:05] #4972 closed

[2020-07-12 21:51] mikalai-okun commented on #6291
@amhinson sure, please see the screenshot
![Intuit Provider](https://i.ibb.co/LrRV8L6/Screen-Shot-2020-07-12-at-3-48-19-PM.png)

[2020-07-12 22:05] yourGuy opened #6307 "Save user in status FORCE_CHANGE_PASSWORD"
**Is your feature request related to a problem? Please describe.**
I need a user object for calling changePassword/completeNewPassword when user in status FORCE_CHANGE_PASSWORD

**Describe the solution you'd like**
Save user in status FORCE_CHANGE_PASSWORD to be available in via currentAuthenticatedUser

**Describe alternatives you've considered**
I looked at issue #24 and IMHO it's solution is in

[2020-07-12 22:05] leopsidom commented on #2365
Still having this problem with `"aws-amplify": "^3.0.13"`

[2020-07-13 00:26] a5an0 commented on #6108
Seems like requiring the owner field in the subscription would break a LOT of really common usecases. For example, if I want to have a chat app, and the `Message` type has `owner - create` authz, then how do I have other users get subscriptions to when new messages are posted?

[2020-07-13 03:46] the-smart-home-maker commented on #5118
I have the same problem described here - I am using React Native and when wrapping my App with Authenticator, after successful login, I will receive a blank white screen. In the background, my components that should be called as soon as the user got authenticated, get called and all background tasks are performed as desired. So it's just about the UI not showing up. I tested this with different co

[2020-07-13 06:29] deeprao2811 opened #6308 "Amplify setup with ALB OIDC authentication in React app"
I have a use case where there is a Identity provider configured in Cognito which has its own 3rd party SSO. The ALB uses the OIDC authenticate rule which then redirects to a React app hosted on port 80. I am unable to find enough documentation on how this particular setup can be supported by Amplify library and what configuration needs to be used. To test I have created a simple Cognito user pool

[2020-07-13 07:18] nihp commented on #469
@Kim ford

My question is after disabling the user, I need to get any response from
amplify.

Then only I can immediately make the user to logout the app. Else he can
able to access the app up to 1 hour.

So I need any error response immediately after disabling the user.

On Sun, Jul 12, 2020 at 12:41 AM Kim Ford <notifications@github.com> wrote:

[2020-07-13 09:19] zhenyakovalyov commented on #5119
are there any updates on this please?

[2020-07-13 09:38] Ivelraj1997 commented on #6201
@Amplifiyer   this flag 'cognitoHostedUI' didn't work and some time it is listener work.

[2020-07-13 09:51] mlecoq commented on #4810
@XC3S FYI I have made a feature request here : https://github.com/aws-amplify/amplify-cli/issues/3325

[2020-07-13 10:24] abudakhmad commented on #6274
We need it in order to redirect user to the main page. So if I understand right, we need to wait until there will be fix from the Amplify side?

[2020-07-13 10:38] gustoss opened #6309 "Upload erro to S3 only in multipart"
**Describe the bug**
Can't upload 'application/pdf' only in multipart upload, but this only happen in Chrome - MAC - WIFI and Hosted Angular APP.

**To Reproduce**
Steps to reproduce the behavior:

1. Open hosted Angular app
2. Load PDF file with input[type=file]
3. Try to upload file >5Mb (multipart upload)

**Code Snippet**
[code]
**Screenshots**
![error1](https://user-images.githubusercontent.c

[2020-07-13 11:48] dylan-westbury commented on #2965
In react native I am able to upload videos like so, as mentioned in the documentation. However the app freeze for a moment and the upload is quite slow.

Has anyone implemented a faster way to upload larger files, like videos?

[code]

[2020-07-13 12:07] rudyhadoux commented on #6202
Hi, the problem is @aws-sdk use in Amplify libraries. @aws-sdk uses CommonJS.

It is recommended that you avoid depending on CommonJS modules in your Angular applications. Depending on CommonJS modules can prevent bundlers and minifiers from optimizing your application, which results in larger bundle sizes. **Instead, it is recommended that you use ECMAScript modules in your entire application**.

[2020-07-13 13:29] neoPix commented on #4117
The short answer to this question is no. They're no easy way around.
One solution would have been to manage this manually using directly AWS AppSync and Lambda doing your own implementation.
I finally used a more classical and implementation limit free approach with Apollo.

[2020-07-13 13:55] GrahamFord commented on #6106
@amhinson I was getting this problem with 3.2.13 of Auth. Has your fix made it into an official release? (I'm eager to test it out if it has).

[2020-07-13 15:32] amhinson commented on #6106
@GrahamFord It's not released, but it is in`unstable` now. Would you be able to test with that?

[2020-07-13 15:48] GrahamFord commented on #6106
Yes, I'll give it a whirl

[2020-07-13 16:18] amhinson commented on #6295
Transferring to CLI

[2020-07-13 16:21] amhinson commented on #6297
Transferring to CLI

[2020-07-13 17:08] GrahamFord commented on #6106
Seems to be working perfectly now. Thanks @amhinson 👍

[2020-07-13 17:08] #6106 closed

[2020-07-13 17:10] amhinson commented on #6106
Great! It will be in the next release that goes out, most likely later this week 👍

[2020-07-13 17:17] sammartinez commented on #6181
@invzdev Thanks for the feedback, I agree that we do need to provide a migration plan I will double check on where its at and get it out to everyone as soon as its ready. As for your second callout, we, AWS Amplify, do have an agreement that the use cases the AWS SDK JavaScript team has provided to us are production ready for version 3 of AWS Amplify. As for the reproduction, this may be related t

[2020-07-13 17:20] SamMade commented on #3435
this process seems to work for me. I can confirm that:

1) Logging out using aws's hosted logout url <https://XXXXXX.auth.us-east-1.amazoncognito.com/logout?client_id=xxxxxxabcxxxxxxc&logout_uri=> revokes the access token (this does not revoke the refresh token)
2) To revoke the refresh token, the only option as of now is globalsignout (unfortunately, this revokes all refresh tokens for that user)

[2020-07-13 17:26] jordanranz commented on #6168
Worked with @KevyVo offline. The latest release fixes this issue. Closing this issue now. Please open a new issue if you are experiencing any similar problems

[2020-07-13 17:26] #6168 closed

[2020-07-13 17:27] #6097 closed

[2020-07-13 17:27] jordanranz commented on #6097
The fix has been published to `@latest`. Closing this issue now.

[2020-07-13 17:28] jordanranz commented on #6224
This fix is now in `@latest`. Please open a new issue if you experience any similar issues.

[2020-07-13 17:28] #6224 closed

[2020-07-13 18:27] jordanranz commented on #6189
You are now able to pass the `dialCode` in via formFields. Closing this FR now. Please open a new issue if there are any related questions or concerns.

[2020-07-13 18:27] #6189 closed

[2020-07-13 18:43] the-smart-home-maker commented on #5118
For my part, I got this issue resolved. The problem (at least in my case) was that the TabNavigator does not work with align values in stylesheets set. So I had to change the stylesheet value for the AWS Amplify container from
`container: {
            ...
    		alignItems: 'center',
    		justifyContent: 'space-around',
            ...
    	},`

to the default values

`container: {
            ..

[2020-07-13 18:55] gsans commented on #6202
Remove warnings adding this code

https://gist.github.com/gsans/8982c126c4fef668c094ff288f04241b

[2020-07-13 20:48] GordonSo commented on #5988
Ran into the same problem today with npm install, and decided to switch from `npm install` to `yarn add` for my entire project to get it working. It would be nice to fix npm dependencies or update readme so people are not following non-working steps.

[2020-07-13 21:08] #5788 closed

[2020-07-13 21:44] kimfucious opened #6314 "Can you make it so that we can use API Gateway usage plans please?"
**Is your feature request related to a problem? Please describe.**
I'm currently frustrated trying to get Amplify generated REST APIs to work with an API usage plan when called via Amplify, using `API.get`, `API.post`, etc. from the `aws-amplify` (js) library.

I wrote a question [here](https://github.com/aws-amplify/amplify-js/discussions/6275), but got no response, so I'm putting it here as a fe

[2020-07-13 22:03] rudyhadoux commented on #6202
Thanks.

[2020-07-13 23:14] ErikHDev commented on #6202
Thanks @gsans, yeah, that worked for me 2. I didn't realize at first I needed to add the values to the right of the depends, not the left.

Too bad AWS uses CommonJS. My bundle size is already huge :(

[2020-07-13 23:28] amhinson commented on #6302
@antantonton Glad you were able to figure it out!

The latest issue you presented is more related to [Amplify CLI](https://github.com/aws-amplify/amplify-cli), so I would recommend creating a new issue in that repo.

[2020-07-13 23:28] #6302 closed

[2020-07-14 00:22] amhinson commented on #6289
@stephendmalloy I'm looking into this now. Would you also be able to share an example of your current usage of `updateEndpoint` just for reference? Based on this code, it doesn't appear that you can set `channelType` to anything other than GCM or APNS:
https://github.com/aws-amplify/amplify-js/blob/3206a4fa05588674261ba6ac415c0315560ae968/packages/analytics/src/Providers/AWSPinpointProvider.ts#L73

[2020-07-14 00:29] amhinson commented on #6303
@Badal1234 Would you be able to provide a minimal reproduction example so we can try to replicate the behavior you are seeing?

[2020-07-14 00:36] ErickWendel opened #6317 "Couldn't deploy custom Lambda Layer from yumda"
**Describe the bug**
I'm trying to install custom layers using [yumda](https://github.com/lambci/yumda). So I've installed the **GraphicsMagick** on /amplify/backend/function/gm/opt. When I deploy I see the "An error occurred hashing directory" error.

**To Reproduce**
Steps to reproduce the behavior:

1. Install the GraphicsMagick package on `/opt` layer

[code]

2. Run`amplify push`
4. See error

[2020-07-14 00:38] dylan-westbury commented on #5057
To add to this, when uploading large videos such as from the camera or photo roll, it can take a very long time to upload them unless adding quite a bit of compression, which is much better done in the background of the app.

[2020-07-14 00:40] amhinson commented on #6308
@deeprao2811 Would you be able to provide more details on your current implementation using `aws-amplify`?

[2020-07-14 00:42] #6317 closed

[2020-07-14 00:48] amhinson commented on #6286
Closing, as this appears to be related to Cognito and not Amplify.

Reference: https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-settings-mfa-sms-text-message.html

[2020-07-14 00:48] #6286 closed

[2020-07-14 02:19] karldanninger opened #6318 "Fails to load in an private/incognito browser session within an iframe"
**Describe the bug**
When an amplify app is embedded via an iframe in a private/incognito browser session, a SecurityError stops the app from running.

**To Reproduce**
Embed an app in an iframe on another website and load it from a private browser session.

**Expected behavior**
The app should load as you would normally expect, regardless if in incognito mode or not.

**Screenshots**
Running the

[2020-07-14 03:42] sergiorodriguez82 opened #6319 "Generated code on multiple auth types not working."
**Describe the bug**
Hi, I'm working on a project (angular 9+) where public and private access is required. I add the cognito user pools configuration and IAM providers as recommended in the docs.
I have the following schema

`type Company
  @model(subscriptions: null)
  @aws_iam
  @aws_cognito_user_pools
  @versioned
  @auth(
    rules: [
      { allow: public, provider: iam, operations: [create,

[2020-07-14 05:58] rudyhadoux commented on #6202
There are even more dependencies.

"options": {
            "allowedCommonJsDependencies": [
              "crypto-js",
              "@aws-sdk/eventstream-marshaller",
              "zen-push",
              "uuid",
              "lodash",
              "ulid",
              "buffer",
              "js-cookie",
              "@aws-crypto",
              "zen-observable",
              "@aws-sdk/u

[2020-07-14 06:38] souravs-2pirad commented on #3943
I am facing the same issue. I have searched a lot , still no solution.

[2020-07-14 08:33] maximelebastard commented on #2739
Hello, I still have this issue.
The IoT Policy is well attached, I tried to put the Resource to `"*"` for the Iot Policy. I also tried to attach the identity_id from the aws-exports.js file. But it still don't work.
I tried to redo the procedure from scratch, it stills don't work.

[2020-07-14 10:34] andrewdavidcostello commented on #2562
@mousedownmike Looks like the password may be the case based on this line https://github.com/aws-amplify/amplify-js/blob/4f752631d427e149df423a681c1d822abead95a1/packages/amplify-ui-components/src/components/amplify-confirm-sign-up/amplify-confirm-sign-up.tsx#L218

[2020-07-14 12:21] mousedownmike commented on #2562
@andrewdavidcostello, thanks, that clarifies that this solution is only going to work for React and apparently relies on the plain text password being persisted locally.  It doesn't look like the Amplify team (@ashika01 ?) plan to reopen this ticket so I think I'm going to open a new one.  I don't use React so this isn't really the solution I was hoping for.

[2020-07-14 12:32] gcqwant commented on #5367
We do have the issues on our end. Some messages do go through but others don't. Does someone experience the same issue?

[2020-07-14 12:45] mousedownmike opened #6320 "Sign In with Auth.confirmSignUp"
**Is your feature request related to a problem? Please describe.**
This feature is related to closed issue #2562, that request was to support signing in a user with the Auth class when a successful `Auth.confirmSignUp` request was made.  The ticket was closed based on a UI implementation that does not solve the issue for users of the Auth class directly.

**Describe the solution you'd like**
The A

[2020-07-14 12:45] mousedownmike commented on #2562
I've opened #6320 with a proposed use case that would resolve this without the need to persist passwords locally.

[2020-07-14 12:56] pjay79 opened #6321 "Customise or hide header response and body response"
**Is your feature request related to a problem? Please describe.**
If a user fails to login because of incorrect user name, I would like to hide the response that says "User does not exist". This will avoid a security issue of user enumeration.

**Describe the solution you'd like**
I want to be able to customise or hide the response headers or body response from the authentication api call.

**Des

[2020-07-14 14:17] amhinson commented on #6319
@sergiorodriguez82 Sorry you're having trouble! In order for us to better assist you, would you be able to share the following information:
- Packages & versions of the Amplify libraries you are using
- `aws-exports` and any manual configuration (remove any sensitive data)
- Which steps did you follow via Amplify CLI when configuring your resources?

[2020-07-14 16:01] sergiorodriguez82 commented on #6319
**versions**
amplify-cli 4.23.0
node_modules
"aws-amplify": "^3.0.13",
"aws-amplify-angular": "^5.0.13",

**aws- exports**
[code]

**steps**
[code]

[2020-07-14 16:20] dbaigel1 commented on #5167
please reopen this issue. Was anyone able to solve it?

[2020-07-14 16:26] vlac666 opened #6322 "Datastore Feedback"
Hi, Following on from #5764 . I would like to add some feedback and suggestions for Datastore.

Before I feedback on Datastore I would like to say that I only started using Appsync because the Amplify documentation says it has great offline integration with Apollo  It is a little frustrating to hear that the strategy has changed but the guidance for offline scenarios has not !!!

### My feedback

[2020-07-14 17:06] shresthapradip opened #6324 "Audiocontext was not allowed to start"
**Motivation**
While trying to use lex, voice conversation doesn't work with warning: audiocontext was not allowed to start.

**To Reproduce**
Steps to reproduce the behavior:

1. Create new Vue app.
2. Setup amplify and lex correctly. Use amplify-chatbot for chatbot ui.
3. Open app on chrome (safari works as expected)
3. Initiate voice conversation. See it keeps showing listening.
4. If you go to

[2020-07-14 18:07] stephendmalloy commented on #6289
Sure thing.

I'm simply doing this, and it's working. I'm able to switch the channels via code and they are reflected correctly in Pinpoint. I just can't associate with multiple channels (e.g. add additional endpoints):

Analytics.updateEndpoint({
address: userData.attributes.email,
                        channelType: 'EMAIL',
                        optOut: 'NONE',
                        userId

[2020-07-14 18:19] ericclemmons commented on #5738
@chai86 The easiest way I can think of to test it out would be to copy/paste your entire project into a new folder, upgrade `aws-amplify` _there_, and testing that build locally. 🙏

[2020-07-14 18:46] xavierraffin commented on #6115
I am working with Liam
You can live test here to see the problem (the field that doen's translate): https://d23vbzcww6xd16.cloudfront.net

[2020-07-14 21:06] Ashish-Nanda commented on #5359
@agentlewis @sichiu

This should work now. We recently merged a PR in the `aws-appsync` SDK: https://github.com/awslabs/aws-mobile-appsync-sdk-js/pull/551
This PR upgrades `redux-offline` and as a result `NetInfo` 5.x can be used. You will also need to use `@react-native-community/async-storage`
Please install `aws-appsync` v4.0.0 and follow the instructions [here](https://github.com/awslabs/aws-m

[2020-07-14 21:08] agentlewis commented on #5359
@Ashish-Nanda great thanks :)

[2020-07-14 21:12] Ashish-Nanda commented on #5359
Will go ahead and close the issue since the fix has been merged and released. Let us know if you have any questions.

[2020-07-14 21:12] #5359 closed

[2020-07-14 21:38] victorS7P commented on #3943
I had this problem because I was trying to recover the session of a user who still did not have a password set (it was created by the admin on the aws console)

My solution:
[code]

[2020-07-14 21:42] souravs-2pirad commented on #1792
Yes, there needs to be a synchronous way to check if a user exists in localstorage.
Waiting for promise to be resolved takes time ===> unwanted.

Any help would be appreciated :)

[2020-07-14 22:10] jordanranz commented on #6320
Hey @mousedownmike,

To clarify on the closing of the other issue, this is now implemented in all framework UI implementations of Authenticator and not just React.

Alternatively, if you would like this functionality using only the Auth category, you would just call Auth.signIn on a successful `Auth.confirmSignUp`. That being said, maybe the functionality could be baked into the `Auth.confirmSignU

[2020-07-14 22:24] chai86 commented on #5738
@ericclemmons Thanks for the suggestion. I am currently using:

[code]
Moving to anything v3.x+ would break a fair bit i would imagine in my current react native project. If i follow your steps to test this out, would i essentially have v1.1.29 as it stands running in one folder and v3.x+ running in another folder on my hard disk? Would the two aws-amplify versions exist independently of each othe

[2020-07-14 22:29] amhinson commented on #6115
@liamaws @xavierraffin When I run the sample app you provided, I am seeing all of the fields specified in `strings.js` change correctly. I only needed to add French translations for the forgot & reset password texts:

[code]

![Kapture 2020-07-14 at 15 20 10](https://user-images.githubusercontent.com/17091790/87482076-894e1580-c5e5-11ea-873e-b391e6240c36.gif)

Are you still having issues?

[2020-07-14 22:49] xavierraffin commented on #6115
checking

[2020-07-14 22:52] ericclemmons commented on #5738
@chai86 Yes, so long as they're in entirely different git repositories & folders (otherwise they may accidentally share a `node_modules` directory!), you'll be good.

Personally, I like to use `/tmp` for exactly this reason.

[2020-07-14 23:07] chai86 commented on #5738
@ericclemmons I'll need some help along the way, so if you're willing to, i'll give it a go.

So i'll need to:
1) Copy my react native project folder to a different location on my machine (mac)
2) Run the react native project
3) Go to the terminal (i'm using the amplify-cli) and type `npm install aws-amplify` to get the latest version?
4) Re-run the project

Am i missing something here completely?

[2020-07-14 23:15] xavierraffin commented on #6115
@amhinson I checked we still have the problem.
I deployed here with only the Amplify translation strings: https://d3khcqcz8fq6p9.cloudfront.net/

(see [my changes](https://github.com/xavierraffin/amplify-identity-broker/commit/b358155a693b8041abc000f0f071dd329bf1cfa3))

Many field are not translating.

My String file is https://github.com/xavierraffin/amplify-identity-broker/blob/master/src/string

[2020-07-14 23:33] mousedownmike commented on #6320
Thank you for the response @jordanranz. I've updated the original post to remove mention of other UI frameworks and focus just on the use of the `Auth` class.

The request is to have the ability to get a signed-in user from `Auth.confirmSignUp` without providing the user's password.  It appears that the React solution (and I presume the Angular solution) relies on having the user's password stored

[2020-07-14 23:55] dbtorrance opened #6327 "Custom auth lambda trigger is not configured for the user pool -> on Sign Up Confirmation"
**Describe the bug**
Using the @aws-amplify/ui-react AmplifyAuthenticator and AmplifySignUp components to generate a custom Sign-Up page works as expected. However, when a user attempts to confirm sign-up by supplying the correct code, we receive the "Custom auth lambda trigger is not configured for the user pool" error, and the Application does not automatically sign-in the user. The user's confi

[2020-07-15 00:02] ericclemmons commented on #5738
@chai86 Pretty much!  Assuming your project is in `~/Project/my-project`:

1. Copy `~/Project/my-project` to `/tmp/my-project`
1. Within `/tmp/my-project`, run `npm install aws-amplify@latest`
1. Re-run the project.

[2020-07-15 00:05] amhinson commented on #6115
Ah ok, I was working with `fizz-demo` instead of `amplify-identity-broker`. I am now able to replicate the issue you're seeing!

If I change the browser default language to French, I am able to see **all** the initial translations showing in French as expected, but toggling the button produces the same behavior as it does when it is in English where only 2 fields are updating.

This makes me think

[2020-07-15 01:52] sergiorodriguez82 commented on #6319
Hi, I'm trying the following with no success...
As my project is an angular project I have created a guard to verify if the user is authenticated or not.
Here is the code that would validate.

[code]

So far the solution only works when I first enter the app with an authenticated user, and then I. try to access the public methods, which is not the case expected. We expect that users register thems

[2020-07-15 02:16] sergiorodriguez82 commented on #6319
Ok, more updates.. sorry for the log issue I'm sure this would help someone else..

I found that for some strange reason the Chrome is saving some session/cookie information, I clear the site data and it now it works...
I'm not sure If I'm missing some good practice in how to handle this.

[2020-07-15 02:47] firrae commented on #5435
This seems promising, and if done AND documented well this could be a great alternative to Auth0. We've been using Cognito at work and while I like the concept the documentation at times has been terrible, though I find that a lot across Amazon development resources, so I hope this won't meet the same blocking points of "this doesn't seem to be documented, and if it is it's not obvious".

I'm happ

[2020-07-15 03:42] #5816 closed

[2020-07-15 03:44] nubpro commented on #6322
Starting from version [2.2.0](https://github.com/aws-amplify/amplify-js/issues/5764), you can now listen to DataStore events through Hub services by performing the following.
Hence, you'll be able to tell what is synced and what isn't yet.
[code]
However, this isn't documented yet. More examples [here](https://github.com/aws-amplify/amplify-js/issues/5991#issuecomment-638278364)

To your first poi

[2020-07-15 04:12] aprilmintacpineda opened #6328 "process.env.API_KEY is undefined"
**Describe the bug**

Following the https://docs.amplify.aws/cli/function#query, it used:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Create a graphql API
2. Add a model with @auth and give it `{ allow: public, provider: apiKey }`
3. Create a function and specify that you want to access API from that function.
4. Console log `process.env` and you'll see that `API_KEY` is not the

[2020-07-15 04:12] aprilmintacpineda commented on #6328
I saw this but unsure if related, since it talked about mock. https://github.com/aws-amplify/amplify-cli/issues/3124

[2020-07-15 04:17] #6274 closed

[2020-07-15 06:06] reggiepangilinan commented on #3399
I'm also experiencing the same issue @anuradhawick. in my react project. For some reason, the call to get `/token` is executed twice. even though I have `Amplify.configure(awsExports);` set up once in the entire app.
I'm using the latest version of amplify
`"aws-amplify": "^3.0.20",`

With a custom auth UI

There's a lot of similar issue floating around
https://github.com/aws-amplify/amplify-js/is

[2020-07-15 06:14] lindachenau opened #6329 "Auth.updateUserAttributes not working"
**Describe the bug**
Auth.updateUserAttributes return Unhandled Rejection (TypeError): user.getSession is not a function

**To Reproduce**
Execute the code snippet with the following packages always produced the same error.

"aws-amplify": "^3.0.13",
"aws-amplify-react": "^4.1.12",
"react": "^16.6.3",

**Code Snippet**
let user = await Auth.currentAuthenticatedUser()
const session = await Auth.use

[2020-07-15 06:30] oenayet commented on #2253
@powerful23  Is there a way to do the same via the C++ Cognito SDK?

[2020-07-15 06:43] reggiepangilinan opened #6330 "Auth.federatedSignIn with Google calling /token endpoint twice"
**Describe the bug**
A clear and concise description of what the bug is.

I have a react app that is using a custom login page. Which calls Google for federated signin.
When I try to login using Google. The behaviour of `Auth.federatedSignIn` is unpredictable.
Sometimes it succeeds sometimes it fails

I checked all of these but it did not fix my issue
https://github.com/aws-amplify/amplify-js/issu

[2020-07-15 07:13] diegovincent commented on #1035
@praveshkhatana do you have any updates?

[2020-07-15 07:13] wlee221 commented on #6324
Hello @shresthapradip, thanks for letting us know! This is currently [being worked on](https://github.com/wlee221/amplify-js/pull/1) along with other bugs we found with the Interactions category. We'll let you know when this makes into the repo. Feel free to reach out if you have any questions :)

[2020-07-15 07:55] aldwyn-acn commented on #4315
I was looking for this same issue, but in React.js, not Nuxt.js. The following has resolved this issue on my end, given that you use hook-based functional components in React with `"aws-amplify": "^3.0.10"` and `"aws-amplify-react": "^4.1.9"`.

**TL;DR**: Load `Amplify.configure` where your app initializes.

[code]

[code]

[2020-07-15 08:40] apoorvmote commented on #5435
I am also building static blog with Nextjs. And I will be adding my own commenting system with dynamodb and graphql. Also will be building my own custom forum with SSR. Unfortunately because of some constraints I have to connect to appsync with rest api + lambda function.
When will amplify start supporting faster and cheaper HTTP API?

[2020-07-15 09:15] lewis-geek opened #6331 "Loading spinner color can't be overridden by changing the CSS variable"
**Describe the bug**
I overrode CSS variable `--amplify-primary-color` value, default is #ff9900, but when amplify-loading-spinner component showing up, I found the color of the loading icon still is the default value which is #ff9900.

The loading icon color value is hardcoding in the codebase, I think we should let this color same with the custom setting, for uniform style.

**To Reproduce**
Ste

[2020-07-15 09:20] nihp commented on #469
@Kim ford

My question is after disabling the user, I need to get any response from
amplify.

Steps:
1. User already signedIn and he is in the app
2. Admin disabled the user
3. Here I need any response shows any error from aws
4. But it not return anything
5. User can able to access the app for 1 hour
6. Here my question is any option to get the user state immediately after disabling the user

The

[2020-07-15 11:04] ChrisSargent commented on #4235
I think I am echoing most of the comments here when I say that, since I am already quite confused with a number of amplify vs appsync vs @aws-amplify vs aws-amplify imports vs AWS CDK etc etc.., I would prefer to use a defacto GraphQL client with an already established community and documentation (such as Apollo Client), and for the AWS team to document how to integrate it with the a GraphQL API b

[2020-07-15 13:35] amhinson commented on #6328
Transferring to CLI

[2020-07-15 15:40] ryanvade commented on #5330
We opened a support ticket because of this issue with AWS over a month ago, they have acknowledged the problem but the solutions they have provided don't solve our multiple subdomains in combination with multiple IAM groups situation.

[2020-07-15 15:41] ryanvade commented on #1545
https://github.com/aws-amplify/amplify-js/issues/5330#issuecomment-658841382

[2020-07-15 16:53] taylorharwin opened #6337 "GraphQL mutation returns null data without error"
**Describe the bug**
I have added a Lambda function to my project that performs a Create mutation. When I perform the same mutation in GraphiQL explorer, I can successfully create Items and return new Item IDs. When I make the request within the Lambda using the same parameters, my mutation resolves with null data. I believe I am using the correct syntax to return fields after the mutation, and I

[2020-07-15 20:10] eripoll opened #6339 "No 'Access-Control-Allow-Origin' header is present on the requested resource.when using Pinpoint with Cognito and User groups"
**Describe the bug**
I have been using Cognito and user groups without any issue for a vue-based fort-end running on Amplify.
I tried adding Pinpoint using the CLI, the push seems to be creating a pinpoint resources and to be updating my Userpool but I get a "No 'Access-Control-Allow-Origin' header is present on the requested resource." when trying to record an event.

**To Reproduce**
Steps to re

[2020-07-15 20:26] JacksonGariety commented on #3399
I upgraded `@aws-amplify/auth` from `3.2.3` to `3.3.1` and now I'm getting this error.

[2020-07-15 20:56] chai86 commented on #5738
@ericclemmons so my React Native project folder looks like the below (i don't have a `Project/my-project` structure:

<img width="546" alt="Screenshot 2020-07-15 at 21 49 05" src="https://user-images.githubusercontent.com/43324724/87594747-57bc7380-c6e5-11ea-9210-b2b1f401ef68.png">

It's path is:` /Users/username/Documents/GitHub/ProjectName` and the contents are as you see in the image

So i'd ha

[2020-07-15 20:59] ericclemmons commented on #5738
@chai86 Yep! You can also right-click `ProjectName` and select `Duplicate` to make it easy.

[2020-07-15 21:07] ericclemmons commented on #5435
@firrae Currently we're focusing on Amplify-specific categories (e.g. `Auth`, `API`, and `DataStore`), which will be actively tested against Next.js.

[2020-07-15 21:33] amhinson commented on #6337
Transferring to CLI

[2020-07-15 22:05] mikalai-okun commented on #6291
UPD: resolved issues with Scopes, but still having the original issue with Invalid state with `"aws-amplify": "^3.0.20"`

[2020-07-16 00:30] vasujogani commented on #5137
Also having same problem with signup not sending codes to certain phones

[2020-07-16 01:31] dingdongping commented on #6304
我也是根据文档包装app组建，登录->然后安你上面的步骤，出现同样的错误

[2020-07-16 01:34] dingdongping commented on #6304
Have you solved this problem？

[2020-07-16 01:34] #6255 closed

[2020-07-16 01:44] dingdongping commented on #6304
config:
      { aws_project_region: 'eu-west-2',
        aws_cognito_identity_pool_id: 'eu-west-2:df297e5f-4a36-4020-909a-8928e9f5be77',
        aws_cognito_region: 'eu-west-2',
        aws_user_pools_id: 'eu-west-2_vMGAhhuq8',
        aws_user_pools_web_client_id: '2rgfsiuam40oa3jo48jsqc658t',
        oauth: {},
        aws_pubsub_region: 'eu-west-2',
        aws_pubsub_endpoint: 'wss://a2c946l7o

[2020-07-16 05:43] pjay79 commented on #6321
So was able fix this via the AWS console by going to Cognito > App Clients. And under "Prevent User Existence Errors", changed **Legacy** to **Enabled**. Something like this should be enabled by default.

[2020-07-16 07:23] gerbyzation commented on #5330
@ryanvade Could you elaborate on the solution they offered?

[2020-07-16 11:47] Jahans3 opened #6341 "Import `AsyncStorage` from `@react-native-community` instead of `react-native`"
Newer React Native versions show a warning about `AsyncStorage` moving to `@react-native-community`:

[code]

[2020-07-16 13:57] wlee221 commented on #6324
Note that you can unblock yourself for now by setting the Chrome flag "Autoplay Policy" to "No user gesture is required", as [explained here](https://developers.google.com/web/updates/2017/09/autoplay-policy-changes). Alternatively you can require a user gesture before loading the chatbot (e.g. adding a button to start the Chatbot instance). We'll keep you updated with the fix 😃

[2020-07-16 14:50] amhinson commented on #6341
@Jahans3 Thanks for opening this feature request! However, we are currently tracking this in #6031, so I'm going to close this one for now. It is currently is the works, but here is a short overview of why we have delayed the move to the RNC version: https://github.com/aws-amplify/amplify-js/pull/4027#issuecomment-628050861

[2020-07-16 14:50] #6341 closed

[2020-07-16 15:09] simmbiote commented on #5582
I ended up removing this package and using a different solution for logging in AWS Cognito users
- Amazon Cognito Auth (https://www.npmjs.com/package/amazon-cognito-auth-js)
It works in IE 11.

[2020-07-16 15:30] LucasAndrad opened #6342 "Password force change allows to use the same password"
**Describe the bug**
When you create a new user on AWS Cognito console, the new account has the status: FORCE_CHANGE_PASSWORD.
So when the user try to login using the new account you need to change the password, but that flow allows the user to use the current password (the one when he was created) so there is actually no changes. I don't thing this should happen because usually those default pass

[2020-07-16 15:42] manueliglesias commented on #6322
Hi @vlac666

Thank you for the feedback and suggestions.

I understand why there coud be confussion regarding the apollo-based sdk and DataStore and the recomendations around the use cases and scenarios. Hopefully this helps:

The apollo solution is no longer the recomended path for offline scenarios, since it is heavily dependant on the internals of the apollo client version 2.x and it doesn't wo

[2020-07-16 16:31] jordanranz commented on #6331
I have add this behavior in #6338 which is now on the `@unstable` version. If possible could you test this version and see if your issue is solved?

[2020-07-16 17:10] lewis-geek commented on #6331
Hi @jordanranz ! It is working fine with @unstable version, Thanks for your help to fix this issue!

Screenshot:
![image](https://user-images.githubusercontent.com/8927407/87701126-020dc700-c7ca-11ea-9fbe-cf511189a77e.png)

[2020-07-16 17:19] jordanranz commented on #6115
Thanks for the the workaround @amhinson.

I was able to reproduce this locally and I believe I found the root cause of the issue we are seeing. It seems `I18n.get` for the strings in question will be translated on mount of the component but when rerendered `I18n.get` is not called again and uses the initial string value.

I may have a fix, I'll ping this issue when I have an update.

[2020-07-16 17:55] zjullion opened #6343 "50 Minute Token Refresh is Not Working"
**Describe the bug**
https://github.com/aws-amplify/amplify-js/pull/4205 is not working - tokens should be automatically refreshed once they have 10 min or less to expire, but this is not happening.

**To Reproduce**
Open an `amplify-js` application (with cognito authentication), wait for 55 min, then call `const session = await Auth.currentSession()` and see that `session.accessToken.payload.exp`

[2020-07-16 18:27] AakashPat commented on #473
I am facing this exact same issue. I have gone through the process of raising a Service Quota Increase request for SNS and getting it raised. I have also changed my spending limit from SNS Console to the granted quota (30$ in my case).

I am able to send SMS messages programatically through the aws-sdk for other communication with the user. But the SMS verification code that gets sent upon registr

[2020-07-16 18:28] ArkamJ commented on #6264
Hi @marianolc. As of now dataStore automatically assigns ids for models. For now these ids cannot be manually assigned/changed. https://github.com/aws-amplify/amplify-cli/issues/3108#issuecomment-592279776 addresses the logic behind this as well as plans to enhance this functionality in the future.

[2020-07-16 18:28] #6264 closed

[2020-07-16 18:55] AakashPat opened #6344 "Auth - SignUp SMS Verification Code not getting sent/delivered."
**Describe the bug**
Upon signing up with a phone number, the Verification SMS with the 6 digit code is never sent to the phone number. After trying to resend the code multiple times, the message is never received.

**To Reproduce**
Steps to reproduce the behavior:

1. SignUp using phone number
2. SMS not received.
3. Resend verification code.
4. No SMS received

**Expected behavior**
A SMS Verifi

[2020-07-16 19:55] harleyguru commented on #612
@asterikx I think it's impossible to do this on FE as the users would get the verification email through email (not in-app).
That's the reason why we should expose the endpoint for verification on server side.

[2020-07-16 21:39] asterikx commented on #612
I have it working now, using only FE. However, as the link in the verification email will open a new tab in the user's default browser (possibly on another device), redirection based on (in-memory) FE state will not work indeed.

[2020-07-16 22:47] eripoll commented on #5119
Any news on the topic?

[2020-07-16 23:06] zjullion commented on #6343
Okay, after making some changes to our application, I am now very certain something is broken with the way `amplify` is refreshing tokens. We run code that looks like this before every graphQL call:

[code]

And we just received a log with `-257.85700011253357 seconds before token expires`. This token was almost five minutes expired, and both `Auth.currentSession()` and `Auth.currentAuthenticatedU

[2020-07-17 02:20] kimfucious commented on #469
Hi @nihp

I believe what you're describing is an issue that has been discussed quite a bit [here](https://github.com/aws-amplify/amplify-js/issues/3435).

It seems that there is a solution for what you wish to do ([here](https://dzone.com/articles/aws-cognito-user-pool-access-token-invalidation-1)), but I've never tried to do it.

As I've never gone down this path, I'm afraid I can't offer much he

[2020-07-17 03:58] arthi-j opened #6347 "Cognito authorization code grant flow does not work"
**Describe the bug**
Using the authorization code grant flow with Cognito results in an `invalid_grant` error. The call to the `/token` end point is made twice. The first call goes through successfully while the second fails because it is missing the `code_verifier` attribute. This fails the authentication. In our case, we are using an OIDC federated identity provider.

A similar issue has been ra

[2020-07-17 04:08] nubpro commented on #6162
Just wondering is there an update to this?

@iartemiev

[2020-07-17 05:06] rahulbhankar786 commented on #6260
@iartemiev Any update on this.

[2020-07-17 10:17] AlexeyKhmelev commented on #3526
Still have this issue. Terrible. User pool is already in production. Can't recreate it...

[2020-07-17 10:22] nihp commented on #5137
KOSSOKO I can able to get the code while signUp. But I didn't get any solution how to track this. Did the user received the code or not? Still searching.

[2020-07-17 10:24] nihp commented on #469
@kimfucious Thanks. Will check

[2020-07-17 12:37] chai86 commented on #5738
@ericclemmons Hi eric, thanks for the guidance. I did get aws-amplify to update to the latest v3.0.20, but i still get the error:
<img width="345" alt="Screenshot 2020-07-17 at 13 35 29" src="https://user-images.githubusercontent.com/43324724/87786801-84ca6c80-c832-11ea-8733-ea60c6e30413.png">

It seems to happen after an hour or so when the app comes back from the background to foreground

[2020-07-17 12:38] Jahans3 opened #6349 "Generated TS models don't satisfy type constraints of DataStore.query/observe/etc?"
**Describe the bug**
It appears the provided models don't satisfy the required types for the DataStore methods (or perhaps I'm using them wrong? Couldn't find any examples in the docs)

**To Reproduce**

1. Setup API, add GraphQL schema
2. Generate models, select TypeScript as language
3. Pass a model to a DataStore method

**Expected behavior**
The provided type defs should work with the DataStor

[2020-07-17 12:40] typerandom opened #6350 "Amplify authentication cannot be configured with just identity pool"
**Describe the bug**

From documentation, it seems that Amplify should support authentication using only an identity pool without having to specify a user pool. However, this does not seem to be the case as just specifying `region` and `identityPoolId` as `Auth` parameters generates a client-side `Amplify has not been configured correctly` error:

[code]

The configuration used is:

[code]

Specif

[2020-07-17 13:07] nubpro commented on #6322
1. Please expose the websocket status to us and also provide a method to manually reconnect the websocket without restarting DataStore. #6162
2. On another note, could you also indicate whether the data we retrieved from `Datastore.observe(Model)`is local or remote?
This is going to be exceptionally handy because sometimes Hub.listener might not be around when you re-open the app with leftover mut

[2020-07-17 13:45] AakashPat commented on #518
This is the approach that I have taken. I had already gotten my files uploaded with acl set to public-read. I was only concerned about the Storage.get function returning a pre-signed URL that was valid for a specific period of time. I needed the file to accessbile publicly forever. So I'm now splitting the returned URL over the '?' character.

[2020-07-17 14:34] CompleteScone commented on #6347
I'm seeing a very similar issue with authenticating through an OIDC provider, but only with the Microsoft Edge browser (non-Beta version). I'm not able to reproduce the issue in Chrome, Edge Beta (Chromium version), or Safari. Looking at differences in request bodies, the Edge call is missing the `code_verifier` attribute.
Interestingly, if I authenticate via the Cognito User Pool it successfully

[2020-07-17 14:39] charliegilchrist-sb opened #6351 "Expose button css api"
**Is your feature request related to a problem? Please describe.**
I am currently unable to change the styling for buttons in the authenticator.

**Describe the solution you'd like**
Ideally, these attributes would be exposed in a similar manner to the typography changes.
I'd like the able to change at least the border radius and background color in all 3 states. Normal, Hover, and Clicked.

**Des

[2020-07-17 14:47] zhenyakovalyov commented on #2692
hi - is there any updates on this please?

[2020-07-17 17:12] jpignata opened #6352 "Publish Hub event on token refreshes"
**Is your feature request related to a problem? Please describe.**
Provide a Hub notification when tokens refresh.

**Describe the solution you'd like**
When a token refresh event occurs, publish this to Hub, so an application can take some action. (More details on specific use cases would be helpful here).
[code]

**Describe alternatives you've considered**
None. These events aren't generated, so

[2020-07-17 20:51] abarrdev commented on #2730
you are a god among men

[2020-07-17 23:42] chai86 commented on #5738
@ericclemmons Sure, i'll keep the project with v3.0.20 around.

I did have to revert back to a backup project using v1.1.29 however, as i noticed some errors in my build and Xcode after the update to v3.0.20, when i started to dig a bit further. But i'll keep it around as a testbed. Thanks

[2020-07-18 00:00] #4516 closed

[2020-07-18 00:00] #5320 closed

[2020-07-18 01:29] what-name opened #6356 "Amplify pull - The specified key does not exist."
**Describe the bug**
I want to pull a currently deployed Amplify App into an empty folder with the command provided by the Amplify console `amplify pull --appId myAppId --envName dev`. Previously I was having credential problems in my `.aws/credentials & config` files so I cleaned it completely and did `aws configure` with the access & secret key that has access to the Amplify App as the deafult a

[2020-07-18 01:31] what-name commented on #6356
I posted in the wrong repo, I'm sorry... [here is the correct issue](https://github.com/aws-amplify/amplify-cli/issues/4867)

[2020-07-18 01:31] #6356 closed

[2020-07-18 04:23] xmluozp commented on #5829
In my case, I deleted my <AmplifySignOut /> use Auth.signOut() instead, then everything came back to normal.

[2020-07-18 04:25] SamnnyWong opened #6357 "Amplify with Vue.js "No Access-Control-Allow-Origin header" response."
**Describe the bug**
CORS error is raised when trying to call a lambda function in vue.js using amplify api via aws api gateway.

In vue component:
[code]

my lambda function:
[code]
aws configure as follows in main.js of the vue frontend:
[code]
**Screenshots**
AWS api gateway cors is enabled.
<img width="1386" alt="Screen Shot 2020-07-18 at 00 20 15" src="https://user-images.githubusercontent.co

[2020-07-18 05:08] #5113 closed

[2020-07-18 05:08] #6023 closed

[2020-07-18 06:07] nubpro opened #6358 "DataStore breaks when record is constantly queried after updating"
**Describe the bug**
This is the extreme way of reproducing the problem, however we are hitting this problem quite often and we have our own workaround for this issue.

When a user spams the update button on the same record, like I am talking about tapping the update button 10 times in a row. DataStore would throw this error: `TypeError: undefined is not an object (evaluating 'Object.getPrototypeO

[2020-07-18 08:40] ajitgoel commented on #4197
I am also facing the same issue on Amplify web. Would the amplify team have an update for this issue?

[2020-07-18 09:27] Badal1234 commented on #6303
Hii @amhinson ,
Actually this happens during signup process.after signing up through username and password I get verification code.
when I submit that code It shows me the error of 'not authenticated'.But in aws console i can see the email_verified is true of that user

[2020-07-18 10:10] themrshubh commented on #3436
I tried using the remembered device functionality in cognito to mitigate this problem. However, I believe that cognito only verifies the device identifier when using the refresh token to generate a new access token.

However, if I use a different device to access my resource server using an access token provided to an authenticated client on another device, it lets me through. According to my unde

[2020-07-18 10:50] stephendmalloy commented on #6289
@amhinson any possible updates on this? Have a great weekend.

[2020-07-18 15:41] nubpro commented on #6358
Just a small update, I removed the subscription - `DataStore.observe(Post)` and this would still happen, but I got to tap the update button more frequently and furiously.

On a side note, will this error happens if the client receives too many mutations from the server within a second? Since it's performing an update to the AsyncStoage for every mutation.

[2020-07-18 16:09] vlac666 commented on #6322
Thanks for the helpful response. Much appreciated. If it helps, I think this is main page that needs updating to reflect the latest guidance [API (GRAPHQL) Offline scenarios - js](https://docs.amplify.aws/lib/graphqlapi/offline/q/platform/js)

[2020-07-18 19:05] KarimIbrahim commented on #3844
Is there any updates on this issue?

[2020-07-18 19:32] nubpro opened #6363 "DataStore latter updates should take precedent on a slow network"
**Describe the bug**
Say you have a button to update a Post title.
With that you change the post title to 'Hairy Potter'. This mutation is queued in the outbox.
However before this mutation is processed, you decides to update the post title again to 'Marry in the Soberland'.
As a user, you would expect your post title to be permanently change to the latter title as the local updates reflects that.

[2020-07-18 20:39] akkinenivijay commented on #2803
In my case its firefox new feature "Enchanced tracking protection" caused the issue and by disabling that options, cors started working.

[2020-07-18 20:51] nubpro commented on #3039
This issue should be a priority, it impacts DataStore #6162 and it's giving us a tough time of using it. We are also in the midst of dropping it.
Imagine you are building a food delivery system for a franchise and none of the branch can receive any new orders because of this, amend to that.

This issue is raised on Oct 2018 #1844 and has not been solved ever since. 3 more months before it reaches

[2020-07-18 21:11] jellycsc commented on #5218
For me, it's the `/` which causes this issue. My workaround is replacing `/` with `_`.

Serialization step: `Auth.federatedSignIn({ customState: callbackPath.replace(/\//g, "_") });`
DeSerialization step: `const callbackPath = data.replace(/_/g, "/");`

[2020-07-18 21:25] eshacham commented on #5623
So we have no solution? I tried the proposed solution but it does not work. I disabled and enabled the `Enable lambda trigger based custom authentication (ALLOW_CUSTOM_AUTH)`; I enabled the `Enable username password based authentication (ALLOW_USER_PASSWORD_AUTH)`; I also disabled and enabled the `Enable SRP (secure remote password) protocol based authentication (ALLOW_USER_SRP_AUTH)`. At the clie

[2020-07-18 23:27] ajitgoel opened #6365 "graphql has changes but no changes detected when amplify push command run."
**Describe the bug**
I have made changes to my application's schema.graphql file and when i run the amplify push command, the system says "no changes detected". What could I be missing?

**Expected behavior**
When the schema.graphql file has changes and amplify push command is run, it should not show no changes detected message.

[2020-07-19 05:20] nubpro commented on #6365
Are u changing the correct schema.graphql file?

I believes there's 2 of them in your project folder.

[2020-07-19 06:47] ajitgoel commented on #6365
I am making the changes to ~\amplify\backend\api\vidaudtranscription\schema.graphql file. You can see the changes that i made in https://github.com/ajitgoel/VideoAudioTranscription3/commit/a91943b3f75d6fbce5bfe9727eaa010881359546

[2020-07-19 07:13] dongpingy commented on #6304
To add inline policy can  solve the problem.
 Please check the link for details（https://github.com/aws-amplify/docs/issues/460）

[2020-07-19 08:15] andrekovac commented on #2286
@dantasfiles how can I use them? Where should I place this type definition in my project so that it works?

[2020-07-19 15:48] galbus commented on #2365
[@types/graphql](https://www.npmjs.com/package/@types/graphql) is deprecated, because:

Try adding [graphql](https://www.npmjs.com/package/graphql) as a dev dependency:

[code]

For me, this added `"graphql": "^15.3.0",` into `devDependencies`, and removed the error I was seeing from `"aws-amplify": "^3.0.20"`.

[2020-07-19 20:20] ASchwad commented on #4016
@mauerbac Yes, i am. Can I provide you some context?

[2020-07-19 22:09] jcorrea85 commented on #2233
I was having the same issue and solved it by getting better understanding of the difference between the list and get queries.
On my particular case I changed my query from:
`listOrderss(filter:{id: {eq: $id}}, limit: 11) {`
to:
`getOrders(id:$id){`
What you may need to understand is that listOrderss above is returning all entries, and then it is filtering the result; Instead you should aim to only

[2020-07-20 01:40] zgr024 commented on #2233
Thank you

On Sun, Jul 19, 2020, 6:10 PM jcorrea85 <notifications@github.com> wrote:

[2020-07-20 03:47] nubpro commented on #6162
By lowering `reachabilityLongTimeout` significantly at NetInfo configuration, NetInfo will have a better chance knowing that there's a connection drop.

However, there is still a tendency where the subscription has failed but DataStore didn't attempt to restart.
Hence, I've submitted a PR that fixes the built-in disconnection handler. I'm not sure why it wasn't called in the first place.

[2020-07-20 04:34] manhnq94 commented on #538
I got the same "issue", it take too slow (about 2-3s) to authenticate an user using Amplify.Auth.signIn function.

Does anybody have idea how to improve this?

[2020-07-20 06:06] JohanAltamar commented on #5836
Still working :)

[2020-07-20 07:49] shreyansjain commented on #6344
+1 to this issue.

We have recently started experiencing the same issue (Spending Limit/Service Quota issues have already been resolved).
Wanted to highlight few observations:
- Started happening start of this week (week of July 12th)
- Sending Transaction messages via AWS console works to the recipient of the OTP/MFA user
- Mostly happening this to users/phone numbers in India (Users with Canadia

[2020-07-20 08:08] AakashPat commented on #6344
@shreyansjain

Similar situation at my end.

[2020-07-20 08:13] AakashPat commented on #6344
@shreyansjain
Similar situation at my end.

- 14 July is the first time I faced this issue.
- Sending Transaction messages via AWS SNS Console works for me too.
- My AWS Cognito Pool is based in Frankfurt (eu-central-1). During assessment, I created User Pools in other regions (us-east-1 and ap-south-1) and those User Pools are able to send verification messages just fine. Only the eu-central-1 po

[2020-07-20 09:03] davidbiller opened #6367 "Currently in UPDATE_ROLLBACK_IN_PROGRESS with reason: No export named BUT CloudFormation status is: UPDATE_ROLLBACK_COMPLETE"
i tried to get access to storage category in my preSignup. Its not possible because the good old circular error. Than i removed my changes, now i get this error:

Amplify --v -> 4.24.3

`UPDATE_FAILED               functionaivyusersPreSignup         AWS::CloudFormation::Stack Mon Jul 20 2020 10:57:53 GMT+0200 (GMT+02:00) Embedded stack arn:aws:cloudformation:eu-central-1:xxxx:stack/aivy-rn-app-dev

[2020-07-20 09:16] #6367 closed

[2020-07-20 12:06] bevanmw commented on #6177
I fixed this in my project by doing the following:

Installing jetifier as a dev dependancy:
[code]
Adding the following scripts to my `package.json`:
[code]
And finally running `npm run jetify`

[2020-07-20 12:28] cornr commented on #6287
Now we get a "Token is not from a supported provider of this identity pool." Error

[2020-07-20 13:54] swyxio opened #6369 "[Feedback] `API.graphql` return signature is hard to use in TypeScript"
**Is your feature request related to a problem? Please describe.**

When I try to `await` an `API.graphql` call in TS, I get this:

![image](https://user-images.githubusercontent.com/6764957/87945385-3b4c7c80-cad3-11ea-8320-9accacbb42ee.png)

This is because you have defined the `graphql` method to also return an `Observable` in case of a subscription:

https://github.com/aws-amplify/amplify-js/bl

[2020-07-20 14:02] AndresMWeber commented on #3732
We are using it as expected: to have custom authorization per token via scopes for our service without using the hosted UI (to have a more seamless login experience), however we had to home brew it for now.  It would be amazing to get this functionality so no one has to hand roll anything that shouldn't be missing.

[2020-07-20 14:06] tobilg commented on #3732
@AndresMWeber could you elaborate how you created your home brewn solution?

[2020-07-20 14:28] AndresMWeber commented on #3732
It's tailored to our specific use case, however we validate with an API Gateway Lambda authorizer by doing our own Cognito queries against additional headers we send with the request.  So really it's not that we solved the scopes issue itself, just bypassed it.

[2020-07-20 14:52] ryanvade commented on #5330
@gerbyzation the solution AWS provided was use localstorage. Of course localstorage is not available across domains so it doesn't work for our usecase. They also pointed us to this page in the documentation: https://docs.amplify.aws/lib/auth/manageusers/q/platform/js#managing-user-attributes and basically said implement the storage yourself which also doesn't help with our usecase.

[2020-07-20 14:52] sw-yx commented on #6369
Secondly, specifying the return signature like this:

https://github.com/aws-amplify/amplify-js/blob/b5d14124dfd5f1000f102ac8c84aa964c9d916c5/packages/api/src/API.ts#L173-L178

always assigns the generic type `T` to be `object` because that is how the `GraphQLResult` interface is designed. This causes nasty, nasty type errors when people try to assign the results of the graphql query to a properly

[2020-07-20 15:02] sw-yx commented on #6369
for those finding this.. heres how to write a vaguely ergonomic wrapper around this.

[code]

[2020-07-20 16:12] shreyansjain commented on #6344
That's strange, UserPool in `ap-south-1` is the failing for me to send to IN numbers (CA/US numbers are getting delivered).

The worst case is, this the first point of entry to our platform and if users are not able to receive verification codes, they won't be able to use the platform.

I'll update once I hear back from them and/or please do the same.

[2020-07-20 16:22] ashika01 commented on #2562
@mousedownmike Apologies for not reopening the issue. But I closed this issue with specific to UI components. I see you are talking about Auth in general. Thanks for opening the new issue. We can track it there.

[2020-07-20 16:42] lenarmazitov opened #6370 "Not Authorized to access getSomeObject on type Query when result is empty."
**Describe the bug**
Hello, seems like something changed in amplify or appsync not so long time ago.
When I try to perform GraphQL query which returns **empty** result, now I have error:
[code]
There is code in resolver which leads to this behavior:
[code]
Thats right code, but somehow previously when **$ctx.result** was empty I did not get this error.

The problem is that Apollo don't cache query

[2020-07-20 16:54] AakashPat commented on #6344
@shreyansjain , I can understand. Same is the problem we're facing. If users can't even register, it will impact business very heavily. For now, I have paid for Developer support and have raised a ticket with AWS. I am awaiting a response from them. Will update this thread once I hear from AWS Support.

[2020-07-20 16:58] tedtyree commented on #5594
<amplify-authenticator>
    <amplify-sign-in slot="sign-in" hide-sign-up="true"></amplify-sign-in>
    <div>
      <amplify-sign-out></amplify-sign-out>
    </div>
  </amplify-authenticator>
I could not find this documentation either. But eventually found the answer randomly on the internet.

[2020-07-20 17:48] manueliglesias commented on #6349
Hi @Jahans3

Model constructors extend `PersistentModelConstructor<T>` where `T` is a model from modelgen, so the way to I'd write your hook would be like this:

[code]

The diff just for reference:
[code]

[2020-07-20 17:51] ashika01 commented on #6305
@dabit3 We updated our [contributing guidelines](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md) recently. Let me know if you have specific comments on that other than new ui reference. I can update that and move the content over to the wiki :D

[2020-07-20 18:09] manueliglesias commented on #6349
I am closing the issue, feel free to let us know if you are still having this problem.

[2020-07-20 18:09] #6349 closed

[2020-07-20 18:18] KevyVo opened #6372 "Switching Auth flow Bug?"
**Describe the bug**
I am working on a amplify/cognitio project. I am having trouble getting the user migration function to trigger the Auth flow that should be set to USER_PASSWORD_AUTH but it is stuck on USER_SRP_AUTH. I already enable the check marks in app client to enable these flows. I done a lot of research and the most guide/forums said that the flow should switch automatically.

GitHub Re

[2020-07-20 18:45] sw-yx commented on #6369
even specifying the `input`s are quite verbose so i have modified the wrapper as such:

[code]

[2020-07-20 19:34] dabit3 commented on #6305
Thanks @ashika01 this looks great, I'll close this issue.

[2020-07-20 19:34] #6305 closed

[2020-07-20 20:28] amhinson commented on #6291
I see you have "Implicit grant" selected as an allowed OAuth Flow. Are you using that? If not, could you try only selecting "Authorization code grant" to see if anything changes in the behavior you're seeing?

[2020-07-20 20:33] amhinson commented on #6303
Ah ok! However, we will still need more information regarding your app in order to diagnose the issue. Could you share the following info:
- Amplify libraries you are using & versions
- `aws-exports` or manual configuration
- Steps you took when setting up Amplify via the CLI (i.e. `amplify add auth`, `default configuration`, etc)

[2020-07-20 20:33] mikalai-okun commented on #6291
@amhinson Tried both - same results.

[2020-07-20 20:36] amhinson commented on #6020
@paulsjohnson91 Were you able to solve your issue here?

[2020-07-20 20:40] RandallStanhope commented on #4163
Were you ever able to get this working? Does live streaming audio to Transcribe even work for React Native?

[2020-07-20 20:43] amhinson commented on #6289
It does appear that this functionality isn't possible at the moment with Amplify, but we will track this as a feature request for future development.

[2020-07-20 21:19] amhinson commented on #6291
Hmm interesting. Well I don't have an answer yet, but I did find this [similar question](https://help.developer.intuit.com/s/question/0D54R00007AR9riSAD/cognito-openid-connect-integration) on Intuit's developer website. Perhaps it could be helpful to reach out to their team as well to help debug.

[2020-07-20 21:47] wataruoguchi commented on #5582
"Amazon Cognito Auth" ^ is already archived. The module doesn't support PKCE, so I'd stick with amplify-js.

As it's mentioned, the latest aws sdk v1.0.0-gamma.3 release has the bugfix. It is now tagged to [gamma](https://www.npmjs.com/package/@aws-sdk/middleware-serde). I resolved this issue by installing `@aws-sdk/middleware-serde@gamma`.

[2020-07-20 21:47] mikalai-okun commented on #6291
This is my questions :) we posted it there as well.
It would be the most useful if we can identify the Cognito is actually showing invalid state.

I started comparing the state passed initially, then what was in Intuit and the resulting state, looks like when its landing on cognito we are it cutted almost in half, do you know if there a character limit of how large state value can be?
![Image of Y

[2020-07-20 22:24] terrywarwar commented on #6111
@sw-yx @jordanranz Can you provide an example, I can't get it to show

[code]

[2020-07-20 22:52] amhinson commented on #6291
Are you using a `customState` with `federatedSignIn` by chance? The example you posted above doesn't have it, but I just wanted to check first.

[2020-07-20 22:55] mikalai-okun commented on #6291
No, we don't, just regular federatedSignIn, only providing provider name.
[code]

[2020-07-20 22:55] wataruoguchi opened #6377 "@aws-amplify/auth - IE11 does not support fetch API"
**Describe the bug**
`window.fetch` in the line below isn't supported by IE11. [https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API)

https://github.com/aws-amplify/amplify-js/blob/e85640a4e18fa1d55411038fee58919ad73121fa/packages/auth/src/OAuth/OAuth.ts#L166

Thus it causes the following error:

**To Reproduce**

Use `import { Aut

[2020-07-20 23:00] sw-yx commented on #6111
https://www.swyx.io/writing/svelte-auth/

[2020-07-20 23:21] terrywarwar commented on #6111
Thanks @sw-yx , however I can't see where that uses `ui-components`

[2020-07-20 23:22] dtelaroli commented on #54
+1

[2020-07-20 23:22] dtelaroli commented on #1787
+1

[2020-07-20 23:24] PatidarParth commented on #4473
@nihp did you ever figure out the answers to either of your questions? I am wondering the same

[2020-07-21 00:28] wataruoguchi opened #6378 "IE11 - Object doesn't support property or method 'assign'"
**Describe the bug**
IE11 doesn't support `Object.assign`, thus it causes the error.

**To Reproduce**
Implement `import { Auth } from '@aws-amplify/auth'` and load the script in IE11.

You'll get the error here:

https://github.com/aws-amplify/amplify-js/blob/e85640a4e18fa1d55411038fee58919ad73121fa/packages/core/src/I18n/index.ts#L40

**Expected behavior**
It to be transpiled so IE11 can execute

[2020-07-21 00:35] giulio-dds commented on #6329
Hi, I encountered the same problem and I solved it, inspired by your code. I don't think this solution can be forever stable but for now it could be a good help.

[code]

[2020-07-21 01:46] slatted commented on #5117
FYI: @timoschlueter and @ionutmiftode
- We seemed to have a race condition with the linking of ExternalProvider to Native Account when we used Post Confirmation and we also accidentally would trigger it with a Confirm Forgot Password.
- We ended up putting ours in Post Authentication to always keep the Native Account in sync as email_verified = 'true'

Real pain in the rear <3, Bradley

[2020-07-21 03:56] lindachenau commented on #6329
@giulio-dds Hi, thanks for sharing your solution. Unfortunately I still got the same error after trying out your solution. I hope someone from the amplify team can provide a solution.

[2020-07-21 04:21] #6308 closed

[2020-07-21 05:07] nihp commented on #4473
Used Hub.listen to find the events. Otherwise If you have custom screens inside the <Authenticator/> you need to navigate using this `this.props.onStateChange('forgotPassword',{})`

[2020-07-21 05:25] shreyansjain commented on #6344
Heard back from AWS PM:
[code]

I will initiate the Premium Support team once I hear an update from you.

[2020-07-21 05:45] AakashPat commented on #6344
It has been 15 hours since the ticket and I haven't heard back from them. It is a System Impaired issue which had a 12 hour SLA. Certainly leaves a bad taste in my mouth about AWS Support.

Once I have a response, I will let you know.

[2020-07-21 06:40] JohanAltamar commented on #6212
Still waiting for the solution.

[2020-07-21 07:15] timoschlueter commented on #5117
@slatted because of your finding I just checked our Cognito user pool and indeed found a few external users (< 10%) with email_verified still set to false. I haven't noticed this before. Thanks for the info! I switched to a Post Authentication trigger as you suggested. Still seems to work as expected.

Really looks like a race condition.

I can't stress this enough: The fact that we have to use su

[2020-07-21 07:42] ionutmiftode commented on #5117
TY @slatted  We ended up using both Post Authentication and Post Confirmation to solve the problem :smile:

[2020-07-21 10:44] sakhmedbayev commented on #661
I wonder if it is accomplishable using [Cognito User Pool Lambda Triggers](https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-working-with-aws-lambda-triggers.html#cognito-user-identity-pools-working-with-aws-lambda-triggers-using-lambda)?

[2020-07-21 11:28] dpretty commented on #6370
We were able to reproduce this using amplify-cli@4.24.3, with queries from both react native and plain HTTP requests.

reverting to amplify-cli@4.24.2 fixes the issue.

[2020-07-21 12:35] Jahans3 opened #6380 "DataStore does not update models with one-to-many relationships"
**Describe the bug**
DataStore is refusing to update my models remotely. The model is returned locally but is not updated in the backend. `_version` is undefined at both creation and update, but can be seen in DDB. This is only happening on models that have one-to-many connections to other models, one-to-one seems to work okay.

I do not receive an error, or anything indication at all, that the up

[2020-07-21 12:45] Jahans3 commented on #6349
Thanks a lot @manueliglesias, that was helpful. Is this documented anywhere?

[2020-07-21 12:49] slatted commented on #5117
@ionutmiftode , :) awesome

@timoschlueter , totally agree, a bunch of Cognito aspects seem unfinished (or atleast unpolished).  I have a support case open with Amazon, if I get any headway there, I'll update the thread.

[2020-07-21 13:27] GetJoot commented on #5729
Related to issues discussed in this thread,  I want to explain a situation in our web app that is causing a 403 when using Amplify to upload a file to S3 for an authenticated user that belongs to a Cognito group that has a policy attached to it granting all access to the specific S3 bucket and folders.

I have designed a Serverless app using the guidelines defined at [http://serverless-stack.com].

[2020-07-21 15:39] aecorredor commented on #3435
It’d be great if the Cognito SDK supported the strategy for mobile apps described in the top answer in this SO question: https://stackoverflow.com/questions/26739167/jwt-json-web-token-automatic-prolongation-of-expiration.

Basically have a way to invalidate a specific refresh token given the device ID where it was generated from. Looking at the current Cognito API it seems like it wouldn’t be tha

[2020-07-21 17:03] #6193 closed

[2020-07-21 18:02] paulsjohnson91 commented on #6020
Hi @amhinson unfortunately no I've been unable to solve this issue so far.
I've set up a pre-signup trigger to add in the date of birth to a google auth sign up however I've been looking at the logs and the lambda isn't actually being triggered. Amplify is returning an error

    console.error: [ERROR] 40:58.475 OAuth - Error handling auth response. Error: attributes+required%3A+%5Bbirthdate%5D

I

[2020-07-21 18:15] paulsjohnson91 commented on #6020
Just on a hunch, I've also just tried to sign up a regular user without date of birth and the pre-signup trigger isn't called in that instance either. So it looks like a broader issue where amplify is validating the required fields itself before calling the pre-signup trigger

[2020-07-21 18:52] eelayoubi commented on #6202
I did all necessary libraries to the allowedCommonJsDependencies, but I am still getting the following error:

Uncaught ReferenceError: exports is not defined
    at Module../node_modules/@aws-sdk/middleware-serde/build/deserializerMiddleware.js (vendor.js:129105)
    at __webpack_require__ (bootstrap:79)
    at Object../node_modules/@aws-sdk/middleware-serde/build/index.js (index.ts:1)
    at __w

[2020-07-21 18:54] rudyhadoux commented on #6202
You just have to add missing libraries, like I mentioned.

[2020-07-21 18:55] eelayoubi commented on #6202
I have already done that

[2020-07-21 18:57] rudyhadoux commented on #6202
So, it is strange...

[2020-07-21 18:59] eelayoubi commented on #6202
if you check what is complaining about, it is already in the allowedCommonJsDependencies ... So I don't get it ...

[2020-07-21 19:27] gsans commented on #6202
@eelayoubi that seems a different issue. The fix that appears in this thread is to remove the warnings. Your trace is not from a warning but an error.

[2020-07-21 19:50] eelayoubi commented on #6202
@gsans  you are correct, although the warnings while building the project disappeared, this error stayed in the console. I thought it might be related. I will check again.

[2020-07-21 21:01] #6380 closed

[2020-07-21 21:04] ErikHDev commented on #6202
@eelayoubi IIRC correctly that occurs when you're in Angular 9/10 and you are using the older @aws-amplify library for angular.

Make sure to use ```"@aws-amplify/ui-angular",```

and

```aws-amplify```

[2020-07-21 21:23] eelayoubi commented on #6202
@ErikHDev  as per the tutorial we are installing the latest versions of '@aws-amplify/ui-angular' & 'aws-amplify'.
https://docs.amplify.aws/start/getting-started/setup/q/integration/angular#install-amplify-libraries
+ yes, I am using angular 10.

[2020-07-21 22:27] Jahans3 commented on #5926
I have the same issue. Everything was working fine until half an hour ago when I updated my schema. I followed all of the suggestions here but nothing works and the error persists.

I had the same issue earlier in development and the only way to resolve it was completely destroying my backend and starting again, right now I'm too far into dev for that to be an option.

@iartemiev @undefobj is ther

[2020-07-21 23:56] PatidarParth commented on #4473
@nihp What was your solution for the errorMessages reloading?

[2020-07-22 00:17] dansickles opened #6385 "Schema migration for local"
I would like to deploy a production react native/expo app using Datastore offline-only and be able to modify and update the schema. If synch is enabled in a later version of the app, then all schema migrations could be driven from the back end like they are now.

**Describe the solution you'd like**
modify the schema locally and keep the local data. Deploy the change. React native / Expo.

**Descr

[2020-07-22 03:08] szhuangx opened #6386 "Authenticator on React Native is not working and Hub not listening on sign-in event"
**Describe the bug**
I'm a new user of aws-amplify, currently implementing signin using Email and federated identity using cognito with React-native
I want to redirect user back to home screen if user signedIn, I also tried to use Hub to listen the auth event but it also not working and only got 'parsingCallbackUrl' event

[code]

I'm just exactly following this course to configured my environment

[2020-07-22 06:20] asumaran commented on #5416
Using `@aws-amplify/ui-react@unstable` worked for me as well. Thanks

[2020-07-22 07:18] khanguslee commented on #2160
Any update on having the ability to add a select dropdown?

[2020-07-22 07:20] Purii commented on #5782
Seems that the usage of `shadow DOM` is the root cause: https://bugs.chromium.org/p/chromium/issues/detail?id=770175

[2020-07-22 08:19] simonreitinger opened #6388 "Angular Material input not behaving as expected"
**Describe the bug**
I have an Angular 10 application. When I try to implement Amplify, `<input matInput>` is not behaving as expected anymore.

**To Reproduce**
1. `npm install @aws-amplify/ui-angular aws-amplify`
2. Configure Amplify (does not really matter for this problem)
2. Use this HTML file
[code]
4. The inputs are not reactive anymore and the placeholder is overlapping with the content.

[2020-07-22 10:43] AakashPat commented on #6344
@shreyansjain, Finally heard back from AWS Support after 36 hours.

As you are already aware, Cognito MFA messages are sent using SNS in the closest region[1], hence in order to investigate the issue we will need to troubleshoot from the SNS side in eu-west-1 (Cognito Userpools in eu-central-1 is currently using SNS SMS in eu-west-1 as SNS SMS was only recently released in eu-central-1).

As a com

[2020-07-22 10:48] AakashPat commented on #6344
I have now requested a SNS Sending Limit increase for eu-west-1 region. Hopefully that should resolve my issue. Will confirm once the Limit Increase has been processed.

[2020-07-22 17:02] txnico opened #6390 "API.post returns null"
Upon upgrading to "aws-amplify": "3.0.20" any call to API.post REST returns null.

**To Reproduce**
Running managed Expo app with Expo SDK 37
Any call to AWS lambda via API.post.

POST Response: null

**Expected behavior**
A response object to be returned once promise is complete.

**Code Snippet**
[code]

[2020-07-22 17:15] turakvlad commented on #3899
Guys, any update on this? I have faced with the same issue.

[2020-07-22 17:24] manueliglesias commented on #6385
Hi @dansickles

This is a interesting use case. How do you imagine doing your local migrations?

[2020-07-22 17:37] manueliglesias commented on #6369
Thanks @sw-yx !

This is a great write-up,  as you pointed out, with the current function signature it is not possible to unambiguously tell for sure if you want a promise (for queries/mutations) or an Observable (for subscriptions). This is due to the fact that the return type is not known at compile time, only at runtime (by looking at the operation type: query, mutation or subscription)

 A wra

[2020-07-22 17:45] manueliglesias commented on #6390
Hi @txnico

Are you using your lambda as described [here](https://docs.amplify.aws/lib/restapi/getting-started/q/platform/js#aws-regional-endpoints) ?

[2020-07-22 17:56] manueliglesias commented on #6378
Thank you for the workaround @wataruoguchi

[2020-07-22 18:10] txnico commented on #6390
Hi @manueliglesias

I was at aws-amplify@1.1.19 with Expo SDK 35.

I used to have the API exports under: "aws_cloud_logic_custom" block and I've updated them to define them as API.endpoints with no change.

The lambda code is being executed correctly in AWS and the response as far as I can see in API-gateway logs have the expected response object.

Thanks!

[2020-07-22 18:13] jordanranz commented on #6388
Hi @simonreitinger, do you have a sample repository we could use to reproduce this?

[2020-07-22 18:13] theodorehadges commented on #1550
Hi all, any update on this? Also could benefit from having object metadata included in `Storage.list()`.

[2020-07-22 18:31] sw-yx commented on #6369
if you are open to deeper redesign, i think my dream API:

[code]

[2020-07-22 18:41] sw-yx commented on #1550
related - #6157

[2020-07-22 18:43] jordanranz commented on #6331
This is now on `@latest`. Closing now. If you have any further related problems, please open a new issue.

[2020-07-22 18:43] #6331 closed

[2020-07-22 18:49] #2104 closed

[2020-07-22 18:50] jordanranz commented on #6216
The ability to customize Auth error strings is now released. I added some notes to another issue: https://github.com/aws-amplify/amplify-js/issues/2104#issuecomment-662623297

Please feel free to open a new issue if you have any further questions or concerns.

[2020-07-22 18:50] #6216 closed

[2020-07-22 18:53] manueliglesias commented on #6390
Can you share your **redacted** aws-exports.js or API.endpoints config?

[2020-07-22 19:02] txnico commented on #6390
Sure thing:

`const awsmobile =  {
    "aws_project_region": "xxx",
    "aws_content_delivery_bucket": "xxx",
    "aws_content_delivery_bucket_region": "xxx",
    "aws_content_delivery_url": "xxx",
    "aws_cognito_identity_pool_id": "xxx",
    "aws_cognito_region": "xxx",
    "aws_user_pools_id": "xxx",
    "aws_user_pools_web_client_id": "xxx",
    /*
    "aws_cloud_logic_custom": [
        {

[2020-07-22 19:57] manueliglesias commented on #6386
Can you share your **redacted** `aws-exports.js` ?

[2020-07-22 20:03] elorzafe commented on #6390
@txnico can you share your package.json and how you are configuring Amplify?

[2020-07-22 20:21] txnico commented on #6390
@elorzafe - here's my package.json. Regarding the configuration, please see aws-exports I posted above.

{
  "main": "node_modules/expo/AppEntry.js",
  "scripts": {
    "start": "expo start",
    "android": "expo start --android",
    "ios": "expo start --ios",
    "eject": "expo eject"
  },
  "dependencies": {
    "@expo/vector-icons": "10.1.0",
    "@ptomasroos/react-native-multi-slider": "^2.2.

[2020-07-22 20:27] jordanranz commented on #6115
I have just merged a change for this and tested my branch against the sample repo. Please try and test that the functionality is correct by installing the `@unstable` version.

[2020-07-22 20:33] elorzafe commented on #6390
@txnico I mean are you doing something like this?

[code]

[2020-07-22 20:38] manueliglesias commented on #6358
HI @nubpro

Thank you for the detailed report and the PR

If your use case allows it, maybe you can debounce/throtle the saves while a more permanent fix is merged to the library

[2020-07-22 20:45] manueliglesias commented on #6357
Hi @SamnnyWong

How was your api created? when created via the amplify cli, the API GW endpoint includes handling of preflight requests for CORS

If the amplify cli wasn't used, you might need to follow manual steps to handle it, [this](https://enable-cors.org/server_awsapigateway.html) might help

[2020-07-22 20:49] simonreitinger commented on #6388
Hey @jordanranz! I just created a dummy to reproduce it: https://github.com/simonreitinger/amplify-angular-dummy

[2020-07-22 20:52] txnico commented on #6390
@elorzafe:

import Amplify from '@aws-amplify/core';
import Auth from '@aws-amplify/auth';
import { withAuthenticator } from 'aws-amplify-react-native';
import awsmobile from './aws-exports';

Amplify.configure(awsmobile);

[2020-07-22 21:10] 70nyIT commented on #5416
Same thing happening to me

[2020-07-22 21:19] kazinayem2011 commented on #1896
@powerful23 , Can you please tell me what you mean by "**Storage: // by default is localStorage**" in both userPoolData and userData? Is it the object which **Auth.signIn** returns?

[2020-07-22 21:44] manueliglesias commented on #6372
Hi @KevyVo

Can you try setting the `authenticationFlowType` to `'USER_PASSWORD_AUTH'`?

After calling `Amplify.configure(awsExports)`, do:

[code]

[2020-07-22 21:53] elorzafe commented on #6390
@txnico where are you importing API?

[2020-07-22 22:00] txnico commented on #6390
@elorzafe - The imports above are in the main app entry-point whereas the API import happens in child components that execute api calls. I'm importing API as:

import { API } from 'aws-amplify';

[2020-07-22 22:51] jkeys-ecg-nmsu commented on #2312
@jordanmcdougall not as far as I know, we worked around it by always having a scene loaded and doing orchestration within that scene. I'll re-open since other people need support for this.

[2020-07-22 23:29] manueliglesias commented on #6350
Hi @typerandom

When using Identity Pools without User pools, you'll have a way to get AWS credentials but without having "users", calling Amplify Auth's APIs like `currentAuthenticatedUser` will give you the error you are seeing. If you need a user directory, then you need Cognito User Pools.

You can get more details in the [Concepts](https://docs.amplify.aws/lib/auth/overview/q/platform/js) sec

[2020-07-23 00:30] Rafcin opened #6391 "Elasticsearch Ddb To ES Lambda - Not updating removed or edited items."
**Describe the bug**
I noticed when I remove items manually from DynamoDB the items on the ES index don't update at all and are left there. However adding items seems to work just fine.

**To Reproduce**
I'm not sure how one can reproduce it, I was using the latest amplify released a month ago if that helps but i'm unsure of what version I used.

If you would like logs or anything just let me know

[2020-07-23 00:59] manueliglesias commented on #6377
Hi @wataruoguchi

Thanks for the report, this is similar to #6378 in the sense that both are IE11 related and solvable with polyfills

[2020-07-23 01:32] wataruoguchi commented on #6377
@manueliglesias Sure! I thought they're different packages / symptoms. Let me leave a comment into the other issue and close this.

[2020-07-23 01:32] #6377 closed

[2020-07-23 01:32] wataruoguchi commented on #6378
There's also a problem with `fetch` API. It's not supported by IE11.

https://github.com/aws-amplify/amplify-js/issues/6377

[2020-07-23 01:49] cor1 commented on #5137
@richAtreides I had the same problem but I fixed it by requesting a dedicated long number in aws pinpoint. Amplify was getting successful responses and sns reported successes, however I couldnt get the messages some days and others I could.  I am assuming this is because when you dont have a dedicated phone number to send messages from you get an aws default one that is most likely being carrier f

[2020-07-23 02:22] alexandprivate commented on #6108
Hi there guys, any news on this?

[2020-07-23 02:23] kldeb commented on #2058
what was the solution?

[2020-07-23 03:38] sysFactory12345 commented on #1234
Hola chicos intento entrar para bajar el repositorio de codigo por linea de comandos y me dice que la contraseña es icorrecta, sin embargo entro al repositorio de git hub con la misma que digito en la linea de comandos y me permite la entrada al sitio. alguien sabe que sucede?

[2020-07-23 04:47] kcsuraj commented on #5623
I am also getting the same error when trying to login with password field empty. The proposed solution by @santuvytla does not work for me as well.

![Screen Shot 2020-07-23 at 10 24 03](https://user-images.githubusercontent.com/42274546/88252932-be3a2680-cccf-11ea-80ab-01d751e702a5.png)

[2020-07-23 05:07] nihp commented on #4473
I have set a state in the screen for validations.

While navigating from a screen to another screen, I have set the validation as empty.

(i.e) If I am in login screen. I gave a wrong password it shows Username/password is incorrect. So I navigate to Forgot password. While click on the forgot password I have set the error state as empty with all other fields. So it will clear while navigating alon

[2020-07-23 05:13] nihp opened #6393 "Document Amplify Auth for Login with Instagram"
I am planning to add login features with social logins

For e.g) INSTAGRAM.

Can i able to authenticate the app using instagram in aws cognito.

[2020-07-23 05:15] nihp opened #6394 "Clarification: Can I able to login with Facebook in aws cognito (Any documentaion) (Mobile app => react-native)"
I am planning to add login features with social logins

For e.g) FACEBOOK.

Can i able to authenticate the app using instagram in aws cognito.

[2020-07-23 05:19] nubpro commented on #6358
I see, appreciate the response.
Shall I close my PR?

[2020-07-23 05:45] #5121 closed

[2020-07-23 05:56] anantoghosh commented on #5782
[Vaadin login component](https://vaadin.com/components/vaadin-login/java-examples)  handles this by not using the shadow dom for the form
https://github.com/vaadin/vaadin-login/blob/9e76baf5e8a7dccf5e65116d0fc91b49ea3bdf2a/src/vaadin-login-form.html#L50

[2020-07-23 07:02] shreyansjain commented on #6344
Thanks for updating @AakashPat

I tried to send Cognito SMS from `ap-south-1` and the delivery still failed.

I am pretty sure your issue will get resolved once your spending limit has been increased.

[2020-07-23 08:30] richAtreides commented on #5137
@cor1 Thanks a lot for the tip. I actually ended up creating my own Auth flow using Soft Tokens to avoid the whole phone number thing all together. I posted a guide on how to do it here: https://levelup.gitconnected.com/guide-soft-token-authentication-with-aws-amplify-cognito-and-material-ui-react-with-typescript-31094f96968b.

[2020-07-23 08:45] szhuangx commented on #6386
Hi @manueliglesias , please check below:

[code]

[2020-07-23 11:09] nihp commented on #6286
@mauerbac I have clarifications. https://github.com/aws-amplify/amplify-js/issues/6393.

Any thoughts?

[2020-07-23 12:31] Jahans3 opened #6395 "Docs issue - What's the correct way to create and query one-to-many relationships with DataStore/AppSync?"
**Describe the bug**
Two related issues related to documentation: creating the relationships and querying them using DataStore.

The way the Amplify JS docs suggest creating one-to-many relationships seems a bit counterintuitive, it suggests using a combination of `@connection` and `@key` directives then storing IDs. Using this method they don't appear to have a genuine relationship - this is high

[2020-07-23 13:10] muriloneo opened #6396 "S3Image attributes like ALT"
**Is your feature request related to a problem? Please describe.**
I need my S3Image with ALT attribute.

**Describe the solution you'd like**
accept all IMG related props

[2020-07-23 13:36] slatted commented on #5117
FYI @timoschlueter , @ionutmiftode :

So looks like our path forward is the right one (for now), and hopefully they move forward on the roadmap item at somepoint.

<3

[2020-07-23 14:02] sw-yx commented on #6395
its a fair question and one i just ran into myself. appreciate the feedback!

[2020-07-23 14:12] apoorvmote commented on #5435
I have tested `Auth` with `withSSRContext` and it works as advertised. But I am using `amp` pages for loging in with [amp-access](https://amp.dev/documentation/components/amp-access/?format=websites).
I need to build 3 Rest API endpoints
1. /check-auth-status
1. /login
1. /logout

I make post request on each endpoint to get login status, submit login info and logout the user. Its pretty self expla

[2020-07-23 14:35] Jahans3 commented on #6395
Thanks @sw-yx. Also sorry I probably wasn't as clear as I could have been - I was asking which method is correct?

Should I use two `@connection` directives or follow the `@key` + `@connection` method? If it's the former, then how can I query this using the JS SDK? It only ever returns the "one" portion of any one-to-many relationships. If it's the latter, then will I run into issues when building

[2020-07-23 14:40] iofluxdev1 commented on #54
Sitting with the same problem now. We have an iOS client that associated users with cognito identity IDs and the project lambdas use the cognito identity ID. Now we want to add a web client that uses oidc and cognito user pool authorizers which as far as I can tell does not expose the cognito identity ID. I now need to figure out how to get the cognito identity ID from the info that is in the requ

[2020-07-23 14:43] Jahans3 commented on #6395
So quick update, if I make the query in the AppSync console using the schema setup described in the iOS docs everything works exactly as expected. Which begs the question: since this is happening on the AppSync side, what is going on in the JS DataStore SDK to break this functionality?

Feels like a blocker, do I need to start removing DataStore from my app if I want this to work? @sw-yx

[2020-07-23 14:51] sw-yx commented on #6395
@Jahans3 straight answer is i dont know, i'm still pretty new to datastore myself. i'll refer this to the team and try to get an answer for you as im pretty interested in it myself. what @gsans told me was that both are different ways of tackling this same problem. the `key + connection` method uses dynamodb sort keys to group members together, whereas the `connection + connection` method nicely e

[2020-07-23 16:06] sw-yx commented on #6395
quick answer from the team - yes, unfortunately in JS the `key + connection` method is recommended for now because of current limitations in lazyloading.

[2020-07-23 16:33] Jahans3 commented on #6395
That's a shame, but thanks for the quick update anyway @sw-yx

Is it OK if I query the "many" portions of my relations using the predicate argument (`DataStore.query(Child, r => r.parentId('eq', parent.id))`) instead of the way specified in the docs - is there a special reason they suggest filtering in the client?

[2020-07-23 16:43] shreyansjain commented on #6344
Incidentally, I noticed, some of the MFA texts were being sent from `ap-southeast-1` (Singapore) region, even for users based in India.
It might be better to increase spend limt for different regions.

[2020-07-23 17:06] mauerbac commented on #6395
Thanks @Jahans3 and @sw-yx . Going to move this to our docs repo.

[2020-07-23 17:48] AakashPat commented on #6344
@shreyansjain , Indeed my problem was resolved after increasing spending limits in the required region (eu-west-1 in my case).

[2020-07-23 18:04] gHashTag opened #6399 "AppSync query does not work, but the record is added to DynamoDB."
## Created the following schema:

[code]

## Caused a mutation:

`await API.graphql(graphqlOperation(createProfile, { input: values }))`
[link](https://github.com/fullstackserverless/Sumerian/blob/23ab52e2894165de2849665293ea3a7a26ec39bc/src/screens/Authenticator/SignUpUsername/index.tsx#L39)
✅Successful answer

## After I make  a query

`await API.graphql(graphqlOperation(listProfiles))`

[link](

[2020-07-23 18:07] UnderSampled commented on #6064
It seems that Paho supports a success callback on the call to subscribe. It should be possible to await that in the call [on line 263 of Mqtt over WS](https://github.com/aws-amplify/amplify-js/blob/8c6fb4aefa60b36ed33d89c431e743f674119bde/packages/pubsub/src/Providers/MqttOverWSProvider.ts#L263).

[2020-07-23 18:18] dd-ssc opened #6400 "federatedInfo from cache is null"
**Describe the bug**

In my React application, I use Google SignIn with AWS Cognito exactly as shown [here](https://docs.amplify.aws/lib/auth/advanced/q/platform/js#google-sign-in-react).

First up: THANK YOU VERY MUCH for the awesome documentation - super helpful and clearly one of the reasons why AWS in general and AWS Amplify especially stand out from the rest! ❤️ 👍 💯

Now, I get valid and plau

[2020-07-23 18:24] amhinson commented on #6158
@JohnAtFenestra Are you still seeing this error with the latest version released (3.0.21)?

[2020-07-23 18:32] amhinson commented on #6241
@ArionMiles This might have something to do with the Firebase dependencies. We have plans to upgrade these in the future, but for now are you able to test with the ones mentioned in the docs and see if `onRegister` is called?

Could you also try putting `PushNotification.onRegister` inside the component when it mounts (either `componentDidMount` or `useEffect` that only runs once)?

[2020-07-23 18:34] ashika01 commented on #6239
@urfnaino - Officilally, you must be using `@aws-amplify/ui-angular` which supports version 3.X.X.

@ChrisSargent I will look into the storage dependency.

[2020-07-23 18:39] standemchuk commented on #5539
Experiencing the same issue with latest expo and even clean RN. The call to SignIn can is steady at 40-60s on a clean app that just does `SignIn`, no other logic. Sometimes it can take up to 3 min 😮
Anyone close to a solution or a workaround?

[2020-07-23 18:41] evcodes commented on #6100
Hi nocoli, what application are you currently working on building? I want to walk through the steps but just needed some more context from you.

Thank you!

[2020-07-23 18:41] amhinson commented on #5539
@standemchuk If you could provide a sample repo that consistently shows this behavior, that would be wonderful! So far, I've been unable to reproduce the issue described.

[2020-07-23 18:58] lisandrolan commented on #6195
I have the same issue and changing the export file does not solve it.

[2020-07-23 19:01] ashika01 commented on #6195
@lisandrolan are you setting up exactly as mentioned here as well? https://github.com/aws-amplify/amplify-js/issues/6195#issue-647362942

[2020-07-23 19:27] standemchuk commented on #5539
@amhinson Hi and thanks for a quick reaction!
Here's a repo on which we're trying to find a fix for an issue: https://github.com/standemchuk/amplify-rn-long-response-repro
Please make sure you update the values for `userPoolId` and `userPoolWebClientId`, they're currently marked as `SUBSTITUTE_ME`.

[2020-07-23 19:30] standemchuk commented on #5539
@amhinson sorry, just pushed a small updated to make sure the app launches, please pull the latest changes

[2020-07-23 19:37] jordanranz commented on #6183
Hey @tolivestone,

Sorry my previous response wasn't sufficient. Could you try adding something similar to [this line](https://github.com/aws-amplify/amplify-js/blob/main/packages/aws-amplify-react/src/XR/SumerianScene.tsx#L133) to your constructor, your `componentDidMount` or inside of your `sceneLoaded` function. You'd should be able modify it to automatically enable audio like:
[code]

[2020-07-23 20:09] uxtx opened #6402 "Verify forgotPassword code prior to prompting user to submit new password"
**Is your feature request related to a problem? Please describe.**
When a user forgets their password, and goes through the ForgotPasssword flow, they receive an email with a new confirmation code, and are then prompted to provide the code, username and new desired password. If the confirmation code has expired - the user does not have a way of knowing they need to resubmit the form without first

[2020-07-23 20:09] uxtx opened #11015 "Verify forgotPassword code prior to prompting user to submit new password"
**Is your feature request related to a problem? Please describe.**
When a user forgets their password, and goes through the ForgotPasssword flow, they receive an email with a new confirmation code, and are then prompted to provide the code, username and new desired password. If the confirmation code has expired - the user does not have a way of knowing they need to resubmit the form without first

[2020-07-23 20:10] evcodes commented on #6393
Hello nihp,

As per the documentation on this page: https://docs.amplify.aws/lib/auth/social/q/platform/js you should be able to add authentication via amplify add auth with Federate using social OAuth2.0.

I am currently working on recreating this and will get back to you 👍

[2020-07-23 20:16] abdielou commented on #6108
I want to add some insight into a couple of issues here. Thanks to @mdoesburg for the heavy lifting in providing a multitude of scenarios. In this post, I'm going to focus on the Schemas closest to my use case.

----------------------------------------------------

**Schema#11** has 2 owners, `owner: String` and `editors: [String]`

[code]

When the `DataStore` subscribes to events, the messages t

[2020-07-23 20:43] lisandrolan commented on #6195
my use case is different, Im trying to login with tokens and I cannot get the session.

[2020-07-23 21:02] ramanaditya commented on #612
It is better to have the authentication process working in the backend, due to following reasons
- If a user wants to authenticate from another device
- And for the simple frontend where they do not care about preserving step
- We won't be able to customize it if we are not dealing with just the signup process, like if we want to store the info on a different database.

I have done this through th

[2020-07-23 21:11] dbtorrance commented on #6327
Any update on this?

[2020-07-23 21:30] matamicen commented on #4902
We are trying to do the same, any ideas?
@powerful23 @elorzafe @sammartinez  Did you work on this solutions before?

Thanks!

@elorzafe @sammartinez

[2020-07-23 21:38] matamicen commented on #825
@powerful23 how are you?
Any progress? or any idea to pass the Cognito Mobile credentials (RN) of a user session to a WebView (React.Js)?

Thanks as always!

[2020-07-23 23:34] jordanranz commented on #6388
@simonreitinger, I was able to reproduce with your sample repo, thank you for finding this.

I am not 100% sure what is causing this though. It seems that the Material UI component when rendered inside of the `*ngIf` block does not detect changes on the `input` inside of the material form field. I'll keep investigating the root cause.

[2020-07-23 23:35] chefren commented on #1234
https://github.com/git-guides/git-clone

[2020-07-23 23:39] RandallStanhope opened #6404 "Microphone buffer to Predictions.convert using React Native"
**Describe the bug**
When I send my microphone buffer to Transcribe using Predictions.convert, I only get empty strings back.
I'm not sure whether this should be a bug report or feature request. I'm guessing my audio buffer is formatted incorrectly for Predictions.convert, but the docs don't give enough information to verify that. This may be related to this open issue: https://github.com/aws-ampl

[2020-07-24 00:40] ashika01 commented on #6404
@cedricgrothues thoughts on this?

[2020-07-24 03:35] alexandprivate commented on #6108
Hi there @abdielou thanks for your feedback, following your suggestion I changed the declaration order for the auth rules
[code]
and sadly the same issue came up
`{"errors":[{"message":"Validation error of type MissingFieldArgument: Missing field argument tec @ 'onUpdateTask'"}]}`

So no, changing the order doesn't solve the subscription issue

[2020-07-24 04:51] dd-ssc commented on #6400
**Update**

As a workaround, I am able to obtain the federated info I need as described [here](https://stackoverflow.com/a/49575377):

[code]

I don't know where `localstorage` comes from, might be some builtin React or browser thing; I don't care, this gets me what I need.

[2020-07-24 06:21] nubpro opened #6406 "[DataStore] Performing save() while user is unauthenticated will cause app to freeze"
**Describe the bug**
The mutation will infinitely retry if client performs save() when user is not authenticated.

**To Reproduce**
Two ways to reproduce this:
Method 1: (This method can reproduce the issue consistently)
1. Logout
2. Perform a `DataStore.save()`.
3. App will freeze because of infinite retry in mutation processor.

Method 2: (This is slightly difficult to reproduce but still doable

[2020-07-24 06:37] szhuangx commented on #6386
Does anybody help me?

[2020-07-24 10:06] solisarg commented on #4535
Just a warning: don't forget to update your models when adding the Datastore, otherwise you get errors saying that version doesn't exist (because your models need to be updated)

I skip the model update so get the error, need to run again amplify update API to take care of my models, below an example from the todolist example

![datastore](https://user-images.githubusercontent.com/3658786/88380896

[2020-07-24 11:54] patelvarun opened #6408 "ExpiredToken Error after 1 hr during uploading large file"
We use AWS amplify JS library in our React - UI with Cognito auth role to upload files. we are storing session details (like token) in react state to access in the upload page.

when we upload a bigger file (in GBs like above 5 GB), it’s failing with error  - "AWSS3Provider - error uploading ExpiredToken: The provided token has expired while uploading large file".

we did some research on it. we f

[2020-07-24 13:33] sumeetchawla commented on #6023
This is still an error I think? I am not sure what I am doing wrong.

I get the verification code but when I enter it and click the button, nothing happens and I get the below error:

`[ERROR] 02:29.437 helpers - User is not authenticated`

User is created and confirmed though.

How do I debug this?

[2020-07-24 13:49] IvanCaceres commented on #4652
We still need sorting for Datastore queries, simple Ascending / Descending order for strings and integers would work great, like tradition SQL orderBy databases.

[2020-07-24 14:09] liamaws commented on #6115
Yes the translations are now all changing properly

[2020-07-24 14:10] abdielou commented on #6108
@alexandprivate

Change the order in the generated schema `src/models/schema.js`

[2020-07-24 14:32] abdielou commented on #6108
@alexandprivate Actually I did not look well at your error. Your error is now complaining about `tec` and not `owner`. That means that the order was indeed changed, but the subscription is requiring `tec`. What I would suggest you is to add a new Subscription at your schema `amplify/backend/api/<yourapiname>/schema.graphql`.

Something like :
[code]

[2020-07-24 14:36] cedricgrothues commented on #6404
@ashika01 – You're right, this is related to the docs issue. I'll add it to the contribution board and look into it.

[2020-07-24 15:28] sksaranraj commented on #703
Hi @yuntuowang

Any update on receiving the JWT tokens without UI.

[2020-07-24 15:30] pclements12 commented on #1437
You can workaround this by using the underlying axios instance:

[code]

[2020-07-24 16:57] akoshek commented on #2105
@GutteApps did you succeed to use the keychain? If yes, Can you tell me what is the configuration to be able to reach this implementation

[2020-07-24 17:55] manueliglesias commented on #6322
Thanks @nubpro

This sounds good, we could add a new key on the subscription message, kind of like this:

[code]

For now you can look for the presence of `_version`, that would only help if the item is new, though.

Yeah, this sounds useful. Would a new event on the Hub indicating this help you?

[2020-07-24 18:13] subhendukundu commented on #1852
Is there a roadmap we can follow? WIP status or expected release date etc.

[2020-07-24 19:05] cedricgrothues commented on #6404
@nathander – Are you getting any error message? I get a promise rejection with the following error: "The requested language doesn't support the specified sample rate. Use the correct sample rate then try again." (using 16000 as the `sampleRate`).

[2020-07-24 19:49] ianmartorell commented on #6281
Is this really related to the Amplify JS repo? It sounds like this is what you're looking for: https://github.com/aws-amplify/amplify-cli/issues/4427

[2020-07-24 19:56] nathander commented on #6404
@cedricgrothues -- It's not throwing an error. I'm just getting back an empty string.

[2020-07-24 19:59] ianmartorell commented on #1316
As of the implementation of https://github.com/aws-amplify/amplify-js/issues/2716 you can call `Auth.federatedSignIn({ provider: 'Facebook' })` and it will sign in using User Pool Federation provided you have Amplify configured that way.

[2020-07-24 19:59] ianmartorell commented on #1521
As of the implementation of https://github.com/aws-amplify/amplify-js/issues/2716 you can call `Auth.federatedSignIn({ provider: 'Facebook' })` and it will sign in using User Pool Federation provided you have Amplify configured that way.

[2020-07-24 22:09] dabit3 commented on #5775
@sammartinez @jordanranz I believe this has been implemented now, right?

[2020-07-24 23:52] ssanchezsv commented on #703
Can someone help me to implement with example code **SingIn** & **SignUp** using **Facebook and Google** as Federated Identity with **Cognito AWS**? I need to make a custom login system using that AWS service.

[2020-07-25 02:05] nubpro commented on #6322
I guess that would work too.
It turns out, exposing the remaining mutations in the outbox is much more useful for our usecase as we would like backup the mutations in one place if the user were to logout immediately before the outbox is fully processed.

How does this model merge work?
What strategy does it uses? Auto merge?

[2020-07-25 03:48] #6080 closed

[2020-07-25 20:48] #6093 closed

[2020-07-26 10:00] KevyVo commented on #6372
Sure I will try it

[2020-07-26 12:38] dabit3 commented on #1403
As of this writing the React UI Component library's rewrite, `@aws-amplify/ui-react`, no longer supports the customization of form fields when using the `withAuthenticator`

Instead, it is suggested to use the `Authenticator` and something like the following:

[code]

https://docs.amplify.aws/ui/auth/authenticator/q/framework/react#hiding-a-form-field

We are currently investigating updating the `

[2020-07-26 12:39] dabit3 commented on #1203
As mentioned above and as of this writing the React UI Component library's rewrite, `@aws-amplify/ui-react`, no longer supports the customization of form fields when using the `withAuthenticator`

Instead, it is suggested to use the `AmplifyAuthenticator` and something like the following:

[code]

https://docs.amplify.aws/ui/auth/authenticator/q/framework/react#hiding-a-form-field

We are currentl

[2020-07-26 13:41] dhoulker opened #6411 "Vue js - Cannot read property 'configure' of undefined"
**Describe the bug**
I've followed the instructions here:

https://docs.amplify.aws/start/q/integration/vue

My site works great locally with a development build, but as soon as i run a production build i get a blank site with
`Cannot read property 'configure' of undefined` error in the console

**To Reproduce**
Steps to reproduce the behavior:

Add amplify to an empty vue js component, with this

[2020-07-26 13:53] valtrem commented on #5040
I believe closed issue [#5292 ](https://github.com/aws-amplify/amplify-js/issues/5292) described the situation I am facing more clearly than #5040

It seems to be impossible to retrieve an object with an empty or null array from DynamoDB through Datastore.

For a given property :

- When I use **[String!]!**, I would expect to be able to retreive an empty array.

- When I use **[String!]**, I woul

[2020-07-26 18:25] Jahans3 opened #6412 "Can't query many-to-many relations with DataStore"
**Describe the bug**
As described in title. The docs show us how to create and save mtm relations but using this method it seems we can't query them.

DataStore removes the joining ID fields on the linking schema so it seems impossible to query this using DataStore?

**To Reproduce**
Follow docs on mtm relations:

**Expected behavior**
I should be able to query my data

[2020-07-26 20:54] Jahans3 commented on #6412
Closing not because I found a solution but because I'm removing DataStore from my project, too many limitations in it's current form

[2020-07-26 20:54] #6412 closed

[2020-07-26 22:16] mpgo13 commented on #6138
the issue is still present with that specific user pool created via
cloudformation.

On Mon, 27 Jul 2020 at 8:01 am, stale[bot] <notifications@github.com> wrote:

[2020-07-26 22:33] undefobj commented on #6412
Can you give more details on what you're looking for here? The docs show how to do queries with relations however without a code example it's difficult to answer.

[2020-07-26 23:19] Jahans3 commented on #6412
@undefobj

This:

[code]

Generated this:

[code]

Which meant I could not query the relationship efficiently using `DataStore.query` since the `userId` and `journeyId` fields were omitted from the model.

This won't work since `JourneyUsersBridge.journeyId` does not exist:

[code]

And I can't realistically expect a user to fetch every single instance of a model and then filter those in the clien

[2020-07-27 01:00] belal-mazlom commented on #4272
If user has challenge to change password, Amplify will consider user as not logged in, Lol
I just spend hours thought it's AsyncStorage issue, but found user just need to change password....
https://github.com/aws-amplify/amplify-js/issues/1715

[2020-07-27 01:40] pperron opened #6413 "Using storage.get with download:true option for a JSON file in React Native seems to cache result"
**Describe the bug**
Using storage.get with download:true option for a JSON file in React Native seems to cache result:
`var result = await Storage.get('profile.json', { level: 'private', download: true });
            var user_profile = await new Response(result.Body).json();`

"user_profile" variable will contain the JSON stored in the S3. If I update that 'profile.json' with a:
`Storage.put('pr

[2020-07-27 02:20] szhuangx commented on #6386
up

[2020-07-27 03:17] panindravarma commented on #2829
I am also getting the same issue. Did anyone able to get it working?

[2020-07-27 03:54] Bipboy commented on #6411
React is the same...

[2020-07-27 06:02] nubpro commented on #6162
The current implementation does not allow subscriptions to reinitiate when PubSub returns `Subscription timeout {query: ..., variables: ...}` which is caused by poor network condition when initiating the subscription the first time.

Is it possible that we could do reconnection in this case?

[2020-07-27 06:27] AakashPat commented on #6344
I'm going to close this issue as it has been resolved.

[2020-07-27 06:27] #6344 closed

[2020-07-27 07:45] frankclaassen commented on #5758
Seems it has to o with datastore even when datastore is not added to the project through amplify cli. Install @aws-amplify/datastore and it should work again

[2020-07-27 08:20] luk4sschr0d3r opened #6414 "Auth.federatedSignin - Custom domain gives "this._oAuthHandler is undefined", amplifyapp.com works"
AppId: d37jgjg13juglg

**Describe the bug**
_A clear and concise description of what the bug is._

Auth is working when I access the app via it's amplifyapp.com Domain.
Yesterday (July 26, 2020) I added the first custom domain.
On the custom domain, if the page loads at all, initiating a federated auth produces a JavaScript error.

There is currently also a problem with the Custom Domain and Cloud

[2020-07-27 09:13] Zilvinaskli opened #6415 "SignUp is not permitted for this user pool"
I'm trying to set up a new amplify project but I can't get auth to work.

I've tried multiple times to do the following:
1. amplify delete
2. uninstall amplify
3. delete all remaining entries in the user files, users, or anything else.
4. install amplify
5. amplify configure
6. amplify init
7. amplify add auth
8. amplify push

Everything seems fine and looks good in the CLI and in the web console

[2020-07-27 09:23] Zilvinaskli commented on #6415
delete this post please as it relates to cli page not this. sorry.

[2020-07-27 09:23] #6415 closed

[2020-07-27 09:28] Billybobbonnet opened #6416 "*.csv import in all my cognito user pools is broken"
**Describe the bug**
I cannot import csv in any of my cognito user pools. I open the "create import job" modal on the cognito user pool page, set a name, an IAM role for the import, and a file. When I click on the submit button "create job" it switches to "creating job..." and get stuck.

When I reload the page and run the job, I get an error:

Note that I imported successfully users many times in

[2020-07-27 10:45] standemchuk commented on #5539
@amhinson were you able to reproduce the issue?

[2020-07-27 11:23] vomc opened #6417 "Password reset form (for FORCE_CHANGE_PASSWORD Cognito) is broken in Chrome on Ipad"
It appears that whenever a user attempts to focus on the input field in which they are to enter their new and permanent password, the form resets back to the login form without letting the user complete this action.

To reproduce:

1. Create a user in cognito, give them a temp password and notify them that their account has been set up. User should now be in FORCE_CHANGE_PASSWORD status in cognito

[2020-07-27 11:30] vomc commented on #6417
Note this works on Safari but not in Chrome

[2020-07-27 11:45] nihp commented on #6393
@evcodes Thanks for your reply.

So are you making the changes in the documentation for the instagram login steps? If so it would be great helpful for us.

Here I found facebook, google, apple, amazon
![Screenshot 2020-07-27 at 5 11 27 PM](https://user-images.githubusercontent.com/36992338/88538316-c4f8ce80-d02c-11ea-9adf-da5a9c4990de.png)

[2020-07-27 12:13] rbrazhnyk commented on #5539
@amhinson the issue can be reproduced on android emulator and android phone only. No issues if testing in the browser (had rare issues in iOS though).

[2020-07-27 12:47] luisfuertes opened #6419 "Storage.put fail with large files on Android with react-native"
Storage.put need a blob to upload file.

But react-native has a fetch bug on android with "big" files. You can see [here](https://github.com/react-native-community/discussions-and-proposals/issues/109)

When you try to uplaod video with size of 160mb or more, `const response = await fetch(videoUri)` get next error: `TypeError: Network request failed`(It isnt network error, with small sizes it work

[2020-07-27 13:17] naripok opened #6420 "TypeError on Nullable Array usage with DataStore"
**Describe the bug**

I have a use case where I need to have a children property on my models.
The children will be an array of IDs much like described [here](https://stackoverflow.com/questions/44746923/how-to-model-recursive-data-structures-in-graphql).
The property will be Nullable, as my model don't always have children.

The model is as follow:
[code]

If I try a save operation with a childre

[2020-07-27 13:21] mikan3rd commented on #6411
Thanks @Bipboy !
I had same problem, but I can fix it by changing Webpack 4.44 to Webpack 4.43.
I'd like you to post the relevant URLs.

[2020-07-27 14:48] tobiasfeil opened #6422 "Possibility to mock REST API locally"
**Describe the solution you'd like**
I would like to mock REST APIs, not just GraphQL, locally.

**Describe alternatives you've considered**
Only mock the function locally and test the API only when it's pushed

[2020-07-27 14:53] #6422 closed

[2020-07-27 16:06] amhinson commented on #5539
@standemchuk So far I have not been able to replicate it. Would you be able to share the steps you took after running `amplify add auth`? There could be a certain configuration that might be causing issues.

[2020-07-27 16:37] ashika01 commented on #6417
@vomc I see you are using `aws-amplify-react`. This part of the library is in maintence mode. We have launched, `@aws-amplify/ui-react` which is newer react components. I would suggest you use that and report bug in that case.

Could you try the newer components to see if this issue exists? https://docs.amplify.aws/ui/auth/authenticator/q/framework/react#withauthenticator

[2020-07-27 16:51] ashika01 commented on #6339
@eripoll : We pushed a fix for this last friday. Could try using `aws-amplify` packages with `unstable` version and let us know it fixes the CORS issue?

[2020-07-27 17:38] rahulgolwalkar commented on #3224
Sad to see that this is still an open issue especially when Amazon pushing Amplify big time.

[2020-07-27 18:26] ericclemmons commented on #5435
@apoorvmote Is this with Next.js? (https://nextjs.org/docs/api-reference/next/amp)

[2020-07-27 19:32] adobayua-rpay opened #6428 "FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory"
Sometimes it works, most times it doesn't and throws this error.

[2020-07-27 19:55] ashika01 commented on #6428
@adobayua-rpay Could you please fill out issue template or explain in depth where you are seeing this issue.

[2020-07-27 20:02] dwips commented on #6411
Hi All,
i have the same issue. since i use vue-cli generated project i don't know how to change the webpack version.
any idea how to fix this?

[2020-07-27 20:14] ashika01 commented on #6416
@Billybobbonnet This looks like cognito service issue. Have you asked about this in [aws forum.](https://forums.aws.amazon.com/forum.jspa?forumID=173) I would suggest you ask them.

I am closing this issue since I dont see any relation to Amplify JS. If there is anything from our end, please feel free to ping here and I can re open this issue.

[2020-07-27 20:14] #6416 closed

[2020-07-27 20:48] undefobj commented on #6412
Thanks for the details. I think what you're looking for is lazy loading of the queries which we are tracking here: https://github.com/aws-amplify/amplify-js/issues/5054

[2020-07-27 20:54] #6303 closed

[2020-07-27 21:23] fuhreeus opened #6430 "Project Path Error claims Directory Path does not exist"
**Describe the bug**
Backend build  process is failing and the error references amplifi "featureFlags.js".  My project path exists and it is correct.  This issue started about 4 days ago.

**To Reproduce**
Steps to reproduce the behavior:
1) After updating the lambda function
2) Amplify push -y
3) Go to Amplify Console
4) See error in Build section.

**Expected behavior**
The build should work cor

[2020-07-27 21:24] rbrazhnyk commented on #5539
@amhinson, according to [the docs](https://docs.amplify.aws/lib/auth/getting-started/q/platform/js#create-authentication-service) we don't have to create authentication service from scratch by running `amplify add auth`, but rather we can [re-use existing authentication resources](https://docs.amplify.aws/lib/auth/start/q/platform/js#re-use-existing-authentication-resource).
We [added amplify conf

[2020-07-27 21:41] chai86 commented on #2605
@elorzafe Was a solution ever found for this issue? I keep getting `Network Error` when trying to Auth.SignUp().

[code]

[2020-07-27 22:19] tkampour commented on #4940
I had the same issue. On your stackoverflow question I can see you are using lambda. I found the answer at:
https://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-cors.html

Make sure on the API gateway CORS is enabled and that the lambda function allows CORS on the response as well.

[2020-07-27 22:20] alexhouse commented on #6108
I seem to be hitting this issue using multiple auths even when _not_ using an owner-based auth;

[code]

Subscriptions return null for everything other than any `ID` field.

The apiKey provider is used to update a model from a Lambda function.

[2020-07-27 22:48] amhinson commented on #5539
Are you using any custom Lambda triggers, by chance?

[2020-07-28 00:13] dtruong0 commented on #6411
Also if using Amplify hosting, set make sure that your webpack version is set in the `yarn.lock` file not the `package-lock.json`

[2020-07-28 00:20] solomon911 commented on #6172
Facing the same error with "aws-amplify": "3.0.19" and Azure AD SAML authentication

[2020-07-28 00:53] Anton2501 opened #6434 "Cognito session disappears on page refresh"
Hello
I'm using aws-amplify: "^2.2.6" in my React project. I implemented Cognito authentication via my custom UI, so to authenticate user, I'm using Amplify methods.

The Problem:
After successful signing-in user, if I just refresh the page (one or more times), I see that Cognito-related data, saved in LocalStorage just disappears and I have no idea why. So authenticated user becomes unauthenticat

[2020-07-28 01:11] deracs commented on #6411
Thanks @Bipboy. Had the same issue with the latest NextJS(9.5.0). Just rolled back to a version with webpack 4.43

[2020-07-28 01:14] rbrazhnyk commented on #5539
@amhinson, yes we have custom triggers.

So for the sake of experiment, I've just created **a new Cognito UserPool with no custom triggers**.

<img width="334" alt="Screen Shot 2020-07-28 at 9 05 56 AM" src="https://user-images.githubusercontent.com/4462680/88607403-bc96a700-d0b1-11ea-852b-ccad733e7f98.png">

Here are the settings of the new pool:
<img width="764" alt="Screen Shot 2020-07-28 at 9

[2020-07-28 03:12] alexandprivate commented on #6108
Hi there @abdielou I am using "npm run amplify-modelgen" to generate my models and using DataStore, therefor I'm not writing my own subscriptions instead I'm just defined the models for each table. That's the whole situation here since Amplify is unable to add the right keys to the subscription by running the above script when more than one auth rule is defined.

[2020-07-28 03:16] alexandprivate commented on #6108
Lately, I've found another issue, by using predicates, auth rules seem to be totally ignored if you are setting a model only accessible by the owner, and the query es call using predicates the auth owner rules is ignored and every item from the DB that fulfills the predicate logic is returned even those owned by another user.

[2020-07-28 04:03] alexandprivate opened #6435 "Fetching with predicates ignores models auth rules (DataStore)"
**Describe the bug**
Using predicates with DataStore, auth rules seem to be totally ignored if you are setting a model only accessible by the owner, and the query is call using predicates the auth owner rules is ignored and every item from the DB that fulfills the predicate logic and all items that satisfy the predicates are returned even those owned by another user.

**To Reproduce**
Steps to rep

[2020-07-28 04:37] pedramp20 commented on #5921
I have the exact same problem, where users from external identity providers (federated) cannot update their attributes. Any updates on this?

[2020-07-28 07:22] vomc commented on #6417
@ashika01 We will take a look to see how hard it is to switch everything over.

I am not sure I understand what you mean by maintenance mode though: no support for google chrome for such a critical feature as the login???

[2020-07-28 08:27] apoorvmote commented on #5435
@ericclemmons Yes. So Next.js makes it easy to implement [amp](https://amp.dev/). So the original specification/documentation is available on https://amp.dev/ . I am looking to build basic text commenting system in amp. That requires [amp-access](https://amp.dev/documentation/components/amp-access/?format=websites) component to authenticate users.

For authentication I need to store JWT into a coo

[2020-07-28 09:01] LuXDAmore commented on #5405
@sammartinez Any news?

[2020-07-28 09:37] petrovicigor commented on #5405
Try Amplify 3.0.21

[2020-07-28 09:39] petrovicigor commented on #5405
Try Amplify 3.0.21

[2020-07-28 10:02] patelvarun commented on #6408
Hi, Can anyone help me out on this? Let me know if you require more information on this.
Thanks in advance.

[2020-07-28 11:05] SahilRanjan05 commented on #2087
I am using PHP sdk for aws cognito. I am facing problem in suppressing mfa. How to remember device in aws cognito using php sdk. Thanks...

[2020-07-28 11:08] PeterBurner commented on #5782
does not work with `@aws-amplify/ui-vue` either

[2020-07-28 11:39] patelvarun commented on #4179
I am also facing the same problem - https://github.com/aws-amplify/amplify-js/issues/6408

[2020-07-28 11:51] LuXDAmore commented on #5405
@petrovicigor `@aws-amplify/auth: 3.0.21` and `@aws-amplify/core: 3.0.21`?

Because with [this one](https://github.com/aws-amplify/amplify-js/issues/5405#issuecomment-642529928) fail

[2020-07-28 12:03] abdielou commented on #6108
What I do is that I edit the generated Schema at AppSync. Although there might be a better way to do this, I really don't know yet.

[2020-07-28 12:12] abdielou commented on #6108
That's weird. We need a maintainer here.

@elorzafe @manueliglesias @ericclemmons @iartemiev 🙏

[2020-07-28 13:20] filburt-turle opened #6438 "Amplify w/Federated Identities that are not list in Amplify but listed in AWS?"
Hi,

I have an application that needs to use a federated identity that is not included in (google, facebook, amazon).

https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-integrating-3rd-party-saml-providers.html

Either Auth0 or PingIdentity.

I have them working separately when I setup cognito without having to use amplify, but I'm wondering how those settings translate

[2020-07-28 13:25] nir099 commented on #2605
hey everyone who got this issue here's whats happened in my scenario. the cause for this issue was that the emulator doesn't have the access to the internet , please make sure that you emulator has the network connection, that's the reason to display error "Network Error".  Please make sure your emulator is displaying wifi icon.

[2020-07-28 14:13] dedsinon commented on #612
@yuntuowang Hi, may I ask if the redirection from the confirmation link has already been solved?

[2020-07-28 14:14] dedsinon commented on #612
Have you found a solution on this?

[2020-07-28 14:41] mpiivonen opened #6439 "Existing and working user will receive NotAuthorizedException exception with correct username and password when upgraded from 3.0.2 to 4.3.3"
**Describe the bug**

**amazon-cognito-identity-js**
Cognito, Auth

Updated from version 3.0.2 to 4.3.3
Existing and previously tested and confirmed to work user will receive NotAuthorizedException when trying to login

**To Reproduce**
Steps to reproduce the behavior:
Should be able to reproduce which ever login flow functionality or examples that are widely available on web

**Expected behavior*

[2020-07-28 15:22] wlee221 commented on #6324
Hi @shresthapradip, this should be fixed on our latest release. Please feel free to open a new issue if problem still persists.

[2020-07-28 15:22] #6324 closed

[2020-07-28 15:43] ashika01 commented on #5836
@hyprstack Usually this happens in case one dependencies not being linked to each other properly. Either use all latest version or using all pinned version should help you fix this issue.

[2020-07-28 16:24] tomjannak opened #6440 "Props or option to disable sign-up Submit button until user checks Agreement of site's Terms and Conditions"
**Is your feature request related to a problem? Please describe.**
Need to have user agree to application's/site's user's Terms and Conditions displayed alongside the AmplifySignUp form prior to allowing the user to submit the sign-up/registration form.

**Describe the solution you'd like**
Using React/JavaScript, I can set a props or other method to enable the Amplify form's submit button.

**Des

[2020-07-28 16:32] ericclemmons commented on #5435
@apoorvmote If you're using `@preview` (https://github.com/aws-amplify/amplify-js/issues/5435#issuecomment-655660103), `/check-auth-status` should be able to return the current user via something like:

[code]

`/login` & `/logout` dedicated routes aren't supported as part of this preview because authentication is delegated to Cognito on the client.

Can you open a new issue as a Feature Request w

[2020-07-28 16:36] amhinson commented on #5539
@rbrazhnyk Would you be able to reach out to me on our [Discord](https://discord.gg/jWVbPfC)? I'm still not able to reproduce the issue, but it could be helpful for me to test directly against your new User Pool.

[2020-07-28 16:51] edmbn commented on #1852
Would be nice some kind of information. At least to know if we should wait or shuffle other possibilities 🙏🏻

[2020-07-28 17:37] richiewebgate commented on #5782
same issue with aws-amplify-angular

[2020-07-28 18:13] ashika01 commented on #6440
@tomjannak have you tried using https://docs.amplify.aws/ui/auth/authenticator/q/framework/react#slots to achieve the use case?

[2020-07-28 18:13] karldanninger commented on #6318
Hey @amhinson is there anywhere I could help with this issue?
I'm unfamiliar with the `@aws-amplify/pubsub` repo as a standalone package. Is there sample repos I could fork? Alternatively could I split up `aws-amplify` deps in `package.json` to narrow down the issue?

[2020-07-28 18:25] ashika01 commented on #6438
@filburt-turle we are working on this right now. This is the issue we are tracking, https://github.com/aws-amplify/amplify-js/issues/5860 the information on. Should be having a doc update soon on that.

[2020-07-28 18:25] #6438 closed

[2020-07-28 18:30] ashika01 commented on #6434
@Anton2501 Does the problem also occur with the latest version?! Could you please verify that.

[2020-07-28 19:06] elorzafe commented on #6439
@mpiivonen can you share your package.json file, also did you try this on a fresh install (without lock files)

[2020-07-28 19:11] KevyVo commented on #6372
@jordanranz  and @manueliglesias both help me solve this error by adding the piece of code to switch the front.
[code]

[2020-07-28 19:11] #6372 closed

[2020-07-28 19:12] tomjannak commented on #6440
I guess the AWS Support Operator did not find this option and requested I post the feature request. From the article above, it looks like the following can work. It is better than my work around because if the user is already registered in Cognito and thus previously accepted the terms and conditions, I can default the checkbox when they land on the Sign-in equivalent of this page, versus the regi

[2020-07-28 20:15] div5yesh commented on #6438
@filburt-turle Please refer: [[Auth0](https://aws.amazon.com/premiumsupport/knowledge-center/auth0-saml-cognito-user-pool/), [Okta](https://aws.amazon.com/premiumsupport/knowledge-center/cognito-okta-saml-identity-provider/)].
When you add Auth to Amplify project with any of the Default Configuration, Amplify will create a user pool, add App client and a domain name. So you can skip those steps.

[2020-07-28 20:58] filburt-turle commented on #6438
@div5yesh I'm not trying to create a cognito resource, I'm just trying to tie in my already existing cognito w/amplify, this is more of a configuring the `aws-exports.js` correctly for federated signin w/custom auth

@ashika01 I'm primarily interested in PingIdentity -- if there's a way to get that provider working w/Amplify that would be great.

[2020-07-28 22:01] chai86 commented on #2605
@nir099 Yup, Emulator can access the internet. I get a 'This connection is not private' page on the web browser, but when i click visit anyway, it does get me to the website. Perhaps this is the issue?

[2020-07-28 22:04] eripoll commented on #6339
Hi @ashika01
I have just installed and tested.
Things work fine when my user is in the regular "Users" group.

However, when I login as a member of the "Administrators" group, I get the following feedback:

[code]

It really does seem that having Groups with Cognito does not play well with Pinpoint...
Any input on how I could save this without mingling with CloudFormation scripts generated by Ampl

[2020-07-28 22:27] epeterson320 commented on #5655
The email address is considered the username by Cognito, but often not by the end user. I'd like to see this fixed too, as it will prevent confusion for them.

[2020-07-28 22:37] ashika01 commented on #6339
Could you see if any of these helps or related,
- https://github.com/aws-amplify/amplify-cli/issues/4772
- https://github.com/aws-amplify/amplify-cli/issues/4414

i think this might be more on cli front than JS.

[2020-07-28 22:42] adamup928 commented on #5403
Can confirm that applying the local patch mentioned by @Stephan221713 allows our subscriptions to reconnect gracefully when returning from standby on MacOS. Without this fix, the subscriptions do not connect.

[2020-07-28 22:47] sammartinez opened #6442 "Feature Request test"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-07-28 22:47] #6442 closed

[2020-07-28 22:54] ashika01 commented on #6438
@filburt-turle To answer first bit, have you check in `Amplify CLI` for a way to pull in existing resources or you can always manually configure using `Amplify.configure`. This might help - https://docs.amplify.aws/lib/auth/start/q/platform/js#re-use-existing-authentication-resource

Are you running into any issue with pingIdentity? If its similar to Auth0 or Okta, you might be able to use the lin

[2020-07-28 23:03] rubene commented on #5918
We are facing the same issue, but it does not happen consistently. After inspecting our error tracking tool the call to get the credentials on https://github.com/aws-amplify/amplify-js/blob/3642e6af455ee1848c1cc743a7a503e96baefa41/packages/core/src/Credentials.ts#L102  seems to be getting a 400 response from Cognito

[2020-07-28 23:06] ashika01 commented on #5841
@blasco This is not possible right now. But I can mark this as feature request to bring this functionality into our storage category. The way to do this right now would be to do workaround @elorzafe suggested.

[2020-07-28 23:09] hiBrett commented on #5834
I'm running into the same issue, except with React.JS. The first time a user enters a wrong challenge code the error is as it should be "Incorrect username or password." Then, submitting either a correct or incorrect challenge code then gives the error "Invalid session for the user".

[2020-07-28 23:25] manueliglesias commented on #6435
Hi @alexandprivate

Every operation you do on the DataStore happens locally first. What you are seeing is that your local data still has data from another user.

Here the recomendation is to clear the DataStore when a user signs out/in with:

[code]

[2020-07-28 23:44] pedramp20 opened #6444 "Federated user fails to update mutable attributes with a 400 response: "Access Token does not have required scopes""
**Describe the bug**
Using  "aws-amplify": "3.0.22", when a federated user from an external identity provider (e.g. Google) tries to update a mutable (in my case custom) attribute, it gets a 400 error as follows:

`code: "NotAuthorizedException"
message: "Access Token does not have required scopes"
name: "NotAuthorizedException"`

Please note that an internal user can successfully update the attri

[2020-07-29 00:04] rbrazhnyk commented on #5539
@amhinson what is your username in Discord? `amhinson` does not return anything in seach results.
My username is `rbrazhnyk` there. Perhaps you can ping me.

[2020-07-29 00:38] alexandprivate commented on #6435
Hi there @manueliglesias thats exactly what's happening, any recommendation to achieve this using withAuthenticator ?

[2020-07-29 00:46] mattmarcum commented on #3732
Is someone going to reopen this or should we create a new bug report...?

[2020-07-29 01:06] tarunama opened #6445 "Typo ProvidertOptions -> ProvidersOptions in @aws-amplify/pubsub ?"
**Describe the bug**
ProvidertOptions -> ProvidersOptions or ProviderOptions ?

**To Reproduce**
https://github.com/aws-amplify/amplify-js/blob/e85640a4e18fa1d55411038fee58919ad73121fa/packages/pubsub/src/types/Provider.ts#L14

**Expected behavior**
confirm that valid variable name.

[2020-07-29 01:12] tarunama commented on #5881
In progress ?

[2020-07-29 01:23] ffxsam commented on #6134
@elorzafe I can confirm, same issue. Works totally fine from my local machine, but once I deploy to AWS Amplify in a staging environment, I get the error `[ERROR] 17:30.884 AuthClass - Failed to get the signed in user No current user`.

Here's my Amplify setup:

[code]

And the result of the `aws` call you asked for above:

[code]

[2020-07-29 01:31] ffxsam commented on #6134
@elorzafe Ahh, changed to localStorage vs cookies, and now it works. So this appears to be a bug in that particular case. Strange that it works when I'm on localhost, though!

[2020-07-29 02:11] apoorvmote commented on #5435
@ericclemmons
I tried something similar. Instead of building API I was testing `getServerSideProps` on login page just to verify if I am logged in on client then am I logged in on server? Something like following.
[code]
I was logged in on client but on server user was null. I was able to get user on the same page on client like follows.

[code]
I am new to `nextjs`. So I don't know if I have impl

[2020-07-29 02:56] nonbeing opened #6446 "Logo passed in to AmplifyGreetings is not rendered"
**Describe the bug**
I am trying to customize the `AmplifyGreetings` component in my React app. I'm using the instructions at [the official amplify docs](https://docs.amplify.aws/ui/auth/authenticator/q/framework/react#greetings).

I am using `"@aws-amplify/ui-react": "^0.2.8"`.

I am passing props to the `AmplifyGreetings` component in my App.js like so: `<AmplifyGreetings logo={Hello} username={

[2020-07-29 03:15] apoorvmote opened #6447 "amp-access support for nextjs"
**Is your feature request related to a problem? Please describe.**
I can't login users with amp in current setup. Cognito stores auth information on local storage and amp doesn't allow easy access to local storage. Amp requires auth information to be stored in cookies. For more information checkout [amp-access](https://amp.dev/documentation/examples/components/amp-access/?format=websites).

**Desc

[2020-07-29 04:06] ericclemmons commented on #5435
@apoorvmote It sounds like you're doing all the right things!  One last check: does your client-side code also use `withSSRContext`? Otherwise, the credentials aren't made available to the server:

[code]

Otherwise, I'd need to check to see if Next.js' AMP behavior changes things somehow...

[2020-07-29 04:17] abdielou commented on #6108
@alexandprivate this might be of interest to you. Not using DataStore yet... I'm going to try that later.

https://github.com/aws-amplify/amplify-cli/issues/4794#issuecomment-665420716

[2020-07-29 04:24] alexandprivate commented on #6108
Thanks @abdielou I'll take a look at it!

[2020-07-29 04:33] apoorvmote commented on #5435
@ericclemmons
Does it make any difference with
[code]
vs
[code]
Because I am using the first version.

[2020-07-29 06:17] daundkarmangesh commented on #1378
This issue is resolved in the latest stable versions of analytics and auth. Installing below versions resolved the issue for me.

 "@aws-amplify/analytics": "^3.2.5",
 "@aws-amplify/auth": "^3.3.3"

[2020-07-29 06:18] daundkarmangesh commented on #5423
This issue is resolved in the latest stable versions of analytics and auth. Installing below versions resolved the issue for me.

"@aws-amplify/analytics": "^3.2.5",
"@aws-amplify/auth": "^3.3.3"

[2020-07-29 07:06] mpiivonen commented on #6439
Took off most of the packages but in the case you were thinking could cause be with some other package I could provide full package file but here are aws related packages and versions in use:
[code]
I did try fresh installs with both versions as removed node_modules and package-lock.json
I realized the previous version didn't support client with secret so not sure has this changed and testing usin

[2020-07-29 07:06] Druux commented on #5119
@undefobj Could you please give us a brief status report?

[2020-07-29 07:56] tuanardouin commented on #2598
I'm also working with amplify but with vuejs and I had this problem. @elliott-king answer is correct, my `babel.config.js` file look like this :
[code]

[2020-07-29 08:18] urfnaino commented on #6239
@ashika01 : including `@aws-amplify/ui-angular` didn't help. Here is the new set of dependencies:
[code]
As I said, module `aws-amplify-angular` is the one complaining about these unresolved modules and I don't see `@aws-amplify/ui-angular` importing any of those modules.
Plus, I am using Cognito hosted UI for authentication; so do I even need `@aws-amplify/ui-angular`? Because I believe we only n

[2020-07-29 08:50] rupertlssmith commented on #3732
The problem is that the bug is not in amplify, it is in cognito which is not an open source project. I don't know where we can get visbility into what is happening with cognito, if will be fixed, if anyone is even looking at it or cares.

[2020-07-29 08:50] greimela commented on #5403
I just opened a pull request fixing this issue, since it seems to impair multiple people.

[2020-07-29 10:02] desyatnik commented on #4315
Having exactly the same issue with Nuxt in Universal mode and latest amplify version: 4.25.0
Everything seems to work fine, but the error still appears.
I've tried all solutions/workarounds proposed here to no avail.
Any ideas please?

[2020-07-29 12:02] nir099 commented on #2605
hey @chai86 did you try this, shut down the laptop, start again then connect to the internet then run the emulator, verify the wifi icon is on, remove the app from the emulator , run npx react-native run-android if you using RN. then try again. the reason why I'm telling this because in my problem it got solved automatically, i didn't do anything in particular in next day when i run the emulator i

[2020-07-29 12:54] julioxavierr commented on #3524
+1

This is a must have

[2020-07-29 14:38] ojemuyiwa commented on #6414
Similar issues: upgraded `aws-amplify`: `^3.0.22` and `aws-sdk`: `^2.721.0` and the following breaking changes occur:

`import { CognitoHostedUIIdentityProvider } from "@aws-amplify/auth/lib/types";`

`Auth.federatedSignIn({
      provider: CognitoHostedUIIdentityProvider.Cognito
    });`

CognitoHostedUIIdentityProvider is always undefined. on *Angular 10.0.5*

[2020-07-29 14:39] sawyerh commented on #6411
Adding a note that I ran into this using `aws-amplify@3.0.22` and `aws-amplify-react@4.1.21` so this isn't exclusive to Vue.

[2020-07-29 14:51] sawyerh commented on #6411
Here's a reproduction of this issue, using just `aws-amplify`: https://github.com/sawyerh/amplify-nextjs-ssr/tree/b5eb93f895e1f7067aeb5e03abff987e0b9357ed

You can reproduce it by running:

[code]

[2020-07-29 15:04] sawyerh commented on #6411
Looks like this may only be an issue when importing the default export:

[code]

The issue seems to be resolved if you use the named export instead:

[code]

[2020-07-29 15:24] alimdar commented on #5167
any info on this issue?

[2020-07-29 15:29] vukers commented on #3224
Also seems that AWS has removed mentions of CookieStorage from their documentation.

[2020-07-29 15:51] luk4sschr0d3r commented on #6414
@ojemuyiwa - FYI - in my case it is **not** always undefined.

It is just undefined when I try to access it via my Custom Domain.

When I access the App via https://master.$appid.amplifyapp.com/ it works 100% reliable.

It's probably related to how the App is deployed to the CDN?!

[2020-07-29 15:53] txnico commented on #6390
Any update or suggestions?

[2020-07-29 16:09] alexandprivate commented on #6435
Hi there @manueliglesias I'm using a workaround to clear DataStore data in the browser with the latest version of withAuthenticator/@aws-amplify/ui-react just is not the fancies but it works.

1. Avoid using the AmplifySingOut component to log out
2. Use Auth API to sign out, clear datastore and refresh the window later

`
// IMPORTS
import { Auth, DataStore } from "aws-amplify"

// METHOD
const h

[2020-07-29 16:17] carl0shd commented on #4424
Hi, is possible to login with SAML without Hosted UI, simply the provider will be the name of the provider configured in identity providers.

Example:

Auth.federatedSignIn({ provider: '<your saml name provider>' })

this bypass the Hosted UI and open your SAML directly.

[2020-07-29 16:22] ojemuyiwa commented on #6414
Ah I see. After hours of trial and error i've just noticed mine works using `import { CognitoHostedUIIdentityProvider } from "@aws-amplify/auth/lib-esm/types";`. I have no idea why though hmmm..

[2020-07-29 17:13] ericclemmons commented on #5435
@apoorvmote You only need one instance of `Auth` on the client, so the first is preferred.  The second version you're using would re-create `Auth` (and all of Amplify) with each re-render of `Homepage`.

Even though it's less optimal, you're doing the right thing: so long as the authentication flow completes successfully on the client, the server should then be able to access the current user.

[2020-07-29 18:14] ashika01 commented on #6446
@nonbeing This might not be working, we have seen a similar issue like this one before. It was a constraint on using react bindings. Will mark this a bug to work on it. Thank you for reaching out.

[2020-07-29 18:18] ashika01 commented on #6445
It is a typo for sure. But it is a consistent typo used all over properly. I will close this issue. But if you are interested in fixing the typo and testing it, please feel free to open a PR 👍

[2020-07-29 18:18] #6445 closed

[2020-07-29 18:21] ashika01 commented on #6444
@pedramp20 Could you open your aws console and double check if these scopes are enabled in `App client settings`. Also, see in google provider if these scopes are setup?!

[2020-07-29 19:28] jordanranz commented on #6446
I think the correct way to implement this is using a "logo" slot. This should be a simple PR. I'll see if I can push something up today.

[2020-07-29 21:01] #6357 closed

[2020-07-29 22:05] anthonyhumphreys commented on #4424
Hi, sorry I forgot I'd opened this. Can confirm this works in our React Native application using a SAML provider - passing in the name of that provider takes us to our corporate SSO portal.

[2020-07-29 22:05] #4424 closed

[2020-07-29 22:05] amcdnl commented on #4600
+1 - Any updates on this?

[2020-07-29 22:06] Anton2501 commented on #6434
I figured out the problem, it's not cognito's fault. Thank you for your time

[2020-07-29 22:06] #6434 closed

[2020-07-29 22:39] ashika01 commented on #6435
@alexandprivate i think you maybe able to use `onAuthUIStateChange` to do this on AuthState.SignedOut. Have you tried using this function in your `withAuthenticator`?

[2020-07-29 22:44] ashika01 commented on #6390
@txnico Have you tried to import Amplify from "aws-amplify" rather than core?If not could you give that a try, cleaning your node_modules and package lock files?

Something like this,

import Amplify, {API, Auth} from 'aws-amplify';
import { withAuthenticator } from 'aws-amplify-react-native';
import awsmobile from './aws-exports';

Amplify.configure(awsmobile);

[2020-07-29 22:47] ashika01 commented on #4857
@avronyc I think this doesn't happen anymore. Could you verify this with newer versions and let us know. I will close this issue for now, since I wasn't able to reproduce this. But if it still happens, ping me and I can reopen this issue.

[2020-07-29 22:47] #4857 closed

[2020-07-29 23:05] hisham commented on #4600
@amcdnl is this still happening for you? It seems this got resolved somehow on my side, I'm no longer seeing multiple OPTIONS requests.

[2020-07-29 23:06] alexandprivate commented on #6435
Hi there @ashika01 certainly not, let take a look at it.

[2020-07-29 23:09] ashika01 commented on #5801
@chadfaurie I just tested this with google federation and I am able to put the object properly. I can see 200 status code on my network tab also the file uploaded in my s3.

My code is pretty simple,
[code]
**Before login:**
<img width="597" alt="Screen Shot 2020-07-29 at 5 05 07 PM" src="https://user-images.githubusercontent.com/35131273/88862598-f1902000-d1bd-11ea-8c27-fddc6b281c19.png">

**Afte

[2020-07-29 23:09] #5801 closed

[2020-07-29 23:14] ashika01 commented on #4923
@edgarjs - Could you try using `@aws-amplify/ui-react`? This shouldn't be happening in the components now.  We are moving away from `aws-amplify-react` usage to `@aws-amplify/ui-react`.

For more info, refer this docs for implementation - https://docs.amplify.aws/ui/auth/authenticator/q/framework/react

Feel free open up a new issue, if you have any feedback, bug or feature request with respect to

[2020-07-29 23:14] #4923 closed

[2020-07-29 23:35] bitfrost commented on #4486
Please consider adding support for this directly in $cts.request  we have use cases around httpOnly cookies will not work by playing the header switching game in the client via javascript.  Adding something like cloudfront + edge lambdas just for this is ...terrible.

[2020-07-29 23:42] easiruwa commented on #399
I'm also experiencing issues with this in a production enviroment. Are there any updates?

[2020-07-30 00:01] #6350 closed

[2020-07-30 00:50] alexandprivate commented on #6435
Hi there @ashika01 it works like a charm! I'm leaving a hint here just in case someone needs to use it

![carbon (1)](https://user-images.githubusercontent.com/7695887/88868027-b1886780-d1d4-11ea-9066-613d94144497.png)

@manueliglesias this could be closed if you wanted.

[2020-07-30 00:54] pedramp20 commented on #6444
They are and as I mentioned in my report, internal users can set them just fine.  I am not sure what you mean by see in the google provider if these scopes are setup, as the only thing needs to be setup is client id and secret and attribute mapping. This attribute is not mapped from the external provider.

[2020-07-30 01:03] apoorvmote commented on #5435
@ericclemmons Thanks for clarification. Nextjs does show some promising features. But I am working on to somehow make [amp-access](https://amp.dev/documentation/components/amp-access/?format=websites) work with whatever technology that works. Then transfer the knowlege to upgrade to Nextjs with amplify. And twist Amplify to fit my workflow.

[2020-07-30 01:04] pedramp20 opened #6452 "When given name is set as a required attribute and Facebook is configured as an identity provider, the attribute mapping is set incorrectly."
**Describe the bug**
When given name is set as a required attribute and Facebook is configured as an identity provider, the attribute mapping is set incorrectly. rather than first_name to be mapped to given name, given_name is mapped, which is not provided in the token passed by facebook and would cause the following error:

ror handling auth response. Error: attributes+required%3A+%5Bgiven_name

[2020-07-30 01:21] pedramp20 commented on #6452
if anyone else is facing this issue, you can solve it by modifying the parameters.json file and changing the "hostedUIProviderMeta"

[{\"ProviderName\":\"Facebook\",\"authorize_scopes\":\"email,public_profile\",\"AttributeMapping\":{\"email\":\"email\",\"family_name\":\"last_name\",\"given_name\":\"first_name\",\"username\":\"id\"}}]

[2020-07-30 01:31] nonbeing commented on #6446
@ashika01 @jordanranz really appreciate the speedy response! Thank you - at least I now know that this is indeed a bug and not "user error" of some kind!

Jordanranz: I actually like the current mechanism of passing a functional logo component as a prop to `AmplifyGreetings`; this is what I think is intuitive and fairly common. I'm already importing the SVG logo functional component anyway, so all

[2020-07-30 01:32] #6435 closed

[2020-07-30 01:33] alexandprivate commented on #6108
Hi there @abdielou looking at the generated schema in backend/api/<APINAME>/build/schema.graphql the generated subscription looks like

`type Subscription {
    ...
    onUpdateTask(tec: String!, owner: String!): Task @aws_subscribe(mutations: ["updateTask"])
    ...
}
`

Schema used to generate the build

type Task
    @model
    @auth(
        rules: [
            { allow: owner, ownerField: "te

[2020-07-30 02:34] szhuangx commented on #6386
Added some configuration to fix this issue

[2020-07-30 02:34] #6386 closed

[2020-07-30 02:40] danrivett opened #6453 "DataStore - Omitting an optional field from a model object results in error on save"
**Describe the bug**
Given a GraphQL schema which defines a model type with an optional (string) value, if a model instance is saved without defining that value (it's optional after all), it will fail; definging a `null` value for the optional value succeeds.

**To Reproduce**
This was recently demonstrated to us when we had a graphql schema like the following:

[code]

When calling something like

[2020-07-30 03:30] ashika01 commented on #4978
@adam-casey-devetry Could you try using `@aws-amplify/ui-react`. I just tried reproducing using that, everything seems to be working fine. We recommend everyone to move from `aws-amplify-react` to `@aws-amplify/ui-react`.

For more info, refer the docs here - https://docs.amplify.aws/ui/auth/authenticator/q/framework/react

My code for federation looks like this,

[code]

Try this, if you are stil

[2020-07-30 03:30] #4978 closed

[2020-07-30 05:11] pedramp20 commented on #6452
This needs to be moved to amplify-cli

[2020-07-30 10:08] rbennell commented on #5978
The doc for attributeType is not great, it doesn't explain anything. Some examples would be nice.

[2020-07-30 10:24] lucasmrdt commented on #5019
Hey, I had the same problem as yours. I found this package [graphql-default-value-transformer](https://github.com/trek10inc/graphql-default-value-transformer#readme) which allows us to add a default value.

I hope this will help you.

[2020-07-30 11:47] #5210 closed

[2020-07-30 12:13] amcdnl commented on #4600
Yup - do you know when it started working by chance? cc @dabit3

![image](https://user-images.githubusercontent.com/227909/88921398-76ba1a00-d23c-11ea-933b-c875bbd79477.png)

[2020-07-30 12:37] ankon commented on #6148
Until #6282 is merged: Is there any documentation somewhere about which parts of @aws-amplify work together with which other parts? It seems to be a horrible mess to try find a matching combination.

In my case: I want @aws-amplify/ui-react (right now seems to be 0.2.13 is the good one) and am building my own login experience, so I guess I want @aws-amplify/auth for that. Should I use the 2.x vers

[2020-07-30 14:38] joae commented on #5604
@sawyerh How do you hide the Toast component? I'm using react and I can't figure out how to do it

[2020-07-30 15:08] amhinson commented on #6439
@mpiivonen Would you be able to share more of your dependencies? Also, when you upgraded to 4.3.3, did you also upgrade any other dependencies?

I tried to test this by creating a user with `amazon-cognito-identity-js@3.0.2` & `aws-sdk@2.6.10` then upgrading to `amazon-cognito-identity-js@4.3.3` & `aws-sdk@2.670.0` and logging in, but everything still seemed to work as expected.