[2019-12-09 17:57] #4535 closed

[2019-12-09 18:04] undefobj commented on #4535
@ykbryan great to hear! Is there anything in the docs that we could improve that would've made this easier for you?

[2019-12-09 18:09] camilobern commented on #4503
Thanks @ericclemmons, I'll try this once I get a chance and report back.

[2019-12-09 18:14] ericclemmons commented on #4509
@Luckygirlllll Let us know if you're still having this problem & provide some additional information so we can better triage & reproduce this. 🙏

Thanks!

[2019-12-09 18:16] ykbryan commented on #4535
@undefobj Can you maybe add/share how will I know if i have setup my syncable API correctly and how to test it locally as well?

[2019-12-09 18:18] Luckygirlllll commented on #4509
I deleted` Pods` and `workspace` and installed `pods` once again, that solved  the problem.

[2019-12-09 18:19] ericclemmons commented on #4509
😌 That's good news!  Thanks for following up!

[2019-12-09 18:19] #4509 closed

[2019-12-09 19:25] #4342 closed

[2019-12-09 19:30] ericclemmons commented on #4510
@groundswel You're spot on: Amplify should be making the backend stuff for you much easier.

The great news is that you can start with the features that make sense without going "all in" on Amplify.

Take `Auth`, for example.  With the Amplify CLI, you can created a hosted UI pretty quickly that users get to with the click of a link.  You'd be able to get the current user with a few lines of code:

[2019-12-09 19:45] jkeys-ecg-nmsu commented on #2556
@undefobj is DataStore going to allow client-side encryption and decryption at some point?

[2019-12-09 19:56] YIPG opened #4537 "User does not exist in SignUp. [React Native]"
**Describe the bug**
You cannot signup using withAuthenticator HOC in Expo.

`User does not exist` error happened.

**To Reproduce**
Steps to reproduce the behavior:

1. Create new app by `expo init test`
2. Following [docs](https://aws-amplify.github.io/docs/js/react) and introduce Amplify `amplify init && amplify add auth && amplify push && yarn add ...`
3. Using withAuthenticator in app.js

**E

[2019-12-09 19:59] undefobj commented on #2556
We're looking at it. The DynamoDB tables that it sync with have encryption at rest already but we're investigating if additional controls can be done here in 2020 for clients.

[2019-12-09 20:22] Ashish-Nanda commented on #4415
Hi @dylan-westbury @Yuvi7447
Is the issue when trying to open any notification your receive?
Or does it only happen if the app is in the background for a while (> 1hr)
Could you share your Android versions?

[2019-12-09 20:53] NL33 commented on #3679
Bump on this issue. It appears that if a user creates an account, but then leaves before being confirmed. And then later tries to:
1) Sign up--it says the account already exists
2) Sign in --it says the user is not confirmed.

So we do indeed need a way to know if the user is registered but not confirmed. In that case, when they try to sign in, they could sign in but then have to verify before pro

[2019-12-09 21:23] undefobj commented on #4535
Thanks @ykbryan I've added this as a backlog item in the CLI repo

[2019-12-09 21:57] Ashish-Nanda commented on #4380
Hi @rnnyrk and @Izbikowski-opensource the fix is in @latest now.

If you can confirm its working, I'll go ahead and close the issue.

[2019-12-09 22:01] Ashish-Nanda commented on #4351
Hi @gvankeerberghen the fix is in `@latest`.

@KristineTrona and @ajdinahmetovic I just tested with 2.2.0 and it worked fine as far as I can tell. This was with a standalone RN app created through the RN cli and not expo. RN version is 0.61.4

Could you tell me more about your setup? Are you using expo or stand alone RN and what is in your package.json?

Looking at this [comment](https://github.co

[2019-12-09 22:03] danhumphrey opened #4538 "Release Notes..."
**Is your feature request related to a problem? Please describe.**

I have no idea what has been included in (for example) @aws-amplify/auth between my current version (1.5.0) and the current release. Should I blindly update and *hope* there are no breaking changes?

**Describe the solution you'd like**

An obvious list of release notes under https://github.com/aws-amplify/amplify-js/releases

**D

[2019-12-09 22:28] manueliglesias commented on #4534
Hi @cpalanzo

I found this excerpt in our docs for [\@auth - Authorizing Subscriptions](https://aws-amplify.github.io/docs/cli-toolchain/graphql#authorizing-subscriptions):

A couple of paragraphs below, you'll see this section:

So, my suggestion would be to try your subscriptions like this:

[code]

I hope this helps!

[2019-12-09 22:48] cpalanzo commented on #4534
Thank you - I'm a newbie taking a course - which does not show the owner being added as you show - but logically it makes sense the subscription should require the owner. However - when I add the code to my code I get:
Line 21:17:  Parsing error: Can not use keyword 'await' outside an async function
I'm sure my code is wrong - but not sure where.

Here is the whole Listener routine again - any ide

[2019-12-09 23:32] andy-hammond commented on #4279
@leosoaivan which version did you have to lock it down to? Could do with this same fix myself. Thanks in advance

[2019-12-09 23:33] andy-hammond commented on #4279
@leosoaivan which version did you have to lock it down to? Could do with this same fix myself. Thanks in advance

[2019-12-09 23:58] sacrampton opened #4539 "DataStore does not support 1 to 1 connection with both sides of connection as optional field"
** Which Category is your question related to? **
DataStore
** What AWS Services are you utilizing? **
DataStore
** Provide additional details e.g. code snippets **

I have a very large schema.graphql (~40 types that are highly connected / 8.264 lines of code).

After I use the "amplify codegen models" command I get the error **_"DataStore does not support 1 to 1 connection with both sides of conn

[2019-12-10 02:12] leosoaivan commented on #4279
@andy-hammond

"aws-amplify-react": "2.3.10"

[2019-12-10 04:29] groundswel opened #4541 "How to use Auth react HOC props"
Referring to amplify documentation : https://aws-amplify.github.io/docs/js/authentication#oauth-and-hosted-ui says that it will pass props to the component like oAuthUser or oAuthError. Can someone please provide some simple examples on how they can be used in different components used throughout a react web application?  When I tried to call it in my header component like `<Header ouruser=oAuthUs

[2019-12-10 04:53] 2mahender opened #4543 "Saml endpoint Integration with Cognito"
I have configured aws cognito with adfs , i am able to get the saml response from adfs but its not getting redirected to cognito , can you please let me know how to do in react using amplify?
![samllogin](https://user-images.githubusercontent.com/58421352/70496820-13596b80-1b37-11ea-9318-9867e149cec1.PNG)

[2019-12-10 05:32] bneigher commented on #4487
Why are there 2.x.x versions without any changelog or... any update as to what developers are supposed to use?

[2019-12-10 07:47] AlessandroAnnini commented on #4403
I have the same exact problem!

[2019-12-10 08:27] fisheke commented on #2498
I got somewhere with my angular app (with routing) hosted in a subdirectory (quite similar to what react would be).

Solved with this:

        {
        "source": "</^[^.]+$|\\.(?!(css|gif|ico|jpg|js|png|txt|svg|woff|ttf|map|json)$)(MY_SUBDIRECTORY\\/[^.]+$)/>",
        "target": "/MY_SUBDIRECTORY/index.html",
        "status": "200",
        "condition": null
        }

[2019-12-10 09:02] KristineTrona commented on #4351
@Ashish-Nanda My setup is exactly the same and after testing again -  it is indeed fixed. :) Perhaps I hadn't rebuilt the project since the aws-amplify update.

[2019-12-10 09:38] marcpaskell commented on #4516
@ericclemmons - the user is simply imported via the Cognito console, gets the `RESET_REQUIRED` state and as soon as you attempt a login with that user, the lib returns the irrelevant error.

For now, we're just handling it and forcing a password refresh, but it'd be good to have a proper challenge.

[2019-12-10 09:48] jeffjvick commented on #367
Hi, @powerful23 , how would I post-authenticate verify an email in this situation use the email link method?  I have tried generating a custom email message using the https://<appname>.auth.us-east-2.amazoncognito.com/confirmUser call but this gives me an error saying the user is already confirmed.  is there a way to confirm a userAttribute like email through a link or is sending the code through

[2019-12-10 10:14] aliankarali commented on #4311
@simpleshadow,  thanks for the tip, I got it working by locking down the versions with resolutions as well.

[2019-12-10 12:12] oriharel opened #4542 "Users get "Refresh Token has expired" after less then 30 days"
My user pool app client **Refresh token expiration (days)** setting is set to 30.
However, few users (not all) get an error from aws-amplify Auth class:
`{"code":"NotAuthorizedException","name":"NotAuthorizedException","message":"Refresh Token has expired"}`

**Expected behavior**
Refresh token to be valid within the configured time frame

I'm using aws-amplify inside a React-Native app and Expo m

[2019-12-10 14:34] llinq commented on #2714
+1

[2019-12-10 16:20] janoist1 commented on #2951
+1

[2019-12-10 17:13] ericclemmons commented on #4510
@groundswel I forgot to mention, but the drop-down in our docs has a "JavaScript" option, which will give you the "vanilla" guide:

We discovered a bug with it where the default _should_ have been vanilla JS, but was defaulting to the first option (React).  (That's being addressed in a PR)

I hope this helps in the meantime while we continue improving.

I'll go ahead & close this issue since we ha

[2019-12-10 17:22] ericclemmons commented on #4351
@KristineTrona Thanks for the validation!

@ajdinahmetovic Can you do another upgrade to `@latest` & let us know if it's been resolved for you and, if not, more about your reproduction steps?

[2019-12-10 17:24] ajdinahmetovic commented on #4351
@ericclemmons Hey, after upgrade it works for me. Thank you 🙂

[2019-12-10 17:32] ifielder commented on #4499
I was having the same issue with `@aws-amplify/api`

After looking at @ericclemmons  comparisons it seems `v1.4.3's` conditional entry point is causing problems with jest's mocking mechanism.

I was able to fix this issue by using

`import API, { graphqlOperation } from '@aws-amplify/api/lib';`

instead of

`import API, { graphqlOperation } from '@aws-amplify/api';`

This is how I mocked in my tes

[2019-12-10 17:47] marcpaskell opened #4544 "Missing "." in /auth/src/Auth.ts"
**Describe the bug**
The currentUserPoolUser method does not throw because its checking the err string incorrectly!

```err.message === 'User is disabled'```

should be

```err.message === 'User is disabled.'``` (notice the fullstop/period)

This means that  `Auth.currentAuthenticatedUser` never throws is a user has been disabled from the console.

[2019-12-10 17:49] marcpaskell commented on #4544
Tried to open this issue from the code, but can't see a link anywhere...

https://github.com/aws-amplify/amplify-js/blob/73bf46e161cf35114cdf6a791a6ea248c469064d/packages/auth/src/Auth.ts#L1132

[2019-12-10 18:08] Ashish-Nanda commented on #4351
Thanks for confirming that the fix works for you. Since the problem is resolved I'm going to go ahead and close out this issue.

[2019-12-10 18:08] #4351 closed

[2019-12-10 18:12] manueliglesias commented on #4544
Hi @marcpaskell

I've verified this issue and see the problem, thanks for reporting it! 😃

[2019-12-10 18:12] Ashish-Nanda commented on #4380
Since this [comment](https://github.com/aws-amplify/amplify-js/issues/4351#issuecomment-563934960) as well as a few others on that thread were able to confirm that the fix in `@latest` resolves the problem, I'm going to go ahead and close this issue.

[2019-12-10 18:12] #4380 closed

[2019-12-10 18:23] manueliglesias commented on #4542
Hi @oriharel

Are your users getting the message close to 30 days? or much earlier?

[2019-12-10 18:25] manueliglesias commented on #4541
Hi @groundswel

Can you try with: (notice the curly braces)

[code]

[2019-12-10 18:45] groundswel commented on #4541
it gives an error saying "'oAuthUser' is not defined  no-undef"

I have pretty standard App.js defined wrapped with the Amplify Auth react HOC. My sign up and login works without any issues but when I try to pass oAuthUser as props to my Header component I get this error.

`function App() {

  return (
    <div className="App">
      <Header userdetails = {oAuthUser}> </Header>
      </header>

[2019-12-10 19:15] markmckim commented on #4351
@KristineTrona - How did you finally get it to work? I've updated to 2.2.0, deleted node_modules, did a fresh pod install etc. etc. and I am still seeing the issue. Thanks!

[2019-12-10 19:35] oriharel commented on #4542
Much earlier. I have users get that 2 days after a perfectly good session.

[2019-12-10 19:50] mikedizon commented on #4351
If using yarn -- did you delete the yarn.lock file?

[2019-12-10 19:50] #4544 closed

[2019-12-10 19:58] markmckim commented on #4351
I tried deleting package-lock.json and made no difference

[2019-12-10 20:04] groundswel commented on #4541
What worked for me is this
[code]
and then in the Header component ..

[code]

However I wonder why oAuthUser is not passed in the props as promised in the documentation?

[2019-12-10 20:56] sacrampton commented on #4539
Are there any examples on the type of model connections that cause this error message?

[2019-12-10 21:45] matejthetree commented on #1852
Any update?

[2019-12-10 22:54] sniperman23 opened #4550 "Using customState (URL encoding) with Hosted UI and federatedSignIn - OAuth throws Error: Invalid state in OAuth flow"
**Describe the bug**
[code]
This causes amplify to redirect to a Cognito Hosted UI, after logging in, amplify throws Error: Invalid state in OAuth flow.

After debugging in my chrome console, I found the root cause is because Amplify is performing double encoding on the "URL", and checking against a single encoded URL. See here for details:
https://github.com/aws-amplify/amplify-js/blame/023f4960d

[2019-12-10 23:09] ericclemmons commented on #4516
@marcpaskell I was able to look into this and you're right: the library isn't handling the `RESET_REQUIRED` state and it makes it appear like an input validation error.

Marking this as a bug so we can address it.

@haverchuck Should we fold this in with your Auth v2 work?

[2019-12-10 23:12] ericclemmons commented on #4351
@markmckim What does `npm view aws-amplify` return for you?

[2019-12-10 23:18] markmckim commented on #4351
[code]

Although this seems weird? My package.json has 2.2.0

[2019-12-10 23:23] ericclemmons commented on #4351
That's weird. Did you run `npm view aws-amplify` or `npm view amplify`?

The `amplify` package is owned by someone else: https://github.com/chafnan/amplify

(I've made this mistake a lot 😉)

In fact, a better command would be:

[code]

Run that and copy/paste what you get back, which should help 🤞

[2019-12-10 23:25] markmckim commented on #4351
Whoops! My bad. When I run that against the proper package this time 😀 then I get this...

[code]

Thanks!

[2019-12-10 23:40] ericclemmons commented on #4351
Huh! That's the correct version, alright!

Can you help me understand step-by-step what actions your taking to still see this error?  Honestly, even starting with the basics (e.g. `npm install`, `npm run-script android`, click "Sign In", etc.) will help!

[2019-12-10 23:47] ericclemmons commented on #1368
We'd like to understand more what situations _don't_ allow for unchecking the _Generate client secret_ box:

Can you share what scenarios require the client secret so that we can better accommodate them?

Thanks!

[2019-12-11 06:15] outofgamut commented on #3495
@viktor You probably need to setup your API gateway default 4XX response to include the appropriate CORS headers

[2019-12-11 08:21] marcpaskell commented on #4544
thanks @manueliglesias - any ideas when the next release is going out?

[2019-12-11 09:04] rickbora commented on #1437
+1

[2019-12-11 09:36] markmckim commented on #4351
@ericclemmons So I was previously running an older version (can't remember exactly as I'm not at home right now. Say something like 1.x.x) and I was seeing the broken behaviour where app refreshes would lose auth state and I would be returned to my Sign In screen.

After reading the comments above last night, I updated the value in my package.json to 2.2.0, and did an `npm install` followed by a `

[2019-12-11 10:47] IonutRealDevs opened #4551 "Facebook Login Popup"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **
Hi, i'm trying to add facebook/google authentication to my react native app. Looks like is working using ``Auth.federatedSignIn`` but this methods opens a browser tab. Instead of a browser tab i want a popup to show up or something. Is that p

[2019-12-11 12:12] davidbiller commented on #3268
Why this is closed?

[2019-12-11 12:40] davidbiller commented on #3268
"allowUnauthenticatedIdentities": false,
if i set this to   "allowUnauthenticatedIdentities": true,
than it is working

[2019-12-11 13:58] rkgrep commented on #4243
@damien-monni Have you resolved the issue with `browserOrNode()` detection?
What helped for me is overriding the function behavior in my code by simply copying the source.

It seems that in my case the error happens because of webpack behavior.

[code]

[2019-12-11 14:18] michelschmit commented on #4515
@gautamcparmar where do you put `import 'core-js/es/typed-array';`? :thinking:

[2019-12-11 14:51] NL33 commented on #991
For details on how to auto sign in with Amplify components, this [https://stackoverflow.com/questions/59254358/auto-sign-in-with-cognito-amplify-authenticator-components/59288330#59288330(stack overflow discussion) has some ways to do it.

But it would be helpful if you could just select "automatic sign in" after sign up in the Cognito settings.

[2019-12-11 15:07] binarydud opened #4552 "Datastore sync doesn't delete items in dynamo with sort and partition key"
**Describe the bug**
When calling Datstore.delete with an item containing a partition and sort key, the item is deleted locally, but a warning is given in the console and the dynamo record remains unchanged.

**To Reproduce**
Steps to reproduce the behavior:

1. Create react app
2. Add a schema like below:
[code]
3. run `npx amplify-app`
4. run `npm run amplify-modelgen`
5. run `npm i @aws-amplify

[2019-12-11 15:13] oliverandersencox commented on #3537
is there any update on this. It would be great if there was a way to manually pass the state and token to authenticate rather than having to reload the entire app, as this could be done with a browser pop over for a way better UX

[2019-12-11 15:20] mcbergsma opened #4553 "`amplify publish` url works, but CI/CD url fails authentication with AppSync"
I've set up an app with the Amplify CLI, I added auth (cognito user pools), an API (graphql) and hosting.

It all actually went quite smoothly for the first try, and then I went into the Amplify Console and connected the frontend to my github repo. Everything there seems to work too, my app deploys at a new URL (still the default `amplifyapp.com` one). I can visit the page, it requires me to log i

[2019-12-11 15:51] Zilvinaskli opened #4554 "Is there a way to list all versions of the current file?"
** Which Category is your question related to? **
Storage

Hello, is there any way or maybe anyone has a custom function to list all file versions of a file in a bucket that has versioning enabled?

[2019-12-11 15:59] michelschmit commented on #4515
Ok the error come from `Uint32Array.from()` in `aws-amplify-predictions.js` (in `@aws-amplify`) and maybe in `index.ts` (in `@aws-crypto`).
I've transpiled the two modules with ` transpileDependencies: [/node_modules\/@aws-amplify/, /node_modules\/@aws-crypto/]`.
Now i can display the component Authenticator on IE, but il have an error when i submit : `'fetch' is undefined`. Any idea?

[2019-12-11 16:09] oriharel commented on #4542
I think this is a misunderstanding of the docs. I was under the impression that the refresh token is being re-issued on every session, thus users should never get to the expiration time while they are active.
Apparently this is not the case, as users are issued a refresh token upon login only and that token is being persistent on the client side storage. No matter if they are active or not, this t

[2019-12-11 16:46] praisegeek commented on #4243
@rkgrep I am trying out your reference now and will revert back to you.

[2019-12-11 17:19] ericclemmons commented on #4351
@markmckim This is extremely helpful!

First, let's try `Auth.currentAuthenticatedUser({ bypassCache: true })`, which should force a round-trip to Cognito:

However, we're addressing a known bug (race-condition) that exists with `Auth.currentAuthenticatedUser` where the first attempt returns a _Not Authenticated_ error, but a subsequent call succeeds.  This sounds a lot like what you're seeing.

A

[2019-12-11 17:26] ericclemmons commented on #4515
@michelschmit I'm glad you were able to find an resolution.

We're still investigating this as there are a couple issues to address:

1. Documentation for `window.fetch` & IE11-specific requirements, as IE11 doesn't have it and it's a large enough polyfill that including it with Amplify would impact the majority of users.
1. Several parts of are code _have_ been
 polyfilled (e.g. `Number.isInteger

[2019-12-11 17:51] #3958 closed

[2019-12-11 18:38] ztnark opened #4555 "Hosted UI Social Auth does not present TOTP challenge"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **
Vanilla Cognito auth in my hosted UI challenges the user to verify their TOTP, but Social Auth (Google) does not, and authorizes the user. Is this is Cognito configuration issue, or a client side implementation issue?

[2019-12-11 18:38] gaohongwei opened #4556 "Call Amplify API.get in React Got 403"
** Which Category is your question related to? **
Amplify API Gateway
** What AWS Services are you utilizing? **
Use Cognito, IAM
** Provide additional details e.g. code snippets **
        "@aws-amplify/api": "^1.2.4",
        "@aws-amplify/auth": "^1.3.3",

We make API.get in React
It works fine without Authorization

After we enabled Authorization:AWS_IAM
1. We got 403
2. OPTIONS call in networ

[2019-12-11 18:39] benmgreene commented on #4351
Hi there -- been watching this issue for a while and am excited for the progress.

Is there a commit tied to this issue? Couldn't find one mentioned above.

We're using the `amazon-cognito-identity-js` library, which doesn't seem to have been updated at the same time as `aws-amplify`... so I'm thinking that our problems probably haven't been addressed quite yet. :-/

[2019-12-11 18:50] matapo commented on #3958
Did you add this update?

[2019-12-11 19:14] ericclemmons commented on #4351
@benmgreene Can you share some details on you're use-case with `amazon-cognito-identity-js` directly vs. the `Auth` module (linked above)?

You're right, `aws-amplify` gets the majority of usage & testing, so there could be something specific to `amazon-cognito-identity-js` & you're use-case that we need to dig into.

[2019-12-11 20:05] emanuelherrmann commented on #1437
Has anyone found a workaround to post a file without having to use an S3 bucket?

I just need to post a csv file and parse it on the back-end. I do not need to persist the file anywhere

[2019-12-11 20:26] benmgreene commented on #4351
@ericclemmons From what I can tell from the `Auth` module, for React Native apps it seems to rely upon `amazon-cognito-identity-js` anyhow. One of the major problems we currently have is that the `import { AsyncStorage } from 'react-native';` line has not been updated to pull from `@react-native-community`. Though it may well be that there are other issues contributing to our sporadic session loss

[2019-12-11 20:31] markmckim commented on #4351
That's interesting @benmgreene ... I have `amazon-cognito-identity-js` listed in my `package.json` as instructed here: https://aws-amplify.github.io/docs/js/authentication#configure-your-app

I currently have 3.2.0 of `amazon-cognito-identity-js`. I wonder could this be related to my issue?

I am however using the Auth module directly in my code, and only including `amazon-cognito-identity-js` in

[2019-12-11 20:36] markmckim commented on #4351
@ericclemmons - Ran a few tests...

- Changing the call to be `Auth.currentAuthenticatedUser({ bypassCache: true })` made no difference unfortunately
- I already had a Hub listening for Auth events and can confirm that no Auth event at all is fired when the app is refreshed (and Auth.currentAuthenticatedUser is called)

Thanks!

[2019-12-11 21:22] AlessandroAnnini opened #4557 "No current user when I try federated Signup and graphql operation"
**Describe the bug**
When I try a federated signup I try to check if the user is already registered on the db with a `graphqlOperation` query I get a `No current user` error.

**To Reproduce**
Steps to reproduce the behavior:

1. amplify add auth with federated, add name as field, add facebook and google as federated authentication
2. use signup/login with
`import { Authenticator } from 'aws-ampli

[2019-12-11 21:55] ericclemmons commented on #4351
@markmckim Ok, we'll need to dig into this more then!  I should replicate your scenario by setting up a project via https://aws-amplify.github.io/docs/js/start#option-2-use-react-native-cli-recommended-if-you-have-mobile-development-experience for iOS correct?

I want to ensure I'm following your reproduction steps as close as possible...

[2019-12-11 22:06] markmckim commented on #4351
Thanks @ericclemmons  - This is probably the closest instructions for configuring my iOS app:
https://facebook.github.io/react-native/docs/integration-with-existing-apps

However I imagine that your link would probably be close enough (and quicker).
Also I am using CocoaPods, but again, not sure if that is related.

[2019-12-12 01:09] achaphiv commented on #4243
Why are you guys running this server-side?

`plugins/aws-amplify.client.js`

[code]

[2019-12-12 03:08] VicFrolov opened #4561 "Auth.currentSession not providing jwtToken for Unauthenticated users"
Hello,

 I have tried to rerun `amplify auth update`, and ensured that I selected unauthed users to have access: ` Allow unauthenticated logins? (Provides scoped down permissions that you can control via AWS IAM) Yes`.

In the console:

[code]

`Auth.currentCredentials` returns what appears to be a  valid `CognitoIdentityCredentials` object, currentSession throws an error saying no current user.

[2019-12-12 04:27] elorzafe commented on #4528
Hi @sirsavary

I dont understando what do you mean by tie the Auth module?
[Here](https://github.com/aws-amplify/amplify-js/blob/7bd8843ad3c71c34c4f40684cd3c986976870c21/packages/api/src/API.ts#L469) you can check how is invoked `PubSub`. I can help you to use `AWSAppSyncRealTimeProvider`

[2019-12-12 04:31] elorzafe commented on #4534
When you use `await` the function that is encapsulating the code should be `async`. More info [here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/async_function)

[code]

Hope that helps

[2019-12-12 04:38] elorzafe commented on #4536
Can you check the logs for the app by adding this
[code]

[2019-12-12 05:00] santhedan commented on #4516
I am able to reproduce this in Android SDK of AWSMobileClient as well. The call to signIn just results in the following exception getting logged in logcat.

com.amazonaws.services.cognitoidentityprovider.model.InvalidParameterException: Invalid input given (Service: AmazonCognitoIdentityProvider; Status Code: 400; Error Code: InvalidParameterException; Request ID: XXXXXXX)
        at com.amazonaws

[2019-12-12 06:47] IonutRealDevs commented on #4551
O solved it.
I used react-native-fbsdk.

[2019-12-12 06:47] #4551 closed

[2019-12-12 06:53] chmelevskij commented on #1437
@emanuelherrmann I’d try base 64 encoding the file and sending it as a string. But it depends on what size of files you are looking to send and etc. It’s definitely not the right way to do it, but it would work

[2019-12-12 07:49] Yuvi7447 commented on #4415
@Ashish-Nanda Let me elaborate for you,
Scenarios:
1) When the app is in the background and you receive the push notification, if you tap on the notification within some time you get into the app, if you kill the application and tap on the notification it won't open.
2) When the app receives the notification and if you open it after a long time(e.g., more than 1 hr), the app won't open!
Note: This

[2019-12-12 08:22] paolo-comitini commented on #1852
+1

[2019-12-12 08:23] chetanregmi-s2g commented on #1852
+1

[2019-12-12 09:45] prechtelm commented on #1852
+1

[2019-12-12 11:13] oliverandersencox opened #4562 "Federated Apple login - Invalid State/RelayState provided."
I have implemented apple login to my Ionic project, and followed the guides on setting up on Apple's side and in the cognito condole.

I call the login:

[code]

However once i get through apples OAuth process and just before redirection I get the cognito error page saying:

followed by:

Any ideas on why this is happening?

[2019-12-12 11:51] sacrampton commented on #4539
Has anyone seen this particular error message before and able to provide some guidance on what is causing it?

[2019-12-12 12:03] ahallora commented on #4538
I'm not sure if this is what you need, but the changelog are package-specific and can be found within each package here: https://github.com/aws-amplify/amplify-js/tree/master/packages

E.g. the changelog for Auth is here: https://github.com/aws-amplify/amplify-js/blob/master/packages/auth/CHANGELOG.md

[2019-12-12 12:22] dyson-yamashita opened #4563 "Using @auth private option, graphql response was "Unauthorized""
** Which Category is your question related to? **
Amplify API
** What AWS Services are you utilizing? **
Cognito and AWS AppSync
** Provide additional details e.g. code snippets **
@aws-amplify/api: 1.1.3
@aws-amplify/auth: 1.3.3

I want to set below permissions to User model.
- owner: read, write, update, delete
- others(cognite user): read only

I wrote below schema.
_schema.graphql_
[code]
"Una

[2019-12-12 12:37] idanlo commented on #3842
Not stale

[2019-12-12 13:57] gKamelo commented on #1852
+1

[2019-12-12 14:41] ronkot commented on #987
I think you're correct @mfogel, the solution @Can-Sahin proposed opens a way for a user to set any phone number as verified without actually verifying it. However, this is the only working work-around that I've found so maybe we just have to accept this security hole to be able to offer users a consistent way to verify a new phone / email.

Really hoping AWS to change the behavior so that changing

[2019-12-12 15:28] tkntobfrk commented on #4563
I've also found this to be the case. I didn't dig into the problem at length.

My workaround was to use groups instead of private when doing multiauth. This seems to work fine.

[code]

[2019-12-12 15:30] ricobanga commented on #364
Hello, Has someone found out how to solve this issue ?
Event from backend, I could find no way to get the identitySub/foldeNamer where PUT uploaded the file.

[2019-12-12 16:20] anija commented on #3405
Same error, please reopen.

I've a Cognito PreSignup trigger, when i send back a deny with custom message, cognito hosted UI correctly redirects to /myRedirectSignIn?error_description=PreSignUp+failed+with+error+CUSTOM.+&state=v95U7XDI5NKdsLOY7vPfnWPjYK2fVQj0&error=invalid_request

As soon as the page is starting to load, before everything on app side (HUB listners, etc), the error throws up: **Un

[2019-12-12 18:42] RyanWarner commented on #4387
Hey @piraka9011 have you made any progress figuring this out? I've been blocked by this for a few days and nothing I've tried has helped.

[2019-12-12 18:47] piraka9011 commented on #4387
@RyanWarner No I have not. I have tried using an older version of `aws-amplify` but it looks like the issue is related to the version of `GraphQL` and @BennettDixon has provided a potential fix.

Using his fix probably means you will have to have your own version of amplify in a `node-modules` folder until it is merged.

[2019-12-12 18:58] haverchuck commented on #1020
@jsyrjala - This is actually possible with the react withAuthenticator HOC or the Authenticator component.  Here's an example of how to do this with the HOC:

[code]

As you can see, I'm passing in the specific components I want my Authenticator component to display (i.e. I'm NOT passing in SignUp).  It should hide the associated links, as demonstrated in the following screenshot:

![image](https:

[2019-12-12 18:58] #1020 closed

[2019-12-12 19:19] elorzafe commented on #4387
@RyanWarner @piraka9011 I am taking a look now.

[2019-12-12 19:44] emanuelherrmann commented on #1437
Thanks @chmelevskij  for the tip I will try it. I haven't thought about encoding the file and sending it as string. I think I'll be Ok while Amplify sort this out I am talking about small csv files (less than 100kb usually 10kb).

[2019-12-12 19:52] haverchuck commented on #4439
@krlm Apologies- the _Pre_SignUp trigger is indeed what I meant.  I am going to close this issue for now since it isn't Amplify-related, but I am filing a ticket with Cognito to address the documentation issue.

[2019-12-12 19:52] #4439 closed

[2019-12-12 20:28] haverchuck commented on #4308
@tobon96 Can you post the redirect uris exactly as they appear under the oauth key in your aws-exports?

[2019-12-12 20:33] haverchuck commented on #4301
@vgaltes What is the error?

[2019-12-12 20:50] haverchuck commented on #4158
@rush86999 @jbaldaraje  Which lambda triggers have you implemented, and did you create them with the Amplify CLI?

[2019-12-12 22:43] dbly commented on #4015
We are also stuck with this.

It is beyond me that there is no lambda trigger for overriding acess token claims and I am gutted that we have chosen Cognito!

It has been an absolute abysmal product to work with and it is a waste of time in every regard.

[2019-12-12 23:11] haverchuck commented on #4157
@Audace  I am not quite sure I understand what you mean by this:

Can you elaborate a bit - is your issue in the Lambda trigger code itself or in the Amplify library?

[2019-12-12 23:27] dyson-yamashita commented on #4563
@tkntobfrk Thank you for your comment. It was work the workaround.
If I will resolve the problem, I write here.

[2019-12-12 23:35] haverchuck commented on #4044
@mdsadique2 Are you doing federation with the Cognito User Pool or the Cognito Identity Pool.  If you are using the identity pool you can use the google api ('gapi'), which should allow you to [force the select_account screen](https://developers.google.com/identity/sign-in/web/reference#gapiauth2signinoptions).  I am not positive how the would be accomplished with Hosted UI.

[2019-12-13 00:13] dyson-yamashita commented on #4563
I resolved this problem.

Hidden operations are allowed.
https://aws-amplify.github.io/docs/cli-toolchain/graphql?sdk=js#owner-authorization
If set `operations: [create, update, delete]`, _read_ is allowd in below sample.
When it uses `allow: groups`, it is nesessary same operations of "owner".

In fact I used `groups`, so hidden operation was disabled.
I confimed that others  could read and not u

[2019-12-13 00:13] #4563 closed

[2019-12-13 01:00] frankieluo commented on #1852
+1

[2019-12-13 01:08] RyanWarner commented on #4387
Update: I solved this by updating my webpack config.
I move `.mjs` to come before `.js` in my resolve extensions, and I also did not have `.mjs` files ignored in my file-loader config
[code]

and my file loader:
[code]

Hope this helps!

[2019-12-13 05:41] davegariepy commented on #4561
I dont use AppSync or `@auth` directive, so not sure exactly how this applies in your situation but the principles should be the same since it's still Cognito.

JWTs are obtained from a UserPool or third party identity provider like Facebook or Google.

IAM auth uses Identity Pools to issue temporary credentials and sign each request using AWS Sigv4. IAM auth can have `unauthenticated` role and `a

[2019-12-13 05:49] davegariepy commented on #4403
also trying to use `Auth.currentAuthenticatedUser()` to detect whether a user is signed in or not.

I'd like to return false if no user, but an error is thrown regardless of `catch` being used.

[2019-12-13 07:12] j0b0sapi3n commented on #4403
@davegariepy Yeah, I agree if it could just return true/false or if that could be a separate function that'd be nice.

[2019-12-13 07:46] IonutRealDevs opened #4565 "React Native FBSDK Login"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **
Hi.
I work on a react-native application and i implemented login and register using email and password, all good, but now i want to implement login with Facebook/Google and i have some questions about that. I used Hosted UI, but this method o

[2019-12-13 10:22] AhmedMKamal commented on #1852
guys please, these +1 are very annoying

![Im-begging-you-Please](https://user-images.githubusercontent.com/35304348/70793030-1f496580-1da3-11ea-83cd-04f282143a4b.jpg)

[2019-12-13 13:07] ngrosso commented on #2875
Hii i don't know if you already solved but i'm leaving it for any further doubt, there are some missleading uppercases and lowercasses that make i18n miss the reference here is my handmade example for spanish:

`    'es': {
      'Sign in to your account': "Inicie sesion en su cuenta",
      'Sign In': "Iniciar sesion",
      "Sign in": "Iniciar sesion",
      'Sign Up': "Registrarse",
      "User

[2019-12-13 13:19] ngrosso commented on #2875
I guess you find out the answer, but by grabing the text in english from the component and keeping the cases (upper and lower ones) you can make your own custom dictionary to add missing ones.
This is my example extending the one that @manueliglesias mentioned but in spanish, notice there are some duplicated ones but with different case (like "Create account" and "Create Account"), also in later u

[2019-12-13 14:22] m8schmit opened #4566 "Optimization: replace div with good tags for more accessibility"
Hi, ok it's not really a bug, more an optimization, in `aws-amplify-vue`  to gain in accessibility, it will be great to change the labels in `div` by real label:
[code]
to something like:
[code]
 in child components of `Authentication`.

So the components would be more usable by the visually impaired.

Thanks !

[2019-12-13 14:40] michelschmit commented on #4515
@ericclemmons Also the css doesn't seem to have been polyfilled for IE  in `aws-amplify-vue`:
![Screenshot from 2019-12-13 09-38-56](https://user-images.githubusercontent.com/6783182/70807926-90315300-1d8c-11ea-9cdf-e0e1233f73b1.png)

[2019-12-13 15:59] alimuhammad01 commented on #1368
+1

[2019-12-13 16:26] mickadoua opened #4567 "user is logout after app restart"
**Describe the bug**
Hello, i have a problem with the last version on react-native

i use the follow code to get the token and send this to my backend. after restarting the application, i have an error "not authenticated"

[code]

**To Reproduce**
Steps to reproduce the behavior:

with the code source, after a login i can get at any moment the token, this token is automatically updated.
after relo

[2019-12-13 17:15] NikitaPanteleev commented on #4315
@harmohan-a have you found the way to fix it?

[2019-12-13 17:18] deepku2 commented on #1972
@cbernardes IdToken and AccessToken are not same. As @r-moore mentioned IdToken is just profile info about the user. AccessToken is the one used for authorization with APIs.
Storing RefreshToken in browser (Local Storage or Cookie) is not a good idea from security point of view for any enterprise application (financial or otherwise)

[2019-12-13 17:20] NikitaPanteleev commented on #4315
Updating to `"aws-amplify": "^2.2.0"` solved the issue for me.

[2019-12-13 17:23] Ashish-Nanda commented on #4089
Thanks @joebernard for confirming that it works. The fix has been available in `@latest` for some time now as well.

[2019-12-13 19:35] paulbartocillo opened #4569 "withAuthenticator HOC occasionally hangs on "Loading..." bug - Encountered on latest version"
Same exact scenario with this bug reports:

1. https://github.com/aws-amplify/amplify-js/issues/3471
2. https://github.com/aws-amplify/amplify-js/issues/3206

I browse all issues filed related to this topic and there were no open issues. Was this already fixed or there's still some workaround needed to be done?

Thanks in advance!

[2019-12-13 19:43] elorzafe commented on #4567
@mickadoua How are you configuring Amplify?, did you use amplify-cli or configured the resoures manually?

[2019-12-13 19:45] elorzafe commented on #4566
@michelschmit thanks for your suggestion I will mark this as a feature-request

[2019-12-13 20:08] mickadoua commented on #4567
i configure the resources manually,
[code]

Le ven. 13 déc. 2019 à 20:43, elorzafe <notifications@github.com> a écrit :

[2019-12-13 20:08] elorzafe commented on #4565
@IonutRealDevs are you trying to do [OAuth Federation](https://aws-amplify.github.io/docs/js/authentication#oauth-and-federation-overview) or [Identity Pool Federation](https://aws-amplify.github.io/docs/js/authentication#oauth-and-federation-overview)

[2019-12-13 20:29] davegariepy commented on #4403
@j0b0sapi3n the way I worked around this was to call:

`localStorage.getItem("amplify-signin-with-hostedUI")

Its the only standard name field from Amplify in local storage and seems to only be present when the user is logged. Obviously, would rather have an official way to do this but this is what I came up with for the time.

Have you tried anything similar?

[2019-12-13 21:41] elorzafe commented on #4561
@davegariepy thanks for your reply!

@VicFrolov this clarify your question?

[2019-12-13 21:55] elorzafe commented on #4557
@AlessandroAnnini what are the props you are using with the `Authenticator` component.

[2019-12-13 21:59] elorzafe commented on #4556
@gaohongwei did you signIn before making the API call? It seems you have mandatory signIn

[2019-12-13 22:16] AlessandroAnnini commented on #4557
Hi @elorzafe,
I am using the `Authenticator` like this:

[code]

[2019-12-13 23:07] darrenfurr opened #4570 "aws-amplify-react: Custom SectionHeader component"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
I'm just looking to add an image to the SectionHeader. It would be nice to provide a custom react component as SectionHeader for the SignIn or even SignUp components without having to build a full SignIn or SignUp component.

**Describe alternatives you've considered**
Tried inheriting Sign

[2019-12-13 23:44] GWSzeto opened #4571 "How to access environment variables in webpack for react app deployed in amplify"
** Which Category is your question related to? **
E.g. Auth, Predictions, Storage, etc.
** What AWS Services are you utilizing? **
E.g. Cognito, AWS AppSync, etc.
** Provide additional details e.g. code snippets **
E.g. Sample code, versions of Amplify you are using

Hey I am incredibly new to AWS amplify and I just got it up and going recently with my app deployed on amplify. The way I currently

[2019-12-13 23:49] AdanJSuarez opened #4572 "Amplify/Auth "Not Supported" (Typescript-Nodejs)"
Related to Auth, Cognito.
I'm trying to connect my backend (typescript-nodejs) with the user pool. I had the project done before I `amplify init` in the root folder (I don't know if this detail is relevant or not). I followed all steps of the video-instruction.

I included `Amplify.configure(awsexports)` in my main module (the entry point for the project)

I had to do two hacks to make it built:
1

[2019-12-13 23:49] AdanJSuarez opened #4599 "Amplify/Auth "Not Supported" (Typescript-Nodejs)"
Related to Auth, Cognito.
I'm trying to connect my backend (typescript-nodejs) with the user pool. I had the project done before I `amplify init` in the root folder (I don't know if this detail is relevant or not). I followed all steps of the video-instruction.

I included `Amplify.configure(awsexports)` in my main module (the entry point for the project)

I had to do two hacks to make it built:
1

[2019-12-14 00:00] Ashish-Nanda commented on #4351
@markmckim what version of RN are you using? You only need to do pod install for RN 0.60+

Regarding the new version of amplify not being picked up: Maybe the packager cache is using the old version of amplify you had installed.

Could you try the following:
1) Stop packager
2) Delete node modules
3) npm install
4) rm -fr $TMPDIR/metro*
5) npm start --reset-cache
6) npx react-native run-ios

Hopef

[2019-12-14 00:18] kgpasta commented on #2014
Any update on this issue? Also seeing this pretty frequently on my RN app

[2019-12-14 00:28] Ashish-Nanda commented on #4351
Hi @benmgreene
This issue is not related to the community version of AsyncStorage not being used. That was what everyone felt initially but we realized that it does not have anything to do with it for reasons explained in this [comment](https://github.com/aws-amplify/amplify-js/issues/4351#issuecomment-556682870)

Also the root cause was found out and elaborated on both [here ](https://github.com/

[2019-12-14 00:34] sarkuma opened #4573 "Add endpointID to UpdateEndpoinT analytics API"
**Is your feature request related to a problem? Please describe.**
Can you please add endpointID as part of https://aws-amplify.github.io/amplify-js/api/classes/analyticsclass.html#updateendpoint like in pinpoint

**Describe the solution you'd like**
In this way I can update an existing endpoint and also create multiple endpoints in AWS Pinpoint

[2019-12-14 00:36] elorzafe commented on #4555
@ztnark I haven't seen that use case before. I can confirm with cognito team.

[2019-12-14 00:39] elorzafe commented on #4554
@Zilvinaskli you should use `aws-sdk` to do that operation, Amplify doesn't support that feature.

More info for list versions of a file [here](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#listObjectVersions-property)

[2019-12-14 00:45] elorzafe commented on #4553
Do you have access to `aws-exports.js` file that is generated from the console and pasted by commenting the endpoints.

[2019-12-14 02:18] jamesjara commented on #9
Any update or pretending to update this?

[2019-12-14 03:05] joebernard opened #4574 "PushNotifications requestIOSPermissions not working in @latest (2.1.1)"
**Describe the bug**
The push notifications configuration [`requestIOSPermissions`](https://aws-amplify.github.io/docs/js/push-notifications) seems to have stopped working. The app prompts for push notification permissions on app load even if this config is `false`.  If I switch to the `@unstable` release (2.1.2-unstable.6) it does seem to work, and it did work in versions prior to 2.1.1.

This is

[2019-12-14 03:18] danhumphrey commented on #4538
That's helpful, thanks @ahallora

[2019-12-14 03:19] c0dingarchit3ct opened #4575 "Access to Cognito user attributes inside AppSync Resolvers"
**Is your feature request related to a problem? Please describe.**
I am trying to access custom fields inside the user profile that will help me filter responses back from AppSync resolvers.
For example
$util.qr($context.args.input.put("org_id", $context.identity.claims.email))
will return 'true' as the claims object does not have the email or any custom attributes

**Describe the solution you'd l

[2019-12-14 05:48] powerfulj opened #4576 "SSR error "Not supported""
Hi,

I got an error when run the build for Server Side Rendering, error is "Not Supported".

The source code has a browser check which cause this issue.

package version is:

"@aws-amplify/auth": "2.1.1"

Thanks
CJ

[2019-12-14 09:54] idanlo commented on #3819
Any updates on this?

[2019-12-14 10:18] idanlo commented on #4441
Why did you close this? Did you find a solution?

[2019-12-14 10:33] idanlo commented on #3695
This should be re-opened

[2019-12-14 11:35] abiro commented on #3436
There is a lot of FUD in this thread, so I thought it would be helpful to provide a summary of the topic:

1. Protecting users from unauthorized access to their computers (physically or through malicious code) is outside the scope of the web application security model. Arguments against local storage based on this threat model can be discarded.

2. Any information stored in local storage can be st

[2019-12-14 11:40] markmckim commented on #4351
@Ashish-Nanda I tried all of the above steps and it made no difference unfortunately.

I am using React Native 0.61.5 (hence the pod install).

Here is my package.json dependencies list:

[code]

[2019-12-14 12:05] dantasfiles commented on #4441
It was caused by this overall issue
https://github.com/aws-amplify/amplify-js/issues/4351#issuecomment-557711904
And fixed in the current version of the aws-amplify package.

[2019-12-14 12:23] idanlo commented on #4441
is PushNotification supposed to add the device token by itself to the pinpoint endpoint address? Currently in my app I'm doing it manually.

[2019-12-14 12:26] benjamin79 opened #4577 "Datastore: DOMException in Chrome, Sync error in Firefox"
**Describe the bug**
When i use Datastore.save i get the following error:
 Chrome:

Firefox:

**To Reproduce**
Steps to reproduce the behavior:

1. vue create xxx
2. amplify init
3. npm i @aws-amplify/core @aws-amplify/datastore
4. amplify add api
5. amplify codegen models

Code: https://gist.github.com/benjamin79/385351867a8c649ba5f4322169266b79
Schema: https://gist.github.com/benjamin79/79f04428

[2019-12-14 12:45] dantasfiles commented on #4441
@idanlo
Yes, Amplify updates the endpoint with the device token automatically.
If you turn debug logging on
`Amplify.Logger.LOG_LEVEL = 'DEBUG';`
You can see it happening.

[2019-12-14 13:55] paulbartocillo commented on #4569
I was able to implement a workaround: I'll just leave it here for reference.

What I ended up doing is check the authState of amplify authenticator on localStorage `amplify-authenticator-authState` and to determine if I'll use `withAuthenticator` or not.

[code]

[2019-12-14 14:29] idanlo commented on #4441
Doesn't work for me. When I'm trying to run `Analytics.updateEndpoint` I get `BadRequestException: Missing Address`, only when setting the address manually using the `PushNotification.onRegister` event it works.

[2019-12-14 14:31] idanlo commented on #4441
`PushNotification.updateEndpoint` doesn't work as well, it has to be `Analytics.updateEndpoint` where the address is the notification token

[2019-12-14 14:48] dantasfiles commented on #4575
I have some example code doing something similar to you.
https://github.com/dantasfiles/AmplifyMultiTenant

[2019-12-14 15:06] dantasfiles commented on #4441
I don't understand what you wrote. You shouldn't have to run `Analytics.updateEndpoint` or `PushNotification.updateEndpoint.` If you look at the debug log files on Android, you should see a line about the device token being received from Google or something like that, and you should see another line that the endpoint was set successfully. You can then send test messages to your endpoint from the p

[2019-12-14 15:08] idanlo commented on #4441
well maybe it works just on Android then. Because when I try to run `Analytics.updateEndpoint` with user data (userId, attributes, etc), I get an error saying that the endpoint is missing an address (which is the notification token)

[2019-12-14 15:35] dantasfiles commented on #4441
That's weird, it should behave similarly for iOS and Android.

I think this is the line that's supposed to automatically update the endpoint on ios
https://github.com/aws-amplify/amplify-js/blob/867412030de57fd74078b609252de6f7f81ad331/packages/pushnotification/src/PushNotification.ts#L162

If it's not working, you might want to file an issue.

[2019-12-14 16:04] kevinold commented on #4535
I ran into this issue when adding DataStore to an existing API.

Ultimately I needed to run `amplify update api` and follow the prompts to update the conflict resolution strategies (https://aws-amplify.github.io/docs/js/datastore#conflict-resolution) so that the API had this support and my mutations were updated to have these fields:

[code]

[2019-12-14 16:09] gaohongwei commented on #4556
@elorzafe Thanks for following up.  Yes for both
We signed in the our app as cognito user. And the call is in our app
we have policy: AmazonAPIGatewayInvokeFullAccess

[2019-12-14 16:16] c0dingarchit3ct commented on #4575
That was brilliant Daniel!

[2019-12-14 18:15] evbo commented on #3436
@abiro I think this thread ([and others like it](https://github.com/aws/amazon-cognito-auth-js/issues/92)) are a bit awkwardly providing feedback to the Amazon Cognito team, which currently has no free way of receiving feedback from users and I wish it weren't so but like others I am just as confused where to voice ideas/feedback.

That said, I think many just want to just follow the [OAuth docume

[2019-12-14 19:24] ilgityildirim commented on #1368
actually there is no sense for further discussion. By definition secret shouldn't be exposed. This is intended behavior after all.

[2019-12-14 19:25] chai86 commented on #3954
Hi @udkyo , would you be able to share your bucket policy please? I believe the "Principal" key is tripping me up and i don't want to use "*" as my bucket will be public!! Also I have a user pool which is authenticated with Amazon Cognito, but i'd like to allow users to DeleteObjects from S3, which they aren't able to at the moment

[2019-12-14 19:38] NodeGuy commented on #3495
@davidgatti Thank you for writing this up.  I feel like I just dodged a bullet.

[2019-12-14 19:55] chai86 opened #4578 "How to delete an object from S3 bucket with Amplify?"
I have a mobile app which has users authenticate via AWS Cognito and they end up in a user pool (not Identity pool). They're able to put objects into the bucket no problem, but they cant delete. What i want to do is for each logged in user to be able to delete an file in the bucket.

The path to the files is for example: `my_bucket_name/protected/videos/video1`

To delete, i call this:

    import

[2019-12-15 05:16] sacrampton commented on #4539
I just upgraded the CLI to 4.6.0 and this error disappears

[2019-12-15 05:47] djacques7188 commented on #54
Can't believe this issue still is not resolved.  Building a new app and this is seriously making me question not just Cognito, but the AWS ecosystem as a whole.

[2019-12-15 09:36] royalaid opened #4579 "Datastore usage with Storage"
** Which Category is your question related to? **
Storage, API, and Datastore
** What AWS Services are you utilizing? **
AWS Appsync, S3
** Provide additional details e.g. code snippets **
Using the example code provided in the docs on how to [Complex Objects](https://aws-amplify.github.io/docs/cli-toolchain/graphql#s3-objects) and then trying to run `amplify
codegen models` results in:
[code]
So

[2019-12-15 12:22] alexofob commented on #4243
I had the same issue on nextjs. Not Supported. AuthClass.configure error.

@rkgrep proposed solution above fixed.

Thanks a lot, @rkgrep

[2019-12-15 15:41] Jordhan-Carvalho commented on #1852
Tbh this should be top priority

[2019-12-15 15:46] ghost opened #4580 "Sign In with Apple failure"
**Describe the bug**
Using signin with apple is returning error `Invalid+user+attributes%3A+email%3A+The+attribute+is+required%0A+&error=invalid_request`

**Additional context**
We have recently implemented amplify `sign with apple` **successfully** in our app. I have been doing some testing lately and followed the below steps:

 -  deleted app
 -  deleted the `apple` user from Cognito
 -  removed

[2019-12-15 15:57] c0dingarchit3ct commented on #4575
I can confirm that the sample @dantasfiles  provided worked like a charm, I am on now to handling the migration of my existing data.
I will close this feature request.

[2019-12-15 15:57] #4575 closed

[2019-12-15 17:30] fregadev opened #4581 "Does de @versioned directive keep old versions?"
** Which Category is your question related to? **
API (GraphQL)

** What AWS Services are you utilizing? **
AWS AppSync

** Provide additional details e.g. code snippets **
I was under the impression that using @versioned would keep the old versions, but I can't seem to find a way to access those old versions. So now I am assuming it simply controls version "clashing". If so, what is the recommend

[2019-12-15 17:59] alex-dixon opened #4582 "Failed to construct 'WebSocket' when using amplify mock over http"
Copied from an [upstream amplify-cli issue](https://github.com/aws-amplify/amplify-cli/issues/2935) as reported by @riacoding:

The error appears to happen because `new Websocket` is called with a string that starts with `http://` instead of the required `ws://` or `wss://`.

`https://` is replaced with `wss://` [here](https://github.com/aws-amplify/amplify-js/blob/7bd8843ad3c71c34c4f40684cd3c9869

[2019-12-15 22:13] sacrampton commented on #4579
This is the same issue that many people are reporting
https://github.com/aws-amplify/amplify-cli/issues/2988
https://github.com/aws-amplify/amplify-cli/issues/2944

[2019-12-16 01:06] jayair commented on #2014
Yeah once again. This is a very easy to reproduce issue. I'm not sure why it's not even being looked at...

[2019-12-16 01:12] willdady commented on #2014
@powerful23 can we get an update on this? This has been a major issue for over a year now. I can attribute several 1 star app store reviews to this bug. 😕

[2019-12-16 06:20] AmmarKureja commented on #1535
The problem still persists, I am using simple react with webpack. Please reply if anyone has the working solution.

[2019-12-16 07:16] IonutRealDevs commented on #4565
OAuth Federation, sorry for late response.

[2019-12-16 10:02] mevert commented on #4064
@elorzafe and other amplify-js guys: What is the status of this issue and when you will release the fix? It's been almost two month now since you reopened this case. Would be really useful to get this fixed asap.

[2019-12-16 10:16] cpmech commented on #3405
Same problem here. Using     "aws-amplify": "^2.2.0",

[2019-12-16 10:20] diego-palmeira commented on #2714
+1

[2019-12-16 10:36] mickadoua commented on #4567
i fixed this issue in deleting node_module and reinstalling last version of aws-amplify

[2019-12-16 10:36] #4567 closed

[2019-12-16 11:00] #4542 closed

[2019-12-16 14:39] mcbergsma commented on #4553
I do, does this help?

[code]

[2019-12-16 16:10] paudyaln commented on #3591
+1

[2019-12-16 17:22] elorzafe commented on #4387
@RyanWarner thanks for your comment, for me is not failing probably because I have a different webpack config. I am using standard `create-react-app` with typescript

[2019-12-16 17:30] elorzafe commented on #4553
That configuration should be using `Authorization` header with JWT, I will transfer this to console team. so they can take a closer look to this. Maybe on the deployed app is not using that config.

[2019-12-16 17:39] haverchuck commented on #4032
@ajhool - You can actually using Hosted UI's functionality without using their user interface.  With amplify, you can call the federatedSignIn function with a 'provider' parameters in the options,  which will direct the user's browser straight through hosted ui to the selected provider.  For example:
[code]
This will return tokens as if you had used the Hosted UI interface, but the user will only

[2019-12-16 17:40] haverchuck commented on #4014
@tomaszs Is this still a problem with the latest version of amplify-angular?

[2019-12-16 18:08] ericclemmons commented on #1368
We're still looking to learn more about circumstances that aren't resolved by unchecking the "Generate client secret" button:

[2019-12-16 18:13] ericclemmons commented on #4517
@germain-receeve I just wanted to let you know that we've been having several discussions behind the scenes:

- There's validity in introducing new events, but would need to be considered for all platforms (including iOS & Android).  **Would this still be a "noise" problem for you**, or is it not considered noise since they would be different from start/stop?

- Introducing new events would likely

[2019-12-16 18:13] haverchuck commented on #3959
@ajhool Amplify uses amazon-cognito-identity-js for most functionality related to User Pools.  If you don't want to use Amplify, you can still use the amazon-cognito-identity-js sdk for most uses cases with some extra leg work.

To get the user data, try starting with something like this:

[code]

[2019-12-16 20:18] Amplifiyer commented on #4576
@powerfulj can you try this https://github.com/aws-amplify/amplify-js/issues/4243#issuecomment-564553889 and see if that helps?

I believe the issue is that nextJs apps are using the `main` field of pacakge.json for entry point rather than `module` and so consumes the webpack bundles which are not compatible with nodejs (webpack does polyfill for nodejs process and doesn't have process.versions.no

[2019-12-16 22:12] willdady commented on #3567
@sekitaka wondering if you ever found a solution to this? Is this issue happening for you on both iOS and Android?

@manueliglesias an update on this would be much appreciated.

react-native: 0.59.8
aws-amplify: 2.2.0
aws-amplify-react-native: 2.2.3

[2019-12-16 22:21] haverchuck commented on #3878
@andreabarcaro Did you see the comment from @elorzafe  about using Hosted UI's functionality without actually displaying it's user interface?  This will allow Amplify to automatically create entries in storage that will subsequently allow currentSession to work (wich should have the idtoken).

[2019-12-16 23:29] elorzafe commented on #4582
I will transfer this to amplify cli repo

[2019-12-16 23:47] elorzafe commented on #4577
@benjamin79 which version of the cli are you using, can you try the latest?

[2019-12-16 23:51] elorzafe commented on #4578
@chai86 you dont need to specify the level (in this case `protected`) and the identity id. Those are added by the library automatically. more info [here](https://aws-amplify.github.io/docs/js/storage#put)

[2019-12-16 23:56] elorzafe commented on #4579
@royalaid DataStore doesn't support complex objects yet I will mark this as feature request

[2019-12-17 00:00] elorzafe commented on #4581
Moving this to cli repo, they will answer this issue more properly

[2019-12-17 01:21] Amplifiyer commented on #4574
@joebernard I don't see any difference between `2.1.2-unstable.6` and `2.1.1` from push notifications perspective (We launch a new unstable version when anything in the monorepo changes and nothing was changed in push notifications between these versions) Have you tried completely cleaning the workspace (deleting lock files and node modules once? This is because we have added a new dependency `"@r

[2019-12-17 01:24] obonyojimmy commented on #3159
I also noticed that instead of

[code]

[2019-12-17 01:56] Amplifiyer commented on #4537
@YIPG I just tried to reproduce this with the same amplify package version as yours and it's working fine for me. Can you enable debug logs in your application

[code]

and also provide the code sample of your app?

[2019-12-17 03:35] Amplifiyer commented on #4550
@sniperman23 I'm trying to understand where in Amplify is doing incorrect encoding. It seems you are passing already encoded URL in the custom state and Amplify is doing another encoding (hence twice encoded), but in the redirected URL, it's only encoded once.

What happens when you pass non encoded URL in the customState?

[2019-12-17 05:49] willdady opened #4584 "Intermittent 403 signature error when launching React Native app"
**Describe the bug**
Intermittently when launching React Native app **ALL** requests to API Gateway fail with a 403 error. Checking the API Gateway logs in CloudWatch shows they fail with:

App authenticates using Auth0. I am not using any HoCs from `aws-amplify-react-native`.

It's worth mentioning the symptoms are very similar to #3270 in that the issue only seems to manifest in production build

[2019-12-17 06:02] alexofob commented on #3592
Hi there,
I am using amplify on the web with react and I am experiencing this issue. So this issue is not only with react native. The amplify team needs to fix this.

[2019-12-17 07:08] msurguy commented on #1857
+1, having the same exact issue and quite a lot of time was spent figuring out where the problems is located...

[2019-12-17 07:58] oliverandersencox opened #4585 "IOS Rejected Ionic social auth"
I went to push my application apple yesterday and it was rejected due to the way Amplify handles authentication of social providers:

This stops my project dead. Is there any way around this, or any plans to enable social authentication in an ionic app using a web URL in which i can open within using the ionic pop over browser?

[2019-12-17 09:01] vitaliyzolotoy opened #4586 "Empty amplify-auth-sign-in component"
**Describe the bug**
While using `<amplify-auth-sign-in>` getting empty component in template

**To Reproduce**
html:
`<amplify-auth-sign-in [authState]="authState"></amplify-auth-sign-in>`

ts:
`import {AfterViewChecked, AfterViewInit, Component, OnDestroy, OnInit} from '@angular/core';
import { AmplifyService } from 'aws-amplify-angular';
import {Router} from '@angular/router';
import { AuthStat

[2019-12-17 10:12] clementAC commented on #3974
I strongly agreed with @schellack. Find changes is like a treasure hunt and clearly it's a waste of time for users. A global changelog that keep trace of all real changes accross the packages would be a great improvement

[2019-12-17 10:30] germain-receeve commented on #4517
@ericclemmons Thanks for the feedback about the current state of the issue.

- No, they would not be noise anymore since we would only take into account the `start/stop` events and ignore the `pause/resume` that are not relevant to our use case.

- Sadly you are right, this will probably require a major version and therefore take some time.

- For now I introduced a hack on our end that listen to

[2019-12-17 12:14] powerfulj commented on #4576
I changed my code by following the comment which works great! Tons of thanks mate.

Actually I'm not using NextJS but using Express that customized all the SSR settings.

Thanks again!

[2019-12-17 12:14] #4576 closed

[2019-12-17 12:20] powerfulj commented on #4243
Solved with the same solution, thanks!

[2019-12-17 13:55] tomaszs opened #4587 "Amplify for Angular takes 5 MB of a build bundle in production"
Hello,

I am using Amplify for Angular library. On production it occurs to take 5 MB of data:

![bundle](https://user-images.githubusercontent.com/834977/71001114-d82dde00-20dc-11ea-85c1-a27e2fb651d8.jpg)

Versions used are:

"@aws-amplify/ui": "^1.0.19",
"aws-amplify": "^1.2.4",
"aws-amplify-angular": "^3.1.4",

Angular: 7.3.9

My questions are:

1. Is such big size something to be expected?
2. W

[2019-12-17 14:06] claudioviola commented on #4351
Hello @Ashish-Nanda
From my side very weird case.

Until yesterday I builded and released many versions with this configuration:
"amazon-cognito-identity-js": "^3.0.15",
"aws-amplify": "^1.1.29",
"react": "16.9.0",
"react-native": "0.61.4",
It worked very well.

Today I faced the issue session wasn't anymore persistent.
So I updated my dependecies to `latest`
"amazon-cognito-identity-js": "^3.2.0"

[2019-12-17 14:16] mikedizon commented on #4351
Sounds like a few of the folks in this thread are having some issues with dependencies. FWIW, I've added dependabot to my repository and haven't seen any issues since the fix was pushed.

[2019-12-17 15:12] damien-monni commented on #4243
No I haven't. I am still using old package versions to make it work:

[code]

Because my app is server side rendered (next.js) and I need to know if my user is authenticated and refresh the token if needed to get real SSR.

[2019-12-17 15:40] wmcbain commented on #4545
Is there any way to get additional support for this Issue. We're still unable to solve and this is blocking federated identities for our app launch.

[2019-12-17 16:12] haverchuck commented on #3875
@TOPSinfo @michelem09 There are two ways to federate with social providers in Cognito:  with Identity Pools or with User Pools (via Hosted UI).  If you are federating with Identity Pools (which seems to be the case) a user will not be create automatically in the User Pool... you will simply see an 'Identity' in the Identity Pool.

You note that you do not want to use the Hosted UI.  If your object

[2019-12-17 16:21] islamelamer commented on #3985
I faced  the same problem with post data to API and i have solved it by closing my anti virus

[2019-12-17 16:53] chai86 commented on #4578
@elorzafe so when i'm calling the remove() I tried this:
`Storage.remove('videos/video1')`
but still no luck. The user is already signed in via cognito in the mobile app.

The full path is actually `my_bucket_name/protected/eu-west-2:de55c2rf-8f1e-836d-88f9-82da662aau6dt/videos/video1`

The `eu-west-2:de55c2rf-8f1e-836d-88f9-82da662aau6dt` folder gets automatically created for each user when i do

[2019-12-17 17:02] kevinold opened #4588 "DataStore immediately issues UPDATE after INSERT"
**Describe the bug**

DataStore performs an INSERT with `name` attribute and immediately triggers UPDATE which removes `name` attribute dispite the record being persisted to DynamoDB table.

I am updating an existing Amplify project/API to use DataStore.

I have upgraded my api using `amplify update api` (https://github.com/kevinold/gift-list-datastore/blob/master/amplify/backend/api/santaslist/tr

[2019-12-17 17:41] haverchuck commented on #3395
@iamdavidmartin I believe the token expiration is dictated by the User Pool configuration (not to be confused with the actual AWS credentials that are provisioned with the aid of the tokens - these are more shortlived).

[2019-12-17 17:46] haverchuck commented on #3395
Closing this issue as this  issue as the feature has been implemented in Hosted UI and is handled by Amplify.  We do have an [open issue](https://github.com/aws-amplify/amplify-js/issues/4562) concerning Sign In With Apple... if anyone experiences this behavior or has other problems regarding the feature, please respond to this issue or post a new one.

[2019-12-17 17:46] #3395 closed

[2019-12-17 17:57] haverchuck commented on #3385
@Raythode I believe the VerifyUserAttribute triggers the [CustomMessage lambda trigger](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-lambda-custom-message.html), which you could probably use to send a verification link.

[2019-12-17 18:02] michelem09 commented on #3875
@haverchuck that's great, let me try it. Thanks

[2019-12-17 18:03] elorzafe commented on #4585
@oliverandersencox Can you give us more details about your project.
- Which social providers are you using?.
- Are you doing OAuth federation or Identity pools federation?
- Which version of Ionic?

[2019-12-17 18:08] elorzafe commented on #4584
@willdady can you paste a code snippet of your App to see how you are doing sign-in. Also how are you refreshing credentials?

[2019-12-17 18:13] elorzafe commented on #4578
@chai86

What is the CORS configuration of the bucket. Can you try the policy mentioned [here](https://aws-amplify.github.io/docs/js/storage#amazon-s3-bucket-cors-policy-setup), I think it could be that the problem.

[2019-12-17 18:14] chai86 commented on #4578
@elorzafe CORS configuration of the bucket is as follows:

[code]

[2019-12-17 18:23] Mighty683 commented on #2588
This feature would be super usefull since it can't be done by any tigger.

[2019-12-17 18:31] iamdavidmartin commented on #3395
Hi @haverchuck, I see you closed this, but is the implementation finished? Specifically, the amplify withOAuth HOC does not support sign in with Apple.

In the docs (https://aws-amplify.github.io/docs/js/authentication#react-components) there are 3 providers that are supported:

- facebookSignIn
- googleSignIn
- amazonSignIn

I believe this HOC ought to have another prop:
- appleSignIn

Does that

[2019-12-17 18:38] haverchuck commented on #2599
@ilrein If you are using Amplify and you have configured your other resources (i.e. Storage, API, etc) to allow unauthenticated identities, then this should be handled for you automatically.  However, if you are using other services not supported by Amplify, you should be able to leverage the credentials to sign the request for these services assuming that they too are configured to accept unauthe

[2019-12-17 18:47] elorzafe commented on #4556
@gaohongwei

Did you created the API and Cognito Identity pool on the same account?

[2019-12-17 18:50] elorzafe commented on #4556
@gaohongwei

Can you share your API config more in detail? Are you using proxy+ or you have the path you mentioned configured?

[2019-12-17 18:58] elorzafe commented on #4578
@chai86

Can you try setting the level on `Storage.remove` as well. Maybe the default level you have configured on Storage is not `protected`.

[code]

[2019-12-17 19:19] chai86 commented on #4578
I tried that already (because of how i do the Storage.Put), still AccessDenied

[2019-12-17 19:30] elorzafe commented on #4578
@chai86

Yes, you will need an Identity pool to get AWS Credentials. (I am not sure how your able to upload things to S3 though). The Cognito User Pool is an Authentication provider on the Identity Pool, when you have that configured Amplify gets credentials automatically.

That identity pool must have an auth role that has attached the policies mentioned [here](https://aws-amplify.github.io/docs/

[2019-12-17 20:04] chai86 commented on #4578
@elorzafe I do think thats the piece missing. I've been trying to implement this for many days now. I tried the bucket policy that you linked a few days back but it said it's missing a "Prinicipal" field. I tried a few:

[code]
neither worked.

So i do have a user pool and an associated Identity pool ( I know this because at the moment each has 19 users/identities in them).  What steps must i foll

[2019-12-17 20:42] haverchuck commented on #4587
@tomaszs Have you tried configuring your module to only use the portions of Amplify that are needed?

https://aws-amplify.github.io/docs/js/angular#option-2-configuring-the-amplify-provider-with-specified-amplify-js-modules

[2019-12-17 21:01] markmckim commented on #4580
I can replicate this also.

I have managed to narrow it down as follows:

1. My initial testing was done on simulator
2. When I click "Sign in with Apple" in my app, I get switched over to the browser, asked to login with username, password (because I don't have FaceID on the emulator). I then get prompted for Apple's MFA 6 digit code, then I get asked to share/don't share my email address and pro

[2019-12-17 21:07] markmckim commented on #4580
I also just wondered if it was a "debug" vs "release" Xcode issue, or an local vs bundled React Native issue. But I tried a bundled, release build on the simulator and it still works as expected.

So far seems related to initial sign up on a real device

[2019-12-17 21:14] markmckim commented on #4562
@oliverandersencox I wonder if this is the same issue here? https://github.com/aws-amplify/amplify-js/issues/4580

Could you try the steps I outlined on the other ticket (deleting your sign in with apple permission and trying from a simulator)?

[2019-12-17 21:20] markmckim commented on #4580
Possibly getting a little closer...on a real device, when I get the FaceID/TouchID prompt, if I select "sign in with a different Apple ID"....which causes me to use username/password login instead of FaceID/TouchID, then it DOES work.

It seems like whatever way the Safari in-browser FaceID/TouchID prompt is getting / sending back the app data is not working. (which would explain why the app name

[2019-12-17 21:56] mickadoua commented on #4567
I have again this issue, but the code doesnt change
My bug is similar to  https://github.com/aws-amplify/amplify-js/issues/4351

[2019-12-17 22:12] Amplifiyer commented on #4437
@kqumsieh Were you able to dive deep more into the issue?

[2019-12-17 22:31] chai86 commented on #4578
Sorted: my IAM user policy for the authorised user had a Get, Put but no DeleteObject. Added it...magic!

[2019-12-17 22:31] #4578 closed

[2019-12-17 22:36] ericclemmons commented on #4483
Reproduced with the `react-native` CLI as well:

[2019-12-17 22:53] mickadoua commented on #4351
I stile have the same issue, its weird because 2days ago, i thought every was fine,

I tested @latest and @next but the result is the same,

[2019-12-17 22:54] ajdinahmetovic commented on #4351
I agree with @mickadoua, I tesed few days ago it was working fine. Now I have same issues again 😕

[2019-12-17 23:14] mickadoua opened #4590 "cant use @amplify/auth alone"
**Describe the bug**
after `yarn add  @amplify/auth` and change all the import according to the doc, I get

`bundling failed: Error: Unable to resolve module `zen-observable` from `node_modules/@aws-amplify/core/lib/Util/Reachability.js`: zen-observable could not be found within the project.`

**Expected behavior**
Use @amplify/auth without installing all the others librairies

<details>
  <summar

[2019-12-17 23:23] ericclemmons commented on #4483
Aha! So the problem is with using `<Authenticator>` instead of `withAuthenticator(App)`.

There isn't React Native support for `<Authenticator>` (or its sub-components), only the Higher-order Component (HoC):

(Or, based on your usage, `Authenticator` and `SignIn` are broken)

@hew Try converting your code to use `withAuthenticator(App)` and let us know if that resolves it for you.

I'm looping in

[2019-12-17 23:24] Amplifiyer commented on #4565
@IonutRealDevs the way to use FB SDK (or any other federation provider's SDK), is to use identity federation. Please however note that amplify recommends using OAuth flow for federated authentication. If you only use Facebook, you can also pass the federation Provider directly in the OAuth signin call which will skip the hosted UI and go directly to the provider's login page. such as `Auth.federat

[2019-12-17 23:33] Amplifiyer commented on #4590
#4511 fixed this issue however it hasn't been released to stable version yet. Can you try with the unstable version 2.1.2-unstable.6 and let us know if that fixes your issue?

[2019-12-17 23:36] Amplifiyer commented on #4538
There is another issue opened to make the release notes better #3974 Please +1 over there. Closing this as duplicate

[2019-12-17 23:36] #4538 closed

[2019-12-17 23:39] mickadoua commented on #4351
in Android I dont have any issue

[2019-12-17 23:40] ajdinahmetovic commented on #4351
@mickadoua Can you share package.json and how you use Auth.currentAuthenthicatedUser() ?

[2019-12-17 23:46] mickadoua commented on #4351
@ajdinahmetovic  hello and thanks for your help,

I use this code to get the CognitoToken

[code]

<details>
  <summary><strong>Environment</strong></summary>

[code]
</details>

[2019-12-17 23:49] ajdinahmetovic commented on #4351
@mickadoua Thank you I will try to use this to fix issue tommorow and reach out if I have any further problems.

[2019-12-18 00:16] elorzafe commented on #4578
@chai86 Nice! I am glad it works now 👍

[2019-12-18 01:07] ericclemmons opened #4592 "React Native - Valid email/username with invalid password returns RNAWSCognito error"
**Describe the bug**

Related to my testing in https://github.com/aws-amplify/amplify-js/pull/4520#issuecomment-566778280, using `withAuthenticator` and signing in with a **valid** username and **invalid** password results in a `null` error, vs. a user-centric error.

**To Reproduce**
Steps to reproduce the behavior:

1. Perform Step 1 of https://aws-amplify.github.io/docs/js/start#option-2-use-re

[2019-12-18 01:08] willdady commented on #4584
@elorzafe as requested.

Amplify config. Note `Config` is `react-native-config`.

[code]

Below is `AuthService` a _convenience_ module which is an abstraction over both Amplify's and Auth0's methods.

[code]

Below is the redux action `auth0Authentication` (a thunk) used to trigger sign in. Note I've excluded the code which runs after `federatedSignIn` which basically triggers navigation to the a

[2019-12-18 07:32] claudioviola commented on #4351
@mickadoua  @ajdinahmetovic
Yours scenario seems very similar to mine.
The very weird aspect of this issue is that it shows suddenly out.
Read my post above: I didn't change any dependencies from my project but suddenly the currentAuthenticatedUser stopped working.
https://github.com/aws-amplify/amplify-js/issues/4351#issuecomment-566555291

How can it happens? I mean without updating dependencies

[2019-12-18 07:33] tomaszs commented on #4587
@haverchuck thanks i will check it out and let know about the results. @elorzafe thanks for tagging

[2019-12-18 08:31] tomaszs commented on #4587
@haverchuck It didn't help.

in main.ts i have:

[code]

in app.module.ts:

import { AmplifyAngularModule, AmplifyService, AmplifyModules } from 'aws-amplify-angular';
import Auth from '@aws-amplify/auth';
...
providers: [
      {
         provide: AmplifyService,
         useFactory:  () => {
           return AmplifyModules({
             Auth
           });
         }
      },

And still i incl

[2019-12-18 10:05] tomaszs commented on #4587
Solved,

I had to change:

import { Auth } from 'aws-amplify';

to:

import Auth from '@aws-amplify/auth';

And this means that here:

https://aws-amplify.github.io/docs/js/authentication

Documentation is wrong, because it tells to use wrong import.

And also here:

https://aws-amplify.github.io/docs/js/angular#importing-the-amplify-angular-module-and-the-amplify-provider

There should be a line

[2019-12-18 10:05] #4587 closed

[2019-12-18 10:13] benjamin79 commented on #4577
@elorzafe
thanks for your response.

Updated to 4.1.1 (latest) and did a new project. Now i get the same error like in firefox:

![image](https://user-images.githubusercontent.com/8600555/71077200-44fdb280-2187-11ea-9246-c6f452d71813.png)

The red one pops up after about 10 seconds.

[2019-12-18 10:20] markmckim commented on #4580
I wondered if the fact that app was not live in the App Store yet was a factor, so I tried with this one of our live apps and still was getting the same issue. So it doesn't appear that this is related.

[2019-12-18 12:12] oliverandersencox commented on #4585
@elorzafe  I'm using FB, Google and apple. All against user pools and they work great. The issue is, that being ionic, it will switch over to safari to do the authentication and then navigate back to the app, which is not a pretty UX.

Im on the latest Ionic.

What I wish to do is use the Ionic capcitor pop over browser to the do the Oauth, and then authenticate once the browser is closed, however

[2019-12-18 12:33] platon1993 opened #4593 "Error checkDebugDuplicateClasses (Amplify Push Notifications with react native 0.61.2 for Android)"
**Describe the bug**
I try to install Amplify Push Notifications with react native 0.61.2 for Android. There is no any information for this in documentation for this version of React native.
I have an error:
Task :app:checkDebugDuplicateClasses FAILED
Execution failed for task ':app:checkDebugDuplicateClasses'.

  java.lang.RuntimeException: Duplicate class com.google.android.gms.gcm.PendingCallba

[2019-12-18 13:30] rakannimer commented on #4535
Hey @kevinold

I'm getting the same error here, missing _version _deleted and _lastChangedAt.

What did you set the conflict resolution to to fix it ?

[2019-12-18 14:29] dave-malone opened #4594 "Amplify add auth fails due to UserPoolClientLambda Runtime config of nodejs6.10"
**Describe the bug**

Amplify add auth fails due to UserPoolClientLambda Runtime config of nodejs6.10

**To Reproduce**

1. Create a brand new amplify project and initialize as usual (`amplify init`, etc)
2. `amplify add auth`
3. `amplify push`

[code]
npx envinfo --system --binaries --browsers --npmPackages --npmGlobalPackages
[code]

[2019-12-18 14:42] kevinold commented on #4535
@rakannimer I selected optimistic concurrency per the conflict resolution docs on the DataStore page.  Do that and run `amplify push` and it will update your mutations to include those fields.

I will also add the note here that I've filed an issue with being able fully use the DataStore after upgrading the API.  That issue is being tracked here: https://github.com/aws-amplify/amplify-js/issues/45

[2019-12-18 15:19] leosoaivan commented on #3471
Still seeing a similar issue with the latest `aws-amplify` and `aws-amplify-react` and the Authenticator component and federatedSignIn bypassing the HostedUI.

I believe it may be related to https://github.com/aws-amplify/amplify-js/issues/3195 and https://github.com/aws-amplify/amplify-js/pull/4258

[2019-12-18 15:23] rakannimer commented on #4535
Thanks for the reply !

It did not work for my case, I'll try to setup a simple repro and maybe open another issue, or I'll stick to using vanilla GraphQL.

[2019-12-18 16:24] mrmaiko commented on #2311
Any update on this indicator? The short pause is really not good for user experience.

[2019-12-18 17:23] kevinold commented on #4588
cc @sebsto Would you have any ideas on why this would not be working as detailed your demo repo (https://github.com/sebsto/amplify-datastore-js-e2e)?

[2019-12-18 17:52] jonalexander commented on #1340
this does not work unless you pass the arguments as `UsernamePasswordOpts`. https://aws-amplify.github.io/amplify-js/api/globals.html#usernamepasswordopts
[code]

[2019-12-18 17:53] elliott-king opened #4595 "Bug: @aws_api_key causes silent failure on upload"
**Describe the bug**
The client seems to be having issues when I mix @auth with @aws_api_key.

My api has two authentication methods: user pools (default), and api key (for public access). I have a `Type` used within another `Type @model @auth` that has both owner and public rules. This sub`Type` needs to have `@aws_api_key` so it can be viewed when I make a public query. However, this creates an

[2019-12-18 19:04] KingDarBoja commented on #4506
Awaiting for the next release as I step into this error too. Glad to know it got fixed on that PR.

[2019-12-18 21:09] kevinold commented on #4588
I have narrowed this down to the `createKid` and `createGift` mutations returning an incomplete record, which seems to be what is triggering the update.

`createKid` mutation request payload (notice `name: "new kid"`)
![Screen Shot 2019-12-18 at 2 38 54 PM](https://user-images.githubusercontent.com/21967/71122967-50f96c80-21a7-11ea-90e5-faa237ebf30f.png)

`createKid` response:
![Screen Shot 2019-1

[2019-12-18 21:14] kevinold commented on #4577
@benjamin79 See https://github.com/dabit3/amplify-datastore-example#adding-datastore-to-an-existing-graphql-api

Ultimately you need to run `amplify update api` and follow the prompts to add conflict detection to your api.

[2019-12-18 21:55] WGriffing commented on #54
I am going to add in another possible solution here, but it may be of limited value and may have other drawbacks. I will not profess to be any kind of AWS or Amplify expert so if you see an issue with using this approach I would be happy to hear from you.

I found that it is possible to use a lambda authorizer (of type TOKEN, other types may be possible, but I did not test). We were already utiliz

[2019-12-18 22:46] KingDarBoja commented on #4590
It does for me :)

[2019-12-18 22:48] VicFrolov commented on #4561
Thanks for the reply @davegariepy ! The question is mainly around

`Allow unauthenticated logins? (Provides scoped down permissions that you can control via AWS IAM) Yes`

when configuring `amplify add auth`. this seems to imply that unauthenticated requests would still  work. Does this mean that I would need to set up two auths?

[2019-12-18 23:04] VicFrolov opened #4597 "Using amplify add function with @model tables, unauthorized access"
** Which Category is your question related to? **
Api
** What AWS Services are you utilizing? **
AWS Appsync
** Provide additional details e.g. code snippets **

How would one add a custom lambda resolver in javascript and access an existing `@model` database?

E.g.
1) Run `amplify add api`, GraphQL + Blog/Post/Comment schema. Let's add a really basic model for `User`, that contains `id` and `emai

[2019-12-18 23:44] clementAC opened #4598 "SNS role when mfa is disabled"
**Describe the bug**
A sns role is created on the cognito user pool even when the mfa option is not set during ``` amplify add auth ```
It cause some problems when I want to modify some options in the cognito console concerning verification. I can't modify anything because there is a sns role set that i can't delete (the field is disabled and even if i delete the role the field is set).

Every tim

[2019-12-19 03:08] NKHenry opened #4601 "Internet Explorer 11 InvalidSignatureException Error from API Gateway"
**Describe the bug**
When using Internet explorer, calling API.get results in an InvalidSignatureException from API Gateway. We're using Cognito User Pools and and AWS_IAM authentication behind API Gateway.

Things are working fine on Safari and Chrome.

The format of the Authorization header appears correct, it looks like the signature is the primary issue. I've tried taking the AccessId, SecretK

[2019-12-19 04:28] elorzafe commented on #4590
The fix is already published on 2.1.2 version. I will close this issue for now, @mickadoua feel free to open a new issue if the problem persist for you

[2019-12-19 04:28] #4590 closed

[2019-12-19 05:21] #4536 closed

[2019-12-19 05:21] #4528 closed

[2019-12-19 05:53] stevensacks opened #4602 "DataStore - Sync error subscription failed Connection failed"
**Describe the bug**
I'm following the React DataStore setup documentation, and after it's working, I add the @auth directive following the tutorial here:
https://aws-amplify.github.io/docs/cli-toolchain/graphql?sdk=js

The 3 buttons work (New, Query > 4, and Delete All). But the first time after clicking any of them, the following warning appears:
[code]

And after 5 seconds, the app crashes with

[2019-12-19 06:03] elorzafe commented on #4588
@kevinold

I reproduced your problem and found a solution for it. Can you update amplify cli to the latest version and run on your project `amplify codegen models`. That should solve the issue.

[2019-12-19 06:22] Akiren opened #4607 "amplify API.post Cloudfront 504 Error & Timeout settings"
This issue / question is related to using the Amplify API / VueJS

I have everything working perfectly.. I am using a backend lambda function with an api endpoint and I call it via amplify

When the backend returns a small number of items in an array I get them back no problem.... When the data is larger I get a generic error

I am using

import API from "@aws-amplify/api";
import config from "../

[2019-12-19 07:53] cinder92 opened #4603 "How to auto-select corporate id on hostedUISignIn?"
** Which Category is your question related to? **
Sign In
** What AWS Services are you utilizing? **
Push, Pubsub, Analytics
** Provide additional details e.g. code snippets **

![Captura de Pantalla 2019-12-19 a la(s) 1 52 49](https://user-images.githubusercontent.com/4725556/71154923-461ff580-2202-11ea-862a-60bbaa73d84e.png)

How can i auto-select the only result on screen after calling `hostedU

[2019-12-19 07:56] cinder92 commented on #4424
same question here, @anthonyhumphreys did you find a solution?

[2019-12-19 08:44] stevensacks opened #4604 "DataStore API Documentation link is broken"
**Describe the bug**
https://aws-amplify.github.io/docs/js/datastore#api-reference

The URL of that link is:
https://aws-amplify.github.io/amplify-js/api/classes/DataStoreclass.html

That link does not exist and automatically redirects to:
https://aws-amplify.github.io/docs/js/start

I checked here:
https://aws-amplify.github.io/amplify-js/api/index.html

And there's no mention of DataStore whatso

[2019-12-19 09:32] benjamin79 commented on #4577
@kevinold thank you, that solved it.

[2019-12-19 09:32] #4577 closed

[2019-12-19 10:49] GMKBabu commented on #166
hi ,
i'm getting this error can you help me how to fix
{"__type":"InvalidParameterException","message":"Attributes did not conform to the schema: email: The attribute is required\n"}

[2019-12-19 13:05] kevinold commented on #4588
@elorzafe I have been using the latest version, 4.6.0 as of today.  Just to be certain, I ran `npm i -g @aws-amplify/cli@latest` and received version 4.6.0.  I ran `amplify codegen models` but there was no change in the models.  What version of amplify-cli should I install?

[2019-12-19 13:23] kevinold commented on #4588
@elorzafe I upgraded to the `"aws-amplify": "^2.2.1"` in my project and this appears to have resolved the issue without running `amplify codegen models`.  If I run that command, there is no change on my models.  Thanks for the fix!

[2019-12-19 14:19] jguddas opened #4605 "aws-amplify-react S3Image component ignores cache control"
**Describe the bug**
the S3Image component ignores cache control headers

**To Reproduce**
- add `<S3Image imgKey={keyToProtectedAndCacheControledResource}/>`
- open the network tab in your browser of choice
- see the image load from s3
- see that the image has cache control headers
- reload
- see the image load from s3 using a different uri(query string changed)

**Expected behavior**
loading of

[2019-12-19 15:08] elorzafe commented on #4588
The change was on the `schema.js`
After I ran `amplify codegen models` it changed `"type": "string"` to `"type": "String"`

I will close this issue for now. Thanks for pointing this out!

[2019-12-19 15:08] #4588 closed

[2019-12-19 15:13] jmpolitzer opened #4606 "Receiving CORB warning for Pinpoint `_session.stop` event when navigating to new tab in Chrome."
**Describe the bug**
Receiving CORB warning for Pinpoint `_session.stop` event when navigating to new tab in Chrome.

**To Reproduce**
1. Create amplify (1.2.4) app using create-react-app (3.2.0) and set up Analytics following instructions in documentation.
2. Open in Chrome 78.
3. Navigate to new tab.
4. Return to tab in which the amplify app is running.
5. Observe CORB warning in the console.

<

[2019-12-19 15:33] kevinold commented on #4588
@elorzafe Odd, I've deleted my models and ran `amplify codegen models` and I still see `"type": "string"` throughout my `schema.js`, but it still works.

[2019-12-19 16:55] noelheesen opened #4608 "Major version breaking changes in api"
**Which Category is your question related to?** all
**What AWS Services are you utilizing?** Auth

Hi, there has been a major version increase but I can't really figure out which breaking changes were introduced and what the impact would be bumping the versions in our app. I've checked the change logs of some packages but I can't seem to find any breaking changes (was already using the modular sys

[2019-12-19 17:05] snj104 commented on #3985
How to fix this issus

[2019-12-19 17:46] omkarv-amazon commented on #4213
Using @aws-amplify/auth ^1.4.2, @aws-amplify/core ^1.2.2, in package.json.

I'm also seeing a silent failure while using the `Auth.currentCredentials()` API which I suspect is related to the refresh handler failing silently.  See below for the context in which I was using the API

[code]

For the most part the Call to Get OpenID Token would succeed, however there were situations were this API call

[2019-12-19 17:48] elorzafe commented on #4539
@sacrampton thanks for your feedback I will transfer this to amplify-cli repo, they can handle this issue better than me.

[2019-12-19 17:54] elorzafe commented on #4608
@noelheesen thanks for your feedback.

The braking change was on API, the selection set filtering from graphql subscriptions is now active. The result from AppSync service will be the intersection between the selection set of the mutation and the subscription. More info [here](https://aws.amazon.com/blogs/mobile/appsync-realtime/)

I will transfer this to docs repo to tackle this problem.

[2019-12-19 17:57] omkarv-amazon opened #4609 "Expose a greater amount of Auth Hub Events, e.g., Cognito Token Refresh events"
**Is your feature request related to a problem? Please describe.**
It is not possible to subscribe to granular Auth events for processes handled by the Amplify Auth Module, other than the events currently exposed through [Hub](https://aws-amplify.github.io/docs/js/hub)

**Describe the solution you'd like**
It would be helpful if the Hub eventing system publishes a greater range of Auth related [Hu

[2019-12-19 18:44] logi-dc commented on #1067
With the above solution when you try to add the credentials to the CISP it doesn't work

[2019-12-19 18:50] prog585 commented on #1067
Amplify's default way to handle this scenario is at signUp call. If user exists it will throw UsernameExistsException exception.

[2019-12-19 18:51] logi-dc commented on #1067
I want to check if a userExists in the pool at a different time to signup is there a method that allows that

[2019-12-19 19:00] prog585 commented on #1067
The default way I mentioned above (as per my research which was a thorough exercise), if otherwise you want to check before final signUp then that can be achieved by using some admin functions (please see the list of admin functions on cognito sdk docs). In calling admin functions you need to think about security perspectives though.

[2019-12-19 19:01] logi-dc commented on #1067
okay thank you

[2019-12-19 19:31] haverchuck commented on #4599
@AdanJSuarez Which version of Amplify are you using?

[2019-12-19 19:34] AdanJSuarez commented on #4599
This is what it said: "aws-amplify": "^2.2.1"

[2019-12-19 21:21] #4158 closed

[2019-12-19 21:21] #4308 closed

[2019-12-19 21:28] AdanJSuarez commented on #4599
Well, now is fixed. I just do it manually instead of use CLI and it works.

[2019-12-19 21:54] haverchuck commented on #4603
@cinder92  - Once your user has been routed to the Hosted UI, Amplify no longer has control over what occurs.  However, if you know in advance that this is going to be the only option, you can pass a 'customProviderprovider' parameter to Auth.federatedSignIn which will cause Hosted UI to immediately redirect to the specified provider.

[2019-12-19 21:57] haverchuck commented on #4594
@dave-malone Which version of the Amplify CLI are you using?  Older versions setup lambdas for this version of Node, but this was updated in newer versions of the CLI when the Lambda service began using  node 8.

[2019-12-19 22:11] sarahgriffis commented on #4545
Can someone please look into this?

[2019-12-19 23:30] Amplifiyer commented on #4599
@AdanJSuarez, can you provide more information on exactly what steps you took to fix this? There are some other customers who are facing similar issue.

[2019-12-19 23:50] sammartinez commented on #4365
Resolving as issue is now resolved.

[2019-12-19 23:50] #4365 closed

[2019-12-19 23:57] sammartinez commented on #4315
Resolving as above statement that the resolution is to upgrade to `"aws-amplify: "^2.2.0"

[2019-12-19 23:57] #4315 closed

[2019-12-20 01:11] #4157 closed

[2019-12-20 01:13] rallona opened #4610 "Its possible to send gzip js bundle instead of only plain .js one?"
I have launched a react app in AWS Amplify console using the amplifyjs but I dont know how to force to serve only the .js.gz (gzipped version of the bundle) instead of the plain js version.

[2019-12-20 02:37] ericclemmons opened #4612 "Tests failing on master"
**Describe the bug**

Here's what CI is running:

Oddly enough, #4520 added tests that worked within the scope of that PR, but CI was likely passing because it didn't run the tests with the rest of the changes.

If the fix is simple, I'll address it.  If the fix is not (e.g. transitive dependency issues), I'll back out the test/build changes & keep #4422 & #4427.

**To Reproduce**
Steps to reprodu

[2019-12-20 07:50] rawadrifai commented on #3853
Any updates on this?

[2019-12-20 08:07] tohjg commented on #4430
Fixed in #4427. Release on `@aws-amplify/auth@2.1.2`

[2019-12-20 08:37] chuckatc opened #6108 "DataStore with @auth - Sync error subscription failed ... Missing field argument owner"
***tl;dr*** Is it necessary to configure DataStore to include `owner` for syncing when using owner auth? If so, what's the syntax or can anyone point to a working example?

**Which Category is your question related to?**

Amplify CLI, DataStore, auth, GraphQL API

**Amplify CLI Version**

4.6.0

**What AWS Services are you utilizing?**

Amplify CLI, Datastore, AppSync, Cognito User Pools

**Provid

[2019-12-20 09:34] bakeruk commented on #4025
+1

[2019-12-20 09:36] bakeruk commented on #4025
Is this just an iOS bug or does it affect Android as well?

[2019-12-20 10:57] Jobel91 commented on #4244
I'm facing this issue, with React-Native without Expo.

Following the example in the doc : https://aws-amplify.github.io/docs/js/authentication#facebook-example-in-react-native-expo, it seems that we need to get a token before launch the process with Auth.federatedSignIn() method.

Maybe a workaround would be to use [react-native-fbsdk](https://github.com/facebook/react-native-fbsdk) with the **Lo

[2019-12-20 12:16] RicardoBarroso commented on #3124
For me the problem was solved following the @Luckygirlllll suggestion but selecting an option with a different description (probably it was updated on the meanwhile):

`Xcode to Product -> Scheme -> Edit Scheme -> Wait for executable to be launched`

[2019-12-20 12:16] ExSpecter commented on #4515
For me adding `import 'core-js/es6/typed';` to polyfills.js (working with angular) helped fix the Uint32Array.from problem

[2019-12-20 12:23] hfahlbusch opened #4613 "Authenticator Angular not using copy/paste values on mobile devices"
**Describe the bug**
Using the authenticator component normal version in an angular application.
If the SignIn form is used on a mobile device (ios, android) e.g. iPhone X and the value for username or password is copied into the input field without hitting additional keys, then the values are not used.

Workaround found: if a character is added to the password by keypress and deleted and again, i

[2019-12-20 13:46] lluis-stage commented on #2897
Still not working for me. I have a public var in my component class but labels are always the default ones.

[2019-12-20 14:09] lambda0xff commented on #4311
Getting the same error with a Nuxt.js application after trying to upgrade aws-amplify to the latest (^2.2.1)

Please Amplify-JS team, show a little more love for SSR frameworks, they shouldn't be treated like afterthoughts.

[2019-12-20 14:11] lambda0xff commented on #4409
This issue is still present with the latest version (2.2.1)

[2019-12-20 14:14] rsahil commented on #3120
+1

[2019-12-20 14:15] AdanJSuarez commented on #4599
Sure.

I create a new branch in my project and start everything again, but this time I didn't use the CLI, just install Amplify and set `awsconfig` by hand -I had a User Pool defined previously- following the instructions: https://aws-amplify.github.io/docs/js/authentication#manual-setup

Then I run it and it doesn't gave me the error. I didn't do anything else so I guess I did something wrong the

[2019-12-20 15:07] hfahlbusch commented on #4610
Are you using the hosting feature or do you have a cloud front as a CDN delivering your application?

Then check the 'Compress Objects Automatically' option in Cloud Front, but I think that it is activated by default. For more Information check the following link => https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/ServingCompressedFiles.html

So CloudFront should automatically ta

[2019-12-20 16:20] chriscraiclabs commented on #4580
Cheers for the help on this @markmckim! Looks like I'm having the exact same issue! In native Face ID prompt has `null` for the app name. Using the web client to sign In with apple also seems to work!

Can I also suggest some tags to the Admins - `Auth` `React Native`

Hope this gets looked at soon! Ive had to disable Apple Login for now

[2019-12-20 18:00] isi-gach commented on #4486
hi @tinnou
Are there any plans to fix this issue?

[2019-12-20 18:15] aliankarali commented on #4311
Forgot to mention that I get this error with express.js. it's not related to a specific ssr framework.

[2019-12-20 18:24] ericclemmons commented on #4612
Capturing the errors I see here:

[code]

[2019-12-20 18:33] Amplifiyer commented on #4612
@ericclemmons This is interesting, in my workspace, these tests are not even running and failing at the `amazon-cognito-identity-js` package. Tests for `@aws-amplify/interactions` are actually passing when run independently. Below is the entire log for yarn test from the root.

[code]

[2019-12-20 18:40] ericclemmons commented on #4612
@Amplifiyer Thanks for sharing this!

Doing the full `yarn clean && yarn bootstrap && yarn test` & now I'm getting the same results.

I'll have a fix for it shortly, & have theories why #4520 passed initially.

[2019-12-20 19:50] davegariepy commented on #4561
@VicFrolov yeah, I think this is where the `@auth` decorator comes in. I'm not sure how this works with the CLI or Appsync, though. Pretty sure you can specify `aws_iam` or `userpool`(?) with `@auth` to let Appsync know the permissions for each model or field.

[2019-12-20 22:13] iamgerardm commented on #4599
Seeing the same thing on a fresh react app.

[2019-12-20 23:57] joebernard commented on #4574
I think I figured out the issue. Up until `2.1.1` I have been configuring Amplify with two separate calls.

[code]

This worked fine on the `@unstable` release and is what the [docs](https://aws-amplify.github.io/docs/js/push-notifications) say. However on `2.1.1` I'm able to get `requestIOSPermissions` working only if it is passed into `Amplify.configure`.

[code]
Trying to configure these separa

[2019-12-21 01:28] #4554 closed

[2019-12-21 10:13] benjamin79 opened #4619 "Failed to execute 'get' on 'IDBObjectStore' when using Datastore.save on child element"
**Describe the bug**
When i use Datastore.save for a child element i get the following error:

[code]
post insert itself works

Update: Got it to work when using a query for the new post and inserting this one instead the return from the post save. Seems new Posts returns an Array instead of an Object. Don´t know why. Followed the example from: https://aws-amplify.github.io/docs/js/datastore

**To

[2019-12-21 11:07] jabirbarber-elder commented on #4163
Any updates on this? Were you able to get it to work with static audio files?

[2019-12-21 21:22] hndfaw opened #4620 "Amplify failing to built React App!"
I have a React application deployed to AWS Amplify, and every day I'm having couple of changes and push to GitHub which it re-builds on Amplify, Today I am having this issue which I don' t see anything wrong with my React build. any ideas about how to solve this?

                                 16 verbose Linux 4.14.152-98.182.amzn1.x86_64
                                 17 verbose argv "/root/

[2019-12-22 04:22] kevwang19 opened #4621 "Sign in user & get user object - Facebook & Google Login - AWS Amplify + React Native"
Currently building a react native mobile app to use federated/social logins FB and Google with AWS Amplify. Followed some tutorials (mostly this one: https://dev.to/dabit3/the-complete-react-native-guide-to-user-authentication-with-the-amplify-framework-ib2) and amplify docs in setting up the login process, and am able to get to a certain point - will use FB login as an example.

1. Used Auth.fede

[2019-12-22 08:27] TunvirRahman commented on #3124
For me it was signing issue. I was trying to build in device with production provisioning profile.

[2019-12-22 20:09] kevinold commented on #4602
@stevensacks I had this issue originally on amplify-cli 4.6.0 and amplify-js 2.2.0.

I updated to amplify-cli 4.7.0 and amplify-js 2.2.1 and I no longer see this issue.

[2019-12-22 21:47] camin-mccluskey commented on #4378
Is it possible to use a Webview to open the federated login pages in a bare (not expo) react native app? Our application has been rejected from the app store because the redirect happens in Safari when we call `Auth.federatedSignIn({provider: 'Facebook'})` for example. As an aside my `aws-exports.js` file does not have the same structure as suggested in the docs but rather looks like
[code]

[2019-12-22 21:49] camin-mccluskey opened #4622 "Using a Webview to complete federated login (React Native)"
### Which Category is your question related to?
Auth
### What AWS Services are you utilizing?
Cognito
### Provide additional details e.g. code snippets
Is it possible to use a Webview to open the federated login pages in a bare (not expo) react native app? Our application has been rejected from the app store because the redirect happens in Safari when we call `Auth.federatedSignIn({provider: 'Face

[2019-12-22 21:53] jonmifsud opened #4623 "Not Authorized to access field on nested type (without model) using IAM"
**Describe the bug**
When you have a model, that contains nested data from other types, the Authorization rules in the resolvers seem to get wonky in terms of who is authorized to view what.

Data is accessible via the default cognito access, when using Group or Private however IAM functions in Lambda get all the field values replaced by nulls on the request and recieve an error when trying to pos

[2019-12-22 23:41] twenty8ent commented on #4580
Same issue using React JS on Safari. No user created in cognito when using Touch ID but does work if I use "sign in with a different Apple ID" as stated by @markmckim.

[2019-12-23 02:11] #4620 closed

[2019-12-23 11:59] #4619 closed

[2019-12-23 12:45] sunnyqin commented on #4580
Same issue when using Touch ID and it does work when using username/password

[2019-12-23 13:45] raelmiu opened #4626 ""Models are not topologically sortable. Please verify your schema.""
**Describe the bug**
When generating models based on an existing schema with several relationships I get this strange error that I cannot understand:
"Uncaught Error: Models are not topologically sortable. Please verify your schema."

**To Reproduce**
Use a complex existing schema and generate models.

** Env **
MacOS 10.15.1
Amplify cli 4.7.0
Amplify Core 2.2.1

This is the error, I don't have to

[2019-12-23 13:45] raelmiu opened #4695 "DataStore: "Models are not topologically sortable. Please verify your schema.""
**Describe the bug**
When generating models based on an existing schema with several relationships I get this strange error that I cannot understand:
"Uncaught Error: Models are not topologically sortable. Please verify your schema."

**To Reproduce**
Use a complex existing schema and generate models.

** Env **
MacOS 10.15.1
Amplify cli 4.7.0
Amplify Core 2.2.1

This is the error, I don't have to

[2019-12-23 13:48] lluis-stage commented on #3115
Problem still present in aws-amplify-angular 4.1.2

[2019-12-23 13:52] akashnsmahaswami opened #4627 "on clicking pushnotification, onNotificationOpened is not triggered in android when app is killed."
**Describe the bug**
onNotificationOpened is not triggered in android when app is killed before receiving notification.

**To Reproduce**
1.Kill the App before receiving push notification.
2.Once you receive the notification, click on it.
3. application opens, but neither **onNotificationOpened** nor **onNotification** is triggered.

**Additional context**
Works fine in ios.
Works fine in android

[2019-12-23 15:11] damianrr opened #4628 "different URLs for Authenticator component's states?"
** Which Category is your question related to? **
E.g. Auth
** What AWS Services are you utilizing? **
E.g. Cognito
** Provide additional details e.g. code snippets **

Hello,

Is there a way of having different URLs for Authenticator components? Meaning mywebsite/login would open the component with the "signIn" authState and mywebsite/signup on the "signUp"?

Thanks.

[2019-12-23 18:15] Amplifiyer commented on #4613
Possibly related #3553

[2019-12-23 18:26] #3959 closed

[2019-12-23 18:26] #4014 closed

[2019-12-23 18:26] #4032 closed

[2019-12-23 18:46] Amplifiyer commented on #4621
@kevwang19 can you provide your full sample app code here? Also have you tried using `withOAuth` [HOC](https://aws-amplify.github.io/docs/js/authentication#react-components)

[2019-12-23 19:34] Amplifiyer commented on #4607
@Akiren Can you share your request and response headers for both the requests, one that works and one that doesn't. Also see if there is any OPTIONS request made prior to POST and share it's contents too. Thank you!

[2019-12-23 19:51] Amplifiyer commented on #4628
@damianrr you should be able to do it with the frontend framework you are using and configuring withAuthentication or Authenticator component to only render certain parts of the component https://aws-amplify.github.io/docs/js/authentication#using-the-authenticator-component

you can also [override](https://aws-amplify.github.io/docs/js/authentication#customize-your-own-components) these components

[2019-12-23 19:52] damianrr commented on #4628
I tried by tweaking the authState based on the pathname of the url and it's working. Thanks @Amplifiyer

[2019-12-23 19:55] ericclemmons opened #4630 "UI Component Preview (P0)"

[2019-12-23 19:57] antoinebrault commented on #3620
Disabling fullTemplateTypeCheck is an awful solution. The point of Angular + Typescript is to prevent type errors. Disabling type checking project wide because 1 lib can't fix their problems is not the right solution.

[2019-12-23 19:58] ericclemmons opened #4631 "UI Component Features"

[2019-12-23 20:00] ericclemmons opened #4632 "Themeable UI"

[2019-12-23 20:00] ericclemmons opened #4633 "Headless UI"

[2019-12-23 20:04] #4628 closed

[2019-12-23 20:08] #4633 closed

[2019-12-23 20:08] #4632 closed

[2019-12-23 20:08] #4630 closed

[2019-12-23 20:08] #4631 closed

[2019-12-23 21:45] Amplifiyer commented on #4627
Related #2975

[2019-12-23 22:26] #3878 closed

[2019-12-23 22:40] Amplifiyer commented on #4604
@stevensacks Thanks for catching the error. Typedocs for datastore category haven't been generated yet. I'll see if I can get the docs generated this week.

https://aws-amplify.github.io/amplify-js/api/index.html is a link to docs to the `API` category, however the link here is for the API reference (not to be confused with Amplify API category) for the `datastore` category.

[2019-12-23 23:34] Amplifiyer commented on #4602
Looks same as aws-amplify/amplify-cli#3048.
There is a fix #4617 for this and we will release as soon as possible.

[2019-12-24 00:18] ajenkins-cargometrics commented on #4015
It seems there really is no way to do this through lambda triggers.  The only way that Cognito seems to provide for controlling which scopes are granted to an access token is by creating different app clients with different sets of scopes enabled.

So for instance you could create an admin app client and normal-user app client for the same user pool.  Then your app would need to have different sig

[2019-12-24 01:07] Amplifiyer commented on #4242
Hi @keithkaikai  and @QuantJames, I tried reproducing the issue but I was not able to. Here are the steps I followed

1) Use WithAuthenticator HOC to handle signIn OR Auth.signIn() with userpool username and password
2) Check Auth.currentAuthenticatedUser()
3) Check Auth.currentCredentials()

In both cases (using HOC or API call) I am getting successful results for both currentAuthenticatedUser an

[2019-12-24 01:22] grigull opened #4636 "Unable to use authMode: "AWS_IAM" when logged in through cognito with API.graphql"
By using `type Category @model @auth (rules: [{allow: private, provider: userPools}, { allow: public, provider: iam}])` I can now allow both authenticated and unauthenticated users access to a read query on my database through appsync.

The problem is that it appears that in each appsync query I have to specify the `authMode` as either `AWS_IAM` or `AMAZON_COGNITO_USER_POOLS`, but if the user is l

[2019-12-24 04:04] Akiren commented on #4607
No request headers,

the response headers are the default templated when using amplify

app.use(function(req, res, next) {
    res.header("Access-Control-Allow-Origin", "*");
    res.header(
        "Access-Control-Allow-Headers",
        "Origin, X-Requested-With, Content-Type, Accept"
    );
    next();
});

[2019-12-24 05:23] Amplifiyer commented on #4607
@Akiren, sorry for the confusion, I meant to share the headers from the actual request and response made by the browser from the Network tab in the developer console.

[2019-12-24 05:36] QuantJames commented on #4242
This was resolved. The issue was that Cognito was provisioned without and used an app client secret, which is not supported by Amplify.

[2019-12-24 05:36] #4242 closed

[2019-12-24 05:55] Amplifiyer commented on #4264
Hi @AbeerSperadian, sorry to get to your question so late. Amplify supports code grant oauth flows (it's also the default) with Cognito hosted UI and you can configure the hosted UI as per https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-app-ui-customization.html

However I believe you need access to the code so that you can send it to the Alexa skill which would exchan

[2019-12-24 06:58] Amplifiyer commented on #4409
@lambda0xff, can you share your Nuxt project setup? As well as output of the following command `yarn list | grep graphql` (Replace yarn with npm as applicable)

My guess is that package `@types/graphql` and `graphql` that are installed are incompatible with each other and hence causing this errors.

[2019-12-24 08:27] lambda0xff commented on #4409
This is my current dependencies:
[code]

`yarn list | grep graphql` gives the following:
warning Resolution field "@aws-amplify/core@1.1.0" is incompatible with requested version "@aws-amplify/core@^1.1.2"
│  ├─ graphql@0.13.0
│  ├─ graphql@0.13.0
├─ @types/graphql@14.5.0
│  ├─ graphql@*
│  └─ graphql@14.5.8
├─ amplify-graphql-docs-generator@1.28.0
│  ├─ graphql@^0.13.2
├─ amplify-graphql-types-ge

[2019-12-24 10:22] hwkd commented on #3254
I'm actually having the same issue and I couldn't find any solution so far.

[2019-12-24 12:23] rkgrep commented on #3592
@alexofob
I had the same issue with event called twice on web, because I had `.configure` executed twice in the code - so it assigned urlListener event twice.
In my case it was `Amplify.configure({ Auth: ... })` and `Auth.configure({ ... })` in another part.

[2019-12-24 13:58] benjamin79 opened #4634 "Wrong schema? Type mismatch for Index Key"
When i use:

[code]
The request to the graphql api in appsync contains: userStatusId: null. I don´t want that field at the time of creating a user. So how do i get rid of it? A user can have one status. A status can be in many users. When i query with `DataStore.query(User)` I´d like to have all the relational fields like status in it. This parts works when using the schema below.

[code]
thanks

[2019-12-24 15:57] jmandivarapu1 opened #4635 "Help Required in User's Device Information"
** Which Category is your question related to? **
E.g. Auth
** What AWS Services are you utilizing? **
E.g. Cognito
 I am trying to check if the user's last device is equal to the current device he logged in.

So, I thought of using my Auth to get the current device information and got it using **Auth.currentSession()**. This gave me my device key and I assumed this key is unique per device(I am w

[2019-12-24 18:11] Amplifiyer commented on #4409
@lambda0xff thanks. I think the issue is multiple `graphql` packages and `@types/graphql`. Can you update aws-amplify to the latest version and also install `@types/graphql@14.0.0` so that both packages are at 14.0.0 version?

[2019-12-24 18:18] #3385 closed

[2019-12-24 18:29] Amplifiyer commented on #4635
@jmandivarapu1 just to confirm, you are checking the remembered device according to the APIs mentioned here https://aws.amazon.com/blogs/mobile/tracking-and-remembering-devices-using-amazon-cognito-your-user-pools/?

[2019-12-24 18:46] jmandivarapu1 commented on #4635
Yes. Mine is "always" to remember users devices

[2019-12-24 19:09] Akiren commented on #4607
Ok here are the 2 headers that come back... one is successful and one is fail... the ONLY difference is the failed response returns 75 items and the successful response returns only 40. Both come back within 40 seconds or so.

[2019-12-24 19:10] Akiren commented on #4607
FAILED HEADER ( with 75 items on the backend )

Request URL: https://xxxxxxxx.execute-api.us-east-1.amazonaws.com/dev/calculate
Request Method: POST
Status Code: 504
Remote Address: xx.xx.xx.xx:443
Referrer Policy: no-referrer-when-downgrade
content-encoding: gzip
content-length: 61

content-type: application/json
date: Tue, 24 Dec 2019 18:44:17 GMT
status: 504
via: 1.1 xxxxxxxxxxxx.cloudfront.net

[2019-12-24 19:11] Akiren commented on #4607
SUCCESS ( same code, same payload return... but only 40 items )

Request URL: https://xxxxxxxxx.execute-api.us-east-1.amazonaws.com/dev/calculate
Request Method: POST
Status Code: 200
Remote Address: 99.84.167.121:443
Referrer Policy: no-referrer-when-downgrade
access-control-allow-headers: Origin, X-Requested-With, Content-Type, Accept
access-control-allow-origin: *
content-encoding: gzip
content

[2019-12-24 19:12] Akiren commented on #4607
When I look @ the lambda logs, both responses are successful as a res.json using the template express middleware....  Both respond within 20-30 seconds without error

[2019-12-24 19:18] #2599 closed

[2019-12-24 19:48] Akiren commented on #4607
I feel like this is my issue
https://aws.amazon.com/premiumsupport/knowledge-center/resolve-http-504-errors-cloudfront/

But amplify doesnt give me access to cloudfront... how can I change this setting @Amplifiyer

[2019-12-24 19:51] grigull commented on #4636
Thank kaustav, for more information the error i get is `Request failed with status code 401`, also my completed schema for the category object is `type Category @model (subscriptions: { level: off })
  @key(fields: ["id"])
  @auth (rules: [
  {allow: private, provider: iam, operations: [read, update, create, delete]},
  {allow: private, provider: userPools, operations: [read]},
  {allow: public, p

[2019-12-24 20:00] damianrr opened #4637 "Can I have SignIn and SignUp components in the same page with Authenticator?"
Hello,

I'm trying to make a login page that slides to/from signIn and signUp (similar to this one: https://diprella.com/sign-in). For that, html/css wise I need all the html for signIn and signUp to be on the same page; yet given that Authenticator expects single components and he does all the wiring, I don't think that I can use it. So 3 questions:

1. Am I missing something and someone has an i

[2019-12-24 20:56] Amplifiyer commented on #4599
@AdanJSuarez and @iamgerardm, I have pushed a change which is currently on an unstable release. Both `Amplify.configure` and `API.configure` should work. Can you please test with the unstable version of amplify and let us know if that solves your issue? (Remember to delete lock files and node_modules before installing the unstable version)

[2019-12-24 21:30] #4612 closed

[2019-12-24 23:18] #4437 closed

[2019-12-24 23:28] kernwig commented on #4621
Looks like the same problem I'm facing with an Angular app. Upon sign-in with Google, the app reloads and I see the Cognito user information in local storage. Yet, `Auth.authStateChange$` reports a state of `“signedOut”`. Explicitly requesting the current auth user also returns `“No current user”.`  If I reload the page or navigate to the page with the amplify-authenticator component, then the sta

[2019-12-24 23:32] correaricardo opened #4638 "id: undefined"
** Which Category is your question related to? **
E.g. Auth, Storage
** What AWS Services are you utilizing? **
E.g. Cognito
** Provide additional details e.g. code snippets **

I'm using react with amplify, I manually installed all without cli, so I've this config file:

[code]

[code]

And this code from a component:

[code]

Then, in my browser I got this:

{id: undefined, username: "administra

[2019-12-25 00:18] #4534 closed

[2019-12-25 00:18] #3943 closed

[2019-12-25 00:18] #4537 closed

[2019-12-25 00:18] #4565 closed

[2019-12-25 04:51] fieldinrain commented on #1852
need this!!

[2019-12-25 04:59] #4407 closed

[2019-12-25 05:04] trantiendat opened #4639 "Support Japanese in Amplify I18n"
Problem :
- Apply another language into default login/logout is difficult. Amplify's document do not show which supporting languages and how to customize it.
- Current language do not support Japanese.
- Error in sign-up page cannot be translated. Always be English after changes to German, France. It's because someone set error message as static in this file https://github.com/aws-amplify/amplify-

[2019-12-25 05:15] kevwang19 commented on #4621
@Amplifiyer, I've seen online that more people have had success with the HOC, but it limits customizability, and I prefer to just use the social sign-ins. Below is my code for the login page:

`const SwitchNav = createSwitchNavigator({
  Login: {
    screen: Login
  },
  AppNavigator: {
    screen: AppNavigator
  }
})

const AppContainer = createAppContainer(SwitchNav);

export default class App e

[2019-12-25 05:24] kevwang19 commented on #4621
I guess also I didn't quite understand the onNavigationStateChange part in the dev.to/dabit3 tutorial I mentioned earlier... seems to me that in order to call the function checkAuth, there needs to be a navigation state change, but wouldn't that be the result, not the trigger of the function?

[2019-12-25 09:42] tantai24495 commented on #3373
is this support for AWS-android

[2019-12-25 10:15] dorsegal commented on #2014
So I have just googled my problem and got here.
Same happens here with:
aws-amplify: ^1.2.4
react: 16.6.3

[2019-12-25 11:05] ItayKatzCC commented on #3841
Any updates?

[2019-12-25 11:59] #4188 closed

[2019-12-25 14:36] mynameisguy commented on #4621
I'm having the same issue in react-native app.
Users get created but after I log in, calling `Auth.currentAuthenticatedUser();` return an error.
Regular sign in with username and password works (running `Auth.currentAuthenticatedUser();`  returns the user).

[2019-12-26 00:13] grigull commented on #4636
Removed all my node_modules and recompiled with all the latest Amplify versions, including the new Amplify CLI 4.8. Same issue even when deploying a brand new environment.

[2019-12-26 00:32] pubkey commented on #4535
@kevinold thanks, this worked in my case

[2019-12-26 01:01] corupta opened #4641 "Amplify Deploy - Fails to Cache Files in Build - [WARNING]: !TypeError: Cannot read property 'paths' of undefined"
** Which Category is your question related to? **
AWS Amplify Deploy Frontend from AWS Console UI
** What AWS Services are you utilizing? **
AWS Amplify Deploy
** Provide additional details e.g. code snippets **
Hi,

I'm using React & Gatsby in my frontend and deployed it using AWS Amplify Deploy from the AWS Console UI.

When I include the built public folder to be cached also (which is needed fo

[2019-12-26 01:10] corupta commented on #4641
Oh, my bad!

Seems like my build settings were missing spaces, for future reference:
if you do something like:
[code]

[2019-12-26 01:10] #4641 closed

[2019-12-26 02:01] RobotCharlie opened #4642 "Amplify Console - Build Failing - BackendEnvironment already exist"
**Describe the bug**
After I made updates to my amplify project. I did `amplify push` an after the command succeeded, I pushed my code to the repo, which kicks off a build, but the build keeps failing on the amplify console which says the the `BackendEnvironment feature already exist`. (I was pushing my feature branch, which already has a feature backend env created and I have already built succes

[2019-12-26 02:03] RobotCharlie commented on #4642
<img width="1312" alt="Screen Shot 2019-12-25 at 8 57 24 PM" src="https://user-images.githubusercontent.com/10777112/71453572-d9ed4680-2759-11ea-8960-001b00534954.png">

**This is the build log**

[2019-12-26 04:57] nbtd commented on #1824
Auth.federatedSignIn is a solution of the login with saml via hostedUI.

[2019-12-26 04:59] RobotCharlie commented on #4642
Another observation is that in my last succeeded build, amplify was using `@aws-amplify/cli 4.7.0` to build my project.

**The last succeeded build**
<img width="1242" alt="Screen Shot 2019-12-25 at 11 54 17 PM" src="https://user-images.githubusercontent.com/10777112/71458692-f6957880-2771-11ea-9532-e2535eeb5356.png">

** The first failed build**

<img width="1242" alt="Screen Shot 2019-12-25 at 1

[2019-12-26 05:24] RobotCharlie commented on #4642
Actually I was just poking around and found that we can actually set the version of the amplify cli we want to use in the Amplify Console -> App Settings -> Build Settings

<img width="1365" alt="Screen Shot 2019-12-26 at 12 22 43 AM" src="https://user-images.githubusercontent.com/10777112/71459536-f4351d80-2775-11ea-9f0b-2b9acc763804.png">

I then set it to 4.7.0 and the builds started to succede

[2019-12-26 05:27] RobotCharlie commented on #4642
**So guys. I am sure Amplify team will deliver a fix for this but the temporary workaround is set the Amplify CLI version to 4.7.0 in Amplify Console -> App Settings -> Build Settings**

[2019-12-26 08:08] dhinesh-agentz commented on #4025
+1

[2019-12-26 09:45] dorsegal commented on #2014
for all who want a workaround, we used @thiagohirata fix and it worked.
you can see how he managed to solve it here: https://github.com/aws-amplify/amplify-js/pull/4251

[2019-12-26 09:47] DheerajArora5 commented on #146
### while creation of cloudformation stack - I got error like
[code]
### workaround :
- went on to the Stack which is in Rollback state -> checked events and could see , (creation-failed) some Roles I don't have access ,
-  So , I checked IAM policy assigned to me - I was not having the access.
- I created a new policy and assigned to myself as an Inline Policy by Importing it from AWS.

[code]

w

[2019-12-26 11:41] rallona commented on #4610
I am using the AWS Amplify Console, not directly Cloudfront.

[2019-12-26 11:49] willdady commented on #4584
I was able to solve this by upgrading React Native from **0.59.8** to **0.59.10**. This was an extremely frustrating issue. No idea what changed between those versions. Closing issue.

[2019-12-26 11:49] #4584 closed

[2019-12-26 15:37] AryanJ-NYC commented on #4025
If you're _not_ using the predictions module, uninstall `aws-amplify` and use `@aws-amplify/core` plus any other services you're using:

`@aws-amplify/storage`
`@aws-amplify/auth`
etc.

[2019-12-26 17:04] jordanranz commented on #4642
Thanks for the detailed information @RobotCharlie, I will go ahead and move this to the Amplify Console issues for better exposure to fix this.

[2019-12-26 18:31] Shaninnik commented on #4351
I am having the same issue. It was working fine for month and then stopped working after minor version update. Rolling back to version I was using before or updating to latest have not worked. In my case I am doing `federatedSignIn` it works fine and calling `currentAuthenticatedUser({ bypassCache: true })` right after signIn returns user data. However after app reload calling `currentAuthenticate

[2019-12-26 19:32] Amplifiyer commented on #4621
@kevwang19 I believe that could be the root cause. Check the full React example [here](https://aws-amplify.github.io/docs/js/authentication#react-components) for capturing hub events. Ideally you will sign in and wait for the hub events to fire a `signIn` event which you can listen and then call `checkUser`. As an example, this is what HOC does https://github.com/aws-amplify/amplify-js/blob/master

[2019-12-26 20:04] kernwig commented on #4621
@Amplifiyer, given that the same problem happens with Angular, and the solution you point to is pretty much what I'm unsuccessfully attempting.

Either the same bug exists for both React and Angular, or in code shared by both.

It appears that this process only works if the login component is on the landing page after the redirect back to the application.

[2019-12-26 20:16] Amplifiyer commented on #4621
@kernwig, yes if you are using the HOCs then the landing page after the redirect should have the component since it's parsing the URL and updating the auth state. In your component, you can listen to the Hub events and after a successful signIn event, redirect the User to whatever landing page you desire.

[2019-12-26 21:22] wansco commented on #3495
I've taken a couple of stabs at cognito over the last year or two. The title of this thread hits the nail on the head. Good idea in theory, but horribly mismanaged in practice. Most of AWS is solid, so this particular product seems like an outlier. It would be nice if someone from aws would sound off on this topic.

[2019-12-26 22:18] evah88 opened #4643 "withAuthenticator(App) doesn't refresh on Auth.signOut()"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **
I'm using the withAuthenticator HOC as a wrapper around my react native app component. The sign in screen shows up correctly on app reload, then routes correctly to the home screen after sign in. However, on calling `Auth.signOut()` the scree

[2019-12-26 22:20] Amplifiyer commented on #4233
@malaci, can you try with the newer major versions of aws-amplify@2.x and aws-appsync@3.x and see if that resolves your issue? We have changed the subscription provider from IoT to AppSyncRealTimeSubscription provider.

[2019-12-26 22:32] #4603 closed

[2019-12-26 23:39] jordanranz commented on #4637
Hey @damianrr, this is a common use case we are looking to simplify for some of the [UI refactor work](https://github.com/aws-amplify/amplify-js/issues/3279) we are doing

[2019-12-26 23:50] jordanranz commented on #4638
Hey @correaricardo, could you provide a code snippet of how you are using the `Storage` operation when seeing that the operation is done on folder _undefined_.

Can you also explain the workflow a little bit more in detail. It seems you are signing in the `administrador` user. Are you trying to access the private bucket for that user?

[2019-12-27 00:03] jordanranz commented on #4643
In the current state of the React Native `withAuthenticator`, calling `Auth.signOut();` on a custom UI element does not hook into the `authState` of the Authenticator component wrapping your app. If you would like to use a built in method you can set `includeGreetings: true`:
[code]
Scroll down in [these docs](https://aws-amplify.github.io/docs/js/authentication#using-auth-components-in-react--rea

[2019-12-27 00:32] #4303 closed

[2019-12-27 00:40] #4607 closed

[2019-12-27 05:03] fhilitski commented on #4025
I have experienced this issue when using amplify with create-react-app.
In my case, this was fixed by updating dependencies to this:

   "react": "^16.12.0",
    "react-dom": "^16.12.0",
    "react-scripts": "3.3.0"

(This is basically the latest react)...

I notice that @Arjanvanmaren has:

  "react": "16.8.6"

Try updating react dependencies.

[2019-12-27 05:38] giovas94 opened #4644 "DataStore | Not working with NextJS or Gatsby"
We are trying to use Datastore with NextJS & Gatsby. It works without error but never sync the data to the cloud only works with the local IndexedBD (offline).

[2019-12-27 07:51] jimji1005 commented on #329
above only works if buckets are in the same region, unfortunately. 🤦‍♂

[2019-12-27 10:49] KristineTrona commented on #4351
I am having the issue now as well. It seemed fixed before, but the same as with @claudioviola it is not working anymore even though I did not update aws-amplify

[2019-12-27 11:20] akromswn opened #4646 "Is it possible to let user select mfa preference in login when both TOTP and SMS are enabled ? I did not see setUserMfaPreference in amplify Auth class. Is there any way to enable both totp and sms but not give preference to any (let user select it in login) ?"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
 Cognito
** Provide additional details e.g. code snippets **
aws-amplify version: ^1.1.38

[2019-12-27 12:23] simalexan commented on #4535
@undefobj I think the point missed for the case of @ykbryan was that, since this is a functional React component, it should mention that invoking DataStore should be either within a `useEffect` hook or as an event handler function, as the component needs to mount.

[2019-12-27 16:00] AdanJSuarez commented on #4599
I’ll do as soon as get back, and I’ll post the result. Thanks!

[2019-12-27 17:33] jordanranz commented on #4646
Hey @akromswn,

This is possible using the utility component: [`SelectMfaType`](https://aws-amplify.github.io/docs/js/authentication#letting-user-select-mfa-type).

Under the hood this uses: [`Auth.setPreferredMFA`](https://aws-amplify.github.io/docs/js/authentication#setup-mfa-type), if you would like to continue just using the Auth class with custom UI

[2019-12-27 19:55] AryanJ-NYC commented on #4636
@grigull I had the same problem. How I solved it:

1. Run `amplify console auth` in the terminal.
2. Choose `Identity Pool`
3. Click `Edit Identity Pool` at the top right of the webpage that opened in the browser.
4. Check `Enable access to unauthenticated identities`:

<img width="1003" alt="Screen Shot 2019-12-27 at 2 53 25 PM" src="https://user-images.githubusercontent.com/8263430/71530653-d755

[2019-12-27 20:42] giovas94 commented on #4644
Is not a problem with SSR. The issue is that datastore not retrieves warnings or errors of the cloud sync. And the problem that we had is that we add  a "**createdAt**" field to our models but like **AWSTimestamp** and the generated resolver adds createdAt and updatedAt by default but as **AWSDateTime**. Thats the problem a missmatch with the types but Datastore does not return any warning or erro

[2019-12-27 20:44] grigull commented on #4636
@AryanJ-NYC  unfortunately that is not the problem, unauthenticated identities are already enabled, it is problem with using `authMode: AWS_IAM` when the user is already logged in. When the user is not logged in `authMode: AWS_IAM` works fine.

[2019-12-27 21:12] #2365 closed

[2019-12-27 21:41] jordanranz commented on #4503
Per the discussion above, I do not believe this is a bug but rather an undocumented use case. Let us know if @ericclemmons' solution worked for you @camilobern

[2019-12-27 21:44] jordanranz commented on #4506
@ericclemmons this seems to have been merged and released. Is this safe to close?

[2019-12-27 22:03] jordanranz commented on #4541
Hey @groundswel, the docs that mention using the props `oAuthUser` or `oAuthError` are available when using the `withOAuth` HOC for `aws-amplify-react-native`. It seems you are trying to use them in the `withAuthenticator` HOC for `aws-amplify-react`. This is most likely the reason for the discrepancy.

[2019-12-27 22:04] ericclemmons commented on #4506
Safe to close! Thanks for everyone's help!

[2019-12-27 22:04] #4506 closed

[2019-12-27 23:22] namgk opened #4648 "How to add Auth for a custom API backend?"
** Which Category is your question related to? **
Auth

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
I'm running an EC2 instance that hosts my REST API, how can I use Amplify with Cognito to add an authentication gate in front of this API server of my own?

[2019-12-27 23:49] kernwig commented on #4621
Okay, found two fixes based on your comments @Amplifiyer, both involving using the `Hub` to listen for `signIn`. I first use this as a direct analogue to monitoring `Auth.authStateChange$`. The `Hub` told me when a federated user signed in/out, and `authStateChange$` for a user pool user. I still wanted to land on my accounts page though. So I changed it to navigate to the account page on `Hub` `s

[2019-12-27 23:53] jordanranz commented on #4610
If you are using the modular imports of Auth (`@aws-amplify/auth`) and Core(`@aws-amplify/core`) it will help shrink the bundle size. I will move this issue to the Amplify Console repo to provide further insight on how to reduce bundle size with their hosting solution.

[2019-12-28 00:18] jordanranz commented on #4362
Hey @andrew-aernos,

There is currently no `amplify-set-mfa` or `amplify-select-mfa` components for Angular. This will most likely come with our UI component refactor explained in [this RFC](https://github.com/aws-amplify/amplify-js/issues/3279).

[2019-12-28 00:21] jordanranz commented on #4355
Hey @blomm, I believe this is a question for Amplify Console. I'll move this issue to their queue.

[2019-12-28 00:23] jordanranz commented on #4344
@ashish-dirkmedia-de, are you using the `amplify-authenticator` in `aws-amplify-angular`?

[2019-12-28 00:26] jordanranz commented on #4287
This has been merged and the docs are [available here](https://aws-amplify.github.io/docs/js/analytics#using-amazon-kinesis-firehose). Closing this issue now. Please open a new issue if you are experiencing any related problems.

[2019-12-28 00:26] #4287 closed

[2019-12-28 00:33] jordanranz commented on #4151
It seems `Analytics.autoTrack` may need a `streamName` passed in to report to a specific stream. I'll mark this is a feature request.

[2019-12-28 00:39] jordanranz commented on #3942
May be related to: https://github.com/aws-amplify/amplify-js/issues/4151

[2019-12-28 01:41] dherbig commented on #3958
I'm also trying to make it so that I pass an image directly from my phone (Expo / React Native) to Rekognition. I've been trying to circumvent this by sending my requests through Lambda

[Documentation **explicitly** states that this is not only possible, but recommended. (Bullet point 2)](https://docs.aws.amazon.com/rekognition/latest/dg/operation-latency.html).  When will you fix this problem?

[2019-12-28 02:48] goatandsheep commented on #3942
It very likely is. Let's close this out marking this as duplicate as that one

[2019-12-28 02:49] goatandsheep commented on #4151
@jordanranz can you show an example that uses `streamName`?

[2019-12-28 02:56] mrmaiko commented on #4035
This is absolutely terrible.

Unfortunately I am running a check using javascript and setInterval to force the users input to lowercase...

Please, guys, this is really basic.

[2019-12-28 03:20] SeanRenet commented on #3120
how do we fix this?  I am getting it also.

Warning: componentWillReceiveProps has been renamed, and is not recommended for use. See https://fb.me/react-async-component-lifecycle-hooks for details.

Please update the following components: ConfirmSignUp

expo-cli:  3.11.1
"expo": "^36.0.0",
"react-native": "https://github.com/expo/react-native/archive/sdk-36.0.0.tar.gz",
"aws-amplify": "^2.2.1",
"a

[2019-12-28 04:33] simontegg commented on #4535
Running `update` and adding conflict resolution did not work in may case. `_version` was added but not `_lastUpdatedAt` or `_deleted`

[2019-12-28 06:41] SeanRenet opened #4649 "Amplify "add auth" throws warning regarding componentWillReceiveProps functions and ConfirmSignUp component"
**Describe the bug**

Code generated by "amplify add auth" + "amplify push" throws warning about legacy react-native code in amplify

[code]

**To Reproduce**

Steps to reproduce the behavior:
1. amplify configure
2. amplify init
3. amplify add auth
4. amplify push

5.  //add the following code to App.js

[code]
6.  yarn start

**Expected behavior**

expo / react native project to start without er

[2019-12-28 10:43] SeanRenet commented on #4649
@kaustavghosh06 why did this get transferred and why can't I find it?  This is like the first walk-though in amplify and its broken.

[2019-12-28 14:12] voraczech commented on #2613
@InstanceOfMichael just create a file, for example `amplify.js` in `plugin` directory and paste this code into the file. If you also want to use Amplify components, the code looks like this:

[code]

and import in `nuxt.config.js` file:

[code]

Inspiration [here](https://github.com/heyshadowsmith/nuxt-amplify-auth-starter) (not mine)

[2019-12-28 15:44] kangchals opened #4650 "How to delete PostEditor items?"
I tried to use example schema on api doc like below on Many-To-Many Connections

[code]

I created all items and then I tried to delete them but I failed especially on PostEditor.

There is a mutation to delete PostEditor so I called it like below

`API.graphql(graphqlOperation((deletePostEditor, {input: {id},})))`

It fails with below error message.

`Error: Invalid AST Node: {"input":"b2f7064c-a

[2019-12-28 16:00] giovas94 opened #4651 "DataStore generates subscriptions for all @model types"
**Describe the bug**
DataStore generates the subscriptions for onCreate, onUpdate & onDelete of all models. We are trying to disable the subscriptions of certain models because our schema is large and generates more than 50 subscriptions and we do not need all of them.

We add **@model(subscriptions: null)** to disable. The schema compiles correctly and not generates the subscriptions but Datastor

[2019-12-28 17:04] geoseong commented on #3682
I had same issues with the following dependencies,
[code]

### testing on Android Emulator
I just tried `$ yarn add amazon-cognito-identity-js`, and error disappeared.
- **package.json**
  - `"amazon-cognito-identity-js": "^3.2.1",`

### testing on iOS Simulator
got error first,
[code]
so I tried and error disappeared
- `$ cd ios`
- `$ pod install`
[code]

[2019-12-28 17:08] geoseong commented on #4148
@Luckygirlllll I had same issue on RN v0.61.5, and I posted [how I solved](https://github.com/aws-amplify/amplify-js/issues/3682#issuecomment-569433173).

[2019-12-28 17:12] geoseong commented on #3612
I had same issue on RN v0.61.5, and I posted how I solved.

[2019-12-28 19:48] AryanJ-NYC commented on #4636
Got it. I have had success using `authMode: 'AWS_IAM'` when the user is logged in. My schema is as follows:

[code]

Perhaps there's some weirdness with adding `providers: userPools` (though, the documentation _does_ provide that as an option). 🤷‍♂

[2019-12-28 20:12] grigull commented on #4636
My suspicion is that it has something to do with the cognito user groups feature that was added, as only to recently did i switch from my personal to solution to the official cognito user groups functionality.

[2019-12-29 00:12] pubkey opened #4652 "DataStore: How to do a sort-query"
** Which Category is your question related to? **
Storage
** What AWS Services are you utilizing? **
DataStore, AppSync
** Provide additional details e.g. code snippets **

When I do a query with `DataStore.query()`, how can do sorting?
The use-case is to get the user document with the highest number X in an attribute. The docs only describe simple queries.

[2019-12-29 08:43] akromswn commented on #4646
@jordanranz Thanks for the response. But it seems you did not understand my question. I am already using Auth.setPreferredMFA to set preferred mfa method but it only has three options ( "TOTP" | "SMS" | "NOMFA" ).  But what I want is that I want to enable both `TOTP` and `SMS` but I do not want to set preference so that user can select it while he is logging in.

[2019-12-29 08:56] akromswn commented on #4646
<img width="568" alt="Screenshot 2019-12-29 at 5 52 15 PM" src="https://user-images.githubusercontent.com/54656843/71554600-8da94b80-2a64-11ea-8d6c-40ca7ce7f3bd.png">

[2019-12-29 12:35] linearza commented on #678
Does this fix break source code highlighting in dev tools for anyone?

[2019-12-29 13:02] amzhang commented on #3436
@abiro Device tracking keys/secrets are also stored in localStorage, so vulnerable to the same type of risks as the refresh tokens stored there. But I assume other meta-data about IP, OS, etc are also used to confirm device.

[2019-12-29 14:28] ItayKatzCC commented on #488
Any updates?

[2019-12-29 15:21] evah88 commented on #2281
@jessedoyle Can you please share the exact code you used to trigger sign out using `onStateChange`?
We tried to do the same without luck.

[2019-12-29 16:41] code-matt opened #4653 "How to link aws-amplify-react-native"
** Which Category is your question related to? **
React Native

** Provide additional details e.g. code snippets **
[code]

There is no podspec file in aws-amplify-react-native. How is it ever supposed to autolink in a 0.60+ project ?

[2019-12-29 17:46] jskrt commented on #3854
Bump

[2019-12-29 17:51] jessedoyle commented on #2281
@evah88 - We moved to the `withOAuth` HOC (see: https://github.com/aws-amplify/amplify-js/pull/2665) to handle authentication so our code in this area has changed significantly.

Looking at some of our older commits, the code we had when using `withAuthenticator` to logout was similar to this:

[code]

[2019-12-29 19:51] saulscs commented on #4620
Hi, I have the same issue,  How did you resolve it ?

[2019-12-29 20:53] evah88 commented on #1529
Has anyone tried to implement this when the sign out button is under a TabNavigator? `onStateChange` does get passed down to App and even the TabNavigator itself, but not individual tabs

[2019-12-30 00:40] danmight commented on #3471
I agree with @leosoaivan. I'm using a custom UI and if I do amplify add auth and set it up without federated auth everything works fine. if I do amplify add auth and chose to set it up with social providers then when the app loads it hangs on the loading component and never switches the authState to signIn or anything else. If I switch it back to without federated it works again. I'm not sure why

[2019-12-30 02:02] phanviet commented on #3410
@mkrn  Does it happen if we config app scheme in production?

[2019-12-30 03:17] groundswel opened #4654 "How to pass variables to graphqlOperation query in aws-amplify"
Hi,

It would be great to have some examples on how to create a graphql query and pass a variable to it . For example I am trying to find books by certain user and the username is passed to the corresponding function as parameter selected at runtime:

[code]

But I keep getting various errors including "Validation error of type FieldUndefined: BooksBorrowed". An example would be great if someone c

[2019-12-30 09:07] juuyan commented on #4316
Any update? I have the same issue now... The callback is only executed after finishing the uploading.

[2019-12-30 13:02] maros96 commented on #3435
When you do Global Signout, secret key(or private key and with that also public key) is changed and every token that was created before calling Signout is invalid. So Cognito isn't tracking which token is revoked and which isn't. When key changes, validation of each token fails.

[2019-12-30 13:52] hfahlbusch commented on #4613
@Amplifiyer Yes, absolutely.
I had the same issue, when copying the username too. Because the pasted value is not recognized, the missing username error is thrown.

[2019-12-30 14:00] lambda0xff commented on #4409
Using latest aws-amplify (^2.2.1), added @types/zen-observable, @types/graqphql@14.0.0
`yarn list | grep graphql` gives:

│  ├─ graphql@14.0.0
│  ├─ graphql@14.0.0
├─ @types/graphql@14.0.0
├─ graphql@14.0.0

Still have the following error:
[code]

[2019-12-30 15:47] anywhereiromy commented on #4499
Did you find a fix for this? Tried the above workaround on a similar problem but to no avail.

[2019-12-30 16:08] evah88 commented on #4643
Thanks. I ended up creating a custom navigator that passes the `onStateChange` hook down to the sign out button. Then the button invokes the hook with the `SignOut` state. For reference including my code for the navigator and the invocation of `onStateChange` here:
Custom navigator:
[code]

Then invoke the `onStateChange` hook like this:
[code]

[2019-12-30 16:08] #4643 closed

[2019-12-30 16:39] anis-shaikh commented on #4499
@anywhereiromy I tried by above solution and it works for me but for that I need to replace all the import statement to " import API from '@aws-amplify/api/lib' ".

So I found another solution and that is by manually mocking Auth module.

`// __mocks__/auth.js
const Auth = jest.genMockFromModule('@aws-amplify/auth');
module.exports = Auth;

// __tests__/Test.js
import Auth from '@aws-amplify/auth'

[2019-12-30 16:54] ericclemmons commented on #3841
@ItayKatzCC Nothing in the form of a PR yet, but we have been reviewing the code since this bug came up and finding ways to solve it without introducing breaking changes.

In the meantime, the best way to handle this is to `await Auth.currentAuthenticatedUser()` and listen to the `Hub` events to know when the user is signed in for this flow.

[2019-12-30 17:11] ericclemmons commented on #4375
Your scenario makes sense: starting an incognito window is like starting a new session, while in a normal browser there's data in local storage being persisted.

Thanks for your thorough description!  I'll replicate this locally and see if there's a small fix to our logic paths (`i.accessToken` shouldn't have been evaluated), or if we should clear storage entirely when `federatedSignIn` is being c

[2019-12-30 17:30] jordanranz commented on #4649
The warning seems to be thrown from a component in the React Native component library:
`import { withAuthenticator } from 'aws-amplify-react-native'`

That library is owned by this repo, thus the reason for transfer.

We will look into a change that will get rid of this warning. Thanks for reporting.

[2019-12-30 17:34] leosoaivan commented on #4044
Would love a feature like this for the User Pool/Hosted UI flow.

We've got Google logins configured through a User Pool (bypassing the Hosted UI), and there is currently no way to switch Google accounts if a user has logged out or deactivated their account (which we do by deleting their info from the User Pool).

[2019-12-30 17:47] ericclemmons commented on #4383
@mithunkalan I haven't been able to validate this with calls to `Amplify.federatedSignIn` alone.  The API calls to `gr:get:User` go up by 1 with each sign-in attempt.

Could you help me understand why both `Amplify.federatedSignIn` and `Facebook.logInWithReadPermissionsAsync` are being used together? I assume it's so you can access Facebook's API, so you're using Amplify for the sign-in portion?

[2019-12-30 18:05] mithunkalan commented on #4383
Hi @ericclemmons . This issue has gone away. The problem was with the Hosted UI. It is requesting 2 tokens and causes failure. Each failure added 40+ calls to FB's counter. I still have no idea why. https://github.com/aws-amplify/amplify-js/issues/4388#issuecomment-559472049 Solves the token issue & now the FB calls are single digits.

[2019-12-30 18:52] ericclemmons commented on #4601
@NKHenry Can you help answer a few questions for me?  I'm working on replicating this and want to ensure I'm following along exactly:

- Can you clarify what you mean by setting up both API & _FE_?
- I don't see `aws-amplify` or `@aws-amplify/core` listed in your environment's dependencies. (`next` appears to be installed globally)  Did run the command in the issue template within your Next.js pro

[2019-12-30 19:01] SeanRenet commented on #4649
@jordanranz okay thank you.  I thought it was being buried.

[2019-12-30 20:04] #4225 closed

[2019-12-30 20:46] Jenpaulino3 commented on #3694
This worked for me! Thank you so much 🙌

[2019-12-30 20:55] jordanranz commented on #3942
Closing in favor of #4151

[2019-12-30 20:55] #3942 closed

[2019-12-30 20:56] jordanranz commented on #4151
@goatandsheep, unfortunately this functionality does not exist today.

[2019-12-30 21:05] jordanranz commented on #4646
Ok, apologies for misunderstanding. To clarify, you would like a single user to have the option to perform MFA with the option of both TOTP and SMS?

[2019-12-30 22:54] jordanranz commented on #4449
Reopening. We can close when the PR has been merged.

[2019-12-30 23:25] ericclemmons commented on #4346
@SidneyNiccolson @schimini Thanks for helping to narrow this down to Auth.

I was able to reproduce this bug using Edge (Stable):

- With a clear cache, my local app performs a call to `Auth.currentAuthenticatedUser()` on load.  During the series of calls, eventually the error comes back.
- On subsequent loads, calling `Auth.signIn('username', 'password').then(console.log).catch(console.error)` wi

[2019-12-30 23:30] ericclemmons commented on #4346
It's worth noting that several browsers have limitations on how long this request can be:

**It's very likely that the value is too high, and Edge is warning/hanging was a result**.

There's a great article on the topic to attempt to avoid the preflight call entirely:

[2019-12-30 23:57] danawoodman commented on #804
Bump. This is a huge issue and should be addressed

[2019-12-31 00:31] brycedeneen opened #4655 "amazon-cognito-identity-js Resend Confirmation Email Link"
I'm in a situation where I have users that don't click the confirmation link within 24 hours, but I'm not able to generate and send them a new verification link. I tried resendConfirmationCode and the result shows the right information (Attribute Name (email), Delivery Medium (email), and destination which is the correct email address) but no email is sent. Thanks for any help!

[2019-12-31 01:07] hew commented on #4483
@ericclemmons Thanks for the response! 😀

I ended up going with a custom approach using the `SignIn` method directly. So I don't have any immediate need, here. Thanks again.

[2019-12-31 01:15] iamdavidmartin commented on #3395
@haverchuck one other thing, the HOC also supports a variable called "loading" which we use to let our users know that processing is happening during auth, we show a spinner. But since the HOC doesn't support Sign In With Apple, the loading variable isn't available and the UI appears frozen as the hosted UI is presented.

So, another reason why HOC support for sign in with apple would be nice is t

[2019-12-31 01:17] lukecurtis93 opened #4656 "React Navigation Prop withAuthenticator"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **
I'm attempting to pass react navigation to a file to use elsewhere in the app that aren't native components. So I do the following:

[code]

then in my `navigationRef.js` file
[code]

So now I can import that anywhere in my app and navigate a

[2019-12-31 01:57] lukecurtis93 commented on #4656
Update:

This doesn't *feel* right but I was able to do the following and it worked

[code]

[2019-12-31 02:15] juuyan opened #4657 "progressCallback only gets executed when the upload is finished"
**Describe the bug**
progressCallback only gets executed when the upload is finished

**To Reproduce**
[code]
The log only gets observed once. ( when the uploading is finished )

**Expected behavior**
I expect it to run several times to log the progress of uploading.

**Screenshot**
![image](https://user-images.githubusercontent.com/48427014/71608822-eb51ab00-2bbe-11ea-95e6-b970e604fac5.png)

[cod

[2019-12-31 03:00] grigull commented on #4636
Looks like my suspicion was right, did a fresh install of both amplify and my entire application. The moment i switched from my manual set up of user groups to the amplify solution with dedicated IAM roles for each user group the query with a logged in user will fail for `authMode: AW_IAM`.

[2019-12-31 04:04] wildcard27 commented on #3853
I would love to see this, also

[2019-12-31 05:18] akromswn commented on #4646
@jordanranz yes that's right, at the moment I can set preference to `TOTP` or `SMS` while user is logged and he will be verified depending on that preference next time. So I would like the user to be able to login using any of both methods if he has set up both MFA methods.

I was told that it is possible to do that using [cognitoUser.setUserMfaPreference](https://docs.aws.amazon.com/cognito-user-

[2019-12-31 07:11] shalonteoh commented on #4025
Solved by following dependancies version as suggested by @fhilitski
then run `npm rebuild node-sass`

[2019-12-31 07:23] groundswel commented on #4654
I see https://aws-amplify.github.io/amplify-js/api/globals.html#graphqloperation .. But I wonder for above example what would be the correct way to pass the variable?

[2019-12-31 07:55] #4264 closed

[2019-12-31 09:09] camin-mccluskey commented on #3422
Any update on this? This is causing a major bug (logged out users on each app start) on a product application

[2019-12-31 11:42] juuyan commented on #1542
@engharb can you share bit about how you solved the issues?

[2019-12-31 13:55] juuyan opened #4658 "Get error: 'POST https://cognito-identity.us-east-1.amazonaws.com/ 400'... while have allowed unauthorized access...need help.."
** Which Category is your question related to? **
Auth

** What AWS Services are you utilizing? **
Cognito, Lambda, APIGateway

** Provide additional details e.g. code snippets **
When unauthorized user visits the web-app, everything works fine until API is called. The following bug would be threw: `POST https://cognito-identity.us-east-1.amazonaws.com/ 400`
What have I missed?

fyi:
1. Everything

[2019-12-31 16:54] aaxx commented on #4580
Confirm, same issue when using Face ID and it does work when using username/password. Our app has been rejected from publication in AppStore because of this issue

[2019-12-31 17:04] ericclemmons commented on #4483
@hew Glad to hear you're unblocked 😅 Going to keep this open so that we can at least get this addressed in the future with #3279.

[2019-12-31 17:17] ericclemmons commented on #4388
@oriharel Can you link the PR that you mention in this comment?

@mithunkalan Thank you **so much** for your patch!  That line in question is the source of several open issues and we've been investigating ways to address it.

So that I better understand your solution, it is ensuring that the `_handleAuthResponse` is only called _once_ per-URL, due to the Expo bug mentioned above?

If that bug/PR f

[2019-12-31 17:19] ericclemmons commented on #4383
@mithunkalan Thanks for the update!  I added a comment (https://github.com/aws-amplify/amplify-js/issues/4388#issuecomment-569961465) to better understand what changes we should consider to make this more resilient.

We can re-open this issue if there is more to investigate here specifically.

[2019-12-31 17:19] #4383 closed

[2019-12-31 17:30] ericclemmons commented on #4375
I was able to reproduce this:

1. Open up sample app with federated sign in.
1. Login with Facebook/Google/whatever.
1. `amplify console auth` (open Both, 'cause why not?).
1. Disable the user:

1. Delete the user:

1. Refresh the app (user is signed in because that's how tokens work).
1. Sign Out.
1. Login with the same social provider as before.
	1. Oddly enough, I had to refresh for the code to

[2019-12-31 17:52] ericclemmons commented on #4375
However, it's worth noting that this is a similar bug for a _different reason_ than what @oliverandersencox is likely experiencing.

[2019-12-31 18:04] ericclemmons commented on #4375
@oliverandersencox Can you clarify something for me? When you sign in after deleting the Cognito user, **are you signing out first** or not?

Thanks!

[2019-12-31 18:15] groundswel commented on #4654
Ok so to pass variables you have to 1) Define the query itself in schema.graphql file and 2) pass the variables in the form of a JS object ie graphqlOperation(getbooksforuser,{username:user}) .. BUT that is only the beginning .. for me it returns null and I am suspecting now I have to create a custom resolver .... In the risk of sounding frustrated  I wonder if all the complexity is really worth i

[2019-12-31 18:19] haverchuck commented on #4449
@christopherABM We have merged a PR to our master branch.  It should be on the unstable NPM tag shortly.

[2019-12-31 18:19] #4449 closed

[2019-12-31 18:53] jordanranz commented on #4646
If it is possible with `amazon-cognito-identity-js` then it is possible with Amplify. This specific use case may need a code change though. Here is the code in question:
https://github.com/aws-amplify/amplify-js/blob/510f86ef39bae3fba9a17deb630237a64c9dc7dc/packages/auth/src/Auth.ts#L694-L784

It seems to only allow a single MFA type within the function. Maybe we can override the function to allow

[2019-12-31 19:44] Amplifiyer commented on #4657
@juuyan I just tried to reproduce this with a 4MB file upload and I am able to get multiple (about 50) progress report callbacks. Have you tried with a different browser? Can you also share your complete sample app code where you can reproduce this?

[2019-12-31 19:58] Amplifiyer commented on #4658
@juuyan, can you share your sample app code and also the full request and response (along with headers) for the failing requests? You can find them in the network tab of the browser developer console.

[2019-12-31 21:06] katzeforest commented on #4486
Thank you for your feedback. :)

I will +1 on your behalf of this request to the AWS AppSync team.

[2019-12-31 21:08] krsnaa commented on #2817
@joseph-d-p, you could do what you are considering using custom resolvers, performing the beginsWith check in the response mapping template. check out the approach in https://docs.aws.amazon.com/appsync/latest/devguide/security-authorization-use-cases.html#real-time-data

[2019-12-31 21:12] Amplifiyer commented on #4653
@code-matt What errors are you getting while trying to use `aws-amplify-react-native` package in your RN app?

[2019-12-31 21:39] Amplifiyer commented on #4655
@brycedeneen Are you trying to use [Amplify Auth category](https://github.com/aws-amplify/amplify-js/blob/510f86ef39bae3fba9a17deb630237a64c9dc7dc/packages/auth/src/Auth.ts#L379-L384) to resent the verification code or directly using the [cognito sdk ](https://github.com/aws-amplify/amplify-js/blob/ac34816df326331cfe04474fdf35790c52f4a1d3/packages/amazon-cognito-identity-js/src/CognitoUser.js#L128

[2019-12-31 22:09] #4064 closed

[2019-12-31 22:09] brycedeneen commented on #4655
Hey @Amplifiyer thanks for the response! I am not using Amplify Auth Category, I'm directly using the cognito SDK. I believe I'm doing exactly what you recommended. Here is my code, could you tell me if I'm doing something incorrectly (also thanks for the response!!!):

`
    resendConfirmationCode(userName: string): Promise<any> {

        return new Promise((resolve, reject) => {

            co

[2019-12-31 22:11] Amplifiyer commented on #4064
@mevert I just merged the fix and it will reach an unstable release in few minutes. Please test using `aws-amplify@unstable` and let us know if the problem is resolved.

[2019-12-31 22:21] tw1t611 opened #4659 "Many-to-many relationship with custom key is not possible"
Hi,

just tried to add a many-to-many relationship, where one type has a custom key defined.
The error tells, that the key must be of type `ID`.

Example from the docs (modified to have a custom key field):
[code]

However, it should be possible to combine a key of `String` and `ID`
[code]

The error message in this case would be `title field is not of type ID`.

Reproduction:
1. Create the schema

[2019-12-31 22:32] Amplifiyer commented on #4497
@ajhool, the package in aws-amplify is the one that is used in Amplify and we recommend users to use. Are you having any trouble due to the standalone repo https://github.com/aws/amazon-cognito-auth-js

[2019-12-31 22:59] Amplifiyer commented on #4655
@brycedeneen I believe the issue is with using the existing user instead of creating again with the same username. Some community members also mentioned this on the [stackoverflow](https://stackoverflow.com/questions/53194794/cant-resend-verification-code-through-aws-cognito-api) though I agree it's counter intuitive.

For now try with `const user = this.createCognitoUser(username);` instead of Co

[2019-12-31 23:33] Amplifiyer commented on #4621
@kernwig thanks for the update. @kevwang19 let us know if you are still facing any issues.

[2019-12-31 23:49] Amplifiyer commented on #4622
@camin-mccluskey I believe you are looking for something like (or alternative of) [`WebBrowser.openAuthSessionAsync`](https://docs.expo.io/versions/latest/sdk/webbrowser/#webbrowseropenauthsessionasyncurl-redirecturl) which opens the Auth session in a model view.

There is nothing out of the box supported by Amplify, however if you do find any way to do this in bare react native app, Amplify provi

[2020-01-01 00:27] c0deWookiee commented on #4541
Hi there, I can confirm that withOAuth is not passing props to my react native application:

TypeError: props.facebookSignIn is not a function
App.js:
`
import { withOAuth } from "aws-amplify-react-native";
function App() {
  const [fontLoaded, setFontLoaded] = useState(false);

  if (!fontLoaded) {
    return (
      <AppLoading
        startAsync={fetchFonts}
        onFinish={() => setFontLoade

[2020-01-01 00:55] ajhool commented on #4497
@Amplifiyer Thank you. Yes, I think it's confusing and the standalone repo should be marked as deprecated and point to this repo. Additionally, there are numerous issues there that have gone unanswered because there is no indication that the repo has been deprecated.

[2020-01-01 07:20] juuyan commented on #4658
@Amplifiyer Hi updated. Thanks for your help.

[2020-01-01 07:34] juuyan commented on #4657
@Amplifiyer Hey I updated. Thanks~

[2020-01-01 13:28] code-matt commented on #4653
None yet. The instruction here mention for a 0.60+ project to use autolinking. https://aws-amplify.github.io/docs/js/start?platform=react-native

For that to work there needs to be a podspec file somewhere within the package for react-native to scan and recognize it as a native module to link. I am not seeing that for either package above and wanted to make sure there was not something missed in t

[2020-01-01 13:35] #4384 closed

[2020-01-01 16:57] code-matt commented on #4653
Sorry I see now these core ones do not link, closing !

[2020-01-01 16:57] #4653 closed

[2020-01-01 18:35] #4359 closed

[2020-01-01 18:35] #4345 closed

[2020-01-01 20:38] brycedeneen commented on #4655
@Amplifiyer I looked through the documentation and tried it but there is no createCognitoUser method in the amazon-cognito-identity-js library, could you help me out?

[2020-01-01 22:33] iamdavidmartin commented on #4580
Same issue. Things work great on the simulator, but break on the real device.

![apple](https://user-images.githubusercontent.com/373633/71646948-96d42b80-2ca3-11ea-9484-6a96782106e5.png)

[2020-01-01 22:39] pubkey commented on #3620
So the reason is that a `protected` variable is used in the template [here](https://github.com/aws-amplify/amplify-js/blob/8a78b6077bed1975893deda741fc1775a3f6e2a7/packages/aws-amplify-angular/src/components/authenticator/confirm-sign-in-component/confirm-sign-in-component.core.ts#L85)

Is anyone working on a PR?

[2020-01-01 22:44] egoossens opened #4660 "React Native Authenticator SignUp component ScrollView always bounces"
**Describe the bug**
In React Native, when using the Authenticator components, the SignUp component uses a ScrollView. This creates an undesired bounce effect when it is positioned between other components.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Sign up screen
2. Scroll the form

**Expected behavior**
SignUp should use a View to ensure behaviour is consistent with SignIn.

<d

[2020-01-01 23:28] haverchuck commented on #4655
@brycedeneen The Auth category has a private createCognitoUser method which you can't call directly, but I think you can look at it to see how to use the constructor from amazon-cognito-identity-js (you won't need everything in this function):
[code]

[2020-01-01 23:55] haverchuck commented on #4639
@trantiendat You can actually pass in any language you want and define it yourself:
[code]

[2020-01-01 23:55] #4639 closed

[2020-01-01 23:56] #4586 closed

[2020-01-02 01:06] haverchuck commented on #3824
@MatteoGioioso Does it make a difference if you add a trailing slash to the end of the redirect and signout urls in your config and in your live resources?

[2020-01-02 01:07] haverchuck commented on #3875
Closing this issue due to inactivity.

[2020-01-02 01:07] #3875 closed

[2020-01-02 01:44] brycedeneen commented on #4655
@haverchuck Thanks for the response but my method "getUserByUserName" in a previous response recreates that private method (I didn't need to use the storage or auth flows).

I just figured out the issue and its strange:

- If I use my above method "getUserByUsername" and use an email (which is a login alias not the actual username) I get a valid CognitoUser object. When I call resendConfirmationCo

[2020-01-02 01:57] brycedeneen commented on #4655
FYI I may be wrong it seems that it creates a valid object, but the object isn't actually getting the user. I think we can close this issue. Thanks all!

[2020-01-02 02:00] trantiendat commented on #4639
@haverchuck I understood. I am using it. What's about this error that I explain above ?
[code]
Because it's always display English in all languages specified.

[2020-01-02 04:38] #4621 closed

[2020-01-02 12:14] mevert commented on #4064
Hello @Amplifiyer ,
I got my test application working and I was not able reproduce this problem anymore with it ("aws-amplify": "2.2.1-unstable.20").

However, when I tried the same with one of our production application I got: "Error: AMQJS0011E Invalid state not connected. at ClientImpl.subscribe" always when unsubscribing and then subscribing again. When I had a little delay after calling unsub

[2020-01-02 15:05] pl4yradam opened #4661 "Datastore Question"
Are there any guides to using datastore for manual users - im not a fan of using the cli, and also the tutorials are react based, although I get the idea im just wondering if anyone has used it manually, there doesn't seem to be any configurables needed apart from installing it?

Am I missing something? Where does the data store too? is it your federated users device?

[2020-01-02 17:01] ericclemmons commented on #4375
One fix that should could be made for this is throwing here:
https://github.com/aws-amplify/amplify-js/blob/510f86ef39bae3fba9a17deb630237a64c9dc7dc/packages/auth/src/OAuth/OAuth.ts#L225-L227

Calls to this function aren't expecting `undefined`, so throwing makes sense for `invalid_grant` errors (which is usually do to an older `code`).

Still need to figure out what error is happening specific to

[2020-01-02 17:06] darrenfurr commented on #4661
I tried to use it manually -- using Terraform to build the backend (dynamodb & appsync graphql), but there appears to be some "DataStore" magic (a Datastore table is created by the CLI as well as some "sync" properties added to your @models). We ended up going back to use the query/mutations/subscriptions directly because the amplify library did not like our manually created backend.

[2020-01-02 18:13] jmandivarapu1 commented on #4635
Any update on this if someone knows annything?

[2020-01-02 18:53] #4655 closed

[2020-01-02 18:59] Amplifiyer commented on #4064
@mevert thanks again for testing and letting us know your results. Is this problem happening with a new app as well or only with an existing app while upgrading aws-amplify?

[2020-01-02 19:14] pabloVoorvaart commented on #2648
This fix isnt working for me. I can get and put but del returns 404.

[2020-01-02 19:14] Amplifiyer commented on #4660
@egoossens The reason signup component uses a ScrollView as there can by multiple signup fields which may not fit in the view. Other forms have constant number of fields.

Can you share with us a sample app or code where we can reproduce the undesired effect of the ScrollView in signup component?

[2020-01-02 19:17] artuska commented on #446
Well, i don't understand — if i console.log session token it remains the same:

[code]

[2020-01-02 19:51] martaGonz commented on #2562
I had this problem too, I was forced to create custom sign up screens (because I was unable to remove the "phone" field from the Drop-in UI), and after the user confirms the email,  it is not automatically signed in.

In case someone needs this, I fixed this problem by I taking "username" and "password" fields from the Sign Up and making a manual Sign In using this function:

[code]

[2020-01-02 20:04] cekali commented on #4527
Is there any update on this? A timeline, or a workaround would be great. Especially since it was announced as being compatible with React Native: https://aws.amazon.com/about-aws/whats-new/2019/12/introducing-amplify-datastore/

[2020-01-02 20:26] HMilbradt opened #4662 "Passing clientMetadata to Lambda trigger when using federatedSignIn"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **

We currently do something like the following for registration:

[code]

We use the clientMetadata in our trigger to do some extra processing.  However, now we'd like to use social providers and I cannot find how to pass this in when using th

[2020-01-02 20:50] gakinson commented on #4035
I would like this feature as well. Seems like a fundamental one.

[2020-01-02 21:03] gakinson commented on #3949
Any update on this, we need this feature as well.

[2020-01-02 21:38] shawnmmatthews commented on #1613
@undefobj are there any updates on this with regards to official support?

[2020-01-02 21:42] mevert commented on #4064
@Amplifiye it is happening with the existing app that I tried to upgrade to aws-amplify "2.2.1-unstable.20". Previously specific "@aws-amplify/pubsub": "1.1.0" version was used without same error.

[2020-01-02 21:47] Amplifiyer commented on #4661
Passing to CLI team for advice and also to help if you are having any issues using the CLI.

[2020-01-02 22:07] stopitdan commented on #2605
I was having this same problem in my react app - while it is slightly mentioned in an answer previously, it seems to be looked over, so ill outline the EASY EASY fix i was able to do.

I realized that in my react app it was refreshing the page by default when i would submit a form, before the `await Amplify.signUp` was able to finish. that's why sometimes it would work rarely, but mostly not.

All

[2020-01-02 22:40] #4233 closed

[2020-01-02 23:41] heythisisnate opened #4663 "Unhandled error in SignUp using ionic when phone_number field is blank: TypeError: Cannot read property 'replace' of undefined"
**Describe the bug**
`phone_number` is a non-required signUpField using the AWS Amplify Auth UI with Angular and Ionic. If a user tries to sign up leaving phone number blank, an unhandled error occurs:

[code]

The problem seems to be in the `composePhoneNumber` function calling `replace()` on `undefined` without checking if `local_phone_number` is populated.

**To Reproduce**

config:
[code]

Tem

[2020-01-02 23:42] houmark commented on #3039
Still an issue, should not be closed!

[2020-01-02 23:43] peterecofit commented on #3039
Very much agree.  This needs a clear resolution documented!

[2020-01-02 23:54] Amplifiyer commented on #4662
@HMilbradt customState is different and is not sent to Cognito. I'm not sure if it's possible to send the clientMetadata to Cognito Service with `federatedSignIn`

* If you are using cognito user pool federation, then the sign in happens in the hostedUI after being redirected from the federated providers and not in the client library.
* If you are using identity pool federation, then there is no c

[2020-01-03 00:11] camin-mccluskey commented on #4580
This is blocking us from pushing updates to a live app. Does anyone from the Amplify team have a update?

[2020-01-03 04:54] paalex commented on #1241
I had this exact error when my device was disconnected from the internet.
When I connected it, the error goes away.
Hope it would help someone

[2020-01-03 05:11] mithunkalan commented on #4388
Hey @ericclemmons
Yes. _handleAuthResponse is only being called once.
As for other scenarios, I don't know. From what i've been seeing, there's a lot of people doing a lot of different things.

[2020-01-03 07:07] juuyan commented on #4658
@Amplifiyer , I think the problem is that the identity pool always assign a disabled identity to me. When I use another browser, it works fine here. So if this is where the issue comes from, how should I solve it? And how could I avoid it in the future?(like manually re-assign identity if the legacy one has issues...?)

[2020-01-03 11:01] sacrampton commented on #4527
The advice of coming weeks was 27 days ago so hopefully not far away.

[2020-01-03 12:24] Soek22 commented on #4634
Hi! I have reported the same Ne API/Datastore plugins behaviour miss-alignment here: https://github.com/aws-amplify/amplify-cli/issues/3109

[2020-01-03 12:33] Soek22 commented on #4552
Hi! I have reported the same new API/Datastore plugins behaviour miss-alignment here: aws-amplify/amplify-cli#3109

On iOS it’s because delete GraphQL operations are ‘hardcoded’ including only “id” field value as $input on the call.
I suppose it’s the same problem on Android/JS.
So when using custom index, the fields corresponding to partitionKey and sortKey are not sent within the GraphQL request

[2020-01-03 14:04] amzhang commented on #4094
@manueliglesias My understanding is that the plain text password is never sent to the server in SRP. Therefore, the implementation in Amplify is incorrect.

[2020-01-03 16:27] amzhang commented on #4094
After some more thought, I agree with @manueliglesias.

The verifier is derived from the password in a cryptographic one-way function, but without any tunable workload parameters (such as the number of iterations in PBKDF). Therefore, if an attacker were to obtain the verifier, then brute-forcing it is pretty easy: the salt is known, the only entropy is in the password.

So sending the verifier ra

[2020-01-03 16:46] sammartinez commented on #4371
Resolving issue due to inactivity. Please let us know if you have any more questions.

[2020-01-03 16:46] #4371 closed

[2020-01-03 17:14] sambshapiro commented on #997
I have the same issue. My IAM permissions give full S3 access:
[code]
And yet I get a 403 error:
`09:04.525 AWSS3Provider - list error AccessDenied: "Access Denied"`
when I try listing objects from the bucket: `await Storage.list('')`

[2020-01-03 17:20] HMilbradt commented on #4662
We are using user pool federation, but I suppose we'll need to rethink how to handle this case.  Thanks for the quick reply!

[2020-01-03 17:20] #4662 closed

[2020-01-03 17:43] oliverandersencox opened #4664 "Angular 8 and onCreate subscriptions"
I have the most recent Angular and amplify and have been trying to get subscriptions set up for realtime booking streams, however I cannot get the subscription to poroduce the data when I create a new booking item.

I have tried the standard RXJS subscriber:

[code]

And the zen obvservabkle approach:

[code]

Both never produce a console log when I create a new booking.

The booking has the owner

[2020-01-03 18:40] rjjlucy opened #4665 "Ask for upgrade NodeJS-aws-amplify version inside of Amazon"
I am sorry that this question seems not very appropriate to ask here. But I found Amplify team paid much more attention in this Github issues than other contact ways.

 Our team needs to consume the latest version of Amplify but our package is not npmpm which cannot directly import the external third-party-library directly. Currently we still use the NodeJS-aws-amplify=1.1.40. Could you help upgra

[2020-01-03 19:10] danielbalderas commented on #3395
Any update?

I have same problem but I can have a solution, I'm trying with this documentation:

- https://aws.amazon.com/blogs/security/how-to-set-up-sign-in-with-apple-for-amazon-cognito/
- https://docs.amazonaws.cn/en_us/cognito/latest/developerguide/cognito-user-pools-configuring-federation-with-social-idp.html

The result is negative, if I try to login  but apple doesn't respond to cognito, t

[2020-01-03 19:27] Amplifiyer commented on #4658
@juuyan I can't say for sure how you ended up in that state (were you changing any auth configurations?). After clearing the cache, are  you able to reproduce it consistently?

You can also turn the debug logs on for better troubleshooting in case it happens again and provide these logs https://aws-amplify.github.io/docs/js/logger

[2020-01-03 19:31] Amplifiyer commented on #4657
@juuyan I have tested this in Chrome as well and not able to reproduce with a simple react app. It seems you are running in NextJs environment. Are you running server side or client side? You can also turn on the debug logs for better troubleshooting https://aws-amplify.github.io/docs/js/logger

[2020-01-03 20:21] Amplifiyer commented on #4665
Talked offline and directed OP to the right contact.

[2020-01-03 20:21] #4665 closed

[2020-01-03 22:22] sammartinez commented on #4021
@bneigher I apologize not getting back to you sooner, is this still a use case you are using? If so, could you provide a sample of your code to accompany the above config?

[2020-01-03 22:22] sammartinez commented on #4035
I have marked this as a feature request

[2020-01-03 22:28] #4503 closed

[2020-01-03 22:31] Amplifiyer commented on #3627
Hi @sjohnston88, apologies for coming back to this issue so late. I just tried to reproduce with your steps and I was able to confirm that after signing out the old identity id is still saved in the local storage. However I was still able to make all the unauthenticated allowed AWS calls (API, pinpoint, S3 etc)

Can you let us know if you are still facing this issue?

[2020-01-03 22:38] sammartinez commented on #4403
I'll keep this marked as a feature request to have the API or a new API return a true or false statement in the future. Thanks for the input everyone!

[2020-01-03 22:44] sammartinez commented on #4302
@shobhit09 I apologize for the late response. Are you still experiencing this issue? Could you provide a code snippet or sample? I'm also curious on why not use the Auth category within `aws-amplify` because we do provide a method, [setupTOTP](https://aws-amplify.github.io/amplify-js/api/classes/authclass.html#setuptotp), in order to get the secret code.

[2020-01-03 22:57] camin-mccluskey commented on #4622
Thanks @Amplifiyer, really appreciate the help! This works perfectly but myself (and it seems quite a few others) are having a major problem with Sign in With Apple using the federated login. As you might know, Apple required this for approval to the app store and our app got recently approved then Apple login broke and we cannot push any updates as it remains broken. The issue is here #4580 and I

[2020-01-03 23:01] camin-mccluskey commented on #4585
@oliverandersencox not sure if this is applicable to you as it's react native but this is how we fixed the issue #4622. Perhaps you could try something similar? As an aside, can I ask, is your Sign in with Apple still working? A few of us are having issues with it recently, when it was working when you raised this issue - issue is here if you wouldn't mind taking a look #4580

[2020-01-03 23:11] Amplifiyer commented on #4622
thanks @camin-mccluskey for the update. I'll let the team know about the Sign in with apple issue and we will look into it as soon as possible.

[2020-01-03 23:11] #4622 closed

[2020-01-04 08:10] HerrBertling commented on #4644
I've got the same issue with a Vue app. I initially generated the API before the DataStore was published. Now I added it (which works seamlessly until syncing 😄:+1: ) and the local IndexedDB is written. Syncing does not happen, though.

This has nothing to do with SSR in my case, as far as I can see.

[2020-01-04 09:49] ahallora commented on #446
@artuska , from the documentation: https://aws-amplify.github.io/docs/js/authentication#retrieve-current-session

[2020-01-04 10:12] ajhool opened #4666 "1.2.3+ versions are breaking plain javascript/html imports"
**Describe the bug**
Up to version 1.2.2, it was possible to import Amplify as a script in an html page by retrieving the built file from /node_modules/aws-amplify/dist/amplify.js . After version 1.2.2, the script fails to load Tested in 1.2.3, 1.2.4, 2.2.1 and all fail with same error.

Error:
[code]

**To Reproduce**
Steps to reproduce the behavior (Linux):

1. Create a new node project which wi

[2020-01-04 14:41] geoseong opened #4667 "API.graphql().subscribe() throws "[object object]" error message at Expo"
<img width="318" alt="스크린샷 2020-01-04 오후 11 16 23" src="https://user-images.githubusercontent.com/19166187/71766874-44676900-2f48-11ea-9f53-e5065f315bdb.png">

I tried to follow the Nader Dabit's great [workshop repository](https://github.com/dabit3/full-stack-react-native-appsync-workshop)
It has been working until [`Performing Mutations`](https://github.com/dabit3/full-stack-react-native

[2020-01-05 03:47] kgpasta commented on #2014
@dorsegal thanks for the example, unfortunately that doesn't work for federated auth, only user pools 😞

[2020-01-05 07:16] jmandivarapu1 commented on #4635
Is this github of Amplify Active or not?

[2020-01-05 08:41] juuyan commented on #4657
@Amplifiyer The page is static and prerendered. I have turn on the debug logs but did not find any clues. Do you have any idea about what might lead to such behavior?

[2020-01-05 08:46] juuyan commented on #4658
@Amplifiyer I am actually not sure whether I have disabled any identity by mistake. But I think this issue is led by "Cognito Identity Pool keeps assigning same identity to an unauthorized user even the identity is disabled/deleted".

Am I right on this?

If so can I and how should I clear the cached identity when it is disabled?

[2020-01-05 08:55] anands-gr commented on #4321
I'm also having this issue using the `amazon-cognito-identity-js` package. It's currently not possible for users to reset their MFA after resetting their password.

[2020-01-05 09:17] simontegg commented on #3388
I too would like to be able to do group-based access to s3 objects

[2020-01-05 10:17] minaairsupport commented on #3413
disabling offline cant be solution, it must be another fix.

here is my code sample having the same issue
AppSync is the file which contains my config
Demo is just a component

[code]

[2020-01-05 17:45] sw-yx commented on #2298
I'd love to see an official Slack or Discord.

[2020-01-05 21:32] chris opened #4668 "Changing auth custom email message doesn't cause update"
**Describe the bug**
If I change the custom message used for email verification, Amplify doesn't detect a change and thus doesn't update the auth lambda.

**To Reproduce**

1. Change the `EMAILMESSAGE` element of `categories.function.____CustomMessage` in the `team-provider-info.json` file.
1. Do `amplify status` (or `amplify push`)

You will see there is no change. Doing an `amplify publish` also

[2020-01-05 21:46] chris opened #4669 "Email verification with custom message, always includes link, but link doesn't work"
** Which Category is your question related to? **
Auth

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
I am using Amplify with a Quasar/Vue app. I specified a custom email message at the time I added auth to my Amplify project. I am using the provided Amplify Authenticaton Vue component for signup/signin pages (the only customization I have

[2020-01-06 02:19] laurentbourg commented on #699
I am also trying to pass JWT tokens when using a federated sign-in on iOS with AWSMobileClient, if anybody has a solution, please share.

[2020-01-06 07:24] danielcai1987 opened #4670 "TypeError on API request."
** Which Category is your question related to? **
**API**
** What AWS Services are you utilizing? **
**API Gateway**
** Provide additional details e.g. code snippets **
I'm trying to add a REST API as this example:

https://aws-amplify.github.io/docs/js/api#post

The headers I set like the following:

[code]

But there is an error

[code]

I'm using Amplify in React
aws-amplify@2.2.1
aws-amplify-r

[2020-01-06 10:42] hfahlbusch commented on #4613
I had a look at the source code. It's not only broken for mobile devices, it's also broken on desktop. On desktop I was using CTRL+P shortcut, but when only using the mouse with context menu it's broken too. The input fields are only listening to the keyup event.

This could be solved with using angular form model data binding.

[2020-01-06 16:21] phishy commented on #4535
I'm pretty sure DataStore.save does not like to be invoked upon immediate page load. I can't quite pin it down, but as @ykbryan pointed out, it worked better when another function calls it.

For me, this does not work:
[code]

[2020-01-06 16:42] CodySwannGT opened #4671 "Auth Rules not working"
This is a simplified example, but it still doesn't work:

**Schema**

[code]

**Query**

[code]

the result is that the balance field is always null.

If I run the same query from AppSync console, it works as expected

[2020-01-06 18:21] yasoza commented on #3744
For me what worked,

[code]

in the root file i.e. `App.tsx `

[2020-01-06 18:31] vtbs opened #4672 "Auth.currentUserCredentials() delivers new user credentials on each call"
**Describe the bug**
After successful user login with Cognito user pools, Auth.currentUserCredentials() (and also Auth.currentCredentials()) deliver new user credentials on each call when using Cognito Federate Identities. This means, for each call of these functions, a different secretKey and accessKey are outputted. Also the expiration date of the new credentials is updated, meaning for each cal

[2020-01-06 19:57] Neovirxp commented on #4351
I'm still having this issue. Sometimes it works well, but just a few times. It's really weird and frustrating.

[2020-01-06 20:08] SeanRenet commented on #4649
Hi @jordanranz.  Any word on a fix?

[2020-01-06 20:24] oliverandersencox commented on #4664
someone on the Amplify team must be able to shed some light here!?

[2020-01-06 21:15] jbburf commented on #1949
Are there any docs anywhere explaining the theme object and what options I have to pass?

[2020-01-06 23:49] NKHenry commented on #4601
@ericclemmons

By FE I just meant a front end app that used Amplify. By API I meant an API gateway endpoint that requires an awsv4 signature.

Since the behaviour only appears on Internet Explorer we need to call an API from an application running in the browser.

Here are the dependencies from the root of our lerna project. I originally ran the command from one of the sub-packages.
We are current

[2020-01-07 02:25] dcsena commented on #4514
+1

[2020-01-07 02:42] Amplifiyer commented on #4311
I think I know the root cause. NuxtJs/NextJs are consuming the amplify library using the `main` field and not the `modules` field. Currently `main` field points to a webpack umd build which obviously shims the process variable preventing axios to determine the right environment.

I'll look into changing the main field to point to a cjs modules entry point.

Anyone knows if there is a way for Nuxt/

[2020-01-07 02:45] jimbol commented on #1949
Take a look at the theme file. I just moved this into my project and changed it as needed.
https://github.com/aws-amplify/amplify-js/blob/master/packages/aws-amplify-react-native/src/AmplifyTheme.js

[2020-01-07 02:45] Amplifiyer commented on #4409
@lambda0xff I'm curious how you are able to work around this issue #4311 When I'm trying to reproduce, I'm not able to run the app because of this issue, but when I change the library's main entry point to CJS modules, the app works fine.

[2020-01-07 05:01] lukecurtis93 commented on #4656
As responses were lacking I've removed the authenticator HOC entirely and created my own implementation.

[2020-01-07 06:59] lambda0xff commented on #4409
@Amplifiyer : I wasn't able to work around it ... Right now, I've reverted back to `aws-amplify@1.1.36` which is a version that "works" for me: it still gives me the DocumentNode issue but at least I don't have #4311 (which is a deal-breaker for SSR)

[2020-01-07 07:04] jfdesgagne opened #4673 "Upload file to amplify mock - FileReader.readAsArrayBuffer is not implemented"
**Describe the bug**
When uploading a file from react-native to s3 via amplify mock storage (S3), I'm getting the following error [Error: FileReader.readAsArrayBuffer is not implemented]

When running in non mock state, everything works just fine.

**To Reproduce**

[code]

**Expected behavior**
To be able to upload images using arraybuffer in mock

**Smartphone (please complete the following info

[2020-01-07 09:47] annjawn commented on #4384
Is there a solution for this yet? Quite unsure how multiple devs can work on a project this way. I am trying to use `exp://127.0.0.1:19000` as well and using simulator but the Google federation doesn't work. If I switch to LAN connection on the Metro bundler console and then update Cognito console callback URLs and aws_exports it works with physical device as well as simulator. But using LAN isn't

[2020-01-07 11:10] spkenn5 commented on #612
The solution provided in the link is no longer working.

[2020-01-07 14:32] dendle opened #4675 "Allow users to set default init options across all RestClient requests"
**Is your feature request related to a problem? Please describe.**
amplify-js allows you to supply 'init' options to each API call (Please see myInit [here](https://aws-amplify.github.io/docs/js/api#get)). However, these options are only settable *per request*, with no global defaults settable anywhere.

My acutal problem is that when an API that i'm calling responds with a 403 status code, and no

[2020-01-07 18:02] tncbbthositg commented on #3504
@mackattack3k, what do you mean you added it to your installation?

[2020-01-07 19:17] canofpopcom opened #4677 "Redirect Rooting and ignores"
** Which Category is your question related to? **
Redirects in Console
** What AWS Services are you utilizing? **
Amplify / S3 / other - Client has Route 53
** Provide additional details e.g. code snippets **
Current Requirement is to bind home domain to specifc new domain folder
i.e. siteA.com to> siteB.com/landingpage/

Whilst redirecting all existing urls back to other paths (and avoiding the n

[2020-01-07 19:18] canofpopcom commented on #4677
so our URLs end up /siteb.com/landingpage/news/newsstory/ which doesn't resolve.

[2020-01-07 19:18] elorzafe commented on #4652
@pubkey thanks for your feedback, I will mark this as a feature-request

[2020-01-07 19:22] ericclemmons commented on #4601
This helps a bunch!  I'm going to continue working on reproducing this...

[2020-01-07 19:23] elorzafe commented on #4644
@giovas94 thanks for pointing this, we are going to dive deep into this.

[2020-01-07 19:31] Amplifiyer commented on #4387
@piraka9011 Did you try the fix above from RyanWarner? Let us know if you are still facing this issue.

[2020-01-07 19:33] ashika01 commented on #4634
@benjamin79 Where are you getting the `Type mismatch index key error`? Do you have sample code or repo?