[2021-04-22 02:38] epratik opened #8145 "Incorrect username and password exception during CUSTOM_AUTH"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-04-22 03:13] philipjames44 commented on #3224
While I respect that Amplify is made to be client side, it clearly supports Cognito, a backend auth service with its own auth server. Why can't amplify support the configuration of http only cookies via Cognito's backend auth server? Frankly this seems either like laziness on the side of the dev team, that the PM/customer support these requests are hitting don't understand the importance of this,

[2021-04-22 03:20] philipjames44 opened #8147 "CookieStorage with httpOnly 2021 edition"
**Is your feature request related to a problem? Please describe.**
Yes, amplify should support httpOnly cookie setting via Cognito to prevent a user from manually having to create httpOnly cookies to prevent XSS attacks, and so that using a custom API does not require the user to store JWTs in localStorage.

**Describe the solution you'd like**
Boolean flag to add httpOnly cookie in cookieStorage

[2021-04-22 09:17] myfairshare commented on #8140
Hey Chris,

   Thanks for your reply, I didn't copy the full list of dependencies as its quite long!  I'm sure the issue must be in the actual app.js serverless function, I just dont understand why the log is giving me the await error as I have specified 'async' in the post function.

[2021-04-22 09:22] Sebastian-G commented on #8079
I'm upgrading all dependencies to following versions:

[code]

[2021-04-22 09:41] bilsak18 commented on #8079
@chrisbonifacio Thank you for investigating the issue. On my side, I refactored my code very often, trying to find some solution to this issue, and so I lost the current error in the refactoring process and was only left with the second error like I explained it in [my first comment above](https://github.com/aws-amplify/amplify-js/issues/8079#issuecomment-819331976), which doesn't appear all the t

[2021-04-22 10:10] DPirate commented on #7251
Any update? Estimated timeline? Thank you.

[2021-04-22 14:43] Mikilll94 opened #8152 "Cognito does not send Access-Control-Allow-* headers when sending an invalid or expired token"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-04-22 15:27] zaura-payments opened #8153 "Auth.signin throws error after successful signup/user creation."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [x] I have done my best to in

[2021-04-22 15:41] zaura-payments commented on #8153
I found some more information on a previous post about the same error.https://github.com/aws-amplify/amplify-js/issues/8113

https://github.com/aws-amplify/amplify-js/issues/8113

[2021-04-22 15:41] #8153 closed

[2021-04-22 15:55] suhailsaqan commented on #8144
Any progress on this?

[2021-04-22 16:39] #8140 closed

[2021-04-22 16:53] chrisbonifacio commented on #8140
@myfairshare No worries! Funny how sometimes the smallest things can trip us up the longest, isn't it? haha
Good work finding the root of the problem!

[2021-04-22 17:10] EvanErickson commented on #8113
So how exactly do you fix it? Copy and paste the code under "Manual Configuration" into my project?

[2021-04-22 18:39] chrisbonifacio commented on #8152
Hey 👋 Thanks for raising this! After reading over this issue, it appears to be more of a feature request and will be labeled as such. This should make it more visible for the team to take a look and determine whether it can be fit into a release.

I hope that helps!

[2021-04-22 18:40] jakemitchellxyz commented on #2089
@iartemiev @elorzafe @manueliglesias idk who to tag, but y'all seem active.

I think the severity of this issue is critically underappreciated. I have an API that does not allow unauthorized credentials, but I also have another API that does. My users should be able to authenticate against the unauth role until they finally sign in, which needs to automatically switch to the auth role so that they

[2021-04-22 18:42] amhinson commented on #8137
Right now there isn't anything built into Amplify to do this automatically since every application could have a different expectation of what the desired garbage collection behavior would be. Perhaps you could use either of the solutions recommended in my last comment, or use the "Opt In" device remembering feature (which could minimize the number of keys on a shared PC) and implement your own loc

[2021-04-22 18:48] chrisbonifacio commented on #8144
Hey 👋 would you mind sharing the rest of that code snippet? I see that you're using `graphqlOperation` but I'm curious if you're also passing it as an argument to a `API.graphql()` call. Could you please confirm this?

[2021-04-22 18:53] jakemitchellxyz commented on #2089
Also, this was assigned to @powerful23 but they seem to have left the project. Possibly why this slipped through the cracks for so long.

[2021-04-22 19:23] suhailsaqan commented on #8144
Just realized that I didn't copy the full code.

`const res = (await API.graphql(
        graphqlOperation(createUser, {
          input: {
            email: email,
            phone: phone,
            first_name: first_name,
            last_name: last_name,
          },
        }),
      )) as GraphQLResult<CreateUserMutation>;`

How do I reach the Network Tab?

[2021-04-22 19:28] suhailsaqan commented on #8144
Alright, well I just tried it again without changing any code (at least not aware I did) and it's working perfectly. Thank you!

[2021-04-22 19:39] chrisbonifacio commented on #8079
@bilsak18 Okay, that makes sense. I don't have too much experience with Cypress but from some googling I can see that it's not straightforward to work with when it comes to asynchronous code.

Good to know it's more of an issue with the way the testing framework handles async code than Amplify itself!

If you're still interested in trying to get Cypress to wait for your promises to resolve, the an

[2021-04-22 20:07] chrisbonifacio commented on #8144
Haha well that's strange but glad it's working!

To get to the Network Tab, right click on the page -> Inspect -> Network.

From this tab you should be able to see any network requests being made from your app.
![image](https://user-images.githubusercontent.com/16952986/115778405-a0940d80-a384-11eb-9316-2f3072de621a.png)

Closing the issue for now as it seems you might have been able to fix it in

[2021-04-22 20:07] #8144 closed

[2021-04-22 20:36] simonking76 commented on #3184
have the same problem, it's a long time for such a fundamental flaw to exist

[2021-04-22 21:16] sconway opened #8158 "Previously deleted items are being returned as part of a query after going from offline -> online network state"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-04-22 21:18] jrobbins-LiveData commented on #8137
That makes good sense to me...thanks for helping me understand the choices available.  I'm sure we'll be able to navigate them and come up with something good for our customers.

[2021-04-22 22:39] #8137 closed

[2021-04-23 00:09] RiosQ opened #8163 "Dependences error using ssr with svelte"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-04-23 09:14] ash0x0 commented on #5703
Did anyone find a solution or workaround to this????

I have resorted to using the `@aws-sdk` (which has the **absolute worst** authentication flow) to get the correct token from cognito then use Ampilify for my API Gateway requests. It's rather stupid because then what's the point of Ampilify???
It doesn't really make sense how the hosted UI and the `Auth.signIn` both use the same code (or so it

[2021-04-23 09:19] ash0x0 commented on #1370
Can you elaborate on the OAuth support part? I've been using OAuth flow with `@aws-sdk` just fine and getting the proper scopes, no hosted UI, no admin flow.
Is there really absolutely nothing the Amplify team can do about this? It's a serious issue and I'm personally now resorting to a much harder and time-consuming solution just because of this one lacking feature.

[2021-04-23 10:29] epratik commented on #8145
I found the issue. My create auth lambda was wrong.
The if statement in my lambda was if (!event.request.session || event.request.session.length === 0) {
but should be
if (event.request.session.length === 2 && event.request.challengeName === 'CUSTOM_CHALLENGE') {

I had a console.log(event) inside the create auth lambda before the if statement but that was not writing log to cloud watch which led

[2021-04-23 10:29] #8145 closed

[2021-04-23 11:20] jglesner commented on #3184
Hello, it seems that the issue raised by the op is still a problem in Spring 2021.  e.g. A user doesn't enter their verification code for some reason, and there's no way in the Hosted UI for the user to verify their email later.  Their account is stuck in limbo, and I have to delete the account and let them try again.  Kinda ridiculous.  Any chance this will be fixed in the near future?

[2021-04-23 14:11] kenchoong commented on #8139
Any advice on this?? Cause I still didnt see any possible way

[2021-04-23 14:31] MiqueiasGFernandes opened #8165 "Way to execute Cognito Federated Login in Localhost for Testing"
**Is your feature request related to a problem? Please describe.**
I have search about a way to execute Cognito federated Login in localhost, to test this without need deploy frontend into Amplify
hosting environment, but i didn't found anything about this in documentation. I tried configure Google Cloud Credentials to allow http://localhost and i add it to redirect URI's configuration in Cognito

[2021-04-23 18:11] ericclemmons commented on #8049
@asp3 Can you share your `package.json` and `Dockerfile`?

I was reproducing this today, but was experiencing issues with `docker run`, but you said this worked locally.

Do you have a public URL I can hit that's not working? I'm happy to debug a live instance as well in the meantime.

[2021-04-23 20:21] dvarnai opened #8167 "Window undefined when using Angular Universal"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-04-23 20:41] countryst commented on #7199
Any update on this?

[2021-04-23 21:18] jamesaucode commented on #5998
Hey folks,
Wanted to provide an update to you all. We are currently researching and looking into ways to implement this to the Storage class.

Thanks!

[2021-04-23 22:08] jamesaucode commented on #1792
Context: `Auth.currentAuthenticatedUser()` is the recommended way to check if a user is authenticated, however, it returns a promise, developers want a 100% synchronous way to check the authentication status.
After doing some research, it is possible to validate the identity if a user is authenticated by looking at localStorage (or any kind of `local storage` defined by the user), and verify if th

[2021-04-23 22:38] mbakkali commented on #987
Up

[2021-04-24 00:09] medelman17 opened #8168 "[IGNORE]: Fun With ChatOps"
Testing new `docs-assistant` bot. Eventually, maintainers will be able to create docs-related issues/work requests from existing issues and pull requests by interacting with the bot via `slash commands`. See, e.g., below.

[2021-04-24 00:11] medelman17 commented on #8168
/hello who's a special bot!?

[2021-04-24 00:32] sallymoon10 commented on #5037
+1

[2021-04-24 04:48] countryst commented on #7968
@apoorvmote my aws-exports matches yours, when I login using Facebook, the login details don't get added to my Cognito Pool (if I use hosted UI, it gets added). And I'm getting `No Cognito Federated Identity pool provided` in console log. Here is more details about my setup https://github.com/aws-amplify/amplify-js/discussions/8160 could you let me know if I have configured something incorrectly

[2021-04-24 05:07] 24601 commented on #5782
The use of the shadow DOM is highly problematic, not just for password managers, but for testability, as DOM selectors need to be manually altered to work around the shadow DOM.

This should no doubt be a bug.

[2021-04-24 12:09] AndyW22 opened #8169 "Verifying a new email causes Auth.currentAuthenticatedUser / .signIn to always return unverified email."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-04-24 13:13] Zurdge commented on #399
Just dropping this down here after I had the same "No current user" returning from "Auth.currentSession"
The issue I was having was the first federatedSignin worked, then after signing out a second signing via federatedSignin would return "No current user".
The solution I found I don't like but it works for me. A slight delay is needed between signing in and calling currentSession()...

[code]

[2021-04-24 14:20] joebernard commented on #7251
@sammartinez I updated to `"aws-amplify": "3.3.27"` and am no longer able to reproduce this issue locally.

I installed and re-installed my React Native app onto a test device 15 times and called `updateEndpoint` after each installation. Each time the result was SUCCESS. I also verified that I could receive a push notification on that device after 15 installation attempts.

I see that others are s

[2021-04-24 17:49] nerixim opened #8170 "Export translations enum from the root module"
**Is your feature request related to a problem? Please describe.**
I'm using i18n targeting Japanese users so I've made my custom dictionary. I've found [Translations.ts module](https://github.com/aws-amplify/amplify-js/blob/master/packages/amplify-ui-components/src/common/Translations.ts) with `AuthStrings` enum covering my needs but it's not exported from the root module (`@aws-amplify/ui-compon

[2021-04-24 20:51] Razzendah commented on #1415
my-name-is-nheo im have the same problem, did you solve it?

[2021-04-24 21:18] gmfinear commented on #5072
Error message map link no longer works! Can someone repost here please :)

[2021-04-24 21:34] countryst opened #8171 "@aws-amplify/ui-components should support federated sign in through Cognito User Pools"
**Is your feature request related to a problem? Please describe.**
@aws-amplify/ui-components does not support federated signin through Cognito User Pools
It already supports federated sign in through Cognito Identity Pools https://www.npmjs.com/package/@aws-amplify/ui-components#vue (under Amplify Authenticator federated) but this has many limitations discusses in multiple times for other package

[2021-04-24 21:53] 24601 opened #8172 "UI Component Flashes "Account recovery contact verification" even though user is verified, login is fine"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [x] I have done my best to in

[2021-04-25 00:05] GoodLuc commented on #6998
Hi. Is this still an issue? It's weird that you have a vue 3 ui component but not the ability to hide sign up or change any other attributes on it.

[2021-04-25 02:52] ctjlewis opened #8173 "[ui-react] withAuthenticator throws if component has custom props"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-04-25 09:29] brymartinez commented on #7986
@CSHaze 's solution does not work for me.

I had to downgrade to `aws-amplify@3.3.18` to make it work, as it seems like the 4.6 version of `amazon-cognito-identity-js` is not configured on all of `@aws-sdk`'s dependency

[2021-04-25 13:37] theonlyway opened #8174 "Interactions - Bot does not exist"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-04-25 14:44] kenchoong commented on #8139
I also created an github discussion for this issue https://github.com/aws-amplify/amplify-js/discussions/8175#discussion-3336765

[2021-04-25 15:45] Darapsas opened #8176 "DataStore + Hermes = 💩 ([TypeError: Symbol.asyncIterator is not defined.])"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-04-25 16:10] Nxtra commented on #4080
Is there a thread with answers to your question?

[2021-04-26 00:26] Gamerweazel opened #8179 "Immediately created and deleted item reappears after DeltaSync and re-querying model"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-04-26 06:41] LaszloPrekop-InDest commented on #7986
I have the same definitions conflict error, it started after an `ng audit fix`. I tried the following:

- removing `package-lock.json` and `node_modules` following with `npm install`
- upgrade aws-amplify to the latest by `npm install aws-amplify@latest`
- downgrade 'aws-amplify@3.3.27` (latest) to `aws-amplify@3.1.1` -- the version stored in `package.json`

with no success.

[2021-04-26 08:11] ahansson89 commented on #6888
Can this please be prioritized?

[2021-04-26 08:41] marcelloromani commented on #987
@swapnil0545 What I was trying to say is that you can only validate an email address to an extent just by looking at the string. (first question of your sentence :) )

But you want to replicate their validation on the FE. OK, only they can reply :P

[2021-04-26 10:58] CarlJoven commented on #6260
Any update on this? I am currently working on a project using datastore and I am about to reach the limit and I am really worried because my team still needs to implement additional features sometime in the future. I find it very inconvenient. I suggest that you give a warning in your documentation that datastore is only good for small to medium projects.

[2021-04-26 11:03] CarlJoven commented on #6260
Can I ask for an option to increase the limit via the support center?

[2021-04-26 14:51] evcodes commented on #3849
I am working on other translation related issues and will provide more translations for spanish. We will work on making the translations more consistent for every language.

[2021-04-26 14:55] jeremydrichardson commented on #2892
Can you elaborate a little more on how you solved this?

We are using Cognito with a SAML federation to Google. We're listening using Amplify Hub to the signIn event. What comes back in the payload data is a CognitoUser object, but it has no attributes.

We're trying to sync user attributes with Cognito based on the user signing in for the first time, but without having the attributes we can't mak

[2021-04-26 15:23] piotr-zielinski-lab commented on #7837
Seems like it is the same problem as described here: #5782 and #6782

[2021-04-26 15:29] ahansson89 commented on #5339
@bneigher, where you ever able to get this working? I am looking to do the same

[2021-04-26 16:13] wlee221 commented on #5782
Hello all, we apologize about the lack of response here. As pointed out, this is due to the use of shadow DOM. We will mark this as a bug.

We found that disabling the shadow DOM with _current_ UI components are problematic, because slots (which we use to allow customization) do not work well with shadow DOM disabled. In particular, conditional rendering (https://github.com/ionic-team/stencil/issu

[2021-04-26 16:16] wlee221 commented on #5782
With regards to our current components (before we publish the rewrite), we are looking at workaround that’ll allow saving username/password and autofilling credentials based on that ([branch](https://github.com/aws-amplify/amplify-js/tree/support-pw-manager)).

![Kapture 2021-04-20 at 16 46 09 (1)](https://user-images.githubusercontent.com/43682783/116116178-b862de80-a66f-11eb-8a17-e37eac4df024.gi

[2021-04-26 18:23] crenacer commented on #6461
I'm having the same issue now. The code I use:

[code]

This sends following payload to the Cognito:
[code]

And error is
[code]

[2021-04-26 18:49] bneigher commented on #5339
@ahansson89 I have moved off of amplify because of the issues I faced with react native.  I ultimately didn't trust the libraries ability to handle my token refreshing / session rotation as it was constantly failing me (I'm using auth0 as a federated identity) and ran into too many issues.  Painful experience.

But my code looks like this now:

[code]

[2021-04-26 18:50] ahtokca commented on #5899
Any news? it is pretty reproducible.
1. react-native run-ios --device -> no endpoint found, however Analytics.updateEndpoint is called without errors
2. close and open the app -> endpoint found
3. press 'r' to reload the app in metro console -> endpoint is gone
4. close and open the app -> endpoint found

How can I see/debug it further? what do I need to check?

[2021-04-26 19:03] ahtokca commented on #5899
https://github.com/aws-amplify/amplify-js/blob/df95ea3724eb6406f64b03f25086cd3e8644cb5f/packages/analytics/src/Providers/AWSPinpointProvider.ts

[code]
I use custom userId, so basically internally it updates endpoint to credentials.identityId and screws my link to user. Any ideas how can configure it in way it does break the link?

[2021-04-26 19:12] ErikCH commented on #8114
@Beni312 Could you check a few things?

I noticed that you have an `authHandler`. This looks to be the code that sets the `authState` and `user` variables.

Typically this is done with the `onAuthUIStateChange` method, and the first argument is a callback function that sets those values. It needs to be called from the `ngOnInit` like this.

[code]
Otherwise the `authState` variable will never rece

[2021-04-26 19:21] wlee221 commented on #6782
Hello, this is duplicate of #5782 so we will track the issue there. Please see https://github.com/aws-amplify/amplify-js/issues/5782#issuecomment-826968238 for more detail as well.

[2021-04-26 19:21] #6782 closed

[2021-04-26 19:23] wlee221 commented on #7837
As pointed out by @piotr-zielinski-lab, this is the same problem as #5782 so we will track the issue there. Please see https://github.com/aws-amplify/amplify-js/issues/5782#issuecomment-826968238 for more detail as well.

[2021-04-26 19:23] #7837 closed

[2021-04-26 19:23] ahtokca commented on #5899
To disable auto updateEndpoint I found this

[code]

[2021-04-26 19:39] nubpro commented on #7251
Soo whats the status on this?
Is this fixed or partially fixed?

@sammartinez

[2021-04-26 19:58] #3849 closed

[2021-04-26 20:40] ahansson89 commented on #5339
Yea. I have ended up writing custom CloudFormation for everything new I am doing in my project. Amplify is just not cutting it.

I wanted to see if I could get around this without creating a signed URL over an API in order to limit the blocking of the UI as much as possible but may end up doing it similar to your solution.

[2021-04-26 20:53] JoshiiSinfield commented on #8031
thanks for your time on this @chrisbonifacio,

I'm doing what's in that duplicate already. Feels like a major piece of the puzzle is missing from auth api - to get identityid from user sub.

Thanks for your help

[2021-04-26 21:58] sammartinez commented on #7251
@dylan-westbury and @sukrit007 can you both please provide your `package.json` along with your environment settings?

Please use the follow command:
[code]

I want to dig in on this further.

@nubpro, from the cleanup that the Amazon Pinpoint team is doing, this is fixed. I want to validate from the above why people are still seeing this. From what you shared in screenshots above for the docs site

[2021-04-26 22:35] Jun711 opened #8184 "How to use and set our own credentials with AWSAmplify@3.x.x?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I am aware of [federated sign in](https://aws-amplify.github.io/amplify-js/api/classes/authclass.html#federatedsignin).

However, I would to enable Google sign-in new feature, this [document](https://docs.aws.amazon.com/cognito/latest/deve

[2021-04-26 22:55] manueliglesias commented on #8176
Hi @Darapsas

I did a quick search on hermes repo and found facebook/hermes#227

Can you try the suggestions in there? (mainly providing a polyfill)

[2021-04-26 23:04] manueliglesias commented on #8184
Hi @Jun711

Can you elaborate a little on this? what feature that you are looking for is not currently supported?

Also, take a look at the example showing [Identity Pool Federation with google](https://docs.amplify.aws/lib/auth/advanced/q/platform/js#google-sign-in-react), it might help

[2021-04-26 23:15] Jun711 commented on #8184
@manueliglesias
I am trying to use `Google One Tap Sign-in`. I just found a similar [thread](https://github.com/aws-amplify/aws-sdk-android/issues/1976) opened by another user.

maybe the document you shared may work. I will give it a try.
[code]

[2021-04-26 23:49] manueliglesias commented on #8165
Hi @MiqueiasGFernandes

We have a documentation section for [Social sign-in](https://docs.amplify.aws/lib/auth/social/q/platform/js), You can follow those steps when developing in localhost too, you just need to make sure to add the appropriate *redirect signin URI* and *redirect signin URI* when the CLI prompts you

[2021-04-27 01:41] azamsharp opened #8187 "Issues when initializing the project using amplify init"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-04-27 02:46] dylan-westbury commented on #7251
@sammartinez

[code]

[2021-04-27 02:46] dylan-westbury commented on #7251
@sammartinez

[code]

[2021-04-27 13:19] iartemiev commented on #8158
Hi @sconway, thanks for opening the issue. A couple of follow up questions:
* Are you using Expo or RN CLI? Mainly asking so that I can attempt to reproduce in the same env.
* Please run `npx envinfo --system --binaries --browsers --npmPackages --duplicates --npmGlobalPackages` and copy-paste the output here
* Are you able to repro in Simulator? Or only on physical devices?
* Have you been experie

[2021-04-27 14:00] chrisbonifacio commented on #8187
Hi 👋 Thanks for raising this issue. It looks like you meant to paste the error you were getting there. What was that error?
Also, could you please run this command in the terminal from within your project directory and paste the output here?
`npx envinfo --system --binaries --browsers --npmPackages --duplicates --npmGlobalPackages`

[2021-04-27 14:04] Darapsas commented on #8176
Hello @manueliglesias, thank you again for showing my braindeadiness, saw that post, installed the package, but forgot to import it and of course, didn't take it too seriously, because of the age it had... Anyhow, if any of you get this error, just do this:
[code]
or
[code]
and most importantly do not forget to import the package before any other imports in your `index.js` file:
[code]
Clean rebui

[2021-04-27 14:04] #8176 closed

[2021-04-27 15:16] mynameisguy commented on #5646
👆

[2021-04-27 15:28] chrisbonifacio commented on #8173
Hey 👋 Thanks for raising this! After reading over this issue, it appears to be more of a feature request and will be labeled as such.

I was able to reproduce this and you are correct, passing a component with its own props to `withAuthenticator` does cause this error. Usually, it is the root App component that is wrapped and does not accept its own props. However, we realize it should be possible

[2021-04-27 15:51] Arvanaghi commented on #6320
Brutal. This feature needs to be added.

[2021-04-27 15:56] sconway commented on #8158
RN CLI

`
System:
    OS: macOS 10.15.7
    CPU: (12) x64 Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz
    Memory: 64.21 MB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 10.15.0 - /usr/local/bin/node
    Yarn: 1.13.0 - /usr/local/bin/yarn
    npm: 6.4.1 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  Browsers:
    Chrome: 90.0.4430.93
    Firefox: 82.0.2
    Safar

[2021-04-27 16:02] iartemiev commented on #8158
Thank you, @sconway! I'll post an update here once we've reproduced the issue

[2021-04-27 16:40] jrnewton commented on #6320
Anyone have recommendations for a Cognito alternative that works well with AWS?  I've got a lot of API Gateway services that I'd like to migrate sooner than later based on this issue.

[2021-04-27 18:07] chrisbonifacio commented on #8068
Hi 👋 Thank you for raising this issue. I was able to reproduce this issue where deleting documents with a Belongs to relationship does not delete related/connected documents.

Reading the documentation, I noticed that it specifies

https://docs.amplify.aws/lib/datastore/relational/q/platform/js#deleting-relations

It does not mention Belongs to relationships.

I have reached out to the team for cl

[2021-04-27 20:00] namwkim opened #8189 "Keep asking to verify even if email_verified is true"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-04-27 20:04] disbelief commented on #6320
@jrnewton if I were starting from scratch today I'd go with Auth0.

[2021-04-27 20:42] Jun711 commented on #8184
@manueliglesias

I tried the above code from the document you shared.

Right after calling federatedSignIn with google id token, I called `await Auth.currentSession` but Amplify log says there is no current user. Amplify debugger log is attached.

I would like to use the JwtToken to call an API authorized using Cognito. How do I achieve this?
[code]

FederatedSignIn + UserSession code (Amplify par

[2021-04-27 21:04] Juliocbr commented on #8066
I finally managed to find the behavior reason for this issue. In my project I have separate the initialization analytics and push notification like this:

analytics.service.ts
[code]

push-notification.service.ts
[code]

The problem is that the first time the device is registered with the notifications, the "updateEndpoint" function used in node_modules/@aws-amplify/pushnotification/lib/PushNotifi

[2021-04-27 21:14] Juliocbr commented on #8066
@tomoima525 check if the update is applied correctly in the updateEnpodint (node_modules/@aws-amplify/pushnotification/lib/PushNotification.js) method by printing the parts of loggger.debug in the console:

[code]

In my case I also had to change this line in the same file:
var core_1 = require("@aws-amplify/core");

to:
var core_1 = require("../../../@aws-amplify/core");

This is because when ini

[2021-04-27 21:20] #8066 closed

[2021-04-27 23:58] djom202 commented on #469
I'm trying to implement all the User options as Enable, Disabled, Resend invitation and Delete them without found solutions for that, so from my perspective they are options that Amplify-js must have.

[2021-04-28 00:12] suhailsaqan commented on #8144
I'm running into the same issue again. There was nothing in the network either. I ran the code which runs the graphql query.
![Screen Shot 2021-04-27 at 5 10 32 PM](https://user-images.githubusercontent.com/43693074/116327370-7b840e00-a77b-11eb-8cc5-0dac719d7778.png)

[2021-04-28 00:23] clehnert commented on #1464
+1

[2021-04-28 02:29] ctjlewis commented on #8173
Thanks for your response.

I would definitely consider it a bug because it is effectively impossible to use this without workarounds on Next apps given this information. I have only ever wrapped specific pages, `export default withAuthenticator(SignUp)`, and your note that the App component does not except props explains a *separate* error I had where wrapping the root App (which I only did for a

[2021-04-28 02:51] ctjlewis commented on #8173
Added details - issue is really bipartite, TS failures and runtime failures. We want the TS to compile and we want the code to run. Repro up as well for the runtime + framework compat aspect.

[2021-04-28 06:51] 24601 commented on #8189
Seems similar to something we have, there is some check in their state machine that forwards to this page spuriously, luckily, ours seems to "figure it self out" after a few seconds and forwards to normal login state, but not after users freak out and file support tickets. :SMH:

[2021-04-28 06:57] 24601 commented on #8172
PS - Our workaround has gotten even more painful, we are using patch-package to literally replace any instance of ```handleAuthStateChange(AuthState.VerifyContact, newUser);``` in the lib with ```handleAuthStateChange(AuthState.SignedIn, user);```

The state machine that controls this is *horribly* broken. Please fix it.

[2021-04-28 13:15] chrisbonifacio commented on #8152
Hey @Mikilll94. I apologize for mislabeling this issue, after reading it over and asking a member of the team to take a look as well, we agree that this is unintended behavior and therefore a possible bug. We are currently trying to reproduce the issue.

In my attempts so far I have only received a 400 status code when sending an invalid/expired token. From your screenshot it looks like you were t

[2021-04-28 13:29] atyshka opened #8193 "Request: Modular UI Component imports for Vue"
**Is your feature request related to a problem? Please describe.**
It appears that the React api for UI Components now allows for tree-shakeable imports, but unfortunately the Vue API does not. Is this a hard technical limitation of StencilJS or could the Vue API get the same ability? The s3 storage dependency from UI Components is a real pain when all you want to use is Auth. We may be forced to

[2021-04-28 14:40] Mikilll94 commented on #8152
@chrisbonifacio
Please take a look at the screenshot again. `Access-Control-Allow-*` headers is not returned from Cognito. This is the bug.

I have searched more and noticed that this bug is already reported on the AWS forum. You can read it here: https://forums.aws.amazon.com/thread.jspa?messageID=764227

This serious bug with AWS Cognito is not solved from Mar 24, 2016

If you have more question

[2021-04-28 15:23] iartemiev commented on #8158
I'm able to repro this consistently. Labeling this a bug and investigating the cause.

[2021-04-28 15:27] chrisbonifacio commented on #8152
@Mikilll94 I see. In my efforts to reproduce the issue however, this is the response I've been getting from Cognito when I send an expired/invalid token. So, because you're getting a CORS error you're not getting any error message other than `UnauthorizedException` in the headers, correct?

<img width="896" alt="Screen Shot 2021-04-28 at 11 16 07 AM" src="https://user-images.githubusercontent.com/

[2021-04-28 15:42] Mikilll94 commented on #8152
@chrisbonifacio
Yeah, exactly. I am getting a CORS error and cannot get any meaningful error message from Cognito. I cannot even retrieve the status code.

I don't know why in your case the "Access-Control-Allow-Origin" header is returned. In my app, this header is not returned and for the guys on the forum (https://forums.aws.amazon.com/thread.jspa?messageID=764227) this is also not working.

[2021-04-28 15:45] Mikilll94 commented on #8152
@chrisbonifacio
I have an idea. This issue may exists only when you have a Lambda with a Cognito authorizer. You need to send invalid/expired token to the Lambda with authorizer.

[2021-04-28 16:10] chrisbonifacio commented on #8189
Hello 👋 thank you for raising this issue. @24601 I did take a look at your related issue and it seems that this is happening regardless of the framework as yours was on Angular and this one is in React. I also see that @namwkim is using the latest version of the `@aws-amplify/ui-react` package.

I followed the reproduction steps on this issue but I am not getting the temporary verify view yet.

I

[2021-04-28 16:32] chrisbonifacio commented on #8189
So, I just tried with a custom attribute and messing in the verification email/sms and that doesn't seem to have any effect. Going to keep looking into it.

@24601 I see in your issue you mention this is occasional but seems to happen in new browsers or having not been authenticated in a while. I will try in other browsers and report back.

[2021-04-28 16:32] namwkim commented on #8189
@chrisbonifacio Thanks for the response. Yes, this is difficult to reproduce.

I resolved the issue by resetting the authentication in Admin UI. My hunch is that it is related to some internal sync issue.

[2021-04-28 16:44] chrisbonifacio commented on #8068
I'm able to reproduce this consistently. Labeled this as a bug and have made the team aware.

[2021-04-28 17:23] sammartinez commented on #7468
All,

Wanted to provide an update here. We found that in testing that this seems to be an issue with the package we are recommending in our documentation site for [urlOpener](https://docs.amplify.aws/lib/auth/social/q/platform/js#full-samples) causing the issue. I have linked the direct issue that seems to regard this.

[2021-04-28 17:39] DeniferSantiago commented on #8141
I fixed the error, changing redirectSignIn and redirectSignOut to application schemas (`myapp://`) instead of links. So in AndroidManifest and Info.plist add `myapp://` as Intents

[2021-04-28 18:09] #8141 closed

[2021-04-28 18:11] DeniferSantiago opened #8195 "I can't get the Sub and other attributes of a user registered with oauth"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-04-28 18:39] iartemiev commented on #8158
@sconway I opened a PR with a proposed solution: https://github.com/aws-amplify/amplify-js/pull/8196
I'll provide another update after we've reviewed and merged it.

[2021-04-28 18:41] iartemiev commented on #8179
Hey @Gamerweazel, thank you for opening the issue and providing a detailed description.

This issue has the same underlying cause as #8158, so I'm going to close this as a duplicate.
We'll provide updates via that issue.

Here's a link to the PR with the proposed solution to this: https://github.com/aws-amplify/amplify-js/pull/8196

[2021-04-28 18:41] #8179 closed

[2021-04-28 19:45] #8046 closed

[2021-04-28 20:03] apolegoshko commented on #6461
Just wanna confirm that following workflow works: initiateAuth -> associcateSoftwareToken -> VerifySoftwareToken -> RespondToAuthChallenge.

[2021-04-28 20:30] hkjpotato commented on #8046
Hello @molnarzs, we have merged [PR](https://github.com/aws-amplify/amplify-js/pull/8192) that fixes this issue.

This will be available in `aws-amplify@unstable` shortly and will be released in
the next release cycle. Please let us know if the issue persists afterwards.

Thanks.

[2021-04-28 20:42] wlee221 commented on #5782
Hello all, we just merged in the password manager workaround (pr #8181). This is now available in `unstable` npm tag and will be published in the next release cycle. To use this workaround, you need to wrap your authenticator with `AmplifyAuthContainer`:

[code]
(or with `amplify-auth-container` on vue/angular). Under the hood, `AmplifyAuthContainer` contains a hidden form that is not shadowed and

[2021-04-28 21:49] clehnert commented on #612
+1

This is such a simple request. All we want is a simple redirect url when using the verification link. It's one label and one text box in the AWS Console (and obviously a little more). It could redirect automatically. It could show a button that says "Continue" or maybe "Go Home" or maybe "We Care About and Listen to our Customers."

I'm already ignoring the fact that I can't log somebody in be

[2021-04-29 01:53] manueliglesias commented on #7468
**TL;DR**
I sent #8198 to addresses this by treating `'//'` as `'///'` when parsing the `currentUrl` with the `redirectSignIn`.

---

Some context:

The cognito hosted ui behaves differently if you have an active session with it or not. Assuming that you want to login with Facebook as a provider, the first time you do `federatedSignIn` you will get the Facebook UI, you'll input your facebook crede

[2021-04-29 02:20] joshfriend commented on #6998
@GoodLuc make sure you are using `@aws-amplify/ui-components` instead fo `@aws-amplify/ui-vue` or `amplify-vue-ui`. That was my problem anyways.

[2021-04-29 07:58] ahtokca commented on #7468
Wow, @manueliglesias, thanks a lot. Looking forward to having your PR merged :)

[2021-04-29 10:42] m-bilal-dev9 opened #8199 "No notification on selecting Preferred MFA Type"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-04-29 10:59] m-bilal-dev9 opened #8200 "Setup TOTP issue on code entering"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-04-29 11:58] crenacer commented on #6461
@apolegoshko Just tested it and still getting the same issue. I guess that's somehow related to pool settings and its API doesn't return appropriate error and always "Invalid session for the user.".
My flow is (I'm using amazon-cognito-identity-js. MFA is required in the pool and only TOTP enabled):
1. Create new user, set email and phone, don't send any verification email
2. Call to cognitoUser.a

[2021-04-29 12:45] apolegoshko commented on #6461
Hey @crenacer Initially, I receive the same error, but important thing here, is that you have to follow such approach:

MFA_SETUP : For users who are required to setup an MFA factor before they can sign-in. The MFA types enabled for the user pool will be listed in the challenge parameters MFA_CAN_SETUP value. To setup software token MFA, use the session returned here from InitiateAuth as an input

[2021-04-29 12:51] crenacer commented on #6461
@apolegoshko , thanks for the response.

I do use the different ones, see step 7, it's executed in different server route in different request.

Issue is that VerifySoftwareToken itself returns an error

[2021-04-29 14:58] alxistn commented on #7505
I am having the exact same issue... is there any fix ?

[2021-04-29 16:08] chrisbonifacio commented on #8189
@namwkim Could you verify if when you were experiencing this issue, you were still able to login and this view would only show temporarily or would it change to this VerifyContact component and remain stuck there without logging you in?

[2021-04-29 16:16] chrisbonifacio commented on #8172
@24601 If you can still reproduce this issue consistently, would you mind console logging the `data.payload` from the Hub listener when attempting to login and posting the results here. The main things we are looking for are the whether the `verifyContact` event is being triggered as well as whether the user data contains `verified` or `unverified` properties at any point during your login process

[2021-04-29 16:53] namwkim commented on #8189
I was able to log in or even skip the verification and use the app. The main issue was that it keeps asking to verify whenever I sign out and attempt to log in again, even though the Admin UI (or Cognito) says the email is already verified.

I think when I touch the Cognitio to customize the messages beyond the Amplify admin, things got messed up.

[2021-04-29 17:50] #7468 closed

[2021-04-29 19:05] successgilli commented on #1715
yes, it would throw an error because the object is no longer a connitoUserObject since it has been stringified and parsed.

What I did was to save the cognitoUserObject from sign-in to redux store and collect it back in the component where required.

[2021-04-29 19:43] DeniferSantiago commented on #8195
Found out how to access attributes when using Oauth to login:

[code]
I noticed this adds some extra properties but it does what I need.

I will not close this issue as I consider that amplify should fill the "attributes" property internally to ensure similar behavior in any type of login.

[2021-04-29 19:46] DeniferSantiago commented on #6444
The same issue and no solution appears yet

[2021-04-29 20:15] DeniferSantiago commented on #5921
Waiting for a miracle over here

[2021-04-29 20:25] Kevinberg opened #8202 "aws-amplify could not be found - Amplify import and awsconfig not working"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-04-29 20:29] Kevinberg commented on #8202
**### aws.exports.js**

/* eslint-disable */
// WARNING: DO NOT EDIT. This file is automatically generated by AWS Amplify. It will be overwritten.

const awsmobile = {
    "aws_project_region": XXXXX
    "aws_cognito_identity_pool_id": XXXXX",
    "aws_cognito_region": "XXXXX",
    "aws_user_pools_id": "XXXX",
    "aws_user_pools_web_client_id": "XXXX",
    "oauth": {}
};

export default awsmobile

[2021-04-29 21:08] DeniferSantiago commented on #1906
where can I find the last option?

[2021-04-29 21:14] josefaidt commented on #8163
Hello @RiosQ :wave: what kind of issue are you experiencing with this error shown in the browser's console? To mitigate this error you can add `preberBuiltins` to the `client` piece of your rollup config, as it will ensure the aws-sdk will use its browser-specific buffer API rather than confuse it for the built-in. Also for good measure, install `@rollup/plugin-json` as a devDependency

[code]

[2021-04-29 21:49] roberthelmick08 opened #8203 "handleSubmit function passes KeyboardEvent or MouseEvent argument"
### JavaScript Framework

Angular

### Amplify APIs

Authentication

### Environment information

<details>

[code]

</details>

### Describe the bug

I am trying to create a custom callback function after a successful sign-in by using the amplify-sign-in UI component. Using the `[handleSubmit]` property as described [here](https://github.com/aws-amplify/amplify-js/issues/5480), I want my `onSubmi

[2021-04-30 08:02] ybonjour opened #8205 "Auth.verifiedContact returning email as unverified if email_verified="True" (uppercase)"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-04-30 08:55] atakarabt commented on #5522
+1
We are facing the same issue, any update?

[2021-04-30 08:56] takarabt commented on #5522
+1

We are facing the same issue, any update ?

[2021-04-30 08:57] gvankeerberghen commented on #6031
+1 same

[2021-04-30 09:30] takarabt commented on #7755
Hello,

Any update

[2021-04-30 09:42] radiosilence commented on #7499
Am using pure Vite+React and whilst the above solved the build, I now get this in browser:
![Screenshot 2021-04-30 at 10 12 19](https://user-images.githubusercontent.com/65021/116677927-ad29ee80-a9a0-11eb-8307-f95a31f73fa5.png)

:(

[2021-04-30 10:37] ahmed-sharief5 commented on #1125
Hello guys still this PR has not been merged. Could anyone please look into this and merge as soon as possible, as its been months

[2021-04-30 11:53] iartemiev commented on #8012
@raybotha have you tried changing the conflict resolution strategy to Optimistic Concurrency? I think that will work much better for your use case, especially if you're not expecting multiple users to be updating the same records.

You can change the conflict resolution strategy for your entire API or on a per-model basis via the Amplify CLI

[code]

I still suggest debouncing changes in your inpu

[2021-04-30 12:26] ZalgirisKaunas commented on #122
![image](https://user-images.githubusercontent.com/19693550/116694748-533d1f00-a9c8-11eb-81ba-a87a0cc0dccc.png)
 For some reason, my aws-sdk dependency is this heavy..

[2021-04-30 12:26] raybotha commented on #8012
Thanks for the update, using optimistic concurrency does seem to work as desired. It would likely solve the issue for our current use case. We'll add deboucing anyway as a matter of good practice.

[2021-04-30 12:31] raybotha commented on #8012
I think so yes.

[2021-04-30 12:33] #8012 closed

[2021-04-30 12:51] gvankeerberghen commented on #8113
FYI I got this too, I'm on RN without Expo. It was resolved after I installed and linked `amazon-cognito-identity-js`.

I had that module deep within my node modules, in `node_modules/@aws-amplify/auth/node_modules/amazon-cognito-identity-js`, but I guess dependencies' dependencies aren't automatically linked.

[2021-04-30 13:07] mspoulsen commented on #7314
@p-gag I have exactly same issue. Did you find a solution?

[2021-04-30 13:53] mspoulsen commented on #7314
https://stackoverflow.com/questions/67333167/aws-cognito-returns-notauthorizedexception-incorrect-username-or-password-whe

[2021-04-30 14:41] #8173 closed

[2021-04-30 15:02] apolegoshko commented on #6461
@crenacer which session do you pass to VerifySoftwareToken ? I'm not js person, but here is a snippet from my golang implementation:

[code]

This is working.

[2021-04-30 18:40] chrisbonifacio commented on #8189
@namwkim I did try to reproduce with custom messaging and attributes but it didn't cause the verify contact view to show. It's probably something to do with the transitioning between states/views during login as @24601.

I apologize for the delay, we're still trying to reproduce the issue so that we can work on a fix.

[2021-04-30 18:42] #8189 closed

[2021-04-30 18:54] suhailsaqan opened #8207 "GraphQL returning Undefined"
### Before opening, please confirm:

- [x] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-04-30 19:45] GoodLuc commented on #6998
@joshfriend the problem still remains:

**Vue 3 DOES NOT allow slot attributes**, which are the way to customize the component as in @aws-amplify/ui-components -> [see link](https://docs.amplify.aws/ui/auth/authenticator/q/framework/vue#customization), so the **Vue 3 aws-amplify-ui component CANNOT be customized in Vue 3**, which is strange.

I ended up cloning the repo, modifing it and rebuilding

[2021-04-30 20:12] GoodLuc commented on #6998
@joshfriend best of luck if you do. Like I said I just cloned the repo and made my own version, setting hideSignup = true as a default and so on. '^^

[2021-04-30 21:06] ErikCH commented on #7499
I was able to reproduce that as well @radiosilence .

A quick work around is don't use the `@aws-amplify/ui-react` library. Use the `aws-amplify` library instead. You'll have to create your own UI, but it should work. Here is the guide to the API https://docs.amplify.aws/lib/q/platform/js

[2021-04-30 22:16] chrisbonifacio commented on #5921
Good evening, everyone 👋 Wanted to give an update on this issue before the weekend.

We have have been trying to reproduce this issue this on `@aws-amplify/auth@3.2.8` and 3.2.7 as mentioned in the original comment.

We have to yet to reproduce this issue with a Google OAuth flow but we will continue to look into it. Below are the current results of the attempts to reproduce.

In the meantime, her

[2021-05-01 00:43] #8163 closed

[2021-05-01 00:44] RiosQ commented on #8163
thanks

[2021-05-01 02:19] niroshank commented on #3474
Any updates?

[2021-05-01 05:05] hkjpotato commented on #8135
@calvinchso can you try to use the following syntax
[code]

Basically, by ".prop" is a modifier bind it as a dom/component `property` instead of as a dom attribute (https://vuejs.org/v2/api/#v-bind). This way the web-component `amplify-sign-up` can recognize it.

[2021-05-01 12:20] shawntharoo commented on #6555
I also got the same issue in my react app which use "aws-amplify": "^3.3.24". the user sign in successfully but when i refresh the page, first i call the "Auth.currentAuthenticatedUser" method to get the user data. but it always return "The user is not authenticated".
Any updates on this?

[2021-05-01 16:27] crvargasu commented on #399
I had the same issue, and finally I use `amazon-cognito-identity-js` instead of Auth services of Amplify.  I let you the code with 2 functions, one to signUp an user and the second to SignIn. Both works in React-native. I hope this will help someone.

You also can check the documentation [here](https://github.com/aws-amplify/amplify-js/tree/master/packages/amazon-cognito-identity-js)

[code]

[2021-05-01 18:08] serhii-k commented on #7413
It is such a massive issue that just turns me away from even trying DataStore :(
I thought it is a good solution for offline-first scenarios.
Any plans on resolving this issue? Providing migration strategies would be a perfect solution.

[2021-05-01 19:28] sworgkh commented on #7267
I have a very similar issue with my application.
I use usernameAlias="email" on  AmplifyAuthenticator component and  AmplifySignUp component as described in documentation.
I used formFields prop to manually select fields (email, password, name, family_name)

While trying to signUp on the desktop browser all work great **but on mobile browsers** (chrome, safari) I get a validation error message "Us

[2021-05-02 03:55] ahmed1 commented on #3143
@AdrianRamzes, your solution worked for me, thanks!

[2021-05-02 12:17] DariusPirvulescu commented on #7679
We were also having this problem, I tried @xgallom's solution (thanks btw :taco: ) and it seems like a fix.
Here are the steps I followed:
- Installed @expo/metro-config as dev-depedency: `npm install @expo/metro-config --save-dev`
- replaced the import statement of `getDefaultConfig` from `metro-config` to `@expo/metro-config`
- passed the `__dirname` argument to `getDefaultConfig`

Here is our `

[2021-05-02 16:40] jbeckton commented on #3474
yes.... Use NestJs and Docker.

https://nestjs.com/

On Fri, Apr 30, 2021 at 8:19 PM Niroshan Kumarasinghe <
***@***.***> wrote:

[2021-05-02 20:00] R-Bower commented on #3726
If you're using Cognito and SES, you should be able to do this in the console.

Navigate to your User Pool's `Message Customizations` section.

![image](https://user-images.githubusercontent.com/11933208/116825857-f7000980-ab45-11eb-9e3c-a48500665dfb.png)

Adjust the FROM email address field (the email in the <angle brackets> should match the email in the `FROM email address ARN`)
![image](https:/

[2021-05-02 23:31] cburkins commented on #5782
I'm currently enjoying the simplicity of using the withAuthenticator HOC.  As such, am I easily able to deploy this ?    I'm not sure how to apply "you need to wrap your authenticator with AmplifyAuthContainer"

[2021-05-03 00:51] undefobj commented on #6260
@CarlJoven @JohnCashmore can you give more insights into why more than 100 subscriptions are needed? To be clear this is not a DataStore limit, it's a limit that AppSync has set. That being said 100 subscriptions is a very large number even for very large projects. Perhaps there is a specific use case that you're trying to accomplish which can be met another way than having more active subscriptio

[2021-05-03 02:48] sacrampton commented on #6260
Hi @undefobj @CarlJoven @JohnCashmore - for each table/model there are 3 subscriptions (add, update, delete) which are created - which means you can have a maximum of 33 tables/models. My application has 45 tables/models to support the mobile and back end - so I'm 35 subscriptions over the limit. By default, as I understand this, you have no control about what to subscribe to - so when you have mo

[2021-05-03 02:55] chunyenHuang commented on #8113
I am still having the same issue with Expo `41.0.0` and amplify `3.3.27`

[2021-05-03 04:02] dlamon1 commented on #6320
+1

[2021-05-03 06:12] ajayGadhiya commented on #5088
@iartemiev  I try to delete data with a simple datastore delete query but it throws the below log in console.
![image](https://user-images.githubusercontent.com/70691615/116845756-650b0600-ac04-11eb-99d9-3131e8e9a26a.png)

It is my code...

`export function deleteDepartments(id) {
  return DataStore.delete(Department, id)
    .catch(console.log)
}`
`export declare class Department {
  readonly id:

[2021-05-03 06:55] CarlJoven commented on #6260
Hi, @undefobj I don't need subscriptions for all of the models but when I tried to make the subscriptions param of the model directive null for all of the models which I don't need subscriptions it doesn't work with datastore. I only want to select which model is subscribed but every time I create a new model it forces me to opt-in with the subscriptions.

[2021-05-03 07:32] TheMoums commented on #6260
Hi @sacrampton,
I ran into exactly the same problem as yours about 1 year ago. When dealing with a large project, the limit of 33 tables rapidly becomes constraining. I have around 50 tables, some of them require subscriptions, some other don't.

Basically I have divided my architecture into two kind of tables: those that will fully interact with DataStore (subscriptions, data stored in cache) and

[2021-05-03 07:40] crenacer commented on #6461
@apolegoshko As I can see you use USER_PASSWORD_AUTH which is deprecated, I am using SRP Auth. Anyway what I'm telling is that it is something in cognito settings, not in the library itself. For example, do you have MFA selected as "required" and not "optional" for your user pool?

[2021-05-03 08:14] ajayGadhiya commented on #6560
I try to delete data with a simple datastore delete query but it throws the below log in console.
![image](https://user-images.githubusercontent.com/70691615/116854577-84f6f580-ac15-11eb-9b56-65b7e45a4366.png)

It is my code...

[code]

[2021-05-03 08:20] ctjlewis opened #8214 "Add option for high-availability Dgraph cluster with `amplify add auth`"
**Is your feature request related to a problem? Please describe.**
Dgraph offers a lot of functionality out of the box, like location searching and the `@inverse` directive, that are hard to replicate in AppSync, yet being able to manage everything as part of the Amplify/AWS platform has tremendous benefits.

**Describe the solution you'd like**
It is possible to automate deploys of Dgraph cluster

[2021-05-03 08:39] apolegoshko commented on #6461
Hey @crenacer, definitely yes, MFA is selected as required. Could you please send me the link to deprecation notice ?

[2021-05-03 09:29] sacrampton commented on #6260
Hi @TheMoums  - thanks for taking the time to put that down. At a high level that was where I thought we needed to go, glad for your confirmation (and detail). If it isn't too much trouble it would be helpful if you could show me an example of where you put @subscriptions : null in schema.graphql and where precisely you set the syncable:false after the new deployment. Assume that after you do this

[2021-05-03 09:46] crenacer commented on #6461
Hey @apolegoshko sorry, I can't find exact words. I just understood this from documentation that it'll execute AWS "user migration" lambda if set

[2021-05-03 09:57] TheMoums commented on #6260
@sacrampton
Here is an example of an unsynced table
[code]
If I know I'm about to deploy a new schema (api is in state _Update_ when running **amplify status**), I do **yarn deploy:api** (instead of amplify push).
With a package.json in my frontend that contains
[code]
And unsynchronise.js (code that I'm really not proud of, feel free to improve it)
[code]
Which should result to something like
[co

[2021-05-03 10:27] apolegoshko commented on #6461
Looks like it requires additional investigation.

[2021-05-03 10:53] crenacer commented on #6461
Yep, that's why I'm writing here after reading library code and trying different scenarios. So far I've left MFA as optional and "emulate" cognito behavior returning MFA_SETUP challenge on login/completeNewPassword calls if not set for user. Maybe it'll help somebody

[2021-05-03 11:07] ksshafik commented on #6248
+1

[2021-05-03 12:54] AshleighLyon commented on #8113
I am still having the same problem with the Auth.SignIn function. Have tried all the above solutions plus removing aws-amplify, amazon-cognito-identity-js, and reinstalling. Deleting node_modules and reinstalling. Any ideas where I could be going wrong?

expo: 41.0.1
amazon-cognito-identity-js: 4.6.0
aws-amplify: 3.3.27

[2021-05-03 12:55] tomerkob opened #8215 "currentAuthenticatedUser() throws "not authenticated" instead of the actual error that occours"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-03 13:35] markdturner commented on #8113
With help from this [Stackoverflow answer](https://stackoverflow.com/questions/67212121/aws-amplify-sign-in-error-error-signing-in-typeerror-0-getrandombase-d#answer-67217459) and as a temporary workaround, I've been able to use legacy imports when running `expo` commands, for example:

[code]

This obviously isn't ideal, but at least gets past the issue until the expo and amplify libraries sync u

[2021-05-03 14:33] chrisbonifacio commented on #8215
Good morning 👋 looks like you're using a two year old version (1.1.34) of `aws-amplify`. Would you mind upgrading to the latest version (3.3.27) and testing if this issue still occurs?

I recently had to reproduce another issue that had to do with expired tokens and this is the error I was getting on the latest version.

<img width="896" alt="Screen Shot 2021-04-28 at 11 16 07 AM" src="https://use

[2021-05-03 14:44] scott-lydon commented on #2167
I'm getting this error as well, however here is my print out:

[code]

The error is:

[code]

Obviously the attribute does not exist in the schema, that is why I am using the custom case.
What is the issue with this?

[2021-05-03 14:46] frontr-uk commented on #8215
Hi, currently also have issue with the latest version does not call to get the token

[2021-05-03 15:34] chrisbonifacio commented on #8215
@frontr-uk are you experiencing the same issue? Could you post the error message or response you're getting from Cognito?

[2021-05-03 16:12] chrisbonifacio commented on #8152
@Mikilll94 That's a good idea, I am currently testing and will report back with the results. Thank you!

[2021-05-03 18:36] chrisbonifacio commented on #3039
Good afternoon everyone,

if you are still experiencing this issue, please comment with your version of `aws-amplify` and/or `@aws-amplify/pubsub`

[2021-05-03 18:42] Kevinberg commented on #8202
Hi @chrisbonifacio , Yes I did. Finally I was able to make it work, somehow my git stopped working. Thanks for your response!

[2021-05-03 18:42] #8202 closed

[2021-05-03 19:10] wlee221 commented on #6756
Closing as our docs have been updated for Vue 3: https://github.com/aws-amplify/docs/pull/2880.

[2021-05-03 19:10] #6756 closed

[2021-05-03 19:55] manueliglesias commented on #8184
Hi @Jun711

Yes, you can use federation as shown in https://docs.amplify.aws/lib/auth/social/q/platform/js

That will use a cognito user pool instead of just identity pools

[2021-05-03 20:02] Jun711 commented on #8184
@manueliglesias
Yes, I had that setup for traditional Google sign in already and it would create a cognito user when I used Auth.federatedSignIn({provider: 'Google'})}`.

However, the newer feature: Google one tap sign in doesn't have the same configuration for traditional Google sign in as there is no redirection. In other words, it doesn't redirect to Google Sign In page and redirects to my App

[2021-05-03 20:04] suhailsaqan commented on #8207
Any progress on this? If you need more information to reproduce this let me know.

[2021-05-03 20:06] EvanErickson commented on #8113
Literally write ```EXPO_LEGACY_IMPORTS=1 expo-cli start```

[2021-05-03 20:06] EvanErickson commented on #8113
A good workaround is to just run ```EXPO_LEGACY_IMPORTS=1 expo-cli start``` instead of "expo start"

[2021-05-03 21:04] zero-t4 commented on #7875
It really solves the problem, maybe you were using `npm` instead of `yarn`?

[2021-05-03 21:33] iartemiev commented on #8158
@sconway PR's been merged and is currently available in [aws-amplify@3.3.28-unstable.18](https://www.npmjs.com/package/aws-amplify/v/3.3.28-unstable.18). It'll be released as part of the next stable version later this week.

[2021-05-03 22:07] #8168 closed

[2021-05-03 23:11] wlee221 commented on #5782
@cburkins, you would have to eject out of `withAuthenticator` to use this workaround:

[code]

[2021-05-03 23:45] undefobj commented on #6260
Thank you for giving some helpful answers @TheMoums

@sacrampton @CarlJoven the suggestions given by @TheMoums are exactly why I was asking this question. It sounds like you most likely do not need us to address this limit on the AppSync side from a service perspective to allow even more subscriptions, but give more clear documentation on disabling subscriptions and also introduce more features on

[2021-05-04 00:15] sacrampton commented on #6260
Hi @undefobj @TheMoums @CarlJoven,

I'll take anything you can provide for now as anything is an improvement. However, what would be nice would be for each CLIENT to be able to specify which models it wants syncable. For example, I might have a master data app where I only need 20 models syncable. But I might have an inspection app that needs 30 models syncable and these might be different to the

[2021-05-04 00:18] sacrampton commented on #6260
Hi @TheMoums - thank you so much for taking the time to document this - I really appreciate it and its super helpful.

Regards, Stephen

[2021-05-04 00:22] undefobj commented on #6260
Ok thanks this helps. We have the syncable/cloud-only/local-only models on our roadmap and this helps prioritize in the coming months. cc @manueliglesias @renebrandel

[2021-05-04 01:14] sconway commented on #8158
Awesome, thanks @iartemiev!

[2021-05-04 13:39] marziamura commented on #7679
thanks @svidgen your fix worked at least with expo start.

[2021-05-04 14:43] JohnCashmore commented on #6260
Our specific usecase is similar to this from the docs https://docs.amplify.aws/guides/api-graphql/subscriptions-by-id/q/platform/ios but we happen to have more than the limit items per page, the table tis very high volume in terms of traffic so subscribing to all updates causes us performance issues.

[2021-05-04 14:47] JohnCashmore commented on #6260
If it was possible to do something like

`
type Subscription {
  onCommentByPostIds(postCommentsId: [ID!]): [Comment]
    @aws_subscribe(mutations: ["createComment"])
}
`

to limit the ids to those on the page it would help in our case

[2021-05-04 15:23] DevTGhosh commented on #7996
I have a similar issue. Datastore is not querying predicates `'contains'`. However like @myfairshare  I am not receiving any error.

On using `Amplify.Logger.LOG_LEVEL = 'DEBUG'`
[code]

My code
[code]

Relevant library versions
[code]

[2021-05-04 17:29] mspoulsen opened #8218 "AWS Cognito returns “NotAuthorizedException: Incorrect username or password” when I run it from Jest"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-04 18:02] chrisbonifacio commented on #6461
Hello 👋 I'm currently working to reproduce this issue consistently so that we can work towards a resolution. If you are still experiencing this issue, please comment with your package.json or amplify packages and versions in your project.

[2021-05-04 18:03] mariusbutuc commented on #7772
@lionskape thanks for surfacing this. I was also able to reproduce this as well while following the first chapter of @dabit3's Full Stack Serverless book. With your suggestion + the discussion between @atoiv & @milichev at https://github.com/aws-amplify/amplify-js/discussions/6048#discussioncomment-212237 and using the current versions of
[code]

I kept track of the "ambiguous and unsound" require

[2021-05-04 18:39] Arvanaghi commented on #6238
@sammartinez The documentation around this is fairly vague. Any more pointed resources you can share?

[2021-05-04 19:21] agileurbanite commented on #1218
hey folks, we are actively working on this issue with the cognito team and will we will have a release as soon as the cognito service updates are out.  We understand your frustration but please understand that we are actively working on this issue.

[2021-05-04 20:19] mauerbac commented on #2624
Closing this issue in favor of an implementation across all Amplify repos https://github.com/aws-amplify/docs/issues/3183

[2021-05-04 20:19] #2624 closed

[2021-05-04 20:19] mauerbac commented on #3974
Closing this issue in favor of an implementation across all Amplify repos https://github.com/aws-amplify/docs/issues/3183

[2021-05-04 20:19] #3974 closed

[2021-05-04 20:22] Goszu commented on #7944
Same issue. Using own implementation of storage based on SecureStore (expo-secure-store). No issues on Amplify auth v2, started happening on v3.

[2021-05-04 20:27] tjleing commented on #7199
Hey @ChihweiLHBird and @countryst -- my teammate @ericclemmons put together [a CodeSandbox](https://codesandbox.io/s/amplify-ui-federated-buttons-48x56?file=/src/App.js) showing how to do this using the `<slot>` of the `AmplifySignIn` component, which is the officially-supported solution for this use case.

However, we would also like to support it better -- recreating the entire block of buttons

[2021-05-04 20:51] eryon commented on #6896
@sammartinez is this a new feature request or is it a bug? Referring to the additional context, are we using `updateEndpoint` incorrectly when we expect it to switch an INACTIVE endpoint to ACTIVE with updated attributes?

[2021-05-04 21:01] alexung opened #8220 "Auth.federatedSignIn - `TypeError: undefined is not an object (evaluating 'this._oAuthHandler.oauthSignIn')`"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-04 21:02] chrisbonifacio commented on #6461
Actually, I just noticed that in your attempt to sign in you are getting a "SMS_MFA" challenge when, I think, you should be getting the "MFA_SETUP" challenge which is when you would want to call `Auth.setupTOTP`.

If you look at the [Advanced Use Cases](https://docs.amplify.aws/lib/auth/mfa/q/platform/js#advanced-use-cases) section of the docs, it shows the intended flow for the MFA challenges.

S

[2021-05-04 21:26] BeifeiZhou commented on #7763
same issue here.

[2021-05-04 22:20] agileurbanite commented on #2924
Is there a use case where IoT with Generic MQTT over websocket providers doesn't meet folks needs compared to API Gateway Websockets support?

[2021-05-04 22:21] agileurbanite commented on #3591
This seems like a duplicate of #2924, am I missing something here or is this just a duplicate with a different title?

[2021-05-04 22:57] wlee221 commented on #5782
@cburkins, we've given this more thought and we will be modifying the HOC to include this workaround by default. We'll create a PR soon.

[2021-05-05 00:49] ianwijma opened #8221 "`FileReader` error with Predictions on NextJS API routes."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-05 02:21] raybotha commented on #8012
This issue randomly returned and I had to run the CLI command again, it could be related to using the Amplify Admin UI.

[2021-05-05 02:25] raybotha commented on #8012
Is the admin UI incompatible with optimistic concurrency?

[2021-05-05 05:58] ajayGadhiya opened #8222 "Exception: Creating a new model with an empty Dynamodb"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-05 07:11] jarrodwatts commented on #7589
Is there any documentation anywhere on how to use Typescript with subscriptions? 😞

[2021-05-05 11:46] Vingtoft commented on #7544
Any updates on this?

[2021-05-05 12:35] CLMichel opened #8223 "Create user using admin queries"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-05 13:36] chrisbonifacio commented on #8218
Good morning 👋 Have you tried passing the email and password as an object instead?

this is how `Auth.signIn` is normally called with an object as an argument

[code]

[2021-05-05 13:52] Vingtoft opened #8224 "DataStore | How to query server if local query yields no results?"
**Is your feature request related to a problem? Please describe.**

It appears that there is two ways to fetch remote data into DataStore:
1. Using default setting (All remote data will be downloaded to client)
2. Using syncExpression to limit how much data is synced to local storage

Option 1 is a total no-go for all non-trivial uses cases (and would, in most cases, be illegal in EU under GDPR da

[2021-05-05 14:16] chrisbonifacio commented on #8218
make sure you are using the latest version of `@aws-amplify/auth`, add this line to your package.json, then reinstall your dependencies

[code]

I just ran this test with version 3.4.30 (latest) of `@aws-amplify/auth`
<img width="1197" alt="Screen Shot 2021-05-05 at 10 16 09 AM" src="https://user-images.githubusercontent.com/16952986/117155606-eab8be00-ad8a-11eb-865e-2e30d8a5fccd.png">

[2021-05-05 15:05] SiddharthChoudhary commented on #2501
Hello all, whoever is active on this thread. I have been facing an issue exactly like this. Currently, I am building an SDK for our team and that SDK is for iOS which uses AWS REST APIs to interact with API GW.

 I am using Amplify for that. Everything works as long as the client app importing our SDK doesn't have their own Amplify setup. When it does, one ends up in a situation where you can't co

[2021-05-05 16:09] chrisbonifacio commented on #8221
Hey, @ianwijma 👋 I can label this as a feature request for you. The team is continuously working on building support for Next.js so this is definitely something worth considering. Thank you!

[2021-05-05 16:25] chrisbonifacio commented on #8195
Hi @DeniferSantiago 👋 That's strange that attributes is not included in the response.

This is what I get when calling `Auth.currentAuthenticatedUser` logged in through google OAuth

code

[code]

console log
<img width="448" alt="Screen Shot 2021-05-05 at 12 25 24 PM" src="https://user-images.githubusercontent.com/16952986/117175549-fa410280-ad9c-11eb-9c3c-b1315c25717a.png">

[2021-05-05 16:26] chriskinzel commented on #6494
The solution in https://github.com/aws-amplify/amplify-js/issues/6494#issuecomment-669019819 does not seem to work for S3 PUT uploads (``Storage.put(`${cred.identityId}/${randomFilename}`, file, {...``).

Looks like `systemClockOffset` needs to be set but there doesn't seem to be any way to do this from Amplify.

https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/Config.html#systemClockOffset

[2021-05-05 16:52] iartemiev commented on #8012
@raybotha AdminUI will currently revert your conflict resolution strategy back to Automerge after you perform changes to the data model. The team is aware of this issue and is tracking it internally. We will be modifying the behavior of AdminUI to keep whichever conflict resolution strategy has been configured on that API.

As a temporary workaround, you can manually set the conflict resolution ba

[2021-05-05 17:03] raybotha commented on #8012
Thanks, I thought that's what's happening. Is there an issue or somewhere to keep track of when it's fixed?

[2021-05-05 18:42] raybotha commented on #8139
I've also been following the docs on this and it's not clear to me why it's not working. Even though DataStore has been out for a relatively long time, a lot of simple things like these seem to not work.

[2021-05-05 19:49] iartemiev commented on #8012
We're tracking it internally at the moment, but I'll make sure to circle back around and post an update here once we've fixed it

[2021-05-05 20:26] igorkosta commented on #6917
@amhinson why has this issue been closed without providing the link to the `AWS Cognito support` issue. I'm experiencing the same issue although I created the function for custom message with `amplify`

[2021-05-05 20:38] rpostulart commented on #2556
I am also interested in this option and looking for the timelines

[2021-05-05 20:42] hkjpotato commented on #6840
looking into it, during my local test, I think the problem is not the setState callback being registered multiple time.

It will only be registered once, yet every time customer signout, an event related to `customGreetingSignOut` will be added (even it exists before) and dispatched. I will look more into it to see how it is triggered and if there is a way to cancel it.

[2021-05-05 20:43] #6017 closed

[2021-05-05 20:44] chrisbonifacio commented on #8202
No problem! Glad you were able to figure it out :)

[2021-05-05 20:57] reesscot commented on #8131
Hi @GM1957,
I think the reason you are seeing old information on the second call to `Auth.currentAuthenticatedUser` is because the first call to get the current user is cached. To get the latest data from Cognito, you will need to call `Auth.currentAuthenticatedUser` with params to bypass the cache.

API references:
https://aws-amplify.github.io/amplify-js/api/classes/authclass.html#currentauthent

[2021-05-05 22:47] jonnyn commented on #6031
+1 same issue

[2021-05-05 22:52] sammartinez commented on #6031
All,

I wanted to provide an update here. We are going to be migrating to the Community version of Async Storage in the coming weeks. This will be a breaking change and a major version bump for us, so we are working on the logistics of this prior to getting it out to you folks. Just wanted to state, we hear you and will provide more of an update once we have something.

Thanks!
Sam

[2021-05-05 22:57] GM1957 commented on #8131
Yeah @reesscot
I got the solution later. Thanks for your reply

[2021-05-05 22:57] #8131 closed

[2021-05-05 22:57] sotomaque commented on #6031
Thanks for the update!

[2021-05-05 23:04] manueliglesias commented on #7276
Hi @cptflammin

Are you still experiencing this issue?

[2021-05-05 23:04] #6840 closed

[2021-05-05 23:10] GeorgeBellTMH commented on #7251
Do we have to do anything to enable the pinpoint fix? Or should it be happening automatically on the pinpoint side? I got this error less than 3 minutes ago, so I assume it is not happening on the pinpoint side....would be helpful to know if we can verify anything on our side if you guys think it should be fixed....

[2021-05-05 23:37] kenchoong commented on #8139
@raybotha end up you need to move the enum to the last card of your schema, like this

https://github.com/aws-amplify/amplify-adminui/issues/188#issuecomment-832110950

And I definitely agreed what you say, a lot of simple thing is still not working and no way to see why it didnt work, end up when it happen, it consume a lot of time for the simple thing

[2021-05-06 01:45] #7199 closed

[2021-05-06 02:44] bneigher commented on #5267
@sammartinez @Amplifiyer just want to remind you that this is still a problem.  You asked for a code snippet, but I'm saying that anything on react-native with `react native debugger` and Network Inspect turned on will show this.

React Native Debugger is one of the most popular react native developer tools, and this is really causing me a headache as it appears to be causing other people issues t

[2021-05-06 04:48] mikeRChambers610 commented on #7679
This issue is only happening on Android for me.

Expo CLI 4.4.3 environment info:
    System:
      OS: macOS 10.15.7
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 10.16.3 - /usr/local/bin/node
      npm: 6.14.5 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:
      iOS SDK:
        Platforms: iOS 13.5, DriverKit 19.0, macOS 10.15, tvOS 13.4, watchOS 6.2

[2021-05-06 06:47] jarrodwatts commented on #7579
Any update on this? I've just come across this issue

[2021-05-06 10:17] noskovvkirill commented on #7579
@jarrodwatts It doesn't work yet, but I saw that they've added multi-auth https://github.com/aws-amplify/amplify-js/pull/8008 to DataStore. I hope it means that subscriptions will support multi-auth queries too.

[2021-05-06 11:55] noskovvkirill commented on #7579
It seems like I'm wrong — just tried to subscription on a multi-auth field after update and it worked!

[2021-05-06 12:04] iartemiev commented on #7579
@noskovvkirill we've merged the multi-auth PR, but have not yet released it. We're planning on releasing it in the very near future in the next stable version of aws-amplify.

I want to clarify that multi-auth allows you to use [multiple authorization rules](https://docs.amplify.aws/cli/graphql-transformer/auth#multiple-authorization-rules) in a single API, for example, API key + Cognito + IAM.

M

[2021-05-06 12:47] iartemiev commented on #8222
I would try deleting your IndexedDB database and reloading your app.

If that doesn't help, please share some code snippets of how you're interacting with DataStore in your app code. E.g., `DataStore.configure`, `.query`, `.save`, etc.

Also, the auth rules you have configured on that model are not compatible with DataStore at the moment. DataStore does not allow combining different authentication

[2021-05-06 13:25] jarrodwatts commented on #7579
I am in the same boat as @noskovvkirill .
I was hoping to design a collaborative-style app with subscriptions but not possible currently :(

That does seem like quite a _big_ limitation on subscriptions though - would love to see it implemented 😄

[2021-05-06 14:44] meeoh commented on #2115
@powerful23 It makes sense to me that when a user signs out, we have to let cognito know. However, why does that have to open a browser to do that? Can we not just do that silently in the background (by submitting a get request or something)?

Seems like this is still an issue, since calling `Auth.signOut()` still will attempt to open up a browser. I think you can do something like @cpmech mention

[2021-05-06 15:03] jarrvis commented on #2552
@hyungjunk

Same here. But I doubt that auth module can do it automatically (check also session storage). I think it would be weird if it worked since there might be a lot of `Storage` implementations in runtime. It would be a high expectation for amplify to require to check all those places.

[2021-05-06 16:03] chrisbonifacio commented on #8118
Good morning 👋 thanks for raising this issue! I was able to reproduce it consistently on the latest version of `aws-amplify-react-native` (4.3.2). Labeling as a bug for the team to look further into it.

[2021-05-06 16:21] medelman17 commented on #8168
/docs Create Content re: Fun with ChatOps $JavaScript, $FeatureRequest

[2021-05-06 16:22] medelman17 commented on #8168
/docs Create Content re: Fun with ChatOps $JavaScript, $FeatureRequest

We should consider creating some new content regarding the above.

[2021-05-06 17:22] Mootook commented on #7070
This is happening in my team's application, as well.

We use appsync graphql and vue apollo composable, and I see this error quite a bit.
From a bit of trial/error, the issue seems to arise from subscribing/unsubscribing in quick succession.

Vue apollo composable handles subscriptions internally in accordance with component lifecycles (from my understanding), so in this case, mounting and unmount

[2021-05-06 17:56] marlonmarcello commented on #8068
Thanks for investigating it @chrisbonifacio !

[2021-05-06 18:12] medelman17 opened #8232 "[IGNORE]: Testing Docs-Assistant Integration"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-06 18:17] medelman17 commented on #8232
/docs Add Content re: Docs-Assistant API and Usage $FeatureRequest

Issuing the `/docs` command above should create a new issue in `aws-amplify/docs` with the title 'Add Content re: Docs-Assistant API and Usage'. Words prefixed with `$` should become issue labels. This whole bit will become the body of the newly created issue. Here goes nothing!

[2021-05-06 18:33] rraczae commented on #8079
this is still a major issue in react native: https://github.com/aws-amplify/amplify-js/issues/7763

[2021-05-06 19:21] medelman17 opened #8234 "[IGNORE]: Testing Docs-Assistant Integration (#2)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-05-06 19:21] medelman17 commented on #8234
/docs Add Content re: Docs-Assistant API and Usage $FeatureRequest $JavaScript

Issuing the /docs command above should create a new issue in aws-amplify/docs with the title 'Add Content re: Docs-Assistant API and Usage'. Words prefixed with $ should become issue labels. This whole bit will become the body of the newly created issue. Here goes nothing!

[2021-05-06 19:26] medelman17 commented on #8234
/docs Add Content re: Docs-Assistant API and Usage $FeatureRequest $JavaScript

Issuing the /docs command above should create a new issue in aws-amplify/docs with the title 'Add Content re: Docs-Assistant API and Usage'. Words prefixed with $ should become issue labels. This whole bit will become the body of the newly created issue. Here goes nothing!

[2021-05-06 19:30] medelman17 opened #8235 "[IGNORE]: Testing Docs-Assistant Integration (#3)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-05-06 19:33] #8232 closed

[2021-05-06 19:33] #8234 closed

[2021-05-06 20:09] FabioNevesAbreu1 commented on #6134
For me i was putting my domain with `http://localhost:8080`, but is only `localhost`

`
{
  domain: "localhost",
  expires: 365,
  path: "/",
  sameSite: "lax",
  secure: true,
}
`

[2021-05-06 20:10] FabioNevesAbreu1 commented on #2702
For me i was putting my domain with ´http://localhost:8080´, but is only ´localhost´

´{ domain: "localhost", expires: 365, path: "/", sameSite: "lax", secure: false, }´

[2021-05-06 23:10] jay-maas commented on #7191
This solved my issue to manually downgrade the package as mentioned above:

"resolutions": {
    "amazon-cognito-identity-js": "4.5.1"
  },

[2021-05-06 23:54] danielson9 commented on #8113
`EXPO_LEGACY_IMPORTS=1 expo-cli start `  isnt working for me does anyone know any other work arounds?

[2021-05-07 00:23] iartemiev commented on #8158
@sconway the bug fix has been released as part of [aws-amplify@3.4.0](https://www.npmjs.com/package/aws-amplify/v/3.4.0)

Please give it a try when you get a chance and let us know if it resolves the issue you're experiencing

[2021-05-07 00:33] EvanErickson commented on #8113
It used to work but now it doesn’t. I’m looking. Anyone find a work around?

On Thu, May 6, 2021 at 4:54 PM danielson9 ***@***.***> wrote:

--
CONFIDENTIALITY NOTICE: This e-mail, and any attachments or previous e-mail
messages attached to it, are covered by the Electronic Communications
Privacy Act, 18 U.S.C. Sections 2510-2521, and are legally privileged
and/or confidential. It is intended only

[2021-05-07 00:45] tbkh91 commented on #7191
Still an issue in 3.4.0:

`
    "aws-amplify": "^3.4.0",
    "aws-amplify-react-native": "^4.3.3",
    "expo": "^41.0.0",
`

Like mentioned by others, was able to solve it with the manual downgrade to 4.5.1:

`
"resolutions": {
    "amazon-cognito-identity-js": "4.5.1"
}
`

Prior to adding the resolutions, package-lock was referencing `amazon-cognito-identity-js` version `4.6.1`

[2021-05-07 02:49] joebernard commented on #7251
@sammartinez I have been seeing this problem reliably in the iOS simulator after 15+ installs with `"aws-amplify": "3.3.27"`. This does not seem to have been resolved with the latest update.

<details>
  <summary>npx envinfo output</summary>

[code]
</details>

[2021-05-07 02:57] kerbe commented on #8113
@danielson9 & @EvanErickson you need to be a bit more specific, how it doesn't work? I have just updated my own project, so it uses latest `amazon-cognito-identity-js: 4.6.1`. And my `Auth.signIn` works fine, with and without `EXPO_LEGACY_IMPORTS=1`.

So first try updating to latest version, and if problem persist, more information would be appreciated. I at least can't currently reproduce any fur

[2021-05-07 03:01] brentvatne commented on #8113
hello! i'm from the expo team. sorry we missed this library, we tried to track down usages of the `.expo.js` extension and updated them wherever we found them, but i didn't think to check amplify-js and send a pull request to fix it.

thank you @svidgen for resolving this in https://github.com/aws-amplify/amplify-js/commit/2d4052da555709fe0f759fecb2df4b4b9604461c

i can confirm that if you set the

[2021-05-07 06:03] JoeKlimcak opened #8237 "withAuthenticator hanging"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-07 06:36] ebisbe commented on #1218
Yeah we understand that you are **actively worky on this issue** after **_3 YEARS_**

[2021-05-07 08:05] marziamura commented on #7679
An update on this tread: none of the fix above seems to be working with expo:publish (other than manually changing the include) I did not try on a production build, and given the review times of the stores, I am not going to do that.

[2021-05-07 08:11] sacrampton commented on #4695
@elorzafe - I'm not sure why this was closed as I don't see a solution here. I'm having this issue and I'm not sure why.

This compiles successfully with appSync and codegen models and when we use the generated models it works fine.
[code]

But when we add in a connection directive on the asset it fails with this error.

[code]

Appreciate any input anyone can provide.

[2021-05-07 13:52] clickchainz opened #8239 "Social sign-in redirect to dynamic URIs"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-05-07 14:28] medelman17 opened #8240 "[IGNORE]: Testing Docs-Assistant Integration (#4)"
This is a faux-issue for bot-integration testing

[2021-05-07 14:28] medelman17 commented on #8240
/docs Add Content re: Docs-Assistant API and Usage (Test 3) $FeatureRequest $JavaScript

Issuing the /docs command above should create a new issue in aws-amplify/docs with the title 'Add Content re: Docs-Assistant API and Usage'. Words prefixed with $ should become issue labels. This whole bit will become the body of the newly created issue. Here goes nothing!

[2021-05-07 14:57] #8240 closed

[2021-05-07 14:58] medelman17 opened #8241 "[IGNORE]: Testing Docs-Assistant Integration (#5)"
This is a faux-issue for bot-integration testing

[2021-05-07 15:28] amhinson commented on #7679
@mikeRChambers610 Could you also share what version of `aws-amplify` you are using? We just published a new version yesterday that includes the changes for this issue.

@marziamura Could you describe what issue you are seeing with `expo:publish` as it relates to Amplify? Also, are you using the latest version of `aws-amplify`?

[2021-05-07 15:56] clickchainz opened #8242 "I am frustrated that redirect the user to the path which their originally landed on after social signIn"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-05-07 15:57] bmkennedy-hcg commented on #8011
I believe I am also experiencing this issue, or a similar one.  Our Cognito is configured to use two styles of login, a federated login through my company's SSO, and Cognito defined users I can log in to directly.
-With the users internal to Cognito using withSSRContext() works as expected
-With federated users authenticated by our SSO withSSRContext() never recognizes the logged in user.  current

[2021-05-07 16:22] chrisbonifacio commented on #8237
Good morning 👋 I see that you're using `amazon-cognito-identity-js` along with `aws-amplify`. If you don't mind, please try only using `aws-amplify` and the exported Auth object from it. Amplify already uses that cognito package to handle auth so just curious if they might be conflicting. Let me know if that makes any difference for you.

[2021-05-07 16:45] angusho1 commented on #3193
@snieves-mh Can I ask you the same question? Where you able to figure this out?

[2021-05-07 16:52] iartemiev commented on #6560
We've released a fix for this issue in aws-amplify@3.4.0.

For existing projects, you may need to set [this](https://docs.amplify.aws/cli/reference/feature-flags#codegen) CLI feature flag to `true` in `./amplify/cli.json`. Afterward, make sure you have the latest version of @aws-amplify/cli, and run `amplify codegen models`.

If the model is getting generated correctly, you will see a new `targetN

[2021-05-07 16:52] #6560 closed

[2021-05-07 16:56] sammartinez commented on #7251
Thanks for this feedback everyone, I am sharing this feedback with the Amazon Pinpoint team since they should handle this within the Service. Will provide an update early next week or once I hear something.

[2021-05-07 16:57] slaymance opened #8244 "Determine the need for Cognito userPoolId/region if an endpoint is provided"
**Is your feature request related to a problem? Please describe.**
As a follow-up to [PR 3507](https://github.com/aws-amplify/amplify-js/pull/3507), we should determine whether the `userPoolId` and/or `region` config values for `Auth` are required if the `endpoint` value is provided. If not, we should make those values optional if a valid endpoint is provided.

**Describe the solution you'd like**

[2021-05-07 17:05] rraczae opened #8245 "Adding @owner to an existing table (and running migration after schema update)"
**Is your feature request related to a problem? Please describe.**
We are trying to add `@owner` to an existing schema. We know which entry should be assigned to which user, question is how can we run a migration to achieve this?
This seems like a common scenario, is there a how-to somewhere? Should we manually do it, take down the app, do the schema update and then put the app back up?

**Describ

[2021-05-07 17:48] chrisbonifacio commented on #8207
Good afternoon :wave: would you mind trying to console log `users` and also wrap the query in a try/catch and console log the error you're getting if possible?

[2021-05-07 18:36] suhailsaqan commented on #8207
Hi 👋🏻. It does not return any user but throws an error. The error is `undefined`.

[2021-05-07 18:39] chrisbonifacio commented on #8207
I haven't been able to reproduce this issue in a React Native with the same amplify packages and versions.
Have you been able to successfully create users before trying to query for them?

This is my code

schema.graphql
[code]

App.js

[code]

[2021-05-07 18:43] sconway commented on #8158
Hi @iartemiev, this appears to be working for us. I have noticed a few rare instances where deleted items were still appearing in our application, but I have not been able to reproduce any of these cases. Going to close the issue for now, as the main issue we were seeing is now resolved. Thanks for looking into this!

[2021-05-07 18:43] #8158 closed

[2021-05-07 18:52] suhailsaqan commented on #8207
No it's the same thing when i try to create them. I created a user from the console though and that works normally.

It also tells me that there is no user session after logging in with Cognito. Is that normal?
![Screen Shot 2021-05-07 at 11 51 52 AM](https://user-images.githubusercontent.com/43693074/117495540-9fd5ac80-af2a-11eb-9cfb-1681a3672369.png)

[2021-05-07 20:35] chrisbonifacio commented on #8207
I don't think that's normal 😅 how are you logging in or using Auth in your project? If you're using Cognito user pools, I don't think you'd be able to make any requests if you're not properly logged in.

Would you mind sharing more of the code? I'm thinking there's probably an issue with the way our auth is set up.

[2021-05-07 21:31] suhailsaqan commented on #8207
This is the basics of my code. I am first using Cognito to sign in then querying the users data from the api.
[code]

[2021-05-07 21:33] BrianMagus commented on #5054
Has anyone found a workaround for this? It's sort of laughable that you'd have to query Parent A to get the ID and use that to query related Child B. Doesn't that sort of defeat the point of relations in the first place? Unless you can query related records, relations are basically just honorary.

[2021-05-07 23:14] EvanErickson commented on #8113
Still doesn't work. @brentvatne It gives me an auth error. I tried updating my expo cli and the package json but it still gives me problems. Any ideas?

[2021-05-07 23:15] reesscot commented on #2089
I am currently researching a solution to this issue. Thanks to everyone for posting detailed use cases.

[2021-05-07 23:41] sravimohan commented on #7085
This issue seems to be back with the latest releases and the previous work  work  around do not work any more.

`    "@aws-amplify/auth": "^3.4.9",
    "@aws-amplify/core": "^3.8.1",
    "@aws-amplify/interactions": "^3.3.30",
    "@aws-amplify/pubsub": "^3.2.7",
    "@aws-amplify/storage": "^3.4.0",
    "@aws-amplify/ui-angular": "^1.0.7",`
  ...

`import { AWSIoTProvider, PubSub } from '@aws-amp

[2021-05-08 00:02] kerbe commented on #8113
@EvanErickson I might not be best to help, but you could double check your installed version with this:
`npm ls --depth=2 | grep "amazon-cognito"`
It should print out:
`│ ├─┬ amazon-cognito-identity-js@4.6.1`
If that version is less than 4.6.1, then you still have old version installed, and needs to be updated.
You might need to add more information about your project, deps, etc and maybe even try

[2021-05-08 03:49] chrisbonifacio commented on #8207
Are you importing Auth from aws-amplify or from the amazon-cognito-identity-js package? If you are, we recommend importing Auth from Amplify and letting it take care of Auth. It uses the same cognito library under the hood but it will keep the logged in user in the same instance it will use to make the graphql calls.

[2021-05-08 04:05] suhailsaqan commented on #8207
Like this?:
[code]

[2021-05-08 05:09] JoeKlimcak commented on #8237
Hi Chris, thanks for taking a look at this.

I don't think that's the solution I'm afraid, as that seems to cause more errors. Namely, when I get to the login page and click 'SIGN IN', the screen shows 'Validate that amazon-cognito-identity-js has been linked', and according to [#7533](https://github.com/aws-amplify/amplify-js/discussions/7533), it's exactly because it wasn't included.

![Screensh

[2021-05-08 19:20] chrisbonifacio commented on #8237
Sorry, I should've asked if you were using Expo or the React Native CLI to set up the project. I saw it in the global dependencies and misread. The docs instruct to install the cognito package separately for the cli and not expo so you're right, it is needed in this case.

I will take this into consideration in my reproduction efforts. I apologize for the delay!

[2021-05-09 14:37] jcbdev commented on #6103
Soft deletes in the base table also seem totally unnecessary when every change exists in AmplifyDataStore table already? Surely this is enough to drive the sync mechanism alone? (and I'm sure it used to because I don't remember the _deleted field previously)

The more and more I think about this the more it completely breaks AppSync as a graphql api and turns it into a offline-first only product (

[2021-05-09 16:13] danrivett commented on #6103
I do agree that that Datastore approach is too homogeneous where it is designed to be used exclusively as the interaction mechanism for the whole AppSync service.

This causes us quite a lot of pain as of course we have backend interactions with the data that uses regular GraphQL queries and mutations and so then has to know about DataStore fields such as the `_deleted` flag and manually post proc

[2021-05-10 02:14] sacrampton commented on #6103
Hi @danrivett @jcbdev - thought I'd take a second to share how I hacked this to work.

Firstly, for my soft delete I've added a field to all my tables/models called "isDeleted" and updated resolvers to create this as false by default and I delete in my application by updating this to true. Then after a nominated period (say 30 days) can perform the delete function with a Lambda function.

But I al

[2021-05-10 06:32] sacrampton commented on #4695
Hi @elorzafe @waltermvp @subhendukundu

I have a large schema and if I remove all @connection (fields: []) relations them my schema works perfectly with DataStore and works brilliantly. As soon as I put in any @connection (fields: []) relations I get this topological error.

For the other side of the relation I have @connection (keyName: and that works fine. It is just when I add the other side th

[2021-05-10 08:27] jonasduever commented on #7188
Still an issue. Did not find a workaround yet.

[2021-05-10 08:42] JaroVDH commented on #5159
Sorry to bump this closed ticket, but that very same vulnerability is marked as an issue again for crypto-js versions **>=3.3.0 <4.0.0 || <3.2.1**.

Upgrading to a new major version might require a bigger effort though, so should I create a new issue for this?

[2021-05-10 16:11] #8116 closed

[2021-05-10 16:12] siegerts commented on #8239
Hi @clickchainz :wave: !  - Can you please reopen with the [feature request form](https://github.com/aws-amplify/amplify-js/issues/new?assignees=&labels=feature-request&template=2.feature_request.yaml), leaving the required fields.

Answering these questions helps other community members and users who may come across this add additional use cases, upvote (with [GitHub reactions feature](https://gi

[2021-05-10 16:12] #8239 closed

[2021-05-10 16:17] svidgen commented on #7916
@imoby, the changes from #8162 were published [late last week](https://www.npmjs.com/package/aws-amplify/v/3.4.0) and are expected to resolve this. Please update to the latest version and let us know if you're still having issues.

Thanks!

[2021-05-10 16:17] #7916 closed

[2021-05-10 17:46] sammartinez commented on #8242
@clickchainz Can you provide more information regarding this? Are you stating that following this [guide](https://docs.amplify.aws/lib/auth/social/q/platform/js#setup-your-auth-provider) you are being redirected to the `redirectSignIn` even with configuring a `redirectSignOut`? Please let us know

[2021-05-10 18:03] chrisbonifacio commented on #8207
Quick question: In your error log, you're getting "signIn MFA required", so the `Auth.signIn` probably isn't really signing you in. I think if you were to console log the `user` returned from it you'll see that there's a challengeName. It might be that your user doesn't have MFA setup yet.

[2021-05-10 18:37] suhailsaqan commented on #8207
Does SMS verification not count as MFA? Because when a user signs up it sends an SMS message and I use this to confirm the user:
[code]

[2021-05-10 18:47] vibe commented on #8011
Yup exactly, @bmkennedy-hcg  you hit the nail on the head. This is the common scenario we are also encountering.
For us, on initial sing-in redirect there is no authenticated user. So what we do is we fallback/redirect to a `callback` page route, which loads amplify client side, which then performs another client side redirect, and then and only then is the user authenticated.

It's a lame workaro

[2021-05-10 20:15] chrisbonifacio commented on #8207
That verification code is to verify the user's email/account. The MFA code is to add an extra layer of security to authenticating (logging in) the user. So, when they try to log in they need to also provide a security code from something like Google Authenticator.

There is `Auth.confirmSignUp` but then there is `Auth.confirmSignIn` which accepts the CognitoUser object from `Auth.signIn`, the MFA

[2021-05-10 20:55] chrisbonifacio commented on #8207
This is how I'm handling it in my reproduction code

After attempting to sign in, set up TOTP for the user with their CognitoUser from `Auth.signIn`, display the token to them (I set it to state to display for them)

[code]

The user should then take the token we gave them and use it in an app that generates one time passwords (I used the Google Authenticator browser extension for my reproduction)

[2021-05-10 20:59] Ashish-Nanda commented on #6031
Hi All,
The PR #8250 to migrate to the community version of AsyncStorage has just been merged to `main`
You will be able to test the changes on the @unstable tag later today. We'll update this thread as soon as its available.

We plan to release the this change in our next major version tomorrow.

[2021-05-10 21:04] suhailsaqan commented on #8207
Thank you! I'll try that now but I was trying to save the users information through the API to the database right after they sign up. How can I do it like that?

[2021-05-10 21:07] suhailsaqan commented on #8207
Do I just run the `confirmSignup` then `confirmSignin` then the API queries on signup?

[2021-05-10 21:17] Ashish-Nanda commented on #4272
The PR #8250 to migrate to the community version of AsyncStorage has just been merged to `main`.
Please refer https://github.com/aws-amplify/amplify-js/issues/6031#issuecomment-837332785 for latest updates on the release.

[2021-05-10 21:19] wlee221 commented on #5782
Hi all, I've opened #8243, which will include this workaround to `withAuthenticator` by default. We'll get this reviewed and merged this week.

I've also published the patch to `ui-preview` npm tag for testing purposes. Please note that you can use this tag to unblock yourself and try this out. Let us know if you catch any unexpected behaviors. Thank you!

[code]

[2021-05-10 21:39] vahdet commented on #8113
With my latest environment as shown in `details` section below, I could be able to sign in:

<details>

[code]

</details>

A quick note: merely running `expo start` command already emits the following which was the message I previously seen only after applying `EXPO_LEGACY_IMPORTS=1`:
[code]

[2021-05-10 21:39] chrisbonifacio commented on #8207
I would suggest using a Cognito Post Confirmation trigger to create the user in your API.
https://medium.com/hackernoon/how-to-add-new-cognito-users-to-dynamodb-using-lambda-e3f55541297c

[2021-05-10 22:06] EvanErickson commented on #8113
I ended up making a whole new project, whole new expo init, whole new
amplify init, etc. I then copied and pasted my code into the new one and it
works.

On Mon, May 10, 2021 at 2:39 PM vahdet ***@***.***> wrote:

--
Evan Scott Erickson
***@***.***

[2021-05-10 22:11] eddiekeller commented on #3524
Circling back to this issue - I've begun investigating this and want to clarify and narrow down the use cases here. Are you looking to primarily send up logs to CloudWatch from the "user" level, or are you also wanting to send the background Amplify logging that is happening?

[2021-05-10 22:40] chrisbonifacio commented on #6461
The more I've been working with MFA issues, the more I'm convinced this is not a bug.

Update on my previous comment: The reason I wasn't getting SMS codes was due to my particular type of aws account. So that wasn't the issue.

However, I have been able to use both SMS and TOTP to go through the whole MFA flow from end to end. This error only seems to occur when you attempt to perform an action l

[2021-05-11 00:21] HP4k1h5 commented on #3524
@eddiekeller  ; i've moved on at least temporarlily from this issue.

at the time, i was using amplify as an import to a Vue application, and wanted a default way to write error level log information (re login/account issues) to cloudwatch.

i never figured out if i was not integrated enough or not finding the right api's.
i was using amplify in addition to SAM (serverless application model) . Wit

[2021-05-11 01:03] rcCaregiven commented on #7944
I have a new theory I'm testing out. Hoping it's helpful to someone (or you can also test and we can share notes).

I followed [instructions from AWS Cognito docs](https://docs.amplify.aws/lib/auth/manageusers/q/platform/js#managing-security-tokens) to write my custom storage class. Here's the code they provide for `setItem()` and `sync()` with a couple of comments from me:

[code]

In my code, I

[2021-05-11 01:48] clickchainz opened #8251 "How to implement redirection to a dynamic route after federatedSignIn"
### Is this related to a new or existing framework?

React

### Is this related to a new or existing API?

Authentication

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

I am trying to access a link of our application but they are directed to home screen(default route) not the desired link after federatedSignIn. I found this document
https:/

[2021-05-11 03:03] aprilmintacpineda commented on #4940
Did it work for you? I've been trying to make this work, I have a rest API but when I make a post request to an endpoint from my `localhost:3000` it gives me cors error and I haven't found a solution yet.

[2021-05-11 03:55] andyautida14 commented on #3653
I had the same problem, but I solved mine by using 'iot:Data-ATS' endpoint type instead of 'iot:Data'. Basically, use 'wss://xx-ats.iot.ap-south-1.amazonaws.com/mqtt' (notice the added '-ats') for your aws_pubsub_endpoint.

[2021-05-11 05:03] chrisbonifacio commented on #8119
`Auth.confirmSignIn` is expecting three arguments - the CognitoUser (returned from `Auth.signIn`), the MFA code, and the mfaType (string of "SMS_MFA" or "SOFTWARE_TOKEN_MFA". Are you also passing all of these to the function?

[2021-05-11 05:13] chrisbonifacio commented on #4940
@kaden-weber ☝️

[2021-05-11 11:00] AndyW22 opened #8252 "Cache.getItem callback function doesn't exist"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-11 14:08] dennybiasiolli opened #8254 "Customizing `formFields` in amplify-confirm-sign-in is not working"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-11 15:27] emma3333 opened #8256 "Security vulnerability. Insecure Randomness affecting crypto-js package, versions >=3.3.0 <4.0.0 || <3.2.1"
### Describe the bug

Insecure randomness vulnerability brought in through `crypto-js`.

Affected versions of this package are vulnerable to Insecure Randomness. The secureRandom() method is supposed to return a cryptographically strong pseudo-random data string, but it is biased to certain digits. An attacker could be able to guess the created digits.

More information here: https://app.snyk.io/v

[2021-05-11 15:32] emma3333 commented on #5159
As this issue has been closed, I've created a new issue for this https://github.com/aws-amplify/amplify-js/issues/8256

[2021-05-11 16:01] kaden-weber commented on #4940
Yes, I was able to get my cors working by following the applicable directions in the links in this conversation. It was a fair amount of detective work though. I don't remember if I every used local host or if I just tested things while they were deployed.

Here's what my headers ended up looking like:

[code]

Hope that helps a bit.

[2021-05-11 16:10] rickygalliani opened #8258 "AuthError - Error: Amplify has not been configured correctly. (aws-amplify 3.4.0, auth 3.4.31, ui-react 1.1.0)"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-05-11 16:39] sammartinez commented on #8256
thanks for reporting this @emma3333, we will look to resolve this as soon as we can

[2021-05-11 16:40] ericclemmons commented on #7334
Sharing some prior research into this specifically:

https://github.com/aws-amplify/amplify-js/pull/5869#issuecomment-634932879

[2021-05-11 16:43] amcgregor101 opened #8257 "Native Crypto Module Error when Testing Amplify in Jest in a React App"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [x] I have done my best to in

[2021-05-11 19:31] hkjpotato commented on #7877
@FredrikMeyer Originally, withAuthenticator does not pass props to the wrappedComponent, after this pr https://github.com/aws-amplify/amplify-js/pull/8201 you should be able to specify the props type as follows.

[code]
Let me know if you need additional info on it.

[2021-05-11 19:45] rickygalliani commented on #8258
Thanks for the response.

I see this error when I remove the module level `dependencies` in `package.json`.

[code]

This is what I tested:

[code]

[2021-05-11 19:54] rickygalliani commented on #8258
Got it. I tried removing the `@aws-amplify/auth` from `package.json` dependency and the `Auth.configure()` call in the app code but still see the same error

[2021-05-11 20:28] hkjpotato commented on #6603
related https://github.com/aws-amplify/amplify-js/issues/7937. Feature request for supporting customized form field (other than Input)

[2021-05-11 20:34] tobias-g commented on #7679
@amhinson I was also seeing this issue and updating from `3.3.27` to `3.4.1` resolved the issue for me.

[2021-05-11 21:33] ErikCH commented on #8011
I was able to reproduce this today. As of now redirecting client side should be the best work around for this. This is caused by the way Amplify loads cookies inside the browser, and how it can detect if a user is logged in or not.

Amplify must load at least once client side after being redirected from a federated login before `getServerSideProps` can detect if the user is logged in or not.

To m

[2021-05-11 22:08] sacrampton commented on #4695
Hi @elorzafe @waltermvp @subhendukundu

https://github.com/aws-amplify/amplify-js/issues/4695#issuecomment-836244176

I have got to the bottom of my error. I am using AWS Cloud9 to run the Amplify CLI and the number of open files available by default is 4096 (ulimit -n). I increased this limit to 32,768 and this got rid of these errors.

The concerning thing I guess is that both amplify push and a

[2021-05-12 04:50] mir1198yusuf commented on #6212
I am stuck on this issue.

Is above possible to realize unconfirmed user. All I get is user not found while sign in and user already exist while signup ?

[2021-05-12 04:52] mir1198yusuf commented on #3679
Any solution to this issue ?

[2021-05-12 08:21] jsefiani commented on #678
This fixed my issue, thank you!

[2021-05-12 08:52] jsefiani commented on #678
Why is this issue closed?

[2021-05-12 09:09] marco910 commented on #8119
Hi @chrisbonifacio
Yes, I've passed three arguments to `Auth.confirmSignIn`. The problem is that `Auth.confirmSignIn` is expecting a session id/object inside the user object returned from `Auth.signIn`, but the value of `session` inside the user object is `null`.

[2021-05-12 10:14] apoorvmote commented on #8258
Should I open another issue? Because I am also have same exact error.

Before `package.json` Here everything is working
[code]
After update `package.json` Here I get error `Amplify has not been configured correctly`
[code]
There is literally no other difference. So in meantime I have pinned down version by removing `^` prefix until you fix the problem.

[2021-05-12 10:44] myfairshare commented on #8258
This has stopped me in my trax as well.  Have not had any Auth issues at all until this week, now I'm getting this error saying Auth not configured.  I updated to latest Amplify package, I notice in my @aws-amplify folder in node packages there is no Auth???  I notice there is no Cache either.  Should I roll back to a previous version?  I have configured as below from day 1 with no issues..

[code

[2021-05-12 10:47] apoorvmote commented on #8258
Yes see if you get error with older version. If not then its issue with new update.

[2021-05-12 11:07] myfairshare commented on #8258
Thanks mate, I have rolled back to 3.3.27 and my problem is resolved.  This version also seems to have all the core packages as expected, in the latest version 4.0.0 I was missing Auth, Cache and one or two others.

[2021-05-12 15:16] Ashish-Nanda commented on #6031
Hi All,
We released `aws-amplify@4.0.0` that uses the community version of AsyncStorage `@react-native-async-storage/async-storage`

Please take a look at the installation and setup instructions [here ](https://github.com/aws-amplify/amplify-js#amplify-4xx-has-breaking-changes-for-react-native-please-see-the-breaking-changes-below)

Closing out this issue now since the fix has been released.

[2021-05-12 15:16] #6031 closed

[2021-05-12 15:29] svidgen commented on #8139
@kenchoong, sorry for the delayed response. I have a PR out to add an example to the docs showing how to query M:M relationships. But, the long and short of it is that queries against M:M "joiner" models like this should *eagerly load related models*, so you can you `filter()` on those models directly.

In your specific case:

You would return the products by filtering on `order.id`, like so:

[co

[2021-05-12 15:33] nstilesm commented on #8096
I too recently have come across this error with AmplifySignIn and Amplify Signup. I used hideToast to hide the error message and added code to create my own error styling.

## Steps to recreate error

- Fill out form incorrectly, filling out only username and leaving password blank
- error message is returned saying password field is empty.
- Fill out missing password field
- error message is retu

[2021-05-12 15:44] ErikCH commented on #7865
Hi @wedreamer

To override sign-in you have to setup the prop on your sign-in like this.

`:handleSubmit.prop="signIn"`

Please try that, and let us know!

[2021-05-12 16:04] nstilesm commented on #6885
Still running into this issue where adding the below does not throw an error when the field is not filled out.
[code]

### Current Version
- @aws-amplify/ui-react 1.0.0
- aws-amplify 4.0.0

[2021-05-12 16:14] kenchoong commented on #8139
@svidgen yup.. this worked, I can confirm that. But the auth rules I think is still a problem, but that will be another issues

[2021-05-12 17:16] kenchoong commented on #8139
According to the auth rule u mention above, @svidgen , I using gatsby and I keep getting this error:

[code]

I totally no idea what is it.

This occured when I query the `Product` models above like this (when user not logged in):

[code]

with the @auth rule define above. Totally no idea what is it.

[2021-05-12 18:13] steveevers commented on #3623
@EJRosie this also resolved it for me. Thank you!

[2021-05-12 19:46] hkjpotato commented on #7410
#7564 styling customization issue

[2021-05-12 19:49] hkjpotato commented on #8010
related #7937

[2021-05-12 20:58] vitaliikravets commented on #7554
I upgraded @aws-amplify/ui-react to version 1.1.0 and still get this error. Is there a version where it is fixed?

[2021-05-12 21:04] iartemiev commented on #8139
Regarding auth, using multiple different authorization types (e.g., Cognito with IAM) was added in aws-amplify@3.4.0, so I'd make sure you're using that or a later version. You'll want to refer to this section of the docs: https://docs.amplify.aws/lib/datastore/setup-auth-rules/q/platform/js#configure-multiple-authorization-types

The "No current user" error could be happening because you're attem

[2021-05-12 22:46] DevTGhosh opened #8262 "DataStore can't query a model with contains predicate"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-12 23:13] houmark commented on #8258
We are also seeing an Auth error with the most recent versions of the libraries, so something broke in this minor release.

Specifically compiling with following error:

[code]

We were on:
`"aws-amplify": "^3.4.0"`, `"@aws-amplify/api-graphql": "^1.3.0"`, `"@aws-amplify/api-rest": "^1.2.31"`

And upgraded to:
`"aws-amplify": "^4.0.0"`, `"@aws-amplify/api-graphql": "^1.3.1"`, `"@aws-amplify/api-re

[2021-05-12 23:14] wlee221 commented on #5782
You're welcome! We just merged #8243 to support `withAuthenticator` -- you shouldn't need to update any code to use this workaround. This has some restrictions as stated before, but hopefully this will alleviate some of the accessibility pain while we work on the rewrite.

The fix will hit `unstable` soon and will be published in the next release cycle. We'll fix this issue more completely on our

[2021-05-13 00:21] cburkins commented on #5782
@wlee221  Thanks !   Tested with native Chrome autofill, and seems to work !   Am I correct in saying that this won't currently work within 3rd party password managers like LastPass ?   Doesn't seem like it works.....

[2021-05-13 00:25] cburkins commented on #3544
This is a shame, as I have a similar/same request.  I'm essentially creating a family-only website, and as such, want to have admin approval required on any new accounts.

[2021-05-13 01:59] wlee221 commented on #5782
Right, this workaround is intended for browser password managers.

Support for third party password manager really depends on their implementation and whether they can transverse through the top level shadow DOM or not. For instance 1password supports shadow DOM ([discussion](https://1password.community/discussion/79137/shadow-dom-polymer-forms-do-not-fill-companion-extension-v4-7-4-now-supports-s

[2021-05-13 02:42] sacrampton opened #8263 "DataStore Codegen Models are not topologically sortable"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-13 07:22] kenchoong commented on #8139
@iartemiev IT WORKS!!! Thank you very much

[2021-05-13 08:19] mm-git opened #8264 "DataStore syncExpression with boolean value cause local IndexedDB version back"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-13 09:45] tomerkob commented on #8215
@chrisbonifacio  it's hard for us at the moment to update to the recent version, since there are breaking changes.
so for now, we've forked your repository only for auth packager use and changed only the throw action to throw the actual error only if the error thrown is not  "No current user". and in our app de we're overriding auth package with our forked one. we are in the middle of testing it o

[2021-05-13 11:12] ClaudioVR commented on #5782
@wlee221 Regarding what you said: "you shouldn't need to update any code to use this workaround"...

does this also stand for Vue.js?

[2021-05-13 11:14] elephi commented on #8262
Yes I got a similar issue.

When
1. there is a field in the model is a List []
2. one of the records has a empty list

the Datastore.query which is using 'contains' will cause an error with different hint in different browser :

**Cannot read property 'indexOf' of null** in Chrome
**TypeError: value is null** in Firefox

[2021-05-13 11:53] iartemiev commented on #8139
I'd need to see the app code for the components that get rendered in your `/item/product-id` view to get a better idea.

If this is only happening the first time a user is navigating to this view, most likely DataStore hasn't finished syncing data to the local store at the time you're calling `DataStore.query`. All DataStore operations (e.g., `save`, `query`, `observe`, etc.) are performed against

[2021-05-13 13:05] kenchoong commented on #8139
@iartemiev Your code WORKS!!!!!!! FINALLY IT WORKS!!!
THANK YOU VERY VERY MUCH

[2021-05-13 13:06] sacrampton commented on #8263
Through more trial and error, this schema seems to work. Just 2 connections causing the issue.

[code]

[2021-05-13 13:08] iartemiev commented on #8139
@kenchoong that's great to hear! Are you ok with us closing this issue?

[2021-05-13 13:09] kenchoong commented on #8139
@iartemiev yup.. you ok to closing this..

[2021-05-13 13:09] #8139 closed

[2021-05-13 13:15] myfairshare commented on #8262
Have the same issue, a real pain it is.

[2021-05-13 13:15] Josh-McFarlin commented on #2924
Also interested. Has anyone found another way to integrate them?

[2021-05-13 13:15] healthpraxone commented on #8258
Same error when I upgrade to latest aws-amplify 4.0.0
./node_modules/@aws-amplify/api/lib-esm/API.js Module not found: Can't resolve '@aws-amplify/core' in 'node_modules/@aws-amplify/api/lib-esm'

[2021-05-13 13:17] elephi commented on #8262
My temporary solution:
Add a dummy item to the list when initialize the record

[2021-05-13 13:47] myfairshare commented on #8262
Will try that, thanks for the tip elephi!

[2021-05-13 14:17] thiagohirata opened #8265 "Support using IdentityPool with UserPool from different AWS regions"
### Is this related to a new or existing framework?

_No response_

### Is this related to a new or existing API?

Authentication

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

`core/Credentials._setCredentialsFromSession` only work when both UserPool and IdentityPool are located in the same AWS region. I have a use case where both are loca

[2021-05-13 16:04] chrisbonifacio commented on #8257
Hmm, I didn't have to eject from my CRA to run jest in a node env. All I did was add a "jest" property to my package.json like this

[code]

I'm also able to simply change it to "jsdom" or remove it to go back to default (jsdom)

Here's a test project I made with both jest (node env) and cypress in CRA: https://github.com/chrisbonifacio/amplify-issues/tree/dev/6461-auth-mfa

You should still be ab

[2021-05-13 16:37] rudyhadoux commented on #4387
Same problem with Angular.

[2021-05-13 17:25] chrisbonifacio commented on #8257
@amcgregor101 Oh, I see what you mean. I just tried in a new CRA project and got the warning about having to eject.

<img width="1158" alt="Screen Shot 2021-05-13 at 1 22 00 PM" src="https://user-images.githubusercontent.com/16952986/118161960-33f1b900-b3ee-11eb-9960-fcc043f5e84a.png">

Looks like the other thing I did was just replace the "test" script to use jest instead of "react-scripts"

[cod

[2021-05-13 17:28] wlee221 commented on #5782
@ClaudioVR, No let me clarify this a little bit.

- React
  - If you're using `withAuthenticator` HOC, no code change is needed.
  - If you're using `<AmplifyAuthenticator />` directly, wrap it with `AmplifyAuthContainer` like so: https://github.com/aws-amplify/amplify-js/issues/5782#issuecomment-828763711.
- Angular / Vue
  - You need to wrap around your `amplify-authenticator` component with `am

[2021-05-13 17:32] fosrias commented on #5782
@wlee221 Just to be crystal clear in this thread, is the re-write being done to accommodate a broad variety of password managers or not? Thanks.

[2021-05-13 17:47] wlee221 commented on #5782
It will. The rewrite will stick with the best html practices to support a broad variety of password managers, which really boils down to not using shadow DOM.

[2021-05-13 18:21] rudyhadoux commented on #7260
@jiyoon-koo What is the file we must change for the workaround please ?

[2021-05-13 18:26] chrisbonifacio commented on #8257
Going to close this as it's not a bug, Auth just needs to be tested in a node environment. In a jsdom environment, probably better to test your ui components and how they render according to the changes in your auth state.

Also, I'm not sure if you would be able to immediately sign in after signing up because the email has to be confirmed for the user to log in. So, might be better to split up si

[2021-05-13 18:26] #8257 closed

[2021-05-13 18:34] jiyoon-koo commented on #7260
@rudyhadoux the workaround was implemented in `webpack.config.ts` under `rules` section, like this

[code]

[2021-05-13 18:36] rudyhadoux commented on #7260
Thanks but there is no webpack.config.ts in an Angular app ?

[2021-05-13 18:52] raghavgoel1994 opened #8268 "User can never login if MFA is enabled and wrong phone number is entered in sign-up"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-13 19:24] enriqueavg commented on #3039
Hi all,

This is my version: @aws-amplify/pubsub 3.2.27

I see that current version is 3.3.1, but I'm not sure if this version fix the reconnect issue.

Thanks.

[2021-05-13 19:36] chrisbonifacio commented on #8257
One more thing, since I just finished asking the team about this. We recommend mocking the Auth methods when writing unit tests. Otherwise, Cypress is definitely the goto for testing auth flows, we even include data-test-id attributes in our ui components if needed 😄

[2021-05-13 20:37] chrisbonifacio commented on #8119
What does the user object look like from the `Auth.signIn` response?

[2021-05-13 22:07] KlodAyzak commented on #7547
@bobbyhadz, do you have any example to share? I have the same issue and I am not able to solve it it.

[2021-05-14 00:16] NikolaBo commented on #5935
I am getting this same invalid_grant returned when trying to obtain a token. My exports are set up by cli and I tried removing scope before configuring). I've also checked and only one network request is made.
It's killing me, my auth is functioning as expected when running locally but hosted app is getting invalid_grant when amplify requests token. Not sure why there would be difference between l

[2021-05-14 00:27] reesscot commented on #2089
Quick update on this issue. I've tested @ilyalukyanov's [solution](https://github.com/aws-amplify/amplify-js/issues/2089#issuecomment-622331432) above, and I'm seeing that it correctly links the guest identity to the new login created at signup. One caveat to this solution is that [signOut](https://github.com/aws-amplify/amplify-js/blob/main/packages/amazon-cognito-identity-js/src/CognitoUser.js#L

[2021-05-14 00:58] juancpgo commented on #7865
Does that work for web components too?

(meaning: I'm not using any of the typical frameworks, only the "bare" web component)

[2021-05-14 01:23] #7370 closed

[2021-05-14 01:23] juancpgo commented on #6111
How can I customize the Auth.signUp call using the web components?

(For example, I want to create the username for the user and sign up with that. The user will fill the email, which will be an alias.)

[2021-05-14 01:28] juancpgo commented on #5480
I need to setup a custom `handleSubmit` function for the case of web components (no framework).

I need to create a custom `username` for the user in the background during sign up. The user will fill out an email, which will be an alias.

Can anyone help me with that?

[2021-05-14 01:41] chrisbonifacio commented on #7370
I get this error when I use `import API from "@aws-amplify/api-rest"`
Fixed it with `import { API } from "@aws-amplify/api"`

[2021-05-14 02:13] NikolaBo commented on #4095
I am seeing the same issue with Auth.federatedSignIn on latest amplify, amplify not resolving granted code

[2021-05-14 02:31] iartemiev commented on #8256
We've upgraded to CryptoJS@4.0.0 as part of [aws-amplify@4.0.1](https://www.npmjs.com/package/aws-amplify/v/4.0.1)
The previous major version will be patched as well tomorrow (3.4.2 -> 3.4.3)

[2021-05-14 02:31] #8256 closed

[2021-05-14 02:45] DeniferSantiago commented on #8195
I am using the module:
`import { Auth } from "aws-amplify";`
I am getting:
[code]
I work in React Native.

[2021-05-14 03:53] bobbyhadz commented on #7547
@KlodAyzak the next.js `Image` component is currently not support when deploying with amplify

[2021-05-14 06:51] cnorthwood commented on #5935
That sounds like a different issue to me. Perhaps you're not configuring your callback URL correctly or it's not on the whitelist? But it doesn't sound like it's this bug

[2021-05-14 07:00] NikolaBo commented on #5935
Yea I guess it must be something else if it works locally. By whitelist do you mean like authorized redirects with my oauth provider?
I think I've actually narrowed it down to Amplify not handling the auth response correctly, as the sign in request actually goes through correctly initially.

[2021-05-14 07:02] cnorthwood commented on #5935
No, the callback URL settings of your Cognito user pool, rather than OAuth. And yeah this is definitely different as this bug was originally only affecting SAML not OAuth

[2021-05-14 07:07] NikolaBo commented on #5935
Ah yea it is probably different I got confused. Cognito callbacks look right this is trickier than that.

Thanks regardless!

[2021-05-14 08:01] damogallagher commented on #4387
@rudyhadoux was this problem introduced for you when you upgraded to Angular 12?
For me this was all working fine before I did the Angular upgrade so any help with resolving this would be much appreciated

[2021-05-14 08:04] JoeKlimcak commented on #8237
Hi @chrisbonifacio, may I ask if there are any updates please? Unfortunately this issue is delaying the release of our app.

[2021-05-14 08:09] rudyhadoux commented on #4387
Yes indeed.
Angular developer gave me this answer :
**In .mjs files or .js files with a package.json with "type": "module" imports need to be specified with an extension.
In Webpack 4, this was not enforced since this was still an experimental feature in Node.JS, however since now this is a standard it is being enforced and error out when encountered incorrect packages.**

[2021-05-14 08:14] rudyhadoux commented on #4387
This issue should not be closed.
No webpack config in an Angular 12 web app.
It is a problem of library, like aws-amplify.

[2021-05-14 08:17] rudyhadoux commented on #4387
The only workaround yet is to downgrade.
npm i -g @angular/cli@11.2.13

[2021-05-14 08:18] damogallagher commented on #4387
@rudyhadoux yes it looks like the amplify libs use version 4 of webpack and the webpack config hasnt been touched in 2 years - https://github.com/aws-amplify/amplify-js/tree/main/packages/api

[2021-05-14 08:20] rudyhadoux commented on #4387
@damogallagher Exact.

[2021-05-14 08:30] marco910 commented on #8119
@chrisbonifacio

Unfortunately, I don't have an example user object to show to you, but what I have in mind is that it looked "normal and correct". But the value for `session` was `null` and there were also no challenge names or params.

[2021-05-14 11:18] ashleyoldershaw opened #8274 ""Invalid phone number format" when adding MFA phone number with dropdown"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-14 11:18] ashleyoldershaw commented on #8274
Hi there,

I didn't respond to some of the questions because they didn't seem relevant, but if you need them let me know and I'll put them on there ASAP.

Thanks,
Ash

[2021-05-14 13:13] vinimontanheiro commented on #555
Many lost days and a lot of embarrassment with our customers. Cognito is an AWS cancer. Libraries with bugs and nothing works as expected. We solved all our problems in two days, after migrating to Firebase.

[2021-05-14 13:16] vinimontanheiro commented on #555
Many lost days and a lot of embarrassment with our customers. Cognito is an AWS cancer. Libraries with bugs and nothing works as expected.

[2021-05-14 13:35] juancpgo opened #8275 "Struggling with handling the handleSubmit event"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-14 13:55] mrcportillo commented on #2924
@Josh-McFarlin I ended up using the standard web socket interface and generating the signature from `amplify` session in order to authenticate the WS connection.

[2021-05-14 14:49] chrisbonifacio commented on #8274
So does it seem like the country code is not being applied to the phone number before it is sent to cognito?

[2021-05-14 14:51] ashleyoldershaw commented on #8274
That's what I'm thinking, yes :)

On Fri, 14 May 2021, 3:49 pm Chris Bonifacio, ***@***.***>
wrote:

[2021-05-14 15:01] sammartinez commented on #8251
Hello @clickchainz, there is a [guide](https://docs.amplify.aws/lib/auth/social/q/platform/js) to our Social Sign In workflow. Please look at our documentation site, specifically around using [Custom State](https://docs.amplify.aws/lib/auth/social/q/platform/js#setup-frontend). Hope this helps!

[2021-05-14 15:02] #8251 closed

[2021-05-14 15:06] rudyhadoux commented on #4387
The problem is here :
https://github.com/graphql/graphql-js/issues/2721

[2021-05-14 15:12] damogallagher commented on #4387
I know in graphql is where the error is manifesting itself but this lib was working 100% up until the Angular 12 upgrade. Should it be on angular to provide a way to override the webpack configuration so that the workaround does indeed work?

[2021-05-14 15:18] rudyhadoux commented on #4387
They could provide a workaround but it seems that it is not their problem.
Graphql-js should adapt their configuration for Webpack 5.

[2021-05-14 16:10] signal-intrusion commented on #7499
My silly workaround for a static site with some TypeScript, but without Webpack was to import the entire library into my "main" file:
[code]

[2021-05-14 16:32] clickchainz commented on #8251
Hi I tried the code as in the document,

 Hub.listen("auth", ({ payload: { event, data } }) => {
      switch (event) {
        case "signIn":
          this.setState({ user: data });
          break;
        case "signOut":
          this.setState({ user: null });
          break;
        case "customOAuthState":
          this.setState({ customState: 'xyz' });
      }
    });
Auth.federatedSignI

[2021-05-14 16:33] cybercussion commented on #7744
Which files are we editing here to put either the rules or the resolve snippets in?  There are like a billion config files lol

[2021-05-14 16:37] manueliglesias commented on #8251
Hi @clickchainz

I think you need to pass an object to `customState`, not just a string. Then you should be able to read it inside the `Hub` listener for the `customOAuthState` event.

[code]

[2021-05-14 16:45] juancpgo commented on #5480
Will this work for the web components version of Amplify UI Componets??

[2021-05-14 17:09] raybotha commented on #7588
Did you figure out why you got the `TypeError: Cannot read property 'namespaces' of undefined` error? I'm experiencing the same error randomly after login with the aws-amplify package, and I only have `aws-amplify@4.0.0` as a dependency.

[2021-05-14 17:42] chrisbonifacio commented on #8274
Okay, I will try and reproduce this issue and see if I can figure out what might be happening here. Thank you!

[2021-05-14 17:50] clickchainz commented on #8251
Hey  @manueliglesias

Thank you!  I tried it, and  I got error and it makes the signIn button is not clickable.
![Screen Shot 2021-05-14 at 1 47 29 PM](https://user-images.githubusercontent.com/35280936/118309343-20605400-b4bb-11eb-92f1-1ee47a8f2b22.png)

[2021-05-14 18:00] my-name-is-nheo opened #8277 "API does not exist."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports). (found similar issues, but diff

[2021-05-14 18:07] iartemiev commented on #8256
CryptoJS has now been updated in the previous version of aws-amplify as well ([aws-amplify@3.4.3](https://www.npmjs.com/package/aws-amplify/v/3.4.3))

Thanks again, @emma3333!

[2021-05-14 18:12] reesscot commented on #2089
@jakemitchellxyz and @salimhamed Are you still having issues with logged in users assuming the `unauth` role instead of the `auth` role? I'm unable to reproduce, and it seems like it might be a different problem than the primary ask of this issue, which is [preserving guest identity id on signup](https://github.com/aws-amplify/amplify-js/issues/2089#issuecomment-448762522). From my understanding a

[2021-05-14 18:14] WeatherGod commented on #8091
Ok, I think I have made a bit of headway in this. For some reason, and I am still not 100% on this, the problem is coming from whatever the version strings are in `prackage.json` for the three aws-amplify sub-modules. Even though they are set as being "at least" (e.g. - "@aws-amplify/auth": "^3.4.17"`), it apparently makes a difference what this is set to for clean installs and upgrades. That does

[2021-05-14 18:21] ashleyoldershaw commented on #8274
Thanks Chris, let me know if there's anything I can do to help :)

On Fri, 14 May 2021, 6:43 pm Chris Bonifacio, ***@***.***>
wrote:

[2021-05-14 18:40] chrisbonifacio commented on #8252
Seems like if you console log the resolved promise, you get the value back but an empty object is being set as the value in the cache.

[2021-05-14 19:22] davidrekow commented on #8258
Seeing the same console error as in the original report after micro update from `@aws-amplify/auth` `3.4.31` to `3.4.32`. That changeset updates the version of `@aws-amplify/core` required by the auth module to latest `4.0.0`, which when installed seems to override the version of `@aws-amplify/core` my project uses (`3.8.23`).

Auth configuration code that is by-the-docs and has been working for m

[2021-05-14 19:46] houmark commented on #8258
At best this is SemVer violations. But more likely it's broken code or missing documentation on changes. And AWS devs are silent :/

[2021-05-14 21:14] xnf commented on #8277
Have you tried restoring env from the cloud?
`amplify env pull --restore`

[2021-05-14 21:28] xnf commented on #8275
I cannot answer about hooking into the submit payload (AFAIU handleSubmit is an alternative way and not a pre-hook or pre-action or pre-other).

But I had a similar task for auto-generation of a username and I solved it by using the [custom fields feature](https://docs.amplify.aws/ui/auth/authenticator/q/framework/angular#custom-form-fields). Like this:
[code]

[2021-05-14 22:05] juancpgo commented on #8275
@xnf Interesting.. but I suppose this will make the username visible in the form, just as a disabled (uneditable) field, right?

The solution I'm looking for is to auto-generate the username in the background, but also hide it from the user. The user will only sign up and sign in with their email.

Did you use just "pure" web components in your solution or did you use some framework, like Angular?

[2021-05-15 01:14] DeniferSantiago commented on #6444
I found a solution, I was hopeful on the @leosoaivan  comment but it didn't work for me.

I became agnostic to cognito attributes as federated entity users couldn't set them. Two weeks later I saw the need to update the auth module amplify update auth in the process it allowed me to choose the scope (something that did not appear when adding Facebook and Google as entities for my users) among whic

[2021-05-15 02:28] DeniferSantiago commented on #5522
I'm in the same problem, it is vital for me to pass `validationData` for a function that runs in pre-signup and I also have federated users from Facebook and Google.

[2021-05-15 03:21] my-name-is-nheo commented on #8277
I did but it didn't work. My only solution was to start new a project and copy the files over. Do you know why it's causing this issue?

[2021-05-15 03:34] chrisbonifacio commented on #8252
Try changing your code to this

[code]

The callback should not return a promise, `getItem` doesn't handle async functions.

[2021-05-15 03:49] nathanagez commented on #5384
I have the same issue
amplify cli version: 4.50.2
@aws-amplify/analytics version: "^4.0.20"

[2021-05-15 03:53] chrisbonifacio commented on #8277
Would you mind sharing your package.json? Just would like to see which amplify packages and versions you might be using.

If you have some code snippets of how you're using API? In the error you shared it looks like it's saying the endpoint you're trying to make requests to doesn't exist.

[2021-05-15 04:01] chrisbonifacio commented on #6444
If someone else experiencing this issue can also try running 'amplify update auth' and add the scopes through the cli, please let us know if this fixes the issue for you.

[2021-05-15 05:02] my-name-is-nheo commented on #8277
[code]

[code]

[2021-05-15 06:53] DeniferSantiago commented on #6444
@chrisbonifacio  I already did the tests and I was able to make it work.

In testing I noticed that I still couldn't set custom attributes. So I did another test, went to cognito and turned on reading and writing of my custom attribute but this didn't work. Then I went to the parameters.json file of the Auth module and manually added my attribute in the keys "userpoolClientWriteAttributes" and "us

[2021-05-15 07:11] DeniferSantiago commented on #6444
I will discuss some issues that I have had while working and testing this.

Every time I updated the Auth module, I broke my authentication with Facebook and Google, because it deconfigured the "app client settings" so I had to modify it directly from cognito:

![image](https://user-images.githubusercontent.com/41799285/118351294-2725b000-b529-11eb-9b6e-b20b2da3ea2f.png)

 In addition, `"LambdaCon

[2021-05-15 07:18] DeniferSantiago commented on #6444
In summary the solution is to add _"aws.cognito.signin.user.admin"_ with `"amplify update auth"` selecting _"Walkthrough all the auth configurations"_ and in case of having custom attributes add them manually to `"parameters.json"` in the Auth module

[2021-05-15 08:59] #7941 closed

[2021-05-15 09:20] AndyW22 commented on #8252
thanks that seems to fix it, would be great if amplify supported async functions for this as i imagine most of the time people will be adding data returned from an async function to the cache. This does work the long way (getting cache, checking if its null, getting the data, then setting that as the cache) since the cache itself doesn't involve any async functions then.

[2021-05-15 12:23] nathanagez opened #8279 "Analytics: Kinesis not sending data when using modular imports"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-15 17:34] iartemiev commented on #8279
We generally don't recommend installing the `@aws-amplify/*` dependencies manually. When importing from `aws-amplify`, any unused modules should get tree-shaken by your build tool.

If you nonetheless want to use the modules piecemeal, make sure that you're not installing duplicate Amplify npm dependencies. Looking at the environment info you provided, you have `@aws-amplify/analytics` as well as

[2021-05-15 18:43] chrisbonifacio commented on #8277
Can you also share the error you're getting either from the console and/or network tab?

[2021-05-15 21:40] nathanagez commented on #8279
Hi @iartemiev, thank you for the quick response!
My bad concerning the conflicting packages, I just added it to prepare the issue reproduction but even without `aws-amplify` package installed, it was not working as expected.

I followed your first approach:

[code]

Here are the DEBUG logs:

[code]

[2021-05-15 22:01] #8279 closed

[2021-05-16 01:44] viprocket1 commented on #2965
Hey everyone,
is this issue resolved yet , im facing the similar problem. my file size is 75MB. My app closes when i click on upload.
Thank you.

[2021-05-16 05:42] matheus-rn commented on #6494
Any correction prediction?

[2021-05-16 08:32] jazu-dev commented on #8277
Hello, I'm facing the exact same issue but for web, getting `API apib3ff6150 does not exist` with no API request being sent when using `API.get('apib3ff6150' ... )` and no errors (using latest amplify libraries and CLI)

[This SO thread](https://stackoverflow.com/questions/65196042/aws-amplify-rest-api-cannot-find-the-api) suggests trying to separately configure API with `Auth.configure(awsconfig)

[2021-05-16 09:31] KeKs0r opened #8280 ""client_id, client_secret and authorize_scopes are all required idp details" after adding Admin UI"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-16 10:54] edoardo849 commented on #4387
A possible workaround is to use the `@angular-builders/custom-webpack` extension which uses webpack 4

[2021-05-16 11:35] rudyhadoux commented on #4387
Is it possible with Angular 12 ?
And how ?
Documentation would be appreciated.

[2021-05-16 12:52] edoardo849 commented on #4387
Yes, I've tested it and it works... at the moment. The documentation for `custom-webpack` mentions that only Angular CLI 11 is supported but it seems compatible with Angular 12.

Steps:

[code]

Edit `angular.json`

[code]
No need to actually add a custom webpack config file, but if you do want it, follow  [the documentation](https://github.com/just-jeb/angular-builders/tree/master/packages/custom

[2021-05-16 12:53] rudyhadoux commented on #4387
Thanks.

[2021-05-16 13:59] cybercussion commented on #7185
So with Angular is this solved by creating yet another config.json file?

[2021-05-16 14:15] cybercussion commented on #7260
Based on what I'm reading after going from Angular 11 to Angular 12 I apparently need to now do some custom Webpack config in order to make ll these problems go way?  Why wouldn't they just expose the base webpack config?  Why would they leave you poking around like this?

[2021-05-16 14:18] rudyhadoux commented on #7260
Because Angular 12 uses Webpack 5.
Angular 11 = Webpack 4.

[2021-05-16 14:26] cybercussion commented on #7260
Would have been handy if they left a base config to work with.  I have no idea what the default settings for Angular are.

[2021-05-16 14:28] rudyhadoux commented on #7260
In fact the problem is not Angular 12, but graphql-js is not well-configured for webpack 5.

[2021-05-16 14:42] cybercussion commented on #7260
Thanks I'll take a look at this https://medium.com/angular-in-depth/customizing-angular-cli-build-an-alternative-to-ng-eject-v2-c655768b48cc since it seems to align with the customization/fix to try this out in a branch.

[2021-05-16 18:14] ajberasategui commented on #5161
May 2021, this is still happening. Did anyone ever find a way to make it work or a workaround? Or are we forced to query model relationships by ourselves by querying each model separatedly?

Thank you in advance, any advise is welcome.

[2021-05-16 18:55] mmjp-rusty commented on #399
Am I understanding correctly, that we are expected to call Auth.federatedSignIn() TWO times during the course of an authorization or implicit grant flow?

Meaning once to initiate the flow, and then again after a few page redirect /reload cycles on "Hub" event "signIn", to populate the user info?

User -> Client App: Click Sign In
Client App  -> Client App  : Auth.federatedSignIn(/* no args, or ma

[2021-05-16 22:54] mmjp-rusty commented on #399
The issue for me was either an invalid cookieStorage config or missing, incompatible or out dated dependencies.

Regarding the dependencies:

My "aws-amplify" version was old (2.x.x.), despite having been installed recently. This may be the result of following a tutorial to the letter on initial setup. I'm doing rapid prototyping of this application and hadn't done a thorough audit of all of my de

[2021-05-17 00:28] hkjpotato commented on #6760
@adamkowalczykB2M  Thank you for opening the issue. Would like to get some more info about your setting:
Have you configure `Amplify` before you use the `AmplifyAuthenticator`?
1. when you configure Amplify by `Amplify.configure(awsExports);` you will also add configuration to the [`Auth` instance created](https://github.com/aws-amplify/amplify-js/blob/main/packages/core/src/Amplify.ts#L72).
2. Th

[2021-05-17 02:17] dsypniewski commented on #7983
I'm having the same problem while trying to use @aws-amplify/api-graphql package in lambda with IAM authentication.
After some code hunting it seems to me that handling of AWS_IAM credentials from AWS.config.credentials was lost with version 761a88433d7d49e2cf5d3ae81b12bc40060957fa while this version a047ce73abe98c3bf82e888c3afb4d2f911805f3 still had code responsible for reading credentials from A

[2021-05-17 03:35] MuhammadAbdullah54321 commented on #2233
from what I have tried, it is not solved even with pagination.

[2021-05-17 04:47] jarrodwatts commented on #7824
Any update on this? Seems like you are currently unable to use `email` as the `identityClaim` using Next JS

[2021-05-17 06:00] sacrampton commented on #8263
This issue was the same one as #7439

[2021-05-17 06:00] #8263 closed

[2021-05-17 09:00] rmi-01 commented on #3933
Hi guys, any progress on this issue.
I've partially solved my problem by using this piece of code
`window.location = https://${AUTH_DOMAIN}/logout?client_id=${cognito_client_id}&logout_uri=https://localhost:3000/register`
But, it seems to only work in Google Chrome and not in Edge, Firefox or any other browser.
Does anybody found a proper solution for this?
Thanks!

[2021-05-17 11:04] Amaanuddin commented on #3933
@rmi-01 I have tested the code in all the browsers mentioned except safari and it's working.

[2021-05-17 12:51] #8222 closed

[2021-05-17 13:17] chrisbonifacio commented on #8277
I would try to follow the instructions here to check for duplicate packages.
https://docs.amplify.aws/lib/troubleshooting/upgrading/q/platform/js

 It might help to either make sure all the packages are up to date or remove any of the scoped packages if you have `aws-amplify` installed. You can still use the scoped packages by importing them from there instead.

[2021-05-17 13:47] chrisbonifacio commented on #8252
Might be a good feature request or topic for discussion! And no problem, glad we could help 😄

[2021-05-17 13:47] #8252 closed

[2021-05-17 13:55] dennybiasiolli commented on #7241
@jssuttles sorry for the late reply, I just got here searching for a solution.
As a temporary solution I added a `v-if="user"` in this way this:
[code]

Tricky thing to do, I think they need to fix that, or al least improve the documentation because the `user` prop is not marked as required, nor the `v-if` thing.

[2021-05-17 13:58] chrisbonifacio commented on #8280
Good morning! This sounds like more of a cli issue so I'm going to transfer this over to that repo so the right people can take a look at it.

[2021-05-17 14:27] iartemiev commented on #7714
Hey @meducati, we've merged a PR that fixes this bug and the fix is available in `aws-amplify@4.0.2-unstable.5+3abfb8fc6`. It will be included in our next release.

[2021-05-17 15:15] ErikCH commented on #7682
@oliverschenk Looks like this has been resolved in [7636](https://github.com/aws-amplify/amplify-js/issues/7636). Please let us know if it doesn't.

[2021-05-17 15:54] myfairshare commented on #8262
Thanks again for that, feeling a bit silly now.  Totally forgot to take into account my search was searching instances that might be null, all good now!!!

[2021-05-17 15:58] myfairshare commented on #7996
Ok so this was my own fault.  I totally forgot to take into account that some instances of a model I was searching contained null for the field I was querying by.

[2021-05-17 15:58] #7996 closed

[2021-05-17 16:06] DevTGhosh commented on #7996
@myfairshare what is your solution? adding a dummy value to all items of the field instead of null?

[2021-05-17 16:15] myfairshare commented on #7996
Yes I made a function to loop through all instances of the object and updated the offending field (invitedEmails) with a dummy value.
So now my invitedEmails field equals ['dummy@gmail.com'] instead of 'null' which was breaking my my search previously.

Also when creating any future instances I also have: invitedEmails: ['dummy@gmail.com'] to save me having to run the update function again in futu

[2021-05-17 16:18] DevTGhosh commented on #7996
Yeah, I was also thinking of doing the same. This is still not a solution though it is a hack, `contains`  should work the same as `Array.includes()` and handle stuff like  `null` and `[]` .

[2021-05-17 16:58] jazu-dev commented on #8277
Indeed I was using both scoped and non scoped versions of aws-amplify with discrepancies in the versions. After addressing that API requests are working correctly for the web, thanks! 🙏

[2021-05-17 16:59] svidgen commented on #8113
Sounds good. Thank-you!

[2021-05-17 16:59] #8113 closed

[2021-05-17 17:32] chrisbonifacio commented on #8277
@jazu-dev Awsome! Happy to hear that 😄

@my-name-is-nheo Please let me know if this works for you as well. I don't want to close this issue until we find out if it works for you in case the cause might be different.

[2021-05-17 17:33] my-name-is-nheo commented on #8277
@chrisbonifacio Yup that helped a lot thanks!

[2021-05-17 17:36] #8277 closed

[2021-05-17 17:37] chrisbonifacio commented on #8277
Thanks for the quick reply! And anytime 😃 Have a great week!

[2021-05-17 18:24] vydhi-v opened #8284 "Datastore selective sync parsing expression incorrectly"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-17 19:29] chrisbonifacio commented on #8119
Are you still running into this error or unable to reproduce it consistently?

[2021-05-17 20:17] cybercussion commented on #4387
Thanks @rudyhadoux  and everyone for running this down.

[2021-05-17 20:41] sacrampton opened #8285 "DataStore cannot find ID field of connected record"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-17 20:55] damogallagher commented on #4387
@cybercussion I have those errors also with ngx-device-detector

[2021-05-17 21:44] cybercussion commented on #4387
@damogallagher I attempted ```npm ci``` or just straight up removing node_modules but that didn't do it either.  I'm now wondering if this is the "ivy first" issue related to Angular 12 and I have to wait for these projects to patch.

[2021-05-18 00:18] nickarocho commented on #7565
Hi @mgm1313, just a quick update: I was able to reproduce the issue in my own sample app and I'm currently working on a fix in the source code. Thanks for your patience while we get this resolved, I'll keep you updated here as we implement a fix for the issue.

[2021-05-18 02:14] adampblack opened #8287 "Area code filtering/customisation on Amplify Components using formFields phone_number"
### Is this related to a new or existing framework?

React

### Is this related to a new or existing API?

Authentication

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

There are hundreds of area codes which make it difficult for users to choose one.

Some apps are only rolled out to a small number of countries.

Also some users may not kno

[2021-05-18 02:28] adampblack opened #8288 "Autofocus when switching between AmplifyAuthenticator child components (AmplifyConfirmSignUp, AmplifyForgotPassword, AmplifySignIn)"
### Is this related to a new or existing framework?

React

### Is this related to a new or existing API?

Authentication

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

Under each of the components I customise the form fields I want.
AmplifySignIn -> formFields
AmplifyForgotPassword -> formFields
AmplifyConfirmSignUp -> formFields
AmplifySi

[2021-05-18 03:29] adampblack opened #8289 "Password managers don't seem to auto-fill login credentials in AmplifyAuthenticator -> AmplifySignIn"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-18 06:20] bobbyhadz commented on #7570
@ericclemmons this bug persists even when using `@aws-amplify/auth` version `^4.0.0`. Here's my bundle for a next.js application:
![amplify-auth-bundle](https://user-images.githubusercontent.com/25652656/118600756-1475da00-b7ba-11eb-8c5c-04f7da2ad7ba.png)

The only amplify package I'm using is `@aws-amplify/auth` at version `^4.0.0`.

[2021-05-18 07:21] edoardo849 commented on #4387
The custom webpack doesn't work when compilng for production because it's version 4, so this is what's working for me now.

1. Install `@angular-builders/custom-webpack@12.0.0-beta.0` - this includes webpack 5
2. create `custom-webpack.config.js` in your root folder with the following in it:

[code]
3. In `angular.json`, replace the following:

[code]

[2021-05-18 08:04] rudyhadoux commented on #4387
This issue should not be closed.
It seems that last graphql-js packages are well configured for webpack 5.
Does Amplify use those last graphql-js packages ???

[2021-05-18 09:07] adamkowalczykB2M commented on #6760
Thanks for responding to this @hkjpotato !

I'm afraid I'm not working on code in this area at the moment, so I can't really verify our config.

If you are satisfied that the oauth provider gets passed in via the initial `Auth` configuration then I'm happy to take your word for it and for the issue to be closed.

[2021-05-18 11:47] suryateja77 commented on #7018
Hi, I have landed on the same issue, the onNotificationOpened never gets called on Android (I am using an actual device: Redmi 6A) whereas the onNotification method gets called as expected every time a notification is received when the app is in the background state or the foreground state. Is there any workaround to make the onNotificationOpened work?

Here is my code.

PushNotification.onNotific

[2021-05-18 13:26] berkaygurbuz opened #8292 "Auth.forgotPasswordSubmit returns undefined in Nuxt Vue"
Auth.forgotPasswordSubmit returns undefined when you call this function. When I looked at the documentation  [AWS-Amplify Authentication](https://docs.amplify.aws/lib/auth/manageusers/q/platform/js#change-password), I saw this code and it returns data.

[code]

 But when I run my code, it returns undefined. I noticed that the password has changed even though this code returns undefined. I am not s

[2021-05-18 15:18] iartemiev commented on #8284
The filter generated by the sync expression is expected to be wrapped in an `and` operator. The resolver looks for this operator in order to craft a DynamoDB query or scan expression.

Have you enabled DataStore on your API (`amplify api update -> GraphQL -> Enable DataStore for entire API`)?

If so, could you share the generated sync query resolver code here? You can find it in `./amplify/backend

[2021-05-18 15:26] sammartinez commented on #8242
Resolving as we have not heard from you in over a week. Please let us know if you are still looking for support for this issue and we can reopen. Thanks!

[2021-05-18 15:26] #8242 closed

[2021-05-18 15:32] sammartinez commented on #7276
@cptflammin,

We are going to close this issue since we have not heard from you.

Please let us know if you are still needing support, provide steps to reproduce, and we can reopen the issue to investigate further.

Thanks

[2021-05-18 15:32] #7276 closed

[2021-05-18 15:34] sammartinez commented on #7660
@juanlucky,

We are going to close this issue since we have not heard from you.

Please let us know if you are still needing support, provide steps to reproduce, and we can reopen the issue to investigate further.

Thanks

[2021-05-18 15:34] #7660 closed

[2021-05-18 15:35] sammartinez commented on #7679
@billzeng2k,

We are going to close this issue since we have not heard from you.

Please let us know if you are still needing support, provide steps to reproduce, and we can reopen the issue to investigate further.

Thanks

[2021-05-18 15:35] #7679 closed

[2021-05-18 15:36] sammartinez commented on #8218
@mspoulsen,

We are going to close this issue since we have not heard from you.

Please let us know if you are still needing support, provide steps to reproduce, and we can reopen the issue to investigate further.

Thanks

[2021-05-18 15:36] #8218 closed

[2021-05-18 15:52] sammartinez commented on #8165
@MiqueiasGFernandes,

We are going to close this issue since we have not heard from you.

Please let us know if you are still needing support, provide steps to reproduce, and we can reopen the issue to investigate further.

Thanks

[2021-05-18 15:52] #8165 closed

[2021-05-18 15:53] #8207 closed

[2021-05-18 15:53] sammartinez commented on #8058
@mwawrusch,

We are going to close this issue since we have not heard from you.

Please let us know if you are still needing support, provide steps to reproduce, and we can reopen the issue to investigate further.

Thanks

[2021-05-18 15:53] #8058 closed

[2021-05-18 15:53] sammartinez commented on #8036
@lifercode,

We are going to close this issue since we have not heard from you.

Please let us know if you are still needing support, provide steps to reproduce, and we can reopen the issue to investigate further.

Thanks

[2021-05-18 15:53] #8036 closed

[2021-05-18 15:54] sammartinez commented on #7682
With the above comment being that this issue is resolved, I am going to close this out. Please let us know if this is not the case and we can reopen the issue. Thanks

[2021-05-18 15:54] #7682 closed

[2021-05-18 16:01] chrisbonifacio commented on #6461
I hope things are going well! Let me know if you've been able to get past this issue yet.

[2021-05-18 16:01] sammartinez commented on #5782
https://github.com/aws-amplify/amplify-js/issues/8289

[2021-05-18 16:02] sammartinez commented on #8289
This seems to be a duplicate of https://github.com/aws-amplify/amplify-js/issues/5782. Please follow the other issue that is link regarding this. Resolving as a duplicate

[2021-05-18 16:02] #8289 closed

[2021-05-18 16:19] joebernard commented on #6181
@invzdev Were you ever able to find a satisfactory resolution to this? I'm seeing the same intermittent 403 error when uploading to S3 with `Storage.put` on `"aws-amplify": "3.3.27"`. Works 99% of the time but I'm still seeing many 403's.

[2021-05-18 16:28] crenacer commented on #6461
Hi @chrisbonifacio , I've used `@aws-sdk/client-cognito-identity-provider` with the same flow proposed by you and still getting this `Invalid session for the user.` in the same way as I did with Amplify.

Everything was good unless I call to VerifySoftwareToken using `Session` returned from InitAuth that is requiring "MFA_SETUP" challenge. I know it's not an Amplify's issue. Shall I report the iss

[2021-05-18 16:40] jamesaucode commented on #4734
Hello @enriqueavg , there's a PR currently being reviewed that will add support to this feature.

[2021-05-18 17:14] ericclemmons commented on #7570
Hmmm, I went to check out https://github.com/aws-amplify/amplify-js/tree/main/.github/actions/bundle-size-action/next and I'm seeing a regression in bundle-size:

[code]

[code]

### Last passing check

https://github.com/aws-amplify/amplify-js/actions/runs/838805594

### First failing check since then

https://github.com/aws-amplify/amplify-js/actions/runs/840277847

### Pinpointing the regressio

[2021-05-18 17:20] ericclemmons commented on #7570
I'm also having the same issue with https://github.com/aws-amplify/amplify-js/tree/main/.github/actions/bundle-size-action/cra:

[code]

[2021-05-18 17:44] nickarocho commented on #8220
Hi @alexung sorry to hear you are having issues retrieving the `oauth` data you once had in your `aws-exports.js` file. It indeed can be problematic since it is usually `git ignored`.

Have you tried running `amplify pull` from the root of your project directory? I just opened one of my sample apps locally, deleted the `aws-exports.js` contents, ran that command, and it pulled in the original data

[2021-05-18 18:16] iartemiev commented on #7570
@bobbyhadz this change in bundle size is due to our upgrading Amplify’s CryptoJS dependency from ^3.3.0 to 4.0.0 in order to remediate a security vulnerability. Please see https://github.com/aws-amplify/amplify-js/issues/8256 for additional context.

[2021-05-18 18:17] juancpgo commented on #3659
I'm currently facing the same dilemma. If you don't mind sharing, how did you end up deciding between SRP and PKCE, in terms of security and Amplify support?

[2021-05-18 18:53] yiweixia opened #8297 "Deployment fails when creating and setting permissions on new table in same commit"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-18 19:46] agoldis commented on #5655
End-users aren't aware of Amplify's internal terminology (and shouldn't be) and implementation. If a form mentions "email", the error message should mention "email".

I think that's called "customer obsession" in Amazon's dialect.

[2021-05-18 20:20] #6249 closed

[2021-05-18 20:22] sammartinez commented on #4890
@LBPlayer,

We are going to close this issue since we have not heard from you.

Please let us know if you are still needing support, provide steps to reproduce, and we can reopen the issue to investigate further.

Thanks

[2021-05-18 20:22] #4890 closed

[2021-05-18 20:27] mauerbac commented on #7929
We are going to close this issue since we have not heard from you.

Please let us know if you are still needing support, provide steps to reproduce, and we can reopen the issue to investigate further.

Thanks

[2021-05-18 20:27] #7929 closed

[2021-05-18 20:29] joshlongbrake opened #8299 "Amplify Preview builds are creating duplicated DynamoDB tables and new Cognito Userpools"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-18 20:46] hkjpotato commented on #6760
@adamkowalczykB2M no problem! I will close it for now and we can reopen it if you find any other concern. Thank you.

[2021-05-18 20:46] #6760 closed

[2021-05-18 20:46] agoldis opened #8300 "Creating a new account takes back to sign-in"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-18 22:44] sacrampton commented on #8285
It would appear that I have to manually add the following code to the schema.js file then it works fine. Problem is that I have 165 connections like this - that is 165 manual entries every time I change the model. Can amplify codegen models just include this field?

[code]

[2021-05-18 23:33] nickarocho commented on #7565
@mgm1313 I've merged a fix into `main` which will now allow you to explicitly set the value of any optional field in your model to `undefined`. Under the hood, we catch that declaration and coerce it into `null`, which (thanks to you!) we now know will let the value persist.

Thanks for your input and helping us make our library stronger 💪 Please feel free to reach out if you have any further ques

[2021-05-18 23:33] #7565 closed

[2021-05-19 01:52] sacrampton commented on #8285
Further discovery here. I have two connections like this in my schema.graphql

[code]

In the schema.js that is generated by amplify codegen models it generates an association with connectionType as follows for the above two connections:
"connectionType": "BELONGS_TO"
"connectionType": "HAS_ONE"

If the connectionType is "BELONGS_TO" then "characteristicValuePlantId" field is not created. But if t

[2021-05-19 05:22] marziamura commented on #7679
@billzeng2k  I didn't reply because every time I update amplify version something goes belly up, so I needed to set aside some time. I did it yesterday (and things did break big time), but unfortunately the problem still persists.

[2021-05-19 12:09] edu-zamora opened #8302 "Federated sign in with Sign In With Apple fails because invalid scopes when more than one scope required"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-05-19 12:33] iartemiev commented on #8285
Hey @sacrampton , in your issue description there seems to be a typo, so I just want to clarify.
You have `plant: Plant @connection (field: "assetPlantId")` with a `field` param, but it needs to be `fields` (plural) with an array as the value. When testing model generation with the schema in your example and the corrected syntax,

[code]

I get the following generated schema for the model (`assetP

[2021-05-19 12:34] iartemiev commented on #8285
I'd also make sure that you're using a recent version of the Amplify CLI with [this feature flag](https://docs.amplify.aws/cli/reference/feature-flags#useAppsyncModelgenPlugin) set to `true`, as this will enable a bug fix for deleting Has One relationships (related issue: https://github.com/aws-amplify/amplify-js/issues/6560)

[2021-05-19 12:43] edu-zamora commented on #8302
For the record, if I uncheck one of the scopes (either Email or Name, it does not matter which one) for the Sign In With Apple Identify Provider from the Cognito console, the Apple ID sign in page loads successfully.

<img width="1229" alt="sign-in-with-apple-one-scope" src="https://user-images.githubusercontent.com/129863/118813930-eb377580-b8af-11eb-8a5f-6d11d2c5951c.png">
<img width="1039" alt=

[2021-05-19 13:08] Steve-OH opened #8303 "Disable automatic token fetch?"
### Is this related to a new or existing framework?

_No response_

### Is this related to a new or existing API?

Authentication

### Is this related to another service?

Cognito

### Describe the feature you'd like to request

Scenario: I have a SPA using hash routing that I'd like to authenticate to two different OIDC auth services, one of which is Cognito. Because the app uses hash routing, th

[2021-05-19 13:43] Jpoliachik opened #8304 "Allow Custom UserAgent for React Native"
### Is this related to a new or existing framework?

React Native

### Is this related to a new or existing API?

Authentication

### Is this related to another service?

Cognito

### Describe the feature you'd like to request

Currently, the UserAgent header supplied in requests is static "aws-amplify/0.1.x react-native".

This is not a helpful UserAgent to sufficiently identify the device making

[2021-05-19 14:46] mauerbac commented on #6578
Hey @KristineTrona - sorry for the delay here. Let us know if you are still looking for support here.

[2021-05-19 14:49] mauerbac commented on #7625
Need to transfer to AWS Labs Appsync @sammartinez

[2021-05-19 14:49] #7625 closed

[2021-05-19 14:50] mauerbac commented on #6729
Hey @hkjpotato - can you take a look?

[2021-05-19 14:52] mauerbac commented on #7921
Hey @johanlantz , coming back to this issue. Thanks for the feedback here. If you are still experiencing an issue please open a new issue.

[2021-05-19 14:52] #7921 closed

[2021-05-19 14:53] Jpoliachik commented on #8304
I have also tried:
[code]
prior to `Auth.signIn()`, but this seems to have no effect.

[2021-05-19 14:56] mauerbac commented on #6749
hey @enrique-gil-vessi - coming back to this issue. Sorry for the delay. We have [documentation on Lambda Triggers](https://docs.amplify.aws/cli/usage/lambda-triggers#cognito-lambda-triggers) with Cognito -- this should help with your use case. Please open a new issue if you run into problems. Thanks

[2021-05-19 14:56] #6749 closed

[2021-05-19 14:58] mauerbac commented on #6865
Sorry for the delay here. Will add urgency to the PR here. Thank you

[2021-05-19 15:01] sammartinez commented on #6868
Thanks for reporting this @ngault, @nickarocho can we look at this bug and see about the upgrade path?

[2021-05-19 15:06] mauerbac commented on #6906
@agileurbanite - can this be handled as a bug by your team?

[2021-05-19 15:12] mauerbac commented on #6991
@ericclemmons / @wlee221 - please triage this and remove the label

[2021-05-19 15:17] sammartinez commented on #7051
@evcodes can you validate this with the work you are doing with Device tracking?

[2021-05-19 15:17] mauerbac commented on #7066
hey @chrisbonifacio - can you take a look at reproducing this? It could be a docs issues as well

[2021-05-19 15:18] KristineTrona commented on #6578
@mauerbac I've checked in a different app that I am working on using ` "aws-amplify": "^3.2.0"` and the issue is not present there, so whatever it was is either fixed by now or specific to that userpool. I think this issue can be closed.

[2021-05-19 15:23] mauerbac commented on #7073
Apologies on the late response here. Going through old issues. If this is still occurring, please re-open the issue and tag us.

[2021-05-19 15:23] #7073 closed

[2021-05-19 15:27] mauerbac commented on #7074
Sorry for the delay in responding to this feedback. This was removed [here](https://github.com/aws/aws-sdk-js-v3/#configuration). In version 3.x.x, due to credentials within the AWS SDK.

[2021-05-19 15:27] #7074 closed

[2021-05-19 15:42] sammartinez commented on #7142
@reggie3 I cannot reproduce this, I also see that you are on older versions of `aws-amplify` can you try this on the latest version? I am going to resolve this as we can't reproduce this. Please let us know if you are still experiencing this on the latest versions and we can reopen. Thanks!

[2021-05-19 15:42] #7142 closed

[2021-05-19 15:57] sammartinez commented on #7188
This would be a feature request for us to have Typescript work in strict mode. Thanks for this feedback!

[2021-05-19 16:00] sammartinez commented on #7081
@ericclemmons / @wlee221 / @ErikCH Is this an issue? Can one of you confirm?

[2021-05-19 16:05] sammartinez commented on #7085
Hey @sravimohan, sorry for the delay. This is correct that `aws-amplify` does tree shake on production builds. As you have found the working code, I am going to resolve this issue. Please let us know if this is not the case and we can reopen

[2021-05-19 16:05] #7085 closed

[2021-05-19 16:23] ericclemmons commented on #6991
We'd need to understand this flow better. Do you have a video of it as well?

I was able to Sign in with Google on https://topic.ogmo.xyz/ successfully, but of course this isn't the exact flow you describe.

What URL is this?

Redirect back to what URL, exactly?

Because, if Shopify is _also sending a `?code`_ to that page, that would explain why Amplify thinks it's a Cognito authentication code.

[2021-05-19 16:41] sammartinez commented on #7089
@manueliglesias any insight on this?

[2021-05-19 16:54] sammartinez commented on #7229
@nickarocho can you look at this one when you get a chance?

[2021-05-19 16:55] manueliglesias commented on #7089
Hi @zjullion

Are you still experiencing this issue? I took a quick look at the code you pointed out and I can see that the details of the original error are not logged and details are lost. If you still see this behavior, do you see anything useful you can share with us in the network tab or the console?

[2021-05-19 17:11] ericclemmons commented on #7824
Can you share more code on how to reproduce or see this behavior?  For starters, it sounds like `Auth. currentAuthenticatedUser()` is correct on both client & server, but `API.graphql` is missing `email`.  How could I reproduce & see that?

There's been testing to validate that `Auth` & `API` work as expected with SSR, but it seems like there's more nuanced behavior that hasn't been validated.

[2021-05-19 17:11] #7240 closed

[2021-05-19 17:14] mauerbac commented on #7254
Sorry for the delay here. I'm reviewing previous issues -- if you are still experiencing an issue, please create a new issue

[2021-05-19 17:14] #7254 closed

[2021-05-19 17:17] mauerbac commented on #7255
@ericclemmons , can you take a look at this ? ❤️

[2021-05-19 17:18] #7291 closed

[2021-05-19 17:19] sammartinez commented on #7291
Hey @strange1120,

Apologizes on the delay and hearing that you have moved on to use Cloudinary. Let us know if there is anything we can do even though you have moved on to use something else. Thanks

[2021-05-19 17:25] ericclemmons commented on #7255
@mauerbac I have (https://github.com/aws-amplify/amplify-js/issues/7255#issuecomment-733268674), but couldn't reach a resolution that **didn't** break Create React App.

I did see that Next.js includes `url` polyfills, so that could be responsible for the difference in behavior.

We may need a different implementation entirely than what I tried before.  Perhaps using what the customer provided wit

[2021-05-19 17:29] nickarocho commented on #6578
Thanks for verifying @KristineTrona. I'll close the issue now but if you notice this happening again please feel free to reopen and let us know.

[2021-05-19 17:29] #6578 closed

[2021-05-19 17:34] simlevesque commented on #7499
I get the same error, this seems to me like it's a StencilJS error.

[2021-05-19 17:43] chrisbonifacio commented on #7314
If you need to call the real service in order to test Auth, we recommend doing so through e2e tests with a framework such as Cypress. Unit testing the Auth library would only work in a node testing environment but since Amplify is intended to be a front end tool, the jest environment is probably best set to 'jsdom' in order to unit test your components.

In that case, you should be mocking the Aut

[2021-05-19 17:43] #7314 closed

[2021-05-19 17:50] doahuang opened #8306 "Datastore supporting batch create or update?"
### Is this related to a new or existing framework?

React

### Is this related to a new or existing API?

DataStore

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

I'm wondering if Datastore plans to support batch create or update in the near future.
Currently to create or update multiple items I'm using a loop
[code]

### Describe the solu

[2021-05-19 17:52] mauerbac commented on #7341
Hey - sorry for the delay. After reading through it, are you able to upgrade to latest and confirm it's still an issue?

[2021-05-19 17:53] #7353 closed

[2021-05-19 17:59] sammartinez commented on #7350
Hey @Caoimhin89, This seems to be related to Amazon Cognito specifically instead of Amplify JavaScript. Amplify JavaScript acts as a proxy to Amazon Cognito. We suggest you open an issue via the [AWS Forums for Cognito](https://forums.aws.amazon.com/forum.jspa?forumID=173).

Thanks,
Amplify team

[2021-05-19 17:59] #7350 closed

[2021-05-19 18:05] medelman17 commented on #7416
Hi, @ChandranshuKumar! Our recommendation is to use `Amplify.configure` and only `Amplify.configure`. Let me know if there's a use case where this won't work for you.

[2021-05-19 18:05] #7416 closed

[2021-05-19 18:07] chrisbonifacio commented on #8152
Hey @Mikilll94 , This seems to be related to Amazon Cognito specifically instead of Amplify JavaScript. Amplify JavaScript acts as a proxy to Amazon Cognito. We suggest you open an issue via the [AWS Forums for Cognito](https://forums.aws.amazon.com/forum.jspa?forumID=173).

Thanks,
Amplify team

[2021-05-19 18:07] #8152 closed

[2021-05-19 18:08] mauerbac commented on #7361
This is expected behavior and I've shared the feedback with the UI team. Please feel free to open a new issue with future concerns.

[2021-05-19 18:08] #7361 closed

[2021-05-19 18:10] mauerbac commented on #7434
Haven't heard back from customer. Will close. Please open a new issue if you have future concerns.

[2021-05-19 18:10] #7434 closed

[2021-05-19 18:13] mauerbac commented on #7461
Hey @amhinson - can you have Kaleb look at this asap?

[2021-05-19 18:20] sammartinez commented on #7549
@iartemiev Any feedback on this?

[2021-05-19 18:20] #7549 closed

[2021-05-19 18:22] mauerbac commented on #7572
@manueliglesias  - can you take a look?

[2021-05-19 18:24] mauerbac commented on #7574
Sorry for the delay. Linking to https://github.com/aws-amplify/amplify-js/issues/6419

[2021-05-19 18:24] #7574 closed

[2021-05-19 19:08] mauerbac commented on #8292
@medelman17 , could you take a quick look and confirm the docs are ok?

[2021-05-19 19:16] sammartinez commented on #7615
@evcodes Wasn't there a similar issue you were looking at related to this?

[2021-05-19 19:19] mauerbac commented on #7630
Hi @hisham - sorry for the delayed follow -up. After reviewing your request, I can confirm it's something we do not support today. Switching to a feature requests for our team to review. Thank you

[2021-05-19 19:21] mauerbac commented on #7669
@raullm7 - it seems our team still needs help reproducing this issue. Are you able to provide more steps ? Or provide a short screencast ?

[2021-05-19 19:36] #7670 closed

[2021-05-19 19:39] justingrant commented on #7229
BTW, I didn't have time to PR a fix to this. If I remember correctly, there was some limitation in typing that was easier to work around when it was a separate, typed package. It's possible that someone with better TS skills than me can figure out how to do it without a separate package, though.

[2021-05-19 19:44] mauerbac commented on #7680
@Niraj-Kamdar - taking a look now. Sorry for the delay. Would you be able to send clear steps on how to reproduce this list? We are having issues identifying this error. To start, could you include your `package.json` along with your environment settings?

Please use the follow command:
[code]

Thanks ahead of time!
[code]

[2021-05-19 19:50] wlee221 commented on #7081
Looking into this now -- sorry about the delay. I was unable to reproduce this with the latest `@aws-amplify/ui-react`. But I completely agree with @jmannau's research that code snippet is what would trigger this issue.

The intended flow is that on your first hosted ui login, Amplify will remove the `REDIRECTED_FROM_HOSTED_UI`:

[code]

So on subsequent reloads, `byHostedUI` will be false and `th

[2021-05-19 19:53] wlee221 commented on #7081
Are you still experiencing this issue on the latest `@aws-amplify/ui-[framework]`? If so, can you provide us with a reproducible sample?

[2021-05-19 19:54] UXDart opened #8310 "IndexedDBAdapter with custom dbName"
### Is this related to a new or existing framework?

React

### Is this related to a new or existing API?

DataStore

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

allow to define the dbName to be used in IndexedDBAdapter / allow to stop change start new usages of the adapter

### Describe the solution you'd like

I want to use the actual

[2021-05-19 19:58] chrisbonifacio commented on #6461
Yeah, opening an issue on the sdk repo should help to get a second look/opinion on what might be going on here. You can link them to this issue as well so they can get the context from our conversation.

I'll close this issue for now since it doesn't seem actionable on our side.

[2021-05-19 19:58] #6461 closed

[2021-05-19 20:04] zjullion commented on #7089
Sorry @manueliglesias, this was likely a one-off error, and was so long ago that most of our logs have expired.

I have seen some `Error: com.amazonaws.deepdish.graphql.auth#UnauthorizedException` in November / December, with a stack trace of

[code]

Unfortunately, there's nothing I can do to get info from the network tab - these are very rare errors that happen to users of our app - we developer